openapi: 3.1.0
info:
  title: Microsoft Azure Azure Kubernetes Service (AKS) API
  description: >-
    Azure Kubernetes Service (AKS) simplifies deploying a managed Kubernetes
    cluster in Azure by offloading the operational overhead to Azure. As a hosted
    Kubernetes service, Azure handles critical tasks like health monitoring and
    maintenance. The REST API provides operations for managing AKS clusters,
    agent pools (node pools), maintenance configurations, and managed cluster
    snapshots, enabling developers to automate Kubernetes infrastructure
    management.
  version: '2024-02-01'
  contact:
    name: Microsoft Azure Support
    url: https://azure.microsoft.com/en-us/support/
    email: azuresupport@microsoft.com
  license:
    name: Microsoft API License
    url: https://learn.microsoft.com/en-us/legal/
  x-logo:
    url: https://azure.microsoft.com/svghandler/azure-logo.png
servers:
  - url: https://management.azure.com
    description: Azure Resource Manager endpoint
security:
  - oauth2:
      - https://management.azure.com/.default
tags:
  - name: Managed Clusters
    description: Operations for managing AKS clusters
  - name: Agent Pools
    description: Operations for managing node pools within a cluster
  - name: Maintenance Configurations
    description: Operations for managing maintenance windows
  - name: Operations
    description: Operations available for Microsoft.ContainerService
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.ContainerService/managedClusters:
    get:
      operationId: ManagedClusters_List
      summary: Microsoft Azure List managed clusters
      description: Gets a list of managed clusters in the specified subscription.
      tags:
        - Managed Clusters
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully returned the list of managed clusters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedClusterListResult'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters:
    get:
      operationId: ManagedClusters_ListByResourceGroup
      summary: Microsoft Azure List managed clusters by resource group
      description: Lists managed clusters in the specified subscription and resource group.
      tags:
        - Managed Clusters
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully returned the list of managed clusters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedClusterListResult'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}
  : get:
      operationId: ManagedClusters_Get
      summary: Microsoft Azure Get a managed cluster
      description: Gets a managed cluster.
      tags:
        - Managed Clusters
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully returned the managed cluster.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedCluster'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
    put:
      operationId: ManagedClusters_CreateOrUpdate
      summary: Microsoft Azure Create or update a managed cluster
      description: >-
        Creates or updates a managed cluster. The operation is long-running and
        returns a 201 status code when the cluster is being created.
      tags:
        - Managed Clusters
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedCluster'
      responses:
        '200':
          description: Successfully updated the managed cluster.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedCluster'
        '201':
          description: The managed cluster is being created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedCluster'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
    patch:
      operationId: ManagedClusters_Update
      summary: Microsoft Azure Update tags on a managed cluster
      description: Updates tags on a managed cluster.
      tags:
        - Managed Clusters
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
      responses:
        '200':
          description: Successfully updated the managed cluster.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedCluster'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
    delete:
      operationId: ManagedClusters_Delete
      summary: Microsoft Azure Delete a managed cluster
      description: Deletes a managed cluster.
      tags:
        - Managed Clusters
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '202':
          description: Accepted. The managed cluster is being deleted.
        '204':
          description: The managed cluster does not exist.
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/listClusterAdminCredential
  : post:
      operationId: ManagedClusters_ListClusterAdminCredentials
      summary: Microsoft Azure List cluster admin credentials
      description: >-
        Lists the admin credentials of a managed cluster.
      tags:
        - Managed Clusters
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully returned the admin credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialResults'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/agentPools
  : get:
      operationId: AgentPools_List
      summary: Microsoft Azure List agent pools
      description: Gets a list of agent pools in the specified managed cluster.
      tags:
        - Agent Pools
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully returned the list of agent pools.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentPoolListResult'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/agentPools/{agentPoolName}
  : get:
      operationId: AgentPools_Get
      summary: Microsoft Azure Get an agent pool
      description: Gets the specified managed cluster agent pool.
      tags:
        - Agent Pools
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - name: agentPoolName
          in: path
          required: true
          description: The name of the agent pool.
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully returned the agent pool.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentPool'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
    put:
      operationId: AgentPools_CreateOrUpdate
      summary: Microsoft Azure Create or update an agent pool
      description: Creates or updates an agent pool in the specified managed cluster.
      tags:
        - Agent Pools
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - name: agentPoolName
          in: path
          required: true
          description: The name of the agent pool.
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentPool'
      responses:
        '200':
          description: Successfully updated the agent pool.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentPool'
        '201':
          description: The agent pool is being created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentPool'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
    delete:
      operationId: AgentPools_Delete
      summary: Microsoft Azure Delete an agent pool
      description: Deletes an agent pool in the specified managed cluster.
      tags:
        - Agent Pools
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - name: agentPoolName
          in: path
          required: true
          description: The name of the agent pool.
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '202':
          description: Accepted. The agent pool is being deleted.
        '204':
          description: The agent pool does not exist.
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            https://management.azure.com/.default: Access Azure Resource Manager
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        format: uuid
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ResourceNameParameter:
      name: resourceName
      in: path
      required: true
      description: The name of the managed cluster resource.
      schema:
        type: string
        minLength: 1
        maxLength: 63
        pattern: '^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$'
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
        default: '2024-02-01'
  schemas:
    ManagedCluster:
      type: object
      description: Managed cluster resource.
      properties:
        id:
          type: string
          readOnly: true
          description: Resource ID.
        name:
          type: string
          readOnly: true
          description: Resource name.
        type:
          type: string
          readOnly: true
          description: Resource type.
        location:
          type: string
          description: The geo-location where the resource lives.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
        sku:
          $ref: '#/components/schemas/ManagedClusterSKU'
        identity:
          $ref: '#/components/schemas/ManagedClusterIdentity'
        properties:
          $ref: '#/components/schemas/ManagedClusterProperties'
      required:
        - location
    ManagedClusterProperties:
      type: object
      description: Properties of a managed cluster.
      properties:
        provisioningState:
          type: string
          readOnly: true
          description: The current provisioning state.
        powerState:
          type: object
          readOnly: true
          properties:
            code:
              type: string
              enum:
                - Running
                - Stopped
        kubernetesVersion:
          type: string
          description: The version of Kubernetes specified by the user.
        currentKubernetesVersion:
          type: string
          readOnly: true
          description: The current version of Kubernetes running on the cluster.
        dnsPrefix:
          type: string
          description: This cannot be updated once the managed cluster has been created.
        fqdn:
          type: string
          readOnly: true
          description: The FQDN of the master pool.
        fqdnSubdomain:
          type: string
          description: The FQDN subdomain.
        agentPoolProfiles:
          type: array
          description: The agent pool properties.
          items:
            $ref: '#/components/schemas/ManagedClusterAgentPoolProfile'
        linuxProfile:
          type: object
          description: The profile for Linux VMs.
          properties:
            adminUsername:
              type: string
              description: The administrator username to use for Linux VMs.
              pattern: '^[A-Za-z][-A-Za-z0-9_]*$'
            ssh:
              type: object
              properties:
                publicKeys:
                  type: array
                  items:
                    type: object
                    properties:
                      keyData:
                        type: string
                        description: Certificate public key (SSH RSA public key).
              required:
                - publicKeys
          required:
            - adminUsername
            - ssh
        windowsProfile:
          type: object
          description: The profile for Windows VMs.
          properties:
            adminUsername:
              type: string
              description: The administrator username for Windows VMs.
            adminPassword:
              type: string
              format: password
              description: The administrator password for Windows VMs.
            licenseType:
              type: string
              enum:
                - None
                - Windows_Server
          required:
            - adminUsername
        servicePrincipalProfile:
          type: object
          description: Information about the service principal identity for the cluster.
          properties:
            clientId:
              type: string
              description: The ID for the service principal.
            secret:
              type: string
              format: password
              description: The secret password associated with the service principal.
          required:
            - clientId
        addonProfiles:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ManagedClusterAddonProfile'
          description: The profile of managed cluster add-on.
        nodeResourceGroup:
          type: string
          description: The name of the resource group containing agent pool nodes.
        enableRBAC:
          type: boolean
          description: Whether to enable Kubernetes RBAC.
        enablePodSecurityPolicy:
          type: boolean
          description: Whether to enable Kubernetes pod security policy (deprecated).
        networkProfile:
          $ref: '#/components/schemas/ContainerServiceNetworkProfile'
        aadProfile:
          $ref: '#/components/schemas/ManagedClusterAADProfile'
        autoScalerProfile:
          type: object
          description: Parameters to be applied to the cluster autoscaler.
          properties:
            balance-similar-node-groups:
              type: string
            expander:
              type: string
              enum:
                - least-waste
                - most-pods
                - priority
                - random
            max-empty-bulk-delete:
              type: string
            max-graceful-termination-sec:
              type: string
            max-node-provision-time:
              type: string
            max-total-unready-percentage:
              type: string
            new-pod-scale-up-delay:
              type: string
            ok-total-unready-count:
              type: string
            scan-interval:
              type: string
            scale-down-delay-after-add:
              type: string
            scale-down-delay-after-delete:
              type: string
            scale-down-delay-after-failure:
              type: string
            scale-down-unneeded-time:
              type: string
            scale-down-unready-time:
              type: string
            scale-down-utilization-threshold:
              type: string
            skip-nodes-with-local-storage:
              type: string
            skip-nodes-with-system-pods:
              type: string
        apiServerAccessProfile:
          type: object
          description: Access profile for managed cluster API server.
          properties:
            authorizedIPRanges:
              type: array
              items:
                type: string
              description: IP ranges authorized to access the Kubernetes API server.
            enablePrivateCluster:
              type: boolean
              description: Whether to create the cluster as a private cluster.
            privateDNSZone:
              type: string
              description: The private DNS zone mode for the cluster.
            enablePrivateClusterPublicFQDN:
              type: boolean
              description: Whether to create additional public FQDN for the private cluster.
        diskEncryptionSetID:
          type: string
          description: The resource ID of the disk encryption set.
    ManagedClusterAgentPoolProfile:
      type: object
      description: Profile for the container service agent pool.
      properties:
        name:
          type: string
          description: >-
            Unique name of the agent pool profile in the context of the
            subscription and resource group.
          pattern: '^[a-z][a-z0-9]{0,11}$'
        count:
          type: integer
          description: Number of agents (VMs) to host docker containers.
        vmSize:
          type: string
          description: The size of the agent VMs.
        osDiskSizeGB:
          type: integer
          minimum: 0
          maximum: 2048
          description: OS disk size in GB for the agent pool VMs.
        osDiskType:
          type: string
          enum:
            - Managed
            - Ephemeral
          description: The OS disk type to be used for machines in the agent pool.
        osType:
          type: string
          enum:
            - Linux
            - Windows
          default: Linux
          description: The operating system type.
        osSKU:
          type: string
          enum:
            - Ubuntu
            - AzureLinux
            - CBLMariner
            - Windows2019
            - Windows2022
          description: Specifies the OS SKU.
        maxPods:
          type: integer
          description: The maximum number of pods that can run on a node.
        mode:
          type: string
          enum:
            - System
            - User
          description: The mode of an agent pool.
        type:
          type: string
          enum:
            - VirtualMachineScaleSets
            - AvailabilitySet
          default: VirtualMachineScaleSets
          description: The type of agent pool.
        availabilityZones:
          type: array
          items:
            type: string
          description: >-
            The list of availability zones to use for nodes (e.g., ["1", "2", "3"]).
        enableAutoScaling:
          type: boolean
          description: Whether to enable auto-scaler.
        minCount:
          type: integer
          description: The minimum number of nodes for auto-scaling.
        maxCount:
          type: integer
          description: The maximum number of nodes for auto-scaling.
        nodeLabels:
          type: object
          additionalProperties:
            type: string
          description: The node labels to be persisted across all nodes in the agent pool.
        nodeTaints:
          type: array
          items:
            type: string
          description: The taints added to new nodes during node pool create and scale.
        upgradeSettings:
          type: object
          description: Settings for upgrading the agentpool.
          properties:
            maxSurge:
              type: string
              description: >-
                The maximum number or percentage of nodes that are surged during
                upgrade (e.g., "1" or "33%").
      required:
        - name
    ManagedClusterSKU:
      type: object
      description: The SKU of a managed cluster.
      properties:
        name:
          type: string
          enum:
            - Base
          description: The name of the managed cluster SKU.
        tier:
          type: string
          enum:
            - Premium
            - Standard
            - Free
          description: The tier of the managed cluster SKU.
    ManagedClusterIdentity:
      type: object
      description: Identity for the managed cluster.
      properties:
        principalId:
          type: string
          readOnly: true
          description: The principal ID of the system-assigned identity.
        tenantId:
          type: string
          readOnly: true
          description: The tenant ID of the system-assigned identity.
        type:
          type: string
          enum:
            - SystemAssigned
            - UserAssigned
            - None
          description: The type of identity used.
        userAssignedIdentities:
          type: object
          additionalProperties:
            type: object
            properties:
              principalId:
                type: string
                readOnly: true
              clientId:
                type: string
                readOnly: true
    ManagedClusterAddonProfile:
      type: object
      description: A Kubernetes add-on profile for a managed cluster.
      properties:
        enabled:
          type: boolean
          description: Whether the add-on is enabled.
        config:
          type: object
          additionalProperties:
            type: string
          description: Key-value pairs for configuring an add-on.
        identity:
          type: object
          readOnly: true
          properties:
            resourceId:
              type: string
            clientId:
              type: string
            objectId:
              type: string
      required:
        - enabled
    ContainerServiceNetworkProfile:
      type: object
      description: Profile of network configuration.
      properties:
        networkPlugin:
          type: string
          enum:
            - azure
            - kubenet
            - none
          default: kubenet
          description: Network plugin used for building the Kubernetes network.
        networkPluginMode:
          type: string
          enum:
            - overlay
          description: The mode the network plugin should use.
        networkPolicy:
          type: string
          enum:
            - calico
            - azure
            - cilium
          description: Network policy used for building the Kubernetes network.
        networkDataplane:
          type: string
          enum:
            - azure
            - cilium
          description: The network dataplane used in the Kubernetes cluster.
        podCidr:
          type: string
          default: 10.244.0.0/16
          description: A CIDR notation IP range from which to assign pod IPs.
        serviceCidr:
          type: string
          default: 10.0.0.0/16
          description: A CIDR notation IP range from which to assign service cluster IPs.
        dnsServiceIP:
          type: string
          default: 10.0.0.10
          description: An IP address assigned to the Kubernetes DNS service.
        loadBalancerSku:
          type: string
          enum:
            - standard
            - basic
          default: standard
          description: The load balancer sku for the managed cluster.
        outboundType:
          type: string
          enum:
            - loadBalancer
            - userDefinedRouting
            - managedNATGateway
            - userAssignedNATGateway
          default: loadBalancer
          description: The outbound (egress) routing method.
    ManagedClusterAADProfile:
      type: object
      description: AAD profile for the managed cluster.
      properties:
        managed:
          type: boolean
          description: Whether to enable managed AAD.
        enableAzureRBAC:
          type: boolean
          description: Whether to enable Azure RBAC for Kubernetes authorization.
        adminGroupObjectIDs:
          type: array
          items:
            type: string
          description: The list of AAD group object IDs for cluster admin role.
        tenantID:
          type: string
          description: The AAD tenant ID for authentication.
    ManagedClusterListResult:
      type: object
      description: The response from the List Managed Clusters operation.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ManagedCluster'
          description: The list of managed clusters.
        nextLink:
          type: string
          readOnly: true
          description: The URL to get the next page of managed clusters.
    AgentPool:
      type: object
      description: Agent pool resource.
      properties:
        id:
          type: string
          readOnly: true
          description: Resource ID.
        name:
          type: string
          readOnly: true
          description: Resource name.
        type:
          type: string
          readOnly: true
          description: Resource type.
        properties:
          $ref: '#/components/schemas/ManagedClusterAgentPoolProfile'
    AgentPoolListResult:
      type: object
      description: The response from the List Agent Pools operation.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/AgentPool'
          description: The list of agent pools.
        nextLink:
          type: string
          readOnly: true
          description: The URL to get the next set of agent pool results.
    CredentialResults:
      type: object
      description: The list of credential result response.
      properties:
        kubeconfigs:
          type: array
          readOnly: true
          items:
            type: object
            properties:
              name:
                type: string
                readOnly: true
                description: The name of the credential.
              value:
                type: string
                format: byte
                readOnly: true
                description: Base64-encoded Kubernetes config file.
          description: The list of kubeconfigs.
    CloudError:
      type: object
      description: An error response from the Container service.
      properties:
        error:
          type: object
          description: Details about the error.
          properties:
            code:
              type: string
              description: An identifier for the error.
            message:
              type: string
              description: A message describing the error.
            target:
              type: string
              description: The target of the particular error.
            details:
              type: array
              items:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  target:
                    type: string
              description: A list of additional details about the error.
