openapi: 3.1.0
info:
  title: Microsoft Azure Azure Cognitive Services Management API
  description: >-
    Azure Cognitive Services (now Azure AI services) provides REST APIs and
    client library SDKs for adding cognitive capabilities to applications. This
    management API enables programmatic operations to manage Cognitive Services
    accounts, including creating, updating, deleting, and listing accounts,
    managing keys, listing available SKUs, and checking name availability. It
    serves as the control plane for all Azure Cognitive Services resources.
  version: '2024-04-01-preview'
  contact:
    name: Microsoft Azure Support
    url: https://azure.microsoft.com/en-us/support/
    email: azuresupport@microsoft.com
  license:
    name: Microsoft API License
    url: https://learn.microsoft.com/en-us/legal/
  x-logo:
    url: https://azure.microsoft.com/svghandler/azure-logo.png
servers:
- url: https://management.azure.com
  description: Azure Resource Manager endpoint
security:
- oauth2:
  - https://management.azure.com/.default
tags:
- name: Accounts
  description: Operations for managing Cognitive Services accounts
- name: Deployments
  description: Operations for managing model deployments
- name: Models
  description: Operations for listing available models
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.CognitiveServices/accounts:
    get:
      operationId: Accounts_List
      summary: Microsoft Azure List Cognitive Services Accounts
      description: Returns all the Cognitive Services accounts in a subscription.
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully returned the list of accounts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountListResult'
              examples:
                AccountsList200Example:
                  summary: Default Accounts_List 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - id: abc123
                      name: Example Title
                      type: example_value
                      etag: example_value
                      kind: example_value
                      location: example_value
                      tags: example_value
                    nextLink: example_value
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                AccountsListdefaultExample:
                  summary: Default Accounts_List default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
                      additionalInfo:
                      - type: example_value
                        info: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts:
    get:
      operationId: Accounts_ListByResourceGroup
      summary: Microsoft Azure List Accounts by Resource Group
      description: >-
        Returns all Cognitive Services accounts in a resource group.
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully returned the list of accounts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountListResult'
              examples:
                AccountsListbyresourcegroup200Example:
                  summary: Default Accounts_ListByResourceGroup 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - id: abc123
                      name: Example Title
                      type: example_value
                      etag: example_value
                      kind: example_value
                      location: example_value
                      tags: example_value
                    nextLink: example_value
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                AccountsListbyresourcegroupdefaultExample:
                  summary: Default Accounts_ListByResourceGroup default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
                      additionalInfo:
                      - type: example_value
                        info: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}
  : get:
      operationId: Accounts_Get
      summary: Microsoft Azure Get a Cognitive Services Account
      description: Returns a Cognitive Services account specified by the parameters.
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully returned the account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
              examples:
                AccountsGet200Example:
                  summary: Default Accounts_Get 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    type: example_value
                    etag: example_value
                    kind: example_value
                    sku:
                      name: Example Title
                      tier: Free
                    identity:
                      principalId: '500123'
                      tenantId: '500123'
                      type: None
                      userAssignedIdentities: example_value
                    location: example_value
                    tags: example_value
                    properties:
                      provisioningState: Accepted
                      endpoint: example_value
                      endpoints: example_value
                      capabilities:
                      - {}
                      isMigrated: true
                      dateCreated: example_value
                      customSubDomainName: example_value
                      publicNetworkAccess: Enabled
                      disableLocalAuth: true
                      restrictOutboundNetworkAccess: true
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                AccountsGetdefaultExample:
                  summary: Default Accounts_Get default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
                      additionalInfo:
                      - type: example_value
                        info: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: Accounts_Create
      summary: Microsoft Azure Create or Update a Cognitive Services Account
      description: >-
        Creates a Cognitive Services account. Accounts is a resource group wide
        resource type. It holds the keys for developer to access intelligent APIs.
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
            examples:
              AccountsCreateRequestExample:
                summary: Default Accounts_Create request
                x-microcks-default: true
                value:
                  id: abc123
                  name: Example Title
                  type: example_value
                  etag: example_value
                  kind: example_value
                  sku:
                    name: Example Title
                    tier: Free
                  identity:
                    principalId: '500123'
                    tenantId: '500123'
                    type: None
                    userAssignedIdentities: example_value
                  location: example_value
                  tags: example_value
                  properties:
                    provisioningState: Accepted
                    endpoint: example_value
                    endpoints: example_value
                    capabilities:
                    - {}
                    isMigrated: true
                    dateCreated: example_value
                    customSubDomainName: example_value
                    publicNetworkAccess: Enabled
                    disableLocalAuth: true
                    restrictOutboundNetworkAccess: true
      responses:
        '200':
          description: Successfully updated the account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
              examples:
                AccountsCreate200Example:
                  summary: Default Accounts_Create 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    type: example_value
                    etag: example_value
                    kind: example_value
                    sku:
                      name: Example Title
                      tier: Free
                    identity:
                      principalId: '500123'
                      tenantId: '500123'
                      type: None
                      userAssignedIdentities: example_value
                    location: example_value
                    tags: example_value
                    properties:
                      provisioningState: Accepted
                      endpoint: example_value
                      endpoints: example_value
                      capabilities:
                      - {}
                      isMigrated: true
                      dateCreated: example_value
                      customSubDomainName: example_value
                      publicNetworkAccess: Enabled
                      disableLocalAuth: true
                      restrictOutboundNetworkAccess: true
        '201':
          description: Successfully created the account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
              examples:
                AccountsCreate201Example:
                  summary: Default Accounts_Create 201 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    type: example_value
                    etag: example_value
                    kind: example_value
                    sku:
                      name: Example Title
                      tier: Free
                    identity:
                      principalId: '500123'
                      tenantId: '500123'
                      type: None
                      userAssignedIdentities: example_value
                    location: example_value
                    tags: example_value
                    properties:
                      provisioningState: Accepted
                      endpoint: example_value
                      endpoints: example_value
                      capabilities:
                      - {}
                      isMigrated: true
                      dateCreated: example_value
                      customSubDomainName: example_value
                      publicNetworkAccess: Enabled
                      disableLocalAuth: true
                      restrictOutboundNetworkAccess: true
        '202':
          description: Accepted. The account creation is in progress.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
              examples:
                AccountsCreate202Example:
                  summary: Default Accounts_Create 202 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    type: example_value
                    etag: example_value
                    kind: example_value
                    sku:
                      name: Example Title
                      tier: Free
                    identity:
                      principalId: '500123'
                      tenantId: '500123'
                      type: None
                      userAssignedIdentities: example_value
                    location: example_value
                    tags: example_value
                    properties:
                      provisioningState: Accepted
                      endpoint: example_value
                      endpoints: example_value
                      capabilities:
                      - {}
                      isMigrated: true
                      dateCreated: example_value
                      customSubDomainName: example_value
                      publicNetworkAccess: Enabled
                      disableLocalAuth: true
                      restrictOutboundNetworkAccess: true
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                AccountsCreatedefaultExample:
                  summary: Default Accounts_Create default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
                      additionalInfo:
                      - type: example_value
                        info: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: Accounts_Delete
      summary: Microsoft Azure Delete a Cognitive Services Account
      description: Deletes a Cognitive Services account from the resource group.
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully deleted the account.
        '202':
          description: Accepted. The account deletion is in progress.
        '204':
          description: The account does not exist.
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                AccountsDeletedefaultExample:
                  summary: Default Accounts_Delete default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
                      additionalInfo:
                      - type: example_value
                        info: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: Accounts_Update
      summary: Microsoft Azure Update a Cognitive Services Account
      description: Updates a Cognitive Services account.
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
            examples:
              AccountsUpdateRequestExample:
                summary: Default Accounts_Update request
                x-microcks-default: true
                value:
                  id: abc123
                  name: Example Title
                  type: example_value
                  etag: example_value
                  kind: example_value
                  sku:
                    name: Example Title
                    tier: Free
                  identity:
                    principalId: '500123'
                    tenantId: '500123'
                    type: None
                    userAssignedIdentities: example_value
                  location: example_value
                  tags: example_value
                  properties:
                    provisioningState: Accepted
                    endpoint: example_value
                    endpoints: example_value
                    capabilities:
                    - {}
                    isMigrated: true
                    dateCreated: example_value
                    customSubDomainName: example_value
                    publicNetworkAccess: Enabled
                    disableLocalAuth: true
                    restrictOutboundNetworkAccess: true
      responses:
        '200':
          description: Successfully updated the account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
              examples:
                AccountsUpdate200Example:
                  summary: Default Accounts_Update 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    type: example_value
                    etag: example_value
                    kind: example_value
                    sku:
                      name: Example Title
                      tier: Free
                    identity:
                      principalId: '500123'
                      tenantId: '500123'
                      type: None
                      userAssignedIdentities: example_value
                    location: example_value
                    tags: example_value
                    properties:
                      provisioningState: Accepted
                      endpoint: example_value
                      endpoints: example_value
                      capabilities:
                      - {}
                      isMigrated: true
                      dateCreated: example_value
                      customSubDomainName: example_value
                      publicNetworkAccess: Enabled
                      disableLocalAuth: true
                      restrictOutboundNetworkAccess: true
        '202':
          description: Accepted. The account update is in progress.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
              examples:
                AccountsUpdate202Example:
                  summary: Default Accounts_Update 202 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    type: example_value
                    etag: example_value
                    kind: example_value
                    sku:
                      name: Example Title
                      tier: Free
                    identity:
                      principalId: '500123'
                      tenantId: '500123'
                      type: None
                      userAssignedIdentities: example_value
                    location: example_value
                    tags: example_value
                    properties:
                      provisioningState: Accepted
                      endpoint: example_value
                      endpoints: example_value
                      capabilities:
                      - {}
                      isMigrated: true
                      dateCreated: example_value
                      customSubDomainName: example_value
                      publicNetworkAccess: Enabled
                      disableLocalAuth: true
                      restrictOutboundNetworkAccess: true
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                AccountsUpdatedefaultExample:
                  summary: Default Accounts_Update default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
                      additionalInfo:
                      - type: example_value
                        info: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}/listKeys
  : post:
      operationId: Accounts_ListKeys
      summary: Microsoft Azure List Account Keys
      description: Lists the account keys for the specified Cognitive Services account.
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully returned the account keys.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeys'
              examples:
                AccountsListkeys200Example:
                  summary: Default Accounts_ListKeys 200 response
                  x-microcks-default: true
                  value:
                    key1: example_value
                    key2: example_value
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                AccountsListkeysdefaultExample:
                  summary: Default Accounts_ListKeys default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
                      additionalInfo:
                      - type: example_value
                        info: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}/regenerateKey
  : post:
      operationId: Accounts_RegenerateKey
      summary: Microsoft Azure Regenerate an Account Key
      description: Regenerates the specified account key for the Cognitive Services account.
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                keyName:
                  type: string
                  enum:
                  - Key1
                  - Key2
                  description: Key name to regenerate.
              required:
              - keyName
            examples:
              AccountsRegeneratekeyRequestExample:
                summary: Default Accounts_RegenerateKey request
                x-microcks-default: true
                value:
                  keyName: Key1
      responses:
        '200':
          description: Successfully regenerated the key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeys'
              examples:
                AccountsRegeneratekey200Example:
                  summary: Default Accounts_RegenerateKey 200 response
                  x-microcks-default: true
                  value:
                    key1: example_value
                    key2: example_value
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                AccountsRegeneratekeydefaultExample:
                  summary: Default Accounts_RegenerateKey default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
                      additionalInfo:
                      - type: example_value
                        info: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}/deployments
  : get:
      operationId: Deployments_List
      summary: Microsoft Azure List Model Deployments
      description: Gets the deployments associated with the Cognitive Services account.
      tags:
      - Deployments
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully returned the deployments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentListResult'
              examples:
                DeploymentsList200Example:
                  summary: Default Deployments_List 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - id: abc123
                      name: Example Title
                      type: example_value
                      etag: example_value
                    nextLink: example_value
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeploymentsListdefaultExample:
                  summary: Default Deployments_List default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
                      additionalInfo:
                      - type: example_value
                        info: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}/deployments/{deploymentName}
  : get:
      operationId: Deployments_Get
      summary: Microsoft Azure Get a Model Deployment
      description: Gets the specified deployments associated with the Cognitive Services account.
      tags:
      - Deployments
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - name: deploymentName
        in: path
        required: true
        description: The name of the deployment.
        schema:
          type: string
        example: example_value
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully returned the deployment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
              examples:
                DeploymentsGet200Example:
                  summary: Default Deployments_Get 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    type: example_value
                    etag: example_value
                    sku:
                      name: Example Title
                      tier: Free
                    properties:
                      provisioningState: Accepted
                      scaleSettings:
                        scaleType: Standard
                        capacity: 10
                        activeCapacity: 10
                      rateLimits:
                      - {}
                      capabilities: example_value
                      versionUpgradeOption: OnceNewDefaultVersionAvailable
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeploymentsGetdefaultExample:
                  summary: Default Deployments_Get default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
                      additionalInfo:
                      - type: example_value
                        info: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: Deployments_CreateOrUpdate
      summary: Microsoft Azure Create or Update a Model Deployment
      description: Update the state of specified deployments associated with the Cognitive Services account.
      tags:
      - Deployments
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - name: deploymentName
        in: path
        required: true
        description: The name of the deployment.
        schema:
          type: string
        example: example_value
      - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deployment'
            examples:
              DeploymentsCreateorupdateRequestExample:
                summary: Default Deployments_CreateOrUpdate request
                x-microcks-default: true
                value:
                  id: abc123
                  name: Example Title
                  type: example_value
                  etag: example_value
                  sku:
                    name: Example Title
                    tier: Free
                  properties:
                    provisioningState: Accepted
                    scaleSettings:
                      scaleType: Standard
                      capacity: 10
                      activeCapacity: 10
                    rateLimits:
                    - {}
                    capabilities: example_value
                    versionUpgradeOption: OnceNewDefaultVersionAvailable
      responses:
        '200':
          description: Successfully updated the deployment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
              examples:
                DeploymentsCreateorupdate200Example:
                  summary: Default Deployments_CreateOrUpdate 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    type: example_value
                    etag: example_value
                    sku:
                      name: Example Title
                      tier: Free
                    properties:
                      provisioningState: Accepted
                      scaleSettings:
                        scaleType: Standard
                        capacity: 10
                        activeCapacity: 10
                      rateLimits:
                      - {}
                      capabilities: example_value
                      versionUpgradeOption: OnceNewDefaultVersionAvailable
        '201':
          description: Successfully created the deployment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
              examples:
                DeploymentsCreateorupdate201Example:
                  summary: Default Deployments_CreateOrUpdate 201 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    type: example_value
                    etag: example_value
                    sku:
                      name: Example Title
                      tier: Free
                    properties:
                      provisioningState: Accepted
                      scaleSettings:
                        scaleType: Standard
                        capacity: 10
                        activeCapacity: 10
                      rateLimits:
                      - {}
                      capabilities: example_value
                      versionUpgradeOption: OnceNewDefaultVersionAvailable
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeploymentsCreateorupdatedefaultExample:
                  summary: Default Deployments_CreateOrUpdate default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
                      additionalInfo:
                      - type: example_value
                        info: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: Deployments_Delete
      summary: Microsoft Azure Delete a Model Deployment
      description: Deletes the specified deployment associated with the Cognitive Services account.
      tags:
      - Deployments
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - name: deploymentName
        in: path
        required: true
        description: The name of the deployment.
        schema:
          type: string
        example: example_value
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully deleted the deployment.
        '202':
          description: Accepted. The deployment deletion is in progress.
        '204':
          description: The deployment does not exist.
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeploymentsDeletedefaultExample:
                  summary: Default Deployments_Delete default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
                      additionalInfo:
                      - type: example_value
                        info: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /subscriptions/{subscriptionId}/providers/Microsoft.CognitiveServices/models:
    get:
      operationId: Models_List
      summary: Microsoft Azure List Available Models
      description: List available models for the subscription.
      tags:
      - Models
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully returned available models.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelListResult'
              examples:
                ModelsList200Example:
                  summary: Default Models_List 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - format: example_value
                      name: Example Title
                      version: example_value
                      source: example_value
                      maxCapacity: 10
                      capabilities: example_value
                      deprecation: {}
                      lifecycleStatus: GenerallyAvailable
                      systemData: {}
                    nextLink: example_value
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ModelsListdefaultExample:
                  summary: Default Models_List default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
                      additionalInfo:
                      - type: example_value
                        info: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            https://management.azure.com/.default: Access Azure Resource Manager
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        format: uuid
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      schema:
        type: string
        minLength: 1
        maxLength: 90
    AccountNameParameter:
      name: accountName
      in: path
      required: true
      description: The name of the Cognitive Services account.
      schema:
        type: string
        minLength: 2
        maxLength: 64
        pattern: '^[a-zA-Z0-9][a-zA-Z0-9_.-]*$'
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        default: '2024-04-01-preview'
  schemas:
    Account:
      type: object
      description: Cognitive Services account.
      properties:
        id:
          type: string
          readOnly: true
          description: Fully qualified resource ID.
          example: abc123
        name:
          type: string
          readOnly: true
          description: The name of the resource.
          example: Example Title
        type:
          type: string
          readOnly: true
          description: The type of the resource.
          example: example_value
        etag:
          type: string
          readOnly: true
          description: Resource ETag.
          example: example_value
        kind:
          type: string
          description: >-
            The kind (type) of cognitive service account. Examples include
            OpenAI, TextAnalytics, ComputerVision, SpeechServices, etc.
          example: example_value
        sku:
          $ref: '#/components/schemas/Sku'
        identity:
          $ref: '#/components/schemas/Identity'
        location:
          type: string
          description: The geo-location where the resource lives.
          example: example_value
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
          example: example_value
        properties:
          $ref: '#/components/schemas/AccountProperties'
      required:
      - location
    AccountProperties:
      type: object
      description: Properties of Cognitive Services account.
      properties:
        provisioningState:
          type: string
          readOnly: true
          enum:
          - Accepted
          - Creating
          - Deleting
          - Moving
          - Failed
          - Succeeded
          - ResolvingDNS
          description: The status of the cognitive services account at the time of the operation.
          example: Accepted
        endpoint:
          type: string
          readOnly: true
          description: Endpoint of the created account.
          example: example_value
        endpoints:
          type: object
          readOnly: true
          additionalProperties:
            type: string
          description: Dictionary of endpoints for the cognitive services account.
          example: example_value
        capabilities:
          type: array
          readOnly: true
          items:
            type: object
            properties:
              name:
                type: string
              value:
                type: string
          description: The capabilities of the cognitive services account.
          example: []
        isMigrated:
          type: boolean
          readOnly: true
          description: Whether this account has been migrated.
          example: true
        dateCreated:
          type: string
          readOnly: true
          description: The date of creation.
          example: example_value
        customSubDomainName:
          type: string
          description: Optional subdomain name used for token-based authentication.
          example: example_value
        networkAcls:
          $ref: '#/components/schemas/NetworkRuleSet'
        publicNetworkAccess:
          type: string
          enum:
          - Enabled
          - Disabled
          description: Whether or not public endpoint access is allowed.
          example: Enabled
        disableLocalAuth:
          type: boolean
          description: Whether to disable local authentication methods.
          example: true
        restrictOutboundNetworkAccess:
          type: boolean
          description: Whether to restrict outbound network access.
          example: true
    Sku:
      type: object
      description: The resource model definition representing SKU.
      properties:
        name:
          type: string
          description: The name of the SKU. Examples include F0 (free), S0, S1, S2, etc.
          example: Example Title
        tier:
          type: string
          readOnly: true
          enum:
          - Free
          - Basic
          - Standard
          - Premium
          - Enterprise
          description: The pricing tier of the SKU.
          example: Free
      required:
      - name
    Identity:
      type: object
      description: Identity for the resource.
      properties:
        principalId:
          type: string
          readOnly: true
          example: '500123'
        tenantId:
          type: string
          readOnly: true
          example: '500123'
        type:
          type: string
          enum:
          - None
          - SystemAssigned
          - UserAssigned
          - SystemAssigned, UserAssigned
          example: None
        userAssignedIdentities:
          type: object
          additionalProperties:
            type: object
            properties:
              principalId:
                type: string
                readOnly: true
              clientId:
                type: string
                readOnly: true
          example: example_value
    NetworkRuleSet:
      type: object
      description: A set of rules governing the network accessibility.
      properties:
        defaultAction:
          type: string
          enum:
          - Allow
          - Deny
          description: The default action when no rule matches.
          example: Allow
        ipRules:
          type: array
          items:
            type: object
            properties:
              value:
                type: string
                description: An IPv4 address range in CIDR notation.
          description: The list of IP address rules.
          example: []
        virtualNetworkRules:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Full resource ID of a vnet subnet.
              state:
                type: string
              ignoreMissingVnetServiceEndpoint:
                type: boolean
          description: The list of virtual network rules.
          example: []
    ApiKeys:
      type: object
      description: The access keys for the cognitive services account.
      properties:
        key1:
          type: string
          description: Gets the value of key 1.
          example: example_value
        key2:
          type: string
          description: Gets the value of key 2.
          example: example_value
    Deployment:
      type: object
      description: Cognitive Services account deployment.
      properties:
        id:
          type: string
          readOnly: true
          example: abc123
        name:
          type: string
          readOnly: true
          example: Example Title
        type:
          type: string
          readOnly: true
          example: example_value
        etag:
          type: string
          readOnly: true
          example: example_value
        sku:
          $ref: '#/components/schemas/Sku'
        properties:
          $ref: '#/components/schemas/DeploymentProperties'
    DeploymentProperties:
      type: object
      description: Properties of Cognitive Services account deployment.
      properties:
        provisioningState:
          type: string
          readOnly: true
          enum:
          - Accepted
          - Creating
          - Deleting
          - Moving
          - Failed
          - Succeeded
          - Disabled
          - Canceled
          description: The provisioning state of the deployment.
          example: Accepted
        model:
          $ref: '#/components/schemas/DeploymentModel'
        scaleSettings:
          type: object
          description: The deployment scale settings.
          properties:
            scaleType:
              type: string
              enum:
              - Standard
              - Manual
              description: Deployment scale type.
            capacity:
              type: integer
              description: Deployment capacity.
            activeCapacity:
              type: integer
              readOnly: true
              description: Deployment active capacity.
          example: example_value
        rateLimits:
          type: array
          readOnly: true
          items:
            type: object
            properties:
              key:
                type: string
              renewalPeriod:
                type: number
              count:
                type: number
          description: The rate limits for the deployment.
          example: []
        capabilities:
          type: object
          readOnly: true
          additionalProperties:
            type: string
          description: The capabilities of the deployment.
          example: example_value
        versionUpgradeOption:
          type: string
          enum:
          - OnceNewDefaultVersionAvailable
          - OnceCurrentVersionExpired
          - NoAutoUpgrade
          description: Deployment model version upgrade option.
          example: OnceNewDefaultVersionAvailable
    DeploymentModel:
      type: object
      description: Properties of the deployment model.
      properties:
        format:
          type: string
          description: Deployment model format.
          example: example_value
        name:
          type: string
          description: Deployment model name.
          example: Example Title
        version:
          type: string
          description: Deployment model version.
          example: example_value
        source:
          type: string
          description: Optional. Deployment model source ARM resource ID.
          example: example_value
      required:
      - format
      - name
      - version
    AccountListResult:
      type: object
      description: The list of cognitive services accounts.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Account'
          description: An array of cognitive services accounts.
          example: []
        nextLink:
          type: string
          description: The link used to get the next page of accounts.
          example: example_value
    DeploymentListResult:
      type: object
      description: The list of cognitive services account deployments.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Deployment'
          description: An array of deployments.
          example: []
        nextLink:
          type: string
          description: The link used to get the next page of deployments.
          example: example_value
    ModelListResult:
      type: object
      description: The list of cognitive services models.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/AccountModel'
          description: An array of models.
          example: []
        nextLink:
          type: string
          description: The link used to get the next page of models.
          example: example_value
    AccountModel:
      type: object
      description: Cognitive Services account model.
      properties:
        format:
          type: string
          description: Model format.
          example: example_value
        name:
          type: string
          description: Model name.
          example: Example Title
        version:
          type: string
          description: Model version.
          example: example_value
        source:
          type: string
          description: Source of the model.
          example: example_value
        maxCapacity:
          type: integer
          description: The maximum capacity.
          example: 10
        capabilities:
          type: object
          additionalProperties:
            type: string
          description: Model capabilities.
          example: example_value
        deprecation:
          type: object
          description: Deprecation information.
          properties:
            fineTune:
              type: string
              format: date-time
            inference:
              type: string
              format: date-time
          example: example_value
        lifecycleStatus:
          type: string
          enum:
          - GenerallyAvailable
          - Preview
          description: Model lifecycle status.
          example: GenerallyAvailable
        systemData:
          type: object
          readOnly: true
          properties:
            createdBy:
              type: string
            createdByType:
              type: string
            createdAt:
              type: string
              format: date-time
            lastModifiedBy:
              type: string
            lastModifiedByType:
              type: string
            lastModifiedAt:
              type: string
              format: date-time
          example: example_value
    ErrorResponse:
      type: object
      description: Error response.
      properties:
        error:
          type: object
          description: The error object.
          properties:
            code:
              type: string
            message:
              type: string
            target:
              type: string
            details:
              type: array
              items:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  target:
                    type: string
            additionalInfo:
              type: array
              items:
                type: object
                properties:
                  type:
                    type: string
                  info:
                    type: object
          example: example_value
