openapi: 3.1.0
info:
  title: Microsoft Azure Azure Resource Manager API
  description: >-
    Azure Resource Manager is the deployment and management service for Azure.
    It provides a management layer that enables you to create, update, and delete
    resources in your Azure account. You use management features like access control,
    locks, and tags to secure and organize your resources after deployment. The
    Resource Manager REST API provides operations for managing resources, resource
    groups, deployments, subscriptions, tenants, providers, and tags.
  version: '2024-03-01'
  contact:
    name: Microsoft Azure Support
    url: https://azure.microsoft.com/en-us/support/
    email: azuresupport@microsoft.com
  license:
    name: Microsoft API License
    url: https://learn.microsoft.com/en-us/legal/
  x-logo:
    url: https://azure.microsoft.com/svghandler/azure-logo.png
servers:
  - url: https://management.azure.com
    description: Azure Resource Manager global endpoint
security:
  - oauth2:
      - https://management.azure.com/.default
tags:
  - name: Resources
    description: Operations for managing Azure resources
  - name: Resource Groups
    description: Operations for managing resource groups
  - name: Deployments
    description: Operations for managing resource deployments
  - name: Subscriptions
    description: Operations for managing subscriptions
  - name: Providers
    description: Operations for listing resource providers
  - name: Tags
    description: Operations for managing resource tags
paths:
  /subscriptions:
    get:
      operationId: Subscriptions_List
      summary: Microsoft Azure List all subscriptions
      description: Gets all subscriptions for the authenticated tenant.
      tags:
        - Subscriptions
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully returned the list of subscriptions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
  /subscriptions/{subscriptionId}:
    get:
      operationId: Subscriptions_Get
      summary: Microsoft Azure Get a subscription
      description: Gets details about the specified subscription.
      tags:
        - Subscriptions
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully returned the subscription details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
  /subscriptions/{subscriptionId}/resourcegroups:
    get:
      operationId: ResourceGroups_List
      summary: Microsoft Azure List resource groups
      description: Gets all the resource groups for a subscription.
      tags:
        - Resource Groups
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - name: $filter
          in: query
          description: The filter to apply on the operation using OData syntax.
          schema:
            type: string
        - name: $top
          in: query
          description: The number of results to return.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Successfully returned the list of resource groups.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroupListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}:
    get:
      operationId: ResourceGroups_Get
      summary: Microsoft Azure Get a resource group
      description: Gets a resource group by name.
      tags:
        - Resource Groups
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully returned the resource group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroup'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
    put:
      operationId: ResourceGroups_CreateOrUpdate
      summary: Microsoft Azure Create or update a resource group
      description: Creates or updates a resource group.
      tags:
        - Resource Groups
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceGroup'
      responses:
        '200':
          description: Successfully updated the resource group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroup'
        '201':
          description: Successfully created the resource group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroup'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
    delete:
      operationId: ResourceGroups_Delete
      summary: Microsoft Azure Delete a resource group
      description: >-
        Deletes a resource group. When you delete a resource group, all of its
        resources are also deleted.
      tags:
        - Resource Groups
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - name: forceDeletionTypes
          in: query
          description: >-
            The resource types that should be force deleted. Comma-separated list
            of resource type names.
          schema:
            type: string
      responses:
        '200':
          description: Successfully deleted the resource group.
        '202':
          description: Accepted. The resource group deletion is in progress.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
    patch:
      operationId: ResourceGroups_Update
      summary: Microsoft Azure Update a resource group
      description: >-
        Updates a resource group. Resource groups can be updated by patching the
        resource group properties, such as tags.
      tags:
        - Resource Groups
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceGroupPatchable'
      responses:
        '200':
          description: Successfully updated the resource group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroup'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
  /subscriptions/{subscriptionId}/resources:
    get:
      operationId: Resources_List
      summary: Microsoft Azure List all resources in a subscription
      description: Get all the resources in a subscription.
      tags:
        - Resources
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - name: $filter
          in: query
          description: The filter to apply on the operation using OData syntax.
          schema:
            type: string
        - name: $expand
          in: query
          description: >-
            Comma-separated list of additional properties to be included in the
            response. Valid values include createdTime, changedTime, and
            provisioningState.
          schema:
            type: string
        - name: $top
          in: query
          description: The number of results to return.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Successfully returned the list of resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/resources:
    get:
      operationId: Resources_ListByResourceGroup
      summary: Microsoft Azure List resources in a resource group
      description: Get all the resources for a resource group.
      tags:
        - Resources
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - name: $filter
          in: query
          description: The filter to apply on the operation using OData syntax.
          schema:
            type: string
        - name: $top
          in: query
          description: The number of results to return.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Successfully returned the list of resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/deployments/{deploymentName}:
    put:
      operationId: Deployments_CreateOrUpdate
      summary: Microsoft Azure Create or update a deployment
      description: >-
        Deploys resources at resource group scope. You can provide the template
        and parameters directly in the request or link to JSON files.
      tags:
        - Deployments
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - name: deploymentName
          in: path
          required: true
          description: The name of the deployment.
          schema:
            type: string
            minLength: 1
            maxLength: 64
            pattern: '^[-\w\._\(\)]+$'
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deployment'
      responses:
        '200':
          description: Successfully updated the deployment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
        '201':
          description: Successfully created the deployment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
    get:
      operationId: Deployments_Get
      summary: Microsoft Azure Get a deployment
      description: Gets a deployment by name.
      tags:
        - Deployments
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - name: deploymentName
          in: path
          required: true
          description: The name of the deployment.
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully returned the deployment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentExtended'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
  /subscriptions/{subscriptionId}/providers:
    get:
      operationId: Providers_List
      summary: Microsoft Azure List resource providers
      description: Gets all resource providers for a subscription.
      tags:
        - Providers
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - name: $expand
          in: query
          description: >-
            The properties to include in the results. For example, use
            resourceTypes/aliases to get the aliases for resource types.
          schema:
            type: string
      responses:
        '200':
          description: Successfully returned the list of providers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
  /subscriptions/{subscriptionId}/tagNames:
    get:
      operationId: Tags_List
      summary: Microsoft Azure List predefined tag names
      description: >-
        Gets a summary of tag usage under the subscription. This operation
        performs a union of predefined tags, resource tags, resource group tags
        and subscription tags.
      tags:
        - Tags
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully returned the tag names.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagsListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            https://management.azure.com/.default: Access Azure Resource Manager
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        format: uuid
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        default: '2024-03-01'
  schemas:
    Subscription:
      type: object
      description: Subscription information.
      properties:
        id:
          type: string
          readOnly: true
          description: The fully qualified ID for the subscription.
        subscriptionId:
          type: string
          readOnly: true
          description: The subscription ID.
        displayName:
          type: string
          readOnly: true
          description: The subscription display name.
        tenantId:
          type: string
          readOnly: true
          description: The subscription tenant ID.
        state:
          type: string
          readOnly: true
          description: The subscription state.
          enum:
            - Enabled
            - Warned
            - PastDue
            - Disabled
            - Deleted
        subscriptionPolicies:
          $ref: '#/components/schemas/SubscriptionPolicies'
        authorizationSource:
          type: string
          description: >-
            The authorization source of the request. Valid values are one or more
            combinations of Legacy, RoleBased, Bypassed, Direct, Management.
        tags:
          type: object
          additionalProperties:
            type: string
          description: The tags attached to the subscription.
    SubscriptionPolicies:
      type: object
      description: Subscription policies.
      properties:
        locationPlacementId:
          type: string
          readOnly: true
          description: The subscription location placement ID.
        quotaId:
          type: string
          readOnly: true
          description: The subscription quota ID.
        spendingLimit:
          type: string
          readOnly: true
          description: The subscription spending limit.
          enum:
            - 'On'
            - 'Off'
            - CurrentPeriodOff
    SubscriptionListResult:
      type: object
      description: Subscription list operation response.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Subscription'
          description: An array of subscriptions.
        nextLink:
          type: string
          description: The URL to get the next set of results.
      required:
        - value
    ResourceGroup:
      type: object
      description: Resource group information.
      properties:
        id:
          type: string
          readOnly: true
          description: The ID of the resource group.
        name:
          type: string
          readOnly: true
          description: The name of the resource group.
        type:
          type: string
          readOnly: true
          description: The type of the resource group.
        location:
          type: string
          description: >-
            The location of the resource group. It cannot be changed after the
            resource group has been created. It must be one of the supported
            Azure locations.
        managedBy:
          type: string
          description: The ID of the resource that manages this resource group.
        tags:
          type: object
          additionalProperties:
            type: string
          description: The tags attached to the resource group.
        properties:
          $ref: '#/components/schemas/ResourceGroupProperties'
      required:
        - location
    ResourceGroupProperties:
      type: object
      description: The resource group properties.
      properties:
        provisioningState:
          type: string
          readOnly: true
          description: The provisioning state.
    ResourceGroupPatchable:
      type: object
      description: Resource group information for update.
      properties:
        name:
          type: string
          description: The name of the resource group.
        tags:
          type: object
          additionalProperties:
            type: string
          description: The tags attached to the resource group.
        properties:
          $ref: '#/components/schemas/ResourceGroupProperties'
    ResourceGroupListResult:
      type: object
      description: List of resource groups.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ResourceGroup'
          description: An array of resource groups.
        nextLink:
          type: string
          readOnly: true
          description: The URL to get the next set of results.
    GenericResource:
      type: object
      description: Resource information.
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        plan:
          $ref: '#/components/schemas/Plan'
        properties:
          type: object
          description: The resource properties.
        kind:
          type: string
          description: The kind of the resource.
          pattern: '^[-\w\._,\(\)]+$'
        managedBy:
          type: string
          description: ID of the resource that manages this resource.
        sku:
          $ref: '#/components/schemas/Sku'
        identity:
          $ref: '#/components/schemas/Identity'
    Resource:
      type: object
      description: Specified resource.
      properties:
        id:
          type: string
          readOnly: true
          description: Resource ID.
        name:
          type: string
          readOnly: true
          description: Resource name.
        type:
          type: string
          readOnly: true
          description: Resource type.
        location:
          type: string
          description: Resource location.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
    ResourceListResult:
      type: object
      description: List of resource groups.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/GenericResource'
          description: An array of resources.
        nextLink:
          type: string
          readOnly: true
          description: The URL to get the next set of results.
    Plan:
      type: object
      description: Plan for the resource.
      properties:
        name:
          type: string
          description: The plan ID.
        publisher:
          type: string
          description: The publisher ID.
        product:
          type: string
          description: The offer ID.
        promotionCode:
          type: string
          description: The promotion code.
        version:
          type: string
          description: The plan's version.
    Sku:
      type: object
      description: SKU for the resource.
      properties:
        name:
          type: string
          description: The SKU name.
        tier:
          type: string
          description: The SKU tier.
        size:
          type: string
          description: The SKU size.
        family:
          type: string
          description: The SKU family.
        model:
          type: string
          description: The SKU model.
        capacity:
          type: integer
          format: int32
          description: The SKU capacity.
    Identity:
      type: object
      description: Identity for the resource.
      properties:
        principalId:
          type: string
          readOnly: true
          description: The principal ID of resource identity.
        tenantId:
          type: string
          readOnly: true
          description: The tenant ID of resource.
        type:
          type: string
          description: The identity type.
          enum:
            - SystemAssigned
            - UserAssigned
            - SystemAssigned, UserAssigned
            - None
        userAssignedIdentities:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/UserAssignedIdentity'
          description: The list of user-assigned identities.
    UserAssignedIdentity:
      type: object
      description: User-assigned managed identity.
      properties:
        principalId:
          type: string
          readOnly: true
          description: The principal ID of the user-assigned identity.
        clientId:
          type: string
          readOnly: true
          description: The client ID of the user-assigned identity.
    Deployment:
      type: object
      description: Deployment operation parameters.
      properties:
        location:
          type: string
          description: >-
            The location to store the deployment data.
        properties:
          $ref: '#/components/schemas/DeploymentProperties'
        tags:
          type: object
          additionalProperties:
            type: string
          description: Deployment tags.
      required:
        - properties
    DeploymentProperties:
      type: object
      description: Deployment properties.
      properties:
        template:
          type: object
          description: >-
            The template content. Use this element when you want to pass the
            template syntax directly in the request rather than link to an
            existing template.
        templateLink:
          $ref: '#/components/schemas/TemplateLink'
        parameters:
          type: object
          description: >-
            Name and value pairs that define the deployment parameters.
        parametersLink:
          $ref: '#/components/schemas/ParametersLink'
        mode:
          type: string
          description: The mode that is used to deploy resources.
          enum:
            - Incremental
            - Complete
        debugSetting:
          $ref: '#/components/schemas/DebugSetting'
      required:
        - mode
    TemplateLink:
      type: object
      description: Entity representing the reference to the template.
      properties:
        uri:
          type: string
          description: The URI of the template.
        contentVersion:
          type: string
          description: The content version of the template.
      required:
        - uri
    ParametersLink:
      type: object
      description: Entity representing the reference to the deployment parameters.
      properties:
        uri:
          type: string
          description: The URI of the parameters file.
        contentVersion:
          type: string
          description: The content version of the parameters.
      required:
        - uri
    DebugSetting:
      type: object
      description: The debug setting.
      properties:
        detailLevel:
          type: string
          description: >-
            Specifies the type of information to log for debugging. The
            permitted values are none, requestContent, responseContent, or both.
    DeploymentExtended:
      type: object
      description: Deployment information.
      properties:
        id:
          type: string
          readOnly: true
          description: The ID of the deployment.
        name:
          type: string
          readOnly: true
          description: The name of the deployment.
        type:
          type: string
          readOnly: true
          description: The type of the deployment.
        location:
          type: string
          description: The location of the deployment.
        properties:
          $ref: '#/components/schemas/DeploymentPropertiesExtended'
        tags:
          type: object
          additionalProperties:
            type: string
          description: Deployment tags.
    DeploymentPropertiesExtended:
      type: object
      description: Deployment properties with additional details.
      properties:
        provisioningState:
          type: string
          readOnly: true
          description: Denotes the state of provisioning.
          enum:
            - NotSpecified
            - Accepted
            - Running
            - Ready
            - Creating
            - Created
            - Deleting
            - Deleted
            - Canceled
            - Failed
            - Succeeded
            - Updating
        correlationId:
          type: string
          readOnly: true
          description: The correlation ID of the deployment.
        timestamp:
          type: string
          format: date-time
          readOnly: true
          description: The timestamp of the template deployment.
        duration:
          type: string
          readOnly: true
          description: The duration of the template deployment.
        outputs:
          type: object
          readOnly: true
          description: Key/value pairs that represent deployment output.
        mode:
          type: string
          readOnly: true
          description: The deployment mode.
          enum:
            - Incremental
            - Complete
    ProviderListResult:
      type: object
      description: List of resource providers.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Provider'
          description: An array of resource providers.
        nextLink:
          type: string
          readOnly: true
          description: The URL to get the next set of results.
    Provider:
      type: object
      description: Resource provider information.
      properties:
        id:
          type: string
          readOnly: true
          description: The provider ID.
        namespace:
          type: string
          description: The namespace of the resource provider.
        registrationState:
          type: string
          readOnly: true
          description: The registration state of the resource provider.
        registrationPolicy:
          type: string
          readOnly: true
          description: The registration policy of the resource provider.
        resourceTypes:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/ProviderResourceType'
          description: The collection of provider resource types.
    ProviderResourceType:
      type: object
      description: Resource type managed by the resource provider.
      properties:
        resourceType:
          type: string
          description: The resource type.
        locations:
          type: array
          items:
            type: string
          description: The collection of locations where this resource type can be created.
        apiVersions:
          type: array
          items:
            type: string
          description: The API version.
    TagsListResult:
      type: object
      description: List of subscription tags.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/TagDetails'
          description: An array of tags.
        nextLink:
          type: string
          readOnly: true
          description: The URL to get the next set of results.
    TagDetails:
      type: object
      description: Tag details.
      properties:
        id:
          type: string
          readOnly: true
          description: The tag name ID.
        tagName:
          type: string
          description: The tag name.
        count:
          $ref: '#/components/schemas/TagCount'
        values:
          type: array
          items:
            $ref: '#/components/schemas/TagValue'
          description: The list of tag values.
    TagCount:
      type: object
      description: Tag count.
      properties:
        type:
          type: string
          description: Type of count.
        value:
          type: integer
          format: int32
          description: Value of count.
    TagValue:
      type: object
      description: Tag information.
      properties:
        id:
          type: string
          readOnly: true
          description: The tag value ID.
        tagValue:
          type: string
          description: The tag value.
        count:
          $ref: '#/components/schemas/TagCount'
    CloudError:
      type: object
      description: An error response for a resource management request.
      properties:
        error:
          $ref: '#/components/schemas/ErrorResponse'
    ErrorResponse:
      type: object
      description: Common error response for all Azure Resource Manager APIs.
      properties:
        code:
          type: string
          readOnly: true
          description: The error code.
        message:
          type: string
          readOnly: true
          description: The error message.
        target:
          type: string
          readOnly: true
          description: The error target.
        details:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/ErrorResponse'
          description: The error details.
        additionalInfo:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          description: The error additional info.
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          readOnly: true
          description: The additional info type.
        info:
          type: object
          readOnly: true
          description: The additional info.
