openapi: 3.1.0
info:
  title: Microsoft Azure Azure Cognitive Services Management API
  description: >-
    Azure Cognitive Services (now Azure AI services) provides REST APIs and
    client library SDKs for adding cognitive capabilities to applications. This
    management API enables programmatic operations to manage Cognitive Services
    accounts, including creating, updating, deleting, and listing accounts,
    managing keys, listing available SKUs, and checking name availability. It
    serves as the control plane for all Azure Cognitive Services resources.
  version: '2024-04-01-preview'
  contact:
    name: Microsoft Azure Support
    url: https://azure.microsoft.com/en-us/support/
    email: azuresupport@microsoft.com
  license:
    name: Microsoft API License
    url: https://learn.microsoft.com/en-us/legal/
  x-logo:
    url: https://azure.microsoft.com/svghandler/azure-logo.png
servers:
  - url: https://management.azure.com
    description: Azure Resource Manager endpoint
security:
  - oauth2:
      - https://management.azure.com/.default
tags:
  - name: Accounts
    description: Operations for managing Cognitive Services accounts
  - name: Deployments
    description: Operations for managing model deployments
  - name: Models
    description: Operations for listing available models
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.CognitiveServices/accounts:
    get:
      operationId: Accounts_List
      summary: Microsoft Azure List Cognitive Services accounts
      description: Returns all the Cognitive Services accounts in a subscription.
      tags:
        - Accounts
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully returned the list of accounts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountListResult'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts:
    get:
      operationId: Accounts_ListByResourceGroup
      summary: Microsoft Azure List accounts by resource group
      description: >-
        Returns all Cognitive Services accounts in a resource group.
      tags:
        - Accounts
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully returned the list of accounts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountListResult'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}
  : get:
      operationId: Accounts_Get
      summary: Microsoft Azure Get a Cognitive Services account
      description: Returns a Cognitive Services account specified by the parameters.
      tags:
        - Accounts
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/AccountNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully returned the account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: Accounts_Create
      summary: Microsoft Azure Create or update a Cognitive Services account
      description: >-
        Creates a Cognitive Services account. Accounts is a resource group wide
        resource type. It holds the keys for developer to access intelligent APIs.
      tags:
        - Accounts
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/AccountNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
      responses:
        '200':
          description: Successfully updated the account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '201':
          description: Successfully created the account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '202':
          description: Accepted. The account creation is in progress.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: Accounts_Delete
      summary: Microsoft Azure Delete a Cognitive Services account
      description: Deletes a Cognitive Services account from the resource group.
      tags:
        - Accounts
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/AccountNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully deleted the account.
        '202':
          description: Accepted. The account deletion is in progress.
        '204':
          description: The account does not exist.
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      operationId: Accounts_Update
      summary: Microsoft Azure Update a Cognitive Services account
      description: Updates a Cognitive Services account.
      tags:
        - Accounts
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/AccountNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
      responses:
        '200':
          description: Successfully updated the account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '202':
          description: Accepted. The account update is in progress.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}/listKeys
  : post:
      operationId: Accounts_ListKeys
      summary: Microsoft Azure List account keys
      description: Lists the account keys for the specified Cognitive Services account.
      tags:
        - Accounts
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/AccountNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully returned the account keys.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeys'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}/regenerateKey
  : post:
      operationId: Accounts_RegenerateKey
      summary: Microsoft Azure Regenerate an account key
      description: Regenerates the specified account key for the Cognitive Services account.
      tags:
        - Accounts
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/AccountNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                keyName:
                  type: string
                  enum:
                    - Key1
                    - Key2
                  description: Key name to regenerate.
              required:
                - keyName
      responses:
        '200':
          description: Successfully regenerated the key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeys'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}/deployments
  : get:
      operationId: Deployments_List
      summary: Microsoft Azure List model deployments
      description: Gets the deployments associated with the Cognitive Services account.
      tags:
        - Deployments
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/AccountNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully returned the deployments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentListResult'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}/deployments/{deploymentName}
  : get:
      operationId: Deployments_Get
      summary: Microsoft Azure Get a model deployment
      description: Gets the specified deployments associated with the Cognitive Services account.
      tags:
        - Deployments
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/AccountNameParameter'
        - name: deploymentName
          in: path
          required: true
          description: The name of the deployment.
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully returned the deployment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: Deployments_CreateOrUpdate
      summary: Microsoft Azure Create or update a model deployment
      description: Update the state of specified deployments associated with the Cognitive Services account.
      tags:
        - Deployments
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/AccountNameParameter'
        - name: deploymentName
          in: path
          required: true
          description: The name of the deployment.
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deployment'
      responses:
        '200':
          description: Successfully updated the deployment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
        '201':
          description: Successfully created the deployment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: Deployments_Delete
      summary: Microsoft Azure Delete a model deployment
      description: Deletes the specified deployment associated with the Cognitive Services account.
      tags:
        - Deployments
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/AccountNameParameter'
        - name: deploymentName
          in: path
          required: true
          description: The name of the deployment.
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully deleted the deployment.
        '202':
          description: Accepted. The deployment deletion is in progress.
        '204':
          description: The deployment does not exist.
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /subscriptions/{subscriptionId}/providers/Microsoft.CognitiveServices/models:
    get:
      operationId: Models_List
      summary: Microsoft Azure List available models
      description: List available models for the subscription.
      tags:
        - Models
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully returned available models.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelListResult'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            https://management.azure.com/.default: Access Azure Resource Manager
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        format: uuid
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      schema:
        type: string
        minLength: 1
        maxLength: 90
    AccountNameParameter:
      name: accountName
      in: path
      required: true
      description: The name of the Cognitive Services account.
      schema:
        type: string
        minLength: 2
        maxLength: 64
        pattern: '^[a-zA-Z0-9][a-zA-Z0-9_.-]*$'
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        default: '2024-04-01-preview'
  schemas:
    Account:
      type: object
      description: Cognitive Services account.
      properties:
        id:
          type: string
          readOnly: true
          description: Fully qualified resource ID.
        name:
          type: string
          readOnly: true
          description: The name of the resource.
        type:
          type: string
          readOnly: true
          description: The type of the resource.
        etag:
          type: string
          readOnly: true
          description: Resource ETag.
        kind:
          type: string
          description: >-
            The kind (type) of cognitive service account. Examples include
            OpenAI, TextAnalytics, ComputerVision, SpeechServices, etc.
        sku:
          $ref: '#/components/schemas/Sku'
        identity:
          $ref: '#/components/schemas/Identity'
        location:
          type: string
          description: The geo-location where the resource lives.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
        properties:
          $ref: '#/components/schemas/AccountProperties'
      required:
        - location
    AccountProperties:
      type: object
      description: Properties of Cognitive Services account.
      properties:
        provisioningState:
          type: string
          readOnly: true
          enum:
            - Accepted
            - Creating
            - Deleting
            - Moving
            - Failed
            - Succeeded
            - ResolvingDNS
          description: The status of the cognitive services account at the time of the operation.
        endpoint:
          type: string
          readOnly: true
          description: Endpoint of the created account.
        endpoints:
          type: object
          readOnly: true
          additionalProperties:
            type: string
          description: Dictionary of endpoints for the cognitive services account.
        capabilities:
          type: array
          readOnly: true
          items:
            type: object
            properties:
              name:
                type: string
              value:
                type: string
          description: The capabilities of the cognitive services account.
        isMigrated:
          type: boolean
          readOnly: true
          description: Whether this account has been migrated.
        dateCreated:
          type: string
          readOnly: true
          description: The date of creation.
        customSubDomainName:
          type: string
          description: Optional subdomain name used for token-based authentication.
        networkAcls:
          $ref: '#/components/schemas/NetworkRuleSet'
        publicNetworkAccess:
          type: string
          enum:
            - Enabled
            - Disabled
          description: Whether or not public endpoint access is allowed.
        disableLocalAuth:
          type: boolean
          description: Whether to disable local authentication methods.
        restrictOutboundNetworkAccess:
          type: boolean
          description: Whether to restrict outbound network access.
    Sku:
      type: object
      description: The resource model definition representing SKU.
      properties:
        name:
          type: string
          description: The name of the SKU. Examples include F0 (free), S0, S1, S2, etc.
        tier:
          type: string
          readOnly: true
          enum:
            - Free
            - Basic
            - Standard
            - Premium
            - Enterprise
          description: The pricing tier of the SKU.
      required:
        - name
    Identity:
      type: object
      description: Identity for the resource.
      properties:
        principalId:
          type: string
          readOnly: true
        tenantId:
          type: string
          readOnly: true
        type:
          type: string
          enum:
            - None
            - SystemAssigned
            - UserAssigned
            - SystemAssigned, UserAssigned
        userAssignedIdentities:
          type: object
          additionalProperties:
            type: object
            properties:
              principalId:
                type: string
                readOnly: true
              clientId:
                type: string
                readOnly: true
    NetworkRuleSet:
      type: object
      description: A set of rules governing the network accessibility.
      properties:
        defaultAction:
          type: string
          enum:
            - Allow
            - Deny
          description: The default action when no rule matches.
        ipRules:
          type: array
          items:
            type: object
            properties:
              value:
                type: string
                description: An IPv4 address range in CIDR notation.
          description: The list of IP address rules.
        virtualNetworkRules:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Full resource ID of a vnet subnet.
              state:
                type: string
              ignoreMissingVnetServiceEndpoint:
                type: boolean
          description: The list of virtual network rules.
    ApiKeys:
      type: object
      description: The access keys for the cognitive services account.
      properties:
        key1:
          type: string
          description: Gets the value of key 1.
        key2:
          type: string
          description: Gets the value of key 2.
    Deployment:
      type: object
      description: Cognitive Services account deployment.
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
        type:
          type: string
          readOnly: true
        etag:
          type: string
          readOnly: true
        sku:
          $ref: '#/components/schemas/Sku'
        properties:
          $ref: '#/components/schemas/DeploymentProperties'
    DeploymentProperties:
      type: object
      description: Properties of Cognitive Services account deployment.
      properties:
        provisioningState:
          type: string
          readOnly: true
          enum:
            - Accepted
            - Creating
            - Deleting
            - Moving
            - Failed
            - Succeeded
            - Disabled
            - Canceled
          description: The provisioning state of the deployment.
        model:
          $ref: '#/components/schemas/DeploymentModel'
        scaleSettings:
          type: object
          description: The deployment scale settings.
          properties:
            scaleType:
              type: string
              enum:
                - Standard
                - Manual
              description: Deployment scale type.
            capacity:
              type: integer
              description: Deployment capacity.
            activeCapacity:
              type: integer
              readOnly: true
              description: Deployment active capacity.
        rateLimits:
          type: array
          readOnly: true
          items:
            type: object
            properties:
              key:
                type: string
              renewalPeriod:
                type: number
              count:
                type: number
          description: The rate limits for the deployment.
        capabilities:
          type: object
          readOnly: true
          additionalProperties:
            type: string
          description: The capabilities of the deployment.
        versionUpgradeOption:
          type: string
          enum:
            - OnceNewDefaultVersionAvailable
            - OnceCurrentVersionExpired
            - NoAutoUpgrade
          description: Deployment model version upgrade option.
    DeploymentModel:
      type: object
      description: Properties of the deployment model.
      properties:
        format:
          type: string
          description: Deployment model format.
        name:
          type: string
          description: Deployment model name.
        version:
          type: string
          description: Deployment model version.
        source:
          type: string
          description: Optional. Deployment model source ARM resource ID.
      required:
        - format
        - name
        - version
    AccountListResult:
      type: object
      description: The list of cognitive services accounts.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Account'
          description: An array of cognitive services accounts.
        nextLink:
          type: string
          description: The link used to get the next page of accounts.
    DeploymentListResult:
      type: object
      description: The list of cognitive services account deployments.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Deployment'
          description: An array of deployments.
        nextLink:
          type: string
          description: The link used to get the next page of deployments.
    ModelListResult:
      type: object
      description: The list of cognitive services models.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/AccountModel'
          description: An array of models.
        nextLink:
          type: string
          description: The link used to get the next page of models.
    AccountModel:
      type: object
      description: Cognitive Services account model.
      properties:
        format:
          type: string
          description: Model format.
        name:
          type: string
          description: Model name.
        version:
          type: string
          description: Model version.
        source:
          type: string
          description: Source of the model.
        maxCapacity:
          type: integer
          description: The maximum capacity.
        capabilities:
          type: object
          additionalProperties:
            type: string
          description: Model capabilities.
        deprecation:
          type: object
          description: Deprecation information.
          properties:
            fineTune:
              type: string
              format: date-time
            inference:
              type: string
              format: date-time
        lifecycleStatus:
          type: string
          enum:
            - GenerallyAvailable
            - Preview
          description: Model lifecycle status.
        systemData:
          type: object
          readOnly: true
          properties:
            createdBy:
              type: string
            createdByType:
              type: string
            createdAt:
              type: string
              format: date-time
            lastModifiedBy:
              type: string
            lastModifiedByType:
              type: string
            lastModifiedAt:
              type: string
              format: date-time
    ErrorResponse:
      type: object
      description: Error response.
      properties:
        error:
          type: object
          description: The error object.
          properties:
            code:
              type: string
            message:
              type: string
            target:
              type: string
            details:
              type: array
              items:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  target:
                    type: string
            additionalInfo:
              type: array
              items:
                type: object
                properties:
                  type:
                    type: string
                  info:
                    type: object
