swagger: '2.0'
info:
  version: 2018-11-01-preview
  title: Microsoft Azure DataShareManagementClient
  description: Creates a Microsoft.DataShare management client.
host: management.azure.com
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.DataShare/accounts:
    get:
      tags:
        - Account
      summary: Microsoft Azure List Accounts In A Subscription
      description: List Accounts in Subscription
      operationId: microsoftAzureAccountsListbysubscription
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/api-version'
        - name: $skipToken
          in: query
          description: Continuation token
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AccountList'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Accounts_ListBySubscription:
          $ref: ./examples/Accounts_ListBySubscription.json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}:
    get:
      tags:
        - Account
      summary: Microsoft Azure Get An Account Under A Resource Group
      description: Get an account
      operationId: microsoftAzureAccountsGet
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Account'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-examples:
        Accounts_Get:
          $ref: ./examples/Accounts_Get.json
    put:
      tags:
        - Account
      summary: Microsoft Azure Create An Account In The Given Resource Group
      description: Create an account
      operationId: microsoftAzureAccountsCreate
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: account
          in: body
          description: The account payload.
          required: true
          schema:
            $ref: '#/definitions/Account'
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Account'
        '201':
          description: Success
          schema:
            $ref: '#/definitions/Account'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-long-running-operation: true
      x-ms-examples:
        Accounts_Create:
          $ref: ./examples/Accounts_Create.json
    delete:
      tags:
        - Account
      summary: Microsoft Azure Delete An Account
      description: DeleteAccount
      operationId: microsoftAzureAccountsDelete
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/OperationResponse'
        '202':
          description: Accepted
        '204':
          description: Success
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-long-running-operation: true
      x-ms-examples:
        Accounts_Delete:
          $ref: ./examples/Accounts_Delete.json
    patch:
      tags:
        - Account
      summary: Microsoft Azure Patch A Given Account
      description: Patch an account
      operationId: microsoftAzureAccountsUpdate
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: accountUpdateParameters
          in: body
          description: The account update parameters.
          required: true
          schema:
            $ref: '#/definitions/AccountUpdateParameters'
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Account'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-examples:
        Accounts_Update:
          $ref: ./examples/Accounts_Update.json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts:
    get:
      tags:
        - Account
      summary: Microsoft Azure List Accounts In A Resource Group
      description: List Accounts in ResourceGroup
      operationId: microsoftAzureAccountsListbyresourcegroup
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/api-version'
        - name: $skipToken
          in: query
          description: Continuation token
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AccountList'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Accounts_ListByResourceGroup:
          $ref: ./examples/Accounts_ListByResourceGroup.json
  /providers/Microsoft.DataShare/listInvitations:
    get:
      tags:
        - ConsumerInvitation
      summary: Microsoft Azure List The Invitations
      description: Lists invitations
      operationId: microsoftAzureConsumerinvitationsListinvitations
      parameters:
        - $ref: '#/parameters/api-version'
        - name: $skipToken
          in: query
          description: The continuation token
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ConsumerInvitationList'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ConsumerInvitations_ListInvitations:
          $ref: ./examples/ConsumerInvitations_ListInvitations.json
  /providers/Microsoft.DataShare/locations/{location}/consumerInvitations/{invitationId}:
    get:
      tags:
        - ConsumerInvitation
      summary: Microsoft Azure Gets The Invitation Identified By Invitationid
      description: Get an invitation
      operationId: microsoftAzureConsumerinvitationsGet
      parameters:
        - name: location
          in: path
          description: Location of the invitation
          required: true
          type: string
        - name: invitationId
          in: path
          description: An invitation id
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ConsumerInvitation'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-examples:
        ConsumerInvitations_Get:
          $ref: ./examples/ConsumerInvitations_Get.json
  /providers/Microsoft.DataShare/locations/{location}/rejectInvitation:
    post:
      tags:
        - ConsumerInvitation
      summary: Microsoft Azure Rejects The Invitation Identified By Invitationid
      description: Reject an invitation
      operationId: microsoftAzureConsumerinvitationsRejectinvitation
      parameters:
        - name: location
          in: path
          description: Location of the invitation
          required: true
          type: string
        - name: invitation
          in: body
          description: An invitation payload
          required: true
          schema:
            $ref: '#/definitions/ConsumerInvitation'
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ConsumerInvitation'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-examples:
        ConsumerInvitations_RejectInvitation:
          $ref: ./examples/ConsumerInvitations_RejectInvitation.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/dataSets/{dataSetName}
  : get:
      tags:
        - DataSet
      summary: 'Microsoft Azure Get Dataset In A Share'
      description: Get a DataSet in a share
      operationId: microsoftAzureDatasetsGet
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareName
          in: path
          description: The name of the share.
          required: true
          type: string
        - name: dataSetName
          in: path
          description: The name of the dataSet.
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DataSet'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-examples:
        DataSets_Get:
          $ref: ./examples/DataSets_Get.json
    put:
      tags:
        - DataSet
      summary: 'Microsoft Azure Adds A New Data Set To An Existing Share'
      description: 'Create a DataSet '
      operationId: microsoftAzureDatasetsCreate
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareName
          in: path
          description: The name of the share to add the data set to.
          required: true
          type: string
        - name: dataSetName
          in: path
          description: The name of the dataSet.
          required: true
          type: string
        - name: dataSet
          in: body
          description: The new data set information.
          required: true
          schema:
            $ref: '#/definitions/DataSet'
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DataSet'
        '201':
          description: Success
          schema:
            $ref: '#/definitions/DataSet'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-examples:
        DataSets_Create:
          $ref: ./examples/DataSets_Create.json
        DataSets_KustoCluster_Create:
          $ref: ./examples/DataSets_KustoCluster_Create.json
        DataSets_KustoDatabase_Create:
          $ref: ./examples/DataSets_KustoDatabase_Create.json
        DataSets_SqlDWTable_Create:
          $ref: ./examples/DataSets_SqlDWTable_Create.json
        DataSets_SqlDBTable_Create:
          $ref: ./examples/DataSets_SqlDBTable_Create.json
    delete:
      tags:
        - DataSet
      summary: 'Microsoft Azure Delete Dataset In A Share'
      description: Delete a DataSet in a share
      operationId: microsoftAzureDatasetsDelete
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareName
          in: path
          description: The name of the share.
          required: true
          type: string
        - name: dataSetName
          in: path
          description: The name of the dataSet.
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: Success
        '202':
          description: Accepted
        '204':
          description: Success
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-long-running-operation: true
      x-ms-examples:
        DataSets_Delete:
          $ref: ./examples/DataSets_Delete.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/dataSets
  : get:
      tags:
        - DataSet
      summary: 'Microsoft Azure List Datasets In A Share'
      description: List DataSets in a share
      operationId: microsoftAzureDatasetsListbyshare
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareName
          in: path
          description: The name of the share.
          required: true
          type: string
        - $ref: '#/parameters/api-version'
        - name: $skipToken
          in: query
          description: continuation token
          required: false
          type: string
        - name: $filter
          in: query
          description: Filters the results using OData syntax.
          required: false
          type: string
        - name: $orderby
          in: query
          description: Sorts the results using OData syntax.
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DataSetList'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        DataSets_ListByShare:
          $ref: ./examples/DataSets_ListByShare.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/dataSetMappings/{dataSetMappingName}
  : get:
      tags:
        - DataSetMapping
      summary: 'Microsoft Azure Get Datasetmapping In A Sharesubscription'
      description: Get a DataSetMapping in a shareSubscription
      operationId: microsoftAzureDatasetmappingsGet
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareSubscriptionName
          in: path
          description: The name of the shareSubscription.
          required: true
          type: string
        - name: dataSetMappingName
          in: path
          description: The name of the dataSetMapping.
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DataSetMapping'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-examples:
        DataSetMappings_Get:
          $ref: ./examples/DataSetMappings_Get.json
    put:
      tags:
        - DataSetMapping
      summary: "Microsoft Azure Maps A Source Data Set In The Source Share To A Sink Data Set In The Share Subscription \r\nenables Copying The Data Set From Source To Destination"
      description: 'Create a DataSetMapping '
      operationId: microsoftAzureDatasetmappingsCreate
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareSubscriptionName
          in: path
          description: >-
            The name of the share subscription which will hold the data set
            sink.
          required: true
          type: string
        - name: dataSetMappingName
          in: path
          description: The name of the data set mapping to be created.
          required: true
          type: string
        - name: dataSetMapping
          in: body
          description: Destination data set configuration details.
          required: true
          schema:
            $ref: '#/definitions/DataSetMapping'
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DataSetMapping'
        '201':
          description: Success
          schema:
            $ref: '#/definitions/DataSetMapping'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-examples:
        DataSetMappings_Create:
          $ref: ./examples/DataSetMappings_Create.json
        DataSetMappings_SqlDW_Create:
          $ref: ./examples/DataSetMappings_SqlDW_Create.json
        DataSetMappings_SqlDB_Create:
          $ref: ./examples/DataSetMappings_SqlDB_Create.json
        DataSetMappings_SqlDWDataSetToAdlsGen2File_Create:
          $ref: ./examples/DataSetMappings_SqlDWDataSetToAdlsGen2File_Create.json
    delete:
      tags:
        - DataSetMapping
      summary: 'Microsoft Azure Delete Datasetmapping In A Sharesubscription'
      description: Delete a DataSetMapping in a shareSubscription
      operationId: microsoftAzureDatasetmappingsDelete
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareSubscriptionName
          in: path
          description: The name of the shareSubscription.
          required: true
          type: string
        - name: dataSetMappingName
          in: path
          description: The name of the dataSetMapping.
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: Success
        '204':
          description: Success
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-examples:
        DataSetMappings_Delete:
          $ref: ./examples/DataSetMappings_Delete.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/dataSetMappings
  : get:
      tags:
        - DataSetMapping
      summary: 'Microsoft Azure List Datasetmappings In A Share Subscription'
      description: List DataSetMappings in a share subscription
      operationId: microsoftAzureDatasetmappingsListbysharesubscription
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareSubscriptionName
          in: path
          description: The name of the share subscription.
          required: true
          type: string
        - $ref: '#/parameters/api-version'
        - name: $skipToken
          in: query
          description: Continuation token
          required: false
          type: string
        - name: $filter
          in: query
          description: Filters the results using OData syntax.
          required: false
          type: string
        - name: $orderby
          in: query
          description: Sorts the results using OData syntax.
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DataSetMappingList'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        DataSetMappings_ListByShareSubscription:
          $ref: ./examples/DataSetMappings_ListByShareSubscription.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/invitations/{invitationName}
  : get:
      tags:
        - Invitation
      summary: 'Microsoft Azure Get Invitation In A Share'
      description: Get an invitation in a share
      operationId: microsoftAzureInvitationsGet
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareName
          in: path
          description: The name of the share.
          required: true
          type: string
        - name: invitationName
          in: path
          description: The name of the invitation.
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Invitation'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-examples:
        Invitations_Get:
          $ref: ./examples/Invitations_Get.json
    put:
      tags:
        - Invitation
      summary: 'Microsoft Azure Sends A New Invitation To A Recipient To Access A Share'
      description: 'Create an invitation '
      operationId: microsoftAzureInvitationsCreate
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareName
          in: path
          description: The name of the share to send the invitation for.
          required: true
          type: string
        - name: invitationName
          in: path
          description: The name of the invitation.
          required: true
          type: string
        - name: invitation
          in: body
          description: Invitation details.
          required: true
          schema:
            $ref: '#/definitions/Invitation'
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Invitation'
        '201':
          description: Success
          schema:
            $ref: '#/definitions/Invitation'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-examples:
        Invitations_Create:
          $ref: ./examples/Invitations_Create.json
    delete:
      tags:
        - Invitation
      summary: 'Microsoft Azure Delete Invitation In A Share'
      description: Delete an invitation in a share
      operationId: microsoftAzureInvitationsDelete
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareName
          in: path
          description: The name of the share.
          required: true
          type: string
        - name: invitationName
          in: path
          description: The name of the invitation.
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: Success
        '204':
          description: Success
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-examples:
        Invitations_Delete:
          $ref: ./examples/Invitations_Delete.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/invitations
  : get:
      tags:
        - Invitation
      summary: 'Microsoft Azure List All Invitations In A Share'
      description: List invitations in a share
      operationId: microsoftAzureInvitationsListbyshare
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareName
          in: path
          description: The name of the share.
          required: true
          type: string
        - $ref: '#/parameters/api-version'
        - name: $skipToken
          in: query
          description: The continuation token
          required: false
          type: string
        - name: $filter
          in: query
          description: Filters the results using OData syntax.
          required: false
          type: string
        - name: $orderby
          in: query
          description: Sorts the results using OData syntax.
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/InvitationList'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Invitations_ListByShare:
          $ref: ./examples/Invitations_ListByShare.json
  /providers/Microsoft.DataShare/operations:
    get:
      tags:
        - Operation
      summary: Microsoft Azure Lists The Available Operations
      description: List of available operations
      operationId: microsoftAzureOperationsList
      parameters:
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/OperationList'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Operations_List:
          $ref: ./examples/Operations_List.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/listSynchronizationDetails
  : post:
      tags:
        - Share
      summary: Microsoft Azure List Data Set Level Details For A Share Synchronization
      description: List synchronization details
      operationId: microsoftAzureSharesListsynchronizationdetails
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareName
          in: path
          description: The name of the share.
          required: true
          type: string
        - name: shareSynchronization
          in: body
          description: Share Synchronization payload.
          required: true
          schema:
            $ref: '#/definitions/ShareSynchronization'
        - $ref: '#/parameters/api-version'
        - name: $skipToken
          in: query
          description: Continuation token
          required: false
          type: string
        - name: $filter
          in: query
          description: Filters the results using OData syntax.
          required: false
          type: string
        - name: $orderby
          in: query
          description: Sorts the results using OData syntax.
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SynchronizationDetailsList'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Shares_ListSynchronizationDetails:
          $ref: ./examples/Shares_ListSynchronizationDetails.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/listSynchronizations
  : post:
      tags:
        - Share
      summary: Microsoft Azure List Synchronizations In A Share
      description: List synchronizations of a share
      operationId: microsoftAzureSharesListsynchronizations
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareName
          in: path
          description: The name of the share.
          required: true
          type: string
        - $ref: '#/parameters/api-version'
        - name: $skipToken
          in: query
          description: Continuation token
          required: false
          type: string
        - name: $filter
          in: query
          description: Filters the results using OData syntax.
          required: false
          type: string
        - name: $orderby
          in: query
          description: Sorts the results using OData syntax.
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ShareSynchronizationList'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Shares_ListSynchronizations:
          $ref: ./examples/Shares_ListSynchronizations.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/providerShareSubscriptions/{providerShareSubscriptionId}/reinstate
  : post:
      tags:
        - Share
      summary: 'Microsoft Azure Reinstate Share Subscription In A Provider Share'
      description: Reinstate share subscription in a provider share
      operationId: microsoftAzureProvidersharesubscriptionsReinstate
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareName
          in: path
          description: The name of the share.
          required: true
          type: string
        - name: providerShareSubscriptionId
          in: path
          description: To locate shareSubscription
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ProviderShareSubscription'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-examples:
        ProviderShareSubscriptions_Reinstate:
          $ref: ./examples/ProviderShareSubscriptions_Reinstate.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/providerShareSubscriptions/{providerShareSubscriptionId}/revoke
  : post:
      tags:
        - Share
      summary: 'Microsoft Azure Revoke Share Subscription In A Provider Share'
      description: Revoke share subscription in a provider share
      operationId: microsoftAzureProvidersharesubscriptionsRevoke
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareName
          in: path
          description: The name of the share.
          required: true
          type: string
        - name: providerShareSubscriptionId
          in: path
          description: To locate shareSubscription
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ProviderShareSubscription'
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/ProviderShareSubscription'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        ProviderShareSubscriptions_Revoke:
          $ref: ./examples/ProviderShareSubscriptions_Revoke.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/providerShareSubscriptions/{providerShareSubscriptionId}
  : get:
      tags:
        - Share
      summary: 'Microsoft Azure Get Share Subscription In A Provider Share'
      description: Get share subscription in a provider share
      operationId: microsoftAzureProvidersharesubscriptionsGetbyshare
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareName
          in: path
          description: The name of the share.
          required: true
          type: string
        - name: providerShareSubscriptionId
          in: path
          description: To locate shareSubscription
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ProviderShareSubscription'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-examples:
        ProviderShareSubscriptions_GetByShare:
          $ref: ./examples/ProviderShareSubscriptions_GetByShare.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/providerShareSubscriptions
  : get:
      tags:
        - Share
      summary: 'Microsoft Azure List Of Available Share Subscriptions To A Provider Share'
      description: List share subscriptions in a provider share
      operationId: microsoftAzureProvidersharesubscriptionsListbyshare
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareName
          in: path
          description: The name of the share.
          required: true
          type: string
        - $ref: '#/parameters/api-version'
        - name: $skipToken
          in: query
          description: Continuation Token
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ProviderShareSubscriptionList'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ProviderShareSubscriptions_ListByShare:
          $ref: ./examples/ProviderShareSubscriptions_ListByShare.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}
  : get:
      tags:
        - Share
      summary: Microsoft Azure Get A Specified Share
      description: 'Get a share '
      operationId: microsoftAzureSharesGet
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareName
          in: path
          description: The name of the share to retrieve.
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Share'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-examples:
        Shares_Get:
          $ref: ./examples/Shares_Get.json
    put:
      tags:
        - Share
      summary: 'Microsoft Azure Create A Share In The Given Account'
      description: 'Create a share '
      operationId: microsoftAzureSharesCreate
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareName
          in: path
          description: The name of the share.
          required: true
          type: string
        - name: share
          in: body
          description: The share payload
          required: true
          schema:
            $ref: '#/definitions/Share'
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Share'
        '201':
          description: Success
          schema:
            $ref: '#/definitions/Share'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-examples:
        Shares_Create:
          $ref: ./examples/Shares_Create.json
    delete:
      tags:
        - Share
      summary: Microsoft Azure Deletes A Share
      description: 'Delete a share '
      operationId: microsoftAzureSharesDelete
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareName
          in: path
          description: The name of the share.
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/OperationResponse'
        '202':
          description: Accepted
        '204':
          description: Success
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-long-running-operation: true
      x-ms-examples:
        Shares_Delete:
          $ref: ./examples/Shares_Delete.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares
  : get:
      tags:
        - Share
      summary: 'Microsoft Azure List Of Available Shares Under An Account'
      description: List shares in an account
      operationId: microsoftAzureSharesListbyaccount
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - $ref: '#/parameters/api-version'
        - name: $skipToken
          in: query
          description: Continuation Token
          required: false
          type: string
        - name: $filter
          in: query
          description: Filters the results using OData syntax.
          required: false
          type: string
        - name: $orderby
          in: query
          description: Sorts the results using OData syntax.
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ShareList'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Shares_ListByAccount:
          $ref: ./examples/Shares_ListByAccount.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/cancelSynchronization
  : post:
      tags:
        - ShareSubscription
      summary: Microsoft Azure Request Cancellation Of A Data Share Snapshot
      description: Request to cancel a synchronization.
      operationId: microsoftAzureSharesubscriptionsCancelsynchronization
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareSubscriptionName
          in: path
          description: The name of the shareSubscription.
          required: true
          type: string
        - name: shareSubscriptionSynchronization
          in: body
          description: Share Subscription Synchronization payload.
          required: true
          schema:
            $ref: '#/definitions/ShareSubscriptionSynchronization'
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ShareSubscriptionSynchronization'
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/ShareSubscriptionSynchronization'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        ShareSubscriptions_CancelSynchronization:
          $ref: ./examples/ShareSubscriptions_CancelSynchronization.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/consumerSourceDataSets
  : get:
      tags:
        - ShareSubscription
      summary: 'Microsoft Azure Get Source Datasets Of A Sharesubscription'
      description: Get source dataSets of a shareSubscription
      operationId: microsoftAzureConsumersourcedatasetsListbysharesubscription
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareSubscriptionName
          in: path
          description: The name of the shareSubscription.
          required: true
          type: string
        - $ref: '#/parameters/api-version'
        - name: $skipToken
          in: query
          description: Continuation token
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ConsumerSourceDataSetList'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ConsumerSourceDataSets_ListByShareSubscription:
          $ref: ./examples/ConsumerSourceDataSets_ListByShareSubscription.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/listSourceShareSynchronizationSettings
  : post:
      tags:
        - ShareSubscription
      summary: 'Microsoft Azure Get Source Share Synchronization Settings For A Sharesubscription'
      description: Get synchronization settings set on a share
      operationId: microsoftAzureSharesubscriptionsListsourcesharesynchronizationsettings
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareSubscriptionName
          in: path
          description: The name of the shareSubscription.
          required: true
          type: string
        - $ref: '#/parameters/api-version'
        - name: $skipToken
          in: query
          description: Continuation token
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SourceShareSynchronizationSettingList'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ShareSubscriptions_ListSourceShareSynchronizationSettings:
          $ref: >-
            ./examples/ShareSubscriptions_ListSourceShareSynchronizationSettings.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/listSynchronizationDetails
  : post:
      tags:
        - ShareSubscription
      summary: Microsoft Azure List Data Set Level Details For A Share Subscription Synchronization
      description: List synchronization details
      operationId: microsoftAzureSharesubscriptionsListsynchronizationdetails
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareSubscriptionName
          in: path
          description: The name of the share subscription.
          required: true
          type: string
        - name: shareSubscriptionSynchronization
          in: body
          description: Share Subscription Synchronization payload.
          required: true
          schema:
            $ref: '#/definitions/ShareSubscriptionSynchronization'
        - $ref: '#/parameters/api-version'
        - name: $skipToken
          in: query
          description: Continuation token
          required: false
          type: string
        - name: $filter
          in: query
          description: Filters the results using OData syntax.
          required: false
          type: string
        - name: $orderby
          in: query
          description: Sorts the results using OData syntax.
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SynchronizationDetailsList'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ShareSubscriptions_ListSynchronizationDetails:
          $ref: ./examples/ShareSubscriptions_ListSynchronizationDetails.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/listSynchronizations
  : post:
      tags:
        - ShareSubscription
      summary: 'Microsoft Azure List Synchronizations In A Share Subscription'
      description: List synchronizations of a share subscription
      operationId: microsoftAzureSharesubscriptionsListsynchronizations
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareSubscriptionName
          in: path
          description: The name of the share subscription.
          required: true
          type: string
        - $ref: '#/parameters/api-version'
        - name: $skipToken
          in: query
          description: Continuation token
          required: false
          type: string
        - name: $filter
          in: query
          description: Filters the results using OData syntax.
          required: false
          type: string
        - name: $orderby
          in: query
          description: Sorts the results using OData syntax.
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ShareSubscriptionSynchronizationList'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ShareSubscriptions_ListSynchronizations:
          $ref: ./examples/ShareSubscriptions_ListSynchronizations.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/synchronize
  : post:
      tags:
        - ShareSubscription
      summary: Microsoft Azure Initiate An Asynchronous Data Share Job
      description: Initiate a copy
      operationId: microsoftAzureSharesubscriptionsSynchronize
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareSubscriptionName
          in: path
          description: The name of share subscription
          required: true
          type: string
        - name: synchronize
          in: body
          description: Synchronize payload
          required: true
          schema:
            $ref: '#/definitions/Synchronize'
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ShareSubscriptionSynchronization'
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/ShareSubscriptionSynchronization'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        ShareSubscriptions_Synchronize:
          $ref: ./examples/ShareSubscriptions_Synchronize.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}
  : get:
      tags:
        - ShareSubscription
      summary: 'Microsoft Azure Get Sharesubscription In An Account'
      description: Get a shareSubscription in an account
      operationId: microsoftAzureSharesubscriptionsGet
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareSubscriptionName
          in: path
          description: The name of the shareSubscription.
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ShareSubscription'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-examples:
        ShareSubscriptions_Get:
          $ref: ./examples/ShareSubscriptions_Get.json
    put:
      tags:
        - ShareSubscription
      summary: 'Microsoft Azure Create Sharesubscription In An Account'
      description: Create a shareSubscription in an account
      operationId: microsoftAzureSharesubscriptionsCreate
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareSubscriptionName
          in: path
          description: The name of the shareSubscription.
          required: true
          type: string
        - name: shareSubscription
          in: body
          description: create parameters for shareSubscription
          required: true
          schema:
            $ref: '#/definitions/ShareSubscription'
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ShareSubscription'
        '201':
          description: Success
          schema:
            $ref: '#/definitions/ShareSubscription'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-examples:
        ShareSubscriptions_Create:
          $ref: ./examples/ShareSubscriptions_Create.json
    delete:
      tags:
        - ShareSubscription
      summary: 'Microsoft Azure Delete Sharesubscription In An Account'
      description: Delete a shareSubscription in an account
      operationId: microsoftAzureSharesubscriptionsDelete
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareSubscriptionName
          in: path
          description: The name of the shareSubscription.
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/OperationResponse'
        '202':
          description: Accepted
        '204':
          description: Success
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-long-running-operation: true
      x-ms-examples:
        ShareSubscriptions_Delete:
          $ref: ./examples/ShareSubscriptions_Delete.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions
  : get:
      tags:
        - ShareSubscription
      summary: 'Microsoft Azure List Of Available Share Subscriptions Under An Account'
      description: List share subscriptions in an account
      operationId: microsoftAzureSharesubscriptionsListbyaccount
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - $ref: '#/parameters/api-version'
        - name: $skipToken
          in: query
          description: Continuation Token
          required: false
          type: string
        - name: $filter
          in: query
          description: Filters the results using OData syntax.
          required: false
          type: string
        - name: $orderby
          in: query
          description: Sorts the results using OData syntax.
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ShareSubscriptionList'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ShareSubscriptions_ListByAccount:
          $ref: ./examples/ShareSubscriptions_ListByAccount.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/synchronizationSettings/{synchronizationSettingName}
  : get:
      tags:
        - SynchronizationSetting
      summary: 'Microsoft Azure Get Synchronizationsetting In A Share'
      description: Get a synchronizationSetting in a share
      operationId: microsoftAzureSynchronizationsettingsGet
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareName
          in: path
          description: The name of the share.
          required: true
          type: string
        - name: synchronizationSettingName
          in: path
          description: The name of the synchronizationSetting.
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SynchronizationSetting'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-examples:
        SynchronizationSettings_Get:
          $ref: ./examples/SynchronizationSettings_Get.json
    put:
      tags:
        - SynchronizationSetting
      summary: 'Microsoft Azure Adds A New Synchronization Setting To An Existing Share'
      description: Create a synchronizationSetting
      operationId: microsoftAzureSynchronizationsettingsCreate
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareName
          in: path
          description: The name of the share to add the synchronization setting to.
          required: true
          type: string
        - name: synchronizationSettingName
          in: path
          description: The name of the synchronizationSetting.
          required: true
          type: string
        - name: synchronizationSetting
          in: body
          description: The new synchronization setting information.
          required: true
          schema:
            $ref: '#/definitions/SynchronizationSetting'
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SynchronizationSetting'
        '201':
          description: Success
          schema:
            $ref: '#/definitions/SynchronizationSetting'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-examples:
        SynchronizationSettings_Create:
          $ref: ./examples/SynchronizationSettings_Create.json
    delete:
      tags:
        - SynchronizationSetting
      summary: 'Microsoft Azure Delete Synchronizationsetting In A Share'
      description: Delete a synchronizationSetting in a share
      operationId: microsoftAzureSynchronizationsettingsDelete
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareName
          in: path
          description: The name of the share.
          required: true
          type: string
        - name: synchronizationSettingName
          in: path
          description: The name of the synchronizationSetting .
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/OperationResponse'
        '202':
          description: Accepted
        '204':
          description: Success
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-long-running-operation: true
      x-ms-examples:
        SynchronizationSettings_Delete:
          $ref: ./examples/SynchronizationSettings_Delete.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/synchronizationSettings
  : get:
      tags:
        - SynchronizationSetting
      summary: 'Microsoft Azure List Synchronizationsettings In A Share'
      description: List synchronizationSettings in a share
      operationId: microsoftAzureSynchronizationsettingsListbyshare
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareName
          in: path
          description: The name of the share.
          required: true
          type: string
        - $ref: '#/parameters/api-version'
        - name: $skipToken
          in: query
          description: continuation token
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SynchronizationSettingList'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        SynchronizationSettings_ListByShare:
          $ref: ./examples/SynchronizationSettings_ListByShare.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/triggers/{triggerName}
  : get:
      tags:
        - Trigger
      summary: 'Microsoft Azure Get Trigger In A Sharesubscription'
      description: Get a Trigger in a shareSubscription
      operationId: microsoftAzureTriggersGet
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareSubscriptionName
          in: path
          description: The name of the shareSubscription.
          required: true
          type: string
        - name: triggerName
          in: path
          description: The name of the trigger.
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Trigger'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-examples:
        Triggers_Get:
          $ref: ./examples/Triggers_Get.json
    put:
      tags:
        - Trigger
      summary: Microsoft Azure This Method Creates A Trigger For A Share Subscription
      description: 'Create a Trigger '
      operationId: microsoftAzureTriggersCreate
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareSubscriptionName
          in: path
          description: >-
            The name of the share subscription which will hold the data set
            sink.
          required: true
          type: string
        - name: triggerName
          in: path
          description: The name of the trigger.
          required: true
          type: string
        - name: trigger
          in: body
          description: Trigger details.
          required: true
          schema:
            $ref: '#/definitions/Trigger'
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Trigger'
        '201':
          description: Success
          schema:
            $ref: '#/definitions/Trigger'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-long-running-operation: true
      x-ms-examples:
        Triggers_Create:
          $ref: ./examples/Triggers_Create.json
    delete:
      tags:
        - Trigger
      summary: 'Microsoft Azure Delete Trigger In A Sharesubscription'
      description: Delete a Trigger in a shareSubscription
      operationId: microsoftAzureTriggersDelete
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareSubscriptionName
          in: path
          description: The name of the shareSubscription.
          required: true
          type: string
        - name: triggerName
          in: path
          description: The name of the trigger.
          required: true
          type: string
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/OperationResponse'
        '202':
          description: Accepted
        '204':
          description: Success
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-long-running-operation: true
      x-ms-examples:
        Triggers_Delete:
          $ref: ./examples/Triggers_Delete.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/triggers
  : get:
      tags:
        - Trigger
      summary: 'Microsoft Azure List Triggers In A Share Subscription'
      description: List Triggers in a share subscription
      operationId: microsoftAzureTriggersListbysharesubscription
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/accountName'
        - name: shareSubscriptionName
          in: path
          description: The name of the share subscription.
          required: true
          type: string
        - $ref: '#/parameters/api-version'
        - name: $skipToken
          in: query
          description: Continuation token
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TriggerList'
        default:
          description: >-
            An error response received from the Microsoft.DataShare resource
            provider.
          schema:
            $ref: '#/definitions/DataShareError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Triggers_ListByShareSubscription:
          $ref: ./examples/Triggers_ListByShareSubscription.json
definitions:
  Account:
    description: An account data transfer object.
    required:
      - identity
    type: object
    allOf:
      - $ref: '#/definitions/DefaultDto'
    properties:
      identity:
        $ref: '#/definitions/Identity'
        description: Identity Info on the Account
      properties:
        $ref: '#/definitions/AccountProperties'
        description: Properties on the account
        x-ms-client-flatten: true
  AccountList:
    description: List response for get Accounts.
    required:
      - value
    type: object
    properties:
      nextLink:
        description: The Url of next result page.
        type: string
      value:
        description: Collection of items of type DataTransferObjects.
        uniqueItems: false
        type: array
        items:
          $ref: '#/definitions/Account'
  AccountProperties:
    description: Account property bag.
    type: object
    properties:
      createdAt:
        format: date-time
        description: Time at which the account was created.
        type: string
        readOnly: true
      provisioningState:
        description: Provisioning state of the Account
        enum:
          - Succeeded
          - Creating
          - Deleting
          - Moving
          - Failed
        type: string
        readOnly: true
        x-ms-enum:
          name: provisioningState
          modelAsString: true
      userEmail:
        description: Email of the user who created the resource
        type: string
        readOnly: true
      userName:
        description: Name of the user who created the resource
        type: string
        readOnly: true
  AccountUpdateParameters:
    description: Update parameters for accounts
    type: object
    properties:
      tags:
        description: Tags on the azure resource.
        type: object
        additionalProperties:
          type: string
  ADLSGen1FileDataSet:
    description: An ADLS Gen 1 file data set.
    required:
      - properties
      - kind
    type: object
    allOf:
      - $ref: '#/definitions/DataSet'
    properties:
      properties:
        $ref: '#/definitions/ADLSGen1FileProperties'
        description: ADLS Gen 1 file data set properties.
        x-ms-client-flatten: true
    x-ms-discriminator-value: AdlsGen1File
  ADLSGen1FileProperties:
    description: Properties of the ADLS Gen1 file data set.
    required:
      - subscriptionId
      - resourceGroup
      - accountName
      - folderPath
      - fileName
    type: object
    properties:
      accountName:
        description: The ADLS account name.
        type: string
      dataSetId:
        description: Unique id for identifying a data set resource
        type: string
        readOnly: true
      fileName:
        description: The file name in the ADLS account.
        type: string
      folderPath:
        description: The folder path within the ADLS account.
        type: string
      resourceGroup:
        description: Resource group of ADLS account.
        type: string
      subscriptionId:
        description: Subscription id of ADLS account.
        type: string
  ADLSGen1FolderDataSet:
    description: An ADLS Gen 1 folder data set.
    required:
      - properties
      - kind
    type: object
    allOf:
      - $ref: '#/definitions/DataSet'
    properties:
      properties:
        $ref: '#/definitions/ADLSGen1FolderProperties'
        description: ADLS Gen 1 folder data set properties.
        x-ms-client-flatten: true
    x-ms-discriminator-value: AdlsGen1Folder
  ADLSGen1FolderProperties:
    description: Properties of the ADLS Gen1 folder data set.
    required:
      - subscriptionId
      - resourceGroup
      - accountName
      - folderPath
    type: object
    properties:
      accountName:
        description: The ADLS account name.
        type: string
      dataSetId:
        description: Unique id for identifying a data set resource
        type: string
        readOnly: true
      folderPath:
        description: The folder path within the ADLS account.
        type: string
      resourceGroup:
        description: Resource group of ADLS account.
        type: string
      subscriptionId:
        description: Subscription id of ADLS account.
        type: string
  ADLSGen2FileDataSet:
    description: An ADLS Gen 2 file data set.
    required:
      - properties
      - kind
    type: object
    allOf:
      - $ref: '#/definitions/DataSet'
    properties:
      properties:
        $ref: '#/definitions/ADLSGen2FileProperties'
        description: ADLS Gen 2 file data set properties.
        x-ms-client-flatten: true
    x-ms-discriminator-value: AdlsGen2File
  ADLSGen2FileDataSetMapping:
    description: An ADLS Gen2 file data set mapping.
    required:
      - properties
      - kind
    type: object
    allOf:
      - $ref: '#/definitions/DataSetMapping'
    properties:
      properties:
        $ref: '#/definitions/ADLSGen2FileDataSetMappingProperties'
        description: ADLS Gen2 file data set mapping properties.
        x-ms-client-flatten: true
    x-ms-discriminator-value: AdlsGen2File
  ADLSGen2FileDataSetMappingProperties:
    description: ADLS Gen 2 file data set mapping property bag.
    required:
      - fileSystem
      - filePath
      - subscriptionId
      - resourceGroup
      - storageAccountName
      - dataSetId
    type: object
    properties:
      dataSetId:
        description: The id of the source data set.
        type: string
      dataSetMappingStatus:
        description: Gets the status of the data set mapping.
        enum:
          - Ok
          - Broken
        type: string
        readOnly: true
        x-ms-enum:
          name: dataSetMappingStatus
          modelAsString: true
      filePath:
        description: File path within the file system.
        type: string
      fileSystem:
        description: File system to which the file belongs.
        type: string
      outputType:
        description: Type of output file
        enum:
          - Csv
          - Parquet
        type: string
        x-ms-enum:
          name: outputType
          modelAsString: true
      provisioningState:
        description: Provisioning state of the data set mapping.
        enum:
          - Succeeded
          - Creating
          - Deleting
          - Moving
          - Failed
        type: string
        readOnly: true
        x-ms-enum:
          name: provisioningState
          modelAsString: true
      resourceGroup:
        description: Resource group of storage account.
        type: string
      storageAccountName:
        description: Storage account name of the source data set.
        type: string
      subscriptionId:
        description: Subscription id of storage account.
        type: string
  ADLSGen2FileProperties:
    description: Properties of the ADLS Gen2 file data set.
    required:
      - fileSystem
      - filePath
      - subscriptionId
      - resourceGroup
      - storageAccountName
    type: object
    properties:
      dataSetId:
        description: Unique id for identifying a data set resource
        type: string
        readOnly: true
      filePath:
        description: File path within the file system.
        type: string
      fileSystem:
        description: File system to which the file belongs.
        type: string
      resourceGroup:
        description: Resource group of storage account
        type: string
      storageAccountName:
        description: Storage account name of the source data set
        type: string
      subscriptionId:
        description: Subscription id of storage account
        type: string
  ADLSGen2FileSystemDataSet:
    description: An ADLS Gen 2 file system data set.
    required:
      - properties
      - kind
    type: object
    allOf:
      - $ref: '#/definitions/DataSet'
    properties:
      properties:
        $ref: '#/definitions/ADLSGen2FileSystemProperties'
        description: ADLS Gen 2 file system data set properties.
        x-ms-client-flatten: true
    x-ms-discriminator-value: AdlsGen2FileSystem
  ADLSGen2FileSystemDataSetMapping:
    description: An ADLS Gen2 file system data set mapping.
    required:
      - properties
      - kind
    type: object
    allOf:
      - $ref: '#/definitions/DataSetMapping'
    properties:
      properties:
        $ref: '#/definitions/ADLSGen2FileSystemDataSetMappingProperties'
        description: ADLS Gen2 file system data set mapping properties.
        x-ms-client-flatten: true
    x-ms-discriminator-value: AdlsGen2FileSystem
  ADLSGen2FileSystemDataSetMappingProperties:
    description: ADLS Gen 2 file system data set mapping property bag.
    required:
      - fileSystem
      - subscriptionId
      - resourceGroup
      - storageAccountName
      - dataSetId
    type: object
    properties:
      dataSetId:
        description: The id of the source data set.
        type: string
      dataSetMappingStatus:
        description: Gets the status of the data set mapping.
        enum:
          - Ok
          - Broken
        type: string
        readOnly: true
        x-ms-enum:
          name: dataSetMappingStatus
          modelAsString: true
      fileSystem:
        description: The file system name.
        type: string
      provisioningState:
        description: Provisioning state of the data set mapping.
        enum:
          - Succeeded
          - Creating
          - Deleting
          - Moving
          - Failed
        type: string
        readOnly: true
        x-ms-enum:
          name: provisioningState
          modelAsString: true
      resourceGroup:
        description: Resource group of storage account.
        type: string
      storageAccountName:
        description: Storage account name of the source data set.
        type: string
      subscriptionId:
        description: Subscription id of storage account.
        type: string
  ADLSGen2FileSystemProperties:
    description: Properties of the ADLS Gen2 file system data set.
    required:
      - fileSystem
      - subscriptionId
      - resourceGroup
      - storageAccountName
    type: object
    properties:
      dataSetId:
        description: Unique id for identifying a data set resource
        type: string
        readOnly: true
      fileSystem:
        description: The file system name.
        type: string
      resourceGroup:
        description: Resource group of storage account
        type: string
      storageAccountName:
        description: Storage account name of the source data set
        type: string
      subscriptionId:
        description: Subscription id of storage account
        type: string
  ADLSGen2FolderDataSet:
    description: An ADLS Gen 2 folder data set.
    required:
      - properties
      - kind
    type: object
    allOf:
      - $ref: '#/definitions/DataSet'
    properties:
      properties:
        $ref: '#/definitions/ADLSGen2FolderProperties'
        description: ADLS Gen 2 folder data set properties.
        x-ms-client-flatten: true
    x-ms-discriminator-value: AdlsGen2Folder
  ADLSGen2FolderDataSetMapping:
    description: An ADLS Gen2 folder data set mapping.
    required:
      - properties
      - kind
    type: object
    allOf:
      - $ref: '#/definitions/DataSetMapping'
    properties:
      properties:
        $ref: '#/definitions/ADLSGen2FolderDataSetMappingProperties'
        description: ADLS Gen2 folder data set mapping properties.
        x-ms-client-flatten: true
    x-ms-discriminator-value: AdlsGen2Folder
  ADLSGen2FolderDataSetMappingProperties:
    description: ADLS Gen 2 folder data set mapping property bag.
    required:
      - fileSystem
      - folderPath
      - subscriptionId
      - resourceGroup
      - storageAccountName
      - dataSetId
    type: object
    properties:
      dataSetId:
        description: The id of the source data set.
        type: string
      dataSetMappingStatus:
        description: Gets the status of the data set mapping.
        enum:
          - Ok
          - Broken
        type: string
        readOnly: true
        x-ms-enum:
          name: dataSetMappingStatus
          modelAsString: true
      fileSystem:
        description: File system to which the folder belongs.
        type: string
      folderPath:
        description: Folder path within the file system.
        type: string
      provisioningState:
        description: Provisioning state of the data set mapping.
        enum:
          - Succeeded
          - Creating
          - Deleting
          - Moving
          - Failed
        type: string
        readOnly: true
        x-ms-enum:
          name: provisioningState
          modelAsString: true
      resourceGroup:
        description: Resource group of storage account.
        type: string
      storageAccountName:
        description: Storage account name of the source data set.
        type: string
      subscriptionId:
        description: Subscription id of storage account.
        type: string
  ADLSGen2FolderProperties:
    description: Properties of the ADLS Gen2 folder data set.
    required:
      - fileSystem
      - folderPath
      - subscriptionId
      - resourceGroup
      - storageAccountName
    type: object
    properties:
      dataSetId:
        description: Unique id for identifying a data set resource
        type: string
        readOnly: true
      fileSystem:
        description: File system to which the folder belongs.
        type: string
      folderPath:
        description: Folder path within the file system.
        type: string
      resourceGroup:
        description: Resource group of storage account
        type: string
      storageAccountName:
        description: Storage account name of the source data set
        type: string
      subscriptionId:
        description: Subscription id of storage account
        type: string
  BlobContainerDataSet:
    description: An Azure storage blob container data set.
    required:
      - properties
      - kind
    type: object
    allOf:
      - $ref: '#/definitions/DataSet'
    properties:
      properties:
        $ref: '#/definitions/BlobContainerProperties'
        description: Blob container data set properties.
        x-ms-client-flatten: true
    x-ms-discriminator-value: Container
  BlobContainerDataSetMapping:
    description: A Blob container data set mapping.
    required:
      - properties
      - kind
    type: object
    allOf:
      - $ref: '#/definitions/DataSetMapping'
    properties:
      properties:
        $ref: '#/definitions/BlobContainerMappingProperties'
        description: Blob container data set mapping properties.
        x-ms-client-flatten: true
    x-ms-discriminator-value: Container
  BlobContainerMappingProperties:
    description: Azure storage Blob container data set mapping property bag.
    required:
      - containerName
      - subscriptionId
      - resourceGroup
      - storageAccountName
      - dataSetId
    type: object
    properties:
      containerName:
        description: BLOB Container name.
        type: string
      dataSetId:
        description: The id of the source data set.
        type: string
      dataSetMappingStatus:
        description: Gets the status of the data set mapping.
        enum:
          - Ok
          - Broken
        type: string
        readOnly: true
        x-ms-enum:
          name: dataSetMappingStatus
          modelAsString: true
      provisioningState:
        description: Provisioning state of the data set mapping.
        enum:
          - Succeeded
          - Creating
          - Deleting
          - Moving
          - Failed
        type: string
        readOnly: true
        x-ms-enum:
          name: provisioningState
          modelAsString: true
      resourceGroup:
        description: Resource group of storage account.
        type: string
      storageAccountName:
        description: Storage account name of the source data set.
        type: string
      subscriptionId:
        description: Subscription id of storage account.
        type: string
  BlobContainerProperties:
    description: Properties of the BLOB container data set.
    required:
      - containerName
      - subscriptionId
      - resourceGroup
      - storageAccountName
    type: object
    properties:
      containerName:
        description: BLOB Container name.
        type: string
      dataSetId:
        description: Unique id for identifying a data set resource
        type: string
        readOnly: true
      resourceGroup:
        description: Resource group of storage account
        type: string
      storageAccountName:
        description: Storage account name of the source data set
        type: string
      subscriptionId:
        description: Subscription id of storage account
        type: string
  BlobDataSet:
    description: An Azure storage blob data set.
    required:
      - properties
      - kind
    type: object
    allOf:
      - $ref: '#/definitions/DataSet'
    properties:
      properties:
        $ref: '#/definitions/BlobProperties'
        description: Blob data set properties.
        x-ms-client-flatten: true
    x-ms-discriminator-value: Blob
  BlobDataSetMapping:
    description: A Blob data set mapping.
    required:
      - properties
      - kind
    type: object
    allOf:
      - $ref: '#/definitions/DataSetMapping'
    properties:
      properties:
        $ref: '#/definitions/BlobMappingProperties'
        description: Blob data set mapping properties.
        x-ms-client-flatten: true
    x-ms-discriminator-value: Blob
  BlobFolderDataSet:
    description: An Azure storage blob folder data set.
    required:
      - properties
      - kind
    type: object
    allOf:
      - $ref: '#/definitions/DataSet'
    properties:
      properties:
        $ref: '#/definitions/BlobFolderProperties'
        description: Blob folder data set properties.
        x-ms-client-flatten: true
    x-ms-discriminator-value: BlobFolder
  BlobFolderDataSetMapping:
    description: A Blob folder data set mapping.
    required:
      - properties
      - kind
    type: object
    allOf:
      - $ref: '#/definitions/DataSetMapping'
    properties:
      properties:
        $ref: '#/definitions/BlobFolderMappingProperties'
        description: Blob folder data set mapping properties.
        x-ms-client-flatten: true
    x-ms-discriminator-value: BlobFolder
  BlobFolderMappingProperties:
    description: Azure storage Blob folder data set mapping property bag.
    required:
      - containerName
      - prefix
      - subscriptionId
      - resourceGroup
      - storageAccountName
      - dataSetId
    type: object
    properties:
      containerName:
        description: Container that has the file path.
        type: string
      dataSetId:
        description: The id of the source data set.
        type: string
      dataSetMappingStatus:
        description: Gets the status of the data set mapping.
        enum:
          - Ok
          - Broken
        type: string
        readOnly: true
        x-ms-enum:
          name: dataSetMappingStatus
          modelAsString: true
      prefix:
        description: Prefix for blob folder
        type: string
      provisioningState:
        description: Provisioning state of the data set mapping.
        enum:
          - Succeeded
          - Creating
          - Deleting
          - Moving
          - Failed
        type: string
        readOnly: true
        x-ms-enum:
          name: provisioningState
          modelAsString: true
      resourceGroup:
        description: Resource group of storage account.
        type: string
      storageAccountName:
        description: Storage account name of the source data set.
        type: string
      subscriptionId:
        description: Subscription id of storage account.
        type: string
  BlobFolderProperties:
    description: Properties of the blob folder data set.
    required:
      - containerName
      - prefix
      - subscriptionId
      - resourceGroup
      - storageAccountName
    type: object
    properties:
      containerName:
        description: Container that has the file path.
        type: string
      dataSetId:
        description: Unique id for identifying a data set resource
        type: string
        readOnly: true
      prefix:
        description: Prefix for blob folder
        type: string
      resourceGroup:
        description: Resource group of storage account
        type: string
      storageAccountName:
        description: Storage account name of the source data set
        type: string
      subscriptionId:
        description: Subscription id of storage account
        type: string
  BlobMappingProperties:
    description: Azure storage Blob data set mapping property bag.
    required:
      - containerName
      - filePath
      - subscriptionId
      - resourceGroup
      - storageAccountName
      - dataSetId
    type: object
    properties:
      containerName:
        description: Container that has the file path.
        type: string
      dataSetId:
        description: The id of the source data set.
        type: string
      dataSetMappingStatus:
        description: Gets the status of the data set mapping.
        enum:
          - Ok
          - Broken
        type: string
        readOnly: true
        x-ms-enum:
          name: dataSetMappingStatus
          modelAsString: true
      filePath:
        description: File path within the source data set
        type: string
      outputType:
        description: File output type
        enum:
          - Csv
          - Parquet
        type: string
        x-ms-enum:
          name: outputType
          modelAsString: true
      provisioningState:
        description: Provisioning state of the data set mapping.
        enum:
          - Succeeded
          - Creating
          - Deleting
          - Moving
          - Failed
        type: string
        readOnly: true
        x-ms-enum:
          name: provisioningState
          modelAsString: true
      resourceGroup:
        description: Resource group of storage account.
        type: string
      storageAccountName:
        description: Storage account name of the source data set.
        type: string
      subscriptionId:
        description: Subscription id of storage account.
        type: string
  BlobProperties:
    description: Properties of the blob data set.
    required:
      - containerName
      - filePath
      - subscriptionId
      - resourceGroup
      - storageAccountName
    type: object
    properties:
      containerName:
        description: Container that has the file path.
        type: string
      dataSetId:
        description: Unique id for identifying a data set resource
        type: string
        readOnly: true
      filePath:
        description: File path within the source data set
        type: string
      resourceGroup:
        description: Resource group of storage account
        type: string
      storageAccountName:
        description: Storage account name of the source data set
        type: string
      subscriptionId:
        description: Subscription id of storage account
        type: string
  ConsumerInvitation:
    description: A consumer Invitation data transfer object.
    required:
      - properties
    type: object
    allOf:
      - $ref: '#/definitions/ProxyDto'
    properties:
      properties:
        $ref: '#/definitions/ConsumerInvitationProperties'
        description: Properties on the account
        x-ms-client-flatten: true
  ConsumerInvitationList:
    description: List response for get InvitationList
    required:
      - value
    type: object
    properties:
      nextLink:
        description: The Url of next result page.
        type: string
      value:
        description: Collection of items of type DataTransferObjects.
        uniqueItems: false
        type: array
        items:
          $ref: '#/definitions/ConsumerInvitation'
  ConsumerInvitationProperties:
    description: Properties of consumer invitation
    required:
      - invitationId
    type: object
    properties:
      dataSetCount:
        format: int32
        description: Number of data sets in a share
        type: integer
        readOnly: true
      description:
        description: Description shared when the invitation was created
        type: string
        readOnly: true
      invitationId:
        description: Unique id of the invitation.
        type: string
      invitationStatus:
        description: The status of the invitation.
        enum:
          - Pending
          - Accepted
          - Rejected
          - Withdrawn
        type: string
        readOnly: true
        x-ms-enum:
          name: invitationStatus
          modelAsString: true
      location:
        description: invitation location
        type: string
        readOnly: true
      providerEmail:
        description: Email of the provider who created the resource
        type: string
        readOnly: true
      providerName:
        description: Name of the provider who created the resource
        type: string
        readOnly: true
      providerTenantName:
        description: Tenant name of the provider who created the resource
        type: string
        readOnly: true
      respondedAt:
        format: date-time
        description: The time the recipient responded to the invitation.
        type: string
        readOnly: true
      sentAt:
        format: date-time
        description: Gets the time at which the invitation was sent.
        type: string
        readOnly: true
      shareName:
        description: Gets the source share Name.
        type: string
        readOnly: true
      termsOfUse:
        description: Terms of use shared when the invitation was created
        type: string
        readOnly: true
      userEmail:
        description: Email of the user who created the resource
        type: string
        readOnly: true
      userName:
        description: Name of the user who created the resource
        type: string
        readOnly: true
  ConsumerSourceDataSet:
    description: A consumer side dataSet data transfer object.
    type: object
    allOf:
      - $ref: '#/definitions/ProxyDto'
    properties:
      properties:
        $ref: '#/definitions/ConsumerSourceDataSetProperties'
        description: source dataSet properties
        x-ms-client-flatten: true
  ConsumerSourceDataSetList:
    description: A consumer side list of source dataSets
    required:
      - value
    type: object
    properties:
      nextLink:
        description: The Url of next result page.
        type: string
      value:
        description: Collection of items of type DataTransferObjects.
        uniqueItems: false
        type: array
        items:
          $ref: '#/definitions/ConsumerSourceDataSet'
  ConsumerSourceDataSetProperties:
    description: Properties of consumer source dataSet
    type: object
    properties:
      dataSetId:
        description: DataSet Id
        type: string
        readOnly: true
      dataSetLocation:
        description: Location of the data set.
        type: string
        readOnly: true
      dataSetName:
        description: DataSet name
        type: string
        readOnly: true
      dataSetPath:
        description: DataSet path
        type: string
        readOnly: true
      dataSetType:
        description: Type of data set
        enum:
          - Blob
          - Container
          - BlobFolder
          - AdlsGen2FileSystem
          - AdlsGen2Folder
          - AdlsGen2File
          - AdlsGen1Folder
          - AdlsGen1File
          - KustoCluster
          - KustoDatabase
          - SqlDBTable
          - SqlDWTable
        type: string
        readOnly: true
        x-ms-enum:
          name: dataSetType
          modelAsString: true
  DataSet:
    description: A DataSet data transfer object.
    required:
      - kind
    type: object
    allOf:
      - $ref: '#/definitions/ProxyDto'
    properties:
      kind:
        description: Kind of data set.
        enum:
          - Blob
          - Container
          - BlobFolder
          - AdlsGen2FileSystem
          - AdlsGen2Folder
          - AdlsGen2File
          - AdlsGen1Folder
          - AdlsGen1File
          - KustoCluster
          - KustoDatabase
          - SqlDBTable
          - SqlDWTable
        type: string
        x-ms-enum:
          name: dataSetKind
          modelAsString: true
    discriminator: kind
  DataSetList:
    description: List response for get DataSets
    required:
      - value
    type: object
    properties:
      nextLink:
        description: The Url of next result page.
        type: string
      value:
        description: Collection of items of type DataTransferObjects.
        uniqueItems: false
        type: array
        items:
          $ref: '#/definitions/DataSet'
  DataSetMapping:
    description: A data set mapping data transfer object.
    required:
      - kind
    type: object
    allOf:
      - $ref: '#/definitions/ProxyDto'
    properties:
      kind:
        description: Kind of data set mapping.
        enum:
          - Blob
          - Container
          - BlobFolder
          - AdlsGen2FileSystem
          - AdlsGen2Folder
          - AdlsGen2File
          - KustoCluster
          - KustoDatabase
          - SqlDBTable
          - SqlDWTable
        type: string
        x-ms-enum:
          name: dataSetMappingKind
          modelAsString: true
    discriminator: kind
  DataSetMappingList:
    description: List response for get DataSetMappings
    required:
      - value
    type: object
    properties:
      nextLink:
        description: The Url of next result page.
        type: string
[...]
