swagger: '2.0'
info:
  version: 2021-03-25-preview
  title: Microsoft Azure M365SecurityAndComplianceAPIs
  description: >-
    Use this API to manage Microsoft M365SecurityAndCompliance services in your
    Azure subscription.
host: management.azure.com
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
security:
  - azure_auth:
      - user_impersonation
securityDefinitions:
  azure_auth:
    type: oauth2
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    flow: implicit
    description: Azure Active Directory OAuth2 Flow
    scopes:
      user_impersonation: impersonate your user account
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.M365SecurityAndCompliance/privateLinkServicesForSCCPowershell/{resourceName}
  : get:
      tags:
        - Resource
      description: Get the metadata of a privateLinkServicesForSCCPowershell resource.
      operationId: microsoftAzurePrivatelinkservicesforsccpowershellGet
      x-ms-examples:
        Get metadata:
          $ref: ./examples/SCCPowershellServiceGet.json
      parameters:
        - $ref: ./common-types.json#/parameters/ApiVersionParameter
        - $ref: ./common-types.json#/parameters/subscriptionId
        - $ref: ./common-types.json#/parameters/resourceGroupName
        - $ref: ./common-types.json#/parameters/resourceName
      responses:
        '200':
          description: >-
            The body contains all of the properties of the
            privateLinkServicesForSCCPowershell instance.
          schema:
            $ref: '#/definitions/PrivateLinkServicesForSCCPowershellDescription'
        default:
          description: Default error response
          schema:
            $ref: ./common-types.json#/definitions/ErrorDetails
      deprecated: false
      summary: >-
        Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft M365securityandcompliance Privatelinkservicesforsccpowershell Resourcename
    put:
      tags:
        - Resource
      description: >-
        Create or update the metadata of a privateLinkServicesForSCCPowershell
        instance.
      operationId: microsoftAzurePrivatelinkservicesforsccpowershellCreateorupdate
      x-ms-examples:
        Create or Update a service with all parameters:
          $ref: ./examples/SCCPowershellServiceCreate.json
        Create or Update a service with minimum parameters:
          $ref: ./examples/SCCPowershellServiceCreateMinimum.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      parameters:
        - $ref: ./common-types.json#/parameters/ApiVersionParameter
        - $ref: ./common-types.json#/parameters/subscriptionId
        - $ref: ./common-types.json#/parameters/resourceGroupName
        - $ref: ./common-types.json#/parameters/resourceName
        - name: PrivateLinkServicesForSCCPowershellDescription
          in: body
          description: The service instance metadata.
          required: true
          schema:
            $ref: '#/definitions/PrivateLinkServicesForSCCPowershellDescription'
      responses:
        '200':
          description: >-
            OK. Updated - Put request accepted and an existing resource is being
            updated; the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/PrivateLinkServicesForSCCPowershellDescription'
        '201':
          description: >-
            Created - Put request accepted and a new resource was created; the
            operation will complete asynchronously.
          schema:
            $ref: '#/definitions/PrivateLinkServicesForSCCPowershellDescription'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: ./common-types.json#/definitions/ErrorDetails
      deprecated: false
      summary: >-
        Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft M365securityandcompliance Privatelinkservicesforsccpowershell Resourcename
    patch:
      tags:
        - Resource
      description: Update the metadata of a privateLinkServicesForSCCPowershell instance.
      operationId: microsoftAzurePrivatelinkservicesforsccpowershellUpdate
      x-ms-examples:
        Patch service:
          $ref: ./examples/SCCPowershellServicePatch.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      parameters:
        - $ref: ./common-types.json#/parameters/ApiVersionParameter
        - $ref: ./common-types.json#/parameters/subscriptionId
        - $ref: ./common-types.json#/parameters/resourceGroupName
        - $ref: ./common-types.json#/parameters/resourceName
        - name: servicePatchDescription
          in: body
          description: The service instance metadata and security metadata.
          required: true
          schema:
            $ref: ./common-types.json#/definitions/ServicesPatchDescription
      responses:
        '200':
          description: OK. The resource was updated successfully.
          schema:
            $ref: '#/definitions/PrivateLinkServicesForSCCPowershellDescription'
        '202':
          description: The resource was updated successfully.
          schema:
            $ref: '#/definitions/PrivateLinkServicesForSCCPowershellDescription'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: ./common-types.json#/definitions/ErrorDetails
      deprecated: false
      summary: >-
        Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft M365securityandcompliance Privatelinkservicesforsccpowershell Resourcename
    delete:
      tags:
        - Resource
      description: Delete a service instance.
      operationId: microsoftAzurePrivatelinkservicesforsccpowershellDelete
      x-ms-examples:
        Delete service:
          $ref: ./examples/SCCPowershellServiceDelete.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      parameters:
        - $ref: ./common-types.json#/parameters/ApiVersionParameter
        - $ref: ./common-types.json#/parameters/subscriptionId
        - $ref: ./common-types.json#/parameters/resourceGroupName
        - $ref: ./common-types.json#/parameters/resourceName
      responses:
        '200':
          description: Accepted - Delete request accepted; the operation will complete.
        '202':
          description: >-
            Accepted - Delete request accepted; the operation will complete
            asynchronously.
        '204':
          description: The resource does not exist.
        default:
          description: DefaultErrorResponse
          schema:
            $ref: ./common-types.json#/definitions/ErrorDetails
      summary: >-
        Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft M365securityandcompliance Privatelinkservicesforsccpowershell Resourcename
  /subscriptions/{subscriptionId}/providers/Microsoft.M365SecurityAndCompliance/privateLinkServicesForSCCPowershell:
    get:
      tags:
        - Collection
      description: >-
        Get all the privateLinkServicesForSCCPowershell instances in a
        subscription.
      operationId: microsoftAzurePrivatelinkservicesforsccpowershellList
      x-ms-examples:
        List all services in subscription:
          $ref: ./examples/SCCPowershellServiceList.json
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
        - $ref: ./common-types.json#/parameters/ApiVersionParameter
        - $ref: ./common-types.json#/parameters/subscriptionId
      responses:
        '200':
          description: >-
            This is a synchronous operation. The body contains a JSON-serialized
            array of the metadata from all the
            privateLinkServicesForSCCPowershell instances in the subscription.
          schema:
            $ref: >-
              #/definitions/PrivateLinkServicesForSCCPowershellDescriptionListResult
        default:
          description: DefaultErrorResponse
          schema:
            $ref: ./common-types.json#/definitions/ErrorDetails
      deprecated: false
      summary: >-
        Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft M365securityandcompliance Privatelinkservicesforsccpowershell
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.M365SecurityAndCompliance/privateLinkServicesForSCCPowershell
  : get:
      tags:
        - Collection
      description: Get all the service instances in a resource group.
      operationId: microsoftAzurePrivatelinkservicesforsccpowershellListbyresourcegroup
      x-ms-examples:
        List all services in resource group:
          $ref: ./examples/SCCPowershellServiceListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
        - $ref: ./common-types.json#/parameters/ApiVersionParameter
        - $ref: ./common-types.json#/parameters/subscriptionId
        - $ref: ./common-types.json#/parameters/resourceGroupName
      responses:
        '200':
          description: >-
            This is a synchronous operation. The body contains a JSON-serialized
            array of the metadata from all the
            privateLinkServicesForSCCPowershell instances in the resource group.
          schema:
            $ref: >-
              #/definitions/PrivateLinkServicesForSCCPowershellDescriptionListResult
        default:
          description: DefaultErrorResponse
          schema:
            $ref: ./common-types.json#/definitions/ErrorDetails
      deprecated: false
      summary: >-
        Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft M365securityandcompliance Privatelinkservicesforsccpowershell
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.M365SecurityAndCompliance/privateLinkServicesForSCCPowershell/{resourceName}/privateEndpointConnections
  : get:
      tags:
        - PrivateEndpointConnections
      operationId: microsoftAzurePrivateendpointconnectionsforsccpowershellListbyservice
      description: Lists all private endpoint connections for a service.
      parameters:
        - $ref: ./common-types.json#/parameters/subscriptionId
        - $ref: ./common-types.json#/parameters/resourceGroupName
        - $ref: ./common-types.json#/parameters/resourceName
        - $ref: ./common-types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: >-
            OK. The request was successful; the request was well-formed and
            received properly.
          schema:
            $ref: >-
              ./common-types.json#/definitions/PrivateEndpointConnectionListResult
        default:
          description: DefaultErrorResponse
          schema:
            $ref: ./common-types.json#/definitions/ErrorDetails
      x-ms-examples:
        PrivateEndpointConnection_List:
          $ref: ./examples/SCCPowershellServiceListPrivateEndpointConnections.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: >-
        Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft M365securityandcompliance Privatelinkservicesforsccpowershell Resourcename Privateendpointconnections
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.M365SecurityAndCompliance/privateLinkServicesForSCCPowershell/{resourceName}/privateEndpointConnections/{privateEndpointConnectionName}
  : get:
      tags:
        - PrivateEndpointConnections
      operationId: microsoftAzurePrivateendpointconnectionsforsccpowershellGet
      description: >-
        Gets the specified private endpoint connection associated with the
        service.
      parameters:
        - $ref: ./common-types.json#/parameters/subscriptionId
        - $ref: ./common-types.json#/parameters/resourceGroupName
        - $ref: ./common-types.json#/parameters/resourceName
        - $ref: ./common-types.json#/parameters/ApiVersionParameter
        - $ref: ./common-types.json#/parameters/PrivateEndpointConnectionName
      responses:
        '200':
          description: >-
            The request was successful; the request was well-formed and received
            properly.
          schema:
            $ref: ./common-types.json#/definitions/PrivateEndpointConnection
        default:
          description: DefaultErrorResponse
          schema:
            $ref: ./common-types.json#/definitions/ErrorDetails
      x-ms-examples:
        PrivateEndpointConnection_GetConnection:
          $ref: ./examples/SCCPowershellServiceGetPrivateEndpointConnection.json
      summary: >-
        Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft M365securityandcompliance Privatelinkservicesforsccpowershell Resourcename Privateendpointconnections Privateendpointconnectionname
    put:
      tags:
        - PrivateEndpointConnections
      operationId: microsoftAzurePrivateendpointconnectionsforsccpowershellCreateorupdate
      description: >-
        Update the state of the specified private endpoint connection associated
        with the service.
      parameters:
        - $ref: ./common-types.json#/parameters/subscriptionId
        - $ref: ./common-types.json#/parameters/resourceGroupName
        - $ref: ./common-types.json#/parameters/resourceName
        - $ref: ./common-types.json#/parameters/ApiVersionParameter
        - $ref: ./common-types.json#/parameters/PrivateEndpointConnectionName
        - name: properties
          in: body
          required: true
          schema:
            $ref: ./common-types.json#/definitions/PrivateEndpointConnection
          description: The private endpoint connection properties.
      responses:
        '200':
          description: >-
            OK. The request was successful; the request was well-formed and
            received properly.
          schema:
            $ref: ./common-types.json#/definitions/PrivateEndpointConnection
        '201':
          description: >-
            Created. The request was successful; the request was well-formed and
            received properly.
          schema:
            $ref: ./common-types.json#/definitions/PrivateEndpointConnection
        default:
          description: DefaultErrorResponse
          schema:
            $ref: ./common-types.json#/definitions/ErrorDetails
      x-ms-examples:
        PrivateEndpointConnection_CreateOrUpdate:
          $ref: ./examples/SCCPowershellServiceCreatePrivateEndpointConnection.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: >-
        Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft M365securityandcompliance Privatelinkservicesforsccpowershell Resourcename Privateendpointconnections Privateendpointconnectionname
    delete:
      tags:
        - PrivateEndpointConnections
      description: Deletes a private endpoint connection.
      operationId: microsoftAzurePrivateendpointconnectionsforsccpowershellDelete
      parameters:
        - $ref: ./common-types.json#/parameters/subscriptionId
        - $ref: ./common-types.json#/parameters/resourceGroupName
        - $ref: ./common-types.json#/parameters/resourceName
        - $ref: ./common-types.json#/parameters/ApiVersionParameter
        - $ref: ./common-types.json#/parameters/PrivateEndpointConnectionName
      responses:
        '200':
          description: >-
            The request was successful; the request was well-formed and received
            properly.
        '202':
          description: >-
            The request was successful; the operation will complete
            asynchronously.
        '204':
          description: No Content - The private endpoint connection does not exist.
        default:
          description: DefaultErrorResponse
          schema:
            $ref: ./common-types.json#/definitions/ErrorDetails
      x-ms-examples:
        PrivateEndpointConnections_Delete:
          $ref: ./examples/SCCPowershellServiceDeletePrivateEndpointConnection.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: >-
        Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft M365securityandcompliance Privatelinkservicesforsccpowershell Resourcename Privateendpointconnections Privateendpointconnectionname
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.M365SecurityAndCompliance/privateLinkServicesForSCCPowershell/{resourceName}/privateLinkResources
  : get:
      tags:
        - PrivateLinkResources
      operationId: microsoftAzurePrivatelinkresourcesforsccpowershellListbyservice
      description: Gets the private link resources that need to be created for a service.
      parameters:
        - $ref: ./common-types.json#/parameters/subscriptionId
        - $ref: ./common-types.json#/parameters/resourceGroupName
        - $ref: ./common-types.json#/parameters/resourceName
        - $ref: ./common-types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: >-
            The request was successful; the request was well-formed and received
            properly.
          schema:
            $ref: ./common-types.json#/definitions/PrivateLinkResourceListResult
        default:
          description: DefaultErrorResponse
          schema:
            $ref: ./common-types.json#/definitions/ErrorDetails
      x-ms-examples:
        PrivateLinkResources_ListGroupIds:
          $ref: ./examples/SCCPowershellPrivateLinkResourcesListByService.json
      summary: >-
        Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft M365securityandcompliance Privatelinkservicesforsccpowershell Resourcename Privatelinkresources
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.M365SecurityAndCompliance/privateLinkServicesForSCCPowershell/{resourceName}/privateLinkResources/{groupName}
  : get:
      tags:
        - PrivateLinkResources
      operationId: microsoftAzurePrivatelinkresourcesforsccpowershellGet
      description: Gets a private link resource that need to be created for a service.
      parameters:
        - $ref: ./common-types.json#/parameters/subscriptionId
        - $ref: ./common-types.json#/parameters/resourceGroupName
        - $ref: ./common-types.json#/parameters/resourceName
        - $ref: ./common-types.json#/parameters/ApiVersionParameter
        - name: groupName
          in: path
          description: The name of the private link resource group.
          required: true
          type: string
      responses:
        '200':
          description: >-
            OK. The request was successful; the request was well-formed and
            received properly.
          schema:
            $ref: ./common-types.json#/definitions/PrivateLinkResource
        default:
          description: DefaultErrorResponse
          schema:
            $ref: ./common-types.json#/definitions/ErrorDetails
      x-ms-examples:
        PrivateLinkResources_Get:
          $ref: ./examples/SCCPowershellPrivateLinkResourceGet.json
      summary: >-
        Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft M365securityandcompliance Privatelinkservicesforsccpowershell Resourcename Privatelinkresources Groupname
definitions:
  PrivateLinkServicesForSCCPowershellDescription:
    description: The description of the service.
    type: object
    properties:
      properties:
        x-ms-client-flatten: false
        description: The common properties of a service.
        $ref: ./common-types.json#/definitions/ServicesProperties
    allOf:
      - $ref: ./common-types.json#/definitions/ServicesResource
  PrivateLinkServicesForSCCPowershellDescriptionListResult:
    description: A list of service description objects with a next link.
    type: object
    properties:
      nextLink:
        description: The link used to get the next page of service description objects.
        type: string
        readOnly: true
      value:
        description: A list of service description objects.
        type: array
        items:
          $ref: '#/definitions/PrivateLinkServicesForSCCPowershellDescription'
parameters: {}
