openapi: 3.2.0
info:
  title: Microsoft Azure NetworkSecurityPerimeter Nsp Associations…
  description: The Network Security Perimeter API provides a RESTful set of web services that interact with network security perimeter resource.
  version: 2023-07-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: NspAssociations
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/resourceAssociations/{associationName}
  : parameters:
    - $ref: ./network.json#/parameters/SubscriptionIdParameter
    - $ref: '#/components/parameters/ResourceGroupNameParameter'
    - $ref: '#/components/parameters/NetworkSecurityPerimeterNameParameter'
    - $ref: '#/components/parameters/AssociationNameParameter'
    - $ref: ./network.json#/parameters/ApiVersionParameter
    get:
      tags:
      - NspAssociations
      operationId: microsoftAzureNspassociationsGet
      description: Gets the specified NSP association by name.
      responses:
        '200':
          description: OK - Returns information about the NSP resource association.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NspAssociation'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        NspAssociationGet:
          $ref: ./examples/NspAssociationGet.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - NspAssociations
      operationId: microsoftAzureNspassociationsCreateorupdate
      description: Creates or updates a NSP resource association.
      responses:
        '200':
          description: Updated - Existing resource association is updated. Returns the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NspAssociation'
        '201':
          description: Create - Returns the NspAssociation resource created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NspAssociation'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        NspAssociationPut:
          $ref: ./examples/NspAssociationPut.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NspAssociation'
        description: Parameters that hold the NspAssociation resource to be created/updated.
        required: true
    delete:
      tags:
      - NspAssociations
      operationId: microsoftAzureNspassociationsDelete
      description: Deletes an NSP association resource.
      responses:
        '200':
          description: Delete Succeed.
        '202':
          description: Delete in progress.
          headers:
            location:
              description: location header
              schema:
                type: string
        '204':
          description: Request successful. The resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-long-running-operation: true
      x-ms-examples:
        NspAssociationDelete:
          $ref: ./examples/NspAssociationDelete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/resourceAssociations
  : get:
      tags:
      - NspAssociations
      operationId: microsoftAzureNspassociationsList
      description: Lists the NSP resource associations.
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/NetworkSecurityPerimeterNameParameter'
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/ListTopParameter'
      - $ref: '#/components/parameters/ListSkipTokenParameter'
      responses:
        '200':
          description: OK - Returns the list of NSP resource associations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NspAssociationsListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        NspAssociationList:
          $ref: ./examples/NspAssociationList.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    NSPProvisioningState:
      type: string
      readOnly: true
      description: The current provisioning state.
      enum:
      - Succeeded
      - Creating
      - Updating
      - Deleting
      - Accepted
      - Failed
      x-ms-enum:
        name: nspProvisioningState
        modelAsString: true
    NspAssociationProperties:
      type: object
      properties:
        provisioningState:
          readOnly: true
          $ref: '#/components/schemas/NSPProvisioningState'
          description: The provisioning state of the resource  association resource.
        privateLinkResource:
          $ref: ./network.json#/definitions/SubResource
          description: The PaaS resource to be associated.
        profile:
          $ref: ./network.json#/definitions/SubResource
          description: Profile id to which the PaaS resource is associated.
        accessMode:
          type: string
          enum:
          - Learning
          - Enforced
          - Audit
          x-ms-enum:
            name: AssociationAccessMode
            modelAsString: true
          description: Access mode on the association.
        hasProvisioningIssues:
          readOnly: true
          type: string
          description: Specifies if there are provisioning issues
    NspAssociation:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/NspAssociationProperties'
          description: Properties of the NSP resource association.
        name:
          type: string
          description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
        id:
          readOnly: true
          type: string
          description: NSP resource association identifier.
        type:
          readOnly: true
          type: string
          description: Resource type.
      allOf:
      - $ref: ./network.json#/definitions/Resource
      description: The NSP resource association resource
    NspAssociationsListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/NspAssociation'
          description: Gets a page of NSP resource associations
        nextLink:
          type: string
          description: Gets the URL to get the next page of results.
      description: Result of the request to list NSP resource associations. Contains a list of NSP resource associations and a URL link to get the next set of results.
  parameters:
    NetworkSecurityPerimeterNameParameter:
      name: networkSecurityPerimeterName
      in: path
      required: true
      description: The name of the network security perimeter.
      x-ms-parameter-location: method
      schema:
        type: string
    AssociationNameParameter:
      name: associationName
      in: path
      required: true
      description: The name of the NSP association.
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
    ListTopParameter:
      name: $top
      description: An optional query parameter which specifies the maximum number of records to be returned by the server.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        maximum: 20
        minimum: 1
    ListSkipTokenParameter:
      name: $skipToken
      description: SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
