openapi: 3.2.0
info:
  title: Microsoft Azure Azure Bot Service List Service Providers API
  description: Azure Bot Service is a platform for creating smart conversational agents.
  version: 2023-09-15-preview
servers:
- url: https://management.azure.com
tags:
- name: ListServiceProviders
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.BotService/listAuthServiceProviders:
    post:
      tags:
      - ListServiceProviders
      description: Lists the available Service Providers for creating Connection Settings
      operationId: microsoftAzureBotconnectionListserviceproviders
      x-ms-examples:
        List Auth Service Providers:
          $ref: ./examples/ListServiceProviders.json
      parameters:
      - $ref: '#/components/parameters/apiVersionParameter'
      - $ref: '#/components/parameters/subscriptionIdParameter'
      responses:
        '200':
          description: If resource is retrieved successfully, the service should return 200 (OK).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceProviderResponseList'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft…
components:
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Azure Subscription ID.
      required: true
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Version of the API to be used with the client request.
      schema:
        type: string
  schemas:
    ServiceProviderProperties:
      properties:
        id:
          type: string
          description: Id for Service Provider
          readOnly: true
        displayName:
          type: string
          description: Display Name of the Service Provider
          readOnly: true
        serviceProviderName:
          type: string
          description: Name of the Service Provider
          readOnly: true
        devPortalUrl:
          type: string
          description: URL of Dev Portal
          readOnly: true
        iconUrl:
          type: string
          description: The URL of icon
          default: ''
        parameters:
          description: The list of parameters for the Service Provider
          type: array
          items:
            $ref: '#/components/schemas/ServiceProviderParameter'
      description: The Object used to describe a Service Provider supported by Bot Service
    ServiceProviderParameter:
      properties:
        name:
          type: string
          description: Name of the Service Provider
          readOnly: true
        type:
          type: string
          description: Type of the Service Provider
          readOnly: true
        displayName:
          type: string
          description: Display Name of the Service Provider
          readOnly: true
        description:
          type: string
          description: Description of the Service Provider
          readOnly: true
        helpUrl:
          type: string
          description: Help Url for the  Service Provider
          readOnly: true
        default:
          type: string
          description: Default Name for the Service Provider
          readOnly: true
        metadata:
          type: object
          description: Meta data for the Service Provider
          readOnly: true
          properties:
            constraints:
              description: the constraints of the bot meta data.
              type: object
              properties:
                required:
                  description: Whether required the constraints of the bot meta data.
                  type: boolean
      description: Extra Parameters specific to each Service Provider
    Error:
      properties:
        error:
          $ref: '#/components/schemas/ErrorBody'
          description: The error body.
      description: Bot Service error object.
    ServiceProvider:
      type: object
      description: Service Provider Definition
      properties:
        properties:
          $ref: '#/components/schemas/ServiceProviderProperties'
          description: The Properties of a Service Provider Object
    ServiceProviderResponseList:
      properties:
        nextLink:
          description: The link used to get the next page of bot service providers.
          type: string
        value:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ServiceProvider'
          description: Gets the list of bot service providers and their properties.
      description: The list of bot service providers response.
    ErrorBody:
      properties:
        code:
          type: string
          description: error code
        message:
          type: string
          description: error message
      description: Bot Service error body.
      required:
      - code
      - message
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
