openapi: 3.2.0
info:
  title: Microsoft Azure Workspace API
  version: '1.0'
  description: 'Operations tagged Workspace across 2 of this provider''s published API definitions: apimanagementclient-openapi-original.yml, desktop-virtualization-api-client-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
tags:
- name: Workspace
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces
  : get:
      tags:
      - Workspace
      operationId: microsoftAzureWorkspaceListbyservice
      description: Lists all workspaces of the API Management service instance.
      x-ms-examples:
        ApiManagementListWorkspaces:
          $ref: ./examples/ApiManagementListWorkspaces.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - name: $filter
        in: query
        required: false
        description: '|     Field     |     Usage     |     Supported operators     |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>| displayName | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |</br></br>| description | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |</br>'
        schema:
          type: string
      - $ref: ./apimanagement.json#/parameters/TopQueryParameter
      - $ref: ./apimanagement.json#/parameters/SkipQueryParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Paged Result response of workspaces.
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/WorkspaceCollection
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: ./definitions.json#/definitions/WorkspaceContract
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}
  : head:
      tags:
      - Workspace
      operationId: microsoftAzureWorkspaceGetentitytag
      description: Gets the entity state (Etag) version of the workspace specified by its identifier.
      x-ms-examples:
        ApiManagementHeadWorkspace:
          $ref: ./examples/ApiManagementHeadWorkspace.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Gets the entity tag of the workspace
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: Microsoft Azure Head Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    get:
      tags:
      - Workspace
      operationId: microsoftAzureWorkspaceGet
      description: Gets the details of the workspace specified by its identifier.
      x-ms-examples:
        ApiManagementGetWorkspace:
          $ref: ./examples/ApiManagementGetWorkspace.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The response body contains the specified workspace entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/WorkspaceContract
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    put:
      tags:
      - Workspace
      operationId: microsoftAzureWorkspaceCreateorupdate
      description: Creates a new workspace or updates an existing one.
      x-ms-examples:
        ApiManagementCreateWorkspace:
          $ref: ./examples/ApiManagementCreateWorkspace.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ./apimanagement.json#/parameters/IfMatchOptionalParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Workspace successfully updated
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/WorkspaceContract
        '201':
          description: Workspace was successfully created.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/WorkspaceContract
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./definitions.json#/definitions/WorkspaceContract
        description: Create parameters.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    patch:
      tags:
      - Workspace
      operationId: microsoftAzureWorkspaceUpdate
      description: Updates the details of the workspace specified by its identifier.
      x-ms-examples:
        ApiManagementUpdateWorkspace:
          $ref: ./examples/ApiManagementUpdateWorkspace.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ./apimanagement.json#/parameters/IfMatchRequiredParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Workspace successfully updated
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/WorkspaceContract
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./definitions.json#/definitions/WorkspaceContract
        description: Workspace Update parameters.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - Workspace
      operationId: microsoftAzureWorkspaceDelete
      description: Deletes the specified workspace.
      x-ms-examples:
        ApiManagementDeleteWorkspace:
          $ref: ./examples/ApiManagementDeleteWorkspace.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ./apimanagement.json#/parameters/IfMatchRequiredParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The workspace was successfully deleted.
        '204':
          description: The workspace was successfully deleted.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/workspaces/{workspaceName}
  : get:
      tags:
      - Workspace
      operationId: microsoftAzureWorkspacesGet
      description: Get a workspace.
      x-ms-examples:
        Workspace_Get:
          $ref: ./examples/Workspace_Get.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      responses:
        '200':
          description: Successfully retrieved workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Workspace
      operationId: microsoftAzureWorkspacesCreateorupdate
      description: Create or update a workspace.
      x-ms-examples:
        Workspace_Create:
          $ref: ./examples/Workspace_Create.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      responses:
        '200':
          description: Successfully updated workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '201':
          description: Successfully created workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workspace'
        description: Object containing Workspace definitions.
        required: true
    delete:
      tags:
      - Workspace
      operationId: microsoftAzureWorkspacesDelete
      description: Remove a workspace.
      x-ms-examples:
        Workspace_Delete:
          $ref: ./examples/Workspace_Delete.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      responses:
        '200':
          description: Successfully deleted workspace.
        '204':
          description: Workspace does not exist.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    patch:
      tags:
      - Workspace
      operationId: microsoftAzureWorkspacesUpdate
      description: Update a workspace.
      x-ms-examples:
        Workspace_Update:
          $ref: ./examples/Workspace_Update.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      responses:
        '200':
          description: Successfully updated workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspacePatch'
        description: Object containing Workspace definitions.
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/workspaces:
    get:
      tags:
      - Workspace
      operationId: microsoftAzureWorkspacesListbyresourcegroup
      description: List workspaces.
      x-ms-examples:
        Workspace_ListByResourceGroup:
          $ref: ./examples/Workspace_ListByResourceGroup.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - name: pageSize
        in: query
        required: false
        description: Number of items per page.
        schema:
          type: integer
          format: int32
      - name: isDescending
        in: query
        required: false
        description: Indicates whether the collection is descending.
        schema:
          type: boolean
      - name: initialSkip
        in: query
        required: false
        description: Initial number of items to skip.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved workspaces in resource group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceList'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.DesktopVirtualization/workspaces:
    get:
      tags:
      - Workspace
      operationId: microsoftAzureWorkspacesListbysubscription
      description: List workspaces in subscription.
      x-ms-examples:
        Workspace_ListBySubscription:
          $ref: ./examples/Workspace_ListBySubscription.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Successfully retrieved workspaces in subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceList'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
    servers:
    - url: https://management.azure.com
components:
  schemas:
    CloudError:
      description: Cloud error object.
      type: object
      x-ms-external: true
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorProperties'
    Workspace:
      type: object
      description: Represents a Workspace definition.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ResourceModelWithAllowedPropertySet
      properties:
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: Metadata pertaining to creation and last modification of the resource.
        properties:
          description: Detailed properties for Workspace
          x-ms-client-flatten: true
          $ref: '#/components/schemas/WorkspaceProperties'
    WorkspacePatchProperties:
      description: Workspace properties that can be patched.
      type: object
      properties:
        description:
          type: string
          description: Description of Workspace.
        friendlyName:
          type: string
          description: Friendly name of Workspace.
        applicationGroupReferences:
          type: array
          description: List of applicationGroup links.
          items:
            type: string
        publicNetworkAccess:
          enum:
          - Enabled
          - Disabled
          x-ms-enum:
            name: PublicNetworkAccess
            modelAsString: true
          type: string
          description: Enabled to allow this resource to be access from the public network
    WorkspaceProperties:
      description: Schema for Workspace properties.
      type: object
      properties:
        objectId:
          type: string
          description: ObjectId of Workspace. (internal use)
          readOnly: true
        description:
          type: string
          description: Description of Workspace.
        friendlyName:
          type: string
          description: Friendly name of Workspace.
        applicationGroupReferences:
          type: array
          description: List of applicationGroup resource Ids.
          items:
            type: string
        cloudPcResource:
          type: boolean
          description: Is cloud pc resource.
          readOnly: true
        publicNetworkAccess:
          enum:
          - Enabled
          - Disabled
          x-ms-enum:
            name: PublicNetworkAccess
            modelAsString: true
          type: string
          description: Enabled allows this resource to be accessed from both public and private networks, Disabled allows this resource to only be accessed via private endpoints
        privateEndpointConnections:
          readOnly: true
          type: array
          items:
            $ref: ../../../../../common-types/resource-management/v2/privatelinks.json#/definitions/PrivateEndpointConnection
          description: List of private endpoint connection associated with the specified resource
    WorkspaceList:
      type: object
      title: WorkspaceList
      description: List of Workspace definitions.
      properties:
        value:
          type: array
          description: List of Workspace definitions.
          items:
            $ref: '#/components/schemas/Workspace'
        nextLink:
          type: string
          readOnly: true
          description: Link to the next page of results.
    WorkspacePatch:
      type: object
      description: Workspace properties that can be patched.
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: tags to be updated
        properties:
          description: Detailed properties for Workspace
          x-ms-client-flatten: true
          $ref: '#/components/schemas/WorkspacePatchProperties'
    CloudErrorProperties:
      description: Cloud error object properties.
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
  parameters:
    WorkspaceNameParameter:
      name: workspaceName
      in: path
      required: true
      description: The name of the workspace
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 3
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-refined-from:
- apimanagementclient-openapi-original.yml
- desktop-virtualization-api-client-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
