openapi: 3.2.0
info:
  title: Microsoft Azure Firewall Rules API
  x-refined-note:
  - x-ms-code-generation-settings differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged FirewallRules across 8 of this provider''s published API definitions: azure-cosmos-db-for-mongodb-vcore-openapi-original.yml, azure-cosmos-db-for-postgresql-openapi-original.yml, azure-sql-database-server-firewall-rules-openapi-original.yml, datalakeanalyticsaccountmanagementclient-openapi-original.yml, datalakestoreaccountmanagementclient-openapi-original.yml, hyperscalecitusmanagementclient-openapi-original.yml, mariadbmanagementclient-openapi-original.yml…'
servers:
- url: https://management.azure.com
tags:
- name: Firewall Rules
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/mongoClusters/{mongoClusterName}/firewallRules/{firewallRuleName}
  : put:
      description: Creates a new firewall rule or updates an existing firewall rule on a mongo cluster.
      tags:
      - Firewall Rules
      operationId: microsoftAzureMongoclustersCreateorupdatefirewallrule
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        Create a firewall rule of the mongo cluster:
          $ref: ./examples/mongo-cluster/CosmosDBMongoClusterFirewallRuleCreate.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MongoClusterNameParameter'
      - $ref: '#/components/parameters/FirewallRuleNameParameter'
      responses:
        '200':
          description: OK. The firewall request has no updates for the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
        '201':
          description: The firewall rule is being created or updated asynchronously. Poll for provisioningState=Succeeded to find when the operation completes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirewallRule'
        description: The required parameters for creating or updating a firewall rule.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    delete:
      description: Deletes a mongo cluster firewall rule.
      tags:
      - Firewall Rules
      operationId: microsoftAzureMongoclustersDeletefirewallrule
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        Delete the firewall rule of the mongo cluster:
          $ref: ./examples/mongo-cluster/CosmosDBMongoClusterFirewallRuleDelete.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MongoClusterNameParameter'
      - $ref: '#/components/parameters/FirewallRuleNameParameter'
      responses:
        '202':
          description: Accepted. The firewall rule is being deleted asynchronously.
          headers:
            Location:
              schema:
                type: string
        '204':
          description: No Content. The firewall rule does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    get:
      description: Gets information about a mongo cluster firewall rule.
      tags:
      - Firewall Rules
      operationId: microsoftAzureMongoclustersGetfirewallrule
      x-ms-examples:
        Get the firewall rule of the mongo cluster:
          $ref: ./examples/mongo-cluster/CosmosDBMongoClusterFirewallRuleGet.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MongoClusterNameParameter'
      - $ref: '#/components/parameters/FirewallRuleNameParameter'
      responses:
        '200':
          description: OK. The firewall rule was retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/mongoClusters/{mongoClusterName}/firewallRules
  : get:
      description: List all the firewall rules in a given mongo cluster.
      tags:
      - Firewall Rules
      operationId: microsoftAzureMongoclustersListfirewallrules
      x-ms-examples:
        List firewall rules of the mongo cluster:
          $ref: ./examples/mongo-cluster/CosmosDBMongoClusterFirewallRuleList.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MongoClusterNameParameter'
      responses:
        '200':
          description: OK. The firewall rules were retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRuleListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/serverGroupsv2/{clusterName}/firewallRules/{firewallRuleName}
  : put:
      description: Creates a new cluster firewall rule or updates an existing cluster firewall rule.
      tags:
      - Firewall Rules
      operationId: microsoftAzureFirewallrulesCreateorupdate
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        Create a firewall rule of the cluster:
          $ref: ./examples/FirewallRuleCreate.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ClusterNameParameter'
      - $ref: '#/components/parameters/FirewallRuleNameParameter_2'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule_2'
        '201':
          description: Accepted
          headers:
            location:
              schema:
                type: string
            azure-async-operation:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirewallRule_2'
        description: The required parameters for creating or updating a firewall rule.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    delete:
      description: Deletes a cluster firewall rule.
      tags:
      - Firewall Rules
      operationId: microsoftAzureFirewallrulesDelete
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        Delete the firewall rule of the cluster:
          $ref: ./examples/FirewallRuleDelete.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ClusterNameParameter'
      - $ref: '#/components/parameters/FirewallRuleNameParameter_2'
      responses:
        '202':
          description: Accepted
          headers:
            location:
              schema:
                type: string
            azure-async-operation:
              schema:
                type: string
        '204':
          description: NoContent
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    get:
      description: Gets information about a cluster firewall rule.
      tags:
      - Firewall Rules
      operationId: microsoftAzureFirewallrulesGet
      x-ms-examples:
        Get the firewall rule of the cluster:
          $ref: ./examples/FirewallRuleGet.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ClusterNameParameter'
      - $ref: '#/components/parameters/FirewallRuleNameParameter_2'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/serverGroupsv2/{clusterName}/firewallRules
  : get:
      description: Lists all the firewall rules on cluster.
      tags:
      - Firewall Rules
      operationId: microsoftAzureFirewallrulesListbycluster
      x-ms-examples:
        List firewall rules of the cluster:
          $ref: ./examples/FirewallRuleListByCluster.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ClusterNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRuleListResult_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/firewallRules/{firewallRuleName}
  : put:
      tags:
      - Firewall Rules
      operationId: microsoftAzureFirewallrulesCreateorupdate
      description: Creates or updates a firewall rule.
      x-ms-examples:
        Create a firewall rule max/min:
          $ref: ./examples/FirewallRuleCreate.json
        Update a firewall rule max/min:
          $ref: ./examples/FirewallRuleUpdate.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/components/parameters/ServerNameParameter'
      - name: firewallRuleName
        in: path
        required: true
        description: The name of the firewall rule.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule_3'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule_3'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirewallRule_3'
        description: The required parameters for creating or updating a firewall rule.
        required: true
    delete:
      tags:
      - Firewall Rules
      operationId: microsoftAzureFirewallrulesDelete
      description: Deletes a firewall rule.
      x-ms-examples:
        Delete a firewall rule:
          $ref: ./examples/FirewallRuleDelete.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/components/parameters/ServerNameParameter'
      - name: firewallRuleName
        in: path
        required: true
        description: The name of the firewall rule.
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: NoContent
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    get:
      tags:
      - Firewall Rules
      operationId: microsoftAzureFirewallrulesGet
      description: Gets a firewall rule.
      x-ms-examples:
        Get Firewall Rule:
          $ref: ./examples/FirewallRuleGet.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/components/parameters/ServerNameParameter'
      - name: firewallRuleName
        in: path
        required: true
        description: The name of the firewall rule.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule_3'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/firewallRules
  : get:
      tags:
      - Firewall Rules
      operationId: microsoftAzureFirewallrulesListbyserver
      description: Returns a list of firewall rules.
      x-ms-examples:
        List Firewall Rules:
          $ref: ./examples/FirewallRuleList.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/components/parameters/ServerNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRuleListResult_3'
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/firewallRules
  : get:
      tags:
      - Firewall Rules
      operationId: microsoftAzureFirewallrulesListbyaccount
      description: Lists the Data Lake Analytics firewall rules within the specified Data Lake Analytics account.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully listed the firewall rules.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRuleListResult_4'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Lists the Data Lake Analytics firewall rules:
          $ref: ./examples/FirewallRules_ListByAccount.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/firewallRules/{firewallRuleName}
  : put:
      tags:
      - Firewall Rules
      operationId: microsoftAzureFirewallrulesCreateorupdate
      description: Creates or updates the specified firewall rule. During update, the firewall rule with the specified name will be replaced with this new firewall rule.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - name: firewallRuleName
        in: path
        required: true
        description: The name of the firewall rule to create or update.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully created or updated the specified firewall rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule_4'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Creates or updates the specified firewall rule:
          $ref: ./examples/FirewallRules_CreateOrUpdate.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateFirewallRuleParameters'
        description: Parameters supplied to create or update the firewall rule.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    get:
      tags:
      - Firewall Rules
      operationId: microsoftAzureFirewallrulesGet
      description: Gets the specified Data Lake Analytics firewall rule.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - name: firewallRuleName
        in: path
        required: true
        description: The name of the firewall rule to retrieve.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved the specified firewall rule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule_4'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Gets the specified Data Lake Analytics firewall rule:
          $ref: ./examples/FirewallRules_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    patch:
      tags:
      - Firewall Rules
      operationId: microsoftAzureFirewallrulesUpdate
      description: Updates the specified firewall rule.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - name: firewallRuleName
        in: path
        required: true
        description: The name of the firewall rule to update.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully updated the specified firewall rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule_4'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Updates the specified firewall rule:
          $ref: ./examples/FirewallRules_Update.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFirewallRuleParameters'
        description: Parameters supplied to update the firewall rule.
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - Firewall Rules
      operationId: microsoftAzureFirewallrulesDelete
      description: Deletes the specified firewall rule from the specified Data Lake Analytics account
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - name: firewallRuleName
        in: path
        required: true
        description: The name of the firewall rule to delete.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully deleted the specified firewall rule
        '204':
          description: The specified firewall rule does not exist or was already deleted.
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Deletes the specified firewall rule:
          $ref: ./examples/FirewallRules_Delete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/firewallRules
  : get:
      tags:
      - Firewall Rules
      operationId: microsoftAzureFirewallrulesListbyaccount
      description: Lists the Data Lake Store firewall rules within the specified Data Lake Store account.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter_2'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved the list of firewall rules.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRuleListResult_5'
      x-ms-examples:
        Lists the Data Lake Store firewall rules within the specified Data Lake Store account.:
          $ref: ./examples/FirewallRules_ListByAccount.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/firewallRules/{firewallRuleName}
  : put:
      tags:
      - Firewall Rules
      operationId: microsoftAzureFirewallrulesCreateorupdate
      description: Creates or updates the specified firewall rule. During update, the firewall rule with the specified name will be replaced with this new firewall rule.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter_2'
      - name: firewallRuleName
        in: path
        required: true
        description: The name of the firewall rule to create or update.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully created or updated the specified firewall rule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule_5'
      x-ms-examples:
        ? Creates or updates the specified firewall rule. During update, the firewall rule with the specified name will be replaced with this new firewall rule
        : $ref: ./examples/FirewallRules_CreateOrUpdate.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateFirewallRuleParameters'
        description: Parameters supplied to create or update the firewall rule.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    get:
      tags:
      - Firewall Rules
      operationId: microsoftAzureFirewallrulesGet
      description: Gets the specified Data Lake Store firewall rule.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter_2'
      - name: firewallRuleName
        in: path
        required: true
        description: The name of the firewall rule to retrieve.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved the firewall rule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule_5'
      x-ms-examples:
        Gets the specified Data Lake Store firewall rule.:
          $ref: ./examples/FirewallRules_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    patch:
      tags:
      - Firewall Rules
      operationId: microsoftAzureFirewallrulesUpdate
      description: Updates the specified firewall rule.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter_2'
      - name: firewallRuleName
        in: path
        required: true
        description: The name of the firewall rule to update.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully updated the specified firewall rule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule_5'
      x-ms-examples:
        Updates the specified firewall rule.:
          $ref: ./examples/FirewallRules_Update.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFirewallRuleParameters'
        description: Parameters supplied to update the firewall rule.
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - Firewall Rules
      operationId: microsoftAzureFirewallrulesDelete
      description: Deletes the specified firewall rule from the specified Data Lake Store account.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter_2'
      - name: firewallRuleName
        in: path
        required: true
        description: The name of the firewall rule to delete.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully deleted the specified firewall rule.
        '204':
          description: The specified firewall rule does not exist or was already deleted.
      x-ms-examples:
        Deletes the specified firewall rule from the specified Data Lake Store account.:
          $ref: ./examples/FirewallRules_Delete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBForPostgreSql/serverGroupsv2/{serverGroupName}/firewallRules/{firewallRuleName}
  : put:
      description: Creates a new firewall rule or updates an existing firewall rule.
      tags:
      - Firewall Rules
      operationId: microsoftAzureFirewallrulesCreateorupdate
      x-ms-long-running-operation: true
      x-ms-examples:
        Create a firewall rule of the server group:
          $ref: ./examples/FirewallRuleCreate.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ServerGroupNameParameter'
      - $ref: '#/components/parameters/FirewallRuleNameParameter_3'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule_6'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule_6'
        '202':
          description: Accepted
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirewallRule_6'
        description: The required parameters for creating or updating a firewall rule.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    delete:
      description: Deletes a server group firewall rule.
      tags:
      - Firewall Rules
      operationId: microsoftAzureFirewallrulesDelete
      x-ms-long-running-operation: true
      x-ms-examples:
        Delete the firewall rule of the server group:
          $ref: ./examples/FirewallRuleDelete.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ServerGroupNameParameter'
      - $ref: '#/components/parameters/FirewallRuleNameParameter_3'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: NoContent
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    get:
      description: Gets information about a server group firewall rule.
      tags:
      - Firewall Rules
      operationId: microsoftAzureFirewallrulesGet
      x-ms-examples:
        Get the firewall rule of the server group:
          $ref: ./examples/FirewallRuleGet.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ServerGroupNameParameter'
      - $ref: '#/components/parameters/FirewallRuleNameParameter_3'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule_6'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBForPostgreSql/serverGroupsv2/{serverGroupName}/firewallRules
  : get:
      description: List all the firewall rules in a given server group.
      tags:
      - Firewall Rules
      operationId: microsoftAzureFirewallrulesListbyservergroup
      x-ms-examples:
        List firewall rules of the server group:
          $ref: ./examples/FirewallRuleListByServerGroup.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ServerGroupNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRuleListResult_6'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/firewallRules/{firewallRuleName}
  : put:
      tags:
      - Firewall Rules
      operationId: microsoftAzureFirewallrulesCreateorupdate
      x-ms-examples:
        FirewallRuleCreate:
          $ref: ./examples/FirewallRuleCreate.json
      description: Creates a new firewall rule or updates an existing firewall rule.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter_2'
      - $ref: '#/components/parameters/SubscriptionIdParameter_3'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/ServerNameParameter'
      - $ref: '#/components/parameters/FirewallRuleNameParameter_4'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule_7'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule_7'
        '202':
          description: Accepted
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirewallRule_7'
        description: The required parameters for creating or updating a firewall rule.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - Firewall Rules
      operationId: microsoftAzureFirewallrulesDelete
      x-ms-examples:
        FirewallRuleDelete:
          $ref: ./examples/FirewallRuleDelete.json
      description: Deletes a server firewall rule.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter_2'
      - $ref: '#/components/parameters/SubscriptionIdParameter_3'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/ServerNameParameter'
      - $ref: '#/components/parameters/FirewallRuleNameParameter_4'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: NoContent
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    get:
      tags:
      - Firewall Rules
      operationId: microsoftAzureFirewallrulesGet
      x-ms-examples:
        FirewallRuleGet:
          $ref: ./examples/FirewallRuleGet.json
      description: Gets information about a server firewall rule.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter_2'
      - $ref: '#/components/parameters/SubscriptionIdParameter_3'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/ServerNameParameter'
      - $ref: '#/components/parameters/FirewallRuleNameParameter_4'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule_7'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/firewallRules
  : get:
      tags:
      - Firewall Rules
      operationId: microsoftAzureFirewallrulesListbyserver
      x-ms-examples:
        FirewallRuleList:
          $ref: ./examples/FirewallRuleListByServer.json
      description: List all the firewall rules in a given server.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter_2'
      - $ref: '#/components/parameters/SubscriptionIdParameter_3'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/ServerNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRuleListResult_7'
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/Redis/{cacheName}/firewallRules
  : get:
      tags:
      - Firewall Rules
      operationId: microsoftAzureFirewallrulesListbyredisresource
      description: Gets all firewall rules in the specified redis cache.
      x-ms-examples:
        RedisCacheFirewallRulesList:
          $ref: ./examples/RedisCacheFirewallRulesList.json
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter_4'
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: cacheName
        in: path
        required: true
        description: The name of the Redis cache.
        schema:
          type: string
      responses:
        '200':
          description: Successfully got the current rules
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisFirewallRuleListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/Redis/{cacheName}/firewallRules/{ruleName}
  : put:
      tags:
      - Firewall Rules
      operationId: microsoftAzureFirewallrulesCreateorupdate
      description: Create or update a redis cache firewall rule
      x-ms-examples:
        RedisCacheFirewallRuleCreate:
          $ref: ./examples/RedisCacheFirewallRuleCreate.json
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: cacheName
        in: path
        required: true
        description: The name of the Redis cache.
        schema:
          type: string
      - name: ruleName
        in: path
        required: true
        description: The name of the firewall rule.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter_4'
      responses:
        '200':
          description: Resource was successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisFirewallRule'
        '201':
          description: Resource was successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisFirewallRule'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedisFirewallRuleCreateParameters'
        description: Parameters supplied to the create or update redis firewall rule operation.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    get:
      tags:
      - Firewall Rules
      operationId: microsoftAzureFirewallrulesGet
      description: Gets a single firewall rule in a specified redis cache.
      x-ms-examples:
        RedisCacheFirewallRuleGet:
          $ref: ./examples/RedisCacheFirewallRuleGet.json
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: cacheName
        in: path
        required: true
        description: The name of the Redis cache.
        schema:
          type: string
      - name: ruleName
        in: path
        required: true
        description: The name of the firewall rule.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter_4'
      responses:
        '200':
          description: Successfully found the rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisFirewallRule'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - Firewall Rules
      operationId: microsoftAzureFirewallrulesDelete
      description: Deletes a single firewall rule in a specified redis cache.
      x-ms-examples:
        RedisCacheFirewallRuleDelete:
          $ref: ./examples/RedisCacheFirewallRuleDelete.json
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: cacheName
        in: path
        required: true
        description: The name of the Redis cache.
        schema:
          type: string
      - name: ruleName
        in: path
        required: true
        description: The name of the firewall rule.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter_4'
      responses:
        '200':
          description: Successfully deleted the rule
        '204':
          description: Successfully deleted the rule
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
components:
  schemas:
    FirewallRuleListResult:
      type: object
      description: A list of firewall rules.
      properties:
        value:
          type: array
          description: The list of firewall rules in a mongo cluster.
          items:
            $ref: '#/components/schemas/FirewallRule'
        nextLink:
          description: The link used to get the next page of results.
          type: string
          readOnly: true
    FirewallRule:
      type: object
      description: Represents a mongo cluster firewall rule.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
      properties:
        properties:
          $ref: '#/components/schemas/FirewallRuleProperties'
          x-ms-client-flatten: true
          description: The properties of a firewall rule.
      required:
      - properties
    ProvisioningState:
      description: The provisioning state of the resource.
      type: string
      enum:
      - Succeeded
      - Failed
      - Canceled
      - InProgress
      - Updating
      - Dropping
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
      readOnly: true
    FirewallRuleProperties:
      type: object
      description: The properties of a mongo cluster firewall rule.
      properties:
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The provisioning state of the firewall rule.
          readOnly: true
        startIpAddress:
          type: string
          description: The start IP address of the mongo cluster firewall rule. Must be IPv4 format.
          pattern: ^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$
        endIpAddress:
          type: string
          description: The end IP address of the mongo cluster firewall rule. Must be IPv4 format.
          pattern: ^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$
      required:
      - startIpAddress
      - endIpAddress
    FirewallRuleListResult_2:
      description: A list of firewall rules.
      type: object
      properties:
        value:
          type: array
          description: The list of firewall rules in a cluster.
          items:
            $ref: '#/components/schemas/FirewallRule_2'
    FirewallRule_2:
      description: Represents a cluster firewall rule.
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/ProxyResource
      properties:
        properties:
          $ref: '#/components/schemas/FirewallRuleProperties_2'
          x-ms-client-flatten: true
          description: The properties of a firewall rule.
      required:
      - properties
    ProvisioningState_2:
      type: string
      readOnly: true
      description: The current provisioning state.
      enum:
      - Succeeded
      - Canceled
      - InProgress
      - Failed
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    FirewallRuleProperties_2:
      description: The properties of a cluster firewall rule.
      type: object
      properties:
        startIpAddress:
          type: string
          description: The start IP address of the cluster firewall rule. Must be IPv4 format.
          pattern: ^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$
        endIpAddress:
          type: string
          description: The end IP address of the cluster firewall rule. Must be IPv4 format.
          pattern: ^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState_2'
          description: Provisioning state of the firewall rule.
          readOnly: true
      required:
      - startIpAddress
      - endIpAddress
    FirewallRuleProperties_3:
      properties:
        startIpAddress:
          type: string
          description: The start IP address of the firewall rule. Must be IPv4 format. Use value '0.0.0.0' to represent all Azure-internal IP addresses.
        endIpAddress:
          type: string
          description: The end IP address of the firewall rule. Must be IPv4 format. Must be greater than or equal to startIpAddress. Use value '0.0.0.0' to represent all Azure-internal IP addresses.
      required:
      - startIpAddress
      - endIpAddress
      description: Represents the properties of a server firewall rule.
    FirewallRuleListResult_3:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/FirewallRule_3'
          description: The list of server firewall rules.
      description: Represents the response to a List Firewall Rules request.
    FirewallRule_3:
      properties:
        kind:
          type: string
          description: Kind of server that contains this firewall rule.
          readOnly: true
        location:
          type: string
          description: Location of the server that contains this firewall rule.
          readOnly: true
        type:
          type: string
          description: Type of resource this is.
          readOnly: true
        properties:
          $ref: '#/components/schemas/FirewallRuleProperties_3'
          description: The properties representing the resource.
          x-ms-client-flatten: true
      allOf:
      - $ref: ../../../common/v1/types.json#/definitions/ProxyResource
      description: Represents a server firewall rule.
    UpdateFirewallRuleProperties:
      properties:
        startIpAddress:
          type: string
          description: The start IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol.
        endIpAddress:
          type: string
          description: The end IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol.
      description: The firewall rule properties to use when updating a firewall rule.
    CreateOrUpdateFirewallRuleProperties:
      required:
      - startIpAddress
      - endIpAddress
      properties:
        startIpAddress:
          type: string
          description: The start IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol.
        endIpAddress:
          type: string
          description: The end IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol.
      description: The firewall rule properties to use when creating a new firewall rule.
    FirewallRule_4:
      allOf:
      - $ref: '#/components/schemas/SubResource'
      properties:
        properties:
          readOnly: true
          x-ms-client-flatten: true
          $ref: '#/components/schemas/FirewallRuleProperties_4'
          description: The firewall rule properties.
      description: Data Lake Analytics firewall rule information.
    FirewallRuleListResult_4:
      properties:
        value:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/FirewallRule_4'
          description: The results of the list operation.
        nextLink:
          readOnly: true
          type: string
          description: The link (url) to the next page of results.
      description: Data Lake Analytics firewall rule list information.
    UpdateFirewallRuleParameters:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/UpdateFirewallRuleProperties'
          description: The firewall rule properties to use when updating a firewall rule.
      description: The parameters used to update a firewall rule.
    FirewallRuleProperties_4:
      properties:
        startIpAddress:
          readOnly: true
          type: string
          description: The start IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol.
        endIpAddress:
          readOnly: true
          type: string
          description: The end IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol.
      description: The firewall rule properties.
    CreateOrUpdateFirewallRuleParameters:
      required:
      - properties
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/CreateOrUpdateFirewallRuleProperties'
          description: The firewall rule properties to use when creating a new firewall rule.
      description: The parameters used to create a new firewall rule.
    SubResource:
      properties:
        id:
          readOnly: true
          type: string
          description: The resource identifier.
        name:
          readOnly: true
          type: string
          description: The resource name.
        type:
          readOnly: true
          type: string
          description: The resource type.
      x-ms-azure-resource: true
      description: The resource model definition for a nested resource.
    FirewallRule_5:
      allOf:
      - $ref: '#/components/schemas/SubResource'
      properties:
        properties:
          readOnly: true
          x-ms-client-flatten: true
          $ref: '#/components/schemas/FirewallRuleProperties_5'
          description: The firewall rule properties.
      description: Data Lake Store firewall rule information.
    FirewallRuleListResult_5:
      properties:
        value:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/FirewallRule_5'
          description: The results of the list operation.
        nextLink:
          readOnly: true
          type: string
          description: The link (url) to the next page of results.
      description: Data Lake Store firewall rule list information.
    FirewallRuleProperties_5:
      properties:
        startIpAddress:
          readOnly: true
          type: string
          description: The start IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol.
        endIpAddress:
          readOnly: true
          type: string
          description: The end IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol.
      description: The firewall rule properties.
    FirewallRuleListResult_6:
      description: A list of firewall rules.
      properties:
        value:
          type: array
          description: The list of firewall rules in a server group.
          items:
            $ref: '#/components/schemas/FirewallRule_6'
    FirewallRule_6:
      description: Represents a server group firewall rule.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource
      properties:
        systemData:
          description: The system metadata relating to this resource
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
        properties:
          $ref: '#/components/schemas/FirewallRuleProperties_6'
          x-ms-client-flatten: true
          description: The properties of a firewall rule.
      required:
      - properties
    CloudError:
      x-ms-external: true
      description: An error response from the Batch service.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: The error.
    FirewallRuleProperties_6:
      description: The properties of a server group firewall rule.
      properties:
        startIpAddress:
          type: string
          description: The start IP address of the server group firewall rule. Must be IPv4 format.
          pattern: ^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$
        endIpAddress:
          type: string
          description: The end IP address of the server group firewall rule. Must be IPv4 format.
          pattern: ^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$
      required:
      - startIpAddress
      - endIpAddress
    CloudErrorBody:
      x-ms-external: true
      description: An error response from the Batch service.
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of the property in error.
        details:
          type: array
          description: A list of additional details about the error.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          x-ms-identifiers:
          - code
    FirewallRuleListResult_7:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/FirewallRule_7'
          description: The list of firewall rules in a server.
      description: A list of firewall rules.
    FirewallRule_7:
      properties:
        properties:
          $ref: '#/components/schemas/FirewallRuleProperties_7'
          x-ms-client-flatten: true
          description: The properties of a firewall rule.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource
      required:
      - properties
      description: Represents a server firewall rule.
    FirewallRuleProperties_7:
      properties:
        startIpAddress:
          type: string
          pattern: ^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$
          description: The start IP address of the server firewall rule. Must be IPv4 format.
        endIpAddress:
          type: string
          pattern: ^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$
          description: The end IP address of the server firewall rule. Must be IPv4 format.
      required:
      - startIpAddress
      - endIpAddress
      description: The properties of a server firewall rule.
    ProxyResource:
      description: The resource model definition for a ARM proxy resource. It will have everything other than required location and tags
      allOf:
      - $ref: '#/components/schemas/Resource'
    RedisFirewallRuleListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/RedisFirewallRule'
          description: Results of the list firewall rules operation.
        nextLink:
          type: string
          readOnly: true
          description: Link for next page of results.
      description: The response of list firewall rules Redis operation.
    RedisFirewallRuleCreateParameters:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/RedisFirewallRuleProperties'
          description: Properties required to create a firewall rule .
      required:
      - properties
      description: Parameters required for creating a firewall rule on redis cache.
    Resource:
      description: The Resource definition.
      properties:
        id:
          readOnly: true
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
      x-ms-azure-resource: true
    RedisFirewallRuleProperties:
      description: Specifies a range of IP addresses permitted to connect to the cache
      properties:
        startIP:
          type: string
          description: lowest IP address included in the range
        endIP:
          type: string
          description: highest IP address included in the range
      required:
      - startIP
      - endIP
    RedisFirewallRule:
      description: A firewall rule on a redis cache has a name, and describes a contiguous range of IP addresses permitted to connect
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/RedisFirewallRuleProperties'
          description: redis cache firewall rule properties
      required:
      - properties
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
  parameters:
    FirewallRuleNameParameter:
      name: firewallRuleName
      in: path
      required: true
      description: The name of the mongo cluster firewall rule.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 80
        minLength: 1
        pattern: ^[a-zA-Z0-9][-_.a-zA-Z0-9]*
    MongoClusterNameParameter:
      name: mongoClusterName
      in: path
      required: true
      description: The name of the mongo cluster.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 40
        minLength: 3
        pattern: ^[a-z0-9]+(-[a-z0-9]+)*
    FirewallRuleNameParameter_2:
      name: firewallRuleName
      in: path
      required: true
      description: The name of the cluster firewall rule.
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[-\w\._]+$
    ClusterNameParameter:
      name: clusterName
      in: path
      required: true
      description: The name of the cluster.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 40
        minLength: 3
        pattern: ^(?![0-9]+$)(?!-)[a-z0-9-]{3,40}(?<!-)$
    ServerNameParameter:
      name: serverName
      in: path
      required: true
      description: The name of the server.
      x-ms-parameter-location: method
      schema:
        type: string
    AccountNameParameter:
      name: accountName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The name of the Data Lake Analytics account.
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The name of the Azure resource group.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Get subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
    AccountNameParameter_2:
      name: accountName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The name of the Data Lake Store account.
      schema:
        type: string
    SubscriptionIdParameter_2:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
    ServerGroupNameParameter:
      name: serverGroupName
      in: path
      required: true
      description: The name of the server group.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
    FirewallRuleNameParameter_3:
      name: firewallRuleName
      in: path
      required: true
      description: The name of the server group firewall rule.
      x-ms-parameter-location: method
      schema:
        type: string
    FirewallRuleNameParameter_4:
      name: firewallRuleName
      in: path
      required: true
      description: The name of the server firewall rule.
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter_2:
      name: api-version
      in: query
      required: true
      description: The API version to use for the request.
      schema:
        type: string
    SubscriptionIdParameter_3:
      name: subscriptionId
      in: path
      required: true
      description: The subscription ID that identifies an Azure subscription.
      schema:
        type: string
    SubscriptionIdParameter_4:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: Impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- azure-cosmos-db-for-mongodb-vcore-openapi-original.yml
- azure-cosmos-db-for-postgresql-openapi-original.yml
- azure-sql-database-server-firewall-rules-openapi-original.yml
- datalakeanalyticsaccountmanagementclient-openapi-original.yml
- datalakestoreaccountmanagementclient-openapi-original.yml
- hyperscalecitusmanagementclient-openapi-original.yml
- mariadbmanagementclient-openapi-original.yml
- redismanagementclient-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
