openapi: 3.2.0
info:
  title: Microsoft Azure Summaries API
  version: '1.0'
  description: 'Operations tagged Summaries across 2 of this provider''s published API definitions: offazurespringboot-openapi-original.yml, service-map-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
tags:
- name: Summaries
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzureSpringBoot/springbootsites/{siteName}/summaries/{summaryName}
  : get:
      tags:
      - Summaries
      operationId: microsoftAzureSummariesGet
      summary: Microsoft Azure Implements Summaries Get Method
      description: Gets the Summaries resource.
      x-ms-examples:
        Summaries_Get_MaximumSet_Gen:
          $ref: ./examples/Summaries_Get_MaximumSet_Gen.json
        Summaries_Get_MinimumSet_Gen:
          $ref: ./examples/Summaries_Get_MinimumSet_Gen.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/SiteNameParameter'
      - $ref: '#/components/parameters/summaryNameParameter'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Retrieves the Summaries resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Summary'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzureSpringBoot/springbootsites/{siteName}/summaries
  : get:
      tags:
      - Summaries
      operationId: microsoftAzureSummariesListbysite
      summary: Microsoft Azure Implements Summaries Get Method
      description: Lists the Summaries resource in springbootsites.
      x-ms-examples:
        Summaries_ListBySite_MaximumSet_Gen:
          $ref: ./examples/Summaries_ListBySite_MaximumSet_Gen.json
        Summaries_ListBySite_MinimumSet_Gen:
          $ref: ./examples/Summaries_ListBySite_MinimumSet_Gen.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/SiteNameParameter'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Retrieves the Summaries resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummaryList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/summaries/machines
  : get:
      tags:
      - Summaries
      operationId: microsoftAzureSummariesGetmachines
      x-ms-examples:
        SMSummariesGetMachinesGet:
          $ref: ./examples/Summaries/SMSummariesGetMachinesGet.json
      description: Returns summary information about the machines in the workspace.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: startTime
        in: query
        required: false
        description: UTC date and time specifying the start time of an interval. When not specified the service uses DateTime.UtcNow - 10m
        schema:
          type: string
          format: date-time
      - name: endTime
        in: query
        required: false
        description: UTC date and time specifying the end time of an interval. When not specified the service uses DateTime.UtcNow
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachinesSummary'
        default:
          description: An error occurred while processing the request. See the error.code parameter to identify the specific error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
components:
  schemas:
    Summary:
      type: object
      x-ms-azure-resource: true
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
      properties:
        properties:
          description: Resource properties.
          $ref: '#/components/schemas/SummariesProperties'
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
      description: The summary resource definition.
    SummariesProperties:
      type: object
      description: Summaries properties
      properties:
        discoveredServers:
          type: integer
          description: The of number discovered spring boot servers.
          format: int64
        discoveredApps:
          type: integer
          description: The of number discovered spring boot apps.
          format: int64
        errors:
          description: The list of errors.
          type: array
          items:
            description: The error
            $ref: '#/components/schemas/Error'
        provisioningState:
          type: string
          description: The resource provisioning state.
          enum:
          - Unknown
          - Succeeded
          - Failed
          - Canceled
          - Accepted
          - Provisioning
          - Deleting
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
    SummaryList:
      type: object
      description: List of Sites.
      properties:
        value:
          type: array
          description: List of Sites.
          items:
            $ref: '#/components/schemas/Summary'
        nextLink:
          type: string
          description: Url to follow for getting next page of resources.
    Error:
      type: object
      description: Defines the error.
      properties:
        id:
          description: The error ID.
          type: integer
          format: int64
        code:
          description: The error code.
          type: string
        summaryMessage:
          description: The summarized error message.
          type: string
        runAsAccountId:
          description: The account ID used to login.
          type: string
        message:
          description: The detailed error message.
          type: string
        possibleCauses:
          description: The error possible causes.
          type: string
        recommendedAction:
          description: The error recommended action
          type: string
        severity:
          description: The error severity
          type: string
        updatedTimeStamp:
          description: Time when this error was last updated.
          type: string
          format: date-time
    MachinesSummaryProperties:
      type: object
      allOf:
      - $ref: '#/components/schemas/SummaryProperties'
      description: Summarizes machines in the workspace.
      properties:
        total:
          type: integer
          format: int32
          description: Total number of machines.
        live:
          type: integer
          format: int32
          description: Number of live machines.
        os:
          $ref: '#/components/schemas/MachineCountsByOperatingSystem'
          description: Machine counts by operating system.
      required:
      - total
      - live
      - os
    Summary_2:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Base for all resource summaries.
    ErrorResponse:
      type: object
      description: An error response from the API.
      properties:
        error:
          $ref: '#/components/schemas/Error_2'
          description: Error information.
      required:
      - error
    MachineCountsByOperatingSystem:
      type: object
      description: Machines by operating system.
      properties:
        windows:
          type: integer
          format: int32
          description: Number of live Windows machines.
        linux:
          type: integer
          format: int32
          description: Number of live Linux machines.
      required:
      - windows
      - linux
    Error_2:
      type: object
      description: Error details.
      properties:
        code:
          type: string
          description: Error code identifying the specific error.
        message:
          type: string
          description: Error message in the caller's locale.
      required:
      - code
    Resource:
      description: Resource model definition.
      properties:
        id:
          type: string
          description: Resource identifier.
          readOnly: true
        type:
          type: string
          description: Resource type.
          readOnly: true
        name:
          type: string
          description: Resource name.
          readOnly: true
      x-ms-azure-resource: true
    MachinesSummary:
      description: A summary of the machines in the workspace.
      allOf:
      - $ref: '#/components/schemas/Summary_2'
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/MachinesSummaryProperties'
    SummaryProperties:
      type: object
      description: Base for all summaries.
      properties:
        startTime:
          type: string
          format: date-time
          description: Summary interval start time.
        endTime:
          type: string
          format: date-time
          description: Summary interval end time.
      required:
      - startTime
      - endTime
  parameters:
    SiteNameParameter:
      x-ms-parameter-location: method
      name: siteName
      in: path
      required: true
      description: The springbootsites name.
      schema:
        type: string
        maxLength: 64
        minLength: 3
        pattern: ^[a-z][a-z0-9-]*$
    summaryNameParameter:
      x-ms-parameter-location: method
      name: summaryName
      in: path
      required: true
      description: The name of summary
      schema:
        type: string
        maxLength: 63
        minLength: 3
        pattern: ^[A-Za-z][A-Za-z0-9]*$
    WorkspaceNameParameter:
      name: workspaceName
      in: path
      x-ms-parameter-location: method
      required: true
      description: OMS workspace containing the resources of interest.
      schema:
        type: string
        maxLength: 63
        minLength: 3
        pattern: '[a-zA-Z0-9_][a-zA-Z0-9_-]+[a-zA-Z0-9_]'
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      x-ms-parameter-location: method
      required: true
      description: Resource group name within the specified subscriptionId.
      schema:
        type: string
        maxLength: 64
        minLength: 1
        pattern: '[a-zA-Z0-9_-]+'
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: API version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Azure subscription identifier.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- offazurespringboot-openapi-original.yml
- service-map-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
