openapi: 3.2.0
info:
  version: 2023-11-01-preview
  title: Microsoft Azure Desktop Virtualization API Client Start…
servers:
- url: https://management.azure.com
tags:
- name: StartMenuItem
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/applicationGroups/{applicationGroupName}/startMenuItems
  : get:
      tags:
      - StartMenuItem
      operationId: microsoftAzureStartmenuitemsList
      description: List start menu items in the given application group.
      x-ms-examples:
        StartMenuItem_List:
          $ref: ./examples/StartMenuItem_List.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ApplicationGroupNameParameter'
      - name: pageSize
        in: query
        required: false
        description: Number of items per page.
        schema:
          type: integer
          format: int32
      - name: isDescending
        in: query
        required: false
        description: Indicates whether the collection is descending.
        schema:
          type: boolean
      - name: initialSkip
        in: query
        required: false
        description: Initial number of items to skip.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved start menu items in application group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartMenuItemList'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    CloudError:
      description: Cloud error object.
      type: object
      x-ms-external: true
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorProperties'
    StartMenuItemList:
      type: object
      title: StartMenuItemList
      description: List of StartMenuItem definitions.
      properties:
        value:
          type: array
          description: List of StartMenuItem definitions.
          items:
            $ref: '#/components/schemas/StartMenuItem'
        nextLink:
          type: string
          readOnly: true
          description: Link to the next page of results.
    StartMenuItemProperties:
      description: Schema for StartMenuItem properties.
      type: object
      properties:
        appAlias:
          type: string
          description: Alias of StartMenuItem.
        filePath:
          type: string
          description: Path to the file of StartMenuItem.
        commandLineArguments:
          type: string
          description: Command line arguments for StartMenuItem.
        iconPath:
          type: string
          description: Path to the icon.
        iconIndex:
          type: integer
          format: int32
          description: Index of the icon.
    StartMenuItem:
      type: object
      description: Represents a StartMenuItem definition.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/Resource
      properties:
        properties:
          description: Detailed properties for StartMenuItem
          x-ms-client-flatten: true
          $ref: '#/components/schemas/StartMenuItemProperties'
    CloudErrorProperties:
      description: Cloud error object properties.
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
  parameters:
    ApplicationGroupNameParameter:
      name: applicationGroupName
      in: path
      required: true
      description: The name of the application group
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 3
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
