openapi: 3.2.0
info:
  version: 2022-09-30-preview
  title: Microsoft Azure RecoveryServicesBackupClient Export Jobs…
  x-ms-code-generation-settings:
    internalConstructors: false
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ExportJobsOperationResults
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/operationResults/{operationId}
  : get:
      tags:
      - ExportJobsOperationResults
      description: 'Gets the operation result of operation triggered by Export Jobs API. If the operation is successful, then it also

        contains URL of a Blob and a SAS key to access the same. The blob contains exported jobs in JSON serialized format.'
      operationId: microsoftAzureExportjobsoperationresultsGet
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/VaultName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: operationId
        in: path
        description: OperationID which represents the export job.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultInfoBaseResource'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultInfoBaseResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Export Jobs Operation Results:
          $ref: ./examples/Common/ExportJobsOperationResult.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    CloudError:
      x-ms-external: true
      properties:
        error:
          type: object
          $ref: '#/components/schemas/CloudErrorBody'
          description: The error object.
      description: An error response from the Container Instance service.
    OperationResultInfoBaseResource:
      description: Base class for operation result info.
      allOf:
      - $ref: '#/components/schemas/OperationWorkerResponse'
      properties:
        operation:
          $ref: '#/components/schemas/OperationResultInfoBase'
          description: OperationResultInfoBaseResource operation
    CloudErrorBody:
      x-ms-external: true
      properties:
        code:
          readOnly: true
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          readOnly: true
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          readOnly: true
          type: string
          description: The target of the particular error. For example, the name of the property in error.
        details:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          x-ms-identifiers:
          - code
          description: A list of additional details about the error.
        additionalInfo:
          readOnly: true
          type: array
          items:
            $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorAdditionalInfo
          x-ms-identifiers: []
          description: The error additional info.
      description: An error response from the Container Instance service.
    OperationResultInfoBase:
      description: Base class for operation result info.
      required:
      - objectType
      type: object
      properties:
        objectType:
          description: This property will be used as the discriminator for deciding the specific types in the polymorphic chain of types.
          type: string
      discriminator:
        propertyName: objectType
    OperationWorkerResponse:
      description: This is the base class for operation result responses.
      type: object
      properties:
        statusCode:
          description: HTTP Status Code of the operation.
          enum:
          - Continue
          - SwitchingProtocols
          - OK
          - Created
          - Accepted
          - NonAuthoritativeInformation
          - NoContent
          - ResetContent
          - PartialContent
          - MultipleChoices
          - Ambiguous
          - MovedPermanently
          - Moved
          - Found
          - Redirect
          - SeeOther
          - RedirectMethod
          - NotModified
          - UseProxy
          - Unused
          - TemporaryRedirect
          - RedirectKeepVerb
          - BadRequest
          - Unauthorized
          - PaymentRequired
          - Forbidden
          - NotFound
          - MethodNotAllowed
          - NotAcceptable
          - ProxyAuthenticationRequired
          - RequestTimeout
          - Conflict
          - Gone
          - LengthRequired
          - PreconditionFailed
          - RequestEntityTooLarge
          - RequestUriTooLong
          - UnsupportedMediaType
          - RequestedRangeNotSatisfiable
          - ExpectationFailed
          - UpgradeRequired
          - InternalServerError
          - NotImplemented
          - BadGateway
          - ServiceUnavailable
          - GatewayTimeout
          - HttpVersionNotSupported
          type: string
          x-ms-enum:
            name: HttpStatusCode
            modelAsString: false
        headers:
          description: HTTP headers associated with this operation.
          type: object
          additionalProperties:
            type: array
            items:
              type: string
  parameters:
    ResourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group where the recovery services vault is present.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionId:
      name: subscriptionId
      in: path
      description: The subscription Id.
      required: true
      schema:
        type: string
    ApiVersion:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
    VaultName:
      name: vaultName
      in: path
      description: The name of the recovery services vault.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account.
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
