openapi: 3.2.0
info:
  title: Microsoft Azure Private Endpoint Connection API
  x-refined-note:
  - x-ms-code-generation-settings differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged PrivateEndpointConnection across 3 of this provider''s published API definitions: batchmanagementclient-openapi-original.yml, purviewmanagementclient-openapi-original.yml, recoveryservicesbackupclient-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Private Endpoint Connection
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/privateEndpointConnections
  : get:
      tags:
      - Private Endpoint Connection
      operationId: microsoftAzurePrivateendpointconnectionListbybatchaccount
      description: Lists all of the private endpoint connections in the specified account.
      x-ms-examples:
        ListPrivateEndpointConnections:
          $ref: ./examples/PrivateEndpointConnectionsList.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: maxresults
        in: query
        required: false
        description: The maximum number of items to return in the response.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: The operation was successful. The response contains a list of private link resources associated with the account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPrivateEndpointConnectionsResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/privateEndpointConnections/{privateEndpointConnectionName}
  : get:
      tags:
      - Private Endpoint Connection
      operationId: microsoftAzurePrivateendpointconnectionGet
      description: Gets information about the specified private endpoint connection.
      x-ms-examples:
        GetPrivateEndpointConnection:
          $ref: ./examples/PrivateEndpointConnectionGet.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/PrivateEndpointConnectionNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: The operation was successful. The response contains the private endpoint connection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    patch:
      tags:
      - Private Endpoint Connection
      operationId: microsoftAzurePrivateendpointconnectionUpdate
      description: Updates the properties of an existing private endpoint connection.
      x-ms-examples:
        UpdatePrivateEndpointConnection:
          $ref: ./examples/PrivateEndpointConnectionUpdate.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/PrivateEndpointConnectionNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: If-Match
        in: header
        required: false
        description: The state (ETag) version of the private endpoint connection to update. This value can be omitted or set to "*" to apply the operation unconditionally.
        schema:
          type: string
      responses:
        '200':
          description: The operation was successful. The response contains the PrivateEndpointConnection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
        '202':
          description: The operation was accepted and will be performed in the background.
          headers:
            Location:
              description: The URL of the resource used to check the status of the asynchronous operation.
              schema:
                type: string
            Retry-After:
              description: Suggested delay to check the status of the asynchronous operation. The value is an integer that represents the seconds.
              schema:
                type: integer
                format: int32
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateEndpointConnection'
        description: PrivateEndpointConnection properties that should be updated. Properties that are supplied will be updated, any property not supplied will be unchanged.
        required: true
    delete:
      tags:
      - Private Endpoint Connection
      operationId: microsoftAzurePrivateendpointconnectionDelete
      x-ms-examples:
        PrivateEndpointConnectionDelete:
          $ref: ./examples/PrivateEndpointConnectionDelete.json
      description: Deletes the specified private endpoint connection.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/PrivateEndpointConnectionNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '202':
          description: The operation will be completed asynchronously.
          headers:
            Location:
              description: The URL of the resource used to check the status of the asynchronous operation.
              schema:
                type: string
            Retry-After:
              description: Suggested delay to check the status of the asynchronous operation. The value is an integer that specifies the delay in seconds.
              schema:
                type: integer
                format: int32
        '204':
          description: The operation was successful.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Purview/accounts/{accountName}/privateEndpointConnections
  : get:
      tags:
      - Private Endpoint Connection
      summary: Microsoft Azure Gets Private Endpoint Connections
      description: Get private endpoint connections for account
      operationId: microsoftAzurePrivateendpointconnectionsListbyaccount
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/accountName'
      - $ref: '#/components/parameters/api-version'
      - name: $skipToken
        in: query
        description: The skip token.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionList'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        PrivateEndpointConnections_ListByAccount:
          $ref: ./examples/PrivateEndpointConnections_ListByAccount.json
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Purview/accounts/{accountName}/privateEndpointConnections/{privateEndpointConnectionName}
  : get:
      tags:
      - Private Endpoint Connection
      summary: Microsoft Azure Gets Private Endpoint Connection Information
      description: Get a private endpoint connection
      operationId: microsoftAzurePrivateendpointconnectionsGet
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/accountName'
      - name: privateEndpointConnectionName
        in: path
        description: Name of the private endpoint connection.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection_2'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        PrivateEndpointConnections_Get:
          $ref: ./examples/PrivateEndpointConnections_Get.json
    put:
      tags:
      - Private Endpoint Connection
      summary: Microsoft Azure Approves Rejects Private Endpoint Connection Request
      description: Create or update a private endpoint connection
      operationId: microsoftAzurePrivateendpointconnectionsCreateorupdate
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/accountName'
      - name: privateEndpointConnectionName
        in: path
        description: Name of the private endpoint connection.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection_2'
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection_2'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-long-running-operation: true
      x-ms-examples:
        PrivateEndpointConnections_CreateOrUpdate:
          $ref: ./examples/PrivateEndpointConnections_CreateOrUpdate.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateEndpointConnection_2'
        description: The request.
        required: true
    delete:
      tags:
      - Private Endpoint Connection
      summary: Microsoft Azure Deletes Private Endpoint Connection
      description: Delete a private endpoint connection
      operationId: microsoftAzurePrivateendpointconnectionsDelete
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/accountName'
      - name: privateEndpointConnectionName
        in: path
        description: Name of the private endpoint connection.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
        '202':
          description: Accepted
        '204':
          description: Success
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-long-running-operation: true
      x-ms-examples:
        PrivateEndpointConnections_Delete:
          $ref: ./examples/PrivateEndpointConnections_Delete.json
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/privateEndpointConnections/{privateEndpointConnectionName}
  : get:
      tags:
      - Private Endpoint Connection
      description: Get Private Endpoint Connection. This call is made by Backup Admin.
      operationId: microsoftAzurePrivateendpointconnectionGet
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/VaultName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: privateEndpointConnectionName
        in: path
        description: The name of the private endpoint connection.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewErrorResponse'
      x-ms-examples:
        Get PrivateEndpointConnection:
          $ref: ./examples/PrivateEndpointConnection/GetPrivateEndpointConnection.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Private Endpoint Connection
      description: Approve or Reject Private Endpoint requests. This call is made by Backup Admin.
      operationId: microsoftAzurePrivateendpointconnectionPut
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/VaultName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: privateEndpointConnectionName
        in: path
        description: The name of the private endpoint connection.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionResource'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError_2'
      x-ms-long-running-operation: true
      x-ms-examples:
        Update PrivateEndpointConnection:
          $ref: ./examples/PrivateEndpointConnection/PutPrivateEndpointConnection.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateEndpointConnectionResource'
        description: Request body for operation
        required: true
    delete:
      tags:
      - Private Endpoint Connection
      description: Delete Private Endpoint requests. This call is made by Backup Admin.
      operationId: microsoftAzurePrivateendpointconnectionDelete
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/VaultName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: privateEndpointConnectionName
        in: path
        description: The name of the private endpoint connection.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: NoContent
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError_2'
      x-ms-long-running-operation: true
      x-ms-examples:
        Delete PrivateEndpointConnection:
          $ref: ./examples/PrivateEndpointConnection/DeletePrivateEndpointConnection.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
components:
  schemas:
    CloudError:
      type: object
      x-ms-external: true
      properties:
        error:
          description: The body of the error response.
          $ref: '#/components/schemas/CloudErrorBody'
      description: An error response from the Batch service.
    PrivateEndpoint:
      type: object
      properties:
        id:
          type: string
          title: The ARM resource identifier of the private endpoint. This is of the form /subscriptions/{subscription}/resourceGroups/{group}/providers/Microsoft.Network/privateEndpoints/{privateEndpoint}.
          readOnly: true
      description: The private endpoint of the private endpoint connection.
    ProxyResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: The ID of the resource.
        name:
          readOnly: true
          type: string
          description: The name of the resource.
        type:
          readOnly: true
          type: string
          description: The type of the resource.
        etag:
          readOnly: true
          type: string
          description: The ETag of the resource, used for concurrency statements.
      description: A definition of an Azure resource.
      x-ms-azure-resource: true
    PrivateEndpointConnection:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties'
          description: The properties associated with the private endpoint connection.
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: Contains information about a private link resource.
    ListPrivateEndpointConnectionsResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection'
          description: The collection of returned private endpoint connection.
        nextLink:
          type: string
          description: The continuation token.
      description: Values returned by the List operation.
    PrivateLinkServiceConnectionState:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/PrivateLinkServiceConnectionStatus'
          title: The status for the private endpoint connection of Batch account
        description:
          type: string
          title: Description of the private Connection state
        actionsRequired:
          type: string
          title: Action required on the private connection state
          readOnly: true
      required:
      - status
      description: The private link service connection state of the private endpoint connection
    PrivateLinkServiceConnectionStatus:
      type: string
      title: The status of the Batch private endpoint connection
      enum:
      - Approved
      - Pending
      - Rejected
      - Disconnected
      x-ms-enum:
        name: PrivateLinkServiceConnectionStatus
        modelAsString: false
        values:
        - value: Approved
          description: The private endpoint connection is approved and can be used to access Batch account
        - value: Pending
          description: The private endpoint connection is pending and cannot be used to access Batch account
        - value: Rejected
          description: The private endpoint connection is rejected and cannot be used to access Batch account
        - value: Disconnected
          description: The private endpoint connection is disconnected and cannot be used to access Batch account
    CloudErrorBody:
      type: object
      x-ms-external: true
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of the property in error.
        details:
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          x-ms-identifiers:
          - message
          - target
          description: A list of additional details about the error.
      description: An error response from the Batch service.
    PrivateEndpointConnectionProperties:
      type: object
      properties:
        provisioningState:
          type: string
          readOnly: true
          title: The provisioning state of the private endpoint connection.
          enum:
          - Creating
          - Updating
          - Deleting
          - Succeeded
          - Failed
          - Cancelled
          x-ms-enum:
            name: PrivateEndpointConnectionProvisioningState
            modelAsString: false
            values:
            - value: Creating
              description: The connection is creating.
            - value: Updating
              description: The user has requested that the connection status be updated, but the update operation has not yet completed. You may not reference the connection when connecting the Batch account.
            - value: Deleting
              description: The connection is deleting.
            - value: Succeeded
              description: The connection status is final and is ready for use if Status is Approved.
            - value: Failed
              description: The user requested that the connection be updated and it failed. You may retry the update operation.
            - value: Cancelled
              description: The user has cancelled the connection creation.
        privateEndpoint:
          $ref: '#/components/schemas/PrivateEndpoint'
          readOnly: true
          title: The ARM resource identifier of the private endpoint.
        groupIds:
          type: array
          readOnly: true
          items:
            type: string
          title: The group id of the private endpoint connection.
          description: The value has one and only one group id.
        privateLinkServiceConnectionState:
          $ref: '#/components/schemas/PrivateLinkServiceConnectionState'
          title: The private link service connection state of the private endpoint connection.
      description: Private endpoint connection properties.
    PrivateEndpoint_2:
      description: A private endpoint class.
      type: object
      properties:
        id:
          description: The private endpoint identifier.
          type: string
    PrivateEndpointConnectionList:
      description: Paged list of private endpoint connections
      required:
      - value
      type: object
      properties:
        count:
          format: int64
          description: Total item count.
          type: integer
        nextLink:
          description: The Url of next result page.
          type: string
        value:
          description: Collection of items of type results.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection_2'
    ProxyResource_2:
      description: Proxy Azure Resource
      type: object
      properties:
        id:
          description: Gets or sets the identifier.
          type: string
          readOnly: true
        name:
          description: Gets or sets the name.
          type: string
          readOnly: true
        type:
          description: Gets or sets the type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    ErrorModel:
      description: Default error model
      type: object
      properties:
        code:
          description: Gets or sets the code.
          type: string
          readOnly: true
        details:
          description: Gets or sets the details.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/ErrorModel'
          readOnly: true
        message:
          description: Gets or sets the messages.
          type: string
          readOnly: true
        target:
          description: Gets or sets the target.
          type: string
          readOnly: true
    PrivateEndpointConnection_2:
      description: A private endpoint connection class.
      type: object
      allOf:
      - $ref: '#/components/schemas/ProxyResource_2'
      properties:
        properties:
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties_2'
          description: The connection identifier.
          x-ms-client-flatten: true
    PrivateLinkServiceConnectionState_2:
      description: The private link service connection state.
      type: object
      properties:
        actionsRequired:
          description: The required actions.
          type: string
        description:
          description: The description.
          type: string
        status:
          description: The status.
          enum:
          - Unknown
          - Pending
          - Approved
          - Rejected
          - Disconnected
          type: string
          x-ms-enum:
            name: status
            modelAsString: true
    ErrorResponseModel:
      description: Default error response model
      type: object
      properties:
        error:
          description: Gets or sets the error.
          allOf:
          - $ref: '#/components/schemas/ErrorModel'
          readOnly: true
    PrivateEndpointConnectionProperties_2:
      description: A private endpoint connection properties class.
      type: object
      properties:
        privateEndpoint:
          $ref: '#/components/schemas/PrivateEndpoint_2'
          description: The private endpoint information.
        privateLinkServiceConnectionState:
          $ref: '#/components/schemas/PrivateLinkServiceConnectionState_2'
          description: The private link service connection state.
        provisioningState:
          description: The provisioning state.
          type: string
          readOnly: true
    CloudError_2:
      x-ms-external: true
      properties:
        error:
          type: object
          $ref: '#/components/schemas/CloudErrorBody_2'
          description: The error object.
      description: An error response from the Container Instance service.
    PrivateEndpoint_3:
      description: The Private Endpoint network resource that is linked to the Private Endpoint connection
      type: object
      properties:
        id:
          description: Gets or sets id
          type: string
    PrivateEndpointConnection_3:
      description: Private Endpoint Connection Response Properties
      type: object
      properties:
        provisioningState:
          description: Gets or sets provisioning state of the private endpoint connection
          enum:
          - Succeeded
          - Deleting
          - Failed
          - Pending
          type: string
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
        privateEndpoint:
          $ref: '#/components/schemas/PrivateEndpoint_3'
          description: Gets or sets private endpoint associated with the private endpoint connection
        privateLinkServiceConnectionState:
          $ref: '#/components/schemas/PrivateLinkServiceConnectionState_3'
          description: Gets or sets private link service connection state
    NewErrorResponse:
      properties:
        error:
          type: object
          description: The error object.
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                $ref: '#/components/schemas/NewErrorResponse'
              x-ms-identifiers:
              - /error/code
              description: The error details.
            additionalInfo:
              readOnly: true
              type: array
              items:
                $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorAdditionalInfo
              x-ms-identifiers: []
              description: The error additional info.
      description: The resource management error response.
    PrivateLinkServiceConnectionState_3:
      description: Private Link Service Connection State
      type: object
      properties:
        status:
          description: Gets or sets the status
          enum:
          - Pending
          - Approved
          - Rejected
          - Disconnected
          type: string
          x-ms-enum:
            name: PrivateEndpointConnectionStatus
            modelAsString: true
        description:
          description: Gets or sets description
          type: string
        actionRequired:
          description: Gets or sets actions required
          type: string
    CloudErrorBody_2:
      x-ms-external: true
      properties:
        code:
          readOnly: true
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          readOnly: true
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          readOnly: true
          type: string
          description: The target of the particular error. For example, the name of the property in error.
        details:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody_2'
          x-ms-identifiers:
          - code
          description: A list of additional details about the error.
        additionalInfo:
          readOnly: true
          type: array
          items:
            $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorAdditionalInfo
          x-ms-identifiers: []
          description: The error additional info.
      description: An error response from the Container Instance service.
    PrivateEndpointConnectionResource:
      description: Private Endpoint Connection Response Properties
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/PrivateEndpointConnection_3'
          description: PrivateEndpointConnectionResource properties
    Resource:
      description: ARM Resource.
      type: object
      properties:
        id:
          description: Resource Id represents the complete path to the resource.
          type: string
          readOnly: true
        name:
          description: Resource name associated with the resource.
          type: string
          readOnly: true
        type:
          description: Resource type represents the complete path of the form Namespace/ResourceType/ResourceType/...
          type: string
          readOnly: true
        location:
          description: Resource location.
          type: string
        tags:
          description: Resource tags.
          type: object
          additionalProperties:
            type: string
        eTag:
          description: Optional ETag.
          type: string
      x-ms-azure-resource: true
  parameters:
    PrivateEndpointConnectionNameParameter:
      name: privateEndpointConnectionName
      in: path
      required: true
      description: The private endpoint connection name. This must be unique within the account.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 101
        minLength: 1
        pattern: ^[a-zA-Z0-9_-]+\.?[a-fA-F0-9-]*$
    AccountNameParameter:
      name: accountName
      in: path
      required: true
      description: The name of the Batch account.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 24
        minLength: 3
        pattern: ^[a-zA-Z0-9]+$
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group that contains the Batch account.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to be used with the HTTP request.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)
      schema:
        type: string
    accountName:
      name: accountName
      in: path
      description: The name of the account.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 63
        minLength: 3
        pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
    api-version:
      name: api-version
      in: query
      description: The api version to use.
      required: true
      schema:
        type: string
    resourceGroupName:
      name: resourceGroupName
      in: path
      description: The resource group name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    subscriptionId:
      name: subscriptionId
      in: path
      description: The subscription identifier
      required: true
      schema:
        type: string
    ResourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group where the recovery services vault is present.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionId:
      name: subscriptionId
      in: path
      description: The subscription Id.
      required: true
      schema:
        type: string
    ApiVersion:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
    VaultName:
      name: vaultName
      in: path
      description: The name of the recovery services vault.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Microsoft Entra OAuth 2.0 auth code flow
x-refined-from:
- batchmanagementclient-openapi-original.yml
- purviewmanagementclient-openapi-original.yml
- recoveryservicesbackupclient-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
