openapi: 3.2.0
info:
  version: 2023-11-01-preview
  title: Microsoft Azure Desktop Virtualization API Client Scaling…
servers:
- url: https://management.azure.com
tags:
- name: ScalingPlan
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/scalingPlans/{scalingPlanName}
  : get:
      tags:
      - ScalingPlan
      operationId: microsoftAzureScalingplansGet
      description: Get a scaling plan.
      x-ms-examples:
        ScalingPlans_Get:
          $ref: ./examples/ScalingPlan_Get.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ScalingPlanNameParameter'
      responses:
        '200':
          description: Successfully retrieved scaling plan.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScalingPlan'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - ScalingPlan
      operationId: microsoftAzureScalingplansCreate
      description: Create or update a scaling plan.
      x-ms-examples:
        ScalingPlans_Create:
          $ref: ./examples/ScalingPlan_Create.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ScalingPlanNameParameter'
      responses:
        '200':
          description: Successfully updated scaling plan.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScalingPlan'
        '201':
          description: Successfully created scaling plan.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScalingPlan'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScalingPlan'
        description: Object containing scaling plan definitions.
        required: true
    delete:
      tags:
      - ScalingPlan
      operationId: microsoftAzureScalingplansDelete
      description: Remove a scaling plan.
      x-ms-examples:
        ScalingPlans_Delete:
          $ref: ./examples/ScalingPlan_Delete.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ScalingPlanNameParameter'
      responses:
        '200':
          description: Successfully deleted scaling plan.
        '204':
          description: Scaling plan does not exist.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    patch:
      tags:
      - ScalingPlan
      operationId: microsoftAzureScalingplansUpdate
      description: Update a scaling plan.
      x-ms-examples:
        ScalingPlans_Update:
          $ref: ./examples/ScalingPlan_Update.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ScalingPlanNameParameter'
      responses:
        '200':
          description: Successfully updated scaling plan.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScalingPlan'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScalingPlanPatch'
        description: Object containing scaling plan definitions.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/scalingPlans:
    get:
      tags:
      - ScalingPlan
      operationId: microsoftAzureScalingplansListbyresourcegroup
      description: List scaling plans.
      x-ms-examples:
        ScalingPlans_ListByResourceGroup:
          $ref: ./examples/ScalingPlan_ListByResourceGroup.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - name: pageSize
        in: query
        required: false
        description: Number of items per page.
        schema:
          type: integer
          format: int32
      - name: isDescending
        in: query
        required: false
        description: Indicates whether the collection is descending.
        schema:
          type: boolean
      - name: initialSkip
        in: query
        required: false
        description: Initial number of items to skip.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved scaling plans in resource group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScalingPlanList'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/providers/Microsoft.DesktopVirtualization/scalingPlans:
    get:
      tags:
      - ScalingPlan
      operationId: microsoftAzureScalingplansListbysubscription
      description: List scaling plans in subscription.
      x-ms-examples:
        ScalingPlans_ListBySubscription:
          $ref: ./examples/ScalingPlan_ListBySubscription.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - name: pageSize
        in: query
        required: false
        description: Number of items per page.
        schema:
          type: integer
          format: int32
      - name: isDescending
        in: query
        required: false
        description: Indicates whether the collection is descending.
        schema:
          type: boolean
      - name: initialSkip
        in: query
        required: false
        description: Initial number of items to skip.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved scaling plans in subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScalingPlanList'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/scalingPlans
  : get:
      tags:
      - ScalingPlan
      operationId: microsoftAzureScalingplansListbyhostpool
      description: List scaling plan associated with hostpool.
      x-ms-examples:
        ScalingPlan_ListByHostPool:
          $ref: ./examples/ScalingPlan_ListByHostPool.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/HostPoolNameParameter'
      - name: pageSize
        in: query
        required: false
        description: Number of items per page.
        schema:
          type: integer
          format: int32
      - name: isDescending
        in: query
        required: false
        description: Indicates whether the collection is descending.
        schema:
          type: boolean
      - name: initialSkip
        in: query
        required: false
        description: Initial number of items to skip.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved scaling plan associated with hostpool.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScalingPlanList'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    ScalingPlanList:
      type: object
      title: ScalingPlanList
      description: List of scaling plan definitions.
      properties:
        value:
          type: array
          description: List of scaling plan definitions.
          items:
            $ref: '#/components/schemas/ScalingPlan'
        nextLink:
          type: string
          readOnly: true
          description: Link to the next page of results.
    CloudError:
      description: Cloud error object.
      type: object
      x-ms-external: true
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorProperties'
    ScalingPlanPatch:
      type: object
      description: Scaling plan properties that can be patched.
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: tags to be updated
        properties:
          description: Detailed properties for scaling plan
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ScalingPlanPatchProperties'
    ScalingPlanPatchProperties:
      type: object
      description: Scaling plan properties.
      properties:
        description:
          type: string
          description: Description of scaling plan.
        friendlyName:
          type: string
          description: User friendly name of scaling plan.
        timeZone:
          type: string
          description: Timezone of the scaling plan.
        exclusionTag:
          type: string
          description: Exclusion tag for scaling plan.
        schedules:
          type: array
          description: List of ScalingSchedule definitions.
          items:
            $ref: '#/components/schemas/ScalingSchedule'
        hostPoolReferences:
          type: array
          description: List of ScalingHostPoolReference definitions.
          items:
            $ref: '#/components/schemas/ScalingHostPoolReference'
    ScalingPlan:
      type: object
      title: ScalingPlan
      description: Represents a scaling plan definition.
      required:
      - properties
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ResourceModelWithAllowedPropertySet
      properties:
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: Metadata pertaining to creation and last modification of the resource.
        properties:
          description: Detailed properties for scaling plan.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ScalingPlanProperties'
    ScalingSchedule:
      description: A ScalingPlanPooledSchedule.
      type: object
      properties:
        name:
          type: string
          description: Name of the ScalingPlanPooledSchedule.
        daysOfWeek:
          type: array
          description: Set of days of the week on which this schedule is active.
          items:
            enum:
            - Sunday
            - Monday
            - Tuesday
            - Wednesday
            - Thursday
            - Friday
            - Saturday
            type: string
        rampUpStartTime:
          $ref: '#/components/schemas/Time'
          description: Starting time for ramp up period.
        rampUpLoadBalancingAlgorithm:
          enum:
          - BreadthFirst
          - DepthFirst
          x-ms-enum:
            name: SessionHostLoadBalancingAlgorithm
            modelAsString: true
          type: string
          description: Load balancing algorithm for ramp up period.
        rampUpMinimumHostsPct:
          type: integer
          format: int32
          minimum: 0
          maximum: 100
          description: Minimum host percentage for ramp up period.
        rampUpCapacityThresholdPct:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          description: Capacity threshold for ramp up period.
        peakStartTime:
          $ref: '#/components/schemas/Time'
          description: Starting time for peak period.
        peakLoadBalancingAlgorithm:
          enum:
          - BreadthFirst
          - DepthFirst
          x-ms-enum:
            name: SessionHostLoadBalancingAlgorithm
            modelAsString: true
          type: string
          description: Load balancing algorithm for peak period.
        rampDownStartTime:
          $ref: '#/components/schemas/Time'
          description: Starting time for ramp down period.
        rampDownLoadBalancingAlgorithm:
          enum:
          - BreadthFirst
          - DepthFirst
          x-ms-enum:
            name: SessionHostLoadBalancingAlgorithm
            modelAsString: true
          type: string
          description: Load balancing algorithm for ramp down period.
        rampDownMinimumHostsPct:
          type: integer
          format: int32
          minimum: 0
          maximum: 100
          description: Minimum host percentage for ramp down period.
        rampDownCapacityThresholdPct:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          description: Capacity threshold for ramp down period.
        rampDownForceLogoffUsers:
          type: boolean
          description: Should users be logged off forcefully from hosts.
        rampDownStopHostsWhen:
          enum:
          - ZeroSessions
          - ZeroActiveSessions
          x-ms-enum:
            name: StopHostsWhen
            modelAsString: true
          type: string
          description: Specifies when to stop hosts during ramp down period.
        rampDownWaitTimeMinutes:
          type: integer
          format: int32
          description: Number of minutes to wait to stop hosts during ramp down period.
        rampDownNotificationMessage:
          type: string
          description: Notification message for users during ramp down period.
        offPeakStartTime:
          $ref: '#/components/schemas/Time'
          description: Starting time for off-peak period.
        offPeakLoadBalancingAlgorithm:
          enum:
          - BreadthFirst
          - DepthFirst
          x-ms-enum:
            name: SessionHostLoadBalancingAlgorithm
            modelAsString: true
          type: string
          description: Load balancing algorithm for off-peak period.
    ScalingPlanProperties:
      type: object
      description: Scaling plan properties.
      required:
      - timeZone
      properties:
        objectId:
          type: string
          description: ObjectId of scaling plan. (internal use)
          readOnly: true
        description:
          type: string
          description: Description of scaling plan.
        friendlyName:
          type: string
          description: User friendly name of scaling plan.
        timeZone:
          type: string
          description: Timezone of the scaling plan.
        hostPoolType:
          enum:
          - Pooled
          x-ms-enum:
            name: ScalingHostPoolType
            modelAsString: true
            values:
            - value: Pooled
              description: Users get a new (random) SessionHost every time it connects to the HostPool.
          default: Pooled
          type: string
          description: HostPool type for desktop.
        exclusionTag:
          type: string
          description: Exclusion tag for scaling plan.
        schedules:
          type: array
          description: List of ScalingPlanPooledSchedule definitions.
          items:
            $ref: '#/components/schemas/ScalingSchedule'
        hostPoolReferences:
          type: array
          description: List of ScalingHostPoolReference definitions.
          items:
            $ref: '#/components/schemas/ScalingHostPoolReference'
    ScalingHostPoolReference:
      description: Scaling plan reference to hostpool.
      type: object
      properties:
        hostPoolArmPath:
          type: string
          description: Arm path of referenced hostpool.
        scalingPlanEnabled:
          type: boolean
          description: Is the scaling plan enabled for this hostpool.
    Time:
      description: The time for a scaling action to occur.
      required:
      - hour
      - minute
      type: object
      properties:
        hour:
          format: int32
          description: The hour.
          maximum: 23
          minimum: 0
          type: integer
        minute:
          format: int32
          description: The minute.
          maximum: 59
          minimum: 0
          type: integer
    CloudErrorProperties:
      description: Cloud error object properties.
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
  parameters:
    ScalingPlanNameParameter:
      name: scalingPlanName
      in: path
      required: true
      description: The name of the scaling plan.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 3
    HostPoolNameParameter:
      name: hostPoolName
      in: path
      required: true
      description: The name of the host pool within the specified resource group
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 3
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
