openapi: 3.2.0
info:
  title: Microsoft Azure ProviderHub Provider Registration API
  description: Microsoft ProviderHub
  version: 2021-09-01-preview
  x-ms-code-generation-settings:
    name: ProviderHubClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ProviderRegistration
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}:
    get:
      tags:
      - ProviderRegistration
      description: Gets the provider registration details.
      operationId: microsoftAzureProviderregistrationsGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ProviderNamespaceParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      x-ms-examples:
        ProviderRegistrations_Get:
          $ref: ./examples/ProviderRegistrations_Get.json
      responses:
        '200':
          description: Successfully retrieved the provider registration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderRegistration'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
    put:
      tags:
      - ProviderRegistration
      description: Creates or updates the provider registration.
      operationId: microsoftAzureProviderregistrationsCreateorupdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ProviderNamespaceParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      x-ms-examples:
        ProviderRegistrations_CreateOrUpdate:
          $ref: ./examples/ProviderRegistrations_CreateOrUpdate.json
      responses:
        '200':
          description: Successfully updated the provider registration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderRegistration'
        '201':
          description: Successfully created the provider registration.
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      summary: Microsoft Azure Put Subscriptions Subscriptionid Providers Microsoft…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderRegistration'
        description: The provider registration properties supplied to the CreateOrUpdate operation.
        required: true
    delete:
      tags:
      - ProviderRegistration
      description: Deletes a provider registration.
      operationId: microsoftAzureProviderregistrationsDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ProviderNamespaceParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      x-ms-examples:
        ProviderRegistrations_Delete:
          $ref: ./examples/ProviderRegistrations_Delete.json
      responses:
        '200':
          description: Successfully deleted the provider registration.
        '204':
          description: Resource does not exist.
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Providers Microsoft…
  /subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations:
    get:
      tags:
      - ProviderRegistration
      description: Gets the list of the provider registrations in the subscription.
      operationId: microsoftAzureProviderregistrationsList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      x-ms-examples:
        ProviderRegistrations_List:
          $ref: ./examples/ProviderRegistrations_List.json
      responses:
        '200':
          description: Successfully retrieved the provider registrations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderRegistrationArrayResponseWithContinuation'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
  ? /subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/generateOperations
  : post:
      tags:
      - ProviderRegistration
      description: Generates the operations api for the given provider.
      operationId: microsoftAzureProviderregistrationsGenerateoperations
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ProviderNamespaceParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      x-ms-examples:
        ProviderRegistrations_GenerateOperations:
          $ref: ./examples/ProviderRegistrations_GenerateOperations.json
      responses:
        '200':
          description: The operations api has been generated successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OperationsDefinition'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft…
components:
  schemas:
    ResourceProviderManifestProperties:
      type: object
      properties:
        providerAuthentication:
          allOf:
          - $ref: '#/components/schemas/ResourceProviderAuthentication'
        providerAuthorizations:
          type: array
          items:
            $ref: '#/components/schemas/ResourceProviderAuthorization'
        namespace:
          type: string
        providerVersion:
          type: string
        providerType:
          enum:
          - NotSpecified
          - Internal
          - External
          - Hidden
          - RegistrationFree
          - LegacyRegistrationRequired
          - TenantOnly
          - AuthorizationFree
          type: string
          x-ms-enum:
            name: ResourceProviderType
            modelAsString: true
        requiredFeatures:
          type: array
          items:
            type: string
        featuresRule:
          allOf:
          - $ref: '#/components/schemas/FeaturesRule'
        requestHeaderOptions:
          allOf:
          - $ref: '#/components/schemas/RequestHeaderOptions'
        management:
          allOf:
          - $ref: '#/components/schemas/ResourceProviderManagement'
        capabilities:
          type: array
          items:
            $ref: '#/components/schemas/ResourceProviderCapabilities'
        metadata: {}
        templateDeploymentOptions:
          allOf:
          - $ref: '#/components/schemas/TemplateDeploymentOptions'
    ProviderRegistrationArrayResponseWithContinuation:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ProviderRegistration'
        nextLink:
          description: The URL to get to the next set of results, if there are any.
          type: string
    ThirdPartyProviderAuthorization:
      type: object
      properties:
        authorizations:
          type: array
          items:
            $ref: '#/components/schemas/LightHouseAuthorization'
        managedByTenantId:
          type: string
    ResourceProviderAuthorization:
      type: object
      properties:
        applicationId:
          type: string
        roleDefinitionId:
          type: string
        managedByRoleDefinitionId:
          type: string
    ResourceProviderAuthentication:
      required:
      - allowedAudiences
      type: object
      properties:
        allowedAudiences:
          type: array
          items:
            type: string
    ProvisioningState:
      enum:
      - NotSpecified
      - Accepted
      - Running
      - Creating
      - Created
      - Deleting
      - Deleted
      - Canceled
      - Failed
      - Succeeded
      - MovingResources
      - TransientFailure
      - RolloutInProgress
      type: string
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    ErrorResponse:
      description: Standard error response.
      type: object
      properties:
        error:
          description: Standard error object.
          allOf:
          - $ref: '#/components/schemas/Error'
    ResourceProviderManagement:
      type: object
      properties:
        schemaOwners:
          type: array
          items:
            type: string
        manifestOwners:
          type: array
          items:
            type: string
        incidentRoutingService:
          type: string
        incidentRoutingTeam:
          type: string
        incidentContactEmail:
          type: string
        serviceTreeInfos:
          type: array
          items:
            $ref: '#/components/schemas/ServiceTreeInfo'
        resourceAccessPolicy:
          enum:
          - NotSpecified
          - AcisReadAllowed
          - AcisActionAllowed
          type: string
        resourceAccessRoles:
          type: array
          items: {}
    SubscriptionLifecycleNotificationSpecifications:
      type: object
      properties:
        subscriptionStateOverrideActions:
          type: array
          items:
            $ref: '#/components/schemas/SubscriptionStateOverrideAction'
        softDeleteTTL:
          format: duration
          type: string
    ProviderRegistrationProperties:
      type: object
      allOf:
      - $ref: '#/components/schemas/ResourceProviderManifestProperties'
      properties:
        providerHubMetadata:
          allOf:
          - $ref: '#/components/schemas/ProviderHubMetadata'
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The provisioned state of the resource.
        subscriptionLifecycleNotificationSpecifications:
          allOf:
          - $ref: '#/components/schemas/SubscriptionLifecycleNotificationSpecifications'
    LightHouseAuthorization:
      required:
      - principalId
      - roleDefinitionId
      type: object
      properties:
        principalId:
          type: string
        roleDefinitionId:
          type: string
    ProviderRegistration:
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource
      properties:
        properties:
          allOf:
          - $ref: '#/components/schemas/ProviderRegistrationProperties'
        systemData:
          $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/systemData
          readOnly: true
      x-ms-azure-resource: true
    RequestHeaderOptions:
      type: object
      properties:
        optInHeaders:
          enum:
          - NotSpecified
          - SignedUserToken
          - ClientGroupMembership
          - SignedAuxiliaryTokens
          - UnboundedClientGroupMembership
          type: string
          x-ms-enum:
            name: OptInHeaderType
            modelAsString: true
    ResourceProviderCapabilities:
      required:
      - effect
      - quotaId
      type: object
      properties:
        quotaId:
          type: string
        effect:
          enum:
          - NotSpecified
          - Allow
          - Disallow
          type: string
          x-ms-enum:
            name: ResourceProviderCapabilitiesEffect
            modelAsString: true
        requiredFeatures:
          type: array
          items:
            type: string
    ProviderHubMetadata:
      type: object
      properties:
        providerAuthorizations:
          type: array
          items:
            $ref: '#/components/schemas/ResourceProviderAuthorization'
        providerAuthentication:
          allOf:
          - $ref: '#/components/schemas/ResourceProviderAuthentication'
        thirdPartyProviderAuthorization:
          allOf:
          - $ref: '#/components/schemas/ThirdPartyProviderAuthorization'
    OperationsDisplayDefinition:
      required:
      - description
      - operation
      - provider
      - resource
      type: object
      properties:
        provider:
          type: string
        resource:
          type: string
        operation:
          type: string
        description:
          type: string
    TemplateDeploymentOptions:
      type: object
      properties:
        preflightSupported:
          type: boolean
        preflightOptions:
          type: array
          items:
            enum:
            - None
            - ContinueDeploymentOnFailure
            - DefaultValidationOnly
            type: string
            x-ms-enum:
              name: PreflightOption
              modelAsString: true
    SubscriptionStateOverrideAction:
      required:
      - action
      - state
      type: object
      properties:
        state:
          enum:
          - Registered
          - Unregistered
          - Warned
          - Suspended
          - Deleted
          - WarnedToRegistered
          - WarnedToSuspended
          - WarnedToDeleted
          - WarnedToUnregistered
          - SuspendedToRegistered
          - SuspendedToWarned
          - SuspendedToDeleted
          - SuspendedToUnregistered
          type: string
          x-ms-enum:
            name: SubscriptionTransitioningState
            modelAsString: true
        action:
          enum:
          - NotDefined
          - DeleteAllResources
          - SoftDeleteAllResources
          - NoOp
          - BillingCancellation
          - UndoSoftDelete
          type: string
          x-ms-enum:
            name: SubscriptionNotificationOperation
            modelAsString: true
    OperationsDefinition:
      required:
      - display
      - name
      type: object
      properties:
        name:
          type: string
          description: Name of the operation.
        isDataAction:
          type: boolean
          description: Indicates whether the operation applies to data-plane.
        origin:
          enum:
          - NotSpecified
          - User
          - System
          type: string
        display:
          description: Display information of the operation.
          allOf:
          - $ref: '#/components/schemas/OperationsDisplayDefinition'
        actionType:
          enum:
          - NotSpecified
          - Internal
          type: string
        properties: {}
      description: Properties of an Operation.
    ServiceTreeInfo:
      type: object
      properties:
        serviceId:
          type: string
        componentId:
          type: string
        readiness:
          enum:
          - ClosingDown
          - Deprecated
          - GA
          - InDevelopment
          - InternalOnly
          - PrivatePreview
          - PublicPreview
          - RemovedFromARM
          - Retired
          type: string
          x-ms-enum:
            name: Readiness
            modelAsString: true
    Error:
      description: Standard error object.
      type: object
      properties:
        code:
          description: Server-defined set of error codes.
          type: string
          readOnly: true
        message:
          description: Human-readable representation of the error.
          type: string
          readOnly: true
        target:
          description: Target of the error.
          type: string
          readOnly: true
        details:
          description: Array of details about specific errors that led to this reported error.
          type: array
          items:
            $ref: '#/components/schemas/Error'
          readOnly: true
        innerError:
          description: Object containing more specific information than  the current object about the error.
          allOf:
          - $ref: '#/components/schemas/InnerError'
          readOnly: true
    InnerError:
      description: Inner error containing list of errors.
      type: object
      properties:
        code:
          description: Specific error code than was provided by the containing error.
          type: string
          readOnly: true
        innerError:
          description: Object containing more specific information than the current object about the error.
          type: object
          readOnly: true
      additionalProperties:
        type: object
    FeaturesRule:
      required:
      - requiredFeaturesPolicy
      type: object
      properties:
        requiredFeaturesPolicy:
          enum:
          - Any
          - All
          type: string
          x-ms-enum:
            name: FeaturesPolicy
            modelAsString: true
  parameters:
    ProviderNamespaceParameter:
      in: path
      name: providerNamespace
      description: The name of the resource provider hosted within ProviderHub.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
