openapi: 3.2.0
info:
  title: Microsoft Azure MicrosoftScanningClient Integration…
  description: Creates a Microsoft.Scanning management client.
  version: 2022-07-01-preview
servers:
- url: https://purview.azure.com/scan
security:
- azure_auth:
  - user_impersonation
tags:
- name: IntegrationRuntimes
paths:
  /integrationruntimes/{integrationRuntimeName}:
    get:
      tags:
      - IntegrationRuntimes
      description: Gets an integrationRuntime
      operationId: microsoftAzureIntegrationruntimesGet
      parameters:
      - $ref: '#/components/parameters/integrationRuntimeName'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationRuntime'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        IntegrationRuntimes_Get:
          $ref: ./examples/IntegrationRuntimes_Get.json
      summary: Microsoft Azure Get Integrationruntimes Integrationruntimename
    delete:
      tags:
      - IntegrationRuntimes
      description: Deletes an integrationRuntime
      operationId: microsoftAzureIntegrationruntimesDelete
      parameters:
      - $ref: '#/components/parameters/integrationRuntimeName'
      - $ref: '#/components/parameters/api-version'
      responses:
        '204':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IActionResult'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        IntegrationRuntimes_Delete:
          $ref: ./examples/IntegrationRuntimes_Delete.json
      summary: Microsoft Azure Delete Integrationruntimes Integrationruntimename
    put:
      tags:
      - IntegrationRuntimes
      description: Create or replace an instance of a integrationRuntime
      operationId: microsoftAzureIntegrationruntimesCreateorreplace
      parameters:
      - $ref: '#/components/parameters/integrationRuntimeName'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationRuntime'
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationRuntime'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        IntegrationRuntimes_CreateOrUpdate:
          $ref: ./examples/IntegrationRuntimes_CreateOrReplace.json
      summary: Microsoft Azure Put Integrationruntimes Integrationruntimename
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationRuntime'
        required: true
  /integrationruntimes/{integrationRuntimeName}/status:
    get:
      tags:
      - IntegrationRuntimes
      description: Gets an IntegrationRuntimeStatus object. This is significantly different from IntegrationRuntime
      operationId: microsoftAzureIntegrationruntimesStatus
      parameters:
      - $ref: '#/components/parameters/integrationRuntimeName'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationRuntimeStatus'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        IntegrationRuntimes_Status:
          $ref: ./examples/IntegrationRuntimes_Status.json
      summary: Microsoft Azure Get Integrationruntimes Integrationruntimename Status
  /integrationruntimes/{integrationRuntimeName}/:listAuthKeys:
    post:
      tags:
      - IntegrationRuntimes
      description: Gets integrationRuntimeAuthKeys
      operationId: microsoftAzureIntegrationruntimesListauthkeys
      parameters:
      - $ref: '#/components/parameters/integrationRuntimeName'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationRuntimeAuthKeys'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        IntegrationRuntimes_ListAuthKeys:
          $ref: ./examples/IntegrationRuntimes_ListAuthKeys.json
      summary: Microsoft Azure Post Integrationruntimes Integrationruntimename :listauthkeys
  /integrationruntimes/{integrationRuntimeName}/:regenerateAuthKey:
    post:
      tags:
      - IntegrationRuntimes
      description: Regenerates integrationRuntimeAuthKey
      operationId: microsoftAzureIntegrationruntimesRegenerateauthkey
      parameters:
      - $ref: '#/components/parameters/integrationRuntimeName'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationRuntimeAuthKeys'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        IntegrationRuntimes_RegenerateAuthKey:
          $ref: ./examples/IntegrationRuntimes_RegenerateAuthKey.json
      summary: Microsoft Azure Post Integrationruntimes Integrationruntimename…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationRuntimeRegenerateKeyParameters'
        required: true
  /integrationruntimes:
    get:
      tags:
      - IntegrationRuntimes
      description: Lists integrationruntimes in an account
      operationId: microsoftAzureIntegrationruntimesListbyaccount
      parameters:
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationRuntimeList'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        IntegrationRuntimes_ListByAccount:
          $ref: ./examples/IntegrationRuntimes_ListByAccount.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Integrationruntimes
  /integrationruntimes/{integrationRuntimeName}:disableInteractiveQuery:
    post:
      tags:
      - IntegrationRuntimes
      description: Disables interactive querying
      operationId: microsoftAzureIntegrationruntimesDisableinteractivequery
      parameters:
      - $ref: '#/components/parameters/integrationRuntimeName'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IActionResult'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        IntegrationRuntimes_DisableInteractiveQuery:
          $ref: ./examples/IntegrationRuntimes_DisableInteractiveQuery.json
      summary: Microsoft Azure Post Integrationruntimes Integrationruntimename:disableinteracti…
  /integrationruntimes/{integrationRuntimeName}:enableInteractiveQuery:
    post:
      tags:
      - IntegrationRuntimes
      description: Enables interactive querying
      operationId: microsoftAzureIntegrationruntimesEnableinteractivequery
      parameters:
      - $ref: '#/components/parameters/integrationRuntimeName'
      - $ref: '#/components/parameters/api-version'
      responses:
        '202':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IActionResult'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        IntegrationRuntimes_EnableInteractiveQuery:
          $ref: ./examples/IntegrationRuntimes_EnableInteractiveQuery.json
      summary: Microsoft Azure Post Integrationruntimes Integrationruntimename:enableinteractiv…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnableInteractiveQueryForIntegrationRuntimeRequest'
        required: true
components:
  schemas:
    IntegrationRuntimeStatus:
      required:
      - kind
      type: object
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      properties:
        kind:
          enum:
          - SelfHosted
          - Managed
          type: string
          x-ms-enum:
            name: IntegrationRuntimeType
            modelAsString: true
      discriminator:
        propertyName: kind
    ProxyResource:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
    IntegrationRuntimeAuthKeys:
      type: object
      properties:
        authKey1:
          type: string
        authKey2:
          type: string
    ErrorModel:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorModel'
    IntegrationRuntime:
      required:
      - kind
      type: object
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      properties:
        kind:
          enum:
          - SelfHosted
          - Managed
          type: string
          x-ms-enum:
            name: IntegrationRuntimeType
            modelAsString: true
      discriminator:
        propertyName: kind
    IntegrationRuntimeList:
      required:
      - value
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/IntegrationRuntime'
        nextLink:
          type: string
        count:
          format: int64
          type: integer
    EnableInteractiveQueryForIntegrationRuntimeRequest:
      type: object
      properties:
        autoTerminationMinutes:
          format: int32
          type: integer
    IActionResult:
      type: object
    IntegrationRuntimeRegenerateKeyParameters:
      type: object
      properties:
        keyName:
          type: string
    ErrorResponseModel:
      type: object
      properties:
        error:
          allOf:
          - $ref: '#/components/schemas/ErrorModel'
  parameters:
    api-version:
      in: query
      name: api-version
      description: The api version to use.
      required: true
      x-ms-client-name: ApiVersion
      schema:
        type: string
    integrationRuntimeName:
      in: path
      name: integrationRuntimeName
      description: IntegrationRuntime name.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
        maxLength: 63
        minLength: 3
        pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-ms-parameterized-host:
  hostTemplate: '{Endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
