openapi: 3.2.0
info:
  title: Microsoft Azure Virtual Network Rules API
  x-refined-note:
  - x-ms-code-generation-settings differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged VirtualNetworkRules across 2 of this provider''s published API definitions: datalakestoreaccountmanagementclient-openapi-original.yml, mariadbmanagementclient-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: VirtualNetworkRules
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/virtualNetworkRules
  : get:
      tags:
      - VirtualNetworkRules
      operationId: microsoftAzureVirtualnetworkrulesListbyaccount
      description: Lists the Data Lake Store virtual network rules within the specified Data Lake Store account.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved the list of virtual network rules.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkRuleListResult'
      x-ms-examples:
        Lists the Data Lake Store virtual network rules within the specified Data Lake Store account.:
          $ref: ./examples/VirtualNetworkRules_ListByAccount.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/virtualNetworkRules/{virtualNetworkRuleName}
  : put:
      tags:
      - VirtualNetworkRules
      operationId: microsoftAzureVirtualnetworkrulesCreateorupdate
      description: Creates or updates the specified virtual network rule. During update, the virtual network rule with the specified name will be replaced with this new virtual network rule.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - name: virtualNetworkRuleName
        in: path
        required: true
        description: The name of the virtual network rule to create or update.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully created or updated the specified virtual network rule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkRule'
      x-ms-examples:
        ? Creates or updates the specified virtual network rule. During update, the virtual network rule with the specified name will be replaced with this new virtual network rule.
        : $ref: ./examples/VirtualNetworkRules_CreateOrUpdate.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateVirtualNetworkRuleParameters'
        description: Parameters supplied to create or update the virtual network rule.
        required: true
    get:
      tags:
      - VirtualNetworkRules
      operationId: microsoftAzureVirtualnetworkrulesGet
      description: Gets the specified Data Lake Store virtual network rule.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - name: virtualNetworkRuleName
        in: path
        required: true
        description: The name of the virtual network rule to retrieve.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved the virtual network rule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkRule'
      x-ms-examples:
        Gets the specified Data Lake Store virtual network rule.:
          $ref: ./examples/VirtualNetworkRules_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    patch:
      tags:
      - VirtualNetworkRules
      operationId: microsoftAzureVirtualnetworkrulesUpdate
      description: Updates the specified virtual network rule.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - name: virtualNetworkRuleName
        in: path
        required: true
        description: The name of the virtual network rule to update.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully updated the specified virtual network rule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkRule'
      x-ms-examples:
        Updates the specified virtual network rule.:
          $ref: ./examples/VirtualNetworkRules_Update.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVirtualNetworkRuleParameters'
        description: Parameters supplied to update the virtual network rule.
    delete:
      tags:
      - VirtualNetworkRules
      operationId: microsoftAzureVirtualnetworkrulesDelete
      description: Deletes the specified virtual network rule from the specified Data Lake Store account.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - name: virtualNetworkRuleName
        in: path
        required: true
        description: The name of the virtual network rule to delete.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully deleted the specified virtual network rule.
        '204':
          description: The specified virtual network rule does not exist or was already deleted.
      x-ms-examples:
        Deletes the specified virtual network rule from the specified Data Lake Store account.:
          $ref: ./examples/VirtualNetworkRules_Delete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/virtualNetworkRules/{virtualNetworkRuleName}
  : get:
      tags:
      - VirtualNetworkRules
      description: Gets a virtual network rule.
      operationId: microsoftAzureVirtualnetworkrulesGet
      parameters:
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/ServerNameParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      - $ref: '#/components/parameters/ApiVersionParameter_2'
      - $ref: '#/components/parameters/virtualNetworkRuleNameParameter'
      responses:
        '200':
          description: Successfully retrieved a specified virtual network rule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkRule_2'
        default:
          description: "*** Error Responses: ***\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 ResourceNotFound - The requested resource was not found."
      x-ms-examples:
        Gets a virtual network rule:
          $ref: ./examples/VirtualNetworkRulesGet.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - VirtualNetworkRules
      description: Creates or updates an existing virtual network rule.
      operationId: microsoftAzureVirtualnetworkrulesCreateorupdate
      parameters:
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/ServerNameParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      - $ref: '#/components/parameters/ApiVersionParameter_2'
      - $ref: '#/components/parameters/virtualNetworkRuleNameParameter'
      responses:
        '200':
          description: Successfully updated a virtual network rule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkRule_2'
        '201':
          description: Successfully created a virtual network rule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkRule_2'
        '202':
          description: Accepted
        default:
          description: "*** Error Responses: ***\n\n * 400 InvalidResourceId - Invalid resource identifier.\n\n * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.\n\n * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.\n\n * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.\n\n * 400 NullVirtualNetworkRequest - Virtual Network Request is Null\n\n * 400 NullVirtualNetworkRequestParameters - Virtual Network Request Parameters are Null\n\n * 400 NullVirtualNetworkSubnetId - The Virtual Network Subnet Id is null\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 VirtualNetworkRuleNotEnabled - Azure SQL Server Virtual Network Rule feature is not enabled\n\n * 404 OperationIdNotFound - The operation with Id does not exist.\n\n * 409 OperationCancelled - The operation has been cancelled by user.\n\n * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.\n\n * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation."
      x-ms-long-running-operation: true
      x-ms-examples:
        Create or update a virtual network rule:
          $ref: ./examples/VirtualNetworkRulesCreateOrUpdate.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkRule_2'
        description: The requested virtual Network Rule Resource state.
        required: true
    delete:
      tags:
      - VirtualNetworkRules
      description: Deletes the virtual network rule with the given name.
      operationId: microsoftAzureVirtualnetworkrulesDelete
      parameters:
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/ServerNameParameter'
      - $ref: '#/components/parameters/virtualNetworkRuleNameParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      - $ref: '#/components/parameters/ApiVersionParameter_2'
      responses:
        '200':
          description: Successfully deleted the virtual network rule.
        '202':
          description: Accepted
        '204':
          description: The specified virtual network rule does not exist.
        default:
          description: "*** Error Responses: ***\n\n * 400 InvalidResourceId - Invalid resource identifier.\n\n * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.\n\n * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.\n\n * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.\n\n * 400 NullVirtualNetworkRequest - Virtual Network Request is Null\n\n * 400 NullVirtualNetworkRequestParameters - Virtual Network Request Parameters are Null\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 OperationIdNotFound - The operation with Id does not exist.\n\n * 409 OperationCancelled - The operation has been cancelled by user.\n\n * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.\n\n * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation."
      x-ms-long-running-operation: true
      x-ms-examples:
        Delete a virtual network rule:
          $ref: ./examples/VirtualNetworkRulesDelete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/virtualNetworkRules
  : get:
      tags:
      - VirtualNetworkRules
      description: Gets a list of virtual network rules in a server.
      operationId: microsoftAzureVirtualnetworkrulesListbyserver
      parameters:
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/ServerNameParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      - $ref: '#/components/parameters/ApiVersionParameter_2'
      responses:
        '200':
          description: Successfully retrieved the list of virtual network rules.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkRuleListResult_2'
        default:
          description: "*** Error Responses: ***\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 ResourceNotFound - The requested resource was not found."
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List virtual network rules:
          $ref: ./examples/VirtualNetworkRulesList.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
components:
  schemas:
    UpdateVirtualNetworkRuleParameters:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/UpdateVirtualNetworkRuleProperties'
          description: The virtual network rule properties to use when updating a virtual network rule.
      description: The parameters used to update a virtual network rule.
    VirtualNetworkRule:
      allOf:
      - $ref: '#/components/schemas/SubResource'
      properties:
        properties:
          readOnly: true
          x-ms-client-flatten: true
          $ref: '#/components/schemas/VirtualNetworkRuleProperties'
          description: The virtual network rule properties.
      description: Data Lake Store virtual network rule information.
    VirtualNetworkRuleListResult:
      properties:
        value:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/VirtualNetworkRule'
          description: The results of the list operation.
        nextLink:
          readOnly: true
          type: string
          description: The link (url) to the next page of results.
      description: Data Lake Store virtual network rule list information.
    UpdateVirtualNetworkRuleProperties:
      properties:
        subnetId:
          type: string
          description: The resource identifier for the subnet.
      description: The virtual network rule properties to use when updating a virtual network rule.
    VirtualNetworkRuleProperties:
      properties:
        subnetId:
          readOnly: true
          type: string
          description: The resource identifier for the subnet.
      description: The virtual network rule properties.
    CreateOrUpdateVirtualNetworkRuleParameters:
      required:
      - properties
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/CreateOrUpdateVirtualNetworkRuleProperties'
          description: The virtual network rule properties to use when creating a new virtual network rule.
      description: The parameters used to create a new virtual network rule.
    CreateOrUpdateVirtualNetworkRuleProperties:
      required:
      - subnetId
      properties:
        subnetId:
          type: string
          description: The resource identifier for the subnet.
      description: The virtual network rule properties to use when creating a new virtual network rule.
    SubResource:
      properties:
        id:
          readOnly: true
          type: string
          description: The resource identifier.
        name:
          readOnly: true
          type: string
          description: The resource name.
        type:
          readOnly: true
          type: string
          description: The resource type.
      x-ms-azure-resource: true
      description: The resource model definition for a nested resource.
    VirtualNetworkRuleListResult_2:
      description: A list of virtual network rules.
      type: object
      properties:
        value:
          description: Array of results.
          type: array
          items:
            $ref: '#/components/schemas/VirtualNetworkRule_2'
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    VirtualNetworkRule_2:
      description: A virtual network rule.
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource
      properties:
        properties:
          $ref: '#/components/schemas/VirtualNetworkRuleProperties_2'
          description: Resource properties.
          x-ms-client-flatten: true
    VirtualNetworkRuleProperties_2:
      description: Properties of a virtual network rule.
      required:
      - virtualNetworkSubnetId
      type: object
      properties:
        virtualNetworkSubnetId:
          description: The ARM resource id of the virtual network subnet.
          type: string
        ignoreMissingVnetServiceEndpoint:
          description: Create firewall rule before the virtual network has vnet service endpoint enabled.
          type: boolean
        state:
          description: Virtual Network Rule State
          enum:
          - Initializing
          - InProgress
          - Ready
          - Deleting
          - Unknown
          type: string
          readOnly: true
          x-ms-enum:
            name: VirtualNetworkRuleState
            modelAsString: true
  parameters:
    AccountNameParameter:
      name: accountName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The name of the Data Lake Store account.
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The name of the Azure resource group.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
    virtualNetworkRuleNameParameter:
      name: virtualNetworkRuleName
      in: path
      description: The name of the virtual network rule.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ServerNameParameter:
      name: serverName
      in: path
      required: true
      description: The name of the server.
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter_2:
      name: api-version
      in: query
      required: true
      description: The API version to use for the request.
      schema:
        type: string
    SubscriptionIdParameter_2:
      name: subscriptionId
      in: path
      required: true
      description: The subscription ID that identifies an Azure subscription.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- datalakestoreaccountmanagementclient-openapi-original.yml
- mariadbmanagementclient-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
