openapi: 3.2.0
info:
  title: Microsoft Azure Namespaces API
  version: '1.0'
  description: 'Operations tagged Namespaces across 2 of this provider''s published API definitions: notificationhubs-rp-client-openapi-original.yml, notificationhubsmanagementclient-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Namespaces
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.NotificationHubs/checkNamespaceAvailability:
    post:
      tags:
      - Namespaces
      summary: Microsoft Azure Checks The Availability Of The Given Service Namespace Across…
      operationId: microsoftAzureNamespacesCheckavailability
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckAvailabilityResult'
        default:
          description: Error code with reason.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Namespaces_CheckAvailability:
          $ref: ./examples/Namespaces/CheckAvailability.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckAvailabilityParameters'
        description: Request content.
        required: true
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}
  : get:
      tags:
      - Namespaces
      summary: Microsoft Azure Returns The Given Namespace
      operationId: microsoftAzureNamespacesGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/NamespaceName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResource'
        default:
          description: Error code with reason.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Namespaces_Get:
          $ref: ./examples/Namespaces/Get.json
      description: Needs a more full description created.
    put:
      tags:
      - Namespaces
      summary: Microsoft Azure Creates Updates A Notification Hub Namespace This Operation Is…
      operationId: microsoftAzureNamespacesCreateorupdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/NamespaceName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResource'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResource'
        default:
          description: Error code with reason.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Namespaces_CreateOrUpdate:
          $ref: ./examples/Namespaces/CreateOrUpdate.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NamespaceResource'
        description: Request content.
        required: true
    patch:
      tags:
      - Namespaces
      summary: Microsoft Azure Patches The Existing Namespace
      operationId: microsoftAzureNamespacesUpdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/NamespaceName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResource'
        default:
          description: Error code with reason.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Namespaces_Update:
          $ref: ./examples/Namespaces/Update.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NamespacePatchParameters'
        description: Request content.
        required: true
    delete:
      tags:
      - Namespaces
      summary: Microsoft Azure Deletes An Existing Namespace This Operation Also Removes All…
      operationId: microsoftAzureNamespacesDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/NamespaceName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
        '204':
          description: No Content
        default:
          description: Error code with reason.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Namespaces_Delete:
          $ref: ./examples/Namespaces/Delete.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.NotificationHubs/namespaces:
    get:
      tags:
      - Namespaces
      summary: Microsoft Azure Lists All The Available Namespaces Within The Subscription
      operationId: microsoftAzureNamespacesListall
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - in: query
        name: $skipToken
        description: Skip token for subsequent requests.
        schema:
          type: string
      - in: query
        name: $top
        description: Maximum number of results to return.
        schema:
          type: integer
          format: int32
          default: 100
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceListResult'
        default:
          description: Error code with reason.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        itemName: value
        nextLinkName: nextLink
      x-ms-examples:
        Namespaces_ListAll:
          $ref: ./examples/Namespaces/ListBySubscription.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces:
    get:
      tags:
      - Namespaces
      summary: Microsoft Azure Lists The Available Namespaces Within A Resource Group
      operationId: microsoftAzureNamespacesList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - in: query
        name: $skipToken
        description: Skip token for subsequent requests.
        schema:
          type: string
      - in: query
        name: $top
        description: Maximum number of results to return.
        schema:
          type: integer
          format: int32
          default: 100
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceListResult'
        default:
          description: Error code with reason.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        itemName: value
        nextLinkName: nextLink
      x-ms-examples:
        Namespaces_List:
          $ref: ./examples/Namespaces/ListByResourceGroup.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/authorizationRules/{authorizationRuleName}
  : put:
      tags:
      - Namespaces
      summary: Microsoft Azure Creates An Authorization Rule For A Namespace
      operationId: microsoftAzureNamespacesCreateorupdateauthorizationrule
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/NamespaceName'
      - $ref: '#/components/parameters/AuthorizationRuleName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
        default:
          description: Error code with reason.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Namespaces_CreateOrUpdateAuthorizationRule:
          $ref: ./examples/Namespaces/AuthorizationRuleCreateOrUpdate.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
        description: Request content.
        required: true
    delete:
      tags:
      - Namespaces
      summary: Microsoft Azure Deletes A Namespace Authorization Rule
      operationId: microsoftAzureNamespacesDeleteauthorizationrule
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/NamespaceName'
      - $ref: '#/components/parameters/AuthorizationRuleName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
        '204':
          description: No Content
        default:
          description: Error code with reason.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Namespaces_DeleteAuthorizationRule:
          $ref: ./examples/Namespaces/AuthorizationRuleDelete.json
      description: Needs a more full description created.
    get:
      tags:
      - Namespaces
      summary: Microsoft Azure Gets An Authorization Rule For A Namespace By Name
      operationId: microsoftAzureNamespacesGetauthorizationrule
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/NamespaceName'
      - $ref: '#/components/parameters/AuthorizationRuleName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
        default:
          description: Error code with reason.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Namespaces_GetAuthorizationRule:
          $ref: ./examples/Namespaces/AuthorizationRuleGet.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/authorizationRules
  : get:
      tags:
      - Namespaces
      summary: Microsoft Azure Gets The Authorization Rules For A Namespace
      operationId: microsoftAzureNamespacesListauthorizationrules
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/NamespaceName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleListResult'
        default:
          description: Error code with reason.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        itemName: value
        nextLinkName: nextLink
      x-ms-examples:
        Namespaces_ListAuthorizationRules:
          $ref: ./examples/Namespaces/AuthorizationRuleList.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/authorizationRules/{authorizationRuleName}/listKeys
  : post:
      tags:
      - Namespaces
      summary: Microsoft Azure Gets The Primary And Secondary Connectionstrings To The…
      operationId: microsoftAzureNamespacesListkeys
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/NamespaceName'
      - $ref: '#/components/parameters/AuthorizationRuleName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListKeys'
        default:
          description: Error code with reason.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Namespaces_ListKeys:
          $ref: ./examples/Namespaces/AuthorizationRuleListKeys.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/authorizationRules/{authorizationRuleName}/regenerateKeys
  : post:
      tags:
      - Namespaces
      summary: Microsoft Azure Regenerates The Primary Secondary Keys To The Namespace…
      operationId: microsoftAzureNamespacesRegeneratekeys
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/NamespaceName'
      - $ref: '#/components/parameters/AuthorizationRuleName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListKeys'
        default:
          description: Error code with reason.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Namespaces_RegenerateKeys:
          $ref: ./examples/Namespaces/AuthorizationRuleRegenerateKey.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyKeyResource'
        description: Request content.
        required: true
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/pnsCredentials
  : post:
      tags:
      - Namespaces
      summary: Microsoft Azure Lists The Pns Credentials Associated With A Namespace
      operationId: microsoftAzureNamespacesGetpnscredentials
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/NamespaceName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PnsCredentialsResource'
        default:
          description: Error code with reason.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Namespaces_GetPnsCredentials:
          $ref: ./examples/Namespaces/PnsCredentialsGet.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}
  : put:
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceAuthorizationRuleCreate:
          $ref: ./examples/Namespaces/NHNameSpaceAuthorizationRuleCreate.json
      operationId: microsoftAzureNamespacesCreateorupdateauthorizationrule
      description: Creates an authorization rule for a namespace
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: namespaceName
        in: path
        required: true
        description: The namespace name.
        schema:
          type: string
      - name: authorizationRuleName
        in: path
        required: true
        description: Authorization Rule Name.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Namespace Authorization Rule is Created/Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource_2'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SharedAccessAuthorizationRuleCreateOrUpdateParameters'
        description: The shared access authorization rule.
        required: true
    delete:
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceAuthorizationRuleDelete:
          $ref: ./examples/Namespaces/NHNameSpaceAuthorizationRuleDelete.json
      operationId: microsoftAzureNamespacesDeleteauthorizationrule
      description: Deletes a namespace authorization rule
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: namespaceName
        in: path
        required: true
        description: The namespace name.
        schema:
          type: string
      - name: authorizationRuleName
        in: path
        required: true
        description: Authorization Rule Name.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Namespace AuthorizationRule is deleted
        '204':
          description: Namespace AuthorizationRule is already deleted
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    get:
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceAuthorizationRuleGet:
          $ref: ./examples/Namespaces/NHNameSpaceAuthorizationRuleGet.json
      operationId: microsoftAzureNamespacesGetauthorizationrule
      description: Gets an authorization rule for a namespace by name.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: namespaceName
        in: path
        required: true
        description: The namespace name
        schema:
          type: string
      - name: authorizationRuleName
        in: path
        required: true
        description: Authorization rule name.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Get the Namespace AuthorizationRule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource_2'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules
  : get:
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceAuthorizationRuleListAll:
          $ref: ./examples/Namespaces/NHNameSpaceAuthorizationRuleListAll.json
      operationId: microsoftAzureNamespacesListauthorizationrules
      description: Gets the authorization rules for a namespace.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: namespaceName
        in: path
        required: true
        description: The namespace name
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Get the List of AuthorizationRules of a Namespace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleListResult_2'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}/listKeys
  : post:
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceAuthorizationRuleListKey:
          $ref: ./examples/Namespaces/NHNameSpaceAuthorizationRuleListKey.json
      operationId: microsoftAzureNamespacesListkeys
      description: Gets the Primary and Secondary ConnectionStrings to the namespace
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: namespaceName
        in: path
        required: true
        description: The namespace name.
        schema:
          type: string
      - name: authorizationRuleName
        in: path
        required: true
        description: The connection string of the namespace for the specified authorizationRule.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Gets the Namespace AuthorizationRule's Primary keys and Secondary keys along with the ConnectionStrings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListKeys_2'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}/regenerateKeys
  : post:
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceAuthorizationRuleRegenerateKey:
          $ref: ./examples/Namespaces/NHNameSpaceAuthorizationRuleRegenrateKey.json
      operationId: microsoftAzureNamespacesRegeneratekeys
      description: Regenerates the Primary/Secondary Keys to the Namespace Authorization Rule
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: namespaceName
        in: path
        required: true
        description: The namespace name.
        schema:
          type: string
      - name: authorizationRuleName
        in: path
        required: true
        description: The connection string of the namespace for the specified authorizationRule.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Regenerate the Primary/Secondary Key and returns the Keys and the connection string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListKeys_2'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicykeyResource'
        description: Parameters supplied to regenerate the Namespace Authorization Rule Key.
        required: true
    servers:
    - url: https://management.azure.com
components:
  schemas:
    SharedAccessAuthorizationRuleProperties:
      description: SharedAccessAuthorizationRule properties.
      required:
      - rights
      type: object
      properties:
        rights:
          description: Gets or sets the rights associated with the rule.
          type: array
          items:
            $ref: '#/components/schemas/AccessRights'
        primaryKey:
          description: 'Gets a base64-encoded 256-bit primary key for signing and

            validating the SAS token.'
          type: string
          x-ms-secret: true
        secondaryKey:
          description: 'Gets a base64-encoded 256-bit primary key for signing and

            validating the SAS token.'
          type: string
          x-ms-secret: true
        keyName:
          description: Gets a string that describes the authorization rule.
          type: string
          readOnly: true
        modifiedTime:
          format: date-time
          description: Gets the last modified time for this rule
          type: string
          readOnly: true
        createdTime:
          format: date-time
          description: Gets the created time for this rule
          type: string
          readOnly: true
        claimType:
          description: Gets a string that describes the claim type
          type: string
          readOnly: true
        claimValue:
          description: Gets a string that describes the claim value
          type: string
          readOnly: true
        revision:
          format: int32
          description: Gets the revision number for the rule
          type: integer
          readOnly: true
    NamespaceListResult:
      description: The response of the List Namespace operation.
      type: object
      properties:
        value:
          description: Gets or sets result of the List AuthorizationRules operation.
          type: array
          items:
            $ref: '#/components/schemas/NamespaceResource'
          readOnly: true
        nextLink:
          description: Gets or sets link to the next set of results.
          type: string
          readOnly: true
    AdmCredential:
      description: Description of a NotificationHub AdmCredential.
      required:
      - properties
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/AdmCredentialProperties'
      x-ms-secret: true
    WnsCredential:
      description: Description of a NotificationHub WnsCredential.
      required:
      - properties
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/WnsCredentialProperties'
      x-ms-secret: true
    CheckAvailabilityResult:
      description: Description of a CheckAvailability resource.
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
      properties:
        isAvailiable:
          description: 'Gets or sets true if the name is available and can be used to

            create new Namespace/NotificationHub. Otherwise false.'
          type: boolean
        location:
          description: Deprecated - only for compatibility.
          type: string
          x-ms-mutability:
          - create
          - read
        tags:
          description: Deprecated - only for compatibility.
          type: object
          additionalProperties:
            type: string
        sku:
          $ref: '#/components/schemas/Sku'
    MpnsCredentialProperties:
      description: Description of a NotificationHub MpnsCredential.
      required:
      - certificateKey
      - mpnsCertificate
      - thumbprint
      type: object
      properties:
        mpnsCertificate:
          description: Gets or sets the MPNS certificate.
          minLength: 1
          type: string
          x-ms-secret: true
        certificateKey:
          description: Gets or sets the certificate key for this credential.
          minLength: 1
          type: string
          x-ms-secret: true
        thumbprint:
          description: Gets or sets the MPNS certificate Thumbprint
          minLength: 1
          type: string
          x-ms-secret: true
    RemotePrivateLinkServiceConnectionState:
      description: State of the Private Link Service connection.
      type: object
      properties:
        status:
          $ref: '#/components/schemas/PrivateLinkConnectionStatus'
        description:
          description: Human-friendly description.
          type: string
          readOnly: true
        actionsRequired:
          description: Human-friendly description of required actions.
          type: string
          readOnly: true
    GcmCredentialProperties:
      description: Description of a NotificationHub GcmCredential.
      required:
      - googleApiKey
      type: object
      properties:
        gcmEndpoint:
          description: Gets or sets the GCM endpoint.
          type: string
          x-ms-secret: true
        googleApiKey:
          description: Gets or sets the Google API key.
          minLength: 1
          type: string
          x-ms-secret: true
    PnsCredentialsResource:
      description: 'Description of a NotificationHub PNS Credentials. This is a response of the POST requests that return namespace or hubs

        PNS credentials.'
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/PnsCredentials'
        location:
          description: Deprecated - only for compatibility.
          type: string
          x-ms-mutability:
          - create
          - read
        tags:
          description: Deprecated - only for compatibility.
          type: object
          additionalProperties:
            type: string
    PrivateLinkConnectionStatus:
      description: State of Private Link Connection.
      enum:
      - Disconnected
      - Pending
      - Approved
      - Rejected
      type: string
      x-ms-enum:
        name: PrivateLinkConnectionStatus
        modelAsString: true
    PrivateEndpointConnectionProperties:
      description: Private Endpoint Connection properties.
      type: object
      properties:
        provisioningState:
          $ref: '#/components/schemas/PrivateEndpointConnectionProvisioningState'
        privateEndpoint:
          $ref: '#/components/schemas/RemotePrivateEndpointConnection'
        groupIds:
          description: List of group ids. For Notification Hubs, it always contains a single "namespace" element.
          type: array
          items:
            type: string
          readOnly: true
        privateLinkServiceConnectionState:
          $ref: '#/components/schemas/RemotePrivateLinkServiceConnectionState'
    FcmV1CredentialProperties:
      description: Description of a NotificationHub FcmV1Credential.
      required:
      - clientEmail
      - privateKey
      - projectId
      type: object
      properties:
        clientEmail:
          description: Gets or sets client email.
          minLength: 1
          type: string
          x-ms-secret: true
        privateKey:
          description: Gets or sets private key.
          minLength: 1
          type: string
          x-ms-secret: true
        projectId:
          description: Gets or sets project id.
          minLength: 1
          type: string
          x-ms-secret: true
    PublicNetworkAccess:
      description: Type of public network access.
      default: Enabled
      enum:
      - Enabled
      - Disabled
      type: string
      x-ms-enum:
        name: PublicNetworkAccess
        modelAsString: true
    AdmCredentialProperties:
      description: Description of a NotificationHub AdmCredential.
      required:
      - authTokenUrl
      - clientId
      - clientSecret
      type: object
      properties:
        clientId:
          description: Gets or sets the client identifier.
          minLength: 1
          type: string
          x-ms-secret: true
        clientSecret:
          description: Gets or sets the credential secret access key.
          minLength: 1
          type: string
          x-ms-secret: true
        authTokenUrl:
          description: Gets or sets the URL of the authorization token.
          minLength: 1
          type: string
          x-ms-secret: true
    RemotePrivateEndpointConnection:
      description: Represents a Private Endpoint that is connected to Notification Hubs namespace using Private Endpoint Connection.
      type: object
      properties:
        id:
          description: ARM resource ID of the Private Endpoint. This may belong to different subscription and resource group than a Notification Hubs namespace.
          type: string
          readOnly: true
    CheckAvailabilityParameters:
      description: 'Parameters supplied to the Check Name Availability for Namespace and

        NotificationHubs.'
      required:
      - name
      type: object
      properties:
        id:
          description: Gets resource Id
          type: string
          readOnly: true
        name:
          description: Gets or sets resource name
          minLength: 1
          type: string
        type:
          description: Gets resource type
          type: string
          readOnly: true
        location:
          description: Gets or sets resource location
          type: string
        tags:
          description: Gets or sets resource tags
          type: object
          additionalProperties:
            type: string
        isAvailiable:
          description: Not used and deprecated since API version 2023-01-01-preview
          type: boolean
        sku:
          $ref: '#/components/schemas/Sku'
    SharedAccessAuthorizationRuleListResult:
      description: The response of the List Namespace operation.
      type: object
      properties:
        value:
          description: Gets or sets result of the List AuthorizationRules operation.
          type: array
          items:
            $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
          readOnly: true
        nextLink:
          description: Gets or sets link to the next set of results.
          type: string
          readOnly: true
    ZoneRedundancyPreference:
      description: Namespace SKU name.
      default: Disabled
      enum:
      - Disabled
      - Enabled
      type: string
      x-ms-enum:
        name: ZoneRedundancyPreference
        modelAsString: true
      x-ms-mutability:
      - create
      - read
    ApnsCredentialProperties:
      description: Description of a NotificationHub ApnsCredential.
      required:
      - endpoint
      type: object
      properties:
        apnsCertificate:
          description: Gets or sets the APNS certificate.
          type: string
          x-ms-secret: true
        certificateKey:
          description: Gets or sets the certificate key.
          type: string
          x-ms-secret: true
        endpoint:
          description: Gets or sets the endpoint of this credential.
          minLength: 1
          type: string
          x-ms-secret: true
        thumbprint:
          description: Gets or sets the APNS certificate Thumbprint
          type: string
          x-ms-secret: true
        keyId:
          description: 'Gets or sets a 10-character key identifier (kid) key, obtained from

            your developer account'
          type: string
          x-ms-secret: true
        appName:
          description: Gets or sets the name of the application
          type: string
          x-ms-secret: true
        appId:
          description: 'Gets or sets the issuer (iss) registered claim key, whose value is

            your 10-character Team ID, obtained from your developer account'
          type: string
          x-ms-secret: true
        token:
          description: 'Gets or sets provider Authentication Token, obtained through your

            developer account'
          type: string
          x-ms-secret: true
    BaiduCredentialProperties:
      description: Description of a NotificationHub BaiduCredential.
      required:
      - baiduApiKey
      - baiduEndPoint
      - baiduSecretKey
      type: object
      properties:
        baiduApiKey:
          description: Gets or sets baidu Api Key.
          minLength: 1
          type: string
          x-ms-secret: true
        baiduEndPoint:
          description: Gets or sets baidu Endpoint.
          minLength: 1
          type: string
          x-ms-secret: true
        baiduSecretKey:
          description: Gets or sets baidu Secret Key
          minLength: 1
          type: string
          x-ms-secret: true
    ApnsCredential:
      description: Description of a NotificationHub ApnsCredential.
      required:
      - properties
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ApnsCredentialProperties'
      x-ms-secret: true
    WnsCredentialProperties:
      description: Description of a NotificationHub WnsCredential.
      type: object
      properties:
        packageSid:
          description: Gets or sets the package ID for this credential.
          type: string
          x-ms-secret: true
        secretKey:
          description: Gets or sets the secret key.
          type: string
          x-ms-secret: true
        windowsLiveEndpoint:
          description: Gets or sets the Windows Live endpoint.
          type: string
          x-ms-secret: true
        certificateKey:
          description: Ges or sets the WNS Certificate Key.
          type: string
          x-ms-secret: true
        wnsCertificate:
          description: Gets or sets the WNS Certificate.
          type: string
          x-ms-secret: true
    SkuName:
      description: Namespace SKU name.
      enum:
      - Free
      - Basic
      - Standard
      type: string
      x-ms-enum:
        name: SkuName
        modelAsString: true
    NamespaceType:
      description: Defines values for NamespaceType.
      enum:
      - Messaging
      - NotificationHub
      type: string
      x-ms-enum:
        name: NamespaceType
        modelAsString: true
    OperationProvisioningState:
      description: Defines values for OperationProvisioningState.
      enum:
      - Unknown
      - InProgress
      - Succeeded
      - Failed
      - Canceled
      - Pending
      - Disabled
      type: string
      x-ms-enum:
        name: OperationProvisioningState
        modelAsString: true
    SharedAccessAuthorizationRuleResource:
      description: Response for POST requests that return single SharedAccessAuthorizationRule.
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/SharedAccessAuthorizationRuleProperties'
        location:
          description: Deprecated - only for compatibility.
          type: string
          x-ms-mutability:
          - create
          - read
        tags:
          description: Deprecated - only for compatibility.
          type: object
          additionalProperties:
            type: string
    NamespaceStatus:
      description: Namespace status.
      enum:
      - Created
      - Creating
      - Suspended
      - Deleting
      type: string
      x-ms-enum:
        name: NamespaceStatus
        modelAsString: true
    NamespaceProperties:
      description: Represents namespace properties.
      type: object
      properties:
        name:
          description: "Name of the Notification Hubs namespace. This is immutable property, set automatically \nby the service when the namespace is created."
          type: string
          readOnly: true
        provisioningState:
          $ref: '#/components/schemas/OperationProvisioningState'
        status:
          $ref: '#/components/schemas/NamespaceStatus'
        enabled:
          description: Gets or sets whether or not the namespace is currently enabled.
          type: boolean
          readOnly: true
        critical:
          description: Gets or sets whether or not the namespace is set as Critical.
          type: boolean
          readOnly: true
        subscriptionId:
          description: Namespace subscription id.
          type: string
          readOnly: true
        region:
          description: 'Region. The value is always set to the same value as Namespace.Location, so we are deprecating

            this property.'
          type: string
          readOnly: true
        metricId:
          description: Azure Insights Metrics id.
          type: string
          readOnly: true
        createdAt:
          format: date-time
          description: Time when the namespace was created.
          type: string
          readOnly: true
        updatedAt:
          format: date-time
          description: Time when the namespace was updated.
          type: string
          readOnly: true
        namespaceType:
          $ref: '#/components/schemas/NamespaceType'
        replicationRegion:
          $ref: '#/components/schemas/ReplicationRegion'
        zoneRedundancy:
          $ref: '#/components/schemas/ZoneRedundancyPreference'
        networkAcls:
          $ref: '#/components/schemas/NetworkAcls'
        pnsCredentials:
          $ref: '#/components/schemas/PnsCredentials'
        serviceBusEndpoint:
          description: 'Gets or sets endpoint you can use to perform NotificationHub

            operations.'
          type: string
          readOnly: true
        privateEndpointConnections:
          description: Private Endpoint Connections for namespace
          type: array
          items:
            $ref: '#/components/schemas/PrivateEndpointConnectionResource'
          readOnly: true
        scaleUnit:
          description: Gets or sets scaleUnit where the namespace gets created
          type: string
          x-ms-mutability:
          - create
          - read
        dataCenter:
          description: Deprecated.
          type: string
        publicNetworkAccess:
          $ref: '#/components/schemas/PublicNetworkAccess'
    MpnsCredential:
      description: Description of a NotificationHub MpnsCredential.
      required:
      - properties
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/MpnsCredentialProperties'
      x-ms-secret: true
    IpRule:
      description: A network authorization rule that filters traffic based on IP address.
      required:
      - ipMask
      - rights
      type: object
      properties:
        ipMask:
          description: IP mask.
          minLength: 1
          type: string
        rights:
          description: List of access rights.
          type: array
          items:
            $ref: '#/components/schemas/AccessRights'
    PrivateEndpointConnectionProvisioningState:
      description: State of Private Endpoint Connection.
      enum:
      - Unknown
      - Succeeded
      - Creating
      - Updating
      - UpdatingByProxy
      - Deleting
      - DeletingByProxy
      - Deleted
      type: string
      x-ms-enum:
        name: PrivateEndpointConnectionProvisioningState
        modelAsString: true
    NamespaceResource:
      description: Notification Hubs Namespace Resource.
      required:
      - location
      - sku
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource
      properties:
        sku:
          $ref: '#/components/schemas/Sku'
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/NamespaceProperties'
    BaiduCredential:
      description: Description of a NotificationHub BaiduCredential.
      required:
      - properties
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/BaiduCredentialProperties'
      x-ms-secret: true
    PublicInternetAuthorizationRule:
      description: A default (public Internet) network authorization rule, which contains rights if no other network rule matches.
      required:
      - rights
      type: object
      properties:
        rights:
          description: List of access rights.
          type: array
          items:
            $ref: '#/components/schemas/AccessRights'
    BrowserCredential:
      description: Description of a NotificationHub BrowserCredential.
      required:
      - properties
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/BrowserCredentialProperties'
      x-ms-secret: true
    FcmV1Credential:
      description: Description of a NotificationHub FcmV1Credential.
      required:
      - properties
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/FcmV1CredentialProperties'
      x-ms-secret: true
    XiaomiCredential:
      description: Description of a NotificationHub XiaomiCredential.
      required:
      - properties
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/XiaomiCredentialProperties'
      x-ms-secret: true
    BrowserCredentialProperties:
      description: Description of a NotificationHub BrowserCredential.
      required:
      - subject
      - vapidPrivateKey
      - vapidPublicKey
      type: object
      properties:
        subject:
          description: Gets or sets web push subject.
          minLength: 1
          type: string
          x-ms-secret: true
        vapidPrivateKey:
          description: Gets or sets VAPID private key.
          minLength: 1
          type: string
          x-ms-secret: true
        vapidPublicKey:
          description: Gets or sets VAPID public key.
          minLength: 1
          type: string
          x-ms-secret: true
    NamespacePatchParameters:
      description: Patch parameter for NamespaceResource.
      type: object
      properties:
        sku:
          $ref: '#/components/schemas/Sku'
        properties:
          $ref: '#/components/schemas/NamespaceProperties'
        tags:
          type: object
          additionalProperties:
            type: string
    PolicyKeyType:
      description: Type of Shared Access Policy Key (primary or secondary).
      enum:
      - PrimaryKey
      - SecondaryKey
      type: string
      x-ms-enum:
        name: PolicyKeyType
        modelAsString: true
    AccessRights:
      description: Defines values for AccessRights.
      enum:
      - Manage
      - Send
      - Listen
      type: string
      x-ms-enum:
        name: AccessRights
        modelAsString: true
    ResourceListKeys:
      description: Response for the POST request that returns Namespace or NotificationHub access keys (connection strings).
      type: object
      properties:
        primaryConnectionString:
          description: Gets or sets primaryConnectionString of the AuthorizationRule.
          type: string
          readOnly: true
          x-ms-secret: true
        secondaryConnectionString:
          description: 'Gets or sets secondaryConnectionString of the created

            AuthorizationRule'
          type: string
          readOnly: true
          x-ms-secret: true
        primaryKey:
          description: Gets or sets primaryKey of the created AuthorizationRule.
          type: string
          readOnly: true
          x-ms-secret: true
        secondaryKey:
          description: Gets or sets secondaryKey of the created AuthorizationRule
          type: string
          readOnly: true
          x-ms-secret: true
        keyName:
          description: Gets or sets keyName of the created AuthorizationRule
          type: string
          readOnly: true
    PrivateEndpointConnectionResource:
      description: Represents a Private Endpoint Connection ARM resource - a sub-resource of Notification Hubs namespace.
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
      properties:
        properties:
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties'
    XiaomiCredentialProperties:
      description: Description of a NotificationHub XiaomiCredentialProperties.
      type: object
      properties:
        appSecret:
          description: Gets or sets app secret.
          type: string
          x-ms-secret: true
        endpoint:
          description: Gets or sets xiaomi service endpoint.
          type: string
          x-ms-secret: true
    PolicyKeyResource:
      description: Namespace / NotificationHub Regenerate Keys request.
      required:
      - policyKey
      type: object
      properties:
        policyKey:
          $ref: '#/components/schemas/PolicyKeyType'
    GcmCredential:
      description: Description of a NotificationHub GcmCredential.
      required:
      - properties
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/GcmCredentialProperties'
      x-ms-secret: true
    ReplicationRegion:
      description: Allowed replication region
      enum:
      - Default
      - WestUs2
      - NorthEurope
      - AustraliaEast
      - BrazilSouth
      - SouthEastAsia
      - SouthAfricaNorth
      - None
      type: string
      x-ms-enum:
        name: ReplicationRegion
        modelAsString: true
    PnsCredentials:
      description: Collection of Notification Hub or Notification Hub Namespace PNS credentials.
      type: object
      properties:
        admCredential:
          $ref: '#/components/schemas/AdmCredential'
        apnsCredential:
          $ref: '#/components/schemas/ApnsCredential'
        baiduCredential:
          $ref: '#/components/schemas/BaiduCredential'
        browserCredential:
          $ref: '#/components/schemas/BrowserCredential'
        gcmCredential:
          $ref: '#/components/schemas/GcmCredential'
        mpnsCredential:
          $ref: '#/components/schemas/MpnsCredential'
        wnsCredential:
          $ref: '#/components/schemas/WnsCredential'
        xiaomiCredential:
          $ref: '#/components/schemas/XiaomiCredential'
        fcmV1Credential:
          $ref: '#/components/schemas/FcmV1Credential'
      x-ms-secret: true
    NetworkAcls:
      description: A collection of network authorization rules.
      type: object
      properties:
        ipRules:
          description: List of IP rules.
          type: array
          items:
            $ref: '#/components/schemas/IpRule'
          x-ms-identifiers: []
        publicNetworkRule:
          $ref: '#/components/schemas/PublicInternetAuthorizationRule'
    Sku:
      description: The Sku description for a namespace
      required:
      - name
      type: object
      properties:
        name:
          $ref: '#/components/schemas/SkuName'
        tier:
          description: Gets or sets the tier of particular sku
          type: string
        size:
          description: Gets or sets the Sku size
          type: string
        family:
          description: Gets or sets the Sku Family
          type: string
        capacity:
          format: int32
          description: Gets or sets the capacity of the resource
          type: integer
    SharedAccessAuthorizationRuleCreateOrUpdateParameters:
      properties:
        properties:
          $ref: '#/components/schemas/SharedAccessAuthorizationRuleProperties_2'
          description: Properties of the Namespace AuthorizationRules.
      required:
      - properties
      description: Parameters supplied to the CreateOrUpdate Namespace AuthorizationRules.
    SharedAccessAuthorizationRuleProperties_2:
      properties:
        rights:
          type: array
          items:
            type: string
            enum:
            - Manage
            - Send
            - Listen
            x-ms-enum:
              name: AccessRights
              modelAsString: false
          description: The rights associated with the rule.
        primaryKey:
          readOnly: true
          type: string
          description: A base64-encoded 256-bit primary key for signing and validating the SAS token.
        secondaryKey:
          readOnly: true
          type: string
          description: A base64-encoded 256-bit primary key for signing and validating the SAS token.
        keyName:
          readOnly: true
          type: string
          description: A string that describes the authorization rule.
        claimType:
          readOnly: true
          type: string
          description: A string that describes the claim type
        claimValue:
          readOnly: true
          type: string
          description: A string that describes the claim value
        modifiedTime:
          readOnly: true
          type: string
          description: The last modified time for this rule
        createdTime:
          readOnly: true
          type: string
          description: The created time for this rule
        revision:
          readOnly: true
          type: integer
          description: The revision number for the rule
      description: SharedAccessAuthorizationRule properties.
    NamespaceListResult_2:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/NamespaceResource_2'
          description: Result of the List Namespace operation.
        nextLink:
          type: string
          description: Link to the next set of results. Not empty if Value contains incomplete list of Namespaces
      description: The response of the List Namespace operation.
    SharedAccessAuthorizationRuleListResult_2:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource_2'
          description: Result of the List AuthorizationRules operation.
        nextLink:
          type: string
          description: Link to the next set of results. Not empty if Value contains incomplete list of AuthorizationRules
      description: The response of the List Namespace operation.
    NamespaceResource_2:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/NamespaceProperties_2'
          description: Properties of the Namespace.
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Description of a Namespace resource.
    ResourceListKeys_2:
      properties:
        primaryConnectionString:
          type: string
          description: PrimaryConnectionString of the AuthorizationRule.
        secondaryConnectionString:
          type: string
          description: SecondaryConnectionString of the created AuthorizationRule
        primaryKey:
          type: string
          description: PrimaryKey of the created AuthorizationRule.
        secondaryKey:
          type: string
          description: SecondaryKey of the created AuthorizationRule
        keyName:
          type: string
          description: KeyName of the created AuthorizationRule
      description: Namespace/NotificationHub Connection String
    CheckAvailabilityResult_2:
      properties:
        isAvailiable:
          type: boolean
          description: True if the name is available and can be used to create new Namespace/NotificationHub. Otherwise false.
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Description of a CheckAvailability resource.
    CheckAvailabilityParameters_2:
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        location:
          type: string
          description: Resource location
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
        sku:
          $ref: '#/components/schemas/Sku_2'
          description: The sku of the created namespace
        isAvailiable:
          type: boolean
          description: True if the name is available and can be used to create new Namespace/NotificationHub. Otherwise false.
      required:
      - name
      description: Parameters supplied to the Check Name Availability for Namespace and NotificationHubs.
    SharedAccessAuthorizationRuleResource_2:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/SharedAccessAuthorizationRuleProperties_2'
          description: Properties of the Namespace AuthorizationRule.
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Description of a Namespace AuthorizationRules.
    Resource:
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        location:
          type: string
          description: Resource location
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
        sku:
          $ref: '#/components/schemas/Sku_2'
          description: The sku of the created namespace
      x-ms-azure-resource: true
    NamespacePatchParameters_2:
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
        sku:
          $ref: '#/components/schemas/Sku_2'
          description: The sku of the created namespace
      description: Parameters supplied to the Patch Namespace operation.
    NamespaceProperties_2:
      properties:
        name:
          type: string
          description: The name of the namespace.
        provisioningState:
          type: string
          description: Provisioning state of the Namespace.
        region:
          externalDocs:
            url: http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx
          type: string
          description: 'Specifies the targeted region in which the namespace should be created. It can be any of the following values: Australia East, Australia Southeast, Central US, East US, East US 2, West US, North Central US, South Central US, East Asia, Southeast Asia, Brazil South, Japan East, Japan West, North Europe, West Europe'
        metricId:
          readOnly: true
          type: string
          description: Identifier for Azure Insights metrics
        status:
          externalDocs:
            url: http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx
          type: string
          description: Status of the namespace. It can be any of these values:1 = Created/Active2 = Creating3 = Suspended4 = Deleting
        createdAt:
          type: string
          format: date-time
          description: The time the namespace was created.
        updatedAt:
          type: string
          format: date-time
          description: The time the namespace was updated.
        serviceBusEndpoint:
          externalDocs:
            url: http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx
          type: string
          description: Endpoint you can use to perform NotificationHub operations.
        subscriptionId:
          type: string
          description: The Id of the Azure subscription associated with the namespace.
        scaleUnit:
          type: string
          description: ScaleUnit where the namespace gets created
        enabled:
          type: boolean
          description: Whether or not the namespace is currently enabled.
        critical:
          type: boolean
          description: Whether or not the namespace is set as Critical.
        dataCenter:
          type: string
          description: Data center for the namespace
        namespaceType:
          type: string
          description: The namespace type.
          enum:
          - Messaging
          - NotificationHub
          x-ms-enum:
            name: NamespaceType
            modelAsString: false
      description: Namespace properties.
    NamespaceCreateOrUpdateParameters:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/NamespaceProperties_2'
          description: Properties of the Namespace.
      required:
      - location
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Parameters supplied to the CreateOrUpdate Namespace operation.
    Sku_2:
      properties:
        name:
          type: string
          description: Name of the notification hub sku
          enum:
          - Free
          - Basic
          - Standard
          x-ms-enum:
            name: SkuName
            modelAsString: true
        tier:
          type: string
          description: The tier of particular sku
        size:
          type: string
          description: The Sku size
        family:
          type: string
          description: The Sku Family
        capacity:
          type: integer
          description: The capacity of the resource
      required:
      - name
      description: The Sku description for a namespace
    PolicykeyResource:
      properties:
        policyKey:
          type: string
          description: Name of the key that has to be regenerated for the Namespace/Notification Hub Authorization Rule. The value can be Primary Key/Secondary Key.
      description: Namespace/NotificationHub Regenerate Keys
  parameters:
    AuthorizationRuleName:
      in: path
      name: authorizationRuleName
      description: Authorization Rule Name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 256
        minLength: 1
        pattern: ^[a-zA-Z0-9!()*-._]+$
    NamespaceName:
      in: path
      name: namespaceName
      description: Namespace name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 50
        minLength: 1
        pattern: ^[a-zA-Z][a-zA-Z0-9-]*$
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- notificationhubs-rp-client-openapi-original.yml
- notificationhubsmanagementclient-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
