openapi: 3.2.0
info:
  version: 2022-09-30-preview
  title: Microsoft Azure RecoveryServicesBackupClient Validate…
  x-ms-code-generation-settings:
    internalConstructors: false
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ValidateOperationResults
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupValidateOperationResults/{operationId}
  : get:
      tags:
      - ValidateOperationResults
      description: Fetches the result of a triggered validate operation.
      operationId: microsoftAzureValidateoperationresultsGet
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/VaultName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: operationId
        in: path
        description: OperationID which represents the operation whose result needs to be fetched.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateOperationsResponse'
        '202':
          description: Accepted
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Get Operation Results of Validate Operation:
          $ref: ./examples/AzureIaasVm/ValidateOperationResults.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    CloudError:
      x-ms-external: true
      properties:
        error:
          type: object
          $ref: '#/components/schemas/CloudErrorBody'
          description: The error object.
      description: An error response from the Container Instance service.
    CloudErrorBody:
      x-ms-external: true
      properties:
        code:
          readOnly: true
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          readOnly: true
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          readOnly: true
          type: string
          description: The target of the particular error. For example, the name of the property in error.
        details:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          x-ms-identifiers:
          - code
          description: A list of additional details about the error.
        additionalInfo:
          readOnly: true
          type: array
          items:
            $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorAdditionalInfo
          x-ms-identifiers: []
          description: The error additional info.
      description: An error response from the Container Instance service.
    ValidateOperationResponse:
      description: Base class for validate operation response.
      type: object
      properties:
        validationResults:
          description: Gets the validation result
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
          x-ms-identifiers:
          - code
    ValidateOperationsResponse:
      type: object
      properties:
        validateOperationResponse:
          $ref: '#/components/schemas/ValidateOperationResponse'
    ErrorDetail:
      description: Error Detail class which encapsulates Code, Message and Recommendations.
      type: object
      properties:
        code:
          description: Error code.
          type: string
          readOnly: true
        message:
          description: Error Message related to the Code.
          type: string
          readOnly: true
        recommendations:
          description: List of recommendation strings.
          type: array
          items:
            type: string
          readOnly: true
  parameters:
    ResourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group where the recovery services vault is present.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionId:
      name: subscriptionId
      in: path
      description: The subscription Id.
      required: true
      schema:
        type: string
    ApiVersion:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
    VaultName:
      name: vaultName
      in: path
      description: The name of the recovery services vault.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account.
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
