openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft Marketplace Discovery API Keys…
  description: This API is designed to streamline the process of generating designated keys for accessing all Marketplace Catalog APIs. By utilizing a simple POST operation, users can effortlessly generate a unique API key, granting access to Marketplace Catalog APIs from version 2023-01-01 and beyond.
  version: 2023-01-01-preview
servers:
- url: https://management.azure.com
tags:
- name: RevokeApiKey
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Marketplace/keys/{apiKeyAlias}/revoke:
    post:
      tags:
      - RevokeApiKey
      summary: Microsoft Azure Revokes An Active Api Key Please Note That This Api Is…
      operationId: microsoftAzureRevokeapikeyPost
      x-ms-examples:
        Revoke_Key:
          $ref: ./examples/RevokeKey.json
      parameters:
      - name: apiKeyAlias
        description: The alias of your API key.
        in: path
        required: true
        schema:
          type: string
      - name: x-ms-client-tenant-id
        x-originalName: tenantId
        description: The tenant associated with the subscription.
        in: header
        required: true
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Indicates that the API key was successfully revoked.
        default:
          description: Microsoft.Marketplace error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      description: Needs a more full description created.
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
