openapi: 3.2.0
info:
  version: 2022-09-30-preview
  title: Microsoft Azure RecoveryServicesBackupClient Backup…
  x-ms-code-generation-settings:
    internalConstructors: false
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: BackupResourceVaultConfigs
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupconfig/vaultconfig
  : get:
      tags:
      - BackupResourceVaultConfigs
      description: Fetches resource vault config.
      operationId: microsoftAzureBackupresourcevaultconfigsGet
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/VaultName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupResourceVaultConfigResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewErrorResponse'
      x-ms-examples:
        Get Vault Security Config:
          $ref: ./examples/Common/BackupResourceVaultConfigs_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    patch:
      tags:
      - BackupResourceVaultConfigs
      description: Updates vault security config.
      operationId: microsoftAzureBackupresourcevaultconfigsUpdate
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/VaultName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupResourceVaultConfigResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewErrorResponse'
      x-ms-examples:
        Update Vault Security Config:
          $ref: ./examples/Common/BackupResourceVaultConfigs_Patch.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupResourceVaultConfigResource'
        description: resource config request
        required: true
    put:
      tags:
      - BackupResourceVaultConfigs
      description: Updates vault security config.
      operationId: microsoftAzureBackupresourcevaultconfigsPut
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/VaultName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupResourceVaultConfigResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewErrorResponse'
      x-ms-examples:
        Update Vault Security Config:
          $ref: ./examples/Common/BackupResourceVaultConfigs_Put.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupResourceVaultConfigResource'
        description: resource config request
        required: true
components:
  schemas:
    BackupResourceVaultConfigResource:
      description: Backup resource vault config details.
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/BackupResourceVaultConfig'
          description: BackupResourceVaultConfigResource properties
    NewErrorResponse:
      properties:
        error:
          type: object
          description: The error object.
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                $ref: '#/components/schemas/NewErrorResponse'
              x-ms-identifiers:
              - /error/code
              description: The error details.
            additionalInfo:
              readOnly: true
              type: array
              items:
                $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorAdditionalInfo
              x-ms-identifiers: []
              description: The error additional info.
      description: The resource management error response.
    Resource:
      description: ARM Resource.
      type: object
      properties:
        id:
          description: Resource Id represents the complete path to the resource.
          type: string
          readOnly: true
        name:
          description: Resource name associated with the resource.
          type: string
          readOnly: true
        type:
          description: Resource type represents the complete path of the form Namespace/ResourceType/ResourceType/...
          type: string
          readOnly: true
        location:
          description: Resource location.
          type: string
        tags:
          description: Resource tags.
          type: object
          additionalProperties:
            type: string
        eTag:
          description: Optional ETag.
          type: string
      x-ms-azure-resource: true
    BackupResourceVaultConfig:
      description: Backup resource vault config details.
      type: object
      properties:
        storageModelType:
          description: Storage type.
          enum:
          - Invalid
          - GeoRedundant
          - LocallyRedundant
          - ZoneRedundant
          - ReadAccessGeoZoneRedundant
          type: string
          x-ms-enum:
            name: StorageType
            modelAsString: true
        storageType:
          description: Storage type.
          enum:
          - Invalid
          - GeoRedundant
          - LocallyRedundant
          - ZoneRedundant
          - ReadAccessGeoZoneRedundant
          type: string
          x-ms-enum:
            name: StorageType
            modelAsString: true
        storageTypeState:
          description: Locked or Unlocked. Once a machine is registered against a resource, the storageTypeState is always Locked.
          enum:
          - Invalid
          - Locked
          - Unlocked
          type: string
          x-ms-enum:
            name: StorageTypeState
            modelAsString: true
        enhancedSecurityState:
          description: Enabled or Disabled.
          enum:
          - Invalid
          - Enabled
          - Disabled
          type: string
          x-ms-enum:
            name: EnhancedSecurityState
            modelAsString: true
        softDeleteFeatureState:
          description: Soft Delete feature state
          enum:
          - Invalid
          - Enabled
          - Disabled
          type: string
          x-ms-enum:
            name: SoftDeleteFeatureState
            modelAsString: true
        resourceGuardOperationRequests:
          description: ResourceGuard Operation Requests
          type: array
          items:
            type: string
        isSoftDeleteFeatureStateEditable:
          description: Is soft delete feature state editable
          type: boolean
  parameters:
    ResourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group where the recovery services vault is present.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionId:
      name: subscriptionId
      in: path
      description: The subscription Id.
      required: true
      schema:
        type: string
    ApiVersion:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
    VaultName:
      name: vaultName
      in: path
      description: The name of the recovery services vault.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account.
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
