openapi: 3.2.0
info:
  title: Microsoft Azure NetworkSecurityPerimeter Nsp Association…
  description: The Network Security Perimeter API provides a RESTful set of web services that interact with network security perimeter resource.
  version: 2023-07-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: NspAssociationReconcile
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/resourceAssociations/{associationName}/reconcile
  : parameters:
    - $ref: ./network.json#/parameters/SubscriptionIdParameter
    - $ref: '#/components/parameters/ResourceGroupNameParameter'
    - $ref: '#/components/parameters/NetworkSecurityPerimeterNameParameter'
    - $ref: '#/components/parameters/AssociationNameParameter'
    - $ref: ./network.json#/parameters/ApiVersionParameter
    post:
      tags:
      - NspAssociationReconcile
      operationId: microsoftAzureNspassociationreconcilePost
      description: Reconcile NSP association
      responses:
        '200':
          description: Reconcile NSP association.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NspAssociationReconcile'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        NspAssociationReconcile:
          $ref: ./examples/NspAssociationReconcile.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NspAssociationReconcile'
        description: Parameters for NSP association reconcile
        required: true
components:
  schemas:
    NspAssociationReconcile:
      type: object
      properties: {}
      description: Request object for NSP association.
  parameters:
    NetworkSecurityPerimeterNameParameter:
      name: networkSecurityPerimeterName
      in: path
      required: true
      description: The name of the network security perimeter.
      x-ms-parameter-location: method
      schema:
        type: string
    AssociationNameParameter:
      name: associationName
      in: path
      required: true
      description: The name of the NSP association.
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
