openapi: 3.2.0
info:
  version: 2020-03-01-preview
  title: Microsoft Azure AzureDigitalTwinsManagementClient Digital…
  description: Azure Digital Twins Client for managing DigitalTwinsInstance
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: DigitalTwinsInstance
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DigitalTwins/digitalTwinsInstances/{resourceName}
  : get:
      tags:
      - DigitalTwinsInstance
      description: Get DigitalTwinsInstances resource.
      operationId: microsoftAzureDigitaltwinsGet
      x-ms-examples:
        Get a DigitalTwinsInstance resource:
          $ref: ./examples/DigitalTwinsGet_example.json
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      responses:
        '200':
          description: The body contains all the non-security properties of the DigitalTwinsInstance. Security-related properties are set to null.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalTwinsDescription'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - DigitalTwinsInstance
      description: Create or update the metadata of a DigitalTwinsInstance. The usual pattern to modify a property is to retrieve the DigitalTwinsInstance and security metadata, and then combine them with the modified values in a new body to update the DigitalTwinsInstance.
      operationId: microsoftAzureDigitaltwinsCreateorupdate
      x-ms-long-running-operation: true
      x-ms-examples:
        Put a DigitalTwinsInstance resource:
          $ref: ./examples/DigitalTwinsPut_example.json
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      responses:
        '200':
          description: This is returned as a response to the status polling request for the create or update operation. The body contains the resource representation that indicates a transitional provisioning state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalTwinsDescription'
        '201':
          description: Created - Put request accepted; the operation will complete asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalTwinsDescription'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DigitalTwinsDescription'
        description: The DigitalTwinsInstance and security metadata.
        required: true
    patch:
      tags:
      - DigitalTwinsInstance
      description: Update metadata of DigitalTwinsInstance.
      operationId: microsoftAzureDigitaltwinsUpdate
      x-ms-long-running-operation: true
      x-ms-examples:
        Patch a DigitalTwinsInstance resource:
          $ref: ./examples/DigitalTwinsPatch_example.json
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      responses:
        '200':
          description: This is returned as a response to the status polling request for the create or update operation. The body contains the resource representation that indicates a transitional provisioning state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalTwinsDescription'
        '201':
          description: Accepted - Put request accepted; the operation will complete asynchronously.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DigitalTwinsPatchDescription'
        description: The DigitalTwinsInstance and security metadata.
        required: true
    delete:
      tags:
      - DigitalTwinsInstance
      description: Delete a DigitalTwinsInstance.
      operationId: microsoftAzureDigitaltwinsDelete
      x-ms-long-running-operation: true
      x-ms-examples:
        Delete a DigitalTwinsInstance resource:
          $ref: ./examples/DigitalTwinsDelete_example.json
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      responses:
        '200':
          description: This is returned as a response to the status polling request for the delete operation. The body contains the resource representation that indicates a transitional provisioning state.
        '202':
          description: Accepted - Delete request accepted; the operation will complete asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalTwinsDescription'
        '204':
          description: Once the long running delete operation completes successfully, a 204 No Content status code is returned when the status polling request finds the DigitalTwins service metadata in the service and the status of the delete operation is set to a completed state.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/providers/Microsoft.DigitalTwins/digitalTwinsInstances:
    get:
      tags:
      - DigitalTwinsInstance
      description: Get all the DigitalTwinsInstances in a subscription.
      operationId: microsoftAzureDigitaltwinsList
      x-ms-examples:
        Get DigitalTwinsInstance resources by subscription:
          $ref: ./examples/DigitalTwinsList_example.json
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      responses:
        '200':
          description: This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the DigitalTwinsInstances in the subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalTwinsDescriptionListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DigitalTwins/digitalTwinsInstances:
    get:
      tags:
      - DigitalTwinsInstance
      description: Get all the DigitalTwinsInstances in a resource group.
      operationId: microsoftAzureDigitaltwinsListbyresourcegroup
      x-ms-examples:
        Get DigitalTwinsInstance resources by resource group:
          $ref: ./examples/DigitalTwinsListByResourceGroup_example.json
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      responses:
        '200':
          description: This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the DigitalTwinsInstances in the resource group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalTwinsDescriptionListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    DigitalTwinsProperties:
      description: The properties of a DigitalTwinsInstance.
      type: object
      properties:
        createdTime:
          description: Time when DigitalTwinsInstance was created.
          readOnly: true
          type: string
          format: date-time
        lastUpdatedTime:
          description: Time when DigitalTwinsInstance was created.
          readOnly: true
          type: string
          format: date-time
        provisioningState:
          description: The provisioning state.
          enum:
          - Provisioning
          - Deleting
          - Succeeded
          - Failed
          - Canceled
          type: string
          readOnly: true
          x-ms-enum:
            name: provisioningState
            modelAsString: true
        hostName:
          description: Api endpoint to work with DigitalTwinsInstance.
          type: string
          readOnly: true
    DigitalTwinsResource:
      description: The common properties of a DigitalTwinsInstance.
      properties:
        id:
          readOnly: true
          type: string
          description: The resource identifier.
        name:
          readOnly: true
          type: string
          description: The resource name.
          pattern: ^(?![0-9]+$)(?!-)[a-zA-Z0-9-]{2,49}[a-zA-Z0-9]$
        type:
          readOnly: true
          type: string
          description: The resource type.
        location:
          type: string
          description: The resource location.
          x-ms-mutability:
          - create
          - read
        tags:
          type: object
          additionalProperties:
            type: string
          description: The resource tags.
        sku:
          description: This property is reserved for future use, and will be ignored/omitted
          $ref: '#/components/schemas/DigitalTwinsSkuInfo'
      x-ms-azure-resource: true
      required:
      - location
    DigitalTwinsPatchDescription:
      description: The description of the DigitalTwins service.
      type: object
      properties:
        tags:
          description: Instance tags
          type: object
          additionalProperties:
            type: string
    ErrorDefinition:
      description: Error definition.
      properties:
        code:
          description: Service specific error code which serves as the substatus for the HTTP error code.
          type: string
          readOnly: true
        message:
          description: Description of the error.
          type: string
          readOnly: true
        details:
          description: Internal error details.
          type: array
          items:
            $ref: '#/components/schemas/ErrorDefinition'
          readOnly: true
    DigitalTwinsDescription:
      description: The description of the DigitalTwins service.
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          description: DigitalTwins instance properties.
          $ref: '#/components/schemas/DigitalTwinsProperties'
      allOf:
      - $ref: '#/components/schemas/DigitalTwinsResource'
    DigitalTwinsSkuInfo:
      description: Information about the SKU of the DigitalTwinsInstance.
      type: object
      properties:
        name:
          description: The name of the SKU.
          enum:
          - F1
          type: string
          x-ms-enum:
            name: DigitalTwinsSku
            modelAsString: true
      required:
      - name
    DigitalTwinsDescriptionListResult:
      description: A list of DigitalTwins description objects with a next link.
      type: object
      properties:
        nextLink:
          description: The link used to get the next page of DigitalTwins description objects.
          type: string
        value:
          description: A list of DigitalTwins description objects.
          type: array
          items:
            $ref: '#/components/schemas/DigitalTwinsDescription'
    ErrorResponse:
      description: Error response.
      properties:
        error:
          description: Error description
          $ref: '#/components/schemas/ErrorDefinition'
  parameters:
    resourceName:
      name: resourceName
      in: path
      description: The name of the DigitalTwinsInstance.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 1
    api-version:
      name: api-version
      in: query
      description: Version of the DigitalTwinsInstance Management API.
      required: true
      schema:
        type: string
        enum:
        - 2020-03-01-preview
        minLength: 10
    resourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the DigitalTwinsInstance.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 1
    subscriptionId:
      name: subscriptionId
      in: path
      description: The subscription identifier.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
