openapi: 3.2.0
info:
  title: Microsoft Azure BatchManagementClient Application Package…
  description: The Batch Management Client.
  version: '2024-02-01'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ApplicationPackage
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/applications/{applicationName}/versions/{versionName}/activate
  : post:
      tags:
      - ApplicationPackage
      operationId: microsoftAzureApplicationpackageActivate
      x-ms-examples:
        ApplicationPackageActivate:
          $ref: ./examples/ApplicationPackageActivate.json
      description: Activates the specified application package. This should be done after the `ApplicationPackage` was created and uploaded. This needs to be done before an `ApplicationPackage` can be used on Pools or Tasks.
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/ApplicationNameParameter'
      - $ref: '#/components/parameters/VersionNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The operation was successful. The response contains the application package entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationPackage'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivateApplicationPackageParameters'
        description: The parameters for the request.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/applications/{applicationName}/versions/{versionName}
  : put:
      tags:
      - ApplicationPackage
      operationId: microsoftAzureApplicationpackageCreate
      x-ms-examples:
        ApplicationPackageCreate:
          $ref: ./examples/ApplicationPackageCreate.json
      description: Creates an application package record. The record contains a storageUrl where the package should be uploaded to. Once it is uploaded the `ApplicationPackage` needs to be activated using `ApplicationPackageActive` before it can be used. If the auto storage account was configured to use storage keys, the URL returned will contain a SAS.
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/ApplicationNameParameter'
      - $ref: '#/components/parameters/VersionNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The operation was successful. The response contains the application package entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationPackage'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationPackage'
        description: The parameters for the request.
    delete:
      tags:
      - ApplicationPackage
      operationId: microsoftAzureApplicationpackageDelete
      x-ms-examples:
        ApplicationPackageDelete:
          $ref: ./examples/ApplicationPackageDelete.json
      description: Deletes an application package record and its associated binary file.
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/ApplicationNameParameter'
      - $ref: '#/components/parameters/VersionNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The operation was successful.
        '204':
          description: The operation was successful.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    get:
      tags:
      - ApplicationPackage
      operationId: microsoftAzureApplicationpackageGet
      x-ms-examples:
        ApplicationPackageGet:
          $ref: ./examples/ApplicationPackageGet.json
      description: Gets information about the specified application package.
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/ApplicationNameParameter'
      - $ref: '#/components/parameters/VersionNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The operation was successful. The response contains the application package entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationPackage'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/applications/{applicationName}/versions
  : get:
      tags:
      - ApplicationPackage
      operationId: microsoftAzureApplicationpackageList
      x-ms-examples:
        ApplicationPackageList:
          $ref: ./examples/ApplicationPackageList.json
      description: Lists all of the application packages in the specified application.
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/ApplicationNameParameter'
      - name: maxresults
        in: query
        required: false
        description: The maximum number of items to return in the response.
        schema:
          type: integer
          format: int32
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The operation was successful. The response contains a list of the application package entities associated with the specified application.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListApplicationPackagesResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    CloudError:
      type: object
      x-ms-external: true
      properties:
        error:
          description: The body of the error response.
          $ref: '#/components/schemas/CloudErrorBody'
      description: An error response from the Batch service.
    ProxyResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: The ID of the resource.
        name:
          readOnly: true
          type: string
          description: The name of the resource.
        type:
          readOnly: true
          type: string
          description: The type of the resource.
        etag:
          readOnly: true
          type: string
          description: The ETag of the resource, used for concurrency statements.
      description: A definition of an Azure resource.
      x-ms-azure-resource: true
    ApplicationPackageProperties:
      type: object
      properties:
        state:
          type: string
          readOnly: true
          description: The current state of the application package.
          enum:
          - Pending
          - Active
          x-ms-enum:
            name: PackageState
            modelAsString: false
            values:
            - value: Pending
              description: The application package has been created but has not yet been activated.
            - value: Active
              description: The application package is ready for use.
        format:
          type: string
          readOnly: true
          description: The format of the application package, if the package is active.
        storageUrl:
          type: string
          readOnly: true
          description: The URL for the application package in Azure Storage.
        storageUrlExpiry:
          type: string
          format: date-time
          readOnly: true
          description: The UTC time at which the Azure Storage URL will expire.
        lastActivationTime:
          type: string
          format: date-time
          readOnly: true
          description: The time at which the package was last activated, if the package is active.
      description: Properties of an application package
    CloudErrorBody:
      type: object
      x-ms-external: true
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of the property in error.
        details:
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          x-ms-identifiers:
          - message
          - target
          description: A list of additional details about the error.
      description: An error response from the Batch service.
    ActivateApplicationPackageParameters:
      type: object
      properties:
        format:
          type: string
          description: The format of the application package binary file.
      required:
      - format
      description: Parameters for an activating an application package.
    ListApplicationPackagesResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationPackage'
          description: The list of application packages.
        nextLink:
          type: string
          description: The URL to get the next set of results.
      description: The result of performing list application packages.
    ApplicationPackage:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ApplicationPackageProperties'
          description: The properties associated with the Application Package.
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: An application package which represents a particular version of an application.
  parameters:
    ApplicationNameParameter:
      name: applicationName
      in: path
      required: true
      description: The name of the application. This must be unique within the account.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 1
        pattern: ^[a-zA-Z0-9_-]+$
    AccountNameParameter:
      name: accountName
      in: path
      required: true
      description: The name of the Batch account.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 24
        minLength: 3
        pattern: ^[a-zA-Z0-9]+$
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group that contains the Batch account.
      x-ms-parameter-location: method
      schema:
        type: string
    VersionNameParameter:
      name: versionName
      in: path
      required: true
      description: The version of the application.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 1
        pattern: ^[a-zA-Z0-9_-][a-zA-Z0-9_.-]*$
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to be used with the HTTP request.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Microsoft Entra OAuth 2.0 auth code flow
