openapi: 3.2.0
info:
  version: 2023-01-01-preview
  title: Microsoft Azure HybridCloud Cloud Connections API
  description: Hybrid cloud connectivity Management API.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Cloud Connections
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.HybridCloud/cloudConnections:
    get:
      tags:
      - Cloud Connections
      description: Return list of cloud connections in a subscription.
      operationId: microsoftAzureCloudconnectionsListbysubscription
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of cloud connection resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudConnectionListResult'
        default:
          description: Error response describing why the operation failed. If the resource group does not exist, 404 (NotFound) will be returned.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        List of Cloud Connections by Subscription:
          $ref: ./examples/CloudConnectionsBySubscriptionList.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCloud/cloudConnections:
    get:
      tags:
      - Cloud Connections
      description: Return list of cloud connections in a resource group.
      operationId: microsoftAzureCloudconnectionsListbyresourcegroup
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of cloud connections resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudConnectionListResult'
        default:
          description: Error response describing why the operation failed. If the resource group does not exist, 404 (NotFound) will be returned.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        List of Cloud Connections by ResourceGroup:
          $ref: ./examples/CloudConnectionsByResourceGroupList.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCloud/cloudConnections/{cloudConnectionName}
  : get:
      tags:
      - Cloud Connections
      operationId: microsoftAzureCloudconnectionsGet
      description: Gets the specified cloud connection in a specified resource group.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/cloudConnectionNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Request successful. The operation returns the resulting cloud connection resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudConnection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Get Cloud Connection:
          $ref: ./examples/CloudConnectionGet.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Cloud Connections
      description: Creates or updates a cloud connection resource
      operationId: microsoftAzureCloudconnectionsCreateorupdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/cloudConnectionNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Update successful. The operation returns the resulting cloud connection resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudConnection'
        '201':
          description: Create successful. The operation returns the resulting cloud connection resource.
          headers:
            Azure-AsyncOperation:
              description: URI to poll for the operation status
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudConnection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Create a Cloud Connection:
          $ref: ./examples/CloudConnectionCreate.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudConnection'
        description: The parameters to provide for the created cloud connection.
        required: true
    delete:
      tags:
      - Cloud Connections
      operationId: microsoftAzureCloudconnectionsDelete
      description: Deletes a specified cloud connection resource.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/cloudConnectionNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
          headers:
            Location:
              schema:
                type: string
        '204':
          description: Request successful. Resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Delete Cloud Connection:
          $ref: ./examples/CloudConnectionDelete.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    patch:
      tags:
      - Cloud Connections
      operationId: microsoftAzureCloudconnectionsUpdatetags
      description: Updates the specified cloud connection tags.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/cloudConnectionNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Update successful. The operation returns the resulting cloud connection resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudConnection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Update Cloud Connections tags:
          $ref: ./examples/CloudConnectionUpdateTags.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagsObject'
        description: Parameters supplied to update cloud connection tags.
        required: true
components:
  schemas:
    ResourceReference:
      type: object
      properties:
        id:
          type: string
          description: Resource ID.
      description: Resource reference properties.
    ProvisioningState:
      type: string
      readOnly: true
      description: The current provisioning state.
      enum:
      - Succeeded
      - Updating
      - Deleting
      - Failed
      - Canceled
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    CloudConnection:
      type: object
      x-ms-azure-resource: true
      description: Resource which represents the managed network connection between Azure Gateways and remote cloud gateways.
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/CloudConnectionProperties'
          description: Properties of the cloud connection.
        etag:
          type: string
          readOnly: true
          description: A unique read-only string that changes whenever the resource is updated.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
    CloudConnectionProperties:
      type: object
      properties:
        cloudConnector:
          $ref: '#/components/schemas/ResourceReference'
          description: The cloud connector which discovered the remote resource.
          x-ms-mutability:
          - create
          - read
        remoteResourceId:
          type: string
          description: Identifier for the remote cloud resource
          x-ms-mutability:
          - create
          - read
        virtualHub:
          $ref: '#/components/schemas/ResourceReference'
          description: The virtualHub to which the cloud connection belongs.
          x-ms-mutability:
          - create
          - read
        sharedKey:
          type: string
          description: Shared key of the cloud connection.
          x-ms-secret: true
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The provisioning state of the cloud collection resource.
          readOnly: true
      description: Cloud connection resource properties.
    CloudConnectionListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/CloudConnection'
          description: A list of cloud connection resources.
        nextLink:
          type: string
          description: Link to hold the next page of results
      description: Response for the ListCloudConnections API service call
    TagsObject:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
      description: Tags object for patch operations.
  parameters:
    cloudConnectionNameParameter:
      name: cloudConnectionName
      in: path
      required: true
      description: The name of the cloud connection resource
      schema:
        type: string
        pattern: ^[a-z][A-Za-z0-9]*$
    apiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      x-ms-enum:
        name: apiVersionParameter
        modelAsString: true
      x-ms-parameter-location: client
      schema:
        type: string
        enum:
        - 2023-01-01-preview
        default: 2023-01-01-preview
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
