openapi: 3.2.0
info:
  title: Microsoft Azure MariaDBManagementClient Query Texts API
  description: The Microsoft Azure management API provides create, read, update, and delete functionality for Azure MariaDB resources including servers, databases, firewall rules, VNET rules, log files and configurations with new business model.
  version: '2018-06-01'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: QueryTexts
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/queryTexts/{queryId}
  : get:
      tags:
      - QueryTexts
      operationId: microsoftAzureQuerytextsGet
      x-ms-examples:
        QueryTextsGet:
          $ref: ./examples/QueryTextsGet.json
      description: Retrieve the Query-Store query texts for the queryId.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/ServerNameParameter'
      - $ref: '#/components/parameters/QueryIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryText'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/queryTexts
  : get:
      tags:
      - QueryTexts
      operationId: microsoftAzureQuerytextsListbyserver
      x-ms-examples:
        QueryTextsListByServer:
          $ref: ./examples/QueryTextsListByServer.json
      description: Retrieve the Query-Store query texts for specified queryIds.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/ServerNameParameter'
      - name: queryIds
        in: query
        required: true
        description: The query identifiers
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryTextsResultList'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    QueryTextProperties:
      properties:
        queryId:
          type: string
          description: Query identifier unique to the server.
        queryText:
          type: string
          description: Query text.
      description: The properties of a query text.
    QueryTextsResultList:
      description: A list of query texts.
      type: object
      properties:
        value:
          description: The list of query texts.
          type: array
          items:
            $ref: '#/components/schemas/QueryText'
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    QueryText:
      properties:
        properties:
          $ref: '#/components/schemas/QueryTextProperties'
          x-ms-client-flatten: true
          description: The properties of a query text.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource
      description: Represents a Query Text.
  parameters:
    ServerNameParameter:
      name: serverName
      in: path
      required: true
      description: The name of the server.
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for the request.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The subscription ID that identifies an Azure subscription.
      schema:
        type: string
    QueryIdParameter:
      name: queryId
      in: path
      required: true
      description: The Query-Store query identifier.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
