openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft.IntegrationSpaces Infrastructure…
  version: 2023-11-14-preview
  description: The azure integration spaces resource provider.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Infrastructure Resources
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IntegrationSpaces/spaces/{spaceName}/infrastructureResources
  : get:
      operationId: microsoftAzureInfrastructureresourcesListbyspace
      tags:
      - Infrastructure Resources
      description: List InfrastructureResource resources by Space
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/Azure.Core.TopQueryParameter'
      - $ref: '#/components/parameters/Azure.Core.SkipQueryParameter'
      - $ref: '#/components/parameters/Azure.Core.MaxPageSizeQueryParameter'
      - $ref: '#/components/parameters/Azure.Core.FilterQueryParameter'
      - $ref: '#/components/parameters/Azure.Core.SelectQueryParameter'
      - $ref: '#/components/parameters/Azure.Core.ExpandQueryParameter'
      - $ref: '#/components/parameters/Azure.Core.OrderByQueryParameter'
      - name: spaceName
        in: path
        description: The name of the space
        required: true
        schema:
          type: string
          pattern: '[a-zA-Z0-9_.()-]{0,79}$'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfrastructureResourceListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        ListInfrastructureResourcesBySpace:
          $ref: ./examples/InfrastructureResources_ListBySpace.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IntegrationSpaces/spaces/{spaceName}/infrastructureResources/{infrastructureResourceName}
  : get:
      operationId: microsoftAzureInfrastructureresourcesGet
      tags:
      - Infrastructure Resources
      description: Get a InfrastructureResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: spaceName
        in: path
        description: The name of the space
        required: true
        schema:
          type: string
          pattern: '[a-zA-Z0-9_.()-]{0,79}$'
      - name: infrastructureResourceName
        in: path
        description: The name of the infrastructure resource in the space.
        required: true
        schema:
          type: string
          pattern: '[a-zA-Z0-9_.()-]{0,79}$'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfrastructureResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        GetInfrastructureResource:
          $ref: ./examples/InfrastructureResources_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      operationId: microsoftAzureInfrastructureresourcesCreateorupdate
      tags:
      - Infrastructure Resources
      description: Create a InfrastructureResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: spaceName
        in: path
        description: The name of the space
        required: true
        schema:
          type: string
          pattern: '[a-zA-Z0-9_.()-]{0,79}$'
      - name: infrastructureResourceName
        in: path
        description: The name of the infrastructure resource in the space.
        required: true
        schema:
          type: string
          pattern: '[a-zA-Z0-9_.()-]{0,79}$'
      responses:
        '200':
          description: Resource 'InfrastructureResource' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfrastructureResource'
        '201':
          description: Resource 'InfrastructureResource' create operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfrastructureResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        CreateOrUpdateInfrastructureResource:
          $ref: ./examples/InfrastructureResources_CreateOrUpdate.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InfrastructureResource'
        description: Resource create parameters.
        required: true
    patch:
      operationId: microsoftAzureInfrastructureresourcesPatch
      tags:
      - Infrastructure Resources
      description: Update a InfrastructureResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: spaceName
        in: path
        description: The name of the space
        required: true
        schema:
          type: string
          pattern: '[a-zA-Z0-9_.()-]{0,79}$'
      - name: infrastructureResourceName
        in: path
        description: The name of the infrastructure resource in the space.
        required: true
        schema:
          type: string
          pattern: '[a-zA-Z0-9_.()-]{0,79}$'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfrastructureResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        PatchInfrastructureResource:
          $ref: ./examples/InfrastructureResources_Patch.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InfrastructureResourceUpdate'
        description: The resource properties to be updated.
        required: true
    delete:
      operationId: microsoftAzureInfrastructureresourcesDelete
      tags:
      - Infrastructure Resources
      description: Delete a InfrastructureResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: spaceName
        in: path
        description: The name of the space
        required: true
        schema:
          type: string
          pattern: '[a-zA-Z0-9_.()-]{0,79}$'
      - name: infrastructureResourceName
        in: path
        description: The name of the infrastructure resource in the space.
        required: true
        schema:
          type: string
          pattern: '[a-zA-Z0-9_.()-]{0,79}$'
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource deleted successfully.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        DeleteInfrastructureResource:
          $ref: ./examples/InfrastructureResources_Delete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    InfrastructureResourceUpdate:
      type: object
      description: The type used for update operations of the InfrastructureResource.
      properties:
        properties:
          $ref: '#/components/schemas/InfrastructureResourceUpdateProperties'
          x-ms-client-flatten: true
    ProvisioningState:
      type: string
      description: The status of the current operation.
      enum:
      - Succeeded
      - Failed
      - Canceled
      - Provisioning
      - Updating
      - Deleting
      - Accepted
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: Succeeded
          value: Succeeded
          description: Resource has been created.
        - name: Failed
          value: Failed
          description: Resource creation failed.
        - name: Canceled
          value: Canceled
          description: Resource creation was canceled.
        - name: Provisioning
          value: Provisioning
        - name: Updating
          value: Updating
        - name: Deleting
          value: Deleting
        - name: Accepted
          value: Accepted
    InfrastructureResource:
      type: object
      description: An infrastructure resource under Space.
      properties:
        properties:
          $ref: '#/components/schemas/InfrastructureResourceProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
    InfrastructureResourceListResult:
      type: object
      description: The response of a InfrastructureResource list operation.
      properties:
        value:
          type: array
          description: The InfrastructureResource items on this page
          items:
            $ref: '#/components/schemas/InfrastructureResource'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    InfrastructureResourceProperties:
      type: object
      description: The properties of infrastructure resource.
      properties:
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The status of the last operation.
          readOnly: true
        resourceType:
          type: string
          description: The type of the infrastructure resource.
        resourceId:
          type: string
          description: The id of the infrastructure resource.
      required:
      - resourceType
      - resourceId
    InfrastructureResourceUpdateProperties:
      type: object
      description: The updatable properties of the InfrastructureResource.
      properties:
        resourceType:
          type: string
          description: The type of the infrastructure resource.
        resourceId:
          type: string
          description: The id of the infrastructure resource.
  parameters:
    Azure.Core.SelectQueryParameter:
      name: select
      in: query
      description: Select the specified fields to be included in the response.
      required: false
      x-ms-parameter-location: method
      style: form
      explode: true
      schema:
        type: array
        items:
          type: string
    Azure.Core.TopQueryParameter:
      name: top
      in: query
      description: The number of result items to return.
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
    Azure.Core.ExpandQueryParameter:
      name: expand
      in: query
      description: Expand the indicated resources into the response.
      required: false
      x-ms-parameter-location: method
      style: form
      explode: true
      schema:
        type: array
        items:
          type: string
    Azure.Core.OrderByQueryParameter:
      name: orderby
      in: query
      description: Expressions that specify the order of returned results.
      required: false
      x-ms-parameter-location: method
      style: form
      explode: true
      schema:
        type: array
        items:
          type: string
    Azure.Core.SkipQueryParameter:
      name: skip
      in: query
      description: The number of result items to skip.
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        default: 0
    Azure.Core.MaxPageSizeQueryParameter:
      name: maxpagesize
      in: query
      description: The maximum number of result items per page.
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
    Azure.Core.FilterQueryParameter:
      name: filter
      in: query
      description: Filter the result list using the given expression.
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
