openapi: 3.2.0
info:
  title: Microsoft Azure AzureChangeAnalysisManagementClient…
  version: 2021-04-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ResourceChanges
paths:
  /{resourceId}/providers/Microsoft.ChangeAnalysis/resourceChanges:
    post:
      tags:
      - ResourceChanges
      summary: Microsoft Azure List The Changes Of A Resource Within The Specified Time Range…
      operationId: microsoftAzureResourcechangesList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/ResourceIdParameter'
      - $ref: '#/components/parameters/StartTimeParameter'
      - $ref: '#/components/parameters/EndTimeParameter'
      - $ref: '#/components/parameters/SkipTokenParameter'
      - $ref: '#/components/parameters/ScanLatestParameter'
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeList'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ResourceChanges_List:
          $ref: ./examples/ResourceChangesList.json
      description: Needs a more full description created.
components:
  schemas:
    ChangeProperties:
      description: The properties of a change.
      type: object
      properties:
        resourceId:
          description: The resource id that the change is attached to.
          type: string
        timeStamp:
          format: date-time
          description: The time when the change is detected.
          type: string
        initiatedByList:
          description: 'The list of identities who might initiated the change.

            The identity could be user name (email address) or the object ID of the Service Principal.'
          type: array
          items:
            type: string
        changeType:
          $ref: '#/components/schemas/ChangeType'
        propertyChanges:
          description: The list of detailed changes at json property level.
          type: array
          items:
            $ref: '#/components/schemas/PropertyChange'
    ChangeList:
      description: The list of detected changes.
      type: object
      properties:
        value:
          description: The list of changes.
          type: array
          items:
            $ref: '#/components/schemas/Change'
        nextLink:
          description: The URI that can be used to request the next page of changes.
          type: string
    Change:
      description: The detected change.
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource
      properties:
        properties:
          $ref: '#/components/schemas/ChangeProperties'
    Level:
      enum:
      - Noisy
      - Normal
      - Important
      type: string
      x-ms-enum:
        name: Level
        modelAsString: true
    PropertyChange:
      description: Data of a property change.
      type: object
      properties:
        changeType:
          $ref: '#/components/schemas/ChangeType'
        changeCategory:
          description: The change category.
          enum:
          - User
          - System
          type: string
          x-ms-enum:
            name: ChangeCategory
            modelAsString: false
        jsonPath:
          description: The json path of the changed property.
          type: string
        displayName:
          description: The enhanced display name of the json path. E.g., the json path value[0].properties will be translated to something meaningful like slots["Staging"].properties.
          type: string
        level:
          $ref: '#/components/schemas/Level'
        description:
          description: The description of the changed property.
          type: string
        oldValue:
          description: The value of the property before the change.
          type: string
        newValue:
          description: The value of the property after the change.
          type: string
        isDataMasked:
          description: The boolean indicating whether the oldValue and newValue are masked. The values are masked if it contains sensitive information that the user doesn't have access to.
          type: boolean
    ChangeType:
      description: The type of the change.
      enum:
      - Add
      - Remove
      - Update
      type: string
      x-ms-enum:
        name: ChangeType
        modelAsString: true
  parameters:
    ScanLatestParameter:
      in: query
      name: $scanLatest
      description: Specifies whether to scan latest
      required: false
      x-ms-parameter-location: method
      schema:
        type: boolean
    SkipTokenParameter:
      in: query
      name: $skipToken
      description: A skip token is used to continue retrieving items after an operation returns a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.
      x-ms-parameter-location: method
      schema:
        type: string
    StartTimeParameter:
      in: query
      name: $startTime
      description: Specifies the start time of the changes request.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        format: date-time
    EndTimeParameter:
      in: query
      name: $endTime
      description: Specifies the end time of the changes request.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        format: date-time
    ResourceIdParameter:
      in: path
      name: resourceId
      description: The identifier of the resource.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
