openapi: 3.2.0
info:
  version: 2023-11-01-preview
  title: Microsoft Azure Virtualization API Client Desktop API
servers:
- url: https://management.azure.com
tags:
- name: Desktop
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/applicationGroups/{applicationGroupName}/desktops/{desktopName}
  : get:
      tags:
      - Desktop
      operationId: microsoftAzureDesktopsGet
      description: Get a desktop.
      x-ms-examples:
        Desktop_Get:
          $ref: ./examples/Desktop_Get.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ApplicationGroupNameParameter'
      - $ref: '#/components/parameters/DesktopNameParameter'
      responses:
        '200':
          description: Successfully retrieved desktop.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Desktop'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    patch:
      tags:
      - Desktop
      operationId: microsoftAzureDesktopsUpdate
      description: Update a desktop.
      x-ms-examples:
        Desktop_Update:
          $ref: ./examples/Desktop_Update.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ApplicationGroupNameParameter'
      - $ref: '#/components/parameters/DesktopNameParameter'
      responses:
        '200':
          description: Successfully updated desktop.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Desktop'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DesktopPatch'
        description: Object containing Desktop definitions.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/applicationGroups/{applicationGroupName}/desktops
  : get:
      tags:
      - Desktop
      operationId: microsoftAzureDesktopsList
      description: List desktops.
      x-ms-examples:
        Desktop_List:
          $ref: ./examples/Desktop_List.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ApplicationGroupNameParameter'
      - name: pageSize
        in: query
        required: false
        description: Number of items per page.
        schema:
          type: integer
          format: int32
      - name: isDescending
        in: query
        required: false
        description: Indicates whether the collection is descending.
        schema:
          type: boolean
      - name: initialSkip
        in: query
        required: false
        description: Initial number of items to skip.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved desktops in application group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DesktopList'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    CloudError:
      description: Cloud error object.
      type: object
      x-ms-external: true
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorProperties'
    DesktopPatchProperties:
      description: Desktop properties that can be patched.
      type: object
      properties:
        description:
          type: string
          description: Description of Desktop.
        friendlyName:
          type: string
          description: Friendly name of Desktop.
    DesktopProperties:
      description: Schema for Desktop properties.
      type: object
      properties:
        objectId:
          type: string
          description: ObjectId of Desktop. (internal use)
          readOnly: true
        description:
          type: string
          description: Description of Desktop.
        friendlyName:
          type: string
          description: Friendly name of Desktop.
        iconHash:
          readOnly: true
          type: string
          description: Hash of the icon.
        iconContent:
          readOnly: true
          type: string
          format: byte
          description: The icon a 64 bit string as a byte array.
    DesktopList:
      type: object
      title: DesktopList
      description: List of Desktop definitions.
      properties:
        value:
          type: array
          description: List of Desktop definitions.
          items:
            $ref: '#/components/schemas/Desktop'
        nextLink:
          type: string
          readOnly: true
          description: Link to the next page of results.
    DesktopPatch:
      type: object
      description: Desktop properties that can be patched.
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: tags to be updated
        properties:
          description: Detailed properties for Desktop
          x-ms-client-flatten: true
          $ref: '#/components/schemas/DesktopPatchProperties'
    Desktop:
      description: Schema for Desktop properties.
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/Resource
      properties:
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: Metadata pertaining to creation and last modification of the resource.
        properties:
          description: Detailed properties for Desktop
          x-ms-client-flatten: true
          $ref: '#/components/schemas/DesktopProperties'
    CloudErrorProperties:
      description: Cloud error object properties.
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
  parameters:
    DesktopNameParameter:
      name: desktopName
      in: path
      required: true
      description: The name of the desktop within the specified desktop group
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 24
        minLength: 3
    ApplicationGroupNameParameter:
      name: applicationGroupName
      in: path
      required: true
      description: The name of the application group
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 3
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
