openapi: 3.2.0
info:
  version: 2022-10-11-preview
  title: Microsoft Azure DeveloperHubServiceClient Git Hub O Auth API
  description: The AKS Developer Hub Service Client
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: GitHubOAuth
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.DevHub/locations/{location}/githuboauth/default/getGitHubOAuthInfo:
    post:
      tags:
      - GitHubOAuth
      operationId: microsoftAzureGithuboauth
      summary: Microsoft Azure Gets Githuboauth Info Used To Authenticate Users With The…
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitHubOAuthInfoResponse'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        GitHub OAuth:
          $ref: ./examples/GitHubOAuth.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GitHubOAuthCallRequest'
  /subscriptions/{subscriptionId}/providers/Microsoft.DevHub/locations/{location}/githuboauth/default:
    get:
      tags:
      - GitHubOAuth
      operationId: microsoftAzureGithuboauthcallback
      summary: Microsoft Azure Callback Url To Hit Once Authenticated With Github App To Have…
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter
      - $ref: '#/components/parameters/GitHubOAuthCodeParameter'
      - $ref: '#/components/parameters/GitHubOAuthStateParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitHubOAuthResponse'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        GitHub OAuth Callback:
          $ref: ./examples/GitHubOAuthCallback.json
      description: Needs a more full description created.
  /subscriptions/{subscriptionId}/providers/Microsoft.DevHub/locations/{location}/githuboauth:
    get:
      tags:
      - GitHubOAuth
      operationId: microsoftAzureListgithuboauth
      summary: Microsoft Azure Callback Url To Hit Once Authenticated With Github App To Have…
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitHubOAuthListResponse'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        List GitHub OAuth:
          $ref: ./examples/GitHubOAuth_List.json
      description: Needs a more full description created.
components:
  schemas:
    GitHubOAuthInfoResponse:
      type: object
      description: URL used to authorize the Developer Hub GitHub App
      properties:
        authURL:
          type: string
          description: URL for authorizing the Developer Hub GitHub App
        token:
          type: string
          description: OAuth token used to make calls to GitHub
    GitHubOAuthResponse:
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
      properties:
        properties:
          description: Properties of a workflow.
          $ref: '#/components/schemas/GitHubOAuthProperties'
          x-ms-client-flatten: true
      description: 'Singleton response of GitHubOAuth containing '
    GitHubOAuthProperties:
      type: object
      properties:
        username:
          type: string
          description: user making request
      description: The response from List GitHubOAuth operation.
    GitHubOAuthCallRequest:
      type: object
      properties:
        redirectUrl:
          type: string
          description: The URL the client will redirect to on successful authentication. If empty, no redirect will occur.
      description: GitHubOAuth request object
    GitHubOAuthListResponse:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/GitHubOAuthResponse'
          description: Singleton list response containing one GitHubOAuthResponse response
      description: The response from List GitHubOAuth operation.
  parameters:
    GitHubOAuthStateParameter:
      name: state
      in: query
      required: true
      description: The state response from authenticating the GitHub App.
      x-ms-parameter-location: method
      schema:
        type: string
    GitHubOAuthCodeParameter:
      name: code
      in: query
      required: true
      description: The code response from authenticating the GitHub App.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
