openapi: 3.2.0
info:
  version: 2023-07-01-preview
  title: Microsoft Azure ProfessionalService Professional Service…
  description: REST APIs for Marketplace Professional Service Offers
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ProfessionalServiceResources
paths:
  /providers/Microsoft.ProfessionalService/operations:
    get:
      tags:
      - ProfessionalServiceResources
      operationId: microsoftAzureOperationsList
      description: Gets all ProfessionalService app operations.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfessionalServiceAppOperationsResponseWithContinuation'
        default:
          description: A response indicating an error.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Get ProfessionalService operations:
          $ref: ./examples/Operation/GetRpOperations.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Professionalservice Operations
components:
  schemas:
    ProfessionalServiceAppOperationsResponseWithContinuation:
      description: professionalService app operation response with continuation.
      type: object
      properties:
        nextLink:
          description: the next link to query to get the remaining results.
          type: string
        value:
          description: the value of response.
          type: array
          x-ms-identifiers: []
          items:
            $ref: '#/components/schemas/ProfessionalServiceAppOperation'
    ProfessionalServiceAppOperationDisplay:
      description: ProfessionalService app operation display
      type: object
      properties:
        provider:
          description: Name of the provider for display purposes
          type: string
        resource:
          description: Name of the resource type for display purposes
          type: string
        operation:
          description: Name of the operation for display purposes
          type: string
        description:
          description: Description of the operation for display purposes
          type: string
    ProfessionalServiceAppOperation:
      description: professionalService app operations
      type: object
      properties:
        name:
          description: the operation name
          type: string
        display:
          description: the operation display
          $ref: '#/components/schemas/ProfessionalServiceAppOperationDisplay'
        origin:
          description: the operation origin
          type: string
        isDataAction:
          description: whether the operation is a data action or not.
          type: boolean
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      x-ms-parameter-location: client
      description: The API version to be used with the HTTP request.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
