openapi: 3.2.0
info:
  version: 2023-11-01-preview
  title: Microsoft Azure Desktop Virtualization API Client Msix…
servers:
- url: https://management.azure.com
tags:
- name: MsixImage
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/expandMsixImage
  : post:
      tags:
      - MsixImage
      operationId: microsoftAzureMsiximagesExpand
      description: Expands and Lists MSIX packages in an Image, given the Image Path.
      x-ms-examples:
        MsixImage_Expand:
          $ref: ./examples/MsixImage_Expand_Post.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/HostPoolNameParameter'
      responses:
        '200':
          description: Successfully retrieved MSIX packages in specified Image Path.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpandMsixImageList'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MSIXImageURI'
        description: Object containing URI to MSIX Image
        required: true
components:
  schemas:
    MSIXImageURI:
      description: Represents URI referring to MSIX Image
      type: object
      properties:
        uri:
          type: string
          description: URI to Image
    CloudError:
      description: Cloud error object.
      type: object
      x-ms-external: true
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorProperties'
    MsixPackageApplications:
      description: Schema for MSIX Package Application properties.
      type: object
      properties:
        appId:
          type: string
          description: Package Application Id, found in appxmanifest.xml.
        description:
          type: string
          description: Description of Package Application.
        appUserModelID:
          type: string
          description: Used to activate Package Application. Consists of Package Name and ApplicationID. Found in appxmanifest.xml.
        friendlyName:
          type: string
          description: User friendly name.
        iconImageName:
          type: string
          description: User friendly name.
        rawIcon:
          type: string
          format: byte
          description: the icon a 64 bit string as a byte array.
        rawPng:
          type: string
          format: byte
          description: the icon a 64 bit string as a byte array.
    ExpandMsixImageProperties:
      description: Schema for Expand MSIX Image properties.
      type: object
      properties:
        packageAlias:
          type: string
          description: Alias of MSIX Package.
        imagePath:
          type: string
          description: VHD/CIM image path on Network Share.
        packageName:
          type: string
          description: 'Package Name from appxmanifest.xml. '
        packageFamilyName:
          type: string
          description: 'Package Family Name from appxmanifest.xml. Contains Package Name and Publisher name. '
        packageFullName:
          type: string
          description: 'Package Full Name from appxmanifest.xml. '
        displayName:
          type:
          - string
          - 'null'
          description: 'User friendly Name to be displayed in the portal. '
        packageRelativePath:
          type: string
          description: 'Relative Path to the package inside the image. '
        isRegularRegistration:
          type: boolean
          description: Specifies how to register Package in feed.
        isActive:
          type: boolean
          description: 'Make this version of the package the active one across the hostpool. '
        packageDependencies:
          type:
          - array
          - 'null'
          description: 'List of package dependencies. '
          items:
            $ref: '#/components/schemas/MsixPackageDependencies'
        version:
          type: string
          description: 'Package Version found in the appxmanifest.xml. '
        lastUpdated:
          format: date-time
          type: string
          description: 'Date Package was last updated, found in the appxmanifest.xml. '
        packageApplications:
          type: array
          description: 'List of package applications. '
          items:
            $ref: '#/components/schemas/MsixPackageApplications'
        certificateName:
          type:
          - string
          - 'null'
          description: 'Certificate name found in the appxmanifest.xml. '
        certificateExpiry:
          format: date-time
          type:
          - string
          - 'null'
          description: 'Date certificate expires, found in the appxmanifest.xml. '
    ExpandMsixImage:
      type: object
      description: 'Represents the definition of contents retrieved after expanding the MSIX Image. '
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/Resource
      properties:
        properties:
          description: Detailed properties for ExpandMsixImage
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ExpandMsixImageProperties'
    ExpandMsixImageList:
      type: object
      title: ExpandMsixImageList
      description: List of MSIX package properties retrieved from MSIX Image expansion.
      properties:
        value:
          type: array
          description: List of MSIX package properties from give MSIX Image.
          items:
            $ref: '#/components/schemas/ExpandMsixImage'
        nextLink:
          type: string
          readOnly: true
          description: Link to the next page of results.
    CloudErrorProperties:
      description: Cloud error object properties.
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
    MsixPackageDependencies:
      description: Schema for MSIX Package Dependencies properties.
      type: object
      properties:
        dependencyName:
          type: string
          description: Name of package dependency.
        publisher:
          type: string
          description: Name of dependency publisher.
        minVersion:
          type: string
          description: Dependency version required.
  parameters:
    HostPoolNameParameter:
      name: hostPoolName
      in: path
      required: true
      description: The name of the host pool within the specified resource group
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 3
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
