openapi: 3.2.0
info:
  version: 2022-11-01-preview
  title: Microsoft Azure SnapshotsClient Get Snapshot API
  description: The Resource Snapshots Client
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: GetSnapshot
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}/providers/Microsoft.Resources/snapshots/{snapshotId}
  : get:
      tags:
      - GetSnapshot
      operationId: microsoftAzureSnapshotsGet
      x-ms-examples:
        GetSnapshot:
          $ref: ./examples/GetSnapshot.json
      description: Obtains the specified snapshot for the target resource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceProviderNamespaceParameter'
      - $ref: '#/components/parameters/ResourceTypeParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/snapshotIdParameter'
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Snapshot'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  parameters:
    ResourceProviderNamespaceParameter:
      name: resourceProviderNamespace
      in: path
      required: true
      description: The name of the resource provider namespace.
      x-ms-parameter-location: method
      schema:
        type: string
    snapshotIdParameter:
      name: snapshotId
      in: path
      required: true
      description: The ID of the snapshot
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceNameParameter:
      name: resourceName
      in: path
      required: true
      description: The name of the resource.
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceTypeParameter:
      name: resourceType
      in: path
      required: true
      description: The name of the resource type.
      x-ms-parameter-location: method
      schema:
        type: string
  schemas:
    SnapshotProperties:
      description: The properties of a snapshot
      type: object
      properties:
        apiVersion:
          type: string
          description: The API Version of the resource captured
        content:
          description: The actual ARM Resource
          additionalProperties: {}
          type: object
    Snapshot:
      type: object
      description: A generic resource snapshot with additional metadata
      allOf:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource
      properties:
        properties:
          $ref: '#/components/schemas/SnapshotProperties'
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
