openapi: 3.2.0
info:
  title: Microsoft Azure Single Sign On API
  version: '1.0'
  description: 'Operations tagged SingleSignOn across 3 of this provider''s published API definitions: dynatraceobservability-openapi-original.yml, microsoftdatadog-openapi-original.yml, microsoftlogz-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
tags:
- name: Single Sign On
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Dynatrace.Observability/monitors/{monitorName}/singleSignOnConfigurations/{configurationName}
  : put:
      operationId: microsoftAzureSinglesignonCreateorupdate
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      summary: Microsoft Azure Create A Dynatracesinglesignonresource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      - $ref: '#/components/parameters/ConfigurationNameParameter'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DynatraceSingleSignOnResource'
        '201':
          description: ARM create operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DynatraceSingleSignOnResource'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      tags:
      - Single Sign On
      x-ms-examples:
        SingleSignOn_CreateOrUpdate_MaximumSet_Gen:
          $ref: ./examples/SingleSignOn_CreateOrUpdate_MaximumSet_Gen.json
        SingleSignOn_CreateOrUpdate_MinimumSet_Gen:
          $ref: ./examples/SingleSignOn_CreateOrUpdate_MinimumSet_Gen.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DynatraceSingleSignOnResource'
        description: Resource create parameters.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    get:
      operationId: microsoftAzureSinglesignonGet
      summary: Microsoft Azure Get A Dynatracesinglesignonresource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      - $ref: '#/components/parameters/ConfigurationNameParameter'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DynatraceSingleSignOnResource'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      tags:
      - Single Sign On
      x-ms-examples:
        SingleSignOn_Get_MaximumSet_Gen:
          $ref: ./examples/SingleSignOn_Get_MaximumSet_Gen.json
        SingleSignOn_Get_MinimumSet_Gen:
          $ref: ./examples/SingleSignOn_Get_MinimumSet_Gen.json
      description: Needs a more full description created.
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Dynatrace.Observability/monitors/{monitorName}/singleSignOnConfigurations
  : get:
      operationId: microsoftAzureSinglesignonList
      summary: Microsoft Azure List All Dynatracesinglesignonresource By Monitorname
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DynatraceSingleSignOnResourceListResult'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      tags:
      - Single Sign On
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        SingleSignOn_List_MaximumSet_Gen:
          $ref: ./examples/SingleSignOn_List_MaximumSet_Gen.json
        SingleSignOn_List_MinimumSet_Gen:
          $ref: ./examples/SingleSignOn_List_MinimumSet_Gen.json
      description: Needs a more full description created.
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Datadog/monitors/{monitorName}/singleSignOnConfigurations
  : get:
      tags:
      - Single Sign On
      summary: Microsoft Azure List The Single Sign On Configurations For A Given Monitor…
      operationId: microsoftAzureSinglesignonconfigurationsList
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/MonitorNameParameter'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatadogSingleSignOnResourceListResponse'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        SingleSignOnConfigurations_List:
          $ref: ./examples/SingleSignOnConfigurations_List.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Datadog/monitors/{monitorName}/singleSignOnConfigurations/{configurationName}
  : put:
      tags:
      - Single Sign On
      summary: Microsoft Azure Configures Single Sign On For This Resource
      operationId: microsoftAzureSinglesignonconfigurationsCreateorupdate
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/MonitorNameParameter'
      - description: Configuration name
        in: path
        name: configurationName
        required: true
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatadogSingleSignOnResource'
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatadogSingleSignOnResource'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        SingleSignOnConfigurations_CreateOrUpdate:
          $ref: ./examples/SingleSignOnConfigurations_CreateOrUpdate.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatadogSingleSignOnResource'
    get:
      tags:
      - Single Sign On
      summary: Microsoft Azure Gets The Datadog Single Sign On Resource For The Given Monitor
      operationId: microsoftAzureSinglesignonconfigurationsGet
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/MonitorNameParameter'
      - description: Configuration name
        in: path
        name: configurationName
        required: true
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatadogSingleSignOnResource'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-examples:
        SingleSignOnConfigurations_Get:
          $ref: ./examples/SingleSignOnConfigurations_Get.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logz/monitors/{monitorName}/singleSignOnConfigurations
  : get:
      tags:
      - Single Sign On
      summary: Microsoft Azure List The Single Sign On Configurations For A Given Monitor…
      operationId: microsoftAzureSinglesignonList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogzSingleSignOnResourceListResponse'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        SingleSignOnConfigurations_List:
          $ref: ./examples/SingleSignOnConfigurations_List.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logz/monitors/{monitorName}/singleSignOnConfigurations/{configurationName}
  : put:
      tags:
      - Single Sign On
      summary: Microsoft Azure Configures Single Sign On For This Resource This Operation Can…
      operationId: microsoftAzureSinglesignonCreateorupdate
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      - in: path
        name: configurationName
        required: true
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogzSingleSignOnResource'
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogzSingleSignOnResource'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        SingleSignOnConfigurations_CreateOrUpdate:
          $ref: ./examples/SingleSignOnConfigurations_CreateOrUpdate.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogzSingleSignOnResource'
    get:
      tags:
      - Single Sign On
      summary: Microsoft Azure Gets The Logz Single Sign On Resource For The Given Monitor
      operationId: microsoftAzureSinglesignonGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      - in: path
        name: configurationName
        required: true
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogzSingleSignOnResource'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        SingleSignOnConfigurations_Get:
          $ref: ./examples/SingleSignOnConfigurations_Get.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
components:
  schemas:
    DynatraceSingleSignOnResourceListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/DynatraceSingleSignOnResource'
          x-cadl-name: Dynatrace.Observability.DynatraceSingleSignOnResource[]
          description: The items on this page
        nextLink:
          type: string
          description: The link to the next page of items
      description: The response of a DynatraceSingleSignOnResource list operation.
    ProvisioningState:
      type: string
      description: Provisioning state of the monitoring resource
      enum:
      - Accepted
      - Creating
      - Updating
      - Deleting
      - Succeeded
      - Failed
      - Canceled
      - Deleted
      - NotSpecified
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    SingleSignOnStates:
      type: string
      description: Various states of the SSO resource
      enum:
      - Initial
      - Enable
      - Disable
      - Existing
      x-ms-enum:
        name: SingleSignOnStates
        modelAsString: true
    DynatraceSingleSignOnResource:
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/DynatraceSingleSignOnProperties'
          description: The resource-specific properties for this resource.
          x-ms-mutability:
          - read
          - create
          x-ms-client-flatten: true
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: System metadata for this resource.
          readOnly: true
      description: Single sign-on configurations for a given monitor resource.
      required:
      - properties
      allOf:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource
    DynatraceSingleSignOnProperties:
      type: object
      properties:
        singleSignOnState:
          $ref: '#/components/schemas/SingleSignOnStates'
          description: State of Single Sign On
        enterpriseAppId:
          type: string
          description: Version of the Dynatrace agent installed on the VM.
        singleSignOnUrl:
          type: string
          description: The login URL specific to this Dynatrace Environment
        aadDomains:
          type: array
          items:
            type: string
          x-cadl-name: string[]
          description: array of Aad(azure active directory) domains
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: Provisioning state of the resource.
          readOnly: true
      description: The details of a Dynatrace single sign-on.
    ResourceProviderDefaultErrorResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorResponseBody'
    DatadogSingleSignOnResourceListResponse:
      description: Response of a list operation.
      type: object
      properties:
        value:
          description: Results of a list operation.
          type: array
          items:
            $ref: '#/components/schemas/DatadogSingleSignOnResource'
        nextLink:
          description: Link to the next set of results, if any.
          type: string
    ProvisioningState_2:
      enum:
      - Accepted
      - Creating
      - Updating
      - Deleting
      - Succeeded
      - Failed
      - Canceled
      - Deleted
      - NotSpecified
      type: string
      x-ms-enum:
        modelAsString: true
        name: ProvisioningState
      readOnly: true
    ErrorResponseBody:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseBody'
    DatadogSingleSignOnProperties:
      type: object
      properties:
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState_2'
        singleSignOnState:
          $ref: '#/components/schemas/SingleSignOnStates'
        enterpriseAppId:
          description: The Id of the Enterprise App used for Single sign-on.
          type: string
        singleSignOnUrl:
          description: The login URL specific to this Datadog Organization.
          type: string
          readOnly: true
    DatadogSingleSignOnResource:
      type: object
      x-ms-azure-resource: true
      properties:
        id:
          description: ARM id of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the configuration.
          type: string
          readOnly: true
        type:
          description: The type of the resource.
          type: string
          readOnly: true
        properties:
          $ref: '#/components/schemas/DatadogSingleSignOnProperties'
    LogzSingleSignOnProperties:
      type: object
      properties:
        singleSignOnState:
          $ref: '#/components/schemas/SingleSignOnStates'
        enterpriseAppId:
          description: The Id of the Enterprise App used for Single sign-on.
          type: string
        singleSignOnUrl:
          description: The login URL specific to this Logz Organization.
          type: string
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState_3'
    LogzSingleSignOnResourceListResponse:
      description: Response of a list operation.
      type: object
      properties:
        value:
          description: Results of a list operation.
          type: array
          items:
            $ref: '#/components/schemas/LogzSingleSignOnResource'
        nextLink:
          description: Link to the next set of results, if any.
          type: string
    ProvisioningState_3:
      enum:
      - Accepted
      - Creating
      - Updating
      - Deleting
      - Succeeded
      - Failed
      - Canceled
      - Deleted
      - NotSpecified
      description: Flag specifying if the resource provisioning state as tracked by ARM.
      type: string
      x-ms-enum:
        modelAsString: true
        name: ProvisioningState
      readOnly: true
    LogzSingleSignOnResource:
      type: object
      x-ms-azure-resource: true
      properties:
        id:
          description: ARM id of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the configuration.
          type: string
          readOnly: true
        type:
          description: The type of the resource.
          type: string
          readOnly: true
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
        properties:
          $ref: '#/components/schemas/LogzSingleSignOnProperties'
  parameters:
    MonitorNameParameter:
      x-ms-parameter-location: method
      name: monitorName
      in: path
      required: true
      description: Monitor resource name
      schema:
        type: string
    ConfigurationNameParameter:
      x-ms-parameter-location: method
      name: configurationName
      in: path
      required: true
      description: Single Sign On Configuration Name
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group to which the Datadog resource belongs.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The Microsoft Azure subscription ID.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-refined-from:
- dynatraceobservability-openapi-original.yml
- microsoftdatadog-openapi-original.yml
- microsoftlogz-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
