openapi: 3.2.0
info:
  title: Microsoft Azure SecurityAdminConfiguration Admin Rules API
  version: 2022-02-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: AdminRules
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityAdminConfigurations/{configurationName}/ruleCollections/{ruleCollectionName}/rules
  : parameters:
    - $ref: ./network.json#/parameters/ApiVersionParameter
    - $ref: ./network.json#/parameters/SubscriptionIdParameter
    - $ref: '#/components/parameters/ResourceGroupNameParameter'
    - $ref: '#/components/parameters/NetworkManagerNameParameter'
    - $ref: '#/components/parameters/SecurityConfigurationParameter'
    - $ref: '#/components/parameters/RuleCollectionParameter'
    - $ref: '#/components/parameters/ListTopParameter'
    - $ref: '#/components/parameters/ListSkipTokenParameter'
    get:
      tags:
      - AdminRules
      description: List all network manager security configuration admin rules.
      operationId: microsoftAzureAdminrulesList
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminRuleListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        List security admin rules:
          $ref: ./examples/NetworkManagerAdminRuleList.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityAdminConfigurations/{configurationName}/ruleCollections/{ruleCollectionName}/rules/{ruleName}
  : parameters:
    - $ref: ./network.json#/parameters/ApiVersionParameter
    - $ref: ./network.json#/parameters/SubscriptionIdParameter
    - $ref: '#/components/parameters/ResourceGroupNameParameter'
    - $ref: '#/components/parameters/NetworkManagerNameParameter'
    - $ref: '#/components/parameters/SecurityConfigurationParameter'
    - $ref: '#/components/parameters/RuleCollectionParameter'
    - $ref: '#/components/parameters/SecurityConfigurationsRuleParameter'
    get:
      tags:
      - AdminRules
      description: Gets a network manager security configuration admin rule.
      operationId: microsoftAzureAdminrulesGet
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseAdminRule'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        Gets security admin rule:
          $ref: ./examples/NetworkManagerAdminRuleGet.json
        Gets security default admin rule:
          $ref: ./examples/NetworkManagerDefaultAdminRuleGet.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - AdminRules
      description: Creates or updates an admin rule.
      operationId: microsoftAzureAdminrulesCreateorupdate
      responses:
        '200':
          description: Updated rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseAdminRule'
        '201':
          description: Created rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseAdminRule'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        Create an admin rule:
          $ref: ./examples/NetworkManagerAdminRulePut.json
        Create a default admin rule:
          $ref: ./examples/NetworkManagerDefaultAdminRulePut.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseAdminRule'
        description: The admin rule to create or update
        required: true
    delete:
      tags:
      - AdminRules
      description: Deletes an admin rule.
      operationId: microsoftAzureAdminrulesDelete
      parameters:
      - $ref: '#/components/parameters/ForceDeleteParameter'
      responses:
        '200':
          description: OK
        '204':
          description: Request successful. Resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        Deletes an admin rule:
          $ref: ./examples/NetworkManagerAdminRuleDelete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  parameters:
    RuleCollectionParameter:
      name: ruleCollectionName
      in: path
      description: The name of the network manager security Configuration rule collection.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ListTopParameter:
      name: $top
      description: An optional query parameter which specifies the maximum number of records to be returned by the server.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        maximum: 20
        minimum: 1
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
    ForceDeleteParameter:
      name: force
      in: query
      required: false
      description: Deletes the resource even if it is part of a deployed configuration. If the configuration has been deployed, the service will do a cleanup deployment in the background, prior to the delete.
      x-ms-parameter-location: method
      schema:
        type: boolean
    ListSkipTokenParameter:
      name: $skipToken
      description: SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    SecurityConfigurationParameter:
      name: configurationName
      in: path
      description: The name of the network manager Security Configuration.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    NetworkManagerNameParameter:
      name: networkManagerName
      in: path
      required: true
      description: The name of the network manager.
      x-ms-parameter-location: method
      schema:
        type: string
    SecurityConfigurationsRuleParameter:
      name: ruleName
      in: path
      description: The name of the rule.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  schemas:
    BaseAdminRule:
      type: object
      properties:
        kind:
          type: string
          description: Whether the rule is custom or default.
          enum:
          - Custom
          - Default
          x-ms-enum:
            name: AdminRuleKind
            modelAsString: true
        systemData:
          readOnly: true
          description: The system metadata related to this resource.
          $ref: ./network.json#/definitions/SystemData
      allOf:
      - $ref: ./network.json#/definitions/ProxyResource
      required:
      - kind
      discriminator:
        propertyName: kind
      description: Network base admin rule.
    AdminRuleListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/BaseAdminRule'
          description: A list of admin rules
        nextLink:
          type: string
          description: The URL to get the next set of results.
      description: security configuration admin rule list result.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
