openapi: 3.2.0
info:
  version: 2019-09-01-preview
  title: Microsoft Azure PeeringManagementClient Peer Asns API
  description: APIs to manage Peering resources through the Azure Resource Manager.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: PeerAsns
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Peering/peerAsns/{peerAsnName}:
    get:
      tags:
      - PeerAsns
      description: Gets the peer ASN with the specified name under the given subscription.
      operationId: microsoftAzurePeerasnsGet
      parameters:
      - name: peerAsnName
        in: path
        description: The peer ASN name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeerAsn'
        default:
          description: Error response describing why the operation has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Get a peer ASN:
          $ref: ./examples/GetPeerAsn.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Peering…
    put:
      tags:
      - PeerAsns
      description: Creates a new peer ASN or updates an existing peer ASN with the specified name under the given subscription.
      operationId: microsoftAzurePeerasnsCreateorupdate
      parameters:
      - name: peerAsnName
        in: path
        description: The peer ASN name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeerAsn'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeerAsn'
        default:
          description: Error response describing why the operation has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Create a peer ASN:
          $ref: ./examples/CreatePeerAsn.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Providers Microsoft Peering…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PeerAsn'
        description: The peer ASN.
        required: true
    delete:
      tags:
      - PeerAsns
      description: Deletes an existing peer ASN with the specified name under the given subscription.
      operationId: microsoftAzurePeerasnsDelete
      parameters:
      - name: peerAsnName
        in: path
        description: The peer ASN name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Error response describing why the operation has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Delete a peer ASN:
          $ref: ./examples/DeletePeerAsn.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Providers Microsoft Peering…
  /subscriptions/{subscriptionId}/providers/Microsoft.Peering/peerAsns:
    get:
      tags:
      - PeerAsns
      description: Lists all of the peer ASNs under the given subscription.
      operationId: microsoftAzurePeerasnsListbysubscription
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeerAsnListResult'
        default:
          description: Error response describing why the operation has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        List peer ASNs in a subscription:
          $ref: ./examples/ListPeerAsnsBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Peering…
components:
  schemas:
    PeerAsnListResult:
      description: The paginated list of peer ASNs.
      type: object
      properties:
        value:
          description: The list of peer ASNs.
          type: array
          items:
            $ref: '#/components/schemas/PeerAsn'
        nextLink:
          description: The link to fetch the next page of peer ASNs.
          type: string
    ContactInfo:
      description: The contact information of the peer.
      type: object
      properties:
        emails:
          description: The list of email addresses.
          type: array
          items:
            type: string
        phone:
          description: The list of contact numbers.
          type: array
          items:
            type: string
    PeerAsn:
      description: The essential information related to the peer's ASN.
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/PeerAsnProperties'
          description: The properties that define a peer's ASN.
          x-ms-client-flatten: true
    Resource:
      description: The ARM resource class.
      type: object
      properties:
        name:
          description: The name of the resource.
          type: string
          readOnly: true
        id:
          description: The ID of the resource.
          type: string
          readOnly: true
        type:
          description: The type of the resource.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    ErrorResponse:
      description: The error response that indicates why an operation has failed.
      type: object
      properties:
        code:
          description: The error code.
          type: string
          readOnly: true
        message:
          description: The error message.
          type: string
          readOnly: true
    PeerAsnProperties:
      description: The properties that define a peer's ASN.
      type: object
      properties:
        peerAsn:
          format: int32
          description: The Autonomous System Number (ASN) of the peer.
          type: integer
        peerContactInfo:
          $ref: '#/components/schemas/ContactInfo'
          description: The contact information of the peer.
        peerName:
          description: The name of the peer.
          type: string
        validationState:
          description: The validation state of the ASN associated with the peer.
          enum:
          - None
          - Pending
          - Approved
          - Failed
          type: string
          x-ms-enum:
            name: validationState
            modelAsString: true
        errorMessage:
          description: The error message for the validation state
          type: string
          readOnly: true
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: The client API version.
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The Azure subscription ID.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
