openapi: 3.2.0
info:
  version: 2021-04-01-preview
  title: Microsoft Azure SynapseManagementClient Restorable Dropped…
  description: Azure Synapse Analytics APIs
servers:
- url: https://management.azure.com
tags:
- name: RestorableDroppedSqlPools
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/restorableDroppedSqlPools/{restorableDroppedSqlPoolId}
  : get:
      tags:
      - RestorableDroppedSqlPools
      operationId: microsoftAzureRestorabledroppedsqlpoolsGet
      description: Gets a deleted sql pool that can be restored
      x-ms-examples:
        Get a restorable dropped Sql pool:
          $ref: ./examples/RestorableDroppedSqlPoolGet.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/workspaceNameParameter'
      - name: restorableDroppedSqlPoolId
        in: path
        required: true
        description: The id of the deleted Sql Pool in the form of sqlPoolName,deletionTimeInFileTimeFormat
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestorableDroppedSqlPool'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/restorableDroppedSqlPools
  : get:
      tags:
      - RestorableDroppedSqlPools
      operationId: microsoftAzureRestorabledroppedsqlpoolsListbyworkspace
      description: Gets a list of deleted Sql pools that can be restored
      x-ms-examples:
        Get list of restorable dropped Sql pools:
          $ref: ./examples/RestorableDroppedSqlpoolList.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/workspaceNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestorableDroppedSqlPoolListResult'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    RestorableDroppedSqlPoolProperties:
      properties:
        databaseName:
          readOnly: true
          type: string
          description: The name of the database
        edition:
          readOnly: true
          type: string
          description: The edition of the database
        maxSizeBytes:
          readOnly: true
          type: string
          description: The max size in bytes of the database
        serviceLevelObjective:
          readOnly: true
          type: string
          description: The service level objective name of the database
        elasticPoolName:
          readOnly: true
          type: string
          description: The elastic pool name of the database
        creationDate:
          readOnly: true
          type: string
          format: date-time
          description: The creation date of the database (ISO8601 format)
        deletionDate:
          readOnly: true
          type: string
          format: date-time
          description: The deletion date of the database (ISO8601 format)
        earliestRestoreDate:
          readOnly: true
          type: string
          format: date-time
          description: The earliest restore date of the database (ISO8601 format)
      description: The properties of a restorable dropped Sql pool
    RestorableDroppedSqlPoolListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/RestorableDroppedSqlPool'
          description: A list of restorable dropped Sql pools
      required:
      - value
      description: The response to a list restorable dropped Sql pools request
    RestorableDroppedSqlPool:
      properties:
        location:
          type: string
          readOnly: true
          description: The geo-location where the resource lives
        properties:
          $ref: '#/components/schemas/RestorableDroppedSqlPoolProperties'
          description: The properties of a restorable dropped Sql pool
          x-ms-client-flatten: true
      allOf:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource
      description: A restorable dropped Sql pool
  parameters:
    workspaceNameParameter:
      name: workspaceName
      in: path
      required: true
      description: The name of the workspace
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
