openapi: 3.2.0
info:
  description: A Storage Cache provides scalable caching service for NAS clients, serving data from either NFSv3 or Blob at-rest storage (referred to as "Storage Targets"). These operations allow you to manage Caches.
  title: Microsoft Azure Storage Cache Mgmt Client Usage Models API
  version: 2023-03-01-preview
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
tags:
- name: UsageModels
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.StorageCache/usageModels:
    get:
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: A list of UsageModel descriptors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageModelsResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        UsageModels_List:
          $ref: ./examples/UsageModels_List.json
      tags:
      - UsageModels
      description: Get the list of cache usage models available to this subscription.
      operationId: microsoftAzureUsagemodelsList
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
components:
  schemas:
    CloudError:
      x-ms-external: true
      description: An error response.
      properties:
        error:
          description: The body of the error.
          $ref: '#/components/schemas/CloudErrorBody'
      type: object
    CloudErrorBody:
      description: An error response.
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
          type: string
        details:
          description: A list of additional details about the error.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          type: array
          x-ms-identifiers: []
        message:
          description: A message describing the error, intended to be suitable for display in a user interface.
          type: string
        target:
          description: The target of the particular error. For example, the name of the property in error.
          type: string
      type: object
    UsageModel:
      description: A usage model.
      properties:
        display:
          description: Localized information describing this usage model.
          type: object
          properties:
            description:
              description: String to display for this usage model.
              type: string
        modelName:
          description: Non-localized keyword name for this usage model.
          type: string
        targetType:
          description: The type of Storage Target to which this model is applicable (only nfs3 as of this version).
          type: string
      type: object
    UsageModelsResult:
      description: A list of cache usage models.
      properties:
        nextLink:
          description: The URI to fetch the next page of cache usage models.
          type: string
        value:
          description: The list of usage models available for the subscription.
          items:
            $ref: '#/components/schemas/UsageModel'
          type: array
          x-ms-identifiers:
          - modelName
      type: object
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
