openapi: 3.2.0
info:
  title: Microsoft Azure Azure Bot Service List Qn A Maker Endpoint…
  description: Azure Bot Service is a platform for creating smart conversational agents.
  version: 2023-09-15-preview
servers:
- url: https://management.azure.com
tags:
- name: ListQnAMakerEndpointKeys
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.BotService/listQnAMakerEndpointKeys:
    post:
      tags:
      - ListQnAMakerEndpointKeys
      description: Lists the QnA Maker endpoint keys
      operationId: microsoftAzureQnamakerendpointkeysGet
      x-ms-examples:
        List QnAMaker Endpoint Keys:
          $ref: ./examples/ListQnAMakerEndpointKeys.json
      parameters:
      - $ref: '#/components/parameters/apiVersionParameter'
      - $ref: '#/components/parameters/subscriptionIdParameter'
      responses:
        '200':
          description: If resource is retrieved successfully, the service should return 200 (OK).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QnAMakerEndpointKeysResponse'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QnAMakerEndpointKeysRequestBody'
        description: The request body parameters to provide for the check name availability request
        required: true
components:
  schemas:
    QnAMakerEndpointKeysResponse:
      type: object
      description: Schema for EndpointKeys generate/refresh operations.
      properties:
        primaryEndpointKey:
          type: string
          description: Primary Access Key.
        secondaryEndpointKey:
          type: string
          description: Secondary Access Key.
        installedVersion:
          type: string
          description: Current version of runtime.
        lastStableVersion:
          type: string
          description: Latest version of runtime.
    Error:
      properties:
        error:
          $ref: '#/components/schemas/ErrorBody'
          description: The error body.
      description: Bot Service error object.
    QnAMakerEndpointKeysRequestBody:
      description: The request body for a request to Bot Service Management to list QnA Maker endpoint keys.
      type: object
      properties:
        hostname:
          description: the host name of the QnA Maker endpoint
          type: string
        authkey:
          description: Subscription key which provides access to this API.
          type: string
    ErrorBody:
      properties:
        code:
          type: string
          description: error code
        message:
          type: string
          description: error message
      description: Bot Service error body.
      required:
      - code
      - message
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Azure Subscription ID.
      required: true
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Version of the API to be used with the client request.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
