openapi: 3.2.0
info:
  title: Microsoft Azure TimeSeriesInsightsClient Event Sources API
  description: Time Series Insights client
  version: 2021-06-30-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Event Sources
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TimeSeriesInsights/environments/{environmentName}/eventSources/{eventSourceName}
  : put:
      tags:
      - Event Sources
      operationId: microsoftAzureEventsourcesCreateorupdate
      x-ms-examples:
        CreateEventHubEventSource:
          $ref: ./examples/EventSourcesCreateEventHub.json
        EventSourcesCreateEventHubWithCustomEnquedTime:
          $ref: ./examples/EventSourcesCreateEventHubWithCustomEnquedTime.json
      description: Create or update an event source under the specified environment.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/EnvironmentNameParameter'
      - name: eventSourceName
        in: path
        required: true
        description: Name of the event source.
        schema:
          type: string
          maxLength: 90
          minLength: 1
          pattern: ^[-\w\._\(\)]+$
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: The existing event source definition was successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSourceResource'
        '201':
          description: The event source was successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSourceResource'
        default:
          description: 'HTTP 400 (Bad Request): The given event source request body is invalid; See the error code and message in the response for details.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventSourceCreateOrUpdateParameters'
        description: Parameters for creating an event source resource.
        required: true
    get:
      tags:
      - Event Sources
      operationId: microsoftAzureEventsourcesGet
      x-ms-examples:
        GetEventHubEventSource:
          $ref: ./examples/EventSourcesGetEventHub.json
      description: Gets the event source with the specified name in the specified environment.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/EnvironmentNameParameter'
      - $ref: '#/components/parameters/EventSourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: The event source definition was successfully retrieved and is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSourceResource'
        default:
          description: 'HTTP 404 (Not Found): The subscription, resource group, environment, or event source could not be found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    patch:
      tags:
      - Event Sources
      operationId: microsoftAzureEventsourcesUpdate
      x-ms-examples:
        UpdateEventSource:
          $ref: ./examples/EventSourcesPatchTags.json
      description: Updates the event source with the specified name in the specified subscription, resource group, and environment.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/EnvironmentNameParameter'
      - $ref: '#/components/parameters/EventSourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: The event source definition was successfully updated and is in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSourceResource'
        default:
          description: 'HTTP 404 (Not Found): The subscription, resource group, environment, or event source could not be found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventSourceUpdateParameters'
        description: Request object that contains the updated information for the event source.
        required: true
    delete:
      tags:
      - Event Sources
      operationId: microsoftAzureEventsourcesDelete
      x-ms-examples:
        DeleteEventSource:
          $ref: ./examples/EventSourcesDelete.json
      description: Deletes the event source with the specified name in the specified subscription, resource group, and environment
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/EnvironmentNameParameter'
      - $ref: '#/components/parameters/EventSourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: The event source was successfully deleted.
        '204':
          description: The event source was successfully deleted.
        default:
          description: 'HTTP 404 (Not Found): The subscription, resource group, environment, or event source could not be found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TimeSeriesInsights/environments/{environmentName}/eventSources
  : get:
      tags:
      - Event Sources
      operationId: microsoftAzureEventsourcesListbyenvironment
      x-ms-examples:
        ListEventSourcesByEnvironment:
          $ref: ./examples/EventSourcesListByEnvironment.json
      description: Lists all the available event sources associated with the subscription and within the specified resource group and environment.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/EnvironmentNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Environments returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSourceListResponse'
        default:
          description: 'HTTP 404 (Not Found): The subscription, resource group, or environment could not be found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    CloudError:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: Describes a particular API error with an error code and a message.
      description: Contains information about an API error.
      x-ms-external: true
    EventSourceResource:
      type: object
      discriminator:
        propertyName: kind
      properties:
        kind:
          type: string
          description: The kind of the event source.
          enum:
          - Microsoft.EventHub
          - Microsoft.IoTHub
      required:
      - kind
      allOf:
      - $ref: '#/components/schemas/TrackedResource'
      description: An environment receives data from one or more event sources. Each event source has associated connection info that allows the Time Series Insights ingress pipeline to connect to and pull data from the event source
    EventSourceCreateOrUpdateParameters:
      discriminator:
        propertyName: kind
      properties:
        kind:
          type: string
          description: The kind of the event source.
          enum:
          - Microsoft.EventHub
          - Microsoft.IoTHub
          x-ms-enum:
            name: EventSourceKind
            modelAsString: true
        localTimestamp:
          $ref: '#/components/schemas/LocalTimestamp'
          description: An object that represents the local timestamp property. It contains the format of local timestamp that needs to be used and the corresponding timezone offset information. If a value isn't specified for localTimestamp, or if null, then the local timestamp will not be ingressed with the events.
      required:
      - kind
      allOf:
      - $ref: '#/components/schemas/CreateOrUpdateTrackedResourceProperties'
      description: Parameters supplied to the Create or Update Event Source operation.
    CreateOrUpdateTrackedResourceProperties:
      properties:
        location:
          type: string
          description: The location of the resource.
          x-ms-mutability:
          - read
          - create
        tags:
          type: object
          additionalProperties:
            type: string
          description: Key-value pairs of additional properties for the resource.
      required:
      - location
      description: Properties required to create any resource tracked by Azure Resource Manager.
    LocalTimestamp:
      description: An object that represents the local timestamp property. It contains the format of local timestamp that needs to be used and the corresponding timezone offset information. If a value isn't specified for localTimestamp, or if null, then the local timestamp will not be ingressed with the events.
      type: object
      properties:
        format:
          description: An enum that represents the format of the local timestamp property that needs to be set.
          type: string
          enum:
          - Embedded
          x-ms-enum:
            name: LocalTimestampFormat
            modelAsString: true
        timeZoneOffset:
          description: An object that represents the offset information for the local timestamp format specified. Should not be specified for LocalTimestampFormat - Embedded.
          type: object
          properties:
            propertyName:
              type: string
              description: 'The event property that will be contain the offset information to calculate the local timestamp. When the LocalTimestampFormat is Iana, the property name will contain the name of the column which contains IANA Timezone Name (eg: Americas/Los Angeles). When LocalTimestampFormat is Timespan, it contains the name of property which contains values representing the offset (eg: P1D or 1.00:00:00)'
    EventSourceUpdateParameters:
      discriminator:
        propertyName: kind
      type: object
      properties:
        kind:
          type: string
          description: The kind of the event source.
          enum:
          - Microsoft.EventHub
          - Microsoft.IoTHub
          x-ms-enum:
            name: EventSourceKind
            modelAsString: true
        tags:
          type: object
          additionalProperties:
            type: string
          description: Key-value pairs of additional properties for the event source.
      required:
      - kind
      description: Parameters supplied to the Update Event Source operation.
    EventSourceListResponse:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/EventSourceResource'
          description: Result of the List EventSources operation.
      description: The response of the List EventSources operation.
    CloudErrorBody:
      type: object
      description: Describes a particular API error with an error code and a message.
      properties:
        code:
          type: string
          description: An error code that describes the error condition more precisely than an HTTP status code. Can be used to programmatically handle specific error cases.
        message:
          type: string
          description: A message that describes the error in detail and provides debugging information.
        target:
          type: string
          description: The target of the particular error (for example, the name of the property in error).
        details:
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
            description: Describes a particular API error with an error code and a message.
          x-ms-identifiers: []
          description: Contains nested errors that are related to this error.
      x-ms-external: true
    Resource:
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
      description: Time Series Insights resource
      x-ms-azure-resource: true
    TrackedResource:
      properties:
        location:
          type: string
          description: Resource location
          x-ms-mutability:
          - read
          - create
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
      allOf:
      - $ref: '#/components/schemas/Resource'
      required:
      - location
      description: Time Series Insights resource that is tracked by Azure Resource Manager.
  parameters:
    EnvironmentNameParameter:
      name: environmentName
      in: path
      required: true
      description: The name of the Time Series Insights environment associated with the specified resource group.
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      description: Name of an Azure Resource group.
      schema:
        type: string
    EventSourceNameParameter:
      name: eventSourceName
      in: path
      required: true
      description: The name of the Time Series Insights event source associated with the specified environment.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Version of the API to be used with the client request.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Azure Subscription ID.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
