openapi: 3.2.0
info:
  title: Microsoft Azure NetworkManagerGroupMembership Network Group…
  description: The Microsoft Azure Network Manager Group Membership API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.
  version: 2022-06-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: NetworkGroupMemberships_List
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/providers/Microsoft.Network/networkGroupMemberships
  : parameters:
    - $ref: ./network.json#/parameters/SubscriptionIdParameter
    - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
    - $ref: '#/components/parameters/VirtualNetworkNameParameter'
    - $ref: ./network.json#/parameters/ApiVersionParameter
    - $ref: '#/components/parameters/FirstIndexParameter'
    - $ref: '#/components/parameters/PageSizeParameter'
    get:
      tags:
      - NetworkGroupMemberships_List
      operationId: microsoftAzureListnetworkgroupmemberships
      description: List networkGroupMemberships applied on a virtual network.
      responses:
        '200':
          description: OK - Returns information about the group membership.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkGroupMembershipsListResult'
        default:
          description: Resource Provider error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        List network group memberships:
          $ref: ./examples/NetworkGroupMembershipsList.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  parameters:
    VirtualNetworkNameParameter:
      name: virtualNetworkName
      in: path
      required: true
      description: The name of the virtual network.
      x-ms-parameter-location: method
      schema:
        type: string
    FirstIndexParameter:
      name: firstIndex
      description: An optional query parameter which specifies the first index of records to be returned by the server.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        minimum: 0
    PageSizeParameter:
      name: pageSize
      description: An optional query parameter which specifies the maximum number of records to be returned by the server.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        maximum: 20
        minimum: 1
  schemas:
    NetworkGroupMembership:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/NetworkGroupMembershipProperties'
          description: The network group membership properties
        location:
          type: string
          description: Parent Resource Virtual Network Location.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/Resource
      description: Resource of networkGroupMembership.
    NetworkGroupMembershipProperties:
      type: object
      properties:
        groupMemberships:
          type: array
          items:
            $ref: '#/components/schemas/NetworkGroupMembershipGroup'
          description: GroupMembership list
      description: Network Group Membership Properties.
    NetworkGroupMembershipGroup:
      type: object
      properties:
        networkGroupId:
          type: string
          description: network Group ID.
        sources:
          type: array
          items:
            $ref: '#/components/schemas/BaseNetworkGroupMembershipSource'
          description: Source list
      description: The network manager Network Group Membership Group
    BaseNetworkGroupMembershipSource:
      type: object
      properties:
        kind:
          type: string
          description: Whether the NetworkGroupMembershipSource is StaticMembership or Policy.
          enum:
          - StaticMembership
          - Policy
          x-ms-enum:
            name: Type
            modelAsString: true
      required:
      - kind
      discriminator:
        propertyName: kind
      description: Base Network Group Membership Source.
    NetworkGroupMembershipsListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/NetworkGroupMembership'
          description: Gets a page of NetworkGroupMembership
        nextLink:
          type: string
          description: Gets the URL to get the next page of results.
      description: Result of the request to list NetworkGroupMembership.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
