openapi: 3.2.0
info:
  title: Microsoft Azure VirtualWANAsAServiceManagementClient Vpn…
  description: REST API for Azure VirtualWAN As a Service.
  version: '2023-11-01'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: VpnGateways
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/vpnGateways/{gatewayName}:
    patch:
      tags:
      - VpnGateways
      operationId: microsoftAzureVpngatewaysUpdatetags
      x-ms-examples:
        VpnGatewayUpdate:
          $ref: ./examples/VpnGatewayUpdateTags.json
      description: Updates virtual wan vpn gateway tags.
      parameters:
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      - name: resourceGroupName
        in: path
        required: true
        description: The resource group name of the VpnGateway.
        schema:
          type: string
      - name: gatewayName
        in: path
        required: true
        description: The name of the gateway.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Request successful. Returns the details of the updated gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnGateway'
        '202':
          description: Accepted and the operation will complete asynchronously.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./network.json#/definitions/TagsObject
        description: Parameters supplied to update a virtual wan vpn gateway tags.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/vpnGateways/{gatewayName}/reset
  : post:
      tags:
      - VpnGateways
      operationId: microsoftAzureVpngatewaysReset
      description: Resets the primary of the vpn gateway in the specified resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The resource group name of the VpnGateway.
        schema:
          type: string
      - name: gatewayName
        in: path
        required: true
        description: The name of the gateway.
        schema:
          type: string
      - name: ipConfigurationId
        in: query
        required: false
        description: VpnGateway ipConfigurationId to specify the gateway instance.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Request successful. The operation reset the primary of the VpnGateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnGateway'
        '202':
          description: Accepted and the operation will complete asynchronously.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        ResetVpnGateway:
          $ref: ./examples/VpnGatewayReset.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/vpnGateways/{gatewayName}/startpacketcapture
  : post:
      tags:
      - VpnGateways
      operationId: microsoftAzureVpngatewaysStartpacketcapture
      description: Starts packet capture on vpn gateway in the specified resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The resource group name of the VpnGateway.
        schema:
          type: string
      - name: gatewayName
        in: path
        required: true
        description: The name of the gateway.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Request successful. The operation packet capture started on vpn gateway.
          content:
            application/json:
              schema:
                type: string
        '202':
          description: Accepted and the operation will complete asynchronously.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        Start packet capture on vpn gateway without filter:
          $ref: ./examples/VpnGatewayStartPacketCapture.json
        Start packet capture on vpn gateway with filter:
          $ref: ./examples/VpnGatewayStartPacketCaptureFilterData.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VpnGatewayPacketCaptureStartParameters'
        description: Vpn gateway packet capture parameters supplied to start packet capture on vpn gateway.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/vpnGateways/{gatewayName}/stoppacketcapture
  : post:
      tags:
      - VpnGateways
      operationId: microsoftAzureVpngatewaysStoppacketcapture
      description: Stops packet capture on vpn gateway in the specified resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The resource group name of the VpnGateway.
        schema:
          type: string
      - name: gatewayName
        in: path
        required: true
        description: The name of the gateway.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Request successful. The operation packet capture stopped on vpn gateway.
          content:
            application/json:
              schema:
                type: string
        '202':
          description: Accepted and the operation will complete asynchronously.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        Stop packet capture on vpn gateway:
          $ref: ./examples/VpnGatewayStopPacketCapture.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VpnGatewayPacketCaptureStopParameters'
        description: Vpn gateway packet capture parameters supplied to stop packet capture on vpn gateway.
components:
  schemas:
    VnetRoute:
      description: List of routes that control routing from VirtualHub into a virtual network connection.
      properties:
        staticRoutesConfig:
          $ref: '#/components/schemas/StaticRoutesConfig'
          description: Configuration for static routes on this HubVnetConnection.
        staticRoutes:
          type: array
          description: List of all Static Routes.
          items:
            $ref: '#/components/schemas/StaticRoute'
        bgpConnections:
          type: array
          readOnly: true
          description: The list of references to HubBgpConnection objects.
          items:
            $ref: ./network.json#/definitions/SubResource
    VpnConnection:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/VpnConnectionProperties'
          description: Properties of the VPN connection.
        name:
          type: string
          description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
        etag:
          type: string
          readOnly: true
          description: A unique read-only string that changes whenever the resource is updated.
      allOf:
      - $ref: ./network.json#/definitions/SubResource
      description: VpnConnection Resource.
    VpnGatewayNatRuleProperties:
      properties:
        provisioningState:
          readOnly: true
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the NAT Rule resource.
        type:
          type: string
          description: The type of NAT rule for VPN NAT.
          enum:
          - Static
          - Dynamic
          x-ms-enum:
            name: VpnNatRuleType
            modelAsString: true
        mode:
          type: string
          description: The Source NAT direction of a VPN NAT.
          enum:
          - EgressSnat
          - IngressSnat
          x-ms-enum:
            name: VpnNatRuleMode
            modelAsString: true
        internalMappings:
          type: array
          items:
            $ref: '#/components/schemas/VpnNatRuleMapping'
          description: The private IP address internal mapping for NAT.
        externalMappings:
          type: array
          items:
            $ref: '#/components/schemas/VpnNatRuleMapping'
          description: The private IP address external mapping for NAT.
        ipConfigurationId:
          type: string
          description: The IP Configuration ID this NAT rule applies to.
        egressVpnSiteLinkConnections:
          type: array
          readOnly: true
          items:
            $ref: ./network.json#/definitions/SubResource
          description: List of egress VpnSiteLinkConnections.
        ingressVpnSiteLinkConnections:
          type: array
          readOnly: true
          items:
            $ref: ./network.json#/definitions/SubResource
          description: List of ingress VpnSiteLinkConnections.
      description: Parameters for VpnGatewayNatRule.
    VpnGatewayProperties:
      properties:
        virtualHub:
          $ref: ./network.json#/definitions/SubResource
          description: The VirtualHub to which the gateway belongs.
        connections:
          type: array
          description: List of all vpn connections to the gateway.
          items:
            $ref: '#/components/schemas/VpnConnection'
        bgpSettings:
          $ref: ./virtualNetworkGateway.json#/definitions/BgpSettings
          description: Local network gateway's BGP speaker settings.
        provisioningState:
          readOnly: true
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the VPN gateway resource.
        vpnGatewayScaleUnit:
          type: integer
          format: int32
          description: The scale unit for this vpn gateway.
        ipConfigurations:
          type: array
          readOnly: true
          description: List of all IPs configured on the gateway.
          items:
            $ref: '#/components/schemas/VpnGatewayIpConfiguration'
        enableBgpRouteTranslationForNat:
          type: boolean
          description: Enable BGP routes translation for NAT on this VpnGateway.
        isRoutingPreferenceInternet:
          type: boolean
          description: Enable Routing Preference property for the Public IP Interface of the VpnGateway.
        natRules:
          type: array
          description: List of all the nat Rules associated with the gateway.
          items:
            $ref: '#/components/schemas/VpnGatewayNatRule'
      description: Parameters for VpnGateway.
    VpnGatewayNatRule:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/VpnGatewayNatRuleProperties'
          description: Properties of the VpnGateway NAT rule.
        name:
          type: string
          description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
        etag:
          type: string
          readOnly: true
          description: A unique read-only string that changes whenever the resource is updated.
        type:
          readOnly: true
          type: string
          description: Resource type.
      allOf:
      - $ref: ./network.json#/definitions/SubResource
      description: VpnGatewayNatRule Resource.
    VpnGateway:
      required:
      - location
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/VpnGatewayProperties'
          description: Properties of the VPN gateway.
        etag:
          type: string
          readOnly: true
          description: A unique read-only string that changes whenever the resource is updated.
      allOf:
      - $ref: ./network.json#/definitions/Resource
      description: VpnGateway Resource.
    VpnGatewayPacketCaptureStopParameters:
      properties:
        sasUrl:
          type: string
          description: SAS url for packet capture on vpn gateway.
      description: Stop packet capture parameters.
    StaticRoutesConfig:
      description: Configuration for static routes on this HubVnetConnectionConfiguration for static routes on this HubVnetConnection.
      type: object
      properties:
        propagateStaticRoutes:
          description: Boolean indicating whether static routes on this connection are automatically propagate to route tables which this connection propagates to.
          type: boolean
          readOnly: true
        vnetLocalRouteOverrideCriteria:
          description: Parameter determining whether NVA in spoke vnet is bypassed for traffic with destination in spoke.
          $ref: '#/components/schemas/VnetLocalRouteOverrideCriteria'
    StaticRoute:
      description: List of all Static Routes.
      properties:
        name:
          type: string
          description: The name of the StaticRoute that is unique within a VnetRoute.
        addressPrefixes:
          type: array
          description: List of all address prefixes.
          items:
            type: string
        nextHopIpAddress:
          type: string
          description: The ip address of the next hop.
    RoutingConfiguration:
      description: Routing Configuration indicating the associated and propagated route tables for this connection.
      properties:
        associatedRouteTable:
          $ref: ./network.json#/definitions/SubResource
          description: The resource id RouteTable associated with this RoutingConfiguration.
        propagatedRouteTables:
          $ref: '#/components/schemas/PropagatedRouteTable'
          description: The list of RouteTables to advertise the routes to.
        vnetRoutes:
          $ref: '#/components/schemas/VnetRoute'
          description: List of routes that control routing from VirtualHub into a virtual network connection.
        inboundRouteMap:
          $ref: ./network.json#/definitions/SubResource
          description: The resource id of the RouteMap associated with this RoutingConfiguration for inbound learned routes.
        outboundRouteMap:
          $ref: ./network.json#/definitions/SubResource
          description: The resource id of theRouteMap associated with this RoutingConfiguration for outbound advertised routes.
    VpnConnectionProperties:
      properties:
        remoteVpnSite:
          $ref: ./network.json#/definitions/SubResource
          description: Id of the connected vpn site.
        routingWeight:
          type: integer
          format: int32
          description: Routing weight for vpn connection.
        dpdTimeoutSeconds:
          type: integer
          format: int32
          description: DPD timeout in seconds for vpn connection.
        connectionStatus:
          description: The connection status.
          $ref: '#/components/schemas/VpnConnectionStatus'
        vpnConnectionProtocolType:
          description: Connection protocol used for this connection.
          $ref: ./virtualNetworkGateway.json#/definitions/ConnectionProtocol
        ingressBytesTransferred:
          type: integer
          format: int64
          readOnly: true
          description: Ingress bytes transferred.
        egressBytesTransferred:
          type: integer
          format: int64
          readOnly: true
          description: Egress bytes transferred.
        connectionBandwidth:
          type: integer
          format: int32
          description: Expected bandwidth in MBPS.
        sharedKey:
          type: string
          description: SharedKey for the vpn connection.
        enableBgp:
          type: boolean
          description: EnableBgp flag.
        usePolicyBasedTrafficSelectors:
          type: boolean
          description: Enable policy-based traffic selectors.
        ipsecPolicies:
          type: array
          items:
            $ref: ./virtualNetworkGateway.json#/definitions/IpsecPolicy
          description: The IPSec Policies to be considered by this connection.
        trafficSelectorPolicies:
          type: array
          items:
            $ref: ./virtualNetworkGateway.json#/definitions/TrafficSelectorPolicy
          description: The Traffic Selector Policies to be considered by this connection.
        enableRateLimiting:
          type: boolean
          description: EnableBgp flag.
        enableInternetSecurity:
          type: boolean
          description: Enable internet security.
        useLocalAzureIpAddress:
          type: boolean
          description: Use local azure ip to initiate connection.
        provisioningState:
          readOnly: true
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the VPN connection resource.
        vpnLinkConnections:
          type: array
          description: List of all vpn site link connections to the gateway.
          items:
            $ref: '#/components/schemas/VpnSiteLinkConnection'
        routingConfiguration:
          $ref: '#/components/schemas/RoutingConfiguration'
          description: The Routing Configuration indicating the associated and propagated route tables on this connection.
      description: Parameters for VpnConnection.
    VnetLocalRouteOverrideCriteria:
      type: string
      description: Parameter determining whether NVA in spoke vnet is bypassed for traffic with destination in spoke vnet.
      enum:
      - Contains
      - Equal
      x-ms-enum:
        name: VnetLocalRouteOverrideCriteria
        modelAsString: true
    VpnNatRuleMapping:
      properties:
        addressSpace:
          type: string
          description: Address space for Vpn NatRule mapping.
        portRange:
          type: string
          description: Port range for Vpn NatRule mapping.
      description: Vpn NatRule mapping.
    VpnSiteLinkConnectionProperties:
      properties:
        vpnSiteLink:
          $ref: ./network.json#/definitions/SubResource
          description: Id of the connected vpn site link.
        routingWeight:
          type: integer
          format: int32
          description: Routing weight for vpn connection.
        vpnLinkConnectionMode:
          type: string
          description: Vpn link connection mode.
          enum:
          - Default
          - ResponderOnly
          - InitiatorOnly
          x-ms-enum:
            name: VpnLinkConnectionMode
            modelAsString: true
        connectionStatus:
          description: The connection status.
          $ref: '#/components/schemas/VpnConnectionStatus'
        vpnConnectionProtocolType:
          description: Connection protocol used for this connection.
          $ref: ./virtualNetworkGateway.json#/definitions/ConnectionProtocol
        ingressBytesTransferred:
          type: integer
          format: int64
          readOnly: true
          description: Ingress bytes transferred.
        egressBytesTransferred:
          type: integer
          format: int64
          readOnly: true
          description: Egress bytes transferred.
        connectionBandwidth:
          type: integer
          format: int32
          description: Expected bandwidth in MBPS.
        sharedKey:
          type: string
          description: SharedKey for the vpn connection.
        enableBgp:
          type: boolean
          description: EnableBgp flag.
        vpnGatewayCustomBgpAddresses:
          type: array
          items:
            $ref: ./virtualNetworkGateway.json#/definitions/GatewayCustomBgpIpAddressIpConfiguration
          description: vpnGatewayCustomBgpAddresses used by this connection.
          x-ms-identifiers: []
        usePolicyBasedTrafficSelectors:
          type: boolean
          description: Enable policy-based traffic selectors.
        ipsecPolicies:
          type: array
          items:
            $ref: ./virtualNetworkGateway.json#/definitions/IpsecPolicy
          description: The IPSec Policies to be considered by this connection.
        enableRateLimiting:
          type: boolean
          description: EnableBgp flag.
        useLocalAzureIpAddress:
          type: boolean
          description: Use local azure ip to initiate connection.
        provisioningState:
          readOnly: true
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the VPN site link connection resource.
        ingressNatRules:
          type: array
          items:
            $ref: ./network.json#/definitions/SubResource
          description: List of ingress NatRules.
        egressNatRules:
          type: array
          items:
            $ref: ./network.json#/definitions/SubResource
          description: List of egress NatRules.
        dpdTimeoutSeconds:
          type: integer
          format: int32
          description: Dead Peer Detection timeout in seconds for VpnLink connection.
      description: Parameters for VpnConnection.
    VpnConnectionStatus:
      type: string
      description: The current state of the vpn connection.
      readOnly: true
      enum:
      - Unknown
      - Connecting
      - Connected
      - NotConnected
      x-ms-enum:
        name: VpnConnectionStatus
        modelAsString: true
    VpnGatewayIpConfiguration:
      description: IP Configuration of a VPN Gateway Resource.
      properties:
        id:
          type: string
          description: The identifier of the IP configuration for a VPN Gateway.
        publicIpAddress:
          type: string
          description: The public IP address of this IP configuration.
        privateIpAddress:
          type: string
          description: The private IP address of this IP configuration.
    VpnGatewayPacketCaptureStartParameters:
      properties:
        filterData:
          type: string
          description: Start Packet capture parameters on vpn gateway.
      description: Start packet capture parameters.
    VpnSiteLinkConnection:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/VpnSiteLinkConnectionProperties'
          description: Properties of the VPN site link connection.
        name:
          type: string
          description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
        etag:
          type: string
          readOnly: true
          description: A unique read-only string that changes whenever the resource is updated.
        type:
          readOnly: true
          type: string
          description: Resource type.
      allOf:
      - $ref: ./network.json#/definitions/SubResource
      description: VpnSiteLinkConnection Resource.
    PropagatedRouteTable:
      description: The list of RouteTables to advertise the routes to.
      properties:
        labels:
          type: array
          description: The list of labels.
          items:
            type: string
        ids:
          type: array
          description: The list of resource ids of all the RouteTables.
          items:
            $ref: ./network.json#/definitions/SubResource
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
