openapi: 3.2.0
info:
  version: '2023-06-01'
  title: Microsoft Azure SiteRecoveryManagementClient Replication…
  x-ms-code-generation-settings:
    header: MICROSOFT_MIT_NO_VERSION
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Replication Policies
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationPolicies
  : get:
      tags:
      - Replication Policies
      summary: Microsoft Azure Gets The List Of Replication Policies
      description: Lists the replication policies for a vault.
      operationId: microsoftAzureReplicationpoliciesList
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyCollection'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Gets the list of replication policies.:
          $ref: ./examples/ReplicationPolicies_List.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationPolicies/{policyName}
  : get:
      tags:
      - Replication Policies
      summary: Microsoft Azure Gets The Requested Policy
      description: Gets the details of a replication policy.
      operationId: microsoftAzureReplicationpoliciesGet
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: policyName
        in: path
        description: Replication policy name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
      x-ms-examples:
        Gets the requested policy.:
          $ref: ./examples/ReplicationPolicies_Get.json
    put:
      tags:
      - Replication Policies
      summary: Microsoft Azure Creates The Policy
      description: The operation to create a replication policy.
      operationId: microsoftAzureReplicationpoliciesCreate
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: policyName
        in: path
        description: Replication policy name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        '202':
          description: Accepted
      x-ms-long-running-operation: true
      x-ms-examples:
        Creates the policy.:
          $ref: ./examples/ReplicationPolicies_Create.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePolicyInput'
        description: Create policy input.
        required: true
    delete:
      tags:
      - Replication Policies
      summary: Microsoft Azure Delete The Policy
      description: The operation to delete a replication policy.
      operationId: microsoftAzureReplicationpoliciesDelete
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: policyName
        in: path
        description: Replication policy name.
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Accepted
        '204':
          description: NoContent
      x-ms-long-running-operation: true
      x-ms-examples:
        Delete the policy.:
          $ref: ./examples/ReplicationPolicies_Delete.json
    patch:
      tags:
      - Replication Policies
      summary: Microsoft Azure Updates The Policy
      description: The operation to update a replication policy.
      operationId: microsoftAzureReplicationpoliciesUpdate
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: policyName
        in: path
        description: Policy Id.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        '202':
          description: Accepted
      x-ms-long-running-operation: true
      x-ms-examples:
        Updates the policy.:
          $ref: ./examples/ReplicationPolicies_Update.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePolicyInput'
        description: Update Policy Input.
        required: true
components:
  schemas:
    PolicyProperties:
      description: Protection profile custom data details.
      type: object
      properties:
        friendlyName:
          description: The FriendlyName.
          type: string
        providerSpecificDetails:
          $ref: '#/components/schemas/PolicyProviderSpecificDetails'
          description: The ReplicationChannelSetting.
    Policy:
      description: Protection profile details.
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/PolicyProperties'
          description: The custom data.
    PolicyCollection:
      description: Protection Profile Collection details.
      type: object
      properties:
        value:
          description: The policy details.
          type: array
          items:
            $ref: '#/components/schemas/Policy'
        nextLink:
          description: The value of next link.
          type: string
    CreatePolicyInput:
      description: Protection Policy input.
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/CreatePolicyInputProperties'
          description: Policy creation properties.
    CreatePolicyInputProperties:
      description: Policy creation properties.
      type: object
      properties:
        providerSpecificInput:
          $ref: '#/components/schemas/PolicyProviderSpecificInput'
          description: The ReplicationProviderSettings.
    PolicyProviderSpecificDetails:
      description: Base class for Provider specific details for policies.
      required:
      - instanceType
      type: object
      properties:
        instanceType:
          description: Gets the class type. Overridden in derived classes.
          type: string
      discriminator:
        propertyName: instanceType
    UpdatePolicyInputProperties:
      description: Policy update properties.
      type: object
      properties:
        replicationProviderSettings:
          $ref: '#/components/schemas/PolicyProviderSpecificInput'
          description: The ReplicationProviderSettings.
    UpdatePolicyInput:
      description: Update policy input.
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/UpdatePolicyInputProperties'
          description: The ReplicationProviderSettings.
    Resource:
      description: Azure resource.
      type: object
      properties:
        id:
          description: Resource Id
          type: string
          readOnly: true
        name:
          description: Resource Name
          type: string
          readOnly: true
        type:
          description: Resource Type
          type: string
          readOnly: true
        location:
          description: Resource Location
          type: string
      x-ms-azure-resource: true
    PolicyProviderSpecificInput:
      description: Base class for provider specific input.
      required:
      - instanceType
      type: object
      properties:
        instanceType:
          description: The class type.
          type: string
      discriminator:
        propertyName: instanceType
  parameters:
    ResourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group where the recovery services vault is present.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    SubscriptionId:
      name: subscriptionId
      in: path
      description: The subscription Id.
      required: true
      schema:
        type: string
    ApiVersion:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
    ResourceName:
      name: resourceName
      in: path
      description: The name of the recovery services vault.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account.
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
