openapi: 3.2.0
info:
  title: Microsoft Azure GraphRbacManagementClient O Auth2…
  version: '1.6'
  description: The Graph RBAC Management Client
servers:
- url: https://graph.windows.net
security:
- azure_auth:
  - user_impersonation
tags:
- name: OAuth2PermissionGrant_List
paths:
  /{tenantID}/oauth2PermissionGrants:
    get:
      tags:
      - OAuth2PermissionGrant_List
      operationId: microsoftAzureOauth2permissiongrantList
      description: Queries OAuth2 permissions grants for the relevant SP ObjectId of an app.
      parameters:
      - name: $filter
        in: query
        required: false
        x-example: clientId+eq+'61ed44c3-5a1d-4639-a215-07f25129c6c3
        description: This is the Service Principal ObjectId associated with the app
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2PermissionGrantListResult'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: OAuth2PermissionGrant_ListNext
      summary: Microsoft Azure Get Tenantid Oauth2permissiongrants
components:
  parameters:
    tenantIDInPath:
      name: tenantID
      in: path
      required: true
      description: The tenant ID.
      x-ms-parameter-location: client
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
  schemas:
    OAuth2PermissionGrant:
      properties:
        odata.type:
          type: string
          description: Microsoft.DirectoryServices.OAuth2PermissionGrant
        clientId:
          type: string
          description: The id of the resource's service principal granted consent to impersonate the user when accessing the resource (represented by the resourceId property).
        objectId:
          type: string
          description: The id of the permission grant
        consentType:
          type: string
          description: Indicates if consent was provided by the administrator (on behalf of the organization) or by an individual.
          enum:
          - AllPrincipals
          - Principal
          x-ms-enum:
            name: ConsentType
            modelAsString: true
        principalId:
          type: string
          description: When consent type is Principal, this property specifies the id of the user that granted consent and applies only for that user.
        resourceId:
          type: string
          description: Object Id of the resource you want to grant
        scope:
          type: string
          description: Specifies the value of the scope claim that the resource application should expect in the OAuth 2.0 access token. For example, User.Read
        startTime:
          type: string
          description: Start time for TTL
        expiryTime:
          type: string
          description: Expiry time for TTL
      example:
        odata.type: odata.type
        resourceId: resourceId
        clientId: clientId
        scope: scope
        expiryTime: expiryTime
        consentType: consentType
        principalId: ''
        startTime: startTime
    OAuth2PermissionGrantListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/OAuth2PermissionGrant'
          description: the list of oauth2 permissions grants
        odata.nextLink:
          type: string
          description: the URL to get the next set of results.
      description: Server response for get oauth2 permissions grants
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-ms-paths:
  /{tenantID}/{nextLink}?OAuth2PermissionGrant_ListNext:
    get:
      tags:
      - OAuth2PermissionGrant_ListNext
      operationId: OAuth2PermissionGrant_ListNext
      description: Gets the next page of OAuth2 permission grants
      parameters:
      - name: nextLink
        in: path
        required: true
        type: string
        description: Next link for the list operation.
        x-ms-skip-url-encoding: true
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/components/schemas/OAuth2PermissionGrantListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: OAuth2PermissionGrant_ListNext
  /{tenantID}/{nextLink}?SignedInUser_ListOwnedObjectsNext:
    get:
      tags:
      - SignedInUser
      operationId: SignedInUser_ListOwnedObjectsNext
      description: Get the list of directory objects that are owned by the user.
      parameters:
      - name: nextLink
        in: path
        required: true
        type: string
        description: Next link for the list operation.
        x-ms-skip-url-encoding: true
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/components/schemas/DirectoryObjectListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: SignedInUser_ListOwnedObjectsNext
  /{tenantID}/{nextLink}?Groups_ListNext:
    get:
      tags:
      - Group
      operationId: Groups_ListNext
      description: Gets a list of groups for the current tenant.
      parameters:
      - name: nextLink
        in: path
        required: true
        type: string
        description: Next link for the list operation.
        x-ms-skip-url-encoding: true
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/components/schemas/GroupListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: Groups_ListNext
  /{tenantID}/{nextLink}?Groups_GetGroupMembersNext:
    get:
      tags:
      - Group
      operationId: Groups_GetGroupMembersNext
      description: Gets the members of a group.
      parameters:
      - name: nextLink
        in: path
        required: true
        type: string
        description: Next link for the list operation.
        x-ms-skip-url-encoding: true
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/components/schemas/DirectoryObjectListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: Groups_GetGroupMembersNext
  /{tenantID}/{nextLink}?Applications_ListNext:
    get:
      tags:
      - Applications
      operationId: Applications_ListNext
      description: Gets a list of applications from the current tenant.
      parameters:
      - name: nextLink
        in: path
        required: true
        type: string
        description: Next link for the list operation.
        x-ms-skip-url-encoding: true
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/components/schemas/ApplicationListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: Applications_ListNext
  /{tenantID}/{nextLink}?DeletedApplications_ListNext:
    get:
      tags:
      - deletedApplications
      operationId: DeletedApplications_ListNext
      description: Gets a list of deleted applications in the directory.
      parameters:
      - name: nextLink
        in: path
        required: true
        type: string
        description: Next link for the list operation.
        x-ms-skip-url-encoding: true
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/components/schemas/ApplicationListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: DeletedApplications_ListNext
  /{tenantID}/{nextLink}?ServicePrincipals_ListNext:
    get:
      tags:
      - ServicePrincipal
      operationId: ServicePrincipals_ListNext
      description: Gets a list of service principals from the current tenant.
      parameters:
      - name: nextLink
        in: path
        required: true
        type: string
        description: Next link for the list operation.
        x-ms-skip-url-encoding: true
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/components/schemas/ServicePrincipalListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: ServicePrincipals_ListNext
  /{tenantID}/{nextLink}?Users_ListNext:
    get:
      tags:
      - User
      operationId: Users_ListNext
      description: Gets a list of users for the current tenant.
      parameters:
      - name: nextLink
        in: path
        required: true
        type: string
        description: Next link for the list operation.
        x-ms-skip-url-encoding: true
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/components/schemas/UserListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: Users_ListNext
  /{tenantID}/{nextLink}?Objects_GetObjectsByObjectIdsNext:
    post:
      tags:
      - Objects
      operationId: Objects_GetObjectsByObjectIdsNext
      description: Gets AD group membership for the specified AD object IDs.
      parameters:
      - name: nextLink
        in: path
        required: true
        type: string
        description: Next link for the list operation.
        x-ms-skip-url-encoding: true
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/components/schemas/DirectoryObjectListResult'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: Objects_GetObjectsByObjectIdsNext
