openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft.Elastic Elastic Versions API
  version: 2024-01-01-preview
servers:
- url: https://management.azure.com
tags:
- name: ElasticVersions
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Elastic/elasticVersions:
    get:
      tags:
      - ElasticVersions
      summary: Microsoft Azure Get A List Of Available Versions For A Region
      operationId: microsoftAzureElasticversionsList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - in: query
        name: region
        description: Region where elastic deployment will take place.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElasticVersionsListResponse'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ElasticVersions_List:
          $ref: ./examples/ElasticVersions_List.json
      description: Needs a more full description created.
components:
  schemas:
    ResourceProviderDefaultErrorResponse:
      description: RP default error response.
      type: object
      properties:
        error:
          description: Response body of Error
          readOnly: true
          $ref: '#/components/schemas/ErrorResponseBody'
    ElasticVersionsListResponse:
      description: List of elastic versions available in a region.
      type: object
      properties:
        value:
          description: Results of a list operation.
          type: array
          x-ms-identifiers:
          - properties/version
          items:
            $ref: '#/components/schemas/ElasticVersionListFormat'
        nextLink:
          description: Link to the next set of results, if any.
          type: string
    ElasticVersionListFormat:
      description: Elastic Version List Format
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/ElasticVersionListProperties'
    ErrorResponseBody:
      description: Error response body.
      title: ErrorResponseBody
      type: object
      properties:
        code:
          description: Error code.
          type: string
        message:
          description: Error message.
          type: string
        target:
          description: Error target.
          type: string
        details:
          description: Error details.
          type: array
          x-ms-identifiers: []
          items:
            $ref: '#/components/schemas/ErrorResponseBody'
    ElasticVersionListProperties:
      description: Elastic Version Properties
      type: object
      properties:
        version:
          description: Available elastic version of the given region
          type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Microsoft Entra ID OAuth2 Flow
