openapi: 3.2.0
info:
  version: '2023-01-01'
  title: Microsoft Azure Azure Migrate V2 Private Link Resource…
  description: Migrate your workloads to Azure.
  contact:
    name: Microsoft
    email: azuremigratehub@microsoft.com
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: PrivateLinkResourceController
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/privateLinkResources/{privateLinkResourceName}
  : get:
      tags:
      - PrivateLinkResourceController
      summary: Microsoft Azure Get The Private Link Resource
      description: Get the private link resource with the specified name.
      operationId: microsoftAzurePrivatelinkresourcecontrollerGetprivatelinkresource
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/migrateProjectName'
      - name: privateLinkResourceName
        description: Private Link resource name.
        in: path
        required: true
        schema:
          type: string
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      deprecated: false
      x-ms-examples:
        PrivateLinkResourceController_Get_MaximumSet_Gen:
          $ref: ./examples/PrivateLinkResourceController_Get_MaximumSet_Gen.json
        PrivateLinkResourceController_Get_MinimumSet_Gen:
          $ref: ./examples/PrivateLinkResourceController_Get_MinimumSet_Gen.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/privateLinkResources
  : get:
      tags:
      - PrivateLinkResourceController
      summary: Microsoft Azure Get The List Of Private Link Resources
      description: Get the list of private link resources under a resource group and migrate project.
      operationId: microsoftAzurePrivatelinkresourcecontrollerGetprivatelinkresources
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/migrateProjectName'
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResourceCollection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      deprecated: false
      x-ms-examples:
        PrivateLinkResourceController_ListPrivateLinkResources_MaximumSet_Gen:
          $ref: ./examples/PrivateLinkResourceController_ListPrivateLinkResources_MaximumSet_Gen.json
        PrivateLinkResourceController_ListPrivateLinkResources_MinimumSet_Gen:
          $ref: ./examples/PrivateLinkResourceController_ListPrivateLinkResources_MinimumSet_Gen.json
components:
  schemas:
    PrivateLinkResourceCollection:
      description: Collection of private link resources.
      type: object
      properties:
        value:
          description: List of private links.
          type: array
          items:
            $ref: '#/components/schemas/PrivateLinkResource'
          readOnly: true
        nextLink:
          description: Value of next link.
          type: string
          readOnly: true
    PrivateLinkResourceProperties:
      type: object
      description: Properties of private link resource.
      properties:
        requiredMembers:
          type: array
          description: Required members.
          items:
            type: string
        requiredZoneNames:
          type: array
          description: Required zone names.
          items:
            type: string
        groupId:
          description: Group id.
          type: string
    PrivateLinkResource:
      type: object
      description: Private link resource.
      properties:
        id:
          description: Relative URL to get this Sites.
          type: string
          readOnly: true
        name:
          description: Gets the name of the resource.
          type: string
          readOnly: true
        type:
          description: Gets the resource type.
          type: string
          readOnly: true
        properties:
          $ref: '#/components/schemas/PrivateLinkResourceProperties'
          description: Gets nested properties.
          readOnly: true
  parameters:
    migrateProjectName:
      name: migrateProjectName
      description: Name of the Azure Migrate project.
      in: path
      x-ms-parameter-location: method
      required: true
      schema:
        type: string
        pattern: ^[a-zA-Z0-9-]{3,24}$
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
