openapi: 3.2.0
info:
  title: Microsoft Azure NetworkResourceProviderClient Virtual…
  description: The Windows Azure Network management API provides a RESTful set of web services that interact with Windows Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Windows Azure Networks service.
  version: 2015-05-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: VirtualNetworkGateways
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualnetworkgateways/{virtualNetworkGatewayName}
  : put:
      tags:
      - VirtualNetworkGateways
      operationId: microsoftAzureVirtualnetworkgatewaysCreateorupdate
      description: The Put VirtualNetworkGateway operation creates/updates a virtual network gateway in the specified resource group through Network resource provider.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: virtualNetworkGatewayName
        in: path
        required: true
        description: The name of the virtual network gateway.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkGateway'
          text/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkGateway'
        description: Parameters supplied to the Begin Create or update Virtual Network Gateway operation through Network resource provider.
        required: true
    get:
      tags:
      - VirtualNetworkGateways
      operationId: microsoftAzureVirtualnetworkgatewaysGet
      description: The Get VirtualNetworkGateway operation retrieves information about the specified virtual network gateway through Network resource provider.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: virtualNetworkGatewayName
        in: path
        required: true
        description: The name of the virtual network gateway.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/
  : delete:
      tags:
      - VirtualNetworkGateways
      operationId: microsoftAzureVirtualnetworkgatewaysDelete
      description: The Delete VirtualNetworkGateway operation deletes the specified virtual network Gateway through Network resource provider.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: virtualNetworkGatewayName
        in: path
        required: true
        description: The name of the virtual network gateway.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
        '202':
          description: ''
        '204':
          description: ''
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways:
    get:
      tags:
      - VirtualNetworkGateways
      operationId: microsoftAzureVirtualnetworkgatewaysList
      description: The List VirtualNetworkGateways operation retrieves all the virtual network gateways stored.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualnetworkgateways/{virtualNetworkGatewayName}/reset
  : post:
      tags:
      - VirtualNetworkGateways
      operationId: microsoftAzureVirtualnetworkgatewaysReset
      description: The Reset VirtualNetworkGateway operation resets the primary of the virtual network gateway in the specified resource group through Network resource provider.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: virtualNetworkGatewayName
        in: path
        required: true
        description: The name of the virtual network gateway.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
        '202':
          description: ''
      x-ms-long-running-operation: true
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkGateway'
          text/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkGateway'
        description: Parameters supplied to the Begin Reset Virtual Network Gateway operation through Network resource provider.
        required: true
components:
  schemas:
    VirtualNetworkGatewayIpConfiguration:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/VirtualNetworkGatewayIpConfigurationPropertiesFormat'
        name:
          type: string
          description: Gets name of the resource that is unique within a resource group. This name can be used to access the resource
        etag:
          type: string
          description: A unique read-only string that changes whenever the resource is updated
      allOf:
      - $ref: '#/components/schemas/SubResource'
      description: IpConfiguration for Virtual network gateway
    VirtualNetworkGateway:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/VirtualNetworkGatewayPropertiesFormat'
        etag:
          type: string
          description: Gets a unique read-only string that changes whenever the resource is updated
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: A common class for general resource information
    VirtualNetworkGatewayListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/VirtualNetworkGateway'
          description: Gets List of VirtualNetworkGateways that exists in a resource group
        nextLink:
          type: string
          description: Gets the URL to get the next set of results.
      description: Response for ListVirtualNetworkGateways Api service call
    VirtualNetworkGatewayIpConfigurationPropertiesFormat:
      properties:
        privateIPAddress:
          type: string
          description: Gets or sets the privateIPAddress of the Network Interface IP Configuration
        privateIPAllocationMethod:
          type: string
          description: Gets or sets PrivateIP allocation method (Static/Dynamic)
          enum:
          - Static
          - Dynamic
          x-ms-enum:
            name: IpAllocationMethod
            modelAsString: true
        subnet:
          $ref: '#/components/schemas/SubResource'
          description: Gets or sets the reference of the subnet resource
        publicIPAddress:
          $ref: '#/components/schemas/SubResource'
          description: Gets or sets the reference of the PublicIP resource
        provisioningState:
          type: string
          description: Gets or sets Provisioning state of the PublicIP resource Updating/Deleting/Failed
      description: Properties of VirtualNetworkGatewayIPConfiguration
    Resource:
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        location:
          type: string
          description: Resource location
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
      required:
      - location
      x-ms-azure-resource: true
    SubResource:
      properties:
        id:
          type: string
          description: Resource Id
      x-ms-azure-resource: true
    VirtualNetworkGatewayPropertiesFormat:
      properties:
        ipConfigurations:
          type: array
          items:
            $ref: '#/components/schemas/VirtualNetworkGatewayIpConfiguration'
          description: IpConfigurations for Virtual network gateway.
        gatewayType:
          type: string
          description: The type of this virtual network gateway.
          enum:
          - Vpn
          - ExpressRoute
          x-ms-enum:
            name: VirtualNetworkGatewayType
            modelAsString: true
        vpnType:
          type: string
          description: The type of this virtual network gateway.
          enum:
          - PolicyBased
          - RouteBased
          x-ms-enum:
            name: VpnType
            modelAsString: true
        enableBgp:
          type: boolean
          description: EnableBgp Flag
        gatewayDefaultSite:
          $ref: '#/components/schemas/SubResource'
          description: Gets or sets the reference of the LocalNetworkGateway resource which represents Local network site having default routes. Assign Null value in case of removing existing default site setting.
        resourceGuid:
          type: string
          description: Gets or sets resource guid property of the VirtualNetworkGateway resource
        provisioningState:
          type: string
          description: Gets or sets Provisioning state of the VirtualNetworkGateway resource Updating/Deleting/Failed
      description: VirtualNetworkGateway properties
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
