openapi: 3.2.0
info:
  version: 2022-09-01-preview
  title: Microsoft Azure DevCenterClient Network Connections API
  description: DevCenter Management API
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Network Connections
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.DevCenter/networkConnections:
    parameters:
    - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
    - $ref: commonDefinitions.json#/parameters/SubscriptionIdParameter
    - $ref: commonDefinitions.json#/parameters/TopParameter
    get:
      tags:
      - Network Connections
      description: Lists network connections in a subscription
      operationId: microsoftAzureNetworkconnectionsListbysubscription
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkConnectionListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: commonDefinitions.json#/definitions/CloudError
      x-ms-examples:
        NetworkConnections_ListBySubscription:
          $ref: ./examples/NetworkConnections_ListBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Devcenter…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevCenter/networkConnections:
    parameters:
    - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
    - $ref: commonDefinitions.json#/parameters/SubscriptionIdParameter
    - $ref: commonDefinitions.json#/parameters/ResourceGroupNameParameter
    - $ref: commonDefinitions.json#/parameters/TopParameter
    get:
      tags:
      - Network Connections
      description: Lists network connections in a resource group
      operationId: microsoftAzureNetworkconnectionsListbyresourcegroup
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkConnectionListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: commonDefinitions.json#/definitions/CloudError
      x-ms-examples:
        NetworkConnections_ListByResourceGroup:
          $ref: ./examples/NetworkConnections_ListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevCenter/networkConnections/{networkConnectionName}
  : parameters:
    - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
    - $ref: commonDefinitions.json#/parameters/SubscriptionIdParameter
    - $ref: commonDefinitions.json#/parameters/ResourceGroupNameParameter
    - $ref: '#/components/parameters/NetworkConnectionName'
    get:
      tags:
      - Network Connections
      description: Gets a network connection resource
      operationId: microsoftAzureNetworkconnectionsGet
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkConnection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: commonDefinitions.json#/definitions/CloudError
      x-ms-examples:
        NetworkConnections_Get:
          $ref: ./examples/NetworkConnections_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Network Connections
      description: Creates or updates a Network Connections resource
      operationId: microsoftAzureNetworkconnectionsCreateorupdate
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      responses:
        '200':
          description: Accepted. Operation will complete asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkConnection'
        '201':
          description: Created. Operation will complete asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkConnection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: commonDefinitions.json#/definitions/CloudError
      x-ms-examples:
        NetworkConnections_CreateOrUpdate:
          $ref: ./examples/NetworkConnections_Put.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkConnection'
        description: Represents network connection
        required: true
    patch:
      tags:
      - Network Connections
      description: Partially updates a Network Connection
      operationId: microsoftAzureNetworkconnectionsUpdate
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkConnection'
        '202':
          description: Accepted. Operation will complete asynchronously.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: commonDefinitions.json#/definitions/CloudError
      x-ms-examples:
        NetworkConnections_Update:
          $ref: ./examples/NetworkConnections_Patch.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkConnectionUpdate'
        description: Represents network connection
        required: true
    delete:
      tags:
      - Network Connections
      description: Deletes a Network Connections resource
      operationId: microsoftAzureNetworkconnectionsDelete
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      responses:
        '200':
          description: OK. Resource has been deleted
        '202':
          description: Accepted. Operation will complete asynchronously.
        '204':
          description: Resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: commonDefinitions.json#/definitions/CloudError
      x-ms-examples:
        NetworkConnections_Delete:
          $ref: ./examples/NetworkConnections_Delete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevCenter/networkConnections/{networkConnectionName}/healthChecks
  : parameters:
    - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
    - $ref: commonDefinitions.json#/parameters/SubscriptionIdParameter
    - $ref: commonDefinitions.json#/parameters/ResourceGroupNameParameter
    - $ref: commonDefinitions.json#/parameters/TopParameter
    - $ref: '#/components/parameters/NetworkConnectionName'
    get:
      tags:
      - Network Connections
      description: Lists health check status details
      operationId: microsoftAzureNetworkconnectionsListhealthdetails
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckStatusDetailsListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: commonDefinitions.json#/definitions/CloudError
      x-ms-examples:
        NetworkConnections_ListHealthDetails:
          $ref: ./examples/NetworkConnections_ListHealthDetails.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevCenter/networkConnections/{networkConnectionName}/healthChecks/latest
  : get:
      tags:
      - Network Connections
      description: Gets health check status details.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: commonDefinitions.json#/parameters/SubscriptionIdParameter
      - $ref: commonDefinitions.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/NetworkConnectionName'
      operationId: microsoftAzureNetworkconnectionsGethealthdetails
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckStatusDetails'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: commonDefinitions.json#/definitions/CloudError
      x-ms-examples:
        NetworkConnections_GetHealthDetails:
          $ref: ./examples/NetworkConnections_GetHealthDetails.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    NetworkProperties:
      description: Network properties
      type: object
      allOf:
      - $ref: '#/components/schemas/NetworkConnectionUpdateProperties'
      properties:
        provisioningState:
          description: The provisioning state of the resource.
          $ref: commonDefinitions.json#/definitions/ProvisioningState
          readOnly: true
        healthCheckStatus:
          description: Overall health status of the network connection. Health checks are run on creation, update, and periodically to validate the network connection.
          $ref: '#/components/schemas/HealthCheckStatus'
          readOnly: true
        networkingResourceGroupName:
          description: The name for resource group where NICs will be placed.
          type: string
          x-ms-mutability:
          - read
          - create
        domainJoinType:
          description: AAD Join type.
          $ref: '#/components/schemas/DomainJoinType'
          x-ms-mutability:
          - read
          - create
      required:
      - subnetId
      - domainJoinType
    NetworkConnectionUpdate:
      description: The network connection properties for partial update. Properties not provided in the update request will not be changed.
      type: object
      allOf:
      - $ref: commonDefinitions.json#/definitions/TrackedResourceUpdate
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/NetworkConnectionUpdateProperties'
          description: Properties of a network connection resource to be updated.
    HealthCheckStatusDetailsProperties:
      description: Health Check properties.
      type: object
      properties:
        startDateTime:
          type: string
          description: Start time of last execution of the health checks.
          readOnly: true
          format: date-time
        endDateTime:
          type: string
          description: End time of last execution of the health checks.
          readOnly: true
          format: date-time
        healthChecks:
          description: Details for each health check item.
          type: array
          items:
            $ref: '#/components/schemas/HealthCheck'
          x-ms-identifiers: []
          readOnly: true
    NetworkConnectionListResult:
      description: Result of the network connection list operation.
      type: object
      properties:
        value:
          description: Current page of results.
          type: array
          items:
            $ref: '#/components/schemas/NetworkConnection'
          readOnly: true
        nextLink:
          description: URL to get the next set of results if there are any.
          type: string
          readOnly: true
    HealthCheckStatusDetails:
      description: Health Check details.
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/Resource
      properties:
        properties:
          x-ms-client-flatten: true
          description: Health check status details properties.
          $ref: '#/components/schemas/HealthCheckStatusDetailsProperties'
    DomainJoinType:
      description: Active Directory join type
      enum:
      - HybridAzureADJoin
      - AzureADJoin
      type: string
      x-ms-enum:
        name: DomainJoinType
        modelAsString: true
    NetworkConnectionUpdateProperties:
      description: Properties of network connection. These properties can be updated after the resource has been created.
      type: object
      properties:
        subnetId:
          description: The subnet to attach Virtual Machines to
          type: string
        domainName:
          description: Active Directory domain name
          type: string
        organizationUnit:
          description: Active Directory domain Organization Unit (OU)
          type: string
        domainUsername:
          description: 'The username of an Active Directory account (user or service account) that has permissions to create computer objects in Active Directory. Required format: admin@contoso.com.'
          type: string
        domainPassword:
          description: The password for the account used to join domain
          type: string
          x-ms-secret: true
    HealthCheckStatus:
      description: Health check status values
      enum:
      - Pending
      - Running
      - Passed
      - Failed
      - Warning
      - Unknown
      type: string
      x-ms-enum:
        name: HealthCheckStatus
        modelAsString: true
    HealthCheck:
      description: An individual health check item
      type: object
      properties:
        status:
          description: The status of the health check item.
          $ref: '#/components/schemas/HealthCheckStatus'
          readOnly: true
        displayName:
          description: The display name of this health check item.
          type: string
          readOnly: true
        startDateTime:
          description: Start time of health check item.
          type: string
          readOnly: true
          format: date-time
        endDateTime:
          description: End time of the health check item.
          type: string
          readOnly: true
          format: date-time
        errorType:
          description: The type of error that occurred during this health check.
          type: string
          readOnly: true
        recommendedAction:
          description: The recommended action to fix the corresponding error.
          type: string
          readOnly: true
        additionalDetails:
          description: Additional details about the health check or the recommended action.
          type: string
          readOnly: true
    HealthCheckStatusDetailsListResult:
      description: Result of the network health check list operation.
      type: object
      properties:
        value:
          description: Current page of results.
          type: array
          items:
            $ref: '#/components/schemas/HealthCheckStatusDetails'
          readOnly: true
        nextLink:
          description: URL to get the next set of results if there are any.
          type: string
          readOnly: true
    NetworkConnection:
      type: object
      description: Network related settings
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
      properties:
        properties:
          description: Properties of a Network Connection
          x-ms-client-flatten: true
          $ref: '#/components/schemas/NetworkProperties'
  parameters:
    NetworkConnectionName:
      name: networkConnectionName
      in: path
      required: true
      description: Name of the Network Connection that can be applied to a Pool.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
