openapi: 3.2.0
info:
  title: Microsoft Azure CustomerInsightsManagementClient Links API
  description: The Azure Customer Insights management API provides a RESTful set of web services that interact with Azure Customer Insights service to manage your resources. The API has entities that capture the relationship between an end user and the Azure Customer Insights service.
  version: '2017-04-26'
  x-ms-code-generation-settings:
    name: CustomerInsightsManagementClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Links
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/links/{linkName}
  : put:
      tags:
      - Links
      operationId: microsoftAzureLinksCreateorupdate
      x-ms-examples:
        Links_CreateOrUpdate:
          $ref: ./examples/LinksCreateOrUpdate.json
      description: Creates a link or updates an existing link in the hub.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hubName
        in: path
        required: true
        description: The name of the hub.
        schema:
          type: string
      - name: linkName
        in: path
        required: true
        description: The name of the link.
        schema:
          type: string
          maxLength: 512
          minLength: 1
          pattern: ^[a-zA-Z][a-zA-Z0-9_]+$
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. Successfully created the link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkResourceFormat'
        '202':
          description: Accepted. The create link operation is accepted.
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkResourceFormat'
        description: Parameters supplied to the CreateOrUpdate Link operation.
        required: true
    get:
      tags:
      - Links
      operationId: microsoftAzureLinksGet
      x-ms-examples:
        Links_Get:
          $ref: ./examples/LinksGet.json
      description: Gets a link in the hub.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hubName
        in: path
        required: true
        description: The name of the hub.
        schema:
          type: string
      - name: linkName
        in: path
        required: true
        description: The name of the link.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. Successfully get the link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkResourceFormat'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    delete:
      tags:
      - Links
      operationId: microsoftAzureLinksDelete
      x-ms-examples:
        Links_Delete:
          $ref: ./examples/LinksDelete.json
      description: Deletes a link in the hub.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hubName
        in: path
        required: true
        description: The name of the hub.
        schema:
          type: string
      - name: linkName
        in: path
        required: true
        description: The name of the link.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. The link is deleted.
        '202':
          description: Accepted. The delete operation is accepted.
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/links
  : get:
      tags:
      - Links
      operationId: microsoftAzureLinksListbyhub
      x-ms-examples:
        Links_ListByHub:
          $ref: ./examples/LinksListByHub.json
      description: Gets all the links in the specified hub.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hubName
        in: path
        required: true
        description: The name of the hub.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. Successfully get all the links in the hub.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    LinkListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/LinkResourceFormat'
          description: Results of the list operation.
        nextLink:
          type: string
          description: Link to the next set of results.
      description: The response of list link operation.
    ProxyResource:
      properties:
        id:
          readOnly: true
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
      x-ms-azure-resource: true
      description: Common properties of proxy resource.
    ProvisioningState:
      type: string
      enum:
      - Provisioning
      - Succeeded
      - Expiring
      - Deleting
      - HumanIntervention
      - Failed
      x-ms-enum:
        name: ProvisioningStates
        modelAsString: true
      description: Provisioning state.
    TypePropertiesMapping:
      required:
      - sourcePropertyName
      - targetPropertyName
      properties:
        sourcePropertyName:
          type: string
          description: ' Property name on the source Entity Type.'
        targetPropertyName:
          type: string
          description: Property name on the target Entity Type.
        linkType:
          type: string
          enum:
          - UpdateAlways
          - CopyIfNull
          x-ms-enum:
            name: LinkTypes
            modelAsString: false
          description: Link type.
      description: Metadata for a Link's property mapping.
    LinkDefinition:
      required:
      - sourceEntityType
      - targetEntityType
      - sourceEntityTypeName
      - targetEntityTypeName
      - participantPropertyReferences
      properties:
        tenantId:
          type: string
          readOnly: true
          description: The hub name.
        linkName:
          type: string
          readOnly: true
          description: The link name.
        sourceEntityType:
          type: string
          enum:
          - None
          - Profile
          - Interaction
          - Relationship
          x-ms-enum:
            name: EntityType
            modelAsString: false
          description: Type of source entity.
        targetEntityType:
          type: string
          enum:
          - None
          - Profile
          - Interaction
          - Relationship
          x-ms-enum:
            name: EntityType
            modelAsString: false
          description: Type of target entity.
        sourceEntityTypeName:
          type: string
          description: Name of the source Entity Type.
        targetEntityTypeName:
          type: string
          description: Name of the target Entity Type.
        displayName:
          type: object
          additionalProperties:
            type: string
          description: Localized display name for the Link.
        description:
          type: object
          additionalProperties:
            type: string
          description: Localized descriptions for the Link.
        mappings:
          type: array
          items:
            $ref: '#/components/schemas/TypePropertiesMapping'
          description: The set of properties mappings between the source and target Types.
        participantPropertyReferences:
          type: array
          items:
            $ref: '#/components/schemas/ParticipantPropertyReference'
          description: The properties that represent the participating profile.
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          readOnly: true
          description: Provisioning state.
        referenceOnly:
          type: boolean
          description: Indicating whether the link is reference only link. This flag is ignored if the Mappings are defined. If the mappings are not defined and it is set to true, links processing will not create or update profiles.
        operationType:
          type: string
          enum:
          - Upsert
          - Delete
          x-ms-enum:
            name: InstanceOperationType
            modelAsString: false
          description: Determines whether this link is supposed to create or delete instances if Link is NOT Reference Only.
      description: The definition of Link.
    ParticipantPropertyReference:
      required:
      - sourcePropertyName
      - targetPropertyName
      properties:
        sourcePropertyName:
          type: string
          description: The source property that maps to the target property.
        targetPropertyName:
          type: string
          description: The target property that maps to the source property.
      description: The participant property reference.
    LinkResourceFormat:
      description: The link resource format.
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/LinkDefinition'
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
