openapi: 3.2.0
info:
  title: Microsoft Azure Events API
  version: '1.0'
  description: 'Operations tagged Events across 4 of this provider''s published API definitions: microsoftresourcehealth-openapi-original.yml, personalizer-client-2022-09-01-preview-openapi-original.yml, personalizer-client-v11-preview3-openapi-original.yml, run-history-apis-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
- url: /personalizer
- url: /personalizer/v1.1-preview.3
tags:
- name: Events
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.ResourceHealth/events:
    get:
      tags:
      - Events
      operationId: microsoftAzureEventsListbysubscriptionid
      description: Lists service health events in the subscription.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/FilterParameter'
      - $ref: '#/components/parameters/QueryStartTimeParameter'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The list of current service health events in the subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/events'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ListEventsBySubscriptionId:
          $ref: ./examples/Events_ListBySubscriptionId.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.ResourceHealth/events:
    get:
      tags:
      - Events
      operationId: microsoftAzureEventsListbytenantid
      description: Lists current service health events in the tenant.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/FilterParameter'
      - $ref: '#/components/parameters/QueryStartTimeParameter'
      responses:
        '200':
          description: The list of service health events in the tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/events'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ListEventsByTenantId:
          $ref: ./examples/Events_ListByTenantId.json
      summary: Microsoft Azure Get Providers Microsoft Resourcehealth Events
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /{resourceUri}/providers/Microsoft.ResourceHealth/events:
    get:
      tags:
      - Events
      operationId: microsoftAzureEventsListbysingleresource
      description: Lists current service health events for given resource.
      parameters:
      - name: resourceUri
        in: path
        required: true
        description: 'The fully qualified ID of the resource, including the resource name and resource type. Currently the API support not nested and one nesting level resource types : /subscriptions/{subscriptionId}/resourceGroups/{resource-group-name}/providers/{resource-provider-name}/{resource-type}/{resource-name} and /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resource-provider-name}/{parentResourceType}/{parentResourceName}/{resourceType}/{resourceName}'
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/FilterParameter'
      responses:
        '200':
          description: The list of current service health events for given resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/events'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ListEventsBySingleResource:
          $ref: ./examples/Events_ListBySingleResource.json
      summary: Microsoft Azure Get Resourceuri Providers Microsoft Resourcehealth Events
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /events/{eventId}/reward:
    post:
      tags:
      - Events
      summary: Microsoft Azure Post Reward
      description: Report reward between 0 and 1 that resulted from using the action specified in rewardActionId, for the specified event.
      operationId: microsoftAzureEventsReward
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: eventId
        in: path
        description: The event id this reward applies to.
        required: true
        schema:
          type: string
          maxLength: 256
      responses:
        '204':
          description: No Content
        default:
          description: Invalid reward request.
          headers:
            x-ms-error-code:
              description: Error code for specific error that occurred.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
      x-ms-examples:
        Successful Events_Reward request:
          $ref: ./examples/Events_Reward.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RewardRequest'
        description: The reward should be a floating point number, typically between 0 and 1.
        required: true
      security:
      - {}
    servers:
    - url: /personalizer
  /events/{eventId}/activate:
    post:
      tags:
      - Events
      summary: Microsoft Azure Activate Event
      description: Report that the specified event was actually used (e.g. by being displayed to the user) and a reward should be expected for it.
      operationId: microsoftAzureEventsActivate
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: eventId
        in: path
        description: The event ID to be activated.
        required: true
        schema:
          type: string
          maxLength: 256
      responses:
        '204':
          description: No Content
        default:
          description: Invalid activate event request.
          headers:
            x-ms-error-code:
              description: Error code for specific error that occurred.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
      x-ms-examples:
        Successful Events_Activate request:
          $ref: ./examples/Events_Activate.json
      security:
      - {}
    servers:
    - url: /personalizer
  ? /history/v1.0/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/experiments/{experimentName}/batch/events
  : post:
      tags:
      - Events
      summary: Microsoft Azure Batch Post Event Data
      description: Post event data to a specific Run Id.
      operationId: microsoftAzureEventsBatchpost
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/workspaceNameParameter'
      - name: experimentName
        in: path
        description: The experiment name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The batch of Events is posted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchEventCommandResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_4'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchEventCommand'
        description: The batch of Event details.
      security:
      - azure_auth:
        - user_impersonation
  ? /history/v1.0/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/experiments/{experimentName}/runs/{runId}/events
  : post:
      tags:
      - Events
      summary: Microsoft Azure Post Event Data
      description: Post event data to a specific Run Id.
      operationId: microsoftAzureEventsPost
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/workspaceNameParameter'
      - name: experimentName
        in: path
        description: The experiment name.
        required: true
        schema:
          type: string
      - name: runId
        in: path
        description: The identifier of the Run.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Event is posted successfully.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_4'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseEvent'
        description: The Event details.
      security:
      - azure_auth:
        - user_impersonation
components:
  schemas:
    events:
      type: object
      properties:
        value:
          type: array
          x-ms-identifiers: []
          items:
            $ref: '#/components/schemas/event'
          description: The list of event.
        nextLink:
          type: string
          description: The URI to fetch the next page of events. Call ListNext() with this URI to fetch the next page of events.
      required:
      - value
      description: The List events operation response.
    faq:
      type: object
      description: Frequently asked question for the service health event
      properties:
        question:
          type: string
          description: FAQ question for the service health event.
        answer:
          type: string
          description: FAQ answer for the service health event.
        localeCode:
          type: string
          description: FAQ locale for the service health event.
    link:
      type: object
      description: Useful links for service health event.
      properties:
        type:
          type: string
          description: Type of link.
          enum:
          - Button
          - Hyperlink
          x-ms-enum:
            name: LinkTypeValues
            modelAsString: true
        displayText:
          type: object
          description: Display text of link.
          properties:
            value:
              type: string
              description: Display text of link.
            localizedValue:
              type: string
              description: Localized display text of link.
        extensionName:
          type: string
          description: It provides the name of portal extension to produce link for given service health event.
        bladeName:
          type: string
          description: It provides the name of portal extension blade to produce link for given service health event.
        parameters:
          type: object
          description: It provides a map of parameter name and value for portal extension blade to produce lik for given service health event.
    impactedServiceRegion:
      type: object
      description: Azure region impacted by the service health event.
      properties:
        impactedRegion:
          type: string
          description: Impacted region name.
        status:
          type: string
          description: Current status of event in the region.
          enum:
          - Active
          - Resolved
          x-ms-enum:
            name: EventStatusValues
            modelAsString: true
        impactedSubscriptions:
          type: array
          x-ms-identifiers: []
          description: List subscription impacted by the service health event.
          items:
            type: string
            description: Subscription impacted by the service health event.
        impactedTenants:
          type: array
          x-ms-identifiers: []
          description: List tenant impacted by the service health event.
          items:
            type: string
            description: Tenant impacted by the service health event.
        lastUpdateTime:
          type: string
          description: It provides the Timestamp for when the last update for the service health event.
          format: date-time
        updates:
          type: array
          x-ms-identifiers: []
          description: List of updates for given service health event.
          items:
            $ref: '#/components/schemas/update'
    event:
      type: object
      description: Service health event
      properties:
        properties:
          x-ms-client-flatten: true
          type: object
          description: Properties of event.
          properties:
            eventType:
              type: string
              description: Type of event.
              enum:
              - ServiceIssue
              - PlannedMaintenance
              - HealthAdvisory
              - RCA
              - EmergingIssues
              - SecurityAdvisory
              x-ms-enum:
                name: EventTypeValues
                modelAsString: true
            eventSubType:
              type: string
              description: Sub type of the event. Currently used to determine retirement communications for health advisory events
              enum:
              - Retirement
              x-ms-enum:
                name: EventSubTypeValues
                modelAsString: true
            eventSource:
              type: string
              description: Source of event.
              enum:
              - ResourceHealth
              - ServiceHealth
              x-ms-enum:
                name: EventSourceValues
                modelAsString: true
            status:
              type: string
              description: Current status of event.
              enum:
              - Active
              - Resolved
              x-ms-enum:
                name: EventStatusValues
                modelAsString: true
            title:
              type: string
              description: Title text of event.
            summary:
              type: string
              description: Summary text of event.
            header:
              type: string
              description: Header text of event.
            level:
              type: string
              description: Level of insight.
              enum:
              - Critical
              - Warning
              x-ms-enum:
                name: LevelValues
                modelAsString: true
            eventLevel:
              type: string
              description: Level of event.
              enum:
              - Critical
              - Error
              - Warning
              - Informational
              x-ms-enum:
                name: EventLevelValues
                modelAsString: true
            externalIncidentId:
              type: string
              description: The id of the Incident
            reason:
              type: string
              description: The reason for the Incident
            article:
              type: object
              description: Article of event.
              properties:
                articleContent:
                  type: string
                  description: Article content of event.
                articleId:
                  type: string
                  description: Article Id
                parameters:
                  type: object
                  description: It provides a map of parameter name and value
            links:
              type: array
              x-ms-identifiers: []
              description: Useful links of event.
              items:
                $ref: '#/components/schemas/link'
            impactStartTime:
              type: string
              description: It provides the Timestamp for when the health impacting event started.
              format: date-time
            impactMitigationTime:
              type: string
              description: It provides the Timestamp for when the health impacting event resolved.
              format: date-time
            impact:
              type: array
              x-ms-identifiers: []
              description: List services impacted by the service health event.
              items:
                $ref: '#/components/schemas/impact'
            recommendedActions:
              type: object
              description: Recommended actions of event.
              properties:
                message:
                  type: string
                  description: Recommended action title for the service health event.
                actions:
                  type: array
                  x-ms-identifiers: []
                  description: Recommended actions for the service health event.
                  items:
                    type: object
                    description: Recommended action for the service health event.
                    properties:
                      groupId:
                        type: integer
                        format: int32
                        description: Recommended action group Id for the service health event.
                      actionText:
                        type: string
                        description: Recommended action text
                localeCode:
                  type: string
                  description: Recommended action locale for the service health event.
            faqs:
              type: array
              x-ms-identifiers: []
              description: Frequently asked questions for the service health event.
              items:
                $ref: '#/components/schemas/faq'
            isHIR:
              type: boolean
              description: It provides information if the event is High incident rate event or not.
            enableMicrosoftSupport:
              type: boolean
              description: Tells if we want to enable or disable Microsoft Support for this event.
            description:
              type: string
              description: Contains the communication message for the event, that could include summary, root cause and other details.
            platformInitiated:
              type: boolean
              description: Is true if the event is platform initiated.
            enableChatWithUs:
              type: boolean
              description: Tells if we want to enable or disable Microsoft Support for this event.
            priority:
              type: integer
              format: int32
              description: Priority level of the event. Has value from 0 to 23. 0 is the highest priority. Service issue events have higher priority followed by planned maintenance and health advisory. Critical events have higher priority followed by error, warning and informational. Furthermore, active events have higher priority than resolved.
            lastUpdateTime:
              type: string
              description: It provides the Timestamp for when the health impacting event was last updated.
              format: date-time
            hirStage:
              type: string
              description: Stage for HIR Document
            additionalInformation:
              type: object
              description: Additional information
              properties:
                message:
                  type: string
                  description: Additional information Message
            duration:
              type: integer
              description: duration in seconds
              format: int32
            impactType:
              type: string
              description: The type of the impact
            maintenanceId:
              type: string
              description: Unique identifier for planned maintenance event.
            maintenanceType:
              type: string
              description: The type of planned maintenance event.
            argQuery:
              type: string
              description: Azure Resource Graph query to fetch the affected resources from their existing Azure Resource Graph locations.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
    update:
      type: object
      description: Update for service health event.
      properties:
        summary:
          type: string
          description: Summary text for the given update for the service health event.
        updateDateTime:
          type: string
          description: It provides the Timestamp for the given update for the service health event.
          format: date-time
    impact:
      type: object
      description: Azure service impacted by the service health event.
      properties:
        impactedService:
          type: string
          description: Impacted service name.
        impactedRegions:
          type: array
          x-ms-identifiers: []
          description: List regions impacted by the service health event.
          items:
            $ref: '#/components/schemas/impactedServiceRegion'
    ErrorResponse:
      description: Error details.
      type: object
      properties:
        code:
          description: The error code.
          type: string
          readOnly: true
        message:
          description: The error message.
          type: string
          readOnly: true
        details:
          description: The error details.
          type: string
          readOnly: true
    RewardRequest:
      description: Reward given to a rank response.
      required:
      - value
      type: object
      properties:
        value:
          format: float
          description: Reward to be assigned to an action. Value is a float calculated by your application, typically between 0 and 1, and must be between -1 and 1.
          type: number
    ErrorResponse_2:
      description: Used to return an error to the client
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/PersonalizerError'
    InternalError:
      description: An object containing more specific information than the parent object about the error.
      type: object
      properties:
        code:
          description: Detailed error code.
          type: string
        innererror:
          $ref: '#/components/schemas/InternalError'
    PersonalizerError:
      description: The error object.
      required:
      - code
      - message
      type: object
      properties:
        code:
          description: Error Codes returned by Personalizer
          enum:
          - BadRequest
          - InvalidServiceConfiguration
          - InvalidLearningModeServiceConfiguration
          - InvalidPolicyConfiguration
          - InvalidPolicyContract
          - InvalidEvaluationContract
          - InvalidContract
          - DuplicateCustomPolicyNames
          - NoLogsExistInDateRange
          - LogsSizeExceedAllowedLimit
          - InvalidRewardRequest
          - InvalidEventIdToActivate
          - InvalidRankRequest
          - InvalidExportLogsRequest
          - InvalidRequest
          - InvalidSasUri
          - InvalidModelMetadata
          - ApprenticeModeNeverTurnedOn
          - MissingAppId
          - InvalidRewardWaitTime
          - InvalidLogRetentionDays
          - InvalidMultiSlotApiAccess
          - PayloadSizeExceeded
          - InvalidModelImportSignature
          - InvalidModelImportFormat
          - FeatureImportanceAlreadyExists
          - EvaluationAlreadyExists
          - InvalidModelRetrainDays
          - InvalidApiAccess
          - ModelFileAccessDenied
          - ProblemTypeIncompatibleWithAutoOptimization
          - ResourceNotFound
          - FrontEndNotFound
          - EvaluationNotFound
          - FeatureImportanceNotFound
          - LearningSettingsNotFound
          - EvaluationModelNotFound
          - LogsPropertiesNotFound
          - RequestTimeout
          - ModelRankingError
          - InternalServerError
          - ModelDownloadFailed
          - RankNullResponse
          - UpdateConfigurationFailed
          - InferenceModelUpdateFailed
          - ModelResetFailed
          - ModelPublishFailed
          - ModelMetadataUpdateFailed
          - EvaluationsGetListFailed
          - OperationNotAllowed
          type: string
          x-ms-enum:
            name: PersonalizerErrorCode
            modelAsString: true
            values:
            - value: BadRequest
              description: Request could not be understood by the server.
            - value: InvalidServiceConfiguration
              description: Invalid service configuration.
            - value: InvalidLearningModeServiceConfiguration
              description: Updating defaultReward, rewardWaitTime and rewardAggregation when changing learning mode from Online to Apprentice mode and vice versa is not allowed. Make the mode change and then change the additional settings with an additional API call.
            - value: InvalidPolicyConfiguration
              description: Invalid policy configuration.
            - value: InvalidPolicyContract
              description: Invalid policy contract.
            - value: InvalidEvaluationContract
              description: Invalid evaluation contract.
            - value: InvalidContract
              description: Invalid contract.
            - value: DuplicateCustomPolicyNames
              description: Custom policy names should be unique.
            - value: NoLogsExistInDateRange
              description: No logs exist in date range.
            - value: LogsSizeExceedAllowedLimit
              description: Total size of logs exceed allowed limit.
            - value: InvalidRewardRequest
              description: Invalid reward request.
            - value: InvalidEventIdToActivate
              description: Invalid activate event request.
            - value: InvalidRankRequest
              description: Invalid request.
            - value: InvalidExportLogsRequest
              description: Invalid request.
            - value: InvalidRequest
              description: Invalid request.
            - value: InvalidSasUri
              description: SAS Uri must be the Uri to a container that has write permissions; Or the date in SAS Uri is not in the format of yyyy-mm-ddThh:mm:ssZ.
            - value: InvalidModelMetadata
              description: Invalid model metadata.
            - value: ApprenticeModeNeverTurnedOn
              description: Apprentice mode never turned on.
            - value: MissingAppId
              description: AppId is missing in the header.
            - value: InvalidRewardWaitTime
              description: Reward wait time should be either 10 minutes or 4 hours or 12 hours or 24 hours
            - value: InvalidLogRetentionDays
              description: Log Retention Days must be -1 to store indefinitely or must be at least reward wait time plus 1 day (rounded up)
            - value: InvalidMultiSlotApiAccess
              description: Multi-slot feature is currently disabled. Please follow multi-slot Personalizer documentation to update your loop settings to enable multi-slot functionality.
            - value: PayloadSizeExceeded
              description: Exceeds maximum allowed payload size.
            - value: InvalidModelImportSignature
              description: Given model file is not signed or does not have a valid signature.
            - value: InvalidModelImportFormat
              description: Given model file format is invalid.
            - value: FeatureImportanceAlreadyExists
              description: Feature importance with id {0} already exists.
            - value: EvaluationAlreadyExists
              description: Evaluation with id {0} already exists.
            - value: InvalidModelRetrainDays
              description: Model retrain days must be between 0 and the number of log retention days.
            - value: InvalidApiAccess
              description: Api is currently disabled for the instance.
            - value: ModelFileAccessDenied
              description: Key vault Key used for customer managed key cannot be accessed.
            - value: ProblemTypeIncompatibleWithAutoOptimization
              description: Auto-optimization is not compatible with multi-slot personalization.
            - value: ResourceNotFound
              description: Requested resource does not exist on the server.
            - value: FrontEndNotFound
              description: Front end not found.
            - value: EvaluationNotFound
              description: Offline Evaluation not found.
            - value: FeatureImportanceNotFound
              description: Feature importance not found.
            - value: LearningSettingsNotFound
              description: Learning Settings not found in evaluation.
            - value: EvaluationModelNotFound
              description: Model not found in evaluation.
            - value: LogsPropertiesNotFound
              description: Log properties not found.
            - value: RequestTimeout
              description: The task was canceled.
            - value: ModelRankingError
              description: Error while ranking actions using model. Please verify the learning settings are valid.
            - value: InternalServerError
              description: A generic error has occurred on the server.
            - value: ModelDownloadFailed
              description: Failed to download model.
            - value: RankNullResponse
              description: Rank call returned null response.
            - value: UpdateConfigurationFailed
              description: Failed to update configuration.
            - value: InferenceModelUpdateFailed
              description: Failed to update inference model.
            - value: ModelResetFailed
              description: Model reset failed.
            - value: ModelPublishFailed
              description: Model publish failed.
            - value: ModelMetadataUpdateFailed
              description: Model metadata update failed.
            - value: EvaluationsGetListFailed
              description: Failed to get evaluations list.
            - value: OperationNotAllowed
              description: This operation is not allowed at this time.
        message:
          description: A message explaining the error reported by the service.
          type: string
        target:
          description: Error source element.
          type: string
          readOnly: true
        details:
          description: An array of details about specific errors that led to this reported error.
          type: array
          items:
            $ref: '#/components/schemas/PersonalizerError'
          readOnly: true
        innerError:
          $ref: '#/components/schemas/InternalError'
    ErrorResponse_3:
      description: Used to return an error to the client
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/PersonalizerError_2'
    PersonalizerError_2:
      description: The error object.
      required:
      - code
      - message
      type: object
      properties:
        code:
          description: Error Codes returned by Personalizer
          enum:
          - BadRequest
          - InvalidServiceConfiguration
          - InvalidLearningModeServiceConfiguration
          - InvalidPolicyConfiguration
          - InvalidPolicyContract
          - InvalidEvaluationContract
          - DuplicateCustomPolicyNames
          - NoLogsExistInDateRange
          - LogsSizeExceedAllowedLimit
          - InvalidRewardRequest
          - InvalidEventIdToActivate
          - InvalidRankRequest
          - InvalidExportLogsRequest
          - InvalidRequest
          - InvalidContainer
          - InvalidModelMetadata
          - ApprenticeModeNeverTurnedOn
          - MissingAppId
          - InvalidRewardWaitTime
          - InvalidLogRetentionDays
          - InvalidMultiSlotApiAccess
          - PayloadSizeExceeded
          - InvalidModelImportSignature
          - InvalidModelImportFormat
          - InvalidApiAccess
          - ModelFileAccessDenied
          - ProblemTypeIncompatibleWithAutoOptimization
          - ResourceNotFound
          - FrontEndNotFound
          - EvaluationNotFound
          - LearningSettingsNotFound
          - EvaluationModelNotFound
          - LogsPropertiesNotFound
          - ModelRankingError
          - InternalServerError
          - RankNullResponse
          - UpdateConfigurationFailed
          - ModelResetFailed
          - ModelPublishFailed
          - ModelMetadataUpdateFailed
          - OperationNotAllowed
          type: string
          x-ms-enum:
            name: PersonalizerErrorCode
            modelAsString: true
            values:
            - value: BadRequest
              description: Request could not be understood by the server.
            - value: InvalidServiceConfiguration
              description: Invalid service configuration.
            - value: InvalidLearningModeServiceConfiguration
              description: Updating defaultReward, rewardWaitTime and rewardAggregation when changing learning mode from Online to Apprentice mode and vice versa is not allowed. Make the mode change and then change the additional settings with an additional API call.
            - value: InvalidPolicyConfiguration
              description: Invalid policy configuration.
            - value: InvalidPolicyContract
              description: Invalid policy contract.
            - value: InvalidEvaluationContract
              description: Invalid evaluation contract.
            - value: DuplicateCustomPolicyNames
              description: Custom policy names should be unique.
            - value: NoLogsExistInDateRange
              description: No logs exist in date range.
            - value: LogsSizeExceedAllowedLimit
              description: Total size of logs exceed allowed limit.
            - value: InvalidRewardRequest
              description: Invalid reward request.
            - value: InvalidEventIdToActivate
              description: Invalid activate event request.
            - value: InvalidRankRequest
              description: Invalid request.
            - value: InvalidExportLogsRequest
              description: Invalid request.
            - value: InvalidRequest
              description: Invalid request.
            - value: InvalidContainer
              description: SAS Uri must be the Uri to a container that has write permissions.
            - value: InvalidModelMetadata
              description: Invalid model metadata.
            - value: ApprenticeModeNeverTurnedOn
              description: Apprentice mode never turned on.
            - value: MissingAppId
              description: AppId is missing in the header.
            - value: InvalidRewardWaitTime
              description: Reward wait time should be either 10 minutes or 4 hours or 12 hours or 24 hours
            - value: InvalidLogRetentionDays
              description: Log Retention Days must be -1 to store indefinitely or must be at least reward wait time plus 1 day (rounded up)
            - value: InvalidMultiSlotApiAccess
              description: Multi-slot feature is currently disabled. Please follow multi-slot Personalizer documentation to update your loop settings to enable multi-slot functionality.
            - value: PayloadSizeExceeded
              description: Exceeds maximum allowed payload size.
            - value: InvalidModelImportSignature
              description: Given model file is not signed or does not have a valid signature.
            - value: InvalidModelImportFormat
              description: Given model file format is invalid.
            - value: InvalidApiAccess
              description: Api is currently disabled for the instance.
            - value: ModelFileAccessDenied
              description: Key vault Key used for customer managed key cannot be accessed.
            - value: ProblemTypeIncompatibleWithAutoOptimization
              description: Auto-optimization is not compatible with multi-slot personalization.
            - value: ResourceNotFound
              description: Requested resource does not exist on the server.
            - value: FrontEndNotFound
              description: Front end not found.
            - value: EvaluationNotFound
              description: Offline Evaluation not found.
            - value: LearningSettingsNotFound
              description: Learning Settings not found in evaluation.
            - value: EvaluationModelNotFound
              description: Model not found in evaluation.
            - value: LogsPropertiesNotFound
              description: Log properties not found.
            - value: ModelRankingError
              description: Error while ranking actions using model. Please verify the learning settings are valid.
            - value: InternalServerError
              description: A generic error has occurred on the server.
            - value: RankNullResponse
              description: Rank call returned null response.
            - value: UpdateConfigurationFailed
              description: Failed to update configuration.
            - value: ModelResetFailed
              description: Model reset failed.
            - value: ModelPublishFailed
              description: Model publish failed.
            - value: ModelMetadataUpdateFailed
              description: Model metadata update failed.
            - value: OperationNotAllowed
              description: This operation is not allowed at this time.
        message:
          description: A message explaining the error reported by the service.
          type: string
        target:
          description: Error source element.
          type: string
        details:
          description: An array of details about specific errors that led to this reported error.
          type: array
          items:
            $ref: '#/components/schemas/PersonalizerError_2'
        innerError:
          $ref: '#/components/schemas/InternalError'
    BatchEventCommand:
      type: object
      properties:
        events:
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/BaseEvent'
    InnerErrorResponse:
      description: A nested structure of errors.
      type: object
      properties:
        code:
          description: The error code.
          type: string
        innerError:
          $ref: '#/components/schemas/InnerErrorResponse'
          description: A nested list of inner errors. When evaluating errors, clients MUST traverse through all of the nested “innerErrors” and choose the deepest one that they understand.
    BaseEvent:
      description: Base event is the envelope used to post event data to the Event controller
      type: object
      properties:
        timestamp:
          format: date-time
          type: string
        name:
          type: string
        data:
          type: object
    KeyValuePairBaseEventErrorResponse:
      type: object
      properties:
        key:
          $ref: '#/components/schemas/BaseEvent'
          readOnly: true
        value:
          $ref: '#/components/schemas/ErrorResponse_4'
          readOnly: true
    RootError:
      description: The root error.
      type: object
      properties:
        code:
          description: 'The service-defined error code. Supported error codes: ServiceError, UserError, ValidationError, AzureStorageError, TransientError, RequestThrottled.'
          type: string
        message:
          description: A human-readable representation of the error.
          type: string
        target:
          description: The target of the error (e.g., the name of the property in error).
          type: string
        details:
          description: The related errors that occurred during the request.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetails'
        innerError:
          $ref: '#/components/schemas/InnerErrorResponse'
          description: A nested list of inner errors. When evaluating errors, clients MUST traverse through all of the nested “innerErrors” and choose the deepest one that they understand.
    BatchEventCommandResult:
      type: object
      properties:
        errors:
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/KeyValuePairBaseEventErrorResponse'
    ErrorResponse_4:
      description: The error response.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/RootError'
          description: The top level error that occurred.
        correlation:
          description: Dictionary containing correlation details for the error.
          type: object
          additionalProperties:
            type: string
        environment:
          description: The hosting environment.
          type: string
        location:
          description: The Azure region.
          type: string
        time:
          format: date-time
          description: The time in UTC.
          type: string
    ErrorDetails:
      description: The error details.
      type: object
      properties:
        code:
          description: The error code.
          type: string
        message:
          description: The error message.
          type: string
        target:
          description: The target of the error (e.g., the name of the property in error).
          type: string
  parameters:
    FilterParameter:
      name: $filter
      in: query
      required: false
      description: The filter to apply on the operation. For more information please see https://docs.microsoft.com/en-us/rest/api/apimanagement/apis?redirectedfrom=MSDN
      x-ms-parameter-location: method
      schema:
        type: string
    QueryStartTimeParameter:
      name: queryStartTime
      in: query
      required: false
      description: Specifies from when to return events, based on the lastUpdateTime property. For example, queryStartTime = 7/24/2020 OR queryStartTime=7%2F24%2F2020
      x-ms-parameter-location: method
      schema:
        type: string
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The Azure Subscription ID.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        format: uuid
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The Name of the resource group in which the workspace is located.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    workspaceNameParameter:
      name: workspaceName
      in: path
      description: The name of the workspace.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
    apim_key:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
x-refined-from:
- microsoftresourcehealth-openapi-original.yml
- personalizer-client-2022-09-01-preview-openapi-original.yml
- personalizer-client-v11-preview3-openapi-original.yml
- run-history-apis-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
