openapi: 3.2.0
info:
  title: Microsoft Azure Azure Communication Services Management…
  version: 2023-06-01-preview
  description: REST API for Email Services/Domains/SuppressionLists
servers:
- url: https://management.azure.com
tags:
- name: SuppressionLists
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}/suppressionLists
  : get:
      description: List all suppression lists for a domains resource.
      operationId: microsoftAzureSuppressionlistsListbydomain
      summary: Microsoft Azure List
      tags:
      - SuppressionLists
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: EmailServices.json#/parameters/EmailServiceName
      - $ref: '#/components/parameters/DomainName'
      responses:
        '200':
          description: Success. The response describe the Domains SuppressionList resource collection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuppressionListResourceCollection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Get all SuppressionLists resources.:
          $ref: ./examples/suppressionLists/getSuppressionLists.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}/suppressionLists/{suppressionListName}
  : get:
      description: Get a SuppressionList resource.
      operationId: microsoftAzureSuppressionlistsGet
      summary: Microsoft Azure Get
      tags:
      - SuppressionLists
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: EmailServices.json#/parameters/EmailServiceName
      - $ref: '#/components/parameters/DomainName'
      - $ref: '#/components/parameters/SuppressionListName'
      responses:
        '200':
          description: Success. The response describes the corresponding SuppressionList resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuppressionListResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Get a SuppressionList resource.:
          $ref: ./examples/suppressionLists/getSuppressionList.json
    put:
      description: Add a new SuppressionList resource under the parent Domains resource or update an existing SuppressionList resource.
      operationId: microsoftAzureSuppressionlistsCreateorupdate
      summary: Microsoft Azure Create Or Update
      tags:
      - SuppressionLists
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: EmailServices.json#/parameters/EmailServiceName
      - $ref: '#/components/parameters/DomainName'
      - $ref: '#/components/parameters/SuppressionListName'
      responses:
        '200':
          description: The resource was updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuppressionListResource'
        '201':
          description: The resource was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuppressionListResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        CreateOrUpdate SuppressionLists resource.:
          $ref: ./examples/suppressionLists/createOrUpdateSuppressionList.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuppressionListResource'
        description: Parameters for the create or update operation
        required: true
    delete:
      description: Delete a SuppressionList.
      operationId: microsoftAzureSuppressionlistsDelete
      summary: Microsoft Azure Delete
      tags:
      - SuppressionLists
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: EmailServices.json#/parameters/EmailServiceName
      - $ref: '#/components/parameters/DomainName'
      - $ref: '#/components/parameters/SuppressionListName'
      responses:
        '200':
          description: The resource was deleted successfully.
        '204':
          description: The resource did not exist to be deleted.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Delete a SuppressionLists resource.:
          $ref: ./examples/suppressionLists/deleteSuppressionList.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}/suppressionLists/{suppressionListName}/suppressionListAddresses
  : get:
      description: Get all the addresses in a suppression list.
      operationId: microsoftAzureSuppressionlistaddressesList
      summary: Microsoft Azure Get
      tags:
      - SuppressionLists
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: EmailServices.json#/parameters/EmailServiceName
      - $ref: '#/components/parameters/DomainName'
      - $ref: '#/components/parameters/SuppressionListName'
      responses:
        '200':
          description: Success. The collection of SuppressionListAddresses for a SuppressionList.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuppressionListAddressResourceCollection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Get all SuppressionListAddresses resources for a SuppressionList resource.:
          $ref: ./examples/suppressionLists/getAddresses.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}/suppressionLists/{suppressionListName}/suppressionListAddresses/{addressId}
  : get:
      description: Get a SuppressionListAddress.
      operationId: microsoftAzureSuppressionlistaddressesGet
      summary: Microsoft Azure Get
      tags:
      - SuppressionLists
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: EmailServices.json#/parameters/EmailServiceName
      - $ref: '#/components/parameters/DomainName'
      - $ref: '#/components/parameters/SuppressionListName'
      - $ref: '#/components/parameters/SuppressionListAddressId'
      responses:
        '200':
          description: Success. The suppression list address object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuppressionListAddressResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Get a SuppressionListAddress resource.:
          $ref: ./examples/suppressionLists/getAddress.json
    put:
      description: Create or update a SuppressionListAddress.
      operationId: microsoftAzureSuppressionlistaddressesCreateorupdate
      summary: Microsoft Azure Create Or Update
      tags:
      - SuppressionLists
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: EmailServices.json#/parameters/EmailServiceName
      - $ref: '#/components/parameters/DomainName'
      - $ref: '#/components/parameters/SuppressionListName'
      - $ref: '#/components/parameters/SuppressionListAddressId'
      responses:
        '200':
          description: The resource was updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuppressionListAddressResource'
        '201':
          description: The resource was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuppressionListAddressResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        CreateOrUpdate SuppressionListAddress resource:
          $ref: ./examples/suppressionLists/createOrUpdateAddress.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuppressionListAddressResource'
        description: Parameters for the create or update operation
        required: true
    delete:
      description: Operation to delete a single address from a suppression list.
      operationId: microsoftAzureSuppressionlistaddressesDelete
      summary: Microsoft Azure Delete
      tags:
      - SuppressionLists
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: EmailServices.json#/parameters/EmailServiceName
      - $ref: '#/components/parameters/DomainName'
      - $ref: '#/components/parameters/SuppressionListName'
      - $ref: '#/components/parameters/SuppressionListAddressId'
      responses:
        '200':
          description: The resource was deleted successfully.
        '204':
          description: The resource did not exist to be deleted.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Delete a SuppressionListAddress resource.:
          $ref: ./examples/suppressionLists/deleteAddress.json
components:
  parameters:
    SuppressionListAddressId:
      name: addressId
      in: path
      description: The id of the address in a suppression list.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 253
        minLength: 1
        pattern: ^[a-zA-Z0-9-]+$
    DomainName:
      name: domainName
      in: path
      description: The name of the Domains resource.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 253
        minLength: 1
        pattern: .*
    SuppressionListName:
      name: suppressionListName
      in: path
      description: The name of the suppression list.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 253
        minLength: 1
        pattern: ^[a-zA-Z0-9-]+$
  schemas:
    SuppressionListAddressResourceCollection:
      description: Collection of addresses in a suppression list. Response will include a nextLink if response contains more pages.
      type: object
      properties:
        value:
          description: List of suppressed email addresses.
          type: array
          items:
            $ref: '#/components/schemas/SuppressionListAddressResource'
        nextLink:
          description: The URL the client should use to fetch the next page (per server side paging).
          type: string
    SuppressionListResourceCollection:
      description: A class representing a Domains SuppressionListResource collection.
      type: object
      properties:
        value:
          description: List of SuppressionListResource
          type: array
          items:
            $ref: '#/components/schemas/SuppressionListResource'
        nextLink:
          description: The URL the client should use to fetch the next page (per server side paging).
          type: string
    SuppressionListAddressResource:
      description: A object that represents a SuppressionList record.
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
      properties:
        properties:
          $ref: '#/components/schemas/SuppressionListAddressProperties'
          description: The properties of a SuppressionListAddress resource.
          x-ms-client-flatten: true
    SuppressionListResource:
      description: A class representing a SuppressionList resource.
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
      properties:
        properties:
          $ref: '#/components/schemas/SuppressionListProperties'
          description: The properties of a SuppressionList resource.
          x-ms-client-flatten: true
    SuppressionListProperties:
      description: A class that describes the properties of a SuppressionList resource.
      type: object
      properties:
        listName:
          description: The the name of the suppression list. This value must match one of the valid sender usernames of the sending domain.
          type: string
        lastUpdatedTimeStamp:
          description: The date the resource was last updated.
          type: string
          readOnly: true
        createdTimeStamp:
          description: The date the resource was created.
          type: string
          readOnly: true
        dataLocation:
          description: The location where the SuppressionListAddress data is stored at rest. This value is inherited from the parent Domains resource.
          type: string
          readOnly: true
    SuppressionListAddressProperties:
      description: A class that describes the properties of a SuppressionListAddress resource.
      type: object
      required:
      - email
      properties:
        email:
          description: Email address of the recipient.
          type: string
        firstName:
          description: The first name of the email recipient.
          type: string
        lastName:
          description: The last name of the email recipient.
          type: string
        notes:
          description: An optional property to provide contextual notes or a description for an address.
          type: string
        lastModified:
          description: The date the address was last updated in a suppression list.
          type: string
          format: date-time
          readOnly: true
        dataLocation:
          description: The location where the SuppressionListAddress data is stored at rest. This value is inherited from the parent Domains resource.
          type: string
          readOnly: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
