openapi: 3.2.0
info:
  title: Microsoft Azure SecurityAdminConfiguration Admin Rule…
  version: 2022-02-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: AdminRuleCollections
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityAdminConfigurations/{configurationName}/ruleCollections
  : get:
      tags:
      - AdminRuleCollections
      operationId: microsoftAzureAdminrulecollectionsList
      description: Lists all the rule collections in a security admin configuration, in a paginated format.
      parameters:
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/NetworkManagerNameParameter'
      - $ref: '#/components/parameters/SecurityConfigurationParameter'
      - $ref: '#/components/parameters/ListTopParameter'
      - $ref: '#/components/parameters/ListSkipTokenParameter'
      responses:
        '200':
          description: Get successful. The operation returns all ruleCollections in the specified security configuration, in a paginated format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminRuleCollectionListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List security admin rule collections:
          $ref: ./examples/NetworkManagerAdminRuleCollectionList.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityAdminConfigurations/{configurationName}/ruleCollections/{ruleCollectionName}
  : parameters:
    - $ref: ./network.json#/parameters/ApiVersionParameter
    - $ref: ./network.json#/parameters/SubscriptionIdParameter
    - $ref: '#/components/parameters/ResourceGroupNameParameter'
    - $ref: '#/components/parameters/NetworkManagerNameParameter'
    - $ref: '#/components/parameters/SecurityConfigurationParameter'
    - $ref: '#/components/parameters/RuleCollectionParameter'
    get:
      tags:
      - AdminRuleCollections
      description: Gets a network manager security admin configuration rule collection.
      operationId: microsoftAzureAdminrulecollectionsGet
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminRuleCollection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        Gets security admin rule collection:
          $ref: ./examples/NetworkManagerAdminRuleCollectionGet.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - AdminRuleCollections
      description: Creates or updates an admin rule collection.
      operationId: microsoftAzureAdminrulecollectionsCreateorupdate
      responses:
        '200':
          description: Updated Rule Collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminRuleCollection'
        '201':
          description: Created Rule Collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminRuleCollection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        Create or Update an admin rule collection:
          $ref: ./examples/NetworkManagerAdminRuleCollectionPut.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminRuleCollection'
        description: The Rule Collection to create or update
        required: true
    delete:
      tags:
      - AdminRuleCollections
      description: Deletes an admin rule collection.
      operationId: microsoftAzureAdminrulecollectionsDelete
      parameters:
      - $ref: '#/components/parameters/ForceDeleteParameter'
      responses:
        '200':
          description: OK
        '204':
          description: Request successful. Resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        Deletes an admin rule collection:
          $ref: ./examples/NetworkManagerAdminRuleCollectionDelete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    AdminRuleCollection:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/AdminRuleCollectionPropertiesFormat'
          description: Indicates the properties for the network manager admin rule collection.
        systemData:
          readOnly: true
          description: The system metadata related to this resource.
          $ref: ./network.json#/definitions/SystemData
      allOf:
      - $ref: ./network.json#/definitions/ProxyResource
      description: Defines the admin rule collection.
    NetworkManagerSecurityGroupItem:
      type: object
      properties:
        networkGroupId:
          type: string
          description: Network manager group Id.
      required:
      - networkGroupId
      description: Network manager security group item.
    AdminRuleCollectionListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/AdminRuleCollection'
          description: A list of network manager security admin configuration rule collections
        nextLink:
          type: string
          description: Gets the URL to get the next set of results.
      description: Security admin configuration rule collection list result.
    AdminRuleCollectionPropertiesFormat:
      type: object
      properties:
        description:
          type: string
          description: A description of the admin rule collection.
        appliesToGroups:
          type: array
          x-ms-identifiers:
          - networkGroupId
          items:
            $ref: '#/components/schemas/NetworkManagerSecurityGroupItem'
          description: Groups for configuration
        provisioningState:
          readOnly: true
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the resource.
      required:
      - appliesToGroups
      description: Defines the admin rule collection properties.
  parameters:
    RuleCollectionParameter:
      name: ruleCollectionName
      in: path
      description: The name of the network manager security Configuration rule collection.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
    ListTopParameter:
      name: $top
      description: An optional query parameter which specifies the maximum number of records to be returned by the server.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        maximum: 20
        minimum: 1
    ForceDeleteParameter:
      name: force
      in: query
      required: false
      description: Deletes the resource even if it is part of a deployed configuration. If the configuration has been deployed, the service will do a cleanup deployment in the background, prior to the delete.
      x-ms-parameter-location: method
      schema:
        type: boolean
    ListSkipTokenParameter:
      name: $skipToken
      description: SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    SecurityConfigurationParameter:
      name: configurationName
      in: path
      description: The name of the network manager Security Configuration.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    NetworkManagerNameParameter:
      name: networkManagerName
      in: path
      required: true
      description: The name of the network manager.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
