openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft Storage Sync…
  description: Microsoft Storage Sync Service API. This belongs to Microsoft.StorageSync Resource Provider
  version: '2022-09-01'
  x-ms-code-generation-settings:
    name: StorageSyncManagementClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: PrivateEndpointConnection Resource
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/privateEndpointConnections
  : get:
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - name: storageSyncServiceName
        in: path
        description: Name of Storage Sync Service resource.
        required: true
        schema:
          type: string
      tags:
      - PrivateEndpointConnection Resource
      operationId: microsoftAzurePrivateendpointconnectionsListbystoragesyncservice
      description: Get a PrivateEndpointConnection List.
      x-ms-examples:
        PrivateEndpointConnections_ListByStorageSyncService:
          $ref: ./examples/PrivateEndpointConnections_ListByStorageSyncService.json
      responses:
        '200':
          description: Array of Sync Group resources in Storage Sync Service
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/privatelinks.json#/definitions/PrivateEndpointConnectionListResult
        default:
          description: Error message indicating why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    StorageSyncErrorDetails:
      type: object
      description: Error Details object.
      properties:
        code:
          type: string
          description: Error code of the given entry.
        message:
          type: string
          description: Error message of the given entry.
        target:
          type: string
          description: Target of the given entry.
        requestUri:
          type: string
          description: Request URI of the given entry.
        exceptionType:
          type: string
          description: Exception type of the given entry.
        httpMethod:
          type: string
          description: HTTP method of the given entry.
        hashedMessage:
          type: string
          description: Hashed message of the given entry.
        httpErrorCode:
          type: string
          description: HTTP error code of the given entry.
    StorageSyncApiError:
      type: object
      description: Error type
      properties:
        code:
          type: string
          description: Error code of the given entry.
        message:
          type: string
          description: Error message of the given entry.
        target:
          type: string
          description: Target of the given error entry.
        details:
          $ref: '#/components/schemas/StorageSyncErrorDetails'
          description: Error details of the given entry.
        innererror:
          $ref: '#/components/schemas/StorageSyncInnerErrorDetails'
          description: Inner error details of the given entry.
    StorageSyncError:
      type: object
      description: Error type
      properties:
        error:
          $ref: '#/components/schemas/StorageSyncApiError'
          description: Error details of the given entry.
        innererror:
          $ref: '#/components/schemas/StorageSyncApiError'
          description: Error details of the given entry.
    StorageSyncInnerErrorDetails:
      type: object
      description: Error Details object.
      properties:
        callStack:
          type: string
          description: Call stack of the error.
        message:
          type: string
          description: Error message of the error.
        innerException:
          type: string
          description: Exception of the inner error.
        innerExceptionCallStack:
          type: string
          description: Call stack of the inner error.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
