openapi: 3.2.0
info:
  title: Microsoft Azure ComputeDiagnosticResourceProviderClient…
  description: The Compute Diagnostic Resource Provider Client
  version: 2024-03-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: diagnosticOperations
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/diagnosticOperations/{operationId}:
    get:
      tags:
      - diagnosticOperations
      operationId: microsoftAzureDiagnosticoperationsRead
      description: Gets status of a Diagnostic operation issued for Disk Inspection.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/OperationIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputeDiagnosticsOperationResult'
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Gets the status of a scheduled disk inspection request.:
          $ref: ./examples/GetDiagnosticOperation.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Compute…
components:
  schemas:
    ComputeDiagnosticsOperationResult:
      type: object
      properties:
        message:
          type: string
          description: The result of the disk inspection operation.
        responseFields:
          type: string
          description: The response fields of the disk inspection operation.
        resultStatus:
          type: string
          enum:
          - Success
          - Failed
          x-ms-enum:
            name: resultStatus
            modelAsString: true
          description: Result status of the async operation.
        errorDetail:
          $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorDetail
          description: The API error details.
        createdUTC:
          type: string
          format: date-time
          description: The time when the disk inspection was completed.
      description: Api output result when Compute Diagnostic operation is completed.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
