openapi: 3.2.0
info:
  version: '2023-06-01'
  title: Microsoft Azure SiteRecoveryManagementClient Replication…
  x-ms-code-generation-settings:
    header: MICROSOFT_MIT_NO_VERSION
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ReplicationRecoveryPlans
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationRecoveryPlans
  : get:
      tags:
      - ReplicationRecoveryPlans
      summary: Microsoft Azure Gets The List Of Recovery Plans
      description: Lists the recovery plans in the vault.
      operationId: microsoftAzureReplicationrecoveryplansList
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoveryPlanCollection'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Gets the list of recovery plans.:
          $ref: ./examples/ReplicationRecoveryPlans_List.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationRecoveryPlans/{recoveryPlanName}
  : get:
      tags:
      - ReplicationRecoveryPlans
      summary: Microsoft Azure Gets The Requested Recovery Plan
      description: Gets the details of the recovery plan.
      operationId: microsoftAzureReplicationrecoveryplansGet
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: recoveryPlanName
        in: path
        description: Name of the recovery plan.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoveryPlan'
      x-ms-examples:
        Gets the requested recovery plan.:
          $ref: ./examples/ReplicationRecoveryPlans_Get.json
    put:
      tags:
      - ReplicationRecoveryPlans
      summary: Microsoft Azure Creates A Recovery Plan With The Given Details
      description: The operation to create a recovery plan.
      operationId: microsoftAzureReplicationrecoveryplansCreate
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: recoveryPlanName
        in: path
        description: Recovery plan name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoveryPlan'
        '202':
          description: Accepted
      x-ms-long-running-operation: true
      x-ms-examples:
        Creates a recovery plan with the given details.:
          $ref: ./examples/ReplicationRecoveryPlans_Create.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRecoveryPlanInput'
        description: Recovery Plan creation input.
        required: true
    delete:
      tags:
      - ReplicationRecoveryPlans
      summary: Microsoft Azure Deletes The Specified Recovery Plan
      description: Delete a recovery plan.
      operationId: microsoftAzureReplicationrecoveryplansDelete
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: recoveryPlanName
        in: path
        description: Recovery plan name.
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Accepted
        '204':
          description: NoContent
      x-ms-long-running-operation: true
      x-ms-examples:
        Deletes the specified recovery plan.:
          $ref: ./examples/ReplicationRecoveryPlans_Delete.json
    patch:
      tags:
      - ReplicationRecoveryPlans
      summary: Microsoft Azure Updates The Given Recovery Plan
      description: The operation to update a recovery plan.
      operationId: microsoftAzureReplicationrecoveryplansUpdate
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: recoveryPlanName
        in: path
        description: Recovery plan name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoveryPlan'
        '202':
          description: Accepted
      x-ms-long-running-operation: true
      x-ms-examples:
        Updates the given recovery plan.:
          $ref: ./examples/ReplicationRecoveryPlans_Update.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRecoveryPlanInput'
        description: Update recovery plan input.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationRecoveryPlans/{recoveryPlanName}/failoverCancel
  : post:
      tags:
      - ReplicationRecoveryPlans
      summary: Microsoft Azure Execute Cancel Failover Of The Recovery Plan
      description: The operation to cancel the failover of a recovery plan.
      operationId: microsoftAzureReplicationrecoveryplansFailovercancel
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: recoveryPlanName
        in: path
        description: Recovery plan name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoveryPlan'
        '202':
          description: Accepted
      x-ms-long-running-operation: true
      x-ms-examples:
        Execute cancel failover of the recovery plan.:
          $ref: ./examples/ReplicationRecoveryPlans_FailoverCancel.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationRecoveryPlans/{recoveryPlanName}/failoverCommit
  : post:
      tags:
      - ReplicationRecoveryPlans
      summary: Microsoft Azure Execute Commit Failover Of The Recovery Plan
      description: The operation to commit the failover of a recovery plan.
      operationId: microsoftAzureReplicationrecoveryplansFailovercommit
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: recoveryPlanName
        in: path
        description: Recovery plan name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoveryPlan'
        '202':
          description: Accepted
      x-ms-long-running-operation: true
      x-ms-examples:
        Execute commit failover of the recovery plan.:
          $ref: ./examples/ReplicationRecoveryPlans_FailoverCommit.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationRecoveryPlans/{recoveryPlanName}/plannedFailover
  : post:
      tags:
      - ReplicationRecoveryPlans
      summary: Microsoft Azure Execute Planned Failover Of The Recovery Plan
      description: The operation to start the planned failover of a recovery plan.
      operationId: microsoftAzureReplicationrecoveryplansPlannedfailover
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: recoveryPlanName
        in: path
        description: Recovery plan name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoveryPlan'
        '202':
          description: Accepted
      x-ms-long-running-operation: true
      x-ms-examples:
        Execute planned failover of the recovery plan.:
          $ref: ./examples/ReplicationRecoveryPlans_PlannedFailover.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecoveryPlanPlannedFailoverInput'
        description: Failover input.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationRecoveryPlans/{recoveryPlanName}/reProtect
  : post:
      tags:
      - ReplicationRecoveryPlans
      summary: Microsoft Azure Execute Reprotect Of The Recovery Plan
      description: The operation to reprotect(reverse replicate) a recovery plan.
      operationId: microsoftAzureReplicationrecoveryplansReprotect
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: recoveryPlanName
        in: path
        description: Recovery plan name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoveryPlan'
        '202':
          description: Accepted
      x-ms-long-running-operation: true
      x-ms-examples:
        Execute reprotect of the recovery plan.:
          $ref: ./examples/ReplicationRecoveryPlans_Reprotect.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationRecoveryPlans/{recoveryPlanName}/testFailover
  : post:
      tags:
      - ReplicationRecoveryPlans
      summary: Microsoft Azure Execute Test Failover Of The Recovery Plan
      description: The operation to start the test failover of a recovery plan.
      operationId: microsoftAzureReplicationrecoveryplansTestfailover
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: recoveryPlanName
        in: path
        description: Recovery plan name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoveryPlan'
        '202':
          description: Accepted
      x-ms-long-running-operation: true
      x-ms-examples:
        Execute test failover of the recovery plan.:
          $ref: ./examples/ReplicationRecoveryPlans_TestFailover.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecoveryPlanTestFailoverInput'
        description: Recovery plan test failover input.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationRecoveryPlans/{recoveryPlanName}/testFailoverCleanup
  : post:
      tags:
      - ReplicationRecoveryPlans
      summary: Microsoft Azure Execute Test Failover Cleanup Of The Recovery Plan
      description: The operation to cleanup test failover of a recovery plan.
      operationId: microsoftAzureReplicationrecoveryplansTestfailovercleanup
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: recoveryPlanName
        in: path
        description: Recovery plan name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoveryPlan'
        '202':
          description: Accepted
      x-ms-long-running-operation: true
      x-ms-examples:
        Execute test failover cleanup of the recovery plan.:
          $ref: ./examples/ReplicationRecoveryPlans_TestFailoverCleanup.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecoveryPlanTestFailoverCleanupInput'
        description: Recovery plan test failover cleanup input.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationRecoveryPlans/{recoveryPlanName}/unplannedFailover
  : post:
      tags:
      - ReplicationRecoveryPlans
      summary: Microsoft Azure Execute Unplanned Failover Of The Recovery Plan
      description: The operation to start the unplanned failover of a recovery plan.
      operationId: microsoftAzureReplicationrecoveryplansUnplannedfailover
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: recoveryPlanName
        in: path
        description: Recovery plan name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoveryPlan'
        '202':
          description: Accepted
      x-ms-long-running-operation: true
      x-ms-examples:
        Execute unplanned failover of the recovery plan.:
          $ref: ./examples/ReplicationRecoveryPlans_UnplannedFailover.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecoveryPlanUnplannedFailoverInput'
        description: Recovery plan unplanned failover input.
        required: true
components:
  schemas:
    RecoveryPlanCollection:
      description: Recovery plan collection details.
      type: object
      properties:
        value:
          description: The list of recovery plans.
          type: array
          items:
            $ref: '#/components/schemas/RecoveryPlan'
        nextLink:
          description: The value of next link.
          type: string
    RecoveryPlanPlannedFailoverInput:
      description: Recovery plan planned failover input.
      required:
      - properties
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/RecoveryPlanPlannedFailoverInputProperties'
          description: The recovery plan planned failover input properties.
    RecoveryPlanUnplannedFailoverInput:
      description: Recovery plan unplanned failover input.
      required:
      - properties
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/RecoveryPlanUnplannedFailoverInputProperties'
          description: The recovery plan unplanned failover input properties.
    UpdateRecoveryPlanInput:
      description: Update recovery plan input class.
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/UpdateRecoveryPlanInputProperties'
          description: Recovery plan update properties.
    RecoveryPlanTestFailoverInputProperties:
      description: Recovery plan test failover input properties.
      required:
      - failoverDirection
      - networkType
      type: object
      properties:
        failoverDirection:
          description: The failover direction.
          enum:
          - PrimaryToRecovery
          - RecoveryToPrimary
          type: string
          x-ms-enum:
            name: PossibleOperationsDirections
            modelAsString: true
        networkType:
          description: The network type to be used for test failover.
          type: string
        networkId:
          description: The Id of the network to be used for test failover.
          type: string
        providerSpecificDetails:
          description: The provider specific properties.
          maxLength: 1
          type: array
          items:
            $ref: '#/components/schemas/RecoveryPlanProviderSpecificFailoverInput'
    CreateRecoveryPlanInput:
      description: Create recovery plan input class.
      required:
      - properties
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/CreateRecoveryPlanInputProperties'
          description: Recovery plan creation properties.
    UpdateRecoveryPlanInputProperties:
      description: Recovery plan update properties.
      type: object
      properties:
        groups:
          description: The recovery plan groups.
          type: array
          items:
            $ref: '#/components/schemas/RecoveryPlanGroup'
    RecoveryPlanTestFailoverCleanupInput:
      description: Recovery plan test failover cleanup input.
      required:
      - properties
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/RecoveryPlanTestFailoverCleanupInputProperties'
          description: The recovery plan test failover cleanup input properties.
    RecoveryPlan:
      description: Recovery plan details.
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/RecoveryPlanProperties'
          description: The custom details.
    RecoveryPlanActionDetails:
      description: Recovery plan action custom details.
      required:
      - instanceType
      type: object
      properties:
        instanceType:
          description: Gets the type of action details (see RecoveryPlanActionDetailsTypes enum for possible values).
          type: string
      discriminator:
        propertyName: instanceType
    CurrentScenarioDetails:
      description: Current scenario details of the protected entity.
      type: object
      properties:
        scenarioName:
          description: Scenario name.
          type: string
        jobId:
          description: ARM Id of the job being executed.
          type: string
        startTime:
          format: date-time
          description: Start time of the workflow.
          type: string
    RecoveryPlanTestFailoverCleanupInputProperties:
      description: Recovery plan test failover cleanup input properties.
      type: object
      properties:
        comments:
          description: The test failover cleanup comments.
          maxLength: 1024
          type: string
    RecoveryPlanProviderSpecificInput:
      description: Recovery plan provider specific input base class.
      required:
      - instanceType
      type: object
      properties:
        instanceType:
          description: Gets the Instance type.
          type: string
      discriminator:
        propertyName: instanceType
    RecoveryPlanProviderSpecificDetails:
      description: Recovery plan provider specific details.
      required:
      - instanceType
      type: object
      properties:
        instanceType:
          description: Gets the Instance type.
          type: string
      discriminator:
        propertyName: instanceType
    RecoveryPlanProtectedItem:
      description: Recovery plan protected item.
      type: object
      properties:
        id:
          description: The ARM Id of the recovery plan protected item.
          type: string
        virtualMachineId:
          description: The virtual machine Id.
          type: string
    RecoveryPlanProperties:
      description: Recovery plan properties.
      type: object
      properties:
        friendlyName:
          description: The friendly name.
          type: string
        primaryFabricId:
          description: The primary fabric Id.
          type: string
        primaryFabricFriendlyName:
          description: The primary fabric friendly name.
          type: string
        recoveryFabricId:
          description: The recovery fabric Id.
          type: string
        recoveryFabricFriendlyName:
          description: The recovery fabric friendly name.
          type: string
        failoverDeploymentModel:
          description: The failover deployment model.
          type: string
        replicationProviders:
          description: The list of replication providers.
          type: array
          items:
            type: string
        allowedOperations:
          description: The list of allowed operations.
          type: array
          items:
            type: string
        lastPlannedFailoverTime:
          format: date-time
          description: The start time of the last planned failover.
          type: string
        lastUnplannedFailoverTime:
          format: date-time
          description: The start time of the last unplanned failover.
          type: string
        lastTestFailoverTime:
          format: date-time
          description: The start time of the last test failover.
          type: string
        currentScenario:
          $ref: '#/components/schemas/CurrentScenarioDetails'
          description: The current scenario details.
        currentScenarioStatus:
          description: The recovery plan status.
          type: string
        currentScenarioStatusDescription:
          description: The recovery plan status description.
          type: string
        groups:
          description: The recovery plan groups.
          type: array
          items:
            $ref: '#/components/schemas/RecoveryPlanGroup'
        providerSpecificDetails:
          description: The provider id and provider specific details.
          type: array
          items:
            $ref: '#/components/schemas/RecoveryPlanProviderSpecificDetails'
    RecoveryPlanProviderSpecificFailoverInput:
      description: Recovery plan provider specific failover input.
      required:
      - instanceType
      type: object
      properties:
        instanceType:
          description: The class type.
          type: string
      discriminator:
        propertyName: instanceType
    RecoveryPlanPlannedFailoverInputProperties:
      description: Recovery plan planned failover input properties.
      required:
      - failoverDirection
      type: object
      properties:
        failoverDirection:
          description: The failover direction.
          enum:
          - PrimaryToRecovery
          - RecoveryToPrimary
          type: string
          x-ms-enum:
            name: PossibleOperationsDirections
            modelAsString: true
        providerSpecificDetails:
          description: The provider specific properties.
          type: array
          items:
            $ref: '#/components/schemas/RecoveryPlanProviderSpecificFailoverInput'
    Resource:
      description: Azure resource.
      type: object
      properties:
        id:
          description: Resource Id
          type: string
          readOnly: true
        name:
          description: Resource Name
          type: string
          readOnly: true
        type:
          description: Resource Type
          type: string
          readOnly: true
        location:
          description: Resource Location
          type: string
      x-ms-azure-resource: true
    RecoveryPlanGroup:
      description: Recovery plan group details.
      required:
      - groupType
      type: object
      properties:
        groupType:
          description: The group type.
          enum:
          - Shutdown
          - Boot
          - Failover
          type: string
          x-ms-enum:
            name: RecoveryPlanGroupType
            modelAsString: true
        replicationProtectedItems:
          description: The list of protected items.
          type: array
          items:
            $ref: '#/components/schemas/RecoveryPlanProtectedItem'
        startGroupActions:
          description: The start group actions.
          type: array
          items:
            $ref: '#/components/schemas/RecoveryPlanAction'
        endGroupActions:
          description: The end group actions.
          type: array
          items:
            $ref: '#/components/schemas/RecoveryPlanAction'
    RecoveryPlanTestFailoverInput:
      description: Recovery plan test failover input.
      required:
      - properties
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/RecoveryPlanTestFailoverInputProperties'
          description: The recovery plan test failover input properties.
    RecoveryPlanUnplannedFailoverInputProperties:
      description: Recovery plan unplanned failover input properties.
      required:
      - failoverDirection
      - sourceSiteOperations
      type: object
      properties:
        failoverDirection:
          description: The failover direction.
          enum:
          - PrimaryToRecovery
          - RecoveryToPrimary
          type: string
          x-ms-enum:
            name: PossibleOperationsDirections
            modelAsString: true
        sourceSiteOperations:
          description: A value indicating whether source site operations are required.
          enum:
          - Required
          - NotRequired
          type: string
          x-ms-enum:
            name: SourceSiteOperations
            modelAsString: true
        providerSpecificDetails:
          description: The provider specific properties.
          maxLength: 1
          type: array
          items:
            $ref: '#/components/schemas/RecoveryPlanProviderSpecificFailoverInput'
    RecoveryPlanAction:
      description: Recovery plan action details.
      required:
      - actionName
      - failoverTypes
      - failoverDirections
      - customDetails
      type: object
      properties:
        actionName:
          description: The action name.
          type: string
        failoverTypes:
          description: The list of failover types.
          type: array
          items:
            enum:
            - ReverseReplicate
            - Commit
            - PlannedFailover
            - UnplannedFailover
            - DisableProtection
            - TestFailover
            - TestFailoverCleanup
            - Failback
            - FinalizeFailback
            - CancelFailover
            - ChangePit
            - RepairReplication
            - SwitchProtection
            - CompleteMigration
            type: string
            x-ms-enum:
              name: ReplicationProtectedItemOperation
              modelAsString: true
        failoverDirections:
          description: The list of failover directions.
          type: array
          items:
            enum:
            - PrimaryToRecovery
            - RecoveryToPrimary
            type: string
            x-ms-enum:
              name: PossibleOperationsDirections
              modelAsString: true
        customDetails:
          $ref: '#/components/schemas/RecoveryPlanActionDetails'
          description: The custom details.
    CreateRecoveryPlanInputProperties:
      description: Recovery plan creation properties.
      required:
      - primaryFabricId
      - recoveryFabricId
      - groups
      type: object
      properties:
        primaryFabricId:
          description: The primary fabric Id.
          type: string
        recoveryFabricId:
          description: The recovery fabric Id.
          type: string
        failoverDeploymentModel:
          description: The failover deployment model.
          enum:
          - NotApplicable
          - Classic
          - ResourceManager
          type: string
          x-ms-enum:
            name: FailoverDeploymentModel
            modelAsString: true
        groups:
          description: The recovery plan groups.
          type: array
          items:
            $ref: '#/components/schemas/RecoveryPlanGroup'
        providerSpecificInput:
          description: The provider specific input.
          type: array
          items:
            $ref: '#/components/schemas/RecoveryPlanProviderSpecificInput'
  parameters:
    ResourceName:
      name: resourceName
      in: path
      description: The name of the recovery services vault.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    ResourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group where the recovery services vault is present.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    SubscriptionId:
      name: subscriptionId
      in: path
      description: The subscription Id.
      required: true
      schema:
        type: string
    ApiVersion:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account.
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
