openapi: 3.2.0
info:
  title: Microsoft Azure Azure Migrate Assessment Service Server…
  version: 2023-04-01-preview
  description: Azure Migrate Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ServerCollectorsOperations
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/servercollectors
  : get:
      operationId: microsoftAzureServercollectorsoperationsListbyassessmentproject
      tags:
      - ServerCollectorsOperations
      description: List ServerCollector resources by AssessmentProject
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerCollectorListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ServerCollectorsOperations_ListByAssessmentProject_MaximumSet_Gen:
          $ref: ./examples/ServerCollectorsOperations_ListByAssessmentProject_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/servercollectors/{serverCollectorName}
  : get:
      operationId: microsoftAzureServercollectorsoperationsGet
      tags:
      - ServerCollectorsOperations
      description: Get a ServerCollector
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: serverCollectorName
        in: path
        description: Physical server collector ARM name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerCollector'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        ServerCollectorsOperations_Get_MaximumSet_Gen:
          $ref: ./examples/ServerCollectorsOperations_Get_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      operationId: microsoftAzureServercollectorsoperationsCreate
      tags:
      - ServerCollectorsOperations
      description: Create a ServerCollector
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: serverCollectorName
        in: path
        description: Physical server collector ARM name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: Resource 'ServerCollector' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerCollector'
        '201':
          description: Resource 'ServerCollector' create operation succeeded
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerCollector'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      x-ms-examples:
        ServerCollectorsOperations_Create_MaximumSet_Gen:
          $ref: ./examples/ServerCollectorsOperations_Create_MaximumSet_Gen.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerCollector'
        description: Resource create parameters.
        required: true
    delete:
      operationId: microsoftAzureServercollectorsoperationsDelete
      tags:
      - ServerCollectorsOperations
      description: Delete a ServerCollector
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: serverCollectorName
        in: path
        description: Physical server collector ARM name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource deleted successfully.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        ServerCollectorsOperations_Delete_MaximumSet_Gen:
          $ref: ./examples/ServerCollectorsOperations_Delete_MaximumSet_Gen.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    CollectorAgentPropertiesBase:
      type: object
      description: Collector agent property class.
      properties:
        id:
          type: string
          description: Gets the collector agent id.
        version:
          type: string
          description: Gets the collector agent version.
        lastHeartbeatUtc:
          type: string
          format: date-time
          description: Gets the collector last heartbeat time.
        spnDetails:
          $ref: '#/components/schemas/CollectorAgentSpnPropertiesBase'
          description: Gets or sets the SPN details.
    ProvisioningState:
      type: string
      description: The status of the current operation.
      enum:
      - Succeeded
      - Failed
      - Canceled
      - Provisioning
      - Updating
      - Deleting
      - Accepted
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: Succeeded
          value: Succeeded
          description: Resource has been created.
        - name: Failed
          value: Failed
          description: Resource creation failed.
        - name: Canceled
          value: Canceled
          description: Resource creation was canceled.
        - name: Provisioning
          value: Provisioning
          description: Resource is being Provisioned.
        - name: Updating
          value: Updating
          description: Resource is being Updated.
        - name: Deleting
          value: Deleting
          description: Resource is being Deleted.
        - name: Accepted
          value: Accepted
          description: Resource is being Accepted.
    CollectorPropertiesBaseWithAgent:
      type: object
      description: Collector properties class.
      properties:
        agentProperties:
          $ref: '#/components/schemas/CollectorAgentPropertiesBase'
          description: Gets or sets the collector agent properties.
        discoverySiteId:
          type: string
          description: Gets the discovery site id.
        createdTimestamp:
          type: string
          format: date-time
          description: Gets the Timestamp when collector was created.
          readOnly: true
        updatedTimestamp:
          type: string
          format: date-time
          description: Timestamp when collector was last updated.
          readOnly: true
      allOf:
      - $ref: '#/components/schemas/AzureResourceProperties'
    ServerCollector:
      type: object
      description: Physical server collector resource.
      properties:
        properties:
          $ref: '#/components/schemas/CollectorPropertiesBaseWithAgent'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
    CollectorAgentSpnPropertiesBase:
      type: object
      description: Collector agent SPN details class.
      properties:
        authority:
          type: string
          description: Gets the AAD authority endpoint.
        applicationId:
          type: string
          description: Gets the AAD application id.
        audience:
          type: string
          description: Gets the AAD audience url.
        objectId:
          type: string
          description: Gets the object id of the AAD application.
        tenantId:
          type: string
          description: Gets the tenant id of the AAD application.
    AzureResourceProperties:
      type: object
      description: Common properties for all azure tracked and proxy resources.
      properties:
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The status of the last operation.
    ServerCollectorListResult:
      type: object
      description: The response of a ServerCollector list operation.
      properties:
        value:
          type: array
          description: The ServerCollector items on this page
          items:
            $ref: '#/components/schemas/ServerCollector'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
