openapi: 3.2.0
info:
  title: Microsoft Azure NetworkResourceProviderClient Express Route…
  description: The Windows Azure Network management API provides a RESTful set of web services that interact with Windows Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Windows Azure Networks service.
  version: 2015-05-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ExpressRouteServiceProviders
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteServiceProviders:
    get:
      tags:
      - ExpressRouteServiceProviders
      operationId: microsoftAzureExpressrouteserviceprovidersList
      description: The List ExpressRouteServiceProvider operation retrieves all the available ExpressRouteServiceProviders.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteServiceProviderListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteServiceProviderListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Network…
components:
  schemas:
    ExpressRouteServiceProviderPropertiesFormat:
      properties:
        peeringLocations:
          type: array
          items:
            type: string
          description: Gets or list of peering locations
        bandwidthsOffered:
          type: array
          items:
            $ref: '#/components/schemas/ExpressRouteServiceProviderBandwidthsOffered'
          description: Gets or bandwidths offered
        provisioningState:
          type: string
          description: 'Gets or sets Provisioning state of the resource '
      description: Properties of ExpressRouteServiceProvider
    ExpressRouteServiceProviderListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ExpressRouteServiceProvider'
          description: Gets List of ExpressRouteResourceProvider
        nextLink:
          type: string
          description: Gets the URL to get the next set of results.
      description: Response for ListExpressRouteServiceProvider Api service call
    ExpressRouteServiceProviderBandwidthsOffered:
      properties:
        offerName:
          type: string
          description: Gets the OfferName
        valueInMbps:
          type: integer
          format: int32
          description: Gets the ValueInMbps.
      description: Contains Bandwidths offered in ExpressRouteServiceProviders
    ExpressRouteServiceProvider:
      properties:
        id:
          type: string
          description: Gets or sets the ID of the resource.
        name:
          type: string
          description: Gets or sets the name of the resource.
        type:
          type: string
          description: Gets or sets the type of the resource.
        properties:
          $ref: '#/components/schemas/ExpressRouteServiceProviderPropertiesFormat'
      description: ExpressRouteResourceProvider object
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
