openapi: 3.2.0
info:
  title: Microsoft Azure MariaDBManagementClient Log Files API
  description: The Microsoft Azure management API provides create, read, update, and delete functionality for Azure MariaDB resources including servers, databases, firewall rules, VNET rules, log files and configurations with new business model.
  version: '2018-06-01'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: LogFiles
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/logFiles
  : get:
      tags:
      - LogFiles
      operationId: microsoftAzureLogfilesListbyserver
      x-ms-examples:
        LogFileList:
          $ref: ./examples/LogFileListByServer.json
      description: List all the log files in a given server.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/ServerNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogFileListResult'
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  parameters:
    ServerNameParameter:
      name: serverName
      in: path
      required: true
      description: The name of the server.
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for the request.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The subscription ID that identifies an Azure subscription.
      schema:
        type: string
  schemas:
    LogFile:
      properties:
        name:
          type: string
          description: The name of the log file.
        properties:
          $ref: '#/components/schemas/LogFileProperties'
          x-ms-client-flatten: true
          description: The properties of the log file.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource
      description: Represents a log file.
    LogFileProperties:
      properties:
        sizeInKB:
          type: integer
          format: int64
          description: Size of the log file.
        createdTime:
          type: string
          readOnly: true
          format: date-time
          description: Creation timestamp of the log file.
        lastModifiedTime:
          type: string
          readOnly: true
          format: date-time
          description: Last modified timestamp of the log file.
        type:
          type: string
          description: Type of the log file.
        url:
          type: string
          readOnly: true
          description: The url to download the log file from.
      description: The properties of a log file.
    LogFileListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/LogFile'
          description: The list of log files.
      description: A list of log files.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
