openapi: 3.2.0
info:
  title: Microsoft Azure DataLakeStoreAccountManagementClient…
  description: Creates an Azure Data Lake Store account management client.
  version: '2016-11-01'
  x-ms-code-generation-settings:
    internalConstructors: true
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: LocationUsage
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.DataLakeStore/locations/{location}/usages:
    get:
      tags:
      - LocationUsage
      operationId: microsoftAzureLocationsGetusage
      description: Gets the current usage count and the limit for the resources of the location under the subscription.
      x-ms-examples:
        UsageList:
          $ref: ./examples/Locations_GetUsage.json
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: location
        in: path
        required: true
        description: The resource location without whitespace.
        schema:
          type: string
      responses:
        '200':
          description: OK -- current usage count and limit retrieved and returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageListResult'
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
components:
  schemas:
    UsageName:
      properties:
        value:
          readOnly: true
          type: string
          description: Gets a string describing the resource name.
        localizedValue:
          readOnly: true
          type: string
          description: Gets a localized string describing the resource name.
      description: The usage names that can be used.
    Usage:
      properties:
        unit:
          readOnly: true
          type: string
          description: Gets the unit of measurement.
          enum:
          - Count
          - Bytes
          - Seconds
          - Percent
          - CountsPerSecond
          - BytesPerSecond
          x-ms-enum:
            name: UsageUnit
            modelAsString: false
        id:
          readOnly: true
          type: string
          description: Resource identifier.
        currentValue:
          readOnly: true
          type: integer
          format: int32
          description: Gets the current count of the allocated resources in the subscription.
        limit:
          readOnly: true
          type: integer
          format: int32
          description: Gets the maximum count of the resources that can be allocated in the subscription.
        name:
          $ref: '#/components/schemas/UsageName'
          readOnly: true
          description: Gets the name of the type of usage.
      description: Describes the Resource Usage.
    UsageListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Usage'
          description: Gets or sets the list of Storage Resource Usages.
      description: The response from the List Usages operation.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
