openapi: 3.2.0
info:
  title: Microsoft Azure LogicManagementClient Integration Account…
  description: REST API for Azure Logic Apps.
  version: 2018-07-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: IntegrationAccountSessions
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/sessions
  : get:
      tags:
      - IntegrationAccountSessions
      operationId: microsoftAzureIntegrationaccountsessionsList
      x-ms-examples:
        Get a list of integration account sessions:
          $ref: ./examples/IntegrationAccountSessions_List.json
      description: Gets a list of integration account sessions.
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      - name: $top
        description: The number of items to be included in the result.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: $filter
        description: 'The filter to apply on the operation. Options for filters include: ChangedTime.'
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountSessionListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/IntegrationAccountSessionFilter'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/sessions/{sessionName}
  : get:
      tags:
      - IntegrationAccountSessions
      operationId: microsoftAzureIntegrationaccountsessionsGet
      x-ms-examples:
        Get an integration account session:
          $ref: ./examples/IntegrationAccountSessions_Get.json
      description: Gets an integration account session.
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        schema:
          type: string
      - name: sessionName
        description: The integration account session name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountSession'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - IntegrationAccountSessions
      operationId: microsoftAzureIntegrationaccountsessionsCreateorupdate
      x-ms-examples:
        Create or update an integration account session:
          $ref: ./examples/IntegrationAccountSessions_CreateOrUpdate.json
      description: Creates or updates an integration account session.
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        schema:
          type: string
      - name: sessionName
        description: The integration account session name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountSession'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountSession'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationAccountSession'
        description: The integration account session.
        required: true
    delete:
      tags:
      - IntegrationAccountSessions
      operationId: microsoftAzureIntegrationaccountsessionsDelete
      x-ms-examples:
        Delete an integration account session:
          $ref: ./examples/IntegrationAccountSessions_Delete.json
      description: Deletes an integration account session.
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        schema:
          type: string
      - name: sessionName
        description: The integration account session name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    IntegrationAccountSessionListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/IntegrationAccountSession'
          description: The list of integration account sessions.
        nextLink:
          type: string
          description: The URL to get the next set of results.
      description: The list of integration account sessions.
    IntegrationAccountSession:
      type: object
      required:
      - properties
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/IntegrationAccountSessionProperties'
          description: The integration account session properties.
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: The integration account session.
    IntegrationAccountSessionProperties:
      type: object
      properties:
        createdTime:
          type: string
          format: date-time
          readOnly: true
          description: The created time.
        changedTime:
          type: string
          format: date-time
          readOnly: true
          description: The changed time.
        content:
          $ref: '#/components/schemas/Object'
          description: The session content.
      description: The integration account session properties.
    Resource:
      properties:
        id:
          type: string
          readOnly: true
          description: The resource id.
        name:
          type: string
          readOnly: true
          description: Gets the resource name.
        type:
          type: string
          readOnly: true
          description: Gets the resource type.
        location:
          type: string
          description: The resource location.
        tags:
          type: object
          additionalProperties:
            type: string
          description: The resource tags.
      x-ms-azure-resource: true
      description: The base resource type.
    Object:
      type: object
      properties: {}
  parameters:
    api-version:
      name: api-version
      description: The API version.
      in: query
      required: true
      schema:
        type: string
    subscriptionId:
      name: subscriptionId
      description: The subscription id.
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
