openapi: 3.2.0
info:
  version: 2023-11-01-preview
  title: Microsoft Azure Desktop Virtualization API Client Scaling…
servers:
- url: https://management.azure.com
tags:
- name: ScalingPlanPooledSchedule
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/scalingPlans/{scalingPlanName}/pooledSchedules/{scalingPlanScheduleName}
  : get:
      tags:
      - ScalingPlanPooledSchedule
      operationId: microsoftAzureScalingplanpooledschedulesGet
      description: Get a ScalingPlanPooledSchedule.
      x-ms-examples:
        ScalingPlanPooledSchedules_Get:
          $ref: ./examples/ScalingPlanPooledSchedule_Get.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ScalingPlanNameParameter'
      - $ref: '#/components/parameters/ScalingPlanScheduleNameParameter'
      responses:
        '200':
          description: Successfully retrieved ScalingPlanPooledSchedule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScalingPlanPooledSchedule'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - ScalingPlanPooledSchedule
      operationId: microsoftAzureScalingplanpooledschedulesCreate
      description: Create or update a ScalingPlanPooledSchedule.
      x-ms-examples:
        ScalingPlanPooledSchedules_Create:
          $ref: ./examples/ScalingPlanPooledSchedule_Create.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ScalingPlanNameParameter'
      - $ref: '#/components/parameters/ScalingPlanScheduleNameParameter'
      responses:
        '200':
          description: Successfully updated ScalingPlanPooledSchedule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScalingPlanPooledSchedule'
        '201':
          description: Successfully created ScalingPlanPooledSchedule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScalingPlanPooledSchedule'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScalingPlanPooledSchedule'
        description: Object containing ScalingPlanPooledSchedule definitions.
        required: true
    delete:
      tags:
      - ScalingPlanPooledSchedule
      operationId: microsoftAzureScalingplanpooledschedulesDelete
      description: Remove a ScalingPlanPooledSchedule.
      x-ms-examples:
        ScalingPlanPooledSchedules_Delete:
          $ref: ./examples/ScalingPlanPooledSchedule_Delete.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ScalingPlanNameParameter'
      - $ref: '#/components/parameters/ScalingPlanScheduleNameParameter'
      responses:
        '200':
          description: Successfully removed ScalingPlanPooledSchedule.
        '204':
          description: ScalingPlanPooledSchedule does not exist.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    patch:
      tags:
      - ScalingPlanPooledSchedule
      operationId: microsoftAzureScalingplanpooledschedulesUpdate
      description: Update a ScalingPlanPooledSchedule.
      x-ms-examples:
        ScalingPlanPooledSchedules_Update:
          $ref: ./examples/ScalingPlanPooledSchedule_Update.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ScalingPlanNameParameter'
      - $ref: '#/components/parameters/ScalingPlanScheduleNameParameter'
      responses:
        '200':
          description: Successfully updated ScalingPlanPooledSchedule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScalingPlanPooledSchedule'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScalingPlanPooledSchedulePatch'
        description: Object containing ScalingPlanPooledSchedule definitions.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/scalingPlans/{scalingPlanName}/pooledSchedules
  : get:
      tags:
      - ScalingPlanPooledSchedule
      operationId: microsoftAzureScalingplanpooledschedulesList
      description: List ScalingPlanPooledSchedules.
      x-ms-examples:
        ScalingPlanPooledSchedules_List:
          $ref: ./examples/ScalingPlanPooledSchedule_List.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ScalingPlanNameParameter'
      - name: pageSize
        in: query
        required: false
        description: Number of items per page.
        schema:
          type: integer
          format: int32
      - name: isDescending
        in: query
        required: false
        description: Indicates whether the collection is descending.
        schema:
          type: boolean
      - name: initialSkip
        in: query
        required: false
        description: Initial number of items to skip.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved ScalingPlanPooledSchedules.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScalingPlanPooledScheduleList'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    CloudError:
      description: Cloud error object.
      type: object
      x-ms-external: true
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorProperties'
    ScalingPlanPooledSchedule:
      type: object
      description: Represents a ScalingPlanPooledSchedule definition.
      required:
      - properties
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/Resource
      properties:
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: Metadata pertaining to creation and last modification of the resource.
        properties:
          description: Detailed properties for ScalingPlanPooledSchedule
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ScalingPlanPooledScheduleProperties'
    ScalingPlanPooledSchedulePatch:
      type: object
      description: ScalingPlanPooledSchedule properties that can be patched.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/Resource
      properties:
        properties:
          description: Detailed properties for ScalingPlanPooledSchedule
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ScalingPlanPooledScheduleProperties'
    Time:
      description: The time for a scaling action to occur.
      required:
      - hour
      - minute
      type: object
      properties:
        hour:
          format: int32
          description: The hour.
          maximum: 23
          minimum: 0
          type: integer
        minute:
          format: int32
          description: The minute.
          maximum: 59
          minimum: 0
          type: integer
    ScalingPlanPooledScheduleList:
      type: object
      title: ScalingPlanPooledScheduleList
      description: List of ScalingPlanPooledSchedule definitions.
      properties:
        value:
          type: array
          description: List of ScalingPlanPooledSchedule definitions.
          items:
            $ref: '#/components/schemas/ScalingPlanPooledSchedule'
        nextLink:
          type: string
          readOnly: true
          description: Link to the next page of results.
    ScalingPlanPooledScheduleProperties:
      description: A ScalingPlanPooledSchedule.
      type: object
      properties:
        daysOfWeek:
          type: array
          description: Set of days of the week on which this schedule is active.
          items:
            enum:
            - Monday
            - Tuesday
            - Wednesday
            - Thursday
            - Friday
            - Saturday
            - Sunday
            type: string
            x-ms-enum:
              name: DayOfWeek
              modelAsString: true
        rampUpStartTime:
          $ref: '#/components/schemas/Time'
          description: Starting time for ramp up period.
        rampUpLoadBalancingAlgorithm:
          enum:
          - BreadthFirst
          - DepthFirst
          x-ms-enum:
            name: SessionHostLoadBalancingAlgorithm
            modelAsString: true
          type: string
          description: Load balancing algorithm for ramp up period.
        rampUpMinimumHostsPct:
          type: integer
          format: int32
          minimum: 0
          maximum: 100
          description: Minimum host percentage for ramp up period.
        rampUpCapacityThresholdPct:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          description: Capacity threshold for ramp up period.
        peakStartTime:
          $ref: '#/components/schemas/Time'
          description: Starting time for peak period.
        peakLoadBalancingAlgorithm:
          enum:
          - BreadthFirst
          - DepthFirst
          x-ms-enum:
            name: SessionHostLoadBalancingAlgorithm
            modelAsString: true
          type: string
          description: Load balancing algorithm for peak period.
        rampDownStartTime:
          $ref: '#/components/schemas/Time'
          description: Starting time for ramp down period.
        rampDownLoadBalancingAlgorithm:
          enum:
          - BreadthFirst
          - DepthFirst
          x-ms-enum:
            name: SessionHostLoadBalancingAlgorithm
            modelAsString: true
          type: string
          description: Load balancing algorithm for ramp down period.
        rampDownMinimumHostsPct:
          type: integer
          format: int32
          minimum: 0
          maximum: 100
          description: Minimum host percentage for ramp down period.
        rampDownCapacityThresholdPct:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          description: Capacity threshold for ramp down period.
        rampDownForceLogoffUsers:
          type: boolean
          description: Should users be logged off forcefully from hosts.
        rampDownStopHostsWhen:
          enum:
          - ZeroSessions
          - ZeroActiveSessions
          x-ms-enum:
            name: StopHostsWhen
            modelAsString: true
          type: string
          description: Specifies when to stop hosts during ramp down period.
        rampDownWaitTimeMinutes:
          type: integer
          format: int32
          description: Number of minutes to wait to stop hosts during ramp down period.
        rampDownNotificationMessage:
          type: string
          description: Notification message for users during ramp down period.
        offPeakStartTime:
          $ref: '#/components/schemas/Time'
          description: Starting time for off-peak period.
        offPeakLoadBalancingAlgorithm:
          enum:
          - BreadthFirst
          - DepthFirst
          x-ms-enum:
            name: SessionHostLoadBalancingAlgorithm
            modelAsString: true
          type: string
          description: Load balancing algorithm for off-peak period.
    CloudErrorProperties:
      description: Cloud error object properties.
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
  parameters:
    ScalingPlanNameParameter:
      name: scalingPlanName
      in: path
      required: true
      description: The name of the scaling plan.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 3
    ScalingPlanScheduleNameParameter:
      name: scalingPlanScheduleName
      in: path
      required: true
      description: The name of the ScalingPlanSchedule
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
