openapi: 3.2.0
info:
  title: Microsoft Azure Service Map Processes API
  description: Service Map API Reference
  version: 2015-11-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Processes
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/machines/{machineName}/processes
  : get:
      tags:
      - Processes
      operationId: microsoftAzureMachinesListprocesses
      x-ms-examples:
        SMMachinesListProcessesGet:
          $ref: ./examples/Machines/Processes/SMMachinesListProcessesGet.json
      description: Returns a collection of processes on the specified machine matching the specified conditions. The returned collection represents either processes that are active/live during the specified interval of time (`live=true` and `startTime`/`endTime` are specified) or that are known to have existed at or some time prior to the specified point in time (`live=false` and `timestamp` is specified).
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/MachineNameParameter'
      - name: live
        in: query
        required: false
        description: Specifies whether to return live resources (true) or inventory resources (false). Defaults to **true**. When retrieving live resources, the start time (`startTime`) and end time (`endTime`) of the desired interval should be included. When retrieving inventory resources, an optional timestamp (`timestamp`) parameter can be specified to return the version of each resource closest (not-after) that timestamp.
        schema:
          type: boolean
          default: true
      - name: startTime
        in: query
        required: false
        description: UTC date and time specifying the start time of an interval. When not specified the service uses DateTime.UtcNow - 10m
        schema:
          type: string
          format: date-time
      - name: endTime
        in: query
        required: false
        description: UTC date and time specifying the end time of an interval. When not specified the service uses DateTime.UtcNow
        schema:
          type: string
          format: date-time
      - name: timestamp
        in: query
        required: false
        description: UTC date and time specifying a time instance relative to which to evaluate all process resource. Only applies when `live=false`. When not specified, the service uses DateTime.UtcNow.
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessCollection'
        default:
          description: An error occurred while processing the request. See the error.code parameter to identify the specific error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/machines/{machineName}/processes/{processName}
  : get:
      tags:
      - Processes
      operationId: microsoftAzureProcessesGet
      x-ms-examples:
        SMMachinesProcessesGetGet:
          $ref: ./examples/Machines/Processes/SMMachinesProcessesGetGet.json
      description: Returns the specified process.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/MachineNameParameter'
      - $ref: '#/components/parameters/ProcessNameParameter'
      - name: timestamp
        in: query
        required: false
        description: UTC date and time specifying a time instance relative to which to evaluate a resource. When not specified, the service uses DateTime.UtcNow.
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Process'
        default:
          description: An error occurred while processing the request. See the error.code parameter to identify the specific error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/machines/{machineName}/processes/{processName}/liveness
  : get:
      tags:
      - Processes
      operationId: microsoftAzureProcessesGetliveness
      x-ms-examples:
        SMMachinesProcessesGetLivenessGet:
          $ref: ./examples/Machines/Processes/SMMachinesProcessesGetLivenessGet.json
      description: Obtains the liveness status of the process during the specified time interval.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/MachineNameParameter'
      - $ref: '#/components/parameters/ProcessNameParameter'
      - name: startTime
        in: query
        required: false
        description: UTC date and time specifying the start time of an interval. When not specified the service uses DateTime.UtcNow - 10m
        schema:
          type: string
          format: date-time
      - name: endTime
        in: query
        required: false
        description: UTC date and time specifying the end time of an interval. When not specified the service uses DateTime.UtcNow
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Liveness'
        default:
          description: An error occurred while processing the request. See the error.code parameter to identify the specific error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/machines/{machineName}/processes/{processName}/acceptingPorts
  : get:
      tags:
      - Processes
      operationId: microsoftAzureProcessesListacceptingports
      x-ms-examples:
        SMMachinesProcessesListAcceptingPortsGet:
          $ref: ./examples/Machines/Processes/SMMachinesProcessesListAcceptingPortsGet.json
      description: Returns a collection of ports on which this process is accepting
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/MachineNameParameter'
      - $ref: '#/components/parameters/ProcessNameParameter'
      - name: startTime
        in: query
        required: false
        description: UTC date and time specifying the start time of an interval. When not specified the service uses DateTime.UtcNow - 10m
        schema:
          type: string
          format: date-time
      - name: endTime
        in: query
        required: false
        description: UTC date and time specifying the end time of an interval. When not specified the service uses DateTime.UtcNow
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortCollection'
        default:
          description: An error occurred while processing the request. See the error.code parameter to identify the specific error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/machines/{machineName}/processes/{processName}/connections
  : get:
      tags:
      - Processes
      operationId: microsoftAzureProcessesListconnections
      x-ms-examples:
        SMMachinesProcessesListConnectionsGet:
          $ref: ./examples/Machines/Processes/SMMachinesProcessesListConnectionsGet.json
      description: Returns a collection of connections terminating or originating at the specified process
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/MachineNameParameter'
      - $ref: '#/components/parameters/ProcessNameParameter'
      - name: startTime
        in: query
        required: false
        description: UTC date and time specifying the start time of an interval. When not specified the service uses DateTime.UtcNow - 10m
        schema:
          type: string
          format: date-time
      - name: endTime
        in: query
        required: false
        description: UTC date and time specifying the end time of an interval. When not specified the service uses DateTime.UtcNow
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionCollection'
        default:
          description: An error occurred while processing the request. See the error.code parameter to identify the specific error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/machines/{machineName}/ports/{portName}/acceptingProcesses
  : get:
      tags:
      - Processes
      operationId: microsoftAzurePortsListacceptingprocesses
      x-ms-examples:
        SMMachinesPortsListAcceptingProcessesGet:
          $ref: ./examples/Machines/Ports/SMMachinesPortsListAcceptingProcessesGet.json
      description: Returns a collection of processes accepting on the specified port
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/MachineNameParameter'
      - $ref: '#/components/parameters/PortNameParameter'
      - name: startTime
        in: query
        required: false
        description: UTC date and time specifying the start time of an interval. When not specified the service uses DateTime.UtcNow - 10m
        schema:
          type: string
          format: date-time
      - name: endTime
        in: query
        required: false
        description: UTC date and time specifying the end time of an interval. When not specified the service uses DateTime.UtcNow
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessCollection'
        default:
          description: An error occurred while processing the request. See the error.code parameter to identify the specific error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    ProcessHostedService:
      description: A service hosted by a process.
      properties:
        name:
          type: string
          description: The name of the service.
        displayName:
          type: string
          description: The service's display name.
    ConnectionProperties:
      description: Properties for a connection resource.
      allOf:
      - $ref: '#/components/schemas/RelationshipProperties'
      properties:
        serverPort:
          $ref: '#/components/schemas/PortReference'
          description: Reference to the server port via which this connection has been established.
        failureState:
          $ref: '#/components/schemas/ConnectionFailureState'
          description: Specifies whether there are only successful, failed or a mixture of both connections represented by this resource.
    ProcessHostingConfiguration:
      description: Describes the hosting configuration of a process.
      discriminator:
        propertyName: kind
      properties:
        provider:
          type: string
          description: The hosting provider of the VM.
          enum:
          - azure
        kind:
          type: string
          description: Additional hosting configuration type qualifier.
          enum:
          - provider:azure
      required:
      - kind
    Process:
      description: A process resource represents a process running on a machine. The process may be actively *monitored*, i.e., a Dependency Agent is running on its machine, or *discovered*, i.e., its existence was inferred by observing the data stream from monitored machines. A process resource represents a pool of actual operating system resources that share command lines and metadata. As the process pool evolves over time, prior versions of the process resource are preserved and available for access. A process is live during an interval of time, if that process is executing during (parts) of that interval
      allOf:
      - $ref: '#/components/schemas/CoreResource'
      x-ms-discriminator-value: process
      properties:
        properties:
          x-ms-client-flatten: true
          type: object
          description: Resource properties.
          properties:
            timestamp:
              type: string
              format: date-time
              description: UTC date and time when this process resource was updated in the system
            monitoringState:
              $ref: '#/components/schemas/MonitoringState'
              description: Specifies whether the process is actively monitored or discovered.
            machine:
              $ref: '#/components/schemas/ResourceReference'
              description: Machine hosting this process.
            executableName:
              type: string
              description: The name of the process executable
            displayName:
              type: string
              description: Name to use for display purposes
            startTime:
              type: string
              format: date-time
              description: UTC date and time when the process started
            role:
              type: string
              enum:
              - webServer
              - appServer
              - databaseServer
              - ldapServer
              - smbServer
              x-ms-enum:
                name: ProcessRole
                modelAsString: true
              description: The inferred role of this process based on its name, command line, etc.
            group:
              type: string
              description: The name of the product or suite of the process. The group is determined by its executable name, command line, etc.
            details:
              $ref: '#/components/schemas/ProcessDetails'
              description: Process metadata (command line, product name, etc.).
            user:
              $ref: '#/components/schemas/ProcessUser'
              description: Information about the account under which the process is executing.
            clientOf:
              $ref: '#/components/schemas/ResourceReference'
              description: Present only for a discovered process acting as a client of a monitored process/machine/port. References the monitored process/machine/port that this process is a client of.
            acceptorOf:
              $ref: '#/components/schemas/ResourceReference'
              description: Present only for a discovered process acting as a server. References the port on which the discovered process is accepting.
            hosting:
              $ref: '#/components/schemas/ProcessHostingConfiguration'
              description: Information about the hosting environment
    Port:
      description: A port resource represents a server port on a machine. The port may be actively *monitored*, i.e., a Dependency Agent is running on its machine, or *discovered*, i.e., its existence was inferred by observing the data stream from monitored machines. A port is live during an interval of time, if that port had associated activity during (parts) of that interval.
      allOf:
      - $ref: '#/components/schemas/CoreResource'
      x-ms-discriminator-value: port
      properties:
        properties:
          x-ms-client-flatten: true
          type: object
          description: Resource properties.
          properties:
            monitoringState:
              $ref: '#/components/schemas/MonitoringState'
              description: Specifies whether the port is actively monitored or discovered.
            machine:
              $ref: '#/components/schemas/ResourceReference'
              description: Machine hosting this port.
            displayName:
              type: string
              description: Name to use for display purposes.
            ipAddress:
              type: string
              description: IP address associated with the port. At present only IPv4 addresses are supported.
            portNumber:
              type: integer
              format: int32
              description: Port number.
    PortCollection:
      type: object
      description: Collection of Port resources.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Port'
          description: Collection of Port resources.
        nextLink:
          type: string
          description: The URL to the next set of resources.
    ResourceReference:
      description: Represents a reference to another resource.
      discriminator:
        propertyName: kind
      properties:
        id:
          type: string
          description: Resource URI.
        type:
          type: string
          description: Resource type qualifier.
          readOnly: true
        name:
          type: string
          description: Resource name.
          readOnly: true
        kind:
          type: string
          description: Specifies the sub-class of the reference.
          enum:
          - ref:machine
          - ref:machinewithhints
          - ref:process
          - ref:port
          - ref:onmachine
          - ref:clientgroup
      required:
      - id
      - kind
    ProcessUser:
      description: Describes the user under which a process is running.
      properties:
        userName:
          type: string
          description: User name under which the process is running.
        userDomain:
          type: string
          description: Domain name for the user.
    CoreResource:
      description: Marker resource for the core Service Map resources
      allOf:
      - $ref: '#/components/schemas/Resource'
      discriminator:
        propertyName: kind
      properties:
        etag:
          type: string
          description: Resource ETAG.
        kind:
          type: string
          description: Additional resource type qualifier.
          enum:
          - machine
          - process
          - port
          - clientGroup
          - machineGroup
      required:
      - kind
    Liveness:
      description: Specifies the contents of a check liveness response.
      type: object
      properties:
        startTime:
          type: string
          format: date-time
          description: Liveness interval start time.
        endTime:
          type: string
          format: date-time
          description: Liveness interval end time.
        live:
          type: boolean
          description: '`true` if the resource is live during [startTime, endTime], `false` otherwise'
      required:
      - startTime
      - endTime
      - live
    MonitoringState:
      description: Used to specify if a resources is monitored or discovered.
      type: string
      enum:
      - monitored
      - discovered
      x-ms-enum:
        name: MonitoringState
        modelAsString: false
    ErrorResponse:
      type: object
      description: An error response from the API.
      properties:
        error:
          $ref: '#/components/schemas/Error'
          description: Error information.
      required:
      - error
    RelationshipProperties:
      description: Relationship properties.
      properties:
        source:
          $ref: '#/components/schemas/ResourceReference'
          description: Source resource of the relationship.
        destination:
          $ref: '#/components/schemas/ResourceReference'
          description: Destination resource of the relationship.
        startTime:
          type: string
          format: date-time
          description: Relationship start time.
        endTime:
          type: string
          format: date-time
          description: Relationship end time.
      required:
      - source
      - destination
    ConnectionCollection:
      type: object
      description: Collection of Connection resources.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Connection'
          description: Collection of Connection resources.
        nextLink:
          type: string
          description: The URL to the next set of resources.
    MachineReference:
      description: Reference to a machine.
      allOf:
      - $ref: '#/components/schemas/ResourceReference'
      x-ms-discriminator-value: ref:machine
    ProcessCollection:
      type: object
      description: Collection of Process resources.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Process'
          description: Collection of Process resources.
        nextLink:
          type: string
          description: The URL to the next set of resources.
    Resource:
      description: Resource model definition.
      properties:
        id:
          type: string
          description: Resource identifier.
          readOnly: true
        type:
          type: string
          description: Resource type.
          readOnly: true
        name:
          type: string
          description: Resource name.
          readOnly: true
      x-ms-azure-resource: true
    ConnectionFailureState:
      description: "Connection failure state:\n * ```ok``` indicates no failures\n * ```failed``` indicates only failures\n * ```mixed``` indicates both failures and successes"
      type: string
      enum:
      - ok
      - failed
      - mixed
      x-ms-enum:
        name: ConnectionFailureState
        modelAsString: false
    Connection:
      description: A network connection.
      allOf:
      - $ref: '#/components/schemas/Relationship'
      x-ms-discriminator-value: rel:connection
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ConnectionProperties'
    Error:
      type: object
      description: Error details.
      properties:
        code:
          type: string
          description: Error code identifying the specific error.
        message:
          type: string
          description: Error message in the caller's locale.
      required:
      - code
    ProcessDetails:
      description: Describes process metadata.
      properties:
        persistentKey:
          type: string
          description: A unique identifier for a process, generally resilient to process restart, computed by Service Map.
        poolId:
          type: integer
          format: int32
          description: Represents the identity of the process pool assigned to the process by Dependency Agent.
        firstPid:
          type: integer
          format: int32
          description: The Operating System Process Identifier (PID) of the first process in this process pool.
        description:
          type: string
          description: Process description.
        companyName:
          type: string
          description: Name of company that created the process executable.
        internalName:
          type: string
          description: Internal process name.
        productName:
          type: string
          description: Product name.
        productVersion:
          type: string
          description: Product version.
        fileVersion:
          type: string
          description: File version.
        commandLine:
          type: string
          description: Process command line.
        executablePath:
          type: string
          description: Process executable path.
        workingDirectory:
          type: string
          description: Process workingDirectory.
        services:
          type: array
          items:
            $ref: '#/components/schemas/ProcessHostedService'
          x-ms-identifiers: []
          description: Collection of services hosted by this Process (Windows only).
        zoneName:
          type: string
          description: Process zone name (Linux only).
    Relationship:
      description: A typed relationship between two entities.
      allOf:
      - $ref: '#/components/schemas/Resource'
      discriminator:
        propertyName: kind
      properties:
        kind:
          type: string
          description: Additional resource type qualifier.
          enum:
          - rel:connection
          - rel:acceptor
      required:
      - kind
    PortReference:
      description: Reference to a port.
      allOf:
      - $ref: '#/components/schemas/ResourceReference'
      x-ms-discriminator-value: ref:port
      properties:
        properties:
          x-ms-client-flatten: true
          type: object
          description: Resource properties.
          properties:
            machine:
              $ref: '#/components/schemas/MachineReference'
              description: Machine hosting the port.
              readOnly: true
            ipAddress:
              type: string
              description: IP address of the port.
              readOnly: true
            portNumber:
              type: integer
              format: int32
              description: Port number.
  parameters:
    WorkspaceNameParameter:
      name: workspaceName
      in: path
      x-ms-parameter-location: method
      required: true
      description: OMS workspace containing the resources of interest.
      schema:
        type: string
        maxLength: 63
        minLength: 3
        pattern: '[a-zA-Z0-9_][a-zA-Z0-9_-]+[a-zA-Z0-9_]'
    ProcessNameParameter:
      name: processName
      in: path
      x-ms-parameter-location: method
      required: true
      description: Process resource name.
      schema:
        type: string
        maxLength: 128
        minLength: 3
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      x-ms-parameter-location: method
      required: true
      description: Resource group name within the specified subscriptionId.
      schema:
        type: string
        maxLength: 64
        minLength: 1
        pattern: '[a-zA-Z0-9_-]+'
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: API version.
      schema:
        type: string
    MachineNameParameter:
      name: machineName
      in: path
      x-ms-parameter-location: method
      required: true
      description: Machine resource name.
      schema:
        type: string
        maxLength: 64
        minLength: 3
    PortNameParameter:
      name: portName
      in: path
      x-ms-parameter-location: method
      required: true
      description: Port resource name.
      schema:
        type: string
        maxLength: 64
        minLength: 3
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Azure subscription identifier.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
