openapi: 3.2.0
info:
  title: Microsoft Azure Operation API
  x-refined-note:
  - x-ms-code-generation-settings differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Operation across 10 of this provider''s published API definitions: ace-provisioning-managementpartner-api-openapi-original.yml, azure-machine-learning-services-openapi-original.yml, azure-ml-commitment-plans-management-client-openapi-original.yml, blockchainmanagementclient-openapi-original.yml, datasharemanagementclient-openapi-original.yml, machine-learning-workspaces-management-client-openapi-original.yml, ml-team-account-management-client-openapi-original.yml…'
servers:
- url: https://management.azure.com
tags:
- name: Operation
paths:
  /providers/Microsoft.ManagementPartner/operations:
    get:
      summary: Microsoft Azure Get Operations
      description: List all the operations.
      operationId: microsoftAzureOperationList
      x-ms-examples:
        GetOperations:
          $ref: ./examples/GetOperations.json
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      tags:
      - Operation
      responses:
        '200':
          description: List all the operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.MachineLearningServices/operations:
    get:
      tags:
      - Operation
      summary: Microsoft Azure Lists All Of The Available Azure Machine Learning Workspaces…
      operationId: microsoftAzureOperationsList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        OperationsList:
          $ref: ./examples/Workspace/operationsList.json
      x-ms-pageable:
        nextLinkName: null
      description: Needs a more full description created.
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.MachineLearning/operations:
    get:
      tags:
      - Operation
      description: Lists all of the available Azure Machine Learning Studio Commitment Plan RP REST API operations.
      operationId: microsoftAzureOperationsList
      parameters:
      - $ref: '#/components/parameters/APIVersionParameter'
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationEntityListResult'
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Providers Microsoft Machinelearning Operations
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.Blockchain/operations:
    get:
      tags:
      - Operation
      description: Lists the available operations of Microsoft.Blockchain resource provider.
      operationId: microsoftAzureOperationsList
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter_2'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderOperationCollection'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Operations_List:
          $ref: ./examples/Operations_List.json
      summary: Microsoft Azure Get Providers Microsoft Blockchain Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.DataShare/operations:
    get:
      tags:
      - Operation
      summary: Microsoft Azure Lists The Available Operations
      description: List of available operations
      operationId: microsoftAzureOperationsList
      parameters:
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList_2'
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataShareError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Operations_List:
          $ref: ./examples/Operations_List.json
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.MachineLearningExperimentation/operations:
    get:
      tags:
      - Operation
      description: Lists all of the available Azure Machine Learning Team Accounts REST API operations.
      operationId: microsoftAzureOperationsList
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter_4'
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult_2'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Providers Microsoft Machinelearningexperimentation…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.Purview/operations:
    get:
      tags:
      - Operation
      summary: Microsoft Azure Lists The Available Operations
      description: List of available operations
      operationId: microsoftAzureOperationsList
      parameters:
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList_3'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Operations_List:
          $ref: ./examples/Operations_List.json
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupValidateOperation
  : post:
      tags:
      - Operation
      description: Validate operation for specified backed up item. This is a synchronous operation.
      operationId: microsoftAzureOperationValidate
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/VaultName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateOperationsResponse'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Validate Operation:
          $ref: ./examples/AzureIaasVm/ValidateOperation_RestoreDisk.json
        Validate Operation with identityBasedRestoreDetails:
          $ref: ./examples/AzureIaasVm/ValidateOperation_RestoreDisk_IdentityBasedRestoreDetails.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateOperationRequest'
        description: resource validate operation request
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.TestBase/operations:
    get:
      tags:
      - Operation
      description: Lists all of the available REST API operations of the Microsoft.TestBase provider.
      operationId: microsoftAzureOperationsList
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter_5'
      responses:
        '200':
          description: Success. The response describes the list of operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult_3'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        OperationsList:
          $ref: ./examples/OperationsList.json
      summary: Microsoft Azure Get Providers Microsoft Testbase Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
components:
  schemas:
    OperationResponse:
      type: object
      description: this is the management partner operations response
      properties:
        name:
          type: string
          description: this is the operation response name
        display:
          $ref: '#/components/schemas/OperationDisplay'
          description: this is the operation display
        origin:
          type: string
          description: the is operation response origin information
    ErrorResponseCode:
      type: string
      description: this is the error response code that management partner operations may return
    OperationDisplay:
      description: this is the management partner operation
      type: object
      properties:
        provider:
          type: string
          description: the is management partner provider
        resource:
          type: string
          description: the is management partner resource
        operation:
          type: string
          description: the is management partner operation
        description:
          type: string
          description: the is management partner operation description
    Error:
      type: object
      description: this is the management partner operations error
      properties:
        error:
          $ref: '#/components/schemas/ExtendedErrorInfo'
          description: this is the ExtendedErrorInfo property
        code:
          $ref: '#/components/schemas/ErrorResponseCode'
          description: this is the error response code
        message:
          type: string
          description: this is the extended error info message
    ExtendedErrorInfo:
      type: object
      description: this is the extended error info
      properties:
        code:
          $ref: '#/components/schemas/ErrorResponseCode'
          description: this is the error response code
        message:
          type: string
          description: this is the extended error info message
    OperationList:
      type: object
      description: this is the management partner operations list
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/OperationResponse'
            description: this is the operation response property
          x-ms-identifiers:
          - name
          description: this is the operation response list
        nextLink:
          type: string
          description: Url to get the next page of items.
    OperationDisplayInfo:
      description: The API operation info.
      type: object
      properties:
        description:
          description: The description of the operation.
          type: string
          readOnly: true
        operation:
          description: The action that users can perform, based on their permission level.
          type: string
          readOnly: true
        provider:
          description: The service provider.
          type: string
          readOnly: true
        resource:
          description: The resource on which the operation is performed.
          type: string
          readOnly: true
    OperationEntityListResult:
      description: The list of REST API operations.
      type: object
      properties:
        value:
          description: The list of operations.
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/OperationEntity'
          x-ms-identifiers:
          - name
    OperationEntity:
      description: An API operation.
      type: object
      properties:
        name:
          description: 'Operation name: {provider}/{resource}/{operation}.'
          type: string
          readOnly: true
        display:
          $ref: '#/components/schemas/OperationDisplayInfo'
          description: The API operation info.
    ResourceProviderOperationDisplay:
      description: Operation display payload which is exposed in the response of the resource provider.
      type: object
      properties:
        provider:
          description: Gets or sets the name of the provider for display purposes.
          type: string
        resource:
          description: Gets or sets the name of the resource type for display purposes.
          type: string
        operation:
          description: Gets or sets the name of the operation for display purposes.
          type: string
        description:
          description: Gets or sets the description of the provider for display purposes.
          type: string
    ResourceProviderOperation:
      description: Operation payload which is exposed in the response of the resource provider.
      type: object
      properties:
        origin:
          description: Gets or sets the origin.
          type: string
        name:
          description: Gets or sets the operation name.
          type: string
        isDataAction:
          description: Gets or sets a value indicating whether the operation is a data action or not.
          type: boolean
        display:
          $ref: '#/components/schemas/ResourceProviderOperationDisplay'
          description: Gets or sets operation display
    ResourceProviderOperationCollection:
      description: Collection of operation payload which is exposed in the response of the resource provider.
      type: object
      properties:
        value:
          description: Gets or sets the collection of operations.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/ResourceProviderOperation'
          x-ms-identifiers:
          - name
        nextLink:
          description: 'Gets or sets the URL, that the client should use to fetch the next page (per server side paging).

            It''s null for now, added for future use.'
          type: string
    OperationMetaPropertyInfo:
      description: properties on meta info
      type: object
      properties:
        serviceSpecification:
          $ref: '#/components/schemas/OperationMetaServiceSpecification'
          description: meta service specification
    DataShareError:
      description: The data share error model.
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/DataShareErrorInfo'
          description: The data share error body
    OperationMetaLogSpecification:
      description: log specifications for operation api
      type: object
      properties:
        blobDuration:
          description: blob duration of the log
          type: string
        displayName:
          description: localized name of the log category
          type: string
        name:
          description: name of the log category
          type: string
    DimensionProperties:
      description: properties for dimension
      type: object
      properties:
        displayName:
          description: localized display name of the dimension to customer
          type: string
        name:
          description: dimension name
          type: string
    OperationModelProperties:
      description: Properties on operations
      type: object
      properties:
        description:
          description: Description of the operation for display purposes
          type: string
        operation:
          description: Name of the operation for display purposes
          type: string
        provider:
          description: Name of the provider for display purposes
          type: string
        resource:
          description: Name of the resource type for display purposes
          type: string
    OperationMetaMetricSpecification:
      description: metric specifications for the operation
      type: object
      properties:
        aggregationType:
          description: aggregation type of metric
          type: string
        dimensions:
          description: properties for dimension
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/DimensionProperties'
        displayDescription:
          description: description of the metric
          type: string
        displayName:
          description: localized name of the metric
          type: string
        enableRegionalMdmAccount:
          description: enable regional mdm account
          type: string
        fillGapWithZero:
          description: fill gap with zero
          type: boolean
        internalMetricName:
          description: internal metric name
          type: string
        name:
          description: name of the metric
          type: string
        resourceIdDimensionNameOverride:
          description: dimension name use to replace resource id if specified
          type: string
        supportedAggregationTypes:
          description: supported aggregation types
          uniqueItems: false
          type: array
          items:
            type: string
        supportedTimeGrainTypes:
          description: supported time grain types
          uniqueItems: false
          type: array
          items:
            type: string
        unit:
          description: units for the metric
          type: string
    OperationMetaServiceSpecification:
      description: The operation meta service specification
      type: object
      properties:
        logSpecifications:
          description: log specifications for the operation
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/OperationMetaLogSpecification'
        metricSpecifications:
          description: metric specifications for the operation
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/OperationMetaMetricSpecification'
    DataShareErrorInfo:
      description: The data share error body model.
      required:
      - code
      - message
      type: object
      properties:
        code:
          description: Code of the error
          type: string
        details:
          description: Nested details of the error model
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/DataShareErrorInfo'
        message:
          description: Message of the error
          type: string
        target:
          description: Target of the error
          type: string
    OperationModel:
      description: The response model for get operations
      type: object
      properties:
        display:
          $ref: '#/components/schemas/OperationModelProperties'
          description: Properties on the operation
        name:
          description: Operation name for display purposes
          type: string
        origin:
          description: origin of the operation
          type: string
        properties:
          $ref: '#/components/schemas/OperationMetaPropertyInfo'
          description: properties for the operation meta info
          x-ms-client-flatten: true
    OperationList_2:
      description: List response for get operations.
      required:
      - value
      type: object
      properties:
        nextLink:
          description: The Url of next result page.
          type: string
        value:
          description: Collection of items of type DataTransferObjects.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/OperationModel'
    ErrorResponse:
      description: The error response send when an operation fails.
      properties:
        code:
          type: string
          description: error code
        message:
          type: string
          description: error message
      required:
      - code
      - message
    Operation:
      description: Azure Machine Learning Studio REST API operation
      type: object
      properties:
        name:
          description: 'Operation name: {provider}/{resource}/{operation}'
          type: string
        display:
          description: Display name of operation
          properties:
            provider:
              description: 'The resource provider name: Microsoft.MachineLearning'
              type: string
            resource:
              description: The resource on which the operation is performed.
              type: string
            operation:
              description: The operation that users can perform.
              type: string
            description:
              description: The description for the operation.
              type: string
    OperationListResult:
      description: An array of operations supported by the resource provider.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Operation'
          description: List of AML Studio operations supported by the AML Studio resource provider.
    Operation_2:
      description: Azure Machine Learning team account REST API operation
      type: object
      properties:
        name:
          description: 'Operation name: {provider}/{resource}/{operation}'
          type: string
        display:
          description: Display name of operation
          properties:
            provider:
              description: 'The resource provider name: Microsoft.MachineLearningExperimentation'
              type: string
            resource:
              description: The resource on which the operation is performed.
              type: string
            operation:
              description: The operation that users can perform.
              type: string
            description:
              description: The description for the operation.
              type: string
    OperationListResult_2:
      description: An array of operations supported by the resource provider.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Operation_2'
          x-ms-identifiers:
          - name
          description: List of AML team account operations supported by the AML team account resource provider.
    OperationDisplay_2:
      description: The response model for get operation properties
      type: object
      properties:
        description:
          description: Description of the operation for display purposes
          type: string
        operation:
          description: Name of the operation for display purposes
          type: string
        provider:
          description: Name of the provider for display purposes
          type: string
        resource:
          description: Name of the resource type for display purposes
          type: string
    OperationProperties:
      description: properties on meta info
      type: object
      properties:
        serviceSpecification:
          $ref: '#/components/schemas/OperationMetaServiceSpecification'
          description: meta service specification
    ErrorModel:
      description: Default error model
      type: object
      properties:
        code:
          description: Gets or sets the code.
          type: string
          readOnly: true
        details:
          description: Gets or sets the details.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/ErrorModel'
          readOnly: true
        message:
          description: Gets or sets the messages.
          type: string
          readOnly: true
        target:
          description: Gets or sets the target.
          type: string
          readOnly: true
    DimensionProperties_2:
      description: properties for dimension
      type: object
      properties:
        displayName:
          description: localized display name of the dimension to customer
          type: string
        name:
          description: dimension name
          type: string
        toBeExportedForCustomer:
          description: flag indicating whether this dimension should be included to the customer in Azure Monitor logs (aka Shoebox)
          type: boolean
    Operation_3:
      description: Operation resource
      type: object
      properties:
        display:
          $ref: '#/components/schemas/OperationDisplay_2'
          description: Properties on the operation
        isDataAction:
          description: Whether operation is a data action
          type: boolean
        name:
          description: Operation name for display purposes
          type: string
        origin:
          description: origin of the operation
          type: string
        properties:
          $ref: '#/components/schemas/OperationProperties'
          description: properties for the operation meta info
          x-ms-client-flatten: true
    OperationMetaMetricSpecification_2:
      description: metric specifications for the operation
      type: object
      properties:
        aggregationType:
          description: aggregation type of metric
          type: string
        dimensions:
          description: properties for dimension
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/DimensionProperties_2'
        displayDescription:
          description: description of the metric
          type: string
        displayName:
          description: localized name of the metric
          type: string
        enableRegionalMdmAccount:
          description: enable regional mdm account
          type: string
        internalMetricName:
          description: internal metric name
          type: string
        name:
          description: name of the metric
          type: string
        resourceIdDimensionNameOverride:
          description: dimension name use to replace resource id if specified
          type: string
        sourceMdmNamespace:
          description: "Metric namespace.\nOnly set the namespace if different from the default value, \nleaving it empty makes it use the value from the ARM manifest."
          type: string
        supportedAggregationTypes:
          description: supported aggregation types
          uniqueItems: false
          type: array
          items:
            type: string
        supportedTimeGrainTypes:
          description: supported time grain types
          uniqueItems: false
          type: array
          items:
            type: string
        unit:
          description: units for the metric
          type: string
    ErrorResponseModel:
      description: Default error response model
      type: object
      properties:
        error:
          description: Gets or sets the error.
          allOf:
          - $ref: '#/components/schemas/ErrorModel'
          readOnly: true
    OperationList_3:
      description: Paged list of operation resources
      required:
      - value
      type: object
      properties:
        count:
          format: int64
          description: Total item count.
          type: integer
        nextLink:
          description: The Url of next result page.
          type: string
        value:
          description: Collection of items of type results.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/Operation_3'
    CloudError:
      x-ms-external: true
      properties:
        error:
          type: object
          $ref: '#/components/schemas/CloudErrorBody'
          description: The error object.
      description: An error response from the Container Instance service.
    ValidateOperationRequest:
      description: Base class for validate operation request.
      required:
      - objectType
      type: object
      properties:
        objectType:
          description: This property will be used as the discriminator for deciding the specific types in the polymorphic chain of types.
          type: string
      discriminator:
        propertyName: objectType
    CloudErrorBody:
      x-ms-external: true
      properties:
        code:
          readOnly: true
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          readOnly: true
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          readOnly: true
          type: string
          description: The target of the particular error. For example, the name of the property in error.
        details:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          x-ms-identifiers:
          - code
          description: A list of additional details about the error.
        additionalInfo:
          readOnly: true
          type: array
          items:
            $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorAdditionalInfo
          x-ms-identifiers: []
          description: The error additional info.
      description: An error response from the Container Instance service.
    ValidateOperationResponse:
      description: Base class for validate operation response.
      type: object
      properties:
        validationResults:
          description: Gets the validation result
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
          x-ms-identifiers:
          - code
    ValidateOperationsResponse:
      type: object
      properties:
        validateOperationResponse:
          $ref: '#/components/schemas/ValidateOperationResponse'
    ErrorDetail:
      description: Error Detail class which encapsulates Code, Message and Recommendations.
      type: object
      properties:
        code:
          description: Error code.
          type: string
          readOnly: true
        message:
          description: Error Message related to the Code.
          type: string
          readOnly: true
        recommendations:
          description: List of recommendation strings.
          type: array
          items:
            type: string
          readOnly: true
    OperationProperties_2:
      description: Operation properties.
      type: object
      properties: {}
    ErrorDefinition:
      description: Error definition.
      properties:
        code:
          description: The error code.
          type: string
          readOnly: true
        message:
          description: The error message.
          type: string
          readOnly: true
        target:
          type: string
          description: The target of the particular error.
          readOnly: true
        details:
          description: The error details.
          type: array
          items:
            $ref: '#/components/schemas/ErrorDefinition'
          readOnly: true
    Operation_4:
      description: REST API operation
      type: object
      properties:
        name:
          description: 'Operation name: {provider}/{resource}/{operation}.'
          readOnly: true
          type: string
        isDataAction:
          description: Indicates whether the operation is a data action
          readOnly: true
          type: boolean
        origin:
          description: Origin of the operation
          readOnly: true
          type: string
        display:
          description: The object that describes the operation.
          properties:
            provider:
              description: 'The resource provider name: Microsoft.TestBase.'
              readOnly: true
              type: string
            operation:
              description: 'Operation type: read, write, delete, listPackages, etc.'
              readOnly: true
              type: string
            resource:
              description: Resource type on which the operation is performed.
              readOnly: true
              type: string
            description:
              description: Friendly name of the operation.
              readOnly: true
              type: string
        properties:
          $ref: '#/components/schemas/OperationProperties_2'
          description: Extra properties of the operation.
          x-ms-client-flatten: true
    OperationListResult_3:
      description: A list of operations supported by the resource provider.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Operation_4'
          description: List of operations supported by the Test Base resource provider.
        nextLink:
          type: string
          readOnly: true
          description: URL to get the next set of operation list results if there are any.
    ErrorResponse_2:
      description: The error response send when an operation fails.
      properties:
        error:
          $ref: '#/components/schemas/ErrorDefinition'
          description: The error details.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: Supported version.
      required: true
      schema:
        type: string
    APIVersionParameter:
      name: api-version
      description: The version of the Microsoft.MachineLearning resource provider API to use.
      in: query
      required: true
      schema:
        type: string
    ApiVersionParameter_2:
      name: api-version
      in: query
      description: Client API Version.
      required: true
      schema:
        type: string
        enum:
        - 2018-06-01-preview
    api-version:
      name: api-version
      in: query
      description: The api version to use.
      required: true
      schema:
        type: string
    ApiVersionParameter_3:
      name: api-version
      in: query
      description: The client API version.
      required: true
      schema:
        type: string
    ApiVersionParameter_4:
      name: api-version
      in: query
      description: The client API version.
      required: true
      schema:
        type: string
    ResourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group where the recovery services vault is present.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionId:
      name: subscriptionId
      in: path
      description: The subscription Id.
      required: true
      schema:
        type: string
    ApiVersion:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
    VaultName:
      name: vaultName
      in: path
      description: The name of the recovery services vault.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter_5:
      name: api-version
      in: query
      required: true
      description: The API version to be used with the HTTP request.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- ace-provisioning-managementpartner-api-openapi-original.yml
- azure-machine-learning-services-openapi-original.yml
- azure-ml-commitment-plans-management-client-openapi-original.yml
- blockchainmanagementclient-openapi-original.yml
- datasharemanagementclient-openapi-original.yml
- machine-learning-workspaces-management-client-openapi-original.yml
- ml-team-account-management-client-openapi-original.yml
- purviewmanagementclient-openapi-original.yml
- recoveryservicesbackupclient-openapi-original.yml
- test-base-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
