openapi: 3.2.0
info:
  version: 2018-11-01-preview
  title: Microsoft Azure DataShareManagementClient Synchronization…
  description: Creates a Microsoft.DataShare management client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: SynchronizationSetting
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/synchronizationSettings/{synchronizationSettingName}
  : get:
      tags:
      - SynchronizationSetting
      summary: Microsoft Azure Get Synchronizationsetting In A Share
      description: Get a synchronizationSetting in a share
      operationId: microsoftAzureSynchronizationsettingsGet
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/accountName'
      - name: shareName
        in: path
        description: The name of the share.
        required: true
        schema:
          type: string
      - name: synchronizationSettingName
        in: path
        description: The name of the synchronizationSetting.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SynchronizationSetting'
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataShareError'
      x-ms-examples:
        SynchronizationSettings_Get:
          $ref: ./examples/SynchronizationSettings_Get.json
    put:
      tags:
      - SynchronizationSetting
      summary: Microsoft Azure Adds A New Synchronization Setting To An Existing Share
      description: Create a synchronizationSetting
      operationId: microsoftAzureSynchronizationsettingsCreate
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/accountName'
      - name: shareName
        in: path
        description: The name of the share to add the synchronization setting to.
        required: true
        schema:
          type: string
      - name: synchronizationSettingName
        in: path
        description: The name of the synchronizationSetting.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SynchronizationSetting'
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SynchronizationSetting'
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataShareError'
      x-ms-examples:
        SynchronizationSettings_Create:
          $ref: ./examples/SynchronizationSettings_Create.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SynchronizationSetting'
        description: The new synchronization setting information.
        required: true
    delete:
      tags:
      - SynchronizationSetting
      summary: Microsoft Azure Delete Synchronizationsetting In A Share
      description: Delete a synchronizationSetting in a share
      operationId: microsoftAzureSynchronizationsettingsDelete
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/accountName'
      - name: shareName
        in: path
        description: The name of the share.
        required: true
        schema:
          type: string
      - name: synchronizationSettingName
        in: path
        description: The name of the synchronizationSetting .
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
        '202':
          description: Accepted
        '204':
          description: Success
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataShareError'
      x-ms-long-running-operation: true
      x-ms-examples:
        SynchronizationSettings_Delete:
          $ref: ./examples/SynchronizationSettings_Delete.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/synchronizationSettings
  : get:
      tags:
      - SynchronizationSetting
      summary: Microsoft Azure List Synchronizationsettings In A Share
      description: List synchronizationSettings in a share
      operationId: microsoftAzureSynchronizationsettingsListbyshare
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/accountName'
      - name: shareName
        in: path
        description: The name of the share.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      - name: $skipToken
        in: query
        description: continuation token
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SynchronizationSettingList'
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataShareError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        SynchronizationSettings_ListByShare:
          $ref: ./examples/SynchronizationSettings_ListByShare.json
components:
  schemas:
    OperationResponse:
      description: Response for long running operation
      required:
      - status
      type: object
      properties:
        endTime:
          format: date-time
          description: start time
          type: string
        error:
          $ref: '#/components/schemas/DataShareErrorInfo'
          description: The error property when status is failed.
        startTime:
          format: date-time
          description: start time
          type: string
        status:
          description: Operation state of the long running operation.
          enum:
          - Accepted
          - InProgress
          - TransientFailure
          - Succeeded
          - Failed
          - Canceled
          type: string
          x-ms-enum:
            name: status
            modelAsString: true
    SynchronizationSettingList:
      description: List response for get Synchronization settings
      required:
      - value
      type: object
      properties:
        nextLink:
          description: The Url of next result page.
          type: string
        value:
          description: Collection of items of type DataTransferObjects.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/SynchronizationSetting'
    DataShareError:
      description: The data share error model.
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/DataShareErrorInfo'
          description: The data share error body
    SynchronizationSetting:
      description: A Synchronization Setting data transfer object.
      required:
      - kind
      type: object
      allOf:
      - $ref: '#/components/schemas/ProxyDto'
      properties:
        kind:
          description: Kind of synchronization setting.
          enum:
          - ScheduleBased
          type: string
          x-ms-enum:
            name: synchronizationSettingKind
            modelAsString: true
      discriminator:
        propertyName: kind
    ProxyDto:
      description: Base data transfer object implementation for proxy resources.
      type: object
      properties:
        id:
          description: The resource id of the azure resource
          type: string
          readOnly: true
        name:
          description: Name of the azure resource
          type: string
          readOnly: true
        type:
          description: Type of the azure resource
          type: string
          readOnly: true
      x-ms-azure-resource: true
    DataShareErrorInfo:
      description: The data share error body model.
      required:
      - code
      - message
      type: object
      properties:
        code:
          description: Code of the error
          type: string
        details:
          description: Nested details of the error model
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/DataShareErrorInfo'
        message:
          description: Message of the error
          type: string
        target:
          description: Target of the error
          type: string
  parameters:
    accountName:
      name: accountName
      in: path
      description: The name of the share account.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    api-version:
      name: api-version
      in: query
      description: The api version to use.
      required: true
      schema:
        type: string
    resourceGroupName:
      name: resourceGroupName
      in: path
      description: The resource group name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    subscriptionId:
      name: subscriptionId
      in: path
      description: The subscription identifier
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
