openapi: 3.2.0
info:
  title: Microsoft Azure Job Definitions API
  version: '1.0'
  description: 'Operations tagged JobDefinitions across 2 of this provider''s published API definitions: hybriddatamanagementclient-openapi-original.yml, storagemoverclient-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Job Definitions
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataServices/{dataServiceName}/jobDefinitions
  : get:
      tags:
      - Job Definitions
      description: This method gets all the job definitions of the given data service name.
      operationId: microsoftAzureJobdefinitionsListbydataservice
      parameters:
      - name: dataServiceName
        in: path
        description: The data service type of interest.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/dataManagerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      - name: $filter
        in: query
        description: OData Filter options
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The list of job definitions of the given data service type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDefinitionList'
      x-ms-odata: '#/definitions/JobDefinitionFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        JobDefinitions_ListByDataServiceGET71:
          $ref: ./examples/JobDefinitions_ListByDataService-GET-example-71.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataServices/{dataServiceName}/jobDefinitions/{jobDefinitionName}
  : get:
      tags:
      - Job Definitions
      description: This method gets job definition object by name.
      operationId: microsoftAzureJobdefinitionsGet
      parameters:
      - name: dataServiceName
        in: path
        description: The data service name of the job definition
        required: true
        schema:
          type: string
      - name: jobDefinitionName
        in: path
        description: The job definition name that is being queried.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/dataManagerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The job definition that matches the criteria.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDefinition'
      x-ms-examples:
        JobDefinitions_GetGET81:
          $ref: ./examples/JobDefinitions_Get-GET-example-81.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Job Definitions
      description: Creates or updates a job definition.
      operationId: microsoftAzureJobdefinitionsCreateorupdate
      parameters:
      - name: dataServiceName
        in: path
        description: The data service type of the job definition.
        required: true
        schema:
          type: string
      - name: jobDefinitionName
        in: path
        description: The job definition name to be created or updated.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/dataManagerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: JobDefinition object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDefinition'
        '202':
          description: Accepted request for create/update.
      x-ms-long-running-operation: true
      x-ms-examples:
        JobDefinitions_CreateOrUpdatePUT83:
          $ref: ./examples/JobDefinitions_CreateOrUpdate-PUT-example-83.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobDefinition'
        description: Job Definition object to be created or updated.
        required: true
    delete:
      tags:
      - Job Definitions
      description: This method deletes the given job definition.
      operationId: microsoftAzureJobdefinitionsDelete
      parameters:
      - name: dataServiceName
        in: path
        description: The data service type of the job definition.
        required: true
        schema:
          type: string
      - name: jobDefinitionName
        in: path
        description: The job definition name to be deleted.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/dataManagerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted request for JobDefinition deletion.
        '204':
          description: JobDefinition deleted.
      x-ms-long-running-operation: true
      x-ms-examples:
        JobDefinitions_DeleteDELETE81:
          $ref: ./examples/JobDefinitions_Delete-DELETE-example-81.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataServices/{dataServiceName}/jobDefinitions/{jobDefinitionName}/run
  : post:
      tags:
      - Job Definitions
      description: This method runs a job instance of the given job definition.
      operationId: microsoftAzureJobdefinitionsRun
      parameters:
      - name: dataServiceName
        in: path
        description: The data service type of the job definition.
        required: true
        schema:
          type: string
      - name: jobDefinitionName
        in: path
        description: Name of the job definition.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/dataManagerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '202':
          description: Job run accepted.
        '204':
          description: Job run started.
      x-ms-long-running-operation: true
      x-ms-examples:
        JobDefinitions_RunPOST132:
          $ref: ./examples/JobDefinitions_Run-POST-example-132.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunParameters'
        description: Run time parameters for the job definition.
        required: true
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/jobDefinitions
  : get:
      tags:
      - Job Definitions
      description: This method gets all the job definitions of the given data manager resource.
      operationId: microsoftAzureJobdefinitionsListbydatamanager
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/dataManagerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      - name: $filter
        in: query
        description: OData Filter options
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The list of job definitions in that resource.OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDefinitionList'
      x-ms-odata: '#/definitions/JobDefinitionFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        JobDefinitions_ListByDataManagerGET191:
          $ref: ./examples/JobDefinitions_ListByDataManager-GET-example-191.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageMover/storageMovers/{storageMoverName}/projects/{projectName}/jobDefinitions
  : get:
      tags:
      - Job Definitions
      operationId: microsoftAzureJobdefinitionsList
      description: Lists all Job Definitions in a Project.
      x-ms-examples:
        JobDefinitions_List:
          $ref: ./examples/JobDefinitions_List.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/StorageMoverNameParameter'
      - $ref: '#/components/parameters/ProjectNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The list of Job Definitions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDefinitionList_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageMover/storageMovers/{storageMoverName}/projects/{projectName}/jobDefinitions/{jobDefinitionName}
  : get:
      tags:
      - Job Definitions
      operationId: microsoftAzureJobdefinitionsGet
      description: Gets a Job Definition resource.
      x-ms-examples:
        JobDefinitions_Get:
          $ref: ./examples/JobDefinitions_Get.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/StorageMoverNameParameter'
      - $ref: '#/components/parameters/ProjectNameParameter'
      - $ref: '#/components/parameters/JobDefinitionNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The Job Definition resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDefinition_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Job Definitions
      operationId: microsoftAzureJobdefinitionsCreateorupdate
      description: Creates or updates a Job Definition resource, which contains configuration for a single unit of managed data transfer.
      x-ms-examples:
        JobDefinitions_CreateOrUpdate:
          $ref: ./examples/JobDefinitions_CreateOrUpdate.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/StorageMoverNameParameter'
      - $ref: '#/components/parameters/ProjectNameParameter'
      - $ref: '#/components/parameters/JobDefinitionNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Successfully PUT Job Definition resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDefinition_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobDefinition_2'
        required: true
    patch:
      tags:
      - Job Definitions
      operationId: microsoftAzureJobdefinitionsUpdate
      description: Updates properties for a Job Definition resource. Properties not specified in the request body will be unchanged.
      x-ms-examples:
        JobDefinitions_Update:
          $ref: ./examples/JobDefinitions_Update.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/StorageMoverNameParameter'
      - $ref: '#/components/parameters/ProjectNameParameter'
      - $ref: '#/components/parameters/JobDefinitionNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The Job Definition resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDefinition_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobDefinitionUpdateParameters'
        required: true
    delete:
      tags:
      - Job Definitions
      operationId: microsoftAzureJobdefinitionsDelete
      description: Deletes a Job Definition resource.
      x-ms-examples:
        Projects_Delete:
          $ref: ./examples/JobDefinitions_Delete.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/StorageMoverNameParameter'
      - $ref: '#/components/parameters/ProjectNameParameter'
      - $ref: '#/components/parameters/JobDefinitionNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Successfully deleted Job Definition.
        '202':
          description: Accepted. Job Definition delete operation is ongoing.
        '204':
          description: NoContent -- Job Definition does not exist for this Project.
        default:
          description: Error response describing why delete operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageMover/storageMovers/{storageMoverName}/projects/{projectName}/jobDefinitions/{jobDefinitionName}/startJob
  : post:
      tags:
      - Job Definitions
      operationId: microsoftAzureJobdefinitionsStartjob
      description: Requests an Agent to start a new instance of this Job Definition, generating a new Job Run resource.
      x-ms-examples:
        JobDefinitions_StartJob:
          $ref: ./examples/JobDefinitions_StartJob.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/StorageMoverNameParameter'
      - $ref: '#/components/parameters/ProjectNameParameter'
      - $ref: '#/components/parameters/JobDefinitionNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Successfully requested job to start.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobRunResourceId'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageMover/storageMovers/{storageMoverName}/projects/{projectName}/jobDefinitions/{jobDefinitionName}/stopJob
  : post:
      tags:
      - Job Definitions
      operationId: microsoftAzureJobdefinitionsStopjob
      description: Requests the Agent of any active instance of this Job Definition to stop.
      x-ms-examples:
        JobDefinitions_StopJob:
          $ref: ./examples/JobDefinitions_StopJob.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/StorageMoverNameParameter'
      - $ref: '#/components/parameters/ProjectNameParameter'
      - $ref: '#/components/parameters/JobDefinitionNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Successfully requested running job to stop, if any.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobRunResourceId'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
components:
  schemas:
    CustomerSecret:
      description: The pair of customer secret.
      required:
      - keyIdentifier
      - keyValue
      - algorithm
      type: object
      properties:
        keyIdentifier:
          description: The identifier to the data service input object which this secret corresponds to.
          type: string
        keyValue:
          description: It contains the encrypted customer secret.
          type: string
        algorithm:
          description: The encryption algorithm used to encrypt data.
          enum:
          - None
          - RSA1_5
          - RSA_OAEP
          - PlainText
          type: string
          x-ms-enum:
            name: SupportedAlgorithm
            modelAsString: false
    RunParameters:
      description: Run parameters for a job.
      type: object
      properties:
        userConfirmation:
          description: Enum to detect if user confirmation is required. If not passed will default to NotRequired.
          default: NotRequired
          enum:
          - NotRequired
          - Required
          type: string
          x-ms-enum:
            name: UserConfirmation
            modelAsString: false
        dataServiceInput:
          description: A generic json used differently by each data service type.
          type: object
        customerSecrets:
          description: List of customer secrets containing a key identifier and key value. The key identifier is a way for the specific data source to understand the key. Value contains customer secret encrypted by the encryptionKeys.
          type: array
          items:
            $ref: '#/components/schemas/CustomerSecret'
    JobDefinitionList:
      description: Job Definition Collection.
      type: object
      properties:
        value:
          description: List of job definitions.
          type: array
          items:
            $ref: '#/components/schemas/JobDefinition'
        nextLink:
          description: Link for the next set of job definitions.
          type: string
    JobDefinitionProperties:
      description: Job Definition
      required:
      - dataSourceId
      - dataSinkId
      - state
      type: object
      properties:
        dataSourceId:
          description: Data Source Id associated to the job definition.
          type: string
        dataSinkId:
          description: Data Sink Id associated to the job definition.
          type: string
        schedules:
          description: Schedule for running the job definition
          type: array
          items:
            $ref: '#/components/schemas/Schedule'
        state:
          description: State of the job definition.
          enum:
          - Disabled
          - Enabled
          - Supported
          type: string
          x-ms-enum:
            name: State
            modelAsString: false
        lastModifiedTime:
          format: date-time
          description: Last modified time of the job definition.
          type: string
        runLocation:
          description: This is the preferred geo location for the job to run.
          enum:
          - none
          - australiaeast
          - australiasoutheast
          - brazilsouth
          - canadacentral
          - canadaeast
          - centralindia
          - centralus
          - eastasia
          - eastus
          - eastus2
          - japaneast
          - japanwest
          - koreacentral
          - koreasouth
          - southeastasia
          - southcentralus
          - southindia
          - northcentralus
          - northeurope
          - uksouth
          - ukwest
          - westcentralus
          - westeurope
          - westindia
          - westus
          - westus2
          type: string
          x-ms-enum:
            name: RunLocation
            modelAsString: false
        userConfirmation:
          description: Enum to detect if user confirmation is required. If not passed will default to NotRequired.
          default: NotRequired
          enum:
          - NotRequired
          - Required
          type: string
          x-ms-enum:
            name: UserConfirmation
            modelAsString: false
        dataServiceInput:
          description: A generic json used differently by each data service type.
          type: object
        customerSecrets:
          description: List of customer secrets containing a key identifier and key value. The key identifier is a way for the specific data source to understand the key. Value contains customer secret encrypted by the encryptionKeys.
          type: array
          items:
            $ref: '#/components/schemas/CustomerSecret'
    DmsBaseObject:
      description: Base class for all objects under DataManager Service
      type: object
      properties:
        name:
          description: Name of the object.
          type: string
          readOnly: true
        id:
          description: Id of the object.
          type: string
          readOnly: true
        type:
          description: Type of the object.
          type: string
          readOnly: true
    JobDefinition:
      description: Job Definition.
      required:
      - properties
      type: object
      allOf:
      - $ref: '#/components/schemas/DmsBaseObject'
      properties:
        properties:
          $ref: '#/components/schemas/JobDefinitionProperties'
          description: JobDefinition properties.
          x-ms-client-flatten: true
    Schedule:
      description: Schedule for the job run.
      type: object
      properties:
        name:
          description: Name of the schedule.
          type: string
        policyList:
          description: A list of repetition intervals in ISO 8601 format.
          type: array
          items:
            type: string
    JobDefinitionList_2:
      description: List of Job Definitions.
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/JobDefinition_2'
          readOnly: true
        nextLink:
          type: string
          description: Request URL that can be used to query next page of containers. Returned when total number of requested containers exceed maximum page size.
          readOnly: true
    JobRunResourceId:
      description: Response that identifies a Job Run.
      type: object
      properties:
        jobRunResourceId:
          readOnly: true
          type: string
          description: Fully qualified resource id of the Job Run.
    JobDefinitionUpdateParameters:
      description: The Job Definition resource.
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/JobDefinitionUpdateProperties'
    JobDefinition_2:
      description: The Job Definition resource.
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/JobDefinitionProperties_2'
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: Resource system metadata.
      required:
      - properties
      allOf:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource
    JobDefinitionProperties_2:
      description: Job definition properties.
      type: object
      properties:
        description:
          type: string
          description: A description for the Job Definition.
        copyMode:
          type: string
          description: Strategy to use for copy.
          x-ms-enum:
            name: CopyMode
            modelAsString: true
          enum:
          - Additive
          - Mirror
        sourceName:
          type: string
          description: The name of the source Endpoint.
          x-ms-mutability:
          - read
          - create
        sourceResourceId:
          type: string
          description: Fully qualified resource ID of the source Endpoint.
          readOnly: true
        sourceSubpath:
          type: string
          description: The subpath to use when reading from the source Endpoint.
          x-ms-mutability:
          - read
          - create
        targetName:
          type: string
          description: The name of the target Endpoint.
          x-ms-mutability:
          - read
          - create
        targetResourceId:
          type: string
          description: Fully qualified resource ID of the target Endpoint.
          readOnly: true
        targetSubpath:
          type: string
          description: The subpath to use when writing to the target Endpoint.
          x-ms-mutability:
          - read
          - create
        latestJobRunName:
          type: string
          description: The name of the Job Run in a non-terminal state, if exists.
          readOnly: true
        latestJobRunResourceId:
          type: string
          description: The fully qualified resource ID of the Job Run in a non-terminal state, if exists.
          readOnly: true
        latestJobRunStatus:
          enum:
          - Queued
          - Started
          - Running
          - CancelRequested
          - Canceling
          - Canceled
          - Failed
          - Succeeded
          type: string
          x-ms-enum:
            name: JobRunStatus
            modelAsString: true
          description: The current status of the Job Run in a non-terminal state, if exists.
          readOnly: true
        agentName:
          type: string
          description: Name of the Agent to assign for new Job Runs of this Job Definition.
        agentResourceId:
          type: string
          description: Fully qualified resource id of the Agent to assign for new Job Runs of this Job Definition.
          readOnly: true
        provisioningState:
          description: The provisioning state of this resource.
          enum:
          - Succeeded
          type: string
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
          readOnly: true
      required:
      - copyMode
      - sourceName
      - targetName
    JobDefinitionUpdateProperties:
      description: Job definition properties.
      type: object
      properties:
        description:
          type: string
          description: A description for the Job Definition.
        copyMode:
          type: string
          description: Strategy to use for copy.
          x-ms-enum:
            name: CopyMode
            modelAsString: true
          enum:
          - Additive
          - Mirror
        agentName:
          type: string
          description: Name of the Agent to assign for new Job Runs of this Job Definition.
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The Subscription Id
      required: true
      schema:
        type: string
    dataManagerNameParameter:
      name: dataManagerName
      in: path
      description: The name of the DataManager Resource within the specified resource group. DataManager names must be between 3 and 24 characters in length and use any alphanumeric and underscore only
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 24
        minLength: 3
        pattern: ^[-\w\.]+$
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The Resource Group Name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      description: The API Version
      required: true
      schema:
        type: string
    JobDefinitionNameParameter:
      name: jobDefinitionName
      in: path
      required: true
      description: The name of the Job Definition resource.
      x-ms-parameter-location: method
      schema:
        type: string
    ProjectNameParameter:
      name: projectName
      in: path
      required: true
      description: The name of the Project resource.
      x-ms-parameter-location: method
      schema:
        type: string
    StorageMoverNameParameter:
      name: storageMoverName
      in: path
      required: true
      description: The name of the Storage Mover resource.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- hybriddatamanagementclient-openapi-original.yml
- storagemoverclient-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
