openapi: 3.2.0
info:
  version: '2019-06-01'
  title: Microsoft Azure DeviceServices Check Device Service Name…
  description: Use this API to manage the Windows IoT device services in your Azure subscription.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: CheckDeviceServiceNameAvailability
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.WindowsIoT/checkDeviceServiceNameAvailability:
    post:
      tags:
      - CheckDeviceServiceNameAvailability
      description: Check if a Windows IoT Device Service name is available.
      operationId: microsoftAzureServicesCheckdeviceservicenameavailability
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceServiceNameAvailabilityInfo'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
      x-ms-examples:
        Service_CheckNameAvailability:
          $ref: ./examples/Service_CheckNameAvailability.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceServiceCheckNameAvailabilityParameters'
        description: Set the name parameter in the DeviceServiceCheckNameAvailabilityParameters structure to the name of the Windows IoT Device Service to check.
        required: true
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: The version of the API.
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription identifier.
      required: true
      schema:
        type: string
  schemas:
    DeviceServiceNameAvailabilityInfo:
      description: The properties indicating whether a given Windows IoT Device Service name is available.
      type: object
      properties:
        nameAvailable:
          description: The value which indicates whether the provided name is available.
          type: boolean
          readOnly: true
        reason:
          description: The reason for unavailability.
          enum:
          - Invalid
          - AlreadyExists
          type: string
          readOnly: true
          x-ms-enum:
            name: serviceNameUnavailabilityReason
            modelAsString: false
        message:
          description: The detailed reason message.
          type: string
    DeviceServiceCheckNameAvailabilityParameters:
      description: Input values.
      type: object
      properties:
        name:
          description: The name of the Windows IoT Device Service to check.
          type: string
      required:
      - name
    ErrorDetails:
      description: The details of the error.
      properties:
        error:
          type: object
          description: The error object.
          properties:
            code:
              description: One of a server-defined set of error codes.
              type: string
            message:
              description: A human-readable representation of the error.
              type: string
            target:
              description: The target of the particular error.
              type: string
            details:
              description: A human-readable representation of the error's details.
              type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
