openapi: 3.2.0
info:
  version: 2023-07-01-preview
  title: Microsoft Azure CdnManagementClient Validate Probe API
  description: Use these APIs to manage Azure CDN resources through the Azure Resource Manager. You must make sure that requests made to these resources are secure.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ValidateProbe
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Cdn/validateProbe:
    post:
      tags:
      - ValidateProbe
      description: Check if the probe path is a valid path and the file can be accessed. Probe path is the path to a file hosted on the origin server to help accelerate the delivery of dynamic content via the CDN endpoint. This path is relative to the origin path specified in the endpoint configuration.
      operationId: microsoftAzureValidateprobe
      x-ms-examples:
        ValidateProbe:
          $ref: ./examples/ValidateProbe.json
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateProbeOutput'
        default:
          description: CDN error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft Cdn…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateProbeInput'
        description: Input to check.
        required: true
components:
  schemas:
    ValidateProbeInput:
      description: Input of the validate probe API.
      properties:
        probeURL:
          description: The probe URL to validate.
          type: string
      required:
      - probeURL
      type: object
    ErrorResponse:
      title: Error response
      description: Error response indicates Azure Front Door Standard or Azure Front Door Premium or CDN service is not able to process the incoming request. The reason is provided in the error message.
      type: object
      properties:
        error:
          $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorDetail
    ValidateProbeOutput:
      description: Output of the validate probe API.
      properties:
        isValid:
          description: Indicates whether the probe URL is accepted or not.
          readOnly: true
          type: boolean
        errorCode:
          description: Specifies the error code when the probe url is not accepted.
          readOnly: true
          type: string
        message:
          description: The detailed error message describing why the probe URL is not accepted.
          readOnly: true
          type: string
      type: object
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Azure Subscription ID.
      required: true
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Version of the API to be used with the client request. Current version is 2023-05-01.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
