openapi: 3.2.0
info:
  title: Microsoft Azure Resource Mover Service Move Collections API
  description: A first party Azure service orchestrating the move of Azure resources from one Azure region to another or between zones within a region.
  version: 2019-10-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: MoveCollections
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/moveCollections/{moveCollectionName}
  : put:
      tags:
      - MoveCollections
      operationId: microsoftAzureMovecollectionsCreate
      description: Creates or updates a move collection.
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/moveCollectionName'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoveCollection'
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoveCollection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        MoveCollections_Create:
          $ref: ./examples/MoveCollections_Create.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveCollection'
    patch:
      tags:
      - MoveCollections
      operationId: microsoftAzureMovecollectionsUpdate
      description: Updates a move collection.
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/moveCollectionName'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoveCollection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        MoveCollections_Update:
          $ref: ./examples/MoveCollections_Update.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMoveCollectionRequest'
    delete:
      tags:
      - MoveCollections
      operationId: microsoftAzureMovecollectionsDelete
      description: Deletes a move collection.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/moveCollectionName'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        '202':
          description: Accepted
        '204':
          description: NoContent
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        MoveCollections_Delete:
          $ref: ./examples/MoveCollections_Delete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    get:
      tags:
      - MoveCollections
      operationId: microsoftAzureMovecollectionsGet
      description: Gets the move collection.
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/moveCollectionName'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoveCollection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        MoveCollections_Get:
          $ref: ./examples/MoveCollections_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/moveCollections/{moveCollectionName}/prepare
  : post:
      tags:
      - MoveCollections
      operationId: microsoftAzureMovecollectionsPrepare
      description: Initiates prepare for the set of resources included in the request body. The prepare operation is on the moveResources that are in the moveState 'PreparePending' or 'PrepareFailed', on a successful completion the moveResource moveState do a transition to MovePending. To aid the user to prerequisite the operation the client can call operation with validateOnly property set to true.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/moveCollectionName'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        '202':
          description: Accepted
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        MoveCollections_Prepare:
          $ref: ./examples/MoveCollections_Prepare.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepareRequest'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/moveCollections/{moveCollectionName}/initiateMove
  : post:
      tags:
      - MoveCollections
      operationId: microsoftAzureMovecollectionsInitiatemove
      description: Moves the set of resources included in the request body. The move operation is triggered after the moveResources are in the moveState 'MovePending' or 'MoveFailed', on a successful completion the moveResource moveState do a transition to CommitPending. To aid the user to prerequisite the operation the client can call operation with validateOnly property set to true.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/moveCollectionName'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        '202':
          description: Accepted
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        MoveCollections_InitiateMove:
          $ref: ./examples/MoveCollections_InitiateMove.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceMoveRequest'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/moveCollections/{moveCollectionName}/commit
  : post:
      tags:
      - MoveCollections
      operationId: microsoftAzureMovecollectionsCommit
      description: Commits the set of resources included in the request body. The commit operation is triggered on the moveResources in the moveState 'CommitPending' or 'CommitFailed', on a successful completion the moveResource moveState do a transition to Committed. To aid the user to prerequisite the operation the client can call operation with validateOnly property set to true.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/moveCollectionName'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        '202':
          description: Accepted
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        MoveCollections_Commit:
          $ref: ./examples/MoveCollections_Commit.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommitRequest'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/moveCollections/{moveCollectionName}/discard
  : post:
      tags:
      - MoveCollections
      operationId: microsoftAzureMovecollectionsDiscard
      description: Discards the set of resources included in the request body. The discard operation is triggered on the moveResources in the moveState 'CommitPending' or 'DiscardFailed', on a successful completion the moveResource moveState do a transition to MovePending. To aid the user to prerequisite the operation the client can call operation with validateOnly property set to true.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/moveCollectionName'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        '202':
          description: Accepted
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        MoveCollections_Discard:
          $ref: ./examples/MoveCollections_Discard.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiscardRequest'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/moveCollections/{moveCollectionName}/resolveDependencies
  : post:
      tags:
      - MoveCollections
      operationId: microsoftAzureMovecollectionsResolvedependencies
      description: Computes, resolves and validate the dependencies of the moveResources in the move collection.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/moveCollectionName'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        '202':
          description: Accepted
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        MoveCollections_ResolveDependencies:
          $ref: ./examples/MoveCollections_ResolveDependencies.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/moveCollections/{moveCollectionName}/moveResources
  : get:
      tags:
      - MoveCollections
      operationId: microsoftAzureMoveresourcesList
      description: Lists the Move Resources in the move collection.
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/moveCollectionName'
      - $ref: '#/components/parameters/api-version'
      - name: $filter
        in: query
        required: false
        description: The filter to apply on the operation. For example, you can use $filter=Properties/ProvisioningState eq 'Succeeded'.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoveResourceCollection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/MoveResourceFilter'
      x-ms-examples:
        MoveResources_List:
          $ref: ./examples/MoveResources_List.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/moveCollections/{moveCollectionName}/unresolvedDependencies
  : get:
      tags:
      - MoveCollections
      operationId: microsoftAzureUnresolveddependenciesGet
      description: Gets a list of unresolved dependencies.
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/moveCollectionName'
      - name: dependencyLevel
        in: query
        description: Defines the dependency level.
        required: false
        x-ms-enum:
          name: DependencyLevel
          modelAsString: true
        schema:
          type: string
          enum:
          - Direct
          - Descendant
      - name: $orderby
        in: query
        required: false
        description: OData order by query option. For example, you can use $orderby=Count desc.
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      - name: $filter
        in: query
        required: false
        description: The filter to apply on the operation. For example, $apply=filter(count eq 2).
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnresolvedDependencyCollection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/UnresolvedDependenciesFilter'
      x-ms-examples:
        UnresolvedDependencies_Get:
          $ref: ./examples/UnresolvedDependencies_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/moveCollections/{moveCollectionName}/bulkRemove
  : post:
      tags:
      - MoveCollections
      operationId: microsoftAzureMovecollectionsBulkremove
      description: Removes the set of move resources included in the request body from move collection. The orchestration is done by service. To aid the user to prerequisite the operation the client can call operation with validateOnly property set to true.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - in: path
        name: moveCollectionName
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        '202':
          description: Accepted
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        MoveCollections_BulkRemove:
          $ref: ./examples/MoveCollections_BulkRemove.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkRemoveRequest'
components:
  schemas:
    MoveResourceErrorBody:
      properties:
        code:
          type: string
          readOnly: true
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          type: string
          readOnly: true
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          type: string
          readOnly: true
          description: The target of the particular error. For example, the name of the property in error.
        details:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/MoveResourceErrorBody'
          description: A list of additional details about the error.
      description: An error response from the Azure Migrate service.
    OperationStatus:
      description: Operation status REST resource.
      type: object
      properties:
        id:
          description: Resource Id.
          type: string
          readOnly: true
        name:
          description: Operation name.
          type: string
          readOnly: true
        status:
          description: Status of the operation. ARM expects the terminal status to be one of Succeeded/ Failed/ Canceled. All other values imply that the operation is still running.
          type: string
          readOnly: true
        startTime:
          description: Start time.
          type: string
          readOnly: true
        endTime:
          description: End time.
          type: string
          readOnly: true
        error:
          $ref: '#/components/schemas/OperationStatusError'
          description: Error stating all error details for the operation.
          readOnly: true
        properties:
          $ref: '#/components/schemas/OperationStatusProperties'
          description: Custom data.
          readOnly: true
    MoveState:
      description: Defines the MoveResource states.
      enum:
      - AssignmentPending
      - PreparePending
      - PrepareInProgress
      - PrepareFailed
      - MovePending
      - MoveInProgress
      - MoveFailed
      - DiscardInProgress
      - DiscardFailed
      - CommitPending
      - CommitInProgress
      - CommitFailed
      - Committed
      - DeleteSourcePending
      - ResourceMoveCompleted
      type: string
      readOnly: true
      x-ms-enum:
        name: MoveState
        modelAsString: true
    JobName:
      description: Defines the job name.
      enum:
      - InitialSync
      type: string
      readOnly: true
      x-ms-enum:
        name: JobName
        modelAsString: true
    CloudErrorBody:
      x-ms-external: true
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of the property in error.
        details:
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          description: A list of additional details about the error.
      description: An error response from the service.
    MoveResourceCollection:
      description: Defines the collection of move resources.
      type: object
      properties:
        value:
          description: Gets the list of move resources.
          type: array
          items:
            $ref: '#/components/schemas/MoveResource'
        nextLink:
          description: Gets the value of  next link.
          type: string
        summaryCollection:
          description: Gets or sets the list of summary items and the field on which summary is done.
          $ref: '#/components/schemas/SummaryCollection'
        totalCount:
          description: Gets the total count.
          type: integer
          readOnly: true
          format: int64
    MoveResourceDependency:
      description: Defines the dependency of the move resource.
      type: object
      properties:
        id:
          description: Gets the source ARM ID of the dependent resource.
          type: string
        resolutionStatus:
          description: Gets the dependency resolution status.
          type: string
        resolutionType:
          $ref: '#/components/schemas/ResolutionType'
        dependencyType:
          $ref: '#/components/schemas/DependencyType'
        manualResolution:
          $ref: '#/components/schemas/ManualResolutionProperties'
        automaticResolution:
          $ref: '#/components/schemas/AutomaticResolutionProperties'
        isOptional:
          description: Gets or sets a value indicating whether the dependency is optional.
          type: string
    ResolutionType:
      description: Defines the resolution type.
      enum:
      - Manual
      - Automatic
      type: string
      x-ms-enum:
        name: ResolutionType
        modelAsString: true
    MoveCollectionProperties:
      description: Defines the move collection properties.
      type: object
      required:
      - sourceRegion
      - targetRegion
      properties:
        sourceRegion:
          description: Gets or sets the source region.
          type: string
        targetRegion:
          description: Gets or sets the target region.
          type: string
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
        errors:
          description: Defines the move collection errors.
          allOf:
          - $ref: '#/components/schemas/MoveResourceError'
          readOnly: true
    MoveResourceInputType:
      description: Defines the move resource input type.
      type: string
      enum:
      - MoveResourceId
      - MoveResourceSourceId
      x-ms-enum:
        name: MoveResourceInputType
        modelAsString: true
    MoveResourceError:
      properties:
        properties:
          type: object
          description: The move resource error body.
          $ref: '#/components/schemas/MoveResourceErrorBody'
      description: An error response from the azure resource mover service.
    ResourceIdentityType:
      description: The type of identity used for the resource mover service.
      enum:
      - None
      - SystemAssigned
      - UserAssigned
      type: string
      x-ms-enum:
        name: ResourceIdentityType
        modelAsString: true
    ProvisioningState:
      description: Defines the provisioning states.
      enum:
      - Succeeded
      - Updating
      - Creating
      - Failed
      type: string
      readOnly: true
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    DiscardRequest:
      description: Defines the request body for discard operation.
      type: object
      required:
      - moveResources
      properties:
        validateOnly:
          description: Gets or sets a value indicating whether the operation needs to only run pre-requisite.
          type: boolean
        moveResources:
          description: Gets or sets the list of resource Id's, by default it accepts move resource id's unless the input type is switched via moveResourceInputType property.
          type: array
          items:
            type: string
        moveResourceInputType:
          $ref: '#/components/schemas/MoveResourceInputType'
    MoveResourceDependencyOverride:
      description: Defines the dependency override of the move resource.
      type: object
      properties:
        id:
          description: Gets or sets the ARM ID of the dependent resource.
          type: string
        targetId:
          description: 'Gets or sets the resource ARM id of either the MoveResource or the resource ARM ID of

            the dependent resource.'
          type: string
    ResourceSettings:
      description: Gets or sets the resource settings.
      type: object
      required:
      - resourceType
      - targetResourceName
      properties:
        resourceType:
          description: The resource type. For example, the value can be Microsoft.Compute/virtualMachines.
          type: string
          x-ms-mutability:
          - create
          - read
        targetResourceName:
          description: Gets or sets the target Resource name.
          type: string
      discriminator:
        propertyName: resourceType
    SummaryCollection:
      description: Summary Collection.
      type: object
      properties:
        fieldName:
          description: Gets or sets the field name on which summary is done.
          type: string
        summary:
          description: Gets or sets the list of summary items.
          type: array
          items:
            $ref: '#/components/schemas/Summary'
    UpdateMoveCollectionRequest:
      description: Defines the request body for updating move collection.
      type: object
      properties:
        tags:
          description: Gets or sets the Resource tags.
          type: object
          additionalProperties:
            type: string
        identity:
          $ref: '#/components/schemas/Identity'
    OperationStatusProperties:
      description: Class for operation result properties.
      type: object
      properties: {}
    CommitRequest:
      description: Defines the request body for commit operation.
      type: object
      required:
      - moveResources
      properties:
        validateOnly:
          description: Gets or sets a value indicating whether the operation needs to only run pre-requisite.
          type: boolean
        moveResources:
          description: Gets or sets the list of resource Id's, by default it accepts move resource id's unless the input type is switched via moveResourceInputType property.
          type: array
          items:
            type: string
        moveResourceInputType:
          $ref: '#/components/schemas/MoveResourceInputType'
    MoveResourceProperties:
      description: Defines the move resource properties.
      type: object
      required:
      - sourceId
      properties:
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
        sourceId:
          description: Gets or sets the Source ARM Id of the resource.
          type: string
        targetId:
          description: Gets or sets the Target ARM Id of the resource.
          type: string
          readOnly: true
        existingTargetId:
          description: Gets or sets the existing target ARM Id of the resource.
          type: string
        resourceSettings:
          description: Gets or sets the resource settings.
          $ref: '#/components/schemas/ResourceSettings'
        sourceResourceSettings:
          description: Gets or sets the source resource settings.
          $ref: '#/components/schemas/ResourceSettings'
          readOnly: true
        moveStatus:
          description: Defines the move resource status.
          allOf:
          - $ref: '#/components/schemas/MoveResourceStatus'
          readOnly: true
        dependsOn:
          description: Gets or sets the move resource dependencies.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/MoveResourceDependency'
        dependsOnOverrides:
          description: Gets or sets the move resource dependencies overrides.
          type: array
          items:
            $ref: '#/components/schemas/MoveResourceDependencyOverride'
        isResolveRequired:
          description: Gets a value indicating whether the resolve action is required over the move collection.
          type: boolean
          readOnly: true
        errors:
          description: Defines the move resource errors.
          allOf:
          - $ref: '#/components/schemas/MoveResourceError'
          readOnly: true
    JobStatus:
      description: Defines the job status.
      type: object
      properties:
        jobName:
          $ref: '#/components/schemas/JobName'
        jobProgress:
          description: Gets or sets the monitoring job percentage.
          type: string
          readOnly: true
    AffectedMoveResource:
      description: The RP custom operation error info.
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: The affected move resource id.
        sourceId:
          readOnly: true
          type: string
          description: The affected move resource source id.
        moveResources:
          readOnly: true
          type: array
          description: The affected move resources.
          items:
            $ref: '#/components/schemas/AffectedMoveResource'
    Summary:
      description: Summary item.
      type: object
      properties:
        count:
          format: int32
          description: Gets the count.
          type: integer
        item:
          description: Gets the item.
          type: string
    MoveErrorInfo:
      description: The move custom error info.
      type: object
      properties:
        moveResources:
          readOnly: true
          type: array
          description: The affected move resources.
          items:
            $ref: '#/components/schemas/AffectedMoveResource'
    MoveResource:
      description: Defines the move resource.
      type: object
      x-ms-azure-resource: true
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource.
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
        properties:
          $ref: '#/components/schemas/MoveResourceProperties'
    AutomaticResolutionProperties:
      description: Defines the properties for automatic resolution.
      type: object
      properties:
        moveResourceId:
          description: 'Gets the MoveResource ARM ID of

            the dependent resource if the resolution type is Automatic.'
          type: string
    PrepareRequest:
      description: Defines the request body for initiate prepare operation.
      type: object
      required:
      - moveResources
      properties:
        validateOnly:
          description: Gets or sets a value indicating whether the operation needs to only run pre-requisite.
          type: boolean
        moveResources:
          description: Gets or sets the list of resource Id's, by default it accepts move resource id's unless the input type is switched via moveResourceInputType property.
          type: array
          items:
            type: string
        moveResourceInputType:
          $ref: '#/components/schemas/MoveResourceInputType'
    BulkRemoveRequest:
      description: Defines the request body for bulk remove of move resources operation.
      type: object
      properties:
        validateOnly:
          description: Gets or sets a value indicating whether the operation needs to only run pre-requisite.
          type: boolean
        moveResources:
          description: Gets or sets the list of resource Id's, by default it accepts move resource id's unless the input type is switched via moveResourceInputType property.
          type: array
          items:
            type: string
        moveResourceInputType:
          $ref: '#/components/schemas/MoveResourceInputType'
    ManualResolutionProperties:
      description: Defines the properties for manual resolution.
      type: object
      properties:
        targetId:
          description: Gets or sets the target resource ARM ID of the dependent resource if the resource type is Manual.
          type: string
    ResourceMoveRequest:
      description: Defines the request body for resource move operation.
      type: object
      required:
      - moveResources
      properties:
        validateOnly:
          description: Gets or sets a value indicating whether the operation needs to only run pre-requisite.
          type: boolean
        moveResources:
          description: Gets or sets the list of resource Id's, by default it accepts move resource id's unless the input type is switched via moveResourceInputType property.
          type: array
          items:
            type: string
        moveResourceInputType:
          $ref: '#/components/schemas/MoveResourceInputType'
    OperationErrorAdditionalInfo:
      description: The operation error info.
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The error type.
        info:
          readOnly: true
          $ref: '#/components/schemas/MoveErrorInfo'
          description: The operation error info.
    MoveCollection:
      description: Define the move collection.
      type: object
      x-ms-azure-resource: true
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource.
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
        etag:
          readOnly: true
          type: string
          description: The etag of the resource.
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
          description: Resource tags.
        location:
          type: string
          x-ms-mutability:
          - read
          - create
          description: The geo-location where the resource lives.
        identity:
          $ref: '#/components/schemas/Identity'
        properties:
          $ref: '#/components/schemas/MoveCollectionProperties'
    CloudError:
      x-ms-external: true
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: Cloud error body.
      description: An error response from the service.
    UnresolvedDependencyCollection:
      description: Unresolved dependency collection.
      type: object
      properties:
        value:
          description: Gets or sets the list of unresolved dependencies.
          type: array
          items:
            $ref: '#/components/schemas/UnresolvedDependency'
        nextLink:
          description: Gets or sets the value of  next link.
          type: string
        summaryCollection:
          description: Gets or sets the list of summary items and the field on which summary is done.
          readOnly: true
          $ref: '#/components/schemas/SummaryCollection'
        totalCount:
          description: Gets the total count.
          type: integer
          readOnly: true
          format: int64
    DependencyType:
      description: Defines the dependency type.
      enum:
      - RequiredForPrepare
      - RequiredForMove
      type: string
      x-ms-enum:
        name: DependencyType
        modelAsString: true
    MoveResourceStatus:
      description: Defines the move resource status.
      type: object
      properties:
        moveState:
          $ref: '#/components/schemas/MoveState'
        jobStatus:
          $ref: '#/components/schemas/JobStatus'
        errors:
          $ref: '#/components/schemas/MoveResourceError'
    UnresolvedDependency:
      description: Unresolved dependency.
      type: object
      properties:
        count:
          format: int32
          description: Gets or sets the count.
          type: integer
        id:
          description: Gets or sets the arm id of the dependency.
          type: string
    Identity:
      description: Defines the MSI properties of the Move Collection.
      type: object
      properties:
        type:
          $ref: '#/components/schemas/ResourceIdentityType'
        principalId:
          description: Gets or sets the principal id.
          type: string
        tenantId:
          description: Gets or sets the tenant id.
          type: string
    OperationStatusError:
      description: Class for operation status errors.
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        details:
          readOnly: true
          type: array
          description: The error details.
          items:
            $ref: '#/components/schemas/OperationStatusError'
        additionalInfo:
          readOnly: true
          type: array
          description: The additional info.
          items:
            $ref: '#/components/schemas/OperationErrorAdditionalInfo'
  parameters:
    moveCollectionName:
      in: path
      name: moveCollectionName
      description: The Move Collection Name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    api-version:
      in: query
      name: api-version
      description: Client Api Version.
      required: true
      schema:
        type: string
    subscriptionId:
      in: path
      name: subscriptionId
      description: The Subscription ID.
      required: true
      schema:
        type: string
    resourceGroupName:
      in: path
      name: resourceGroupName
      description: The Resource Group Name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
