openapi: 3.2.0
info:
  title: Microsoft Azure NetworkResourceProviderClient Subnets API
  description: The Windows Azure Network management API provides a RESTful set of web services that interact with Windows Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Windows Azure Networks service.
  version: 2015-05-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Subnets
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualnetworks/{virtualNetworkName}/subnets/{subnetName}
  : delete:
      tags:
      - Subnets
      operationId: microsoftAzureSubnetsDelete
      description: The delete subnet operation deletes the specified subnet.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: virtualNetworkName
        in: path
        required: true
        description: The name of the virtual network.
        schema:
          type: string
      - name: subnetName
        in: path
        required: true
        description: The name of the subnet.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
        '202':
          description: ''
        '204':
          description: ''
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    get:
      tags:
      - Subnets
      operationId: microsoftAzureSubnetsGet
      description: The Get subnet operation retrieves information about the specified subnet.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: virtualNetworkName
        in: path
        required: true
        description: The name of the virtual network.
        schema:
          type: string
      - name: subnetName
        in: path
        required: true
        description: The name of the subnet.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subnet'
            text/json:
              schema:
                $ref: '#/components/schemas/Subnet'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Subnets
      operationId: microsoftAzureSubnetsCreateorupdate
      description: The Put Subnet operation creates/updates a subnet in the specified virtual network
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: virtualNetworkName
        in: path
        required: true
        description: The name of the virtual network.
        schema:
          type: string
      - name: subnetName
        in: path
        required: true
        description: The name of the subnet.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subnet'
            text/json:
              schema:
                $ref: '#/components/schemas/Subnet'
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subnet'
            text/json:
              schema:
                $ref: '#/components/schemas/Subnet'
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Subnet'
          text/json:
            schema:
              $ref: '#/components/schemas/Subnet'
        description: Parameters supplied to the create/update Subnet operation
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualnetworks/{virtualNetworkName}/subnets
  : get:
      tags:
      - Subnets
      operationId: microsoftAzureSubnetsList
      description: The List subnets operation retrieves all the subnets in a virtual network.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: virtualNetworkName
        in: path
        required: true
        description: The name of the virtual network.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubnetListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/SubnetListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    SubnetPropertiesFormat:
      properties:
        addressPrefix:
          type: string
          description: Gets or sets Address prefix for the subnet.
        networkSecurityGroup:
          $ref: '#/components/schemas/SubResource'
          description: Gets or sets the reference of the NetworkSecurityGroup resource
        routeTable:
          $ref: '#/components/schemas/SubResource'
          description: Gets or sets the reference of the RouteTable resource
        ipConfigurations:
          type: array
          items:
            $ref: '#/components/schemas/SubResource'
          description: Gets array of references to the network interface IP configurations using subnet
        provisioningState:
          type: string
          description: Gets or sets Provisioning state of the PublicIP resource Updating/Deleting/Failed
      required:
      - addressPrefix
    SubnetListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Subnet'
          description: Gets the subnets in a virtual network
        nextLink:
          type: string
          description: Gets the URL to get the next set of results.
      description: Response for ListSubnets Api service callRetrieves all subnet that belongs to a virtual network
    SubResource:
      properties:
        id:
          type: string
          description: Resource Id
      x-ms-azure-resource: true
    Subnet:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/SubnetPropertiesFormat'
        name:
          type: string
          description: Gets name of the resource that is unique within a resource group. This name can be used to access the resource
        etag:
          type: string
          description: A unique read-only string that changes whenever the resource is updated
      allOf:
      - $ref: '#/components/schemas/SubResource'
      description: Subnet in a VirtualNetwork resource
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
