openapi: 3.2.0
info:
  title: Microsoft Azure ApiManagementClient API Version Sets API
  description: Use these REST APIs for performing operations on Workspace entity and its associated entities within your Azure API Management deployment.
  version: 2023-05-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ApiVersionSets
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/apiVersionSets/{versionSetId}
  : delete:
      tags:
      - ApiVersionSets
      operationId: microsoftAzureWorkspaceapiversionsetDelete
      description: Deletes specific Api Version Set.
      x-ms-examples:
        ApiManagementDeleteWorkspaceApiVersionSet:
          $ref: ./examples/ApiManagementDeleteWorkspaceApiVersionSet.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionSetIdParameter
      - $ref: ./apimanagement.json#/parameters/IfMatchRequiredParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The ApiVersion Set details were successfully deleted.
        '204':
          description: The ApiVersion Set details were successfully deleted.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-ms-paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/apis/{apiId}?export=true
  : get:
      tags:
      - Apis
      operationId: WorkspaceApiExport_Get
      description: Gets the details of the API specified by its identifier in the format specified to the Storage Blob with SAS Key valid for 5 minutes.
      x-ms-examples:
        ApiManagementGetWorkspaceApiExportInOpenApi2dot0:
          $ref: ./examples/ApiManagementGetWorkspaceApiExportInOpenApi2dot0.json
        ApiManagementGetWorkspaceApiExportInOpenApi3dot0:
          $ref: ./examples/ApiManagementGetWorkspaceApiExportInOpenApi3dot0.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - name: format
        in: query
        required: true
        type: string
        enum:
        - swagger-link
        - wadl-link
        - wsdl-link
        - openapi-link
        - openapi+json-link
        x-ms-enum:
          name: ExportFormat
          modelAsString: true
          values:
          - value: swagger-link
            description: Export the Api Definition in OpenAPI 2.0 Specification as JSON document to the Storage Blob.
            name: Swagger
          - value: wsdl-link
            description: Export the Api Definition in WSDL Schema to Storage Blob. This is only supported for APIs of Type `soap`
            name: Wsdl
          - value: wadl-link
            description: Export the Api Definition in WADL Schema to Storage Blob.
            name: Wadl
          - value: openapi-link
            description: Export the Api Definition in OpenAPI 3.0 Specification as YAML document to Storage Blob.
            name: Openapi
          - value: openapi+json-link
            description: Export the Api Definition in OpenAPI 3.0 Specification as JSON document to Storage Blob.
            name: OpenapiJson
        description: Format in which to export the Api Details to the Storage Blob with Sas Key valid for 5 minutes.
      - name: export
        in: query
        required: true
        type: string
        enum:
        - 'true'
        x-ms-enum:
          modelAsString: true
          name: ExportApi
        description: Query parameter required to export the API details.
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The response contains a stream with a full set of API metadata and includes API entity with an embedded array of operation entities.
          schema:
            $ref: ./definitions.json#/definitions/ApiExportResult
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
