openapi: 3.2.0
info:
  version: '2023-01-01'
  title: Microsoft Azure Azure Migrate V2 Migrate Projects…
  description: Migrate your workloads to Azure.
  contact:
    name: Microsoft
    email: azuremigratehub@microsoft.com
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: MigrateProjectsController
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/registerTool
  : post:
      tags:
      - MigrateProjectsController
      summary: Microsoft Azure Registers A Tool With The Migrate Project
      operationId: microsoftAzureMigrateprojectscontrollerRegistertool
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/migrateProjectName'
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      deprecated: false
      x-ms-examples:
        MigrateProjectsController_RegisterTool_MaximumSet_Gen:
          $ref: ./examples/MigrateProjectsController_RegisterTool_MaximumSet_Gen.json
        MigrateProjectsController_RegisterTool_MinimumSet_Gen:
          $ref: ./examples/MigrateProjectsController_RegisterTool_MinimumSet_Gen.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterToolInput'
        description: Input containing the name of the tool to be registered.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/refreshSummary
  : post:
      tags:
      - MigrateProjectsController
      summary: Microsoft Azure Refresh The Summary Of The Migrate Project
      operationId: microsoftAzureMigrateprojectscontrollerRefreshsummary
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/migrateProjectName'
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshSummaryResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      deprecated: false
      x-ms-examples:
        MigrateProjectsController_RefreshSummary_MaximumSet_Gen:
          $ref: ./examples/MigrateProjectsController_RefreshSummary_MaximumSet_Gen.json
        MigrateProjectsController_RefreshSummary_MinimumSet_Gen:
          $ref: ./examples/MigrateProjectsController_RefreshSummary_MinimumSet_Gen.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshSummaryInput'
        description: The goal input which needs to be refreshed.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}
  : get:
      summary: Microsoft Azure Get A Specific Project
      description: Get information related to a specific migrate project. Returns a json object of type 'migrateProject' as specified in the models section.
      tags:
      - MigrateProjectsController
      operationId: microsoftAzureMigrateprojectscontrollerGetmigrateproject
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/migrateProjectName'
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrateProject'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      deprecated: false
      x-ms-examples:
        MigrateProjectsController_Get_MaximumSet_Gen:
          $ref: ./examples/MigrateProjectsController_Get_MaximumSet_Gen.json
        MigrateProjectsController_Get_MinimumSet_Gen:
          $ref: ./examples/MigrateProjectsController_Get_MinimumSet_Gen.json
    put:
      tags:
      - MigrateProjectsController
      summary: Microsoft Azure Create Or Update A New Project With Specified Settings
      description: 'Create or update a new project by sending a json object of type ''migrateproject'' as given in Models section as part of the Request Body. The project name is unique.


        This operation is Idempotent.'
      operationId: microsoftAzureMigrateprojectscontrollerPutmigrateproject
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/migrateProjectName'
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: ARM create or update operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrateProject'
        '201':
          description: ARM create or update operation completed successfully.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrateProject'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      deprecated: false
      x-ms-examples:
        MigrateProjectsController_Create_MaximumSet_Gen:
          $ref: ./examples/MigrateProjectsController_Create_MaximumSet_Gen.json
        MigrateProjectsController_Create_MinimumSet_Gen:
          $ref: ./examples/MigrateProjectsController_Create_MinimumSet_Gen.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MigrateProject'
        description: Migrate project body.
        required: true
    delete:
      tags:
      - MigrateProjectsController
      summary: Microsoft Azure Delete The Project
      description: Delete the migrate project. It deletes summary of the project.
      operationId: microsoftAzureMigrateprojectscontrollerDeletemigrateproject
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/migrateProjectName'
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        '204':
          description: No content. No project with specified name was found.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      deprecated: false
      x-ms-examples:
        MigrateProjectsController_Delete_MaximumSet_Gen:
          $ref: ./examples/MigrateProjectsController_Delete_MaximumSet_Gen.json
        MigrateProjectsController_Delete_MinimumSet_Gen:
          $ref: ./examples/MigrateProjectsController_Delete_MinimumSet_Gen.json
    patch:
      tags:
      - MigrateProjectsController
      summary: Microsoft Azure Update Project
      description: Update a project with specified name. Supports partial updates, for example only tags can be provided.
      operationId: microsoftAzureMigrateprojectscontrollerPatchmigrateproject
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/migrateProjectName'
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrateProject'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      deprecated: false
      x-ms-examples:
        MigrateProjectsController_Update_MaximumSet_Gen:
          $ref: ./examples/MigrateProjectsController_Update_MaximumSet_Gen.json
        MigrateProjectsController_Update_MinimumSet_Gen:
          $ref: ./examples/MigrateProjectsController_Update_MinimumSet_Gen.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MigrateProject'
        description: Migrate project body.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/registrationDetails
  : post:
      tags:
      - MigrateProjectsController
      operationId: microsoftAzureMigrateprojectscontrollerGettoolregistrationdetails
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/migrateProjectName'
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationDetailsResponse'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      deprecated: false
      x-ms-examples:
        MigrateProjectsController_GetToolRegistrationDetails_MaximumSet_Gen:
          $ref: ./examples/MigrateProjectsController_GetToolRegistrationDetails_MaximumSet_Gen.json
        MigrateProjectsController_GetToolRegistrationDetails_MinimumSet_Gen:
          $ref: ./examples/MigrateProjectsController_GetToolRegistrationDetails_MinimumSet_Gen.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrationDetailsInput'
        required: true
components:
  schemas:
    MigrateProject:
      type: object
      x-ms-azure-resource: true
      description: Migrate project.
      properties:
        properties:
          $ref: '#/components/schemas/MigrateProjectProperties'
        eTag:
          type: string
          description: For optimistic concurrency control.
        location:
          type: string
          description: Azure location in which project is created.
          x-ms-mutability:
          - create
          - read
        id:
          type: string
          description: Path reference to this project /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{projectName}
          readOnly: true
        name:
          type: string
          description: Name of the project.
          readOnly: true
        type:
          type: string
          description: Type of the object = [Microsoft.Migrate/migrateProjects].
          readOnly: true
        systemData:
          $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/systemData
          readOnly: true
    MigrateProjectProperties:
      type: object
      description: Properties of a migrate project.
      properties:
        registeredTools:
          type: array
          description: Register tools inside project.
          items:
            enum:
            - ServerDiscovery
            - ServerAssessment
            - ServerMigration
            - Cloudamize
            - Turbonomic
            - Zerto
            - CorentTech
            - ServerAssessmentV1
            - ServerMigration_Replication
            - Carbonite
            - DataMigrationAssistant
            - DatabaseMigrationService
            - Device42
            - JetStream
            - RackWare
            - UnifyCloud
            - Flexera
            - ServerDiscovery_Import
            - Lakeside
            - AppServiceMigrationAssistant
            - Movere
            - CloudSphere
            - Modernization
            - ServerMigration_DataReplication
            - Unknown
            type: string
            x-ms-enum:
              name: items
              modelAsString: true
          readOnly: true
        serviceEndpoint:
          type: string
          description: Service endpoint.
        summary:
          type: object
          description: Project summary.
          additionalProperties:
            $ref: '#/components/schemas/ProjectSummary'
          readOnly: true
        lastSummaryRefreshedTime:
          format: date-time
          type: string
          description: Last summary refresh time.
          readOnly: true
        refreshSummaryState:
          enum:
          - Started
          - InProgress
          - Completed
          - Failed
          type: string
          description: Refresh summary state.
          readOnly: true
          x-ms-enum:
            name: refreshSummaryState
            modelAsString: true
        utilityStorageAccountId:
          type: string
          description: Utility storage account id.
        publicNetworkAccess:
          description: Gets or sets the state of public network access.
          enum:
          - NotSpecified
          - Enabled
          - Disabled
          x-ms-enum:
            name: publicNetworkAccess
            modelAsString: true
          type: string
        privateEndpointConnections:
          description: Gets the private endpoint connections.
          type: array
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection'
          readOnly: true
    RegistrationResult:
      description: Class representing the registration status of a tool with the migrate project.
      type: object
      properties:
        isRegistered:
          description: Gets or sets a value indicating whether the tool is registered or not.
          type: boolean
    PrivateEndpointConnection:
      description: REST model used to encapsulate the user visible state of a PrivateEndpoint.
      type: object
      x-ms-azure-resource: true
      properties:
        id:
          description: Relative URL to get this Sites.
          type: string
          readOnly: true
        name:
          description: Gets the name of the resource.
          type: string
          readOnly: true
        type:
          description: Gets the resource type.
          type: string
          readOnly: true
        eTag:
          description: Gets the tag for optimistic concurrency control.
          type: string
          readOnly: true
        properties:
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties'
          description: Gets the properties of the object.
        systemData:
          $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/systemData
          readOnly: true
    ProjectSummary:
      type: object
      description: Project summary.
      properties:
        instanceType:
          type: string
          description: Instance type.
          readOnly: true
        refreshSummaryState:
          enum:
          - Started
          - InProgress
          - Completed
          - Failed
          type: string
          x-ms-enum:
            name: refreshSummaryState
            modelAsString: true
          description: Refresh summary state.
        lastSummaryRefreshedTime:
          format: date-time
          type: string
          description: Last summary refresh time.
        extendedSummary:
          type: object
          description: Extended summary.
          additionalProperties:
            type: string
    PrivateLinkServiceConnectionState:
      type: object
      description: Private endpoint connection state.
      properties:
        status:
          enum:
          - Approved
          - Pending
          - Rejected
          - Disconnected
          type: string
          description: Private link connection state.
          x-ms-enum:
            name: PrivateLinkServiceConnectionState_status
            modelAsString: true
        description:
          type: string
          description: Description of the object.
        actionsRequired:
          type: string
          description: Action required.
    AadAppDetails:
      type: object
      properties:
        tenantId:
          type: string
        applicationId:
          type: string
    RegistrationDetailsInput:
      type: object
      properties:
        tool:
          enum:
          - ServerDiscovery
          - ServerAssessment
          - ServerMigration
          - Cloudamize
          - Turbonomic
          - Zerto
          - CorentTech
          - ServerAssessmentV1
          - ServerMigration_Replication
          - Carbonite
          - DataMigrationAssistant
          - DatabaseMigrationService
          - Device42
          - JetStream
          - RackWare
          - UnifyCloud
          - Flexera
          - ServerDiscovery_Import
          - Lakeside
          - AppServiceMigrationAssistant
          - Movere
          - CloudSphere
          - Modernization
          - ServerMigration_DataReplication
          - Unknown
          type: string
          x-ms-enum:
            name: tool
            modelAsString: true
        applicationDetails:
          $ref: '#/components/schemas/AadAppDetails'
    ResourceId:
      description: Defines resource ID of a private endpoint connection.
      type: object
      properties:
        id:
          type: string
          readOnly: true
    RegisterToolInput:
      description: Class representing the register tool input.
      type: object
      properties:
        tool:
          description: Gets or sets the tool to be registered.
          enum:
          - ServerDiscovery
          - ServerAssessment
          - ServerMigration
          - Cloudamize
          - Turbonomic
          - Zerto
          - CorentTech
          - ServerAssessmentV1
          - ServerMigration_Replication
          - Carbonite
          - DataMigrationAssistant
          - DatabaseMigrationService
          - Device42
          - JetStream
          - RackWare
          - UnifyCloud
          - Flexera
          - ServerDiscovery_Import
          - Lakeside
          - AppServiceMigrationAssistant
          - Movere
          - CloudSphere
          - Modernization
          - ServerMigration_DataReplication
          - Unknown
          x-ms-enum:
            name: tool
            modelAsString: true
          type: string
    RefreshSummaryInput:
      description: Class representing the refresh summary input.
      type: object
      properties:
        goal:
          description: Gets or sets the goal for which summary needs to be refreshed.
          enum:
          - Servers
          - Databases
          x-ms-enum:
            name: goal
            modelAsString: true
          type: string
    RegistrationDetailsResponse:
      type: object
      properties:
        serviceEndpoint:
          type: string
        oneTimeKey:
          type: string
    PrivateEndpointConnectionProperties:
      type: object
      description: Properties of a private endpoint connection.
      properties:
        provisioningState:
          enum:
          - Accepted
          - InProgress
          - Succeeded
          - Failed
          - Canceled
          type: string
          description: Provisioning state.
          x-ms-enum:
            name: provisioningState
            modelAsString: true
          readOnly: true
        privateEndpoint:
          $ref: '#/components/schemas/ResourceId'
          readOnly: true
        privateLinkServiceConnectionState:
          $ref: '#/components/schemas/PrivateLinkServiceConnectionState'
          description: Gets the properties of the object.
    RefreshSummaryResult:
      description: Class representing the refresh summary status of the migrate project.
      type: object
      properties:
        isRefreshed:
          description: Gets or sets a value indicating whether the migrate project summary is refreshed.
          type: boolean
  parameters:
    migrateProjectName:
      name: migrateProjectName
      description: Name of the Azure Migrate project.
      in: path
      x-ms-parameter-location: method
      required: true
      schema:
        type: string
        pattern: ^[a-zA-Z0-9-]{3,24}$
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
