openapi: 3.2.0
info:
  version: '2023-01-01'
  title: Microsoft Azure API Client Web Apps API
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Web Apps
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/sites:
    get:
      tags:
      - Web Apps
      summary: Microsoft Azure Get All Apps For A Subscription
      description: Description for Get all apps for a subscription.
      operationId: microsoftAzureWebappsList
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/WebAppCollection
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        List Web apps for subscription:
          $ref: ./examples/ListWebApps.json
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites:
    get:
      tags:
      - Web Apps
      summary: Microsoft Azure Gets All Web, Mobile, And Api Apps In The Specified Resource…
      description: Description for Gets all web, mobile, and API apps in the specified resource group.
      operationId: microsoftAzureWebappsListbyresourcegroup
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: includeSlots
        in: query
        description: Specify <strong>true</strong> to include deployment slots in results. The default is false, which only gives you the production slot of all apps.
        schema:
          type: boolean
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/WebAppCollection
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        List Web Apps by Resource group:
          $ref: ./examples/ListWebAppsByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}:
    get:
      tags:
      - Web Apps
      summary: Microsoft Azure Gets The Details Of A Web, Mobile, Or Api App
      description: Description for Gets the details of a web, mobile, or API app.
      operationId: microsoftAzureWebappsGet
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/Site
        '404':
          description: Not found.
          x-ms-error-response: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Get Web App:
          $ref: ./examples/GetWebApp.json
    put:
      tags:
      - Web Apps
      summary: Microsoft Azure Creates A New Web, Mobile, Or Api App In An Existing Resource…
      description: Description for Creates a new web, mobile, or API app in an existing resource group, or updates an existing app.
      operationId: microsoftAzureWebappsCreateorupdate
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Unique name of the app to create or update. To create or update a deployment slot, use the {slot} parameter.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/Site
        '202':
          description: Asynchronous operation in progress.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/Site
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Create or Update web app:
          $ref: ./examples/CreateOrUpdateWebApp.json
        Clone web app:
          $ref: ./examples/CloneWebApp.json
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./CommonDefinitions.json#/definitions/Site
        description: A JSON representation of the app properties. See example.
        required: true
    delete:
      tags:
      - Web Apps
      summary: Microsoft Azure Deletes A Web, Mobile, Or Api App, Or One Of The Deployment…
      description: Description for Deletes a web, mobile, or API app, or one of the deployment slots.
      operationId: microsoftAzureWebappsDelete
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app to delete.
        required: true
        schema:
          type: string
      - name: deleteMetrics
        in: query
        description: If true, web app metrics are also deleted.
        schema:
          type: boolean
      - name: deleteEmptyServerFarm
        in: query
        description: Specify false if you want to keep empty App Service plan. By default, empty App Service plan is deleted.
        schema:
          type: boolean
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully deleted web app.
        '204':
          description: Successfully deleted web app.
        '404':
          description: Web app not found.
          x-ms-error-response: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Delete Web app:
          $ref: ./examples/DeleteWebApp.json
    patch:
      tags:
      - Web Apps
      summary: Microsoft Azure Creates A New Web, Mobile, Or Api App In An Existing Resource…
      description: Description for Creates a new web, mobile, or API app in an existing resource group, or updates an existing app.
      operationId: microsoftAzureWebappsUpdate
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Unique name of the app to create or update. To create or update a deployment slot, use the {slot} parameter.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/Site
        '202':
          description: Asynchronous operation in progress.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/Site
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Update web app:
          $ref: ./examples/UpdateWebApp.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SitePatchResource'
        description: A JSON representation of the app properties. See example.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/analyzeCustomHostname
  : get:
      tags:
      - Web Apps
      summary: Microsoft Azure Analyze A Custom Hostname
      description: Description for Analyze a custom hostname.
      operationId: microsoftAzureWebappsAnalyzecustomhostname
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of web app.
        required: true
        schema:
          type: string
      - name: hostName
        in: query
        description: Custom hostname.
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomHostnameAnalysisResult'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Analyze custom hostname for webapp.:
          $ref: ./examples/AnalyzeCustomHostName.json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/applySlotConfig:
    post:
      tags:
      - Web Apps
      summary: Microsoft Azure Applies The Configuration Settings From The Target Slot Onto…
      description: Description for Applies the configuration settings from the target slot onto the current slot.
      operationId: microsoftAzureWebappsApplyslotconfigtoproduction
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK.
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Apply web app slot config:
          $ref: ./examples/ApplySlotConfig.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CsmSlotEntity'
        description: JSON object that contains the target slot name. See example.
        required: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/backup:
    post:
      tags:
      - Web Apps
      summary: Microsoft Azure Creates A Backup Of An App
      description: Description for Creates a backup of an app.
      operationId: microsoftAzureWebappsBackup
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupItem'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Backup web app:
          $ref: ./examples/BackupWebApp.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupRequest'
        description: Backup configuration. You can use the JSON response from the POST action as input here.
        required: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/backups:
    get:
      tags:
      - Web Apps
      summary: Microsoft Azure Gets Existing Backups Of An App
      description: Description for Gets existing backups of an app.
      operationId: microsoftAzureWebappsListbackups
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupItemCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List web app backups:
          $ref: ./examples/ListWebAppBackups.json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/backups/{backupId}:
    get:
      tags:
      - Web Apps
      summary: Microsoft Azure Gets A Backup Of An App By Its Id
      description: Description for Gets a backup of an app by its ID.
      operationId: microsoftAzureWebappsGetbackupstatus
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - name: backupId
        in: path
        description: ID of the backup.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupItem'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Get web app backup:
          $ref: ./examples/GetWebAppBackup.json
    delete:
      tags:
      - Web Apps
      summary: Microsoft Azure Deletes A Backup Of An App By Its Id
      description: Description for Deletes a backup of an app by its ID.
      operationId: microsoftAzureWebappsDeletebackup
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - name: backupId
        in: path
        description: ID of the backup.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully deleted web app backup item.
        '404':
          description: Web app backup item does not exist.
          x-ms-error-response: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Delete web app backup:
          $ref: ./examples/DeleteWebAppBackup.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/backups/{backupId}/list
  : post:
      tags:
      - Web Apps
      summary: Microsoft Azure Gets Status Of A Web App Backup That May Be In Progress…
      description: Description for Gets status of a web app backup that may be in progress, including secrets associated with the backup, such as the Azure Storage SAS URL. Also can be used to update the SAS URL for the backup if a new URL is passed in the request body.
      operationId: microsoftAzureWebappsListbackupstatussecrets
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of web app.
        required: true
        schema:
          type: string
      - name: backupId
        in: path
        description: ID of backup.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupItem'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Get web app backup with secrets:
          $ref: ./examples/GetWebAppBackupWithSecrets.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupRequest'
        description: Information on backup request.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/backups/{backupId}/restore
  : post:
      tags:
      - Web Apps
      summary: Microsoft Azure Restores A Specific Backup To Another App Or Deployment Slot…
      description: Description for Restores a specific backup to another app (or deployment slot, if specified).
      operationId: microsoftAzureWebappsRestore
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - name: backupId
        in: path
        description: ID of the backup.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Restore operation started.
        '202':
          description: Restore operation started.
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Restore web app from backup:
          $ref: ./examples/RestoreWebAppBackup.json
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestoreRequest'
        description: Information on restore request .
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/basicPublishingCredentialsPolicies
  : get:
      tags:
      - Web Apps
      summary: Microsoft Azure Returns Whether Scm Basic Auth Is Allowed And Whether Ftp Is…
      description: Description for Returns whether Scm basic auth is allowed and whether Ftp is allowed for a given site.
      operationId: microsoftAzureWebappsListbasicpublishingcredentialspolicies
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishingCredentialsPoliciesCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        List Publishing Credentials Policies:
          $ref: ./examples/ListPublishingCredentialsPolicies.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/basicPublishingCredentialsPolicies/ftp
  : get:
      tags:
      - Web Apps
      summary: Microsoft Azure Returns Whether Ftp Is Allowed On The Site Or Not
      description: Description for Returns whether FTP is allowed on the site or not.
      operationId: microsoftAzureWebappsGetftpallowed
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CsmPublishingCredentialsPoliciesEntity'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Get FTP Allowed:
          $ref: ./examples/GetPublishingCredentialsPolicy.json
    put:
      tags:
      - Web Apps
      summary: Microsoft Azure Updates Whether Ftp Is Allowed On The Site Or Not
      description: Description for Updates whether FTP is allowed on the site or not.
      operationId: microsoftAzureWebappsUpdateftpallowed
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CsmPublishingCredentialsPoliciesEntity'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Update FTP Allowed:
          $ref: ./examples/UpdatePublishingCredentialsPolicy.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CsmPublishingCredentialsPoliciesEntity'
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/basicPublishingCredentialsPolicies/scm
  : get:
      tags:
      - Web Apps
      summary: Microsoft Azure Returns Whether Scm Basic Auth Is Allowed On The Site Or Not
      description: Description for Returns whether Scm basic auth is allowed on the site or not.
      operationId: microsoftAzureWebappsGetscmallowed
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CsmPublishingCredentialsPoliciesEntity'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Get SCM Allowed:
          $ref: ./examples/GetPublishingCredentialsPolicy.json
    put:
      tags:
      - Web Apps
      summary: Microsoft Azure Updates Whether User Publishing Credentials Are Allowed On The…
      description: Description for Updates whether user publishing credentials are allowed on the site or not.
      operationId: microsoftAzureWebappsUpdatescmallowed
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CsmPublishingCredentialsPoliciesEntity'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Update SCM Allowed:
          $ref: ./examples/UpdatePublishingCredentialsPolicy.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CsmPublishingCredentialsPoliciesEntity'
        required: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config:
    get:
      tags:
      - Web Apps
      summary: Microsoft Azure List The Configurations Of An App
      description: Description for List the configurations of an app
      operationId: microsoftAzureWebappsListconfigurations
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteConfigResourceCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List web app configurations:
          $ref: ./examples/ListWebAppConfigurations.json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/appsettings:
    put:
      tags:
      - Web Apps
      summary: Microsoft Azure Replaces The Application Settings Of An App
      description: Description for Replaces the application settings of an app.
      operationId: microsoftAzureWebappsUpdateapplicationsettings
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/StringDictionary
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Update App Settings:
          $ref: ./examples/UpdateAppSettings.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./CommonDefinitions.json#/definitions/StringDictionary
        description: Application settings of the app.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/appsettings/list
  : post:
      tags:
      - Web Apps
      summary: Microsoft Azure Gets The Application Settings Of An App
      description: Description for Gets the application settings of an app.
      operationId: microsoftAzureWebappsListapplicationsettings
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/StringDictionary
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        List App Settings:
          $ref: ./examples/ListAppSettings.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/authsettings
  : put:
      tags:
      - Web Apps
      summary: Microsoft Azure Updates The Authentication Authorization Settings Associated…
      description: Description for Updates the Authentication / Authorization settings associated with web app.
      operationId: microsoftAzureWebappsUpdateauthsettings
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of web app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteAuthSettings'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Update Auth Settings:
          $ref: ./examples/UpdateAuthSettings.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SiteAuthSettings'
        description: Auth settings associated with web app.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/authsettings/list
  : post:
      tags:
      - Web Apps
      summary: Microsoft Azure Gets The Authentication Authorization Settings Of An App
      description: Description for Gets the Authentication/Authorization settings of an app.
      operationId: microsoftAzureWebappsGetauthsettings
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteAuthSettings'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        List Auth Settings:
          $ref: ./examples/ListAuthSettings.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/authsettingsV2
  : get:
      tags:
      - Web Apps
      summary: Microsoft Azure Gets Site S Authentication Authorization Settings For Apps Via…
      description: Description for Gets site's Authentication / Authorization settings for apps via the V2 format
      operationId: microsoftAzureWebappsGetauthsettingsv2withoutsecrets
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteAuthSettingsV2'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        List Auth Settings without Secrets:
          $ref: ./examples/GetAuthSettingsV2WithoutSecrets.json
    put:
      tags:
      - Web Apps
      summary: Microsoft Azure Updates Site S Authentication Authorization Settings For Apps…
      description: Description for Updates site's Authentication / Authorization settings for apps via the V2 format
      operationId: microsoftAzureWebappsUpdateauthsettingsv2
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of web app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteAuthSettingsV2'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Update Auth Settings V2:
          $ref: ./examples/UpdateAuthSettingsV2.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SiteAuthSettingsV2'
        description: Auth settings associated with web app.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/authsettingsV2/list
  : get:
      tags:
      - Web Apps
      summary: Microsoft Azure Gets Site S Authentication Authorization Settings For Apps Via…
      description: Description for Gets site's Authentication / Authorization settings for apps via the V2 format
      operationId: microsoftAzureWebappsGetauthsettingsv2
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteAuthSettingsV2'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        List Auth Settings V2:
          $ref: ./examples/ListAuthSettingsV2.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/azurestorageaccounts
  : put:
      tags:
      - Web Apps
      summary: Microsoft Azure Updates The Azure Storage Account Configurations Of An App
      description: Description for Updates the Azure storage account configurations of an app.
      operationId: microsoftAzureWebappsUpdateazurestorageaccounts
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureStoragePropertyDictionaryResource'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Update Azure Storage Accounts:
          $ref: ./examples/UpdateAzureStorageAccounts.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AzureStoragePropertyDictionaryResource'
        description: Azure storage accounts of the app.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/azurestorageaccounts/list
  : post:
      tags:
      - Web Apps
      summary: Microsoft Azure Gets The Azure Storage Account Configurations Of An App
      description: Description for Gets the Azure storage account configurations of an app.
      operationId: microsoftAzureWebappsListazurestorageaccounts
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureStoragePropertyDictionaryResource'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/backup:
    put:
      tags:
      - Web Apps
      summary: Microsoft Azure Updates The Backup Configuration Of An App
      description: Description for Updates the backup configuration of an app.
      operationId: microsoftAzureWebappsUpdatebackupconfiguration
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupRequest'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupRequest'
        description: Edited backup configuration.
        required: true
    delete:
      tags:
      - Web Apps
      summary: Microsoft Azure Deletes The Backup Configuration Of An App
      description: Description for Deletes the backup configuration of an app.
      operationId: microsoftAzureWebappsDeletebackupconfiguration
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully deleted backup configuration.
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/backup/list:
    post:
      tags:
      - Web Apps
      summary: Microsoft Azure Gets The Backup Configuration Of An App
      description: Description for Gets the backup configuration of an app.
      operationId: microsoftAzureWebappsGetbackupconfiguration
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupRequest'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/configreferences/appsettings
  : get:
      tags:
      - Web Apps
      summary: Microsoft Azure Gets The Config Reference App Settings And Status Of An App
      description: Description for Gets the config reference app settings and status of an app
      operationId: microsoftAzureWebappsGetappsettingskeyvaultreferences
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKVReferenceCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Get Azure Key Vault references for app settings:
          $ref: ./examples/GetKeyVaultReferencesForAppSettings.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/configreferences/appsettings/{appSettingKey}
  : get:
      tags:
      - Web Apps
      summary: Microsoft Azure Gets The Config Reference And Status Of An App
      description: Description for Gets the config reference and status of an app
      operationId: microsoftAzureWebappsGetappsettingkeyvaultreference
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - name: appSettingKey
        in: path
        description: App Setting key name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKVReference'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Get Azure Key Vault app setting reference:
          $ref: ./examples/GetKeyVaultReferencesForAppSetting.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/configreferences/connectionstrings
  : get:
      tags:
      - Web Apps
      summary: Microsoft Azure Gets The Config Reference App Settings And Status Of An App
      description: Description for Gets the config reference app settings and status of an app
      operationId: microsoftAzureWebappsGetsiteconnectionstringkeyvaultreferences
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKVReferenceCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/configreferences/connectionstrings/{connectionStringKey}
  : get:
      tags:
      - Web Apps
      summary: Microsoft Azure Gets The Config Reference And Status Of An App
      description: Description for Gets the config reference and status of an app
      operationId: microsoftAzureWebappsGetsiteconnectionstringkeyvaultreference
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - name: connectionStringKey
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKVReference'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/connectionstrings
  : put:
      tags:
      - Web Apps
      summary: Microsoft Azure Replaces The Connection Strings Of An App
      description: Description for Replaces the connection strings of an app.
      operationId: microsoftAzureWebappsUpdateconnectionstrings
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionStringDictionary'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionStringDictionary'
        description: Connection strings of the app or deployment slot. See example.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/connectionstrings/list
  : post:
      tags:
      - Web Apps
      summary: Microsoft Azure Gets The Connection Strings Of An App
      description: Description for Gets the connection strings of an app.
      operationId: microsoftAzureWebappsListconnectionstrings
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionStringDictionary'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/logs:
    get:
      tags:
      - Web Apps
      summary: Microsoft Azure Gets The Logging Configuration Of An App
      description: Description for Gets the logging configuration of an app.
      operationId: microsoftAzureWebappsGetdiagnosticlogsconfiguration
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteLogsConfig'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
    put:
      tags:
      - Web Apps
      summary: Microsoft Azure Updates The Logging Configuration Of An App
      description: Description for Updates the logging configuration of an app.
      operationId: microsoftAzureWebappsUpdatediagnosticlogsconfig
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteLogsConfig'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SiteLogsConfig'
        description: A SiteLogsConfig JSON object that contains the logging configuration to change in the "properties" property.
        required: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/metadata:
    put:
      tags:
      - Web Apps
      summary: Microsoft Azure Replaces The Metadata Of An App
      description: Description for Replaces the metadata of an app.
      operationId: microsoftAzureWebappsUpdatemetadata
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/StringDictionary
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./CommonDefinitions.json#/definitions/StringDictionary
        description: Edited metadata of the app or deployment slot. See example.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/metadata/list
  : post:
      tags:
      - Web Apps
      summary: Microsoft Azure Gets The Metadata Of An App
      description: Description for Gets the metadata of an app.
      operationId: microsoftAzureWebappsListmetadata
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/StringDictionary
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/publishingcredentials/list
  : post:
      tags:
      - Web Apps
      summary: Microsoft Azure Gets The Git Ftp Publishing Credentials Of An App
      description: Description for Gets the Git/FTP publishing credentials of an app.
      operationId: microsoftAzureWebappsListpublishingcredentials
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/User
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/pushsettings
  : put:
      tags:
      - Web Apps
      summary: Microsoft Azure Updates The Push Settings Associated With Web App
      description: Description for Updates the Push settings associated with web app.
      operationId: microsoftAzureWebappsUpdatesitepushsettings
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of web app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/PushSettings
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./CommonDefinitions.json#/definitions/PushSettings
        description: Push settings associated with web app.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/pushsettings/list
  : post:
      tags:
      - Web Apps
      summary: Microsoft Azure Gets The Push Settings Associated With Web App
      description: Description for Gets the Push settings associated with web app.
      operationId: microsoftAzureWebappsListsitepushsettings
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of web app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/PushSettings
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/slotConfigNames
  : get:
      tags:
      - Web Apps
      summary: Microsoft Azure Gets The Names Of App Settings And Connection Strings That…
      description: Description for Gets the names of app settings and connection strings that stick to the slot (not swapped).
      operationId: microsoftAzureWebappsListslotconfigurationnames
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlotConfigNamesResource'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
    put:
      tags:
      - Web Apps
      summary: Microsoft Azure Updates The Names Of Application Settings And Connection String…
      description: Description for Updates the names of application settings and connection string that remain with the slot during swap operation.
      operationId: microsoftAzureWebappsUpdateslotconfigurationnames
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlotConfigNamesResource'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlotConfigNamesResource'
        description: Names of application settings and connection strings. See example.
        required: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/web:
    get:
      tags:
      - Web Apps
      summary: Microsoft Azure Gets The Configuration Of An App, Such As Platform Version And…
      description: Description for Gets the configuration of an app, such as platform version and bitness, default documents, virtual applications, Always On, etc.
      operationId: microsoftAzureWebappsGetconfiguration
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteConfigResource'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Get Site Config:
          $ref: ./examples/GetSiteConfig.json
    put:
      tags:
      - Web Apps
      summary: Microsoft Azure Updates The Configuration Of An App
      description: Description for Updates the configuration of an app.
      operationId: microsoftAzureWebappsCreateorupdateconfiguration
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteConfigResource'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Update Site Config:
          $ref: ./examples/UpdateSiteConfig.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SiteConfigResource'
        description: JSON representation of a SiteConfig object. See example.
        required: true
    patch:
      tags:
      - Web Apps
      summary: Microsoft Azure Updates The Configuration Of An App
      description: Description for Updates the configuration of an app.
      operationId: microsoftAzureWebappsUpdateconfiguration
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteConfigResource'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SiteConfigResource'
        description: JSON representation of a SiteConfig object. See example.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/web/snapshots
  : get:
      tags:
      - Web Apps
      summary: Microsoft Azure Gets A List Of Web App Configuration Snapshots Identifiers Each…
      description: Description for Gets a list of web app configuration snapshots identifiers. Each element of the list contains a timestamp and the ID of the snapshot.
      operationId: microsoftAzureWebappsListconfigurationsnapshotinfo
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteConfigurationSnapshotInfoCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/web/snapshots/{snapshotId}
  : get:
      tags:
      - Web Apps
      summary: Microsoft Azure Gets A Snapshot Of The Configuration Of An App At A Previous…
      description: Description for Gets a snapshot of the configuration of an app at a previous point in time.
      operationId: microsoftAzureWebappsGetconfigurationsnapshot
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - name: snapshotId
        in: path
        description: The ID of the snapshot to read.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteConfigResource'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/web/snapshots/{snapshotId}/recover
  : post:
      tags:
      - Web Apps
      summary: Microsoft Azure Reverts The Configuration Of An App To A Previous Snapshot
      description: Description for Reverts the configuration of an app to a previous snapshot.
      operationId: microsoftAzureWebappsRecoversiteconfigurationsnapshot
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - name: snapshotId
        in: path
        description: The ID of the snapshot to read.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '204':
          description: No Content
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/containerlogs:
    post:
      tags:
      - Web Apps
      summary: Microsoft Azure Gets The Last Lines Of Docker Logs For The Given Site
      description: Description for Gets the last lines of docker logs for the given site
      operationId: microsoftAzureWebappsGetwebsitecontainerlogs
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of web app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '204':
          description: No Content
        default:
          description: App Service error response.
          content:
            application/octet-stream:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/containerlogs/zip/download
  : post:
      tags:
      - Web Apps
      summary: Microsoft Azure Gets The Zip Archived Docker Log Files For The Given Site
      description: Description for Gets the ZIP archived docker log files for the given site
      operationId: microsoftAzureWebappsGetcontainerlogszip
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of web app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/zip:
              schema:
                type: string
                format: binary
        '204':
          description: No Content
        default:
          description: App Service error response.
          content:
            application/zip:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/continuouswebjobs:
    get:
      tags:
      - Web Apps
      summary: Microsoft Azure List Continuous Web Jobs For An App, Or A Deployment Slot
      description: Description for List continuous web jobs for an app, or a deployment slot.
      operationId: microsoftAzureWebappsListcontinuouswebjobs
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Site name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContinuousWebJobCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/continuouswebjobs/{webJobName}
  : get:
      tags:
      - Web Apps
      summary: Microsoft Azure Gets A Continuous Web Job By Its Id For An App, Or A Deployment…
      description: Description for Gets a continuous web job by its ID for an app, or a deployment slot.
      operationId: microsoftAzureWebappsGetcontinuouswebjob
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Site name.
        required: true
        schema:
          type: string
      - name: webJobName
        in: path
        description: Name of Web Job.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Found continuous web job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContinuousWebJob'
        '404':
          description: Continuous web job does not exist.
          x-ms-error-response: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
    delete:
      tags:
      - Web Apps
      summary: Microsoft Azure Delete A Continuous Web Job By Its Id For An App, Or A…
      description: Description for Delete a continuous web job by its ID for an app, or a deployment slot.
      operationId: microsoftAzureWebappsDeletecontinuouswebjob
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Site name.
        required: true
        schema:
          type: string
      - name: webJobName
        in: path
        description: Name of Web Job.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully deleted continuous web job.
        '204':
          description: Continuous web job does not exist.
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/continuouswebjobs/{webJobName}/start
  : post:
      tags:
      - Web Apps
      summary: Microsoft Azure Start A Continuous Web Job For An App, Or A Deployment Slot
      description: Description for Start a continuous web job for an app, or a deployment slot.
      operationId: microsoftAzureWebappsStartcontinuouswebjob
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Site name.
        required: true
        schema:
          type: string
      - name: webJobName
        in: path
        description: Name of Web Job.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Found continuous web job.
        '404':
          description: Continuous web job does not exist.
          x-ms-error-response: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/continuouswebjobs/{webJobName}/stop
  : post:
      tags:
      - Web Apps
      summary: Microsoft Azure Stop A Continuous Web Job For An App, Or A Deployment Slot
      description: Description for Stop a continuous web job for an app, or a deployment slot.
      operationId: microsoftAzureWebappsStopcontinuouswebjob
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Site name.
        required: true
        schema:
          type: string
      - name: webJobName
        in: path
        description: Name of Web Job.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Found continuous web job.
        '404':
          description: Continuous web job does not exist.
          x-ms-error-response: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/deploymentStatus:
    get:
      tags:
      - Web Apps
      summary: Microsoft Azure List Deployment Statuses For An App Or Deployment Slot, If…
      operationId: microsoftAzureWebappsListproductionsitedeploymentstatuses
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CsmDeploymentStatusCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        List Deployment Status:
          $ref: ./examples/ListSiteDeploymentStatus.json
      x-ms-pageable:
        nextLinkName: nextLink
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/deploymentStatus/{deploymentStatusId}
  : get:
      tags:
      - Web Apps
      summary: Microsoft Azure Gets The Deployment Status For An App Or Deployment Slot, If…
      operationId: microsoftAzureWebappsGetproductionsitedeploymentstatus
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - name: deploymentStatusId
        in: path
        description: GUID of the deployment operation.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CsmDeploymentStatus'
        '202':
          description: Operation is in progress.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CsmDeploymentStatus'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Get Deployment Status:
          $ref: ./examples/GetSiteDeploymentStatus.json
      x-ms-long-running-operation: true
      description: Needs a more full description created.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/deployments:
    get:
      tags:
      - Web Apps
      summary: Microsoft Azure List Deployments For An App, Or A Deployment Slot
      description: Description for List deployments for an app, or a deployment slot.
      operationId: microsoftAzureWebappsListdeployments
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/deployments/{id}:
    get:
      tags:
      - Web Apps
      summary: Microsoft Azure Get A Deployment By Its Id For An App, Or A Deployment Slot
      description: Description for Get a deployment by its ID for an app, or a deployment slot.
      operationId: microsoftAzureWebappsGetdeployment
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: Deployment ID.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
    put:
      tags:
      - Web Apps
      summary: Microsoft Azure Create A Deployment For An App, Or A Deployment Slot
      description: Description for Create a deployment for an app, or a deployment slot.
      operationId: microsoftAzureWebappsCreatedeployment
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: ID of an existing deployment.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deployment'
        description: Deployment details.
        required: true
    delete:
      tags:
      - Web Apps
      summary: Microsoft Azure Delete A Deployment By Its Id For An App, Or A Deployment Slot
      description: Description for Delete a deployment by its ID for an app, or a deployment slot.
      operationId: microsoftAzureWebappsDeletedeployment
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: Deployment ID.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully deleted deployment.
        '204':
          description: Deployment does not exist.
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/deployments/{id}/log
  : get:
      tags:
      - Web Apps
      summary: Microsoft Azure List Deployment Log For Specific Deployment For An App, Or A…
      description: Description for List deployment log for specific deployment for an app, or a deployment slot.
      operationId: microsoftAzureWebappsListdeploymentlog
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of a specific deployment. This is the value of the name property in the JSON response from "GET /api/sites/{siteName}/deployments".
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/discoverbackup:
    post:
      tags:
      - Web Apps
      summary: Microsoft Azure Discovers An Existing App Backup That Can Be Restored From A…
      description: Description for Discovers an existing app backup that can be restored from a blob in Azure storage. Use this to get information about the databases stored in a backup.
      operationId: microsoftAzureWebappsDiscoverbackup
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestoreRequest'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestoreRequest'
        description: A RestoreRequest object that includes Azure storage URL and blog name for discovery of backup.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/domainOwnershipIdentifiers
  : get:
      tags:
      - Web Apps
      summary: Microsoft Azure Lists Ownership Identifiers For Domain Associated With Web App
      description: Description for Lists ownership identifiers for domain associated with web app.
      operationId: microsoftAzureWebappsListdomainownershipidentifiers
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/IdentifierCollection
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/domainOwnershipIdentifiers/{domainOwnershipIdentifierName}
  : get:
      tags:
      - Web Apps
      summary: Microsoft Azure Get Domain Ownership Identifier For Web App
      description: Description for Get domain ownership identifier for web app.
      operationId: microsoftAzureWebappsGetdomainownershipidentifier
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - name: domainOwnershipIdentifierName
        in: path
        description: Name of domain ownership identifier.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/Identifier
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
    put:
      tags:
      - Web Apps
      summary: Microsoft Azure Creates A Domain Ownership Identifier For Web App, Or Updates…
      description: Description for Creates a domain ownership identifier for web app, or updates an existing ownership identifier.
      operationId: microsoftAzureWebappsCreateorupdatedomainownershipidentifier
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - name: domainOwnershipIdentifierName
        in: path
        description: Name of domain ownership identifier.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/Identifier
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./CommonDefinitions.json#/definitions/Identifier
        description: A JSON representation of the domain ownership properties.
        required: true
    delete:
      tags:
      - Web Apps
      summary: Microsoft Azure Deletes A Domain Ownership Identifier For A Web App
      description: Description for Deletes a domain ownership identifier for a web app.
      operationId: microsoftAzureWebappsDeletedomainownershipidentifier
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - name: domainOwnershipIdentifierName
        in: path
        description: Name of domain ownership identifier.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully deleted domain ownership identifier.
        '204':
          description: Domain ownership identifier does not exist.
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
    patch:
      tags:
      - Web Apps
      summary: Microsoft Azure Creates A Domain Ownership Identifier For Web App, Or Updates…
      description: Description for Creates a domain ownership identifier for web app, or updates an existing ownership identifier.
      operationId: microsoftAzureWebappsUpdatedomainownershipidentifier
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - name: domainOwnershipIdentifierName
        in: path
        description: Name of domain ownership identifier.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/Identifier
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./CommonDefinitions.json#/definitions/Identifier
        description: A JSON representation of the domain ownership properties.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/extensions/MSDeploy
  : get:
      tags:
      - Web Apps
      summary: Microsoft Azure Get The Status Of The Last Msdeploy Operation
      description: Description for Get the status of the last MSDeploy operation.
      operationId: microsoftAzureWebappsGetmsdeploystatus
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of web app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MSDeployStatus'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
    put:
      tags:
      - Web Apps
      summary: Microsoft Azure Invoke The Msdeploy Web App Extension
      description: Description for Invoke the MSDeploy web app extension.
      operationId: microsoftAzureWebappsCreatemsdeployoperation
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of web app.
        required: true
        schema:
          type: string
[...]
