openapi: 3.2.0
info:
  title: Microsoft Azure Azure Maps Resource Provider Creators API
  description: Resource Provider
  version: 2024-01-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Creators
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts/{accountName}/creators
  : get:
      tags:
      - Creators
      description: Get all Creator instances for an Azure Maps Account
      operationId: microsoftAzureCreatorsListbyaccount
      x-ms-examples:
        List Creator Resources By Account:
          $ref: ./examples/ListMapsCreatorsByAccount.json
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/AccountNameParameter'
      responses:
        '200':
          description: The request was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatorList'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts/{accountName}/creators/{creatorName}
  : put:
      tags:
      - Creators
      description: Create or update a Maps Creator resource. Creator resource will manage Azure resources required to populate a custom set of mapping data. It requires an account to exist before it can be created.
      operationId: microsoftAzureCreatorsCreateorupdate
      x-ms-examples:
        Create Creator Resource:
          $ref: ./examples/CreateMapsCreator.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/CreatorNameParameter'
      responses:
        '200':
          description: The Creator is updated with the provided properties.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creator'
        '201':
          description: The Creator will be created asynchronously. The Creator will be ready to use once the provisioningState property changed to 'Succeeded' through creators Get API.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creator'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Creator'
        description: The new or updated parameters for the Creator resource.
        required: true
    patch:
      tags:
      - Creators
      description: Updates the Maps Creator resource. Only a subset of the parameters may be updated after creation, such as Tags.
      operationId: microsoftAzureCreatorsUpdate
      x-ms-examples:
        Update Creator Resource:
          $ref: ./examples/UpdateMapsCreator.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/CreatorNameParameter'
      responses:
        '200':
          description: The Maps Creator was successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creator'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatorUpdateParameters'
        description: The update parameters for Maps Creator.
        required: true
    delete:
      tags:
      - Creators
      description: Delete a Maps Creator resource.
      operationId: microsoftAzureCreatorsDelete
      x-ms-examples:
        Delete Creator Resource:
          $ref: ./examples/DeleteMapsCreator.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/CreatorNameParameter'
      responses:
        '200':
          description: The Maps Creator will be deleted.
        '204':
          description: The specified Maps Creator resource was not found. Nothing was deleted.
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    get:
      tags:
      - Creators
      description: Get a Maps Creator resource.
      operationId: microsoftAzureCreatorsGet
      x-ms-examples:
        Get Creator Resource:
          $ref: ./examples/GetMapsCreator.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/CreatorNameParameter'
      responses:
        '200':
          description: The request was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creator'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  parameters:
    CreatorNameParameter:
      name: creatorName
      in: path
      description: The name of the Maps Creator instance.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 98
        minLength: 3
        pattern: ^[a-zA-Z][a-zA-Z0-9-]{3,98}[a-zA-Z0-9]$
    AccountNameParameter:
      name: accountName
      in: path
      description: The name of the Maps Account.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 98
        minLength: 3
        pattern: ^[a-zA-Z][a-zA-Z0-9-]{3,98}[a-zA-Z0-9]$
  schemas:
    CreatorProperties:
      description: Creator resource properties
      type: object
      properties:
        provisioningState:
          description: 'The state of the resource provisioning, terminal states: Succeeded, Failed, Canceled'
          type: string
          readOnly: true
        storageUnits:
          description: The storage units to be allocated. Integer values from 1 to 100, inclusive.
          type: integer
          format: int32
          minimum: 1
          maximum: 100
        totalStorageUnitSizeInBytes:
          description: The total allocated storage unit size in bytes for the creator resource.
          type: integer
          format: int32
        consumedStorageUnitSizeInBytes:
          description: The consumed storage unit size in bytes for the creator resource.
          type: integer
          format: int32
      required:
      - storageUnits
    Creator:
      description: An Azure resource which represents Maps Creator product and provides ability to manage private location data.
      type: object
      properties:
        properties:
          description: The Creator resource properties.
          $ref: '#/components/schemas/CreatorProperties'
        systemData:
          readOnly: true
          description: The system meta data relating to this resource.
          $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/systemData
      required:
      - properties
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource
      x-ms-azure-resource: true
    CreatorList:
      description: A list of Creator resources.
      type: object
      properties:
        value:
          description: a Creator account.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Creator'
        nextLink:
          description: 'URL client should use to fetch the next page (per server side paging).

            It''s null for now, added for future use.'
          type: string
    CreatorUpdateParameters:
      description: Parameters used to update an existing Creator resource.
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters.
        properties:
          description: Creator resource properties.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/CreatorProperties'
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
