openapi: 3.2.0
info:
  version: 2019-11-01-preview
  title: Microsoft Azure ContainerRegistryManagementClient Container…
  description: Admin Container Registry Management Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ContainerRegistrySetupStatus
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.ContainerRegistry.Setup/locations/{location}/setup:
    get:
      x-ms-examples:
        Returns the status of the container registry setup.:
          $ref: ./examples/Setup/Get.json
      tags:
      - ContainerRegistrySetupStatus
      description: Returns the status of the container registry setup.
      operationId: microsoftAzureContainerregistryGetsetupstatus
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v2/types.json#/parameters/LocationParameter
      - $ref: ../../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK -- The status of the container registry setup has been returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetupResult'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
components:
  schemas:
    SetupResultProperties:
      description: Container registry setup result properties.
      type: object
      properties:
        status:
          description: The status of the container registry setup.
          $ref: '#/components/schemas/SetupStatus'
          readOnly: true
        errorMessage:
          description: Error message if previous setup was failed.
          type: string
    SetupResult:
      description: Container registry setup result.
      type: object
      properties:
        properties:
          description: Container registry setup result properties.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/SetupResultProperties'
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v2/types.json#/definitions/Resource
    SetupStatus:
      description: The status of the container registry setup.
      type: string
      enum:
      - ReadyToSetup
      - Running
      - Failed
      - Cancelled
      - Completed
      x-ms-enum:
        name: SetupStatus
        modelAsString: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Authorization uses an Azure Active Directory OAuth2 flow.
