openapi: 3.2.0
info:
  title: Microsoft Azure Azure Machine Learning Services Managed…
  description: These APIs allow end users to operate on Azure Machine Learning Workspace resources.
  version: 2024-01-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ManagedNetwork
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/outboundRules
  : get:
      tags:
      - ManagedNetwork
      summary: Microsoft Azure Lists The Managed Network Outbound Rules For A Machine Learning…
      operationId: microsoftAzureManagednetworksettingsruleList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutboundRuleListResult'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        List ManagedNetworkSettingsRule:
          $ref: ./examples/ManagedNetwork/listRule.json
      x-ms-pageable:
        nextLinkName: nextLink
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/outboundRules/{ruleName}
  : delete:
      tags:
      - ManagedNetwork
      summary: Microsoft Azure Deletes An Outbound Rule From The Managed Network Of A Machine…
      operationId: microsoftAzureManagednetworksettingsruleDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/RuleName'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
        '202':
          description: Accepted
          headers:
            Location:
              description: URI to poll for asynchronous operation result.
              schema:
                type: string
            Retry-After:
              description: Duration the client should wait between requests, in seconds.
              schema:
                type: integer
                format: int32
        '204':
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Delete ManagedNetworkSettingsRule:
          $ref: ./examples/ManagedNetwork/deleteRule.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      description: Needs a more full description created.
    get:
      tags:
      - ManagedNetwork
      summary: Microsoft Azure Gets An Outbound Rule From The Managed Network Of A Machine…
      operationId: microsoftAzureManagednetworksettingsruleGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/RuleName'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutboundRuleBasicResource'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Get ManagedNetworkSettingsRule:
          $ref: ./examples/ManagedNetwork/getRule.json
      description: Needs a more full description created.
    put:
      tags:
      - ManagedNetwork
      summary: Microsoft Azure Creates Or Updates An Outbound Rule In The Managed Network Of A…
      operationId: microsoftAzureManagednetworksettingsruleCreateorupdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/RuleName'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutboundRuleBasicResource'
        '202':
          description: Accepted
          headers:
            Location:
              description: URI to poll for asynchronous operation result.
              schema:
                type: string
            Retry-After:
              description: Duration the client should wait between requests, in seconds.
              schema:
                type: integer
                format: int32
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        CreateOrUpdate ManagedNetworkSettingsRule:
          $ref: ./examples/ManagedNetwork/createOrUpdateRule.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OutboundRuleBasicResource'
        description: Outbound Rule to be created or updated in the managed network of a machine learning workspace.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/provisionManagedNetwork
  : post:
      tags:
      - ManagedNetwork
      summary: Microsoft Azure Provisions The Managed Network Of A Machine Learning Workspace
      operationId: microsoftAzureManagednetworkprovisionsProvisionmanagednetwork
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedNetworkProvisionStatus'
        '202':
          description: Accepted
          headers:
            Location:
              description: URI to poll for asynchronous operation result.
              schema:
                type: string
            Retry-After:
              description: Duration the client should wait between requests, in seconds.
              schema:
                type: integer
                format: int32
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Provision ManagedNetwork:
          $ref: ./examples/ManagedNetwork/provision.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedNetworkProvisionOptions'
        description: Managed Network Provisioning Options for a machine learning workspace.
components:
  schemas:
    RuleType:
      description: Type of a managed network Outbound Rule of a machine learning workspace.
      enum:
      - FQDN
      - PrivateEndpoint
      - ServiceTag
      type: string
      x-ms-enum:
        name: RuleType
        modelAsString: true
    OutboundRuleBasicResource:
      required:
      - properties
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/Resource
      properties:
        properties:
          description: Outbound Rule for the managed network of a machine learning workspace.
          $ref: '#/components/schemas/OutboundRule'
    ManagedNetworkStatus:
      description: Status for the managed network of a machine learning workspace.
      enum:
      - Inactive
      - Active
      type: string
      x-ms-enum:
        name: ManagedNetworkStatus
        modelAsString: true
    RuleStatus:
      description: Type of a managed network Outbound Rule of a machine learning workspace.
      enum:
      - Inactive
      - Active
      type: string
      x-ms-enum:
        name: RuleStatus
        modelAsString: true
    RuleCategory:
      description: Category of a managed network Outbound Rule of a machine learning workspace.
      enum:
      - Required
      - Recommended
      - UserDefined
      type: string
      x-ms-enum:
        name: RuleCategory
        modelAsString: true
    ManagedNetworkProvisionOptions:
      description: Managed Network Provisioning options for managed network of a machine learning workspace.
      type: object
      properties:
        includeSpark:
          type: boolean
    ManagedNetworkProvisionStatus:
      description: Status of the Provisioning for the managed network of a machine learning workspace.
      type: object
      properties:
        sparkReady:
          type: boolean
        status:
          description: Status for the managed network of a machine learning workspace.
          $ref: '#/components/schemas/ManagedNetworkStatus'
    OutboundRuleListResult:
      description: List of outbound rules for the managed network of a machine learning workspace.
      type: object
      properties:
        nextLink:
          description: The link to the next page constructed using the continuationToken.  If null, there are no additional pages.
          type: string
        value:
          description: The list of machine learning workspaces. Since this list may be incomplete, the nextLink field should be used to request the next list of machine learning workspaces.
          type: array
          items:
            $ref: '#/components/schemas/OutboundRuleBasicResource'
    OutboundRule:
      description: Outbound Rule for the managed network of a machine learning workspace.
      required:
      - type
      type: object
      properties:
        category:
          description: Category of a managed network Outbound Rule of a machine learning workspace.
          $ref: '#/components/schemas/RuleCategory'
        status:
          description: Type of a managed network Outbound Rule of a machine learning workspace.
          $ref: '#/components/schemas/RuleStatus'
        type:
          description: Type of a managed network Outbound Rule of a machine learning workspace.
          $ref: '#/components/schemas/RuleType'
      discriminator:
        propertyName: type
  parameters:
    WorkspaceNameParameter:
      in: path
      name: workspaceName
      description: Azure Machine Learning Workspace Name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]{2,32}$
    RuleName:
      in: path
      name: ruleName
      description: Name of the workspace managed network outbound rule
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]{2,32}$
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
