openapi: 3.2.0
info:
  title: Microsoft Azure API Key API
  version: '1.0'
  description: 'Operations tagged ApiKey across 2 of this provider''s published API definitions: microsoftdatadog-openapi-original.yml, microsoftelastic-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
tags:
- name: API Key
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Datadog/monitors/{monitorName}/listApiKeys
  : post:
      tags:
      - API Key
      summary: Microsoft Azure List The Api Keys For A Given Monitor Resource
      operationId: microsoftAzureMonitorsListapikeys
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/MonitorNameParameter'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatadogApiKeyListResponse'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Monitors_ListApiKeys:
          $ref: ./examples/ApiKeys_List.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Datadog/monitors/{monitorName}/getDefaultKey
  : post:
      tags:
      - API Key
      summary: Microsoft Azure Get The Default Api Key
      operationId: microsoftAzureMonitorsGetdefaultkey
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/MonitorNameParameter'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatadogApiKey'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-examples:
        Monitors_GetDefaultKey:
          $ref: ./examples/ApiKeys_GetDefaultKey.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Datadog/monitors/{monitorName}/setDefaultKey
  : post:
      tags:
      - API Key
      summary: Microsoft Azure Set The Default Api Key
      operationId: microsoftAzureMonitorsSetdefaultkey
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/MonitorNameParameter'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-examples:
        Monitors_SetDefaultKey:
          $ref: ./examples/ApiKeys_SetDefaultKey.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatadogApiKey'
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.Elastic/getOrganizationApiKey:
    post:
      tags:
      - API Key
      summary: Microsoft Azure Fetch User Api Key From Internal Database, If It Was Generated…
      description: Fetch User API Key from internal database, if it was generated and stored while creating the Elasticsearch Organization.
      operationId: microsoftAzureOrganizationsGetapikey
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserApiKeyResponse'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse_2'
      x-ms-examples:
        Organizations_GetApiKey:
          $ref: ./examples/Organizations_GetApiKey.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserEmailId'
        description: Email Id parameter of the User Organization, of which the API Key must be returned
    servers:
    - url: https://management.azure.com
components:
  schemas:
    ResourceProviderDefaultErrorResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorResponseBody'
    ErrorResponseBody:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseBody'
    DatadogApiKey:
      required:
      - key
      type: object
      properties:
        createdBy:
          description: The user that created the API key.
          type: string
        name:
          description: The name of the API key.
          type: string
        key:
          description: The value of the API key.
          type: string
        created:
          description: The time of creation of the API key.
          type: string
    DatadogApiKeyListResponse:
      description: Response of a list operation.
      type: object
      properties:
        value:
          description: Results of a list operation.
          type: array
          items:
            $ref: '#/components/schemas/DatadogApiKey'
        nextLink:
          description: Link to the next set of results, if any.
          type: string
    ResourceProviderDefaultErrorResponse_2:
      description: RP default error response.
      type: object
      properties:
        error:
          description: Response body of Error
          readOnly: true
          $ref: '#/components/schemas/ErrorResponseBody_2'
    UserEmailId:
      description: Email Id of the User Organization, of which the API Key must be returned
      type: object
      properties:
        emailId:
          type: string
          description: The User email Id
    UserApiKeyResponse:
      description: The User Api Key created for the Organization associated with the User Email Id that was passed in the request
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/UserApiKeyResponseProperties'
    ErrorResponseBody_2:
      description: Error response body.
      title: ErrorResponseBody
      type: object
      properties:
        code:
          description: Error code.
          type: string
        message:
          description: Error message.
          type: string
        target:
          description: Error target.
          type: string
        details:
          description: Error details.
          type: array
          x-ms-identifiers: []
          items:
            $ref: '#/components/schemas/ErrorResponseBody_2'
    UserApiKeyResponseProperties:
      type: object
      properties:
        apiKey:
          description: The User Api Key Generated based on GenerateApiKey flag. This is applicable for non-Portal clients only.
          type: string
          x-ms-secret: true
  parameters:
    MonitorNameParameter:
      in: path
      name: monitorName
      description: Monitor resource name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group to which the Datadog resource belongs.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The Microsoft Azure subscription ID.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- microsoftdatadog-openapi-original.yml
- microsoftelastic-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
