openapi: 3.2.0
info:
  title: Microsoft Azure NetworkResourceProviderClient Routes API
  description: The Windows Azure Network management API provides a RESTful set of web services that interact with Windows Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Windows Azure Networks service.
  version: 2015-05-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Routes
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/routeTables/{routeTableName}/routes/{routeName}
  : delete:
      tags:
      - Routes
      operationId: microsoftAzureRoutesDelete
      description: The delete route operation deletes the specified route from a route table.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: routeTableName
        in: path
        required: true
        description: The name of the route table.
        schema:
          type: string
      - name: routeName
        in: path
        required: true
        description: The name of the route.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
        '202':
          description: ''
        '204':
          description: ''
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    get:
      tags:
      - Routes
      operationId: microsoftAzureRoutesGet
      description: The Get route operation retrieves information about the specified route from the route table.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: routeTableName
        in: path
        required: true
        description: The name of the route table.
        schema:
          type: string
      - name: routeName
        in: path
        required: true
        description: The name of the route.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Route'
            text/json:
              schema:
                $ref: '#/components/schemas/Route'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Routes
      operationId: microsoftAzureRoutesCreateorupdate
      description: The Put route operation creates/updates a route in the specified route table
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: routeTableName
        in: path
        required: true
        description: The name of the route table.
        schema:
          type: string
      - name: routeName
        in: path
        required: true
        description: The name of the route.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Route'
            text/json:
              schema:
                $ref: '#/components/schemas/Route'
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Route'
            text/json:
              schema:
                $ref: '#/components/schemas/Route'
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Route'
          text/json:
            schema:
              $ref: '#/components/schemas/Route'
        description: Parameters supplied to the create/update route operation
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/routeTables/{routeTableName}/routes
  : get:
      tags:
      - Routes
      operationId: microsoftAzureRoutesList
      description: The List network security rule operation retrieves all the routes in a route table.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: routeTableName
        in: path
        required: true
        description: The name of the route table.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/RouteListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    RouteListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Route'
          description: Gets List of Routes in a resource group
        nextLink:
          type: string
          description: Gets the URL to get the next set of results.
      description: Response for ListRoute Api service call
    Route:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/RoutePropertiesFormat'
        name:
          type: string
          description: Gets name of the resource that is unique within a resource group. This name can be used to access the resource
        etag:
          type: string
          description: A unique read-only string that changes whenever the resource is updated
      allOf:
      - $ref: '#/components/schemas/SubResource'
      description: Route resource
    RoutePropertiesFormat:
      properties:
        addressPrefix:
          type: string
          description: Gets or sets the destination CIDR to which the route applies.
        nextHopType:
          type: string
          description: Gets or sets the type of Azure hop the packet should be sent to.
          enum:
          - VirtualNetworkGateway
          - VnetLocal
          - Internet
          - VirtualAppliance
          - None
          x-ms-enum:
            name: RouteNextHopType
            modelAsString: true
        nextHopIpAddress:
          type: string
          description: Gets or sets the IP address packets should be forwarded to. Next hop values are only allowed in routes where the next hop type is VirtualAppliance.
        provisioningState:
          type: string
          description: Gets or sets Provisioning state of the resource Updating/Deleting/Failed
      required:
      - nextHopType
      description: Route resource
    SubResource:
      properties:
        id:
          type: string
          description: Resource Id
      x-ms-azure-resource: true
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
