openapi: 3.2.0
info:
  title: Microsoft Azure MariaDBManagementClient Location Based…
  description: The Microsoft Azure management API provides create, read, update, and delete functionality for Azure MariaDB resources including servers, databases, firewall rules, VNET rules, log files and configurations with new business model.
  version: '2018-06-01'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: LocationBasedRecommendedActionSessionsOperationStatus
paths:
  ? /subscriptions/{subscriptionId}/providers/Microsoft.DBforMariaDB/locations/{locationName}/recommendedActionSessionsAzureAsyncOperation/{operationId}
  : get:
      tags:
      - LocationBasedRecommendedActionSessionsOperationStatus
      operationId: microsoftAzureLocationbasedrecommendedactionsessionsoperationstatusGet
      x-ms-examples:
        RecommendedActionSessionOperationStatus:
          $ref: ./examples/RecommendedActionSessionOperationStatus.json
      description: Recommendation action session operation status.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/LocationNameParameter'
      - $ref: '#/components/parameters/OperationIdParameter'
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendedActionSessionsOperationStatus'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
components:
  schemas:
    RecommendedActionSessionsOperationStatus:
      properties:
        name:
          type: string
          description: Operation identifier.
        startTime:
          type: string
          format: date-time
          description: Operation start time.
        status:
          type: string
          description: Operation status.
      description: Recommendation action session operation status.
  parameters:
    OperationIdParameter:
      name: operationId
      in: path
      required: true
      description: The operation identifier.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for the request.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The subscription ID that identifies an Azure subscription.
      schema:
        type: string
    LocationNameParameter:
      name: locationName
      in: path
      required: true
      description: The name of the location.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
