openapi: 3.2.0
info:
  version: '2016-10-01'
  title: Microsoft Azure StorSimpleManagementClient Storage Domains…
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: StorageDomains
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/storageDomains
  : get:
      tags:
      - StorageDomains
      description: Retrieves all the storage domains in a manager.
      operationId: microsoftAzureStoragedomainsListbymanager
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of storage domains.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageDomainList'
        default:
          description: Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      deprecated: false
      x-ms-pageable:
        nextLinkName: null
      x-ms-examples:
        StorageDomainsListByManager:
          $ref: ./examples/StorageDomainsListByManager.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/storageDomains/{storageDomainName}
  : get:
      tags:
      - StorageDomains
      description: Returns the properties of the specified storage domain name.
      operationId: microsoftAzureStoragedomainsGet
      parameters:
      - name: storageDomainName
        in: path
        description: The storage domain name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The storage domain.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageDomain'
        default:
          description: Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      deprecated: false
      x-ms-examples:
        StorageDomainsGet:
          $ref: ./examples/StorageDomainsGet.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - StorageDomains
      description: Creates or updates the storage domain.
      operationId: microsoftAzureStoragedomainsCreateorupdate
      parameters:
      - name: storageDomainName
        in: path
        description: The storage domain name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully created or updated the storage domain.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageDomain'
        '202':
          description: Accepted the request to create or update the storage domain.
        default:
          description: Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      deprecated: false
      x-ms-long-running-operation: true
      x-ms-examples:
        StorageDomainsCreateOrUpdate:
          $ref: ./examples/StorageDomainsCreateOrUpdate.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorageDomain'
        description: The storageDomain.
        required: true
    delete:
      tags:
      - StorageDomains
      description: Deletes the storage domain.
      operationId: microsoftAzureStoragedomainsDelete
      parameters:
      - name: storageDomainName
        in: path
        description: The storage domain name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to delete the storage domain.
        '204':
          description: Successfully deleted the storage domain.
        default:
          description: Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      deprecated: false
      x-ms-long-running-operation: true
      x-ms-examples:
        StorageDomainsDelete:
          $ref: ./examples/StorageDomainsDelete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    BaseModel:
      description: Base class for models
      type: object
      properties:
        id:
          description: The identifier.
          type: string
          readOnly: true
        name:
          description: The name.
          type: string
          readOnly: true
        type:
          description: The type.
          type: string
          readOnly: true
    StorageDomainProperties:
      description: The storage domain properties.
      required:
      - storageAccountCredentialIds
      - encryptionStatus
      type: object
      properties:
        storageAccountCredentialIds:
          description: The storage account credentials.
          type: array
          items:
            type: string
        encryptionKey:
          $ref: '#/components/schemas/AsymmetricEncryptedSecret'
          description: The encryption key used to encrypt the data. This is a user secret.
        encryptionStatus:
          description: The encryption status "Enabled | Disabled".
          enum:
          - Enabled
          - Disabled
          type: string
          x-ms-enum:
            name: EncryptionStatus
            modelAsString: false
    StorageDomainList:
      description: Collection of storage domains
      required:
      - value
      type: object
      properties:
        value:
          description: The value.
          type: array
          items:
            $ref: '#/components/schemas/StorageDomain'
    StorageDomain:
      description: The storage domain.
      required:
      - properties
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseModel'
      properties:
        properties:
          $ref: '#/components/schemas/StorageDomainProperties'
          description: The properties.
          x-ms-client-flatten: true
    AsymmetricEncryptedSecret:
      description: This class can be used as the Type for any secret entity represented as Password, CertThumbprint, Algorithm. This class is intended to be used when the secret is encrypted with an asymmetric key pair. The encryptionAlgorithm field is mainly for future usage to potentially allow different entities encrypted using different algorithms.
      required:
      - value
      - encryptionAlgorithm
      type: object
      properties:
        value:
          description: The value of the secret itself. If the secret is in plaintext then EncryptionAlgorithm will be none and EncryptionCertThumbprint will be null.
          type: string
        encryptionCertificateThumbprint:
          description: Thumbprint certificate that was used to encrypt "Value"
          type: string
        encryptionAlgorithm:
          description: Algorithm used to encrypt "Value"
          enum:
          - None
          - AES256
          - RSAES_PKCS1_v_1_5
          type: string
          x-ms-enum:
            name: EncryptionAlgorithm
            modelAsString: false
    Message:
      type: object
      properties:
        language:
          type: string
        value:
          type: string
    Error:
      required:
      - errorCode
      - message
      type: object
      properties:
        errorCode:
          type: string
        message:
          $ref: '#/components/schemas/Message'
        values:
          type: array
          items:
            $ref: '#/components/schemas/Item'
          x-ms-identifiers:
          - key
    Item:
      required:
      - key
      - value
      type: object
      properties:
        key:
          type: string
        value:
          type: string
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription id
      required: true
      schema:
        type: string
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The resource group name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    managerNameParameter:
      name: managerName
      in: path
      description: The manager name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 50
        minLength: 2
    apiVersionParameter:
      name: api-version
      in: query
      description: The api version
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
