openapi: 3.2.0
info:
  version: '2023-06-01'
  title: Microsoft Azure SiteRecoveryManagementClient Replication…
  x-ms-code-generation-settings:
    header: MICROSOFT_MIT_NO_VERSION
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ReplicationVaultSetting
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationVaultSettings
  : get:
      tags:
      - ReplicationVaultSetting
      summary: Microsoft Azure Gets The List Of Vault Setting
      description: Gets the list of vault setting. This includes the Migration Hub connection settings.
      operationId: microsoftAzureReplicationvaultsettingList
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultSettingCollection'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Gets the list of vault setting.:
          $ref: ./examples/ReplicationVaultSetting_List.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationVaultSettings/{vaultSettingName}
  : get:
      tags:
      - ReplicationVaultSetting
      summary: Microsoft Azure Gets The Vault Setting
      description: Gets the vault setting. This includes the Migration Hub connection settings.
      operationId: microsoftAzureReplicationvaultsettingGet
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: vaultSettingName
        in: path
        description: Vault setting name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultSetting'
      x-ms-examples:
        Gets the vault setting.:
          $ref: ./examples/ReplicationVaultSetting_Get.json
    put:
      tags:
      - ReplicationVaultSetting
      summary: Microsoft Azure Updates Vault Setting A Vault Setting Object Is A Singleton Per…
      description: The operation to configure vault setting.
      operationId: microsoftAzureReplicationvaultsettingCreate
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: vaultSettingName
        in: path
        description: Vault setting name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultSetting'
      x-ms-long-running-operation: true
      x-ms-examples:
        Updates vault setting. A vault setting object is a singleton per vault and it is always present by default.:
          $ref: ./examples/ReplicationVaultSetting_Create.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VaultSettingCreationInput'
        description: Vault setting creation input.
        required: true
components:
  schemas:
    VaultSettingCreationInput:
      description: Input to create vault setting.
      required:
      - properties
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/VaultSettingCreationInputProperties'
          description: Vault setting creation input properties.
    VaultSetting:
      description: Vault setting.
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/VaultSettingProperties'
          description: The vault setting properties.
    VaultSettingProperties:
      description: Vault setting properties.
      type: object
      properties:
        migrationSolutionId:
          description: The migration solution ARM Id.
          type: string
        vmwareToAzureProviderType:
          description: VMware to Azure provider type.
          type: string
    VaultSettingCollection:
      description: Vault setting collection.
      type: object
      properties:
        value:
          description: The list of vault setting.
          type: array
          items:
            $ref: '#/components/schemas/VaultSetting'
        nextLink:
          description: The value of next link.
          type: string
    VaultSettingCreationInputProperties:
      description: Input to create vault setting.
      type: object
      properties:
        migrationSolutionId:
          description: The migration solution Id.
          type: string
        vmwareToAzureProviderType:
          description: VMware to Azure provider type.
          type: string
    Resource:
      description: Azure resource.
      type: object
      properties:
        id:
          description: Resource Id
          type: string
          readOnly: true
        name:
          description: Resource Name
          type: string
          readOnly: true
        type:
          description: Resource Type
          type: string
          readOnly: true
        location:
          description: Resource Location
          type: string
      x-ms-azure-resource: true
  parameters:
    ResourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group where the recovery services vault is present.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    SubscriptionId:
      name: subscriptionId
      in: path
      description: The subscription Id.
      required: true
      schema:
        type: string
    ApiVersion:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
    ResourceName:
      name: resourceName
      in: path
      description: The name of the recovery services vault.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account.
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
