openapi: 3.2.0
info:
  title: Microsoft Azure VirtualWANAsAServiceManagementClient Vpn…
  description: REST API for Azure VirtualWAN As a Service.
  version: '2023-11-01'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: VpnSites
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/vpnSites/{vpnSiteName}:
    patch:
      tags:
      - VpnSites
      operationId: microsoftAzureVpnsitesUpdatetags
      x-ms-examples:
        VpnSiteUpdate:
          $ref: ./examples/VpnSiteUpdateTags.json
      description: Updates VpnSite tags.
      parameters:
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      - name: resourceGroupName
        in: path
        required: true
        description: The resource group name of the VpnSite.
        schema:
          type: string
      - name: vpnSiteName
        in: path
        required: true
        description: The name of the VpnSite being updated.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Request successful. Returns the details of the VpnSite updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnSite'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./network.json#/definitions/TagsObject
        description: Parameters supplied to update VpnSite tags.
        required: true
components:
  schemas:
    DeviceProperties:
      properties:
        deviceVendor:
          type: string
          description: Name of the device Vendor.
        deviceModel:
          type: string
          description: Model of the device.
        linkSpeedInMbps:
          type: integer
          format: int32
          description: Link speed.
      description: List of properties of the device.
    VpnSiteLink:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/VpnSiteLinkProperties'
          description: Properties of the VPN site link.
        etag:
          type: string
          readOnly: true
          description: A unique read-only string that changes whenever the resource is updated.
        name:
          type: string
          description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
        type:
          readOnly: true
          type: string
          description: Resource type.
      allOf:
      - $ref: ./network.json#/definitions/SubResource
      description: VpnSiteLink Resource.
    VpnSite:
      required:
      - location
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/VpnSiteProperties'
          description: Properties of the VPN site.
        etag:
          type: string
          readOnly: true
          description: A unique read-only string that changes whenever the resource is updated.
      allOf:
      - $ref: ./network.json#/definitions/Resource
      description: VpnSite Resource.
    VpnLinkProviderProperties:
      properties:
        linkProviderName:
          type: string
          description: Name of the link provider.
        linkSpeedInMbps:
          type: integer
          format: int32
          description: Link speed.
      description: List of properties of a link provider.
    O365PolicyProperties:
      properties:
        breakOutCategories:
          readOnly: false
          description: Office365 breakout categories.
          $ref: '#/components/schemas/O365BreakOutCategoryPolicies'
      description: The Office365 breakout policy.
    VpnSiteProperties:
      properties:
        virtualWan:
          $ref: ./network.json#/definitions/SubResource
          description: The VirtualWAN to which the vpnSite belongs.
        deviceProperties:
          description: The device properties.
          $ref: '#/components/schemas/DeviceProperties'
        ipAddress:
          type: string
          description: The ip-address for the vpn-site.
        siteKey:
          type: string
          description: The key for vpn-site that can be used for connections.
        addressSpace:
          $ref: ./virtualNetwork.json#/definitions/AddressSpace
          description: The AddressSpace that contains an array of IP address ranges.
        bgpProperties:
          $ref: ./virtualNetworkGateway.json#/definitions/BgpSettings
          description: The set of bgp properties.
        provisioningState:
          readOnly: true
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the VPN site resource.
        isSecuritySite:
          type: boolean
          description: IsSecuritySite flag.
        vpnSiteLinks:
          type: array
          description: List of all vpn site links.
          items:
            $ref: '#/components/schemas/VpnSiteLink'
        o365Policy:
          readOnly: false
          description: Office365 Policy.
          $ref: '#/components/schemas/O365PolicyProperties'
      description: Parameters for VpnSite.
    VpnSiteLinkProperties:
      properties:
        linkProperties:
          description: The link provider properties.
          $ref: '#/components/schemas/VpnLinkProviderProperties'
        ipAddress:
          type: string
          description: The ip-address for the vpn-site-link.
        fqdn:
          type: string
          description: FQDN of vpn-site-link.
        bgpProperties:
          $ref: '#/components/schemas/VpnLinkBgpSettings'
          description: The set of bgp properties.
        provisioningState:
          readOnly: true
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the VPN site link resource.
      description: Parameters for VpnSite.
    O365BreakOutCategoryPolicies:
      properties:
        allow:
          type: boolean
          readOnly: false
          description: Flag to control allow category.
        optimize:
          type: boolean
          readOnly: false
          description: Flag to control optimize category.
        default:
          type: boolean
          readOnly: false
          description: Flag to control default category.
      description: Office365 breakout categories.
    VpnLinkBgpSettings:
      properties:
        asn:
          type: integer
          format: int64
          description: The BGP speaker's ASN.
        bgpPeeringAddress:
          type: string
          description: The BGP peering address and BGP identifier of this BGP speaker.
      description: BGP settings details for a link.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
