openapi: 3.2.0
info:
  title: Microsoft Azure Apps API
  version: '1.0'
  description: 'Operations tagged Apps across 3 of this provider''s published API definitions: iotcentralclient-openapi-original.yml, luis-authoring-client-openapi-original.yml, luis-runtime-client-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
tags:
- name: Apps
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTCentral/iotApps/{resourceName}:
    get:
      tags:
      - Apps
      description: Get the metadata of an IoT Central application.
      operationId: microsoftAzureAppsGet
      x-ms-examples:
        Apps_Get:
          $ref: ./examples/Apps_Get.json
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      responses:
        '200':
          description: The body contains all the non-security properties of the IoT Central application. Security-related properties are set to null.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      deprecated: false
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    put:
      tags:
      - Apps
      description: Create or update the metadata of an IoT Central application. The usual pattern to modify a property is to retrieve the IoT Central application metadata and security metadata, and then combine them with the modified values in a new body to update the IoT Central application.
      operationId: microsoftAzureAppsCreateorupdate
      x-ms-long-running-operation: true
      x-ms-examples:
        Apps_CreateOrUpdate:
          $ref: ./examples/Apps_CreateOrUpdate.json
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      responses:
        '200':
          description: This is returned as a response to the status polling request for the create or update operation. The body contains the resource representation that indicates a transitional provisioning state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '201':
          description: This is returned as a response to the status polling request for the create or update operation. The body contains the resource representation that indicates a transitional provisioning state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '202':
          description: Accepted - Put request accepted; the operation will complete asynchronously.
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      deprecated: false
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/App'
        description: The IoT Central application metadata and security metadata.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    patch:
      tags:
      - Apps
      description: Update the metadata of an IoT Central application.
      operationId: microsoftAzureAppsUpdate
      x-ms-long-running-operation: true
      x-ms-examples:
        Apps_Update:
          $ref: ./examples/Apps_Update.json
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      responses:
        '200':
          description: This is returned as a response to the status polling request for the create or update operation. The body contains the resource representation that indicates a transitional provisioning state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '202':
          description: Accepted - Put request accepted; the operation will complete asynchronously.
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      deprecated: false
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppPatch'
        description: The IoT Central application metadata and security metadata.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - Apps
      description: Delete an IoT Central application.
      operationId: microsoftAzureAppsDelete
      x-ms-long-running-operation: true
      x-ms-examples:
        Apps_Delete:
          $ref: ./examples/Apps_Delete.json
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      responses:
        '200':
          description: This is returned as a response to the status polling request for the delete operation. The body contains the resource representation that indicates a transitional provisioning state.
        '202':
          description: Accepted - Delete request accepted; the operation will complete asynchronously.
        '204':
          description: Once the long running delete operation completes successfully, a 204 No Content status code is returned when the status polling request finds the IoT Central application metadata in the service and the status of the delete operation is set to a completed state.
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.IoTCentral/iotApps:
    get:
      tags:
      - Apps
      description: Get all IoT Central Applications in a subscription.
      operationId: microsoftAzureAppsListbysubscription
      x-ms-examples:
        Apps_ListBySubscription:
          $ref: ./examples/Apps_ListBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      responses:
        '200':
          description: This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the IoT Central Applications in the subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppListResult'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      deprecated: false
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Iotcentral…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTCentral/iotApps:
    get:
      tags:
      - Apps
      description: Get all the IoT Central Applications in a resource group.
      operationId: microsoftAzureAppsListbyresourcegroup
      x-ms-examples:
        Apps_ListByResourceGroup:
          $ref: ./examples/Apps_ListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      responses:
        '200':
          description: This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the IoT Central Applications in the resource group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppListResult'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      deprecated: false
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.IoTCentral/checkNameAvailability:
    post:
      tags:
      - Apps
      description: Check if an IoT Central application name is available.
      operationId: microsoftAzureAppsChecknameavailability
      x-ms-examples:
        Apps_CheckNameAvailability:
          $ref: ./examples/Apps_CheckNameAvailability.json
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      responses:
        '200':
          description: This is a synchronous operation. The body contains a JSON-serialized response that specifies whether the IoT Central application name is available. If the name is not available, the body contains the reason.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppAvailabilityInfo'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      deprecated: false
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationInputs'
        description: Set the name parameter in the OperationInputs structure to the name of the IoT Central application to check.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.IoTCentral/checkSubdomainAvailability:
    post:
      tags:
      - Apps
      description: Check if an IoT Central application subdomain is available.
      operationId: microsoftAzureAppsChecksubdomainavailability
      x-ms-examples:
        Apps_SubdomainAvailability:
          $ref: ./examples/Apps_CheckSubdomainAvailability.json
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      responses:
        '200':
          description: This is a synchronous operation. The body contains a JSON-serialized response that specifies whether the IoT Central application subdomain is available. If the subdomain is not available, the body contains the reason.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppAvailabilityInfo'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      deprecated: false
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationInputs'
        description: Set the name parameter in the OperationInputs structure to the subdomain of the IoT Central application to check.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.IoTCentral/appTemplates:
    post:
      tags:
      - Apps
      description: Get all available application templates.
      operationId: microsoftAzureAppsListtemplates
      x-ms-examples:
        Apps_ListTemplates:
          $ref: ./examples/Apps_Templates.json
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      responses:
        '200':
          description: The body contains all the IoT Central application templates.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppTemplatesResult'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      deprecated: false
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /apps/{appId}/versions/{versionId}/phraselists:
    post:
      description: Creates a new phraselist feature in a version of the application.
      operationId: microsoftAzureFeaturesAddphraselist
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      responses:
        '201':
          description: The ID of the created feature.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureIDResponse'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Create Phraselist Feature request:
          $ref: ./examples/features/SuccessfulCreatePhraselistFeatureRequest.json
      summary: Microsoft Azure Post Apps Appid Versions Versionid Phraselists
      tags:
      - Apps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhraselistCreateObject'
        description: A Phraselist object containing Name, comma-separated Phrases and the isExchangeable boolean. Default value for isExchangeable is true.
        required: true
      security:
      - apiKeyHeader: []
    get:
      description: Gets all the phraselist features in a version of the application.
      operationId: microsoftAzureFeaturesListphraselists
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - $ref: '#/components/parameters/SkipInPath'
      - $ref: '#/components/parameters/TakeInPath'
      responses:
        '200':
          description: A list of all phraselist features.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhraseListFeatureInfoList'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Get Application Version Phraselist Features request:
          $ref: ./examples/features/SuccessfulGetApplicationVersionPhraselistFeaturesRequest.json
      summary: Microsoft Azure Get Apps Appid Versions Versionid Phraselists
      tags:
      - Apps
      security:
      - apiKeyHeader: []
  /apps/{appId}/versions/{versionId}/features:
    get:
      description: Gets all the extraction phraselist and pattern features in a version of the application.
      operationId: microsoftAzureFeaturesList
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - $ref: '#/components/parameters/SkipInPath'
      - $ref: '#/components/parameters/TakeInPath'
      responses:
        '200':
          description: A list of all phraselist features and a list of all pattern features.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaturesResponseObject'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Get Application Version Features request:
          $ref: ./examples/features/SuccessfulGetApplicationVersionFeaturesRequest.json
      summary: Microsoft Azure Get Apps Appid Versions Versionid Features
      tags:
      - Apps
      security:
      - apiKeyHeader: []
  /apps/{appId}/versions/{versionId}/phraselists/{phraselistId}:
    get:
      description: Gets phraselist feature info in a version of the application.
      operationId: microsoftAzureFeaturesGetphraselist
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - name: phraselistId
        in: path
        description: The ID of the feature to be retrieved.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: A phraselist feature info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhraseListFeatureInfo'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Get Phraselist Feature Info request:
          $ref: ./examples/features/SuccessfulGetPhraselistFeatureInfoRequest.json
      summary: Microsoft Azure Get Apps Appid Versions Versionid Phraselists Phraselistid
      tags:
      - Apps
      security:
      - apiKeyHeader: []
    put:
      description: Updates the phrases, the state and the name of the phraselist feature in a version of the application.
      operationId: microsoftAzureFeaturesUpdatephraselist
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - name: phraselistId
        in: path
        description: The ID of the feature to be updated.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successfully updated phraselist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Update Phraselist Feature Info request:
          $ref: ./examples/features/SuccessfulUpdatePhraselistFeatureInfoRequest.json
      summary: Microsoft Azure Put Apps Appid Versions Versionid Phraselists Phraselistid
      tags:
      - Apps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhraselistUpdateObject'
        description: 'The new values for: - Just a boolean called IsActive, in which case the status of the feature will be changed. - Name, Pattern, Mode, and a boolean called IsActive to update the feature.'
      security:
      - apiKeyHeader: []
    delete:
      description: Deletes a phraselist feature from a version of the application.
      operationId: microsoftAzureFeaturesDeletephraselist
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - name: phraselistId
        in: path
        description: The ID of the feature to be deleted.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successfully deleted phraselist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Delete Phraselist Feature Info request:
          $ref: ./examples/features/SuccessfulDeletePhraselistFeatureInfoRequest.json
      summary: Microsoft Azure Delete Apps Appid Versions Versionid Phraselists Phraselistid
      tags:
      - Apps
      security:
      - apiKeyHeader: []
  /apps/{appId}/versions/{versionId}/example:
    post:
      description: Adds a labeled example utterance in a version of the application.
      operationId: microsoftAzureExamplesAdd
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - $ref: '#/components/parameters/EnableNestedChildren'
      responses:
        '201':
          description: The ID of the created example utterance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelExampleResponse'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Add Label request:
          $ref: ./examples/examples/SuccessfulAddLabelRequest.json
      summary: Microsoft Azure Post Apps Appid Versions Versionid Example
      tags:
      - Apps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExampleLabelObject'
        description: A labeled example utterance with the expected intent and entities.
        required: true
      security:
      - apiKeyHeader: []
  /apps/{appId}/versions/{versionId}/examples:
    post:
      description: Adds a batch of labeled example utterances to a version of the application.
      operationId: microsoftAzureExamplesBatch
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - $ref: '#/components/parameters/EnableNestedChildren'
      responses:
        '201':
          description: A string array determining which labeled example utterances were added successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchLabelExampleResponse'
        '207':
          description: Indicates that the request was partially successful. The response contains a string array indicating the status of each of the added labeled example utterances.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchLabelExampleResponse'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Batch Add Labels request:
          $ref: ./examples/examples/SuccessfulBatchAddLabelsRequest.json
      summary: Microsoft Azure Post Apps Appid Versions Versionid Examples
      tags:
      - Apps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExampleLabelObjectArray'
        description: Array of example utterances.
        required: true
      security:
      - apiKeyHeader: []
    get:
      description: Returns example utterances to be reviewed from a version of the application.
      operationId: microsoftAzureExamplesList
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - $ref: '#/components/parameters/SkipInPath'
      - $ref: '#/components/parameters/TakeInPath'
      - $ref: '#/components/parameters/EnableNestedChildren'
      responses:
        '200':
          description: A list of predictions and label pairs for every example utterance in the application.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabeledUtterances'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Review Labeled Examples request:
          $ref: ./examples/examples/SuccessfulReviewLabeledExamplesRequest.json
      summary: Microsoft Azure Get Apps Appid Versions Versionid Examples
      tags:
      - Apps
      security:
      - apiKeyHeader: []
  /apps/{appId}/versions/{versionId}/examples/{exampleId}:
    delete:
      description: Deletes the labeled example utterances with the specified ID from a version of the application.
      operationId: microsoftAzureExamplesDelete
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - name: exampleId
        in: path
        description: The example ID.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Successfully deleted example utterance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Delete Example Label request:
          $ref: ./examples/examples/SuccessfulDeleteExampleLabelRequest.json
      summary: Microsoft Azure Delete Apps Appid Versions Versionid Examples Exampleid
      tags:
      - Apps
      security:
      - apiKeyHeader: []
  /apps/{appId}/versions/{versionId}/intents:
    post:
      description: Adds an intent to a version of the application.
      operationId: microsoftAzureModelAddintent
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      responses:
        '201':
          description: The ID of the created intent model.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuidResponse'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Create Intent Classifier request:
          $ref: ./examples/model/SuccessfulCreateIntentClassifierRequest.json
      summary: Microsoft Azure Post Apps Appid Versions Versionid Intents
      tags:
      - Apps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelCreateObject'
        description: A model object containing the name of the new intent.
        required: true
      security:
      - apiKeyHeader: []
    get:
      description: Gets information about the intent models in a version of the application.
      operationId: microsoftAzureModelListintents
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - $ref: '#/components/parameters/SkipInPath'
      - $ref: '#/components/parameters/TakeInPath'
      responses:
        '200':
          description: A list of intent model infos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntentClassifiersList'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Get Application Version Intent Infos request:
          $ref: ./examples/model/SuccessfulGetApplicationVersionIntentInfosRequest.json
      summary: Microsoft Azure Get Apps Appid Versions Versionid Intents
      tags:
      - Apps
      security:
      - apiKeyHeader: []
  /apps/{appId}/versions/{versionId}/entities:
    post:
      description: Adds an entity extractor to a version of the application.
      operationId: microsoftAzureModelAddentity
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      responses:
        '201':
          description: The ID of the created model.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuidResponse'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Create Entity Extractor request:
          $ref: ./examples/model/SuccessfulCreateEntityExtractorRequest.json
      summary: Microsoft Azure Post Apps Appid Versions Versionid Entities
      tags:
      - Apps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityModelCreateObject'
        description: A model object containing the name of the new entity extractor and its children.
        required: true
      security:
      - apiKeyHeader: []
    get:
      description: Gets information about all the simple entity models in a version of the application.
      operationId: microsoftAzureModelListentities
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - $ref: '#/components/parameters/SkipInPath'
      - $ref: '#/components/parameters/TakeInPath'
      responses:
        '200':
          description: A list of entity model infos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NDepthEntityExtractorsList'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Get Application Version Entity Infos request:
          $ref: ./examples/model/SuccessfulGetApplicationVersionEntityInfosRequest.json
      summary: Microsoft Azure Get Apps Appid Versions Versionid Entities
      tags:
      - Apps
      security:
      - apiKeyHeader: []
  /apps/{appId}/versions/{versionId}/hierarchicalentities:
    get:
      description: Gets information about all the hierarchical entity models in a version of the application.
      operationId: microsoftAzureModelListhierarchicalentities
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - $ref: '#/components/parameters/SkipInPath'
      - $ref: '#/components/parameters/TakeInPath'
      responses:
        '200':
          description: A list of hierarchical entity model infos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HierarchicalEntityExtractorsList'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Get Application Version Hierarchical Entity Infos request:
          $ref: ./examples/model/SuccessfulGetApplicationVersionHierarchicalEntityInfosRequest.json
      summary: Microsoft Azure Get Apps Appid Versions Versionid Hierarchicalentities
      tags:
      - Apps
      security:
      - apiKeyHeader: []
  /apps/{appId}/versions/{versionId}/compositeentities:
    get:
      description: Gets information about all the composite entity models in a version of the application.
      operationId: microsoftAzureModelListcompositeentities
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - $ref: '#/components/parameters/SkipInPath'
      - $ref: '#/components/parameters/TakeInPath'
      responses:
        '200':
          description: A list of composite entity model infos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompositeEntityExtractorsList'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Get Application Version Composite Entity Infos request:
          $ref: ./examples/model/SuccessfulGetApplicationVersionCompositeEntityInfosRequest.json
      summary: Microsoft Azure Get Apps Appid Versions Versionid Compositeentities
      tags:
      - Apps
      security:
      - apiKeyHeader: []
  /apps/{appId}/versions/{versionId}/closedlists:
    get:
      description: Gets information about all the list entity models in a version of the application.
      operationId: microsoftAzureModelListclosedlists
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - $ref: '#/components/parameters/SkipInPath'
      - $ref: '#/components/parameters/TakeInPath'
      responses:
        '200':
          description: A list of list entity model infos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClosedListEntityExtractorsList'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Get Application Version Closed List Infos request:
          $ref: ./examples/model/SuccessfulGetApplicationVersionClosedListInfosRequest.json
      summary: Microsoft Azure Get Apps Appid Versions Versionid Closedlists
      tags:
      - Apps
      security:
      - apiKeyHeader: []
    post:
      description: Adds a list entity model to a version of the application.
      operationId: microsoftAzureModelAddclosedlist
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      responses:
        '201':
          description: The ID of the created model.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuidResponse'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Create Closed List Entity Model request:
          $ref: ./examples/model/SuccessfulCreateClosedListEntityModelRequest.json
      summary: Microsoft Azure Post Apps Appid Versions Versionid Closedlists
      tags:
      - Apps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClosedListModelCreateObject'
        description: A model containing the name and words for the new list entity extractor.
        required: true
      security:
      - apiKeyHeader: []
  /apps/{appId}/versions/{versionId}/prebuilts:
    post:
      description: Adds a list of prebuilt entities to a version of the application.
      operationId: microsoftAzureModelAddprebuilt
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      responses:
        '201':
          description: An array of the created prebuilt extractor infos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrebuiltEntityExtractorsList'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Add Application Version Prebuilt Infos request:
          $ref: ./examples/model/SuccessfulAddApplicationVersionPrebuiltInfosRequest.json
      summary: Microsoft Azure Post Apps Appid Versions Versionid Prebuilts
      tags:
      - Apps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrebuiltExtractorNames'
        description: An array of prebuilt entity extractor names.
        required: true
      security:
      - apiKeyHeader: []
    get:
      description: Gets information about all the prebuilt entities in a version of the application.
      operationId: microsoftAzureModelListprebuilts
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - $ref: '#/components/parameters/SkipInPath'
      - $ref: '#/components/parameters/TakeInPath'
      responses:
        '200':
          description: A list of prebuilt entity models infos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrebuiltEntityExtractorsList'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Get Application Version Prebuilt Infos request:
          $ref: ./examples/model/SuccessfulGetApplicationVersionPrebuiltInfosRequest.json
      summary: Microsoft Azure Get Apps Appid Versions Versionid Prebuilts
      tags:
      - Apps
      security:
      - apiKeyHeader: []
  /apps/{appId}/versions/{versionId}/listprebuilts:
    get:
      description: Gets all the available prebuilt entities in a version of the application.
      operationId: microsoftAzureModelListprebuiltentities
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      responses:
        '200':
          description: A list of the possible prebuilt entity extractors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailablePrebuiltEntityModels'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Get Available Prebuilt Entity Extractors request:
          $ref: ./examples/model/SuccessfulGetAvailablePrebuiltEntityExtractorsRequest.json
      summary: Microsoft Azure Get Apps Appid Versions Versionid Listprebuilts
      tags:
      - Apps
      security:
      - apiKeyHeader: []
  /apps/{appId}/versions/{versionId}/models:
    get:
      description: Gets information about all the intent and entity models in a version of the application.
      operationId: microsoftAzureModelListmodels
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - $ref: '#/components/parameters/SkipInPath'
      - $ref: '#/components/parameters/TakeInPath'
      responses:
        '200':
          description: A list of application model infos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsInfoResponseObject'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Get Application Version Model Infos request:
          $ref: ./examples/model/SuccessfulGetApplicationVersionModelInfosRequest.json
      summary: Microsoft Azure Get Apps Appid Versions Versionid Models
      tags:
      - Apps
      security:
      - apiKeyHeader: []
  /apps/{appId}/versions/{versionId}/models/{modelId}/examples:
    get:
      description: Gets the example utterances for the given intent or entity model in a version of the application.
      operationId: microsoftAzureModelExamples
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - name: modelId
        in: path
        required: true
        description: The ID (GUID) of the model.
        x-ms-parameter-location: method
        schema:
          type: string
      - $ref: '#/components/parameters/SkipInPath'
      - $ref: '#/components/parameters/TakeInPath'
      responses:
        '200':
          description: A list of example utterances for the model.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExamplesPerModelResponseObject'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Get Examples Per Model Request:
          $ref: ./examples/model/SuccessfulGetExamplesPerModelRequest.json
      summary: Microsoft Azure Get Apps Appid Versions Versionid Models Modelid Examples
      tags:
      - Apps
      security:
      - apiKeyHeader: []
  /apps/{appId}/versions/{versionId}/intents/{intentId}:
    get:
      description: Gets information about the intent model in a version of the application.
      operationId: microsoftAzureModelGetintent
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - $ref: '#/components/parameters/IntentIdInPath'
      responses:
        '200':
          description: An intent model info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntentClassifier'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Get Intent Info request:
          $ref: ./examples/model/SuccessfulGetIntentInfoRequest.json
      summary: Microsoft Azure Get Apps Appid Versions Versionid Intents Intentid
      tags:
      - Apps
      security:
      - apiKeyHeader: []
    put:
      description: Updates the name of an intent in a version of the application.
      operationId: microsoftAzureModelUpdateintent
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - $ref: '#/components/parameters/IntentIdInPath'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Rename Intent Model request:
          $ref: ./examples/model/SuccessfulRenameIntentModelRequest.json
      summary: Microsoft Azure Put Apps Appid Versions Versionid Intents Intentid
      tags:
      - Apps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelUpdateObject'
        description: A model object containing the new intent name.
        required: true
      security:
      - apiKeyHeader: []
    delete:
      description: Deletes an intent from a version of the application.
      operationId: microsoftAzureModelDeleteintent
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - $ref: '#/components/parameters/IntentIdInPath'
      - name: deleteUtterances
        in: query
        description: If true, deletes the intent's example utterances. If false, moves the example utterances to the None intent. The default value is false.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Delete Intent Model request:
          $ref: ./examples/model/SuccessfulDeleteIntentModelRequest.json
      summary: Microsoft Azure Delete Apps Appid Versions Versionid Intents Intentid
      tags:
      - Apps
      security:
      - apiKeyHeader: []
  /apps/{appId}/versions/{versionId}/entities/{entityId}:
    get:
      description: Gets information about an entity model in a version of the application.
      operationId: microsoftAzureModelGetentity
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - name: entityId
        in: path
        description: The entity extractor ID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: An entity model info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NDepthEntityExtractor'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Get Entity Info request:
          $ref: ./examples/model/SuccessfulGetEntityInfoRequest.json
      summary: Microsoft Azure Get Apps Appid Versions Versionid Entities Entityid
      tags:
      - Apps
      security:
      - apiKeyHeader: []
    delete:
      description: Deletes an entity or a child from a version of the application.
      operationId: microsoftAzureModelDeleteentity
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - name: entityId
        in: path
        description: The entity extractor or the child entity extractor ID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successfully deleted entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Delete Entity Info request:
          $ref: ./examples/model/SuccessfulDeleteEntityExtractorRequest.json
      summary: Microsoft Azure Delete Apps Appid Versions Versionid Entities Entityid
      tags:
      - Apps
      security:
      - apiKeyHeader: []
    patch:
      description: Updates the name of an entity extractor or the name and instanceOf model of a child entity extractor.
      operationId: microsoftAzureModelUpdateentitychild
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - name: entityId
        in: path
        description: The entity extractor or the child entity extractor ID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Update Entity Extractor request:
          $ref: ./examples/model/SuccessfulUpdateEntityExtractorRequest.json
      summary: Microsoft Azure Patch Apps Appid Versions Versionid Entities Entityid
      tags:
      - Apps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityModelUpdateObject'
        description: 'A model object containing the name new entity extractor or the name and instance of model of a child entity extractor '
        required: true
      security:
      - apiKeyHeader: []
  /apps/{appId}/versions/{versionId}/intents/{intentId}/features:
    post:
      description: Adds a new feature relation to be used by the intent in a version of the application.
      operationId: microsoftAzureFeaturesAddintentfeature
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - $ref: '#/components/parameters/IntentIdInPath'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Add Feature Relation request:
          $ref: ./examples/model/SuccessfulAddIntentFeatureRelationRequest.json
      summary: Microsoft Azure Post Apps Appid Versions Versionid Intents Intentid Features
      tags:
      - Apps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelFeatureInformation'
        description: A Feature relation information object.
        required: true
      security:
      - apiKeyHeader: []
    get:
      description: Gets the information of the features used by the intent in a version of the application.
      operationId: microsoftAzureModelGetintentfeatures
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - $ref: '#/components/parameters/IntentIdInPath'
      responses:
        '200':
          description: A list of feature information objects for the intent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaturesPerModelResponseObject'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Get Features information request:
          $ref: ./examples/model/SuccessfulGetIntentFeaturesInfoRequest.json
      summary: Microsoft Azure Get Apps Appid Versions Versionid Intents Intentid Features
      tags:
      - Apps
      security:
      - apiKeyHeader: []
    put:
      description: Updates the information of the features used by the intent in a version of the application.
      operationId: microsoftAzureModelReplaceintentfeatures
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - $ref: '#/components/parameters/IntentIdInPath'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Replace Features request:
          $ref: ./examples/model/SuccessfulReplaceIntentFeaturesRequest.json
      summary: Microsoft Azure Put Apps Appid Versions Versionid Intents Intentid Features
      tags:
      - Apps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeaturesPerModelResponseObject'
        description: A list of feature information objects containing the new feature relations.
        required: true
      security:
      - apiKeyHeader: []
    delete:
      description: Deletes a relation from the feature relations used by the intent in a version of the application.
      operationId: microsoftAzureModelDeleteintentfeature
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - $ref: '#/components/parameters/IntentIdInPath'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Delete feature relation request:
          $ref: ./examples/model/SuccessfulDeleteIntentFeatureRelationRequest.json
      summary: Microsoft Azure Delete Apps Appid Versions Versionid Intents Intentid Features
      tags:
      - Apps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelFeatureInformation'
        description: A feature information object containing the feature relation to delete.
        required: true
      security:
      - apiKeyHeader: []
  /apps/{appId}/versions/{versionId}/entities/{entityId}/features:
    post:
      description: Adds a new feature relation to be used by the entity in a version of the application.
      operationId: microsoftAzureFeaturesAddentityfeature
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - $ref: '#/components/parameters/EntityIdInPath'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Add Feature Relation request:
          $ref: ./examples/model/SuccessfulAddEntityFeatureRelationRequest.json
      summary: Microsoft Azure Post Apps Appid Versions Versionid Entities Entityid Features
      tags:
      - Apps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelFeatureInformation'
        description: A Feature relation information object.
        required: true
      security:
      - apiKeyHeader: []
    get:
      description: Gets the information of the features used by the entity in a version of the application.
      operationId: microsoftAzureModelGetentityfeatures
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - $ref: '#/components/parameters/EntityIdInPath'
      responses:
        '200':
          description: A list of feature information objects for the entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaturesPerModelResponseObject'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Get Features information request:
          $ref: ./examples/model/SuccessfulGetEntityFeaturesInfoRequest.json
      summary: Microsoft Azure Get Apps Appid Versions Versionid Entities Entityid Features
      tags:
      - Apps
      security:
      - apiKeyHeader: []
    put:
      description: Updates the information of the features used by the entity in a version of the application.
      operationId: microsoftAzureModelReplaceentityfeatures
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - $ref: '#/components/parameters/EntityIdInPath'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Replace Features request:
          $ref: ./examples/model/SuccessfulReplaceEntityFeaturesRequest.json
      summary: Microsoft Azure Put Apps Appid Versions Versionid Entities Entityid Features
      tags:
      - Apps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeaturesPerModelResponseObject'
        description: A list of feature information objects containing the new feature relations.
        required: true
      security:
      - apiKeyHeader: []
    delete:
      description: Deletes a relation from the feature relations used by the entity in a version of the application.
      operationId: microsoftAzureModelDeleteentityfeature
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - $ref: '#/components/parameters/EntityIdInPath'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Delete feature relation request:
          $ref: ./examples/model/SuccessfulDeleteEntityFeatureRelationRequest.json
      summary: Microsoft Azure Delete Apps Appid Versions Versionid Entities Entityid Features
      tags:
      - Apps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelFeatureInformation'
        description: A feature information object containing the feature relation to delete.
        required: true
      security:
      - apiKeyHeader: []
  /apps/{appId}/versions/{versionId}/hierarchicalentities/{hEntityId}:
    get:
      description: Gets information about a hierarchical entity in a version of the application.
      operationId: microsoftAzureModelGethierarchicalentity
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - $ref: '#/components/parameters/HEntityIdInPath'
      responses:
        '200':
          description: A hierarchical entity model info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HierarchicalEntityExtractor'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Get Hierarchical Entity Info request:
          $ref: ./examples/model/SuccessfulGetHierarchicalEntityInfoRequest.json
      summary: Microsoft Azure Get Apps Appid Versions Versionid Hierarchicalentities Hentityid
      tags:
      - Apps
      security:
      - apiKeyHeader: []
    patch:
      description: Updates the name of a hierarchical entity model in a version of the application.
      operationId: microsoftAzureModelUpdatehierarchicalentity
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - $ref: '#/components/parameters/HEntityIdInPath'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Get Hierarchical Entity Info request:
          $ref: ./examples/model/SuccessfulUpdateHierarchicalEntityModelRequest.json
      summary: Microsoft Azure Patch Apps Appid Versions Versionid Hierarchicalentities…
      tags:
      - Apps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelUpdateObject'
        description: Model containing names of the hierarchical entity.
        required: true
      security:
      - apiKeyHeader: []
    delete:
      description: Deletes a hierarchical entity from a version of the application.
      operationId: microsoftAzureModelDeletehierarchicalentity
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - $ref: '#/components/parameters/HEntityIdInPath'
      responses:
        '200':
          description: Successfully deleted entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Delete Hierarchical Entity Model request:
          $ref: ./examples/model/SuccessfulDeleteHierarchicalEntityModelRequest.json
      summary: Microsoft Azure Delete Apps Appid Versions Versionid Hierarchicalentities…
      tags:
      - Apps
      security:
      - apiKeyHeader: []
  /apps/{appId}/versions/{versionId}/compositeentities/{cEntityId}:
    get:
      description: Gets information about a composite entity in a version of the application.
      operationId: microsoftAzureModelGetcompositeentity
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - $ref: '#/components/parameters/CEntityIdInPath'
      responses:
        '200':
          description: The composite entity model info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompositeEntityExtractor'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Get Composite Entity Info request:
          $ref: ./examples/model/SuccessfulGetCompositeEntityInfoRequest.json
      summary: Microsoft Azure Get Apps Appid Versions Versionid Compositeentities Centityid
      tags:
      - Apps
      security:
      - apiKeyHeader: []
    put:
      description: Updates a composite entity in a version of the application.
      operationId: microsoftAzureModelUpdatecompositeentity
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - $ref: '#/components/parameters/CEntityIdInPath'
      x-ms-examples:
        Successful Update Composite Entity Extractor request:
          $ref: ./examples/model/SuccessfulUpdateCompositeEntityModelRequest.json
      responses:
        '200':
          description: Successfully updated composite entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Put Apps Appid Versions Versionid Compositeentities Centityid
      tags:
      - Apps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompositeEntityModel'
        description: A model object containing the new entity extractor name and children.
        required: true
      security:
      - apiKeyHeader: []
    delete:
      description: Deletes a composite entity from a version of the application.
      operationId: microsoftAzureModelDeletecompositeentity
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - $ref: '#/components/parameters/CEntityIdInPath'
      responses:
        '200':
          description: Successfully deleted composite entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Delete Entity Info request:
          $ref: ./examples/model/SuccessfulDeleteCompositeEntityModelRequest.json
      summary: Microsoft Azure Delete Apps Appid Versions Versionid Compositeentities Centityid
      tags:
      - Apps
      security:
      - apiKeyHeader: []
  /apps/{appId}/versions/{versionId}/closedlists/{clEntityId}:
    get:
      description: Gets information about a list entity in a version of the application.
      operationId: microsoftAzureModelGetclosedlist
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - name: clEntityId
        in: path
        description: The list model ID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The list model info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClosedListEntityExtractor'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Get Closed List Entity Info request:
          $ref: ./examples/model/SuccessfulGetClosedListEntityInfoRequest.json
      summary: Microsoft Azure Get Apps Appid Versions Versionid Closedlists Clentityid
      tags:
      - Apps
      security:
      - apiKeyHeader: []
    put:
      description: Updates the list entity in a version of the application.
      operationId: microsoftAzureModelUpdateclosedlist
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - name: clEntityId
        in: path
        description: The list model ID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successfully updated list entity name and words list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Update Closed List Entity Info request:
          $ref: ./examples/model/SuccessfulUpdateClosedListEntityModelRequest.json
      summary: Microsoft Azure Put Apps Appid Versions Versionid Closedlists Clentityid
      tags:
      - Apps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClosedListModelUpdateObject'
        description: The new list entity name and words list.
        required: true
      security:
      - apiKeyHeader: []
    patch:
      description: Adds a batch of sublists to an existing list entity in a version of the application.
      operationId: microsoftAzureModelPatchclosedlist
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - name: clEntityId
        in: path
        description: The list entity model ID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successfully added sublists to the list entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Add SubLists to Closed List Entity request:
          $ref: ./examples/model/SuccessfulPatchClosedListEntityModelRequest.json
      summary: Microsoft Azure Patch Apps Appid Versions Versionid Closedlists Clentityid
      tags:
      - Apps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClosedListModelPatchObject'
        description: A words list batch.
        required: true
      security:
      - apiKeyHeader: []
    delete:
      description: Deletes a list entity model from a version of the application.
      operationId: microsoftAzureModelDeleteclosedlist
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - name: clEntityId
        in: path
        description: The list entity model ID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successfully delete list entity from a version of application.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Delete Closed List Entity Info request:
          $ref: ./examples/model/SuccessfulDeleteClosedListEntityModelRequest.json
      summary: Microsoft Azure Delete Apps Appid Versions Versionid Closedlists Clentityid
      tags:
      - Apps
      security:
      - apiKeyHeader: []
  /apps/{appId}/versions/{versionId}/prebuilts/{prebuiltId}:
    get:
      description: Gets information about a prebuilt entity model in a version of the application.
      operationId: microsoftAzureModelGetprebuilt
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - name: prebuiltId
        in: path
        description: The prebuilt entity extractor ID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: A prebuilt entity models info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrebuiltEntityExtractor'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Get Prebuilt Info request:
          $ref: ./examples/model/SuccessfulGetPrebuiltInfoRequest.json
      summary: Microsoft Azure Get Apps Appid Versions Versionid Prebuilts Prebuiltid
      tags:
      - Apps
      security:
      - apiKeyHeader: []
    delete:
      description: Deletes a prebuilt entity extractor from a version of the application.
      operationId: microsoftAzureModelDeleteprebuilt
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - name: prebuiltId
        in: path
        description: The prebuilt entity extractor ID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Get Prebuilt Info request:
          $ref: ./examples/model/SuccessfulDeletePrebuiltEntityRequest.json
      summary: Microsoft Azure Delete Apps Appid Versions Versionid Prebuilts Prebuiltid
      tags:
      - Apps
      security:
      - apiKeyHeader: []
  /apps/{appId}/versions/{versionId}/closedlists/{clEntityId}/sublists/{subListId}:
    delete:
      description: Deletes a sublist of a specific list entity model from a version of the application.
      operationId: microsoftAzureModelDeletesublist
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - name: clEntityId
        in: path
        description: The list entity extractor ID.
        required: true
        schema:
          type: string
          format: uuid
      - name: subListId
        in: path
        description: The sublist ID.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Successfully deleted sublist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Delete Sublist request:
          $ref: ./examples/model/SuccessfulDeleteSublistRequest.json
      summary: Microsoft Azure Delete Apps Appid Versions Versionid Closedlists Clentityid…
      tags:
      - Apps
      security:
      - apiKeyHeader: []
    put:
      description: Updates one of the list entity's sublists in a version of the application.
      operationId: microsoftAzureModelUpdatesublist
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - name: clEntityId
        in: path
        description: The list entity extractor ID.
        required: true
        schema:
          type: string
          format: uuid
      - name: subListId
        in: path
        description: The sublist ID.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Successfully updated sublist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Update Sublist request:
          $ref: ./examples/model/SuccessfulUpdateSublistRequest.json
      summary: Microsoft Azure Put Apps Appid Versions Versionid Closedlists Clentityid…
      tags:
      - Apps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WordListBaseUpdateObject'
        description: A sublist update object containing the new canonical form and the list of words.
        required: true
      security:
      - apiKeyHeader: []
  /apps/{appId}/versions/{versionId}/intents/{intentId}/suggest:
    get:
      description: Suggests example utterances that would improve the accuracy of the intent model in a version of the application.
      operationId: microsoftAzureModelListintentsuggestions
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - $ref: '#/components/parameters/IntentIdInPath'
      - $ref: '#/components/parameters/TakeInPath'
      - $ref: '#/components/parameters/EnableNestedChildren'
      responses:
        '200':
          description: If there's no trained intent model, nothing is returned in the response. If there's a trained model and active learning finds any relevant queries, they are returned with the intent model predictions. If there's a trained model but active learning didn't find any relevant queries, an empty list is returned in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntentsSuggestionExamples'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Get Intents Suggestion Examples:
          $ref: ./examples/model/SuccessfulGetIntentsSuggestionExamples.json
      summary: Microsoft Azure Get Apps Appid Versions Versionid Intents Intentid Suggest
      tags:
      - Apps
      security:
      - apiKeyHeader: []
  /apps/{appId}/versions/{versionId}/entities/{entityId}/suggest:
    get:
      description: Get suggested example utterances that would improve the accuracy of the entity model in a version of the application.
      operationId: microsoftAzureModelListentitysuggestions
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      - name: entityId
        in: path
        description: The target entity extractor model to enhance.
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/TakeInPath'
      - $ref: '#/components/parameters/EnableNestedChildren'
      responses:
        '200':
          description: If there's no trained entity model, nothing is returned in the response. If there's a trained model and active learning finds any relevant queries, they are returned with the entity model predictions. If there's a trained model but active learning didn't find any relevant queries, an empty list is returned in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitiesSuggestionExamples'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Get Entity Suggestion Examples:
          $ref: ./examples/model/SuccessfulGetEntitySuggestionExamples.json
      summary: Microsoft Azure Get Apps Appid Versions Versionid Entities Entityid Suggest
      tags:
      - Apps
      security:
      - apiKeyHeader: []
  /apps/:
    post:
      description: Creates a new LUIS app.
      operationId: microsoftAzureAppsAdd
      responses:
        '201':
          description: The ID of the created application.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuidResponse'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Application Creation:
          $ref: ./examples/apps/SuccessfulAddApplicationRequest.json
      summary: Microsoft Azure Post Apps
      tags:
      - Apps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationCreateObject'
        description: 'An application containing Name, Description (optional), Culture, Usage Scenario (optional), Domain (optional) and initial version ID (optional) of the application. Default value for the version ID is "0.1". Note: the culture cannot be changed after the app is created.'
        required: true
      security:
      - apiKeyHeader: []
    get:
      description: Lists all of the user's applications.
      operationId: microsoftAzureAppsList
      parameters:
      - $ref: '#/components/parameters/SkipInPath'
      - $ref: '#/components/parameters/TakeInPath'
      responses:
        '200':
          description: A list of the user applications.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationsInfoList'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Get Applications List request:
          $ref: ./examples/apps/SuccessfulGetApplicationsListRequest.json
      summary: Microsoft Azure Get Apps
      tags:
      - Apps
      security:
      - apiKeyHeader: []
  /apps/import:
    post:
      description: Imports an application to LUIS, the application's structure is included in the request body.
      operationId: microsoftAzureAppsImport
      parameters:
      - name: appName
        in: query
        description: The application name to create. If not specified, the application name will be read from the imported object. If the application name already exists, an error is returned.
        schema:
          type: string
      responses:
        '201':
          description: The ID of the imported application.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuidResponse'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Import Application:
          $ref: ./examples/apps/SuccessfulImportApplicationRequest.json
      summary: Microsoft Azure Post Apps Import
      tags:
      - Apps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LuisApp'
        description: A LUIS application structure.
        required: true
      security:
      - apiKeyHeader: []
  /apps/assistants:
    get:
      description: Gets the endpoint URLs for the prebuilt Cortana applications.
      operationId: microsoftAzureAppsListcortanaendpoints
      responses:
        '200':
          description: A personal assistant apps JSON object containing the endpoint URLs for Cortana applications and the user's endpoint keys.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalAssistantsResponse'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Get Personal Assistant Applications:
          $ref: ./examples/apps/SuccessfulGetPersonalAssistantApplications.json
      summary: Microsoft Azure Get Apps Assistants
      tags:
      - Apps
      security:
      - apiKeyHeader: []
  /apps/domains:
    get:
      description: Gets the available application domains.
      operationId: microsoftAzureAppsListdomains
      responses:
        '200':
          description: A list object containing the available application domains.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableDomains'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Get Application Domains request:
          $ref: ./examples/apps/SuccessfulGetApplicationDomainsRequest.json
      summary: Microsoft Azure Get Apps Domains
      tags:
      - Apps
      security:
      - apiKeyHeader: []
  /apps/usagescenarios:
    get:
      description: Gets the application available usage scenarios.
      operationId: microsoftAzureAppsListusagescenarios
      responses:
        '200':
          description: A list object containing the available application usage scenarios.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationUsageScenarios'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Get Application Usage Scenarios request:
          $ref: ./examples/apps/SuccessfulGetApplicationUsageScenariosListRequest.json
      summary: Microsoft Azure Get Apps Usagescenarios
      tags:
      - Apps
      security:
      - apiKeyHeader: []
  /apps/cultures:
    get:
      description: Gets a list of supported cultures. Cultures are equivalent to the written language and locale. For example,"en-us" represents the U.S. variation of English.
      operationId: microsoftAzureAppsListsupportedcultures
      responses:
        '200':
          description: A list object containing the supported application cultures.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableCultures'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Get Application Cultures request:
          $ref: ./examples/apps/SuccessfulGetApplicationCulturesRequest.json
      summary: Microsoft Azure Get Apps Cultures
      tags:
      - Apps
      security:
      - apiKeyHeader: []
  /apps/{appId}/querylogs:
    get:
      description: Gets the logs of the past month's endpoint queries for the application.
      operationId: microsoftAzureAppsDownloadquerylogs
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      responses:
        '200':
          description: A CSV file containing the query logs for the past month.
          content:
            application/octet-stream:
              schema:
                type: object
                format: file
                description: The query logs of an application for the past month in CSV format.
        default:
          description: Error Response.
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Download Application Query logs request:
          $ref: ./examples/apps/SuccessfulDownloadApplicationQueryLogsRequest.json
      summary: Microsoft Azure Get Apps Appid Querylogs
      tags:
      - Apps
      security:
      - apiKeyHeader: []
  /apps/{appId}:
    get:
      description: Gets the application info.
      operationId: microsoftAzureAppsGet
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      responses:
        '200':
          description: The application info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInfoResponse'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Get Application Info request:
          $ref: ./examples/apps/SuccessfulGetApplicationInfoRequest.json
      summary: Microsoft Azure Get Apps Appid
      tags:
      - Apps
      security:
      - apiKeyHeader: []
    put:
      description: Updates the name or description of the application.
      operationId: microsoftAzureAppsUpdate
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      responses:
        '200':
          description: Successfully updated application name and description.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Rename Application request:
          $ref: ./examples/apps/SuccessfulRenameApplicationRequest.json
      summary: Microsoft Azure Put Apps Appid
      tags:
      - Apps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationUpdateObject'
        description: A model containing Name and Description of the application.
        required: true
      security:
      - apiKeyHeader: []
    delete:
      description: Deletes an application.
      operationId: microsoftAzureAppsDelete
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/ForcePath'
      responses:
        '200':
          description: Successfully deleted application.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Rename Application request:
          $ref: ./examples/apps/SuccessfulDeleteApplicationRequest.json
      summary: Microsoft Azure Delete Apps Appid
      tags:
      - Apps
      security:
      - apiKeyHeader: []
  /apps/{appId}/versions/{versionId}/clone:
    post:
      description: Creates a new version from the selected version.
      operationId: microsoftAzureVersionsClone
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      responses:
        '201':
          description: The new version ID.
          content:
            application/json:
              schema:
                type: string
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Clone Application Version request:
          $ref: ./examples/versions/SuccessfulCloneApplicatioVersionRequest.json
      summary: Microsoft Azure Post Apps Appid Versions Versionid Clone
      tags:
      - Apps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskUpdateObject'
        description: A model containing the new version ID.
        required: true
      security:
      - apiKeyHeader: []
  /apps/{appId}/publish:
    post:
      description: Publishes a specific version of the application.
      operationId: microsoftAzureAppsPublish
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      responses:
        '201':
          description: An object containing the application endpoint URL, its assigned endpoint key and publishing status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductionOrStagingEndpointInfo'
        '207':
          description: An object containing the application endpoint URL, its assigned endpoint key and publishing status in case that publishing one or more regions failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductionOrStagingEndpointInfo'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Publish Application request:
          $ref: ./examples/apps/SuccessfulPublishApplicationRequest.json
      summary: Microsoft Azure Post Apps Appid Publish
      tags:
      - Apps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationPublishObject'
        description: The application publish object. The region is the target region that the application is published to.
        required: true
      security:
      - apiKeyHeader: []
  /apps/{appId}/versions:
    get:
      description: Gets a list of versions for this application ID.
      operationId: microsoftAzureVersionsList
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/SkipInPath'
      - $ref: '#/components/parameters/TakeInPath'
      responses:
        '200':
          description: A list of all versions of the application.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VersionInfo'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Get Application Versions info request:
          $ref: ./examples/versions/SuccessfulGetApplicationVersionsInfoRequest.json
      summary: Microsoft Azure Get Apps Appid Versions
      tags:
      - Apps
      security:
      - apiKeyHeader: []
  /apps/{appId}/versions/{versionId}/:
    get:
      description: Gets the version information such as date created, last modified date, endpoint URL, count of intents and entities, training and publishing status.
      operationId: microsoftAzureVersionsGet
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      responses:
        '200':
          description: A model containing the version info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionInfo'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Get Application Version info request:
          $ref: ./examples/versions/SuccessfulGetApplicationVersionInfoRequest.json
      summary: Microsoft Azure Get Apps Appid Versions Versionid
      tags:
      - Apps
      security:
      - apiKeyHeader: []
    put:
      description: Updates the name or description of the application version.
      operationId: microsoftAzureVersionsUpdate
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Rename Application Version request:
          $ref: ./examples/versions/SuccessfulRenameApplicationVersionRequest.json
      summary: Microsoft Azure Put Apps Appid Versions Versionid
      tags:
      - Apps
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskUpdateObject'
        description: A model containing Name and Description of the application.
        required: true
      security:
      - apiKeyHeader: []
    delete:
      description: Deletes an application version.
      operationId: microsoftAzureVersionsDelete
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
      - $ref: '#/components/parameters/VersionIdInPath'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Successful Delete Application Version request:
          $ref: ./examples/versions/SuccessfulDeleteApplicationVersionRequest.json
      summary: Microsoft Azure Delete Apps Appid Versions Versionid
      tags:
      - Apps
      security:
      - apiKeyHeader: []
  /apps/{appId}/versions/{versionId}/export:
    get:
      description: Exports a LUIS application to JSON format.
      operationId: microsoftAzureVersionsExport
      parameters:
      - $ref: '#/components/parameters/AppIdInPath'
[...]
