openapi: 3.2.0
info:
  title: Microsoft Azure Policy API
  version: '1.0'
  description: 'Operations tagged Policy across 2 of this provider''s published API definitions: attestationclient-openapi-original.yml, azure-site-recovery-management-service-api-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
tags:
- name: Policy
paths:
  /policies/{attestationType}:
    get:
      tags:
      - Policy
      summary: Microsoft Azure Retrieves The Current Policy For An Attestation Type
      operationId: microsoftAzurePolicyGet
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/AttestationType'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyResponse'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Get Policy:
          $ref: ./examples/Get_Policy.json
      description: Needs a more full description created.
    put:
      tags:
      - Policy
      summary: Microsoft Azure Sets The Policy For A Given Attestation Type
      operationId: microsoftAzurePolicySet
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/AttestationType'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyResponse'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Set Policy:
          $ref: ./examples/Set_Policy.json
      description: Needs a more full description created.
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/JsonWebToken'
        description: JWT Expressing the new policy whose body is a StoredAttestationPolicy object.
        required: true
  /policies/{attestationType}:reset:
    post:
      tags:
      - Policy
      summary: Microsoft Azure Resets The Attestation Policy For The Specified Tenant And…
      operationId: microsoftAzurePolicyReset
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/AttestationType'
      responses:
        '200':
          description: Success - Returns a JWT signed by the metadata signing key that contains the hash of the supplied policy to be set.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyResponse'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Reset Policy:
          $ref: ./examples/Reset_Policy.json
      description: Needs a more full description created.
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/JsonWebToken'
        description: JSON Web Signature with an empty policy document
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/replicationPolicies/{policyName}
  : get:
      tags:
      - Policy
      summary: Microsoft Azure Gets The Policy
      description: Gets the details of the policy.
      operationId: microsoftAzurePolicyGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/VaultNameParameter'
      - $ref: '#/components/parameters/PolicyNameParameter'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Returns Policy Model on success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyModel'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Policy_Get:
          $ref: ./examples/Policy_Get.json
      security:
      - azure_auth:
        - user_impersonation
    put:
      tags:
      - Policy
      summary: Microsoft Azure Puts The Policy
      description: Creates the policy.
      operationId: microsoftAzurePolicyCreate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/VaultNameParameter'
      - $ref: '#/components/parameters/PolicyNameParameter'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyModel'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyModel'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        Policy_Create:
          $ref: ./examples/Policy_Create.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyModel'
        description: Policy model.
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - Policy
      summary: Microsoft Azure Deletes The Policy
      description: Removes the policy.
      operationId: microsoftAzurePolicyDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/VaultNameParameter'
      - $ref: '#/components/parameters/PolicyNameParameter'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '202':
          description: Returns success on deletion.
          headers:
            Azure-AsyncOperation:
              description: Tracking URL for long running operation.
              schema:
                type: string
            Location:
              schema:
                type: string
        '204':
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        Policy_Delete:
          $ref: ./examples/Policy_Delete.json
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/replicationPolicies
  : get:
      tags:
      - Policy
      summary: Microsoft Azure Lists The Policies
      description: Gets the list of policies in the given vault.
      operationId: microsoftAzurePolicyList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/VaultNameParameter'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Returns Policy Model Collection on success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyModelCollection'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Policy_List:
          $ref: ./examples/Policy_List.json
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/replicationPolicies/{policyName}/operations/{operationId}
  : get:
      tags:
      - Policy
      summary: Microsoft Azure Gets The Policy Operation Status
      description: Tracks the results of an asynchronous operation on the policy.
      operationId: microsoftAzurePolicyoperationstatusGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/VaultNameParameter'
      - $ref: '#/components/parameters/PolicyNameParameter'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/OperationIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        PolicyOperationStatus_Get:
          $ref: ./examples/PolicyOperationStatus_Get.json
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
components:
  parameters:
    AttestationType:
      description: Specifies the trusted execution environment to be used to validate the evidence
      name: attestationType
      in: path
      required: true
      x-ms-parameter-location: method
      x-ms-enum:
        name: AttestationType
        modelAsString: true
        values:
        - value: SgxEnclave
          description: Intel Software Guard eXtensions
        - value: OpenEnclave
          description: OpenEnclave extensions to SGX
        - value: SevSnpVm
          description: AMD SEV SNP Virtual Machine
        - value: Tpm
          description: Edge TPM Virtualization Based Security
      schema:
        type: string
        enum:
        - SgxEnclave
        - OpenEnclave
        - SevSnpVm
        - Tpm
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client API version. Current version is 2022-09-01-preview
      schema:
        type: string
    PolicyNameParameter:
      in: path
      name: policyName
      description: The policy name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9]*$
    VaultNameParameter:
      in: path
      name: vaultName
      description: The vault name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9]*$
  schemas:
    CloudError:
      x-ms-external: true
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
      description: An error response from Attestation.
    CloudErrorBody:
      x-ms-external: true
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for displaying in a user interface.
      description: An error response from Attestation.
    PolicyResponse:
      type: object
      description: The response to an attestation policy operation
      properties:
        token:
          description: An RFC7519 JSON Web Token structure whose body is an PolicyResult object.
          $ref: '#/components/schemas/JsonWebToken'
    JsonWebToken:
      description: An RFC 7519 Json Web Token
      type: string
      pattern: '[A-Za-z0-9_-]+\.[A-Za-z0-9_-]*\.[A-Za-z0-9_-]*'
      externalDocs:
        description: JSON Web Token RFC
        url: https://tools.ietf.org/html/rfc7519
    PolicyModel:
      description: Policy model.
      required:
      - properties
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/PolicyModelProperties'
        id:
          description: Gets or sets the Id of the resource.
          type: string
          readOnly: true
        name:
          description: Gets or sets the name of the resource.
          type: string
          readOnly: true
        type:
          description: Gets or sets the type of the resource.
          type: string
          readOnly: true
        systemData:
          allOf:
          - $ref: '#/components/schemas/SystemDataModel'
          readOnly: true
      x-ms-azure-resource: true
    OperationStatus:
      description: Defines the operation status.
      type: object
      properties:
        id:
          description: Gets or sets the Id.
          type: string
        name:
          description: Gets or sets the operation name.
          type: string
        status:
          description: 'Gets or sets the status of the operation. ARM expects the terminal status to be one of

            Succeeded/ Failed/ Canceled. All other values imply that the operation is still running.'
          type: string
        startTime:
          description: Gets or sets the start time.
          type: string
        endTime:
          description: Gets or sets the end time.
          type: string
    PolicyModelCustomProperties:
      description: Policy model custom properties.
      required:
      - instanceType
      type: object
      properties:
        instanceType:
          description: Gets or sets the instance type.
          minLength: 1
          type: string
      discriminator:
        propertyName: instanceType
    PolicyModelProperties:
      description: Policy model properties.
      required:
      - customProperties
      type: object
      properties:
        provisioningState:
          description: Gets or sets the provisioning state of the policy.
          enum:
          - Canceled
          - Creating
          - Deleting
          - Deleted
          - Failed
          - Succeeded
          - Updating
          type: string
          readOnly: true
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
        customProperties:
          $ref: '#/components/schemas/PolicyModelCustomProperties'
    PolicyModelCollection:
      description: Policy model collection.
      type: object
      properties:
        value:
          description: Gets or sets the list of policies.
          type: array
          items:
            $ref: '#/components/schemas/PolicyModel'
          x-ms-identifiers: []
        nextLink:
          description: Gets or sets the value of next link.
          type: string
    SystemDataModel:
      description: System data required to be defined for Azure resources.
      type: object
      properties:
        createdBy:
          description: Gets or sets identity that created the resource.
          type: string
        createdByType:
          description: 'Gets or sets the type of identity that created the resource: user, application,

            managedIdentity.'
          type: string
        createdAt:
          format: date-time
          description: Gets or sets the timestamp of resource creation (UTC).
          type: string
        lastModifiedBy:
          description: Gets or sets the identity that last modified the resource.
          type: string
        lastModifiedByType:
          description: 'Gets or sets the type of identity that last modified the resource: user, application,

            managedIdentity.'
          type: string
        lastModifiedAt:
          format: date-time
          description: Gets or sets the timestamp of resource last modification (UTC).
          type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- attestationclient-openapi-original.yml
- azure-site-recovery-management-service-api-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
