openapi: 3.2.0
info:
  title: Microsoft Azure NetworkSecurityPerimeter Nsp Access Rules…
  description: The Network Security Perimeter API provides a RESTful set of web services that interact with network security perimeter resource.
  version: 2023-07-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: NspAccessRulesReconcile
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/profiles/{profileName}/accessRules/{accessRuleName}/reconcile
  : parameters:
    - $ref: ./network.json#/parameters/SubscriptionIdParameter
    - $ref: '#/components/parameters/ResourceGroupNameParameter'
    - $ref: '#/components/parameters/NetworkSecurityPerimeterNameParameter'
    - $ref: '#/components/parameters/ProfileNameParameter'
    - $ref: '#/components/parameters/AccessRuleNameParameter'
    - $ref: ./network.json#/parameters/ApiVersionParameter
    post:
      tags:
      - NspAccessRulesReconcile
      operationId: microsoftAzureNspaccessrulesreconcilePost
      description: Reconcile NSP access rules
      responses:
        '200':
          description: Reconcile NSP access rule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NspAccessRuleReconcile'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        NspAccessRuleReconcile:
          $ref: ./examples/NspAccessRuleReconcile.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NspAccessRuleReconcile'
        description: Parameters for NSP access rule reconcile
        required: true
components:
  parameters:
    NetworkSecurityPerimeterNameParameter:
      name: networkSecurityPerimeterName
      in: path
      required: true
      description: The name of the network security perimeter.
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
    ProfileNameParameter:
      name: profileName
      in: path
      required: true
      description: The name of the NSP profile.
      x-ms-parameter-location: method
      schema:
        type: string
    AccessRuleNameParameter:
      name: accessRuleName
      in: path
      required: true
      description: The name of the NSP access rule.
      x-ms-parameter-location: method
      schema:
        type: string
  schemas:
    NspAccessRuleReconcile:
      type: object
      properties: {}
      description: Request object for NSP reconcile.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
