openapi: 3.2.0
info:
  title: Microsoft Azure Resource Pools API
  x-refined-note:
  - x-ms-code-generation-settings differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged ResourcePools across 2 of this provider''s published API definitions: azure-arc-vmware-management-service-api-openapi-original.yml, vmwarecloudsimple-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Resource Pools
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedVMwarevSphere/resourcePools/{resourcePoolName}
  : put:
      tags:
      - Resource Pools
      operationId: microsoftAzureResourcepoolsCreate
      description: Create Or Update resourcePool.
      summary: Microsoft Azure Implements Resourcepool Put Method
      x-ms-examples:
        CreateResourcePool:
          $ref: ./examples/CreateResourcePool.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - in: path
        name: resourcePoolName
        required: true
        description: Name of the resourcePool.
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Arm resource update successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourcePool'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourcePool'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourcePool'
        description: Request payload.
    get:
      tags:
      - Resource Pools
      operationId: microsoftAzureResourcepoolsGet
      summary: Microsoft Azure Gets A Resourcepool
      description: Implements resourcePool GET method.
      x-ms-examples:
        GetResourcePool:
          $ref: ./examples/GetResourcePool.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - in: path
        name: resourcePoolName
        description: Name of the resourcePool.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourcePool'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
    patch:
      tags:
      - Resource Pools
      operationId: microsoftAzureResourcepoolsUpdate
      summary: Microsoft Azure Updates A Resourcepool
      description: API to update certain properties of the resourcePool resource.
      x-ms-examples:
        UpdateResourcePool:
          $ref: ./examples/UpdateResourcePool.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - in: path
        name: resourcePoolName
        required: true
        description: Name of the resourcePool.
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Arm resource update successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourcePool'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourcePatch'
        description: Resource properties to update.
    delete:
      tags:
      - Resource Pools
      operationId: microsoftAzureResourcepoolsDelete
      summary: Microsoft Azure Deletes An Resourcepool
      description: Implements resourcePool DELETE method.
      x-ms-examples:
        DeleteResourcePool:
          $ref: ./examples/DeleteResourcePool.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - in: path
        name: resourcePoolName
        description: Name of the resourcePool.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      - in: query
        name: force
        description: Whether force delete was specified.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Success
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.ConnectedVMwarevSphere/resourcePools:
    get:
      tags:
      - Resource Pools
      operationId: microsoftAzureResourcepoolsList
      summary: Microsoft Azure Implements Get Resourcepools In A Subscription
      description: List of resourcePools in a subscription.
      x-ms-examples:
        ListResourcePools:
          $ref: ./examples/ListResourcePools.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourcePoolsList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedVMwarevSphere/resourcePools
  : get:
      tags:
      - Resource Pools
      operationId: microsoftAzureResourcepoolsListbyresourcegroup
      summary: Microsoft Azure Implements Get Resourcepools In A Resource Group
      description: List of resourcePools in a resource group.
      x-ms-examples:
        ListResourcePoolsByResourceGroup:
          $ref: ./examples/ListResourcePoolsByResourceGroup.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourcePoolsList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}/resourcePools
  : get:
      description: Returns list of resource pools in region for private cloud
      tags:
      - Resource Pools
      summary: Microsoft Azure Implements Get Of Resource Pools List
      operationId: microsoftAzureResourcepoolsList
      parameters:
      - $ref: '#/components/parameters/subscriptionId_2'
      - $ref: '#/components/parameters/regionId'
      - $ref: '#/components/parameters/pcName'
      - $ref: '#/components/parameters/api-version_2'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourcePoolsListResponse'
        default:
          description: General Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
      x-ms-examples:
        ListResourcePools:
          $ref: ./examples/ListResourcePools.json
      x-ms-pageable:
        nextLinkName: nextLink
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}/resourcePools/{resourcePoolName}
  : get:
      description: Returns resource pool templates by its name
      tags:
      - Resource Pools
      summary: Microsoft Azure Implements Get Of Resource Pool
      operationId: microsoftAzureResourcepoolsGet
      parameters:
      - $ref: '#/components/parameters/subscriptionId_2'
      - $ref: '#/components/parameters/api-version_2'
      - $ref: '#/components/parameters/regionId'
      - $ref: '#/components/parameters/pcName'
      - description: resource pool id (vsphereId)
        name: resourcePoolName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourcePool_2'
        default:
          description: General Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
      x-ms-examples:
        GetResourcePool:
          $ref: ./examples/GetResourcePool.json
    servers:
    - url: https://management.azure.com
components:
  schemas:
    ResourcePoolProperties:
      description: Describes the properties of a Resource Pool.
      type: object
      properties:
        uuid:
          description: Gets or sets a unique identifier for this resource.
          type: string
          readOnly: true
        vCenterId:
          description: Gets or sets the ARM Id of the vCenter resource in which this resource pool resides.
          type: string
        moRefId:
          description: Gets or sets the vCenter MoRef (Managed Object Reference) ID for the resource pool.
          type: string
        inventoryItemId:
          description: Gets or sets the inventory Item ID for the resource pool.
          type: string
        moName:
          description: Gets or sets the vCenter Managed Object name for the resource pool.
          type: string
          readOnly: true
        cpuSharesLevel:
          description: 'Gets or sets CPUSharesLevel which specifies the CPU allocation level for this pool.

            This property is used in relative allocation between resource consumers.'
          type: string
          readOnly: true
        cpuReservationMHz:
          format: int64
          description: 'Gets or sets CPUReservationMHz which specifies the CPU size in MHz that is guaranteed

            to be available.'
          type: integer
          readOnly: true
        cpuLimitMHz:
          format: int64
          description: 'Gets or sets CPULimitMHz which specifies a CPU usage limit in MHz.

            Utilization will not exceed this limit even if there are available resources.'
          type: integer
          readOnly: true
        memSharesLevel:
          description: 'Gets or sets CPUSharesLevel which specifies the memory allocation level for this pool.

            This property is used in relative allocation between resource consumers.'
          type: string
          readOnly: true
        memReservationMB:
          format: int64
          description: 'Gets or sets MemReservationMB which specifies the guaranteed available memory in

            megabytes.'
          type: integer
          readOnly: true
        memLimitMB:
          format: int64
          description: 'Gets or sets MemLimitMB specifies a memory usage limit in megabytes.

            Utilization will not exceed the specified limit even if there are available resources.'
          type: integer
          readOnly: true
        memOverallUsageGB:
          format: int64
          description: Gets the used physical memory on the pool in GB.
          type: integer
          readOnly: true
        memCapacityGB:
          format: int64
          description: Gets the total amount of physical memory on the pool in GB.
          type: integer
          readOnly: true
        cpuOverallUsageMHz:
          format: int64
          description: Gets the used CPU usage across all cores on the pool in MHz.
          type: integer
          readOnly: true
        cpuCapacityMHz:
          format: int64
          description: Gets the max CPU usage across all cores on the pool in MHz.
          type: integer
          readOnly: true
        customResourceName:
          description: Gets the name of the corresponding resource in Kubernetes.
          type: string
          readOnly: true
        datastoreIds:
          description: Gets the datastore ARM ids.
          type: array
          items:
            type: string
          readOnly: true
        networkIds:
          description: Gets the network ARM ids.
          type: array
          items:
            type: string
          readOnly: true
        statuses:
          description: The resource status information.
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ResourceStatus'
          x-ms-identifiers:
          - type
        provisioningState:
          $ref: '#/components/schemas/ResourceProvisioningState'
          description: Gets the provisioning state.
          readOnly: true
    ResourcePool:
      description: Define the resourcePool.
      required:
      - location
      - properties
      type: object
      x-ms-azure-resource: true
      properties:
        properties:
          x-ms-client-flatten: true
          description: Resource properties.
          $ref: '#/components/schemas/ResourcePoolProperties'
        location:
          description: Gets or sets the location.
          type: string
          x-ms-mutability:
          - read
          - create
        extendedLocation:
          $ref: '#/components/schemas/ExtendedLocation'
          description: Gets or sets the extended location.
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: The system data.
        tags:
          description: Gets or sets the Resource tags.
          type: object
          additionalProperties:
            type: string
        name:
          description: Gets or sets the name.
          type: string
          readOnly: true
        id:
          description: Gets or sets the Id.
          type: string
          readOnly: true
        type:
          description: Gets or sets the type of the resource.
          type: string
          readOnly: true
        kind:
          type: string
          description: Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type; e.g. ApiApps are a kind of Microsoft.Web/sites type.  If supported, the resource provider must validate and persist this value.
    ExtendedLocation:
      type: object
      description: The extended location.
      properties:
        type:
          type: string
          description: The extended location type.
        name:
          type: string
          description: The extended location name.
    ResourceStatus:
      description: The resource status information.
      type: object
      properties:
        type:
          description: The type of the condition.
          type: string
          readOnly: true
        status:
          description: Status of the condition.
          type: string
          readOnly: true
        reason:
          description: The reason for the condition's status.
          type: string
          readOnly: true
        message:
          description: A human readable message indicating details about the status.
          type: string
          readOnly: true
        severity:
          description: Severity with which to treat failures of this type of condition.
          type: string
          readOnly: true
        lastUpdatedAt:
          description: The last update time for this condition.
          type: string
          format: date-time
          readOnly: true
    ResourceProvisioningState:
      type: string
      description: The current deployment state of resource.
      enum:
      - Succeeded
      - Failed
      - Canceled
      - Provisioning
      - Updating
      - Deleting
      - Accepted
      - Created
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    ResourcePatch:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
      description: Object containing updates for patch operations.
    ResourcePoolsList:
      description: List of ResourcePools.
      type: object
      properties:
        nextLink:
          description: Url to follow for getting next page of ResourcePools.
          type: string
        value:
          description: Array of ResourcePools
          type: array
          items:
            $ref: '#/components/schemas/ResourcePool'
      required:
      - value
    CSRPError:
      description: General error model
      properties:
        error:
          description: Error's body
          $ref: '#/components/schemas/CSRPErrorBody'
    ResourcePoolProperties_2:
      description: Properties of resource pool
      properties:
        fullName:
          description: Hierarchical resource pool name
          type: string
          readOnly: true
    ResourcePool_2:
      description: Resource pool model
      required:
      - id
      properties:
        id:
          description: resource pool id (privateCloudId:vsphereId)
          type: string
        location:
          description: Azure region
          type: string
          readOnly: true
        name:
          description: '{ResourcePoolName}'
          type: string
          readOnly: true
        privateCloudId:
          description: The Private Cloud Id
          type: string
          readOnly: true
        properties:
          description: Resource pool properties
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ResourcePoolProperties_2'
        type:
          description: '{resourceProviderNamespace}/{resourceType}'
          type: string
          readOnly: true
    ResourcePoolsListResponse:
      description: List of resource pools response model
      properties:
        nextLink:
          description: Link for next list of ResourcePoolsList
          type: string
        value:
          description: Results of the Resource pools list
          type: array
          items:
            $ref: '#/components/schemas/ResourcePool_2'
    CSRPErrorBody:
      description: Error properties
      properties:
        code:
          description: Error's code
          type: string
          readOnly: true
        details:
          description: Error's details
          type: array
          items:
            $ref: '#/components/schemas/CSRPErrorBody'
          x-ms-identifiers: []
          readOnly: true
        message:
          description: Error's message
          type: string
          readOnly: true
        target:
          description: Error's target
          type: string
  parameters:
    api-version:
      in: query
      name: api-version
      description: Client Api Version.
      required: true
      schema:
        type: string
    resourceGroupName:
      in: path
      name: resourceGroupName
      description: The Resource Group Name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    subscriptionId:
      in: path
      name: subscriptionId
      description: The Subscription ID.
      required: true
      schema:
        type: string
    regionId:
      x-ms-parameter-location: method
      description: The region Id (westus, eastus)
      name: regionId
      in: path
      required: true
      schema:
        type: string
    pcName:
      x-ms-parameter-location: method
      description: The private cloud name
      name: pcName
      in: path
      required: true
      schema:
        type: string
    api-version_2:
      description: Client API version.
      name: api-version
      in: query
      required: true
      schema:
        type: string
    subscriptionId_2:
      description: The subscription ID.
      name: subscriptionId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-refined-from:
- azure-arc-vmware-management-service-api-openapi-original.yml
- vmwarecloudsimple-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
