openapi: 3.2.0
info:
  title: Microsoft Azure NetworkResourceProviderClient Express Route…
  description: The Windows Azure Network management API provides a RESTful set of web services that interact with Windows Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Windows Azure Networks service.
  version: 2015-05-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ExpressRoute Circuits
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/
  : delete:
      tags:
      - ExpressRoute Circuits
      operationId: microsoftAzureExpressroutecircuitsDelete
      description: The delete ExpressRouteCircuit operation deletes the specified ExpressRouteCircuit.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: circuitName
        in: path
        required: true
        description: The name of the express route Circuit.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
        '202':
          description: ''
        '204':
          description: ''
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    get:
      tags:
      - ExpressRoute Circuits
      operationId: microsoftAzureExpressroutecircuitsGet
      description: The Get ExpressRouteCircuit operation retrieves information about the specified ExpressRouteCircuit.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: circuitName
        in: path
        required: true
        description: The name of the circuit.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuit'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuit'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - ExpressRoute Circuits
      operationId: microsoftAzureExpressroutecircuitsCreateorupdate
      description: The Put ExpressRouteCircuit operation creates/updates a ExpressRouteCircuit
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: circuitName
        in: path
        required: true
        description: The name of the circuit.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuit'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuit'
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuit'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuit'
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpressRouteCircuit'
          text/json:
            schema:
              $ref: '#/components/schemas/ExpressRouteCircuit'
        description: Parameters supplied to the create/delete ExpressRouteCircuit operation
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}arpTable
  : get:
      tags:
      - ExpressRoute Circuits
      operationId: microsoftAzureExpressroutecircuitsListarptable
      description: The ListArpTable from ExpressRouteCircuit operation retrieves the currently advertised arp table associated with the ExpressRouteCircuits in a resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: circuitName
        in: path
        required: true
        description: The name of the circuit.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitsArpTableListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitsArpTableListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}routesTable
  : get:
      tags:
      - ExpressRoute Circuits
      operationId: microsoftAzureExpressroutecircuitsListroutestable
      description: The ListRoutesTable from ExpressRouteCircuit operation retrieves the currently advertised routes table associated with the ExpressRouteCircuits in a resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: circuitName
        in: path
        required: true
        description: The name of the circuit.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitsRoutesTableListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitsRoutesTableListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}stats
  : get:
      tags:
      - ExpressRoute Circuits
      operationId: microsoftAzureExpressroutecircuitsListstats
      description: The ListStats ExpressRouteCircuit operation retrieves all the stats from a ExpressRouteCircuits in a resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: circuitName
        in: path
        required: true
        description: The name of the loadBalancer.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitsStatsListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitsStatsListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits:
    get:
      tags:
      - ExpressRoute Circuits
      operationId: microsoftAzureExpressroutecircuitsList
      description: The List ExpressRouteCircuit operation retrieves all the ExpressRouteCircuits in a resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteCircuits:
    get:
      tags:
      - ExpressRoute Circuits
      operationId: microsoftAzureExpressroutecircuitsListall
      description: The List ExpressRouteCircuit operation retrieves all the ExpressRouteCircuits in a subscription.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Network…
components:
  schemas:
    ExpressRouteCircuitArpTable:
      properties:
        ipAddress:
          type: string
          description: Gets ipAddress.
        macAddress:
          type: string
          description: Gets macAddress.
      description: The arp table associated with the ExpressRouteCircuit
    ExpressRouteCircuitPropertiesFormat:
      properties:
        circuitProvisioningState:
          type: string
          description: 'Gets or sets CircuitProvisioningState state of the resource '
        serviceProviderProvisioningState:
          type: string
          description: 'Gets or sets ServiceProviderProvisioningState state of the resource '
          enum:
          - NotProvisioned
          - Provisioning
          - Provisioned
          - Deprovisioning
          x-ms-enum:
            name: ServiceProviderProvisioningState
            modelAsString: true
        authorizations:
          type: array
          items:
            $ref: '#/components/schemas/ExpressRouteCircuitAuthorization'
          description: Gets or sets list of authorizations
        peerings:
          type: array
          items:
            $ref: '#/components/schemas/ExpressRouteCircuitPeering'
          description: Gets or sets list of peerings
        serviceKey:
          type: string
          description: Gets or sets ServiceKey
        serviceProviderNotes:
          type: string
          description: Gets or sets ServiceProviderNotes
        serviceProviderProperties:
          $ref: '#/components/schemas/ExpressRouteCircuitServiceProviderProperties'
          description: Gets or sets ServiceProviderProperties
        provisioningState:
          type: string
          description: Gets or sets Provisioning state of the PublicIP resource Updating/Deleting/Failed
      description: Properties of ExpressRouteCircuit
    ExpressRouteCircuitListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ExpressRouteCircuit'
          description: Gets a list of ExpressRouteCircuits in a resource group
        nextLink:
          type: string
          description: Gets the URL to get the next set of results.
      description: Response for ListExpressRouteCircuit Api service call
    ExpressRouteCircuitAuthorization:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/AuthorizationPropertiesFormat'
        name:
          type: string
          description: Gets name of the resource that is unique within a resource group. This name can be used to access the resource
        etag:
          type: string
          description: A unique read-only string that changes whenever the resource is updated
      allOf:
      - $ref: '#/components/schemas/SubResource'
      description: Authorization in a ExpressRouteCircuit resource
    ExpressRouteCircuitPeeringPropertiesFormat:
      properties:
        peeringType:
          type: string
          description: Gets or sets PeeringType
          enum:
          - AzurePublicPeering
          - AzurePrivatePeering
          - MicrosoftPeering
          x-ms-enum:
            name: ExpressRouteCircuitPeeringType
            modelAsString: true
        state:
          type: string
          description: Gets or sets state of Peering
          enum:
          - Disabled
          - Enabled
          x-ms-enum:
            name: ExpressRouteCircuitPeeringState
            modelAsString: true
        azureASN:
          type: integer
          format: int32
          description: Gets or sets the azure ASN
        peerASN:
          type: integer
          format: int32
          description: Gets or sets the peer ASN
        primaryPeerAddressPrefix:
          type: string
          description: Gets or sets the primary address prefix
        secondaryPeerAddressPrefix:
          type: string
          description: Gets or sets the secondary address prefix
        primaryAzurePort:
          type: string
          description: Gets or sets the primary port
        secondaryAzurePort:
          type: string
          description: Gets or sets the secondary port
        sharedKey:
          type: string
          description: Gets or sets the shared key
        vlanId:
          type: integer
          format: int32
          description: Gets or sets the vlan id
        microsoftPeeringConfig:
          $ref: '#/components/schemas/ExpressRouteCircuitPeeringConfig'
          description: Gets or sets the Microsoft peering config
        stats:
          $ref: '#/components/schemas/ExpressRouteCircuitStats'
          description: Gets or peering stats
        provisioningState:
          type: string
          description: Gets or sets Provisioning state of the PublicIP resource Updating/Deleting/Failed
    ExpressRouteCircuitSku:
      properties:
        name:
          type: string
          description: Gets or sets name of the sku.
        tier:
          type: string
          description: Gets or sets tier of the sku.
          enum:
          - Standard
          - Premium
          x-ms-enum:
            name: ExpressRouteCircuitSkuTier
            modelAsString: true
        family:
          type: string
          description: Gets or sets family of the sku.
          enum:
          - UnlimitedData
          - MeteredData
          x-ms-enum:
            name: ExpressRouteCircuitSkuFamily
            modelAsString: true
      description: Contains sku in an ExpressRouteCircuit
    ExpressRouteCircuitsRoutesTableListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ExpressRouteCircuitRoutesTable'
          description: Gets List of RoutesTable
        nextLink:
          type: string
          description: Gets the URL to get the next set of results.
      description: Response for ListRoutesTable associated with the Express Route Circuits Api
    ExpressRouteCircuit:
      properties:
        sku:
          $ref: '#/components/schemas/ExpressRouteCircuitSku'
          description: Gets or sets sku
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ExpressRouteCircuitPropertiesFormat'
        etag:
          type: string
          description: Gets a unique read-only string that changes whenever the resource is updated
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: ExpressRouteCircuit resource
    ExpressRouteCircuitRoutesTable:
      properties:
        addressPrefix:
          type: string
          description: Gets AddressPrefix.
        nextHopType:
          type: string
          description: Gets NextHopType.
          enum:
          - VirtualNetworkGateway
          - VnetLocal
          - Internet
          - VirtualAppliance
          - None
          x-ms-enum:
            name: RouteNextHopType
            modelAsString: true
        nextHopIP:
          type: string
          description: Gets NextHopIP.
        asPath:
          type: string
          description: Gets AsPath.
      required:
      - nextHopType
      description: The routes table associated with the ExpressRouteCircuit
    ExpressRouteCircuitsArpTableListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ExpressRouteCircuitArpTable'
          description: Gets List of ArpTable
        nextLink:
          type: string
          description: Gets the URL to get the next set of results.
      description: Response for ListArpTable associated with the Express Route Circuits Api
    ExpressRouteCircuitPeering:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ExpressRouteCircuitPeeringPropertiesFormat'
        name:
          type: string
          description: Gets name of the resource that is unique within a resource group. This name can be used to access the resource
        etag:
          type: string
          description: A unique read-only string that changes whenever the resource is updated
      allOf:
      - $ref: '#/components/schemas/SubResource'
      description: Peering in a ExpressRouteCircuit resource
    ExpressRouteCircuitServiceProviderProperties:
      properties:
        serviceProviderName:
          type: string
          description: Gets or sets serviceProviderName.
        peeringLocation:
          type: string
          description: Gets or sets peering location.
        bandwidthInMbps:
          type: integer
          format: int32
          description: Gets or sets BandwidthInMbps.
      description: Contains ServiceProviderProperties in an ExpressRouteCircuit
    Resource:
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        location:
          type: string
          description: Resource location
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
      required:
      - location
      x-ms-azure-resource: true
    SubResource:
      properties:
        id:
          type: string
          description: Resource Id
      x-ms-azure-resource: true
    ExpressRouteCircuitStats:
      properties:
        bytesIn:
          type: integer
          format: int32
          description: Gets BytesIn of the peering.
        bytesOut:
          type: integer
          format: int32
          description: Gets BytesOut of the peering.
      description: Contains Stats associated with the peering
    ExpressRouteCircuitsStatsListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ExpressRouteCircuitStats'
          description: Gets List of Stats
        nextLink:
          type: string
          description: Gets the URL to get the next set of results.
      description: Response for ListStats from Express Route Circuits Api service call
    ExpressRouteCircuitPeeringConfig:
      properties:
        advertisedPublicPrefixes:
          type: array
          items:
            type: string
          description: Gets or sets the reference of AdvertisedPublicPrefixes
        advertisedPublicPrefixesState:
          type: string
          description: 'Gets or sets AdvertisedPublicPrefixState of the Peering resource '
          enum:
          - NotConfigured
          - Configuring
          - Configured
          - ValidationNeeded
          x-ms-enum:
            name: ExpressRouteCircuitPeeringAdvertisedPublicPrefixState
            modelAsString: true
        customerASN:
          type: integer
          format: int32
          description: Gets or Sets CustomerAsn of the peering.
        routingRegistryName:
          type: string
          description: Gets or Sets RoutingRegistryName of the config.
      description: Specifies the peering config
    AuthorizationPropertiesFormat:
      properties:
        authorizationKey:
          type: string
          description: Gets or sets the authorization key
        authorizationUseStatus:
          type: string
          description: Gets or sets AuthorizationUseStatus
          enum:
          - Available
          - InUse
          x-ms-enum:
            name: AuthorizationUseStatus
            modelAsString: true
        provisioningState:
          type: string
          description: Gets or sets Provisioning state of the PublicIP resource Updating/Deleting/Failed
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
