openapi: 3.2.0
info:
  title: Microsoft Azure Storage Accounts API
  x-refined-note:
  - x-ms-code-generation-settings differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged StorageAccounts across 4 of this provider''s published API definitions: databoxedgemanagementclient-openapi-original.yml, datalakeanalyticsaccountmanagementclient-openapi-original.yml, storagemanagement-openapi-original.yml, storagemanagementclient-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
tags:
- name: StorageAccounts
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/storageAccounts
  : get:
      tags:
      - StorageAccounts
      summary: Microsoft Azure Lists All The Storageaccounts In A Data Box Edge Data Box…
      operationId: microsoftAzureStorageaccountsListbydataboxedgedevice
      parameters:
      - name: deviceName
        in: path
        description: The device name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of all the StorageAccounts on the device.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageAccountList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        StorageAccountGetAllInDevice:
          $ref: ./examples/StorageAccountGetAllInDevice.json
      description: Needs a more full description created.
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/storageAccounts/{storageAccountName}
  : get:
      tags:
      - StorageAccounts
      summary: Microsoft Azure Gets A Storageaccount By Name
      operationId: microsoftAzureStorageaccountsGet
      parameters:
      - name: deviceName
        in: path
        description: The device name.
        required: true
        schema:
          type: string
      - name: storageAccountName
        in: path
        description: The storage account name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The storage account details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageAccount'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        StorageAccountGet:
          $ref: ./examples/StorageAccountGet.json
      description: Needs a more full description created.
      security:
      - azure_auth:
        - user_impersonation
    put:
      tags:
      - StorageAccounts
      summary: Microsoft Azure Creates A New Storageaccount Or Updates An Existing…
      operationId: microsoftAzureStorageaccountsCreateorupdate
      parameters:
      - name: deviceName
        in: path
        description: The device name.
        required: true
        schema:
          type: string
      - name: storageAccountName
        in: path
        description: The StorageAccount name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully created or updated the StorageAccount.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageAccount'
        '202':
          description: Accepted the request to create or update the StorageAccount.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-long-running-operation: true
      x-ms-examples:
        StorageAccountPut:
          $ref: ./examples/StorageAccountPut.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorageAccount'
        description: The StorageAccount properties.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - StorageAccounts
      description: Deletes the StorageAccount on the Data Box Edge/Data Box Gateway device.
      operationId: microsoftAzureStorageaccountsDelete
      parameters:
      - name: deviceName
        in: path
        description: The device name.
        required: true
        schema:
          type: string
      - name: storageAccountName
        in: path
        description: The StorageAccount name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to delete the StorageAccount.
        '204':
          description: The StorageAccount is already deleted.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-long-running-operation: true
      x-ms-examples:
        StorageAccountDelete:
          $ref: ./examples/StorageAccountDelete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/storageAccounts
  : get:
      tags:
      - StorageAccounts
      operationId: microsoftAzureStorageaccountsListbyaccount
      description: Gets the first page of Azure Storage accounts, if any, linked to the specified Data Lake Analytics account. The response includes a link to the next page, if any.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - name: $filter
        in: query
        required: false
        description: The OData filter. Optional.
        schema:
          type: string
      - name: $top
        in: query
        required: false
        description: The number of items to return. Optional.
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: $skip
        in: query
        required: false
        description: The number of items to skip over before returning elements. Optional.
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: $select
        in: query
        required: false
        description: OData Select statement. Limits the properties on each entry to just those requested, e.g. Categories?$select=CategoryName,Description. Optional.
        schema:
          type: string
      - name: $orderby
        in: query
        required: false
        description: OrderBy clause. One or more comma-separated expressions with an optional "asc" (the default) or "desc" depending on the order you'd like the values sorted, e.g. Categories?$orderby=CategoryName desc. Optional.
        schema:
          type: string
      - name: $count
        in: query
        required: false
        description: The Boolean value of true or false to request a count of the matching resources included with the resources in the response, e.g. Categories?$count=true. Optional.
        schema:
          type: boolean
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved the list of Azure Storage accounts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageAccountInformationListResult'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Gets the first page of Azure Storage accounts linked to the specified Data Lake Analytics account:
          $ref: ./examples/StorageAccounts_ListByAccount.json
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/StorageAccountInformation'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/storageAccounts/{storageAccountName}
  : put:
      tags:
      - StorageAccounts
      operationId: microsoftAzureStorageaccountsAdd
      description: Updates the specified Data Lake Analytics account to add an Azure Storage account.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - name: storageAccountName
        in: path
        required: true
        description: The name of the Azure Storage account to add
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully added the specified Azure Storage account information to the specified Azure Data Lake Analytics account.
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Adds an Azure Storage account:
          $ref: ./examples/StorageAccounts_Add.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddStorageAccountParameters'
        description: The parameters containing the access key and optional suffix for the Azure Storage Account.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    get:
      tags:
      - StorageAccounts
      operationId: microsoftAzureStorageaccountsGet
      description: Gets the specified Azure Storage account linked to the given Data Lake Analytics account.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - name: storageAccountName
        in: path
        required: true
        description: The name of the Azure Storage account for which to retrieve the details.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved the specified Azure Storage account information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageAccountInformation'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Gets the specified Azure Storage account:
          $ref: ./examples/StorageAccounts_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    patch:
      tags:
      - StorageAccounts
      operationId: microsoftAzureStorageaccountsUpdate
      description: Updates the Data Lake Analytics account to replace Azure Storage blob account details, such as the access key and/or suffix.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - name: storageAccountName
        in: path
        required: true
        description: The Azure Storage account to modify
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully update the specified Azure Storage account information for the specified Azure Data Lake Analytics account.
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Replaces Azure Storage blob account details:
          $ref: ./examples/StorageAccounts_Update.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStorageAccountParameters'
        description: The parameters containing the access key and suffix to update the storage account with, if any. Passing nothing results in no change.
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - StorageAccounts
      operationId: microsoftAzureStorageaccountsDelete
      description: Updates the specified Data Lake Analytics account to remove an Azure Storage account.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - name: storageAccountName
        in: path
        required: true
        description: The name of the Azure Storage account to remove
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully deleted the specified Azure Storage account information from the Azure Data Lake Analytics account.
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Removes an Azure Storage account:
          $ref: ./examples/StorageAccounts_Delete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/storageAccounts/{storageAccountName}/containers
  : get:
      tags:
      - StorageAccounts
      operationId: microsoftAzureStorageaccountsListstoragecontainers
      description: Lists the Azure Storage containers, if any, associated with the specified Data Lake Analytics and Azure Storage account combination. The response includes a link to the next page of results, if any.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - name: storageAccountName
        in: path
        required: true
        description: The name of the Azure storage account from which to list blob containers.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved the list of Azure Storage containers under the specified Azure Data Lake Analytics account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageContainerListResult'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Lists the Azure Storage containers:
          $ref: ./examples/StorageAccounts_ListStorageContainers.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/storageAccounts/{storageAccountName}/containers/{containerName}
  : get:
      tags:
      - StorageAccounts
      operationId: microsoftAzureStorageaccountsGetstoragecontainer
      description: Gets the specified Azure Storage container associated with the given Data Lake Analytics and Azure Storage accounts.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - name: storageAccountName
        in: path
        required: true
        description: The name of the Azure storage account from which to retrieve the blob container.
        schema:
          type: string
      - name: containerName
        in: path
        required: true
        description: The name of the Azure storage container to retrieve
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved the specified Azure Storage container information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageContainer'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Gets the specified Azure Storage container:
          $ref: ./examples/StorageAccounts_GetStorageContainer.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/storageAccounts/{storageAccountName}/containers/{containerName}/listSasTokens
  : post:
      tags:
      - StorageAccounts
      operationId: microsoftAzureStorageaccountsListsastokens
      description: Gets the SAS token associated with the specified Data Lake Analytics and Azure Storage account and container combination.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - name: storageAccountName
        in: path
        required: true
        description: The name of the Azure storage account for which the SAS token is being requested.
        schema:
          type: string
      - name: containerName
        in: path
        required: true
        description: The name of the Azure storage container for which the SAS token is being requested.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved the list of Storage Account SAS tokens for the specified Azure Storage account container.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SasTokenInformationListResult'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Gets the SAS token:
          $ref: ./examples/StorageAccounts_ListSasTokens.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.Storage/checkNameAvailability:
    post:
      tags:
      - StorageAccounts
      operationId: microsoftAzureStorageaccountsChecknameavailability
      description: Checks that the storage account name is valid and is not already in use.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      responses:
        '200':
          description: OK -- Operation to check the storage account name availability was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityResult'
            text/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityResult'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft Storage…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorageAccountCheckNameAvailabilityParameters'
        description: The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
        required: true
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}
  : put:
      tags:
      - StorageAccounts
      operationId: microsoftAzureStorageaccountsCreate
      description: Asynchronously creates a new storage account with the specified parameters. If an account is already created and a subsequent create request is issued with different properties, the account properties will be updated. If an account is already created and a subsequent create or update request is issued with the exact same set of properties, the request will succeed.
      parameters:
      - $ref: '#/components/parameters/ResourceGroupName'
      - name: accountName
        in: path
        required: true
        description: The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
        schema:
          type: string
          maxLength: 24
          minLength: 3
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      responses:
        '200':
          description: OK -- returned when the storage account was already created from a previous request with the same properties specified in the request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageAccount_2'
            text/json:
              schema:
                $ref: '#/components/schemas/StorageAccount_2'
        '202':
          description: Accepted -- Create or update request accepted; operation will complete asynchronously.
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorageAccountCreateParameters'
        description: The parameters to provide for the created account.
        required: true
    delete:
      tags:
      - StorageAccounts
      operationId: microsoftAzureStorageaccountsDelete
      description: Deletes a storage account in Microsoft Azure.
      parameters:
      - $ref: '#/components/parameters/ResourceGroupName'
      - name: accountName
        in: path
        required: true
        description: The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
        schema:
          type: string
          maxLength: 24
          minLength: 3
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      responses:
        '200':
          description: OK -- storage account deleted successfully.
        '204':
          description: NoContent -- account does not exist in the subscription.
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    get:
      tags:
      - StorageAccounts
      operationId: microsoftAzureStorageaccountsGetproperties
      description: Returns the properties for the specified storage account including but not limited to name, SKU name, location, and account status. The ListKeys operation should be used to retrieve storage keys.
      parameters:
      - $ref: '#/components/parameters/ResourceGroupName'
      - name: accountName
        in: path
        required: true
        description: 'The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.  '
        schema:
          type: string
          maxLength: 24
          minLength: 3
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      responses:
        '200':
          description: OK -- properties retrieved successfully for the storage account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageAccount_2'
            text/json:
              schema:
                $ref: '#/components/schemas/StorageAccount_2'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    patch:
      tags:
      - StorageAccounts
      operationId: microsoftAzureStorageaccountsUpdate
      description: The update operation can be used to update the SKU, encryption, access tier, or tags for a storage account. It can also be used to map the account to a custom domain. Only one custom domain is supported per storage account; the replacement/change of custom domain is not supported. In order to replace an old custom domain, the old value must be cleared/unregistered before a new value can be set. The update of multiple properties is supported. This call does not change the storage keys for the account. If you want to change the storage account keys, use the regenerate keys operation. The location and name of the storage account cannot be changed after creation.
      parameters:
      - $ref: '#/components/parameters/ResourceGroupName'
      - name: accountName
        in: path
        required: true
        description: The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
        schema:
          type: string
          maxLength: 24
          minLength: 3
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      responses:
        '200':
          description: OK -- storage account properties updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageAccount_2'
            text/json:
              schema:
                $ref: '#/components/schemas/StorageAccount_2'
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorageAccountUpdateParameters'
        description: The parameters to provide for the updated account.
        required: true
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.Storage/storageAccounts:
    get:
      tags:
      - StorageAccounts
      operationId: microsoftAzureStorageaccountsList
      description: Lists all the storage accounts available under the subscription. Note that storage keys are not returned; use the ListKeys operation for this.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      responses:
        '200':
          description: OK -- List of storage accounts was retrieved and returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageAccountListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/StorageAccountListResult'
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Storage…
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts:
    get:
      tags:
      - StorageAccounts
      operationId: microsoftAzureStorageaccountsListbyresourcegroup
      description: Lists all the storage accounts available under the given resource group. Note that storage keys are not returned; use the ListKeys operation for this.
      parameters:
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      responses:
        '200':
          description: OK -- List of storage accounts in the given resource group retrieved and returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageAccountListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/StorageAccountListResult'
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/listKeys
  : post:
      tags:
      - StorageAccounts
      operationId: microsoftAzureStorageaccountsListkeys
      description: Lists the access keys for the specified storage account.
      parameters:
      - $ref: '#/components/parameters/ResourceGroupName'
      - name: accountName
        in: path
        required: true
        description: The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
        schema:
          type: string
          maxLength: 24
          minLength: 3
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      responses:
        '200':
          description: OK -- list of keys retrieved and returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageAccountListKeysResult'
            text/json:
              schema:
                $ref: '#/components/schemas/StorageAccountListKeysResult'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/regenerateKey
  : post:
      tags:
      - StorageAccounts
      operationId: microsoftAzureStorageaccountsRegeneratekey
      description: Regenerates one of the access keys for the specified storage account.
      parameters:
      - $ref: '#/components/parameters/ResourceGroupName'
      - name: accountName
        in: path
        required: true
        description: The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
        schema:
          type: string
          maxLength: 24
          minLength: 3
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      responses:
        '200':
          description: OK -- specified key regenerated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageAccountListKeysResult'
            text/json:
              schema:
                $ref: '#/components/schemas/StorageAccountListKeysResult'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorageAccountRegenerateKeyParameters'
        description: Specifies name of the key which should be regenerated -- key1 or key2.
        required: true
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/ListAccountSas
  : post:
      tags:
      - StorageAccounts
      operationId: microsoftAzureStorageaccountsListaccountsas
      description: List SAS credentials of a storage account.
      parameters:
      - $ref: '#/components/parameters/ResourceGroupName'
      - name: accountName
        in: path
        required: true
        description: 'The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.  '
        schema:
          type: string
          maxLength: 24
          minLength: 3
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      responses:
        '200':
          description: OK -- returned the account SAS created for the storage account requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccountSasResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ListAccountSasResponse'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountSasParameters'
        description: The parameters to provide to list SAS credentials for the storage account.
        required: true
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/ListServiceSas
  : post:
      tags:
      - StorageAccounts
      operationId: microsoftAzureStorageaccountsListservicesas
      description: List service SAS credentials of a specific resource.
      parameters:
      - $ref: '#/components/parameters/ResourceGroupName'
      - name: accountName
        in: path
        required: true
        description: The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
        schema:
          type: string
          maxLength: 24
          minLength: 3
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      responses:
        '200':
          description: OK -- returned the service SAS created for the storage service requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListServiceSasResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ListServiceSasResponse'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceSasParameters'
        description: The parameters to provide to list service SAS credentials.
        required: true
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.Storage.Admin/locations/{location}/storageAccounts:
    get:
      x-ms-examples:
        Returns a list of storage accounts.:
          $ref: ./examples/StorageAccounts/List.json
      tags:
      - StorageAccounts
      operationId: microsoftAzureStorageaccountsList
      description: Returns a list of storage accounts.
      parameters:
      - $ref: storage.json#/parameters/SubscriptionIdParameter
      - $ref: storage.json#/parameters/LocationParameter
      - $ref: storage.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/FilterParameter'
      - $ref: '#/components/parameters/SummaryParameter'
      responses:
        '200':
          description: OK -- The list of storage accounts has been returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageAccountList_2'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: storage.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Storage…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.Storage.Admin/locations/{location}/storageAccounts/{accountId}:
    get:
      x-ms-examples:
        Returns the requested storage account.:
          $ref: ./examples/StorageAccounts/Get.json
      tags:
      - StorageAccounts
      operationId: microsoftAzureStorageaccountsGet
      description: Returns the requested storage account.
      parameters:
      - $ref: storage.json#/parameters/SubscriptionIdParameter
      - $ref: storage.json#/parameters/LocationParameter
      - $ref: '#/components/parameters/AccountIdParameter'
      - $ref: storage.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK -- The storage account has been returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageAccount_3'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: storage.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Storage…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Storage.Admin/locations/{location}/storageAccounts/{accountId}/undelete
  : post:
      x-ms-examples:
        Undelete a deleted storage account.:
          $ref: ./examples/StorageAccounts/Undelete.json
      tags:
      - StorageAccounts
      operationId: microsoftAzureStorageaccountsUndelete
      description: Undelete a deleted storage account with new account name if the a new name is provided.
      parameters:
      - $ref: storage.json#/parameters/SubscriptionIdParameter
      - $ref: storage.json#/parameters/LocationParameter
      - $ref: '#/components/parameters/AccountIdParameter'
      - $ref: storage.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/NewAccountNameParameter'
      responses:
        '200':
          description: OK -- Undelete either has been performed or account was not deleted.
        '202':
          description: Accepted -- undelete operation trigged; operation will complete asynchronously.
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: storage.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft Storage…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.Storage.Admin/locations/{location}/reclaimStorageCapacity:
    post:
      x-ms-examples:
        Start reclaim storage capacity on deleted storage objects.:
          $ref: ./examples/StorageAccounts/ReclaimStorageCapacity.json
      tags:
      - StorageAccounts
      operationId: microsoftAzureStorageaccountsReclaimstoragecapacity
      description: Start reclaim storage capacity on deleted storage objects.
      parameters:
      - $ref: storage.json#/parameters/SubscriptionIdParameter
      - $ref: storage.json#/parameters/LocationParameter
      - $ref: storage.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK -- Reclaim storage capacity has completed.
        '202':
          description: Accepted -- reclaim storage capacity operation triggered; operation will complete asynchronously.
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: storage.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft Storage…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
components:
  schemas:
    CloudError:
      description: An error response from the service.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: The error details.
      x-ms-external: true
    ARMBaseModel:
      description: Represents the base class for all object models.
      type: object
      properties:
        id:
          description: The path ID that uniquely identifies the object.
          type: string
          readOnly: true
        name:
          description: The object name.
          type: string
          readOnly: true
        type:
          description: The hierarchical type of the object.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    StorageAccountList:
      description: Collection of all the Storage Accounts on the Data Box Edge/Gateway device.
      type: object
      properties:
        value:
          description: The list of storageAccounts.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/StorageAccount'
          readOnly: true
          x-ms-identifiers: []
        nextLink:
          description: Link to the next set of results.
          type: string
          readOnly: true
    CloudErrorBody:
      description: An error response from the service.
      type: object
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
          type: string
        message:
          description: A message describing the error, intended to be suitable for display in a user interface.
          type: string
        details:
          description: A list of additional details about the error.
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          x-ms-identifiers: []
      x-ms-external: true
    StorageAccount:
      description: Represents a Storage Account on the  Data Box Edge/Gateway device.
      required:
      - properties
      type: object
      allOf:
      - $ref: '#/components/schemas/ARMBaseModel'
      properties:
        properties:
          $ref: '#/components/schemas/StorageAccountProperties'
          description: The Storage Account properties.
          x-ms-client-flatten: true
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: Metadata pertaining to creation and last modification of StorageAccount
          readOnly: true
    StorageAccountProperties:
      description: The storage account properties.
      required:
      - dataPolicy
      type: object
      properties:
        description:
          description: Description for the storage Account.
          type: string
        storageAccountStatus:
          description: Current status of the storage account
          enum:
          - OK
          - Offline
          - Unknown
          - Updating
          - NeedsAttention
          type: string
          x-ms-enum:
            name: StorageAccountStatus
            modelAsString: true
        dataPolicy:
          description: Data policy of the storage Account.
          enum:
          - Cloud
          - Local
          type: string
          x-ms-enum:
            name: DataPolicy
            modelAsString: true
        storageAccountCredentialId:
          description: Storage Account Credential Id
          type: string
        blobEndpoint:
          description: BlobEndpoint of Storage Account
          type: string
          readOnly: true
        containerCount:
          format: int32
          description: The Container Count. Present only for Storage Accounts with DataPolicy set to Cloud.
          type: integer
          readOnly: true
    UpdateStorageAccountParameters:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/UpdateStorageAccountProperties'
          description: The Azure Storage account properties to use when updating an Azure Storage account.
      description: The parameters used to update an Azure Storage account.
    StorageContainer:
      allOf:
      - $ref: '#/components/schemas/SubResource'
      properties:
        properties:
          readOnly: true
          x-ms-client-flatten: true
          $ref: '#/components/schemas/StorageContainerProperties'
          description: The properties of the blob container.
      description: Azure Storage blob container information.
    StorageContainerProperties:
      properties:
        lastModifiedTime:
          readOnly: true
          type: string
          format: date-time
          description: The last modified time of the blob container.
      description: Azure Storage blob container properties information.
    UpdateStorageAccountProperties:
      properties:
        accessKey:
          type: string
          description: The updated access key associated with this Azure Storage account that will be used to connect to it.
        suffix:
          type: string
          description: The optional suffix for the storage account.
      description: The Azure Storage account properties to use when updating an Azure Storage account.
    AddStorageAccountProperties:
      required:
      - accessKey
      properties:
        accessKey:
          type: string
          description: The access key associated with this Azure Storage account that will be used to connect to it.
        suffix:
          type: string
          default: azuredatalakestore.net
          description: The optional suffix for the storage account.
      description: The Azure Storage account properties to use when adding a new Azure Storage account.
    StorageContainerListResult:
      properties:
        value:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/StorageContainer'
          description: The results of the list operation.
        nextLink:
          readOnly: true
          type: string
          description: The link (url) to the next page of results.
      description: The list of blob containers associated with the storage account attached to the Data Lake Analytics account.
    StorageAccountInformation:
      allOf:
      - $ref: '#/components/schemas/SubResource'
      properties:
        properties:
          readOnly: true
          x-ms-client-flatten: true
          $ref: '#/components/schemas/StorageAccountInformationProperties'
          description: The Azure Storage account properties.
      description: Azure Storage account information.
    StorageAccountInformationProperties:
      properties:
        suffix:
          readOnly: true
          type: string
          description: The optional suffix for the storage account.
      description: The Azure Storage account properties.
    SasTokenInformation:
      properties:
        accessToken:
          readOnly: true
          type: string
          description: The access token for the associated Azure Storage Container.
      description: SAS token information.
    AddStorageAccountParameters:
      required:
      - properties
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/AddStorageAccountProperties'
          description: The Azure Storage account properties to use when adding a new Azure Storage account.
      description: The parameters used to add a new Azure Storage account.
    SasTokenInformationListResult:
      properties:
        value:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/SasTokenInformation'
          description: The results of the list operation.
          x-ms-identifiers:
          - accessToken
        nextLink:
          readOnly: true
          type: string
          description: The link (url) to the next page of results.
      description: The SAS response that contains the storage account, container and associated SAS token for connection use.
    SubResource:
      properties:
        id:
          readOnly: true
          type: string
          description: The resource identifier.
        name:
          readOnly: true
          type: string
          description: The resource name.
        type:
          readOnly: true
          type: string
          description: The resource type.
      x-ms-azure-resource: true
      description: The resource model definition for a nested resource.
    StorageAccountInformationListResult:
      properties:
        value:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/StorageAccountInformation'
          description: The results of the list operation.
        nextLink:
          readOnly: true
          type: string
          description: The link (url) to the next page of results.
      description: Azure Storage account list information.
    Encryption:
      properties:
        services:
          $ref: '#/components/schemas/EncryptionServices'
          description: List of services which support encryption.
        keySource:
          type: string
          description: 'The encryption keySource (provider). Possible values (case-insensitive):  Microsoft.Storage'
          enum:
          - Microsoft.Storage
      required:
      - keySource
      description: The encryption settings on the storage account.
    StorageAccountPropertiesUpdateParameters:
      properties:
        customDomain:
          $ref: '#/components/schemas/CustomDomain'
          description: Custom domain assigned to the storage account by the user. Name is the CNAME source. Only one custom domain is supported per storage account at this time. To clear the existing custom domain, use an empty string for the custom domain name property.
        encryption:
          $ref: '#/components/schemas/Encryption'
          description: Provides the encryption settings on the account. The default setting is unencrypted.
        accessTier:
          type: string
          description: Required for storage accounts where kind = BlobStorage. The access tier used for billing.
          enum:
          - Hot
          - Cool
          x-ms-enum:
            name: AccessTier
            modelAsString: false
        supportsHttpsTrafficOnly:
          type: boolean
          default: false
          x-ms-client-name: EnableHttpsTrafficOnly
          description: Allows https traffic only to storage service if sets to true.
      description: The parameters used when updating a storage account.
    StorageAccountListKeysResult:
      properties:
        keys:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/StorageAccountKey'
          description: Gets the list of storage account keys and their properties for the specified storage account.
      description: The response from the ListKeys operation.
    StorageAccountKey:
      properties:
        keyName:
          readOnly: true
          type: string
          description: Name of the key.
        value:
          readOnly: true
          type: string
          description: Base 64-encoded value of the key.
        permissions:
          readOnly: true
          type: string
          description: Permissions for the key -- read-only or full permissions.
          enum:
          - Read
          - Full
          x-ms-enum:
            name: KeyPermission
            modelAsString: false
      description: An access key for the storage account.
    EncryptionServices:
      properties:
        blob:
          $ref: '#/components/schemas/EncryptionService'
          description: The encryption function of the blob storage service.
        file:
          $ref: '#/components/schemas/EncryptionService'
          description: The encryption function of the file storage service.
        table:
          $ref: '#/components/schemas/EncryptionService'
          readOnly: true
          description: The encryption function of the table storage service.
        queue:
          $ref: '#/components/schemas/EncryptionService'
          readOnly: true
          description: The encryption function of the queue storage service.
      description: A list of services that support encryption.
    CustomDomain:
      properties:
        name:
          type: string
          description: Gets or sets the custom domain name assigned to the storage account. Name is the CNAME source.
        useSubDomainName:
          type: boolean
          description: Indicates whether indirect CName validation is enabled. Default value is false. This should only be set on updates.
      required:
      - name
      description: The custom domain assigned to this storage account. This can be set via Update.
    StorageAccountCheckNameAvailabilityParameters:
      properties:
        name:
          type: string
        type:
          type: string
          enum:
          - Microsoft.Storage/storageAccounts
      required:
      - name
      - type
      description: The parameters used to check the availability of the storage account name.
    StorageAccountRegenerateKeyParameters:
      properties:
        keyName:
          type: string
      required:
      - keyName
      description: The parameters used to regenerate the storage account key.
    StorageAccountListResult:
      properties:
        value:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/StorageAccount_2'
          description: Gets the list of storage accounts and their properties.
      description: The response from the List Storage Accounts operation.
    ListAccountSasResponse:
      properties:
        accountSasToken:
          readOnly: true
          type: string
          description: List SAS credentials of storage account.
      description: The List SAS credentials operation response.
    StorageAccountCreateParameters:
      properties:
        sku:
          $ref: '#/components/schemas/Sku'
          description: Required. Gets or sets the sku name.
        kind:
          type: string
          description: Required. Indicates the type of storage account.
          enum:
          - Storage
          - BlobStorage
          x-ms-enum:
            name: Kind
            modelAsString: false
        location:
          type: string
          description: Required. Gets or sets the location of the resource. This will be one of the supported and registered Azure Geo Regions (e.g. West US, East US, Southeast Asia, etc.). The geo region of a resource cannot be changed once it is created, but if an identical geo region is specified on update, the request will succeed.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Gets or sets a list of key value pairs that describe the resource. These tags can be used for viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key with a length no greater than 128 characters and a value with a length no greater than 256 characters.
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/StorageAccountPropertiesCreateParameters'
      required:
      - sku
      - kind
      - location
      description: The parameters used when creating a storage account.
    CheckNameAvailabilityResult:
      properties:
        nameAvailable:
          readOnly: true
          type: boolean
          description: Gets a boolean value that indicates whether the name is available for you to use. If true, the name is available. If false, the name has already been taken or is invalid and cannot be used.
        reason:
          readOnly: true
          type: string
          description: Gets the reason that a storage account name could not be used. The Reason element is only returned if NameAvailable is false.
          enum:
          - AccountNameInvalid
          - AlreadyExists
          x-ms-enum:
            name: Reason
            modelAsString: false
        message:
          readOnly: true
          type: string
          description: Gets an error message explaining the Reason value in more detail.
      description: The CheckNameAvailability operation response.
    EncryptionService:
      properties:
        enabled:
          type: boolean
          description: A boolean indicating whether or not the service encrypts the data as it is stored.
        lastEnabledTime:
          readOnly: true
          type: string
          format: date-time
          description: Gets a rough estimate of the date/time when the encryption was last enabled by the user. Only returned when encryption is enabled. There might be some unencrypted blobs which were written after this time, as it is just a rough estimate.
      description: A service that allows server-side encryption to be used.
    StorageAccountPropertiesCreateParameters:
      properties:
        customDomain:
          $ref: '#/components/schemas/CustomDomain'
          description: User domain assigned to the storage account. Name is the CNAME source. Only one custom domain is supported per storage account at this time. To clear the existing custom domain, use an empty string for the custom domain name property.
        encryption:
          $ref: '#/components/schemas/Encryption'
          description: Provides the encryption settings on the account. If left unspecified the account encryption settings will remain the same. The default setting is unencrypted.
        accessTier:
          type: string
          description: Required for storage accounts where kind = BlobStorage. The access tier used for billing.
          enum:
          - Hot
          - Cool
          x-ms-enum:
            name: AccessTier
            modelAsString: false
        supportsHttpsTrafficOnly:
          type: boolean
          default: false
          x-ms-client-name: EnableHttpsTrafficOnly
          description: Allows https traffic only to storage service if sets to true.
      description: The parameters used to create the storage account.
    Resource:
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        location:
          type: string
          description: Resource location
        tags:
          type: object
          additionalProperties:
            type: string
          description: Tags assigned to a resource; can be used for viewing and grouping a resource (across resource groups).
      x-ms-azure-resource: true
      description: Describes a storage resource.
    ListServiceSasResponse:
      properties:
        serviceSasToken:
          readOnly: true
          type: string
          description: List service SAS credentials of specific resource.
      description: The List service SAS credentials operation response.
    Endpoints:
      properties:
        blob:
          readOnly: true
          type: string
          description: Gets the blob endpoint.
        queue:
          readOnly: true
          type: string
          description: Gets the queue endpoint.
        table:
          readOnly: true
          type: string
          description: Gets the table endpoint.
        file:
          readOnly: true
          type: string
          description: Gets the file endpoint.
      description: The URIs that are used to perform a retrieval of a public blob, queue, or table object.
    StorageAccount_2:
      properties:
        sku:
          $ref: '#/components/schemas/Sku'
          readOnly: true
          description: Gets the SKU.
        kind:
          readOnly: true
          type: string
          description: Gets the Kind.
          enum:
          - Storage
          - BlobStorage
          x-ms-enum:
            name: Kind
            modelAsString: false
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/StorageAccountProperties_2'
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: The storage account.
    StorageAccountUpdateParameters:
      properties:
        sku:
          $ref: '#/components/schemas/Sku'
          description: Gets or sets the SKU name. Note that the SKU name cannot be updated to Standard_ZRS or Premium_LRS, nor can accounts of those sku names be updated to any other value.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater in length than 128 characters and a value no greater in length than 256 characters.
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/StorageAccountPropertiesUpdateParameters'
      description: The parameters that can be provided when updating the storage account properties.
    ServiceSasParameters:
      properties:
        canonicalizedResource:
          type: string
          description: The canonical path to the signed resource.
        signedResource:
          type: string
          enum:
          - b
          - c
          - f
          - s
          x-ms-enum:
            name: signedResource
            modelAsString: true
          x-ms-client-name: Resource
          description: 'The signed services accessible with the service SAS. Possible values include: Blob (b), Container (c), File (f), Share (s).'
        signedPermission:
          type: string
          enum:
          - r
          - d
          - w
          - l
          - a
          - c
          - u
          - p
          x-ms-enum:
            name: Permissions
            modelAsString: true
          x-ms-client-name: Permissions
          description: 'The signed permissions for the service SAS. Possible values include: Read (r), Write (w), Delete (d), List (l), Add (a), Create (c), Update (u) and Process (p).'
        signedIp:
          type: string
          x-ms-client-name: IPAddressOrRange
          description: An IP address or a range of IP addresses from which to accept requests.
        signedProtocol:
          type: string
          enum:
          - https,http
          - https
          x-ms-enum:
            name: HttpProtocol
            modelAsString: false
          x-ms-client-name: Protocols
          description: The protocol permitted for a request made with the account SAS.
        signedStart:
          type: string
          format: date-time
          x-ms-client-name: SharedAccessStartTime
          description: The time at which the SAS becomes valid.
        signedExpiry:
          type: string
          format: date-time
          x-ms-client-name: SharedAccessExpiryTime
          description: The time at which the shared access signature becomes invalid.
        signedIdentifier:
          type: string
          maxLength: 64
          x-ms-client-name: Identifier
          description: A unique value up to 64 characters in length that correlates to an access policy specified for the container, queue, or table.
        startPk:
          type: string
          x-ms-client-name: PartitionKeyStart
          description: The start of partition key.
        endPk:
          type: string
          x-ms-client-name: PartitionKeyEnd
          description: The end of partition key.
        startRk:
          type: string
          x-ms-client-name: RowKeyStart
          description: The start of row key.
        endRk:
          type: string
          x-ms-client-name: RowKeyEnd
          description: The end of row key.
        keyToSign:
          type: string
          description: The key to sign the account SAS token with.
        rscc:
          type: string
          x-ms-client-name: CacheControl
          description: The response header override for cache control.
        rscd:
          type: string
          x-ms-client-name: ContentDisposition
          description: The response header override for content disposition.
        rsce:
          type: string
          x-ms-client-name: ContentEncoding
          description: The response header override for content encoding.
        rscl:
          type: string
          x-ms-client-name: ContentLanguage
          description: The response header override for content language.
        rsct:
          type: string
          x-ms-client-name: ContentType
          description: The response header override for content type.
      required:
      - canonicalizedResource
      - signedResource
      description: The parameters to list service SAS credentials of a specific resource.
    AccountSasParameters:
      properties:
        signedServices:
          type: string
          enum:
          - b
          - q
          - t
          - f
          x-ms-client-name: Services
          description: 'The signed services accessible with the account SAS. Possible values include: Blob (b), Queue (q), Table (t), File (f).'
        signedResourceTypes:
          type: string
          enum:
          - s
          - c
          - o
          x-ms-client-name: ResourceTypes
          description: 'The signed resource types that are accessible with the account SAS. Service (s): Access to service-level APIs; Container (c): Access to container-level APIs; Object (o): Access to object-level APIs for blobs, queue messages, table entities, and files.'
        signedPermission:
          type: string
          enum:
          - r
          - d
          - w
          - l
          - a
          - c
          - u
          - p
          x-ms-client-name: Permissions
          description: 'The signed permissions for the account SAS. Possible values include: Read (r), Write (w), Delete (d), List (l), Add (a), Create (c), Update (u) and Process (p).'
        signedIp:
          type: string
          x-ms-client-name: IPAddressOrRange
          description: An IP address or a range of IP addresses from which to accept requests.
        signedProtocol:
          type: string
          enum:
          - https,http
          - https
          x-ms-enum:
            name: HttpProtocol
            modelAsString: false
          x-ms-client-name: Protocols
          description: The protocol permitted for a request made with the account SAS.
        signedStart:
          type: string
          format: date-time
          x-ms-client-name: SharedAccessStartTime
          description: The time at which the SAS becomes valid.
        signedExpiry:
          type: string
          format: date-time
          x-ms-client-name: SharedAccessExpiryTime
          description: The time at which the shared access signature becomes invalid.
        keyToSign:
          type: string
          description: The key to sign the account SAS token with.
      required:
      - signedServices
      - signedResourceTypes
      - signedPermission
      - signedExpiry
      description: The parameters to list SAS credentials of a storage account.
    StorageAccountProperties_2:
      properties:
        provisioningState:
          readOnly: true
          type: string
          description: Gets the status of the storage account at the time the operation was called.
          enum:
          - Creating
          - ResolvingDNS
          - Succeeded
          x-ms-enum:
            name: ProvisioningState
            modelAsString: false
        primaryEndpoints:
          $ref: '#/components/schemas/Endpoints'
          readOnly: true
          description: Gets the URLs that are used to perform a retrieval of a public blob, queue, or table object. Note that Standard_ZRS and Premium_LRS accounts only return the blob endpoint.
        primaryLocation:
          readOnly: true
          type: string
          description: Gets the location of the primary data center for the storage account.
        statusOfPrimary:
          readOnly: true
          type: string
          description: Gets the status indicating whether the primary location of the storage account is available or unavailable.
          enum:
          - available
          - unavailable
          x-ms-enum:
            name: AccountStatus
            modelAsString: false
        lastGeoFailoverTime:
          readOnly: true
          type: string
          format: date-time
          description: Gets the timestamp of the most recent instance of a failover to the secondary location. Only the most recent timestamp is retained. This element is not returned if there has never been a failover instance. Only available if the accountType is Standard_GRS or Standard_RAGRS.
        secondaryLocation:
          readOnly: true
          type: string
          description: Gets the location of the geo-replicated secondary for the storage account. Only available if the accountType is Standard_GRS or Standard_RAGRS.
        statusOfSecondary:
          readOnly: true
          type: string
          description: Gets the status indicating whether the secondary location of the storage account is available or unavailable. Only available if the SKU name is Standard_GRS or Standard_RAGRS.
          enum:
          - available
          - unavailable
          x-ms-enum:
            name: AccountStatus
            modelAsString: false
        creationTime:
          readOnly: true
          type: string
          format: date-time
          description: Gets the creation date and time of the storage account in UTC.
        customDomain:
          $ref: '#/components/schemas/CustomDomain'
          readOnly: true
          description: Gets the custom domain the user assigned to this storage account.
        secondaryEndpoints:
          $ref: '#/components/schemas/Endpoints'
          readOnly: true
          description: Gets the URLs that are used to perform a retrieval of a public blob, queue, or table object from the secondary location of the storage account. Only available if the SKU name is Standard_RAGRS.
        encryption:
          $ref: '#/components/schemas/Encryption'
          readOnly: true
          description: Gets the encryption settings on the account. If unspecified, the account is unencrypted.
        accessTier:
          readOnly: true
          type: string
          description: Required for storage accounts where kind = BlobStorage. The access tier used for billing.
          enum:
          - Hot
          - Cool
          x-ms-enum:
            name: AccessTier
            modelAsString: false
        supportsHttpsTrafficOnly:
          type: boolean
          default: false
          x-ms-client-name: EnableHttpsTrafficOnly
          description: Allows https traffic only to storage service if sets to true.
      description: Properties of the storage account.
    Sku:
      properties:
        name:
          type: string
          description: Gets or sets the sku name. Required for account creation; optional for update. Note that in older versions, sku name was called accountType.
          enum:
          - Standard_LRS
          - Standard_GRS
          - Standard_RAGRS
          - Standard_ZRS
          - Premium_LRS
          x-ms-enum:
            name: SkuName
            modelAsString: false
        tier:
          readOnly: true
          type: string
          description: Gets the sku tier. This is based on the SKU name.
          enum:
          - Standard
          - Premium
          x-ms-enum:
            name: SkuTier
            modelAsString: false
      required:
      - name
      description: The SKU of the storage account.
    EncryptionKeySource:
      description: Encryption Key Source
      type: string
      enum:
      - Microsoft.Storage
      x-ms-enum:
        name: EncryptionKeySource
        modelAsString: true
    StorageAccountAccessTier:
      description: Access tier for storage account
      type: string
      enum:
      - Hot
      - Cool
      x-ms-enum:
        name: StorageAccountAccessTier
        modelAsString: true
    StorageAccountState:
      readOnly: true
      description: Storage account state.
      type: string
      enum:
      - Creating
      - Succeeded
      x-ms-enum:
        name: StorageAccountState
        modelAsString: true
    StorageAccountKind:
      description: The kind of storage account
      type: string
      enum:
      - Storage
      - StorageV2
      - BlobStorage
      x-ms-enum:
        name: StorageAccountKind
        modelAsString: true
    StorageEncryptionServices:
      description: Services for which encryption setting is mentioned.
      type: object
      properties:
        blob:
          description: Blob service.
          $ref: '#/components/schemas/StorageEncryptionSetting'
          readOnly: true
        table:
          description: Table service.
          $ref: '#/components/schemas/StorageEncryptionSetting'
          readOnly: true
        queue:
          description: Queue service
          $ref: '#/components/schemas/StorageEncryptionSetting'
          readOnly: true
    StorageAccountType:
      description: Storage account type.
      type: string
      enum:
      - Standard_LRS
      - Standard_GRS
      - Standard_ZRS
      - Standard_RAGRS
      - Premium_LRS
      x-ms-enum:
        name: StorageAccountType
        modelAsString: true
    StorageAccountStatus:
      description: The state of storage account in WAC.
      type: string
      enum:
      - Active
      - Deleted
      x-ms-enum:
        name: StorageAccountStatus
        modelAsString: true
    StorageAccountList_2:
      description: Pageable list of storage accounts.
      type: object
      properties:
        value:
          description: List of storage accounts.
          type: array
          items:
            $ref: '#/components/schemas/StorageAccount_3'
          readOnly: true
        '@odata.nextLink':
          description: URI to the next page.
          type: string
          readOnly: true
    StorageEncryptionSetting:
      description: Storage Encryption setting
      type: object
      properties:
        enabled:
          description: Bool to indicate whether enabled or not.
          type: boolean
          readOnly: true
        lastEnabledTime:
          description: A rough estimate of the date/time when the encryption was last enabled by the user.
          type: string
          readOnly: true
    StorageAccountHealthState:
      description: Health state for storage account
      type: string
      enum:
      - Healthy
      - Suspended
      - OverQuota
      - SuspendedAndOverQuota
      x-ms-enum:
        name: StorageAccountHealthState
        modelAsString: true
    LocationStatus:
      readOnly: true
      type: string
      description: Gets the status indicating whether the primary location of the storage account is available or unavailable.
      enum:
      - Available
      - Unavailable
      x-ms-enum:
        name: LocationStatus
        modelAsString: true
    StorageAccount_3:
      description: Properties of the storage account.
      type: object
      properties:
        properties:
          description: Properties of the storage account.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/StorageAccountProperties_3'
          readOnly: true
        kind:
          description: Indicates the type of storage account
          $ref: '#/components/schemas/StorageAccountKind'
          readOnly: true
        tags:
          description: Resource tags.
          type: object
          additionalProperties:
            type: string
          readOnly: true
      allOf:
      - $ref: storage.json#/definitions/Resource
    StorageEncryption:
      description: Storage encryption setting
      type: object
      properties:
        services:
          description: Services for which encryption setting is mentioned
          $ref: '#/components/schemas/StorageEncryptionServices'
          readOnly: true
        keySource:
          description: Encryption keySource
          $ref: '#/components/schemas/EncryptionKeySource'
          readOnly: true
    StorageAccountProperties_3:
      description: Properties of a storage account.
      type: object
      properties:
        tenantViewId:
          description: Resource URI of storage account from tenant view.
          type: string
          readOnly: true
        accountType:
          description: Storage account type.
          $ref: '#/components/schemas/StorageAccountType'
          readOnly: true
        provisioningState:
          description: The provisioning state of storage account.
          $ref: '#/components/schemas/StorageAccountState'
          readOnly: true
        primaryEndpoints:
          description: The URLs that are used to perform a retrieval of a public BLOB, queue, or table object.
          type: object
          additionalProperties:
            type: string
          readOnly: true
        creationTime:
          description: The creation date and time of storage account in UTC.
          type: string
          readOnly: true
        primaryLocation:
          description: The primary location for the storage account.
          type: string
          readOnly: true
        faultDomain:
          description: The fault domain for the storage account.
          type: string
          readOnly: true
        statusOfPrimary:
          description: The status of primary location of storage account.
          $ref: '#/components/schemas/LocationStatus'
          readOnly: true
        tenantSubscriptionId:
          description: Subscription ID of the subscription under which the storage account locates.
          type: string
          readOnly: true
        tenantStorageAccountName:
          description: Storage account name from tenant view.
          type: string
          readOnly: true
        tenantResourceGroupName:
          description: The name of resource group under which the storage account locates.
          type: string
          readOnly: true
        deletedTime:
          description: The date-time when the storage account was deleted.
          type: string
          format: date-time
          readOnly: true
        accountStatus:
          $ref: '#/components/schemas/StorageAccountStatus'
          description: The status of storage account.
        accountId:
          description: Internal storage account ID, which is not visible to tenant.
          type: string
          readOnly: true
        encryption:
          description: The storage encryption setting
          $ref: '#/components/schemas/StorageEncryption'
          readOnly: true
        supportsHttpsTrafficOnly:
          description: Storage account supports https traffic only or not
          type: boolean
          readOnly: true
        accessTier:
          description: Required for storage accounts where kind = BlobStorage.
          $ref: '#/components/schemas/StorageAccountAccessTier'
          readOnly: true
        healthState:
          description: The internal health state for storage account.
          $ref: '#/components/schemas/StorageAccountHealthState'
          readOnly: true
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID.
      required: true
      schema:
        type: string
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The resource group name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      description: The API version.
      required: true
      schema:
        type: string
    AccountNameParameter:
      name: accountName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The name of the Data Lake Analytics account.
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The name of the Azure resource group.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Get subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
    ResourceGroupName:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group within the user's subscription. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
        pattern: ^[-\w\._\(\)]+$
    SubscriptionIdParameter_2:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
    AccountIdParameter:
      description: Internal storage account ID, which is not visible to tenant.
      name: accountId
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SummaryParameter:
      description: Switch for whether summary or detailed information is returned.
      name: summary
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: boolean
        default: false
    NewAccountNameParameter:
      description: New storage account name when doing undelete storage account operation.
      name: newAccountName
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    FilterParameter:
      description: Filter string
      name: $filter
      in: query
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- databoxedgemanagementclient-openapi-original.yml
- datalakeanalyticsaccountmanagementclient-openapi-original.yml
- storagemanagement-openapi-original.yml
- storagemanagementclient-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
