openapi: 3.2.0
info:
  title: Microsoft Azure ACE Provisioning ManagementPartner Partners…
  description: This API describe ACE Provisioning ManagementPartner
  version: '2018-02-01'
servers:
- url: https://management.azure.com
tags:
- name: Partners
paths:
  /providers/Microsoft.ManagementPartner/partners:
    get:
      summary: Microsoft Azure Get A Specific `partner`
      description: Get the management partner using the objectId and tenantId.
      operationId: microsoftAzurePartnersGet
      x-ms-examples:
        GetPartnerDetails:
          $ref: ./examples/GetPartnerDetailsNoPartnerId.json
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      tags:
      - Partners
      responses:
        '200':
          description: Get the details of the `Partner`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    ErrorResponseCode:
      type: string
      description: this is the error response code that management partner operations may return
    ManagementPartnerState:
      type: string
      description: 'this is the management partner state: Active or Deleted'
      enum:
      - Active
      - Deleted
      x-ms-enum:
        name: ManagementPartnerState
        modelAsString: true
    PartnerResponse:
      type: object
      description: this is the management partner operations response
      x-ms-azure-resource: true
      properties:
        etag:
          type: integer
          description: Type of the partner
        id:
          type: string
          readOnly: true
          description: Identifier of the partner
        name:
          type: string
          readOnly: true
          description: Name of the partner
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/PartnerProperties'
          description: Properties of the partner
        type:
          type: string
          readOnly: true
          description: Type of resource. "Microsoft.ManagementPartner/partners"
    Error:
      type: object
      description: this is the management partner operations error
      properties:
        error:
          $ref: '#/components/schemas/ExtendedErrorInfo'
          description: this is the ExtendedErrorInfo property
        code:
          $ref: '#/components/schemas/ErrorResponseCode'
          description: this is the error response code
        message:
          type: string
          description: this is the extended error info message
    ExtendedErrorInfo:
      type: object
      description: this is the extended error info
      properties:
        code:
          $ref: '#/components/schemas/ErrorResponseCode'
          description: this is the error response code
        message:
          type: string
          description: this is the extended error info message
    PartnerProperties:
      type: object
      description: this is the management partner properties
      properties:
        partnerId:
          type: string
          description: This is the partner id
        partnerName:
          type: string
          description: This is the partner name
        tenantId:
          type: string
          description: This is the tenant id.
        objectId:
          type: string
          description: This is the object id.
        version:
          type: integer
          format: int32
          description: This is the version.
        updatedTime:
          type: string
          format: date-time
          description: This is the DateTime when the partner was updated.
        createdTime:
          type: string
          format: date-time
          description: This is the DateTime when the partner was created.
        state:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ManagementPartnerState'
          description: This is the partner state
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: Supported version.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
