openapi: 3.2.0
info:
  title: Microsoft Azure Image Prediction API
  version: '1.0'
  description: 'Operations tagged ImagePredictionApi across 2 of this provider''s published API definitions: custom-vision-prediction-client-openapi-original.yml, predictionendpoint-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://southcentralus.api.cognitive.microsoft.com/customvision/v3.0/prediction
- url: https://southcentralus.api.cognitive.microsoft.com/customvision/v1.1/Prediction
tags:
- name: ImagePredictionApi
paths:
  /{projectId}/classify/iterations/{publishedName}/url:
    post:
      tags:
      - ImagePredictionApi
      summary: Microsoft Azure Classify An Image Url And Saves The Result
      operationId: microsoftAzureClassifyimageurl
      parameters:
      - name: projectId
        in: path
        description: The project id.
        required: true
        schema:
          type: string
          format: uuid
      - name: publishedName
        in: path
        description: Specifies the name of the model to evaluate against.
        required: true
        schema:
          type: string
      - name: application
        in: query
        description: Optional. Specifies the name of application using the endpoint.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagePrediction'
            application/xml:
              schema:
                $ref: '#/components/schemas/ImagePrediction'
            text/xml:
              schema:
                $ref: '#/components/schemas/ImagePrediction'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
            application/xml:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
            text/xml:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
      x-ms-examples:
        Successful ClassifyImageUrl request:
          $ref: ./examples/ClassifyImageUrl.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageUrl'
          application/xml:
            schema:
              $ref: '#/components/schemas/ImageUrl'
          text/xml:
            schema:
              $ref: '#/components/schemas/ImageUrl'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ImageUrl'
        description: An ImageUrl that contains the url of the image to be evaluated.
        required: true
      security:
      - apim_key: []
    servers:
    - url: https://southcentralus.api.cognitive.microsoft.com/customvision/v3.0/prediction
  /{projectId}/classify/iterations/{publishedName}/image:
    post:
      tags:
      - ImagePredictionApi
      summary: Microsoft Azure Classify An Image And Saves The Result
      operationId: microsoftAzureClassifyimage
      parameters:
      - name: projectId
        in: path
        description: The project id.
        required: true
        schema:
          type: string
          format: uuid
      - name: publishedName
        in: path
        description: Specifies the name of the model to evaluate against.
        required: true
        schema:
          type: string
      - name: application
        in: query
        description: Optional. Specifies the name of application using the endpoint.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagePrediction'
            application/xml:
              schema:
                $ref: '#/components/schemas/ImagePrediction'
            text/xml:
              schema:
                $ref: '#/components/schemas/ImagePrediction'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
            application/xml:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
            text/xml:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
      x-ms-examples:
        Successful ClassifyImage request:
          $ref: ./examples/ClassifyImage.json
      description: Needs a more full description created.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                imageData:
                  type: string
                  description: Binary image data. Supported formats are JPEG, GIF, PNG, and BMP. Supports images up to 4MB.
                  format: binary
              required:
              - imageData
          application/octet-stream:
            schema:
              type: object
              properties:
                imageData:
                  type: string
                  description: Binary image data. Supported formats are JPEG, GIF, PNG, and BMP. Supports images up to 4MB.
                  format: binary
              required:
              - imageData
      security:
      - apim_key: []
    servers:
    - url: https://southcentralus.api.cognitive.microsoft.com/customvision/v3.0/prediction
  /{projectId}/classify/iterations/{publishedName}/url/nostore:
    post:
      tags:
      - ImagePredictionApi
      summary: Microsoft Azure Classify An Image Url Without Saving The Result
      operationId: microsoftAzureClassifyimageurlwithnostore
      parameters:
      - name: projectId
        in: path
        description: The project id.
        required: true
        schema:
          type: string
          format: uuid
      - name: publishedName
        in: path
        description: Specifies the name of the model to evaluate against.
        required: true
        schema:
          type: string
      - name: application
        in: query
        description: Optional. Specifies the name of application using the endpoint.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagePrediction'
            application/xml:
              schema:
                $ref: '#/components/schemas/ImagePrediction'
            text/xml:
              schema:
                $ref: '#/components/schemas/ImagePrediction'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
            application/xml:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
            text/xml:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
      x-ms-examples:
        Successful ClassifyImageUrlWithNoStore request:
          $ref: ./examples/ClassifyImageUrlWithNoStore.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageUrl'
          application/xml:
            schema:
              $ref: '#/components/schemas/ImageUrl'
          text/xml:
            schema:
              $ref: '#/components/schemas/ImageUrl'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ImageUrl'
        description: An {Iris.Web.Api.Models.ImageUrl} that contains the url of the image to be evaluated.
        required: true
      security:
      - apim_key: []
    servers:
    - url: https://southcentralus.api.cognitive.microsoft.com/customvision/v3.0/prediction
  /{projectId}/classify/iterations/{publishedName}/image/nostore:
    post:
      tags:
      - ImagePredictionApi
      summary: Microsoft Azure Classify An Image Without Saving The Result
      operationId: microsoftAzureClassifyimagewithnostore
      parameters:
      - name: projectId
        in: path
        description: The project id.
        required: true
        schema:
          type: string
          format: uuid
      - name: publishedName
        in: path
        description: Specifies the name of the model to evaluate against.
        required: true
        schema:
          type: string
      - name: application
        in: query
        description: Optional. Specifies the name of application using the endpoint.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagePrediction'
            application/xml:
              schema:
                $ref: '#/components/schemas/ImagePrediction'
            text/xml:
              schema:
                $ref: '#/components/schemas/ImagePrediction'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
            application/xml:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
            text/xml:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
      x-ms-examples:
        Successful ClassifyImageWithNoStore request:
          $ref: ./examples/ClassifyImageWithNoStore.json
      description: Needs a more full description created.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                imageData:
                  type: string
                  description: Binary image data. Supported formats are JPEG, GIF, PNG, and BMP. Supports images up to 0MB.
                  format: binary
              required:
              - imageData
          application/octet-stream:
            schema:
              type: object
              properties:
                imageData:
                  type: string
                  description: Binary image data. Supported formats are JPEG, GIF, PNG, and BMP. Supports images up to 0MB.
                  format: binary
              required:
              - imageData
      security:
      - apim_key: []
    servers:
    - url: https://southcentralus.api.cognitive.microsoft.com/customvision/v3.0/prediction
  /{projectId}/detect/iterations/{publishedName}/url:
    post:
      tags:
      - ImagePredictionApi
      summary: Microsoft Azure Detect Objects In An Image Url And Saves The Result
      operationId: microsoftAzureDetectimageurl
      parameters:
      - name: projectId
        in: path
        description: The project id.
        required: true
        schema:
          type: string
          format: uuid
      - name: publishedName
        in: path
        description: Specifies the name of the model to evaluate against.
        required: true
        schema:
          type: string
      - name: application
        in: query
        description: Optional. Specifies the name of application using the endpoint.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagePrediction'
            application/xml:
              schema:
                $ref: '#/components/schemas/ImagePrediction'
            text/xml:
              schema:
                $ref: '#/components/schemas/ImagePrediction'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
            application/xml:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
            text/xml:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
      x-ms-examples:
        Successful DetectImageUrl request:
          $ref: ./examples/DetectImageUrl.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageUrl'
          application/xml:
            schema:
              $ref: '#/components/schemas/ImageUrl'
          text/xml:
            schema:
              $ref: '#/components/schemas/ImageUrl'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ImageUrl'
        description: An ImageUrl that contains the url of the image to be evaluated.
        required: true
      security:
      - apim_key: []
    servers:
    - url: https://southcentralus.api.cognitive.microsoft.com/customvision/v3.0/prediction
  /{projectId}/detect/iterations/{publishedName}/image:
    post:
      tags:
      - ImagePredictionApi
      summary: Microsoft Azure Detect Objects In An Image And Saves The Result
      operationId: microsoftAzureDetectimage
      parameters:
      - name: projectId
        in: path
        description: The project id.
        required: true
        schema:
          type: string
          format: uuid
      - name: publishedName
        in: path
        description: Specifies the name of the model to evaluate against.
        required: true
        schema:
          type: string
      - name: application
        in: query
        description: Optional. Specifies the name of application using the endpoint.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagePrediction'
            application/xml:
              schema:
                $ref: '#/components/schemas/ImagePrediction'
            text/xml:
              schema:
                $ref: '#/components/schemas/ImagePrediction'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
            application/xml:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
            text/xml:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
      x-ms-examples:
        Successful DetectImage request:
          $ref: ./examples/DetectImage.json
      description: Needs a more full description created.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                imageData:
                  type: string
                  description: Binary image data. Supported formats are JPEG, GIF, PNG, and BMP. Supports images up to 4MB.
                  format: binary
              required:
              - imageData
          application/octet-stream:
            schema:
              type: object
              properties:
                imageData:
                  type: string
                  description: Binary image data. Supported formats are JPEG, GIF, PNG, and BMP. Supports images up to 4MB.
                  format: binary
              required:
              - imageData
      security:
      - apim_key: []
    servers:
    - url: https://southcentralus.api.cognitive.microsoft.com/customvision/v3.0/prediction
  /{projectId}/detect/iterations/{publishedName}/url/nostore:
    post:
      tags:
      - ImagePredictionApi
      summary: Microsoft Azure Detect Objects In An Image Url Without Saving The Result
      operationId: microsoftAzureDetectimageurlwithnostore
      parameters:
      - name: projectId
        in: path
        description: The project id.
        required: true
        schema:
          type: string
          format: uuid
      - name: publishedName
        in: path
        description: Specifies the name of the model to evaluate against.
        required: true
        schema:
          type: string
      - name: application
        in: query
        description: Optional. Specifies the name of application using the endpoint.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagePrediction'
            application/xml:
              schema:
                $ref: '#/components/schemas/ImagePrediction'
            text/xml:
              schema:
                $ref: '#/components/schemas/ImagePrediction'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
            application/xml:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
            text/xml:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
      x-ms-examples:
        Successful DetectImageUrlWithNoStore request:
          $ref: ./examples/DetectImageUrlWithNoStore.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageUrl'
          application/xml:
            schema:
              $ref: '#/components/schemas/ImageUrl'
          text/xml:
            schema:
              $ref: '#/components/schemas/ImageUrl'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ImageUrl'
        description: An {Iris.Web.Api.Models.ImageUrl} that contains the url of the image to be evaluated.
        required: true
      security:
      - apim_key: []
    servers:
    - url: https://southcentralus.api.cognitive.microsoft.com/customvision/v3.0/prediction
  /{projectId}/detect/iterations/{publishedName}/image/nostore:
    post:
      tags:
      - ImagePredictionApi
      summary: Microsoft Azure Detect Objects In An Image Without Saving The Result
      operationId: microsoftAzureDetectimagewithnostore
      parameters:
      - name: projectId
        in: path
        description: The project id.
        required: true
        schema:
          type: string
          format: uuid
      - name: publishedName
        in: path
        description: Specifies the name of the model to evaluate against.
        required: true
        schema:
          type: string
      - name: application
        in: query
        description: Optional. Specifies the name of application using the endpoint.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagePrediction'
            application/xml:
              schema:
                $ref: '#/components/schemas/ImagePrediction'
            text/xml:
              schema:
                $ref: '#/components/schemas/ImagePrediction'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
            application/xml:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
            text/xml:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
      x-ms-examples:
        Successful DetectImageWithNoStore request:
          $ref: ./examples/DetectImageWithNoStore.json
      description: Needs a more full description created.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                imageData:
                  type: string
                  description: Binary image data. Supported formats are JPEG, GIF, PNG, and BMP. Supports images up to 0MB.
                  format: binary
              required:
              - imageData
          application/octet-stream:
            schema:
              type: object
              properties:
                imageData:
                  type: string
                  description: Binary image data. Supported formats are JPEG, GIF, PNG, and BMP. Supports images up to 0MB.
                  format: binary
              required:
              - imageData
      security:
      - apim_key: []
    servers:
    - url: https://southcentralus.api.cognitive.microsoft.com/customvision/v3.0/prediction
  /{projectId}/url:
    post:
      tags:
      - ImagePredictionApi
      summary: Microsoft Azure Predict An Image Url And Saves The Result
      operationId: microsoftAzurePredictimageurl
      parameters:
      - name: projectId
        in: path
        description: The project id
        required: true
        schema:
          type: string
          format: uuid
      - name: iterationId
        in: query
        description: "Optional. Specifies the id of a particular iteration to evaluate against.\n            The default iteration for the project will be used when not specified"
        required: false
        schema:
          type: string
          format: uuid
      - name: application
        in: query
        description: Optional. Specifies the name of application using the endpoint
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagePredictionResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ImagePredictionResultModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ImagePredictionResultModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ImagePredictionResultModel'
      x-ms-examples:
        Successful Prediction with Url request:
          $ref: ./examples/SuccessfulPredictionWithUrl.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageUrl_2'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageUrl_2'
          application/xml:
            schema:
              $ref: '#/components/schemas/ImageUrl_2'
          text/xml:
            schema:
              $ref: '#/components/schemas/ImageUrl_2'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ImageUrl_2'
        description: An {Iris.Web.Api.Models.ImageUrl} that contains the url of the image to be evaluated
        required: true
    servers:
    - url: https://southcentralus.api.cognitive.microsoft.com/customvision/v1.1/Prediction
  /{projectId}/image:
    post:
      tags:
      - ImagePredictionApi
      summary: Microsoft Azure Predict An Image And Saves The Result
      operationId: microsoftAzurePredictimage
      parameters:
      - name: projectId
        in: path
        description: The project id
        required: true
        schema:
          type: string
          format: uuid
      - name: iterationId
        in: query
        description: "Optional. Specifies the id of a particular iteration to evaluate against.\n            The default iteration for the project will be used when not specified"
        required: false
        schema:
          type: string
          format: uuid
      - name: application
        in: query
        description: Optional. Specifies the name of application using the endpoint
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagePredictionResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ImagePredictionResultModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ImagePredictionResultModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ImagePredictionResultModel'
      x-ms-examples:
        Successful Prediction with Image request:
          $ref: ./examples/SuccessfulPredictionWithImage.json
      description: Needs a more full description created.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                imageData:
                  type: string
                  format: binary
              required:
              - imageData
          application/octet-stream:
            schema:
              type: object
              properties:
                imageData:
                  type: string
                  format: binary
              required:
              - imageData
    servers:
    - url: https://southcentralus.api.cognitive.microsoft.com/customvision/v1.1/Prediction
  /{projectId}/url/nostore:
    post:
      tags:
      - ImagePredictionApi
      summary: Microsoft Azure Predict An Image Url Without Saving The Result
      operationId: microsoftAzurePredictimageurlwithnostore
      parameters:
      - name: projectId
        in: path
        description: The project id
        required: true
        schema:
          type: string
          format: uuid
      - name: iterationId
        in: query
        description: "Optional. Specifies the id of a particular iteration to evaluate against.\n            The default iteration for the project will be used when not specified"
        required: false
        schema:
          type: string
          format: uuid
      - name: application
        in: query
        description: Optional. Specifies the name of application using the endpoint
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagePredictionResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ImagePredictionResultModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ImagePredictionResultModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ImagePredictionResultModel'
      x-ms-examples:
        Successful Prediction with Url request:
          $ref: ./examples/SuccessfulPredictionWithUrl.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageUrl_2'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageUrl_2'
          application/xml:
            schema:
              $ref: '#/components/schemas/ImageUrl_2'
          text/xml:
            schema:
              $ref: '#/components/schemas/ImageUrl_2'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ImageUrl_2'
        description: An {Iris.Web.Api.Models.ImageUrl} that contains the url of the image to be evaluated
        required: true
    servers:
    - url: https://southcentralus.api.cognitive.microsoft.com/customvision/v1.1/Prediction
  /{projectId}/image/nostore:
    post:
      tags:
      - ImagePredictionApi
      summary: Microsoft Azure Predict An Image Without Saving The Result
      operationId: microsoftAzurePredictimagewithnostore
      parameters:
      - name: projectId
        in: path
        description: The project id
        required: true
        schema:
          type: string
          format: uuid
      - name: iterationId
        in: query
        description: "Optional. Specifies the id of a particular iteration to evaluate against.\n            The default iteration for the project will be used when not specified"
        required: false
        schema:
          type: string
          format: uuid
      - name: application
        in: query
        description: Optional. Specifies the name of application using the endpoint
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagePredictionResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ImagePredictionResultModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/ImagePredictionResultModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/ImagePredictionResultModel'
      x-ms-examples:
        Successful Prediction with Image request:
          $ref: ./examples/SuccessfulPredictionWithImage.json
      description: Needs a more full description created.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                imageData:
                  type: string
                  format: binary
              required:
              - imageData
          application/octet-stream:
            schema:
              type: object
              properties:
                imageData:
                  type: string
                  format: binary
              required:
              - imageData
    servers:
    - url: https://southcentralus.api.cognitive.microsoft.com/customvision/v1.1/Prediction
components:
  schemas:
    ImageUrl:
      description: Image url.
      required:
      - url
      type: object
      properties:
        url:
          description: Url of the image.
          type: string
          readOnly: false
    ImagePrediction:
      description: Result of an image prediction request.
      type: object
      properties:
        id:
          format: uuid
          description: Prediction Id.
          type: string
          readOnly: true
        project:
          format: uuid
          description: Project Id.
          type: string
          readOnly: true
        iteration:
          format: uuid
          description: Iteration Id.
          type: string
          readOnly: true
        created:
          format: date-time
          description: Date this prediction was created.
          type: string
          readOnly: true
        predictions:
          description: List of predictions.
          type: array
          items:
            $ref: '#/components/schemas/Prediction'
          readOnly: true
    CustomVisionError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          description: The error code.
          enum:
          - NoError
          - BadRequest
          - BadRequestExceededBatchSize
          - BadRequestNotSupported
          - BadRequestInvalidIds
          - BadRequestProjectName
          - BadRequestProjectNameNotUnique
          - BadRequestProjectDescription
          - BadRequestProjectUnknownDomain
          - BadRequestProjectUnknownClassification
          - BadRequestProjectUnsupportedDomainTypeChange
          - BadRequestProjectUnsupportedExportPlatform
          - BadRequestIterationName
          - BadRequestIterationNameNotUnique
          - BadRequestIterationDescription
          - BadRequestIterationIsNotTrained
          - BadRequestWorkspaceCannotBeModified
          - BadRequestWorkspaceNotDeletable
          - BadRequestTagName
          - BadRequestTagNameNotUnique
          - BadRequestTagDescription
          - BadRequestTagType
          - BadRequestMultipleNegativeTag
          - BadRequestImageTags
          - BadRequestImageRegions
          - BadRequestNegativeAndRegularTagOnSameImage
          - BadRequestRequiredParamIsNull
          - BadRequestIterationIsPublished
          - BadRequestInvalidPublishName
          - BadRequestInvalidPublishTarget
          - BadRequestUnpublishFailed
          - BadRequestSubscriptionApi
          - BadRequestExceedProjectLimit
          - BadRequestExceedIterationPerProjectLimit
          - BadRequestExceedTagPerProjectLimit
          - BadRequestExceedTagPerImageLimit
          - BadRequestExceededQuota
          - BadRequestCannotMigrateProjectWithName
          - BadRequestNotLimitedTrial
          - BadRequestImageBatch
          - BadRequestImageStream
          - BadRequestImageUrl
          - BadRequestImageFormat
          - BadRequestImageSizeBytes
          - BadRequestImageExceededCount
          - BadRequestTrainingNotNeeded
          - BadRequestTrainingNotNeededButTrainingPipelineUpdated
          - BadRequestTrainingValidationFailed
          - BadRequestClassificationTrainingValidationFailed
          - BadRequestMultiClassClassificationTrainingValidationFailed
          - BadRequestMultiLabelClassificationTrainingValidationFailed
          - BadRequestDetectionTrainingValidationFailed
          - BadRequestTrainingAlreadyInProgress
          - BadRequestDetectionTrainingNotAllowNegativeTag
          - BadRequestInvalidEmailAddress
          - BadRequestDomainNotSupportedForAdvancedTraining
          - BadRequestExportPlatformNotSupportedForAdvancedTraining
          - BadRequestReservedBudgetInHoursNotEnoughForAdvancedTraining
          - BadRequestExportValidationFailed
          - BadRequestExportAlreadyInProgress
          - BadRequestPredictionIdsMissing
          - BadRequestPredictionIdsExceededCount
          - BadRequestPredictionTagsExceededCount
          - BadRequestPredictionResultsExceededCount
          - BadRequestPredictionInvalidApplicationName
          - BadRequestPredictionInvalidQueryParameters
          - BadRequestInvalid
          - UnsupportedMediaType
          - Forbidden
          - ForbiddenUser
          - ForbiddenUserResource
          - ForbiddenUserSignupDisabled
          - ForbiddenUserSignupAllowanceExceeded
          - ForbiddenUserDoesNotExist
          - ForbiddenUserDisabled
          - ForbiddenUserInsufficientCapability
          - ForbiddenDRModeEnabled
          - ForbiddenInvalid
          - NotFound
          - NotFoundProject
          - NotFoundProjectDefaultIteration
          - NotFoundIteration
          - NotFoundIterationPerformance
          - NotFoundTag
          - NotFoundImage
          - NotFoundDomain
          - NotFoundApimSubscription
          - NotFoundInvalid
          - Conflict
          - ConflictInvalid
          - ErrorUnknown
          - ErrorProjectInvalidWorkspace
          - ErrorProjectInvalidPipelineConfiguration
          - ErrorProjectInvalidDomain
          - ErrorProjectTrainingRequestFailed
          - ErrorProjectExportRequestFailed
          - ErrorFeaturizationServiceUnavailable
          - ErrorFeaturizationQueueTimeout
          - ErrorFeaturizationInvalidFeaturizer
          - ErrorFeaturizationAugmentationUnavailable
          - ErrorFeaturizationUnrecognizedJob
          - ErrorFeaturizationAugmentationError
          - ErrorExporterInvalidPlatform
          - ErrorExporterInvalidFeaturizer
          - ErrorExporterInvalidClassifier
          - ErrorPredictionServiceUnavailable
          - ErrorPredictionModelNotFound
          - ErrorPredictionModelNotCached
          - ErrorPrediction
          - ErrorPredictionStorage
          - ErrorRegionProposal
          - ErrorInvalid
          type: string
          x-ms-enum:
            name: CustomVisionErrorCodes
            modelAsString: true
        message:
          description: A message explaining the error reported by the service.
          type: string
    BoundingBox:
      description: Bounding box that defines a region of an image.
      required:
      - left
      - top
      - width
      - height
      type: object
      properties:
        left:
          format: float
          description: Coordinate of the left boundary.
          type: number
          readOnly: false
        top:
          format: float
          description: Coordinate of the top boundary.
          type: number
          readOnly: false
        width:
          format: float
          description: Width.
          type: number
          readOnly: false
        height:
          format: float
          description: Height.
          type: number
          readOnly: false
    Prediction:
      description: Prediction result.
      type: object
      properties:
        probability:
          format: float
          description: Probability of the tag.
          type: number
          readOnly: true
        tagId:
          format: uuid
          description: Id of the predicted tag.
          type: string
          readOnly: true
        tagName:
          description: Name of the predicted tag.
          type:
          - string
          - 'null'
          readOnly: true
        boundingBox:
          $ref: '#/components/schemas/BoundingBox'
          description: Bounding box of the prediction.
          readOnly: true
    ImagePredictionResultModel:
      description: result of an image prediction request
      type:
      - object
      - 'null'
      properties:
        Id:
          format: uuid
          type: string
          readOnly: true
        Project:
          format: uuid
          type: string
          readOnly: true
        Iteration:
          format: uuid
          type: string
          readOnly: true
        Created:
          format: date-time
          type: string
          readOnly: true
        Predictions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ImageTagPredictionModel'
          readOnly: true
    ImageTagPredictionModel:
      type:
      - object
      - 'null'
      properties:
        TagId:
          format: uuid
          type: string
          readOnly: true
        Tag:
          type:
          - string
          - 'null'
          readOnly: true
        Probability:
          format: float
          type: number
          readOnly: true
    ImageUrl_2:
      type:
      - object
      - 'null'
      properties:
        Url:
          type:
          - string
          - 'null'
  parameters:
    ApiKey:
      name: Prediction-Key
      in: header
      required: true
      x-ms-client-name: ApiKey
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    apim_key:
      type: apiKey
      name: Prediction-Key
      in: header
x-refined-from:
- custom-vision-prediction-client-openapi-original.yml
- predictionendpoint-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
