openapi: 3.2.0
info:
  title: Microsoft Azure Azure Migrate Assessment Service Evaluated…
  version: 2023-04-01-preview
  description: Azure Migrate Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: EvaluatedAvsMachinesOperations
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}/evaluatedAvsMachines
  : get:
      operationId: microsoftAzureEvaluatedavsmachinesoperationsListbybusinesscase
      tags:
      - EvaluatedAvsMachinesOperations
      description: List EvaluatedAvsMachine resources by BusinessCase
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: $filter
        in: query
        description: Filter query.
        required: false
        schema:
          type: string
      - name: pageSize
        in: query
        description: Optional parameter for page size.
        required: false
        schema:
          type: integer
          format: int32
      - name: continuationToken
        in: query
        description: Optional parameter for continuation token.
        required: false
        schema:
          type: string
      - name: totalRecordCount
        in: query
        description: Total record count.
        required: false
        schema:
          type: integer
          format: int32
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: businessCaseName
        in: path
        description: Business case ARM name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluatedAvsMachineListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        EvaluatedAvsMachinesOperations_ListByBusinessCase_MaximumSet_Gen:
          $ref: ./examples/EvaluatedAvsMachinesOperations_ListByBusinessCase_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}/evaluatedAvsMachines/{evaluatedAvsMachineName}
  : get:
      operationId: microsoftAzureEvaluatedavsmachinesoperationsGet
      tags:
      - EvaluatedAvsMachinesOperations
      description: Get a EvaluatedAvsMachine
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: businessCaseName
        in: path
        description: Business case ARM name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: evaluatedAvsMachineName
        in: path
        description: Business case Evaluated AVS machine ARM name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluatedAvsMachine'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        EvaluatedAvsMachinesOperations_Get_MaximumSet_Gen:
          $ref: ./examples/EvaluatedAvsMachinesOperations_Get_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    EvaluatedAvsMachineListResult:
      type: object
      description: The response of a EvaluatedAvsMachine list operation.
      properties:
        value:
          type: array
          description: The EvaluatedAvsMachine items on this page
          items:
            $ref: '#/components/schemas/EvaluatedAvsMachine'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    EvaluatedAvsMachineProperties:
      type: object
      description: Evaluated AVS machine properties class.
      properties:
        machineId:
          type: string
          description: Machine Id.
          readOnly: true
        serverName:
          type: string
          description: Server Name.
          readOnly: true
        virtualizationType:
          type: string
          description: Virtualization type.
          readOnly: true
        activityState:
          type: string
          description: Activity state.
          readOnly: true
        operatingSystemName:
          type: string
          description: Operating System (OS) name.
          readOnly: true
        recommendedAzureTarget:
          type: string
          description: Recommended Azure target.
          readOnly: true
        qualifyingOffer:
          type: string
          description: Qualifying offer.
          readOnly: true
        readyForMigration:
          type: string
          description: Is machine ready for migration.
          readOnly: true
        supportStatus:
          $ref: '#/components/schemas/SupportabilityStatus'
          description: End of Support status.
          readOnly: true
    SupportabilityStatus:
      type: string
      description: Supportability Status.
      enum:
      - Unknown
      - Mainstream
      - Extended
      - OutOfSupport
      x-ms-enum:
        name: SupportabilityStatus
        modelAsString: true
        values:
        - name: Unknown
          value: Unknown
          description: Unknown Supportability Status.
        - name: Mainstream
          value: Mainstream
          description: Mainstream Supportability Status.
        - name: Extended
          value: Extended
          description: Extended Supportability Status.
        - name: OutOfSupport
          value: OutOfSupport
          description: OutOfSupport Supportability Status.
    EvaluatedAvsMachine:
      type: object
      description: Evaluated AVS machine resource.
      properties:
        properties:
          $ref: '#/components/schemas/EvaluatedAvsMachineProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
