openapi: 3.2.0
info:
  title: Microsoft Azure BlueprintClient Published Artifact API
  description: Azure Blueprints Client provides access to blueprint definitions, assignments, and artifacts, and related blueprint operations.
  version: 2018-11-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: PublishedArtifact
paths:
  /{resourceScope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/versions/{versionId}/artifacts/{artifactName}:
    get:
      tags:
      - PublishedArtifact
      operationId: microsoftAzurePublishedartifactsGet
      description: Get an artifact for a published blueprint definition.
      x-ms-examples:
        Sub-ARMTemplateArtifact:
          $ref: ./examples/subscriptionBPDef/SealedARMTemplateArtifact_Get.json
        Sub-PolicyAssignmentArtifact:
          $ref: ./examples/subscriptionBPDef/SealedPolicyAssignmentArtifact_Get.json
        Sub-RoleAssignmentArtifact:
          $ref: ./examples/subscriptionBPDef/SealedRoleAssignmentArtifact_Get.json
        MG-ARMTemplateArtifact:
          $ref: ./examples/managementGroupBPDef/SealedARMTemplateArtifact_Get.json
        MG-PolicyAssignmentArtifact:
          $ref: ./examples/managementGroupBPDef/SealedPolicyAssignmentArtifact_Get.json
        MG-RoleAssignmentArtifact:
          $ref: ./examples/managementGroupBPDef/SealedRoleAssignmentArtifact_Get.json
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/ScopeParameter'
      - $ref: '#/components/parameters/BlueprintNameParameter'
      - $ref: '#/components/parameters/PublishedBlueprintVersionIdParameter'
      - $ref: '#/components/parameters/ArtifactNameParameter'
      responses:
        '200':
          description: OK -- artifact of published blueprint definition retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artifact'
        default:
          description: Blueprints error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Resourcescope Providers Microsoft Blueprint Blueprints…
  /{resourceScope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/versions/{versionId}/artifacts:
    get:
      tags:
      - PublishedArtifact
      operationId: microsoftAzurePublishedartifactsList
      description: List artifacts for a version of a published blueprint definition.
      x-ms-examples:
        Sub-ArtifactList:
          $ref: ./examples/subscriptionBPDef/SealedArtifact_List.json
        MG-ArtifactList:
          $ref: ./examples/managementGroupBPDef/SealedArtifact_List.json
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/ScopeParameter'
      - $ref: '#/components/parameters/BlueprintNameParameter'
      - $ref: '#/components/parameters/PublishedBlueprintVersionIdParameter'
      responses:
        '200':
          description: OK -- artifacts of a version of published blueprint definition retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactList'
        default:
          description: Blueprints error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Resourcescope Providers Microsoft Blueprint Blueprints…
components:
  schemas:
    CloudError:
      x-ms-external: true
      properties:
        error:
          $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse
    Artifact:
      type: object
      discriminator:
        propertyName: kind
      description: Represents a blueprint artifact.
      allOf:
      - $ref: '#/components/schemas/AzureResourceBase'
      properties:
        kind:
          type: string
          description: Specifies the kind of blueprint artifact.
          enum:
          - template
          - roleAssignment
          - policyAssignment
          x-ms-enum:
            name: ArtifactKind
            modelAsString: true
      required:
      - kind
    AzureResourceBase:
      description: Common properties for all Azure resources.
      type: object
      x-ms-azure-resource: true
      properties:
        id:
          readOnly: true
          type: string
          description: String Id used to locate any resource on Azure.
        type:
          readOnly: true
          type: string
          description: Type of this resource.
        name:
          readOnly: true
          type: string
          description: Name of this resource.
    ArtifactList:
      type: object
      description: List of blueprint artifacts.
      properties:
        value:
          type: array
          description: List of blueprint artifacts.
          items:
            $ref: '#/components/schemas/Artifact'
        nextLink:
          type: string
          readOnly: true
          description: Link to the next page of results.
  parameters:
    PublishedBlueprintVersionIdParameter:
      name: versionId
      in: path
      required: true
      x-ms-parameter-location: method
      description: Version of the published blueprint definition.
      schema:
        type: string
    ScopeParameter:
      name: resourceScope
      in: path
      required: true
      description: 'The scope of the resource. Valid scopes are: management group (format: ''/providers/Microsoft.Management/managementGroups/{managementGroup}''), subscription (format: ''/subscriptions/{subscriptionId}'').'
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
    BlueprintNameParameter:
      name: blueprintName
      in: path
      required: true
      x-ms-parameter-location: method
      description: Name of the blueprint definition.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      x-ms-parameter-location: client
      description: Client API Version.
      schema:
        type: string
    ArtifactNameParameter:
      name: artifactName
      in: path
      required: true
      x-ms-parameter-location: method
      description: Name of the blueprint artifact.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
