openapi: 3.2.0
info:
  title: Microsoft Azure Azure AgriFood RP Service Farm Beats Models…
  description: APIs documentation for Azure AgriFood Resource Provider Service.
  version: 2020-05-12-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: FarmBeatsModels
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AgFoodPlatform/farmBeats/{farmBeatsResourceName}
  : get:
      tags:
      - FarmBeatsModels
      description: Get FarmBeats resource.
      operationId: microsoftAzureFarmbeatsmodelsGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/FarmBeatsResourceNameParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FarmBeats'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        FarmBeatsModels_Get:
          $ref: ./examples/FarmBeatsModels_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - FarmBeatsModels
      description: Create or update FarmBeats resource.
      operationId: microsoftAzureFarmbeatsmodelsCreateorupdate
      parameters:
      - $ref: '#/components/parameters/FarmBeatsResourceNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FarmBeats'
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FarmBeats'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        FarmBeatsModels_CreateOrUpdate:
          $ref: ./examples/FarmBeatsModels_CreateOrUpdate.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FarmBeats'
        description: FarmBeats resource create or update request object.
        required: true
    patch:
      tags:
      - FarmBeatsModels
      description: Update a FarmBeats resource.
      operationId: microsoftAzureFarmbeatsmodelsUpdate
      parameters:
      - $ref: '#/components/parameters/FarmBeatsResourceNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FarmBeats'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        FarmBeatsModels_Update:
          $ref: ./examples/FarmBeatsModels_Update.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FarmBeatsUpdateRequestModel'
        description: Request object.
        required: true
    delete:
      tags:
      - FarmBeatsModels
      description: Delete a FarmBeats resource.
      operationId: microsoftAzureFarmbeatsmodelsDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/FarmBeatsResourceNameParameter'
      responses:
        '200':
          description: Success
        '204':
          description: Success
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        FarmBeatsModels_Delete:
          $ref: ./examples/FarmBeatsModels_Delete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/providers/Microsoft.AgFoodPlatform/farmBeats:
    get:
      tags:
      - FarmBeatsModels
      description: Lists the FarmBeats instances for a subscription.
      operationId: microsoftAzureFarmbeatsmodelsListbysubscription
      parameters:
      - in: query
        name: $maxPageSize
        description: 'Maximum number of items needed (inclusive).

          Minimum = 10, Maximum = 1000, Default value = 50.'
        schema:
          type: integer
          format: int32
          default: 50
          maximum: 1000
          minimum: 10
      - in: query
        name: $skipToken
        description: Skip token for getting next set of results.
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FarmBeatsListResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        FarmBeatsModels_ListBySubscription:
          $ref: ./examples/FarmBeatsModels_ListBySubscription.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AgFoodPlatform/farmBeats:
    get:
      tags:
      - FarmBeatsModels
      description: Lists the FarmBeats instances for a resource group.
      operationId: microsoftAzureFarmbeatsmodelsListbyresourcegroup
      parameters:
      - in: query
        name: $maxPageSize
        description: 'Maximum number of items needed (inclusive).

          Minimum = 10, Maximum = 1000, Default value = 50.'
        schema:
          type: integer
          format: int32
          default: 50
          maximum: 1000
          minimum: 10
      - in: query
        name: $skipToken
        description: Continuation token for getting next set of results.
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FarmBeatsListResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        FarmBeatsModels_ListByResourceGroup:
          $ref: ./examples/FarmBeatsModels_ListByResourceGroup.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    FarmBeatsUpdateRequestModel:
      description: FarmBeats update request.
      type: object
      properties:
        sku:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/Sku
        location:
          description: Geo-location where the resource lives.
          type: string
        tags:
          description: Resource tags.
          type: object
          additionalProperties:
            type: string
    FarmBeatsListResponse:
      description: Paged response contains list of requested objects and a URL link to get the next set of results.
      type: object
      properties:
        value:
          description: List of requested objects.
          type: array
          uniqueItems: false
          items:
            $ref: '#/components/schemas/FarmBeats'
        nextLink:
          description: Continuation link (absolute URI) to the next page of results in the list.
          type: string
          readOnly: true
    FarmBeatsProperties:
      description: FarmBeats ARM Resource properties.
      type: object
      properties:
        instanceUri:
          format: uri
          description: Uri of the FarmBeats instance.
          type: string
          readOnly: true
        provisioningState:
          description: FarmBeats instance provisioning state.
          enum:
          - Succeeded
          - Failed
          type: string
          readOnly: true
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
    FarmBeats:
      description: FarmBeats ARM Resource.
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource
      properties:
        sku:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/Sku
          x-ms-mutability:
          - read
          - create
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
        properties:
          $ref: '#/components/schemas/FarmBeatsProperties'
          x-ms-client-flatten: true
      x-ms-azure-resource: true
  parameters:
    FarmBeatsResourceNameParameter:
      in: path
      name: farmBeatsResourceName
      description: FarmBeats resource name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
