openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft.IoTOperationsMQ management…
  version: 2023-10-04-preview
  description: Microsoft.IoTOperationsMQ Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: MqttBridgeConnector
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTOperationsMQ/mq/{mqName}/mqttBridgeConnector
  : get:
      operationId: microsoftAzureMqttbridgeconnectorListbymqresource
      tags:
      - MqttBridgeConnector
      description: List MqttBridgeConnectorResource resources by MqResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: mqName
        in: path
        description: Name of MQ resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MqttBridgeConnectorResourceListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        MqttBridgeConnector_ListByMqResource:
          $ref: ./examples/MqttBridgeConnector_ListByMqResource_MaximumSet_Gen.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTOperationsMQ/mq/{mqName}/mqttBridgeConnector/{mqttBridgeConnectorName}
  : get:
      operationId: microsoftAzureMqttbridgeconnectorGet
      tags:
      - MqttBridgeConnector
      description: Get a MqttBridgeConnectorResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: mqName
        in: path
        description: Name of MQ resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: mqttBridgeConnectorName
        in: path
        description: Name of MQ mqttBridgeConnector resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MqttBridgeConnectorResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        MqttBridgeConnector_Get:
          $ref: ./examples/MqttBridgeConnector_Get_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      operationId: microsoftAzureMqttbridgeconnectorCreateorupdate
      tags:
      - MqttBridgeConnector
      description: Create a MqttBridgeConnectorResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: mqName
        in: path
        description: Name of MQ resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: mqttBridgeConnectorName
        in: path
        description: Name of MQ mqttBridgeConnector resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Resource 'MqttBridgeConnectorResource' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MqttBridgeConnectorResource'
        '201':
          description: Resource 'MqttBridgeConnectorResource' create operation succeeded
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MqttBridgeConnectorResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        MqttBridgeConnector_CreateOrUpdate:
          $ref: ./examples/MqttBridgeConnector_CreateOrUpdate_MaximumSet_Gen.json
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MqttBridgeConnectorResource'
        description: Resource create parameters.
        required: true
    patch:
      operationId: microsoftAzureMqttbridgeconnectorUpdate
      tags:
      - MqttBridgeConnector
      description: Update a MqttBridgeConnectorResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: mqName
        in: path
        description: Name of MQ resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: mqttBridgeConnectorName
        in: path
        description: Name of MQ mqttBridgeConnector resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MqttBridgeConnectorResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        MqttBridgeConnector_Update:
          $ref: ./examples/MqttBridgeConnector_Update_MaximumSet_Gen.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MqttBridgeConnectorResourceUpdate'
        description: The resource properties to be updated.
        required: true
    delete:
      operationId: microsoftAzureMqttbridgeconnectorDelete
      tags:
      - MqttBridgeConnector
      description: Delete a MqttBridgeConnectorResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: mqName
        in: path
        description: Name of MQ resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: mqttBridgeConnectorName
        in: path
        description: Name of MQ mqttBridgeConnector resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        MqttBridgeConnector_Delete:
          $ref: ./examples/MqttBridgeConnector_Delete_MaximumSet_Gen.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    MqttProtocol:
      type: string
      description: Mqtt Protocol types
      enum:
      - v3
      - v5
      x-ms-enum:
        name: MqttProtocol
        modelAsString: true
        values:
        - name: v3
          value: v3
          description: Mqttv3
        - name: v5
          value: v5
          description: Mqttv5
    NodeTolerationsUpdate:
      type: object
      description: Defines the Node Tolerations details
      properties:
        effect:
          type: string
          description: Toleration effect.
        key:
          type: string
          description: Toleration key.
        operator:
          type: string
          description: Toleration operator like 'Exists', 'Equal' etc.
        value:
          type: string
          description: Toleration Value.
    LocalBrokerConnectionSpec:
      type: object
      description: Mqtt Local Broker ConnectionSpec details
      properties:
        authentication:
          $ref: '#/components/schemas/LocalBrokerAuthenticationMethods'
          description: The authentication methods for LocalBroker connection. NOTE - Enum only one method at a time is supported.
        endpoint:
          type: string
          description: The endpoint of local broker to connect to.
          default: aio-mq-dmqtt-frontend:1883
        tls:
          $ref: '#/components/schemas/LocalBrokerConnectionTls'
          description: TLS details for Local broker Connection.
    LocalBrokerKubernetesAuthentication:
      type: object
      description: Local Broker Kubernetes Authentication
      properties:
        secretPath:
          type: string
          description: Secret Path where SAT is mounted.
          default: /var/run/serviceaccount/localbroker
        serviceAccountTokenName:
          type: string
          description: Token name where SAT is mounted on secret path.
          default: sat
    LocalBrokerConnectionTls:
      type: object
      description: Mqtt Local Broker Connection TLS details
      properties:
        tlsEnabled:
          type: boolean
          description: Tls Enabled on Local Broker Connection.
          default: false
        trustedCaCertificateConfigMap:
          type: string
          description: Trusted CA certificate config map name for Local Broker.
    MqttBridgeConnectorResource:
      type: object
      description: MQ mqttBridgeConnector resource
      properties:
        properties:
          $ref: '#/components/schemas/MqttBridgeConnectorProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
        extendedLocation:
          $ref: '#/components/schemas/ExtendedLocationProperty'
          description: Extended Location
          x-ms-mutability:
          - read
          - create
      required:
      - extendedLocation
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
    MqttBridgeRemoteBrokerConnectionSpecUpdate:
      type: object
      description: MqttBridge RemoteBrokerConnectionSpec details
      properties:
        authentication:
          $ref: '#/components/schemas/MqttBridgeRemoteBrokerAuthenticationMethodsUpdate'
          description: The remote broker authentication methods. NOTE - Enum only one method is allowed to be passed.
        endpoint:
          type: string
          description: The endpoint of remote broker to connect to.
        protocol:
          type: string
          description: Protocol for remote connection.
          default: mqtt
          enum:
          - mqtt
          - webSocket
          x-ms-enum:
            name: MqttBridgeRemoteBrokerProtocol
            modelAsString: true
            values:
            - name: mqtt
              value: mqtt
              description: MQTT protocol.
            - name: webSocket
              value: webSocket
              description: MQTT over WebSocket protocol.
        tls:
          $ref: '#/components/schemas/MqttBridgeRemoteBrokerConnectionTlsUpdate'
          description: TLS details for Remote broker Connection.
    ManagedIdentityAuthenticationUpdate:
      type: object
      description: Managed identity authentication details.
      properties:
        audience:
          type: string
          description: Token audience.
        extensionName:
          type: string
          description: Arc Extension name.
    LocalBrokerAuthenticationMethodsUpdate:
      type: object
      description: Mqtt Local Broker Authentication details. Only one method at a time is supported. Default - kubernetes authentication
      properties:
        kubernetes:
          $ref: '#/components/schemas/LocalBrokerKubernetesAuthentication'
          description: Kubernetes local broker authentication method.
    LocalBrokerAuthenticationMethods:
      type: object
      description: Mqtt Local Broker Authentication details. Only one method at a time is supported. Default - kubernetes authentication
      properties:
        kubernetes:
          $ref: '#/components/schemas/LocalBrokerKubernetesAuthentication'
          description: Kubernetes local broker authentication method.
      required:
      - kubernetes
    MqttBridgeRemoteBrokerConnectionSpec:
      type: object
      description: MqttBridge RemoteBrokerConnectionSpec details
      properties:
        authentication:
          $ref: '#/components/schemas/MqttBridgeRemoteBrokerAuthenticationMethods'
          description: The remote broker authentication methods. NOTE - Enum only one method is allowed to be passed.
        endpoint:
          type: string
          description: The endpoint of remote broker to connect to.
        protocol:
          type: string
          description: Protocol for remote connection.
          default: mqtt
          enum:
          - mqtt
          - webSocket
          x-ms-enum:
            name: MqttBridgeRemoteBrokerProtocol
            modelAsString: true
            values:
            - name: mqtt
              value: mqtt
              description: MQTT protocol.
            - name: webSocket
              value: webSocket
              description: MQTT over WebSocket protocol.
        tls:
          $ref: '#/components/schemas/MqttBridgeRemoteBrokerConnectionTls'
          description: TLS details for Remote broker Connection.
      required:
      - authentication
      - endpoint
      - tls
    ManagedIdentityAuthentication:
      type: object
      description: Managed identity authentication details.
      properties:
        audience:
          type: string
          description: Token audience.
        extensionName:
          type: string
          description: Arc Extension name.
      required:
      - audience
    MqttBridgeRemoteBrokerConnectionTls:
      type: object
      description: MqttBridge RemoteBrokerConnection TLS details
      properties:
        tlsEnabled:
          type: boolean
          description: Tls Enabled on Remote Broker Connection.
        trustedCaCertificateConfigMap:
          type: string
          description: Trusted CA certificate name for Remote Broker.
      required:
      - tlsEnabled
    MqttBridgeConnectorProperties:
      type: object
      description: MqttBridgeConnector Properties
      properties:
        bridgeInstances:
          type: integer
          format: int32
          description: The number of instances to deploy for a bridge rollout.
          minimum: 0
          maximum: 65535
        clientIdPrefix:
          type: string
          description: The client id prefix of the dynamically generated client ids.
        image:
          $ref: '#/components/schemas/ContainerImage'
          description: The details of MqttBridge Docker Image.
        localBrokerConnection:
          $ref: '#/components/schemas/LocalBrokerConnectionSpec'
          description: The details for connecting with Local Broker.
        logLevel:
          type: string
          description: The log level of the Bridge Connector instances.
        nodeTolerations:
          $ref: '#/components/schemas/NodeTolerations'
          description: The Node Tolerations for the Bridge Connector pods.
        protocol:
          $ref: '#/components/schemas/MqttProtocol'
          description: The protocol to use for connecting with Brokers.
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The status of the last operation.
          readOnly: true
        remoteBrokerConnection:
          $ref: '#/components/schemas/MqttBridgeRemoteBrokerConnectionSpec'
          description: The details for connecting with Remote Broker.
      required:
      - image
      - protocol
      - remoteBrokerConnection
    LocalBrokerConnectionSpecUpdate:
      type: object
      description: Mqtt Local Broker ConnectionSpec details
      properties:
        authentication:
          $ref: '#/components/schemas/LocalBrokerAuthenticationMethodsUpdate'
          description: The authentication methods for LocalBroker connection. NOTE - Enum only one method at a time is supported.
        endpoint:
          type: string
          description: The endpoint of local broker to connect to.
          default: aio-mq-dmqtt-frontend:1883
        tls:
          $ref: '#/components/schemas/LocalBrokerConnectionTls'
          description: TLS details for Local broker Connection.
    KeyVaultConnectionPropertiesUpdate:
      type: object
      description: KeyVault properties
      properties:
        credentials:
          $ref: '#/components/schemas/KeyVaultCredentialsPropertiesUpdate'
          description: KeyVault credentials.
        directoryId:
          type: string
          description: KeyVault directoryId.
        name:
          type: string
          description: KeyVault name.
    ProvisioningState:
      type: string
      description: The enum defining status of resource.
      enum:
      - Succeeded
      - Failed
      - Canceled
      - Provisioning
      - Updating
      - Deleting
      - Accepted
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: Succeeded
          value: Succeeded
          description: Resource has been created.
        - name: Failed
          value: Failed
          description: Resource creation failed.
        - name: Canceled
          value: Canceled
          description: Resource creation was canceled.
        - name: Provisioning
          value: Provisioning
          description: Resource is getting provisioned.
        - name: Updating
          value: Updating
          description: Resource is Updating.
        - name: Deleting
          value: Deleting
          description: Resource is Deleting.
        - name: Accepted
          value: Accepted
          description: Resource has been Accepted.
    KeyVaultSecretObjectUpdate:
      type: object
      description: KeyVault secret object properties
      properties:
        name:
          type: string
          description: KeyVault secret name.
        version:
          type: string
          description: KeyVault secret version.
    ExtendedLocationType:
      type: string
      description: The enum defining type of ExtendedLocation accepted.
      enum:
      - CustomLocation
      x-ms-enum:
        name: ExtendedLocationType
        modelAsString: true
        values:
        - name: CustomLocation
          value: CustomLocation
          description: CustomLocation type
    MqttBridgeRemoteBrokerAuthenticationMethods:
      type: object
      description: MqttBridge RemoteBrokerConnection Authentication methods. NOTE - Enum only one is allowed to be passed.
      properties:
        x509:
          $ref: '#/components/schemas/MqttBridgeRemoteBrokerX509Authentication'
          description: X509 remote broker authentication method.
        systemAssignedManagedIdentity:
          $ref: '#/components/schemas/ManagedIdentityAuthentication'
          description: Managed identity remote broker authentication method.
    KeyVaultCertificateProperties:
      type: object
      description: KeyVault certificate properties
      properties:
        vault:
          $ref: '#/components/schemas/KeyVaultConnectionProperties'
          description: KeyVault properties.
        vaultCaChainSecret:
          $ref: '#/components/schemas/KeyVaultSecretObject'
          description: KeyVault CA chain secret details.
        vaultCert:
          $ref: '#/components/schemas/KeyVaultSecretObject'
          description: KeyVault Cert secret details.
      required:
      - vault
      - vaultCert
    MqttBridgeRemoteBrokerAuthenticationMethodsUpdate:
      type: object
      description: MqttBridge RemoteBrokerConnection Authentication methods. NOTE - Enum only one is allowed to be passed.
      properties:
        x509:
          $ref: '#/components/schemas/MqttBridgeRemoteBrokerX509AuthenticationUpdate'
          description: X509 remote broker authentication method.
        systemAssignedManagedIdentity:
          $ref: '#/components/schemas/ManagedIdentityAuthenticationUpdate'
          description: Managed identity remote broker authentication method.
    ContainerImageUpdate:
      type: object
      description: Defines the Docker image details
      properties:
        pullPolicy:
          type: string
          description: Image pull policy.
        pullSecrets:
          type: string
          description: Image pull secrets.
        repository:
          type: string
          description: The Docker image name.
        tag:
          type: string
          description: The Docker  image tag.
    KeyVaultCertificatePropertiesUpdate:
      type: object
      description: KeyVault certificate properties
      properties:
        vault:
          $ref: '#/components/schemas/KeyVaultConnectionPropertiesUpdate'
          description: KeyVault properties.
        vaultCaChainSecret:
          $ref: '#/components/schemas/KeyVaultSecretObjectUpdate'
          description: KeyVault CA chain secret details.
        vaultCert:
          $ref: '#/components/schemas/KeyVaultSecretObjectUpdate'
          description: KeyVault Cert secret details.
    KeyVaultCredentialsProperties:
      type: object
      description: KeyVault credentials properties. NOTE - Future this will be ENUM.
      properties:
        servicePrincipalLocalSecretName:
          type: string
          description: KeyVault service principal local secret name.
      required:
      - servicePrincipalLocalSecretName
    NodeTolerations:
      type: object
      description: Defines the Node Tolerations details
      properties:
        effect:
          type: string
          description: Toleration effect.
        key:
          type: string
          description: Toleration key.
        operator:
          type: string
          description: Toleration operator like 'Exists', 'Equal' etc.
        value:
          type: string
          description: Toleration Value.
      required:
      - effect
      - key
      - operator
      - value
    MqttBridgeRemoteBrokerConnectionTlsUpdate:
      type: object
      description: MqttBridge RemoteBrokerConnection TLS details
      properties:
        tlsEnabled:
          type: boolean
          description: Tls Enabled on Remote Broker Connection.
        trustedCaCertificateConfigMap:
          type: string
          description: Trusted CA certificate name for Remote Broker.
    KeyVaultCredentialsPropertiesUpdate:
      type: object
      description: KeyVault credentials properties. NOTE - Future this will be ENUM.
      properties:
        servicePrincipalLocalSecretName:
          type: string
          description: KeyVault service principal local secret name.
    KeyVaultSecretObject:
      type: object
      description: KeyVault secret object properties
      properties:
        name:
          type: string
          description: KeyVault secret name.
        version:
          type: string
          description: KeyVault secret version.
      required:
      - name
    ContainerImage:
      type: object
      description: Defines the Docker image details
      properties:
        pullPolicy:
          type: string
          description: Image pull policy.
        pullSecrets:
          type: string
          description: Image pull secrets.
        repository:
          type: string
          description: The Docker image name.
        tag:
          type: string
          description: The Docker  image tag.
      required:
      - repository
      - tag
    ExtendedLocationProperty:
      type: object
      description: ExtendedLocation properties
      properties:
        name:
          type: string
          description: The name of the extended location.
        type:
          $ref: '#/components/schemas/ExtendedLocationType'
          description: Type of ExtendedLocation.
      required:
      - name
      - type
    MqttBridgeConnectorResourceUpdate:
      type: object
      description: The type used for update operations of the MqttBridgeConnectorResource.
      properties:
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
        properties:
          $ref: '#/components/schemas/MqttBridgeConnectorResourceUpdateProperties'
          x-ms-client-flatten: true
    MqttBridgeConnectorResourceUpdateProperties:
      type: object
      description: The updatable properties of the MqttBridgeConnectorResource.
      properties:
        bridgeInstances:
          type: integer
          format: int32
          description: The number of instances to deploy for a bridge rollout.
          minimum: 0
          maximum: 65535
        clientIdPrefix:
          type: string
          description: The client id prefix of the dynamically generated client ids.
        image:
          $ref: '#/components/schemas/ContainerImageUpdate'
          description: The details of MqttBridge Docker Image.
        localBrokerConnection:
          $ref: '#/components/schemas/LocalBrokerConnectionSpecUpdate'
          description: The details for connecting with Local Broker.
        logLevel:
          type: string
          description: The log level of the Bridge Connector instances.
        nodeTolerations:
          $ref: '#/components/schemas/NodeTolerationsUpdate'
          description: The Node Tolerations for the Bridge Connector pods.
        protocol:
          $ref: '#/components/schemas/MqttProtocol'
          description: The protocol to use for connecting with Brokers.
        remoteBrokerConnection:
          $ref: '#/components/schemas/MqttBridgeRemoteBrokerConnectionSpecUpdate'
          description: The details for connecting with Remote Broker.
    MqttBridgeRemoteBrokerX509Authentication:
      type: object
      description: MqttBridge RemoteBroker X509 Authentication properties.
      properties:
        keyVault:
          $ref: '#/components/schemas/KeyVaultCertificateProperties'
          description: Keyvault X509 secret properties.
        secretName:
          type: string
          description: Secret where cert details are stored.
    KeyVaultConnectionProperties:
      type: object
      description: KeyVault properties
      properties:
        credentials:
          $ref: '#/components/schemas/KeyVaultCredentialsProperties'
          description: KeyVault credentials.
        directoryId:
          type: string
          description: KeyVault directoryId.
        name:
          type: string
          description: KeyVault name.
      required:
      - credentials
      - directoryId
      - name
    MqttBridgeConnectorResourceListResult:
      type: object
      description: The response of a MqttBridgeConnectorResource list operation.
      properties:
        value:
          type: array
          description: The MqttBridgeConnectorResource items on this page
          items:
            $ref: '#/components/schemas/MqttBridgeConnectorResource'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    MqttBridgeRemoteBrokerX509AuthenticationUpdate:
      type: object
      description: MqttBridge RemoteBroker X509 Authentication properties.
      properties:
        keyVault:
          $ref: '#/components/schemas/KeyVaultCertificatePropertiesUpdate'
          description: Keyvault X509 secret properties.
        secretName:
          type: string
          description: Secret where cert details are stored.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
