openapi: 3.2.0
info:
  title: Microsoft Azure Private Link API
  version: '1.0'
  description: 'Operations tagged PrivateLink across 2 of this provider''s published API definitions: desktop-virtualization-api-client-openapi-original.yml, notificationhubs-rp-client-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
tags:
- name: Private Link
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/workspaces/{workspaceName}/privateEndpointConnections
  : get:
      tags:
      - Private Link
      operationId: microsoftAzurePrivateendpointconnectionsListbyworkspace
      description: List private endpoint connections.
      x-ms-examples:
        PrivateEndpointConnection_ListByWorkspace:
          $ref: ./examples/PrivateEndpointConnection_ListByWorkspace.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      responses:
        '200':
          description: Successfully retrieved connection list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionListResultWithSystemData'
        default:
          description: Automation error response describing why the operation failed.
          x-ms-error-response: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/workspaces/{workspaceName}/privateEndpointConnections/{privateEndpointConnectionName}
  : get:
      tags:
      - Private Link
      operationId: microsoftAzurePrivateendpointconnectionsGetbyworkspace
      description: Get a private endpoint connection.
      x-ms-examples:
        PrivateEndpointConnection_GetByWorkspace:
          $ref: ./examples/PrivateEndpointConnection_GetByWorkspace.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: ../../../../../common-types/resource-management/v3/privatelinks.json#/parameters/PrivateEndpointConnectionName
      responses:
        '200':
          description: Successfully retrieved the connection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionWithSystemData'
        default:
          description: Automation error response describing why the operation failed.
          x-ms-error-response: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    delete:
      tags:
      - Private Link
      operationId: microsoftAzurePrivateendpointconnectionsDeletebyworkspace
      description: Remove a connection.
      x-ms-examples:
        PrivateEndpointConnection_DeleteByWorkspace:
          $ref: ./examples/PrivateEndpointConnection_DeleteByWorkspace.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: ../../../../../common-types/resource-management/v1/privatelinks.json#/parameters/PrivateEndpointConnectionName
      responses:
        '200':
          description: Successfully removed.
        '204':
          description: Connection does not exist.
        default:
          description: Automation error response describing why the operation failed.
          x-ms-error-response: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Private Link
      operationId: microsoftAzurePrivateendpointconnectionsUpdatebyworkspace
      description: Approve or reject a private endpoint connection.
      x-ms-examples:
        PrivateEndpointConnection_UpdateByWorkspace:
          $ref: ./examples/PrivateEndpointConnection_UpdateByWorkspace.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: ../../../../../common-types/resource-management/v1/privatelinks.json#/parameters/PrivateEndpointConnectionName
      responses:
        '200':
          description: Successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionWithSystemData'
        default:
          description: Automation error response describing why the operation failed.
          x-ms-error-response: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: ../../../../../common-types/resource-management/v2/privatelinks.json#/definitions/PrivateEndpointConnection
        description: Object containing the updated connection.
        required: true
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/workspaces/{workspaceName}/privateLinkResources
  : get:
      tags:
      - Private Link
      operationId: microsoftAzurePrivatelinkresourcesListbyworkspace
      description: List the private link resources available for this workspace.
      x-ms-examples:
        PrivateLinkResources_ListByWorkspace:
          $ref: ./examples/PrivateLinkResources_ListByWorkspace.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - name: pageSize
        in: query
        required: false
        description: Number of items per page.
        schema:
          type: integer
          format: int32
      - name: isDescending
        in: query
        required: false
        description: Indicates whether the collection is descending.
        schema:
          type: boolean
      - name: initialSkip
        in: query
        required: false
        description: Initial number of items to skip.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved the list of resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResourceListResult'
        default:
          description: Automation error response describing why the operation failed.
          x-ms-error-response: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/privateLinkResources
  : get:
      tags:
      - Private Link
      operationId: microsoftAzurePrivatelinkresourcesListbyhostpool
      description: List the private link resources available for this hostpool.
      x-ms-examples:
        PrivateLinkResources_ListByHostPool:
          $ref: ./examples/PrivateLinkResources_ListByHostPool.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/HostPoolNameParameter'
      - name: pageSize
        in: query
        required: false
        description: Number of items per page.
        schema:
          type: integer
          format: int32
      - name: isDescending
        in: query
        required: false
        description: Indicates whether the collection is descending.
        schema:
          type: boolean
      - name: initialSkip
        in: query
        required: false
        description: Initial number of items to skip.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved the list of resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResourceListResult'
        default:
          description: Automation error response describing why the operation failed.
          x-ms-error-response: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/privateEndpointConnections
  : get:
      tags:
      - Private Link
      operationId: microsoftAzurePrivateendpointconnectionsListbyhostpool
      description: List private endpoint connections associated with hostpool.
      x-ms-examples:
        PrivateEndpointConnection_ListByHostPool:
          $ref: ./examples/PrivateEndpointConnection_ListByHostPool.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/HostPoolNameParameter'
      - name: pageSize
        in: query
        required: false
        description: Number of items per page.
        schema:
          type: integer
          format: int32
      - name: isDescending
        in: query
        required: false
        description: Indicates whether the collection is descending.
        schema:
          type: boolean
      - name: initialSkip
        in: query
        required: false
        description: Initial number of items to skip.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved connection list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionListResultWithSystemData'
        default:
          description: Automation error response describing why the operation failed.
          x-ms-error-response: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/privateEndpointConnections/{privateEndpointConnectionName}
  : get:
      tags:
      - Private Link
      operationId: microsoftAzurePrivateendpointconnectionsGetbyhostpool
      description: Get a private endpoint connection.
      x-ms-examples:
        PrivateEndpointConnection_GetByHostPool:
          $ref: ./examples/PrivateEndpointConnection_GetByHostPool.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/HostPoolNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/privatelinks.json#/parameters/PrivateEndpointConnectionName
      responses:
        '200':
          description: Successfully retrieved the connection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionWithSystemData'
        default:
          description: Automation error response describing why the operation failed.
          x-ms-error-response: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    delete:
      tags:
      - Private Link
      operationId: microsoftAzurePrivateendpointconnectionsDeletebyhostpool
      description: Remove a connection.
      x-ms-examples:
        PrivateEndpointConnection_DeleteByHostPool:
          $ref: ./examples/PrivateEndpointConnection_DeleteByHostPool.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/HostPoolNameParameter'
      - $ref: ../../../../../common-types/resource-management/v1/privatelinks.json#/parameters/PrivateEndpointConnectionName
      responses:
        '200':
          description: Successfully removed.
        '204':
          description: Connection does not exist.
        default:
          description: Automation error response describing why the operation failed.
          x-ms-error-response: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Private Link
      operationId: microsoftAzurePrivateendpointconnectionsUpdatebyhostpool
      description: Approve or reject a private endpoint connection.
      x-ms-examples:
        PrivateEndpointConnection_UpdateByHostPool:
          $ref: ./examples/PrivateEndpointConnection_UpdateByHostPool.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/HostPoolNameParameter'
      - $ref: ../../../../../common-types/resource-management/v1/privatelinks.json#/parameters/PrivateEndpointConnectionName
      responses:
        '200':
          description: Successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionWithSystemData'
        default:
          description: Automation error response describing why the operation failed.
          x-ms-error-response: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: ../../../../../common-types/resource-management/v2/privatelinks.json#/definitions/PrivateEndpointConnection
        description: Object containing the updated connection.
        required: true
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/privateEndpointConnections/{privateEndpointConnectionName}
  : put:
      tags:
      - Private Link
      summary: Microsoft Azure Approves Or Rejects Private Endpoint Connection this Is A…
      operationId: microsoftAzurePrivateendpointconnectionsUpdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/NamespaceName'
      - $ref: '#/components/parameters/PrivateEndpointConnectionName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionResource'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionResource'
        default:
          description: Error code with reason.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        PrivateEndpointConnections_Update:
          $ref: ./examples/Namespaces/PrivateEndpointConnectionUpdate.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateEndpointConnectionResource'
        description: Description of the Private Endpoint Connection resource.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - Private Link
      summary: Microsoft Azure Deletes The Private Endpoint Connection this Is A Public Api…
      operationId: microsoftAzurePrivateendpointconnectionsDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/NamespaceName'
      - $ref: '#/components/parameters/PrivateEndpointConnectionName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        '204':
          description: No Content
        default:
          description: Error code with reason.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        PrivateEndpointConnections_Delete:
          $ref: ./examples/Namespaces/PrivateEndpointConnectionDelete.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      description: Needs a more full description created.
      security:
      - azure_auth:
        - user_impersonation
    get:
      tags:
      - Private Link
      summary: Microsoft Azure Returns A Private Endpoint Connection With A Given Name this Is…
      operationId: microsoftAzurePrivateendpointconnectionsGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/NamespaceName'
      - $ref: '#/components/parameters/PrivateEndpointConnectionName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionResource'
        default:
          description: Error code with reason.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        PrivateEndpointConnections_Get:
          $ref: ./examples/Namespaces/PrivateEndpointConnectionGet.json
      description: Needs a more full description created.
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/privateEndpointConnections
  : get:
      tags:
      - Private Link
      summary: Microsoft Azure Returns All Private Endpoint Connections That Belong To The…
      operationId: microsoftAzurePrivateendpointconnectionsList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/NamespaceName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionResourceListResult'
        default:
          description: Error code with reason.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        itemName: value
        nextLinkName: null
      x-ms-examples:
        PrivateEndpointConnections_List:
          $ref: ./examples/Namespaces/PrivateEndpointConnectionList.json
      description: Needs a more full description created.
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/privateLinkResources/{subResourceName}
  : get:
      tags:
      - Private Link
      summary: Microsoft Azure Returns Group Id Response this Is A Public Api Required By The…
      description: 'Even though this namespace requires subscription id, resource group and namespace name, it returns a constant payload (for a given namespacE) every time it''s called.

        That''s why we don''t send it to the sibling RP, but process it directly in the scale unit that received the request.'
      operationId: microsoftAzurePrivateendpointconnectionsGetgroupid
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/NamespaceName'
      - in: path
        name: subResourceName
        description: Name of the Private Link sub-resource. The only supported sub-resource is "namespace"
        required: true
        schema:
          type: string
          pattern: ^namespace$
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResource_2'
        default:
          description: Error code with reason.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        PrivateEndpointConnections_GetGroupId:
          $ref: ./examples/Namespaces/PrivateLinkResourceGet.json
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/privateLinkResources
  : get:
      tags:
      - Private Link
      summary: Microsoft Azure Returns All Group Ids Supported By The Notification Hubs Rp…
      description: 'Even though this namespace requires subscription id, resource group and namespace name, it returns a constant payload (for a given namespacE) every time it''s called.

        That''s why we don''t send it to the sibling RP, but process it directly in the scale unit that received the request.'
      operationId: microsoftAzurePrivateendpointconnectionsListgroupids
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/NamespaceName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResourceListResult_2'
        default:
          description: Error code with reason.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        itemName: value
        nextLinkName: null
      x-ms-examples:
        PrivateEndpointConnections_ListGroupIds:
          $ref: ./examples/Namespaces/PrivateLinkResourceList.json
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
components:
  schemas:
    CloudError:
      description: Cloud error object.
      type: object
      x-ms-external: true
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorProperties'
    PrivateEndpointConnectionWithSystemData:
      type: object
      properties:
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
      allOf:
      - $ref: ../../../../../common-types/resource-management/v2/privatelinks.json#/definitions/PrivateEndpointConnection
      description: The Private Endpoint Connection resource.
    PrivateLinkResourceProperties:
      type: object
      properties:
        groupId:
          description: The private link resource group id.
          type: string
          readOnly: true
        requiredMembers:
          description: The private link resource required member names.
          type: array
          items:
            type: string
          readOnly: true
        requiredZoneNames:
          type: array
          items:
            type: string
          description: The private link resource Private link DNS zone name.
      description: Properties of a private link resource.
    PrivateLinkResourceListResult:
      type: object
      properties:
        value:
          type: array
          description: Array of private link resources
          items:
            $ref: '#/components/schemas/PrivateLinkResource'
        nextLink:
          type: string
          readOnly: true
          description: Link to the next page of results.
      description: A list of private link resources
    PrivateEndpointConnectionListResultWithSystemData:
      type: object
      properties:
        value:
          type: array
          description: Array of private endpoint connections
          items:
            $ref: '#/components/schemas/PrivateEndpointConnectionWithSystemData'
        nextLink:
          type: string
          readOnly: true
          description: Link to the next page of results.
      description: List of private endpoint connection associated with the specified storage account
    PrivateLinkResource:
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/PrivateLinkResourceProperties'
          description: Resource properties.
          x-ms-client-flatten: true
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/Resource
      description: A private link resource
    CloudErrorProperties:
      description: Cloud error object properties.
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
    PrivateEndpointConnectionResourceListResult:
      description: The response of the List Private Endpoint Connections operation.
      type: object
      properties:
        value:
          description: Gets or sets result of the List AuthorizationRules operation.
          type: array
          items:
            $ref: '#/components/schemas/PrivateEndpointConnectionResource'
          readOnly: true
        nextLink:
          description: Gets or sets link to the next set of results.
          type: string
          readOnly: true
    RemotePrivateEndpointConnection:
      description: Represents a Private Endpoint that is connected to Notification Hubs namespace using Private Endpoint Connection.
      type: object
      properties:
        id:
          description: ARM resource ID of the Private Endpoint. This may belong to different subscription and resource group than a Notification Hubs namespace.
          type: string
          readOnly: true
    PrivateEndpointConnectionProvisioningState:
      description: State of Private Endpoint Connection.
      enum:
      - Unknown
      - Succeeded
      - Creating
      - Updating
      - UpdatingByProxy
      - Deleting
      - DeletingByProxy
      - Deleted
      type: string
      x-ms-enum:
        name: PrivateEndpointConnectionProvisioningState
        modelAsString: true
    PrivateLinkResourceProperties_2:
      description: Represents properties of Private Link Resource.
      type: object
      properties:
        groupId:
          description: A Group Id for Private Link. For Notification Hubs, it is always set to "namespace".
          type: string
          readOnly: true
        requiredMembers:
          description: Required members. For Notification Hubs, it's always a collection with a single "namespace" item.
          type: array
          items:
            type: string
          readOnly: true
        requiredZoneNames:
          description: Required DNS zone names. For Notification Hubs, it contains two CNames for Service Bus and Notification Hubs zones.
          type: array
          items:
            type: string
          readOnly: true
    PrivateEndpointConnectionResource:
      description: Represents a Private Endpoint Connection ARM resource - a sub-resource of Notification Hubs namespace.
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
      properties:
        properties:
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties'
    RemotePrivateLinkServiceConnectionState:
      description: State of the Private Link Service connection.
      type: object
      properties:
        status:
          $ref: '#/components/schemas/PrivateLinkConnectionStatus'
        description:
          description: Human-friendly description.
          type: string
          readOnly: true
        actionsRequired:
          description: Human-friendly description of required actions.
          type: string
          readOnly: true
    PrivateLinkResourceListResult_2:
      description: The response of the List Private Link Resources operation.
      type: object
      properties:
        value:
          description: Gets or sets result of the List AuthorizationRules operation.
          type: array
          items:
            $ref: '#/components/schemas/PrivateLinkResource_2'
          readOnly: true
        nextLink:
          description: Gets or sets link to the next set of results.
          type: string
          readOnly: true
    PrivateLinkResource_2:
      description: A Private Link Arm Resource.
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
      properties:
        properties:
          $ref: '#/components/schemas/PrivateLinkResourceProperties_2'
    PrivateLinkConnectionStatus:
      description: State of Private Link Connection.
      enum:
      - Disconnected
      - Pending
      - Approved
      - Rejected
      type: string
      x-ms-enum:
        name: PrivateLinkConnectionStatus
        modelAsString: true
    PrivateEndpointConnectionProperties:
      description: Private Endpoint Connection properties.
      type: object
      properties:
        provisioningState:
          $ref: '#/components/schemas/PrivateEndpointConnectionProvisioningState'
        privateEndpoint:
          $ref: '#/components/schemas/RemotePrivateEndpointConnection'
        groupIds:
          description: List of group ids. For Notification Hubs, it always contains a single "namespace" element.
          type: array
          items:
            type: string
          readOnly: true
        privateLinkServiceConnectionState:
          $ref: '#/components/schemas/RemotePrivateLinkServiceConnectionState'
  parameters:
    WorkspaceNameParameter:
      name: workspaceName
      in: path
      required: true
      description: The name of the workspace
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 3
    HostPoolNameParameter:
      name: hostPoolName
      in: path
      required: true
      description: The name of the host pool within the specified resource group
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 3
    NamespaceName:
      in: path
      name: namespaceName
      description: Namespace name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 50
        minLength: 1
        pattern: ^[a-zA-Z][a-zA-Z0-9-]*$
    PrivateEndpointConnectionName:
      in: path
      name: privateEndpointConnectionName
      description: Private Endpoint Connection Name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 87
        minLength: 1
        pattern: ^[a-zA-Z][a-zA-Z0-9-]*\.[a-fA-F0-9\-]+$
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- desktop-virtualization-api-client-openapi-original.yml
- notificationhubs-rp-client-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
