openapi: 3.2.0
info:
  title: Microsoft Azure Volumes API
  x-refined-note:
  - x-ms-code-generation-settings differs across the merged source definitions and was not carried
  - x-typespec-generated differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Volumes across 5 of this provider''s published API definitions: azure-containerstoragerp-openapi-original.yml, elasticsanmanagement-openapi-original.yml, microsoft-netapp-openapi-original.yml, seabreezemanagementclient-openapi-original.yml, storsimple8000seriesmanagementclient-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Volumes
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerStorage/pools/{poolName}/volumes
  : get:
      operationId: microsoftAzureVolumesListbypool
      tags:
      - Volumes
      description: List Volume resources by Pool
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: poolName
        in: path
        description: Pool Object
        required: true
        schema:
          type: string
          maxLength: 253
          minLength: 3
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Volumes_ListByPool:
          $ref: ./examples/Volumes_ListByPool.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerStorage/pools/{poolName}/volumes/{volumeName}
  : get:
      operationId: microsoftAzureVolumesGet
      tags:
      - Volumes
      description: Get a Volume
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: poolName
        in: path
        description: Pool Object
        required: true
        schema:
          type: string
          maxLength: 253
          minLength: 3
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]$
      - name: volumeName
        in: path
        description: Volume Resource
        required: true
        schema:
          type: string
          maxLength: 253
          minLength: 3
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Volumes_Get:
          $ref: ./examples/Volumes_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      operationId: microsoftAzureVolumesCreateorupdate
      tags:
      - Volumes
      description: Create a Volume
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: poolName
        in: path
        description: Pool Object
        required: true
        schema:
          type: string
          maxLength: 253
          minLength: 3
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]$
      - name: volumeName
        in: path
        description: Volume Resource
        required: true
        schema:
          type: string
          maxLength: 253
          minLength: 3
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]$
      responses:
        '200':
          description: Resource 'Volume' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume'
        '201':
          description: Resource 'Volume' create operation succeeded
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Volumes_CreateOrUpdate:
          $ref: ./examples/Volumes_CreateOrUpdate.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Volume'
        description: Resource create parameters.
        required: true
    patch:
      operationId: microsoftAzureVolumesUpdate
      tags:
      - Volumes
      description: Update a Volume
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: poolName
        in: path
        description: Pool Object
        required: true
        schema:
          type: string
          maxLength: 253
          minLength: 3
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]$
      - name: volumeName
        in: path
        description: Volume Resource
        required: true
        schema:
          type: string
          maxLength: 253
          minLength: 3
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume'
        '202':
          description: Resource update request accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Volumes_Update:
          $ref: ./examples/Volumes_Update.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VolumeUpdate'
        description: The resource properties to be updated.
        required: true
    delete:
      operationId: microsoftAzureVolumesDelete
      tags:
      - Volumes
      description: Delete a Volume
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: poolName
        in: path
        description: Pool Object
        required: true
        schema:
          type: string
          maxLength: 253
          minLength: 3
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]$
      - name: volumeName
        in: path
        description: Volume Resource
        required: true
        schema:
          type: string
          maxLength: 253
          minLength: 3
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]$
      responses:
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Volumes_Delete:
          $ref: ./examples/Volumes_Delete.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ElasticSan/elasticSans/{elasticSanName}/volumegroups/{volumeGroupName}/volumes/{volumeName}
  : put:
      tags:
      - Volumes
      description: Create a Volume.
      operationId: microsoftAzureVolumesCreate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ElasticSanNameParameter'
      - $ref: '#/components/parameters/VolumeGroupNameParameter'
      - $ref: '#/components/parameters/VolumeNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK -- Returned when the create operation is successfully completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume_2'
        '202':
          description: Accepted -- Create request accepted; operation will complete asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume_2'
        default:
          description: Error from the ElasticSan Resource Provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        Volumes_Create_MaximumSet_Gen:
          $ref: ./examples/Volumes_Create_MaximumSet_Gen.json
        Volumes_Create_MinimumSet_Gen:
          $ref: ./examples/Volumes_Create_MinimumSet_Gen.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Volume_2'
        description: Volume object.
        required: true
    patch:
      tags:
      - Volumes
      description: Update an Volume.
      operationId: microsoftAzureVolumesUpdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ElasticSanNameParameter'
      - $ref: '#/components/parameters/VolumeGroupNameParameter'
      - $ref: '#/components/parameters/VolumeNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK -- Returned when the update operation is successfully completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume_2'
        '202':
          description: Accepted -- Update request accepted; operation will complete asynchronously.
        default:
          description: Error from the ElasticSan Resource Provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        Volumes_Update_MaximumSet_Gen:
          $ref: ./examples/Volumes_Update_MaximumSet_Gen.json
        Volumes_Update_MinimumSet_Gen:
          $ref: ./examples/Volumes_Update_MinimumSet_Gen.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VolumeUpdate_2'
        description: Volume object.
        required: true
    delete:
      tags:
      - Volumes
      description: Delete an Volume.
      operationId: microsoftAzureVolumesDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ElasticSanNameParameter'
      - $ref: '#/components/parameters/VolumeGroupNameParameter'
      - $ref: '#/components/parameters/VolumeNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Delete operation completed successfully.
        '202':
          description: Delete request accepted; operation will complete asynchronously.
        '204':
          description: Resource does not exist in the subscription.
        default:
          description: Error from the ElasticSan Resource Provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        Volumes_Delete_MaximumSet_Gen:
          $ref: ./examples/Volumes_Delete_MaximumSet_Gen.json
        Volumes_Delete_MinimumSet_Gen:
          $ref: ./examples/Volumes_Delete_MinimumSet_Gen.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    get:
      tags:
      - Volumes
      description: Get an Volume.
      operationId: microsoftAzureVolumesGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ElasticSanNameParameter'
      - $ref: '#/components/parameters/VolumeGroupNameParameter'
      - $ref: '#/components/parameters/VolumeNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Operation completed successfully; retrieved Volume.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume_2'
        default:
          description: Error from the ElasticSan Resource Provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-examples:
        Volumes_Get_MaximumSet_Gen:
          $ref: ./examples/Volumes_Get_MaximumSet_Gen.json
        Volumes_Get_MinimumSet_Gen:
          $ref: ./examples/Volumes_Get_MinimumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ElasticSan/elasticSans/{elasticSanName}/volumegroups/{volumeGroupName}/volumes
  : get:
      tags:
      - Volumes
      description: List Volumes in a VolumeGroup.
      operationId: microsoftAzureVolumesListbyvolumegroup
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ElasticSanNameParameter'
      - $ref: '#/components/parameters/VolumeGroupNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Operation completed successfully; retrieved volumes in a volume group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeList'
        default:
          description: Error from the ElasticSan Resource Provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Volumes_ListByVolumeGroup_MaximumSet_Gen:
          $ref: ./examples/Volumes_ListByVolumeGroup_MaximumSet_Gen.json
        Volumes_ListByVolumeGroup_MinimumSet_Gen:
          $ref: ./examples/Volumes_ListByVolumeGroup_MinimumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes
  : get:
      summary: Microsoft Azure Describe All Volumes
      description: List all volumes within the capacity pool
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountName'
      - $ref: '#/components/parameters/PoolName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      tags:
      - Volumes
      operationId: microsoftAzureVolumesList
      x-ms-pageable:
        nextLinkName: nextLink
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/volumeList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Volumes_List:
          $ref: examples/Volumes_List.json
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}
  : get:
      tags:
      - Volumes
      operationId: microsoftAzureVolumesGet
      summary: Microsoft Azure Describe A Volume
      description: Get the details of the specified volume
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountName'
      - $ref: '#/components/parameters/PoolName'
      - $ref: '#/components/parameters/VolumeName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/volume'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Volumes_Get:
          $ref: examples/Volumes_Get.json
    put:
      tags:
      - Volumes
      operationId: microsoftAzureVolumesCreateorupdate
      summary: Microsoft Azure Create Or Update A Volume
      description: Create or update the specified volume within the capacity pool
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountName'
      - $ref: '#/components/parameters/PoolName'
      - $ref: '#/components/parameters/VolumeName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Ok - volume updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/volume'
        '201':
          description: Volume created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/volume'
        '202':
          description: Accepted -- Create request accepted; operation will complete asynchronously
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        Volumes_CreateOrUpdate:
          $ref: examples/Volumes_CreateOrUpdate.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/volume'
        description: Volume object supplied in the body of the operation.
        required: true
    patch:
      tags:
      - Volumes
      operationId: microsoftAzureVolumesUpdate
      summary: Microsoft Azure Update A Volume
      description: Patch the specified volume
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountName'
      - $ref: '#/components/parameters/PoolName'
      - $ref: '#/components/parameters/VolumeName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/volume'
        '202':
          description: Accepted -- Create or update request accepted; operation will complete asynchronously
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        Volumes_Update:
          $ref: examples/Volumes_Update.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/volumePatch'
        description: Volume object supplied in the body of the operation.
        required: true
    delete:
      tags:
      - Volumes
      operationId: microsoftAzureVolumesDelete
      summary: Microsoft Azure Delete A Volume
      description: Delete the specified volume
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountName'
      - $ref: '#/components/parameters/PoolName'
      - $ref: '#/components/parameters/VolumeName'
      - in: query
        name: forceDelete
        description: An option to force delete the volume. Will cleanup resources connected to the particular volume
        required: false
        schema:
          type: boolean
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '202':
          description: Accepted -- Delete request accepted; operation will complete asynchronously
        '204':
          description: NoContent -- Resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        Volumes_Delete:
          $ref: examples/Volumes_Delete.json
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/populateAvailabilityZone
  : post:
      tags:
      - Volumes
      summary: Microsoft Azure Populate Availability Zone
      description: This operation will populate availability zone information for a volume
      operationId: microsoftAzureVolumesPopulateavailabilityzone
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountName'
      - $ref: '#/components/parameters/PoolName'
      - $ref: '#/components/parameters/VolumeName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/volume'
        '202':
          description: Accepted -- populate availability zone accepted; operation will complete asynchronously
          headers:
            Location:
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        Volumes_PopulateAvailabilityZones:
          $ref: examples/Volumes_PopulateAvailabilityZones.json
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/volumes/{volumeName}
  : put:
      operationId: microsoftAzureVolumeCreate
      x-ms-examples:
        VolumeCreate:
          $ref: ./examples/VolumeCreate.json
      summary: Microsoft Azure Creates Or Updates A Volume Resource
      description: Creates a volume resource with the specified name and description. If a volume with the same name already exists, then its description is updated to the one indicated in this request.
      parameters:
      - $ref: '#/components/parameters/subscriptionIdRequiredPathParam'
      - $ref: '#/components/parameters/api-versionRequiredQueryParam'
      - $ref: '#/components/parameters/ResourceGroupNameRequiredPathParam'
      - $ref: '#/components/parameters/VolumeNameRequiredPathParam'
      - $ref: '#/components/parameters/VolumeResourceDescriptionRequiredBodyParam'
      tags:
      - Volumes
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeResourceDescription'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeResourceDescription'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
    get:
      operationId: microsoftAzureVolumeGet
      x-ms-examples:
        VolumeGet:
          $ref: ./examples/VolumeGet.json
      summary: Microsoft Azure Gets The Volume Resource
      description: Gets the information about the volume resource with a given name. This information includes the volume description and other runtime information.
      parameters:
      - $ref: '#/components/parameters/subscriptionIdRequiredPathParam'
      - $ref: '#/components/parameters/api-versionRequiredQueryParam'
      - $ref: '#/components/parameters/ResourceGroupNameRequiredPathParam'
      - $ref: '#/components/parameters/VolumeNameRequiredPathParam'
      tags:
      - Volumes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeResourceDescription'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
    delete:
      operationId: microsoftAzureVolumeDelete
      x-ms-examples:
        VolumeDelete:
          $ref: ./examples/VolumeDelete.json
      summary: Microsoft Azure Deletes The Volume Resource
      description: Deletes the volume identified by the name.
      parameters:
      - $ref: '#/components/parameters/subscriptionIdRequiredPathParam'
      - $ref: '#/components/parameters/api-versionRequiredQueryParam'
      - $ref: '#/components/parameters/ResourceGroupNameRequiredPathParam'
      - $ref: '#/components/parameters/VolumeNameRequiredPathParam'
      tags:
      - Volumes
      responses:
        '200':
          description: OK
        '204':
          description: No Content - the specified volume was not found.
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/volumes:
    get:
      operationId: microsoftAzureVolumeListbyresourcegroup
      x-ms-examples:
        VolumesList:
          $ref: ./examples/VolumesByResourceGroup.json
      summary: Microsoft Azure Gets All The Volume Resources In A Given Resource Group
      description: Gets the information about all volume resources in a given resource group. The information includes the volume description and other runtime information.
      parameters:
      - $ref: '#/components/parameters/subscriptionIdRequiredPathParam'
      - $ref: '#/components/parameters/api-versionRequiredQueryParam'
      - $ref: '#/components/parameters/ResourceGroupNameRequiredPathParam'
      tags:
      - Volumes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeResourceDescriptionList'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      x-ms-pageable:
        nextLinkName: nextLink
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabricMesh/volumes:
    get:
      operationId: microsoftAzureVolumeListbysubscription
      x-ms-examples:
        VolumesList:
          $ref: ./examples/VolumesBySubscriptionId.json
      summary: Microsoft Azure Gets All The Volume Resources In A Given Subscription
      description: Gets the information about all volume resources in a given subscription. The information includes the volume description and other runtime information.
      parameters:
      - $ref: '#/components/parameters/subscriptionIdRequiredPathParam'
      - $ref: '#/components/parameters/api-versionRequiredQueryParam'
      tags:
      - Volumes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeResourceDescriptionList'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      x-ms-pageable:
        nextLinkName: nextLink
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/volumeContainers/{volumeContainerName}/volumes
  : get:
      tags:
      - Volumes
      description: Retrieves all the volumes in a volume container.
      operationId: microsoftAzureVolumesListbyvolumecontainer
      parameters:
      - $ref: '#/components/parameters/deviceNameParameter'
      - name: volumeContainerName
        in: path
        description: The volume container name.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of volumes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeList_2'
      deprecated: false
      x-ms-pageable:
        nextLinkName: null
      x-ms-examples:
        VolumesListByVolumeContainer:
          $ref: ./examples/VolumesListByVolumeContainer.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/volumeContainers/{volumeContainerName}/volumes/{volumeName}
  : get:
      tags:
      - Volumes
      description: Returns the properties of the specified volume name.
      operationId: microsoftAzureVolumesGet
      parameters:
      - $ref: '#/components/parameters/deviceNameParameter'
      - name: volumeContainerName
        in: path
        description: The volume container name.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: volumeName
        in: path
        description: The volume name.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The volume.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume_3'
      deprecated: false
      x-ms-examples:
        VolumesGet:
          $ref: ./examples/VolumesGet.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Volumes
      description: Creates or updates the volume.
      operationId: microsoftAzureVolumesCreateorupdate
      parameters:
      - $ref: '#/components/parameters/deviceNameParameter'
      - name: volumeContainerName
        in: path
        description: The volume container name.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: volumeName
        in: path
        description: The volume name.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully created or updated the volume.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume_3'
        '202':
          description: Accepted the request to create or update the volume.
      deprecated: false
      x-ms-long-running-operation: true
      x-ms-examples:
        VolumesCreateOrUpdate:
          $ref: ./examples/VolumesCreateOrUpdate.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Volume_3'
        description: Volume to be created or updated.
        required: true
    delete:
      tags:
      - Volumes
      description: Deletes the volume.
      operationId: microsoftAzureVolumesDelete
      parameters:
      - $ref: '#/components/parameters/deviceNameParameter'
      - name: volumeContainerName
        in: path
        description: The volume container name.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: volumeName
        in: path
        description: The volume name.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to create or update the volume.
        '204':
          description: Successfully deleted the volume.
      deprecated: false
      x-ms-long-running-operation: true
      x-ms-examples:
        VolumesDelete:
          $ref: ./examples/VolumesDelete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/volumeContainers/{volumeContainerName}/volumes/{volumeName}/metrics
  : get:
      tags:
      - Volumes
      description: Gets the metrics for the specified volume.
      operationId: microsoftAzureVolumesListmetrics
      parameters:
      - $ref: '#/components/parameters/deviceNameParameter'
      - name: volumeContainerName
        in: path
        description: The volume container name.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: volumeName
        in: path
        description: The volume name.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      - name: $filter
        in: query
        description: OData Filter options
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The collection of metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricList'
      deprecated: false
      x-ms-odata: '#/definitions/MetricFilter'
      x-ms-pageable:
        nextLinkName: null
      x-ms-examples:
        VolumesListMetrics:
          $ref: ./examples/VolumesListMetrics.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/volumeContainers/{volumeContainerName}/volumes/{volumeName}/metricsDefinitions
  : get:
      tags:
      - Volumes
      description: Gets the metric definitions for the specified volume.
      operationId: microsoftAzureVolumesListmetricdefinition
      parameters:
      - $ref: '#/components/parameters/deviceNameParameter'
      - name: volumeContainerName
        in: path
        description: The volume container name.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: volumeName
        in: path
        description: The volume name.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of metric definitions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricDefinitionList'
      deprecated: false
      x-ms-pageable:
        nextLinkName: null
      x-ms-examples:
        VolumesListMetricDefinition:
          $ref: ./examples/VolumesListMetricDefinition.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/volumes
  : get:
      tags:
      - Volumes
      description: Retrieves all the volumes in a device.
      operationId: microsoftAzureVolumesListbydevice
      parameters:
      - $ref: '#/components/parameters/deviceNameParameter'
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of volumes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeList_2'
      deprecated: false
      x-ms-pageable:
        nextLinkName: null
      x-ms-examples:
        VolumesListByDevice:
          $ref: ./examples/VolumesListByDevice.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
components:
  schemas:
    VolumeType:
      type: object
      description: Properties of the volume
      properties:
        elasticSan:
          $ref: '#/components/schemas/ElasticSanVolumeProperties'
          description: Properties of the ElasticSAN iSCSI target
          readOnly: true
    ProvisioningState:
      type: string
      description: Provisioning state of the resource.
      enum:
      - Succeeded
      - Failed
      - Canceled
      - Provisioning
      - Updating
      - Deleting
      - Accepted
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: Succeeded
          value: Succeeded
          description: Resource has been created.
        - name: Failed
          value: Failed
          description: Resource creation failed.
        - name: Canceled
          value: Canceled
          description: Resource creation was canceled.
        - name: Provisioning
          value: Provisioning
          description: The resource is being provisioned
        - name: Updating
          value: Updating
          description: The resource is updating
        - name: Deleting
          value: Deleting
          description: The resource is being deleted
        - name: Accepted
          value: Accepted
          description: The resource create request has been accepted
    ElasticSanVolumeProperties:
      type: object
      description: Properties of the ElasticSAN iSCSI target
      properties:
        targetIqn:
          type: string
          description: 'iSCSI Target IQN (iSCSI Qualified Name); example: "iqn.2005-03.org.iscsi:server"'
        targetPortalHostname:
          type: string
          description: iSCSI Target Portal Host Name
        targetPortalPort:
          type: integer
          format: int32
          description: iSCSI Target Portal Port
      required:
      - targetIqn
      - targetPortalHostname
      - targetPortalPort
    ResourceOperationalStatus:
      type: object
      description: Status of the resource
      properties:
        state:
          $ref: '#/components/schemas/ResourceOperationStatusState'
          description: state of the resource
        message:
          type: string
          description: Reason for state.
      required:
      - state
    Volume:
      type: object
      description: Concrete proxy resource types can be created by aliasing this type using a specific property type.
      properties:
        properties:
          $ref: '#/components/schemas/VolumeProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
    VolumeUpdateProperties:
      type: object
      description: The updatable properties of the Volume.
      properties:
        labels:
          type: object
          description: String KV pairs indicating labels
          additionalProperties:
            type: string
        capacityGiB:
          type: integer
          format: int64
          description: Requested capacity in GiB
          minimum: 1
          maximum: 65536
    ResourceOperationStatusState:
      type: string
      description: State of the resource.
      enum:
      - Pending
      - Available
      - Unavailable
      x-ms-enum:
        name: ResourceOperationStatusState
        modelAsString: true
        values:
        - name: Pending
          value: Pending
          description: The resource is pending.
        - name: Available
          value: Available
          description: The resource is available.
        - name: Unavailable
          value: Unavailable
          description: The resource is unavailable.
    VolumeUpdate:
      type: object
      description: The type used for update operations of the Volume.
      properties:
        properties:
          $ref: '#/components/schemas/VolumeUpdateProperties'
          x-ms-client-flatten: true
    VolumeListResult:
      type: object
      description: The response of a Volume list operation.
      properties:
        value:
          type: array
          description: The Volume items on this page
          items:
            $ref: '#/components/schemas/Volume'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    VolumeProperties:
      type: object
      description: Volume Properties
      properties:
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The status of the last operation.
          readOnly: true
        status:
          $ref: '#/components/schemas/ResourceOperationalStatus'
          description: The status of the resource.
          readOnly: true
        labels:
          type: object
          description: String KV pairs indicating labels
          additionalProperties:
            type: string
        capacityGiB:
          type: integer
          format: int64
          description: Requested capacity in GiB
          minimum: 1
          maximum: 65536
        volumeType:
          $ref: '#/components/schemas/VolumeType'
          description: Properties of the volume
          readOnly: true
      required:
      - labels
      - capacityGiB
    SourceCreationData:
      type: object
      description: Data source used when creating the volume.
      properties:
        createSource:
          type: string
          enum:
          - None
          x-ms-enum:
            name: VolumeCreateOption
            modelAsString: false
          description: This enumerates the possible sources of a volume creation.
        sourceUri:
          type: string
          description: If createOption is Copy, this is the ARM id of the source snapshot or disk. If createOption is Restore, this is the ARM-like id of the source disk restore point.
    ProvisioningState_2:
      type: string
      enum:
      - Invalid
      - Succeeded
      - Failed
      - Canceled
      - Pending
      - Creating
      - Updating
      - Deleting
      x-ms-enum:
        name: ProvisioningStates
        modelAsString: true
      description: Provisioning state of the iSCSI Target.
      readOnly: true
    VolumeList:
      type: object
      required:
      - value
      description: List of Volumes
      additionalProperties: false
      properties:
        value:
          description: An array of Volume objects.
          type: array
          items:
            $ref: '#/components/schemas/Volume_2'
        nextLink:
          description: URI to fetch the next section of the paginated response.
          type: string
          readOnly: true
    IscsiTargetInfo:
      type: object
      description: Iscsi target information
      readOnly: true
      properties:
        targetIqn:
          type: string
          description: 'iSCSI Target IQN (iSCSI Qualified Name); example: "iqn.2005-03.org.iscsi:server".'
          readOnly: true
        targetPortalHostname:
          type: string
          description: iSCSI Target Portal Host Name
          readOnly: true
        targetPortalPort:
          type: integer
          format: int32
          description: iSCSI Target Portal Port
          readOnly: true
        provisioningState:
          description: State of the operation on the resource.
          $ref: '#/components/schemas/ProvisioningState_2'
        status:
          $ref: '#/components/schemas/OperationalStatus'
          description: Operational status of the iSCSI Target.
    VolumeUpdateProperties_2:
      type: object
      description: Volume response properties.
      properties:
        sizeGiB:
          description: Volume size.
          type: integer
          format: int64
    ErrorAdditionalInfo:
      description: The resource management error additional info.
      type: object
      x-ms-identifiers: []
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
    Error:
      type: object
      description: The resource management error response.
      properties:
        error:
          description: RP error response.
          $ref: '#/components/schemas/ErrorResponse'
    VolumeUpdate_2:
      type: object
      description: Response for Volume request.
      properties:
        properties:
          x-ms-client-flatten: true
          description: Properties of Volume.
          $ref: '#/components/schemas/VolumeUpdateProperties_2'
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
    OperationalStatus:
      type: string
      enum:
      - Invalid
      - Unknown
      - Healthy
      - Unhealthy
      - Updating
      - Running
      - Stopped
      - Stopped (deallocated)
      x-ms-enum:
        name: OperationalStatus
        modelAsString: true
      description: Operational status of the resource.
    Resource:
      type: object
      properties:
        id:
          type: string
          description: Azure resource identifier.
          readOnly: true
        name:
          type: string
          description: Azure resource name.
          readOnly: true
        type:
          type: string
          description: Azure resource type.
          readOnly: true
        tags:
          type: object
          description: Azure resource tags.
          additionalProperties:
            type: string
      description: The resource model definition.
      x-ms-azure-resource: true
    ErrorResponse:
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponse'
          x-ms-identifiers: []
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          x-ms-identifiers: []
          description: The error additional info.
      description: The resource management error response.
    Volume_2:
      type: object
      description: Response for Volume request.
      properties:
        properties:
          x-ms-client-flatten: true
          description: Properties of Volume.
          $ref: '#/components/schemas/VolumeProperties_2'
        systemData:
          description: Resource metadata required by ARM RPC
          readOnly: true
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
      allOf:
      - $ref: '#/components/schemas/Resource'
    VolumeProperties_2:
      type: object
      description: Volume response properties.
      properties:
        volumeId:
          description: Unique Id of the volume in GUID format
          type: string
          readOnly: true
        creationData:
          description: State of the operation on the resource.
          $ref: '#/components/schemas/SourceCreationData'
        sizeGiB:
          description: Volume size.
          type: integer
          format: int64
        storageTarget:
          description: Storage target information
          $ref: '#/components/schemas/IscsiTargetInfo'
    volumeList:
      description: List of volume resources
      type: object
      properties:
        value:
          description: List of volumes
          type: array
          items:
            $ref: '#/components/schemas/volume'
        nextLink:
          type: string
          description: URL to get the next set of results.
    smbNonBrowsable:
      title: smbNonBrowsable
      type: string
      description: Enables non-browsable property for SMB Shares. Only applicable for SMB/DualProtocol volume
      enum:
      - Disabled
      - Enabled
      x-ms-enum:
        name: smbNonBrowsable
        modelAsString: true
        values:
        - value: Disabled
          description: smbNonBrowsable share setting is disabled
        - value: Enabled
          description: smbNonBrowsable share setting is enabled
      example: Enabled
    placementKeyValuePairs:
      description: Application specific parameters for the placement of volumes in the volume group
      type: object
      required:
      - key
      - value
      properties:
        key:
          type: string
          description: Key for an application specific parameter for the placement of volumes in the volume group
          example: key1
        value:
          type: string
          description: Value for an application specific parameter for the placement of volumes in the volume group
          example: value1
    resourceTags:
      type: object
      additionalProperties:
        type: string
      description: Tags are a list of key-value pairs that describe the resource
    volumePatchProperties:
      description: Patchable volume properties
      type: object
      properties:
        serviceLevel:
          title: serviceLevel
          $ref: '#/components/schemas/serviceLevel'
        usageThreshold:
          title: usageThreshold
          type: integer
          format: int64
          description: Maximum storage quota allowed for a file system in bytes. This is a soft quota used for alerting only. Minimum size is 100 GiB. Upper limit is 100TiB, 500Tib for LargeVolume or 2400Tib for LargeVolume on exceptional basis. Specified in bytes.
          minimum: 107374182400
          maximum: 2638827906662400
          default: 107374182400
          example: 107374182400
        exportPolicy:
          title: exportPolicy
          description: Set of export policy rules
          properties:
            rules:
              title: Export policy rule
              description: Export policy rule
              type: array
              items:
                $ref: '#/components/schemas/exportPolicyRule'
              x-ms-identifiers:
              - ruleIndex
        throughputMibps:
          title: Maximum throughput in MiB/s that can be achieved by this volume and this will be accepted as input only for manual qosType volume
          type: number
          example: 128.22
        dataProtection:
          title: DataProtection
          description: DataProtection type volumes include an object containing details of the replication
          properties:
            backup:
              title: Backup
              description: Backup Properties
              type: object
              $ref: '#/components/schemas/volumeBackupProperties'
            snapshot:
              title: Snapshot
              description: Snapshot properties.
              $ref: '#/components/schemas/volumeSnapshotProperties'
        isDefaultQuotaEnabled:
          type: boolean
          description: Specifies if default quota is enabled for the volume.
          example: false
          default: false
        defaultUserQuotaInKiBs:
          type: integer
          format: int64
          description: Default user quota for volume in KiBs. If isDefaultQuotaEnabled is set, the minimum value of 4 KiBs applies .
          example: 4
          default: 0
        defaultGroupQuotaInKiBs:
          type: integer
          format: int64
          description: Default group quota for volume in KiBs. If isDefaultQuotaEnabled is set, the minimum value of 4 KiBs applies.
          example: 4
          default: 0
        unixPermissions:
          type:
          - string
          - 'null'
          description: 'UNIX permissions for NFS volume accepted in octal 4 digit format. First digit selects the set user ID(4), set group ID (2) and sticky (1) attributes. Second digit selects permission for the owner of the file: read (4), write (2) and execute (1). Third selects permissions for other users in the same group. the fourth for other users not in the group. 0755 - gives read/write/execute permissions to owner and read/execute to group and other users.'
          minLength: 4
          maxLength: 4
          example: '0770'
        coolAccess:
          type: boolean
          description: Specifies whether Cool Access(tiering) is enabled for the volume.
          example: false
        coolnessPeriod:
          type: integer
          description: Specifies the number of days after which data that is not accessed by clients will be tiered.
          example: 7
          minimum: 7
          maximum: 183
          format: int32
        coolAccessRetrievalPolicy:
          $ref: '#/components/schemas/coolAccessRetrievalPolicy'
        snapshotDirectoryVisible:
          type: boolean
          description: If enabled (true) the volume will contain a read-only snapshot directory which provides access to each of the volume's snapshots.
        smbAccessBasedEnumeration:
          $ref: '#/components/schemas/smbAccessBasedEnumeration'
        smbNonBrowsable:
          $ref: '#/components/schemas/smbNonBrowsable'
    replicationObject:
      description: Replication properties
      type: object
      required:
      - remoteVolumeResourceId
      properties:
        replicationId:
          type: string
          description: Id
          readOnly: true
        endpointType:
          type: string
          description: Indicates whether the local volume is the source or destination for the Volume Replication
          enum:
          - src
          - dst
          x-ms-enum:
            name: EndpointType
            modelAsString: true
        replicationSchedule:
          type: string
          description: Schedule
          enum:
          - _10minutely
          - hourly
          - daily
          x-ms-enum:
            name: ReplicationSchedule
            modelAsString: true
        remoteVolumeResourceId:
          type: string
          description: The resource ID of the remote volume. Required for cross region and cross zone replication
          x-ms-mutability:
          - read
          - create
        remotePath:
          description: The full path to a volume that is to be migrated into ANF. Required for Migration volumes
          type: object
          $ref: '#/components/schemas/remotePath'
          x-ms-mutability:
          - read
          - create
        remoteVolumeRegion:
          type: string
          description: The remote region for the other end of the Volume Replication.
    networkFeatures:
      title: Network features
      description: Network features available to the volume, or current state of update.
      type: string
      enum:
      - Basic
      - Standard
      - Basic_Standard
      - Standard_Basic
      x-ms-enum:
        name: NetworkFeatures
        modelAsString: true
        values:
        - value: Basic
          description: Basic network features.
        - value: Standard
          description: Standard network features.
        - value: Basic_Standard
          description: Updating from Basic to Standard network features.
        - value: Standard_Basic
          description: Updating from Standard to Basic network features.
      example: Standard
      default: Basic
    volumePatch:
      description: Volume patch resource
      type: object
      x-ms-azure-resource: true
      properties:
        location:
          type: string
          description: Resource location
        id:
          type: string
          readOnly: true
          description: Resource Id
        name:
          type: string
          readOnly: true
          description: Resource name
        type:
          type: string
          readOnly: true
          description: Resource type
        tags:
          description: Resource tags
          $ref: '#/components/schemas/resourceTags'
        properties:
          description: Patchable volume properties
          $ref: '#/components/schemas/volumePatchProperties'
          x-ms-client-flatten: true
    volumeRelocationProperties:
      description: Volume relocation properties
      type: object
      properties:
        relocationRequested:
          type: boolean
          description: Has relocation been requested for this volume
        readyToBeFinalized:
          type: boolean
          readOnly: true
          description: Has relocation finished and is ready to be cleaned up
    remotePath:
      description: The full path to a volume that is to be migrated into ANF. Required for Migration volumes
      type: object
      required:
      - externalHostName
      - serverName
      - volumeName
      properties:
        externalHostName:
          type: string
          description: The Path to a ONTAP Host
        serverName:
          type: string
          description: The name of a server on the ONTAP Host
        volumeName:
          type: string
          description: The name of a volume on the server
    coolAccessRetrievalPolicy:
      type: string
      description: "coolAccessRetrievalPolicy determines the data retrieval behavior from the cool tier to standard storage based on the read pattern for cool access enabled volumes. The possible values for this field are: \n Default - Data will be pulled from cool tier to standard storage on random reads. This policy is the default.\n OnRead - All client-driven data read is pulled from cool tier to standard storage on both sequential and random reads.\n Never - No client-driven data is pulled from cool tier to standard storage."
      enum:
      - Default
      - OnRead
      - Never
      x-ms-enum:
        name: coolAccessRetrievalPolicy
        modelAsString: true
    mountTargetProperties:
      description: Mount target properties
      type: object
      required:
      - fileSystemId
      properties:
        mountTargetId:
          title: mountTargetId
          type: string
          readOnly: true
          description: UUID v4 used to identify the MountTarget
          pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
          maxLength: 36
          minLength: 36
          example: 9760acf5-4638-11e7-9bdb-020073ca3333
        fileSystemId:
          title: fileSystemId
          type: string
          description: UUID v4 used to identify the MountTarget
          pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
          maxLength: 36
          minLength: 36
          example: 9760acf5-4638-11e7-9bdb-020073ca3333
        ipAddress:
          title: ipAddress
          description: The mount target's IPv4 address
          type: string
          readOnly: true
          example: 1.2.3.4
        smbServerFqdn:
          title: smbServerFQDN
          description: The SMB server's Fully Qualified Domain Name, FQDN
          type: string
          example: fullyqualified.domainname.com
    volume:
      description: Volume resource
      type: object
      required:
      - location
      - properties
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource
      properties:
        etag:
          readOnly: true
          type: string
          description: A unique read-only string that changes whenever the resource is updated.
        zones:
          type: array
          description: Availability Zone
          x-ms-mutability:
          - read
          - create
          items:
            type: string
            maxLength: 255
            minLength: 1
            example: '1'
        properties:
          description: Volume properties
          $ref: '#/components/schemas/volumeProperties'
          x-ms-client-flatten: true
    smbAccessBasedEnumeration:
      title: smbAccessBasedEnumeration
      type:
      - string
      - 'null'
      description: Enables access-based enumeration share property for SMB Shares. Only applicable for SMB/DualProtocol volume
      enum:
      - Disabled
      - Enabled
      x-ms-enum:
        name: smbAccessBasedEnumeration
        modelAsString: true
        values:
        - value: Disabled
          description: smbAccessBasedEnumeration share setting is disabled
        - value: Enabled
          description: smbAccessBasedEnumeration share setting is enabled
      example: Enabled
    volumeSnapshotProperties:
      description: Volume Snapshot Properties
      type: object
      properties:
        snapshotPolicyId:
          type: string
          description: Snapshot Policy ResourceId
    volumeBackupProperties:
      description: Volume Backup Properties
      type: object
      properties:
        backupPolicyId:
          type: string
          description: Backup Policy Resource ID
        policyEnforced:
          type: boolean
          description: Policy Enforced
        backupEnabled:
          type: boolean
          description: Backup Enabled
        backupVaultId:
          type: string
          description: Backup Vault Resource ID
    exportPolicyRule:
      description: Volume Export Policy Rule
      type: object
      properties:
        ruleIndex:
          type: integer
          description: Order index
          format: int32
        unixReadOnly:
          type: boolean
          description: Read only access
        unixReadWrite:
          type: boolean
          description: Read and write access
        kerberos5ReadOnly:
          type: boolean
          description: Kerberos5 Read only access. To be use with swagger version 2020-05-01 or later
          example: false
          default: false
        kerberos5ReadWrite:
          type: boolean
          description: Kerberos5 Read and write access. To be use with swagger version 2020-05-01 or later
          example: false
          default: false
        kerberos5iReadOnly:
          type: boolean
          description: Kerberos5i Read only access. To be use with swagger version 2020-05-01 or later
          example: false
          default: false
        kerberos5iReadWrite:
          type: boolean
          description: Kerberos5i Read and write access. To be use with swagger version 2020-05-01 or later
          example: false
          default: false
        kerberos5pReadOnly:
          type: boolean
          description: Kerberos5p Read only access. To be use with swagger version 2020-05-01 or later
          example: false
          default: false
        kerberos5pReadWrite:
          type: boolean
          description: Kerberos5p Read and write access. To be use with swagger version 2020-05-01 or later
          example: false
          default: false
        cifs:
          type: boolean
          description: Allows CIFS protocol
        nfsv3:
          type: boolean
          description: Allows NFSv3 protocol. Enable only for NFSv3 type volumes
        nfsv41:
          type: boolean
          description: Allows NFSv4.1 protocol. Enable only for NFSv4.1 type volumes
        allowedClients:
          type: string
          description: Client ingress specification as comma separated string with IPv4 CIDRs, IPv4 host addresses and host names
        hasRootAccess:
          type: boolean
          description: Has root access to volume
          example: true
          default: true
        chownMode:
          type: string
          description: This parameter specifies who is authorized to change the ownership of a file. restricted - Only root user can change the ownership of the file. unrestricted - Non-root users can change ownership of files that they own.
          default: Restricted
          enum:
          - Restricted
          - Unrestricted
          x-ms-enum:
            name: ChownMode
            modelAsString: true
    volumeProperties:
      description: Volume properties
      type: object
      required:
      - creationToken
      - usageThreshold
      - subnetId
      properties:
        fileSystemId:
          title: FileSystem ID
          type: string
          readOnly: true
          description: Unique FileSystem Identifier.
          pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
          maxLength: 36
          minLength: 36
          example: 9760acf5-4638-11e7-9bdb-020073ca7778
        creationToken:
          title: Creation Token or File Path
          type: string
          description: A unique file path for the volume. Used when creating mount targets
          pattern: ^[a-zA-Z][a-zA-Z0-9\-]{0,79}$
          minLength: 1
          maxLength: 80
          example: some-amazing-filepath
        serviceLevel:
          title: serviceLevel
          $ref: '#/components/schemas/serviceLevel'
        usageThreshold:
          title: usageThreshold
          type: integer
          format: int64
          description: Maximum storage quota allowed for a file system in bytes. This is a soft quota used for alerting only. Minimum size is 100 GiB. Upper limit is 100TiB, 500Tib for LargeVolume or 2400Tib for LargeVolume on exceptional basis. Specified in bytes.
          minimum: 107374182400
          maximum: 2638827906662400
          default: 107374182400
          example: 107374182400
        exportPolicy:
          title: exportPolicy
          description: Set of export policy rules
          properties:
            rules:
              title: Export policy rule
              description: Export policy rule
              type: array
              items:
                $ref: '#/components/schemas/exportPolicyRule'
              x-ms-identifiers:
              - ruleIndex
        protocolTypes:
          title: protocolTypes
          description: Set of protocol types, default NFSv3, CIFS for SMB protocol
          type: array
          items:
            type: string
          example:
          - NFSv4.1
        provisioningState:
          type: string
          readOnly: true
          description: Azure lifecycle management
        snapshotId:
          title: Snapshot ID
          type:
          - string
          - 'null'
          x-ms-mutability:
          - read
          - create
          description: UUID v4 or resource identifier used to identify the Snapshot.
          example: 9760acf5-4638-11e7-9bdb-020073ca3333
        deleteBaseSnapshot:
          type: boolean
          description: If enabled (true) the snapshot the volume was created from will be automatically deleted after the volume create operation has finished.  Defaults to false
        backupId:
          title: Backup ID
          type:
          - string
          - 'null'
          x-ms-mutability:
          - read
          - create
          description: UUID v4 or resource identifier used to identify the Backup.
          example: 9760acf5-4638-11e7-9bdb-020073ca3333
        baremetalTenantId:
          title: Baremetal Tenant ID
          type: string
          readOnly: true
          description: Unique Baremetal Tenant Identifier.
          example: 9560acf5-4e3a-12e7-9bdb-02007cca7779
        subnetId:
          type: string
          description: The Azure Resource URI for a delegated subnet. Must have the delegation Microsoft.NetApp/volumes
        networkFeatures:
          $ref: '#/components/schemas/networkFeatures'
        networkSiblingSetId:
          title: Network Sibling Set ID
          description: Network Sibling Set ID for the the group of volumes sharing networking resources.
          type: string
          readOnly: true
          pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
          maxLength: 36
          minLength: 36
          example: 9760acf5-4638-11e7-9bdb-020073ca3333
        storageToNetworkProximity:
          title: Storage to Network Proximity
          description: Provides storage to network proximity information for the volume.
          type: string
          enum:
          - Default
          - T1
          - T2
          - AcrossT2
          readOnly: true
          x-ms-enum:
            name: VolumeStorageToNetworkProximity
            modelAsString: true
            values:
            - value: Default
              description: Basic storage to network connectivity.
            - value: T1
              description: Standard T1 storage to network connectivity.
            - value: T2
              description: Standard T2 storage to network connectivity.
            - value: AcrossT2
              description: Standard AcrossT2 storage to network connectivity.
          example: T1
        mountTargets:
          title: mountTargets
          type: array
          readOnly: true
          description: List of mount targets
          items:
            $ref: '#/components/schemas/mountTargetProperties'
          x-ms-identifiers:
          - fileSystemId
        volumeType:
          type: string
          description: What type of volume is this. For destination volumes in Cross Region Replication, set type to DataProtection. For creating clone volume, set type to ShortTermClone
          example: DataProtection
        dataProtection:
          title: DataProtection
          description: DataProtection type volumes include an object containing details of the replication
          properties:
            backup:
              title: Backup
              description: Backup Properties
              type: object
              $ref: '#/components/schemas/volumeBackupProperties'
            replication:
              title: Replication
              description: Replication properties
              type: object
              $ref: '#/components/schemas/replicationObject'
            snapshot:
              title: Snapshot
              description: Snapshot properties.
              $ref: '#/components/schemas/volumeSnapshotProperties'
            volumeRelocation:
              title: VolumeRelocation
              description: VolumeRelocation properties
              type: object
              $ref: '#/components/schemas/volumeRelocationProperties'
        isRestoring:
          type: boolean
          description: Restoring
        snapshotDirectoryVisible:
          type: boolean
          default: true
          description: If enabled (true) the volume will contain a read-only snapshot directory which provides access to each of the volume's snapshots (defaults to true).
        kerberosEnabled:
          type: boolean
          description: Describe if a volume is KerberosEnabled. To be use with swagger version 2020-05-01 or later
          x-ms-mutability:
          - read
          - create
          example: false
          default: false
        securityStyle:
          type: string
          description: The security style of volume, default unix, defaults to ntfs for dual protocol or CIFS protocol
          default: unix
          enum:
          - ntfs
          - unix
          x-ms-enum:
            name: SecurityStyle
            modelAsString: true
        smbEncryption:
          type: boolean
          description: Enables encryption for in-flight smb3 data. Only applicable for SMB/DualProtocol volume. To be used with swagger version 2020-08-01 or later
          example: false
          default: false
        smbAccessBasedEnumeration:
          $ref: '#/components/schemas/smbAccessBasedEnumeration'
        smbNonBrowsable:
          $ref: '#/components/schemas/smbNonBrowsable'
        smbContinuouslyAvailable:
          type: boolean
          description: Enables continuously available share property for smb volume. Only applicable for SMB volume
          example: false
          default: false
        throughputMibps:
          title: Maximum throughput in MiB/s that can be achieved by this volume and this will be accepted as input only for manual qosType volume
          type:
          - number
          - 'null'
          example: 128.223
        actualThroughputMibps:
          type: number
          description: Actual throughput in MiB/s for auto qosType volumes calculated based on size and serviceLevel
          example: 164.221
          readOnly: true
        encryptionKeySource:
          description: 'Source of key used to encrypt data in volume. Applicable if NetApp account has encryption.keySource = ''Microsoft.KeyVault''. Possible values (case-insensitive) are: ''Microsoft.NetApp, Microsoft.KeyVault'''
          type: string
          enum:
          - Microsoft.NetApp
          - Microsoft.KeyVault
          x-ms-enum:
            name: EncryptionKeySource
            modelAsString: true
            values:
            - value: Microsoft.NetApp
              description: Microsoft-managed key encryption
            - value: Microsoft.KeyVault
              description: Customer-managed key encryption
          default: Microsoft.NetApp
        keyVaultPrivateEndpointResourceId:
          type: string
          description: The resource ID of private endpoint for KeyVault. It must reside in the same VNET as the volume. Only applicable if encryptionKeySource = 'Microsoft.KeyVault'.
        ldapEnabled:
          type: boolean
          description: Specifies whether LDAP is enabled or not for a given NFS volume.
          example: false
          default: false
        coolAccess:
          type: boolean
          description: Specifies whether Cool Access(tiering) is enabled for the volume.
          example: false
          default: false
        coolnessPeriod:
          type: integer
          description: Specifies the number of days after which data that is not accessed by clients will be tiered.
          example: 7
          minimum: 7
          maximum: 183
          format: int32
        coolAccessRetrievalPolicy:
          $ref: '#/components/schemas/coolAccessRetrievalPolicy'
        unixPermissions:
          type:
          - string
          - 'null'
          description: 'UNIX permissions for NFS volume accepted in octal 4 digit format. First digit selects the set user ID(4), set group ID (2) and sticky (1) attributes. Second digit selects permission for the owner of the file: read (4), write (2) and execute (1). Third selects permissions for other users in the same group. the fourth for other users not in the group. 0755 - gives read/write/execute permissions to owner and read/execute to group and other users.'
          minLength: 4
          maxLength: 4
          example: '0770'
        cloneProgress:
          description: When a volume is being restored from another volume's snapshot, will show the percentage completion of this cloning process. When this value is empty/null there is no cloning process currently happening on this volume. This value will update every 5 minutes during cloning.
          type:
          - integer
          - 'null'
          format: int32
          example: 10
          readOnly: true
        fileAccessLogs:
          type: string
          description: Flag indicating whether file access logs are enabled for the volume, based on active diagnostic settings present on the volume.
          readOnly: true
          enum:
          - Enabled
          - Disabled
          x-ms-enum:
            name: fileAccessLogs
            modelAsString: true
            values:
            - value: Enabled
              description: fileAccessLogs are enabled
            - value: Disabled
              description: fileAccessLogs are not enabled
          example: Disabled
          default: Disabled
        avsDataStore:
          title: avsDataStore
          type: string
          description: Specifies whether the volume is enabled for Azure VMware Solution (AVS) datastore purpose
          enum:
          - Enabled
          - Disabled
          x-ms-enum:
            name: avsDataStore
            modelAsString: true
            values:
            - value: Enabled
              description: avsDataStore is enabled
            - value: Disabled
              description: avsDataStore is disabled
          example: Enabled
          default: Disabled
        dataStoreResourceId:
          title: dataStoreResourceId
          description: Data store resource unique identifier
          type: array
          items:
            type: string
          readOnly: true
        isDefaultQuotaEnabled:
          type: boolean
          description: Specifies if default quota is enabled for the volume.
          example: false
          default: false
        defaultUserQuotaInKiBs:
          type: integer
          format: int64
          description: Default user quota for volume in KiBs. If isDefaultQuotaEnabled is set, the minimum value of 4 KiBs applies .
          example: 4
          default: 0
        defaultGroupQuotaInKiBs:
          type: integer
          format: int64
          description: Default group quota for volume in KiBs. If isDefaultQuotaEnabled is set, the minimum value of 4 KiBs applies.
          example: 4
          default: 0
        maximumNumberOfFiles:
          type: integer
          format: int64
          readOnly: true
          description: Maximum number of files allowed. Needs a service request in order to be changed. Only allowed to be changed if volume quota is more than 4TiB.
          example: 100000000
        volumeGroupName:
          type: string
          description: Volume Group Name
          readOnly: true
        capacityPoolResourceId:
          type: string
          description: Pool Resource Id used in case of creating a volume through volume group
        proximityPlacementGroup:
          type: string
          description: Proximity placement group associated with the volume
          example: /subscriptions/aaaaaaaa-1234-1234-1224-234567891011/resourceGroups/testGroup/providers/Microsoft.Compute/proximityPlacementGroups/testppg
        t2Network:
          type: string
          description: T2 network information
          example: Test-T2-Alias
          readOnly: true
        volumeSpecName:
          type: string
          description: Volume spec name is the application specific designation or identifier for the particular volume in a volume group for e.g. data, log
          example: Data
        encrypted:
          type: boolean
          description: Specifies if the volume is encrypted or not. Only available on volumes created or updated after 2022-01-01.
          readOnly: true
        placementRules:
          title: Volume placement rules
          description: Application specific placement rules for the particular volume
          type: array
          items:
            $ref: '#/components/schemas/placementKeyValuePairs'
          x-ms-identifiers:
          - key
        enableSubvolumes:
          type: string
          description: Flag indicating whether subvolume operations are enabled on the volume
          example: Enabled
          default: Disabled
          enum:
          - Enabled
          - Disabled
          x-ms-enum:
            name: enableSubvolumes
            modelAsString: true
            values:
            - value: Enabled
              description: subvolumes are enabled
            - value: Disabled
              description: subvolumes are not enabled
        provisionedAvailabilityZone:
          title: Provisioned Availability Zone
          type:
          - string
          - 'null'
          readOnly: true
          description: The availability zone where the volume is provisioned. This refers to the logical availability zone where the volume resides.
          example: '2'
        isLargeVolume:
          title: Is Large Volume
          type: boolean
          description: Specifies whether volume is a Large Volume or Regular Volume.
          example: false
          default: false
        originatingResourceId:
          title: Originating Resource Id
          type:
          - string
          - 'null'
          description: Id of the snapshot or backup that the volume is restored from.
          example: /subscriptions/aaaaaaaa-1234-1234-1224-234567891011/resourceGroups/testGroup/providers/Microsoft.NetApp/netAppAccounts/accountOriginatingResourceId/capacityPools/originatingResourceIdPool/volumes/theOriginalVolume/snapshots/theSnapshot
          readOnly: true
        inheritedSizeInBytes:
          title: inheritedSizeInBytes
          type:
          - integer
          - 'null'
          format: int64
          description: Space shared by short term clone volume with parent volume in bytes.
          readOnly: true
    serviceLevel:
      title: serviceLevel
      type: string
      description: The service level of the file system
      enum:
      - Standard
      - Premium
      - Ultra
      - StandardZRS
      default: Premium
      x-ms-enum:
        name: ServiceLevel
        modelAsString: true
        values:
        - value: Standard
          description: Standard service level
        - value: Premium
          description: Premium service level
        - value: Ultra
          description: Ultra service level
        - value: StandardZRS
          description: Zone redundant storage service level
    VolumeResourceDescription:
      description: This type describes a volume resource.
      allOf:
      - $ref: '#/components/schemas/TrackedResource'
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/VolumeResourceProperties'
          description: Describes properties of a volume resource.
      required:
      - properties
    VolumeProviderParametersAzureFile:
      description: This type describes a volume provided by an Azure Files file share.
      type: object
      properties:
        accountName:
          description: Name of the Azure storage account for the File Share.
          type: string
        accountKey:
          description: Access key of the Azure storage account for the File Share.
          type: string
        shareName:
          description: Name of the Azure Files file share that provides storage for the volume.
          type: string
      required:
      - accountName
      - shareName
    ErrorModel:
      properties:
        error:
          $ref: '#/components/schemas/ErrorErrorModel'
          description: Error model information
      description: The error details.
      required:
      - error
    ProvisionedResourceProperties:
      description: Describes common properties of a provisioned resource.
      properties:
        provisioningState:
          type: string
          description: State of the resource.
          readOnly: true
    VolumeResourceProperties:
      description: Describes properties of a volume resource.
      allOf:
      - $ref: '#/components/schemas/ProvisionedResourceProperties'
      - $ref: '#/components/schemas/VolumeProperties_3'
    ErrorErrorModel:
      description: Error model information
      properties:
        code:
          type: string
        message:
          type: string
          description: Error message.
        innerError:
          type: string
        details:
          type: array
          description: List of error message details.
          items:
            $ref: '#/components/schemas/ErrorDetailsModel'
      required:
      - code
    ErrorDetailsModel:
      description: Error model details information
      properties:
        code:
          type: string
        message:
          type: string
          description: Error message.
      required:
      - code
      - message
    Resource_2:
      description: The resource model definition for Azure Resource Manager resource.
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified identifier for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
          x-ms-mutability:
          - read
        name:
          readOnly: true
          type: string
          description: The name of the resource
          x-ms-mutability:
          - read
        type:
          readOnly: true
          type: string
          description: The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.
          x-ms-mutability:
          - read
        location:
          type: string
          x-ms-mutability:
          - read
          - create
          description: The geo-location where the resource lives
      x-ms-azure-resource: true
    TrackedResource:
      description: The resource model definition for Azure Resource Manager tracked top-level resource.
      allOf:
      - $ref: '#/components/schemas/Resource_2'
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
          description: Resource tags.
        location:
          type: string
          x-ms-mutability:
          - read
          - create
          description: The geo-location where the resource lives
      required:
      - location
    VolumeProperties_3:
      description: This type describes properties of a volume resource.
      type: object
      properties:
        description:
          description: User readable description of the volume.
          type: string
        provider:
          description: Provider of the volume.
          type: string
          enum:
          - SFAzureFile
          x-ms-enum:
            name: VolumeProvider
            modelAsString: true
        azureFileParameters:
          $ref: '#/components/schemas/VolumeProviderParametersAzureFile'
          description: This type describes a volume provided by an Azure Files file share.
      required:
      - provider
    VolumeResourceDescriptionList:
      description: A pageable list of volume resources.
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/VolumeResourceDescription'
          description: One page of the list.
        nextLink:
          type: string
          description: URI to fetch the next page of the list.
    MetricName:
      description: The metric name.
      type: object
      properties:
        value:
          description: The metric name.
          type: string
        localizedValue:
          description: The localized metric name.
          type: string
    BaseModel:
      description: Represents the base class for all other ARM object models
      type: object
      properties:
        id:
          description: The path ID that uniquely identifies the object.
          type: string
          readOnly: true
        name:
          description: The name of the object.
          type: string
          readOnly: true
        type:
          description: The hierarchical type of the object.
          type: string
          readOnly: true
        kind:
          description: The Kind of the object. Currently only Series8000 is supported
          enum:
          - Series8000
          type: string
          x-ms-enum:
            name: Kind
            modelAsString: false
    MetricList:
      description: The metric list.
      type: object
      properties:
        value:
          description: The value.
          type: array
          items:
            $ref: '#/components/schemas/Metrics'
          x-ms-identifiers: []
    Volume_3:
      description: The volume.
      required:
      - properties
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseModel'
      properties:
        properties:
          $ref: '#/components/schemas/VolumeProperties_4'
          description: The properties of the volume.
          x-ms-client-flatten: true
    Metrics:
      description: The monitoring metric.
      type: object
      properties:
        resourceId:
          description: The ID of metric source.
          type: string
        startTime:
          format: date-time
          description: The start time of the metric data.
          type: string
        endTime:
          format: date-time
          description: The end time of the metric data.
          type: string
        timeGrain:
          description: The time granularity of the metric data.
          type: string
        primaryAggregation:
          description: The metric aggregation type.
          enum:
          - Average
          - Last
          - Maximum
          - Minimum
          - None
          - Total
          type: string
          x-ms-enum:
            name: MetricAggregationType
            modelAsString: false
        name:
          $ref: '#/components/schemas/MetricName'
          description: The name of the metric.
        dimensions:
          description: The metric dimensions.
          type: array
          items:
            $ref: '#/components/schemas/MetricDimension'
          x-ms-identifiers:
          - name
        unit:
          description: The unit of the metric data.
          enum:
          - Bytes
          - BytesPerSecond
          - Count
          - CountPerSecond
          - Percent
          - Seconds
          type: string
          x-ms-enum:
            name: MetricUnit
[...]
