openapi: 3.2.0
info:
  title: Microsoft Azure ResourcePrivateLinkClient Resource…
  version: '2020-05-01'
  description: Provides operations for managing private link resources
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ResourceManagementPrivateLink
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Authorization/resourceManagementPrivateLinks/{rmplName}
  : put:
      tags:
      - ResourceManagementPrivateLink
      operationId: microsoftAzureResourcemanagementprivatelinkPut
      description: Create a resource management group private link.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        schema:
          type: string
          maxLength: 90
          minLength: 1
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/ResourceManagementPrivateLinkParameter'
      responses:
        '200':
          description: OK. Returns information about the Resource Management Private Link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceManagementPrivateLink'
        '201':
          description: Created. Returns information about the Resource Management Private Link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceManagementPrivateLink'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Create Resource Management Private Link.:
          $ref: ./examples/PutResourceManagementPrivateLink.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceManagementPrivateLinkLocation'
        description: The region to create the Resource Management private link.
        required: true
    get:
      tags:
      - ResourceManagementPrivateLink
      operationId: microsoftAzureResourcemanagementprivatelinkGet
      description: Get a resource management private link(resource-level).
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        schema:
          type: string
          maxLength: 90
          minLength: 1
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/ResourceManagementPrivateLinkParameter'
      responses:
        '200':
          description: Ok. Returns information about the resource management private link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceManagementPrivateLink'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Get a Resource Management Private Link(resource-level).:
          $ref: ./examples/GetResourceManagementPrivateLink.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    delete:
      tags:
      - ResourceManagementPrivateLink
      operationId: microsoftAzureResourcemanagementprivatelinkDelete
      description: Delete a resource management private link.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        schema:
          type: string
          maxLength: 90
          minLength: 1
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/ResourceManagementPrivateLinkParameter'
      responses:
        '200':
          description: OK
        '204':
          description: ''
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Delete a Resource Management Private Link.:
          $ref: ./examples/DeleteResourceManagementPrivateLink.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/providers/Microsoft.Authorization/resourceManagementPrivateLinks:
    get:
      tags:
      - ResourceManagementPrivateLink
      operationId: microsoftAzureResourcemanagementprivatelinkList
      description: Get all the resource management private links in a subscription.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Ok - Returns an array of private links.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceManagementPrivateLinkListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Delete a Resource Management Private Link.:
          $ref: ./examples/ListSubscriptionResourceManagementPrivateLink.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Authorization/resourceManagementPrivateLinks
  : get:
      tags:
      - ResourceManagementPrivateLink
      operationId: microsoftAzureResourcemanagementprivatelinkListbyresourcegroup
      description: Get all the resource management private links in a resource group.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        schema:
          type: string
          maxLength: 90
          minLength: 1
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Ok - Returns an array of private links.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceManagementPrivateLinkListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Delete a Resource Management Private Link.:
          $ref: ./examples/ListResourceGroupResourceManagementPrivateLink.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    CloudError:
      x-ms-external: true
      properties:
        error:
          $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse
      description: An error response for a resource management request.
    ResourceManagementPrivateLink:
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/ResourceManagementPrivateLinkEndpointConnections'
        id:
          readOnly: true
          type: string
          description: The rmplResourceID.
        name:
          readOnly: true
          type: string
          description: The rmpl Name.
        type:
          readOnly: true
          type: string
          description: The operation type.
        location:
          type: string
          description: the region of the rmpl
      x-ms-azure-resource: true
    ResourceManagementPrivateLinkListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ResourceManagementPrivateLink'
          description: An array of resource management private links.
    ResourceManagementPrivateLinkEndpointConnections:
      type: object
      properties:
        privateEndpointConnections:
          type: array
          items:
            type: string
          description: The private endpoint connections.
    ResourceManagementPrivateLinkLocation:
      type: object
      properties:
        location:
          type: string
          description: the region to create private link association.
  parameters:
    ResourceManagementPrivateLinkParameter:
      name: rmplName
      in: path
      required: true
      description: The name of the resource management private link.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
