openapi: 3.2.0
info:
  version: 2022-09-30-preview
  title: Microsoft Azure RecoveryServicesBackupClient Feature…
  x-ms-code-generation-settings:
    internalConstructors: false
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: FeatureSupport
paths:
  /Subscriptions/{subscriptionId}/providers/Microsoft.RecoveryServices/locations/{azureRegion}/backupValidateFeatures:
    post:
      tags:
      - FeatureSupport
      summary: Microsoft Azure It Will Validate If Given Feature With Resource Properties Is…
      operationId: microsoftAzureFeaturesupportValidate
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/AzureRegion'
      - $ref: '#/components/parameters/SubscriptionId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureVMResourceFeatureSupportResponse'
      x-ms-examples:
        Check Azure Vm Backup Feature Support:
          $ref: ./examples/AzureIaasVm/BackupFeature_Validate.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeatureSupportRequest'
        description: Feature support request object
        required: true
components:
  schemas:
    FeatureSupportRequest:
      description: Base class for feature request
      required:
      - featureType
      type: object
      properties:
        featureType:
          description: backup support feature type.
          type: string
      discriminator:
        propertyName: featureType
    AzureVMResourceFeatureSupportResponse:
      description: Response for feature support requests for Azure IaasVm
      type: object
      properties:
        supportStatus:
          description: Support status of feature
          enum:
          - Invalid
          - Supported
          - DefaultOFF
          - DefaultON
          - NotSupported
          type: string
          x-ms-enum:
            name: SupportStatus
            modelAsString: true
  parameters:
    AzureRegion:
      name: azureRegion
      in: path
      description: Azure region to hit Api
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionId:
      name: subscriptionId
      in: path
      description: The subscription Id.
      required: true
      schema:
        type: string
    ApiVersion:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account.
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
