openapi: 3.2.0
info:
  title: Microsoft Azure Image Region Proposal API
  version: '1.0'
  description: 'Operations tagged ImageRegionProposalApi across 2 of this provider''s published API definitions: custom-vision-training-client-openapi-original.yml, trainingapi-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://southcentralus.api.cognitive.microsoft.com/customvision/v3.3/training
- url: https://southcentralus.api.cognitive.microsoft.com/customvision/v2.1/Training
tags:
- name: ImageRegionProposalApi
paths:
  /projects/{projectId}/images/{imageId}/regionproposals:
    post:
      tags:
      - ImageRegionProposalApi
      summary: Microsoft Azure Get Region Proposals For An Image Returns Empty Array If No…
      description: This API will get region proposals for an image along with confidences for the region. It returns an empty array if no proposals are found.
      operationId: microsoftAzureGetimageregionproposals
      parameters:
      - name: projectId
        in: path
        description: The project id.
        required: true
        schema:
          type: string
          format: uuid
      - name: imageId
        in: path
        description: The image id.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageRegionProposal'
            application/xml:
              schema:
                $ref: '#/components/schemas/ImageRegionProposal'
            text/xml:
              schema:
                $ref: '#/components/schemas/ImageRegionProposal'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
            application/xml:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
            text/xml:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
      x-ms-examples:
        Successful GetImageRegionProposals request:
          $ref: ./examples/GetImageRegionProposals.json
      security:
      - apim_key: []
    servers:
    - url: https://southcentralus.api.cognitive.microsoft.com/customvision/v3.3/training
  /{projectId}/images/{imageId}/regionproposals:
    post:
      tags:
      - ImageRegionProposalApi
      summary: Microsoft Azure Get Region Proposals For An Image Returns Empty Array If No…
      description: This API will get region proposals for an image along with confidences for the region. It returns an empty array if no proposals are found.
      operationId: microsoftAzureGetimageregionproposals
      parameters:
      - name: projectId
        in: path
        description: The project id
        required: true
        schema:
          type: string
          format: uuid
      - name: imageId
        in: path
        description: The image id
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageRegionProposal_2'
            text/json:
              schema:
                $ref: '#/components/schemas/ImageRegionProposal_2'
      x-ms-examples:
        Successful GetImageRegionProposals request:
          $ref: ./examples/GetImageRegionProposals.json
    servers:
    - url: https://southcentralus.api.cognitive.microsoft.com/customvision/v2.1/Training
components:
  schemas:
    BoundingBox:
      description: Bounding box that defines a region of an image.
      required:
      - left
      - top
      - width
      - height
      type: object
      properties:
        left:
          format: float
          description: Coordinate of the left boundary.
          type: number
          readOnly: false
        top:
          format: float
          description: Coordinate of the top boundary.
          type: number
          readOnly: false
        width:
          format: float
          description: Width.
          type: number
          readOnly: false
        height:
          format: float
          description: Height.
          type: number
          readOnly: false
    ImageRegionProposal:
      type: object
      properties:
        projectId:
          format: uuid
          type: string
          readOnly: true
        imageId:
          format: uuid
          type: string
          readOnly: true
        proposals:
          type: array
          items:
            $ref: '#/components/schemas/RegionProposal'
          readOnly: true
    CustomVisionError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          description: The error code.
          enum:
          - NoError
          - BadRequest
          - BadRequestExceededBatchSize
          - BadRequestNotSupported
          - BadRequestInvalidIds
          - BadRequestProjectName
          - BadRequestProjectNameNotUnique
          - BadRequestProjectDescription
          - BadRequestProjectUnknownDomain
          - BadRequestProjectUnknownClassification
          - BadRequestProjectUnsupportedDomainTypeChange
          - BadRequestProjectUnsupportedExportPlatform
          - BadRequestProjectImagePreprocessingSettings
          - BadRequestProjectDuplicated
          - BadRequestIterationName
          - BadRequestIterationNameNotUnique
          - BadRequestIterationDescription
          - BadRequestIterationIsNotTrained
          - BadRequestIterationValidationFailed
          - BadRequestWorkspaceCannotBeModified
          - BadRequestWorkspaceNotDeletable
          - BadRequestTagName
          - BadRequestTagNameNotUnique
          - BadRequestTagDescription
          - BadRequestTagType
          - BadRequestMultipleNegativeTag
          - BadRequestMultipleGeneralProductTag
          - BadRequestImageTags
          - BadRequestImageRegions
          - BadRequestNegativeAndRegularTagOnSameImage
          - BadRequestUnsupportedDomain
          - BadRequestRequiredParamIsNull
          - BadRequestIterationIsPublished
          - BadRequestInvalidPublishName
          - BadRequestInvalidPublishTarget
          - BadRequestUnpublishFailed
          - BadRequestIterationNotPublished
          - BadRequestSubscriptionApi
          - BadRequestExceedProjectLimit
          - BadRequestExceedIterationPerProjectLimit
          - BadRequestExceedTagPerProjectLimit
          - BadRequestExceedTagPerImageLimit
          - BadRequestExceededQuota
          - BadRequestCannotMigrateProjectWithName
          - BadRequestNotLimitedTrial
          - BadRequestImageBatch
          - BadRequestImageStream
          - BadRequestImageUrl
          - BadRequestImageFormat
          - BadRequestImageSizeBytes
          - BadRequestImageDimensions
          - BadRequestImageExceededCount
          - BadRequestTrainingNotNeeded
          - BadRequestTrainingNotNeededButTrainingPipelineUpdated
          - BadRequestTrainingValidationFailed
          - BadRequestClassificationTrainingValidationFailed
          - BadRequestMultiClassClassificationTrainingValidationFailed
          - BadRequestMultiLabelClassificationTrainingValidationFailed
          - BadRequestDetectionTrainingValidationFailed
          - BadRequestTrainingAlreadyInProgress
          - BadRequestDetectionTrainingNotAllowNegativeTag
          - BadRequestInvalidEmailAddress
          - BadRequestDomainNotSupportedForAdvancedTraining
          - BadRequestExportPlatformNotSupportedForAdvancedTraining
          - BadRequestReservedBudgetInHoursNotEnoughForAdvancedTraining
          - BadRequestExportValidationFailed
          - BadRequestExportAlreadyInProgress
          - BadRequestPredictionIdsMissing
          - BadRequestPredictionIdsExceededCount
          - BadRequestPredictionTagsExceededCount
          - BadRequestPredictionResultsExceededCount
          - BadRequestPredictionInvalidApplicationName
          - BadRequestPredictionInvalidQueryParameters
          - BadRequestInvalidImportToken
          - BadRequestExportWhileTraining
          - BadRequestImageMetadataKey
          - BadRequestImageMetadataValue
          - BadRequestOperationNotSupported
          - BadRequestInvalidArtifactUri
          - BadRequestCustomerManagedKeyRevoked
          - BadRequestInvalid
          - UnsupportedMediaType
          - Forbidden
          - ForbiddenUser
          - ForbiddenUserResource
          - ForbiddenUserSignupDisabled
          - ForbiddenUserSignupAllowanceExceeded
          - ForbiddenUserDoesNotExist
          - ForbiddenUserDisabled
          - ForbiddenUserInsufficientCapability
          - ForbiddenDRModeEnabled
          - ForbiddenInvalid
          - NotFound
          - NotFoundProject
          - NotFoundProjectDefaultIteration
          - NotFoundIteration
          - NotFoundIterationPerformance
          - NotFoundTag
          - NotFoundImage
          - NotFoundDomain
          - NotFoundApimSubscription
          - NotFoundInvalid
          - Conflict
          - ConflictInvalid
          - ErrorUnknown
          - ErrorIterationCopyFailed
          - ErrorPreparePerformanceMigrationFailed
          - ErrorProjectInvalidWorkspace
          - ErrorProjectInvalidPipelineConfiguration
          - ErrorProjectInvalidDomain
          - ErrorProjectTrainingRequestFailed
          - ErrorProjectImportRequestFailed
          - ErrorProjectExportRequestFailed
          - ErrorFeaturizationServiceUnavailable
          - ErrorFeaturizationQueueTimeout
          - ErrorFeaturizationInvalidFeaturizer
          - ErrorFeaturizationAugmentationUnavailable
          - ErrorFeaturizationUnrecognizedJob
          - ErrorFeaturizationAugmentationError
          - ErrorExporterInvalidPlatform
          - ErrorExporterInvalidFeaturizer
          - ErrorExporterInvalidClassifier
          - ErrorPredictionServiceUnavailable
          - ErrorPredictionModelNotFound
          - ErrorPredictionModelNotCached
          - ErrorPrediction
          - ErrorPredictionStorage
          - ErrorRegionProposal
          - ErrorUnknownBaseModel
          - ErrorInvalid
          type: string
          x-ms-enum:
            name: CustomVisionErrorCodes
            modelAsString: true
        message:
          description: A message explaining the error reported by the service.
          type: string
    RegionProposal:
      type: object
      properties:
        confidence:
          format: float
          type: number
          readOnly: true
        boundingBox:
          $ref: '#/components/schemas/BoundingBox'
          readOnly: true
    BoundingBox_2:
      type:
      - object
      - 'null'
      properties:
        left:
          format: float
          type: number
        top:
          format: float
          type: number
        width:
          format: float
          type: number
        height:
          format: float
          type: number
    ImageRegionProposal_2:
      type:
      - object
      - 'null'
      properties:
        projectId:
          format: uuid
          type: string
          readOnly: true
        imageId:
          format: uuid
          type: string
          readOnly: true
        proposals:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RegionProposal_2'
          readOnly: true
    RegionProposal_2:
      type:
      - object
      - 'null'
      properties:
        confidence:
          format: float
          type: number
          readOnly: true
        boundingBox:
          $ref: '#/components/schemas/BoundingBox_2'
          readOnly: true
  parameters:
    ApiKey:
      name: Training-Key
      in: header
      required: true
      x-ms-client-name: ApiKey
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    apim_key:
      type: apiKey
      name: Training-Key
      in: header
x-refined-from:
- custom-vision-training-client-openapi-original.yml
- trainingapi-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
