openapi: 3.2.0
info:
  title: Microsoft Azure Alerts API
  version: '1.0'
  description: 'Operations tagged Alerts across 4 of this provider''s published API definitions: adhybridhealthservice-openapi-original.yml, databoxedgemanagementclient-openapi-original.yml, storsimple8000seriesmanagementclient-openapi-original.yml, storsimplemanagementclient-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Alerts
paths:
  /providers/Microsoft.ADHybridHealthService/services/{serviceName}/alerts:
    get:
      tags:
      - Alerts
      description: Gets the alerts for a given service.
      x-ms-examples:
        services_listAlerts:
          $ref: ./examples/Alerts.json
      operationId: microsoftAzureServicesListalerts
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        schema:
          type: string
      - name: $filter
        in: query
        description: The alert property filter to apply.
        required: false
        schema:
          type: string
      - name: state
        in: query
        description: The alert state to query for.
        required: false
        schema:
          type: string
      - name: from
        in: query
        description: The start date to query for.
        required: false
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        description: The end date till when to query for.
        required: false
        schema:
          type: string
          format: date-time
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The list of alerts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alerts'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Adhybridhealthservice Services…
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.ADHybridHealthService/services/{serviceName}/servicemembers/{serviceMemberId}/alerts:
    get:
      tags:
      - Alerts
      description: Gets the details of an alert for a given service and server combination.
      x-ms-examples:
        serviceMembers_listAlerts:
          $ref: ./examples/Server_Alerts.json
      operationId: microsoftAzureServicemembersListalerts
      parameters:
      - name: serviceMemberId
        in: path
        description: The server Id for which the alert details needs to be queried.
        required: true
        schema:
          type: string
          format: uuid
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        schema:
          type: string
      - name: $filter
        in: query
        description: The alert property filter to apply.
        required: false
        schema:
          type: string
      - name: state
        in: query
        description: The alert state to query for.
        required: false
        schema:
          type: string
      - name: from
        in: query
        description: The start date to query for.
        required: false
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        description: The end date till when to query for.
        required: false
        schema:
          type: string
          format: date-time
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The list of alerts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alerts'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Adhybridhealthservice Services…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/alerts
  : get:
      tags:
      - Alerts
      description: Gets all the alerts for a Data Box Edge/Data Box Gateway device.
      operationId: microsoftAzureAlertsListbydataboxedgedevice
      parameters:
      - name: deviceName
        in: path
        description: The device name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter_2'
      responses:
        '200':
          description: The collection of alerts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        AlertGetAllInDevice:
          $ref: ./examples/AlertGetAllInDevice.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/alerts/{name}
  : get:
      tags:
      - Alerts
      summary: Microsoft Azure Gets An Alert By Name
      operationId: microsoftAzureAlertsGet
      parameters:
      - name: deviceName
        in: path
        description: The device name.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: The alert name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter_2'
      responses:
        '200':
          description: The alert details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        AlertGet:
          $ref: ./examples/AlertGet.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/alerts
  : get:
      tags:
      - Alerts
      description: Retrieves all the alerts in a manager.
      operationId: microsoftAzureAlertsListbymanager
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter_2'
      - $ref: '#/components/parameters/resourceGroupNameParameter_2'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter_3'
      - name: $filter
        in: query
        description: OData Filter options
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The collection of alerts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertList_2'
      deprecated: false
      x-ms-odata: '#/definitions/AlertFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        AlertsListByManager:
          $ref: ./examples/AlertsListByManager.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/clearAlerts
  : post:
      tags:
      - Alerts
      description: Clear the alerts.
      operationId: microsoftAzureAlertsClear
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter_2'
      - $ref: '#/components/parameters/resourceGroupNameParameter_2'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter_3'
      responses:
        '204':
          description: Successfully cleared the alerts.
      deprecated: false
      x-ms-examples:
        AlertsClear:
          $ref: ./examples/AlertsClear.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClearAlertRequest'
        description: The clear alert request.
        required: true
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/sendTestAlertEmail
  : post:
      tags:
      - Alerts
      description: Sends a test alert email.
      operationId: microsoftAzureAlertsSendtestemail
      parameters:
      - $ref: '#/components/parameters/deviceNameParameter'
      - $ref: '#/components/parameters/subscriptionIdParameter_2'
      - $ref: '#/components/parameters/resourceGroupNameParameter_2'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter_3'
      responses:
        '204':
          description: Successfully sent the test email.
      deprecated: false
      x-ms-examples:
        AlertsSendTestEmail:
          $ref: ./examples/AlertsSendTestEmail.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendTestAlertEmailRequest'
        description: The send test alert email request.
        required: true
    servers:
    - url: https://management.azure.com
components:
  schemas:
    Alert:
      description: ' The alert details indicating an issue with service or server.'
      type: object
      properties:
        alertId:
          description: The alert Id.
          type: string
          format: uuid
        level:
          description: The alert level which indicates the severity of the alert.
          type: string
          enum:
          - Warning
          - Error
          - PreWarning
          x-ms-enum:
            name: Level
            modelAsString: true
        state:
          description: The alert state which can be either active or resolved with multiple resolution types.
          type: string
          enum:
          - Active
          - ResolvedByPositiveResult
          - ResolvedManually
          - ResolvedByTimer
          - ResolvedByStateChange
          x-ms-enum:
            name: State
            modelAsString: true
        shortName:
          description: The alert short name.
          type: string
        displayName:
          description: The display name for the alert.
          type: string
        description:
          description: The alert description.
          type: string
        remediation:
          description: The alert remediation.
          type: string
        relatedLinks:
          description: The help links to get more information related to the alert.
          type: array
          items:
            $ref: '#/components/schemas/HelpLink'
        scope:
          description: The scope of the alert. Indicates if it is a service or a server related alert.
          type: string
        additionalInformation:
          description: Additional information related to the alert.
          type: array
          items:
            $ref: '#/components/schemas/AdditionalInformation'
        createdDate:
          description: The date and time,in UTC,when the alert was created.
          type: string
          format: date-time
        resolvedDate:
          description: The date and time, in UTC, when the alert was resolved.
          type: string
          format: date-time
        lastUpdated:
          description: The date and time, in UTC, when the alert was last updated.
          type: string
          format: date-time
        monitorRoleType:
          description: The monitoring role type for which the alert was raised.
          type: string
        activeAlertProperties:
          description: The active alert properties.
          type: array
          items:
            $ref: '#/components/schemas/Item'
        resolvedAlertProperties:
          description: The resolved alert properties.
          type: array
          items:
            $ref: '#/components/schemas/Item'
        tenantId:
          description: The tenant Id.
          type: string
          format: uuid
        serviceId:
          description: The service Id.
          type: string
          format: uuid
        serviceMemberId:
          description: The server Id.
          type: string
          format: uuid
    Alerts:
      description: The list of alerts for a service.
      type: object
      properties:
        value:
          description: The value returned by the operation.
          type: array
          items:
            $ref: '#/components/schemas/Alert'
        nextLink:
          description: The link used to get the next page of operations.
          type: string
        totalCount:
          description: The total count of alert elements.
          type: integer
        continuationToken:
          description: The continuation token for paginated calls.
          type: string
    HelpLink:
      description: The help link which contains more information related to an alert.
      type: object
      properties:
        title:
          description: The title for the link.
          type: string
        url:
          description: The url for the help document.
          type: string
    AdditionalInformation:
      description: The additional information for a property.
      type: object
      properties:
        titleName:
          description: The title name for the property.
          type: string
        titleValue:
          description: The title value for the property.
          type: string
        properties:
          description: The list of properties which are included in the additional information.
          type: object
          items:
            $ref: '#/components/schemas/Item'
        hasProperties:
          description: Indicates if properties are present or not.
          type: boolean
    Item:
      description: The key value pair for properties.
      type: object
      properties:
        key:
          description: The key for the property.
          type: string
        value:
          description: The value for the key.
          type: string
    CloudError:
      description: An error response from the service.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: The error details.
      x-ms-external: true
    Alert_2:
      description: Alert on the data box edge/gateway device.
      type: object
      allOf:
      - $ref: '#/components/schemas/ARMBaseModel'
      properties:
        properties:
          $ref: '#/components/schemas/AlertProperties'
          description: Properties of alert.
          readOnly: true
          x-ms-client-flatten: true
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: Metadata pertaining to creation and last modification of Alert
          readOnly: true
    ARMBaseModel:
      description: Represents the base class for all object models.
      type: object
      properties:
        id:
          description: The path ID that uniquely identifies the object.
          type: string
          readOnly: true
        name:
          description: The object name.
          type: string
          readOnly: true
        type:
          description: The hierarchical type of the object.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    AlertList:
      description: Collection of alerts.
      type: object
      properties:
        value:
          description: The value.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/Alert_2'
          readOnly: true
          x-ms-identifiers: []
        nextLink:
          description: Link to the next set of results.
          type: string
          readOnly: true
    CloudErrorBody:
      description: An error response from the service.
      type: object
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
          type: string
        message:
          description: A message describing the error, intended to be suitable for display in a user interface.
          type: string
        details:
          description: A list of additional details about the error.
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          x-ms-identifiers: []
      x-ms-external: true
    AlertProperties:
      description: Properties of alert.
      type: object
      properties:
        title:
          description: Alert title.
          type: string
          readOnly: true
        alertType:
          description: Alert type.
          type: string
          readOnly: true
        appearedAtDateTime:
          format: date-time
          description: UTC time when the alert appeared.
          type: string
          readOnly: true
        recommendation:
          description: Alert recommendation.
          type: string
          readOnly: true
        severity:
          description: Severity of the alert.
          enum:
          - Informational
          - Warning
          - Critical
          type: string
          readOnly: true
          x-ms-enum:
            name: AlertSeverity
            modelAsString: true
        errorDetails:
          $ref: '#/components/schemas/AlertErrorDetails'
          description: Error details of the alert.
          readOnly: true
        detailedInformation:
          description: Alert details.
          type: object
          additionalProperties:
            type: string
          readOnly: true
    AlertErrorDetails:
      description: Error details for the alert.
      type: object
      properties:
        errorCode:
          description: Error code.
          type: string
          readOnly: true
        errorMessage:
          description: Error Message.
          type: string
          readOnly: true
        occurrences:
          format: int32
          description: Number of occurrences.
          type: integer
          readOnly: true
    BaseModel:
      description: Represents the base class for all other ARM object models
      type: object
      properties:
        id:
          description: The path ID that uniquely identifies the object.
          type: string
          readOnly: true
        name:
          description: The name of the object.
          type: string
          readOnly: true
        type:
          description: The hierarchical type of the object.
          type: string
          readOnly: true
        kind:
          description: The Kind of the object. Currently only Series8000 is supported
          enum:
          - Series8000
          type: string
          x-ms-enum:
            name: Kind
            modelAsString: false
    SendTestAlertEmailRequest:
      description: The request for sending test alert email
      required:
      - emailList
      type: object
      properties:
        emailList:
          description: The list of email IDs to send the test alert email
          type: array
          items:
            type: string
    Alert_3:
      description: The alert.
      required:
      - properties
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseModel'
      properties:
        properties:
          $ref: '#/components/schemas/AlertProperties_2'
          description: The properties of the alert.
          x-ms-client-flatten: true
    AlertSource:
      description: The source details at which the alert was raised
      type: object
      properties:
        name:
          description: The name of the source
          type: string
        timeZone:
          description: The time zone of the source
          type: string
        alertSourceType:
          description: The source type of the alert
          enum:
          - Resource
          - Device
          type: string
          x-ms-enum:
            name: AlertSourceType
            modelAsString: false
    AlertList_2:
      description: The collection of alerts.
      required:
      - value
      type: object
      properties:
        value:
          description: The value.
          type: array
          items:
            $ref: '#/components/schemas/Alert_3'
        nextLink:
          description: The URI of the next page of alerts.
          type: string
    ClearAlertRequest:
      description: The request for clearing the alert
      required:
      - alerts
      type: object
      properties:
        resolutionMessage:
          description: The resolution message while clearing the alert
          type: string
        alerts:
          description: The list of alert IDs to be cleared
          type: array
          items:
            type: string
    AlertProperties_2:
      description: The properties of alert
      required:
      - title
      - scope
      - alertType
      - appearedAtTime
      - appearedAtSourceTime
      - source
      - severity
      - status
      type: object
      properties:
        title:
          description: The title of the alert
          type: string
        scope:
          description: The scope of the alert
          enum:
          - Resource
          - Device
          type: string
          x-ms-enum:
            name: AlertScope
            modelAsString: false
        alertType:
          description: The type of the alert
          type: string
        appearedAtTime:
          format: date-time
          description: The UTC time at which the alert was raised
          type: string
        appearedAtSourceTime:
          format: date-time
          description: The source time at which the alert was raised
          type: string
        clearedAtTime:
          format: date-time
          description: The UTC time at which the alert was cleared
          type: string
        clearedAtSourceTime:
          format: date-time
          description: The source time at which the alert was cleared
          type: string
        source:
          $ref: '#/components/schemas/AlertSource'
          description: The source at which the alert was raised
        recommendation:
          description: The recommended action for the issue raised in the alert
          type: string
        resolutionReason:
          description: The reason for resolving the alert
          type: string
        severity:
          description: The severity of the alert
          enum:
          - Informational
          - Warning
          - Critical
          type: string
          x-ms-enum:
            name: AlertSeverity
            modelAsString: false
        status:
          description: The current status of the alert
          enum:
          - Active
          - Cleared
          type: string
          x-ms-enum:
            name: AlertStatus
            modelAsString: false
        errorDetails:
          $ref: '#/components/schemas/AlertErrorDetails_2'
          description: The details of the error for which the alert was raised
        detailedInformation:
          description: More details about the alert
          type: object
          additionalProperties:
            type: string
    AlertErrorDetails_2:
      description: The details of the error for which the alert was raised
      type: object
      properties:
        errorCode:
          description: The error code
          type: string
        errorMessage:
          description: The error message
          type: string
        occurences:
          format: int32
          description: The number of occurrences
          type: integer
    BaseModel_2:
      description: Base class for models
      type: object
      properties:
        id:
          description: The identifier.
          type: string
          readOnly: true
        name:
          description: The name.
          type: string
          readOnly: true
        type:
          description: The type.
          type: string
          readOnly: true
    SendTestAlertEmailRequest_2:
      description: Request for sending test alert email
      required:
      - emailList
      type: object
      properties:
        emailList:
          description: List of emails to send the test alerts
          type: array
          items:
            type: string
    Alert_4:
      description: Alert class
      required:
      - properties
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseModel_2'
      properties:
        properties:
          $ref: '#/components/schemas/AlertProperties_3'
          description: Properties of alert
          x-ms-client-flatten: true
    AlertSource_2:
      description: source at which the alert can be raised
      type: object
      properties:
        name:
          description: Name of the source.
          type: string
        timeZone:
          description: The time zone.
          type: string
        alertSourceType:
          description: Source type of the alert.
          enum:
          - Resource
          - Device
          type: string
          x-ms-enum:
            name: AlertSourceType
            modelAsString: false
    AlertList_3:
      description: Collection of Alerts
      required:
      - value
      type: object
      properties:
        value:
          description: The value.
          type: array
          items:
            $ref: '#/components/schemas/Alert_4'
        nextLink:
          description: Id of the next page of alerts
          type: string
    Message:
      type: object
      properties:
        language:
          type: string
        value:
          type: string
    ClearAlertRequest_2:
      description: Request for clearing the alert
      required:
      - alerts
      type: object
      properties:
        resolutionMessage:
          description: Resolution message while clearing the request
          type: string
        alerts:
          description: List of alert Ids to be cleared
          type: array
          items:
            type: string
    Error:
      required:
      - errorCode
      - message
      type: object
      properties:
        errorCode:
          type: string
        message:
          $ref: '#/components/schemas/Message'
        values:
          type: array
          items:
            $ref: '#/components/schemas/Item_2'
          x-ms-identifiers:
          - key
    AlertProperties_3:
      description: Properties of alert
      required:
      - title
      - scope
      - alertType
      - appearedAtTime
      - appearedAtSourceTime
      - source
      - severity
      - status
      type: object
      properties:
        title:
          description: Title of the alert
          type: string
        scope:
          description: Device or Resource alert
          enum:
          - Resource
          - Device
          type: string
          x-ms-enum:
            name: AlertScope
            modelAsString: false
        alertType:
          description: Type of the alert
          type: string
        appearedAtTime:
          format: date-time
          description: UTC time at which the alert appeared
          type: string
        appearedAtSourceTime:
          format: date-time
          description: UTC time at which the alert appeared on the source
          type: string
        clearedAtTime:
          format: date-time
          description: UTC time at which the alert got cleared
          type: string
        clearedAtSourceTime:
          format: date-time
          description: UTC time at which the alert was cleared on the source
          type: string
        source:
          $ref: '#/components/schemas/AlertSource_2'
          description: Source at which the alert was cleared
        recommendation:
          description: Recommendation for acting on the alert
          type: string
        resolutionReason:
          description: Reason for resolving the alert
          type: string
        severity:
          description: Severity of the alert
          enum:
          - Informational
          - Warning
          - Critical
          type: string
          x-ms-enum:
            name: AlertSeverity
            modelAsString: false
        status:
          description: Current status of the alert
          enum:
          - Active
          - Cleared
          type: string
          x-ms-enum:
            name: AlertStatus
            modelAsString: false
        errorDetails:
          $ref: '#/components/schemas/AlertErrorDetails_3'
          description: ErrorDetails of the alert
        detailedInformation:
          description: Other information about the alert
          type: object
          additionalProperties:
            type: string
    AlertErrorDetails_3:
      description: Error details for the alert
      type: object
      properties:
        errorCode:
          description: Error code.
          type: string
        errorMessage:
          description: Error Message
          type: string
        occurences:
          format: int32
          description: Number of occurrences.
          type: integer
    Item_2:
      required:
      - key
      - value
      type: object
      properties:
        key:
          type: string
        value:
          type: string
  parameters:
    apiVersionParameter:
      name: api-version
      in: query
      description: The version of the API to be used with the client request.
      required: true
      schema:
        type: string
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID.
      required: true
      schema:
        type: string
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The resource group name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    apiVersionParameter_2:
      name: api-version
      in: query
      description: The API version.
      required: true
      schema:
        type: string
    subscriptionIdParameter_2:
      name: subscriptionId
      in: path
      description: The subscription id
      required: true
      x-ms-skip-url-encoding: true
      schema:
        type: string
    deviceNameParameter:
      name: deviceName
      in: path
      description: The device name
      required: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
    resourceGroupNameParameter_2:
      name: resourceGroupName
      in: path
      description: The resource group name
      required: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
    managerNameParameter:
      name: managerName
      in: path
      description: The manager name
      required: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
        maxLength: 50
        minLength: 2
    apiVersionParameter_3:
      name: api-version
      in: query
      description: The api version
      required: true
      x-ms-skip-url-encoding: true
      schema:
        type: string
    subscriptionIdParameter_3:
      name: subscriptionId
      in: path
      description: The subscription id
      required: true
      schema:
        type: string
    resourceGroupNameParameter_3:
      name: resourceGroupName
      in: path
      description: The resource group name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    managerNameParameter_2:
      name: managerName
      in: path
      description: The manager name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 50
        minLength: 2
    apiVersionParameter_4:
      name: api-version
      in: query
      description: The api version
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-refined-from:
- adhybridhealthservice-openapi-original.yml
- databoxedgemanagementclient-openapi-original.yml
- storsimple8000seriesmanagementclient-openapi-original.yml
- storsimplemanagementclient-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
