openapi: 3.2.0
info:
  title: Microsoft Azure Azure Site Recovery Management Service…
  description: A first party Azure service enabling the data replication.
  version: 2021-02-16-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Tenant
  description: Tenant controller.
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.DataReplication/locations/{location}/checkNameAvailability:
    post:
      tags:
      - Tenant
      summary: Microsoft Azure Performs The Resource Name Availability Check
      description: Checks the resource name availability.
      operationId: microsoftAzureChecknameavailability
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityResponseModel'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        CheckNameAvailability:
          $ref: ./examples/CheckNameAvailability.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityModel'
        description: Resource details.
  /providers/Microsoft.DataReplication/operations:
    get:
      tags:
      - Tenant
      summary: Microsoft Azure Get A List Of Rest Api Operations Supported By Microsoft…
      description: Gets the operations.
      operationId: microsoftAzureOperationsList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Operations_List:
          $ref: ./examples/Operations_List.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/deployments/{deploymentId}/preflight
  : post:
      tags:
      - Tenant
      summary: Microsoft Azure Performs Resource Deployment Validation
      operationId: microsoftAzureDeploymentpreflight
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - in: path
        name: deploymentId
        description: Deployment Id.
        required: true
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentPreflightModel'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        DeploymentPreflight:
          $ref: ./examples/DeploymentPreflight.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentPreflightModel'
        description: Deployment preflight model.
components:
  schemas:
    CheckNameAvailabilityModel:
      description: Check name availability model.
      type: object
      properties:
        name:
          description: Gets or sets the resource name.
          type: string
        type:
          description: Gets or sets the resource type.
          type: string
    CheckNameAvailabilityResponseModel:
      description: Check name availability response model.
      type: object
      properties:
        nameAvailable:
          description: Gets or sets a value indicating whether resource name is available or not.
          type: boolean
        reason:
          description: Gets or sets the reason for resource name unavailability.
          type: string
        message:
          description: Gets or sets the message for resource name unavailability.
          type: string
    DeploymentPreflightResource:
      description: Deployment preflight resource.
      type: object
      properties:
        name:
          description: Gets or sets the resource name.
          type: string
        type:
          description: Gets or sets the resource type.
          type: string
        location:
          description: Gets or sets the location of the resource.
          type: string
          x-ms-mutability:
          - create
          - read
        apiVersion:
          description: Gets or sets the Api version.
          type: string
    DeploymentPreflightModel:
      description: Deployment preflight model.
      type: object
      properties:
        resources:
          description: Gets or sets the list of resources.
          type: array
          items:
            $ref: '#/components/schemas/DeploymentPreflightResource'
          x-ms-identifiers: []
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
