openapi: 3.2.0
info:
  version: 2022-09-30-preview
  title: Microsoft Azure RecoveryServicesBackupClient BMS Prepare…
  x-ms-code-generation-settings:
    internalConstructors: false
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: BMSPrepareDataMoveOperationResult
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupstorageconfig/vaultstorageconfig/operationResults/{operationId}
  : get:
      tags:
      - BMSPrepareDataMoveOperationResult
      description: Fetches Operation Result for Prepare Data Move
      operationId: microsoftAzureBmspreparedatamoveoperationresultGet
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/VaultName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: operationId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultStorageConfigOperationResultResponse'
        '202':
          description: Accepted
        default:
          description: 'Error response describing why the operation failed. '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewErrorResponse'
      x-ms-examples:
        Get operation result for PrepareDataMove:
          $ref: ./examples/BackupDataMove/PrepareDataMoveOperationResult_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  parameters:
    ResourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group where the recovery services vault is present.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionId:
      name: subscriptionId
      in: path
      description: The subscription Id.
      required: true
      schema:
        type: string
    ApiVersion:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
    VaultName:
      name: vaultName
      in: path
      description: The name of the recovery services vault.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  schemas:
    NewErrorResponse:
      properties:
        error:
          type: object
          description: The error object.
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                $ref: '#/components/schemas/NewErrorResponse'
              x-ms-identifiers:
              - /error/code
              description: The error details.
            additionalInfo:
              readOnly: true
              type: array
              items:
                $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorAdditionalInfo
              x-ms-identifiers: []
              description: The error additional info.
      description: The resource management error response.
    VaultStorageConfigOperationResultResponse:
      description: Operation result response for Vault Storage Config
      required:
      - objectType
      type: object
      properties:
        objectType:
          description: This property will be used as the discriminator for deciding the specific types in the polymorphic chain of types.
          type: string
      discriminator:
        propertyName: objectType
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account.
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
