openapi: 3.2.0
info:
  title: Microsoft Azure Azure Monitor Data Collection Endpoints API
  description: Provides operations for working with Azure Monitor data collection endpoints
  version: 2021-09-01-preview
  x-ms-code-generation-settings:
    name: MonitorManagementClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Data Collection Endpoints
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/dataCollectionEndpoints:
    get:
      tags:
      - Data Collection Endpoints
      summary: Microsoft Azure Lists All Data Collection Endpoints In The Specified Resource…
      operationId: microsoftAzureDatacollectionendpointsListbyresourcegroup
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Request completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataCollectionEndpointResourceListResult'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./dataCollectionRules_API.json#/definitions/ErrorResponseCommonV2
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List data collection endpoints by resource group:
          $ref: ./examples/DataCollectionEndpointsListByResourceGroup.json
      description: Needs a more full description created.
  /subscriptions/{subscriptionId}/providers/Microsoft.Insights/dataCollectionEndpoints:
    get:
      tags:
      - Data Collection Endpoints
      summary: Microsoft Azure Lists All Data Collection Endpoints In The Specified…
      operationId: microsoftAzureDatacollectionendpointsListbysubscription
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Request completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataCollectionEndpointResourceListResult'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./dataCollectionRules_API.json#/definitions/ErrorResponseCommonV2
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List data collection endpoints by subscription:
          $ref: ./examples/DataCollectionEndpointsListBySubscription.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/dataCollectionEndpoints/{dataCollectionEndpointName}
  : get:
      tags:
      - Data Collection Endpoints
      summary: Microsoft Azure Returns The Specified Data Collection Endpoint
      operationId: microsoftAzureDatacollectionendpointsGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/DataCollectionEndpointNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Request completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataCollectionEndpointResource'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./dataCollectionRules_API.json#/definitions/ErrorResponseCommonV2
      x-ms-examples:
        Get data collection endpoint:
          $ref: ./examples/DataCollectionEndpointsGet.json
      description: Needs a more full description created.
    put:
      tags:
      - Data Collection Endpoints
      summary: Microsoft Azure Creates Or Updates A Data Collection Endpoint
      operationId: microsoftAzureDatacollectionendpointsCreate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/DataCollectionEndpointNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Data collection endpoint was successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataCollectionEndpointResource'
        '201':
          description: Data collection endpoint was successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataCollectionEndpointResource'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./dataCollectionRules_API.json#/definitions/ErrorResponseCommonV2
      x-ms-examples:
        Create or update data collection endpoint:
          $ref: ./examples/DataCollectionEndpointsCreate.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataCollectionEndpointResource'
        description: The payload
    patch:
      tags:
      - Data Collection Endpoints
      summary: Microsoft Azure Updates Part Of A Data Collection Endpoint
      operationId: microsoftAzureDatacollectionendpointsUpdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/DataCollectionEndpointNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Data collection endpoint was successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataCollectionEndpointResource'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./dataCollectionRules_API.json#/definitions/ErrorResponseCommonV2
      x-ms-examples:
        Update data collection endpoint:
          $ref: ./examples/DataCollectionEndpointsUpdate.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceForUpdate'
        description: The payload
    delete:
      tags:
      - Data Collection Endpoints
      summary: Microsoft Azure Deletes A Data Collection Endpoint
      operationId: microsoftAzureDatacollectionendpointsDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/DataCollectionEndpointNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Data collection endpoint was successfully deleted
        '204':
          description: Data collection endpoint did not exist
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./dataCollectionRules_API.json#/definitions/ErrorResponseCommonV2
      x-ms-examples:
        Delete data collection endpoint:
          $ref: ./examples/DataCollectionEndpointsDelete.json
      description: Needs a more full description created.
components:
  schemas:
    DataCollectionEndpointResource:
      description: Definition of ARM tracked top level resource.
      required:
      - location
      type: object
      properties:
        properties:
          description: Resource properties.
          allOf:
          - $ref: '#/components/schemas/DataCollectionEndpoint'
          x-ms-client-flatten: true
        location:
          description: The geo-location where the resource lives.
          type: string
          x-ms-mutability:
          - create
          - read
        tags:
          description: Resource tags.
          type: object
          additionalProperties:
            type: string
        kind:
          description: The kind of the resource.
          enum:
          - Linux
          - Windows
          type: string
          example: Linux
          x-ms-enum:
            name: KnownDataCollectionEndpointResourceKind
            modelAsString: true
        id:
          description: Fully qualified ID of the resource.
          type: string
          readOnly: true
          example: /subscriptions/703362b3-f278-4e4b-9179-c76eaf41ffc2/resourceGroups/myResourceGroup/providers/Microsoft.Insights/dataCollectionEndpoints/myCollectionEndpoint
          x-ms-mutability:
          - read
        name:
          description: The name of the resource.
          type: string
          readOnly: true
          example: myCollectionEndpoint
          x-ms-mutability:
          - read
        type:
          description: The type of the resource.
          type: string
          readOnly: true
          example: Microsoft.Insights/dataCollectionEndpoints
          x-ms-mutability:
          - read
        etag:
          description: Resource entity tag (ETag).
          type: string
          readOnly: true
          x-ms-mutability:
          - read
        systemData:
          description: Metadata pertaining to creation and last modification of the resource.
          allOf:
          - $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          readOnly: true
          x-ms-mutability:
          - read
      x-ms-azure-resource: true
    NetworkRuleSet:
      description: Definition of the network rules.
      type: object
      properties:
        publicNetworkAccess:
          description: The configuration to set whether network access from public internet to the endpoints are allowed.
          enum:
          - Enabled
          - Disabled
          type: string
          x-ms-enum:
            name: KnownPublicNetworkAccessOptions
            modelAsString: true
    ResourceForUpdate:
      description: Definition of ARM tracked top level resource properties for update operation.
      type: object
      properties:
        tags:
          description: Resource tags.
          type: object
          additionalProperties:
            type: string
    ConfigurationAccessEndpointSpec:
      description: Definition of the endpoint used for accessing configuration.
      type: object
      properties:
        endpoint:
          description: The endpoint. This property is READ-ONLY.
          type: string
          readOnly: true
          example: https://mydce-abcd.eastus-1.control.monitor.azure.com
          x-ms-mutability:
          - read
    DataCollectionEndpoint:
      description: Definition of data collection endpoint.
      type: object
      properties:
        description:
          description: Description of the data collection endpoint.
          type: string
        immutableId:
          description: The immutable ID of this data collection endpoint resource. This property is READ-ONLY.
          type: string
          example: dce-b74e0d383fc9415abaa584ec41adece3
        configurationAccess:
          description: The endpoint used by clients to access their configuration.
          allOf:
          - $ref: '#/components/schemas/ConfigurationAccessEndpointSpec'
        logsIngestion:
          description: The endpoint used by clients to ingest logs.
          allOf:
          - $ref: '#/components/schemas/LogsIngestionEndpointSpec'
        networkAcls:
          description: Network access control rules for the endpoints.
          allOf:
          - $ref: '#/components/schemas/NetworkRuleSet'
        provisioningState:
          description: The resource provisioning state. This property is READ-ONLY.
          enum:
          - Creating
          - Updating
          - Deleting
          - Succeeded
          - Failed
          type: string
          readOnly: true
          example: Creating
          x-ms-enum:
            name: KnownDataCollectionEndpointProvisioningState
            modelAsString: true
          x-ms-mutability:
          - read
    LogsIngestionEndpointSpec:
      description: Definition of the endpoint used for ingesting logs.
      type: object
      properties:
        endpoint:
          description: The endpoint. This property is READ-ONLY.
          type: string
          readOnly: true
          example: https://mydce-abcd.eastus-1.ingest.monitor.azure.com
          x-ms-mutability:
          - read
    DataCollectionEndpointResourceListResult:
      description: A pageable list of resources.
      required:
      - value
      type: object
      properties:
        value:
          description: A list of resources.
          type: array
          items:
            $ref: '#/components/schemas/DataCollectionEndpointResource'
        nextLink:
          description: The URL to use for getting the next set of results.
          type: string
  parameters:
    DataCollectionEndpointNameParameter:
      in: path
      name: dataCollectionEndpointName
      description: The name of the data collection endpoint. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
