openapi: 3.2.0
info:
  title: Microsoft Azure MonitorManagementClient Private Link Scoped…
  x-ms-code-generation-settings:
    name: MonitorManagementClient
  description: Azure Monitor API reference for Private Links Scopes management.
  version: 2021-07-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: PrivateLinkScopedResources
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/privateLinkScopes/{scopeName}/scopedResources/{name}
  : get:
      tags:
      - PrivateLinkScopedResources
      description: Gets a scoped resource in a private link scope.
      operationId: microsoftAzurePrivatelinkscopedresourcesGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/PrivateLinkScopeName'
      - name: name
        in: path
        description: The name of the scoped resource object.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved a scoped resource in a private link scope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScopedResource'
        default:
          description: An error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-ms-examples:
        Gets private link scoped resource.:
          $ref: ./examples/PrivateLinkScopedResourceGet.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - PrivateLinkScopedResources
      description: Approve or reject a private endpoint connection with a given name.
      operationId: microsoftAzurePrivatelinkscopedresourcesCreateorupdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/PrivateLinkScopeName'
      - name: name
        in: path
        description: The name of the scoped resource object.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully create or updated a new azure monitor scoped resource in a private link scope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScopedResource'
        '201':
          description: Successfully created a new azure monitor scoped resource in a private link scope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScopedResource'
        '202':
          description: Accepted
        default:
          description: An error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-ms-long-running-operation: true
      x-ms-examples:
        Update a scoped resource in a private link scope.:
          $ref: ./examples/PrivateLinkScopedResourceUpdate.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScopedResource'
        required: true
    delete:
      tags:
      - PrivateLinkScopedResources
      description: Deletes a private endpoint connection with a given name.
      operationId: microsoftAzurePrivatelinkscopedresourcesDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/PrivateLinkScopeName'
      - name: name
        in: path
        description: The name of the scoped resource object.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully deleted scoped resource.
        '202':
          description: Accepted
        '204':
          description: Scoped resource does not exist.
        default:
          description: An error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-ms-long-running-operation: true
      x-ms-examples:
        Deletes a scoped resource with a given name.:
          $ref: ./examples/PrivateLinkScopedResourceDelete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/privateLinkScopes/{scopeName}/scopedResources
  : get:
      tags:
      - PrivateLinkScopedResources
      description: Gets all private endpoint connections on a private link scope.
      operationId: microsoftAzurePrivatelinkscopedresourcesListbyprivatelinkscope
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/PrivateLinkScopeName'
      responses:
        '200':
          description: Successfully retrieved scoped resources in a private link scope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScopedResourceListResult'
        default:
          description: An error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Gets list of scoped resources in a private link scope.:
          $ref: ./examples/PrivateLinkScopedResourceList.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    DefaultErrorResponse:
      title: Default error response
      description: Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).
      type: object
      properties:
        error:
          description: The error object.
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorDetail
    ScopedResourceProperties:
      description: Properties of a private link scoped resource.
      type: object
      properties:
        linkedResourceId:
          description: The resource id of the scoped Azure monitor resource.
          type: string
        provisioningState:
          description: State of the private endpoint connection.
          type: string
          readOnly: true
    ScopedResource:
      description: A private link scoped resource
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource
      properties:
        properties:
          $ref: '#/components/schemas/ScopedResourceProperties'
          description: Resource properties.
          x-ms-client-flatten: true
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: System data
          readOnly: true
    ScopedResourceListResult:
      description: A list of scoped resources in a private link scope.
      type: object
      properties:
        value:
          description: Array of results.
          type: array
          items:
            $ref: '#/components/schemas/ScopedResource'
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
  parameters:
    PrivateLinkScopeName:
      name: scopeName
      in: path
      required: true
      description: The name of the Azure Monitor PrivateLinkScope resource.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
