openapi: 3.2.0
info:
  title: Microsoft Azure Azure Migrate Assessment Service Assessment…
  version: 2023-04-01-preview
  description: Azure Migrate Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: AssessmentProjectSummaryOperations
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/projectSummary
  : get:
      operationId: microsoftAzureAssessmentprojectsummaryoperationsListbyassessmentproject
      tags:
      - AssessmentProjectSummaryOperations
      description: List AssessmentProjectSummary resources by AssessmentProject
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssessmentProjectSummaryListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        AssessmentProjectSummaryOperations_ListByAssessmentProject_MaximumSet_Gen:
          $ref: ./examples/AssessmentProjectSummaryOperations_ListByAssessmentProject_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/projectSummary/{projectSummaryName}
  : get:
      operationId: microsoftAzureAssessmentprojectsummaryoperationsGet
      tags:
      - AssessmentProjectSummaryOperations
      description: Get a AssessmentProjectSummary
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: projectSummaryName
        in: path
        description: Group ARM name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssessmentProjectSummary'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        AssessmentProjectSummaryOperations_Get_MaximumSet_Gen:
          $ref: ./examples/AssessmentProjectSummaryOperations_Get_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    ErrorSummary:
      type: object
      description: Error summary containing affected entities for each type of assessment.
      properties:
        assessmentType:
          $ref: '#/components/schemas/AssessmentType'
          description: Gets the assessment type.
          readOnly: true
        count:
          type: integer
          format: int32
          description: Gets the affected entity count.
          readOnly: true
    AssessmentType:
      type: string
      enum:
      - Unknown
      - MachineAssessment
      - AvsAssessment
      - SqlAssessment
      - WebAppAssessment
      x-ms-enum:
        name: AssessmentType
        modelAsString: true
    AssessmentProjectSummary:
      type: object
      description: Assessment project summary resource.
      properties:
        properties:
          $ref: '#/components/schemas/AssessmentProjectSummaryProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
    AssessmentProjectSummaryListResult:
      type: object
      description: The response of a AssessmentProjectSummary list operation.
      properties:
        value:
          type: array
          description: The AssessmentProjectSummary items on this page
          items:
            $ref: '#/components/schemas/AssessmentProjectSummary'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    AssessmentProjectSummaryProperties:
      type: object
      description: Assessment project summary properties class.
      properties:
        errorSummaryAffectedEntities:
          type: array
          description: 'Gets the Error summary by feature. Contains number of affected Entities per

            feature.'
          items:
            $ref: '#/components/schemas/ErrorSummary'
          readOnly: true
          x-ms-identifiers: []
        numberOfPrivateEndpointConnections:
          type: integer
          format: int32
          description: Gets the number of private endpoint connections.
          readOnly: true
        numberOfGroups:
          type: integer
          format: int32
          description: Gets the number of groups created in this project.
          readOnly: true
        numberOfMachines:
          type: integer
          format: int32
          description: Gets the number of machines part of this project.
          readOnly: true
        numberOfImportMachines:
          type: integer
          format: int32
          description: Gets the number of import machines part of this project.
          readOnly: true
        numberOfAssessments:
          type: integer
          format: int32
          description: Gets the number of assessments created in this project.
          readOnly: true
        lastAssessmentTimestamp:
          type: string
          format: date-time
          description: Gets the last assessment timestamp.
          readOnly: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
