openapi: 3.2.0
info:
  title: Microsoft Azure Recommendations API
  version: '1.0'
  description: 'Operations tagged Recommendations across 2 of this provider''s published API definitions: recommendations-api-client-openapi-original.yml, website-management-client-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Recommendations
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/recommendations:
    get:
      tags:
      - Recommendations
      summary: Microsoft Azure List All Recommendations For A Subscription
      description: Description for List all recommendations for a subscription.
      operationId: microsoftAzureRecommendationsList
      parameters:
      - name: featured
        in: query
        description: Specify <code>true</code> to return only the most critical recommendations. The default is <code>false</code>, which returns all recommendations.
        schema:
          type: boolean
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      - name: $filter
        in: query
        description: 'Filter is specified by using OData syntax. Example: $filter=channel eq ''Api'' or channel eq ''Notification'' and startTime eq 2014-01-01T00:00:00Z and endTime eq 2014-12-31T23:59:59Z and timeGrain eq duration''[PT1H|PT1M|P1D]'
        x-ms-skip-url-encoding: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/recommendations/reset:
    post:
      tags:
      - Recommendations
      summary: Microsoft Azure Reset All Recommendation Opt Out Settings For A Subscription
      description: Description for Reset all recommendation opt-out settings for a subscription.
      operationId: microsoftAzureRecommendationsResetallfilters
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '204':
          description: No Content
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/recommendations/{name}/disable:
    post:
      tags:
      - Recommendations
      summary: Microsoft Azure Disables The Specified Rule So It Will Not Apply To A…
      description: Description for Disables the specified rule so it will not apply to a subscription in the future.
      operationId: microsoftAzureRecommendationsDisablerecommendationforsubscription
      parameters:
      - name: name
        in: path
        description: Rule name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully disabled recommendations.
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{hostingEnvironmentName}/recommendationHistory
  : get:
      tags:
      - Recommendations
      summary: Microsoft Azure Get Past Recommendations For An App, Optionally Specified By…
      description: Description for Get past recommendations for an app, optionally specified by the time range.
      operationId: microsoftAzureRecommendationsListhistoryforhostingenvironment
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: hostingEnvironmentName
        in: path
        description: Name of the hosting environment.
        required: true
        schema:
          type: string
      - name: expiredOnly
        in: query
        description: Specify <code>false</code> to return all recommendations. The default is <code>true</code>, which returns only expired recommendations.
        schema:
          type: boolean
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      - name: $filter
        in: query
        description: 'Filter is specified by using OData syntax. Example: $filter=channel eq ''Api'' or channel eq ''Notification'' and startTime eq 2014-01-01T00:00:00Z and endTime eq 2014-12-31T23:59:59Z and timeGrain eq duration''[PT1H|PT1M|P1D]'
        x-ms-skip-url-encoding: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{hostingEnvironmentName}/recommendations
  : get:
      tags:
      - Recommendations
      summary: Microsoft Azure Get All Recommendations For A Hosting Environment
      description: Description for Get all recommendations for a hosting environment.
      operationId: microsoftAzureRecommendationsListrecommendedrulesforhostingenvironment
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: hostingEnvironmentName
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - name: featured
        in: query
        description: Specify <code>true</code> to return only the most critical recommendations. The default is <code>false</code>, which returns all recommendations.
        schema:
          type: boolean
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      - name: $filter
        in: query
        description: 'Return only channels specified in the filter. Filter is specified by using OData syntax. Example: $filter=channel eq ''Api'' or channel eq ''Notification'''
        x-ms-skip-url-encoding: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{hostingEnvironmentName}/recommendations/disable
  : post:
      tags:
      - Recommendations
      summary: Microsoft Azure Disable All Recommendations For An App
      description: Description for Disable all recommendations for an app.
      operationId: microsoftAzureRecommendationsDisableallforhostingenvironment
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: environmentName
        in: query
        description: Name of the app.
        required: true
        schema:
          type: string
      - name: hostingEnvironmentName
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '204':
          description: No Content
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{hostingEnvironmentName}/recommendations/reset
  : post:
      tags:
      - Recommendations
      summary: Microsoft Azure Reset All Recommendation Opt Out Settings For An App
      description: Description for Reset all recommendation opt-out settings for an app.
      operationId: microsoftAzureRecommendationsResetallfiltersforhostingenvironment
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: environmentName
        in: query
        description: Name of the app.
        required: true
        schema:
          type: string
      - name: hostingEnvironmentName
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '204':
          description: No Content
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{hostingEnvironmentName}/recommendations/{name}
  : get:
      tags:
      - Recommendations
      summary: Microsoft Azure Get A Recommendation Rule For An App
      description: Description for Get a recommendation rule for an app.
      operationId: microsoftAzureRecommendationsGetruledetailsbyhostingenvironment
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: hostingEnvironmentName
        in: path
        description: Name of the hosting environment.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: Name of the recommendation.
        required: true
        schema:
          type: string
      - name: updateSeen
        in: query
        description: Specify <code>true</code> to update the last-seen timestamp of the recommendation object.
        schema:
          type: boolean
      - name: recommendationId
        in: query
        description: The GUID of the recommendation object if you query an expired one. You don't need to specify it to query an active entry.
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationRule'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{hostingEnvironmentName}/recommendations/{name}/disable
  : post:
      tags:
      - Recommendations
      summary: Microsoft Azure Disables The Specific Rule For A Web Site Permanently
      description: Description for Disables the specific rule for a web site permanently.
      operationId: microsoftAzureRecommendationsDisablerecommendationforhostingenvironment
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: environmentName
        in: query
        description: Site name
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: Rule name
        required: true
        schema:
          type: string
      - name: hostingEnvironmentName
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully disabled recommendations.
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/recommendationHistory
  : get:
      tags:
      - Recommendations
      summary: Microsoft Azure Get Past Recommendations For An App, Optionally Specified By…
      description: Description for Get past recommendations for an app, optionally specified by the time range.
      operationId: microsoftAzureRecommendationsListhistoryforwebapp
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: siteName
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - name: expiredOnly
        in: query
        description: Specify <code>false</code> to return all recommendations. The default is <code>true</code>, which returns only expired recommendations.
        schema:
          type: boolean
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      - name: $filter
        in: query
        description: 'Filter is specified by using OData syntax. Example: $filter=channel eq ''Api'' or channel eq ''Notification'' and startTime eq 2014-01-01T00:00:00Z and endTime eq 2014-12-31T23:59:59Z and timeGrain eq duration''[PT1H|PT1M|P1D]'
        x-ms-skip-url-encoding: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/recommendations
  : get:
      tags:
      - Recommendations
      summary: Microsoft Azure Get All Recommendations For An App
      description: Description for Get all recommendations for an app.
      operationId: microsoftAzureRecommendationsListrecommendedrulesforwebapp
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: siteName
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - name: featured
        in: query
        description: Specify <code>true</code> to return only the most critical recommendations. The default is <code>false</code>, which returns all recommendations.
        schema:
          type: boolean
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      - name: $filter
        in: query
        description: 'Return only channels specified in the filter. Filter is specified by using OData syntax. Example: $filter=channel eq ''Api'' or channel eq ''Notification'''
        x-ms-skip-url-encoding: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/recommendations/disable
  : post:
      tags:
      - Recommendations
      summary: Microsoft Azure Disable All Recommendations For An App
      description: Description for Disable all recommendations for an app.
      operationId: microsoftAzureRecommendationsDisableallforwebapp
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: siteName
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '204':
          description: No Content
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/recommendations/reset
  : post:
      tags:
      - Recommendations
      summary: Microsoft Azure Reset All Recommendation Opt Out Settings For An App
      description: Description for Reset all recommendation opt-out settings for an app.
      operationId: microsoftAzureRecommendationsResetallfiltersforwebapp
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: siteName
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '204':
          description: No Content
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/recommendations/{name}
  : get:
      tags:
      - Recommendations
      summary: Microsoft Azure Get A Recommendation Rule For An App
      description: Description for Get a recommendation rule for an app.
      operationId: microsoftAzureRecommendationsGetruledetailsbywebapp
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: siteName
        in: path
        description: Name of the app.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: Name of the recommendation.
        required: true
        schema:
          type: string
      - name: updateSeen
        in: query
        description: Specify <code>true</code> to update the last-seen timestamp of the recommendation object.
        schema:
          type: boolean
      - name: recommendationId
        in: query
        description: The GUID of the recommendation object if you query an expired one. You don't need to specify it to query an active entry.
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationRule'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/recommendations/{name}/disable
  : post:
      tags:
      - Recommendations
      summary: Microsoft Azure Disables The Specific Rule For A Web Site Permanently
      description: Description for Disables the specific rule for a web site permanently.
      operationId: microsoftAzureRecommendationsDisablerecommendationforsite
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: Rule name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully disabled recommendations.
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
    servers:
    - url: https://management.azure.com
components:
  schemas:
    Recommendation:
      description: Represents a recommendation result generated by the recommendation engine.
      type: object
      allOf:
      - $ref: ./CommonDefinitions.json#/definitions/ProxyOnlyResource
      properties:
        properties:
          description: Recommendation resource specific properties
          type: object
          properties:
            creationTime:
              format: date-time
              description: Timestamp when this instance was created.
              type: string
            recommendationId:
              format: uuid
              description: A GUID value that each recommendation object is associated with.
              type: string
              example: 00000000-0000-0000-0000-000000000000
            resourceId:
              description: Full ARM resource ID string that this recommendation object is associated with.
              type: string
            resourceScope:
              description: Name of a resource type this recommendation applies, e.g. Subscription, ServerFarm, Site.
              enum:
              - ServerFarm
              - Subscription
              - WebSite
              type: string
              x-ms-enum:
                name: ResourceScopeType
                modelAsString: true
            ruleName:
              description: Unique name of the rule.
              type: string
            displayName:
              description: UI friendly name of the rule (may not be unique).
              type: string
            message:
              description: Recommendation text.
              type: string
            level:
              description: Level indicating how critical this recommendation can impact.
              enum:
              - Critical
              - Warning
              - Information
              - NonUrgentSuggestion
              type: string
              x-ms-enum:
                name: NotificationLevel
                modelAsString: false
            channels:
              description: List of channels that this recommendation can apply.
              enum:
              - Notification
              - Api
              - Email
              - Webhook
              - All
              type: string
              x-ms-enum:
                name: Channels
                modelAsString: false
            categoryTags:
              description: The list of category tags that this recommendation belongs to.
              type: array
              items:
                type: string
              readOnly: true
            actionName:
              description: Name of action recommended by this object.
              type: string
            enabled:
              format: int32
              description: True if this recommendation is still valid (i.e. "actionable"). False if it is invalid.
              type: integer
            states:
              description: The list of states of this recommendation. If it's null then it should be considered "Active".
              type: array
              items:
                type: string
            startTime:
              format: date-time
              description: The beginning time in UTC of a range that the recommendation refers to.
              type: string
            endTime:
              format: date-time
              description: The end time in UTC of a range that the recommendation refers to.
              type: string
            nextNotificationTime:
              format: date-time
              description: When to notify this recommendation next in UTC. Null means that this will never be notified anymore.
              type: string
            notificationExpirationTime:
              format: date-time
              description: Date and time in UTC when this notification expires.
              type: string
            notifiedTime:
              format: date-time
              description: Last timestamp in UTC this instance was actually notified. Null means that this recommendation hasn't been notified yet.
              type: string
            score:
              format: double
              description: A metric value measured by the rule.
              type: number
            isDynamic:
              description: True if this is associated with a dynamically added rule
              type: boolean
            extensionName:
              description: Extension name of the portal if exists.
              type: string
            bladeName:
              description: Deep link to a blade on the portal.
              type: string
            forwardLink:
              description: Forward link to an external document associated with the rule.
              type: string
          x-ms-client-flatten: true
    RecommendationCollection:
      description: Collection of recommendations.
      required:
      - value
      type: object
      properties:
        value:
          description: Collection of resources.
          type: array
          items:
            $ref: '#/components/schemas/Recommendation'
        nextLink:
          description: Link to next page of resources.
          type: string
          readOnly: true
    RecommendationRule:
      description: Represents a recommendation rule that the recommendation engine can perform.
      type: object
      allOf:
      - $ref: ./CommonDefinitions.json#/definitions/ProxyOnlyResource
      properties:
        properties:
          description: RecommendationRule resource specific properties
          type: object
          properties:
            recommendationName:
              description: Unique name of the rule.
              type: string
            displayName:
              description: UI friendly name of the rule.
              type: string
            message:
              description: Localized name of the rule (Good for UI).
              type: string
            recommendationId:
              format: uuid
              description: 'Recommendation ID of an associated recommendation object tied to the rule, if exists.

                If such an object doesn''t exist, it is set to null.'
              type: string
              example: 00000000-0000-0000-0000-000000000000
            description:
              description: Localized detailed description of the rule.
              type: string
            actionName:
              description: Name of action that is recommended by this rule in string.
              type: string
            level:
              description: Level of impact indicating how critical this rule is.
              enum:
              - Critical
              - Warning
              - Information
              - NonUrgentSuggestion
              type: string
              x-ms-enum:
                name: NotificationLevel
                modelAsString: false
            channels:
              description: List of available channels that this rule applies.
              enum:
              - Notification
              - Api
              - Email
              - Webhook
              - All
              type: string
              x-ms-enum:
                name: Channels
                modelAsString: false
            categoryTags:
              description: The list of category tags that this recommendation rule belongs to.
              type: array
              items:
                type: string
              readOnly: true
            isDynamic:
              description: True if this is associated with a dynamically added rule
              type: boolean
            extensionName:
              description: Extension name of the portal if exists. Applicable to dynamic rule only.
              type: string
            bladeName:
              description: Deep link to a blade on the portal. Applicable to dynamic rule only.
              type: string
            forwardLink:
              description: Forward link to an external document associated with the rule. Applicable to dynamic rule only.
              type: string
          x-ms-client-flatten: true
    RecommendationRule_2:
      description: Represents a recommendation rule that the recommendation engine can perform
      required:
      - level
      - channels
      type: object
      properties:
        name:
          description: Unique name of the rule
          type: string
        displayName:
          description: UI friendly name of the rule
          type: string
        message:
          description: Localized name of the rule (Good for UI)
          type: string
        recommendationId:
          description: "Recommendation ID of an associated recommendation object tied to the rule, if exists.\n            If such an object doesn't exist, it is set to null."
          type: string
        description:
          description: Localized detailed description of the rule
          type: string
        actionName:
          description: Name of action that is recommended by this rule in string
          type: string
        enabled:
          format: int32
          description: On/off flag indicating the rule is currently enabled or disabled.
          type: integer
        level:
          description: Level of impact indicating how critical this rule is.
          enum:
          - Critical
          - Warning
          - Information
          - NonUrgentSuggestion
          type: string
          x-ms-enum:
            name: NotificationLevel
            modelAsString: false
        channels:
          description: List of available channels that this rule applies.
          enum:
          - Notification
          - Api
          - Email
          - All
          type: string
          x-ms-enum:
            name: Channels
            modelAsString: false
        tags:
          description: An array of category tags that the rule contains.
          type: array
          items:
            type: string
    Recommendation_2:
      description: Represents a recommendation result generated by the recommendation engine
      required:
      - level
      - channels
      type: object
      properties:
        creationTime:
          format: date-time
          description: Timestamp when this instance was created.
          type: string
        recommendationId:
          description: A GUID value that each recommendation object is associated with.
          type: string
        resourceId:
          description: Full ARM resource ID string that this recommendation object is associated with.
          type: string
        resourceScope:
          description: Name of a resource type this recommendation applies, e.g. Subscription, ServerFarm, Site.
          type: string
        ruleName:
          description: Unique name of the rule
          type: string
        displayName:
          description: UI friendly name of the rule (may not be unique)
          type: string
        message:
          description: Localized text of recommendation, good for UI.
          type: string
        level:
          description: Level indicating how critical this recommendation can impact.
          enum:
          - Critical
          - Warning
          - Information
          - NonUrgentSuggestion
          type: string
          x-ms-enum:
            name: NotificationLevel
            modelAsString: false
        channels:
          description: List of channels that this recommendation can apply.
          enum:
          - Notification
          - Api
          - Email
          - All
          type: string
          x-ms-enum:
            name: Channels
            modelAsString: false
        tags:
          description: The list of category tags that this recommendation belongs to.
          type: array
          items:
            type: string
        actionName:
          description: Name of action recommended by this object.
          type: string
        enabled:
          format: int32
          description: On/off flag indicating the rule is currently enabled or disabled.
          type: integer
        startTime:
          format: date-time
          description: The beginning time of a range that the recommendation refers to.
          type: string
        endTime:
          format: date-time
          description: The end time of a range that the recommendation refers to.
          type: string
        nextNotificationTime:
          format: date-time
          description: When to notify this recommendation next. Null means that this will never be notified anymore.
          type: string
        notificationExpirationTime:
          format: date-time
          description: Date and time when this notification expires.
          type: string
        notifiedTime:
          format: date-time
          description: Last timestamp this instance was actually notified. Null means that this recommendation hasn't been notified yet.
          type: string
        score:
          format: double
          description: A metric value measured by the rule.
          type: number
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: Name of the resource group to which the resource belongs.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
        pattern: ^[-\w\._\(\)]+[^\.]$
    apiVersionParameter:
      name: api-version
      in: query
      description: API Version
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    apiVersionParameter_2:
      name: api-version
      in: query
      description: API Version
      required: true
      schema:
        type: string
    subscriptionIdParameter_2:
      name: subscriptionId
      in: path
      description: Subscription Id
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- recommendations-api-client-openapi-original.yml
- website-management-client-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
