openapi: 3.2.0
info:
  title: Microsoft Azure Azure Migrate Discovery Service Web App…
  version: 2023-10-01-preview
  description: Azure OffAzure Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: WebAppPropertiesController
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/masterSites/{siteName}/webAppSites/{webAppSiteName}/updateProperties
  : post:
      operationId: microsoftAzureWebapppropertiescontrollerUpdateproperties
      tags:
      - WebAppPropertiesController
      description: 'Method to update properties for web applications.

        in a site.'
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: webAppSiteName
        in: path
        description: Web app site name.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                type: object
        '202':
          description: Resource operation accepted.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      x-ms-examples:
        WebAppPropertiesController_UpdateProperties_MaximumSet_Gen:
          $ref: ./examples/WebAppPropertiesController_UpdateProperties_MaximumSet_Gen.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebAppPropertiesCollection'
        description: The content of the action request
        required: true
components:
  schemas:
    WebAppProperties:
      type: object
      description: Class representing web app properties web model.
      properties:
        webAppArmId:
          type: string
          description: Gets or sets the arm id of the web app.
        tags:
          type: object
          description: Gets or sets Tags.
          additionalProperties:
            type: string
    WebAppPropertiesCollection:
      type: object
      description: Collection of web app properties.
      properties:
        webApps:
          type: array
          description: Gets or sets the list of web app properties.
          items:
            $ref: '#/components/schemas/WebAppProperties'
          x-ms-identifiers: []
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
