openapi: 3.2.0
info:
  title: Microsoft Azure Azure SQL Database Capabilities API
  description: Describes the Azure SQL capabilities available to a subscription for a given location.
  version: '2014-04-01'
servers:
- url: https://management.azure.com
tags:
- name: Capabilities
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Sql/locations/{locationId}/capabilities:
    get:
      tags:
      - Capabilities
      operationId: microsoftAzureCapabilitiesListbylocation
      description: Gets the capabilities available for the specified location.
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - name: locationId
        in: path
        required: true
        description: The location id whose capabilities are retrieved.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationCapabilities'
      x-ms-examples:
        Get location capabilities:
          $ref: ./examples/CapabilitiesList.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Sql…
components:
  schemas:
    ElasticPoolEditionCapability:
      properties:
        name:
          readOnly: true
          type: string
          description: The elastic pool edition name.
        status:
          readOnly: true
          type: string
          description: The status of the elastic pool edition.
          $ref: '#/components/schemas/CapabilityStatus'
        supportedElasticPoolDtus:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ElasticPoolDtuCapability'
          description: The list of supported elastic pool DTU levels for the edition.
        zoneRedundant:
          description: Whether or not zone redundancy is supported for the edition.
          type: boolean
          readOnly: true
      description: The elastic pool edition capabilities.
    ElasticPoolPerDatabaseMinDtuCapability:
      properties:
        limit:
          readOnly: true
          type: integer
          format: int64
          description: The maximum DTUs per database.
        status:
          readOnly: true
          description: The status of the capability.
          $ref: '#/components/schemas/CapabilityStatus'
      description: The minimum per-database DTU capability.
    ElasticPoolDtuCapability:
      properties:
        limit:
          readOnly: true
          type: integer
          format: int64
          description: The maximum size of the database (see 'unit' for the units).
        maxDatabaseCount:
          readOnly: true
          type: integer
          format: int64
          description: The maximum number of databases supported.
        status:
          readOnly: true
          type: string
          description: The status of the capability.
          $ref: '#/components/schemas/CapabilityStatus'
        supportedMaxSizes:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/MaxSizeCapability'
          description: The list of supported max sizes.
        includedMaxSize:
          readOnly: true
          $ref: '#/components/schemas/MaxSizeCapability'
          description: The included (free) max size for this service level objective.
        supportedPerDatabaseMaxSizes:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/MaxSizeCapability'
          description: The list of supported max database sizes.
        supportedPerDatabaseMaxDtus:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ElasticPoolPerDatabaseMaxDtuCapability'
          description: The list of supported max database DTUs.
      description: The Elastic Pool DTU capability.
    LocationCapabilities:
      properties:
        name:
          readOnly: true
          type: string
          description: The location name.
        status:
          readOnly: true
          type: string
          description: Azure SQL Database's status for the location.
          $ref: '#/components/schemas/CapabilityStatus'
        supportedServerVersions:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ServerVersionCapability'
          description: The list of supported server versions.
      description: The capabilities for a location.
    MaxSizeCapability:
      properties:
        limit:
          readOnly: true
          type: integer
          format: int64
          description: The maximum size of the database (see 'unit' for the units).
        unit:
          readOnly: true
          type: string
          description: The units that the limit is expressed in.
          enum:
          - Megabytes
          - Gigabytes
          - Terabytes
          - Petabytes
          x-ms-enum:
            name: MaxSizeUnits
        status:
          readOnly: true
          description: The status of the maximum size capability.
          $ref: '#/components/schemas/CapabilityStatus'
      description: The maximum size limits for a database.
    ServerVersionCapability:
      properties:
        name:
          readOnly: true
          type: string
          description: The server version name.
        status:
          readOnly: true
          type: string
          description: The status of the server version.
          $ref: '#/components/schemas/CapabilityStatus'
        supportedEditions:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/EditionCapability'
          description: The list of supported database editions.
        supportedElasticPoolEditions:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ElasticPoolEditionCapability'
          description: The list of supported elastic pool editions.
      description: The server capabilities.
    EditionCapability:
      properties:
        name:
          readOnly: true
          type: string
          description: The edition name.
        status:
          readOnly: true
          type: string
          description: The status of the edition.
          $ref: '#/components/schemas/CapabilityStatus'
        supportedServiceLevelObjectives:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ServiceObjectiveCapability'
          description: The list of supported service objectives for the edition.
        zoneRedundant:
          description: Whether or not zone redundancy is supported for the edition.
          type: boolean
          readOnly: true
      description: The database edition capabilities.
    CapabilityStatus:
      type: string
      description: The availability status of the capability
      enum:
      - Visible
      - Available
      - Default
      - Disabled
      x-ms-enum:
        name: CapabilityStatus
    PerformanceLevel:
      description: A possible performance level of a service objective capability.
      properties:
        unit:
          type: string
          readOnly: true
          description: Unit type used to measure service objective performance level.
          enum:
          - DTU
          x-ms-enum:
            name: PerformanceLevelUnit
        value:
          type: integer
          readOnly: true
          description: Performance level value.
    ServiceObjectiveCapability:
      properties:
        name:
          readOnly: true
          type: string
          description: The service objective name.
        status:
          readOnly: true
          type: string
          description: The status of the service objective.
          $ref: '#/components/schemas/CapabilityStatus'
        performanceLevel:
          readOnly: true
          $ref: '#/components/schemas/PerformanceLevel'
          description: The performance level of the service objective capability.
          x-ms-client-flatten: true
        id:
          readOnly: true
          type: string
          format: uuid
          description: The unique ID of the service objective.
        supportedMaxSizes:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/MaxSizeCapability'
          description: The list of supported maximum database sizes for this service objective.
        includedMaxSize:
          readOnly: true
          $ref: '#/components/schemas/MaxSizeCapability'
          description: The included (free) max size for this service level objective.
      description: The service objectives capability.
    ElasticPoolPerDatabaseMaxDtuCapability:
      properties:
        limit:
          readOnly: true
          type: integer
          format: int64
          description: The maximum DTUs per database.
        status:
          readOnly: true
          description: The status of the capability.
          $ref: '#/components/schemas/CapabilityStatus'
        supportedPerDatabaseMinDtus:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ElasticPoolPerDatabaseMinDtuCapability'
          description: The list of supported min database DTUs.
      description: The max per-database DTU capability.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
