openapi: 3.2.0
info:
  title: Microsoft Azure StreamAnalyticsManagementClient…
  version: 2017-04-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Transformations
paths:
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/transformations/{transformationName}
  : put:
      tags:
      - Transformations
      operationId: microsoftAzureTransformationsCreateorreplace
      description: Creates a transformation or replaces an already existing transformation under an existing streaming job.
      x-ms-examples:
        Create a transformation:
          $ref: ./examples/Transformation_Create.json
      parameters:
      - name: If-Match
        in: header
        required: false
        x-ms-client-name: IfMatch
        description: The ETag of the transformation. Omit this value to always overwrite the current transformation. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.
        schema:
          type: string
      - name: If-None-Match
        in: header
        required: false
        x-ms-client-name: IfNoneMatch
        description: Set to '*' to allow a new transformation to be created, but to prevent updating an existing transformation. Other values will result in a 412 Pre-condition Failed response.
        schema:
          type: string
      - $ref: ../../common/v1/definitions.json#/parameters/ApiVersionParameter
      - $ref: ../../common/v1/definitions.json#/parameters/SubscriptionIdParameter
      - $ref: ../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../common/v1/definitions.json#/parameters/StreamingJobNameParameter
      - $ref: '#/components/parameters/TransformationNameParameter'
      responses:
        '200':
          description: The transformation was successfully created or replaced.
          headers:
            ETag:
              description: The current entity tag for the transformation. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transformation'
        '201':
          description: The transformation was successfully created or replaced.
          headers:
            ETag:
              description: The current entity tag for the transformation. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transformation'
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/Error
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transformation'
        description: The definition of the transformation that will be used to create a new transformation or replace the existing one under the streaming job.
        required: true
    patch:
      tags:
      - Transformations
      operationId: microsoftAzureTransformationsUpdate
      description: Updates an existing transformation under an existing streaming job. This can be used to partially update (ie. update one or two properties) a transformation without affecting the rest the job or transformation definition.
      x-ms-examples:
        Update a transformation:
          $ref: ./examples/Transformation_Update.json
      parameters:
      - name: If-Match
        in: header
        required: false
        x-ms-client-name: IfMatch
        description: The ETag of the transformation. Omit this value to always overwrite the current transformation. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.
        schema:
          type: string
      - $ref: ../../common/v1/definitions.json#/parameters/ApiVersionParameter
      - $ref: ../../common/v1/definitions.json#/parameters/SubscriptionIdParameter
      - $ref: ../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../common/v1/definitions.json#/parameters/StreamingJobNameParameter
      - $ref: '#/components/parameters/TransformationNameParameter'
      responses:
        '200':
          description: The transformation was successfully updated.
          headers:
            ETag:
              description: The current entity tag for the transformation. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transformation'
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/Error
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transformation'
        description: A Transformation object. The properties specified here will overwrite the corresponding properties in the existing transformation (ie. Those properties will be updated). Any properties that are set to null here will mean that the corresponding property in the existing transformation will remain the same and not change as a result of this PATCH operation.
        required: true
    get:
      tags:
      - Transformations
      operationId: microsoftAzureTransformationsGet
      description: Gets details about the specified transformation.
      x-ms-examples:
        Get a transformation:
          $ref: ./examples/Transformation_Get.json
      parameters:
      - $ref: ../../common/v1/definitions.json#/parameters/ApiVersionParameter
      - $ref: ../../common/v1/definitions.json#/parameters/SubscriptionIdParameter
      - $ref: ../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../common/v1/definitions.json#/parameters/StreamingJobNameParameter
      - $ref: '#/components/parameters/TransformationNameParameter'
      responses:
        '200':
          description: Successfully retrieved the specified transformation.
          headers:
            ETag:
              description: The current entity tag for the transformation. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transformation'
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/Error
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    SubResource:
      description: The base sub-resource model definition.
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
      x-ms-azure-resource: true
    TransformationProperties:
      description: The properties that are associated with a transformation.
      type: object
      properties:
        streamingUnits:
          type: integer
          format: int32
          description: Specifies the number of streaming units that the streaming job uses.
        query:
          type: string
          description: 'Specifies the query that will be run in the streaming job. You can learn more about the Stream Analytics Query Language (SAQL) here: https://msdn.microsoft.com/library/azure/dn834998 . Required on PUT (CreateOrReplace) requests.'
        etag:
          readOnly: true
          type: string
          description: The current entity tag for the transformation. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.
    Transformation:
      description: A transformation object, containing all information associated with the named transformation. All transformations are contained under a streaming job.
      type: object
      allOf:
      - $ref: '#/components/schemas/SubResource'
      properties:
        properties:
          $ref: '#/components/schemas/TransformationProperties'
          description: The properties that are associated with a transformation. Required on PUT (CreateOrReplace) requests.
          x-ms-client-flatten: true
  parameters:
    TransformationNameParameter:
      name: transformationName
      in: path
      required: true
      description: The name of the transformation.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
