openapi: 3.2.0
info:
  title: Microsoft Azure Diagnostics API
  version: '1.0'
  description: 'Operations tagged Diagnostics across 3 of this provider''s published API definitions: computediagnosticresourceproviderclient-openapi-original.yml, diagnostics-api-client-openapi-original.yml, helprp-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Diagnostics
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/diagnostics/diskInspection/run:
    post:
      tags:
      - Diagnostics
      operationId: microsoftAzureDiskinspectionCreate
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      description: Creates a request for executing disk Inspection.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        default:
          description: Error response describing why the diagnostic run failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Create a request for disk inspection.:
          $ref: ./examples/RunDiskInspection.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft Compute…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunDiskInspectionInput'
        description: RunDiskInspection object supplied in the body of the Post run disk inspection operation.
        required: true
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/diagnostics:
    get:
      tags:
      - Diagnostics
      operationId: microsoftAzureDiagnosticsList
      description: Lists all available Compute diagnostics for a subscription in a location.
      x-ms-pageable:
        nextLinkName: nextLink
        itemName: value
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputeDiagnosticsList'
        default:
          description: Error response describing why the listing call failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Gets the status of a scheduled disk inspection request.:
          $ref: ./examples/ListDiagnostics.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Compute…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/detectors
  : get:
      tags:
      - Diagnostics
      summary: Microsoft Azure List Hosting Environment Detector Responses
      description: Description for List Hosting Environment Detector Responses
      operationId: microsoftAzureDiagnosticsListhostingenvironmentdetectorresponses
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Site Name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DetectorResponseCollection
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Get App Service Environment Detector Responses:
          $ref: ./examples/Diagnostics_ListHostingEnvironmentDetectorResponses.json
      x-ms-pageable:
        nextLinkName: nextLink
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/detectors/{detectorName}
  : get:
      tags:
      - Diagnostics
      summary: Microsoft Azure Get Hosting Environment Detector Response
      description: Description for Get Hosting Environment Detector Response
      operationId: microsoftAzureDiagnosticsGethostingenvironmentdetectorresponse
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: App Service Environment Name
        required: true
        schema:
          type: string
      - name: detectorName
        in: path
        description: Detector Resource Name
        required: true
        schema:
          type: string
      - name: startTime
        in: query
        description: Start Time
        schema:
          type: string
          format: date-time
      - name: endTime
        in: query
        description: End Time
        schema:
          type: string
          format: date-time
      - name: timeGrain
        in: query
        description: Time Grain
        schema:
          type: string
          pattern: PT[1-9][0-9]+[SMH]
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DetectorResponse
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Get App Service Environment Detector Responses:
          $ref: ./examples/Diagnostics_GetHostingEnvironmentDetectorResponse.json
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/detectors:
    get:
      tags:
      - Diagnostics
      summary: Microsoft Azure List Site Detector Responses
      description: Description for List Site Detector Responses
      operationId: microsoftAzureDiagnosticsListsitedetectorresponses
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: siteName
        in: path
        description: Site Name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DetectorResponseCollection
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Get App Detector Responses:
          $ref: ./examples/Diagnostics_ListSiteDetectorResponses.json
        Get App Slot Detector Responses:
          $ref: ./examples/Diagnostics_ListSiteDetectorResponsesSlot.json
      x-ms-pageable:
        nextLinkName: nextLink
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/detectors/{detectorName}
  : get:
      tags:
      - Diagnostics
      summary: Microsoft Azure Get Site Detector Response
      description: Description for Get site detector response
      operationId: microsoftAzureDiagnosticsGetsitedetectorresponse
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: siteName
        in: path
        description: Site Name
        required: true
        schema:
          type: string
      - name: detectorName
        in: path
        description: Detector Resource Name
        required: true
        schema:
          type: string
      - name: startTime
        in: query
        description: Start Time
        schema:
          type: string
          format: date-time
      - name: endTime
        in: query
        description: End Time
        schema:
          type: string
          format: date-time
      - name: timeGrain
        in: query
        description: Time Grain
        schema:
          type: string
          pattern: PT[1-9][0-9]+[SMH]
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DetectorResponse
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Get App Detector Response:
          $ref: ./examples/Diagnostics_GetSiteDetectorResponse.json
        Get App Slot Detector Response:
          $ref: ./examples/Diagnostics_GetSiteDetectorResponseSlot.json
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics:
    get:
      tags:
      - Diagnostics
      summary: Microsoft Azure Get Diagnostics Categories
      description: Description for Get Diagnostics Categories
      operationId: microsoftAzureDiagnosticsListsitediagnosticcategories
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: siteName
        in: path
        description: Site Name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticCategoryCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        List App Diagnostic Categories:
          $ref: ./examples/Diagnostics_ListSiteDiagnosticCategories.json
        List App Slot Diagnostic Categories:
          $ref: ./examples/Diagnostics_ListSiteDiagnosticCategoriesSlot.json
      x-ms-pageable:
        nextLinkName: nextLink
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}
  : get:
      tags:
      - Diagnostics
      summary: Microsoft Azure Get Diagnostics Category
      description: Description for Get Diagnostics Category
      operationId: microsoftAzureDiagnosticsGetsitediagnosticcategory
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: siteName
        in: path
        description: Site Name
        required: true
        schema:
          type: string
      - name: diagnosticCategory
        in: path
        description: Diagnostic Category
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticCategory'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Get App Diagnostic Category:
          $ref: ./examples/Diagnostics_GetSiteDiagnosticCategory.json
        Get App Slot Diagnostic Category:
          $ref: ./examples/Diagnostics_GetSiteDiagnosticCategorySlot.json
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/analyses
  : get:
      tags:
      - Diagnostics
      summary: Microsoft Azure Get Site Analyses
      description: Description for Get Site Analyses
      operationId: microsoftAzureDiagnosticsListsiteanalyses
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: siteName
        in: path
        description: Site Name
        required: true
        schema:
          type: string
      - name: diagnosticCategory
        in: path
        description: Diagnostic Category
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticAnalysisCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        List App Analyses:
          $ref: ./examples/Diagnostics_ListSiteAnalyses.json
        List App Slot Analyses:
          $ref: ./examples/Diagnostics_ListSiteAnalysesSlot.json
      x-ms-pageable:
        nextLinkName: nextLink
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/analyses/{analysisName}
  : get:
      tags:
      - Diagnostics
      summary: Microsoft Azure Get Site Analysis
      description: Description for Get Site Analysis
      operationId: microsoftAzureDiagnosticsGetsiteanalysis
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: siteName
        in: path
        description: Site Name
        required: true
        schema:
          type: string
      - name: diagnosticCategory
        in: path
        description: Diagnostic Category
        required: true
        schema:
          type: string
      - name: analysisName
        in: path
        description: Analysis Name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisDefinition'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Get App Analysis:
          $ref: ./examples/Diagnostics_GetSiteAnalysis.json
        Get App Slot Analysis:
          $ref: ./examples/Diagnostics_GetSiteAnalysisSlot.json
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/analyses/{analysisName}/execute
  : post:
      tags:
      - Diagnostics
      summary: Microsoft Azure Execute Analysis
      description: Description for Execute Analysis
      operationId: microsoftAzureDiagnosticsExecutesiteanalysis
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: siteName
        in: path
        description: Site Name
        required: true
        schema:
          type: string
      - name: diagnosticCategory
        in: path
        description: Category Name
        required: true
        schema:
          type: string
      - name: analysisName
        in: path
        description: Analysis Resource Name
        required: true
        schema:
          type: string
      - name: startTime
        in: query
        description: Start Time
        schema:
          type: string
          format: date-time
      - name: endTime
        in: query
        description: End Time
        schema:
          type: string
          format: date-time
      - name: timeGrain
        in: query
        description: Time Grain
        schema:
          type: string
          pattern: PT[1-9][0-9]+[SMH]
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticAnalysis'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Execute site slot analysis:
          $ref: ./examples/Diagnostics_ExecuteSiteAnalysisSlot.json
        Execute site analysis:
          $ref: ./examples/Diagnostics_ExecuteSiteAnalysis.json
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/detectors
  : get:
      tags:
      - Diagnostics
      summary: Microsoft Azure Get Detectors
      description: Description for Get Detectors
      operationId: microsoftAzureDiagnosticsListsitedetectors
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: siteName
        in: path
        description: Site Name
        required: true
        schema:
          type: string
      - name: diagnosticCategory
        in: path
        description: Diagnostic Category
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticDetectorCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        List App Detectors:
          $ref: ./examples/Diagnostics_ListSiteDetectors.json
        List App Slot Detectors:
          $ref: ./examples/Diagnostics_ListSiteDetectorsSlot.json
      x-ms-pageable:
        nextLinkName: nextLink
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/detectors/{detectorName}
  : get:
      tags:
      - Diagnostics
      summary: Microsoft Azure Get Detector
      description: Description for Get Detector
      operationId: microsoftAzureDiagnosticsGetsitedetector
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: siteName
        in: path
        description: Site Name
        required: true
        schema:
          type: string
      - name: diagnosticCategory
        in: path
        description: Diagnostic Category
        required: true
        schema:
          type: string
      - name: detectorName
        in: path
        description: Detector Name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectorDefinitionResource'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Get App Detector:
          $ref: ./examples/Diagnostics_GetSiteDetector.json
        Get App Slot Detector:
          $ref: ./examples/Diagnostics_GetSiteDetectorSlot.json
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/detectors/{detectorName}/execute
  : post:
      tags:
      - Diagnostics
      summary: Microsoft Azure Execute Detector
      description: Description for Execute Detector
      operationId: microsoftAzureDiagnosticsExecutesitedetector
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: siteName
        in: path
        description: Site Name
        required: true
        schema:
          type: string
      - name: detectorName
        in: path
        description: Detector Resource Name
        required: true
        schema:
          type: string
      - name: diagnosticCategory
        in: path
        description: Category Name
        required: true
        schema:
          type: string
      - name: startTime
        in: query
        description: Start Time
        schema:
          type: string
          format: date-time
      - name: endTime
        in: query
        description: End Time
        schema:
          type: string
          format: date-time
      - name: timeGrain
        in: query
        description: Time Grain
        schema:
          type: string
          pattern: PT[1-9][0-9]+[SMH]
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticDetectorResponse'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Execute site detector:
          $ref: ./examples/Diagnostics_ExecuteSiteDetector.json
        Execute site slot detector:
          $ref: ./examples/Diagnostics_ExecuteSiteDetectorSlot.json
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/detectors
  : get:
      tags:
      - Diagnostics
      summary: Microsoft Azure List Site Detector Responses
      description: Description for List Site Detector Responses
      operationId: microsoftAzureDiagnosticsListsitedetectorresponsesslot
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: siteName
        in: path
        description: Site Name
        required: true
        schema:
          type: string
      - name: slot
        in: path
        description: Slot Name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DetectorResponseCollection
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Get App Detector Responses:
          $ref: ./examples/Diagnostics_ListSiteDetectorResponses.json
        Get App Slot Detector Responses:
          $ref: ./examples/Diagnostics_ListSiteDetectorResponsesSlot.json
      x-ms-pageable:
        nextLinkName: nextLink
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/detectors/{detectorName}
  : get:
      tags:
      - Diagnostics
      summary: Microsoft Azure Get Site Detector Response
      description: Description for Get site detector response
      operationId: microsoftAzureDiagnosticsGetsitedetectorresponseslot
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: siteName
        in: path
        description: Site Name
        required: true
        schema:
          type: string
      - name: detectorName
        in: path
        description: Detector Resource Name
        required: true
        schema:
          type: string
      - name: slot
        in: path
        description: Slot Name
        required: true
        schema:
          type: string
      - name: startTime
        in: query
        description: Start Time
        schema:
          type: string
          format: date-time
      - name: endTime
        in: query
        description: End Time
        schema:
          type: string
          format: date-time
      - name: timeGrain
        in: query
        description: Time Grain
        schema:
          type: string
          pattern: PT[1-9][0-9]+[SMH]
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DetectorResponse
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Get App Detector Response:
          $ref: ./examples/Diagnostics_GetSiteDetectorResponse.json
        Get App Slot Detector Response:
          $ref: ./examples/Diagnostics_GetSiteDetectorResponseSlot.json
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics
  : get:
      tags:
      - Diagnostics
      summary: Microsoft Azure Get Diagnostics Categories
      description: Description for Get Diagnostics Categories
      operationId: microsoftAzureDiagnosticsListsitediagnosticcategoriesslot
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: siteName
        in: path
        description: Site Name
        required: true
        schema:
          type: string
      - name: slot
        in: path
        description: Slot Name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticCategoryCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        List App Diagnostic Categories:
          $ref: ./examples/Diagnostics_ListSiteDiagnosticCategories.json
        List App Slot Diagnostic Categories:
          $ref: ./examples/Diagnostics_ListSiteDiagnosticCategoriesSlot.json
      x-ms-pageable:
        nextLinkName: nextLink
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}
  : get:
      tags:
      - Diagnostics
      summary: Microsoft Azure Get Diagnostics Category
      description: Description for Get Diagnostics Category
      operationId: microsoftAzureDiagnosticsGetsitediagnosticcategoryslot
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: siteName
        in: path
        description: Site Name
        required: true
        schema:
          type: string
      - name: diagnosticCategory
        in: path
        description: Diagnostic Category
        required: true
        schema:
          type: string
      - name: slot
        in: path
        description: Slot Name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticCategory'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Get App Diagnostic Category:
          $ref: ./examples/Diagnostics_GetSiteDiagnosticCategory.json
        Get App Slot Diagnostic Category:
          $ref: ./examples/Diagnostics_GetSiteDiagnosticCategorySlot.json
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/analyses
  : get:
      tags:
      - Diagnostics
      summary: Microsoft Azure Get Site Analyses
      description: Description for Get Site Analyses
      operationId: microsoftAzureDiagnosticsListsiteanalysesslot
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: siteName
        in: path
        description: Site Name
        required: true
        schema:
          type: string
      - name: diagnosticCategory
        in: path
        description: Diagnostic Category
        required: true
        schema:
          type: string
      - name: slot
        in: path
        description: Slot Name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticAnalysisCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        List App Analyses:
          $ref: ./examples/Diagnostics_ListSiteAnalyses.json
        List App Slot Analyses:
          $ref: ./examples/Diagnostics_ListSiteAnalysesSlot.json
      x-ms-pageable:
        nextLinkName: nextLink
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/analyses/{analysisName}
  : get:
      tags:
      - Diagnostics
      summary: Microsoft Azure Get Site Analysis
      description: Description for Get Site Analysis
      operationId: microsoftAzureDiagnosticsGetsiteanalysisslot
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: siteName
        in: path
        description: Site Name
        required: true
        schema:
          type: string
      - name: diagnosticCategory
        in: path
        description: Diagnostic Category
        required: true
        schema:
          type: string
      - name: analysisName
        in: path
        description: Analysis Name
        required: true
        schema:
          type: string
      - name: slot
        in: path
        description: Slot - optional
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisDefinition'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Get App Analysis:
          $ref: ./examples/Diagnostics_GetSiteAnalysis.json
        Get App Slot Analysis:
          $ref: ./examples/Diagnostics_GetSiteAnalysisSlot.json
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/analyses/{analysisName}/execute
  : post:
      tags:
      - Diagnostics
      summary: Microsoft Azure Execute Analysis
      description: Description for Execute Analysis
      operationId: microsoftAzureDiagnosticsExecutesiteanalysisslot
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: siteName
        in: path
        description: Site Name
        required: true
        schema:
          type: string
      - name: diagnosticCategory
        in: path
        description: Category Name
        required: true
        schema:
          type: string
      - name: analysisName
        in: path
        description: Analysis Resource Name
        required: true
        schema:
          type: string
      - name: slot
        in: path
        description: Slot Name
        required: true
        schema:
          type: string
      - name: startTime
        in: query
        description: Start Time
        schema:
          type: string
          format: date-time
      - name: endTime
        in: query
        description: End Time
        schema:
          type: string
          format: date-time
      - name: timeGrain
        in: query
        description: Time Grain
        schema:
          type: string
          pattern: PT[1-9][0-9]+[SMH]
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticAnalysis'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Execute site slot analysis:
          $ref: ./examples/Diagnostics_ExecuteSiteAnalysisSlot.json
        Execute site analysis:
          $ref: ./examples/Diagnostics_ExecuteSiteAnalysis.json
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/detectors
  : get:
      tags:
      - Diagnostics
      summary: Microsoft Azure Get Detectors
      description: Description for Get Detectors
      operationId: microsoftAzureDiagnosticsListsitedetectorsslot
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: siteName
        in: path
        description: Site Name
        required: true
        schema:
          type: string
      - name: diagnosticCategory
        in: path
        description: Diagnostic Category
        required: true
        schema:
          type: string
      - name: slot
        in: path
        description: Slot Name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticDetectorCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        List App Detectors:
          $ref: ./examples/Diagnostics_ListSiteDetectors.json
        List App Slot Detectors:
          $ref: ./examples/Diagnostics_ListSiteDetectorsSlot.json
      x-ms-pageable:
        nextLinkName: nextLink
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/detectors/{detectorName}
  : get:
      tags:
      - Diagnostics
      summary: Microsoft Azure Get Detector
      description: Description for Get Detector
      operationId: microsoftAzureDiagnosticsGetsitedetectorslot
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: siteName
        in: path
        description: Site Name
        required: true
        schema:
          type: string
      - name: diagnosticCategory
        in: path
        description: Diagnostic Category
        required: true
        schema:
          type: string
      - name: detectorName
        in: path
        description: Detector Name
        required: true
        schema:
          type: string
      - name: slot
        in: path
        description: Slot Name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectorDefinitionResource'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Get App Detector:
          $ref: ./examples/Diagnostics_GetSiteDetector.json
        Get App Slot Detector:
          $ref: ./examples/Diagnostics_GetSiteDetectorSlot.json
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/detectors/{detectorName}/execute
  : post:
      tags:
      - Diagnostics
      summary: Microsoft Azure Execute Detector
      description: Description for Execute Detector
      operationId: microsoftAzureDiagnosticsExecutesitedetectorslot
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: siteName
        in: path
        description: Site Name
        required: true
        schema:
          type: string
      - name: detectorName
        in: path
        description: Detector Resource Name
        required: true
        schema:
          type: string
      - name: diagnosticCategory
        in: path
        description: Category Name
        required: true
        schema:
          type: string
      - name: slot
        in: path
        description: Slot Name
        required: true
        schema:
          type: string
      - name: startTime
        in: query
        description: Start Time
        schema:
          type: string
          format: date-time
      - name: endTime
        in: query
        description: End Time
        schema:
          type: string
          format: date-time
      - name: timeGrain
        in: query
        description: Time Grain
        schema:
          type: string
          pattern: PT[1-9][0-9]+[SMH]
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticDetectorResponse'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Execute site detector:
          $ref: ./examples/Diagnostics_ExecuteSiteDetector.json
        Execute site slot detector:
          $ref: ./examples/Diagnostics_ExecuteSiteDetectorSlot.json
    servers:
    - url: https://management.azure.com
  /{scope}/providers/Microsoft.Help/diagnostics/{diagnosticsResourceName}:
    put:
      tags:
      - Diagnostics
      description: Creates a diagnostic for the specific resource using solutionId from discovery solutions. Diagnostics are powerful solutions that access product resources or other relevant data and provide the root cause of the issue and the steps to address the issue.
      operationId: microsoftAzureDiagnosticsCreate
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - $ref: '#/components/parameters/ScopeParameter'
      - $ref: '#/components/parameters/DiagnosticsResourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Create or Update diagnostics successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticResource'
        '201':
          description: Create or Update diagnostics successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Creates a Diagnostic for a KeyVault resource:
          $ref: ./examples/CreateDiagnosticForKeyVaultResource.json
      summary: Microsoft Azure Put Scope Providers Microsoft Help Diagnostics…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiagnosticResource'
        description: The required request body for this insightResource invocation.
    get:
      tags:
      - Diagnostics
      description: Get the diagnostics using the 'diagnosticsResourceName' you chose while creating the diagnostic.
      operationId: microsoftAzureDiagnosticsGet
      parameters:
      - $ref: '#/components/parameters/ScopeParameter'
      - $ref: '#/components/parameters/DiagnosticsResourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successful fetched insight diagnostic (may contain errors).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Gets a Diagnostic for a KeyVault resource:
          $ref: ./examples/GetDiagnosticForKeyVaultResource.json
      summary: Microsoft Azure Get Scope Providers Microsoft Help Diagnostics…
    servers:
    - url: https://management.azure.com
components:
  schemas:
    ComputeDiagnosticBase:
      description: Contains metadata of a diagnostic type
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/DiagnosticProperties'
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
    DiagnosticProperties:
      description: Contains additional properties of a diagnostic
      type: object
      properties:
        supportedResourceTypes:
          type: array
          items:
            type: string
          description: Describes what are the supported resource types for a diagnostic.
    RunDiskInspectionInput:
      type: object
      properties:
        resourceId:
          description: Qualified ID of the resource.
          type: string
        manifest:
          description: Name of manifest in order to trigger Disk Inspection.
          type: string
        uploadSasUri:
          description: SAS uri to the blob where results will be uploaded.
          type: string
          x-ms-secret: true
      required:
      - resourceId
      - manifest
      - uploadSasUri
      description: Data used for requesting a Disk Inspection execution.
    ComputeDiagnosticsList:
      description: Lists all available Compute diagnostics for a subscription in a location.
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ComputeDiagnosticBase'
          description: The collection of available Compute diagnostics returned by the listing operation.
        nextLink:
          type: string
          description: The continuation token.
    DiagnosticDetectorCollection:
      description: Collection of Diagnostic Detectors
      required:
      - value
      type: object
      properties:
        value:
          description: Collection of resources.
          type: array
          items:
            $ref: '#/components/schemas/DetectorDefinitionResource'
        nextLink:
          description: Link to next page of resources.
          type: string
          readOnly: true
    ResponseMetaData:
      type: object
      properties:
        dataSource:
          $ref: '#/components/schemas/DataSource'
          description: Source of the Data
    AbnormalTimePeriod:
      description: Class representing Abnormal Time Period identified in diagnosis
      type: object
      properties:
        startTime:
          format: date-time
          description: Start time of the downtime
          type: string
        endTime:
          format: date-time
          description: End time of the downtime
          type: string
        events:
          description: List of Possible Cause of downtime
          type: array
          items:
            $ref: '#/components/schemas/DetectorAbnormalTimePeriod'
          x-ms-identifiers: []
        solutions:
          description: List of proposed solutions
          type: array
          items:
            $ref: '#/components/schemas/Solution'
    DiagnosticDetectorResponse:
      description: Class representing Response from Diagnostic Detectors
      type: object
      allOf:
      - $ref: ./CommonDefinitions.json#/definitions/ProxyOnlyResource
      properties:
        properties:
          description: DiagnosticDetectorResponse resource specific properties
          type: object
          properties:
            startTime:
              format: date-time
              description: Start time of the period
              type: string
            endTime:
              format: date-time
              description: End time of the period
              type: string
            issueDetected:
              description: Flag representing Issue was detected.
              type: boolean
            detectorDefinition:
              $ref: '#/components/schemas/DetectorDefinition'
              description: Detector's definition
            metrics:
              description: Metrics provided by the detector
              type: array
              items:
                $ref: '#/components/schemas/DiagnosticMetricSet'
              x-ms-identifiers:
              - name
            abnormalTimePeriods:
              description: List of Correlated events found by the detector
              type: array
              items:
                $ref: '#/components/schemas/DetectorAbnormalTimePeriod'
              x-ms-identifiers: []
            data:
              description: Additional Data that detector wants to send.
              type: array
              items:
                type: array
                items:
                  $ref: ./CommonDefinitions.json#/definitions/NameValuePair
                x-ms-identifiers:
                - name
            responseMetaData:
              $ref: '#/components/schemas/ResponseMetaData'
              description: Meta Data
          x-ms-client-flatten: true
    DiagnosticMetricSample:
      description: Class representing Diagnostic Metric
      type: object
      properties:
        timestamp:
          format: date-time
          description: Time at which metric is measured
          type: string
        roleInstance:
          description: "Role Instance. Null if this counter is not per instance \nThis is returned and should be whichever instance name we desire to be returned\ni.e. CPU and Memory return RDWORKERNAME (LargeDed..._IN_0) \nwhere RDWORKERNAME is Machine name below and RoleInstance name in parenthesis"
          type: string
        total:
          format: double
          description: Total value of the metric. If multiple measurements are made this will have sum of all.
          type: number
        maximum:
          format: double
          description: Maximum of the metric sampled during the time period
          type: number
        minimum:
          format: double
          description: Minimum of the metric sampled during the time period
          type: number
        isAggregated:
          description: Whether the values are aggregates across all workers or not
          type: boolean
    DetectorAbnormalTimePeriod:
      description: Class representing Abnormal Time Period detected.
      type: object
      properties:
        startTime:
          format: date-time
          description: Start time of the correlated event
          type: string
        endTime:
          format: date-time
          description: End time of the correlated event
          type: string
        message:
          description: Message describing the event
          type: string
        source:
          description: Represents the name of the Detector
          type: string
        priority:
          format: double
          description: Represents the rank of the Detector
          type: number
        metaData:
          description: Downtime metadata
          type: array
          items:
            type: array
            items:
              $ref: ./CommonDefinitions.json#/definitions/NameValuePair
            x-ms-identifiers:
            - name
        type:
          description: Represents the type of the Detector
          enum:
          - ServiceIncident
          - AppDeployment
          - AppCrash
          - RuntimeIssueDetected
          - AseDeployment
          - UserIssue
          - PlatformIssue
          - Other
          type: string
          x-ms-enum:
            name: IssueType
            modelAsString: false
        solutions:
          description: List of proposed solutions
          type: array
          items:
            $ref: '#/components/schemas/Solution'
    DiagnosticMetricSet:
      description: Class representing Diagnostic Metric information
      type: object
      properties:
        name:
          description: Name of the metric
          type: string
        unit:
          description: Metric's unit
          type: string
        startTime:
          format: date-time
          description: Start time of the period
          type: string
        endTime:
          format: date-time
          description: End time of the period
          type: string
        timeGrain:
          description: Presented time grain. Supported grains at the moment are PT1M, PT1H, P1D
          type: string
        values:
          description: Collection of metric values for the selected period based on the {Microsoft.Web.Hosting.Administration.DiagnosticMetricSet.TimeGrain}
          type: array
          items:
            $ref: '#/components/schemas/DiagnosticMetricSample'
          x-ms-identifiers: []
    DiagnosticCategoryCollection:
      description: Collection of Diagnostic Categories
      required:
      - value
      type: object
      properties:
        value:
          description: Collection of resources.
          type: array
          items:
            $ref: '#/components/schemas/DiagnosticCategory'
        nextLink:
          description: Link to next page of resources.
          type: string
          readOnly: true
    DiagnosticCategory:
      description: Class representing detector definition
      type: object
      allOf:
      - $ref: ./CommonDefinitions.json#/definitions/ProxyOnlyResource
      properties:
        properties:
          description: DiagnosticCategory resource specific properties
          type: object
          properties:
            description:
              description: Description of the diagnostic category
              type: string
              readOnly: true
          x-ms-client-flatten: true
    Solution:
      description: Class Representing Solution for problems detected.
      type: object
      properties:
        id:
          format: double
          description: Solution Id.
          type: number
        displayName:
          description: Display Name of the solution
          type: string
        order:
          format: double
          description: Order of the solution.
          type: number
        description:
          description: Description of the solution
          type: string
        type:
          description: Type of Solution
          enum:
          - QuickSolution
          - DeepInvestigation
          - BestPractices
          type: string
          x-ms-enum:
            name: SolutionType
            modelAsString: false
        data:
          description: Solution Data.
          type: array
          items:
            type: array
            items:
              $ref: ./CommonDefinitions.json#/definitions/NameValuePair
            x-ms-identifiers:
            - name
        metadata:
          description: Solution Metadata.
          type: array
          items:
            type: array
            items:
              $ref: ./CommonDefinitions.json#/definitions/NameValuePair
            x-ms-identifiers:
            - name
    DataSource:
      description: Class representing data source used by the detectors
      type: object
      properties:
        instructions:
          description: Instructions if any for the data source
          type: array
          items:
            type: string
        dataSourceUri:
          description: Datasource Uri Links
          type: array
          items:
            $ref: ./CommonDefinitions.json#/definitions/NameValuePair
          x-ms-identifiers:
          - name
    DiagnosticAnalysisCollection:
      description: Collection of Diagnostic Analyses
      required:
      - value
      type: object
      properties:
        value:
          description: Collection of resources.
          type: array
          items:
            $ref: '#/components/schemas/AnalysisDefinition'
        nextLink:
          description: Link to next page of resources.
          type: string
          readOnly: true
    AnalysisData:
      description: Class Representing Detector Evidence used for analysis
      type: object
      properties:
        source:
          description: Name of the Detector
          type: string
        detectorDefinition:
          $ref: '#/components/schemas/DetectorDefinition'
          description: Detector Definition
        metrics:
          description: Source Metrics
          type: array
          items:
            $ref: '#/components/schemas/DiagnosticMetricSet'
          x-ms-identifiers:
          - name
        data:
          description: Additional Source Data
          type: array
          items:
            type: array
            items:
              $ref: ./CommonDefinitions.json#/definitions/NameValuePair
            x-ms-identifiers:
            - name
        detectorMetaData:
          $ref: '#/components/schemas/ResponseMetaData'
          description: Detector Meta Data
    DetectorDefinitionResource:
      description: ARM resource for a detector definition
      type: object
      allOf:
      - $ref: ./CommonDefinitions.json#/definitions/ProxyOnlyResource
      properties:
        properties:
          $ref: '#/components/schemas/DetectorDefinition'
          description: Core resource properties
          type: object
          x-ms-client-flatten: true
    DiagnosticAnalysis:
      description: Class representing a diagnostic analysis done on an application
      type: object
      allOf:
      - $ref: ./CommonDefinitions.json#/definitions/ProxyOnlyResource
      properties:
        properties:
          description: DiagnosticAnalysis resource specific properties
          type: object
          properties:
            startTime:
              format: date-time
              description: Start time of the period
              type: string
            endTime:
              format: date-time
              description: End time of the period
              type: string
            abnormalTimePeriods:
              description: List of time periods.
              type: array
              items:
                $ref: '#/components/schemas/AbnormalTimePeriod'
              x-ms-identifiers: []
            payload:
              description: Data by each detector
              type: array
              items:
                $ref: '#/components/schemas/AnalysisData'
              x-ms-identifiers:
              - source
            nonCorrelatedDetectors:
              description: Data by each detector for detectors that did not corelate
              type: array
              items:
                $ref: '#/components/schemas/DetectorDefinition'
              x-ms-identifiers:
              - displayName
          x-ms-client-flatten: true
    DetectorDefinition:
      description: Class representing detector definition
      type: object
      properties:
        displayName:
          description: Display name of the detector
          type: string
          readOnly: true
        description:
          description: Description of the detector
          type: string
          readOnly: true
        rank:
          format: double
          description: Detector Rank
          type: number
          readOnly: true
        isEnabled:
          description: Flag representing whether detector is enabled or not.
          type: boolean
          readOnly: true
    AnalysisDefinition:
      description: Definition of Analysis
      type: object
      allOf:
      - $ref: ./CommonDefinitions.json#/definitions/ProxyOnlyResource
      properties:
        properties:
          description: AnalysisDefinition resource specific properties
          type: object
          properties:
            description:
              description: Description of the Analysis
              type: string
              readOnly: true
          x-ms-client-flatten: true
    DiagnosticInvocation:
      description: Solution Invocation with additional params needed for invocation.
      type: object
      properties:
        solutionId:
          description: Solution Id to invoke.
          type: string
        additionalParameters:
          description: Additional parameters required to invoke the solutionId.
          type: object
          additionalProperties:
            type: string
    Diagnostic:
      description: Properties returned with in an insight.
      type: object
      properties:
        solutionId:
          description: Solution Id
          type: string
        status:
          $ref: '#/components/schemas/DiagnosticStatus'
        insights:
          description: The problems (if any) detected by this insight.
          type: array
          items:
            $ref: '#/components/schemas/Insight'
          x-ms-identifiers: []
        error:
          $ref: '#/components/schemas/Error'
    DiagnosticResource:
      description: Diagnostic resource
      type: object
      x-ms-azure-resource: true
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/DiagnosticResourceProperties'
          description: Diagnostic Resource properties.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
    Error:
      description: Error definition.
      type: object
      properties:
        code:
          description: Service specific error code which serves as the substatus for the HTTP error code.
          type: string
          readOnly: true
        type:
          description: Service specific error type which serves as additional context for the error herein.
          type: string
          readOnly: true
        message:
          description: Description of the error.
          type: string
          readOnly: true
        details:
          description: An array of additional nested error response info objects, as described by this contract.
          type: array
          items:
            $ref: '#/components/schemas/Error'
          x-ms-identifiers:
          - type
          - message
    DiagnosticStatus:
      description: Denotes the status of the diagnostic resource.
      type: string
      enum:
      - Failed
      - MissingInputs
      - Running
      - Succeeded
      - Timeout
      x-ms-enum:
        name: Status
        modelAsString: true
        values:
        - value: Failed
          description: Diagnostic creation failed.
        - value: MissingInputs
          description: Request is missing required inputs to run.
        - value: Running
          description: Diagnostic is still running.
        - value: Succeeded
          description: Diagnostic creation succeeded.
        - value: Timeout
          description: Diagnostic was timed out.
    Insight:
      description: Detailed insights(s) obtained via the invocation of an insight diagnostic
      type: object
      properties:
        id:
          description: Article id.
          type: string
        title:
          description: This insight's title.
          type: string
        results:
          description: Detailed result content.
          type: string
        importanceLevel:
          description: Importance level of the insight.
          type: string
          enum:
          - Critical
          - Warning
          - Information
          x-ms-enum:
            name: importanceLevel
            modelAsString: true
            values:
            - value: Critical
              description: A critical insight has been found after running the diagnostic.
            - value: Warning
              description: A warning insight has been found after running the diagnostic.
            - value: Information
              description: An information insight has been found after running the diagnostic.
    DiagnosticResourceProperties:
      description: Diagnostic resource properties.
      type: object
      properties:
        globalParameters:
          description: Global parameters is an optional map which can be used to add key and  value to request body to improve the diagnostics results
          type: object
          additionalProperties:
            type: string
        insights:
          description: SolutionIds that are needed to be invoked.
          type: array
          items:
            $ref: '#/components/schemas/DiagnosticInvocation'
          x-ms-identifiers:
          - solutionId
        acceptedAt:
          description: Diagnostic Request Accepted time.
          type: string
          readOnly: true
        provisioningState:
          description: Status of diagnostic provisioning.
          type: string
          readOnly: true
          enum:
          - Succeeded
          - PartialComplete
          - Failed
          - Running
          - Canceled
          x-ms-enum:
            name: DiagnosticProvisioningState
            modelAsString: true
            values:
            - value: Succeeded
              description: All Diagnostics in the Batch succeeded.
            - value: PartialComplete
              description: Some Diagnostics are still running or failed.
            - value: Failed
              description: All Diagnostics failed to run.
            - value: Running
              description: All Diagnostics are still running.
            - value: Canceled
              description: When Diagnostic request gets canceled.
        diagnostics:
          description: Array of Diagnostics.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Diagnostic'
          x-ms-identifiers:
          - solutionId
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: Name of the resource group to which the resource belongs.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
        pattern: ^[-\w\._\(\)]+[^\.]$
    apiVersionParameter:
      name: api-version
      in: query
      description: API Version
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    ScopeParameter:
      name: scope
      in: path
      required: true
      description: 'scope = resourceUri of affected resource.<br/> For example: /subscriptions/0d0fcd2e-c4fd-4349-8497-200edb3923c6/resourcegroups/myresourceGroup/providers/Microsoft.KeyVault/vaults/test-keyvault-non-read '
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      x-ms-parameter-location: client
      schema:
        type: string
    DiagnosticsResourceNameParameter:
      name: diagnosticsResourceName
      in: path
      required: true
      description: Unique resource name for insight resources
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 100
        minLength: 1
        pattern: ^[A-Za-z0-9-+@()_]+$
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- computediagnosticresourceproviderclient-openapi-original.yml
- diagnostics-api-client-openapi-original.yml
- helprp-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
