openapi: 3.2.0
info:
  version: 2018-03-01-beta
  title: Microsoft Azure SaaS Subscription Level Saa S Resources API
  description: REST APIs for Azure Marketplace SaaS Offers
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: SubscriptionLevelSaaSResources
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.SaaS/resources:
    get:
      tags:
      - SubscriptionLevelSaaSResources
      operationId: microsoftAzureSaassubscriptionlevelListbyazuresubscription
      description: Gets information about all the Subscription Level SaaS in a certain Azure subscription.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Request successful. The request returns the resulting SaaS resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaasResourceResponseWithContinuation'
        default:
          description: A response indicating an error.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Get subscription level saas resources in Azure subscription:
          $ref: ./examples/saasSubscriptionLevel/SaasGetAllInAzureSubscription.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Saas…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SaaS/resources:
    get:
      tags:
      - SubscriptionLevelSaaSResources
      operationId: microsoftAzureSaassubscriptionlevelListbyresourcegroup
      description: Gets information about all the Subscription Level SaaS in a certain resource group.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Request successful. The request returns the resulting SaaS resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaasResourceResponseWithContinuation'
        default:
          description: A response indicating an error.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Get subscription level saas resources in resource group:
          $ref: ./examples/saasSubscriptionLevel/SaasGetAllInResourceGroup.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SaaS/resources/{resourceName}:
    get:
      tags:
      - SubscriptionLevelSaaSResources
      operationId: microsoftAzureSaassubscriptionlevelGet
      description: Gets information about the specified Subscription Level SaaS.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Request successful. The request returns the resulting SaaS resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaasResource'
        default:
          description: A response indicating an error.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Get subscription level saas resource:
          $ref: ./examples/saasSubscriptionLevel/SaasGet.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - SubscriptionLevelSaaSResources
      operationId: microsoftAzureSaassubscriptionlevelCreateorupdate
      description: Creates or updates a SaaS resource.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Resource creation has completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaasResource'
        '202':
          description: Accepted and the operation will complete asynchronously.
          headers:
            Location:
              description: The URL to check the status of the asynchronous operation.
              schema:
                type: string
            Retry-After:
              description: The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.
              schema:
                type: integer
                format: int32
        default:
          description: A response indicating an error.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Create subscription level SaaS resource:
          $ref: ./examples/saasSubscriptionLevel/SaasPut.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaasResourceCreation'
        description: Parameters supplied to the create or update subscription level saas operation.
        required: true
    patch:
      tags:
      - SubscriptionLevelSaaSResources
      operationId: microsoftAzureSaassubscriptionlevelUpdate
      description: Updates a SaaS Subscription Level resource.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Resource change has completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaasResource'
        '202':
          description: Accepted and the operation will complete asynchronously.
          headers:
            Location:
              description: The URL to check the status of the asynchronous operation.
              schema:
                type: string
            Retry-After:
              description: The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.
              schema:
                type: integer
                format: int32
        default:
          description: A response indicating an error.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Update subscription level SaaS resource:
          $ref: ./examples/saasSubscriptionLevel/SaasPatch.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaasResourceCreation'
        description: Parameters supplied to the update saas operation.
        required: true
    delete:
      tags:
      - SubscriptionLevelSaaSResources
      operationId: microsoftAzureSaassubscriptionlevelDelete
      description: Deletes the specified SaaS.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Delete Operation completed successfully.
        '202':
          description: Accepted and the operation will complete asynchronously.
          headers:
            Location:
              description: The URL to check the status of the asynchronous operation.
              schema:
                type: string
            Retry-After:
              description: The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.
              schema:
                type: integer
                format: int32
        '204':
          description: Delete operation completed successfully.
        default:
          description: A response indicating an error.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Delete Subscription Level SaaS resource:
          $ref: ./examples/saasSubscriptionLevel/SaasDelete.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SaaS/resources/{resourceName}/unsubscribe
  : post:
      tags:
      - SubscriptionLevelSaaSResources
      operationId: microsoftAzureSaassubscriptionlevelUpdatetounsubscribed
      description: Unsubscribe from a specified Subscription Level SaaS.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Unsubscribe operation completed successfully.
        '202':
          description: Accepted and the operation will complete asynchronously.
          headers:
            Location:
              description: The URL to check the status of the asynchronous operation.
              schema:
                type: string
            Retry-After:
              description: The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.
              schema:
                type: integer
                format: int32
        '204':
          description: Unsubscribe operation completed successfully.
        default:
          description: A response indicating an error.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Unsubscribe Subscription Level SaaS resource:
          $ref: ./examples/saasSubscriptionLevel/SaasUnsubscribe.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteOptions'
        description: Parameters supplied to unsubscribe saas operation.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SaaS/resources/{resourceName}/listAccessToken
  : post:
      tags:
      - SubscriptionLevelSaaSResources
      operationId: microsoftAzureSaassubscriptionlevelListaccesstoken
      description: Gets the ISV access token for a specified Subscription Level SaaS.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Request successful. The request returns the generated access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenResult'
        default:
          description: A response indicating an error.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        List subscription level SaaS resource access token:
          $ref: ./examples/saasSubscriptionLevel/ListAccessTokenPost.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/validateMoveResources:
    post:
      tags:
      - SubscriptionLevelSaaSResources
      operationId: microsoftAzureSaassubscriptionlevelValidatemoveresources
      description: Validate whether a specified Subscription Level SaaS can be moved.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Validation was successful and resources can be moved
        default:
          description: A response indicating an error.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Validate move of a subscription Level SaaS resource:
          $ref: ./examples/saasSubscriptionLevel/ValidateResourceMove.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/moveResource'
        description: Object that represents the resources to move.
        required: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/moveResources:
    post:
      tags:
      - SubscriptionLevelSaaSResources
      operationId: microsoftAzureSaassubscriptionlevelMoveresources
      description: Move a specified Subscription Level SaaS.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Move operation completed successfully.
        '202':
          description: Accepted and the operation will complete asynchronously.
          headers:
            Location:
              description: The URL to check the status of the asynchronous operation.
              schema:
                type: string
            Retry-After:
              description: The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.
              schema:
                type: integer
                format: int32
        default:
          description: A response indicating an error.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Move of a subscription Level SaaS resource:
          $ref: ./examples/saasSubscriptionLevel/ResourceMove.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/moveResource'
        description: Object that represents the resources to move.
        required: true
components:
  schemas:
    AccessTokenResult:
      description: the ISV access token result response.
      type: object
      properties:
        publisherOfferBaseUri:
          description: The Publisher Offer Base Uri
          type: string
        token:
          description: The generated token
          type: string
    SaasResource:
      description: SaaS REST API resource definition.
      type: object
      x-ms-azure-resource: true
      properties:
        properties:
          description: saas properties
          type: object
          allOf:
          - $ref: '#/components/schemas/SaasProperties'
          - $ref: '#/components/schemas/SaasCreationProperties'
        name:
          type: string
          description: The name of the resource
          readOnly: true
        id:
          description: The resource uri
          type: string
          readOnly: true
        type:
          readOnly: true
          type: string
          description: Resource type.
        tags:
          description: the resource tags.
          $ref: '#/components/schemas/Tags'
    SaasProperties:
      type: object
      description: saas resource properties
      properties:
        status:
          type: string
          description: The SaaS Subscription Status.
          enum:
          - NotStarted
          - PendingFulfillmentStart
          - Subscribed
          - Unsubscribed
          - Suspended
          x-ms-enum:
            name: SaasResourceStatus
            modelAsString: true
        term:
          type: object
          description: The current Term object.
          properties:
            termUnit:
              type: string
              description: The unit indicating Monthly / Yearly
            startDate:
              type: string
              description: The start date of the current term
            endDate:
              type: string
              description: The end date of the current term
        isFreeTrial:
          type: boolean
          description: Whether the current term is a Free Trial term
        created:
          type: string
          description: The created date of this resource.
          readOnly: true
        lastModified:
          type: string
          description: The last modifier date if this resource.
    SaasCreationProperties:
      type: object
      description: properties for creation saas
      properties:
        offerId:
          type: string
          description: The offer id.
        publisherId:
          type: string
          description: The publisher id.
        quantity:
          type: number
          description: The seat count.
        skuId:
          type: string
          description: The plan id.
        paymentChannelType:
          type: string
          description: The Payment channel for the SaasSubscription.
          enum:
          - SubscriptionDelegated
          - CustomerDelegated
          x-ms-enum:
            name: paymentChannelType
            modelAsString: true
        paymentChannelMetadata:
          type: object
          description: The metadata about the SaaS subscription such as the AzureSubscriptionId and ResourceUri.
          additionalProperties:
            type: string
        saasResourceName:
          type: string
          description: The SaaS resource name.
        termId:
          type: string
          description: The current Term id.
        autoRenew:
          type: boolean
          description: Whether the SaaS subscription will auto renew upon term end.
        publisherTestEnvironment:
          type: string
          description: The environment in the publisher side for this resource.
        saasSubscriptionId:
          type: string
          description: The saas subscription id used for tenant to subscription level migration request.
        saasSessionId:
          type: string
          description: The saas session id used for dev service migration request.
    Tags:
      type: object
      description: the resource tags.
      additionalProperties:
        type: string
    moveResource:
      description: Resource Move Options
      type: object
      properties:
        targetResourceGroup:
          type: string
          description: The target resource group uri for the move
        resources:
          description: The resource uris to move
          type: array
          items:
            type: string
            description: A resources uri to move
    SaasResourceCreation:
      description: SaaS REST API resource definition for creation.
      type: object
      properties:
        id:
          description: The resource uri
          type: string
          readOnly: true
        name:
          description: The resource name
          type: string
        type:
          readOnly: true
          type: string
          description: Resource type.
        tags:
          description: the resource tags.
          $ref: '#/components/schemas/Tags'
        location:
          type: string
          description: Resource location. Only value allowed for SaaS is 'global'
        properties:
          $ref: '#/components/schemas/SaasCreationProperties'
          description: Properties of the SaaS resource that are relevant for creation.
    SaasResourceResponseWithContinuation:
      description: saas resources response with continuation.
      type: object
      properties:
        nextLink:
          description: the next link to query to get the remaining results.
          type: string
        value:
          description: the value of response.
          type: array
          items:
            $ref: '#/components/schemas/SaasResource'
    deleteOptions:
      description: delete Options
      type: object
      properties:
        unsubscribeOnly:
          type: boolean
          description: whether it is unsubscribeOnly
        reasonCode:
          type: number
          description: The reasonCode
        feedback:
          type: string
          description: the feedback
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to be used with the HTTP request.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)
      schema:
        type: string
    ResourceNameParameter:
      name: resourceName
      in: path
      required: true
      description: The name of the resource.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
