openapi: 3.2.0
info:
  title: Microsoft Azure Pools API
  x-refined-note:
  - x-ms-code-generation-settings differs across the merged source definitions and was not carried
  - x-typespec-generated differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Pools across 5 of this provider''s published API definitions: azure-batch-openapi-original.yml, azure-containerstoragerp-openapi-original.yml, batchservice-openapi-original.yml, devcenterclient-openapi-original.yml, managed-devops-infrastructure-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
tags:
- name: Pools
paths:
  /pools:
    get:
      operationId: microsoftAzureBatchListpools
      summary: Microsoft Azure Lists All Of The Pools In The Specified Account
      description: Lists all of the Pools in the specified Account.
      parameters:
      - $ref: '#/components/parameters/Azure.Core.Foundations.ApiVersionParameter'
      - name: timeOut
        in: query
        description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds. If the value is larger than 30, the default will be used instead.".
        required: false
        schema:
          type: integer
          format: int32
          default: 30
      - name: client-request-id
        in: header
        description: 'The caller-generated request identity, in the form of a GUID with no decoration

          such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
        x-ms-client-name: clientRequestId
        schema:
          type: string
      - name: return-client-request-id
        in: header
        description: Whether the server should return the client-request-id in the response.
        required: false
        x-ms-client-name: returnClientRequestId
        schema:
          type: boolean
          default: false
      - name: ocp-date
        in: header
        description: 'The time the request was issued. Client libraries typically set this to the

          current system clock time; set it explicitly if you are calling the REST API

          directly.'
        required: false
        x-ms-client-name: ocpdate
        schema:
          type: string
          format: date-time-rfc7231
      - name: maxresults
        in: query
        description: 'The maximum number of items to return in the response. A maximum of 1000

          applications can be returned.'
        required: false
        schema:
          type: integer
          format: int32
          default: 1000
          maximum: 1000
          minimum: 1
      - name: $filter
        in: query
        description: 'An OData $filter clause. For more information on constructing this filter, see

          https://docs.microsoft.com/en-us/rest/api/batchservice/odata-filters-in-batch#list-pools.'
        required: false
        schema:
          type: string
      - name: $select
        in: query
        description: An OData $select clause.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: An OData $expand clause.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              schema:
                type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              schema:
                type: string
                format: date-time-rfc7231
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              schema:
                type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch Account against which the request was made, and the region that Account resides in.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchPoolListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
      x-ms-examples:
        Pool list:
          $ref: ./examples/PoolList_Basic.json
      x-ms-pageable:
        nextLinkName: odata.nextLink
      tags:
      - Pools
      security:
      - OAuth2Auth:
        - https://batch.core.windows.net//.default
    post:
      operationId: microsoftAzureBatchCreatepool
      summary: Microsoft Azure Creates A Pool To The Specified Account
      description: 'When naming Pools, avoid including sensitive information such as user names or

        secret project names. This information may appear in telemetry logs accessible

        to Microsoft Support engineers.'
      parameters:
      - $ref: '#/components/parameters/Azure.Core.Foundations.ApiVersionParameter'
      - name: timeOut
        in: query
        description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds. If the value is larger than 30, the default will be used instead.".
        required: false
        schema:
          type: integer
          format: int32
          default: 30
      - name: client-request-id
        in: header
        description: 'The caller-generated request identity, in the form of a GUID with no decoration

          such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
        x-ms-client-name: clientRequestId
        schema:
          type: string
      - name: return-client-request-id
        in: header
        description: Whether the server should return the client-request-id in the response.
        required: false
        x-ms-client-name: returnClientRequestId
        schema:
          type: boolean
          default: false
      - name: ocp-date
        in: header
        description: 'The time the request was issued. Client libraries typically set this to the

          current system clock time; set it explicitly if you are calling the REST API

          directly.'
        required: false
        x-ms-client-name: ocpdate
        schema:
          type: string
          format: date-time-rfc7231
      responses:
        '201':
          description: The request has succeeded and a new resource has been created as a result.
          headers:
            DataServiceId:
              description: The OData ID of the resource to which the request applied.
              schema:
                type: string
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              schema:
                type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              schema:
                type: string
                format: date-time-rfc7231
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              schema:
                type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch Account against which the request was made, and the region that Account resides in.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
      x-ms-examples:
        Creates a CloudServiceConfiguration pool:
          $ref: ./examples/PoolCreate_CloudServiceConfiguration.json
        Creates a VirtualMachineConfiguration pool:
          $ref: ./examples/PoolCreate_VirtualMachineConfiguration.json
        Creates a VirtualMachineConfiguration pool with OS disk:
          $ref: ./examples/PoolCreate_OSDisk.json
        Creates a VirtualMachineConfiguration pool with ServiceArtifactReference:
          $ref: ./examples/PoolCreate_VirtualMachineConfigurationWithServiceArtifactReference.json
        Creates a VirtualMachineConfiguration pool with containers:
          $ref: ./examples/PoolCreate_VirtualMachineConfigurationWithContainers.json
        Creates a VirtualMachineConfiguration pool with extensions:
          $ref: ./examples/PoolCreate_VirtualMachineConfigurationWithExtensions.json
        Creates a pool with SecurityProfile:
          $ref: ./examples/PoolCreate_SecurityProfile.json
        Creates a pool with accelerated networking:
          $ref: ./examples/PoolCreate_AcceleratedNetworking.json
        Creates a pool with mount drive specified:
          $ref: ./examples/PoolCreate_MountConfiguration.json
        Creates a simple pool with resourceTags:
          $ref: ./examples/PoolCreate_ResourceTags.json
      tags:
      - Pools
      requestBody:
        content:
          application/json; odata=minimalmetadata:
            schema:
              $ref: '#/components/schemas/BatchPoolCreateContent'
        description: The Pool to be created.
        required: true
      security:
      - OAuth2Auth:
        - https://batch.core.windows.net//.default
  /pools/{poolId}:
    get:
      operationId: microsoftAzureBatchGetpool
      description: Gets information about the specified Pool.
      parameters:
      - $ref: '#/components/parameters/Azure.Core.Foundations.ApiVersionParameter'
      - name: timeOut
        in: query
        description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds. If the value is larger than 30, the default will be used instead.".
        required: false
        schema:
          type: integer
          format: int32
          default: 30
      - name: client-request-id
        in: header
        description: 'The caller-generated request identity, in the form of a GUID with no decoration

          such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
        x-ms-client-name: clientRequestId
        schema:
          type: string
      - name: return-client-request-id
        in: header
        description: Whether the server should return the client-request-id in the response.
        required: false
        x-ms-client-name: returnClientRequestId
        schema:
          type: boolean
          default: false
      - name: ocp-date
        in: header
        description: 'The time the request was issued. Client libraries typically set this to the

          current system clock time; set it explicitly if you are calling the REST API

          directly.'
        required: false
        x-ms-client-name: ocpdate
        schema:
          type: string
          format: date-time-rfc7231
      - name: If-Modified-Since
        in: header
        description: 'A timestamp indicating the last modified time of the resource known to the

          client. The operation will be performed only if the resource on the service has

          been modified since the specified time.'
        required: false
        x-ms-client-name: ifModifiedSince
        schema:
          type: string
          format: date-time-rfc7231
      - name: If-Unmodified-Since
        in: header
        description: 'A timestamp indicating the last modified time of the resource known to the

          client. The operation will be performed only if the resource on the service has

          not been modified since the specified time.'
        required: false
        x-ms-client-name: ifUnmodifiedSince
        schema:
          type: string
          format: date-time-rfc7231
      - name: If-Match
        in: header
        description: 'An ETag value associated with the version of the resource known to the client.

          The operation will be performed only if the resource''s current ETag on the

          service exactly matches the value specified by the client.'
        required: false
        x-ms-client-name: ifMatch
        schema:
          type: string
      - name: If-None-Match
        in: header
        description: 'An ETag value associated with the version of the resource known to the client.

          The operation will be performed only if the resource''s current ETag on the

          service does not match the value specified by the client.'
        required: false
        x-ms-client-name: ifNoneMatch
        schema:
          type: string
      - name: poolId
        in: path
        description: The ID of the Pool to get.
        required: true
        schema:
          type: string
      - name: $select
        in: query
        description: An OData $select clause.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: An OData $expand clause.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              schema:
                type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              schema:
                type: string
                format: date-time-rfc7231
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              schema:
                type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch Account against which the request was made, and the region that Account resides in.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchPool'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
      x-ms-examples:
        Add a VirtualMachineConfiguration pool with OS disk:
          $ref: ./examples/PoolGet_VirtualMachineConfigurationWithOSDisk.json
        Get a VirtualMachineConfiguration pool with SecurityProfile:
          $ref: ./examples/PoolGet_SecurityProfile.json
        Get a VirtualMachineConfiguration pool with ServiceArtifactReference:
          $ref: ./examples/PoolGet_VirtualMachineConfigurationWithServiceArtifactReference.json
        Get a VirtualMachineConfiguration pool with extensions:
          $ref: ./examples/PoolGet_VirtualMachineConfigurationWithExtensions.json
        Get a pool with AcceleratedNetworking:
          $ref: ./examples/PoolGet_AcceleratedNetworking.json
        Pool get:
          $ref: ./examples/PoolGet_Basic.json
      summary: Microsoft Azure Get Pools Poolid
      tags:
      - Pools
      security:
      - OAuth2Auth:
        - https://batch.core.windows.net//.default
    patch:
      operationId: microsoftAzureBatchUpdatepool
      summary: Microsoft Azure Updates The Properties Of The Specified Pool
      description: 'This only replaces the Pool properties specified in the request. For example,

        if the Pool has a StartTask associated with it, and a request does not specify

        a StartTask element, then the Pool keeps the existing StartTask.'
      parameters:
      - $ref: '#/components/parameters/Azure.Core.Foundations.ApiVersionParameter'
      - name: timeOut
        in: query
        description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds. If the value is larger than 30, the default will be used instead.".
        required: false
        schema:
          type: integer
          format: int32
          default: 30
      - name: client-request-id
        in: header
        description: 'The caller-generated request identity, in the form of a GUID with no decoration

          such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
        x-ms-client-name: clientRequestId
        schema:
          type: string
      - name: return-client-request-id
        in: header
        description: Whether the server should return the client-request-id in the response.
        required: false
        x-ms-client-name: returnClientRequestId
        schema:
          type: boolean
          default: false
      - name: ocp-date
        in: header
        description: 'The time the request was issued. Client libraries typically set this to the

          current system clock time; set it explicitly if you are calling the REST API

          directly.'
        required: false
        x-ms-client-name: ocpdate
        schema:
          type: string
          format: date-time-rfc7231
      - name: If-Modified-Since
        in: header
        description: 'A timestamp indicating the last modified time of the resource known to the

          client. The operation will be performed only if the resource on the service has

          been modified since the specified time.'
        required: false
        x-ms-client-name: ifModifiedSince
        schema:
          type: string
          format: date-time-rfc7231
      - name: If-Unmodified-Since
        in: header
        description: 'A timestamp indicating the last modified time of the resource known to the

          client. The operation will be performed only if the resource on the service has

          not been modified since the specified time.'
        required: false
        x-ms-client-name: ifUnmodifiedSince
        schema:
          type: string
          format: date-time-rfc7231
      - name: If-Match
        in: header
        description: 'An ETag value associated with the version of the resource known to the client.

          The operation will be performed only if the resource''s current ETag on the

          service exactly matches the value specified by the client.'
        required: false
        x-ms-client-name: ifMatch
        schema:
          type: string
      - name: If-None-Match
        in: header
        description: 'An ETag value associated with the version of the resource known to the client.

          The operation will be performed only if the resource''s current ETag on the

          service does not match the value specified by the client.'
        required: false
        x-ms-client-name: ifNoneMatch
        schema:
          type: string
      - name: poolId
        in: path
        description: The ID of the Pool to get.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          headers:
            DataServiceId:
              description: The OData ID of the resource to which the request applied.
              schema:
                type: string
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              schema:
                type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              schema:
                type: string
                format: date-time-rfc7231
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              schema:
                type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch Account against which the request was made, and the region that Account resides in.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
      x-ms-examples:
        Patch the Pool:
          $ref: ./examples/PoolPatch.json
      tags:
      - Pools
      requestBody:
        content:
          application/json; odata=minimalmetadata:
            schema:
              $ref: '#/components/schemas/BatchPoolUpdateContent'
        description: The pool properties to update.
        required: true
      security:
      - OAuth2Auth:
        - https://batch.core.windows.net//.default
    delete:
      operationId: microsoftAzureBatchDeletepool
      summary: Microsoft Azure Deletes A Pool From The Specified Account
      description: 'When you request that a Pool be deleted, the following actions occur: the Pool

        state is set to deleting; any ongoing resize operation on the Pool are stopped;

        the Batch service starts resizing the Pool to zero Compute Nodes; any Tasks

        running on existing Compute Nodes are terminated and requeued (as if a resize

        Pool operation had been requested with the default requeue option); finally,

        the Pool is removed from the system. Because running Tasks are requeued, the

        user can rerun these Tasks by updating their Job to target a different Pool.

        The Tasks can then run on the new Pool. If you want to override the requeue

        behavior, then you should call resize Pool explicitly to shrink the Pool to

        zero size before deleting the Pool. If you call an Update, Patch or Delete API

        on a Pool in the deleting state, it will fail with HTTP status code 409 with

        error code PoolBeingDeleted.'
      parameters:
      - $ref: '#/components/parameters/Azure.Core.Foundations.ApiVersionParameter'
      - name: timeOut
        in: query
        description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds. If the value is larger than 30, the default will be used instead.".
        required: false
        schema:
          type: integer
          format: int32
          default: 30
      - name: client-request-id
        in: header
        description: 'The caller-generated request identity, in the form of a GUID with no decoration

          such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
        x-ms-client-name: clientRequestId
        schema:
          type: string
      - name: return-client-request-id
        in: header
        description: Whether the server should return the client-request-id in the response.
        required: false
        x-ms-client-name: returnClientRequestId
        schema:
          type: boolean
          default: false
      - name: ocp-date
        in: header
        description: 'The time the request was issued. Client libraries typically set this to the

          current system clock time; set it explicitly if you are calling the REST API

          directly.'
        required: false
        x-ms-client-name: ocpdate
        schema:
          type: string
          format: date-time-rfc7231
      - name: If-Modified-Since
        in: header
        description: 'A timestamp indicating the last modified time of the resource known to the

          client. The operation will be performed only if the resource on the service has

          been modified since the specified time.'
        required: false
        x-ms-client-name: ifModifiedSince
        schema:
          type: string
          format: date-time-rfc7231
      - name: If-Unmodified-Since
        in: header
        description: 'A timestamp indicating the last modified time of the resource known to the

          client. The operation will be performed only if the resource on the service has

          not been modified since the specified time.'
        required: false
        x-ms-client-name: ifUnmodifiedSince
        schema:
          type: string
          format: date-time-rfc7231
      - name: If-Match
        in: header
        description: 'An ETag value associated with the version of the resource known to the client.

          The operation will be performed only if the resource''s current ETag on the

          service exactly matches the value specified by the client.'
        required: false
        x-ms-client-name: ifMatch
        schema:
          type: string
      - name: If-None-Match
        in: header
        description: 'An ETag value associated with the version of the resource known to the client.

          The operation will be performed only if the resource''s current ETag on the

          service does not match the value specified by the client.'
        required: false
        x-ms-client-name: ifNoneMatch
        schema:
          type: string
      - name: poolId
        in: path
        description: The ID of the Pool to get.
        required: true
        schema:
          type: string
      responses:
        '202':
          description: The request has been accepted for processing, but processing has not yet completed.
          headers:
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              schema:
                type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch Account against which the request was made, and the region that Account resides in.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
      x-ms-examples:
        Pool delete:
          $ref: ./examples/PoolDelete.json
      tags:
      - Pools
      security:
      - OAuth2Auth:
        - https://batch.core.windows.net//.default
    head:
      operationId: microsoftAzureBatchPoolexists
      description: Gets basic properties of a Pool.
      parameters:
      - $ref: '#/components/parameters/Azure.Core.Foundations.ApiVersionParameter'
      - name: timeOut
        in: query
        description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds. If the value is larger than 30, the default will be used instead.".
        required: false
        schema:
          type: integer
          format: int32
          default: 30
      - name: client-request-id
        in: header
        description: 'The caller-generated request identity, in the form of a GUID with no decoration

          such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
        x-ms-client-name: clientRequestId
        schema:
          type: string
      - name: return-client-request-id
        in: header
        description: Whether the server should return the client-request-id in the response.
        required: false
        x-ms-client-name: returnClientRequestId
        schema:
          type: boolean
          default: false
      - name: ocp-date
        in: header
        description: 'The time the request was issued. Client libraries typically set this to the

          current system clock time; set it explicitly if you are calling the REST API

          directly.'
        required: false
        x-ms-client-name: ocpdate
        schema:
          type: string
          format: date-time-rfc7231
      - name: If-Modified-Since
        in: header
        description: 'A timestamp indicating the last modified time of the resource known to the

          client. The operation will be performed only if the resource on the service has

          been modified since the specified time.'
        required: false
        x-ms-client-name: ifModifiedSince
        schema:
          type: string
          format: date-time-rfc7231
      - name: If-Unmodified-Since
        in: header
        description: 'A timestamp indicating the last modified time of the resource known to the

          client. The operation will be performed only if the resource on the service has

          not been modified since the specified time.'
        required: false
        x-ms-client-name: ifUnmodifiedSince
        schema:
          type: string
          format: date-time-rfc7231
      - name: If-Match
        in: header
        description: 'An ETag value associated with the version of the resource known to the client.

          The operation will be performed only if the resource''s current ETag on the

          service exactly matches the value specified by the client.'
        required: false
        x-ms-client-name: ifMatch
        schema:
          type: string
      - name: If-None-Match
        in: header
        description: 'An ETag value associated with the version of the resource known to the client.

          The operation will be performed only if the resource''s current ETag on the

          service does not match the value specified by the client.'
        required: false
        x-ms-client-name: ifNoneMatch
        schema:
          type: string
      - name: poolId
        in: path
        description: The ID of the Pool to get.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              schema:
                type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              schema:
                type: string
                format: date-time-rfc7231
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              schema:
                type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch Account against which the request was made, and the region that Account resides in.
              schema:
                type: string
        '404':
          description: The server cannot find the requested resource.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
      x-ms-examples:
        Check Pool Exists:
          $ref: ./examples/PoolExists.json
      summary: Microsoft Azure Head Pools Poolid
      tags:
      - Pools
      security:
      - OAuth2Auth:
        - https://batch.core.windows.net//.default
  /pools/{poolId}/disableautoscale:
    post:
      operationId: microsoftAzureBatchDisablepoolautoscale
      summary: Microsoft Azure Disables Automatic Scaling For A Pool
      description: Disables automatic scaling for a Pool.
      parameters:
      - $ref: '#/components/parameters/Azure.Core.Foundations.ApiVersionParameter'
      - name: timeOut
        in: query
        description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds. If the value is larger than 30, the default will be used instead.".
        required: false
        schema:
          type: integer
          format: int32
          default: 30
      - name: client-request-id
        in: header
        description: 'The caller-generated request identity, in the form of a GUID with no decoration

          such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
        x-ms-client-name: clientRequestId
        schema:
          type: string
      - name: return-client-request-id
        in: header
        description: Whether the server should return the client-request-id in the response.
        required: false
        x-ms-client-name: returnClientRequestId
        schema:
          type: boolean
          default: false
      - name: ocp-date
        in: header
        description: 'The time the request was issued. Client libraries typically set this to the

          current system clock time; set it explicitly if you are calling the REST API

          directly.'
        required: false
        x-ms-client-name: ocpdate
        schema:
          type: string
          format: date-time-rfc7231
      - name: poolId
        in: path
        description: The ID of the Pool on which to disable automatic scaling.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          headers:
            DataServiceId:
              description: The OData ID of the resource to which the request applied.
              schema:
                type: string
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              schema:
                type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              schema:
                type: string
                format: date-time-rfc7231
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              schema:
                type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch Account against which the request was made, and the region that Account resides in.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
      x-ms-examples:
        Disable pool autoscale:
          $ref: ./examples/PoolDisableAutoScale.json
      tags:
      - Pools
      security:
      - OAuth2Auth:
        - https://batch.core.windows.net//.default
  /pools/{poolId}/enableautoscale:
    post:
      operationId: microsoftAzureBatchEnablepoolautoscale
      summary: Microsoft Azure Enables Automatic Scaling For A Pool
      description: 'You cannot enable automatic scaling on a Pool if a resize operation is in

        progress on the Pool. If automatic scaling of the Pool is currently disabled,

        you must specify a valid autoscale formula as part of the request. If automatic

        scaling of the Pool is already enabled, you may specify a new autoscale formula

        and/or a new evaluation interval. You cannot call this API for the same Pool

        more than once every 30 seconds.'
      parameters:
      - $ref: '#/components/parameters/Azure.Core.Foundations.ApiVersionParameter'
      - name: timeOut
        in: query
        description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds. If the value is larger than 30, the default will be used instead.".
        required: false
        schema:
          type: integer
          format: int32
          default: 30
      - name: client-request-id
        in: header
        description: 'The caller-generated request identity, in the form of a GUID with no decoration

          such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
        x-ms-client-name: clientRequestId
        schema:
          type: string
      - name: return-client-request-id
        in: header
        description: Whether the server should return the client-request-id in the response.
        required: false
        x-ms-client-name: returnClientRequestId
        schema:
          type: boolean
          default: false
      - name: ocp-date
        in: header
        description: 'The time the request was issued. Client libraries typically set this to the

          current system clock time; set it explicitly if you are calling the REST API

          directly.'
        required: false
        x-ms-client-name: ocpdate
        schema:
          type: string
          format: date-time-rfc7231
      - name: If-Modified-Since
        in: header
        description: 'A timestamp indicating the last modified time of the resource known to the

          client. The operation will be performed only if the resource on the service has

          been modified since the specified time.'
        required: false
        x-ms-client-name: ifModifiedSince
        schema:
          type: string
          format: date-time-rfc7231
      - name: If-Unmodified-Since
        in: header
        description: 'A timestamp indicating the last modified time of the resource known to the

          client. The operation will be performed only if the resource on the service has

          not been modified since the specified time.'
        required: false
        x-ms-client-name: ifUnmodifiedSince
        schema:
          type: string
          format: date-time-rfc7231
      - name: If-Match
        in: header
        description: 'An ETag value associated with the version of the resource known to the client.

          The operation will be performed only if the resource''s current ETag on the

          service exactly matches the value specified by the client.'
        required: false
        x-ms-client-name: ifMatch
        schema:
          type: string
      - name: If-None-Match
        in: header
        description: 'An ETag value associated with the version of the resource known to the client.

          The operation will be performed only if the resource''s current ETag on the

          service does not match the value specified by the client.'
        required: false
        x-ms-client-name: ifNoneMatch
        schema:
          type: string
      - name: poolId
        in: path
        description: The ID of the Pool to get.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          headers:
            DataServiceId:
              description: The OData ID of the resource to which the request applied.
              schema:
                type: string
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              schema:
                type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              schema:
                type: string
                format: date-time-rfc7231
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              schema:
                type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch Account against which the request was made, and the region that Account resides in.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
      x-ms-examples:
        Pool enable autoscale:
          $ref: ./examples/PoolEnableAutoscale.json
      tags:
      - Pools
      requestBody:
        content:
          application/json; odata=minimalmetadata:
            schema:
              $ref: '#/components/schemas/BatchPoolEnableAutoScaleContent'
        description: The options to use for enabling automatic scaling.
        required: true
      security:
      - OAuth2Auth:
        - https://batch.core.windows.net//.default
  /pools/{poolId}/evaluateautoscale:
    post:
      operationId: microsoftAzureBatchEvaluatepoolautoscale
      summary: Microsoft Azure Gets The Result Of Evaluating An Automatic Scaling Formula On…
      description: 'This API is primarily for validating an autoscale formula, as it simply returns

        the result without applying the formula to the Pool. The Pool must have auto

        scaling enabled in order to evaluate a formula.'
      parameters:
      - $ref: '#/components/parameters/Azure.Core.Foundations.ApiVersionParameter'
      - name: timeOut
        in: query
        description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds. If the value is larger than 30, the default will be used instead.".
        required: false
        schema:
          type: integer
          format: int32
          default: 30
      - name: client-request-id
        in: header
        description: 'The caller-generated request identity, in the form of a GUID with no decoration

          such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
        x-ms-client-name: clientRequestId
        schema:
          type: string
      - name: return-client-request-id
        in: header
        description: Whether the server should return the client-request-id in the response.
        required: false
        x-ms-client-name: returnClientRequestId
        schema:
          type: boolean
          default: false
      - name: ocp-date
        in: header
        description: 'The time the request was issued. Client libraries typically set this to the

          current system clock time; set it explicitly if you are calling the REST API

          directly.'
        required: false
        x-ms-client-name: ocpdate
        schema:
          type: string
          format: date-time-rfc7231
      - name: poolId
        in: path
        description: The ID of the Pool on which to evaluate the automatic scaling formula.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          headers:
            DataServiceId:
              description: The OData ID of the resource to which the request applied.
              schema:
                type: string
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              schema:
                type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              schema:
                type: string
                format: date-time-rfc7231
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              schema:
                type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch Account against which the request was made, and the region that Account resides in.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoScaleRun'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
      x-ms-examples:
        Pool evaluate autoscale:
          $ref: ./examples/PoolEvaluateAutoscale.json
      tags:
      - Pools
      requestBody:
        content:
          application/json; odata=minimalmetadata:
            schema:
              $ref: '#/components/schemas/BatchPoolEvaluateAutoScaleContent'
        description: The options to use for evaluating the automatic scaling formula.
        required: true
      security:
      - OAuth2Auth:
        - https://batch.core.windows.net//.default
  /pools/{poolId}/nodes:
    get:
      operationId: microsoftAzureBatchListnodes
      summary: Microsoft Azure Lists The Compute Nodes In The Specified Pool
      description: Lists the Compute Nodes in the specified Pool.
      parameters:
      - $ref: '#/components/parameters/Azure.Core.Foundations.ApiVersionParameter'
      - name: timeOut
        in: query
        description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds. If the value is larger than 30, the default will be used instead.".
        required: false
        schema:
          type: integer
          format: int32
          default: 30
      - name: client-request-id
        in: header
        description: 'The caller-generated request identity, in the form of a GUID with no decoration

          such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
        x-ms-client-name: clientRequestId
        schema:
          type: string
      - name: return-client-request-id
        in: header
        description: Whether the server should return the client-request-id in the response.
        required: false
        x-ms-client-name: returnClientRequestId
        schema:
          type: boolean
          default: false
      - name: ocp-date
        in: header
        description: 'The time the request was issued. Client libraries typically set this to the

          current system clock time; set it explicitly if you are calling the REST API

          directly.'
        required: false
        x-ms-client-name: ocpdate
        schema:
          type: string
          format: date-time-rfc7231
      - name: maxresults
        in: query
        description: 'The maximum number of items to return in the response. A maximum of 1000

          applications can be returned.'
        required: false
        schema:
          type: integer
          format: int32
          default: 1000
          maximum: 1000
          minimum: 1
      - name: poolId
        in: path
        description: The ID of the Pool from which you want to list Compute Nodes.
        required: true
        schema:
          type: string
      - name: $filter
        in: query
        description: 'An OData $filter clause. For more information on constructing this filter, see

          https://docs.microsoft.com/en-us/rest/api/batchservice/odata-filters-in-batch#list-nodes-in-a-pool.'
        required: false
        schema:
          type: string
      - name: $select
        in: query
        description: An OData $select clause.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              schema:
                type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              schema:
                type: string
                format: date-time-rfc7231
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              schema:
                type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch Account against which the request was made, and the region that Account resides in.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchNodeListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
      x-ms-examples:
        Node list:
          $ref: ./examples/NodeList.json
      x-ms-pageable:
        nextLinkName: odata.nextLink
      tags:
      - Pools
      security:
      - OAuth2Auth:
        - https://batch.core.windows.net//.default
  /pools/{poolId}/nodes/{nodeId}:
    get:
      operationId: microsoftAzureBatchGetnode
      summary: Microsoft Azure Gets Information About The Specified Compute Node
      description: Gets information about the specified Compute Node.
      parameters:
      - $ref: '#/components/parameters/Azure.Core.Foundations.ApiVersionParameter'
      - name: timeOut
        in: query
        description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds. If the value is larger than 30, the default will be used instead.".
        required: false
        schema:
          type: integer
          format: int32
          default: 30
      - name: client-request-id
        in: header
        description: 'The caller-generated request identity, in the form of a GUID with no decoration

          such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
        x-ms-client-name: clientRequestId
        schema:
          type: string
      - name: return-client-request-id
        in: header
        description: Whether the server should return the client-request-id in the response.
        required: false
        x-ms-client-name: returnClientRequestId
        schema:
          type: boolean
          default: false
      - name: ocp-date
        in: header
        description: 'The time the request was issued. Client libraries typically set this to the

          current system clock time; set it explicitly if you are calling the REST API

          directly.'
        required: false
        x-ms-client-name: ocpdate
        schema:
          type: string
          format: date-time-rfc7231
      - name: poolId
        in: path
        description: The ID of the Pool that contains the Compute Node.
        required: true
        schema:
          type: string
      - name: nodeId
        in: path
        description: The ID of the Compute Node that you want to get information about.
        required: true
        schema:
          type: string
      - name: $select
        in: query
        description: An OData $select clause.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              schema:
                type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              schema:
                type: string
                format: date-time-rfc7231
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              schema:
                type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch Account against which the request was made, and the region that Account resides in.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchNode'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
      x-ms-examples:
        Node get:
          $ref: ./examples/NodeGet_Basic.json
      tags:
      - Pools
      security:
      - OAuth2Auth:
        - https://batch.core.windows.net//.default
  /pools/{poolId}/nodes/{nodeId}/disablescheduling:
    post:
      operationId: microsoftAzureBatchDisablenodescheduling
      summary: Microsoft Azure Disables Task Scheduling On The Specified Compute Node
      description: 'You can disable Task scheduling on a Compute Node only if its current

        scheduling state is enabled.'
      parameters:
      - $ref: '#/components/parameters/Azure.Core.Foundations.ApiVersionParameter'
      - name: timeOut
        in: query
        description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds. If the value is larger than 30, the default will be used instead.".
        required: false
        schema:
          type: integer
          format: int32
          default: 30
      - name: client-request-id
        in: header
        description: 'The caller-generated request identity, in the form of a GUID with no decoration

          such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
        x-ms-client-name: clientRequestId
        schema:
          type: string
      - name: return-client-request-id
        in: header
        description: Whether the server should return the client-request-id in the response.
        required: false
        x-ms-client-name: returnClientRequestId
        schema:
          type: boolean
          default: false
      - name: ocp-date
        in: header
        description: 'The time the request was issued. Client libraries typically set this to the

          current system clock time; set it explicitly if you are calling the REST API

          directly.'
        required: false
        x-ms-client-name: ocpdate
        schema:
          type: string
          format: date-time-rfc7231
      - name: poolId
        in: path
        description: The ID of the Pool that contains the Compute Node.
        required: true
        schema:
          type: string
      - name: nodeId
        in: path
        description: The ID of the Compute Node on which you want to disable Task scheduling.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          headers:
            DataServiceId:
              description: The OData ID of the resource to which the request applied.
              schema:
                type: string
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              schema:
                type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              schema:
                type: string
                format: date-time-rfc7231
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              schema:
                type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch Account against which the request was made, and the region that Account resides in.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
      x-ms-examples:
        Node disable scheduling:
          $ref: ./examples/NodeDisableScheduling.json
      tags:
      - Pools
      requestBody:
        content:
          application/json; odata=minimalmetadata:
            schema:
              $ref: '#/components/schemas/BatchNodeDisableSchedulingContent'
        description: The options to use for disabling scheduling on the Compute Node.
      security:
      - OAuth2Auth:
        - https://batch.core.windows.net//.default
  /pools/{poolId}/nodes/{nodeId}/enablescheduling:
    post:
      operationId: microsoftAzureBatchEnablenodescheduling
      summary: Microsoft Azure Enables Task Scheduling On The Specified Compute Node
      description: 'You can enable Task scheduling on a Compute Node only if its current scheduling

        state is disabled'
      parameters:
      - $ref: '#/components/parameters/Azure.Core.Foundations.ApiVersionParameter'
      - name: timeOut
        in: query
        description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds. If the value is larger than 30, the default will be used instead.".
        required: false
        schema:
          type: integer
          format: int32
          default: 30
      - name: client-request-id
        in: header
        description: 'The caller-generated request identity, in the form of a GUID with no decoration

          such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
        x-ms-client-name: clientRequestId
        schema:
          type: string
      - name: return-client-request-id
        in: header
        description: Whether the server should return the client-request-id in the response.
        required: false
        x-ms-client-name: returnClientRequestId
        schema:
          type: boolean
          default: false
      - name: ocp-date
        in: header
        description: 'The time the request was issued. Client libraries typically set this to the

          current system clock time; set it explicitly if you are calling the REST API

          directly.'
        required: false
        x-ms-client-name: ocpdate
        schema:
          type: string
          format: date-time-rfc7231
      - name: poolId
        in: path
        description: The ID of the Pool that contains the Compute Node.
        required: true
        schema:
          type: string
      - name: nodeId
        in: path
        description: The ID of the Compute Node on which you want to enable Task scheduling.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          headers:
            DataServiceId:
              description: The OData ID of the resource to which the request applied.
              schema:
                type: string
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              schema:
                type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              schema:
                type: string
                format: date-time-rfc7231
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              schema:
                type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch Account against which the request was made, and the region that Account resides in.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
      x-ms-examples:
        Node enable scheduling:
          $ref: ./examples/NodeEnableScheduling.json
      tags:
      - Pools
      security:
      - OAuth2Auth:
        - https://batch.core.windows.net//.default
  /pools/{poolId}/nodes/{nodeId}/extensions:
    get:
      operationId: microsoftAzureBatchListnodeextensions
      summary: Microsoft Azure Lists The Compute Nodes Extensions In The Specified Pool
      description: Lists the Compute Nodes Extensions in the specified Pool.
      parameters:
      - $ref: '#/components/parameters/Azure.Core.Foundations.ApiVersionParameter'
      - name: timeOut
        in: query
        description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds. If the value is larger than 30, the default will be used instead.".
        required: false
        schema:
          type: integer
          format: int32
          default: 30
      - name: client-request-id
        in: header
        description: 'The caller-generated request identity, in the form of a GUID with no decoration

          such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
        x-ms-client-name: clientRequestId
        schema:
          type: string
      - name: return-client-request-id
        in: header
        description: Whether the server should return the client-request-id in the response.
        required: false
        x-ms-client-name: returnClientRequestId
        schema:
          type: boolean
          default: false
      - name: ocp-date
        in: header
        description: 'The time the request was issued. Client libraries typically set this to the

          current system clock time; set it explicitly if you are calling the REST API

          directly.'
        required: false
        x-ms-client-name: ocpdate
        schema:
          type: string
          format: date-time-rfc7231
      - name: maxresults
        in: query
        description: 'The maximum number of items to return in the response. A maximum of 1000

          applications can be returned.'
        required: false
        schema:
          type: integer
          format: int32
          default: 1000
          maximum: 1000
          minimum: 1
      - name: poolId
        in: path
        description: The ID of the Pool that contains Compute Node.
        required: true
        schema:
          type: string
      - name: nodeId
        in: path
        description: The ID of the Compute Node that you want to list extensions.
        required: true
        schema:
          type: string
      - name: $select
        in: query
        description: An OData $select clause.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              schema:
                type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              schema:
                type: string
                format: date-time-rfc7231
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              schema:
                type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch Account against which the request was made, and the region that Account resides in.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchNodeVMExtensionListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
      x-ms-examples:
        List compute node extensions:
          $ref: ./examples/BatchNodeExtensionList.json
      x-ms-pageable:
        nextLinkName: odata.nextLink
      tags:
      - Pools
      security:
      - OAuth2Auth:
        - https://batch.core.windows.net//.default
  /pools/{poolId}/nodes/{nodeId}/extensions/{extensionName}:
    get:
      operationId: microsoftAzureBatchGetnodeextension
      summary: Microsoft Azure Gets Information About The Specified Compute Node Extension
      description: Gets information about the specified Compute Node Extension.
      parameters:
      - $ref: '#/components/parameters/Azure.Core.Foundations.ApiVersionParameter'
      - name: timeOut
        in: query
        description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds. If the value is larger than 30, the default will be used instead.".
        required: false
        schema:
          type: integer
          format: int32
          default: 30
      - name: client-request-id
        in: header
        description: 'The caller-generated request identity, in the form of a GUID with no decoration

          such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
        x-ms-client-name: clientRequestId
        schema:
          type: string
      - name: return-client-request-id
        in: header
        description: Whether the server should return the client-request-id in the response.
        required: false
        x-ms-client-name: returnClientRequestId
        schema:
          type: boolean
          default: false
      - name: ocp-date
        in: header
        description: 'The time the request was issued. Client libraries typically set this to the

          current system clock time; set it explicitly if you are calling the REST API

          directly.'
        required: false
        x-ms-client-name: ocpdate
        schema:
          type: string
          format: date-time-rfc7231
      - name: poolId
        in: path
        description: The ID of the Pool that contains the Compute Node.
        required: true
        schema:
          type: string
      - name: nodeId
        in: path
        description: The ID of the Compute Node that contains the extensions.
        required: true
        schema:
          type: string
      - name: extensionName
        in: path
        description: The name of the Compute Node Extension that you want to get information about.
        required: true
        schema:
          type: string
      - name: $select
        in: query
        description: An OData $select clause.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: The request has succeeded.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              schema:
                type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              schema:
                type: string
                format: date-time-rfc7231
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              schema:
                type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch Account against which the request was made, and the region that Account resides in.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchNodeVMExtension'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
      x-ms-examples:
        Get batch node extension:
          $ref: ./examples/BatchNodeExtensionGet.json
      tags:
      - Pools
      security:
      - OAuth2Auth:
        - https://batch.core.windows.net//.default
  /pools/{poolId}/nodes/{nodeId}/files:
    get:
      operationId: microsoftAzureBatchListnodefiles
      summary: Microsoft Azure Lists All Of The Files In Task Directories On The Specified…
      description: Lists all of the files in Task directories on the specified Compute Node.
      parameters:
      - $ref: '#/components/parameters/Azure.Core.Foundations.ApiVersionParameter'
      - name: timeOut
        in: query
        description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds. If the value is larger than 30, the default will be used instead.".
        required: false
        schema:
          type: integer
          format: int32
          default: 30
      - name: client-request-id
        in: header
        description: 'The caller-generated request identity, in the form of a GUID with no decoration

          such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
        x-ms-client-name: clientRequestId
        schema:
          type: string
      - name: return-client-request-id
        in: header
        description: Whether the server should return the client-request-id in the response.
        required: false
        x-ms-client-name: returnClientRequestId
        schema:
          type: boolean
          default: false
      - name: ocp-date
        in: header
        description: 'The time the request was issued. Client libraries typically set this to the

          current system clock time; set it explicitly if you are calling the REST API

          directly.'
        required: false
        x-ms-client-name: ocpdate
        schema:
          type: string
          format: date-time-rfc7231
      - name: maxresults
        in: query
        description: 'The maximum number of items to return in the response. A maximum of 1000

          applications can be returned.'
        required: false
        schema:
          type: integer
          format: int32
          default: 1000
          maximum: 1000
          minimum: 1
      - name: poolId
        in: path
        description: The ID of the Pool that contains the Compute Node.
        required: true
        schema:
          type: string
      - name: nodeId
        in: path
        description: The ID of the Compute Node whose files you want to list.
        required: true
        schema:
          type: string
      - name: $filter
        in: query
        description: 'An OData $filter clause. For more information on constructing this filter, see

          https://docs.microsoft.com/en-us/rest/api/batchservice/odata-filters-in-batch#list-compute-node-files.'
        required: false
        schema:
          type: string
      - name: recursive
        in: query
        description: Whether to list children of a directory.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: The request has succeeded.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              schema:
                type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              schema:
                type: string
                format: date-time-rfc7231
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              schema:
                type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch Account against which the request was made, and the region that Account resides in.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchNodeFileListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
      x-ms-examples:
        File list from node:
          $ref: ./examples/FileListFromNode.json
      x-ms-pageable:
        nextLinkName: odata.nextLink
      tags:
      - Pools
      security:
      - OAuth2Auth:
        - https://batch.core.windows.net//.default
  /pools/{poolId}/nodes/{nodeId}/files/{filePath}:
    get:
      operationId: microsoftAzureBatchGetnodefile
      description: Returns the content of the specified Compute Node file.
      parameters:
      - $ref: '#/components/parameters/Azure.Core.Foundations.ApiVersionParameter'
      - name: timeOut
        in: query
        description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds. If the value is larger than 30, the default will be used instead.".
        required: false
        schema:
          type: integer
          format: int32
          default: 30
      - name: client-request-id
        in: header
        description: 'The caller-generated request identity, in the form of a GUID with no decoration

          such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
        x-ms-client-name: clientRequestId
        schema:
          type: string
      - name: return-client-request-id
        in: header
        description: Whether the server should return the client-request-id in the response.
        required: false
        x-ms-client-name: returnClientRequestId
        schema:
          type: boolean
          default: false
      - name: ocp-date
        in: header
        description: 'The time the request was issued. Client libraries typically set this to the

          current system clock time; set it explicitly if you are calling the REST API

          directly.'
        required: false
        x-ms-client-name: ocpdate
        schema:
          type: string
          format: date-time-rfc7231
      - name: poolId
        in: path
        description: The ID of the Pool that contains the Compute Node.
        required: true
        schema:
          type: string
      - name: nodeId
        in: path
        description: The ID of the Compute Node.
        required: true
        schema:
          type: string
      - name: filePath
        in: path
        description: The path to the file or directory.
        required: true
        schema:
          type: string
      - name: If-Modified-Since
        in: header
        description: 'A timestamp indicating the last modified time of the resource known to the

          client. The operation will be performed only if the resource on the service has

          been modified since the specified time.'
        required: false
        x-ms-client-name: ifModifiedSince
        schema:
          type: string
          format: date-time-rfc7231
      - name: If-Unmodified-Since
        in: header
        description: 'A timestamp indicating the last modified time of the resource known to the

          client. The operation will be performed only if the resource on the service has

          not been modified since the specified time.'
        required: false
        x-ms-client-name: ifUnmodifiedSince
        schema:
          type: string
          format: date-time-rfc7231
      - name: ocp-range
        in: header
        description: 'The byte range to be retrieved. The default is to retrieve the entire file. The

          format is bytes=startRange-endRange.'
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          headers:
            Content-Length:
              description: The length of the file.
              schema:
                type: integer
                format: int64
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              schema:
                type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              schema:
                type: string
                format: date-time-rfc7231
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              schema:
                type: string
            ocp-batch-file-isdirectory:
              description: Whether the object represents a directory.
              schema:
                type: boolean
            ocp-batch-file-mode:
              description: The file mode attribute in octal format.
              schema:
                type: string
            ocp-batch-file-url:
              description: The URL of the file.
              schema:
                type: string
            ocp-creation-time:
              description: The file creation time.
              schema:
                type: string
                format: date-time-rfc7231
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch Account against which the request was made, and the region that Account resides in.
              schema:
                type: string
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: string
                format: binary
        default:
          description: An unexpected error response.
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/BatchError'
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
      x-ms-examples:
        Get File From Compute Node:
          $ref: ./examples/FileGetFromNode.json
      summary: Microsoft Azure Get Pools Poolid Nodes Nodeid Files Filepath
      tags:
      - Pools
      security:
      - OAuth2Auth:
        - https://batch.core.windows.net//.default
    delete:
      operationId: microsoftAzureBatchDeletenodefile
      summary: Microsoft Azure Deletes The Specified File From The Compute Node
      description: Deletes the specified file from the Compute Node.
      parameters:
      - $ref: '#/components/parameters/Azure.Core.Foundations.ApiVersionParameter'
      - name: timeOut
        in: query
        description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds. If the value is larger than 30, the default will be used instead.".
        required: false
        schema:
          type: integer
          format: int32
          default: 30
      - name: client-request-id
        in: header
        description: 'The caller-generated request identity, in the form of a GUID with no decoration

          such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
        x-ms-client-name: clientRequestId
        schema:
          type: string
      - name: return-client-request-id
        in: header
        description: Whether the server should return the client-request-id in the response.
        required: false
        x-ms-client-name: returnClientRequestId
        schema:
          type: boolean
          default: false
      - name: ocp-date
        in: header
        description: 'The time the request was issued. Client libraries typically set this to the

          current system clock time; set it explicitly if you are calling the REST API

          directly.'
        required: false
        x-ms-client-name: ocpdate
        schema:
          type: string
          format: date-time-rfc7231
      - name: poolId
        in: path
        description: The ID of the Pool that contains the Compute Node.
        required: true
        schema:
          type: string
      - name: nodeId
        in: path
        description: The ID of the Compute Node.
        required: true
        schema:
          type: string
      - name: filePath
        in: path
        description: The path to the file or directory.
        required: true
        schema:
          type: string
      - name: recursive
        in: query
        description: 'Whether to delete children of a directory. If the filePath parameter represents

          a directory instead of a file, you can set recursive to true to delete the

          directory and all of the files and subdirectories in it. If recursive is false

          then the directory must be empty or deletion will fail.'
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: The request has succeeded.
          headers:
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              schema:
                type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch Account against which the request was made, and the region that Account resides in.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
      x-ms-examples:
        File delete from node:
          $ref: ./examples/FileDeleteFromNode.json
      tags:
      - Pools
      security:
      - OAuth2Auth:
        - https://batch.core.windows.net//.default
    head:
      operationId: microsoftAzureBatchGetnodefileproperties
      description: Gets the properties of the specified Compute Node file.
      parameters:
      - $ref: '#/components/parameters/Azure.Core.Foundations.ApiVersionParameter'
      - name: timeOut
        in: query
        description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds. If the value is larger than 30, the default will be used instead.".
        required: false
        schema:
          type: integer
          format: int32
          default: 30
      - name: client-request-id
        in: header
        description: 'The caller-generated request identity, in the form of a GUID with no decoration

          such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
        x-ms-client-name: clientRequestId
        schema:
          type: string
      - name: return-client-request-id
        in: header
        description: Whether the server should return the client-request-id in the response.
        required: false
        x-ms-client-name: returnClientRequestId
        schema:
          type: boolean
          default: false
      - name: ocp-date
        in: header
        description: 'The time the request was issued. Client libraries typically set this to the

          current system clock time; set it explicitly if you are calling the REST API

          directly.'
        required: false
        x-ms-client-name: ocpdate
        schema:
          type: string
          format: date-time-rfc7231
      - name: poolId
        in: path
        description: The ID of the Pool that contains the Compute Node.
        required: true
        schema:
          type: string
      - name: nodeId
        in: path
        description: The ID of the Compute Node.
        required: true
        schema:
          type: string
      - name: filePath
        in: path
        description: The path to the file or directory.
        required: true
        schema:
          type: string
      - name: If-Modified-Since
        in: header
        description: 'A timestamp indicating the last modified time of the resource known to the

          client. The operation will be performed only if the resource on the service has

          been modified since the specified time.'
        required: false
        x-ms-client-name: ifModifiedSince
        schema:
          type: string
          format: date-time-rfc7231
      - name: If-Unmodified-Since
        in: header
        description: 'A timestamp indicating the last modified time of the resource known to the

          client. The operation will be performed only if the resource on the service has

          not been modified since the specified time.'
        required: false
        x-ms-client-name: ifUnmodifiedSince
        schema:
          type: string
          format: date-time-rfc7231
      responses:
        '200':
          description: The request has succeeded.
          headers:
            Content-Length:
              description: The length of the file.
              schema:
                type: integer
                format: int64
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              schema:
                type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              schema:
                type: string
                format: date-time-rfc7231
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              schema:
                type: string
            ocp-batch-file-isdirectory:
              description: Whether the object represents a directory.
              schema:
                type: boolean
            ocp-batch-file-mode:
              description: The file mode attribute in octal format.
              schema:
                type: string
            ocp-batch-file-url:
              description: The URL of the file.
              schema:
                type: string
            ocp-creation-time:
              description: The file creation time.
              schema:
                type: string
                format: date-time-rfc7231
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch Account against which the request was made, and the region that Account resides in.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
      x-ms-examples:
        File get properties from node:
          $ref: ./examples/FileGetPropertiesFromNode.json
      summary: Microsoft Azure Head Pools Poolid Nodes Nodeid Files Filepath
      tags:
      - Pools
      security:
      - OAuth2Auth:
        - https://batch.core.windows.net//.default
  /pools/{poolId}/nodes/{nodeId}/rdp:
    get:
      operationId: microsoftAzureBatchGetnoderemotedesktopfile
      summary: Microsoft Azure Gets The Remote Desktop Protocol File For The Specified Compute…
      description: 'Before you can access a Compute Node by using the RDP file, you must create a

        user Account on the Compute Node. This API can only be invoked on Pools created

        with a cloud service configuration. For Pools created with a virtual machine

        configuration, see the GetRemoteLoginSettings API.'
      parameters:
      - $ref: '#/components/parameters/Azure.Core.Foundations.ApiVersionParameter'
      - name: timeOut
        in: query
        description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds. If the value is larger than 30, the default will be used instead.".
        required: false
        schema:
          type: integer
          format: int32
          default: 30
      - name: client-request-id
        in: header
        description: 'The caller-generated request identity, in the form of a GUID with no decoration

          such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.'
        required: false
        x-ms-client-name: clientRequestId
        schema:
          type: string
      - name: return-client-request-id
        in: header
        description: Whether the server should return the client-request-id in the response.
        required: false
        x-ms-client-name: returnClientRequestId
        schema:
          type: boolean
          default: false
      - name: ocp-date
        in: header
        description: 'The time the request was issued. Client libraries typically set this to the

          current system clock time; set it explicitly if you are calling the REST API

          directly.'
        required: false
        x-ms-client-name: ocpdate
        schema:
          type: string
          format: date-time-rfc7231
      - name: poolId
        in: path
        description: The ID of the Pool that contains the Compute Node.
        required: true
        schema:
          type: string
      - name: nodeId
        in: path
        description: 'The ID of the Compute Node for which you want to get the Remote Desktop

          Protocol file.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              schema:
                type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              schema:
                type: string
                format: date-time-rfc7231
            client-request-id:
[...]
