openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft.Elastic Deployment Update API
  version: 2024-01-01-preview
servers:
- url: https://management.azure.com
tags:
- name: DeploymentUpdate
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/upgrade
  : post:
      tags:
      - DeploymentUpdate
      summary: Microsoft Azure Upgradable Version For A Monitor Resource
      operationId: microsoftAzureMonitorUpgrade
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      responses:
        '202':
          description: Success
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-long-running-operation: true
      x-ms-examples:
        Monitor_Upgrade:
          $ref: ./examples/Monitor_Upgrade.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ElasticMonitorUpgrade'
        description: Elastic Monitor Upgrade Parameters
components:
  schemas:
    ResourceProviderDefaultErrorResponse:
      description: RP default error response.
      type: object
      properties:
        error:
          description: Response body of Error
          readOnly: true
          $ref: '#/components/schemas/ErrorResponseBody'
    ElasticMonitorUpgrade:
      description: Upgrade elastic monitor version
      type: object
      properties:
        version:
          type: string
          description: Version to which the elastic monitor should be upgraded to
    ErrorResponseBody:
      description: Error response body.
      title: ErrorResponseBody
      type: object
      properties:
        code:
          description: Error code.
          type: string
        message:
          description: Error message.
          type: string
        target:
          description: Error target.
          type: string
        details:
          description: Error details.
          type: array
          x-ms-identifiers: []
          items:
            $ref: '#/components/schemas/ErrorResponseBody'
  parameters:
    MonitorNameParameter:
      in: path
      name: monitorName
      description: Monitor resource name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Microsoft Entra ID OAuth2 Flow
