openapi: 3.2.0
info:
  version: '2023-01-01'
  title: Microsoft Azure Azure Migrate V2 Web Sites Controller API
  description: Migrate your workloads to Azure.
  contact:
    name: Microsoft
    email: azuremigratehub@microsoft.com
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: WebSitesController
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/webSites
  : get:
      tags:
      - WebSitesController
      summary: Microsoft Azure Gets A List Of Websites In The Migrate Project
      operationId: microsoftAzureWebsitescontrollerListwebsites
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/migrateProjectName'
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/continuationToken'
      - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebSiteCollection'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      deprecated: false
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        WebSitesController_ListWebSites_MaximumSet_Gen:
          $ref: ./examples/WebSitesController_ListWebSites_MaximumSet_Gen.json
        WebSitesController_ListWebSites_MinimumSet_Gen:
          $ref: ./examples/WebSitesController_ListWebSites_MinimumSet_Gen.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/webSites/{webSiteName}
  : get:
      tags:
      - WebSitesController
      summary: Microsoft Azure Gets A Website In The Migrate Project
      operationId: microsoftAzureWebsitescontrollerGetwebsite
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/migrateProjectName'
      - $ref: '#/components/parameters/webSiteName'
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebSite'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      deprecated: false
      x-ms-examples:
        WebSitesController_GetWebSite_MaximumSet_Gen:
          $ref: ./examples/WebSitesController_GetWebSite_MaximumSet_Gen.json
        WebSitesController_GetWebSite_MinimumSet_Gen:
          $ref: ./examples/WebSitesController_GetWebSite_MinimumSet_Gen.json
      description: Needs a more full description created.
components:
  parameters:
    webSiteName:
      name: webSiteName
      description: The ARM name of the website to be fetched.
      in: path
      x-ms-parameter-location: method
      required: true
      schema:
        type: string
        pattern: ^[a-zA-Z0-9-]{3,24}$
    migrateProjectName:
      name: migrateProjectName
      description: Name of the Azure Migrate project.
      in: path
      x-ms-parameter-location: method
      required: true
      schema:
        type: string
        pattern: ^[a-zA-Z0-9-]{3,24}$
    pageSize:
      name: pageSize
      description: The number of items to be returned in a single page. This value is honored only if it is less than the 100.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
    continuationToken:
      name: continuationToken
      description: The continuation token.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
  schemas:
    WebSiteCollection:
      type: object
      description: Collection of web sites.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/WebSite'
        nextLink:
          type: string
    WebSiteMigrationDetails:
      type: object
      description: Details of migration data of web site.
      properties:
        id:
          description: Gets the relative URL to get to this WebSiteMigrationDetails resource.
          type: string
        migrationPhase:
          type: string
        progressPercentage:
          format: int32
          type: integer
        targetAppServiceArmId:
          type: string
        lastUpdatedTime:
          format: date-time
          type: string
        webServerId:
          type: string
        webServerType:
          type: string
        webSiteName:
          type: string
        enqueueTime:
          type: string
        solutionName:
          type: string
        port:
          format: int32
          type: integer
        extendedInfo:
          type: object
          additionalProperties:
            type: string
    WebSiteDiscoveryDetails:
      type: object
      description: Details of discovery data of web site.
      properties:
        lastUpdatedTime:
          format: date-time
          type: string
        id:
          description: Gets the relative URL to get to this WebSiteDiscoveryDetails resource.
          type: string
        webServerId:
          type: string
        webServerType:
          type: string
        webSiteName:
          type: string
        enqueueTime:
          type: string
        solutionName:
          type: string
        port:
          format: int32
          type: integer
        extendedInfo:
          type: object
          additionalProperties:
            type: string
    WebSiteAssessmentDetails:
      type: object
      description: Details of assessment data of web site.
      properties:
        assessmentId:
          type: string
        id:
          description: Gets the relative URL to get to this WebSiteAssessmentDetails resource.
          type: string
        isReadyForMigration:
          type: boolean
        assessmentTargetType:
          type: string
        migrationBlockersCount:
          format: int32
          type: integer
        successList:
          type: array
          items:
            type: string
        warningList:
          type: array
          items:
            type: string
        errorList:
          type: array
          items:
            type: string
        framework:
          type: string
        frameworkVersion:
          type: string
        lastUpdatedTime:
          format: date-time
          type: string
        webServerId:
          type: string
        webServerType:
          type: string
        webSiteName:
          type: string
        enqueueTime:
          type: string
        solutionName:
          type: string
        port:
          format: int32
          type: integer
        extendedInfo:
          type: object
          additionalProperties:
            type: string
    WebSiteProperties:
      type: object
      description: Properties of class representing web site.
      properties:
        discoveryData:
          type: array
          items:
            $ref: '#/components/schemas/WebSiteDiscoveryDetails'
        assessmentData:
          type: array
          items:
            $ref: '#/components/schemas/WebSiteAssessmentDetails'
        migrationData:
          type: array
          items:
            $ref: '#/components/schemas/WebSiteMigrationDetails'
        lastUpdatedTime:
          format: date-time
          type: string
    WebSite:
      type: object
      description: Class representing a web site.
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
          readOnly: true
        properties:
          $ref: '#/components/schemas/WebSiteProperties'
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
