swagger: '2.0'
info:
  title: Microsoft.SecurityDevOps
  description: REST APIs for Defender for DevOps
  version: 2022-09-01-preview
host: management.azure.com
schemes:
  - https
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecurityDevOps/azureDevOpsConnectors:
    get:
      tags:
        - default
      operationId: microsoftAzureAzuredevopsconnectorListbyresourcegroup
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AzureDevOpsConnectorListResponse'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        AzureDevOpsConnector_ListByResourceGroup:
          $ref: ./examples/AzureDevOpsConnectorListByResourceGroup.json
      summary: >-
        Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname
        Providers Microsoft Securitydevops Azuredevopsconnectors
      description: Needs a more full description created.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecurityDevOps/azureDevOpsConnectors/{azureDevOpsConnectorName}:
    get:
      tags:
        - default
      summary: 'Returns A Monitored Azuredevops Connector Resource For A Given Id '
      operationId: microsoftAzureAzuredevopsconnectorGet
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/AzureDevOpsConnectorName'
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AzureDevOpsConnector'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        AzureDevOpsConnector_Get:
          $ref: ./examples/AzureDevOpsConnectorGet.json
      description: Needs a more full description created.
    put:
      tags:
        - default
      summary: 'Creates Or Updates An Azure Devops Connector '
      operationId: microsoftAzureAzuredevopsconnectorCreateorupdate
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/AzureDevOpsConnectorName'
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
        - in: body
          name: azureDevOpsConnector
          description: Connector resource payload.
          required: true
          schema:
            $ref: '#/definitions/AzureDevOpsConnector'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AzureDevOpsConnector'
        '201':
          description: Created
          schema:
            $ref: '#/definitions/AzureDevOpsConnector'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        AzureDevOpsConnector_CreateOrUpdate:
          $ref: ./examples/AzureDevOpsConnectorCreateOrUpdate.json
      description: Needs a more full description created.
    patch:
      tags:
        - default
      summary: 'Update Monitored Azuredevops Connector Details '
      operationId: microsoftAzureAzuredevopsconnectorUpdate
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/AzureDevOpsConnectorName'
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
        - in: body
          name: azureDevOpsConnector
          description: Connector resource payload.
          schema:
            $ref: '#/definitions/AzureDevOpsConnector'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AzureDevOpsConnector'
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/AzureDevOpsConnector'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-examples:
        AzureDevOpsConnector_Update:
          $ref: ./examples/AzureDevOpsConnectorUpdate.json
      description: Needs a more full description created.
    delete:
      tags:
        - default
      summary: 'Delete Monitored Azuredevops Connector Details '
      operationId: microsoftAzureAzuredevopsconnectorDelete
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/AzureDevOpsConnectorName'
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-examples:
        AzureDevOpsConnector_Delete:
          $ref: ./examples/AzureDevOpsConnectorDelete.json
      description: Needs a more full description created.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecurityDevOps/azureDevOpsConnectors/{azureDevOpsConnectorName}/repos:
    get:
      tags:
        - default
      operationId: microsoftAzureAzuredevopsrepoListbyconnector
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/AzureDevOpsConnectorName'
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AzureDevOpsRepoListResponse'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        AzureDevOpsRepo_ListByConnector:
          $ref: ./examples/AzureDevOpsRepoListByConnector.json
      summary: >-
        Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname
        Providers Microsoft Securitydevops Azuredevopsconnectors
        Azuredevopsconnectorname Repos
      description: Needs a more full description created.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecurityDevOps/azureDevOpsConnectors/{azureDevOpsConnectorName}/stats:
    get:
      tags:
        - default
      summary: 'Returns The Summary Of The Azuredevops Connector Stats '
      operationId: microsoftAzureAzuredevopsconnectorstatsGet
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/AzureDevOpsConnectorName'
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AzureDevOpsConnectorStatsListResponse'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        AzureDevOpsConnectorStats_Get:
          $ref: ./examples/AzureDevOpsConnectorStatsGet.json
      description: Needs a more full description created.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecurityDevOps/azureDevOpsConnectors/{azureDevOpsConnectorName}/orgs:
    get:
      tags:
        - default
      operationId: microsoftAzureAzuredevopsorgList
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/AzureDevOpsConnectorName'
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AzureDevOpsOrgListResponse'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        AzureDevOpsOrg_List:
          $ref: ./examples/AzureDevOpsOrgList.json
      summary: >-
        Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname
        Providers Microsoft Securitydevops Azuredevopsconnectors
        Azuredevopsconnectorname Orgs
      description: Needs a more full description created.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecurityDevOps/azureDevOpsConnectors/{azureDevOpsConnectorName}/orgs/{azureDevOpsOrgName}:
    get:
      tags:
        - default
      summary: 'Returns A Monitored Azuredevops Org Resource For A Given Id '
      operationId: microsoftAzureAzuredevopsorgGet
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/AzureDevOpsConnectorName'
        - $ref: '#/parameters/AzureDevOpsOrgName'
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AzureDevOpsOrg'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        AzureDevOpsOrg_Get:
          $ref: ./examples/AzureDevOpsOrgGet.json
      description: Needs a more full description created.
    put:
      tags:
        - default
      summary: 'Creates Or Updates An Azure Devops Org '
      operationId: microsoftAzureAzuredevopsorgCreateorupdate
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/AzureDevOpsConnectorName'
        - $ref: '#/parameters/AzureDevOpsOrgName'
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
        - in: body
          name: azureDevOpsOrg
          description: Azure DevOps Org resource payload.
          required: true
          schema:
            $ref: '#/definitions/AzureDevOpsOrg'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AzureDevOpsOrg'
        '201':
          description: Created
          schema:
            $ref: '#/definitions/AzureDevOpsOrg'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        AzureDevOpsOrg_CreateOrUpdate:
          $ref: ./examples/AzureDevOpsOrgCreateOrUpdate.json
      description: Needs a more full description created.
    patch:
      tags:
        - default
      summary: 'Update Monitored Azuredevops Org Details '
      operationId: microsoftAzureAzuredevopsorgUpdate
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/AzureDevOpsConnectorName'
        - $ref: '#/parameters/AzureDevOpsOrgName'
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
        - in: body
          name: azureDevOpsOrg
          description: Azure DevOps Org resource payload.
          schema:
            $ref: '#/definitions/AzureDevOpsOrg'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AzureDevOpsOrg'
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/AzureDevOpsOrg'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-examples:
        AzureDevOpsOrg_Update:
          $ref: ./examples/AzureDevOpsOrgUpdate.json
      description: Needs a more full description created.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecurityDevOps/azureDevOpsConnectors/{azureDevOpsConnectorName}/orgs/{azureDevOpsOrgName}/projects:
    get:
      tags:
        - default
      operationId: microsoftAzureAzuredevopsprojectList
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/AzureDevOpsConnectorName'
        - $ref: '#/parameters/AzureDevOpsOrgName'
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AzureDevOpsProjectListResponse'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        AzureDevOpsProject_List:
          $ref: ./examples/AzureDevOpsProjectList.json
      summary: >-
        Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname
        Providers Microsoft Securitydevops Azuredevopsconnectors
        Azuredevopsconnectorname Orgs Azuredevopsorgname Projects
      description: Needs a more full description created.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecurityDevOps/azureDevOpsConnectors/{azureDevOpsConnectorName}/orgs/{azureDevOpsOrgName}/projects/{azureDevOpsProjectName}:
    get:
      tags:
        - default
      summary: 'Returns A Monitored Azuredevops Project Resource For A Given Id '
      operationId: microsoftAzureAzuredevopsprojectGet
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/AzureDevOpsConnectorName'
        - $ref: '#/parameters/AzureDevOpsOrgName'
        - $ref: '#/parameters/AzureDevOpsProjectName'
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AzureDevOpsProject'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        AzureDevOpsProject_Get:
          $ref: ./examples/AzureDevOpsProjectGet.json
      description: Needs a more full description created.
    put:
      tags:
        - default
      summary: 'Creates Or Updates An Azure Devops Project '
      operationId: microsoftAzureAzuredevopsprojectCreateorupdate
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/AzureDevOpsConnectorName'
        - $ref: '#/parameters/AzureDevOpsOrgName'
        - $ref: '#/parameters/AzureDevOpsProjectName'
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
        - in: body
          name: azureDevOpsProject
          description: Azure DevOps Org resource payload.
          required: true
          schema:
            $ref: '#/definitions/AzureDevOpsProject'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AzureDevOpsProject'
        '201':
          description: Created
          schema:
            $ref: '#/definitions/AzureDevOpsProject'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        AzureDevOpsProject_CreateOrUpdate:
          $ref: ./examples/AzureDevOpsProjectCreateOrUpdate.json
      description: Needs a more full description created.
    patch:
      tags:
        - default
      summary: 'Update Monitored Azuredevops Project Details '
      operationId: microsoftAzureAzuredevopsprojectUpdate
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/AzureDevOpsConnectorName'
        - $ref: '#/parameters/AzureDevOpsOrgName'
        - $ref: '#/parameters/AzureDevOpsProjectName'
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
        - in: body
          name: azureDevOpsProject
          description: Azure DevOps Project resource payload.
          schema:
            $ref: '#/definitions/AzureDevOpsProject'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AzureDevOpsProject'
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/AzureDevOpsProject'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-examples:
        AzureDevOpsProject_Update:
          $ref: ./examples/AzureDevOpsProjectUpdate.json
      description: Needs a more full description created.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecurityDevOps/azureDevOpsConnectors/{azureDevOpsConnectorName}/orgs/{azureDevOpsOrgName}/projects/{azureDevOpsProjectName}/repos:
    get:
      tags:
        - default
      operationId: microsoftAzureAzuredevopsrepoList
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/AzureDevOpsConnectorName'
        - $ref: '#/parameters/AzureDevOpsOrgName'
        - $ref: '#/parameters/AzureDevOpsProjectName'
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AzureDevOpsRepoListResponse'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        AzureDevOpsRepo_List:
          $ref: ./examples/AzureDevOpsRepoList.json
      summary: >-
        Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname
        Providers Microsoft Securitydevops Azuredevopsconnectors
        Azuredevopsconnectorname Orgs Azuredevopsorgname Projects
        Azuredevopsprojectname Repos
      description: Needs a more full description created.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecurityDevOps/azureDevOpsConnectors/{azureDevOpsConnectorName}/orgs/{azureDevOpsOrgName}/projects/{azureDevOpsProjectName}/repos/{azureDevOpsRepoName}:
    get:
      tags:
        - default
      summary: 'Returns A Monitored Azuredevops Project Resource For A Given Id '
      operationId: microsoftAzureAzuredevopsrepoGet
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/AzureDevOpsConnectorName'
        - $ref: '#/parameters/AzureDevOpsOrgName'
        - $ref: '#/parameters/AzureDevOpsProjectName'
        - $ref: '#/parameters/AzureDevOpsRepoName'
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AzureDevOpsRepo'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        AzureDevOpsRepo_Get:
          $ref: ./examples/AzureDevOpsRepoGet.json
      description: Needs a more full description created.
    put:
      tags:
        - default
      summary: 'Updates An Azure Devops Repo '
      operationId: microsoftAzureAzuredevopsrepoCreateorupdate
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/AzureDevOpsConnectorName'
        - $ref: '#/parameters/AzureDevOpsOrgName'
        - $ref: '#/parameters/AzureDevOpsProjectName'
        - $ref: '#/parameters/AzureDevOpsRepoName'
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
        - in: body
          name: azureDevOpsRepo
          description: Azure DevOps Repo resource payload.
          required: true
          schema:
            $ref: '#/definitions/AzureDevOpsRepo'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AzureDevOpsRepo'
        '201':
          description: Created
          schema:
            $ref: '#/definitions/AzureDevOpsRepo'
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/AzureDevOpsRepo'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        AzureDevOpsRepo_CreateOrUpdate:
          $ref: ./examples/AzureDevOpsRepoCreateOrUpdate.json
      description: Needs a more full description created.
    patch:
      tags:
        - default
      summary: 'Update Monitored Azuredevops Repo Details '
      operationId: microsoftAzureAzuredevopsrepoUpdate
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/AzureDevOpsConnectorName'
        - $ref: '#/parameters/AzureDevOpsOrgName'
        - $ref: '#/parameters/AzureDevOpsProjectName'
        - $ref: '#/parameters/AzureDevOpsRepoName'
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
        - in: body
          name: azureDevOpsRepo
          description: Azure DevOps Repo resource payload.
          schema:
            $ref: '#/definitions/AzureDevOpsRepo'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AzureDevOpsRepo'
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/AzureDevOpsRepo'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-examples:
        AzureDevOpsRepo_Update:
          $ref: ./examples/AzureDevOpsRepoUpdate.json
      description: Needs a more full description created.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecurityDevOps/gitHubConnectors:
    get:
      tags:
        - default
      operationId: microsoftAzureGithubconnectorListbyresourcegroup
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GitHubConnectorListResponse'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        GitHubConnector_ListByResourceGroup:
          $ref: ./examples/GitHubConnectorListByResourceGroup.json
      summary: >-
        Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname
        Providers Microsoft Securitydevops Githubconnectors
      description: Needs a more full description created.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecurityDevOps/gitHubConnectors/{gitHubConnectorName}:
    get:
      tags:
        - default
      summary: 'Returns A Monitored Github Connector Resource For A Given Id '
      operationId: microsoftAzureGithubconnectorGet
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/GitHubConnectorName'
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GitHubConnector'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        GitHubConnector_Get:
          $ref: ./examples/GitHubConnectorGet.json
      description: Needs a more full description created.
    put:
      tags:
        - default
      summary: 'Create Or Update A Monitored Github Connector Resource '
      operationId: microsoftAzureGithubconnectorCreateorupdate
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/GitHubConnectorName'
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
        - in: body
          name: gitHubConnector
          description: Connector resource payload.
          required: true
          schema:
            $ref: '#/definitions/GitHubConnector'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GitHubConnector'
        '201':
          description: Created
          schema:
            $ref: '#/definitions/GitHubConnector'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        GitHubConnector_CreateOrUpdate:
          $ref: ./examples/GitHubConnectorCreateOrUpdate.json
      description: Needs a more full description created.
    patch:
      tags:
        - default
      summary: 'Update Monitored Github Connector Details '
      operationId: microsoftAzureGithubconnectorUpdate
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/GitHubConnectorName'
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
        - in: body
          name: gitHubConnector
          description: Connector resource payload.
          schema:
            $ref: '#/definitions/GitHubConnector'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GitHubConnector'
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/GitHubConnector'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-examples:
        GitHubConnector_Update:
          $ref: ./examples/GitHubConnectorUpdate.json
      description: Needs a more full description created.
    delete:
      tags:
        - default
      summary: 'Delete Monitored Github Connector Details '
      operationId: microsoftAzureGithubconnectorDelete
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/GitHubConnectorName'
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-examples:
        GitHubConnector_Delete:
          $ref: ./examples/GitHubConnectorDelete.json
      description: Needs a more full description created.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecurityDevOps/gitHubConnectors/{gitHubConnectorName}/repos:
    get:
      tags:
        - default
      summary: 'Returns A List Of Monitored Github Repositories '
      operationId: microsoftAzureGithubrepoListbyconnector
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/GitHubConnectorName'
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GitHubRepoListResponse'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        GitHubRepo_ListByConnector:
          $ref: ./examples/GitHubRepoListByConnector.json
      description: Needs a more full description created.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecurityDevOps/gitHubConnectors/{gitHubConnectorName}/stats:
    get:
      tags:
        - default
      summary: 'Returns The Summary Of The Github Connector Stats '
      operationId: microsoftAzureGithubconnectorstatsGet
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/GitHubConnectorName'
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GitHubConnectorStatsListResponse'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        GitHubConnectorStats_Get:
          $ref: ./examples/GitHubConnectorStatsGet.json
      description: Needs a more full description created.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecurityDevOps/gitHubConnectors/{gitHubConnectorName}/owners:
    get:
      tags:
        - default
      summary: 'Returns A List Of Monitored Github Owners '
      operationId: microsoftAzureGithubownerList
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/GitHubConnectorName'
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GitHubOwnerListResponse'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        GitHubOwner_List:
          $ref: ./examples/GitHubOwnerList.json
      description: Needs a more full description created.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecurityDevOps/gitHubConnectors/{gitHubConnectorName}/owners/{gitHubOwnerName}:
    get:
      tags:
        - default
      summary: 'Returns A Monitored Github Repository '
      operationId: microsoftAzureGithubownerGet
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/GitHubConnectorName'
        - $ref: '#/parameters/GitHubOwnerName'
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GitHubOwner'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        GitHubOwner_Get:
          $ref: ./examples/GitHubOwnerGet.json
      description: Needs a more full description created.
    put:
      tags:
        - default
      summary: 'Create Or Update A Monitored Github Owner '
      operationId: microsoftAzureGithubownerCreateorupdate
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/GitHubConnectorName'
        - $ref: '#/parameters/GitHubOwnerName'
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
        - in: body
          name: gitHubOwner
          description: Github owner.
          required: true
          schema:
            $ref: '#/definitions/GitHubOwner'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GitHubOwner'
        '201':
          description: Created
          schema:
            $ref: '#/definitions/GitHubOwner'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        GitHubOwner_CreateOrUpdate:
          $ref: ./examples/GitHubOwnerCreateOrUpdate.json
      description: Needs a more full description created.
    patch:
      tags:
        - default
      summary: 'Update A Monitored Github Repository '
      operationId: microsoftAzureGithubownerUpdate
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/GitHubConnectorName'
        - $ref: '#/parameters/GitHubOwnerName'
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
        - in: body
          name: gitHubOwner
          description: Github owner.
          schema:
            $ref: '#/definitions/GitHubOwner'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GitHubOwner'
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/GitHubOwner'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-examples:
        GitHubOwner_Update:
          $ref: ./examples/GitHubOwnerUpdate.json
      description: Needs a more full description created.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecurityDevOps/gitHubConnectors/{gitHubConnectorName}/owners/{gitHubOwnerName}/repos:
    get:
      tags:
        - default
      summary: 'Returns A List Of Monitored Github Repositories '
      operationId: microsoftAzureGithubrepoList
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/GitHubConnectorName'
        - $ref: '#/parameters/GitHubOwnerName'
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GitHubRepoListResponse'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        GitHubRepo_List:
          $ref: ./examples/GitHubRepoList.json
      description: Needs a more full description created.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecurityDevOps/gitHubConnectors/{gitHubConnectorName}/owners/{gitHubOwnerName}/repos/{gitHubRepoName}:
    get:
      tags:
        - default
      summary: 'Returns A Monitored Github Repository '
      operationId: microsoftAzureGithubrepoGet
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/GitHubConnectorName'
        - $ref: '#/parameters/GitHubOwnerName'
        - $ref: '#/parameters/GitHubRepoName'
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GitHubRepo'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        GitHubRepo_Get:
          $ref: ./examples/GitHubRepoGet.json
      description: Needs a more full description created.
    put:
      tags:
        - default
      summary: 'Create Or Update A Monitored Github Repository '
      operationId: microsoftAzureGithubrepoCreateorupdate
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/GitHubConnectorName'
        - $ref: '#/parameters/GitHubOwnerName'
        - $ref: '#/parameters/GitHubRepoName'
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
        - in: body
          name: gitHubRepo
          description: Github repo.
          required: true
          schema:
            $ref: '#/definitions/GitHubRepo'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GitHubRepo'
        '201':
          description: Created
          schema:
            $ref: '#/definitions/GitHubRepo'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        GitHubRepo_CreateOrUpdate:
          $ref: ./examples/GitHubRepoCreateOrUpdate.json
      description: Needs a more full description created.
    patch:
      tags:
        - default
      summary: 'Update A Monitored Github Repository '
      operationId: microsoftAzureGithubrepoUpdate
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
        - $ref: '#/parameters/GitHubConnectorName'
        - $ref: '#/parameters/GitHubOwnerName'
        - $ref: '#/parameters/GitHubRepoName'
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
        - in: body
          name: gitHubRepo
          description: Github repo.
          schema:
            $ref: '#/definitions/GitHubRepo'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GitHubRepo'
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/GitHubRepo'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-examples:
        GitHubRepo_Update:
          $ref: ./examples/GitHubRepoUpdate.json
      description: Needs a more full description created.
  /subscriptions/{subscriptionId}/providers/Microsoft.SecurityDevOps/gitHubConnectors:
    get:
      tags:
        - default
      summary: 'Returns A List Of Monitored Github Connectors '
      operationId: microsoftAzureGithubconnectorListbysubscription
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GitHubConnectorListResponse'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        GitHubConnector_ListBySubscription:
          $ref: ./examples/GitHubConnectorListBySubscription.json
      description: Needs a more full description created.
  /subscriptions/{subscriptionId}/providers/Microsoft.SecurityDevOps/azureDevOpsConnectors:
    get:
      tags:
        - default
      summary: 'Returns A List Of Monitored Azuredevops Connectors '
      operationId: microsoftAzureAzuredevopsconnectorListbysubscription
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AzureDevOpsConnectorListResponse'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        AzureDevOpsConnector_ListBySubscription:
          $ref: ./examples/AzureDevOpsConnectorListBySubscription.json
      description: Needs a more full description created.
  /providers/Microsoft.SecurityDevOps/operations:
    get:
      description: >-
        Returns list of operations supported by the Microsoft.SecurityDevOps
        provider.
      operationId: microsoftAzureOperationsList
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Operation details.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Operations_List:
          $ref: ./examples/OperationsList.json
      summary: Get Providers Microsoft Securitydevops Operations
definitions:
  ActionableRemediation:
    type: object
    properties:
      state:
        $ref: '#/definitions/ActionableRemediationState'
      severityLevels:
        type: array
        items:
          type: string
        x-ms-identifiers: []
      categories:
        type: array
        items:
          $ref: '#/definitions/RuleCategory'
        x-ms-identifiers: []
      branchConfiguration:
        $ref: '#/definitions/TargetBranchConfiguration'
  ActionableRemediationState:
    description: "ActionableRemediation Setting.\r\nNone - the setting was never set.\r\nEnabled - ActionableRemediation is enabled.\r\nDisabled - ActionableRemediation is disabled."
    enum:
      - None
      - Disabled
      - Enabled
    type: string
    x-ms-enum:
      name: ActionableRemediationState
      modelAsString: true
      modelAsExtensible: true
  AuthorizationInfo:
    type: object
    properties:
      code:
        description: "Gets or sets one-time OAuth code to exchange for refresh and access tokens.\r\n\r\nOnly used during PUT operations. The secret is cleared during GET.\r\nIn general, RPaaS does not return any property marked as a secret."
        type: string
        example: '00000000000000000000.'
        x-ms-secret: true
  AutoDiscovery:
    enum:
      - Disabled
      - Enabled
    type: string
    x-ms-enum:
      name: AutoDiscovery
      modelAsString: true
      modelAsExtensible: true
  AzureDevOpsConnector:
    type: object
    allOf:
      - $ref: >-
          ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
    properties:
      properties:
        $ref: '#/definitions/AzureDevOpsConnectorProperties'
  AzureDevOpsConnectorListResponse:
    type: object
    properties:
      value:
        description: Gets or sets list of resources.
        type: array
        items:
          $ref: '#/definitions/AzureDevOpsConnector'
        x-ms-identifiers: []
      nextLink:
        description: Gets or sets next link to scroll over the results.
        type: string
  AzureDevOpsConnectorProperties:
    type: object
    properties:
      provisioningState:
        $ref: '#/definitions/ProvisioningState'
      authorization:
        $ref: '#/definitions/AuthorizationInfo'
      orgs:
        description: Gets or sets org onboarding information.
        type: array
        items:
          $ref: '#/definitions/AzureDevOpsOrgMetadata'
        x-ms-identifiers: []
  AzureDevOpsConnectorStats:
    type: object
    allOf:
      - $ref: >-
          ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
    properties:
      properties:
        $ref: '#/definitions/AzureDevOpsConnectorStatsProperties'
  AzureDevOpsConnectorStatsListResponse:
    type: object
    properties:
      value:
        description: Gets or sets list of resources.
        type: array
        items:
          $ref: '#/definitions/AzureDevOpsConnectorStats'
        x-ms-identifiers: []
      nextLink:
        description: Gets or sets next link to scroll over the results.
        type: string
  AzureDevOpsConnectorStatsProperties:
    type: object
    properties:
      provisioningState:
        $ref: '#/definitions/ProvisioningState'
      orgsCount:
        format: int64
        description: Gets or sets orgs count.
        type: integer
      projectsCount:
        format: int64
        description: Gets or sets projects count.
        type: integer
      reposCount:
        format: int64
        description: Gets or sets repos count.
        type: integer
  AzureDevOpsOrg:
    description: Azure DevOps Org Proxy Resource.
    type: object
    allOf:
      - $ref: >-
          ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
    properties:
      properties:
        $ref: '#/definitions/AzureDevOpsOrgProperties'
  AzureDevOpsOrgListResponse:
    type: object
    properties:
      value:
        description: Gets or sets list of resources.
        type: array
        items:
          $ref: '#/definitions/AzureDevOpsOrg'
        x-ms-identifiers: []
      nextLink:
        description: Gets or sets next link to scroll over the results.
        type: string
  AzureDevOpsOrgMetadata:
    description: Org onboarding info.
    type: object
    properties:
      name:
        description: Gets or sets name of the AzureDevOps Org.
        type: string
      autoDiscovery:
        $ref: '#/definitions/AutoDiscovery'
      projects:
        type: array
        items:
          $ref: '#/definitions/AzureDevOpsProjectMetadata'
        x-ms-identifiers: []
  AzureDevOpsOrgProperties:
    description: AzureDevOps Org properties.
    type: object
    properties:
      provisioningState:
        $ref: '#/definitions/ProvisioningState'
      autoDiscovery:
        $ref: '#/definitions/AutoDiscovery'
  AzureDevOpsProject:
    description: Azure DevOps Project Proxy Resource.
    type: object
    allOf:
      - $ref: >-
          ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
    properties:
      properties:
        $ref: '#/definitions/AzureDevOpsProjectProperties'
  AzureDevOpsProjectListResponse:
    type: object
    properties:
      value:
        description: Gets or sets list of resources.
        type: array
        items:
          $ref: '#/definitions/AzureDevOpsProject'
        x-ms-identifiers: []
      nextLink:
        description: Gets or sets next link to scroll over the results.
        type: string
  AzureDevOpsProjectMetadata:
    description: Project onboarding info.
    type: object
    properties:
      name:
        description: Gets or sets name of the AzureDevOps Project.
        type: string
      autoDiscovery:
        $ref: '#/definitions/AutoDiscovery'
      repos:
        description: Gets or sets repositories.
        type: array
        items:
          type: string
        x-ms-identifiers: []
  AzureDevOpsProjectProperties:
    description: AzureDevOps Project properties.
    type: object
    properties:
      provisioningState:
        $ref: '#/definitions/ProvisioningState'
      orgName:
        description: Gets or sets AzureDevOps org Name.
        type: string
      projectId:
        description: Gets or sets AzureDevOps Project Id.
        type: string
      autoDiscovery:
        $ref: '#/definitions/AutoDiscovery'
  AzureDevOpsRepo:
    description: Azure DevOps Repo Proxy Resource.
    type: object
    allOf:
      - $ref: >-
          ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
    properties:
      properties:
        $ref: '#/definitions/AzureDevOpsRepoProperties'
  AzureDevOpsRepoListResponse:
    type: object
    properties:
      value:
        description: Gets or sets list of resources.
        type: array
        items:
          $ref: '#/definitions/AzureDevOpsRepo'
        x-ms-identifiers: []
      nextLink:
        description: Gets or sets next link to scroll over the results.
        type: string
  AzureDevOpsRepoProperties:
    description: AzureDevOps Repo properties.
    type: object
    properties:
      provisioningState:
        $ref: '#/definitions/ProvisioningState'
      orgName:
        description: Gets or sets AzureDevOps org Name.
        type: string
        readOnly: true
      projectName:
        description: Gets or sets AzureDevOps project Name.
        type: string
        readOnly: true
      repoId:
        description: Gets or sets Azure DevOps repo id.
        type: string
        readOnly: true
      repoUrl:
        description: Gets or sets AzureDevOps repo url.
        type: string
        readOnly: true
      visibility:
        description: >-
          Gets or sets AzureDevOps repo visibility, whether it is public or
          private etc.
        type: string
        readOnly: true
      actionableRemediation:
        $ref: '#/definitions/ActionableRemediation'
  GitHubConnector:
    description: >-
      Represents an ARM resource for
      /subscriptions/xxx/resourceGroups/xxx/providers/Microsoft.SecurityDevOps/gitHubConnectors.
    type: object
    allOf:
      - $ref: >-
          ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
    properties:
      properties:
        $ref: '#/definitions/GitHubConnectorProperties'
  GitHubConnectorListResponse:
    type: object
    properties:
      value:
        description: Gets or sets list of resources.
        type: array
        items:
          $ref: '#/definitions/GitHubConnector'
        x-ms-identifiers: []
      nextLink:
        description: Gets or sets next link to scroll over the results.
        type: string
  GitHubConnectorProperties:
    description: >-
      Properties of the ARM resource for
      /subscriptions/xxx/resourceGroups/xxx/providers/Microsoft.SecurityDevOps/gitHubConnectors.
    type: object
    properties:
      provisioningState:
        $ref: '#/definitions/ProvisioningState'
      code:
        description: "Gets or sets one-time OAuth code to exchange for refresh and access tokens.\r\n\r\nOnly used during PUT operations. The secret is cleared during GET.\r\nIn general, RPaaS does not return any property marked as a secret."
        type: string
        example: '00000000000000000000.'
        x-ms-secret: true
  GitHubConnectorStats:
    type: object
    allOf:
      - $ref: >-
          ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
    properties:
      properties:
        $ref: '#/definitions/GitHubConnectorStatsProperties'
  GitHubConnectorStatsListResponse:
    type: object
    properties:
      value:
        description: Gets or sets list of resources.
        type: array
        items:
          $ref: '#/definitions/GitHubConnectorStats'
        x-ms-identifiers: []
      nextLink:
        description: Gets or sets next link to scroll over the results.
        type: string
  GitHubConnectorStatsProperties:
    type: object
    properties:
      provisioningState:
        $ref: '#/definitions/ProvisioningState'
      ownersCount:
        format: int64
        description: Gets or sets owners count.
        type: integer
      reposCount:
        format: int64
        description: Gets or sets repos count.
        type: integer
  GitHubOwner:
    description: GitHub repo owner Proxy Resource.
    type: object
    allOf:
      - $ref: >-
          ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
    properties:
      properties:
        $ref: '#/definitions/GitHubOwnerProperties'
  GitHubOwnerListResponse:
    type: object
    properties:
      value:
        description: Gets or sets list of resources.
        type: array
        items:
          $ref: '#/definitions/GitHubOwner'
        x-ms-identifiers: []
      nextLink:
        description: Gets or sets next link to scroll over the results.
        type: string
  GitHubOwnerProperties:
    description: GitHub Repo Owner properties.
    type: object
    properties:
      provisioningState:
        $ref: '#/definitions/ProvisioningState'
      ownerUrl:
        description: Gets or sets gitHub owner url.
        type: string
  GitHubRepo:
    description: GitHub repo Proxy Resource.
    type: object
    allOf:
      - $ref: >-
          ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
    properties:
      properties:
        $ref: '#/definitions/GitHubRepoProperties'
  GitHubRepoListResponse:
    type: object
    properties:
      value:
        description: Gets or sets list of resources.
        type: array
        items:
          $ref: '#/definitions/GitHubRepo'
        x-ms-identifiers: []
      nextLink:
        description: Gets or sets next link to scroll over the results.
        type: string
  GitHubRepoProperties:
    description: GitHub Repo properties.
    type: object
    properties:
      provisioningState:
        $ref: '#/definitions/ProvisioningState'
      accountId:
        format: int64
        description: Gets or sets gitHub repo account id.
        type: integer
      repoUrl:
        description: Gets or sets gitHub repo url.
        type: string
      ownerName:
        description: Gets or sets GitHub Owner Name.
        type: string
  GitHubReposProperties:
    type: object
    properties:
      provisioningState:
        $ref: '#/definitions/ProvisioningState'
      accountId:
        format: int64
        description: Gets or sets gitHub repo account id.
        type: integer
      repoName:
        description: Gets or sets gitHub repo name.
        type: string
      repoUrl:
        description: Gets or sets gitHub repo url.
        type: string
  ProvisioningState:
    enum:
      - Succeeded
      - Failed
      - Canceled
    type: string
    x-ms-enum:
      name: ProvisioningState
      modelAsString: true
      modelAsExtensible: true
    readOnly: true
  RuleCategory:
    enum:
      - Code
      - Artifacts
      - Dependencies
      - Secrets
      - IaC
      - Containers
    type: string
    x-ms-enum:
      name: RuleCategory
      modelAsString: true
      modelAsExtensible: true
  TargetBranchConfiguration:
    description: Branch onboarding info.
    type: object
    properties:
      names:
        description: "Gets or sets branches that should have annotations.\r\n\r\nFor Ignite, we will be supporting a single default branch configuration in the UX."
        type: array
        items:
          type: string
        x-ms-identifiers: []
parameters:
  AzureDevOpsConnectorName:
    in: path
    name: azureDevOpsConnectorName
    description: Name of the AzureDevOps Connector.
    required: true
    type: string
    x-ms-parameter-location: method
  AzureDevOpsOrgName:
    in: path
    name: azureDevOpsOrgName
    description: Name of the AzureDevOps Org.
    required: true
    type: string
    x-ms-parameter-location: method
  AzureDevOpsProjectName:
    in: path
    name: azureDevOpsProjectName
    description: Name of the AzureDevOps Project.
    required: true
    type: string
    x-ms-parameter-location: method
  AzureDevOpsRepoName:
    in: path
    name: azureDevOpsRepoName
    description: Name of the AzureDevOps Repo.
    required: true
    type: string
    x-ms-parameter-location: method
  GitHubConnectorName:
    in: path
    name: gitHubConnectorName
    description: Name of the GitHub Connector.
    required: true
    type: string
    x-ms-parameter-location: method
  GitHubOwnerName:
    in: path
    name: gitHubOwnerName
    description: Name of the GitHub Owner.
    required: true
    type: string
    x-ms-parameter-location: method
  GitHubRepoName:
    in: path
    name: gitHubRepoName
    description: Name of the GitHub Repo.
    required: true
    type: string
    x-ms-parameter-location: method
securityDefinitions:
  azure_auth:
    type: oauth2
    flow: implicit
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    scopes:
      user_impersonation: Impersonate your user account
    description: Azure Active Directory OAuth2 Flow
security:
  - azure_auth:
      - user_impersonation
