openapi: 3.2.0
info:
  title: Microsoft Azure CommunityGalleryServiceClient Community…
  description: Community Gallery Service Client.
  version: '2021-07-01'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: CommunityGalleries
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/communityGalleries/{publicGalleryName}:
    get:
      tags:
      - CommunityGalleries
      operationId: microsoftAzureCommunitygalleriesGet
      description: Get a community gallery by gallery public name.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/LocationNameParameter'
      - $ref: '#/components/parameters/PublicGalleryNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityGallery'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Get a gallery.:
          $ref: ./examples/communityGallery/GetACommunityGallery.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Compute…
components:
  schemas:
    CloudError:
      x-ms-external: true
      properties:
        error:
          $ref: '#/components/schemas/ApiError'
      description: An error response from the Compute service.
    ApiError:
      properties:
        details:
          type: array
          items:
            $ref: '#/components/schemas/ApiErrorBase'
          x-ms-identifiers:
          - message
          - target
          description: The Api error details
        innererror:
          $ref: '#/components/schemas/InnerError'
          description: The Api inner error
        code:
          type: string
          description: The error code.
        target:
          type: string
          description: The target of the particular error.
        message:
          type: string
          description: The error message.
      description: Api error.
    CommunityGalleryIdentifier:
      properties:
        uniqueId:
          type: string
          description: The unique id of this community gallery.
      description: The identifier information of community gallery.
    ApiErrorBase:
      properties:
        code:
          type: string
          description: The error code.
        target:
          type: string
          description: The target of the particular error.
        message:
          type: string
          description: The error message.
      description: Api error base.
    InnerError:
      properties:
        exceptiontype:
          type: string
          description: The exception type.
        errordetail:
          type: string
          description: The internal error message or exception dump.
      description: Inner error details.
    PirCommunityGalleryResource:
      properties:
        name:
          readOnly: true
          type: string
          description: Resource name
        location:
          readOnly: true
          type: string
          description: Resource location
        type:
          readOnly: true
          type: string
          description: Resource type
        identifier:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/CommunityGalleryIdentifier'
      description: Base information about the community gallery resource in pir.
    CommunityGallery:
      properties: {}
      allOf:
      - $ref: '#/components/schemas/PirCommunityGalleryResource'
      description: Specifies information about the Community Gallery that you want to create or update.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    PublicGalleryNameParameter:
      name: publicGalleryName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The public name of the community gallery.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
    LocationNameParameter:
      name: location
      in: path
      required: true
      x-ms-parameter-location: method
      description: Resource location.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
