openapi: 3.2.0
info:
  version: '2023-01-01'
  title: Microsoft Azure API Client Resource Health Metadata API
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ResourceHealthMetadata
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/resourceHealthMetadata:
    get:
      tags:
      - ResourceHealthMetadata
      summary: Microsoft Azure List All Resourcehealthmetadata For All Sites In The…
      description: Description for List all ResourceHealthMetadata for all sites in the subscription.
      operationId: microsoftAzureResourcehealthmetadataList
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceHealthMetadataCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        List ResourceHealthMetadata for a subscription:
          $ref: ./examples/ListResourceHealthMetadataBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/resourceHealthMetadata:
    get:
      tags:
      - ResourceHealthMetadata
      summary: Microsoft Azure List All Resourcehealthmetadata For All Sites In The Resource…
      description: Description for List all ResourceHealthMetadata for all sites in the resource group in the subscription.
      operationId: microsoftAzureResourcehealthmetadataListbyresourcegroup
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceHealthMetadataCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        List ResourceHealthMetadata for a resource group:
          $ref: ./examples/ListResourceHealthMetadataByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/resourceHealthMetadata
  : get:
      tags:
      - ResourceHealthMetadata
      summary: Microsoft Azure Gets The Category Of Resourcehealthmetadata To Use For The…
      description: Description for Gets the category of ResourceHealthMetadata to use for the given site as a collection
      operationId: microsoftAzureResourcehealthmetadataListbysite
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of web app.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceHealthMetadataCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        List ResourceHealthMetadata for a site:
          $ref: ./examples/ListResourceHealthMetadataBySite.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/resourceHealthMetadata/default
  : get:
      tags:
      - ResourceHealthMetadata
      summary: Microsoft Azure Gets The Category Of Resourcehealthmetadata To Use For The…
      description: Description for Gets the category of ResourceHealthMetadata to use for the given site
      operationId: microsoftAzureResourcehealthmetadataGetbysite
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of web app
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceHealthMetadata'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Get ResourceHealthMetadata:
          $ref: ./examples/GetResourceHealthMetadataBySite.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/slots/{slot}/resourceHealthMetadata
  : get:
      tags:
      - ResourceHealthMetadata
      summary: Microsoft Azure Gets The Category Of Resourcehealthmetadata To Use For The…
      description: Description for Gets the category of ResourceHealthMetadata to use for the given site as a collection
      operationId: microsoftAzureResourcehealthmetadataListbysiteslot
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of web app.
        required: true
        schema:
          type: string
      - name: slot
        in: path
        description: Name of web app slot. If not specified then will default to production slot.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceHealthMetadataCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        List ResourceHealthMetadata for a site:
          $ref: ./examples/ListResourceHealthMetadataBySite.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/slots/{slot}/resourceHealthMetadata/default
  : get:
      tags:
      - ResourceHealthMetadata
      summary: Microsoft Azure Gets The Category Of Resourcehealthmetadata To Use For The…
      description: Description for Gets the category of ResourceHealthMetadata to use for the given site
      operationId: microsoftAzureResourcehealthmetadataGetbysiteslot
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of web app
        required: true
        schema:
          type: string
      - name: slot
        in: path
        description: Name of web app slot. If not specified then will default to production slot.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceHealthMetadata'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Get ResourceHealthMetadata:
          $ref: ./examples/GetResourceHealthMetadataBySite.json
components:
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: Name of the resource group to which the resource belongs.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
        pattern: ^[-\w\._\(\)]+[^\.]$
    apiVersionParameter:
      name: api-version
      in: query
      description: API Version
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  schemas:
    ResourceHealthMetadataCollection:
      description: Collection of resource health metadata.
      required:
      - value
      type: object
      properties:
        value:
          description: Collection of resources.
          type: array
          items:
            $ref: '#/components/schemas/ResourceHealthMetadata'
        nextLink:
          description: Link to next page of resources.
          type: string
          readOnly: true
    ResourceHealthMetadata:
      description: Used for getting ResourceHealthCheck settings.
      type: object
      allOf:
      - $ref: ./CommonDefinitions.json#/definitions/ProxyOnlyResource
      properties:
        properties:
          description: ResourceHealthMetadata resource specific properties
          type: object
          properties:
            category:
              description: The category that the resource matches in the RHC Policy File
              type: string
            signalAvailability:
              description: Is there a health signal for the resource
              type: boolean
          x-ms-client-flatten: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
