openapi: 3.2.0
info:
  version: 2023-07-01-preview
  title: Microsoft Azure ProfessionalService Subscription Level…
  description: REST APIs for Marketplace Professional Service Offers
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: SubscriptionLevelProfessionalServiceResources
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.ProfessionalService/resources:
    get:
      tags:
      - SubscriptionLevelProfessionalServiceResources
      operationId: microsoftAzureProfessionalservicesubscriptionlevelListbyazuresubscription
      description: Gets information about all the Subscription Level ProfessionalService in a certain Azure subscription.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Request successful. The request returns the resulting ProfessionalService resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfessionalServiceResourceResponseWithContinuation'
        default:
          description: A response indicating an error.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Get subscription level ProfessionalService resources in Azure subscription:
          $ref: ./examples/ProfessionalService/ProfessionalServiceGetAllInAzureSubscription.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ProfessionalService/resources:
    get:
      tags:
      - SubscriptionLevelProfessionalServiceResources
      operationId: microsoftAzureProfessionalservicesubscriptionlevelListbyresourcegroup
      description: Gets information about all the Subscription Level ProfessionalService in a certain resource group.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Request successful. The request returns the resulting ProfessionalService resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfessionalServiceResourceResponseWithContinuation'
        default:
          description: A response indicating an error.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Get subscription level ProfessionalService resources in resource group:
          $ref: ./examples/ProfessionalService/ProfessionalServiceGetAllInResourceGroup.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ProfessionalService/resources/{resourceName}
  : get:
      tags:
      - SubscriptionLevelProfessionalServiceResources
      operationId: microsoftAzureProfessionalservicesubscriptionlevelGet
      description: Gets information about the specified Subscription Level ProfessionalService.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Request successful. The request returns the resulting ProfessionalService resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfessionalServiceResource'
        default:
          description: A response indicating an error.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Get subscription level ProfessionalService resource:
          $ref: ./examples/ProfessionalService/ProfessionalServiceGet.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - SubscriptionLevelProfessionalServiceResources
      operationId: microsoftAzureProfessionalservicesubscriptionlevelCreateorupdate
      description: Creates or updates a ProfessionalService resource.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Resource creation has completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfessionalServiceResource'
        '202':
          description: Accepted and the operation will complete asynchronously.
          headers:
            Location:
              description: The URL to check the status of the asynchronous operation.
              schema:
                type: string
            Retry-After:
              description: The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.
              schema:
                type: integer
                format: int32
        default:
          description: A response indicating an error.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Create subscription level ProfessionalService resource (indefinite term):
          $ref: ./examples/ProfessionalService/ProfessionalServicePutIndefiniteTerm.json
        Create subscription level ProfessionalService resource (with term):
          $ref: ./examples/ProfessionalService/ProfessionalServicePutWithTerm.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfessionalServiceResourceCreation'
        description: Parameters supplied to the create or update subscription level ProfessionalService operation.
        required: true
    delete:
      tags:
      - SubscriptionLevelProfessionalServiceResources
      operationId: microsoftAzureProfessionalservicesubscriptionlevelDelete
      description: Deletes the specified ProfessionalService.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Delete Operation completed successfully.
        '202':
          description: Accepted and the operation will complete asynchronously.
          headers:
            Location:
              description: The URL to check the status of the asynchronous operation.
              schema:
                type: string
            Retry-After:
              description: The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.
              schema:
                type: integer
                format: int32
        '204':
          description: Delete operation completed successfully.
        default:
          description: A response indicating an error.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Delete Subscription Level ProfessionalService resource:
          $ref: ./examples/ProfessionalService/ProfessionalServiceDelete.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ProfessionalService/resources/{resourceName}/unsubscribe
  : post:
      tags:
      - SubscriptionLevelProfessionalServiceResources
      operationId: microsoftAzureProfessionalservicesubscriptionlevelUpdatetounsubscribed
      description: Unsubscribe from a specified Subscription Level ProfessionalService.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Unsubscribe operation completed successfully.
        '202':
          description: Accepted and the operation will complete asynchronously.
          headers:
            Location:
              description: The URL to check the status of the asynchronous operation.
              schema:
                type: string
            Retry-After:
              description: The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.
              schema:
                type: integer
                format: int32
        '204':
          description: Unsubscribe operation completed successfully.
        default:
          description: A response indicating an error.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Unsubscribe Subscription Level ProfessionalService resource:
          $ref: ./examples/ProfessionalService/ProfessionalServiceUnsubscribe.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteOptions'
        description: Parameters supplied to unsubscribe ProfessionalService operation.
        required: true
components:
  schemas:
    ProfessionalServiceResourceCreation:
      description: ProfessionalService REST API resource definition for creation.
      type: object
      properties:
        id:
          description: The resource uri
          type: string
          readOnly: true
        name:
          description: The resource name
          type: string
        type:
          readOnly: true
          type: string
          description: Resource type.
        tags:
          description: the resource tags.
          $ref: '#/components/schemas/Tags'
        location:
          type: string
          description: Resource location. Only value allowed for ProfessionalService is 'global'
        properties:
          $ref: '#/components/schemas/ProfessionalServiceCreationProperties'
          description: Properties of the ProfessionalService resource that are relevant for creation.
    ProfessionalServiceCreationProperties:
      type: object
      description: properties for creation professionalService
      properties:
        offerId:
          type: string
          description: The offer id.
        publisherId:
          type: string
          description: The publisher id.
        skuId:
          type: string
          description: The plan id.
        autoRenew:
          type: boolean
          description: Whether the ProfessionalService subscription will auto renew upon term end.
        quoteId:
          type: string
          description: The quote id which the ProfessionalService will be purchase with.
        storeFront:
          type: string
          description: The store front which initiates the purchase.
        termUnit:
          type: string
          description: The unit term eg P1M,P1Y,P2Y,P3Y meaning month,1year,2year,3year respectively
        billingPeriod:
          type: string
          description: The billing period eg P1M,P1Y for monthly,yearly respectively
    ProfessionalServiceResource:
      description: ProfessionalService REST API resource definition.
      type: object
      x-ms-azure-resource: true
      properties:
        properties:
          description: professionalService properties
          type: object
          allOf:
          - $ref: '#/components/schemas/ProfessionalServiceProperties'
          - $ref: '#/components/schemas/ProfessionalServiceCreationProperties'
        name:
          type: string
          description: The name of the resource
          readOnly: true
        id:
          description: The resource uri
          type: string
          readOnly: true
        type:
          readOnly: true
          type: string
          description: Resource type.
        tags:
          description: the resource tags.
          $ref: '#/components/schemas/Tags'
    Tags:
      type: object
      description: the resource tags.
      additionalProperties:
        type: string
    ProfessionalServiceResourceResponseWithContinuation:
      description: professionalService resources response with continuation.
      type: object
      properties:
        nextLink:
          description: the next link to query to get the remaining results.
          type: string
        value:
          description: the value of response.
          type: array
          items:
            $ref: '#/components/schemas/ProfessionalServiceResource'
    deleteOptions:
      description: delete Options
      type: object
      properties:
        unsubscribeOnly:
          type: boolean
          description: whether it is unsubscribeOnly
        reasonCode:
          type: number
          description: The reasonCode
        feedback:
          type: string
          description: the feedback
    ProfessionalServiceProperties:
      type: object
      description: professionalService resource properties
      properties:
        status:
          type: string
          description: The ProfessionalService Subscription Status.
          enum:
          - NotStarted
          - PendingFulfillmentStart
          - Subscribed
          - Unsubscribed
          - Suspended
          x-ms-enum:
            name: ProfessionalServiceResourceStatus
            modelAsString: true
        term:
          type: object
          description: The current Term object.
          properties:
            termUnit:
              type: string
              description: The unit term eg P1M,P1Y,P2Y,P3Y meaning month,1year,2year,3year respectively
            startDate:
              type: string
              description: The start date of the current term
            endDate:
              type: string
              description: The end date of the current term
        billingPeriod:
          type: string
          description: The billing period eg P1M,P1Y for monthly,yearly respectively
        isFreeTrial:
          type: boolean
          description: Whether the current term is a Free Trial term
        paymentChannelType:
          type: string
          description: The Payment channel for the ProfessionalServiceSubscription.
          enum:
          - SubscriptionDelegated
          - CustomerDelegated
          x-ms-enum:
            name: paymentChannelType
            modelAsString: true
        paymentChannelMetadata:
          type: object
          description: The metadata about the ProfessionalService subscription such as the AzureSubscriptionId and ResourceUri.
          additionalProperties:
            type: string
        created:
          type: string
          description: The created date of this resource.
          readOnly: true
        lastModified:
          type: string
          description: The last modifier date if this resource.
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      x-ms-parameter-location: client
      description: The API version to be used with the HTTP request.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceNameParameter:
      name: resourceName
      in: path
      required: true
      description: The name of the resource.
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9-_.()]{0,63}[a-zA-Z0-9-_()]$
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
