openapi: 3.2.0
info:
  version: 2021-02-01-preview
  title: Microsoft Azure adp Data Pools API
  description: Microsoft Autonomous Development Platform
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Data Pools
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AutonomousDevelopmentPlatform/accounts/{accountName}/dataPools
  : get:
      tags:
      - Data Pools
      operationId: microsoftAzureDatapoolsList
      description: Lists the data pools under the ADP account
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The list of data pools that was successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataPoolList'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List Data Pools:
          $ref: ./examples/AdpDataPoolsList.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AutonomousDevelopmentPlatform/accounts/{accountName}/dataPools/{dataPoolName}
  : get:
      tags:
      - Data Pools
      operationId: microsoftAzureDatapoolsGet
      description: Gets the properties of a Data Pool
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/DataPoolNameParameter'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The Data Pool that was successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataPool'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Get Data Pool:
          $ref: ./examples/AdpDataPoolGet.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    patch:
      tags:
      - Data Pools
      operationId: microsoftAzureDatapoolsUpdate
      description: Updates the properties of an existing Data Pool
      x-ms-long-running-operation: true
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/DataPoolNameParameter'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The Data Pool was updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataPool'
        '201':
          description: The Data Pool will be updated asynchronously
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataPool'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Patch Data Pool:
          $ref: ./examples/AdpDataPoolPatch.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPoolPatch'
        description: The parameters to provide for the Data Pool
    put:
      tags:
      - Data Pools
      operationId: microsoftAzureDatapoolsCreateorupdate
      description: Creates or updates a Data Pool
      x-ms-long-running-operation: true
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/DataPoolNameParameter'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The Data Pool was successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataPool'
        '201':
          description: The Data Pool will be updated asynchronously
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataPool'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Put Data Pool:
          $ref: ./examples/AdpDataPoolPut.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPool'
        description: The parameters to provide for the Data Pool
    delete:
      tags:
      - Data Pools
      operationId: microsoftAzureDatapoolsDelete
      description: Deletes a Data Pool
      x-ms-long-running-operation: true
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/DataPoolNameParameter'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The Data Pool was successfully deleted
        '202':
          description: The Data Pool will be deleted asynchronously
        '204':
          description: The Data Pool does not exist
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Delete Data Pool:
          $ref: ./examples/AdpDataPoolDelete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    DataPoolBaseProperties:
      type: object
      description: Data Pool properties
      properties:
        dataPoolId:
          description: The Data Pool's data-plane ID
          type: string
          readOnly: true
        provisioningState:
          readOnly: true
          type: string
          description: Gets the status of the data pool at the time the operation was called
          enum:
          - Succeeded
          - Failed
          - Canceled
          - Accepted
          - Provisioning
          - Deleting
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
        locations:
          type: array
          items:
            $ref: '#/components/schemas/DataPoolLocation'
          description: Gets or sets the collection of locations where Data Pool resources should be created
        systemData:
          readOnly: true
          description: The system meta data relating to this resource
          $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/systemData
    DataPoolProperties:
      type: object
      description: Data Pool properties
      allOf:
      - $ref: '#/components/schemas/DataPoolBaseProperties'
      required:
      - locations
    DataPoolList:
      type: object
      properties:
        value:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/DataPool'
          description: List of data pools and their properties
        nextLink:
          type: string
          description: URL to get the next set of operation list results if there are any
      description: The list operation response, that contains the data pools and their properties
    ErrorDefinition:
      type: object
      description: Error definition
      properties:
        code:
          description: Service specific error code which serves as the substatus for the HTTP error code
          type: string
          readOnly: true
        message:
          description: Description of the error
          type: string
          readOnly: true
        details:
          description: Internal error details
          type: array
          items:
            $ref: '#/components/schemas/ErrorDefinition'
          readOnly: true
    DataPoolPatch:
      type: object
      description: ADP Data Pool
      properties:
        properties:
          description: List of data pool properties
          type: object
          x-ms-client-flatten: true
          $ref: '#/components/schemas/DataPoolBaseProperties'
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/Resource
    DataPool:
      type: object
      description: ADP Data Pool
      properties:
        properties:
          description: List of data pool properties
          type: object
          x-ms-client-flatten: true
          $ref: '#/components/schemas/DataPoolProperties'
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/Resource
    DataPoolEncryption:
      type: object
      description: Encryption properties of a Data Pool
      properties:
        keyVaultUri:
          type: string
          description: The URI of a soft delete-enabled Key Vault that is in the same location as the Data Pool location
        keyName:
          type: string
          description: The name of Key Vault key
        keyVersion:
          type: string
          description: The version of Key Vault key
        userAssignedIdentity:
          type: string
          description: The resource ID of a user-assigned Managed Identity used to access the encryption key in the Key Vault. Requires access to the key operations get, wrap, unwrap, and recover
      required:
      - keyVaultUri
      - keyName
      - userAssignedIdentity
    ErrorResponse:
      type: object
      description: Error response
      properties:
        error:
          $ref: '#/components/schemas/ErrorDefinition'
          description: The error details
    DataPoolLocation:
      type: object
      description: Location of a Data Pool
      properties:
        name:
          description: The location name
          type: string
        encryption:
          description: Encryption properties of a Data Pool location
          $ref: '#/components/schemas/DataPoolEncryption'
      required:
      - name
  parameters:
    AccountNameParameter:
      name: accountName
      in: path
      required: true
      description: The name of the ADP account
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 50
        pattern: ^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*
    DataPoolNameParameter:
      name: dataPoolName
      in: path
      required: true
      description: The name of the Data Pool
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 50
        pattern: ^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
