openapi: 3.2.0
info:
  title: Microsoft Azure Access Control Records API
  version: '1.0'
  description: 'Operations tagged AccessControlRecords across 2 of this provider''s published API definitions: storsimple8000seriesmanagementclient-openapi-original.yml, storsimplemanagementclient-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Access Control Records
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/accessControlRecords
  : get:
      tags:
      - Access Control Records
      description: Retrieves all the access control records in a manager.
      operationId: microsoftAzureAccesscontrolrecordsListbymanager
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of access control records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessControlRecordList'
      deprecated: false
      x-ms-pageable:
        nextLinkName: null
      x-ms-examples:
        AccessControlRecordsListByManager:
          $ref: ./examples/AccessControlRecordsListByManager.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/accessControlRecords/{accessControlRecordName}
  : get:
      tags:
      - Access Control Records
      description: Returns the properties of the specified access control record name.
      operationId: microsoftAzureAccesscontrolrecordsGet
      parameters:
      - name: accessControlRecordName
        in: path
        description: Name of access control record to be fetched.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The access control record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessControlRecord'
      deprecated: false
      x-ms-examples:
        AccessControlRecordsGet:
          $ref: ./examples/AccessControlRecordsGet.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Access Control Records
      description: Creates or Updates an access control record.
      operationId: microsoftAzureAccesscontrolrecordsCreateorupdate
      parameters:
      - name: accessControlRecordName
        in: path
        description: The name of the access control record.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully created or updated the access control record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessControlRecord'
        '202':
          description: Accepted the request to create or update the access control record.
      deprecated: false
      x-ms-long-running-operation: true
      x-ms-examples:
        AccessControlRecordsCreateOrUpdate:
          $ref: ./examples/AccessControlRecordsCreateOrUpdate.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessControlRecord'
        description: The access control record to be added or updated.
        required: true
    delete:
      tags:
      - Access Control Records
      description: Deletes the access control record.
      operationId: microsoftAzureAccesscontrolrecordsDelete
      parameters:
      - name: accessControlRecordName
        in: path
        description: The name of the access control record to delete.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to delete the access control record.
        '204':
          description: Successfully deleted the access control record.
      deprecated: false
      x-ms-long-running-operation: true
      x-ms-examples:
        AccessControlRecordsDelete:
          $ref: ./examples/AccessControlRecordsDelete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
components:
  schemas:
    AccessControlRecordProperties:
      description: The properties of access control record.
      required:
      - initiatorName
      type: object
      properties:
        initiatorName:
          description: The iSCSI initiator name (IQN).
          type: string
        volumeCount:
          format: int32
          description: The number of volumes using the access control record.
          type: integer
          readOnly: true
    BaseModel:
      description: Represents the base class for all other ARM object models
      type: object
      properties:
        id:
          description: The path ID that uniquely identifies the object.
          type: string
          readOnly: true
        name:
          description: The name of the object.
          type: string
          readOnly: true
        type:
          description: The hierarchical type of the object.
          type: string
          readOnly: true
        kind:
          description: The Kind of the object. Currently only Series8000 is supported
          enum:
          - Series8000
          type: string
          x-ms-enum:
            name: Kind
            modelAsString: false
    AccessControlRecord:
      description: The access control record.
      required:
      - properties
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseModel'
      properties:
        properties:
          $ref: '#/components/schemas/AccessControlRecordProperties'
          description: The properties of access control record.
          x-ms-client-flatten: true
    AccessControlRecordList:
      description: The collection of access control records.
      required:
      - value
      type: object
      properties:
        value:
          description: The value.
          type: array
          items:
            $ref: '#/components/schemas/AccessControlRecord'
    AccessControlRecordProperties_2:
      description: Properties of access control record
      required:
      - initiatorName
      type: object
      properties:
        initiatorName:
          description: The Iscsi initiator name (IQN)
          type: string
    BaseModel_2:
      description: Base class for models
      type: object
      properties:
        id:
          description: The identifier.
          type: string
          readOnly: true
        name:
          description: The name.
          type: string
          readOnly: true
        type:
          description: The type.
          type: string
          readOnly: true
    AccessControlRecord_2:
      description: The access control record
      required:
      - properties
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseModel_2'
      properties:
        properties:
          $ref: '#/components/schemas/AccessControlRecordProperties_2'
          description: Properties of AccessControlRecord
          x-ms-client-flatten: true
    Message:
      type: object
      properties:
        language:
          type: string
        value:
          type: string
    Error:
      required:
      - errorCode
      - message
      type: object
      properties:
        errorCode:
          type: string
        message:
          $ref: '#/components/schemas/Message'
        values:
          type: array
          items:
            $ref: '#/components/schemas/Item'
          x-ms-identifiers:
          - key
    AccessControlRecordList_2:
      description: Collection of AccessControlRecords
      required:
      - value
      type: object
      properties:
        value:
          description: The value.
          type: array
          items:
            $ref: '#/components/schemas/AccessControlRecord_2'
    Item:
      required:
      - key
      - value
      type: object
      properties:
        key:
          type: string
        value:
          type: string
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription id
      required: true
      x-ms-skip-url-encoding: true
      schema:
        type: string
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The resource group name
      required: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
    managerNameParameter:
      name: managerName
      in: path
      description: The manager name
      required: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
        maxLength: 50
        minLength: 2
    apiVersionParameter:
      name: api-version
      in: query
      description: The api version
      required: true
      x-ms-skip-url-encoding: true
      schema:
        type: string
    subscriptionIdParameter_2:
      name: subscriptionId
      in: path
      description: The subscription id
      required: true
      schema:
        type: string
    resourceGroupNameParameter_2:
      name: resourceGroupName
      in: path
      description: The resource group name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    managerNameParameter_2:
      name: managerName
      in: path
      description: The manager name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 50
        minLength: 2
    apiVersionParameter_2:
      name: api-version
      in: query
      description: The api version
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- storsimple8000seriesmanagementclient-openapi-original.yml
- storsimplemanagementclient-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
