openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft.Elastic Open AI Integration API
  version: 2024-01-01-preview
servers:
- url: https://management.azure.com
tags:
- name: OpenAIIntegration
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/openAIIntegrations
  : get:
      tags:
      - OpenAIIntegration
      summary: Microsoft Azure List Openai Integration Rule For A Given Monitor Resource
      operationId: microsoftAzureOpenaiList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIIntegrationRPModelListResponse'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        OpenAI_List:
          $ref: ./examples/OpenAI_List.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/openAIIntegrations/{integrationName}
  : get:
      tags:
      - OpenAIIntegration
      summary: Microsoft Azure Get Openai Integration Rule For A Given Monitor Resource
      operationId: microsoftAzureOpenaiGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      - $ref: '#/components/parameters/OpenAIIntegrationNameParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIIntegrationRPModel'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-examples:
        OpenAI_Get:
          $ref: ./examples/OpenAI_Get.json
      description: Needs a more full description created.
    put:
      tags:
      - OpenAIIntegration
      summary: Microsoft Azure Create Or Update A Openai Integration Rule For A Given Monitor…
      operationId: microsoftAzureOpenaiCreateorupdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      - $ref: '#/components/parameters/OpenAIIntegrationNameParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIIntegrationRPModel'
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIIntegrationRPModel'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-examples:
        OpenAI_CreateOrUpdate:
          $ref: ./examples/OpenAI_CreateOrUpdate.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAIIntegrationRPModel'
    delete:
      tags:
      - OpenAIIntegration
      summary: Microsoft Azure Delete Openai Integration Rule For A Given Monitor Resource
      operationId: microsoftAzureOpenaiDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      - $ref: '#/components/parameters/OpenAIIntegrationNameParameter'
      responses:
        '200':
          description: Success
        '204':
          description: Success
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-examples:
        OpenAI_Delete:
          $ref: ./examples/OpenAI_Delete.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/openAIIntegrations/{integrationName}/getStatus
  : post:
      tags:
      - OpenAIIntegration
      summary: Microsoft Azure Get Openai Integration Status For A Given Integration
      operationId: microsoftAzureOpenaiGetstatus
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      - $ref: '#/components/parameters/OpenAIIntegrationNameParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIIntegrationStatusResponse'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-examples:
        OpenAI_GetStatus:
          $ref: ./examples/OpenAI_GetStatus.json
      description: Needs a more full description created.
components:
  schemas:
    ResourceProviderDefaultErrorResponse:
      description: RP default error response.
      type: object
      properties:
        error:
          description: Response body of Error
          readOnly: true
          $ref: '#/components/schemas/ErrorResponseBody'
    OpenAIIntegrationProperties:
      description: Open AI Integration details.
      type: object
      properties:
        openAIResourceId:
          description: The resource id of Open AI resource
          type: string
          format: arm-id
        openAIResourceEndpoint:
          description: The API endpoint for Open AI resource
          type: string
        key:
          description: Value of API key for Open AI resource
          type: string
          x-ms-secret: true
        lastRefreshAt:
          format: date-time
          description: Last Update Timestamp for key updation
          type: string
          readOnly: true
    OpenAIIntegrationStatusResponseProperties:
      description: Status of the OpenAI Integration
      type: object
      properties:
        status:
          description: Status of the OpenAI Integration
          type: string
    OpenAIIntegrationStatusResponse:
      description: Status of the OpenAI Integration
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/OpenAIIntegrationStatusResponseProperties'
    ErrorResponseBody:
      description: Error response body.
      title: ErrorResponseBody
      type: object
      properties:
        code:
          description: Error code.
          type: string
        message:
          description: Error message.
          type: string
        target:
          description: Error target.
          type: string
        details:
          description: Error details.
          type: array
          x-ms-identifiers: []
          items:
            $ref: '#/components/schemas/ErrorResponseBody'
    OpenAIIntegrationRPModel:
      description: Capture properties of Open AI resource Integration.
      type: object
      x-ms-azure-resource: true
      properties:
        name:
          description: Name of the integration.
          type: string
          readOnly: true
        id:
          description: The id of the integration.
          type: string
          readOnly: true
        type:
          description: The type of the integration.
          type: string
          readOnly: true
        properties:
          $ref: '#/components/schemas/OpenAIIntegrationProperties'
    OpenAIIntegrationRPModelListResponse:
      description: Response of a list operation.
      type: object
      properties:
        value:
          description: Results of a list operation.
          type: array
          items:
            $ref: '#/components/schemas/OpenAIIntegrationRPModel'
        nextLink:
          description: Link to the next set of results, if any.
          type: string
  parameters:
    MonitorNameParameter:
      in: path
      name: monitorName
      description: Monitor resource name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    OpenAIIntegrationNameParameter:
      in: path
      name: integrationName
      description: OpenAI Integration name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-z][a-z0-9]*$
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Microsoft Entra ID OAuth2 Flow
