openapi: 3.2.0
info:
  title: Microsoft Azure Products API
  x-refined-note:
  - x-typespec-generated differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Products across 2 of this provider''s published API definitions: azurebridgeadminclient-openapi-original.yml, azuresphereproviderclient-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Products
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureBridge.Admin/activations/{activationName}/products
  : get:
      x-ms-examples:
        Return product name.:
          $ref: ./examples/Product/List.json
      description: Return product name.
      tags:
      - Products
      operationId: microsoftAzureProductsList
      parameters:
      - $ref: AzureBridge.json#/parameters/SubscriptionIdParameter
      - $ref: AzureBridge.json#/parameters/ResourceGroupNameParameter
      - $ref: AzureBridge.json#/parameters/ActivationNameParameter
      - $ref: AzureBridge.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResourcesPage'
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                $ref: Activation.json#/definitions/ExtendedErrorInfo
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureBridge.Admin/activations/{activationName}/products/{productName}
  : get:
      x-ms-examples:
        Return product name.:
          $ref: ./examples/Product/Get.json
      description: Return product name.
      tags:
      - Products
      operationId: microsoftAzureProductsGet
      parameters:
      - $ref: AzureBridge.json#/parameters/SubscriptionIdParameter
      - $ref: AzureBridge.json#/parameters/ResourceGroupNameParameter
      - $ref: AzureBridge.json#/parameters/ActivationNameParameter
      - $ref: AzureBridge.json#/parameters/ProductNameParameter
      - $ref: AzureBridge.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResource'
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                $ref: Activation.json#/definitions/ExtendedErrorInfo
      summary: Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureBridge.Admin/activations/{activationName}/products/{productName}/download
  : post:
      x-ms-examples:
        Return product name.:
          $ref: ./examples/Product/download.json
      description: Downloads a product from azure marketplace.
      tags:
      - Products
      operationId: microsoftAzureProductsDownload
      parameters:
      - $ref: AzureBridge.json#/parameters/SubscriptionIdParameter
      - $ref: AzureBridge.json#/parameters/ResourceGroupNameParameter
      - $ref: AzureBridge.json#/parameters/ActivationNameParameter
      - $ref: AzureBridge.json#/parameters/ProductNameParameter
      - $ref: AzureBridge.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: AzureBridge.json#/definitions/DownloadedProductResource
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: AzureBridge.json#/definitions/DownloadedProductResource
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                $ref: Activation.json#/definitions/ExtendedErrorInfo
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Post Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products
  : get:
      operationId: microsoftAzureProductsListbycatalog
      tags:
      - Products
      description: List Product resources by Catalog
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: catalogName
        in: path
        description: Name of catalog
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]{1,50}$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Products_ListByCatalog:
          $ref: ./examples/GetProducts.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}
  : get:
      operationId: microsoftAzureProductsGet
      tags:
      - Products
      description: Get a Product. '.default' and '.unassigned' are system defined values and cannot be used for product name.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: catalogName
        in: path
        description: Name of catalog
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]{1,50}$
      - name: productName
        in: path
        description: Name of product.
        required: true
        schema:
          type: string
          pattern: ^[\w][\w\s]{1,48}[\w]$|^\.default$|^\.unassigned$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product_2'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Products_Get:
          $ref: ./examples/GetProduct.json
      summary: Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers…
    put:
      operationId: microsoftAzureProductsCreateorupdate
      tags:
      - Products
      description: Create a Product. '.default' and '.unassigned' are system defined values and cannot be used for product name.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: catalogName
        in: path
        description: Name of catalog
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]{1,50}$
      - name: productName
        in: path
        description: Name of product.
        required: true
        schema:
          type: string
          pattern: ^[\w][\w\s]{1,48}[\w]$|^\.default$|^\.unassigned$
      responses:
        '200':
          description: Resource 'Product' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product_2'
        '201':
          description: Resource 'Product' create operation succeeded
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product_2'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Products_CreateOrUpdate:
          $ref: ./examples/PutProduct.json
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      summary: Put Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product_2'
        description: Resource create parameters.
        required: true
    patch:
      operationId: microsoftAzureProductsUpdate
      tags:
      - Products
      description: Update a Product. '.default' and '.unassigned' are system defined values and cannot be used for product name.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: catalogName
        in: path
        description: Name of catalog
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]{1,50}$
      - name: productName
        in: path
        description: Name of product.
        required: true
        schema:
          type: string
          pattern: ^[\w][\w\s]{1,48}[\w]$|^\.default$|^\.unassigned$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product_2'
        '202':
          description: Resource update request accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Products_Update:
          $ref: ./examples/PatchProduct.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Patch Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductUpdate'
        description: The resource properties to be updated.
        required: true
    delete:
      operationId: microsoftAzureProductsDelete
      tags:
      - Products
      description: Delete a Product. '.default' and '.unassigned' are system defined values and cannot be used for product name'
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: catalogName
        in: path
        description: Name of catalog
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]{1,50}$
      - name: productName
        in: path
        description: Name of product.
        required: true
        schema:
          type: string
          pattern: ^[\w][\w\s]{1,48}[\w]$|^\.default$|^\.unassigned$
      responses:
        '200':
          description: Resource deleted successfully.
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Products_Delete:
          $ref: ./examples/DeleteProduct.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Delete Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}/countDevices
  : post:
      operationId: microsoftAzureProductsCountdevices
      tags:
      - Products
      description: Counts devices in product. '.default' and '.unassigned' are system defined values and cannot be used for product name.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: catalogName
        in: path
        description: Name of catalog
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]{1,50}$
      - name: productName
        in: path
        description: Name of product.
        required: true
        schema:
          type: string
          pattern: ^[\w][\w\s]{1,48}[\w]$|^\.default$|^\.unassigned$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountDeviceResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Products_CountDevices:
          $ref: ./examples/PostCountDevicesProduct.json
      summary: Post Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}/generateDefaultDeviceGroups
  : post:
      operationId: microsoftAzureProductsGeneratedefaultdevicegroups
      tags:
      - Products
      description: Generates default device groups for the product. '.default' and '.unassigned' are system defined values and cannot be used for product name.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: catalogName
        in: path
        description: Name of catalog
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]{1,50}$
      - name: productName
        in: path
        description: Name of product.
        required: true
        schema:
          type: string
          pattern: ^[\w][\w\s]{1,48}[\w]$|^\.default$|^\.unassigned$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceGroupListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Products_GenerateDefaultDeviceGroups:
          $ref: ./examples/PostGenerateDefaultDeviceGroups.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Post Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers…
    servers:
    - url: https://management.azure.com
components:
  schemas:
    ProductResourcesPage:
      description: Holds an array of products and the next link.
      properties:
        value:
          description: List of products.
          type: array
          items:
            $ref: '#/components/schemas/ProductResource'
        nextLink:
          type: string
          description: URI to the next page.
    Product:
      description: Properties for a product.
      type: object
      properties:
        vmExtensionType:
          description: Extension type of the VM.
          type: string
        links:
          description: Gallery item identity.
          $ref: AzureBridge.json#/definitions/ProductLinks
        legalTerms:
          description: Legal terms for the product.
          type: string
        privacyPolicy:
          description: Privacy policy of the product.
          type: string
        provisioningState:
          description: Provisioning state of the resource.
          $ref: AzureBridge.json#/definitions/ProvisioningState
      allOf:
      - $ref: AzureBridge.json#/definitions/ProductBase
    ProductResource:
      description: Product resource.
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          description: Properties of the resource.
          $ref: '#/components/schemas/Product'
      allOf:
      - $ref: AzureBridge.json#/definitions/Resource
    DeviceGroupListResult:
      type: object
      description: The response of a DeviceGroup list operation.
      properties:
        value:
          type: array
          description: The DeviceGroup items on this page
          items:
            $ref: '#/components/schemas/DeviceGroup'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
          readOnly: true
      required:
      - value
    DeviceGroup:
      type: object
      description: An device group resource belonging to a product resource.
      properties:
        properties:
          $ref: '#/components/schemas/DeviceGroupProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
    OSFeedType:
      type: string
      description: OS feed type values.
      enum:
      - Retail
      - RetailEval
      x-ms-enum:
        name: OSFeedType
        modelAsString: true
        values:
        - name: Retail
          value: Retail
          description: Retail OS feed type.
        - name: RetailEval
          value: RetailEval
          description: Retail evaluation OS feed type.
    CountElementsResponse:
      type: object
      description: Response of the count for elements.
      properties:
        value:
          type: integer
          format: int32
          description: Number of children resources in parent resource.
      required:
      - value
    ProvisioningState:
      type: string
      description: Provisioning state of resource.
      enum:
      - Succeeded
      - Failed
      - Canceled
      - Provisioning
      - Updating
      - Deleting
      - Accepted
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: Succeeded
          value: Succeeded
          description: Resource has been created.
        - name: Failed
          value: Failed
          description: Resource creation failed.
        - name: Canceled
          value: Canceled
          description: Resource creation was canceled.
        - name: Provisioning
          value: Provisioning
          description: The resource is being provisioned
        - name: Updating
          value: Updating
          description: The resource is being updated
        - name: Deleting
          value: Deleting
          description: The resource is being deleted
        - name: Accepted
          value: Accepted
          description: The resource create request has been accepted
    ProductUpdateProperties:
      type: object
      description: The updatable properties of the Product.
      properties:
        description:
          type: string
          description: Description of the product
    CountDeviceResponse:
      type: object
      description: Response to the action call for count devices in a catalog (preview API).
      allOf:
      - $ref: '#/components/schemas/CountElementsResponse'
    AllowCrashDumpCollection:
      type: string
      description: Allow crash dumps values.
      enum:
      - Enabled
      - Disabled
      x-ms-enum:
        name: AllowCrashDumpCollection
        modelAsString: true
        values:
        - name: Enabled
          value: Enabled
          description: Crash dump collection enabled
        - name: Disabled
          value: Disabled
          description: Crash dump collection disabled
    ProductUpdate:
      type: object
      description: The type used for update operations of the Product.
      properties:
        properties:
          $ref: '#/components/schemas/ProductUpdateProperties'
          x-ms-client-flatten: true
    ProductListResult:
      type: object
      description: The response of a Product list operation.
      properties:
        value:
          type: array
          description: The Product items on this page
          items:
            $ref: '#/components/schemas/Product_2'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
          readOnly: true
      required:
      - value
    RegionalDataBoundary:
      type: string
      description: Regional data boundary values.
      enum:
      - None
      - EU
      x-ms-enum:
        name: RegionalDataBoundary
        modelAsString: true
        values:
        - name: None
          value: None
          description: No data boundary
        - name: EU
          value: EU
          description: EU data boundary
    Product_2:
      type: object
      description: An product resource belonging to a catalog resource.
      properties:
        properties:
          $ref: '#/components/schemas/ProductProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
    DeviceGroupProperties:
      type: object
      description: The properties of deviceGroup
      properties:
        description:
          type: string
          description: Description of the device group.
        osFeedType:
          $ref: '#/components/schemas/OSFeedType'
          description: Operating system feed type of the device group.
        updatePolicy:
          $ref: '#/components/schemas/UpdatePolicy'
          description: Update policy of the device group.
        allowCrashDumpsCollection:
          $ref: '#/components/schemas/AllowCrashDumpCollection'
          description: Flag to define if the user allows for crash dump collection.
        regionalDataBoundary:
          $ref: '#/components/schemas/RegionalDataBoundary'
          description: Regional data boundary for the device group.
        hasDeployment:
          type: boolean
          description: Deployment status for the device group.
          readOnly: true
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The status of the last operation.
          readOnly: true
    UpdatePolicy:
      type: string
      description: Update policy values.
      enum:
      - UpdateAll
      - No3rdPartyAppUpdates
      x-ms-enum:
        name: UpdatePolicy
        modelAsString: true
        values:
        - name: UpdateAll
          value: UpdateAll
          description: Update all policy.
        - name: No3rdPartyAppUpdates
          value: No3rdPartyAppUpdates
          description: No update for 3rd party app policy.
    ProductProperties:
      type: object
      description: The properties of product
      properties:
        description:
          type: string
          description: Description of the product
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The status of the last operation.
          readOnly: true
      required:
      - description
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Authorization uses an Azure Active Directory OAuth2 flow.
x-refined-from:
- azurebridgeadminclient-openapi-original.yml
- azuresphereproviderclient-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
