openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft.Dashboard Grafana Resource API
  description: The Microsoft.Dashboard Rest API spec.
  version: 2021-09-01-preview
servers:
- url: https://management.azure.com
tags:
- name: GrafanaResource
paths:
  /providers/Microsoft.Dashboard/operations:
    get:
      tags:
      - GrafanaResource
      summary: Microsoft Azure List All Available Api Operations Provided By Microsoft…
      operationId: microsoftAzureOperationsList
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. Return all available API operations provided by Microsoft.Dashboard.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Operations_List:
          $ref: ./examples/Operations_List.json
      description: Needs a more full description created.
  /subscriptions/{subscriptionId}/providers/Microsoft.Dashboard/grafana:
    get:
      tags:
      - GrafanaResource
      summary: Microsoft Azure List All Resources Of Workspaces For Grafana Under The…
      operationId: microsoftAzureGrafanaList
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. Return all resources of workspaces for Grafana under the specified subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedGrafanaListResponse'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Grafana_List:
          $ref: ./examples/Grafana_List.json
      description: Needs a more full description created.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dashboard/grafana:
    get:
      tags:
      - GrafanaResource
      summary: Microsoft Azure List All Resources Of Workspaces For Grafana Under The…
      operationId: microsoftAzureGrafanaListbyresourcegroup
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. Return all resources of workspaces for Grafana under the given resource group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedGrafanaListResponse'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Grafana_ListByResourceGroup:
          $ref: ./examples/Grafana_ListByResourceGroup.json
      description: Needs a more full description created.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dashboard/grafana/{workspaceName}:
    get:
      tags:
      - GrafanaResource
      summary: Microsoft Azure Get The Properties Of A Specific Workspace For Grafana Resource
      operationId: microsoftAzureGrafanaGet
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. Return the properties of the required workspace for Grafana resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedGrafana'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Grafana_Get:
          $ref: ./examples/Grafana_Get.json
      description: Needs a more full description created.
    put:
      tags:
      - GrafanaResource
      summary: Microsoft Azure Create Or Update A Workspace For Grafana Resource This Api Is…
      operationId: microsoftAzureGrafanaCreate
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. Successfully create a workspace for Grafana resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedGrafana'
        '201':
          description: Created. The operation was successfully started and will complete asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedGrafana'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        Grafana_Create:
          $ref: ./examples/Grafana_Create.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedGrafana'
        required: true
    patch:
      tags:
      - GrafanaResource
      summary: Microsoft Azure Update A Workspace For Grafana Resource
      operationId: microsoftAzureGrafanaUpdate
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. Successfully update the workspace for Grafana resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedGrafana'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Grafana_Update:
          $ref: ./examples/Grafana_Update.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedGrafanaUpdateParameters'
        required: true
    delete:
      tags:
      - GrafanaResource
      summary: Microsoft Azure Delete A Workspace For Grafana Resource
      operationId: microsoftAzureGrafanaDelete
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. The workspace for Grafana resource is deleted.
        '202':
          description: Accepted. The operation is accepted and will be completed asynchronously.
        '204':
          description: No Content
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        Grafana_Delete:
          $ref: ./examples/Grafana_Delete.json
      description: Needs a more full description created.
components:
  schemas:
    ManagedIdentity:
      description: The managed identity of a resource.
      type: object
      properties:
        type:
          $ref: '#/components/schemas/ManagedIdentityTypes'
        principalId:
          description: The principal id of the system assigned identity.
          type: string
          readOnly: true
        tenantId:
          description: The tenant id of the system assigned identity.
          type: string
          readOnly: true
        userAssignedIdentities:
          description: Dictionary of user assigned identities.
          type: object
          additionalProperties:
            $ref: '#/components/schemas/UserAssignedIdentity'
    Origin:
      description: The intended executor of the operation.
      enum:
      - user
      - system
      - user,system
      type: string
      readOnly: true
      x-ms-enum:
        modelAsString: true
        name: Origin
    ResourceSku:
      required:
      - name
      type: object
      properties:
        name:
          type: string
    ProvisioningState:
      enum:
      - Accepted
      - Creating
      - Updating
      - Deleting
      - Succeeded
      - Failed
      - Canceled
      - Deleted
      - NotSpecified
      type: string
      x-ms-enum:
        modelAsString: true
        name: ProvisioningState
    OperationDisplay:
      description: Localized display information for this particular operation.
      type: object
      properties:
        provider:
          description: The localized friendly form of the resource provider name, i.e., Microsoft.Dashboard.
          type: string
          readOnly: true
        resource:
          description: The localized friendly name of the resource type related to this operation, e.g., 'grafana'.
          type: string
          readOnly: true
        operation:
          description: Operation type, e.g., read, write, delete, etc.
          type: string
          readOnly: true
        description:
          description: Description of the operation, e.g., 'Read grafana'.
          type: string
          readOnly: true
    ManagedGrafana:
      type: object
      description: The grafana resource type.
      x-ms-azure-resource: true
      properties:
        id:
          description: ARM id of the grafana resource
          type: string
          readOnly: true
        name:
          description: Name of the grafana resource.
          type: string
          readOnly: true
        type:
          description: The type of the grafana resource.
          type: string
          readOnly: true
        sku:
          description: The Sku of the grafana resource.
          $ref: '#/components/schemas/ResourceSku'
        properties:
          description: Properties specific to the grafana resource.
          $ref: '#/components/schemas/ManagedGrafanaProperties'
        identity:
          description: The managed identity of the grafana resource.
          $ref: '#/components/schemas/ManagedIdentity'
        systemData:
          description: The system meta data relating to this grafana resource.
          $ref: '#/components/schemas/SystemData'
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
          description: The tags for grafana resource.
        location:
          type: string
          x-ms-mutability:
          - read
          - create
          description: The geo-location where the grafana resource lives
    ManagedGrafanaProperties:
      type: object
      description: Properties specific to the grafana resource.
      properties:
        provisioningState:
          description: Provisioning state of the resource.
          $ref: '#/components/schemas/ProvisioningState'
        grafanaVersion:
          description: The Grafana software version.
          type: string
          readOnly: true
        endpoint:
          description: The endpoint of the Grafana instance.
          type: string
          readOnly: true
        zoneRedundancy:
          $ref: '#/components/schemas/ZoneRedundancy'
        autoGeneratedDomainNameLabelScope:
          $ref: '#/components/schemas/AutoGeneratedDomainNameLabelScope'
    OperationListResult:
      description: A list of REST API operations supported by Microsoft.Dashboard provider. It contains an URL link to get the next set of results.
      type: object
      properties:
        value:
          description: List of operations supported by the Microsoft.Dashboard provider.
          type: array
          x-ms-identifiers: []
          items:
            $ref: '#/components/schemas/OperationResult'
          readOnly: true
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          type: string
          readOnly: true
    ManagedGrafanaListResponse:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ManagedGrafana'
        nextLink:
          type: string
    OperationResult:
      description: A Microsoft.Dashboard REST API operation.
      type: object
      properties:
        name:
          description: Operation name, i.e., {provider}/{resource}/{operation}.
          type: string
          readOnly: true
        isDataAction:
          description: Indicates whether the operation applies to data-plane. Set "true" for data-plane operations and "false" for ARM/control-plane operations.
          type: boolean
          readOnly: true
        display:
          $ref: '#/components/schemas/OperationDisplay'
        origin:
          $ref: '#/components/schemas/Origin'
        actionType:
          $ref: '#/components/schemas/ActionType'
    ManagedIdentityTypes:
      description: The type 'SystemAssigned, UserAssigned' includes both an implicitly created identity and a set of user assigned identities. The type 'None' will remove any identities from the resource.
      enum:
      - None
      - SystemAssigned
      type: string
      x-ms-enum:
        name: IdentityType
        modelAsString: true
    CreatedByType:
      description: The type of identity that created the resource.
      enum:
      - User
      - Application
      - ManagedIdentity
      - Key
      type: string
      x-ms-enum:
        modelAsString: true
        name: CreatedByType
    LastModifiedByType:
      enum:
      - User
      - Application
      - ManagedIdentity
      - Key
      type: string
      x-ms-enum:
        modelAsString: true
        name: LastModifiedByType
    ActionType:
      description: Indicates the action type. "Internal" refers to actions that are for internal only APIs.
      enum:
      - Internal
      type: string
      readOnly: true
      x-ms-enum:
        modelAsString: true
        name: ActionType
    SystemData:
      type: object
      readOnly: true
      properties:
        createdBy:
          type: string
        createdByType:
          $ref: '#/components/schemas/CreatedByType'
        createdAt:
          format: date-time
          type: string
        lastModifiedBy:
          type: string
        lastModifiedByType:
          $ref: '#/components/schemas/LastModifiedByType'
        lastModifiedAt:
          format: date-time
          type: string
    ManagedGrafanaUpdateParameters:
      type: object
      description: The parameters for a PATCH request to a grafana resource.
      properties:
        identity:
          description: The managed identity of the grafana resource.
          $ref: '#/components/schemas/ManagedIdentity'
        tags:
          type: object
          description: The new tags of the grafana resource.
          additionalProperties:
            type: string
    UserAssignedIdentity:
      type: object
      properties:
        principalId:
          description: The principal id of user assigned identity.
          type: string
          readOnly: true
        clientId:
          description: The client id of user assigned identity.
          type: string
          readOnly: true
    AutoGeneratedDomainNameLabelScope:
      enum:
      - TenantReuse
      type: string
      x-ms-enum:
        modelAsString: true
        name: AutoGeneratedDomainNameLabelScope
      x-ms-mutability:
      - read
      - create
    ZoneRedundancy:
      enum:
      - Disabled
      - Enabled
      default: Disabled
      type: string
      x-ms-enum:
        modelAsString: true
        name: ZoneRedundancy
  parameters:
    WorkspaceNameParameter:
      in: path
      name: workspaceName
      description: The workspace name of Azure Managed Grafana.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      x-ms-parameter-location: method
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      schema:
        type: string
        minLength: 1
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to be used with the HTTP request (e.g. YYYY-MM-DD).
      schema:
        type: string
        default: 2021-09-01-preview
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      x-ms-parameter-location: client
      description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
