openapi: 3.2.0
info:
  title: Microsoft Azure Topics API
  x-refined-note:
  - x-typespec-generated differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Topics across 3 of this provider''s published API definitions: azuremessagingeventgridclient-openapi-original.yml, eventgridmanagementclient-openapi-original.yml, servicebusmanagementclient-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
tags:
- name: Topics
paths:
  /topics/{topicName}:publish:
    post:
      operationId: microsoftAzurePublishcloudevent
      description: 'Publish Single Cloud Event to namespace topic. In case of success, the server responds with an HTTP 200 status code with an empty JSON object in response. Otherwise, the server can return various error codes. For example, 401: which indicates authorization failure, 403: which indicates quota exceeded or message is too large, 410: which indicates that specific topic is not found, 400: for bad request, and 500: for internal server error.'
      parameters:
      - $ref: '#/components/parameters/Azure.Core.Foundations.ApiVersionParameter'
      - name: topicName
        in: path
        description: Topic Name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishResult'
        default:
          description: An unexpected error response.
          headers:
            x-ms-error-code:
              description: String error code indicating what went wrong.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Azure.Core.Foundations.ErrorResponse'
      summary: Microsoft Azure Post Topics Topicname:publish
      tags:
      - Topics
      requestBody:
        content:
          application/cloudevents+json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/CloudEvent'
        description: Single Cloud Event being published.
        required: true
      security:
      - OAuth2Auth:
        - https://eventgrid.azure.net/.default
  /topics/{topicName}/eventsubscriptions/{eventSubscriptionName}:receive:
    post:
      operationId: microsoftAzureReceivecloudevents
      description: Receive Batch of Cloud Events from the Event Subscription.
      parameters:
      - $ref: '#/components/parameters/Azure.Core.Foundations.ApiVersionParameter'
      - name: topicName
        in: path
        description: Topic Name.
        required: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Event Subscription Name.
        required: true
        schema:
          type: string
      - name: maxEvents
        in: query
        description: Max Events count to be received. Minimum value is 1, while maximum value is 100 events. If not specified, the default value is 1.
        required: false
        schema:
          type: integer
          format: int32
          default: 1
          maximum: 100
          minimum: 1
      - name: maxWaitTime
        in: query
        description: Max wait time value for receive operation in Seconds. It is the time in seconds that the server approximately waits for the availability of an event and responds to the request. If an event is available, the broker responds immediately to the client. Minimum value is 10 seconds, while maximum value is 120 seconds. If not specified, the default value is 60 seconds.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceiveResult'
        default:
          description: An unexpected error response.
          headers:
            x-ms-error-code:
              description: String error code indicating what went wrong.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Azure.Core.Foundations.ErrorResponse'
      x-ms-examples:
        Receive Cloud Event:
          $ref: ./examples/receive.json
      summary: Microsoft Azure Post Topics Topicname Eventsubscriptions…
      tags:
      - Topics
      security:
      - OAuth2Auth:
        - https://eventgrid.azure.net/.default
  /topics/{topicName}/eventsubscriptions/{eventSubscriptionName}:acknowledge:
    post:
      operationId: microsoftAzureAcknowledgecloudevents
      description: Acknowledge batch of Cloud Events. The server responds with an HTTP 200 status code if the request is successfully accepted. The response body will include the set of successfully acknowledged lockTokens, along with other failed lockTokens with their corresponding error information. Successfully acknowledged events will no longer be available to any consumer.
      parameters:
      - $ref: '#/components/parameters/Azure.Core.Foundations.ApiVersionParameter'
      - name: topicName
        in: path
        description: Topic Name.
        required: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Event Subscription Name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcknowledgeResult'
        default:
          description: An unexpected error response.
          headers:
            x-ms-error-code:
              description: String error code indicating what went wrong.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Azure.Core.Foundations.ErrorResponse'
      x-ms-examples:
        Acknowledge Cloud Event:
          $ref: ./examples/ack.json
      summary: Microsoft Azure Post Topics Topicname Eventsubscriptions…
      tags:
      - Topics
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcknowledgeOptions'
        description: AcknowledgeOptions.
        required: true
      security:
      - OAuth2Auth:
        - https://eventgrid.azure.net/.default
  /topics/{topicName}/eventsubscriptions/{eventSubscriptionName}:release:
    post:
      operationId: microsoftAzureReleasecloudevents
      description: Release batch of Cloud Events. The server responds with an HTTP 200 status code if the request is successfully accepted. The response body will include the set of successfully released lockTokens, along with other failed lockTokens with their corresponding error information.
      parameters:
      - $ref: '#/components/parameters/Azure.Core.Foundations.ApiVersionParameter'
      - name: topicName
        in: path
        description: Topic Name.
        required: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Event Subscription Name.
        required: true
        schema:
          type: string
      - name: releaseDelayInSeconds
        in: query
        description: Release cloud events with the specified delay in seconds.
        required: false
        x-ms-enum:
          name: ReleaseDelay
          modelAsString: true
          values:
          - name: By0Seconds
            value: 0
            description: Release the event after 0 seconds.
          - name: By10Seconds
            value: 10
            description: Release the event after 10 seconds.
          - name: By60Seconds
            value: 60
            description: Release the event after 60 seconds.
          - name: By600Seconds
            value: 600
            description: Release the event after 600 seconds.
          - name: By3600Seconds
            value: 3600
            description: Release the event after 3600 seconds.
        schema:
          type: number
          enum:
          - 0
          - 10
          - 60
          - 600
          - 3600
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleaseResult'
        default:
          description: An unexpected error response.
          headers:
            x-ms-error-code:
              description: String error code indicating what went wrong.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Azure.Core.Foundations.ErrorResponse'
      x-ms-examples:
        Release Cloud Event with an optional delay.:
          $ref: ./examples/release.json
      summary: Microsoft Azure Post Topics Topicname Eventsubscriptions…
      tags:
      - Topics
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReleaseOptions'
        description: ReleaseOptions
        required: true
      security:
      - OAuth2Auth:
        - https://eventgrid.azure.net/.default
  /topics/{topicName}/eventsubscriptions/{eventSubscriptionName}:reject:
    post:
      operationId: microsoftAzureRejectcloudevents
      description: Reject batch of Cloud Events. The server responds with an HTTP 200 status code if the request is successfully accepted. The response body will include the set of successfully rejected lockTokens, along with other failed lockTokens with their corresponding error information.
      parameters:
      - $ref: '#/components/parameters/Azure.Core.Foundations.ApiVersionParameter'
      - name: topicName
        in: path
        description: Topic Name.
        required: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Event Subscription Name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RejectResult'
        default:
          description: An unexpected error response.
          headers:
            x-ms-error-code:
              description: String error code indicating what went wrong.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Azure.Core.Foundations.ErrorResponse'
      x-ms-examples:
        Reject Cloud Event:
          $ref: ./examples/reject.json
      summary: Microsoft Azure Post Topics Topicname Eventsubscriptions…
      tags:
      - Topics
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RejectOptions'
        description: RejectOptions
        required: true
      security:
      - OAuth2Auth:
        - https://eventgrid.azure.net/.default
  /topics/{topicName}/eventsubscriptions/{eventSubscriptionName}:renewLock:
    post:
      operationId: microsoftAzureRenewcloudeventlocks
      description: Renew lock for batch of Cloud Events. The server responds with an HTTP 200 status code if the request is successfully accepted. The response body will include the set of successfully renewed lockTokens, along with other failed lockTokens with their corresponding error information.
      parameters:
      - $ref: '#/components/parameters/Azure.Core.Foundations.ApiVersionParameter'
      - name: topicName
        in: path
        description: Topic Name.
        required: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Event Subscription Name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenewCloudEventLocksResult'
        default:
          description: An unexpected error response.
          headers:
            x-ms-error-code:
              description: String error code indicating what went wrong.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Azure.Core.Foundations.ErrorResponse'
      x-ms-examples:
        Renew lock for batch of Cloud Events:
          $ref: ./examples/renewlock.json
      summary: Microsoft Azure Post Topics Topicname Eventsubscriptions…
      tags:
      - Topics
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenewLockOptions'
        description: RenewLockOptions
        required: true
      security:
      - OAuth2Auth:
        - https://eventgrid.azure.net/.default
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}:
    get:
      tags:
      - Topics
      summary: Microsoft Azure Get A Topic
      description: Get properties of a topic.
      operationId: microsoftAzureTopicsGet
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: topicName
        in: path
        description: Name of the topic.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Topic'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        Topics_Get:
          $ref: ./examples/Topics_Get.json
    put:
      tags:
      - Topics
      summary: Microsoft Azure Create A Topic
      description: Asynchronously creates a new topic with the specified parameters.
      operationId: microsoftAzureTopicsCreateorupdate
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: topicName
        in: path
        description: Name of the topic.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Topic'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        Topics_CreateOrUpdate:
          $ref: ./examples/Topics_CreateOrUpdate.json
        Topics_CreateOrUpdateForAzureArc:
          $ref: ./examples/Topics_CreateOrUpdateForAzureArc.json
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Topic'
        description: Topic information.
        required: true
    delete:
      tags:
      - Topics
      summary: Microsoft Azure Delete A Topic
      description: Delete existing topic.
      operationId: microsoftAzureTopicsDelete
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: topicName
        in: path
        description: Name of the topic.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '202':
          description: Accepted
        '204':
          description: NoContent
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 404 Not Found.\n\n * 500 Internal Server Error."
      x-ms-examples:
        Topics_Delete:
          $ref: ./examples/Topics_Delete.json
      x-ms-long-running-operation: true
    patch:
      tags:
      - Topics
      summary: Microsoft Azure Update A Topic
      description: Asynchronously updates a topic with the specified parameters.
      operationId: microsoftAzureTopicsUpdate
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: topicName
        in: path
        description: Name of the topic.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
        '201':
          description: Topic update request accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Topic'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        Topics_Update:
          $ref: ./examples/Topics_Update.json
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopicUpdateParameters'
        description: Topic update information.
        required: true
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/topics:
    get:
      tags:
      - Topics
      summary: Microsoft Azure List Topics Under An Azure Subscription
      description: List all the topics under an Azure subscription.
      operationId: microsoftAzureTopicsListbysubscription
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/FilterParameter'
      - $ref: '#/components/parameters/TopParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicsListResult'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        Topics_ListBySubscription:
          $ref: ./examples/Topics_ListBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics:
    get:
      tags:
      - Topics
      summary: Microsoft Azure List Topics Under A Resource Group
      description: List all the topics under a resource group.
      operationId: microsoftAzureTopicsListbyresourcegroup
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/FilterParameter'
      - $ref: '#/components/parameters/TopParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicsListResult'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        Topics_ListByResourceGroup:
          $ref: ./examples/Topics_ListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}/listKeys
  : post:
      tags:
      - Topics
      summary: Microsoft Azure List Keys For A Topic
      description: List the two keys used to publish to a topic.
      operationId: microsoftAzureTopicsListsharedaccesskeys
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: topicName
        in: path
        description: Name of the topic.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicSharedAccessKeys'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        Topics_ListSharedAccessKeys:
          $ref: ./examples/Topics_ListSharedAccessKeys.json
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}/regenerateKey
  : post:
      tags:
      - Topics
      summary: Microsoft Azure Regenerate Key For A Topic
      description: Regenerate a shared access key for a topic.
      operationId: microsoftAzureTopicsRegeneratekey
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: topicName
        in: path
        description: Name of the topic.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicSharedAccessKeys'
        '202':
          description: Accepted
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        Topics_RegenerateKey:
          $ref: ./examples/Topics_RegenerateKey.json
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopicRegenerateKeyRequest'
        description: Request body to regenerate key.
        required: true
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{providerNamespace}/{resourceTypeName}/{resourceName}/providers/Microsoft.EventGrid/eventTypes
  : get:
      tags:
      - Topics
      summary: Microsoft Azure List Topic Event Types
      description: List event types for a topic.
      operationId: microsoftAzureTopicsListeventtypes
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: providerNamespace
        in: path
        description: Namespace of the provider of the topic.
        required: true
        schema:
          type: string
      - name: resourceTypeName
        in: path
        description: Name of the topic type.
        required: true
        schema:
          type: string
      - name: resourceName
        in: path
        description: Name of the topic.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventTypesListResult'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        Topics_ListEventTypes:
          $ref: ./examples/Topics_ListEventTypes.json
      x-ms-pageable:
        nextLinkName: null
    servers:
    - url: https://management.azure.com
  /{scope}/providers/Microsoft.EventGrid/extensionTopics/default:
    get:
      tags:
      - Topics
      summary: Microsoft Azure Get Properties Of An Extension Topic
      description: Get the properties of an extension topic.
      operationId: microsoftAzureExtensiontopicsGet
      parameters:
      - name: scope
        in: path
        description: The identifier of the resource to which extension topic is queried. The scope can be a subscription, or a resource group, or a top level resource belonging to a resource provider namespace. For example, use '/subscriptions/{subscriptionId}/' for a subscription, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for a resource group, and '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}' for Azure resource.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtensionTopic'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        ExtensionTopics_Get:
          $ref: ./examples/ExtensionTopics_Get.json
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics
  : get:
      tags:
      - Topics
      operationId: microsoftAzureTopicsListbynamespace
      x-ms-examples:
        TopicGet:
          $ref: ./examples/Topics/SBTopicListByNameSpace.json
      description: Gets all the topics in a namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639388.aspx
      parameters:
      - $ref: ../../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../common/v1/definitions.json#/parameters/NamespaceNameParameter
      - $ref: ../../../common/v1/definitions.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/definitions.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/definitions.json#/parameters/SkipParameter
      - $ref: ../../../common/v1/definitions.json#/parameters/TopParameter
      responses:
        '200':
          description: Successfully retrieved list of topics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBTopicListResult'
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/definitions.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}
  : put:
      tags:
      - Topics
      operationId: microsoftAzureTopicsCreateorupdate
      x-ms-examples:
        TopicCreate:
          $ref: ./examples/Topics/SBTopicCreate.json
      description: Creates a topic in the specified namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639409.aspx
      parameters:
      - $ref: ../../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../common/v1/definitions.json#/parameters/NamespaceNameParameter
      - $ref: ../../../common/v1/definitions.json#/parameters/TopicNameParameter
      - $ref: ../../../common/v1/definitions.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/definitions.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Topic successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBTopic'
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/definitions.json#/definitions/ErrorResponse
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SBTopic'
        description: Parameters supplied to create a topic resource.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - Topics
      operationId: microsoftAzureTopicsDelete
      x-ms-examples:
        TopicDelete:
          $ref: ./examples/Topics/SBTopicDelete.json
      description: Deletes a topic from the specified namespace and resource group.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639404.aspx
      parameters:
      - $ref: ../../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../common/v1/definitions.json#/parameters/NamespaceNameParameter
      - $ref: ../../../common/v1/definitions.json#/parameters/TopicNameParameter
      - $ref: ../../../common/v1/definitions.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/definitions.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Topic successfully deleted.
        '204':
          description: No Content
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/definitions.json#/definitions/ErrorResponse
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    get:
      tags:
      - Topics
      operationId: microsoftAzureTopicsGet
      x-ms-examples:
        TopicGet:
          $ref: ./examples/Topics/SBTopicGet.json
      description: Returns a description for the specified topic.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639399.aspx
      parameters:
      - $ref: ../../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../common/v1/definitions.json#/parameters/NamespaceNameParameter
      - $ref: ../../../common/v1/definitions.json#/parameters/TopicNameParameter
      - $ref: ../../../common/v1/definitions.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/definitions.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Topic description successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBTopic'
        default:
          description: ServiceBus error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/definitions.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
components:
  schemas:
    ReceiveDetails:
      type: object
      description: Receive operation details per Cloud Event.
      properties:
        brokerProperties:
          $ref: '#/components/schemas/BrokerProperties'
          description: The Event Broker details.
        event:
          $ref: '#/components/schemas/CloudEvent'
          description: Cloud Event details.
      required:
      - brokerProperties
      - event
    PublishResult:
      type: object
      description: The result of the Publish operation.
    RejectResult:
      type: object
      description: The result of the Reject operation.
      properties:
        failedLockTokens:
          type: array
          description: Array of FailedLockToken for failed cloud events. Each FailedLockToken includes the lock token along with the related error information (namely, the error code and description).
          items:
            $ref: '#/components/schemas/FailedLockToken'
          x-ms-identifiers: []
        succeededLockTokens:
          type: array
          description: Array of lock tokens for the successfully rejected cloud events.
          items:
            type: string
      required:
      - failedLockTokens
      - succeededLockTokens
    RenewLockOptions:
      type: object
      description: Array of lock tokens for the corresponding received Cloud Events to be renewed.
      properties:
        lockTokens:
          type: array
          description: Array of lock tokens.
          items:
            type: string
      required:
      - lockTokens
    AcknowledgeResult:
      type: object
      description: The result of the Acknowledge operation.
      properties:
        failedLockTokens:
          type: array
          description: Array of FailedLockToken for failed cloud events. Each FailedLockToken includes the lock token along with the related error information (namely, the error code and description).
          items:
            $ref: '#/components/schemas/FailedLockToken'
          x-ms-identifiers: []
        succeededLockTokens:
          type: array
          description: Array of lock tokens for the successfully acknowledged cloud events.
          items:
            type: string
      required:
      - failedLockTokens
      - succeededLockTokens
    RenewCloudEventLocksResult:
      type: object
      description: The result of the RenewLock operation.
      properties:
        failedLockTokens:
          type: array
          description: Array of FailedLockToken for failed cloud events. Each FailedLockToken includes the lock token along with the related error information (namely, the error code and description).
          items:
            $ref: '#/components/schemas/FailedLockToken'
          x-ms-identifiers: []
        succeededLockTokens:
          type: array
          description: Array of lock tokens for the successfully renewed locks.
          items:
            type: string
      required:
      - failedLockTokens
      - succeededLockTokens
    CloudEvent:
      type: object
      description: Properties of an event published to an Azure Messaging EventGrid Namespace topic using the CloudEvent 1.0 Schema.
      properties:
        id:
          type: string
          description: An identifier for the event. The combination of id and source must be unique for each distinct event.
        source:
          type: string
          description: Identifies the context in which an event happened. The combination of id and source must be unique for each distinct event.
        data:
          description: Event data specific to the event type.
        data_base64:
          type: string
          format: byte
          description: Event data specific to the event type, encoded as a base64 string.
        type:
          type: string
          description: Type of event related to the originating occurrence.
        time:
          type: string
          format: date-time
          description: The time (in UTC) the event was generated, in RFC3339 format.
        specversion:
          type: string
          description: The version of the CloudEvents specification which the event uses.
        dataschema:
          type: string
          description: Identifies the schema that data adheres to.
        datacontenttype:
          type: string
          description: Content type of data value.
        subject:
          type: string
          description: This describes the subject of the event in the context of the event producer (identified by source).
      required:
      - id
      - source
      - type
      - specversion
    BrokerProperties:
      type: object
      description: Properties of the Event Broker operation.
      properties:
        lockToken:
          type: string
          description: The token of the lock on the event.
        deliveryCount:
          type: integer
          format: int32
          description: The attempt count for delivering the event.
      required:
      - lockToken
      - deliveryCount
    FailedLockToken:
      type: object
      description: Failed LockToken information.
      properties:
        lockToken:
          type: string
          description: The lock token of an entry in the request.
        error:
          $ref: '#/components/schemas/Azure.Core.Foundations.Error'
          description: Error information of the failed operation result for the lock token in the request.
      required:
      - lockToken
      - error
    Azure.Core.Foundations.InnerError:
      type: object
      description: An object containing more specific information about the error. As per Microsoft One API guidelines - https://github.com/Microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses.
      properties:
        code:
          type: string
          description: One of a server-defined set of error codes.
        innererror:
          $ref: '#/components/schemas/Azure.Core.Foundations.InnerError'
          description: Inner error.
    ReleaseResult:
      type: object
      description: The result of the Release operation.
      properties:
        failedLockTokens:
          type: array
          description: Array of FailedLockToken for failed cloud events. Each FailedLockToken includes the lock token along with the related error information (namely, the error code and description).
          items:
            $ref: '#/components/schemas/FailedLockToken'
          x-ms-identifiers: []
        succeededLockTokens:
          type: array
          description: Array of lock tokens for the successfully released cloud events.
          items:
            type: string
      required:
      - failedLockTokens
      - succeededLockTokens
    AcknowledgeOptions:
      type: object
      description: Array of lock tokens for the corresponding received Cloud Events to be acknowledged.
      properties:
        lockTokens:
          type: array
          description: Array of lock tokens.
          items:
            type: string
      required:
      - lockTokens
    ReceiveResult:
      type: object
      description: Details of the Receive operation response.
      properties:
        value:
          type: array
          description: Array of receive responses, one per cloud event.
          items:
            $ref: '#/components/schemas/ReceiveDetails'
          x-ms-identifiers: []
      required:
      - value
    Azure.Core.Foundations.ErrorResponse:
      type: object
      description: A response containing error details.
      properties:
        error:
          $ref: '#/components/schemas/Azure.Core.Foundations.Error'
          description: The error object.
      required:
      - error
    Azure.Core.Foundations.Error:
      type: object
      description: The error object.
      properties:
        code:
          type: string
          description: One of a server-defined set of error codes.
        message:
          type: string
          description: A human-readable representation of the error.
        target:
          type: string
          description: The target of the error.
        details:
          type: array
          description: An array of details about specific errors that led to this reported error.
          items:
            $ref: '#/components/schemas/Azure.Core.Foundations.Error'
          x-ms-identifiers: []
        innererror:
          $ref: '#/components/schemas/Azure.Core.Foundations.InnerError'
          description: An object containing more specific information than the current object about the error.
      required:
      - code
      - message
    ReleaseOptions:
      type: object
      description: Array of lock tokens for the corresponding received Cloud Events to be released.
      properties:
        lockTokens:
          type: array
          description: Array of lock tokens.
          items:
            type: string
      required:
      - lockTokens
    RejectOptions:
      type: object
      description: Array of lock tokens for the corresponding received Cloud Events to be rejected.
      properties:
        lockTokens:
          type: array
          description: Array of lock tokens.
          items:
            type: string
      required:
      - lockTokens
    PrivateEndpoint:
      description: PrivateEndpoint information.
      type: object
      properties:
        id:
          description: The ARM identifier for Private Endpoint.
          type: string
    ConnectionState:
      description: ConnectionState information.
      type: object
      properties:
        status:
          description: Status of the connection.
          enum:
          - Pending
          - Approved
          - Rejected
          - Disconnected
          type: string
          x-ms-enum:
            name: PersistedConnectionStatus
            modelAsString: true
        description:
          description: Description of the connection state.
          type: string
        actionsRequired:
          description: Actions required (if any).
          type: string
    ExtensionTopicProperties:
      description: Properties of the Extension Topic
      type: object
      properties:
        description:
          description: Description of the extension topic.
          type: string
        systemTopic:
          description: System topic resource id which is mapped to the source.
          type: string
    PrivateEndpointConnection:
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties'
          description: Properties of the PrivateEndpointConnection.
          x-ms-client-flatten: true
    ResourceSku:
      description: Describes an EventGrid Resource Sku.
      type: object
      properties:
        name:
          description: 'The Sku name of the resource. The possible values are: Basic or Premium.'
          default: Basic
          enum:
          - Basic
          - Premium
          type: string
          x-ms-enum:
            name: Sku
            modelAsString: true
    TopicRegenerateKeyRequest:
      description: Topic regenerate share access key request
      required:
      - keyName
      type: object
      properties:
        keyName:
          description: Key name to regenerate key1 or key2
          type: string
    UserIdentityProperties:
      description: The information about the user identity.
      type: object
      properties:
        principalId:
          description: The principal id of user assigned identity.
          type: string
        clientId:
          description: The client id of user assigned identity.
          type: string
    TopicUpdateParameters:
      description: Properties of the Topic update
      type: object
      properties:
        tags:
          description: Tags of the Topic resource.
          type: object
          additionalProperties:
            type: string
        identity:
          $ref: '#/components/schemas/IdentityInfo'
          description: Topic resource identity information.
        properties:
          $ref: '#/components/schemas/TopicUpdateParameterProperties'
          description: Properties of the Topic resource.
          x-ms-client-flatten: true
        sku:
          $ref: '#/components/schemas/ResourceSku'
          description: The Sku pricing tier for the topic.
    PrivateEndpointConnectionProperties:
      description: Properties of the private endpoint connection resource.
      type: object
      properties:
        privateEndpoint:
          $ref: '#/components/schemas/PrivateEndpoint'
          description: The Private Endpoint resource for this Connection.
        groupIds:
          description: GroupIds from the private link service resource.
          type: array
          items:
            type: string
        privateLinkServiceConnectionState:
          $ref: '#/components/schemas/ConnectionState'
          description: Details about the state of the connection.
        provisioningState:
          description: Provisioning state of the Private Endpoint Connection.
          enum:
          - Creating
          - Updating
          - Deleting
          - Succeeded
          - Canceled
          - Failed
          type: string
          x-ms-enum:
            name: ResourceProvisioningState
            modelAsString: true
    EventTypeProperties:
      description: Properties of the event type
      type: object
      properties:
        displayName:
          description: Display name of the event type.
          type: string
        description:
          description: Description of the event type.
          type: string
        schemaUrl:
          description: Url of the schema for this event type.
          type: string
        isInDefaultSet:
          description: IsInDefaultSet flag of the event type.
          type: boolean
    EventTypesListResult:
      description: Result of the List Event Types operation
      type: object
      properties:
        value:
          description: A collection of event types
          type: array
          items:
            $ref: '#/components/schemas/EventType'
    TopicSharedAccessKeys:
      description: Shared access keys of the Topic
      type: object
      properties:
        key1:
          description: Shared access key1 for the topic.
          type: string
        key2:
          description: Shared access key2 for the topic.
          type: string
    IdentityInfo:
      description: The identity information for the resource.
      type: object
      properties:
        type:
          description: The type of managed identity used. The type 'SystemAssigned, UserAssigned' includes both an implicitly created identity and a set of user-assigned identities. The type 'None' will remove any identity.
          enum:
          - None
          - SystemAssigned
          - UserAssigned
          - SystemAssigned, UserAssigned
          type: string
          x-ms-enum:
            name: IdentityType
            modelAsString: true
        principalId:
          description: The principal ID of resource identity.
          type: string
        tenantId:
          description: The tenant ID of resource.
          type: string
        userAssignedIdentities:
          description: 'The list of user identities associated with the resource. The user identity dictionary key references will be ARM resource ids in the form:

            ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.

            This property is currently not used and reserved for future usage.'
          type: object
          additionalProperties:
            $ref: '#/components/schemas/UserIdentityProperties'
    InputSchemaMapping:
      description: By default, Event Grid expects events to be in the Event Grid event schema. Specifying an input schema mapping enables publishing to Event Grid using a custom input schema. Currently, the only supported type of InputSchemaMapping is 'JsonInputSchemaMapping'.
      required:
      - inputSchemaMappingType
      type: object
      properties:
        inputSchemaMappingType:
          description: Type of the custom mapping
          enum:
          - Json
          type: string
          x-ms-enum:
            name: InputSchemaMappingType
            modelAsString: true
      discriminator:
        propertyName: inputSchemaMappingType
    InboundIpRule:
      type: object
      properties:
        ipMask:
          description: IP Address in CIDR notation e.g., 10.0.0.0/8.
          type: string
        action:
          description: Action to perform based on the match or no match of the IpMask.
          enum:
          - Allow
          type: string
          x-ms-enum:
            name: IpActionType
            modelAsString: true
    EventType:
      description: Event Type for a subject under a topic
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/EventTypeProperties'
          description: Properties of the event type.
          x-ms-client-flatten: true
    TopicProperties:
      description: Properties of the Topic.
      type: object
      properties:
        privateEndpointConnections:
          type: array
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection'
          readOnly: true
        provisioningState:
          description: Provisioning state of the topic.
          enum:
          - Creating
          - Updating
          - Deleting
          - Succeeded
          - Canceled
          - Failed
          type: string
          readOnly: true
          x-ms-enum:
            name: TopicProvisioningState
            modelAsString: true
        endpoint:
          description: Endpoint for the topic.
          type: string
          readOnly: true
        inputSchema:
          description: This determines the format that Event Grid should expect for incoming events published to the topic.
          enum:
          - EventGridSchema
          - CustomEventSchema
          - CloudEventSchemaV1_0
          type: string
          x-ms-enum:
            name: InputSchema
            modelAsString: true
          default: EventGridSchema
        inputSchemaMapping:
          $ref: '#/components/schemas/InputSchemaMapping'
          description: This enables publishing using custom event schemas. An InputSchemaMapping can be specified to map various properties of a source schema to various required properties of the EventGridEvent schema.
        metricResourceId:
          description: Metric resource id for the topic.
          type: string
          readOnly: true
        publicNetworkAccess:
          description: "This determines if traffic is allowed over public network. By default it is enabled. \nYou can further restrict to specific IPs by configuring <seealso cref=\"P:Microsoft.Azure.Events.ResourceProvider.Common.Contracts.TopicProperties.InboundIpRules\" />"
          enum:
          - Enabled
          - Disabled
          type: string
          x-ms-enum:
            name: PublicNetworkAccess
            modelAsString: true
          default: Enabled
        inboundIpRules:
          description: 'This can be used to restrict traffic from specific IPs instead of all IPs. Note: These are considered only if PublicNetworkAccess is enabled.'
          type: array
          items:
            $ref: '#/components/schemas/InboundIpRule'
          x-ms-identifiers: []
        disableLocalAuth:
          description: This boolean is used to enable or disable local auth. Default value is false. When the property is set to true, only AAD token will be used to authenticate if user is allowed to publish to the topic.
          default: false
          type: boolean
        dataResidencyBoundary:
          description: Data Residency Boundary of the resource.
          enum:
          - WithinGeopair
          - WithinRegion
          type: string
          x-ms-enum:
            name: DataResidencyBoundary
            modelAsString: true
    ExtensionTopic:
      description: Event grid Extension Topic. This is used for getting Event Grid related metrics for Azure resources.
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/ExtensionTopicProperties'
          description: Properties of the extension topic
          x-ms-client-flatten: true
        systemData:
          description: The system metadata relating to Extension Topic resource.
          type: object
          readOnly: true
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
    Resource:
      description: Definition of a Resource
      type: object
      properties:
        id:
          description: Fully qualified identifier of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the resource.
          type: string
          readOnly: true
        type:
          description: Type of the resource.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    TopicsListResult:
      description: Result of the List Topics operation
      type: object
      properties:
        value:
          description: A collection of Topics
          type: array
          items:
            $ref: '#/components/schemas/Topic'
        nextLink:
          description: A link for the next page of topics
          type: string
    Topic:
      description: EventGrid Topic
      type: object
      allOf:
      - $ref: '#/components/schemas/TrackedResource'
      properties:
        properties:
          $ref: '#/components/schemas/TopicProperties'
          description: Properties of the topic.
          x-ms-client-flatten: true
        sku:
          $ref: '#/components/schemas/ResourceSku'
          description: The Sku pricing tier for the topic.
        identity:
          $ref: '#/components/schemas/IdentityInfo'
          description: Identity information for the resource.
        kind:
          description: Kind of the resource.
          enum:
          - Azure
          - AzureArc
          type: string
          x-ms-enum:
            name: ResourceKind
            modelAsString: true
          default: Azure
        extendedLocation:
          $ref: '#/components/schemas/ExtendedLocation'
          description: Extended location of the resource.
        systemData:
          description: The system metadata relating to Topic resource.
          type: object
          readOnly: true
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
    ExtendedLocation:
      description: Definition of an Extended Location
      type: object
      properties:
        name:
          description: Fully qualified name of the extended location.
          type: string
        type:
          description: Type of the extended location.
          type: string
    TrackedResource:
      description: Definition of a Tracked Resource.
      required:
      - location
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        location:
          description: Location of the resource.
          type: string
          x-ms-mutability:
          - read
          - create
        tags:
          description: Tags of the resource.
          type: object
          additionalProperties:
            type: string
    TopicUpdateParameterProperties:
      description: Information of topic update parameter properties.
      type: object
      properties:
        publicNetworkAccess:
          description: "This determines if traffic is allowed over public network. By default it is enabled. \nYou can further restrict to specific IPs by configuring <seealso cref=\"P:Microsoft.Azure.Events.ResourceProvider.Common.Contracts.TopicUpdateParameterProperties.InboundIpRules\" />"
          enum:
          - Enabled
          - Disabled
          type: string
          x-ms-enum:
            name: PublicNetworkAccess
            modelAsString: true
          default: Enabled
        inboundIpRules:
          description: 'This can be used to restrict traffic from specific IPs instead of all IPs. Note: These are considered only if PublicNetworkAccess is enabled.'
          type: array
          items:
            $ref: '#/components/schemas/InboundIpRule'
          x-ms-identifiers: []
        disableLocalAuth:
          description: This boolean is used to enable or disable local auth. Default value is false. When the property is set to true, only AAD token will be used to authenticate if user is allowed to publish to the topic.
          type: boolean
        dataResidencyBoundary:
          description: The data residency boundary for the topic.
          enum:
          - WithinGeopair
          - WithinRegion
          type: string
          x-ms-enum:
            name: DataResidencyBoundary
            modelAsString: true
    SBTopicProperties:
      type: object
      properties:
        sizeInBytes:
          readOnly: true
          format: int64
          type: integer
          description: Size of the topic, in bytes.
        createdAt:
          readOnly: true
          format: date-time
          type: string
          description: Exact time the message was created.
        updatedAt:
          readOnly: true
          format: date-time
          type: string
          description: The exact time the message was updated.
        accessedAt:
          readOnly: true
          format: date-time
          type: string
          description: Last time the message was sent, or a request was received, for this topic.
        subscriptionCount:
          readOnly: true
          format: int32
          type: integer
          description: Number of subscriptions.
        countDetails:
          readOnly: true
          $ref: ../../../common/v1/definitions.json#/definitions/MessageCountDetails
          description: Message count details
        defaultMessageTimeToLive:
          format: duration
          type: string
          description: ISO 8601 Default message timespan to live value. This is the duration after which the message expires, starting from when the message is sent to Service Bus. This is the default value used when TimeToLive is not set on a message itself.
        maxSizeInMegabytes:
          format: int32
          type: integer
          description: Maximum size of the topic in megabytes, which is the size of the memory allocated for the topic. Default is 1024.
        maxMessageSizeInKilobytes:
          format: int64
          type: integer
          description: Maximum size (in KB) of the message payload that can be accepted by the topic. This property is only used in Premium today and default is 1024.
        requiresDuplicateDetection:
          type: boolean
          description: Value indicating if this topic requires duplicate detection.
        duplicateDetectionHistoryTimeWindow:
          format: duration
          type: string
          description: ISO8601 timespan structure that defines the duration of the duplicate detection history. The default value is 10 minutes.
        enableBatchedOperations:
          type: boolean
          description: Value that indicates whether server-side batched operations are enabled.
        status:
          $ref: ../../../common/v1/definitions.json#/definitions/EntityStatus
          description: Enumerates the possible values for the status of a messaging entity.
        supportOrdering:
          type: boolean
          description: Value that indicates whether the topic supports ordering.
        autoDeleteOnIdle:
          format: duration
          type: string
          description: ISO 8601 timespan idle interval after which the topic is automatically deleted. The minimum duration is 5 minutes.
        enablePartitioning:
          type: boolean
          description: Value that indicates whether the topic to be partitioned across multiple message brokers is enabled.
        enableExpress:
          type: boolean
          description: Value that indicates whether Express Entities are enabled. An express topic holds a message in memory temporarily before writing it to persistent storage.
      description: The Topic Properties definition.
    SBTopic:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/SBTopicProperties'
          description: Properties of topic resource.
        systemData:
          readOnly: true
          description: The system meta data relating to this resource.
          $ref: ../../../common/v1/definitions.json#/definitions/systemData
      allOf:
      - $ref: ../../../common/v2/definitions.json#/definitions/ProxyResource
      description: Description of topic resource.
    SBTopicListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/SBTopic'
          description: Result of the List Topics operation.
        nextLink:
          type: string
          description: Link to the next set of results. Not empty if Value contains incomplete list of topics.
      description: The response to the List Topics operation.
  parameters:
    Azure.Core.Foundations.ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      x-ms-parameter-location: method
      x-ms-client-name: apiVersion
      schema:
        type: string
        minLength: 1
    ApiVersionParameter:
      name: api-version
      in: query
      description: Version of the API to be used with the client request.
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      required: true
      schema:
        type: string
    TopParameter:
      name: $top
      in: query
      description: The number of results to return per page for the list operation. Valid range for top parameter is 1 to 100. If not specified, the default number of results to be returned is 20 items per page.
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
    FilterParameter:
      name: $filter
      in: query
      description: 'The query used to filter the search results using OData syntax. Filtering is permitted on the ''name'' property only and with limited number of OData operations. These operations are: the ''contains'' function as well as the following logical operations: not, and, or, eq (for equal), and ne (for not equal). No arithmetic operations are supported. The following is a valid filter example: $filter=contains(namE, ''PATTERN'') and name ne ''PATTERN-1''. The following is not a valid filter example: $filter=location eq ''westus''.'
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    OAuth2Auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            https://eventgrid.azure.net/.default: ''
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- azuremessagingeventgridclient-openapi-original.yml
- eventgridmanagementclient-openapi-original.yml
- servicebusmanagementclient-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
