openapi: 3.2.0
info:
  title: Microsoft Azure DataPlaneAccountClient Contact Group…
  description: Creates a Microsoft.Purview data plane account client.
  version: 2023-10-01-preview
servers:
- url: https://purview.azure.com/account/
tags:
- name: ContactGroupDefinition
paths:
  /contactGroupDefinitions/{contactGroupDefinitionName}:
    get:
      tags:
      - ContactGroupDefinition
      description: Get a contactGroupDefinition
      operationId: microsoftAzureContactgroupdefinitionsGetcontactgroupdefinition
      parameters:
      - in: path
        name: contactGroupDefinitionName
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactGroupDefinition'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        ContactGroupDefinitions_GetContactGroupDefinition:
          $ref: ./examples/ContactGroupDefinitions_GetContactGroupDefinition.json
      summary: Microsoft Azure Get Contactgroupdefinitions Contactgroupdefinitionname
    put:
      tags:
      - ContactGroupDefinition
      description: Creates or updates a contact group definition entity.
      operationId: microsoftAzureContactgroupdefinitionsCreateorupdatecontactgroupdefinition
      parameters:
      - in: path
        name: contactGroupDefinitionName
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactGroupDefinition'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        ContactGroupDefinitions_CreateOrUpdateContactGroupDefinition:
          $ref: ./examples/ContactGroupDefinitions_CreateOrUpdateContactGroupDefinition.json
      summary: Microsoft Azure Put Contactgroupdefinitions Contactgroupdefinitionname
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactGroupDefinition'
        required: true
    delete:
      tags:
      - ContactGroupDefinition
      description: Deletes a ContactGroupDefinition entity.
      operationId: microsoftAzureContactgroupdefinitionsDeletecontactgroupdefinition
      parameters:
      - in: path
        name: contactGroupDefinitionName
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '204':
          description: No Content
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        ContactGroupDefinitions_DeleteContactGroupDefinition:
          $ref: ./examples/ContactGroupDefinitions_DeleteContactGroupDefinition.json
      summary: Microsoft Azure Delete Contactgroupdefinitions Contactgroupdefinitionname
  /contactGroupDefinitions:
    get:
      tags:
      - ContactGroupDefinition
      description: List the contactGroupDefinitions in the account.
      operationId: microsoftAzureContactgroupdefinitionsListcontactgroupdefinitions
      parameters:
      - $ref: '#/components/parameters/api-version'
      - in: query
        name: $skipToken
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactGroupDefinitionList'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ContactGroupDefinitions_ListContactGroupDefinitions:
          $ref: ./examples/ContactGroupDefinitions_ListContactGroupDefinitions.json
      summary: Microsoft Azure Get Contactgroupdefinitions
components:
  schemas:
    ErrorModel:
      description: Default error model
      type: object
      properties:
        code:
          description: Gets or sets the code.
          type: string
          readOnly: true
        details:
          description: Gets or sets the details.
          type: array
          items:
            $ref: '#/components/schemas/ErrorModel'
          readOnly: true
        message:
          description: Gets or sets the messages.
          type: string
          readOnly: true
        target:
          description: Gets or sets the target.
          type: string
          readOnly: true
    ContactGroupDefinition:
      description: ContactGroupDefinition resource.
      type: object
      properties:
        contactGroupType:
          description: Gets or sets the contact group definition type.
          enum:
          - Custom
          - System
          type: string
          readOnly: true
          x-ms-enum:
            name: ContactGroupType
            modelAsString: true
        description:
          description: Gets or sets the description.
          type: string
        friendlyName:
          description: Gets or sets the friendly name.
          type: string
        name:
          description: Gets the name.
          type: string
          readOnly: true
    ErrorResponseModel:
      description: Default error response model
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorModel'
    ContactGroupDefinitionList:
      description: Paged list of contactGroupDefinition.
      required:
      - value
      type: object
      properties:
        count:
          format: int64
          description: Total item count.
          type: integer
        nextLink:
          description: The Url of next result page.
          type: string
        value:
          description: Collection of items of type results.
          type: array
          items:
            $ref: '#/components/schemas/ContactGroupDefinition'
  parameters:
    api-version:
      in: query
      name: api-version
      description: The api version to use.
      required: true
      x-ms-client-name: ApiVersion
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
