openapi: 3.2.0
info:
  version: '2022-11-01'
  title: Microsoft Azure Billing benefits RP Benefits Operations API
  description: Azure Benefits RP let users create and manage benefits like savings plan.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Benefits Operations
paths:
  /providers/Microsoft.BillingBenefits/operations:
    get:
      summary: Microsoft Azure Get Operations
      description: List all the operations.
      operationId: microsoftAzureOperationsList
      x-ms-examples:
        OperationsGet:
          $ref: ./examples/OperationsGet.json
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      tags:
      - Benefits Operations
      responses:
        '200':
          description: List all the operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      x-ms-parameter-location: client
      required: true
      description: The api-version to be used by the service
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
