openapi: 3.2.0
info:
  title: Microsoft Azure Artifact API
  version: '1.0'
  description: 'Operations tagged Artifact across 2 of this provider''s published API definitions: artifact-api-openapi-original.yml, blueprintclient-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Artifact
paths:
  ? /artifact/v2.0/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/artifacts/metadata
  : post:
      tags:
      - Artifact
      summary: Microsoft Azure Create Artifact
      description: Create an Artifact.
      operationId: microsoftAzureArtifactsCreate
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/workspaceNameParameter'
      responses:
        '200':
          description: The Artifact is created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artifact'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Artifact'
        description: The Artifact details.
        required: true
  ? /artifact/v2.0/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/artifacts/register
  : post:
      tags:
      - Artifact
      summary: Microsoft Azure Create An Artifact For An Existing Data Location
      description: Create an Artifact for an existing dataPath.
      operationId: microsoftAzureArtifactsRegister
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/workspaceNameParameter'
      responses:
        '200':
          description: The Artifact is created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artifact'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Artifact'
        description: The Artifact creation details.
        required: true
  ? /artifact/v2.0/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/artifacts/{origin}/{container}/metadata
  : get:
      tags:
      - Artifact
      summary: Microsoft Azure Get Artifact Metadata By Id
      description: Get Artifact metadata for a specific Id.
      operationId: microsoftAzureArtifactsGet
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/workspaceNameParameter'
      - name: origin
        in: path
        description: The origin of the Artifact.
        required: true
        schema:
          type: string
      - name: container
        in: path
        description: The container name.
        required: true
        schema:
          type: string
      - name: path
        in: query
        description: The Artifact Path.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The details of the Artifact are returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artifact'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - Artifact
      summary: Microsoft Azure Delete Artifact Metadata
      description: Delete an Artifact Metadata.
      operationId: microsoftAzureArtifactsDeletemetadata
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/workspaceNameParameter'
      - name: origin
        in: path
        description: The origin of the Artifact.
        required: true
        schema:
          type: string
      - name: container
        in: path
        description: The container name.
        required: true
        schema:
          type: string
      - name: path
        in: query
        description: The Artifact Path.
        required: false
        schema:
          type: string
      - name: hardDelete
        in: query
        description: If set to true. The delete cannot be revert at later time.
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: The Artifact metadata deleted successfully.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  ? /artifact/v2.0/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/artifacts/{origin}/{container}
  : get:
      tags:
      - Artifact
      summary: Microsoft Azure Get Artifacts Metadata In A Container Or Path
      description: Get Artifacts metadata in a specific container or path.
      operationId: microsoftAzureArtifactsListincontainer
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/workspaceNameParameter'
      - name: origin
        in: path
        description: The origin of the Artifact.
        required: true
        schema:
          type: string
      - name: container
        in: path
        description: The container name.
        required: true
        schema:
          type: string
      - name: path
        in: query
        description: The Artifact Path.
        required: false
        schema:
          type: string
      - name: continuationToken
        in: query
        description: The continuation token.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The details of the Artifacts are returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedArtifactList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /artifact/v2.0/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/artifacts/{origin}/{container}/content
  : get:
      tags:
      - Artifact
      summary: Microsoft Azure Get Artifact Content By Id
      description: Get Artifact content of a specific Id.
      operationId: microsoftAzureArtifactsDownload
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/workspaceNameParameter'
      - name: origin
        in: path
        description: The origin of the Artifact.
        required: true
        schema:
          type: string
      - name: container
        in: path
        description: The container name.
        required: true
        schema:
          type: string
      - name: path
        in: query
        description: The Artifact Path.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: File Response
          content:
            application/json:
              schema:
                format: binary
                type: string
            application/octet-stream:
              schema:
                format: binary
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Artifact
      summary: Microsoft Azure Upload Artifact Content
      description: Upload content to an Artifact.
      operationId: microsoftAzureArtifactsUpload
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/workspaceNameParameter'
      - name: origin
        in: path
        description: The origin of the Artifact.
        required: true
        schema:
          type: string
      - name: container
        in: path
        description: The container name.
        required: true
        schema:
          type: string
      - name: path
        in: query
        description: The Artifact Path.
        required: false
        schema:
          type: string
      - name: index
        in: query
        description: The index.
        required: false
        schema:
          type: integer
          format: int32
      - name: append
        in: query
        description: Whether or not to append the content or replace it.
        required: false
        schema:
          type: boolean
          default: false
      - name: allowOverwrite
        in: query
        description: whether to allow overwrite if Artifact Content exist already. when set to true, Overwrite happens if Artifact Content already exists
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: The Artifact content is uploaded successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artifact'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/octet-stream:
            schema:
              format: binary
              type: string
        description: The file upload.
        required: true
  ? /artifact/v2.0/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/artifacts/{origin}/{container}/contentinfo
  : get:
      tags:
      - Artifact
      summary: Microsoft Azure Get Artifact Content Information
      description: Get content information of an Artifact.
      operationId: microsoftAzureArtifactsGetcontentinformation
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/workspaceNameParameter'
      - name: origin
        in: path
        description: The origin of the Artifact.
        required: true
        schema:
          type: string
      - name: container
        in: path
        description: The container name.
        required: true
        schema:
          type: string
      - name: path
        in: query
        description: The Artifact Path.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The Artifact content information is returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactContentInformation'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  ? /artifact/v2.0/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/artifacts/{origin}/{container}/contentinfo/storageuri
  : get:
      tags:
      - Artifact
      summary: Microsoft Azure Get Artifact Storage Content Information
      description: Get storage content information of an Artifact.
      operationId: microsoftAzureArtifactsGetstoragecontentinformation
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/workspaceNameParameter'
      - name: origin
        in: path
        description: The origin of the Artifact.
        required: true
        schema:
          type: string
      - name: container
        in: path
        description: The container name.
        required: true
        schema:
          type: string
      - name: path
        in: query
        description: The Artifact Path.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The Artifact storage content information is returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactContentInformation'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  ? /artifact/v2.0/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/artifacts/{origin}/{container}/write
  : get:
      tags:
      - Artifact
      summary: Microsoft Azure Get Writable Shared Access Signature For Artifact
      description: Get writable shared access signature for a specific Artifact.
      operationId: microsoftAzureArtifactsGetsas
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/workspaceNameParameter'
      - name: origin
        in: path
        description: The origin of the Artifact.
        required: true
        schema:
          type: string
      - name: container
        in: path
        description: The container name.
        required: true
        schema:
          type: string
      - name: path
        in: query
        description: The Artifact Path.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The Artifact writable shared access signature is returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactContentInformation'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  ? /artifact/v2.0/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/artifacts/{origin}/{container}/prefix/contentinfo
  : get:
      tags:
      - Artifact
      summary: Microsoft Azure Get Shared Access Signature For An Artifact
      description: Get shared access signature for an Artifact in specific path.
      operationId: microsoftAzureArtifactsListsasbyprefix
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/workspaceNameParameter'
      - name: origin
        in: path
        description: The origin of the Artifact.
        required: true
        schema:
          type: string
      - name: container
        in: path
        description: The container name.
        required: true
        schema:
          type: string
      - name: path
        in: query
        description: The Artifact Path.
        required: false
        schema:
          type: string
      - name: continuationToken
        in: query
        description: The continuation token.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The Artifact writable shared access signature is returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedArtifactContentInformationList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /artifact/v2.0/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/artifacts/{origin}/{container}/prefix/contentinfo/storageuri
  : get:
      tags:
      - Artifact
      summary: Microsoft Azure Get Storage Uri For Artifacts In A Path
      description: Get storage Uri for Artifacts in a specific path.
      operationId: microsoftAzureArtifactsListstorageuribyprefix
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/workspaceNameParameter'
      - name: origin
        in: path
        description: The origin of the Artifact.
        required: true
        schema:
          type: string
      - name: container
        in: path
        description: The container name.
        required: true
        schema:
          type: string
      - name: path
        in: query
        description: The Artifact Path.
        required: false
        schema:
          type: string
      - name: continuationToken
        in: query
        description: The continuation token.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The Artifact storage uri is returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedArtifactContentInformationList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /artifact/v2.0/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/artifacts/batch/metadata
  : post:
      tags:
      - Artifact
      summary: Microsoft Azure Get Batch Artifacts By Ids
      description: Get Batch Artifacts by the specific Ids.
      operationId: microsoftAzureArtifactsBatchgetbyid
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/workspaceNameParameter'
      responses:
        '200':
          description: The requested Batch Artifacts are returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchArtifactContentInformationResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtifactIdList'
        description: The command for Batch Artifact get request.
        required: true
  ? /artifact/v2.0/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/artifacts/storageuri/batch/metadata
  : post:
      tags:
      - Artifact
      summary: Microsoft Azure Get Batch Artifacts Storage By Ids
      description: Get Batch Artifacts storage by specific Ids.
      operationId: microsoftAzureArtifactsBatchgetstoragebyid
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/workspaceNameParameter'
      responses:
        '200':
          description: The Batch Artifact's storage are returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchArtifactContentInformationResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtifactIdList'
        description: The list of artifactIds to get.
        required: true
  ? /artifact/v2.0/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/artifacts/{origin}/{container}/batch/ingest/containersas
  : post:
      tags:
      - Artifact
      summary: Microsoft Azure Batch Ingest Using Shared Access Signature
      description: Ingest Batch Artifacts using shared access signature.
      operationId: microsoftAzureArtifactsBatchingestfromsas
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/workspaceNameParameter'
      - name: origin
        in: path
        description: The origin of the Artifact.
        required: true
        schema:
          type: string
      - name: container
        in: path
        description: The container name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Batch is ingested using shared access signature successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedArtifactList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtifactContainerSas'
        description: The artifact container shared access signature to use for batch ingest.
        required: true
  ? /artifact/v2.0/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/artifacts/{origin}/{container}/batch/metadata
  : post:
      tags:
      - Artifact
      summary: Microsoft Azure Create A Batch Of Empty Artifacts
      description: Create a Batch of empty Artifacts from the supplied paths.
      operationId: microsoftAzureArtifactsBatchcreateemptyartifacts
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/workspaceNameParameter'
      - name: origin
        in: path
        description: The origin of the Artifact.
        required: true
        schema:
          type: string
      - name: container
        in: path
        description: The container name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The Batch of empty Artifacts created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchArtifactContentInformationResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtifactPathList'
        description: The list of Artifact paths to create.
        required: true
  ? /artifact/v2.0/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/artifacts/{origin}/{container}/batch/metadata:delete
  : post:
      tags:
      - Artifact
      summary: Microsoft Azure Delete Batch Of Artifact Metadata
      description: Delete a Batch of Artifact Metadata.
      operationId: microsoftAzureArtifactsDeletebatchmetadata
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/workspaceNameParameter'
      - name: origin
        in: path
        description: The origin of the Artifact.
        required: true
        schema:
          type: string
      - name: container
        in: path
        description: The container name.
        required: true
        schema:
          type: string
      - name: hardDelete
        in: query
        description: If set to true, the delete cannot be reverted at a later time.
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: The batch delete of Artifact metadata completed successfully.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtifactPathList'
        description: The list of Artifact paths to delete.
        required: true
  ? /artifact/v2.0/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/artifacts/{origin}/{container}/batch
  : delete:
      tags:
      - Artifact
      summary: Microsoft Azure Delete Artifact Metadata
      description: Delete Artifact Metadata in a specific container.
      operationId: microsoftAzureArtifactsDeletemetadataincontainer
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/workspaceNameParameter'
      - name: origin
        in: path
        description: The origin of the Artifact.
        required: true
        schema:
          type: string
      - name: container
        in: path
        description: The container name.
        required: true
        schema:
          type: string
      - name: hardDelete
        in: query
        description: If set to true. The delete cannot be revert at later time.
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: The Artifact metadata deleted successfully.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /{resourceScope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/artifacts/{artifactName}:
    put:
      tags:
      - Artifact
      operationId: microsoftAzureArtifactsCreateorupdate
      description: Create or update blueprint artifact.
      x-ms-examples:
        Sub-ARMTemplateArtifact:
          $ref: ./examples/subscriptionBPDef/ARMTemplateArtifact_Create.json
        Sub-PolicyAssignmentArtifact:
          $ref: ./examples/subscriptionBPDef/PolicyAssignmentArtifact_Create.json
        Sub-RoleAssignmentArtifact:
          $ref: ./examples/subscriptionBPDef/RoleAssignmentArtifact_Create.json
        MG-ARMTemplateArtifact:
          $ref: ./examples/managementGroupBPDef/ARMTemplateArtifact_Create.json
        MG-PolicyAssignmentArtifact:
          $ref: ./examples/managementGroupBPDef/PolicyAssignmentArtifact_Create.json
        MG-RoleAssignmentArtifact:
          $ref: ./examples/managementGroupBPDef/RoleAssignmentArtifact_Create.json
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/ScopeParameter'
      - $ref: '#/components/parameters/BlueprintNameParameter'
      - $ref: '#/components/parameters/ArtifactNameParameter'
      responses:
        '201':
          description: Created -- blueprint artifact created/updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artifact_2'
        default:
          description: Blueprints error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Put Resourcescope Providers Microsoft Blueprint Blueprints…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Artifact_2'
        description: Blueprint artifact to create or update.
        required: true
    get:
      tags:
      - Artifact
      operationId: microsoftAzureArtifactsGet
      description: Get a blueprint artifact.
      x-ms-examples:
        Sub-ARMTemplateArtifact:
          $ref: ./examples/subscriptionBPDef/ARMTemplateArtifact_Get.json
        Sub-PolicyAssignmentArtifact:
          $ref: ./examples/subscriptionBPDef/PolicyAssignmentArtifact_Get.json
        Sub-RoleAssignmentArtifact:
          $ref: ./examples/subscriptionBPDef/RoleAssignmentArtifact_Get.json
        MG-ARMTemplateArtifact:
          $ref: ./examples/managementGroupBPDef/ARMTemplateArtifact_Get.json
        MG-PolicyAssignmentArtifact:
          $ref: ./examples/managementGroupBPDef/PolicyAssignmentArtifact_Get.json
        MG-RoleAssignmentArtifact:
          $ref: ./examples/managementGroupBPDef/RoleAssignmentArtifact_Get.json
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/ScopeParameter'
      - $ref: '#/components/parameters/BlueprintNameParameter'
      - $ref: '#/components/parameters/ArtifactNameParameter'
      responses:
        '200':
          description: OK -- blueprint artifact retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artifact_2'
        default:
          description: Blueprints error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Resourcescope Providers Microsoft Blueprint Blueprints…
    delete:
      tags:
      - Artifact
      operationId: microsoftAzureArtifactsDelete
      description: Delete a blueprint artifact.
      x-ms-examples:
        Sub-ARMTemplateArtifact:
          $ref: ./examples/subscriptionBPDef/ARMTemplateArtifact_Delete.json
        Sub-PolicyAssignmentArtifact:
          $ref: ./examples/subscriptionBPDef/PolicyAssignmentArtifact_Delete.json
        Sub-RoleAssignmentArtifact:
          $ref: ./examples/subscriptionBPDef/RoleAssignmentArtifact_Delete.json
        MG-ARMTemplateArtifact:
          $ref: ./examples/managementGroupBPDef/ARMTemplateArtifact_Delete.json
        MG-PolicyAssignmentArtifact:
          $ref: ./examples/managementGroupBPDef/PolicyAssignmentArtifact_Delete.json
        MG-RoleAssignmentArtifact:
          $ref: ./examples/managementGroupBPDef/RoleAssignmentArtifact_Delete.json
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/ScopeParameter'
      - $ref: '#/components/parameters/BlueprintNameParameter'
      - $ref: '#/components/parameters/ArtifactNameParameter'
      responses:
        '200':
          description: OK -- blueprint artifact deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artifact_2'
        '204':
          description: No Content
        default:
          description: Blueprints error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Delete Resourcescope Providers Microsoft Blueprint Blueprints…
    servers:
    - url: https://management.azure.com
  /{resourceScope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/artifacts:
    get:
      tags:
      - Artifact
      operationId: microsoftAzureArtifactsList
      description: List artifacts for a given blueprint definition.
      x-ms-examples:
        Sub-ArtifactList:
          $ref: ./examples/subscriptionBPDef/Artifact_List.json
        MG-ArtifactList:
          $ref: ./examples/managementGroupBPDef/Artifact_List.json
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/ScopeParameter'
      - $ref: '#/components/parameters/BlueprintNameParameter'
      responses:
        '200':
          description: OK -- blueprint artifacts retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactList'
        default:
          description: Blueprints error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Resourcescope Providers Microsoft Blueprint Blueprints…
    servers:
    - url: https://management.azure.com
components:
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The Azure Subscription ID.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        format: uuid
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The Name of the resource group in which the workspace is located.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    workspaceNameParameter:
      name: workspaceName
      in: path
      description: The name of the workspace.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ScopeParameter:
      name: resourceScope
      in: path
      required: true
      description: 'The scope of the resource. Valid scopes are: management group (format: ''/providers/Microsoft.Management/managementGroups/{managementGroup}''), subscription (format: ''/subscriptions/{subscriptionId}'').'
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
    BlueprintNameParameter:
      name: blueprintName
      in: path
      required: true
      x-ms-parameter-location: method
      description: Name of the blueprint definition.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      x-ms-parameter-location: client
      description: Client API Version.
      schema:
        type: string
    ArtifactNameParameter:
      name: artifactName
      in: path
      required: true
      x-ms-parameter-location: method
      description: Name of the blueprint artifact.
      schema:
        type: string
  schemas:
    ArtifactContainerSas:
      description: Details of the Artifact Container's shared access signature.
      required:
      - containerSas
      - containerUri
      type: object
      properties:
        containerSas:
          description: The shared access signature of the Container.
          type: string
        containerUri:
          description: The URI of the Container.
          type: string
        prefix:
          description: The Prefix to the Blobs in the Container.
          type: string
        artifactPrefix:
          description: The Prefix to the Artifact in the Blob.
          type: string
    ArtifactPath:
      description: Details of an Artifact Path.
      required:
      - path
      type: object
      properties:
        path:
          description: The path to the Artifact in a container.
          type: string
    SqlDataPath:
      type: object
      properties:
        sqlTableName:
          type: string
        sqlQuery:
          type: string
        sqlStoredProcedureName:
          type: string
        sqlStoredProcedureParams:
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/StoredProcedureParameter'
    ArtifactPathList:
      description: Contains list of Artifact Paths.
      required:
      - paths
      type: object
      properties:
        paths:
          description: List of Artifact Paths.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/ArtifactPath'
    PaginatedArtifactList:
      description: A paginated list of Artifacts.
      type: object
      properties:
        value:
          description: An array of objects of type Artifact.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/Artifact'
        continuationToken:
          description: The token used in retrieving the next page.  If null, there are no additional pages.
          type: string
        nextLink:
          description: The link to the next page constructed using the continuationToken.  If null, there are no additional pages.
          type: string
    ArtifactIdList:
      description: Contains list of Artifact Ids.
      required:
      - artifactIds
      type: object
      properties:
        artifactIds:
          description: List of Artifacts Ids.
          uniqueItems: false
          type: array
          items:
            type: string
    Artifact:
      description: Details of an Artifact.
      required:
      - origin
      - container
      - path
      type: object
      properties:
        artifactId:
          description: The identifier of an Artifact. Format of ArtifactId - {Origin}/{Container}/{Path}.
          type: string
        origin:
          description: The origin of the Artifact creation request. Available origins are 'ExperimentRun', 'LocalUpload', 'WebUpload', 'Dataset' and 'Unknown'.
          type: string
        container:
          description: The name of container. Artifacts can be grouped by container.
          type: string
        path:
          description: The path to the Artifact in a container.
          type: string
        etag:
          description: The Etag of the Artifact.
          type: string
          readOnly: true
        createdTime:
          format: date-time
          description: The Date and Time at which the Artifact is created. The DateTime is in UTC.
          type: string
          readOnly: true
        dataPath:
          $ref: '#/components/schemas/DataPath'
    DataPath:
      type: object
      properties:
        dataStoreName:
          type: string
        relativePath:
          type: string
        sqlDataPath:
          $ref: '#/components/schemas/SqlDataPath'
    ErrorResponse:
      description: The error response.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/RootError'
          description: The top level error that occurred.
        correlation:
          description: Dictionary containing correlation details for the error.
          type: object
          additionalProperties:
            type: string
        environment:
          description: The hosting environment.
          type: string
        location:
          description: The Azure region.
          type: string
        time:
          format: date-time
          description: The time in UTC.
          type: string
    StoredProcedureParameter:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
        type:
          enum:
          - String
          - Int
          - Decimal
          - Guid
          - Boolean
          - Date
          type: string
          x-ms-enum:
            name: StoredProcedureParameterType
            modelAsString: false
    PaginatedArtifactContentInformationList:
      description: A paginated list of ArtifactContentInformations.
      type: object
      properties:
        value:
          description: An array of objects of type ArtifactContentInformation.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/ArtifactContentInformation'
        continuationToken:
          description: The token used in retrieving the next page.  If null, there are no additional pages.
          type: string
        nextLink:
          description: The link to the next page constructed using the continuationToken.  If null, there are no additional pages.
          type: string
    ArtifactContentInformation:
      description: Details of an Artifact Content Information.
      type: object
      properties:
        contentUri:
          description: The URI of the content.
          type: string
        origin:
          description: The origin of the Artifact creation request. Available origins are 'ExperimentRun', 'LocalUpload', 'WebUpload', 'Dataset', 'ComputeRecord', 'Metric', and 'Unknown'.
          type: string
        container:
          description: The name of container. Artifacts can be grouped by container.
          type: string
        path:
          description: The path to the Artifact in a container.
          type: string
    ErrorDetails:
      description: The error details.
      type: object
      properties:
        code:
          description: The error code.
          type: string
        message:
          description: The error message.
          type: string
        target:
          description: The target of the error (e.g., the name of the property in error).
          type: string
    InnerErrorResponse:
      description: A nested structure of errors.
      type: object
      properties:
        code:
          description: The error code.
          type: string
        innerError:
          $ref: '#/components/schemas/InnerErrorResponse'
          description: A nested list of inner errors. When evaluating errors, clients MUST traverse through all of the nested “innerErrors” and choose the deepest one that they understand.
    BatchArtifactContentInformationResult:
      description: Results of the Batch Artifact Content Information request.
      type: object
      properties:
        artifacts:
          description: Artifact details of the Artifact Ids requested.
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Artifact'
        artifactContentInformation:
          description: Artifact Content Information details of the Artifact Ids requested.
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ArtifactContentInformation'
        errors:
          description: Errors occurred while fetching the requested Artifact Ids.
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ErrorResponse'
    RootError:
      description: The root error.
      type: object
      properties:
        code:
          description: 'The service-defined error code. Supported error codes: ServiceError, UserError, ValidationError, AzureStorageError, TransientError, RequestThrottled.'
          type: string
        message:
          description: A human-readable representation of the error.
          type: string
        target:
          description: The target of the error (e.g., the name of the property in error).
          type: string
        details:
          description: The related errors that occurred during the request.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetails'
        innerError:
          $ref: '#/components/schemas/InnerErrorResponse'
          description: A nested list of inner errors. When evaluating errors, clients MUST traverse through all of the nested “innerErrors” and choose the deepest one that they understand.
    CloudError:
      x-ms-external: true
      properties:
        error:
          $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse
    Artifact_2:
      type: object
      discriminator:
        propertyName: kind
      description: Represents a blueprint artifact.
      allOf:
      - $ref: '#/components/schemas/AzureResourceBase'
      properties:
        kind:
          type: string
          description: Specifies the kind of blueprint artifact.
          enum:
          - template
          - roleAssignment
          - policyAssignment
          x-ms-enum:
            name: ArtifactKind
            modelAsString: true
      required:
      - kind
    AzureResourceBase:
      description: Common properties for all Azure resources.
      type: object
      x-ms-azure-resource: true
      properties:
        id:
          readOnly: true
          type: string
          description: String Id used to locate any resource on Azure.
        type:
          readOnly: true
          type: string
          description: Type of this resource.
        name:
          readOnly: true
          type: string
          description: Name of this resource.
    ArtifactList:
      type: object
      description: List of blueprint artifacts.
      properties:
        value:
          type: array
          description: List of blueprint artifacts.
          items:
            $ref: '#/components/schemas/Artifact_2'
        nextLink:
          type: string
          readOnly: true
          description: Link to the next page of results.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
x-refined-from:
- artifact-api-openapi-original.yml
- blueprintclient-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
