openapi: 3.2.0
info:
  title: Microsoft Azure BatchManagementClient Pool API
  description: The Batch Management Client.
  version: '2024-02-01'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Pool
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/pools
  : get:
      tags:
      - Pool
      operationId: microsoftAzurePoolListbybatchaccount
      description: Lists all of the pools in the specified account.
      x-ms-examples:
        ListPool:
          $ref: ./examples/PoolList.json
        ListPoolWithFilter:
          $ref: ./examples/PoolListWithFilter.json
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - name: maxresults
        in: query
        required: false
        description: The maximum number of items to return in the response.
        schema:
          type: integer
          format: int32
      - name: $select
        in: query
        required: false
        description: Comma separated list of properties that should be returned. e.g. "properties/provisioningState". Only top level properties under properties/ are valid for selection.
        schema:
          type: string
      - name: $filter
        in: query
        required: false
        description: "OData filter expression. Valid properties for filtering are:\n\n name\n properties/allocationState\n properties/allocationStateTransitionTime\n properties/creationTime\n properties/provisioningState\n properties/provisioningStateTransitionTime\n properties/lastModified\n properties/vmSize\n properties/interNodeCommunication\n properties/scaleSettings/autoScale\n properties/scaleSettings/fixedScale"
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The operation was successful. The response contains a list of certificates associated with the account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPoolsResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/pools/{poolName}
  : put:
      tags:
      - Pool
      operationId: microsoftAzurePoolCreate
      description: Creates a new pool inside the specified account.
      x-ms-examples:
        CreatePool - Minimal CloudServiceConfiguration:
          $ref: ./examples/PoolCreate_MinimalCloudServiceConfiguration.json
        CreatePool - Minimal VirtualMachineConfiguration:
          $ref: ./examples/PoolCreate_MinimalVirtualMachineConfiguration.json
        CreatePool - Full CloudServiceConfiguration:
          $ref: ./examples/PoolCreate_CloudServiceConfiguration.json
        CreatePool - ResourceTags:
          $ref: ./examples/PoolCreate_ResourceTags.json
        CreatePool - Custom Image:
          $ref: ./examples/PoolCreate_SharedImageGallery.json
        CreatePool - Public IPs:
          $ref: ./examples/PoolCreate_PublicIPs.json
        CreatePool - Full VirtualMachineConfiguration:
          $ref: ./examples/PoolCreate_VirtualMachineConfiguration.json
        CreatePool - No public IP:
          $ref: ./examples/PoolCreate_NoPublicIPAddresses.json
        CreatePool - UserAssignedIdentities:
          $ref: ./examples/PoolCreate_UserAssignedIdentities.json
        CreatePool - VirtualMachineConfiguration Extensions:
          $ref: ./examples/PoolCreate_VirtualMachineConfiguration_Extensions.json
        CreatePool - accelerated networking:
          $ref: ./examples/PoolCreate_AcceleratedNetworking.json
        CreatePool - SecurityProfile:
          $ref: ./examples/PoolCreate_SecurityProfile.json
        CreatePool - UpgradePolicy:
          $ref: ./examples/PoolCreate_UpgradePolicy.json
        CreatePool - VirtualMachineConfiguration ServiceArtifactReference:
          $ref: ./examples/PoolCreate_VirtualMachineConfiguration_ServiceArtifactReference.json
        CreatePool - VirtualMachineConfiguration OSDisk:
          $ref: ./examples/PoolCreate_VirtualMachineConfiguration_ManagedOSDisk.json
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/PoolNameParameter'
      - name: If-Match
        in: header
        required: false
        description: The entity state (ETag) version of the pool to update. A value of "*" can be used to apply the operation only if the pool already exists. If omitted, this operation will always be applied.
        schema:
          type: string
      - name: If-None-Match
        in: header
        required: false
        description: Set to '*' to allow a new pool to be created, but to prevent updating an existing pool. Other values will be ignored.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The operation was successful. The response contains the pool entity.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pool'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pool'
        description: Additional parameters for pool creation.
        required: true
    patch:
      tags:
      - Pool
      operationId: microsoftAzurePoolUpdate
      description: Updates the properties of an existing pool.
      x-ms-examples:
        UpdatePool - Resize Pool:
          $ref: ./examples/PoolUpdate_ResizePool.json
        UpdatePool - Enable Autoscale:
          $ref: ./examples/PoolUpdate_EnableAutoScale.json
        UpdatePool - Remove Start Task:
          $ref: ./examples/PoolUpdate_RemoveStartTask.json
        UpdatePool - Other Properties:
          $ref: ./examples/PoolUpdate_OtherProperties.json
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/PoolNameParameter'
      - name: If-Match
        in: header
        required: false
        description: The entity state (ETag) version of the pool to update. This value can be omitted or set to "*" to apply the operation unconditionally.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The operation was successful. The response contains the pool entity.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pool'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pool'
        description: Pool properties that should be updated. Properties that are supplied will be updated, any property not supplied will be unchanged.
        required: true
    delete:
      tags:
      - Pool
      operationId: microsoftAzurePoolDelete
      description: Deletes the specified pool.
      x-ms-examples:
        DeletePool:
          $ref: ./examples/PoolDelete.json
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/PoolNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The operation was successful.
        '202':
          description: The operation will be completed asynchronously.
          headers:
            Location:
              description: The URL of the resource used to check the status of the asynchronous operation.
              schema:
                type: string
            Retry-After:
              description: Suggested delay to check the status of the asynchronous operation. The value is an integer that represents the seconds.
              schema:
                type: integer
                format: int32
        '204':
          description: The operation was successful.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    get:
      tags:
      - Pool
      operationId: microsoftAzurePoolGet
      description: Gets information about the specified pool.
      x-ms-examples:
        GetPool:
          $ref: ./examples/PoolGet.json
        GetPool - VirtualMachineConfiguration Extensions:
          $ref: ./examples/PoolGet_VirtualMachineConfiguration_Extensions.json
        GetPool - AcceleratedNetworking:
          $ref: ./examples/PoolGet_AcceleratedNetworking.json
        GetPool - SecurityProfile:
          $ref: ./examples/PoolGet_SecurityProfile.json
        GetPool - UpgradePolicy:
          $ref: ./examples/PoolGet_UpgradePolicy.json
        GetPool - VirtualMachineConfiguration ServiceArtifactReference:
          $ref: ./examples/PoolGet_VirtualMachineConfiguration_ServiceArtifactReference.json
        GetPool - VirtualMachineConfiguration OSDisk:
          $ref: ./examples/PoolGet_VirtualMachineConfiguration_MangedOSDisk.json
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/PoolNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The operation was successful. The response contains the pool entity.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pool'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/pools/{poolName}/disableAutoScale
  : post:
      tags:
      - Pool
      operationId: microsoftAzurePoolDisableautoscale
      description: Disables automatic scaling for a pool.
      x-ms-examples:
        Disable AutoScale:
          $ref: ./examples/PoolDisableAutoScale.json
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/PoolNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The operation was successful. The response contains the pool entity.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pool'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/pools/{poolName}/stopResize
  : post:
      tags:
      - Pool
      operationId: microsoftAzurePoolStopresize
      summary: Microsoft Azure Stops An Ongoing Resize Operation On The Pool
      description: 'This does not restore the pool to its previous state before the resize operation: it only stops any further changes being made, and the pool maintains its current state. After stopping, the pool stabilizes at the number of nodes it was at when the stop operation was done. During the stop operation, the pool allocation state changes first to stopping and then to steady. A resize operation need not be an explicit resize pool request; this API can also be used to halt the initial sizing of the pool when it is created.'
      x-ms-examples:
        StopPoolResize:
          $ref: ./examples/PoolStopResize.json
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/PoolNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The operation was successful. The response contains the pool entity.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pool'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
components:
  schemas:
    DataDisk:
      type: object
      properties:
        lun:
          type: integer
          format: int32
          title: The logical unit number.
          description: The lun is used to uniquely identify each data disk. If attaching multiple disks, each should have a distinct lun. The value must be between 0 and 63, inclusive.
        caching:
          $ref: '#/components/schemas/CachingType'
          title: The type of caching to be enabled for the data disks.
          description: "Values are:\n\n none - The caching mode for the disk is not enabled.\n readOnly - The caching mode for the disk is read only.\n readWrite - The caching mode for the disk is read and write.\n\n The default value for caching is none. For information about the caching options see: https://blogs.msdn.microsoft.com/windowsazurestorage/2012/06/27/exploring-windows-azure-drives-disks-and-images/."
        diskSizeGB:
          type: integer
          format: int32
          title: The initial disk size in GB when creating new data disk.
        storageAccountType:
          title: The storage account type to be used for the data disk.
          description: "If omitted, the default is \"Standard_LRS\". Values are:\n\n Standard_LRS - The data disk should use standard locally redundant storage.\n Premium_LRS - The data disk should use premium locally redundant storage."
          $ref: '#/components/schemas/StorageAccountType'
      required:
      - lun
      - diskSizeGB
      description: Settings which will be used by the data disks associated to Compute Nodes in the Pool. When using attached data disks, you need to mount and format the disks from within a VM to use them.
    WindowsUserConfiguration:
      type: object
      properties:
        loginMode:
          type: string
          title: Login mode for user
          description: Specifies login mode for the user. The default value for VirtualMachineConfiguration pools is interactive mode and for CloudServiceConfiguration pools is batch mode.
          enum:
          - Batch
          - Interactive
          x-ms-enum:
            name: LoginMode
            modelAsString: false
            values:
            - value: Batch
              description: The LOGON32_LOGON_BATCH Win32 login mode. The batch login mode is recommended for long running parallel processes.
            - value: Interactive
              description: The LOGON32_LOGON_INTERACTIVE Win32 login mode. Some applications require having permissions associated with the interactive login mode. If this is the case for an application used in your task, then this option is recommended.
      title: Properties used to create a user account on a Windows node.
    AutoScaleRunError:
      type: object
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        details:
          type: array
          items:
            $ref: '#/components/schemas/AutoScaleRunError'
          x-ms-identifiers:
          - code
          title: Additional details about the error.
      title: An error that occurred when autoscaling a pool.
      required:
      - code
      - message
    WindowsConfiguration:
      type: object
      properties:
        enableAutomaticUpdates:
          type: boolean
          title: Whether automatic updates are enabled on the virtual machine.
          description: If omitted, the default value is true.
      title: Windows operating system settings to apply to the virtual machine.
    OSDisk:
      type: object
      properties:
        ephemeralOSDiskSettings:
          $ref: '#/components/schemas/DiffDiskSettings'
          title: Specifies the ephemeral Disk Settings for the operating system disk used by the virtual machine.
        caching:
          $ref: '#/components/schemas/CachingType'
          title: 'Specifies the caching requirements. Possible values are: None, ReadOnly, ReadWrite. The default values are: None for Standard storage. ReadOnly for Premium storage.'
        managedDisk:
          $ref: '#/components/schemas/ManagedDisk'
          title: The managed disk parameters.
        diskSizeGB:
          type: integer
          format: int32
          title: The initial disk size in GB when creating new OS disk.
        writeAcceleratorEnabled:
          type: boolean
          title: Specifies whether writeAccelerator should be enabled or disabled on the disk.
      title: Settings for the operating system disk of the virtual machine.
    UpgradePolicy:
      type: object
      properties:
        mode:
          type: string
          title: Specifies the mode of an upgrade to virtual machines in the scale set.<br /><br /> Possible values are:<br /><br /> **Manual** - You  control the application of updates to virtual machines in the scale set. You do this by using the manualUpgrade action.<br /><br /> **Automatic** - All virtual machines in the scale set are automatically updated at the same time.<br /><br /> **Rolling** - Scale set performs updates in batches with an optional pause time in between.
          enum:
          - automatic
          - manual
          - rolling
          x-ms-enum:
            name: UpgradeMode
            modelAsString: false
            values:
            - value: automatic
              description: All virtual machines in the scale set are automatically updated at the same time.
            - value: manual
              description: You control the application of updates to virtual machines in the scale set. You do this by using the manualUpgrade action.
            - value: rolling
              description: The existing instances in a scale set are brought down in batches to be upgraded. Once the upgraded batch is complete, the instances will begin taking traffic again and the next batch will begin. This continues until all instances brought up-to-date.
        automaticOSUpgradePolicy:
          $ref: '#/components/schemas/AutomaticOSUpgradePolicy'
          title: Configuration parameters used for performing automatic OS Upgrade.
          description: The configuration parameters used for performing automatic OS upgrade.
        rollingUpgradePolicy:
          $ref: '#/components/schemas/RollingUpgradePolicy'
          title: The configuration parameters used while performing a rolling upgrade.
          description: This property is only supported on Pools with the virtualMachineConfiguration property.
      required:
      - mode
      description: Describes an upgrade policy - automatic, manual, or rolling.
    NodePlacementPolicyType:
      type: string
      title: The placement policy for allocating nodes in the pool.
      description: The default value is regional.
      enum:
      - Regional
      - Zonal
      x-ms-enum:
        name: NodePlacementPolicyType
        modelAsString: false
        values:
        - value: Regional
          description: All nodes in the pool will be allocated in the same region.
        - value: Zonal
          description: Nodes in the pool will be spread across different zones with best effort balancing.
          name: Zonal
    AzureFileShareConfiguration:
      type: object
      properties:
        accountName:
          type: string
          title: The Azure Storage account name.
        azureFileUrl:
          type: string
          title: The Azure Files URL.
          description: This is of the form 'https://{account}.file.core.windows.net/'.
        accountKey:
          type: string
          title: The Azure Storage account key.
          x-ms-secret: true
        relativeMountPath:
          type: string
          title: The relative path on the compute node where the file system will be mounted
          description: All file systems are mounted relative to the Batch mounts directory, accessible via the AZ_BATCH_NODE_MOUNTS_DIR environment variable.
        mountOptions:
          type: string
          title: Additional command line options to pass to the mount command.
          description: These are 'net use' options in Windows and 'mount' options in Linux.
      required:
      - accountName
      - azureFileUrl
      - relativeMountPath
      - accountKey
      title: Information used to connect to an Azure Fileshare.
    ApplicationPackageReference:
      type: object
      properties:
        id:
          type: string
          title: The ID of the application package to install. This must be inside the same batch account as the pool. This can either be a reference to a specific version or the default version if one exists.
        version:
          type: string
          title: The version of the application to deploy. If omitted, the default version is deployed.
          description: If this is omitted, and no default version is specified for this application, the request fails with the error code InvalidApplicationPackageReferences. If you are calling the REST API directly, the HTTP status code is 409.
      title: Link to an application package inside the batch account
      required:
      - id
    Pool:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/PoolProperties'
          description: The properties associated with the pool.
        identity:
          title: The type of identity used for the Batch Pool.
          description: The type of identity used for the Batch Pool.
          $ref: '#/components/schemas/BatchPoolIdentity'
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: Contains information about a pool.
    EnvironmentSetting:
      type: object
      properties:
        name:
          type: string
          title: The name of the environment variable.
        value:
          type: string
          title: The value of the environment variable.
      required:
      - name
      title: An environment variable to be set on a task process.
    TaskContainerSettings:
      type: object
      properties:
        containerRunOptions:
          type: string
          title: Additional options to the container create command.
          description: These additional options are supplied as arguments to the "docker create" command, in addition to those controlled by the Batch Service.
        imageName:
          type: string
          title: The image to use to create the container in which the task will run.
          description: This is the full image reference, as would be specified to "docker pull". If no tag is provided as part of the image name, the tag ":latest" is used as a default.
        registry:
          $ref: '#/components/schemas/ContainerRegistry'
          title: The private registry which contains the container image.
          description: This setting can be omitted if was already provided at pool creation.
        workingDirectory:
          type: string
          title: A flag to indicate where the container task working directory is. The default is 'taskWorkingDirectory'.
          enum:
          - TaskWorkingDirectory
          - ContainerImageDefault
          x-ms-enum:
            name: ContainerWorkingDirectory
            modelAsString: false
            values:
            - value: TaskWorkingDirectory
              description: Use the standard Batch service task working directory, which will contain the Task resource files populated by Batch.
            - value: ContainerImageDefault
              description: Using container image defined working directory. Beware that this directory will not contain the resource files downloaded by Batch.
      required:
      - imageName
      title: The container settings for a task.
    TaskSchedulingPolicy:
      type: object
      properties:
        nodeFillType:
          type: string
          default: Spread
          title: How tasks should be distributed across compute nodes.
          enum:
          - Spread
          - Pack
          x-ms-enum:
            name: ComputeNodeFillType
            modelAsString: false
            values:
            - value: Spread
              description: Tasks should be assigned evenly across all nodes in the pool.
            - value: Pack
              description: As many tasks as possible (taskSlotsPerNode) should be assigned to each node in the pool before any tasks are assigned to the next node in the pool.
      required:
      - nodeFillType
      title: Specifies how tasks should be distributed across compute nodes.
    CloudErrorBody:
      type: object
      x-ms-external: true
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of the property in error.
        details:
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          x-ms-identifiers:
          - message
          - target
          description: A list of additional details about the error.
      description: An error response from the Batch service.
    IPAddressProvisioningType:
      type: string
      title: The provisioning type for Public IP Addresses for the Batch Pool.
      enum:
      - BatchManaged
      - UserManaged
      - NoPublicIPAddresses
      x-ms-enum:
        name: IPAddressProvisioningType
        modelAsString: false
        values:
        - value: BatchManaged
          description: A public IP will be created and managed by Batch. There may be multiple public IPs depending on the size of the Pool.
        - value: UserManaged
          description: Public IPs are provided by the user and will be used to provision the Compute Nodes.
        - value: NoPublicIPAddresses
          description: No public IP Address will be created for the Compute Nodes in the Pool.
    ResizeOperationStatus:
      type: object
      properties:
        targetDedicatedNodes:
          type: integer
          format: int32
          title: The desired number of dedicated compute nodes in the pool.
        targetLowPriorityNodes:
          type: integer
          format: int32
          title: The desired number of Spot/low-priority compute nodes in the pool.
        resizeTimeout:
          type: string
          format: duration
          title: The timeout for allocation of compute nodes to the pool or removal of compute nodes from the pool.
          description: The default value is 15 minutes. The minimum value is 5 minutes. If you specify a value less than 5 minutes, the Batch service returns an error; if you are calling the REST API directly, the HTTP status code is 400 (Bad Request).
        nodeDeallocationOption:
          title: Determines what to do with a node and its running task(s) if the pool size is decreasing.
          description: The default value is requeue.
          $ref: '#/components/schemas/ComputeNodeDeallocationOption'
        startTime:
          type: string
          format: date-time
          title: The time when this resize operation was started.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ResizeError'
          x-ms-identifiers:
          - code
          title: Details of any errors encountered while performing the last resize on the pool.
          description: This property is set only if an error occurred during the last pool resize, and only when the pool allocationState is Steady.
      title: Details about the current or last completed resize operation.
      description: Describes either the current operation (if the pool AllocationState is Resizing) or the previously completed operation (if the AllocationState is Steady).
    SecurityProfile:
      type: object
      properties:
        securityType:
          type: string
          title: Specifies the SecurityType of the virtual machine. It has to be set to any specified value to enable UefiSettings.
          enum:
          - trustedLaunch
          x-ms-enum:
            name: SecurityTypes
            modelAsString: false
            values:
            - value: trustedLaunch
              description: Trusted launch protects against advanced and persistent attack techniques.
        encryptionAtHost:
          type: boolean
          description: This property can be used by user in the request to enable or disable the Host Encryption for the virtual machine or virtual machine scale set. This will enable the encryption for all the disks including Resource/Temp disk at host itself.
        uefiSettings:
          $ref: '#/components/schemas/UefiSettings'
          title: Specifies the security settings like secure boot and vTPM used while creating the virtual machine.
          description: Specifies the security settings like secure boot and vTPM used while creating the virtual machine.
      description: Specifies the security profile settings for the virtual machine or virtual machine scale set.
    ImageReference:
      type: object
      properties:
        publisher:
          type: string
          title: The publisher of the Azure Virtual Machines Marketplace image.
          description: For example, Canonical or MicrosoftWindowsServer.
        offer:
          type: string
          title: The offer type of the Azure Virtual Machines Marketplace image.
          description: For example, UbuntuServer or WindowsServer.
        sku:
          type: string
          title: The SKU of the Azure Virtual Machines Marketplace image.
          description: For example, 18.04-LTS or 2022-datacenter.
        version:
          type: string
          title: The version of the Azure Virtual Machines Marketplace image.
          description: A value of 'latest' can be specified to select the latest version of an image. If omitted, the default is 'latest'.
        id:
          type: string
          title: The ARM resource identifier of the Azure Compute Gallery Image. Compute Nodes in the Pool will be created using this Image Id. This is of the form /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/galleries/{galleryName}/images/{imageDefinitionName}/versions/{versionId}.
          description: This property is mutually exclusive with other properties. The Azure Compute Gallery Image must have replicas in the same region as the Azure Batch account. For information about the firewall settings for the Batch node agent to communicate with the Batch service see https://docs.microsoft.com/en-us/azure/batch/batch-api-basics#virtual-network-vnet-and-firewall-configuration.
      title: A reference to an Azure Virtual Machines Marketplace image or the Azure Image resource of a custom Virtual Machine. To get the list of all imageReferences verified by Azure Batch, see the 'List supported node agent SKUs' operation.
    ContainerRegistry:
      type: object
      properties:
        username:
          type: string
          x-ms-client-name: userName
          title: The user name to log into the registry server.
        password:
          type: string
          title: The password to log into the registry server.
          x-ms-secret: true
        registryServer:
          type: string
          title: The registry URL.
          description: If omitted, the default is "docker.io".
        identityReference:
          title: The reference to the user assigned identity to use to access an Azure Container Registry instead of username and password.
          $ref: '#/components/schemas/ComputeNodeIdentityReference'
      title: A private container registry.
    UefiSettings:
      type: object
      properties:
        secureBootEnabled:
          type: boolean
          description: Specifies whether secure boot should be enabled on the virtual machine.
        vTpmEnabled:
          type: boolean
          description: Specifies whether vTPM should be enabled on the virtual machine.
      description: Specifies the security settings like secure boot and vTPM used while creating the virtual machine.
    AutoUserSpecification:
      type: object
      properties:
        scope:
          type: string
          title: The scope for the auto user
          description: The default value is Pool. If the pool is running Windows a value of Task should be specified if stricter isolation between tasks is required. For example, if the task mutates the registry in a way which could impact other tasks, or if certificates have been specified on the pool which should not be accessible by normal tasks but should be accessible by start tasks.
          enum:
          - Task
          - Pool
          x-ms-enum:
            name: AutoUserScope
            modelAsString: false
            values:
            - value: Task
              description: Specifies that the service should create a new user for the task.
            - value: Pool
              description: Specifies that the task runs as the common auto user account which is created on every node in a pool.
        elevationLevel:
          title: The elevation level of the auto user.
          description: The default value is nonAdmin.
          $ref: '#/components/schemas/ElevationLevel'
      title: Specifies the parameters for the auto user that runs a task on the Batch service.
    NodePlacementConfiguration:
      title: Node placement configuration for batch pools.
      description: Allocation configuration used by Batch Service to provision the nodes.
      type: object
      properties:
        policy:
          $ref: '#/components/schemas/NodePlacementPolicyType'
          title: Node placement Policy type on Batch Pools.
          description: Allocation policy used by Batch Service to provision the nodes. If not specified, Batch will use the regional policy.
    ProxyResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: The ID of the resource.
        name:
          readOnly: true
          type: string
          description: The name of the resource.
        type:
          readOnly: true
          type: string
          description: The type of the resource.
        etag:
          readOnly: true
          type: string
          description: The ETag of the resource, used for concurrency statements.
      description: A definition of an Azure resource.
      x-ms-azure-resource: true
    StartTask:
      type: object
      properties:
        commandLine:
          type: string
          title: The command line of the start task.
          description: The command line does not run under a shell, and therefore cannot take advantage of shell features such as environment variable expansion. If you want to take advantage of such features, you should invoke the shell in the command line, for example using "cmd /c MyCommand" in Windows or "/bin/sh -c MyCommand" in Linux. Required if any other properties of the startTask are specified.
        resourceFiles:
          type: array
          items:
            $ref: '#/components/schemas/ResourceFile'
          x-ms-identifiers:
          - httpUrl
          title: A list of files that the Batch service will download to the compute node before running the command line.
        environmentSettings:
          type: array
          items:
            $ref: '#/components/schemas/EnvironmentSetting'
          x-ms-identifiers:
          - name
          title: A list of environment variable settings for the start task.
        userIdentity:
          $ref: '#/components/schemas/UserIdentity'
          title: The user identity under which the start task runs.
          description: If omitted, the task runs as a non-administrative user unique to the task.
        maxTaskRetryCount:
          type: integer
          format: int32
          default: 0
          title: The maximum number of times the task may be retried.
          description: The Batch service retries a task if its exit code is nonzero. Note that this value specifically controls the number of retries. The Batch service will try the task once, and may then retry up to this limit. For example, if the maximum retry count is 3, Batch tries the task up to 4 times (one initial try and 3 retries). If the maximum retry count is 0, the Batch service does not retry the task. If the maximum retry count is -1, the Batch service retries the task without limit. Default is 0
        waitForSuccess:
          type: boolean
          title: Whether the Batch service should wait for the start task to complete successfully (that is, to exit with exit code 0) before scheduling any tasks on the compute node.
          description: If true and the start task fails on a compute node, the Batch service retries the start task up to its maximum retry count (maxTaskRetryCount). If the task has still not completed successfully after all retries, then the Batch service marks the compute node unusable, and will not schedule tasks to it. This condition can be detected via the node state and scheduling error detail. If false, the Batch service will not wait for the start task to complete. In this case, other tasks can start executing on the compute node while the start task is still running; and even if the start task fails, new tasks will continue to be scheduled on the node. The default is true.
        containerSettings:
          $ref: '#/components/schemas/TaskContainerSettings'
          title: The settings for the container under which the start task runs.
          description: When this is specified, all directories recursively below the AZ_BATCH_NODE_ROOT_DIR (the root of Azure Batch directories on the node) are mapped into the container, all task environment variables are mapped into the container, and the task command line is executed in the container.
      title: A task which is run when a compute node joins a pool in the Azure Batch service, or when the compute node is rebooted or reimaged.
      description: In some cases the start task may be re-run even though the node was not rebooted. Due to this, start tasks should be idempotent and exit gracefully if the setup they're performing has already been done. Special care should be taken to avoid start tasks which create breakaway process or install/launch services from the start task working directory, as this will block Batch from being able to re-run the start task.
    AutoScaleSettings:
      type: object
      properties:
        formula:
          type: string
          title: A formula for the desired number of compute nodes in the pool.
          externalDocs:
            url: https://docs.microsoft.com/en-us/azure/batch/batch-automatic-scaling
            description: Create an automatic scaling formula for scaling compute nodes in a Batch pool
        evaluationInterval:
          type: string
          format: duration
          title: The time interval at which to automatically adjust the pool size according to the autoscale formula.
          description: If omitted, the default value is 15 minutes (PT15M).
      required:
      - formula
      title: AutoScale settings for the pool.
    DiffDiskSettings:
      type: object
      properties:
        placement:
          $ref: '#/components/schemas/DiffDiskPlacement'
          title: Specifies the ephemeral disk placement for operating system disk for all VMs in the pool.
          description: This property can be used by user in the request to choose which location the operating system should be in. e.g., cache disk space for Ephemeral OS disk provisioning. For more information on Ephemeral OS disk size requirements, please refer to Ephemeral OS disk size requirements for Windows VMs at https://docs.microsoft.com/en-us/azure/virtual-machines/windows/ephemeral-os-disks#size-requirements and Linux VMs at https://docs.microsoft.com/en-us/azure/virtual-machines/linux/ephemeral-os-disks#size-requirements.
      title: Specifies the ephemeral Disk Settings for the operating system disk used by the virtual machine.
    NetworkConfiguration:
      type: object
      properties:
        subnetId:
          type: string
          title: The ARM resource identifier of the virtual network subnet which the compute nodes of the pool will join. This is of the form /subscriptions/{subscription}/resourceGroups/{group}/providers/{provider}/virtualNetworks/{network}/subnets/{subnet}.
          description: 'The virtual network must be in the same region and subscription as the Azure Batch account. The specified subnet should have enough free IP addresses to accommodate the number of nodes in the pool. If the subnet doesn''t have enough free IP addresses, the pool will partially allocate compute nodes and a resize error will occur. The ''MicrosoftAzureBatch'' service principal must have the ''Classic Virtual Machine Contributor'' Role-Based Access Control (RBAC) role for the specified VNet. The specified subnet must allow communication from the Azure Batch service to be able to schedule tasks on the compute nodes. This can be verified by checking if the specified VNet has any associated Network Security Groups (NSG). If communication to the compute nodes in the specified subnet is denied by an NSG, then the Batch service will set the state of the compute nodes to unusable. If the specified VNet has any associated Network Security Groups (NSG), then a few reserved system ports must be enabled for inbound communication. For pools created with a virtual machine configuration, enable ports 29876 and 29877, as well as port 22 for Linux and port 3389 for Windows. For pools created with a cloud service configuration, enable ports 10100, 20100, and 30100. Also enable outbound connections to Azure Storage on port 443. For cloudServiceConfiguration pools, only ''classic'' VNETs are supported. For more details see: https://docs.microsoft.com/en-us/azure/batch/batch-api-basics#virtual-network-vnet-and-firewall-configuration'
          externalDocs:
            url: https://azure.microsoft.com/en-us/documentation/articles/role-based-access-built-in-roles/#classic-virtual-machine-contributor
            description: Setting up RBAC for Azure Batch VNets
        dynamicVnetAssignmentScope:
          type: string
          title: The scope of dynamic vnet assignment.
          default: none
          enum:
          - none
          - job
          x-ms-enum:
            name: DynamicVNetAssignmentScope
            modelAsString: false
            values:
            - value: none
              description: No dynamic VNet assignment is enabled.
            - value: job
              description: Dynamic VNet assignment is done per-job. If this value is set, the network configuration subnet ID must also be set. This feature requires approval before use, please contact support
        endpointConfiguration:
          $ref: '#/components/schemas/PoolEndpointConfiguration'
          title: The configuration for endpoints on compute nodes in the Batch pool.
          description: Pool endpoint configuration is only supported on pools with the virtualMachineConfiguration property.
        publicIPAddressConfiguration:
          $ref: '#/components/schemas/PublicIPAddressConfiguration'
          title: The Public IPAddress configuration for Compute Nodes in the Batch Pool.
          description: This property is only supported on Pools with the virtualMachineConfiguration property.
        enableAcceleratedNetworking:
          type: boolean
          title: Whether this pool should enable accelerated networking.
          description: 'Accelerated networking enables single root I/O virtualization (SR-IOV) to a VM, which may lead to improved networking performance. For more details, see: https://learn.microsoft.com/azure/virtual-network/accelerated-networking-overview.'
          externalDocs:
            url: https://learn.microsoft.com/azure/virtual-network/accelerated-networking-overview
            description: Create a VM with Accelerated Networking.
      description: The network configuration for a pool.
    StorageAccountType:
      type: string
      title: The storage account type for use in creating data disks or OS disk.
      enum:
      - Standard_LRS
      - Premium_LRS
      - StandardSSD_LRS
      x-ms-enum:
        name: StorageAccountType
        modelAsString: false
        values:
        - value: Standard_LRS
          description: The data disk / OS disk should use standard locally redundant storage.
        - value: Premium_LRS
          description: The data disk / OS disk should use premium locally redundant storage.
        - value: StandardSSD_LRS
          description: The data disk / OS disk should use standard SSD locally redundant storage.
    ResourceFile:
      type: object
      properties:
        autoStorageContainerName:
          type: string
          title: The storage container name in the auto storage account.
          description: The autoStorageContainerName, storageContainerUrl and httpUrl properties are mutually exclusive and one of them must be specified.
        storageContainerUrl:
          type: string
          title: The URL of the blob container within Azure Blob Storage.
          description: 'The autoStorageContainerName, storageContainerUrl and httpUrl properties are mutually exclusive and one of them must be specified. This URL must be readable and listable from compute nodes. There are three ways to get such a URL for a container in Azure storage: include a Shared Access Signature (SAS) granting read and list permissions on the container, use a managed identity with read and list permissions, or set the ACL for the container to allow public access.'
        httpUrl:
          type: string
          title: The URL of the file to download.
          description: 'The autoStorageContainerName, storageContainerUrl and httpUrl properties are mutually exclusive and one of them must be specified. If the URL points to Azure Blob Storage, it must be readable from compute nodes. There are three ways to get such a URL for a blob in Azure storage: include a Shared Access Signature (SAS) granting read permissions on the blob, use a managed identity with read permission, or set the ACL for the blob or its container to allow public access.'
        blobPrefix:
          type: string
          title: The blob prefix to use when downloading blobs from an Azure Storage container. Only the blobs whose names begin with the specified prefix will be downloaded.
          description: The property is valid only when autoStorageContainerName or storageContainerUrl is used. This prefix can be a partial filename or a subdirectory. If a prefix is not specified, all the files in the container will be downloaded.
        filePath:
          type: string
          title: The location on the compute node to which to download the file, relative to the task's working directory.
          description: If the httpUrl property is specified, the filePath is required and describes the path which the file will be downloaded to, including the filename. Otherwise, if the autoStorageContainerName or storageContainerUrl property is specified, filePath is optional and is the directory to download the files to. In the case where filePath is used as a directory, any directory structure already associated with the input data will be retained in full and appended to the specified filePath directory. The specified relative path cannot break out of the task's working directory (for example by using '..').
        fileMode:
          type: string
          title: The file permission mode attribute in octal format.
          description: This property applies only to files being downloaded to Linux compute nodes. It will be ignored if it is specified for a resourceFile which will be downloaded to a Windows node. If this property is not specified for a Linux node, then a default value of 0770 is applied to the file.
        identityReference:
          title: The reference to the user assigned identity to use to access Azure Blob Storage specified by storageContainerUrl or httpUrl
          $ref: '#/components/schemas/ComputeNodeIdentityReference'
      title: A single file or multiple files to be downloaded to a compute node.
    CachingType:
      type: string
      title: The type of caching to enable for the disk.
      enum:
      - None
      - ReadOnly
      - ReadWrite
      x-ms-enum:
        name: CachingType
        modelAsString: false
        values:
        - value: None
          description: The caching mode for the disk is not enabled.
        - value: ReadOnly
          description: The caching mode for the disk is read only.
        - value: ReadWrite
          description: The caching mode for the disk is read and write.
    DeploymentConfiguration:
      type: object
      properties:
        cloudServiceConfiguration:
          $ref: '#/components/schemas/CloudServiceConfiguration'
          title: The cloud service configuration for the pool.
          description: This property and virtualMachineConfiguration are mutually exclusive and one of the properties must be specified. This property cannot be specified if the Batch account was created with its poolAllocationMode property set to 'UserSubscription'.
        virtualMachineConfiguration:
          $ref: '#/components/schemas/VirtualMachineConfiguration'
          title: The virtual machine configuration for the pool.
          description: This property and cloudServiceConfiguration are mutually exclusive and one of the properties must be specified.
      title: Deployment configuration properties.
    RollingUpgradePolicy:
      type: object
      properties:
        enableCrossZoneUpgrade:
          type: boolean
          description: Allow VMSS to ignore AZ boundaries when constructing upgrade batches. Take into consideration the Update Domain and maxBatchInstancePercent to determine the batch size. If this field is not set, Azure Azure Batch will not set its default value. The value of enableCrossZoneUpgrade on the created VirtualMachineScaleSet will be decided by the default configurations on VirtualMachineScaleSet. This field is able to be set to true or false only when using NodePlacementConfiguration as Zonal.
        maxBatchInstancePercent:
          type: integer
          format: int32
          minimum: 5
          maximum: 100
          description: The maximum percent of total virtual machine instances that will be upgraded simultaneously by the rolling upgrade in one batch. As this is a maximum, unhealthy instances in previous or future batches can cause the percentage of instances in a batch to decrease to ensure higher reliability. The value of this field should be between 5 and 100, inclusive. If both maxBatchInstancePercent and maxUnhealthyInstancePercent are assigned with value, the value of maxBatchInstancePercent should not be more than maxUnhealthyInstancePercent.
        maxUnhealthyInstancePercent:
          type: integer
          format: int32
          minimum: 5
          maximum: 100
          description: The maximum percentage of the total virtual machine instances in the scale set that can be simultaneously unhealthy, either as a result of being upgraded, or by being found in an unhealthy state by the virtual machine health checks before the rolling upgrade aborts. This constraint will be checked prior to starting any batch. The value of this field should be between 5 and 100, inclusive. If both maxBatchInstancePercent and maxUnhealthyInstancePercent are assigned with value, the value of maxBatchInstancePercent should not be more than maxUnhealthyInstancePercent.
        maxUnhealthyUpgradedInstancePercent:
          type: integer
          format: int32
          minimum: 0
          maximum: 100
          description: The maximum percentage of upgraded virtual machine instances that can be found to be in an unhealthy state. This check will happen after each batch is upgraded. If this percentage is ever exceeded, the rolling update aborts. The value of this field should be between 0 and 100, inclusive.
        pauseTimeBetweenBatches:
          type: string
          description: The wait time between completing the update for all virtual machines in one batch and starting the next batch. The time duration should be specified in ISO 8601 format.
        prioritizeUnhealthyInstances:
          type: boolean
          description: Upgrade all unhealthy instances in a scale set before any healthy instances.
        rollbackFailedInstancesOnPolicyBreach:
          type: boolean
          description: Rollback failed instances to previous model if the Rolling Upgrade policy is violated.
      description: The configuration parameters used while performing a rolling upgrade.
    DiffDiskPlacement:
      type: string
      title: Specifies the ephemeral disk placement for operating system disk for all VMs in the pool.
      description: This property can be used by user in the request to choose which location the operating system should be in. e.g., cache disk space for Ephemeral OS disk provisioning. For more information on Ephemeral OS disk size requirements, please refer to Ephemeral OS disk size requirements for Windows VMs at https://docs.microsoft.com/en-us/azure/virtual-machines/windows/ephemeral-os-disks#size-requirements and Linux VMs at https://docs.microsoft.com/en-us/azure/virtual-machines/linux/ephemeral-os-disks#size-requirements
      enum:
      - CacheDisk
      x-ms-enum:
        name: DiffDiskPlacement
        modelAsString: false
        values:
        - value: CacheDisk
          description: The Ephemeral OS Disk is stored on the VM cache.
          name: CacheDisk
    CloudServiceConfiguration:
      type: object
      properties:
        osFamily:
          type: string
          title: The Azure Guest OS family to be installed on the virtual machines in the pool.
          description: 'Possible values are: 2 - OS Family 2, equivalent to Windows Server 2008 R2 SP1. 3 - OS Family 3, equivalent to Windows Server 2012. 4 - OS Family 4, equivalent to Windows Server 2012 R2. 5 - OS Family 5, equivalent to Windows Server 2016. 6 - OS Family 6, equivalent to Windows Server 2019. For more information, see Azure Guest OS Releases (https://azure.microsoft.com/documentation/articles/cloud-services-guestos-update-matrix/#releases).'
        osVersion:
          type: string
          title: The Azure Guest OS version to be installed on the virtual machines in the pool.
          description: The default value is * which specifies the latest operating system version for the specified OS family.
      required:
      - osFamily
      title: The configuration for nodes in a pool based on the Azure Cloud Services platform.
    NodeCommunicationMode:
      type: string
      title: Determines how a pool communicates with the Batch service.
      enum:
      - Default
      - Classic
      - Simplified
      x-ms-enum:
        name: NodeCommunicationMode
        modelAsString: false
        values:
        - value: Default
          description: The node communication mode is automatically set by the Batch service.
        - value: Classic
          description: Nodes using the Classic communication mode require inbound TCP communication on ports 29876 and 29877 from the "BatchNodeManagement.{region}" service tag and outbound TCP communication on port 443 to the "Storage.region" and "BatchNodeManagement.{region}" service tags.
        - value: Simplified
          description: Nodes using the Simplified communication mode require outbound TCP communication on port 443 to the "BatchNodeManagement.{region}" service tag. No open inbound ports are required.
    LinuxUserConfiguration:
      type: object
      properties:
        uid:
          type: integer
          format: int32
          title: The user ID of the user account.
          description: The uid and gid properties must be specified together or not at all. If not specified the underlying operating system picks the uid.
        gid:
          type: integer
          format: int32
          title: The group ID for the user account.
          description: The uid and gid properties must be specified together or not at all. If not specified the underlying operating system picks the gid.
        sshPrivateKey:
          type: string
          title: The SSH private key for the user account.
          description: The private key must not be password protected. The private key is used to automatically configure asymmetric-key based authentication for SSH between nodes in a Linux pool when the pool's enableInterNodeCommunication property is true (it is ignored if enableInterNodeCommunication is false). It does this by placing the key pair into the user's .ssh directory. If not specified, password-less SSH is not configured between nodes (no modification of the user's .ssh directory is done).
          x-ms-secret: true
      title: Properties used to create a user account on a Linux node.
    AutoScaleRun:
      type: object
      properties:
        evaluationTime:
          type: string
          format: date-time
          title: The time at which the autoscale formula was last evaluated.
        results:
          type: string
          title: The final values of all variables used in the evaluation of the autoscale formula.
          description: Each variable value is returned in the form $variable=value, and variables are separated by semicolons.
        error:
          $ref: '#/components/schemas/AutoScaleRunError'
          title: Details of the error encountered evaluating the autoscale formula on the pool, if the evaluation was unsuccessful.
      required:
      - evaluationTime
      title: The results and errors from an execution of a pool autoscale formula.
    DiskEncryptionConfiguration:
      type: object
      properties:
        targets:
          type: array
          items:
            type: string
            title: The disks to encrypt on each compute node.
            description: If omitted, no disks on the compute nodes in the pool will be encrypted.
            enum:
            - OsDisk
            - TemporaryDisk
            x-ms-enum:
              name: DiskEncryptionTarget
              modelAsString: false
              values:
              - value: OsDisk
                description: The OS Disk on the compute node is encrypted.
                name: OsDisk
              - value: TemporaryDisk
                description: The temporary disk on the compute node is encrypted. On Linux this encryption applies to other partitions (such as those on mounted data disks) when encryption occurs at boot time.
                name: TemporaryDisk
          title: The list of disk targets Batch Service will encrypt on the compute node
          description: On Linux pool, only "TemporaryDisk" is supported; on Windows pool, "OsDisk" and "TemporaryDisk" must be specified.
      description: The disk encryption configuration applied on compute nodes in the pool. Disk encryption configuration is not supported on Linux pool created with Virtual Machine Image or Azure Compute Gallery Image.
    PoolEndpointConfiguration:
      type: object
      properties:
        inboundNatPools:
          type: array
          items:
            $ref: '#/components/schemas/InboundNatPool'
          x-ms-identifiers:
          - name
          title: A list of inbound NAT pools that can be used to address specific ports on an individual compute node externally.
          description: The maximum number of inbound NAT pools per Batch pool is 5. If the maximum number of inbound NAT pools is exceeded the request fails with HTTP status code 400. This cannot be specified if the IPAddressProvisioningType is NoPublicIPAddresses.
      required:
      - inboundNatPools
      title: The endpoint configuration for a pool.
    MountConfiguration:
      type: object
      properties:
        azureBlobFileSystemConfiguration:
          $ref: '#/components/schemas/AzureBlobFileSystemConfiguration'
          title: The Azure Storage Container to mount using blob FUSE on each node.
          description: This property is mutually exclusive with all other properties.
        nfsMountConfiguration:
          $ref: '#/components/schemas/NFSMountConfiguration'
          title: The NFS file system to mount on each node.
          description: This property is mutually exclusive with all other properties.
        cifsMountConfiguration:
          $ref: '#/components/schemas/CIFSMountConfiguration'
          title: The CIFS/SMB file system to mount on each node.
          description: This property is mutually exclusive with all other properties.
        azureFileShareConfiguration:
          $ref: '#/components/schemas/AzureFileShareConfiguration'
          title: The Azure File Share to mount on each node.
          description: This property is mutually exclusive with all other properties.
      title: The file system to mount on each node.
    PublicIPAddressConfiguration:
      type: object
      properties:
        provision:
          $ref: '#/components/schemas/IPAddressProvisioningType'
          title: The provisioning type for Public IP Addresses for the pool
          description: The default value is BatchManaged
        ipAddressIds:
          type: array
          items:
            type: string
          title: The list of public IPs which the Batch service will use when provisioning Compute Nodes.
          description: 'The number of IPs specified here limits the maximum size of the Pool - 100 dedicated nodes or 100 Spot/low-priority nodes can be allocated for each public IP. For example, a pool needing 250 dedicated VMs would need at least 3 public IPs specified. Each element of this collection is of the form: /subscriptions/{subscription}/resourceGroups/{group}/providers/Microsoft.Network/publicIPAddresses/{ip}.'
      description: The public IP Address configuration of the networking configuration of a Pool.
    FixedScaleSettings:
      type: object
      properties:
        resizeTimeout:
          type: string
          format: duration
          default: PT15M
          title: The timeout for allocation of compute nodes to the pool.
          description: The default value is 15 minutes. Timeout values use ISO 8601 format. For example, use PT10M for 10 minutes. The minimum value is 5 minutes. If you specify a value less than 5 minutes, the Batch service rejects the request with an error; if you are calling the REST API directly, the HTTP status code is 400 (Bad Request).
        targetDedicatedNodes:
          type: integer
          format: int32
          title: The desired number of dedicated compute nodes in the pool.
          description: At least one of targetDedicatedNodes, targetLowPriorityNodes must be set.
        targetLowPriorityNodes:
          type: integer
          format: int32
          title: The desired number of Spot/low-priority compute nodes in the pool.
          description: At least one of targetDedicatedNodes, targetLowPriorityNodes must be set.
        nodeDeallocationOption:
          title: Determines what to do with a node and its running task(s) if the pool size is decreasing.
          description: If omitted, the default value is Requeue.
          $ref: '#/components/schemas/ComputeNodeDeallocationOption'
          x-ms-mutability:
          - create
          - update
      title: Fixed scale settings for the pool.
    PoolProperties:
      type: object
      properties:
        displayName:
          type: string
          title: The display name for the pool.
          description: The display name need not be unique and can contain any Unicode characters up to a maximum length of 1024.
        lastModified:
          type: string
          format: date-time
          title: The last modified time of the pool.
          description: This is the last time at which the pool level data, such as the targetDedicatedNodes or autoScaleSettings, changed. It does not factor in node-level changes such as a compute node changing state.
          readOnly: true
        creationTime:
          type: string
          format: date-time
          title: The creation time of the pool.
          readOnly: true
        provisioningState:
          type: string
          title: The current state of the pool.
          enum:
          - Succeeded
          - Deleting
          x-ms-enum:
            name: PoolProvisioningState
            modelAsString: false
            values:
            - value: Succeeded
              description: The pool is available to run tasks subject to the availability of compute nodes.
            - value: Deleting
              description: The user has requested that the pool be deleted, but the delete operation has not yet completed.
          readOnly: true
        provisioningStateTransitionTime:
          type: string
          format: date-time
          title: The time at which the pool entered its current state.
          readOnly: true
        allocationState:
          type: string
          title: Whether the pool is resizing.
          enum:
          - Steady
          - Resizing
          - Stopping
          x-ms-enum:
            name: AllocationState
            modelAsString: false
            values:
            - value: Steady
              description: The pool is not resizing. There are no changes to the number of nodes in the pool in progress. A pool enters this state when it is created and when no operations are being performed on the pool to change the number of nodes.
            - value: Resizing
              description: The pool is resizing; that is, compute nodes are being added to or removed from the pool.
            - value: Stopping
              description: The pool was resizing, but the user has requested that the resize be stopped, but the stop request has not yet been completed.
          readOnly: true
        allocationStateTransitionTime:
          type: string
          format: date-time
          title: The time at which the pool entered its current allocation state.
          readOnly: true
        vmSize:
          type: string
          title: The size of virtual machines in the pool. All VMs in a pool are the same size.
          description: For information about available sizes of virtual machines for Cloud Services pools (pools created with cloudServiceConfiguration), see Sizes for Cloud Services (https://azure.microsoft.com/documentation/articles/cloud-services-sizes-specs/). Batch supports all Cloud Services VM sizes except ExtraSmall. For information about available VM sizes for pools using images from the Virtual Machines Marketplace (pools created with virtualMachineConfiguration) see Sizes for Virtual Machines (Linux) (https://azure.microsoft.com/documentation/articles/virtual-machines-linux-sizes/) or Sizes for Virtual Machines (Windows) (https://azure.microsoft.com/documentation/articles/virtual-machines-windows-sizes/). Batch supports all Azure VM sizes except STANDARD_A0 and those with premium storage (STANDARD_GS, STANDARD_DS, and STANDARD_DSV2 series).
        deploymentConfiguration:
          $ref: '#/components/schemas/DeploymentConfiguration'
          title: This property describes how the pool nodes will be deployed - using Cloud Services or Virtual Machines.
          description: Using CloudServiceConfiguration specifies that the nodes should be creating using Azure Cloud Services (PaaS), while VirtualMachineConfiguration uses Azure Virtual Machines (IaaS).
        currentDedicatedNodes:
          type: integer
          format: int32
          title: The number of dedicated compute nodes currently in the pool.
          readOnly: true
        currentLowPriorityNodes:
          type: integer
          format: int32
          title: The number of Spot/low-priority compute nodes currently in the pool.
          readOnly: true
        scaleSettings:
          $ref: '#/components/schemas/ScaleSettings'
          title: Settings which configure the number of nodes in the pool.
        autoScaleRun:
          $ref: '#/components/schemas/AutoScaleRun'
          title: The results and errors from the last execution of the autoscale formula.
          description: This property is set only if the pool automatically scales, i.e. autoScaleSettings are used.
          readOnly: true
        interNodeCommunication:
          type: string
          enum:
          - Enabled
          - Disabled
          x-ms-enum:
            name: InterNodeCommunicationState
            modelAsString: false
            values:
            - value: Enabled
              description: Enable network communication between virtual machines.
            - value: Disabled
              description: Disable network communication between virtual machines.
          title: Whether the pool permits direct communication between nodes.
          description: This imposes restrictions on which nodes can be assigned to the pool. Enabling this value can reduce the chance of the requested number of nodes to be allocated in the pool. If not specified, this value defaults to 'Disabled'.
        networkConfiguration:
          $ref: '#/components/schemas/NetworkConfiguration'
          title: The network configuration for the pool.
        taskSlotsPerNode:
          type: integer
          format: int32
          default: 1
          title: The number of task slots that can be used to run concurrent tasks on a single compute node in the pool.
          description: The default value is 1. The maximum value is the smaller of 4 times the number of cores of the vmSize of the pool or 256.
        taskSchedulingPolicy:
          $ref: '#/components/schemas/TaskSchedulingPolicy'
          title: How tasks are distributed across compute nodes in a pool.
          description: If not specified, the default is spread.
        userAccounts:
          type: array
          items:
            $ref: '#/components/schemas/UserAccount'
          x-ms-identifiers:
          - name
          title: The list of user accounts to be created on each node in the pool.
        metadata:
          type: array
          items:
            $ref: '#/components/schemas/MetadataItem'
          x-ms-identifiers:
          - name
          title: A list of name-value pairs associated with the pool as metadata.
          description: The Batch service does not assign any meaning to metadata; it is solely for the use of user code.
        startTask:
          $ref: '#/components/schemas/StartTask'
          title: A task specified to run on each compute node as it joins the pool.
          description: In an PATCH (update) operation, this property can be set to an empty object to remove the start task from the pool.
        certificates:
          type: array
          items:
            $ref: '#/components/schemas/CertificateReference'
          title: The list of certificates to be installed on each compute node in the pool.
          description: 'For Windows compute nodes, the Batch service installs the certificates to the specified certificate store and location. For Linux compute nodes, the certificates are stored in a directory inside the task working directory and an environment variable AZ_BATCH_CERTIFICATES_DIR is supplied to the task to query for this location. For certificates with visibility of ''remoteUser'', a ''certs'' directory is created in the user''s home directory (e.g., /home/{user-name}/certs) and certificates are placed in that directory.


            Warning: This property is deprecated and will be removed after February, 2024. Please use the [Azure KeyVault Extension](https://learn.microsoft.com/azure/batch/batch-certificate-migration-guide) instead.'
        applicationPackages:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationPackageReference'
          title: The list of application packages to be installed on each compute node in the pool.
          description: Changes to application package references affect all new compute nodes joining the pool, but do not affect compute nodes that are already in the pool until they are rebooted or reimaged. There is a maximum of 10 application package references on any given pool.
        applicationLicenses:
          type: array
          items:
            type: string
          title: The list of application licenses the Batch service will make available on each compute node in the pool.
          description: The list of application licenses must be a subset of available Batch service application licenses. If a license is requested which is not supported, pool creation will fail.
        resizeOperationStatus:
          $ref: '#/components/schemas/ResizeOperationStatus'
          title: Contains details about the current or last completed resize operation.
          readOnly: true
        mountConfiguration:
          type: array
          items:
            $ref: '#/components/schemas/MountConfiguration'
          x-ms-identifiers: []
          title: A list of file systems to mount on each node in the pool.
          description: This supports Azure Files, NFS, CIFS/SMB, and Blobfuse.
        targetNodeCommunicationMode:
          title: The desired node communication mode for the pool.
          description: If omitted, the default value is Default.
          $ref: '#/components/schemas/NodeCommunicationMode'
        currentNodeCommunicationMode:
          title: The current state of the pool communication mode.
          $ref: '#/components/schemas/NodeCommunicationMode'
          readOnly: true
        upgradePolicy:
          $ref: '#/components/schemas/UpgradePolicy'
          title: The upgrade policy for the pool.
        resourceTags:
          type: object
          additionalProperties:
            type: string
          title: The user-specified tags associated with the pool.
          description: The user-defined tags to be associated with the Azure Batch Pool. When specified, these tags are propagated to the backing Azure resources associated with the pool. This property can only be specified when the Batch account was created with the poolAllocationMode property set to 'UserSubscription'.
      description: Pool properties.
    InboundNatPool:
      type: object
      properties:
        name:
          type: string
          title: The name of the endpoint.
          description: The name must be unique within a Batch pool, can contain letters, numbers, underscores, periods, and hyphens. Names must start with a letter or number, must end with a letter, number, or underscore, and cannot exceed 77 characters.  If any invalid values are provided the request fails with HTTP status code 400.
        protocol:
          type: string
          title: The protocol of the endpoint.
          enum:
          - TCP
          - UDP
          x-ms-enum:
            name: InboundEndpointProtocol
            modelAsString: false
            values:
            - value: TCP
              description: Use TCP for the endpoint.
            - value: UDP
              description: Use UDP for the endpoint.
        backendPort:
          type: integer
          format: int32
          title: The port number on the compute node.
          description: This must be unique within a Batch pool. Acceptable values are between 1 and 65535 except for 22, 3389, 29876 and 29877 as these are reserved. If any reserved values are provided the request fails with HTTP status code 400.
        frontendPortRangeStart:
          type: integer
          format: int32
          title: The first port number in the range of external ports that will be used to provide inbound access to the backendPort on individual compute nodes.
          description: Acceptable values range between 1 and 65534 except ports from 50000 to 55000 which are reserved. All ranges within a pool must be distinct and cannot overlap. If any reserved or overlapping values are provided the request fails with HTTP status code 400.
        frontendPortRangeEnd:
          type: integer
          format: int32
          title: The last port number in the range of external ports that will be used to provide inbound access to the backendPort on individual compute nodes.
          description: Acceptable values range between 1 and 65534 except ports from 50000 to 55000 which are reserved by the Batch service. All ranges within a pool must be distinct and cannot overlap. If any reserved or overlapping values are provided the request fails with HTTP status code 400.
        networkSecurityGroupRules:
          type: array
          title: A list of network security group rules that will be applied to the endpoint.
          description: The maximum number of rules that can be specified across all the endpoints on a Batch pool is 25. If no network security group rules are specified, a default rule will be created to allow inbound access to the specified backendPort. If the maximum number of network security group rules is exceeded the request fails with HTTP status code 400.
          items:
            $ref: '#/components/schemas/NetworkSecurityGroupRule'
          x-ms-identifiers: []
      required:
      - name
      - protocol
      - backendPort
      - frontendPortRangeStart
      - frontendPortRangeEnd
      title: A inbound NAT pool that can be used to address specific ports on compute nodes in a Batch pool externally.
    ElevationLevel:
      type: string
      title: The elevation level of the user.
      enum:
      - NonAdmin
      - Admin
      x-ms-enum:
        name: ElevationLevel
        modelAsString: false
        values:
        - value: NonAdmin
          description: The user is a standard user without elevated access.
        - value: Admin
          description: The user is a user with elevated access and operates with full Administrator permissions.
    AzureBlobFileSystemConfiguration:
      type: object
      properties:
        accountName:
          type: string
          title: The Azure Storage Account name.
        containerName:
          type: string
          title: The Azure Blob Storage Container name.
        accountKey:
          type: string
          title: The Azure Storage Account key.
          description: This property is mutually exclusive with both sasKey and identity; exactly one must be specified.
          x-ms-secret: true
        sasKey:
          type: string
          title: The Azure Storage SAS token.
          description: This property is mutually exclusive with both accountKey and identity; exactly one must be specified.
          x-ms-secret: true
        blobfuseOptions:
          type: string
          title: Additional command line options to pass to the mount command.
          description: These are 'net use' options in Windows and 'mount' options in Linux.
        relativeMountPath:
          type: string
          title: The relative path on the compute node where the file system will be mounted
          description: All file systems are mounted relative to the Batch mounts directory, accessible via the AZ_BATCH_NODE_MOUNTS_DIR environment variable.
        identityReference:
          title: The reference to the user assigned identity to use to access containerName
          description: This property is mutually exclusive with both accountKey and sasKey; exactly one must be specified.
          $ref: '#/components/schemas/ComputeNodeIdentityReference'
      required:
      - accountName
      - containerName
      - relativeMountPath
      title: Information used to connect to an Azure Storage Container using Blobfuse.
    MetadataItem:
      type: object
      properties:
        name:
          type: string
          title: The name of the metadata item.
        value:
          type: string
          title: The value of the metadata item.
      required:
      - name
      - value
      title: A name-value pair associated with a Batch service resource.
      description: The Batch service does not assign any meaning to this metadata; it is solely for the use of user code.
    UserAccount:
      type: object
      properties:
        name:
          type: string
          title: The name of the user account. Names can contain any Unicode characters up to a maximum length of 20.
        password:
          type: string
          title: The password for the user account.
          x-ms-secret: true
        elevationLevel:
          title: The elevation level of the user account.
          description: nonAdmin - The auto user is a standard user without elevated access. admin - The auto user is a user with elevated access and operates with full Administrator permissions. The default value is nonAdmin.
          $ref: '#/components/schemas/ElevationLevel'
        linuxUserConfiguration:
          title: The Linux-specific user configuration for the user account.
          description: This property is ignored if specified on a Windows pool. If not specified, the user is created with the default options.
          $ref: '#/components/schemas/LinuxUserConfiguration'
        windowsUserConfiguration:
          title: The Windows-specific user configuration for the user account.
          description: This property can only be specified if the user is on a Windows pool. If not specified and on a Windows pool, the user is created with the default options.
          $ref: '#/components/schemas/WindowsUserConfiguration'
      required:
      - name
      - password
      title: Properties used to create a user on an Azure Batch node.
    AutomaticOSUpgradePolicy:
      type: object
      properties:
        disableAutomaticRollback:
          type: boolean
          description: Whether OS image rollback feature should be disabled.
        enableAutomaticOSUpgrade:
          type: boolean
          description: Indicates whether OS upgrades should automatically be applied to scale set instances in a rolling fashion when a newer version of the OS image becomes available. <br /><br /> If this is set to true for Windows based pools, [WindowsConfiguration.enableAutomaticUpdates](https://learn.microsoft.com/en-us/rest/api/batchmanagement/pool/create?tabs=HTTP#windowsconfiguration) cannot be set to true.
        useRollingUpgradePolicy:
          type: boolean
          description: Indicates whether rolling upgrade policy should be used during Auto OS Upgrade. Auto OS Upgrade will fallback to the default policy if no policy is defined on the VMSS.
        osRollingUpgradeDeferral:
          type: boolean
          description: Defer OS upgrades on the TVMs if they are running tasks.
      description: The configuration parameters used for performing automatic OS upgrade.
    ScaleSettings:
      type: object
      properties:
        fixedScale:
          $ref: '#/components/schemas/FixedScaleSettings'
          title: Fixed scale settings for the pool.
          description: This property and autoScale are mutually exclusive and one of the properties must be specified.
        autoScale:
          $ref: '#/components/schemas/AutoScaleSettings'
          title: AutoScale settings for the pool.
          description: This property and fixedScale are mutually exclusive and one of the properties must be specified.
      title: Scale settings for the pool
      description: Defines the desired size of the pool. This can either be 'fixedScale' where the requested targetDedicatedNodes is specified, or 'autoScale' which defines a formula which is periodically reevaluated. If this property is not specified, the pool will have a fixed scale with 0 targetDedicatedNodes.
    CloudError:
      type: object
      x-ms-external: true
      properties:
        error:
          description: The body of the error response.
          $ref: '#/components/schemas/CloudErrorBody'
      description: An error response from the Batch service.
    VirtualMachineConfiguration:
      type: object
      properties:
        imageReference:
          $ref: '#/components/schemas/ImageReference'
          title: A reference to the Azure Virtual Machines Marketplace Image or the custom Virtual Machine Image to use.
        nodeAgentSkuId:
          type: string
          title: The SKU of the Batch node agent to be provisioned on compute nodes in the pool.
          description: The Batch node agent is a program that runs on each node in the pool, and provides the command-and-control interface between the node and the Batch service. There are different implementations of the node agent, known as SKUs, for different operating systems. You must specify a node agent SKU which matches the selected image reference. To get the list of supported node agent SKUs along with their list of verified image references, see the 'List supported node agent SKUs' operation.
        windowsConfiguration:
          $ref: '#/components/schemas/WindowsConfiguration'
          title: Windows operating system settings on the virtual machine.
          description: This property must not be specified if the imageReference specifies a Linux OS image.
        dataDisks:
          type: array
          items:
            $ref: '#/components/schemas/DataDisk'
          x-ms-identifiers:
          - lun
          title: The configuration for data disks attached to the compute nodes in the pool.
          description: This property must be specified if the compute nodes in the pool need to have empty data disks attached to them.
        licenseType:
          type: string
          title: The type of on-premises license to be used when deploying the operating system.
          description: "This only applies to images that contain the Windows operating system, and should only be used when you hold valid on-premises licenses for the nodes which will be deployed. If omitted, no on-premises licensing discount is applied. Values are:\n\n Windows_Server - The on-premises license is for Windows Server.\n Windows_Client - The on-premises license is for Windows Client.\n"
        containerConfiguration:
          $ref: '#/components/schemas/ContainerConfiguration'
          title: The container configuration for the pool.
          description: If specified, setup is performed on each node in the pool to allow tasks to run in containers. All regular tasks and job manager tasks run on this pool must specify the containerSettings property, and all other tasks may specify it.
        diskEncryptionConfiguration:
          $ref: '#/components/schemas/DiskEncryptionConfiguration'
          title: The disk encryption configuration for the pool.
          description: If specified, encryption is performed on each node in the pool during node provisioning.
        nodePlacementConfiguration:
          $ref: '#/components/schemas/NodePlacementConfiguration'
          title: The node placement configuration for the pool.
          description: This configuration will specify rules on how nodes in the pool will be physically allocated.
        extensions:
          type: array
          items:
            $ref: '#/components/schemas/VMExtension'
          x-ms-identifiers:
          - name
          - type
          title: The virtual machine extension for the pool.
          description: If specified, the extensions mentioned in this configuration will be installed on each node.
        osDisk:
          $ref: '#/components/schemas/OSDisk'
          title: Settings for the operating system disk of the Virtual Machine.
          description: Contains configuration for ephemeral OSDisk settings.
        securityProfile:
          $ref: '#/components/schemas/SecurityProfile'
          title: Specifies the security profile settings for the virtual machine or virtual machine scale set.
        serviceArtifactReference:
          $ref: '#/components/schemas/ServiceArtifactReference'
          title: Specifies the service artifact reference id used to set same image version for all virtual machines in the scale set when using 'latest' image version.
          description: The service artifact reference id in the form of /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/galleries/{galleryName}/serviceArtifacts/{serviceArtifactName}/vmArtifactsProfiles/{vmArtifactsProfilesName}
      required:
      - imageReference
      - nodeAgentSkuId
      title: The configuration for compute nodes in a pool based on the Azure Virtual Machines infrastructure.
    ServiceArtifactReference:
      type: object
      properties:
        id:
          type: string
          title: The service artifact reference id of ServiceArtifactReference
          description: The service artifact reference id in the form of /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/galleries/{galleryName}/serviceArtifacts/{serviceArtifactName}/vmArtifactsProfiles/{vmArtifactsProfilesName}
      required:
      - id
      description: Specifies the service artifact reference id used to set same image version for all virtual machines in the scale set when using 'latest' image version.
    VMExtension:
      type: object
      properties:
        name:
          type: string
          title: The name of the virtual machine extension.
        publisher:
          type: string
          title: The name of the extension handler publisher.
        type:
          type: string
          title: The type of the extensions.
        typeHandlerVersion:
          type: string
          title: The version of script handler.
        autoUpgradeMinorVersion:
          type: boolean
          description: Indicates whether the extension should use a newer minor version if one is available at deployment time. Once deployed, however, the extension will not upgrade minor versions unless redeployed, even with this property set to true.
        enableAutomaticUpgrade:
          type: boolean
          description: Indicates whether the extension should be automatically upgraded by the platform if there is a newer version of the extension available.
        settings:
          type: object
          title: JSON formatted public settings for the extension.
        protectedSettings:
          x-ms-secret: true
          type: object
          description: 'The extension can contain either protectedSettings or protectedSettingsFromKeyVault or no protected settings at all. '
        provisionAfterExtensions:
          type: array
          items:
            type: string
          title: The collection of extension names.
          description: Collection of extension names after which this extension needs to be provisioned.
      required:
      - name
      - publisher
      - type
      title: The configuration for virtual machine extensions.
    UserAssignedIdentities:
      type: object
      description: The list of associated user identities.
      properties:
        principalId:
          readOnly: true
          type: string
          description: The principal id of user assigned identity.
        clientId:
          readOnly: true
          type: string
          description: The client id of user assigned identity.
    BatchPoolIdentity:
      type: object
      properties:
        type:
          type: string
          description: The type of identity used for the Batch Pool.
          enum:
          - UserAssigned
          - None
          x-ms-enum:
            name: PoolIdentityType
            modelAsString: false
            values:
            - value: UserAssigned
              description: Batch pool has user assigned identities with it.
            - value: None
              description: Batch pool has no identity associated with it. Setting `None` in update pool will remove existing identities.
        userAssignedIdentities:
          type: object
          description: The list of user identities associated with the Batch pool.
          additionalProperties:
            $ref: '#/components/schemas/UserAssignedIdentities'
      description: The identity of the Batch pool, if configured. If the pool identity is updated during update an existing pool, only the new vms which are created after the pool shrinks to 0 will have the updated identities
      required:
      - type
    CertificateReference:
      type: object
      properties:
        id:
          type: string
          title: The fully qualified ID of the certificate to install on the pool. This must be inside the same batch account as the pool.
        storeLocation:
          type: string
          title: The location of the certificate store on the compute node into which to install the certificate.
          description: The default value is currentUser. This property is applicable only for pools configured with Windows nodes (that is, created with cloudServiceConfiguration, or with virtualMachineConfiguration using a Windows image reference). For Linux compute nodes, the certificates are stored in a directory inside the task working directory and an environment variable AZ_BATCH_CERTIFICATES_DIR is supplied to the task to query for this location. For certificates with visibility of 'remoteUser', a 'certs' directory is created in the user's home directory (e.g., /home/{user-name}/certs) and certificates are placed in that directory.
          enum:
          - CurrentUser
          - LocalMachine
          x-ms-enum:
            name: CertificateStoreLocation
            modelAsString: false
            values:
            - value: CurrentUser
              description: Certificates should be installed to the CurrentUser certificate store.
            - value: LocalMachine
              description: Certificates should be installed to the LocalMachine certificate store.
        storeName:
          type: string
          title: The name of the certificate store on the compute node into which to install the certificate.
          description: 'This property is applicable only for pools configured with Windows nodes (that is, created with cloudServiceConfiguration, or with virtualMachineConfiguration using a Windows image reference). Common store names include: My, Root, CA, Trust, Disallowed, TrustedPeople, TrustedPublisher, AuthRoot, AddressBook, but any custom store name can also be used. The default value is My.'
        visibility:
          type: array
          items:
            type: string
            enum:
            - StartTask
            - Task
            - RemoteUser
            x-ms-enum:
              name: CertificateVisibility
              modelAsString: false
              values:
              - value: StartTask
[...]
