openapi: 3.2.0
info:
  version: '2020-06-01'
  title: Microsoft Azure PrivateLinkServicesForPowerBIClient Private…
  description: Client to manage Power BI Private Link Service resources and connection members.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: PrivateLinkServiceResourceOperationResults
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.PowerBI/operationResults/{operationId}:
    get:
      tags:
      - PrivateLinkServiceResourceOperationResults
      description: Gets operation result of Private Link Service Resources for Power BI.
      operationId: microsoftAzurePrivatelinkserviceresourceoperationresultsGet
      x-ms-examples:
        Result of operation on private link resources:
          $ref: ./examples/PrivateLinkServiceResourceOperationResults_Get.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/OperationIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationDetail'
        '202':
          description: Operation is in progress.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationDetail'
        default:
          description: An error response received from Power BI service.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Powerbi…
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to be used with the HTTP request.
      schema:
        type: string
    OperationIdParameter:
      name: operationId
      in: path
      required: true
      description: The id of Azure async operation.
      x-ms-parameter-location: client
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).
      schema:
        type: string
  schemas:
    AsyncOperationDetail:
      title: AsyncOperationDetail
      type: object
      properties:
        id:
          type: string
          description: The operation id.
        name:
          type: string
          description: The operation name.
        status:
          type: string
          description: The operation status.
        startTime:
          type: string
          description: The operation start time.
        endTime:
          type: string
          description: The operation end time.
        error:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorDetail
          description: The error.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
