openapi: 3.2.0
info:
  version: '2018-09-15'
  title: Microsoft Azure DevTestLabsClient Policies API
  description: The DevTest Labs Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Policies
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{policySetName}/policies
  : get:
      tags:
      - Policies
      description: List policies in a given policy set.
      operationId: microsoftAzurePoliciesList
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        schema:
          type: string
      - name: policySetName
        in: path
        description: The name of the policy set.
        required: true
        schema:
          type: string
      - name: $expand
        in: query
        description: 'Specify the $expand query. Example: ''properties($select=description)'''
        schema:
          type: string
      - name: $filter
        in: query
        description: 'The filter to apply to the operation. Example: ''$filter=contains(name,''myName'')'
        schema:
          type: string
      - name: $top
        in: query
        description: 'The maximum number of resources to return from the operation. Example: ''$top=10'''
        schema:
          type: integer
          format: int32
      - name: $orderby
        in: query
        description: 'The ordering expression for the results, using OData notation. Example: ''$orderby=name desc'''
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyList'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/Policy'
      x-ms-examples:
        Policies_List:
          $ref: ./examples/Policies_List.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{policySetName}/policies/{name}
  : get:
      tags:
      - Policies
      description: Get policy.
      operationId: microsoftAzurePoliciesGet
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        schema:
          type: string
      - name: policySetName
        in: path
        description: The name of the policy set.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: The name of the policy.
        required: true
        schema:
          type: string
      - name: $expand
        in: query
        description: 'Specify the $expand query. Example: ''properties($select=description)'''
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Policies_Get:
          $ref: ./examples/Policies_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Policies
      description: Create or replace an existing policy.
      operationId: microsoftAzurePoliciesCreateorupdate
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        schema:
          type: string
      - name: policySetName
        in: path
        description: The name of the policy set.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: The name of the policy.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Policies_CreateOrUpdate:
          $ref: ./examples/Policies_CreateOrUpdate.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Policy'
        description: A Policy.
        required: true
    delete:
      tags:
      - Policies
      description: Delete policy.
      operationId: microsoftAzurePoliciesDelete
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        schema:
          type: string
      - name: policySetName
        in: path
        description: The name of the policy set.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: The name of the policy.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Policies_Delete:
          $ref: ./examples/Policies_Delete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    patch:
      tags:
      - Policies
      description: Allows modifying tags of policies. All other properties will be ignored.
      operationId: microsoftAzurePoliciesUpdate
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        schema:
          type: string
      - name: policySetName
        in: path
        description: The name of the policy set.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: The name of the policy.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Policies_Update:
          $ref: ./examples/Policies_Update.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyFragment'
        description: A Policy.
        required: true
components:
  schemas:
    PolicyProperties:
      description: Properties of a Policy.
      type: object
      properties:
        description:
          description: The description of the policy.
          type: string
        status:
          description: The status of the policy.
          enum:
          - Enabled
          - Disabled
          type: string
          x-ms-enum:
            name: PolicyStatus
            modelAsString: true
        factName:
          description: The fact name of the policy (e.g. LabVmCount, LabVmSize, MaxVmsAllowedPerLab, etc.
          enum:
          - UserOwnedLabVmCount
          - UserOwnedLabPremiumVmCount
          - LabVmCount
          - LabPremiumVmCount
          - LabVmSize
          - GalleryImage
          - UserOwnedLabVmCountInSubnet
          - LabTargetCost
          - EnvironmentTemplate
          - ScheduleEditPermission
          type: string
          x-ms-enum:
            name: PolicyFactName
            modelAsString: true
        factData:
          description: The fact data of the policy.
          type: string
        threshold:
          description: The threshold of the policy (i.e. a number for MaxValuePolicy, and a JSON array of values for AllowedValuesPolicy).
          type: string
        evaluatorType:
          description: The evaluator type of the policy (i.e. AllowedValuesPolicy, MaxValuePolicy).
          enum:
          - AllowedValuesPolicy
          - MaxValuePolicy
          type: string
          x-ms-enum:
            name: PolicyEvaluatorType
            modelAsString: true
        createdDate:
          format: date-time
          description: The creation date of the policy.
          type: string
          readOnly: true
        provisioningState:
          description: The provisioning status of the resource.
          type: string
          readOnly: true
        uniqueIdentifier:
          description: The unique immutable identifier of a resource (Guid).
          type: string
          readOnly: true
    Policy:
      description: A Policy.
      required:
      - properties
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/PolicyProperties'
          description: The properties of the resource.
          x-ms-client-flatten: true
    CloudError:
      description: Error from a REST request.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: The cloud error that occurred
      x-ms-external: true
    PolicyFragment:
      description: A Policy.
      type: object
      allOf:
      - $ref: '#/components/schemas/UpdateResource'
      properties: {}
    UpdateResource:
      description: Represents an update resource
      type: object
      properties:
        tags:
          description: The tags of the resource.
          type: object
          additionalProperties:
            type: string
    PolicyList:
      description: The response of a list operation.
      type: object
      properties:
        value:
          description: Results of the list operation.
          type: array
          items:
            $ref: '#/components/schemas/Policy'
        nextLink:
          description: Link for next set of results.
          type: string
    CloudErrorBody:
      description: Body of an error from a REST request.
      type: object
      properties:
        code:
          description: The error code.
          type: string
        message:
          description: The error message.
          type: string
        target:
          description: The error target.
          type: string
        details:
          description: Inner errors.
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
      x-ms-external: true
    Resource:
      description: An Azure resource.
      type: object
      properties:
        id:
          description: The identifier of the resource.
          type: string
          readOnly: true
        name:
          description: The name of the resource.
          type: string
          readOnly: true
        type:
          description: The type of the resource.
          type: string
          readOnly: true
        location:
          description: The location of the resource.
          type: string
        tags:
          description: The tags of the resource.
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
  parameters:
    api-version:
      name: api-version
      in: query
      description: Client API version.
      required: true
      schema:
        type: string
        default: '2018-09-15'
    resourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    subscriptionId:
      name: subscriptionId
      in: path
      description: The subscription ID.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: Access Microsoft Azure
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: OAuth2 Implicit Grant
