openapi: 3.2.0
info:
  title: Microsoft Azure CustomerInsightsManagementClient Widget…
  description: The Azure Customer Insights management API provides a RESTful set of web services that interact with Azure Customer Insights service to manage your resources. The API has entities that capture the relationship between an end user and the Azure Customer Insights service.
  version: '2017-04-26'
  x-ms-code-generation-settings:
    name: CustomerInsightsManagementClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: widget types
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/widgetTypes
  : get:
      tags:
      - widget types
      operationId: microsoftAzureWidgettypesListbyhub
      x-ms-examples:
        WidgetTypes_ListByHub:
          $ref: ./examples/WidgetTypesListByHub.json
      description: Gets all available widget types in the specified hub.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hubName
        in: path
        required: true
        description: The name of the hub.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. Successfully get all the widget types in the hub.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WidgetTypeListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/widgetTypes/{widgetTypeName}
  : get:
      tags:
      - widget types
      operationId: microsoftAzureWidgettypesGet
      x-ms-examples:
        WidgetTypes_Get:
          $ref: ./examples/WidgetTypesGet.json
      description: Gets a widget type in the specified hub.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hubName
        in: path
        required: true
        description: The name of the hub.
        schema:
          type: string
      - name: widgetTypeName
        in: path
        required: true
        description: The name of the widget type.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. Successfully get the widget type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WidgetTypeResourceFormat'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    WidgetTypeListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/WidgetTypeResourceFormat'
          description: Results of the list operation.
        nextLink:
          type: string
          description: Link to the next set of results.
      description: The response of list widget type operation.
    ProxyResource:
      properties:
        id:
          readOnly: true
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
      x-ms-azure-resource: true
      description: Common properties of proxy resource.
    WidgetType:
      required:
      - definition
      properties:
        widgetTypeName:
          type: string
          readOnly: true
          description: Name of the widget type.
        definition:
          type: string
          description: Definition for widget type.
        description:
          type: string
          description: Description for widget type.
        displayName:
          type: object
          additionalProperties:
            type: string
          description: Localized display name for the widget type.
        imageUrl:
          type: string
          description: The image URL.
        tenantId:
          type: string
          readOnly: true
          description: The hub name.
        widgetVersion:
          type: string
          description: The widget version.
        changed:
          type: string
          readOnly: true
          format: date-time
          description: Date time when widget type was last modified.
        created:
          type: string
          readOnly: true
          format: date-time
          description: Date time when widget type was created.
      description: Definition of WidgetType.
    WidgetTypeResourceFormat:
      description: The WidgetTypeResourceFormat
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/WidgetType'
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
