openapi: 3.2.0
info:
  version: 2019-07-24-preview
  title: Microsoft Azure AzureDataManagementClient Sql Server…
  description: The AzureData management API provides a RESTful set of web APIs to manage Azure Data Resources.
servers:
- url: https://management.azure.com
tags:
- name: SqlServerRegistrations
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureData/sqlServerRegistrations/{sqlServerRegistrationName}
  : get:
      tags:
      - SqlServerRegistrations
      description: Gets a SQL Server registration.
      operationId: microsoftAzureSqlserverregistrationsGet
      parameters:
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - name: sqlServerRegistrationName
        in: path
        description: Name of the SQL Server registration.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved the SQL Server registration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SqlServerRegistration'
        default:
          description: "*** Error Responses: ***\n\n * 400 InvalidParameterValue - An invalid value was given to parameter.\n\n * 400 InvalidCrossSubscriptionVmMove - Invalid cross subscription move of resource.\n\n * 400 RPGenericUser - User Failure when calling other Resource Provider.\n\n * 400 InvalidArgument - Invalid argument '{0}'.\n\n * 400 ArgumentNotInRange - Argument '{0}' not in range.\n\n * 400 ResourceNotProvisioned - As the resource: {0} is not in a provisioned state, the request cannot be proceeded forward\n\n * 400 InvalidRgResourceId - Invalid Resourcegroup resource id specified.\n\n * 403 AccessDenied - Access denied.\n\n * 404 ResourceNotFound - The requested resource was not found.\n\n * 404 SubscriptionDoesNotExist - Subscription id does not exist.\n\n * 404 ResourceDoesNotExist - Resource does not exist.\n\n * 404 OperationIdNotFound - Operation id could not be found.\n\n * 404 OperationTypeNotFound - Operation Type not found.\n\n * 409 ResourceAlreadyExists - Resource already exists.\n\n * 409 SqlExtensionNotInstalled - SQL extension not installed.\n\n * 409 MissingMoveResources - Cannot move resources(s) because some resources are missing in the request.\n\n * 409 OperationInProgress - Operation in progress on resource already.\n\n * 409 OperationCanceled - Operation Cancelled.\n\n * 500 RPGenericSystem - System Failure when calling other Resource Provider.\n\n * 500 UnExpectedErrorOccurred - Unexpected error occurred.\n\n * 500 OperationTimeout - Operation timed out."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Gets a SQL Server registration.:
          $ref: ./examples/GetSqlServerRegistration.json
      summary: Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers…
    put:
      tags:
      - SqlServerRegistrations
      description: Creates or updates a SQL Server registration.
      operationId: microsoftAzureSqlserverregistrationsCreateorupdate
      parameters:
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - name: sqlServerRegistrationName
        in: path
        description: Name of the SQL Server registration.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully updated the SQL Server registration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SqlServerRegistration'
        '201':
          description: Successfully created the SQL Server registration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SqlServerRegistration'
        default:
          description: "*** Error Responses: ***\n\n * 400 RPGenericUser - User Failure when calling other Resource Provider.\n\n * 400 InvalidArgument - Invalid argument '{0}'.\n\n * 400 ArgumentNotInRange - Argument '{0}' not in range.\n\n * 400 ResourceNotProvisioned - As the resource: {0} is not in a provisioned state, the request cannot be proceeded forward\n\n * 400 InvalidRgResourceId - Invalid Resourcegroup resource id specified.\n\n * 400 InvalidParameterValue - An invalid value was given to parameter.\n\n * 400 InvalidCrossSubscriptionVmMove - Invalid cross subscription move of resource.\n\n * 400 TinaGroupUpdateFailVmAttached - SQL Server registration cannot be updated as it has attached a SQL Server.\n\n * 400 InvalidSqlImageOffer - Provided SQL image offer is invalid.\n\n * 400 InvalidSqlSku - Provided SQL sku is invalid.\n\n * 400 OuPathAndDomainMismatch - OU path is not within the domain provided.\n\n * 400 InvalidAccountNameFormat - Account name format is invalid.\n\n * 400 CloudWitnessUnsupported - For Windows Server 2012R2 setup cloud witness is not allowed.\n\n * 400 FileShareWitnessDisAllowed - For Windows Server 2016 and beyond setup, file share witness is not allowed.\n\n * 400 InvalidStorageAccountUrl - Invalid storage account url.\n\n * 400 TinaGroupNameTooLong - SQL Server registration name cannot exceed 15 characters.\n\n * 400 InvalidTinaGroupName - Invalid SQL Server registration name.\n\n * 400 TinaGroupNotEmpty - SQL Server registration is not empty.\n\n * 400 TinaGroupUpdateNotAllowed - Update to SQL Server registration is not allowed.\n\n * 403 AccessDenied - Access denied.\n\n * 404 SubscriptionDoesNotExist - Subscription id does not exist.\n\n * 404 ResourceDoesNotExist - Resource does not exist.\n\n * 404 OperationIdNotFound - Operation id could not be found.\n\n * 404 OperationTypeNotFound - Operation Type not found.\n\n * 404 ResourceNotFound - The requested resource was not found.\n\n * 404 SubscriptionDoesNotHaveTINAGroupInResourceGroup - Subscription does not have SQL Server registration in resource group.\n\n * 409 ResourceAlreadyExists - Resource already exists.\n\n * 409 SqlExtensionNotInstalled - SQL extension not installed.\n\n * 409 MissingMoveResources - Cannot move resources(s) because some resources are missing in the request.\n\n * 409 OperationInProgress - Operation in progress on resource already.\n\n * 409 OperationCanceled - Operation Cancelled.\n\n * 500 RPGenericSystem - System Failure when calling other Resource Provider.\n\n * 500 UnExpectedErrorOccurred - Unexpected error occurred.\n\n * 500 OperationTimeout - Operation timed out."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Creates or updates a SQL Server registration.:
          $ref: ./examples/CreateOrUpdateSqlServerRegistration.json
      summary: Put Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SqlServerRegistration'
        description: The SQL Server registration to be created or updated.
        required: true
    delete:
      tags:
      - SqlServerRegistrations
      description: Deletes a SQL Server registration.
      operationId: microsoftAzureSqlserverregistrationsDelete
      parameters:
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - name: sqlServerRegistrationName
        in: path
        description: Name of the SQL Server registration.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully deleted the SQL Server registration.
        '204':
          description: The specified SQL Server registration does not exist.
        default:
          description: "*** Error Responses: ***\n\n * 400 RPGenericUser - User Failure when calling other Resource Provider.\n\n * 400 InvalidArgument - Invalid argument '{0}'.\n\n * 400 ArgumentNotInRange - Argument '{0}' not in range.\n\n * 400 ResourceNotProvisioned - As the resource: {0} is not in a provisioned state, the request cannot be proceeded forward\n\n * 400 InvalidRgResourceId - Invalid Resourcegroup resource id specified.\n\n * 400 InvalidParameterValue - An invalid value was given to parameter.\n\n * 400 InvalidCrossSubscriptionVmMove - Invalid cross subscription move of resource.\n\n * 400 TinaGroupUpdateFailVmAttached - SQL Server registration cannot be updated as it has attached a SQL Server.\n\n * 400 InvalidSqlImageOffer - Provided SQL image offer is invalid.\n\n * 400 InvalidSqlSku - Provided SQL sku is invalid.\n\n * 400 OuPathAndDomainMismatch - OU path is not within the domain provided.\n\n * 400 InvalidAccountNameFormat - Account name format is invalid.\n\n * 400 CloudWitnessUnsupported - For Windows Server 2012R2 setup cloud witness is not allowed.\n\n * 400 FileShareWitnessDisAllowed - For Windows Server 2016 and beyond setup, file share witness is not allowed.\n\n * 400 InvalidStorageAccountUrl - Invalid storage account url.\n\n * 400 TinaGroupNameTooLong - SQL Server registration name cannot exceed 15 characters.\n\n * 400 InvalidTinaGroupName - Invalid SQL Server registration name.\n\n * 400 TinaGroupNotEmpty - SQL Server registration is not empty.\n\n * 400 TinaGroupUpdateNotAllowed - Update to SQL Server registration is not allowed.\n\n * 403 AccessDenied - Access denied.\n\n * 404 SubscriptionDoesNotExist - Subscription id does not exist.\n\n * 404 ResourceDoesNotExist - Resource does not exist.\n\n * 404 OperationIdNotFound - Operation id could not be found.\n\n * 404 OperationTypeNotFound - Operation Type not found.\n\n * 404 ResourceNotFound - The requested resource was not found.\n\n * 404 SubscriptionDoesNotHaveTINAGroupInResourceGroup - Subscription does not have SQL Server registration in resource group.\n\n * 409 ResourceAlreadyExists - Resource already exists.\n\n * 409 SqlExtensionNotInstalled - SQL extension not installed.\n\n * 409 MissingMoveResources - Cannot move resources(s) because some resources are missing in the request.\n\n * 409 OperationInProgress - Operation in progress on resource already.\n\n * 409 OperationCanceled - Operation Cancelled.\n\n * 500 RPGenericSystem - System Failure when calling other Resource Provider.\n\n * 500 UnExpectedErrorOccurred - Unexpected error occurred.\n\n * 500 OperationTimeout - Operation timed out."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Deletes a SQL Server registration.:
          $ref: ./examples/DeleteSqlServerRegistration.json
      summary: Delete Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers…
    patch:
      tags:
      - SqlServerRegistrations
      description: Updates SQL Server Registration tags.
      operationId: microsoftAzureSqlserverregistrationsUpdate
      parameters:
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - name: sqlServerRegistrationName
        in: path
        description: Name of the SQL Server registration.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully updated the SQL Server Registration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SqlServerRegistration'
        default:
          description: "*** Error Responses: ***\n\n * 400 InvalidParameterValue - An invalid value was given to parameter.\n\n * 400 InvalidCrossSubscriptionVmMove - Invalid cross subscription move of resource.\n\n * 400 RPGenericUser - User Failure when calling other Resource Provider.\n\n * 400 InvalidArgument - Invalid argument '{0}'.\n\n * 400 ArgumentNotInRange - Argument '{0}' not in range.\n\n * 400 ResourceNotProvisioned - As the resource: {0} is not in a provisioned state, the request cannot be proceeded forward\n\n * 400 InvalidRgResourceId - Invalid Resourcegroup resource id specified.\n\n * 403 AccessDenied - Access denied.\n\n * 404 ResourceNotFound - The requested resource was not found.\n\n * 404 SubscriptionDoesNotExist - Subscription id does not exist.\n\n * 404 ResourceDoesNotExist - Resource does not exist.\n\n * 404 OperationIdNotFound - Operation id could not be found.\n\n * 404 OperationTypeNotFound - Operation Type not found.\n\n * 409 ResourceAlreadyExists - Resource already exists.\n\n * 409 SqlExtensionNotInstalled - SQL extension not installed.\n\n * 409 MissingMoveResources - Cannot move resources(s) because some resources are missing in the request.\n\n * 409 OperationInProgress - Operation in progress on resource already.\n\n * 409 OperationCanceled - Operation Cancelled.\n\n * 500 RPGenericSystem - System Failure when calling other Resource Provider.\n\n * 500 UnExpectedErrorOccurred - Unexpected error occurred.\n\n * 500 OperationTimeout - Operation timed out."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Updates a SQL Server Registration tags.:
          $ref: ./examples/UpdateSqlServerRegistration.json
      summary: Patch Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SqlServerRegistrationUpdate'
        description: The SQL Server Registration.
        required: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureData/sqlServerRegistrations:
    get:
      tags:
      - SqlServerRegistrations
      description: Gets all SQL Server registrations in a resource group.
      operationId: microsoftAzureSqlserverregistrationsListbyresourcegroup
      parameters:
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved all SQL Server registrations in the resource group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SqlServerRegistrationListResult'
        default:
          description: '*** Error Responses: ***'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Gets all SQL Server registrations in a resource group.:
          $ref: ./examples/ListByResourceGroupSqlServerRegistration.json
      summary: Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers…
  /subscriptions/{subscriptionId}/providers/Microsoft.AzureData/sqlServerRegistrations:
    get:
      tags:
      - SqlServerRegistrations
      description: Gets all SQL Server registrations in a subscription.
      operationId: microsoftAzureSqlserverregistrationsList
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved all SQL Server registrations in the subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SqlServerRegistrationListResult'
        default:
          description: "*** Error Responses: ***\n\n * 400 InvalidParameterValue - An invalid value was given to parameter.\n\n * 400 InvalidCrossSubscriptionVmMove - Invalid cross subscription move of resource.\n\n * 404 ResourceNotFound - The requested resource was not found."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Gets all SQL Server registrations in a subscription.:
          $ref: ./examples/ListSubscriptionSqlServerRegistration.json
      summary: Get Subscriptions Subscriptionid Providers Microsoft Azuredata…
components:
  schemas:
    CloudError:
      x-ms-external: true
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: 'null'
      description: An error response from the Azure Data service.
    SqlServerRegistration:
      description: A SQL server registration.
      required:
      - location
      type: object
      allOf:
      - $ref: '#/components/schemas/TrackedResource'
      properties:
        properties:
          $ref: '#/components/schemas/SqlServerRegistrationProperties'
          description: Resource properties.
          x-ms-client-flatten: true
    SqlServerRegistrationListResult:
      description: Server
      type: object
      properties:
        value:
          description: Array of results.
          type: array
          items:
            $ref: '#/components/schemas/SqlServerRegistration'
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    SqlServerRegistrationProperties:
      description: The SQL server Registration properties.
      type: object
      properties:
        subscriptionId:
          description: Subscription Id
          type: string
        resourceGroup:
          description: Resource Group Name
          type: string
        propertyBag:
          description: Optional Properties as JSON string
          type: string
    IdentityType:
      description: The type of identity that creates/modifies resources
      type: string
      enum:
      - user
      - application
      - managedIdentity
      - key
      x-ms-enum:
        name: IdentityType
        modelAsString: true
    CloudErrorBody:
      x-ms-external: true
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of the property in error.
        details:
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          x-ms-identifiers:
          - message
          - target
          description: A list of additional details about the error.
      description: An error response from the Batch service.
    SqlServerRegistrationUpdate:
      description: An update to a SQL Server Registration.
      type: object
      properties:
        tags:
          description: Resource tags.
          type: object
          additionalProperties:
            type: string
    Resource:
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.
      x-ms-azure-resource: true
    TrackedResource:
      description: The resource model definition for a ARM tracked top level resource
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
          description: Resource tags.
        location:
          type: string
          x-ms-mutability:
          - read
          - create
          description: The geo-location where the resource lives
        systemData:
          $ref: '#/components/schemas/SystemData'
          readOnly: true
      required:
      - location
      allOf:
      - $ref: '#/components/schemas/Resource'
    SystemData:
      description: Read only system data
      type: object
      properties:
        createdBy:
          type: string
          description: An identifier for the identity that created the resource
        createdByType:
          $ref: '#/components/schemas/IdentityType'
          description: The type of identity that created the resource
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC)
        lastModifiedBy:
          type: string
          description: An identifier for the identity that last modified the resource
        lastModifiedByType:
          $ref: '#/components/schemas/IdentityType'
          description: The type of identity that last modified the resource
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
  parameters:
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: Name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: API version to use for the request.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription ID that identifies an Azure subscription.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
