openapi: 3.2.0
info:
  title: Microsoft Azure AutomationManagementClient Webhook API
  version: 2023-05-15-preview
  x-ms-code-generation-settings:
    useDateTimeOffset: true
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Webhook
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/webhooks/generateUri
  : post:
      tags:
      - Webhook
      operationId: microsoftAzureWebhookGenerateuri
      description: Generates a Uri for use in creating a webhook.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/webhookoperations
      x-ms-examples:
        Generate webhook uri:
          $ref: ./examples/webhookGenerateUri.json
      parameters:
      - $ref: ../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter
      - $ref: ../../common/v1/definitions.json#/parameters/SubscriptionIdParameter
      - $ref: ../../common/v1/definitions.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/webhooks/{webhookName}
  : delete:
      tags:
      - Webhook
      operationId: microsoftAzureWebhookDelete
      description: Delete the webhook by name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/webhookoperations
      x-ms-examples:
        Delete webhook:
          $ref: ./examples/deleteWebhook.json
      parameters:
      - $ref: ../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter
      - name: webhookName
        in: path
        required: true
        description: The webhook name.
        schema:
          type: string
      - $ref: ../../common/v1/definitions.json#/parameters/SubscriptionIdParameter
      - $ref: ../../common/v1/definitions.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    get:
      tags:
      - Webhook
      operationId: microsoftAzureWebhookGet
      description: Retrieve the webhook identified by webhook name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/webhookoperations
      x-ms-examples:
        Get webhook:
          $ref: ./examples/getWebhook.json
      parameters:
      - $ref: ../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter
      - name: webhookName
        in: path
        required: true
        description: The webhook name.
        schema:
          type: string
      - $ref: ../../common/v1/definitions.json#/parameters/SubscriptionIdParameter
      - $ref: ../../common/v1/definitions.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Webhook
      operationId: microsoftAzureWebhookCreateorupdate
      description: Create the webhook identified by webhook name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/webhookoperations
      x-ms-examples:
        Create or update webhook:
          $ref: ./examples/createOrUpdateWebhook.json
      parameters:
      - $ref: ../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter
      - name: webhookName
        in: path
        required: true
        description: The webhook name.
        schema:
          type: string
      - $ref: ../../common/v1/definitions.json#/parameters/SubscriptionIdParameter
      - $ref: ../../common/v1/definitions.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreateOrUpdateParameters'
        description: The create or update parameters for webhook.
        required: true
    patch:
      tags:
      - Webhook
      operationId: microsoftAzureWebhookUpdate
      description: Update the webhook identified by webhook name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/webhookoperations
      x-ms-examples:
        Update webhook:
          $ref: ./examples/updateWebhook.json
      parameters:
      - $ref: ../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter
      - name: webhookName
        in: path
        required: true
        description: The webhook name.
        schema:
          type: string
      - $ref: ../../common/v1/definitions.json#/parameters/SubscriptionIdParameter
      - $ref: ../../common/v1/definitions.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookUpdateParameters'
        description: The update parameters for webhook.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/webhooks
  : get:
      tags:
      - Webhook
      operationId: microsoftAzureWebhookListbyautomationaccount
      description: Retrieve a list of webhooks.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/webhookoperations
      x-ms-examples:
        List webhooks by Automation Account:
          $ref: ./examples/listWebhooksByAutomationAccount.json
      parameters:
      - $ref: ../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter
      - name: $filter
        in: query
        required: false
        description: The filter to apply on the operation.
        schema:
          type: string
      - $ref: ../../common/v1/definitions.json#/parameters/SubscriptionIdParameter
      - $ref: ../../common/v1/definitions.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookListResult'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/Webhook'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    Webhook:
      properties:
        properties:
          $ref: '#/components/schemas/WebhookProperties'
          x-ms-client-flatten: true
          description: Gets or sets the webhook properties.
      description: Definition of the webhook type.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
    WebhookUpdateParameters:
      properties:
        name:
          type: string
          description: Gets or sets the name of the webhook.
        properties:
          $ref: '#/components/schemas/WebhookUpdateProperties'
          x-ms-client-flatten: true
          description: Gets or sets the value of the webhook.
      description: The parameters supplied to the update webhook operation.
    WebhookListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Webhook'
          description: Gets or sets a list of webhooks.
        nextLink:
          type: string
          description: Gets or sets the next link.
      description: The response model for the list webhook operation.
    WebhookProperties:
      properties:
        isEnabled:
          type: boolean
          default: false
          description: Gets or sets the value of the enabled flag of the webhook.
        uri:
          type: string
          description: Gets or sets the webhook uri.
        expiryTime:
          type: string
          format: date-time
          description: Gets or sets the expiry time.
        lastInvokedTime:
          type:
          - string
          - 'null'
          format: date-time
          description: Gets or sets the last invoked time.
        parameters:
          type: object
          additionalProperties:
            type: string
          description: Gets or sets the parameters of the job that is created when the webhook calls the runbook it is associated with.
        runbook:
          $ref: '#/components/schemas/RunbookAssociationProperty'
          description: Gets or sets the runbook the webhook is associated with.
        runOn:
          type: string
          description: Gets or sets the name of the hybrid worker group the webhook job will run on.
        creationTime:
          type: string
          format: date-time
          description: Gets or sets the creation time.
        lastModifiedTime:
          type: string
          format: date-time
          description: Gets or sets the last modified time.
        lastModifiedBy:
          type: string
          description: Details of the user who last modified the Webhook
        description:
          type: string
          description: Gets or sets the description.
      description: Definition of the webhook properties
    RunbookAssociationProperty:
      properties:
        name:
          type: string
          description: Gets or sets the name of the runbook.
      description: The runbook property associated with the entity.
    WebhookCreateOrUpdateProperties:
      properties:
        isEnabled:
          type: boolean
          description: Gets or sets the value of the enabled flag of webhook.
        uri:
          type: string
          description: Gets or sets the uri.
        expiryTime:
          type: string
          format: date-time
          description: Gets or sets the expiry time.
        parameters:
          type: object
          additionalProperties:
            type: string
          description: Gets or sets the parameters of the job.
        runbook:
          $ref: '#/components/schemas/RunbookAssociationProperty'
          description: Gets or sets the runbook.
        runOn:
          type: string
          description: Gets or sets the name of the hybrid worker group the webhook job will run on.
      description: The properties of the create webhook operation.
    WebhookCreateOrUpdateParameters:
      properties:
        name:
          type: string
          description: Gets or sets the name of the webhook.
        properties:
          $ref: '#/components/schemas/WebhookCreateOrUpdateProperties'
          x-ms-client-flatten: true
          description: Gets or sets the properties of the webhook.
      required:
      - name
      - properties
      description: The parameters supplied to the create or update webhook operation.
    WebhookUpdateProperties:
      properties:
        isEnabled:
          type: boolean
          description: Gets or sets the value of the enabled flag of webhook.
        runOn:
          type: string
          description: Gets or sets the name of the hybrid worker group the webhook job will run on.
        parameters:
          type: object
          additionalProperties:
            type: string
          description: Gets or sets the parameters of the job.
        description:
          type: string
          description: Gets or sets the description of the webhook.
      description: The properties of the update webhook.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
