openapi: 3.2.0
info:
  title: Microsoft Azure Azure Migrate Discovery Service Hyperv…
  version: 2023-10-01-preview
  description: Azure OffAzure Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: HypervSites
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.OffAzure/hypervSites:
    get:
      operationId: microsoftAzureHypervsitesListbysubscription
      tags:
      - HypervSites
      summary: Microsoft Azure Get All Hyperv Sites
      description: Get all the hyperv sites in the subscription.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HypervSiteListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        HypervSites_ListBySubscription_MaximumSet_Gen:
          $ref: ./examples/HypervSites_ListBySubscription_MaximumSet_Gen.json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites:
    get:
      operationId: microsoftAzureHypervsitesListbyresourcegroup
      tags:
      - HypervSites
      summary: Microsoft Azure Get All Hyperv Sites
      description: Get all the hyperv sites in the subscription.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HypervSiteListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        HypervSites_ListByResourceGroup_MaximumSet_Gen:
          $ref: ./examples/HypervSites_ListByResourceGroup_MaximumSet_Gen.json
components:
  schemas:
    SiteProperties:
      type: object
      description: The properties of VMwareSiteResource
      properties:
        masterSiteId:
          type: string
          description: Gets the Master Site this site is linked to.
          readOnly: true
        servicePrincipalIdentityDetails:
          $ref: '#/components/schemas/SiteSpnProperties'
          description: "Gets or sets the service principal identity details used by agent for\ncommunication\n            to the service."
        agentDetails:
          $ref: '#/components/schemas/SiteAgentProperties'
          description: Gets or sets the on-premises agent details.
        applianceName:
          type: string
          description: Gets or sets the Appliance Name.
        discoverySolutionId:
          type: string
          description: Gets or sets the ARM ID of migration hub solution for SDS.
        serviceEndpoint:
          type: string
          description: Gets the service endpoint.
          readOnly: true
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The status of the last operation.
    HypervSiteListResult:
      type: object
      description: The response of a HypervSite list operation.
      properties:
        value:
          type: array
          description: The HypervSite items on this page
          items:
            $ref: '#/components/schemas/HypervSite'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    ProvisioningState:
      type: string
      description: The status of the current operation.
      enum:
      - Created
      - Updated
      - Running
      - Completed
      - Failed
      - Succeeded
      - Canceled
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: Created
          value: Created
          description: Created value.
        - name: Updated
          value: Updated
          description: Updated value.
        - name: Running
          value: Running
          description: Running value.
        - name: Completed
          value: Completed
          description: Completed value.
        - name: Failed
          value: Failed
          description: Failed value.
        - name: Succeeded
          value: Succeeded
          description: Succeeded value.
        - name: Canceled
          value: Canceled
          description: Canceled value.
    HypervSite:
      type: object
      description: A HyperV SiteResource
      properties:
        properties:
          $ref: '#/components/schemas/SiteProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
    SiteSpnProperties:
      type: object
      description: Class for site properties.
      properties:
        tenantId:
          type: string
          description: "Gets or sets the tenant Id for the service principal with which the\non-premise\n            management/data plane components would communicate with\nour Azure services."
        applicationId:
          type: string
          description: "Gets or sets the application/client Id for the service principal with which\nthe\n            on-premise management/data plane components would communicate\nwith our Azure \n            services."
        objectId:
          type: string
          description: "Gets or sets the object Id of the service principal with which the on-premise\n\n           management/data plane components would communicate with our Azure\nservices."
        audience:
          type: string
          description: Gets or sets the intended audience for the service principal.
        aadAuthority:
          type: string
          description: "Gets or sets the AAD Authority URL which was used to request the token for\nthe\n            service principal."
        rawCertData:
          type: string
          description: Gets or sets the raw certificate data for building certificate expiry flows.
    SiteAgentProperties:
      type: object
      description: Class for site agent properties.
      properties:
        id:
          type: string
          description: Gets the ID of the agent.
          readOnly: true
        version:
          type: string
          description: Gets the version of the agent.
          readOnly: true
        lastHeartBeatUtc:
          type: string
          format: date-time
          description: Gets the last heartbeat time of the agent in UTC.
          readOnly: true
        keyVaultUri:
          type: string
          description: Gets or sets the key vault URI.
        keyVaultId:
          type: string
          description: Gets or sets the key vault ARM Id.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
