openapi: 3.2.0
info:
  version: '2017-06-01'
  title: Microsoft Azure StorSimple8000SeriesManagementClient Volume…
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: VolumeContainers
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/volumeContainers
  : get:
      tags:
      - VolumeContainers
      description: Gets all the volume containers in a device.
      operationId: microsoftAzureVolumecontainersListbydevice
      parameters:
      - $ref: '#/components/parameters/deviceNameParameter'
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The VolumeContainer List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeContainerList'
      deprecated: false
      x-ms-pageable:
        nextLinkName: null
      x-ms-examples:
        VolumeContainersListByDevice:
          $ref: ./examples/VolumeContainersListByDevice.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/volumeContainers/{volumeContainerName}
  : get:
      tags:
      - VolumeContainers
      description: Gets the properties of the specified volume container name.
      operationId: microsoftAzureVolumecontainersGet
      parameters:
      - $ref: '#/components/parameters/deviceNameParameter'
      - name: volumeContainerName
        in: path
        description: The name of the volume container.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The VolumeContainer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeContainer'
      deprecated: false
      x-ms-examples:
        VolumeContainersGet:
          $ref: ./examples/VolumeContainersGet.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - VolumeContainers
      description: Creates or updates the volume container.
      operationId: microsoftAzureVolumecontainersCreateorupdate
      parameters:
      - $ref: '#/components/parameters/deviceNameParameter'
      - name: volumeContainerName
        in: path
        description: The name of the volume container.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully created or updated the Volume Container.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeContainer'
        '202':
          description: Accepted the request to create or update the Volume Container
      deprecated: false
      x-ms-long-running-operation: true
      x-ms-examples:
        VolumeContainersCreateOrUpdate:
          $ref: ./examples/VolumeContainersCreateOrUpdate.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VolumeContainer'
        description: The volume container to be added or updated.
        required: true
    delete:
      tags:
      - VolumeContainers
      description: Deletes the volume container.
      operationId: microsoftAzureVolumecontainersDelete
      parameters:
      - $ref: '#/components/parameters/deviceNameParameter'
      - name: volumeContainerName
        in: path
        description: The name of the volume container.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to delete the Volume Container.
        '204':
          description: Successfully deleted Volume Container.
      deprecated: false
      x-ms-long-running-operation: true
      x-ms-examples:
        VolumeContainersDelete:
          $ref: ./examples/VolumeContainersDelete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/volumeContainers/{volumeContainerName}/metrics
  : get:
      tags:
      - VolumeContainers
      description: Gets the metrics for the specified volume container.
      operationId: microsoftAzureVolumecontainersListmetrics
      parameters:
      - $ref: '#/components/parameters/deviceNameParameter'
      - name: volumeContainerName
        in: path
        description: The volume container name.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      - name: $filter
        in: query
        description: OData Filter options
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The collection of metrics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricList'
      deprecated: false
      x-ms-odata: '#/definitions/MetricFilter'
      x-ms-pageable:
        nextLinkName: null
      x-ms-examples:
        VolumeContainersListMetrics:
          $ref: ./examples/VolumeContainersListMetrics.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/volumeContainers/{volumeContainerName}/metricsDefinitions
  : get:
      tags:
      - VolumeContainers
      description: Gets the metric definitions for the specified volume container.
      operationId: microsoftAzureVolumecontainersListmetricdefinition
      parameters:
      - $ref: '#/components/parameters/deviceNameParameter'
      - name: volumeContainerName
        in: path
        description: The volume container name.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of metric definitions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricDefinitionList'
      deprecated: false
      x-ms-pageable:
        nextLinkName: null
      x-ms-examples:
        VolumeContainersListMetricDefinition:
          $ref: ./examples/VolumeContainersListMetricDefinition.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    VolumeContainerProperties:
      description: The properties of volume container.
      required:
      - storageAccountCredentialId
      type: object
      properties:
        encryptionKey:
          $ref: '#/components/schemas/AsymmetricEncryptedSecret'
          description: The key used to encrypt data in the volume container. It is required when property 'EncryptionStatus' is "Enabled".
        encryptionStatus:
          description: The flag to denote whether encryption is enabled or not.
          enum:
          - Enabled
          - Disabled
          type: string
          readOnly: true
          x-ms-enum:
            name: EncryptionStatus
            modelAsString: false
        volumeCount:
          format: int32
          description: The number of volumes in the volume Container.
          type: integer
          readOnly: true
        storageAccountCredentialId:
          description: The path ID of storage account associated with the volume container.
          type: string
        ownerShipStatus:
          description: The owner ship status of the volume container. Only when the status is "NotOwned", the delete operation on the volume container is permitted.
          enum:
          - Owned
          - NotOwned
          type: string
          readOnly: true
          x-ms-enum:
            name: OwnerShipStatus
            modelAsString: false
        bandWidthRateInMbps:
          format: int32
          description: The bandwidth-rate set on the volume container.
          type: integer
        bandwidthSettingId:
          description: The ID of the bandwidth setting associated with the volume container.
          type: string
        totalCloudStorageUsageInBytes:
          format: int64
          description: The total cloud storage for the volume container.
          type: integer
          readOnly: true
    MetricName:
      description: The metric name.
      type: object
      properties:
        value:
          description: The metric name.
          type: string
        localizedValue:
          description: The localized metric name.
          type: string
    BaseModel:
      description: Represents the base class for all other ARM object models
      type: object
      properties:
        id:
          description: The path ID that uniquely identifies the object.
          type: string
          readOnly: true
        name:
          description: The name of the object.
          type: string
          readOnly: true
        type:
          description: The hierarchical type of the object.
          type: string
          readOnly: true
        kind:
          description: The Kind of the object. Currently only Series8000 is supported
          enum:
          - Series8000
          type: string
          x-ms-enum:
            name: Kind
            modelAsString: false
    MetricList:
      description: The metric list.
      type: object
      properties:
        value:
          description: The value.
          type: array
          items:
            $ref: '#/components/schemas/Metrics'
          x-ms-identifiers: []
    Metrics:
      description: The monitoring metric.
      type: object
      properties:
        resourceId:
          description: The ID of metric source.
          type: string
        startTime:
          format: date-time
          description: The start time of the metric data.
          type: string
        endTime:
          format: date-time
          description: The end time of the metric data.
          type: string
        timeGrain:
          description: The time granularity of the metric data.
          type: string
        primaryAggregation:
          description: The metric aggregation type.
          enum:
          - Average
          - Last
          - Maximum
          - Minimum
          - None
          - Total
          type: string
          x-ms-enum:
            name: MetricAggregationType
            modelAsString: false
        name:
          $ref: '#/components/schemas/MetricName'
          description: The name of the metric.
        dimensions:
          description: The metric dimensions.
          type: array
          items:
            $ref: '#/components/schemas/MetricDimension'
          x-ms-identifiers:
          - name
        unit:
          description: The unit of the metric data.
          enum:
          - Bytes
          - BytesPerSecond
          - Count
          - CountPerSecond
          - Percent
          - Seconds
          type: string
          x-ms-enum:
            name: MetricUnit
            modelAsString: false
        type:
          description: The type of the metric data.
          type: string
        values:
          description: The list of the metric data.
          type: array
          items:
            $ref: '#/components/schemas/MetricData'
          x-ms-identifiers:
          - timeStamp
    MetricDimension:
      description: The metric dimension. It indicates the source of the metric.
      type: object
      properties:
        name:
          description: The metric dimension name.
          type: string
        value:
          description: The metric dimension values.
          type: string
    MetricDefinitionList:
      description: The list of metric definitions.
      type: object
      properties:
        value:
          description: The list of metric definitions.
          type: array
          items:
            $ref: '#/components/schemas/MetricDefinition'
          x-ms-identifiers:
          - unit
          - /name/value
    VolumeContainer:
      description: The volume container.
      required:
      - properties
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseModel'
      properties:
        properties:
          $ref: '#/components/schemas/VolumeContainerProperties'
          description: The volume container properties.
          x-ms-client-flatten: true
    VolumeContainerList:
      description: The collection of volume container entities.
      required:
      - value
      type: object
      properties:
        value:
          description: The value.
          type: array
          items:
            $ref: '#/components/schemas/VolumeContainer'
    MetricDefinition:
      description: The monitoring metric definition.
      type: object
      properties:
        name:
          $ref: '#/components/schemas/MetricName'
          description: The metric name.
        unit:
          description: The metric unit.
          enum:
          - Bytes
          - BytesPerSecond
          - Count
          - CountPerSecond
          - Percent
          - Seconds
          type: string
          x-ms-enum:
            name: MetricUnit
            modelAsString: false
        primaryAggregationType:
          description: The metric aggregation type.
          enum:
          - Average
          - Last
          - Maximum
          - Minimum
          - None
          - Total
          type: string
          x-ms-enum:
            name: MetricAggregationType
            modelAsString: false
        resourceId:
          description: The metric source ID.
          type: string
        metricAvailabilities:
          description: The available metric granularities.
          type: array
          items:
            $ref: '#/components/schemas/MetricAvailablity'
          x-ms-identifiers:
          - timeGrain
        dimensions:
          description: The available metric dimensions.
          type: array
          items:
            $ref: '#/components/schemas/MetricDimension'
          x-ms-identifiers:
          - name
        category:
          description: The category of the metric.
          type: string
        type:
          description: The metric definition type.
          type: string
    MetricData:
      description: The metric data.
      type: object
      properties:
        timeStamp:
          format: date-time
          description: The time stamp of the metric data.
          type: string
        sum:
          format: double
          description: The sum of all samples at the time stamp.
          type: number
        count:
          format: int32
          description: The count of all samples at the time stamp.
          type: integer
        average:
          format: double
          description: The average of all samples at the time stamp.
          type: number
        minimum:
          format: double
          description: The minimum of all samples at the time stamp.
          type: number
        maximum:
          format: double
          description: The maximum of all samples at the time stamp.
          type: number
    MetricAvailablity:
      description: The metric availability.
      type: object
      properties:
        timeGrain:
          description: The aggregation interval for the metric.
          type: string
        retention:
          description: The retention period for the metric at the specified timegrain.
          type: string
    AsymmetricEncryptedSecret:
      description: Represent the secrets intended for encryption with asymmetric key pair.
      required:
      - value
      - encryptionAlgorithm
      type: object
      properties:
        value:
          description: The value of the secret.
          type: string
        encryptionCertThumbprint:
          description: Thumbprint certificate that was used to encrypt "Value". If the value in unencrypted, it will be null.
          type: string
        encryptionAlgorithm:
          description: The algorithm used to encrypt "Value".
          enum:
          - None
          - AES256
          - RSAES_PKCS1_v_1_5
          type: string
          x-ms-enum:
            name: EncryptionAlgorithm
            modelAsString: false
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription id
      required: true
      x-ms-skip-url-encoding: true
      schema:
        type: string
    deviceNameParameter:
      name: deviceName
      in: path
      description: The device name
      required: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The resource group name
      required: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
    managerNameParameter:
      name: managerName
      in: path
      description: The manager name
      required: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
        maxLength: 50
        minLength: 2
    apiVersionParameter:
      name: api-version
      in: query
      description: The api version
      required: true
      x-ms-skip-url-encoding: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
