openapi: 3.2.0
info:
  title: Microsoft Azure Provider Operations API
  version: '1.0'
  description: 'Operations tagged ProviderOperations across 2 of this provider''s published API definitions: devtestlabsclient-openapi-original.yml, managedlabsclient-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ProviderOperations
paths:
  /providers/Microsoft.DevTestLab/operations:
    get:
      tags:
      - ProviderOperations
      description: Result of the request to list REST API operations
      operationId: microsoftAzureProvideroperationsList
      parameters:
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderOperationResult'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        ProviderOperations_List:
          $ref: ./examples/ProviderOperations_List.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Devtestlab Operations
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.LabServices/operations:
    get:
      tags:
      - ProviderOperations
      description: Result of the request to list REST API operations
      operationId: microsoftAzureProvideroperationsList
      parameters:
      - $ref: '#/components/parameters/api-version_2'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderOperationResult'
      security:
      - azure_auth:
        - user_impersonation
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Labservices Operations
    servers:
    - url: https://management.azure.com
components:
  schemas:
    OperationMetadataDisplay:
      description: The object that describes the operations
      type: object
      properties:
        provider:
          description: Friendly name of the resource provider
          type: string
        resource:
          description: Resource type on which the operation is performed.
          type: string
        operation:
          description: 'Operation type: read, write, delete, listKeys/action, etc.'
          type: string
        description:
          description: Friendly name of the operation
          type: string
    CloudError:
      description: Error from a REST request.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: The cloud error that occurred
      x-ms-external: true
    OperationMetadata:
      description: The REST API operation supported by DevTestLab ResourceProvider.
      type: object
      properties:
        name:
          description: 'Operation name: {provider}/{resource}/{operation}'
          type: string
        display:
          $ref: '#/components/schemas/OperationMetadataDisplay'
          description: The object that describes the operations
    CloudErrorBody:
      description: Body of an error from a REST request.
      type: object
      properties:
        code:
          description: The error code.
          type: string
        message:
          description: The error message.
          type: string
        target:
          description: The error target.
          type: string
        details:
          description: Inner errors.
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
      x-ms-external: true
    ProviderOperationResult:
      description: Result of the request to list REST API operations
      type: object
      properties:
        value:
          description: List of operations supported by the resource provider.
          type: array
          items:
            $ref: '#/components/schemas/OperationMetadata'
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          type: string
          readOnly: true
    OperationMetadata_2:
      description: The REST API operation supported by ManagedLab ResourceProvider.
      type: object
      properties:
        name:
          description: 'Operation name: {provider}/{resource}/{operation}'
          type: string
        display:
          $ref: '#/components/schemas/OperationMetadataDisplay'
          description: The object that describes the operations
  parameters:
    api-version:
      name: api-version
      in: query
      description: Client API version.
      required: true
      schema:
        type: string
        default: '2018-09-15'
    api-version_2:
      name: api-version
      in: query
      description: Client API version.
      required: true
      schema:
        type: string
        default: '2018-10-15'
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: Access Microsoft Azure
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: OAuth2 Implicit Grant
x-refined-from:
- devtestlabsclient-openapi-original.yml
- managedlabsclient-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
