openapi: 3.2.0
info:
  title: Microsoft Azure Azure Migrate Assessment Service Import…
  version: 2023-04-01-preview
  description: Azure Migrate Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ImportCollectorsOperations
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/importcollectors
  : get:
      operationId: microsoftAzureImportcollectorsoperationsListbyassessmentproject
      tags:
      - ImportCollectorsOperations
      description: List ImportCollector resources by AssessmentProject
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportCollectorListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ImportCollectorsOperations_ListByAssessmentProject_MaximumSet_Gen:
          $ref: ./examples/ImportCollectorsOperations_ListByAssessmentProject_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/importcollectors/{importCollectorName}
  : get:
      operationId: microsoftAzureImportcollectorsoperationsGet
      tags:
      - ImportCollectorsOperations
      description: Get a ImportCollector
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: importCollectorName
        in: path
        description: Import collector ARM name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportCollector'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        ImportCollectorsOperations_Get_MaximumSet_Gen:
          $ref: ./examples/ImportCollectorsOperations_Get_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      operationId: microsoftAzureImportcollectorsoperationsCreate
      tags:
      - ImportCollectorsOperations
      description: Create a ImportCollector
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: importCollectorName
        in: path
        description: Import collector ARM name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: Resource 'ImportCollector' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportCollector'
        '201':
          description: Resource 'ImportCollector' create operation succeeded
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportCollector'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      x-ms-examples:
        ImportCollectorsOperations_Create_MaximumSet_Gen:
          $ref: ./examples/ImportCollectorsOperations_Create_MaximumSet_Gen.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportCollector'
        description: Resource create parameters.
        required: true
    delete:
      operationId: microsoftAzureImportcollectorsoperationsDelete
      tags:
      - ImportCollectorsOperations
      description: Delete a ImportCollector
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: importCollectorName
        in: path
        description: Import collector ARM name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource deleted successfully.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        ImportCollectorsOperations_Delete_MaximumSet_Gen:
          $ref: ./examples/ImportCollectorsOperations_Delete_MaximumSet_Gen.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    ProvisioningState:
      type: string
      description: The status of the current operation.
      enum:
      - Succeeded
      - Failed
      - Canceled
      - Provisioning
      - Updating
      - Deleting
      - Accepted
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: Succeeded
          value: Succeeded
          description: Resource has been created.
        - name: Failed
          value: Failed
          description: Resource creation failed.
        - name: Canceled
          value: Canceled
          description: Resource creation was canceled.
        - name: Provisioning
          value: Provisioning
          description: Resource is being Provisioned.
        - name: Updating
          value: Updating
          description: Resource is being Updated.
        - name: Deleting
          value: Deleting
          description: Resource is being Deleted.
        - name: Accepted
          value: Accepted
          description: Resource is being Accepted.
    ImportCollector:
      type: object
      description: Import collector resource.
      properties:
        properties:
          $ref: '#/components/schemas/CollectorPropertiesBase'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
    CollectorPropertiesBase:
      type: object
      description: Collector properties class.
      properties:
        discoverySiteId:
          type: string
          description: Gets the discovery site id.
        createdTimestamp:
          type: string
          format: date-time
          description: Gets the Timestamp when collector was created.
          readOnly: true
        updatedTimestamp:
          type: string
          format: date-time
          description: Timestamp when collector was last updated.
          readOnly: true
      allOf:
      - $ref: '#/components/schemas/AzureResourceProperties'
    ImportCollectorListResult:
      type: object
      description: The response of a ImportCollector list operation.
      properties:
        value:
          type: array
          description: The ImportCollector items on this page
          items:
            $ref: '#/components/schemas/ImportCollector'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    AzureResourceProperties:
      type: object
      description: Common properties for all azure tracked and proxy resources.
      properties:
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The status of the last operation.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
