openapi: 3.2.0
info:
  title: Microsoft Azure Linked Resources API
  x-refined-note:
  - x-cadl-generated differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged LinkedResources across 2 of this provider''s published API definitions: microsoftdatadog-openapi-original.yml, newrelicobservability-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
tags:
- name: LinkedResources
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Datadog/monitors/{monitorName}/listLinkedResources
  : post:
      tags:
      - LinkedResources
      summary: Microsoft Azure List All Azure Resources Associated To The Same Datadog…
      operationId: microsoftAzureMonitorsListlinkedresources
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/MonitorNameParameter'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkedResourceListResponse'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Monitors_ListLinkedResources:
          $ref: ./examples/LinkedResources_List.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/NewRelic.Observability/monitors/{monitorName}/listLinkedResources
  : post:
      tags:
      - LinkedResources
      summary: Microsoft Azure List All Azure Resources Associated To The Same Newrelic…
      operationId: microsoftAzureMonitorsListlinkedresources
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: monitorName
        in: path
        required: true
        description: Name of the Monitors resource
        schema:
          type: string
          pattern: ^.*$
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkedResourceListResponse'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Monitors_ListLinkedResources:
          $ref: ./examples/LinkedResources_List.json
      description: Needs a more full description created.
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
components:
  schemas:
    ResourceProviderDefaultErrorResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorResponseBody'
    LinkedResourceListResponse:
      description: Response of a list operation.
      type: object
      properties:
        value:
          description: Results of a list operation.
          type: array
          items:
            $ref: '#/components/schemas/LinkedResource'
        nextLink:
          description: Link to the next set of results, if any.
          type: string
    ErrorResponseBody:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseBody'
    LinkedResource:
      description: The definition of a linked resource.
      type: object
      properties:
        id:
          description: The ARM id of the linked resource.
          type: string
  parameters:
    MonitorNameParameter:
      in: path
      name: monitorName
      description: Monitor resource name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group to which the Datadog resource belongs.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The Microsoft Azure subscription ID.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- microsoftdatadog-openapi-original.yml
- newrelicobservability-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
