openapi: 3.2.0
info:
  title: Microsoft Azure Group API
  version: '1.0'
  description: 'Operations tagged Group across 3 of this provider''s published API definitions: apimanagementclient-openapi-original.yml, face-client-openapi-original.yml, graphrbacmanagementclient-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
- url: https://graph.windows.net
tags:
- name: Group
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/groups
  : get:
      tags:
      - Group
      operationId: microsoftAzureWorkspacegroupListbyservice
      description: Lists a collection of groups defined within a workspace in a service instance.
      externalDocs:
        url: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-create-groups
      x-ms-examples:
        ApiManagementListWorkspaceGroups:
          $ref: ./examples/ApiManagementListWorkspaceGroups.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - name: $filter
        in: query
        required: false
        description: '|     Field     |     Usage     |     Supported operators     |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>| name | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |</br>| displayName | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |</br>| description | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |</br>| externalId | filter | eq |     |</br>'
        schema:
          type: string
      - $ref: ./apimanagement.json#/parameters/TopQueryParameter
      - $ref: ./apimanagement.json#/parameters/SkipQueryParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Lists a collection of Group entities.
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/GroupCollection
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: ./definitions.json#/definitions/GroupContract
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/groups/{groupId}
  : head:
      tags:
      - Group
      operationId: microsoftAzureWorkspacegroupGetentitytag
      description: Gets the entity state (Etag) version of the group specified by its identifier.
      x-ms-examples:
        ApiManagementHeadWorkspaceGroup:
          $ref: ./examples/ApiManagementHeadWorkspaceGroup.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ./apimanagement.json#/parameters/GroupIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Specified group entity exists and current entity state version is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: Microsoft Azure Head Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    get:
      tags:
      - Group
      operationId: microsoftAzureWorkspacegroupGet
      description: Gets the details of the group specified by its identifier.
      x-ms-examples:
        ApiManagementGetWorkspaceGroup:
          $ref: ./examples/ApiManagementGetWorkspaceGroup.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ./apimanagement.json#/parameters/GroupIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The response body contains the specified Group entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/GroupContract
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    put:
      tags:
      - Group
      operationId: microsoftAzureWorkspacegroupCreateorupdate
      description: Creates or Updates a group.
      x-ms-examples:
        ApiManagementCreateWorkspaceGroup:
          $ref: ./examples/ApiManagementCreateWorkspaceGroup.json
        ApiManagementCreateWorkspaceGroupExternal:
          $ref: ./examples/ApiManagementCreateWorkspaceGroupExternal.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ./apimanagement.json#/parameters/GroupIdParameter
      - $ref: ./apimanagement.json#/parameters/IfMatchOptionalParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Group already exists.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/GroupContract
        '201':
          description: Group was created successfully.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/GroupContract
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./definitions.json#/definitions/GroupCreateParameters
        description: Create parameters.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    patch:
      tags:
      - Group
      operationId: microsoftAzureWorkspacegroupUpdate
      description: Updates the details of the group specified by its identifier.
      x-ms-examples:
        ApiManagementUpdateWorkspaceGroup:
          $ref: ./examples/ApiManagementUpdateWorkspaceGroup.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ./apimanagement.json#/parameters/GroupIdParameter
      - $ref: ./apimanagement.json#/parameters/IfMatchRequiredParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The group details were successfully updated.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/GroupContract
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./definitions.json#/definitions/GroupUpdateParameters
        description: Update parameters.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - Group
      operationId: microsoftAzureWorkspacegroupDelete
      description: Deletes specific group of the workspace in an API Management service instance.
      x-ms-examples:
        ApiManagementDeleteWorkspaceGroup:
          $ref: ./examples/ApiManagementDeleteWorkspaceGroup.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ./apimanagement.json#/parameters/GroupIdParameter
      - $ref: ./apimanagement.json#/parameters/IfMatchRequiredParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The group was successfully deleted.
        '204':
          description: The group was successfully deleted.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /group:
    post:
      description: 'Divide candidate faces into groups based on face similarity.

        * The output is one or more disjointed face groups and a messyGroup. A face group contains faces that have similar looking, often of the same person. Face groups are ranked by group size, i.e. number of faces. Notice that faces belonging to a same person might be split into several groups in the result.

        * MessyGroup is a special face group containing faces that cannot find any similar counterpart face from original faces. The messyGroup will not appear in the result if all faces found their counterparts.

        * Group API needs at least 2 candidate faces and 1000 at most. We suggest to try Face - Verify when you only have 2 candidate faces.

        * The ''recognitionModel'' associated with the query faces'' faceIds should be the same.'
      operationId: microsoftAzureFaceGroup
      responses:
        '200':
          description: A successful call returns one or more groups of similar faces (rank by group size) and a messyGroup.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResult'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
      x-ms-examples:
        Group example:
          $ref: ./examples/Group.json
      summary: Microsoft Azure Post Group
      tags:
      - Group
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupRequest'
        description: Request body for grouping.
        required: true
      security:
      - apim_key: []
  /{tenantID}/isMemberOf:
    post:
      tags:
      - Group
      operationId: microsoftAzureGroupsIsmemberof
      description: Checks whether the specified user, group, contact, or service principal is a direct or transitive member of the specified group.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. Indicates success. Returns true if the user, contact, group, or service principal is a direct or a transitive member of the specified group; otherwise, false.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckGroupMembershipResult'
            text/json:
              schema:
                $ref: '#/components/schemas/CheckGroupMembershipResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
      summary: Microsoft Azure Post Tenantid Ismemberof
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckGroupMembershipParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/CheckGroupMembershipParameters'
        description: The check group membership parameters.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://graph.windows.net
  /{tenantID}/groups/{groupObjectId}/$links/members/{memberObjectId}:
    delete:
      tags:
      - Group
      operationId: microsoftAzureGroupsRemovemember
      description: Remove a member from a group.
      parameters:
      - name: groupObjectId
        in: path
        required: true
        description: The object ID of the group from which to remove the member.
        schema:
          type: string
      - name: memberObjectId
        in: path
        required: true
        description: Member object id
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '204':
          description: No Content. Indicates success. No response body is returned.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
      summary: Microsoft Azure Delete Tenantid Groups Groupobjectid $links Members…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://graph.windows.net
  /{tenantID}/groups/{groupObjectId}/$links/members:
    post:
      tags:
      - Group
      operationId: microsoftAzureGroupsAddmember
      description: Add a member to a group.
      parameters:
      - name: groupObjectId
        in: path
        required: true
        description: The object ID of the group to which to add the member.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '204':
          description: No Content. Indicates success. No response body is returned.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
      summary: Microsoft Azure Post Tenantid Groups Groupobjectid $links Members
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupAddMemberParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/GroupAddMemberParameters'
        description: The URL of the member object, such as https://graph.windows.net/0b1f9851-1bf0-433f-aec3-cb9272f093dc/directoryObjects/f260bbc4-c254-447b-94cf-293b5ec434dd.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://graph.windows.net
  /{tenantID}/groups:
    post:
      tags:
      - Group
      operationId: microsoftAzureGroupsCreate
      description: Create a group in the directory.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ADGroup'
            text/json:
              schema:
                $ref: '#/components/schemas/ADGroup'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
      summary: Microsoft Azure Post Tenantid Groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupCreateParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/GroupCreateParameters'
        description: The parameters for the group to create.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    get:
      tags:
      - Group
      operationId: microsoftAzureGroupsList
      description: Gets list of groups for the current tenant.
      parameters:
      - name: $filter
        in: query
        required: false
        description: The filter to apply to the operation.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/GroupListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: Groups_ListNext
      x-ms-odata: '#/definitions/ADGroup'
      summary: Microsoft Azure Get Tenantid Groups
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://graph.windows.net
  /{tenantID}/groups/{objectId}/members:
    get:
      tags:
      - Group
      operationId: microsoftAzureGroupsGetgroupmembers
      description: Gets the members of a group.
      parameters:
      - name: objectId
        in: path
        required: true
        description: The object ID of the group whose members should be retrieved.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryObjectListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/DirectoryObjectListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: Groups_GetGroupMembersNext
      summary: Microsoft Azure Get Tenantid Groups Objectid Members
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://graph.windows.net
  /{tenantID}/groups/{objectId}:
    get:
      tags:
      - Group
      operationId: microsoftAzureGroupsGet
      description: Gets group information from the directory.
      parameters:
      - name: objectId
        in: path
        required: true
        description: The object ID of the user for which to get group information.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ADGroup'
            text/json:
              schema:
                $ref: '#/components/schemas/ADGroup'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
      summary: Microsoft Azure Get Tenantid Groups Objectid
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - Group
      operationId: microsoftAzureGroupsDelete
      description: Delete a group from the directory.
      parameters:
      - name: objectId
        in: path
        required: true
        description: The object ID of the group to delete.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
      summary: Microsoft Azure Delete Tenantid Groups Objectid
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://graph.windows.net
  /{tenantID}/groups/{objectId}/getMemberGroups:
    post:
      tags:
      - Group
      operationId: microsoftAzureGroupsGetmembergroups
      description: Gets a collection of object IDs of groups of which the specified group is a member.
      parameters:
      - name: objectId
        in: path
        required: true
        description: The object ID of the group for which to get group membership.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupGetMemberGroupsResult'
            text/json:
              schema:
                $ref: '#/components/schemas/GroupGetMemberGroupsResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Post Tenantid Groups Objectid Getmembergroups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupGetMemberGroupsParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/GroupGetMemberGroupsParameters'
        description: Group filtering parameters.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://graph.windows.net
components:
  schemas:
    APIError:
      type: object
      description: Error information returned by the API
      properties:
        error:
          $ref: '#/components/schemas/Error'
    Error:
      type: object
      description: Error body.
      properties:
        code:
          type: string
        message:
          type: string
    GroupResult:
      type: object
      required:
      - groups
      description: An array of face groups based on face similarity.
      properties:
        groups:
          type: array
          description: A partition of the original faces based on face similarity. Groups are ranked by number of faces
          items:
            type: array
            items:
              type: string
              format: uuid
        messyGroup:
          type: array
          description: Face ids array of faces that cannot find any similar faces from original faces.
          items:
            type: string
            format: uuid
    GroupRequest:
      type: object
      required:
      - faceIds
      description: Request body for group request.
      properties:
        faceIds:
          type: array
          description: Array of candidate faceId created by Face - Detect. The maximum is 1000 faces
          maxItems: 1000
          items:
            type: string
            format: uuid
    GroupGetMemberGroupsParameters:
      type: object
      properties:
        securityEnabledOnly:
          type: boolean
          description: If true, only membership in security-enabled groups should be checked. Otherwise, membership in all groups should be checked.
      additionalProperties:
        type: object
      required:
      - securityEnabledOnly
      description: Request parameters for GetMemberGroups API call.
    ErrorMessage:
      type: object
      properties:
        value:
          type: string
          x-ms-client-name: message
          description: Error message value.
      description: Active Directory error message.
    GroupGetMemberGroupsResult:
      type: object
      properties:
        value:
          type: array
          items:
            type: string
          description: A collection of group IDs of which the group is a member.
      description: Server response for GetMemberGroups API call.
    CheckGroupMembershipParameters:
      type: object
      properties:
        groupId:
          type: string
          description: The object ID of the group to check.
        memberId:
          type: string
          description: The object ID of the contact, group, user, or service principal to check for membership in the specified group.
      additionalProperties:
        type: object
      required:
      - groupId
      - memberId
      description: Request parameters for IsMemberOf API call.
    GroupAddMemberParameters:
      type: object
      properties:
        url:
          type: string
          description: A member object URL, such as "https://graph.windows.net/0b1f9851-1bf0-433f-aec3-cb9272f093dc/directoryObjects/f260bbc4-c254-447b-94cf-293b5ec434dd", where "0b1f9851-1bf0-433f-aec3-cb9272f093dc" is the tenantId and "f260bbc4-c254-447b-94cf-293b5ec434dd" is the objectId of the member (user, application, servicePrincipal, group) to be added.
      required:
      - url
      additionalProperties:
        type: object
      description: Request parameters for adding a member to a group.
    DirectoryObjectListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/DirectoryObject'
          description: A collection of DirectoryObject.
        odata.nextLink:
          type: string
          description: The URL to get the next set of results.
      description: DirectoryObject list operation result.
    GraphError:
      type: object
      properties:
        odata.error:
          type: object
          x-ms-client-flatten: true
          $ref: '#/components/schemas/OdataError'
          description: A Graph API error.
      description: Active Directory error information.
    GroupCreateParameters:
      type: object
      properties:
        displayName:
          type: string
          description: Group display name
        mailEnabled:
          type: boolean
          description: Whether the group is mail-enabled. Must be false. This is because only pure security groups can be created using the Graph API.
          enum:
          - false
        mailNickname:
          type: string
          description: Mail nickname
        securityEnabled:
          type: boolean
          description: Whether the group is a security group. Must be true. This is because only pure security groups can be created using the Graph API.
          enum:
          - true
      required:
      - displayName
      - mailEnabled
      - mailNickname
      - securityEnabled
      additionalProperties:
        type: object
      description: Request parameters for creating a new group.
    ADGroup:
      type: object
      allOf:
      - $ref: '#/components/schemas/DirectoryObject'
      properties:
        displayName:
          type: string
          description: The display name of the group.
        mailEnabled:
          type: boolean
          description: Whether the group is mail-enabled. Must be false. This is because only pure security groups can be created using the Graph API.
        mailNickname:
          type: string
          description: 'The mail alias for the group. '
        securityEnabled:
          type: boolean
          description: Whether the group is security-enable.
        mail:
          type: string
          description: The primary email address of the group.
      x-ms-discriminator-value: Group
      description: Active Directory group information.
    OdataError:
      type: object
      properties:
        code:
          type: string
          description: Error code.
        message:
          type: object
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ErrorMessage'
          description: Error Message.
      description: Active Directory OData error information.
    CheckGroupMembershipResult:
      type: object
      properties:
        value:
          type: boolean
          description: True if the specified user, group, contact, or service principal has either direct or transitive membership in the specified group; otherwise, false.
      additionalProperties:
        type: object
      description: Server response for IsMemberOf API call
    DirectoryObject:
      type: object
      discriminator:
        propertyName: objectType
      properties:
        objectId:
          type: string
          description: The object ID.
          readOnly: true
        objectType:
          type: string
          description: The object type.
        deletionTimestamp:
          type:
          - string
          - 'null'
          format: date-time
          description: The time at which the directory object was deleted.
          readOnly: true
      required:
      - objectType
      additionalProperties:
        type: object
      description: Represents an Azure Active Directory object.
    GroupListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ADGroup'
          description: A collection of Active Directory groups.
        odata.nextLink:
          type: string
          description: The URL to get the next set of results.
      description: Server response for Get tenant groups API call
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
    tenantIDInPath:
      name: tenantID
      in: path
      required: true
      description: The tenant ID.
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
    apim_key:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
x-refined-from:
- apimanagementclient-openapi-original.yml
- face-client-openapi-original.yml
- graphrbacmanagementclient-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
