openapi: 3.2.0
info:
  version: '2019-04-01'
  title: Microsoft Azure VMwareCloudSimple Dedicated Cloud Services…
  description: Description of the new service
  x-ms-code-generation-settings:
    name: VMwareCloudSimpleClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: DedicatedCloudServices
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/dedicatedCloudServices:
    get:
      description: Returns list of dedicated cloud services within a subscription
      tags:
      - DedicatedCloudServices
      summary: Microsoft Azure Implements List Of Dedicatedcloudservice Objects Within…
      operationId: microsoftAzureDedicatedcloudservicesListbysubscription
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/api-version'
      - description: The filter to apply on the list operation
        name: $filter
        in: query
        schema:
          type: string
      - description: The maximum number of record sets to return
        name: $top
        in: query
        schema:
          type: integer
          format: int32
      - description: to be used by nextLink implementation
        name: $skipToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedCloudServiceListResponse'
        default:
          description: General Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
      x-ms-examples:
        ListDedicatedCloudServices:
          $ref: ./examples/ListDedicatedCloudServices.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMwareCloudSimple/dedicatedCloudServices
  : get:
      description: Returns list of dedicated cloud services within a resource group
      tags:
      - DedicatedCloudServices
      summary: Microsoft Azure Implements List Of Dedicatedcloudservice Objects Within Rg…
      operationId: microsoftAzureDedicatedcloudservicesListbyresourcegroup
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/api-version'
      - description: The filter to apply on the list operation
        name: $filter
        in: query
        schema:
          type: string
      - description: The maximum number of record sets to return
        name: $top
        in: query
        schema:
          type: integer
          format: int32
      - description: to be used by nextLink implementation
        name: $skipToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedCloudServiceListResponse'
        default:
          description: General Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
      x-ms-examples:
        ListRGDedicatedCloudServices:
          $ref: ./examples/ListRGDedicatedCloudServices.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMwareCloudSimple/dedicatedCloudServices/{dedicatedCloudServiceName}
  : get:
      description: Returns Dedicate Cloud Service
      tags:
      - DedicatedCloudServices
      summary: Microsoft Azure Implements Dedicatedcloudservice Get Method
      operationId: microsoftAzureDedicatedcloudservicesGet
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - description: dedicated cloud Service name
        name: dedicatedCloudServiceName
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedCloudService'
        default:
          description: General Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
      x-ms-examples:
        GetDedicatedCloudService:
          $ref: ./examples/GetDedicatedCloudService.json
    put:
      description: Create dedicate cloud service
      tags:
      - DedicatedCloudServices
      summary: Microsoft Azure Implements Dedicated Cloud Service Put Method
      operationId: microsoftAzureDedicatedcloudservicesCreateorupdate
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - description: dedicated cloud Service name
        name: dedicatedCloudServiceName
        in: path
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9]([-_.a-zA-Z0-9]*[a-zA-Z0-9])?$
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: If resource is created or updated successfully, 200 should be returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedCloudService'
        default:
          description: General Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
      x-ms-examples:
        CreateDedicatedCloudService:
          $ref: ./examples/CreateDedicatedCloudService.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedCloudService'
        description: Create Dedicated Cloud Service request
        required: true
    delete:
      description: Delete dedicate cloud service
      tags:
      - DedicatedCloudServices
      summary: Microsoft Azure Implements Dedicatedcloudservice Delete Method
      operationId: microsoftAzureDedicatedcloudservicesDelete
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - description: dedicated cloud service name
        name: dedicatedCloudServiceName
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '204':
          description: no content. resource does not exist and the request is well formed
        default:
          description: General Error
          headers:
            Content-Type:
              schema:
                type: string
                default: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
      x-ms-examples:
        DeleteDedicatedCloudService:
          $ref: ./examples/DeleteDedicatedCloudService.json
      x-ms-long-running-operation: true
    patch:
      description: Patch dedicated cloud service's properties
      tags:
      - DedicatedCloudServices
      summary: Microsoft Azure Implements Dedicatedcloudservice Patch Method
      operationId: microsoftAzureDedicatedcloudservicesUpdate
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - description: dedicated cloud service name
        name: dedicatedCloudServiceName
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: If resource is created or updated successfully, 200 should be returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedCloudService'
        default:
          description: General Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
      x-ms-examples:
        PatchDedicatedService:
          $ref: ./examples/PatchDedicatedService.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchPayload'
        description: Patch Dedicated Cloud Service request
        required: true
components:
  schemas:
    DedicatedCloudServiceListResponse:
      description: List of dedicated cloud services
      properties:
        nextLink:
          description: Link for next list of DedicatedCloudNode
          type: string
        value:
          description: Results of the DedicatedCloudService list
          type: array
          items:
            $ref: '#/components/schemas/DedicatedCloudService'
    CSRPError:
      description: General error model
      properties:
        error:
          description: Error's body
          $ref: '#/components/schemas/CSRPErrorBody'
    PatchPayload:
      description: General patch payload modal
      properties:
        tags:
          description: The tags key:value pairs
          $ref: '#/components/schemas/Tags'
    Tags:
      description: Tags model
      additionalProperties:
        type: string
    CSRPErrorBody:
      description: Error properties
      properties:
        code:
          description: Error's code
          type: string
          readOnly: true
        details:
          description: Error's details
          type: array
          items:
            $ref: '#/components/schemas/CSRPErrorBody'
          x-ms-identifiers: []
          readOnly: true
        message:
          description: Error's message
          type: string
          readOnly: true
        target:
          description: Error's target
          type: string
    DedicatedCloudService:
      description: Dedicated cloud service model
      required:
      - location
      properties:
        id:
          description: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/dedicatedCloudServices/{dedicatedCloudServiceName}
          type: string
          readOnly: true
        location:
          description: Azure region
          type: string
          x-ms-mutability:
          - read
          - create
        name:
          description: '{dedicatedCloudServiceName}'
          type: string
          pattern: ^[a-zA-Z0-9]([-_.a-zA-Z0-9]*[a-zA-Z0-9])?$
          readOnly: true
        properties:
          description: The properties of Dedicated Node Service
          x-ms-client-flatten: true
          $ref: '#/components/schemas/DedicatedCloudServiceProperties'
        tags:
          description: The list of tags
          $ref: '#/components/schemas/Tags'
        type:
          description: '{resourceProviderNamespace}/{resourceType}'
          type: string
          readOnly: true
      x-ms-azure-resource: true
    DedicatedCloudServiceProperties:
      description: Properties of dedicated cloud service
      required:
      - gatewaySubnet
      properties:
        gatewaySubnet:
          description: gateway Subnet for the account. It will collect the subnet address and always treat it as /28
          type: string
        isAccountOnboarded:
          description: indicates whether account onboarded or not in a given region
          type: string
          enum:
          - notOnBoarded
          - onBoarded
          - onBoardingFailed
          - onBoarding
          x-ms-enum:
            modelAsString: false
            name: OnboardingStatus
          readOnly: true
        nodes:
          description: total nodes purchased
          type: integer
          readOnly: true
        serviceURL:
          description: link to a service management web portal
          type: string
          readOnly: true
  parameters:
    api-version:
      description: Client API version.
      name: api-version
      in: query
      required: true
      schema:
        type: string
    resourceGroupName:
      x-ms-parameter-location: method
      description: The name of the resource group
      name: resourceGroupName
      in: path
      required: true
      schema:
        type: string
    subscriptionId:
      description: The subscription ID.
      name: subscriptionId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
