openapi: 3.2.0
info:
  title: Microsoft Azure LoadTest Client Load Tests API
  description: LoadTest client provides access to LoadTest Resource and it's status operations.
  version: 2022-04-15-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Load Tests
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.LoadTestService/loadTests:
    get:
      tags:
      - Load Tests
      description: Lists loadtests resources in a subscription.
      operationId: microsoftAzureLoadtestsListbysubscription
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadTestResourcePageList'
        default:
          description: Resource provider error response about the failure.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        LoadTests_ListBySubscription:
          $ref: ./examples/LoadTests_ListBySubscription.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LoadTestService/loadTests:
    get:
      tags:
      - Load Tests
      description: Lists loadtest resources in a resource group.
      operationId: microsoftAzureLoadtestsListbyresourcegroup
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK -- list of loadtests resources retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadTestResourcePageList'
        default:
          description: Resource provider error response about the failure.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        LoadTests_ListByResourceGroup:
          $ref: ./examples/LoadTests_ListByResourceGroup.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LoadTestService/loadTests/{loadTestName}
  : get:
      tags:
      - Load Tests
      description: Get a LoadTest resource.
      operationId: microsoftAzureLoadtestsGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/LoadTestNameParameter'
      responses:
        '200':
          description: OK -- loadtest resource retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadTestResource'
        default:
          description: Resource provider error response about the failure.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        LoadTests_Get:
          $ref: ./examples/LoadTests_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Load Tests
      description: Create or update LoadTest resource.
      operationId: microsoftAzureLoadtestsCreateorupdate
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/LoadTestNameParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadTestResource'
        '201':
          description: Created -- LoadTest resource created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadTestResource'
        default:
          description: Resource provider error response about the failure.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        LoadTests_CreateOrUpdate:
          $ref: ./examples/LoadTests_CreateOrUpdate.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadTestResource'
        description: LoadTest resource data
        required: true
    patch:
      tags:
      - Load Tests
      description: Update a loadtest resource.
      operationId: microsoftAzureLoadtestsUpdate
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/LoadTestNameParameter'
      responses:
        '200':
          description: OK -- resource updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadTestResource'
        '202':
          description: Accepted -- LoadTest resource patch request accepted
        default:
          description: Resource provider error response about the failure.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        LoadTests_Update:
          $ref: ./examples/LoadTests_Update.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadTestResourcePatchRequestBody'
        description: LoadTest resource update data
        required: true
    delete:
      tags:
      - Load Tests
      description: Delete a LoadTest resource.
      operationId: microsoftAzureLoadtestsDelete
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/LoadTestNameParameter'
      responses:
        '200':
          description: OK -- resource deleted
        '202':
          description: Accepted -- LoadTest resource delete request accepted
        '204':
          description: No Content -- resource deleted
        default:
          description: Resource provider error response about the failure.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        LoadTests_Delete:
          $ref: ./examples/LoadTests_Delete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    LoadTestProperties:
      description: LoadTest resource properties.
      type: object
      properties:
        description:
          description: Description of the resource.
          maxLength: 512
          type: string
        provisioningState:
          description: Resource provisioning state.
          $ref: '#/components/schemas/ResourceState'
          readOnly: true
        dataPlaneURI:
          description: Resource data plane URI.
          maxLength: 2083
          type: string
          readOnly: true
        encryption:
          description: CMK Encryption property.
          type: object
          $ref: '#/components/schemas/EncryptionProperties'
    LoadTestResource:
      type: object
      description: LoadTest details
      properties:
        properties:
          description: Load Test resource properties
          $ref: '#/components/schemas/LoadTestProperties'
          x-ms-client-flatten: true
        identity:
          $ref: ../../../../../common-types/resource-management/v3/managedidentity.json#/definitions/ManagedServiceIdentity
          description: The type of identity used for the resource.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
    ResourceState:
      description: Load Test resources provisioning states.
      enum:
      - Succeeded
      - Failed
      - Canceled
      - Deleted
      type: string
      x-ms-enum:
        name: ResourceState
        modelAsString: true
    LoadTestResourcePatchRequestBody:
      description: LoadTest resource patch request body.
      type: object
      properties:
        tags:
          description: Resource tags.
          type: object
        identity:
          $ref: ../../../../../common-types/resource-management/v3/managedidentity.json#/definitions/ManagedServiceIdentity
          description: The type of identity used for the resource.
        properties:
          description: Load Test resource properties
          type: object
          x-ms-client-flatten: true
          properties:
            description:
              description: Description of the resource.
              maxLength: 512
              type: string
            encryption:
              description: CMK Encryption property.
              type: object
              $ref: '#/components/schemas/EncryptionProperties'
    EncryptionProperties:
      description: Key and identity details for Customer Managed Key encryption of load test resource
      type: object
      properties:
        identity:
          type: object
          description: All identity configuration for Customer-managed key settings defining which identity should be used to auth to Key Vault.
          properties:
            type:
              type: string
              enum:
              - SystemAssigned
              - UserAssigned
              x-ms-enum:
                name: type
                modelAsString: true
              description: Managed identity type to use for accessing encryption key Url
            resourceId:
              type: string
              description: 'user assigned identity to use for accessing key encryption key Url. Ex: /subscriptions/fa5fc227-a624-475e-b696-cdd604c735bc/resourceGroups/<resource group>/providers/Microsoft.ManagedIdentity/userAssignedIdentities/myId'
        keyUrl:
          type: string
          description: 'key encryption key Url, versioned. Ex: https://contosovault.vault.azure.net/keys/contosokek/562a4bb76b524a1493a6afe8e536ee78 or https://contosovault.vault.azure.net/keys/contosokek.'
    LoadTestResourcePageList:
      description: List of resources page result.
      type: object
      properties:
        value:
          description: List of resources in current page.
          type: array
          items:
            $ref: '#/components/schemas/LoadTestResource'
        nextLink:
          description: Link to next page of resources.
          type: string
  parameters:
    LoadTestNameParameter:
      in: path
      name: loadTestName
      description: Load Test resource name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2
