openapi: 3.2.0
info:
  version: 2018-06-01-preview
  title: Microsoft Azure BlockchainManagementClient Blockchain…
  description: REST API for Azure Blockchain Service
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: BlockchainMemberOperationResult
paths:
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Blockchain/locations/{locationName}/blockchainMemberOperationResults/{operationId}
  : get:
      tags:
      - BlockchainMemberOperationResult
      description: Get Async operation result.
      operationId: microsoftAzureBlockchainmemberoperationresultsGet
      parameters:
      - name: locationName
        in: path
        description: Location name.
        required: true
        schema:
          type: string
      - name: operationId
        in: path
        description: Operation Id.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
        '204':
          description: Success
      x-ms-examples:
        BlockchainMemberOperationResults_Get:
          $ref: ./examples/BlockchainMemberOperationResults_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Blockchain…
components:
  schemas:
    OperationResult:
      description: Operation result payload which is exposed in the response of the resource provider.
      type: object
      properties:
        name:
          description: Gets or sets the operation name.
          type: string
        startTime:
          format: date-time
          description: Gets or sets the operation start time.
          type: string
        endTime:
          format: date-time
          description: Gets or sets the operation end time.
          type: string
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Gets the subscription Id which uniquely identifies the Microsoft Azure subscription. The subscription ID is part of the URI for every service call.
      required: true
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client API Version.
      required: true
      schema:
        type: string
        enum:
        - 2018-06-01-preview
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
