openapi: 3.2.0
info:
  title: Microsoft Azure CustomerInsightsManagementClient…
  description: The Azure Customer Insights management API provides a RESTful set of web services that interact with Azure Customer Insights service to manage your resources. The API has entities that capture the relationship between an end user and the Azure Customer Insights service.
  version: '2017-04-26'
  x-ms-code-generation-settings:
    name: CustomerInsightsManagementClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Interactions
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/interactions/{interactionName}
  : put:
      tags:
      - Interactions
      operationId: microsoftAzureInteractionsCreateorupdate
      x-ms-examples:
        Interactions_CreateOrUpdate:
          $ref: ./examples/InteractionsCreateOrUpdate.json
      description: Creates an interaction or updates an existing interaction within a hub.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hubName
        in: path
        required: true
        description: The name of the hub.
        schema:
          type: string
      - name: interactionName
        in: path
        required: true
        description: The name of the interaction.
        schema:
          type: string
          maxLength: 128
          minLength: 1
          pattern: ^[a-zA-Z][a-zA-Z0-9_]+$
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. Successfully created the interaction.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InteractionResourceFormat'
        '202':
          description: Accepted. The create interaction operation is accepted.
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InteractionResourceFormat'
        description: Parameters supplied to the CreateOrUpdate Interaction operation.
        required: true
    get:
      tags:
      - Interactions
      operationId: microsoftAzureInteractionsGet
      x-ms-examples:
        Interactions_Get:
          $ref: ./examples/InteractionsGet.json
      description: Gets information about the specified interaction.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hubName
        in: path
        required: true
        description: The name of the hub.
        schema:
          type: string
      - name: interactionName
        in: path
        required: true
        description: The name of the interaction.
        schema:
          type: string
      - name: locale-code
        in: query
        required: false
        description: Locale of interaction to retrieve, default is en-us.
        schema:
          type: string
          default: en-us
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. Successfully get the interaction.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InteractionResourceFormat'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/interactions
  : get:
      tags:
      - Interactions
      operationId: microsoftAzureInteractionsListbyhub
      x-ms-examples:
        Interactions_ListByHub:
          $ref: ./examples/InteractionsListByHub.json
      description: Gets all interactions in the hub.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hubName
        in: path
        required: true
        description: The name of the hub.
        schema:
          type: string
      - name: locale-code
        in: query
        required: false
        description: Locale of interaction to retrieve, default is en-us.
        schema:
          type: string
          default: en-us
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. Successfully get all the interactions in the hub.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InteractionListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/interactions/{interactionName}/suggestRelationshipLinks
  : post:
      tags:
      - Interactions
      operationId: microsoftAzureInteractionsSuggestrelationshiplinks
      x-ms-examples:
        Interactions_SuggestRelationshipLinks:
          $ref: ./examples/InteractionsSuggestRelationshipLinks.json
      description: Suggests relationships to create relationship links.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hubName
        in: path
        required: true
        description: The name of the hub.
        schema:
          type: string
      - name: interactionName
        in: path
        required: true
        description: The name of the interaction.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. Successfully get suggested Relationship Links.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuggestRelationshipLinksResponse'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    DataSourcePrecedence:
      properties:
        dataSource:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/DataSource'
        precedence:
          type: integer
          description: the precedence value.
      description: The data source precedence is a way to know the precedence of each data source.
    ProxyResource:
      properties:
        id:
          readOnly: true
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
      x-ms-azure-resource: true
      description: Common properties of proxy resource.
    ProvisioningState:
      type: string
      enum:
      - Provisioning
      - Succeeded
      - Expiring
      - Deleting
      - HumanIntervention
      - Failed
      x-ms-enum:
        name: ProvisioningStates
        modelAsString: true
      description: Provisioning state.
    InteractionListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/InteractionResourceFormat'
          description: Results of the list operation.
        nextLink:
          type: string
          description: Link to the next set of results.
      description: The response of list interaction operation.
    InteractionResourceFormat:
      description: The interaction resource format.
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/InteractionTypeDefinition'
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
    ProfileEnumValidValuesFormat:
      properties:
        value:
          type: integer
          description: The integer value of the enum member.
        localizedValueNames:
          type: object
          additionalProperties:
            type: string
          description: Localized names of the enum member.
      description: Valid enum values in case of an enum property.
    Participant:
      required:
      - participantName
      - profileTypeName
      - participantPropertyReferences
      properties:
        profileTypeName:
          type: string
          description: Profile type name.
        participantPropertyReferences:
          type: array
          items:
            $ref: '#/components/schemas/ParticipantPropertyReference'
          description: The property references.
        participantName:
          type: string
          description: Participant name.
        displayName:
          type: object
          additionalProperties:
            type: string
          description: Localized display name.
        description:
          type: object
          additionalProperties:
            type: string
          description: Localized descriptions.
        role:
          type: string
          description: The role that the participant is playing in the interaction.
      description: Describes a profile type participating in an interaction.
    ParticipantProfilePropertyReference:
      required:
      - interactionPropertyName
      - profilePropertyName
      properties:
        interactionPropertyName:
          type: string
          description: The source interaction property that maps to the target profile property.
        profilePropertyName:
          type: string
          description: The target profile property that maps to the source interaction property.
      description: The participant profile property reference.
    RelationshipsLookup:
      properties:
        profileName:
          type: string
          readOnly: true
          description: The relationship profile.
        profilePropertyReferences:
          type: array
          items:
            $ref: '#/components/schemas/ParticipantProfilePropertyReference'
          readOnly: true
          description: The property references for the profile type.
        relatedProfileName:
          type: string
          readOnly: true
          description: The related profile.
        relatedProfilePropertyReferences:
          type: array
          items:
            $ref: '#/components/schemas/ParticipantProfilePropertyReference'
          readOnly: true
          description: The property references for the related profile type.
        existingRelationshipName:
          type: string
          readOnly: true
          description: The name of existing Relationship.
      description: The definition of suggested relationship for the type.
    SuggestRelationshipLinksResponse:
      properties:
        interactionName:
          type: string
          readOnly: true
          description: The interaction name.
        suggestedRelationships:
          type: array
          items:
            $ref: '#/components/schemas/RelationshipsLookup'
          readOnly: true
          description: Suggested relationships for the type.
      description: The response of suggest relationship links operation.
    InteractionTypeDefinition:
      description: The Interaction Type Definition
      allOf:
      - $ref: '#/components/schemas/EntityTypeDefinition'
      properties:
        idPropertyNames:
          type: array
          items:
            type: string
          description: The id property names. Properties which uniquely identify an interaction instance.
        participantProfiles:
          type: array
          items:
            $ref: '#/components/schemas/Participant'
          description: Profiles that participated in the interaction.
        primaryParticipantProfilePropertyName:
          type: string
          description: The primary participant property name for an interaction ,This is used to logically represent the agent of the interaction, Specify the participant name here from ParticipantName.
        dataSourcePrecedenceRules:
          type: array
          items:
            $ref: '#/components/schemas/DataSourcePrecedence'
          readOnly: true
          description: This is specific to interactions modeled as activities. Data sources are used to determine where data is stored and also in precedence rules.
        defaultDataSource:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/DataSource'
          description: Default data source is specifically used in cases where data source is not specified in an instance.
        isActivity:
          type: boolean
          description: An interaction can be tagged as an activity only during create. This enables the interaction to be editable and can enable merging of properties from multiple data sources based on precedence, which is defined at a link level.
    DataSource:
      properties:
        name:
          type: string
          readOnly: true
          description: The data source name
        dataSourceType:
          type: string
          enum:
          - Connector
          - LinkInteraction
          - SystemDefault
          x-ms-enum:
            name: DataSourceType
            modelAsString: true
          readOnly: true
          description: The data source type.
        status:
          type: string
          enum:
          - None
          - Active
          - Deleted
          x-ms-enum:
            name: Status
            modelAsString: true
          readOnly: true
          description: The data source status.
        id:
          type: integer
          readOnly: true
          description: The data source ID.
        dataSourceReferenceId:
          type: string
          readOnly: true
          description: The data source reference id.
      description: Data Source is a way for us to know the source of instances. A single type can have data coming in from multiple places. In activities we use this to determine precedence rules.
    MetadataDefinitionBase:
      properties:
        attributes:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: The attributes for the Type.
        description:
          type: object
          additionalProperties:
            type: string
          description: Localized descriptions for the property.
        displayName:
          type: object
          additionalProperties:
            type: string
          description: Localized display names for the property.
        localizedAttributes:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: string
          description: Any custom localized attributes for the Type.
        smallImage:
          type: string
          description: Small Image associated with the Property or EntityType.
        mediumImage:
          type: string
          description: Medium Image associated with the Property or EntityType.
        largeImage:
          type: string
          description: Large Image associated with the Property or EntityType.
      description: The Metadata definition base.
    PropertyDefinition:
      required:
      - fieldName
      - fieldType
      properties:
        arrayValueSeparator:
          type: string
          description: Array value separator for properties with isArray set.
        enumValidValues:
          type: array
          items:
            $ref: '#/components/schemas/ProfileEnumValidValuesFormat'
          description: Describes valid values for an enum property.
        fieldName:
          type: string
          description: Name of the property.
        fieldType:
          type: string
          description: Type of the property.
        isArray:
          type: boolean
          description: Indicates if the property is actually an array of the fieldType above on the data api.
        isEnum:
          type: boolean
          description: Indicates if the property is an enum.
        isFlagEnum:
          type: boolean
          description: Indicates if the property is an flag enum.
        isImage:
          type: boolean
          description: Whether the property is an Image.
        isLocalizedString:
          type: boolean
          description: Whether the property is a localized string.
        isName:
          type: boolean
          description: Whether the property is a name or a part of name.
        isRequired:
          type: boolean
          description: Whether property value is required on instances, IsRequired field only for Interaction. Profile Instance will not check for required field.
        propertyId:
          type: string
          description: The ID associated with the property.
        schemaItemPropLink:
          type: string
          description: URL encoded schema.org item prop link for the property.
        maxLength:
          type: integer
          description: Max length of string. Used only if type is string.
        isAvailableInGraph:
          type: boolean
          description: Whether property is available in graph or not.
        dataSourcePrecedenceRules:
          type: array
          items:
            $ref: '#/components/schemas/DataSourcePrecedence'
          readOnly: true
          description: This is specific to interactions modeled as activities. Data sources are used to determine where data is stored and also in precedence rules.
      description: Property definition.
    ParticipantPropertyReference:
      required:
      - sourcePropertyName
      - targetPropertyName
      properties:
        sourcePropertyName:
          type: string
          description: The source property that maps to the target property.
        targetPropertyName:
          type: string
          description: The target property that maps to the source property.
      description: The participant property reference.
    EntityTypeDefinition:
      properties:
        apiEntitySetName:
          type: string
          description: The api entity set name. This becomes the odata entity set name for the entity Type being referred in this object.
        entityType:
          type: string
          enum:
          - None
          - Profile
          - Interaction
          - Relationship
          x-ms-enum:
            name: EntityTypes
            modelAsString: false
          description: Type of entity.
        fields:
          type: array
          items:
            $ref: '#/components/schemas/PropertyDefinition'
          description: The properties of the Profile.
        instancesCount:
          type: integer
          description: The instance count.
        lastChangedUtc:
          type: string
          readOnly: true
          format: date-time
          description: The last changed time for the type definition.
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          readOnly: true
          description: Provisioning state.
        schemaItemTypeLink:
          type: string
          description: The schema org link. This helps ACI identify and suggest semantic models.
        tenantId:
          type: string
          readOnly: true
          description: The hub name.
        timestampFieldName:
          type: string
          description: The timestamp property name. Represents the time when the interaction or profile update happened.
        typeName:
          type: string
          description: The name of the entity.
      allOf:
      - $ref: '#/components/schemas/MetadataDefinitionBase'
      description: Describes an entity.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
