openapi: 3.2.0
info:
  title: Microsoft Azure Product API
  version: '1.0'
  description: 'Operations tagged Product across 2 of this provider''s published API definitions: apimanagementclient-openapi-original.yml, azurestack-azure-bridge-client-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Product
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/products
  : get:
      tags:
      - Product
      operationId: microsoftAzureWorkspaceproductListbyservice
      description: Lists a collection of products in the specified workspace in a service instance.
      x-ms-examples:
        ApiManagementListWorkspaceProducts:
          $ref: ./examples/ApiManagementListWorkspaceProducts.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - name: $filter
        in: query
        required: false
        description: '|     Field     |     Usage     |     Supported operators     |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>| name | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |</br>| displayName | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |</br>| description | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |</br>| terms | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |</br>| state | filter | eq |     |</br>| groups | expand |     |     |</br>'
        schema:
          type: string
      - $ref: ./apimanagement.json#/parameters/TopQueryParameter
      - $ref: ./apimanagement.json#/parameters/SkipQueryParameter
      - name: expandGroups
        in: query
        required: false
        description: When set to true, the response contains an array of groups that have visibility to the product. The default is false.
        schema:
          type: boolean
      - name: tags
        in: query
        required: false
        description: Products which are part of a specific tag.
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: A Collection of the Product entities for the specified workspace in an API Management service instance.
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/ProductCollection
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: ./definitions.json#/definitions/ProductContract
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/products/{productId}
  : head:
      tags:
      - Product
      operationId: microsoftAzureWorkspaceproductGetentitytag
      description: Gets the entity state (Etag) version of the product specified by its identifier.
      x-ms-examples:
        ApiManagementHeadWorkspaceProduct:
          $ref: ./examples/ApiManagementHeadWorkspaceProduct.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ./apimanagement.json#/parameters/ProductIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Specified Product entity exists and current entity state version is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: Microsoft Azure Head Subscriptions Subscriptionid Resourcegroups…
    get:
      tags:
      - Product
      operationId: microsoftAzureWorkspaceproductGet
      description: Gets the details of the product specified by its identifier.
      x-ms-examples:
        ApiManagementGetWorkspaceProduct:
          $ref: ./examples/ApiManagementGetWorkspaceProduct.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ./apimanagement.json#/parameters/ProductIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The response body contains the specified Product entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/ProductContract
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Product
      operationId: microsoftAzureWorkspaceproductCreateorupdate
      description: Creates or Updates a product.
      x-ms-examples:
        ApiManagementCreateWorkspaceProduct:
          $ref: ./examples/ApiManagementCreateWorkspaceProduct.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ./apimanagement.json#/parameters/ProductIdParameter
      - $ref: ./apimanagement.json#/parameters/IfMatchOptionalParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Product was successfully updated.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/ProductContract
        '201':
          description: Product was successfully created.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/ProductContract
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./definitions.json#/definitions/ProductContract
        description: Create or update parameters.
        required: true
    patch:
      tags:
      - Product
      operationId: microsoftAzureWorkspaceproductUpdate
      description: Update existing product details.
      x-ms-examples:
        ApiManagementUpdateWorkspaceProduct:
          $ref: ./examples/ApiManagementUpdateWorkspaceProduct.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ./apimanagement.json#/parameters/ProductIdParameter
      - $ref: ./apimanagement.json#/parameters/IfMatchRequiredParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Product was successfully updated.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/ProductContract
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./definitions.json#/definitions/ProductUpdateParameters
        description: Update parameters.
        required: true
    delete:
      tags:
      - Product
      operationId: microsoftAzureWorkspaceproductDelete
      description: Delete product.
      x-ms-examples:
        ApiManagementDeleteWorkspaceProduct:
          $ref: ./examples/ApiManagementDeleteWorkspaceProduct.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ./apimanagement.json#/parameters/ProductIdParameter
      - $ref: ./apimanagement.json#/parameters/IfMatchRequiredParameter
      - name: deleteSubscriptions
        in: query
        required: false
        description: Delete existing subscriptions associated with the product or not.
        schema:
          type: boolean
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Product was successfully removed.
        '204':
          description: Product was successfully removed by previous request or does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/products
  : get:
      x-ms-examples:
        Returns a list of products.:
          $ref: examples/Product/List.json
      tags:
      - Product
      description: Returns a list of products.
      operationId: microsoftAzureProductsList
      parameters:
      - $ref: AzureStack.json#/parameters/SubscriptionIdParameter
      - $ref: AzureStack.json#/parameters/ResourceGroupNameParameter
      - $ref: AzureStack.json#/parameters/RegistrationNameParameter
      - $ref: AzureStack.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: AzureStack.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Get Subscriptions Subscriptionid Resourcegroups Resourcegroup Providers…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/products/{productName}
  : get:
      x-ms-examples:
        Returns the specified product.:
          $ref: examples/Product/Get.json
      tags:
      - Product
      description: Returns the specified product.
      operationId: microsoftAzureProductsGet
      parameters:
      - $ref: AzureStack.json#/parameters/SubscriptionIdParameter
      - $ref: AzureStack.json#/parameters/ResourceGroupNameParameter
      - $ref: AzureStack.json#/parameters/RegistrationNameParameter
      - $ref: '#/components/parameters/ProductNameParameter'
      - $ref: AzureStack.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: AzureStack.json#/definitions/ErrorResponse
      summary: Get Subscriptions Subscriptionid Resourcegroups Resourcegroup Providers…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/products/{productName}/listDetails
  : post:
      x-ms-examples:
        Returns the extended properties of a product.:
          $ref: examples/Product/Post.json
      tags:
      - Product
      description: Returns the extended properties of a product.
      operationId: microsoftAzureProductsListdetails
      parameters:
      - $ref: AzureStack.json#/parameters/SubscriptionIdParameter
      - $ref: AzureStack.json#/parameters/ResourceGroupNameParameter
      - $ref: AzureStack.json#/parameters/RegistrationNameParameter
      - $ref: '#/components/parameters/ProductNameParameter'
      - $ref: AzureStack.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedProduct'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: AzureStack.json#/definitions/ErrorResponse
      summary: Post Subscriptions Subscriptionid Resourcegroups Resourcegroup Providers…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/products/{productName}/getProducts
  : post:
      x-ms-examples:
        Returns a list of products.:
          $ref: examples/Product/ListPost.json
      tags:
      - Product
      description: Returns a list of products.
      operationId: microsoftAzureProductsGetproducts
      parameters:
      - $ref: AzureStack.json#/parameters/SubscriptionIdParameter
      - $ref: AzureStack.json#/parameters/ResourceGroupNameParameter
      - $ref: AzureStack.json#/parameters/RegistrationNameParameter
      - $ref: '#/components/parameters/ProductNameParameter'
      - $ref: '#/components/parameters/DeviceConfigurationParameter'
      - $ref: AzureStack.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: AzureStack.json#/definitions/ErrorResponse
      summary: Post Subscriptions Subscriptionid Resourcegroups Resourcegroup Providers…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/products/{productName}/getProduct
  : post:
      x-ms-examples:
        Returns the specified product.:
          $ref: examples/Product/GetPost.json
      tags:
      - Product
      description: Returns the specified product.
      operationId: microsoftAzureProductsGetproduct
      parameters:
      - $ref: AzureStack.json#/parameters/SubscriptionIdParameter
      - $ref: AzureStack.json#/parameters/ResourceGroupNameParameter
      - $ref: AzureStack.json#/parameters/RegistrationNameParameter
      - $ref: '#/components/parameters/ProductNameParameter'
      - $ref: AzureStack.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/DeviceConfigurationParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: AzureStack.json#/definitions/ErrorResponse
      summary: Post Subscriptions Subscriptionid Resourcegroups Resourcegroup Providers…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/products/{productName}/uploadProductLog
  : post:
      x-ms-examples:
        Returns the specified product.:
          $ref: examples/Product/UploadLog.json
      tags:
      - Product
      description: Returns the specified product.
      operationId: microsoftAzureProductsUploadlog
      parameters:
      - $ref: AzureStack.json#/parameters/SubscriptionIdParameter
      - $ref: AzureStack.json#/parameters/ResourceGroupNameParameter
      - $ref: AzureStack.json#/parameters/RegistrationNameParameter
      - $ref: '#/components/parameters/ProductNameParameter'
      - $ref: AzureStack.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/MarketplaceProductLogUpdateParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductLog'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: AzureStack.json#/definitions/ErrorResponse
      summary: Post Subscriptions Subscriptionid Resourcegroups Resourcegroup Providers…
    servers:
    - url: https://management.azure.com
components:
  schemas:
    ExtendedProductProperties:
      description: Product information.
      type: object
      properties: {}
      allOf:
      - $ref: '#/components/schemas/VirtualMachineExtensionProductProperties'
      - $ref: '#/components/schemas/VirtualMachineProductProperties'
    DeviceConfiguration:
      description: Device Configuration.
      properties:
        deviceVersion:
          description: Version of the device.
          type: string
          readOnly: true
        identitySystem:
          description: Identity system of the device.
          enum:
          - AzureAD
          - ADFS
          type: string
          x-ms-enum:
            name: category
            modelAsString: true
          readOnly: true
    ProductNestedProperties:
      description: Properties portion of the product resource.
      type: object
      properties:
        displayName:
          description: The display name of the product.
          type: string
        description:
          description: The description of the product.
          type: string
        publisherDisplayName:
          description: The user-friendly name of the product publisher.
          type: string
        publisherIdentifier:
          description: Publisher identifier.
          type: string
        offer:
          description: The offer representing the product.
          type: string
        offerVersion:
          description: The version of the product offer.
          type: string
        sku:
          description: The product SKU.
          type: string
        billingPartNumber:
          description: The part number used for billing purposes.
          type: string
        vmExtensionType:
          description: The type of the Virtual Machine Extension.
          type: string
        galleryItemIdentity:
          description: The identifier of the gallery item corresponding to the product.
          type: string
        iconUris:
          description: Additional links available for this product.
          $ref: '#/components/schemas/IconUris'
        links:
          description: Additional links available for this product.
          type: array
          items:
            $ref: '#/components/schemas/ProductLink'
        legalTerms:
          description: The legal terms.
          type: string
        privacyPolicy:
          description: The privacy policy.
          type: string
        payloadLength:
          description: The length of product content.
          type: integer
          format: int64
        productKind:
          description: The kind of the product (virtualMachine or virtualMachineExtension)
          type: string
        productProperties:
          description: Additional properties for the product.
          $ref: '#/components/schemas/ProductProperties'
        compatibility:
          description: Product compatibility with current device.
          $ref: '#/components/schemas/Compatibility'
    IconUris:
      description: Links to product icons.
      type: object
      properties:
        large:
          description: URI to large icon.
          type: string
        wide:
          description: URI to wide icon.
          type: string
        medium:
          description: URI to medium icon.
          type: string
        small:
          description: URI to small icon.
          type: string
        hero:
          description: URI to hero icon.
          type: string
    Compatibility:
      description: Product compatibility
      type: object
      properties:
        isCompatible:
          description: Tells if product is compatible with current device
          type: boolean
        message:
          description: Short error message if any compatibility issues are found
          type: string
        description:
          description: Full error message if any compatibility issues are found
          type: string
        issues:
          description: List of all issues found
          type: array
          items:
            $ref: '#/components/schemas/CompatibilityIssue'
    VirtualMachineExtensionProductProperties:
      description: Product information.
      type: object
      properties:
        computeRole:
          description: Specifies kind of compute role included in the package.
          $ref: '#/components/schemas/ComputeRole'
          readOnly: true
        isSystemExtension:
          description: Specifies if product is a Virtual Machine Extension.
          type: boolean
          readOnly: true
        sourceBlob:
          description: Specifies a download location where content can be downloaded from.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/Uri'
          readOnly: true
        supportMultipleExtensions:
          description: Indicates if specified product supports multiple extensions.
          type: boolean
          readOnly: true
        version:
          description: Specifies product version.
          type: string
          readOnly: true
        vmOsType:
          description: Specifies operating system used by the product.
          $ref: '#/components/schemas/OperatingSystem'
          readOnly: true
        vmScaleSetEnabled:
          description: Indicates if virtual machine Scale Set is enabled in the specified product.
          type: boolean
          readOnly: true
    ProductList:
      description: Pageable list of products.
      type: object
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of products.
          type: array
          items:
            $ref: '#/components/schemas/Product'
    ComputeRole:
      description: Compute role type (IaaS or PaaS).
      type: string
      enum:
      - None
      - IaaS
      - PaaS
      x-ms-enum:
        name: ComputeRole
        modelAsString: true
    OsDiskImage:
      description: OS disk image.
      type: object
      properties:
        operatingSystem:
          description: OS operating system type.
          $ref: '#/components/schemas/OperatingSystem'
          readOnly: true
        sourceBlobSasUri:
          description: SAS key for source blob.
          type: string
          readOnly: true
    Uri:
      description: The URI.
      type: object
      properties:
        uri:
          description: The URI.
          type: string
          readOnly: true
    ProductLink:
      description: Link with additional information about a product.
      type: object
      properties:
        displayName:
          description: The description of the link.
          type: string
        uri:
          description: The URI corresponding to the link.
          type: string
    Product:
      description: Product information.
      type: object
      properties:
        properties:
          description: Properties of the product resource.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ProductNestedProperties'
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
      allOf:
      - $ref: AzureStack.json#/definitions/Resource
    DataDiskImage:
      description: Data disk image.
      type: object
      properties:
        lun:
          description: The LUN.
          type: integer
          format: int32
          readOnly: true
        sourceBlobSasUri:
          description: SAS key for source blob.
          type: string
          readOnly: true
    MarketplaceProductLogUpdate:
      description: Update details for product log.
      properties:
        operation:
          description: Operation to log.
          type: string
          readOnly: true
        status:
          description: Operation status to log.
          type: string
          readOnly: true
        error:
          description: Error related to the operation.
          type: string
          readOnly: true
        details:
          description: Error details related to operation.
          type: string
          readOnly: true
    CompatibilityIssue:
      description: Compatibility issue
      type: string
      enum:
      - HigherDeviceVersionRequired
      - LowerDeviceVersionRequired
      - CapacityBillingModelRequired
      - PayAsYouGoBillingModelRequired
      - DevelopmentBillingModelRequired
      - AzureADIdentitySystemRequired
      - ADFSIdentitySystemRequired
      - ConnectionToInternetRequired
      - ConnectionToAzureRequired
      - DisconnectedEnvironmentRequired
      x-ms-enum:
        name: CompatibilityIssue
        modelAsString: true
    VirtualMachineProductProperties:
      description: Product information.
      type: object
      properties:
        version:
          description: Specifies product version.
          type: string
          readOnly: true
        osDiskImage:
          description: OS disk image used by product.
          $ref: '#/components/schemas/OsDiskImage'
          readOnly: true
        dataDiskImages:
          description: List of attached data disks.
          type: array
          items:
            $ref: '#/components/schemas/DataDiskImage'
          readOnly: true
    ExtendedProduct:
      description: Extended description about the product required for installing it into Azure Stack.
      type: object
      properties:
        galleryPackageBlobSasUri:
          description: The URI to the .azpkg file that provides information required for showing product in the gallery.
          type: string
          readOnly: true
        productKind:
          description: Specifies the kind of the product (virtualMachine or virtualMachineExtension).
          type: string
          readOnly: true
        properties:
          description: Specifies additional properties describing the product.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ExtendedProductProperties'
          readOnly: true
    ProductLog:
      description: Product action log.
      properties:
        id:
          description: Log ID.
          type: string
          readOnly: true
        productId:
          description: Logged product ID.
          type: string
          readOnly: true
        subscriptionId:
          description: Logged subscription ID.
          type: string
          readOnly: true
        registrationName:
          description: Logged registration name.
          type: string
          readOnly: true
        resourceGroupName:
          description: Logged resource group name.
          type: string
          readOnly: true
        operation:
          description: Logged operation.
          type: string
          readOnly: true
        startDate:
          description: Operation start datetime.
          type: string
          readOnly: true
        endDate:
          description: Operation end datetime.
          type: string
          readOnly: true
        status:
          description: Operation status.
          type: string
          readOnly: true
        error:
          description: Operation error data.
          type: string
          readOnly: true
        details:
          description: Operation error details.
          type: string
          readOnly: true
    ProductProperties:
      description: Additional properties of the product
      type: object
      properties:
        version:
          description: The version.
          type: string
    OperatingSystem:
      description: Operating system type (Windows or Linux).
      type: string
      enum:
      - None
      - Windows
      - Linux
      x-ms-enum:
        name: OperatingSystem
        modelAsString: true
  parameters:
    MarketplaceProductLogUpdateParameter:
      description: Update details for product log.
      name: marketplaceProductLogUpdate
      in: body
      required: false
      x-ms-parameter-location: method
      schema:
        $ref: '#/components/schemas/MarketplaceProductLogUpdate'
    ProductNameParameter:
      description: Name of the product.
      name: productName
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    DeviceConfigurationParameter:
      description: Device configuration.
      name: deviceConfiguration
      in: body
      required: false
      x-ms-parameter-location: method
      schema:
        $ref: '#/components/schemas/DeviceConfiguration'
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-refined-from:
- apimanagementclient-openapi-original.yml
- azurestack-azure-bridge-client-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
