openapi: 3.2.0
info:
  title: Microsoft Azure Machine Learning Compute Operations API
  version: '1.0'
  description: 'Operations tagged MachineLearningComputeOperations across 2 of this provider''s published API definitions: azure-machine-learning-compute-management-client-openapi-original.yml, machine-learning-compute-management-client-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
tags:
- name: MachineLearningComputeOperations
paths:
  /providers/Microsoft.MachineLearningCompute/operations:
    get:
      tags:
      - MachineLearningComputeOperations
      operationId: microsoftAzureMachinelearningcomputeListavailableoperations
      x-ms-examples:
        Machine Learning Compute List Available Operations:
          $ref: examples/MachineLearningCompute_ListAvailableOperations.json
      description: Gets all available operations.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableOperations'
      summary: Microsoft Azure Get Providers Microsoft Machinelearningcompute Operations
    servers:
    - url: https://management.azure.com
components:
  schemas:
    ResourceOperation:
      type: object
      description: Resource operation
      properties:
        name:
          type: string
          description: Name of this operation.
        display:
          type: object
          description: Display of the operation
          properties:
            provider:
              type: string
              description: The resource provider name
            resource:
              type: string
              description: The resource name
            operation:
              type: string
              description: The operation
            description:
              type: string
              description: The description of the operation
        origin:
          type: string
          description: The operation origin
    AvailableOperations:
      type: object
      description: Available operation list
      properties:
        value:
          type: array
          description: An array of available operations
          items:
            $ref: '#/components/schemas/ResourceOperation'
    ResourceOperation_2:
      type: object
      description: Resource operation.
      properties:
        name:
          type: string
          description: Name of this operation.
        display:
          type: object
          description: Display of the operation.
          properties:
            provider:
              type: string
              description: The resource provider name.
            resource:
              type: string
              description: The resource name.
            operation:
              type: string
              description: The operation.
            description:
              type: string
              description: The description of the operation.
        origin:
          type: string
          description: The operation origin.
    AvailableOperations_2:
      type: object
      description: Available operation list.
      properties:
        value:
          type: array
          description: An array of available operations.
          items:
            $ref: '#/components/schemas/ResourceOperation_2'
          x-ms-identifiers:
          - name
  parameters:
    ApiVersionParameter:
      in: query
      name: api-version
      description: The version of the Microsoft.MachineLearningCompute resource provider API to use.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- azure-machine-learning-compute-management-client-openapi-original.yml
- machine-learning-compute-management-client-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
