openapi: 3.2.0
info:
  version: '2017-06-01'
  title: Microsoft Azure StorSimple8000SeriesManagementClient…
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: BandwidthSettings
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/bandwidthSettings
  : get:
      tags:
      - BandwidthSettings
      description: Retrieves all the bandwidth setting in a manager.
      operationId: microsoftAzureBandwidthsettingsListbymanager
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of bandwidth settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BandwidthSettingList'
      deprecated: false
      x-ms-pageable:
        nextLinkName: null
      x-ms-examples:
        BandwidthSettingsListByManager:
          $ref: ./examples/BandwidthSettingsListByManager.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/bandwidthSettings/{bandwidthSettingName}
  : get:
      tags:
      - BandwidthSettings
      description: Returns the properties of the specified bandwidth setting name.
      operationId: microsoftAzureBandwidthsettingsGet
      parameters:
      - name: bandwidthSettingName
        in: path
        description: The name of bandwidth setting to be fetched.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The bandwidth setting.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BandwidthSetting'
      deprecated: false
      x-ms-examples:
        BandwidthSettingsGet:
          $ref: ./examples/BandwidthSettingsGet.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - BandwidthSettings
      description: Creates or updates the bandwidth setting
      operationId: microsoftAzureBandwidthsettingsCreateorupdate
      parameters:
      - name: bandwidthSettingName
        in: path
        description: The bandwidth setting name.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully created or updated the bandwidth setting.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BandwidthSetting'
        '202':
          description: Accepted the request to create or update the bandwidth setting.
      deprecated: false
      x-ms-long-running-operation: true
      x-ms-examples:
        BandwidthSettingsCreateOrUpdate:
          $ref: ./examples/BandwidthSettingsCreateOrUpdate.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BandwidthSetting'
        description: The bandwidth setting to be added or updated.
        required: true
    delete:
      tags:
      - BandwidthSettings
      description: Deletes the bandwidth setting
      operationId: microsoftAzureBandwidthsettingsDelete
      parameters:
      - name: bandwidthSettingName
        in: path
        description: The name of the bandwidth setting.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to delete the bandwidth setting.
        '204':
          description: Successfully deleted the bandwidth setting.
      deprecated: false
      x-ms-long-running-operation: true
      x-ms-examples:
        BandwidthSettingsDelete:
          $ref: ./examples/BandwidthSettingsDelete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    BandwidthSetting:
      description: The bandwidth setting.
      required:
      - properties
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseModel'
      properties:
        properties:
          $ref: '#/components/schemas/BandwidthRateSettingProperties'
          description: The properties of the bandwidth setting.
          x-ms-client-flatten: true
    BandwidthSettingList:
      description: The collection of bandwidth setting entities.
      required:
      - value
      type: object
      properties:
        value:
          description: The value.
          type: array
          items:
            $ref: '#/components/schemas/BandwidthSetting'
    BandwidthSchedule:
      description: The schedule for bandwidth setting.
      required:
      - start
      - stop
      - rateInMbps
      - days
      type: object
      properties:
        start:
          $ref: '#/components/schemas/Time'
          description: The start time of the schedule.
        stop:
          $ref: '#/components/schemas/Time'
          description: The stop time of the schedule.
        rateInMbps:
          format: int32
          description: The rate in Mbps.
          type: integer
        days:
          description: The days of the week when this schedule is applicable.
          type: array
          items:
            enum:
            - Sunday
            - Monday
            - Tuesday
            - Wednesday
            - Thursday
            - Friday
            - Saturday
            type: string
            x-ms-enum:
              name: DayOfWeek
              modelAsString: false
    BaseModel:
      description: Represents the base class for all other ARM object models
      type: object
      properties:
        id:
          description: The path ID that uniquely identifies the object.
          type: string
          readOnly: true
        name:
          description: The name of the object.
          type: string
          readOnly: true
        type:
          description: The hierarchical type of the object.
          type: string
          readOnly: true
        kind:
          description: The Kind of the object. Currently only Series8000 is supported
          enum:
          - Series8000
          type: string
          x-ms-enum:
            name: Kind
            modelAsString: false
    BandwidthRateSettingProperties:
      description: The properties of the bandwidth setting.
      required:
      - schedules
      type: object
      properties:
        schedules:
          description: The schedules.
          type: array
          items:
            $ref: '#/components/schemas/BandwidthSchedule'
          x-ms-identifiers: []
        volumeCount:
          format: int32
          description: The number of volumes that uses the bandwidth setting.
          type: integer
          readOnly: true
    Time:
      description: The time.
      required:
      - hours
      - minutes
      - seconds
      type: object
      properties:
        hours:
          format: int32
          description: The hour.
          maximum: 23
          minimum: 0
          type: integer
        minutes:
          format: int32
          description: The minute.
          maximum: 59
          minimum: 0
          type: integer
        seconds:
          format: int32
          description: The second.
          maximum: 59
          minimum: 0
          type: integer
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription id
      required: true
      x-ms-skip-url-encoding: true
      schema:
        type: string
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The resource group name
      required: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
    managerNameParameter:
      name: managerName
      in: path
      description: The manager name
      required: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
        maxLength: 50
        minLength: 2
    apiVersionParameter:
      name: api-version
      in: query
      description: The api version
      required: true
      x-ms-skip-url-encoding: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
