openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft.NetworkAnalytics Data Products API
  version: '2023-11-15'
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Data Products
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.NetworkAnalytics/dataProducts:
    get:
      operationId: microsoftAzureDataproductsListbysubscription
      tags:
      - Data Products
      description: List data products by subscription.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataProductListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        DataProducts_ListBySubscription_MaximumSet_Gen:
          $ref: ./examples/DataProducts_ListBySubscription_MaximumSet_Gen.json
        DataProducts_ListBySubscription_MaximumSet_Gen - generated by [MinimumSet] rule_MinimumSet_Gen:
          $ref: ./examples/DataProducts_ListBySubscription_MinimumSet_Gen.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkAnalytics/dataProducts:
    get:
      operationId: microsoftAzureDataproductsListbyresourcegroup
      tags:
      - Data Products
      description: List data products by resource group.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataProductListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        DataProducts_ListByResourceGroup_MaximumSet_Gen:
          $ref: ./examples/DataProducts_ListByResourceGroup_MaximumSet_Gen.json
        DataProducts_ListByResourceGroup_MaximumSet_Gen - generated by [MinimumSet] rule_MinimumSet_Gen:
          $ref: ./examples/DataProducts_ListByResourceGroup_MinimumSet_Gen.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkAnalytics/dataProducts/{dataProductName}
  : get:
      operationId: microsoftAzureDataproductsGet
      tags:
      - Data Products
      description: Retrieve data product resource.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: dataProductName
        in: path
        description: The data product resource name
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[a-z][a-z0-9]*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataProduct'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        DataProducts_Get_MaximumSet_Gen:
          $ref: ./examples/DataProducts_Get_MaximumSet_Gen.json
        DataProducts_Get_MaximumSet_Gen - generated by [MinimumSet] rule_MinimumSet_Gen:
          $ref: ./examples/DataProducts_Get_MinimumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      operationId: microsoftAzureDataproductsCreate
      tags:
      - Data Products
      description: Create data product resource.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: dataProductName
        in: path
        description: The data product resource name
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[a-z][a-z0-9]*$
      responses:
        '200':
          description: Resource 'DataProduct' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataProduct'
        '201':
          description: Resource 'DataProduct' create operation succeeded
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataProduct'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        DataProducts_Create_MaximumSet_Gen:
          $ref: ./examples/DataProducts_Create_MaximumSet_Gen.json
        DataProducts_Create_MaximumSet_Gen - generated by [MinimumSet] rule_MinimumSet_Gen:
          $ref: ./examples/DataProducts_Create_MinimumSet_Gen.json
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataProduct'
        description: Resource create parameters.
        required: true
    patch:
      operationId: microsoftAzureDataproductsUpdate
      tags:
      - Data Products
      description: Update data product resource.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: dataProductName
        in: path
        description: The data product resource name
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[a-z][a-z0-9]*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataProduct'
        '202':
          description: Resource update request accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        DataProducts_Update_MaximumSet_Gen:
          $ref: ./examples/DataProducts_Update_MaximumSet_Gen.json
        DataProducts_Update_MaximumSet_Gen - generated by [MinimumSet] rule_MinimumSet_Gen:
          $ref: ./examples/DataProducts_Update_MinimumSet_Gen.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataProductUpdate'
        description: The resource properties to be updated.
        required: true
    delete:
      operationId: microsoftAzureDataproductsDelete
      tags:
      - Data Products
      description: Delete data product resource.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: dataProductName
        in: path
        description: The data product resource name
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[a-z][a-z0-9]*$
      responses:
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        DataProducts_Delete_MaximumSet_Gen:
          $ref: ./examples/DataProducts_Delete_MaximumSet_Gen.json
        DataProducts_Delete_MaximumSet_Gen - generated by [MinimumSet] rule_MinimumSet_Gen:
          $ref: ./examples/DataProducts_Delete_MinimumSet_Gen.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkAnalytics/dataProducts/{dataProductName}/addUserRole
  : post:
      operationId: microsoftAzureDataproductsAdduserrole
      tags:
      - Data Products
      description: Assign role to the data product.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: dataProductName
        in: path
        description: The data product resource name
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[a-z][a-z0-9]*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleAssignmentDetail'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        DataProducts_AddUserRole_MaximumSet_Gen:
          $ref: ./examples/DataProducts_AddUserRole_MaximumSet_Gen.json
        DataProducts_AddUserRole_MaximumSet_Gen - generated by [MinimumSet] rule_MinimumSet_Gen:
          $ref: ./examples/DataProducts_AddUserRole_MinimumSet_Gen.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleAssignmentCommonProperties'
        description: The content of the action request
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkAnalytics/dataProducts/{dataProductName}/generateStorageAccountSasToken
  : post:
      operationId: microsoftAzureDataproductsGeneratestorageaccountsastoken
      tags:
      - Data Products
      description: Generate sas token for storage account.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: dataProductName
        in: path
        description: The data product resource name
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[a-z][a-z0-9]*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSasToken'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        DataProducts_GenerateStorageAccountSasToken_MaximumSet_Gen:
          $ref: ./examples/DataProducts_GenerateStorageAccountSasToken_MaximumSet_Gen.json
        DataProducts_GenerateStorageAccountSasToken_MaximumSet_Gen - generated by [MinimumSet] rule_MinimumSet_Gen:
          $ref: ./examples/DataProducts_GenerateStorageAccountSasToken_MinimumSet_Gen.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountSas'
        description: The content of the action request
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkAnalytics/dataProducts/{dataProductName}/listRolesAssignments
  : post:
      operationId: microsoftAzureDataproductsListrolesassignments
      tags:
      - Data Products
      description: List user roles associated with the data product.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: dataProductName
        in: path
        description: The data product resource name
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[a-z][a-z0-9]*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRoleAssignments'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        DataProducts_ListRolesAssignments_MaximumSet_Gen:
          $ref: ./examples/DataProducts_ListRolesAssignments_MaximumSet_Gen.json
        DataProducts_ListRolesAssignments_MaximumSet_Gen - generated by [MinimumSet] rule_MinimumSet_Gen:
          $ref: ./examples/DataProducts_ListRolesAssignments_MinimumSet_Gen.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: The content of the action request
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkAnalytics/dataProducts/{dataProductName}/removeUserRole
  : post:
      operationId: microsoftAzureDataproductsRemoveuserrole
      tags:
      - Data Products
      description: Remove role from the data product.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: dataProductName
        in: path
        description: The data product resource name
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[a-z][a-z0-9]*$
      responses:
        '204':
          description: Action completed successfully.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        DataProducts_RemoveUserRole_MaximumSet_Gen:
          $ref: ./examples/DataProducts_RemoveUserRole_MaximumSet_Gen.json
        DataProducts_RemoveUserRole_MaximumSet_Gen - generated by [MinimumSet] rule_MinimumSet_Gen:
          $ref: ./examples/DataProducts_RemoveUserRole_MinimumSet_Gen.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleAssignmentDetail'
        description: The content of the action request
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkAnalytics/dataProducts/{dataProductName}/rotateKey
  : post:
      operationId: microsoftAzureDataproductsRotatekey
      tags:
      - Data Products
      description: Initiate key rotation on Data Product.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: dataProductName
        in: path
        description: The data product resource name
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[a-z][a-z0-9]*$
      responses:
        '204':
          description: Action completed successfully.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        DataProducts_RotateKey_MaximumSet_Gen:
          $ref: ./examples/DataProducts_RotateKey_MaximumSet_Gen.json
        DataProducts_RotateKey_MaximumSet_Gen - generated by [MinimumSet] rule_MinimumSet_Gen:
          $ref: ./examples/DataProducts_RotateKey_MinimumSet_Gen.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeyVaultInfo'
        description: The content of the action request
        required: true
components:
  schemas:
    VirtualNetworkRule:
      type: object
      description: Virtual Network Rule
      properties:
        id:
          type: string
          description: Resource ID of a subnet
        action:
          type: string
          description: The action of virtual network rule.
        state:
          type: string
          description: Gets the state of virtual network rule.
      required:
      - id
    EncryptionKeyDetails:
      type: object
      description: Encryption key details.
      properties:
        keyVaultUri:
          type: string
          description: The Uri of the key vault.
        keyName:
          type: string
          description: The name of the key vault key.
        keyVersion:
          type: string
          description: The version of the key vault key.
      required:
      - keyVaultUri
      - keyName
      - keyVersion
    AccountSas:
      type: object
      description: The details for storage account sas creation.
      properties:
        startTimeStamp:
          type: string
          format: date-time
          description: Sas token start timestamp.
        expiryTimeStamp:
          type: string
          format: date-time
          description: Sas token expiry timestamp.
        ipAddress:
          type: string
          description: Ip Address
      required:
      - startTimeStamp
      - expiryTimeStamp
      - ipAddress
    RoleAssignmentDetail:
      type: object
      description: The details for role assignment response.
      properties:
        roleId:
          type: string
          description: Role Id of the Built-In Role
        principalId:
          type: string
          description: Object ID of the AAD principal or security-group.
        userName:
          type: string
          description: User name.
        dataTypeScope:
          type: array
          description: Data Type Scope at which the role assignment is created.
          items:
            type: string
        principalType:
          type: string
          description: 'Type of the principal Id: User, Group or ServicePrincipal'
        role:
          $ref: '#/components/schemas/DataProductUserRole'
          description: Data Product role to be assigned to a user.
        roleAssignmentId:
          type: string
          description: Id of role assignment request
      required:
      - roleId
      - principalId
      - userName
      - dataTypeScope
      - principalType
      - role
      - roleAssignmentId
    ProvisioningState:
      type: string
      description: The status of the current operation.
      enum:
      - Succeeded
      - Failed
      - Canceled
      - Provisioning
      - Updating
      - Deleting
      - Accepted
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: Succeeded
          value: Succeeded
          description: Represents a succeeded operation.
        - name: Failed
          value: Failed
          description: Represents a failed operation.
        - name: Canceled
          value: Canceled
          description: Represents a canceled operation.
        - name: Provisioning
          value: Provisioning
          description: Represents a pending operation.
        - name: Updating
          value: Updating
          description: Represents a pending operation.
        - name: Deleting
          value: Deleting
          description: Represents an operation under deletion.
        - name: Accepted
          value: Accepted
          description: Represents an accepted operation.
    DataProductProperties:
      type: object
      description: The data product properties.
      properties:
        resourceGuid:
          type: string
          description: The resource GUID property of the data product resource.
          readOnly: true
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: Latest provisioning state  of data product.
          readOnly: true
        publisher:
          type: string
          description: Data product publisher name.
          x-ms-mutability:
          - read
          - create
        product:
          type: string
          description: Product name of data product.
          x-ms-mutability:
          - read
          - create
        majorVersion:
          type: string
          description: Major version of data product.
          x-ms-mutability:
          - read
          - create
        owners:
          type: array
          description: List of name or email associated with data product resource deployment.
          items:
            type: string
          x-ms-mutability:
          - read
          - update
          - create
        redundancy:
          $ref: '#/components/schemas/ControlState'
          description: Flag to enable or disable redundancy for data product.
          x-ms-mutability:
          - read
          - create
        purviewAccount:
          type: string
          description: Purview account url for data product to connect to.
          x-ms-mutability:
          - read
          - update
          - create
        purviewCollection:
          type: string
          description: Purview collection url for data product to connect to.
          x-ms-mutability:
          - read
          - update
          - create
        privateLinksEnabled:
          $ref: '#/components/schemas/ControlState'
          description: Flag to enable or disable private link for data product resource.
          x-ms-mutability:
          - read
          - update
          - create
        publicNetworkAccess:
          $ref: '#/components/schemas/ControlState'
          description: Flag to enable or disable public access of data product resource.
          x-ms-mutability:
          - read
          - create
        customerManagedKeyEncryptionEnabled:
          $ref: '#/components/schemas/ControlState'
          description: Flag to enable customer managed key encryption for data product.
          x-ms-mutability:
          - read
          - create
        customerEncryptionKey:
          $ref: '#/components/schemas/EncryptionKeyDetails'
          description: Customer managed encryption key details for data product.
          x-ms-mutability:
          - read
          - create
        networkacls:
          $ref: '#/components/schemas/DataProductNetworkAcls'
          description: Network rule set for data product.
          x-ms-mutability:
          - read
          - create
        managedResourceGroupConfiguration:
          $ref: '#/components/schemas/ManagedResourceGroupConfiguration'
          description: Managed resource group configuration.
          x-ms-mutability:
          - create
        availableMinorVersions:
          type: array
          description: List of available minor versions of the data product resource.
          items:
            type: string
          readOnly: true
        currentMinorVersion:
          type: string
          description: Current configured minor version of the data product resource.
          x-ms-mutability:
          - read
          - update
        documentation:
          type: string
          description: Documentation link for the data product based on definition file.
          readOnly: true
        consumptionEndpoints:
          $ref: '#/components/schemas/ConsumptionEndpointsProperties'
          description: Resource links which exposed to the customer to query the data.
          readOnly: true
        keyVaultUrl:
          type: string
          description: Key vault url.
          readOnly: true
      required:
      - publisher
      - product
      - majorVersion
    ConsumptionEndpointsProperties:
      type: object
      description: Details of Consumption Properties
      properties:
        ingestionUrl:
          type: string
          description: Ingestion url to upload the data.
          readOnly: true
        ingestionResourceId:
          type: string
          format: arm-id
          description: Resource Id of ingestion endpoint.
          readOnly: true
          x-ms-arm-id-details:
            allowedResources:
            - type: Microsoft.Storage/storageAccounts
        fileAccessUrl:
          type: string
          description: Url to consume file type.
          readOnly: true
        fileAccessResourceId:
          type: string
          format: arm-id
          description: Resource Id of file access endpoint.
          readOnly: true
          x-ms-arm-id-details:
            allowedResources:
            - type: Microsoft.Storage/storageAccounts
        queryUrl:
          type: string
          description: Url to consume the processed data.
          readOnly: true
        queryResourceId:
          type: string
          format: arm-id
          description: Resource Id of query endpoint.
          readOnly: true
          x-ms-arm-id-details:
            allowedResources:
            - type: Microsoft.Kusto/clusters
    ManagedResourceGroupConfiguration:
      type: object
      description: ManagedResourceGroup related properties
      properties:
        name:
          type: string
          description: Name of managed resource group
        location:
          type: string
          description: Managed Resource Group location
      required:
      - name
      - location
    ControlState:
      type: string
      description: The data type state
      enum:
      - Enabled
      - Disabled
      x-ms-enum:
        name: ControlState
        modelAsString: true
        values:
        - name: Enabled
          value: Enabled
          description: Field to enable a setting.
        - name: Disabled
          value: Disabled
          description: Field to disable a setting.
    KeyVaultInfo:
      type: object
      description: Details for KeyVault.
      properties:
        keyVaultUrl:
          type: string
          description: key vault url.
      required:
      - keyVaultUrl
    DataProductListResult:
      type: object
      description: The response of a DataProduct list operation.
      properties:
        value:
          type: array
          description: The DataProduct items on this page
          items:
            $ref: '#/components/schemas/DataProduct'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    DataProductNetworkAcls:
      type: object
      description: Data Product Network rule set
      properties:
        virtualNetworkRule:
          type: array
          description: Virtual Network Rule
          items:
            $ref: '#/components/schemas/VirtualNetworkRule'
        ipRules:
          type: array
          description: IP rule with specific IP or IP range in CIDR format.
          items:
            $ref: '#/components/schemas/IPRules'
          x-ms-identifiers: []
        allowedQueryIpRangeList:
          type: array
          description: The list of query ips in the format of CIDR allowed to connect to query/visualization endpoint.
          items:
            type: string
        defaultAction:
          $ref: '#/components/schemas/DefaultAction'
          description: Default Action
      required:
      - virtualNetworkRule
      - ipRules
      - allowedQueryIpRangeList
      - defaultAction
    DataProduct:
      type: object
      description: The data product resource.
      properties:
        properties:
          $ref: '#/components/schemas/DataProductProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
        identity:
          $ref: ../../../../../common-types/resource-management/v4/managedidentity.json#/definitions/ManagedServiceIdentity
          description: The managed service identities assigned to this resource.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
    IPRules:
      type: object
      description: IP rule with specific IP or IP range in CIDR format.
      properties:
        value:
          type: string
          description: IP Rules Value
        action:
          type: string
          description: The action of virtual network rule.
      required:
      - action
    ListRoleAssignments:
      type: object
      description: list role assignments.
      properties:
        count:
          type: integer
          format: int32
          description: Count of role assignments.
        roleAssignmentResponse:
          type: array
          description: list of role assignments
          items:
            $ref: '#/components/schemas/RoleAssignmentDetail'
          x-ms-identifiers:
          - roleAssignmentId
      required:
      - count
      - roleAssignmentResponse
    DataProductUpdateProperties:
      type: object
      description: The updatable properties of the DataProduct.
      properties:
        owners:
          type: array
          description: List of name or email associated with data product resource deployment.
          items:
            type: string
          x-ms-mutability:
          - read
          - update
          - create
        purviewAccount:
          type: string
          description: Purview account url for data product to connect to.
          x-ms-mutability:
          - read
          - update
          - create
        purviewCollection:
          type: string
          description: Purview collection url for data product to connect to.
          x-ms-mutability:
          - read
          - update
          - create
        privateLinksEnabled:
          $ref: '#/components/schemas/ControlState'
          description: Flag to enable or disable private link for data product resource.
          x-ms-mutability:
          - read
          - update
          - create
        currentMinorVersion:
          type: string
          description: Current configured minor version of the data product resource.
          x-ms-mutability:
          - read
          - update
    RoleAssignmentCommonProperties:
      type: object
      description: The details for role assignment common properties.
      properties:
        roleId:
          type: string
          description: Role Id of the Built-In Role
        principalId:
          type: string
          description: Object ID of the AAD principal or security-group.
        userName:
          type: string
          description: User name.
        dataTypeScope:
          type: array
          description: Data Type Scope at which the role assignment is created.
          items:
            type: string
        principalType:
          type: string
          description: 'Type of the principal Id: User, Group or ServicePrincipal'
        role:
          $ref: '#/components/schemas/DataProductUserRole'
          description: Data Product role to be assigned to a user.
      required:
      - roleId
      - principalId
      - userName
      - dataTypeScope
      - principalType
      - role
    DataProductUpdate:
      type: object
      description: The type used for update operations of the DataProduct.
      properties:
        identity:
          $ref: ../../../../../common-types/resource-management/v4/managedidentity.json#/definitions/ManagedServiceIdentity
          description: The managed service identities assigned to this resource.
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
        properties:
          $ref: '#/components/schemas/DataProductUpdateProperties'
          x-ms-client-flatten: true
    AccountSasToken:
      type: object
      description: Details of storage account sas token .
      properties:
        storageAccountSasToken:
          type: string
          format: password
          description: Field to specify storage account sas token.
          x-ms-secret: true
      required:
      - storageAccountSasToken
    DataProductUserRole:
      type: string
      description: The data type state
      enum:
      - Reader
      - SensitiveReader
      x-ms-enum:
        name: DataProductUserRole
        modelAsString: true
        values:
        - name: Reader
          value: Reader
          description: Field to specify user of type Reader.
        - name: SensitiveReader
          value: SensitiveReader
          description: 'Field to specify user of type SensitiveReader.

            This user has privileged access to read sensitive data of a data product.'
    DefaultAction:
      type: string
      description: Specifies the default action of allow or deny when no other rules match.
      enum:
      - Allow
      - Deny
      x-ms-enum:
        name: DefaultAction
        modelAsString: true
        values:
        - name: Allow
          value: Allow
          description: Represents allow action.
        - name: Deny
          value: Deny
          description: Represents deny action.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
