openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft.StandbyPool Standby Virtual…
  version: 2023-12-01-preview
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: StandbyVirtualMachines
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StandbyPool/standbyVirtualMachinePools/{standbyVirtualMachinePoolName}/standbyVirtualMachines
  : get:
      operationId: microsoftAzureStandbyvirtualmachinesListbystandbyvirtualmachinepoolresource
      tags:
      - StandbyVirtualMachines
      description: List StandbyVirtualMachineResource resources by StandbyVirtualMachinePoolResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: standbyVirtualMachinePoolName
        in: path
        description: Name of the standby virtual machine pool
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandbyVirtualMachineResourceListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        StandbyVirtualMachines_ListByStandbyVirtualMachinePoolResource:
          $ref: ./examples/StandbyVirtualMachines_ListByStandbyVirtualMachinePoolResource.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StandbyPool/standbyVirtualMachinePools/{standbyVirtualMachinePoolName}/standbyVirtualMachines/{standbyVirtualMachineName}
  : get:
      operationId: microsoftAzureStandbyvirtualmachinesGet
      tags:
      - StandbyVirtualMachines
      description: Get a StandbyVirtualMachineResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: standbyVirtualMachinePoolName
        in: path
        description: Name of the standby virtual machine pool
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: standbyVirtualMachineName
        in: path
        description: Name of the standby virtual machine
        required: true
        schema:
          type: string
          pattern: ^[_a-zA-Z0-9-]{3,64}$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandbyVirtualMachineResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        StandbyVirtualMachines_Get:
          $ref: ./examples/StandbyVirtualMachines_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    StandbyVirtualMachineResourceListResult:
      type: object
      description: The response of a StandbyVirtualMachineResource list operation.
      properties:
        value:
          type: array
          description: The StandbyVirtualMachineResource items on this page
          items:
            $ref: '#/components/schemas/StandbyVirtualMachineResource'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    StandbyVirtualMachineResourceProperties:
      type: object
      description: Details of the StandbyVirtualMachine.
      properties:
        virtualMachineResourceId:
          type: string
          description: Resource id of the virtual machine.
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The status of the last operation.
          readOnly: true
      required:
      - virtualMachineResourceId
    ProvisioningState:
      type: string
      description: Provisioning state
      enum:
      - Succeeded
      - Failed
      - Canceled
      - Deleting
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: Succeeded
          value: Succeeded
          description: Resource has been created.
        - name: Failed
          value: Failed
          description: Resource creation failed.
        - name: Canceled
          value: Canceled
          description: Resource creation was canceled.
        - name: Deleting
          value: Deleting
          description: Resource is being deleted.
      readOnly: true
    StandbyVirtualMachineResource:
      type: object
      description: Concrete proxy resource types can be created by aliasing this type using a specific property type.
      properties:
        properties:
          $ref: '#/components/schemas/StandbyVirtualMachineResourceProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
