openapi: 3.2.0
info:
  version: 2024-02-01-preview
  title: Microsoft Azure DataProtectionBackupClient Resource Guards…
  x-ms-code-generation-settings:
    internalConstructors: false
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ResourceGuards
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.DataProtection/resourceGuards:
    get:
      tags:
      - ResourceGuards
      summary: Microsoft Azure Returns Resourceguards Collection Belonging To A Subscription
      operationId: microsoftAzureResourceguardsGetresourcesinsubscription
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGuardResourceList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Get ResourceGuards in Subscription:
          $ref: ./examples/ResourceGuardCRUD/GetResourceGuardsInSubscription.json
      description: Needs a more full description created.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards:
    get:
      tags:
      - ResourceGuards
      summary: Microsoft Azure Returns Resourceguards Collection Belonging To A Resourcegroup
      operationId: microsoftAzureResourceguardsGetresourcesinresourcegroup
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGuardResourceList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Get ResourceGuards in ResourceGroup:
          $ref: ./examples/ResourceGuardCRUD/GetResourceGuardsInResourceGroup.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}
  : put:
      tags:
      - ResourceGuards
      summary: Microsoft Azure Creates Or Updates A Resourceguard Resource Belonging To A…
      operationId: microsoftAzureResourceguardsPut
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - name: resourceGuardsName
        in: path
        description: The name of ResourceGuard
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGuardResource'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGuardResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Create ResourceGuard:
          $ref: ./examples/ResourceGuardCRUD/PutResourceGuard.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceGuardResource'
        description: Request body for operation
        required: true
    get:
      tags:
      - ResourceGuards
      summary: Microsoft Azure Returns A Resourceguard Belonging To A Resource Group
      operationId: microsoftAzureResourceguardsGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - name: resourceGuardsName
        in: path
        description: The name of ResourceGuard
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGuardResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Get ResourceGuard:
          $ref: ./examples/ResourceGuardCRUD/GetResourceGuard.json
      description: Needs a more full description created.
    delete:
      tags:
      - ResourceGuards
      summary: Microsoft Azure Deletes A Resourceguard Resource From The Resource Group
      operationId: microsoftAzureResourceguardsDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - name: resourceGuardsName
        in: path
        description: The name of ResourceGuard
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: NoContent
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Delete ResourceGuard:
          $ref: ./examples/ResourceGuardCRUD/DeleteResourceGuard.json
      description: Needs a more full description created.
    patch:
      tags:
      - ResourceGuards
      summary: Microsoft Azure Updates A Resourceguard Resource Belonging To A Resource Group…
      operationId: microsoftAzureResourceguardsPatch
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - name: resourceGuardsName
        in: path
        description: The name of ResourceGuard
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGuardResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Patch ResourceGuard:
          $ref: ./examples/ResourceGuardCRUD/PatchResourceGuard.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchResourceGuardInput'
        description: Request body for operation
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}/disableSoftDeleteRequests
  : get:
      tags:
      - ResourceGuards
      summary: Microsoft Azure Returns Collection Of Operation Request Objects For A Critical…
      operationId: microsoftAzureResourceguardsGetdisablesoftdeleterequestsobjects
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - name: resourceGuardsName
        in: path
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DppBaseResourceList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List OperationsRequestObject:
          $ref: ./examples/ResourceGuardCRUD/ListDisableSoftDeleteRequests.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}/deleteResourceGuardProxyRequests
  : get:
      tags:
      - ResourceGuards
      summary: Microsoft Azure Returns Collection Of Operation Request Objects For A Critical…
      operationId: microsoftAzureResourceguardsGetdeleteresourceguardproxyrequestsobjects
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - name: resourceGuardsName
        in: path
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DppBaseResourceList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List OperationsRequestObject:
          $ref: ./examples/ResourceGuardCRUD/ListDeleteResourceGuardProxyRequests.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}/getBackupSecurityPINRequests
  : get:
      tags:
      - ResourceGuards
      summary: Microsoft Azure Returns Collection Of Operation Request Objects For A Critical…
      operationId: microsoftAzureResourceguardsGetbackupsecuritypinrequestsobjects
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - name: resourceGuardsName
        in: path
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DppBaseResourceList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List OperationsRequestObject:
          $ref: ./examples/ResourceGuardCRUD/ListBackupSecurityPINRequests.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}/deleteProtectedItemRequests
  : get:
      tags:
      - ResourceGuards
      summary: Microsoft Azure Returns Collection Of Operation Request Objects For A Critical…
      operationId: microsoftAzureResourceguardsGetdeleteprotecteditemrequestsobjects
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - name: resourceGuardsName
        in: path
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DppBaseResourceList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List OperationsRequestObject:
          $ref: ./examples/ResourceGuardCRUD/ListDeleteProtectedItemRequests.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}/updateProtectionPolicyRequests
  : get:
      tags:
      - ResourceGuards
      summary: Microsoft Azure Returns Collection Of Operation Request Objects For A Critical…
      operationId: microsoftAzureResourceguardsGetupdateprotectionpolicyrequestsobjects
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - name: resourceGuardsName
        in: path
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DppBaseResourceList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List OperationsRequestObject:
          $ref: ./examples/ResourceGuardCRUD/ListUpdateProtectionPolicyRequests.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}/updateProtectedItemRequests
  : get:
      tags:
      - ResourceGuards
      summary: Microsoft Azure Returns Collection Of Operation Request Objects For A Critical…
      operationId: microsoftAzureResourceguardsGetupdateprotecteditemrequestsobjects
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - name: resourceGuardsName
        in: path
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DppBaseResourceList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List OperationsRequestObject:
          $ref: ./examples/ResourceGuardCRUD/ListUpdateProtectedItemRequests.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}/disableSoftDeleteRequests/{requestName}
  : get:
      tags:
      - ResourceGuards
      summary: Microsoft Azure Returns Collection Of Operation Request Objects For A Critical…
      operationId: microsoftAzureResourceguardsGetdefaultdisablesoftdeleterequestsobject
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - name: resourceGuardsName
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: requestName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DppBaseResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Get DefaultOperationsRequestObject:
          $ref: ./examples/ResourceGuardCRUD/GetDefaultDisableSoftDeleteRequests.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}/deleteResourceGuardProxyRequests/{requestName}
  : get:
      tags:
      - ResourceGuards
      summary: Microsoft Azure Returns Collection Of Operation Request Objects For A Critical…
      operationId: microsoftAzureResourceguardsGetdefaultdeleteresourceguardproxyrequestsobject
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - name: resourceGuardsName
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: requestName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DppBaseResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Get DefaultOperationsRequestObject:
          $ref: ./examples/ResourceGuardCRUD/GetDefaultDeleteResourceGuardProxyRequests.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}/getBackupSecurityPINRequests/{requestName}
  : get:
      tags:
      - ResourceGuards
      summary: Microsoft Azure Returns Collection Of Operation Request Objects For A Critical…
      operationId: microsoftAzureResourceguardsGetdefaultbackupsecuritypinrequestsobject
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - name: resourceGuardsName
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: requestName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DppBaseResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Get DefaultOperationsRequestObject:
          $ref: ./examples/ResourceGuardCRUD/GetDefaultBackupSecurityPINRequests.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}/deleteProtectedItemRequests/{requestName}
  : get:
      tags:
      - ResourceGuards
      summary: Microsoft Azure Returns Collection Of Operation Request Objects For A Critical…
      operationId: microsoftAzureResourceguardsGetdefaultdeleteprotecteditemrequestsobject
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - name: resourceGuardsName
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: requestName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DppBaseResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Get DefaultOperationsRequestObject:
          $ref: ./examples/ResourceGuardCRUD/GetDefaultDeleteProtectedItemRequests.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}/updateProtectionPolicyRequests/{requestName}
  : get:
      tags:
      - ResourceGuards
      summary: Microsoft Azure Returns Collection Of Operation Request Objects For A Critical…
      operationId: microsoftAzureResourceguardsGetdefaultupdateprotectionpolicyrequestsobject
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - name: resourceGuardsName
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: requestName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DppBaseResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Get DefaultOperationsRequestObject:
          $ref: ./examples/ResourceGuardCRUD/GetDefaultUpdateProtectionPolicyRequests.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}/updateProtectedItemRequests/{requestName}
  : get:
      tags:
      - ResourceGuards
      summary: Microsoft Azure Returns Collection Of Operation Request Objects For A Critical…
      operationId: microsoftAzureResourceguardsGetdefaultupdateprotecteditemrequestsobject
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - name: resourceGuardsName
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: requestName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DppBaseResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Get DefaultOperationsRequestObject:
          $ref: ./examples/ResourceGuardCRUD/GetDefaultUpdateProtectedItemRequests.json
      description: Needs a more full description created.
components:
  schemas:
    ResourceGuard:
      type: object
      properties:
        provisioningState:
          description: Provisioning state of the BackupVault resource
          enum:
          - Failed
          - Provisioning
          - Succeeded
          - Unknown
          - Updating
          type: string
          readOnly: true
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
        allowAutoApprovals:
          description: This flag indicates whether auto approval is allowed or not.
          type: boolean
          readOnly: true
        resourceGuardOperations:
          description: '{readonly} List of operation details those are protected by the ResourceGuard resource'
          type: array
          items:
            $ref: '#/components/schemas/ResourceGuardOperation'
          x-ms-identifiers: []
          readOnly: true
        vaultCriticalOperationExclusionList:
          description: List of critical operations which are not protected by this resourceGuard
          type: array
          items:
            type: string
        description:
          description: Description about the pre-req steps to perform all the critical operations.
          type: string
          readOnly: true
    ResourceGuardResource:
      allOf:
      - $ref: '#/components/schemas/DppBaseTrackedResource'
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/ResourceGuard'
          description: ResourceGuardResource properties
    ResourceGuardResourceList:
      description: List of ResourceGuard resources
      type: object
      allOf:
      - $ref: '#/components/schemas/DppTrackedResourceList'
      properties:
        value:
          description: List of resources.
          type: array
          items:
            $ref: '#/components/schemas/ResourceGuardResource'
    DppBaseResource:
      type: object
      description: Base resource under Microsoft.DataProtection provider namespace
      properties:
        id:
          description: Resource Id represents the complete path to the resource.
          type: string
          readOnly: true
        name:
          description: Resource name associated with the resource.
          type: string
          readOnly: true
        type:
          description: Resource type represents the complete path of the form Namespace/ResourceType/ResourceType/...
          type: string
          readOnly: true
    CloudError:
      description: An error response from Azure Backup.
      properties:
        error:
          $ref: '#/components/schemas/Error'
      title: CloudError
      x-ms-external: true
    DppBaseResourceList:
      description: Base for all lists of V2 resources.
      type: object
      properties:
        value:
          description: List of Dpp resources.
          type: array
          items:
            $ref: '#/components/schemas/DppBaseResource'
        nextLink:
          description: The uri to fetch the next page of resources. Call ListNext() fetches next page of resources.
          type: string
    DppBaseTrackedResource:
      properties:
        eTag:
          description: Optional ETag.
          type: string
        id:
          description: Resource Id represents the complete path to the resource.
          readOnly: true
          type: string
        location:
          description: Resource location.
          type: string
        name:
          description: Resource name associated with the resource.
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          type: object
        type:
          description: Resource type represents the complete path of the form Namespace/ResourceType/ResourceType/...
          readOnly: true
          type: string
        systemData:
          $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/systemData
      type: object
      x-ms-azure-resource: true
    DppTrackedResourceList:
      properties:
        nextLink:
          description: The uri to fetch the next page of resources. Call ListNext() fetches next page of resources.
          type: string
      type: object
    PatchResourceGuardInput:
      description: Patch Request content for Microsoft.DataProtection Resource Guard resources
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource Guard tags.
          type: object
      title: PatchResourceGuardInput
      type: object
    ErrorAdditionalInfo:
      description: The resource management error additional info.
      properties:
        info:
          description: The additional info.
          readOnly: true
          type: object
        type:
          description: The additional info type.
          readOnly: true
          type: string
    Error:
      description: The resource management error response.
      properties:
        additionalInfo:
          description: The error additional info.
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          x-ms-identifiers: []
          readOnly: true
          type: array
        code:
          description: The error code.
          readOnly: true
          type: string
        details:
          description: The error details.
          items:
            $ref: '#/components/schemas/Error'
          x-ms-identifiers: []
          readOnly: true
          type: array
        message:
          description: The error message.
          readOnly: true
          type: string
        target:
          description: The error target.
          readOnly: true
          type: string
    ResourceGuardOperation:
      description: This class contains all the details about a critical operation.
      type: object
      properties:
        vaultCriticalOperation:
          description: Name of the critical operation.
          type: string
          readOnly: true
        requestResourceType:
          description: Type of resource request.
          type: string
          readOnly: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account.
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
