openapi: 3.2.0
info:
  version: '2023-01-01'
  title: Microsoft Azure API Client Domain Registration Provider API
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: DomainRegistrationProvider
paths:
  /providers/Microsoft.DomainRegistration/operations:
    get:
      tags:
      - DomainRegistrationProvider
      summary: Microsoft Azure Implements Csm Operations Api To Exposes The List Of Available…
      description: Description for Implements Csm operations Api to exposes the list of available Csm Apis under the resource provider
      operationId: microsoftAzureDomainregistrationproviderListoperations
      parameters:
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ../../../Microsoft.Web/stable/2023-01-01/CommonDefinitions.json#/definitions/CsmOperationCollection
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ../../../Microsoft.Web/stable/2023-01-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        List operations:
          $ref: ./examples/ListOperations.json
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    apiVersionParameter:
      name: api-version
      in: query
      description: API Version
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
