openapi: 3.2.0
info:
  version: '2019-12-01'
  title: Microsoft Azure Software Plan RP Hybrid Use Benefits API
  description: Azure software plans let users create and manage licenses for various software used in Azure.
  x-ms-code-generation-settings:
    name: SoftwareplanClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Hybrid Use Benefits
paths:
  /{scope}/providers/Microsoft.SoftwarePlan/hybridUseBenefits:
    get:
      description: Get all hybrid use benefits associated with an ARM resource.
      operationId: microsoftAzureHybridusebenefitList
      tags:
      - Hybrid Use Benefits
      x-ms-examples:
        HybridUseBenefitListResult:
          $ref: ./examples/GetAllHybridUseBenefits.json
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - $ref: '#/components/parameters/ScopeParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: $filter
        in: query
        required: false
        description: Supports applying filter on the type of SKU
        schema:
          type: string
      responses:
        '200':
          description: OK - returns an array of plans at that scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HybridUseBenefitListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Microsoft Azure Get Scope Providers Microsoft Softwareplan Hybridusebenefits
components:
  schemas:
    ProvisioningState:
      type: string
      description: Represent the current state of the Reservation.
      enum:
      - Succeeded
      - Cancelled
      - Failed
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    ErrorCode:
      type: string
      description: Defined error codes to be returned to the client.
      enum:
      - InvalidRequestParameter
      - MissingRequestParameter
      x-ms-enum:
        name: ErrorCode
        modelAsString: true
    HybridUseBenefitProperties:
      description: Hybrid use benefit properties
      properties:
        provisioningState:
          type: string
          description: Provisioning state
          $ref: '#/components/schemas/ProvisioningState'
          readOnly: true
        createdDate:
          type: string
          description: Created date
          format: date-time
          readOnly: true
        lastUpdatedDate:
          type: string
          description: Last updated date
          format: date-time
          readOnly: true
    HybridUseBenefitModel:
      description: Response on GET of a hybrid use benefit
      required:
      - sku
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/Resource
      properties:
        sku:
          description: Hybrid use benefit SKU
          $ref: '#/components/schemas/Sku'
        etag:
          type: integer
          format: int32
          description: Indicates the revision of the hybrid use benefit
          readOnly: true
        properties:
          description: Property bag for a hybrid use benefit response
          x-ms-client-flatten: true
          $ref: '#/components/schemas/HybridUseBenefitProperties'
    Error:
      type: object
      description: Error object returned by the RP
      properties:
        code:
          description: Error code
          $ref: '#/components/schemas/ErrorCode'
        message:
          type: string
          description: A user readable error message. Localized based on x-ms-effective-locale header in the request
    HybridUseBenefitListResult:
      description: List of hybrid use benefits
      properties:
        value:
          description: List of hybrid use benefits
          type: array
          items:
            $ref: '#/components/schemas/HybridUseBenefitModel'
        nextLink:
          type: string
          description: Url to get the next page of items.
    Sku:
      type: object
      description: The SKU to be applied for this resource
      properties:
        name:
          type: string
          description: Name of the SKU to be applied
  parameters:
    ScopeParameter:
      name: scope
      in: path
      x-ms-parameter-location: method
      required: true
      description: The scope at which the operation is performed. This is limited to Microsoft.Compute/virtualMachines and Microsoft.Compute/hostGroups/hosts for now
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      x-ms-parameter-location: client
      required: true
      description: The api-version to be used by the service
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
