openapi: 3.2.0
info:
  title: Microsoft Azure ResourcePrivateLinkClient Private Link…
  version: '2020-05-01'
  description: Provides operations for managing private link resources
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: PrivateLinkAssociation
paths:
  ? /providers/Microsoft.Management/managementGroups/{groupId}/providers/Microsoft.Authorization/privateLinkAssociations/{plaId}
  : put:
      tags:
      - PrivateLinkAssociation
      operationId: microsoftAzurePrivatelinkassociationPut
      description: Create a PrivateLinkAssociation
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/GroupIdParameter'
      - $ref: '#/components/parameters/PrivateLinkAssociationIdParameter'
      responses:
        '200':
          description: Ok - Returns information about the new private link association.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkAssociation'
        '201':
          description: Created - Returns information about the new private link association.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkAssociation'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Create a private link association, associate scope to rmpl.:
          $ref: ./examples/PutPrivateLinkAssociation.json
      summary: Microsoft Azure Put Providers Microsoft Management Managementgroups Groupid…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateLinkAssociationObject'
        description: Parameters supplied to create the private link association.
        required: true
    get:
      tags:
      - PrivateLinkAssociation
      operationId: microsoftAzurePrivatelinkassociationGet
      description: Get a single private link association
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/GroupIdParameter'
      - $ref: '#/components/parameters/PrivateLinkAssociationIdParameter'
      responses:
        '200':
          description: Ok. The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkAssociation'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Get a single private link association.:
          $ref: ./examples/GetPrivateLinkAssociation.json
      summary: Microsoft Azure Get Providers Microsoft Management Managementgroups Groupid…
    delete:
      tags:
      - PrivateLinkAssociation
      operationId: microsoftAzurePrivatelinkassociationDelete
      description: Delete a PrivateLinkAssociation
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/GroupIdParameter'
      - $ref: '#/components/parameters/PrivateLinkAssociationIdParameter'
      responses:
        '200':
          description: OK
        '204':
          description: ''
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Delete a private link association.:
          $ref: ./examples/DeletePrivateLinkAssociation.json
      summary: Microsoft Azure Delete Providers Microsoft Management Managementgroups Groupid…
  /providers/Microsoft.Management/managementGroups/{groupId}/providers/Microsoft.Authorization/privateLinkAssociations:
    get:
      tags:
      - PrivateLinkAssociation
      operationId: microsoftAzurePrivatelinkassociationList
      description: Get a private link association for a management group scope
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/GroupIdParameter'
      responses:
        '200':
          description: Ok. The request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkAssociationGetResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Get a private link association for a MG scope.:
          $ref: ./examples/ListPrivateLinkAssociation.json
      summary: Microsoft Azure Get Providers Microsoft Management Managementgroups Groupid…
components:
  schemas:
    CloudError:
      x-ms-external: true
      properties:
        error:
          $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse
      description: An error response for a resource management request.
    PrivateLinkAssociationObject:
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/PrivateLinkAssociationProperties'
          description: The properties of the PrivateLinkAssociation.
    PrivateLinkAssociationGetResult:
      description: 'Result of the request to get PLA for a MG scope. '
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/PrivateLinkAssociation'
          description: private link association information.
    PrivateLinkAssociationProperties:
      type: object
      properties:
        privateLink:
          type: string
          description: The rmpl Resource ID.
        publicNetworkAccess:
          type: string
          enum:
          - Enabled
          - Disabled
          x-ms-enum:
            name: publicNetworkAccessOptions
            modelAsString: true
    PrivateLinkAssociationPropertiesExpanded:
      type: object
      properties:
        privateLink:
          type: string
          description: The rmpl Resource ID.
        publicNetworkAccess:
          type: string
          enum:
          - Enabled
          - Disabled
          x-ms-enum:
            name: publicNetworkAccessOptions
            modelAsString: true
        tenantID:
          type: string
          description: The TenantID.
        scope:
          type: string
          description: The scope of the private link association.
      description: Private Link Association Properties.
    PrivateLinkAssociation:
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/PrivateLinkAssociationPropertiesExpanded'
          description: The private link association properties.
        id:
          readOnly: true
          type: string
          description: The plaResourceID.
        type:
          readOnly: true
          type: string
          description: The operation type.
        name:
          readOnly: true
          type: string
          description: The pla name.
      x-ms-azure-resource: true
  parameters:
    PrivateLinkAssociationIdParameter:
      name: plaId
      in: path
      required: true
      description: The ID of the PLA
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
    GroupIdParameter:
      name: groupId
      in: path
      required: true
      description: The management group ID.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
