openapi: 3.2.0
info:
  title: Microsoft Azure BlueprintClient Blueprint API
  description: Azure Blueprints Client provides access to blueprint definitions, assignments, and artifacts, and related blueprint operations.
  version: 2018-11-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Blueprint
paths:
  /{resourceScope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}:
    put:
      tags:
      - Blueprint
      operationId: microsoftAzureBlueprintsCreateorupdate
      description: Create or update a blueprint definition.
      x-ms-examples:
        SubscriptionBlueprint:
          $ref: ./examples/subscriptionBPDef/Blueprint_Create.json
        ManagementGroupBlueprint:
          $ref: ./examples/managementGroupBPDef/Blueprint_Create.json
        ResourceGroupWithTags:
          $ref: ./examples/ResourceGroupWithTags.json
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/ScopeParameter'
      - $ref: '#/components/parameters/BlueprintNameParameter'
      responses:
        '201':
          description: Created -- blueprint definition saved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Blueprint'
        default:
          description: Blueprints error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Put Resourcescope Providers Microsoft Blueprint Blueprints…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Blueprint'
        description: Blueprint definition.
        required: true
    get:
      tags:
      - Blueprint
      operationId: microsoftAzureBlueprintsGet
      description: Get a blueprint definition.
      x-ms-examples:
        SubscriptionBlueprint:
          $ref: ./examples/subscriptionBPDef/Blueprint_Get.json
        ManagementGroupBlueprint:
          $ref: ./examples/managementGroupBPDef/Blueprint_Get.json
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/ScopeParameter'
      - $ref: '#/components/parameters/BlueprintNameParameter'
      responses:
        '200':
          description: OK -- blueprint definition retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Blueprint'
        default:
          description: Blueprints error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Resourcescope Providers Microsoft Blueprint Blueprints…
    delete:
      tags:
      - Blueprint
      operationId: microsoftAzureBlueprintsDelete
      description: Delete a blueprint definition.
      x-ms-examples:
        SubscriptionBlueprint:
          $ref: ./examples/subscriptionBPDef/Blueprint_Delete.json
        ManagementGroupBlueprint:
          $ref: ./examples/managementGroupBPDef/Blueprint_Delete.json
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/ScopeParameter'
      - $ref: '#/components/parameters/BlueprintNameParameter'
      responses:
        '200':
          description: OK -- blueprint definition deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Blueprint'
        '204':
          description: No Content
        default:
          description: Blueprints error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Delete Resourcescope Providers Microsoft Blueprint Blueprints…
  /{resourceScope}/providers/Microsoft.Blueprint/blueprints:
    get:
      tags:
      - Blueprint
      operationId: microsoftAzureBlueprintsList
      description: List blueprint definitions.
      x-ms-examples:
        SubscriptionBlueprint:
          $ref: ./examples/subscriptionBPDef/Blueprint_List.json
        ManagementGroupBlueprint:
          $ref: ./examples/managementGroupBPDef/Blueprint_List.json
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/ScopeParameter'
      responses:
        '200':
          description: OK -- retrieved list of blueprint definitions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlueprintList'
        default:
          description: Blueprints error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Resourcescope Providers Microsoft Blueprint Blueprints
components:
  schemas:
    BlueprintProperties:
      description: Schema for blueprint definition properties.
      type: object
      x-ms-external: true
      allOf:
      - $ref: '#/components/schemas/SharedBlueprintProperties'
      properties:
        versions:
          type: object
          description: Published versions of this blueprint definition.
        layout:
          type: object
          readOnly: true
          description: Layout view of the blueprint definition for UI reference.
      required:
      - targetScope
    BlueprintResourcePropertiesBase:
      description: Shared properties between all blueprint resources.
      type: object
      x-ms-external: true
      properties:
        displayName:
          type: string
          description: One-liner string explain this resource.
          maxLength: 256
        description:
          type: string
          description: Multi-line explain this resource.
          maxLength: 500
    ResourceGroupDefinition:
      description: Represents an Azure resource group in a blueprint definition.
      type: object
      properties:
        name:
          type: string
          description: Name of this resourceGroup. Leave empty if the resource group name will be specified during the blueprint assignment.
        location:
          type: string
          description: Location of this resourceGroup. Leave empty if the resource group location will be specified during the blueprint assignment.
        metadata:
          description: User-friendly properties for this resource group.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ParameterDefinitionMetadata'
        dependsOn:
          type: array
          description: Artifacts which need to be deployed before this resource group.
          items:
            type: string
            description: Name of peer artifact.
        tags:
          description: Tags to be assigned to this resource group.
          type: object
          additionalProperties:
            type: string
    BlueprintList:
      type: object
      title: BlueprintList
      description: List of blueprint definitions.
      properties:
        value:
          type: array
          description: List of blueprint definitions.
          items:
            $ref: '#/components/schemas/Blueprint'
        nextLink:
          type: string
          readOnly: true
          description: Link to the next page of results.
    CloudError:
      x-ms-external: true
      properties:
        error:
          $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse
    BlueprintStatus:
      description: The status of the blueprint. This field is readonly.
      type: object
      properties: {}
      allOf:
      - $ref: '#/components/schemas/BlueprintResourceStatusBase'
    SharedBlueprintProperties:
      description: Shared Schema for both blueprintProperties and publishedBlueprintProperties.
      type: object
      x-ms-external: true
      properties:
        status:
          description: Status of the blueprint. This field is readonly.
          readOnly: true
          $ref: '#/components/schemas/BlueprintStatus'
        targetScope:
          type: string
          description: The scope where this blueprint definition can be assigned.
          enum:
          - subscription
          - managementGroup
          x-ms-enum:
            name: BlueprintTargetScope
            modelAsString: true
            values:
            - value: subscription
              description: The blueprint targets a subscription during blueprint assignment.
            - value: managementGroup
              description: The blueprint targets a management group during blueprint assignment. This is reserved for future use.
        parameters:
          description: Parameters required by this blueprint definition.
          type: object
          additionalProperties:
            description: Named collection of parameter metadata.
            $ref: '#/components/schemas/ParameterDefinition'
        resourceGroups:
          description: Resource group placeholders defined by this blueprint definition.
          type: object
          additionalProperties:
            description: Named collection for resourceGroupDefinition.
            $ref: '#/components/schemas/ResourceGroupDefinition'
      allOf:
      - $ref: '#/components/schemas/BlueprintResourcePropertiesBase'
    AzureResourceBase:
      description: Common properties for all Azure resources.
      type: object
      x-ms-azure-resource: true
      properties:
        id:
          readOnly: true
          type: string
          description: String Id used to locate any resource on Azure.
        type:
          readOnly: true
          type: string
          description: Type of this resource.
        name:
          readOnly: true
          type: string
          description: Name of this resource.
    Blueprint:
      type: object
      description: Represents a Blueprint definition.
      allOf:
      - $ref: '#/components/schemas/AzureResourceBase'
      properties:
        properties:
          description: Detailed properties for blueprint definition.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/BlueprintProperties'
      required:
      - properties
    ParameterDefinition:
      description: Represent a parameter with constrains and metadata.
      type: object
      properties:
        type:
          type: string
          description: Allowed data types for Resource Manager template parameters.
          enum:
          - string
          - array
          - bool
          - int
          - object
          - secureObject
          - secureString
          x-ms-enum:
            name: TemplateParameterType
            modelAsString: true
        metadata:
          description: User-friendly properties for this parameter.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ParameterDefinitionMetadata'
        defaultValue:
          description: Default Value for this parameter.
        allowedValues:
          type: array
          description: Array of allowed values for this parameter.
          items:
            description: Allowed value.
      required:
      - type
    BlueprintResourceStatusBase:
      description: Shared status properties between all blueprint resources.
      type: object
      properties:
        timeCreated:
          type: string
          format: date-time
          readOnly: true
          description: Creation time of this blueprint definition.
        lastModified:
          type: string
          format: date-time
          readOnly: true
          description: Last modified time of this blueprint definition.
    ParameterDefinitionMetadata:
      type: object
      description: User-friendly properties for this parameter.
      properties:
        displayName:
          type: string
          description: DisplayName of this parameter/resourceGroup.
          maxLength: 256
        description:
          type: string
          description: Description of this parameter/resourceGroup.
          maxLength: 500
        strongType:
          type: string
          description: StrongType for UI to render rich experience during blueprint assignment. Supported strong types are resourceType, principalId and location.
          maxLength: 64
  parameters:
    ScopeParameter:
      name: resourceScope
      in: path
      required: true
      description: 'The scope of the resource. Valid scopes are: management group (format: ''/providers/Microsoft.Management/managementGroups/{managementGroup}''), subscription (format: ''/subscriptions/{subscriptionId}'').'
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
    BlueprintNameParameter:
      name: blueprintName
      in: path
      required: true
      x-ms-parameter-location: method
      description: Name of the blueprint definition.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      x-ms-parameter-location: client
      description: Client API Version.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
