openapi: 3.2.0
info:
  title: Microsoft Azure Open Energy Platform Management Service…
  description: Open Energy Platform Management Service APIs
  version: 2022-04-04-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: UserRPOepResource
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OpenEnergyPlatform/energyServices:
    get:
      tags:
      - UserRPOepResource
      description: Returns list of oep resources..
      operationId: microsoftAzureEnergyservicesListbyresourcegroup
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnergyServiceList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        OepResource_ListByResourceGroup:
          $ref: ./examples/OepResource_ListByResourceGroup.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/providers/Microsoft.OpenEnergyPlatform/energyServices:
    get:
      tags:
      - UserRPOepResource
      description: Lists a collection of oep resources under the given Azure Subscription ID.
      operationId: microsoftAzureEnergyservicesListbysubscription
      x-ms-examples:
        OepResource_ListBySubscriptionId:
          $ref: ./examples/OepResource_ListBySubscriptionId.json
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Returned when the operation is successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnergyServiceList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OpenEnergyPlatform/energyServices/{resourceName}
  : get:
      tags:
      - UserRPOepResource
      description: Returns oep resource for a given name.
      operationId: microsoftAzureEnergyservicesGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - in: path
        name: resourceName
        description: The resource name.
        required: true
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnergyService'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        OepResource_Get:
          $ref: ./examples/OepResource_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - UserRPOepResource
      description: Method that gets called if subscribed for ResourceCreationBegin trigger.
      operationId: microsoftAzureEnergyservicesCreate
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - in: path
        name: resourceName
        description: The resource name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The OEP resource created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnergyService'
        '201':
          description: The OEP resource will be created asynchronously
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnergyService'
        default:
          description: Error response describing the reason for operation failure. 404 - NotFound (Confidential Ledger could not be created/updated)
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        OepResource_Create:
          $ref: ./examples/OepResource_Create.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              description: Request body.
              $ref: '#/components/schemas/EnergyService'
        description: Request body.
components:
  schemas:
    EnergyService:
      required:
      - location
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/Resource
      properties:
        properties:
          $ref: '#/components/schemas/EnergyServiceProperties'
        tags:
          description: Resource tags.
          type: object
          additionalProperties:
            type: string
        location:
          description: Geo-location where the resource lives.
          type: string
    DataPartitionNames:
      type: object
      description: The list of Energy services resource's Data Partition Names.
      properties:
        name:
          type: string
    EnergyServiceProperties:
      type: object
      properties:
        dnsName:
          type: string
          readOnly: true
        provisioningState:
          enum:
          - Unknown
          - Succeeded
          - Failed
          - Canceled
          - Creating
          - Deleting
          - Updating
          type: string
          readOnly: true
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
        authAppId:
          type: string
          readOnly: false
        dataPartitionNames:
          type: array
          items:
            $ref: '#/components/schemas/DataPartitionNames'
          x-ms-identifiers: []
    EnergyServiceList:
      description: The list of oep resources.
      type: object
      properties:
        nextLink:
          description: The link used to get the next page of oep resources list.
          type: string
        value:
          description: The list of oep resources.
          type: array
          items:
            $ref: '#/components/schemas/EnergyService'
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
