openapi: 3.2.0
info:
  version: '2015-08-01'
  title: Microsoft Azure WebSite Management Client Classic Mobile…
  description: Use these APIs to manage Azure Websites resources through the Azure Resource Manager. All task operations conform to the HTTP/1.1 protocol specification and each operation returns an x-ms-request-id header that can be used to obtain information about the request. You must make sure that requests made to these resources are secure. For more information, see https://msdn.microsoft.com/en-us/library/azure/dn790557.aspx.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ClassicMobileServices
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/classicMobileServices:
    get:
      tags:
      - ClassicMobileServices
      summary: Microsoft Azure Get All Mobile Services In A Resource Group
      operationId: microsoftAzureClassicmobileservicesGetclassicmobileservices
      parameters:
      - name: resourceGroupName
        in: path
        description: Name of resource group
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassicMobileServiceCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/ClassicMobileServiceCollection'
      deprecated: false
      x-ms-pageable:
        nextLinkName: nextLink
      description: Needs a more full description created.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/classicMobileServices/{name}:
    get:
      tags:
      - ClassicMobileServices
      summary: Microsoft Azure Get A Mobile Service
      operationId: microsoftAzureClassicmobileservicesGetclassicmobileservice
      parameters:
      - name: resourceGroupName
        in: path
        description: Name of resource group
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: Name of mobile service
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassicMobileService'
            text/json:
              schema:
                $ref: '#/components/schemas/ClassicMobileService'
            application/xml:
              schema:
                $ref: '#/components/schemas/ClassicMobileService'
            text/xml:
              schema:
                $ref: '#/components/schemas/ClassicMobileService'
      deprecated: false
      description: Needs a more full description created.
    delete:
      tags:
      - ClassicMobileServices
      summary: Microsoft Azure Delete A Mobile Service
      operationId: microsoftAzureClassicmobileservicesDeleteclassicmobileservice
      parameters:
      - name: resourceGroupName
        in: path
        description: Name of resource group
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: Name of mobile service
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
      deprecated: false
      description: Needs a more full description created.
components:
  schemas:
    ClassicMobileService:
      description: A mobile service
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          properties:
            name:
              description: Name of the mobile service
              type: string
          x-ms-client-flatten: true
    Resource:
      required:
      - location
      properties:
        id:
          description: Resource Id
          type: string
        name:
          description: Resource Name
          type: string
        kind:
          description: Kind of resource
          type: string
        location:
          description: Resource Location
          type: string
        type:
          description: Resource type
          type: string
        tags:
          description: Resource tags
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
    Object:
      type: object
      properties: {}
    ClassicMobileServiceCollection:
      description: Collection of Classic Mobile Services
      type: object
      properties:
        value:
          description: Collection of resources
          type: array
          items:
            $ref: '#/components/schemas/ClassicMobileService'
        nextLink:
          description: Link to next page of resources
          type: string
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription Id
      required: true
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      description: API Version
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
