openapi: 3.2.0
info:
  title: Microsoft Azure Hubs API
  x-refined-note:
  - x-ms-code-generation-settings differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Hubs across 2 of this provider''s published API definitions: customerinsightsmanagementclient-openapi-original.yml, notificationhubs-rp-client-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Hubs
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}:
    put:
      tags:
      - Hubs
      operationId: microsoftAzureHubsCreateorupdate
      x-ms-examples:
        Hubs_CreateOrUpdate:
          $ref: ./examples/HubsCreateOrUpdate.json
      description: Creates a hub, or updates an existing hub.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hubName
        in: path
        required: true
        description: The name of the Hub.
        schema:
          type: string
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z][a-zA-Z0-9]+$
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. An existing hub is updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hub'
        '201':
          description: Created. A new hub is created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hub'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Hub'
        description: Parameters supplied to the CreateOrUpdate Hub operation.
        required: true
    patch:
      tags:
      - Hubs
      operationId: microsoftAzureHubsUpdate
      x-ms-examples:
        Hubs_Update:
          $ref: ./examples/HubsUpdate.json
      description: Updates a Hub.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hubName
        in: path
        required: true
        description: The name of the Hub.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. The hub is updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hub'
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Hub'
        description: Parameters supplied to the Update Hub operation.
        required: true
    delete:
      tags:
      - Hubs
      operationId: microsoftAzureHubsDelete
      x-ms-examples:
        Hubs_Delete:
          $ref: ./examples/HubsDelete.json
      description: Deletes the specified hub.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hubName
        in: path
        required: true
        description: The name of the hub.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. The hub is deleted.
        '202':
          description: Accepted. The delete operation is accepted.
        '204':
          description: NoContent. Successfully requested delete operation, but the response is intentionally empty.
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    get:
      tags:
      - Hubs
      operationId: microsoftAzureHubsGet
      x-ms-examples:
        Hubs_Get:
          $ref: ./examples/HubsGet.json
      description: Gets information about the specified hub.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hubName
        in: path
        required: true
        description: The name of the hub.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. Successfully get the hub.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hub'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs:
    get:
      tags:
      - Hubs
      operationId: microsoftAzureHubsListbyresourcegroup
      x-ms-examples:
        Hubs_ListByResourceGroup:
          $ref: ./examples/HubsListByResourceGroup.json
      description: Gets all the hubs in a resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. Successfully get all the hubs in the resource group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HubListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.CustomerInsights/hubs:
    get:
      tags:
      - Hubs
      operationId: microsoftAzureHubsList
      x-ms-examples:
        Hubs_List:
          $ref: ./examples/HubsList.json
      description: Gets all hubs in the specified subscription.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. Successfully get all the hubs in the subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HubListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/checkNotificationHubAvailability
  : post:
      tags:
      - Hubs
      summary: Microsoft Azure Checks The Availability Of The Given Notificationhub In A…
      operationId: microsoftAzureNotificationhubsChecknotificationhubavailability
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/NamespaceName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckAvailabilityResult'
        default:
          description: Error code with reason.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        NotificationHubs_CheckNotificationHubAvailability:
          $ref: ./examples/NotificationHubs/CheckAvailability.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckAvailabilityParameters'
        description: Request content.
        required: true
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}
  : get:
      tags:
      - Hubs
      summary: Microsoft Azure Gets The Notification Hub
      operationId: microsoftAzureNotificationhubsGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/NamespaceName'
      - $ref: '#/components/parameters/HubName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationHubResource'
        default:
          description: Error code with reason.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        NotificationHubs_Get:
          $ref: ./examples/NotificationHubs/Get.json
      description: Needs a more full description created.
    put:
      tags:
      - Hubs
      summary: Microsoft Azure Creates Update A Notificationhub In A Namespace
      operationId: microsoftAzureNotificationhubsCreateorupdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/NamespaceName'
      - $ref: '#/components/parameters/HubName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationHubResource'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationHubResource'
        default:
          description: Error code with reason.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        NotificationHubs_CreateOrUpdate:
          $ref: ./examples/NotificationHubs/CreateOrUpdate.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationHubResource'
        description: Request content.
        required: true
    patch:
      tags:
      - Hubs
      summary: Microsoft Azure Patch A Notificationhub In A Namespace
      operationId: microsoftAzureNotificationhubsUpdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/NamespaceName'
      - $ref: '#/components/parameters/HubName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationHubResource'
        default:
          description: Error code with reason.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        NotificationHubs_Update:
          $ref: ./examples/NotificationHubs/Update.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationHubPatchParameters'
        description: Request content.
        required: true
    delete:
      tags:
      - Hubs
      summary: Microsoft Azure Deletes A Notification Hub Associated With A Namespace
      operationId: microsoftAzureNotificationhubsDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/NamespaceName'
      - $ref: '#/components/parameters/HubName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
        '204':
          description: No Content
        default:
          description: Error code with reason.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        NotificationHubs_Delete:
          $ref: ./examples/NotificationHubs/Delete.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs
  : get:
      tags:
      - Hubs
      summary: Microsoft Azure Lists The Notification Hubs Associated With A Namespace
      operationId: microsoftAzureNotificationhubsList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/NamespaceName'
      - in: query
        name: $skipToken
        description: Continuation token.
        schema:
          type: string
      - in: query
        name: $top
        description: Page size.
        schema:
          type: integer
          format: int32
          default: 100
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationHubListResult'
        default:
          description: Error code with reason.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        itemName: value
        nextLinkName: nextLink
      x-ms-examples:
        NotificationHubs_List:
          $ref: ./examples/NotificationHubs/List.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/debugsend
  : post:
      tags:
      - Hubs
      summary: Microsoft Azure Test Send A Push Notification
      operationId: microsoftAzureNotificationhubsDebugsend
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/NamespaceName'
      - $ref: '#/components/parameters/HubName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DebugSendResponse'
        default:
          description: Error code with reason.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        NotificationHubs_DebugSend:
          $ref: ./examples/NotificationHubs/DebugSend.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/authorizationRules/{authorizationRuleName}
  : put:
      tags:
      - Hubs
      summary: Microsoft Azure Creates Updates An Authorization Rule For A Notificationhub
      operationId: microsoftAzureNotificationhubsCreateorupdateauthorizationrule
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/NamespaceName'
      - $ref: '#/components/parameters/HubName'
      - $ref: '#/components/parameters/AuthorizationRuleName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
        default:
          description: Error code with reason.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        NotificationHubs_CreateOrUpdateAuthorizationRule:
          $ref: ./examples/NotificationHubs/AuthorizationRuleCreateOrUpdate.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
        description: Request content.
        required: true
    delete:
      tags:
      - Hubs
      summary: Microsoft Azure Deletes A Notificationhub Authorization Rule
      operationId: microsoftAzureNotificationhubsDeleteauthorizationrule
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/NamespaceName'
      - $ref: '#/components/parameters/HubName'
      - $ref: '#/components/parameters/AuthorizationRuleName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
        '204':
          description: No Content
        default:
          description: Error code with reason.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        NotificationHubs_DeleteAuthorizationRule:
          $ref: ./examples/NotificationHubs/AuthorizationRuleDelete.json
      description: Needs a more full description created.
    get:
      tags:
      - Hubs
      summary: Microsoft Azure Gets An Authorization Rule For A Notificationhub By Name
      operationId: microsoftAzureNotificationhubsGetauthorizationrule
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/NamespaceName'
      - $ref: '#/components/parameters/HubName'
      - $ref: '#/components/parameters/AuthorizationRuleName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
        default:
          description: Error code with reason.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        NotificationHubs_GetAuthorizationRule:
          $ref: ./examples/NotificationHubs/AuthorizationRuleGet.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/authorizationRules
  : get:
      tags:
      - Hubs
      summary: Microsoft Azure Gets The Authorization Rules For A Notificationhub
      operationId: microsoftAzureNotificationhubsListauthorizationrules
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/NamespaceName'
      - $ref: '#/components/parameters/HubName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleListResult'
        default:
          description: Error code with reason.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        itemName: value
        nextLinkName: nextLink
      x-ms-examples:
        NotificationHubs_ListAuthorizationRules:
          $ref: ./examples/NotificationHubs/AuthorizationRuleList.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/authorizationRules/{authorizationRuleName}/listKeys
  : post:
      tags:
      - Hubs
      summary: Microsoft Azure Gets The Primary And Secondary Connectionstrings To The…
      operationId: microsoftAzureNotificationhubsListkeys
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/NamespaceName'
      - $ref: '#/components/parameters/HubName'
      - $ref: '#/components/parameters/AuthorizationRuleName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListKeys'
        default:
          description: Error code with reason.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        NotificationHubs_ListKeys:
          $ref: ./examples/NotificationHubs/AuthorizationRuleListKeys.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/authorizationRules/{authorizationRuleName}/regenerateKeys
  : post:
      tags:
      - Hubs
      summary: Microsoft Azure Regenerates The Primary Secondary Keys To The Notificationhub…
      operationId: microsoftAzureNotificationhubsRegeneratekeys
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/NamespaceName'
      - $ref: '#/components/parameters/HubName'
      - $ref: '#/components/parameters/AuthorizationRuleName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListKeys'
        default:
          description: Error code with reason.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        NotificationHubs_RegenerateKeys:
          $ref: ./examples/NotificationHubs/AuthorizationRuleRegenerateKey.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyKeyResource'
        description: Request content.
        required: true
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/pnsCredentials
  : post:
      tags:
      - Hubs
      summary: Microsoft Azure Lists The Pns Credentials Associated With A Notification Hub
      operationId: microsoftAzureNotificationhubsGetpnscredentials
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/NamespaceName'
      - $ref: '#/components/parameters/HubName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PnsCredentialsResource'
        default:
          description: Error code with reason.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        NotificationHubs_GetPnsCredentials:
          $ref: ./examples/NotificationHubs/PnsCredentialsGet.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
components:
  schemas:
    Hub:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/HubPropertiesFormat'
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Hub resource.
    HubBillingInfoFormat:
      properties:
        skuName:
          type: string
          description: The sku name.
        minUnits:
          type: integer
          minimum: 1
          maximum: 10
          description: The minimum number of units will be billed. One unit is 10,000 Profiles and 100,000 Interactions.
        maxUnits:
          type: integer
          minimum: 1
          maximum: 10
          description: The maximum number of units can be used.  One unit is 10,000 Profiles and 100,000 Interactions.
      description: Hub billing info.
    HubListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Hub'
          description: Results of the list operation.
        nextLink:
          type: string
          description: Link for next set of results.
      description: Response of list hub operation.
    HubPropertiesFormat:
      properties:
        apiEndpoint:
          type: string
          readOnly: true
          description: API endpoint URL of the hub.
        webEndpoint:
          type: string
          readOnly: true
          description: Web endpoint URL of the hub.
        provisioningState:
          type: string
          readOnly: true
          description: Provisioning state of the hub.
        tenantFeatures:
          type: integer
          description: The bit flags for enabled hub features. Bit 0 is set to 1 indicates graph is enabled, or disabled if set to 0. Bit 1 is set to 1 indicates the hub is disabled, or enabled if set to 0.
        hubBillingInfo:
          $ref: '#/components/schemas/HubBillingInfoFormat'
          description: Billing settings of the hub.
      description: Properties of hub.
    Resource:
      properties:
        id:
          readOnly: true
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
        location:
          type: string
          description: Resource location.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
      x-ms-azure-resource: true
      description: Common properties of Azure resource.
    SharedAccessAuthorizationRuleProperties:
      description: SharedAccessAuthorizationRule properties.
      required:
      - rights
      type: object
      properties:
        rights:
          description: Gets or sets the rights associated with the rule.
          type: array
          items:
            $ref: '#/components/schemas/AccessRights'
        primaryKey:
          description: 'Gets a base64-encoded 256-bit primary key for signing and

            validating the SAS token.'
          type: string
          x-ms-secret: true
        secondaryKey:
          description: 'Gets a base64-encoded 256-bit primary key for signing and

            validating the SAS token.'
          type: string
          x-ms-secret: true
        keyName:
          description: Gets a string that describes the authorization rule.
          type: string
          readOnly: true
        modifiedTime:
          format: date-time
          description: Gets the last modified time for this rule
          type: string
          readOnly: true
        createdTime:
          format: date-time
          description: Gets the created time for this rule
          type: string
          readOnly: true
        claimType:
          description: Gets a string that describes the claim type
          type: string
          readOnly: true
        claimValue:
          description: Gets a string that describes the claim value
          type: string
          readOnly: true
        revision:
          format: int32
          description: Gets the revision number for the rule
          type: integer
          readOnly: true
    NotificationHubListResult:
      description: The response of the List NotificationHub operation.
      type: object
      properties:
        value:
          description: Gets or sets result of the List AuthorizationRules operation.
          type: array
          items:
            $ref: '#/components/schemas/NotificationHubResource'
          readOnly: true
        nextLink:
          description: Gets or sets link to the next set of results.
          type: string
          readOnly: true
    DebugSendResponse:
      description: Description of a NotificationHub Resource.
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/DebugSendResult'
        location:
          description: Deprecated - only for compatibility.
          type: string
          x-ms-mutability:
          - create
          - read
        tags:
          description: Deprecated - only for compatibility.
          type: object
          additionalProperties:
            type: string
    NotificationHubProperties:
      description: NotificationHub properties.
      type: object
      properties:
        name:
          description: Gets or sets the NotificationHub name.
          type: string
          x-ms-mutability:
          - create
          - read
        registrationTtl:
          description: Gets or sets the RegistrationTtl of the created NotificationHub
          type: string
        authorizationRules:
          description: Gets or sets the AuthorizationRules of the created NotificationHub
          type: array
          items:
            $ref: '#/components/schemas/SharedAccessAuthorizationRuleProperties'
          readOnly: true
          x-ms-secret: true
          x-ms-identifiers:
          - keyName
        apnsCredential:
          $ref: '#/components/schemas/ApnsCredential'
        wnsCredential:
          $ref: '#/components/schemas/WnsCredential'
        gcmCredential:
          $ref: '#/components/schemas/GcmCredential'
        mpnsCredential:
          $ref: '#/components/schemas/MpnsCredential'
        admCredential:
          $ref: '#/components/schemas/AdmCredential'
        baiduCredential:
          $ref: '#/components/schemas/BaiduCredential'
        browserCredential:
          $ref: '#/components/schemas/BrowserCredential'
        xiaomiCredential:
          $ref: '#/components/schemas/XiaomiCredential'
        fcmV1Credential:
          $ref: '#/components/schemas/FcmV1Credential'
        dailyMaxActiveDevices:
          format: int64
          type: integer
          readOnly: true
    AdmCredential:
      description: Description of a NotificationHub AdmCredential.
      required:
      - properties
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/AdmCredentialProperties'
      x-ms-secret: true
    RegistrationResult:
      description: Notification result for a single registration.
      type: object
      properties:
        applicationPlatform:
          description: PNS type.
          type: string
          readOnly: true
        pnsHandle:
          description: PNS handle.
          type: string
          readOnly: true
        registrationId:
          description: Registration id.
          type: string
          readOnly: true
        outcome:
          description: Notification outcome.
          type: string
          readOnly: true
    WnsCredential:
      description: Description of a NotificationHub WnsCredential.
      required:
      - properties
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/WnsCredentialProperties'
      x-ms-secret: true
    CheckAvailabilityResult:
      description: Description of a CheckAvailability resource.
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
      properties:
        isAvailiable:
          description: 'Gets or sets true if the name is available and can be used to

            create new Namespace/NotificationHub. Otherwise false.'
          type: boolean
        location:
          description: Deprecated - only for compatibility.
          type: string
          x-ms-mutability:
          - create
          - read
        tags:
          description: Deprecated - only for compatibility.
          type: object
          additionalProperties:
            type: string
        sku:
          $ref: '#/components/schemas/Sku'
    MpnsCredentialProperties:
      description: Description of a NotificationHub MpnsCredential.
      required:
      - certificateKey
      - mpnsCertificate
      - thumbprint
      type: object
      properties:
        mpnsCertificate:
          description: Gets or sets the MPNS certificate.
          minLength: 1
          type: string
          x-ms-secret: true
        certificateKey:
          description: Gets or sets the certificate key for this credential.
          minLength: 1
          type: string
          x-ms-secret: true
        thumbprint:
          description: Gets or sets the MPNS certificate Thumbprint
          minLength: 1
          type: string
          x-ms-secret: true
    PnsCredentialsResource:
      description: 'Description of a NotificationHub PNS Credentials. This is a response of the POST requests that return namespace or hubs

        PNS credentials.'
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/PnsCredentials'
        location:
          description: Deprecated - only for compatibility.
          type: string
          x-ms-mutability:
          - create
          - read
        tags:
          description: Deprecated - only for compatibility.
          type: object
          additionalProperties:
            type: string
    GcmCredentialProperties:
      description: Description of a NotificationHub GcmCredential.
      required:
      - googleApiKey
      type: object
      properties:
        gcmEndpoint:
          description: Gets or sets the GCM endpoint.
          type: string
          x-ms-secret: true
        googleApiKey:
          description: Gets or sets the Google API key.
          minLength: 1
          type: string
          x-ms-secret: true
    FcmV1CredentialProperties:
      description: Description of a NotificationHub FcmV1Credential.
      required:
      - clientEmail
      - privateKey
      - projectId
      type: object
      properties:
        clientEmail:
          description: Gets or sets client email.
          minLength: 1
          type: string
          x-ms-secret: true
        privateKey:
          description: Gets or sets private key.
          minLength: 1
          type: string
          x-ms-secret: true
        projectId:
          description: Gets or sets project id.
          minLength: 1
          type: string
          x-ms-secret: true
    AdmCredentialProperties:
      description: Description of a NotificationHub AdmCredential.
      required:
      - authTokenUrl
      - clientId
      - clientSecret
      type: object
      properties:
        clientId:
          description: Gets or sets the client identifier.
          minLength: 1
          type: string
          x-ms-secret: true
        clientSecret:
          description: Gets or sets the credential secret access key.
          minLength: 1
          type: string
          x-ms-secret: true
        authTokenUrl:
          description: Gets or sets the URL of the authorization token.
          minLength: 1
          type: string
          x-ms-secret: true
    CheckAvailabilityParameters:
      description: 'Parameters supplied to the Check Name Availability for Namespace and

        NotificationHubs.'
      required:
      - name
      type: object
      properties:
        id:
          description: Gets resource Id
          type: string
          readOnly: true
        name:
          description: Gets or sets resource name
          minLength: 1
          type: string
        type:
          description: Gets resource type
          type: string
          readOnly: true
        location:
          description: Gets or sets resource location
          type: string
        tags:
          description: Gets or sets resource tags
          type: object
          additionalProperties:
            type: string
        isAvailiable:
          description: Not used and deprecated since API version 2023-01-01-preview
          type: boolean
        sku:
          $ref: '#/components/schemas/Sku'
    SharedAccessAuthorizationRuleListResult:
      description: The response of the List Namespace operation.
      type: object
      properties:
        value:
          description: Gets or sets result of the List AuthorizationRules operation.
          type: array
          items:
            $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
          readOnly: true
        nextLink:
          description: Gets or sets link to the next set of results.
          type: string
          readOnly: true
    ApnsCredentialProperties:
      description: Description of a NotificationHub ApnsCredential.
      required:
      - endpoint
      type: object
      properties:
        apnsCertificate:
          description: Gets or sets the APNS certificate.
          type: string
          x-ms-secret: true
        certificateKey:
          description: Gets or sets the certificate key.
          type: string
          x-ms-secret: true
        endpoint:
          description: Gets or sets the endpoint of this credential.
          minLength: 1
          type: string
          x-ms-secret: true
        thumbprint:
          description: Gets or sets the APNS certificate Thumbprint
          type: string
          x-ms-secret: true
        keyId:
          description: 'Gets or sets a 10-character key identifier (kid) key, obtained from

            your developer account'
          type: string
          x-ms-secret: true
        appName:
          description: Gets or sets the name of the application
          type: string
          x-ms-secret: true
        appId:
          description: 'Gets or sets the issuer (iss) registered claim key, whose value is

            your 10-character Team ID, obtained from your developer account'
          type: string
          x-ms-secret: true
        token:
          description: 'Gets or sets provider Authentication Token, obtained through your

            developer account'
          type: string
          x-ms-secret: true
    BaiduCredentialProperties:
      description: Description of a NotificationHub BaiduCredential.
      required:
      - baiduApiKey
      - baiduEndPoint
      - baiduSecretKey
      type: object
      properties:
        baiduApiKey:
          description: Gets or sets baidu Api Key.
          minLength: 1
          type: string
          x-ms-secret: true
        baiduEndPoint:
          description: Gets or sets baidu Endpoint.
          minLength: 1
          type: string
          x-ms-secret: true
        baiduSecretKey:
          description: Gets or sets baidu Secret Key
          minLength: 1
          type: string
          x-ms-secret: true
    ApnsCredential:
      description: Description of a NotificationHub ApnsCredential.
      required:
      - properties
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ApnsCredentialProperties'
      x-ms-secret: true
    WnsCredentialProperties:
      description: Description of a NotificationHub WnsCredential.
      type: object
      properties:
        packageSid:
          description: Gets or sets the package ID for this credential.
          type: string
          x-ms-secret: true
        secretKey:
          description: Gets or sets the secret key.
          type: string
          x-ms-secret: true
        windowsLiveEndpoint:
          description: Gets or sets the Windows Live endpoint.
          type: string
          x-ms-secret: true
        certificateKey:
          description: Ges or sets the WNS Certificate Key.
          type: string
          x-ms-secret: true
        wnsCertificate:
          description: Gets or sets the WNS Certificate.
          type: string
          x-ms-secret: true
    SkuName:
      description: Namespace SKU name.
      enum:
      - Free
      - Basic
      - Standard
      type: string
      x-ms-enum:
        name: SkuName
        modelAsString: true
    SharedAccessAuthorizationRuleResource:
      description: Response for POST requests that return single SharedAccessAuthorizationRule.
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/SharedAccessAuthorizationRuleProperties'
        location:
          description: Deprecated - only for compatibility.
          type: string
          x-ms-mutability:
          - create
          - read
        tags:
          description: Deprecated - only for compatibility.
          type: object
          additionalProperties:
            type: string
    MpnsCredential:
      description: Description of a NotificationHub MpnsCredential.
      required:
      - properties
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/MpnsCredentialProperties'
      x-ms-secret: true
    BaiduCredential:
      description: Description of a NotificationHub BaiduCredential.
      required:
      - properties
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/BaiduCredentialProperties'
      x-ms-secret: true
    BrowserCredential:
      description: Description of a NotificationHub BrowserCredential.
      required:
      - properties
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/BrowserCredentialProperties'
      x-ms-secret: true
    FcmV1Credential:
      description: Description of a NotificationHub FcmV1Credential.
      required:
      - properties
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/FcmV1CredentialProperties'
      x-ms-secret: true
    XiaomiCredential:
      description: Description of a NotificationHub XiaomiCredential.
      required:
      - properties
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/XiaomiCredentialProperties'
      x-ms-secret: true
    BrowserCredentialProperties:
      description: Description of a NotificationHub BrowserCredential.
      required:
      - subject
      - vapidPrivateKey
      - vapidPublicKey
      type: object
      properties:
        subject:
          description: Gets or sets web push subject.
          minLength: 1
          type: string
          x-ms-secret: true
        vapidPrivateKey:
          description: Gets or sets VAPID private key.
          minLength: 1
          type: string
          x-ms-secret: true
        vapidPublicKey:
          description: Gets or sets VAPID public key.
          minLength: 1
          type: string
          x-ms-secret: true
    PolicyKeyType:
      description: Type of Shared Access Policy Key (primary or secondary).
      enum:
      - PrimaryKey
      - SecondaryKey
      type: string
      x-ms-enum:
        name: PolicyKeyType
        modelAsString: true
    NotificationHubResource:
      description: Notification Hub Resource.
      required:
      - location
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/NotificationHubProperties'
        sku:
          $ref: '#/components/schemas/Sku'
    NotificationHubPatchParameters:
      description: Patch parameter for NamespaceResource.
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/NotificationHubProperties'
        sku:
          $ref: '#/components/schemas/Sku'
        tags:
          type: object
          additionalProperties:
            type: string
    DebugSendResult:
      description: Result of DebugSend operations.
      type: object
      properties:
        success:
          format: int64
          description: Gets or sets successful send
          type: integer
          readOnly: true
        failure:
          format: int64
          description: Gets or sets send failure
          type: integer
          readOnly: true
        results:
          description: Gets or sets actual failure description
          type: array
          items:
            $ref: '#/components/schemas/RegistrationResult'
          readOnly: true
          x-ms-identifiers: []
    AccessRights:
      description: Defines values for AccessRights.
      enum:
      - Manage
      - Send
      - Listen
      type: string
      x-ms-enum:
        name: AccessRights
        modelAsString: true
    ResourceListKeys:
      description: Response for the POST request that returns Namespace or NotificationHub access keys (connection strings).
      type: object
      properties:
        primaryConnectionString:
          description: Gets or sets primaryConnectionString of the AuthorizationRule.
          type: string
          readOnly: true
          x-ms-secret: true
        secondaryConnectionString:
          description: 'Gets or sets secondaryConnectionString of the created

            AuthorizationRule'
          type: string
          readOnly: true
          x-ms-secret: true
        primaryKey:
          description: Gets or sets primaryKey of the created AuthorizationRule.
          type: string
          readOnly: true
          x-ms-secret: true
        secondaryKey:
          description: Gets or sets secondaryKey of the created AuthorizationRule
          type: string
          readOnly: true
          x-ms-secret: true
        keyName:
          description: Gets or sets keyName of the created AuthorizationRule
          type: string
          readOnly: true
    XiaomiCredentialProperties:
      description: Description of a NotificationHub XiaomiCredentialProperties.
      type: object
      properties:
        appSecret:
          description: Gets or sets app secret.
          type: string
          x-ms-secret: true
        endpoint:
          description: Gets or sets xiaomi service endpoint.
          type: string
          x-ms-secret: true
    PolicyKeyResource:
      description: Namespace / NotificationHub Regenerate Keys request.
      required:
      - policyKey
      type: object
      properties:
        policyKey:
          $ref: '#/components/schemas/PolicyKeyType'
    GcmCredential:
      description: Description of a NotificationHub GcmCredential.
      required:
      - properties
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/GcmCredentialProperties'
      x-ms-secret: true
    PnsCredentials:
      description: Collection of Notification Hub or Notification Hub Namespace PNS credentials.
      type: object
      properties:
        admCredential:
          $ref: '#/components/schemas/AdmCredential'
        apnsCredential:
          $ref: '#/components/schemas/ApnsCredential'
        baiduCredential:
          $ref: '#/components/schemas/BaiduCredential'
        browserCredential:
          $ref: '#/components/schemas/BrowserCredential'
        gcmCredential:
          $ref: '#/components/schemas/GcmCredential'
        mpnsCredential:
          $ref: '#/components/schemas/MpnsCredential'
        wnsCredential:
          $ref: '#/components/schemas/WnsCredential'
        xiaomiCredential:
          $ref: '#/components/schemas/XiaomiCredential'
        fcmV1Credential:
          $ref: '#/components/schemas/FcmV1Credential'
      x-ms-secret: true
    Sku:
      description: The Sku description for a namespace
      required:
      - name
      type: object
      properties:
        name:
          $ref: '#/components/schemas/SkuName'
        tier:
          description: Gets or sets the tier of particular sku
          type: string
        size:
          description: Gets or sets the Sku size
          type: string
        family:
          description: Gets or sets the Sku Family
          type: string
        capacity:
          format: int32
          description: Gets or sets the capacity of the resource
          type: integer
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
    AuthorizationRuleName:
      in: path
      name: authorizationRuleName
      description: Authorization Rule Name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 256
        minLength: 1
        pattern: ^[a-zA-Z0-9!()*-._]+$
    NamespaceName:
      in: path
      name: namespaceName
      description: Namespace name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 50
        minLength: 1
        pattern: ^[a-zA-Z][a-zA-Z0-9-]*$
    HubName:
      in: path
      name: notificationHubName
      description: Notification Hub name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 265
        minLength: 1
        pattern: ^[a-zA-Z][a-zA-Z0-9-./_]*$
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-refined-from:
- customerinsightsmanagementclient-openapi-original.yml
- notificationhubs-rp-client-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
