openapi: 3.2.0
info:
  title: Microsoft Azure MariaDBManagementClient Recommended Actions…
  description: The Microsoft Azure management API provides create, read, update, and delete functionality for Azure MariaDB resources including servers, databases, firewall rules, VNET rules, log files and configurations with new business model.
  version: '2018-06-01'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: RecommendedActions
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/advisors/{advisorName}/recommendedActions/{recommendedActionName}
  : get:
      tags:
      - RecommendedActions
      operationId: microsoftAzureRecommendedactionsGet
      x-ms-examples:
        RecommendedActionsGet:
          $ref: ./examples/RecommendedActionsGet.json
      description: Retrieve recommended actions from the advisor.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/ServerNameParameter'
      - $ref: '#/components/parameters/AdvisorNameParameter'
      - $ref: '#/components/parameters/RecommendedActionNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationAction'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/advisors/{advisorName}/recommendedActions
  : get:
      tags:
      - RecommendedActions
      operationId: microsoftAzureRecommendedactionsListbyserver
      x-ms-examples:
        RecommendedActionsListByServer:
          $ref: ./examples/RecommendedActionsListByServer.json
      description: Retrieve recommended actions from the advisor.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/ServerNameParameter'
      - $ref: '#/components/parameters/AdvisorNameParameter'
      - name: sessionId
        in: query
        required: false
        description: The recommendation action session identifier.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationActionsResultList'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  parameters:
    RecommendedActionNameParameter:
      name: recommendedActionName
      in: path
      required: true
      description: The recommended action name.
      x-ms-parameter-location: method
      schema:
        type: string
    ServerNameParameter:
      name: serverName
      in: path
      required: true
      description: The name of the server.
      x-ms-parameter-location: method
      schema:
        type: string
    AdvisorNameParameter:
      name: advisorName
      in: path
      required: true
      description: The advisor name for recommendation action.
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for the request.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The subscription ID that identifies an Azure subscription.
      schema:
        type: string
  schemas:
    RecommendationActionsResultList:
      description: A list of recommendation actions.
      type: object
      properties:
        value:
          description: The list of recommendation action advisors.
          type: array
          items:
            $ref: '#/components/schemas/RecommendationAction'
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    RecommendationActionProperties:
      properties:
        advisorName:
          type: string
          description: Advisor name.
        sessionId:
          type: string
          description: Recommendation action session identifier.
        actionId:
          type: integer
          format: int32
          description: Recommendation action identifier.
        createdTime:
          type: string
          format: date-time
          description: Recommendation action creation time.
        expirationTime:
          type: string
          format: date-time
          description: Recommendation action expiration time.
        reason:
          type: string
          description: Recommendation action reason.
        recommendationType:
          type: string
          description: Recommendation action type.
        details:
          type: object
          additionalProperties:
            type: string
          description: Recommendation action details.
      description: The properties of a recommendation action.
    RecommendationAction:
      properties:
        properties:
          $ref: '#/components/schemas/RecommendationActionProperties'
          x-ms-client-flatten: true
          description: The properties of a recommendation action.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource
      description: Represents a Recommendation Action.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
