openapi: 3.2.0
info:
  version: 2023-07-01-preview
  title: Microsoft Azure CdnManagementClient Edgenodes API
  description: Use these APIs to manage Azure CDN resources through the Azure Resource Manager. You must make sure that requests made to these resources are secure.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Edge Nodes
paths:
  /providers/Microsoft.Cdn/edgenodes:
    get:
      tags:
      - Edge Nodes
      description: Edgenodes are the global Point of Presence (POP) locations used to deliver CDN content to end users.
      operationId: microsoftAzureEdgenodesList
      x-ms-examples:
        EdgeNodes_List:
          $ref: ./examples/EdgeNodes_List.json
      parameters:
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdgenodeResult'
        default:
          description: CDN error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Cdn Edgenodes
components:
  schemas:
    ProxyResource:
      description: The resource model definition for a ARM proxy resource. It will have everything other than required location and tags
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties: {}
    EdgeNode:
      description: Edgenode is a global Point of Presence (POP) location used to deliver CDN content to end users.
      type: object
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/EdgeNodeProperties'
    EdgeNodeProperties:
      description: The JSON object that contains the properties required to create an edgenode.
      required:
      - ipAddressGroups
      properties:
        ipAddressGroups:
          description: List of ip address groups.
          type: array
          items:
            $ref: '#/components/schemas/IpAddressGroup'
          x-ms-identifiers:
          - deliveryRegion
    cidrIpAddress:
      description: CIDR Ip address
      type: object
      properties:
        baseIpAddress:
          description: Ip address itself.
          type: string
        prefixLength:
          description: The length of the prefix of the ip address.
          type: integer
          format: int32
    IdentityType:
      description: The type of identity that creates/modifies resources
      type: string
      enum:
      - user
      - application
      - managedIdentity
      - key
      x-ms-enum:
        name: IdentityType
        modelAsString: true
    EdgenodeResult:
      description: Result of the request to list CDN edgenodes. It contains a list of ip address group and a URL link to get the next set of results.
      properties:
        value:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/EdgeNode'
          description: Edge node of CDN service.
        nextLink:
          type: string
          description: URL to get the next set of edgenode list results if there are any.
    Resource:
      description: The core properties of ARM resources
      properties:
        id:
          description: Resource ID.
          readOnly: true
          type: string
        name:
          description: Resource name.
          readOnly: true
          type: string
        type:
          description: Resource type.
          readOnly: true
          type: string
        systemData:
          $ref: '#/components/schemas/SystemData'
          readOnly: true
      x-ms-azure-resource: true
    ErrorResponse:
      title: Error response
      description: Error response indicates Azure Front Door Standard or Azure Front Door Premium or CDN service is not able to process the incoming request. The reason is provided in the error message.
      type: object
      properties:
        error:
          $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorDetail
    SystemData:
      description: Read only system data
      readOnly: true
      type: object
      properties:
        createdBy:
          type: string
          description: An identifier for the identity that created the resource
        createdByType:
          $ref: '#/components/schemas/IdentityType'
          description: The type of identity that created the resource
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC)
        lastModifiedBy:
          type: string
          description: An identifier for the identity that last modified the resource
        lastModifiedByType:
          $ref: '#/components/schemas/IdentityType'
          description: The type of identity that last modified the resource
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
    IpAddressGroup:
      description: CDN Ip address group
      type: object
      properties:
        deliveryRegion:
          description: The delivery region of the ip address group
          type: string
        ipv4Addresses:
          description: The list of ip v4 addresses.
          type: array
          items:
            $ref: '#/components/schemas/cidrIpAddress'
          x-ms-identifiers:
          - baseIpAddress
        ipv6Addresses:
          description: The list of ip v6 addresses.
          type: array
          items:
            $ref: '#/components/schemas/cidrIpAddress'
          x-ms-identifiers:
          - baseIpAddress
  parameters:
    apiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Version of the API to be used with the client request. Current version is 2023-05-01.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
