openapi: 3.2.0
info:
  version: '2023-06-01'
  title: Microsoft Azure SiteRecoveryManagementClient Replication…
  x-ms-code-generation-settings:
    header: MICROSOFT_MIT_NO_VERSION
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ReplicationStorageClassifications
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationStorageClassifications
  : get:
      tags:
      - ReplicationStorageClassifications
      summary: Microsoft Azure Gets The List Of Storage Classification Objects Under A Fabric
      description: Lists the storage classifications available in the specified fabric.
      operationId: microsoftAzureReplicationstorageclassificationsListbyreplicationfabrics
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Site name of interest.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageClassificationCollection'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Gets the list of storage classification objects under a fabric.:
          $ref: ./examples/ReplicationStorageClassifications_ListByReplicationFabrics.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationStorageClassifications/{storageClassificationName}
  : get:
      tags:
      - ReplicationStorageClassifications
      summary: Microsoft Azure Gets The Details Of A Storage Classification
      description: Gets the details of the specified storage classification.
      operationId: microsoftAzureReplicationstorageclassificationsGet
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Fabric name.
        required: true
        schema:
          type: string
      - name: storageClassificationName
        in: path
        description: Storage classification name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageClassification'
      x-ms-examples:
        Gets the details of a storage classification.:
          $ref: ./examples/ReplicationStorageClassifications_Get.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationStorageClassifications
  : get:
      tags:
      - ReplicationStorageClassifications
      summary: Microsoft Azure Gets The List Of Storage Classification Objects Under A Vault
      description: Lists the storage classifications in the vault.
      operationId: microsoftAzureReplicationstorageclassificationsList
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageClassificationCollection'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Gets the list of storage classification objects under a vault.:
          $ref: ./examples/ReplicationStorageClassifications_List.json
components:
  schemas:
    StorageClassification:
      description: Storage object definition.
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/StorageClassificationProperties'
          description: Properties of the storage object.
    StorageClassificationProperties:
      description: Storage object properties.
      type: object
      properties:
        friendlyName:
          description: Friendly name of the Storage classification.
          type: string
    Resource:
      description: Azure resource.
      type: object
      properties:
        id:
          description: Resource Id
          type: string
          readOnly: true
        name:
          description: Resource Name
          type: string
          readOnly: true
        type:
          description: Resource Type
          type: string
          readOnly: true
        location:
          description: Resource Location
          type: string
      x-ms-azure-resource: true
    StorageClassificationCollection:
      description: Collection of storage details.
      type: object
      properties:
        value:
          description: The storage details.
          type: array
          items:
            $ref: '#/components/schemas/StorageClassification'
        nextLink:
          description: The value of next link.
          type: string
  parameters:
    ResourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group where the recovery services vault is present.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    SubscriptionId:
      name: subscriptionId
      in: path
      description: The subscription Id.
      required: true
      schema:
        type: string
    ApiVersion:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
    ResourceName:
      name: resourceName
      in: path
      description: The name of the recovery services vault.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account.
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
