openapi: 3.2.0
info:
  title: Microsoft Azure OffAzureSpringBoot Springbootsites API
  description: The Microsoft.OffAzureSpringBoot Rest API spec.
  version: 2024-04-01-preview
servers:
- url: https://management.azure.com
tags:
- name: Springbootsites
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzureSpringBoot/springbootsites/{springbootsitesName}
  : get:
      tags:
      - Springbootsites
      operationId: microsoftAzureSpringbootsitesGet
      description: Get a springbootsites resource.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/springbootsitesNameParameter'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Retrieves the springbootsites resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/springbootsitesModel'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        springbootsites_Get_MaximumSet_Gen:
          $ref: ./examples/springbootsites_Get_MaximumSet_Gen.json
        springbootsites_Get_MinimumSet_Gen:
          $ref: ./examples/springbootsites_Get_MinimumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Springbootsites
      operationId: microsoftAzureSpringbootsitesCreateorupdate
      description: Create a springbootsites resource.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/springbootsitesNameParameter'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Updates the springbootsites resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/springbootsitesModel'
        '201':
          description: Creates the springbootsites resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/springbootsitesModel'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        springbootsites_CreateOrUpdate_MaximumSet_Gen:
          $ref: ./examples/springbootsites_CreateOrUpdate_MaximumSet_Gen.json
        springbootsites_CreateOrUpdate_MinimumSet_Gen:
          $ref: ./examples/springbootsites_CreateOrUpdate_MinimumSet_Gen.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/springbootsitesModel'
        description: Create a springbootsites payload.
        required: true
    delete:
      tags:
      - Springbootsites
      operationId: microsoftAzureSpringbootsitesDelete
      description: Delete a springbootsites resource.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/springbootsitesNameParameter'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '202':
          description: Deletes the springbootsites resource.
          headers:
            Location:
              schema:
                type: string
        '204':
          description: Deletes the springbootsites resource.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        springbootsites_Delete_MaximumSet_Gen:
          $ref: ./examples/springbootsites_Delete_MaximumSet_Gen.json
        springbootsites_Delete_MinimumSet_Gen:
          $ref: ./examples/springbootsites_Delete_MinimumSet_Gen.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    patch:
      tags:
      - Springbootsites
      operationId: microsoftAzureSpringbootsitesUpdate
      description: Update a springbootsites resource.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/springbootsitesNameParameter'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Updates the springbootsites resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/springbootsitesModel'
        '202':
          description: Updates the springbootsites resource.
          headers:
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/springbootsitesModel'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        springbootsites_Update_MaximumSet_Gen:
          $ref: ./examples/springbootsites_Update_MaximumSet_Gen.json
        springbootsites_Update_MinimumSet_Gen:
          $ref: ./examples/springbootsites_Update_MinimumSet_Gen.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/springbootsitesPatch'
        description: Update a springbootsites payload.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzureSpringBoot/springbootsites/{springbootsitesName}/refreshSite
  : post:
      tags:
      - Springbootsites
      operationId: microsoftAzureSpringbootsitesTriggerrefreshsite
      description: Trigger refresh springbootsites action
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/springbootsitesNameParameter'
      responses:
        '202':
          description: Trigger refresh success
          headers:
            Location:
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        springbootsites_TriggerRefreshSite_MaximumSet_Gen:
          $ref: ./examples/springbootsites_TriggerRefreshSite_MaximumSet_Gen.json
        springbootsites_TriggerRefreshSite_MinimumSet_Gen:
          $ref: ./examples/springbootsites_TriggerRefreshSite_MinimumSet_Gen.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzureSpringBoot/springbootsites:
    get:
      tags:
      - Springbootsites
      operationId: microsoftAzureSpringbootsitesListbyresourcegroup
      description: List springbootsites resource by resourceGroup.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Lists all springbootsites under the resource group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/springbootsitesListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        springbootsites_ListByResourceGroup_MaximumSet_Gen:
          $ref: ./examples/springbootsites_ListByResourceGroup_MaximumSet_Gen.json
        springbootsites_ListByResourceGroup_MinimumSet_Gen:
          $ref: ./examples/springbootsites_ListByResourceGroup_MinimumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/providers/Microsoft.OffAzureSpringBoot/springbootsites:
    get:
      tags:
      - Springbootsites
      operationId: microsoftAzureSpringbootsitesListbysubscription
      description: List springbootsites resource by subscription
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Lists all springbootsites under the subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/springbootsitesListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        springbootsites_ListBySubscription_MaximumSet_Gen:
          $ref: ./examples/springbootsites_ListBySubscription_MaximumSet_Gen.json
        springbootsites_ListBySubscription_MinimumSet_Gen:
          $ref: ./examples/springbootsites_ListBySubscription_MinimumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
components:
  schemas:
    springbootsitesModel:
      type: object
      x-ms-azure-resource: true
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
      properties:
        properties:
          $ref: '#/components/schemas/springbootsitesProperties'
          description: The springbootsites resource definition.
        extendedLocation:
          type: object
          description: The extended location definition.
          properties:
            type:
              type: string
              description: The extended location type.
            name:
              type: string
              description: The extended location name.
      required:
      - location
      description: The springbootsites envelope resource definition.
    springbootsitesListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/springbootsitesModel'
          description: The springbootsites list.
        nextLink:
          type: string
          description: The link used to get the next page of springbootsites resources list.
      description: The springbootsites list resource definition.
    springbootsitesPatch:
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
      properties:
        properties:
          $ref: '#/components/schemas/springbootsitesProperties'
          description: The springbootsites resource definition.
      required: []
      description: The springbootsites resource patch definition.
    springbootsitesProperties:
      type: object
      description: The springbootsites resource definition.
      properties:
        masterSiteId:
          type: string
          description: The master site ID from Azure Migrate.
        migrateProjectId:
          type: string
          description: The migrate project ID from Azure Migrate.
        provisioningState:
          type: string
          description: The resource provisioning state.
          enum:
          - Unknown
          - Succeeded
          - Failed
          - Canceled
          - Accepted
          - Provisioning
          - Deleting
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
  parameters:
    springbootsitesNameParameter:
      x-ms-parameter-location: method
      name: springbootsitesName
      in: path
      required: true
      description: The springbootsites name.
      schema:
        type: string
        maxLength: 64
        minLength: 3
        pattern: ^[a-z][a-z0-9-]*$
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
