openapi: 3.2.0
info:
  title: Microsoft Azure PaloAltoNetworks.Cloudngfw Firewalls API
  version: 2024-01-19-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Firewalls
paths:
  /subscriptions/{subscriptionId}/providers/PaloAltoNetworks.Cloudngfw/firewalls:
    get:
      tags:
      - Firewalls
      operationId: microsoftAzureFirewallsListbysubscription
      description: List FirewallResource resources by subscription ID
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallResourceListResult'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Firewalls_ListBySubscription_MaximumSet_Gen:
          $ref: ./examples/Firewalls_ListBySubscription_MaximumSet_Gen.json
        Firewalls_ListBySubscription_MinimumSet_Gen:
          $ref: ./examples/Firewalls_ListBySubscription_MinimumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Paloaltonetworks…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/firewalls:
    get:
      tags:
      - Firewalls
      operationId: microsoftAzureFirewallsListbyresourcegroup
      description: List FirewallResource resources by resource group
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallResourceListResult'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Firewalls_ListByResourceGroup_MaximumSet_Gen:
          $ref: ./examples/Firewalls_ListByResourceGroup_MaximumSet_Gen.json
        Firewalls_ListByResourceGroup_MinimumSet_Gen:
          $ref: ./examples/Firewalls_ListByResourceGroup_MinimumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/firewalls/{firewallName}
  : get:
      tags:
      - Firewalls
      operationId: microsoftAzureFirewallsGet
      description: Get a FirewallResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/FirewallResource.firewallName'
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallResource'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Firewalls_Get_MaximumSet_Gen:
          $ref: ./examples/Firewalls_Get_MaximumSet_Gen.json
        Firewalls_Get_MinimumSet_Gen:
          $ref: ./examples/Firewalls_Get_MinimumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Firewalls
      operationId: microsoftAzureFirewallsCreateorupdate
      description: Create a FirewallResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/FirewallResource.firewallName'
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallResource'
        '201':
          description: Azure create operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallResource'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      x-ms-examples:
        Firewalls_CreateOrUpdate_MaximumSet_Gen:
          $ref: ./examples/Firewalls_CreateOrUpdate_MaximumSet_Gen.json
        Firewalls_CreateOrUpdate_MinimumSet_Gen:
          $ref: ./examples/Firewalls_CreateOrUpdate_MinimumSet_Gen.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirewallResource'
        description: Resource create parameters.
        required: true
    patch:
      tags:
      - Firewalls
      operationId: microsoftAzureFirewallsUpdate
      description: Update a FirewallResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/FirewallResource.firewallName'
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallResource'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Firewalls_Update_MaximumSet_Gen:
          $ref: ./examples/Firewalls_Update_MaximumSet_Gen.json
        Firewalls_Update_MinimumSet_Gen:
          $ref: ./examples/Firewalls_Update_MinimumSet_Gen.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirewallResourceUpdate'
        description: The resource properties to be updated.
        required: true
    delete:
      tags:
      - Firewalls
      operationId: microsoftAzureFirewallsDelete
      description: Delete a FirewallResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/FirewallResource.firewallName'
      responses:
        '200':
          description: Resource deleted successfully.
        '202':
          description: Resource deletion accepted.
        '204':
          description: Resource deleted successfully.
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      x-ms-examples:
        Firewalls_Delete_MaximumSet_Gen:
          $ref: ./examples/Firewalls_Delete_MaximumSet_Gen.json
        Firewalls_Delete_MinimumSet_Gen:
          $ref: ./examples/Firewalls_Delete_MinimumSet_Gen.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/firewalls/{firewallName}/getGlobalRulestack
  : post:
      tags:
      - Firewalls
      operationId: microsoftAzureFirewallsGetglobalrulestack
      description: Get Global Rulestack associated with the Firewall
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/FirewallResource.firewallName'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalRulestackInfo'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Firewalls_getGlobalRulestack_MaximumSet_Gen:
          $ref: ./examples/Firewalls_getGlobalRulestack_MaximumSet_Gen.json
        Firewalls_getGlobalRulestack_MinimumSet_Gen:
          $ref: ./examples/Firewalls_getGlobalRulestack_MinimumSet_Gen.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/firewalls/{firewallName}/getLogProfile
  : post:
      tags:
      - Firewalls
      operationId: microsoftAzureFirewallsGetlogprofile
      description: Log Profile for Firewall
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/FirewallResource.firewallName'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogSettings'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Firewalls_getLogProfile_MaximumSet_Gen:
          $ref: ./examples/Firewalls_getLogProfile_MaximumSet_Gen.json
        Firewalls_getLogProfile_MinimumSet_Gen:
          $ref: ./examples/Firewalls_getLogProfile_MinimumSet_Gen.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/firewalls/{firewallName}/getSupportInfo
  : post:
      tags:
      - Firewalls
      operationId: microsoftAzureFirewallsGetsupportinfo
      description: support info for firewall.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/FirewallResource.firewallName'
      - name: email
        in: query
        required: false
        description: email address on behalf of which this API called
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportInfo'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Firewalls_getSupportInfo_MaximumSet_Gen:
          $ref: ./examples/Firewalls_getSupportInfo_MaximumSet_Gen.json
        Firewalls_getSupportInfo_MinimumSet_Gen:
          $ref: ./examples/Firewalls_getSupportInfo_MinimumSet_Gen.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/firewalls/{firewallName}/saveLogProfile
  : post:
      tags:
      - Firewalls
      operationId: microsoftAzureFirewallsSavelogprofile
      description: Log Profile for Firewall
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/FirewallResource.firewallName'
      responses:
        '204':
          description: 'There is no content to send for this request, but the headers may be useful. '
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Firewalls_saveLogProfile_MaximumSet_Gen:
          $ref: ./examples/Firewalls_saveLogProfile_MaximumSet_Gen.json
        Firewalls_saveLogProfile_MinimumSet_Gen:
          $ref: ./examples/Firewalls_saveLogProfile_MinimumSet_Gen.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogSettings'
components:
  schemas:
    IPAddressSpace:
      type: object
      properties:
        resourceId:
          type: string
          description: Resource Id
        addressSpace:
          type: string
          description: Address Space
      description: IP Address Space
    NetworkType:
      type: string
      description: NetworkType Enum
      enum:
      - VNET
      - VWAN
      x-ms-enum:
        name: NetworkType
        modelAsString: true
    LogDestination:
      type: object
      properties:
        storageConfigurations:
          $ref: '#/components/schemas/StorageAccount'
          description: Storage account configurations
        eventHubConfigurations:
          $ref: '#/components/schemas/EventHub'
          description: Event Hub configurations
        monitorConfigurations:
          $ref: '#/components/schemas/MonitorLog'
          description: Monitor Log configurations
      description: Log Destination
    LogOption:
      type: string
      description: Log options possible
      enum:
      - SAME_DESTINATION
      - INDIVIDUAL_DESTINATION
      x-ms-enum:
        name: LogOption
        modelAsString: true
    MarketplaceDetails:
      type: object
      properties:
        marketplaceSubscriptionId:
          type: string
          description: Marketplace Subscription Id
          readOnly: true
        offerId:
          type: string
          description: Offer Id
        publisherId:
          type: string
          description: Publisher Id
        marketplaceSubscriptionStatus:
          $ref: '#/components/schemas/MarketplaceSubscriptionStatus'
          description: Marketplace Subscription Status
      description: MarketplaceDetails of PAN Firewall resource
      required:
      - offerId
      - publisherId
    EventHub:
      type: object
      properties:
        id:
          type: string
          description: Resource ID of EventHub
        subscriptionId:
          type: string
          description: Subscription Id
        name:
          type: string
          description: EventHub name
        nameSpace:
          type: string
          description: EventHub namespace
        policyName:
          type: string
          description: EventHub policy name
      description: EventHub configurations
    EnabledDNSType:
      type: string
      description: Enabled DNS type values
      enum:
      - CUSTOM
      - AZURE
      x-ms-enum:
        name: EnabledDNSType
        modelAsString: true
    UsageType:
      type: string
      description: Usage Type
      enum:
      - PAYG
      - COMMITTED
      x-ms-enum:
        name: UsageType
        modelAsString: true
    GlobalRulestackInfo:
      type: object
      properties:
        azureId:
          type: string
          description: rulestack description
      description: PAN Rulestack Describe Object
      required:
      - azureId
    BillingCycle:
      type: string
      description: Billing cycle
      enum:
      - WEEKLY
      - MONTHLY
      x-ms-enum:
        name: BillingCycle
        modelAsString: true
    ProvisioningState:
      type: string
      description: Provisioning state of the firewall resource.
      enum:
      - Accepted
      - Creating
      - Updating
      - Deleting
      - Succeeded
      - Failed
      - Canceled
      - Deleted
      - NotSpecified
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    EgressNat:
      type: string
      description: Egress NAT
      enum:
      - DISABLED
      - ENABLED
      x-ms-enum:
        name: EgressNat
        modelAsString: true
    FirewallDeploymentProperties:
      type: object
      properties:
        panEtag:
          type: string
          description: panEtag info
        networkProfile:
          $ref: '#/components/schemas/NetworkProfile'
          description: Network settings
        isPanoramaManaged:
          $ref: '#/components/schemas/BooleanEnum'
          description: 'Panorama Managed: Default is False. Default will be CloudSec managed'
        isStrataCloudManaged:
          $ref: '#/components/schemas/BooleanEnum'
          description: 'Strata Cloud Managed: Default is False. Default will be CloudSec managed'
        panoramaConfig:
          $ref: '#/components/schemas/PanoramaConfig'
          description: Panorama Configuration
        strataCloudManagerConfig:
          $ref: '#/components/schemas/StrataCloudManagerConfig'
          description: Strata Cloud Manager Configuration, only applicable if Strata Cloud Manager is selected.
        associatedRulestack:
          $ref: '#/components/schemas/RulestackDetails'
          description: Associated Rulestack
        dnsSettings:
          $ref: '#/components/schemas/DNSSettings'
          description: DNS settings for Firewall
        frontEndSettings:
          type: array
          items:
            $ref: '#/components/schemas/FrontendSetting'
          x-ms-identifiers: []
          x-cadl-name: FrontendSetting[]
          description: Frontend settings for Firewall
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: Provisioning state of the resource.
          readOnly: true
        planData:
          $ref: '#/components/schemas/PlanData'
          description: Billing plan information.
        marketplaceDetails:
          $ref: '#/components/schemas/MarketplaceDetails'
          description: Marketplace details
      description: Properties specific to the Firewall resource deployment.
      required:
      - networkProfile
      - dnsSettings
      - planData
      - marketplaceDetails
    StrataCloudManagerConfig:
      type: object
      properties:
        cloudManagerName:
          type: string
          description: Strata Cloud Manager name which is intended to manage the policy for this firewall.
      description: This field is only present if Strata Cloud Manager is managing the policy for this firewall
      required:
      - cloudManagerName
    Azure.ResourceManager.UserAssignedIdentity:
      type: object
      properties:
        clientId:
          type: string
          description: The active directory client identifier for this principal.
        principalId:
          type: string
          description: The active directory identifier for this principal.
      description: A managed identity assigned by the user.
    SupportInfo:
      type: object
      properties:
        productSku:
          type: string
          description: product SKU associated with given resource
        productSerial:
          type: string
          description: product Serial associated with given resource
        accountRegistered:
          $ref: '#/components/schemas/BooleanEnum'
          description: account registered in Customer Support Portal
        accountId:
          type: string
          description: Support account associated with given resource
        userDomainSupported:
          $ref: '#/components/schemas/BooleanEnum'
          description: user domain is supported in Customer Support Portal
        userRegistered:
          $ref: '#/components/schemas/BooleanEnum'
          description: user registered in Customer Support Portal
        freeTrial:
          $ref: '#/components/schemas/BooleanEnum'
          description: Product usage is in free trial period
        freeTrialDaysLeft:
          type: integer
          format: int32
          description: Free trial days remaining
        freeTrialCreditLeft:
          type: integer
          format: int32
          description: Free trial credit remaining
        helpURL:
          type: string
          description: URL for paloaltonetworks live community
        supportURL:
          type: string
          description: URL for paloaltonetworks Customer Service Portal
        registerURL:
          type: string
          description: URL for registering product in paloaltonetworks Customer Service Portal
      description: Support information for the resource
    PanoramaConfig:
      type: object
      properties:
        configString:
          type: string
          description: Base64 encoded string representing Panorama parameters to be used by Firewall to connect to Panorama. This string is generated via azure plugin in Panorama
        vmAuthKey:
          type: string
          description: VM auth key for panorama connectivity
          readOnly: true
        panoramaServer:
          type: string
          description: Primary Panorama Server IP address value in dotted format for IPv4
          readOnly: true
        panoramaServer2:
          type: string
          description: Secondary Panorama Server IP address value in dotted format for IPv4
          readOnly: true
        dgName:
          type: string
          description: Panorama Device Group to join
          readOnly: true
        tplName:
          type: string
          description: Panorama Template Stack to join - (Once configured we can not edit the value)
          readOnly: true
        cgName:
          type: string
          description: Panorama Collector Group to join - (Once configured we can not edit the value)
          readOnly: true
        hostName:
          type: string
          description: Resource name(may be unique) for PN admin
          readOnly: true
      description: Panorama Config
      required:
      - configString
    DNSSettings:
      type: object
      properties:
        enableDnsProxy:
          $ref: '#/components/schemas/DNSProxy'
          description: Enable DNS proxy, disabled by default
        enabledDnsType:
          $ref: '#/components/schemas/EnabledDNSType'
          description: Enabled DNS proxy type, disabled by default
        dnsServers:
          type: array
          items:
            $ref: '#/components/schemas/IPAddress'
          x-ms-identifiers: []
          x-cadl-name: IPAddress[]
          description: List of IPs associated with the Firewall
      description: DNS Proxy settings for Firewall
    BooleanEnum:
      type: string
      description: Boolean Enum
      enum:
      - 'TRUE'
      - 'FALSE'
      x-ms-enum:
        name: BooleanEnum
        modelAsString: true
    LogSettings:
      type: object
      properties:
        logType:
          $ref: '#/components/schemas/LogType'
          description: One of possible log type
        logOption:
          $ref: '#/components/schemas/LogOption'
          description: Log option SAME/INDIVIDUAL
        applicationInsights:
          $ref: '#/components/schemas/ApplicationInsights'
          description: Application Insight details
        commonDestination:
          $ref: '#/components/schemas/LogDestination'
          description: Common destination configurations
        trafficLogDestination:
          $ref: '#/components/schemas/LogDestination'
          description: Traffic destination configurations
        threatLogDestination:
          $ref: '#/components/schemas/LogDestination'
          description: Threat destination configurations
        decryptLogDestination:
          $ref: '#/components/schemas/LogDestination'
          description: Decrypt destination configurations
      description: Log Settings for Firewall
    NetworkProfile:
      type: object
      properties:
        vnetConfiguration:
          $ref: '#/components/schemas/VnetConfiguration'
          description: Vnet configurations
        vwanConfiguration:
          $ref: '#/components/schemas/VwanConfiguration'
          description: Vwan configurations
        networkType:
          $ref: '#/components/schemas/NetworkType'
          description: vnet or vwan, cannot be updated
        publicIps:
          type: array
          items:
            $ref: '#/components/schemas/IPAddress'
          x-ms-identifiers: []
          x-cadl-name: IPAddress[]
          description: List of IPs associated with the Firewall
        enableEgressNat:
          $ref: '#/components/schemas/EgressNat'
          description: Enable egress NAT, enabled by default
        egressNatIp:
          type: array
          items:
            $ref: '#/components/schemas/IPAddress'
          x-ms-identifiers: []
          x-cadl-name: IPAddress[]
          description: Egress nat IP to use
        trustedRanges:
          type: array
          items:
            type: string
          x-cadl-name: string[]
          description: Non-RFC 1918 address
        privateSourceNatRulesDestination:
          type: array
          items:
            type: string
          x-cadl-name: string[]
          description: Array of ipv4 destination address for which source NAT is to be performed
      description: Network settings for Firewall
      required:
      - networkType
      - publicIps
      - enableEgressNat
    MonitorLog:
      type: object
      properties:
        id:
          type: string
          description: Resource ID of MonitorLog
        subscriptionId:
          type: string
          description: Subscription Id
        workspace:
          type: string
          description: MonitorLog workspace
        primaryKey:
          type: string
          description: Primary Key value for Monitor
        secondaryKey:
          type: string
          description: Secondary Key value for Monitor
      description: MonitorLog configurations
    VwanConfiguration:
      type: object
      properties:
        networkVirtualApplianceId:
          type: string
          description: 'Network Virtual Appliance resource ID '
        vHub:
          $ref: '#/components/schemas/IPAddressSpace'
          description: vHub Address
        trustSubnet:
          $ref: '#/components/schemas/IPAddressSpace'
          description: Trust Subnet
        unTrustSubnet:
          $ref: '#/components/schemas/IPAddressSpace'
          description: Untrust Subnet
        ipOfTrustSubnetForUdr:
          $ref: '#/components/schemas/IPAddress'
          description: IP of trust subnet for UDR
      description: VwanInfo for Firewall Networking
      required:
      - vHub
    FirewallResourceListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/FirewallResource'
          x-cadl-name: FirewallResource[]
          description: The items on this page
        nextLink:
          type: string
          description: The link to the next page of items
      description: The response of a FirewallResource list operation.
      required:
      - value
    PlanData:
      type: object
      properties:
        usageType:
          $ref: '#/components/schemas/UsageType'
          description: different usage type like PAYG/COMMITTED
        billingCycle:
          $ref: '#/components/schemas/BillingCycle'
          description: different billing cycles like MONTHLY/WEEKLY
        planId:
          type: string
          description: plan id as published by Liftr.PAN
          maxLength: 50
        effectiveDate:
          type: string
          format: date-time
          description: date when plan was applied
          readOnly: true
      description: Billing plan information.
      required:
      - billingCycle
      - planId
    FirewallResourceUpdate:
      type: object
      properties:
        identity:
          $ref: '#/components/schemas/Azure.ResourceManager.ManagedIdentityProperties'
          description: The managed service identities assigned to this resource.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
        properties:
          $ref: '#/components/schemas/FirewallResourceUpdateProperties'
      description: The type used for update operations of the FirewallResource.
    Azure.ResourceManager.ManagedIdentityProperties:
      type: object
      properties:
        tenantId:
          type: string
          description: The Active Directory tenant id of the principal.
          readOnly: true
        principalId:
          type: string
          description: The active directory identifier of this principal.
          readOnly: true
        type:
          $ref: '#/components/schemas/Azure.ResourceManager.ManagedIdentityType'
          description: The type of managed identity assigned to this resource.
        userAssignedIdentities:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Azure.ResourceManager.UserAssignedIdentity'
          description: The identities assigned to this resource by the user.
      description: The properties of the managed service identities assigned to this resource.
      required:
      - type
    StorageAccount:
      type: object
      properties:
        id:
          type: string
          description: Resource ID of storage account
        subscriptionId:
          type: string
          description: Subscription Id
        accountName:
          type: string
          description: Storage account name
      description: Storage Account configurations
    VnetConfiguration:
      type: object
      properties:
        vnet:
          $ref: '#/components/schemas/IPAddressSpace'
          description: Azure Virtual Network
        trustSubnet:
          $ref: '#/components/schemas/IPAddressSpace'
          description: Trust Subnet
        unTrustSubnet:
          $ref: '#/components/schemas/IPAddressSpace'
          description: Untrust Subnet
        ipOfTrustSubnetForUdr:
          $ref: '#/components/schemas/IPAddress'
          description: IP of trust subnet for UDR
      description: VnetInfo for Firewall Networking
      required:
      - vnet
      - trustSubnet
      - unTrustSubnet
    LogType:
      type: string
      description: Possible log types
      enum:
      - TRAFFIC
      - THREAT
      - DECRYPTION
      - WILDFIRE
      - DLP
      - AUDIT
      x-ms-enum:
        name: LogType
        modelAsString: true
    EndpointConfiguration:
      type: object
      properties:
        port:
          type: string
          description: port ID
        address:
          $ref: '#/components/schemas/IPAddress'
          description: Address Space
      description: Endpoint Configuration for frontend and backend
      required:
      - port
      - address
    Azure.ResourceManager.ManagedIdentityType:
      type: string
      description: The kind of managed identity assigned to this resource.
      enum:
      - None
      - SystemAssigned
      - UserAssigned
      - SystemAssigned,UserAssigned
      x-ms-enum:
        name: ManagedIdentityType
        modelAsString: true
        values:
        - name: None
          value: None
        - name: SystemAssigned
          value: SystemAssigned
        - name: UserAssigned
          value: UserAssigned
        - name: SystemAndUserAssigned
          value: SystemAssigned,UserAssigned
    FirewallResource:
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/FirewallDeploymentProperties'
          description: The resource-specific properties for this resource.
          x-ms-mutability:
          - read
          - create
          x-ms-client-flatten: true
        systemData:
          $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/systemData
          description: System metadata for this resource.
          readOnly: true
        identity:
          $ref: '#/components/schemas/Azure.ResourceManager.ManagedIdentityProperties'
          description: The managed service identities assigned to this resource.
      description: PaloAltoNetworks Firewall
      required:
      - properties
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
    ApplicationInsights:
      type: object
      properties:
        id:
          type: string
          description: Resource id for Application Insights
        key:
          type: string
          description: Application Insights key
      description: Application Insights key
    ProtocolType:
      type: string
      description: Protocol Enum
      enum:
      - TCP
      - UDP
      x-ms-enum:
        name: ProtocolType
        modelAsString: true
    FrontendSetting:
      type: object
      properties:
        name:
          type: string
          description: Settings name
        protocol:
          $ref: '#/components/schemas/ProtocolType'
          description: Protocol Type
        frontendConfiguration:
          $ref: '#/components/schemas/EndpointConfiguration'
          description: Frontend configurations
        backendConfiguration:
          $ref: '#/components/schemas/EndpointConfiguration'
          description: Backend configurations
      description: Frontend setting for Firewall
      required:
      - name
      - protocol
      - frontendConfiguration
      - backendConfiguration
    MarketplaceSubscriptionStatus:
      type: string
      description: Marketplace Subscription Status
      enum:
      - PendingFulfillmentStart
      - Subscribed
      - Suspended
      - Unsubscribed
      - NotStarted
      - FulfillmentRequested
      x-ms-enum:
        name: MarketplaceSubscriptionStatus
        modelAsString: true
    DNSProxy:
      type: string
      description: DNS Proxy
      enum:
      - DISABLED
      - ENABLED
      x-ms-enum:
        name: DNSProxy
        modelAsString: true
    FirewallResourceUpdateProperties:
      type: object
      properties:
        panEtag:
          type: string
          description: panEtag info
        networkProfile:
          $ref: '#/components/schemas/NetworkProfile'
          description: Network settings
        isPanoramaManaged:
          $ref: '#/components/schemas/BooleanEnum'
          description: 'Panorama Managed: Default is False. Default will be CloudSec managed'
        isStrataCloudManaged:
          $ref: '#/components/schemas/BooleanEnum'
          description: 'Strata Cloud Managed: Default is False. Default will be CloudSec managed'
        panoramaConfig:
          $ref: '#/components/schemas/PanoramaConfig'
          description: Panorama Configuration
        strataCloudManagerConfig:
          $ref: '#/components/schemas/StrataCloudManagerConfig'
          description: Strata Cloud Manager Configuration, only applicable if Strata Cloud Manager is selected.
        associatedRulestack:
          $ref: '#/components/schemas/RulestackDetails'
          description: Associated Rulestack
        dnsSettings:
          $ref: '#/components/schemas/DNSSettings'
          description: DNS settings for Firewall
        frontEndSettings:
          type: array
          items:
            $ref: '#/components/schemas/FrontendSetting'
          x-ms-identifiers: []
          x-cadl-name: FrontendSetting[]
          description: Frontend settings for Firewall
        planData:
          $ref: '#/components/schemas/PlanData'
          description: Billing plan information.
        marketplaceDetails:
          $ref: '#/components/schemas/MarketplaceDetails'
          description: Marketplace details
      description: The updatable properties of the FirewallResource.
    RulestackDetails:
      type: object
      properties:
        resourceId:
          type: string
          description: Resource Id
        rulestackId:
          type: string
          description: Associated rulestack Id
        location:
          type: string
          description: Rulestack location
      description: Associated rulestack details
    IPAddress:
      type: object
      properties:
        resourceId:
          type: string
          description: Resource Id
        address:
          type: string
          description: Address value
      description: IP Address
  parameters:
    FirewallResource.firewallName:
      name: firewallName
      in: path
      required: true
      description: Firewall resource name
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
