openapi: 3.2.0
info:
  title: Microsoft Azure Inventory Items API
  version: '1.0'
  description: 'Operations tagged InventoryItems across 2 of this provider''s published API definitions: azure-arc-vmware-management-service-api-openapi-original.yml, scvmm-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Inventory Items
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedVMwarevSphere/vcenters/{vcenterName}/inventoryItems/{inventoryItemName}
  : put:
      tags:
      - Inventory Items
      operationId: microsoftAzureInventoryitemsCreate
      description: Create Or Update InventoryItem.
      summary: Microsoft Azure Implements Inventoryitem Put Method
      x-ms-examples:
        CreateInventoryItem:
          $ref: ./examples/CreateInventoryItem.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - in: path
        name: vcenterName
        required: true
        description: Name of the vCenter.
        schema:
          type: string
      - in: path
        name: inventoryItemName
        required: true
        description: Name of the inventoryItem.
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Arm resource update successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryItem'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryItem'
        description: Request payload.
    get:
      tags:
      - Inventory Items
      operationId: microsoftAzureInventoryitemsGet
      summary: Microsoft Azure Gets Inventoryitem
      description: Implements InventoryItem GET method.
      x-ms-examples:
        GetInventoryItem:
          $ref: ./examples/GetInventoryItem.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - in: path
        name: vcenterName
        required: true
        description: Name of the vCenter.
        schema:
          type: string
      - in: path
        name: inventoryItemName
        required: true
        description: Name of the inventoryItem.
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryItem'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
    delete:
      tags:
      - Inventory Items
      operationId: microsoftAzureInventoryitemsDelete
      summary: Microsoft Azure Deletes An Inventoryitem
      description: Implements inventoryItem DELETE method.
      x-ms-examples:
        DeleteInventoryItem:
          $ref: ./examples/DeleteInventoryItem.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - in: path
        name: vcenterName
        required: true
        description: Name of the vCenter.
        schema:
          type: string
      - in: path
        name: inventoryItemName
        required: true
        description: Name of the inventoryItem.
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedVMwarevSphere/vcenters/{vcenterName}/inventoryItems
  : get:
      tags:
      - Inventory Items
      operationId: microsoftAzureInventoryitemsListbyvcenter
      summary: Microsoft Azure Implements Get Inventoryitems In A Vcenter
      description: Returns the list of inventoryItems of the given vCenter.
      x-ms-examples:
        InventoryItemsListByVCenter:
          $ref: ./examples/InventoryItems_ListByVCenter.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - in: path
        name: vcenterName
        required: true
        description: Name of the vCenter.
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryItemsList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/vmmServers/{vmmServerName}/inventoryItems/{inventoryItemName}
  : put:
      tags:
      - Inventory Items
      operationId: microsoftAzureInventoryitemsCreate
      summary: Microsoft Azure Implements Inventoryitem Put Method
      description: Create Or Update InventoryItem.
      x-ms-examples:
        CreateInventoryItem:
          $ref: ./examples/CreateInventoryItem.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - in: path
        name: vmmServerName
        required: true
        description: Name of the VMMServer.
        schema:
          type: string
      - in: path
        name: inventoryItemName
        required: true
        description: Name of the inventoryItem.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryItem_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryItem_2'
        description: Request payload.
    get:
      tags:
      - Inventory Items
      operationId: microsoftAzureInventoryitemsGet
      summary: Microsoft Azure Implements Get Inventoryitem Method
      description: Shows an inventory item.
      x-ms-examples:
        GetInventoryItem:
          $ref: ./examples/GetInventoryItem.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - in: path
        name: vmmServerName
        required: true
        description: Name of the VMMServer.
        schema:
          type: string
      - in: path
        name: inventoryItemName
        required: true
        description: Name of the inventoryItem.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryItem_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - Inventory Items
      operationId: microsoftAzureInventoryitemsDelete
      summary: Microsoft Azure Implements Inventoryitem Delete Method
      description: Deletes an inventoryItem.
      x-ms-examples:
        DeleteInventoryItem:
          $ref: ./examples/DeleteInventoryItem.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - in: path
        name: vmmServerName
        required: true
        description: Name of the VMMServer.
        schema:
          type: string
      - in: path
        name: inventoryItemName
        required: true
        description: Name of the inventoryItem.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Success
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/vmmServers/{vmmServerName}/inventoryItems
  : get:
      tags:
      - Inventory Items
      operationId: microsoftAzureInventoryitemsListbyvmmserver
      summary: Microsoft Azure Implements Get For The List Of Inventory Items In The Vmmserver
      description: Returns the list of inventoryItems in the given VMMServer.
      x-ms-examples:
        InventoryItemsListByVMMServer:
          $ref: ./examples/ListInventoryItemsByVMMServer.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - in: path
        name: vmmServerName
        required: true
        description: Name of the VMMServer.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryItemsList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
    servers:
    - url: https://management.azure.com
components:
  schemas:
    InventoryItemProperties:
      description: Describes the properties of an Inventory Item.
      required:
      - inventoryType
      discriminator:
        propertyName: inventoryType
      type: object
      properties:
        inventoryType:
          description: They inventory type.
          $ref: '#/components/schemas/InventoryType'
        managedResourceId:
          description: Gets or sets the tracked resource id corresponding to the inventory resource.
          type: string
        moRefId:
          description: Gets or sets the MoRef (Managed Object Reference) ID for the inventory item.
          type: string
        moName:
          description: Gets or sets the vCenter Managed Object name for the inventory item.
          type: string
        provisioningState:
          $ref: '#/components/schemas/ResourceProvisioningState'
          description: Gets the provisioning state.
          readOnly: true
    InventoryItemsList:
      description: List of InventoryItems.
      type: object
      properties:
        nextLink:
          description: Url to follow for getting next page of InventoryItems.
          type: string
        value:
          description: Array of InventoryItems
          type: array
          items:
            $ref: '#/components/schemas/InventoryItem'
      required:
      - value
    InventoryType:
      type: string
      description: The inventory type.
      enum:
      - ResourcePool
      - VirtualMachine
      - VirtualMachineTemplate
      - VirtualNetwork
      - Cluster
      - Datastore
      - Host
      x-ms-enum:
        name: InventoryType
        modelAsString: true
    InventoryItem:
      description: Defines the inventory item.
      required:
      - properties
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
        description: The resource model definition for an Azure Resource Manager proxy resource. It will have everything other than required location and tags.
      properties:
        properties:
          x-ms-client-flatten: true
          description: Resource properties.
          $ref: '#/components/schemas/InventoryItemProperties'
        kind:
          type: string
          description: Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type; e.g. ApiApps are a kind of Microsoft.Web/sites type.  If supported, the resource provider must validate and persist this value.
      x-ms-azure-resource: true
    ResourceProvisioningState:
      type: string
      description: The current deployment state of resource.
      enum:
      - Succeeded
      - Failed
      - Canceled
      - Provisioning
      - Updating
      - Deleting
      - Accepted
      - Created
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    InventoryItemProperties_2:
      description: Defines the resource properties.
      required:
      - inventoryType
      discriminator:
        propertyName: inventoryType
      type: object
      properties:
        inventoryType:
          description: They inventory type.
          $ref: '#/components/schemas/InventoryType_2'
        managedResourceId:
          description: Gets the tracked resource id corresponding to the inventory resource.
          type: string
          readOnly: true
        uuid:
          description: Gets the UUID (which is assigned by VMM) for the inventory item.
          type: string
          readOnly: true
        inventoryItemName:
          description: Gets the Managed Object name in VMM for the inventory item.
          type: string
          readOnly: true
        provisioningState:
          description: Gets the provisioning state.
          type: string
          readOnly: true
    InventoryType_2:
      type: string
      description: The inventory type.
      enum:
      - Cloud
      - VirtualNetwork
      - VirtualMachineTemplate
      - VirtualMachine
      x-ms-enum:
        name: InventoryType
        modelAsString: true
    ErrorDefinition:
      description: Error definition.
      type: object
      properties:
        code:
          description: Service specific error code which serves as the substatus for the HTTP error code.
          type: string
          readOnly: true
        message:
          description: Description of the error.
          type: string
          readOnly: true
        details:
          description: Internal error details.
          type: array
          items:
            $ref: '#/components/schemas/ErrorDefinition'
          x-ms-identifiers: []
          readOnly: true
    ErrorResponse:
      description: Error response.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorDefinition'
          description: The error details.
    InventoryItem_2:
      description: Defines the inventory item.
      required:
      - properties
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
        description: The resource model definition for an Azure Resource Manager proxy resource. It will have everything other than required location and tags.
      properties:
        properties:
          x-ms-client-flatten: true
          description: Resource properties.
          $ref: '#/components/schemas/InventoryItemProperties_2'
        kind:
          type: string
          description: Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type; e.g. ApiApps are a kind of Microsoft.Web/sites type.  If supported, the resource provider must validate and persist this value.
      x-ms-azure-resource: true
  parameters:
    api-version:
      in: query
      name: api-version
      description: Client Api Version.
      required: true
      schema:
        type: string
    resourceGroupName:
      in: path
      name: resourceGroupName
      description: The Resource Group Name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    subscriptionId:
      in: path
      name: subscriptionId
      description: The Subscription ID.
      required: true
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to be used with the HTTP request (e.g. YYYY-MM-DD).
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-refined-from:
- azure-arc-vmware-management-service-api-openapi-original.yml
- scvmm-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
