openapi: 3.2.0
info:
  title: Microsoft Azure Entities API
  version: '1.0'
  description: 'Operations tagged Entities across 2 of this provider''s published API definitions: management-groups-api-openapi-original.yml, text-analytics-client-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
tags:
- name: Entities
  description: A list of entities that belong to the Management Groups.
paths:
  /providers/Microsoft.Management/getEntities:
    post:
      tags:
      - Entities
      operationId: microsoftAzureEntitiesList
      description: List all entities (Management Groups, Subscriptions, etc.) for the authenticated user.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SkipTokenParameter'
      - $ref: '#/components/parameters/GroupNameParameter'
      - $ref: '#/components/parameters/CacheControlHeader'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityListResult'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        GetEntities:
          $ref: ./examples/GetEntities.json
      summary: Microsoft Azure Post Providers Microsoft Management Getentities
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /entities/health/jobs/{jobId}:
    get:
      description: Get details of the healthcare prediction job specified by the jobId.
      operationId: microsoftAzureHealthstatus
      summary: Microsoft Azure Get Healthcare Analysis Job Status And Results
      parameters:
      - $ref: '#/components/parameters/JobId'
      - description: (Optional) Set the maximum number of results per task. When both $top and $skip are specified, $skip is applied first.
        in: query
        name: $top
        schema:
          type: integer
          default: 20
          maximum: 50
          minimum: 1
      - description: (Optional) Set the number of elements to offset in the response. When both $top and $skip are specified, $skip is applied first.
        in: query
        name: $skip
        schema:
          type: integer
          default: 0
          minimum: 0
      - $ref: '#/components/parameters/ShowStats'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthcareJobState'
            text/json:
              schema:
                $ref: '#/components/schemas/HealthcareJobState'
        '404':
          description: Job ID not found.
          x-ms-error-response: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
        '500':
          description: Internal error response
          x-ms-error-response: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
      x-ms-examples:
        Successful Health request:
          $ref: .//examples//SuccessfulHealthStatusRequest.json
      deprecated: false
      tags:
      - Entities
      security:
      - apim_key: []
    delete:
      description: Cancel healthcare prediction job.
      operationId: microsoftAzureCancelhealthjob
      summary: Microsoft Azure Cancel Healthcare Prediction Job
      parameters:
      - $ref: '#/components/parameters/JobId'
      responses:
        '202':
          description: Cancel Job request has been received.
          headers:
            Operation-Location:
              schema:
                type: string
        '404':
          description: Job ID not found.
          x-ms-error-response: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
        '500':
          description: Internal error response
          x-ms-error-response: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
      x-ms-examples:
        Successful Health request:
          $ref: .//examples//SuccessfulHealthDeleteRequest.json
      deprecated: false
      x-ms-long-running-operation: true
      tags:
      - Entities
      security:
      - apim_key: []
  /entities/health/jobs:
    post:
      summary: Microsoft Azure Submit Healthcare Analysis Job
      description: Start a healthcare analysis job to recognize healthcare related entities (drugs, conditions, symptoms, etc) and their relations.
      operationId: microsoftAzureHealth
      parameters:
      - $ref: '#/components/parameters/ModelVersion'
      - $ref: '#/components/parameters/StringIndexType'
      - $ref: '#/components/parameters/MultiLanguageInput'
      responses:
        '202':
          description: Accepted - call results in a link where the status of the submitted job can be checked via the GET operation.
          headers:
            Operation-Location:
              schema:
                type: string
        '400':
          description: Bad Request.
          x-ms-error-response: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
        '500':
          description: Internal error response
          x-ms-error-response: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
      x-ms-examples:
        Successful Health request:
          $ref: .//examples//SuccessfulHealthRequest.json
      deprecated: false
      x-ms-long-running-operation: true
      tags:
      - Entities
      security:
      - apim_key: []
  /entities/recognition/general:
    post:
      summary: Microsoft Azure Named Entity Recognition
      description: The API returns a list of general named entities in a given document. For the list of supported entity types, check Supported Entity Types in Text Analytics API. See the Supported languages in Text Analytics API for the list of enabled languages.
      operationId: microsoftAzureEntitiesrecognitiongeneral
      parameters:
      - $ref: '#/components/parameters/ModelVersion'
      - $ref: '#/components/parameters/ShowStats'
      - $ref: '#/components/parameters/StringIndexType'
      - $ref: '#/components/parameters/MultiLanguageInput'
      responses:
        '200':
          description: A successful call results in a list of recognized entities returned for each valid document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitiesResult'
            text/json:
              schema:
                $ref: '#/components/schemas/EntitiesResult'
        '400':
          description: Bad Request.
          x-ms-error-response: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
        '500':
          description: Internal error response
          x-ms-error-response: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
      x-ms-examples:
        Successful Entities request:
          $ref: .//examples//SuccessfulEntitiesRequest.json
      deprecated: false
      tags:
      - Entities
      security:
      - apim_key: []
  /entities/recognition/pii:
    post:
      summary: Microsoft Azure Entities Containing Personal Information
      description: The API returns a list of entities with personal information (\"SSN\", \"Bank Account\" etc) in the document. For the list of supported entity types, check Supported Entity Types in Text Analytics API. See the Supported languages in Text Analytics API for the list of enabled languages.
      operationId: microsoftAzureEntitiesrecognitionpii
      parameters:
      - $ref: '#/components/parameters/ModelVersion'
      - $ref: '#/components/parameters/ShowStats'
      - name: domain
        in: query
        description: '(Optional) if specified, will set the PII domain to include only a subset of the entity categories. Possible values include: ''PHI'', ''none''.'
        schema:
          type: string
      - $ref: '#/components/parameters/StringIndexType'
      - $ref: '#/components/parameters/PiiCategories'
      - $ref: '#/components/parameters/MultiLanguageInput'
      responses:
        '200':
          description: A successful call results in a list of entities containing personal information returned for each valid document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PiiResult'
            text/json:
              schema:
                $ref: '#/components/schemas/PiiResult'
        '400':
          description: Bad Request.
          x-ms-error-response: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
        '500':
          description: Internal error response
          x-ms-error-response: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
      x-ms-examples:
        Successful Entity PII request:
          $ref: .//examples//SuccessfulEntityPIIRequest.json
      deprecated: false
      tags:
      - Entities
      security:
      - apim_key: []
  /entities/linking:
    post:
      summary: Microsoft Azure Linked Entities From A Well Known Knowledge Base
      description: The API returns a list of recognized entities with links to a well known knowledge base. See the Supported languages in Text Analytics API for the list of enabled languages.
      operationId: microsoftAzureEntitieslinking
      parameters:
      - $ref: '#/components/parameters/ModelVersion'
      - $ref: '#/components/parameters/ShowStats'
      - $ref: '#/components/parameters/StringIndexType'
      - $ref: '#/components/parameters/MultiLanguageInput'
      responses:
        '200':
          description: A successful call results in a list of recognized entities with links to a well known knowledge base returned for each valid document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityLinkingResult'
            text/json:
              schema:
                $ref: '#/components/schemas/EntityLinkingResult'
        '400':
          description: Bad Request.
          x-ms-error-response: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
        '500':
          description: Internal error response
          x-ms-error-response: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
      x-ms-examples:
        Successful Entity Linking request:
          $ref: .//examples//SuccessfulEntityLinkingRequest.json
      deprecated: false
      tags:
      - Entities
      security:
      - apim_key: []
components:
  schemas:
    EntityParentGroupInfo:
      description: (Optional) The ID of the parent management group.
      properties:
        id:
          type: string
          description: The fully qualified ID for the parent management group.  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
    EntityInfo:
      description: The entity.
      properties:
        id:
          type: string
          description: The fully qualified ID for the entity.  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
          readOnly: true
        type:
          type: string
          description: The type of the resource. For example, /providers/Microsoft.Management/managementGroups
          readOnly: true
        name:
          type: string
          description: The name of the entity. For example, 00000000-0000-0000-0000-000000000000
          readOnly: true
        properties:
          title: Properties
          x-ms-client-flatten: true
          $ref: '#/components/schemas/EntityInfoProperties'
    EntityListResult:
      description: Describes the result of the request to view entities.
      properties:
        value:
          description: The list of entities.
          type: array
          items:
            $ref: '#/components/schemas/EntityInfo'
        nextLink:
          description: The URL to use for getting the next set of results.
          type: string
          readOnly: true
    EntityInfoProperties:
      description: The generic properties of an entity.
      type: object
      properties:
        tenantId:
          type: string
          description: The AAD Tenant ID associated with the entity. For example, 00000000-0000-0000-0000-000000000000
        displayName:
          type: string
          description: The friendly name of the management group.
        parent:
          title: Parent
          $ref: '#/components/schemas/EntityParentGroupInfo'
        permissions:
          title: Permissions
          $ref: '#/components/schemas/Permissions'
    Permissions:
      type: string
      enum:
      - noaccess
      - view
      - edit
      - delete
      description: The users specific permissions to this item.
    ErrorResponse:
      description: The error object.
      properties:
        error:
          title: Error
          $ref: '#/components/schemas/ErrorDetails'
    ErrorDetails:
      description: The details of the error.
      properties:
        code:
          description: One of a server-defined set of error codes.
          type: string
        message:
          description: A human-readable representation of the error.
          type: string
        details:
          description: A human-readable representation of the error's details.
          type: string
    HealthcareEntityLink:
      type: object
      required:
      - dataSource
      - id
      properties:
        dataSource:
          description: 'Entity Catalog. Examples include: UMLS, CHV, MSH, etc.'
          type: string
        id:
          description: Entity id in the given source catalog.
          type: string
    TextAnalyticsWarning:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          enum:
          - LongWordsInDocument
          - DocumentTruncated
          x-ms-enum:
            name: WarningCodeValue
            modelAsString: true
          description: Error code.
        message:
          type: string
          description: Warning message.
        targetRef:
          type: string
          description: A JSON pointer reference indicating the target object.
    EntitiesResult:
      type: object
      required:
      - documents
      - errors
      - modelVersion
      properties:
        documents:
          type: array
          description: Response by document
          items:
            $ref: '#/components/schemas/DocumentEntities'
        errors:
          type: array
          description: Errors by document id.
          items:
            $ref: '#/components/schemas/DocumentError'
        statistics:
          $ref: '#/components/schemas/RequestStatistics'
        modelVersion:
          type: string
          description: This field indicates which model is used for scoring.
    DocumentStatistics:
      type: object
      required:
      - charactersCount
      - transactionsCount
      properties:
        charactersCount:
          type: integer
          format: int32
          description: Number of text elements recognized in the document.
        transactionsCount:
          type: integer
          format: int32
          description: Number of transactions for the document.
      description: if showStats=true was specified in the request this field will contain information about the document payload.
    HealthcareRelation:
      type: object
      description: Every relation is an entity graph of a certain relationType, where all entities are connected and have specific roles within the relation context.
      required:
      - relationType
      - entities
      properties:
        relationType:
          description: 'Type of relation. Examples include: `DosageOfMedication` or ''FrequencyOfMedication'', etc.'
          type: string
          enum:
          - Abbreviation
          - DirectionOfBodyStructure
          - DirectionOfCondition
          - DirectionOfExamination
          - DirectionOfTreatment
          - DosageOfMedication
          - FormOfMedication
          - FrequencyOfMedication
          - FrequencyOfTreatment
          - QualifierOfCondition
          - RelationOfExamination
          - RouteOfMedication
          - TimeOfCondition
          - TimeOfEvent
          - TimeOfExamination
          - TimeOfMedication
          - TimeOfTreatment
          - UnitOfCondition
          - UnitOfExamination
          - ValueOfCondition
          - ValueOfExamination
          x-ms-enum:
            name: relationType
            modelAsString: true
        entities:
          description: The entities in the relation.
          type: array
          items:
            $ref: '#/components/schemas/HealthcareRelationEntity'
    PiiResult:
      type: object
      required:
      - documents
      - errors
      - modelVersion
      properties:
        documents:
          type: array
          description: Response by document
          items:
            $ref: '#/components/schemas/PiiDocumentEntities'
        errors:
          type: array
          description: Errors by document id.
          items:
            $ref: '#/components/schemas/DocumentError'
        statistics:
          $ref: '#/components/schemas/RequestStatistics'
        modelVersion:
          type: string
          description: This field indicates which model is used for scoring.
    LinkedEntity:
      type: object
      required:
      - name
      - matches
      - language
      - url
      - dataSource
      properties:
        name:
          type: string
          description: Entity Linking formal name.
        matches:
          type: array
          description: List of instances this entity appears in the text.
          items:
            $ref: '#/components/schemas/Match'
        language:
          type: string
          description: Language used in the data source.
        id:
          type: string
          description: Unique identifier of the recognized entity from the data source.
        url:
          type: string
          description: URL for the entity's page from the data source.
        dataSource:
          type: string
          description: Data source used to extract entity linking, such as Wiki/Bing etc.
        bingId:
          type: string
          description: Bing Entity Search API unique identifier of the recognized entity.
    HealthcareRelationEntity:
      type: object
      required:
      - ref
      - role
      properties:
        ref:
          description: Reference link object, using a JSON pointer RFC 6901 (URI Fragment Identifier Representation), pointing to the entity .
          type: string
        role:
          description: 'Role of entity in the relationship. For example: ''CD20-positive diffuse large B-cell lymphoma'' has the following entities with their roles in parenthesis:  CD20 (GeneOrProtein), Positive (Expression), diffuse large B-cell lymphoma (Diagnosis).'
          type: string
    JobMetadata:
      properties:
        createdDateTime:
          format: date-time
          type: string
        expirationDateTime:
          format: date-time
          type: string
        jobId:
          format: uuid
          type: string
        lastUpdateDateTime:
          format: date-time
          type: string
        status:
          enum:
          - notStarted
          - running
          - succeeded
          - failed
          - cancelled
          - cancelling
          - partiallyCompleted
          type: string
          x-ms-enum:
            modelAsString: false
            name: State
      required:
      - jobId
      - lastUpdateDateTime
      - createdDateTime
      - status
      type: object
    MultiLanguageInput:
      type: object
      required:
      - id
      - text
      properties:
        id:
          type: string
          description: A unique, non-empty document identifier.
        text:
          type: string
          description: The input text to process.
        language:
          type: string
          description: (Optional) This is the 2 letter ISO 639-1 representation of a language. For example, use "en" for English; "es" for Spanish etc. If not set, use "en" for English as default.
      description: Contains an input document to be analyzed by the service.
    MultiLanguageBatchInput:
      type: object
      required:
      - documents
      properties:
        documents:
          type: array
          description: The set of documents to process as part of this batch.
          items:
            $ref: '#/components/schemas/MultiLanguageInput'
      description: Contains a set of input documents to be analyzed by the service.
    RequestStatistics:
      type: object
      required:
      - documentsCount
      - validDocumentsCount
      - erroneousDocumentsCount
      - transactionsCount
      properties:
        documentsCount:
          type: integer
          format: int32
          description: Number of documents submitted in the request.
        validDocumentsCount:
          type: integer
          format: int32
          description: Number of valid documents. This excludes empty, over-size limit or non-supported languages documents.
        erroneousDocumentsCount:
          type: integer
          format: int32
          description: Number of invalid documents. This includes empty, over-size limit or non-supported languages documents.
        transactionsCount:
          type: integer
          format: int64
          description: Number of transactions for the request.
      description: if showStats=true was specified in the request this field will contain information about the request payload.
    DocumentLinkedEntities:
      type: object
      required:
      - id
      - entities
      - warnings
      properties:
        id:
          type: string
          description: Unique, non-empty document identifier.
        entities:
          type: array
          description: Recognized well known entities in the document.
          items:
            $ref: '#/components/schemas/LinkedEntity'
        warnings:
          type: array
          description: Warnings encountered while processing document.
          items:
            $ref: '#/components/schemas/TextAnalyticsWarning'
        statistics:
          description: if showStats=true was specified in the request this field will contain information about the document payload.
          $ref: '#/components/schemas/DocumentStatistics'
    HealthcareEntity:
      type: object
      allOf:
      - $ref: '#/components/schemas/Entity'
      - properties:
          assertion:
            type: object
            $ref: '#/components/schemas/HealthcareAssertion'
          name:
            description: 'Preferred name for the entity. Example: ''histologically'' would have a ''name'' of ''histologic''.'
            type: string
          links:
            description: Entity references in known data sources.
            type: array
            items:
              $ref: '#/components/schemas/HealthcareEntityLink'
    ErrorResponse_2:
      type: object
      required:
      - error
      properties:
        error:
          type: object
          description: Document Error.
          $ref: '#/components/schemas/TextAnalyticsError'
    DocumentEntities:
      type: object
      required:
      - id
      - entities
      - warnings
      properties:
        id:
          type: string
          description: Unique, non-empty document identifier.
        entities:
          type: array
          description: Recognized entities in the document.
          items:
            $ref: '#/components/schemas/Entity'
        warnings:
          type: array
          description: Warnings encountered while processing document.
          items:
            $ref: '#/components/schemas/TextAnalyticsWarning'
        statistics:
          description: if showStats=true was specified in the request this field will contain information about the document payload.
          $ref: '#/components/schemas/DocumentStatistics'
    EntityLinkingResult:
      type: object
      required:
      - documents
      - errors
      - modelVersion
      properties:
        documents:
          type: array
          description: Response by document
          items:
            $ref: '#/components/schemas/DocumentLinkedEntities'
        errors:
          type: array
          description: Errors by document id.
          items:
            $ref: '#/components/schemas/DocumentError'
        statistics:
          $ref: '#/components/schemas/RequestStatistics'
        modelVersion:
          type: string
          description: This field indicates which model is used for scoring.
    Entity:
      type: object
      required:
      - text
      - category
      - offset
      - length
      - confidenceScore
      properties:
        text:
          type: string
          description: Entity text as appears in the request.
        category:
          type: string
          description: Entity type.
        subcategory:
          type: string
          description: (Optional) Entity sub type.
        offset:
          type: integer
          format: int32
          description: Start position for the entity text. Use of different 'stringIndexType' values can affect the offset returned.
        length:
          type: integer
          format: int32
          description: Length for the entity text. Use of different 'stringIndexType' values can affect the length returned.
        confidenceScore:
          type: number
          format: double
          description: Confidence score between 0 and 1 of the extracted entity.
    HealthcareResult:
      type: object
      required:
      - documents
      - errors
      - modelVersion
      properties:
        documents:
          type: array
          description: Response by document
          items:
            $ref: '#/components/schemas/DocumentHealthcareEntities'
        errors:
          type: array
          description: Errors by document id.
          items:
            $ref: '#/components/schemas/DocumentError'
        statistics:
          $ref: '#/components/schemas/RequestStatistics'
        modelVersion:
          type: string
          description: This field indicates which model is used for scoring.
    DocumentHealthcareEntities:
      type: object
      required:
      - id
      - entities
      - relations
      - warnings
      properties:
        id:
          type: string
          description: Unique, non-empty document identifier.
        entities:
          description: Healthcare entities.
          type: array
          items:
            $ref: '#/components/schemas/HealthcareEntity'
        relations:
          type: array
          description: Healthcare entity relations.
          items:
            $ref: '#/components/schemas/HealthcareRelation'
        warnings:
          type: array
          description: Warnings encountered while processing document.
          items:
            $ref: '#/components/schemas/TextAnalyticsWarning'
        statistics:
          description: if showStats=true was specified in the request this field will contain information about the document payload.
          $ref: '#/components/schemas/DocumentStatistics'
    HealthcareJobState:
      allOf:
      - $ref: '#/components/schemas/JobMetadata'
      - properties:
          results:
            $ref: '#/components/schemas/HealthcareResult'
          errors:
            items:
              $ref: '#/components/schemas/TextAnalyticsError'
            type: array
        type: object
      - $ref: '#/components/schemas/Pagination'
    Match:
      type: object
      required:
      - confidenceScore
      - text
      - offset
      - length
      properties:
        confidenceScore:
          type: number
          format: double
          description: If a well known item is recognized, a decimal number denoting the confidence level between 0 and 1 will be returned.
        text:
          type: string
          description: Entity text as appears in the request.
        offset:
          type: integer
          format: int32
          description: Start position for the entity match text.
        length:
          type: integer
          format: int32
          description: Length for the entity match text.
    PiiDocumentEntities:
      type: object
      required:
      - id
      - redactedText
      - entities
      - warnings
      properties:
        id:
          type: string
          description: Unique, non-empty document identifier.
        redactedText:
          type: string
          description: Returns redacted text.
        entities:
          type: array
          description: Recognized entities in the document.
          items:
            $ref: '#/components/schemas/Entity'
        warnings:
          type: array
          description: Warnings encountered while processing document.
          items:
            $ref: '#/components/schemas/TextAnalyticsWarning'
        statistics:
          description: if showStats=true was specified in the request this field will contain information about the document payload.
          $ref: '#/components/schemas/DocumentStatistics'
    Pagination:
      properties:
        '@nextLink':
          type: string
      type: object
    TextAnalyticsError:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          enum:
          - InvalidRequest
          - InvalidArgument
          - InternalServerError
          - ServiceUnavailable
          - NotFound
          x-ms-enum:
            name: ErrorCodeValue
            modelAsString: false
          description: Error code.
        message:
          type: string
          description: Error message.
        target:
          type: string
          description: Error target.
        innererror:
          $ref: '#/components/schemas/InnerError'
          description: Inner error contains more specific information.
        details:
          type: array
          description: Details about specific errors that led to this reported error.
          items:
            $ref: '#/components/schemas/TextAnalyticsError'
    DocumentError:
      type: object
      required:
      - id
      - error
      properties:
        id:
          type: string
          description: Document Id.
        error:
          type: object
          description: Document Error.
          $ref: '#/components/schemas/TextAnalyticsError'
    InnerError:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          enum:
          - InvalidParameterValue
          - InvalidRequestBodyFormat
          - EmptyRequest
          - MissingInputRecords
          - InvalidDocument
          - ModelVersionIncorrect
          - InvalidDocumentBatch
          - UnsupportedLanguageCode
          - InvalidCountryHint
          x-ms-enum:
            name: InnerErrorCodeValue
            modelAsString: true
          description: Error code.
        message:
          type: string
          description: Error message.
        details:
          type: object
          additionalProperties:
            type: string
          description: Error details.
        target:
          type: string
          description: Error target.
        innererror:
          $ref: '#/components/schemas/InnerError'
          description: Inner error contains more specific information.
    HealthcareAssertion:
      type: object
      properties:
        conditionality:
          description: Describes any conditionality on the entity.
          type: string
          enum:
          - hypothetical
          - conditional
          x-ms-enum:
            name: Conditionality
            modelAsString: false
        certainty:
          description: Describes the entities certainty and polarity.
          type: string
          enum:
          - positive
          - positivePossible
          - neutralPossible
          - negativePossible
          - negative
          x-ms-enum:
            name: Certainty
            modelAsString: false
        association:
          description: Describes if the entity is the subject of the text or if it describes someone else.
          type: string
          enum:
          - subject
          - other
          x-ms-enum:
            name: Association
            modelAsString: false
  parameters:
    CacheControlHeader:
      name: Cache-Control
      in: header
      description: Indicates that the request shouldn't utilize any caches.
      x-ms-parameter-location: method
      schema:
        type: string
        default: no-cache
    SkipTokenParameter:
      name: $skiptoken
      in: query
      required: false
      description: "Page continuation token is only used if a previous operation returned a partial result. \nIf a previous response contains a nextLink element, the value of the nextLink element will include a token parameter that specifies a starting point to use for subsequent calls.\n"
      x-ms-parameter-location: client
      schema:
        type: string
    GroupNameParameter:
      name: groupName
      in: query
      required: false
      description: A filter which allows the call to be filtered for a specific group.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Version of the API to be used with the client request. The current version is 2018-01-01-preview.
      schema:
        type: string
    StringIndexType:
      name: stringIndexType
      in: query
      description: (Optional) Specifies the method used to interpret string offsets.  Defaults to Text Elements (Graphemes) according to Unicode v8.0.0. For additional information see https://aka.ms/text-analytics-offsets
      x-ms-enum:
        name: StringIndexType
        modelAsString: true
        values:
        - value: TextElements_v8
          description: Returned offset and length values will correspond to TextElements (Graphemes and Grapheme clusters) confirming to the Unicode 8.0.0 standard. Use this option if your application is written in .Net Framework or .Net Core and you will be using StringInfo.
        - value: UnicodeCodePoint
          description: Returned offset and length values will correspond to Unicode code points. Use this option if your application is written in a language that support Unicode, for example Python.
        - value: Utf16CodeUnit
          description: Returned offset and length values will correspond to UTF-16 code units. Use this option if your application is written in a language that support Unicode, for example Java, JavaScript.
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
        - TextElements_v8
        - UnicodeCodePoint
        - Utf16CodeUnit
        default: TextElements_v8
    MultiLanguageInput:
      in: body
      name: input
      description: Collection of documents to analyze.
      required: true
      schema:
        $ref: '#/components/schemas/MultiLanguageBatchInput'
      x-ms-parameter-location: method
    ModelVersion:
      name: model-version
      in: query
      description: '(Optional) This value indicates which model will be used for scoring. If a model-version is not specified, the API should default to the latest, non-preview version. '
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    ShowStats:
      name: showStats
      in: query
      description: (Optional) if set to true, response will contain request and document level statistics.
      required: false
      x-ms-parameter-location: method
      schema:
        type: boolean
    JobId:
      description: Job ID
      in: path
      name: jobId
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        format: uuid
    PiiCategories:
      description: (Optional) describes the PII categories to return
      in: query
      name: piiCategories
      required: false
      x-ms-parameter-location: method
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          x-ms-enum:
            name: PiiCategory
            modelAsString: true
          enum:
          - ABARoutingNumber
          - ARNationalIdentityNumber
          - AUBankAccountNumber
          - AUDriversLicenseNumber
          - AUMedicalAccountNumber
          - AUPassportNumber
          - AUTaxFileNumber
          - AUBusinessNumber
          - AUCompanyNumber
          - ATIdentityCard
          - ATTaxIdentificationNumber
          - ATValueAddedTaxNumber
          - AzureDocumentDBAuthKey
          - AzureIAASDatabaseConnectionAndSQLString
          - AzureIoTConnectionString
          - AzurePublishSettingPassword
          - AzureRedisCacheString
          - AzureSAS
          - AzureServiceBusString
          - AzureStorageAccountKey
          - AzureStorageAccountGeneric
          - BENationalNumber
          - BENationalNumberV2
          - BEValueAddedTaxNumber
          - BRCPFNumber
          - BRLegalEntityNumber
          - BRNationalIDRG
          - BGUniformCivilNumber
          - CABankAccountNumber
          - CADriversLicenseNumber
          - CAHealthServiceNumber
          - CAPassportNumber
          - CAPersonalHealthIdentification
          - CASocialInsuranceNumber
          - CLIdentityCardNumber
          - CNResidentIdentityCardNumber
          - CreditCardNumber
          - HRIdentityCardNumber
          - HRNationalIDNumber
          - HRPersonalIdentificationNumber
          - HRPersonalIdentificationOIBNumberV2
          - CYIdentityCard
          - CYTaxIdentificationNumber
          - CZPersonalIdentityNumber
          - CZPersonalIdentityV2
          - DKPersonalIdentificationNumber
          - DKPersonalIdentificationV2
          - DrugEnforcementAgencyNumber
          - EEPersonalIdentificationCode
          - EUDebitCardNumber
          - EUDriversLicenseNumber
          - EUGPSCoordinates
          - EUNationalIdentificationNumber
          - EUPassportNumber
          - EUSocialSecurityNumber
          - EUTaxIdentificationNumber
          - FIEuropeanHealthNumber
          - FINationalID
          - FINationalIDV2
          - FIPassportNumber
          - FRDriversLicenseNumber
          - FRHealthInsuranceNumber
          - FRNationalID
          - FRPassportNumber
          - FRSocialSecurityNumber
          - FRTaxIdentificationNumber
          - FRValueAddedTaxNumber
          - DEDriversLicenseNumber
          - DEPassportNumber
          - DEIdentityCardNumber
          - DETaxIdentificationNumber
          - DEValueAddedNumber
          - GRNationalIDCard
          - GRNationalIDV2
          - GRTaxIdentificationNumber
          - HKIdentityCardNumber
          - HUValueAddedNumber
          - HUPersonalIdentificationNumber
          - HUTaxIdentificationNumber
          - INPermanentAccount
          - INUniqueIdentificationNumber
          - IDIdentityCardNumber
          - InternationalBankingAccountNumber
          - IEPersonalPublicServiceNumber
          - IEPersonalPublicServiceNumberV2
          - ILBankAccountNumber
          - ILNationalID
          - ITDriversLicenseNumber
          - ITFiscalCode
          - ITValueAddedTaxNumber
          - JPBankAccountNumber
          - JPDriversLicenseNumber
          - JPPassportNumber
          - JPResidentRegistrationNumber
          - JPSocialInsuranceNumber
          - JPMyNumberCorporate
          - JPMyNumberPersonal
          - JPResidenceCardNumber
          - LVPersonalCode
          - LTPersonalCode
          - LUNationalIdentificationNumberNatural
          - LUNationalIdentificationNumberNonNatural
          - MYIdentityCardNumber
          - MTIdentityCardNumber
          - MTTaxIDNumber
          - NLCitizensServiceNumber
          - NLCitizensServiceNumberV2
          - NLTaxIdentificationNumber
          - NLValueAddedTaxNumber
          - NZBankAccountNumber
          - NZDriversLicenseNumber
          - NZInlandRevenueNumber
          - NZMinistryOfHealthNumber
          - NZSocialWelfareNumber
          - NOIdentityNumber
          - PHUnifiedMultiPurposeIDNumber
          - PLIdentityCard
          - PLNationalID
          - PLNationalIDV2
          - PLPassportNumber
          - PLTaxIdentificationNumber
          - PLREGONNumber
          - PTCitizenCardNumber
          - PTCitizenCardNumberV2
          - PTTaxIdentificationNumber
          - ROPersonalNumericalCode
          - RUPassportNumberDomestic
          - RUPassportNumberInternational
          - SANationalID
          - SGNationalRegistrationIdentityCardNumber
          - SKPersonalNumber
          - SITaxIdentificationNumber
          - SIUniqueMasterCitizenNumber
          - ZAIdentificationNumber
          - KRResidentRegistrationNumber
          - ESDNI
          - ESSocialSecurityNumber
          - ESTaxIdentificationNumber
          - SQLServerConnectionString
          - SENationalID
          - SENationalIDV2
          - SEPassportNumber
          - SETaxIdentificationNumber
          - SWIFTCode
          - CHSocialSecurityNumber
          - TWNationalID
          - TWPassportNumber
          - TWResidentCertificate
          - THPopulationIdentificationCode
          - TRNationalIdentificationNumber
          - UKDriversLicenseNumber
          - UKElectoralRollNumber
          - UKNationalHealthNumber
          - UKNationalInsuranceNumber
          - UKUniqueTaxpayerNumber
          - USUKPassportNumber
          - USBankAccountNumber
          - USDriversLicenseNumber
          - USIndividualTaxpayerIdentification
          - USSocialSecurityNumber
          - UAPassportNumberDomestic
          - UAPassportNumberInternational
          - Organization
          - Email
          - URL
          - Age
          - PhoneNumber
          - IPAddress
          - Date
          - Person
          - Address
          - All
          - Default
        uniqueItems: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
    apim_key:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
x-refined-from:
- management-groups-api-openapi-original.yml
- text-analytics-client-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
