openapi: 3.2.0
info:
  title: Microsoft Azure Azure Fluid Relay Fluid Relay Containers API
  version: 2021-08-30-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: FluidRelayContainers
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.FluidRelay/fluidRelayServers/{fluidRelayServerName}/fluidRelayContainers/{fluidRelayContainerName}
  : get:
      operationId: microsoftAzureFluidrelaycontainersGet
      tags:
      - FluidRelayContainers
      summary: Microsoft Azure Get A Fluid Relay Container
      x-ms-examples:
        Get Fluid Relay container details:
          $ref: ./examples/FluidRelayContainers_Get.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      - $ref: '#/components/parameters/ResourceGroup'
      - $ref: '#/components/parameters/FluidRelayServerName'
      - $ref: '#/components/parameters/FluidRelayContainerName'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Request completed synchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FluidRelayContainer'
        default:
          description: Error in operation.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      description: Needs a more full description created.
    delete:
      operationId: microsoftAzureFluidrelaycontainersDelete
      tags:
      - FluidRelayContainers
      summary: Microsoft Azure Delete A Fluid Relay Container
      x-ms-examples:
        Delete a Fluid Relay container:
          $ref: ./examples/FluidRelayContainers_Delete.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      - $ref: '#/components/parameters/ResourceGroup'
      - $ref: '#/components/parameters/FluidRelayServerName'
      - $ref: '#/components/parameters/FluidRelayContainerName'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Request completed Synchronously.
        '204':
          description: Request completed Synchronously.
        default:
          description: Error in operation.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.FluidRelay/fluidRelayServers/{fluidRelayServerName}/fluidRelayContainers
  : get:
      operationId: microsoftAzureFluidrelaycontainersListbyfluidrelayservers
      tags:
      - FluidRelayContainers
      summary: Microsoft Azure List All Fluid Relay Containers Which Are Children Of A Given…
      x-ms-examples:
        List all Fluid Relay containers in a Fluid Relay server:
          $ref: ./examples/FluidRelayContainers_ListByFluidRelayServer.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      - $ref: '#/components/parameters/ResourceGroup'
      - $ref: '#/components/parameters/FluidRelayServerName'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Paged response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FluidRelayContainerList'
        default:
          description: Error in operation.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      description: Needs a more full description created.
components:
  schemas:
    FluidRelayContainerProperties:
      type: object
      properties:
        frsTenantId:
          type: string
          description: The Fluid tenantId for this container
          readOnly: true
        frsContainerId:
          type: string
          description: The frsContainerId for this container
          readOnly: true
        provisioningState:
          readOnly: true
          enum:
          - Succeeded
          - Failed
          - Canceled
          type: string
          description: Provision states for FluidRelay RP
          title: ProvisioningState
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
      description: The properties of a Fluid Relay Container resource.
    FluidRelayContainer:
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/FluidRelayContainerProperties'
          description: The resource-specific properties for this resource.
          readOnly: true
          x-ms-client-flatten: true
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: System meta data for this resource, including creation and modification information.
          readOnly: true
      description: A FluidRelay Container.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource
    FluidRelayContainerList:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/FluidRelayContainer'
          description: A sequence of FluidRelay containers.
          x-adl-name: FluidRelayContainer[]
        nextLink:
          readOnly: true
          type: string
          description: A link to the next page of results, if any.
      description: Paged response
  parameters:
    SubscriptionId:
      name: subscriptionId
      in: path
      required: true
      description: The subscription id (GUID) for this resource.
      schema:
        type: string
    ResourceGroup:
      name: resourceGroup
      in: path
      required: true
      description: The resource group containing the resource.
      x-ms-parameter-location: method
      schema:
        type: string
    FluidRelayServerName:
      name: fluidRelayServerName
      in: path
      required: true
      description: The Fluid Relay server resource name.
      x-ms-parameter-location: method
      schema:
        type: string
    FluidRelayContainerName:
      name: fluidRelayContainerName
      in: path
      required: true
      description: The Fluid Relay container resource name.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
