openapi: 3.2.0
info:
  title: Microsoft Azure Azure Migrate Assessment Service Evaluated…
  version: 2023-04-01-preview
  description: Azure Migrate Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: EvaluatedWebAppsOperations
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}/evaluatedWebApps
  : get:
      operationId: microsoftAzureEvaluatedwebappsoperationsListbybusinesscase
      tags:
      - EvaluatedWebAppsOperations
      description: List EvaluatedWebApp resources by BusinessCase
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: $filter
        in: query
        description: Filter query.
        required: false
        schema:
          type: string
      - name: pageSize
        in: query
        description: Optional parameter for page size.
        required: false
        schema:
          type: integer
          format: int32
      - name: continuationToken
        in: query
        description: Optional parameter for continuation token.
        required: false
        schema:
          type: string
      - name: totalRecordCount
        in: query
        description: Total record count.
        required: false
        schema:
          type: integer
          format: int32
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: businessCaseName
        in: path
        description: Business case ARM name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluatedWebAppListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        EvaluatedWebAppsOperations_ListByBusinessCase_MaximumSet_Gen:
          $ref: ./examples/EvaluatedWebAppsOperations_ListByBusinessCase_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}/evaluatedWebApps/{evaluatedWebAppName}
  : get:
      operationId: microsoftAzureEvaluatedwebappsoperationsGet
      tags:
      - EvaluatedWebAppsOperations
      description: Get a EvaluatedWebApp
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: businessCaseName
        in: path
        description: Business case ARM name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: evaluatedWebAppName
        in: path
        description: Business case Evaluated web App ARM name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluatedWebApp'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        EvaluatedWebAppsOperations_Get_MaximumSet_Gen:
          $ref: ./examples/EvaluatedWebAppsOperations_Get_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    EvaluatedWebApp:
      type: object
      description: Evaluated web app resource.
      properties:
        properties:
          $ref: '#/components/schemas/EvaluatedWebAppProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
    EvaluatedWebAppProperties:
      type: object
      description: Evaluated web app properties class.
      properties:
        recommendedAzureTarget:
          type: string
          description: Recommended Azure target.
        recommendedAzureSkuName:
          type: string
          description: Recommended Azure SKU name.
        recommendedAzureSkuSize:
          type: string
          description: Recommended Azure SKU size.
        serverName:
          type: string
          description: The server name.
        workload:
          type: string
          description: The workload.
        activityState:
          type: string
          description: The activity state.
        readyForMigration:
          type: string
          description: Is machine ready for migration.
    EvaluatedWebAppListResult:
      type: object
      description: The response of a EvaluatedWebApp list operation.
      properties:
        value:
          type: array
          description: The EvaluatedWebApp items on this page
          items:
            $ref: '#/components/schemas/EvaluatedWebApp'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
