openapi: 3.2.0
info:
  title: Microsoft Azure Azure Arc VMware Management Service…
  description: Self service experience for VMware.
  version: 2023-03-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: MachineExtensions Upgrade
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedVMwarevSphere/virtualMachines/{virtualMachineName}/upgradeExtensions
  : post:
      tags:
      - MachineExtensions Upgrade
      operationId: microsoftAzureUpgradeextensions
      description: The operation to Upgrade Machine Extensions.
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/api-version'
      - name: virtualMachineName
        in: path
        required: true
        description: The name of the machine containing the extension.
        schema:
          type: string
      responses:
        '200':
          description: OK
        '202':
          description: HTTP 202 (Accepted) if the operation was successfully started and will complete asynchronously.
          headers:
            Location:
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Upgrade Machine Extensions:
          $ref: ./examples/Extensions_Upgrade.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MachineExtensionUpgrade'
        description: Parameters supplied to the Upgrade Extensions operation.
        required: true
components:
  schemas:
    TargetVersion:
      type: string
      description: Extension Upgrade Target Version.
    MachineExtensionUpgrade:
      type: object
      properties:
        extensionTargets:
          $ref: '#/components/schemas/ExtensionTarget'
          description: Describes the Extension Target Properties.
      description: Describes the Machine Extension Upgrade Properties
    ExtensionTarget:
      type: object
      additionalProperties:
        type: object
        $ref: '#/components/schemas/ExtensionTargetProperties'
      description: Describes the Machine Extension Target Properties
    ExtensionTargetProperties:
      type: object
      properties:
        targetVersion:
          type: object
          $ref: '#/components/schemas/TargetVersion'
          description: Properties for the specified Extension to Upgrade.
      description: Describes the Machine Extension Target Version Properties
  parameters:
    api-version:
      in: query
      name: api-version
      description: Client Api Version.
      required: true
      schema:
        type: string
    resourceGroupName:
      in: path
      name: resourceGroupName
      description: The Resource Group Name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    subscriptionId:
      in: path
      name: subscriptionId
      description: The Subscription ID.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
