openapi: 3.2.0
info:
  title: Microsoft Azure NewRelic.Observability Monitored…
  version: 2024-01-01-preview
  x-cadl-generated:
  - emitter: '@azure-tools/cadl-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: MonitoredSubscriptions
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/NewRelic.Observability/monitors/{monitorName}/monitoredSubscriptions/{configurationName}
  : patch:
      tags:
      - MonitoredSubscriptions
      summary: Microsoft Azure Updates The Subscriptions That Are Being Monitored By The…
      operationId: microsoftAzureMonitoredsubscriptionsUpdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: monitorName
        in: path
        required: true
        description: Name of the Monitors resource
        schema:
          type: string
          pattern: ^.*$
      - description: The configuration name. Only 'default' value is supported.
        in: path
        name: configurationName
        required: true
        x-ms-enum:
          name: configurationName
          modelAsString: true
        schema:
          type: string
          enum:
          - default
          pattern: ^.*$
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitoredSubscriptionProperties'
        '202':
          headers:
            Location:
              schema:
                type: string
          description: Success
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-examples:
        Monitors_UpdateMonitoredSubscriptions:
          $ref: ./examples/MonitoredSubscriptions_Update.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonitoredSubscriptionProperties'
    delete:
      tags:
      - MonitoredSubscriptions
      summary: Microsoft Azure Updates The Subscriptions That Are Being Monitored By The…
      operationId: microsoftAzureMonitoredsubscriptionsDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: monitorName
        in: path
        required: true
        description: Name of the Monitors resource
        schema:
          type: string
          pattern: ^.*$
      - description: The configuration name. Only 'default' value is supported.
        in: path
        name: configurationName
        required: true
        x-ms-enum:
          name: configurationName
          modelAsString: true
        schema:
          type: string
          enum:
          - default
          pattern: ^.*$
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '202':
          headers:
            Location:
              schema:
                type: string
          description: Success
        '204':
          description: Success
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-examples:
        Monitors_DeleteMonitoredSubscriptions:
          $ref: ./examples/MonitoredSubscriptions_Delete.json
      description: Needs a more full description created.
    get:
      tags:
      - MonitoredSubscriptions
      summary: Microsoft Azure List The Subscriptions Currently Being Monitored By The…
      operationId: microsoftAzureMonitoredsubscriptionsGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: monitorName
        in: path
        required: true
        description: Name of the Monitors resource
        schema:
          type: string
          pattern: ^.*$
      - description: The configuration name. Only 'default' value is supported.
        in: path
        name: configurationName
        required: true
        x-ms-enum:
          name: configurationName
          modelAsString: true
        schema:
          type: string
          enum:
          - default
          pattern: ^.*$
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitoredSubscriptionProperties'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Monitors_GetMonitoredSubscriptions:
          $ref: ./examples/MonitoredSubscriptions_Get.json
      description: Needs a more full description created.
    put:
      tags:
      - MonitoredSubscriptions
      summary: Microsoft Azure Add The Subscriptions That Should Be Monitored By The Newrelic…
      operationId: microsoftAzureMonitoredsubscriptionsCreateorupdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: monitorName
        in: path
        required: true
        description: Name of the Monitors resource
        schema:
          type: string
          pattern: ^.*$
      - description: The configuration name. Only 'default' value is supported.
        in: path
        name: configurationName
        required: true
        x-ms-enum:
          name: configurationName
          modelAsString: true
        schema:
          type: string
          enum:
          - default
          pattern: ^.*$
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitoredSubscriptionProperties'
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitoredSubscriptionProperties'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-examples:
        Monitors_AddMonitoredSubscriptions:
          $ref: ./examples/MonitoredSubscriptions_CreateorUpdate.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonitoredSubscriptionProperties'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/NewRelic.Observability/monitors/{monitorName}/monitoredSubscriptions
  : get:
      tags:
      - MonitoredSubscriptions
      summary: Microsoft Azure List The Subscriptions Currently Being Monitored By The…
      operationId: microsoftAzureMonitoredsubscriptionsList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: monitorName
        in: path
        required: true
        description: Name of the Monitors resource
        schema:
          type: string
          pattern: ^.*$
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitoredSubscriptionPropertiesList'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Monitors_GetMonitoredSubscriptions:
          $ref: ./examples/MonitoredSubscriptions_List.json
      description: Needs a more full description created.
components:
  schemas:
    TagAction:
      type: string
      description: Valid actions for a filtering tag. Exclusion takes priority over inclusion.
      enum:
      - Include
      - Exclude
      x-ms-enum:
        name: TagAction
        modelAsString: true
    ProvisioningState:
      type: string
      description: Provisioning State of the Monitor resource
      enum:
      - Accepted
      - Creating
      - Updating
      - Deleting
      - Succeeded
      - Failed
      - Canceled
      - Deleted
      - NotSpecified
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: Accepted
          value: Accepted
          description: Monitor resource creation request accepted
        - name: Creating
          value: Creating
          description: Monitor resource creation started
        - name: Updating
          value: Updating
          description: Monitor resource is being updated
        - name: Deleting
          value: Deleting
          description: Monitor resource deletion started
        - name: Succeeded
          value: Succeeded
          description: Monitor resource creation successful
        - name: Failed
          value: Failed
          description: Monitor resource creation failed
        - name: Canceled
          value: Canceled
          description: Monitor resource creation canceled
        - name: Deleted
          value: Deleted
          description: Monitor resource is deleted
        - name: NotSpecified
          value: NotSpecified
          description: Monitor resource state is unknown
    SendAadLogsStatus:
      type: string
      description: Indicates whether AAD logs are being sent.
      enum:
      - Enabled
      - Disabled
      x-ms-enum:
        name: SendAadLogsStatus
        modelAsString: true
    FilteringTag:
      type: object
      properties:
        name:
          type: string
          description: The name (also known as the key) of the tag.
        value:
          type: string
          description: The value of the tag.
        action:
          $ref: '#/components/schemas/TagAction'
          description: Valid actions for a filtering tag. Exclusion takes priority over inclusion.
      description: The definition of a filtering tag. Filtering tags are used for capturing resources and include/exclude them from being monitored.
    SendMetricsStatus:
      type: string
      description: Indicates whether metrics are being sent.
      enum:
      - Enabled
      - Disabled
      x-ms-enum:
        name: SendMetricsStatus
        modelAsString: true
    MonitoringTagRulesProperties:
      type: object
      properties:
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: Provisioning State of the resource
          readOnly: true
        logRules:
          $ref: '#/components/schemas/LogRules'
          description: Set of rules for sending logs for the Monitor resource.
        metricRules:
          $ref: '#/components/schemas/MetricRules'
          description: Set of rules for sending metrics for the Monitor resource.
      description: The resource-specific properties for this resource.
    LogRules:
      type: object
      properties:
        sendAadLogs:
          $ref: '#/components/schemas/SendAadLogsStatus'
          description: Flag specifying if AAD logs should be sent for the Monitor resource.
        sendSubscriptionLogs:
          $ref: '#/components/schemas/SendSubscriptionLogsStatus'
          description: Flag specifying if subscription logs should be sent for the Monitor resource.
        sendActivityLogs:
          $ref: '#/components/schemas/SendActivityLogsStatus'
          description: Flag specifying if activity logs from Azure resources should be sent for the Monitor resource.
        filteringTags:
          type: array
          items:
            $ref: '#/components/schemas/FilteringTag'
          x-ms-identifiers: []
          x-cadl-name: FilteringTag[]
          description: 'List of filtering tags to be used for capturing logs. This only takes effect if SendActivityLogs flag is enabled. If empty, all resources will be captured.

            If only Exclude action is specified, the rules will apply to the list of all available resources. If Include actions are specified, the rules will only include resources with the associated tags.'
      description: Set of rules for sending logs for the Monitor resource.
    MetricRules:
      type: object
      properties:
        sendMetrics:
          $ref: '#/components/schemas/SendMetricsStatus'
          description: Flag specifying if metrics should be sent for the Monitor resource.
        filteringTags:
          type: array
          items:
            $ref: '#/components/schemas/FilteringTag'
          x-ms-identifiers: []
          x-cadl-name: FilteringTag[]
          description: List of filtering tags to be used for capturing metrics.
        userEmail:
          $ref: '#/components/schemas/email'
          description: User Email
      description: Set of rules for sending metrics for the Monitor resource.
    email:
      type: string
      description: Reusable representation of an email address
      pattern: ^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z]{2,}$
    MonitoredSubscription:
      description: The list of subscriptions and it's monitoring status by current NewRelic monitor.
      type: object
      properties:
        subscriptionId:
          description: The subscriptionId to be monitored.
          required:
          - subscriptionId
          type: string
        status:
          description: The state of monitoring.
          enum:
          - InProgress
          - Active
          - Failed
          - Deleting
          x-ms-enum:
            modelAsString: true
            name: Status
          type: string
        error:
          description: The reason of not monitoring the subscription.
          type: string
        tagRules:
          $ref: '#/components/schemas/MonitoringTagRulesProperties'
    SendActivityLogsStatus:
      type: string
      description: Indicates whether activity logs are being sent.
      enum:
      - Enabled
      - Disabled
      x-ms-enum:
        name: SendActivityLogsStatus
        modelAsString: true
    MonitoredSubscriptionProperties:
      description: The request to update subscriptions needed to be monitored by the NewRelic monitor resource.
      type: object
      x-ms-azure-resource: true
      properties:
        name:
          description: Name of the monitored subscription resource.
          type: string
          readOnly: true
        id:
          description: The id of the monitored subscription resource.
          type: string
          readOnly: true
        type:
          description: The type of the monitored subscription resource.
          type: string
          readOnly: true
        properties:
          $ref: '#/components/schemas/SubscriptionList'
    SendSubscriptionLogsStatus:
      type: string
      description: Indicates whether subscription logs are being sent.
      enum:
      - Enabled
      - Disabled
      x-ms-enum:
        name: SendSubscriptionLogsStatus
        modelAsString: true
    SubscriptionList:
      description: The request to update subscriptions needed to be monitored by the NewRelic monitor resource.
      type: object
      properties:
        patchOperation:
          description: The operation for the patch on the resource.
          enum:
          - AddBegin
          - AddComplete
          - DeleteBegin
          - DeleteComplete
          - Active
          type: string
          x-ms-enum:
            modelAsString: true
            name: PatchOperation
          x-ms-mutability:
          - create
          - update
        monitoredSubscriptionList:
          description: List of subscriptions and the state of the monitoring.
          type: array
          items:
            $ref: '#/components/schemas/MonitoredSubscription'
          x-ms-identifiers: []
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: Provisioning State of the resource
          readOnly: true
    MonitoredSubscriptionPropertiesList:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/MonitoredSubscriptionProperties'
        nextLink:
          type: string
          description: The link to the next page of items
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Microsoft Entra ID OAuth2 Flow.
