openapi: 3.2.0
info:
  version: 2019-09-01-preview
  title: Microsoft Azure PeeringManagementClient Check Service…
  description: APIs to manage Peering resources through the Azure Resource Manager.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: CheckServiceProviderAvailability
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Peering/CheckServiceProviderAvailability:
    post:
      tags:
      - CheckServiceProviderAvailability
      description: Checks if the peering service provider is present within 1000 miles of customer's location
      operationId: microsoftAzureCheckserviceprovideravailability
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                enum:
                - Available
                - Unavailable
                type: string
        default:
          description: Error response describing why the operation has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Check if peering service provider is available in customer location:
          $ref: ./examples/CheckServiceProviderAvailability.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft Peering…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckServiceProviderAvailabilityInput'
        description: The CheckServiceProviderAvailabilityInput indicating customer location and service provider.
        required: true
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: The client API version.
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The Azure subscription ID.
      required: true
      schema:
        type: string
  schemas:
    ErrorResponse:
      description: The error response that indicates why an operation has failed.
      type: object
      properties:
        code:
          description: The error code.
          type: string
          readOnly: true
        message:
          description: The error message.
          type: string
          readOnly: true
    CheckServiceProviderAvailabilityInput:
      description: Class for CheckServiceProviderAvailabilityInput
      type: object
      properties:
        peeringServiceLocation:
          description: Gets or sets the PeeringServiceLocation
          type: string
        peeringServiceProvider:
          description: Gets or sets the PeeringServiceProvider
          type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
