openapi: 3.2.0
info:
  title: Microsoft Azure Azure Monitor Metrics Definitions Metric…
  description: Provides APIs for getting the metric metadata for Azure resources.
  version: '2023-10-01'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Metric Definitions
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Insights/metricDefinitions:
    get:
      tags:
      - Metric Definitions
      operationId: microsoftAzureMetricdefinitionsListatsubscriptionscope
      description: Lists the metric definitions for the subscription.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../common-types/v2/commonMonitoringTypes.json#/parameters/RegionParameter
      - $ref: ../../../../common-types/v2/commonMonitoringTypes.json#/parameters/MetricNamespaceParameter
      responses:
        '200':
          description: Successful request to get the list of metric definitions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionScopeMetricDefinitionCollection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../common-types/v2/commonMonitoringTypes.json#/definitions/ErrorContract
      x-ms-pageable:
        nextLinkName: null
      x-ms-examples:
        Get Subscription level Metric Definitions without filter:
          $ref: ./examples/GetMultiResourceMetricDefinitions.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Insights…
  /{resourceUri}/providers/Microsoft.Insights/metricDefinitions:
    get:
      tags:
      - Metric Definitions
      operationId: microsoftAzureMetricdefinitionsList
      description: Lists the metric definitions for the resource.
      parameters:
      - $ref: ../../../../common-types/v2/commonMonitoringTypes.json#/parameters/ResourceUriParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../common-types/v2/commonMonitoringTypes.json#/parameters/MetricNamespaceParameter
      responses:
        '200':
          description: Successful request to get the list of metric definitions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricDefinitionCollection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: null
      x-ms-examples:
        Get Metric Definitions without filter:
          $ref: ./examples/GetMetricDefinitions.json
        Get Application Insights Metric Definitions without filter:
          $ref: ./examples/GetMetricDefinitionsApplicationInsights.json
        Get StorageCache Metric Definitions with metric class:
          $ref: ./examples/GetMetricDefinitionsMetricClass.json
      summary: Microsoft Azure Get Resourceuri Providers Microsoft Insights Metricdefinitions
components:
  schemas:
    SubscriptionScopeMetricDefinitionCollection:
      type: object
      description: Represents collection of metric definitions.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/SubscriptionScopeMetricDefinition'
          description: The values for the metric definitions.
      required:
      - value
    MetricDefinitionCollection:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/MetricDefinition'
          description: The values for the metric definitions.
      required:
      - value
      description: Represents collection of metric definitions.
    AggregationType:
      type: string
      description: The aggregation type of the metric.
      enum:
      - None
      - Average
      - Count
      - Minimum
      - Maximum
      - Total
      x-ms-enum:
        name: AggregationType
        modelAsString: false
    SubscriptionScopeMetricDefinition:
      type: object
      description: Metric definition class specifies the metadata for a metric.
      properties:
        isDimensionRequired:
          type: boolean
          description: Flag to indicate whether the dimension is required.
        resourceId:
          type: string
          description: The resource identifier of the resource that emitted the metric.
        namespace:
          type: string
          description: The namespace the metric belongs to.
        name:
          $ref: ../../../../common-types/v2/commonMonitoringTypes.json#/definitions/LocalizableString
          description: The name and the display name of the metric, i.e. it is a localizable string.
        displayDescription:
          type: string
          description: Detailed description of this metric.
        category:
          type: string
          description: Custom category name for this metric.
        metricClass:
          $ref: '#/components/schemas/MetricClass'
          description: The class of the metric.
        unit:
          $ref: ../../../../common-types/v2/commonMonitoringTypes.json#/definitions/Unit
          description: The unit of the metric.
        primaryAggregationType:
          $ref: '#/components/schemas/MetricAggregationType'
          description: The primary aggregation type value defining how to use the values for display.
        supportedAggregationTypes:
          type: array
          items:
            $ref: '#/components/schemas/MetricAggregationType'
          description: The collection of what aggregation types are supported.
        metricAvailabilities:
          type: array
          items:
            $ref: '#/components/schemas/MetricAvailability'
          x-ms-identifiers:
          - timeGrain
          description: The collection of what aggregation intervals are available to be queried.
        id:
          type: string
          description: The resource identifier of the metric definition.
        dimensions:
          type: array
          items:
            $ref: ../../../../common-types/v2/commonMonitoringTypes.json#/definitions/LocalizableString
          x-ms-identifiers:
          - value
          description: The name and the display name of the dimension, i.e. it is a localizable string.
    MetricAggregationType:
      type: string
      description: The aggregation type of the metric.
      enum:
      - None
      - Average
      - Count
      - Minimum
      - Maximum
      - Total
      x-ms-enum:
        name: MetricAggregationType
        modelAsString: true
    MetricDefinition:
      type: object
      properties:
        isDimensionRequired:
          type: boolean
          description: Flag to indicate whether the dimension is required.
        resourceId:
          type: string
          description: The resource identifier of the resource that emitted the metric.
        namespace:
          type: string
          description: The namespace the metric belongs to.
        name:
          $ref: ../../../../common-types/v2/commonMonitoringTypes.json#/definitions/LocalizableString
          description: The name and the display name of the metric, i.e. it is a localizable string.
        displayDescription:
          type: string
          description: Detailed description of this metric.
        category:
          type: string
          description: Custom category name for this metric.
        metricClass:
          $ref: '#/components/schemas/MetricClass'
          description: The class of the metric.
        unit:
          $ref: ../../../../common-types/v2/commonMonitoringTypes.json#/definitions/Unit
          description: The unit of the metric.
        primaryAggregationType:
          $ref: '#/components/schemas/AggregationType'
          description: The primary aggregation type value defining how to use the values for display.
        supportedAggregationTypes:
          type: array
          items:
            $ref: '#/components/schemas/AggregationType'
          description: The collection of what aggregation types are supported.
        metricAvailabilities:
          type: array
          items:
            $ref: '#/components/schemas/MetricAvailability'
          x-ms-identifiers:
          - timeGrain
          description: The collection of what aggregation intervals are available to be queried.
        id:
          type: string
          description: The resource identifier of the metric definition.
        dimensions:
          type: array
          items:
            $ref: ../../../../common-types/v2/commonMonitoringTypes.json#/definitions/LocalizableString
          x-ms-identifiers:
          - value
          description: The name and the display name of the dimension, i.e. it is a localizable string.
      description: Metric definition class specifies the metadata for a metric.
    MetricAvailability:
      type: object
      properties:
        timeGrain:
          type: string
          format: duration
          description: The time grain specifies a supported aggregation interval for the metric. Expressed as a duration 'PT1M', 'P1D', etc.
        retention:
          type: string
          format: duration
          description: The retention period for the metric at the specified timegrain.  Expressed as a duration 'PT1M', 'P1D', etc.
      description: Metric availability specifies the time grain (aggregation interval or frequency) and the retention period for that time grain.
    MetricClass:
      type: string
      description: The class of the metric.
      enum:
      - Availability
      - Transactions
      - Errors
      - Latency
      - Saturation
      x-ms-enum:
        name: MetricClass
        modelAsString: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
