openapi: 3.2.0
info:
  version: 2021-10-15-preview
  title: Microsoft Azure EventGridManagementClient Domain Topics API
  description: Azure EventGrid Management Client
servers:
- url: https://management.azure.com
tags:
- name: DomainTopics
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}/topics/{domainTopicName}
  : get:
      tags:
      - DomainTopics
      summary: Microsoft Azure Get A Domain Topic
      description: Get properties of a domain topic.
      operationId: microsoftAzureDomaintopicsGet
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: domainName
        in: path
        description: Name of the domain.
        required: true
        schema:
          type: string
      - name: domainTopicName
        in: path
        description: Name of the topic.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainTopic'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        DomainTopics_Get:
          $ref: ./examples/DomainTopics_Get.json
    put:
      tags:
      - DomainTopics
      summary: Microsoft Azure Create Or Update A Domain Topic
      description: Asynchronously creates or updates a new domain topic with the specified parameters.
      operationId: microsoftAzureDomaintopicsCreateorupdate
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: domainName
        in: path
        description: Name of the domain.
        required: true
        schema:
          type: string
      - name: domainTopicName
        in: path
        description: Name of the domain topic.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainTopic'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        DomainTopics_CreateOrUpdate:
          $ref: ./examples/DomainTopics_CreateOrUpdate.json
      x-ms-long-running-operation: true
    delete:
      tags:
      - DomainTopics
      summary: Microsoft Azure Delete A Domain Topic
      description: Delete existing domain topic.
      operationId: microsoftAzureDomaintopicsDelete
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: domainName
        in: path
        description: Name of the domain.
        required: true
        schema:
          type: string
      - name: domainTopicName
        in: path
        description: Name of the domain topic.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: NoContent
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 404 Not Found.\n\n * 500 Internal Server Error."
      x-ms-examples:
        DomainTopics_Delete:
          $ref: ./examples/DomainTopics_Delete.json
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}/topics
  : get:
      tags:
      - DomainTopics
      summary: Microsoft Azure List Domain Topics
      description: List all the topics in a domain.
      operationId: microsoftAzureDomaintopicsListbydomain
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: domainName
        in: path
        description: Domain name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/FilterParameter'
      - $ref: '#/components/parameters/TopParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainTopicsListResult'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        DomainTopics_ListByDomain:
          $ref: ./examples/DomainTopics_ListByDomain.json
      x-ms-pageable:
        nextLinkName: nextLink
components:
  schemas:
    DomainTopicProperties:
      description: Properties of the Domain Topic.
      type: object
      properties:
        provisioningState:
          description: Provisioning state of the domain topic.
          enum:
          - Creating
          - Updating
          - Deleting
          - Succeeded
          - Canceled
          - Failed
          type: string
          readOnly: true
          x-ms-enum:
            name: DomainTopicProvisioningState
            modelAsString: true
    Resource:
      description: Definition of a Resource
      type: object
      properties:
        id:
          description: Fully qualified identifier of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the resource.
          type: string
          readOnly: true
        type:
          description: Type of the resource.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    DomainTopic:
      description: Domain Topic.
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/DomainTopicProperties'
          description: Properties of the Domain Topic.
          readOnly: true
          x-ms-client-flatten: true
        systemData:
          description: The system metadata relating to Domain Topic resource.
          type: object
          readOnly: true
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
    DomainTopicsListResult:
      description: Result of the List Domain Topics operation.
      type: object
      properties:
        value:
          description: A collection of Domain Topics.
          type: array
          items:
            $ref: '#/components/schemas/DomainTopic'
        nextLink:
          description: A link for the next page of domain topics.
          type: string
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: Version of the API to be used with the client request.
      required: true
      schema:
        type: string
    TopParameter:
      name: $top
      in: query
      description: The number of results to return per page for the list operation. Valid range for top parameter is 1 to 100. If not specified, the default number of results to be returned is 20 items per page.
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      required: true
      schema:
        type: string
    FilterParameter:
      name: $filter
      in: query
      description: 'The query used to filter the search results using OData syntax. Filtering is permitted on the ''name'' property only and with limited number of OData operations. These operations are: the ''contains'' function as well as the following logical operations: not, and, or, eq (for equal), and ne (for not equal). No arithmetic operations are supported. The following is a valid filter example: $filter=contains(namE, ''PATTERN'') and name ne ''PATTERN-1''. The following is not a valid filter example: $filter=location eq ''westus''.'
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
