openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft Storage Sync StorageSyncServices…
  description: Microsoft Storage Sync Service API. This belongs to Microsoft.StorageSync Resource Provider
  version: '2022-09-01'
  x-ms-code-generation-settings:
    name: StorageSyncManagementClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: StorageSyncServices Resource
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}
  : put:
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - name: storageSyncServiceName
        in: path
        description: Name of Storage Sync Service resource.
        required: true
        schema:
          type: string
      tags:
      - StorageSyncServices Resource
      operationId: microsoftAzureStoragesyncservicesCreate
      description: Create a new StorageSyncService.
      x-ms-examples:
        StorageSyncServices_Create:
          $ref: ./examples/StorageSyncServices_Create.json
      responses:
        '200':
          description: Storage Sync Service object created/updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncService'
        '202':
          description: Asynchronous Operation Status Location
          headers:
            Azure-AsyncOperation:
              description: Operation Status Location URI
              schema:
                type: string
            Location:
              description: Operation Status Location URI
              schema:
                type: string
            Retry-After:
              description: Retry After
              schema:
                type: string
            x-ms-request-id:
              description: Request id
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id
              schema:
                type: string
        default:
          description: Error message indicating why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorageSyncServiceCreateParameters'
        description: Storage Sync Service resource name.
        required: true
    get:
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: storageSyncServiceName
        in: path
        description: Name of Storage Sync Service resource.
        required: true
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      tags:
      - StorageSyncServices Resource
      operationId: microsoftAzureStoragesyncservicesGet
      description: Get a given StorageSyncService.
      x-ms-examples:
        StorageSyncServices_Get:
          $ref: ./examples/StorageSyncServices_Get.json
      responses:
        '200':
          description: Storage Sync Service object
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncService'
        default:
          description: Error message indicating why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    patch:
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - name: storageSyncServiceName
        in: path
        description: Name of Storage Sync Service resource.
        required: true
        schema:
          type: string
      tags:
      - StorageSyncServices Resource
      operationId: microsoftAzureStoragesyncservicesUpdate
      description: Patch a given StorageSyncService.
      x-ms-examples:
        StorageSyncServices_Update:
          $ref: ./examples/StorageSyncServices_Update.json
      responses:
        '200':
          description: Storage Sync Service object created/updated
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncService'
        '202':
          description: Asynchronous Operation Status Location
          headers:
            Azure-AsyncOperation:
              description: Operation Status Location URI
              schema:
                type: string
            Location:
              description: Operation Status Location URI
              schema:
                type: string
            Retry-After:
              description: Retry After
              schema:
                type: string
            x-ms-request-id:
              description: Request id
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id
              schema:
                type: string
        default:
          description: Error message indicating why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
      x-ms-long-running-operation: true
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorageSyncServiceUpdateParameters'
        description: Storage Sync Service resource.
    delete:
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - name: storageSyncServiceName
        in: path
        description: Name of Storage Sync Service resource.
        required: true
        schema:
          type: string
      tags:
      - StorageSyncServices Resource
      operationId: microsoftAzureStoragesyncservicesDelete
      description: Delete a given StorageSyncService.
      x-ms-examples:
        StorageSyncServices_Delete:
          $ref: ./examples/StorageSyncServices_Delete.json
      responses:
        '200':
          description: Storage Sync Service object was deleted.
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
        '202':
          description: Asynchronous Operation Status Location
          headers:
            Azure-AsyncOperation:
              description: Operation Status Location URI
              schema:
                type: string
            Location:
              description: Operation Status Location URI
              schema:
                type: string
            Retry-After:
              description: Retry After
              schema:
                type: string
            x-ms-request-id:
              description: Request id
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id
              schema:
                type: string
        '204':
          description: Storage Sync Service Resource doesn't exist
        default:
          description: Error message indicating why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices:
    get:
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      tags:
      - StorageSyncServices Resource
      operationId: microsoftAzureStoragesyncservicesListbyresourcegroup
      description: Get a StorageSyncService list by Resource group name.
      x-ms-examples:
        StorageSyncServices_ListByResourceGroup:
          $ref: ./examples/StorageSyncServices_ListByResourceGroup.json
      responses:
        '200':
          description: Array of registered Storage Sync Service resources in the Resource Group
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncServiceArray'
        default:
          description: Error message indicating why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/providers/Microsoft.StorageSync/storageSyncServices:
    get:
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      tags:
      - StorageSyncServices Resource
      operationId: microsoftAzureStoragesyncservicesListbysubscription
      description: Get a StorageSyncService list by subscription.
      x-ms-examples:
        StorageSyncServices_ListBySubscription:
          $ref: ./examples/StorageSyncServices_ListBySubscription.json
      responses:
        '200':
          description: Array of registered Storage Sync Service resources in the subscription.
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncServiceArray'
        default:
          description: Error message indicating why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
components:
  schemas:
    StorageSyncServiceCreateParameters:
      type: object
      properties:
        identity:
          description: managed identities for the Storage Sync to interact with other Azure services without maintaining any secrets or credentials in code.
          $ref: ../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/StorageSyncServiceCreateParametersProperties'
          description: The parameters used to create the storage sync service.
      required:
      - location
      description: The parameters used when creating a storage sync service.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource
    StorageSyncServiceUpdateParameters:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: The user-specified tags associated with the storage sync service.
        identity:
          description: managed identities for the Container App to interact with other Azure services without maintaining any secrets or credentials in code.
          $ref: ../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/StorageSyncServiceUpdateProperties'
          description: The properties of the server endpoint.
      description: Parameters for updating an Storage sync service.
    StorageSyncServiceCreateParametersProperties:
      type: object
      description: StorageSyncService Properties object.
      properties:
        incomingTrafficPolicy:
          $ref: '#/components/schemas/IncomingTrafficPolicy'
          description: Incoming Traffic Policy
        useIdentity:
          type: boolean
          description: Use Identity authorization when customer have finished setup RBAC permissions.
    StorageSyncErrorDetails:
      type: object
      description: Error Details object.
      properties:
        code:
          type: string
          description: Error code of the given entry.
        message:
          type: string
          description: Error message of the given entry.
        target:
          type: string
          description: Target of the given entry.
        requestUri:
          type: string
          description: Request URI of the given entry.
        exceptionType:
          type: string
          description: Exception type of the given entry.
        httpMethod:
          type: string
          description: HTTP method of the given entry.
        hashedMessage:
          type: string
          description: Hashed message of the given entry.
        httpErrorCode:
          type: string
          description: HTTP error code of the given entry.
    StorageSyncServiceArray:
      type: object
      description: Array of StorageSyncServices
      properties:
        value:
          type: array
          description: Collection of StorageSyncServices.
          items:
            $ref: '#/components/schemas/StorageSyncService'
          x-ms-identifiers:
          - id
    StorageSyncInnerErrorDetails:
      type: object
      description: Error Details object.
      properties:
        callStack:
          type: string
          description: Call stack of the error.
        message:
          type: string
          description: Error message of the error.
        innerException:
          type: string
          description: Exception of the inner error.
        innerExceptionCallStack:
          type: string
          description: Call stack of the inner error.
    StorageSyncApiError:
      type: object
      description: Error type
      properties:
        code:
          type: string
          description: Error code of the given entry.
        message:
          type: string
          description: Error message of the given entry.
        target:
          type: string
          description: Target of the given error entry.
        details:
          $ref: '#/components/schemas/StorageSyncErrorDetails'
          description: Error details of the given entry.
        innererror:
          $ref: '#/components/schemas/StorageSyncInnerErrorDetails'
          description: Inner error details of the given entry.
    StorageSyncService:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/StorageSyncServiceProperties'
          description: Storage Sync Service properties.
        identity:
          $ref: ../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity
          description: managed identities for the Storage Sync service to interact with other Azure services without maintaining any secrets or credentials in code.
      description: Storage Sync Service object.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource
    StorageSyncServiceProperties:
      type: object
      description: Storage Sync Service Properties object.
      properties:
        incomingTrafficPolicy:
          $ref: '#/components/schemas/IncomingTrafficPolicy'
          description: Incoming Traffic Policy
        storageSyncServiceStatus:
          type: integer
          format: int32
          description: Storage Sync service status.
          readOnly: true
        storageSyncServiceUid:
          type: string
          description: Storage Sync service Uid
          readOnly: true
        provisioningState:
          readOnly: true
          type: string
          description: StorageSyncService Provisioning State
        useIdentity:
          readOnly: true
          type: boolean
          description: Use Identity authorization when customer have finished setup RBAC permissions.
        lastWorkflowId:
          readOnly: true
          type: string
          description: StorageSyncService lastWorkflowId
        lastOperationName:
          readOnly: true
          type: string
          description: Resource Last Operation Name
        privateEndpointConnections:
          readOnly: true
          type: array
          items:
            $ref: ../../../../../common-types/resource-management/v5/privatelinks.json#/definitions/PrivateEndpointConnection
          x-ms-identifiers:
          - properties/privateEndpoint/id
          description: List of private endpoint connection associated with the specified storage sync service
    IncomingTrafficPolicy:
      type: string
      description: Type of the Incoming Traffic Policy
      enum:
      - AllowAllTraffic
      - AllowVirtualNetworksOnly
      x-ms-enum:
        name: IncomingTrafficPolicy
        modelAsString: true
    StorageSyncError:
      type: object
      description: Error type
      properties:
        error:
          $ref: '#/components/schemas/StorageSyncApiError'
          description: Error details of the given entry.
        innererror:
          $ref: '#/components/schemas/StorageSyncApiError'
          description: Error details of the given entry.
    StorageSyncServiceUpdateProperties:
      type: object
      description: StorageSyncService Properties object.
      properties:
        incomingTrafficPolicy:
          $ref: '#/components/schemas/IncomingTrafficPolicy'
          description: Incoming Traffic Policy
        useIdentity:
          type: boolean
          description: Use Identity authorization when customer have finished setup RBAC permissions.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
