openapi: 3.2.0
info:
  title: Microsoft Azure Feedback API
  version: '1.0'
  description: 'Operations tagged Feedback across 2 of this provider''s published API definitions: adhybridhealthservice-openapi-original.yml, metrics-advisor-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
tags:
- name: Feedback
paths:
  /providers/Microsoft.ADHybridHealthService/services/{serviceName}/feedbacktype/alerts/feedback:
    post:
      tags:
      - Feedback
      description: Adds an alert feedback submitted by customer.
      x-ms-examples:
        services_addAlertFeedback:
          $ref: ./examples/AddAlertFeedback.json
      operationId: microsoftAzureServicesAddalertfeedback
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully added alert feedback.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertFeedback'
      summary: Microsoft Azure Post Providers Microsoft Adhybridhealthservice Services…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertFeedback'
        description: The alert feedback.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.ADHybridHealthService/services/{serviceName}/feedbacktype/alerts/{shortName}/alertfeedback:
    get:
      tags:
      - Feedback
      description: Gets a list of all alert feedback for a given tenant and alert type.
      x-ms-examples:
        services_listAlertFeedback:
          $ref: ./examples/GetAlertFeedback.json
      operationId: microsoftAzureServicesListalertfeedback
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        schema:
          type: string
      - name: shortName
        in: path
        description: The name of the alert.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The list of alert feedback.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertFeedbacks'
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Providers Microsoft Adhybridhealthservice Services…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /feedback/metric/{feedbackId}:
    get:
      tags:
      - Feedback
      summary: Microsoft Azure Get A Metric Feedback By Its Id
      operationId: microsoftAzureGetmetricfeedback
      parameters:
      - in: path
        name: feedbackId
        description: the unique feedback ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricFeedback'
        default:
          description: Client error or server error (4xx or 5xx)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode'
      x-ms-examples:
        Get a metric feedback by its id:
          $ref: ./examples/getMetricFeedback.json
      description: Needs a more full description created.
      security:
      - apim_key: []
        ma_api_key: []
  /feedback/metric/query:
    post:
      tags:
      - Feedback
      summary: Microsoft Azure List Feedback On The Given Metric
      operationId: microsoftAzureListmetricfeedbacks
      parameters:
      - in: query
        name: $skip
        description: for paging, skipped number
        schema:
          type: integer
          format: int32
      - in: query
        name: $maxpagesize
        description: the maximum number of items in one page
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricFeedbackList'
        default:
          description: Client error or server error (4xx or 5xx)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode'
      x-ms-pageable:
        nextLinkName: '@nextLink'
      x-ms-examples:
        List feedback on the given metric:
          $ref: ./examples/listMetricFeedbacks.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetricFeedbackFilter'
        description: metric feedback filter
        required: true
      security:
      - apim_key: []
        ma_api_key: []
  /feedback/metric:
    post:
      tags:
      - Feedback
      summary: Microsoft Azure Create A New Metric Feedback
      operationId: microsoftAzureCreatemetricfeedback
      responses:
        '201':
          description: Success
          headers:
            Location:
              description: Location of the newly created resource.
              schema:
                type: string
        default:
          description: Client error or server error (4xx or 5xx)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode'
      x-ms-examples:
        Create a new metric feedback:
          $ref: ./examples/createMetricFeedback.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetricFeedback'
        description: metric feedback
        required: true
      security:
      - apim_key: []
        ma_api_key: []
components:
  schemas:
    AlertFeedback:
      description: The alert feedback details.
      type: object
      properties:
        level:
          description: The alert level which indicates the severity of the alert.
          type: string
        state:
          description: The alert state which can be either active or resolved with multiple resolution types.
          type: string
        shortName:
          description: The alert short name.
          type: string
        feedback:
          description: The feedback for the alert which indicates if the customer likes or dislikes the alert.
          type: string
        comment:
          description: Additional comments related to the alert.
          type: string
        consentedToShare:
          description: Indicates if the alert feedback can be shared from product team.
          type: boolean
        serviceMemberId:
          description: The server Id of the alert.
          type: string
        createdDate:
          description: The date and time,in UTC,when the alert was created.
          type: string
          format: date-time
    AlertFeedbacks:
      description: The list of alert feedback.
      type: object
      properties:
        value:
          type: array
          description: The value returned by the operation.
          items:
            $ref: '#/components/schemas/AlertFeedback'
    MetricFeedbackFilter:
      required:
      - metricId
      type: object
      properties:
        metricId:
          format: uuid
          description: filter feedbacks by metric id
          type: string
        dimensionFilter:
          $ref: '#/components/schemas/FeedbackDimensionFilter'
        feedbackType:
          description: filter feedbacks by type
          enum:
          - Anomaly
          - ChangePoint
          - Period
          - Comment
          type: string
          x-ms-enum:
            name: FeedbackType
            modelAsString: true
        startTime:
          format: date-time
          description: start time filter under chosen time mode
          type: string
        endTime:
          format: date-time
          description: end time filter under chosen time mode
          type: string
        timeMode:
          description: time mode to filter feedback
          enum:
          - MetricTimestamp
          - FeedbackCreatedTime
          type: string
          x-ms-enum:
            name: FeedbackQueryTimeMode
            modelAsString: true
      example:
        metricId: 22222222-2222-2222-2222-000000000001
        feedbackType: Anomaly
        startTime: '2020-01-01T00:00:00Z'
        endTime: '2020-01-01T00:00:00Z'
        timeMode: MetricTimestamp
    ErrorCode:
      type: object
      properties:
        message:
          type: string
        code:
          type: string
    MetricFeedback:
      required:
      - dimensionFilter
      - feedbackType
      - metricId
      type: object
      properties:
        feedbackType:
          description: feedback type
          enum:
          - Anomaly
          - ChangePoint
          - Period
          - Comment
          type: string
          x-ms-enum:
            name: FeedbackType
            modelAsString: true
        feedbackId:
          format: uuid
          description: feedback unique id
          type: string
          readOnly: true
        createdTime:
          format: date-time
          description: feedback created time
          type: string
          readOnly: true
        userPrincipal:
          description: user who gives this feedback
          type: string
          readOnly: true
        metricId:
          format: uuid
          description: metric unique id
          type: string
        dimensionFilter:
          $ref: '#/components/schemas/FeedbackDimensionFilter'
      discriminator:
        propertyName: feedbackType
    MetricFeedbackList:
      type: object
      properties:
        '@nextLink':
          type: string
          readOnly: true
        value:
          type: array
          items:
            $ref: '#/components/schemas/MetricFeedback'
          readOnly: true
    FeedbackDimensionFilter:
      required:
      - dimension
      type: object
      properties:
        dimension:
          description: metric dimension filter
          type: object
          additionalProperties:
            type: string
  parameters:
    apiVersionParameter:
      name: api-version
      in: query
      description: The version of the API to be used with the client request.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
    ma_api_key:
      type: apiKey
      name: x-api-key
      in: header
    apim_key:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
x-refined-from:
- adhybridhealthservice-openapi-original.yml
- metrics-advisor-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
