openapi: 3.2.0
info:
  version: 2022-01-01-preview
  title: Microsoft Azure OperationsClient Operations in a Cluster API
  description: Use these APIs to create extension resources through ARM, for Kubernetes Clusters.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Operations in a Cluster
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{clusterRp}/{clusterResourceName}/{clusterName}/providers/Microsoft.KubernetesConfiguration/operations
  : get:
      tags:
      - Operations in a Cluster
      operationId: microsoftAzureOperationstatusList
      description: List Async Operations, currently in progress, in a cluster
      x-ms-examples:
        AsyncOperationStatus List:
          $ref: ./examples/ListAsyncOperationStatus.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../common/2022-01-01-preview/parameters.json#/parameters/ClusterRpParameter
      - $ref: ../../common/2022-01-01-preview/parameters.json#/parameters/ClusterResourceNameParameter
      - $ref: ../../common/2022-01-01-preview/parameters.json#/parameters/ClusterNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Operations in a cluster
          content:
            application/json:
              schema:
                $ref: ../../common/2022-01-01-preview/definitions.json#/definitions/OperationStatusList
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
