openapi: 3.2.0
info:
  title: Microsoft Azure Azure ML Management Client Commitment Plans…
  description: These APIs allow end users to operate on Azure Machine Learning Commitment Plans resources and their child Commitment Association resources. They support CRUD operations for commitment plans, get and list operations for commitment associations, moving commitment associations between commitment plans, and retrieving commitment plan usage history.
  version: 2016-05-01-preview
servers:
- url: https://management.azure.com
tags:
- name: Commitment Plans
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/commitmentPlans/{commitmentPlanName}
  : parameters:
    - $ref: '#/components/parameters/SubscriptionIdParameter'
    - $ref: '#/components/parameters/ResourceGroupNameParameter'
    - $ref: '#/components/parameters/CommitmentPlanNameParameter'
    - $ref: '#/components/parameters/APIVersionParameter'
    get:
      tags:
      - Commitment Plans
      operationId: microsoftAzureCommitmentplansGet
      description: Retrieve an Azure ML commitment plan by its subscription, resource group and name.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitmentPlan'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Commitment Plans
      operationId: microsoftAzureCommitmentplansCreateorupdate
      description: Create a new Azure ML commitment plan resource or updates an existing one.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitmentPlan'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitmentPlan'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommitmentPlan'
        description: The payload to create or update the Azure ML commitment plan.
        required: true
    delete:
      tags:
      - Commitment Plans
      operationId: microsoftAzureCommitmentplansRemove
      description: Remove an existing Azure ML commitment plan.
      responses:
        '200':
          description: OK
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    patch:
      tags:
      - Commitment Plans
      operationId: microsoftAzureCommitmentplansPatch
      description: Patch an existing Azure ML commitment plan resource.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitmentPlan'
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommitmentPlanPatchPayload'
        description: The payload to use to patch the Azure ML commitment plan. Only tags and SKU may be modified on an existing commitment plan.
        required: true
  /subscriptions/{subscriptionId}/providers/Microsoft.MachineLearning/commitmentPlans:
    get:
      tags:
      - Commitment Plans
      operationId: microsoftAzureCommitmentplansList
      description: Retrieve all Azure ML commitment plans in a subscription.
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: $skipToken
        description: Continuation token for pagination.
        in: query
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/APIVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitmentPlanListResult'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/commitmentPlans:
    get:
      tags:
      - Commitment Plans
      operationId: microsoftAzureCommitmentplansListinresourcegroup
      description: Retrieve all Azure ML commitment plans in a resource group.
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/SkipTokenParameter'
      - $ref: '#/components/parameters/APIVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitmentPlanListResult'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/commitmentPlans/{commitmentPlanName}/usageHistory
  : get:
      tags:
      - Commitment Plans
      operationId: microsoftAzureUsagehistoryList
      description: Retrieve the usage history for an Azure ML commitment plan.
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/CommitmentPlanNameParameter'
      - $ref: '#/components/parameters/SkipTokenParameter'
      - $ref: '#/components/parameters/APIVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanUsageHistoryListResult'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  parameters:
    CommitmentPlanNameParameter:
      x-ms-parameter-location: method
      name: commitmentPlanName
      description: The Azure ML commitment plan name.
      in: path
      required: true
      schema:
        type: string
    SkipTokenParameter:
      x-ms-parameter-location: method
      name: $skipToken
      description: Continuation token for pagination.
      in: query
      required: false
      schema:
        type: string
    ResourceGroupNameParameter:
      x-ms-parameter-location: method
      name: resourceGroupName
      description: The resource group name.
      in: path
      required: true
      schema:
        type: string
    APIVersionParameter:
      name: api-version
      description: The version of the Microsoft.MachineLearning resource provider API to use.
      in: query
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      description: Azure Subscription ID.
      in: path
      required: true
      schema:
        type: string
  schemas:
    CommitmentPlanListResult:
      type: object
      description: A page of commitment plan resources.
      properties:
        nextLink:
          type: string
          description: A URI to retrieve the next page of results.
        value:
          type: array
          description: The set of results for this page.
          items:
            $ref: '#/components/schemas/CommitmentPlan'
    ResourceSku:
      type: object
      description: The SKU of a resource.
      properties:
        capacity:
          format: int32
          type: integer
          description: The scale-out capacity of the resource. 1 is 1x, 2 is 2x, etc. This impacts the quantities and cost of any commitment plan resource.
        name:
          type: string
          description: The SKU name. Along with tier, uniquely identifies the SKU.
        tier:
          type: string
          description: The SKU tier. Along with name, uniquely identifies the SKU.
    CommitmentPlan:
      type: object
      description: An Azure ML commitment plan resource.
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        etag:
          type: string
          description: An entity tag used to enforce optimistic concurrency.
        properties:
          description: The commitment plan properties.
          $ref: '#/components/schemas/CommitmentPlanProperties'
          readOnly: true
        sku:
          description: The commitment plan SKU.
          $ref: '#/components/schemas/ResourceSku'
    Resource:
      x-ms-azure-resource: true
      description: Common properties of an ARM resource.
      required:
      - location
      properties:
        id:
          description: Resource Id.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        location:
          description: Resource location.
          type: string
        type:
          description: Resource type.
          type: string
          readOnly: true
        tags:
          description: User-defined tags for the resource.
          $ref: '#/components/schemas/Tags'
    Tags:
      type: object
      description: Resource tags
      additionalProperties:
        type: string
    CommitmentPlanPatchPayload:
      type: object
      description: The properties of a commitment plan which may be updated via PATCH.
      properties:
        tags:
          description: User-defined tags for the commitment plan.
          $ref: '#/components/schemas/Tags'
        sku:
          description: The commitment plan SKU.
          $ref: '#/components/schemas/ResourceSku'
    PlanUsageHistoryListResult:
      type: object
      description: A page of usage history.
      properties:
        nextLink:
          type: string
          description: A URI to retrieve the next page of results.
        value:
          type: array
          description: The set of results for this page.
          items:
            $ref: '#/components/schemas/PlanUsageHistory'
          x-ms-identifiers: []
    PlanUsageHistory:
      type: object
      description: Represents historical information about usage of the Azure resources associated with a commitment plan.
      properties:
        planDeletionOverage:
          type: object
          description: Overage incurred as a result of deleting a commitment plan.
          additionalProperties:
            format: double
            type: number
        planMigrationOverage:
          type: object
          description: Overage incurred as a result of migrating a commitment plan from one SKU to another.
          additionalProperties:
            format: double
            type: number
        planQuantitiesAfterUsage:
          type: object
          description: Included quantities remaining after usage against the commitment plan's associated resources was calculated.
          additionalProperties:
            format: double
            type: number
        planQuantitiesBeforeUsage:
          type: object
          description: Included quantities remaining before usage against the commitment plan's associated resources was calculated.
          additionalProperties:
            format: double
            type: number
        planUsageOverage:
          type: object
          description: Usage against the commitment plan's associated resources which was not covered by included quantities and is therefore overage.
          additionalProperties:
            format: double
            type: number
        usage:
          type: object
          description: Usage against the commitment plan's associated resources.
          additionalProperties:
            format: double
            type: number
        usageDate:
          format: date-time
          type: string
          description: The date of usage, in ISO 8601 format.
    CommitmentPlanProperties:
      type: object
      description: Properties of an Azure ML commitment plan.
      properties:
        chargeForOverage:
          type: boolean
          description: Indicates whether usage beyond the commitment plan's included quantities will be charged.
          readOnly: true
        chargeForPlan:
          type: boolean
          description: Indicates whether the commitment plan will incur a charge.
          readOnly: true
        creationDate:
          format: date-time
          type: string
          description: The date at which this commitment plan was created, in ISO 8601 format.
          readOnly: true
        includedQuantities:
          type: object
          description: The included resource quantities this plan gives you.
          additionalProperties:
            $ref: '#/components/schemas/PlanQuantity'
          readOnly: true
        maxAssociationLimit:
          format: int32
          type: integer
          description: The maximum number of commitment associations that can be children of this commitment plan.
          readOnly: true
        maxCapacityLimit:
          format: int32
          type: integer
          description: The maximum scale-out capacity for this commitment plan.
          readOnly: true
        minCapacityLimit:
          format: int32
          type: integer
          description: The minimum scale-out capacity for this commitment plan.
          readOnly: true
        planMeter:
          type: string
          description: The Azure meter which will be used to charge for this commitment plan.
          readOnly: true
        refillFrequencyInDays:
          format: int32
          type: integer
          description: The frequency at which this commitment plan's included quantities are refilled.
          readOnly: true
        suspendPlanOnOverage:
          type: boolean
          description: Indicates whether this commitment plan will be moved into a suspended state if usage goes beyond the commitment plan's included quantities.
          readOnly: true
    PlanQuantity:
      type: object
      description: Represents the quantity a commitment plan provides of a metered resource.
      properties:
        allowance:
          format: double
          type: number
          description: The quantity added to the commitment plan at an interval specified by its allowance frequency.
          readOnly: true
        amount:
          format: double
          type: number
          description: The quantity available to the plan the last time usage was calculated.
          readOnly: true
        includedQuantityMeter:
          type: string
          description: The Azure meter for usage against included quantities.
          readOnly: true
        overageMeter:
          type: string
          description: The Azure meter for usage which exceeds included quantities.
          readOnly: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
