openapi: 3.2.0
info:
  title: Microsoft Azure OffAzureSpringBoot Springbootapps API
  description: The Microsoft.OffAzureSpringBoot Rest API spec.
  version: 2024-04-01-preview
servers:
- url: https://management.azure.com
tags:
- name: Springbootapps
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzureSpringBoot/springbootsites/{siteName}/springbootapps/{springbootappsName}
  : get:
      tags:
      - Springbootapps
      operationId: microsoftAzureSpringbootappsGet
      description: Get a springbootapps resource.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/SiteNameParameter'
      - $ref: '#/components/parameters/springbootappsNameParameter'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Retrieves the springbootapps resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/springbootappsModel'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        springbootapps_Get_MaximumSet_Gen:
          $ref: ./examples/springbootapps_Get_MaximumSet_Gen.json
        springbootapps_Get_MinimumSet_Gen:
          $ref: ./examples/springbootapps_Get_MinimumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Springbootapps
      operationId: microsoftAzureSpringbootappsCreateorupdate
      description: Create a springbootapps resource.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/SiteNameParameter'
      - $ref: '#/components/parameters/springbootappsNameParameter'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Creates the springbootapps resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/springbootappsModel'
        '201':
          description: Creates the springbootapps resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/springbootappsModel'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        springbootapps_CreateOrUpdate_MaximumSet_Gen:
          $ref: ./examples/springbootapps_CreateOrUpdate_MaximumSet_Gen.json
        springbootapps_CreateOrUpdate_MinimumSet_Gen:
          $ref: ./examples/springbootapps_CreateOrUpdate_MinimumSet_Gen.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/springbootappsModel'
        description: Create a springbootapps payload.
        required: true
    delete:
      tags:
      - Springbootapps
      operationId: microsoftAzureSpringbootappsDelete
      description: Delete a springbootapps resource.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/SiteNameParameter'
      - $ref: '#/components/parameters/springbootappsNameParameter'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '202':
          description: Deletes the springbootapps resource.
          headers:
            Location:
              schema:
                type: string
        '204':
          description: Deletes the springbootapps resource.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        springbootapps_Delete_MaximumSet_Gen:
          $ref: ./examples/springbootapps_Delete_MaximumSet_Gen.json
        springbootapps_Delete_MinimumSet_Gen:
          $ref: ./examples/springbootapps_Delete_MinimumSet_Gen.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    patch:
      tags:
      - Springbootapps
      operationId: microsoftAzureSpringbootappsUpdate
      description: Update a springbootapps resource.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/SiteNameParameter'
      - $ref: '#/components/parameters/springbootappsNameParameter'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Updates the springbootapps resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/springbootappsModel'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        springbootapps_Update_MaximumSet_Gen:
          $ref: ./examples/springbootapps_Update_MaximumSet_Gen.json
        springbootapps_Update_MinimumSet_Gen:
          $ref: ./examples/springbootapps_Update_MinimumSet_Gen.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/springbootappsPatch'
        description: Update a springbootapps payload.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzureSpringBoot/springbootsites/{siteName}/springbootapps
  : get:
      tags:
      - Springbootapps
      operationId: microsoftAzureSpringbootappsListbyresourcegroup
      description: List springbootapps resource by resourceGroup
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/SiteNameParameter'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Lists all springbootapps under the resource group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/springbootappsListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        springbootapps_ListByResourceGroup_MaximumSet_Gen:
          $ref: ./examples/springbootapps_ListByResourceGroup_MaximumSet_Gen.json
        springbootapps_ListByResourceGroup_MinimumSet_Gen:
          $ref: ./examples/springbootapps_ListByResourceGroup_MinimumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/providers/Microsoft.OffAzureSpringBoot/springbootsites/{siteName}/springbootapps:
    get:
      tags:
      - Springbootapps
      operationId: microsoftAzureSpringbootappsListbysubscription
      description: List springbootapps resource by subscription
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/SiteNameParameter'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Lists all springbootapps under the subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/springbootappsListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        springbootapps_ListBySubscription_MaximumSet_Gen:
          $ref: ./examples/springbootapps_ListBySubscription_MaximumSet_Gen.json
        springbootapps_ListBySubscription_MinimumSet_Gen:
          $ref: ./examples/springbootapps_ListBySubscription_MinimumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
components:
  parameters:
    SiteNameParameter:
      x-ms-parameter-location: method
      name: siteName
      in: path
      required: true
      description: The springbootsites name.
      schema:
        type: string
        maxLength: 64
        minLength: 3
        pattern: ^[a-z][a-z0-9-]*$
    springbootappsNameParameter:
      x-ms-parameter-location: method
      name: springbootappsName
      in: path
      required: true
      description: The springbootapps name.
      schema:
        type: string
        maxLength: 64
        minLength: 3
        pattern: ^[A-Za-z0-9][A-Za-z0-9-]*$
  schemas:
    springbootappsPatch:
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
      properties:
        properties:
          $ref: '#/components/schemas/springbootappsProperties'
          description: The springbootapps resource definition.
      description: The springbootapps resource patch definition.
    Error:
      type: object
      description: Defines the error.
      properties:
        id:
          description: The error ID.
          type: integer
          format: int64
        code:
          description: The error code.
          type: string
        summaryMessage:
          description: The summarized error message.
          type: string
        runAsAccountId:
          description: The account ID used to login.
          type: string
        message:
          description: The detailed error message.
          type: string
        possibleCauses:
          description: The error possible causes.
          type: string
        recommendedAction:
          description: The error recommended action
          type: string
        severity:
          description: The error severity
          type: string
        updatedTimeStamp:
          description: Time when this error was last updated.
          type: string
          format: date-time
    springbootappsProperties:
      type: object
      properties:
        appName:
          type: string
          description: The name of SpringBootApp.
        artifactName:
          type: string
          description: The artifact name of SpringBootApp.
        appPort:
          type: integer
          format: int32
          description: The application port.
        appType:
          type: string
          description: The application type, whether it is a SpringBoot app.
        applicationConfigurations:
          type: array
          x-ms-identifiers: []
          description: The application configuration file list.
          items:
            type: object
            properties:
              key:
                type: string
                description: The application config file name.
              value:
                type: string
                description: The application config file content, only contains config keys.
            required:
            - key
        bindingPorts:
          type: array
          description: The application binding port list.
          items:
            type: integer
            format: int32
        buildJdkVersion:
          type: string
          description: The jdk version in build.
        certificates:
          type: array
          description: The certificate file list.
          items:
            type: string
        checksum:
          type: string
          description: The checksum of jar file.
        dependencies:
          type: array
          items:
            type: string
          description: The dependency list.
        environments:
          type: array
          items:
            type: string
          description: The environment variable list.
        instanceCount:
          type: integer
          format: int32
          description: The total instance count the app deployed.
        jarFileLocation:
          type: string
          description: The jar file location on the server.
        jvmMemoryInMB:
          type: integer
          format: int32
          description: The jvm heap memory allocated.
        jvmOptions:
          type: array
          items:
            type: string
          description: The jvm options.
        miscs:
          type: array
          x-ms-identifiers: []
          items:
            type: object
            properties:
              key:
                type: string
                description: The miscs. key.
              value:
                type: string
                description: The miscs. value.
            required:
            - key
          description: The other types of date collected.
        instances:
          type: array
          x-ms-identifiers: []
          items:
            type: object
            properties:
              machineArmId:
                type: string
                description: The machine ARM resource Id of this app instance
              instanceCount:
                type: integer
                format: int32
                description: The instance count of this app instance
              jvmMemoryInMB:
                type: integer
                format: int32
                description: The jvm heap memory allocated of this app instance
            required:
            - machineArmId
          description: The breakdown info for app instances on all the servers
        runtimeJdkVersion:
          type: string
          description: The jdk version installed on server
        servers:
          type: array
          items:
            type: string
          description: The server list the app installed
        machineArmIds:
          type: array
          items:
            type: string
          description: The machine ARM id list the app belongs to.
        springBootVersion:
          type: string
          description: The spring boot version.
        staticContentLocations:
          type: array
          items:
            type: string
          description: The static content location list.
        connectionStrings:
          type: array
          items:
            type: string
          description: The connection string list.
        lastModifiedTime:
          description: Time when this springbootapps jar file was last modified.
          type: string
          format: date-time
        lastUpdatedTime:
          description: Time when this springbootapps instance was last refreshed.
          type: string
          format: date-time
        provisioningState:
          type: string
          readOnly: true
          description: The resource provisioning state.
          enum:
          - Unknown
          - Succeeded
          - Failed
          - Canceled
          - Accepted
          - Provisioning
          - Deleting
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
        errors:
          description: The list of errors.
          type: array
          items:
            description: The error
            $ref: '#/components/schemas/Error'
        labels:
          type: object
          additionalProperties:
            type: string
          description: Resource labels
      description: The springbootapps resource definition.
    springbootappsListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/springbootappsModel'
          description: The springbootsites list.
        nextLink:
          type: string
          description: The link used to get the next page of springbootapps resources list.
      description: The springbootapps list resource definition.
    springbootappsModel:
      type: object
      x-ms-azure-resource: true
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
      properties:
        properties:
          $ref: '#/components/schemas/springbootappsProperties'
          description: The springbootapps resource definition.
      description: The springbootapps envelope resource definition.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
