openapi: 3.2.0
info:
  version: '2018-10-15'
  title: Microsoft Azure ManagedLabsClient Lab Accounts API
  description: The Managed Labs Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: LabAccounts
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.LabServices/labaccounts:
    get:
      tags:
      - LabAccounts
      description: List lab accounts in a subscription.
      operationId: microsoftAzureLabaccountsListbysubscription
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: $expand
        in: query
        description: 'Specify the $expand query. Example: ''properties($expand=sizeConfiguration)'''
        required: false
        schema:
          type: string
      - name: $filter
        in: query
        description: The filter to apply to the operation.
        required: false
        schema:
          type: string
      - name: $top
        in: query
        description: The maximum number of resources to return from the operation.
        required: false
        schema:
          type: integer
          format: int32
      - name: $orderby
        in: query
        description: The ordering expression for the results, using OData notation.
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_LabAccount'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/LabAccount'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts:
    get:
      tags:
      - LabAccounts
      description: List lab accounts in a resource group.
      operationId: microsoftAzureLabaccountsListbyresourcegroup
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - name: $expand
        in: query
        description: 'Specify the $expand query. Example: ''properties($expand=sizeConfiguration)'''
        required: false
        schema:
          type: string
      - name: $filter
        in: query
        description: The filter to apply to the operation.
        required: false
        schema:
          type: string
      - name: $top
        in: query
        description: The maximum number of resources to return from the operation.
        required: false
        schema:
          type: integer
          format: int32
      - name: $orderby
        in: query
        description: The ordering expression for the results, using OData notation.
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_LabAccount'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/LabAccount'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}
  : get:
      tags:
      - LabAccounts
      description: Get lab account
      operationId: microsoftAzureLabaccountsGet
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        schema:
          type: string
      - name: $expand
        in: query
        description: 'Specify the $expand query. Example: ''properties($expand=sizeConfiguration)'''
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabAccount'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - LabAccounts
      description: Create or replace an existing Lab Account.
      operationId: microsoftAzureLabaccountsCreateorupdate
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabAccount'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabAccount'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabAccount'
        description: Represents a lab account.
        required: true
    delete:
      tags:
      - LabAccounts
      description: Delete lab account. This operation can take a while to complete
      operationId: microsoftAzureLabaccountsDelete
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    patch:
      tags:
      - LabAccounts
      description: Modify properties of lab accounts.
      operationId: microsoftAzureLabaccountsUpdate
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabAccount'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabAccountFragment'
        description: Represents a lab account.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/createLab
  : post:
      tags:
      - LabAccounts
      description: Create a lab in a lab account.
      operationId: microsoftAzureLabaccountsCreatelab
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLabProperties'
        description: Properties for creating a managed lab and a default environment setting
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/getRegionalAvailability
  : post:
      tags:
      - LabAccounts
      description: Get regional availability information for each size category configured under a lab account
      operationId: microsoftAzureLabaccountsGetregionalavailability
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRegionalAvailabilityResponse'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    SizeInfo:
      description: Contains detailed information about a size
      type: object
      properties:
        computeSize:
          description: Represents the actual compute size, e.g. Standard_A2_v2.
          type: string
        price:
          format: decimal
          description: The pay-as-you-go price per hour this size will cost. It does not include discounts and may not reflect the actual price the size will cost.
          type: number
        numberOfCores:
          format: int32
          description: The number of cores a VM of this size has.
          type: integer
        memory:
          format: double
          description: The amount of memory available (in GB).
          type: number
    SizeConfigurationProperties:
      description: Represents the size configuration under the lab account
      type: object
      properties:
        environmentSizes:
          description: Represents a list of size categories supported by this Lab Account (Small, Medium, Large)
          type: array
          items:
            $ref: '#/components/schemas/EnvironmentSize'
    LabAccount:
      description: Represents a lab account.
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/LabAccountProperties'
          description: The properties of the resource.
          x-ms-client-flatten: true
    CloudErrorBody:
      description: Body of an error from a REST request.
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          description: Inner errors.
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
      x-ms-external: true
    LabAccountProperties:
      description: Properties of a Lab Account.
      type: object
      properties:
        sizeConfiguration:
          $ref: '#/components/schemas/SizeConfigurationProperties'
          description: Represents the size configuration under the lab account
          readOnly: true
        enabledRegionSelection:
          description: Represents if region selection is enabled
          type: boolean
        provisioningState:
          description: The provisioning status of the resource.
          type: string
        uniqueIdentifier:
          description: The unique immutable identifier of a resource (Guid).
          type: string
        latestOperationResult:
          $ref: '#/components/schemas/LatestOperationResult'
          description: 'The details of the latest operation. ex: status, error'
          readOnly: true
    RegionalAvailability:
      description: The availability information of sizes across regions
      type: object
      properties:
        region:
          description: Corresponding region
          type: string
        sizeAvailabilities:
          description: List of all the size information for the region
          type: array
          items:
            $ref: '#/components/schemas/SizeAvailability'
    EnvironmentSize:
      description: Represents a size category supported by this Lab Account (small, medium or large)
      type: object
      properties:
        name:
          description: The size category
          enum:
          - Basic
          - Standard
          - Performance
          type: string
          x-ms-enum:
            name: ManagedLabVmSize
            modelAsString: true
            values:
            - value: Basic
              description: The base VM size
            - value: Standard
              description: The standard or default VM size
            - value: Performance
              description: The most performant VM size
        vmSizes:
          description: Represents a set of compute sizes that can serve this given size type
          type: array
          items:
            $ref: '#/components/schemas/SizeInfo'
        maxPrice:
          format: decimal
          description: The pay-as-you-go dollar price per hour this size will cost. It does not include discounts and may not reflect the actual price the size will cost. This is the maximum price of all prices within this tier.
          type: number
          readOnly: true
        minNumberOfCores:
          format: int32
          description: The number of cores a VM of this size has. This is the minimum number of cores within this tier.
          type: integer
          readOnly: true
        minMemory:
          format: double
          description: The amount of memory available (in GB). This is the minimum amount of memory within this tier.
          type: number
          readOnly: true
    ReferenceVmCreationParameters:
      description: Creation parameters for Reference Vm
      required:
      - userName
      - password
      type: object
      properties:
        userName:
          description: The username of the virtual machine
          type: string
        password:
          description: The password of the virtual machine.
          type: string
    LabAccountPropertiesFragment:
      description: Properties of a Lab Account.
      type: object
      properties:
        enabledRegionSelection:
          description: Represents if region selection is enabled
          type: boolean
        provisioningState:
          description: The provisioning status of the resource.
          type: string
        uniqueIdentifier:
          description: The unique immutable identifier of a resource (Guid).
          type: string
    SizeAvailability:
      description: Represents the size information
      type: object
      properties:
        sizeCategory:
          description: The category of the size (Basic, Standard, Performance).
          enum:
          - Basic
          - Standard
          - Performance
          type: string
          x-ms-enum:
            name: ManagedLabVmSize
            modelAsString: true
            values:
            - value: Basic
              description: The base VM size
            - value: Standard
              description: The standard or default VM size
            - value: Performance
              description: The most performant VM size
        isAvailable:
          description: Whether or not this size category is available
          type: boolean
    ResponseWithContinuation_LabAccount:
      description: The response of a list operation.
      type: object
      properties:
        value:
          description: Results of the list operation.
          type: array
          items:
            $ref: '#/components/schemas/LabAccount'
        nextLink:
          description: Link for next set of results.
          type: string
    LabAccountFragment:
      description: Represents a lab account.
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/LabAccountPropertiesFragment'
          description: The properties of the resource.
          x-ms-client-flatten: true
    EnvironmentSettingCreationParameters:
      description: Settings related to creating an environment setting
      required:
      - resourceSettingCreationParameters
      type: object
      properties:
        resourceSettingCreationParameters:
          $ref: '#/components/schemas/ResourceSettingCreationParameters'
          description: The resource specific settings
    LatestOperationResult:
      description: Details of the status of an operation.
      type: object
      properties:
        status:
          description: The current status of the operation.
          type: string
          readOnly: true
        errorCode:
          description: Error code on failure.
          type: string
          readOnly: true
        errorMessage:
          description: The error message.
          type: string
          readOnly: true
        requestUri:
          description: Request URI of the operation.
          type: string
          readOnly: true
        httpMethod:
          description: The HttpMethod - PUT/POST/DELETE for the operation.
          type: string
          readOnly: true
        operationUrl:
          description: The URL to use to check long-running operation status
          type: string
          readOnly: true
    GetRegionalAvailabilityResponse:
      description: The response model from the GetRegionalAvailability action
      type: object
      properties:
        regionalAvailability:
          description: Availability information for different size categories per region
          type: array
          items:
            $ref: '#/components/schemas/RegionalAvailability'
    ResourceSettingCreationParameters:
      description: Represents resource specific settings
      required:
      - galleryImageResourceId
      - referenceVmCreationParameters
      type: object
      properties:
        location:
          description: The location where the virtual machine will live
          type: string
        name:
          description: The name of the resource setting
          type: string
        galleryImageResourceId:
          description: The resource id of the gallery image used for creating the virtual machine
          type: string
        size:
          description: The size of the virtual machine
          enum:
          - Basic
          - Standard
          - Performance
          type: string
          x-ms-enum:
            name: ManagedLabVmSize
            modelAsString: true
            values:
            - value: Basic
              description: The base VM size
            - value: Standard
              description: The standard or default VM size
            - value: Performance
              description: The most performant VM size
        referenceVmCreationParameters:
          $ref: '#/components/schemas/ReferenceVmCreationParameters'
          description: Creation parameters for Reference Vm
    Resource:
      description: An Azure resource.
      type: object
      properties:
        id:
          description: The identifier of the resource.
          type: string
          readOnly: true
        name:
          description: The name of the resource.
          type: string
          readOnly: true
        type:
          description: The type of the resource.
          type: string
          readOnly: true
        location:
          description: The location of the resource.
          type: string
        tags:
          description: The tags of the resource.
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
    CloudError:
      description: Error from a REST request.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
      x-ms-external: true
    LabCreationParameters:
      description: Settings related to creating a lab
      type: object
      properties:
        maxUsersInLab:
          format: int32
          description: Maximum number of users allowed in the lab.
          type: integer
    CreateLabProperties:
      description: Properties for creating a managed lab and a default environment setting
      required:
      - labCreationParameters
      - name
      type: object
      properties:
        environmentSettingCreationParameters:
          $ref: '#/components/schemas/EnvironmentSettingCreationParameters'
          description: Settings related to creating an environment setting
        labCreationParameters:
          $ref: '#/components/schemas/LabCreationParameters'
          description: Settings related to creating a lab
        name:
          description: The name of the resource
          type: string
        location:
          description: The location of the resource
          type: string
        tags:
          description: The tags of the resource.
          type: object
          additionalProperties:
            type: string
  parameters:
    api-version:
      name: api-version
      in: query
      description: Client API version.
      required: true
      schema:
        type: string
        default: '2018-10-15'
    subscriptionId:
      name: subscriptionId
      in: path
      description: The subscription ID.
      required: true
      schema:
        type: string
    resourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: Access Microsoft Azure
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: OAuth2 Implicit Grant
