openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft.IoTOperationsMQ management…
  version: 2023-10-04-preview
  description: Microsoft.IoTOperationsMQ Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: KafkaConnector
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTOperationsMQ/mq/{mqName}/kafkaConnector
  : get:
      operationId: microsoftAzureKafkaconnectorListbymqresource
      tags:
      - KafkaConnector
      description: List KafkaConnectorResource resources by MqResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: mqName
        in: path
        description: Name of MQ resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KafkaConnectorResourceListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        KafkaConnector_ListByMqResource:
          $ref: ./examples/KafkaConnector_ListByMqResource_MaximumSet_Gen.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTOperationsMQ/mq/{mqName}/kafkaConnector/{kafkaConnectorName}
  : get:
      operationId: microsoftAzureKafkaconnectorGet
      tags:
      - KafkaConnector
      description: Get a KafkaConnectorResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: mqName
        in: path
        description: Name of MQ resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: kafkaConnectorName
        in: path
        description: Name of MQ kafkaConnector resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KafkaConnectorResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        KafkaConnector_Get:
          $ref: ./examples/KafkaConnector_Get_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      operationId: microsoftAzureKafkaconnectorCreateorupdate
      tags:
      - KafkaConnector
      description: Create a KafkaConnectorResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: mqName
        in: path
        description: Name of MQ resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: kafkaConnectorName
        in: path
        description: Name of MQ kafkaConnector resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Resource 'KafkaConnectorResource' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KafkaConnectorResource'
        '201':
          description: Resource 'KafkaConnectorResource' create operation succeeded
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KafkaConnectorResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        KafkaConnector_CreateOrUpdate:
          $ref: ./examples/KafkaConnector_CreateOrUpdate_MaximumSet_Gen.json
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KafkaConnectorResource'
        description: Resource create parameters.
        required: true
    patch:
      operationId: microsoftAzureKafkaconnectorUpdate
      tags:
      - KafkaConnector
      description: Update a KafkaConnectorResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: mqName
        in: path
        description: Name of MQ resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: kafkaConnectorName
        in: path
        description: Name of MQ kafkaConnector resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KafkaConnectorResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        KafkaConnector_Update:
          $ref: ./examples/KafkaConnector_Update_MaximumSet_Gen.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KafkaConnectorResourceUpdate'
        description: The resource properties to be updated.
        required: true
    delete:
      operationId: microsoftAzureKafkaconnectorDelete
      tags:
      - KafkaConnector
      description: Delete a KafkaConnectorResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: mqName
        in: path
        description: Name of MQ resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: kafkaConnectorName
        in: path
        description: Name of MQ kafkaConnector resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        KafkaConnector_Delete:
          $ref: ./examples/KafkaConnector_Delete_MaximumSet_Gen.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    NodeTolerationsUpdate:
      type: object
      description: Defines the Node Tolerations details
      properties:
        effect:
          type: string
          description: Toleration effect.
        key:
          type: string
          description: Toleration key.
        operator:
          type: string
          description: Toleration operator like 'Exists', 'Equal' etc.
        value:
          type: string
          description: Toleration Value.
    LocalBrokerConnectionSpec:
      type: object
      description: Mqtt Local Broker ConnectionSpec details
      properties:
        authentication:
          $ref: '#/components/schemas/LocalBrokerAuthenticationMethods'
          description: The authentication methods for LocalBroker connection. NOTE - Enum only one method at a time is supported.
        endpoint:
          type: string
          description: The endpoint of local broker to connect to.
          default: aio-mq-dmqtt-frontend:1883
        tls:
          $ref: '#/components/schemas/LocalBrokerConnectionTls'
          description: TLS details for Local broker Connection.
    KafkaRemoteBrokerAuthenticationProperties:
      type: object
      description: Kafka RemoteBrokerConnection Authentication methods
      properties:
        authType:
          $ref: '#/components/schemas/KafkaRemoteBrokerAuthenticationTypes'
          description: The type of authentication to use for Kafka remote broker.
        enabled:
          type: boolean
          description: If authentication is enabled for Kafka remote broker.
      required:
      - enabled
    LocalBrokerKubernetesAuthentication:
      type: object
      description: Local Broker Kubernetes Authentication
      properties:
        secretPath:
          type: string
          description: Secret Path where SAT is mounted.
          default: /var/run/serviceaccount/localbroker
        serviceAccountTokenName:
          type: string
          description: Token name where SAT is mounted on secret path.
          default: sat
    LocalBrokerConnectionTls:
      type: object
      description: Mqtt Local Broker Connection TLS details
      properties:
        tlsEnabled:
          type: boolean
          description: Tls Enabled on Local Broker Connection.
          default: false
        trustedCaCertificateConfigMap:
          type: string
          description: Trusted CA certificate config map name for Local Broker.
    LocalBrokerAuthenticationMethods:
      type: object
      description: Mqtt Local Broker Authentication details. Only one method at a time is supported. Default - kubernetes authentication
      properties:
        kubernetes:
          $ref: '#/components/schemas/LocalBrokerKubernetesAuthentication'
          description: Kubernetes local broker authentication method.
      required:
      - kubernetes
    LocalBrokerAuthenticationMethodsUpdate:
      type: object
      description: Mqtt Local Broker Authentication details. Only one method at a time is supported. Default - kubernetes authentication
      properties:
        kubernetes:
          $ref: '#/components/schemas/LocalBrokerKubernetesAuthentication'
          description: Kubernetes local broker authentication method.
    KafkaRemoteBrokerConnectionSpecUpdate:
      type: object
      description: Kafka RemoteBrokerConnectionSpec details
      properties:
        authentication:
          $ref: '#/components/schemas/KafkaRemoteBrokerAuthenticationPropertiesUpdate'
          description: The remote broker authentication methods.
        endpoint:
          type: string
          description: The endpoint of remote broker to connect to.
        tls:
          $ref: '#/components/schemas/KafkaRemoteBrokerConnectionTlsUpdate'
          description: TLS details for Remote broker Connection.
    KafkaRemoteBrokerAuthenticationTypesUpdate:
      type: object
      description: Kafka RemoteBrokerConnection Authentication types. NOTE - Enum only one method is allowed to be passed.
      properties:
        sasl:
          $ref: '#/components/schemas/SaslRemoteBrokerBasicAuthenticationUpdate'
          description: Sasl remote broker authentication method.
        systemAssignedManagedIdentity:
          $ref: '#/components/schemas/ManagedIdentityAuthenticationUpdate'
          description: Managed identity remote broker authentication method.
        x509:
          $ref: '#/components/schemas/KafkaX509AuthenticationUpdate'
          description: X509 remote broker authentication method.
    ManagedIdentityAuthenticationUpdate:
      type: object
      description: Managed identity authentication details.
      properties:
        audience:
          type: string
          description: Token audience.
        extensionName:
          type: string
          description: Arc Extension name.
    ManagedIdentityAuthentication:
      type: object
      description: Managed identity authentication details.
      properties:
        audience:
          type: string
          description: Token audience.
        extensionName:
          type: string
          description: Arc Extension name.
      required:
      - audience
    SaslRemoteBrokerBasicAuthenticationToken:
      type: object
      description: Kafka RemoteBrokerConnection Sasl Authentication token properties. NOTE - Enum only one method is allowed to be passed.
      properties:
        keyVault:
          $ref: '#/components/schemas/KafkaTokenKeyVaultProperties'
          description: Keyvault token keyvault secret properties.
        secretName:
          type: string
          description: Secret where cert details are stored.
    KafkaRemoteBrokerConnectionTlsUpdate:
      type: object
      description: Kafka RemoteBrokerConnection TLS details
      properties:
        tlsEnabled:
          type: boolean
          description: Tls Enabled on Remote Broker Connection.
        trustedCaCertificateConfigMap:
          type: string
          description: Trusted CA certificate name for Remote Broker.
    KafkaTokenKeyVaultProperties:
      type: object
      description: Kafka Token KeyVault properties.
      properties:
        username:
          type: string
          description: Username to connect with.
        vault:
          $ref: '#/components/schemas/KeyVaultConnectionProperties'
          description: KeyVault properties.
        vaultSecret:
          $ref: '#/components/schemas/KeyVaultSecretObject'
          description: KeyVault secret details.
      required:
      - vault
      - vaultSecret
    KafkaRemoteBrokerAuthenticationTypes:
      type: object
      description: Kafka RemoteBrokerConnection Authentication types. NOTE - Enum only one method is allowed to be passed.
      properties:
        sasl:
          $ref: '#/components/schemas/SaslRemoteBrokerBasicAuthentication'
          description: Sasl remote broker authentication method.
        systemAssignedManagedIdentity:
          $ref: '#/components/schemas/ManagedIdentityAuthentication'
          description: Managed identity remote broker authentication method.
        x509:
          $ref: '#/components/schemas/KafkaX509Authentication'
          description: X509 remote broker authentication method.
    LocalBrokerConnectionSpecUpdate:
      type: object
      description: Mqtt Local Broker ConnectionSpec details
      properties:
        authentication:
          $ref: '#/components/schemas/LocalBrokerAuthenticationMethodsUpdate'
          description: The authentication methods for LocalBroker connection. NOTE - Enum only one method at a time is supported.
        endpoint:
          type: string
          description: The endpoint of local broker to connect to.
          default: aio-mq-dmqtt-frontend:1883
        tls:
          $ref: '#/components/schemas/LocalBrokerConnectionTls'
          description: TLS details for Local broker Connection.
    KeyVaultConnectionPropertiesUpdate:
      type: object
      description: KeyVault properties
      properties:
        credentials:
          $ref: '#/components/schemas/KeyVaultCredentialsPropertiesUpdate'
          description: KeyVault credentials.
        directoryId:
          type: string
          description: KeyVault directoryId.
        name:
          type: string
          description: KeyVault name.
    ProvisioningState:
      type: string
      description: The enum defining status of resource.
      enum:
      - Succeeded
      - Failed
      - Canceled
      - Provisioning
      - Updating
      - Deleting
      - Accepted
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: Succeeded
          value: Succeeded
          description: Resource has been created.
        - name: Failed
          value: Failed
          description: Resource creation failed.
        - name: Canceled
          value: Canceled
          description: Resource creation was canceled.
        - name: Provisioning
          value: Provisioning
          description: Resource is getting provisioned.
        - name: Updating
          value: Updating
          description: Resource is Updating.
        - name: Deleting
          value: Deleting
          description: Resource is Deleting.
        - name: Accepted
          value: Accepted
          description: Resource has been Accepted.
    KeyVaultSecretObjectUpdate:
      type: object
      description: KeyVault secret object properties
      properties:
        name:
          type: string
          description: KeyVault secret name.
        version:
          type: string
          description: KeyVault secret version.
    KeyVaultCertificateProperties:
      type: object
      description: KeyVault certificate properties
      properties:
        vault:
          $ref: '#/components/schemas/KeyVaultConnectionProperties'
          description: KeyVault properties.
        vaultCaChainSecret:
          $ref: '#/components/schemas/KeyVaultSecretObject'
          description: KeyVault CA chain secret details.
        vaultCert:
          $ref: '#/components/schemas/KeyVaultSecretObject'
          description: KeyVault Cert secret details.
      required:
      - vault
      - vaultCert
    ExtendedLocationType:
      type: string
      description: The enum defining type of ExtendedLocation accepted.
      enum:
      - CustomLocation
      x-ms-enum:
        name: ExtendedLocationType
        modelAsString: true
        values:
        - name: CustomLocation
          value: CustomLocation
          description: CustomLocation type
    KafkaSaslType:
      type: string
      description: Kafka Sasl Authentication types
      enum:
      - plain
      - scramSha256
      - scramSha512
      x-ms-enum:
        name: KafkaSaslType
        modelAsString: true
        values:
        - name: plain
          value: plain
          description: Sasl Plain authentication.
        - name: scramSha256
          value: scramSha256
          description: Sasl ScramSha256 authentication.
        - name: scramSha512
          value: scramSha512
          description: Sasl ScramSha512 authentication.
    KafkaConnectorResourceListResult:
      type: object
      description: The response of a KafkaConnectorResource list operation.
      properties:
        value:
          type: array
          description: The KafkaConnectorResource items on this page
          items:
            $ref: '#/components/schemas/KafkaConnectorResource'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    NodeTolerations:
      type: object
      description: Defines the Node Tolerations details
      properties:
        effect:
          type: string
          description: Toleration effect.
        key:
          type: string
          description: Toleration key.
        operator:
          type: string
          description: Toleration operator like 'Exists', 'Equal' etc.
        value:
          type: string
          description: Toleration Value.
      required:
      - effect
      - key
      - operator
      - value
    KeyVaultCertificatePropertiesUpdate:
      type: object
      description: KeyVault certificate properties
      properties:
        vault:
          $ref: '#/components/schemas/KeyVaultConnectionPropertiesUpdate'
          description: KeyVault properties.
        vaultCaChainSecret:
          $ref: '#/components/schemas/KeyVaultSecretObjectUpdate'
          description: KeyVault CA chain secret details.
        vaultCert:
          $ref: '#/components/schemas/KeyVaultSecretObjectUpdate'
          description: KeyVault Cert secret details.
    KeyVaultCredentialsProperties:
      type: object
      description: KeyVault credentials properties. NOTE - Future this will be ENUM.
      properties:
        servicePrincipalLocalSecretName:
          type: string
          description: KeyVault service principal local secret name.
      required:
      - servicePrincipalLocalSecretName
    SaslRemoteBrokerBasicAuthenticationUpdate:
      type: object
      description: Kafka RemoteBrokerConnection Sasl Authentication properties.
      properties:
        saslType:
          $ref: '#/components/schemas/KafkaSaslType'
          description: Sasl Mechanism for remote broker authentication.
        token:
          $ref: '#/components/schemas/SaslRemoteBrokerBasicAuthenticationTokenUpdate'
          description: Sasl token for remote broker authentication.
    ContainerImageUpdate:
      type: object
      description: Defines the Docker image details
      properties:
        pullPolicy:
          type: string
          description: Image pull policy.
        pullSecrets:
          type: string
          description: Image pull secrets.
        repository:
          type: string
          description: The Docker image name.
        tag:
          type: string
          description: The Docker  image tag.
    KeyVaultCredentialsPropertiesUpdate:
      type: object
      description: KeyVault credentials properties. NOTE - Future this will be ENUM.
      properties:
        servicePrincipalLocalSecretName:
          type: string
          description: KeyVault service principal local secret name.
    KafkaConnectorResource:
      type: object
      description: MQ kafkaConnector resource
      properties:
        properties:
          $ref: '#/components/schemas/KafkaConnectorProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
        extendedLocation:
          $ref: '#/components/schemas/ExtendedLocationProperty'
          description: Extended Location
          x-ms-mutability:
          - read
          - create
      required:
      - extendedLocation
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
    SaslRemoteBrokerBasicAuthenticationTokenUpdate:
      type: object
      description: Kafka RemoteBrokerConnection Sasl Authentication token properties. NOTE - Enum only one method is allowed to be passed.
      properties:
        keyVault:
          $ref: '#/components/schemas/KafkaTokenKeyVaultPropertiesUpdate'
          description: Keyvault token keyvault secret properties.
        secretName:
          type: string
          description: Secret where cert details are stored.
    KeyVaultSecretObject:
      type: object
      description: KeyVault secret object properties
      properties:
        name:
          type: string
          description: KeyVault secret name.
        version:
          type: string
          description: KeyVault secret version.
      required:
      - name
    KafkaConnectorResourceUpdate:
      type: object
      description: The type used for update operations of the KafkaConnectorResource.
      properties:
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
        properties:
          $ref: '#/components/schemas/KafkaConnectorResourceUpdateProperties'
          x-ms-client-flatten: true
    ContainerImage:
      type: object
      description: Defines the Docker image details
      properties:
        pullPolicy:
          type: string
          description: Image pull policy.
        pullSecrets:
          type: string
          description: Image pull secrets.
        repository:
          type: string
          description: The Docker image name.
        tag:
          type: string
          description: The Docker  image tag.
      required:
      - repository
      - tag
    ExtendedLocationProperty:
      type: object
      description: ExtendedLocation properties
      properties:
        name:
          type: string
          description: The name of the extended location.
        type:
          $ref: '#/components/schemas/ExtendedLocationType'
          description: Type of ExtendedLocation.
      required:
      - name
      - type
    KafkaRemoteBrokerConnectionTls:
      type: object
      description: Kafka RemoteBrokerConnection TLS details
      properties:
        tlsEnabled:
          type: boolean
          description: Tls Enabled on Remote Broker Connection.
        trustedCaCertificateConfigMap:
          type: string
          description: Trusted CA certificate name for Remote Broker.
      required:
      - tlsEnabled
    KafkaRemoteBrokerAuthenticationPropertiesUpdate:
      type: object
      description: Kafka RemoteBrokerConnection Authentication methods
      properties:
        authType:
          $ref: '#/components/schemas/KafkaRemoteBrokerAuthenticationTypesUpdate'
          description: The type of authentication to use for Kafka remote broker.
        enabled:
          type: boolean
          description: If authentication is enabled for Kafka remote broker.
    KafkaTokenKeyVaultPropertiesUpdate:
      type: object
      description: Kafka Token KeyVault properties.
      properties:
        username:
          type: string
          description: Username to connect with.
        vault:
          $ref: '#/components/schemas/KeyVaultConnectionPropertiesUpdate'
          description: KeyVault properties.
        vaultSecret:
          $ref: '#/components/schemas/KeyVaultSecretObjectUpdate'
          description: KeyVault secret details.
    KeyVaultConnectionProperties:
      type: object
      description: KeyVault properties
      properties:
        credentials:
          $ref: '#/components/schemas/KeyVaultCredentialsProperties'
          description: KeyVault credentials.
        directoryId:
          type: string
          description: KeyVault directoryId.
        name:
          type: string
          description: KeyVault name.
      required:
      - credentials
      - directoryId
      - name
    KafkaX509AuthenticationUpdate:
      type: object
      description: Kafka RemoteBrokerConnection X509 Authentication properties.
      properties:
        keyVault:
          $ref: '#/components/schemas/KeyVaultCertificatePropertiesUpdate'
          description: Keyvault X509 secret properties.
        secretName:
          type: string
          description: Secret where cert details are stored.
    KafkaConnectorProperties:
      type: object
      description: KafkaConnector Properties
      properties:
        clientIdPrefix:
          type: string
          description: The client id prefix of the dynamically generated client ids.
        image:
          $ref: '#/components/schemas/ContainerImage'
          description: The details of KafkaConnector Docker Image.
        instances:
          type: integer
          format: int32
          description: The number of KafkaConnector pods to spin up.
          minimum: 0
          maximum: 65535
        kafkaConnection:
          $ref: '#/components/schemas/KafkaRemoteBrokerConnectionSpec'
          description: The details for connecting with Remote Kafka Broker.
        localBrokerConnection:
          $ref: '#/components/schemas/LocalBrokerConnectionSpec'
          description: The details for connecting with Local Broker.
        logLevel:
          type: string
          description: The log level of the Bridge Connector instances.
          default: info
        nodeTolerations:
          $ref: '#/components/schemas/NodeTolerations'
          description: The Node Tolerations for the Bridge Connector pods.
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The status of the last operation.
          readOnly: true
      required:
      - kafkaConnection
    KafkaX509Authentication:
      type: object
      description: Kafka RemoteBrokerConnection X509 Authentication properties.
      properties:
        keyVault:
          $ref: '#/components/schemas/KeyVaultCertificateProperties'
          description: Keyvault X509 secret properties.
        secretName:
          type: string
          description: Secret where cert details are stored.
    KafkaRemoteBrokerConnectionSpec:
      type: object
      description: Kafka RemoteBrokerConnectionSpec details
      properties:
        authentication:
          $ref: '#/components/schemas/KafkaRemoteBrokerAuthenticationProperties'
          description: The remote broker authentication methods.
        endpoint:
          type: string
          description: The endpoint of remote broker to connect to.
        tls:
          $ref: '#/components/schemas/KafkaRemoteBrokerConnectionTls'
          description: TLS details for Remote broker Connection.
      required:
      - authentication
      - endpoint
      - tls
    SaslRemoteBrokerBasicAuthentication:
      type: object
      description: Kafka RemoteBrokerConnection Sasl Authentication properties.
      properties:
        saslType:
          $ref: '#/components/schemas/KafkaSaslType'
          description: Sasl Mechanism for remote broker authentication.
        token:
          $ref: '#/components/schemas/SaslRemoteBrokerBasicAuthenticationToken'
          description: Sasl token for remote broker authentication.
      required:
      - saslType
      - token
    KafkaConnectorResourceUpdateProperties:
      type: object
      description: The updatable properties of the KafkaConnectorResource.
      properties:
        clientIdPrefix:
          type: string
          description: The client id prefix of the dynamically generated client ids.
        image:
          $ref: '#/components/schemas/ContainerImageUpdate'
          description: The details of KafkaConnector Docker Image.
        instances:
          type: integer
          format: int32
          description: The number of KafkaConnector pods to spin up.
          minimum: 0
          maximum: 65535
        kafkaConnection:
          $ref: '#/components/schemas/KafkaRemoteBrokerConnectionSpecUpdate'
          description: The details for connecting with Remote Kafka Broker.
        localBrokerConnection:
          $ref: '#/components/schemas/LocalBrokerConnectionSpecUpdate'
          description: The details for connecting with Local Broker.
        logLevel:
          type: string
          description: The log level of the Bridge Connector instances.
          default: info
        nodeTolerations:
          $ref: '#/components/schemas/NodeTolerationsUpdate'
          description: The Node Tolerations for the Bridge Connector pods.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
