openapi: 3.2.0
info:
  title: Microsoft Azure Azure Migrate Discovery Service Sql Sites…
  version: 2023-10-01-preview
  description: Azure OffAzure Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: SqlSitesController
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/masterSites/{siteName}/sqlSites
  : get:
      operationId: microsoftAzureSqlsitescontrollerListbymastersite
      tags:
      - SqlSitesController
      description: Method to get all sites.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SqlSiteListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        SqlSitesController_ListByMasterSite_MaximumSet_Gen:
          $ref: ./examples/SqlSitesController_ListByMasterSite_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/masterSites/{siteName}/sqlSites/{sqlSiteName}
  : get:
      operationId: microsoftAzureSqlsitescontrollerGet
      tags:
      - SqlSitesController
      description: Method to get a site.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: sqlSiteName
        in: path
        description: SQL site name.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SqlSite'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        SqlSitesController_Get_MaximumSet_Gen:
          $ref: ./examples/SqlSitesController_Get_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      operationId: microsoftAzureSqlsitescontrollerCreate
      tags:
      - SqlSitesController
      description: Method to create a SQL site.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: sqlSiteName
        in: path
        description: SQL site name.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: ARM update operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SqlSite'
        '201':
          description: ARM create operation completed successfully.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SqlSite'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        SqlSitesController_Create_MaximumSet_Gen:
          $ref: ./examples/SqlSitesController_Create_MaximumSet_Gen.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SqlSite'
        description: Resource create parameters.
        required: true
    patch:
      operationId: microsoftAzureSqlsitescontrollerUpdate
      tags:
      - SqlSitesController
      description: Method to update an existing site.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: sqlSiteName
        in: path
        description: SQL site name.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SqlSite'
        '202':
          description: Resource update request accepted.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      x-ms-examples:
        SqlSitesController_Update_MaximumSet_Gen:
          $ref: ./examples/SqlSitesController_Update_MaximumSet_Gen.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SqlSiteUpdate'
        description: The resource properties to be updated.
        required: true
    delete:
      operationId: microsoftAzureSqlsitescontrollerDelete
      tags:
      - SqlSitesController
      description: Deletes the SQL site.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: sqlSiteName
        in: path
        description: SQL site name.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource deleted successfully.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        SqlSitesController_Delete_MaximumSet_Gen:
          $ref: ./examples/SqlSitesController_Delete_MaximumSet_Gen.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/masterSites/{siteName}/sqlSites/{sqlSiteName}/errorSummary
  : post:
      operationId: microsoftAzureSqlsitescontrollerErrorsummary
      tags:
      - SqlSitesController
      description: Method to get error summary from SQL site.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: sqlSiteName
        in: path
        description: SQL site name.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteErrorSummary'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        SqlSitesController_ErrorSummary_MaximumSet_Gen:
          $ref: ./examples/SqlSitesController_ErrorSummary_MaximumSet_Gen.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ErrorSummaryRequest'
        description: The content of the action request
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/masterSites/{siteName}/sqlSites/{sqlSiteName}/exportSqlServerErrors
  : post:
      operationId: microsoftAzureSqlsitescontrollerExportsqlservererrors
      tags:
      - SqlSitesController
      description: Method to generate report containing SQL servers.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: sqlSiteName
        in: path
        description: SQL site name.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                type: object
        '202':
          description: Resource operation accepted.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      x-ms-examples:
        SqlSitesController_ExportSqlServerErrors_MaximumSet_Gen:
          $ref: ./examples/SqlSitesController_ExportSqlServerErrors_MaximumSet_Gen.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: The content of the action request
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/masterSites/{siteName}/sqlSites/{sqlSiteName}/exportSqlServers
  : post:
      operationId: microsoftAzureSqlsitescontrollerExportsqlservers
      tags:
      - SqlSitesController
      description: Method to generate report containing SQL servers.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: sqlSiteName
        in: path
        description: SQL site name.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                type: object
        '202':
          description: Resource operation accepted.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      x-ms-examples:
        SqlSitesController_ExportSqlServers_MaximumSet_Gen:
          $ref: ./examples/SqlSitesController_ExportSqlServers_MaximumSet_Gen.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportSqlServersRequest'
        description: The content of the action request
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/masterSites/{siteName}/sqlSites/{sqlSiteName}/refresh
  : post:
      operationId: microsoftAzureSqlsitescontrollerRefresh
      tags:
      - SqlSitesController
      description: Method to refresh a site.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: sqlSiteName
        in: path
        description: SQL site name.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                type: object
        '202':
          description: Resource operation accepted.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      x-ms-examples:
        SqlSitesController_Refresh_MaximumSet_Gen:
          $ref: ./examples/SqlSitesController_Refresh_MaximumSet_Gen.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SqlSiteRefreshBody'
        description: The content of the action request
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/masterSites/{siteName}/sqlSites/{sqlSiteName}/summary
  : post:
      operationId: microsoftAzureSqlsitescontrollerSummary
      tags:
      - SqlSitesController
      description: Method to get site usage/summary.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: sqlSiteName
        in: path
        description: SQL site name.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SqlSiteUsage'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        SqlSitesController_Summary_MaximumSet_Gen:
          $ref: ./examples/SqlSitesController_Summary_MaximumSet_Gen.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    SiteErrorSummary:
      type: object
      description: Site error summary.
      properties:
        applianceName:
          type: string
          description: Appliance Name.
        discoveryScopeErrorSummaries:
          $ref: '#/components/schemas/DiscoveryScopeErrorSummary'
          description: Gets the error message.
        nextLink:
          type: string
          description: The link to fetch more models.
      required:
      - applianceName
      - discoveryScopeErrorSummaries
    SqlSiteListResult:
      type: object
      description: The response of a SqlSite list operation.
      properties:
        value:
          type: array
          description: The SqlSite items on this page
          items:
            $ref: '#/components/schemas/SqlSite'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    SqlSitePropertiesDiscoveryScenario:
      type: string
      description: SqlSiteProperties DiscoveryScenario
      enum:
      - Migrate
      - DR
      x-ms-enum:
        name: SqlSitePropertiesDiscoveryScenario
        modelAsString: true
        values:
        - name: Migrate
          value: Migrate
          description: Migrate value.
        - name: DR
          value: DR
          description: DR value.
    ProvisioningState:
      type: string
      description: The status of the current operation.
      enum:
      - Created
      - Updated
      - Running
      - Completed
      - Failed
      - Succeeded
      - Canceled
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: Created
          value: Created
          description: Created value.
        - name: Updated
          value: Updated
          description: Updated value.
        - name: Running
          value: Running
          description: Running value.
        - name: Completed
          value: Completed
          description: Completed value.
        - name: Failed
          value: Failed
          description: Failed value.
        - name: Succeeded
          value: Succeeded
          description: Succeeded value.
        - name: Canceled
          value: Canceled
          description: Canceled value.
    ErrorSummaryRequest:
      type: object
      description: ErrorSummaryRequest body
      properties:
        applianceName:
          type: string
          description: Gets or sets the Appliance Name.
    SqlSiteProperties:
      type: object
      description: Class for SQL site properties.
      properties:
        siteAppliancePropertiesCollection:
          type: array
          description: "Gets or sets the appliance details used by service to communicate\n           \nto the appliance."
          items:
            $ref: '#/components/schemas/SiteApplianceProperties'
          x-ms-identifiers: []
        discoveryScenario:
          $ref: '#/components/schemas/SqlSitePropertiesDiscoveryScenario'
          description: Gets or sets the discovery scenario.
        serviceEndpoint:
          type: string
          description: Gets the service endpoint.
          readOnly: true
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: provisioning state enum
          readOnly: true
    SqlSiteUsage:
      type: object
      description: SQL site usage.
      properties:
        serverCount:
          type: integer
          format: int32
          description: Gets or sets the number of servers discovered in the site.
        databaseCount:
          type: integer
          format: int32
          description: Gets or sets the number of databases discovered in the site.
        runAsAccountCount:
          type: integer
          format: int32
          description: Gets or sets the number of run as accounts in the site.
    SqlSiteRefreshBody:
      type: object
      description: SQL site refresh.
      properties:
        applianceName:
          type: string
          description: Gets or sets the appliance name of the agent in the site.
    DiscoveryScopeErrorSummary:
      type: object
      description: The site error summary model.
      properties:
        affectedResourceType:
          type: string
          description: Gets or sets the affected resource type.
        affectedObjectsCount:
          type: integer
          format: int64
          description: Count of affected objects.
        discoveryScope:
          $ref: '#/components/schemas/DiscoveryScopes'
          description: Gets or sets the count of affected objects.
      required:
      - affectedResourceType
      - affectedObjectsCount
      - discoveryScope
    SiteSpnProperties:
      type: object
      description: Class for site properties.
      properties:
        tenantId:
          type: string
          description: "Gets or sets the tenant Id for the service principal with which the\non-premise\n            management/data plane components would communicate with\nour Azure services."
        applicationId:
          type: string
          description: "Gets or sets the application/client Id for the service principal with which\nthe\n            on-premise management/data plane components would communicate\nwith our Azure \n            services."
        objectId:
          type: string
          description: "Gets or sets the object Id of the service principal with which the on-premise\n\n           management/data plane components would communicate with our Azure\nservices."
        audience:
          type: string
          description: Gets or sets the intended audience for the service principal.
        aadAuthority:
          type: string
          description: "Gets or sets the AAD Authority URL which was used to request the token for\nthe\n            service principal."
        rawCertData:
          type: string
          description: Gets or sets the raw certificate data for building certificate expiry flows.
    SiteAgentProperties:
      type: object
      description: Class for site agent properties.
      properties:
        id:
          type: string
          description: Gets the ID of the agent.
          readOnly: true
        version:
          type: string
          description: Gets the version of the agent.
          readOnly: true
        lastHeartBeatUtc:
          type: string
          format: date-time
          description: Gets the last heartbeat time of the agent in UTC.
          readOnly: true
        keyVaultUri:
          type: string
          description: Gets or sets the key vault URI.
        keyVaultId:
          type: string
          description: Gets or sets the key vault ARM Id.
    SqlSiteUpdateProperties:
      type: object
      description: The updatable properties of the SqlSite.
      properties:
        siteAppliancePropertiesCollection:
          type: array
          description: "Gets or sets the appliance details used by service to communicate\n           \nto the appliance."
          items:
            $ref: '#/components/schemas/SiteApplianceProperties'
          x-ms-identifiers: []
        discoveryScenario:
          $ref: '#/components/schemas/SqlSitePropertiesDiscoveryScenario'
          description: Gets or sets the discovery scenario.
    ExportSqlServersRequest:
      type: object
      description: ExportSqlServerRequest body
      properties:
        applianceName:
          type: string
          description: Gets or sets the Appliance Name.
        filter:
          type: string
          description: filter options.
    SiteApplianceProperties:
      type: object
      description: Class for site appliance properties.
      properties:
        servicePrincipalIdentityDetails:
          $ref: '#/components/schemas/SiteSpnProperties'
          description: ' Gets or sets the service principal identity details used by agent for  communication              to the service.  '
        agentDetails:
          $ref: '#/components/schemas/SiteAgentProperties'
          description: Gets or sets the on-premises agent details.
        applianceName:
          type: string
          description: Gets or sets the Appliance Name.
    SqlSite:
      type: object
      description: SQL site web model.
      properties:
        properties:
          $ref: '#/components/schemas/SqlSiteProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
    SqlSiteUpdate:
      type: object
      description: The type used for update operations of the SqlSite.
      properties:
        properties:
          $ref: '#/components/schemas/SqlSiteUpdateProperties'
          x-ms-client-flatten: true
    DiscoveryScopes:
      type: string
      description: Discovery scopes
      enum:
      - AppsAndRoles
      - DependencyMap
      - StaticData
      - SQLServerConnectionInfo
      x-ms-enum:
        name: DiscoveryScopes
        modelAsString: true
        values:
        - name: AppsAndRoles
          value: AppsAndRoles
          description: AppsAndRoles value.
        - name: DependencyMap
          value: DependencyMap
          description: DependencyMap value.
        - name: StaticData
          value: StaticData
          description: StaticData value.
        - name: SQLServerConnectionInfo
          value: SQLServerConnectionInfo
          description: SQLServerConnectionInfo value.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
