openapi: 3.2.0
info:
  title: Microsoft Azure Security Center Security Connectors API
  description: API spec for Microsoft.Security (Azure Security Center) resource provider
  version: 2024-03-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: SecurityConnectors
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/securityConnectors:
    get:
      x-ms-examples:
        List all security connectors of a specified subscription:
          $ref: ./examples/SecurityConnectors/GetSecurityConnectorsSubscription_example.json
      tags:
      - SecurityConnectors
      description: Lists all the security connectors in the specified subscription. Use the 'nextLink' property in the response to get the next page of security connectors for the specified subscription.
      operationId: microsoftAzureSecurityconnectorsList
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersion
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityConnectorsList'
        default:
          description: Error response that describes why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Security…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnectors:
    get:
      x-ms-examples:
        List all security connectors of a specified resource group:
          $ref: ./examples/SecurityConnectors/GetSecurityConnectorsResourceGroup_example.json
      tags:
      - SecurityConnectors
      description: Lists all the security connectors in the specified resource group. Use the 'nextLink' property in the response to get the next page of security connectors for the specified resource group.
      operationId: microsoftAzureSecurityconnectorsListbyresourcegroup
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersion
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionId
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupName
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityConnectorsList'
        default:
          description: Error response that describes why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnectors/{securityConnectorName}
  : get:
      x-ms-examples:
        Retrieve a security connector:
          $ref: ./examples/SecurityConnectors/GetSecurityConnectorSingleResource_example.json
      tags:
      - SecurityConnectors
      description: Retrieves details of a specific security connector
      operationId: microsoftAzureSecurityconnectorsGet
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersion
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionId
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupName
      - $ref: '#/components/parameters/securityConnectorName'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityConnector'
        default:
          description: Error response that describes why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      x-ms-examples:
        Create or update a security connector:
          $ref: ./examples/SecurityConnectors/PutSecurityConnector_example.json
      tags:
      - SecurityConnectors
      description: Creates or updates a security connector. If a security connector is already created and a subsequent request is issued for the same security connector id, then it will be updated.
      operationId: microsoftAzureSecurityconnectorsCreateorupdate
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersion
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionId
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupName
      - $ref: '#/components/parameters/securityConnectorName'
      - $ref: '#/components/parameters/securityConnectorInBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityConnector'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityConnector'
        default:
          description: Error response that describes why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
    patch:
      x-ms-examples:
        Update a security connector:
          $ref: ./examples/SecurityConnectors/PatchSecurityConnector_example.json
      tags:
      - SecurityConnectors
      description: Updates a security connector
      operationId: microsoftAzureSecurityconnectorsUpdate
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersion
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionId
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupName
      - $ref: '#/components/parameters/securityConnectorName'
      - $ref: '#/components/parameters/securityConnectorInBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityConnector'
        default:
          description: Error response that describes why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
    delete:
      x-ms-examples:
        Delete a security connector:
          $ref: ./examples/SecurityConnectors/DeleteSecurityConnector_example.json
      tags:
      - SecurityConnectors
      operationId: microsoftAzureSecurityconnectorsDelete
      description: Deletes a security connector.
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersion
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionId
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupName
      - $ref: '#/components/parameters/securityConnectorName'
      responses:
        '200':
          description: The resource was deleted successfully
        '204':
          description: NoContent
        default:
          description: Error response that describes why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    SecurityConnectorsList:
      type: object
      description: List of security connectors response.
      required:
      - value
      properties:
        value:
          type: array
          description: The list of security connectors under the given scope.
          items:
            $ref: '#/components/schemas/SecurityConnector'
        nextLink:
          readOnly: true
          type: string
          description: The URI to fetch the next page.
    EnvironmentData:
      type: object
      description: The security connector environment data.
      discriminator:
        propertyName: environmentType
      required:
      - environmentType
      properties:
        environmentType:
          type: string
          description: The type of the environment data.
          enum:
          - AwsAccount
          - GcpProject
          - GithubScope
          - AzureDevOpsScope
          - GitlabScope
          x-ms-enum:
            name: environmentType
            modelAsString: true
    SecurityConnector:
      type: object
      description: The security connector resource.
      properties:
        systemData:
          readOnly: true
          type: object
          description: Azure Resource Manager metadata containing createdBy and modifiedBy information.
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
        properties:
          x-ms-client-flatten: true
          description: Security connector data
          $ref: '#/components/schemas/SecurityConnectorProperties'
      allOf:
      - $ref: ../../../common/v1/types.json#/definitions/TrackedResource
    SecurityConnectorProperties:
      type: object
      description: A set of properties that defines the security connector configuration.
      properties:
        hierarchyIdentifier:
          type: string
          description: The multi cloud resource identifier (account id in case of AWS connector, project number in case of GCP connector).
        hierarchyIdentifierTrialEndDate:
          type: string
          format: date-time
          readOnly: true
          description: The date on which the trial period will end, if applicable. Trial period exists for 30 days after upgrading to payed offerings.
        environmentName:
          type: string
          description: The multi cloud resource's cloud name.
          enum:
          - Azure
          - AWS
          - GCP
          - Github
          - AzureDevOps
          - GitLab
          x-ms-enum:
            name: cloudName
            modelAsString: true
        offerings:
          type: array
          description: A collection of offerings for the security connector.
          items:
            $ref: '#/components/schemas/cloudOffering'
          x-ms-identifiers: []
        environmentData:
          type: object
          description: The security connector environment data.
          $ref: '#/components/schemas/EnvironmentData'
    cloudOffering:
      type: object
      description: The security offering details
      discriminator:
        propertyName: offeringType
      required:
      - offeringType
      properties:
        offeringType:
          type: string
          description: The type of the security offering.
          enum:
          - CspmMonitorAws
          - DefenderForContainersAws
          - DefenderForServersAws
          - DefenderForDatabasesAws
          - CspmMonitorGcp
          - CspmMonitorGithub
          - CspmMonitorAzureDevOps
          - DefenderForServersGcp
          - DefenderForContainersGcp
          - DefenderForDatabasesGcp
          - DefenderCspmAws
          - DefenderCspmGcp
          - CspmMonitorGitLab
          x-ms-enum:
            name: offeringType
            modelAsString: true
        description:
          type: string
          description: The offering description.
          readOnly: true
  parameters:
    securityConnectorInBody:
      name: securityConnector
      in: body
      required: true
      description: The security connector resource
      schema:
        $ref: '#/components/schemas/SecurityConnector'
      x-ms-parameter-location: method
    securityConnectorName:
      name: securityConnectorName
      in: path
      required: true
      description: The security connector name.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
