openapi: 3.2.0
info:
  title: Microsoft Azure Addons API
  version: '1.0'
  description: 'Operations tagged Addons across 2 of this provider''s published API definitions: azure-vmware-solution-api-openapi-original.yml, databoxedgemanagementclient-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Add Ons
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/addons
  : get:
      operationId: microsoftAzureAddonsList
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
      - Add Ons
      summary: Microsoft Azure List Addons In A Private Cloud
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/privateCloudName'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonList'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Addons_List:
          $ref: ./examples/Addons_List.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/addons/{addonName}
  : get:
      operationId: microsoftAzureAddonsGet
      tags:
      - Add Ons
      summary: Microsoft Azure Get An Addon By Name In A Private Cloud
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/privateCloudName'
      - $ref: '#/components/parameters/addonName'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Addon'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Addons_Get:
          $ref: ./examples/Addons_Get.json
      description: Needs a more full description created.
    put:
      operationId: microsoftAzureAddonsCreateorupdate
      x-ms-long-running-operation: true
      tags:
      - Add Ons
      summary: Microsoft Azure Create Or Update A Addon In A Private Cloud
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - name: privateCloudName
        in: path
        required: true
        description: The name of the private cloud.
        schema:
          type: string
      - $ref: '#/components/parameters/addonName'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Addon'
        '201':
          description: accepted operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Addon'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Addons_CreateOrUpdate:
          $ref: ./examples/Addons_CreateOrUpdate.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Addon'
        description: A addon in the private cloud
        required: true
    delete:
      operationId: microsoftAzureAddonsDelete
      x-ms-long-running-operation: true
      tags:
      - Add Ons
      summary: Microsoft Azure Delete A Addon In A Private Cloud
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/privateCloudName'
      - $ref: '#/components/parameters/addonName'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK. The delete has succeeded
        '202':
          description: Accepted. The delete will complete asynchronously
        '204':
          description: No Content. No addon to delete
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Addons_Delete:
          $ref: ./examples/Addons_Delete.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/roles/{roleName}/addons
  : get:
      tags:
      - Add Ons
      description: Lists all the addons configured in the role.
      operationId: microsoftAzureAddonsListbyrole
      parameters:
      - name: deviceName
        in: path
        description: The device name.
        required: true
        schema:
          type: string
      - name: roleName
        in: path
        description: The role name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: List of all the addons configured in the role.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonList_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError_2'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        RoleListAddOns:
          $ref: ./examples/RoleListAddOns.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/roles/{roleName}/addons/{addonName}
  : get:
      tags:
      - Add Ons
      description: Gets a specific addon by name.
      operationId: microsoftAzureAddonsGet
      parameters:
      - name: deviceName
        in: path
        description: The device name.
        required: true
        schema:
          type: string
      - name: roleName
        in: path
        description: The role name.
        required: true
        schema:
          type: string
      - name: addonName
        in: path
        description: The addon name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The addon with the specified name in the role.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Addon_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError_2'
      x-ms-examples:
        GetAddOns:
          $ref: ./examples/GetAddons.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Add Ons
      description: Create or update a addon.
      operationId: microsoftAzureAddonsCreateorupdate
      parameters:
      - name: deviceName
        in: path
        description: The device name.
        required: true
        schema:
          type: string
      - name: roleName
        in: path
        description: The role name.
        required: true
        schema:
          type: string
      - name: addonName
        in: path
        description: The addon name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully created or updated the addon.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Addon_2'
        '202':
          description: Accepted the request to create or update the addon.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError_2'
      x-ms-long-running-operation: true
      x-ms-examples:
        PutAddOns:
          $ref: ./examples/PutAddons.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Addon_2'
        description: The addon properties.
        required: true
    delete:
      tags:
      - Add Ons
      description: Deletes the addon on the device.
      operationId: microsoftAzureAddonsDelete
      parameters:
      - name: deviceName
        in: path
        description: The device name.
        required: true
        schema:
          type: string
      - name: roleName
        in: path
        description: The role name.
        required: true
        schema:
          type: string
      - name: addonName
        in: path
        description: The addon name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully deleted the addon.
        '202':
          description: Accepted the request to delete the addon.
        '204':
          description: The addon is already deleted.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError_2'
      x-ms-long-running-operation: true
      x-ms-examples:
        DeleteAddOns:
          $ref: ./examples/DeleteAddons.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
components:
  schemas:
    AddonProperties:
      description: The properties of an addon that may be updated
      allOf:
      - $ref: '#/components/schemas/AddonSrmProperties'
      properties:
        addonType:
          description: The type of private cloud addon
          type: string
          enum:
          - SRM
          - VR
          x-ms-enum:
            name: AddonType
            modelAsString: true
        provisioningState:
          description: The state of the addon provisioning
          type: string
          readOnly: true
          enum:
          - Succeeded
          - Failed
          - Cancelled
          - Deleting
          - Updating
          x-ms-enum:
            name: AddonProvisioningState
            modelAsString: true
    AddonList:
      description: A paged list of addons
      properties:
        value:
          description: The items on a page
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Addon'
        nextLink:
          description: URL to get the next page if any
          type: string
          readOnly: true
    CloudError:
      x-ms-external: true
      properties:
        error:
          description: An error returned by the API
          $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse
      description: API error response
    AddonSrmProperties:
      description: The properties of an SRM addon that may be updated
      properties:
        licenseKey:
          description: The SRM license
          type: string
    Resource:
      description: The core properties of ARM resources
      properties:
        id:
          description: Resource ID.
          readOnly: true
          type: string
        name:
          description: Resource name.
          readOnly: true
          type: string
        type:
          description: Resource type.
          readOnly: true
          type: string
      x-ms-azure-resource: true
    Addon:
      description: An addon resource
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          description: The properties of an addon resource
          $ref: '#/components/schemas/AddonProperties'
          x-ms-client-flatten: true
    CloudError_2:
      description: An error response from the service.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: The error details.
      x-ms-external: true
    AddonList_2:
      description: Collection of all the Role addon on the Azure Stack Edge device.
      type: object
      properties:
        value:
          description: The Value.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/Addon_2'
          readOnly: true
          x-ms-identifiers: []
        nextLink:
          description: Link to the next set of results.
          type: string
          readOnly: true
    ARMBaseModel:
      description: Represents the base class for all object models.
      type: object
      properties:
        id:
          description: The path ID that uniquely identifies the object.
          type: string
          readOnly: true
        name:
          description: The object name.
          type: string
          readOnly: true
        type:
          description: The hierarchical type of the object.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    CloudErrorBody:
      description: An error response from the service.
      type: object
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
          type: string
        message:
          description: A message describing the error, intended to be suitable for display in a user interface.
          type: string
        details:
          description: A list of additional details about the error.
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          x-ms-identifiers: []
      x-ms-external: true
    Addon_2:
      description: Role Addon
      required:
      - kind
      type: object
      allOf:
      - $ref: '#/components/schemas/ARMBaseModel'
      properties:
        kind:
          description: Addon type.
          enum:
          - IotEdge
          - ArcForKubernetes
          type: string
          x-ms-enum:
            name: AddonType
            modelAsString: true
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: Metadata pertaining to creation and last modification of Addon
          readOnly: true
      discriminator:
        propertyName: kind
  parameters:
    privateCloudName:
      name: privateCloudName
      in: path
      required: true
      description: Name of the private cloud
      x-ms-parameter-location: method
      schema:
        type: string
    addonName:
      name: addonName
      in: path
      required: true
      description: Name of the addon for the private cloud
      x-ms-parameter-location: method
      schema:
        type: string
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID.
      required: true
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      description: The API version.
      required: true
      schema:
        type: string
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The resource group name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- azure-vmware-solution-api-openapi-original.yml
- databoxedgemanagementclient-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
