openapi: 3.2.0
info:
  title: Microsoft Azure Virtual Networks API
  x-refined-note:
  - x-ms-code-generation-settings differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged VirtualNetworks across 5 of this provider''s published API definitions: azure-arc-vmware-management-service-api-openapi-original.yml, devtestlabsclient-openapi-original.yml, networkresourceproviderclient-openapi-original.yml, scvmm-openapi-original.yml, vmwarecloudsimple-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Virtual Networks
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedVMwarevSphere/virtualNetworks/{virtualNetworkName}
  : put:
      tags:
      - Virtual Networks
      operationId: microsoftAzureVirtualnetworksCreate
      description: Create Or Update virtual network.
      summary: Microsoft Azure Implements Virtual Network Put Method
      x-ms-examples:
        CreateVirtualNetwork:
          $ref: ./examples/CreateVirtualNetwork.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - in: path
        name: virtualNetworkName
        description: Name of the virtual network resource.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Arm resource update successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetwork'
        description: Request payload.
    get:
      tags:
      - Virtual Networks
      operationId: microsoftAzureVirtualnetworksGet
      summary: Microsoft Azure Gets A Virtual Network
      description: Implements virtual network GET method.
      x-ms-examples:
        GetVirtualNetwork:
          $ref: ./examples/GetVirtualNetwork.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - in: path
        name: virtualNetworkName
        required: true
        description: Name of the virtual network resource.
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
    patch:
      tags:
      - Virtual Networks
      operationId: microsoftAzureVirtualnetworksUpdate
      summary: Microsoft Azure Updates A Virtual Network
      description: API to update certain properties of the virtual network resource.
      x-ms-examples:
        UpdateVirtualNetwork:
          $ref: ./examples/UpdateVirtualNetwork.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - in: path
        name: virtualNetworkName
        description: Name of the virtual network resource.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Arm resource update successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourcePatch'
        description: Resource properties to update.
    delete:
      tags:
      - Virtual Networks
      operationId: microsoftAzureVirtualnetworksDelete
      summary: Microsoft Azure Deletes An Virtual Network
      description: Implements virtual network DELETE method.
      x-ms-examples:
        DeleteVirtualNetwork:
          $ref: ./examples/DeleteVirtualNetwork.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - in: path
        name: virtualNetworkName
        description: Name of the virtual network resource.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      - in: query
        name: force
        description: Whether force delete was specified.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Success
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.ConnectedVMwarevSphere/virtualNetworks:
    get:
      tags:
      - Virtual Networks
      operationId: microsoftAzureVirtualnetworksList
      summary: Microsoft Azure Implements Get Virtualnetworks In A Subscription
      description: List of virtualNetworks in a subscription.
      x-ms-examples:
        ListVirtualNetworks:
          $ref: ./examples/ListVirtualNetworks.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworksList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedVMwarevSphere/virtualNetworks
  : get:
      tags:
      - Virtual Networks
      operationId: microsoftAzureVirtualnetworksListbyresourcegroup
      summary: Microsoft Azure Implements Get Virtualnetworks In A Resource Group
      description: List of virtualNetworks in a resource group.
      x-ms-examples:
        ListVirtualNetworksByResourceGroup:
          $ref: ./examples/ListVirtualNetworksByResourceGroup.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworksList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualnetworks
  : get:
      tags:
      - Virtual Networks
      description: List virtual networks in a given lab.
      operationId: microsoftAzureVirtualnetworksList
      parameters:
      - $ref: '#/components/parameters/subscriptionId_2'
      - $ref: '#/components/parameters/resourceGroupName_2'
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        schema:
          type: string
      - name: $expand
        in: query
        description: 'Specify the $expand query. Example: ''properties($expand=externalSubnets)'''
        schema:
          type: string
      - name: $filter
        in: query
        description: 'The filter to apply to the operation. Example: ''$filter=contains(name,''myName'')'
        schema:
          type: string
      - name: $top
        in: query
        description: 'The maximum number of resources to return from the operation. Example: ''$top=10'''
        schema:
          type: integer
          format: int32
      - name: $orderby
        in: query
        description: 'The ordering expression for the results, using OData notation. Example: ''$orderby=name desc'''
        schema:
          type: string
      - $ref: '#/components/parameters/api-version_2'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkList'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/VirtualNetwork'
      x-ms-examples:
        VirtualNetworks_List:
          $ref: ./examples/VirtualNetworks_List.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualnetworks/{name}
  : get:
      tags:
      - Virtual Networks
      description: Get virtual network.
      operationId: microsoftAzureVirtualnetworksGet
      parameters:
      - $ref: '#/components/parameters/subscriptionId_2'
      - $ref: '#/components/parameters/resourceGroupName_2'
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: The name of the virtual network.
        required: true
        schema:
          type: string
      - name: $expand
        in: query
        description: 'Specify the $expand query. Example: ''properties($expand=externalSubnets)'''
        schema:
          type: string
      - $ref: '#/components/parameters/api-version_2'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork_2'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        VirtualNetworks_Get:
          $ref: ./examples/VirtualNetworks_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Virtual Networks
      description: Create or replace an existing virtual network. This operation can take a while to complete.
      operationId: microsoftAzureVirtualnetworksCreateorupdate
      parameters:
      - $ref: '#/components/parameters/subscriptionId_2'
      - $ref: '#/components/parameters/resourceGroupName_2'
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: The name of the virtual network.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version_2'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork_2'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork_2'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        VirtualNetworks_CreateOrUpdate:
          $ref: ./examples/VirtualNetworks_CreateOrUpdate.json
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetwork_2'
        description: A virtual network.
        required: true
    delete:
      tags:
      - Virtual Networks
      description: Delete virtual network. This operation can take a while to complete.
      operationId: microsoftAzureVirtualnetworksDelete
      parameters:
      - $ref: '#/components/parameters/subscriptionId_2'
      - $ref: '#/components/parameters/resourceGroupName_2'
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: The name of the virtual network.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version_2'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        VirtualNetworks_Delete:
          $ref: ./examples/VirtualNetworks_Delete.json
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    patch:
      tags:
      - Virtual Networks
      description: Allows modifying tags of virtual networks. All other properties will be ignored.
      operationId: microsoftAzureVirtualnetworksUpdate
      parameters:
      - $ref: '#/components/parameters/subscriptionId_2'
      - $ref: '#/components/parameters/resourceGroupName_2'
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: The name of the virtual network.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version_2'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork_2'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        VirtualNetworks_Update:
          $ref: ./examples/VirtualNetworks_Update.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkFragment'
        description: A virtual network.
        required: true
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualnetworks/{virtualNetworkName}
  : delete:
      tags:
      - Virtual Networks
      operationId: microsoftAzureVirtualnetworksDelete
      description: The Delete VirtualNetwork operation deletes the specified virtual network
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: virtualNetworkName
        in: path
        required: true
        description: The name of the virtual network.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
        '202':
          description: ''
        '204':
          description: ''
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    get:
      tags:
      - Virtual Networks
      operationId: microsoftAzureVirtualnetworksGet
      description: The Get VirtualNetwork operation retrieves information about the specified virtual network.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: virtualNetworkName
        in: path
        required: true
        description: The name of the virtual network.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork_3'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork_3'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Virtual Networks
      operationId: microsoftAzureVirtualnetworksCreateorupdate
      description: The Put VirtualNetwork operation creates/updates a virtual network in the specified resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: virtualNetworkName
        in: path
        required: true
        description: The name of the virtual network.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork_3'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork_3'
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork_3'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork_3'
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetwork_3'
          text/json:
            schema:
              $ref: '#/components/schemas/VirtualNetwork_3'
        description: Parameters supplied to the create/update Virtual Network operation
        required: true
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualnetworks:
    get:
      tags:
      - Virtual Networks
      operationId: microsoftAzureVirtualnetworksListall
      description: The list VirtualNetwork returns all Virtual Networks in a subscription
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Network…
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualnetworks:
    get:
      tags:
      - Virtual Networks
      operationId: microsoftAzureVirtualnetworksList
      description: The list VirtualNetwork returns all Virtual Networks in a resource group
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/virtualNetworks/{virtualNetworkName}
  : get:
      tags:
      - Virtual Networks
      operationId: microsoftAzureVirtualnetworksGet
      summary: Microsoft Azure Gets A Virtualnetwork
      description: Implements VirtualNetwork GET method.
      x-ms-examples:
        GetVirtualNetwork:
          $ref: ./examples/GetVirtualNetwork.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - in: path
        name: virtualNetworkName
        required: true
        description: Name of the VirtualNetwork.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter_2'
      responses:
        '200':
          description: Retrieves the VirtualNetworks resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork_4'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
      - Virtual Networks
      operationId: microsoftAzureVirtualnetworksCreateorupdate
      description: Onboards the ScVmm virtual network as an Azure virtual network resource.
      summary: Microsoft Azure Implements Virtualnetworks Put Method
      x-ms-examples:
        CreateVirtualNetwork:
          $ref: ./examples/CreateVirtualNetwork.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - in: path
        name: virtualNetworkName
        required: true
        description: Name of the VirtualNetwork.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter_2'
      responses:
        '200':
          description: Creates or Updates the VirtualNetworks resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork_4'
        '201':
          description: Creates or Updates the VirtualNetworks resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork_4'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetwork_4'
        description: Request payload.
        required: true
    delete:
      tags:
      - Virtual Networks
      operationId: microsoftAzureVirtualnetworksDelete
      description: Deregisters the ScVmm virtual network from Azure.
      summary: Microsoft Azure Implements Virtualnetwork Delete Method
      x-ms-examples:
        DeleteVirtualNetwork:
          $ref: ./examples/DeleteVirtualNetwork.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - in: path
        name: virtualNetworkName
        required: true
        description: Name of the VirtualNetwork.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter_2'
      - in: query
        name: force
        description: Forces the resource to be deleted from azure. The corresponding CR would be attempted to be deleted too.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Deletes the VirtualNetworks resource.
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    patch:
      tags:
      - Virtual Networks
      operationId: microsoftAzureVirtualnetworksUpdate
      summary: Microsoft Azure Implements The Virtualnetworks Patch Method
      description: Updates the VirtualNetworks resource.
      x-ms-examples:
        UpdateVirtualNetwork:
          $ref: ./examples/UpdateVirtualNetwork.json
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter_2'
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      - in: path
        name: virtualNetworkName
        required: true
        description: Name of the VirtualNetwork.
        schema:
          type: string
      responses:
        '200':
          description: Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork_4'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork_4'
        '202':
          description: Accepted
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourcePatch_2'
        description: VirtualNetworks patch payload.
        required: true
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/virtualNetworks:
    get:
      tags:
      - Virtual Networks
      operationId: microsoftAzureVirtualnetworksListbyresourcegroup
      summary: Microsoft Azure Implements Get Virtualnetworks In A Resource Group
      description: List of VirtualNetworks in a resource group.
      x-ms-examples:
        ListVirtualNetworksByResourceGroup:
          $ref: ./examples/ListVirtualNetworksByResourceGroup.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter_2'
      responses:
        '200':
          description: Lists all VirtualNetworks under the resource group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkListResult_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.ScVmm/virtualNetworks:
    get:
      tags:
      - Virtual Networks
      operationId: microsoftAzureVirtualnetworksListbysubscription
      summary: Microsoft Azure Implements Get Virtualnetworks In A Subscription
      description: List of VirtualNetworks in a subscription.
      x-ms-examples:
        ListVirtualNetworksBySubscription:
          $ref: ./examples/ListVirtualNetworksBySubscription.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      - $ref: '#/components/parameters/ApiVersionParameter_2'
      responses:
        '200':
          description: Lists all VirtualNetworks under the subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkListResult_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}/virtualNetworks
  : get:
      description: Return list of virtual networks in location for private cloud
      tags:
      - Virtual Networks
      summary: Microsoft Azure Implements List Available Virtual Networks Within A…
      operationId: microsoftAzureVirtualnetworksList
      parameters:
      - $ref: '#/components/parameters/subscriptionId_3'
      - $ref: '#/components/parameters/regionId'
      - $ref: '#/components/parameters/pcName'
      - $ref: '#/components/parameters/api-version_3'
      - description: Resource pool used to derive vSphere cluster which contains virtual networks
        name: resourcePoolName
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkListResponse'
        default:
          description: General Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
      x-ms-examples:
        ListVirtualNetworks:
          $ref: ./examples/ListVirtualNetworks.json
      x-ms-pageable:
        nextLinkName: nextLink
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}/virtualNetworks/{virtualNetworkName}
  : get:
      description: Return virtual network by its name
      tags:
      - Virtual Networks
      summary: Microsoft Azure Implements Virtual Network Get Method
      operationId: microsoftAzureVirtualnetworksGet
      parameters:
      - $ref: '#/components/parameters/subscriptionId_3'
      - $ref: '#/components/parameters/regionId'
      - $ref: '#/components/parameters/pcName'
      - description: virtual network id (vsphereId)
        name: virtualNetworkName
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version_3'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork_5'
        default:
          description: General Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
      x-ms-examples:
        GetVirtualNetwork:
          $ref: ./examples/GetVirtualNetwork.json
    servers:
    - url: https://management.azure.com
components:
  schemas:
    VirtualNetworksList:
      description: List of VirtualNetworks.
      type: object
      properties:
        nextLink:
          description: Url to follow for getting next page of VirtualNetworks.
          type: string
        value:
          description: Array of VirtualNetworks
          type: array
          items:
            $ref: '#/components/schemas/VirtualNetwork'
      required:
      - value
    VirtualNetwork:
      description: Define the virtualNetwork.
      required:
      - location
      - properties
      type: object
      x-ms-azure-resource: true
      properties:
        properties:
          x-ms-client-flatten: true
          description: Resource properties.
          $ref: '#/components/schemas/VirtualNetworkProperties'
        location:
          description: Gets or sets the location.
          type: string
          x-ms-mutability:
          - read
          - create
        extendedLocation:
          $ref: '#/components/schemas/ExtendedLocation'
          description: Gets or sets the extended location.
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: The system data.
        tags:
          description: Gets or sets the Resource tags.
          type: object
          additionalProperties:
            type: string
        name:
          description: Gets or sets the name.
          type: string
          readOnly: true
        id:
          description: Gets or sets the Id.
          type: string
          readOnly: true
        type:
          description: Gets or sets the type of the resource.
          type: string
          readOnly: true
        kind:
          type: string
          description: Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type; e.g. ApiApps are a kind of Microsoft.Web/sites type.  If supported, the resource provider must validate and persist this value.
    ExtendedLocation:
      type: object
      description: The extended location.
      properties:
        type:
          type: string
          description: The extended location type.
        name:
          type: string
          description: The extended location name.
    VirtualNetworkProperties:
      description: Describes the properties of a Virtual Network.
      type: object
      properties:
        uuid:
          description: Gets or sets a unique identifier for this resource.
          type: string
          readOnly: true
        vCenterId:
          description: Gets or sets the ARM Id of the vCenter resource in which this template resides.
          type: string
        moRefId:
          description: Gets or sets the vCenter MoRef (Managed Object Reference) ID for the virtual network.
          type: string
        inventoryItemId:
          description: Gets or sets the inventory Item ID for the virtual network.
          type: string
        moName:
          description: Gets or sets the vCenter Managed Object name for the virtual network.
          type: string
          readOnly: true
        customResourceName:
          description: Gets the name of the corresponding resource in Kubernetes.
          type: string
          readOnly: true
        statuses:
          description: The resource status information.
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ResourceStatus'
          x-ms-identifiers:
          - type
        provisioningState:
          $ref: '#/components/schemas/ResourceProvisioningState'
          description: Gets the provisioning state.
          readOnly: true
    ResourceStatus:
      description: The resource status information.
      type: object
      properties:
        type:
          description: The type of the condition.
          type: string
          readOnly: true
        status:
          description: Status of the condition.
          type: string
          readOnly: true
        reason:
          description: The reason for the condition's status.
          type: string
          readOnly: true
        message:
          description: A human readable message indicating details about the status.
          type: string
          readOnly: true
        severity:
          description: Severity with which to treat failures of this type of condition.
          type: string
          readOnly: true
        lastUpdatedAt:
          description: The last update time for this condition.
          type: string
          format: date-time
          readOnly: true
    ResourceProvisioningState:
      type: string
      description: The current deployment state of resource.
      enum:
      - Succeeded
      - Failed
      - Canceled
      - Provisioning
      - Updating
      - Deleting
      - Accepted
      - Created
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    ResourcePatch:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
      description: Object containing updates for patch operations.
    CloudError:
      description: Error from a REST request.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: The cloud error that occurred
      x-ms-external: true
    VirtualNetworkFragment:
      description: A virtual network.
      type: object
      allOf:
      - $ref: '#/components/schemas/UpdateResource'
      properties: {}
    SubnetOverride:
      description: Property overrides on a subnet of a virtual network.
      type: object
      properties:
        resourceId:
          description: The resource ID of the subnet.
          type: string
        labSubnetName:
          description: The name given to the subnet within the lab.
          type: string
        useInVmCreationPermission:
          description: Indicates whether this subnet can be used during virtual machine creation (i.e. Allow, Deny).
          enum:
          - Default
          - Deny
          - Allow
          type: string
          x-ms-enum:
            name: UsagePermissionType
            modelAsString: true
        usePublicIpAddressPermission:
          description: Indicates whether public IP addresses can be assigned to virtual machines on this subnet (i.e. Allow, Deny).
          enum:
          - Default
          - Deny
          - Allow
          type: string
          x-ms-enum:
            name: UsagePermissionType
            modelAsString: true
        sharedPublicIpAddressConfiguration:
          $ref: '#/components/schemas/SubnetSharedPublicIpAddressConfiguration'
          description: Properties that virtual machines on this subnet will share.
        virtualNetworkPoolName:
          description: The virtual network pool associated with this subnet.
          type: string
    VirtualNetwork_2:
      description: A virtual network.
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/VirtualNetworkProperties_2'
          description: The properties of the resource.
          x-ms-client-flatten: true
    ExternalSubnet:
      description: Subnet information as returned by the Microsoft.Network API.
      type: object
      properties:
        id:
          description: Gets or sets the identifier.
          type: string
        name:
          description: Gets or sets the name.
          type: string
    UpdateResource:
      description: Represents an update resource
      type: object
      properties:
        tags:
          description: The tags of the resource.
          type: object
          additionalProperties:
            type: string
    VirtualNetworkProperties_2:
      description: Properties of a virtual network.
      type: object
      properties:
        allowedSubnets:
          description: The allowed subnets of the virtual network.
          type: array
          items:
            $ref: '#/components/schemas/Subnet'
        description:
          description: The description of the virtual network.
          type: string
        externalProviderResourceId:
          description: The Microsoft.Network resource identifier of the virtual network.
          type: string
        externalSubnets:
          description: The external subnet properties.
          type: array
          items:
            $ref: '#/components/schemas/ExternalSubnet'
          readOnly: true
        subnetOverrides:
          description: The subnet overrides of the virtual network.
          type: array
          items:
            $ref: '#/components/schemas/SubnetOverride'
        createdDate:
          format: date-time
          description: The creation date of the virtual network.
          type: string
          readOnly: true
        provisioningState:
          description: The provisioning status of the resource.
          type: string
          readOnly: true
        uniqueIdentifier:
          description: The unique immutable identifier of a resource (Guid).
          type: string
          readOnly: true
    CloudErrorBody:
      description: Body of an error from a REST request.
      type: object
      properties:
        code:
          description: The error code.
          type: string
        message:
          description: The error message.
          type: string
        target:
          description: The error target.
          type: string
        details:
          description: Inner errors.
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
      x-ms-external: true
    Resource:
      description: An Azure resource.
      type: object
      properties:
        id:
          description: The identifier of the resource.
          type: string
          readOnly: true
        name:
          description: The name of the resource.
          type: string
          readOnly: true
        type:
          description: The type of the resource.
          type: string
          readOnly: true
        location:
          description: The location of the resource.
          type: string
        tags:
          description: The tags of the resource.
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
    Port:
      description: Properties of a network port.
      type: object
      properties:
        transportProtocol:
          description: Protocol type of the port.
          enum:
          - Tcp
          - Udp
          type: string
          x-ms-enum:
            name: TransportProtocol
            modelAsString: true
        backendPort:
          format: int32
          description: Backend port of the target virtual machine.
          type: integer
    Subnet:
      description: Subnet information.
      type: object
      properties:
        resourceId:
          description: The resource ID of the subnet.
          type: string
        labSubnetName:
          description: The name of the subnet as seen in the lab.
          type: string
        allowPublicIp:
          description: The permission policy of the subnet for allowing public IP addresses (i.e. Allow, Deny)).
          enum:
          - Default
          - Deny
          - Allow
          type: string
          x-ms-enum:
            name: UsagePermissionType
            modelAsString: true
    SubnetSharedPublicIpAddressConfiguration:
      description: Configuration for public IP address sharing.
      type: object
      properties:
        allowedPorts:
          description: Backend ports that virtual machines on this subnet are allowed to expose
          type: array
          items:
            $ref: '#/components/schemas/Port'
    VirtualNetworkList:
      description: The response of a list operation.
      type: object
      properties:
        value:
          description: Results of the list operation.
          type: array
          items:
            $ref: '#/components/schemas/VirtualNetwork_2'
        nextLink:
          description: Link for next set of results.
          type: string
    SubnetPropertiesFormat:
      properties:
        addressPrefix:
          type: string
          description: Gets or sets Address prefix for the subnet.
        networkSecurityGroup:
          $ref: '#/components/schemas/SubResource'
          description: Gets or sets the reference of the NetworkSecurityGroup resource
        routeTable:
          $ref: '#/components/schemas/SubResource'
          description: Gets or sets the reference of the RouteTable resource
        ipConfigurations:
          type: array
          items:
            $ref: '#/components/schemas/SubResource'
          description: Gets array of references to the network interface IP configurations using subnet
        provisioningState:
          type: string
          description: Gets or sets Provisioning state of the PublicIP resource Updating/Deleting/Failed
      required:
      - addressPrefix
    AddressSpace:
      properties:
        addressPrefixes:
          type: array
          items:
            type: string
          description: Gets or sets List of address blocks reserved for this virtual network in CIDR notation
      description: AddressSpace contains an array of IP address ranges that can be used by subnets
    VirtualNetwork_3:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/VirtualNetworkPropertiesFormat'
        etag:
          type: string
          description: Gets a unique read-only string that changes whenever the resource is updated
      allOf:
      - $ref: '#/components/schemas/Resource_2'
      description: Virtual Network resource
    SubResource:
      properties:
        id:
          type: string
          description: Resource Id
      x-ms-azure-resource: true
    VirtualNetworkListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/VirtualNetwork_3'
          description: Gets list of VirtualNetworks in a resource group
        nextLink:
          type: string
          description: Gets the URL to get the next set of results.
      description: Response for ListVirtualNetworks Api service call
    Resource_2:
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        location:
          type: string
          description: Resource location
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
      required:
      - location
      x-ms-azure-resource: true
    VirtualNetworkPropertiesFormat:
      properties:
        addressSpace:
          $ref: '#/components/schemas/AddressSpace'
          description: Gets or sets AddressSpace that contains an array of IP address ranges that can be used by subnets
        dhcpOptions:
          $ref: '#/components/schemas/DhcpOptions'
          description: Gets or sets DHCPOptions that contains an array of DNS servers available to VMs deployed in the virtual network
        subnets:
          type: array
          items:
            $ref: '#/components/schemas/Subnet_2'
          description: Gets or sets List of subnets in a VirtualNetwork
        resourceGuid:
          type: string
          description: Gets or sets resource guid property of the VirtualNetwork resource
        provisioningState:
          type: string
          description: Gets or sets Provisioning state of the PublicIP resource Updating/Deleting/Failed
    Subnet_2:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/SubnetPropertiesFormat'
        name:
          type: string
          description: Gets name of the resource that is unique within a resource group. This name can be used to access the resource
        etag:
          type: string
          description: A unique read-only string that changes whenever the resource is updated
      allOf:
      - $ref: '#/components/schemas/SubResource'
      description: Subnet in a VirtualNetwork resource
    DhcpOptions:
      properties:
        dnsServers:
          type: array
          items:
            type: string
          description: Gets or sets list of DNS servers IP addresses
      description: DHCPOptions contains an array of DNS servers available to VMs deployed in the virtual networkStandard DHCP option for a subnet overrides VNET DHCP options.
    VirtualNetwork_4:
      type: object
      x-ms-azure-resource: true
      properties:
        properties:
          x-ms-client-flatten: true
          description: Resource properties.
          $ref: '#/components/schemas/VirtualNetworkProperties_3'
        id:
          type: string
          readOnly: true
          description: Resource Id
        name:
          type: string
          readOnly: true
          description: Resource Name
        type:
          type: string
          readOnly: true
          description: Resource Type
        location:
          description: Gets or sets the location.
          type: string
          x-ms-mutability:
          - read
          - create
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
        systemData:
          $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/systemData
          description: The system data.
        extendedLocation:
          $ref: '#/components/schemas/ExtendedLocation'
          description: The extended location.
      required:
      - location
      - properties
      - extendedLocation
      description: The VirtualNetworks resource definition.
    VirtualNetworkListResult_2:
      type: object
      description: List of VirtualNetworks.
      properties:
        value:
          type: array
          description: List of VirtualNetworks.
          items:
            $ref: '#/components/schemas/VirtualNetwork_4'
        nextLink:
          type: string
          description: Url to follow for getting next page of resources.
    VirtualNetworkProperties_3:
      description: Defines the resource properties.
      type: object
      properties:
        inventoryItemId:
          description: Gets or sets the inventory Item ID for the resource.
          type: string
        uuid:
          type: string
          description: Unique ID of the virtual network.
          minLength: 1
        vmmServerId:
          type: string
          description: ARM Id of the vmmServer resource in which this resource resides.
        networkName:
          type: string
          description: Name of the virtual network in vmmServer.
          readOnly: true
        provisioningState:
          type: string
          description: Gets or sets the provisioning state.
          readOnly: true
    ErrorDefinition:
      description: Error definition.
      type: object
      properties:
        code:
          description: Service specific error code which serves as the substatus for the HTTP error code.
          type: string
          readOnly: true
        message:
          description: Description of the error.
          type: string
          readOnly: true
        details:
          description: Internal error details.
          type: array
          items:
            $ref: '#/components/schemas/ErrorDefinition'
          x-ms-identifiers: []
          readOnly: true
    ResourcePatch_2:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
      description: Object containing tags updates for patch operations.
    ErrorResponse:
      description: Error response.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorDefinition'
          description: The error details.
    CSRPError:
      description: General error model
      properties:
        error:
          description: Error's body
          $ref: '#/components/schemas/CSRPErrorBody'
    VirtualNetwork_5:
      description: Virtual network model
      required:
      - id
      properties:
        assignable:
          description: can be used in vm creation/deletion
          type: boolean
          readOnly: true
        id:
          description: virtual network id (privateCloudId:vsphereId)
          type: string
        location:
          description: Azure region
          type: string
          readOnly: true
        name:
          description: '{VirtualNetworkName}'
          type: string
          readOnly: true
        properties:
          description: Virtual Network properties
          x-ms-client-flatten: true
          $ref: '#/components/schemas/VirtualNetworkProperties_4'
        type:
          description: '{resourceProviderNamespace}/{resourceType}'
          type: string
          readOnly: true
    VirtualNetworkProperties_4:
      description: Properties of virtual network
      properties:
        privateCloudId:
          description: The Private Cloud id
          type: string
          readOnly: true
    CSRPErrorBody:
      description: Error properties
      properties:
        code:
          description: Error's code
          type: string
          readOnly: true
        details:
          description: Error's details
          type: array
          items:
            $ref: '#/components/schemas/CSRPErrorBody'
          x-ms-identifiers: []
          readOnly: true
        message:
          description: Error's message
          type: string
          readOnly: true
        target:
          description: Error's target
          type: string
    VirtualNetworkListResponse:
      description: List of virtual networks
      properties:
        nextLink:
          description: Link for next list of VirtualNetwork
          type: string
        value:
          description: Results of the VirtualNetwork list
          type: array
          items:
            $ref: '#/components/schemas/VirtualNetwork_5'
  parameters:
    api-version:
      in: query
      name: api-version
      description: Client Api Version.
      required: true
      schema:
        type: string
    resourceGroupName:
      in: path
      name: resourceGroupName
      description: The Resource Group Name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    subscriptionId:
      in: path
      name: subscriptionId
      description: The Subscription ID.
      required: true
      schema:
        type: string
    api-version_2:
      name: api-version
      in: query
      description: Client API version.
      required: true
      schema:
        type: string
        default: '2018-09-15'
    resourceGroupName_2:
      name: resourceGroupName
      in: path
      description: The name of the resource group.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    subscriptionId_2:
      name: subscriptionId
      in: path
      description: The subscription ID.
      required: true
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter_2:
      name: api-version
      in: query
      required: true
      description: The API version to be used with the HTTP request (e.g. YYYY-MM-DD).
      schema:
        type: string
    SubscriptionIdParameter_2:
      name: subscriptionId
      in: path
      required: true
      description: The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).
      schema:
        type: string
    regionId:
      x-ms-parameter-location: method
      description: The region Id (westus, eastus)
      name: regionId
      in: path
      required: true
      schema:
        type: string
    pcName:
      x-ms-parameter-location: method
      description: The private cloud name
      name: pcName
      in: path
      required: true
      schema:
        type: string
    api-version_3:
      description: Client API version.
      name: api-version
      in: query
      required: true
      schema:
        type: string
    subscriptionId_3:
      description: The subscription ID.
      name: subscriptionId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-refined-from:
- azure-arc-vmware-management-service-api-openapi-original.yml
- devtestlabsclient-openapi-original.yml
- networkresourceproviderclient-openapi-original.yml
- scvmm-openapi-original.yml
- vmwarecloudsimple-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
