openapi: 3.2.0
info:
  title: Microsoft Azure Resource Mover Service Move Resources API
  description: A first party Azure service orchestrating the move of Azure resources from one Azure region to another or between zones within a region.
  version: 2019-10-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: MoveResources
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/moveCollections/{moveCollectionName}/moveResources/{moveResourceName}
  : put:
      tags:
      - MoveResources
      operationId: microsoftAzureMoveresourcesCreate
      description: Creates or updates a Move Resource in the move collection.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/moveCollectionName'
      - $ref: '#/components/parameters/moveResourceName'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoveResource'
        '202':
          description: Accepted
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        MoveResources_Create:
          $ref: ./examples/MoveResources_Create.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveResource'
    delete:
      tags:
      - MoveResources
      operationId: microsoftAzureMoveresourcesDelete
      description: Deletes a Move Resource from the move collection.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/moveCollectionName'
      - $ref: '#/components/parameters/moveResourceName'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        '202':
          description: Accepted
        '204':
          description: NoContent
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        MoveResources_Delete:
          $ref: ./examples/MoveResources_Delete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    get:
      tags:
      - MoveResources
      operationId: microsoftAzureMoveresourcesGet
      description: Gets the Move Resource.
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/moveCollectionName'
      - $ref: '#/components/parameters/moveResourceName'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoveResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        MoveResources_Get:
          $ref: ./examples/MoveResources_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    MoveResourceErrorBody:
      properties:
        code:
          type: string
          readOnly: true
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          type: string
          readOnly: true
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          type: string
          readOnly: true
          description: The target of the particular error. For example, the name of the property in error.
        details:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/MoveResourceErrorBody'
          description: A list of additional details about the error.
      description: An error response from the Azure Migrate service.
    OperationStatus:
      description: Operation status REST resource.
      type: object
      properties:
        id:
          description: Resource Id.
          type: string
          readOnly: true
        name:
          description: Operation name.
          type: string
          readOnly: true
        status:
          description: Status of the operation. ARM expects the terminal status to be one of Succeeded/ Failed/ Canceled. All other values imply that the operation is still running.
          type: string
          readOnly: true
        startTime:
          description: Start time.
          type: string
          readOnly: true
        endTime:
          description: End time.
          type: string
          readOnly: true
        error:
          $ref: '#/components/schemas/OperationStatusError'
          description: Error stating all error details for the operation.
          readOnly: true
        properties:
          $ref: '#/components/schemas/OperationStatusProperties'
          description: Custom data.
          readOnly: true
    MoveState:
      description: Defines the MoveResource states.
      enum:
      - AssignmentPending
      - PreparePending
      - PrepareInProgress
      - PrepareFailed
      - MovePending
      - MoveInProgress
      - MoveFailed
      - DiscardInProgress
      - DiscardFailed
      - CommitPending
      - CommitInProgress
      - CommitFailed
      - Committed
      - DeleteSourcePending
      - ResourceMoveCompleted
      type: string
      readOnly: true
      x-ms-enum:
        name: MoveState
        modelAsString: true
    JobName:
      description: Defines the job name.
      enum:
      - InitialSync
      type: string
      readOnly: true
      x-ms-enum:
        name: JobName
        modelAsString: true
    CloudErrorBody:
      x-ms-external: true
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of the property in error.
        details:
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          description: A list of additional details about the error.
      description: An error response from the service.
    MoveResourceDependency:
      description: Defines the dependency of the move resource.
      type: object
      properties:
        id:
          description: Gets the source ARM ID of the dependent resource.
          type: string
        resolutionStatus:
          description: Gets the dependency resolution status.
          type: string
        resolutionType:
          $ref: '#/components/schemas/ResolutionType'
        dependencyType:
          $ref: '#/components/schemas/DependencyType'
        manualResolution:
          $ref: '#/components/schemas/ManualResolutionProperties'
        automaticResolution:
          $ref: '#/components/schemas/AutomaticResolutionProperties'
        isOptional:
          description: Gets or sets a value indicating whether the dependency is optional.
          type: string
    ResolutionType:
      description: Defines the resolution type.
      enum:
      - Manual
      - Automatic
      type: string
      x-ms-enum:
        name: ResolutionType
        modelAsString: true
    MoveResourceError:
      properties:
        properties:
          type: object
          description: The move resource error body.
          $ref: '#/components/schemas/MoveResourceErrorBody'
      description: An error response from the azure resource mover service.
    ProvisioningState:
      description: Defines the provisioning states.
      enum:
      - Succeeded
      - Updating
      - Creating
      - Failed
      type: string
      readOnly: true
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    MoveResourceDependencyOverride:
      description: Defines the dependency override of the move resource.
      type: object
      properties:
        id:
          description: Gets or sets the ARM ID of the dependent resource.
          type: string
        targetId:
          description: 'Gets or sets the resource ARM id of either the MoveResource or the resource ARM ID of

            the dependent resource.'
          type: string
    ResourceSettings:
      description: Gets or sets the resource settings.
      type: object
      required:
      - resourceType
      - targetResourceName
      properties:
        resourceType:
          description: The resource type. For example, the value can be Microsoft.Compute/virtualMachines.
          type: string
          x-ms-mutability:
          - create
          - read
        targetResourceName:
          description: Gets or sets the target Resource name.
          type: string
      discriminator:
        propertyName: resourceType
    OperationStatusProperties:
      description: Class for operation result properties.
      type: object
      properties: {}
    MoveResourceProperties:
      description: Defines the move resource properties.
      type: object
      required:
      - sourceId
      properties:
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
        sourceId:
          description: Gets or sets the Source ARM Id of the resource.
          type: string
        targetId:
          description: Gets or sets the Target ARM Id of the resource.
          type: string
          readOnly: true
        existingTargetId:
          description: Gets or sets the existing target ARM Id of the resource.
          type: string
        resourceSettings:
          description: Gets or sets the resource settings.
          $ref: '#/components/schemas/ResourceSettings'
        sourceResourceSettings:
          description: Gets or sets the source resource settings.
          $ref: '#/components/schemas/ResourceSettings'
          readOnly: true
        moveStatus:
          description: Defines the move resource status.
          allOf:
          - $ref: '#/components/schemas/MoveResourceStatus'
          readOnly: true
        dependsOn:
          description: Gets or sets the move resource dependencies.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/MoveResourceDependency'
        dependsOnOverrides:
          description: Gets or sets the move resource dependencies overrides.
          type: array
          items:
            $ref: '#/components/schemas/MoveResourceDependencyOverride'
        isResolveRequired:
          description: Gets a value indicating whether the resolve action is required over the move collection.
          type: boolean
          readOnly: true
        errors:
          description: Defines the move resource errors.
          allOf:
          - $ref: '#/components/schemas/MoveResourceError'
          readOnly: true
    JobStatus:
      description: Defines the job status.
      type: object
      properties:
        jobName:
          $ref: '#/components/schemas/JobName'
        jobProgress:
          description: Gets or sets the monitoring job percentage.
          type: string
          readOnly: true
    AffectedMoveResource:
      description: The RP custom operation error info.
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: The affected move resource id.
        sourceId:
          readOnly: true
          type: string
          description: The affected move resource source id.
        moveResources:
          readOnly: true
          type: array
          description: The affected move resources.
          items:
            $ref: '#/components/schemas/AffectedMoveResource'
    MoveErrorInfo:
      description: The move custom error info.
      type: object
      properties:
        moveResources:
          readOnly: true
          type: array
          description: The affected move resources.
          items:
            $ref: '#/components/schemas/AffectedMoveResource'
    MoveResource:
      description: Defines the move resource.
      type: object
      x-ms-azure-resource: true
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource.
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource.
        properties:
          $ref: '#/components/schemas/MoveResourceProperties'
    AutomaticResolutionProperties:
      description: Defines the properties for automatic resolution.
      type: object
      properties:
        moveResourceId:
          description: 'Gets the MoveResource ARM ID of

            the dependent resource if the resolution type is Automatic.'
          type: string
    ManualResolutionProperties:
      description: Defines the properties for manual resolution.
      type: object
      properties:
        targetId:
          description: Gets or sets the target resource ARM ID of the dependent resource if the resource type is Manual.
          type: string
    OperationErrorAdditionalInfo:
      description: The operation error info.
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The error type.
        info:
          readOnly: true
          $ref: '#/components/schemas/MoveErrorInfo'
          description: The operation error info.
    CloudError:
      x-ms-external: true
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: Cloud error body.
      description: An error response from the service.
    DependencyType:
      description: Defines the dependency type.
      enum:
      - RequiredForPrepare
      - RequiredForMove
      type: string
      x-ms-enum:
        name: DependencyType
        modelAsString: true
    MoveResourceStatus:
      description: Defines the move resource status.
      type: object
      properties:
        moveState:
          $ref: '#/components/schemas/MoveState'
        jobStatus:
          $ref: '#/components/schemas/JobStatus'
        errors:
          $ref: '#/components/schemas/MoveResourceError'
    OperationStatusError:
      description: Class for operation status errors.
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        details:
          readOnly: true
          type: array
          description: The error details.
          items:
            $ref: '#/components/schemas/OperationStatusError'
        additionalInfo:
          readOnly: true
          type: array
          description: The additional info.
          items:
            $ref: '#/components/schemas/OperationErrorAdditionalInfo'
  parameters:
    moveCollectionName:
      in: path
      name: moveCollectionName
      description: The Move Collection Name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    api-version:
      in: query
      name: api-version
      description: Client Api Version.
      required: true
      schema:
        type: string
    subscriptionId:
      in: path
      name: subscriptionId
      description: The Subscription ID.
      required: true
      schema:
        type: string
    moveResourceName:
      in: path
      name: moveResourceName
      description: The Move Resource Name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    resourceGroupName:
      in: path
      name: resourceGroupName
      description: The Resource Group Name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
