openapi: 3.2.0
info:
  title: Microsoft Azure Test Base Test Base Email Event API
  description: Test Base
  version: 2020-12-16-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Test Base Email Event
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/emailEvents
  : get:
      tags:
      - Test Base Email Event
      operationId: microsoftAzureEmaileventsList
      description: Lists all the email events of a Test Base Account.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/TestBaseAccountNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: The operation is completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailEventListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        EmailEventsList:
          $ref: ./examples/EmailEventsList.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/emailEvents/{emailEventResourceName}
  : get:
      tags:
      - Test Base Email Event
      operationId: microsoftAzureEmaileventsGet
      description: Gets a email event of a Test Base Account.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/TestBaseAccountNameParameter'
      - name: emailEventResourceName
        in: path
        required: true
        x-ms-parameter-location: method
        description: The resource name of an email event.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: The operation is completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailEventResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        EmailEventGet:
          $ref: ./examples/EmailEventGet.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    EmailEventListResult:
      description: A list of email events.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/EmailEventResource'
          description: The list of email events.
        nextLink:
          type: string
          readOnly: true
          description: Link to the next set of results. Not empty if value contains incomplete list of results.
    ProxyResource:
      description: The resource model definition for an ARM proxy resource. It will have everything other than required location and tags
      allOf:
      - $ref: '#/components/schemas/Resource'
    EmailEventProperties:
      description: The Email Event properties.
      properties:
        eventId:
          type: string
          description: The identifier of the email event.
        eventName:
          type: string
          description: The name of the email event.
        displayName:
          type: string
          description: The display name of the email event.
    ErrorDefinition:
      description: Error definition.
      properties:
        code:
          description: The error code.
          type: string
          readOnly: true
        message:
          description: The error message.
          type: string
          readOnly: true
        target:
          type: string
          description: The target of the particular error.
          readOnly: true
        details:
          description: The error details.
          type: array
          items:
            $ref: '#/components/schemas/ErrorDefinition'
          readOnly: true
    EmailEventResource:
      description: The email event resource.
      properties:
        systemData:
          description: The system metadata relating to this resource
          $ref: '#/components/schemas/SystemData'
        properties:
          $ref: '#/components/schemas/EmailEventProperties'
          x-ms-client-flatten: true
          description: Email Event properties.
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
    Resource:
      description: The Resource definition.
      properties:
        id:
          readOnly: true
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
      x-ms-azure-resource: true
    ErrorResponse:
      description: The error response send when an operation fails.
      properties:
        error:
          $ref: '#/components/schemas/ErrorDefinition'
          description: The error details.
    SystemData:
      description: Metadata pertaining to creation and last modification of the resource.
      type: object
      readOnly: true
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The type of identity that last modified the resource.
  parameters:
    TestBaseAccountNameParameter:
      name: testBaseAccountName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The resource name of the Test Base Account.
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The name of the resource group that contains the resource.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to be used with the HTTP request.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The Azure subscription ID. This is a GUID-formatted string.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
