openapi: 3.2.0
info:
  title: Microsoft Azure Pipelines API
  x-refined-note:
  - x-ms-code-generation-settings differs across the merged source definitions and was not carried
  - x-typespec-generated differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Pipelines across 2 of this provider''s published API definitions: azure-devops-openapi-original.yml, microsoftiotoperationsdataprocessor-management-service-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Pipelines
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevOps/pipelines/{pipelineName}:
    put:
      deprecated: true
      operationId: microsoftAzurePipelinesCreateorupdate
      description: Creates or updates a Pipeline.
      tags:
      - Pipelines
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: pipelineName
        description: The name of the Pipeline resource in ARM.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The Pipeline has been configured successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline'
        '202':
          description: The request has been accepted for processing and the Pipeline will be configured asynchronously.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-long-running-operation: true
      x-ms-examples:
        Create an Azure pipeline to deploy a sample ASP.Net application to Azure web-app:
          $ref: ./examples/CreateAzurePipeline-Sample-AspNet-WindowsWebApp.json
        Create a GitHub pipeline to deploy a sample ASP.Net application to Azure web-app:
          $ref: ./examples/CreateGitHubPipeline-Sample-AspNet-WindowsWebApp.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pipeline'
        description: The request payload to create the Pipeline.
        required: true
    get:
      deprecated: true
      operationId: microsoftAzurePipelinesGet
      description: Gets an existing Pipeline.
      tags:
      - Pipelines
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: pipelineName
        description: The name of the Pipeline resource in ARM.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The Pipeline has been fetched successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Get an existing pipeline:
          $ref: ./examples/GetPipeline.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    patch:
      deprecated: true
      operationId: microsoftAzurePipelinesUpdate
      description: Updates the properties of an Azure Pipeline. Currently, it is not supported on 'githubWorkflow' pipeline type and only tags can be updated for 'azurePipeline' pipeline type.
      tags:
      - Pipelines
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: pipelineName
        description: The name of the Azure Pipeline resource.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The Azure Pipeline has been updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Update an existing Azure pipeline:
          $ref: ./examples/UpdateAzurePipeline.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineUpdateParameters'
        description: The request payload containing the properties to update in the Azure Pipeline.
        required: true
    delete:
      deprecated: true
      operationId: microsoftAzurePipelinesDelete
      description: Deletes a Pipeline.
      tags:
      - Pipelines
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: pipelineName
        description: The name of the Pipeline resource.
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The Pipeline has been deleted successfully.
        '204':
          description: The Pipeline is not found or has been deleted already.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Delete an existing pipeline:
          $ref: ./examples/DeletePipeline.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevOps/pipelines:
    get:
      deprecated: true
      operationId: microsoftAzurePipelinesListbyresourcegroup
      description: Lists all Pipelines under the specified resource group.
      tags:
      - Pipelines
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: The Pipelines have been fetched successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List all Pipelines under the specified resource group:
          $ref: ./examples/ListPipelinesByResourceGroup.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.DevOps/pipelines:
    get:
      deprecated: true
      operationId: microsoftAzurePipelinesListbysubscription
      description: Lists all Pipelines under the specified subscription.
      tags:
      - Pipelines
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: The Pipelines have been fetched successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List all pipelines under the specified subscription:
          $ref: ./examples/ListPipelinesBySubscription.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Devops…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTOperationsDataProcessor/instances/{instanceName}/pipelines
  : get:
      operationId: microsoftAzurePipelinesListbyinstance
      tags:
      - Pipelines
      description: List Pipeline resources by Instance
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: instanceName
        in: path
        description: Name of instance.
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9][a-z0-9-]{1,60}[a-z0-9]$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineListResult_2'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Pipelines_ListByInstance - generated by [MaximumSet] rule:
          $ref: ./examples/Pipelines_ListByInstance_MaximumSet_Gen.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTOperationsDataProcessor/instances/{instanceName}/pipelines/{pipelineName}
  : get:
      operationId: microsoftAzurePipelinesGet
      tags:
      - Pipelines
      description: Get a Pipeline
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: instanceName
        in: path
        description: Name of instance.
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9][a-z0-9-]{1,60}[a-z0-9]$
      - name: pipelineName
        in: path
        description: Name of pipeline
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9][a-z0-9-]{1,60}[a-z0-9]$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline_2'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Pipelines_Get - generated by [MaximumSet] rule:
          $ref: ./examples/Pipelines_Get_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      operationId: microsoftAzurePipelinesCreateorupdate
      tags:
      - Pipelines
      description: Create a Pipeline
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: instanceName
        in: path
        description: Name of instance.
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9][a-z0-9-]{1,60}[a-z0-9]$
      - name: pipelineName
        in: path
        description: Name of pipeline
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9][a-z0-9-]{1,60}[a-z0-9]$
      responses:
        '200':
          description: Resource 'Pipeline' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline_2'
        '201':
          description: Resource 'Pipeline' create operation succeeded
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline_2'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Pipelines create or update - generated by [MaximumSet] rule:
          $ref: ./examples/Pipelines_CreateOrUpdate_MaximumSet_Gen.json
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pipeline_2'
        description: Resource create parameters.
        required: true
    patch:
      operationId: microsoftAzurePipelinesUpdate
      tags:
      - Pipelines
      description: Update a Pipeline
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: instanceName
        in: path
        description: Name of instance.
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9][a-z0-9-]{1,60}[a-z0-9]$
      - name: pipelineName
        in: path
        description: Name of pipeline
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9][a-z0-9-]{1,60}[a-z0-9]$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline_2'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Pipelines_Update - generated by [MaximumSet] rule:
          $ref: ./examples/Pipelines_Update_MaximumSet_Gen.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineTagsUpdate'
        description: The resource properties to be updated.
        required: true
    delete:
      operationId: microsoftAzurePipelinesDelete
      tags:
      - Pipelines
      description: Delete a Pipeline
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: instanceName
        in: path
        description: Name of instance.
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9][a-z0-9-]{1,60}[a-z0-9]$
      - name: pipelineName
        in: path
        description: Name of pipeline
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9][a-z0-9-]{1,60}[a-z0-9]$
      responses:
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Pipelines_Delete - generated by [MaximumSet] rule:
          $ref: ./examples/Pipelines_Delete_MaximumSet_Gen.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
components:
  schemas:
    CloudError:
      x-ms-external: true
      properties:
        error:
          description: Details of the error from the Pipelines Resource Provider.
          $ref: '#/components/schemas/CloudErrorBody'
      description: An error response from the Pipelines Resource Provider.
    PipelineUpdateParameters:
      type: object
      description: Request payload used to update an existing Azure Pipeline.
      properties:
        tags:
          type: object
          description: Dictionary of key-value pairs to be set as tags on the Azure Pipeline. This will overwrite any existing tags.
          additionalProperties:
            type: string
    PipelineProperties:
      type: object
      description: Custom properties of a Pipeline.
      discriminator:
        propertyName: pipelineType
      properties:
        pipelineId:
          type: integer
          readOnly: true
          description: Unique identifier of the Pipeline
        pipelineType:
          type: string
          enum:
          - githubWorkflow
          - azurePipeline
          x-ms-enum:
            name: pipelineTypeEnum
            modelAsString: true
          description: Specifies which CI/CD provider to use. Valid options are 'azurePipeline', 'githubWorkflow'.
        bootstrapConfiguration:
          $ref: '#/components/schemas/BootstrapConfiguration'
          description: Configuration used to bootstrap the Pipeline.
      required:
      - pipelineType
      - bootstrapConfiguration
    BootstrapConfiguration:
      type: object
      description: Configuration used to bootstrap a Pipeline.
      properties:
        sourceRepository:
          $ref: '#/components/schemas/CodeRepository'
          description: Repository containing the source code for the pipeline. Currently only 'azurePipeline' pipeline type supports this.
        template:
          $ref: '#/components/schemas/PipelineTemplate'
          description: Template used to bootstrap the pipeline.
      required:
      - template
    PipelineListResult:
      description: Result of a request to list all Pipelines under a given scope.
      properties:
        value:
          description: List of pipelines.
          type: array
          items:
            $ref: '#/components/schemas/Pipeline'
        nextLink:
          type: string
          description: URL to get the next set of Pipelines, if there are any.
    CloudErrorBody:
      x-ms-external: true
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of the property in error or the method where the error occurred.
        details:
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          description: A list of additional details about the error.
      description: An error response from the Pipelines Resource Provider.
    Pipeline:
      type: object
      description: Pipeline used to configure Continuous Integration (CI) & Continuous Delivery (CD) for Azure resources.
      properties:
        properties:
          $ref: '#/components/schemas/PipelineProperties'
          description: Custom properties of the Pipeline.
          x-ms-client-flatten: true
        systemData:
          readOnly: true
          description: The system metadata pertaining to this resource.
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
      allOf:
      - $ref: '#/components/schemas/Resource'
      required:
      - properties
    Resource:
      type: object
      description: An Azure Resource Manager (ARM) resource.
      properties:
        id:
          type: string
          readOnly: true
          description: Resource Id
        type:
          type: string
          readOnly: true
          description: Resource Type
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource Tags
        location:
          type: string
          description: Resource Location
        name:
          type: string
          readOnly: true
          description: Resource Name
      x-ms-azure-resource: true
    Authorization:
      description: Authorization info used to access a resource (like code repository).
      type: object
      properties:
        authorizationType:
          description: Type of authorization.
          type: string
          enum:
          - personalAccessToken
          x-ms-enum:
            name: AuthorizationType
            modelAsString: true
        parameters:
          description: Authorization parameters corresponding to the authorization type.
          type: object
          additionalProperties:
            type: string
      required:
      - authorizationType
    CodeRepository:
      type: object
      description: Repository containing the source code for a pipeline.
      properties:
        repositoryType:
          description: Type of code repository.
          type: string
          enum:
          - gitHub
          - vstsGit
          x-ms-enum:
            name: CodeRepositoryType
            modelAsString: true
        id:
          description: Unique immutable identifier of the code repository.
          type: string
        defaultBranch:
          description: Default branch used to configure Continuous Integration (CI) in the pipeline.
          type: string
        authorization:
          description: Authorization info to access the code repository.
          $ref: '#/components/schemas/Authorization'
        properties:
          description: Repository-specific properties.
          type: object
          additionalProperties:
            type: string
          x-ms-client-flatten: true
      required:
      - repositoryType
      - id
      - defaultBranch
    PipelineTemplate:
      type: object
      description: Template used to bootstrap the pipeline.
      properties:
        id:
          type: string
          description: Unique identifier of the pipeline template.
        parameters:
          type: object
          description: Dictionary of input parameters used in the pipeline template.
          additionalProperties:
            type: string
      required:
      - id
    ProvisioningState:
      type: string
      description: The provisioning status of the resource.
      enum:
      - Succeeded
      - Failed
      - Canceled
      - Provisioning
      - Updating
      - Deleting
      - Accepted
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: Succeeded
          value: Succeeded
          description: Resource has been created.
        - name: Failed
          value: Failed
          description: Resource creation failed.
        - name: Canceled
          value: Canceled
          description: Resource creation was canceled.
        - name: Provisioning
          value: Provisioning
          description: The resource is being created.
        - name: Updating
          value: Updating
          description: The resource is being updated.
        - name: Deleting
          value: Deleting
          description: The resource is being deleted.
        - name: Accepted
          value: Accepted
          description: The resource was accepted by the server.
    PipelineStage:
      type: object
      description: Stage configurations for all Pipeline processing and output stages.
      properties:
        type:
          type: string
          description: ARM resource type.
        description:
          type: string
          description: Description for stage.
        next:
          type: array
          description: Next stage in the pipeline. Not required if output stage.
          items:
            type: string
      required:
      - type
      additionalProperties: {}
    PipelineProperties_2:
      type: object
      description: The properties of a Pipeline resource.
      properties:
        description:
          type: string
          description: Detailed description of the Pipeline.
        enabled:
          type: boolean
          description: Flag indicating whether the pipeline should be running or not.
        input:
          $ref: '#/components/schemas/PipelineInput'
          description: Information about where to pull input data from.
        stages:
          type: object
          description: Map of stage ids to stage configurations for all pipeline processing and output stages.
          additionalProperties:
            $ref: '#/components/schemas/PipelineStage'
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The status of the last operation.
          readOnly: true
      required:
      - enabled
      - input
      - stages
    ExtendedLocation:
      type: object
      description: Extended location is an extension of Azure locations. They provide a way to use their Azure ARC enabled Kubernetes clusters as target locations for deploying Azure services instances.
      properties:
        name:
          type: string
          description: The name of the extended location.
        type:
          type: string
          description: The type of the extended location.
      required:
      - name
      - type
    PipelineTagsUpdate:
      type: object
      description: The type used for updating tags in Pipeline resources.
      properties:
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
    PipelineListResult_2:
      type: object
      description: The response of a Pipeline list operation.
      properties:
        value:
          type: array
          description: The Pipeline items on this page
          items:
            $ref: '#/components/schemas/Pipeline_2'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    PipelineInput:
      type: object
      description: Stage configuration for Pipeline input stage.
      properties:
        type:
          type: string
          description: ARM resource type.
        description:
          type: string
          description: Description for stage.
        next:
          type: array
          description: Next stage in the pipeline.
          items:
            type: string
      required:
      - type
      - next
      additionalProperties: {}
    Pipeline_2:
      type: object
      description: A Pipeline resource belonging to an Instance resource.
      properties:
        properties:
          $ref: '#/components/schemas/PipelineProperties_2'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
        extendedLocation:
          $ref: '#/components/schemas/ExtendedLocation'
          description: Edge location of the resource.
          x-ms-mutability:
          - read
          - create
      required:
      - extendedLocation
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: Name of the resource group within the Azure subscription.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: API version to be used with the HTTP request.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Unique identifier of the Azure subscription. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- azure-devops-openapi-original.yml
- microsoftiotoperationsdataprocessor-management-service-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
