openapi: 3.2.0
info:
  title: Microsoft Azure HelpRP Discovery Solutions API
  description: Help RP provider
  version: 2024-03-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: discoverySolutions
paths:
  /providers/Microsoft.Help/discoverySolutions:
    get:
      tags:
      - discoverySolutions
      description: 'Lists the relevant Azure Diagnostics, Solutions and Troubleshooters using problemClassification API) AND resourceUri or resourceType. Discovery Solutions is the initial entry point within Help API, which identifies relevant Azure diagnostics and solutions. Required Input : problemClassificationId (Use the problemClassification API) Optional input: resourceUri OR resource Type Note: ‘requiredInputs’ from Discovery solutions response must be passed via ‘additionalParameters’ as an input to Diagnostics and Solutions API.'
      operationId: microsoftAzureDiscoverysolutionList
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/FilterParameter'
      - $ref: '#/components/parameters/SkipTokenParameter'
      responses:
        '200':
          description: Successful fetched list of solution metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoveryResponse'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List DiscoverySolutions at resource scope:
          $ref: ./examples/ListDiscoverySolutionsAtTenantScope.json
      summary: Microsoft Azure Get Providers Microsoft Help Discoverysolutions
components:
  schemas:
    SolutionType:
      description: Solution Type.
      type: string
      readOnly: true
      enum:
      - Diagnostics
      - Solutions
      - Troubleshooters
      - SelfHelp
      x-ms-enum:
        name: SolutionType
        modelAsString: true
        values:
        - value: Diagnostics
          description: Diagnostics resource type.
        - value: Solutions
          description: Solutions resource type.
        - value: Troubleshooters
          description: Troubleshooters resource type.
        - value: SelfHelp
          description: SelfHelp resource type.
    Solutions:
      description: List of solutions
      type: object
      properties:
        solutions:
          description: List of metadata.
          type: array
          items:
            $ref: '#/components/schemas/SolutionMetadataProperties'
          x-ms-identifiers: []
    SolutionMetadataResource:
      description: Metadata resource
      type: object
      x-ms-azure-resource: true
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/Solutions'
          description: Solution metadata Resource properties.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
    SolutionMetadataProperties:
      description: Metadata Properties
      type: object
      properties:
        solutionId:
          description: Solution Id.
          type: string
        solutionType:
          $ref: '#/components/schemas/SolutionType'
        description:
          description: A detailed description of solution.
          type: string
          readOnly: true
        requiredInputs:
          description: Required parameters for invoking this particular solution.
          type: array
          readOnly: true
          items:
            type: string
          x-ms-identifiers: []
    DiscoveryResponse:
      description: Discovery response.
      type: object
      properties:
        value:
          description: The list of metadata.
          type: array
          items:
            $ref: '#/components/schemas/SolutionMetadataResource'
        nextLink:
          description: The link used to get the next page of solution metadata.
          type: string
  parameters:
    SkipTokenParameter:
      name: $skiptoken
      description: Skiptoken is only used if a previous operation returned a partial result.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      x-ms-parameter-location: client
      schema:
        type: string
    FilterParameter:
      name: $filter
      description: '''ProblemClassificationId'' is a mandatory filter to get solutions ids. It also supports optional ''ResourceType'' and ''SolutionType'' filters. The [$filter](https://learn.microsoft.com/en-us/odata/webapi/first-odata-api#filter) supports only ''and'', ''or'' and ''eq'' operators. Example: $filter=ProblemClassificationId eq ''1ddda5b4-cf6c-4d4f-91ad-bc38ab0e811e'''
      in: query
      required: false
      x-ms-skip-url-encoding: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
