openapi: 3.2.0
info:
  title: Microsoft Azure Locations API
  x-refined-note:
  - x-ms-code-generation-settings differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Locations across 5 of this provider''s published API definitions: azure-agrifood-rp-service-openapi-original.yml, azure-vmware-solution-api-openapi-original.yml, datalakeanalyticsaccountmanagementclient-openapi-original.yml, datalakestoreaccountmanagementclient-openapi-original.yml, open-energy-platform-management-service-apis-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Locations
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AgFoodPlatform/checkNameAvailability:
    post:
      tags:
      - Locations
      description: Checks the name availability of the resource with requested resource name.
      operationId: microsoftAzureLocationsChecknameavailability
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/CheckNameAvailabilityResponse
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Locations_CheckNameAvailability_AlreadyExists:
          $ref: ./examples/Locations_CheckNameAvailability_AlreadyExists.json
        Locations_CheckNameAvailability_Available:
          $ref: ./examples/Locations_CheckNameAvailability_Available.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft…
      requestBody:
        content:
          application/json:
            schema:
              $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/CheckNameAvailabilityRequest
        description: NameAvailabilityRequest object.
        required: true
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.AVS/locations/{location}/checkTrialAvailability:
    post:
      tags:
      - Locations
      description: Return trial status for subscription by region
      operationId: microsoftAzureLocationsChecktrialavailability
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - name: location
        in: path
        required: true
        description: Azure region
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trial'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Locations_CheckTrialAvailability:
          $ref: ./examples/Locations_CheckTrialAvailability.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft Avs…
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.AVS/locations/{location}/checkQuotaAvailability:
    post:
      tags:
      - Locations
      description: Return quota for subscription by region
      operationId: microsoftAzureLocationsCheckquotaavailability
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - name: location
        in: path
        required: true
        description: Azure region
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quota'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Locations_CheckQuotaAvailability:
          $ref: ./examples/Locations_CheckQuotaAvailability.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft Avs…
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.DataLakeAnalytics/locations/{location}/capability:
    get:
      tags:
      - Locations
      operationId: microsoftAzureLocationsGetcapability
      description: Gets subscription-level properties and limits for Data Lake Analytics specified by resource location.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: location
        in: path
        required: true
        description: The resource location without whitespace.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved the subscription-level properties and limits for Data Lake Analytics specified by resource location.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapabilityInformation'
        '404':
          description: Subscription not found.
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Gets subscription-level properties and limits for Data Lake Analytics specified by resource location:
          $ref: ./examples/Locations_GetCapability.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.DataLakeStore/locations/{location}/capability:
    get:
      tags:
      - Locations
      operationId: microsoftAzureLocationsGetcapability
      description: Gets subscription-level properties and limits for Data Lake Store specified by resource location.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      - name: location
        in: path
        required: true
        description: The resource location without whitespace.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved the subscription-level properties and limits for Data Lake Store specified by resource location.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapabilityInformation_2'
        '404':
          description: Subscription not found.
      x-ms-examples:
        Gets subscription-level properties and limits for Data Lake Store specified by resource location:
          $ref: ./examples/Locations_GetCapability.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.OpenEnergyPlatform/checkNameAvailability:
    post:
      tags:
      - Locations
      description: Checks the name availability of the resource with requested resource name.
      operationId: microsoftAzureLocationsChecknameavailability
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/CheckNameAvailabilityResponse
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Locations_CheckNameAvailability:
          $ref: ./examples/Locations_CheckNameAvailability.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft…
      requestBody:
        content:
          application/json:
            schema:
              description: NameAvailabilityRequest object.
              $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/CheckNameAvailabilityRequest
        description: NameAvailabilityRequest object.
        required: true
    servers:
    - url: https://management.azure.com
components:
  schemas:
    Quota:
      description: Subscription quotas
      properties:
        hostsRemaining:
          description: Remaining hosts quota by sku type
          type: object
          readOnly: true
          additionalProperties:
            type: integer
            format: int32
            readOnly: true
        quotaEnabled:
          description: Host quota is active for current subscription
          type: string
          enum:
          - Enabled
          - Disabled
          readOnly: true
          x-ms-enum:
            name: QuotaEnabled
            modelAsString: true
    CloudError:
      x-ms-external: true
      properties:
        error:
          description: An error returned by the API
          $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse
      description: API error response
    Trial:
      description: Subscription trial availability
      properties:
        status:
          description: Trial status
          type: string
          enum:
          - TrialAvailable
          - TrialUsed
          - TrialDisabled
          readOnly: true
          x-ms-enum:
            name: TrialStatus
            modelAsString: true
        availableHosts:
          description: Number of trial hosts available
          type: integer
          format: int32
          readOnly: true
    CapabilityInformation:
      properties:
        subscriptionId:
          readOnly: true
          type: string
          format: uuid
          description: The subscription credentials that uniquely identifies the subscription.
        state:
          readOnly: true
          type: string
          enum:
          - Registered
          - Suspended
          - Deleted
          - Unregistered
          - Warned
          x-ms-enum:
            name: SubscriptionState
            modelAsString: true
          description: The subscription state.
        maxAccountCount:
          readOnly: true
          type: integer
          format: int32
          description: The maximum supported number of accounts under this subscription.
        accountCount:
          readOnly: true
          type: integer
          format: int32
          description: The current number of accounts under this subscription.
        migrationState:
          readOnly: true
          type: boolean
          description: The Boolean value of true or false to indicate the maintenance state.
      description: Subscription-level properties and limits for Data Lake Analytics.
    CapabilityInformation_2:
      properties:
        subscriptionId:
          readOnly: true
          type: string
          format: uuid
          description: The subscription credentials that uniquely identifies the subscription.
        state:
          readOnly: true
          type: string
          enum:
          - Registered
          - Suspended
          - Deleted
          - Unregistered
          - Warned
          x-ms-enum:
            name: SubscriptionState
            modelAsString: true
          description: The subscription state.
        maxAccountCount:
          readOnly: true
          type: integer
          format: int32
          description: The maximum supported number of accounts under this subscription.
        accountCount:
          readOnly: true
          type: integer
          format: int32
          description: The current number of accounts under this subscription.
        migrationState:
          readOnly: true
          type: boolean
          description: The Boolean value of true or false to indicate the maintenance state.
      description: Subscription-level properties and limits for Data Lake Store.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Get subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
    SubscriptionIdParameter_2:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-refined-from:
- azure-agrifood-rp-service-openapi-original.yml
- azure-vmware-solution-api-openapi-original.yml
- datalakeanalyticsaccountmanagementclient-openapi-original.yml
- datalakestoreaccountmanagementclient-openapi-original.yml
- open-energy-platform-management-service-apis-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
