openapi: 3.2.0
info:
  title: Microsoft Azure Nginx.NginxPlus Nginx Configuration API
  version: 2021-05-01-preview
servers:
- url: https://management.azure.com
tags:
- name: NginxConfiguration
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Nginx.NginxPlus/nginxDeployments/{deploymentName}/configurations
  : get:
      tags:
      - NginxConfiguration
      summary: Microsoft Azure List The Nginx Configuration Of Given Nginx Deployment
      operationId: microsoftAzureConfigurationsList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/DeploymentNameParameter'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NginxConfigurationListResponse'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Configurations_List:
          $ref: ./examples/Configurations_List.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Nginx.NginxPlus/nginxDeployments/{deploymentName}/configurations/{configurationName}
  : get:
      tags:
      - NginxConfiguration
      summary: Microsoft Azure Get The Nginx Configuration Of Given Nginx Deployment
      operationId: microsoftAzureConfigurationsGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/DeploymentNameParameter'
      - in: path
        name: configurationName
        description: The name of configuration, only 'default' is supported value due to the singleton of Nginx conf
        required: true
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NginxConfiguration'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-examples:
        Configurations_Get:
          $ref: ./examples/Configurations_Get.json
      description: Needs a more full description created.
    put:
      tags:
      - NginxConfiguration
      summary: Microsoft Azure Create Or Update The Nginx Configuration For Given Nginx…
      operationId: microsoftAzureConfigurationsCreateorupdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/DeploymentNameParameter'
      - in: path
        name: configurationName
        description: The name of configuration, only 'default' is supported value due to the singleton of Nginx conf
        required: true
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NginxConfiguration'
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NginxConfiguration'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        Configurations_CreateOrUpdate:
          $ref: ./examples/Configurations_CreateOrUpdate.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NginxConfiguration'
        description: The Nginx configuration
    delete:
      tags:
      - NginxConfiguration
      summary: Microsoft Azure Reset The Nginx Configuration Of Given Nginx Deployment To…
      operationId: microsoftAzureConfigurationsDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/DeploymentNameParameter'
      - in: path
        name: configurationName
        description: The name of configuration, only 'default' is supported value due to the singleton of Nginx conf
        required: true
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
        '202':
          description: Success
        '204':
          description: Success
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-long-running-operation: true
      x-ms-examples:
        Configurations_Delete:
          $ref: ./examples/Configurations_Delete.json
      description: Needs a more full description created.
components:
  schemas:
    ResourceProviderDefaultErrorResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorResponseBody'
    NginxConfigurationPackage:
      type: object
      properties:
        data:
          type: string
    ProvisioningState:
      enum:
      - Accepted
      - Creating
      - Updating
      - Deleting
      - Succeeded
      - Failed
      - Canceled
      - Deleted
      - NotSpecified
      type: string
      readOnly: true
      x-ms-enum:
        modelAsString: true
        name: ProvisioningState
    NginxConfigurationFile:
      type: object
      properties:
        content:
          type: string
        virtualPath:
          type: string
    ErrorResponseBody:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseBody'
          x-ms-identifiers: []
    NginxConfiguration:
      type: object
      x-ms-azure-resource: true
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
        type:
          type: string
          readOnly: true
        properties:
          $ref: '#/components/schemas/NginxConfigurationProperties'
        tags:
          type: object
          additionalProperties:
            type: string
        location:
          type: string
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          readOnly: true
    NginxConfigurationProperties:
      type: object
      properties:
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
        files:
          type: array
          items:
            $ref: '#/components/schemas/NginxConfigurationFile'
          x-ms-identifiers: []
        protectedFiles:
          type: array
          items:
            $ref: '#/components/schemas/NginxConfigurationFile'
          x-ms-identifiers: []
        package:
          $ref: '#/components/schemas/NginxConfigurationPackage'
        rootFile:
          type: string
    NginxConfigurationListResponse:
      description: Response of a list operation.
      type: object
      properties:
        value:
          description: Results of a list operation.
          type: array
          items:
            $ref: '#/components/schemas/NginxConfiguration'
        nextLink:
          description: Link to the next set of results, if any.
          type: string
  parameters:
    DeploymentNameParameter:
      in: path
      name: deploymentName
      description: The name of targeted Nginx deployment
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
