openapi: 3.2.0
info:
  version: '2015-08-01'
  title: Microsoft Azure WebSite Management Client Top Level Domains…
  description: Use these APIs to manage Azure Websites resources through the Azure Resource Manager. All task operations conform to the HTTP/1.1 protocol specification and each operation returns an x-ms-request-id header that can be used to obtain information about the request. You must make sure that requests made to these resources are secure. For more information, see https://msdn.microsoft.com/en-us/library/azure/dn790557.aspx.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: TopLevelDomains
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/topLevelDomains:
    get:
      tags:
      - TopLevelDomains
      summary: Microsoft Azure Lists All Top Level Domains Supported For Registration
      operationId: microsoftAzureTopleveldomainsGetgettopleveldomains
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopLevelDomainCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/TopLevelDomainCollection'
      deprecated: false
      x-ms-pageable:
        nextLinkName: nextLink
      description: Needs a more full description created.
  /subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/topLevelDomains/{name}:
    get:
      tags:
      - TopLevelDomains
      summary: Microsoft Azure Gets Details Of A Top Level Domain
      operationId: microsoftAzureTopleveldomainsGettopleveldomain
      parameters:
      - name: name
        in: path
        description: Name of the top level domain
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopLevelDomain'
            text/json:
              schema:
                $ref: '#/components/schemas/TopLevelDomain'
            application/xml:
              schema:
                $ref: '#/components/schemas/TopLevelDomain'
            text/xml:
              schema:
                $ref: '#/components/schemas/TopLevelDomain'
      deprecated: false
      description: Needs a more full description created.
  /subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/topLevelDomains/{name}/listAgreements:
    post:
      tags:
      - TopLevelDomains
      summary: Microsoft Azure Lists Legal Agreements That User Needs To Accept Before…
      operationId: microsoftAzureTopleveldomainsListtopleveldomainagreements
      parameters:
      - name: name
        in: path
        description: Name of the top level domain
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TldLegalAgreementCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/TldLegalAgreementCollection'
      deprecated: false
      x-ms-pageable:
        nextLinkName: nextLink
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopLevelDomainAgreementOption'
          text/json:
            schema:
              $ref: '#/components/schemas/TopLevelDomainAgreementOption'
          application/xml:
            schema:
              $ref: '#/components/schemas/TopLevelDomainAgreementOption'
          text/xml:
            schema:
              $ref: '#/components/schemas/TopLevelDomainAgreementOption'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TopLevelDomainAgreementOption'
        description: Domain agreement options
        required: true
components:
  schemas:
    TldLegalAgreement:
      description: Represents a legal agreement for top level domain
      type: object
      properties:
        agreementKey:
          description: Unique identifier for the agreement
          type: string
        title:
          description: Agreement title
          type: string
        content:
          description: Agreement details
          type: string
        url:
          description: Url where a copy of the agreement details is hosted
          type: string
    TopLevelDomainCollection:
      description: Collection of Top Level Domains
      type: object
      properties:
        value:
          description: Collection of resources
          type: array
          items:
            $ref: '#/components/schemas/TopLevelDomain'
        nextLink:
          description: Link to next page of resources
          type: string
    TldLegalAgreementCollection:
      description: Collection of Tld Legal Agreements
      type: object
      properties:
        value:
          description: Collection of resources
          type: array
          items:
            $ref: '#/components/schemas/TldLegalAgreement'
        nextLink:
          description: Link to next page of resources
          type: string
    TopLevelDomain:
      description: A top level domain object
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          properties:
            name:
              description: Name of the top level domain
              type: string
            privacy:
              description: If true then the top level domain supports domain privacy
              type: boolean
          x-ms-client-flatten: true
    TopLevelDomainAgreementOption:
      description: Options for retrieving the list of top level domain legal agreements
      type: object
      properties:
        includePrivacy:
          description: If true then the list of agreements will include agreements for domain privacy as well.
          type: boolean
    Resource:
      required:
      - location
      properties:
        id:
          description: Resource Id
          type: string
        name:
          description: Resource Name
          type: string
        kind:
          description: Kind of resource
          type: string
        location:
          description: Resource Location
          type: string
        type:
          description: Resource type
          type: string
        tags:
          description: Resource tags
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription Id
      required: true
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      description: API Version
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
