openapi: 3.2.0
info:
  version: '2018-08-01'
  title: Microsoft Azure FrontDoorManagementClient Check Front Door…
  description: Use these APIs to manage Azure Front Door resources through the Azure Resource Manager. You must make sure that requests made to these resources are secure.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: CheckFrontDoorNameAvailability
paths:
  /providers/Microsoft.Network/checkFrontDoorNameAvailability:
    post:
      tags:
      - CheckFrontDoorNameAvailability
      description: Check the availability of a Front Door resource name.
      operationId: microsoftAzureCheckfrontdoornameavailability
      x-ms-examples:
        CheckNameAvailability:
          $ref: ./examples/CheckFrontdoorNameAvailability.json
      parameters:
      - $ref: ./network.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityOutput'
        default:
          description: Front Door error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Post Providers Microsoft Network Checkfrontdoornameavailability
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityInput'
        description: Input to check.
        required: true
components:
  schemas:
    CheckNameAvailabilityInput:
      description: Input of CheckNameAvailability API.
      type: object
      required:
      - name
      - type
      properties:
        name:
          description: The resource name to validate.
          type: string
        type:
          description: The type of the resource whose name is to be validated.
          $ref: '#/components/schemas/ResourceType'
    ErrorResponse:
      description: Error response indicates Front Door service is not able to process the incoming request. The reason is provided in the error message.
      type: object
      properties:
        code:
          description: Error code.
          readOnly: true
          type: string
        message:
          description: Error message indicating why the operation failed.
          readOnly: true
          type: string
    CheckNameAvailabilityOutput:
      description: Output of check name availability API.
      type: object
      properties:
        nameAvailability:
          description: Indicates whether the name is available.
          readOnly: true
          enum:
          - Available
          - Unavailable
          type: string
          x-ms-enum:
            name: Availability
            modelAsString: true
        reason:
          description: The reason why the name is not available.
          readOnly: true
          type: string
        message:
          description: The detailed error message describing why the name is not available.
          readOnly: true
          type: string
    ResourceType:
      description: Type of Front Door resource used in CheckNameAvailability.
      enum:
      - Microsoft.Network/frontDoors
      - Microsoft.Network/frontDoors/frontendEndpoints
      type: string
      x-ms-enum:
        name: ResourceType
        modelAsString: false
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
