openapi: 3.2.0
info:
  version: 2021-10-15-preview
  title: Microsoft Azure EventGridManagementClient Event…
  description: Azure EventGrid Management Client
servers:
- url: https://management.azure.com
tags:
- name: Event Subscriptions
paths:
  /{scope}/providers/Microsoft.EventGrid/eventSubscriptions/{eventSubscriptionName}:
    get:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Get An Event Subscription
      description: Get properties of an event subscription.
      operationId: microsoftAzureEventsubscriptionsGet
      parameters:
      - name: scope
        in: path
        description: The scope of the event subscription. The scope can be a subscription, or a resource group, or a top level resource belonging to a resource provider namespace, or an EventGrid topic. For example, use '/subscriptions/{subscriptionId}/' for a subscription, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for a resource group, and '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}' for a resource, and '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}' for an EventGrid topic.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Name of the event subscription.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        EventSubscriptions_GetForSubscription:
          $ref: ./examples/EventSubscriptions_GetForSubscription.json
        EventSubscriptions_GetForResourceGroup:
          $ref: ./examples/EventSubscriptions_GetForResourceGroup.json
        EventSubscriptions_GetForResource:
          $ref: ./examples/EventSubscriptions_GetForResource.json
        EventSubscriptions_GetForCustomTopic:
          $ref: ./examples/EventSubscriptions_GetForCustomTopic.json
        EventSubscriptions_GetForCustomTopic_WebhookDestination:
          $ref: ./examples/EventSubscriptions_GetForCustomTopic_WebhookDestination.json
        EventSubscriptions_GetForCustomTopic_EventHubDestination:
          $ref: ./examples/EventSubscriptions_GetForCustomTopic_EventHubDestination.json
        EventSubscriptions_GetForCustomTopic_HybridConnectionDestination:
          $ref: ./examples/EventSubscriptions_GetForCustomTopic_HybridConnectionDestination.json
        EventSubscriptions_GetForCustomTopic_StorageQueueDestination:
          $ref: ./examples/EventSubscriptions_GetForCustomTopic_StorageQueueDestination.json
        EventSubscriptions_GetForCustomTopic_AzureFunctionDestination:
          $ref: ./examples/EventSubscriptions_GetForCustomTopic_AzureFunctionDestination.json
        EventSubscriptions_GetForCustomTopic_ServiceBusTopicDestination:
          $ref: ./examples/EventSubscriptions_GetForCustomTopic_ServiceBusTopicDestination.json
        EventSubscriptions_GetForCustomTopic_ServiceBusQueueDestination:
          $ref: ./examples/EventSubscriptions_GetForCustomTopic_ServiceBusQueueDestination.json
    put:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Create Or Update An Event Subscription
      description: Asynchronously creates a new event subscription or updates an existing event subscription based on the specified scope.
      operationId: microsoftAzureEventsubscriptionsCreateorupdate
      parameters:
      - name: scope
        in: path
        description: The identifier of the resource to which the event subscription needs to be created or updated. The scope can be a subscription, or a resource group, or a top level resource belonging to a resource provider namespace, or an EventGrid topic. For example, use '/subscriptions/{subscriptionId}/' for a subscription, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for a resource group, and '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}' for a resource, and '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}' for an EventGrid topic.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Name of the event subscription. Event subscription names must be between 3 and 64 characters in length and should use alphanumeric letters only.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '201':
          description: EventSubscription CreateOrUpdate request accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        EventSubscriptions_CreateOrUpdateForSubscription:
          $ref: ./examples/EventSubscriptions_CreateOrUpdateForSubscription.json
        EventSubscriptions_CreateOrUpdateForResourceGroup:
          $ref: ./examples/EventSubscriptions_CreateOrUpdateForResourceGroup.json
        EventSubscriptions_CreateOrUpdateForResource:
          $ref: ./examples/EventSubscriptions_CreateOrUpdateForResource.json
        EventSubscriptions_CreateOrUpdateForCustomTopic:
          $ref: ./examples/EventSubscriptions_CreateOrUpdateForCustomTopic.json
        EventSubscriptions_CreateOrUpdateForCustomTopic_WebhookDestination:
          $ref: ./examples/EventSubscriptions_CreateOrUpdateForCustomTopic_WebhookDestination.json
        EventSubscriptions_CreateOrUpdateForCustomTopic_EventHubDestination:
          $ref: ./examples/EventSubscriptions_CreateOrUpdateForCustomTopic_EventHubDestination.json
        EventSubscriptions_CreateOrUpdateForCustomTopic_HybridConnectionDestination:
          $ref: ./examples/EventSubscriptions_CreateOrUpdateForCustomTopic_HybridConnectionDestination.json
        EventSubscriptions_CreateOrUpdateForCustomTopic_StorageQueueDestination:
          $ref: ./examples/EventSubscriptions_CreateOrUpdateForCustomTopic_StorageQueueDestination.json
        EventSubscriptions_CreateOrUpdateForCustomTopic_AzureFunctionDestination:
          $ref: ./examples/EventSubscriptions_CreateOrUpdateForCustomTopic_AzureFunctionDestination.json
        EventSubscriptions_CreateOrUpdateForCustomTopic_ServiceBusTopicDestination:
          $ref: ./examples/EventSubscriptions_CreateOrUpdateForCustomTopic_ServiceBusTopicDestination.json
        EventSubscriptions_CreateOrUpdateForCustomTopic_ServiceBusQueueDestination:
          $ref: ./examples/EventSubscriptions_CreateOrUpdateForCustomTopic_ServiceBusQueueDestination.json
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventSubscription'
        description: Event subscription properties containing the destination and filter information.
        required: true
    delete:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Delete An Event Subscription
      description: Delete an existing event subscription.
      operationId: microsoftAzureEventsubscriptionsDelete
      parameters:
      - name: scope
        in: path
        description: The scope of the event subscription. The scope can be a subscription, or a resource group, or a top level resource belonging to a resource provider namespace, or an EventGrid topic. For example, use '/subscriptions/{subscriptionId}/' for a subscription, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for a resource group, and '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}' for a resource, and '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}' for an EventGrid topic.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Name of the event subscription.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: NoContent
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 404 Not Found.\n\n * 500 Internal Server Error."
      x-ms-examples:
        EventSubscriptions_DeleteForSubscription:
          $ref: ./examples/EventSubscriptions_DeleteForSubscription.json
        EventSubscriptions_DeleteForResourceGroup:
          $ref: ./examples/EventSubscriptions_DeleteForResourceGroup.json
        EventSubscriptions_DeleteForResource:
          $ref: ./examples/EventSubscriptions_DeleteForResource.json
        EventSubscriptions_DeleteForCustomTopic:
          $ref: ./examples/EventSubscriptions_DeleteForCustomTopic.json
      x-ms-long-running-operation: true
    patch:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Update An Event Subscription
      description: Asynchronously updates an existing event subscription.
      operationId: microsoftAzureEventsubscriptionsUpdate
      parameters:
      - name: scope
        in: path
        description: The scope of existing event subscription. The scope can be a subscription, or a resource group, or a top level resource belonging to a resource provider namespace, or an EventGrid topic. For example, use '/subscriptions/{subscriptionId}/' for a subscription, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for a resource group, and '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}' for a resource, and '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}' for an EventGrid topic.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Name of the event subscription to be updated.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '201':
          description: EventSubscription update request accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        EventSubscriptions_UpdateForSubscription:
          $ref: ./examples/EventSubscriptions_UpdateForSubscription.json
        EventSubscriptions_UpdateForResourceGroup:
          $ref: ./examples/EventSubscriptions_UpdateForResourceGroup.json
        EventSubscriptions_UpdateForResource:
          $ref: ./examples/EventSubscriptions_UpdateForResource.json
        EventSubscriptions_UpdateForCustomTopic:
          $ref: ./examples/EventSubscriptions_UpdateForCustomTopic.json
        EventSubscriptions_UpdateForCustomTopic_WebhookDestination:
          $ref: ./examples/EventSubscriptions_UpdateForCustomTopic_WebhookDestination.json
        EventSubscriptions_UpdateForCustomTopic_EventHubDestination:
          $ref: ./examples/EventSubscriptions_UpdateForCustomTopic_EventHubDestination.json
        EventSubscriptions_UpdateForCustomTopic_HybridConnectionDestination:
          $ref: ./examples/EventSubscriptions_UpdateForCustomTopic_HybridConnectionDestination.json
        EventSubscriptions_UpdateForCustomTopic_StorageQueueDestination:
          $ref: ./examples/EventSubscriptions_UpdateForCustomTopic_StorageQueueDestination.json
        EventSubscriptions_UpdateForCustomTopic_AzureFunctionDestination:
          $ref: ./examples/EventSubscriptions_UpdateForCustomTopic_AzureFunctionDestination.json
        EventSubscriptions_UpdateForCustomTopic_ServiceBusTopicDestination:
          $ref: ./examples/EventSubscriptions_UpdateForCustomTopic_ServiceBusTopicDestination.json
        EventSubscriptions_UpdateForCustomTopic_ServiceBusQueueDestination:
          $ref: ./examples/EventSubscriptions_UpdateForCustomTopic_ServiceBusQueueDestination.json
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventSubscriptionUpdateParameters'
        description: Updated event subscription information.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}/topics/{topicName}/eventSubscriptions/{eventSubscriptionName}
  : get:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Get A Nested Event Subscription For Domain Topic
      description: Get properties of a nested event subscription for a domain topic.
      operationId: microsoftAzureDomaintopiceventsubscriptionsGet
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: domainName
        in: path
        description: Name of the top level domain.
        required: true
        schema:
          type: string
      - name: topicName
        in: path
        description: Name of the domain topic.
        required: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Name of the event subscription.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        DomainTopicEventSubscriptions_Get:
          $ref: ./examples/DomainTopicEventSubscriptions_Get.json
    put:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Create Or Update A Nested Event Subscription To A Domain Topic
      description: Asynchronously creates a new event subscription or updates an existing event subscription.
      operationId: microsoftAzureDomaintopiceventsubscriptionsCreateorupdate
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: domainName
        in: path
        description: Name of the top level domain.
        required: true
        schema:
          type: string
      - name: topicName
        in: path
        description: Name of the domain topic.
        required: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Name of the event subscription to be created. Event subscription names must be between 3 and 100 characters in length and use alphanumeric letters only.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        DomainTopicEventSubscriptions_CreateOrUpdate:
          $ref: ./examples/DomainTopicEventSubscriptions_CreateOrUpdate.json
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventSubscription'
        description: Event subscription properties containing the destination and filter information.
        required: true
    delete:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Delete A Nested Event Subscription For A Domain Topic
      description: Delete a nested existing event subscription for a domain topic.
      operationId: microsoftAzureDomaintopiceventsubscriptionsDelete
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: domainName
        in: path
        description: Name of the top level domain.
        required: true
        schema:
          type: string
      - name: topicName
        in: path
        description: Name of the domain topic.
        required: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Name of the event subscription to be deleted. Event subscription names must be between 3 and 100 characters in length and use alphanumeric letters only.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: NoContent
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 404 Not Found.\n\n * 500 Internal Server Error."
      x-ms-examples:
        DomainTopicEventSubscriptions_Delete:
          $ref: ./examples/DomainTopicEventSubscriptions_Delete.json
      x-ms-long-running-operation: true
    patch:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Update A Nested Event Subscription For A Domain Topic
      description: Update an existing event subscription for a domain topic.
      operationId: microsoftAzureDomaintopiceventsubscriptionsUpdate
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: domainName
        in: path
        description: Name of the domain.
        required: true
        schema:
          type: string
      - name: topicName
        in: path
        description: Name of the topic.
        required: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Name of the event subscription to be updated.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        DomainTopicEventSubscriptions_Update:
          $ref: ./examples/DomainTopicEventSubscriptions_Update.json
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventSubscriptionUpdateParameters'
        description: Updated event subscription information.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}/eventSubscriptions/{eventSubscriptionName}
  : get:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Get An Event Subscription Of A Topic
      description: Get properties of an event subscription of a topic.
      operationId: microsoftAzureTopiceventsubscriptionsGet
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: topicName
        in: path
        description: Name of the partner topic.
        required: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Name of the event subscription to be found. Event subscription names must be between 3 and 100 characters in length and use alphanumeric letters only.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        TopicEventSubscriptions_Get:
          $ref: ./examples/TopicEventSubscriptions_Get.json
    put:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Create Or Update An Event Subscription To A Topic
      description: Asynchronously creates a new event subscription or updates an existing event subscription.
      operationId: microsoftAzureTopiceventsubscriptionsCreateorupdate
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: topicName
        in: path
        description: Name of the domain topic.
        required: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Name of the event subscription to be created. Event subscription names must be between 3 and 100 characters in length and use alphanumeric letters only.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        TopicEventSubscriptions_CreateOrUpdate:
          $ref: ./examples/TopicEventSubscriptions_CreateOrUpdate.json
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventSubscription'
        description: Event subscription properties containing the destination and filter information.
        required: true
    delete:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Delete An Event Subscription For A Topic
      description: Delete an existing event subscription for a topic.
      operationId: microsoftAzureTopiceventsubscriptionsDelete
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: topicName
        in: path
        description: Name of the topic.
        required: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Name of the event subscription to be deleted. Event subscription names must be between 3 and 100 characters in length and use alphanumeric letters only.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: NoContent
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 404 Not Found.\n\n * 500 Internal Server Error."
      x-ms-examples:
        TopicEventSubscriptions_Delete:
          $ref: ./examples/TopicEventSubscriptions_Delete.json
      x-ms-long-running-operation: true
    patch:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Update An Event Subscription For A Topic
      description: Update an existing event subscription for a topic.
      operationId: microsoftAzureTopiceventsubscriptionsUpdate
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: topicName
        in: path
        description: Name of the domain.
        required: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Name of the event subscription to be updated.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        TopicEventSubscriptions_Update:
          $ref: ./examples/TopicEventSubscriptions_Update.json
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventSubscriptionUpdateParameters'
        description: Updated event subscription information.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}/eventSubscriptions/{eventSubscriptionName}
  : get:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Get An Event Subscription Of A Domain
      description: Get properties of an event subscription of a domain.
      operationId: microsoftAzureDomaineventsubscriptionsGet
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: domainName
        in: path
        description: Name of the partner topic.
        required: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Name of the event subscription to be found. Event subscription names must be between 3 and 100 characters in length and use alphanumeric letters only.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        DomainEventSubscriptions_Get:
          $ref: ./examples/DomainEventSubscriptions_Get.json
    put:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Create Or Update An Event Subscription To A Domain
      description: Asynchronously creates a new event subscription or updates an existing event subscription.
      operationId: microsoftAzureDomaineventsubscriptionsCreateorupdate
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: domainName
        in: path
        description: Name of the domain topic.
        required: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Name of the event subscription to be created. Event subscription names must be between 3 and 100 characters in length and use alphanumeric letters only.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        DomainEventSubscriptions_CreateOrUpdate:
          $ref: ./examples/DomainEventSubscriptions_CreateOrUpdate.json
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventSubscription'
        description: Event subscription properties containing the destination and filter information.
        required: true
    delete:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Delete An Event Subscription For A Domain
      description: Delete an existing event subscription for a domain.
      operationId: microsoftAzureDomaineventsubscriptionsDelete
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: domainName
        in: path
        description: Name of the domain.
        required: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Name of the event subscription to be deleted. Event subscription names must be between 3 and 100 characters in length and use alphanumeric letters only.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: NoContent
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 404 Not Found.\n\n * 500 Internal Server Error."
      x-ms-examples:
        DomainEventSubscriptions_Delete:
          $ref: ./examples/DomainEventSubscriptions_Delete.json
      x-ms-long-running-operation: true
    patch:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Update An Event Subscription For A Domain
      description: Update an existing event subscription for a topic.
      operationId: microsoftAzureDomaineventsubscriptionsUpdate
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: domainName
        in: path
        description: Name of the domain.
        required: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Name of the event subscription to be updated.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        DomainEventSubscriptions_Update:
          $ref: ./examples/DomainEventSubscriptions_Update.json
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventSubscriptionUpdateParameters'
        description: Updated event subscription information.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/systemTopics/{systemTopicName}/eventSubscriptions/{eventSubscriptionName}
  : get:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Get An Event Subscription Of A System Topic
      description: Get an event subscription.
      operationId: microsoftAzureSystemtopiceventsubscriptionsGet
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: systemTopicName
        in: path
        description: Name of the system topic.
        required: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Name of the event subscription to be created. Event subscription names must be between 3 and 100 characters in length and use alphanumeric letters only.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        SystemTopicEventSubscriptions_Get:
          $ref: ./examples/SystemTopicEventSubscriptions_Get.json
    put:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Create Or Update An Event Subscription For A System Topic
      description: Asynchronously creates or updates an event subscription with the specified parameters. Existing event subscriptions will be updated with this API.
      operationId: microsoftAzureSystemtopiceventsubscriptionsCreateorupdate
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: systemTopicName
        in: path
        description: Name of the system topic.
        required: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Name of the event subscription to be created. Event subscription names must be between 3 and 100 characters in length and use alphanumeric letters only.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        SystemTopicEventSubscriptions_CreateOrUpdate:
          $ref: ./examples/SystemTopicEventSubscriptions_CreateOrUpdate.json
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventSubscription'
        description: Event subscription properties containing the destination and filter information.
        required: true
    delete:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Delete An Event Subscription Of A System Topic
      description: Delete an existing event subscription of a system topic.
      operationId: microsoftAzureSystemtopiceventsubscriptionsDelete
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: systemTopicName
        in: path
        description: Name of the system topic.
        required: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Name of the event subscription to be created. Event subscription names must be between 3 and 100 characters in length and use alphanumeric letters only.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: NoContent
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 404 Not Found.\n\n * 500 Internal Server Error."
      x-ms-examples:
        SystemTopicEventSubscriptions_Delete:
          $ref: ./examples/SystemTopicEventSubscriptions_Delete.json
      x-ms-long-running-operation: true
    patch:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Update Event Subscription Of A System Topic
      description: Update an existing event subscription of a system topic.
      operationId: microsoftAzureSystemtopiceventsubscriptionsUpdate
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: systemTopicName
        in: path
        description: Name of the system topic.
        required: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Name of the event subscription to be created. Event subscription names must be between 3 and 100 characters in length and use alphanumeric letters only.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        SystemTopicEventSubscriptions_Update:
          $ref: ./examples/SystemTopicEventSubscriptions_Update.json
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventSubscriptionUpdateParameters'
        description: Updated event subscription information.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/systemTopics/{systemTopicName}/eventSubscriptions/{eventSubscriptionName}/getFullUrl
  : post:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Get Full Url Of An Event Subscription Of A System Topic
      description: Get the full endpoint URL for an event subscription of a system topic.
      operationId: microsoftAzureSystemtopiceventsubscriptionsGetfullurl
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: systemTopicName
        in: path
        description: Name of the system topic.
        required: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Name of the event subscription to be created. Event subscription names must be between 3 and 100 characters in length and use alphanumeric letters only.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionFullUrl'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        SystemTopicEventSubscriptions_GetFullUrl:
          $ref: ./examples/SystemTopicEventSubscriptions_GetFullUrl.json
  /{scope}/providers/Microsoft.EventGrid/eventSubscriptions/{eventSubscriptionName}/getFullUrl:
    post:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Get Full Url Of An Event Subscription
      description: Get the full endpoint URL for an event subscription.
      operationId: microsoftAzureEventsubscriptionsGetfullurl
      parameters:
      - name: scope
        in: path
        description: The scope of the event subscription. The scope can be a subscription, or a resource group, or a top level resource belonging to a resource provider namespace, or an EventGrid topic. For example, use '/subscriptions/{subscriptionId}/' for a subscription, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for a resource group, and '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}' for a resource, and '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}' for an EventGrid topic.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Name of the event subscription.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionFullUrl'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        EventSubscriptions_GetFullUrlForSubscription:
          $ref: ./examples/EventSubscriptions_GetFullUrlForSubscription.json
        EventSubscriptions_GetFullUrlForResourceGroup:
          $ref: ./examples/EventSubscriptions_GetFullUrlForResourceGroup.json
        EventSubscriptions_GetFullUrlForResource:
          $ref: ./examples/EventSubscriptions_GetFullUrlForResource.json
        EventSubscriptions_GetFullUrlForCustomTopic:
          $ref: ./examples/EventSubscriptions_GetFullUrlForCustomTopic.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/systemTopics/{systemTopicName}/eventSubscriptions
  : get:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure List Event Subscriptions Of A System Topic
      description: List event subscriptions that belong to a specific system topic.
      operationId: microsoftAzureSystemtopiceventsubscriptionsListbysystemtopic
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: systemTopicName
        in: path
        description: Name of the system topic.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/FilterParameter'
      - $ref: '#/components/parameters/TopParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        SystemTopicEventSubscriptions_ListBySystemTopic:
          $ref: ./examples/SystemTopicEventSubscriptions_ListBySystemTopic.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/partnerTopics/{partnerTopicName}/eventSubscriptions/{eventSubscriptionName}
  : get:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Get An Event Subscription Of A Partner Topic
      description: Get properties of an event subscription of a partner topic.
      operationId: microsoftAzurePartnertopiceventsubscriptionsGet
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: partnerTopicName
        in: path
        description: Name of the partner topic.
        required: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Name of the event subscription to be found. Event subscription names must be between 3 and 100 characters in length and use alphanumeric letters only.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        PartnerTopicEventSubscriptions_Get:
          $ref: ./examples/PartnerTopicEventSubscriptions_Get.json
    put:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Create Or Update An Event Subscription Of A Partner Topic
      description: Asynchronously creates or updates an event subscription of a partner topic with the specified parameters. Existing event subscriptions will be updated with this API.
      operationId: microsoftAzurePartnertopiceventsubscriptionsCreateorupdate
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: partnerTopicName
        in: path
        description: Name of the partner topic.
        required: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Name of the event subscription to be created. Event subscription names must be between 3 and 100 characters in length and use alphanumeric letters only.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        PartnerTopicEventSubscriptions_CreateOrUpdate:
          $ref: ./examples/PartnerTopicEventSubscriptions_CreateOrUpdate.json
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventSubscription'
        description: Event subscription properties containing the destination and filter information.
        required: true
    delete:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Delete An Event Subscription Of A Partner Topic
      description: Delete an existing event subscription of a partner topic.
      operationId: microsoftAzurePartnertopiceventsubscriptionsDelete
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: partnerTopicName
        in: path
        description: Name of the partner topic.
        required: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Name of the event subscription to be created. Event subscription names must be between 3 and 100 characters in length and use alphanumeric letters only.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: NoContent
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 404 Not Found.\n\n * 500 Internal Server Error."
      x-ms-examples:
        PartnerTopicEventSubscriptions_Delete:
          $ref: ./examples/PartnerTopicEventSubscriptions_Delete.json
      x-ms-long-running-operation: true
    patch:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Update Event Subscription Of A Partner Topic
      description: Update an existing event subscription of a partner topic.
      operationId: microsoftAzurePartnertopiceventsubscriptionsUpdate
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: partnerTopicName
        in: path
        description: Name of the partner topic.
        required: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Name of the event subscription to be created. Event subscription names must be between 3 and 100 characters in length and use alphanumeric letters only.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        PartnerTopicEventSubscriptions_Update:
          $ref: ./examples/PartnerTopicEventSubscriptions_Update.json
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventSubscriptionUpdateParameters'
        description: Updated event subscription information.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/partnerTopics/{partnerTopicName}/eventSubscriptions/{eventSubscriptionName}/getFullUrl
  : post:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Get Full Url Of An Event Subscription Of A Partner Topic
      description: Get the full endpoint URL for an event subscription of a partner topic.
      operationId: microsoftAzurePartnertopiceventsubscriptionsGetfullurl
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: partnerTopicName
        in: path
        description: Name of the partner topic.
        required: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Name of the event subscription to be created. Event subscription names must be between 3 and 100 characters in length and use alphanumeric letters only.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionFullUrl'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        PartnerTopicEventSubscriptions_GetFullUrl:
          $ref: ./examples/PartnerTopicEventSubscriptions_GetFullUrl.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/partnerTopics/{partnerTopicName}/eventSubscriptions
  : get:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure List Event Subscriptions Of A Partner Topic
      description: List event subscriptions that belong to a specific partner topic.
      operationId: microsoftAzurePartnertopiceventsubscriptionsListbypartnertopic
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: partnerTopicName
        in: path
        description: Name of the partner topic.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/FilterParameter'
      - $ref: '#/components/parameters/TopParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        PartnerTopicEventSubscriptions_ListByPartnerTopic:
          $ref: ./examples/PartnerTopicEventSubscriptions_ListByPartnerTopic.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}/topics/{topicName}/eventSubscriptions/{eventSubscriptionName}/getFullUrl
  : post:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Get Full Url Of A Nested Event Subscription For Domain Topic
      description: Get the full endpoint URL for a nested event subscription for domain topic.
      operationId: microsoftAzureDomaintopiceventsubscriptionsGetfullurl
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: domainName
        in: path
        description: Name of the top level domain.
        required: true
        schema:
          type: string
      - name: topicName
        in: path
        description: Name of the domain topic.
        required: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Name of the event subscription.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionFullUrl'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        DomainTopicEventSubscriptions_GetFullUrl:
          $ref: ./examples/DomainTopicEventSubscriptions_GetFullUrl.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}/eventSubscriptions/{eventSubscriptionName}/getFullUrl
  : post:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Get Full Url Of An Event Subscription For Topic
      description: Get the full endpoint URL for an event subscription for topic.
      operationId: microsoftAzureTopiceventsubscriptionsGetfullurl
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: topicName
        in: path
        description: Name of the domain topic.
        required: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Name of the event subscription.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionFullUrl'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        TopicEventSubscriptions_GetFullUrl:
          $ref: ./examples/TopicEventSubscriptions_GetFullUrl.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}/eventSubscriptions/{eventSubscriptionName}/getFullUrl
  : post:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Get Full Url Of An Event Subscription For Domain
      description: Get the full endpoint URL for an event subscription for domain.
      operationId: microsoftAzureDomaineventsubscriptionsGetfullurl
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: domainName
        in: path
        description: Name of the domain topic.
        required: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Name of the event subscription.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionFullUrl'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        DomainEventSubscriptions_GetFullUrl:
          $ref: ./examples/DomainEventSubscriptions_GetFullUrl.json
  /subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/eventSubscriptions:
    get:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Get An Aggregated List Of All Global Event Subscriptions Under…
      description: List all aggregated global event subscriptions under a specific Azure subscription.
      operationId: microsoftAzureEventsubscriptionsListglobalbysubscription
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/FilterParameter'
      - $ref: '#/components/parameters/TopParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        EventSubscriptions_ListGlobalBySubscription:
          $ref: ./examples/EventSubscriptions_ListGlobalBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/topicTypes/{topicTypeName}/eventSubscriptions:
    get:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure List All Global Event Subscriptions For A Topic Type
      description: List all global event subscriptions under an Azure subscription for a topic type.
      operationId: microsoftAzureEventsubscriptionsListglobalbysubscriptionfortopictype
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: topicTypeName
        in: path
        description: Name of the topic type.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/FilterParameter'
      - $ref: '#/components/parameters/TopParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        EventSubscriptions_ListGlobalBySubscriptionForTopicType:
          $ref: ./examples/EventSubscriptions_ListGlobalBySubscriptionForTopicType.json
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/eventSubscriptions:
    get:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure List All Global Event Subscriptions Under An Azure Subscription…
      description: List all global event subscriptions under a specific Azure subscription and resource group.
      operationId: microsoftAzureEventsubscriptionsListglobalbyresourcegroup
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/FilterParameter'
      - $ref: '#/components/parameters/TopParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        EventSubscriptions_ListGlobalByResourceGroup:
          $ref: ./examples/EventSubscriptions_ListGlobalByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topicTypes/{topicTypeName}/eventSubscriptions
  : get:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure List All Global Event Subscriptions Under A Resource Group For…
      description: List all global event subscriptions under a resource group for a specific topic type.
      operationId: microsoftAzureEventsubscriptionsListglobalbyresourcegroupfortopictype
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: topicTypeName
        in: path
        description: Name of the topic type.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/FilterParameter'
      - $ref: '#/components/parameters/TopParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        EventSubscriptions_ListGlobalByResourceGroupForTopicType:
          $ref: ./examples/EventSubscriptions_ListGlobalByResourceGroupForTopicType.json
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/locations/{location}/eventSubscriptions:
    get:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure List All Regional Event Subscriptions Under An Azure…
      description: List all event subscriptions from the given location under a specific Azure subscription.
      operationId: microsoftAzureEventsubscriptionsListregionalbysubscription
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: location
        in: path
        description: Name of the location.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/FilterParameter'
      - $ref: '#/components/parameters/TopParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        EventSubscriptions_ListRegionalBySubscription:
          $ref: ./examples/EventSubscriptions_ListRegionalBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/locations/{location}/eventSubscriptions
  : get:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure List All Regional Event Subscriptions Under An Azure…
      description: List all event subscriptions from the given location under a specific Azure subscription and resource group.
      operationId: microsoftAzureEventsubscriptionsListregionalbyresourcegroup
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: location
        in: path
        description: Name of the location.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/FilterParameter'
      - $ref: '#/components/parameters/TopParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        EventSubscriptions_ListRegionalByResourceGroup:
          $ref: ./examples/EventSubscriptions_ListRegionalByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/locations/{location}/topicTypes/{topicTypeName}/eventSubscriptions
  : get:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure List All Regional Event Subscriptions Under An Azure…
      description: List all event subscriptions from the given location under a specific Azure subscription and topic type.
      operationId: microsoftAzureEventsubscriptionsListregionalbysubscriptionfortopictype
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: location
        in: path
        description: Name of the location.
        required: true
        schema:
          type: string
      - name: topicTypeName
        in: path
        description: Name of the topic type.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/FilterParameter'
      - $ref: '#/components/parameters/TopParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        EventSubscriptions_ListRegionalBySubscriptionForTopicType:
          $ref: ./examples/EventSubscriptions_ListRegionalBySubscriptionForTopicType.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/locations/{location}/topicTypes/{topicTypeName}/eventSubscriptions
  : get:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure List All Regional Event Subscriptions Under An Azure…
      description: List all event subscriptions from the given location under a specific Azure subscription and resource group and topic type.
      operationId: microsoftAzureEventsubscriptionsListregionalbyresourcegroupfortopictype
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: location
        in: path
        description: Name of the location.
        required: true
        schema:
          type: string
      - name: topicTypeName
        in: path
        description: Name of the topic type.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/FilterParameter'
      - $ref: '#/components/parameters/TopParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        EventSubscriptions_ListRegionalByResourceGroupForTopicType:
          $ref: ./examples/EventSubscriptions_ListRegionalByResourceGroupForTopicType.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{providerNamespace}/{resourceTypeName}/{resourceName}/providers/Microsoft.EventGrid/eventSubscriptions
  : get:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure List All Event Subscriptions
      description: List all event subscriptions that have been created for a specific resource.
      operationId: microsoftAzureEventsubscriptionsListbyresource
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: providerNamespace
        in: path
        description: Namespace of the provider of the topic.
        required: true
        schema:
          type: string
      - name: resourceTypeName
        in: path
        description: Name of the resource type.
        required: true
        schema:
          type: string
      - name: resourceName
        in: path
        description: Name of the resource.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/FilterParameter'
      - $ref: '#/components/parameters/TopParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        EventSubscriptions_ListByResource:
          $ref: ./examples/EventSubscriptions_ListByResource.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}/eventSubscriptions
  : get:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure List All Event Subscriptions For A Specific Topic
      description: List all event subscriptions that have been created for a specific topic.
      operationId: microsoftAzureTopiceventsubscriptionsList
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: topicName
        in: path
        description: Name of the topic.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/FilterParameter'
      - $ref: '#/components/parameters/TopParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        TopicEventSubscriptions_List:
          $ref: ./examples/TopicEventSubscriptions_List.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}/eventSubscriptions
  : get:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure List All Event Subscriptions For A Specific Domain
      description: List all event subscriptions that have been created for a specific topic.
      operationId: microsoftAzureDomaineventsubscriptionsList
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: domainName
        in: path
        description: Name of the domain.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/FilterParameter'
      - $ref: '#/components/parameters/TopParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        DomainEventSubscriptions_List:
          $ref: ./examples/DomainEventSubscriptions_List.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}/topics/{topicName}/providers/Microsoft.EventGrid/eventSubscriptions
  : get:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure List All Event Subscriptions For A Specific Domain Topic
      description: List all event subscriptions that have been created for a specific domain topic.
      operationId: microsoftAzureEventsubscriptionsListbydomaintopic
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: domainName
        in: path
        description: Name of the top level domain.
        required: true
        schema:
          type: string
      - name: topicName
        in: path
        description: Name of the domain topic.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/FilterParameter'
      - $ref: '#/components/parameters/TopParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        EventSubscriptions_ListByDomainTopic:
          $ref: ./examples/EventSubscriptions_ListByDomainTopic.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}/topics/{topicName}/eventSubscriptions
  : get:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure List All Nested Event Subscriptions For A Specific Domain Topic
      description: List all event subscriptions that have been created for a specific domain topic.
      operationId: microsoftAzureDomaintopiceventsubscriptionsList
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: domainName
        in: path
        description: Name of the top level domain.
        required: true
        schema:
          type: string
      - name: topicName
        in: path
        description: Name of the domain topic.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/FilterParameter'
      - $ref: '#/components/parameters/TopParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionsListResult'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        DomainTopicEventSubscriptions_List:
          $ref: ./examples/DomainTopicEventSubscriptions_List.json
      x-ms-pageable:
        nextLinkName: nextLink
  /{scope}/providers/Microsoft.EventGrid/eventSubscriptions/{eventSubscriptionName}/getDeliveryAttributes:
    post:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Get Delivery Attributes For An Event Subscription
      description: Get all delivery attributes for an event subscription.
      operationId: microsoftAzureEventsubscriptionsGetdeliveryattributes
      parameters:
      - name: scope
        in: path
        description: The scope of the event subscription. The scope can be a subscription, or a resource group, or a top level resource belonging to a resource provider namespace, or an EventGrid topic. For example, use '/subscriptions/{subscriptionId}/' for a subscription, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for a resource group, and '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}' for a resource, and '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}' for an EventGrid topic.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Name of the event subscription.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryAttributeListResult'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        EventSubscriptions_GetDeliveryAttributes:
          $ref: ./examples/EventSubscriptions_GetDeliveryAttributes.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/systemTopics/{systemTopicName}/eventSubscriptions/{eventSubscriptionName}/getDeliveryAttributes
  : post:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Get Delivery Attributes For An Event Subscription
      description: Get all delivery attributes for an event subscription.
      operationId: microsoftAzureSystemtopiceventsubscriptionsGetdeliveryattributes
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: systemTopicName
        in: path
        description: Name of the system topic.
        required: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Name of the event subscription to be created. Event subscription names must be between 3 and 100 characters in length and use alphanumeric letters only.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryAttributeListResult'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        SystemTopicEventSubscriptions_GetDeliveryAttributes:
          $ref: ./examples/SystemTopicEventSubscriptions_GetDeliveryAttributes.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/partnerTopics/{partnerTopicName}/eventSubscriptions/{eventSubscriptionName}/getDeliveryAttributes
  : post:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Get Delivery Attributes For An Event Subscription Of A Partner…
      description: Get all delivery attributes for an event subscription of a partner topic.
      operationId: microsoftAzurePartnertopiceventsubscriptionsGetdeliveryattributes
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: partnerTopicName
        in: path
        description: Name of the partner topic.
        required: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Name of the event subscription to be created. Event subscription names must be between 3 and 100 characters in length and use alphanumeric letters only.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryAttributeListResult'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        PartnerTopicEventSubscriptions_GetDeliveryAttributes:
          $ref: ./examples/PartnerTopicEventSubscriptions_GetDeliveryAttributes.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}/topics/{topicName}/eventSubscriptions/{eventSubscriptionName}/getDeliveryAttributes
  : post:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Get Delivery Attributes For An Event Subscription For Domain…
      description: Get all delivery attributes for an event subscription for domain topic.
      operationId: microsoftAzureDomaintopiceventsubscriptionsGetdeliveryattributes
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: domainName
        in: path
        description: Name of the top level domain.
        required: true
        schema:
          type: string
      - name: topicName
        in: path
        description: Name of the domain topic.
        required: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Name of the event subscription.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryAttributeListResult'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        DomainTopicEventSubscriptions_GetDeliveryAttributes:
          $ref: ./examples/DomainTopicEventSubscriptions_GetDeliveryAttributes.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}/eventSubscriptions/{eventSubscriptionName}/getDeliveryAttributes
  : post:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Get Delivery Attributes For An Event Subscription For Topic
      description: Get all delivery attributes for an event subscription for topic.
      operationId: microsoftAzureTopiceventsubscriptionsGetdeliveryattributes
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: topicName
        in: path
        description: Name of the domain topic.
        required: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Name of the event subscription.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryAttributeListResult'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        TopicEventSubscriptions_GetDeliveryAttributes:
          $ref: ./examples/TopicEventSubscriptions_GetDeliveryAttributes.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}/eventSubscriptions/{eventSubscriptionName}/getDeliveryAttributes
  : post:
      tags:
      - Event Subscriptions
      summary: Microsoft Azure Get Delivery Attributes For An Event Subscription For Domain
      description: Get all delivery attributes for an event subscription for domain.
      operationId: microsoftAzureDomaineventsubscriptionsGetdeliveryattributes
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: domainName
        in: path
        description: Name of the domain topic.
        required: true
        schema:
          type: string
      - name: eventSubscriptionName
        in: path
        description: Name of the event subscription.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryAttributeListResult'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        DomainEventSubscriptions_GetDeliveryAttributes:
          $ref: ./examples/DomainEventSubscriptions_GetDeliveryAttributes.json
components:
  schemas:
    EventSubscriptionProperties:
      description: Properties of the Event Subscription.
      type: object
      properties:
        topic:
          description: Name of the topic of the event subscription.
          type: string
          readOnly: true
        provisioningState:
          description: Provisioning state of the event subscription.
          enum:
          - Creating
          - Updating
          - Deleting
          - Succeeded
          - Canceled
          - Failed
          - AwaitingManualAction
          type: string
          readOnly: true
          x-ms-enum:
            name: EventSubscriptionProvisioningState
            modelAsString: true
        destination:
          $ref: '#/components/schemas/EventSubscriptionDestination'
          description: 'Information about the destination where events have to be delivered for the event subscription.

            Uses Azure Event Grid''s identity to acquire the authentication tokens being used during delivery / dead-lettering.'
        deliveryWithResourceIdentity:
          $ref: '#/components/schemas/DeliveryWithResourceIdentity'
          description: 'Information about the destination where events have to be delivered for the event subscription.

            Uses the managed identity setup on the parent resource (namely, topic or domain) to acquire the authentication tokens being used during delivery / dead-lettering.'
        filter:
          $ref: '#/components/schemas/EventSubscriptionFilter'
          description: Information about the filter for the event subscription.
        labels:
          description: List of user defined labels.
          type: array
          items:
            type: string
        expirationTimeUtc:
          format: date-time
          description: Expiration time of the event subscription.
          type: string
        eventDeliverySchema:
          description: The event delivery schema for the event subscription.
          default: EventGridSchema
          enum:
          - EventGridSchema
          - CustomInputSchema
          - CloudEventSchemaV1_0
          type: string
          x-ms-enum:
            name: EventDeliverySchema
            modelAsString: true
        retryPolicy:
          $ref: '#/components/schemas/RetryPolicy'
          description: The retry policy for events. This can be used to configure maximum number of delivery attempts and time to live for events.
        deadLetterDestination:
          $ref: '#/components/schemas/DeadLetterDestination'
          description: 'The dead letter destination of the event subscription. Any event that cannot be delivered to its'' destination is sent to the dead letter destination.

            Uses Azure Event Grid''s identity to acquire the authentication tokens being used during delivery / dead-lettering.'
        deadLetterWithResourceIdentity:
          $ref: '#/components/schemas/DeadLetterWithResourceIdentity'
          description: 'The dead letter destination of the event subscription. Any event that cannot be delivered to its'' destination is sent to the dead letter destination.

            Uses the managed identity setup on the parent resource (namely, topic or domain) to acquire the authentication tokens being used during delivery / dead-lettering.'
    DeliveryWithResourceIdentity:
      description: Information about the delivery for an event subscription with resource identity.
      type: object
      properties:
        identity:
          $ref: '#/components/schemas/EventSubscriptionIdentity'
          description: The identity to use when delivering events.
        destination:
          $ref: '#/components/schemas/EventSubscriptionDestination'
          description: 'Information about the destination where events have to be delivered for the event subscription.

            Uses Azure Event Grid''s identity to acquire the authentication tokens being used during delivery / dead-lettering.'
    DeadLetterWithResourceIdentity:
      description: Information about the deadletter destination with resource identity.
      type: object
      properties:
        identity:
          $ref: '#/components/schemas/EventSubscriptionIdentity'
          description: The identity to use when dead-lettering events.
        deadLetterDestination:
          $ref: '#/components/schemas/DeadLetterDestination'
          description: 'Information about the destination where events have to be delivered for the event subscription.

            Uses the managed identity setup on the parent resource (namely, topic or domain) to acquire the authentication tokens being used during delivery / dead-lettering.'
    EventSubscriptionIdentity:
      description: The identity information with the event subscription.
      type: object
      properties:
        type:
          description: The type of managed identity used. The type 'SystemAssigned, UserAssigned' includes both an implicitly created identity and a set of user-assigned identities. The type 'None' will remove any identity.
          enum:
          - SystemAssigned
          - UserAssigned
          type: string
          x-ms-enum:
            name: EventSubscriptionIdentityType
            modelAsString: true
        userAssignedIdentity:
          description: The user identity associated with the resource.
          type: string
    DeliveryAttributeMapping:
      description: Delivery attribute mapping details.
      required:
      - type
      type: object
      properties:
        name:
          description: Name of the delivery attribute or header.
          type: string
        type:
          description: Type of the delivery attribute or header name.
          enum:
          - Static
          - Dynamic
          type: string
          x-ms-enum:
            name: DeliveryAttributeMappingType
            modelAsString: true
      discriminator:
        propertyName: type
    EventSubscriptionFullUrl:
      description: Full endpoint url of an event subscription
      type: object
      properties:
        endpointUrl:
          description: The URL that represents the endpoint of the destination of an event subscription.
          type: string
    DeadLetterDestination:
      description: Information about the dead letter destination for an event subscription. To configure a deadletter destination, do not directly instantiate an object of this class. Instead, instantiate an object of a derived class. Currently, StorageBlobDeadLetterDestination is the only class that derives from this class.
      required:
      - endpointType
      type: object
      properties:
        endpointType:
[...]
