openapi: 3.2.0
info:
  version: '2015-08-01'
  title: Microsoft Azure WebSite Management Client Global…
  description: Use these APIs to manage Azure Websites resources through the Azure Resource Manager. All task operations conform to the HTTP/1.1 protocol specification and each operation returns an x-ms-request-id header that can be used to obtain information about the request. You must make sure that requests made to these resources are secure. For more information, see https://msdn.microsoft.com/en-us/library/azure/dn790557.aspx.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: GlobalCertificateOrder
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.CertificateRegistration/certificateOrders:
    get:
      tags:
      - GlobalCertificateOrder
      summary: Microsoft Azure Lists All Domains In A Subscription
      operationId: microsoftAzureGlobalcertificateorderGetallcertificateorders
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateOrderCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/CertificateOrderCollection'
      deprecated: false
      x-ms-pageable:
        nextLinkName: nextLink
      description: Needs a more full description created.
  /subscriptions/{subscriptionId}/providers/Microsoft.CertificateRegistration/validateCertificateRegistrationInformation:
    post:
      tags:
      - GlobalCertificateOrder
      summary: Microsoft Azure Validate Certificate Purchase Information
      operationId: microsoftAzureGlobalcertificateorderValidatecertificatepurchaseinformation
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
      deprecated: false
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateOrder'
          text/json:
            schema:
              $ref: '#/components/schemas/CertificateOrder'
          application/xml:
            schema:
              $ref: '#/components/schemas/CertificateOrder'
          text/xml:
            schema:
              $ref: '#/components/schemas/CertificateOrder'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CertificateOrder'
        description: Certificate order
        required: true
components:
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription Id
      required: true
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      description: API Version
      required: true
      schema:
        type: string
  schemas:
    CertificateOrder:
      description: Certificate purchase order
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          properties:
            certificates:
              description: State of the Key Vault secret
              type: object
              additionalProperties:
                $ref: '#/components/schemas/CertificateOrderCertificate'
            distinguishedName:
              description: Certificate distinguished name
              type: string
            domainVerificationToken:
              description: Domain Verification Token
              type: string
            validityInYears:
              format: int32
              description: Duration in years (must be between 1 and 3)
              type: integer
            keySize:
              format: int32
              description: Certificate Key Size
              type: integer
            productType:
              description: Certificate product type
              enum:
              - StandardDomainValidatedSsl
              - StandardDomainValidatedWildCardSsl
              type: string
              x-ms-enum:
                name: CertificateProductType
                modelAsString: false
            autoRenew:
              description: Auto renew
              type: boolean
            provisioningState:
              description: Status of certificate order
              enum:
              - Succeeded
              - Failed
              - Canceled
              - InProgress
              - Deleting
              type: string
              x-ms-enum:
                name: ProvisioningState
                modelAsString: false
            status:
              description: Current order status
              enum:
              - Pendingissuance
              - Issued
              - Revoked
              - Canceled
              - Denied
              - Pendingrevocation
              - PendingRekey
              - Unused
              - Expired
              - NotSubmitted
              type: string
              x-ms-enum:
                name: CertificateOrderStatus
                modelAsString: false
            signedCertificate:
              $ref: '#/components/schemas/CertificateDetails'
              description: Signed certificate
            csr:
              description: Last CSR that was created for this order
              type: string
            intermediate:
              $ref: '#/components/schemas/CertificateDetails'
              description: Intermediate certificate
            root:
              $ref: '#/components/schemas/CertificateDetails'
              description: Root certificate
            serialNumber:
              description: Current serial number of the certificate
              type: string
            lastCertificateIssuanceTime:
              format: date-time
              description: Certificate last issuance time
              type: string
            expirationTime:
              format: date-time
              description: Certificate expiration time
              type: string
          x-ms-client-flatten: true
    Resource:
      required:
      - location
      properties:
        id:
          description: Resource Id
          type: string
        name:
          description: Resource Name
          type: string
        kind:
          description: Kind of resource
          type: string
        location:
          description: Resource Location
          type: string
        type:
          description: Resource type
          type: string
        tags:
          description: Resource tags
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
    CertificateOrderCollection:
      description: Collection of certificate orders
      type: object
      properties:
        value:
          description: Collection of resources
          type: array
          items:
            $ref: '#/components/schemas/CertificateOrder'
        nextLink:
          description: Link to next page of resources
          type: string
    CertificateDetails:
      description: Certificate Details
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          properties:
            version:
              format: int32
              description: Version
              type: integer
            serialNumber:
              description: Serial Number
              type: string
            thumbprint:
              description: Thumbprint
              type: string
            subject:
              description: Subject
              type: string
            notBefore:
              format: date-time
              description: Valid from
              type: string
            notAfter:
              format: date-time
              description: Valid to
              type: string
            signatureAlgorithm:
              description: Signature Algorithm
              type: string
            issuer:
              description: Issuer
              type: string
            rawData:
              description: Raw certificate data
              type: string
          x-ms-client-flatten: true
    Object:
      type: object
      properties: {}
    CertificateOrderCertificate:
      description: Class representing the Key Vault container for certificate purchased through Azure
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          properties:
            keyVaultId:
              description: Key Vault Csm resource Id
              type: string
            keyVaultSecretName:
              description: Key Vault secret name
              type: string
            provisioningState:
              description: Status of the Key Vault secret
              enum:
              - Initialized
              - WaitingOnCertificateOrder
              - Succeeded
              - CertificateOrderFailed
              - OperationNotPermittedOnKeyVault
              - AzureServiceUnauthorizedToAccessKeyVault
              - KeyVaultDoesNotExist
              - KeyVaultSecretDoesNotExist
              - UnknownError
              - Unknown
              type: string
              x-ms-enum:
                name: KeyVaultSecretStatus
                modelAsString: false
          x-ms-client-flatten: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
