openapi: 3.2.0
info:
  title: Microsoft Azure Machine Extensions API
  version: '1.0'
  description: 'Operations tagged MachineExtensions across 2 of this provider''s published API definitions: azure-arc-vmware-management-service-api-openapi-original.yml, scvmm-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: MachineExtensions
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedVMwarevSphere/virtualMachines/{virtualMachineName}/extensions/{extensionName}
  : put:
      tags:
      - MachineExtensions
      operationId: microsoftAzureMachineextensionsCreateorupdate
      description: The operation to create or update the extension.
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/api-version'
      - name: virtualMachineName
        in: path
        required: true
        description: The name of the machine where the extension should be created or updated.
        schema:
          type: string
      - name: extensionName
        in: path
        required: true
        description: The name of the machine extension.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineExtension'
        '201':
          description: HTTP 201 (Created) if the operation was successfully started and will complete asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineExtension'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Create or Update a Machine Extension (PUT):
          $ref: ./examples/PUTExtension.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MachineExtension'
        description: Parameters supplied to the Create Machine Extension operation.
        required: true
    patch:
      tags:
      - MachineExtensions
      operationId: microsoftAzureMachineextensionsUpdate
      description: The operation to update the extension.
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/api-version'
      - name: virtualMachineName
        in: path
        required: true
        description: The name of the machine where the extension should be created or updated.
        schema:
          type: string
      - name: extensionName
        in: path
        required: true
        description: The name of the machine extension.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineExtension'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineExtension'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Create or Update a Machine Extension (PATCH):
          $ref: ./examples/UpdateExtension.json
      x-ms-long-running-operation: true
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MachineExtensionUpdate'
        description: Parameters supplied to the Create Machine Extension operation.
        required: true
    delete:
      tags:
      - MachineExtensions
      operationId: microsoftAzureMachineextensionsDelete
      description: The operation to delete the extension.
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/api-version'
      - name: virtualMachineName
        in: path
        required: true
        description: The name of the machine where the extension should be deleted.
        schema:
          type: string
      - name: extensionName
        in: path
        required: true
        description: The name of the machine extension.
        schema:
          type: string
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-examples:
        Delete a Machine Extension:
          $ref: ./examples/DELETEExtension.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    get:
      tags:
      - MachineExtensions
      operationId: microsoftAzureMachineextensionsGet
      description: The operation to get the extension.
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/api-version'
      - name: virtualMachineName
        in: path
        required: true
        description: The name of the machine containing the extension.
        schema:
          type: string
      - name: extensionName
        in: path
        required: true
        description: The name of the machine extension.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineExtension'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Get Machine Extension:
          $ref: ./examples/GETExtension.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedVMwarevSphere/virtualMachines/{virtualMachineName}/extensions
  : get:
      tags:
      - MachineExtensions
      operationId: microsoftAzureMachineextensionsList
      description: The operation to get all extensions of a non-Azure machine
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/api-version'
      - name: virtualMachineName
        in: path
        required: true
        description: The name of the machine containing the extension.
        schema:
          type: string
      - name: $expand
        in: query
        required: false
        description: The expand expression to apply on the operation.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineExtensionsListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Get all Machine Extensions:
          $ref: ./examples/LISTExtension.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/virtualMachines/{virtualMachineName}/extensions/{extensionName}
  : put:
      tags:
      - MachineExtensions
      operationId: microsoftAzureMachineextensionsCreateorupdate
      description: The operation to create or update the extension.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - in: path
        name: virtualMachineName
        required: true
        description: The name of the machine where the extension should be created or updated.
        schema:
          type: string
      - name: extensionName
        in: path
        required: true
        description: The name of the machine extension.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineExtension_2'
        '201':
          description: HTTP 201 (Created) if the operation was successfully started and will complete asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineExtension_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Create or Update a Machine Extension (PUT):
          $ref: ./examples/PUTExtension.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MachineExtension_2'
        description: Parameters supplied to the Create Machine Extension operation.
        required: true
    patch:
      tags:
      - MachineExtensions
      operationId: microsoftAzureMachineextensionsUpdate
      description: The operation to update the extension.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - in: path
        name: virtualMachineName
        required: true
        description: The name of the machine where the extension should be created or updated.
        schema:
          type: string
      - name: extensionName
        in: path
        required: true
        description: The name of the machine extension.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineExtension_2'
        '202':
          description: Accepted
          headers:
            Azure-AsyncOperation:
              description: Tracking URL for long running operation.
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Create or Update a Machine Extension (PATCH):
          $ref: ./examples/UpdateExtension.json
      x-ms-long-running-operation: true
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MachineExtensionUpdate'
        description: Parameters supplied to the Create Machine Extension operation.
        required: true
    delete:
      tags:
      - MachineExtensions
      operationId: microsoftAzureMachineextensionsDelete
      description: The operation to delete the extension.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - in: path
        name: virtualMachineName
        required: true
        description: The name of the machine where the extension should be created or updated.
        schema:
          type: string
      - name: extensionName
        in: path
        required: true
        description: The name of the machine extension.
        schema:
          type: string
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-long-running-operation: true
      x-ms-examples:
        Delete a Machine Extension:
          $ref: ./examples/DeleteExtension.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    get:
      tags:
      - MachineExtensions
      operationId: microsoftAzureMachineextensionsGet
      description: The operation to get the extension.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - in: path
        name: virtualMachineName
        required: true
        description: The name of the machine where the extension should be created or updated.
        schema:
          type: string
      - name: extensionName
        in: path
        required: true
        description: The name of the machine extension.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineExtension_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Get Machine Extension:
          $ref: ./examples/GETExtension.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/virtualMachines/{virtualMachineName}/extensions
  : get:
      tags:
      - MachineExtensions
      operationId: microsoftAzureMachineextensionsList
      description: The operation to get all extensions of a non-Azure machine
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - in: path
        name: virtualMachineName
        required: true
        description: The name of the machine where the extension should be created or updated.
        schema:
          type: string
      - name: $expand
        in: query
        required: false
        description: The expand expression to apply on the operation.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineExtensionsListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Get all Machine Extensions:
          $ref: ./examples/ListExtension.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
components:
  schemas:
    MachineExtensionUpdateProperties:
      type: object
      properties:
        forceUpdateTag:
          type: string
          description: How the extension handler should be forced to update even if the extension configuration has not changed.
        publisher:
          type: string
          description: The name of the extension handler publisher.
        type:
          type: string
          description: Specifies the type of the extension; an example is "CustomScriptExtension".
        typeHandlerVersion:
          type: string
          description: Specifies the version of the script handler.
        enableAutomaticUpgrade:
          type: boolean
          description: Indicates whether the extension should be automatically upgraded by the platform if there is a newer version available.
        autoUpgradeMinorVersion:
          type: boolean
          description: Indicates whether the extension should use a newer minor version if one is available at deployment time. Once deployed, however, the extension will not upgrade minor versions unless redeployed, even with this property set to true.
        settings:
          type: object
          description: Json formatted public settings for the extension.
        protectedSettings:
          type: object
          description: The extension can contain either protectedSettings or protectedSettingsFromKeyVault or no protected settings at all.
          x-ms-secret: true
      description: Describes the properties of a Machine Extension.
    MachineExtensionProperties:
      type: object
      properties:
        forceUpdateTag:
          type: string
          description: How the extension handler should be forced to update even if the extension configuration has not changed.
        publisher:
          type: string
          description: The name of the extension handler publisher.
        type:
          type: string
          description: Specifies the type of the extension; an example is "CustomScriptExtension".
        typeHandlerVersion:
          type: string
          description: Specifies the version of the script handler.
        enableAutomaticUpgrade:
          type: boolean
          description: Indicates whether the extension should be automatically upgraded by the platform if there is a newer version available.
        autoUpgradeMinorVersion:
          type: boolean
          description: Indicates whether the extension should use a newer minor version if one is available at deployment time. Once deployed, however, the extension will not upgrade minor versions unless redeployed, even with this property set to true.
        settings:
          type: object
          description: Json formatted public settings for the extension.
        protectedSettings:
          type: object
          description: The extension can contain either protectedSettings or protectedSettingsFromKeyVault or no protected settings at all.
          x-ms-secret: true
        provisioningState:
          readOnly: true
          type: string
          description: The provisioning state, which only appears in the response.
        instanceView:
          allOf:
          - $ref: '#/components/schemas/MachineExtensionInstanceView'
          description: The machine extension instance view.
      description: Describes the properties of a Machine Extension.
    MachineExtensionInstanceView:
      type: object
      properties:
        name:
          type: string
          readOnly: true
          description: The machine extension name.
        type:
          type: string
          readOnly: true
          description: Specifies the type of the extension; an example is "CustomScriptExtension".
        typeHandlerVersion:
          type: string
          readOnly: true
          description: Specifies the version of the script handler.
        status:
          type: object
          properties:
            code:
              type: string
              readOnly: true
              description: The status code.
            level:
              type: string
              readOnly: true
              description: The level code.
              enum:
              - Info
              - Warning
              - Error
              x-ms-enum:
                name: StatusLevelTypes
                modelAsString: true
            displayStatus:
              type: string
              readOnly: true
              description: The short localizable label for the status.
            message:
              type: string
              readOnly: true
              description: The detailed status message, including for alerts and error messages.
            time:
              type: string
              readOnly: true
              format: date-time
              description: The time of the status.
          description: Instance view status.
      description: Describes the Machine Extension Instance View.
    ResourcePatch:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
      description: Object containing updates for patch operations.
    MachineExtensionUpdate:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/MachineExtensionUpdateProperties'
          description: Describes Machine Extension Update Properties.
      allOf:
      - $ref: '#/components/schemas/ResourcePatch'
      description: Describes a Machine Extension Update.
    MachineExtension:
      x-ms-azure-resource: true
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/MachineExtensionProperties'
          description: Describes Machine Extension Properties.
        location:
          description: Gets or sets the location.
          type: string
          x-ms-mutability:
          - read
          - create
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: The system data.
        tags:
          description: Gets or sets the Resource tags.
          type: object
          additionalProperties:
            type: string
        name:
          description: Gets or sets the name.
          type: string
          readOnly: true
        id:
          description: Gets or sets the Id.
          type: string
          readOnly: true
        type:
          description: Gets or sets the type of the resource.
          type: string
          readOnly: true
      description: Describes a Machine Extension.
    MachineExtensionsListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/MachineExtension'
          description: The list of extensions
        nextLink:
          type: string
          description: The uri to fetch the next page of machine extensions. Call ListNext() with this to fetch the next page of extensions.
      description: Describes the Machine Extensions List Result.
    ResourcePatch_2:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
      description: Object containing tags updates for patch operations.
    ErrorDefinition:
      description: Error definition.
      type: object
      properties:
        code:
          description: Service specific error code which serves as the substatus for the HTTP error code.
          type: string
          readOnly: true
        message:
          description: Description of the error.
          type: string
          readOnly: true
        details:
          description: Internal error details.
          type: array
          items:
            $ref: '#/components/schemas/ErrorDefinition'
          x-ms-identifiers: []
          readOnly: true
    MachineExtension_2:
      x-ms-azure-resource: true
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/MachineExtensionProperties'
          description: Describes Machine Extension Properties.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
      description: Describes a Machine Extension.
    ErrorResponse:
      description: Error response.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorDefinition'
          description: The error details.
  parameters:
    api-version:
      in: query
      name: api-version
      description: Client Api Version.
      required: true
      schema:
        type: string
    resourceGroupName:
      in: path
      name: resourceGroupName
      description: The Resource Group Name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    subscriptionId:
      in: path
      name: subscriptionId
      description: The Subscription ID.
      required: true
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to be used with the HTTP request (e.g. YYYY-MM-DD).
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-refined-from:
- azure-arc-vmware-management-service-api-openapi-original.yml
- scvmm-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
