openapi: 3.2.0
info:
  version: '2016-06-01'
  title: Microsoft Azure HybridDataManagementClient Public Keys API
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Public Keys
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/publicKeys
  : get:
      tags:
      - Public Keys
      description: This method gets the list view of public keys, however it will only have one element.
      operationId: microsoftAzurePublickeysListbydatamanager
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/dataManagerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The list of public keys.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicKeyList'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        PublicKeys_ListByDataManagerGET211:
          $ref: ./examples/PublicKeys_ListByDataManager-GET-example-211.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/publicKeys/{publicKeyName}
  : get:
      tags:
      - Public Keys
      description: This method gets the public keys.
      operationId: microsoftAzurePublickeysGet
      parameters:
      - name: publicKeyName
        in: path
        description: Name of the public key.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/dataManagerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The public keys.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicKey'
      x-ms-examples:
        PublicKeys_GetGET222:
          $ref: ./examples/PublicKeys_Get-GET-example-222.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    PublicKeyList:
      description: PublicKey Collection
      type: object
      properties:
        value:
          description: List of public keys.
          type: array
          items:
            $ref: '#/components/schemas/PublicKey'
        nextLink:
          description: Link for the next set of public keys.
          type: string
    PublicKey:
      description: Public key
      required:
      - properties
      type: object
      allOf:
      - $ref: '#/components/schemas/DmsBaseObject'
      properties:
        properties:
          $ref: '#/components/schemas/PublicKeyProperties'
          description: Public key property.
          x-ms-client-flatten: true
    PublicKeyProperties:
      description: PublicKey Properties
      required:
      - dataServiceLevel1Key
      - dataServiceLevel2Key
      type: object
      properties:
        dataServiceLevel1Key:
          $ref: '#/components/schemas/Key'
          description: Level one public key for encryption
        dataServiceLevel2Key:
          $ref: '#/components/schemas/Key'
          description: Level two public key for encryption
    DmsBaseObject:
      description: Base class for all objects under DataManager Service
      type: object
      properties:
        name:
          description: Name of the object.
          type: string
          readOnly: true
        id:
          description: Id of the object.
          type: string
          readOnly: true
        type:
          description: Type of the object.
          type: string
          readOnly: true
    Key:
      description: Encryption Key.
      required:
      - keyModulus
      - keyExponent
      - encryptionChunkSizeInBytes
      type: object
      properties:
        keyModulus:
          description: Modulus of the encryption key.
          type: string
        keyExponent:
          description: Exponent of the encryption key.
          type: string
        encryptionChunkSizeInBytes:
          format: int32
          description: 'The maximum byte size that can be encrypted by the key. For a key size larger than the size, break into chunks and encrypt each chunk, append each encrypted chunk with : to mark the end of the chunk.'
          type: integer
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The Subscription Id
      required: true
      schema:
        type: string
    dataManagerNameParameter:
      name: dataManagerName
      in: path
      description: The name of the DataManager Resource within the specified resource group. DataManager names must be between 3 and 24 characters in length and use any alphanumeric and underscore only
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 24
        minLength: 3
        pattern: ^[-\w\.]+$
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The Resource Group Name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      description: The API Version
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
