openapi: 3.2.0
info:
  title: Microsoft Azure MariaDBManagementClient Location Based…
  description: The Microsoft Azure management API provides create, read, update, and delete functionality for Azure MariaDB resources including servers, databases, firewall rules, VNET rules, log files and configurations with new business model.
  version: '2018-06-01'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: LocationBasedRecommendedActionSessionsResult
paths:
  ? /subscriptions/{subscriptionId}/providers/Microsoft.DBforMariaDB/locations/{locationName}/recommendedActionSessionsOperationResults/{operationId}
  : get:
      tags:
      - LocationBasedRecommendedActionSessionsResult
      operationId: microsoftAzureLocationbasedrecommendedactionsessionsresultList
      x-ms-examples:
        RecommendedActionSessionResult:
          $ref: ./examples/RecommendedActionSessionResult.json
      description: Recommendation action session operation result.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/LocationNameParameter'
      - $ref: '#/components/parameters/OperationIdParameter'
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationActionsResultList'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationActionsResultList'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
components:
  parameters:
    OperationIdParameter:
      name: operationId
      in: path
      required: true
      description: The operation identifier.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for the request.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The subscription ID that identifies an Azure subscription.
      schema:
        type: string
    LocationNameParameter:
      name: locationName
      in: path
      required: true
      description: The name of the location.
      x-ms-parameter-location: method
      schema:
        type: string
  schemas:
    RecommendationActionsResultList:
      description: A list of recommendation actions.
      type: object
      properties:
        value:
          description: The list of recommendation action advisors.
          type: array
          items:
            $ref: '#/components/schemas/RecommendationAction'
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    RecommendationActionProperties:
      properties:
        advisorName:
          type: string
          description: Advisor name.
        sessionId:
          type: string
          description: Recommendation action session identifier.
        actionId:
          type: integer
          format: int32
          description: Recommendation action identifier.
        createdTime:
          type: string
          format: date-time
          description: Recommendation action creation time.
        expirationTime:
          type: string
          format: date-time
          description: Recommendation action expiration time.
        reason:
          type: string
          description: Recommendation action reason.
        recommendationType:
          type: string
          description: Recommendation action type.
        details:
          type: object
          additionalProperties:
            type: string
          description: Recommendation action details.
      description: The properties of a recommendation action.
    RecommendationAction:
      properties:
        properties:
          $ref: '#/components/schemas/RecommendationActionProperties'
          x-ms-client-flatten: true
          description: The properties of a recommendation action.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource
      description: Represents a Recommendation Action.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
