openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft NetApp Restore API
  description: Microsoft NetApp Azure Resource Provider specification
  version: 2023-07-01-preview
  x-ms-code-generation-settings:
    name: AzureNetAppFilesManagementClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Restore
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/latestRestoreStatus/current
  : get:
      tags:
      - Restore
      summary: Microsoft Azure Get The Latest Restore Status Of A Volume
      description: Get the latest status of the restore for a volume
      operationId: microsoftAzureBackupsGetvolumelatestrestorestatus
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountName'
      - $ref: '#/components/parameters/PoolName'
      - $ref: '#/components/parameters/VolumeName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restoreStatus'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: null
      x-ms-examples:
        Volumes_RestoreStatus:
          $ref: examples/Volumes_LatestRestoreStatus.json
components:
  parameters:
    VolumeName:
      name: volumeName
      in: path
      required: true
      description: The name of the volume
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 1
        pattern: ^[a-zA-Z][a-zA-Z0-9\-_]{0,63}$
    AccountName:
      name: accountName
      in: path
      required: true
      description: The name of the NetApp account
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9\-_]{0,127}$
    PoolName:
      name: poolName
      in: path
      required: true
      description: The name of the capacity pool
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 1
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9\-_]{0,63}$
  schemas:
    restoreStatus:
      description: Restore status
      type: object
      properties:
        healthy:
          type: boolean
          readOnly: true
          description: Restore health status
        relationshipStatus:
          type: string
          readOnly: true
          description: Status of the restore SnapMirror relationship
          enum:
          - Idle
          - Transferring
          - Failed
          - Unknown
          x-ms-enum:
            name: RelationshipStatus
            modelAsString: true
        mirrorState:
          type: string
          readOnly: true
          description: The status of the restore
          enum:
          - Uninitialized
          - Mirrored
          - Broken
          x-ms-enum:
            name: MirrorState
            modelAsString: true
        unhealthyReason:
          type: string
          readOnly: true
          description: Reason for the unhealthy restore relationship
        errorMessage:
          type: string
          readOnly: true
          description: Displays error message if the restore is in an error state
        totalTransferBytes:
          type: integer
          format: int64
          readOnly: true
          description: Displays the total bytes transferred
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
