openapi: 3.2.0
info:
  title: Microsoft Azure ApplicationClient Application Definitions…
  version: 2023-12-01-preview
  description: ARM applications
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ApplicationDefinitions
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applicationDefinitions/{applicationDefinitionName}
  : get:
      tags:
      - ApplicationDefinitions
      operationId: microsoftAzureApplicationdefinitionsGet
      description: Gets the managed application definition.
      x-ms-examples:
        Get managed application definition:
          $ref: ./examples/getApplicationDefinition.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/ApplicationDefinitionNameParameter'
      responses:
        '200':
          description: OK - Returns the managed application definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationDefinition'
        '404':
          description: NotFound.
          x-ms-error-response: false
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    delete:
      tags:
      - ApplicationDefinitions
      operationId: microsoftAzureApplicationdefinitionsDelete
      description: Deletes the managed application definition.
      x-ms-examples:
        delete managed application definition:
          $ref: ./examples/deleteApplicationDefinition.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/ApplicationDefinitionNameParameter'
      responses:
        '200':
          description: OK
        '204':
          description: NoContent
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - ApplicationDefinitions
      operationId: microsoftAzureApplicationdefinitionsCreateorupdate
      description: Creates or updates a managed application definition.
      x-ms-examples:
        Create or update managed application definition:
          $ref: ./examples/createOrUpdateApplicationDefinition.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/ApplicationDefinitionNameParameter'
      responses:
        '200':
          description: OK - Returns information about the managed application definition, including provisioning status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationDefinition'
        '201':
          description: Created - Returns information about the managed application definition, including provisioning status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationDefinition'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationDefinition'
        description: Parameters supplied to the create or update an managed application definition.
        required: true
    patch:
      tags:
      - ApplicationDefinitions
      operationId: microsoftAzureApplicationdefinitionsUpdate
      description: Updates the managed application definition.
      x-ms-examples:
        Update managed application definition:
          $ref: ./examples/updateApplicationDefinition.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/ApplicationDefinitionNameParameter'
      responses:
        '200':
          description: OK - Returns information about the managed application definition, including provisioning status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationDefinition'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationDefinitionPatchable'
        description: Parameters supplied to the update a managed application definition.
        required: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applicationDefinitions:
    get:
      tags:
      - ApplicationDefinitions
      operationId: microsoftAzureApplicationdefinitionsListbyresourcegroup
      description: Lists the managed application definitions in a resource group.
      x-ms-examples:
        Lists the managed application definitions in a resource group:
          $ref: ./examples/listApplicationDefinitionsByResourceGroup.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK - Returns an array of managed application definitions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationDefinitionListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/providers/Microsoft.Solutions/applicationDefinitions:
    get:
      tags:
      - ApplicationDefinitions
      operationId: microsoftAzureApplicationdefinitionsListbysubscription
      description: Lists all the application definitions within a subscription.
      x-ms-examples:
        Lists all the application definitions within a subscription:
          $ref: ./examples/listApplicationDefinitionsBySubscription.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK - Returns an array of managed application definitions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationDefinitionListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Solutions…
components:
  schemas:
    ApplicationNotificationPolicy:
      type: object
      properties:
        notificationEndpoints:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationNotificationEndpoint'
          x-ms-identifiers:
          - uri
          description: The managed application notification endpoint.
      required:
      - notificationEndpoints
      description: Managed application notification policy.
    ApplicationPackageLockingPolicyDefinition:
      type: object
      properties:
        allowedActions:
          type: array
          items:
            type: string
          description: The deny assignment excluded actions.
        allowedDataActions:
          type: array
          items:
            type: string
          description: The deny assignment excluded data actions.
      description: Managed application locking policy.
    ApplicationDefinitionPatchable:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Application definition tags
      description: Information about an application definition request.
    ApplicationNotificationEndpoint:
      type: object
      properties:
        uri:
          type: string
          description: The managed application notification endpoint uri.
      required:
      - uri
      description: Managed application notification endpoint.
    ApplicationPolicy:
      type: object
      properties:
        name:
          type: string
          description: The policy name
        policyDefinitionId:
          type: string
          description: The policy definition Id.
        parameters:
          type: string
          description: The policy parameters.
      description: Managed application policy.
    ApplicationAuthorization:
      type: object
      properties:
        principalId:
          type: string
          description: The provider's principal identifier. This is the identity that the provider will use to call ARM to manage the managed application resources.
        roleDefinitionId:
          type: string
          description: The provider's role definition identifier. This role will define all the permissions that the provider must have on the managed application's container resource group. This role definition cannot have permission to delete the resource group.
      required:
      - principalId
      - roleDefinitionId
      description: The managed application provider authorization.
    DeploymentMode:
      description: The deployment mode.
      enum:
      - NotSpecified
      - Incremental
      - Complete
      type: string
      x-ms-enum:
        name: DeploymentMode
        modelAsString: true
    ApplicationDefinitionProperties:
      type: object
      properties:
        lockLevel:
          $ref: '#/components/schemas/ApplicationLockLevel'
          description: The managed application lock level.
        displayName:
          type: string
          description: The managed application definition display name.
        isEnabled:
          type: boolean
          description: A value indicating whether the package is enabled or not.
        authorizations:
          description: The managed application provider authorizations.
          type: array
          items:
            $ref: '#/components/schemas/ApplicationAuthorization'
          x-ms-identifiers:
          - principalId
          - roleDefinitionId
        artifacts:
          description: The collection of managed application artifacts. The portal will use the files specified as artifacts to construct the user experience of creating a managed application from a managed application definition.
          type: array
          items:
            $ref: '#/components/schemas/ApplicationDefinitionArtifact'
          x-ms-identifiers:
          - name
          - uri
        description:
          type: string
          description: The managed application definition description.
        packageFileUri:
          type: string
          description: The managed application definition package file Uri. Use this element
        storageAccountId:
          type: string
          description: The storage account id for bring your own storage scenario.
        mainTemplate:
          type: object
          description: The inline main template json which has resources to be provisioned. It can be a JObject or well-formed JSON string.
        createUiDefinition:
          type: object
          description: The createUiDefinition json for the backing template with Microsoft.Solutions/applications resource. It can be a JObject or well-formed JSON string.
        notificationPolicy:
          $ref: '#/components/schemas/ApplicationNotificationPolicy'
          description: The managed application notification policy.
        lockingPolicy:
          $ref: '#/components/schemas/ApplicationPackageLockingPolicyDefinition'
          description: The managed application locking policy.
        deploymentPolicy:
          $ref: '#/components/schemas/ApplicationDeploymentPolicy'
          description: The managed application deployment policy.
        managementPolicy:
          $ref: '#/components/schemas/ApplicationManagementPolicy'
          description: The managed application management policy that determines publisher's access to the managed resource group.
        policies:
          description: The managed application provider policies.
          type: array
          items:
            $ref: '#/components/schemas/ApplicationPolicy'
          x-ms-identifiers:
          - name
          - policyDefinitionId
      required:
      - lockLevel
      description: The managed application definition properties.
    ApplicationManagementMode:
      description: The management mode.
      enum:
      - NotSpecified
      - Unmanaged
      - Managed
      type: string
      x-ms-enum:
        name: ApplicationManagementMode
        modelAsString: true
    ApplicationLockLevel:
      description: The managed application lock level.
      enum:
      - CanNotDelete
      - ReadOnly
      - None
      type: string
      x-ms-enum:
        name: ApplicationLockLevel
        modelAsString: false
    Resource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Resource ID
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        location:
          type: string
          description: Resource location
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          readOnly: true
      description: Resource information.
      x-ms-azure-resource: true
    ApplicationDeploymentPolicy:
      type: object
      properties:
        deploymentMode:
          $ref: '#/components/schemas/DeploymentMode'
          description: The managed application deployment mode.
      required:
      - deploymentMode
      description: Managed application deployment policy.
    ApplicationDefinition:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ApplicationDefinitionProperties'
          description: The managed application definition properties.
      required:
      - properties
      allOf:
      - $ref: '#/components/schemas/GenericResource'
      description: Information about managed application definition.
    ApplicationManagementPolicy:
      type: object
      properties:
        mode:
          $ref: '#/components/schemas/ApplicationManagementMode'
          description: The managed application management mode.
      description: Managed application management policy.
    ApplicationDefinitionListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationDefinition'
          description: The array of managed application definitions.
        nextLink:
          type: string
          description: The URL to use for getting the next set of results.
      description: List of managed application definitions.
    GenericResource:
      type: object
      properties:
        managedBy:
          type: string
          description: ID of the resource that manages this resource.
        sku:
          $ref: '#/components/schemas/Sku'
          description: The SKU of the resource.
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Resource information.
    ApplicationArtifactType:
      description: The managed application artifact type.
      enum:
      - NotSpecified
      - Template
      - Custom
      type: string
      x-ms-enum:
        name: ApplicationArtifactType
        modelAsString: false
    ApplicationDefinitionArtifactName:
      description: The managed application artifact name.
      enum:
      - NotSpecified
      - ApplicationResourceTemplate
      - CreateUiDefinition
      - MainTemplateParameters
      type: string
      x-ms-enum:
        name: ApplicationDefinitionArtifactName
        modelAsString: true
    ApplicationDefinitionArtifact:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/ApplicationDefinitionArtifactName'
          description: The managed application definition artifact name.
        uri:
          type: string
          description: The managed application definition artifact blob uri.
        type:
          $ref: '#/components/schemas/ApplicationArtifactType'
          description: The managed application definition artifact type.
      required:
      - name
      - type
      - uri
      description: Application definition artifact.
    Sku:
      type: object
      properties:
        name:
          type: string
          description: The SKU name.
        tier:
          type: string
          description: The SKU tier.
        size:
          type: string
          description: The SKU size.
        family:
          type: string
          description: The SKU family.
        model:
          type: string
          description: The SKU model.
        capacity:
          type: integer
          format: int32
          description: The SKU capacity.
      required:
      - name
      description: SKU for the resource.
  parameters:
    ApplicationDefinitionNameParameter:
      name: applicationDefinitionName
      in: path
      required: true
      description: The name of the managed application definition.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 3
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-ms-paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applicationDefinitions/{applicationDefinitionName}?disambiguation_dummy
  : get:
      tags:
      - ApplicationDefinitions
      operationId: ApplicationDefinitions_GetById
      description: Gets the managed application definition.
      x-ms-examples:
        Get managed application definition:
          $ref: ./examples/getApplicationDefinition.json
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group. The name is case insensitive.
        pattern: ^[-\w\._\(\)]+$
        minLength: 1
        maxLength: 90
      - name: applicationDefinitionName
        in: path
        required: true
        type: string
        description: The name of the managed application definition.
        minLength: 3
        maxLength: 64
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: OK - Returns the managed application definition.
          schema:
            $ref: '#/components/schemas/ApplicationDefinition'
        '404':
          description: NotFound.
          x-ms-error-response: false
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
    delete:
      tags:
      - ApplicationDefinitions
      operationId: ApplicationDefinitions_DeleteById
      description: Deletes the managed application definition.
      x-ms-examples:
        Deletes managed application definition:
          $ref: ./examples/deleteApplicationDefinition.json
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group. The name is case insensitive.
        pattern: ^[-\w\._\(\)]+$
        minLength: 1
        maxLength: 90
      - name: applicationDefinitionName
        in: path
        required: true
        type: string
        description: The name of the managed application definition.
        minLength: 3
        maxLength: 64
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: OK
        '204':
          description: NoContent
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
    put:
      tags:
      - ApplicationDefinitions
      operationId: ApplicationDefinitions_CreateOrUpdateById
      description: Creates or updates a managed application definition.
      x-ms-examples:
        Create or update managed application definition:
          $ref: ./examples/createOrUpdateApplicationDefinition.json
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group. The name is case insensitive.
        pattern: ^[-\w\._\(\)]+$
        minLength: 1
        maxLength: 90
      - name: applicationDefinitionName
        in: path
        required: true
        type: string
        description: The name of the managed application definition.
        minLength: 3
        maxLength: 64
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/components/schemas/ApplicationDefinition'
        description: Parameters supplied to the create or update a managed application definition.
      responses:
        '200':
          description: OK - Returns information about the managed application definition, including provisioning status.
          schema:
            $ref: '#/components/schemas/ApplicationDefinition'
        '201':
          description: Created - Returns information about the managed application definition, including provisioning status.
          schema:
            $ref: '#/components/schemas/ApplicationDefinition'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
    patch:
      tags:
      - ApplicationDefinitions
      operationId: ApplicationDefinitions_UpdateById
      description: Updates the managed application definition.
      x-ms-examples:
        Update managed application definition:
          $ref: ./examples/updateApplicationDefinition.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/ApplicationDefinitionNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/components/schemas/ApplicationDefinitionPatchable'
        description: Parameters supplied to the update a managed application definition.
      responses:
        '200':
          description: OK - Returns information about the managed application definition, including provisioning status.
          schema:
            $ref: '#/components/schemas/ApplicationDefinition'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
