openapi: 3.2.0
info:
  version: 2023-03-01-preview
  x-ms-code-generation-settings:
    host: management.azure.com
  title: Microsoft Azure iotDpsClient Iot Dps Resource API
  description: API for using the Azure IoT Hub Device Provisioning Service features.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: IotDpsResource
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{provisioningServiceName}
  : get:
      tags:
      - IotDpsResource
      summary: Microsoft Azure Get The Non Security Related Metadata Of The Provisioning…
      description: Get the metadata of the provisioning service without SAS keys.
      operationId: microsoftAzureIotdpsresourceGet
      x-ms-examples:
        DPSGet:
          $ref: ./examples/DPSGet.json
      parameters:
      - name: provisioningServiceName
        in: path
        required: true
        description: Name of the provisioning service to retrieve.
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        in: path
        required: true
        description: Resource group name.
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Provisioning service description with no keys is included in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvisioningServiceDescription'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
    put:
      tags:
      - IotDpsResource
      summary: Microsoft Azure Create Or Update The Metadata Of The Provisioning Service
      description: Create or update the metadata of the provisioning service. The usual pattern to modify a property is to retrieve the provisioning service metadata and security metadata, and then combine them with the modified values in a new body to update the provisioning service.
      x-ms-long-running-operation: true
      operationId: microsoftAzureIotdpsresourceCreateorupdate
      x-ms-examples:
        DPSCreate:
          $ref: ./examples/DPSCreate.json
        DPSUpdate:
          $ref: ./examples/DPSUpdate.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        in: path
        required: true
        description: Resource group identifier.
        schema:
          type: string
      - name: provisioningServiceName
        in: path
        required: true
        description: Name of provisioning service to create or update.
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: The body contains all the non-security properties of the provisioning service. Security-related properties are set to null.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvisioningServiceDescription'
        '201':
          description: This is a long running operation. The operation returns a 201 if the validation is complete. The response includes an Azure-AsyncOperation header that contains a status URL. Clients are expected to poll the status URL for the status of the operation. If successful, the operation returns HTTP status code of 201 (OK).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvisioningServiceDescription'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProvisioningServiceDescription'
        description: Description of the provisioning service to create or update.
        required: true
    patch:
      tags:
      - IotDpsResource
      summary: Microsoft Azure Update An Existing Provisioning Service S Tags
      description: Update an existing provisioning service's tags. to update other fields use the CreateOrUpdate method
      x-ms-long-running-operation: true
      operationId: microsoftAzureIotdpsresourceUpdate
      x-ms-examples:
        DPSPatch:
          $ref: ./examples/DPSPatch.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        in: path
        required: true
        description: Resource group identifier.
        schema:
          type: string
      - name: provisioningServiceName
        in: path
        required: true
        description: Name of provisioning service to create or update.
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Provisioning Service was successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvisioningServiceDescription'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagsResource'
        description: Updated tag information to set into the provisioning service instance.
        required: true
    delete:
      tags:
      - IotDpsResource
      summary: Microsoft Azure Delete The Provisioning Service
      description: Deletes the Provisioning Service.
      x-ms-long-running-operation: true
      operationId: microsoftAzureIotdpsresourceDelete
      x-ms-examples:
        DPSDelete:
          $ref: ./examples/DPSDelete.json
      parameters:
      - name: provisioningServiceName
        in: path
        required: true
        description: Name of provisioning service to delete.
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        in: path
        required: true
        description: Resource group identifier.
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: This is returned as a response to the status polling request for the delete operation. The body contains the resource representation that indicates a transitional provisioning state.
        '202':
          description: The provisioning service resource provider always returns a 202 Accepted status code with valid Location and Retry-After headers. The resource provider also sets the Azure-AsyncOperation header with a URL that points to the operation resource for this operation. Subsequent GET attempts on the resource after a DELETE operation return a resource representation that indicates a transitional provisioning state (such as Terminating). To retrieve the status of the operation, a client can either poll the URL returned in the Location header after the Retry-After interval, get the provisioning service status directly, or query the operation resource.
        '204':
          description: Once the long running delete operation completes successfully, a 204 No Content status code is returned when the status polling request finds the provisioning service metadata in the service and the status of the delete operation is set to a completed state.
        '404':
          description: After the long running delete operation completes successfully, a 404 Not Found is returned when the status polling request no longer finds the provisioning service metadata in the service.
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
  /subscriptions/{subscriptionId}/providers/Microsoft.Devices/provisioningServices:
    get:
      tags:
      - IotDpsResource
      summary: Microsoft Azure Get All The Provisioning Services In A Subscription
      description: List all the provisioning services for a given subscription id.
      operationId: microsoftAzureIotdpsresourceListbysubscription
      x-ms-examples:
        DPSListBySubscription:
          $ref: ./examples/DPSListBySubscription.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the provisioning services in the subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvisioningServiceDescriptionListResult'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices:
    get:
      tags:
      - IotDpsResource
      operationId: microsoftAzureIotdpsresourceListbyresourcegroup
      description: Get a list of all provisioning services in the given resource group.
      x-ms-examples:
        DPSListByResourceGroup:
          $ref: ./examples/DPSListByResourceGroup.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        in: path
        required: true
        description: Resource group identifier.
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: List of provisioning services in the resource group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvisioningServiceDescriptionListResult'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{provisioningServiceName}/operationresults/{operationId}
  : get:
      tags:
      - IotDpsResource
      operationId: microsoftAzureIotdpsresourceGetoperationresult
      description: Gets the status of a long running operation, such as create, update or delete a provisioning service.
      x-ms-examples:
        DPSGetOperationResult:
          $ref: ./examples/DPSGetOperationResult.json
      parameters:
      - name: operationId
        in: path
        required: true
        description: Operation id corresponding to long running operation. Use this to poll for the status.
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        in: path
        required: true
        description: Resource group identifier.
        schema:
          type: string
      - name: provisioningServiceName
        in: path
        required: true
        description: Name of provisioning service that the operation is running on.
        schema:
          type: string
      - name: asyncinfo
        in: query
        description: Async header used to poll on the status of the operation, obtained while creating the long running operation.
        required: true
        schema:
          type: string
          default: 'true'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: The status of the long running operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationResult'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{provisioningServiceName}/skus
  : get:
      tags:
      - IotDpsResource
      summary: Microsoft Azure Get The List Of Valid Skus For A Provisioning Service
      description: Gets the list of valid SKUs and tiers for a provisioning service.
      operationId: microsoftAzureIotdpsresourceListvalidskus
      x-ms-examples:
        DPSGetValidSku:
          $ref: ./examples/DPSGetValidSku.json
      parameters:
      - name: provisioningServiceName
        in: path
        required: true
        description: Name of provisioning service.
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        in: path
        required: true
        description: Name of resource group.
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: This is a synchronous operation. The body contains a JSON-serialized array of the valid SKUs for this provisioning service.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotDpsSkuDefinitionListResult'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Devices/checkProvisioningServiceNameAvailability:
    post:
      tags:
      - IotDpsResource
      operationId: microsoftAzureIotdpsresourceCheckprovisioningservicenameavailability
      x-ms-examples:
        DPSCheckName:
          $ref: ./examples/DPSCheckNameAvailability.json
      summary: Microsoft Azure Check If A Provisioning Service Name Is Available
      description: Check if a provisioning service name is available. This will validate if the name is syntactically valid and if the name is usable
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: This is a synchronous operation. The body contains a JSON-serialized response that specifies whether the provisioning service name is available. If the name is not available, the body contains the reason.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameAvailabilityInfo'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationInputs'
        description: Set the name parameter in the OperationInputs structure to the name of the provisioning service to check.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{provisioningServiceName}/listkeys
  : post:
      tags:
      - IotDpsResource
      operationId: microsoftAzureIotdpsresourceListkeys
      x-ms-examples:
        DPSListKeys:
          $ref: ./examples/DPSListKeys.json
      summary: Microsoft Azure Get The Security Metadata For A Provisioning Service
      description: List the primary and secondary keys for a provisioning service.
      parameters:
      - name: provisioningServiceName
        in: path
        required: true
        description: The provisioning service name to get the shared access keys for.
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        in: path
        required: true
        description: resource group name
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: This is a synchronous operation. The body contains a JSON-serialized array of shared access policies, including keys, that you can use to access the provisioning service endpoints.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessSignatureAuthorizationRuleListResult'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{provisioningServiceName}/keys/{keyName}/listkeys
  : post:
      tags:
      - IotDpsResource
      operationId: microsoftAzureIotdpsresourceListkeysforkeyname
      x-ms-examples:
        DPSGetKey:
          $ref: ./examples/DPSGetKey.json
      summary: Microsoft Azure Get A Shared Access Policy By Name From A Provisioning Service
      description: List primary and secondary keys for a specific key name
      parameters:
      - name: provisioningServiceName
        in: path
        required: true
        description: Name of the provisioning service.
        schema:
          type: string
      - name: keyName
        in: path
        required: true
        description: Logical key name to get key-values for.
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The name of the resource group that contains the provisioning service.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: This is a synchronous operation. The body contains a JSON-serialized shared access policy, including keys, that you can use to access one or more provisioning service endpoints.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessSignatureAuthorizationRule_AccessRightsDescription'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{resourceName}/privateLinkResources
  : get:
      tags:
      - IotDpsResource
      summary: Microsoft Azure List Private Link Resources
      description: List private link resources for the given provisioning service
      operationId: microsoftAzureIotdpsresourceListprivatelinkresources
      x-ms-examples:
        PrivateLinkResources_List:
          $ref: ./examples/DPSListPrivateLinkResources.json
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      responses:
        '200':
          description: The body contains the list of private link resources
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResources'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{resourceName}/privateLinkResources/{groupId}
  : get:
      tags:
      - IotDpsResource
      summary: Microsoft Azure Get The Specified Private Link Resource
      description: Get the specified private link resource for the given provisioning service
      operationId: microsoftAzureIotdpsresourceGetprivatelinkresources
      x-ms-examples:
        PrivateLinkResources_List:
          $ref: ./examples/DPSGetPrivateLinkResources.json
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      - $ref: '#/components/parameters/groupId'
      responses:
        '200':
          description: The body contains the specified of private link resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupIdInformation'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{resourceName}/privateEndpointConnections
  : get:
      tags:
      - IotDpsResource
      summary: Microsoft Azure List Private Endpoint Connections
      description: List private endpoint connection properties
      operationId: microsoftAzureIotdpsresourceListprivateendpointconnections
      x-ms-examples:
        PrivateEndpointConnections_List:
          $ref: ./examples/DPSListPrivateEndpointConnections.json
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      responses:
        '200':
          description: The body contains the list of private endpoint connection properties
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionsList'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{resourceName}/privateEndpointConnections/{privateEndpointConnectionName}
  : get:
      tags:
      - IotDpsResource
      summary: Microsoft Azure Get Private Endpoint Connection
      description: Get private endpoint connection properties
      operationId: microsoftAzureIotdpsresourceGetprivateendpointconnection
      x-ms-examples:
        PrivateEndpointConnection_Get:
          $ref: ./examples/DPSGetPrivateEndpointConnection.json
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      - $ref: '#/components/parameters/privateEndpointConnectionName'
      responses:
        '200':
          description: The body contains the private endpoint connection properties
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
    put:
      tags:
      - IotDpsResource
      summary: Microsoft Azure Create Or Update Private Endpoint Connection
      description: Create or update the status of a private endpoint connection with the specified name
      operationId: microsoftAzureIotdpsresourceCreateorupdateprivateendpointconnection
      x-ms-examples:
        PrivateEndpointConnection_CreateOrUpdate:
          $ref: ./examples/DPSCreateOrUpdatePrivateEndpointConnection.json
      x-ms-long-running-operation: true
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      - $ref: '#/components/parameters/privateEndpointConnectionName'
      responses:
        '200':
          description: This is returned as a response to the status polling request for the update operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
        '201':
          description: This is a long running operation. The operation returns a 201 if the validation is complete. The response includes an Azure-AsyncOperation header that contains a status URL. Clients are expected to poll the status URL for the status of the operation. If successful, the operation returns HTTP status code of 201 (OK).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateEndpointConnection'
        description: The private endpoint connection with updated properties
        required: true
    delete:
      tags:
      - IotDpsResource
      summary: Microsoft Azure Delete Private Endpoint Connection
      description: Delete private endpoint connection with the specified name
      operationId: microsoftAzureIotdpsresourceDeleteprivateendpointconnection
      x-ms-examples:
        PrivateEndpointConnection_Delete:
          $ref: ./examples/DPSDeletePrivateEndpointConnection.json
      x-ms-long-running-operation: true
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      - $ref: '#/components/parameters/privateEndpointConnectionName'
      responses:
        '200':
          description: This is returned as a response to the status polling request for the delete operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
        '202':
          description: This is a long running operation. The operation returns a 202 if the validation is complete. The response includes an Azure-AsyncOperation header that contains a status URL. Clients are expected to poll the status URL for the status of the operation.
          headers:
            Azure-AsyncOperation:
              description: Operation Status Location URI
              schema:
                type: string
            Location:
              description: Operation Status Location URI
              schema:
                type: string
            Retry-After:
              description: Retry After
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
        '204':
          description: PrivateEndpoint does not exist.
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
components:
  schemas:
    PrivateEndpoint:
      description: The private endpoint property of a private endpoint connection
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: The resource identifier.
    SharedAccessSignatureAuthorizationRule_AccessRightsDescription:
      type: object
      description: Description of the shared access key.
      properties:
        keyName:
          type: string
          description: Name of the key.
        primaryKey:
          type: string
          description: Primary SAS key value.
        secondaryKey:
          type: string
          description: Secondary SAS key value.
        rights:
          description: Rights that this key has.
          enum:
          - ServiceConfig
          - EnrollmentRead
          - EnrollmentWrite
          - DeviceConnect
          - RegistrationStatusRead
          - RegistrationStatusWrite
          type: string
          x-ms-enum:
            name: AccessRightsDescription
            modelAsString: true
      required:
      - keyName
      - rights
    AsyncOperationResult:
      type: object
      description: Result of a long running operation.
      properties:
        status:
          description: current status of a long running operation.
          type: string
        error:
          description: Error message containing code, description and details
          $ref: '#/components/schemas/ErrorMessage'
    PrivateEndpointConnection:
      description: The private endpoint connection of a provisioning service
      x-ms-azure-resource: true
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: The resource identifier.
        name:
          readOnly: true
          type: string
          description: The resource name.
          pattern: ^(?![0-9]+$)(?!-)[a-zA-Z0-9-]{2,49}[a-zA-Z0-9]$
        type:
          readOnly: true
          type: string
          description: The resource type.
        properties:
          description: The properties of a private endpoint connection
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties'
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          readOnly: true
      required:
      - properties
    GroupIdInformationProperties:
      description: The properties for a group information object
      type: object
      properties:
        groupId:
          type: string
          description: The group id
        requiredMembers:
          description: The required members for a specific group id
          type: array
          items:
            type: string
        requiredZoneNames:
          description: The required DNS zones for a specific group id
          type: array
          items:
            type: string
    PrivateEndpointConnectionsList:
      description: The list of private endpoint connections for a provisioning service
      type: array
      items:
        $ref: '#/components/schemas/PrivateEndpointConnection'
    OperationInputs:
      description: Input values for operation results call.
      type: object
      properties:
        name:
          description: The name of the Provisioning Service to check.
          type: string
      required:
      - name
    PrivateEndpointConnectionProperties:
      description: The properties of a private endpoint connection
      type: object
      properties:
        privateEndpoint:
          description: The private endpoint property of a private endpoint connection
          $ref: '#/components/schemas/PrivateEndpoint'
        privateLinkServiceConnectionState:
          description: The current state of a private endpoint connection
          $ref: '#/components/schemas/PrivateLinkServiceConnectionState'
      required:
      - privateLinkServiceConnectionState
    ErrorMessage:
      description: Error response containing message and code.
      type: object
      properties:
        code:
          description: standard error code
          type: string
        message:
          description: standard error description
          type: string
        details:
          description: detailed summary of error
          type: string
    SharedAccessSignatureAuthorizationRuleListResult:
      type: object
      description: List of shared access keys.
      properties:
        value:
          description: The list of shared access policies.
          type: array
          items:
            $ref: '#/components/schemas/SharedAccessSignatureAuthorizationRule_AccessRightsDescription'
        nextLink:
          description: The next link.
          type: string
          readOnly: true
    ProvisioningServiceDescriptionListResult:
      type: object
      description: List of provisioning service descriptions.
      properties:
        value:
          description: List of provisioning service descriptions.
          type: array
          items:
            $ref: '#/components/schemas/ProvisioningServiceDescription'
        nextLink:
          description: the next link
          type: string
          readOnly: true
    PrivateLinkServiceConnectionState:
      description: The current state of a private endpoint connection
      type: object
      properties:
        status:
          description: The status of a private endpoint connection
          enum:
          - Pending
          - Approved
          - Rejected
          - Disconnected
          type: string
          x-ms-enum:
            name: PrivateLinkServiceConnectionStatus
            modelAsString: true
        description:
          type: string
          description: The description for the current state of a private endpoint connection
        actionsRequired:
          type: string
          description: Actions required for a private endpoint connection
      required:
      - status
      - description
    IotDpsPropertiesDescription:
      description: the service specific properties of a provisioning service, including keys, linked iot hubs, current state, and system generated properties such as hostname and idScope
      type: object
      properties:
        state:
          description: Current state of the provisioning service.
          enum:
          - Activating
          - Active
          - Deleting
          - Deleted
          - ActivationFailed
          - DeletionFailed
          - Transitioning
          - Suspending
          - Suspended
          - Resuming
          - FailingOver
          - FailoverFailed
          type: string
          x-ms-enum:
            name: state
            modelAsString: true
        publicNetworkAccess:
          type: string
          description: Whether requests from Public Network are allowed
          enum:
          - Enabled
          - Disabled
          x-ms-enum:
            modelAsString: true
            name: PublicNetworkAccess
        ipFilterRules:
          description: The IP filter rules.
          type: array
          items:
            $ref: '#/components/schemas/IpFilterRule'
        privateEndpointConnections:
          description: Private endpoint connections created on this IotHub
          type: array
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection'
        provisioningState:
          description: The ARM provisioning state of the provisioning service.
          type: string
        iotHubs:
          type: array
          description: List of IoT hubs associated with this provisioning service.
          items:
            $ref: '#/components/schemas/IotHubDefinitionDescription'
        allocationPolicy:
          enum:
          - Hashed
          - GeoLatency
          - Static
          type: string
          description: Allocation policy to be used by this provisioning service.
          x-ms-enum:
            name: AllocationPolicy
            modelAsString: true
        serviceOperationsHostName:
          description: Service endpoint for provisioning service.
          type: string
          readOnly: true
        deviceProvisioningHostName:
          type: string
          description: Device endpoint for this provisioning service.
          readOnly: true
        idScope:
          type: string
          description: Unique identifier of this provisioning service.
          readOnly: true
        authorizationPolicies:
          description: List of authorization keys for a provisioning service.
          type: array
          items:
            $ref: '#/components/schemas/SharedAccessSignatureAuthorizationRule_AccessRightsDescription'
        enableDataResidency:
          type: boolean
          description: 'Optional.

            Indicates if the DPS instance has Data Residency enabled, removing the cross geo-pair disaster recovery.'
        portalOperationsHostName:
          type: string
          description: Portal endpoint to enable CORS for this provisioning service.
    NameAvailabilityInfo:
      type: object
      description: Description of name availability.
      properties:
        nameAvailable:
          description: specifies if a name is available or not
          type: boolean
        reason:
          description: specifies the reason a name is unavailable
          enum:
          - Invalid
          - AlreadyExists
          type: string
          x-ms-enum:
            name: NameUnavailabilityReason
            modelAsString: true
        message:
          description: message containing a detailed reason name is unavailable
          type: string
    PrivateLinkResources:
      description: The available private link resources for a provisioning service
      type: object
      properties:
        value:
          description: The list of available private link resources for a provisioning service
          type: array
          items:
            $ref: '#/components/schemas/GroupIdInformation'
    IotDpsSkuDefinition:
      type: object
      description: Available SKUs of tier and units.
      properties:
        name:
          description: Sku name.
          enum:
          - S1
          type: string
          x-ms-enum:
            name: IotDpsSku
            modelAsString: true
    IotHubDefinitionDescription:
      type: object
      description: Description of the IoT hub.
      properties:
        applyAllocationPolicy:
          description: flag for applying allocationPolicy or not for a given iot hub.
          type: boolean
        allocationWeight:
          description: weight to apply for a given iot h.
          format: int32
          type: integer
        name:
          type: string
          readOnly: true
          description: Host name of the IoT hub.
        connectionString:
          type: string
          description: Connection string of the IoT hub.
        location:
          type: string
          description: ARM region of the IoT hub.
      required:
      - connectionString
      - location
    TagsResource:
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags
      description: A container holding only the Tags for a resource, allowing the user to update the tags on a Provisioning Service instance.
    GroupIdInformation:
      description: The group information for creating a private endpoint on a provisioning service
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: The resource identifier.
        name:
          readOnly: true
          type: string
          description: The resource name.
          pattern: ^(?![0-9]+$)(?!-)[a-zA-Z0-9-]{2,49}[a-zA-Z0-9]$
        type:
          readOnly: true
          type: string
          description: The resource type.
        properties:
          description: The properties for a group information object
          $ref: '#/components/schemas/GroupIdInformationProperties'
      required:
      - properties
    Resource:
      description: The common properties of an Azure resource.
      properties:
        id:
          readOnly: true
          type: string
          description: The resource identifier.
        name:
          readOnly: true
          type: string
          description: The resource name.
          pattern: ^(?![0-9]+$)(?!-)[a-zA-Z0-9-]{2,49}[a-zA-Z0-9]$
        type:
          readOnly: true
          type: string
          description: The resource type.
        location:
          type: string
          description: The resource location.
        resourcegroup:
          type: string
          description: The resource group of the resource.
        subscriptionid:
          type: string
          description: The subscription id of the resource.
        tags:
          type: object
          additionalProperties:
            type: string
          description: The resource tags.
      x-ms-azure-resource: true
      required:
      - location
    ErrorDetails:
      description: Error details.
      type: object
      properties:
        code:
          description: The error code.
          format: int32
          type: integer
          readOnly: true
        httpStatusCode:
          description: The HTTP status code.
          type: string
          readOnly: true
        message:
          description: The error message.
          type: string
          readOnly: true
        details:
          description: The error details.
          type: string
          readOnly: true
    ProvisioningServiceDescription:
      description: The description of the provisioning service.
      type: object
      properties:
        etag:
          description: The Etag field is *not* required. If it is provided in the response body, it must also be provided as a header per the normal ETag convention.
          type: string
        properties:
          description: Service specific properties for a provisioning service
          $ref: '#/components/schemas/IotDpsPropertiesDescription'
        sku:
          description: Sku info for a provisioning Service.
          $ref: '#/components/schemas/IotDpsSkuInfo'
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          readOnly: true
        identity:
          description: The managed identities for a provisioning service.
          $ref: ../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity
      allOf:
      - $ref: '#/components/schemas/Resource'
      required:
      - sku
      - properties
    IpFilterRule:
      description: The IP filter rules for a provisioning Service.
      type: object
      properties:
        filterName:
          description: The name of the IP filter rule.
          type: string
        action:
          description: The desired action for requests captured by this rule.
          enum:
          - Accept
          - Reject
          type: string
          x-ms-enum:
            name: IpFilterActionType
            modelAsString: false
        ipMask:
          description: A string that contains the IP address range in CIDR notation for the rule.
          type: string
        target:
          description: Target for requests captured by this rule.
          enum:
          - all
          - serviceApi
          - deviceApi
          type: string
          x-ms-enum:
            name: IpFilterTargetType
            modelAsString: false
      required:
      - filterName
      - action
      - ipMask
    IotDpsSkuDefinitionListResult:
      type: object
      description: List of available SKUs.
      properties:
        value:
          description: The list of SKUs
          type: array
          items:
            $ref: '#/components/schemas/IotDpsSkuDefinition'
        nextLink:
          description: The next link.
          type: string
          readOnly: true
    IotDpsSkuInfo:
      type: object
      description: List of possible provisioning service SKUs.
      properties:
        name:
          description: Sku name.
          enum:
          - S1
          type: string
          x-ms-enum:
            name: IotDpsSku
            modelAsString: true
        tier:
          type: string
          readOnly: true
          description: Pricing tier name of the provisioning service.
        capacity:
          format: int64
          type: integer
          description: The number of units to provision
  parameters:
    privateEndpointConnectionName:
      name: privateEndpointConnectionName
      in: path
      description: The name of the private endpoint connection
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    api-version:
      name: api-version
      in: query
      description: The version of the API.
      required: true
      schema:
        type: string
    subscriptionId:
      name: subscriptionId
      in: path
      description: The subscription identifier.
      required: true
      schema:
        type: string
    groupId:
      name: groupId
      in: path
      description: The name of the private link resource
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    resourceGroupName:
      name: resourceGroupName
      description: The name of the resource group that contains the provisioning service.
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    resourceName:
      name: resourceName
      in: path
      description: The name of the provisioning service.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
