openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft.VoiceServices Contacts API
  version: 2022-12-01-preview
  x-cadl-generated:
  - emitter: '@azure-tools/cadl-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Contacts
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VoiceServices/communicationsGateways/{communicationsGatewayName}/contacts
  : get:
      tags:
      - Contacts
      operationId: microsoftAzureContactsListbycommunicationsgateway
      description: List Contact resources by CommunicationsGateway
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/CommunicationsGateway.communicationsGatewayName'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ListContactsResource:
          $ref: ./examples/Contacts_ListByCommunicationsGateway.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VoiceServices/communicationsGateways/{communicationsGatewayName}/contacts/{contactName}
  : get:
      tags:
      - Contacts
      operationId: microsoftAzureContactsGet
      description: Get a Contact
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/CommunicationsGateway.communicationsGatewayName'
      - $ref: '#/components/parameters/Contact.contactName'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        GetContactResource:
          $ref: ./examples/Contacts_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Contacts
      operationId: microsoftAzureContactsCreateorupdate
      description: Create a Contact
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/CommunicationsGateway.communicationsGatewayName'
      - $ref: '#/components/parameters/Contact.contactName'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        '201':
          description: ARM create operation completed successfully.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        CreateContactResource:
          $ref: ./examples/Contacts_CreateOrUpdate.json
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
        description: Resource create parameters.
        required: true
    delete:
      tags:
      - Contacts
      operationId: microsoftAzureContactsDelete
      description: Delete a Contact
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/CommunicationsGateway.communicationsGatewayName'
      - $ref: '#/components/parameters/Contact.contactName'
      responses:
        '200':
          description: Resource deleted successfully.
        '202':
          description: Resource deletion accepted.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        '204':
          description: Resource deleted successfully.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        DeleteContactResource:
          $ref: ./examples/Contacts_Delete.json
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    patch:
      tags:
      - Contacts
      operationId: microsoftAzureContactsUpdate
      description: Update a Contact
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/CommunicationsGateway.communicationsGatewayName'
      - $ref: '#/components/parameters/Contact.contactName'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        UpdateContactResource:
          $ref: ./examples/Contacts_Update.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactUpdate'
        description: The resource properties to be updated.
        required: true
components:
  parameters:
    CommunicationsGateway.communicationsGatewayName:
      name: communicationsGatewayName
      in: path
      required: true
      description: Unique identifier for this deployment
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9-]{3,24}$
    Contact.contactName:
      name: contactName
      in: path
      required: true
      description: Unique identifier for this contact
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9-]{3,24}$
  schemas:
    ProvisioningState:
      type: string
      description: Provisioning state of the resource.
      enum:
      - Succeeded
      - Failed
      - Canceled
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    Contact:
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/ContactProperties'
          description: The resource-specific properties for this resource.
          x-ms-mutability:
          - read
          - create
          x-ms-client-flatten: true
      description: A Contact resource
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
    ContactListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Contact'
          x-cadl-name: Contact[]
          description: The Contact items on this page
        nextLink:
          type: string
          description: The link to the next page of items
          x-cadl-name: Rest.ResourceLocation<Contact>
      description: The response of a Contact list operation.
      required:
      - value
    ContactProperties:
      type: object
      properties:
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: Resource provisioning state.
          readOnly: true
        contactName:
          type: string
          description: Full name of contact
          x-ms-mutability:
          - read
          - update
          - create
        phoneNumber:
          type: string
          description: Telephone number of contact
          x-ms-mutability:
          - read
          - update
          - create
        email:
          type: string
          description: Email address of contact
          x-ms-mutability:
          - read
          - update
          - create
        role:
          type: string
          description: Job title of contact
          x-ms-mutability:
          - read
          - update
          - create
      description: Details of the Contact resource.
      required:
      - contactName
      - phoneNumber
      - email
      - role
    ContactUpdate:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          x-cadl-name: Record<string>
          description: Resource tags.
      description: The type used for update operations of the Contact.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
