openapi: 3.2.0
info:
  title: Microsoft Azure ProviderHub Notification Registration API
  description: Microsoft ProviderHub
  version: 2021-09-01-preview
  x-ms-code-generation-settings:
    name: ProviderHubClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: NotificationRegistration
paths:
  ? /subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/notificationRegistrations/{notificationRegistrationName}
  : get:
      tags:
      - NotificationRegistration
      description: Gets the notification registration details.
      operationId: microsoftAzureNotificationregistrationsGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ProviderNamespaceParameter'
      - $ref: '#/components/parameters/GetNotificationRegistrationNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      x-ms-examples:
        NotificationRegistrations_Get:
          $ref: ./examples/NotificationRegistrations_Get.json
      responses:
        '200':
          description: Successfully retrieved the notification registration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationRegistration'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
    put:
      tags:
      - NotificationRegistration
      description: Creates or updates a notification registration.
      operationId: microsoftAzureNotificationregistrationsCreateorupdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ProviderNamespaceParameter'
      - $ref: '#/components/parameters/GetNotificationRegistrationNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      x-ms-examples:
        NotificationRegistrations_CreateOrUpdate:
          $ref: ./examples/NotificationRegistrations_CreateOrUpdate.json
      responses:
        '200':
          description: Successfully created or updated the notification registration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationRegistration'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Providers Microsoft…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationRegistration'
        description: The required body parameters supplied to the notification registration operation.
        required: true
    delete:
      tags:
      - NotificationRegistration
      description: Deletes a notification registration.
      operationId: microsoftAzureNotificationregistrationsDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ProviderNamespaceParameter'
      - $ref: '#/components/parameters/GetNotificationRegistrationNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      x-ms-examples:
        NotificationRegistrations_Delete:
          $ref: ./examples/NotificationRegistrations_Delete.json
      responses:
        '200':
          description: Successfully deleted the notification registration.
        '204':
          description: Resource does not exist.
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Providers Microsoft…
  ? /subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/notificationRegistrations
  : get:
      tags:
      - NotificationRegistration
      description: Gets the list of the notification registrations for the given provider.
      operationId: microsoftAzureNotificationregistrationsListbyproviderregistration
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ProviderNamespaceParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      x-ms-examples:
        NotificationRegistrations_ListByProviderRegistration:
          $ref: ./examples/NotificationRegistrations_ListByProviderRegistration.json
      responses:
        '200':
          description: Successfully retrieved the notification registrations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationRegistrationArrayResponseWithContinuation'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
components:
  schemas:
    ProvisioningState:
      enum:
      - NotSpecified
      - Accepted
      - Running
      - Creating
      - Created
      - Deleting
      - Deleted
      - Canceled
      - Failed
      - Succeeded
      - MovingResources
      - TransientFailure
      - RolloutInProgress
      type: string
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    NotificationRegistrationProperties:
      type: object
      properties:
        notificationMode:
          enum:
          - NotSpecified
          - EventHub
          - WebHook
          type: string
          x-ms-enum:
            name: NotificationMode
            modelAsString: true
        messageScope:
          enum:
          - NotSpecified
          - RegisteredSubscriptions
          type: string
          x-ms-enum:
            name: MessageScope
            modelAsString: true
        includedEvents:
          type: array
          items:
            type: string
        notificationEndpoints:
          type: array
          items:
            $ref: '#/components/schemas/NotificationEndpoint'
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The provisioned state of the resource.
    NotificationRegistration:
      description: The notification registration definition.
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/Resource
      properties:
        properties:
          allOf:
          - $ref: '#/components/schemas/NotificationRegistrationProperties'
        systemData:
          $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/systemData
          readOnly: true
      x-ms-azure-resource: true
    Error:
      description: Standard error object.
      type: object
      properties:
        code:
          description: Server-defined set of error codes.
          type: string
          readOnly: true
        message:
          description: Human-readable representation of the error.
          type: string
          readOnly: true
        target:
          description: Target of the error.
          type: string
          readOnly: true
        details:
          description: Array of details about specific errors that led to this reported error.
          type: array
          items:
            $ref: '#/components/schemas/Error'
          readOnly: true
        innerError:
          description: Object containing more specific information than  the current object about the error.
          allOf:
          - $ref: '#/components/schemas/InnerError'
          readOnly: true
    NotificationEndpoint:
      type: object
      properties:
        notificationDestination:
          type: string
        locations:
          type: array
          items:
            type: string
    InnerError:
      description: Inner error containing list of errors.
      type: object
      properties:
        code:
          description: Specific error code than was provided by the containing error.
          type: string
          readOnly: true
        innerError:
          description: Object containing more specific information than the current object about the error.
          type: object
          readOnly: true
      additionalProperties:
        type: object
    ErrorResponse:
      description: Standard error response.
      type: object
      properties:
        error:
          description: Standard error object.
          allOf:
          - $ref: '#/components/schemas/Error'
    NotificationRegistrationArrayResponseWithContinuation:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/NotificationRegistration'
        nextLink:
          description: The URL to get to the next set of results, if there are any.
          type: string
  parameters:
    ProviderNamespaceParameter:
      in: path
      name: providerNamespace
      description: The name of the resource provider hosted within ProviderHub.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    GetNotificationRegistrationNameParameter:
      in: path
      name: notificationRegistrationName
      description: The notification registration.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
