openapi: 3.2.0
info:
  title: Microsoft Azure ApiManagementClient API Release API
  description: Use these REST APIs for performing operations on Workspace entity and its associated entities within your Azure API Management deployment.
  version: 2023-05-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ApiRelease
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/apis/{apiId}/releases
  : get:
      tags:
      - ApiRelease
      operationId: microsoftAzureWorkspaceapireleaseListbyservice
      description: Lists all releases of an API. An API release is created when making an API Revision current. Releases are also used to rollback to previous revisions. Results will be paged and can be constrained by the $top and $skip parameters.
      x-ms-examples:
        ApiManagementListWorkspaceApiReleases:
          $ref: ./examples/ApiManagementListWorkspaceApiReleases.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdParameter
      - name: $filter
        in: query
        required: false
        description: '|     Field     |     Usage     |     Supported operators     |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>| notes | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |</br>'
        schema:
          type: string
      - $ref: ./apimanagement.json#/parameters/TopQueryParameter
      - $ref: ./apimanagement.json#/parameters/SkipQueryParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The operation returns a list of API Releases.
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/ApiReleaseCollection
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: ./definitions.json#/definitions/ApiReleaseContract
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/apis/{apiId}/releases/{releaseId}
  : head:
      tags:
      - ApiRelease
      operationId: microsoftAzureWorkspaceapireleaseGetentitytag
      description: Returns the etag of an API release.
      x-ms-examples:
        ApiManagementHeadWorkspaceApiRelease:
          $ref: ./examples/ApiManagementHeadWorkspaceApiRelease.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdParameter
      - $ref: ./apimanagement.json#/parameters/ReleaseIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Gets the entity state (Etag) version of the api release as specified by its identifier.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: Microsoft Azure Head Subscriptions Subscriptionid Resourcegroups…
    get:
      tags:
      - ApiRelease
      operationId: microsoftAzureWorkspaceapireleaseGet
      description: Returns the details of an API release.
      x-ms-examples:
        ApiManagementGetWorkspaceApiRelease:
          $ref: ./examples/ApiManagementGetWorkspaceApiRelease.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdParameter
      - $ref: ./apimanagement.json#/parameters/ReleaseIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The operation returns the details of an API Release.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/ApiReleaseContract
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - ApiRelease
      operationId: microsoftAzureWorkspaceapireleaseCreateorupdate
      description: Creates a new Release for the API.
      x-ms-examples:
        ApiManagementCreateWorkspaceApiRelease:
          $ref: ./examples/ApiManagementCreateWorkspaceApiRelease.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdParameter
      - $ref: ./apimanagement.json#/parameters/ReleaseIdParameter
      - $ref: ./apimanagement.json#/parameters/IfMatchOptionalParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Release was successfully updated.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/ApiReleaseContract
        '201':
          description: Release was successfully created.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/ApiReleaseContract
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./definitions.json#/definitions/ApiReleaseContract
        description: Create parameters.
        required: true
    patch:
      tags:
      - ApiRelease
      operationId: microsoftAzureWorkspaceapireleaseUpdate
      description: Updates the details of the release of the API specified by its identifier.
      x-ms-examples:
        ApiManagementUpdateWorkspaceApiRelease:
          $ref: ./examples/ApiManagementUpdateWorkspaceApiRelease.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdParameter
      - $ref: ./apimanagement.json#/parameters/ReleaseIdParameter
      - $ref: ./apimanagement.json#/parameters/IfMatchRequiredParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Release was successfully updated.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/ApiReleaseContract
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./definitions.json#/definitions/ApiReleaseContract
        description: API Release Update parameters.
        required: true
    delete:
      tags:
      - ApiRelease
      operationId: microsoftAzureWorkspaceapireleaseDelete
      description: Deletes the specified release in the API.
      x-ms-examples:
        ApiManagementDeleteWorkspaceApiRelease:
          $ref: ./examples/ApiManagementDeleteWorkspaceApiRelease.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdParameter
      - $ref: ./apimanagement.json#/parameters/ReleaseIdParameter
      - $ref: ./apimanagement.json#/parameters/IfMatchRequiredParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: API release successfully removed
        '204':
          description: API release successfully removed by previous request or does not exist
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-ms-paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/apis/{apiId}?export=true
  : get:
      tags:
      - Apis
      operationId: WorkspaceApiExport_Get
      description: Gets the details of the API specified by its identifier in the format specified to the Storage Blob with SAS Key valid for 5 minutes.
      x-ms-examples:
        ApiManagementGetWorkspaceApiExportInOpenApi2dot0:
          $ref: ./examples/ApiManagementGetWorkspaceApiExportInOpenApi2dot0.json
        ApiManagementGetWorkspaceApiExportInOpenApi3dot0:
          $ref: ./examples/ApiManagementGetWorkspaceApiExportInOpenApi3dot0.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - name: format
        in: query
        required: true
        type: string
        enum:
        - swagger-link
        - wadl-link
        - wsdl-link
        - openapi-link
        - openapi+json-link
        x-ms-enum:
          name: ExportFormat
          modelAsString: true
          values:
          - value: swagger-link
            description: Export the Api Definition in OpenAPI 2.0 Specification as JSON document to the Storage Blob.
            name: Swagger
          - value: wsdl-link
            description: Export the Api Definition in WSDL Schema to Storage Blob. This is only supported for APIs of Type `soap`
            name: Wsdl
          - value: wadl-link
            description: Export the Api Definition in WADL Schema to Storage Blob.
            name: Wadl
          - value: openapi-link
            description: Export the Api Definition in OpenAPI 3.0 Specification as YAML document to Storage Blob.
            name: Openapi
          - value: openapi+json-link
            description: Export the Api Definition in OpenAPI 3.0 Specification as JSON document to Storage Blob.
            name: OpenapiJson
        description: Format in which to export the Api Details to the Storage Blob with Sas Key valid for 5 minutes.
      - name: export
        in: query
        required: true
        type: string
        enum:
        - 'true'
        x-ms-enum:
          modelAsString: true
          name: ExportApi
        description: Query parameter required to export the API details.
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The response contains a stream with a full set of API metadata and includes API entity with an embedded array of operation entities.
          schema:
            $ref: ./definitions.json#/definitions/ApiExportResult
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
