openapi: 3.2.0
info:
  version: 2022-01-01-preview
  title: Microsoft Azure ExtensionsClient Extension Operation Status…
  description: Use these APIs to create extension resources through ARM, for Kubernetes Clusters.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Extension Operation Status
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{clusterRp}/{clusterResourceName}/{clusterName}/providers/Microsoft.KubernetesConfiguration/extensions/{extensionName}/operations/{operationId}
  : get:
      tags:
      - Extension Operation Status
      operationId: microsoftAzureOperationstatusGet
      description: Get Async Operation status
      x-ms-examples:
        ExtensionAsyncOperationStatus Get:
          $ref: ./examples/GetExtensionAsyncOperationStatus.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../common/2022-01-01-preview/parameters.json#/parameters/ClusterRpParameter
      - $ref: ../../common/2022-01-01-preview/parameters.json#/parameters/ClusterResourceNameParameter
      - $ref: ../../common/2022-01-01-preview/parameters.json#/parameters/ClusterNameParameter
      - $ref: '#/components/parameters/ExtensionNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - name: operationId
        in: path
        description: operation Id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Extension Operation Status
          content:
            application/json:
              schema:
                $ref: ../../common/2022-01-01-preview/definitions.json#/definitions/OperationStatusResult
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  parameters:
    ExtensionNameParameter:
      name: extensionName
      in: path
      description: Name of the Extension.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
