openapi: 3.2.0
info:
  version: 2023-11-01-preview
  title: Microsoft Azure Desktop Virtualization API Client App…
servers:
- url: https://management.azure.com
tags:
- name: AppAttachPackageInfo
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/importAppAttachPackageInfo
  : post:
      tags:
      - AppAttachPackageInfo
      operationId: microsoftAzureAppattachpackageinfoImport
      description: Gets information from a package given the path to the package.
      x-ms-examples:
        AppAttachPackageInfo_Import:
          $ref: ./examples/AppAttachPackageInfo_Import_Post.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/HostPoolNameParameter'
      responses:
        '200':
          description: Successfully retrieved packages in specified Image Path.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppAttachPackageList'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportPackageInfoRequest'
        description: Object containing URI to package image and other optional properties
        required: true
components:
  schemas:
    FailHealthCheckOnStagingFailureEnum:
      enum:
      - Unhealthy
      - NeedsAssistance
      - DoNotFail
      x-ms-enum:
        name: failHealthCheckOnStagingFailure
        modelAsString: true
      type: string
      description: Parameter indicating how the health check should behave if this package fails staging
    ProvisioningState:
      type: string
      readOnly: true
      description: The current provisioning state.
      enum:
      - Succeeded
      - Provisioning
      - Failed
      - Canceled
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    AppAttachPackageInfoProperties:
      description: Schema for Import Package Information properties.
      type: object
      properties:
        packageAlias:
          type: string
          description: Alias of App Attach Package. Assigned at import time
        imagePath:
          type: string
          description: VHD/CIM image path on Network Share.
        packageName:
          type: string
          description: 'Package Name from appxmanifest.xml. '
        packageFamilyName:
          type: string
          description: 'Package Family Name from appxmanifest.xml. Contains Package Name and Publisher name. '
        packageFullName:
          type: string
          description: 'Package Full Name from appxmanifest.xml. '
        displayName:
          type:
          - string
          - 'null'
          description: 'User friendly Name to be displayed in the portal. '
        packageRelativePath:
          type: string
          description: 'Relative Path to the package inside the image. '
        isRegularRegistration:
          type: boolean
          description: Specifies how to register Package in feed.
        isActive:
          type: boolean
          description: 'Make this version of the package the active one across the hostpool. '
        packageDependencies:
          type:
          - array
          - 'null'
          description: 'List of package dependencies. '
          items:
            $ref: '#/components/schemas/MsixPackageDependencies'
          x-ms-identifiers: []
        version:
          type: string
          description: 'Package Version found in the appxmanifest.xml. '
        lastUpdated:
          format: date-time
          type: string
          description: 'Date Package was last updated, found in the appxmanifest.xml. '
        packageApplications:
          type: array
          description: 'List of package applications. '
          items:
            $ref: '#/components/schemas/MsixPackageApplications'
          x-ms-identifiers: []
        certificateName:
          type:
          - string
          - 'null'
          description: 'Certificate name found in the appxmanifest.xml. '
        certificateExpiry:
          format: date-time
          type:
          - string
          - 'null'
          description: 'Date certificate expires, found in the appxmanifest.xml. '
        isPackageTimestamped:
          enum:
          - Timestamped
          - NotTimestamped
          x-ms-enum:
            name: packageTimestamped
            modelAsString: true
          type:
          - string
          - 'null'
          description: Is package timestamped so it can ignore the certificate expiry date
    AppAttachPackageList:
      type: object
      title: AppAttachPackageList
      description: List of App Attach Package definitions.
      properties:
        value:
          type: array
          description: List of App Attach Package definitions.
          items:
            $ref: '#/components/schemas/AppAttachPackage'
        nextLink:
          type: string
          readOnly: true
          description: Link to the next page of results.
    MsixPackageApplications:
      description: Schema for MSIX Package Application properties.
      type: object
      properties:
        appId:
          type: string
          description: Package Application Id, found in appxmanifest.xml.
        description:
          type: string
          description: Description of Package Application.
        appUserModelID:
          type: string
          description: Used to activate Package Application. Consists of Package Name and ApplicationID. Found in appxmanifest.xml.
        friendlyName:
          type: string
          description: User friendly name.
        iconImageName:
          type: string
          description: User friendly name.
        rawIcon:
          type: string
          format: byte
          description: the icon a 64 bit string as a byte array.
        rawPng:
          type: string
          format: byte
          description: the icon a 64 bit string as a byte array.
    AppAttachPackage:
      description: Schema for App Attach Package properties.
      type: object
      x-ms-client-flatten: false
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource
      required:
      - properties
      properties:
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: Metadata pertaining to creation and last modification of the resource.
        properties:
          description: Detailed properties for App Attach Package
          $ref: '#/components/schemas/AppAttachPackageProperties'
    AppAttachPackageProperties:
      description: Schema for App Attach Package properties.
      type: object
      properties:
        provisioningState:
          readOnly: true
          $ref: '#/components/schemas/ProvisioningState'
          description: The provisioning state of the App Attach Package.
        image:
          description: Detailed properties for App Attach Package
          $ref: '#/components/schemas/AppAttachPackageInfoProperties'
        hostPoolReferences:
          type: array
          description: List of Hostpool resource Ids.
          items:
            type: string
        keyVaultURL:
          type: string
          description: URL of keyvault location to store certificate
        failHealthCheckOnStagingFailure:
          $ref: '#/components/schemas/FailHealthCheckOnStagingFailureEnum'
          description: Parameter indicating how the health check should behave if this package fails staging
    ImportPackageInfoRequest:
      description: Information to import app attach package
      type: object
      properties:
        path:
          type: string
          description: URI to Image
        packageArchitecture:
          enum:
          - ARM
          - ARM64
          - x86
          - x64
          - Neutral
          - x86a64
          - ALL
          x-ms-enum:
            name: AppAttachPackageArchitectures
            modelAsString: true
          type:
          - string
          - 'null'
          description: Possible device architectures that an app attach package can be configured for
    MsixPackageDependencies:
      description: Schema for MSIX Package Dependencies properties.
      type: object
      properties:
        dependencyName:
          type: string
          description: Name of package dependency.
        publisher:
          type: string
          description: Name of dependency publisher.
        minVersion:
          type: string
          description: Dependency version required.
  parameters:
    HostPoolNameParameter:
      name: hostPoolName
      in: path
      required: true
      description: The name of the host pool within the specified resource group
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 3
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
