openapi: 3.2.0
info:
  version: 2023-03-01-preview
  x-ms-code-generation-settings:
    host: management.azure.com
  title: Microsoft Azure iotDpsClient Dps Certificate API
  description: API for using the Azure IoT Hub Device Provisioning Service features.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: DpsCertificate
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{provisioningServiceName}/certificates/{certificateName}
  : get:
      tags:
      - DpsCertificate
      operationId: microsoftAzureDpscertificateGet
      description: Get the certificate from the provisioning service.
      x-ms-examples:
        DPSGetCertificate:
          $ref: ./examples/DPSGetCertificate.json
      parameters:
      - name: certificateName
        in: path
        required: true
        description: Name of the certificate to retrieve.
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        in: path
        required: true
        description: Resource group identifier.
        schema:
          type: string
      - name: provisioningServiceName
        in: path
        required: true
        description: Name of the provisioning service the certificate is associated with.
        schema:
          type: string
      - name: If-Match
        in: header
        required: false
        description: ETag of the certificate.
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Metadata for the specified certificate.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateResponse'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - DpsCertificate
      summary: Microsoft Azure Upload The Certificate To The Provisioning Service
      description: Add new certificate or update an existing certificate.
      operationId: microsoftAzureDpscertificateCreateorupdate
      x-ms-examples:
        DPSCreateOrUpdateCertificate:
          $ref: ./examples/DPSCertificateCreateOrUpdate.json
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        in: path
        description: Resource group identifier.
        required: true
        schema:
          type: string
      - name: provisioningServiceName
        in: path
        description: The name of the provisioning service.
        required: true
        schema:
          type: string
      - name: certificateName
        in: path
        description: The name of the certificate create or update.
        required: true
        schema:
          type: string
          maxLength: 256
      - name: If-Match
        in: header
        required: false
        description: ETag of the certificate. This is required to update an existing certificate, and ignored while creating a brand new certificate.
        schema:
          type: string
      responses:
        '200':
          description: If certificate already exist and update was successful, the operation returns HTTP status code of 201 (OK).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateResponse'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateResponse'
        description: The certificate body.
        required: true
    delete:
      tags:
      - DpsCertificate
      operationId: microsoftAzureDpscertificateDelete
      summary: Microsoft Azure Delete The Provisioning Service Certificate
      description: Deletes the specified certificate associated with the Provisioning Service
      x-ms-examples:
        DPSDeleteCertificate:
          $ref: ./examples/DPSDeleteCertificate.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        in: path
        required: true
        description: Resource group identifier.
        schema:
          type: string
      - name: If-Match
        in: header
        required: true
        description: ETag of the certificate
        schema:
          type: string
      - name: provisioningServiceName
        in: path
        required: true
        description: The name of the provisioning service.
        schema:
          type: string
      - name: certificateName
        in: path
        required: true
        description: This is a mandatory field, and is the logical name of the certificate that the provisioning service will access by.
        schema:
          type: string
      - name: certificate.name
        in: query
        required: false
        description: This is optional, and it is the Common Name of the certificate.
        schema:
          type: string
      - name: certificate.rawBytes
        in: query
        required: false
        description: Raw data within the certificate.
        schema:
          type: string
          format: byte
      - name: certificate.isVerified
        in: query
        required: false
        description: Indicates if certificate has been verified by owner of the private key.
        schema:
          type: boolean
      - name: certificate.purpose
        in: query
        required: false
        description: A description that mentions the purpose of the certificate.
        x-ms-enum:
          name: CertificatePurpose
          modelAsString: true
        schema:
          type: string
          enum:
          - clientAuthentication
          - serverAuthentication
      - name: certificate.created
        in: query
        description: Time the certificate is created.
        required: false
        schema:
          type: string
          format: date-time
      - name: certificate.lastUpdated
        in: query
        required: false
        description: Time the certificate is last updated.
        schema:
          type: string
          format: date-time
      - name: certificate.hasPrivateKey
        in: query
        required: false
        description: Indicates if the certificate contains a private key.
        schema:
          type: boolean
      - name: certificate.nonce
        in: query
        required: false
        description: Random number generated to indicate Proof of Possession.
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK.
        '204':
          description: No content.
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{provisioningServiceName}/certificates
  : get:
      tags:
      - DpsCertificate
      operationId: microsoftAzureDpscertificateList
      description: Get all the certificates tied to the provisioning service.
      x-ms-examples:
        DPSGetCertificates:
          $ref: ./examples/DPSGetCertificates.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        in: path
        required: true
        description: Name of resource group.
        schema:
          type: string
      - name: provisioningServiceName
        in: path
        required: true
        description: Name of provisioning service to retrieve certificates for.
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: List of certificate descriptions in a JSON-serialized array.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateListDescription'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{provisioningServiceName}/certificates/{certificateName}/generateVerificationCode
  : post:
      tags:
      - DpsCertificate
      operationId: microsoftAzureDpscertificateGenerateverificationcode
      description: Generate verification code for Proof of Possession.
      x-ms-examples:
        DPSGenerateVerificationCode:
          $ref: ./examples/DPSGenerateVerificationCode.json
      parameters:
      - name: certificateName
        in: path
        required: true
        description: The mandatory logical name of the certificate, that the provisioning service uses to access.
        schema:
          type: string
      - name: If-Match
        in: header
        required: true
        description: ETag of the certificate. This is required to update an existing certificate, and ignored while creating a brand new certificate.
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        in: path
        required: true
        description: name of resource group.
        schema:
          type: string
      - name: provisioningServiceName
        in: path
        required: true
        description: Name of provisioning service.
        schema:
          type: string
      - name: certificate.name
        in: query
        required: false
        description: Common Name for the certificate.
        schema:
          type: string
      - name: certificate.rawBytes
        in: query
        required: false
        description: Raw data of certificate.
        schema:
          type: string
          format: byte
      - name: certificate.isVerified
        in: query
        required: false
        description: Indicates if the certificate has been verified by owner of the private key.
        schema:
          type: boolean
      - name: certificate.purpose
        in: query
        required: false
        description: Description mentioning the purpose of the certificate.
        x-ms-enum:
          name: CertificatePurpose
          modelAsString: true
        schema:
          type: string
          enum:
          - clientAuthentication
          - serverAuthentication
      - name: certificate.created
        in: query
        required: false
        description: Certificate creation time.
        schema:
          type: string
          format: date-time
      - name: certificate.lastUpdated
        in: query
        required: false
        description: Certificate last updated time.
        schema:
          type: string
          format: date-time
      - name: certificate.hasPrivateKey
        in: query
        required: false
        description: Indicates if the certificate contains private key.
        schema:
          type: boolean
      - name: certificate.nonce
        in: query
        required: false
        description: Random number generated to indicate Proof of Possession.
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Generated verification code for that certificate is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationCodeResponse'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/provisioningServices/{provisioningServiceName}/certificates/{certificateName}/verify
  : post:
      tags:
      - DpsCertificate
      operationId: microsoftAzureDpscertificateVerifycertificate
      summary: Microsoft Azure Verify Certificate S Private Key Possession
      description: Verifies the certificate's private key possession by providing the leaf cert issued by the verifying pre uploaded certificate.
      x-ms-examples:
        DPSVerifyCertificate:
          $ref: ./examples/DPSVerifyCertificate.json
      parameters:
      - name: certificateName
        in: path
        required: true
        description: The mandatory logical name of the certificate, that the provisioning service uses to access.
        schema:
          type: string
      - name: If-Match
        in: header
        required: true
        description: ETag of the certificate.
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        in: path
        required: true
        description: Resource group name.
        schema:
          type: string
      - name: provisioningServiceName
        in: path
        required: true
        description: Provisioning service name.
        schema:
          type: string
      - name: certificate.name
        in: query
        required: false
        description: Common Name for the certificate.
        schema:
          type: string
      - name: certificate.rawBytes
        in: query
        required: false
        description: Raw data of certificate.
        schema:
          type: string
          format: byte
      - name: certificate.isVerified
        in: query
        required: false
        description: Indicates if the certificate has been verified by owner of the private key.
        schema:
          type: boolean
      - name: certificate.purpose
        in: query
        required: false
        description: Describe the purpose of the certificate.
        x-ms-enum:
          name: CertificatePurpose
          modelAsString: true
        schema:
          type: string
          enum:
          - clientAuthentication
          - serverAuthentication
      - name: certificate.created
        in: query
        required: false
        description: Certificate creation time.
        schema:
          type: string
          format: date-time
      - name: certificate.lastUpdated
        in: query
        required: false
        description: Certificate last updated time.
        schema:
          type: string
          format: date-time
      - name: certificate.hasPrivateKey
        in: query
        required: false
        description: Indicates if the certificate contains private key.
        schema:
          type: boolean
      - name: certificate.nonce
        in: query
        required: false
        description: Random number generated to indicate Proof of Possession.
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateResponse'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerificationCodeRequest'
        description: The name of the certificate
        required: true
components:
  schemas:
    CertificateProperties:
      description: The description of an X509 CA Certificate.
      type: object
      properties:
        subject:
          description: The certificate's subject name.
          type: string
          readOnly: true
        expiry:
          description: The certificate's expiration date and time.
          type: string
          format: date-time-rfc1123
          readOnly: true
        thumbprint:
          description: The certificate's thumbprint.
          type: string
          readOnly: true
        isVerified:
          description: Determines whether certificate has been verified.
          type: boolean
        certificate:
          description: base-64 representation of X509 certificate .cer file or just .pem file content.
          type: string
          format: byte
        created:
          description: The certificate's creation date and time.
          type: string
          format: date-time-rfc1123
          readOnly: true
        updated:
          description: The certificate's last update date and time.
          type: string
          format: date-time-rfc1123
          readOnly: true
    VerificationCodeRequest:
      type: object
      description: The JSON-serialized leaf certificate
      properties:
        certificate:
          description: base-64 representation of X509 certificate .cer file or just .pem file content.
          type: string
    CertificateResponse:
      description: The X509 Certificate.
      type: object
      properties:
        properties:
          description: properties of a certificate
          $ref: '#/components/schemas/CertificateProperties'
        id:
          readOnly: true
          type: string
          description: The resource identifier.
        name:
          description: The name of the certificate.
          type: string
          readOnly: true
        etag:
          description: The entity tag.
          type: string
          readOnly: true
        type:
          readOnly: true
          type: string
          description: The resource type.
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          readOnly: true
      x-ms-azure-resource: true
    ErrorDetails:
      description: Error details.
      type: object
      properties:
        code:
          description: The error code.
          format: int32
          type: integer
          readOnly: true
        httpStatusCode:
          description: The HTTP status code.
          type: string
          readOnly: true
        message:
          description: The error message.
          type: string
          readOnly: true
        details:
          description: The error details.
          type: string
          readOnly: true
    CertificateListDescription:
      description: The JSON-serialized array of Certificate objects.
      type: object
      properties:
        value:
          description: The array of Certificate objects.
          type: array
          items:
            $ref: '#/components/schemas/CertificateResponse'
    VerificationCodeResponse:
      type: object
      description: Description of the response of the verification code.
      properties:
        name:
          type: string
          description: Name of certificate.
          readOnly: true
        etag:
          readOnly: true
          type: string
          description: Request etag.
        id:
          readOnly: true
          type: string
          description: The resource identifier.
        type:
          readOnly: true
          type: string
          description: The resource type.
        properties:
          type: object
          properties:
            verificationCode:
              type: string
              description: Verification code.
            subject:
              type: string
              description: Certificate subject.
            expiry:
              type: string
              description: Code expiry.
            thumbprint:
              type: string
              description: Certificate thumbprint.
            isVerified:
              type: boolean
              description: Indicate if the certificate is verified by owner of private key.
            certificate:
              description: base-64 representation of X509 certificate .cer file or just .pem file content.
              type: string
              format: byte
            created:
              type: string
              description: Certificate created time.
            updated:
              type: string
              description: Certificate updated time.
      x-ms-azure-resource: true
  parameters:
    api-version:
      name: api-version
      in: query
      description: The version of the API.
      required: true
      schema:
        type: string
    subscriptionId:
      name: subscriptionId
      in: path
      description: The subscription identifier.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
