openapi: 3.2.0
info:
  title: Microsoft Azure NetworkResourceProviderClient Express Route…
  description: The Windows Azure Network management API provides a RESTful set of web services that interact with Windows Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Windows Azure Networks service.
  version: 2015-05-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ExpressRouteCircuitAuthorizations
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/authorizations/{authorizationName}
  : delete:
      tags:
      - ExpressRouteCircuitAuthorizations
      operationId: microsoftAzureExpressroutecircuitauthorizationsDelete
      description: The delete authorization operation deletes the specified authorization from the specified ExpressRouteCircuit.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: circuitName
        in: path
        required: true
        description: The name of the express route circuit.
        schema:
          type: string
      - name: authorizationName
        in: path
        required: true
        description: The name of the authorization.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
        '202':
          description: ''
        '204':
          description: ''
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    get:
      tags:
      - ExpressRouteCircuitAuthorizations
      operationId: microsoftAzureExpressroutecircuitauthorizationsGet
      description: The GET authorization operation retrieves the specified authorization from the specified ExpressRouteCircuit.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: circuitName
        in: path
        required: true
        description: The name of the express route circuit.
        schema:
          type: string
      - name: authorizationName
        in: path
        required: true
        description: The name of the authorization.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitAuthorization'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitAuthorization'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - ExpressRouteCircuitAuthorizations
      operationId: microsoftAzureExpressroutecircuitauthorizationsCreateorupdate
      description: The Put Authorization operation creates/updates an authorization in the specified ExpressRouteCircuits
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: circuitName
        in: path
        required: true
        description: The name of the express route circuit.
        schema:
          type: string
      - name: authorizationName
        in: path
        required: true
        description: The name of the authorization.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitAuthorization'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitAuthorization'
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitAuthorization'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCircuitAuthorization'
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpressRouteCircuitAuthorization'
          text/json:
            schema:
              $ref: '#/components/schemas/ExpressRouteCircuitAuthorization'
        description: Parameters supplied to the create/update ExpressRouteCircuitAuthorization operation
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/authorizations
  : get:
      tags:
      - ExpressRouteCircuitAuthorizations
      operationId: microsoftAzureExpressroutecircuitauthorizationsList
      description: The List authorization operation retrieves all the authorizations in an ExpressRouteCircuit.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: circuitName
        in: path
        required: true
        description: The name of the circuit.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/AuthorizationListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    AuthorizationListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ExpressRouteCircuitAuthorization'
          description: Gets the authorizations in an ExpressRoute Circuit
        nextLink:
          type: string
          description: Gets the URL to get the next set of results.
      description: Response for ListAuthorizations Api service callRetrieves all authorizations that belongs to an ExpressRouteCircuit
    AuthorizationPropertiesFormat:
      properties:
        authorizationKey:
          type: string
          description: Gets or sets the authorization key
        authorizationUseStatus:
          type: string
          description: Gets or sets AuthorizationUseStatus
          enum:
          - Available
          - InUse
          x-ms-enum:
            name: AuthorizationUseStatus
            modelAsString: true
        provisioningState:
          type: string
          description: Gets or sets Provisioning state of the PublicIP resource Updating/Deleting/Failed
    ExpressRouteCircuitAuthorization:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/AuthorizationPropertiesFormat'
        name:
          type: string
          description: Gets name of the resource that is unique within a resource group. This name can be used to access the resource
        etag:
          type: string
          description: A unique read-only string that changes whenever the resource is updated
      allOf:
      - $ref: '#/components/schemas/SubResource'
      description: Authorization in a ExpressRouteCircuit resource
    SubResource:
      properties:
        id:
          type: string
          description: Resource Id
      x-ms-azure-resource: true
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
