openapi: 3.2.0
info:
  title: Microsoft Azure Azure Migrate Discovery Service Web App…
  version: 2023-10-01-preview
  description: Azure OffAzure Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: WebAppDiscoverySiteDataSourcesController
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/masterSites/{siteName}/webAppSites/{webAppSiteName}/discoverySiteDataSources
  : get:
      operationId: microsoftAzureWebappdiscoverysitedatasourcescontrollerListbywebappsite
      tags:
      - WebAppDiscoverySiteDataSourcesController
      description: Method to get all Web app data sources in site.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: webAppSiteName
        in: path
        description: Web app site name.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoverySiteDataSourceListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        WebAppDiscoverySiteDataSourcesController_ListByWebAppSite_MaximumSet_Gen:
          $ref: ./examples/WebAppDiscoverySiteDataSourcesController_ListByWebAppSite_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/masterSites/{siteName}/webAppSites/{webAppSiteName}/discoverySiteDataSources/{discoverySiteDataSourceName}
  : get:
      operationId: microsoftAzureWebappdiscoverysitedatasourcescontrollerGet
      tags:
      - WebAppDiscoverySiteDataSourcesController
      description: Method to get a Web app data source in site.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: webAppSiteName
        in: path
        description: Web app site name.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: discoverySiteDataSourceName
        in: path
        description: Data Source ARM name.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoverySiteDataSource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        WebAppDiscoverySiteDataSourcesController_Get_MaximumSet_Gen:
          $ref: ./examples/WebAppDiscoverySiteDataSourcesController_Get_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      operationId: microsoftAzureWebappdiscoverysitedatasourcescontrollerCreate
      tags:
      - WebAppDiscoverySiteDataSourcesController
      description: Method to create or update a Web app data source in site.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: webAppSiteName
        in: path
        description: Web app site name.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: discoverySiteDataSourceName
        in: path
        description: Data Source ARM name.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: ARM update operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoverySiteDataSource'
        '201':
          description: ARM create operation completed successfully.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoverySiteDataSource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      x-ms-examples:
        WebAppDiscoverySiteDataSourcesController_Create_MaximumSet_Gen:
          $ref: ./examples/WebAppDiscoverySiteDataSourcesController_Create_MaximumSet_Gen.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiscoverySiteDataSource'
        description: Resource create parameters.
        required: true
    delete:
      operationId: microsoftAzureWebappdiscoverysitedatasourcescontrollerDelete
      tags:
      - WebAppDiscoverySiteDataSourcesController
      description: Method to delete a Web app data source in site.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: webAppSiteName
        in: path
        description: Web app site name.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: discoverySiteDataSourceName
        in: path
        description: Data Source ARM name.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Resource deleted successfully.
        '202':
          description: Resource deletion accepted.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        '204':
          description: Resource deleted successfully.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      x-ms-examples:
        WebAppDiscoverySiteDataSourcesController_Delete_MaximumSet_Gen:
          $ref: ./examples/WebAppDiscoverySiteDataSourcesController_Delete_MaximumSet_Gen.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    DiscoverySiteDataSourceListResult:
      type: object
      description: The response of a DiscoverySiteDataSource list operation.
      properties:
        value:
          type: array
          description: The DiscoverySiteDataSource items on this page
          items:
            $ref: '#/components/schemas/DiscoverySiteDataSource'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    DiscoverySiteDataSource:
      type: object
      description: Web app data source web model.
      properties:
        properties:
          $ref: '#/components/schemas/DiscoverySiteDataSourceProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
    ProvisioningState:
      type: string
      description: The status of the current operation.
      enum:
      - Created
      - Updated
      - Running
      - Completed
      - Failed
      - Succeeded
      - Canceled
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: Created
          value: Created
          description: Created value.
        - name: Updated
          value: Updated
          description: Updated value.
        - name: Running
          value: Running
          description: Running value.
        - name: Completed
          value: Completed
          description: Completed value.
        - name: Failed
          value: Failed
          description: Failed value.
        - name: Succeeded
          value: Succeeded
          description: Succeeded value.
        - name: Canceled
          value: Canceled
          description: Canceled value.
    DiscoverySiteDataSourceProperties:
      type: object
      description: Discovery site data source properties class.
      properties:
        discoverySiteId:
          type: string
          description: Gets or sets the discovery site Id.
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: provisioning state enum
          readOnly: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
