openapi: 3.2.0
info:
  version: 2018-01-01-preview
  title: Microsoft Azure Management Groups API
  description: 'The Azure Management Groups API enables consolidation of multiple

    subscriptions/resources into an organizational hierarchy and centrally

    manage access control, policies, alerting and reporting for those resources.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ManagementGroups
  description: 'A Management Group is a customer defined scope (grouping mechanism) that

    provides access control (authorization), policy management and reporting.

    Management Groups are organized in a strictly tree-based hierarchy.'
paths:
  /providers/Microsoft.Management/managementGroups:
    get:
      tags:
      - ManagementGroups
      operationId: microsoftAzureManagementgroupsList
      description: List management groups for the authenticated user.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/CacheControlHeader'
      - $ref: '#/components/parameters/SkipTokenParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementGroupListResult'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ListManagementGroups:
          $ref: ./examples/ListManagementGroups.json
      summary: Microsoft Azure Get Providers Microsoft Management Managementgroups
  /providers/Microsoft.Management/managementGroups/{groupId}:
    get:
      tags:
      - ManagementGroups
      operationId: microsoftAzureManagementgroupsGet
      description: Get the details of the management group.
      parameters:
      - $ref: '#/components/parameters/GroupIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/ExpandParameter'
      - $ref: '#/components/parameters/RecurseParameter'
      - $ref: '#/components/parameters/FilterParameter'
      - $ref: '#/components/parameters/CacheControlHeader'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementGroup'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        GetManagementGroup:
          $ref: ./examples/GetManagementGroup.json
        GetManagementGroupWithExpand:
          $ref: ./examples/GetManagementGroupWithExpand.json
        GetManagementGroupsWithExpandAndRecurse:
          $ref: ./examples/GetManagementGroupWithExpandAndRecurse.json
      summary: Microsoft Azure Get Providers Microsoft Management Managementgroups Groupid
    put:
      tags:
      - ManagementGroups
      operationId: microsoftAzureManagementgroupsCreateorupdate
      description: 'Create or update a management group.

        If a management group is already created and a subsequent create request is issued with different properties, the management group properties will be updated.'
      parameters:
      - $ref: '#/components/parameters/GroupIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/CacheControlHeader'
      - $ref: '#/components/parameters/CreateManagementGroupRequestParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementGroup'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResults'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        PutManagementGroup:
          $ref: ./examples/PutManagementGroup.json
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Providers Microsoft Management Managementgroups Groupid
    patch:
      tags:
      - ManagementGroups
      operationId: microsoftAzureManagementgroupsUpdate
      description: Update a management group.
      parameters:
      - $ref: '#/components/parameters/GroupIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/CacheControlHeader'
      - $ref: '#/components/parameters/PatchGroupRequestParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementGroup'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        PatchManagementGroup:
          $ref: ./examples/PatchManagementGroup.json
      summary: Microsoft Azure Patch Providers Microsoft Management Managementgroups Groupid
    delete:
      tags:
      - ManagementGroups
      operationId: microsoftAzureManagementgroupsDelete
      description: 'Delete management group.

        If a management group contains child resources, the request will fail.'
      parameters:
      - $ref: '#/components/parameters/GroupIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/CacheControlHeader'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResults'
        '204':
          description: NoContent
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        DeleteManagementGroup:
          $ref: ./examples/DeleteManagementGroup.json
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Providers Microsoft Management Managementgroups Groupid
  /providers/Microsoft.Management/managementGroups/{groupId}/subscriptions/{subscriptionId}:
    put:
      tags:
      - ManagementGroups
      operationId: microsoftAzureManagementgroupsubscriptionsCreate
      description: Associates existing subscription with the management group.
      parameters:
      - $ref: '#/components/parameters/GroupIdParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/CacheControlHeader'
      responses:
        '204':
          description: NoContent
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        AddSubscriptionToManagementGroup:
          $ref: ./examples/AddManagementGroupSubscription.json
      summary: Microsoft Azure Put Providers Microsoft Management Managementgroups Groupid…
    delete:
      tags:
      - ManagementGroups
      operationId: microsoftAzureManagementgroupsubscriptionsDelete
      description: De-associates subscription from the management group.
      parameters:
      - $ref: '#/components/parameters/GroupIdParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/CacheControlHeader'
      responses:
        '204':
          description: NoContent
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        DeleteSubscriptionFromManagementGroup:
          $ref: ./examples/RemoveManagementGroupSubscription.json
      summary: Microsoft Azure Delete Providers Microsoft Management Managementgroups Groupid…
components:
  schemas:
    CreateManagementGroupChildInfo:
      description: The child information of a management group used during creation.
      properties:
        type:
          title: The type of child resource.
          readOnly: true
          $ref: '#/components/schemas/ManagementGroupChildType'
          description: The fully qualified resource type which includes provider namespace (e.g. /providers/Microsoft.Management/managementGroups)
        id:
          type: string
          readOnly: true
          description: The fully qualified ID for the child resource (management group or subscription).  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
        name:
          type: string
          readOnly: true
          description: The name of the child entity.
        displayName:
          type: string
          readOnly: true
          description: The friendly name of the child resource.
        roles:
          description: The roles definitions associated with the management group.
          readOnly: true
          type: array
          items:
            type: string
        children:
          description: The list of children.
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/CreateManagementGroupChildInfo'
    ManagementGroup:
      description: The management group details.
      x-ms-azure-resource: true
      properties:
        id:
          type: string
          description: The fully qualified ID for the management group.  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
          readOnly: true
        type:
          type: string
          description: The type of the resource.  For example, /providers/Microsoft.Management/managementGroups
          readOnly: true
        name:
          type: string
          description: The name of the management group. For example, 00000000-0000-0000-0000-000000000000
          readOnly: true
        properties:
          title: Properties
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ManagementGroupProperties'
    PatchManagementGroupRequest:
      description: Management group patch parameters.
      type: object
      properties:
        displayName:
          type:
          - string
          - 'null'
          description: The friendly name of the management group.
        parentId:
          type:
          - string
          - 'null'
          description: (Optional) The fully qualified ID for the parent management group.  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
    CreateManagementGroupRequest:
      description: Management group creation parameters.
      type: object
      x-ms-azure-resource: true
      properties:
        id:
          type: string
          description: The fully qualified ID for the management group.  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
          readOnly: true
        type:
          type: string
          description: The type of the resource.  For example, /providers/Microsoft.Management/managementGroups
          readOnly: true
        name:
          type: string
          description: The name of the management group. For example, 00000000-0000-0000-0000-000000000000
        properties:
          title: Properties
          x-ms-client-flatten: true
          $ref: '#/components/schemas/CreateManagementGroupProperties'
    ProvisioningState:
      title: Provisioning State
      type: string
      enum:
      - Updating
      description: The provisioning status.
    ParentGroupInfo:
      description: (Optional) The ID of the parent management group.
      properties:
        id:
          type: string
          description: The fully qualified ID for the parent management group.  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
        name:
          type: string
          description: The name of the parent management group
        displayName:
          type: string
          description: The friendly name of the parent management group.
    ManagementGroupProperties:
      description: The generic properties of a management group.
      type: object
      properties:
        tenantId:
          type: string
          description: The AAD Tenant ID associated with the management group. For example, 00000000-0000-0000-0000-000000000000
        displayName:
          type: string
          description: The friendly name of the management group.
        roles:
          description: The role definitions associated with the management group.
          type:
          - array
          - 'null'
          items:
            type: string
        details:
          title: Details
          $ref: '#/components/schemas/ManagementGroupDetails'
        children:
          description: The list of children.
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ManagementGroupChildInfo'
    CreateParentGroupInfo:
      description: (Optional) The ID of the parent management group used during creation.
      properties:
        id:
          type: string
          description: The fully qualified ID for the parent management group.  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
        name:
          type: string
          readOnly: true
          description: The name of the parent management group
        displayName:
          type: string
          readOnly: true
          description: The friendly name of the parent management group.
    CreateManagementGroupDetails:
      description: The details of a management group used during creation.
      type: object
      properties:
        version:
          type: number
          readOnly: true
          format: int32
          description: The version number of the object.
        updatedTime:
          type: string
          readOnly: true
          format: date-time
          description: The date and time when this object was last updated.
        updatedBy:
          type: string
          readOnly: true
          description: The identity of the principal or process that updated the object.
        parent:
          title: Parent
          $ref: '#/components/schemas/CreateParentGroupInfo'
    ErrorResponse:
      description: The error object.
      properties:
        error:
          title: Error
          $ref: '#/components/schemas/ErrorDetails'
    ManagementGroupChildType:
      type: string
      enum:
      - /providers/Microsoft.Management/managementGroups
      - /subscriptions
      description: The type of child resource.
    OperationResults:
      description: The results of an asynchronous operation.
      properties:
        id:
          type: string
          description: The fully qualified ID for the management group.  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
          readOnly: true
        type:
          type: string
          description: The type of the resource.  For example, /providers/Microsoft.Management/managementGroups
          readOnly: true
        name:
          type: string
          description: The name of the management group. For example, 00000000-0000-0000-0000-000000000000
          readOnly: true
        properties:
          title: Properties
          x-ms-client-flatten: true
          type: object
          properties:
            provisioningState:
              title: Provisioning State
              $ref: '#/components/schemas/ProvisioningState'
    ManagementGroupDetails:
      description: The details of a management group.
      type: object
      properties:
        version:
          type: number
          format: int32
          description: The version number of the object.
        updatedTime:
          type: string
          format: date-time
          description: The date and time when this object was last updated.
        updatedBy:
          type: string
          description: The identity of the principal or process that updated the object.
        parent:
          title: Parent
          $ref: '#/components/schemas/ParentGroupInfo'
    ManagementGroupInfoProperties:
      description: The generic properties of a management group.
      type: object
      properties:
        tenantId:
          type: string
          description: The AAD Tenant ID associated with the management group. For example, 00000000-0000-0000-0000-000000000000
        displayName:
          type: string
          description: The friendly name of the management group.
    ErrorDetails:
      description: The details of the error.
      properties:
        code:
          description: One of a server-defined set of error codes.
          type: string
        message:
          description: A human-readable representation of the error.
          type: string
        details:
          description: A human-readable representation of the error's details.
          type: string
    ManagementGroupListResult:
      description: Describes the result of the request to list management groups.
      properties:
        value:
          description: The list of management groups.
          type: array
          items:
            $ref: '#/components/schemas/ManagementGroupInfo'
        nextLink:
          description: The URL to use for getting the next set of results.
          type: string
          readOnly: true
    ManagementGroupInfo:
      description: The management group resource.
      properties:
        id:
          type: string
          description: The fully qualified ID for the management group.  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
          readOnly: true
        type:
          type: string
          description: The type of the resource. For example, /providers/Microsoft.Management/managementGroups
          readOnly: true
        name:
          type: string
          description: The name of the management group. For example, 00000000-0000-0000-0000-000000000000
          readOnly: true
        properties:
          x-ms-client-flatten: true
          title: Properties
          $ref: '#/components/schemas/ManagementGroupInfoProperties'
    ManagementGroupChildInfo:
      description: The child information of a management group.
      properties:
        type:
          title: The type of child resource.
          $ref: '#/components/schemas/ManagementGroupChildType'
          description: The fully qualified resource type which includes provider namespace (e.g. /providers/Microsoft.Management/managementGroups)
        id:
          type: string
          description: The fully qualified ID for the child resource (management group or subscription).  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000
        name:
          type: string
          description: The name of the child entity.
        displayName:
          type: string
          description: The friendly name of the child resource.
        roles:
          description: The roles definitions associated with the management group.
          type: array
          items:
            type: string
        children:
          description: The list of children.
          type: array
          items:
            $ref: '#/components/schemas/ManagementGroupChildInfo'
    CreateManagementGroupProperties:
      description: The generic properties of a management group used during creation.
      type: object
      properties:
        tenantId:
          type: string
          readOnly: true
          description: The AAD Tenant ID associated with the management group. For example, 00000000-0000-0000-0000-000000000000
        displayName:
          type:
          - string
          - 'null'
          description: The friendly name of the management group. If no value is passed then this  field will be set to the groupId.
        roles:
          description: The roles definitions associated with the management group.
          readOnly: true
          type:
          - array
          - 'null'
          items:
            type: string
        details:
          title: Details
          $ref: '#/components/schemas/CreateManagementGroupDetails'
        children:
          description: The list of children.
          readOnly: true
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CreateManagementGroupChildInfo'
  parameters:
    CreateManagementGroupRequestParameter:
      name: createManagementGroupRequest
      in: body
      required: true
      description: Management group creation parameters.
      schema:
        $ref: '#/components/schemas/CreateManagementGroupRequest'
      x-ms-parameter-location: client
    ExpandParameter:
      name: $expand
      in: query
      required: false
      x-ms-parameter-location: method
      description: The $expand=children query string parameter allows clients to request inclusion of children in the response payload.
      schema:
        type: string
        enum:
        - children
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Version of the API to be used with the client request. The current version is 2018-01-01-preview.
      schema:
        type: string
    PatchGroupRequestParameter:
      name: patchGroupRequest
      in: body
      required: true
      description: Management group patch parameters.
      schema:
        $ref: '#/components/schemas/PatchManagementGroupRequest'
      x-ms-parameter-location: client
    CacheControlHeader:
      name: Cache-Control
      in: header
      description: Indicates that the request shouldn't utilize any caches.
      x-ms-parameter-location: method
      schema:
        type: string
        default: no-cache
    SkipTokenParameter:
      name: $skiptoken
      in: query
      required: false
      description: "Page continuation token is only used if a previous operation returned a partial result. \nIf a previous response contains a nextLink element, the value of the nextLink element will include a token parameter that specifies a starting point to use for subsequent calls.\n"
      x-ms-parameter-location: client
      schema:
        type: string
    GroupIdParameter:
      name: groupId
      in: path
      required: true
      description: Management Group ID.
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Subscription ID.
      x-ms-parameter-location: method
      schema:
        type: string
    RecurseParameter:
      name: $recurse
      in: query
      required: false
      x-ms-parameter-location: method
      description: The $recurse=true query string parameter allows clients to request inclusion of entire hierarchy in the response payload. Note that  $expand=children must be passed up if $recurse is set to true.
      schema:
        type: boolean
    FilterParameter:
      name: $filter
      in: query
      required: false
      description: A filter which allows the exclusion of subscriptions from results (i.e. '$filter=children.childType ne Subscription')
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
