openapi: 3.2.0
info:
  title: Microsoft Azure Resource API
  version: '1.0'
  description: 'Operations tagged Resource across 4 of this provider''s published API definitions: healthcareapisclient-openapi-original.yml, m365securityandcomplianceapis-openapi-original.yml, mixed-reality-openapi-original.yml, securityandcomplianceapis-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Resource
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareApis/services/{resourceName}
  : get:
      tags:
      - Resource
      description: Get the metadata of a service instance.
      operationId: microsoftAzureServicesGet
      x-ms-examples:
        ServiceGet:
          $ref: ./examples/ServiceGet.json
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      responses:
        '200':
          description: The body contains all of the properties of the service instance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicesDescription'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Resource
      description: Create or update the metadata of a service instance.
      operationId: microsoftAzureServicesCreateorupdate
      x-ms-examples:
        ServicePut:
          $ref: ./examples/ServiceCreate.json
      x-ms-long-running-operation: true
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      responses:
        '200':
          description: Updated - Put request accepted and an existing resource is being updated; the operation will complete asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicesDescription'
        '201':
          description: Created - Put request accepted and a new resource was created; the operation will complete asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicesDescription'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServicesDescription'
        description: The service instance metadata.
        required: true
    patch:
      tags:
      - Resource
      description: Update the metadata of a service instance.
      operationId: microsoftAzureServicesUpdate
      x-ms-examples:
        ServicePatch:
          $ref: ./examples/ServicePatch.json
      x-ms-long-running-operation: true
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      responses:
        '200':
          description: The tags for the resource were updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicesDescription'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServicesPatchDescription'
        description: The service instance metadata and security metadata.
        required: true
    delete:
      tags:
      - Resource
      description: Delete a service instance.
      operationId: microsoftAzureServicesDelete
      x-ms-examples:
        ServiceDelete:
          $ref: ./examples/ServiceDelete.json
      x-ms-long-running-operation: true
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      responses:
        '202':
          description: Accepted - Delete request accepted; the operation will complete asynchronously.
        '204':
          description: The resource does not exist.
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/providers/Microsoft.HealthcareApis/locations/{locationName}/operationresults/{operationResultId}
  : get:
      tags:
      - Resource
      description: Get the operation result for a long running operation.
      operationId: microsoftAzureOperationresultsGet
      x-ms-examples:
        OperationResultsGet:
          $ref: ./examples/OperationResultsGet.json
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/locationName'
      - $ref: '#/components/parameters/operationResultId'
      responses:
        '200':
          description: The body contains all of the properties of the operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultsDescription'
        '404':
          description: No operation result was found matching operationResultId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.M365SecurityAndCompliance/privateLinkServicesForSCCPowershell/{resourceName}
  : get:
      tags:
      - Resource
      description: Get the metadata of a privateLinkServicesForSCCPowershell resource.
      operationId: microsoftAzurePrivatelinkservicesforsccpowershellGet
      x-ms-examples:
        Get metadata:
          $ref: ./examples/SCCPowershellServiceGet.json
      parameters:
      - $ref: ./common-types.json#/parameters/ApiVersionParameter
      - $ref: ./common-types.json#/parameters/subscriptionId
      - $ref: ./common-types.json#/parameters/resourceGroupName
      - $ref: ./common-types.json#/parameters/resourceName
      responses:
        '200':
          description: The body contains all of the properties of the privateLinkServicesForSCCPowershell instance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkServicesForSCCPowershellDescription'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: ./common-types.json#/definitions/ErrorDetails
      deprecated: false
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Resource
      description: Create or update the metadata of a privateLinkServicesForSCCPowershell instance.
      operationId: microsoftAzurePrivatelinkservicesforsccpowershellCreateorupdate
      x-ms-examples:
        Create or Update a service with all parameters:
          $ref: ./examples/SCCPowershellServiceCreate.json
        Create or Update a service with minimum parameters:
          $ref: ./examples/SCCPowershellServiceCreateMinimum.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      parameters:
      - $ref: ./common-types.json#/parameters/ApiVersionParameter
      - $ref: ./common-types.json#/parameters/subscriptionId
      - $ref: ./common-types.json#/parameters/resourceGroupName
      - $ref: ./common-types.json#/parameters/resourceName
      responses:
        '200':
          description: OK. Updated - Put request accepted and an existing resource is being updated; the operation will complete asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkServicesForSCCPowershellDescription'
        '201':
          description: Created - Put request accepted and a new resource was created; the operation will complete asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkServicesForSCCPowershellDescription'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: ./common-types.json#/definitions/ErrorDetails
      deprecated: false
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateLinkServicesForSCCPowershellDescription'
        description: The service instance metadata.
        required: true
    patch:
      tags:
      - Resource
      description: Update the metadata of a privateLinkServicesForSCCPowershell instance.
      operationId: microsoftAzurePrivatelinkservicesforsccpowershellUpdate
      x-ms-examples:
        Patch service:
          $ref: ./examples/SCCPowershellServicePatch.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      parameters:
      - $ref: ./common-types.json#/parameters/ApiVersionParameter
      - $ref: ./common-types.json#/parameters/subscriptionId
      - $ref: ./common-types.json#/parameters/resourceGroupName
      - $ref: ./common-types.json#/parameters/resourceName
      responses:
        '200':
          description: OK. The resource was updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkServicesForSCCPowershellDescription'
        '202':
          description: The resource was updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkServicesForSCCPowershellDescription'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: ./common-types.json#/definitions/ErrorDetails
      deprecated: false
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./common-types.json#/definitions/ServicesPatchDescription
        description: The service instance metadata and security metadata.
        required: true
    delete:
      tags:
      - Resource
      description: Delete a service instance.
      operationId: microsoftAzurePrivatelinkservicesforsccpowershellDelete
      x-ms-examples:
        Delete service:
          $ref: ./examples/SCCPowershellServiceDelete.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      parameters:
      - $ref: ./common-types.json#/parameters/ApiVersionParameter
      - $ref: ./common-types.json#/parameters/subscriptionId
      - $ref: ./common-types.json#/parameters/resourceGroupName
      - $ref: ./common-types.json#/parameters/resourceName
      responses:
        '200':
          description: Accepted - Delete request accepted; the operation will complete.
        '202':
          description: Accepted - Delete request accepted; the operation will complete asynchronously.
        '204':
          description: The resource does not exist.
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: ./common-types.json#/definitions/ErrorDetails
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.MixedReality/remoteRenderingAccounts:
    get:
      operationId: microsoftAzureRemoterenderingaccountsListbysubscription
      tags:
      - Resource
      description: List Remote Rendering Accounts by Subscription
      x-ms-examples:
        List remote rendering accounts by subscription:
          $ref: ./examples/remote-rendering/GetBySubscription.json
      parameters:
      - $ref: ./common.json#/parameters/subscriptionIdParameter
      - $ref: ./common.json#/parameters/apiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteRenderingAccountPage'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/CloudError
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/remoteRenderingAccounts
  : get:
      operationId: microsoftAzureRemoterenderingaccountsListbyresourcegroup
      tags:
      - Resource
      description: List Resources by Resource Group
      x-ms-examples:
        List remote rendering accounts by resource group:
          $ref: ./examples/remote-rendering/GetByResourceGroup.json
      parameters:
      - $ref: ./common.json#/parameters/subscriptionIdParameter
      - $ref: ./common.json#/parameters/resourceGroupNameParameter
      - $ref: ./common.json#/parameters/apiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteRenderingAccountPage'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/CloudError
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/remoteRenderingAccounts/{accountName}
  : delete:
      operationId: microsoftAzureRemoterenderingaccountsDelete
      tags:
      - Resource
      description: Delete a Remote Rendering Account.
      x-ms-examples:
        Delete remote rendering account:
          $ref: ./examples/remote-rendering/Delete.json
      parameters:
      - $ref: ./common.json#/parameters/subscriptionIdParameter
      - $ref: ./common.json#/parameters/resourceGroupNameParameter
      - $ref: ./common.json#/parameters/accountNameParameter
      - $ref: ./common.json#/parameters/apiVersionParameter
      responses:
        '200':
          description: OK
        '204':
          description: NoContent
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/CloudError
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    get:
      operationId: microsoftAzureRemoterenderingaccountsGet
      tags:
      - Resource
      description: Retrieve a Remote Rendering Account.
      x-ms-examples:
        Get remote rendering account:
          $ref: ./examples/remote-rendering/Get.json
      parameters:
      - $ref: ./common.json#/parameters/subscriptionIdParameter
      - $ref: ./common.json#/parameters/resourceGroupNameParameter
      - $ref: ./common.json#/parameters/accountNameParameter
      - $ref: ./common.json#/parameters/apiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteRenderingAccount'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/CloudError
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    patch:
      operationId: microsoftAzureRemoterenderingaccountsUpdate
      tags:
      - Resource
      description: Updating a Remote Rendering Account
      x-ms-examples:
        Update remote rendering account:
          $ref: ./examples/remote-rendering/Patch.json
      parameters:
      - $ref: ./common.json#/parameters/subscriptionIdParameter
      - $ref: ./common.json#/parameters/resourceGroupNameParameter
      - $ref: ./common.json#/parameters/accountNameParameter
      - $ref: '#/components/parameters/remoteRenderingAccountParameter'
      - $ref: ./common.json#/parameters/apiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteRenderingAccount'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/CloudError
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
    put:
      operationId: microsoftAzureRemoterenderingaccountsCreate
      tags:
      - Resource
      description: Creating or Updating a Remote Rendering Account.
      x-ms-examples:
        Create remote rendering account:
          $ref: ./examples/remote-rendering/Put.json
      parameters:
      - $ref: ./common.json#/parameters/subscriptionIdParameter
      - $ref: ./common.json#/parameters/resourceGroupNameParameter
      - $ref: ./common.json#/parameters/accountNameParameter
      - $ref: '#/components/parameters/remoteRenderingAccountParameter'
      - $ref: ./common.json#/parameters/apiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteRenderingAccount'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteRenderingAccount'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/CloudError
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecurityAndCompliance/privateLinkServicesForSCCPowershell/{resourceName}
  : get:
      tags:
      - Resource
      description: Get the metadata of a privateLinkServicesForSCCPowershell resource.
      operationId: microsoftAzurePrivatelinkservicesforsccpowershellGet
      x-ms-examples:
        Get metadata:
          $ref: ./examples/SCCPowershellServiceGet.json
      parameters:
      - $ref: ./common-types.json#/parameters/ApiVersionParameter
      - $ref: ./common-types.json#/parameters/subscriptionId
      - $ref: ./common-types.json#/parameters/resourceGroupName
      - $ref: ./common-types.json#/parameters/resourceName
      responses:
        '200':
          description: The body contains all of the properties of the privateLinkServicesForSCCPowershell instance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkServicesForSCCPowershellDescription'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: ./common-types.json#/definitions/ErrorDetails
      deprecated: false
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Resource
      description: Create or update the metadata of a privateLinkServicesForSCCPowershell instance.
      operationId: microsoftAzurePrivatelinkservicesforsccpowershellCreateorupdate
      x-ms-examples:
        Create or Update a service with all parameters:
          $ref: ./examples/SCCPowershellServiceCreate.json
        Create or Update a service with minimum parameters:
          $ref: ./examples/SCCPowershellServiceCreateMinimum.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      parameters:
      - $ref: ./common-types.json#/parameters/ApiVersionParameter
      - $ref: ./common-types.json#/parameters/subscriptionId
      - $ref: ./common-types.json#/parameters/resourceGroupName
      - $ref: ./common-types.json#/parameters/resourceName
      responses:
        '200':
          description: OK. Updated - Put request accepted and an existing resource is being updated; the operation will complete asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkServicesForSCCPowershellDescription'
        '201':
          description: Created - Put request accepted and a new resource was created; the operation will complete asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkServicesForSCCPowershellDescription'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: ./common-types.json#/definitions/ErrorDetails
      deprecated: false
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateLinkServicesForSCCPowershellDescription'
        description: The service instance metadata.
        required: true
    patch:
      tags:
      - Resource
      description: Update the metadata of a privateLinkServicesForSCCPowershell instance.
      operationId: microsoftAzurePrivatelinkservicesforsccpowershellUpdate
      x-ms-examples:
        Patch service:
          $ref: ./examples/SCCPowershellServicePatch.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      parameters:
      - $ref: ./common-types.json#/parameters/ApiVersionParameter
      - $ref: ./common-types.json#/parameters/subscriptionId
      - $ref: ./common-types.json#/parameters/resourceGroupName
      - $ref: ./common-types.json#/parameters/resourceName
      responses:
        '200':
          description: OK. The resource was updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkServicesForSCCPowershellDescription'
        '202':
          description: The resource was updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkServicesForSCCPowershellDescription'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: ./common-types.json#/definitions/ErrorDetails
      deprecated: false
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./common-types.json#/definitions/ServicesPatchDescription
        description: The service instance metadata and security metadata.
        required: true
    delete:
      tags:
      - Resource
      description: Delete a service instance.
      operationId: microsoftAzurePrivatelinkservicesforsccpowershellDelete
      x-ms-examples:
        Delete service:
          $ref: ./examples/SCCPowershellServiceDelete.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      parameters:
      - $ref: ./common-types.json#/parameters/ApiVersionParameter
      - $ref: ./common-types.json#/parameters/subscriptionId
      - $ref: ./common-types.json#/parameters/resourceGroupName
      - $ref: ./common-types.json#/parameters/resourceName
      responses:
        '200':
          description: Accepted - Delete request accepted; the operation will complete.
        '202':
          description: Accepted - Delete request accepted; the operation will complete asynchronously.
        '204':
          description: The resource does not exist.
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: ./common-types.json#/definitions/ErrorDetails
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
components:
  schemas:
    ServiceCorsConfigurationInfo:
      description: The settings for the CORS configuration of the service instance.
      type: object
      properties:
        origins:
          type: array
          description: The origins to be allowed via CORS.
          readOnly: false
          items:
            $ref: '#/components/schemas/ServiceCorsConfigurationOriginEntry'
        headers:
          type: array
          description: The headers to be allowed via CORS.
          readOnly: false
          items:
            $ref: '#/components/schemas/ServiceCorsConfigurationHeaderEntry'
        methods:
          type: array
          description: The methods to be allowed via CORS.
          readOnly: false
          items:
            $ref: '#/components/schemas/ServiceCorsConfigurationMethodEntry'
        maxAge:
          type: integer
          description: The max age to be allowed via CORS.
          readOnly: false
          minimum: 0
          maximum: 99999
        allowCredentials:
          type: boolean
          description: If credentials are allowed via CORS.
          readOnly: false
    ServiceAuthenticationConfigurationInfo:
      description: Authentication configuration information
      type: object
      properties:
        authority:
          type: string
          description: The authority url for the service
          readOnly: false
        audience:
          type: string
          description: The audience url for the service
          readOnly: false
        smartProxyEnabled:
          type: boolean
          description: If the SMART on FHIR proxy is enabled
          readOnly: false
    ServiceCorsConfigurationMethodEntry:
      description: A method for CORS.
      type: string
    ErrorDetailsInternal:
      description: Error details.
      type: object
      properties:
        code:
          description: The error code.
          type: string
          readOnly: true
        message:
          description: The error message.
          type: string
          readOnly: true
        target:
          description: The target of the particular error.
          type: string
          readOnly: true
    ServicesProperties:
      description: The properties of a service instance.
      type: object
      properties:
        provisioningState:
          description: The provisioning state.
          enum:
          - Deleting
          - Succeeded
          - Creating
          - Accepted
          - Verifying
          - Updating
          - Failed
          - Canceled
          - Deprovisioned
          type: string
          readOnly: true
          x-ms-enum:
            name: provisioningState
            modelAsString: true
        accessPolicies:
          $ref: '#/components/schemas/ServiceAccessPoliciesInfo'
          description: The access policies of the service instance.
        cosmosDbConfiguration:
          $ref: '#/components/schemas/ServiceCosmosDbConfigurationInfo'
          description: The settings for the Cosmos DB database backing the service.
        authenticationConfiguration:
          $ref: '#/components/schemas/ServiceAuthenticationConfigurationInfo'
          description: The authentication configuration for the service instance.
        corsConfiguration:
          $ref: '#/components/schemas/ServiceCorsConfigurationInfo'
          description: The settings for the CORS configuration of the service instance.
    ServicesPatchDescription:
      description: The description of the service.
      type: object
      properties:
        tags:
          description: Instance tags
          type: object
          additionalProperties:
            type: string
    ServiceCosmosDbConfigurationInfo:
      description: The settings for the Cosmos DB database backing the service.
      type: object
      properties:
        offerThroughput:
          type: integer
          description: The provisioned throughput for the backing database.
          readOnly: false
          minimum: 400
          maximum: 10000
    OperationResultsDescription:
      description: The properties indicating the operation result of an operation on a service.
      type: object
      properties:
        id:
          description: The ID of the operation returned.
          readOnly: true
          type: string
        name:
          description: The name of the operation result.
          readOnly: true
          type: string
        status:
          description: The status of the operation being performed.
          enum:
          - Canceled
          - Succeeded
          - Failed
          - Requested
          - Running
          readOnly: true
          type: string
          x-ms-enum:
            name: OperationResultStatus
            modelAsString: true
        startTime:
          description: The time that the operation was started.
          readOnly: true
          type: string
        properties:
          x-ms-client-flatten: false
          description: Additional properties of the operation result.
    ServiceCorsConfigurationOriginEntry:
      description: An origin for CORS.
      type: string
      pattern: ^(?:(?:(?:[hH][tT][tT][pP](?:[sS]|))\:\/\/(?:[a-zA-Z0-9-]+[.]?)+(?:\:[0-9]{1,5})?|[*]))$
    Resource:
      description: The common properties of a service.
      properties:
        id:
          readOnly: true
          type: string
          description: The resource identifier.
        name:
          readOnly: true
          type: string
          description: The resource name.
          pattern: ^[a-z0-9][a-z0-9-]{1,21}[a-z0-9]$
        type:
          readOnly: true
          type: string
          description: The resource type.
        kind:
          readOnly: false
          type: string
          description: 'The kind of the service. Valid values are: fhir, fhir-Stu3 and fhir-R4.'
          enum:
          - fhir
          - fhir-Stu3
          - fhir-R4
          x-ms-enum:
            name: kind
            modelAsString: false
        location:
          type: string
          description: The resource location.
          x-ms-mutability:
          - create
          - read
        tags:
          type: object
          additionalProperties:
            type: string
          description: The resource tags.
        etag:
          description: An etag associated with the resource, used for optimistic concurrency when editing it.
          type: string
        identity:
          type: object
          description: Setting indicating whether the service has a managed identity associated with it.
          properties:
            principalId:
              readOnly: true
              type: string
              description: The principal ID of the resource identity.
            tenantId:
              readOnly: true
              type: string
              description: The tenant ID of the resource.
            type:
              description: Type of identity being specified, currently SystemAssigned and None are allowed.
              type: string
              enum:
              - SystemAssigned
              - None
              x-ms-enum:
                name: ManagedServiceIdentityType
                modelAsString: true
      x-ms-azure-resource: true
      required:
      - location
      - kind
    ServiceCorsConfigurationHeaderEntry:
      description: A header for CORS.
      type: string
    ErrorDetails:
      description: Error details.
      type: object
      properties:
        error:
          description: Object containing error details.
          $ref: '#/components/schemas/ErrorDetailsInternal'
    ServiceAccessPolicyEntry:
      description: An access policy entry.
      properties:
        objectId:
          description: An object ID that is allowed access to the FHIR service.
          type: string
          pattern: ^(([0-9A-Fa-f]{8}[-]?(?:[0-9A-Fa-f]{4}[-]?){3}[0-9A-Fa-f]{12}){1})+$
      required:
      - objectId
    ServicesDescription:
      description: The description of the service.
      type: object
      properties:
        properties:
          x-ms-client-flatten: false
          description: The common properties of a service.
          $ref: '#/components/schemas/ServicesProperties'
      allOf:
      - $ref: '#/components/schemas/Resource'
    ServiceAccessPoliciesInfo:
      description: The access policies of the service instance.
      type: array
      items:
        $ref: '#/components/schemas/ServiceAccessPolicyEntry'
    PrivateLinkServicesForSCCPowershellDescription:
      description: The description of the service.
      type: object
      properties:
        properties:
          x-ms-client-flatten: false
          description: The common properties of a service.
          $ref: ./common-types.json#/definitions/ServicesProperties
      allOf:
      - $ref: ./common-types.json#/definitions/ServicesResource
    RemoteRenderingAccount:
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource
      description: RemoteRenderingAccount Response.
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          description: Property bag.
          $ref: ./common.json#/definitions/MixedRealityAccountProperties
        identity:
          description: The identity associated with this account
          $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/Identity
        plan:
          description: The plan associated with this account
          $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/Identity
        sku:
          description: The sku associated with this account
          $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/Sku
        kind:
          description: The kind of account, if supported
          $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/Sku
        systemData:
          description: System metadata for this account
          $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/systemData
    RemoteRenderingAccountPage:
      description: Result of the request to get resource collection. It contains a list of resources and a URL link to get the next set of results.
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/RemoteRenderingAccount'
          description: List of resources supported by the Resource Provider.
        nextLink:
          type: string
          description: URL to get the next set of resource list results if there are any.
  parameters:
    api-version:
      name: api-version
      in: query
      description: The version of the API.
      required: true
      schema:
        type: string
        enum:
        - 2018-08-20-preview
        minLength: 10
    locationName:
      name: locationName
      in: path
      description: The location of the operation.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    operationResultId:
      name: operationResultId
      in: path
      description: The ID of the operation result to get.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    subscriptionId:
      name: subscriptionId
      in: path
      description: The subscription identifier.
      required: true
      schema:
        type: string
    resourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the service instance.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
        pattern: ^[-\w\._\(\)]+$
    resourceName:
      name: resourceName
      in: path
      description: The name of the service instance.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 24
        minLength: 3
    remoteRenderingAccountParameter:
      name: remoteRenderingAccount
      description: Remote Rendering Account parameter.
      in: body
      schema:
        $ref: '#/components/schemas/RemoteRenderingAccount'
      required: true
      x-ms-parameter-location: method
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- healthcareapisclient-openapi-original.yml
- m365securityandcomplianceapis-openapi-original.yml
- mixed-reality-openapi-original.yml
- securityandcomplianceapis-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
