openapi: 3.2.0
info:
  title: Microsoft Azure Azure Log Analytics - Operations Management…
  description: Azure Log Analytics API reference for Solution.
  version: 2015-11-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Solution
paths:
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationsManagement/solutions/{solutionName}
  : put:
      tags:
      - Solution
      x-ms-examples:
        SolutionCreate:
          $ref: ./examples/SolutionCreate.json
      x-ms-long-running-operation: true
      operationId: microsoftAzureSolutionsCreateorupdate
      summary: Microsoft Azure Create Update Solution
      description: Creates or updates the Solution.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SolutionNameParameter'
      responses:
        '201':
          description: Created response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Solution'
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeMessageError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Solution'
        description: The parameters required to create OMS Solution.
        required: true
    patch:
      tags:
      - Solution
      x-ms-examples:
        SolutionUpdate:
          $ref: ./examples/SolutionUpdate.json
      x-ms-long-running-operation: true
      operationId: microsoftAzureSolutionsUpdate
      summary: Microsoft Azure Patch A Solution
      description: Patch a Solution. Only updating tags supported.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SolutionNameParameter'
      responses:
        '200':
          description: Patch succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Solution'
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeMessageError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SolutionPatch'
        description: The parameters required to patch a Solution.
        required: true
    delete:
      tags:
      - Solution
      x-ms-examples:
        SolutionDelete:
          $ref: ./examples/SolutionDelete.json
      x-ms-long-running-operation: true
      operationId: microsoftAzureSolutionsDelete
      summary: Microsoft Azure Deletes The Solution
      description: Deletes the solution in the subscription.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/SolutionNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK response definition.
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeMessageError'
    get:
      tags:
      - Solution
      operationId: microsoftAzureSolutionsGet
      x-ms-examples:
        SolutionGet:
          $ref: ./examples/SolutionGet.json
      summary: Microsoft Azure Retrieve Solution
      description: Retrieves the user solution.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/SolutionNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Solution'
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeMessageError'
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationsManagement/solutions:
    get:
      tags:
      - Solution
      operationId: microsoftAzureSolutionsListbyresourcegroup
      x-ms-examples:
        SolutionList:
          $ref: ./examples/SolutionList.json
      summary: Microsoft Azure Retrieves The Solution List For The Subscription
      description: Retrieves the solution list. It will retrieve both first party and third party solutions
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolutionPropertiesList'
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeMessageError'
  /subscriptions/{subscriptionId}/providers/Microsoft.OperationsManagement/solutions:
    get:
      tags:
      - Solution
      operationId: microsoftAzureSolutionsListbysubscription
      x-ms-examples:
        SolutionList:
          $ref: ./examples/SolutionListForSubscription.json
      summary: Microsoft Azure Retrieves The Solution List For The Subscription
      description: Retrieves the solution list. It will retrieve both first party and third party solutions
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolutionPropertiesList'
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeMessageError'
components:
  schemas:
    CodeMessageError:
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: The error type.
            message:
              type: string
              description: The error message.
          description: The error details for a failed request.
      description: The error body contract.
    SolutionPropertiesList:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Solution'
          description: List of solution properties within the subscription.
      description: the list of solution response
    SolutionPlan:
      description: Plan for solution object supported by the OperationsManagement resource provider.
      properties:
        name:
          type: string
          description: name of the solution to be created. For Microsoft published solution it should be in the format of solutionType(workspaceName). SolutionType part is case sensitive. For third party solution, it can be anything.
        publisher:
          type: string
          description: Publisher name. For gallery solution, it is Microsoft.
        promotionCode:
          type: string
          description: promotionCode, Not really used now, can you left as empty
        product:
          type: string
          description: name of the solution to enabled/add. For Microsoft published gallery solution it should be in the format of OMSGallery/<solutionType>. This is case sensitive
    SolutionPatch:
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
      description: The properties of a Solution that can be patched.
      x-ms-azure-resource: true
    Solution:
      properties:
        id:
          readOnly: true
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
        location:
          type: string
          description: Resource location
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
        plan:
          description: Plan for solution object supported by the OperationsManagement resource provider.
          $ref: '#/components/schemas/SolutionPlan'
        properties:
          description: Properties for solution object supported by the OperationsManagement resource provider.
          $ref: '#/components/schemas/SolutionProperties'
      description: The container for solution.
      x-ms-azure-resource: true
    SolutionProperties:
      description: Solution properties supported by the OperationsManagement resource provider.
      properties:
        workspaceResourceId:
          type: string
          description: The azure resourceId for the workspace where the solution will be deployed/enabled.
        provisioningState:
          type: string
          description: The provisioning state for the solution.
          readOnly: true
        containedResources:
          type: array
          items:
            type: string
            description: the azure resourceId of the resource.
          description: The azure resources that will be contained within the solutions. They will be locked and gets deleted automatically when the solution is deleted.
        referencedResources:
          type: array
          items:
            type: string
            description: the azure resourceId of the resource.
          description: The resources that will be referenced from this solution. Deleting any of those solution out of band will break the solution.
      required:
      - workspaceResourceId
      x-ms-azure-resource: true
  parameters:
    SolutionNameParameter:
      x-ms-parameter-location: method
      name: solutionName
      in: path
      required: true
      description: User Solution Name.
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The name of the resource group to get. The name is case insensitive.
      schema:
        type: string
        maxLength: 90
        minLength: 1
        pattern: ^[-\w\._\(\)]+$
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
