openapi: 3.2.0
info:
  version: '2023-06-01'
  title: Microsoft Azure SiteRecoveryManagementClient Replication…
  x-ms-code-generation-settings:
    header: MICROSOFT_MIT_NO_VERSION
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ReplicationJobs
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationJobs
  : get:
      tags:
      - ReplicationJobs
      summary: Microsoft Azure Gets The List Of Jobs
      description: Gets the list of Azure Site Recovery Jobs for the vault.
      operationId: microsoftAzureReplicationjobsList
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: $filter
        in: query
        description: OData filter options.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobCollection'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/JobQueryParameter'
      x-ms-examples:
        Gets the list of jobs.:
          $ref: ./examples/ReplicationJobs_List.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationJobs/{jobName}
  : get:
      tags:
      - ReplicationJobs
      summary: Microsoft Azure Gets The Job Details
      description: Get the details of an Azure Site Recovery job.
      operationId: microsoftAzureReplicationjobsGet
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: jobName
        in: path
        description: Job identifier.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
      x-ms-examples:
        Gets the job details.:
          $ref: ./examples/ReplicationJobs_Get.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationJobs/{jobName}/cancel
  : post:
      tags:
      - ReplicationJobs
      summary: Microsoft Azure Cancels The Specified Job
      description: The operation to cancel an Azure Site Recovery job.
      operationId: microsoftAzureReplicationjobsCancel
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: jobName
        in: path
        description: Job identifier.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '202':
          description: Accepted
      x-ms-long-running-operation: true
      x-ms-examples:
        Cancels the specified job.:
          $ref: ./examples/ReplicationJobs_Cancel.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationJobs/{jobName}/restart
  : post:
      tags:
      - ReplicationJobs
      summary: Microsoft Azure Restarts The Specified Job
      description: The operation to restart an Azure Site Recovery job.
      operationId: microsoftAzureReplicationjobsRestart
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: jobName
        in: path
        description: Job identifier.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '202':
          description: Accepted
      x-ms-long-running-operation: true
      x-ms-examples:
        Restarts the specified job.:
          $ref: ./examples/ReplicationJobs_Restart.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationJobs/{jobName}/resume
  : post:
      tags:
      - ReplicationJobs
      summary: Microsoft Azure Resumes The Specified Job
      description: The operation to resume an Azure Site Recovery job.
      operationId: microsoftAzureReplicationjobsResume
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: jobName
        in: path
        description: Job identifier.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '202':
          description: Accepted
      x-ms-long-running-operation: true
      x-ms-examples:
        Resumes the specified job.:
          $ref: ./examples/ReplicationJobs_Resume.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResumeJobParams'
        description: Resume rob comments.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationJobs/export
  : post:
      tags:
      - ReplicationJobs
      summary: Microsoft Azure Exports The Details Of The Azure Site Recovery Jobs Of The Vault
      description: The operation to export the details of the Azure Site Recovery jobs of the vault.
      operationId: microsoftAzureReplicationjobsExport
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '202':
          description: Accepted
      x-ms-long-running-operation: true
      x-ms-examples:
        Exports the details of the Azure Site Recovery jobs of the vault.:
          $ref: ./examples/ReplicationJobs_Export.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobQueryParameter'
        description: job query filter.
        required: true
components:
  schemas:
    JobErrorDetails:
      description: This class contains the error details per object.
      type: object
      properties:
        serviceErrorDetails:
          $ref: '#/components/schemas/ServiceError'
          description: The Service error details.
        providerErrorDetails:
          $ref: '#/components/schemas/ProviderError'
          description: The Provider error details.
        errorLevel:
          description: Error level of error.
          type: string
        creationTime:
          format: date-time
          description: The creation time of job error.
          type: string
        taskId:
          description: The Id of the task.
          type: string
    JobProperties:
      description: Job custom data details.
      type: object
      properties:
        activityId:
          description: The activity id.
          type: string
        scenarioName:
          description: The ScenarioName.
          type: string
        friendlyName:
          description: The DisplayName.
          type: string
        state:
          description: The status of the Job. It is one of these values - NotStarted, InProgress, Succeeded, Failed, Cancelled, Suspended or Other.
          type: string
        stateDescription:
          description: The description of the state of the Job. For e.g. - For Succeeded state, description can be Completed, PartiallySucceeded, CompletedWithInformation or Skipped.
          type: string
        tasks:
          description: The tasks.
          type: array
          items:
            $ref: '#/components/schemas/ASRTask'
        errors:
          description: The errors.
          type: array
          items:
            $ref: '#/components/schemas/JobErrorDetails'
        startTime:
          format: date-time
          description: The start time.
          type: string
        endTime:
          format: date-time
          description: The end time.
          type: string
        allowedActions:
          description: The Allowed action the job.
          type: array
          items:
            type: string
        targetObjectId:
          description: The affected Object Id.
          type: string
        targetObjectName:
          description: The name of the affected object.
          type: string
        targetInstanceType:
          description: The type of the affected object which is of Microsoft.Azure.SiteRecovery.V2015_11_10.AffectedObjectType class.
          type: string
        customDetails:
          $ref: '#/components/schemas/JobDetails'
          description: The custom job details like test failover job details.
    ServiceError:
      description: ASR error model.
      type: object
      properties:
        code:
          description: Error code.
          type: string
        message:
          description: Error message.
          type: string
        possibleCauses:
          description: Possible causes of error.
          type: string
        recommendedAction:
          description: Recommended action to resolve error.
          type: string
        activityId:
          description: Activity Id.
          type: string
    ProviderError:
      description: This class contains the error details per object.
      type: object
      properties:
        errorCode:
          format: int32
          description: The Error code.
          type: integer
        errorMessage:
          description: The Error message.
          type: string
        errorId:
          description: The Provider error Id.
          type: string
        possibleCauses:
          description: The possible causes for the error.
          type: string
        recommendedAction:
          description: The recommended action to resolve the error.
          type: string
    JobCollection:
      description: Collection of jobs.
      type: object
      properties:
        value:
          description: The list of jobs.
          type: array
          items:
            $ref: '#/components/schemas/Job'
        nextLink:
          description: The value of next link.
          type: string
    JobQueryParameter:
      description: Query parameter to enumerate jobs.
      type: object
      properties:
        startTime:
          description: Date time to get jobs from.
          type: string
        endTime:
          description: Date time to get jobs upto.
          type: string
        fabricId:
          description: The Id of the fabric to search jobs under.
          type: string
        affectedObjectTypes:
          description: The type of objects.
          type: string
        jobStatus:
          description: The states of the job to be filtered can be in.
          type: string
        jobOutputType:
          description: The output type of the jobs.
          enum:
          - Json
          - Xml
          - Excel
          type: string
          x-ms-enum:
            name: ExportJobOutputSerializationType
            modelAsString: true
        jobName:
          description: The job Name.
          type: string
        timezoneOffset:
          format: double
          description: The timezone offset for the location of the request (in minutes).
          type: number
    TaskTypeDetails:
      description: Task details based on specific task type.
      required:
      - instanceType
      type: object
      properties:
        instanceType:
          description: The type of task details.
          type: string
      discriminator:
        propertyName: instanceType
    ASRTask:
      description: Task of the Job.
      type: object
      properties:
        taskId:
          description: The Id.
          type: string
        name:
          description: The unique Task name.
          type: string
        startTime:
          format: date-time
          description: The start time.
          type: string
        endTime:
          format: date-time
          description: The end time.
          type: string
        allowedActions:
          description: The state/actions applicable on this task.
          type: array
          items:
            type: string
        friendlyName:
          description: The name.
          type: string
        state:
          description: The State. It is one of these values - NotStarted, InProgress, Succeeded, Failed, Cancelled, Suspended or Other.
          type: string
        stateDescription:
          description: The description of the task state. For example - For Succeeded state, description can be Completed, PartiallySucceeded, CompletedWithInformation or Skipped.
          type: string
        taskType:
          description: The type of task. Details in CustomDetails property depend on this type.
          type: string
        customDetails:
          $ref: '#/components/schemas/TaskTypeDetails'
          description: The custom task details based on the task type.
        groupTaskCustomDetails:
          $ref: '#/components/schemas/GroupTaskDetails'
          description: The custom task details based on the task type, if the task type is GroupTaskDetails or one of the types derived from it.
        errors:
          description: The task error details.
          type: array
          items:
            $ref: '#/components/schemas/JobErrorDetails'
    ResumeJobParamsProperties:
      description: Resume job properties.
      type: object
      properties:
        comments:
          description: Resume job comments.
          type: string
    GroupTaskDetails:
      description: This class represents the group task details when parent child relationship exists in the drill down.
      required:
      - instanceType
      type: object
      properties:
        instanceType:
          description: The type of task details.
          type: string
        childTasks:
          description: The child tasks.
          type: array
          items:
            $ref: '#/components/schemas/ASRTask'
      discriminator:
        propertyName: instanceType
    Resource:
      description: Azure resource.
      type: object
      properties:
        id:
          description: Resource Id
          type: string
          readOnly: true
        name:
          description: Resource Name
          type: string
          readOnly: true
        type:
          description: Resource Type
          type: string
          readOnly: true
        location:
          description: Resource Location
          type: string
      x-ms-azure-resource: true
    Job:
      description: Job details.
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/JobProperties'
          description: The custom data.
    ResumeJobParams:
      description: Resume job params.
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/ResumeJobParamsProperties'
          description: Resume job properties.
    JobDetails:
      description: Job details based on specific job type.
      required:
      - instanceType
      type: object
      properties:
        instanceType:
          description: Gets the type of job details (see JobDetailsTypes enum for possible values).
          type: string
        affectedObjectDetails:
          description: The affected object properties like source server, source cloud, target server, target cloud etc. based on the workflow object details.
          type: object
          additionalProperties:
            type: string
      discriminator:
        propertyName: instanceType
  parameters:
    ResourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group where the recovery services vault is present.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    SubscriptionId:
      name: subscriptionId
      in: path
      description: The subscription Id.
      required: true
      schema:
        type: string
    ApiVersion:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
    ResourceName:
      name: resourceName
      in: path
      description: The name of the recovery services vault.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account.
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
