openapi: 3.2.0
info:
  title: Microsoft Azure Configurations API
  version: '1.0'
  description: 'Operations tagged Configurations across 3 of this provider''s published API definitions: azure-cosmos-db-for-postgresql-openapi-original.yml, hyperscalecitusmanagementclient-openapi-original.yml, mariadbmanagementclient-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Configurations
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/serverGroupsv2/{clusterName}/servers/{serverName}/configurations
  : get:
      description: List all the configurations of a server in cluster.
      tags:
      - Configurations
      operationId: microsoftAzureConfigurationsListbyserver
      x-ms-examples:
        List configurations of the server that in the cluster:
          $ref: ./examples/ConfigurationListByServer.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ClusterNameParameter'
      - $ref: '#/components/parameters/ServerNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerConfigurationListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/serverGroupsv2/{clusterName}/configurations
  : get:
      description: List all the configurations of a cluster.
      tags:
      - Configurations
      operationId: microsoftAzureConfigurationsListbycluster
      x-ms-examples:
        List configurations of the cluster:
          $ref: ./examples/ConfigurationListByCluster.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ClusterNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterConfigurationListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/serverGroupsv2/{clusterName}/configurations/{configurationName}
  : get:
      description: Gets information of a configuration for coordinator and nodes.
      tags:
      - Configurations
      operationId: microsoftAzureConfigurationsGet
      x-ms-examples:
        Get configuration details.:
          $ref: ./examples/ConfigurationGet.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ClusterNameParameter'
      - $ref: '#/components/parameters/ConfigurationNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Configuration'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/serverGroupsv2/{clusterName}/coordinatorConfigurations/{configurationName}
  : get:
      description: Gets information of a configuration for coordinator.
      tags:
      - Configurations
      operationId: microsoftAzureConfigurationsGetcoordinator
      x-ms-examples:
        Get configuration details for coordinator.:
          $ref: ./examples/ConfigurationGetCoordinator.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ClusterNameParameter'
      - $ref: '#/components/parameters/ConfigurationNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerConfiguration'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      description: Updates configuration of coordinator in a cluster
      tags:
      - Configurations
      operationId: microsoftAzureConfigurationsUpdateoncoordinator
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        Update single configuration of coordinator:
          $ref: ./examples/ConfigurationUpdateCoordinator.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ClusterNameParameter'
      - $ref: '#/components/parameters/ConfigurationNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerConfiguration'
        '201':
          description: Accepted
          headers:
            location:
              schema:
                type: string
            azure-async-operation:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerConfiguration'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerConfiguration'
        description: The required parameters for updating a cluster configuration.
        required: true
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/serverGroupsv2/{clusterName}/nodeConfigurations/{configurationName}
  : get:
      description: Gets information of a configuration for worker nodes.
      tags:
      - Configurations
      operationId: microsoftAzureConfigurationsGetnode
      x-ms-examples:
        Get configuration details for node.:
          $ref: ./examples/ConfigurationGetNode.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ClusterNameParameter'
      - $ref: '#/components/parameters/ConfigurationNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerConfiguration'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      description: Updates configuration of worker nodes in a cluster
      tags:
      - Configurations
      operationId: microsoftAzureConfigurationsUpdateonnode
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        Update single configuration of nodes:
          $ref: ./examples/ConfigurationUpdateNode.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ClusterNameParameter'
      - $ref: '#/components/parameters/ConfigurationNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerConfiguration'
        '201':
          description: Accepted
          headers:
            location:
              schema:
                type: string
            azure-async-operation:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerConfiguration'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerConfiguration'
        description: The required parameters for updating a cluster configuration.
        required: true
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBForPostgreSql/serverGroupsv2/{serverGroupName}/servers/{serverName}/configurations
  : get:
      description: List all the configurations of a server in server group.
      tags:
      - Configurations
      operationId: microsoftAzureConfigurationsListbyserver
      x-ms-examples:
        List configurations of the server that in the server group:
          $ref: ./examples/ConfigurationListByServer.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ServerGroupNameParameter'
      - $ref: '#/components/parameters/ServerNameParameter_2'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerConfigurationListResult_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBForPostgreSql/serverGroupsv2/{serverGroupName}/configurations
  : get:
      description: List all the configurations of a server group.
      tags:
      - Configurations
      operationId: microsoftAzureConfigurationsListbyservergroup
      x-ms-examples:
        List configurations of the server group:
          $ref: ./examples/ConfigurationListByServerGroup.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ServerGroupNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerGroupConfigurationListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBForPostgreSql/serverGroupsv2/{serverGroupName}/configurations/{configurationName}
  : patch:
      description: Updates configuration of server role groups in a server group
      tags:
      - Configurations
      operationId: microsoftAzureConfigurationsUpdate
      x-ms-long-running-operation: true
      x-ms-examples:
        Update single configuration of the server group:
          $ref: ./examples/ConfigurationUpdate.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ServerGroupNameParameter'
      - $ref: '#/components/parameters/ConfigurationNameParameter_2'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerGroupConfiguration'
        '202':
          description: Accepted
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerGroupConfiguration'
        description: The required parameters for updating a server group configuration.
        required: true
    get:
      description: Gets information about single server group configuration.
      tags:
      - Configurations
      operationId: microsoftAzureConfigurationsGet
      x-ms-examples:
        Get single configuration of the server group:
          $ref: ./examples/ConfigurationGet.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ServerGroupNameParameter'
      - $ref: '#/components/parameters/ConfigurationNameParameter_2'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerGroupConfiguration'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/configurations/{configurationName}
  : put:
      tags:
      - Configurations
      operationId: microsoftAzureConfigurationsCreateorupdate
      x-ms-examples:
        ConfigurationCreateOrUpdate:
          $ref: ./examples/ConfigurationCreateOrUpdate.json
      description: Updates a configuration of a server.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/ServerNameParameter_3'
      - $ref: '#/components/parameters/ConfigurationNameParameter_3'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Configuration_2'
        '202':
          description: Accepted
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Configuration_2'
        description: The required parameters for updating a server configuration.
        required: true
    get:
      tags:
      - Configurations
      operationId: microsoftAzureConfigurationsGet
      x-ms-examples:
        ConfigurationGet:
          $ref: ./examples/ConfigurationGet.json
      description: Gets information about a configuration of server.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/ServerNameParameter_3'
      - $ref: '#/components/parameters/ConfigurationNameParameter_3'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Configuration_2'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/configurations
  : get:
      tags:
      - Configurations
      operationId: microsoftAzureConfigurationsListbyserver
      x-ms-examples:
        ConfigurationList:
          $ref: ./examples/ConfigurationListByServer.json
      description: List all the configurations in a given server.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/ServerNameParameter_3'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationListResult'
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
components:
  schemas:
    ServerConfiguration:
      description: Represents a configuration.
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/ProxyResource
      properties:
        properties:
          $ref: '#/components/schemas/ServerConfigurationProperties'
          description: The properties of a configuration.
          x-ms-client-flatten: true
    ConfigurationProperties:
      description: The properties of configuration.
      type: object
      properties:
        description:
          type: string
          description: Description of the configuration.
          readOnly: true
        dataType:
          type: string
          description: Data type of the configuration.
          enum:
          - Boolean
          - Numeric
          - Integer
          - Enumeration
          x-ms-enum:
            name: ConfigurationDataType
            modelAsString: true
          readOnly: true
        allowedValues:
          type: string
          description: Allowed values of the configuration.
          readOnly: true
        requiresRestart:
          type: boolean
          description: If configuration change requires restart.
        serverRoleGroupConfigurations:
          type: array
          description: The list of server role group configuration values.
          items:
            $ref: '#/components/schemas/ServerRoleGroupConfiguration'
          x-ms-identifiers: []
          uniqueItems: true
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: Provisioning state of the configuration
          readOnly: true
      required:
      - serverRoleGroupConfigurations
    ProvisioningState:
      type: string
      readOnly: true
      description: The current provisioning state.
      enum:
      - Succeeded
      - Canceled
      - InProgress
      - Failed
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    ServerConfigurationListResult:
      description: A list of server configurations.
      type: object
      properties:
        value:
          type: array
          description: The list of server configurations.
          items:
            $ref: '#/components/schemas/ServerConfiguration'
        nextLink:
          type: string
          description: Link to retrieve next page of results.
          readOnly: true
    ServerConfigurationProperties:
      description: The properties of a configuration.
      type: object
      properties:
        value:
          type: string
          description: Value of the configuration.
        source:
          type: string
          description: Source of the configuration.
          readOnly: true
        description:
          type: string
          description: Description of the configuration.
          readOnly: true
        defaultValue:
          type: string
          description: Default value of the configuration.
          readOnly: true
        dataType:
          type: string
          description: Data type of the configuration.
          enum:
          - Boolean
          - Numeric
          - Integer
          - Enumeration
          x-ms-enum:
            name: ConfigurationDataType
            modelAsString: true
          readOnly: true
        allowedValues:
          type: string
          description: Allowed values of the configuration.
          readOnly: true
        requiresRestart:
          type: boolean
          description: If configuration change requires restart.
          readOnly: true
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: Provisioning state of the configuration.
          readOnly: true
      required:
      - value
    ClusterConfigurationListResult:
      description: A list of cluster configurations.
      type: object
      properties:
        value:
          type: array
          description: The list of cluster configurations.
          items:
            $ref: '#/components/schemas/Configuration'
        nextLink:
          type: string
          description: Link to retrieve next page of results.
          readOnly: true
    ServerRoleGroupConfiguration:
      description: Represents server role group configuration value.
      type: object
      properties:
        role:
          $ref: '#/components/schemas/ServerRole'
          description: The role of servers in the server role group.
        value:
          type: string
          description: Value of the configuration.
        defaultValue:
          type: string
          description: Default value of the configuration.
          readOnly: true
        source:
          type: string
          description: Source of the configuration.
          readOnly: true
      required:
      - role
      - value
    ServerRole:
      type: string
      description: The role of a server.
      enum:
      - Coordinator
      - Worker
      x-ms-enum:
        name: ServerRole
        modelAsString: true
    Configuration:
      description: Represents configuration details for coordinator and node.
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/ProxyResource
      properties:
        properties:
          $ref: '#/components/schemas/ConfigurationProperties'
          description: The properties of configuration.
          x-ms-client-flatten: true
    ServerGroupConfigurationListResult:
      description: A list of server group configurations.
      properties:
        value:
          type: array
          description: The list of server group configurations.
          items:
            $ref: '#/components/schemas/ServerGroupConfiguration'
        nextLink:
          type: string
          description: Link to retrieve next page of results.
          readOnly: true
    CloudError:
      x-ms-external: true
      description: An error response from the Batch service.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: The error.
    ServerConfiguration_2:
      description: Represents a configuration.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource
      properties:
        systemData:
          description: The system metadata relating to this resource
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
        properties:
          $ref: '#/components/schemas/ServerConfigurationProperties_2'
          description: The properties of a configuration.
          x-ms-client-flatten: true
    ServerGroupConfigurationProperties:
      description: The properties of server group configuration.
      properties:
        description:
          type: string
          description: Description of the configuration.
          readOnly: true
        dataType:
          type: string
          description: Data type of the configuration.
          enum:
          - Boolean
          - Numeric
          - Integer
          - Enumeration
          x-ms-enum:
            name: ConfigurationDataType
            modelAsString: true
          readOnly: true
        allowedValues:
          type: string
          description: Allowed values of the configuration.
          readOnly: true
        serverRoleGroupConfigurations:
          type: array
          description: The list of server role group configuration values.
          items:
            $ref: '#/components/schemas/ServerRoleGroupConfiguration_2'
          x-ms-identifiers: []
          uniqueItems: true
      required:
      - serverRoleGroupConfigurations
    ServerConfigurationListResult_2:
      description: A list of server configurations.
      properties:
        value:
          type: array
          description: The list of server configurations.
          items:
            $ref: '#/components/schemas/ServerConfiguration_2'
        nextLink:
          type: string
          description: Link to retrieve next page of results.
          readOnly: true
    ServerConfigurationProperties_2:
      description: The properties of a configuration.
      properties:
        value:
          type: string
          description: Value of the configuration.
        source:
          type: string
          description: Source of the configuration.
          readOnly: true
        description:
          type: string
          description: Description of the configuration.
          readOnly: true
        defaultValue:
          type: string
          description: Default value of the configuration.
          readOnly: true
        dataType:
          type: string
          description: Data type of the configuration.
          enum:
          - Boolean
          - Numeric
          - Integer
          - Enumeration
          x-ms-enum:
            name: ConfigurationDataType
            modelAsString: true
          readOnly: true
        allowedValues:
          type: string
          description: Allowed values of the configuration.
          readOnly: true
      required:
      - value
    ServerRoleGroupConfiguration_2:
      description: Represents server role group configuration value.
      properties:
        role:
          $ref: '#/components/schemas/ServerRole'
          description: The role of servers in the server role group.
        value:
          type: string
          description: Value of the configuration.
        defaultValue:
          type: string
          description: Default value of the configuration.
          readOnly: true
        source:
          type: string
          description: Source of the configuration.
          readOnly: true
      required:
      - role
      - value
    ServerGroupConfiguration:
      description: Represents the configuration list of server role groups in a server group.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource
      properties:
        systemData:
          description: The system metadata relating to this resource
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
        properties:
          $ref: '#/components/schemas/ServerGroupConfigurationProperties'
          description: The properties of server group configuration.
          x-ms-client-flatten: true
    CloudErrorBody:
      x-ms-external: true
      description: An error response from the Batch service.
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of the property in error.
        details:
          type: array
          description: A list of additional details about the error.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          x-ms-identifiers:
          - code
    ConfigurationProperties_2:
      properties:
        value:
          type: string
          description: Value of the configuration.
        description:
          type: string
          readOnly: true
          description: Description of the configuration.
        defaultValue:
          type: string
          readOnly: true
          description: Default value of the configuration.
        dataType:
          type: string
          readOnly: true
          description: Data type of the configuration.
        allowedValues:
          type: string
          readOnly: true
          description: Allowed values of the configuration.
        source:
          type: string
          description: Source of the configuration.
      description: The properties of a configuration.
    ConfigurationListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Configuration_2'
          description: The list of server configurations.
      description: A list of server configurations.
    Configuration_2:
      properties:
        properties:
          $ref: '#/components/schemas/ConfigurationProperties_2'
          x-ms-client-flatten: true
          description: The properties of a configuration.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource
      description: Represents a Configuration.
  parameters:
    ServerNameParameter:
      name: serverName
      in: path
      required: true
      description: The name of the server.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
        pattern: ^[-\w\._]+$
    ClusterNameParameter:
      name: clusterName
      in: path
      required: true
      description: The name of the cluster.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 40
        minLength: 3
        pattern: ^(?![0-9]+$)(?!-)[a-z0-9-]{3,40}(?<!-)$
    ConfigurationNameParameter:
      name: configurationName
      in: path
      required: true
      description: The name of the cluster configuration.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
        pattern: ^[-\w\._]+$
    ServerNameParameter_2:
      name: serverName
      in: path
      required: true
      description: The name of the server.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
    ServerGroupNameParameter:
      name: serverGroupName
      in: path
      required: true
      description: The name of the server group.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
    ConfigurationNameParameter_2:
      name: configurationName
      in: path
      required: true
      description: The name of the server group configuration.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
    ServerNameParameter_3:
      name: serverName
      in: path
      required: true
      description: The name of the server.
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for the request.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The subscription ID that identifies an Azure subscription.
      schema:
        type: string
    ConfigurationNameParameter_3:
      name: configurationName
      in: path
      required: true
      description: The name of the server configuration.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: Impersonate your user account.
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- azure-cosmos-db-for-postgresql-openapi-original.yml
- hyperscalecitusmanagementclient-openapi-original.yml
- mariadbmanagementclient-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
