openapi: 3.2.0
info:
  title: Microsoft Azure Models API
  x-refined-note:
  - x-logo differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Models across 8 of this provider''s published API definitions: azure-cognitive-services-openapi.yml, azure-digital-twins-api-openapi-original.yml, azure-openai-api-version-2022-03-01-preview-openapi-original.yml, azure-openai-api-version-2022-12-01-openapi-original.yml, azure-openai-api-version-2023-10-01-preview-openapi-original.yml, azure-openai-service-openapi.yml, computer-vision-api-openapi-original.yml, computer-vision-client-openapi-original.yml.'
servers:
- url: https://management.azure.com
  description: Azure Resource Manager endpoint
- url: https://digitaltwins-hostname
- url: https://{endpoint}/openai
  description: Azure OpenAI Service endpoint
  variables:
    endpoint:
      default: your-resource-name.openai.azure.com
      description: 'The Azure OpenAI resource endpoint. Format: https://{resource-name}.openai.azure.com'
- url: /vision/v1.0
tags:
- name: Models
  description: Operations for listing available models
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.CognitiveServices/models:
    get:
      operationId: Models_List
      summary: Microsoft Azure List Available Models
      description: List available models for the subscription.
      tags:
      - Models
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully returned available models.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelListResult'
              examples:
                ModelsList200Example:
                  summary: Default Models_List 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - format: example_value
                      name: Example Title
                      version: example_value
                      source: example_value
                      maxCapacity: 10
                      capabilities: example_value
                      deprecation: {}
                      lifecycleStatus: GenerallyAvailable
                      systemData: {}
                    nextLink: example_value
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ModelsListdefaultExample:
                  summary: Default Models_List default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
                      additionalInfo:
                      - type: example_value
                        info: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2:
        - https://management.azure.com/.default
    servers:
    - url: https://management.azure.com
      description: Azure Resource Manager endpoint
  /models:
    parameters:
    - $ref: '#/components/parameters/traceparent'
    - $ref: '#/components/parameters/tracestate'
    post:
      tags:
      - Models
      description: 'Uploads one or more models. When any error occurs, no models are uploaded.

        Status codes:

        * 201 Created

        * 400 Bad Request

        * DTDLParserError - The models provided are not valid DTDL.

        * InvalidArgument - The model id is invalid.

        * LimitExceeded - The maximum number of model ids allowed in ''dependenciesFor'' has been reached.

        * ModelVersionNotSupported - The version of DTDL used is not supported.

        * 409 Conflict

        * ModelAlreadyExists - The model provided already exists.'
      operationId: microsoftAzureDigitaltwinmodelsAdd
      x-ms-examples:
        Add models:
          $ref: ./examples/ModelAdd.json
      parameters:
      - $ref: '#/components/parameters/api-version'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NonPagedDigitalTwinsModelDataCollection'
        default:
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
      summary: Microsoft Azure Post Models
      requestBody:
        content:
          application/json:
            schema:
              type: array
              minItems: 1
              uniqueItems: true
              items:
                type: object
        description: An array of models to add.
        required: true
      security:
      - oauth2: []
    get:
      tags:
      - Models
      description: 'Retrieves model metadata and, optionally, model definitions.

        Status codes:

        * 200 OK

        * 400 Bad Request

        * InvalidArgument - The model id is invalid.

        * LimitExceeded - The maximum number of model ids allowed in ''dependenciesFor'' has been reached.

        * 404 Not Found

        * ModelNotFound - The model was not found.'
      x-ms-pageable:
        nextLinkName: nextLink
      operationId: microsoftAzureDigitaltwinmodelsList
      x-ms-examples:
        List models:
          $ref: ./examples/ModelsGet.json
        List models (include dependencies and definitions):
          $ref: ./examples/ModelsGetWithDependenciesAndIncludeModelDefinition.json
      parameters:
      - name: dependenciesFor
        in: query
        description: If specified, only return the set of the specified models along with their dependencies. If omitted, all models are retrieved.
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - $ref: '#/components/parameters/includeModelDefinition'
      - $ref: '#/components/parameters/max-items-per-page'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedDigitalTwinsModelDataCollection'
        default:
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
      summary: Microsoft Azure Get Models
      security:
      - oauth2: []
    servers:
    - url: https://digitaltwins-hostname
  /models/{id}:
    parameters:
    - $ref: '#/components/parameters/traceparent'
    - $ref: '#/components/parameters/tracestate'
    get:
      tags:
      - Models
      description: 'Retrieves model metadata and optionally the model definition.

        Status codes:

        * 200 OK

        * 400 Bad Request

        * InvalidArgument - The model id is invalid.

        * MissingArgument - The model id was not provided.

        * 404 Not Found

        * ModelNotFound - The model was not found.'
      operationId: microsoftAzureDigitaltwinmodelsGetbyid
      x-ms-examples:
        Get a model by id:
          $ref: ./examples/ModelGetById.json
        Get a model by id (with definition):
          $ref: ./examples/ModelGetByIdWithIncludeModelDefinition.json
      parameters:
      - $ref: '#/components/parameters/modelId'
      - $ref: '#/components/parameters/includeModelDefinition'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalTwinsModelData'
        default:
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
      summary: Microsoft Azure Get Models Id
      security:
      - oauth2: []
    patch:
      tags:
      - Models
      description: 'Updates the metadata for a model.

        Status codes:

        * 204 No Content

        * 400 Bad Request

        * InvalidArgument - The model id is invalid.

        * JsonPatchInvalid - The JSON Patch provided is invalid.

        * MissingArgument - The model id was not provided.

        * 404 Not Found

        * ModelNotFound - The model was not found.

        * 409 Conflict

        * ModelReferencesNotDecommissioned - The model refers to models that are not decommissioned.'
      operationId: microsoftAzureDigitaltwinmodelsUpdate
      x-ms-examples:
        Decommission a model:
          $ref: ./examples/ModelUpdateDecommissioned.json
      parameters:
      - $ref: '#/components/parameters/modelId'
      - $ref: '#/components/parameters/api-version'
      responses:
        '204':
          description: Success
        default:
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
      summary: Microsoft Azure Patch Models Id
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                type: object
        description: An update specification described by JSON Patch. Only the decommissioned property can be replaced.
        required: true
      security:
      - oauth2: []
    delete:
      tags:
      - Models
      operationId: microsoftAzureDigitaltwinmodelsDelete
      description: 'Deletes a model. A model can only be deleted if no other models reference it.

        Status codes:

        * 204 No Content

        * 400 Bad Request

        * InvalidArgument - The model id is invalid.

        * MissingArgument - The model id was not provided.

        * 404 Not Found

        * ModelNotFound - The model was not found.

        * 409 Conflict

        * ModelReferencesNotDeleted - The model refers to models that are not deleted.'
      x-ms-examples:
        Delete a model:
          $ref: ./examples/DeleteModel.json
      parameters:
      - $ref: '#/components/parameters/modelId'
      - $ref: '#/components/parameters/api-version'
      responses:
        '204':
          description: Success
        default:
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
      summary: Microsoft Azure Delete Models Id
      security:
      - oauth2: []
    servers:
    - url: https://digitaltwins-hostname
  /models/{model_id}:
    get:
      tags:
      - Models
      summary: Microsoft Azure Gets Details For The Model Specified By The Given Modelid
      operationId: microsoftAzureModelsGet
      parameters:
      - in: path
        name: model_id
        description: The identifier of the model.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersionQueryParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
        default:
          description: An error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
      x-ms-examples:
        Getting a base model.:
          $ref: ./examples/get_model_base.json
        Getting a fine-tuned model.:
          $ref: ./examples/get_model_finetune.json
      description: Needs a more full description created.
      security:
      - api-key: []
  /models/{model-id}:
    get:
      tags:
      - Models
      summary: Microsoft Azure Gets Details For The Model Specified By The Given Modelid
      operationId: microsoftAzureModelsGet
      parameters:
      - in: path
        name: model-id
        description: The identifier of the model.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersionQueryParameter_2'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model_2'
        default:
          description: An error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_4'
      x-ms-examples:
        Getting a base model.:
          $ref: ./examples/get_model_base.json
        Getting a fine-tuned model.:
          $ref: ./examples/get_model_finetune.json
      description: Needs a more full description created.
      security:
      - api-key: []
  /models/{model}/analyze:
    post:
      description: 'This operation recognizes content within an image by applying a domain-specific model. The list of domain-specific models that are supported by the Computer Vision API can be retrieved using the /models GET request. Currently, the API only provides a single domain-specific model: celebrities. Two input methods are supported -- (1) Uploading an image or (2) specifying an image URL. A successful response will be returned in JSON. If the request failed, the response will contain an error code and a message to help understand what went wrong.'
      operationId: microsoftAzureAnalyzeimagebydomain
      parameters:
      - name: model
        in: path
        description: The domain-specific content to recognize.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ServiceLanguage'
      - $ref: ../../../Common/Parameters.json#/parameters/ImageUrl
      responses:
        '200':
          description: Analysis result based on the domain model
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainModelResults'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputerVisionError'
      x-ms-examples:
        Successful Domain Model analysis request:
          $ref: ./examples/SuccessfulDomainModelWithUrl.json
      summary: Microsoft Azure Post Models Model Analyze
      tags:
      - Models
      security:
      - apim_key: []
    servers:
    - url: /vision/v1.0
  /models/{name}:
    put:
      tags:
      - Models
      summary: 'Microsoft Azure Start Training A Custom Model status Codes Returned: 201…'
      operationId: microsoftAzureModelsCreate
      parameters:
      - in: path
        name: name
        description: A name that can be used to uniquely identify the model after it has been created.
        required: true
        schema:
          type: string
          maxLength: 255
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9._-]*$
      - $ref: '#/components/parameters/ApiVersion'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model_5'
        default:
          description: Error
          headers:
            x-ms-error-code:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_7'
      x-ms-examples:
        Models_Create:
          $ref: ./examples/Models_Create.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Model_5'
        description: Properties for the model, such as the name of the dataset to use to train the model.
        required: true
    get:
      tags:
      - Models
      summary: Microsoft Azure Get Information About A Specific Model status Codes Returned…
      operationId: microsoftAzureModelsGet
      parameters:
      - in: path
        name: name
        description: The name of the model to get.
        required: true
        schema:
          type: string
          maxLength: 255
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9._-]*$
      - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model_5'
        default:
          description: Error
          headers:
            x-ms-error-code:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_7'
      x-ms-examples:
        Models_Get:
          $ref: ./examples/Models_Get.json
      description: Needs a more full description created.
    delete:
      tags:
      - Models
      summary: Microsoft Azure Delete A Custom Model A Model Can Be Deleted If It Is In One Of…
      operationId: microsoftAzureModelsDelete
      parameters:
      - in: path
        name: name
        description: The name of the model to delete.
        required: true
        schema:
          type: string
          maxLength: 255
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9._-]*$
      - $ref: '#/components/parameters/ApiVersion'
      responses:
        '204':
          description: No Content
        default:
          description: Error
          headers:
            x-ms-error-code:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_7'
      x-ms-examples:
        Models_Delete:
          $ref: ./examples/Models_Delete.json
      description: Needs a more full description created.
  /models/{name}:cancel:
    post:
      tags:
      - Models
      summary: 'Microsoft Azure Cancel Model Training status Codes Returned: 202: Operation…'
      operationId: microsoftAzureModelsCanceltraining
      parameters:
      - in: path
        name: name
        description: The name of the model to cancel training.
        required: true
        schema:
          type: string
          maxLength: 255
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9._-]*$
      - $ref: '#/components/parameters/ApiVersion'
      responses:
        '202':
          description: Accepted
        default:
          description: Error
          headers:
            x-ms-error-code:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_7'
      x-ms-examples:
        Models_CancelTraining:
          $ref: ./examples/Models_CancelTraining.json
      description: Needs a more full description created.
  /models/{name}/evaluations/{evaluationName}:
    put:
      tags:
      - Models
      summary: 'Microsoft Azure Evaluate An Existing Model status Codes Returned: 201…'
      operationId: microsoftAzureModelevaluationsCreate
      parameters:
      - in: path
        name: name
        description: The name of the model to evaluate.
        required: true
        schema:
          type: string
          maxLength: 255
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9._-]*$
      - in: path
        name: evaluationName
        description: A name that can be used to uniquely identify the evaluation after it has been created.
        required: true
        schema:
          type: string
          maxLength: 255
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9._-]*$
      - $ref: '#/components/parameters/ApiVersion'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelEvaluation'
        default:
          description: Error
          headers:
            x-ms-error-code:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_7'
      x-ms-examples:
        ModelEvaluations_Create:
          $ref: ./examples/ModelEvaluations_Create.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ModelEvaluation'
        description: Properties for the evaluation, such as the name of the dataset to use to test the model.
        required: true
    get:
      tags:
      - Models
      summary: Microsoft Azure Get Information About A Specific Model Evaluation status Codes…
      operationId: microsoftAzureModelevaluationsGet
      parameters:
      - in: path
        name: name
        description: The name of the model to get the evaluation for.
        required: true
        schema:
          type: string
          maxLength: 255
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9._-]*$
      - in: path
        name: evaluationName
        description: The name of the model evaluation to get.
        required: true
        schema:
          type: string
          maxLength: 255
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9._-]*$
      - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelEvaluation'
        default:
          description: Error
          headers:
            x-ms-error-code:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_7'
      x-ms-examples:
        ModelEvaluations_Get:
          $ref: ./examples/ModelEvaluations_Get.json
      description: Needs a more full description created.
    delete:
      tags:
      - Models
      summary: Microsoft Azure Delete A Model Evaluation A Model Evaluation Can Be Deleted If…
      operationId: microsoftAzureModelevaluationsDelete
      parameters:
      - in: path
        name: name
        description: The name of the model to delete the evaluation for.
        required: true
        schema:
          type: string
          maxLength: 255
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9._-]*$
      - in: path
        name: evaluationName
        description: The name of the model evaluation to delete.
        required: true
        schema:
          type: string
          maxLength: 255
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9._-]*$
      - $ref: '#/components/parameters/ApiVersion'
      responses:
        '204':
          description: No Content
        default:
          description: Error
          headers:
            x-ms-error-code:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_7'
      x-ms-examples:
        ModelEvaluations_Delete:
          $ref: ./examples/ModelEvaluations_Delete.json
      description: Needs a more full description created.
  /models/{name}/evaluations:
    get:
      tags:
      - Models
      summary: Microsoft Azure Get A List Of The Available Evaluations For A Model status…
      operationId: microsoftAzureModelevaluationsList
      parameters:
      - in: path
        name: name
        description: The name of the model to get evaluations for.
        required: true
        schema:
          type: string
          maxLength: 255
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9._-]*$
      - in: query
        name: skip
        description: Number of evaluations to be skipped.
        schema:
          type: integer
          format: int32
          default: 0
          maximum: 2147483647
          minimum: 0
      - in: query
        name: top
        description: Number of evaluations to be returned after skipping. The maximum allowed value is 30.
        schema:
          type: integer
          format: int32
          default: 10
          maximum: 30
          minimum: 1
      - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelEvaluationApiModelCollectionApiModel'
        default:
          description: Error
          headers:
            x-ms-error-code:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_7'
      x-ms-examples:
        ModelEvaluations_List:
          $ref: ./examples/ModelEvaluations_List.json
      x-ms-pageable:
        nextLinkName: nextLink
      description: Needs a more full description created.
components:
  schemas:
    ModelListResult:
      type: object
      description: The list of cognitive services models.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/AccountModel'
          description: An array of models.
          example: []
        nextLink:
          type: string
          description: The link used to get the next page of models.
          example: example_value
    ErrorResponse:
      type: object
      description: Error response.
      properties:
        error:
          type: object
          description: The error object.
          properties:
            code:
              type: string
            message:
              type: string
            target:
              type: string
            details:
              type: array
              items:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  target:
                    type: string
            additionalInfo:
              type: array
              items:
                type: object
                properties:
                  type:
                    type: string
                  info:
                    type: object
          example: example_value
    AccountModel:
      type: object
      description: Cognitive Services account model.
      properties:
        format:
          type: string
          description: Model format.
          example: example_value
        name:
          type: string
          description: Model name.
          example: Example Title
        version:
          type: string
          description: Model version.
          example: example_value
        source:
          type: string
          description: Source of the model.
          example: example_value
        maxCapacity:
          type: integer
          description: The maximum capacity.
          example: 10
        capabilities:
          type: object
          additionalProperties:
            type: string
          description: Model capabilities.
          example: example_value
        deprecation:
          type: object
          description: Deprecation information.
          properties:
            fineTune:
              type: string
              format: date-time
            inference:
              type: string
              format: date-time
          example: example_value
        lifecycleStatus:
          type: string
          enum:
          - GenerallyAvailable
          - Preview
          description: Model lifecycle status.
          example: GenerallyAvailable
        systemData:
          type: object
          readOnly: true
          properties:
            createdBy:
              type: string
            createdByType:
              type: string
            createdAt:
              type: string
              format: date-time
            lastModifiedBy:
              type: string
            lastModifiedByType:
              type: string
            lastModifiedAt:
              type: string
              format: date-time
          example: example_value
    NonPagedDigitalTwinsModelDataCollection:
      description: A collection of DigitalTwinsModelData objects.
      type: array
      items:
        $ref: '#/components/schemas/DigitalTwinsModelData'
    PagedDigitalTwinsModelDataCollection:
      description: A collection of DigitalTwinsModelData objects.
      type: object
      required:
      - value
      properties:
        value:
          description: The DigitalTwinsModelData objects.
          type: array
          items:
            $ref: '#/components/schemas/DigitalTwinsModelData'
        nextLink:
          description: A URI to retrieve the next page of objects.
          type: string
    Error:
      description: Error definition.
      properties:
        code:
          description: Service specific error code which serves as the substatus for the HTTP error code.
          type: string
          readOnly: true
        message:
          description: A human-readable representation of the error.
          type: string
          readOnly: true
        details:
          description: Internal error details.
          type: array
          items:
            $ref: '#/components/schemas/Error'
          readOnly: true
        innererror:
          description: An object containing more specific information than the current object about the error.
          $ref: '#/components/schemas/InnerError'
    InnerError:
      description: A more specific error description than was provided by the containing error.
      properties:
        code:
          description: A more specific error code than was provided by the containing error.
          type: string
        innererror:
          description: An object containing more specific information than the current object about the error.
          $ref: '#/components/schemas/InnerError'
    ErrorResponse_2:
      description: Error response.
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/Error'
          description: The error details.
    DigitalTwinsModelData:
      description: A model definition and metadata for that model.
      required:
      - id
      type: object
      properties:
        displayName:
          description: A language map that contains the localized display names as specified in the model definition.
          type: object
          additionalProperties:
            type: string
        description:
          description: A language map that contains the localized descriptions as specified in the model definition.
          type: object
          additionalProperties:
            type: string
        id:
          description: The id of the model as specified in the model definition.
          type: string
        uploadTime:
          description: The time the model was uploaded to the service.
          format: date-time
          type: string
        decommissioned:
          description: Indicates if the model is decommissioned. Decommissioned models cannot be referenced by newly created digital twins.
          type: boolean
          default: false
        model:
          description: The model definition.
          type: object
    Capabilities:
      title: Capabilities
      description: The capabilities of a base or fine tune model.
      type: object
      properties:
        fine_tune:
          description: A value indicating whether a model can be used for fine tuning.
          type: boolean
          readOnly: true
    Model:
      title: Model
      description: A model is either a base model or the result of a successful fine tune job.
      type: object
      properties:
        object:
          $ref: '#/components/schemas/TypeDiscriminator'
        status:
          $ref: '#/components/schemas/State'
        created_at:
          format: int32
          description: A timestamp when this job or item was created (in unix epochs).
          type: integer
          readOnly: true
        updated_at:
          format: int32
          description: A timestamp when this job or item was modified last (in unix epochs).
          type: integer
          readOnly: true
        id:
          description: The identity of this item.
          type: string
          readOnly: true
        model:
          description: The base model ID if this is a fine tune model; otherwise `null`.
          type: string
          readOnly: true
        fine_tune:
          description: The fine tune job ID if this is a fine tune model; otherwise `null`.
          type: string
          readOnly: true
        capabilities:
          $ref: '#/components/schemas/Capabilities'
        deprecation:
          $ref: '#/components/schemas/Deprecation'
    ErrorCode:
      title: ErrorCode
      description: 'Error codes as defined in the Microsoft REST guidelines

        (https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses).'
      enum:
      - conflict
      - invalidPayload
      - forbidden
      - notFound
      - unexpectedEntityState
      - itemDoesAlreadyExist
      - serviceUnavailable
      - internalFailure
      - quotaExceeded
      type: string
      x-ms-enum:
        name: ErrorCode
        modelAsString: true
        values:
        - value: conflict
          description: The requested operation conflicts with the current resource state.
        - value: invalidPayload
          description: The request data is invalid for this operation.
        - value: forbidden
          description: The operation is forbidden for the current user/api key.
        - value: notFound
          description: The resource is not found.
        - value: unexpectedEntityState
          description: The operation cannot be executed in the current resource's state.
        - value: itemDoesAlreadyExist
          description: The item does already exist.
        - value: serviceUnavailable
          description: The service is currently not available.
        - value: internalFailure
          description: Internal error. Please retry.
        - value: quotaExceeded
          description: Quota exceeded.
    State:
      title: State
      description: The state of a job or item.
      enum:
      - notRunning
      - running
      - succeeded
      - canceled
      - failed
      - deleted
      type: string
      readOnly: true
      x-ms-enum:
        name: State
        modelAsString: false
        values:
        - value: notRunning
          description: The operation was created and is not queued to be processed in the future.
        - value: running
          description: The operation has started to be processed.
        - value: succeeded
          description: The operation has successfully be processed and is ready for consumption.
        - value: canceled
          description: The operation has been canceled and is incomplete.
        - value: failed
          description: The operation has completed processing with a failure and cannot be further consumed.
        - value: deleted
          description: The entity has been deleted but may still be referenced by other entities predating the deletion.
    TypeDiscriminator:
      title: TypeDiscriminator
      description: Defines the type of an object.
      enum:
      - list
      - fine-tune
      - file
      - fine-tune-event
      - model
      - deployment
      type: string
      readOnly: true
      x-ms-enum:
        name: TypeDiscriminator
        modelAsString: true
        values:
        - value: list
          description: This object represents a list of other objects.
        - value: fine-tune
          description: This object represents a fine tune job.
        - value: file
          description: This object represents a file.
        - value: fine-tune-event
          description: This object represents an event of a fine tune job.
        - value: model
          description: This object represents a model (can be a base models or fine tune job result).
        - value: deployment
          description: This object represents a deployment.
    InnerErrorCode:
      title: InnerErrorCode
      description: 'Inner error codes as defined in the Microsoft REST guidelines

        (https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses).'
      enum:
      - invalidPayload
      type: string
      x-ms-enum:
        name: InnerErrorCode
        modelAsString: true
        values:
        - value: invalidPayload
          description: The request data is invalid for this operation.
    Error_2:
      title: Error
      description: 'Error content as defined in the Microsoft REST guidelines

        (https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses).'
      required:
      - code
      - message
      type: object
      properties:
        code:
          $ref: '#/components/schemas/ErrorCode'
        message:
          description: The message of this error.
          minLength: 1
          type: string
        target:
          description: The location where the error happened if available.
          type: string
        details:
          description: The error details if available.
          type: array
          items:
            $ref: '#/components/schemas/Error_2'
        innererror:
          $ref: '#/components/schemas/InnerError_2'
    ModelList:
      title: ModelList
      description: Represents a list of models.
      type: object
      properties:
        object:
          $ref: '#/components/schemas/TypeDiscriminator'
        data:
          description: The list of items.
          type: array
          items:
            $ref: '#/components/schemas/Model'
          readOnly: true
    InnerError_2:
      title: InnerError
      description: 'Inner error as defined in the Microsoft REST guidelines

        (https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses).'
      type: object
      properties:
        code:
          $ref: '#/components/schemas/InnerErrorCode'
        innererror:
          $ref: '#/components/schemas/InnerError_2'
    ErrorResponse_3:
      title: ErrorResponse
      description: 'Error response as defined in the Microsoft REST guidelines

        (https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses).'
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error_2'
    Deprecation:
      title: Deprecation
      description: 'Defines the dates of deprecation for the different use cases of a model.

        Usually base models support 1 year of fine tuning after creation. Inference is typically supported 2 years after creation of base or

        fine tuned models. The exact dates are specified in the properties.'
      type: object
      properties:
        fine_tune:
          format: int32
          description: The end date of fine tune support of this model. Will be `null` for fine tune models.
          type: integer
          readOnly: true
        inference:
          format: int32
          description: The end date of inference support of this model.
          type: integer
          readOnly: true
    Model_2:
      title: Model
      description: A model is either a base model or the result of a successful fine tune job.
      required:
      - capabilities
      - deprecation
      - lifecycle_status
      type: object
      properties:
        object:
          $ref: '#/components/schemas/TypeDiscriminator'
        status:
          $ref: '#/components/schemas/State_2'
        created_at:
          format: unixtime
          description: A timestamp when this job or item was created (in unix epochs).
          type: integer
          readOnly: true
        updated_at:
          format: unixtime
          description: A timestamp when this job or item was modified last (in unix epochs).
          type: integer
          readOnly: true
        id:
          description: The identity of this item.
          type: string
          readOnly: true
        model:
          description: The base model identity (model-id) if this is a fine tune model; otherwise `null`.
          type: string
        fine_tune:
          description: The fine tune job identity (fine-tune-id) if this is a fine tune model; otherwise `null`.
          type: string
        capabilities:
          $ref: '#/components/schemas/Capabilities_2'
        lifecycle_status:
          $ref: '#/components/schemas/LifeCycleStatus'
        deprecation:
          $ref: '#/components/schemas/Deprecation_2'
    Capabilities_2:
      title: Capabilities
      description: The capabilities of a base or fine tune model.
      required:
      - completion
      - embeddings
      - fine_tune
      - inference
      - scale_types
      type: object
      properties:
        fine_tune:
          description: A value indicating whether a model can be used for fine tuning.
          type: boolean
        inference:
          description: A value indicating whether a model can be deployed.
          type: boolean
        completion:
          description: A value indicating whether a model supports completion.
          type: boolean
        embeddings:
          description: A value indicating whether a model supports embeddings.
          type: boolean
        scale_types:
          description: The supported scale types for deployments of this model.
          type: array
          items:
            $ref: '#/components/schemas/ScaleType'
    ScaleType:
      title: ScaleType
      description: Defines how scaling operations will be executed.
      enum:
      - manual
      - standard
      type: string
      x-ms-enum:
        name: ScaleType
        modelAsString: true
        values:
        - value: manual
          description: Scaling of a deployment will happen by manually specifying the capacity of a model.
        - value: standard
          description: Scaling of a deployment will happen automatically based on usage.
    State_2:
      title: State
      description: The state of a job or item.
      enum:
      - notRunning
      - running
      - succeeded
      - canceled
      - failed
      - deleted
      type: string
      readOnly: true
      x-ms-enum:
        name: State
        modelAsString: true
        values:
        - value: notRunning
          description: The operation was created and is not queued to be processed in the future.
        - value: running
          description: The operation has started to be processed.
        - value: succeeded
          description: The operation has successfully be processed and is ready for consumption.
        - value: canceled
          description: The operation has been canceled and is incomplete.
        - value: failed
          description: The operation has completed processing with a failure and cannot be further consumed.
        - value: deleted
          description: The entity has been deleted but may still be referenced by other entities predating the deletion.
    LifeCycleStatus:
      title: LifeCycleStatus
      description: 'The life cycle status of a model.

        Note: A model can be promoted from "preview" to "generally-available", but never from "generally-available" to "preview".'
      enum:
      - preview
      - generally-available
      type: string
      x-ms-enum:
        name: LifeCycleStatus
        modelAsString: true
        values:
        - value: preview
          description: Model is in preview and covered by the service preview terms.
        - value: generally-available
          description: Model is generally available.
    ErrorCode_2:
      title: ErrorCode
      description: 'Error codes as defined in the Microsoft REST guidelines

        (https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses).'
      enum:
      - conflict
      - invalidPayload
      - forbidden
      - notFound
      - unexpectedEntityState
      - itemDoesAlreadyExist
      - serviceUnavailable
      - internalFailure
      - quotaExceeded
      - jsonlValidationFailed
      - fileImportFailed
      type: string
      x-ms-enum:
        name: ErrorCode
        modelAsString: true
        values:
        - value: conflict
          description: The requested operation conflicts with the current resource state.
        - value: invalidPayload
          description: The request data is invalid for this operation.
        - value: forbidden
          description: The operation is forbidden for the current user/api key.
        - value: notFound
          description: The resource is not found.
        - value: unexpectedEntityState
          description: The operation cannot be executed in the current resource's state.
        - value: itemDoesAlreadyExist
          description: The item does already exist.
        - value: serviceUnavailable
          description: The service is currently not available.
        - value: internalFailure
          description: Internal error. Please retry.
        - value: quotaExceeded
          description: Quota exceeded.
        - value: jsonlValidationFailed
          description: Validation of jsonl data failed.
        - value: fileImportFailed
          description: Import of file failed.
    Error_3:
      title: Error
      description: 'Error content as defined in the Microsoft REST guidelines

        (https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses).'
      required:
      - code
      - message
      type: object
      properties:
        code:
          $ref: '#/components/schemas/ErrorCode_2'
        message:
          description: The message of this error.
          minLength: 1
          type: string
        target:
          description: The location where the error happened if available.
          type: string
        details:
          description: The error details if available.
          type: array
          items:
            $ref: '#/components/schemas/Error_3'
        innererror:
          $ref: '#/components/schemas/InnerError_3'
    ModelList_2:
      title: ModelList
      description: Represents a list of models.
      type: object
      properties:
        object:
          $ref: '#/components/schemas/TypeDiscriminator'
        data:
          description: The list of items.
          type: array
          items:
            $ref: '#/components/schemas/Model_2'
    InnerError_3:
      title: InnerError
      description: 'Inner error as defined in the Microsoft REST guidelines

        (https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses).'
      type: object
      properties:
        code:
          $ref: '#/components/schemas/InnerErrorCode'
        innererror:
          $ref: '#/components/schemas/InnerError_3'
    ErrorResponse_4:
      title: ErrorResponse
      description: 'Error response as defined in the Microsoft REST guidelines

        (https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses).'
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error_3'
    Deprecation_2:
      title: Deprecation
      description: 'Defines the dates of deprecation for the different use cases of a model.

        Usually base models support 1 year of fine tuning after creation. Inference is typically supported 2 years after creation of base or

        fine tuned models. The exact dates are specified in the properties.'
      required:
      - inference
      type: object
      properties:
        fine_tune:
          format: unixtime
          description: The end date of fine tune support of this model. Will be `null` for fine tune models.
          type: integer
        inference:
          format: unixtime
          description: The end date of inference support of this model.
          type: integer
    Model_3:
      title: Model
      description: A model is either a base model or the result of a successful fine tune job.
      required:
      - capabilities
      - deprecation
      - lifecycle_status
      type: object
      properties:
        object:
          $ref: '#/components/schemas/TypeDiscriminator_2'
        created_at:
          format: unixtime
          description: A timestamp when this job or item was created (in unix epochs).
          type: integer
          readOnly: true
        updated_at:
          format: unixtime
          description: A timestamp when this job or item was modified last (in unix epochs).
          type: integer
          readOnly: true
        id:
          description: The identity of this item.
          type: string
          readOnly: true
        status:
          $ref: '#/components/schemas/FineTuningState'
        model:
          description: The base model identity (model-id) if this is a fine tune model; otherwise `null`.
          type: string
        fine_tune:
          description: The fine tune job identity (fine-tune-id) if this is a fine tune model; otherwise `null`.
          type: string
        capabilities:
          $ref: '#/components/schemas/Capabilities_3'
        lifecycle_status:
          $ref: '#/components/schemas/LifeCycleStatus'
        deprecation:
          $ref: '#/components/schemas/Deprecation_3'
    Capabilities_3:
      title: Capabilities
      description: The capabilities of a base or fine tune model.
      required:
      - chat_completion
      - completion
      - embeddings
      - fine_tune
      - inference
      type: object
      properties:
        fine_tune:
          description: A value indicating whether a model can be used for fine tuning.
          type: boolean
        inference:
          description: A value indicating whether a model can be deployed.
          type: boolean
        completion:
          description: A value indicating whether a model supports completion.
          type: boolean
        chat_completion:
          description: A value indicating whether a model supports chat completion.
          type: boolean
        embeddings:
          description: A value indicating whether a model supports embeddings.
          type: boolean
    FineTuningState:
      title: FineTuningState
      description: The state of a finetunes object or fine tuning job.
      enum:
      - created
      - pending
      - running
      - succeeded
      - cancelled
      - failed
      type: string
      readOnly: true
      x-ms-enum:
        name: FineTuningState
        modelAsString: true
        values:
        - value: created
          description: The operation was created. This state is not returned by Azure OpenAI and exposed only for compatibility. It can be categorized as an inactive state.
        - value: pending
          description: The operation is not yet queued to be processed in the future. It can be categorized as an inactive state.
        - value: running
          description: The operation has started to be processed. It can be categorized as an active state.
        - value: succeeded
          description: The operation has successfully be processed and is ready for consumption. It can be categorized as a terminal state.
        - value: cancelled
          description: The operation has been cancelled and is incomplete. It can be categorized as a terminal state.
        - value: failed
          description: The operation has completed processing with a failure and cannot be further consumed. It can be categorized as a terminal state.
    ErrorCode_3:
      title: ErrorCode
      description: 'Error codes as defined in the Microsoft REST guidelines

        (https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses).'
      enum:
      - conflict
      - invalidPayload
      - forbidden
      - notFound
      - unexpectedEntityState
      - itemDoesAlreadyExist
      - serviceUnavailable
      - internalFailure
      - quotaExceeded
      - jsonlValidationFailed
      - fileImportFailed
      - tooManyRequests
      - unauthorized
      - contentFilter
      type: string
      x-ms-enum:
        name: ErrorCode
        modelAsString: true
        values:
        - value: conflict
          description: The requested operation conflicts with the current resource state.
        - value: invalidPayload
          description: The request data is invalid for this operation.
        - value: forbidden
          description: The operation is forbidden for the current user/api key.
        - value: notFound
          description: The resource is not found.
        - value: unexpectedEntityState
          description: The operation cannot be executed in the current resource's state.
        - value: itemDoesAlreadyExist
          description: The item does already exist.
        - value: serviceUnavailable
          description: The service is currently not available.
        - value: internalFailure
          description: Internal error. Please retry.
        - value: quotaExceeded
          description: Quota exceeded.
        - value: jsonlValidationFailed
          description: Validation of jsonl data failed.
        - value: fileImportFailed
          description: Import of file failed.
        - value: tooManyRequests
          description: Too many requests. Please retry later.
        - value: unauthorized
          description: The current user/api key is not authorized for the operation.
        - value: contentFilter
          description: Image generation failed as a result of our safety system.
    TypeDiscriminator_2:
      title: TypeDiscriminator
      description: Defines the type of an object.
      enum:
      - list
      - fine-tune
      - fine_tuning.job
      - file
      - fine-tune-event
      - fine_tuning.job.event
      - model
      type: string
      readOnly: true
      x-ms-enum:
        name: TypeDiscriminator
        modelAsString: true
        values:
        - value: list
          description: This object represents a list of other objects.
        - value: fine-tune
          description: This object represents a fine tune job.
        - value: fine_tuning.job
          description: This object represents a fine tune job.
        - value: file
          description: This object represents a file.
        - value: fine-tune-event
          description: This object represents an event of a fine tune job.
        - value: fine_tuning.job.event
          description: This object represents an event of a fine tuning job.
        - value: model
          description: This object represents a model (can be a base model or fine tune job result).
    Error_4:
      title: Error
      description: 'Error content as defined in the Microsoft REST guidelines

        (https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses).'
      required:
      - code
      - message
      type: object
      properties:
        code:
          $ref: '#/components/schemas/ErrorCode_3'
        message:
          description: The message of this error.
          minLength: 1
          type: string
        target:
          description: The location where the error happened if available.
          type: string
        details:
          description: The error details if available.
          type: array
          items:
            $ref: '#/components/schemas/Error_4'
        innererror:
          $ref: '#/components/schemas/InnerError_4'
      readOnly: true
    ModelList_3:
      title: ModelList
      description: Represents a list of models.
      type: object
      properties:
        object:
          $ref: '#/components/schemas/TypeDiscriminator_2'
        data:
          description: The list of items.
          type: array
          items:
            $ref: '#/components/schemas/Model_3'
    InnerError_4:
      title: InnerError
      description: 'Inner error as defined in the Microsoft REST guidelines

        (https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses).'
      type: object
      properties:
        code:
          $ref: '#/components/schemas/InnerErrorCode'
        innererror:
          $ref: '#/components/schemas/InnerError_4'
    ErrorResponse_5:
      title: ErrorResponse
      description: 'Error response as defined in the Microsoft REST guidelines

        (https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses).'
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error_4'
    Deprecation_3:
      title: Deprecation
      description: 'Defines the dates of deprecation for the different use cases of a model.

        Usually base models support 1 year of fine tuning after creation. Inference is typically supported 2 years after creation of base or

        fine tuned models. The exact dates are specified in the properties.'
      required:
      - inference
      type: object
      properties:
        fine_tune:
          format: unixtime
          description: The end date of fine tune support of this model. Will be `null` for fine tune models.
          type: integer
        inference:
          format: unixtime
          description: The end date of inference support of this model.
          type: integer
    ErrorResponse_6:
      type: object
      description: Error response.
      properties:
        error:
          type: object
          description: The error object.
          properties:
            code:
              type: string
              description: The error code.
            message:
              type: string
              description: The error message.
            param:
              type: string
              description: The parameter that caused the error.
            type:
              type: string
              description: The error type.
            inner_error:
              type: object
              description: Inner error details.
              properties:
                code:
                  type: string
                  description: The inner error code.
                content_filter_result:
                  type: object
                  description: Content filter results, if applicable.
          required:
          - code
          - message
          example: example_value
    Model_4:
      type: object
      description: Describes an OpenAI model.
      properties:
        id:
          type: string
          description: The model identifier.
          example: abc123
        object:
          type: string
          enum:
          - model
          example: model
        created:
          type: integer
          description: The Unix timestamp when the model was created.
          example: 10
        owned_by:
          type: string
          description: The organization that owns the model.
          example: example_value
        capabilities:
          type: object
          description: The capabilities of the model.
          properties:
            fine_tune:
              type: boolean
            inference:
              type: boolean
            completion:
              type: boolean
            chat_completion:
              type: boolean
            embeddings:
              type: boolean
          example: example_value
        lifecycle_status:
          type: string
          enum:
          - generally-available
          - preview
          description: The lifecycle status of the model.
          example: generally-available
        deprecation:
          type: object
          description: Deprecation information for the model.
          properties:
            fine_tune:
              type: integer
              description: The Unix timestamp when fine-tuning will no longer be available.
            inference:
              type: integer
              description: The Unix timestamp when inference will no longer be available.
          example: example_value
      required:
      - id
      - object
      - created
    ModelListResponse:
      type: object
      description: Response listing available models.
      properties:
        object:
          type: string
          enum:
          - list
          example: list
        data:
          type: array
          items:
            $ref: '#/components/schemas/Model_4'
          example: []
      required:
      - object
      - data
    DomainModelResults:
      type: object
      description: Result of image analysis using a specific domain model including additional metadata.
      properties:
        result:
          x-ms-client-flatten: true
          type: object
          description: Model-specific response
        requestId:
          type: string
          description: Id of the REST API request.
        metadata:
          $ref: '#/components/schemas/ImageMetadata'
    ModelDescription:
      type: object
      description: An object describing supported model by name and categories.
      properties:
        name:
          type: string
        categories:
          type: array
          items:
            type: string
    ListModelsResult:
      type: object
      description: Result of the List Domain Models operation.
      properties:
        models:
          type: array
          readOnly: true
          description: An array of supported models.
          items:
            $ref: '#/components/schemas/ModelDescription'
    ImageMetadata:
      type: object
      description: Image metadata
      properties:
        width:
          type: integer
          format: int32
          description: Image width
        height:
          type: integer
          format: int32
          description: Image height
        format:
          type: string
          description: Image format
    ComputerVisionError:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          description: The error code.
          enum:
          - InvalidImageUrl
          - InvalidImageFormat
          - InvalidImageSize
          - NotSupportedVisualFeature
          - NotSupportedImage
          - InvalidDetails
          - NotSupportedLanguage
          - BadArgument
          - FailedToProcess
          - Timeout
          - InternalServerError
          - Unspecified
          - StorageException
          x-ms-enum:
            name: ComputerVisionErrorCodes
            modelAsString: false
        message:
          type: string
          description: A message explaining the error reported by the service.
        requestId:
          type: string
          description: A unique request identifier.
    ErrorResponseDetails:
      description: Error info.
      required:
      - code
      - message
      type: object
      properties:
        code:
          description: Error code.
          type: string
        message:
          description: Error message.
          type: string
        target:
          description: Target of the error.
          type: string
        details:
          description: List of detailed errors.
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseDetails'
        innererror:
          $ref: '#/components/schemas/ErrorResponseInnerError'
    ModelTagPerformance:
      description: Performance metrics for each tag recognized by a custom trained model.
      type: object
      properties:
        accuracy:
          format: double
          description: Read only. For multiclass models. Tag accuracy.
          type: number
          readOnly: true
        averagePrecision50:
          format: double
          description: Read only. For object detection models. Average precision at a threshold of 50%.
          type: number
          readOnly: true
    Model_5:
      description: Describes a training run for training a custom model.
      required:
      - trainingParameters
      type: object
      properties:
        trainingParameters:
          $ref: '#/components/schemas/TrainingParameters'
        name:
          description: Read only. The name that is used to uniquely identify the training run.
          maxLength: 255
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9._-]*$
          type: string
        createdDateTime:
          format: date-time
          description: Read only. The date and time when the training run was first created, in UTC.
          type: string
        updatedDateTime:
          format: date-time
          description: Read only. The date and time when the training run was last updated, in UTC.
          type: string
        status:
          description: Read only. The current state of the training run.
          enum:
          - notStarted
          - training
          - succeeded
          - failed
          - cancelling
          - cancelled
          type: string
          x-ms-enum:
            name: ModelState
            modelAsString: true
        trainingCostInMinutes:
          format: int32
          description: Read only. Actual training cost consumed, in minutes. Present only if the training run as completed.
          type: integer
          readOnly: true
        error:
          $ref: '#/components/schemas/ErrorResponseDetails'
        modelPerformance:
          $ref: '#/components/schemas/ModelPerformance'
        evaluationParameters:
          $ref: '#/components/schemas/ModelEvaluationParameters'
    ModelEvaluationApiModelCollectionApiModel:
      description: Contains an array of results that may be paginated.
      required:
      - value
      type: object
      properties:
        value:
          description: The array of results.
          type: array
          items:
            $ref: '#/components/schemas/ModelEvaluation'
        nextLink:
          description: A link to the next set of paginated results, if there are more results available; not present otherwise.
          type: string
    ModelPerformance:
      description: Performance metrics for a custom trained model.
      required:
      - tagPerformance
      type: object
      properties:
        accuracyTop1:
          format: double
          description: Read only. For multiclass classification models. The proportion of test samples where the ground truth class matches the predicted class.
          type: number
          readOnly: true
        accuracyTop5:
          format: double
          description: Read only. For multiclass classification models. The proportion of test samples where the ground truth class is in the top five predicted classes.
          type: number
          readOnly: true
        averagePrecision:
          format: double
          description: Read only. A measure of the model performance, it summarizes the precision and recall at different confidence thresholds.
          type: number
          readOnly: true
        calibrationECE:
          format: double
          description: Read only. For multiclass classification models. Expected calibration error.
          type: number
          readOnly: true
        meanAveragePrecision30:
          format: double
          description: Read only. For object detection models. Mean average precision at a threshold of 30%.
          type: number
          readOnly: true
        meanAveragePrecision50:
          format: double
          description: Read only. For object detection models. Mean average precision at a threshold of 50%.
          type: number
          readOnly: true
        meanAveragePrecision75:
          format: double
          description: Read only. For object detection models. Mean average precision at a threshold of 75%.
          type: number
          readOnly: true
        tagPerformance:
          description: Read only. Performance metrics for each tag recognized by the model.
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ModelTagPerformance'
    ModelApiModelCollectionApiModel:
      description: Contains an array of results that may be paginated.
      required:
      - value
      type: object
      properties:
        value:
          description: The array of results.
          type: array
          items:
            $ref: '#/components/schemas/Model_5'
        nextLink:
          description: A link to the next set of paginated results, if there are more results available; not present otherwise.
          type: string
    ModelEvaluationParameters:
      description: Parameters for specifying how a model is evaluated.
      type: object
      properties:
        testDatasetName:
          description: The dataset name used for testing.
          maxLength: 255
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9._-]*$
          type: string
    ErrorResponseInnerError:
      description: Detailed error.
      required:
      - code
      - message
      type: object
      properties:
        code:
          description: Error code.
          type: string
        message:
          description: Error message.
          type: string
        innererror:
          $ref: '#/components/schemas/ErrorResponseInnerError'
    TrainingParameters:
      description: Parameters for specifying how a training run trains a custom model.
      required:
      - timeBudgetInHours
      - trainingDatasetName
      type: object
      properties:
        trainingDatasetName:
          description: The dataset name used for training.
          maxLength: 255
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9._-]*$
          type: string
        timeBudgetInHours:
          format: int32
          description: 'Time budget for training, in hours. The minimum allowed value is 1, and the maximum allowed value is 336 hours for GenericClassifier, 1344 hours for GenericDetector.

            This is the maximum amount of compute time that will be spent to train the model.'
          maximum: 1344
          minimum: 1
          type: integer
        modelKind:
          description: Model kind.
          enum:
          - Product-Recognizer
          - Generic-Classifier
          - Generic-Detector
          type: string
          x-ms-enum:
            name: ModelKind
            modelAsString: true
    ErrorResponse_7:
      description: Response returned when an error occurs.
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorResponseDetails'
    ModelEvaluation:
      description: Describes an evaluation run for evaluating the accuracy of a model using a test set.
      required:
      - evaluationParameters
      type: object
      properties:
        name:
          description: Read only. The name that is used to uniquely identify the evaluation run.
          maxLength: 255
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9._-]*$
          type: string
        modelName:
          description: Read only. The model to evaluate.
          maxLength: 255
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9._-]*$
          type: string
        createdDateTime:
          format: date-time
          description: Read only. The date and time when the evaluation run was first created, in UTC.
          type: string
        updatedDateTime:
          format: date-time
          description: Read only. The date and time when the evaluation run was last updated, in UTC.
          type: string
        status:
          description: Read only. The current state of the evaluation run.
          enum:
          - notStarted
          - running
          - succeeded
          - failed
          type: string
          x-ms-enum:
            name: ModelEvaluationState
            modelAsString: true
        evaluationParameters:
          $ref: '#/components/schemas/ModelEvaluationParameters'
        error:
          $ref: '#/components/schemas/ErrorResponseDetails'
        modelPerformance:
          $ref: '#/components/schemas/ModelPerformance'
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        default: 2024-04-01-preview
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        format: uuid
    includeModelDefinition:
      name: includeModelDefinition
      description: When true the model definition will be returned as part of the result.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: boolean
        default: false
    api-version:
      name: api-version
      in: query
      description: The requested API version.
      required: true
      schema:
        type: string
        minLength: 1
    tracestate:
      name: tracestate
      in: header
      description: Provides vendor-specific trace identification information and is a companion to traceparent.
      required: false
      x-ms-parameter-location: method
      x-ms-parameter-grouping:
        postfix: Options
      schema:
        type: string
    traceparent:
      name: traceparent
      in: header
      description: Identifies the request in a distributed tracing system.
      required: false
      x-ms-parameter-location: method
      x-ms-parameter-grouping:
        postfix: Options
      schema:
        type: string
    max-items-per-page:
      name: max-items-per-page
      in: header
      description: The maximum number of items to retrieve per request. The server may choose to return less than the requested number.
      required: false
      x-ms-client-name: MaxItemsPerPage
      x-ms-parameter-location: method
      x-ms-parameter-grouping:
        postfix: Options
      schema:
        type: integer
    modelId:
      name: id
      in: path
      description: The id for the model. The id is globally unique and case sensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    apiVersionQueryParameter:
      in: query
      name: api-version
      description: The requested API version.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
        default: 2022-03-01-preview
    apiVersionQueryParameter_2:
      in: query
      name: api-version
      description: The requested API version.
      required: true
      x-ms-client-default: '2022-12-01'
      x-ms-parameter-location: client
      schema:
        type: string
    apiVersionQueryParameter_3:
      in: query
      name: api-version
      description: The requested API version.
      required: true
      x-ms-client-default: 2023-10-01-preview
      x-ms-parameter-location: client
      schema:
        type: string
    ApiVersionParameter_2:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        default: '2024-06-01'
    ServiceLanguage:
      name: language
      in: query
      description: The desired language for output generation. If this parameter is not specified, the default value is &quot;en&quot;.Supported languages:en - English, Default. es - Spanish, ja - Japanese, pt - Portuguese, zh - Simplified Chinese.
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
        - en
        - es
        - ja
        - pt
        - zh
        default: en
    ApiVersion:
      in: query
      name: api-version
      description: Requested API version.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            https://management.azure.com/.default: Access Azure Resource Manager
    api-key:
      type: apiKey
      name: api-key
      in: header
      description: Provide your cognitive services azure openai account key here.
    apiKey:
      type: apiKey
      name: api-key
      in: header
      description: Azure OpenAI API key authentication.
    apim_key:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
x-refined-from:
- azure-cognitive-services-openapi.yml
- azure-digital-twins-api-openapi-original.yml
- azure-openai-api-version-2022-03-01-preview-openapi-original.yml
- azure-openai-api-version-2022-12-01-openapi-original.yml
- azure-openai-api-version-2023-10-01-preview-openapi-original.yml
- azure-openai-service-openapi.yml
- computer-vision-api-openapi-original.yml
- computer-vision-client-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
