openapi: 3.2.0
info:
  title: Microsoft Azure DataPlaneAccountClient Exposure Control API
  description: Creates a Microsoft.Purview data plane account client.
  version: 2023-10-01-preview
servers:
- url: https://purview.azure.com/account/
tags:
- name: ExposureControl
paths:
  /features:
    post:
      tags:
      - ExposureControl
      description: Gets details from a list of features.
      operationId: microsoftAzureExposurecontrolGetfeatures
      parameters:
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchFeatureStatus'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        ExposureControl_GetFeatures:
          $ref: ./examples/ExposureControl_GetFeatures.json
      summary: Microsoft Azure Post Features
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchFeatureRequest'
        required: true
components:
  schemas:
    BatchFeatureStatus:
      description: List of features with enabled status
      type: object
      properties:
        features:
          description: Features with enabled status
          type: object
          additionalProperties:
            type: boolean
          readOnly: true
    ErrorModel:
      description: Default error model
      type: object
      properties:
        code:
          description: Gets or sets the code.
          type: string
          readOnly: true
        details:
          description: Gets or sets the details.
          type: array
          items:
            $ref: '#/components/schemas/ErrorModel'
          readOnly: true
        message:
          description: Gets or sets the messages.
          type: string
          readOnly: true
        target:
          description: Gets or sets the target.
          type: string
          readOnly: true
    BatchFeatureRequest:
      description: Feature request model
      type: object
      properties:
        features:
          description: Set of features
          uniqueItems: true
          type: array
          items:
            type: string
    ErrorResponseModel:
      description: Default error response model
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorModel'
  parameters:
    api-version:
      in: query
      name: api-version
      description: The api version to use.
      required: true
      x-ms-client-name: ApiVersion
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
