openapi: 3.2.0
info:
  title: Microsoft Azure Codesigningaccounts API
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
  version: '1.0'
  description: 'Operations tagged Codesigningaccounts across 2 of this provider''s published API definitions: azure-developer-signing-openapi-original.yml, codesigningmanagementclient-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
tags:
- name: Codesigningaccounts
paths:
  /codesigningaccounts/{accountName}/certificateprofiles/{certificateProfile}:sign:
    post:
      operationId: microsoftAzureCertificateprofileoperationsSign
      summary: Microsoft Azure Submit A Sign Operation
      description: Submit a sign operation under the created account and profile name provided.
      parameters:
      - $ref: '#/components/parameters/Azure.Core.Foundations.ApiVersionParameter'
      - name: accountName
        in: path
        description: Azure Developer Signing account name.
        required: true
        schema:
          type: string
      - name: certificateProfile
        in: path
        description: Azure Developer Signing certificate profile name under an account.
        required: true
        schema:
          type: string
      - name: client-version
        in: header
        description: An optional client version.
        required: false
        x-ms-client-name: clientVersion
        schema:
          type: string
      - name: x-correlation-id
        in: header
        description: An identifier used to batch multiple requests.
        required: false
        x-ms-client-name: xCorrelationId
        schema:
          type: string
      responses:
        '202':
          description: The request has been accepted for processing, but processing has not yet completed.
          headers:
            Operation-Location:
              description: The location for monitoring the operation state.
              schema:
                type: string
                format: uri
            x-ms-error-code:
              description: String error code indicating what went wrong.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                description: Provides status details for long running operations.
                properties:
                  id:
                    type: string
                    description: The unique ID of the operation.
                  status:
                    $ref: '#/components/schemas/Azure.Core.Foundations.OperationState'
                    description: The status of the operation
                  error:
                    $ref: '#/components/schemas/Azure.Core.Foundations.ErrorResponse'
                    description: Error object that describes the error when status is "Failed".
                  result:
                    $ref: '#/components/schemas/SignResult'
                    description: The result of the operation.
                required:
                - id
                - status
        default:
          description: An unexpected error response.
          headers:
            x-ms-error-code:
              description: String error code indicating what went wrong.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Azure.Core.Foundations.ErrorResponse'
      x-ms-examples:
        Submit a codesign operation.:
          $ref: ./examples/CertificateProfileOperations_Sign.json
      x-ms-long-running-operation: true
      tags:
      - Codesigningaccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SigningPayloadOptions'
        required: true
      security:
      - OAuth2Auth:
        - https://codesigning.azure.net/.default
  /codesigningaccounts/{accountName}/certificateprofiles/{certificateProfile}/sign/{operationId}:
    get:
      operationId: microsoftAzureCertificateprofileoperationsGetsigningstatus
      summary: Microsoft Azure Gets The Status Of A Signing Operation
      description: This status operation requires that a Sign request has been submitted and the operationId is known.
      parameters:
      - $ref: '#/components/parameters/Azure.Core.Foundations.ApiVersionParameter'
      - $ref: '#/components/parameters/SigningOptions.accountName'
      - $ref: '#/components/parameters/SigningOptions.certificateProfile'
      - name: operationId
        in: path
        description: The unique ID of the operation.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                description: Provides status details for long running operations.
                properties:
                  id:
                    type: string
                    description: The unique ID of the operation.
                  status:
                    $ref: '#/components/schemas/Azure.Core.Foundations.OperationState'
                    description: The status of the operation
                  error:
                    $ref: '#/components/schemas/Azure.Core.Foundations.Error'
                    description: Error object that describes the error when status is "Failed".
                  result:
                    $ref: '#/components/schemas/SignResult'
                    description: The result of the operation.
                required:
                - id
                - status
        default:
          description: An unexpected error response.
          headers:
            x-ms-error-code:
              description: String error code indicating what went wrong.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Azure.Core.Foundations.ErrorResponse'
      x-ms-examples:
        Gets the status of a codesign operation.:
          $ref: ./examples/CertificateProfileOperations_GetSigningStatus.json
      tags:
      - Codesigningaccounts
      security:
      - OAuth2Auth:
        - https://codesigning.azure.net/.default
  /codesigningaccounts/{accountName}/certificateprofiles/{certificateProfile}/sign/eku:
    get:
      operationId: microsoftAzureCertificateprofileoperationsListextendedkeyusages
      summary: Microsoft Azure Gets A List Of Extended Key Usage Object Identifiers That Are…
      description: The list of extended key usages are used to determine the purpose of the certificate usage as part of the signing operation.
      parameters:
      - $ref: '#/components/parameters/Azure.Core.Foundations.ApiVersionParameter'
      - name: accountName
        in: path
        description: Azure Developer Signing account name.
        required: true
        schema:
          type: string
      - name: certificateProfile
        in: path
        description: Azure Developer Signing certificate profile name under an account.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedExtendedKeyUsage'
        default:
          description: An unexpected error response.
          headers:
            x-ms-error-code:
              description: String error code indicating what went wrong.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Azure.Core.Foundations.ErrorResponse'
      x-ms-examples:
        Gets a list of extended key usage object identifiers that are allowed.:
          $ref: ./examples/CertificateProfileOperations_ListExtendedKeyUsages.json
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
      - Codesigningaccounts
      security:
      - OAuth2Auth:
        - https://codesigning.azure.net/.default
  /codesigningaccounts/{accountName}/certificateprofiles/{certificateProfile}/sign/rootcert:
    get:
      operationId: microsoftAzureCertificateprofileoperationsGetsignrootcertificate
      summary: Microsoft Azure Gets The Signing Root Certificate On The Certificate Chain For…
      description: The root certificate is generated as part of the initial account creation and it is used to sign the bits for the profile provided.
      parameters:
      - $ref: '#/components/parameters/Azure.Core.Foundations.ApiVersionParameter'
      - $ref: '#/components/parameters/SigningOptions.accountName'
      - $ref: '#/components/parameters/SigningOptions.certificateProfile'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/x-x509-ca-cert:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: string
                format: binary
        default:
          description: An unexpected error response.
          headers:
            x-ms-error-code:
              description: String error code indicating what went wrong.
              schema:
                type: string
          content:
            application/x-x509-ca-cert:
              schema:
                $ref: '#/components/schemas/Azure.Core.Foundations.ErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Azure.Core.Foundations.ErrorResponse'
      x-ms-examples:
        Gets the codesigning root certificate on the certificate chain for that account and profile name.:
          $ref: ./examples/CertificateProfileOperations_GetSignRootCertificate.json
      tags:
      - Codesigningaccounts
      security:
      - OAuth2Auth:
        - https://codesigning.azure.net/.default
  /subscriptions/{subscriptionId}/providers/Microsoft.CodeSigning/checkNameAvailability:
    post:
      operationId: microsoftAzureCodesigningaccountsChecknameavailability
      tags:
      - Codesigningaccounts
      description: Checks that the trusted signing account name is valid and is not already in use.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Checks that the trusted signing account name is available.:
          $ref: ./examples/CodeSigningAccounts_CheckNameAvailability.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailability'
        description: The CheckAvailability request
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.CodeSigning/codeSigningAccounts:
    get:
      operationId: microsoftAzureCodesigningaccountsListbysubscription
      tags:
      - Codesigningaccounts
      description: Lists trusted signing accounts within a subscription.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeSigningAccountListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Lists trusted signing accounts within a subscription.:
          $ref: ./examples/CodeSigningAccounts_ListBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CodeSigning/codeSigningAccounts:
    get:
      operationId: microsoftAzureCodesigningaccountsListbyresourcegroup
      tags:
      - Codesigningaccounts
      description: Lists trusted signing accounts within a resource group.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeSigningAccountListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Lists trusted signing accounts within a resource group.:
          $ref: ./examples/CodeSigningAccounts_ListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CodeSigning/codeSigningAccounts/{accountName}
  : get:
      operationId: microsoftAzureCodesigningaccountsGet
      tags:
      - Codesigningaccounts
      description: Get a trusted Signing Account.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: accountName
        in: path
        description: Trusted Signing account name.
        required: true
        schema:
          type: string
          pattern: ^(?=.{3,24}$)[^0-9][A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeSigningAccount'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Get a Trusted Signing Account:
          $ref: ./examples/CodeSigningAccounts_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    put:
      operationId: microsoftAzureCodesigningaccountsCreate
      tags:
      - Codesigningaccounts
      description: Create a trusted Signing Account.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: accountName
        in: path
        description: Trusted Signing account name.
        required: true
        schema:
          type: string
          pattern: ^(?=.{3,24}$)[^0-9][A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      responses:
        '200':
          description: Resource 'CodeSigningAccount' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeSigningAccount'
        '201':
          description: Resource 'CodeSigningAccount' create operation succeeded
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeSigningAccount'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Create a trusted Signing Account.:
          $ref: ./examples/CodeSigningAccounts_Create.json
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CodeSigningAccount'
        description: Parameters to create the trusted signing account
        required: true
      security:
      - azure_auth:
        - user_impersonation
    patch:
      operationId: microsoftAzureCodesigningaccountsUpdate
      tags:
      - Codesigningaccounts
      description: Update a trusted signing account.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: accountName
        in: path
        description: Trusted Signing account name.
        required: true
        schema:
          type: string
          pattern: ^(?=.{3,24}$)[^0-9][A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeSigningAccount'
        '202':
          description: Resource update request accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Update a trusted signing account.:
          $ref: ./examples/CodeSigningAccounts_Update.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CodeSigningAccountPatch'
        description: Parameters supplied to update the trusted signing account
        required: true
      security:
      - azure_auth:
        - user_impersonation
    delete:
      operationId: microsoftAzureCodesigningaccountsDelete
      tags:
      - Codesigningaccounts
      description: Delete a trusted signing account.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: accountName
        in: path
        description: Trusted Signing account name.
        required: true
        schema:
          type: string
          pattern: ^(?=.{3,24}$)[^0-9][A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
      responses:
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Delete a trusted signing account.:
          $ref: ./examples/CodeSigningAccounts_Delete.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
components:
  schemas:
    Azure.Core.Foundations.Error:
      type: object
      description: The error object.
      properties:
        code:
          type: string
          description: One of a server-defined set of error codes.
        message:
          type: string
          description: A human-readable representation of the error.
        target:
          type: string
          description: The target of the error.
        details:
          type: array
          description: An array of details about specific errors that led to this reported error.
          items:
            $ref: '#/components/schemas/Azure.Core.Foundations.Error'
          x-ms-identifiers: []
        innererror:
          $ref: '#/components/schemas/Azure.Core.Foundations.InnerError'
          description: An object containing more specific information than the current object about the error.
      required:
      - code
      - message
    ExtendedKeyUsage:
      type: object
      description: Extended key usage object identifier that are allowable.
      properties:
        eku:
          type: string
          description: An oid string that represents an eku.
          readOnly: true
      required:
      - eku
    Azure.Core.Foundations.InnerError:
      type: object
      description: An object containing more specific information about the error. As per Microsoft One API guidelines - https://github.com/Microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses.
      properties:
        code:
          type: string
          description: One of a server-defined set of error codes.
        innererror:
          $ref: '#/components/schemas/Azure.Core.Foundations.InnerError'
          description: Inner error.
    SignResult:
      type: object
      description: The sign status model.
      properties:
        signature:
          type: string
          format: byte
          description: Digital signature of the requested content digest.
        signingCertificate:
          type: string
          format: byte
          description: "Signing certificate corresponding to the private key used to sign the requested \ndigest."
    Azure.Core.Foundations.ErrorResponse:
      type: object
      description: A response containing error details.
      properties:
        error:
          $ref: '#/components/schemas/Azure.Core.Foundations.Error'
          description: The error object.
      required:
      - error
    SigningPayloadOptions:
      type: object
      description: The artifact request information to be signed by the service.
      properties:
        signatureAlgorithm:
          $ref: '#/components/schemas/SignatureAlgorithm'
          description: The supported signature algorithm identifiers.
        digest:
          type: string
          format: byte
          description: Content digest to sign.
        fileHashList:
          type: array
          description: List of full file digital signatures.
          items:
            type: string
            format: byte
        authenticodeHashList:
          type: array
          description: List of authenticode digital signatures.
          items:
            type: string
            format: byte
      required:
      - signatureAlgorithm
      - digest
    Azure.Core.Foundations.OperationState:
      type: string
      description: Enum describing allowed operation states.
      enum:
      - NotStarted
      - Running
      - Succeeded
      - Failed
      - Canceled
      x-ms-enum:
        name: OperationState
        modelAsString: true
        values:
        - name: NotStarted
          value: NotStarted
          description: The operation has not started.
        - name: Running
          value: Running
          description: The operation is in progress.
        - name: Succeeded
          value: Succeeded
          description: The operation has completed successfully.
        - name: Failed
          value: Failed
          description: The operation has failed.
        - name: Canceled
          value: Canceled
          description: The operation has been canceled by the user.
    PagedExtendedKeyUsage:
      type: object
      description: Paged collection of ExtendedKeyUsage items
      properties:
        value:
          type: array
          description: The ExtendedKeyUsage items on this page
          items:
            $ref: '#/components/schemas/ExtendedKeyUsage'
          x-ms-identifiers: []
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    SignatureAlgorithm:
      type: string
      description: Algorithms supported for signing.
      enum:
      - RS256
      - RS384
      - RS512
      - PS256
      - PS384
      - PS512
      - ES256
      - ES384
      - ES512
      - ES256K
      x-ms-enum:
        name: SignatureAlgorithm
        modelAsString: true
        values:
        - name: RS256
          value: RS256
          description: RSASSA-PKCS1-v1_5 using SHA-256 hash algorithm.
        - name: RS384
          value: RS384
          description: RSASSA-PKCS1-v1_5 using SHA-384 hash algorithm.
        - name: RS512
          value: RS512
          description: RSASSA-PKCS1-v1_5 using SHA-512 hash algorithm.
        - name: PS256
          value: PS256
          description: RSASSA-PSS using SHA-256 hash algorithm.
        - name: PS384
          value: PS384
          description: RSASSA-PSS using SHA-384 hash algorithm.
        - name: PS512
          value: PS512
          description: RSASSA-PSS using SHA-512 hash algorithm.
        - name: ES256
          value: ES256
          description: ECDSA using P-256 and SHA-256 hash algorithm.
        - name: ES384
          value: ES384
          description: ECDSA using P-384 and SHA-384 hash algorithm.
        - name: ES512
          value: ES512
          description: ECDSA using P-521 and SHA-512 hash algorithm.
        - name: ES256K
          value: ES256K
          description: ECDSA using secp256k1 and SHA-256 hash algorithm.
    CodeSigningAccountPatchProperties:
      type: object
      description: Properties of the trusted signing account.
      properties:
        sku:
          $ref: '#/components/schemas/AccountSku'
          description: SKU of the trusted signing account.
    ProvisioningState:
      type: string
      description: The status of the current operation.
      enum:
      - Succeeded
      - Failed
      - Canceled
      - Updating
      - Deleting
      - Accepted
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: Succeeded
          value: Succeeded
          description: Resource has been created.
        - name: Failed
          value: Failed
          description: Resource creation failed.
        - name: Canceled
          value: Canceled
          description: Resource creation was canceled.
        - name: Updating
          value: Updating
          description: Updating in progress.
        - name: Deleting
          value: Deleting
          description: Deletion in progress.
        - name: Accepted
          value: Accepted
          description: Resource creation started.
      readOnly: true
    CodeSigningAccountProperties:
      type: object
      description: Properties of the trusted signing account.
      properties:
        accountUri:
          type: string
          description: The URI of the trusted signing account which is used during signing files.
          readOnly: true
        sku:
          $ref: '#/components/schemas/AccountSku'
          description: SKU of the trusted signing account.
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: Status of the current operation on trusted signing account.
          readOnly: true
    NameUnavailabilityReason:
      type: string
      description: The reason that a trusted signing account name could not be used. The Reason element is only returned if nameAvailable is false.
      enum:
      - AccountNameInvalid
      - AlreadyExists
      x-ms-enum:
        name: NameUnavailabilityReason
        modelAsString: true
        values:
        - name: AccountNameInvalid
          value: AccountNameInvalid
          description: Account name is invalid
        - name: AlreadyExists
          value: AlreadyExists
          description: Account name already exists
    CodeSigningAccountListResult:
      type: object
      description: The response of a CodeSigningAccount list operation.
      properties:
        value:
          type: array
          description: The CodeSigningAccount items on this page
          items:
            $ref: '#/components/schemas/CodeSigningAccount'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    CodeSigningAccount:
      type: object
      description: Trusted signing account resource.
      properties:
        properties:
          $ref: '#/components/schemas/CodeSigningAccountProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource
    CheckNameAvailability:
      type: object
      description: The parameters used to check the availability of the trusted signing account name.
      properties:
        name:
          type: string
          description: Trusted signing account name.
      required:
      - name
    CodeSigningAccountPatch:
      type: object
      description: Parameters for creating or updating a trusted signing account.
      properties:
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
        properties:
          $ref: '#/components/schemas/CodeSigningAccountPatchProperties'
          description: Properties of the trusted signing account.
          x-ms-client-flatten: true
    AccountSku:
      type: object
      description: SKU of the trusted signing account.
      properties:
        name:
          $ref: '#/components/schemas/SkuName'
          description: Name of the SKU.
      required:
      - name
    CheckNameAvailabilityResult:
      type: object
      description: The CheckNameAvailability operation response.
      properties:
        nameAvailable:
          type: boolean
          description: A boolean value that indicates whether the name is available for you to use. If true, the name is available. If false, the name has already been taken or is invalid and cannot be used.
          readOnly: true
        reason:
          $ref: '#/components/schemas/NameUnavailabilityReason'
          description: The reason that a trusted signing account name could not be used. The Reason element is only returned if nameAvailable is false.
          readOnly: true
        message:
          type: string
          description: An error message explaining the Reason value in more detail.
          readOnly: true
    SkuName:
      type: string
      description: Name of the sku.
      enum:
      - Basic
      - Premium
      x-ms-enum:
        name: SkuName
        modelAsString: true
        values:
        - name: Basic
          value: Basic
          description: Basic sku.
        - name: Premium
          value: Premium
          description: Premium sku.
  parameters:
    Azure.Core.Foundations.ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      x-ms-parameter-location: method
      x-ms-client-name: apiVersion
      schema:
        type: string
        minLength: 1
    SigningOptions.accountName:
      name: accountName
      in: path
      description: Signing account name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SigningOptions.certificateProfile:
      name: certificateProfile
      in: path
      description: Signing Certificate profile name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    OAuth2Auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            https://codesigning.azure.net/.default: ''
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-refined-from:
- azure-developer-signing-openapi-original.yml
- codesigningmanagementclient-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
