openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft.Confluent Validations API
  version: 2021-09-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Validations
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Confluent/validations/{organizationName}/orgvalidate
  : post:
      tags:
      - Validations
      summary: Microsoft Azure Organization Validate Proxy Resource
      operationId: microsoftAzureValidationsValidateorganization
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/OrganizationResourceNameParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResource'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-examples:
        Validations_ValidateOrganizations:
          $ref: ./examples/Validations_ValidateOrganizations.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationResource'
        description: Organization resource model
        required: true
components:
  schemas:
    ResourceProviderDefaultErrorResponse:
      type: object
      description: Default error response for resource provider
      title: ResourceProviderDefaultErrorResponse
      properties:
        error:
          description: Response body of Error
          readOnly: true
          $ref: '#/components/schemas/ErrorResponseBody'
    UserDetail:
      description: Subscriber detail
      type: object
      required:
      - emailAddress
      properties:
        firstName:
          description: First name
          maxLength: 50
          type: string
        lastName:
          description: Last name
          maxLength: 50
          type: string
        emailAddress:
          description: Email address
          pattern: ^\S+@\S+\.\S+$
          type: string
    ProvisioningState:
      enum:
      - Accepted
      - Creating
      - Updating
      - Deleting
      - Succeeded
      - Failed
      - Canceled
      - Deleted
      - NotSpecified
      type: string
      description: Provision states for confluent RP
      title: ProvisioningState
      x-ms-enum:
        name: ProvisionState
        modelAsString: true
    SaaSOfferStatus:
      enum:
      - Started
      - PendingFulfillmentStart
      - InProgress
      - Subscribed
      - Suspended
      - Reinstated
      - Succeeded
      - Failed
      - Unsubscribed
      - Updating
      type: string
      description: SaaS Offer Status for confluent RP
      title: SaaSOfferStatus
      x-ms-enum:
        modelAsString: true
        name: SaaSOfferStatus
    ErrorResponseBody:
      description: Response body of Error
      title: ErrorResponseBody
      type: object
      properties:
        code:
          description: Error code
          type: string
          readOnly: true
        message:
          description: Error message
          type: string
          readOnly: true
        target:
          description: Error target
          type: string
          readOnly: true
        details:
          description: Error detail
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/ErrorResponseBody'
          x-ms-identifiers:
          - message
          - target
    OfferDetail:
      description: Confluent Offer detail
      type: object
      required:
      - publisherId
      - id
      - planId
      - planName
      - termUnit
      properties:
        publisherId:
          description: Publisher Id
          maxLength: 50
          type: string
        id:
          description: Offer Id
          maxLength: 50
          type: string
        planId:
          description: Offer Plan Id
          maxLength: 50
          type: string
        planName:
          description: Offer Plan Name
          maxLength: 50
          type: string
        termUnit:
          description: Offer Plan Term unit
          maxLength: 25
          type: string
        status:
          description: SaaS Offer Status
          $ref: '#/components/schemas/SaaSOfferStatus'
          readOnly: true
    OrganizationResource:
      description: Organization resource.
      type: object
      x-ms-azure-resource: true
      required:
      - properties
      properties:
        id:
          description: The ARM id of the resource.
          type: string
          readOnly: true
        name:
          description: The name of the resource.
          type: string
          readOnly: true
        type:
          description: The type of the resource.
          type: string
          readOnly: true
        systemData:
          description: Metadata pertaining to creation and last modification of the resource
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          readOnly: true
        properties:
          x-ms-client-flatten: true
          description: Organization resource properties
          $ref: '#/components/schemas/OrganizationResourceProperties'
        tags:
          type: object
          description: Organization resource tags
          additionalProperties:
            type: string
        location:
          description: Location of Organization resource
          type: string
    OrganizationResourceProperties:
      description: Organization resource property
      type: object
      required:
      - offerDetail
      - userDetail
      properties:
        createdTime:
          format: date-time
          description: The creation time of the resource.
          type: string
          readOnly: true
        provisioningState:
          description: Provision states for confluent RP
          $ref: '#/components/schemas/ProvisioningState'
          readOnly: true
        organizationId:
          description: Id of the Confluent organization.
          type: string
          readOnly: true
        ssoUrl:
          description: SSO url for the Confluent organization.
          type: string
          readOnly: true
        offerDetail:
          description: Confluent offer detail
          $ref: '#/components/schemas/OfferDetail'
        userDetail:
          description: Subscriber detail
          $ref: '#/components/schemas/UserDetail'
  parameters:
    ResourceGroupParameter:
      in: path
      name: resourceGroupName
      description: Resource group name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
        enum:
        - 2021-09-01-preview
    OrganizationResourceNameParameter:
      in: path
      name: organizationName
      description: Organization resource name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      in: path
      name: subscriptionId
      description: Microsoft Azure subscription id
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
