openapi: 3.2.0
info:
  version: 2021-11-20-preview
  title: Microsoft Azure ElasticSanManagement Elastic San Operations…
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Elastic San Operations
paths:
  /providers/Microsoft.ElasticSan/operations:
    get:
      tags:
      - Elastic San Operations
      operationId: microsoftAzureOperationsList
      description: Gets a list of ElasticSan operations.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElasticSanOperationListResult'
        default:
          description: Error from the ElasticSan Resource Provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: null
      x-ms-examples:
        Operations_List_MaximumSet_Gen:
          $ref: ./examples/Operations_List_MaximumSet_Gen.json
        Operations_List_MinimumSet_Gen:
          $ref: ./examples/Operations_List_MinimumSet_Gen.json
      summary: Microsoft Azure Get Providers Microsoft Elasticsan Operations
components:
  schemas:
    ElasticSanOperationDisplay:
      type: object
      required:
      - provider
      - resource
      - operation
      - description
      description: Metadata about an operation.
      additionalProperties: false
      properties:
        provider:
          type: string
          description: Localized friendly form of the resource provider name.
        resource:
          type: string
          description: Localized friendly form of the resource type related to this action/operation.
        operation:
          type: string
          description: Localized friendly name for the operation, as it should be shown to the user.
        description:
          type: string
          description: Localized friendly description for the operation, as it should be shown to the user.
    ElasticSanRPOperation:
      type: object
      required:
      - name
      description: Description of a ElasticSan RP Operation
      additionalProperties: false
      properties:
        name:
          type: string
          description: The name of the operation being performed on this particular object
        isDataAction:
          type: boolean
          description: Indicates whether the operation applies to data-plane.
          readOnly: true
        display:
          description: Additional metadata about RP operation.
          $ref: '#/components/schemas/ElasticSanOperationDisplay'
          readOnly: true
    ElasticSanOperationListResult:
      type: object
      required:
      - value
      description: List of operations supported by the RP.
      additionalProperties: false
      properties:
        value:
          type: array
          description: An array of operations supported by the ElasticSan RP.
          items:
            $ref: '#/components/schemas/ElasticSanRPOperation'
          x-ms-identifiers: []
        nextLink:
          description: URI to fetch the next section of the paginated response.
          type: string
    ErrorAdditionalInfo:
      description: The resource management error additional info.
      type: object
      x-ms-identifiers: []
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
    Error:
      type: object
      description: The resource management error response.
      properties:
        error:
          description: RP error response.
          $ref: '#/components/schemas/ErrorResponse'
    ErrorResponse:
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponse'
          x-ms-identifiers: []
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          x-ms-identifiers: []
          description: The error additional info.
      description: The resource management error response.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
