openapi: 3.2.0
info:
  title: Microsoft Azure Azure Site Recovery Management Service…
  description: A first party Azure service enabling the data replication.
  version: 2021-02-16-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ProtectedItem
  description: Protected items controller.
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/protectedItems/{protectedItemName}
  : get:
      tags:
      - ProtectedItem
      summary: Microsoft Azure Gets The Protected Item
      description: Gets the details of the protected item.
      operationId: microsoftAzureProtecteditemGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/VaultNameParameter'
      - $ref: '#/components/parameters/ProtectedItemNameParameter'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Returns ProtectedItem Model on success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtectedItemModel'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        ProtectedItem_Get:
          $ref: ./examples/ProtectedItem_Get.json
    put:
      tags:
      - ProtectedItem
      summary: Microsoft Azure Puts The Protected Item
      description: Creates the protected item.
      operationId: microsoftAzureProtecteditemCreate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/VaultNameParameter'
      - $ref: '#/components/parameters/ProtectedItemNameParameter'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtectedItemModel'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtectedItemModel'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        ProtectedItem_Create:
          $ref: ./examples/ProtectedItem_Create.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProtectedItemModel'
        description: Protected item model.
    delete:
      tags:
      - ProtectedItem
      summary: Microsoft Azure Deletes The Protected Item
      description: Removes the protected item.
      operationId: microsoftAzureProtecteditemDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/VaultNameParameter'
      - $ref: '#/components/parameters/ProtectedItemNameParameter'
      - in: query
        name: forceDelete
        description: A flag indicating whether to do force delete or not.
        schema:
          type: boolean
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '202':
          description: Accepted
          headers:
            Azure-AsyncOperation:
              description: Tracking URL for long running operation.
              schema:
                type: string
            Location:
              schema:
                type: string
        '204':
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        ProtectedItem_Delete:
          $ref: ./examples/ProtectedItem_Delete.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/protectedItems
  : get:
      tags:
      - ProtectedItem
      summary: Microsoft Azure Lists The Protected Items
      description: Gets the list of protected items in the given vault.
      operationId: microsoftAzureProtecteditemList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/VaultNameParameter'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Returns ProtectedItem Model Collection on success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtectedItemModelCollection'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ProtectedItem_List:
          $ref: ./examples/ProtectedItem_List.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/protectedItems/{protectedItemName}/plannedFailover
  : post:
      tags:
      - ProtectedItem
      summary: Microsoft Azure Performs Planned Failover
      description: Performs the planned failover on the protected item.
      operationId: microsoftAzureProtecteditemPlannedfailover
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/VaultNameParameter'
      - $ref: '#/components/parameters/ProtectedItemNameParameter'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlannedFailoverModel'
        '202':
          description: Accepted
          headers:
            Azure-AsyncOperation:
              description: Tracking URL for long running operation.
              schema:
                type: string
            Location:
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        ProtectedItem_PlannedFailover:
          $ref: ./examples/ProtectedItem_PlannedFailover.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlannedFailoverModel'
        description: Planned failover model.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/protectedItems/{protectedItemName}/operations/{operationId}
  : get:
      tags:
      - ProtectedItem
      summary: Microsoft Azure Gets The Protected Item Operation Status
      description: Tracks the results of an asynchronous operation on the protected item.
      operationId: microsoftAzureProtecteditemoperationstatusGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/VaultNameParameter'
      - $ref: '#/components/parameters/ProtectedItemNameParameter'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/OperationIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        ProtectedItemOperationStatus_Get:
          $ref: ./examples/ProtectedItemOperationStatus_Get.json
components:
  schemas:
    ProtectedItemJobProperties:
      description: Protected item job properties.
      type: object
      properties:
        scenarioName:
          description: Gets or sets protection scenario name.
          type: string
          readOnly: true
        id:
          description: Gets or sets workflow Id.
          type: string
          readOnly: true
        name:
          description: Gets or sets workflow name.
          type: string
          readOnly: true
        displayName:
          description: Gets or sets the workflow friendly display name.
          type: string
          readOnly: true
        state:
          description: Gets or sets workflow state.
          type: string
          readOnly: true
        startTime:
          format: date-time
          description: Gets or sets start time of the workflow.
          type: string
          readOnly: true
        endTime:
          format: date-time
          description: Gets or sets end time of the workflow.
          type: string
          readOnly: true
    PlannedFailoverModelProperties:
      description: Planned failover model properties.
      required:
      - customProperties
      type: object
      properties:
        customProperties:
          $ref: '#/components/schemas/PlannedFailoverModelCustomProperties'
    OperationStatus:
      description: Defines the operation status.
      type: object
      properties:
        id:
          description: Gets or sets the Id.
          type: string
        name:
          description: Gets or sets the operation name.
          type: string
        status:
          description: 'Gets or sets the status of the operation. ARM expects the terminal status to be one of

            Succeeded/ Failed/ Canceled. All other values imply that the operation is still running.'
          type: string
        startTime:
          description: Gets or sets the start time.
          type: string
        endTime:
          description: Gets or sets the end time.
          type: string
    HealthErrorModel:
      description: Health error model.
      type: object
      properties:
        affectedResourceType:
          description: Gets or sets the type of affected resource type.
          type: string
        affectedResourceCorrelationIds:
          description: 'Gets or sets the list of affected resource correlation Ids. This can be used to

            uniquely identify the count of items affected by a specific category and severity

            as well as count of item affected by an specific issue.'
          type: array
          items:
            type: string
        childErrors:
          description: Gets or sets a list of child health errors associated with this error.
          type: array
          items:
            $ref: '#/components/schemas/InnerHealthErrorModel'
          x-ms-identifiers: []
        code:
          description: Gets or sets the error code.
          type: string
          readOnly: true
        healthCategory:
          description: Gets or sets the health category.
          type: string
          readOnly: true
        category:
          description: Gets or sets the error category.
          type: string
          readOnly: true
        severity:
          description: Gets or sets the error severity.
          type: string
          readOnly: true
        source:
          description: Gets or sets the error source.
          type: string
          readOnly: true
        creationTime:
          format: date-time
          description: Gets or sets the error creation time.
          type: string
          readOnly: true
        isCustomerResolvable:
          description: Gets or sets a value indicating whether the error is customer resolvable.
          type: boolean
          readOnly: true
        summary:
          description: Gets or sets the error summary.
          type: string
          readOnly: true
        message:
          description: Gets or sets the error message.
          type: string
          readOnly: true
        causes:
          description: Gets or sets possible causes of the error.
          type: string
          readOnly: true
        recommendation:
          description: Gets or sets recommended action to resolve the error.
          type: string
          readOnly: true
    PlannedFailoverModel:
      description: Planned failover model.
      required:
      - properties
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/PlannedFailoverModelProperties'
    ProtectedItemModelCollection:
      description: Protected item model collection.
      type: object
      properties:
        value:
          description: Gets or sets the list of protected items.
          type: array
          items:
            $ref: '#/components/schemas/ProtectedItemModel'
          x-ms-identifiers: []
        nextLink:
          description: Gets or sets the value of next link.
          type: string
    ProtectedItemModelCustomProperties:
      description: Protected item model custom properties.
      required:
      - instanceType
      type: object
      properties:
        instanceType:
          description: Gets or sets the instance type.
          minLength: 1
          type: string
      discriminator:
        propertyName: instanceType
    InnerHealthErrorModel:
      description: Inner health error model.
      type: object
      properties:
        code:
          description: Gets or sets the error code.
          type: string
          readOnly: true
        healthCategory:
          description: Gets or sets the health category.
          type: string
          readOnly: true
        category:
          description: Gets or sets the error category.
          type: string
          readOnly: true
        severity:
          description: Gets or sets the error severity.
          type: string
          readOnly: true
        source:
          description: Gets or sets the error source.
          type: string
          readOnly: true
        creationTime:
          format: date-time
          description: Gets or sets the error creation time.
          type: string
          readOnly: true
        isCustomerResolvable:
          description: Gets or sets a value indicating whether the error is customer resolvable.
          type: boolean
          readOnly: true
        summary:
          description: Gets or sets the error summary.
          type: string
          readOnly: true
        message:
          description: Gets or sets the error message.
          type: string
          readOnly: true
        causes:
          description: Gets or sets possible causes of the error.
          type: string
          readOnly: true
        recommendation:
          description: Gets or sets recommended action to resolve the error.
          type: string
          readOnly: true
    PlannedFailoverModelCustomProperties:
      description: Planned failover model custom properties.
      required:
      - instanceType
      type: object
      properties:
        instanceType:
          description: Gets or sets the instance type.
          minLength: 1
          type: string
      discriminator:
        propertyName: instanceType
    ProtectedItemModelProperties:
      description: Protected item model properties.
      required:
      - customProperties
      - policyName
      - replicationExtensionName
      type: object
      properties:
        policyName:
          description: Gets or sets the policy name.
          minLength: 1
          type: string
        replicationExtensionName:
          description: Gets or sets the replication extension name.
          minLength: 1
          type: string
        correlationId:
          description: Gets or sets the protected item correlation Id.
          type: string
          readOnly: true
        provisioningState:
          description: Gets or sets the provisioning state of the Dra.
          enum:
          - Canceled
          - Creating
          - Deleting
          - Deleted
          - Failed
          - Succeeded
          - Updating
          type: string
          readOnly: true
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
        protectionState:
          description: Gets or sets the protection state.
          enum:
          - UnprotectedStatesBegin
          - EnablingProtection
          - EnablingFailed
          - DisablingProtection
          - MarkedForDeletion
          - DisablingFailed
          - UnprotectedStatesEnd
          - InitialReplicationStatesBegin
          - InitialReplicationInProgress
          - InitialReplicationCompletedOnPrimary
          - InitialReplicationCompletedOnRecovery
          - InitialReplicationFailed
          - InitialReplicationStatesEnd
          - ProtectedStatesBegin
          - Protected
          - ProtectedStatesEnd
          - PlannedFailoverTransitionStatesBegin
          - PlannedFailoverInitiated
          - PlannedFailoverCompleting
          - PlannedFailoverCompleted
          - PlannedFailoverFailed
          - PlannedFailoverCompletionFailed
          - PlannedFailoverTransitionStatesEnd
          - UnplannedFailoverTransitionStatesBegin
          - UnplannedFailoverInitiated
          - UnplannedFailoverCompleting
          - UnplannedFailoverCompleted
          - UnplannedFailoverFailed
          - UnplannedFailoverCompletionFailed
          - UnplannedFailoverTransitionStatesEnd
          - CommitFailoverStatesBegin
          - CommitFailoverInProgressOnPrimary
          - CommitFailoverInProgressOnRecovery
          - CommitFailoverCompleted
          - CommitFailoverFailedOnPrimary
          - CommitFailoverFailedOnRecovery
          - CommitFailoverStatesEnd
          - CancelFailoverStatesBegin
          - CancelFailoverInProgressOnPrimary
          - CancelFailoverInProgressOnRecovery
          - CancelFailoverFailedOnPrimary
          - CancelFailoverFailedOnRecovery
          - CancelFailoverStatesEnd
          - ChangeRecoveryPointStatesBegin
          - ChangeRecoveryPointInitiated
          - ChangeRecoveryPointCompleted
          - ChangeRecoveryPointFailed
          - ChangeRecoveryPointStatesEnd
          - ReprotectStatesBegin
          - ReprotectInitiated
          - ReprotectFailed
          - ReprotectStatesEnd
          type: string
          readOnly: true
          x-ms-enum:
            name: ProtectionState
            modelAsString: true
        protectionStateDescription:
          description: Gets or sets the protection state description.
          type: string
          readOnly: true
        testFailoverState:
          description: Gets or sets the test failover state.
          enum:
          - None
          - TestFailoverInitiated
          - TestFailoverCompleting
          - TestFailoverCompleted
          - TestFailoverFailed
          - TestFailoverCompletionFailed
          - TestFailoverCleanupInitiated
          - TestFailoverCleanupCompleting
          - MarkedForDeletion
          type: string
          readOnly: true
          x-ms-enum:
            name: TestFailoverState
            modelAsString: true
        testFailoverStateDescription:
          description: Gets or sets the Test failover state description.
          type: string
          readOnly: true
        resynchronizationState:
          description: Gets or sets the resynchronization state.
          enum:
          - None
          - ResynchronizationInitiated
          - ResynchronizationCompleted
          - ResynchronizationFailed
          type: string
          readOnly: true
          x-ms-enum:
            name: ResynchronizationState
            modelAsString: true
        fabricObjectId:
          description: Gets or sets the fabric object Id.
          type: string
          readOnly: true
        fabricObjectName:
          description: Gets or sets the fabric object name.
          type: string
          readOnly: true
        sourceFabricProviderId:
          description: Gets or sets the source fabric provider Id.
          type: string
          readOnly: true
        targetFabricProviderId:
          description: Gets or sets the target fabric provider Id.
          type: string
          readOnly: true
        fabricId:
          description: Gets or sets the fabric Id.
          type: string
          readOnly: true
        targetFabricId:
          description: Gets or sets the target fabric Id.
          type: string
          readOnly: true
        draId:
          description: Gets or sets the DRA Id.
          type: string
          readOnly: true
        targetDraId:
          description: Gets or sets the target DRA Id.
          type: string
          readOnly: true
        resyncRequired:
          description: Gets or sets a value indicating whether resynchronization is required or not.
          type: boolean
          readOnly: true
        lastSuccessfulPlannedFailoverTime:
          format: date-time
          description: Gets or sets the Last successful planned failover time.
          type: string
          readOnly: true
        lastSuccessfulUnplannedFailoverTime:
          format: date-time
          description: Gets or sets the Last successful unplanned failover time.
          type: string
          readOnly: true
        lastSuccessfulTestFailoverTime:
          format: date-time
          description: Gets or sets the Last successful test failover time.
          type: string
          readOnly: true
        currentJob:
          allOf:
          - $ref: '#/components/schemas/ProtectedItemJobProperties'
          readOnly: true
        allowedJobs:
          description: Gets or sets the allowed scenarios on the protected item.
          type: array
          items:
            type: string
          readOnly: true
        lastFailedEnableProtectionJob:
          allOf:
          - $ref: '#/components/schemas/ProtectedItemJobProperties'
          readOnly: true
        lastFailedPlannedFailoverJob:
          allOf:
          - $ref: '#/components/schemas/ProtectedItemJobProperties'
          readOnly: true
        lastTestFailoverJob:
          allOf:
          - $ref: '#/components/schemas/ProtectedItemJobProperties'
          readOnly: true
        replicationHealth:
          description: Gets or sets protected item replication health.
          enum:
          - Normal
          - Warning
          - Critical
          type: string
          readOnly: true
          x-ms-enum:
            name: HealthStatus
            modelAsString: true
        healthErrors:
          description: Gets or sets the list of health errors.
          type: array
          items:
            $ref: '#/components/schemas/HealthErrorModel'
          readOnly: true
          x-ms-identifiers: []
        customProperties:
          $ref: '#/components/schemas/ProtectedItemModelCustomProperties'
    ProtectedItemModel:
      description: Protected item model.
      required:
      - properties
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/ProtectedItemModelProperties'
        id:
          description: Gets or sets the Id of the resource.
          type: string
          readOnly: true
        name:
          description: Gets or sets the name of the resource.
          type: string
          readOnly: true
        type:
          description: Gets or sets the type of the resource.
          type: string
          readOnly: true
        systemData:
          allOf:
          - $ref: '#/components/schemas/SystemDataModel'
          readOnly: true
      x-ms-azure-resource: true
    SystemDataModel:
      description: System data required to be defined for Azure resources.
      type: object
      properties:
        createdBy:
          description: Gets or sets identity that created the resource.
          type: string
        createdByType:
          description: 'Gets or sets the type of identity that created the resource: user, application,

            managedIdentity.'
          type: string
        createdAt:
          format: date-time
          description: Gets or sets the timestamp of resource creation (UTC).
          type: string
        lastModifiedBy:
          description: Gets or sets the identity that last modified the resource.
          type: string
        lastModifiedByType:
          description: 'Gets or sets the type of identity that last modified the resource: user, application,

            managedIdentity.'
          type: string
        lastModifiedAt:
          format: date-time
          description: Gets or sets the timestamp of resource last modification (UTC).
          type: string
  parameters:
    VaultNameParameter:
      in: path
      name: vaultName
      description: The vault name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9]*$
    ProtectedItemNameParameter:
      in: path
      name: protectedItemName
      description: The protected item name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9]*$
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
