openapi: 3.2.0
info:
  title: Microsoft Azure ManagedApplicationClient Appliance…
  version: 2016-09-01-preview
  description: ARM managed applications (appliances)
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ApplianceDefinitions
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applianceDefinitions/{applianceDefinitionName}
  : get:
      tags:
      - ApplianceDefinitions
      operationId: microsoftAzureAppliancedefinitionsGet
      description: Gets the appliance definition.
      x-ms-examples:
        Get appliance definition:
          $ref: ./examples/getApplianceDefinition.json
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        schema:
          type: string
          maxLength: 90
          minLength: 1
          pattern: ^[-\w\._\(\)]+$
      - name: applianceDefinitionName
        in: path
        required: true
        description: The name of the appliance definition.
        schema:
          type: string
          maxLength: 64
          minLength: 3
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK - Returns the appliance definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplianceDefinition'
        '404':
          description: Not Found
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    delete:
      tags:
      - ApplianceDefinitions
      operationId: microsoftAzureAppliancedefinitionsDelete
      description: Deletes the appliance definition.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        schema:
          type: string
          maxLength: 90
          minLength: 1
          pattern: ^[-\w\._\(\)]+$
      - name: applianceDefinitionName
        in: path
        required: true
        description: The name of the appliance definition to delete.
        schema:
          type: string
          maxLength: 64
          minLength: 3
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted - Returns this status until the asynchronous operation has completed.
        '204':
          description: NoContent
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - ApplianceDefinitions
      operationId: microsoftAzureAppliancedefinitionsCreateorupdate
      description: Creates a new appliance definition.
      x-ms-examples:
        Create or update appliance definition:
          $ref: ./examples/createOrUpdateApplianceDefinition.json
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        schema:
          type: string
          maxLength: 90
          minLength: 1
          pattern: ^[-\w\._\(\)]+$
      - name: applianceDefinitionName
        in: path
        required: true
        description: The name of the appliance definition.
        schema:
          type: string
          maxLength: 64
          minLength: 3
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK - Returns information about the appliance definition, including provisioning status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplianceDefinition'
        '201':
          description: Created - Returns information about the appliance definition, including provisioning status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplianceDefinition'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplianceDefinition'
        description: Parameters supplied to the create or update an appliance definition.
        required: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applianceDefinitions:
    get:
      tags:
      - ApplianceDefinitions
      operationId: microsoftAzureAppliancedefinitionsListbyresourcegroup
      description: Lists the appliance definitions in a resource group.
      x-ms-examples:
        List appliance definitions:
          $ref: ./examples/listApplianceDefinitionsByResourceGroup.json
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        schema:
          type: string
          maxLength: 90
          minLength: 1
          pattern: ^[-\w\._\(\)]+$
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK - Returns an array of appliance definitions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplianceDefinitionListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  /{applianceDefinitionId}:
    get:
      tags:
      - ApplianceDefinitions
      operationId: microsoftAzureAppliancedefinitionsGetbyid
      description: Gets the appliance definition.
      parameters:
      - name: applianceDefinitionId
        in: path
        required: true
        description: The fully qualified ID of the appliance definition, including the appliance name and the appliance definition resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applianceDefinitions/{applianceDefinition-name}
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK - Returns the appliance definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplianceDefinition'
        '404':
          description: Not Found
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Appliancedefinitionid
    delete:
      tags:
      - ApplianceDefinitions
      operationId: microsoftAzureAppliancedefinitionsDeletebyid
      description: Deletes the appliance definition.
      parameters:
      - name: applianceDefinitionId
        in: path
        required: true
        description: The fully qualified ID of the appliance definition, including the appliance name and the appliance definition resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applianceDefinitions/{applianceDefinition-name}
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted - Returns this status until the asynchronous operation has completed.
        '204':
          description: NoContent
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Appliancedefinitionid
    put:
      tags:
      - ApplianceDefinitions
      operationId: microsoftAzureAppliancedefinitionsCreateorupdatebyid
      description: Creates a new appliance definition.
      parameters:
      - name: applianceDefinitionId
        in: path
        required: true
        description: The fully qualified ID of the appliance definition, including the appliance name and the appliance definition resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applianceDefinitions/{applianceDefinition-name}
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK - Returns information about the appliance definition, including provisioning status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplianceDefinition'
        '201':
          description: Created - Returns information about the appliance definition, including provisioning status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplianceDefinition'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Appliancedefinitionid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplianceDefinition'
        description: Parameters supplied to the create or update an appliance definition.
        required: true
components:
  schemas:
    ApplianceLockLevel:
      description: The appliance lock level.
      enum:
      - CanNotDelete
      - ReadOnly
      - None
      type: string
      x-ms-enum:
        name: ApplianceLockLevel
        modelAsString: false
    ApplianceDefinitionListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ApplianceDefinition'
          description: The array of appliance definitions.
        nextLink:
          type: string
          description: The URL to use for getting the next set of results.
      description: List of appliance definitions.
    ApplianceArtifactType:
      description: The appliance artifact type.
      enum:
      - Template
      - Custom
      type: string
      x-ms-enum:
        name: ApplianceArtifactType
        modelAsString: false
    ErrorResponse:
      description: Error response indicates ARM appliance is not able to process the incoming request. The reason is provided in the error message.
      type: object
      properties:
        httpStatus:
          description: Http status code.
          type: string
        errorCode:
          description: Error code.
          type: string
        errorMessage:
          description: Error message indicating why the operation failed.
          type: string
    ApplianceArtifact:
      properties:
        name:
          type: string
          description: The appliance artifact name.
        uri:
          type: string
          description: The appliance artifact blob uri.
        type:
          $ref: '#/components/schemas/ApplianceArtifactType'
          description: The appliance artifact type.
      description: Appliance artifact.
    Identity:
      properties:
        principalId:
          readOnly: true
          type: string
          description: The principal ID of resource identity.
        tenantId:
          readOnly: true
          type: string
          description: The tenant ID of resource.
        type:
          type: string
          description: The identity type.
          enum:
          - SystemAssigned
          x-ms-enum:
            name: ResourceIdentityType
            modelAsString: false
      description: Identity for the resource.
    GenericResource:
      properties:
        managedBy:
          type: string
          description: ID of the resource that manages this resource.
        sku:
          $ref: '#/components/schemas/Sku'
          description: The SKU of the resource.
        identity:
          $ref: '#/components/schemas/Identity'
          description: The identity of the resource.
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Resource information.
    ApplianceProviderAuthorization:
      properties:
        principalId:
          type: string
          description: The provider's principal identifier. This is the identity that the provider will use to call ARM to manage the appliance resources.
        roleDefinitionId:
          type: string
          description: The provider's role definition identifier. This role will define all the permissions that the provider must have on the appliance's container resource group. This role definition cannot have permission to delete the resource group.
      required:
      - principalId
      - roleDefinitionId
      description: The appliance provider authorization.
    Resource:
      properties:
        id:
          readOnly: true
          type: string
          description: Resource ID
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        location:
          type: string
          description: Resource location
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
      description: Resource information.
      x-ms-azure-resource: true
    ApplianceDefinitionProperties:
      properties:
        lockLevel:
          $ref: '#/components/schemas/ApplianceLockLevel'
          description: The appliance lock level.
        displayName:
          type: string
          description: The appliance definition display name.
        authorizations:
          description: The appliance provider authorizations.
          type: array
          items:
            $ref: '#/components/schemas/ApplianceProviderAuthorization'
        artifacts:
          description: The collection of appliance artifacts. The portal will use the files specified as artifacts to construct the user experience of creating an appliance from an appliance definition.
          type: array
          items:
            $ref: '#/components/schemas/ApplianceArtifact'
        description:
          type: string
          description: The appliance definition description.
        packageFileUri:
          type: string
          description: The appliance definition package file Uri.
      required:
      - lockLevel
      - authorizations
      - packageFileUri
      description: The appliance definition properties.
    ApplianceDefinition:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ApplianceDefinitionProperties'
          description: The appliance definition properties.
      required:
      - properties
      allOf:
      - $ref: '#/components/schemas/GenericResource'
      description: Information about appliance definition.
    Sku:
      properties:
        name:
          type: string
          description: The SKU name.
        tier:
          type: string
          description: The SKU tier.
        size:
          type: string
          description: The SKU size.
        family:
          type: string
          description: The SKU family.
        model:
          type: string
          description: The SKU model.
        capacity:
          type: integer
          format: int32
          description: The SKU capacity.
      required:
      - name
      description: SKU for the resource.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
