openapi: 3.2.0
info:
  version: '2023-06-01'
  title: Microsoft Azure SiteRecoveryManagementClient Replication…
  x-ms-code-generation-settings:
    header: MICROSOFT_MIT_NO_VERSION
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ReplicationLogicalNetworks
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationLogicalNetworks
  : get:
      tags:
      - ReplicationLogicalNetworks
      summary: Microsoft Azure Gets The List Of Logical Networks Under A Fabric
      description: Lists all the logical networks of the Azure Site Recovery fabric.
      operationId: microsoftAzureReplicationlogicalnetworksListbyreplicationfabrics
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Server Id.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogicalNetworkCollection'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Gets the list of logical networks under a fabric.:
          $ref: ./examples/ReplicationLogicalNetworks_ListByReplicationFabrics.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationLogicalNetworks/{logicalNetworkName}
  : get:
      tags:
      - ReplicationLogicalNetworks
      summary: Microsoft Azure Gets A Logical Network With Specified Server Id And Logical…
      description: Gets the details of a logical network.
      operationId: microsoftAzureReplicationlogicalnetworksGet
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Server Id.
        required: true
        schema:
          type: string
      - name: logicalNetworkName
        in: path
        description: Logical network name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogicalNetwork'
      x-ms-examples:
        Gets a logical network with specified server id and logical network name.:
          $ref: ./examples/ReplicationLogicalNetworks_Get.json
components:
  schemas:
    LogicalNetwork:
      description: Logical network data model.
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/LogicalNetworkProperties'
          description: The Logical Network Properties.
    LogicalNetworkCollection:
      description: List of logical networks.
      type: object
      properties:
        value:
          description: The Logical Networks list details.
          type: array
          items:
            $ref: '#/components/schemas/LogicalNetwork'
        nextLink:
          description: The value of next link.
          type: string
    LogicalNetworkProperties:
      description: Logical Network Properties.
      type: object
      properties:
        friendlyName:
          description: The Friendly Name.
          type: string
        networkVirtualizationStatus:
          description: A value indicating whether Network Virtualization is enabled for the logical network.
          type: string
        logicalNetworkUsage:
          description: A value indicating whether logical network is used as private test network by test failover.
          type: string
        logicalNetworkDefinitionsStatus:
          description: A value indicating whether logical network definitions are isolated.
          type: string
    Resource:
      description: Azure resource.
      type: object
      properties:
        id:
          description: Resource Id
          type: string
          readOnly: true
        name:
          description: Resource Name
          type: string
          readOnly: true
        type:
          description: Resource Type
          type: string
          readOnly: true
        location:
          description: Resource Location
          type: string
      x-ms-azure-resource: true
  parameters:
    ResourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group where the recovery services vault is present.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    SubscriptionId:
      name: subscriptionId
      in: path
      description: The subscription Id.
      required: true
      schema:
        type: string
    ApiVersion:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
    ResourceName:
      name: resourceName
      in: path
      description: The name of the recovery services vault.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account.
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
