openapi: 3.2.0
info:
  title: Microsoft Azure MicrosoftScanningClient Azure Key Vaults API
  description: Creates a Microsoft.Scanning management client.
  version: 2022-07-01-preview
servers:
- url: https://purview.azure.com/scan
security:
- azure_auth:
  - user_impersonation
tags:
- name: AzureKeyVaults
paths:
  /azureKeyVaults/{azureKeyVaultName}:
    get:
      tags:
      - AzureKeyVaults
      description: Gets azureKeyVault information
      operationId: microsoftAzureKeyvaultconnectionsGet
      parameters:
      - in: path
        name: azureKeyVaultName
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureKeyVault'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        KeyVaultConnections_Get:
          $ref: ./examples/KeyVaultConnections_Get.json
      summary: Microsoft Azure Get Azurekeyvaults Azurekeyvaultname
    put:
      tags:
      - AzureKeyVaults
      description: Creates an instance of a azureKeyVault
      operationId: microsoftAzureKeyvaultconnectionsCreate
      parameters:
      - in: path
        name: azureKeyVaultName
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureKeyVault'
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureKeyVault'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        KeyVaultConnections_Create:
          $ref: ./examples/KeyVaultConnections_Create.json
      summary: Microsoft Azure Put Azurekeyvaults Azurekeyvaultname
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AzureKeyVault'
        required: true
    delete:
      tags:
      - AzureKeyVaults
      description: Deletes the azureKeyVault associated with the account
      operationId: microsoftAzureKeyvaultconnectionsDelete
      parameters:
      - in: path
        name: azureKeyVaultName
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureKeyVault'
        '204':
          description: Success
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        KeyVaultConnections_Delete:
          $ref: ./examples/KeyVaultConnections_Delete.json
      summary: Microsoft Azure Delete Azurekeyvaults Azurekeyvaultname
  /azureKeyVaults:
    get:
      tags:
      - AzureKeyVaults
      description: List azureKeyVaults in account
      operationId: microsoftAzureKeyvaultconnectionsListall
      parameters:
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureKeyVaultList'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        KeyVaultConnections_ListAll:
          $ref: ./examples/KeyVaultConnections_ListAll.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Azurekeyvaults
components:
  schemas:
    ProxyResource:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
    AzureKeyVaultProperties:
      type: object
      properties:
        baseUrl:
          type: string
        description:
          type: string
    ErrorModel:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorModel'
    AzureKeyVaultList:
      required:
      - value
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/AzureKeyVault'
        nextLink:
          type: string
        count:
          format: int64
          type: integer
    AzureKeyVault:
      type: object
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      properties:
        properties:
          allOf:
          - $ref: '#/components/schemas/AzureKeyVaultProperties'
    ErrorResponseModel:
      type: object
      properties:
        error:
          allOf:
          - $ref: '#/components/schemas/ErrorModel'
  parameters:
    api-version:
      in: query
      name: api-version
      description: The api version to use.
      required: true
      x-ms-client-name: ApiVersion
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-ms-parameterized-host:
  hostTemplate: '{Endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
