openapi: 3.2.0
info:
  version: '2016-10-01'
  title: Microsoft Azure StorSimpleManagementClient Backup Schedule…
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: BackupScheduleGroups
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backupScheduleGroups
  : get:
      tags:
      - BackupScheduleGroups
      description: Retrieves all the backup schedule groups in a device.
      operationId: microsoftAzureBackupschedulegroupsListbydevice
      parameters:
      - name: deviceName
        in: path
        description: The name of the device.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of backup schedule groups.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupScheduleGroupList'
        default:
          description: Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      deprecated: false
      x-ms-pageable:
        nextLinkName: null
      x-ms-examples:
        BackupScheduleGroupsListByDevice:
          $ref: ./examples/BackupScheduleGroupsListByDevice.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backupScheduleGroups/{scheduleGroupName}
  : get:
      tags:
      - BackupScheduleGroups
      description: Returns the properties of the specified backup schedule group name.
      operationId: microsoftAzureBackupschedulegroupsGet
      parameters:
      - name: deviceName
        in: path
        description: The name of the device.
        required: true
        schema:
          type: string
      - name: scheduleGroupName
        in: path
        description: The name of the schedule group.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The backup schedule group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupScheduleGroup'
        default:
          description: Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      deprecated: false
      x-ms-examples:
        BackupScheduleGroupsGet:
          $ref: ./examples/BackupScheduleGroupsGet.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - BackupScheduleGroups
      description: Creates or Updates the backup schedule Group.
      operationId: microsoftAzureBackupschedulegroupsCreateorupdate
      parameters:
      - name: deviceName
        in: path
        description: The name of the device.
        required: true
        schema:
          type: string
      - name: scheduleGroupName
        in: path
        description: The name of the schedule group.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully created or updated the backup schedule group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupScheduleGroup'
        '202':
          description: Accepted the request to create or update the backup schedule group.
        default:
          description: Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      deprecated: false
      x-ms-long-running-operation: true
      x-ms-examples:
        BackupScheduleGroupsCreateOrUpdate:
          $ref: ./examples/BackupScheduleGroupsCreateOrUpdate.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupScheduleGroup'
        description: The schedule group to be created
        required: true
    delete:
      tags:
      - BackupScheduleGroups
      description: Deletes the backup schedule group.
      operationId: microsoftAzureBackupschedulegroupsDelete
      parameters:
      - name: deviceName
        in: path
        description: The name of the device.
        required: true
        schema:
          type: string
      - name: scheduleGroupName
        in: path
        description: The name of the schedule group.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to delete the backup schedule group.
        '204':
          description: Successfully deleted the backup schedule group.
        default:
          description: Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      deprecated: false
      x-ms-long-running-operation: true
      x-ms-examples:
        BackupScheduleGroupsDelete:
          $ref: ./examples/BackupScheduleGroupsDelete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    BackupScheduleGroupProperties:
      description: The Backup Schedule Group Properties
      required:
      - startTime
      type: object
      properties:
        startTime:
          $ref: '#/components/schemas/Time'
          description: The start time. When this field is specified we will generate Default GrandFather Father Son Backup Schedules.
    BackupScheduleGroupList:
      description: The list response of backup schedule groups
      required:
      - value
      type: object
      properties:
        value:
          description: The value.
          type: array
          items:
            $ref: '#/components/schemas/BackupScheduleGroup'
    BaseModel:
      description: Base class for models
      type: object
      properties:
        id:
          description: The identifier.
          type: string
          readOnly: true
        name:
          description: The name.
          type: string
          readOnly: true
        type:
          description: The type.
          type: string
          readOnly: true
    Message:
      type: object
      properties:
        language:
          type: string
        value:
          type: string
    Error:
      required:
      - errorCode
      - message
      type: object
      properties:
        errorCode:
          type: string
        message:
          $ref: '#/components/schemas/Message'
        values:
          type: array
          items:
            $ref: '#/components/schemas/Item'
          x-ms-identifiers:
          - key
    BackupScheduleGroup:
      description: The Backup Schedule Group
      required:
      - properties
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseModel'
      properties:
        properties:
          $ref: '#/components/schemas/BackupScheduleGroupProperties'
          description: Properties of BackupScheduleGroup
          x-ms-client-flatten: true
    Time:
      description: The Time.
      required:
      - hour
      - minute
      type: object
      properties:
        hour:
          format: int32
          description: The hour.
          maximum: 23
          minimum: 0
          type: integer
        minute:
          format: int32
          description: The minute.
          maximum: 59
          minimum: 0
          type: integer
    Item:
      required:
      - key
      - value
      type: object
      properties:
        key:
          type: string
        value:
          type: string
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription id
      required: true
      schema:
        type: string
    managerNameParameter:
      name: managerName
      in: path
      description: The manager name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 50
        minLength: 2
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The resource group name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      description: The api version
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
