openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft.Elastic Traffic Filter API
  version: 2024-01-01-preview
servers:
- url: https://management.azure.com
tags:
- name: Traffic Filter
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/listAllTrafficFilters
  : post:
      tags:
      - Traffic Filter
      summary: Microsoft Azure Get The List Of All Traffic Filters For The Account
      operationId: microsoftAzureAlltrafficfiltersList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElasticTrafficFilterResponse'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-examples:
        AllTrafficFilters_list:
          $ref: ./examples/AllTrafficFilters_list.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/listAssociatedTrafficFilters
  : post:
      tags:
      - Traffic Filter
      summary: Microsoft Azure Get The List Of All Associated Traffic Filters For The Given…
      operationId: microsoftAzureListassociatedtrafficfiltersList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElasticTrafficFilterResponse'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-examples:
        listAssociatedTrafficFilters_list:
          $ref: ./examples/AssociatedFiltersForDeployment_list.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/createAndAssociateIPFilter
  : post:
      tags:
      - Traffic Filter
      summary: Microsoft Azure Create And Associate Ip Traffic Filter For The Given Deployment
      operationId: microsoftAzureCreateandassociateipfilterCreate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      - in: query
        name: ips
        description: List of ips
        schema:
          type: string
      - in: query
        name: name
        description: Name of the traffic filter
        schema:
          type: string
      responses:
        '200':
          description: Success
        '202':
          description: Accepted
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        createAndAssociateIPFilter_Create:
          $ref: ./examples/IPTrafficFilter_Create.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/createAndAssociatePLFilter
  : post:
      tags:
      - Traffic Filter
      summary: Microsoft Azure Create And Associate Private Link Traffic Filter For The Given…
      operationId: microsoftAzureCreateandassociateplfilterCreate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      - in: query
        name: name
        description: Name of the traffic filter
        schema:
          type: string
      - in: query
        name: privateEndpointGuid
        description: Guid of the private endpoint
        schema:
          type: string
      - in: query
        name: privateEndpointName
        description: Name of the private endpoint
        schema:
          type: string
      responses:
        '200':
          description: Success
        '202':
          description: Accepted
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        createAndAssociatePLFilter_Create:
          $ref: ./examples/PrivateLinkTrafficFilters_Create.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/associateTrafficFilter
  : post:
      tags:
      - Traffic Filter
      summary: Microsoft Azure Associate Traffic Filter For The Given Deployment
      operationId: microsoftAzureAssociatetrafficfilterAssociate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      - in: query
        name: rulesetId
        description: Ruleset Id of the filter
        schema:
          type: string
      responses:
        '202':
          description: Accepted
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        AssociateTrafficFilter_Associate:
          $ref: ./examples/AssociateTrafficFilter_Update.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/detachAndDeleteTrafficFilter
  : post:
      tags:
      - Traffic Filter
      summary: Microsoft Azure Detach And Delete Traffic Filter From The Given Deployment
      operationId: microsoftAzureDetachanddeletetrafficfilterDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      - in: query
        name: rulesetId
        description: Ruleset Id of the filter
        schema:
          type: string
      responses:
        '200':
          description: Success
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-examples:
        DetachAndDeleteTrafficFilter_Delete:
          $ref: ./examples/DetachAndDeleteTrafficFilter_Delete.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/detachTrafficFilter
  : post:
      tags:
      - Traffic Filter
      summary: Microsoft Azure Detach Traffic Filter For The Given Deployment
      operationId: microsoftAzureDetachtrafficfilterUpdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      - in: query
        name: rulesetId
        description: Ruleset Id of the filter
        schema:
          type: string
      responses:
        '202':
          description: Accepted
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        DetachTrafficFilter_Update:
          $ref: ./examples/DetachTrafficFilters_Update.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/deleteTrafficFilter
  : post:
      tags:
      - Traffic Filter
      summary: Microsoft Azure Delete Traffic Filter From The Account
      operationId: microsoftAzureTrafficfiltersDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      - in: query
        name: rulesetId
        description: Ruleset Id of the filter
        schema:
          type: string
      responses:
        '200':
          description: Success
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-examples:
        TrafficFilters_Delete:
          $ref: ./examples/TrafficFilters_Delete.json
      description: Needs a more full description created.
components:
  schemas:
    ResourceProviderDefaultErrorResponse:
      description: RP default error response.
      type: object
      properties:
        error:
          description: Response body of Error
          readOnly: true
          $ref: '#/components/schemas/ErrorResponseBody'
    ElasticTrafficFilterResponse:
      description: List of elastic traffic filters in the account
      type: object
      properties:
        rulesets:
          type: array
          x-ms-identifiers: []
          description: List of elastic traffic filters in the account
          items:
            $ref: '#/components/schemas/ElasticTrafficFilter'
    ElasticTrafficFilterRule:
      description: Elastic traffic filter rule object
      type: object
      properties:
        source:
          type: string
          description: IP of the elastic filter rule
        description:
          type: string
          description: Description of the elastic filter rule
        azureEndpointGuid:
          type: string
          description: Guid of Private Endpoint in the elastic filter rule
        azureEndpointName:
          type: string
          description: Name of the Private Endpoint in the elastic filter rule
        id:
          type: string
          description: Id of the elastic filter rule
    ErrorResponseBody:
      description: Error response body.
      title: ErrorResponseBody
      type: object
      properties:
        code:
          description: Error code.
          type: string
        message:
          description: Error message.
          type: string
        target:
          description: Error target.
          type: string
        details:
          description: Error details.
          type: array
          x-ms-identifiers: []
          items:
            $ref: '#/components/schemas/ErrorResponseBody'
    ElasticTrafficFilter:
      description: Elastic traffic filter object
      type: object
      properties:
        id:
          type: string
          description: Id of the elastic filter
        name:
          type: string
          description: Name of the elastic filter
        description:
          type: string
          description: Description of the elastic filter
        region:
          type: string
          description: Region of the elastic filter
        type:
          enum:
          - ip
          - azure_private_endpoint
          type: string
          description: Type of the elastic filter
          x-ms-enum:
            modelAsString: true
            name: type
        includeByDefault:
          type: boolean
          description: IncludeByDefault for the elastic filter
        rules:
          type: array
          description: Rules in the elastic filter
          items:
            $ref: '#/components/schemas/ElasticTrafficFilterRule'
  parameters:
    MonitorNameParameter:
      in: path
      name: monitorName
      description: Monitor resource name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Microsoft Entra ID OAuth2 Flow
