openapi: 3.2.0
info:
  title: Microsoft Azure EdgeMarketplaceClient Publishers API
  version: '2023-08-01'
  description: Edge Market Place Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Publishers
paths:
  /{resourceUri}/providers/Microsoft.EdgeMarketplace/publishers:
    get:
      tags:
      - Publishers
      operationId: microsoftAzurePublishersList
      x-ms-examples:
        List publishers:
          $ref: ./examples/ListPublishers.json
      description: List Publisher resources by parent
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/Azure.ResourceManager.ResourceUriParameter'
      - $ref: '#/components/parameters/Azure.Core.TopQueryParameter'
      - $ref: '#/components/parameters/Azure.Core.SkipQueryParameter'
      - $ref: '#/components/parameters/Azure.Core.MaxPageSizeQueryParameter'
      - $ref: '#/components/parameters/Azure.Core.FilterQueryParameter'
      - $ref: '#/components/parameters/Azure.Core.SkipTokenParameter'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublisherListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Resourceuri Providers Microsoft Edgemarketplace Publishers
  /subscriptions/{subscriptionId}/providers/Microsoft.EdgeMarketplace/publishers:
    get:
      tags:
      - Publishers
      operationId: microsoftAzurePublishersListbysubscription
      x-ms-examples:
        List publishers by subscription:
          $ref: ./examples/ListPublishersBySubscription.json
      description: List Publisher resources in subscription
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/Azure.Core.TopQueryParameter'
      - $ref: '#/components/parameters/Azure.Core.SkipQueryParameter'
      - $ref: '#/components/parameters/Azure.Core.MaxPageSizeQueryParameter'
      - $ref: '#/components/parameters/Azure.Core.FilterQueryParameter'
      - $ref: '#/components/parameters/Azure.Core.SkipTokenParameter'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublisherListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
  /{resourceUri}/providers/Microsoft.EdgeMarketplace/publishers/{publisherName}:
    get:
      tags:
      - Publishers
      operationId: microsoftAzurePublishersGet
      x-ms-examples:
        Get publisher:
          $ref: ./examples/GetPublisher.json
      description: Get a Publisher
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/Azure.ResourceManager.ResourceUriParameter'
      - name: publisherName
        in: path
        required: true
        description: Name of the publisher
        schema:
          type: string
          pattern: ^.*$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Publisher'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Resourceuri Providers Microsoft Edgemarketplace Publishers…
components:
  parameters:
    Azure.ResourceManager.ResourceUriParameter:
      name: resourceUri
      in: path
      required: true
      description: The fully qualified Azure Resource manager identifier of the resource.
      x-ms-skip-url-encoding: true
      x-ms-parameter-location: method
      schema:
        type: string
    Azure.Core.SkipTokenParameter:
      name: $skipToken
      in: query
      required: false
      description: Skip over when retrieving results.
      x-ms-parameter-location: method
      schema:
        type: string
    Azure.Core.TopQueryParameter:
      name: $top
      in: query
      required: false
      description: The number of result items to return.
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
    Azure.Core.SkipQueryParameter:
      name: skip
      in: query
      required: false
      description: The number of result items to skip.
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        default: 0
    Azure.Core.MaxPageSizeQueryParameter:
      name: maxpagesize
      in: query
      required: false
      description: The maximum number of result items per page.
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
    Azure.Core.FilterQueryParameter:
      name: $filter
      in: query
      required: false
      description: Filter the result list using the given expression.
      x-ms-parameter-location: method
      schema:
        type: string
  schemas:
    Publisher:
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/PublisherProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      description: A publisher who provides offers.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
    PublisherListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Publisher'
          description: The Publisher items on this page
          x-typespec-name: Publisher[]
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
          x-typespec-name: TypeSpec.Rest.ResourceLocation
      description: The response of a Publisher list operation.
      required:
      - value
    PublisherProperties:
      type: object
      properties:
        provisioningState:
          $ref: '#/components/schemas/Azure.ResourceManager.ResourceProvisioningState'
          description: The resource provisioning state
      description: Publisher properties
      required:
      - provisioningState
    Azure.ResourceManager.ResourceProvisioningState:
      type: string
      description: The provisioning state of a resource type.
      enum:
      - Succeeded
      - Failed
      - Canceled
      x-ms-enum:
        name: ResourceProvisioningState
        modelAsString: true
        values:
        - name: Succeeded
          value: Succeeded
          description: Resource has been created.
        - name: Failed
          value: Failed
          description: Resource creation failed.
        - name: Canceled
          value: Canceled
          description: Resource creation was canceled.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
