openapi: 3.2.0
info:
  version: '2019-12-01'
  title: Microsoft Azure Software Plan RP Hybrid Use Benefit API
  description: Azure software plans let users create and manage licenses for various software used in Azure.
  x-ms-code-generation-settings:
    name: SoftwareplanClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Hybrid Use Benefit
paths:
  /{scope}/providers/Microsoft.SoftwarePlan/hybridUseBenefits/{planId}:
    put:
      description: Create a new hybrid use benefit under a given scope
      operationId: microsoftAzureHybridusebenefitCreate
      tags:
      - Hybrid Use Benefit
      x-ms-examples:
        HybridUseBenefit:
          $ref: ./examples/PutHybridUseBenefit.json
      parameters:
      - $ref: '#/components/parameters/ScopeParameter'
      - $ref: '#/components/parameters/PlanIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/PutBodyParameter'
      responses:
        '200':
          description: OK - returns the plan that is created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HybridUseBenefitModel'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Microsoft Azure Put Scope Providers Microsoft Softwareplan Hybridusebenefits…
    patch:
      description: Updates an existing hybrid use benefit
      operationId: microsoftAzureHybridusebenefitUpdate
      tags:
      - Hybrid Use Benefit
      x-ms-examples:
        HybridUseBenefit:
          $ref: ./examples/PatchHybridUseBenefit.json
      parameters:
      - $ref: '#/components/parameters/ScopeParameter'
      - $ref: '#/components/parameters/PlanIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/PutBodyParameter'
      responses:
        '200':
          description: OK - successfully updated the given hybrid use benefit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HybridUseBenefitModel'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Microsoft Azure Patch Scope Providers Microsoft Softwareplan Hybridusebenefits…
    get:
      description: Gets a given plan ID
      operationId: microsoftAzureHybridusebenefitGet
      tags:
      - Hybrid Use Benefit
      x-ms-examples:
        HybridUseBenefit:
          $ref: ./examples/GetSingleHybridUseBenefit.json
      parameters:
      - $ref: '#/components/parameters/ScopeParameter'
      - $ref: '#/components/parameters/PlanIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK - returns the plan that is created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HybridUseBenefitModel'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Microsoft Azure Get Scope Providers Microsoft Softwareplan Hybridusebenefits…
    delete:
      description: Deletes a given plan ID
      operationId: microsoftAzureHybridusebenefitDelete
      tags:
      - Hybrid Use Benefit
      x-ms-examples:
        HybridUseBenefit:
          $ref: ./examples/DeleteHybridUseBenefit.json
      parameters:
      - $ref: '#/components/parameters/ScopeParameter'
      - $ref: '#/components/parameters/PlanIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK - successfully deleted the given plan
        '204':
          description: OK - there was no plan to delete
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Microsoft Azure Delete Scope Providers Microsoft Softwareplan Hybridusebenefits…
components:
  parameters:
    PutBodyParameter:
      name: body
      in: body
      x-ms-parameter-location: method
      required: true
      description: Request body for creating a hybrid use benefit
      schema:
        $ref: '#/components/schemas/HybridUseBenefitModel'
    ScopeParameter:
      name: scope
      in: path
      x-ms-parameter-location: method
      required: true
      description: The scope at which the operation is performed. This is limited to Microsoft.Compute/virtualMachines and Microsoft.Compute/hostGroups/hosts for now
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      x-ms-parameter-location: client
      required: true
      description: The api-version to be used by the service
      schema:
        type: string
    PlanIdParameter:
      name: planId
      in: path
      x-ms-parameter-location: method
      required: true
      description: This is a unique identifier for a plan. Should be a guid.
      schema:
        type: string
  schemas:
    ProvisioningState:
      type: string
      description: Represent the current state of the Reservation.
      enum:
      - Succeeded
      - Cancelled
      - Failed
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    ErrorCode:
      type: string
      description: Defined error codes to be returned to the client.
      enum:
      - InvalidRequestParameter
      - MissingRequestParameter
      x-ms-enum:
        name: ErrorCode
        modelAsString: true
    HybridUseBenefitProperties:
      description: Hybrid use benefit properties
      properties:
        provisioningState:
          type: string
          description: Provisioning state
          $ref: '#/components/schemas/ProvisioningState'
          readOnly: true
        createdDate:
          type: string
          description: Created date
          format: date-time
          readOnly: true
        lastUpdatedDate:
          type: string
          description: Last updated date
          format: date-time
          readOnly: true
    HybridUseBenefitModel:
      description: Response on GET of a hybrid use benefit
      required:
      - sku
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/Resource
      properties:
        sku:
          description: Hybrid use benefit SKU
          $ref: '#/components/schemas/Sku'
        etag:
          type: integer
          format: int32
          description: Indicates the revision of the hybrid use benefit
          readOnly: true
        properties:
          description: Property bag for a hybrid use benefit response
          x-ms-client-flatten: true
          $ref: '#/components/schemas/HybridUseBenefitProperties'
    Error:
      type: object
      description: Error object returned by the RP
      properties:
        code:
          description: Error code
          $ref: '#/components/schemas/ErrorCode'
        message:
          type: string
          description: A user readable error message. Localized based on x-ms-effective-locale header in the request
    Sku:
      type: object
      description: The SKU to be applied for this resource
      properties:
        name:
          type: string
          description: Name of the SKU to be applied
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
