openapi: 3.2.0
info:
  title: Microsoft Azure Data Sources API
  x-refined-note:
  - x-ms-code-generation-settings differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged DataSources across 2 of this provider''s published API definitions: microsoftscanningclient-openapi-original.yml, searchserviceclient-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://purview.azure.com/scan
tags:
- name: Data Sources
paths:
  /datasources/{dataSourceName}:
    put:
      tags:
      - Data Sources
      description: Creates or Updates a data source
      operationId: microsoftAzureDatasourcesCreateorupdate
      parameters:
      - in: path
        name: dataSourceName
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSource'
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSource'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        DataSources_CreateOrUpdate:
          $ref: ./examples/DataSources_CreateOrUpdate.json
      summary: Microsoft Azure Put Datasources Datasourcename
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataSource'
      security:
      - azure_auth:
        - user_impersonation
    get:
      tags:
      - Data Sources
      description: Get a data source
      operationId: microsoftAzureDatasourcesGet
      parameters:
      - in: path
        name: dataSourceName
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSource'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        DataSources_Get:
          $ref: ./examples/DataSources_Get.json
      summary: Microsoft Azure Get Datasources Datasourcename
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - Data Sources
      description: Deletes a data source
      operationId: microsoftAzureDatasourcesDelete
      parameters:
      - in: path
        name: dataSourceName
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSource'
        '204':
          description: Success
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        DataSources_Delete:
          $ref: ./examples/DataSources_Delete.json
      summary: Microsoft Azure Delete Datasources Datasourcename
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://purview.azure.com/scan
  /datasources:
    get:
      tags:
      - Data Sources
      description: List data sources in Data catalog
      operationId: microsoftAzureDatasourcesListall
      parameters:
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSourceList'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        DataSources_ListAll:
          $ref: ./examples/DataSources_ListAll.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Datasources
      security:
      - azure_auth:
        - user_impersonation
    post:
      tags:
      - Data Sources
      operationId: microsoftAzureDatasourcesCreate
      x-ms-examples:
        SearchServiceCreateDataSource:
          $ref: ./examples/SearchServiceCreateDataSource.json
      description: Creates a new datasource.
      externalDocs:
        url: https://docs.microsoft.com/rest/api/searchservice/Create-Data-Source
      parameters:
      - $ref: '#/components/parameters/ClientRequestIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      x-ms-request-id: request-id
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchIndexerDataSource'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchError'
      summary: Microsoft Azure Post Datasources
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchIndexerDataSource'
        description: The definition of the datasource to create.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://purview.azure.com/scan
  /datasources('{dataSourceName}'):
    put:
      tags:
      - Data Sources
      operationId: microsoftAzureDatasourcesCreateorupdate
      x-ms-examples:
        SearchServiceCreateOrUpdateDataSource:
          $ref: ./examples/SearchServiceCreateOrUpdateDataSource.json
      description: Creates a new datasource or updates a datasource if it already exists.
      externalDocs:
        url: https://docs.microsoft.com/rest/api/searchservice/Update-Data-Source
      parameters:
      - name: dataSourceName
        in: path
        required: true
        description: The name of the datasource to create or update.
        schema:
          type: string
      - $ref: '#/components/parameters/ClientRequestIdParameter'
      - $ref: '#/components/parameters/IfMatchParameter'
      - $ref: '#/components/parameters/IfNoneMatchParameter'
      - $ref: '#/components/parameters/PreferHeaderParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      x-ms-request-id: request-id
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchIndexerDataSource'
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchIndexerDataSource'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchError'
      summary: Microsoft Azure Put Datasources Datasourcename
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchIndexerDataSource'
        description: The definition of the datasource to create or update.
        required: true
    delete:
      tags:
      - Data Sources
      operationId: microsoftAzureDatasourcesDelete
      x-ms-examples:
        SearchServiceDeleteDataSource:
          $ref: ./examples/SearchServiceDeleteDataSource.json
      description: Deletes a datasource.
      externalDocs:
        url: https://docs.microsoft.com/rest/api/searchservice/Delete-Data-Source
      parameters:
      - name: dataSourceName
        in: path
        required: true
        description: The name of the datasource to delete.
        schema:
          type: string
      - $ref: '#/components/parameters/ClientRequestIdParameter'
      - $ref: '#/components/parameters/IfMatchParameter'
      - $ref: '#/components/parameters/IfNoneMatchParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      x-ms-request-id: request-id
      responses:
        '204':
          description: ''
        '404':
          description: ''
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchError'
      summary: Microsoft Azure Delete Datasources Datasourcename
    get:
      tags:
      - Data Sources
      operationId: microsoftAzureDatasourcesGet
      x-ms-examples:
        SearchServiceGetDataSource:
          $ref: ./examples/SearchServiceGetDataSource.json
      description: Retrieves a datasource definition.
      externalDocs:
        url: https://docs.microsoft.com/rest/api/searchservice/Get-Data-Source
      parameters:
      - name: dataSourceName
        in: path
        required: true
        description: The name of the datasource to retrieve.
        schema:
          type: string
      - $ref: '#/components/parameters/ClientRequestIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      x-ms-request-id: request-id
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchIndexerDataSource'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchError'
      summary: Microsoft Azure Get Datasources Datasourcename
components:
  schemas:
    Scan:
      required:
      - kind
      type: object
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      properties:
        kind:
          enum:
          - AzureSubscriptionCredential
          - AzureSubscriptionMsi
          - AzureResourceGroupCredential
          - AzureResourceGroupMsi
          - AzureSynapseWorkspaceCredential
          - AzureSynapseWorkspaceMsi
          - AzureSynapseCredential
          - AzureSynapseMsi
          - AdlsGen1Credential
          - AdlsGen1Msi
          - AdlsGen2Credential
          - AdlsGen2Msi
          - AmazonAccountCredential
          - AmazonS3Credential
          - AmazonS3RoleARN
          - AmazonSqlCredential
          - AzureCosmosDbCredential
          - AzureDataExplorerCredential
          - AzureDataExplorerMsi
          - AzureFileServiceCredential
          - AzureSqlDatabaseCredential
          - AzureSqlDatabaseMsi
          - AmazonPostgreSqlCredential
          - AzurePostgreSqlCredential
          - SqlServerDatabaseCredential
          - AzureSqlDatabaseManagedInstanceCredential
          - AzureSqlDatabaseManagedInstanceMsi
          - AzureSqlDataWarehouseCredential
          - AzureSqlDataWarehouseMsi
          - AzureMySqlCredential
          - AzureStorageCredential
          - AzureStorageMsi
          - TeradataTeradataCredential
          - TeradataTeradataUserPass
          - TeradataUserPass
          - OracleOracleCredential
          - OracleOracleUserPass
          - SapS4HanaSapS4HanaCredential
          - SapS4HanaSapS4HanaUserPass
          - SapEccSapEccCredential
          - SapEccSapEccUserPass
          - PowerBIDelegated
          - PowerBIMsi
          type: string
          x-ms-enum:
            name: ScanAuthorizationType
            modelAsString: true
        scanResults:
          type: array
          items:
            $ref: '#/components/schemas/ScanResult'
          readOnly: true
      discriminator:
        propertyName: kind
    ProxyResource:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
    ErrorModel:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorModel'
    DataSourceList:
      required:
      - value
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/DataSource'
        nextLink:
          type: string
        count:
          format: int64
          type: integer
    ScanResult:
      type: object
      properties:
        parentId:
          type: string
          readOnly: true
        id:
          type: string
          readOnly: true
        resourceId:
          type: string
          readOnly: true
        status:
          type: string
          readOnly: true
        assetsDiscovered:
          format: int64
          type: integer
          readOnly: true
        assetsClassified:
          format: int64
          type: integer
          readOnly: true
        diagnostics:
          allOf:
          - $ref: '#/components/schemas/ScanDiagnostics'
          readOnly: true
        startTime:
          format: date-time
          type: string
          readOnly: true
        queuedTime:
          format: date-time
          type: string
          readOnly: true
        pipelineStartTime:
          format: date-time
          type: string
          readOnly: true
        endTime:
          format: date-time
          type: string
          readOnly: true
        scanRulesetVersion:
          format: int32
          type: integer
          readOnly: true
        scanRulesetType:
          enum:
          - Custom
          - System
          type: string
          readOnly: true
          x-ms-enum:
            name: ScanRulesetType
            modelAsString: true
        scanLevelType:
          enum:
          - Full
          - Incremental
          type: string
          readOnly: true
          x-ms-enum:
            name: ScanLevelType
            modelAsString: true
        errorMessage:
          type: string
          readOnly: true
        error:
          allOf:
          - $ref: '#/components/schemas/ErrorModel'
          readOnly: true
        runType:
          type: string
          readOnly: true
        dataSourceType:
          enum:
          - None
          - AzureSubscription
          - AzureResourceGroup
          - AzureSynapseWorkspace
          - AzureSynapse
          - AdlsGen1
          - AdlsGen2
          - AmazonAccount
          - AmazonS3
          - AmazonSql
          - AzureCosmosDb
          - AzureDataExplorer
          - AzureFileService
          - AzureSqlDatabase
          - AmazonPostgreSql
          - AzurePostgreSql
          - SqlServerDatabase
          - AzureSqlDatabaseManagedInstance
          - AzureSqlDataWarehouse
          - AzureMySql
          - AzureStorage
          - Teradata
          - Oracle
          - SapS4Hana
          - SapEcc
          - PowerBI
          type: string
          readOnly: true
          x-ms-enum:
            name: DataSourceType
            modelAsString: true
    DataSource:
      required:
      - kind
      type: object
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      properties:
        kind:
          enum:
          - None
          - AzureSubscription
          - AzureResourceGroup
          - AzureSynapseWorkspace
          - AzureSynapse
          - AdlsGen1
          - AdlsGen2
          - AmazonAccount
          - AmazonS3
          - AmazonSql
          - AzureCosmosDb
          - AzureDataExplorer
          - AzureFileService
          - AzureSqlDatabase
          - AmazonPostgreSql
          - AzurePostgreSql
          - SqlServerDatabase
          - AzureSqlDatabaseManagedInstance
          - AzureSqlDataWarehouse
          - AzureMySql
          - AzureStorage
          - Teradata
          - Oracle
          - SapS4Hana
          - SapEcc
          - PowerBI
          type: string
          x-ms-enum:
            name: DataSourceType
            modelAsString: true
        scans:
          type: array
          items:
            $ref: '#/components/schemas/Scan'
          readOnly: true
      discriminator:
        propertyName: kind
    ScanDiagnostics:
      type: object
      properties:
        notifications:
          type: array
          items:
            $ref: '#/components/schemas/Notification'
        exceptionCountMap:
          type: object
          additionalProperties:
            format: int32
            type: integer
          readOnly: true
    Notification:
      type: object
      properties:
        message:
          type: string
        code:
          format: int32
          type: integer
    ErrorResponseModel:
      type: object
      properties:
        error:
          allOf:
          - $ref: '#/components/schemas/ErrorModel'
    DataDeletionDetectionPolicy:
      discriminator:
        propertyName: '@odata.type'
      properties:
        '@odata.type':
          type: string
          description: Identifies the concrete type of the data deletion detection policy.
      required:
      - '@odata.type'
      description: Base type for data deletion detection policies.
    SearchIndexerDataContainer:
      properties:
        name:
          type: string
          description: The name of the table or view (for Azure SQL data source) or collection (for CosmosDB data source) that will be indexed.
        query:
          type: string
          description: A query that is applied to this data container. The syntax and meaning of this parameter is datasource-specific. Not supported by Azure SQL datasources.
      required:
      - name
      description: Represents information about the entity (such as Azure SQL table or CosmosDB collection) that will be indexed.
    DataSourceCredentials:
      properties:
        connectionString:
          externalDocs:
            url: https://docs.microsoft.com/rest/api/searchservice/Create-Data-Source
          type: string
          description: The connection string for the datasource.
      description: Represents credentials that can be used to connect to a datasource.
    DataChangeDetectionPolicy:
      discriminator:
        propertyName: '@odata.type'
      properties:
        '@odata.type':
          type: string
          description: Identifies the concrete type of the data change detection policy.
      required:
      - '@odata.type'
      description: Base type for data change detection policies.
    SearchIndexerDataSourceType:
      type: string
      enum:
      - azuresql
      - cosmosdb
      - azureblob
      - azuretable
      - mysql
      x-ms-enum:
        name: SearchIndexerDataSourceType
        modelAsString: true
        values:
        - value: azuresql
          name: AzureSql
          description: Indicates an Azure SQL datasource.
        - value: cosmosdb
          name: CosmosDb
          description: Indicates a CosmosDB datasource.
        - value: azureblob
          name: AzureBlob
          description: Indicates a Azure Blob datasource.
        - value: azuretable
          name: AzureTable
          description: Indicates a Azure Table datasource.
        - value: mysql
          name: MySql
          description: Indicates a MySql datasource.
      description: Defines the type of a datasource.
    SearchError:
      properties:
        code:
          type: string
          readOnly: true
          description: One of a server-defined set of error codes.
        message:
          type: string
          readOnly: true
          description: A human-readable representation of the error.
        details:
          type: array
          items:
            $ref: '#/components/schemas/SearchError'
          readOnly: true
          description: An array of details about specific errors that led to this reported error.
      required:
      - message
      description: Describes an error condition for the Azure Cognitive Search API.
    SearchIndexerDataSource:
      properties:
        name:
          externalDocs:
            url: https://docs.microsoft.com/rest/api/searchservice/Naming-rules
          type: string
          description: The name of the datasource.
        description:
          type: string
          description: The description of the datasource.
        type:
          $ref: '#/components/schemas/SearchIndexerDataSourceType'
          description: The type of the datasource.
        credentials:
          $ref: '#/components/schemas/DataSourceCredentials'
          description: Credentials for the datasource.
        container:
          $ref: '#/components/schemas/SearchIndexerDataContainer'
          description: The data container for the datasource.
        dataChangeDetectionPolicy:
          $ref: '#/components/schemas/DataChangeDetectionPolicy'
          description: The data change detection policy for the datasource.
        dataDeletionDetectionPolicy:
          $ref: '#/components/schemas/DataDeletionDetectionPolicy'
          description: The data deletion detection policy for the datasource.
        '@odata.etag':
          x-ms-client-name: ETag
          type: string
          description: The ETag of the data source.
      required:
      - name
      - type
      - credentials
      - container
      description: Represents a datasource definition, which can be used to configure an indexer.
    ListDataSourcesResult:
      properties:
        value:
          x-ms-client-name: DataSources
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/SearchIndexerDataSource'
          description: The datasources in the Search service.
      required:
      - value
      description: Response from a List Datasources request. If successful, it includes the full definitions of all datasources.
  parameters:
    api-version:
      in: query
      name: api-version
      description: The api version to use.
      required: true
      x-ms-client-name: ApiVersion
      schema:
        type: string
    IfNoneMatchParameter:
      name: If-None-Match
      in: header
      required: false
      description: Defines the If-None-Match condition. The operation will be performed only if the ETag on the server does not match this value.
      x-ms-parameter-location: method
      schema:
        type: string
    IfMatchParameter:
      name: If-Match
      in: header
      required: false
      description: Defines the If-Match condition. The operation will be performed only if the ETag on the server matches this value.
      x-ms-parameter-location: method
      schema:
        type: string
    ClientRequestIdParameter:
      name: x-ms-client-request-id
      in: header
      required: false
      description: The tracking ID sent with the request to help with debugging.
      x-ms-client-request-id: true
      x-ms-parameter-grouping:
        name: request-options
      x-ms-parameter-location: method
      schema:
        type: string
        format: uuid
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    PreferHeaderParameter:
      name: Prefer
      in: header
      required: true
      description: For HTTP PUT requests, instructs the service to return the created/updated resource on success.
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
        - return=representation
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-refined-from:
- microsoftscanningclient-openapi-original.yml
- searchserviceclient-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
