openapi: 3.2.0
info:
  title: Microsoft Azure DataPlaneAccountClient Contact Assignment…
  description: Creates a Microsoft.Purview data plane account client.
  version: 2023-10-01-preview
servers:
- url: https://purview.azure.com/account/
tags:
- name: ContactAssignment
paths:
  /contactAssignments/{contactAssignmentId}:
    get:
      tags:
      - ContactAssignment
      description: Get a contactAssignment
      operationId: microsoftAzureContactassignmentsGetcontactassignment
      parameters:
      - in: path
        name: contactAssignmentId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactAssignment'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        ContactAssignments_GetContactAssignment:
          $ref: ./examples/ContactAssignments_GetContactAssignment.json
      summary: Microsoft Azure Get Contactassignments Contactassignmentid
    put:
      tags:
      - ContactAssignment
      description: Creates or updates a contactAssignment entity.
      operationId: microsoftAzureContactassignmentsCreateorupdatecontactassignment
      parameters:
      - in: path
        name: contactAssignmentId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactAssignment'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        ContactAssignments_CreateOrUpdateContactAssignment:
          $ref: ./examples/ContactAssignments_CreateOrUpdateContactAssignment.json
      summary: Microsoft Azure Put Contactassignments Contactassignmentid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactAssignment'
        required: true
    delete:
      tags:
      - ContactAssignment
      description: Deletes a ContactAssignment entity.
      operationId: microsoftAzureContactassignmentsDeletecontactassignment
      parameters:
      - in: path
        name: contactAssignmentId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '204':
          description: No Content
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        ContactAssignments_DeleteContactAssignment:
          $ref: ./examples/ContactAssignments_DeleteContactAssignment.json
      summary: Microsoft Azure Delete Contactassignments Contactassignmentid
  /contactAssignments:
    get:
      tags:
      - ContactAssignment
      description: List the contactAssignments in the account.
      operationId: microsoftAzureContactassignmentsListcontactassignments
      parameters:
      - in: query
        name: scope
        schema:
          type: string
      - in: query
        name: contactGroupDefinition
        schema:
          type: string
      - in: query
        name: referenceType
        x-ms-enum:
          name: EntityReferenceType
          modelAsString: true
        schema:
          type: string
          enum:
          - Unknown
          - CollectionReference
          - ContactGroupDefinitionReference
          - DatasourceReference
          - ScanReference
          - AdaptiveScopeReference
      - $ref: '#/components/parameters/api-version'
      - in: query
        name: $skipToken
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactAssignmentList'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ContactAssignments_ListContactAssignments:
          $ref: ./examples/ContactAssignments_ListContactAssignments.json
      summary: Microsoft Azure Get Contactassignments
  /getScopedContactGroupNames:
    get:
      tags:
      - ContactAssignment
      description: Gets the distinct list of contact group names for the provided scope.
      operationId: microsoftAzureContactassignmentsListscopedcontactgroupnames
      parameters:
      - in: query
        name: scope
        schema:
          type: string
      - in: query
        name: referenceType
        x-ms-enum:
          name: EntityReferenceType
          modelAsString: true
        schema:
          type: string
          enum:
          - Unknown
          - CollectionReference
          - ContactGroupDefinitionReference
          - DatasourceReference
          - ScanReference
          - AdaptiveScopeReference
      - $ref: '#/components/parameters/api-version'
      - in: query
        name: $skipToken
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactGroupNameList'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ContactAssignments_ListScopedContactGroupNames:
          $ref: ./examples/ContactAssignments_ListScopedContactGroupNames.json
      summary: Microsoft Azure Get Getscopedcontactgroupnames
components:
  schemas:
    EntityReference:
      description: Entity reference type.
      type: object
      properties:
        referenceName:
          description: Gets or sets the reference name.
          type: string
        type:
          description: Gets or sets the reference type property.
          enum:
          - Unknown
          - CollectionReference
          - ContactGroupDefinitionReference
          - DatasourceReference
          - ScanReference
          - AdaptiveScopeReference
          type: string
          x-ms-enum:
            name: EntityReferenceType
            modelAsString: true
    ErrorModel:
      description: Default error model
      type: object
      properties:
        code:
          description: Gets or sets the code.
          type: string
          readOnly: true
        details:
          description: Gets or sets the details.
          type: array
          items:
            $ref: '#/components/schemas/ErrorModel'
          readOnly: true
        message:
          description: Gets or sets the messages.
          type: string
          readOnly: true
        target:
          description: Gets or sets the target.
          type: string
          readOnly: true
    ContactAssignmentList:
      description: Paged list of contactAssignment.
      required:
      - value
      type: object
      properties:
        count:
          format: int64
          description: Total item count.
          type: integer
        nextLink:
          description: The Url of next result page.
          type: string
        value:
          description: Collection of items of type results.
          type: array
          items:
            $ref: '#/components/schemas/ContactAssignment'
    ContactGroupNameList:
      description: Paged list of contact group names.
      required:
      - value
      type: object
      properties:
        count:
          format: int64
          description: Total item count.
          type: integer
        nextLink:
          description: The Url of next result page.
          type: string
        value:
          description: Collection of items of type results.
          type: array
          items:
            type: string
    ContactAssignment:
      description: ContactAssignment resource.
      type: object
      properties:
        assignmentId:
          format: uuid
          description: Gets or sets the id of the assignment.
          type: string
        contactGroup:
          $ref: '#/components/schemas/EntityReference'
        principalId:
          description: Gets or sets the principal Id.
          type: string
        scope:
          $ref: '#/components/schemas/EntityReference'
        systemData:
          $ref: '#/components/schemas/SystemData'
    ErrorResponseModel:
      description: Default error response model
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorModel'
    SystemData:
      description: Metadata pertaining to creation and last modification of the resource.
      type: object
      properties:
        createdAt:
          format: date-time
          description: The timestamp of resource creation (UTC).
          type: string
          readOnly: true
        createdBy:
          description: The identity that created the resource.
          type: string
          readOnly: true
        createdByType:
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          type: string
          readOnly: true
          x-ms-enum:
            name: IdentityType
            modelAsString: true
        lastModifiedAt:
          format: date-time
          description: The timestamp of the last modification the resource (UTC).
          type: string
          readOnly: true
        lastModifiedBy:
          description: The identity that last modified the resource.
          type: string
          readOnly: true
        lastModifiedByType:
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          type: string
          readOnly: true
          x-ms-enum:
            name: IdentityType
            modelAsString: true
  parameters:
    api-version:
      in: query
      name: api-version
      description: The api version to use.
      required: true
      x-ms-client-name: ApiVersion
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
