openapi: 3.2.0
info:
  title: Microsoft Azure Backups API
  x-refined-note:
  - x-ms-code-generation-settings differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Backups across 5 of this provider''s published API definitions: backupmanagementclient-openapi-original.yml, microsoft-netapp-openapi-original.yml, recoveryservicesbackupclient-openapi-original.yml, storsimple8000seriesmanagementclient-openapi-original.yml, storsimplemanagementclient-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Backups
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Backup.Admin/backupLocations/{location}/backups
  : get:
      x-ms-examples:
        Returns a list of backups from a location.:
          $ref: ./examples/Backups/List.json
      description: Returns a list of backups from a location.
      tags:
      - Backups
      operationId: microsoftAzureBackupsList
      parameters:
      - $ref: Backup.json#/parameters/SubscriptionIdParameter
      - $ref: Backup.json#/parameters/ResourceGroupParameter
      - $ref: BackupLocations.json#/parameters/BackupLocationParameter
      - $ref: Backup.json#/parameters/ApiVersionParameter
      - $ref: Backup.json#/parameters/TopParameter
      - $ref: Backup.json#/parameters/SkipParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupList'
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Backup.Admin/backupLocations/{location}/backups/{backup}
  : get:
      x-ms-examples:
        Returns a backup from a location based on name.:
          $ref: ./examples/Backups/Get.json
      description: Returns a backup from a location based on name.
      tags:
      - Backups
      operationId: microsoftAzureBackupsGet
      parameters:
      - $ref: Backup.json#/parameters/SubscriptionIdParameter
      - $ref: Backup.json#/parameters/ResourceGroupParameter
      - $ref: BackupLocations.json#/parameters/BackupLocationParameter
      - $ref: '#/components/parameters/BackupParameter'
      - $ref: Backup.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backup'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Backup.Admin/backupLocations/{location}/backups/{backup}/restore
  : post:
      x-ms-examples:
        Restore a backup.:
          $ref: ./examples/Backups/Restore.json
        Restore a single role from backup.:
          $ref: ./examples/Backups/SingleRepoRestore.json
      description: Restore a backup.
      tags:
      - Backups
      operationId: microsoftAzureBackupsRestore
      parameters:
      - $ref: Backup.json#/parameters/SubscriptionIdParameter
      - $ref: BackupLocations.json#/parameters/BackupLocationParameter
      - $ref: Backup.json#/parameters/ResourceGroupParameter
      - $ref: '#/components/parameters/BackupParameter'
      - $ref: Backup.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/RestoreOptionsParameter'
      responses:
        '200':
          description: OK
        '202':
          description: ACCEPTED
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/latestBackupStatus/current
  : get:
      tags:
      - Backups
      summary: Microsoft Azure Get The Latest Backup Status Of A Volume
      description: Get the latest status of the backup for a volume
      operationId: microsoftAzureBackupsGetlateststatus
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountName'
      - $ref: '#/components/parameters/PoolName'
      - $ref: '#/components/parameters/VolumeName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/backupStatus'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: null
      x-ms-examples:
        Volumes_BackupStatus:
          $ref: examples/Volumes_LatestBackupStatus.json
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/backupVaults/{backupVaultName}/backups
  : get:
      tags:
      - Backups
      summary: Microsoft Azure List Backups
      description: List all backups Under a Backup Vault
      operationId: microsoftAzureBackupsListbyvault
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountName'
      - $ref: '#/components/parameters/BackupVaultName'
      - in: query
        name: $filter
        description: An option to specify the VolumeResourceId. If present, then only returns the backups under the specified volume
        required: false
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      x-ms-pageable:
        nextLinkName: nextLink
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/backupsList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Backups_List:
          $ref: examples/BackupsUnderBackupVault_List.json
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/backupVaults/{backupVaultName}/backups/{backupName}
  : get:
      summary: Microsoft Azure Describe The Backup Under Backup Vault
      description: Get the specified Backup under Backup Vault.
      tags:
      - Backups
      operationId: microsoftAzureBackupsGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountName'
      - $ref: '#/components/parameters/BackupVaultName'
      - $ref: '#/components/parameters/BackupName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/backup'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        BackupsUnderBackupVault_Get:
          $ref: examples/BackupsUnderBackupVault_Get.json
    put:
      tags:
      - Backups
      summary: Microsoft Azure Create A Backup
      description: Create a backup under the Backup Vault
      operationId: microsoftAzureBackupsCreate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountName'
      - $ref: '#/components/parameters/BackupVaultName'
      - $ref: '#/components/parameters/BackupName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK - backup created updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/backup'
        '201':
          description: Backup created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/backup'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        BackupsUnderBackupVault_Create:
          $ref: examples/BackupsUnderBackupVault_Create.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/backup'
        description: Backup object supplied in the body of the operation.
        required: true
    patch:
      tags:
      - Backups
      summary: Microsoft Azure Patch A Backup
      description: Patch a Backup under the Backup Vault
      operationId: microsoftAzureBackupsUpdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountName'
      - $ref: '#/components/parameters/BackupVaultName'
      - $ref: '#/components/parameters/BackupName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/backup'
        '202':
          description: Accepted -- Create or update request accepted; operation will complete asynchronously
          headers:
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/backup'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        BackupsUnderBackupVault_Update:
          $ref: examples/BackupsUnderBackupVault_Update.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/backupPatch'
        description: Backup object supplied in the body of the operation.
    delete:
      tags:
      - Backups
      summary: Microsoft Azure Delete Backup
      description: Delete a Backup under the Backup Vault
      operationId: microsoftAzureBackupsDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountName'
      - $ref: '#/components/parameters/BackupVaultName'
      - $ref: '#/components/parameters/BackupName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '202':
          description: Accepted -- Create or update request accepted; operation will complete asynchronously
          headers:
            Location:
              schema:
                type: string
        '204':
          description: NoContent -- Resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        BackupsUnderBackupVault_Delete:
          $ref: examples/BackupsUnderBackupVault_Delete.json
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/backupVaults/{backupVaultName}/backups/{backupName}/restoreFiles
  : post:
      tags:
      - Backups
      operationId: microsoftAzureBackupsunderbackupvaultRestorefiles
      summary: Microsoft Azure Create A New Backup Restore Files Request
      description: Restore the specified files from the specified backup to the active filesystem
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountName'
      - $ref: '#/components/parameters/BackupVaultName'
      - $ref: '#/components/parameters/BackupName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        Backups_SingleFileRestore:
          $ref: examples/BackupsUnderBackupVault_SingleFileRestore.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/backupRestoreFiles'
        description: Restore payload supplied in the body of the operation.
        required: true
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/migrateBackups
  : post:
      tags:
      - Backups
      operationId: microsoftAzureBackupsundervolumeMigratebackups
      summary: Microsoft Azure Create A New Migrate Request For Backups Under Volume
      description: Migrate the backups under volume to backup vault
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountName'
      - $ref: '#/components/parameters/PoolName'
      - $ref: '#/components/parameters/VolumeName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        BackupsUnderVolume_Migrate:
          $ref: examples/BackupsUnderVolume_Migrate.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/backupsMigrationRequest'
        description: Migrate backups under volume payload supplied in the body of the operation.
        required: true
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/migrateBackups
  : post:
      tags:
      - Backups
      operationId: microsoftAzureBackupsunderaccountMigratebackups
      summary: Microsoft Azure Create A New Migrate Request For Backups Under Account
      description: Migrate the backups under a NetApp account to backup vault
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        BackupsUnderAccount_Migrate:
          $ref: examples/BackupsUnderAccount_Migrate.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/backupsMigrationRequest'
        description: Migrate backups under an account payload supplied in the body of the operation.
        required: true
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/backup
  : post:
      tags:
      - Backups
      description: 'Triggers backup for specified backed up item. This is an asynchronous operation. To know the status of the

        operation, call GetProtectedItemOperationResult API.'
      operationId: microsoftAzureBackupsTrigger
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/VaultName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Fabric name associated with the backup item.
        required: true
        schema:
          type: string
      - name: containerName
        in: path
        description: Container name associated with the backup item.
        required: true
        schema:
          type: string
      - name: protectedItemName
        in: path
        description: Backup item for which backup needs to be triggered.
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Accepted
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Trigger Backup:
          $ref: ./examples/Common/TriggerBackup_Post.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupRequestResource'
        description: resource backup request
        required: true
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backups
  : get:
      tags:
      - Backups
      description: Retrieves all the backups in a device.
      operationId: microsoftAzureBackupsListbydevice
      parameters:
      - $ref: '#/components/parameters/deviceNameParameter'
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      - name: $filter
        in: query
        description: OData Filter options
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The collection of backups.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupList_2'
      deprecated: false
      x-ms-odata: '#/definitions/BackupFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        BackupsListByDevice:
          $ref: ./examples/BackupsListByDevice.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backups/{backupName}
  : delete:
      tags:
      - Backups
      description: Deletes the backup.
      operationId: microsoftAzureBackupsDelete
      parameters:
      - $ref: '#/components/parameters/deviceNameParameter'
      - name: backupName
        in: path
        description: The backup name.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to delete the backup.
        '204':
          description: Successfully deleted the backup.
      deprecated: false
      x-ms-long-running-operation: true
      x-ms-examples:
        BackupsDelete:
          $ref: ./examples/BackupsDelete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backups/{backupName}/elements/{backupElementName}/clone
  : post:
      tags:
      - Backups
      description: Clones the backup element as a new volume.
      operationId: microsoftAzureBackupsClone
      parameters:
      - $ref: '#/components/parameters/deviceNameParameter'
      - name: backupName
        in: path
        description: The backup name.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: backupElementName
        in: path
        description: The backup element name.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully cloned the backup.
        '202':
          description: Accepted the request to clone.
      deprecated: false
      x-ms-long-running-operation: true
      x-ms-examples:
        BackupsClone:
          $ref: ./examples/BackupsClone.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloneRequest'
        description: The clone request object.
        required: true
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backups/{backupName}/restore
  : post:
      tags:
      - Backups
      description: Restores the backup on the device.
      operationId: microsoftAzureBackupsRestore
      parameters:
      - $ref: '#/components/parameters/deviceNameParameter'
      - name: backupName
        in: path
        description: The backupSet name
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully restored the backup.
        '202':
          description: Accepted the request to restore.
      deprecated: false
      x-ms-long-running-operation: true
      x-ms-examples:
        BackupsRestore:
          $ref: ./examples/BackupsRestore.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/backups
  : get:
      tags:
      - Backups
      description: Retrieves all the backups in a manager.
      operationId: microsoftAzureBackupsListbymanager
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter_2'
      - $ref: '#/components/parameters/resourceGroupNameParameter_2'
      - $ref: '#/components/parameters/managerNameParameter_2'
      - $ref: '#/components/parameters/apiVersionParameter_2'
      - name: $filter
        in: query
        description: OData Filter options
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The collection of backups.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupList_3'
        default:
          description: Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      deprecated: false
      x-ms-odata: '#/definitions/BackupFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        BackupsListByManager:
          $ref: ./examples/BackupsListByManager.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/backups/{backupName}/elements/{elementName}/clone
  : post:
      tags:
      - Backups
      description: Clones the given backup element to a new disk or share with given details.
      operationId: microsoftAzureBackupsClone
      parameters:
      - name: deviceName
        in: path
        description: The device name.
        required: true
        schema:
          type: string
      - name: backupName
        in: path
        description: The backup name.
        required: true
        schema:
          type: string
      - name: elementName
        in: path
        description: The backup element name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter_2'
      - $ref: '#/components/parameters/resourceGroupNameParameter_2'
      - $ref: '#/components/parameters/managerNameParameter_2'
      - $ref: '#/components/parameters/apiVersionParameter_2'
      responses:
        '200':
          description: Successfully cloned.
        '202':
          description: Accepted the request to clone.
        default:
          description: Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      deprecated: false
      x-ms-long-running-operation: true
      x-ms-examples:
        BackupsClone:
          $ref: ./examples/BackupsClone.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloneRequest_2'
        description: The clone request.
        required: true
    servers:
    - url: https://management.azure.com
components:
  schemas:
    BackupInfo:
      type: object
      description: Holds information for a backup.
      properties:
        backupDataVersion:
          description: Version of the backup data.
          type: string
          readOnly: true
        roleStatus:
          description: Backup status for each role.
          $ref: '#/components/schemas/RoleOperationStatusList'
          readOnly: true
        status:
          description: Current status of the backup.
          $ref: '#/components/schemas/OperationStatus'
          readOnly: true
        createdDateTime:
          description: Creation time of the backup.
          type: string
          format: date-time
          readOnly: true
        timeTakenToCreate:
          description: Duration to create the backup.
          type: string
          readOnly: true
        deploymentID:
          description: Deployment Id of the stamp.
          type: string
          readOnly: true
        stampVersion:
          description: Azure Stack stamp version of the backup.
          type: string
          readOnly: true
        oemVersion:
          description: OEM version.
          type: string
          readOnly: true
        isCloudRecoveryReady:
          description: True if the backup can be used for cloud recovery scenario.
          type: boolean
          readOnly: true
        encryptionCertThumbprint:
          description: The thumbprint of the certificate used to encrypt the backup encryption key.
          type: string
          readOnly: true
    BackupList:
      type: object
      description: List of backups.
      properties:
        value:
          description: List of backups.
          type: array
          items:
            $ref: '#/components/schemas/Backup'
        nextLink:
          description: URI to the next page.
          type: string
    BackupModel:
      description: Properties for a backup.
      properties:
        backupInfo:
          description: Holds information for a backup.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/BackupInfo'
    OperationStatus:
      description: Status of an operation.
      type: string
      enum:
      - Creating
      - Queued
      - Running
      - Deleted
      - Failed
      - PartialSucceeded
      - Succeeded
      x-ms-enum:
        name: OperationStatus
        modelAsString: false
    RestoreOptions:
      description: Properties for restore options.
      properties:
        roleName:
          description: The Azure Stack role name for restore, set it to empty for all infrastructure role
          type: string
        decryptionCertBase64:
          description: The certificate file raw data in Base64 string. This should be the .pfx file with the private key.
          type: string
        decryptionCertPassword:
          description: The password for the decryption certificate.
          type: string
    Backup:
      description: Information related to a backup.
      type: object
      properties:
        properties:
          description: Properties for a backup.
          $ref: '#/components/schemas/BackupModel'
          x-ms-client-flatten: true
      allOf:
      - $ref: Backup.json#/definitions/Resource
    RoleOperationStatusList:
      description: object
      type: array
      items:
        $ref: '#/components/schemas/RoleOperationStatus'
    RoleOperationStatus:
      description: Backup status for a role.
      type: object
      properties:
        roleName:
          description: Name of the role.
          type: string
        status:
          description: Status of the role.
          $ref: '#/components/schemas/OperationStatus'
    backupPatchProperties:
      description: Backup patch properties
      type: object
      properties:
        label:
          type: string
          description: Label for backup
    backupPatch:
      description: Backup patch
      type: object
      properties:
        properties:
          description: Backup Patch Properties
          $ref: '#/components/schemas/backupPatchProperties'
          x-ms-client-flatten: true
    backup:
      description: Backup under a Backup Vault
      type: object
      required:
      - properties
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
      properties:
        properties:
          description: Backup Properties
          $ref: '#/components/schemas/backupProperties'
          x-ms-client-flatten: true
    backupRestoreFiles:
      description: Restore payload for Single File Backup Restore
      type: object
      required:
      - fileList
      - destinationVolumeId
      properties:
        fileList:
          description: List of files to be restored
          type: array
          minItems: 1
          maxItems: 8
          items:
            type: string
            maxLength: 1024
            minLength: 1
          example:
          - /dir1/customer1.db
          - /dir1/customer2.db
        restoreFilePath:
          description: Destination folder where the files will be restored. The path name should start with a forward slash. If it is omitted from request then restore is done at the root folder of the destination volume by default
          type: string
          pattern: ^\/.*$
          example: /AVSdataStore
        destinationVolumeId:
          description: Resource Id of the destination volume on which the files need to be restored
          type: string
          example: /subscriptions/D633CC2E-722B-4AE1-B636-BBD9E4C60ED9/resourceGroups/myRG/providers/Microsoft.NetApp/netAppAccounts/account1/capacityPools/pool1/volumes/volume1
    backupsMigrationRequest:
      description: Migrate Backups Request
      type: object
      x-ms-azure-resource: true
      required:
      - backupVaultId
      properties:
        backupVaultId:
          type: string
          description: The ResourceId of the Backup Vault
          example: /subscriptions/D633CC2E-722B-4AE1-B636-BBD9E4C60ED9/resourceGroups/myRG/providers/Microsoft.NetApp/netAppAccounts/account1/backupVaults/backupVault1
    backupProperties:
      description: Backup properties
      type: object
      required:
      - volumeResourceId
      properties:
        backupId:
          title: backupId
          type: string
          readOnly: true
          description: UUID v4 used to identify the Backup
          pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
          maxLength: 36
          minLength: 36
          example: 9760acf5-4638-11e7-9bdb-020073ca3333
        creationDate:
          title: creationDate
          type: string
          format: date-time
          readOnly: true
          description: The creation date of the backup
          example: '2017-08-15 13:23:33'
        provisioningState:
          type: string
          readOnly: true
          description: Azure lifecycle management
        size:
          type: integer
          readOnly: true
          description: Size of backup in bytes
          format: int64
        label:
          type: string
          description: Label for backup
        backupType:
          title: backupType
          type: string
          readOnly: true
          description: Type of backup Manual or Scheduled
          enum:
          - Manual
          - Scheduled
          x-ms-enum:
            name: backupType
            modelAsString: true
            values:
            - value: Manual
              description: Manual backup
            - value: Scheduled
              description: Scheduled backup
          example: Manual
        failureReason:
          type: string
          readOnly: true
          description: Failure reason
        volumeResourceId:
          type: string
          description: ResourceId used to identify the Volume
          x-ms-mutability:
          - read
          - create
        useExistingSnapshot:
          type: boolean
          description: Manual backup an already existing snapshot. This will always be false for scheduled backups and true/false for manual backups
          example: true
          default: false
          x-ms-mutability:
          - read
          - create
        snapshotName:
          type: string
          description: The name of the snapshot
          x-ms-mutability:
          - read
          - create
        backupPolicyResourceId:
          type: string
          readOnly: true
          description: ResourceId used to identify the backup policy
    backupStatus:
      description: Backup status
      type: object
      properties:
        healthy:
          type: boolean
          readOnly: true
          description: Backup health status
        relationshipStatus:
          type: string
          readOnly: true
          description: Status of the backup mirror relationship
          enum:
          - Idle
          - Transferring
          - Failed
          - Unknown
          x-ms-enum:
            name: RelationshipStatus
            modelAsString: true
        mirrorState:
          type: string
          readOnly: true
          description: The status of the backup
          enum:
          - Uninitialized
          - Mirrored
          - Broken
          x-ms-enum:
            name: MirrorState
            modelAsString: true
        unhealthyReason:
          type: string
          readOnly: true
          description: Reason for the unhealthy backup relationship
        errorMessage:
          type: string
          readOnly: true
          description: Displays error message if the backup is in an error state
        lastTransferSize:
          type: integer
          format: int64
          readOnly: true
          description: Displays the last transfer size
        lastTransferType:
          type: string
          readOnly: true
          description: Displays the last transfer type
        totalTransferBytes:
          type: integer
          format: int64
          readOnly: true
          description: Displays the total bytes transferred
        transferProgressBytes:
          type: integer
          format: int64
          readOnly: true
          description: Displays the total number of bytes transferred for the ongoing operation
    backupsList:
      description: List of Backups
      type: object
      properties:
        value:
          description: A list of Backups
          type: array
          items:
            $ref: '#/components/schemas/backup'
        nextLink:
          type: string
          description: URL to get the next set of results.
    CloudError:
      x-ms-external: true
      properties:
        error:
          type: object
          $ref: '#/components/schemas/CloudErrorBody'
          description: The error object.
      description: An error response from the Container Instance service.
    BackupRequestResource:
      description: Base class for backup request. Workload-specific backup requests are derived from this class.
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/BackupRequest'
          description: BackupRequestResource properties
    BackupRequest:
      description: Base class for backup request. Workload-specific backup requests are derived from this class.
      required:
      - objectType
      type: object
      properties:
        objectType:
          description: This property will be used as the discriminator for deciding the specific types in the polymorphic chain of types.
          type: string
      discriminator:
        propertyName: objectType
    CloudErrorBody:
      x-ms-external: true
      properties:
        code:
          readOnly: true
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          readOnly: true
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          readOnly: true
          type: string
          description: The target of the particular error. For example, the name of the property in error.
        details:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          x-ms-identifiers:
          - code
          description: A list of additional details about the error.
        additionalInfo:
          readOnly: true
          type: array
          items:
            $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorAdditionalInfo
          x-ms-identifiers: []
          description: The error additional info.
      description: An error response from the Container Instance service.
    Resource:
      description: ARM Resource.
      type: object
      properties:
        id:
          description: Resource Id represents the complete path to the resource.
          type: string
          readOnly: true
        name:
          description: Resource name associated with the resource.
          type: string
          readOnly: true
        type:
          description: Resource type represents the complete path of the form Namespace/ResourceType/ResourceType/...
          type: string
          readOnly: true
        location:
          description: Resource location.
          type: string
        tags:
          description: Resource tags.
          type: object
          additionalProperties:
            type: string
        eTag:
          description: Optional ETag.
          type: string
      x-ms-azure-resource: true
    BackupElement:
      description: The backup element.
      required:
      - elementId
      - elementName
      - elementType
      - sizeInBytes
      - volumeName
      - volumeContainerId
      type: object
      properties:
        elementId:
          description: The path ID that uniquely identifies the backup element.
          type: string
        elementName:
          description: The name of the backup element.
          type: string
        elementType:
          description: The hierarchical type of the backup element.
          type: string
        sizeInBytes:
          format: int64
          description: The size in bytes.
          type: integer
        volumeName:
          description: The name of the volume.
          type: string
        volumeContainerId:
          description: The path ID of the volume container.
          type: string
        volumeType:
          description: The volume type.
          enum:
          - Tiered
          - Archival
          - LocallyPinned
          type: string
          x-ms-enum:
            name: VolumeType
            modelAsString: false
    BackupList_2:
      description: The collection of backups.
      required:
      - value
      type: object
      properties:
        value:
          description: The value.
          type: array
          items:
            $ref: '#/components/schemas/Backup_2'
        nextLink:
          description: The NextLink.
          type: string
    BaseModel:
      description: Represents the base class for all other ARM object models
      type: object
      properties:
        id:
          description: The path ID that uniquely identifies the object.
          type: string
          readOnly: true
        name:
          description: The name of the object.
          type: string
          readOnly: true
        type:
          description: The hierarchical type of the object.
          type: string
          readOnly: true
        kind:
          description: The Kind of the object. Currently only Series8000 is supported
          enum:
          - Series8000
          type: string
          x-ms-enum:
            name: Kind
            modelAsString: false
    Backup_2:
      description: The backup.
      required:
      - properties
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseModel'
      properties:
        properties:
          $ref: '#/components/schemas/BackupProperties'
          description: The properties of the backup.
          x-ms-client-flatten: true
    CloneRequest:
      description: The clone job request.
      required:
      - targetDeviceId
      - targetVolumeName
      - targetAccessControlRecordIds
      - backupElement
      type: object
      properties:
        targetDeviceId:
          description: The path ID of the device which will act as the clone target.
          type: string
        targetVolumeName:
          description: The name of the new volume which will be created and the backup will be cloned into.
          type: string
        targetAccessControlRecordIds:
          description: The list of path IDs of the access control records to be associated to the new cloned volume.
          type: array
          items:
            type: string
        backupElement:
          $ref: '#/components/schemas/BackupElement'
          description: The backup element that is cloned.
    BackupProperties:
      description: The properties of the backup.
      required:
      - createdOn
      - sizeInBytes
      - elements
      type: object
      properties:
        createdOn:
          format: date-time
          description: The time when the backup was created.
          type: string
        sizeInBytes:
          format: int64
          description: The backup size in bytes.
          type: integer
        backupType:
          description: The type of the backup.
          enum:
          - LocalSnapshot
          - CloudSnapshot
          type: string
          x-ms-enum:
            name: BackupType
            modelAsString: false
        backupJobCreationType:
          description: The backup job creation type.
          enum:
          - Adhoc
          - BySchedule
          - BySSM
          type: string
          x-ms-enum:
            name: BackupJobCreationType
            modelAsString: false
        backupPolicyId:
          description: The path ID of the backup policy.
          type: string
        ssmHostName:
          description: The StorSimple Snapshot Manager host name.
          type: string
        elements:
          description: The backup elements.
          type: array
          items:
            $ref: '#/components/schemas/BackupElement'
          x-ms-identifiers:
          - elementId
          - volumeContainerId
    CloneRequest_2:
      description: Clone Job Request Model.
      required:
      - properties
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/CloneRequestProperties'
          description: CloneJob Properties are encapsulated in this object.
          x-ms-client-flatten: true
    CloneRequestProperties:
      description: Properties of CloneRequest
      required:
      - targetDeviceId
      - targetAccessPointId
      - newEndpointName
      type: object
      properties:
        targetDeviceId:
          description: DeviceId of the device which will act as the Clone target
          type: string
        targetAccessPointId:
          description: Access point Id on which clone job will performed.
          type: string
        newEndpointName:
          description: Name of new endpoint which will created as part of clone job.
          type: string
        share:
          $ref: '#/components/schemas/FileShare'
          description: Share Object.
        disk:
          $ref: '#/components/schemas/ISCSIDisk'
          description: Disk Object
    BaseModel_2:
      description: Base class for models
      type: object
      properties:
        id:
          description: The identifier.
          type: string
          readOnly: true
        name:
          description: The name.
          type: string
          readOnly: true
        type:
          description: The type.
          type: string
          readOnly: true
    FileShareProperties:
      description: The File Share.
      required:
      - shareStatus
      - dataPolicy
      - adminUser
      - provisionedCapacityInBytes
      - monitoringStatus
      type: object
      properties:
        description:
          description: Description for file share
          type: string
        shareStatus:
          description: The Share Status
          enum:
          - Online
          - Offline
          type: string
          x-ms-enum:
            name: ShareStatus
            modelAsString: false
        dataPolicy:
          description: The data policy
          enum:
          - Invalid
          - Local
          - Tiered
          - Cloud
          type: string
          x-ms-enum:
            name: DataPolicy
            modelAsString: false
        adminUser:
          description: 'The user/group who will have full permission in this share. Active directory email address. Example: xyz@contoso.com or Contoso\xyz.'
          type: string
        provisionedCapacityInBytes:
          format: int64
          description: The total provisioned capacity in Bytes
          type: integer
        usedCapacityInBytes:
          format: int64
          description: The used capacity in Bytes.
          type: integer
          readOnly: true
        localUsedCapacityInBytes:
          format: int64
          description: The local used capacity in Bytes.
          type: integer
          readOnly: true
        monitoringStatus:
          description: The monitoring status
          enum:
          - Enabled
          - Disabled
          type: string
          x-ms-enum:
            name: MonitoringStatus
            modelAsString: false
    BackupElement_2:
      description: Class represents BackupElement
      required:
      - properties
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseModel_2'
      properties:
        properties:
          $ref: '#/components/schemas/BackupElementProperties'
          description: The Properties of backup element
          x-ms-client-flatten: true
    Backup_3:
      description: The backup.
      required:
      - properties
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseModel_2'
      properties:
        properties:
          $ref: '#/components/schemas/BackupProperties_2'
          description: Properties of backup
          x-ms-client-flatten: true
    FileShare:
      description: The File Share.
      required:
      - properties
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseModel_2'
      properties:
        properties:
          $ref: '#/components/schemas/FileShareProperties'
          description: The properties.
          x-ms-client-flatten: true
    Item:
      required:
      - key
      - value
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    ISCSIDisk:
      description: The iSCSI disk.
      required:
      - properties
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseModel_2'
      properties:
        properties:
          $ref: '#/components/schemas/ISCSIDiskProperties'
          description: The properties.
          x-ms-client-flatten: true
    BackupList_3:
      description: Collection of backups
      required:
      - value
      type: object
      properties:
        value:
          description: The value.
          type: array
          items:
            $ref: '#/components/schemas/Backup_3'
        nextLink:
          description: The NextLink.
          type: string
    Message:
      type: object
      properties:
        language:
          type: string
        value:
          type: string
    ISCSIDiskProperties:
      description: The iSCSI disk properties.
      required:
      - diskStatus
      - accessControlRecords
      - dataPolicy
      - provisionedCapacityInBytes
      - monitoringStatus
      type: object
      properties:
        description:
          description: The description.
          type: string
        diskStatus:
          description: The disk status.
          enum:
          - Online
          - Offline
          type: string
          x-ms-enum:
            name: DiskStatus
            modelAsString: false
        accessControlRecords:
          description: The access control records.
          type: array
          items:
            type: string
        dataPolicy:
          description: The data policy.
          enum:
          - Invalid
          - Local
          - Tiered
          - Cloud
          type: string
          x-ms-enum:
            name: DataPolicy
            modelAsString: false
        provisionedCapacityInBytes:
          format: int64
          description: The provisioned capacity in bytes.
          type: integer
        usedCapacityInBytes:
          format: int64
          description: The used capacity in bytes.
          type: integer
          readOnly: true
        localUsedCapacityInBytes:
          format: int64
          description: The local used capacity in bytes.
          type: integer
          readOnly: true
        monitoringStatus:
          description: The monitoring.
          enum:
          - Enabled
          - Disabled
          type: string
          x-ms-enum:
            name: MonitoringStatus
            modelAsString: false
    Error:
      required:
      - errorCode
      - message
      type: object
      properties:
        errorCode:
          type: string
        message:
          $ref: '#/components/schemas/Message'
        values:
          type: array
          items:
            $ref: '#/components/schemas/Item'
          x-ms-identifiers:
          - key
    BackupProperties_2:
      description: Class represents Backup properties
      required:
      - sizeInBytes
      - initiatedBy
      - deviceId
      - elements
      type: object
      properties:
        targetId:
          description: The path id of the target FileServer or IscsiServer for which the backup was taken.
          type: string
        targetType:
          description: Type of target, FileServer or IscsiServer
          type: string
        sizeInBytes:
          format: int64
          description: The backup size in bytes.
          type: integer
        createdTime:
          format: date-time
          description: The time when the backup was created.
          type: string
        expirationTime:
          format: date-time
          description: The time when the backup will expire.
          type: string
        initiatedBy:
          description: Indicates how the backup was initiated "Manual | Scheduled".
          enum:
          - Manual
          - Scheduled
          type: string
          x-ms-enum:
            name: InitiatedBy
            modelAsString: false
        deviceId:
          description: The Device Identifier.
          type: string
        elements:
          description: The backup elements.
          type: array
          items:
            $ref: '#/components/schemas/BackupElement_2'
    BackupElementProperties:
      description: The backup element properties
      required:
      - sizeInBytes
      - endpointName
      - dataPolicy
      type: object
      properties:
        sizeInBytes:
          format: int64
          description: The size in bytes.
          type: integer
        endpointName:
          description: The name of the endpoint.
          type: string
        dataPolicy:
          description: The data policy of backed up endpoint.
          enum:
          - Invalid
          - Local
          - Tiered
          - Cloud
          type: string
          x-ms-enum:
            name: DataPolicy
            modelAsString: false
  parameters:
    RestoreOptionsParameter:
      name: restoreOptions
      in: body
      description: Restore options.
      required: true
      schema:
        $ref: '#/components/schemas/RestoreOptions'
      x-ms-parameter-location: method
    BackupParameter:
      name: backup
      in: path
      description: Name of the backup.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    PoolName:
      name: poolName
      in: path
      required: true
      description: The name of the capacity pool
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 1
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9\-_]{0,63}$
    AccountName:
      name: accountName
      in: path
      required: true
      description: The name of the NetApp account
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9\-_]{0,127}$
    BackupName:
      name: backupName
      in: path
      required: true
      description: The name of the backup
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9\-_.]{0,255}$
    VolumeName:
      name: volumeName
      in: path
      required: true
      description: The name of the volume
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 1
        pattern: ^[a-zA-Z][a-zA-Z0-9\-_]{0,63}$
    BackupVaultName:
      name: backupVaultName
      in: path
      required: true
      description: The name of the Backup Vault
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9\-_]{0,63}$
    ResourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group where the recovery services vault is present.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionId:
      name: subscriptionId
      in: path
      description: The subscription Id.
      required: true
      schema:
        type: string
    ApiVersion:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
    VaultName:
      name: vaultName
      in: path
      description: The name of the recovery services vault.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription id
      required: true
      x-ms-skip-url-encoding: true
      schema:
        type: string
    deviceNameParameter:
      name: deviceName
      in: path
      description: The device name
      required: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The resource group name
      required: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
    managerNameParameter:
      name: managerName
      in: path
      description: The manager name
      required: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
        maxLength: 50
        minLength: 2
    apiVersionParameter:
      name: api-version
      in: query
      description: The api version
      required: true
      x-ms-skip-url-encoding: true
      schema:
        type: string
    subscriptionIdParameter_2:
      name: subscriptionId
      in: path
      description: The subscription id
      required: true
      schema:
        type: string
    resourceGroupNameParameter_2:
      name: resourceGroupName
      in: path
      description: The resource group name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    managerNameParameter_2:
      name: managerName
      in: path
      description: The manager name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 50
        minLength: 2
    apiVersionParameter_2:
      name: api-version
      in: query
      description: The api version
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Authorization uses an Azure Active Directory OAuth2 flow.
x-refined-from:
- backupmanagementclient-openapi-original.yml
- microsoft-netapp-openapi-original.yml
- recoveryservicesbackupclient-openapi-original.yml
- storsimple8000seriesmanagementclient-openapi-original.yml
- storsimplemanagementclient-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
