openapi: 3.2.0
info:
  title: Microsoft Azure Recovery Point API
  x-refined-note:
  - x-ms-code-generation-settings differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged RecoveryPoint across 3 of this provider''s published API definitions: azure-site-recovery-management-service-api-openapi-original.yml, dataprotectionbackupclient-openapi-original.yml, recoveryservicesbackupclient-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: RecoveryPoint
  description: Recovery points controller.
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointName}
  : get:
      tags:
      - RecoveryPoint
      summary: Microsoft Azure Gets The Recovery Point
      description: Gets the details of the recovery point of a protected item.
      operationId: microsoftAzureRecoverypointsGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/VaultNameParameter'
      - $ref: '#/components/parameters/ProtectedItemNameParameter'
      - $ref: '#/components/parameters/RecoveryPointNameParameter'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoveryPointModel'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RecoveryPoints_Get:
          $ref: ./examples/RecoveryPoints_Get.json
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/protectedItems/{protectedItemName}/recoveryPoints
  : get:
      tags:
      - RecoveryPoint
      summary: Microsoft Azure Lists The Recovery Points
      description: Gets the list of recovery points of the given protected item.
      operationId: microsoftAzureRecoverypointsList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/VaultNameParameter'
      - $ref: '#/components/parameters/ProtectedItemNameParameter'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoveryPointModelCollection'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        RecoveryPoints_List:
          $ref: ./examples/RecoveryPoints_List.json
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/backupVaults/{vaultName}/backupInstances/{backupInstanceName}/recoveryPoints
  : get:
      tags:
      - RecoveryPoint
      description: Returns a list of Recovery Points for a DataSource in a vault.
      operationId: microsoftAzureRecoverypointsList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/VaultName'
      - $ref: '#/components/parameters/BackupInstanceName'
      - name: $filter
        in: query
        description: OData filter options.
        required: false
        schema:
          type: string
      - name: $skipToken
        in: query
        description: skipToken Filter.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureBackupRecoveryPointResourceList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/RecoveryPointsFilters'
      x-ms-examples:
        List Recovery Points in a Vault:
          $ref: ./examples/BackupInstanceOperations/ListRecoveryPoints.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/backupVaults/{vaultName}/backupInstances/{backupInstanceName}/recoveryPoints/{recoveryPointId}
  : get:
      tags:
      - RecoveryPoint
      description: Gets a Recovery Point using recoveryPointId for a Datasource.
      operationId: microsoftAzureRecoverypointsGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/VaultName'
      - $ref: '#/components/parameters/BackupInstanceName'
      - name: recoveryPointId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureBackupRecoveryPointResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Get Recovery Point:
          $ref: ./examples/BackupInstanceOperations/GetRecoveryPoint.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}/move
  : post:
      tags:
      - RecoveryPoint
      summary: Microsoft Azure Move Recovery Point From One Datastore To Another Store
      operationId: microsoftAzureMoverecoverypoint
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/VaultName_2'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: fabricName
        in: path
        required: true
        schema:
          type: string
      - name: containerName
        in: path
        required: true
        schema:
          type: string
      - name: protectedItemName
        in: path
        required: true
        schema:
          type: string
      - name: recoveryPointId
        in: path
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Accepted
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError_2'
      x-ms-long-running-operation: true
      x-ms-examples:
        Trigger RP Move Operation:
          $ref: ./examples/TriggerRecoveryPointMove_Post.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveRPAcrossTiersRequest'
        description: Move Resource Across Tiers Request
        required: true
    servers:
    - url: https://management.azure.com
components:
  schemas:
    RecoveryPointModelCollection:
      description: Recovery point model collection.
      type: object
      properties:
        value:
          description: Gets or sets the list of recovery points.
          type: array
          items:
            $ref: '#/components/schemas/RecoveryPointModel'
          x-ms-identifiers: []
        nextLink:
          description: Gets or sets the value of next link.
          type: string
    RecoveryPointModelProperties:
      description: Recovery point model properties.
      required:
      - customProperties
      - recoveryPointTime
      - recoveryPointType
      type: object
      properties:
        recoveryPointTime:
          format: date-time
          description: Gets or sets the recovery point time.
          type: string
        recoveryPointType:
          description: Gets or sets the recovery point type.
          enum:
          - ApplicationConsistent
          - CrashConsistent
          type: string
          x-ms-enum:
            name: RecoveryPointType
            modelAsString: true
        customProperties:
          $ref: '#/components/schemas/RecoveryPointModelCustomProperties'
    RecoveryPointModelCustomProperties:
      description: Recovery point model custom properties.
      required:
      - instanceType
      type: object
      properties:
        instanceType:
          description: Gets or sets the instance type.
          minLength: 1
          type: string
      discriminator:
        propertyName: instanceType
    RecoveryPointModel:
      description: Recovery point model.
      required:
      - properties
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/RecoveryPointModelProperties'
        id:
          description: Gets or sets the Id of the resource.
          type: string
          readOnly: true
        name:
          description: Gets or sets the name of the resource.
          type: string
          readOnly: true
        type:
          description: Gets or sets the type of the resource.
          type: string
          readOnly: true
        systemData:
          allOf:
          - $ref: '#/components/schemas/SystemDataModel'
          readOnly: true
    SystemDataModel:
      description: System data required to be defined for Azure resources.
      type: object
      properties:
        createdBy:
          description: Gets or sets identity that created the resource.
          type: string
        createdByType:
          description: 'Gets or sets the type of identity that created the resource: user, application,

            managedIdentity.'
          type: string
        createdAt:
          format: date-time
          description: Gets or sets the timestamp of resource creation (UTC).
          type: string
        lastModifiedBy:
          description: Gets or sets the identity that last modified the resource.
          type: string
        lastModifiedByType:
          description: 'Gets or sets the type of identity that last modified the resource: user, application,

            managedIdentity.'
          type: string
        lastModifiedAt:
          format: date-time
          description: Gets or sets the timestamp of resource last modification (UTC).
          type: string
    DppResource:
      description: Resource class
      properties:
        id:
          description: Resource Id represents the complete path to the resource.
          readOnly: true
          type: string
        name:
          description: Resource name associated with the resource.
          readOnly: true
          type: string
        type:
          description: Resource type represents the complete path of the form Namespace/ResourceType/ResourceType/...
          readOnly: true
          type: string
        systemData:
          $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/systemData
      title: DppResource
      type: object
      x-ms-azure-resource: true
    CloudError:
      description: An error response from Azure Backup.
      properties:
        error:
          $ref: '#/components/schemas/Error'
      title: CloudError
      x-ms-external: true
    AzureBackupRecoveryPoint:
      description: Azure backup recoveryPoint
      discriminator:
        propertyName: objectType
      properties:
        objectType:
          type: string
      required:
      - objectType
      title: AzureBackupRecoveryPoint
      type: object
    DppResourceList:
      description: ListResource
      properties:
        nextLink:
          description: The uri to fetch the next page of resources. Call ListNext() fetches next page of resources.
          type: string
      title: List Resource
      type: object
    AzureBackupRecoveryPointResourceList:
      allOf:
      - $ref: '#/components/schemas/DppResourceList'
      description: Azure backup recoveryPoint resource list
      properties:
        value:
          description: List of resources.
          items:
            $ref: '#/components/schemas/AzureBackupRecoveryPointResource'
          type: array
      title: AzureBackupRecoveryPointResourceList
      type: object
    ErrorAdditionalInfo:
      description: The resource management error additional info.
      properties:
        info:
          description: The additional info.
          readOnly: true
          type: object
        type:
          description: The additional info type.
          readOnly: true
          type: string
    Error:
      description: The resource management error response.
      properties:
        additionalInfo:
          description: The error additional info.
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          x-ms-identifiers: []
          readOnly: true
          type: array
        code:
          description: The error code.
          readOnly: true
          type: string
        details:
          description: The error details.
          items:
            $ref: '#/components/schemas/Error'
          x-ms-identifiers: []
          readOnly: true
          type: array
        message:
          description: The error message.
          readOnly: true
          type: string
        target:
          description: The error target.
          readOnly: true
          type: string
    AzureBackupRecoveryPointResource:
      allOf:
      - $ref: '#/components/schemas/DppResource'
      description: Azure backup recoveryPoint resource
      properties:
        properties:
          $ref: '#/components/schemas/AzureBackupRecoveryPoint'
          description: AzureBackupRecoveryPointResource properties
      title: AzureBackupRecoveryPointResource
    CloudError_2:
      x-ms-external: true
      properties:
        error:
          type: object
          $ref: '#/components/schemas/CloudErrorBody'
          description: The error object.
      description: An error response from the Container Instance service.
    CloudErrorBody:
      x-ms-external: true
      properties:
        code:
          readOnly: true
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          readOnly: true
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          readOnly: true
          type: string
          description: The target of the particular error. For example, the name of the property in error.
        details:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          x-ms-identifiers:
          - code
          description: A list of additional details about the error.
        additionalInfo:
          readOnly: true
          type: array
          items:
            $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorAdditionalInfo
          x-ms-identifiers: []
          description: The error additional info.
      description: An error response from the Container Instance service.
    MoveRPAcrossTiersRequest:
      type: object
      properties:
        objectType:
          description: Gets the class type.
          type: string
        sourceTierType:
          description: Source tier from where RP needs to be moved
          enum:
          - Invalid
          - InstantRP
          - HardenedRP
          - ArchivedRP
          type: string
          x-ms-enum:
            name: RecoveryPointTierType
            modelAsString: false
        targetTierType:
          description: Target tier where RP needs to be moved
          enum:
          - Invalid
          - InstantRP
          - HardenedRP
          - ArchivedRP
          type: string
          x-ms-enum:
            name: RecoveryPointTierType
            modelAsString: false
  parameters:
    RecoveryPointNameParameter:
      in: path
      name: recoveryPointName
      description: The recovery point name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9]*$
    VaultNameParameter:
      in: path
      name: vaultName
      description: The vault name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9]*$
    ProtectedItemNameParameter:
      in: path
      name: protectedItemName
      description: The protected item name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9]*$
    BackupInstanceName:
      name: backupInstanceName
      in: path
      description: The name of the backup instance.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    VaultName:
      name: vaultName
      in: path
      description: The name of the backup vault.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group where the recovery services vault is present.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionId:
      name: subscriptionId
      in: path
      description: The subscription Id.
      required: true
      schema:
        type: string
    ApiVersion:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
    VaultName_2:
      name: vaultName
      in: path
      description: The name of the recovery services vault.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- azure-site-recovery-management-service-api-openapi-original.yml
- dataprotectionbackupclient-openapi-original.yml
- recoveryservicesbackupclient-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
