openapi: 3.2.0
info:
  title: Microsoft Azure NetworkResourceProviderClient Local Network…
  description: The Windows Azure Network management API provides a RESTful set of web services that interact with Windows Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Windows Azure Networks service.
  version: 2015-05-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: LocalNetworkGateways
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways/{localNetworkGatewayName}
  : put:
      tags:
      - LocalNetworkGateways
      operationId: microsoftAzureLocalnetworkgatewaysCreateorupdate
      description: The Put LocalNetworkGateway operation creates/updates a local network gateway in the specified resource group through Network resource provider.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: localNetworkGatewayName
        in: path
        required: true
        description: The name of the local network gateway.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocalNetworkGateway'
          text/json:
            schema:
              $ref: '#/components/schemas/LocalNetworkGateway'
        description: Parameters supplied to the Begin Create or update Local Network Gateway operation through Network resource provider.
        required: true
    get:
      tags:
      - LocalNetworkGateways
      operationId: microsoftAzureLocalnetworkgatewaysGet
      description: The Get LocalNetworkGateway operation retrieves information about the specified local network gateway through Network resource provider.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: localNetworkGatewayName
        in: path
        required: true
        description: The name of the local network gateway.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways/{localNetworkGatewayName}/
  : delete:
      tags:
      - LocalNetworkGateways
      operationId: microsoftAzureLocalnetworkgatewaysDelete
      description: The Delete LocalNetworkGateway operation deletes the specified local network Gateway through Network resource provider.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: localNetworkGatewayName
        in: path
        required: true
        description: The name of the local network gateway.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
        '202':
          description: ''
        '204':
          description: ''
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways:
    get:
      tags:
      - LocalNetworkGateways
      operationId: microsoftAzureLocalnetworkgatewaysList
      description: The List LocalNetworkGateways operation retrieves all the local network gateways stored.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGatewayListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGatewayListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    AddressSpace:
      properties:
        addressPrefixes:
          type: array
          items:
            type: string
          description: Gets or sets List of address blocks reserved for this virtual network in CIDR notation
      description: AddressSpace contains an array of IP address ranges that can be used by subnets
    LocalNetworkGatewayPropertiesFormat:
      properties:
        localNetworkAddressSpace:
          $ref: '#/components/schemas/AddressSpace'
          description: Local network site Address space
        gatewayIpAddress:
          type: string
          description: IP address of local network gateway.
        resourceGuid:
          type: string
          description: Gets or sets resource guid property of the LocalNetworkGateway resource
        provisioningState:
          type: string
          description: Gets or sets Provisioning state of the LocalNetworkGateway resource Updating/Deleting/Failed
      description: LocalNetworkGateway properties
    LocalNetworkGatewayListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/LocalNetworkGateway'
          description: Gets List of LocalNetworkGateways that exists in a resource group
        nextLink:
          type: string
          description: Gets the URL to get the next set of results.
      description: Response for ListLocalNetworkGateways Api service call
    Resource:
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        location:
          type: string
          description: Resource location
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
      required:
      - location
      x-ms-azure-resource: true
    LocalNetworkGateway:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/LocalNetworkGatewayPropertiesFormat'
        etag:
          type: string
          description: Gets a unique read-only string that changes whenever the resource is updated
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: A common class for general resource information
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
