openapi: 3.2.0
info:
  version: 2021-04-01-preview
  title: Microsoft Azure StoragePoolManagement Storage Pool…
  description: APIs for StoragePool operations.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: StoragePoolOperations
  description: APIs for StoragePool operations.
paths:
  /providers/Microsoft.StoragePool/operations:
    get:
      tags:
      - StoragePoolOperations
      operationId: microsoftAzureOperationsList
      description: Gets a list of StoragePool operations.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Retrieved RP operations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoragePoolOperationListResult'
        default:
          description: Error from the RP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: null
      x-ms-examples:
        List operations:
          $ref: ./examples/Operations_List.json
      summary: Microsoft Azure Get Providers Microsoft Storagepool Operations
components:
  schemas:
    StoragePoolOperationListResult:
      type: object
      required:
      - value
      description: List of operations supported by the RP.
      additionalProperties: false
      properties:
        value:
          type: array
          description: An array of operations supported by the StoragePool RP.
          items:
            $ref: '#/components/schemas/StoragePoolRPOperation'
        nextLink:
          description: URI to fetch the next section of the paginated response.
          type: string
    ErrorAdditionalInfo:
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    Error:
      type: object
      description: The resource management error response.
      properties:
        error:
          type: object
          description: RP error response.
          $ref: '#/components/schemas/ErrorResponse'
    StoragePoolRPOperation:
      type: object
      required:
      - name
      - isDataAction
      - display
      description: Description of a StoragePool RP Operation
      additionalProperties: false
      properties:
        name:
          type: string
          description: The name of the operation being performed on this particular object
        isDataAction:
          type: boolean
          description: Indicates whether the operation applies to data-plane.
        actionType:
          type: string
          description: Indicates the action type.
        display:
          description: Additional metadata about RP operation.
          $ref: '#/components/schemas/StoragePoolOperationDisplay'
        origin:
          type: string
          description: The intended executor of the operation; governs the display of the operation in the RBAC UX and the audit logs UX.
    StoragePoolOperationDisplay:
      type: object
      required:
      - provider
      - resource
      - operation
      - description
      description: Metadata about an operation.
      additionalProperties: false
      properties:
        provider:
          type: string
          description: Localized friendly form of the resource provider name.
        resource:
          type: string
          description: Localized friendly form of the resource type related to this action/operation.
        operation:
          type: string
          description: Localized friendly name for the operation, as it should be shown to the user.
        description:
          type: string
          description: Localized friendly description for the operation, as it should be shown to the user.
    ErrorResponse:
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponse'
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          description: The error additional info.
      description: The resource management error response.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
