openapi: 3.2.0
info:
  title: Microsoft Azure Azure SQL Database Backup API
  description: Provides read functionality for Azure SQL Database Backups
  version: '2014-04-01'
servers:
- url: https://management.azure.com
tags:
- name: DatabaseBackup
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/restorePoints
  : get:
      tags:
      - DatabaseBackup
      operationId: microsoftAzureRestorepointsListbydatabase
      description: Gets a list of database restore points.
      x-ms-examples:
        Get a database's restore points:
          $ref: ./examples/DatabaseRestorePointsList.json
        Get a data warehouse's restore points:
          $ref: ./examples/DataWarehouseRestorePointsList.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/components/parameters/ServerNameParameter'
      - name: databaseName
        in: path
        required: true
        description: The name of the database to get available restore points.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestorePointListResult'
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    RestorePoint:
      properties:
        properties:
          $ref: '#/components/schemas/RestorePointProperties'
          description: The properties of the restore point.
          x-ms-client-flatten: true
      allOf:
      - $ref: ../../../common/v1/types.json#/definitions/ProxyResource
      description: A database restore point.
    RestorePointProperties:
      properties:
        restorePointType:
          readOnly: true
          type: string
          description: The restore point type of the database restore point.
          enum:
          - DISCRETE
          - CONTINUOUS
          x-ms-enum:
            name: RestorePointType
        restorePointCreationDate:
          readOnly: true
          type: string
          format: date-time
          description: Restore point creation time (ISO8601 format). Populated when restorePointType = CONTINUOUS. Null otherwise.
        earliestRestoreDate:
          readOnly: true
          type: string
          format: date-time
          description: Earliest restore time (ISO8601 format). Populated when restorePointType = DISCRETE. Null otherwise.
      description: Represents the properties of a database restore point.
    RestorePointListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/RestorePoint'
          description: The list of database restore points.
      required:
      - value
      description: The response to a list database restore points request.
  parameters:
    ServerNameParameter:
      name: serverName
      in: path
      required: true
      description: The name of the server.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
