openapi: 3.2.0
info:
  version: 2022-12-01-preview
  title: Microsoft Azure DataBoxEdgeManagementClient Orders API
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Orders
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/orders
  : get:
      tags:
      - Orders
      summary: Microsoft Azure Lists All The Orders Related To A Data Box Edge Data Box…
      operationId: microsoftAzureOrdersListbydataboxedgedevice
      parameters:
      - name: deviceName
        in: path
        description: The device name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Lists all the orders for the Data Box Edge Device
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        OrderGetAllInDevice:
          $ref: ./examples/OrderGetAllInDevice.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/orders/default
  : get:
      tags:
      - Orders
      summary: Microsoft Azure Gets A Specific Order By Name
      operationId: microsoftAzureOrdersGet
      parameters:
      - name: deviceName
        in: path
        description: The device name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The order details of a device.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        OrderGet:
          $ref: ./examples/OrderGet.json
      description: Needs a more full description created.
    put:
      tags:
      - Orders
      summary: Microsoft Azure Creates Or Updates An Order
      operationId: microsoftAzureOrdersCreateorupdate
      parameters:
      - name: deviceName
        in: path
        description: The order details of a device.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully created or updated the order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '202':
          description: Accepted the request to create or update the order.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-long-running-operation: true
      x-ms-examples:
        OrderPut:
          $ref: ./examples/OrderPut.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
        description: The order to be created or updated.
        required: true
    delete:
      tags:
      - Orders
      summary: Microsoft Azure Deletes The Order Related To The Device
      operationId: microsoftAzureOrdersDelete
      parameters:
      - name: deviceName
        in: path
        description: The device name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully deleted the order.
        '202':
          description: Accepted the request to delete the order.
        '204':
          description: The order is already deleted.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-long-running-operation: true
      x-ms-examples:
        OrderDelete:
          $ref: ./examples/OrderDelete.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/orders/default/listDCAccessCode
  : post:
      tags:
      - Orders
      summary: Microsoft Azure Gets The Dcaccess Code
      operationId: microsoftAzureOrdersListdcaccesscode
      parameters:
      - name: deviceName
        in: path
        description: The device name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: DC Access code for the device
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DCAccessCode'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        GetDCAccessCode:
          $ref: ./examples/GetDCAccessCode.json
      description: Needs a more full description created.
components:
  schemas:
    CloudError:
      description: An error response from the service.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: The error details.
      x-ms-external: true
    OrderProperties:
      description: Order properties.
      type: object
      required:
      - contactInformation
      properties:
        orderId:
          description: It specify the order resource id.
          type: string
          readOnly: true
        contactInformation:
          $ref: '#/components/schemas/ContactDetails'
          description: The contact details.
        shippingAddress:
          $ref: '#/components/schemas/Address'
          description: The shipping address.
        currentStatus:
          $ref: '#/components/schemas/OrderStatus'
          description: Current status of the order.
          readOnly: true
        orderHistory:
          description: List of status changes in the order.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/OrderStatus'
          x-ms-identifiers:
          - trackingInformation/serialNumber
          readOnly: true
        serialNumber:
          description: Serial number of the device.
          type: string
          readOnly: true
        deliveryTrackingInfo:
          description: Tracking information for the package delivered to the customer whether it has an original or a replacement device.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/TrackingInfo'
          x-ms-identifiers:
          - serialNumber
          readOnly: true
        returnTrackingInfo:
          description: Tracking information for the package returned from the customer whether it has an original or a replacement device.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/TrackingInfo'
          x-ms-identifiers:
          - serialNumber
          readOnly: true
        shipmentType:
          description: ShipmentType of the order
          enum:
          - NotApplicable
          - ShippedToCustomer
          - SelfPickup
          type: string
          x-ms-enum:
            name: ShipmentType
            modelAsString: true
    ARMBaseModel:
      description: Represents the base class for all object models.
      type: object
      properties:
        id:
          description: The path ID that uniquely identifies the object.
          type: string
          readOnly: true
        name:
          description: The object name.
          type: string
          readOnly: true
        type:
          description: The hierarchical type of the object.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    Order:
      description: The order details.
      type: object
      allOf:
      - $ref: '#/components/schemas/ARMBaseModel'
      properties:
        kind:
          description: It specify the order api version.
          type: string
          readOnly: true
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: Metadata pertaining to creation and last modification of Order
          readOnly: true
        properties:
          $ref: '#/components/schemas/OrderProperties'
          description: The order properties.
          x-ms-client-flatten: true
    TrackingInfo:
      description: Tracking courier information.
      type: object
      properties:
        serialNumber:
          description: Serial number of the device being tracked.
          type: string
        carrierName:
          description: Name of the carrier used in the delivery.
          type: string
        trackingId:
          description: Tracking ID of the shipment.
          type: string
        trackingUrl:
          description: Tracking URL of the shipment.
          type: string
    CloudErrorBody:
      description: An error response from the service.
      type: object
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
          type: string
        message:
          description: A message describing the error, intended to be suitable for display in a user interface.
          type: string
        details:
          description: A list of additional details about the error.
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          x-ms-identifiers: []
      x-ms-external: true
    DCAccessCodeProperties:
      description: DCAccessCode Properties.
      type: object
      properties:
        authCode:
          description: DCAccess Code for the Self Managed shipment.
          type: string
    Address:
      description: The shipping address of the customer.
      required:
      - country
      type: object
      properties:
        addressLine1:
          description: The address line1.
          type: string
        addressLine2:
          description: The address line2.
          type: string
        addressLine3:
          description: The address line3.
          type: string
        postalCode:
          description: The postal code.
          type: string
        city:
          description: The city name.
          type: string
        state:
          description: The state name.
          type: string
        country:
          description: The country name.
          type: string
    OrderStatus:
      description: Represents a single status change.
      required:
      - status
      type: object
      properties:
        status:
          description: Status of the order as per the allowed status types.
          enum:
          - Untracked
          - AwaitingFulfillment
          - AwaitingPreparation
          - AwaitingShipment
          - Shipped
          - Arriving
          - Delivered
          - ReplacementRequested
          - LostDevice
          - Declined
          - ReturnInitiated
          - AwaitingReturnShipment
          - ShippedBack
          - CollectedAtMicrosoft
          - AwaitingPickup
          - PickupCompleted
          - AwaitingDrop
          type: string
          x-ms-enum:
            name: OrderState
            modelAsString: true
        updateDateTime:
          format: date-time
          description: Time of status update.
          type: string
          readOnly: true
        comments:
          description: Comments related to this status change.
          type: string
        trackingInformation:
          $ref: '#/components/schemas/TrackingInfo'
          description: Tracking information related to the state in the ordering flow
          readOnly: true
        additionalOrderDetails:
          description: 'Dictionary to hold generic information which is not stored

            by the already existing properties'
          type: object
          additionalProperties:
            type: string
          readOnly: true
    ContactDetails:
      description: Contains all the contact details of the customer.
      required:
      - contactPerson
      - companyName
      - phone
      - emailList
      type: object
      properties:
        contactPerson:
          description: The contact person name.
          type: string
        companyName:
          description: The name of the company.
          type: string
        phone:
          description: The phone number.
          type: string
        emailList:
          description: The email list.
          uniqueItems: false
          type: array
          items:
            type: string
          x-ms-identifiers: []
    OrderList:
      description: List of order entities.
      type: object
      properties:
        value:
          description: The list of orders.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/Order'
          readOnly: true
          x-ms-identifiers: []
        nextLink:
          description: Link to the next set of results.
          type: string
          readOnly: true
    DCAccessCode:
      description: DC Access code in the case of Self Managed Shipping.
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/DCAccessCodeProperties'
          description: DCAccessCode properties.
          x-ms-client-flatten: true
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID.
      required: true
      schema:
        type: string
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The resource group name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      description: The API version.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
