openapi: 3.2.0
info:
  title: Microsoft Azure NotificationHubsManagementClient…
  description: Azure NotificationHub client
  version: '2017-04-01'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: NotificationHubs
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/checkNotificationHubAvailability
  : post:
      tags:
      - NotificationHubs
      x-ms-examples:
        notificationHubCheckNameAvailability:
          $ref: ./examples/NotificationHubs/NotificationHubCheckNameAvailability.json
      operationId: microsoftAzureNotificationhubsChecknotificationhubavailability
      description: Checks the availability of the given notificationHub in a namespace.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: namespaceName
        in: path
        required: true
        description: The namespace name.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Checks if the NotificationHub name is a valid available name
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckAvailabilityResult'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckAvailabilityParameters'
        description: The notificationHub name.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}
  : put:
      tags:
      - NotificationHubs
      x-ms-examples:
        NotificationHubCreate:
          $ref: ./examples/NotificationHubs/NotificationHubCreate.json
      operationId: microsoftAzureNotificationhubsCreateorupdate
      description: Creates/Update a NotificationHub in a namespace.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: namespaceName
        in: path
        required: true
        description: The namespace name.
        schema:
          type: string
      - name: notificationHubName
        in: path
        required: true
        description: The notification hub name.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: NotificationHub is Created/Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationHubResource'
        '201':
          description: NotificationHub is Created/Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationHubResource'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationHubCreateOrUpdateParameters'
        description: Parameters supplied to the create/update a NotificationHub Resource.
        required: true
    patch:
      tags:
      - NotificationHubs
      x-ms-examples:
        NotificationHubPatch:
          $ref: ./examples/NotificationHubs/NotificationHubPatch.json
      operationId: microsoftAzureNotificationhubsPatch
      description: Patch a NotificationHub in a namespace.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: namespaceName
        in: path
        required: true
        description: The namespace name.
        schema:
          type: string
      - name: notificationHubName
        in: path
        required: true
        description: The notification hub name.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: NotificationHub is patched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationHubResource'
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationHubPatchParameters'
        description: Parameters supplied to patch a NotificationHub Resource.
    delete:
      tags:
      - NotificationHubs
      x-ms-examples:
        NotificationHubDelete:
          $ref: ./examples/NotificationHubs/NotificationHubDelete.json
      operationId: microsoftAzureNotificationhubsDelete
      description: Deletes a notification hub associated with a namespace.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: namespaceName
        in: path
        required: true
        description: The namespace name.
        schema:
          type: string
      - name: notificationHubName
        in: path
        required: true
        description: The notification hub name.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Namespace is deleted
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    get:
      tags:
      - NotificationHubs
      x-ms-examples:
        NotificationHubGet:
          $ref: ./examples/NotificationHubs/NotificationHubGet.json
      operationId: microsoftAzureNotificationhubsGet
      description: Lists the notification hubs associated with a namespace.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: namespaceName
        in: path
        required: true
        description: The namespace name.
        schema:
          type: string
      - name: notificationHubName
        in: path
        required: true
        description: The notification hub name.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Get the NotificationHub
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationHubResource'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/debugsend
  : post:
      tags:
      - NotificationHubs
      x-ms-examples:
        debugsend:
          $ref: ./examples/NotificationHubs/NotificationHubDebugSend.json
      operationId: microsoftAzureNotificationhubsDebugsend
      description: test send a push notification
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: namespaceName
        in: path
        required: true
        description: The namespace name.
        schema:
          type: string
      - name: notificationHubName
        in: path
        required: true
        description: The notification hub name.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '201':
          description: push send status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DebugSendResponse'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DebugSendParameters'
        description: Debug send parameters
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules/{authorizationRuleName}
  : put:
      tags:
      - NotificationHubs
      x-ms-examples:
        NotificationHubAuthorizationRuleCreate:
          $ref: ./examples/NotificationHubs/NotificationHubAuthorizationRuleCreate.json
      operationId: microsoftAzureNotificationhubsCreateorupdateauthorizationrule
      description: Creates/Updates an authorization rule for a NotificationHub
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: namespaceName
        in: path
        required: true
        description: The namespace name.
        schema:
          type: string
      - name: notificationHubName
        in: path
        required: true
        description: The notification hub name.
        schema:
          type: string
      - name: authorizationRuleName
        in: path
        required: true
        description: Authorization Rule Name.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: NotificationHub AuthorizationRule is Created/Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SharedAccessAuthorizationRuleCreateOrUpdateParameters'
        description: The shared access authorization rule.
        required: true
    delete:
      tags:
      - NotificationHubs
      x-ms-examples:
        NotificationHubAuthorizationRuleDelete:
          $ref: ./examples/NotificationHubs/NotificationHubAuthorizationRuleDelete.json
      operationId: microsoftAzureNotificationhubsDeleteauthorizationrule
      description: Deletes a notificationHub authorization rule
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: namespaceName
        in: path
        required: true
        description: The namespace name.
        schema:
          type: string
      - name: notificationHubName
        in: path
        required: true
        description: The notification hub name.
        schema:
          type: string
      - name: authorizationRuleName
        in: path
        required: true
        description: Authorization Rule Name.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: NotificationHub AuthorizationRule is deleted
        '204':
          description: NotificationHub AuthorizationRule is already deleted
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    get:
      tags:
      - NotificationHubs
      x-ms-examples:
        NotificationHubAuthorizationRuleGet:
          $ref: ./examples/NotificationHubs/NotificationHubAuthorizationRuleGet.json
      operationId: microsoftAzureNotificationhubsGetauthorizationrule
      description: Gets an authorization rule for a NotificationHub by name.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: namespaceName
        in: path
        required: true
        description: The namespace name
        schema:
          type: string
      - name: notificationHubName
        in: path
        required: true
        description: The notification hub name.
        schema:
          type: string
      - name: authorizationRuleName
        in: path
        required: true
        description: authorization rule name.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Get NotificationHub AuthorizationRule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs
  : get:
      tags:
      - NotificationHubs
      x-ms-examples:
        NotificationHubListByNameSpace:
          $ref: ./examples/NotificationHubs/NotificationHubListByNameSpace.json
      operationId: microsoftAzureNotificationhubsList
      description: Lists the notification hubs associated with a namespace.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: namespaceName
        in: path
        required: true
        description: The namespace name.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Get all NotificationHubs within a Namespace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationHubListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules
  : get:
      tags:
      - NotificationHubs
      x-ms-examples:
        NotificationHubAuthorizationRuleListAll:
          $ref: ./examples/NotificationHubs/NotificationHubAuthorizationRuleListAll.json
      operationId: microsoftAzureNotificationhubsListauthorizationrules
      description: Gets the authorization rules for a NotificationHub.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: namespaceName
        in: path
        required: true
        description: The namespace name
        schema:
          type: string
      - name: notificationHubName
        in: path
        required: true
        description: The notification hub name.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Get all NotificationHub AuthorizationRules
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules/{authorizationRuleName}/listKeys
  : post:
      tags:
      - NotificationHubs
      x-ms-examples:
        NotificationHubAuthorizationRuleListKey:
          $ref: ./examples/NotificationHubs/NotificationHubAuthorizationRuleListKey.json
      operationId: microsoftAzureNotificationhubsListkeys
      description: Gets the Primary and Secondary ConnectionStrings to the NotificationHub
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: namespaceName
        in: path
        required: true
        description: The namespace name.
        schema:
          type: string
      - name: notificationHubName
        in: path
        required: true
        description: The notification hub name.
        schema:
          type: string
      - name: authorizationRuleName
        in: path
        required: true
        description: The connection string of the NotificationHub for the specified authorizationRule.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Gets the Namespace AuthorizationRule's Primary keys and Secondary keys along with the ConnectionStrings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListKeys'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules/{authorizationRuleName}/regenerateKeys
  : post:
      tags:
      - NotificationHubs
      x-ms-examples:
        NotificationHubAuthorizationRuleRegenrateKey:
          $ref: ./examples/NotificationHubs/NotificationHubAuthorizationRuleRegenrateKey.json
      operationId: microsoftAzureNotificationhubsRegeneratekeys
      description: Regenerates the Primary/Secondary Keys to the NotificationHub Authorization Rule
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: namespaceName
        in: path
        required: true
        description: The namespace name.
        schema:
          type: string
      - name: notificationHubName
        in: path
        required: true
        description: The notification hub name.
        schema:
          type: string
      - name: authorizationRuleName
        in: path
        required: true
        description: The connection string of the NotificationHub for the specified authorizationRule.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Regenerate the Primary/Secondary Key and returns the Keys and the connection string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListKeys'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicykeyResource'
        description: Parameters supplied to regenerate the NotificationHub Authorization Rule Key.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/pnsCredentials
  : post:
      tags:
      - NotificationHubs
      x-ms-examples:
        notificationHubPnsCredentials:
          $ref: ./examples/NotificationHubs/NotificationHubPnsCredentials.json
      operationId: microsoftAzureNotificationhubsGetpnscredentials
      description: Lists the PNS Credentials associated with a notification hub .
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: namespaceName
        in: path
        required: true
        description: The namespace name.
        schema:
          type: string
      - name: notificationHubName
        in: path
        required: true
        description: The notification hub name.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Gets all the NotificationHub PNS credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PnsCredentialsResource'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    NotificationHubProperties:
      properties:
        name:
          type: string
          description: The NotificationHub name.
        registrationTtl:
          type: string
          description: The RegistrationTtl of the created NotificationHub
        authorizationRules:
          type: array
          items:
            $ref: '#/components/schemas/SharedAccessAuthorizationRuleProperties'
          x-ms-identifiers:
          - keyName
          description: The AuthorizationRules of the created NotificationHub
        apnsCredential:
          $ref: '#/components/schemas/ApnsCredential'
          description: The ApnsCredential of the created NotificationHub
        wnsCredential:
          $ref: '#/components/schemas/WnsCredential'
          description: The WnsCredential of the created NotificationHub
        gcmCredential:
          $ref: '#/components/schemas/GcmCredential'
          description: The GcmCredential of the created NotificationHub
        mpnsCredential:
          $ref: '#/components/schemas/MpnsCredential'
          description: The MpnsCredential of the created NotificationHub
        admCredential:
          $ref: '#/components/schemas/AdmCredential'
          description: The AdmCredential of the created NotificationHub
        baiduCredential:
          $ref: '#/components/schemas/BaiduCredential'
          description: The BaiduCredential of the created NotificationHub
      description: NotificationHub properties.
    SharedAccessAuthorizationRuleProperties:
      properties:
        rights:
          type: array
          items:
            type: string
            enum:
            - Manage
            - Send
            - Listen
            x-ms-enum:
              name: AccessRights
              modelAsString: false
          description: The rights associated with the rule.
        primaryKey:
          readOnly: true
          type: string
          description: A base64-encoded 256-bit primary key for signing and validating the SAS token.
        secondaryKey:
          readOnly: true
          type: string
          description: A base64-encoded 256-bit primary key for signing and validating the SAS token.
        keyName:
          readOnly: true
          type: string
          description: A string that describes the authorization rule.
        claimType:
          readOnly: true
          type: string
          description: A string that describes the claim type
        claimValue:
          readOnly: true
          type: string
          description: A string that describes the claim value
        modifiedTime:
          readOnly: true
          type: string
          description: The last modified time for this rule
        createdTime:
          readOnly: true
          type: string
          description: The created time for this rule
        revision:
          readOnly: true
          type: integer
          description: The revision number for the rule
      description: SharedAccessAuthorizationRule properties.
    DebugSendResponse:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/DebugSendResult'
          description: Properties of the NotificationHub.
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Description of a NotificationHub Resource.
    NotificationHubListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/NotificationHubResource'
          description: Result of the List NotificationHub operation.
        nextLink:
          type: string
          description: Link to the next set of results. Not empty if Value contains incomplete list of NotificationHub
      description: The response of the List NotificationHub operation.
    AdmCredential:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/AdmCredentialProperties'
          description: Properties of NotificationHub AdmCredential.
      description: Description of a NotificationHub AdmCredential.
    WnsCredential:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/WnsCredentialProperties'
          description: Properties of NotificationHub WnsCredential.
      description: Description of a NotificationHub WnsCredential.
    CheckAvailabilityResult:
      properties:
        isAvailiable:
          type: boolean
          description: True if the name is available and can be used to create new Namespace/NotificationHub. Otherwise false.
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Description of a CheckAvailability resource.
    MpnsCredentialProperties:
      properties:
        mpnsCertificate:
          type: string
          description: The MPNS certificate.
        certificateKey:
          type: string
          description: The certificate key for this credential.
        thumbprint:
          type: string
          description: The MPNS certificate Thumbprint
      description: Description of a NotificationHub MpnsCredential.
    PnsCredentialsResource:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/PnsCredentialsProperties'
          description: NotificationHub PNS Credentials.
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Description of a NotificationHub PNS Credentials.
    GcmCredentialProperties:
      properties:
        gcmEndpoint:
          type: string
          description: The FCM legacy endpoint. Default value is 'https://fcm.googleapis.com/fcm/send'
        googleApiKey:
          type: string
          description: The Google API key.
      description: Description of a NotificationHub GcmCredential.
    PnsCredentialsProperties:
      properties:
        apnsCredential:
          $ref: '#/components/schemas/ApnsCredential'
          description: The ApnsCredential of the created NotificationHub
        wnsCredential:
          $ref: '#/components/schemas/WnsCredential'
          description: The WnsCredential of the created NotificationHub
        gcmCredential:
          $ref: '#/components/schemas/GcmCredential'
          description: The GcmCredential of the created NotificationHub
        mpnsCredential:
          $ref: '#/components/schemas/MpnsCredential'
          description: The MpnsCredential of the created NotificationHub
        admCredential:
          $ref: '#/components/schemas/AdmCredential'
          description: The AdmCredential of the created NotificationHub
        baiduCredential:
          $ref: '#/components/schemas/BaiduCredential'
          description: The BaiduCredential of the created NotificationHub
      description: Description of a NotificationHub PNS Credentials.
    SharedAccessAuthorizationRuleCreateOrUpdateParameters:
      properties:
        properties:
          $ref: '#/components/schemas/SharedAccessAuthorizationRuleProperties'
          description: Properties of the Namespace AuthorizationRules.
      required:
      - properties
      description: Parameters supplied to the CreateOrUpdate Namespace AuthorizationRules.
    AdmCredentialProperties:
      properties:
        clientId:
          type: string
          description: The client identifier.
        clientSecret:
          type: string
          description: The credential secret access key.
        authTokenUrl:
          type: string
          description: The URL of the authorization token.
      description: Description of a NotificationHub AdmCredential.
    CheckAvailabilityParameters:
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        location:
          type: string
          description: Resource location
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
        sku:
          $ref: '#/components/schemas/Sku'
          description: The sku of the created namespace
        isAvailiable:
          type: boolean
          description: True if the name is available and can be used to create new Namespace/NotificationHub. Otherwise false.
      required:
      - name
      description: Parameters supplied to the Check Name Availability for Namespace and NotificationHubs.
    SharedAccessAuthorizationRuleListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
          description: Result of the List AuthorizationRules operation.
        nextLink:
          type: string
          description: Link to the next set of results. Not empty if Value contains incomplete list of AuthorizationRules
      description: The response of the List Namespace operation.
    ApnsCredentialProperties:
      properties:
        apnsCertificate:
          type: string
          description: The APNS certificate. Specify if using Certificate Authentication Mode.
        certificateKey:
          type: string
          description: The APNS certificate password if it exists.
        endpoint:
          type: string
          description: The APNS endpoint of this credential. If using Certificate Authentication Mode and Sandbox specify 'gateway.sandbox.push.apple.com'. If using Certificate Authentication Mode and Production specify 'gateway.push.apple.com'. If using Token Authentication Mode and Sandbox specify 'https://api.development.push.apple.com:443/3/device'. If using Token Authentication Mode and Production specify 'https://api.push.apple.com:443/3/device'.
        thumbprint:
          type: string
          description: The APNS certificate thumbprint. Specify if using Certificate Authentication Mode.
        keyId:
          type: string
          description: A 10-character key identifier (kid) key, obtained from your developer account. Specify if using Token Authentication Mode.
        appName:
          type: string
          description: The name of the application or BundleId. Specify if using Token Authentication Mode.
        appId:
          type: string
          description: The issuer (iss) registered claim key. The value is a 10-character TeamId, obtained from your developer account. Specify if using Token Authentication Mode.
        token:
          type: string
          description: Provider Authentication Token, obtained through your developer account. Specify if using Token Authentication Mode.
      description: Description of a NotificationHub ApnsCredential. Note that there is no explicit switch between Certificate and Token Authentication Modes. The mode is determined based on the properties passed in.
    BaiduCredentialProperties:
      properties:
        baiduApiKey:
          type: string
          description: Baidu Api Key.
        baiduEndPoint:
          type: string
          description: Baidu Endpoint.
        baiduSecretKey:
          type: string
          description: Baidu Secret Key
      description: Description of a NotificationHub BaiduCredential.
    ApnsCredential:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ApnsCredentialProperties'
          description: Properties of NotificationHub ApnsCredential.
      description: Description of a NotificationHub ApnsCredential.
    WnsCredentialProperties:
      properties:
        packageSid:
          type: string
          description: The package ID for this credential.
        secretKey:
          type: string
          description: The secret key.
        windowsLiveEndpoint:
          type: string
          description: The Windows Live endpoint.
      description: Description of a NotificationHub WnsCredential.
    SharedAccessAuthorizationRuleResource:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/SharedAccessAuthorizationRuleProperties'
          description: Properties of the Namespace AuthorizationRule.
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Description of a Namespace AuthorizationRules.
    PolicykeyResource:
      properties:
        policyKey:
          type: string
          description: Name of the key that has to be regenerated for the Namespace/Notification Hub Authorization Rule. The value can be Primary Key/Secondary Key.
      description: Namespace/NotificationHub Regenerate Keys
    MpnsCredential:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/MpnsCredentialProperties'
          description: Properties of NotificationHub MpnsCredential.
      description: Description of a NotificationHub MpnsCredential.
    BaiduCredential:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/BaiduCredentialProperties'
          description: Properties of NotificationHub BaiduCredential.
      description: Description of a NotificationHub BaiduCredential.
    NotificationHubCreateOrUpdateParameters:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/NotificationHubProperties'
          description: Properties of the NotificationHub.
      required:
      - properties
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Parameters supplied to the CreateOrUpdate NotificationHub operation.
    DebugSendParameters:
      description: Debug Send payload
      type: object
    Resource:
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        location:
          type: string
          description: Resource location
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
        sku:
          $ref: '#/components/schemas/Sku'
          description: The sku of the created namespace
      x-ms-azure-resource: true
    NotificationHubResource:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/NotificationHubProperties'
          description: Properties of the NotificationHub.
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Description of a NotificationHub Resource.
    NotificationHubPatchParameters:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/NotificationHubProperties'
          description: Properties of the NotificationHub.
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Parameters supplied to the patch NotificationHub operation.
    DebugSendResult:
      properties:
        success:
          type: number
          description: successful send
        failure:
          type: number
          description: send failure
        results:
          type: object
          description: actual failure description
      x-ms-azure-resource: true
    ResourceListKeys:
      properties:
        primaryConnectionString:
          type: string
          description: PrimaryConnectionString of the AuthorizationRule.
        secondaryConnectionString:
          type: string
          description: SecondaryConnectionString of the created AuthorizationRule
        primaryKey:
          type: string
          description: PrimaryKey of the created AuthorizationRule.
        secondaryKey:
          type: string
          description: SecondaryKey of the created AuthorizationRule
        keyName:
          type: string
          description: KeyName of the created AuthorizationRule
      description: Namespace/NotificationHub Connection String
    GcmCredential:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/GcmCredentialProperties'
          description: Properties of NotificationHub GcmCredential.
      description: Description of a NotificationHub GcmCredential.
    Sku:
      properties:
        name:
          type: string
          description: Name of the notification hub sku
          enum:
          - Free
          - Basic
          - Standard
          x-ms-enum:
            name: SkuName
            modelAsString: true
        tier:
          type: string
          description: The tier of particular sku
        size:
          type: string
          description: The Sku size
        family:
          type: string
          description: The Sku Family
        capacity:
          type: integer
          description: The capacity of the resource
      required:
      - name
      description: The Sku description for a namespace
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
