openapi: 3.2.0
info:
  version: 2021-11-16-preview
  title: Microsoft Azure AuthorizationManagementClient Post Access…
  description: Access reviews service provides the workflow for running access reviews on different kind of resources.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: PostAccessReviewHistoryDefinitionInstance
paths:
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Authorization/accessReviewHistoryDefinitions/{historyDefinitionId}/instances/{instanceId}/generateDownloadUri
  : post:
      tags:
      - PostAccessReviewHistoryDefinitionInstance
      operationId: microsoftAzureAccessreviewhistorydefinitioninstanceGeneratedownloaduri
      x-ms-examples:
        PostAccessReviewHistoryDefinitionInstance:
          $ref: ./examples/PostAccessReviewHistoryDefinitionInstance.json
      description: Generates a uri which can be used to retrieve review history data. This URI has a TTL of 1 day and can be retrieved by fetching the accessReviewHistoryDefinition object.
      parameters:
      - name: historyDefinitionId
        in: path
        required: true
        description: The id of the access review history definition.
        schema:
          type: string
      - name: instanceId
        in: path
        required: true
        description: The id of the access review history definition instance to generate a URI for.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: AccessReviewHistoryInstance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessReviewHistoryInstance'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDefinition'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft…
components:
  schemas:
    AccessReviewHistoryInstance:
      x-ms-azure-resource: true
      type: object
      properties:
        id:
          type: string
          readOnly: true
          description: The access review history definition instance id.
        name:
          type: string
          readOnly: true
          description: The access review history definition instance unique id.
        type:
          type: string
          readOnly: true
          description: The resource type.
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/AccessReviewHistoryInstanceProperties'
          description: Access Review History Definition Instance properties.
      description: Access Review History Definition Instance.
    ErrorDefinitionProperties:
      type: object
      title: Error
      description: Error description and code explaining why an operation failed.
      properties:
        message:
          type: string
          readOnly: true
          description: Description of the error.
        code:
          type: string
          description: Error code of list gateway.
    ErrorDefinition:
      type: object
      title: Error
      description: Error description and code explaining why an operation failed.
      properties:
        error:
          $ref: '#/components/schemas/ErrorDefinitionProperties'
          description: Error of the list gateway status.
    AccessReviewHistoryInstanceProperties:
      type: object
      properties:
        reviewHistoryPeriodStartDateTime:
          type: string
          format: date-time
          readOnly: false
          description: Date time used when selecting review data, all reviews included in data start on or after this date. For use only with one-time/non-recurring reports.
        reviewHistoryPeriodEndDateTime:
          type: string
          format: date-time
          readOnly: false
          description: Date time used when selecting review data, all reviews included in data end on or before this date. For use only with one-time/non-recurring reports.
        displayName:
          type: string
          description: The display name for the parent history definition.
        status:
          type: string
          readOnly: true
          description: Status of the requested review history instance data. This is either requested, in-progress, done or error. The state transitions are as follows - Requested -> InProgress -> Done -> Expired
          enum:
          - Requested
          - InProgress
          - Done
          - Error
          x-ms-enum:
            name: AccessReviewHistoryDefinitionStatus
            modelAsString: true
        runDateTime:
          type:
          - string
          - 'null'
          format: date-time
          description: Date time when the history data report is scheduled to be generated.
        fulfilledDateTime:
          type:
          - string
          - 'null'
          format: date-time
          description: Date time when the history data report is scheduled to be generated.
        downloadUri:
          readOnly: true
          type: string
          description: Uri which can be used to retrieve review history data. To generate this Uri, generateDownloadUri() must be called for a specific accessReviewHistoryDefinitionInstance. The link expires after a 24 hour period. Callers can see the expiration date time by looking at the 'se' parameter in the generated uri.
        expiration:
          type:
          - string
          - 'null'
          format: date-time
          description: Date time when history data report expires and the associated data is deleted.
      description: Access Review History Definition Instance properties.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to be used with the HTTP request.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
