openapi: 3.2.0
info:
  title: Microsoft Azure B2 C Tenants API
  version: '1.0'
  description: 'Operations tagged B2CTenants across 2 of this provider''s published API definitions: b2ctenants-openapi-original.yml, externalidentities-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: B2CTenants
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AzureActiveDirectory/checkNameAvailability:
    post:
      tags:
      - B2CTenants
      operationId: microsoftAzureB2ctenantsChecknameavailability
      description: Checks the availability and validity of a domain name for the tenant.
      x-ms-examples:
        Check name availability - available:
          $ref: ./examples/checkNameAvailability-available.json
        Check name availability - taken:
          $ref: ./examples/checkNameAvailability-taken.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: The result of checking for the name availability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameAvailabilityResponse'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Post Subscriptions Subscriptionid Providers Microsoft Azureactivedirectory…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityRequestBody'
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureActiveDirectory/b2cDirectories:
    get:
      description: Get all the Azure AD B2C tenant resources in a resource group.
      operationId: microsoftAzureB2ctenantsListbyresourcegroup
      tags:
      - B2CTenants
      x-ms-examples:
        B2CTenants_ListByResourceGroup:
          $ref: ./examples/listTenantsByResourceGroup.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      responses:
        '200':
          description: List of Azure AD B2C tenants in resource group successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B2CTenantResourceList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: null
      summary: Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers…
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.AzureActiveDirectory/b2cDirectories:
    get:
      description: Get all the Azure AD B2C tenant resources in a subscription.
      operationId: microsoftAzureB2ctenantsListbysubscription
      tags:
      - B2CTenants
      x-ms-examples:
        B2CTenants_ListBySubscription:
          $ref: ./examples/listTenantsBySubscription.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Azure AD B2C tenant resources in subscription successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B2CTenantResourceList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: null
      summary: Get Subscriptions Subscriptionid Providers Microsoft Azureactivedirectory…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureActiveDirectory/b2cDirectories/{resourceName}
  : get:
      description: Get the Azure AD B2C tenant resource.
      operationId: microsoftAzureB2ctenantsGet
      tags:
      - B2CTenants
      x-ms-examples:
        Get tenant:
          $ref: ./examples/getTenant.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      responses:
        '200':
          description: Azure AD B2C tenant resource successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B2CTenantResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers…
    patch:
      description: Update the Azure AD B2C tenant resource.
      operationId: microsoftAzureB2ctenantsUpdate
      tags:
      - B2CTenants
      x-ms-examples:
        Get tenant:
          $ref: ./examples/updateTenant.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      responses:
        '200':
          description: Updated the Azure AD B2C tenant resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B2CTenantResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Patch Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/B2CTenantUpdateRequest'
    put:
      operationId: microsoftAzureB2ctenantsCreate
      description: Initiates an async request to create both the Azure AD B2C tenant and the corresponding Azure resource linked to a subscription.
      x-ms-examples:
        Create tenant:
          $ref: ./examples/createTenant.json
      tags:
      - B2CTenants
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      responses:
        '200':
          description: OK. The expected resource type once successfully created from the async request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B2CTenantResource'
        '201':
          description: OK. The expected resource type once successfully created from the async request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/B2CTenantResource'
        '202':
          description: Tenant create request accepted. The Location header indicates the URL/location in which to check to get the async status of the operation.
          headers:
            Location:
              description: Contains the URL/location which can return the tenant provisioning status.
              schema:
                type: string
            Retry-After:
              description: Contains the number of seconds to wait before checking the tenant provisioning status.
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Put Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTenantRequestBody'
    delete:
      operationId: microsoftAzureB2ctenantsDelete
      description: Initiates an async operation to delete the Azure AD B2C tenant and Azure resource. The resource deletion can only happen as the last step in the tenant deletion process.
      x-ms-examples:
        Delete tenant:
          $ref: ./examples/deleteTenant.json
      tags:
      - B2CTenants
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      responses:
        '200':
          description: Resource deletion successful.
        '202':
          description: 'Resource deletion request accepted. The Location header indicates the URL/location in which to check to get the async status of the operation. '
          headers:
            Location:
              description: Contains the URL/location which can return the deletion status.
              schema:
                type: string
            Retry-After:
              description: Contains the number of seconds to wait before checking the deletion status.
              schema:
                type: string
        '204':
          description: 'Request successful. Resource does not exist. '
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Delete Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers…
    servers:
    - url: https://management.azure.com
components:
  schemas:
    CloudError:
      x-ms-external: true
      properties:
        error:
          $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse
      description: An error response for a resource management request.
    B2CResourceSKU:
      description: SKU properties of the Azure AD B2C tenant. Learn more about Azure AD B2C billing at [aka.ms/b2cBilling](https://aka.ms/b2cBilling).
      properties:
        name:
          type: string
          description: The name of the SKU for the tenant.
          enum:
          - Standard
          - PremiumP1
          - PremiumP2
          x-ms-enum:
            name: B2CResourceSKUName
            modelAsString: false
            values:
            - value: Standard
              description: Azure AD B2C usage is billed to a linked Azure subscription and uses a monthly active users (MAU) billing model.
            - value: PremiumP1
              description: Azure AD B2C usage is billed to a linked Azure subscription and uses number of authentications based billing.
            - value: PremiumP2
              description: Azure AD B2C usage is billed to a linked Azure subscription and uses number of authentications based billing.
        tier:
          type: string
          description: The tier of the tenant.
          enum:
          - A0
          x-ms-enum:
            name: B2CResourceSKUTier
            modelAsString: false
            values:
            - value: A0
              description: The SKU tier used for all Azure AD B2C tenants.
    CountryCode:
      type: string
      description: Country code of Azure tenant (e.g. 'US'). Refer to [aka.ms/B2CDataResidency](https://aka.ms/B2CDataResidency) to see valid country codes and corresponding data residency locations. If you do not see a country code in an valid data residency location, choose one from the list.
    B2CTenantResourceList:
      description: The collection of Azure AD B2C tenant resources
      properties:
        value:
          description: List of guest usages resources
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/B2CTenantResource'
    CreateTenantProperties:
      type: object
      description: These properties are used to create the Azure AD B2C tenant. These properties are not part of the Azure resource.
      properties:
        displayName:
          description: The display name of the B2C tenant.
          type: string
        countryCode:
          $ref: '#/components/schemas/CountryCode'
    B2CTenantResource:
      type: object
      required:
      - location
      - sku
      x-ms-azure-resource: true
      properties:
        type:
          type: string
          description: The type of the B2C tenant resource.
          readOnly: true
          enum:
          - Microsoft.AzureActiveDirectory/b2cDirectories
          x-ms-enum:
            name: TypeValue
            modelAsString: false
            values:
            - value: Microsoft.AzureActiveDirectory/b2cDirectories
              description: The resource type for Azure AD B2C tenant resource.
        sku:
          $ref: '#/components/schemas/B2CResourceSKU'
        properties:
          $ref: '#/components/schemas/B2CTenantResourceProperties'
          x-ms-client-flatten: true
          description: The B2C tenant resource properties
        id:
          type: string
          readOnly: true
          description: An identifier that represents the B2C tenant resource.
        name:
          type: string
          readOnly: true
          description: The name of the B2C tenant resource.
        location:
          type: string
          description: The location in which the resource is hosted and data resides. Can be one of 'United States', 'Europe', 'Asia Pacific', or 'Australia' (preview). Refer to [this documentation](https://aka.ms/B2CDataResidency) for more information.
          x-ms-mutability:
          - create
          - read
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource Tags
    CreateTenantRequestBody:
      type: object
      description: The information needed to create the Azure AD B2C tenant and corresponding Azure resource, which is used for billing purposes.
      required:
      - location
      - sku
      - properties
      x-ms-azure-resource: true
      properties:
        location:
          type: string
          description: The location in which the resource is hosted and data resides. Can be one of 'United States', 'Europe', 'Asia Pacific', or 'Australia' (preview). Refer to [this documentation](https://aka.ms/B2CDataResidency) for more information.
        properties:
          type: object
          properties:
            createTenantProperties:
              x-ms-client-flatten: true
              $ref: '#/components/schemas/CreateTenantProperties'
        sku:
          $ref: '#/components/schemas/B2CResourceSKU'
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource Tags
    CheckNameAvailabilityRequestBody:
      type: object
      description: The information required to check the availability of the name for the tenant.
      required:
      - name
      - countryCode
      properties:
        name:
          type: string
          description: The domain name to check for availability.
        countryCode:
          $ref: '#/components/schemas/CountryCode'
    B2CTenantResourceProperties:
      description: Properties of the Azure AD B2C tenant Azure resource.
      type: object
      properties:
        billingConfig:
          type: object
          description: The billing configuration for the tenant.
          properties:
            billingType:
              type: string
              description: The type of billing. Will be MAU for all new customers. If 'Auths', it can be updated to 'MAU'. Cannot be changed if value is 'MAU'. Learn more about Azure AD B2C billing at [aka.ms/b2cBilling](https://aka.ms/b2cbilling).
              enum:
              - MAU
              - Auths
              x-ms-enum:
                name: BillingType
                modelAsString: false
                values:
                - value: MAU
                  description: Azure AD B2C usage is billed to a linked Azure subscription and uses a monthly active users (MAU) billing model.
                - value: Auths
                  description: Azure AD B2C usage is billed to a linked Azure subscription and uses number of authentications based billing.
            effectiveStartDateUtc:
              type: string
              readOnly: true
              description: The data from which the billing type took effect
        tenantId:
          type: string
          description: An identifier of the B2C tenant.
    B2CTenantUpdateRequest:
      type: object
      description: The request body to update the Azure AD B2C tenant resource.
      properties:
        sku:
          $ref: '#/components/schemas/B2CResourceSKU'
        properties:
          $ref: '#/components/schemas/B2CTenantResourceProperties'
          x-ms-client-flatten: true
          description: The Azure AD B2C tenant resource properties.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource Tags
    NameAvailabilityResponse:
      description: Response of the CheckNameAvailability operation.
      properties:
        message:
          type: string
          description: Description of the reason if name is not available.
        nameAvailable:
          type: boolean
          description: True if the name is available and can be used to create a new tenant. Otherwise false.
        reason:
          $ref: '#/components/schemas/NameAvailabilityReason'
    NameAvailabilityReason:
      description: Describes the reason for the 'nameAvailable' value.
      type: string
      enum:
      - AlreadyExists
      - Invalid
      x-ms-enum:
        name: NameAvailabilityReasonType
        modelAsString: false
        values:
        - value: AlreadyExists
          description: The name is already in use and is therefore unavailable.
        - value: Invalid
          description: The name provided does not match the resource provider’s naming requirements (incorrect length, unsupported characters, etc.).
    CloudError_2:
      x-ms-external: true
      type: object
      properties:
        error:
          $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse
      description: An error response for a resource management request.
    B2CResourceSKU_2:
      description: SKU properties of the Azure AD B2C tenant. Learn more about Azure AD B2C billing at [aka.ms/b2cBilling](https://aka.ms/b2cBilling).
      type: object
      properties:
        name:
          type: string
          description: The name of the SKU for the tenant.
          enum:
          - Standard
          - PremiumP1
          - PremiumP2
          x-ms-enum:
            name: B2CResourceSKUName
            modelAsString: true
            values:
            - value: Standard
              description: Azure AD B2C usage is billed to a linked Azure subscription and uses a monthly active users (MAU) billing model.
            - value: PremiumP1
              description: Azure AD B2C usage is billed to a linked Azure subscription and uses number of authentications based billing.
            - value: PremiumP2
              description: Azure AD B2C usage is billed to a linked Azure subscription and uses number of authentications based billing.
        tier:
          type: string
          description: The tier of the tenant.
          enum:
          - A0
          x-ms-enum:
            name: B2CResourceSKUTier
            modelAsString: true
            values:
            - value: A0
              description: The SKU tier used for all Azure AD B2C tenants.
    GoLocal:
      description: Enable GoLocal add-on to store data at rest in the specific Geo. Refer to [aka.ms/B2CDataResidency](https://aka.ms/B2CDataResidency) to see local data residency options.
      type: boolean
    B2CTenantResourceList_2:
      description: The collection of Azure AD B2C tenant resources
      type: object
      properties:
        value:
          description: List of Azure AD B2C tenant resources
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/B2CTenantResource_2'
    CreateTenantProperties_2:
      type: object
      description: These properties are used to create the Azure AD B2C tenant. These properties are not part of the Azure resource.
      properties:
        displayName:
          description: The display name of the Azure AD B2C tenant.
          type: string
        countryCode:
          $ref: '#/components/schemas/CountryCode'
        isGoLocalTenant:
          $ref: '#/components/schemas/GoLocal'
    B2CTenantResource_2:
      type: object
      required:
      - location
      - sku
      x-ms-azure-resource: true
      properties:
        type:
          type: string
          description: The type of the B2C tenant resource.
          readOnly: true
          enum:
          - Microsoft.AzureActiveDirectory/b2cDirectories
          x-ms-enum:
            name: TypeValue
            modelAsString: true
            values:
            - value: Microsoft.AzureActiveDirectory/b2cDirectories
              description: The resource type for Azure AD B2C tenant resource.
        sku:
          $ref: '#/components/schemas/B2CResourceSKU_2'
        properties:
          $ref: '#/components/schemas/B2CTenantResourceProperties_2'
          x-ms-client-flatten: true
          description: The Azure AD B2C tenant resource properties
        id:
          type: string
          readOnly: true
          description: An identifier that represents the Azure AD B2C tenant resource.
        name:
          type: string
          readOnly: true
          description: The name of the Azure AD B2C tenant resource.
        location:
          type: string
          description: The location in which the resource is hosted and data resides. Can be one of 'United States', 'Europe', 'Asia Pacific', or 'Australia'. Refer to [this documentation](https://aka.ms/B2CDataResidency) for more information.
          x-ms-mutability:
          - create
          - read
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource Tags
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          readOnly: true
    CreateTenantRequestBody_2:
      type: object
      description: The information needed to create the Azure AD B2C tenant and corresponding Azure resource, which is used for billing purposes.
      required:
      - location
      - sku
      - properties
      x-ms-azure-resource: true
      properties:
        location:
          type: string
          description: The location in which the resource is hosted and data resides. Can be one of 'United States', 'Europe', 'Asia Pacific', or 'Australia'. Refer to [this documentation](https://aka.ms/B2CDataResidency) for more information.
        properties:
          type: object
          x-ms-client-flatten: true
          properties:
            createTenantProperties:
              x-ms-client-flatten: true
              $ref: '#/components/schemas/CreateTenantProperties_2'
        sku:
          $ref: '#/components/schemas/B2CResourceSKU_2'
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource Tags
    CheckNameAvailabilityRequestBody_2:
      type: object
      description: The information required to check the availability of the sub domain name for the tenant.
      required:
      - name
      - countryCode
      properties:
        name:
          type: string
          description: The sub domain name to check for availability.
        countryCode:
          $ref: '#/components/schemas/CountryCode'
    B2CTenantResourceProperties_2:
      description: Properties of the Azure AD B2C tenant Azure resource.
      type: object
      properties:
        billingConfig:
          type: object
          description: The billing configuration for the tenant.
          properties:
            billingType:
              type: string
              description: The type of billing. Will be MAU for all new customers. If 'Auths', it can be updated to 'MAU'. Cannot be changed if value is 'MAU'. Learn more about Azure AD B2C billing at [aka.ms/b2cBilling](https://aka.ms/b2cbilling).
              enum:
              - MAU
              - Auths
              x-ms-enum:
                name: BillingType
                modelAsString: true
                values:
                - value: MAU
                  description: Azure AD B2C usage is billed to a linked Azure subscription and uses a monthly active users (MAU) billing model.
                - value: Auths
                  description: Azure AD B2C usage is billed to a linked Azure subscription and uses number of authentications based billing.
            effectiveStartDateUtc:
              type: string
              readOnly: true
              description: The data from which the billing type took effect
        tenantId:
          type: string
          description: An identifier of the Azure AD B2C tenant.
        isGoLocalTenant:
          $ref: '#/components/schemas/GoLocal'
    NameAvailabilityResponse_2:
      description: Response of the CheckNameAvailability operation.
      type: object
      properties:
        message:
          type: string
          description: Description of the reason if name is not available.
        nameAvailable:
          type: boolean
          description: True if the name is available and can be used to create a new tenant. Otherwise false.
        reason:
          $ref: '#/components/schemas/NameAvailabilityReason_2'
    NameAvailabilityReason_2:
      description: Describes the reason for the 'nameAvailable' value.
      type: string
      enum:
      - AlreadyExists
      - Invalid
      x-ms-enum:
        name: NameAvailabilityReasonType
        modelAsString: true
        values:
        - value: AlreadyExists
          description: The name is already in use and is therefore unavailable.
        - value: Invalid
          description: The name provided does not match the resource provider’s naming requirements (incorrect length, unsupported characters, etc.).
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Version of the API to be used with the client request.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
    ResourceNameParameter:
      name: resourceName
      in: path
      required: true
      description: The initial domain name of the B2C tenant.
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceNameParameter_2:
      name: resourceName
      in: path
      required: true
      description: The initial domain name of the Azure AD B2C tenant.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- b2ctenants-openapi-original.yml
- externalidentities-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
