openapi: 3.2.0
info:
  title: Microsoft Azure ExternalIdentities Guest Usages API
  version: 2023-05-17-preview
  description: Manage the Azure resource for an Azure Active Directory B2C tenant, Guest Usages, and Azure AD for customers resource for External Identities in Azure AD
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: GuestUsages
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureActiveDirectory/guestUsages/{resourceName}
  : put:
      operationId: microsoftAzureGuestusagesCreate
      tags:
      - GuestUsages
      x-ms-examples:
        GuestUsages_Create:
          $ref: ./examples/GuestUsagesCreate.json
      summary: Microsoft Azure Creates A Guest Usages Resource
      description: Creates a Guest Usages resource, which is used to linking a subscription to an instance of Azure AD External Identities. Learn more.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      responses:
        '200':
          description: The request was successful and the resource was created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestUsagesResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuestUsagesResource'
        description: Guest Usages resource to be created
    patch:
      operationId: microsoftAzureGuestusagesUpdate
      tags:
      - GuestUsages
      x-ms-examples:
        GuestUsages_Update:
          $ref: ./examples/GuestUsagesUpdate.json
      summary: Microsoft Azure Updates A Guest Usages Resource
      description: Updates a Guest Usages resource for the Microsoft.AzureActiveDirectory resource provider
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      responses:
        '200':
          description: Guest Usages Resource Successfully Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestUsagesResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuestUsagesResourcePatch'
        description: Guest Usages Resource to be updated
    delete:
      operationId: microsoftAzureGuestusagesDelete
      tags:
      - GuestUsages
      x-ms-examples:
        GuestUsages_Delete:
          $ref: ./examples/GuestUsagesDelete.json
      summary: Microsoft Azure Deletes A Guest Usages Resource
      description: Deletes a Guest Usages resource for the Microsoft.AzureActiveDirectory resource provider
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      responses:
        '200':
          description: Guest Usages resource was successfully deleted.
        '204':
          description: Guest Usages resource successfully deleted or didn't exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
    get:
      operationId: microsoftAzureGuestusagesGet
      tags:
      - GuestUsages
      x-ms-examples:
        GuestUsages_Get:
          $ref: ./examples/GuestUsagesGet.json
      summary: Microsoft Azure Gets A Guest Usages Resource
      description: Gets a Guest Usages resource for the Microsoft.AzureActiveDirectory resource provider
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      responses:
        '200':
          description: Guest Usages resource successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestUsagesResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
  /subscriptions/{subscriptionId}/providers/Microsoft.AzureActiveDirectory/guestUsages:
    get:
      operationId: microsoftAzureGuestusagesListbysubscription
      tags:
      - GuestUsages
      x-ms-examples:
        GuestUsagesSubscription_List:
          $ref: ./examples/GuestUsagesSubscriptionGet.json
      summary: Microsoft Azure Gets Guest Usages Resources Under A Subscription
      description: Gets Guest Usages resources under a subscription for the Microsoft.AzureActiveDirectory resource provider
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: List of Guest Usages resources under the subscription successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestUsagesResourceList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: null
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureActiveDirectory/guestUsages:
    get:
      operationId: microsoftAzureGuestusagesListbyresourcegroup
      tags:
      - GuestUsages
      x-ms-examples:
        GuestUsagesResourceGroup_List:
          $ref: ./examples/GuestUsagesResourceGroupGet.json
      summary: Microsoft Azure Gets Guest Usages Resources Under Resource Group
      description: Gets Guest Usages resources under a resource group for the Microsoft.AzureActiveDirectory resource provider
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      responses:
        '200':
          description: List of Guest Usages resources under the resourceGroup successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestUsagesResourceList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
components:
  schemas:
    CloudError:
      x-ms-external: true
      type: object
      properties:
        error:
          $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse
      description: An error response for a resource management request.
    GuestUsagesResourceProperties:
      description: Guest Usages Resource Properties
      type: object
      properties:
        tenantId:
          type: string
          description: An identifier for the tenant for which the resource is being created
    GuestUsagesResourceList:
      description: The collection of guest usages resources
      type: object
      properties:
        value:
          description: List of guest usages resources
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/GuestUsagesResource'
        nextLink:
          description: The URL to get the next set of Guest Usages resources.
          type:
          - string
          - 'null'
          readOnly: true
    GuestUsagesResourcePatch:
      description: Guest Usages Resource for Patch
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Key-value pairs of additional resource provisioning properties.
    GuestUsagesResource:
      description: Guest Usages Resource
      type: object
      properties:
        id:
          type: string
          readOnly: true
          description: An identifier that represents the Guest Usages resource.
        name:
          type: string
          readOnly: true
          description: The name of the Guest Usages resource.
        type:
          type: string
          readOnly: true
          description: The type of the Guest Usages resource.
        location:
          type: string
          description: Location of the Guest Usages resource.
          x-ms-mutability:
          - create
          - read
        tags:
          type: object
          additionalProperties:
            type: string
          description: Key-value pairs of additional resource provisioning properties.
        properties:
          $ref: '#/components/schemas/GuestUsagesResourceProperties'
          x-ms-client-flatten: true
          description: The Guest Usages Resource Properties
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          readOnly: true
      x-ms-azure-resource: true
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Version of the API to be used with the client request.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
    ResourceNameParameter:
      name: resourceName
      in: path
      required: true
      description: The initial domain name of the Azure AD B2C tenant.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
