openapi: 3.2.0
info:
  title: Microsoft Azure ProviderHub Resource Actions API
  description: Microsoft ProviderHub
  version: 2021-09-01-preview
  x-ms-code-generation-settings:
    name: ProviderHubClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Resource Actions
paths:
  ? /subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourceActions/{resourceActionName}/deleteResources
  : post:
      tags:
      - Resource Actions
      description: Deletes resources.
      operationId: microsoftAzureResourceactionsDeleteresources
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ProviderNamespaceParameter'
      - $ref: '#/components/parameters/ResourceActionParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '202':
          description: Resource management action started.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceManagementAction'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        ResourceActions_DeleteResources:
          $ref: ./examples/ResourceActions_DeleteResources.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceManagementAction'
        description: The properties supplied to the DeleteResources operation.
        required: true
components:
  parameters:
    ResourceActionParameter:
      in: path
      name: resourceActionName
      description: The resource action name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ProviderNamespaceParameter:
      in: path
      name: providerNamespace
      description: The name of the resource provider hosted within ProviderHub.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  schemas:
    ResourceManagementAction:
      type: object
      properties:
        resources:
          type: array
          description: resource management action content.
          x-ms-client-flatten: true
          items:
            $ref: '#/components/schemas/ResourceManagementEntity'
    Error:
      description: Standard error object.
      type: object
      properties:
        code:
          description: Server-defined set of error codes.
          type: string
          readOnly: true
        message:
          description: Human-readable representation of the error.
          type: string
          readOnly: true
        target:
          description: Target of the error.
          type: string
          readOnly: true
        details:
          description: Array of details about specific errors that led to this reported error.
          type: array
          items:
            $ref: '#/components/schemas/Error'
          readOnly: true
        innerError:
          description: Object containing more specific information than  the current object about the error.
          allOf:
          - $ref: '#/components/schemas/InnerError'
          readOnly: true
    ResourceManagementEntity:
      required:
      - resourceId
      type: object
      properties:
        resourceId:
          type: string
          description: The resource id.
        homeTenantId:
          type: string
          description: The home tenant id.
        location:
          type: string
          description: The location.
        status:
          readOnly: true
          type: string
          description: The operation status.
    InnerError:
      description: Inner error containing list of errors.
      type: object
      properties:
        code:
          description: Specific error code than was provided by the containing error.
          type: string
          readOnly: true
        innerError:
          description: Object containing more specific information than the current object about the error.
          type: object
          readOnly: true
      additionalProperties:
        type: object
    ErrorResponse:
      description: Standard error response.
      type: object
      properties:
        error:
          description: Standard error object.
          allOf:
          - $ref: '#/components/schemas/Error'
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
