openapi: 3.2.0
info:
  version: 2021-04-30-preview
  title: Microsoft Azure Automanage Service Principals API
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Service Principals
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Automanage/servicePrincipals:
    get:
      tags:
      - Service Principals
      operationId: microsoftAzureServiceprincipalsListbysubscription
      description: Get the Automanage AAD first party Application Service Principal details for the subscription id.
      x-ms-examples:
        List service principal by subscription:
          $ref: ./examples/listServicePrincipalBySubscription.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Returns the Automanage ADD first party Application Service Principal details for the subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePrincipalListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Automanage…
  /subscriptions/{subscriptionId}/providers/Microsoft.Automanage/servicePrincipals/default:
    get:
      tags:
      - Service Principals
      operationId: microsoftAzureServiceprincipalsGet
      description: Get the Automanage AAD first party Application Service Principal details for the subscription id.
      x-ms-examples:
        Get service principal:
          $ref: ./examples/getServicePrincipal.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Returns the Automanage ADD first party Application Service Principal details for the subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePrincipal'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Automanage…
components:
  schemas:
    ServicePrincipal:
      description: The Service Principal Id for the subscription.
      type: object
      properties:
        properties:
          title: Properties
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ServicePrincipalProperties'
          description: The Service Principal properties for the subscription
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          readOnly: true
          description: Azure Resource Manager metadata containing createdBy and modifiedBy information.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource
    ServicePrincipalProperties:
      description: The Service Principal properties for the subscription.
      type: object
      properties:
        servicePrincipalId:
          type: string
          readOnly: true
          description: The Service Principal Id for the subscription.
        authorizationSet:
          type: boolean
          readOnly: true
          description: Returns the contributor RBAC Role exist or not for the Service Principal Id.
    ServicePrincipalListResult:
      description: The list of ServicePrincipals.
      type: object
      properties:
        value:
          description: The list of servicePrincipals.
          type: array
          items:
            $ref: '#/components/schemas/ServicePrincipal'
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
