openapi: 3.2.0
info:
  version: '2018-09-15'
  title: Microsoft Azure DevTestLabsClient Custom Images API
  description: The DevTest Labs Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: CustomImages
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/customimages
  : get:
      tags:
      - CustomImages
      description: List custom images in a given lab.
      operationId: microsoftAzureCustomimagesList
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        schema:
          type: string
      - name: $expand
        in: query
        description: 'Specify the $expand query. Example: ''properties($select=vm)'''
        schema:
          type: string
      - name: $filter
        in: query
        description: 'The filter to apply to the operation. Example: ''$filter=contains(name,''myName'')'
        schema:
          type: string
      - name: $top
        in: query
        description: 'The maximum number of resources to return from the operation. Example: ''$top=10'''
        schema:
          type: integer
          format: int32
      - name: $orderby
        in: query
        description: 'The ordering expression for the results, using OData notation. Example: ''$orderby=name desc'''
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomImageList'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/CustomImage'
      x-ms-examples:
        CustomImages_List:
          $ref: ./examples/CustomImages_List.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/customimages/{name}
  : get:
      tags:
      - CustomImages
      description: Get custom image.
      operationId: microsoftAzureCustomimagesGet
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: The name of the custom image.
        required: true
        schema:
          type: string
      - name: $expand
        in: query
        description: 'Specify the $expand query. Example: ''properties($select=vm)'''
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomImage'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        CustomImages_Get:
          $ref: ./examples/CustomImages_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - CustomImages
      description: Create or replace an existing custom image. This operation can take a while to complete.
      operationId: microsoftAzureCustomimagesCreateorupdate
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: The name of the custom image.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomImage'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomImage'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        CustomImages_CreateOrUpdate:
          $ref: ./examples/CustomImages_CreateOrUpdate.json
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomImage'
        description: A custom image.
        required: true
    delete:
      tags:
      - CustomImages
      description: Delete custom image. This operation can take a while to complete.
      operationId: microsoftAzureCustomimagesDelete
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: The name of the custom image.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        CustomImages_Delete:
          $ref: ./examples/CustomImages_Delete.json
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    patch:
      tags:
      - CustomImages
      description: Allows modifying tags of custom images. All other properties will be ignored.
      operationId: microsoftAzureCustomimagesUpdate
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: The name of the custom image.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomImage'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        CustomImages_Update:
          $ref: ./examples/CustomImages_Update.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomImageFragment'
        description: A custom image.
        required: true
components:
  schemas:
    CloudError:
      description: Error from a REST request.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: The cloud error that occurred
      x-ms-external: true
    CustomImage:
      description: A custom image.
      required:
      - properties
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/CustomImageProperties'
          description: The properties of the resource.
          x-ms-client-flatten: true
    LinuxOsInfo:
      description: Information about a Linux OS.
      type: object
      properties:
        linuxOsState:
          description: The state of the Linux OS (i.e. NonDeprovisioned, DeprovisionRequested, DeprovisionApplied).
          enum:
          - NonDeprovisioned
          - DeprovisionRequested
          - DeprovisionApplied
          type: string
          x-ms-enum:
            name: LinuxOsState
            modelAsString: true
    CustomImageFragment:
      description: A custom image.
      type: object
      allOf:
      - $ref: '#/components/schemas/UpdateResource'
      properties: {}
    CustomImagePropertiesFromPlan:
      description: Properties for plan on a custom image.
      type: object
      properties:
        id:
          description: The id of the plan, equivalent to name of the plan
          type: string
        publisher:
          description: The publisher for the plan from the marketplace image the custom image is derived from
          type: string
        offer:
          description: The offer for the plan from the marketplace image the custom image is derived from
          type: string
    WindowsOsInfo:
      description: Information about a Windows OS.
      type: object
      properties:
        windowsOsState:
          description: The state of the Windows OS (i.e. NonSysprepped, SysprepRequested, SysprepApplied).
          enum:
          - NonSysprepped
          - SysprepRequested
          - SysprepApplied
          type: string
          x-ms-enum:
            name: WindowsOsState
            modelAsString: true
    CustomImageProperties:
      description: Properties of a custom image.
      type: object
      properties:
        vm:
          $ref: '#/components/schemas/CustomImagePropertiesFromVm'
          description: The virtual machine from which the image is to be created.
        vhd:
          $ref: '#/components/schemas/CustomImagePropertiesCustom'
          description: The VHD from which the image is to be created.
        description:
          description: The description of the custom image.
          type: string
        author:
          description: The author of the custom image.
          type: string
        creationDate:
          format: date-time
          description: The creation date of the custom image.
          type: string
          readOnly: true
        managedImageId:
          description: The Managed Image Id backing the custom image.
          type: string
        managedSnapshotId:
          description: The Managed Snapshot Id backing the custom image.
          type: string
        dataDiskStorageInfo:
          description: Storage information about the data disks present in the custom image
          type: array
          items:
            $ref: '#/components/schemas/DataDiskStorageTypeInfo'
        customImagePlan:
          $ref: '#/components/schemas/CustomImagePropertiesFromPlan'
          description: Storage information about the plan related to this custom image
        isPlanAuthorized:
          description: Whether or not the custom images underlying offer/plan has been enabled for programmatic deployment
          type: boolean
        provisioningState:
          description: The provisioning status of the resource.
          type: string
          readOnly: true
        uniqueIdentifier:
          description: The unique immutable identifier of a resource (Guid).
          type: string
          readOnly: true
    CustomImageList:
      description: The response of a list operation.
      type: object
      properties:
        value:
          description: Results of the list operation.
          type: array
          items:
            $ref: '#/components/schemas/CustomImage'
        nextLink:
          description: Link for next set of results.
          type: string
    UpdateResource:
      description: Represents an update resource
      type: object
      properties:
        tags:
          description: The tags of the resource.
          type: object
          additionalProperties:
            type: string
    DataDiskStorageTypeInfo:
      description: Storage information about the data disks present in the custom image
      type: object
      properties:
        lun:
          description: Disk Lun
          type: string
        storageType:
          description: Disk Storage Type
          enum:
          - Standard
          - Premium
          - StandardSSD
          type: string
          x-ms-enum:
            name: StorageType
            modelAsString: true
    CloudErrorBody:
      description: Body of an error from a REST request.
      type: object
      properties:
        code:
          description: The error code.
          type: string
        message:
          description: The error message.
          type: string
        target:
          description: The error target.
          type: string
        details:
          description: Inner errors.
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
      x-ms-external: true
    CustomImagePropertiesFromVm:
      description: Properties for creating a custom image from a virtual machine.
      type: object
      properties:
        sourceVmId:
          description: The source vm identifier.
          type: string
        windowsOsInfo:
          $ref: '#/components/schemas/WindowsOsInfo'
          description: The Windows OS information of the VM.
        linuxOsInfo:
          $ref: '#/components/schemas/LinuxOsInfo'
          description: The Linux OS information of the VM.
    Resource:
      description: An Azure resource.
      type: object
      properties:
        id:
          description: The identifier of the resource.
          type: string
          readOnly: true
        name:
          description: The name of the resource.
          type: string
          readOnly: true
        type:
          description: The type of the resource.
          type: string
          readOnly: true
        location:
          description: The location of the resource.
          type: string
        tags:
          description: The tags of the resource.
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
    CustomImagePropertiesCustom:
      description: Properties for creating a custom image from a VHD.
      required:
      - osType
      type: object
      properties:
        imageName:
          description: The image name.
          type: string
        sysPrep:
          description: Indicates whether sysprep has been run on the VHD.
          type: boolean
        osType:
          description: The OS type of the custom image (i.e. Windows, Linux)
          enum:
          - Windows
          - Linux
          - None
          type: string
          x-ms-enum:
            name: CustomImageOsType
            modelAsString: true
  parameters:
    api-version:
      name: api-version
      in: query
      description: Client API version.
      required: true
      schema:
        type: string
        default: '2018-09-15'
    resourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    subscriptionId:
      name: subscriptionId
      in: path
      description: The subscription ID.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: Access Microsoft Azure
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: OAuth2 Implicit Grant
