openapi: 3.2.0
info:
  version: 2019-09-01-preview
  title: Microsoft Azure PeeringManagementClient Peering Services API
  description: APIs to manage Peering resources through the Azure Resource Manager.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: PeeringServices
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peeringServices/{peeringServiceName}
  : get:
      tags:
      - PeeringServices
      description: Gets an existing peering service with the specified name under the given subscription and resource group.
      operationId: microsoftAzurePeeringservicesGet
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group.
        required: true
        schema:
          type: string
      - name: peeringServiceName
        in: path
        description: The name of the peering.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeeringService'
        default:
          description: Error response describing why the operation has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Get a peering service:
          $ref: ./examples/GetPeeringService.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - PeeringServices
      description: Creates a new peering service or updates an existing peering with the specified name under the given subscription and resource group.
      operationId: microsoftAzurePeeringservicesCreateorupdate
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group.
        required: true
        schema:
          type: string
      - name: peeringServiceName
        in: path
        description: The name of the peering service.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeeringService'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeeringService'
        default:
          description: Error response describing why the operation has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Create a  peering service:
          $ref: ./examples/CreatePeeringService.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PeeringService'
        description: The properties needed to create or update a peering service.
        required: true
    delete:
      tags:
      - PeeringServices
      description: Deletes an existing peering service with the specified name under the given subscription and resource group.
      operationId: microsoftAzurePeeringservicesDelete
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group.
        required: true
        schema:
          type: string
      - name: peeringServiceName
        in: path
        description: The name of the peering service.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
        '204':
          description: NoContent
        default:
          description: Error response describing why the operation has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Delete a peering service:
          $ref: ./examples/DeletePeeringService.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    patch:
      tags:
      - PeeringServices
      description: Updates tags for a peering service with the specified name under the given subscription and resource group.
      operationId: microsoftAzurePeeringservicesUpdate
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group.
        required: true
        schema:
          type: string
      - name: peeringServiceName
        in: path
        description: The name of the peering service.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeeringService'
        default:
          description: Error response describing why the operation has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Update peering service tags:
          $ref: ./examples/UpdatePeeringServiceTags.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceTags'
        description: The resource tags.
        required: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peeringServices:
    get:
      tags:
      - PeeringServices
      description: Lists all of the peering services under the given subscription and resource group.
      operationId: microsoftAzurePeeringservicesListbyresourcegroup
      parameters:
      - name: resourceGroupName
        in: path
        description: The name of the resource group.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeeringServiceListResult'
        default:
          description: Error response describing why the operation has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        List peering services in a resource group:
          $ref: ./examples/ListPeeringServicesByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/providers/Microsoft.Peering/peeringServices:
    get:
      tags:
      - PeeringServices
      description: Lists all of the peerings under the given subscription.
      operationId: microsoftAzurePeeringservicesListbysubscription
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeeringServiceListResult'
        default:
          description: Error response describing why the operation has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        List peering services in a subscription:
          $ref: ./examples/ListPeeringServicesBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Peering…
components:
  schemas:
    PeeringService:
      description: Peering Service
      required:
      - location
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/PeeringServiceProperties'
          description: The properties that define a peering service.
          x-ms-client-flatten: true
        location:
          description: The location of the resource.
          type: string
          x-ms-mutability:
          - read
          - create
        tags:
          description: The resource tags.
          type: object
          additionalProperties:
            type: string
    ResourceTags:
      description: The resource tags.
      type: object
      properties:
        tags:
          description: Gets or sets the tags, a dictionary of descriptors arm object
          type: object
          additionalProperties:
            type: string
    Resource:
      description: The ARM resource class.
      type: object
      properties:
        name:
          description: The name of the resource.
          type: string
          readOnly: true
        id:
          description: The ID of the resource.
          type: string
          readOnly: true
        type:
          description: The type of the resource.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    PeeringServiceProperties:
      description: The properties that define connectivity to the Peering Service.
      type: object
      properties:
        peeringServiceLocation:
          description: The PeeringServiceLocation of the Customer.
          type: string
        peeringServiceProvider:
          description: The MAPS Provider Name.
          type: string
        provisioningState:
          description: The provisioning state of the resource.
          enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
          type: string
          readOnly: true
          x-ms-enum:
            name: provisioningState
            modelAsString: true
    ErrorResponse:
      description: The error response that indicates why an operation has failed.
      type: object
      properties:
        code:
          description: The error code.
          type: string
          readOnly: true
        message:
          description: The error message.
          type: string
          readOnly: true
    PeeringServiceListResult:
      description: The paginated list of peering services.
      type: object
      properties:
        value:
          description: The list of peering services.
          type: array
          items:
            $ref: '#/components/schemas/PeeringService'
        nextLink:
          description: The link to fetch the next page of peering services.
          type: string
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: The client API version.
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The Azure subscription ID.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
