openapi: 3.2.0
info:
  title: Microsoft Azure Database Threat Detection Policy Security…
  description: Provides create, read and update functionality for database Threat Detection policies.
  version: '2014-04-01'
servers:
- url: https://management.azure.com
tags:
- name: Security alert
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/securityAlertPolicies/{securityAlertPolicyName}
  : get:
      tags:
      - Security alert
      description: Gets a database's threat detection policy.
      operationId: microsoftAzureDatabasethreatdetectionpoliciesGet
      x-ms-examples:
        Get database security alert policy:
          $ref: ./examples/DatabaseSecurityAlertGet.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/components/parameters/ServerNameParameter'
      - name: databaseName
        in: path
        description: The name of the database for which database Threat Detection policy is defined.
        required: true
        schema:
          type: string
      - name: securityAlertPolicyName
        in: path
        required: true
        description: The name of the security alert policy.
        x-ms-enum:
          modelAsString: true
          name: SecurityAlertPolicyName
        schema:
          type: string
          enum:
          - default
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Successfully retrieved the database Threat Detection policy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseSecurityAlertPolicy'
        default:
          description: "*** Error Responses: ***\n\n * 500 GetDatabaseSecurityAlertPolicyFailed - Failed to get database Threat Detection security alert policies. * 500 DatabaseIsUnavailable - Your settings are currently unavailable, please try again later"
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Security alert
      description: Creates or updates a database's threat detection policy.
      operationId: microsoftAzureDatabasethreatdetectionpoliciesCreateorupdate
      x-ms-examples:
        Create database security alert policy min:
          $ref: ./examples/DatabaseSecurityAlertCreateMin.json
        Create database security alert policy max:
          $ref: ./examples/DatabaseSecurityAlertCreateMax.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/components/parameters/ServerNameParameter'
      - name: databaseName
        in: path
        description: The name of the database for which database Threat Detection policy is defined.
        required: true
        schema:
          type: string
      - name: securityAlertPolicyName
        in: path
        required: true
        description: The name of the security alert policy.
        x-ms-enum:
          modelAsString: true
          name: SecurityAlertPolicyName
        schema:
          type: string
          enum:
          - default
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Successfully updated the database Threat Detection policy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseSecurityAlertPolicy'
        '201':
          description: Successfully created the database Threat Detection policy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseSecurityAlertPolicy'
        default:
          description: "*** Error Responses: ***\n\n * 500 UpsertDatabaseSecurityAlertPolicyFailed - An error has occurred while saving Threat detection settings, please try again later * 500 DatabaseIsUnavailable - Your settings are currently unavailable, please try again later"
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseSecurityAlertPolicy'
        description: The database Threat Detection policy.
        required: true
components:
  schemas:
    DatabaseSecurityAlertPolicy:
      description: Contains information about a database Threat Detection policy.
      type: object
      properties:
        location:
          type: string
          x-ms-mutability:
          - read
          - create
          description: The geo-location where the resource lives
        kind:
          readOnly: true
          type: string
          description: Resource kind.
        properties:
          $ref: '#/components/schemas/DatabaseSecurityAlertPolicyProperties'
          x-ms-client-flatten: true
          description: Properties of the security alert policy.
      allOf:
      - $ref: ../../../common/v1/types.json#/definitions/ProxyResource
    DatabaseSecurityAlertPolicyProperties:
      description: Properties for a database Threat Detection policy.
      type: object
      properties:
        state:
          description: Specifies the state of the policy. If state is Enabled, storageEndpoint and storageAccountAccessKey are required.
          type: string
          enum:
          - New
          - Enabled
          - Disabled
          x-ms-enum:
            name: SecurityAlertPolicyState
        disabledAlerts:
          description: 'Specifies the semicolon-separated list of alerts that are disabled, or empty string to disable no alerts. Possible values: Sql_Injection; Sql_Injection_Vulnerability; Access_Anomaly; Data_Exfiltration; Unsafe_Action.'
          type: string
        emailAddresses:
          description: Specifies the semicolon-separated list of e-mail addresses to which the alert is sent.
          type: string
        emailAccountAdmins:
          description: Specifies that the alert is sent to the account administrators.
          type: string
          enum:
          - Enabled
          - Disabled
          x-ms-enum:
            name: SecurityAlertPolicyEmailAccountAdmins
        storageEndpoint:
          description: Specifies the blob storage endpoint (e.g. https://MyAccount.blob.core.windows.net). This blob storage will hold all Threat Detection audit logs. If state is Enabled, storageEndpoint is required.
          type: string
        storageAccountAccessKey:
          description: Specifies the identifier key of the Threat Detection audit storage account. If state is Enabled, storageAccountAccessKey is required.
          type: string
          x-ms-mutability:
          - create
          - update
        retentionDays:
          format: int32
          description: Specifies the number of days to keep in the Threat Detection audit logs.
          type: integer
        useServerDefault:
          description: Specifies whether to use the default server policy.
          type: string
          enum:
          - Enabled
          - Disabled
          x-ms-enum:
            name: SecurityAlertPolicyUseServerDefault
      required:
      - state
  parameters:
    ServerNameParameter:
      name: serverName
      in: path
      required: true
      description: The name of the server.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
