openapi: 3.2.0
info:
  title: Microsoft Azure TemplateSpecsClient Template Spec Versions…
  description: The APIs listed in this specification can be used to manage Template Spec resources through the Azure Resource Manager.
  version: 2021-03-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Template Spec Versions
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Resources/templateSpecs/{templateSpecName}/versions/{templateSpecVersion}
  : put:
      tags:
      - Template Spec Versions
      operationId: microsoftAzureTemplatespecversionsCreateorupdate
      description: Creates or updates a Template Spec version.
      x-ms-examples:
        TemplateSpecVersionsCreateUpdate:
          $ref: ./examples/TemplateSpecVersionsCreate.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/TemplateSpecNameParameter'
      - $ref: '#/components/parameters/TemplateSpecVersionParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK - The Template Spec Version has been successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateSpecVersion'
        '201':
          description: Template Spec Version created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateSpecVersion'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateSpecsError'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateSpecVersion'
        description: Template Spec Version supplied to the operation.
        required: true
    patch:
      tags:
      - Template Spec Versions
      operationId: microsoftAzureTemplatespecversionsUpdate
      description: Updates Template Spec Version tags with specified values.
      x-ms-examples:
        TemplateSpecsPatch:
          $ref: ./examples/TemplateSpecVersionsPatch.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/TemplateSpecNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/TemplateSpecVersionParameter'
      responses:
        '200':
          description: OK -- Template Spec Version tags are updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateSpecVersion'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateSpecsError'
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateSpecVersionUpdateModel'
        description: Template Spec Version resource with the tags to be updated.
    get:
      tags:
      - Template Spec Versions
      operationId: microsoftAzureTemplatespecversionsGet
      description: Gets a Template Spec version from a specific Template Spec.
      x-ms-examples:
        TemplateSpecVersionsGet:
          $ref: ./examples/TemplateSpecVersionsGet.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/TemplateSpecNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/TemplateSpecVersionParameter'
      responses:
        '200':
          description: OK - Returns information about the Template Spec version.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateSpecVersion'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateSpecsError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    delete:
      tags:
      - Template Spec Versions
      operationId: microsoftAzureTemplatespecversionsDelete
      description: Deletes a specific version from a Template Spec. When operation completes, status code 200 returned without content.
      x-ms-examples:
        TemplateSpecVersionsDelete:
          $ref: ./examples/TemplateSpecVersionsDelete.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/TemplateSpecNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/TemplateSpecVersionParameter'
      responses:
        '200':
          description: OK - Template Spec Version deleted.
        '204':
          description: Template Spec Version does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateSpecsError'
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Resources/templateSpecs/{templateSpecName}/versions
  : get:
      tags:
      - Template Spec Versions
      operationId: microsoftAzureTemplatespecversionsList
      description: Lists all the Template Spec versions in the specified Template Spec.
      x-ms-examples:
        TemplateSpecVersions_List:
          $ref: ./examples/TemplateSpecVersionsList.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/TemplateSpecNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK - Returns an array of Template Spec versions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateSpecVersionsListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateSpecsError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    TemplateSpecVersionProperties:
      type: object
      description: Template Spec Version properties.
      properties:
        description:
          type: string
          maxLength: 4096
          description: Template Spec version description.
        linkedTemplates:
          type: array
          items:
            $ref: '#/components/schemas/LinkedTemplateArtifact'
          description: An array of linked template artifacts.
        metadata:
          type: object
          description: The version metadata. Metadata is an open-ended object and is typically a collection of key-value pairs.
        mainTemplate:
          type: object
          description: The main Azure Resource Manager template content.
        uiFormDefinition:
          type: object
          description: The Azure Resource Manager template UI definition content.
    LinkedTemplateArtifact:
      type: object
      description: Represents a Template Spec artifact containing an embedded Azure Resource Manager template for use as a linked template.
      properties:
        path:
          type: string
          description: A filesystem safe relative path of the artifact.
        template:
          type: object
          description: The Azure Resource Manager template.
      required:
      - template
      - path
    TemplateSpecVersion:
      required:
      - properties
      - location
      type: object
      description: Template Spec Version object.
      allOf:
      - $ref: '#/components/schemas/AzureResourceBase'
      properties:
        location:
          type: string
          x-ms-mutability:
          - read
          - create
          description: The location of the Template Spec Version. It must match the location of the parent Template Spec.
        properties:
          description: Template Spec Version properties.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/TemplateSpecVersionProperties'
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
    TemplateSpecVersionsListResult:
      description: List of Template Specs versions
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/TemplateSpecVersion'
          description: An array of Template Spec versions.
        nextLink:
          readOnly: true
          type: string
          description: The URL to use for getting the next set of results.
    AzureResourceBase:
      x-ms-azure-resource: true
      type: object
      description: Common properties for all Azure resources.
      properties:
        id:
          readOnly: true
          type: string
          description: String Id used to locate any resource on Azure.
        name:
          readOnly: true
          type: string
          description: Name of this resource.
        type:
          readOnly: true
          type: string
          description: Type of this resource.
        systemData:
          readOnly: true
          type: object
          description: Azure Resource Manager metadata containing createdBy and modifiedBy information.
          $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/systemData
    TemplateSpecsError:
      properties:
        error:
          $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse
      description: Template Specs error response.
    TemplateSpecVersionUpdateModel:
      type: object
      description: Template Spec Version properties to be updated (only tags are currently supported).
      properties:
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
      allOf:
      - $ref: '#/components/schemas/AzureResourceBase'
  parameters:
    TemplateSpecVersionParameter:
      name: templateSpecVersion
      in: path
      required: true
      description: The version of the Template Spec.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
        pattern: ^[-\w\._\(\)]+$
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
        pattern: ^[-\w\._\(\)]+$
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      x-ms-parameter-location: client
      description: Client Api version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      x-ms-parameter-location: client
      description: Subscription Id which forms part of the URI for every service call.
      schema:
        type: string
    TemplateSpecNameParameter:
      name: templateSpecName
      in: path
      required: true
      description: Name of the Template Spec.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
        pattern: ^[-\w\._\(\)]+$
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
