openapi: 3.2.0
info:
  title: Microsoft Azure Azure Maps Elevation API
  version: '1.0'
  description: The Azure Maps Elevation API provides an HTTP interface to query elevation data on the surface of the Earth.
servers:
- url: https://atlas.microsoft.com
security:
- AADToken:
  - https://atlas.microsoft.com/.default
- SharedKey: []
- SasToken: []
tags:
- name: Elevation
paths:
  /elevation/point/{format}:
    get:
      summary: Microsoft Azure Get Elevation Data On One Or More Points
      description: '**Applies to**: S1 pricing tier.


        The Get Data for Points API provides elevation data for one or more points. A point is defined in lat,long coordinate format.


        Due to the URL character length limit of 2048, it''s not possible to pass more than 100 coordinates as a pipeline delimited string in a URL GET request. If you intend to pass more than 100 coordinates as a pipeline delimited string, use the POST Data

        For Points.'
      operationId: microsoftAzureElevationGetdataforpoints
      x-ms-examples:
        GetDataForPoints:
          $ref: ./examples/GetDataForPoints.json
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/SubscriptionKey'
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/JsonFormat'
      - name: points
        in: query
        description: 'The string representation of a list of points. A point is defined in lat/lon WGS84 coordinate reference system format.  If multiple points are requested, each of the points in a list should be separated by the pipe (''|'') character.  The maximum number of points that can be requested in a single request is 2,000. The resolution of the elevation  data will be the highest for a single point and will decrease if multiple points are spread further apart. '
        required: true
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: array
            collectionFormat: csv
            items:
              type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PointsResult'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      tags:
      - Elevation
    post:
      summary: Microsoft Azure Query Elevation Data For Multiple Points
      description: '**Applies to**: S1 pricing tier.


        The Post Data for Points API provides elevation data for multiple points. A point is defined in lat/lon coordinate format. Use the POST endpoint only if you intend to pass multiple points in the request. If you intend to pass a single coordinate into the API, use the GET Data For Points API.'
      operationId: microsoftAzureElevationPostdataforpoints
      x-ms-examples:
        PostDataForPoints:
          $ref: ./examples/PostDataForPoints.json
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/SubscriptionKey'
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/JsonFormat'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PointsResult'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      tags:
      - Elevation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PointsInRequestBody'
        description: 'The string representation of a list of points. A point is defined in lat/lon WGS84 coordinate reference system format.  Each points in a list should be separated by the pipe (''|'') character. The number of points that can be requested in  a POST request ranges from 2 to 2,000. The resolution of the elevation data will be the highest for a single point  and will decrease if multiple points are spread further apart. '
        required: true
  /elevation/line/{format}:
    get:
      summary: Microsoft Azure Get Elevation Data Along A Polyline
      description: '**Applies to**: S1 pricing tier.


        The Get Data for Polyline API provides elevation data along a polyline.


        A polyline is defined by passing in between 2 and N endpoint coordinates separated by a pipe (''|'') character. In addition to passing in endpoints, customers can specify the number of sample points that will be used to divide polyline into equally spaced segments. Elevation data at both start and endpoints and equally spaced points along the polyline will be returned.


        A line between two endpoints is a straight Cartesian line, the shortest line between those two points in the coordinate reference system. Note that the point is chosen based on Euclidean distance and may markedly differ from the geodesic path along the curved surface of the reference ellipsoid.'
      operationId: microsoftAzureElevationGetdataforpolyline
      x-ms-examples:
        GetDataForPolyLine:
          $ref: ./examples/GetDataForPolyline.json
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/SubscriptionKey'
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/JsonFormat'
      - name: lines
        in: query
        description: "The string representation of a polyline path. A polyline is defined by endpoint coordinates,  with each endpoint separated by a pipe ('|') character. The polyline should be defined in the  following format: `[longitude_point1, latitude_point1 | longitude_point2, latitude_point2, ...,  longitude_pointN, latitude_pointN]`.\n\n The longitude and latitude values refer to the World Geodetic  System (WGS84) coordinate reference system. The resolution of the data used to compute the  elevation depends on the distance between the endpoints."
        required: true
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: array
            collectionFormat: csv
            items:
              type: string
      - name: samples
        in: query
        description: The samples parameter specifies the number of equally spaced points at which elevation values  should be provided along a polyline path. The number of samples should range from 2 to 2,000. Default value is 10.
        required: false
        schema:
          type: number
          default: 10
          maximum: 2000
          minimum: 2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinesResult'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      tags:
      - Elevation
    post:
      summary: Microsoft Azure Query Elevation Data Along A Polyline
      description: '**Applies to**: S1 pricing tier.


        The Post Data for Polyline API provides elevation data along a polyline. A polyline is defined by passing in between 2 and N endpoint coordinates separated by a pipe (''|'') character. In addition to passing in endpoints, customers can specify the number of sample points that will be used to divide polyline into equally spaced segments.


        Elevation data at both start and end points and equally spaced points along the polyline will be returned. A line between two endpoints is a straight Cartesian line, the shortest line between those two points in the coordinate reference system. Note that the point is chosen based on Euclidean distance and may markedly differ from the geodesic path along the curved surface of the reference ellipsoid.'
      operationId: microsoftAzureElevationPostdataforpolyline
      x-ms-examples:
        PostDataForPolyLine:
          $ref: ./examples/PostDataForPolyline.json
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/SubscriptionKey'
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/JsonFormat'
      - name: samples
        in: query
        description: The samples parameter specifies the number of equally spaced points at which elevation values  should be provided along a polyline path. The number of samples should range from 2 to 2,000. Default value is 10.
        required: false
        schema:
          type: number
          default: 10
          maximum: 2000
          minimum: 2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinesResult'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      tags:
      - Elevation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinesInRequestBody'
        description: 'The string representation of a polyline path. A polyline is defined by endpoint coordinates,  with each endpoint separated by a pipe (''|'') character. The polyline should be defined in the  following format: `[longitude_point1, latitude_point1 | longitude_point2, latitude_point2, ...,  longitude_pointN, latitude_pointN]`. The longitude and latitude values refer to the World Geodetic  System (WGS84) coordinate reference system. The resolution of the data used to compute the  elevation will depend on the distance between the endpoints.'
        required: true
  /elevation/lattice/{format}:
    get:
      summary: Microsoft Azure Get Elevation Data At Equally Spaced Locations Within A…
      description: '**Applies to**: S1 pricing tier.


        The Get Data for Bounding Box API provides elevation data at equally spaced locations within a bounding box. A bounding box is defined by the coordinates for two corners (southwest, northeast) and then subsequently divided into rows and columns.


        Elevations are returned for the vertices of the grid created by the rows and columns. Up to 2,000 elevations can be returned in a single request. The returned elevation values are ordered, starting at the southwest corner, and then proceeding west to east along the row. At the end of the row, it moves north to the next row, and repeats the process until it reaches the far northeast corner.'
      operationId: microsoftAzureElevationGetdataforboundingbox
      x-ms-examples:
        GetDataForBoundingBox:
          $ref: ./examples/GetDataForBoundingBox.json
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/SubscriptionKey'
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/JsonFormat'
      - name: bounds
        in: query
        description: 'The string that represents the rectangular area of a bounding box. The bounds parameter is defined by the 4 bounding box coordinates, with WGS84 longitude and latitude of the southwest corner followed by  WGS84 longitude and latitude of the northeast corner. The string is presented in the following  format: `[SouthwestCorner_Longitude, SouthwestCorner_Latitude, NortheastCorner_Longitude,  NortheastCorner_Latitude]`.'
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: rows
        in: query
        description: 'Specifies the number of rows to use to divide the bounding box area into a grid. The number of vertices  in the grid should be less than 2,000. '
        required: true
        schema:
          type: number
          maximum: 1000
          minimum: 2
      - name: columns
        in: query
        description: 'Specifies the number of columns to use to divide the bounding box area into a grid. The number of vertices  in the grid should be less than 2,000. '
        required: true
        schema:
          type: number
          maximum: 1000
          minimum: 2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoundingBoxResult'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      tags:
      - Elevation
components:
  schemas:
    PointElevationResult:
      type: object
      description: The elevation data.
      properties:
        coordinate:
          $ref: '#/components/schemas/Coordinate'
        elevationInMeter:
          description: The elevation value in meters.
          type: number
          readOnly: true
    ElevationPointResponse:
      description: The response for point/points elevation API. The result will be in same sequence of points listed in request.
      type: array
      readOnly: true
      items:
        $ref: '#/components/schemas/PointElevationResult'
    ODataError:
      type: object
      description: This object is returned when an error occurs in the Azure Maps API.
      properties:
        code:
          type: string
          readOnly: true
          description: The ODataError code.
        message:
          type: string
          readOnly: true
          description: If available, a human-readable description of the error.
        details:
          type: array
          items:
            $ref: '#/components/schemas/ODataError'
        target:
          type: string
          readOnly: true
          description: If available, the target causing the error.
    BoundingBoxResult:
      type: object
      description: The response from a successful Get Data for Bounding Box API.
      properties:
        data:
          $ref: '#/components/schemas/ElevationLatticeResponse'
    ODataErrorResponse:
      type: object
      description: This response object is returned when an error occurs in the Azure Maps API.
      properties:
        error:
          $ref: '#/components/schemas/ODataError'
    LinesInRequestBody:
      type: array
      description: The post elevation lines request body.
      items:
        $ref: '#/components/schemas/CoordinateAbbreviated'
    LinesResult:
      type: object
      description: The response from a successful Elevation Polyline request.
      properties:
        data:
          $ref: '#/components/schemas/ElevationLineResponse'
    CoordinateAbbreviated:
      description: A location represented as a latitude and longitude.
      type: object
      properties:
        lat:
          description: Latitude property
          type: number
          format: double
        lon:
          description: Longitude property
          type: number
          format: double
    ElevationLineResponse:
      description: The response from the Get Data for Polyline API. The results will be listed in the direction from the first endpoint towards the last endpoint.
      type: array
      readOnly: true
      items:
        $ref: '#/components/schemas/PointElevationResult'
    PointsInRequestBody:
      type: array
      description: The post elevation points array request body. The length of the array ranges from 2 to 2000.
      items:
        $ref: '#/components/schemas/CoordinateAbbreviated'
    ElevationLatticeResponse:
      description: The response from the Get Data for Bounding Box API. The results are ordered starting with the southwest corner, and then proceed west to east and south to north.
      type: array
      readOnly: true
      items:
        $ref: '#/components/schemas/PointElevationResult'
    PointsResult:
      type: object
      description: The response from a successful Elevation Points request.
      properties:
        data:
          $ref: '#/components/schemas/ElevationPointResponse'
    Coordinate:
      description: A location represented as a latitude and longitude.
      type: object
      properties:
        latitude:
          description: Latitude property
          type: number
          format: double
          readOnly: true
        longitude:
          description: Longitude property
          type: number
          format: double
          readOnly: true
  parameters:
    SubscriptionKey:
      name: subscription-key
      description: One of the Azure Maps keys provided from an Azure Map Account. Please refer to this [article](https://docs.microsoft.com/azure/azure-maps/how-to-manage-authentication) for details on how to manage authentication.
      in: query
      required: false
      x-ms-parameter-location: client
      schema:
        type: string
    ClientId:
      name: x-ms-client-id
      description: Specifies which account is intended for usage in conjunction with the Microsoft Entra ID security model.  It represents a unique ID for the Azure Maps account and can be retrieved from the Azure Maps management  plane Account API. To use Microsoft Entra ID security in Azure Maps see the following [articles](https://aka.ms/amauthdetails) for guidance.
      in: header
      required: false
      x-ms-parameter-location: client
      schema:
        type: string
    ApiVersion:
      name: api-version
      description: Version number of Azure Maps API. Current version is 1.0
      in: query
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
        default: '1.0'
    JsonFormat:
      name: format
      description: Desired format of the response. Only `json` format is supported.
      in: path
      required: true
      x-ms-enum:
        name: JsonFormat
        modelAsString: true
        values:
        - value: json
          description: '[The JavaScript Object Notation Data Interchange Format](https://tools.ietf.org/html/rfc8259)'
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
        - json
  responses:
    '403':
      description: Permission, capacity, or authentication issues.
      x-ms-error-response: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ODataErrorResponse'
        application/xml:
          schema:
            $ref: '#/components/schemas/ODataErrorResponse'
    '401':
      description: Access denied due to invalid subscription key or invalid Microsoft Entra ID bearer token.  Make sure to provide a valid key for an active Azure subscription and Maps resource.  Otherwise, verify the [WWW-Authenticate](https://tools.ietf.org/html/rfc6750#section-3.1) header for error code and description of the provided Microsoft Entra ID bearer token.
      headers:
        WWW-Authenticate:
          description: Bearer realm="https://atlas.microsoft.com/", error="invalid_token", error_description="The access token expired"
          schema:
            type: string
      x-ms-error-response: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ODataErrorResponse'
        application/xml:
          schema:
            $ref: '#/components/schemas/ODataErrorResponse'
    '500':
      description: An error occurred while processing the request. Please try again later.
      x-ms-error-response: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ODataErrorResponse'
        application/xml:
          schema:
            $ref: '#/components/schemas/ODataErrorResponse'
    '400':
      description: 'Bad request: one or more parameters were incorrectly specified or are mutually exclusive.'
      x-ms-error-response: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ODataErrorResponse'
        application/xml:
          schema:
            $ref: '#/components/schemas/ODataErrorResponse'
    '404':
      description: 'Not Found: the requested resource could not be found, but it may be available again in the future.'
      x-ms-error-response: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ODataErrorResponse'
        application/xml:
          schema:
            $ref: '#/components/schemas/ODataErrorResponse'
  securitySchemes:
    AADToken:
      type: oauth2
      flows:
        implicit:
          scopes:
            https://atlas.microsoft.com/.default: https://atlas.microsoft.com/.default
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: "These are the [Microsoft Entra OAuth 2.0](https://docs.microsoft.com/azure/active-directory/develop/v1-overview) Flows. When paired with [Azure role-based access](https://docs.microsoft.com/azure/role-based-access-control/overview) control it can be used to control access to Azure Maps REST APIs. Azure role-based access controls are used to designate access to one or more Azure Maps resource account or sub-resources. Any user, group, or service principal can be granted access via a  built-in role or a custom role composed of one or more permissions to Azure Maps REST APIs.\n\nTo implement scenarios, we recommend viewing [authentication concepts](https://aka.ms/amauth). In summary, this security definition provides a solution for modeling application(s) via objects capable of access control on specific APIs and scopes.\n\n#### Notes\n* This security definition **requires** the use of the `x-ms-client-id` header to indicate which Azure Maps resource the application is requesting access to. This can be acquired from the [Maps management API](https://aka.ms/amauthdetails).\n* \nThe `Authorization URL` is specific to the Azure public cloud instance. Sovereign clouds have unique Authorization URLs and Azure Active directory configurations. \n* \nThe Azure role-based access control is configured from the [Azure management plane](https://aka.ms/amrbac) via Azure portal, PowerShell, CLI, Azure SDKs, or REST APIs.\n* \nUsage of the [Azure Maps Web SDK](https://aka.ms/amaadmc) allows for configuration based setup of an application for multiple use cases.\n* For more information on Microsoft identity platform, see [Microsoft identity platform overview](https://learn.microsoft.com/entra/identity-platform/v2-overview)."
    SharedKey:
      type: apiKey
      description: "This is a shared key that is provisioned when you [Create an Azure Maps account](https://docs.microsoft.com/azure/azure-maps/quick-demo-map-app#create-an-azure-maps-account) in the Azure portal or using PowerShell, CLI, Azure SDKs, or REST API.\n\n With this key, any application can access all REST API. In other words, this key can be used as a master key in the account that they are issued in.\n\n For publicly exposed applications, our recommendation is to use the [confidential client applications](https://docs.microsoft.com/azure/azure-maps/authentication-best-practices#confidential-client-applications) approach to access Azure Maps REST APIs so your key can be securely stored."
      name: subscription-key
      in: query
    SasToken:
      type: apiKey
      description: "This is a shared access signature token is created from the List SAS operation on the [Azure Maps resource](https://aka.ms/amauth) through the Azure management plane via Azure portal, PowerShell, CLI, Azure SDKs, or REST APIs.\n\n With this token, any application is authorized to access with Azure role-based access controls and fine-grain control to the expiration, rate, and region(s) of use for the particular token. In other words, the SAS Token can be used to allow applications to control access in a more secured way than the shared key.\n\n For publicly exposed applications, our recommendation is to configure a specific list of allowed origins on the [Map account resource](https://aka.ms/amauth) to limit rendering abuse and regularly renew the SAS Token."
      name: SAS Token
      in: header
