openapi: 3.2.0
info:
  title: Microsoft Azure Updates API
  version: '1.0'
  description: 'Operations tagged Updates across 2 of this provider''s published API definitions: maintenancemanagementclient-openapi-original.yml, updateadminclient-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
tags:
- name: Updates
paths:
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceParentType}/{resourceParentName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/updates
  : get:
      tags:
      - Updates
      summary: Microsoft Azure Get Updates To Resource
      description: Get updates to resources.
      operationId: microsoftAzureUpdatesListparent
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: Resource group name
        required: true
        schema:
          type: string
      - name: providerName
        in: path
        description: Resource provider name
        required: true
        schema:
          type: string
      - name: resourceParentType
        in: path
        description: Resource parent type
        required: true
        schema:
          type: string
      - name: resourceParentName
        in: path
        description: Resource parent identifier
        required: true
        schema:
          type: string
      - name: resourceType
        in: path
        description: Resource type
        required: true
        schema:
          type: string
      - name: resourceName
        in: path
        description: Resource identifier
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUpdatesResult'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenanceError'
      x-ms-pageable:
        nextLinkName: null
      x-ms-examples:
        Updates_ListParent:
          $ref: ./examples/Updates_ListParent.json
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/updates
  : get:
      tags:
      - Updates
      summary: Microsoft Azure Get Updates To Resource
      description: Get updates to resources.
      operationId: microsoftAzureUpdatesList
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: Resource group name
        required: true
        schema:
          type: string
      - name: providerName
        in: path
        description: Resource provider name
        required: true
        schema:
          type: string
      - name: resourceType
        in: path
        description: Resource type
        required: true
        schema:
          type: string
      - name: resourceName
        in: path
        description: Resource identifier
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUpdatesResult'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenanceError'
      x-ms-pageable:
        nextLinkName: null
      x-ms-examples:
        Updates_List:
          $ref: ./examples/Updates_List.json
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Update.Admin/updateLocations/{updateLocation}/updates
  : get:
      x-ms-examples:
        Get the list of updates at an update locations.:
          $ref: ./examples/Updates/List.json
      tags:
      - Updates
      description: Get the list of update locations
      operationId: microsoftAzureUpdatesList
      parameters:
      - $ref: Update.json#/parameters/SubscriptionIdParameter
      - $ref: Update.json#/parameters/ResourceGroupParameter
      - $ref: UpdateLocations.json#/parameters/UpdateLocationParameter
      - $ref: Update.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateList'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Update.Admin/updateLocations/{updateLocation}/updates/{updateName}
  : get:
      x-ms-examples:
        Get a specific update at an update location.:
          $ref: ./examples/Updates/Get.json
      tags:
      - Updates
      description: Get a specific update at an update location.
      operationId: microsoftAzureUpdatesGet
      parameters:
      - $ref: Update.json#/parameters/SubscriptionIdParameter
      - $ref: Update.json#/parameters/ResourceGroupParameter
      - $ref: UpdateLocations.json#/parameters/UpdateLocationParameter
      - $ref: Updates.json#/parameters/UpdateParameter
      - $ref: Update.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Update_2'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Update.Admin/updateLocations/{updateLocation}/updates/{updateName}/Apply
  : post:
      x-ms-examples:
        Apply a specific update at an update location.:
          $ref: ./examples/Updates/Apply.json
      tags:
      - Updates
      description: Apply a specific update at an update location.
      operationId: microsoftAzureUpdatesApply
      parameters:
      - $ref: Update.json#/parameters/SubscriptionIdParameter
      - $ref: Update.json#/parameters/ResourceGroupParameter
      - $ref: UpdateLocations.json#/parameters/UpdateLocationParameter
      - $ref: Updates.json#/parameters/UpdateParameter
      - $ref: Update.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: UpdateRuns.json#/definitions/UpdateRun
        '202':
          description: ACCEPTED
          content:
            application/json:
              schema:
                $ref: UpdateRuns.json#/definitions/UpdateRun
      x-ms-long-running-operation: true
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
components:
  schemas:
    ListUpdatesResult:
      description: Response for Updates list
      type: object
      properties:
        value:
          description: The pending updates
          type: array
          items:
            $ref: '#/components/schemas/Update'
          x-ms-identifiers: []
    UpdateProperties:
      description: Properties for update
      type: object
      properties:
        resourceId:
          description: The resourceId
          type: string
    MaintenanceError:
      description: An error response received from the Azure Maintenance service.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetails'
          description: Details of the error
    Update:
      description: Maintenance update on a resource
      type: object
      properties:
        maintenanceScope:
          description: The impact area
          enum:
          - Host
          - Resource
          - OSImage
          - Extension
          - InGuestPatch
          - SQLDB
          - SQLManagedInstance
          type: string
          x-ms-enum:
            name: MaintenanceScope
            modelAsString: true
            values:
            - value: Host
              description: This maintenance scope controls installation of azure platform updates i.e. services on physical nodes hosting customer VMs.
            - value: Resource
              description: This maintenance scope controls the default update maintenance of the Azure Resource
            - value: OSImage
              description: This maintenance scope controls os image installation on VM/VMSS
            - value: Extension
              description: This maintenance scope controls extension installation on VM/VMSS
            - value: InGuestPatch
              description: This maintenance scope controls installation of windows and linux packages on VM/VMSS
            - value: SQLDB
              description: This maintenance scope controls installation of SQL server platform updates.
            - value: SQLManagedInstance
              description: This maintenance scope controls installation of SQL managed instance platform update.
        impactType:
          description: The impact type
          enum:
          - None
          - Freeze
          - Restart
          - Redeploy
          type: string
          x-ms-enum:
            name: ImpactType
            modelAsString: true
            values:
            - value: None
              description: Pending updates has no impact on resource.
            - value: Freeze
              description: Pending updates can freeze network or disk io operation on resource.
            - value: Restart
              description: Pending updates can cause resource to restart.
            - value: Redeploy
              description: Pending updates can redeploy resource.
        status:
          description: The status
          enum:
          - Pending
          - InProgress
          - Completed
          - RetryNow
          - RetryLater
          - NoUpdatesPending
          - Cancel
          - Cancelled
          type: string
          x-ms-enum:
            name: UpdateStatus
            modelAsString: true
            values:
            - value: Pending
              description: There are pending updates to be installed.
            - value: InProgress
              description: Updates installation are in progress.
            - value: Completed
              description: All updates are successfully applied.
            - value: RetryNow
              description: Updates installation failed but are ready to retry again.
            - value: RetryLater
              description: Updates installation failed and should be retried later.
            - value: NoUpdatesPending
              description: No updates are pending.
            - value: Cancel
              description: Cancel the schedule and stop creating PMR for resources part of it. Applicable to Maintenance Configuration resource type only.
            - value: Cancelled
              description: Send the Cancelled response to the user if request came to cancel the schedule. Applicable to Maintenance Configuration resource type only.
        impactDurationInSec:
          format: int32
          description: Duration of impact in seconds
          type: integer
        notBefore:
          format: date-time
          description: Time when Azure will start force updates if not self-updated by customer before this time
          type: string
        properties:
          $ref: '#/components/schemas/UpdateProperties'
          description: Properties of the apply update
          x-ms-client-flatten: true
    ErrorDetails:
      description: An error response details received from the Azure Maintenance service.
      type: object
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
          type: string
        message:
          description: Human-readable representation of the error.
          type: string
    UpdateList:
      description: List of updates.
      type: object
      properties:
        value:
          description: List of updates.
          type: array
          items:
            $ref: '#/components/schemas/Update_2'
        nextLink:
          description: URI to the next page of updates.
          type: string
    Update_2:
      description: Information pertaining to an update.
      type: object
      properties:
        properties:
          description: Properties of an update.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/UpdateModel'
      allOf:
      - $ref: Update.json#/definitions/Resource
    UpdateState:
      description: State of the update.
      type: string
      enum:
      - HasPrerequisite
      - Obsolete
      - Ready
      - NotApplicableBecauseAnotherUpdateIsInProgress
      - Preparing
      - Installing
      - Installed
      - PreparationFailed
      - InstallationFailed
      x-ms-enum:
        name: UpdateState
        modelAsString: true
    UpdateModel:
      description: Properties of an update.
      properties:
        installedDate:
          description: Date update was installed.
          type: string
          format: date-time
        description:
          description: Description of the update.
          type: string
        state:
          description: Current state of the update.
          $ref: '#/components/schemas/UpdateState'
        kbLink:
          description: Link to the KB article about the update.
          type: string
        minVersionRequired:
          description: The minimum version required to install.
          type: string
        minOemVersionRequired:
          description: The minimum OEM version required to install.
          type: string
        packagePath:
          description: Path to the update package.
          type: string
        packageSizeInMb:
          description: Size of update package.
          type: integer
          format: int64
        displayName:
          description: Name of the update.
          type: string
        version:
          description: Version of the update.
          type: string
        oemVersion:
          description: OEM version of the update.
          type: string
        publisher:
          description: Publisher of the update.
          type: string
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: Version of the API to be used with the client request.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- maintenancemanagementclient-openapi-original.yml
- updateadminclient-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
