openapi: 3.2.0
info:
  title: Microsoft Azure MariaDBManagementClient Wait Statistics API
  description: The Microsoft Azure management API provides create, read, update, and delete functionality for Azure MariaDB resources including servers, databases, firewall rules, VNET rules, log files and configurations with new business model.
  version: '2018-06-01'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: WaitStatistics
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/waitStatistics/{waitStatisticsId}
  : get:
      tags:
      - WaitStatistics
      operationId: microsoftAzureWaitstatisticsGet
      x-ms-examples:
        WaitStatisticsGet:
          $ref: ./examples/WaitStatisticsGet.json
      description: Retrieve wait statistics for specified identifier.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/ServerNameParameter'
      - $ref: '#/components/parameters/WaitStatisticsIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WaitStatistic'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/waitStatistics
  : get:
      tags:
      - WaitStatistics
      operationId: microsoftAzureWaitstatisticsListbyserver
      x-ms-examples:
        WaitStatisticsListByServer:
          $ref: ./examples/WaitStatisticsListByServer.json
      description: Retrieve wait statistics for specified aggregation window.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/ServerNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WaitStatisticsResultList'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WaitStatisticsInput'
        description: The required parameters for retrieving wait statistics.
        required: true
components:
  parameters:
    ServerNameParameter:
      name: serverName
      in: path
      required: true
      description: The name of the server.
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for the request.
      schema:
        type: string
    WaitStatisticsIdParameter:
      name: waitStatisticsId
      in: path
      required: true
      description: The Wait Statistic identifier.
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The subscription ID that identifies an Azure subscription.
      schema:
        type: string
  schemas:
    WaitStatisticProperties:
      properties:
        startTime:
          type: string
          format: date-time
          description: Observation start time.
        endTime:
          type: string
          format: date-time
          description: Observation end time.
        eventName:
          type: string
          description: Wait event name.
        eventTypeName:
          type: string
          description: Wait event type name.
        queryId:
          type: integer
          format: int64
          description: Database query identifier.
        databaseName:
          type: string
          description: Database Name.
        userId:
          type: integer
          format: int64
          description: Database user identifier.
        count:
          type: integer
          format: int64
          description: Wait event count observed in this time interval.
        totalTimeInMs:
          type: number
          format: double
          description: Total time of wait in milliseconds in this time interval.
      description: The properties of a wait statistic.
    WaitStatisticsResultList:
      description: A list of wait statistics.
      type: object
      properties:
        value:
          description: The list of wait statistics.
          type: array
          items:
            $ref: '#/components/schemas/WaitStatistic'
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    WaitStatisticsInput:
      properties:
        properties:
          $ref: '#/components/schemas/WaitStatisticsInputProperties'
          x-ms-client-flatten: true
          description: The properties of a wait statistics input.
      required:
      - properties
      description: Input to get wait statistics
    WaitStatisticsInputProperties:
      properties:
        observationStartTime:
          type: string
          format: date-time
          description: Observation start time.
        observationEndTime:
          type: string
          format: date-time
          description: Observation end time.
        aggregationWindow:
          type: string
          description: Aggregation interval type in ISO 8601 format.
      required:
      - observationStartTime
      - observationEndTime
      - aggregationWindow
      description: The properties for input to get wait statistics
    WaitStatistic:
      properties:
        properties:
          $ref: '#/components/schemas/WaitStatisticProperties'
          x-ms-client-flatten: true
          description: The properties of a wait statistic.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource
      description: Represents a Wait Statistic.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
