openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft NetApp File Locks API
  description: Microsoft NetApp Azure Resource Provider specification
  version: 2023-07-01-preview
  x-ms-code-generation-settings:
    name: AzureNetAppFilesManagementClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: File Locks
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/breakFileLocks
  : post:
      tags:
      - File Locks
      summary: Microsoft Azure Break File Locks
      description: Break all the file locks on a volume
      operationId: microsoftAzureVolumesBreakfilelocks
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountName'
      - $ref: '#/components/parameters/PoolName'
      - $ref: '#/components/parameters/VolumeName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK - terminal state
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        Volumes_BreakFileLocks:
          $ref: examples/Volumes_BreakFileLocks.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/breakFileLocksRequest'
        description: Optional body to provide the ability to clear file locks with selected options
components:
  parameters:
    VolumeName:
      name: volumeName
      in: path
      required: true
      description: The name of the volume
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 1
        pattern: ^[a-zA-Z][a-zA-Z0-9\-_]{0,63}$
    AccountName:
      name: accountName
      in: path
      required: true
      description: The name of the NetApp account
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9\-_]{0,127}$
    PoolName:
      name: poolName
      in: path
      required: true
      description: The name of the capacity pool
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 1
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9\-_]{0,63}$
  schemas:
    breakFileLocksRequest:
      description: Break file locks request
      type: object
      properties:
        clientIp:
          type: string
          description: To clear file locks on a volume for a particular client
          pattern: ^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$
          example: 101.102.103.104
        confirmRunningDisruptiveOperation:
          type: boolean
          description: Break File locks could be a disruptive operation for application as locks on the volume will be broken, if want to process, set to true.
          default: false
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
