openapi: 3.2.0
info:
  title: Microsoft Azure Azure VMware Solution Authorizations API
  description: Azure VMware Solution API
  version: 2020-07-17-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Authorizations
  description: ''
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/authorizations
  : get:
      operationId: microsoftAzureAuthorizationsList
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
      - Authorizations
      summary: Microsoft Azure List Expressroute Circuit Authorizations In A Private Cloud
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/privateCloudName'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteAuthorizationList'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Authorizations_List:
          $ref: ./examples/Authorizations_List.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/authorizations/{authorizationName}
  : get:
      operationId: microsoftAzureAuthorizationsGet
      tags:
      - Authorizations
      summary: Microsoft Azure Get An Expressroute Circuit Authorization By Name In A Private…
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/privateCloudName'
      - $ref: '#/components/parameters/authorizationName'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteAuthorization'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Authorizations_Get:
          $ref: ./examples/Authorizations_Get.json
      description: Needs a more full description created.
    put:
      operationId: microsoftAzureAuthorizationsCreateorupdate
      x-ms-long-running-operation: true
      tags:
      - Authorizations
      summary: Microsoft Azure Create Or Update An Expressroute Circuit Authorization In A…
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - name: privateCloudName
        in: path
        required: true
        description: The name of the private cloud.
        schema:
          type: string
      - $ref: '#/components/parameters/authorizationName'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteAuthorization'
        '201':
          description: accepted operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteAuthorization'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Authorizations_CreateOrUpdate:
          $ref: ./examples/Authorizations_CreateOrUpdate.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpressRouteAuthorization'
        description: An ExpressRoute Circuit Authorization
        required: true
    delete:
      operationId: microsoftAzureAuthorizationsDelete
      x-ms-long-running-operation: true
      tags:
      - Authorizations
      summary: Microsoft Azure Delete An Expressroute Circuit Authorization In A Private Cloud
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/privateCloudName'
      - $ref: '#/components/parameters/authorizationName'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK. The delete has succeeded
        '202':
          description: Accepted. The delete will complete asynchronously
        '204':
          description: No Content. No ExpressRoute Circuit Authorization to delete
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Authorizations_Delete:
          $ref: ./examples/Authorizations_Delete.json
      description: Needs a more full description created.
components:
  schemas:
    CloudError:
      x-ms-external: true
      properties:
        error:
          description: An error returned by the API
          $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse
      description: API error response
    ExpressRouteAuthorizationProperties:
      description: The properties of an ExpressRoute Circuit Authorization resource
      properties:
        provisioningState:
          description: The state of the  ExpressRoute Circuit Authorization provisioning
          type: string
          readOnly: true
          enum:
          - Succeeded
          - Failed
          - Updating
          x-ms-enum:
            name: ExpressRouteAuthorizationProvisioningState
            modelAsString: true
        expressRouteAuthorizationId:
          description: The ID of the ExpressRoute Circuit Authorization
          type: string
          readOnly: true
        expressRouteAuthorizationKey:
          description: The key of the ExpressRoute Circuit Authorization
          type: string
          readOnly: true
    ExpressRouteAuthorizationList:
      description: A paged list of ExpressRoute Circuit Authorizations
      properties:
        value:
          description: The items on a page
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/ExpressRouteAuthorization'
        nextLink:
          description: URL to get the next page if any
          type: string
          readOnly: true
    ExpressRouteAuthorization:
      description: ExpressRoute Circuit Authorization
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          description: The properties of an ExpressRoute Circuit Authorization resource
          $ref: '#/components/schemas/ExpressRouteAuthorizationProperties'
          x-ms-client-flatten: true
          readOnly: true
    Resource:
      description: The core properties of ARM resources
      properties:
        id:
          description: Resource ID.
          readOnly: true
          type: string
        name:
          description: Resource name.
          readOnly: true
          type: string
        type:
          description: Resource type.
          readOnly: true
          type: string
      x-ms-azure-resource: true
  parameters:
    privateCloudName:
      name: privateCloudName
      in: path
      required: true
      description: Name of the private cloud
      x-ms-parameter-location: method
      schema:
        type: string
    authorizationName:
      name: authorizationName
      in: path
      required: true
      description: Name of the ExpressRoute Circuit Authorization in the private cloud
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
