openapi: 3.2.0
info:
  title: Microsoft Azure SCVMM Clouds API
  description: The Microsoft.ScVmm Rest API spec.
  version: 2022-05-21-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Clouds
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/clouds/{cloudName}:
    get:
      tags:
      - Clouds
      operationId: microsoftAzureCloudsGet
      summary: Microsoft Azure Gets A Cloud
      description: Implements Cloud GET method.
      x-ms-examples:
        GetCloud:
          $ref: ./examples/GetCloud.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - in: path
        name: cloudName
        required: true
        description: Name of the Cloud.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Retrieves the Clouds resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cloud'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
      - Clouds
      operationId: microsoftAzureCloudsCreateorupdate
      description: Onboards the ScVmm fabric cloud as an Azure cloud resource.
      summary: Microsoft Azure Implements Clouds Put Method
      x-ms-examples:
        CreateCloud:
          $ref: ./examples/CreateCloud.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - in: path
        name: cloudName
        required: true
        description: Name of the Cloud.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Creates or Updates the Clouds resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cloud'
        '201':
          description: Creates or Updates the Clouds resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cloud'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cloud'
        description: Request payload.
        required: true
    delete:
      tags:
      - Clouds
      operationId: microsoftAzureCloudsDelete
      description: Deregisters the ScVmm fabric cloud from Azure.
      summary: Microsoft Azure Implements Cloud Resource Delete Method
      x-ms-examples:
        DeleteCloud:
          $ref: ./examples/DeleteCloud.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - in: path
        name: cloudName
        required: true
        description: Name of the Cloud.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - in: query
        name: force
        description: Forces the resource to be deleted from azure. The corresponding CR would be attempted to be deleted too.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Deletes the Clouds resource.
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    patch:
      tags:
      - Clouds
      operationId: microsoftAzureCloudsUpdate
      summary: Microsoft Azure Implements The Clouds Patch Method
      description: Updates the Clouds resource.
      x-ms-examples:
        UpdateCloud:
          $ref: ./examples/UpdateCloud.json
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - in: path
        name: cloudName
        required: true
        description: Name of the Cloud.
        schema:
          type: string
      responses:
        '200':
          description: Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cloud'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cloud'
        '202':
          description: Accepted
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourcePatch'
        description: Clouds patch payload.
        required: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/clouds:
    get:
      tags:
      - Clouds
      operationId: microsoftAzureCloudsListbyresourcegroup
      summary: Microsoft Azure Implements Get Clouds In A Resource Group
      description: List of Clouds in a resource group.
      x-ms-examples:
        ListCloudsByResourceGroup:
          $ref: ./examples/ListCloudsByResourceGroup.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Lists all Clouds under the resource group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.ScVmm/clouds:
    get:
      tags:
      - Clouds
      operationId: microsoftAzureCloudsListbysubscription
      summary: Microsoft Azure Implements Get Clouds In A Subscription
      description: List of Clouds in a subscription.
      x-ms-examples:
        ListCloudsBySubscription:
          $ref: ./examples/ListCloudsBySubscription.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Lists all Clouds under the subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
components:
  schemas:
    CloudProperties:
      description: Defines the resource properties.
      type: object
      properties:
        inventoryItemId:
          description: Gets or sets the inventory Item ID for the resource.
          type: string
        uuid:
          type: string
          description: Unique ID of the cloud.
          minLength: 1
        vmmServerId:
          type: string
          description: ARM Id of the vmmServer resource in which this resource resides.
        cloudName:
          type: string
          description: Name of the cloud in VMMServer.
          readOnly: true
        cloudCapacity:
          $ref: '#/components/schemas/CloudCapacity'
          description: Capacity of the cloud.
          readOnly: true
        storageQoSPolicies:
          description: List of QoS policies available for the cloud.
          type: array
          items:
            $ref: '#/components/schemas/StorageQoSPolicy'
          readOnly: true
        provisioningState:
          type: string
          description: Gets or sets the provisioning state.
          readOnly: true
    CloudCapacity:
      description: Cloud Capacity model
      type: object
      properties:
        cpuCount:
          type: integer
          format: int64
          description: CPUCount specifies the maximum number of CPUs that can be allocated in the cloud.
        memoryMB:
          type: integer
          format: int64
          description: MemoryMB specifies a memory usage limit in megabytes.
        vmCount:
          type: integer
          format: int64
          description: VMCount gives the max number of VMs that can be deployed in the cloud.
      readOnly: true
    CloudListResult:
      type: object
      description: List of Clouds.
      properties:
        value:
          type: array
          description: List of Clouds.
          items:
            $ref: '#/components/schemas/Cloud'
        nextLink:
          type: string
          description: Url to follow for getting next page of resources.
    ExtendedLocation:
      type: object
      description: The extended location.
      properties:
        type:
          type: string
          description: The extended location type.
        name:
          type: string
          description: The extended location name.
    Cloud:
      type: object
      x-ms-azure-resource: true
      properties:
        properties:
          x-ms-client-flatten: true
          description: Resource properties.
          $ref: '#/components/schemas/CloudProperties'
        id:
          type: string
          readOnly: true
          description: Resource Id
        name:
          type: string
          readOnly: true
          description: Resource Name
        type:
          type: string
          readOnly: true
          description: Resource Type
        location:
          description: Gets or sets the location.
          type: string
          x-ms-mutability:
          - read
          - create
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
        systemData:
          $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/systemData
          description: The system data.
        extendedLocation:
          $ref: '#/components/schemas/ExtendedLocation'
          description: The extended location.
      required:
      - location
      - properties
      - extendedLocation
      description: The Clouds resource definition.
    ErrorDefinition:
      description: Error definition.
      type: object
      properties:
        code:
          description: Service specific error code which serves as the substatus for the HTTP error code.
          type: string
          readOnly: true
        message:
          description: Description of the error.
          type: string
          readOnly: true
        details:
          description: Internal error details.
          type: array
          items:
            $ref: '#/components/schemas/ErrorDefinition'
          x-ms-identifiers: []
          readOnly: true
    ResourcePatch:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
      description: Object containing tags updates for patch operations.
    ErrorResponse:
      description: Error response.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorDefinition'
          description: The error details.
    StorageQoSPolicy:
      description: The StorageQoSPolicy definition.
      type: object
      properties:
        name:
          description: The name of the policy.
          type: string
        id:
          description: The ID of the QoS policy.
          type: string
        iopsMaximum:
          description: The maximum IO operations per second.
          type: integer
          format: int64
        iopsMinimum:
          description: The minimum IO operations per second.
          type: integer
          format: int64
        bandwidthLimit:
          description: The Bandwidth Limit for internet traffic.
          type: integer
          format: int64
        policyId:
          description: The underlying policy.
          type: string
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to be used with the HTTP request (e.g. YYYY-MM-DD).
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
