openapi: 3.2.0
info:
  title: Microsoft Azure ContainerServiceFleetClient Fleets API
  version: 2024-02-02-preview
  description: Azure Kubernetes Fleet Manager api client.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Fleets
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.ContainerService/fleets:
    get:
      operationId: microsoftAzureFleetsListbysubscription
      tags:
      - Fleets
      description: Lists fleets in the specified subscription.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FleetListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Lists the Fleet resources in a subscription.:
          $ref: ./examples/Fleets_ListBySub.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/fleets:
    get:
      operationId: microsoftAzureFleetsListbyresourcegroup
      tags:
      - Fleets
      description: Lists fleets in the specified subscription and resource group.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FleetListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Lists the Fleet resources in a resource group.:
          $ref: ./examples/Fleets_ListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/fleets/{fleetName}:
    get:
      operationId: microsoftAzureFleetsGet
      tags:
      - Fleets
      description: Gets a Fleet.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: fleetName
        in: path
        description: The name of the Fleet resource.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 1
          pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fleet'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Gets a Fleet resource.:
          $ref: ./examples/Fleets_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      operationId: microsoftAzureFleetsCreateorupdate
      tags:
      - Fleets
      description: Creates or updates a Fleet.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: If-Match
        in: header
        description: The request should only proceed if an entity matches this string.
        required: false
        x-ms-client-name: ifMatch
        schema:
          type: string
      - name: If-None-Match
        in: header
        description: The request should only proceed if no entity matches this string.
        required: false
        x-ms-client-name: ifNoneMatch
        schema:
          type: string
      - name: fleetName
        in: path
        description: The name of the Fleet resource.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 1
          pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
      responses:
        '200':
          description: Resource 'Fleet' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fleet'
        '201':
          description: Resource 'Fleet' create operation succeeded
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fleet'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Creates a Fleet resource with a long running operation.:
          $ref: ./examples/Fleets_CreateOrUpdate.json
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Fleet'
        description: Resource create parameters.
        required: true
    patch:
      operationId: microsoftAzureFleetsUpdate
      tags:
      - Fleets
      description: Update a Fleet
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: If-Match
        in: header
        description: The request should only proceed if an entity matches this string.
        required: false
        x-ms-client-name: ifMatch
        schema:
          type: string
      - name: fleetName
        in: path
        description: The name of the Fleet resource.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 1
          pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fleet'
        '202':
          description: Resource update request accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Update a Fleet.:
          $ref: ./examples/Fleets_PatchTags.json
      x-ms-long-running-operation-options:
        final-state-via: original-uri
      x-ms-long-running-operation: true
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FleetPatch'
        description: The resource properties to be updated.
        required: true
    delete:
      operationId: microsoftAzureFleetsDelete
      tags:
      - Fleets
      description: Delete a Fleet
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: If-Match
        in: header
        description: The request should only proceed if an entity matches this string.
        required: false
        x-ms-client-name: ifMatch
        schema:
          type: string
      - name: fleetName
        in: path
        description: The name of the Fleet resource.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 1
          pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
      responses:
        '200':
          description: Resource deleted successfully.
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Deletes a Fleet resource asynchronously with a long running operation.:
          $ref: ./examples/Fleets_Delete.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/fleets/{fleetName}/listCredentials
  : post:
      operationId: microsoftAzureFleetsListcredentials
      tags:
      - Fleets
      description: Lists the user credentials of a Fleet.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: fleetName
        in: path
        description: The name of the Fleet resource.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 1
          pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FleetCredentialResults'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Lists the user credentials of a Fleet.:
          $ref: ./examples/Fleets_ListCredentialsResult.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    FleetListResult:
      type: object
      description: The response of a Fleet list operation.
      properties:
        value:
          type: array
          description: The Fleet items on this page
          items:
            $ref: '#/components/schemas/Fleet'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    FleetCredentialResult:
      type: object
      description: One credential result item.
      properties:
        name:
          type: string
          description: The name of the credential.
          readOnly: true
        value:
          type: string
          format: byte
          description: Base64-encoded Kubernetes configuration file.
          readOnly: true
    FleetProvisioningState:
      type: string
      description: The provisioning state of the last accepted operation.
      enum:
      - Succeeded
      - Failed
      - Canceled
      - Creating
      - Updating
      - Deleting
      x-ms-enum:
        name: FleetProvisioningState
        modelAsString: true
        values:
        - name: Succeeded
          value: Succeeded
          description: Resource has been created.
        - name: Failed
          value: Failed
          description: Resource creation failed.
        - name: Canceled
          value: Canceled
          description: Resource creation was canceled.
        - name: Creating
          value: Creating
          description: The provisioning state of a fleet being created.
        - name: Updating
          value: Updating
          description: The provisioning state of a fleet being updated.
        - name: Deleting
          value: Deleting
          description: The provisioning state of a fleet being deleted.
      readOnly: true
    FleetPatch:
      type: object
      description: Properties of a Fleet that can be patched.
      properties:
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
        identity:
          $ref: ../../../../../../common-types/resource-management/v4/managedidentity.json#/definitions/ManagedServiceIdentity
          description: Managed identity.
    FleetHubProfile:
      type: object
      description: The FleetHubProfile configures the fleet hub.
      properties:
        dnsPrefix:
          type: string
          description: DNS prefix used to create the FQDN for the Fleet hub.
          minLength: 1
          maxLength: 54
          pattern: ^[a-zA-Z0-9]$|^[a-zA-Z0-9][a-zA-Z0-9-]{0,52}[a-zA-Z0-9]$
          x-ms-mutability:
          - read
          - create
        apiServerAccessProfile:
          $ref: '#/components/schemas/APIServerAccessProfile'
          description: The access profile for the Fleet hub API server.
          x-ms-mutability:
          - read
          - create
        agentProfile:
          $ref: '#/components/schemas/AgentProfile'
          description: The agent profile for the Fleet hub.
          x-ms-mutability:
          - read
          - create
        fqdn:
          type: string
          description: The FQDN of the Fleet hub.
          readOnly: true
        kubernetesVersion:
          type: string
          description: The Kubernetes version of the Fleet hub.
          readOnly: true
        portalFqdn:
          type: string
          description: The Azure Portal FQDN of the Fleet hub.
          readOnly: true
    FleetProperties:
      type: object
      description: Fleet properties.
      properties:
        provisioningState:
          $ref: '#/components/schemas/FleetProvisioningState'
          description: The status of the last operation.
          readOnly: true
        hubProfile:
          $ref: '#/components/schemas/FleetHubProfile'
          description: The FleetHubProfile configures the Fleet's hub.
    APIServerAccessProfile:
      type: object
      description: Access profile for the Fleet hub API server.
      properties:
        enablePrivateCluster:
          type: boolean
          description: Whether to create the Fleet hub as a private cluster or not.
          x-ms-mutability:
          - read
          - create
        enableVnetIntegration:
          type: boolean
          description: Whether to enable apiserver vnet integration for the Fleet hub or not.
          x-ms-mutability:
          - read
          - create
        subnetId:
          $ref: '#/components/schemas/SubnetResourceId'
          description: The subnet to be used when apiserver vnet integration is enabled. It is required when creating a new Fleet with BYO vnet.
          x-ms-mutability:
          - read
          - create
    SubnetResourceId:
      type: string
      format: arm-id
      description: A type definition that refers the id to an Azure Resource Manager resource.
      x-ms-arm-id-details:
        allowedResources:
        - type: Microsoft.Network/virtualNetworks/subnets
    Fleet:
      type: object
      description: The Fleet resource.
      properties:
        properties:
          $ref: '#/components/schemas/FleetProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
        eTag:
          type: string
          description: If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.
          readOnly: true
        identity:
          $ref: ../../../../../../common-types/resource-management/v4/managedidentity.json#/definitions/ManagedServiceIdentity
          description: Managed identity.
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
    AgentProfile:
      type: object
      description: Agent profile for the Fleet hub.
      properties:
        subnetId:
          $ref: '#/components/schemas/SubnetResourceId'
          description: The ID of the subnet which the Fleet hub node will join on startup. If this is not specified, a vnet and subnet will be generated and used.
          x-ms-mutability:
          - read
          - create
        vmSize:
          type: string
          description: The virtual machine size of the Fleet hub.
          x-ms-mutability:
          - read
          - create
    FleetCredentialResults:
      type: object
      description: The Credential results response.
      properties:
        kubeconfigs:
          type: array
          description: Array of base64-encoded Kubernetes configuration files.
          items:
            $ref: '#/components/schemas/FleetCredentialResult'
          readOnly: true
          x-ms-identifiers:
          - name
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
