openapi: 3.2.0
info:
  title: Microsoft Azure Azure Migrate Assessment Service Private…
  version: 2023-04-01-preview
  description: Azure Migrate Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: PrivateLinkResourceOperations
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/privateLinkResources
  : get:
      operationId: microsoftAzurePrivatelinkresourceoperationsListbyassessmentproject
      tags:
      - PrivateLinkResourceOperations
      description: List PrivateLinkResource resources by AssessmentProject
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResourceListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        PrivateLinkResourceOperations_ListByAssessmentProject_MaximumSet_Gen:
          $ref: ./examples/PrivateLinkResourceOperations_ListByAssessmentProject_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/privateLinkResources/{privateLinkResourceName}
  : get:
      operationId: microsoftAzurePrivatelinkresourceoperationsGet
      tags:
      - PrivateLinkResourceOperations
      description: Get a PrivateLinkResource
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: privateLinkResourceName
        in: path
        description: Private link resource ARM name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        PrivateLinkResourceOperations_Get_MaximumSet_Gen:
          $ref: ./examples/PrivateLinkResourceOperations_Get_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    PrivateLinkResourceListResult:
      type: object
      description: The response of a PrivateLinkResource list operation.
      properties:
        value:
          type: array
          description: The PrivateLinkResource items on this page
          items:
            $ref: '#/components/schemas/PrivateLinkResource'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    PrivateLinkResource:
      type: object
      description: Private link resource.
      properties:
        properties:
          $ref: ../../../../../../common-types/resource-management/v5/privatelinks.json#/definitions/PrivateLinkResourceProperties
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
