openapi: 3.2.0
info:
  title: Microsoft Azure Azure Machine Learning Services Workspace…
  description: These APIs allow end users to operate on Azure Machine Learning Workspace resources.
  version: 2024-01-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: WorkspacePrivateEndpointConnections
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/privateEndpointConnections
  : get:
      tags:
      - WorkspacePrivateEndpointConnections
      summary: Microsoft Azure Called By End Users To Get All Pe Connections
      operationId: microsoftAzurePrivateendpointconnectionsList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionListResult'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        StorageAccountListPrivateEndpointConnections:
          $ref: ./examples/PrivateEndpointConnection/list.json
      x-ms-pageable:
        nextLinkName: null
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/privateEndpointConnections/{privateEndpointConnectionName}
  : delete:
      tags:
      - WorkspacePrivateEndpointConnections
      summary: Microsoft Azure Called By End Users To Delete A Pe Connection
      operationId: microsoftAzurePrivateendpointconnectionsDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/PrivateEndpointConnectionName'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
        '204':
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        WorkspacePutPrivateEndpointConnection:
          $ref: ./examples/PrivateEndpointConnection/delete.json
      description: Needs a more full description created.
    get:
      tags:
      - WorkspacePrivateEndpointConnections
      summary: Microsoft Azure Called By End Users To Get A Pe Connection
      operationId: microsoftAzurePrivateendpointconnectionsGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/PrivateEndpointConnectionName'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        WorkspaceGetPrivateEndpointConnection:
          $ref: ./examples/PrivateEndpointConnection/get.json
      description: Needs a more full description created.
    put:
      tags:
      - WorkspacePrivateEndpointConnections
      summary: Microsoft Azure Called By End Users To Approve Or Reject A Pe Connection this…
      operationId: microsoftAzurePrivateendpointconnectionsCreateorupdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/PrivateEndpointConnectionName'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        WorkspacePutPrivateEndpointConnection:
          $ref: ./examples/PrivateEndpointConnection/createOrUpdate.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateEndpointConnection'
        description: PrivateEndpointConnection object
        required: true
components:
  parameters:
    WorkspaceNameParameter:
      in: path
      name: workspaceName
      description: Azure Machine Learning Workspace Name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]{2,32}$
    PrivateEndpointConnectionName:
      in: path
      name: privateEndpointConnectionName
      description: NRP Private Endpoint Connection Name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  schemas:
    PrivateEndpointConnectionListResult:
      description: List of private endpoint connection associated with the specified workspace
      type: object
      properties:
        value:
          description: Array of private endpoint connections
          type: array
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection'
    PrivateEndpointConnectionProvisioningState:
      description: The current provisioning state.
      enum:
      - Succeeded
      - Creating
      - Deleting
      - Failed
      type: string
      x-ms-enum:
        name: PrivateEndpointConnectionProvisioningState
        modelAsString: true
    WorkspacePrivateEndpointResource:
      description: The Private Endpoint resource.
      type: object
      properties:
        id:
          description: e.g. /subscriptions/{networkSubscriptionId}/resourceGroups/{rgName}/providers/Microsoft.Network/privateEndpoints/{privateEndpointName}
          type: string
          readOnly: true
          x-ms-mutability:
          - read
        subnetArmId:
          description: The subnetId that the private endpoint is connected to.
          type: string
          readOnly: true
          x-ms-mutability:
          - read
    PrivateEndpointConnection:
      description: The Private Endpoint Connection resource.
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/Resource
      properties:
        identity:
          $ref: ../../../../../common-types/resource-management/v3/managedidentity.json#/definitions/ManagedServiceIdentity
        location:
          description: Same as workspace location.
          type: string
        properties:
          description: Private endpoint connection properties.
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties'
          x-ms-client-flatten: true
        sku:
          description: Optional. This field is required to be implemented by the RP because AML is supporting more than one tier
          $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/Sku
        tags:
          type: object
          additionalProperties:
            type: string
    PrivateLinkServiceConnectionState:
      description: A collection of information about the state of the connection between service consumer and provider.
      type: object
      properties:
        actionsRequired:
          description: Some RP chose "None". Other RPs use this for region expansion.
          type: string
        description:
          description: User-defined message that, per NRP doc, may be used for approval-related message.
          type: string
        status:
          $ref: '#/components/schemas/PrivateEndpointServiceConnectionStatus'
    PrivateEndpointConnectionProperties:
      description: Private endpoint connection properties.
      type: object
      properties:
        privateEndpoint:
          $ref: '#/components/schemas/WorkspacePrivateEndpointResource'
        privateLinkServiceConnectionState:
          description: The connection state.
          $ref: '#/components/schemas/PrivateLinkServiceConnectionState'
        provisioningState:
          $ref: '#/components/schemas/PrivateEndpointConnectionProvisioningState'
    PrivateEndpointServiceConnectionStatus:
      description: 'Connection status of the service consumer with the service provider

        Possible state transitions

        Pending -> Approved (Service provider approves the connection request)

        Pending -> Rejected (Service provider rejects the connection request)

        Pending -> Disconnected (Service provider deletes the connection)

        Approved -> Rejected (Service provider rejects the approved connection)

        Approved -> Disconnected (Service provider deletes the connection)

        Rejected -> Pending (Service consumer re-initiates the connection request that was rejected)

        Rejected -> Disconnected (Service provider deletes the connection)'
      enum:
      - Approved
      - Pending
      - Rejected
      - Disconnected
      - Timeout
      type: string
      x-ms-enum:
        name: EndpointServiceConnectionStatus
        modelAsString: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
