openapi: 3.2.0
info:
  version: 2022-07-01-preview
  title: Microsoft Azure StorageMoverClient Storage Movers API
  description: The Azure Storage Mover REST API.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: StorageMovers
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.StorageMover/storageMovers:
    get:
      tags:
      - StorageMovers
      operationId: microsoftAzureStoragemoversListbysubscription
      description: Lists all Storage Movers in a subscription.
      x-ms-examples:
        StorageMovers_List:
          $ref: ./examples/StorageMovers_ListBySubscription.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The list of Storage Movers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageMoverList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageMover/storageMovers:
    get:
      tags:
      - StorageMovers
      operationId: microsoftAzureStoragemoversList
      description: Lists all Storage Movers in a resource group.
      x-ms-examples:
        StorageMovers_List:
          $ref: ./examples/StorageMovers_List.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The list of Storage Movers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageMoverList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageMover/storageMovers/{storageMoverName}
  : get:
      tags:
      - StorageMovers
      operationId: microsoftAzureStoragemoversGet
      description: Gets a Storage Mover resource.
      x-ms-examples:
        StorageMovers_Get:
          $ref: ./examples/StorageMovers_Get.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/StorageMoverNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The Storage Mover resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageMover'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - StorageMovers
      operationId: microsoftAzureStoragemoversCreateorupdate
      description: Creates or updates a top-level Storage Mover resource.
      x-ms-examples:
        StorageMovers_CreateOrUpdate:
          $ref: ./examples/StorageMovers_CreateOrUpdate.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/StorageMoverNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Successfully PUT Storage Mover resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageMover'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorageMover'
        required: true
    patch:
      tags:
      - StorageMovers
      operationId: microsoftAzureStoragemoversUpdate
      description: Updates properties for a Storage Mover resource. Properties not specified in the request body will be unchanged.
      x-ms-examples:
        StorageMovers_Update:
          $ref: ./examples/StorageMovers_Update.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/StorageMoverNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The Storage Mover resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageMover'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorageMoverUpdateParameters'
        required: true
    delete:
      tags:
      - StorageMovers
      operationId: microsoftAzureStoragemoversDelete
      description: Deletes a Storage Mover resource.
      x-ms-examples:
        StorageMovers_Delete:
          $ref: ./examples/StorageMovers_Delete.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/StorageMoverNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Successfully deleted Storage Mover.
        '202':
          description: Accepted. Storage Mover delete operation is ongoing.
        '204':
          description: NoContent -- Storage Mover does not exist in the subscription.
        default:
          description: Error response describing why delete operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    StorageMover:
      description: The Storage Mover resource, which is a container for a group of Agents, Projects, and Endpoints.
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/StorageMoverProperties'
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: Resource system metadata.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource
    StorageMoverList:
      description: List of Storage Movers.
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/StorageMover'
          readOnly: true
        nextLink:
          type: string
          description: Request URL that can be used to query next page of containers. Returned when total number of requested containers exceed maximum page size.
          readOnly: true
    StorageMoverUpdateParameters:
      description: The Storage Mover resource.
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/StorageMoverUpdateProperties'
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
    StorageMoverProperties:
      description: The resource specific properties for the Storage Mover resource.
      type: object
      properties:
        description:
          type: string
          description: A description for the Storage Mover.
        provisioningState:
          description: The provisioning state of this resource.
          enum:
          - Succeeded
          type: string
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
          readOnly: true
    StorageMoverUpdateProperties:
      description: The resource specific properties for the Storage Mover resource.
      type: object
      properties:
        description:
          type: string
          description: A description for the Storage Mover.
  parameters:
    StorageMoverNameParameter:
      name: storageMoverName
      in: path
      required: true
      description: The name of the Storage Mover resource.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
