openapi: 3.2.0
info:
  title: Microsoft Azure ManagementLinkClient Resource Links API
  version: '2016-09-01'
  description: Azure resources can be linked together to form logical relationships. You can establish links between resources belonging to different resource groups. However, all the linked resources must belong to the same subscription. Each resource can be linked to 50 other resources. If any of the linked resources are deleted or moved, the link owner must clean up the remaining link.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Resource Links
paths:
  /{linkId}:
    delete:
      tags:
      - Resource Links
      operationId: microsoftAzureResourcelinksDelete
      description: Deletes a resource link with the specified ID.
      parameters:
      - name: linkId
        in: path
        required: true
        description: The fully qualified ID of the resource link. Use the format, /subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/{provider-namespace}/{resource-type}/{resource-name}/Microsoft.Resources/links/{link-name}. For example, /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myGroup/Microsoft.Web/sites/mySite/Microsoft.Resources/links/myLink
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
      summary: Microsoft Azure Delete Linkid
    put:
      tags:
      - Resource Links
      operationId: microsoftAzureResourcelinksCreateorupdate
      description: Creates or updates a resource link between the specified resources.
      parameters:
      - name: linkId
        in: path
        required: true
        description: The fully qualified ID of the resource link. Use the format, /subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/{provider-namespace}/{resource-type}/{resource-name}/Microsoft.Resources/links/{link-name}. For example, /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myGroup/Microsoft.Web/sites/mySite/Microsoft.Resources/links/myLink
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK - Returns information about the link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLink'
        '201':
          description: Created - Returns information about the link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLink'
      summary: Microsoft Azure Put Linkid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceLink'
        description: Parameters for creating or updating a resource link.
        required: true
    get:
      tags:
      - Resource Links
      operationId: microsoftAzureResourcelinksGet
      description: Gets a resource link with the specified ID.
      parameters:
      - name: linkId
        in: path
        required: true
        description: The fully qualified Id of the resource link. For example, /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myGroup/Microsoft.Web/sites/mySite/Microsoft.Resources/links/myLink
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK - Returns information about the resource link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLink'
      summary: Microsoft Azure Get Linkid
  /subscriptions/{subscriptionId}/providers/Microsoft.Resources/links:
    get:
      tags:
      - Resource Links
      operationId: microsoftAzureResourcelinksListatsubscription
      description: Gets all the linked resources for the subscription.
      parameters:
      - name: $filter
        in: query
        required: false
        description: The filter to apply on the list resource links operation. The supported filter for list resource links is targetId. For example, $filter=targetId eq {value}
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Returns an array of resource links for the subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLinkResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/ResourceLinkFilter'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Resources…
  /{scope}/providers/Microsoft.Resources/links:
    get:
      tags:
      - Resource Links
      operationId: microsoftAzureResourcelinksListatsourcescope
      description: Gets a list of resource links at and below the specified source scope.
      parameters:
      - name: scope
        in: path
        required: true
        description: The fully qualified ID of the scope for getting the resource links. For example, to list resource links at and under a resource group, set the scope to /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myGroup.
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: $filter
        in: query
        required: false
        x-ms-enum:
          name: Filter
          modelAsString: false
        description: The filter to apply when getting resource links. To get links only at the specified scope (not below the scope), use Filter.atScope().
        schema:
          type: string
          enum:
          - atScope()
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK - Returns an array of links at the specified scope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLinkResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/ResourceLinkFilter'
      summary: Microsoft Azure Get Scope Providers Microsoft Resources Links
components:
  schemas:
    ResourceLinkResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ResourceLink'
          description: An array of resource links.
        nextLink:
          readOnly: true
          type: string
          description: The URL to use for getting the next set of results.
      required:
      - value
      description: List of resource links.
    ResourceLinkProperties:
      properties:
        sourceId:
          readOnly: true
          type: string
          description: 'The fully qualified ID of the source resource in the link. '
        targetId:
          type: string
          description: The fully qualified ID of the target resource in the link.
        notes:
          type: string
          description: Notes about the resource link.
      required:
      - targetId
      description: The resource link properties.
    ResourceLink:
      properties:
        id:
          readOnly: true
          type: string
          description: The fully qualified ID of the resource link.
        name:
          readOnly: true
          type: string
          description: The name of the resource link.
        type:
          readOnly: true
          type: object
          description: The resource link object.
        properties:
          $ref: '#/components/schemas/ResourceLinkProperties'
          description: Properties for resource link.
      x-ms-azure-resource: true
      description: The resource link.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for the operation.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
