openapi: 3.2.0
info:
  title: Microsoft Azure Nginx.NginxPlus Nginx Deployment API
  version: 2021-05-01-preview
servers:
- url: https://management.azure.com
tags:
- name: NginxDeployment
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Nginx.NginxPlus/nginxDeployments/{deploymentName}
  : get:
      tags:
      - NginxDeployment
      summary: Microsoft Azure Get The Nginx Deployment
      operationId: microsoftAzureDeploymentsGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/DeploymentNameParameter'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NginxDeployment'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-examples:
        Deployments_Get:
          $ref: ./examples/Deployments_Get.json
      description: Needs a more full description created.
    put:
      tags:
      - NginxDeployment
      summary: Microsoft Azure Create Or Update The Nginx Deployment
      operationId: microsoftAzureDeploymentsCreate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/DeploymentNameParameter'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NginxDeployment'
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NginxDeployment'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        Deployments_Create:
          $ref: ./examples/Deployments_Create.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NginxDeployment'
    patch:
      tags:
      - NginxDeployment
      summary: Microsoft Azure Update The Nginx Deployment
      operationId: microsoftAzureDeploymentsUpdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/DeploymentNameParameter'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NginxDeployment'
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NginxDeployment'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-examples:
        Deployments_Update:
          $ref: ./examples/Deployments_Update.json
      x-ms-long-running-operation: true
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NginxDeploymentUpdateParameters'
    delete:
      tags:
      - NginxDeployment
      summary: Microsoft Azure Delete The Nginx Deployment Resource
      operationId: microsoftAzureDeploymentsDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/DeploymentNameParameter'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
        '202':
          description: Success
        '204':
          description: Success
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-long-running-operation: true
      x-ms-examples:
        Deployments_Delete:
          $ref: ./examples/Deployments_Delete.json
      description: Needs a more full description created.
  /subscriptions/{subscriptionId}/providers/Nginx.NginxPlus/nginxDeployments:
    get:
      tags:
      - NginxDeployment
      summary: Microsoft Azure List The Nginx Deployments Resources
      operationId: microsoftAzureDeploymentsList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NginxDeploymentListResponse'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Deployments_List:
          $ref: ./examples/Deployments_List.json
      description: Needs a more full description created.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Nginx.NginxPlus/nginxDeployments:
    get:
      tags:
      - NginxDeployment
      summary: Microsoft Azure List All Nginx Deployments Under The Specified Resource Group
      operationId: microsoftAzureDeploymentsListbyresourcegroup
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NginxDeploymentListResponse'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Deployments_ListByResourceGroup:
          $ref: ./examples/Deployments_ListByResourceGroup.json
      description: Needs a more full description created.
  /providers/Nginx.NginxPlus/operations:
    get:
      tags:
      - NginxDeployment
      summary: Microsoft Azure List All Operations Provided By Nginx Nginxplus For The 2021 05…
      operationId: microsoftAzureOperationsList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Operations_List:
          $ref: ./examples/Operations_List.json
      description: Needs a more full description created.
components:
  schemas:
    NginxLogging:
      type: object
      properties:
        storageAccount:
          $ref: '#/components/schemas/NginxStorageAccount'
    NginxPrivateIPAllocationMethod:
      enum:
      - Static
      - Dynamic
      type: string
      x-ms-enum:
        modelAsString: true
        name: NginxPrivateIPAllocationMethod
    ResourceSku:
      required:
      - name
      type: object
      properties:
        name:
          description: Name of the SKU.
          type: string
    ErrorResponseBody:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseBody'
          x-ms-identifiers: []
    UserIdentityProperties:
      type: object
      properties:
        principalId:
          type: string
          readOnly: true
        clientId:
          type: string
          readOnly: true
    NginxPrivateIPAddress:
      type: object
      properties:
        privateIPAddress:
          type: string
        privateIPAllocationMethod:
          $ref: '#/components/schemas/NginxPrivateIPAllocationMethod'
        subnetId:
          type: string
    ResourceProviderDefaultErrorResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorResponseBody'
    ProvisioningState:
      enum:
      - Accepted
      - Creating
      - Updating
      - Deleting
      - Succeeded
      - Failed
      - Canceled
      - Deleted
      - NotSpecified
      type: string
      readOnly: true
      x-ms-enum:
        modelAsString: true
        name: ProvisioningState
    OperationDisplay:
      description: The object that represents the operation.
      type: object
      properties:
        provider:
          description: 'Service provider: Nginx.NginxPlus'
          type: string
        resource:
          description: Type on which the operation is performed, e.g., 'deployments'.
          type: string
        operation:
          description: Operation type, e.g., read, write, delete, etc.
          type: string
        description:
          description: Description of the operation, e.g., 'Write deployments'.
          type: string
    IdentityType:
      enum:
      - SystemAssigned
      - UserAssigned
      - SystemAssigned, UserAssigned
      - None
      type: string
      x-ms-enum:
        modelAsString: true
        name: IdentityType
    OperationListResult:
      description: Result of GET request to list Nginx.NginxPlus operations.
      type: object
      properties:
        value:
          description: List of operations supported by the Nginx.NginxPlus provider.
          type: array
          items:
            $ref: '#/components/schemas/OperationResult'
          x-ms-identifiers: []
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          type: string
    OperationResult:
      description: A Nginx.NginxPlus REST API operation.
      type: object
      properties:
        name:
          description: 'Operation name: {provider}/{resource}/{operation}'
          type: string
        display:
          description: The object that represents the operation.
          $ref: '#/components/schemas/OperationDisplay'
        isDataAction:
          description: Indicates whether the operation is a data action
          type: boolean
    NginxDeploymentUpdateParameters:
      type: object
      properties:
        identity:
          $ref: '#/components/schemas/IdentityProperties'
        tags:
          type: object
          additionalProperties:
            type: string
        sku:
          $ref: '#/components/schemas/ResourceSku'
        location:
          type: string
        properties:
          $ref: '#/components/schemas/NginxDeploymentUpdateProperties'
    NginxNetworkInterfaceConfiguration:
      type: object
      properties:
        subnetId:
          type: string
    NginxDeploymentUpdateProperties:
      type: object
      properties:
        enableDiagnosticsSupport:
          type: boolean
        logging:
          $ref: '#/components/schemas/NginxLogging'
    NginxPublicIPAddress:
      type: object
      properties:
        id:
          type: string
    NginxDeployment:
      type: object
      x-ms-azure-resource: true
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
        type:
          type: string
          readOnly: true
        identity:
          $ref: '#/components/schemas/IdentityProperties'
        properties:
          $ref: '#/components/schemas/NginxDeploymentProperties'
        tags:
          type: object
          additionalProperties:
            type: string
        sku:
          $ref: '#/components/schemas/ResourceSku'
        location:
          type: string
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          readOnly: true
    NginxNetworkProfile:
      type: object
      properties:
        frontEndIPConfiguration:
          $ref: '#/components/schemas/NginxFrontendIPConfiguration'
        networkInterfaceConfiguration:
          $ref: '#/components/schemas/NginxNetworkInterfaceConfiguration'
    NginxDeploymentProperties:
      type: object
      properties:
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
        nginxVersion:
          type: string
          readOnly: true
        managedResourceGroup:
          type: string
          description: The managed resource group to deploy VNet injection related network resources.
        networkProfile:
          $ref: '#/components/schemas/NginxNetworkProfile'
        ipAddress:
          type: string
          description: The IP address of the deployment.
          readOnly: true
        enableDiagnosticsSupport:
          type: boolean
        logging:
          $ref: '#/components/schemas/NginxLogging'
    IdentityProperties:
      type: object
      properties:
        principalId:
          type: string
          readOnly: true
        tenantId:
          type: string
          readOnly: true
        type:
          $ref: '#/components/schemas/IdentityType'
        userAssignedIdentities:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/UserIdentityProperties'
    NginxFrontendIPConfiguration:
      type: object
      properties:
        publicIPAddresses:
          type: array
          items:
            $ref: '#/components/schemas/NginxPublicIPAddress'
          x-ms-identifiers: []
        privateIPAddresses:
          type: array
          items:
            $ref: '#/components/schemas/NginxPrivateIPAddress'
          x-ms-identifiers: []
    NginxDeploymentListResponse:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/NginxDeployment'
        nextLink:
          type: string
    NginxStorageAccount:
      type: object
      properties:
        accountName:
          type: string
        containerName:
          type: string
  parameters:
    DeploymentNameParameter:
      in: path
      name: deploymentName
      description: The name of targeted Nginx deployment
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
