swagger: '2.0'
info:
  title: Microsoft Azure Microsoft Marketplace Discovery API Keys Management
  description: >-
    This API is designed to streamline the process of generating designated keys
    for accessing all Marketplace Catalog APIs. By utilizing a simple POST
    operation, users can effortlessly generate a unique API key, granting  access to Marketplace Catalog APIs from version 2023-01-01 and beyond.
  version: 2023-01-01-preview
host: management.azure.com
schemes:
  - https
produces:
  - application/json
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Marketplace/keys/{apiKeyAlias}/create:
    post:
      tags:
        - CreateApiKey
      summary: >-
        Microsoft Azure Generates An Api Key, Granting Access To The Full Range Of Marketplace Catalog Apis Please Note That This Api Is Currently In A Preview State And Requires Sign Up To The Discovery Api Key Early Access Preview Feature Using A Valid Azure Subscription For More Information On This Process Please See The Documentation For Marketplace Catalog Apis [here] Https: Learn Microsoft Com En Us Rest Api Marketplacecatalog Dataplane Products Get?view Rest Marketplacecatalog Dataplane 2023 05 01 Preview&tabs Http
      operationId: microsoftAzureCreateapikeyPost
      x-ms-examples:
        Create_Key:
          $ref: ./examples/CreateKey.json
      parameters:
        - type: string
          name: apiKeyAlias
          in: path
          required: true
          description: >-
            Alias for new API Key. This alias must be unique and contain only
            alphanumeric characters separated by dashes.
        - type: string
          name: x-ms-client-tenant-id
          x-originalName: tenantId
          description: The tenant associated with the subscription.
          in: header
          required: true
          x-nullable: true
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          x-nullable: false
          description: Returns the newly created API key.
          schema:
            $ref: '#/definitions/ApiKey'
        default:
          description: >-
            Microsoft.Marketplace error response describing why the operation
            failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      description: Needs a more full description created.
  /subscriptions/{subscriptionId}/providers/Microsoft.Marketplace/keys/{apiKeyAlias}/revoke:
    post:
      tags:
        - RevokeApiKey
      summary: >-
        Microsoft Azure Revokes An Active Api Key Please Note That This Api Is Currently In A Preview State And Requires Sign Up To The Discovery Api Key Early Access Preview Feature Using A Valid Azure Subscription For More Information On This Process Please See The Documentation For Marketplace Catalog Apis [here] Https: Learn Microsoft Com En Us Rest Api Marketplacecatalog Dataplane Products Get?view Rest Marketplacecatalog Dataplane 2023 05 01 Preview&tabs Http
      operationId: microsoftAzureRevokeapikeyPost
      x-ms-examples:
        Revoke_Key:
          $ref: ./examples/RevokeKey.json
      parameters:
        - type: string
          name: apiKeyAlias
          description: The alias of your API key.
          in: path
          required: true
        - type: string
          name: x-ms-client-tenant-id
          x-originalName: tenantId
          description: The tenant associated with the subscription.
          in: header
          required: true
          x-nullable: true
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Indicates that the API key was successfully revoked.
        default:
          description: >-
            Microsoft.Marketplace error response describing why the operation
            failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      description: Needs a more full description created.
  /subscriptions/{subscriptionId}/providers/Microsoft.Marketplace/keys:
    get:
      tags:
        - GetApiKeys
      summary: >-
        Microsoft Azure Retrieves A List Of Api Keys Associated With A Selected Subscription Please Note That This Api Is Currently In A Preview State And Requires Sign Up To The Discovery Api Key Early Access Preview Feature Using A Valid Azure Subscription For More Information On This Process Please See The Documentation For Marketplace Catalog Apis [here] Https: Learn Microsoft Com En Us Rest Api Marketplacecatalog Dataplane Products Get?view Rest Marketplacecatalog Dataplane 2023 05 01 Preview&tabs Http
      operationId: microsoftAzureGetapikeysList
      x-ms-examples:
        Get_Key:
          $ref: ./examples/GetKeys.json
      parameters:
        - type: string
          name: x-ms-client-tenant-id
          x-originalName: tenantId
          description: The tenant associated with the subscription.
          in: header
          required: true
          x-nullable: true
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          x-nullable: false
          description: List of active keys that belong to the subscription.
          schema:
            $ref: '#/definitions/ApiKeys'
        default:
          description: >-
            Microsoft.Marketplace error response describing why the operation
            failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      description: Needs a more full description created.
  /providers/Microsoft.Marketplace/operations:
    get:
      tags:
        - Operations
      description: Lists all of the available Microsoft.Marketplace REST API operations.
      operationId: microsoftAzureOperationsList
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK. The request has succeeded.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult
        default:
          description: >-
            Microsoft.Marketplace error response describing why the operation
            failed.
          schema:
            $ref: >-
              ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Operations_Get:
          $ref: ./examples/Operations_Get.json
      summary: Microsoft Azure Get Providers Microsoft Marketplace Operations
definitions:
  ApiKeys:
    type: object
    description: List of ApiKey objects.
    properties:
      value:
        type: array
        items:
          $ref: '#/definitions/ApiKey'
      nextLink:
        description: Next page of results.
        type: string
  ApiKey:
    type: object
    description: ApiKey object containing both the key and its alias.
    properties:
      keyAlias:
        description: The API key alias.
        type: string
      key:
        description: The API key to be used when calling relevant Discovery endpoints.
        type: string
securityDefinitions:
  azure_auth:
    type: oauth2
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    flow: implicit
    description: Azure Active Directory OAuth2 Flow
    scopes:
      user_impersonation: impersonate your user account
