openapi: 3.2.0
info:
  title: Microsoft Azure Resource Mover Service Operations Discovery…
  description: A first party Azure service orchestrating the move of Azure resources from one Azure region to another or between zones within a region.
  version: 2019-10-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: OperationsDiscovery
paths:
  /providers/Microsoft.Migrate/operations:
    get:
      tags:
      - OperationsDiscovery
      operationId: microsoftAzureOperationsdiscoveryGet
      parameters:
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationsDiscoveryCollection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        OperationsDiscovery_Get:
          $ref: ./examples/OperationsDiscovery_Get.json
      summary: Microsoft Azure Get Providers Microsoft Migrate Operations
      description: Needs a more full description created.
components:
  schemas:
    CloudError:
      x-ms-external: true
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: Cloud error body.
      description: An error response from the service.
    OperationsDiscoveryCollection:
      description: Collection of ClientDiscovery details.
      type: object
      properties:
        value:
          description: Gets or sets the ClientDiscovery details.
          type: array
          items:
            $ref: '#/components/schemas/OperationsDiscovery'
        nextLink:
          description: Gets or sets the value of next link.
          type: string
    Display:
      description: 'Contains the localized display information for this particular operation / action. These

        value will be used by several clients for

        (1) custom role definitions for RBAC;

        (2) complex query filters for the event service; and

        (3) audit history / records for management operations.'
      type: object
      properties:
        provider:
          description: 'Gets or sets the provider.

            The localized friendly form of the resource provider name – it is expected to also

            include the publisher/company responsible.

            It should use Title Casing and begin with "Microsoft" for 1st party services.

            e.g. "Microsoft Monitoring Insights" or "Microsoft Compute.".'
          type: string
        resource:
          description: 'Gets or sets the resource.

            The localized friendly form of the resource related to this action/operation – it

            should match the public documentation for the resource provider.

            It should use Title Casing.

            This value should be unique for a particular URL type (e.g. nested types should *not*

            reuse their parent’s display.resource field)

            e.g. "Virtual Machines" or "Scheduler Job Collections", or "Virtual Machine VM Sizes"

            or "Scheduler Jobs".'
          type: string
        operation:
          description: 'Gets or sets the operation.

            The localized friendly name for the operation, as it should be shown to the user.

            It should be concise (to fit in drop downs) but clear (i.e. self-documenting).

            It should use Title Casing.

            Prescriptive guidance: Read Create or Update Delete ''ActionName''.'
          type: string
        description:
          description: "Gets or sets the description.\nThe localized friendly description for the operation, as it should be shown to the\nuser.\nIt should be thorough, yet concise – it will be used in tool tips and detailed views.\nPrescriptive guidance for namespace:\nRead any 'display.provider'  resource\nCreate or Update any  'display.provider'  resource\nDelete any  'display.provider'  resource\nPerform any other action on any  'display.provider'  resource\nPrescriptive guidance for namespace:\nRead any 'display.resource' Create or Update any  'display.resource' Delete any\n 'display.resource' 'ActionName' any 'display.resources'."
          type: string
    CloudErrorBody:
      x-ms-external: true
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of the property in error.
        details:
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          description: A list of additional details about the error.
      description: An error response from the service.
    OperationsDiscovery:
      description: Operations discovery class.
      type: object
      properties:
        name:
          description: 'Gets or sets Name of the API.

            The name of the operation being performed on this particular object. It should

            match the action name that appears in RBAC / the event service.

            Examples of operations include:

            * Microsoft.Compute/virtualMachine/capture/action

            * Microsoft.Compute/virtualMachine/restart/action

            * Microsoft.Compute/virtualMachine/write

            * Microsoft.Compute/virtualMachine/read

            * Microsoft.Compute/virtualMachine/delete

            Each action should include, in order:

            (1) Resource Provider Namespace

            (2) Type hierarchy for which the action applies (e.g. server/databases for a SQL

            Azure database)

            (3) Read, Write, Action or Delete indicating which type applies. If it is a PUT/PATCH

            on a collection or named value, Write should be used.

            If it is a GET, Read should be used. If it is a DELETE, Delete should be used. If it

            is a POST, Action should be used.

            As a note: all resource providers would need to include the "{Resource Provider

            Namespace}/register/action" operation in their response.

            This API is used to register for their service, and should include details about the

            operation (e.g. a localized name for the resource provider + any special

            considerations like PII release).'
          type: string
        isDataAction:
          description: Indicates whether the operation is a data action
          type: boolean
        display:
          $ref: '#/components/schemas/Display'
        origin:
          description: 'Gets or sets Origin.

            The intended executor of the operation; governs the display of the operation in the

            RBAC UX and the audit logs UX.

            Default value is "user,system".'
          type: string
        properties:
          $ref: '#/components/schemas/OperationsDiscoveryProperties'
    OperationsDiscoveryProperties:
      description: ClientDiscovery properties.
      type: object
  parameters:
    api-version:
      in: query
      name: api-version
      description: Client Api Version.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
