openapi: 3.2.0
info:
  title: Microsoft Azure EventHubManagementClient Event Hubs…
  description: Azure Event Hubs client for managing Event Hubs Cluster, IPFilter Rules and VirtualNetworkRules resources.
  version: 2024-05-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Event Hubs Clusters Configuration
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/clusters/{clusterName}/quotaConfiguration/default
  : patch:
      tags:
      - Event Hubs Clusters Configuration
      operationId: microsoftAzureConfigurationPatch
      parameters:
      - $ref: ../../../common/v1/definitions.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../common/v1/definitions.json#/parameters/ClusterNameParameter
      - $ref: ../../../common/v1/definitions.json#/parameters/ApiVersionParameter
      x-ms-examples:
        ClustersQuotasConfigurationPatch:
          $ref: ./examples/Clusters/ClusterQuotaConfigurationPatch.json
      description: Replace all specified Event Hubs Cluster settings with those contained in the request body. Leaves the settings not specified in the request body unmodified.
      responses:
        '200':
          description: Event Hubs Cluster settings configuration returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterQuotaConfigurationProperties'
        '201':
          description: Event Hubs Cluster setting configuration request successfully accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterQuotaConfigurationProperties'
        '202':
          description: Event Hubs Cluster update request accepted.
        default:
          description: Event Hubs Cluster error response describing why the get cluster quotas and settings operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../common/v2/definitions.json#/definitions/ErrorResponse
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterQuotaConfigurationProperties'
              required:
              - settings
        description: Parameters for creating an Event Hubs Cluster resource.
        required: true
    get:
      tags:
      - Event Hubs Clusters Configuration
      operationId: microsoftAzureConfigurationGet
      parameters:
      - $ref: ../../../common/v1/definitions.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../common/v1/definitions.json#/parameters/ClusterNameParameter
      - $ref: ../../../common/v1/definitions.json#/parameters/ApiVersionParameter
      x-ms-examples:
        ClustersQuotasConfigurationGet:
          $ref: ./examples/Clusters/ClusterQuotaConfigurationGet.json
      description: Get all Event Hubs Cluster settings - a collection of key/value pairs which represent the quotas and settings imposed on the cluster.
      responses:
        '200':
          description: Event Hubs Cluster settings configuration returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterQuotaConfigurationProperties'
        default:
          description: Event Hubs Cluster error response describing why the get cluster quotas and settings operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../common/v2/definitions.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    ClusterQuotaConfigurationProperties:
      type: object
      properties:
        settings:
          type: object
          additionalProperties:
            type: string
          description: All possible Cluster settings - a collection of key/value paired settings which apply to quotas and configurations imposed on the cluster.
      description: Contains all settings for the cluster.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
