openapi: 3.2.0
info:
  title: Microsoft Azure Guest Diagnostic Settings Association Guest…
  description: API to Add/Remove/List Guest Diagnostics Settings Association for Azure Resources
  x-ms-code-generation-settings:
    name: MonitorManagementClient
  version: 2018-06-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: GuestDiagnosticsSettingsAssociation
paths:
  /{resourceUri}/providers/microsoft.insights/guestDiagnosticSettingsAssociation/{associationName}:
    put:
      description: Creates or updates guest diagnostics settings association.
      tags:
      - GuestDiagnosticsSettingsAssociation
      operationId: microsoftAzureGuestdiagnosticssettingsassociationCreateorupdate
      x-ms-examples:
        Create or update an guest diagnostic settings association:
          $ref: ./examples/createOrUpdateGuestDiagnosticSettingsAssociation.json
      parameters:
      - name: resourceUri
        in: path
        required: true
        description: The fully qualified ID of the resource, including the resource name and resource type.
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: '#/components/parameters/DiagnosticSettingsAssociationNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: An existing guest diagnostic settings association was successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestDiagnosticSettingsAssociationResource'
        '201':
          description: A new guest diagnostic settings association was successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestDiagnosticSettingsAssociationResource'
        default:
          description: An error occurred and the guest diagnostic settings association could not be created or updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Put Resourceuri Providers Microsoft Insights…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuestDiagnosticSettingsAssociationResource'
        description: The diagnostic settings association to create or update.
        required: true
    get:
      description: Gets guest diagnostics association settings.
      tags:
      - GuestDiagnosticsSettingsAssociation
      operationId: microsoftAzureGuestdiagnosticssettingsassociationGet
      x-ms-examples:
        Create or update an guest diagnostic settings association:
          $ref: ./examples/getGuestDiagnosticSettingsAssociation.json
      parameters:
      - name: resourceUri
        in: path
        required: true
        description: The fully qualified ID of the resource, including the resource name and resource type.
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: '#/components/parameters/DiagnosticSettingsAssociationNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestDiagnosticSettingsAssociationResource'
        default:
          description: An error occurred and the diagnostic settings association could not be retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Resourceuri Providers Microsoft Insights…
    delete:
      description: Delete guest diagnostics association settings.
      tags:
      - GuestDiagnosticsSettingsAssociation
      x-ms-examples:
        Create or update an guest diagnostic settings association:
          $ref: ./examples/deleteGuestDiagnosticSettingsAssociation.json
      operationId: microsoftAzureGuestdiagnosticssettingsassociationDelete
      parameters:
      - name: resourceUri
        in: path
        required: true
        description: The fully qualified ID of the resource, including the resource name and resource type.
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: '#/components/parameters/DiagnosticSettingsAssociationNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The diagnostic settings association was successfully deleted.
        '204':
          description: The diagnostic settings association does not exist. It may have already been deleted.
        default:
          description: An error occurred and the diagnostic settings association could not be deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Delete Resourceuri Providers Microsoft Insights…
components:
  parameters:
    DiagnosticSettingsAssociationNameParameter:
      name: associationName
      in: path
      required: true
      description: The name of the diagnostic settings association.
      x-ms-parameter-location: method
      schema:
        type: string
  schemas:
    GuestDiagnosticSettingsAssociationResource:
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      required:
      - properties
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/GuestDiagnosticSettingsAssociation'
          description: The diagnostics settings associations of the resource.
      description: Virtual machine guest diagnostic settings resource.
    Resource:
      properties:
        id:
          type: string
          readOnly: true
          description: Azure resource Id
        name:
          type: string
          readOnly: true
          description: Azure resource name
        type:
          type: string
          readOnly: true
          description: Azure resource type
        location:
          type: string
          description: Resource location
          x-ms-mutability:
          - create
          - read
        tags:
          additionalProperties:
            type: string
          description: Resource tags
      required:
      - location
      x-ms-azure-resource: true
      description: An azure resource object
    ErrorResponse:
      description: Describes the format of Error response.
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
    GuestDiagnosticSettingsAssociation:
      description: A guest diagnostic settings association.
      properties:
        guestDiagnosticSettingsName:
          type: string
          description: The guest diagnostic settings name.
      required:
      - guestDiagnosticSettingsName
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
