openapi: 3.2.0
info:
  title: Microsoft Azure Operations API
  x-refined-note:
  - x-cadl-generated differs across the merged source definitions and was not carried
  - x-ms-code-generation-settings differs across the merged source definitions and was not carried
  - x-typespec-generated differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Operations across 173 of this provider''s published API definitions: adhybridhealthservice-openapi-original.yml, adp-openapi-original.yml, advisormanagementclient-openapi-original.yml, appconfigurationmanagementclient-openapi-original.yml, applicationclient-openapi-original.yml, astronomerastro-openapi-original.yml, attestationmanagementclient-openapi-original.yml, automanage-openapi-original.yml, azure-addons-resource-provider-openapi-original.yml…'
servers:
- url: https://management.azure.com
- url: https://management.azure.com/
tags:
- name: Operations
paths:
  /providers/Microsoft.ADHybridHealthService/operations:
    get:
      tags:
      - Operations
      x-ms-examples:
        operations_list:
          $ref: ./examples/OperationList.json
      operationId: microsoftAzureOperationsList
      description: Lists the available Azure Data Factory API operations.
      parameters:
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The list of operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Adhybridhealthservice Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.AutonomousDevelopmentPlatform/operations:
    get:
      tags:
      - Operations
      description: Lists all of the available Autonomous Development Platform provider operations
      operationId: microsoftAzureOperationsList
      x-ms-examples:
        List operations:
          $ref: ./examples/AdpOperationsList.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Autonomousdevelopmentplatform Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.Advisor/operations:
    get:
      tags:
      - Operations
      description: Lists all the available Advisor REST API operations.
      operationId: microsoftAzureOperationsList
      parameters:
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK. Successfully retrieved operation list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationEntityListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArmErrorResponse'
      deprecated: false
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        OperationsList:
          $ref: ./examples/OperationsList.json
      summary: Microsoft Azure Get Providers Microsoft Advisor Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.AppConfiguration/checkNameAvailability:
    post:
      tags:
      - Operations
      description: Checks whether the configuration store name is available for use.
      operationId: microsoftAzureOperationsChecknameavailability
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameAvailabilityStatus'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
      x-ms-examples:
        ConfigurationStores_CheckNameAvailable:
          $ref: ./examples/CheckNameAvailable.json
        ConfigurationStores_CheckNameNotAvailable:
          $ref: ./examples/CheckNameNotAvailable.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityParameters'
        description: The object containing information for the availability request.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.AppConfiguration/operations:
    get:
      tags:
      - Operations
      description: Lists the operations available from this provider.
      operationId: microsoftAzureOperationsList
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: $skipToken
        in: query
        description: A skip token is used to continue retrieving items after an operation returns a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationDefinitionListResult'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
      x-ms-examples: {}
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Appconfiguration Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.AppConfiguration/locations/{location}/checkNameAvailability:
    post:
      tags:
      - Operations
      description: Checks whether the configuration store name is available for use.
      operationId: microsoftAzureOperationsRegionalchecknameavailability
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/LocationParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameAvailabilityStatus'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
      x-ms-examples:
        ConfigurationStores_CheckNameAvailable:
          $ref: ./examples/RegionalCheckNameAvailable.json
        ConfigurationStores_CheckNameNotAvailable:
          $ref: ./examples/RegionalCheckNameNotAvailable.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityParameters'
        description: The object containing information for the availability request.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.Solutions/operations:
    get:
      tags:
      - Operations
      operationId: microsoftAzureListoperations
      description: Lists all of the available Microsoft.Solutions REST API operations.
      x-ms-examples:
        List Solutions operations:
          $ref: ./examples/listSolutionsOperations.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Solutions Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Astronomer.Astro/operations:
    get:
      operationId: microsoftAzureOperationsList
      tags:
      - Operations
      description: List the operations for the provider
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Operations_List - generated by [MaximumSet] rule:
          $ref: ./examples/Operations_List_MaximumSet_Gen.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Astronomer Astro Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.Attestation/operations:
    get:
      tags:
      - Operations
      operationId: microsoftAzureOperationsList
      description: Lists all of the available Azure attestation operations.
      x-ms-examples:
        Operations_List:
          $ref: ./examples/Operations_List.json
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter_2'
      responses:
        '200':
          description: List all the operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Providers Microsoft Attestation Operations
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.Automanage/operations:
    get:
      tags:
      - Operations
      description: Lists all of the available Automanage REST API operations.
      x-ms-examples:
        Lists all of the available Automanage REST API operations:
          $ref: ./examples/listOperations.json
      operationId: microsoftAzureOperationsList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success. The response describes the list of operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Providers Microsoft Automanage Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.Addons/operations:
    get:
      tags:
      - Operations
      operationId: microsoftAzureOperationsList
      description: Lists all of the available Addons RP operations.
      x-ms-examples:
        Operations_List:
          $ref: ./examples/Operations_List.json
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter_3'
      responses:
        '200':
          description: List all the operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListValue'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDefinition_2'
      summary: Microsoft Azure Get Providers Microsoft Addons Operations
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.AgFoodPlatform/operations:
    get:
      tags:
      - Operations
      description: Lists the available operations of Microsoft.AgFoodPlatform resource provider.
      operationId: microsoftAzureOperationsList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/OperationListResult
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Operations_List:
          $ref: ./examples/Operations_List.json
      summary: Microsoft Azure Get Providers Microsoft Agfoodplatform Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.ApiCenter/operations:
    get:
      tags:
      - Operations
      operationId: microsoftAzureOperationsList
      description: List the operations for the provider
      x-ms-examples:
        Operations_List:
          $ref: ./examples/Operations_List.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Operation completed successfully.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Apicenter Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Scom/operations:
    get:
      tags:
      - Operations
      description: Lists all available operations on SCOM monitoring instance
      operationId: microsoftAzureOperationsList
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Operations_List:
          $ref: ./examples/Operations_List.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.Scom/operations:
    get:
      tags:
      - Operations
      description: Lists all available operations on SCOM managed instance (SCOM MI)
      operationId: microsoftAzureOperationsListv2
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult
        default:
          description: An error response providing a description of the reason for the operation's failure.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Operations_List:
          $ref: ./examples/Operations_List.json
      summary: Microsoft Azure Get Providers Microsoft Scom Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /operations:
    get:
      tags:
      - Operations
      summary: Microsoft Azure Gets The State Of A Long Running Operation
      operationId: microsoftAzureGetoperationdetails
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - name: snapshot
        in: query
        description: Snapshot identifier for the long running operation.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationDetails'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-examples:
        GetOperationStatus:
          $ref: ./examples/GetOperationStatus.json
      description: Needs a more full description created.
  /providers/Microsoft.ConnectedVMwarevSphere/operations:
    get:
      description: Returns list of all operations.
      operationId: microsoftAzureOperationsList
      x-ms-examples:
        ListOperations:
          $ref: ./examples/ListOperations.json
      tags:
      - Operations
      parameters:
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Operation details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/operationsList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      deprecated: false
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Connectedvmwarevsphere Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.BotService/operations:
    get:
      tags:
      - Operations
      description: Lists all the available BotService operations.
      operationId: microsoftAzureOperationsList
      x-ms-examples:
        Get Operations:
          $ref: ./examples/GetOperations.json
      parameters:
      - $ref: '#/components/parameters/apiVersionParameter_2'
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationEntityListResult_2'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_2'
      deprecated: false
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Botservice Operations
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.ContainerStorage/operations:
    get:
      operationId: microsoftAzureOperationsList
      tags:
      - Operations
      description: List the operations for the provider
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Operations_List:
          $ref: ./examples/Operations_List.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Containerstorage Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.DBforPostgreSQL/operations:
    get:
      description: Lists all of the available REST API operations.
      tags:
      - Operations
      operationId: microsoftAzureOperationsList
      x-ms-examples:
        List all available operations:
          $ref: ./examples/OperationList.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Providers Microsoft Dbforpostgresql Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.DevOps/operations:
    get:
      deprecated: true
      operationId: microsoftAzureOperationsList
      description: Lists all the operations supported by Microsoft.DevOps resource provider.
      tags:
      - Operations
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter_4'
      responses:
        '200':
          description: The list of supported operations has been fetched successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult_3'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError_2'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Get a list of operations supported by Microsoft.DevOps resource provider:
          $ref: ./examples/ListOperations.json
      summary: Microsoft Azure Get Providers Microsoft Devops Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.EnterpriseKnowledgeGraph/operations:
    get:
      tags:
      - Operations
      description: Lists all the available EnterpriseKnowledgeGraph services operations.
      operationId: microsoftAzureOperationsList
      x-ms-examples:
        Get Operations:
          $ref: ./examples/GetOperations.json
      parameters:
      - $ref: '#/components/parameters/apiVersionParameter_3'
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationEntityListResult_3'
      deprecated: false
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Enterpriseknowledgegraph Operations
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.HealthBot/operations:
    get:
      tags:
      - Operations
      description: Lists all the available Azure Health Bot operations.
      operationId: microsoftAzureOperationsList
      x-ms-examples:
        Get Operations:
          $ref: ./examples/GetOperations.json
      parameters:
      - $ref: '#/components/parameters/apiVersionParameter_4'
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableOperations'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_3'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Healthbot Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.AzureLargeInstance/operations:
    get:
      operationId: microsoftAzureOperationsList
      tags:
      - Operations
      description: List the operations for the provider
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Operations_List:
          $ref: ./examples/AzureLargeInstanceOperations_List.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Get Providers Microsoft Azurelargeinstance Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.OperationsManagement/operations:
    get:
      tags:
      - Operations
      description: Lists all of the available OperationsManagement Rest API operations.
      operationId: microsoftAzureOperationsList
      x-ms-examples:
        OperationsList:
          $ref: ./examples/OperationsList.json
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter_5'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult_4'
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Providers Microsoft Operationsmanagement Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.OperationalInsights/operations:
    get:
      tags:
      - Operations
      description: Lists all of the available insights REST API operations.
      operationId: microsoftAzureOperationsList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult_5'
        default:
          description: Insights error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Operationalinsights Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /modelmanagement/v1.0/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.MachineLearningServices/workspaces/{workspace}/operations/{id}
  : get:
      tags:
      - Operations
      summary: Microsoft Azure Get The Status Of An Async Operation
      description: Get the status of an async operation by operation id.
      operationId: microsoftAzureOperationsGet
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupParameter'
      - $ref: '#/components/parameters/workspaceParameter'
      - name: id
        in: path
        description: The operation id.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationStatus'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelErrorResponse'
      security:
      - azure_auth:
        - user_impersonation
  /providers/Microsoft.Maps/operations:
    get:
      tags:
      - Operations
      description: List operations available for the Maps Resource Provider
      operationId: microsoftAzureMapsListoperations
      x-ms-examples:
        Get Operations:
          $ref: ./examples/GetOperations.json
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The request was successful.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Providers Microsoft Maps Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.Migrate/operations:
    get:
      operationId: microsoftAzureOperationsList
      tags:
      - Operations
      description: List the operations for the provider
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Operations_List_MaximumSet_Gen:
          $ref: ./examples/Operations_List_MaximumSet_Gen.json
      summary: Microsoft Azure Get Providers Microsoft Migrate Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.OffAzure/operations:
    get:
      operationId: microsoftAzureOperationsList
      tags:
      - Operations
      description: List the operations for the provider
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Operations_List_MaximumSet_Gen:
          $ref: ./examples/Operations_List_MaximumSet_Gen.json
      summary: Microsoft Azure Get Providers Microsoft Offazure Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.Insights/operations:
    get:
      tags:
      - Operations
      description: Lists all of the available operations from Microsoft.Insights provider.
      operationId: microsoftAzureOperationsList
      x-ms-examples:
        Get a list of operations for a resource provider:
          $ref: ./examples/OperationList.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult_6'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: ./commonMonitoringTypes.json#/definitions/ErrorContract
      summary: Microsoft Azure Get Providers Microsoft Insights Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.Monitor/operations:
    get:
      tags:
      - Operations
      description: Lists available Operations for this Resource Provider
      operationId: microsoftAzureMonitoroperationsList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Get operations list:
          $ref: ./examples/OperationsGet.json
      summary: Microsoft Azure Get Providers Microsoft Monitor Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.Orbital/operations:
    get:
      tags:
      - Operations
      description: Lists all of the available Orbital Rest API operations.
      operationId: microsoftAzureOperationsList
      x-ms-examples:
        OperationsList:
          $ref: ./examples/OperationsList.json
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult
        default:
          description: Error response describing why the operation failed. If the resource group does not exist, 404 (NotFound) will be returned.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Providers Microsoft Orbital Operations
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.Quota/operations:
    get:
      summary: Microsoft Azure Get Quota Operations
      description: List all the operations supported by the Microsoft.Quota resource provider.
      operationId: microsoftAzureQuotaoperationList
      x-ms-examples:
        GetOperations:
          $ref: ./examples/GetOperations.json
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter_6'
      tags:
      - Operations
      responses:
        '200':
          description: List all the operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList_3'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.RedHatOpenShift/operations:
    get:
      tags:
      - Operations
      summary: Microsoft Azure Lists All Of The Available Rp Operations
      description: The operation returns the RP operations.
      operationId: microsoftAzureOperationsList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList_4'
        default:
          description: Error response describing why the operation failed.  If the resource doesn't exist, 404 (Not Found) is returned.  If any of the input parameters is wrong, 400 (Bad Request) is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError_3'
      x-ms-examples:
        Lists all of the available RP operations.:
          $ref: ./examples/Operations_List.json
      x-ms-pageable:
        nextLinkName: nextLink
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.ResourceGraph/operations:
    get:
      tags:
      - Operations
      description: Lists all of the available REST API operations.
      operationId: microsoftAzureOperationsList
      x-ms-examples:
        OperationsList:
          $ref: ./examples/OperationsList.json
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter_7'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult_7'
        default:
          description: An error occurred while processing the request. See the error.code parameter to identify the specific error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_4'
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Providers Microsoft Resourcegraph Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.NetworkFunction/operations:
    get:
      tags:
      - Operations
      description: Lists all of the available NetworkFunction Rest API operations.
      operationId: microsoftAzureNetworkfunctionListoperations
      x-ms-examples:
        OperationsList:
          $ref: ./examples/OperationsList.json
      parameters:
      - $ref: '#/components/parameters/apiVersionParameter_5'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult_8'
        default:
          description: Error response describing why the operation failed. If the resource group does not exist, 404 (NotFound) will be returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError_4'
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Providers Microsoft Networkfunction Operations
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.AVS/operations:
    get:
      tags:
      - Operations
      description: Lists all of the available operations
      operationId: microsoftAzureOperationsList
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList_5'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError_5'
      x-ms-examples:
        Operations_List:
          $ref: ./examples/Operations_List.json
      summary: Microsoft Azure Get Providers Microsoft Avs Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.AnalysisServices/operations:
    get:
      tags:
      - Operations
      operationId: microsoftAzureOperationsList
      description: Lists all of the available consumption REST API operations.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult_9'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_5'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Analysisservices Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.ChangeAnalysis/operations:
    get:
      tags:
      - Operations
      summary: Microsoft Azure Lists All The Supported Operations By The Microsoft…
      operationId: microsoftAzureOperationsList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/SkipTokenParameter'
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderOperationList'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Operations_List:
          $ref: ./examples/OperationsList.json
      description: Needs a more full description created.
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.Databricks/operations:
    get:
      tags:
      - Operations
      description: Lists all of the available RP operations.
      x-ms-examples:
        Operations:
          $ref: ./examples/OperationsList.json
      operationId: microsoftAzureOperationsList
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter_8'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult_10'
        default:
          description: Resource Provider error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_6'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Databricks Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.AzureData/operations:
    get:
      tags:
      - Operations
      description: Lists all of the available SQL Server Registration API operations.
      operationId: microsoftAzureOperationsList
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter_9'
      responses:
        '200':
          description: Successfully retrieved operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult_11'
        default:
          description: "*** Error Responses: ***\n\n * 400 InvalidParameterValue - An invalid value was given to parameter.\n\n * 400 InvalidCrossSubscriptionVmMove - Invalid cross subscription move of resource.\n\n * 400 RPGenericUser - User Failure when calling other Resource Provider.\n\n * 400 InvalidArgument - Invalid argument '{0}'.\n\n * 400 ArgumentNotInRange - Argument '{0}' not in range.\n\n * 400 ResourceNotProvisioned - As the resource: {0} is not in a provisioned state, the request cannot be proceeded forward\n\n * 400 InvalidRgResourceId - Invalid Resourcegroup resource id specified.\n\n * 403 AccessDenied - Access denied.\n\n * 404 ResourceNotFound - The requested resource was not found.\n\n * 404 SubscriptionDoesNotExist - Subscription id does not exist.\n\n * 404 ResourceDoesNotExist - Resource does not exist.\n\n * 404 OperationIdNotFound - Operation id could not be found.\n\n * 404 OperationTypeNotFound - Operation Type not found.\n\n * 409 ResourceAlreadyExists - Resource already exists.\n\n * 409 SqlExtensionNotInstalled - SQL extension not installed.\n\n * 409 MissingMoveResources - Cannot move resources(s) because some resources are missing in the request.\n\n * 409 OperationInProgress - Operation in progress on resource already.\n\n * 409 OperationCanceled - Operation Cancelled.\n\n * 500 RPGenericSystem - System Failure when calling other Resource Provider.\n\n * 500 UnExpectedErrorOccurred - Unexpected error occurred.\n\n * 500 OperationTimeout - Operation timed out."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError_6'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Lists all of the available SQL Server Registration API operations.:
          $ref: ./examples/ListOperation.json
      summary: Get Providers Microsoft Azuredata Operations
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.AzureDataTransfer/operations:
    get:
      tags:
      - Operations
      operationId: microsoftAzureOperationsList
      x-ms-examples:
        List operations:
          $ref: ./examples/listOperations.json
      description: Lists all of the available Microsoft.AzureDataTransfer REST API operations.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Listed all of the available operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Get Providers Microsoft Azuredatatransfer Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.DigitalTwins/operations:
    get:
      tags:
      - Operations
      description: Lists all of the available DigitalTwins service REST API operations.
      operationId: microsoftAzureOperationsList
      x-ms-examples:
        Get available operations:
          $ref: ./examples/DigitalTwinsOperationsList_example.json
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - $ref: '#/components/parameters/api-version_2'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult_12'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_7'
      summary: Microsoft Azure Get Providers Microsoft Digitaltwins Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.AzureSphere/operations:
    get:
      operationId: microsoftAzureOperationsList
      tags:
      - Operations
      description: List the operations for the provider
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Operations_List:
          $ref: ./examples/GetOperations.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Get Providers Microsoft Azuresphere Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.AzureActiveDirectory/operations:
    get:
      tags:
      - Operations
      operationId: microsoftAzureOperationsList
      x-ms-examples:
        operations_list:
          $ref: ./examples/OperationsList.json
      description: Lists the operations available from this provider.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter_10'
      responses:
        '200':
          description: Describe the result of a successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult_13'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError_7'
      x-ms-pageable:
        nextLinkName: null
      summary: Get Providers Microsoft Azureactivedirectory Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.AzureActiveDirectory/operations/{operationId}:
    get:
      tags:
      - Operations
      operationId: microsoftAzureOperationsGetasyncstatus
      description: Gets the status of the async operation.
      x-ms-examples:
        Get Async Status:
          $ref: ./examples/getAsyncOperationStatus.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      - $ref: '#/components/parameters/ApiVersionParameter_10'
      - name: operationId
        in: path
        description: The operation ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The async operation status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncOperationStatus_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError_7'
      summary: Get Subscriptions Subscriptionid Providers Microsoft Azureactivedirectory…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /operations/{id}:
    get:
      tags:
      - Operations
      description: Gets operation info.
      operationId: microsoftAzureOperationsGet
      parameters:
      - in: path
        name: id
        required: true
        description: The id of the operation
        schema:
          type: string
          maxLength: 64
          minLength: 3
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9._-]{1,62}[a-zA-Z0-9]$
      - $ref: '#/components/parameters/QueryApiVersion'
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation_17'
        default:
          description: Error encountered.
          headers:
            x-ms-error-code:
              description: Error code
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_8'
      x-ms-examples:
        Get Operation:
          $ref: ./examples/get_operation.json
      summary: Microsoft Azure Get Operations Id
      security:
      - subscription_key: []
        AADToken: []
  /providers/Microsoft.Batch/operations:
    get:
      tags:
      - Operations
      operationId: microsoftAzureOperationsList
      x-ms-examples:
        OperationsList:
          $ref: ./examples/OperationsList.json
      description: Lists available operations for the Microsoft.Batch provider
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter_11'
      responses:
        '200':
          description: The operation was successful. The response contains the list of available operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult_14'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError_8'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Batch Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.Billing/operations:
    get:
      tags:
      - Operations
      operationId: microsoftAzureOperationsList
      description: Lists all of the available billing REST API operations.
      parameters:
      - $ref: '#/components/parameters/apiVersionParameter_6'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult_15'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_9'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Billing Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.Carbon/operations:
    get:
      operationId: microsoftAzureOperationsList
      tags:
      - Operations
      description: List the operations for the provider
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Operations_List:
          $ref: ./examples/listOperations.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Carbon Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.Cdn/operations:
    get:
      tags:
      - Operations
      description: Lists all of the available CDN REST API operations.
      operationId: microsoftAzureOperationsList
      x-ms-examples:
        Operations_List:
          $ref: ./examples/Operations_List.json
      parameters:
      - $ref: '#/components/parameters/apiVersionParameter_7'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationsListResult'
        default:
          description: CDN error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_10'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Cdn Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.CodeSigning/operations:
    get:
      operationId: microsoftAzureOperationsList
      tags:
      - Operations
      description: List the operations for the provider
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        List trusted signing account operations.:
          $ref: ./examples/Operations_List.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Codesigning Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /imageanalysis:segment:
    post:
      tags:
      - Operations
      summary: Microsoft Azure Analyze The Input Image The Request Either Contains An Image…
      operationId: microsoftAzureImageanalysisSegment
      parameters:
      - in: query
        name: mode
        description: The analysis mode requested.
        x-ms-enum:
          name: SegmentationMode
          modelAsString: true
        schema:
          type: string
          enum:
          - backgroundRemoval
          - foregroundMatting
      - $ref: '#/components/parameters/ApiVersion_2'
      responses:
        '200':
          description: Success
          content:
            image/png:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: string
                format: binary
        default:
          description: Error
          headers:
            x-ms-error-code:
              schema:
                type: string
          content:
            image/png:
              schema:
                $ref: '#/components/schemas/ErrorResponse_11'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_11'
      x-ms-examples:
        Segment_BackgroundRemoval_FromImageUrl:
          $ref: ./examples/Segment_BackgroundRemoval_FromImageUrl.json
        Segment_ForegroundMatting_FromImageUrl:
          $ref: ./examples/Segment_ForegroundMatting_FromImageUrl.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageUrl'
        description: A JSON document with a URL pointing to the image that is to be analyzed.
        required: true
  /imagecomposition:stitch:
    post:
      tags:
      - Operations
      summary: Microsoft Azure Run The Image Stitching Operation Against A Sequence Of Images
      operationId: microsoftAzureImagecompositionStitch
      parameters:
      - $ref: '#/components/parameters/ApiVersion_2'
      responses:
        '200':
          description: Success
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: string
                format: binary
        default:
          description: Error
          headers:
            x-ms-error-code:
              schema:
                type: string
          content:
            image/jpeg:
              schema:
                $ref: '#/components/schemas/ErrorResponse_11'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_11'
      x-ms-examples:
        ImageComposition_Stitch:
          $ref: ./examples/ImageComposition_Stitch.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ImageStitchingRequestApiModel'
        description: Input images urls that pass into image stitching operation.
        required: true
  /imagecomposition:rectify:
    post:
      tags:
      - Operations
      summary: Microsoft Azure Run The Image Rectification Operation Against An Image With 4…
      operationId: microsoftAzureImagecompositionRectify
      parameters:
      - $ref: '#/components/parameters/ApiVersion_2'
      responses:
        '200':
          description: Success
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: string
                format: binary
        default:
          description: Error
          headers:
            x-ms-error-code:
              schema:
                type: string
          content:
            image/jpeg:
              schema:
                $ref: '#/components/schemas/ErrorResponse_11'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_11'
      x-ms-examples:
        ImageComposition_Rectify:
          $ref: ./examples/ImageComposition_Rectify.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ImageRectificationRequestApiModel'
        description: Input image url and control points that are passed into rectification operation.
        required: true
  /planogramcompliance:match:
    post:
      tags:
      - Operations
      summary: Microsoft Azure Run The Planogram Matching Operation Against A Planogram And A…
      operationId: microsoftAzurePlanogramcomplianceMatch
      parameters:
      - $ref: '#/components/parameters/ApiVersion_2'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanogramMatchingResultApiModel'
        default:
          description: Error
          headers:
            x-ms-error-code:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_11'
      x-ms-examples:
        PlanogramCompliance_Match:
          $ref: ./examples/PlanogramCompliance_Match.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PlanogramMatchingRequestApiModel'
        description: Input to pass into the planogram matching operation.
  /productrecognition/{modelName}/runs/{runName}:
    put:
      tags:
      - Operations
      summary: Microsoft Azure Run The Product Recognition Against A Model With An Image
      operationId: microsoftAzureProductrecognitionCreate
      parameters:
      - in: path
        name: modelName
        description: The name of the model to run product recognition with.
        required: true
        schema:
          type: string
          maxLength: 255
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9._-]*$
      - in: path
        name: runName
        description: The name of the product recognition run.
        required: true
        schema:
          type: string
          maxLength: 255
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9._-]*$
      - $ref: '#/components/parameters/ApiVersion_2'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductRecognitionApiModel'
        default:
          description: Error
          headers:
            x-ms-error-code:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_11'
      x-ms-examples:
        ProductRecognition_Create:
          $ref: ./examples/ProductRecognition_Create.json
      description: Needs a more full description created.
    get:
      tags:
      - Operations
      summary: Microsoft Azure Get Information About A Specific Product Recognition Run
      operationId: microsoftAzureProductrecognitionGet
      parameters:
      - in: path
        name: modelName
        description: The name of the model the product recognition run belongs to.
        required: true
        schema:
          type: string
          maxLength: 255
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9._-]*$
      - in: path
        name: runName
        description: The name of the product recognition run.
        required: true
        schema:
          type: string
          maxLength: 255
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9._-]*$
      - $ref: '#/components/parameters/ApiVersion_2'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductRecognitionApiModel'
        default:
          description: Error
          headers:
            x-ms-error-code:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_11'
      x-ms-examples:
        ProductRecognition_Get:
          $ref: ./examples/ProductRecognition_Get.json
      description: Needs a more full description created.
    delete:
      tags:
      - Operations
      summary: Microsoft Azure Delete A Product Recognition Run A Product Recognition Run Can…
      operationId: microsoftAzureProductrecognitionDelete
      parameters:
      - in: path
        name: modelName
        description: The name of the model to delete the product recognition run for.
        required: true
        schema:
          type: string
          maxLength: 255
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9._-]*$
      - in: path
        name: runName
        description: The name of the product recognition run.
        required: true
        schema:
          type: string
          maxLength: 255
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9._-]*$
      - $ref: '#/components/parameters/ApiVersion_2'
      responses:
        '204':
          description: No Content
        default:
          description: Error
          headers:
            x-ms-error-code:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_11'
      x-ms-examples:
        ProductRecognition_Delete:
          $ref: ./examples/ProductRecognition_Delete.json
      description: Needs a more full description created.
  /productrecognition/{modelName}/runs:
    get:
      tags:
      - Operations
      summary: Microsoft Azure List All Product Recognition Run Of A Model
      operationId: microsoftAzureProductrecognitionList
      parameters:
      - in: path
        name: modelName
        description: The name of the model the product recognition runs belongs to.
        required: true
        schema:
          type: string
          maxLength: 255
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9._-]*$
      - in: query
        name: skip
        description: Number of product recognition runs to be skipped.
        schema:
          type: integer
          format: int32
          default: 0
          maximum: 2147483647
          minimum: 0
      - in: query
        name: top
        description: Number of product recognition runs to be returned after skipping. The maximum allowed value is 30.
        schema:
          type: integer
          format: int32
          default: 10
          maximum: 30
          minimum: 1
      - $ref: '#/components/parameters/ApiVersion_2'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductRecognitionApiModelCollectionApiModel'
        default:
          description: Error
          headers:
            x-ms-error-code:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_11'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ProductRecognition_List:
          $ref: ./examples/ProductRecognition_List.json
      description: Needs a more full description created.
  /imageanalysis:analyze:
    post:
      tags:
      - Operations
      summary: Microsoft Azure Analyze The Input Image The Request Either Contains Image…
      operationId: microsoftAzureImageanalysisAnalyze
      parameters:
      - in: query
        name: features
        description: 'The visual features requested: tags, objects, caption, denseCaptions, read, smartCrops, people. This parameter needs to be specified if the parameter "model-name" is not specified.'
        style: form
        explode: false
        schema:
          type: array
          items:
            enum:
            - tags
            - caption
            - denseCaptions
            - objects
            - read
            - smartCrops
            - people
            type: string
            x-ms-enum:
              name: VisualFeature
              modelAsString: true
      - in: query
        name: model-name
        description: The name of the custom trained model. This parameter needs to be specified if the parameter "features" is not specified.
        schema:
          type: string
      - in: query
        name: language
        description: The desired language for output generation. If this parameter is not specified, the default value is "en". See https://aka.ms/cv-languages for a list of supported languages.
        schema:
          type: string
          default: en
      - in: query
        name: smartcrops-aspect-ratios
        description: A list of aspect ratios to use for smartCrops feature. Aspect ratios are calculated by dividing the target crop width by the height. Supported values are between 0.75 and 1.8 (inclusive). Multiple values should be comma-separated. If this parameter is not specified, the service will return one crop suggestion with an aspect ratio it sees fit between 0.5 and 2.0 (inclusive).
        schema:
          type: string
      - in: query
        name: gender-neutral-caption
        description: Boolean flag for enabling gender-neutral captioning for caption and denseCaptions features. If this parameter is not specified, the default value is "false".
        schema:
          type: boolean
          default: false
      - $ref: '#/components/parameters/ApiVersion_2'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageAnalysisResult'
        default:
          description: Error
          headers:
            x-ms-error-code:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_11'
      x-ms-examples:
        AnalyzeImage_CustomModel:
          $ref: ./examples/AnalyzeImage_CustomModel.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageUrl'
        description: A JSON document with a URL pointing to the image that is to be analyzed.
        required: true
  /providers/Microsoft.Consumption/operations:
    get:
      tags:
      - Operations
      operationId: microsoftAzureOperationsList
      description: Lists all of the available consumption REST API operations.
      parameters:
      - $ref: '#/components/parameters/apiVersionParameter_8'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult_16'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_12'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Consumption Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.ContainerInstance/operations:
    get:
      tags:
      - Operations
      operationId: microsoftAzureOperationsList
      x-ms-examples:
        OperationsList:
          $ref: ./examples/OperationsList.json
      description: List the operations for Azure Container Instance service.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter_12'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult_17'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError_9'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Containerinstance Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.ContainerService/operations:
    get:
      operationId: microsoftAzureOperationsList
      tags:
      - Operations
      description: List the operations for the provider
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        List the operations for the provider.:
          $ref: ./examples/Operations_List.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Containerservice Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.CustomerLockbox/operations:
    get:
      tags:
      - Operations
      description: Lists all the available REST API operations.
      operationId: microsoftAzureOperationsList
      x-ms-examples:
        List available operations for the Customer Lockbox resource provider:
          $ref: ./examples/Operations_List.json
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter_13'
      responses:
        '200':
          description: OK. Successfully retrieved operation list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult_18'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_14'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Customerlockbox Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.CustomerInsights/operations:
    get:
      tags:
      - Operations
      operationId: microsoftAzureOperationsList
      x-ms-examples:
        DCIOperations_List:
          $ref: ./examples/DCIOperations_List.json
      description: Lists all of the available Customer Insights REST API operations.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter_14'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult_19'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Customerinsights Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.CustomProviders/operations:
    get:
      tags:
      - Operations
      operationId: microsoftAzureOperationsList
      x-ms-examples:
        List the custom providers operations:
          $ref: examples/operationsList.json
      x-ms-pageable:
        nextLinkName: nextLink
      description: The list of operations provided by Microsoft CustomProviders.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter_15'
      responses:
        '200':
          description: Describe the result of a successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderOperationList_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_15'
      summary: Microsoft Azure Get Providers Microsoft Customproviders Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.DataBoxEdge/operations:
    get:
      tags:
      - Operations
      summary: Microsoft Azure List All The Supported Operations
      operationId: microsoftAzureOperationsList
      parameters:
      - $ref: '#/components/parameters/apiVersionParameter_9'
      responses:
        '200':
          description: List of supported operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationsList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError_10'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        OperationsGet:
          $ref: ./examples/OperationsGet.json
      description: Needs a more full description created.
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.DataBox/operations:
    get:
      tags:
      - Operations
      description: This method gets all the operations.
      operationId: microsoftAzureOperationsList
      parameters:
      - $ref: '#/components/parameters/apiVersionParameter_10'
      responses:
        '200':
          description: The supported operations list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList_6'
        default:
          description: Error response describing reason for operation failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        OperationsGet:
          $ref: ./examples/OperationsGet.json
      summary: Microsoft Azure Get Providers Microsoft Databox Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.DataLakeAnalytics/operations:
    get:
      tags:
      - Operations
      operationId: microsoftAzureOperationsList
      description: Lists all of the available Data Lake Analytics REST API operations.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter_16'
      responses:
        '200':
          description: Successfully listed the available operations for Data Lake Analytics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult_20'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Lists all of the available Data Lake Analytics REST API operations:
          $ref: ./examples/Operations_List.json
      summary: Microsoft Azure Get Providers Microsoft Datalakeanalytics Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.DataLakeStore/operations:
    get:
      tags:
      - Operations
      operationId: microsoftAzureOperationsList
      description: Lists all of the available Data Lake Store REST API operations.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter_17'
      responses:
        '200':
          description: Successfully listed the available operations for Data Lake Store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult_21'
      x-ms-examples:
        Lists all of the available Data Lake Store REST API operations:
          $ref: ./examples/Operations_List.json
      summary: Microsoft Azure Get Providers Microsoft Datalakestore Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.DataProtection/operations:
    get:
      tags:
      - Operations
      description: Returns the list of available operations.
      operationId: microsoftAzureDataprotectionoperationsList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientDiscoveryResponse'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError_11'
      x-ms-pageable:
        nextLinkName: nextLink
        itemName: value
      x-ms-examples:
        Returns the list of supported REST operations.:
          $ref: ./examples/Operations/List.json
      summary: Microsoft Azure Get Providers Microsoft Dataprotection Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.DesktopVirtualization/operations:
    get:
      tags:
      - Operations
      operationId: microsoftAzureOperationsList
      description: List all of the available operations the Desktop Virtualization resource provider supports.
      x-ms-examples:
        OperationDescription_List:
          $ref: ./examples/OperationDescription_List.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Successfully retrieved operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderOperationList_3'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError_12'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Desktopvirtualization Operations
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.DevHub/operations:
    get:
      tags:
      - Operations
      operationId: microsoftAzureOperationsList
      description: Returns list of operations.
      summary: Microsoft Azure Gets A List Of Operations
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Operation details.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      deprecated: false
      x-ms-examples:
        List available operations for the container service resource provider:
          $ref: ./examples/Operation_List.json
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.WindowsIoT/operations:
    get:
      tags:
      - Operations
      operationId: microsoftAzureOperationsList
      description: Lists all of the available Windows IoT Services REST API operations.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter_18'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult_22'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails_6'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Operations_List:
          $ref: ./examples/OperationsList.json
      summary: Microsoft Azure Get Providers Microsoft Windowsiot Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.DevSpaces/operations:
    get:
      tags:
      - Operations
      summary: Microsoft Azure Lists Operations For The Resource Provider
      description: Lists all the supported operations by the Microsoft.DevSpaces resource provider along with their description.
      operationId: microsoftAzureOperationsList
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter_19'
      responses:
        '200':
          description: The request was successful; response contains the list of operations under Microsoft.DevSpaces resource provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderOperationList_4'
      x-ms-pageable:
        nextLinkName: nextLink
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.DevTestLab/locations/{locationName}/operations/{name}:
    get:
      tags:
      - Operations
      description: Get operation.
      operationId: microsoftAzureOperationsGet
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/locationName'
      - name: name
        in: path
        description: The name of the operation.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version_3'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError_13'
      x-ms-examples:
        Operations_Get:
          $ref: ./examples/Operations_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Devtestlab…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.Dynamics365FraudProtection/operations:
    get:
      tags:
      - Operations
      operationId: microsoftAzureListoperations
      description: Lists all of the available DFP REST API operations.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Get a list of operations supported by Microsoft.Dynamics365FraudProtection resource provider:
          $ref: ./examples/ListOperations.json
      summary: Microsoft Azure Get Providers Microsoft Dynamics365fraudprotection Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /operations/{operationId}:
    get:
      operationId: microsoftAzureMiscellaneousoperationsGetdocumentmodelbuildoperation
      description: Gets operation info.
      parameters:
      - $ref: '#/components/parameters/Azure.Core.Foundations.ApiVersionParameter'
      - name: operationId
        in: path
        description: Operation ID
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Azure.Core.ClientRequestIdHeader'
      responses:
        '200':
          description: The request has succeeded.
          headers:
            x-ms-client-request-id:
              description: An opaque, globally-unique, client-generated string identifier for the request.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentModelBuildOperationDetails'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_16'
      x-ms-examples:
        Get Operation - Document Model Build:
          $ref: ./examples/GetOperation_DocumentModelBuild.json
      summary: Microsoft Azure Get Operations Operationid
      tags:
      - Operations
      security:
      - ApiKeyAuth: []
      - OAuth2Auth:
        - https://cognitiveservices.azure.com/.default
  /providers/Microsoft.DynamicsTelemetry/operations:
    get:
      tags:
      - Operations
      operationId: microsoftAzureOperationsList
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList_7'
        '204':
          description: No Content
      x-ms-examples:
        List Operations:
          $ref: ./examples/Operations_List.json
      summary: Microsoft Azure Get Providers Microsoft Dynamicstelemetry Operations
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  /providers/Dynatrace.Observability/operations:
    get:
      operationId: microsoftAzureOperationsList
      summary: Microsoft Azure List The Operations For Dynatrace Observability
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
[...]
