openapi: 3.2.0
info:
  version: 2022-12-01-preview
  title: Microsoft Azure DataBoxEdgeManagementClient Marketplace…
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: MarketplaceImageSasToken
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/publishers/{publisherName}/offers/{offerName}/skus/{skuName}/versions/{versionName}/generatesastoken
  : post:
      tags:
      - MarketplaceImageSasToken
      summary: Microsoft Azure Returns Sastoken
      operationId: microsoftAzureMarketplaceimagesastokenGetsastoken
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: deviceName
        in: path
        description: ''
        required: true
        schema:
          type: string
          pattern: '[ A-Za-z0-9_@./#&+-]*'
      - name: publisherName
        in: path
        description: ''
        required: true
        schema:
          type: string
          pattern: '[ A-Za-z0-9_@./#&+-]*'
      - name: offerName
        in: path
        description: ''
        required: true
        schema:
          type: string
          pattern: '[ A-Za-z0-9_@./#&+-]*'
      - name: skuName
        in: path
        description: ''
        required: true
        schema:
          type: string
          pattern: '[ A-Za-z0-9_@./#&+-]*'
      - name: versionName
        in: path
        description: ''
        required: true
        schema:
          type: string
          pattern: '[ A-Za-z0-9_@./#&+-]*'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: GetSASToken is working fine
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceSasToken'
        '202':
          description: Accepted the request to start VM Image Download
          headers:
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceSasToken'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        OrderGet:
          $ref: ./examples/GetSASToken.json
      description: Needs a more full description created.
components:
  schemas:
    CloudError:
      description: An error response from the service.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: The error details.
      x-ms-external: true
    MarketplaceSasToken:
      type: object
      properties:
        status:
          type: string
        sasUri:
          type: string
          x-ms-secret: true
    CloudErrorBody:
      description: An error response from the service.
      type: object
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
          type: string
        message:
          description: A message describing the error, intended to be suitable for display in a user interface.
          type: string
        details:
          description: A list of additional details about the error.
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          x-ms-identifiers: []
      x-ms-external: true
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID.
      required: true
      schema:
        type: string
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The resource group name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      description: The API version.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
