openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft Storage Sync Workflow Resource API
  description: Microsoft Storage Sync Service API. This belongs to Microsoft.StorageSync Resource Provider
  version: '2022-09-01'
  x-ms-code-generation-settings:
    name: StorageSyncManagementClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Workflow Resource
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/workflows
  : get:
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - name: storageSyncServiceName
        in: path
        description: Name of Storage Sync Service resource.
        required: true
        schema:
          type: string
      tags:
      - Workflow Resource
      operationId: microsoftAzureWorkflowsListbystoragesyncservice
      description: Get a Workflow List
      x-ms-examples:
        Workflows_ListByStorageSyncService:
          $ref: ./examples/Workflows_ListByStorageSyncService.json
      responses:
        '200':
          description: Array of Workflow resources in Storage Sync Service
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowArray'
        default:
          description: Error message indicating why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/workflows/{workflowId}
  : get:
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - name: storageSyncServiceName
        in: path
        description: Name of Storage Sync Service resource.
        required: true
        schema:
          type: string
      - name: workflowId
        in: path
        description: workflow Id
        required: true
        schema:
          type: string
      tags:
      - Workflow Resource
      operationId: microsoftAzureWorkflowsGet
      description: Get Workflows resource
      x-ms-examples:
        Workflows_Get:
          $ref: ./examples/Workflows_Get.json
      responses:
        '200':
          description: Workflow object
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
        default:
          description: Error message indicating why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/workflows/{workflowId}/abort
  : post:
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - name: storageSyncServiceName
        in: path
        description: Name of Storage Sync Service resource.
        required: true
        schema:
          type: string
      - name: workflowId
        in: path
        description: workflow Id
        required: true
        schema:
          type: string
      tags:
      - Workflow Resource
      operationId: microsoftAzureWorkflowsAbort
      description: Abort the given workflow.
      x-ms-examples:
        Workflows_Abort:
          $ref: ./examples/Workflows_Abort.json
      responses:
        '200':
          description: success
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
        default:
          description: Error message indicating why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    StorageSyncErrorDetails:
      type: object
      description: Error Details object.
      properties:
        code:
          type: string
          description: Error code of the given entry.
        message:
          type: string
          description: Error message of the given entry.
        target:
          type: string
          description: Target of the given entry.
        requestUri:
          type: string
          description: Request URI of the given entry.
        exceptionType:
          type: string
          description: Exception type of the given entry.
        httpMethod:
          type: string
          description: HTTP method of the given entry.
        hashedMessage:
          type: string
          description: Hashed message of the given entry.
        httpErrorCode:
          type: string
          description: HTTP error code of the given entry.
    StorageSyncInnerErrorDetails:
      type: object
      description: Error Details object.
      properties:
        callStack:
          type: string
          description: Call stack of the error.
        message:
          type: string
          description: Error message of the error.
        innerException:
          type: string
          description: Exception of the inner error.
        innerExceptionCallStack:
          type: string
          description: Call stack of the inner error.
    StorageSyncApiError:
      type: object
      description: Error type
      properties:
        code:
          type: string
          description: Error code of the given entry.
        message:
          type: string
          description: Error message of the given entry.
        target:
          type: string
          description: Target of the given error entry.
        details:
          $ref: '#/components/schemas/StorageSyncErrorDetails'
          description: Error details of the given entry.
        innererror:
          $ref: '#/components/schemas/StorageSyncInnerErrorDetails'
          description: Inner error details of the given entry.
    Workflow:
      type: object
      description: Workflow resource.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/WorkflowProperties'
          description: Workflow properties.
    WorkflowArray:
      description: Array of Workflow
      type: object
      properties:
        value:
          type: array
          description: Collection of workflow items.
          items:
            $ref: '#/components/schemas/Workflow'
          x-ms-identifiers:
          - id
    StorageSyncError:
      type: object
      description: Error type
      properties:
        error:
          $ref: '#/components/schemas/StorageSyncApiError'
          description: Error details of the given entry.
        innererror:
          $ref: '#/components/schemas/StorageSyncApiError'
          description: Error details of the given entry.
    WorkflowProperties:
      type: object
      description: Workflow Properties object.
      properties:
        lastStepName:
          type: string
          description: last step name
        status:
          $ref: '#/components/schemas/WorkflowStatus'
          description: workflow status.
        operation:
          $ref: '#/components/schemas/OperationDirection'
          description: operation direction.
        steps:
          type: string
          description: workflow steps
        lastOperationId:
          type: string
          description: workflow last operation identifier.
        commandName:
          type: string
          description: workflow command name.
          readOnly: true
        createdTimestamp:
          type: string
          format: date-time
          description: workflow created timestamp.
          readOnly: true
        lastStatusTimestamp:
          type: string
          format: date-time
          description: workflow last status timestamp.
          readOnly: true
    OperationDirection:
      type: string
      description: Type of the Operation Direction
      enum:
      - do
      - undo
      - cancel
      x-ms-enum:
        name: OperationDirection
        modelAsString: true
    WorkflowStatus:
      type: string
      description: Type of the Workflow Status
      enum:
      - active
      - expired
      - succeeded
      - aborted
      - failed
      x-ms-enum:
        name: WorkflowStatus
        modelAsString: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
