openapi: 3.2.0
info:
  title: Microsoft Azure Azure Migrate Assessment Service Groups…
  version: 2023-04-01-preview
  description: Azure Migrate Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: GroupsOperations
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups
  : get:
      operationId: microsoftAzureGroupsoperationsListbyassessmentproject
      tags:
      - GroupsOperations
      description: List Group resources by AssessmentProject
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        GroupsOperations_ListByAssessmentProject_MaximumSet_Gen:
          $ref: ./examples/GroupsOperations_ListByAssessmentProject_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}
  : get:
      operationId: microsoftAzureGroupsoperationsGet
      tags:
      - GroupsOperations
      description: Get a Group
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: groupName
        in: path
        description: Group ARM name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        GroupsOperations_Get_MaximumSet_Gen:
          $ref: ./examples/GroupsOperations_Get_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      operationId: microsoftAzureGroupsoperationsCreate
      tags:
      - GroupsOperations
      description: Create a Group
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: groupName
        in: path
        description: Group ARM name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: Resource 'Group' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '201':
          description: Resource 'Group' create operation succeeded
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      x-ms-examples:
        GroupsOperations_Create_MaximumSet_Gen:
          $ref: ./examples/GroupsOperations_Create_MaximumSet_Gen.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group'
        description: Resource create parameters.
        required: true
    delete:
      operationId: microsoftAzureGroupsoperationsDelete
      tags:
      - GroupsOperations
      description: Delete a Group
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: groupName
        in: path
        description: Group ARM name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource deleted successfully.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        GroupsOperations_Delete_MaximumSet_Gen:
          $ref: ./examples/GroupsOperations_Delete_MaximumSet_Gen.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/updateMachines
  : post:
      operationId: microsoftAzureGroupsoperationsUpdatemachines
      tags:
      - GroupsOperations
      summary: Microsoft Azure Update Machines In Group
      description: Update machines in group by adding or removing machines.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: groupName
        in: path
        description: Group ARM name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '202':
          description: Resource operation accepted.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      x-ms-examples:
        GroupsOperations_UpdateMachines_MaximumSet_Gen:
          $ref: ./examples/GroupsOperations_UpdateMachines_MaximumSet_Gen.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroupBody'
        description: The content of the action request
        required: true
components:
  schemas:
    ProvisioningState:
      type: string
      description: The status of the current operation.
      enum:
      - Succeeded
      - Failed
      - Canceled
      - Provisioning
      - Updating
      - Deleting
      - Accepted
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: Succeeded
          value: Succeeded
          description: Resource has been created.
        - name: Failed
          value: Failed
          description: Resource creation failed.
        - name: Canceled
          value: Canceled
          description: Resource creation was canceled.
        - name: Provisioning
          value: Provisioning
          description: Resource is being Provisioned.
        - name: Updating
          value: Updating
          description: Resource is being Updated.
        - name: Deleting
          value: Deleting
          description: Resource is being Deleted.
        - name: Accepted
          value: Accepted
          description: Resource is being Accepted.
    Group:
      type: object
      description: Group resource.
      properties:
        properties:
          $ref: '#/components/schemas/GroupProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
    GroupUpdateOperation:
      type: string
      enum:
      - Add
      - Remove
      x-ms-enum:
        name: GroupUpdateOperation
        modelAsString: true
    GroupStatus:
      type: string
      enum:
      - Created
      - Updated
      - Running
      - Completed
      - Invalid
      x-ms-enum:
        name: GroupStatus
        modelAsString: true
    AssessmentType:
      type: string
      enum:
      - Unknown
      - MachineAssessment
      - AvsAssessment
      - SqlAssessment
      - WebAppAssessment
      x-ms-enum:
        name: AssessmentType
        modelAsString: true
    GroupProperties:
      type: object
      description: Properties of group resource.
      properties:
        groupStatus:
          $ref: '#/components/schemas/GroupStatus'
          description: Whether the group has been created and is valid.
          readOnly: true
        machineCount:
          type: integer
          format: int32
          description: Number of machines part of this group.
          readOnly: true
        assessments:
          type: array
          description: List of References to Assessments created on this group.
          items:
            type: string
          readOnly: true
        supportedAssessmentTypes:
          type: array
          description: List of assessment types supported on this group.
          items:
            $ref: '#/components/schemas/AssessmentType'
        areAssessmentsRunning:
          type: boolean
          description: If the assessments are in running state.
          readOnly: true
        createdTimestamp:
          type: string
          format: date-time
          description: Time when this group was created. Date-Time represented in ISO-8601 format.
          readOnly: true
        updatedTimestamp:
          type: string
          format: date-time
          description: Time when this group was last updated. Date-Time represented in ISO-8601 format.
          readOnly: true
        groupType:
          $ref: '#/components/schemas/GroupType'
          description: The type of group.
          x-ms-mutability:
          - read
          - create
      allOf:
      - $ref: '#/components/schemas/AzureResourceProperties'
    UpdateGroupBody:
      type: object
      description: Properties of group update.
      properties:
        eTag:
          type: string
          description: For optimistic concurrency control.
        properties:
          $ref: '#/components/schemas/GroupBodyProperties'
          description: Properties of the group.
    GroupBodyProperties:
      type: object
      description: Body properties of group update.
      properties:
        operationType:
          $ref: '#/components/schemas/GroupUpdateOperation'
          description: Whether to add or remove the machines.
        machines:
          type: array
          description: List of machine names that are part of this group.
          items:
            type: string
    GroupType:
      type: string
      enum:
      - Default
      - Import
      x-ms-enum:
        name: GroupType
        modelAsString: true
    GroupListResult:
      type: object
      description: The response of a Group list operation.
      properties:
        value:
          type: array
          description: The Group items on this page
          items:
            $ref: '#/components/schemas/Group'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    AzureResourceProperties:
      type: object
      description: Common properties for all azure tracked and proxy resources.
      properties:
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The status of the last operation.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
