openapi: 3.2.0
info:
  version: 2022-02-01-preview
  title: Microsoft Azure AdvisorManagementClient Prediction API
  description: REST APIs for Azure Advisor
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Prediction
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Advisor/predict:
    post:
      tags:
      - Prediction
      summary: Microsoft Azure Predicts A Recommendation
      operationId: microsoftAzurePredict
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK. Successfully obtained prediction.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictionResponse'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArmErrorResponse'
      deprecated: false
      x-ms-examples:
        Predict:
          $ref: ./examples/Predict.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PredictionRequest'
        description: Parameters for predict recommendation.
        required: true
components:
  schemas:
    ArmErrorResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ARMErrorResponseBody'
    PredictionRequest:
      description: Parameters for predict recommendation.
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/PredictionRequestProperties'
          description: Request properties for prediction recommendation.
          x-ms-client-flatten: true
    PredictionResponse:
      description: Response used by predictions.
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/PredictionResponseProperties'
          description: The properties of the prediction.
          x-ms-client-flatten: true
      x-ms-azure-resource: true
    PredictionRequestProperties:
      description: Properties given for the predictor.
      type: object
      properties:
        predictionType:
          description: Type of the prediction.
          enum:
          - PredictiveRightsizing
          type: string
          x-ms-enum:
            name: predictionType
            modelAsString: true
        extendedProperties:
          description: Extended properties are arguments specific for each prediction type.
          type: object
    ShortDescription:
      description: A summary of the recommendation.
      type: object
      properties:
        solution:
          description: The remediation action suggested by the recommendation.
          type: string
    ARMErrorResponseBody:
      description: ARM error response body.
      type: object
      properties:
        message:
          description: Gets or sets the string that describes the error in detail and provides debugging information.
          type: string
        code:
          description: Gets or sets the string that can be used to programmatically identify the error.
          type: string
    PredictionResponseProperties:
      description: Properties of the prediction
      type: object
      properties:
        extendedProperties:
          description: Extended properties
          type: object
        predictionType:
          description: Type of the prediction.
          enum:
          - PredictiveRightsizing
          type: string
          x-ms-enum:
            name: predictionType
            modelAsString: true
        category:
          description: The category of the recommendation.
          enum:
          - HighAvailability
          - Security
          - Performance
          - Cost
          - OperationalExcellence
          type: string
          x-ms-enum:
            name: category
            modelAsString: true
        impact:
          description: The business impact of the recommendation.
          enum:
          - High
          - Medium
          - Low
          type: string
          x-ms-enum:
            name: impact
            modelAsString: true
        impactedField:
          description: The resource type identified by Advisor.
          type: string
        lastUpdated:
          format: date-time
          description: The most recent time that Advisor checked the validity of the recommendation.
          type: string
        shortDescription:
          $ref: '#/components/schemas/ShortDescription'
          description: A summary of the recommendation.
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The Azure subscription ID.
      required: true
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      description: The version of the API to be used with the client request.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
