openapi: 3.2.0
info:
  version: '2019-04-01'
  title: Microsoft Azure VMwareCloudSimple Customization Policies API
  description: Description of the new service
  x-ms-code-generation-settings:
    name: VMwareCloudSimpleClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- description: Customization policies operations
  name: customizationPolicies
paths:
  ? /subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}/customizationPolicies
  : get:
      description: Returns list of customization policies in region for private cloud
      tags:
      - customizationPolicies
      summary: Microsoft Azure Implements Get Of Customization Policies List
      operationId: microsoftAzureCustomizationpoliciesList
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/regionId'
      - $ref: '#/components/parameters/pcName'
      - $ref: '#/components/parameters/api-version'
      - description: The filter to apply on the list operation. only type is allowed here as a filter e.g. $filter=type eq 'xxxx'
        name: $filter
        in: query
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomizationPoliciesListResponse'
        default:
          description: General Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
      x-ms-examples:
        ListCustomizationPolicies:
          $ref: ./examples/ListCustomizationPolicies.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}/customizationPolicies/{customizationPolicyName}
  : get:
      description: Returns customization policy by its name
      tags:
      - customizationPolicies
      summary: Microsoft Azure Implements Get Of Customization Policy
      operationId: microsoftAzureCustomizationpoliciesGet
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/regionId'
      - $ref: '#/components/parameters/pcName'
      - description: customization policy name
        name: customizationPolicyName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomizationPolicy'
        default:
          description: General Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
      x-ms-examples:
        GetCustomizationPolicy:
          $ref: ./examples/GetCustomizationPolicy.json
components:
  parameters:
    regionId:
      x-ms-parameter-location: method
      description: The region Id (westus, eastus)
      name: regionId
      in: path
      required: true
      schema:
        type: string
    pcName:
      x-ms-parameter-location: method
      description: The private cloud name
      name: pcName
      in: path
      required: true
      schema:
        type: string
    api-version:
      description: Client API version.
      name: api-version
      in: query
      required: true
      schema:
        type: string
    subscriptionId:
      description: The subscription ID.
      name: subscriptionId
      in: path
      required: true
      schema:
        type: string
  schemas:
    CustomizationIPAddress:
      type: object
      properties:
        argument:
          description: Argument when Custom ip type is selected
          type: string
        ipAddress:
          description: Defined Ip Address when Fixed ip type is selected
          type: string
        type:
          description: Customization Specification ip type
          type: string
          enum:
          - CUSTOM
          - DHCP_IP
          - FIXED_IP
          - USER_DEFINED
    CSRPError:
      description: General error model
      properties:
        error:
          description: Error's body
          $ref: '#/components/schemas/CSRPErrorBody'
    CustomizationSpecification:
      description: The specification for Customization Policy
      type: object
      properties:
        identity:
          description: Customization Identity. It contains data about user and hostname
          $ref: '#/components/schemas/CustomizationIdentity'
        nicSettings:
          description: Network interface settings
          type: array
          items:
            $ref: '#/components/schemas/CustomizationNicSetting'
          x-ms-identifiers:
          - macAddress
    CustomizationIPSettings:
      type: object
      properties:
        gateway:
          description: The list of gateways
          type: array
          items:
            type: string
        ip:
          description: Ip address customization settings
          $ref: '#/components/schemas/CustomizationIPAddress'
        subnetMask:
          description: Adapter subnet mask
          type: string
    CustomizationPoliciesListResponse:
      description: List of customization polices response model
      properties:
        nextLink:
          description: Link for next list of the Customization policy
          type: string
        value:
          description: List of the customization policies
          type: array
          items:
            $ref: '#/components/schemas/CustomizationPolicy'
    CustomizationHostName:
      description: Host name model
      type: object
      properties:
        name:
          description: Hostname
          type: string
        type:
          description: Type of host name
          type: string
          enum:
          - USER_DEFINED
          - PREFIX_BASED
          - FIXED
          - VIRTUAL_MACHINE_NAME
          - CUSTOM_NAME
    CustomizationPolicyProperties:
      description: The properties of Customization policy
      type: object
      properties:
        description:
          description: Policy description
          type: string
        privateCloudId:
          description: The Private cloud id
          type: string
        specification:
          description: Detailed customization policy specification
          $ref: '#/components/schemas/CustomizationSpecification'
        type:
          description: The type of customization (Linux or Windows)
          type: string
          enum:
          - LINUX
          - WINDOWS
        version:
          description: Policy version
          type: string
    CustomizationIdentity:
      type: object
      properties:
        data:
          description: Windows Text Identity. Prepared data
          type: string
        hostName:
          description: Virtual machine host name settings
          $ref: '#/components/schemas/CustomizationHostName'
        type:
          description: Identity type
          type: string
          enum:
          - WINDOWS_TEXT
          - WINDOWS
          - LINUX
        userData:
          description: Windows Identity. User data customization
          type: object
          properties:
            isPasswordPredefined:
              description: Is password predefined in customization policy
              type: boolean
              default: false
    CustomizationNicSetting:
      type: object
      properties:
        adapter:
          description: The list of adapters' settings
          $ref: '#/components/schemas/CustomizationIPSettings'
        macAddress:
          description: NIC mac address
          type: string
    CustomizationPolicy:
      description: The virtual machine customization policy
      type: object
      properties:
        id:
          description: Customization policy azure id
          type: string
        location:
          description: Azure region
          type: string
        name:
          description: Customization policy name
          type: string
          readOnly: true
        properties:
          description: Customization Policy properties
          x-ms-client-flatten: true
          $ref: '#/components/schemas/CustomizationPolicyProperties'
        type:
          type: string
          readOnly: true
    CSRPErrorBody:
      description: Error properties
      properties:
        code:
          description: Error's code
          type: string
          readOnly: true
        details:
          description: Error's details
          type: array
          items:
            $ref: '#/components/schemas/CSRPErrorBody'
          x-ms-identifiers: []
          readOnly: true
        message:
          description: Error's message
          type: string
          readOnly: true
        target:
          description: Error's target
          type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
