openapi: 3.2.0
info:
  title: Microsoft Azure ComputeDiagnosticResourceProviderClient…
  description: The Compute Diagnostic Resource Provider Client
  version: 2024-03-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: diagnostics_SpotPlacementRecommender
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/diagnostics/spotPlacementRecommender:
    get:
      tags:
      - diagnostics_SpotPlacementRecommender
      operationId: microsoftAzureSpotplacementrecommenderGet
      description: Gets Spot Placement Recommender diagnostic metadata.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputeDiagnosticBase'
        default:
          description: Error response describing why the get call failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Gets the metadata of Spot Placement Recommender diagnostic.:
          $ref: ./examples/GetSpotPlacementRecommender.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Compute…
components:
  schemas:
    ComputeDiagnosticBase:
      description: Contains metadata of a diagnostic type
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/DiagnosticProperties'
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
    DiagnosticProperties:
      description: Contains additional properties of a diagnostic
      type: object
      properties:
        supportedResourceTypes:
          type: array
          items:
            type: string
          description: Describes what are the supported resource types for a diagnostic.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
