openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft Storage Sync Operation Status API
  description: Microsoft Storage Sync Service API. This belongs to Microsoft.StorageSync Resource Provider
  version: '2022-09-01'
  x-ms-code-generation-settings:
    name: StorageSyncManagementClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Operation Status
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/locations/{locationName}/workflows/{workflowId}/operations/{operationId}
  : get:
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - name: locationName
        in: path
        required: true
        description: The desired region to obtain information from.
        schema:
          type: string
      - name: workflowId
        in: path
        description: workflow Id
        required: true
        schema:
          type: string
      - name: operationId
        in: path
        description: operation Id
        required: true
        schema:
          type: string
      tags:
      - Operation Status
      operationId: microsoftAzureOperationstatusGet
      description: Get Operation status
      x-ms-examples:
        OperationStatus_Get:
          $ref: ./examples/OperationStatus_Get.json
      responses:
        '200':
          description: Operation Status
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: Error message indicating why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/providers/Microsoft.StorageSync/locations/{locationName}/operations/{operationId}:
    get:
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - name: locationName
        in: path
        required: true
        description: The desired region to obtain information from.
        schema:
          type: string
      - name: operationId
        in: path
        description: operation Id
        required: true
        schema:
          type: string
      tags:
      - Operation Status
      operationId: microsoftAzureLocationoperationstatus
      description: Get Operation status
      x-ms-examples:
        LocationOperationStatus:
          $ref: ./examples/LocationOperationStatus_Get.json
      responses:
        '200':
          description: Operation Status
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationOperationStatus'
        default:
          description: Error message indicating why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
  /subscriptions/{subscriptionId}/providers/Microsoft.DataProtection/locations/{location}/operationStatus/{operationId}:
    get:
      tags:
      - Operation Status
      summary: Microsoft Azure Gets The Operation Status For A Resource
      operationId: microsoftAzureOperationstatusGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - name: location
        in: path
        required: true
        schema:
          type: string
      - name: operationId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Get OperationStatus:
          $ref: ./examples/GetOperationStatus.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/backupVaults/{vaultName}/operationStatus/{operationId}
  : get:
      tags:
      - Operation Status
      summary: Microsoft Azure Gets The Operation Status For An Operation Over A Backupvault S…
      operationId: microsoftAzureOperationstatusbackupvaultcontextGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/VaultName'
      - name: operationId
        in: path
        required: true
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Get OperationStatus:
          $ref: ./examples/GetOperationStatusVaultContext.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/operationStatus/{operationId}
  : get:
      tags:
      - Operation Status
      summary: Microsoft Azure Gets The Operation Status For An Operation Over A Resourcegroup…
      operationId: microsoftAzureOperationstatusresourcegroupcontextGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - name: operationId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Get OperationStatus:
          $ref: ./examples/GetOperationStatusRGContext.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.DeviceRegistry/locations/{location}/operationStatuses/{operationId}:
    get:
      operationId: microsoftAzureOperationstatusGet
      tags:
      - Operation Status
      description: Returns the current status of an async operation.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/OperationIdParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/OperationStatusResult
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Get the status of an async operation.:
          $ref: ./examples/Get_OperationStatus.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
    servers:
    - url: https://management.azure.com
components:
  schemas:
    OperationStatus:
      type: object
      properties:
        name:
          readOnly: true
          type: string
          description: Operation Id
        status:
          readOnly: true
          type: string
          description: Operation status
        startTime:
          readOnly: true
          type: string
          format: date-time
          description: Start time of the operation
        endTime:
          readOnly: true
          type: string
          format: date-time
          description: End time of the operation
        error:
          readOnly: true
          $ref: '#/components/schemas/StorageSyncApiError'
          description: Error details.
      description: Operation status object
    StorageSyncErrorDetails:
      type: object
      description: Error Details object.
      properties:
        code:
          type: string
          description: Error code of the given entry.
        message:
          type: string
          description: Error message of the given entry.
        target:
          type: string
          description: Target of the given entry.
        requestUri:
          type: string
          description: Request URI of the given entry.
        exceptionType:
          type: string
          description: Exception type of the given entry.
        httpMethod:
          type: string
          description: HTTP method of the given entry.
        hashedMessage:
          type: string
          description: Hashed message of the given entry.
        httpErrorCode:
          type: string
          description: HTTP error code of the given entry.
    StorageSyncInnerErrorDetails:
      type: object
      description: Error Details object.
      properties:
        callStack:
          type: string
          description: Call stack of the error.
        message:
          type: string
          description: Error message of the error.
        innerException:
          type: string
          description: Exception of the inner error.
        innerExceptionCallStack:
          type: string
          description: Call stack of the inner error.
    StorageSyncApiError:
      type: object
      description: Error type
      properties:
        code:
          type: string
          description: Error code of the given entry.
        message:
          type: string
          description: Error message of the given entry.
        target:
          type: string
          description: Target of the given error entry.
        details:
          $ref: '#/components/schemas/StorageSyncErrorDetails'
          description: Error details of the given entry.
        innererror:
          $ref: '#/components/schemas/StorageSyncInnerErrorDetails'
          description: Inner error details of the given entry.
    LocationOperationStatus:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Operation resource Id
        name:
          readOnly: true
          type: string
          description: Operation Id
        status:
          readOnly: true
          type: string
          description: Operation status
        startTime:
          readOnly: true
          type: string
          format: date-time
          description: Start time of the operation
        endTime:
          readOnly: true
          type: string
          format: date-time
          description: End time of the operation
        error:
          readOnly: true
          $ref: '#/components/schemas/StorageSyncApiError'
          description: Error details.
        percentComplete:
          readOnly: true
          type: integer
          format: int32
          description: Percent complete.
      description: Operation status object
    StorageSyncError:
      type: object
      description: Error type
      properties:
        error:
          $ref: '#/components/schemas/StorageSyncApiError'
          description: Error details of the given entry.
        innererror:
          $ref: '#/components/schemas/StorageSyncApiError'
          description: Error details of the given entry.
    CloudError:
      description: An error response from Azure Backup.
      properties:
        error:
          $ref: '#/components/schemas/Error'
      title: CloudError
      x-ms-external: true
    OperationResource:
      description: Operation Resource
      properties:
        endTime:
          description: End time of the operation
          format: date-time
          type: string
        error:
          $ref: '#/components/schemas/Error'
          description: 'Required if status == failed or status == canceled. This is the OData v4 error format, used by the RPC and will go into the v2.2 Azure REST API guidelines.

            The full set of optional properties (e.g. inner errors / details) can be found in the "Error Response" section.'
        id:
          description: It should match what is used to GET the operation result
          type: string
        name:
          description: It must match the last segment of the "id" field, and will typically be a GUID / system generated value
          type: string
        properties:
          $ref: '#/components/schemas/OperationExtendedInfo'
          description: End time of the operation
        startTime:
          description: Start time of the operation
          format: date-time
          type: string
        status:
          type: string
      title: OperationResource
      type: object
    ErrorAdditionalInfo:
      description: The resource management error additional info.
      properties:
        info:
          description: The additional info.
          readOnly: true
          type: object
        type:
          description: The additional info type.
          readOnly: true
          type: string
    Error:
      description: The resource management error response.
      properties:
        additionalInfo:
          description: The error additional info.
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          x-ms-identifiers: []
          readOnly: true
          type: array
        code:
          description: The error code.
          readOnly: true
          type: string
        details:
          description: The error details.
          items:
            $ref: '#/components/schemas/Error'
          x-ms-identifiers: []
          readOnly: true
          type: array
        message:
          description: The error message.
          readOnly: true
          type: string
        target:
          description: The error target.
          readOnly: true
          type: string
    OperationExtendedInfo:
      description: Operation Extended Info
      properties:
        objectType:
          description: This property will be used as the discriminator for deciding the specific types in the polymorphic chain of types.
          type: string
      title: OperationExtendedInfo
      discriminator:
        propertyName: objectType
      type: object
      required:
      - objectType
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
  parameters:
    VaultName:
      name: vaultName
      in: path
      description: The name of the backup vault.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
