openapi: 3.2.0
info:
  title: Microsoft Azure ApiManagementClient Tag Operation Link API
  description: Use these REST APIs for performing operations on Workspace entity and its associated entities within your Azure API Management deployment.
  version: 2023-05-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: TagOperationLink
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/tags/{tagId}/operationLinks
  : get:
      tags:
      - TagOperationLink
      operationId: microsoftAzureWorkspacetagoperationlinkListbyproduct
      description: Lists a collection of the operation links associated with a tag.
      x-ms-examples:
        ApiManagementListWorkspaceTagOperationLinks:
          $ref: ./examples/ApiManagementListWorkspaceTagOperationLinks.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ./apimanagement.json#/parameters/TagIdParameter
      - name: $filter
        in: query
        required: false
        description: '|     Field     |     Usage     |     Supported operators     |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>| operationId | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |</br>'
        schema:
          type: string
      - $ref: ./apimanagement.json#/parameters/TopQueryParameter
      - $ref: ./apimanagement.json#/parameters/SkipQueryParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The response body contains a collection of operation link entities associated with a tag.
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/TagOperationLinkCollection
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: ./definitions.json#/definitions/TagOperationLinkContract
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/tags/{tagId}/operationLinks/{operationLinkId}
  : get:
      tags:
      - TagOperationLink
      operationId: microsoftAzureWorkspacetagoperationlinkGet
      description: Gets the operation link for the tag.
      x-ms-examples:
        ApiManagementGetWorkspaceTagOperationLink:
          $ref: ./examples/ApiManagementGetWorkspaceTagOperationLink.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ./apimanagement.json#/parameters/TagIdParameter
      - $ref: ./apimanagement.json#/parameters/TagOperationLinkIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The response body contains the specified operation link entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/TagOperationLinkContract
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - TagOperationLink
      operationId: microsoftAzureWorkspacetagoperationlinkCreateorupdate
      description: Adds an operation to the specified tag via link.
      x-ms-examples:
        ApiManagementCreateWorkspaceTagOperationLink:
          $ref: ./examples/ApiManagementCreateWorkspaceTagOperationLink.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ./apimanagement.json#/parameters/TagIdParameter
      - $ref: ./apimanagement.json#/parameters/TagOperationLinkIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The specified operation is already added to the tag.
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/TagOperationLinkContract
        '201':
          description: The operation was successfully added to the tag.
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/TagOperationLinkContract
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./definitions.json#/definitions/TagOperationLinkContract
        description: Create or update parameters.
        required: true
    delete:
      tags:
      - TagOperationLink
      operationId: microsoftAzureWorkspacetagoperationlinkDelete
      description: Deletes the specified operation from the specified tag.
      x-ms-examples:
        ApiManagementDeleteWorkspaceTagOperationLink:
          $ref: ./examples/ApiManagementDeleteWorkspaceTagOperationLink.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ./apimanagement.json#/parameters/TagIdParameter
      - $ref: ./apimanagement.json#/parameters/TagOperationLinkIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Operation was successfully removed from tag
        '204':
          description: Operation successfully removed by previous request or does not exist in tag
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-ms-paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/apis/{apiId}?export=true
  : get:
      tags:
      - Apis
      operationId: WorkspaceApiExport_Get
      description: Gets the details of the API specified by its identifier in the format specified to the Storage Blob with SAS Key valid for 5 minutes.
      x-ms-examples:
        ApiManagementGetWorkspaceApiExportInOpenApi2dot0:
          $ref: ./examples/ApiManagementGetWorkspaceApiExportInOpenApi2dot0.json
        ApiManagementGetWorkspaceApiExportInOpenApi3dot0:
          $ref: ./examples/ApiManagementGetWorkspaceApiExportInOpenApi3dot0.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - name: format
        in: query
        required: true
        type: string
        enum:
        - swagger-link
        - wadl-link
        - wsdl-link
        - openapi-link
        - openapi+json-link
        x-ms-enum:
          name: ExportFormat
          modelAsString: true
          values:
          - value: swagger-link
            description: Export the Api Definition in OpenAPI 2.0 Specification as JSON document to the Storage Blob.
            name: Swagger
          - value: wsdl-link
            description: Export the Api Definition in WSDL Schema to Storage Blob. This is only supported for APIs of Type `soap`
            name: Wsdl
          - value: wadl-link
            description: Export the Api Definition in WADL Schema to Storage Blob.
            name: Wadl
          - value: openapi-link
            description: Export the Api Definition in OpenAPI 3.0 Specification as YAML document to Storage Blob.
            name: Openapi
          - value: openapi+json-link
            description: Export the Api Definition in OpenAPI 3.0 Specification as JSON document to Storage Blob.
            name: OpenapiJson
        description: Format in which to export the Api Details to the Storage Blob with Sas Key valid for 5 minutes.
      - name: export
        in: query
        required: true
        type: string
        enum:
        - 'true'
        x-ms-enum:
          modelAsString: true
          name: ExportApi
        description: Query parameter required to export the API details.
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The response contains a stream with a full set of API metadata and includes API entity with an embedded array of operation entities.
          schema:
            $ref: ./definitions.json#/definitions/ApiExportResult
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
