openapi: 3.2.0
info:
  description: A Storage Cache provides scalable caching service for NAS clients, serving data from either NFSv3 or Blob at-rest storage (referred to as "Storage Targets"). These operations allow you to manage Caches.
  title: Microsoft Azure Storage Cache Mgmt Client Asc Operations API
  version: 2023-03-01-preview
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
tags:
- name: AscOperations
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.StorageCache/locations/{location}/ascOperations/{operationId}:
    get:
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/OperationIdParameter
      responses:
        '200':
          description: The asynchronous operation was returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AscOperation'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        AscOperations_Get:
          $ref: ./examples/AscOperations_Get.json
      tags:
      - AscOperations
      description: Gets the status of an asynchronous operation for the Azure HPC Cache
      operationId: microsoftAzureAscoperationsGet
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
components:
  schemas:
    CloudError:
      x-ms-external: true
      description: An error response.
      properties:
        error:
          description: The body of the error.
          $ref: '#/components/schemas/CloudErrorBody'
      type: object
    CloudErrorBody:
      description: An error response.
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
          type: string
        details:
          description: A list of additional details about the error.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          type: array
          x-ms-identifiers: []
        message:
          description: A message describing the error, intended to be suitable for display in a user interface.
          type: string
        target:
          description: The target of the particular error. For example, the name of the property in error.
          type: string
      type: object
    AscOperationProperties:
      type: object
      description: Additional operation-specific output.
      properties:
        output:
          type: object
          description: Additional operation-specific output.
          additionalProperties:
            type: object
    AscOperation:
      description: The status of operation.
      type: object
      properties:
        id:
          type: string
          description: The operation Id.
        name:
          type: string
          description: The operation name.
        startTime:
          type: string
          description: The start time of the operation.
        endTime:
          type: string
          description: The end time of the operation.
        status:
          type: string
          description: The status of the operation.
        error:
          type: object
          description: The error detail of the operation if any.
          $ref: '#/components/schemas/ErrorResponse'
        properties:
          x-ms-client-flatten: true
          description: Additional operation-specific properties
          $ref: '#/components/schemas/AscOperationProperties'
    ErrorResponse:
      description: Describes the format of Error response.
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
