openapi: 3.2.0
info:
  version: 2017-02-01-preview
  title: Microsoft Azure KeyVaultManagementClient Key Vault API
  description: The Admin KeyVault Management Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: KeyVault
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.KeyVault.Admin/locations/{location}/quotas:
    get:
      x-ms-examples:
        Get a list of all quota objects for KeyVault at a location.:
          $ref: ./examples/Quota/List.json
      description: Get a list of all quota objects for KeyVault at a location.
      tags:
      - KeyVault
      operationId: microsoftAzureQuotasList
      parameters:
      - $ref: KeyVault.json#/parameters/SubscriptionIdParameter
      - $ref: KeyVault.json#/parameters/LocationParameter
      - $ref: KeyVault.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotaList'
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Keyvault…
components:
  schemas:
    QuotaList:
      description: List of keyvault quotas.
      type: object
      properties:
        value:
          description: List of keyvault quotas.
          type: array
          items:
            $ref: '#/components/schemas/Quota'
        nextLink:
          type: string
          description: URI to the next page.
    QuotaProperties:
      description: Properties for keyvault quotas.
      type: object
      properties: {}
    Quota:
      description: KeyVault Quota.
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          description: Properties for keyvault quotas.
          $ref: '#/components/schemas/QuotaProperties'
      allOf:
      - $ref: KeyVault.json#/definitions/Resource
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
