openapi: 3.2.0
info:
  title: Microsoft Azure Azure Migrate Discovery Service Dependency…
  version: 2023-10-01-preview
  description: Azure OffAzure Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: DependencyMapController
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/vmwareSites/{siteName}/clientGroupMembers
  : post:
      operationId: microsoftAzureDependencymapcontrollerClientgroupmembers
      tags:
      - DependencyMapController
      description: API to list client group members for the selected client group.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                type: object
        '202':
          description: Resource operation accepted.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      x-ms-examples:
        DependencyMapController_ClientGroupMembers_MaximumSet_Gen:
          $ref: ./examples/DependencyMapController_ClientGroupMembers_MaximumSet_Gen.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DependencyMapServiceMapextensionsClientGroupMembersRequest'
        description: The content of the action request
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/vmwareSites/{siteName}/exportDependencies
  : post:
      operationId: microsoftAzureDependencymapcontrollerExportdependencies
      tags:
      - DependencyMapController
      description: API to generate report containing agentless dependencies.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                type: object
        '202':
          description: Resource operation accepted.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      x-ms-examples:
        DependencyMapController_ExportDependencies_MaximumSet_Gen:
          $ref: ./examples/DependencyMapController_ExportDependencies_MaximumSet_Gen.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DependencyMapServiceMapextensionsExportDependenciesRequest'
        description: The content of the action request
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/vmwareSites/{siteName}/generateCoarseMap
  : post:
      operationId: microsoftAzureDependencymapcontrollerGeneratecoarsemap
      tags:
      - DependencyMapController
      description: API to generate coarse map for the list of machines.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                type: object
        '202':
          description: Resource operation accepted.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      x-ms-examples:
        DependencyMapController_GenerateCoarseMap_MaximumSet_Gen:
          $ref: ./examples/DependencyMapController_GenerateCoarseMap_MaximumSet_Gen.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DependencyMapServiceMapextensionsScopeMapRequest'
        description: The content of the action request
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/vmwareSites/{siteName}/generateDetailedMap
  : post:
      operationId: microsoftAzureDependencymapcontrollerGeneratedetailedmap
      tags:
      - DependencyMapController
      description: API to generate detailed map for a selected machine.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                type: object
        '202':
          description: Resource operation accepted.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      x-ms-examples:
        DependencyMapController_GenerateDetailedMap_MaximumSet_Gen:
          $ref: ./examples/DependencyMapController_GenerateDetailedMap_MaximumSet_Gen.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DependencyMapServiceMapextensionsSingleMachineDetailedMapRequest'
        description: The content of the action request
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/vmwareSites/{siteName}/serverGroupMembers
  : post:
      operationId: microsoftAzureDependencymapcontrollerServergroupmembers
      tags:
      - DependencyMapController
      description: API to list server group members for the selected server group.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                type: object
        '202':
          description: Resource operation accepted.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      x-ms-examples:
        DependencyMapController_ServerGroupMembers_MaximumSet_Gen:
          $ref: ./examples/DependencyMapController_ServerGroupMembers_MaximumSet_Gen.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DependencyMapServiceMapextensionsServerGroupMembersRequest'
        description: The content of the action request
        required: true
components:
  schemas:
    DependencyMapServiceMapextensionsScopeMapRequest:
      type: object
      description: DependencyMap ServiceMapextensions Scope MapRequest
      properties:
        startTime:
          type: string
          format: date-time
          description: start time
        endTime:
          type: string
          format: date-time
          description: end time
        filters:
          $ref: '#/components/schemas/DependencyMapServiceMapextensionsDependencyMapRequestFilters'
          description: optional filters
    DependencyMapServiceMapextensionsServerGroupMembersRequest:
      type: object
      description: DependencyMap ServiceMap extensions ServerGroup Members Request
      properties:
        serverPort:
          type: integer
          format: int32
          description: port of server
        startTime:
          type: string
          format: date-time
          description: start time
        endTime:
          type: string
          format: date-time
          description: end time
        filters:
          $ref: '#/components/schemas/DependencyMapServiceMapextensionsDependencyMapRequestFilters'
          description: optional filters
    DependencyMapServiceMapextensionsDependencyMapRequestFilters:
      type: object
      description: DependencyMap Service Map extensions Dependency Map Request Filters
      properties:
        machineIds:
          type: array
          description: array of machine ids
          items:
            type: string
        processIds:
          type: array
          description: array of process Ids
          items:
            type: string
    DependencyMapServiceMapextensionsExportDependenciesRequest:
      type: object
      description: DependencyMap ServiceMap extensions ExportDependencies Request
      properties:
        startTime:
          type: string
          format: date-time
          description: start time
        endTime:
          type: string
          format: date-time
          description: end time
    DependencyMapServiceMapextensionsSingleMachineDetailedMapRequest:
      type: object
      description: DependencyMap ServiceMap extensions SingleMachine DetailedMap Request
      properties:
        machineId:
          type: string
          description: id of machine
        startTime:
          type: string
          format: date-time
          description: start time
        endTime:
          type: string
          format: date-time
          description: end time
        filters:
          $ref: '#/components/schemas/DependencyMapServiceMapextensionsDependencyMapRequestFilters'
          description: optional filters
    DependencyMapServiceMapextensionsClientGroupMembersRequest:
      type: object
      description: DependencyMap ServiceMap extensions Client GroupMembers Request
      properties:
        machineId:
          type: string
          description: id of machine
        processGroupName:
          type: string
          description: 'process group name '
        processName:
          type: string
          description: name of process
        startTime:
          type: string
          format: date-time
          description: start time
        endTime:
          type: string
          format: date-time
          description: end time
        filters:
          $ref: '#/components/schemas/DependencyMapServiceMapextensionsDependencyMapRequestFilters'
          description: optional filters
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
