openapi: 3.2.0
info:
  title: Microsoft Azure Account API
  x-refined-note:
  - x-typespec-generated differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Account across 5 of this provider''s published API definitions: dataplaneaccountclient-openapi-original.yml, datasharemanagementclient-openapi-original.yml, microsoftvoiceservicesacgprovisioningplatformapi-openapi-original.yml, microsoftvoiceservicesprovisioning-openapi-original.yml, purviewmanagementclient-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://purview.azure.com/account/
- url: https://management.azure.com
tags:
- name: Account
paths:
  /:
    get:
      tags:
      - Account
      description: Get an account
      operationId: microsoftAzureAccountsGetaccountproperties
      parameters:
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        Accounts_GetAccountProperties:
          $ref: ./examples/Accounts_GetAccountProperties.json
      summary: Microsoft Azure Get
    patch:
      tags:
      - Account
      description: Updates an account
      operationId: microsoftAzureAccountsUpdateaccountproperties
      parameters:
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        Accounts_UpdateAccountProperties:
          $ref: ./examples/Accounts_UpdateAccountProperties.json
      summary: Microsoft Azure Patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPlaneAccountUpdateParameters'
        required: true
    servers:
    - url: https://purview.azure.com/account/
  /listkeys:
    post:
      tags:
      - Account
      description: Lists the connection strings that allow connecting with the Managed Event Hub, if it is provisioned. Those connection strings are aimed to receive messages from the ATLAS_ENTITIES hub or to send messages to the ATLAS_HOOK hub.
      operationId: microsoftAzureAccountsGetaccesskeys
      parameters:
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessKeys'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        Accounts_GetAccessKeys:
          $ref: ./examples/Accounts_GetAccessKeys.json
      summary: Microsoft Azure Post Listkeys
    servers:
    - url: https://purview.azure.com/account/
  /regeneratekeys:
    post:
      tags:
      - Account
      description: Regenerates either the primary or secondary key of the Managed Event Hub, if it is provisioned.
      operationId: microsoftAzureAccountsRegenerateaccesskeys
      parameters:
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessKeys'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        Accounts_RegenerateAccessKeys:
          $ref: ./examples/Accounts_RegenerateAccessKeys.json
      summary: Microsoft Azure Post Regeneratekeys
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessKeyOptions'
        required: true
    servers:
    - url: https://purview.azure.com/account/
  /subscriptions/{subscriptionId}/providers/Microsoft.DataShare/accounts:
    get:
      tags:
      - Account
      summary: Microsoft Azure List Accounts In A Subscription
      description: List Accounts in Subscription
      operationId: microsoftAzureAccountsListbysubscription
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/api-version_2'
      - name: $skipToken
        in: query
        description: Continuation token
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountList'
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataShareError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Accounts_ListBySubscription:
          $ref: ./examples/Accounts_ListBySubscription.json
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}:
    get:
      tags:
      - Account
      summary: Microsoft Azure Get An Account Under A Resource Group
      description: Get an account
      operationId: microsoftAzureAccountsGet
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/accountName'
      - $ref: '#/components/parameters/api-version_2'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account_2'
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataShareError'
      x-ms-examples:
        Accounts_Get:
          $ref: ./examples/Accounts_Get.json
      security:
      - azure_auth:
        - user_impersonation
    put:
      tags:
      - Account
      summary: Microsoft Azure Create An Account In The Given Resource Group
      description: Create an account
      operationId: microsoftAzureAccountsCreate
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/accountName'
      - $ref: '#/components/parameters/api-version_2'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account_2'
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account_2'
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataShareError'
      x-ms-long-running-operation: true
      x-ms-examples:
        Accounts_Create:
          $ref: ./examples/Accounts_Create.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account_2'
        description: The account payload.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - Account
      summary: Microsoft Azure Delete An Account
      description: DeleteAccount
      operationId: microsoftAzureAccountsDelete
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/accountName'
      - $ref: '#/components/parameters/api-version_2'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
        '202':
          description: Accepted
        '204':
          description: Success
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataShareError'
      x-ms-long-running-operation: true
      x-ms-examples:
        Accounts_Delete:
          $ref: ./examples/Accounts_Delete.json
      security:
      - azure_auth:
        - user_impersonation
    patch:
      tags:
      - Account
      summary: Microsoft Azure Patch A Given Account
      description: Patch an account
      operationId: microsoftAzureAccountsUpdate
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/accountName'
      - $ref: '#/components/parameters/api-version_2'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account_2'
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataShareError'
      x-ms-examples:
        Accounts_Update:
          $ref: ./examples/Accounts_Update.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdateParameters'
        description: The account update parameters.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts:
    get:
      tags:
      - Account
      summary: Microsoft Azure List Accounts In A Resource Group
      description: List Accounts in ResourceGroup
      operationId: microsoftAzureAccountsListbyresourcegroup
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/api-version_2'
      - name: $skipToken
        in: query
        description: Continuation token
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountList'
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataShareError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Accounts_ListByResourceGroup:
          $ref: ./examples/Accounts_ListByResourceGroup.json
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /accounts:
    get:
      operationId: microsoftAzureAccountsList
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - in: query
        name: maxpagesize
        description: Maximum number of records to include in a single response. Defaults to 200, and must not exceed 500.
        schema:
          type: integer
          format: int32
      - in: query
        name: skip
        description: An offset into the collection of the first record to be returned.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsList'
        default:
          description: An error response object.
          headers:
            x-ms-error-code:
              description: Error code for specific error that occurred.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
      - Account
      description: Gets a list of account records. An account represents a customer to which you are providing service. Response pagination can be controlled with a combination of the maxpagesize and skip parameters. Limit the number of records in a response with the maxpagesize parameter. Specify the starting record using the skip parameter.
      x-ms-examples:
        Get a list of account records.:
          $ref: ./examples/GetAccounts.json
      summary: Microsoft Azure Get Accounts
      security:
      - OAuth2:
        - https://func-voiceservice-rp-prod-eastuseuap.azurewebsites.net/.default
  /accounts/{accountName}:
    delete:
      operationId: microsoftAzureAccountDelete
      parameters:
      - in: path
        name: accountName
        required: true
        description: Name of the account. Can only contain letters, numbers, underscores and dashes, and is case-sensitive. Can be up to 100 characters in length.
        schema:
          type: string
          maxLength: 100
          minLength: 1
          pattern: ^([A-Za-z0-9_-]+)$
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '204':
          description: No Content
        default:
          description: An error response object.
          headers:
            x-ms-error-code:
              description: Error code for specific error that occurred.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Delete an account:
          $ref: ./examples/DeleteAccount.json
      tags:
      - Account
      description: Deletes an account (representing a customer).
      summary: Microsoft Azure Delete Accounts Accountname
      security:
      - OAuth2:
        - https://func-voiceservice-rp-prod-eastuseuap.azurewebsites.net/.default
    get:
      operationId: microsoftAzureAccountGet
      parameters:
      - in: path
        name: accountName
        required: true
        description: Name of the account. Can only contain letters, numbers, underscores and dashes. Can be up to 100 characters in length.
        schema:
          type: string
          maxLength: 100
          minLength: 1
          pattern: ^([A-Za-z0-9_-]+)$
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: status
        in: query
        required: false
        description: Additionally return the provisioning state of the backends configured for this account (e.g. DNS subdomain provisioning for Microsoft Teams Direct Routing).
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountWithStatusResponse'
        default:
          description: An error response object.
          headers:
            x-ms-error-code:
              description: Error code for specific error that occurred.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Get information about an account:
          $ref: ./examples/GetAccount.json
      tags:
      - Account
      description: Gets the details of the specified account. An account represents a customer.
      summary: Microsoft Azure Get Accounts Accountname
      security:
      - OAuth2:
        - https://func-voiceservice-rp-prod-eastuseuap.azurewebsites.net/.default
    put:
      operationId: microsoftAzureAccountCreateorreplace
      parameters:
      - in: path
        name: accountName
        required: true
        description: Name of the account. Can only contain letters, numbers, underscores and dashes, and is case-sensitive. Can be up to 100 characters in length.
        schema:
          type: string
          maxLength: 100
          minLength: 1
          pattern: ^([A-Za-z0-9_-]+)$
      - $ref: '#/components/parameters/ApiVersionParameter'
      - in: header
        name: If-Match
        description: Makes a request conditional on a matching etag.
        schema:
          type: string
      - in: header
        name: If-None-Match
        description: Makes a request conditional on a non-matching etag.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
        default:
          description: An error response object.
          headers:
            x-ms-error-code:
              description: Error code for specific error that occurred.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Put new information about an account:
          $ref: ./examples/PutAccount.json
      tags:
      - Account
      description: Creates or replaces the specified account, representing a customer. In the body of the request, include additional service-specific configuration. For example, for Microsoft Teams Direct Routing, specify the customer-specific subdomain label and DNS TXT values from the customer's Microsoft 365 configuration.
      summary: Microsoft Azure Put Accounts Accountname
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountDetails'
        description: New details of the account to create or replace.
        required: true
      security:
      - OAuth2:
        - https://func-voiceservice-rp-prod-eastuseuap.azurewebsites.net/.default
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Purview/accounts:
    get:
      tags:
      - Account
      summary: Microsoft Azure Gets The Accounts Resources By Resource Group
      description: List accounts in ResourceGroup
      operationId: microsoftAzureAccountsListbyresourcegroup
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/api-version_3'
      - name: $skipToken
        in: query
        description: The skip token.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountList_2'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel_2'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Accounts_ListByResourceGroup:
          $ref: ./examples/Accounts_ListByResourceGroup.json
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.Purview/accounts:
    get:
      tags:
      - Account
      summary: Microsoft Azure Gets The Accounts Resources By Subscription
      description: List accounts in Subscription
      operationId: microsoftAzureAccountsListbysubscription
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/api-version_3'
      - name: $skipToken
        in: query
        description: The skip token.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountList_2'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel_2'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Accounts_ListBySubscription:
          $ref: ./examples/Accounts_ListBySubscription.json
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Purview/accounts/{accountName}:
    get:
      tags:
      - Account
      summary: Microsoft Azure Gets The Account Resource
      description: Get an account
      operationId: microsoftAzureAccountsGet
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/accountName_2'
      - $ref: '#/components/parameters/api-version_3'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account_3'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel_2'
      x-ms-examples:
        Accounts_Get:
          $ref: ./examples/Accounts_Get.json
      security:
      - azure_auth:
        - user_impersonation
    put:
      tags:
      - Account
      summary: Microsoft Azure Create Or Update An Account Resource
      description: Creates or updates an account
      operationId: microsoftAzureAccountsCreateorupdate
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/accountName_2'
      - $ref: '#/components/parameters/api-version_3'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account_3'
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account_3'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel_2'
      x-ms-long-running-operation: true
      x-ms-examples:
        Accounts_CreateOrUpdate:
          $ref: ./examples/Accounts_CreateOrUpdate.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account_3'
        description: The account.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - Account
      summary: Microsoft Azure Deletes The Account Resource
      description: Deletes an account resource
      operationId: microsoftAzureAccountsDelete
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/accountName_2'
      - $ref: '#/components/parameters/api-version_3'
      responses:
        '200':
          description: Success
        '202':
          description: Accepted
        '204':
          description: Success
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel_2'
      x-ms-long-running-operation: true
      x-ms-examples:
        Accounts_Delete:
          $ref: ./examples/Accounts_Delete.json
      security:
      - azure_auth:
        - user_impersonation
    patch:
      tags:
      - Account
      summary: Microsoft Azure Patches The Account Resource
      description: Updates an account
      operationId: microsoftAzureAccountsUpdate
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/accountName_2'
      - $ref: '#/components/parameters/api-version_3'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account_3'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account_3'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel_2'
      x-ms-long-running-operation: true
      x-ms-examples:
        Accounts_Update:
          $ref: ./examples/Accounts_Update.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdateParameters_2'
        description: The account update parameters.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Purview/accounts/{accountName}/listkeys
  : post:
      tags:
      - Account
      summary: Microsoft Azure Lists The Keys Asynchronous
      description: List the authorization keys associated with this account.
      operationId: microsoftAzureAccountsListkeys
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/accountName_2'
      - $ref: '#/components/parameters/api-version_3'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessKeys'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel_2'
      x-ms-examples:
        Accounts_ListKeys:
          $ref: ./examples/Accounts_ListKeys.json
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
components:
  schemas:
    PrivateEndpoint:
      description: A private endpoint class.
      type: object
      properties:
        id:
          description: The private endpoint identifier.
          type: string
    AccountStatus:
      description: The account status.
      type: object
      properties:
        accountProvisioningState:
          description: Gets the account status code.
          enum:
          - Unknown
          - Creating
          - Updating
          - Moving
          - Deleting
          - SoftDeleting
          - SoftDeleted
          - Failed
          - Succeeded
          - Canceled
          type: string
          readOnly: true
          x-ms-enum:
            name: AccountProvisioningState
            modelAsString: true
        errorDetails:
          $ref: '#/components/schemas/ErrorModel'
    PrivateEndpointConnection:
      description: A private endpoint connection class.
      type: object
      properties:
        id:
          description: Gets or sets the identifier.
          type: string
          readOnly: true
        name:
          description: Gets or sets the name.
          type: string
          readOnly: true
        properties:
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties'
        systemData:
          $ref: '#/components/schemas/SystemData'
        type:
          description: Gets or sets the type.
          type: string
          readOnly: true
    AccessKeys:
      description: The Account access keys.
      type: object
      properties:
        atlasKafkaPrimaryEndpoint:
          description: Gets or sets the primary connection string.
          type: string
        atlasKafkaSecondaryEndpoint:
          description: Gets or sets the secondary connection string.
          type: string
    AccountProperties:
      description: The account properties
      type: object
      properties:
        accountStatus:
          $ref: '#/components/schemas/AccountStatus'
        cloudConnectors:
          $ref: '#/components/schemas/CloudConnectors'
        createdAt:
          format: date-time
          description: Gets the time at which the entity was created.
          type: string
          readOnly: true
        createdBy:
          description: Gets the creator of the entity.
          type: string
          readOnly: true
        createdByObjectId:
          description: Gets the creators of the entity's object id.
          type: string
          readOnly: true
        defaultDomain:
          description: Gets or sets the default domain in the account.
          type: string
          readOnly: true
        endpoints:
          $ref: '#/components/schemas/AccountEndpoints'
        friendlyName:
          description: Gets or sets the friendly name.
          type: string
          readOnly: true
        ingestionStorage:
          $ref: '#/components/schemas/IngestionStorage'
        managedEventHubState:
          description: Gets or sets the state of managed eventhub. If enabled managed eventhub will be created, if disabled the managed eventhub will be removed.
          default: NotSpecified
          enum:
          - NotSpecified
          - Disabled
          - Enabled
          type: string
          x-ms-enum:
            name: ManagedEventHubState
            modelAsString: true
        managedResourceGroupName:
          description: Gets or sets the managed resource group name
          type: string
        managedResources:
          $ref: '#/components/schemas/ManagedResources'
        managedResourcesPublicNetworkAccess:
          description: Gets or sets the public network access for managed resources
          enum:
          - NotSpecified
          - Enabled
          - Disabled
          type: string
          x-ms-enum:
            name: PublicNetworkAccess
            modelAsString: true
        mergeInfo:
          $ref: '#/components/schemas/AccountMergeInfo'
        privateEndpointConnections:
          description: Gets the private endpoint connections information.
          type: array
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection'
          readOnly: true
        provisioningState:
          description: Gets or sets the state of the provisioning.
          enum:
          - Unknown
          - Creating
          - Moving
          - Deleting
          - SoftDeleting
          - SoftDeleted
          - Failed
          - Succeeded
          - Canceled
          type: string
          readOnly: true
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
        publicNetworkAccess:
          description: Gets or sets the public network access.
          default: Enabled
          enum:
          - NotSpecified
          - Enabled
          - Disabled
          type: string
          x-ms-enum:
            name: PublicNetworkAccess
            modelAsString: true
    IngestionStorage:
      description: Ingestion Storage Account Info
      type: object
      properties:
        id:
          description: Gets or sets the Id.
          type: string
          readOnly: true
        primaryEndpoint:
          description: Gets or sets the primary endpoint.
          type: string
          readOnly: true
        publicNetworkAccess:
          description: Gets or sets the public network access setting
          enum:
          - NotSpecified
          - Enabled
          - Disabled
          type: string
          x-ms-enum:
            name: PublicNetworkAccess
            modelAsString: true
    PrivateEndpointConnectionProperties:
      description: A private endpoint connection properties class.
      type: object
      properties:
        privateEndpoint:
          $ref: '#/components/schemas/PrivateEndpoint'
        privateLinkServiceConnectionState:
          $ref: '#/components/schemas/PrivateLinkServiceConnectionState'
        provisioningState:
          description: The provisioning state.
          type: string
          readOnly: true
    DataPlaneAccountUpdateParameters:
      description: The account properties that can be updated through data plane.
      type: object
      properties:
        friendlyName:
          description: The friendly name for the azure resource.
          type: string
    PrivateLinkServiceConnectionState:
      description: The private link service connection state.
      type: object
      properties:
        actionsRequired:
          description: The required actions.
          type: string
        description:
          description: The description.
          type: string
        status:
          description: The status.
          enum:
          - Unknown
          - Pending
          - Approved
          - Rejected
          - Disconnected
          type: string
          x-ms-enum:
            name: PrivateEndpointConnectionStatus
            modelAsString: true
    AccountMergeInfo:
      description: The public Account Merge Info model.
      type: object
      properties:
        accountLocation:
          description: The account location of the *other* account in the merge operation.
          type: string
          readOnly: true
        accountName:
          description: The account name of the *other* account in the merge operation.
          type: string
          readOnly: true
        accountResourceGroupName:
          description: The resource group name of the *other* account in the merge operation.
          type: string
          readOnly: true
        accountSubscriptionId:
          description: The subscription id of the *other* account in the merge operation.
          type: string
          readOnly: true
        mergeStatus:
          description: The status of the merge operation.
          enum:
          - Succeeded
          - Failed
          - InProgress
          type: string
          readOnly: true
          x-ms-enum:
            name: MergeStatus
            modelAsString: true
        typeOfAccount:
          description: The type of account this account is for the merge operation.
          enum:
          - Primary
          - Secondary
          type: string
          readOnly: true
          x-ms-enum:
            name: MergeAccountType
            modelAsString: true
    AccountEndpoints:
      description: The account endpoints
      type: object
      properties:
        catalog:
          description: Gets the catalog endpoint.
          type: string
          readOnly: true
        scan:
          description: Gets the scan endpoint.
          type: string
          readOnly: true
    ErrorModel:
      description: Default error model
      type: object
      properties:
        code:
          description: Gets or sets the code.
          type: string
          readOnly: true
        details:
          description: Gets or sets the details.
          type: array
          items:
            $ref: '#/components/schemas/ErrorModel'
          readOnly: true
        message:
          description: Gets or sets the messages.
          type: string
          readOnly: true
        target:
          description: Gets or sets the target.
          type: string
          readOnly: true
    ManagedResources:
      description: The managed resources in customer subscription.
      type: object
      properties:
        eventHubNamespace:
          description: Gets the managed event hub namespace resource identifier.
          type: string
          readOnly: true
        resourceGroup:
          description: Gets the managed resource group resource identifier. This resource group will host resource dependencies for the account.
          type: string
          readOnly: true
        storageAccount:
          description: Gets the managed storage account resource identifier.
          type: string
          readOnly: true
    AccessKeyOptions:
      description: A access key options used for regeneration.
      type: object
      properties:
        keyType:
          description: The access key type.
          enum:
          - PrimaryAtlasKafkaKey
          - SecondaryAtlasKafkaKey
          type: string
          x-ms-enum:
            name: AccessKeyType
            modelAsString: true
    Account:
      description: Account resource
      type: object
      properties:
        id:
          description: Gets or sets the identifier.
          type: string
          readOnly: true
        identity:
          $ref: '#/components/schemas/Identity'
        location:
          description: Gets or sets the location.
          type: string
        name:
          description: Gets or sets the name.
          type: string
          readOnly: true
        properties:
          $ref: '#/components/schemas/AccountProperties'
        sku:
          $ref: '#/components/schemas/AccountSku'
        systemData:
          $ref: '#/components/schemas/SystemData'
        tags:
          description: Tags on the azure resource.
          type: object
          additionalProperties:
            type: string
        type:
          description: Gets or sets the type.
          type: string
          readOnly: true
    SystemData:
      description: Metadata pertaining to creation and last modification of the resource.
      type: object
      properties:
        createdAt:
          format: date-time
          description: The timestamp of resource creation (UTC).
          type: string
          readOnly: true
        createdBy:
          description: The identity that created the resource.
          type: string
          readOnly: true
        createdByType:
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          type: string
          readOnly: true
          x-ms-enum:
            name: IdentityType
            modelAsString: true
        lastModifiedAt:
          format: date-time
          description: The timestamp of the last modification the resource (UTC).
          type: string
          readOnly: true
        lastModifiedBy:
          description: The identity that last modified the resource.
          type: string
          readOnly: true
        lastModifiedByType:
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          type: string
          readOnly: true
          x-ms-enum:
            name: IdentityType
            modelAsString: true
    UserAssignedIdentity:
      description: Uses client ID and Principal ID
      type: object
      properties:
        clientId:
          description: Gets or Sets Client ID
          type: string
          readOnly: true
        principalId:
          description: Gets or Sets Principal ID
          type: string
          readOnly: true
    CloudConnectors:
      description: External Cloud Service connectors
      type: object
      properties:
        awsExternalId:
          description: 'AWS external identifier.

            Configured in AWS to allow use of the role arn used for scanning'
          type: string
          readOnly: true
    Identity:
      description: The Managed Identity of the resource
      type: object
      properties:
        principalId:
          description: Service principal object Id
          type: string
          readOnly: true
        tenantId:
          description: Tenant Id
          type: string
          readOnly: true
        type:
          description: Identity Type
          enum:
          - None
          - SystemAssigned
          - UserAssigned
          type: string
          x-ms-enum:
            name: ManagedIdentityType
            modelAsString: true
        userAssignedIdentities:
          description: User Assigned Identities
          type: object
          additionalProperties:
            $ref: '#/components/schemas/UserAssignedIdentity'
    AccountSku:
      description: The Sku
      type: object
      properties:
        capacity:
          format: int32
          description: Gets or sets the sku capacity.
          type: integer
        name:
          description: Gets or sets the sku name.
          enum:
          - Standard
          - Free
          type: string
          x-ms-enum:
            name: AccountSkuName
            modelAsString: true
    ErrorResponseModel:
      description: Default error response model
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorModel'
    OperationResponse:
      description: Response for long running operation
      required:
      - status
      type: object
      properties:
        endTime:
          format: date-time
          description: start time
          type: string
        error:
          $ref: '#/components/schemas/DataShareErrorInfo'
          description: The error property when status is failed.
        startTime:
          format: date-time
          description: start time
          type: string
        status:
          description: Operation state of the long running operation.
          enum:
          - Accepted
          - InProgress
          - TransientFailure
          - Succeeded
          - Failed
          - Canceled
          type: string
          x-ms-enum:
            name: status
            modelAsString: true
    AccountUpdateParameters:
      description: Update parameters for accounts
      type: object
      properties:
        tags:
          description: Tags on the azure resource.
          type: object
          additionalProperties:
            type: string
    AccountList:
      description: List response for get Accounts.
      required:
      - value
      type: object
      properties:
        nextLink:
          description: The Url of next result page.
          type: string
        value:
          description: Collection of items of type DataTransferObjects.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/Account_2'
    DataShareError:
      description: The data share error model.
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/DataShareErrorInfo'
          description: The data share error body
    Identity_2:
      description: Identity of resource
      type: object
      properties:
        principalId:
          description: service principal Id
          type: string
          readOnly: true
        tenantId:
          description: Tenant Id
          type: string
          readOnly: true
        type:
          description: Identity Type
          enum:
          - SystemAssigned
          type: string
          x-ms-enum:
            name: type
            modelAsString: true
    Account_2:
      description: An account data transfer object.
      required:
      - identity
      type: object
      allOf:
      - $ref: '#/components/schemas/DefaultDto'
      properties:
        identity:
          $ref: '#/components/schemas/Identity_2'
          description: Identity Info on the Account
        properties:
          $ref: '#/components/schemas/AccountProperties_2'
          description: Properties on the account
          x-ms-client-flatten: true
    ProxyDto:
      description: Base data transfer object implementation for proxy resources.
      type: object
      properties:
        id:
          description: The resource id of the azure resource
          type: string
          readOnly: true
        name:
          description: Name of the azure resource
          type: string
          readOnly: true
        type:
          description: Type of the azure resource
          type: string
          readOnly: true
      x-ms-azure-resource: true
    AccountProperties_2:
      description: Account property bag.
      type: object
      properties:
        createdAt:
          format: date-time
          description: Time at which the account was created.
          type: string
          readOnly: true
        provisioningState:
          description: Provisioning state of the Account
          enum:
          - Succeeded
          - Creating
          - Deleting
          - Moving
          - Failed
          type: string
          readOnly: true
          x-ms-enum:
            name: provisioningState
            modelAsString: true
        userEmail:
          description: Email of the user who created the resource
          type: string
          readOnly: true
        userName:
          description: Name of the user who created the resource
          type: string
          readOnly: true
    DataShareErrorInfo:
      description: The data share error body model.
      required:
      - code
      - message
      type: object
      properties:
        code:
          description: Code of the error
          type: string
        details:
          description: Nested details of the error model
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/DataShareErrorInfo'
        message:
          description: Message of the error
          type: string
        target:
          description: Target of the error
          type: string
    DefaultDto:
      description: Base data transfer object implementation for default resources.
      type: object
      allOf:
      - $ref: '#/components/schemas/ProxyDto'
      properties:
        location:
          description: Location of the azure resource.
          type: string
        tags:
          description: Tags on the azure resource.
          type: object
          additionalProperties:
            type: string
    AccountDetails:
      additionalProperties: false
      properties:
        directRouting:
          $ref: '#/components/schemas/TeamsDrConfig'
      type: object
      description: Details of the account.
    SubdomainProvisioningState:
      additionalProperties: false
      properties:
        subdomainTokens:
          $ref: '#/components/schemas/TeamsDrSubdomainTokens'
        subdomainStatus:
          $ref: '#/components/schemas/SubdomainProvisioningStatus'
      required:
      - subdomainStatus
      type: object
      description: Status of DNS configuration and the DNS TXT values for the DNS records
    SubdomainProvisioningStatus:
      enum:
      - Provisioned
      - NotProvisioned
      - Inconsistent
      type: string
      description: Status of DNS configuration. Azure Communications Gateway generates DNS records to Microsoft 365 to verify that the customer-specific domain name is associated with the correct customer tenant.
      x-ms-enum:
        name: SubdomainProvisioningStatus
        modelAsString: true
        values:
        - value: Provisioned
          description: DNS state is provisioned.
          name: Provisioned
        - value: NotProvisioned
          description: DNS state has not been provisioned.
          name: NotProvisioned
        - value: Inconsistent
          description: The programmed DNS state doesn't match the requested programming.
          name: Inconsistent
    AccountsList:
      additionalProperties: false
      properties:
        value:
          items:
            $ref: '#/components/schemas/AccountResponse'
          type: array
          description: List of account records.
        nextLink:
          type: string
          format: uri
          description: Link to the next page of results.
      required:
      - value
      type: object
      description: Paginated list of records for an account.
    TeamsDrSubdomainTokens:
      additionalProperties: false
      properties:
        region1Token:
          pattern: ^([A-Za-z0-9=_-]+)$
          minLength: 1
          maxLength: 100
          type: string
          description: DNS TXT value for the first region, as provided by the customer from their Microsoft 365 Admin Center. Can only contain letters, numbers, underscores and dashes. Can be up to 100 characters in length.
        region2Token:
          pattern: ^([A-Za-z0-9=_-]+)$
          minLength: 1
          maxLength: 100
          type: string
          description: DNS TXT value for the first region, as provided by the customer from their Microsoft 365 Admin Center. Can only contain letters, numbers, underscores and dashes. Can be up to 100 characters in length.
      required:
      - region1Token
      - region2Token
      type: object
      description: DNS TXT values (tokens) for the account.
    InnerError:
      title: More specific information on an error object.
      type: object
      properties:
        code:
          description: A machine readable error code.
          type: string
        innererror:
          description: Inner error details if they exist.
          $ref: '#/components/schemas/InnerError'
    AccountResponse:
      additionalProperties: false
      properties:
        etag:
          type: string
          description: ETag for use with If-Match headers for optimistic concurrency.
        name:
          minLength: 1
          type: string
          description: Name of the account.
        details:
          $ref: '#/components/schemas/AccountDetails'
      required:
      - name
      type: object
      description: Details of the account as returned on a GET request.
    ErrorResponse:
      title: Error details.
      description: Contains details when the response code indicates an error.
      type: object
      properties:
        error:
          description: The error details.
          $ref: '#/components/schemas/ErrorDetail'
      required:
      - error
    AccountWithStatusResponse:
      additionalProperties: false
      properties:
        etag:
          type: string
          description: ETag for use with If-Match headers for optimistic concurrency.
        name:
          minLength: 1
          type: string
          description: Name of the account.
        details:
          $ref: '#/components/schemas/AccountDetails'
        directRoutingProvisioningState:
          $ref: '#/components/schemas/SubdomainProvisioningState'
      required:
      - name
      type: object
      description: Details of the account and its DNS provisioning status as returned on a GET request.
    ErrorDetail:
      title: The code and message for an error.
      type: object
      properties:
        code:
          description: A machine readable error code.
          type: string
        message:
          description: A human readable representation of the error.
          type: string
        details:
          description: An array of details about specific errors that led to this error.
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
        innererror:
          description: An object containing more specific information about the error.
          $ref: '#/components/schemas/InnerError'
        additionalProperties:
          description: Additional properties that can be provided about the error.
      required:
      - code
      - message
    TeamsDrConfig:
      additionalProperties: false
      properties:
        callScreening:
          type: boolean
          description: Enables/disables caller ID screening for the account. Caller ID screening is enabled by default.
        subdomain:
          pattern: ^([A-Za-z0-9_-]+)$
          minLength: 1
          maxLength: 10
          type: string
          description: Customer-specific domain name label. Can only contain letters, numbers, underscores and dashes. Can be up to 10 characters in length.
        subdomainTokens:
          $ref: '#/components/schemas/TeamsDrSubdomainTokens'
      required:
      - callScreening
      - subdomain
      - subdomainTokens
      type: object
      description: Account configuration relating to Microsoft Teams Direct Routing.
    TeamsDirectRoutingAccountConfig:
      type: object
      description: Configuration specific to Teams Direct Routing.
      properties:
        callScreening:
          type: boolean
          description: Enables/disables caller ID screening for the account. Caller ID screening is enabled by default.
          x-ms-mutability:
          - read
          - update
          - create
        subdomain:
          type: string
          description: Enterprise-specific domain name label. Can only contain letters, numbers, underscores and dashes. Can be up to 10 characters in length.
          minLength: 1
          maxLength: 10
          pattern: ^([A-Za-z0-9_-]+)$
          x-ms-mutability:
          - read
          - update
          - create
        subdomainTokens:
          $ref: '#/components/schemas/TeamsDirectRoutingSubdomainTokens'
          description: DNS TXT value for the Direct Routing regions, as provided by the customer from their Microsoft 365 Admin Center.
          x-ms-mutability:
          - read
          - update
          - create
      required:
      - callScreening
      - subdomain
      - subdomainTokens
    AccountServiceDetails:
      type: object
      description: Details of the backend services associated with this Account.
      properties:
        teamsTenantId:
          type: string
          description: The Microsoft Teams Tenant ID of the Account. This can only be updated if no Operator Connect or Teams Phone Mobile numbers are configured in this account.
          x-ms-mutability:
          - read
          - update
          - create
        teamsOperatorConnect:
          $ref: '#/components/schemas/TeamsOperatorConnectAccountDetails'
          description: Details for the Teams Operator Connect service on this Account.
          x-ms-mutability:
          - read
          - update
          - create
        teamsDirectRouting:
          $ref: '#/components/schemas/TeamsDirectRoutingAccountDetails'
          description: Details for the Teams Direct Routing service on this Account.
          x-ms-mutability:
          - read
          - update
          - create
        teamsPhoneMobile:
          $ref: '#/components/schemas/TeamsPhoneMobileAccountDetails'
          description: Details for the Teams Phone Mobile service on this Account.
          x-ms-mutability:
          - read
          - update
          - create
        zoomPhoneCloudPeering:
          $ref: '#/components/schemas/ZoomPhoneCloudPeeringAccountDetails'
          description: Details for the Zoom Phone Cloud Peering service on this Account.
          x-ms-mutability:
          - read
          - update
          - create
        azureOperatorCallProtection:
          $ref: '#/components/schemas/AzureOperatorCallProtectionAccountDetails'
          description: Details for the Azure Operator Call Protection service on this Account.
          x-ms-mutability:
          - read
          - update
          - create
    ZoomPhoneCloudPeeringAccountDetails:
      type: object
      description: Account details specific to Zoom Phone Cloud Peering.
      properties:
        syncEnabled:
          type: boolean
          description: Boolean indicating if data is being provisioned through the backend service.
          x-ms-mutability:
          - read
          - update
          - create
        enabled:
          type: boolean
          description: Boolean indicating if the service is enabled on this Account.
          x-ms-mutability:
          - read
          - update
          - create
        numberCount:
          type: integer
          format: int64
          description: The count of telephone numbers associated with this account that have this backend service enabled.
          readOnly: true
      required:
      - syncEnabled
      - enabled
    PagedAccountResource:
      type: object
      description: Paged collection of AccountResource items
      properties:
        value:
          type: array
          description: The AccountResource items on this page
          items:
            $ref: '#/components/schemas/AccountResource'
          x-ms-identifiers: []
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    ServiceProvisioningStatus:
      type: string
      description: The provisioning states of an object on any relevant backend service.
      enum:
      - pending
      - synced
      - failed
      x-ms-enum:
        name: ServiceProvisioningStatus
        modelAsString: true
        values:
        - name: pending
          value: pending
          description: The object is pending provisioning.
        - name: synced
          value: synced
          description: The object has been synced with the relevant backend service.
        - name: failed
          value: failed
          description: The object provisioning operation failed with the relevant backend service.
    TeamsOperatorConnectAccountDetails:
      type: object
      description: Account details specific to Teams Operator Connect on this Account.
      properties:
        syncEnabled:
          type: boolean
          description: Boolean indicating if data is being provisioned through the backend service.
          x-ms-mutability:
          - read
          - update
          - create
        enabled:
          type: boolean
          description: Boolean indicating if the service is enabled on this Account.
          x-ms-mutability:
          - read
          - update
          - create
        numberCount:
          type: integer
          format: int64
          description: The count of telephone numbers associated with this account that have this backend service enabled.
          readOnly: true
      required:
      - syncEnabled
      - enabled
    TeamsDirectRoutingSubdomainTokens:
      type: object
      description: DNS TXT value for the region, as provided by the enterprise admin from their Microsoft 365 Admin Center. Can only contain letters, numbers, underscores and dashes. Can be up to 100 characters in length.
      properties:
        region1Token:
          type: string
          description: DNS TXT value for the first region, as provided by the enterprise admin from their Microsoft 365 Admin Center. Can only contain letters, numbers, underscores and dashes. Can be up to 100 characters in length.
          minLength: 1
          maxLength: 100
          pattern: ^([A-Za-z0-9=_-]+)$
          x-ms-mutability:
          - read
          - update
          - create
        region2Token:
          type: string
          description: DNS TXT value for the second region, as provided by the enterprise admin from their Microsoft 365 Admin Center. Can only contain letters, numbers, underscores and dashes. Can be up to 100 characters in length.
          minLength: 1
          maxLength: 100
          pattern: ^([A-Za-z0-9=_-]+)$
          x-ms-mutability:
          - read
          - update
          - create
      required:
      - region1Token
      - region2Token
    Azure.Core.Foundations.Error:
      type: object
      description: The error object.
      properties:
        code:
          type: string
          description: One of a server-defined set of error codes.
        message:
          type: string
          description: A human-readable representation of the error.
        target:
          type: string
          description: The target of the error.
        details:
          type: array
          description: An array of details about specific errors that led to this reported error.
          items:
            $ref: '#/components/schemas/Azure.Core.Foundations.Error'
          x-ms-identifiers: []
        innererror:
          $ref: '#/components/schemas/Azure.Core.Foundations.InnerError'
          description: An object containing more specific information than the current object about the error.
      required:
      - code
      - message
    TeamsDirectRoutingSubdomainProvisioningStatus:
      type: string
      description: Possible values for DNS provisioning state of Teams Direct Routing domains
      enum:
      - provisioned
      - notProvisioned
      - inconsistent
      x-ms-enum:
        name: TeamsDirectRoutingSubdomainProvisioningStatus
        modelAsString: true
        values:
        - name: provisioned
          value: provisioned
          description: The DNS provisioning state Provisioned.
        - name: notProvisioned
          value: notProvisioned
          description: The DNS provisioning state Not Provisioned.
        - name: inconsistent
          value: inconsistent
          description: The DNS provisioning state Inconsistent.
    AccountResource:
      type: object
      description: An account represents a group of numbers, typically associated with an enterprise.
      properties:
        serviceProvisioningStatus:
          $ref: '#/components/schemas/ServiceProvisioningStatus'
          description: The status of the provisioning action associated with this resource.
          readOnly: true
        serviceProvisioningErrors:
          type: array
          description: Any errors pertaining to the provisioning of this resource.
          items:
            $ref: '#/components/schemas/Azure.Core.Foundations.Error'
          readOnly: true
          x-ms-identifiers: []
        name:
          type: string
          description: Name of the account.
          minLength: 1
          maxLength: 100
          pattern: ^([A-Za-z0-9_-]+)$
          x-ms-mutability:
          - read
          - update
          - create
        correlationId:
          type: string
          description: A user defined identifier used for correlating with external systems.
          x-ms-mutability:
          - read
          - update
          - create
        serviceDetails:
          $ref: '#/components/schemas/AccountServiceDetails'
          description: The details of the account.
          x-ms-mutability:
          - read
          - update
          - create
      required:
      - name
    TeamsPhoneMobileAccountDetails:
      type: object
      description: Account details specific to Teams Phone Mobile.
      properties:
        syncEnabled:
          type: boolean
          description: Boolean indicating if data is being provisioned through the backend service.
          x-ms-mutability:
          - read
          - update
          - create
        enabled:
          type: boolean
          description: Boolean indicating if the service is enabled on this Account.
          x-ms-mutability:
          - read
          - update
          - create
        numberCount:
          type: integer
          format: int64
          description: The count of telephone numbers associated with this account that have this backend service enabled.
          readOnly: true
      required:
      - syncEnabled
      - enabled
    Azure.Core.Foundations.InnerError:
      type: object
      description: An object containing more specific information about the error. As per Microsoft One API guidelines - https://github.com/Microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses.
      properties:
        code:
          type: string
          description: One of a server-defined set of error codes.
        innererror:
          $ref: '#/components/schemas/Azure.Core.Foundations.InnerError'
          description: Inner error.
    Azure.Core.Foundations.ErrorResponse:
      type: object
      description: A response containing error details.
      properties:
        error:
          $ref: '#/components/schemas/Azure.Core.Foundations.Error'
          description: The error object.
      required:
      - error
    TeamsDirectRoutingAccountDetails:
      type: object
      description: Account details specific to Teams Direct Routing on this Account.
      properties:
        syncEnabled:
          type: boolean
          description: Boolean indicating if data is being provisioned through the backend service.
          x-ms-mutability:
          - read
          - update
          - create
        enabled:
          type: boolean
          description: Boolean indicating if the service is enabled on this Account.
          x-ms-mutability:
          - read
          - update
          - create
        numberCount:
          type: integer
          format: int64
          description: The count of telephone numbers associated with this account that have this backend service enabled.
          readOnly: true
        configuration:
          $ref: '#/components/schemas/TeamsDirectRoutingAccountConfig'
          description: The configuration for Teams Direct Routing on this account.
          x-ms-mutability:
          - read
          - update
          - create
        subdomainStatus:
          $ref: '#/components/schemas/TeamsDirectRoutingSubdomainProvisioningStatus'
          description: The provisioning status of the domains.
          readOnly: true
      required:
      - syncEnabled
      - enabled
      - subdomainStatus
    AzureOperatorCallProtectionAccountDetails:
      type: object
      description: Account details specific to Azure Operator Call Protection.
      properties:
        enabled:
          type: boolean
          description: Boolean indicating if the service is enabled on this Account.
          x-ms-mutability:
          - read
          - update
          - create
        numberCount:
          type: integer
          format: int64
          description: The count of telephone numbers associated with this account that have this backend service enabled.
          readOnly: true
      required:
      - enabled
    AccountUpdateParameters_2:
      description: The account update properties.
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/AccountProperties_3'
          description: The account properties.
        tags:
          description: Tags on the azure resource.
          type: object
          additionalProperties:
            type: string
    PrivateEndpointConnection_2:
      description: A private endpoint connection class.
      type: object
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      properties:
        properties:
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties_2'
          description: The connection identifier.
          x-ms-client-flatten: true
    AccountProperties_3:
      description: The account properties
      type: object
      properties:
        cloudConnectors:
          $ref: '#/components/schemas/CloudConnectors_2'
          description: 'Cloud connectors.

            External cloud identifier used as part of scanning configuration.'
        createdAt:
          format: date-time
          description: Gets the time at which the entity was created.
          type: string
          readOnly: true
        createdBy:
          description: Gets the creator of the entity.
          type: string
          readOnly: true
        createdByObjectId:
          description: Gets the creators of the entity's object id.
          type: string
          readOnly: true
        endpoints:
          description: The URIs that are the public endpoints of the account.
          allOf:
          - $ref: '#/components/schemas/AccountEndpoints_2'
          readOnly: true
        friendlyName:
          description: Gets or sets the friendly name.
          type: string
          readOnly: true
        managedResourceGroupName:
          description: Gets or sets the managed resource group name
          type: string
          x-ms-mutability:
          - read
          - create
        managedResources:
          description: Gets the resource identifiers of the managed resources.
          allOf:
          - $ref: '#/components/schemas/ManagedResources'
          readOnly: true
        privateEndpointConnections:
          description: Gets the private endpoint connections information.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection_2'
          readOnly: true
        provisioningState:
          description: Gets or sets the state of the provisioning.
          enum:
          - Unknown
          - Creating
          - Moving
          - Deleting
          - SoftDeleting
          - SoftDeleted
          - Failed
          - Succeeded
          - Canceled
          type: string
          readOnly: true
          x-ms-enum:
            name: provisioningState
            modelAsString: true
        publicNetworkAccess:
          description: Gets or sets the public network access.
          default: Enabled
          enum:
          - NotSpecified
          - Enabled
          - Disabled
          type: string
          x-ms-enum:
            name: publicNetworkAccess
            modelAsString: true
        systemData:
          description: Metadata pertaining to creation and last modification of the resource.
          allOf:
          - $ref: '#/components/schemas/SystemData_2'
          readOnly: true
    PrivateEndpointConnectionProperties_2:
      description: A private endpoint connection properties class.
      type: object
      properties:
        privateEndpoint:
          $ref: '#/components/schemas/PrivateEndpoint'
          description: The private endpoint information.
        privateLinkServiceConnectionState:
          $ref: '#/components/schemas/PrivateLinkServiceConnectionState_2'
          description: The private link service connection state.
        provisioningState:
          description: The provisioning state.
          type: string
          readOnly: true
    ProxyResource:
      description: Proxy Azure Resource
      type: object
      properties:
        id:
          description: Gets or sets the identifier.
          type: string
          readOnly: true
        name:
          description: Gets or sets the name.
          type: string
          readOnly: true
        type:
          description: Gets or sets the type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    AccountList_2:
      description: Paged list of account resources
      required:
      - value
      type: object
      properties:
        count:
          format: int64
          description: Total item count.
          type: integer
        nextLink:
          description: The Url of next result page.
          type: string
        value:
          description: Collection of items of type results.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/Account_3'
    PrivateLinkServiceConnectionState_2:
      description: The private link service connection state.
      type: object
      properties:
        actionsRequired:
          description: The required actions.
          type: string
        description:
          description: The description.
          type: string
        status:
          description: The status.
          enum:
          - Unknown
          - Pending
          - Approved
          - Rejected
          - Disconnected
          type: string
          x-ms-enum:
            name: status
            modelAsString: true
    ErrorResponseModel_2:
      description: Default error response model
      type: object
      properties:
        error:
          description: Gets or sets the error.
          allOf:
          - $ref: '#/components/schemas/ErrorModel_2'
          readOnly: true
    AccountEndpoints_2:
      description: The account endpoints
      type: object
      properties:
        catalog:
          description: Gets the catalog endpoint.
          type: string
          readOnly: true
        guardian:
          description: Gets the guardian endpoint.
          type: string
          readOnly: true
        scan:
          description: Gets the scan endpoint.
          type: string
          readOnly: true
    ErrorModel_2:
      description: Default error model
      type: object
      properties:
        code:
          description: Gets or sets the code.
          type: string
          readOnly: true
        details:
          description: Gets or sets the details.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/ErrorModel_2'
          readOnly: true
        message:
          description: Gets or sets the messages.
          type: string
          readOnly: true
        target:
          description: Gets or sets the target.
          type: string
          readOnly: true
    Account_3:
      description: Account resource
      type: object
      allOf:
      - $ref: '#/components/schemas/TrackedResource'
      properties:
        properties:
          $ref: '#/components/schemas/AccountProperties_3'
          description: Gets or sets the properties.
          x-ms-client-flatten: true
        sku:
          description: Gets or sets the Sku.
          allOf:
          - $ref: '#/components/schemas/AccountSku_2'
          readOnly: true
    SystemData_2:
      description: Metadata pertaining to creation and last modification of the resource.
      type: object
      properties:
        createdAt:
          format: date-time
          description: The timestamp of resource creation (UTC).
          type: string
          readOnly: true
        createdBy:
          description: The identity that created the resource.
          type: string
          readOnly: true
        createdByType:
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          type: string
          readOnly: true
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          format: date-time
          description: The timestamp of the last modification the resource (UTC).
          type: string
          readOnly: true
        lastModifiedBy:
          description: The identity that last modified the resource.
          type: string
          readOnly: true
        lastModifiedByType:
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          type: string
          readOnly: true
          x-ms-enum:
            name: lastModifiedByType
            modelAsString: true
    CloudConnectors_2:
      type: object
      properties:
        awsExternalId:
          description: 'AWS external identifier.

            Configured in AWS to allow use of the role arn used for scanning'
          type: string
          readOnly: true
    Identity_3:
      description: The Managed Identity of the resource
      type: object
      properties:
        principalId:
          description: Service principal object Id
          type: string
          readOnly: true
        tenantId:
          description: Tenant Id
          type: string
          readOnly: true
        type:
          description: Identity Type
          enum:
          - SystemAssigned
          type: string
          x-ms-enum:
            name: type
            modelAsString: true
    AccountSku_2:
      description: The Sku
      type: object
      properties:
        capacity:
          format: int32
          description: Gets or sets the sku capacity.
          type: integer
        name:
          description: Gets or sets the sku name.
          enum:
          - Standard
          type: string
          x-ms-enum:
            name: name
            modelAsString: true
    TrackedResource:
      description: Azure ARM Tracked Resource
      type: object
      properties:
        id:
          description: Gets or sets the identifier.
          type: string
          readOnly: true
        identity:
          $ref: '#/components/schemas/Identity_3'
          description: Identity Info on the tracked resource
        location:
          description: Gets or sets the location.
          type: string
        name:
          description: Gets or sets the name.
          type: string
          readOnly: true
        tags:
          description: Tags on the azure resource.
          type: object
          additionalProperties:
            type: string
        type:
          description: Gets or sets the type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
  parameters:
    api-version:
      in: query
      name: api-version
      description: The api version to use.
      required: true
      x-ms-client-name: ApiVersion
      schema:
        type: string
    accountName:
      name: accountName
      in: path
      description: The name of the share account.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    api-version_2:
      name: api-version
      in: query
      description: The api version to use.
      required: true
      schema:
        type: string
    resourceGroupName:
      name: resourceGroupName
      in: path
      description: The resource group name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    subscriptionId:
      name: subscriptionId
      in: path
      description: The subscription identifier
      required: true
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client API version
      x-ms-parameter-location: client
      schema:
        type: string
    Azure.Core.MaxPageSizeQueryParameter:
      name: maxpagesize
      in: query
      description: The maximum number of result items per page.
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
    Azure.Core.ClientRequestIdHeader:
      name: x-ms-client-request-id
      in: header
      description: An opaque, globally-unique, client-generated string identifier for the request.
      required: false
      x-ms-parameter-location: method
      x-ms-client-name: clientRequestId
      schema:
        type: string
        format: uuid
    Azure.Core.ConditionalRequestHeaders.ifUnmodifiedSince:
      name: If-Unmodified-Since
      in: header
      description: The request should only proceed if the entity was not modified after this time.
      required: false
      x-ms-parameter-location: method
      x-ms-client-name: ifUnmodifiedSince
      schema:
        type: string
        format: date-time
    Azure.Core.ConditionalRequestHeaders.ifMatch:
      name: If-Match
      in: header
      description: The request should only proceed if an entity matches this string.
      required: false
      x-ms-parameter-location: method
      x-ms-client-name: ifMatch
      schema:
        type: string
    Azure.Core.RepeatabilityRequestHeaders.repeatabilityFirstSent:
      name: Repeatability-First-Sent
      in: header
      description: Specifies the date and time at which the request was first created.
      required: false
      x-ms-parameter-location: method
      x-ms-client-name: repeatabilityFirstSent
      schema:
        type: string
        format: date-time
    Azure.Core.RepeatabilityRequestHeaders.repeatabilityRequestId:
      name: Repeatability-Request-ID
      in: header
      description: An opaque, globally-unique, client-generated string identifier for the request.
      required: false
      x-ms-parameter-location: method
      x-ms-client-name: repeatabilityRequestId
      schema:
        type: string
    RecordCountQueryParameter:
      name: countRecords
      in: query
      description: Whether to return a count of the total number of records available for this request.
      required: false
      x-ms-parameter-location: method
      schema:
        type: boolean
    DeleteNumbersQueryParameter:
      name: deleteNumbers
      in: query
      description: Whether to delete the child Number resources of the Account, defaults to false.
      required: false
      x-ms-parameter-location: method
      schema:
        type: boolean
    Azure.Core.ConditionalRequestHeaders.ifModifiedSince:
      name: If-Modified-Since
      in: header
      description: The request should only proceed if the entity was modified after this time.
      required: false
      x-ms-parameter-location: method
      x-ms-client-name: ifModifiedSince
      schema:
        type: string
        format: date-time
    FilterQueryParameter:
      name: filter
      in: query
      description: Filter the result list using the given expression
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    Azure.Core.TopQueryParameter:
      name: top
      in: query
      description: The number of result items to return.
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
    Azure.Core.Foundations.ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      x-ms-parameter-location: method
      x-ms-client-name: apiVersion
      schema:
        type: string
        minLength: 1
    Azure.Core.ConditionalRequestHeaders.ifNoneMatch:
      name: If-None-Match
      in: header
      description: The request should only proceed if no entity matches this string.
      required: false
      x-ms-parameter-location: method
      x-ms-client-name: ifNoneMatch
      schema:
        type: string
    Azure.Core.SkipQueryParameter:
      name: skip
      in: query
      description: The number of result items to skip.
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        default: 0
    api-version_3:
      name: api-version
      in: query
      description: The api version to use.
      required: true
      schema:
        type: string
    accountName_2:
      name: accountName
      in: path
      description: The name of the account.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 63
        minLength: 3
        pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          scopes:
            https://func-voiceservice-rp-prod-eastuseuap.azurewebsites.net/.default: Grants the associated roles assigned to the client application
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
      description: Azure Active Directory OAuth2 Flow.
    OAuth2Auth:
      type: oauth2
      flows:
        clientCredentials:
          scopes:
            https://func-voiceservice-rp-prod-eastuseuap.azurewebsites.net/.default: ''
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
x-refined-from:
- dataplaneaccountclient-openapi-original.yml
- datasharemanagementclient-openapi-original.yml
- microsoftvoiceservicesacgprovisioningplatformapi-openapi-original.yml
- microsoftvoiceservicesprovisioning-openapi-original.yml
- purviewmanagementclient-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
