openapi: 3.2.0
info:
  version: 2022-09-01-preview
  title: Microsoft Azure Microsoft.Support Chat Transcripts API
  description: Microsoft Azure Support Resource Provider.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ChatTranscripts
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Support/supportTickets/{supportTicketName}/chatTranscripts:
    get:
      tags:
      - ChatTranscripts
      description: Lists all chat transcripts for a support ticket under subscription
      operationId: microsoftAzureChattranscriptsList
      parameters:
      - name: supportTicketName
        in: path
        description: Support ticket name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved chat transcripts for a support ticket under a subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatTranscriptsListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List communications for a subscription support ticket:
          $ref: ./examples/ListChatTranscriptsForSubscriptionSupportTicket.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Support…
  /providers/Microsoft.Support/supportTickets/{supportTicketName}/chatTranscripts:
    get:
      tags:
      - ChatTranscripts
      description: Lists all chat transcripts for a support ticket
      operationId: microsoftAzureSupportticketchattranscriptsnosubscriptionList
      parameters:
      - name: supportTicketName
        in: path
        description: Support ticket name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved chat transcripts for a support ticket.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatTranscriptsListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List communications for a no-subscription support ticket:
          $ref: ./examples/ListChatTranscriptsForSupportTicket.json
      summary: Microsoft Azure Get Providers Microsoft Support Supporttickets…
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Support/supportTickets/{supportTicketName}/chatTranscripts/{chatTranscriptName}
  : get:
      tags:
      - ChatTranscripts
      description: Returns chatTranscript details for a support ticket under a subscription.
      operationId: microsoftAzureChattranscriptsGet
      parameters:
      - name: supportTicketName
        in: path
        description: Support ticket name.
        required: true
        schema:
          type: string
      - name: chatTranscriptName
        in: path
        description: ChatTranscript name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved chat transcript details for a subscription ticket.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatTranscriptDetails'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Get chat transcript details for a subscription support ticket:
          $ref: ./examples/GetchatTranscriptDetailsForSubscriptionSupportTicket.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Support…
  /providers/Microsoft.Support/supportTickets/{supportTicketName}/chatTranscripts/{chatTranscriptName}:
    get:
      tags:
      - ChatTranscripts
      description: Returns chatTranscript details for a no subscription support ticket.
      operationId: microsoftAzureChattranscriptsnosubscriptionGet
      parameters:
      - name: supportTicketName
        in: path
        description: Support ticket name.
        required: true
        schema:
          type: string
      - name: chatTranscriptName
        in: path
        description: ChatTranscript name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved chat transcript details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatTranscriptDetails'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Get chat transcript details for a subscription support ticket:
          $ref: ./examples/GetchatTranscriptDetailsForSupportTicket.json
      summary: Microsoft Azure Get Providers Microsoft Support Supporttickets…
components:
  schemas:
    ChatTranscriptsListResult:
      description: Collection of Chat Transcripts resources.
      type: object
      properties:
        value:
          description: List of Chat Transcripts resources.
          type: array
          items:
            $ref: '#/components/schemas/ChatTranscriptDetails'
        nextLink:
          description: The URI to fetch the next page of Chat Transcripts resources.
          type: string
    ChatTranscriptDetailsProperties:
      description: Describes the properties of a Chat Transcript Details resource.
      type: object
      properties:
        messages:
          description: List of chat transcript communication resources.
          type: array
          items:
            $ref: '#/components/schemas/MessageProperties'
          x-ms-identifiers: []
        startTime:
          format: date-time
          description: Time in UTC (ISO 8601 format) when the chat began.
          type: string
          readOnly: true
    MessageProperties:
      description: Describes the properties of a Message Details resource.
      required:
      - body
      type: object
      properties:
        contentType:
          description: Content type.
          type: string
          x-ms-enum:
            name: TranscriptContentType
            modelAsString: true
          readOnly: true
        communicationDirection:
          description: Direction of communication.
          enum:
          - inbound
          - outbound
          type: string
          x-ms-enum:
            name: CommunicationDirection
            modelAsString: true
          readOnly: true
        sender:
          description: Name of the sender.
          type: string
        body:
          description: Body of the communication.
          type: string
        createdDate:
          format: date-time
          description: Time in UTC (ISO 8601 format) when the communication was created.
          type: string
          readOnly: true
    ChatTranscriptDetails:
      x-ms-azure-resource: true
      description: Object that represents a Chat Transcript resource.
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ChatTranscriptDetailsProperties'
          description: Properties of the resource.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: API version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Azure subscription Id.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
