openapi: 3.2.0
info:
  description: Azure Managed Lustre provides a fully managed Lustre® file system, integrated with Blob storage, for use on demand. These operations create and manage Azure Managed Lustre file systems.
  title: Microsoft Azure Managed Lustre client Aml Filesystems API
  version: 2023-03-01-preview
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
tags:
- name: amlFilesystems
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.StorageCache/amlFilesystems:
    get:
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: A list of AML file systems. Note that entity references might replace complete file system objects, as described in http://docs.oasis-open.org/odata/odata-json-format/v4.01/cs01/odata-json-format-v4.01-cs01.html#sec_EntityReference
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AmlFilesystemsListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: storagecache.json#/definitions/CloudError
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        amlFilesystems_List:
          $ref: ./examples/amlFilesystems_List.json
      tags:
      - amlFilesystems
      description: Returns all AML file systems the user has access to under a subscription.
      operationId: microsoftAzureAmlfilesystemsList
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageCache/amlFilesystems:
    get:
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: A list of AmlFilesystem objects. Note that entity references might replace complete AmlFilesystem objects, as described in http://docs.oasis-open.org/odata/odata-json-format/v4.01/cs01/odata-json-format-v4.01-cs01.html#sec_EntityReference
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AmlFilesystemsListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: storagecache.json#/definitions/CloudError
      x-ms-examples:
        amlFilesystems_ListByResourceGroup:
          $ref: ./examples/amlFilesystems_ListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
      - amlFilesystems
      description: Returns all AML file systems the user has access to under a resource group.
      operationId: microsoftAzureAmlfilesystemsListbyresourcegroup
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageCache/amlFilesystems/{amlFilesystemName}
  : delete:
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AmlFilesystemNameParameter'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: AML file system deleted.
        '202':
          description: Started the AML file system's transition to Deleted state. Poll the AML file system to monitor.
          headers:
            Location:
              description: Location URI to poll for result
              schema:
                type: string
            Azure-AsyncOperation:
              description: URI to poll for the operation status
              schema:
                type: string
        '204':
          description: AML file system deleted.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: storagecache.json#/definitions/CloudError
      x-ms-examples:
        amlFilesystems_Delete:
          $ref: ./examples/amlFilesystems_Delete.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      tags:
      - amlFilesystems
      description: Schedules an AML file system for deletion.
      operationId: microsoftAzureAmlfilesystemsDelete
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    get:
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AmlFilesystemNameParameter'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Returns the AML file system object corresponding to amlFilesystemName.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AmlFilesystem'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: storagecache.json#/definitions/CloudError
      x-ms-examples:
        amlFilesystems_Get:
          $ref: ./examples/amlFilesystems_Get.json
      tags:
      - amlFilesystems
      description: Returns an AML file system.
      operationId: microsoftAzureAmlfilesystemsGet
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/AmlFilesystemNameParameter'
      responses:
        '200':
          description: The AML file system has been created or updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AmlFilesystem'
        '201':
          description: AML file system creation has been initiated. Poll the AML file system's provisioningState property to monitor creation progress.
          headers:
            azure-async-operation:
              description: URI to poll for the operation status
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AmlFilesystem'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: storagecache.json#/definitions/CloudError
      x-ms-examples:
        amlFilesystems_CreateOrUpdate:
          $ref: ./examples/amlFilesystems_CreateOrUpdate.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      tags:
      - amlFilesystems
      description: Create or update an AML file system.
      operationId: microsoftAzureAmlfilesystemsCreateorupdate
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AmlFilesystem'
        description: Object containing the user-selectable properties of the AML file system. If read-only properties are included, they must match the existing values of those properties.
        required: true
    patch:
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/AmlFilesystemNameParameter'
      responses:
        '200':
          description: Updated the AML file system.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AmlFilesystem'
        '202':
          description: AML file system update has been initiated. Poll the AML file system's provisioningState property to monitor update progress.
          headers:
            Location:
              description: URI to poll for the operation status
              schema:
                type: string
            azure-async-operation:
              description: URI to poll for the operation status
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: storagecache.json#/definitions/CloudError
      x-ms-examples:
        amlFilesystems_Update:
          $ref: ./examples/amlFilesystems_Update.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      tags:
      - amlFilesystems
      description: Update an AML file system instance.
      operationId: microsoftAzureAmlfilesystemsUpdate
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AmlFilesystemUpdate'
        description: Object containing the user-selectable properties of the AML file system. If read-only properties are included, they must match the existing values of those properties.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageCache/amlFilesystems/{amlFilesystemName}/archive
  : post:
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/AmlFilesystemNameParameter'
      responses:
        '200':
          description: AML file system has started the archive operation. Poll the AML file system's hsm.archiveStatus field to monitor the progress.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: storagecache.json#/definitions/CloudError
      x-ms-examples:
        amlFilesystems_Archive:
          $ref: ./examples/amlFilesystems_Archive.json
      tags:
      - amlFilesystems
      description: Archive data from the AML file system.
      operationId: microsoftAzureAmlfilesystemsArchive
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AmlFilesystemArchiveInfo'
        description: Information about the archive operation
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageCache/amlFilesystems/{amlFilesystemName}/cancelArchive
  : post:
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/AmlFilesystemNameParameter'
      responses:
        '200':
          description: AML file system has started the cancellation of the archive operation. Poll the AML file system's hsm.archiveStatus field to monitor the progress.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: storagecache.json#/definitions/CloudError
      x-ms-examples:
        amlFilesystems_cancelArchive:
          $ref: ./examples/amlFilesystems_CancelArchive.json
      tags:
      - amlFilesystems
      description: Cancel archiving data from the AML file system.
      operationId: microsoftAzureAmlfilesystemsCancelarchive
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/providers/Microsoft.StorageCache/checkAmlFSSubnets:
    post:
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The subnets provided meet the requirements for AML file system create.
        '400':
          description: The subnets provided do not meet the requirements for AML file system create.
          x-ms-error-response: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AmlFilesystemCheckSubnetError'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: storagecache.json#/definitions/CloudError
      x-ms-examples:
        checkAmlFSSubnets:
          $ref: ./examples/checkAmlFSSubnets.json
      tags:
      - amlFilesystems
      description: Check that subnets will be valid for AML file system create calls.
      operationId: microsoftAzureCheckamlfssubnets
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AmlFilesystemSubnetInfo'
        description: Information about the subnets to validate.
  /subscriptions/{subscriptionId}/providers/Microsoft.StorageCache/getRequiredAmlFSSubnetsSize:
    post:
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The number of available IP addresses a subnet will need for an AML file system.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequiredAmlFilesystemSubnetsSize'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: storagecache.json#/definitions/CloudError
      x-ms-examples:
        getRequiredAmlFilesystemSubnetsSize:
          $ref: ./examples/getRequiredAmlFSSubnetsSize.json
      tags:
      - amlFilesystems
      description: Get the number of available IP addresses needed for the AML file system information provided.
      operationId: microsoftAzureGetrequiredamlfssubnetssize
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequiredAmlFilesystemSubnetsSizeInfo'
        description: Information to determine the number of available IPs a subnet will need to host the AML file system.
components:
  schemas:
    RequiredAmlFilesystemSubnetsSize:
      type: object
      description: Information about the number of available IP addresses that are required for the AML file system.
      properties:
        filesystemSubnetSize:
          description: The number of available IP addresses that are required for the AML file system.
          type: integer
          format: int32
    AmlFilesystemEncryptionSettings:
      description: AML file system encryption settings.
      properties:
        keyEncryptionKey:
          $ref: storagecache.json#/definitions/KeyVaultKeyReference
          description: Specifies the location of the encryption key in Key Vault.
      type: object
    UserAssignedIdentities:
      type: object
      description: A dictionary where each key is a user assigned identity resource ID, and each key's value is an empty dictionary.
      additionalProperties:
        type: object
        x-ms-client-name: userAssignedIdentitiesValue
        properties:
          principalId:
            readOnly: true
            type: string
            description: The principal ID of the user-assigned identity.
          clientId:
            readOnly: true
            type: string
            description: The client ID of the user-assigned identity.
    RequiredAmlFilesystemSubnetsSizeInfo:
      type: object
      description: Information required to get the number of available IP addresses a subnet should have that will be used in AML file system create
      properties:
        storageCapacityTiB:
          description: The size of the AML file system, in TiB.
          type: number
          format: float
        sku:
          description: SKU for the resource.
          $ref: '#/components/schemas/SkuName'
    AmlFilesystemHealth:
      description: An indication of AML file system health. Gives more information about health than just that related to provisioning.
      readOnly: true
      properties:
        state:
          description: List of AML file system health states.
          enum:
          - Unavailable
          - Available
          - Degraded
          - Transitioning
          - Maintenance
          x-ms-enum:
            name: AmlFilesystemHealthStateType
            modelAsString: true
          type: string
        statusCode:
          description: Server-defined error code for the AML file system health
          type: string
        statusDescription:
          description: Describes the health state.
          type: string
      type: object
    AmlFilesystemArchiveInfo:
      type: object
      description: Information required to execute the archive operation
      properties:
        filesystemPath:
          type: string
          description: Lustre file system path to archive relative to the file system root.  Specify '/' to archive all modified data.
          default: /
    AmlFilesystemsListResult:
      description: Result of the request to list AML file systems. It contains a list of AML file systems and a URL link to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of AML file system list results, if there are any.
          type: string
        value:
          description: List of AML file systems.
          items:
            $ref: '#/components/schemas/AmlFilesystem'
          type: array
      type: object
    AmlFilesystemUpdate:
      description: An AML file system update instance.
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
        properties:
          type: object
          x-ms-client-flatten: true
          description: Properties of the AML file system.
          properties:
            encryptionSettings:
              $ref: '#/components/schemas/AmlFilesystemEncryptionSettings'
              description: Specifies encryption settings of the AML file system.
            maintenanceWindow:
              description: Start time of a 30-minute weekly maintenance window.
              type: object
              properties:
                dayOfWeek:
                  type: string
                  enum:
                  - Monday
                  - Tuesday
                  - Wednesday
                  - Thursday
                  - Friday
                  - Saturday
                  - Sunday
                  x-ms-enum:
                    name: MaintenanceDayOfWeekType
                    modelAsString: false
                  description: Day of the week on which the maintenance window will occur.
                timeOfDayUTC:
                  type: string
                  pattern: ^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$
                  description: The time of day (in UTC) to start the maintenance window.
    SkuName:
      x-ms-mutability:
      - read
      - create
      description: SKU for the resource.
      properties:
        name:
          description: SKU name for this resource.
          type: string
      type: object
    AmlFilesystem:
      description: 'An AML file system instance. Follows Azure Resource Manager standards: https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/resource-api-reference.md'
      x-ms-azure-resource: true
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
      properties:
        identity:
          $ref: '#/components/schemas/AmlFilesystemIdentity'
          description: The managed identity used by the AML file system, if configured.
        sku:
          description: SKU for the resource.
          $ref: '#/components/schemas/SkuName'
        zones:
          type: array
          items:
            type: string
          description: Availability zones for resources. This field should only contain a single element in the array.
          x-ms-mutability:
          - read
          - create
        properties:
          x-ms-client-flatten: true
          description: Properties of the AML file system.
          properties:
            storageCapacityTiB:
              description: The size of the AML file system, in TiB. This might be rounded up.
              x-ms-mutability:
              - read
              - create
              type: number
              format: float
            health:
              description: Health of the AML file system.
              readOnly: true
              $ref: '#/components/schemas/AmlFilesystemHealth'
            provisioningState:
              description: ARM provisioning state.
              enum:
              - Succeeded
              - Failed
              - Creating
              - Deleting
              - Updating
              - Canceled
              x-ms-enum:
                name: AmlFilesystemProvisioningStateType
                modelAsString: true
              type: string
              readOnly: true
            filesystemSubnet:
              description: Subnet used for managing the AML file system and for client-facing operations. This subnet should have at least a /24 subnet mask within the VNET's address space.
              x-ms-mutability:
              - read
              - create
              $ref: storagecache.json#/definitions/URLString
            mgsAddress:
              description: The IPv4 address used by clients to mount the AML file system's Lustre Management Service (MGS).
              readOnly: true
              type: string
            mountCommand:
              description: Recommended command to mount the AML file system
              readOnly: true
              type: string
            lustreVersion:
              type: string
              description: The version of Lustre running in the AML file system
              readOnly: true
            throughputProvisionedMBps:
              type: integer
              format: int32
              description: Throughput provisioned in MB per sec, calculated as storageCapacityTiB * per-unit storage throughput
              readOnly: true
            encryptionSettings:
              $ref: '#/components/schemas/AmlFilesystemEncryptionSettings'
              description: Specifies encryption settings of the AML file system.
            maintenanceWindow:
              description: Start time of a 30-minute weekly maintenance window.
              type: object
              properties:
                dayOfWeek:
                  type: string
                  enum:
                  - Monday
                  - Tuesday
                  - Wednesday
                  - Thursday
                  - Friday
                  - Saturday
                  - Sunday
                  x-ms-enum:
                    name: MaintenanceDayOfWeekType
                    modelAsString: false
                  description: Day of the week on which the maintenance window will occur.
                timeOfDayUTC:
                  type: string
                  pattern: ^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$
                  description: The time of day (in UTC) to start the maintenance window.
            hsm:
              type: object
              description: Hydration and archive settings and status
              properties:
                settings:
                  $ref: '#/components/schemas/AmlFilesystemHsmSettings'
                  description: Specifies HSM settings of the AML file system.
                archiveStatus:
                  type: array
                  readOnly: true
                  description: Archive status
                  items:
                    $ref: '#/components/schemas/AmlFilesystemArchive'
                  x-ms-identifiers:
                  - filesystemPath
          type: object
          required:
          - filesystemSubnet
          - storageCapacityTiB
          - maintenanceWindow
    AmlFilesystemCheckSubnetError:
      type: object
      description: The error details provided when the checkAmlFSSubnets call fails.
      readOnly: true
      properties:
        filesystemSubnet:
          type: object
          description: The error details for the AML file system's subnet.
          properties:
            status:
              type: string
              enum:
              - Ok
              - Invalid
              x-ms-enum:
                name: FilesystemSubnetStatusType
                modelAsString: true
              description: The status of the AML file system subnet check.
            message:
              type: string
              description: The details of the AML file system subnet check.
    AmlFilesystemIdentity:
      type: object
      description: Managed Identity properties.
      x-ms-mutability:
      - read
      - create
      properties:
        principalId:
          readOnly: true
          type: string
          description: The principal ID for the user-assigned identity of the resource.
        tenantId:
          readOnly: true
          type: string
          description: The tenant ID associated with the resource.
        type:
          type: string
          description: The type of identity used for the resource.
          enum:
          - UserAssigned
          - None
          x-ms-enum:
            name: AmlFilesystemIdentityType
            modelAsString: false
        userAssignedIdentities:
          description: A dictionary where each key is a user assigned identity resource ID, and each key's value is an empty dictionary.
          $ref: '#/components/schemas/UserAssignedIdentities'
    AmlFilesystemSubnetInfo:
      type: object
      description: Information required to validate the subnet that will be used in AML file system create
      properties:
        filesystemSubnet:
          description: Subnet used for managing the AML file system and for client-facing operations. This subnet should have at least a /24 subnet mask within the VNET's address space.
          $ref: storagecache.json#/definitions/URLString
        storageCapacityTiB:
          description: The size of the AML file system, in TiB.
          type: number
          format: float
        sku:
          description: SKU for the resource.
          $ref: '#/components/schemas/SkuName'
        location:
          description: Region that the AML file system will be created in.
          type: string
          x-ms-mutability:
          - create
          - read
    AmlFilesystemHsmSettings:
      description: AML file system HSM settings.
      x-ms-mutability:
      - read
      - create
      type: object
      properties:
        container:
          description: Resource ID of storage container used for hydrating the namespace and archiving from the namespace. The resource provider must have permission to create SAS tokens on the storage account.
          $ref: storagecache.json#/definitions/URLString
        loggingContainer:
          description: Resource ID of storage container used for logging events and errors.  Must be a separate container in the same storage account as the hydration and archive container. The resource provider must have permission to create SAS tokens on the storage account.
          $ref: storagecache.json#/definitions/URLString
        importPrefix:
          description: Only blobs in the non-logging container that start with this path/prefix get hydrated into the cluster namespace.
          type: string
          default: /
      required:
      - container
      - loggingContainer
    AmlFilesystemArchive:
      description: Information about the AML file system archive
      type: object
      readOnly: true
      properties:
        filesystemPath:
          readOnly: true
          type: string
          description: Lustre file system path to archive relative to the file system root.  Specify '/' to archive all modified data.
        status:
          description: The status of the archive
          type: object
          readOnly: true
          properties:
            state:
              readOnly: true
              description: The state of the archive operation
              type: string
              enum:
              - NotConfigured
              - Idle
              - InProgress
              - Canceled
              - Completed
              - Failed
              - Cancelling
              - FSScanInProgress
              x-ms-enum:
                name: ArchiveStatusType
                modelAsString: true
            lastCompletionTime:
              readOnly: true
              description: The time of the last completed archive operation
              type: string
              format: date-time
            lastStartedTime:
              readOnly: true
              description: The time the latest archive operation started
              type: string
              format: date-time
            percentComplete:
              readOnly: true
              description: The completion percentage of the archive operation
              type: integer
              format: int32
            errorCode:
              readOnly: true
              description: Server-defined error code for the archive operation
              type: string
            errorMessage:
              readOnly: true
              description: Server-defined error message for the archive operation
              type: string
  parameters:
    AmlFilesystemNameParameter:
      description: Name for the AML file system. Allows alphanumerics, underscores, and hyphens. Start and end with alphanumeric.
      in: path
      name: amlFilesystemName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 80
        minLength: 2
        pattern: ^[0-9a-zA-Z][-0-9a-zA-Z_]{0,78}[0-9a-zA-Z]$
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
