openapi: 3.2.0
info:
  version: 2018-11-01-preview
  title: Microsoft Azure DataShareManagementClient Share API
  description: Creates a Microsoft.DataShare management client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Share
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/listSynchronizationDetails
  : post:
      tags:
      - Share
      summary: Microsoft Azure List Data Set Level Details For A Share Synchronization
      description: List synchronization details
      operationId: microsoftAzureSharesListsynchronizationdetails
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/accountName'
      - name: shareName
        in: path
        description: The name of the share.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      - name: $skipToken
        in: query
        description: Continuation token
        required: false
        schema:
          type: string
      - name: $filter
        in: query
        description: Filters the results using OData syntax.
        required: false
        schema:
          type: string
      - name: $orderby
        in: query
        description: Sorts the results using OData syntax.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SynchronizationDetailsList'
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataShareError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Shares_ListSynchronizationDetails:
          $ref: ./examples/Shares_ListSynchronizationDetails.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareSynchronization'
        description: Share Synchronization payload.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/listSynchronizations
  : post:
      tags:
      - Share
      summary: Microsoft Azure List Synchronizations In A Share
      description: List synchronizations of a share
      operationId: microsoftAzureSharesListsynchronizations
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/accountName'
      - name: shareName
        in: path
        description: The name of the share.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      - name: $skipToken
        in: query
        description: Continuation token
        required: false
        schema:
          type: string
      - name: $filter
        in: query
        description: Filters the results using OData syntax.
        required: false
        schema:
          type: string
      - name: $orderby
        in: query
        description: Sorts the results using OData syntax.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareSynchronizationList'
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataShareError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Shares_ListSynchronizations:
          $ref: ./examples/Shares_ListSynchronizations.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/providerShareSubscriptions/{providerShareSubscriptionId}/reinstate
  : post:
      tags:
      - Share
      summary: Microsoft Azure Reinstate Share Subscription In A Provider Share
      description: Reinstate share subscription in a provider share
      operationId: microsoftAzureProvidersharesubscriptionsReinstate
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/accountName'
      - name: shareName
        in: path
        description: The name of the share.
        required: true
        schema:
          type: string
      - name: providerShareSubscriptionId
        in: path
        description: To locate shareSubscription
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderShareSubscription'
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataShareError'
      x-ms-examples:
        ProviderShareSubscriptions_Reinstate:
          $ref: ./examples/ProviderShareSubscriptions_Reinstate.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/providerShareSubscriptions/{providerShareSubscriptionId}/revoke
  : post:
      tags:
      - Share
      summary: Microsoft Azure Revoke Share Subscription In A Provider Share
      description: Revoke share subscription in a provider share
      operationId: microsoftAzureProvidersharesubscriptionsRevoke
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/accountName'
      - name: shareName
        in: path
        description: The name of the share.
        required: true
        schema:
          type: string
      - name: providerShareSubscriptionId
        in: path
        description: To locate shareSubscription
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderShareSubscription'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderShareSubscription'
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataShareError'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        ProviderShareSubscriptions_Revoke:
          $ref: ./examples/ProviderShareSubscriptions_Revoke.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/providerShareSubscriptions/{providerShareSubscriptionId}
  : get:
      tags:
      - Share
      summary: Microsoft Azure Get Share Subscription In A Provider Share
      description: Get share subscription in a provider share
      operationId: microsoftAzureProvidersharesubscriptionsGetbyshare
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/accountName'
      - name: shareName
        in: path
        description: The name of the share.
        required: true
        schema:
          type: string
      - name: providerShareSubscriptionId
        in: path
        description: To locate shareSubscription
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderShareSubscription'
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataShareError'
      x-ms-examples:
        ProviderShareSubscriptions_GetByShare:
          $ref: ./examples/ProviderShareSubscriptions_GetByShare.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/providerShareSubscriptions
  : get:
      tags:
      - Share
      summary: Microsoft Azure List Of Available Share Subscriptions To A Provider Share
      description: List share subscriptions in a provider share
      operationId: microsoftAzureProvidersharesubscriptionsListbyshare
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/accountName'
      - name: shareName
        in: path
        description: The name of the share.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      - name: $skipToken
        in: query
        description: Continuation Token
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderShareSubscriptionList'
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataShareError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ProviderShareSubscriptions_ListByShare:
          $ref: ./examples/ProviderShareSubscriptions_ListByShare.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}
  : get:
      tags:
      - Share
      summary: Microsoft Azure Get A Specified Share
      description: Get a share
      operationId: microsoftAzureSharesGet
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/accountName'
      - name: shareName
        in: path
        description: The name of the share to retrieve.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Share'
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataShareError'
      x-ms-examples:
        Shares_Get:
          $ref: ./examples/Shares_Get.json
    put:
      tags:
      - Share
      summary: Microsoft Azure Create A Share In The Given Account
      description: Create a share
      operationId: microsoftAzureSharesCreate
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/accountName'
      - name: shareName
        in: path
        description: The name of the share.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Share'
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Share'
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataShareError'
      x-ms-examples:
        Shares_Create:
          $ref: ./examples/Shares_Create.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Share'
        description: The share payload
        required: true
    delete:
      tags:
      - Share
      summary: Microsoft Azure Deletes A Share
      description: Delete a share
      operationId: microsoftAzureSharesDelete
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/accountName'
      - name: shareName
        in: path
        description: The name of the share.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
        '202':
          description: Accepted
        '204':
          description: Success
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataShareError'
      x-ms-long-running-operation: true
      x-ms-examples:
        Shares_Delete:
          $ref: ./examples/Shares_Delete.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares
  : get:
      tags:
      - Share
      summary: Microsoft Azure List Of Available Shares Under An Account
      description: List shares in an account
      operationId: microsoftAzureSharesListbyaccount
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/accountName'
      - $ref: '#/components/parameters/api-version'
      - name: $skipToken
        in: query
        description: Continuation Token
        required: false
        schema:
          type: string
      - name: $filter
        in: query
        description: Filters the results using OData syntax.
        required: false
        schema:
          type: string
      - name: $orderby
        in: query
        description: Sorts the results using OData syntax.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareList'
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataShareError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Shares_ListByAccount:
          $ref: ./examples/Shares_ListByAccount.json
components:
  schemas:
    OperationResponse:
      description: Response for long running operation
      required:
      - status
      type: object
      properties:
        endTime:
          format: date-time
          description: start time
          type: string
        error:
          $ref: '#/components/schemas/DataShareErrorInfo'
          description: The error property when status is failed.
        startTime:
          format: date-time
          description: start time
          type: string
        status:
          description: Operation state of the long running operation.
          enum:
          - Accepted
          - InProgress
          - TransientFailure
          - Succeeded
          - Failed
          - Canceled
          type: string
          x-ms-enum:
            name: status
            modelAsString: true
    ProviderShareSubscriptionList:
      description: List response for get ShareSubscription.
      required:
      - value
      type: object
      properties:
        nextLink:
          description: The Url of next result page.
          type: string
        value:
          description: Collection of items of type DataTransferObjects.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/ProviderShareSubscription'
    SynchronizationDetailsList:
      description: details of synchronization
      required:
      - value
      type: object
      properties:
        nextLink:
          description: The Url of next result page.
          type: string
        value:
          description: Collection of items of type DataTransferObjects.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/SynchronizationDetails'
    ShareList:
      description: List response for get Shares.
      required:
      - value
      type: object
      properties:
        nextLink:
          description: The Url of next result page.
          type: string
        value:
          description: Collection of items of type DataTransferObjects.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/Share'
    DataShareError:
      description: The data share error model.
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/DataShareErrorInfo'
          description: The data share error body
    ProviderShareSubscriptionProperties:
      description: Provider share subscription properties
      type: object
      properties:
        consumerEmail:
          description: Email of the consumer who created the share subscription
          type: string
          readOnly: true
        consumerName:
          description: Name of the consumer who created the share subscription
          type: string
          readOnly: true
        consumerTenantName:
          description: Tenant name of the consumer who created the share subscription
          type: string
          readOnly: true
        createdAt:
          format: date-time
          description: created at
          type: string
          readOnly: true
        providerEmail:
          description: Email of the provider who created the share
          type: string
          readOnly: true
        providerName:
          description: Name of the provider who created the share
          type: string
          readOnly: true
        sharedAt:
          format: date-time
          description: Shared at
          type: string
          readOnly: true
        shareSubscriptionObjectId:
          description: share Subscription Object Id
          type: string
          readOnly: true
        shareSubscriptionStatus:
          description: Gets the status of share subscription
          enum:
          - Active
          - Revoked
          - SourceDeleted
          - Revoking
          type: string
          readOnly: true
          x-ms-enum:
            name: shareSubscriptionStatus
            modelAsString: true
    Share:
      description: A share data transfer object.
      type: object
      allOf:
      - $ref: '#/components/schemas/ProxyDto'
      properties:
        properties:
          $ref: '#/components/schemas/ShareProperties'
          description: Properties on the share
          x-ms-client-flatten: true
    ProviderShareSubscription:
      description: A provider side share subscription data transfer object.
      type: object
      allOf:
      - $ref: '#/components/schemas/ProxyDto'
      properties:
        properties:
          $ref: '#/components/schemas/ProviderShareSubscriptionProperties'
          description: properties of providerShareSubscription
          x-ms-client-flatten: true
    SynchronizationDetails:
      description: Synchronization details at data set level
      type: object
      properties:
        dataSetId:
          description: Id of data set
          type: string
          readOnly: true
        dataSetType:
          description: Type of the data set
          enum:
          - Blob
          - Container
          - BlobFolder
          - AdlsGen2FileSystem
          - AdlsGen2Folder
          - AdlsGen2File
          - AdlsGen1Folder
          - AdlsGen1File
          - KustoCluster
          - KustoDatabase
          - SqlDBTable
          - SqlDWTable
          type: string
          readOnly: true
          x-ms-enum:
            name: dataSetType
            modelAsString: true
        durationMs:
          format: int32
          description: Duration of data set level copy
          type: integer
          readOnly: true
        endTime:
          format: date-time
          description: End time of data set level copy
          type: string
          readOnly: true
        filesRead:
          format: int64
          description: The number of files read from the source data set
          type: integer
          readOnly: true
        filesWritten:
          format: int64
          description: The number of files written into the sink data set
          type: integer
          readOnly: true
        message:
          description: Error message if any
          type: string
          readOnly: true
        name:
          description: Name of the data set
          type: string
          readOnly: true
        rowsCopied:
          format: int64
          description: The number of files copied into the sink data set
          type: integer
          readOnly: true
        rowsRead:
          format: int64
          description: The number of rows read from the source data set.
          type: integer
          readOnly: true
        sizeRead:
          format: int64
          description: The size of the data read from the source data set in bytes
          type: integer
          readOnly: true
        sizeWritten:
          format: int64
          description: The size of the data written into the sink data set in bytes
          type: integer
          readOnly: true
        startTime:
          format: date-time
          description: Start time of data set level copy
          type: string
          readOnly: true
        status:
          description: Raw Status
          type: string
          readOnly: true
        vCore:
          format: int64
          description: The vCore units consumed for the data set synchronization
          type: integer
          readOnly: true
    ShareSynchronization:
      description: A ShareSynchronization data transfer object.
      type: object
      properties:
        consumerEmail:
          description: Email of the user who created the synchronization
          type: string
        consumerName:
          description: Name of the user who created the synchronization
          type: string
        consumerTenantName:
          description: Tenant name of the consumer who created the synchronization
          type: string
        durationMs:
          format: int32
          description: synchronization duration
          type: integer
        endTime:
          format: date-time
          description: End time of synchronization
          type: string
        message:
          description: message of synchronization
          type: string
        startTime:
          format: date-time
          description: start time of synchronization
          type: string
        status:
          description: Raw Status
          type: string
        synchronizationId:
          description: Synchronization id
          type: string
        synchronizationMode:
          description: Synchronization mode
          enum:
          - Incremental
          - FullSync
          type: string
          readOnly: true
          x-ms-enum:
            name: synchronizationMode
            modelAsString: true
    ShareSynchronizationList:
      description: List response for get ShareSynchronization.
      required:
      - value
      type: object
      properties:
        nextLink:
          description: The Url of next result page.
          type: string
        value:
          description: Collection of items of type DataTransferObjects.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/ShareSynchronization'
    ProxyDto:
      description: Base data transfer object implementation for proxy resources.
      type: object
      properties:
        id:
          description: The resource id of the azure resource
          type: string
          readOnly: true
        name:
          description: Name of the azure resource
          type: string
          readOnly: true
        type:
          description: Type of the azure resource
          type: string
          readOnly: true
      x-ms-azure-resource: true
    ShareProperties:
      description: Share property bag.
      type: object
      properties:
        createdAt:
          format: date-time
          description: Time at which the share was created.
          type: string
          readOnly: true
        description:
          description: Share description.
          type: string
        provisioningState:
          description: Gets or sets the provisioning state
          enum:
          - Succeeded
          - Creating
          - Deleting
          - Moving
          - Failed
          type: string
          readOnly: true
          x-ms-enum:
            name: provisioningState
            modelAsString: true
        shareKind:
          description: Share kind.
          enum:
          - CopyBased
          - InPlace
          type: string
          x-ms-enum:
            name: shareKind
            modelAsString: true
        terms:
          description: Share terms.
          type: string
        userEmail:
          description: Email of the user who created the resource
          type: string
          readOnly: true
        userName:
          description: Name of the user who created the resource
          type: string
          readOnly: true
    DataShareErrorInfo:
      description: The data share error body model.
      required:
      - code
      - message
      type: object
      properties:
        code:
          description: Code of the error
          type: string
        details:
          description: Nested details of the error model
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/DataShareErrorInfo'
        message:
          description: Message of the error
          type: string
        target:
          description: Target of the error
          type: string
  parameters:
    api-version:
      name: api-version
      in: query
      description: The api version to use.
      required: true
      schema:
        type: string
    accountName:
      name: accountName
      in: path
      description: The name of the share account.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    resourceGroupName:
      name: resourceGroupName
      in: path
      description: The resource group name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    subscriptionId:
      name: subscriptionId
      in: path
      description: The subscription identifier
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
