openapi: 3.2.0
info:
  version: 2024-02-01-preview
  title: Microsoft Azure DataProtectionBackupClient Fetch Secondary…
  x-ms-code-generation-settings:
    internalConstructors: false
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: FetchSecondaryRecoveryPoints
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/locations/{location}/fetchSecondaryRecoveryPoints
  : post:
      tags:
      - FetchSecondaryRecoveryPoints
      description: Returns a list of Secondary Recovery Points for a DataSource in a vault, that can be used for Cross Region Restore.
      operationId: microsoftAzureFetchsecondaryrecoverypointsList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter
      - name: $filter
        in: query
        description: OData filter options.
        required: false
        schema:
          type: string
      - name: $skipToken
        in: query
        description: skipToken Filter.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureBackupRecoveryPointResourceList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-odata: '#/definitions/RecoveryPointsFilters'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Fetch SecondaryRPs:
          $ref: ./examples/CrossRegionRestore/FetchSecondaryRPs.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FetchSecondaryRPsRequestParameters'
        description: Request body for operation
        required: true
components:
  schemas:
    DppResource:
      description: Resource class
      properties:
        id:
          description: Resource Id represents the complete path to the resource.
          readOnly: true
          type: string
        name:
          description: Resource name associated with the resource.
          readOnly: true
          type: string
        type:
          description: Resource type represents the complete path of the form Namespace/ResourceType/ResourceType/...
          readOnly: true
          type: string
        systemData:
          $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/systemData
      title: DppResource
      type: object
      x-ms-azure-resource: true
    CloudError:
      description: An error response from Azure Backup.
      properties:
        error:
          $ref: '#/components/schemas/Error'
      title: CloudError
      x-ms-external: true
    AzureBackupRecoveryPoint:
      description: Azure backup recoveryPoint
      discriminator:
        propertyName: objectType
      properties:
        objectType:
          type: string
      required:
      - objectType
      title: AzureBackupRecoveryPoint
      type: object
    DppResourceList:
      description: ListResource
      properties:
        nextLink:
          description: The uri to fetch the next page of resources. Call ListNext() fetches next page of resources.
          type: string
      title: List Resource
      type: object
    FetchSecondaryRPsRequestParameters:
      description: 'Information about BI whose secondary RecoveryPoints are requested

        Source region and

        BI ARM path'
      type: object
      properties:
        sourceRegion:
          description: Source region in which BackupInstance is located
          type: string
        sourceBackupInstanceId:
          description: ARM Path of BackupInstance
          type: string
    AzureBackupRecoveryPointResourceList:
      allOf:
      - $ref: '#/components/schemas/DppResourceList'
      description: Azure backup recoveryPoint resource list
      properties:
        value:
          description: List of resources.
          items:
            $ref: '#/components/schemas/AzureBackupRecoveryPointResource'
          type: array
      title: AzureBackupRecoveryPointResourceList
      type: object
    ErrorAdditionalInfo:
      description: The resource management error additional info.
      properties:
        info:
          description: The additional info.
          readOnly: true
          type: object
        type:
          description: The additional info type.
          readOnly: true
          type: string
    Error:
      description: The resource management error response.
      properties:
        additionalInfo:
          description: The error additional info.
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          x-ms-identifiers: []
          readOnly: true
          type: array
        code:
          description: The error code.
          readOnly: true
          type: string
        details:
          description: The error details.
          items:
            $ref: '#/components/schemas/Error'
          x-ms-identifiers: []
          readOnly: true
          type: array
        message:
          description: The error message.
          readOnly: true
          type: string
        target:
          description: The error target.
          readOnly: true
          type: string
    AzureBackupRecoveryPointResource:
      allOf:
      - $ref: '#/components/schemas/DppResource'
      description: Azure backup recoveryPoint resource
      properties:
        properties:
          $ref: '#/components/schemas/AzureBackupRecoveryPoint'
          description: AzureBackupRecoveryPointResource properties
      title: AzureBackupRecoveryPointResource
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account.
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
