openapi: 3.2.0
info:
  version: 2021-11-01-preview
  title: Microsoft Azure RecoveryServicesClient Vault Usages API
  x-ms-code-generation-settings:
    internalConstructors: false
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: VaultUsages
paths:
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/usages
  : get:
      tags:
      - VaultUsages
      description: Fetches the usages of the vault.
      operationId: microsoftAzureUsagesListbyvaults
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/VaultName'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultUsageList'
      deprecated: false
      x-ms-pageable:
        nextLinkName: null
      x-ms-examples:
        Gets vault usages:
          $ref: ./examples/ListUsages.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    VaultUsage:
      description: Usages of a vault.
      type: object
      properties:
        unit:
          description: Unit of the usage.
          enum:
          - Count
          - Bytes
          - Seconds
          - Percent
          - CountPerSecond
          - BytesPerSecond
          type: string
          x-ms-enum:
            name: UsagesUnit
            modelAsString: true
        quotaPeriod:
          description: Quota period of usage.
          type: string
        nextResetTime:
          format: date-time
          description: Next reset time of usage.
          type: string
        currentValue:
          format: int64
          description: Current value of usage.
          type: integer
        limit:
          format: int64
          description: Limit of usage.
          type: integer
        name:
          $ref: '#/components/schemas/NameInfo'
          description: Name of usage.
    NameInfo:
      description: The name of usage.
      type: object
      properties:
        value:
          description: Value of usage.
          type: string
        localizedValue:
          description: Localized value of usage.
          type: string
    VaultUsageList:
      description: Usage for vault.
      type: object
      properties:
        value:
          description: The list of usages for the given vault.
          type: array
          items:
            $ref: '#/components/schemas/VaultUsage'
          x-ms-identifiers:
          - name
  parameters:
    ResourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group where the recovery services vault is present.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionId:
      name: subscriptionId
      in: path
      description: The subscription Id.
      required: true
      schema:
        type: string
    ApiVersion:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
    VaultName:
      name: vaultName
      in: path
      description: The name of the recovery services vault.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account.
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
