openapi: 3.2.0
info:
  version: 2021-10-15-preview
  title: Microsoft Azure EventGridManagementClient Partner…
  description: Azure EventGrid Management Client
servers:
- url: https://management.azure.com
tags:
- name: PartnerRegistrations
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/partnerRegistrations/{partnerRegistrationName}
  : get:
      tags:
      - PartnerRegistrations
      summary: Microsoft Azure Get A Partner Registration
      description: Gets a partner registration with the specified parameters.
      operationId: microsoftAzurePartnerregistrationsGet
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: partnerRegistrationName
        in: path
        description: Name of the partner registration.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerRegistration'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 404 Not Found.\n\n * 500 Internal Server Error."
      x-ms-examples:
        PartnerRegistrations_Get:
          $ref: ./examples/PartnerRegistrations_Get.json
    put:
      tags:
      - PartnerRegistrations
      summary: Microsoft Azure Create A Partner Registration
      description: Creates a new partner registration with the specified parameters.
      operationId: microsoftAzurePartnerregistrationsCreateorupdate
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: partnerRegistrationName
        in: path
        description: Name of the partner registration.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerRegistration'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerRegistration'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 404 Not Found.\n\n * 500 Internal Server Error."
      x-ms-examples:
        PartnerRegistrations_CreateOrUpdate:
          $ref: ./examples/PartnerRegistrations_CreateOrUpdate.json
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerRegistration'
        description: PartnerRegistration information.
        required: true
    delete:
      tags:
      - PartnerRegistrations
      summary: Microsoft Azure Delete A Partner Registration
      description: Deletes a partner registration with the specified parameters.
      operationId: microsoftAzurePartnerregistrationsDelete
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: partnerRegistrationName
        in: path
        description: Name of the partner registration.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: NoContent
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 404 Not Found.\n\n * 500 Internal Server Error."
      x-ms-examples:
        PartnerRegistrations_Delete:
          $ref: ./examples/PartnerRegistrations_Delete.json
      x-ms-long-running-operation: true
    patch:
      tags:
      - PartnerRegistrations
      summary: Microsoft Azure Update A Partner Registration
      description: Updates a partner registration with the specified parameters.
      operationId: microsoftAzurePartnerregistrationsUpdate
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: partnerRegistrationName
        in: path
        description: Name of the partner registration.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
        '201':
          description: Partner registration update request accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerRegistration'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 404 Not Found.\n\n * 500 Internal Server Error."
      x-ms-examples:
        PartnerRegistrations_Update:
          $ref: ./examples/PartnerRegistrations_Update.json
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerRegistrationUpdateParameters'
        description: Partner registration update information.
        required: true
  /subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/partnerRegistrations:
    get:
      tags:
      - PartnerRegistrations
      summary: Microsoft Azure List Partner Registrations Under An Azure Subscription
      description: List all the partner registrations under an Azure subscription.
      operationId: microsoftAzurePartnerregistrationsListbysubscription
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/FilterParameter'
      - $ref: '#/components/parameters/TopParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerRegistrationsListResult'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        PartnerRegistrations_ListBySubscription:
          $ref: ./examples/PartnerRegistrations_ListBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/partnerRegistrations:
    get:
      tags:
      - PartnerRegistrations
      summary: Microsoft Azure List Partner Registrations Under A Resource Group
      description: List all the partner registrations under a resource group.
      operationId: microsoftAzurePartnerregistrationsListbyresourcegroup
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/FilterParameter'
      - $ref: '#/components/parameters/TopParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerRegistrationsListResult'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        PartnerRegistrations_ListByResourceGroup:
          $ref: ./examples/PartnerRegistrations_ListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
components:
  schemas:
    PartnerRegistrationProperties:
      description: Properties of the partner registration.
      type: object
      properties:
        provisioningState:
          description: Provisioning state of the partner registration.
          enum:
          - Creating
          - Updating
          - Deleting
          - Succeeded
          - Canceled
          - Failed
          type: string
          readOnly: true
          x-ms-enum:
            name: PartnerRegistrationProvisioningState
            modelAsString: true
        partnerRegistrationImmutableId:
          format: uuid
          description: The immutableId of the corresponding partner registration.
          type: string
        partnerName:
          description: 'Official name of the partner name. For example: "Contoso".'
          type: string
        partnerResourceTypeName:
          description: Name of the partner resource type.
          type: string
        partnerResourceTypeDisplayName:
          description: Display name of the partner resource type.
          type: string
        partnerResourceTypeDescription:
          description: Short description of the partner resource type. The length of this description should not exceed 256 characters.
          type: string
        longDescription:
          description: 'Long description for the custom scenarios and integration to be displayed in the portal if needed.

            Length of this description should not exceed 2048 characters.'
          type: string
        partnerCustomerServiceNumber:
          description: "The customer service number of the publisher. The expected phone format should start with a '+' sign \nfollowed by the country code. The remaining digits are then followed. Only digits and spaces are allowed and its\nlength cannot exceed 16 digits including country code. Examples of valid phone numbers are: +1 515 123 4567 and\n+966 7 5115 2471. Examples of invalid phone numbers are: +1 (515) 123-4567, 1 515 123 4567 and +966 121 5115 24 7 551 1234 43"
          type: string
        partnerCustomerServiceExtension:
          description: The extension of the customer service number of the publisher. Only digits are allowed and number of digits should not exceed 10.
          type: string
        customerServiceUri:
          description: The extension of the customer service URI of the publisher.
          type: string
        setupUri:
          description: 'URI of the partner website that can be used by Azure customers to setup Event Grid

            integration on an event source.'
          type: string
        logoUri:
          description: URI of the logo.
          type: string
        visibilityState:
          description: Visibility state of the partner registration.
          enum:
          - Hidden
          - PublicPreview
          - GenerallyAvailable
          type: string
          x-ms-enum:
            name: PartnerRegistrationVisibilityState
            modelAsString: true
        authorizedAzureSubscriptionIds:
          description: 'List of Azure subscription Ids that are authorized to create a partner namespace

            associated with this partner registration. This is an optional property. Creating

            partner namespaces is always permitted under the same Azure subscription as the one used

            for creating the partner registration.'
          type: array
          items:
            type: string
    PartnerRegistrationUpdateParameters:
      description: Properties of the Partner Registration update.
      type: object
      properties:
        tags:
          description: Tags of the partner registration resource.
          type: object
          additionalProperties:
            type: string
        partnerTopicTypeName:
          description: Name of the partner topic type.
          type: string
        partnerTopicTypeDisplayName:
          description: Display name of the partner topic type.
          type: string
        partnerTopicTypeDescription:
          description: Description of the partner topic type.
          type: string
        setupUri:
          description: 'URI of the partner website that can be used by Azure customers to setup Event Grid

            integration on an event source.'
          type: string
        logoUri:
          description: URI of the partner logo.
          type: string
        authorizedAzureSubscriptionIds:
          description: 'List of IDs of Azure AD applications that are authorized to create a partner namespace

            associated with this partner registration. This is an optional property. Creating

            partner namespaces is always permitted under the same Azure subscription as the one used

            for creating the partner registration.'
          type: array
          items:
            type: string
    Resource:
      description: Definition of a Resource
      type: object
      properties:
        id:
          description: Fully qualified identifier of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the resource.
          type: string
          readOnly: true
        type:
          description: Type of the resource.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    TrackedResource:
      description: Definition of a Tracked Resource.
      required:
      - location
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        location:
          description: Location of the resource.
          type: string
          x-ms-mutability:
          - read
          - create
        tags:
          description: Tags of the resource.
          type: object
          additionalProperties:
            type: string
    PartnerRegistration:
      description: Information about a partner registration.
      type: object
      allOf:
      - $ref: '#/components/schemas/TrackedResource'
      properties:
        properties:
          $ref: '#/components/schemas/PartnerRegistrationProperties'
          description: Properties of the partner registration.
          x-ms-client-flatten: true
        systemData:
          description: The system metadata relating to Partner Registration resource.
          type: object
          readOnly: true
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
    PartnerRegistrationsListResult:
      description: Result of the List Partner Registrations operation.
      type: object
      properties:
        value:
          description: A collection of partner registrations.
          type: array
          items:
            $ref: '#/components/schemas/PartnerRegistration'
        nextLink:
          description: A link for the next page of partner registrations.
          type: string
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: Version of the API to be used with the client request.
      required: true
      schema:
        type: string
    TopParameter:
      name: $top
      in: query
      description: The number of results to return per page for the list operation. Valid range for top parameter is 1 to 100. If not specified, the default number of results to be returned is 20 items per page.
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      required: true
      schema:
        type: string
    FilterParameter:
      name: $filter
      in: query
      description: 'The query used to filter the search results using OData syntax. Filtering is permitted on the ''name'' property only and with limited number of OData operations. These operations are: the ''contains'' function as well as the following logical operations: not, and, or, eq (for equal), and ne (for not equal). No arithmetic operations are supported. The following is a valid filter example: $filter=contains(namE, ''PATTERN'') and name ne ''PATTERN-1''. The following is not a valid filter example: $filter=location eq ''westus''.'
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
