openapi: 3.2.0
info:
  title: Microsoft Azure VirtualWANAsAServiceManagementClient…
  description: REST API for Azure VirtualWAN As a Service.
  version: '2023-11-01'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: VirtualWANs
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualWans/{VirtualWANName}
  : patch:
      tags:
      - VirtualWANs
      operationId: microsoftAzureVirtualwansUpdatetags
      x-ms-examples:
        VirtualWANUpdate:
          $ref: ./examples/VirtualWANUpdateTags.json
      description: Updates a VirtualWAN tags.
      parameters:
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      - name: resourceGroupName
        in: path
        required: true
        description: The resource group name of the VirtualWan.
        schema:
          type: string
      - name: VirtualWANName
        in: path
        required: true
        description: The name of the VirtualWAN being updated.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Request successful. Returns the details of the VirtualWAN updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualWAN'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./network.json#/definitions/TagsObject
        description: Parameters supplied to Update VirtualWAN tags.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualHubs/{virtualHubName}
  : patch:
      tags:
      - VirtualWANs
      operationId: microsoftAzureVirtualhubsUpdatetags
      x-ms-examples:
        VirtualHubUpdate:
          $ref: ./examples/VirtualHubUpdateTags.json
      description: Updates VirtualHub tags.
      parameters:
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      - name: resourceGroupName
        in: path
        required: true
        description: The resource group name of the VirtualHub.
        schema:
          type: string
      - name: virtualHubName
        in: path
        required: true
        description: The name of the VirtualHub.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Request successful. Returns the details of the VirtualHub updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualHub'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./network.json#/definitions/TagsObject
        description: Parameters supplied to update VirtualHub tags.
        required: true
components:
  schemas:
    VirtualWAN:
      required:
      - location
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/VirtualWanProperties'
          description: Properties of the virtual WAN.
        etag:
          type: string
          readOnly: true
          description: A unique read-only string that changes whenever the resource is updated.
      allOf:
      - $ref: ./network.json#/definitions/Resource
      description: VirtualWAN Resource.
    VirtualHubRouteTableV2Properties:
      properties:
        routes:
          type: array
          description: List of all routes.
          items:
            $ref: '#/components/schemas/VirtualHubRouteV2'
        attachedConnections:
          type: array
          description: List of all connections attached to this route table v2.
          items:
            type: string
        provisioningState:
          $ref: ./network.json#/definitions/ProvisioningState
          readOnly: true
          description: The provisioning state of the virtual hub route table v2 resource.
      description: Parameters for VirtualHubRouteTableV2.
    VirtualHubRoute:
      properties:
        addressPrefixes:
          type: array
          description: List of all addressPrefixes.
          items:
            type: string
        nextHopIpAddress:
          type: string
          description: NextHop ip address.
      description: VirtualHub route.
    VirtualHubRouteV2:
      properties:
        destinationType:
          type: string
          description: The type of destinations.
        destinations:
          type: array
          description: List of all destinations.
          items:
            type: string
        nextHopType:
          type: string
          description: The type of next hops.
        nextHops:
          type: array
          description: NextHops ip address.
          items:
            type: string
      description: VirtualHubRouteTableV2 route.
    VirtualHubProperties:
      properties:
        virtualWan:
          $ref: ./network.json#/definitions/SubResource
          description: The VirtualWAN to which the VirtualHub belongs.
        vpnGateway:
          $ref: ./network.json#/definitions/SubResource
          description: The VpnGateway associated with this VirtualHub.
        p2SVpnGateway:
          $ref: ./network.json#/definitions/SubResource
          description: The P2SVpnGateway associated with this VirtualHub.
        expressRouteGateway:
          $ref: ./network.json#/definitions/SubResource
          description: The expressRouteGateway associated with this VirtualHub.
        azureFirewall:
          $ref: ./network.json#/definitions/SubResource
          description: The azureFirewall associated with this VirtualHub.
        securityPartnerProvider:
          $ref: ./network.json#/definitions/SubResource
          description: The securityPartnerProvider associated with this VirtualHub.
        addressPrefix:
          type: string
          description: Address-prefix for this VirtualHub.
        routeTable:
          $ref: '#/components/schemas/VirtualHubRouteTable'
          description: The routeTable associated with this virtual hub.
        provisioningState:
          readOnly: true
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the virtual hub resource.
        securityProviderName:
          type: string
          description: The Security Provider name.
        virtualHubRouteTableV2s:
          type: array
          description: List of all virtual hub route table v2s associated with this VirtualHub.
          items:
            $ref: '#/components/schemas/VirtualHubRouteTableV2'
        sku:
          type: string
          description: The sku of this VirtualHub.
        routingState:
          $ref: '#/components/schemas/RoutingState'
          description: The routing state.
        bgpConnections:
          type: array
          readOnly: true
          description: List of references to Bgp Connections.
          items:
            $ref: ./network.json#/definitions/SubResource
        ipConfigurations:
          type: array
          readOnly: true
          description: List of references to IpConfigurations.
          items:
            $ref: ./network.json#/definitions/SubResource
        routeMaps:
          type: array
          readOnly: true
          description: List of references to RouteMaps.
          items:
            $ref: ./network.json#/definitions/SubResource
        virtualRouterAsn:
          type: integer
          readOnly: false
          format: int64
          minimum: 0
          maximum: 4294967295
          description: VirtualRouter ASN.
        virtualRouterIps:
          type: array
          readOnly: false
          description: VirtualRouter IPs.
          items:
            type: string
        allowBranchToBranchTraffic:
          type: boolean
          readOnly: false
          description: Flag to control transit for VirtualRouter hub.
        preferredRoutingGateway:
          $ref: '#/components/schemas/PreferredRoutingGateway'
          description: The preferred gateway to route on-prem traffic
        hubRoutingPreference:
          $ref: '#/components/schemas/HubRoutingPreference'
          description: The hubRoutingPreference of this VirtualHub.
        virtualRouterAutoScaleConfiguration:
          $ref: '#/components/schemas/VirtualRouterAutoScaleConfiguration'
          description: The VirtualHub Router autoscale configuration.
      description: Parameters for VirtualHub.
    PreferredRoutingGateway:
      type: string
      description: The preferred routing gateway types
      enum:
      - ExpressRoute
      - VpnGateway
      - None
      x-ms-enum:
        name: PreferredRoutingGateway
        modelAsString: true
    HubRoutingPreference:
      type: string
      description: The hub routing preference gateway types
      enum:
      - ExpressRoute
      - VpnGateway
      - ASPath
      x-ms-enum:
        name: HubRoutingPreference
        modelAsString: true
    VirtualRouterAutoScaleConfiguration:
      type: object
      properties:
        minCapacity:
          type: integer
          format: int32
          minimum: 0
          description: The minimum number of scale units for VirtualHub Router.
      description: The VirtualHub Router autoscale configuration.
    OfficeTrafficCategory:
      type: string
      description: The office traffic category.
      readOnly: true
      enum:
      - Optimize
      - OptimizeAndAllow
      - All
      - None
      x-ms-enum:
        name: OfficeTrafficCategory
        modelAsString: true
    RoutingState:
      type: string
      description: The current routing state of the VirtualHub.
      readOnly: true
      enum:
      - None
      - Provisioned
      - Provisioning
      - Failed
      x-ms-enum:
        name: RoutingState
        modelAsString: true
    VirtualHubRouteTableV2:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/VirtualHubRouteTableV2Properties'
          description: Properties of the virtual hub route table v2.
        name:
          type: string
          description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
        etag:
          type: string
          readOnly: true
          description: A unique read-only string that changes whenever the resource is updated.
      allOf:
      - $ref: ./network.json#/definitions/SubResource
      description: VirtualHubRouteTableV2 Resource.
    VirtualWanProperties:
      properties:
        disableVpnEncryption:
          type: boolean
          description: Vpn encryption to be disabled or not.
        virtualHubs:
          type: array
          readOnly: true
          items:
            $ref: ./network.json#/definitions/SubResource
          description: List of VirtualHubs in the VirtualWAN.
        vpnSites:
          type: array
          readOnly: true
          items:
            $ref: ./network.json#/definitions/SubResource
          description: List of VpnSites in the VirtualWAN.
        allowBranchToBranchTraffic:
          type: boolean
          description: True if branch to branch traffic is allowed.
        allowVnetToVnetTraffic:
          type: boolean
          description: True if Vnet to Vnet traffic is allowed.
        office365LocalBreakoutCategory:
          description: The office local breakout category.
          $ref: '#/components/schemas/OfficeTrafficCategory'
        provisioningState:
          readOnly: true
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the virtual WAN resource.
        type:
          type: string
          description: The type of the VirtualWAN.
      description: Parameters for VirtualWAN.
    VirtualHub:
      required:
      - location
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/VirtualHubProperties'
          description: Properties of the virtual hub.
        etag:
          type: string
          readOnly: true
          description: A unique read-only string that changes whenever the resource is updated.
        kind:
          readOnly: true
          type: string
          description: Kind of service virtual hub. This is metadata used for the Azure portal experience for Route Server.
      allOf:
      - $ref: ./network.json#/definitions/Resource
      description: VirtualHub Resource.
    VirtualHubRouteTable:
      properties:
        routes:
          type: array
          description: List of all routes.
          items:
            $ref: '#/components/schemas/VirtualHubRoute'
      description: VirtualHub route table.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
