openapi: 3.2.0
info:
  title: Microsoft Azure Targets API
  x-refined-note:
  - x-typespec-generated differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Targets across 3 of this provider''s published API definitions: chaos-management-openapi-original.yml, microsoftdatabasewatcher-openapi-original.yml, microsoftiotoperationsorchestrator-management-service-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Targets
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{parentProviderNamespace}/{parentResourceType}/{parentResourceName}/providers/Microsoft.Chaos/targets
  : get:
      description: Get a list of Target resources that extend a tracked regional resource.
      tags:
      - Targets
      operationId: microsoftAzureTargetsList
      parameters:
      - $ref: ./types/common.json#/parameters/apiVersion
      - $ref: ./types/common.json#/parameters/subscriptionId
      - $ref: ./types/common.json#/parameters/resourceGroupName
      - $ref: ./types/common.json#/parameters/parentProviderNamespace
      - $ref: ./types/common.json#/parameters/parentResourceType
      - $ref: ./types/common.json#/parameters/parentResourceName
      - $ref: ./types/common.json#/parameters/continuationToken
      responses:
        '200':
          description: List of Target resources returned if request was successful.
          content:
            application/json:
              schema:
                $ref: ./types/targets.json#/definitions/targetListResult
        default:
          description: Error response returned if request was unsuccessful.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List all Targets that extend a virtual machine resource.:
          $ref: ./examples/ListTargets.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{parentProviderNamespace}/{parentResourceType}/{parentResourceName}/providers/Microsoft.Chaos/targets/{targetName}
  : get:
      description: Get a Target resource that extends a tracked regional resource.
      tags:
      - Targets
      operationId: microsoftAzureTargetsGet
      parameters:
      - $ref: ./types/common.json#/parameters/apiVersion
      - $ref: ./types/common.json#/parameters/subscriptionId
      - $ref: ./types/common.json#/parameters/resourceGroupName
      - $ref: ./types/common.json#/parameters/parentProviderNamespace
      - $ref: ./types/common.json#/parameters/parentResourceType
      - $ref: ./types/common.json#/parameters/parentResourceName
      - $ref: ./types/common.json#/parameters/targetName
      responses:
        '200':
          description: Target resource returned if request was successful.
          content:
            application/json:
              schema:
                $ref: ./types/targets.json#/definitions/target
        default:
          description: Error response returned if request was unsuccessful.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Get a Target that extends a virtual machine resource.:
          $ref: ./examples/GetTarget.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    delete:
      description: Delete a Target resource that extends a tracked regional resource.
      tags:
      - Targets
      operationId: microsoftAzureTargetsDelete
      parameters:
      - $ref: ./types/common.json#/parameters/apiVersion
      - $ref: ./types/common.json#/parameters/subscriptionId
      - $ref: ./types/common.json#/parameters/resourceGroupName
      - $ref: ./types/common.json#/parameters/parentProviderNamespace
      - $ref: ./types/common.json#/parameters/parentResourceType
      - $ref: ./types/common.json#/parameters/parentResourceName
      - $ref: ./types/common.json#/parameters/targetName
      responses:
        '200':
          description: Target resource deletion was successful.
        '204':
          description: Target resource deletion was successful.
        default:
          description: Error response returned if request was unsuccessful.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Delete a Target that extends a virtual machine resource.:
          $ref: ./examples/DeleteTarget.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    put:
      description: Create or update a Target resource that extends a tracked regional resource.
      tags:
      - Targets
      operationId: microsoftAzureTargetsCreateorupdate
      parameters:
      - $ref: ./types/common.json#/parameters/apiVersion
      - $ref: ./types/common.json#/parameters/subscriptionId
      - $ref: ./types/common.json#/parameters/resourceGroupName
      - $ref: ./types/common.json#/parameters/parentProviderNamespace
      - $ref: ./types/common.json#/parameters/parentResourceType
      - $ref: ./types/common.json#/parameters/parentResourceName
      - $ref: ./types/common.json#/parameters/targetName
      responses:
        '200':
          description: Target resource returned if request was successful.
          content:
            application/json:
              schema:
                $ref: ./types/targets.json#/definitions/target
        default:
          description: Error response returned if request was unsuccessful.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Create/update a Target that extends a virtual machine resource.:
          $ref: ./examples/CreateUpdateTarget.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./types/targets.json#/definitions/target
        description: Target resource to be created or updated.
        required: true
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DatabaseWatcher/watchers/{watcherName}/targets
  : get:
      operationId: microsoftAzureTargetsListbywatcher
      tags:
      - Targets
      description: List Target resources by Watcher
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: watcherName
        in: path
        description: The database watcher name.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9]{1}[a-zA-Z0-9-_]{3,60}$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Targets_ListByWatcher:
          $ref: ./examples/Targets_ListByWatcher_200.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DatabaseWatcher/watchers/{watcherName}/targets/{targetName}
  : get:
      operationId: microsoftAzureTargetsGet
      tags:
      - Targets
      description: Get a Target
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: watcherName
        in: path
        description: The database watcher name.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9]{1}[a-zA-Z0-9-_]{3,60}$
      - name: targetName
        in: path
        description: The target resource name.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9]{1}[a-zA-Z0-9-_]{3,60}$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Target'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Targets_Get:
          $ref: ./examples/Targets_Get_200.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      operationId: microsoftAzureTargetsCreateorupdate
      tags:
      - Targets
      description: Create a Target
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: watcherName
        in: path
        description: The database watcher name.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9]{1}[a-zA-Z0-9-_]{3,60}$
      - name: targetName
        in: path
        description: The target resource name.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9]{1}[a-zA-Z0-9-_]{3,60}$
      responses:
        '200':
          description: Resource 'Target' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Target'
        '201':
          description: Resource 'Target' create operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Target'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Targets_CreateOrUpdate:
          $ref: ./examples/Targets_CreateOrUpdate_200.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Target'
        description: Resource create parameters.
        required: true
    delete:
      operationId: microsoftAzureTargetsDelete
      tags:
      - Targets
      description: Delete a Target
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: watcherName
        in: path
        description: The database watcher name.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9]{1}[a-zA-Z0-9-_]{3,60}$
      - name: targetName
        in: path
        description: The target resource name.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9]{1}[a-zA-Z0-9-_]{3,60}$
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Targets_Delete:
          $ref: ./examples/Targets_Delete_200.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.IoTOperationsOrchestrator/targets:
    get:
      operationId: microsoftAzureTargetsListbysubscription
      tags:
      - Targets
      description: List Target resources by subscription ID
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Targets_ListBySubscription - generated by [MaximumSet] rule - generated by [MaximumSet] rule:
          $ref: ./examples/Targets_ListBySubscription_MaximumSet_Gen.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTOperationsOrchestrator/targets:
    get:
      operationId: microsoftAzureTargetsListbyresourcegroup
      tags:
      - Targets
      description: List Target resources by resource group
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Targets_ListByResourceGroup - generated by [MaximumSet] rule - generated by [MaximumSet] rule:
          $ref: ./examples/Targets_ListByResourceGroup_MaximumSet_Gen.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTOperationsOrchestrator/targets/{name}
  : get:
      operationId: microsoftAzureTargetsGet
      tags:
      - Targets
      description: Get a Target
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of target.
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9][a-z0-9-]{1,60}[a-z0-9]$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Target_2'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Targets_Get - generated by [MaximumSet] rule - generated by [MaximumSet] rule:
          $ref: ./examples/Targets_Get_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      operationId: microsoftAzureTargetsCreateorupdate
      tags:
      - Targets
      description: Create a Target
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of target.
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9][a-z0-9-]{1,60}[a-z0-9]$
      responses:
        '200':
          description: Resource 'Target' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Target_2'
        '201':
          description: Resource 'Target' create operation succeeded
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Target_2'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Targets_CreateOrUpdate - generated by [MaximumSet] rule - generated by [MaximumSet] rule:
          $ref: ./examples/Targets_CreateOrUpdate_MaximumSet_Gen.json
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Target_2'
        description: Resource create parameters.
        required: true
    patch:
      operationId: microsoftAzureTargetsUpdate
      tags:
      - Targets
      description: Update a Target
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of target.
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9][a-z0-9-]{1,60}[a-z0-9]$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Target_2'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Targets_Update - generated by [MaximumSet] rule - generated by [MaximumSet] rule:
          $ref: ./examples/Targets_Update_MaximumSet_Gen.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TargetTagsUpdate'
        description: The resource properties to be updated.
        required: true
    delete:
      operationId: microsoftAzureTargetsDelete
      tags:
      - Targets
      description: Delete a Target
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of target.
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9][a-z0-9-]{1,60}[a-z0-9]$
      responses:
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Targets_Delete - generated by [MaximumSet] rule - generated by [MaximumSet] rule:
          $ref: ./examples/Targets_Delete_MaximumSet_Gen.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
components:
  schemas:
    VaultSecret:
      type: object
      description: The vault specific details required if using SQL authentication to connect to a target.
      properties:
        akvResourceId:
          type: string
          format: arm-id
          description: The Azure ResourceId of the Key Vault instance storing database authentication secrets.
          x-ms-arm-id-details:
            allowedResources:
            - type: Microsoft.KeyVault/vaults
        akvTargetUser:
          type: string
          description: The path to the Key Vault secret storing the login name (aka user name, aka account name) for authentication to a target.
          pattern: ^[a-zA-Z0-9-]{1,127}$
        akvTargetPassword:
          type: string
          description: The path to the Key Vault secret storing the password for authentication to a target.
          pattern: ^[a-zA-Z0-9-]{1,127}$
    TargetAuthenticationType:
      type: string
      description: The type of authentication to use when connecting to a target.
      enum:
      - Aad
      - Sql
      x-ms-enum:
        name: TargetAuthenticationType
        modelAsString: true
        values:
        - name: Aad
          value: Aad
          description: The Azure Active Directory authentication.
        - name: Sql
          value: Sql
          description: The SQL password authentication.
    TargetListResult:
      type: object
      description: The response of a Target list operation.
      properties:
        value:
          type: array
          description: The Target items on this page
          items:
            $ref: '#/components/schemas/Target'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    Target:
      type: object
      description: Concrete proxy resource types can be created by aliasing this type using a specific property type.
      properties:
        properties:
          $ref: '#/components/schemas/TargetProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
    TargetProperties:
      type: object
      description: The generic properties of a target.
      properties:
        targetType:
          type: string
          description: Discriminator property for TargetProperties.
        targetAuthenticationType:
          $ref: '#/components/schemas/TargetAuthenticationType'
          description: The type of authentication to use when connecting to a target.
        targetVault:
          $ref: '#/components/schemas/VaultSecret'
          description: To use SQL authentication when connecting to targets, specify the vault where the login name and password secrets are stored.
        connectionServerName:
          type: string
          description: The server name to use in the connection string when connecting to a target. Port number and instance name must be specified separately.
          maxLength: 200
        provisioningState:
          $ref: '#/components/schemas/Azure.ResourceManager.ResourceProvisioningState'
          description: The provisioning state of the resource.
          readOnly: true
      discriminator:
        propertyName: targetType
      required:
      - targetType
      - targetAuthenticationType
      - connectionServerName
    Azure.ResourceManager.ResourceProvisioningState:
      type: string
      description: The provisioning state of a resource type.
      enum:
      - Succeeded
      - Failed
      - Canceled
      x-ms-enum:
        name: ResourceProvisioningState
        modelAsString: true
        values:
        - name: Succeeded
          value: Succeeded
          description: Resource has been created.
        - name: Failed
          value: Failed
          description: Resource creation failed.
        - name: Canceled
          value: Canceled
          description: Resource creation was canceled.
      readOnly: true
    ReconciliationPolicy:
      type: object
      description: Reconciliation Policy.
      properties:
        type:
          $ref: '#/components/schemas/ReconciliationPolicies'
          description: Policy type
        interval:
          type: string
          description: Policy interval.
          minLength: 1
      required:
      - type
    BindingProperties:
      type: object
      description: Defines a component binding for a provider.
      properties:
        config:
          type: object
          description: Configuration values for the binding.
          additionalProperties: {}
        provider:
          type: string
          description: Name of the provider.
        role:
          type: string
          description: Role that the provider binds to with the component.
      required:
      - config
      - provider
      - role
    ProvisioningState:
      type: string
      description: The provisioning status of the resource.
      enum:
      - Succeeded
      - Failed
      - Canceled
      - Reconciling
      - Deleting
      - Accepted
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: Succeeded
          value: Succeeded
          description: Resource has been created.
        - name: Failed
          value: Failed
          description: Resource creation failed.
        - name: Canceled
          value: Canceled
          description: Resource creation was canceled.
        - name: Reconciling
          value: Reconciling
          description: The resource is being updated.
        - name: Deleting
          value: Deleting
          description: The resource is being deleted.
        - name: Accepted
          value: Accepted
          description: The resource was accepted by the server.
    ExtendedLocation:
      type: object
      description: Extended location is an extension of Azure locations. They provide a way to use their Azure ARC enabled Kubernetes clusters as target locations for deploying Azure services instances.
      properties:
        name:
          type: string
          description: The name of the extended location.
        type:
          type: string
          description: The type of the extended location.
      required:
      - name
      - type
    ComponentProperties:
      type: object
      description: Defines a desired runtime component.
      properties:
        dependencies:
          type: array
          description: Component dependencies.
          items:
            type: string
        name:
          type: string
          description: Name of the component.
        properties:
          type: object
          description: Properties of the component.
          additionalProperties: {}
        type:
          type: string
          description: Component type.
      required:
      - name
      - type
    TopologiesProperties:
      type: object
      description: Defines a desired runtime component.
      properties:
        bindings:
          type: array
          description: bindings description.
          items:
            $ref: '#/components/schemas/BindingProperties'
          x-ms-identifiers: []
    TargetTagsUpdate:
      type: object
      description: The type used for updating tags in Target resources.
      properties:
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
    Target_2:
      type: object
      description: A Target resource belonging to an Instance resource.
      properties:
        properties:
          $ref: '#/components/schemas/TargetProperties_2'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
        extendedLocation:
          $ref: '#/components/schemas/ExtendedLocation'
          description: Edge location of the resource.
          x-ms-mutability:
          - read
          - create
      required:
      - extendedLocation
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
    TargetProperties_2:
      type: object
      description: The properties of a Target resource.
      properties:
        components:
          type: array
          description: A list of components.
          items:
            $ref: '#/components/schemas/ComponentProperties'
          x-ms-identifiers: []
        scope:
          type: string
          description: Deployment scope (such as Kubernetes namespace).
        topologies:
          type: array
          description: Defines the device topology for a target or instance.
          items:
            $ref: '#/components/schemas/TopologiesProperties'
          x-ms-identifiers: []
        reconciliationPolicy:
          $ref: '#/components/schemas/ReconciliationPolicy'
          description: Reconciliation Policy.
        version:
          type: string
          description: Version of the particular resource.
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The status of the last operation.
          readOnly: true
    ReconciliationPolicies:
      type: string
      description: Policies to control how the resource should reconcile.
      enum:
      - periodic
      x-ms-enum:
        name: ReconciliationPolicies
        modelAsString: true
        values:
        - name: periodic
          value: periodic
          description: Allows resource to reconcile periodically.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: Impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- chaos-management-openapi-original.yml
- microsoftdatabasewatcher-openapi-original.yml
- microsoftiotoperationsorchestrator-management-service-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
