openapi: 3.2.0
info:
  version: '2019-04-01'
  title: Microsoft Azure DevSpacesManagement Container Host Mappings…
  description: Dev Spaces REST API
servers:
- url: https://management.azure.com
tags:
- name: ContainerHostMappings
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevSpaces/locations/{location}/checkContainerHostMapping
  : post:
      tags:
      - ContainerHostMappings
      summary: Microsoft Azure Returns Container Host Mapping Object For A Container Host…
      operationId: microsoftAzureContainerhostmappingsGetcontainerhostmapping
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - name: location
        in: path
        description: Location of the container host.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request was successful; response contains the container host mapping.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerHostMapping'
        '204':
          description: The request was successful; container host mapping does not exist.
        default:
          description: Error response describing the reason for operation failure. 400 - BadRequest(Invalid container host resource ID.)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevSpacesErrorResponse'
      x-ms-examples:
        ContainerHostMappingsGetContainerHostMapping:
          $ref: ./examples/ContainerHostMappingsGetContainerHostMapping_example.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContainerHostMapping'
        required: true
components:
  schemas:
    DevSpacesErrorResponse:
      description: Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetails'
          description: The details of the error.
    ContainerHostMapping:
      description: Container host mapping object specifying the Container host resource ID and its associated Controller resource.
      properties:
        containerHostResourceId:
          description: ARM ID of the Container Host resource
          type: string
        mappedControllerResourceId:
          description: ARM ID of the mapped Controller resource
          type: string
          readOnly: true
    ErrorDetails:
      properties:
        code:
          description: Status code for the error.
          type: string
          readOnly: true
        message:
          description: Error message describing the error in detail.
          type: string
          readOnly: true
        target:
          description: The target of the particular error.
          type: string
          readOnly: true
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client API version.
      required: true
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: Resource group to which the resource belongs.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Azure subscription ID.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
