openapi: 3.2.0
info:
  title: Microsoft Azure PaloAltoNetworks.Cloudngfw Local Rules API
  version: 2024-01-19-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: LocalRules
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/{localRulestackName}/localRules
  : get:
      tags:
      - LocalRules
      operationId: microsoftAzureLocalrulesListbylocalrulestacks
      description: List LocalRulesResource resources by LocalRulestacks
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/LocalRulestackResource.localRulestackName'
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalRulesResourceListResult'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        LocalRules_ListByLocalRulestacks_MaximumSet_Gen:
          $ref: ./examples/LocalRules_ListByLocalRulestacks_MaximumSet_Gen.json
        LocalRules_ListByLocalRulestacks_MinimumSet_Gen:
          $ref: ./examples/LocalRules_ListByLocalRulestacks_MinimumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/{localRulestackName}/localRules/{priority}
  : get:
      tags:
      - LocalRules
      operationId: microsoftAzureLocalrulesGet
      description: Get a LocalRulesResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/LocalRulestackResource.localRulestackName'
      - $ref: '#/components/parameters/LocalRulesResource.priority'
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalRulesResource'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        LocalRules_Get_MaximumSet_Gen:
          $ref: ./examples/LocalRules_Get_MaximumSet_Gen.json
        LocalRules_Get_MinimumSet_Gen:
          $ref: ./examples/LocalRules_Get_MinimumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - LocalRules
      operationId: microsoftAzureLocalrulesCreateorupdate
      description: Create a LocalRulesResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/LocalRulestackResource.localRulestackName'
      - $ref: '#/components/parameters/LocalRulesResource.priority'
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalRulesResource'
        '201':
          description: Azure create operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalRulesResource'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      x-ms-examples:
        LocalRules_CreateOrUpdate_MaximumSet_Gen:
          $ref: ./examples/LocalRules_CreateOrUpdate_MaximumSet_Gen.json
        LocalRules_CreateOrUpdate_MinimumSet_Gen:
          $ref: ./examples/LocalRules_CreateOrUpdate_MinimumSet_Gen.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocalRulesResource'
        description: Resource create parameters.
        required: true
    delete:
      tags:
      - LocalRules
      operationId: microsoftAzureLocalrulesDelete
      description: Delete a LocalRulesResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/LocalRulestackResource.localRulestackName'
      - $ref: '#/components/parameters/LocalRulesResource.priority'
      responses:
        '200':
          description: Resource deleted successfully.
        '202':
          description: Resource deletion accepted.
        '204':
          description: Resource deleted successfully.
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      x-ms-examples:
        LocalRules_Delete_MaximumSet_Gen:
          $ref: ./examples/LocalRules_Delete_MaximumSet_Gen.json
        LocalRules_Delete_MinimumSet_Gen:
          $ref: ./examples/LocalRules_Delete_MinimumSet_Gen.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/{localRulestackName}/localRules/{priority}/getCounters
  : post:
      tags:
      - LocalRules
      operationId: microsoftAzureLocalrulesGetcounters
      description: Get counters
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/LocalRulestackResource.localRulestackName'
      - $ref: '#/components/parameters/LocalRulesResource.priority'
      - name: firewallName
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleCounter'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        LocalRules_getCounters_MaximumSet_Gen:
          $ref: ./examples/LocalRules_getCounters_MaximumSet_Gen.json
        LocalRules_getCounters_MinimumSet_Gen:
          $ref: ./examples/LocalRules_getCounters_MinimumSet_Gen.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/{localRulestackName}/localRules/{priority}/refreshCounters
  : post:
      tags:
      - LocalRules
      operationId: microsoftAzureLocalrulesRefreshcounters
      description: Refresh counters
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/LocalRulestackResource.localRulestackName'
      - $ref: '#/components/parameters/LocalRulesResource.priority'
      - name: firewallName
        in: query
        required: false
        schema:
          type: string
      responses:
        '204':
          description: 'There is no content to send for this request, but the headers may be useful. '
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        LocalRules_refreshCounters_MaximumSet_Gen:
          $ref: ./examples/LocalRules_refreshCounters_MaximumSet_Gen.json
        LocalRules_refreshCounters_MinimumSet_Gen:
          $ref: ./examples/LocalRules_refreshCounters_MinimumSet_Gen.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/{localRulestackName}/localRules/{priority}/resetCounters
  : post:
      tags:
      - LocalRules
      operationId: microsoftAzureLocalrulesResetcounters
      description: Reset counters
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/LocalRulestackResource.localRulestackName'
      - $ref: '#/components/parameters/LocalRulesResource.priority'
      - name: firewallName
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleCounterReset'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        LocalRules_resetCounters_MaximumSet_Gen:
          $ref: ./examples/LocalRules_resetCounters_MaximumSet_Gen.json
        LocalRules_resetCounters_MinimumSet_Gen:
          $ref: ./examples/LocalRules_resetCounters_MinimumSet_Gen.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
components:
  parameters:
    LocalRulesResource.priority:
      name: priority
      in: path
      required: true
      description: Local Rule priority
      x-ms-parameter-location: method
      schema:
        type: string
    LocalRulestackResource.localRulestackName:
      name: localRulestackName
      in: path
      required: true
      description: LocalRulestack resource name
      x-ms-parameter-location: method
      schema:
        type: string
  schemas:
    DestinationAddr:
      type: object
      properties:
        cidrs:
          type: array
          items:
            type: string
          x-cadl-name: string[]
          description: special value 'any'
        countries:
          type: array
          items:
            type: string
          x-cadl-name: string[]
          description: list of countries
        feeds:
          type: array
          items:
            type: string
          x-cadl-name: string[]
          description: list of feeds
        prefixLists:
          type: array
          items:
            type: string
          x-cadl-name: string[]
          description: prefix list
        fqdnLists:
          type: array
          items:
            type: string
          x-cadl-name: string[]
          description: fqdn list
      description: destination address
    RuleEntry:
      type: object
      properties:
        etag:
          type: string
          description: etag info
        ruleName:
          type: string
          description: rule name
        priority:
          type: integer
          format: int32
          readOnly: true
        description:
          type: string
          description: rule description
        ruleState:
          $ref: '#/components/schemas/StateEnum'
          description: state of this rule
        source:
          $ref: '#/components/schemas/SourceAddr'
          description: source address
        negateSource:
          $ref: '#/components/schemas/BooleanEnum'
          description: cidr should not be 'any'
        destination:
          $ref: '#/components/schemas/DestinationAddr'
          description: destination address
        negateDestination:
          $ref: '#/components/schemas/BooleanEnum'
          description: cidr should not be 'any'
        applications:
          type: array
          items:
            type: string
          x-cadl-name: string[]
          description: array of rule applications
        category:
          $ref: '#/components/schemas/Category'
          description: rule category
        protocol:
          type: string
          description: any, application-default, TCP:number, UDP:number
          default: application-default
        protocolPortList:
          type: array
          items:
            type: string
          x-cadl-name: string[]
          description: prot port list
        inboundInspectionCertificate:
          type: string
          description: inbound Inspection Certificate
        auditComment:
          type: string
          description: rule comment
        actionType:
          $ref: '#/components/schemas/ActionEnum'
          description: rule action
        enableLogging:
          $ref: '#/components/schemas/StateEnum'
          description: enable or disable logging
        decryptionRuleType:
          $ref: '#/components/schemas/DecryptionRuleTypeEnum'
          description: enable or disable decryption
        tags:
          type: array
          items:
            $ref: '#/components/schemas/TagInfo'
          x-ms-identifiers: []
          x-cadl-name: TagInfo[]
          description: tag for rule
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: Provisioning state of the resource.
          readOnly: true
      description: definition of rule
      required:
      - ruleName
    ProvisioningState:
      type: string
      description: Provisioning state of the firewall resource.
      enum:
      - Accepted
      - Creating
      - Updating
      - Deleting
      - Succeeded
      - Failed
      - Canceled
      - Deleted
      - NotSpecified
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    DecryptionRuleTypeEnum:
      type: string
      enum:
      - SSLOutboundInspection
      - SSLInboundInspection
      - None
      x-ms-enum:
        name: DecryptionRuleTypeEnum
        modelAsString: true
    AppSeenInfo:
      type: object
      properties:
        title:
          type: string
          description: title
        category:
          type: string
          description: category
        subCategory:
          type: string
          description: subCategory
        risk:
          type: string
          description: risk
        tag:
          type: string
          description: tag
        technology:
          type: string
          description: technology
        standardPorts:
          type: string
          description: standardPorts
      description: Definition for App Seen
      required:
      - title
      - category
      - subCategory
      - risk
      - tag
      - technology
      - standardPorts
    ActionEnum:
      type: string
      enum:
      - Allow
      - DenySilent
      - DenyResetServer
      - DenyResetBoth
      x-ms-enum:
        name: ActionEnum
        modelAsString: true
    SourceAddr:
      type: object
      properties:
        cidrs:
          type: array
          items:
            type: string
          x-cadl-name: string[]
          description: special value 'any'
        countries:
          type: array
          items:
            type: string
          x-cadl-name: string[]
          description: list of countries
        feeds:
          type: array
          items:
            type: string
          x-cadl-name: string[]
          description: list of feeds
        prefixLists:
          type: array
          items:
            type: string
          x-cadl-name: string[]
          description: prefix list
      description: Address properties
    LocalRulesResourceListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/LocalRulesResource'
          x-cadl-name: LocalRulesResource[]
          description: The items on this page
        nextLink:
          type: string
          description: The link to the next page of items
      description: The response of a LocalRulesResource list operation.
      required:
      - value
    RuleCounterReset:
      type: object
      properties:
        priority:
          type: string
          description: priority number
          readOnly: true
        ruleStackName:
          type: string
          description: rule Stack Name
        ruleListName:
          type: string
          description: rule list name
        firewallName:
          type: string
          description: firewall name
        ruleName:
          type: string
          description: rule name
      description: Rule counter reset
    Category:
      type: object
      properties:
        urlCustom:
          type: array
          items:
            type: string
          x-cadl-name: string[]
          description: custom URL
        feeds:
          type: array
          items:
            type: string
          x-cadl-name: string[]
          description: feed list
      description: URL/EDL to match
      required:
      - urlCustom
      - feeds
    AppSeenData:
      type: object
      properties:
        count:
          type: integer
          format: int32
          description: number of rows
        appSeenList:
          type: array
          items:
            $ref: '#/components/schemas/AppSeenInfo'
          x-ms-identifiers: []
          x-cadl-name: AppSeenInfo[]
          description: array of appSeen
      description: Data Type for App Seen
      required:
      - count
      - appSeenList
    LocalRulesResource:
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/RuleEntry'
          description: The resource-specific properties for this resource.
          x-ms-mutability:
          - read
          - create
          x-ms-client-flatten: true
        systemData:
          $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/systemData
          description: System metadata for this resource.
          readOnly: true
      description: LocalRulestack rule list
      required:
      - properties
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
    RuleCounter:
      type: object
      properties:
        priority:
          type: string
          description: priority number
        ruleStackName:
          type: string
          description: rule Stack Name
        ruleListName:
          type: string
          description: rule list name
        firewallName:
          type: string
          description: firewall name
        ruleName:
          type: string
          description: rule name
        hitCount:
          type: integer
          format: int32
          description: hit count
        appSeen:
          $ref: '#/components/schemas/AppSeenData'
          description: apps seen
        timestamp:
          type: string
          format: date-time
          description: timestamp of response
        requestTimestamp:
          type: string
          format: date-time
          description: timestamp of request
        lastUpdatedTimestamp:
          type: string
          format: date-time
          description: last updated timestamp
      description: Rule counter
      required:
      - priority
      - ruleName
    TagInfo:
      type: object
      properties:
        key:
          type: string
          description: tag name
        value:
          type: string
          description: tag value
      description: Tag
      required:
      - key
      - value
    StateEnum:
      type: string
      description: Enabled or Disabled Enum
      enum:
      - DISABLED
      - ENABLED
      x-ms-enum:
        name: StateEnum
        modelAsString: true
    BooleanEnum:
      type: string
      description: Boolean Enum
      enum:
      - 'TRUE'
      - 'FALSE'
      x-ms-enum:
        name: BooleanEnum
        modelAsString: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
