openapi: 3.2.0
info:
  title: Microsoft Azure Azure Migrate Assessment Service Business…
  version: 2023-04-01-preview
  description: Azure Migrate Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: BusinessCaseOperations
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases
  : get:
      operationId: microsoftAzureBusinesscaseoperationsListbyassessmentproject
      tags:
      - BusinessCaseOperations
      description: List BusinessCase resources by AssessmentProject
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessCaseListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        BusinessCaseOperations_ListByAssessmentProject_MaximumSet_Gen:
          $ref: ./examples/BusinessCaseOperations_ListByAssessmentProject_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}
  : get:
      operationId: microsoftAzureBusinesscaseoperationsGet
      tags:
      - BusinessCaseOperations
      description: Get a BusinessCase
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: businessCaseName
        in: path
        description: Business case ARM name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessCase'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        BusinessCaseOperations_Get_MaximumSet_Gen:
          $ref: ./examples/BusinessCaseOperations_Get_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      operationId: microsoftAzureBusinesscaseoperationsCreate
      tags:
      - BusinessCaseOperations
      description: Create a BusinessCase
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: businessCaseName
        in: path
        description: Business case ARM name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: Resource 'BusinessCase' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessCase'
        '201':
          description: Resource 'BusinessCase' create operation succeeded
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessCase'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      x-ms-examples:
        BusinessCaseOperations_Create_MaximumSet_Gen:
          $ref: ./examples/BusinessCaseOperations_Create_MaximumSet_Gen.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessCase'
        description: Resource create parameters.
        required: true
    delete:
      operationId: microsoftAzureBusinesscaseoperationsDelete
      tags:
      - BusinessCaseOperations
      description: Delete a BusinessCase
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: businessCaseName
        in: path
        description: Business case ARM name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource deleted successfully.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        BusinessCaseOperations_Delete_MaximumSet_Gen:
          $ref: ./examples/BusinessCaseOperations_Delete_MaximumSet_Gen.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}/compareSummary
  : post:
      operationId: microsoftAzureBusinesscaseoperationsComparesummary
      tags:
      - BusinessCaseOperations
      summary: Microsoft Azure Get Compare Summary Report For Business Case
      description: A long-running resource action.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: businessCaseName
        in: path
        description: Business case ARM name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompareSummary'
        '202':
          description: Resource operation accepted.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      x-ms-examples:
        BusinessCaseOperations_CompareSummary_MaximumSet_Gen:
          $ref: ./examples/BusinessCaseOperations_CompareSummary_MaximumSet_Gen.json
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: The content of the action request
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}/getReportDownloadUrl
  : post:
      operationId: microsoftAzureBusinesscaseoperationsGetreportdownloadurl
      tags:
      - BusinessCaseOperations
      summary: Microsoft Azure Get Download Url For The Business Case Report
      description: Get the URL for downloading the business case in a report format.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: businessCaseName
        in: path
        description: Business case ARM name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportDownloadUrl'
        '202':
          description: Resource operation accepted.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      x-ms-examples:
        BusinessCaseOperations_GetReportDownloadUrl_MaximumSet_Gen:
          $ref: ./examples/BusinessCaseOperations_GetReportDownloadUrl_MaximumSet_Gen.json
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: The content of the action request
        required: true
components:
  schemas:
    ReportType:
      type: string
      description: Business case supported report types.
      enum:
      - Unknown
      - Excel
      x-ms-enum:
        name: ReportType
        modelAsString: true
        values:
        - name: Unknown
          value: Unknown
          description: Unknown Report Type.
        - name: Excel
          value: Excel
          description: Excel Report Type.
    BusinessCaseListResult:
      type: object
      description: The response of a BusinessCase list operation.
      properties:
        value:
          type: array
          description: The BusinessCase items on this page
          items:
            $ref: '#/components/schemas/BusinessCase'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    SqlServerLicensingSettings:
      type: object
      description: SQL Server licensing settings.
      properties:
        version:
          $ref: '#/components/schemas/SqlServerLicenseType'
          description: SQL Server version.
        licenseCost:
          type: number
          format: float
          description: Licence cost.
        softwareAssuranceCost:
          type: number
          format: float
          description: Software assurance (SA) cost.
      required:
      - version
      - licenseCost
      - softwareAssuranceCost
    WindowsServerLicensingSettings:
      type: object
      description: Windows Server licensing settings.
      properties:
        licenseCost:
          type: number
          format: float
          description: Licence Cost.
        softwareAssuranceCost:
          type: number
          format: float
          description: Software assurance (SA) cost.
        licensesPerCore:
          type: integer
          format: int32
          description: Licenses per core.
      required:
      - licenseCost
      - softwareAssuranceCost
      - licensesPerCore
    SqlServerLicenseType:
      type: string
      description: Business case supported SQL Server License types.
      enum:
      - Unknown
      - Enterprise
      - Standard
      x-ms-enum:
        name: SqlServerLicenseType
        modelAsString: true
        values:
        - name: Unknown
          value: Unknown
          description: Unknown Sql Server License.
        - name: Enterprise
          value: Enterprise
          description: Enterprise Sql Server License.
        - name: Standard
          value: Standard
          description: Standard Sql Server License.
    SavingsOption:
      type: string
      description: Business case supported Savings Option types.
      enum:
      - Unknown
      - RI3Year
      - SavingsPlan3Year
      x-ms-enum:
        name: SavingsOption
        modelAsString: true
        values:
        - name: Unknown
          value: Unknown
          description: Unknown Savings Option.
        - name: RI3Year
          value: RI3Year
          description: Reserved Instance 3 Year.
        - name: SavingsPlan3Year
          value: SavingsPlan3Year
          description: Azure Savings Plan 3 Year.
    VsphereManagementSettings:
      type: object
      description: Vsphere management settings.
      properties:
        licenseAndSupportList:
          type: array
          description: Licence and support list.
          items:
            $ref: '#/components/schemas/VsphereManagementLicense'
          x-ms-identifiers: []
      required:
      - licenseAndSupportList
    ReportDetails:
      type: object
      description: Business case report details.
      properties:
        reportType:
          $ref: '#/components/schemas/ReportType'
          description: Report type.
          readOnly: true
        reportStatus:
          $ref: '#/components/schemas/ReportStatus'
          description: Report status.
          readOnly: true
    LaborSettings:
      type: object
      description: Labour settings.
      properties:
        physicalServersPerAdmin:
          type: integer
          format: int32
          description: Physical servers per administrator.
          minimum: 1
        virtualMachinesPerAdmin:
          type: integer
          format: int32
          description: Virtual machines per administrator.
          minimum: 1
        hourlyAdminCost:
          type: number
          format: float
          description: Hourly administrator cost.
      required:
      - physicalServersPerAdmin
      - virtualMachinesPerAdmin
      - hourlyAdminCost
    ReportDownloadUrl:
      type: object
      description: Download URL for assessment report.
      properties:
        businessCaseReportUrl:
          type: string
          description: Hyperlink to download report.
          readOnly: true
        expirationTime:
          type: string
          format: date-time
          description: Expiry date of download url.
          readOnly: true
    BusinessCaseProperties:
      type: object
      description: 'Property bag for an

        Microsoft.Azure.Migrate.BusinessCaseService.Api.V20220202_preview.Resources.BusinessCase

        resource.'
      properties:
        settings:
          $ref: '#/components/schemas/Settings'
          description: Business case settings.
        state:
          $ref: '#/components/schemas/BusinessCaseState'
          description: Business case state.
          readOnly: true
        reportStatusDetails:
          type: array
          description: Gets the state of business case reports.
          items:
            $ref: '#/components/schemas/ReportDetails'
          readOnly: true
          x-ms-identifiers: []
      allOf:
      - $ref: '#/components/schemas/AzureResourceProperties2'
    ComputeSettings:
      type: object
      description: Compute settings.
      properties:
        hyperthreadCoreToMemoryRatio:
          type: number
          format: float
          description: Hyperthread core to memory ratio.
        price:
          type: number
          format: float
          description: Compute Price.
        sqlServerLicensing:
          type: array
          description: SQL Server licensing settings.
          items:
            $ref: '#/components/schemas/SqlServerLicensingSettings'
          x-ms-identifiers: []
        windowsServerLicensing:
          $ref: '#/components/schemas/WindowsServerLicensingSettings'
          description: Windows Server licensing settings.
        rhelLinuxServerLicensing:
          $ref: '#/components/schemas/LinuxServerLicensingSettings'
          description: Linux Rhel Server licensing settings.
        suseLinuxServerLicensing:
          $ref: '#/components/schemas/LinuxServerLicensingSettings'
          description: Linux Suse Server licensing settings.
        virtualizationSoftwareSettings:
          $ref: '#/components/schemas/VirtualizationSoftwareSettings'
          description: Virtualization software settings.
      required:
      - hyperthreadCoreToMemoryRatio
      - price
      - sqlServerLicensing
      - windowsServerLicensing
      - rhelLinuxServerLicensing
      - suseLinuxServerLicensing
      - virtualizationSoftwareSettings
    AzureResourceProperties2:
      type: object
      description: Common properties for all azure tracked and proxy resources.
      properties:
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState2'
          description: The status of the last operation.
          readOnly: true
    HyperVLicenseType:
      type: string
      description: Business case supported HyperV License types.
      enum:
      - Unknown
      - Datacentre
      - Standard
      x-ms-enum:
        name: HyperVLicenseType
        modelAsString: true
        values:
        - name: Unknown
          value: Unknown
          description: Unknown HyperV License.
        - name: Datacentre
          value: Datacentre
          description: Datacentre HyperV License.
        - name: Standard
          value: Standard
          description: Standard HyperV License.
    CostDetails:
      type: object
      description: The on premises PaaS cost.
      properties:
        storageCost:
          type: number
          format: float
          description: The storage cost.
          readOnly: true
        computeCost:
          type: number
          format: float
          description: The compute cost.
          readOnly: true
        itLaborCost:
          type: number
          format: float
          description: The IT labor cost.
          readOnly: true
        networkCost:
          type: number
          format: float
          description: The network cost.
          readOnly: true
        ahubSavings:
          type: number
          format: float
          description: The windows AhubSavings.
          readOnly: true
        linuxAhubSavings:
          type: number
          format: float
          description: The linux AhubSavings.
          readOnly: true
        securityCost:
          type: number
          format: float
          description: Security Cost.
          readOnly: true
        managementCostDetails:
          $ref: '#/components/schemas/ManagementCostDetails'
          description: Management Cost Details.
          readOnly: true
        esuSavings:
          type: number
          format: float
          description: esu savings.
          readOnly: true
    DiscoverySource:
      type: string
      description: Business case supported Discovery source types.
      enum:
      - Unknown
      - Appliance
      - Import
      x-ms-enum:
        name: DiscoverySource
        modelAsString: true
        values:
        - name: Unknown
          value: Unknown
          description: Unknown Discovery Source.
        - name: Appliance
          value: Appliance
          description: Appliance Discovery Source.
        - name: Import
          value: Import
          description: Import Discovery Source.
    ReportStatus:
      type: string
      description: Business case supported report status types.
      enum:
      - Unknown
      - None
      - InProgress
      - Failed
      - Completed
      x-ms-enum:
        name: ReportStatus
        modelAsString: true
        values:
        - name: Unknown
          value: Unknown
          description: Unknown Report Status.
        - name: None
          value: None
          description: None Report Status.
        - name: InProgress
          value: InProgress
          description: InProgress Report Status.
        - name: Failed
          value: Failed
          description: Failed Report Status.
        - name: Completed
          value: Completed
          description: Completed Report Status.
    StorageSettings:
      type: object
      description: Storage settings.
      properties:
        costPerGbPerMonth:
          type: number
          format: float
          description: Cost per gigabyte per month.
        maintainanceCostPercentageToAcquisitionCost:
          type: number
          format: float
          description: Maintenance cost percentage.
          minimum: 0
          maximum: 100
      required:
      - costPerGbPerMonth
      - maintainanceCostPercentageToAcquisitionCost
    BusinessCaseState:
      type: string
      description: Business case supported state types.
      enum:
      - Unknown
      - InProgress
      - Completed
      - OutDated
      - Invalid
      - OutOfSync
      - Failed
      x-ms-enum:
        name: BusinessCaseState
        modelAsString: true
        values:
        - name: Unknown
          value: Unknown
          description: Unknown State.
        - name: InProgress
          value: InProgress
          description: InProgress  State.
        - name: Completed
          value: Completed
          description: Completed State.
        - name: OutDated
          value: OutDated
          description: OutDated State.
        - name: Invalid
          value: Invalid
          description: Invalid State.
        - name: OutOfSync
          value: OutOfSync
          description: OutOfSync State.
        - name: Failed
          value: Failed
          description: Failed State.
    MigrationStrategy:
      type: string
      description: Business case supported migration strategy types.
      enum:
      - Unknown
      - OptimizeForCost
      - IaaSOnly
      - OptimizeForPaas
      - AVSOnly
      x-ms-enum:
        name: MigrationStrategy
        modelAsString: true
        values:
        - name: Unknown
          value: Unknown
          description: Unknown Migration Strategy.
        - name: OptimizeForCost
          value: OptimizeForCost
          description: Optimize for cost.
        - name: IaaSOnly
          value: IaaSOnly
          description: IaaS only.
        - name: OptimizeForPaas
          value: OptimizeForPaas
          description: Optimize for PaaS.
        - name: AVSOnly
          value: AVSOnly
          description: Avs only.
    OtherManagementCostsSettings:
      type: object
      description: Other Management Costs Settings.
      properties:
        monitoringCostPerServerPerYear:
          type: number
          format: float
          description: Monitoring Cost Per Server Per Year.
        patchingCostPerServerPerYear:
          type: number
          format: float
          description: Patching Cost Per Server Per Year.
        dataProtectionCostPerServerPerYear:
          type: number
          format: float
          description: Data Protection Cost Per Server Per Year.
      required:
      - monitoringCostPerServerPerYear
      - patchingCostPerServerPerYear
      - dataProtectionCostPerServerPerYear
    VsphereLicense:
      type: object
      description: Representation of a vsphere licence.
      properties:
        licenseType:
          $ref: '#/components/schemas/LicenseType'
          description: VSphere licence type.
      required:
      - licenseType
      allOf:
      - $ref: '#/components/schemas/VsphereLicenseBase'
    AzureSettings:
      type: object
      description: Azure settings for a business case.
      properties:
        targetLocation:
          type: string
          description: Gets or sets azure location.
        discountPercentage:
          type: number
          format: float
          description: Gets azure Discount percentage.
          minimum: 0
          maximum: 100
        currency:
          $ref: '#/components/schemas/BusinessCaseCurrency'
          description: Business case Currency.
          default: USD
        businessCaseType:
          $ref: '#/components/schemas/MigrationStrategy'
          description: Migration Strategy.
          default: OptimizeForCost
        workloadDiscoverySource:
          $ref: '#/components/schemas/DiscoverySource'
          description: Workload discovery source.
          default: Appliance
        performanceDataStartTime:
          type: string
          format: date-time
          description: Gets start time to use for performance.
        performanceDataEndTime:
          type: string
          format: date-time
          description: Gets end time to use for performance.
        comfortFactor:
          type: number
          format: float
          description: Gets comfort factor.
          default: 1
        performanceUtilizationPercentile:
          type: number
          format: float
          description: Gets utilization percentile for performance.
          default: 95
          minimum: 0
          maximum: 100
        perYearMigrationCompletionPercentage:
          type: object
          description: Gets migration completion percentage per year.
          additionalProperties:
            format: float
            type: number
        infrastructureGrowthRate:
          type: number
          format: float
          description: Gets infrastructure growth rate.
          default: 5
          minimum: 0
          maximum: 100
        wacc:
          type: number
          format: float
          description: Gets wACC percentage.
          minimum: 0
          maximum: 100
        networkCostPercentage:
          type: number
          format: float
          description: Gets network cost percentage.
          default: 5
          minimum: 0
          maximum: 100
        iaasLaborCostPercentage:
          type: number
          format: float
          description: Gets IaaS labour cost percentage.
          default: 75
          minimum: 0
          maximum: 100
        paasLaborCostPercentage:
          type: number
          format: float
          description: Gets PaaS labour cost percentage.
          default: 60
          minimum: 0
          maximum: 100
        avsLaborCostPercentage:
          type: number
          format: float
          description: Gets Avs labour cost percentage.
          default: 75
          minimum: 0
          maximum: 100
        savingsOption:
          $ref: '#/components/schemas/SavingsOption'
          description: Gets the business case savings option type.
          default: RI3Year
      required:
      - targetLocation
      - currency
    VsphereManagementLicenseType:
      type: string
      description: Business case supported Vsphere Management License types.
      enum:
      - Unknown
      - VSphereServerStandard
      x-ms-enum:
        name: VsphereManagementLicenseType
        modelAsString: true
        values:
        - name: Unknown
          value: Unknown
          description: Unknown License.
        - name: VSphereServerStandard
          value: VSphereServerStandard
          description: VSphereServerStandard License.
    ManagementCostDetails:
      type: object
      description: Management Cost Details.
      properties:
        managementCost:
          type: number
          format: float
          description: Management Cost.
          readOnly: true
        managementCostComponents:
          type: array
          description: Management Cost Components.
          items:
            $ref: '#/components/schemas/ManagementCostComponent'
          readOnly: true
          x-ms-identifiers: []
    SecuritySettings:
      type: object
      description: Security settings.
      properties:
        serverSecurityCostPerServerPerYear:
          type: number
          format: float
          description: Physical servers per administrator.
        sqlServerSecurityCostPerServerPerYear:
          type: number
          format: float
          description: Virtual machines per administrator.
      required:
      - serverSecurityCostPerServerPerYear
      - sqlServerSecurityCostPerServerPerYear
    LinuxServerLicensingSettings:
      type: object
      description: Linux Server licensing settings.
      properties:
        licenseCost:
          type: number
          format: float
          description: Licence Cost.
      required:
      - licenseCost
    ManagementCostComponent:
      type: object
      description: Management Cost Component.
      properties:
        name:
          $ref: '#/components/schemas/ManagementCostComponentName'
          description: Name of Management Cost Component.
        value:
          type: number
          format: float
          description: Cost of Management Component.
      required:
      - name
    OnPremiseSettings:
      type: object
      description: On-premise settings.
      properties:
        computeSettings:
          $ref: '#/components/schemas/ComputeSettings'
          description: Compute settings.
        storageSettings:
          $ref: '#/components/schemas/StorageSettings'
          description: Storage settings.
        networkSettings:
          $ref: '#/components/schemas/NetworkSettings'
          description: Network settings.
        facilitySettings:
          $ref: '#/components/schemas/FacilitySettings'
          description: Facility settings.
        laborSettings:
          $ref: '#/components/schemas/LaborSettings'
          description: Labour settings.
        securitySettings:
          $ref: '#/components/schemas/SecuritySettings'
          description: Security settings.
        managementSettings:
          $ref: '#/components/schemas/ManagementSettings'
          description: Management settings.
      required:
      - computeSettings
      - storageSettings
      - networkSettings
      - facilitySettings
      - laborSettings
      - securitySettings
    CompareSummary:
      type: object
      description: Compare summary class.
      properties:
        azurePaasCostDetails:
          $ref: '#/components/schemas/CostDetails'
          description: The azure PaaS cost.
          readOnly: true
        azureIaasCostDetails:
          $ref: '#/components/schemas/CostDetails'
          description: The azure IaaS cost.
          readOnly: true
        azureAvsCostDetails:
          $ref: '#/components/schemas/CostDetails'
          description: The AVS cost.
          readOnly: true
        onPremisesPaasCostDetails:
          $ref: '#/components/schemas/CostDetails'
          description: The on premises PaaS cost.
          readOnly: true
        onPremisesIaasCostDetails:
          $ref: '#/components/schemas/CostDetails'
          description: The on premises IaaS cost.
          readOnly: true
        onPremisesAvsCostDetails:
          $ref: '#/components/schemas/CostDetails'
          description: The on premises AVS cost.
          readOnly: true
        onPremisesPaasDecommissionedCostDetails:
          $ref: '#/components/schemas/CostDetails'
          description: The on premises PaaS decommissioned cost.
          readOnly: true
        onPremisesIaasDecommissionedCostDetails:
          $ref: '#/components/schemas/CostDetails'
          description: The on premises IaaS decommissioned cost.
          readOnly: true
        onPremisesAvsDecommissionedCostDetails:
          $ref: '#/components/schemas/CostDetails'
          description: The on premises AVS decommissioned cost.
          readOnly: true
    VsphereLicenseBase:
      type: object
      description: Representation of a vsphere licence base.
      properties:
        licenseCost:
          type: number
          format: float
          description: Cost of a licence.
        basicSupportCost:
          type: number
          format: float
          description: Basic support cost.
        productionSupportCost:
          type: number
          format: float
          description: Production support cost.
      required:
      - licenseCost
      - basicSupportCost
      - productionSupportCost
    HypervLicense:
      type: object
      description: Representation of a licence.
      properties:
        licenseCost:
          type: number
          format: float
          description: Cost of a licence.
        licenseType:
          $ref: '#/components/schemas/HyperVLicenseType'
          description: HyperV licence type.
      required:
      - licenseCost
      - licenseType
    HypervVirtualizationManagementSettings:
      type: object
      description: HyperV Virtualization Management Settings.
      properties:
        numberOfPhysicalCoresPerLicense:
          type: integer
          format: int32
          description: Number of physical cores per licence.
          minimum: 1
        softwareAssuranceCost:
          type: number
          format: float
          description: Software Assurance Cost.
        licenseAndSupportList:
          type: array
          description: Licence and support list.
          items:
            $ref: '#/components/schemas/HypervLicense'
          x-ms-identifiers: []
      required:
      - numberOfPhysicalCoresPerLicense
      - softwareAssuranceCost
      - licenseAndSupportList
    ThirdPartyManagementSettings:
      type: object
      description: Third Party Management settings.
      properties:
        licenseCost:
          type: number
          format: float
          description: License Cost.
        supportCost:
          type: number
          format: float
          description: Support Cost.
      required:
      - licenseCost
      - supportCost
    ManagementSettings:
      type: object
      description: Management settings.
      properties:
        hypervVirtualizationManagementSettings:
          $ref: '#/components/schemas/HypervVirtualizationManagementSettings'
          description: HyperV Virtualization Management Settings.
        vsphereManagementSettings:
          $ref: '#/components/schemas/VsphereManagementSettings'
          description: vSphere Management Settings.
        thirdPartyManagementSettings:
          $ref: '#/components/schemas/ThirdPartyManagementSettings'
          description: Third Party Management Settings.
        otherManagementCostsSettings:
          $ref: '#/components/schemas/OtherManagementCostsSettings'
          description: Other Management Costs Settings.
      required:
      - hypervVirtualizationManagementSettings
      - vsphereManagementSettings
      - thirdPartyManagementSettings
      - otherManagementCostsSettings
    ProvisioningState2:
      type: string
      description: The status of the current operation.
      enum:
      - Succeeded
      - Failed
      - Canceled
      - Provisioning
      - Updating
      - Deleting
      - Accepted
      x-ms-enum:
        name: ProvisioningState2
        modelAsString: true
        values:
        - name: Succeeded
          value: Succeeded
          description: Resource has been created.
        - name: Failed
          value: Failed
          description: Resource creation failed.
        - name: Canceled
          value: Canceled
          description: Resource creation was canceled.
        - name: Provisioning
          value: Provisioning
          description: Resource is being Provisioned.
        - name: Updating
          value: Updating
          description: Resource is being Updated.
        - name: Deleting
          value: Deleting
          description: Resource is being Deleted.
        - name: Accepted
          value: Accepted
          description: Resource is being Accepted.
      readOnly: true
    ManagementCostComponentName:
      type: string
      description: Management Cost Component Names.
      enum:
      - Unknown
      - SystemCenterLicenseCost
      - VSphereManagementCost
      - ThirdPartyManagementCost
      - OtherMonitoringCost
      - OtherDataProtectionCost
      - OtherPatchingCost
      - AzureMonitoringCost
      - AzurePatchingCost
      - AzureDataProtectionCost
      x-ms-enum:
        name: ManagementCostComponentName
        modelAsString: true
        values:
        - name: Unknown
          value: Unknown
          description: Unknown Management Cost Component.
        - name: SystemCenterLicenseCost
          value: SystemCenterLicenseCost
          description: System Center License Cost.
        - name: VSphereManagementCost
          value: VSphereManagementCost
          description: VSphere eManagement Cost.
        - name: ThirdPartyManagementCost
          value: ThirdPartyManagementCost
          description: Third Party Management Cost.
        - name: OtherMonitoringCost
          value: OtherMonitoringCost
          description: Other Monitoring Cost.
        - name: OtherDataProtectionCost
          value: OtherDataProtectionCost
          description: Other Data Protection Cost.
        - name: OtherPatchingCost
          value: OtherPatchingCost
          description: Other Patching Cost.
        - name: AzureMonitoringCost
          value: AzureMonitoringCost
          description: Azure Monitoring Cost.
        - name: AzurePatchingCost
          value: AzurePatchingCost
          description: Azure Patching Cost.
        - name: AzureDataProtectionCost
          value: AzureDataProtectionCost
          description: Azure Data Protection Cost.
    NetworkSettings:
      type: object
      description: Network settings.
      properties:
        hardwareSoftwareCostPercentage:
          type: number
          format: float
          description: Network hardware and software cost percentage.
          minimum: 0
          maximum: 100
        maintenanceCostPercentage:
          type: number
          format: float
          description: Network maintenance cost percentage.
          minimum: 0
          maximum: 100
      required:
      - hardwareSoftwareCostPercentage
      - maintenanceCostPercentage
    FacilitySettings:
      type: object
      description: Facility settings.
      properties:
        facilitiesCost:
          type: number
          format: float
          description: The facilities cost.
      required:
      - facilitiesCost
    VsphereManagementLicense:
      type: object
      description: Representation of a vsphere management licence.
      properties:
        licenseType:
          $ref: '#/components/schemas/VsphereManagementLicenseType'
          description: VSphere licence type.
      required:
      - licenseType
      allOf:
      - $ref: '#/components/schemas/VsphereLicenseBase'
    BusinessCase:
      type: object
      description: Business case resource.
      properties:
        properties:
          $ref: '#/components/schemas/BusinessCaseProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
    Settings:
      type: object
      description: Business case settings.
      properties:
        azureSettings:
          $ref: '#/components/schemas/AzureSettings'
          description: Azure settings for a business case.
        onPremiseSettings:
          $ref: '#/components/schemas/OnPremiseSettings'
          description: On-premise settings.
      required:
      - azureSettings
    BusinessCaseCurrency:
      type: string
      description: Business case supported currency types.
      enum:
      - Unknown
      - USD
      - DKK
      - CAD
      - IDR
      - JPY
      - KRW
      - NZD
      - NOK
      - RUB
      - SAR
      - ZAR
      - SEK
      - TRY
      - GBP
      - MXN
      - MYR
      - INR
      - HKD
      - BRL
      - TWD
      - EUR
      - CHF
      - ARS
      - AUD
      - CNY
      x-ms-enum:
        name: BusinessCaseCurrency
        modelAsString: true
        values:
        - name: Unknown
          value: Unknown
          description: Currency Unknown.
        - name: USD
          value: USD
          description: Currency USD.
        - name: DKK
          value: DKK
          description: Currency DKK.
        - name: CAD
          value: CAD
          description: Currency CAD.
        - name: IDR
          value: IDR
          description: Currency IDR.
        - name: JPY
          value: JPY
          description: Currency JPY.
        - name: KRW
          value: KRW
          description: Currency KRW.
        - name: NZD
          value: NZD
          description: Currency NZD.
        - name: NOK
          value: NOK
          description: Currency NOK.
        - name: RUB
          value: RUB
          description: Currency RUB.
        - name: SAR
          value: SAR
          description: Currency SAR.
        - name: ZAR
          value: ZAR
          description: Currency ZAR.
        - name: SEK
          value: SEK
          description: Currency SEK.
        - name: TRY
          value: TRY
          description: Currency TRY.
        - name: GBP
          value: GBP
          description: Currency GBP.
        - name: MXN
          value: MXN
          description: Currency MXN.
        - name: MYR
          value: MYR
          description: Currency MYR.
        - name: INR
          value: INR
          description: Currency INR.
        - name: HKD
          value: HKD
          description: Currency HKD.
        - name: BRL
          value: BRL
          description: Currency BRL.
        - name: TWD
          value: TWD
          description: Currency TWD.
        - name: EUR
          value: EUR
          description: Currency EUR.
        - name: CHF
          value: CHF
          description: Currency CHF.
        - name: ARS
          value: ARS
          description: Currency ARS.
        - name: AUD
          value: AUD
          description: Currency AUD.
        - name: CNY
          value: CNY
          description: Currency CNY.
    LicenseType:
      type: string
      description: Business case supported VmWare License types.
      enum:
      - Unknown
      - VSphereStandard
      - VSphereEnterprisePlus
      x-ms-enum:
        name: LicenseType
        modelAsString: true
        values:
        - name: Unknown
          value: Unknown
          description: Unknown License.
        - name: VSphereStandard
          value: VSphereStandard
          description: VSphereStandard License.
        - name: VSphereEnterprisePlus
          value: VSphereEnterprisePlus
          description: VSphereEnterprisePlus License.
    VirtualizationSoftwareSettings:
      type: object
      description: Virtualization software settings.
      properties:
        numberOfPhysicalCoresPerLicense:
          type: integer
          format: int32
          description: Number of physical cores per licence.
          minimum: 1
        softwareAssuranceCost:
          type: number
          format: float
          description: Software Assurance cost.
        licenseAndSupportList:
          type: array
          description: Licence and support list.
          items:
            $ref: '#/components/schemas/VsphereLicense'
          x-ms-identifiers: []
      required:
      - numberOfPhysicalCoresPerLicense
      - softwareAssuranceCost
      - licenseAndSupportList
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
