openapi: 3.2.0
info:
  description: Resource provider health operation endpoints and objects.
  title: Microsoft Azure InfrastructureInsightsManagementClient…
  version: '2016-05-01'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ServiceHealths
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/{location}/serviceHealths
  : get:
      x-ms-examples:
        Returns the list of all resource provider health states.:
          $ref: ./examples/ServiceHealth/List.json
      tags:
      - ServiceHealths
      description: Returns the list of all resource provider health states.
      operationId: microsoftAzureServicehealthsList
      parameters:
      - $ref: InfrastructureInsights.json#/parameters/SubscriptionIdParameter
      - $ref: InfrastructureInsights.json#/parameters/ResourceGroupParameter
      - $ref: InfrastructureInsights.json#/parameters/LocationParameter
      - $ref: InfrastructureInsights.json#/parameters/ApiVersionParameter
      - $ref: InfrastructureInsights.json#/parameters/FilterParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceHealthList'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/ServiceHealth'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/{location}/serviceHealths/{serviceHealth}
  : get:
      x-ms-examples:
        Returns the requested service health object.:
          $ref: ./examples/ServiceHealth/Get.json
      tags:
      - ServiceHealths
      description: Returns the requested service health object.
      operationId: microsoftAzureServicehealthsGet
      parameters:
      - $ref: InfrastructureInsights.json#/parameters/SubscriptionIdParameter
      - $ref: InfrastructureInsights.json#/parameters/ResourceGroupParameter
      - $ref: InfrastructureInsights.json#/parameters/LocationParameter
      - $ref: '#/components/parameters/ServiceHealthParameter'
      - $ref: InfrastructureInsights.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceHealth'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    ServiceHealth:
      description: Holds information about the health of a service.
      type: object
      properties:
        properties:
          description: Holds information about the health of a service.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ServiceHealthModel'
      allOf:
      - $ref: InfrastructureInsights.json#/definitions/TrackedResource
    ServiceHealthList:
      description: Pageable list of service health objects.
      properties:
        value:
          description: List of service health objects.
          type: array
          items:
            $ref: '#/components/schemas/ServiceHealth'
        nextLink:
          description: URI of the next page.
          type: string
    ServiceHealthModel:
      description: Holds information about the health of a service.
      properties:
        displayName:
          description: Name of the service.
          type: string
        serviceLocation:
          description: Location of the service.
          type: string
        infraURI:
          description: The route prefix to the service.
          type: string
      allOf:
      - $ref: InfrastructureInsights.json#/definitions/BaseHealth
  parameters:
    ServiceHealthParameter:
      description: Service Health name.
      name: serviceHealth
      required: true
      in: path
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Authorization uses an Azure Active Directory OAuth2 flow.
