openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft.Elastic VM Collection Update API
  version: 2024-01-01-preview
servers:
- url: https://management.azure.com
tags:
- name: VMCollectionUpdate
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/vmCollectionUpdate
  : post:
      tags:
      - VMCollectionUpdate
      summary: Microsoft Azure Update The Vm Details That Will Be Monitored By The Elastic…
      operationId: microsoftAzureVmcollectionUpdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      responses:
        '200':
          description: Success
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-examples:
        VMCollection_Update:
          $ref: ./examples/VMCollection_Update.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VMCollectionUpdate'
        description: VM resource Id
components:
  schemas:
    ResourceProviderDefaultErrorResponse:
      description: RP default error response.
      type: object
      properties:
        error:
          description: Response body of Error
          readOnly: true
          $ref: '#/components/schemas/ErrorResponseBody'
    OperationName:
      enum:
      - Add
      - Delete
      type: string
      description: Operation to be performed on the given vm resource id.
      title: OperationName
      x-ms-enum:
        modelAsString: true
        name: OperationName
    ErrorResponseBody:
      description: Error response body.
      title: ErrorResponseBody
      type: object
      properties:
        code:
          description: Error code.
          type: string
        message:
          description: Error message.
          type: string
        target:
          description: Error target.
          type: string
        details:
          description: Error details.
          type: array
          x-ms-identifiers: []
          items:
            $ref: '#/components/schemas/ErrorResponseBody'
    VMCollectionUpdate:
      description: Update VM resource collection.
      type: object
      x-ms-azure-resource: true
      properties:
        vmResourceId:
          description: ARM id of the VM resource.
          type: string
        operationName:
          description: Operation to be performed for given VM.
          $ref: '#/components/schemas/OperationName'
  parameters:
    MonitorNameParameter:
      in: path
      name: monitorName
      description: Monitor resource name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Microsoft Entra ID OAuth2 Flow
