openapi: 3.2.0
info:
  title: Microsoft Azure MicrosoftScanningClient Filters API
  description: Creates a Microsoft.Scanning management client.
  version: 2022-07-01-preview
servers:
- url: https://purview.azure.com/scan
security:
- azure_auth:
  - user_impersonation
tags:
- name: Filters
paths:
  /datasources/{dataSourceName}/scans/{scanName}/filters/custom:
    get:
      tags:
      - Filters
      description: Get a filter
      operationId: microsoftAzureFiltersGet
      parameters:
      - in: path
        name: dataSourceName
        required: true
        schema:
          type: string
      - in: path
        name: scanName
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Filter'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        Filters_Get:
          $ref: ./examples/Filters_Get.json
      summary: Microsoft Azure Get Datasources Datasourcename Scans Scanname Filters Custom
    put:
      tags:
      - Filters
      description: Creates or updates a filter
      operationId: microsoftAzureFiltersCreateorupdate
      parameters:
      - in: path
        name: dataSourceName
        required: true
        schema:
          type: string
      - in: path
        name: scanName
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Filter'
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Filter'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        Filters_CreateOrUpdate:
          $ref: ./examples/Filters_CreateOrUpdate.json
      summary: Microsoft Azure Put Datasources Datasourcename Scans Scanname Filters Custom
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Filter'
components:
  schemas:
    ProxyResource:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
    FilterProperties:
      required:
      - excludeUriPrefixes
      - includeUriPrefixes
      type: object
      properties:
        excludeUriPrefixes:
          uniqueItems: true
          type: array
          items:
            type: string
        includeUriPrefixes:
          uniqueItems: true
          type: array
          items:
            type: string
        excludeRegexes:
          uniqueItems: true
          type: array
          items:
            type: string
        includeRegexes:
          uniqueItems: true
          type: array
          items:
            type: string
    ErrorModel:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorModel'
    Filter:
      type: object
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      properties:
        properties:
          allOf:
          - $ref: '#/components/schemas/FilterProperties'
    ErrorResponseModel:
      type: object
      properties:
        error:
          allOf:
          - $ref: '#/components/schemas/ErrorModel'
  parameters:
    api-version:
      in: query
      name: api-version
      description: The api version to use.
      required: true
      x-ms-client-name: ApiVersion
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-ms-parameterized-host:
  hostTemplate: '{Endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
