openapi: 3.2.0
info:
  version: 2022-09-30-preview
  title: Microsoft Azure RecoveryServicesBackupClient Backup Status…
  x-ms-code-generation-settings:
    internalConstructors: false
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: BackupStatus
paths:
  /Subscriptions/{subscriptionId}/providers/Microsoft.RecoveryServices/locations/{azureRegion}/backupStatus:
    post:
      tags:
      - BackupStatus
      summary: Microsoft Azure Get The Container Backup Status
      operationId: microsoftAzureBackupstatusGet
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/AzureRegion'
      - $ref: '#/components/parameters/SubscriptionId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupStatusResponse'
      x-ms-examples:
        Get Azure Virtual Machine Backup Status:
          $ref: ./examples/AzureIaasVm/GetBackupStatus.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupStatusRequest'
        description: Container Backup Status Request
        required: true
components:
  schemas:
    BackupStatusRequest:
      description: BackupStatus request.
      type: object
      properties:
        resourceType:
          description: Container Type - VM, SQLPaaS, DPM, AzureFileShare...
          enum:
          - Invalid
          - VM
          - FileFolder
          - AzureSqlDb
          - SQLDB
          - Exchange
          - Sharepoint
          - VMwareVM
          - SystemState
          - Client
          - GenericDataSource
          - SQLDataBase
          - AzureFileShare
          - SAPHanaDatabase
          - SAPAseDatabase
          - SAPHanaDBInstance
          type: string
          x-ms-enum:
            name: DataSourceType
            modelAsString: true
        resourceId:
          description: Entire ARM resource id of the resource
          type: string
        poLogicalName:
          description: Protectable Item Logical Name
          type: string
    BackupStatusResponse:
      description: BackupStatus response.
      type: object
      properties:
        protectionStatus:
          description: Specifies whether the container is registered or not
          enum:
          - Invalid
          - NotProtected
          - Protecting
          - Protected
          - ProtectionFailed
          type: string
          x-ms-enum:
            name: ProtectionStatus
            modelAsString: true
        vaultId:
          description: Specifies the arm resource id of the vault
          type: string
        fabricName:
          description: Specifies the fabric name - Azure or AD
          enum:
          - Invalid
          - Azure
          type: string
          x-ms-enum:
            name: FabricName
            modelAsString: true
        containerName:
          description: Specifies the product specific container name. E.g. iaasvmcontainer;iaasvmcontainer;csname;vmname.
          type: string
        protectedItemName:
          description: Specifies the product specific ds name. E.g. vm;iaasvmcontainer;csname;vmname.
          type: string
        errorCode:
          description: ErrorCode in case of intent failed
          type: string
        errorMessage:
          description: ErrorMessage in case of intent failed.
          type: string
        policyName:
          description: Specifies the policy name which is used for protection
          type: string
        registrationStatus:
          description: Container registration status
          type: string
  parameters:
    AzureRegion:
      name: azureRegion
      in: path
      description: Azure region to hit Api
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionId:
      name: subscriptionId
      in: path
      description: The subscription Id.
      required: true
      schema:
        type: string
    ApiVersion:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account.
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
