openapi: 3.2.0
info:
  title: Microsoft Azure Extensions API
  version: '1.0'
  description: 'Operations tagged Extensions across 3 of this provider''s published API definitions: azure-agfoodplatform-rp-service-openapi-original.yml, azure-agrifood-rp-service-openapi-original.yml, visual-studio-resource-provider-client-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Extensions
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AgFoodPlatform/farmBeats/{dataManagerForAgricultureResourceName}/extensions/{extensionId}
  : put:
      tags:
      - Extensions
      description: Install or Update extension. Additional Api Properties are merged patch and if the extension is updated to a new version then the obsolete entries will be auto deleted from Additional Api Properties.
      operationId: microsoftAzureExtensionsCreateorupdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/DataManagerForAgricultureResourceNameParameter'
      - $ref: '#/components/parameters/ExtensionIdParameter'
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Extension'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Extensions_CreateOrUpdate:
          $ref: ./examples/Extensions_CreateOrUpdate.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtensionInstallationRequest'
        description: Extension resource request body.
    get:
      tags:
      - Extensions
      description: Get installed extension details by extension id.
      operationId: microsoftAzureExtensionsGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/DataManagerForAgricultureResourceNameParameter'
      - $ref: '#/components/parameters/ExtensionIdParameter'
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Extension'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Extensions_Get:
          $ref: ./examples/Extensions_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    delete:
      tags:
      - Extensions
      description: Uninstall extension.
      operationId: microsoftAzureExtensionsDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/DataManagerForAgricultureResourceNameParameter'
      - $ref: '#/components/parameters/ExtensionIdParameter'
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
        '204':
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Extensions_Delete:
          $ref: ./examples/Extensions_Delete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AgFoodPlatform/farmBeats/{dataManagerForAgricultureResourceName}/extensions
  : get:
      tags:
      - Extensions
      description: Get installed extensions details.
      operationId: microsoftAzureExtensionsListbydatamanagerforagriculture
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/DataManagerForAgricultureResourceNameParameter'
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - in: query
        name: extensionIds
        description: Installed extension ids.
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - in: query
        name: extensionCategories
        description: Installed extension categories.
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - in: query
        name: $maxPageSize
        description: 'Maximum number of items needed (inclusive).

          Minimum = 10, Maximum = 1000, Default value = 50.'
        schema:
          type: integer
          format: int32
          default: 50
          maximum: 1000
          minimum: 10
      - in: query
        name: $skipToken
        description: Skip token for getting next set of results.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtensionListResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Extensions_ListByDataManagerForAgriculture:
          $ref: ./examples/Extensions_ListByDataManagerForAgriculture.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AgFoodPlatform/farmBeats/{farmBeatsResourceName}/extensions/{extensionId}
  : put:
      tags:
      - Extensions
      description: Install extension.
      operationId: microsoftAzureExtensionsCreate
      parameters:
      - $ref: '#/components/parameters/ExtensionIdParameter'
      - $ref: '#/components/parameters/FarmBeatsResourceNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Extension_2'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Extensions_Create:
          $ref: ./examples/Extensions_Create.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
    get:
      tags:
      - Extensions
      description: Get installed extension details by extension id.
      operationId: microsoftAzureExtensionsGet
      parameters:
      - $ref: '#/components/parameters/ExtensionIdParameter'
      - $ref: '#/components/parameters/FarmBeatsResourceNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Extension_2'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Extensions_Get:
          $ref: ./examples/Extensions_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    patch:
      tags:
      - Extensions
      description: Upgrade to latest extension.
      operationId: microsoftAzureExtensionsUpdate
      parameters:
      - $ref: '#/components/parameters/ExtensionIdParameter'
      - $ref: '#/components/parameters/FarmBeatsResourceNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Extension_2'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Extensions_Update:
          $ref: ./examples/Extensions_Update.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
    delete:
      tags:
      - Extensions
      description: Uninstall extension.
      operationId: microsoftAzureExtensionsDelete
      parameters:
      - $ref: '#/components/parameters/ExtensionIdParameter'
      - $ref: '#/components/parameters/FarmBeatsResourceNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
        '204':
          description: Success
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Extensions_Delete:
          $ref: ./examples/Extensions_Delete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AgFoodPlatform/farmBeats/{farmBeatsResourceName}/extensions
  : get:
      tags:
      - Extensions
      description: Get installed extensions details.
      operationId: microsoftAzureExtensionsListbyfarmbeats
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/FarmBeatsResourceNameParameter'
      - in: query
        name: extensionIds
        description: Installed extension ids.
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - in: query
        name: extensionCategories
        description: Installed extension categories.
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - in: query
        name: $maxPageSize
        description: 'Maximum number of items needed (inclusive).

          Minimum = 10, Maximum = 1000, Default value = 50.'
        schema:
          type: integer
          format: int32
          default: 50
          maximum: 1000
          minimum: 10
      - in: query
        name: $skipToken
        description: Skip token for getting next set of results.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtensionListResponse_2'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Extensions_ListByFarmBeats:
          $ref: ./examples/Extensions_ListByFarmBeats.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.visualstudio/account/{accountResourceName}/extension
  : get:
      tags:
      - Extensions
      summary: Microsoft Azure Extensions Listbyaccount
      description: Gets the details of the extension resources created within the resource group.
      operationId: microsoftAzureExtensionsListbyaccount
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      - in: path
        name: accountResourceName
        description: The name of the Visual Studio Team Services account resource.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The operation succeeded. The response contains all extension resource details for the specified account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtensionResourceListResult'
      x-ms-examples:
        Get a list of extension resources within the resource group:
          $ref: ./examples/GetExtensionResources_List.json
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.visualstudio/account/{accountResourceName}/extension/{extensionResourceName}
  : put:
      tags:
      - Extensions
      summary: Microsoft Azure Extensions Create
      description: Registers the extension with a Visual Studio Team Services account.
      operationId: microsoftAzureExtensionsCreate
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      - in: path
        name: accountResourceName
        description: The name of the Visual Studio Team Services account resource.
        required: true
        schema:
          type: string
      - in: path
        name: extensionResourceName
        description: The name of the extension.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The operation succeeded. The extension resource was created for the specified account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtensionResource'
      x-ms-examples:
        Create an extension resource:
          $ref: ./examples/CreateExtensionResource.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtensionResourceRequest'
        description: An object containing additional information related to the extension request.
        required: true
    delete:
      tags:
      - Extensions
      summary: Microsoft Azure Extensions Delete
      description: Removes an extension resource registration for a Visual Studio Team Services account.
      operationId: microsoftAzureExtensionsDelete
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      - in: path
        name: accountResourceName
        description: The name of the Visual Studio Team Services account resource.
        required: true
        schema:
          type: string
      - in: path
        name: extensionResourceName
        description: The name of the extension.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The operation succeeded. The extension resource has been deleted for the specified account.
      x-ms-examples:
        Delete an extension resource:
          $ref: ./examples/DeleteExtensionResource.json
    get:
      tags:
      - Extensions
      summary: Microsoft Azure Extensions Get
      description: Gets the details of an extension associated with a Visual Studio Team Services account resource.
      operationId: microsoftAzureExtensionsGet
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      - in: path
        name: accountResourceName
        description: The name of the Visual Studio Team Services account resource.
        required: true
        schema:
          type: string
      - in: path
        name: extensionResourceName
        description: The name of the extension.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The operation succeeded. The response contains the extension resource details for the specified account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtensionResource'
        '404':
          description: The specified extension has no plans defined.
      x-ms-examples:
        Get an extension resource:
          $ref: ./examples/GetExtensionResource.json
    patch:
      tags:
      - Extensions
      summary: Microsoft Azure Extensions Update
      description: Updates an existing extension registration for the Visual Studio Team Services account.
      operationId: microsoftAzureExtensionsUpdate
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      - in: path
        name: accountResourceName
        description: The name of the Visual Studio Team Services account resource.
        required: true
        schema:
          type: string
      - in: path
        name: extensionResourceName
        description: The name of the extension.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The operation succeeded. The extension resource was updated for the specified account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtensionResource'
      x-ms-examples:
        Update an extension resource:
          $ref: ./examples/UpdateExtensionResource.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtensionResourceRequest'
        description: An object containing additional information related to the extension request.
        required: true
    servers:
    - url: https://management.azure.com
components:
  schemas:
    ApiProperties:
      description: Api properties.
      type: object
      properties:
        apiFreshnessTimeInMinutes:
          format: int32
          description: Interval in minutes for which the weather data for the api needs to be refreshed.
          maximum: 10080
          minimum: 0
          type: integer
    ExtensionInstallationRequest:
      description: Extension Installation Request Body.
      type: object
      properties:
        extensionVersion:
          description: Extension Version.
          default: null
          maxLength: 10
          minLength: 3
          type: string
        additionalApiProperties:
          description: Additional Api Properties.
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ApiProperties'
    ExtensionListResponse:
      description: Paged response contains list of requested objects and a URL link to get the next set of results.
      required:
      - value
      type: object
      properties:
        value:
          description: List of requested objects.
          type: array
          items:
            $ref: '#/components/schemas/Extension'
        $skipToken:
          description: Token used in retrieving the next page. If null, there are no additional pages.
          type: string
        nextLink:
          description: Continuation link (absolute URI) to the next page of results in the list.
          type: string
          readOnly: true
    ExtensionProperties:
      description: Extension resource properties.
      type: object
      properties:
        extensionId:
          description: Extension Id.
          pattern: ^[a-zA-Z]{3,50}[.][a-zA-Z]{3,100}$
          type: string
          readOnly: true
        extensionCategory:
          description: Extension category. e.g. weather/sensor/satellite.
          type: string
          readOnly: true
        installedExtensionVersion:
          description: Installed extension version.
          pattern: ^([1-9]|10).\d$
          type: string
          readOnly: true
        extensionAuthLink:
          description: Extension auth link.
          type: string
          readOnly: true
        extensionApiDocsLink:
          description: Extension api docs link.
          type: string
          readOnly: true
        additionalApiProperties:
          description: Additional Api Properties.
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ApiProperties'
          readOnly: true
    Extension:
      description: Extension resource.
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/ProxyResource
      properties:
        systemData:
          $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/systemData
        properties:
          $ref: '#/components/schemas/ExtensionProperties'
          x-ms-client-flatten: true
        eTag:
          description: The ETag value to implement optimistic concurrency.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    ExtensionListResponse_2:
      description: Paged response contains list of requested objects and a URL link to get the next set of results.
      type: object
      properties:
        value:
          description: List of requested objects.
          type: array
          items:
            $ref: '#/components/schemas/Extension_2'
        nextLink:
          description: Continuation link (absolute URI) to the next page of results in the list.
          type: string
          readOnly: true
    ExtensionProperties_2:
      description: Extension resource properties.
      type: object
      properties:
        extensionId:
          description: Extension Id.
          pattern: ^[a-zA-Z]{3,50}[.][a-zA-Z]{3,100}$
          type: string
          readOnly: true
        extensionCategory:
          description: Extension category. e.g. weather/sensor/satellite.
          type: string
          readOnly: true
        installedExtensionVersion:
          description: Installed extension version.
          pattern: ^([1-9]|10).\d$
          type: string
          readOnly: true
        extensionAuthLink:
          description: Extension auth link.
          type: string
          readOnly: true
        extensionApiDocsLink:
          description: Extension api docs link.
          type: string
          readOnly: true
    Extension_2:
      description: Extension resource.
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource
      properties:
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
        properties:
          $ref: '#/components/schemas/ExtensionProperties_2'
          x-ms-client-flatten: true
        eTag:
          description: The ETag value to implement optimistic concurrency.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    ExtensionResourceRequest:
      description: The body of an extension resource PUT request.
      type: object
      properties:
        location:
          description: The Azure region of the Visual Studio account associated with this request (i.e 'southcentralus'.)
          type: string
        plan:
          description: Extended information about the plan being purchased for this extension resource.
          $ref: '#/components/schemas/ExtensionResourcePlan'
        properties:
          description: A dictionary of extended properties. This property is currently unused.
          type: object
          additionalProperties:
            type: string
          x-ms-client-flatten: true
        tags:
          description: A dictionary of user-defined tags to be stored with the extension resource.
          type: object
          additionalProperties:
            type: string
    ExtensionResource:
      description: The response to an extension resource GET request.
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        plan:
          description: The extension plan that was purchased.
          $ref: '#/components/schemas/ExtensionResourcePlan'
        properties:
          description: Resource properties.
          type: object
          additionalProperties:
            type: string
    Resource:
      description: A generic Azure Resource Manager resource.
      x-ms-azure-resource: true
      type: object
      properties:
        id:
          description: Unique identifier of the resource.
          readOnly: true
          type: string
        location:
          description: Resource location.
          type: string
        name:
          description: Resource name.
          readOnly: true
          type: string
        tags:
          description: Resource tags.
          type: object
          additionalProperties:
            type: string
        type:
          description: Resource type.
          readOnly: true
          type: string
    ExtensionResourcePlan:
      description: Plan data for an extension resource.
      type: object
      properties:
        name:
          description: Name of the plan.
          type: string
        product:
          description: Product name.
          type: string
        promotionCode:
          description: 'Optional: the promotion code associated with the plan.'
          type: string
        publisher:
          description: Name of the extension publisher.
          type: string
        version:
          description: A string that uniquely identifies the plan version.
          type: string
    ExtensionResourceListResult:
      description: The response to an extension resource list GET request.
      type: object
      properties:
        value:
          description: Array of extension resource details.
          type: array
          items:
            $ref: '#/components/schemas/ExtensionResource'
  parameters:
    ExtensionIdParameter:
      in: path
      name: extensionId
      description: Id of extension resource.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    DataManagerForAgricultureResourceNameParameter:
      in: path
      name: dataManagerForAgricultureResourceName
      description: DataManagerForAgriculture resource name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 63
        minLength: 1
        pattern: ^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$
    FarmBeatsResourceNameParameter:
      in: path
      name: farmBeatsResourceName
      description: FarmBeats resource name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The Azure subscription identifier.
      required: true
      schema:
        type: string
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      description: Name of the resource group within the Azure subscription.
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      description: API Version
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-refined-from:
- azure-agfoodplatform-rp-service-openapi-original.yml
- azure-agrifood-rp-service-openapi-original.yml
- visual-studio-resource-provider-client-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
