openapi: 3.2.0
info:
  title: Microsoft Azure CommunityGalleryServiceClient Community…
  description: Community Gallery Service Client.
  version: '2021-07-01'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: CommunityGalleryImages
paths:
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/communityGalleries/{publicGalleryName}/images/{galleryImageName}
  : get:
      tags:
      - CommunityGalleryImages
      operationId: microsoftAzureCommunitygalleryimagesGet
      description: Get a community gallery image.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/LocationNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/PublicGalleryNameParameter'
      - $ref: '#/components/parameters/GalleryImageNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityGalleryImage'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Get a gallery.:
          $ref: ./examples/communityGallery/GetACommunityGalleryImage.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Compute…
components:
  schemas:
    RecommendedMachineConfiguration:
      properties:
        vCPUs:
          $ref: '#/components/schemas/ResourceRange'
        memory:
          $ref: '#/components/schemas/ResourceRange'
      description: The properties describe the recommended machine configuration for this Image Definition. These properties are updatable.
    GalleryImageFeature:
      properties:
        name:
          type: string
          description: The name of the gallery image feature.
        value:
          type: string
          description: The value of the gallery image feature.
      description: A feature for gallery image.
    PirCommunityGalleryResource:
      properties:
        name:
          readOnly: true
          type: string
          description: Resource name
        location:
          readOnly: true
          type: string
          description: Resource location
        type:
          readOnly: true
          type: string
          description: Resource type
        identifier:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/CommunityGalleryIdentifier'
      description: Base information about the community gallery resource in pir.
    CommunityGalleryImage:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/CommunityGalleryImageProperties'
      allOf:
      - $ref: '#/components/schemas/PirCommunityGalleryResource'
      description: Specifies information about the gallery image definition that you want to create or update.
    ApiErrorBase:
      properties:
        code:
          type: string
          description: The error code.
        target:
          type: string
          description: The target of the particular error.
        message:
          type: string
          description: The error message.
      description: Api error base.
    Disallowed:
      properties:
        diskTypes:
          type: array
          items:
            type: string
          description: A list of disk types.
      description: Describes the disallowed disk types.
    ApiError:
      properties:
        details:
          type: array
          items:
            $ref: '#/components/schemas/ApiErrorBase'
          x-ms-identifiers:
          - message
          - target
          description: The Api error details
        innererror:
          $ref: '#/components/schemas/InnerError'
          description: The Api inner error
        code:
          type: string
          description: The error code.
        target:
          type: string
          description: The target of the particular error.
        message:
          type: string
          description: The error message.
      description: Api error.
    GalleryImageIdentifier:
      properties:
        publisher:
          type: string
          description: The name of the gallery image definition publisher.
        offer:
          type: string
          description: The name of the gallery image definition offer.
        sku:
          type: string
          description: The name of the gallery image definition SKU.
      required:
      - publisher
      - offer
      - sku
      description: This is the gallery image definition identifier.
    ImagePurchasePlan:
      properties:
        name:
          type: string
          description: The plan ID.
        publisher:
          type: string
          description: The publisher ID.
        product:
          type: string
          description: The product ID.
      description: Describes the gallery image definition purchase plan. This is used by marketplace images.
    CommunityGalleryImageProperties:
      properties:
        osType:
          type: string
          description: 'This property allows you to specify the type of the OS that is included in the disk when creating a VM from a managed image. <br><br> Possible values are: <br><br> **Windows** <br><br> **Linux**'
          enum:
          - Windows
          - Linux
          x-ms-enum:
            name: OperatingSystemTypes
            modelAsString: false
        osState:
          type: string
          description: This property allows the user to specify whether the virtual machines created under this image are 'Generalized' or 'Specialized'.
          enum:
          - Generalized
          - Specialized
          x-ms-enum:
            name: OperatingSystemStateTypes
            modelAsString: false
        endOfLifeDate:
          type: string
          format: date-time
          description: The end of life date of the gallery image definition. This property can be used for decommissioning purposes. This property is updatable.
        identifier:
          $ref: '#/components/schemas/GalleryImageIdentifier'
        recommended:
          $ref: '#/components/schemas/RecommendedMachineConfiguration'
        disallowed:
          $ref: '#/components/schemas/Disallowed'
        hyperVGeneration:
          type: string
          description: The hypervisor generation of the Virtual Machine. Applicable to OS disks only.
          enum:
          - V1
          - V2
          x-ms-enum:
            name: HyperVGeneration
            modelAsString: true
        features:
          type: array
          items:
            $ref: '#/components/schemas/GalleryImageFeature'
          x-ms-identifiers:
          - name
          description: A list of gallery image features.
        purchasePlan:
          $ref: '#/components/schemas/ImagePurchasePlan'
      required:
      - osType
      - osState
      - identifier
      description: Describes the properties of a gallery image definition.
    CloudError:
      x-ms-external: true
      properties:
        error:
          $ref: '#/components/schemas/ApiError'
      description: An error response from the Compute service.
    CommunityGalleryIdentifier:
      properties:
        uniqueId:
          type: string
          description: The unique id of this community gallery.
      description: The identifier information of community gallery.
    ResourceRange:
      properties:
        min:
          type: integer
          format: int32
          description: The minimum number of the resource.
        max:
          type: integer
          format: int32
          description: The maximum number of the resource.
      description: Describes the resource range.
    InnerError:
      properties:
        exceptiontype:
          type: string
          description: The exception type.
        errordetail:
          type: string
          description: The internal error message or exception dump.
      description: Inner error details.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
    GalleryImageNameParameter:
      name: galleryImageName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The name of the community gallery image definition.
      schema:
        type: string
    PublicGalleryNameParameter:
      name: publicGalleryName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The public name of the community gallery.
      schema:
        type: string
    LocationNameParameter:
      name: location
      in: path
      required: true
      x-ms-parameter-location: method
      description: Resource location.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
