openapi: 3.2.0
info:
  title: Microsoft Azure NetworkGroup Network Groups API
  description: The Microsoft Azure Network Group API provides a RESTful set of web services that interact with Microsoft Azure Network Manager service to manage your network resources.
  version: 2022-02-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: NetworkGroups
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/networkGroups/{networkGroupName}
  : parameters:
    - $ref: ./network.json#/parameters/SubscriptionIdParameter
    - $ref: '#/components/parameters/ResourceGroupNameParameter'
    - $ref: '#/components/parameters/NetworkManagerNameParameter'
    - $ref: '#/components/parameters/NetworkGroupNameParameter'
    - $ref: ./network.json#/parameters/ApiVersionParameter
    get:
      tags:
      - NetworkGroups
      operationId: microsoftAzureNetworkgroupsGet
      description: Gets the specified network group.
      responses:
        '200':
          description: OK - Returns information about the network group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkGroup'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        NetworkGroupsGet:
          $ref: ./examples/NetworkManagerGroupGet.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - NetworkGroups
      operationId: microsoftAzureNetworkgroupsCreateorupdate
      description: Creates or updates a network group.
      parameters:
      - name: If-Match
        in: header
        required: false
        x-ms-client-name: IfMatch
        description: The ETag of the transformation. Omit this value to always overwrite the current resource. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.
        schema:
          type: string
      responses:
        '200':
          description: Updated - Returns information about the network group.
          headers:
            ETag:
              description: The current entity tag.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkGroup'
        '201':
          description: Created - Returns information about the network group.
          headers:
            ETag:
              description: The current entity tag.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkGroup'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        NetworkGroupsPut:
          $ref: ./examples/NetworkManagerGroupPut.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkGroup'
        description: Parameters supplied to the specify which network group need to create
        required: true
    delete:
      tags:
      - NetworkGroups
      operationId: microsoftAzureNetworkgroupsDelete
      description: Deletes a network group.
      parameters:
      - $ref: '#/components/parameters/ForceDeleteParameter'
      responses:
        '200':
          description: Delete Succeed.
        '204':
          description: Request successful. The resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        NetworkGroupsDelete:
          $ref: ./examples/NetworkManagerGroupDelete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/networkGroups
  : get:
      tags:
      - NetworkGroups
      operationId: microsoftAzureNetworkgroupsList
      description: Lists the specified network group.
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/NetworkManagerNameParameter'
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/ListTopParameter'
      - $ref: '#/components/parameters/ListSkipTokenParameter'
      responses:
        '200':
          description: OK - Returns information about the network group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkGroupListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        NetworkGroupsList:
          $ref: ./examples/NetworkManagerGroupList.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/networkGroups/{networkGroupName}/listEffectiveVirtualNetworks
  : post:
      tags:
      - NetworkGroups
      operationId: microsoftAzureListeffectivevirtualnetworksBynetworkgroup
      description: Lists all effective virtual networks by specified network group.
      parameters:
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/NetworkManagerNameParameter'
      - $ref: '#/components/parameters/NetworkGroupNameParameter'
      - $ref: ./network.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK - Returns information about the effective virtual networks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EffectiveVirtualNetworksListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        NetworkManagerEffectiveVirtualNetworksList:
          $ref: ./examples/NetworkManagerEffectiveVirtualNetworksList.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequestOptions'
        description: Parameters supplied to list correct page.
        required: true
components:
  schemas:
    NetworkGroupListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/NetworkGroup'
          description: Gets a page of NetworkGroup
        nextLink:
          type: string
          description: Gets the URL to get the next set of results.
      description: Result of the request to list NetworkGroup. It contains a list of groups and a URL link to get the next set of results.
    NetworkGroup:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/NetworkGroupProperties'
          description: The Network Group properties
        systemData:
          readOnly: true
          description: The system metadata related to this resource.
          $ref: ./network.json#/definitions/SystemData
      allOf:
      - $ref: ./network.json#/definitions/ProxyResource
      description: The network group resource
    EffectiveVirtualNetworksListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/EffectiveVirtualNetwork'
          description: Gets a page of EffectiveVirtualNetwork
        skipToken:
          description: When present, the value can be passed to a subsequent query call (together with the same query and scopes used in the current request) to retrieve the next page of data.
          type: string
      description: Result of the request to list Effective Virtual Network. It contains a list of groups and a URL link to get the next set of results.
    EffectiveVirtualNetwork:
      type: object
      properties:
        id:
          type: string
          description: Effective vnet Id.
        location:
          type: string
          description: Location of vnet.
        membershipType:
          type: string
          description: Membership Type.
          enum:
          - Static
          - Dynamic
          x-ms-enum:
            name: MembershipType
            modelAsString: true
      description: Effective Virtual Network
    NetworkGroupProperties:
      type: object
      properties:
        description:
          type: string
          description: A description of the network group.
        memberType:
          type: string
          description: Group member type.
        provisioningState:
          readOnly: true
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the scope assignment resource.
      required:
      - memberType
      description: Properties of network group
    QueryRequestOptions:
      type: object
      properties:
        skipToken:
          description: When present, the value can be passed to a subsequent query call (together with the same query and scopes used in the current request) to retrieve the next page of data.
          type: string
      description: Query Request Options
  parameters:
    NetworkGroupNameParameter:
      name: networkGroupName
      in: path
      required: true
      description: The name of the network group.
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
    ListTopParameter:
      name: $top
      description: An optional query parameter which specifies the maximum number of records to be returned by the server.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        maximum: 20
        minimum: 1
    ForceDeleteParameter:
      name: force
      in: query
      required: false
      description: Deletes the resource even if it is part of a deployed configuration. If the configuration has been deployed, the service will do a cleanup deployment in the background, prior to the delete.
      x-ms-parameter-location: method
      schema:
        type: boolean
    ListSkipTokenParameter:
      name: $skipToken
      description: SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    NetworkManagerNameParameter:
      name: networkManagerName
      in: path
      required: true
      description: The name of the network manager.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
