openapi: 3.2.0
info:
  title: Microsoft Azure Azure Migrate Discovery Service Sql Jobs…
  version: 2023-10-01-preview
  description: Azure OffAzure Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: SqlJobsController
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/masterSites/{siteName}/sqlSites/{sqlSiteName}/jobs
  : get:
      operationId: microsoftAzureSqljobscontrollerListbysqlsite
      tags:
      - SqlJobsController
      summary: Microsoft Azure Gets The Sql Jobs
      description: List SqlJob resources by SqlSite
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: sqlSiteName
        in: path
        description: SQL site name.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SqlJobListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        SqlJobsController_ListBySqlSite_MaximumSet_Gen:
          $ref: ./examples/SqlJobsController_ListBySqlSite_MaximumSet_Gen.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/masterSites/{siteName}/sqlSites/{sqlSiteName}/jobs/{jobName}
  : get:
      operationId: microsoftAzureSqljobscontrollerGet
      tags:
      - SqlJobsController
      summary: Microsoft Azure Gets The Sql Job
      description: Get a SqlJob
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: sqlSiteName
        in: path
        description: SQL site name.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: jobName
        in: path
        description: SQL Job name.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SqlJob'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        SqlJobsController_Get_MaximumSet_Gen:
          $ref: ./examples/SqlJobsController_Get_MaximumSet_Gen.json
components:
  schemas:
    SqlJob:
      type: object
      description: Class representing the web model of SQL Database.
      properties:
        properties:
          $ref: '#/components/schemas/JobProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
    SqlJobListResult:
      type: object
      description: The response of a SqlJob list operation.
      properties:
        value:
          type: array
          description: The SqlJob items on this page
          items:
            $ref: '#/components/schemas/SqlJob'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    ProvisioningState:
      type: string
      description: The status of the current operation.
      enum:
      - Created
      - Updated
      - Running
      - Completed
      - Failed
      - Succeeded
      - Canceled
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: Created
          value: Created
          description: Created value.
        - name: Updated
          value: Updated
          description: Updated value.
        - name: Running
          value: Running
          description: Running value.
        - name: Completed
          value: Completed
          description: Completed value.
        - name: Failed
          value: Failed
          description: Failed value.
        - name: Succeeded
          value: Succeeded
          description: Succeeded value.
        - name: Canceled
          value: Canceled
          description: Canceled value.
    JobProperties:
      type: object
      description: Job REST Resource.
      properties:
        status:
          type: string
          description: Gets operation status.
          readOnly: true
        startTime:
          type: string
          description: Gets operation start time.
          readOnly: true
        endTime:
          type: string
          description: Gets operation end time.
          readOnly: true
        displayName:
          type: string
          description: Gets or sets the display name of the Job.
          readOnly: true
        clientRequestId:
          type: string
          description: Gets the client request Id used in the operation execution context.
          readOnly: true
        activityId:
          type: string
          description: Gets the activity Id used in the operation execution context.
          readOnly: true
        errors:
          type: array
          description: Gets the errors.
          items:
            $ref: '#/components/schemas/ErrorDetails'
          readOnly: true
          x-ms-identifiers: []
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The status of the last operation.
          readOnly: true
    ErrorDetails:
      type: object
      description: Error contract returned when some exception occurs in Rest API.
      properties:
        code:
          type: string
          description: Gets the error code.
          readOnly: true
        message:
          type: string
          description: Gets the error message.
          readOnly: true
        possibleCauses:
          type: string
          description: Gets the possible causes of error.
          readOnly: true
        recommendedAction:
          type: string
          description: Gets the recommended action to resolve error.
          readOnly: true
        severity:
          type: string
          description: Gets the error severity.
          readOnly: true
        isAgentReportedError:
          type: boolean
          description: Gets a value indicating whether the error originated from a agent or not.
          readOnly: true
        agentErrorCode:
          type: string
          description: Gets the agent error code.
          readOnly: true
        agentErrorMessage:
          type: string
          description: Gets the error message from the agent.
          readOnly: true
        agentErrorPossibleCauses:
          type: string
          description: Gets possible causes for the agent error.
          readOnly: true
        agentErrorRecommendedAction:
          type: string
          description: Gets the recommended action for the agent error.
          readOnly: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
