openapi: 3.2.0
info:
  title: Microsoft Azure PaloAltoNetworks.Cloudngfw Fqdn List Global…
  version: 2024-01-19-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: FqdnListGlobalRulestack
paths:
  /providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/fqdnlists:
    get:
      tags:
      - FqdnListGlobalRulestack
      operationId: microsoftAzureFqdnlistglobalrulestackList
      description: List FqdnListGlobalRulestackResource resources by Tenant
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/GlobalRulestackResource.globalRulestackName'
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FqdnListGlobalRulestackResourceListResult'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        FqdnListGlobalRulestack_List_MaximumSet_Gen:
          $ref: ./examples/FqdnListGlobalRulestack_List_MaximumSet_Gen.json
        FqdnListGlobalRulestack_List_MinimumSet_Gen:
          $ref: ./examples/FqdnListGlobalRulestack_List_MinimumSet_Gen.json
      summary: Microsoft Azure Get Providers Paloaltonetworks Cloudngfw Globalrulestacks…
  /providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/fqdnlists/{name}:
    get:
      tags:
      - FqdnListGlobalRulestack
      operationId: microsoftAzureFqdnlistglobalrulestackGet
      description: Get a FqdnListGlobalRulestackResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/GlobalRulestackResource.globalRulestackName'
      - $ref: '#/components/parameters/FqdnListGlobalRulestackResource.name'
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FqdnListGlobalRulestackResource'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        FqdnListGlobalRulestack_Get_MaximumSet_Gen:
          $ref: ./examples/FqdnListGlobalRulestack_Get_MaximumSet_Gen.json
        FqdnListGlobalRulestack_Get_MinimumSet_Gen:
          $ref: ./examples/FqdnListGlobalRulestack_Get_MinimumSet_Gen.json
      summary: Microsoft Azure Get Providers Paloaltonetworks Cloudngfw Globalrulestacks…
    put:
      tags:
      - FqdnListGlobalRulestack
      operationId: microsoftAzureFqdnlistglobalrulestackCreateorupdate
      description: Create a FqdnListGlobalRulestackResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/GlobalRulestackResource.globalRulestackName'
      - $ref: '#/components/parameters/FqdnListGlobalRulestackResource.name'
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FqdnListGlobalRulestackResource'
        '201':
          description: Azure create operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FqdnListGlobalRulestackResource'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      x-ms-examples:
        FqdnListGlobalRulestack_CreateOrUpdate_MaximumSet_Gen:
          $ref: ./examples/FqdnListGlobalRulestack_CreateOrUpdate_MaximumSet_Gen.json
        FqdnListGlobalRulestack_CreateOrUpdate_MinimumSet_Gen:
          $ref: ./examples/FqdnListGlobalRulestack_CreateOrUpdate_MinimumSet_Gen.json
      summary: Microsoft Azure Put Providers Paloaltonetworks Cloudngfw Globalrulestacks…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FqdnListGlobalRulestackResource'
        description: Resource create parameters.
        required: true
    delete:
      tags:
      - FqdnListGlobalRulestack
      operationId: microsoftAzureFqdnlistglobalrulestackDelete
      description: Delete a FqdnListGlobalRulestackResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/GlobalRulestackResource.globalRulestackName'
      - $ref: '#/components/parameters/FqdnListGlobalRulestackResource.name'
      responses:
        '200':
          description: Resource deleted successfully.
        '202':
          description: Resource deletion accepted.
        '204':
          description: Resource deleted successfully.
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      x-ms-examples:
        FqdnListGlobalRulestack_Delete_MaximumSet_Gen:
          $ref: ./examples/FqdnListGlobalRulestack_Delete_MaximumSet_Gen.json
        FqdnListGlobalRulestack_Delete_MinimumSet_Gen:
          $ref: ./examples/FqdnListGlobalRulestack_Delete_MinimumSet_Gen.json
      summary: Microsoft Azure Delete Providers Paloaltonetworks Cloudngfw Globalrulestacks…
components:
  schemas:
    FqdnListGlobalRulestackResourceListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/FqdnListGlobalRulestackResource'
          x-cadl-name: FqdnListGlobalRulestackResource[]
          description: The items on this page
        nextLink:
          type: string
          description: The link to the next page of items
      description: The response of a FqdnListGlobalRulestackResource list operation.
      required:
      - value
    ProvisioningState:
      type: string
      description: Provisioning state of the firewall resource.
      enum:
      - Accepted
      - Creating
      - Updating
      - Deleting
      - Succeeded
      - Failed
      - Canceled
      - Deleted
      - NotSpecified
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    FqdnObject:
      type: object
      properties:
        description:
          type: string
          description: fqdn object description
        fqdnList:
          type: array
          items:
            type: string
          x-cadl-name: string[]
          description: fqdn list
        etag:
          type: string
          description: etag info
        auditComment:
          type: string
          description: comment for this object
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: Provisioning state of the resource.
          readOnly: true
      description: fqdn object
      required:
      - fqdnList
    FqdnListGlobalRulestackResource:
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/FqdnObject'
          description: The resource-specific properties for this resource.
          x-ms-mutability:
          - read
          - create
          x-ms-client-flatten: true
        systemData:
          $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/systemData
          description: System metadata for this resource.
          readOnly: true
      description: GlobalRulestack fqdnList
      required:
      - properties
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
  parameters:
    FqdnListGlobalRulestackResource.name:
      name: name
      in: path
      required: true
      description: fqdn list name
      x-ms-parameter-location: method
      schema:
        type: string
    GlobalRulestackResource.globalRulestackName:
      name: globalRulestackName
      in: path
      required: true
      description: GlobalRulestack resource name
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
