openapi: 3.2.0
info:
  title: Microsoft Azure MonitorManagementClient Async Operations API
  x-ms-code-generation-settings:
    name: MonitorManagementClient
  description: Azure Monitor API reference for Private Links Scopes management.
  version: 2021-07-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Async Operations
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/privateLinkScopeOperationStatuses/{asyncOperationId}
  : get:
      x-ms-examples:
        Get specific operation status:
          $ref: ./examples/privateLinkScopeOperationStatuses.json
      tags:
      - Async Operations
      operationId: microsoftAzurePrivatelinkscopeoperationstatusGet
      description: Get the status of an azure asynchronous operation associated with a private link scope operation.
      parameters:
      - name: asyncOperationId
        in: path
        required: true
        description: The operation Id.
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: OK. Operation status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: An error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    DefaultErrorResponse:
      title: Default error response
      description: Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).
      type: object
      properties:
        error:
          description: The error object.
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorDetail
    OperationStatus:
      description: The status of operation.
      type: object
      properties:
        id:
          type: string
          description: The operation Id.
        name:
          type: string
          description: The operation name.
        startTime:
          type:
          - string
          - 'null'
          format: date-time
          description: Start time of the job in standard ISO8601 format.
        endTime:
          type:
          - string
          - 'null'
          format: date-time
          description: End time of the job in standard ISO8601 format.
        status:
          type: string
          description: The status of the operation.
        error:
          type:
          - object
          - 'null'
          description: The error detail of the operation if any.
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorDetail
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
