openapi: 3.2.0
info:
  title: Microsoft Azure GraphRbacManagementClient Objects API
  version: '1.6'
  description: The Graph RBAC Management Client
servers:
- url: https://graph.windows.net
security:
- azure_auth:
  - user_impersonation
tags:
- name: Objects
paths:
  /{tenantID}/getObjectsByObjectIds:
    post:
      tags:
      - Objects
      operationId: microsoftAzureObjectsGetobjectsbyobjectids
      description: Gets the directory objects specified in a list of object IDs. You can also specify which resource collections (users, groups, etc.) should be searched by specifying the optional types parameter.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryObjectListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/DirectoryObjectListResult'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: Objects_GetObjectsByObjectIdsNext
      summary: Microsoft Azure Post Tenantid Getobjectsbyobjectids
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetObjectsParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/GetObjectsParameters'
        description: Objects filtering parameters.
        required: true
components:
  schemas:
    GetObjectsParameters:
      type: object
      properties:
        objectIds:
          type: array
          items:
            type: string
          description: The requested object IDs.
        types:
          type: array
          items:
            type: string
          description: The requested object types.
        includeDirectoryObjectReferences:
          type: boolean
          description: If true, also searches for object IDs in the partner tenant.
      additionalProperties:
        type: object
      description: Request parameters for the GetObjectsByObjectIds API.
    DirectoryObjectListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/DirectoryObject'
          description: A collection of DirectoryObject.
        odata.nextLink:
          type: string
          description: The URL to get the next set of results.
      description: DirectoryObject list operation result.
    DirectoryObject:
      type: object
      discriminator:
        propertyName: objectType
      properties:
        objectId:
          type: string
          description: The object ID.
          readOnly: true
        objectType:
          type: string
          description: The object type.
        deletionTimestamp:
          type:
          - string
          - 'null'
          format: date-time
          description: The time at which the directory object was deleted.
          readOnly: true
      required:
      - objectType
      additionalProperties:
        type: object
      description: Represents an Azure Active Directory object.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
    tenantIDInPath:
      name: tenantID
      in: path
      required: true
      description: The tenant ID.
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-ms-paths:
  /{tenantID}/{nextLink}?OAuth2PermissionGrant_ListNext:
    get:
      tags:
      - OAuth2PermissionGrant_ListNext
      operationId: OAuth2PermissionGrant_ListNext
      description: Gets the next page of OAuth2 permission grants
      parameters:
      - name: nextLink
        in: path
        required: true
        type: string
        description: Next link for the list operation.
        x-ms-skip-url-encoding: true
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/components/schemas/OAuth2PermissionGrantListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: OAuth2PermissionGrant_ListNext
  /{tenantID}/{nextLink}?SignedInUser_ListOwnedObjectsNext:
    get:
      tags:
      - SignedInUser
      operationId: SignedInUser_ListOwnedObjectsNext
      description: Get the list of directory objects that are owned by the user.
      parameters:
      - name: nextLink
        in: path
        required: true
        type: string
        description: Next link for the list operation.
        x-ms-skip-url-encoding: true
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/components/schemas/DirectoryObjectListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: SignedInUser_ListOwnedObjectsNext
  /{tenantID}/{nextLink}?Groups_ListNext:
    get:
      tags:
      - Group
      operationId: Groups_ListNext
      description: Gets a list of groups for the current tenant.
      parameters:
      - name: nextLink
        in: path
        required: true
        type: string
        description: Next link for the list operation.
        x-ms-skip-url-encoding: true
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/components/schemas/GroupListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: Groups_ListNext
  /{tenantID}/{nextLink}?Groups_GetGroupMembersNext:
    get:
      tags:
      - Group
      operationId: Groups_GetGroupMembersNext
      description: Gets the members of a group.
      parameters:
      - name: nextLink
        in: path
        required: true
        type: string
        description: Next link for the list operation.
        x-ms-skip-url-encoding: true
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/components/schemas/DirectoryObjectListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: Groups_GetGroupMembersNext
  /{tenantID}/{nextLink}?Applications_ListNext:
    get:
      tags:
      - Applications
      operationId: Applications_ListNext
      description: Gets a list of applications from the current tenant.
      parameters:
      - name: nextLink
        in: path
        required: true
        type: string
        description: Next link for the list operation.
        x-ms-skip-url-encoding: true
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/components/schemas/ApplicationListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: Applications_ListNext
  /{tenantID}/{nextLink}?DeletedApplications_ListNext:
    get:
      tags:
      - deletedApplications
      operationId: DeletedApplications_ListNext
      description: Gets a list of deleted applications in the directory.
      parameters:
      - name: nextLink
        in: path
        required: true
        type: string
        description: Next link for the list operation.
        x-ms-skip-url-encoding: true
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/components/schemas/ApplicationListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: DeletedApplications_ListNext
  /{tenantID}/{nextLink}?ServicePrincipals_ListNext:
    get:
      tags:
      - ServicePrincipal
      operationId: ServicePrincipals_ListNext
      description: Gets a list of service principals from the current tenant.
      parameters:
      - name: nextLink
        in: path
        required: true
        type: string
        description: Next link for the list operation.
        x-ms-skip-url-encoding: true
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/components/schemas/ServicePrincipalListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: ServicePrincipals_ListNext
  /{tenantID}/{nextLink}?Users_ListNext:
    get:
      tags:
      - User
      operationId: Users_ListNext
      description: Gets a list of users for the current tenant.
      parameters:
      - name: nextLink
        in: path
        required: true
        type: string
        description: Next link for the list operation.
        x-ms-skip-url-encoding: true
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/components/schemas/UserListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: Users_ListNext
  /{tenantID}/{nextLink}?Objects_GetObjectsByObjectIdsNext:
    post:
      tags:
      - Objects
      operationId: Objects_GetObjectsByObjectIdsNext
      description: Gets AD group membership for the specified AD object IDs.
      parameters:
      - name: nextLink
        in: path
        required: true
        type: string
        description: Next link for the list operation.
        x-ms-skip-url-encoding: true
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/components/schemas/DirectoryObjectListResult'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: Objects_GetObjectsByObjectIdsNext
