openapi: 3.2.0
info:
  title: Microsoft Azure MySQLManagementClient Check Virtual Network…
  description: The Microsoft Azure management API provides create, read, update, and delete functionality for Azure MySQL resources including servers, databases, firewall rules and configurations.
  version: 2023-06-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: CheckVirtualNetworkSubnetUsage
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.DBforMySQL/locations/{locationName}/checkVirtualNetworkSubnetUsage:
    post:
      tags:
      - CheckVirtualNetworkSubnetUsage
      operationId: microsoftAzureCheckvirtualnetworksubnetusageExecute
      x-ms-examples:
        CheckVirtualNetworkSubnetUsage:
          $ref: ./examples/CheckVirtualNetworkSubnetUsage.json
      description: Get virtual network subnet usage for a given vNet resource id.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common-types/v1/common-types.json#/parameters/LocationNameParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkSubnetUsageResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkSubnetUsageParameter'
        description: The required parameters for creating or updating a server.
        required: true
components:
  schemas:
    VirtualNetworkSubnetUsageParameter:
      type: object
      properties:
        virtualNetworkResourceId:
          type: string
          description: Virtual network resource id.
      description: Virtual network subnet usage parameter
    DelegatedSubnetUsage:
      type: object
      properties:
        subnetName:
          type: string
          readOnly: true
          description: name of the subnet
        usage:
          type: integer
          format: int64
          readOnly: true
          description: Number of used delegated subnets
      description: Delegated subnet usage data.
    VirtualNetworkSubnetUsageResult:
      type: object
      properties:
        location:
          type: string
          readOnly: true
          description: The location name.
        subscriptionId:
          type: string
          readOnly: true
          description: The subscription id.
        delegatedSubnetsUsage:
          description: A list of delegated subnet usage
          type: array
          items:
            $ref: '#/components/schemas/DelegatedSubnetUsage'
          x-ms-identifiers: []
          readOnly: true
      description: Virtual network subnet usage data.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
