openapi: 3.2.0
info:
  title: Microsoft Azure LogicManagementClient Integration Account…
  description: REST API for Azure Logic Apps.
  version: 2018-07-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: IntegrationAccountCertificates
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/certificates
  : get:
      tags:
      - IntegrationAccountCertificates
      operationId: microsoftAzureIntegrationaccountcertificatesList
      description: Gets a list of integration account certificates.
      x-ms-examples:
        Get certificates by integration account name:
          $ref: ./examples/IntegrationAccountCertificates_List.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      - name: $top
        description: The number of items to be included in the result.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountCertificateListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/certificates/{certificateName}
  : get:
      tags:
      - IntegrationAccountCertificates
      operationId: microsoftAzureIntegrationaccountcertificatesGet
      description: Gets an integration account certificate.
      x-ms-examples:
        Get certificate by name:
          $ref: ./examples/IntegrationAccountCertificates_Get.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        schema:
          type: string
      - name: certificateName
        description: The integration account certificate name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountCertificate'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - IntegrationAccountCertificates
      operationId: microsoftAzureIntegrationaccountcertificatesCreateorupdate
      description: Creates or updates an integration account certificate.
      x-ms-examples:
        Create or update a certificate:
          $ref: ./examples/IntegrationAccountCertificates_CreateOrUpdate.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        schema:
          type: string
      - name: certificateName
        description: The integration account certificate name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountCertificate'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountCertificate'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationAccountCertificate'
        description: The integration account certificate.
        required: true
    delete:
      tags:
      - IntegrationAccountCertificates
      operationId: microsoftAzureIntegrationaccountcertificatesDelete
      description: Deletes an integration account certificate.
      x-ms-examples:
        Delete a certificate:
          $ref: ./examples/IntegrationAccountCertificates_Delete.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        schema:
          type: string
      - name: certificateName
        description: The integration account certificate name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    IntegrationAccountCertificate:
      type: object
      required:
      - properties
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/IntegrationAccountCertificateProperties'
          description: The integration account certificate properties.
      description: The integration account certificate.
      allOf:
      - $ref: '#/components/schemas/Resource'
    IntegrationAccountCertificateListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/IntegrationAccountCertificate'
          description: The list of integration account certificates.
        nextLink:
          type: string
          description: The URL to get the next set of results.
      description: The list of integration account certificates.
    KeyVaultKeyReference:
      type: object
      required:
      - keyVault
      - keyName
      properties:
        keyVault:
          type: object
          description: The key vault reference.
          properties:
            id:
              type: string
              description: The resource id.
            name:
              type: string
              readOnly: true
              description: The resource name.
            type:
              type: string
              readOnly: true
              description: The resource type.
        keyName:
          type: string
          description: The private key name in key vault.
        keyVersion:
          type: string
          description: The private key version in key vault.
      description: The reference to the key vault key.
    IntegrationAccountCertificateProperties:
      type: object
      properties:
        createdTime:
          type: string
          format: date-time
          readOnly: true
          description: The created time.
        changedTime:
          type: string
          format: date-time
          readOnly: true
          description: The changed time.
        metadata:
          type: object
          description: The metadata.
          properties: {}
        key:
          $ref: '#/components/schemas/KeyVaultKeyReference'
          description: The key details in the key vault.
        publicCertificate:
          type: string
          description: The public certificate.
      description: The integration account certificate properties.
    Resource:
      properties:
        id:
          type: string
          readOnly: true
          description: The resource id.
        name:
          type: string
          readOnly: true
          description: Gets the resource name.
        type:
          type: string
          readOnly: true
          description: Gets the resource type.
        location:
          type: string
          description: The resource location.
        tags:
          type: object
          additionalProperties:
            type: string
          description: The resource tags.
      x-ms-azure-resource: true
      description: The base resource type.
  parameters:
    api-version:
      name: api-version
      description: The API version.
      in: query
      required: true
      schema:
        type: string
    subscriptionId:
      name: subscriptionId
      description: The subscription id.
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
