openapi: 3.2.0
info:
  title: Microsoft Azure Azure Migrate Assessment Service Sql…
  version: 2023-04-01-preview
  description: Azure Migrate Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: SqlAssessmentV2SummaryOperations
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/sqlAssessments/{assessmentName}/summaries
  : get:
      operationId: microsoftAzureSqlassessmentv2summaryoperationsListbysqlassessmentv2
      tags:
      - SqlAssessmentV2SummaryOperations
      description: List SqlAssessmentV2Summary resources by SqlAssessmentV2
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: groupName
        in: path
        description: Group ARM name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: assessmentName
        in: path
        description: SQL Assessment arm name.
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SqlAssessmentV2SummaryListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        SqlAssessmentV2SummaryOperations_ListBySqlAssessmentV2_MaximumSet_Gen:
          $ref: ./examples/SqlAssessmentV2SummaryOperations_ListBySqlAssessmentV2_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/sqlAssessments/{assessmentName}/summaries/{summaryName}
  : get:
      operationId: microsoftAzureSqlassessmentv2summaryoperationsGet
      tags:
      - SqlAssessmentV2SummaryOperations
      description: Get a SqlAssessmentV2Summary
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: groupName
        in: path
        description: Group ARM name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: assessmentName
        in: path
        description: SQL Assessment arm name.
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: summaryName
        in: path
        description: Gets the Name of the SQL Summary.
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SqlAssessmentV2Summary'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        SqlAssessmentV2SummaryOperations_Get_MaximumSet_Gen:
          $ref: ./examples/SqlAssessmentV2SummaryOperations_Get_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    SqlAssessmentV2SummaryProperties:
      type: object
      description: SQL Assessment V2 summary properties.
      properties:
        assessmentSummary:
          type: object
          description: Gets or sets the Assessment summary.
          additionalProperties:
            $ref: '#/components/schemas/SqlAssessmentV2SummaryData'
          readOnly: true
        distributionBySupportStatus:
          type: object
          description: Gets the distribution of sqlInstances by support status.
          additionalProperties:
            format: int32
            type: integer
          readOnly: true
        distributionByServicePackInsight:
          type: object
          description: Gets the distribution distribution of sqlInstances by service pack insight.
          additionalProperties:
            format: int32
            type: integer
          readOnly: true
        distributionBySqlVersion:
          type: object
          description: Gets the distribution of sqlInstances by sql version.
          additionalProperties:
            format: int32
            type: integer
          readOnly: true
        distributionBySqlEdition:
          type: object
          description: Gets the distribution of sqlInstances by sql edition.
          additionalProperties:
            format: int32
            type: integer
          readOnly: true
        instanceDistributionBySizingCriterion:
          type: object
          description: Gets the instance distribution by sizing criterion.
          additionalProperties:
            format: int32
            type: integer
          readOnly: true
        databaseDistributionBySizingCriterion:
          type: object
          description: Gets the database distribution by sizing criterion.
          additionalProperties:
            format: int32
            type: integer
          readOnly: true
        numberOfMachines:
          type: integer
          format: int32
          description: Number of machines part of the assessment.
          readOnly: true
        numberOfSqlInstances:
          type: integer
          format: int32
          description: Number of sql instances part of the assessment.
          readOnly: true
        numberOfSuccessfullyDiscoveredSqlInstances:
          type: integer
          format: int32
          description: Number of successfully discovered sql instances part of the assessment.
          readOnly: true
        numberOfSqlDatabases:
          type: integer
          format: int32
          description: Number of sql databases part of the assessment.
          readOnly: true
        numberOfFciInstances:
          type: integer
          format: int32
          description: Number of sql failover cluster instances part of the assessment.
          readOnly: true
        numberOfSqlAvailabilityGroups:
          type: integer
          format: int32
          description: Number of sql availability groups part of the assessment.
          readOnly: true
    SqlAssessmentV2SummaryListResult:
      type: object
      description: The response of a SqlAssessmentV2Summary list operation.
      properties:
        value:
          type: array
          description: The SqlAssessmentV2Summary items on this page
          items:
            $ref: '#/components/schemas/SqlAssessmentV2Summary'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    SqlAssessmentV2SummaryData:
      type: object
      description: SQL Assessment V2 summary data.
      properties:
        suitabilitySummary:
          type: object
          description: Sql assessment summary data
          additionalProperties:
            format: int32
            type: integer
          readOnly: true
        monthlyComputeCost:
          type: number
          format: float
          description: Monthly compute cost
          readOnly: true
        monthlyStorageCost:
          type: number
          format: float
          description: Monthly storage cost
          readOnly: true
        monthlyLicenseCost:
          type: number
          format: float
          description: Monthly license cost
          readOnly: true
        confidenceScore:
          type: number
          format: float
          description: Confidence Rating
          readOnly: true
        monthlySecurityCost:
          type: number
          format: float
          description: Monthly security cost
          readOnly: true
    SqlAssessmentV2Summary:
      type: object
      description: SQL Assessment REST resource.
      properties:
        properties:
          $ref: '#/components/schemas/SqlAssessmentV2SummaryProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
