openapi: 3.2.0
info:
  title: Microsoft Azure CustomerInsightsManagementClient…
  description: The Azure Customer Insights management API provides a RESTful set of web services that interact with Azure Customer Insights service to manage your resources. The API has entities that capture the relationship between an end user and the Azure Customer Insights service.
  version: '2017-04-26'
  x-ms-code-generation-settings:
    name: CustomerInsightsManagementClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: RelationshipLinks
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/relationshipLinks/{relationshipLinkName}
  : put:
      tags:
      - RelationshipLinks
      operationId: microsoftAzureRelationshiplinksCreateorupdate
      x-ms-examples:
        RelationshipLinks_CreateOrUpdate:
          $ref: ./examples/RelationshipLinksCreateOrUpdate.json
      description: Creates a relationship link or updates an existing relationship link within a hub.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hubName
        in: path
        required: true
        description: The name of the hub.
        schema:
          type: string
      - name: relationshipLinkName
        in: path
        required: true
        description: The name of the relationship link.
        schema:
          type: string
          maxLength: 512
          minLength: 1
          pattern: ^[a-zA-Z][a-zA-Z0-9_]+$
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. Successfully created the relationship link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelationshipLinkResourceFormat'
        '202':
          description: Accepted. The create relationship operation is accepted.
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelationshipLinkResourceFormat'
        description: Parameters supplied to the CreateOrUpdate relationship link operation.
        required: true
    get:
      tags:
      - RelationshipLinks
      operationId: microsoftAzureRelationshiplinksGet
      x-ms-examples:
        RelationshipLinks_Get:
          $ref: ./examples/RelationshipLinksGet.json
      description: Gets information about the specified relationship Link.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hubName
        in: path
        required: true
        description: The name of the hub.
        schema:
          type: string
      - name: relationshipLinkName
        in: path
        required: true
        description: The name of the relationship link.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. Successfully get the relationship link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelationshipLinkResourceFormat'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    delete:
      tags:
      - RelationshipLinks
      operationId: microsoftAzureRelationshiplinksDelete
      x-ms-examples:
        RelationshipLinks_Delete:
          $ref: ./examples/RelationshipLinksDelete.json
      description: Deletes a relationship link within a hub.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hubName
        in: path
        required: true
        description: The name of the hub.
        schema:
          type: string
      - name: relationshipLinkName
        in: path
        required: true
        description: The name of the relationship.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. The relationship link is deleted.
        '202':
          description: Accepted. The delete operation is accepted.
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/relationshipLinks
  : get:
      tags:
      - RelationshipLinks
      operationId: microsoftAzureRelationshiplinksListbyhub
      x-ms-examples:
        RelationshipLinks_ListByHub:
          $ref: ./examples/RelationshipLinksListByHub.json
      description: Gets all relationship links in the hub.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hubName
        in: path
        required: true
        description: The name of the hub.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. Successfully get all the relationship links in the hub.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelationshipLinkListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    RelationshipLinkListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/RelationshipLinkResourceFormat'
          description: Results of the list operation.
        nextLink:
          type: string
          description: Link to the next set of results.
      description: The response of list relationship link operation.
    ProvisioningState:
      type: string
      enum:
      - Provisioning
      - Succeeded
      - Expiring
      - Deleting
      - HumanIntervention
      - Failed
      x-ms-enum:
        name: ProvisioningStates
        modelAsString: true
      description: Provisioning state.
    RelationshipLinkFieldMapping:
      required:
      - interactionFieldName
      - relationshipFieldName
      properties:
        interactionFieldName:
          type: string
          description: The field name on the Interaction Type.
        linkType:
          type: string
          enum:
          - UpdateAlways
          - CopyIfNull
          x-ms-enum:
            name: LinkTypes
            modelAsString: false
          description: Link type.
        relationshipFieldName:
          type: string
          description: The field name on the Relationship metadata.
      description: The fields mapping for Relationships.
    ProxyResource:
      properties:
        id:
          readOnly: true
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
      x-ms-azure-resource: true
      description: Common properties of proxy resource.
    RelationshipLinkResourceFormat:
      description: The relationship link resource format.
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/RelationshipLinkDefinition'
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
    RelationshipLinkDefinition:
      required:
      - interactionType
      - profilePropertyReferences
      - relatedProfilePropertyReferences
      - relationshipName
      properties:
        displayName:
          type: object
          additionalProperties:
            type: string
          description: Localized display name for the Relationship Link.
        description:
          type: object
          additionalProperties:
            type: string
          description: Localized descriptions for the Relationship Link.
        interactionType:
          type: string
          description: The InteractionType associated with the Relationship Link.
        linkName:
          type: string
          readOnly: true
          description: The name of the Relationship Link.
        mappings:
          type: array
          items:
            $ref: '#/components/schemas/RelationshipLinkFieldMapping'
          description: The mappings between Interaction and Relationship fields.
        profilePropertyReferences:
          type: array
          items:
            $ref: '#/components/schemas/ParticipantProfilePropertyReference'
          description: The property references for the Profile of the Relationship.
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          readOnly: true
          description: Provisioning state.
        relatedProfilePropertyReferences:
          type: array
          items:
            $ref: '#/components/schemas/ParticipantProfilePropertyReference'
          description: The property references for the Related Profile of the Relationship.
        relationshipName:
          type: string
          description: The Relationship associated with the Link.
        relationshipGuidId:
          type: string
          readOnly: true
          description: The relationship guid id.
        tenantId:
          type: string
          readOnly: true
          description: The hub name.
      description: The definition of relationship link.
    ParticipantProfilePropertyReference:
      required:
      - interactionPropertyName
      - profilePropertyName
      properties:
        interactionPropertyName:
          type: string
          description: The source interaction property that maps to the target profile property.
        profilePropertyName:
          type: string
          description: The target profile property that maps to the source interaction property.
      description: The participant profile property reference.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
