openapi: 3.2.0
info:
  title: Microsoft Azure CloudServiceManagementClient Cloud Service…
  description: The Cloud Service Management Client.
  version: '2022-04-04'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: CloudServiceRoleInstances
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/cloudServices/{cloudServiceName}/roleInstances/{roleInstanceName}
  : delete:
      tags:
      - CloudServiceRoleInstances
      description: Deletes a role instance from a cloud service.
      operationId: microsoftAzureCloudserviceroleinstancesDelete
      parameters:
      - in: path
        name: roleInstanceName
        description: Name of the role instance.
        required: true
        schema:
          type: string
      - in: path
        name: resourceGroupName
        description: Name of the resource group.
        required: true
        schema:
          type: string
      - in: path
        name: cloudServiceName
        description: Name of the cloud service.
        required: true
        schema:
          type: string
      - $ref: ./common.json#/parameters/SubscriptionIdParameter
      - $ref: ./common.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/CloudError
      x-ms-long-running-operation: true
      x-ms-examples:
        Delete Cloud Service Role Instance:
          $ref: ./examples/CloudServiceRoleInstance_Delete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    get:
      tags:
      - CloudServiceRoleInstances
      description: Gets a role instance from a cloud service.
      operationId: microsoftAzureCloudserviceroleinstancesGet
      parameters:
      - in: path
        name: roleInstanceName
        description: Name of the role instance.
        required: true
        schema:
          type: string
      - in: path
        name: resourceGroupName
        description: Name of the resource group.
        required: true
        schema:
          type: string
      - in: path
        name: cloudServiceName
        description: Name of the cloud service.
        required: true
        schema:
          type: string
      - $ref: ./common.json#/parameters/SubscriptionIdParameter
      - $ref: ./common.json#/parameters/ApiVersionParameter
      - in: query
        name: $expand
        description: The expand expression to apply to the operation. 'UserData' is not supported for cloud services.
        x-ms-enum:
          name: InstanceViewTypes
          modelAsString: false
        schema:
          type: string
          enum:
          - instanceView
          - userData
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleInstance'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/CloudError
      x-ms-examples:
        Get Cloud Service Role Instance:
          $ref: ./examples/CloudServiceRoleInstance_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/cloudServices/{cloudServiceName}/roleInstances/{roleInstanceName}/instanceView
  : get:
      tags:
      - CloudServiceRoleInstances
      description: Retrieves information about the run-time state of a role instance in a cloud service.
      operationId: microsoftAzureCloudserviceroleinstancesGetinstanceview
      parameters:
      - in: path
        name: roleInstanceName
        description: Name of the role instance.
        required: true
        schema:
          type: string
      - in: path
        name: resourceGroupName
        description: Name of the resource group.
        required: true
        schema:
          type: string
      - in: path
        name: cloudServiceName
        description: Name of the cloud service.
        required: true
        schema:
          type: string
      - $ref: ./common.json#/parameters/SubscriptionIdParameter
      - $ref: ./common.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleInstanceInstanceView'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/CloudError
      x-ms-examples:
        Get Instance View of Cloud Service Role Instance:
          $ref: ./examples/CloudServiceRoleInstance_Get_InstanceView.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/cloudServices/{cloudServiceName}/roleInstances
  : get:
      tags:
      - CloudServiceRoleInstances
      description: Gets the list of all role instances in a cloud service. Use nextLink property in the response to get the next page of role instances. Do this till nextLink is null to fetch all the role instances.
      operationId: microsoftAzureCloudserviceroleinstancesList
      parameters:
      - in: path
        name: resourceGroupName
        description: Name of the resource group.
        required: true
        schema:
          type: string
      - in: path
        name: cloudServiceName
        description: Name of the cloud service.
        required: true
        schema:
          type: string
      - $ref: ./common.json#/parameters/SubscriptionIdParameter
      - $ref: ./common.json#/parameters/ApiVersionParameter
      - in: query
        name: $expand
        description: The expand expression to apply to the operation. 'UserData' is not supported for cloud services.
        x-ms-enum:
          name: InstanceViewTypes
          modelAsString: false
        schema:
          type: string
          enum:
          - instanceView
          - userData
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleInstanceListResult'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/CloudError
      x-ms-examples:
        List Role Instances in a Cloud Service:
          $ref: ./examples/CloudServiceRolesInstance_List.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/cloudServices/{cloudServiceName}/roleInstances/{roleInstanceName}/restart
  : post:
      tags:
      - CloudServiceRoleInstances
      description: The Reboot Role Instance asynchronous operation requests a reboot of a role instance in the cloud service.
      operationId: microsoftAzureCloudserviceroleinstancesRestart
      parameters:
      - in: path
        name: roleInstanceName
        description: Name of the role instance.
        required: true
        schema:
          type: string
      - in: path
        name: resourceGroupName
        description: Name of the resource group.
        required: true
        schema:
          type: string
      - in: path
        name: cloudServiceName
        description: Name of the cloud service.
        required: true
        schema:
          type: string
      - $ref: ./common.json#/parameters/SubscriptionIdParameter
      - $ref: ./common.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/CloudError
      x-ms-long-running-operation: true
      x-ms-examples:
        Restart Cloud Service Role Instance:
          $ref: ./examples/CloudServiceRoleInstance_Restart.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/cloudServices/{cloudServiceName}/roleInstances/{roleInstanceName}/reimage
  : post:
      tags:
      - CloudServiceRoleInstances
      description: The Reimage Role Instance asynchronous operation reinstalls the operating system on instances of web roles or worker roles.
      operationId: microsoftAzureCloudserviceroleinstancesReimage
      parameters:
      - in: path
        name: roleInstanceName
        description: Name of the role instance.
        required: true
        schema:
          type: string
      - in: path
        name: resourceGroupName
        description: Name of the resource group.
        required: true
        schema:
          type: string
      - in: path
        name: cloudServiceName
        description: Name of the cloud service.
        required: true
        schema:
          type: string
      - $ref: ./common.json#/parameters/SubscriptionIdParameter
      - $ref: ./common.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/CloudError
      x-ms-long-running-operation: true
      x-ms-examples:
        Reimage Cloud Service Role Instance:
          $ref: ./examples/CloudServiceRoleInstance_Reimage.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/cloudServices/{cloudServiceName}/roleInstances/{roleInstanceName}/rebuild
  : post:
      tags:
      - CloudServiceRoleInstances
      description: The Rebuild Role Instance asynchronous operation reinstalls the operating system on instances of web roles or worker roles and initializes the storage resources that are used by them. If you do not want to initialize storage resources, you can use Reimage Role Instance.
      operationId: microsoftAzureCloudserviceroleinstancesRebuild
      parameters:
      - in: path
        name: roleInstanceName
        description: Name of the role instance.
        required: true
        schema:
          type: string
      - in: path
        name: resourceGroupName
        description: Name of the resource group.
        required: true
        schema:
          type: string
      - in: path
        name: cloudServiceName
        description: Name of the cloud service.
        required: true
        schema:
          type: string
      - $ref: ./common.json#/parameters/SubscriptionIdParameter
      - $ref: ./common.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/CloudError
      x-ms-long-running-operation: true
      x-ms-examples:
        Rebuild Cloud Service Role Instance:
          $ref: ./examples/CloudServiceRoleInstance_Rebuild.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/cloudServices/{cloudServiceName}/roleInstances/{roleInstanceName}/remoteDesktopFile
  : get:
      tags:
      - CloudServiceRoleInstances
      description: Gets a remote desktop file for a role instance in a cloud service.
      operationId: microsoftAzureCloudserviceroleinstancesGetremotedesktopfile
      parameters:
      - in: path
        name: roleInstanceName
        description: Name of the role instance.
        required: true
        schema:
          type: string
      - in: path
        name: resourceGroupName
        description: Name of the resource group.
        required: true
        schema:
          type: string
      - in: path
        name: cloudServiceName
        description: Name of the cloud service.
        required: true
        schema:
          type: string
      - $ref: ./common.json#/parameters/SubscriptionIdParameter
      - $ref: ./common.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/x-rdp:
              schema:
                format: binary
                type: string
        default:
          description: Error
          content:
            application/x-rdp:
              schema:
                $ref: ./common.json#/definitions/CloudError
      x-ms-examples:
        Get Cloud Service Role:
          $ref: ./examples/CloudServiceRoleInstance_Get_RemoteDesktopFile.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    InstanceSku:
      description: The role instance SKU.
      type: object
      properties:
        name:
          description: The sku name.
          type: string
          readOnly: true
        tier:
          description: The tier of the cloud service role instance.
          type: string
          readOnly: true
    RoleInstanceProperties:
      description: Role instance properties.
      type: object
      properties:
        networkProfile:
          $ref: '#/components/schemas/RoleInstanceNetworkProfile'
        instanceView:
          $ref: '#/components/schemas/RoleInstanceInstanceView'
    ResourceInstanceViewStatus:
      description: Instance view status.
      type: object
      properties:
        code:
          description: The status code.
          type: string
          readOnly: true
        displayStatus:
          description: The short localizable label for the status.
          type: string
          readOnly: true
        message:
          description: The detailed status message, including for alerts and error messages.
          type: string
          readOnly: true
        time:
          format: date-time
          description: The time of the status.
          type: string
          readOnly: true
        level:
          description: The level code.
          enum:
          - Info
          - Warning
          - Error
          type: string
          x-ms-enum:
            name: StatusLevelTypes
            modelAsString: false
    RoleInstanceInstanceView:
      description: The instance view of the role instance.
      type: object
      properties:
        platformUpdateDomain:
          format: int32
          description: The Update Domain.
          type: integer
          readOnly: true
        platformFaultDomain:
          format: int32
          description: The Fault Domain.
          type: integer
          readOnly: true
        privateId:
          description: 'Specifies a unique identifier generated internally for the cloud service associated with this role instance. <br /><br /> NOTE: If you are using Azure Diagnostics extension, this property can be used as ''DeploymentId'' for querying details.'
          type: string
          readOnly: true
        statuses:
          type: array
          items:
            $ref: '#/components/schemas/ResourceInstanceViewStatus'
          x-ms-identifiers: []
          readOnly: true
    RoleInstance:
      description: Describes the cloud service role instance.
      type: object
      properties:
        id:
          description: Resource Id
          type: string
          readOnly: true
        name:
          description: Resource Name.
          type: string
          readOnly: true
        type:
          description: Resource Type.
          type: string
          readOnly: true
        location:
          description: Resource Location.
          type: string
          readOnly: true
        tags:
          description: Resource tags.
          type: object
          additionalProperties:
            type: string
          readOnly: true
        sku:
          $ref: '#/components/schemas/InstanceSku'
        properties:
          $ref: '#/components/schemas/RoleInstanceProperties'
    RoleInstanceListResult:
      description: The list operation result.
      type: object
      properties:
        value:
          description: The list of resources.
          type: array
          items:
            $ref: '#/components/schemas/RoleInstance'
        nextLink:
          description: The URI to fetch the next page of resources. Use this to get the next page of resources. Do this till nextLink is null to fetch all the resources.
          type: string
      required:
      - value
    RoleInstanceNetworkProfile:
      description: Describes the network profile for the role instance.
      type: object
      properties:
        networkInterfaces:
          description: Specifies the list of resource Ids for the network interfaces associated with the role instance.
          type: array
          items:
            $ref: ./common.json#/definitions/SubResource
          readOnly: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
