openapi: 3.2.0
info:
  title: Microsoft Azure Virtual Network Links API
  version: '1.0'
  description: 'Operations tagged VirtualNetworkLinks across 2 of this provider''s published API definitions: dnsresolvermanagementclient-openapi-original.yml, privatednsmanagementclient-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
tags:
- name: VirtualNetworkLinks
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsForwardingRulesets/{dnsForwardingRulesetName}/virtualNetworkLinks/{virtualNetworkLinkName}
  : put:
      tags:
      - VirtualNetworkLinks
      operationId: microsoftAzureVirtualnetworklinksCreateorupdate
      description: Creates or updates a virtual network link to a DNS forwarding ruleset.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/DnsForwardingRulesetNameParameter'
      - $ref: '#/components/parameters/VirtualNetworkLinkNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/IfMatchParameter'
      - $ref: '#/components/parameters/IfNoneMatchParameter'
      responses:
        '200':
          description: The virtual network link to the DNS forwarding ruleset has been updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkLink'
        '201':
          description: The virtual network link to the DNS forwarding ruleset has been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkLink'
        '202':
          description: The operation to upsert virtual network link to the DNS forwarding ruleset has been accepted and will complete asynchronously.
        default:
          description: Default response. It will be deserialized as per the Error definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-long-running-operation: true
      x-ms-examples:
        Upsert virtual network link to a DNS forwarding ruleset:
          $ref: ./examples/VirtualNetworkLink_Put.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkLink'
        description: Parameters supplied to the CreateOrUpdate operation.
        required: true
    patch:
      tags:
      - VirtualNetworkLinks
      operationId: microsoftAzureVirtualnetworklinksUpdate
      description: Updates a virtual network link to a DNS forwarding ruleset.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/DnsForwardingRulesetNameParameter'
      - $ref: '#/components/parameters/VirtualNetworkLinkNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/IfMatchParameter'
      responses:
        '200':
          description: The virtual network link to the DNS forwarding ruleset has been updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkLink'
        '202':
          description: The operation to update virtual network link to the DNS forwarding ruleset has been accepted and will complete asynchronously.
        default:
          description: Default response. It will be deserialized as per the Error definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-long-running-operation: true
      x-ms-examples:
        Update virtual network link to a DNS forwarding ruleset:
          $ref: ./examples/VirtualNetworkLink_Patch.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkLinkPatch'
        description: Parameters supplied to the Update operation.
        required: true
    delete:
      tags:
      - VirtualNetworkLinks
      operationId: microsoftAzureVirtualnetworklinksDelete
      description: 'Deletes a virtual network link to a DNS forwarding ruleset. WARNING: This operation cannot be undone.'
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/DnsForwardingRulesetNameParameter'
      - $ref: '#/components/parameters/VirtualNetworkLinkNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/IfMatchParameter'
      responses:
        '200':
          description: The virtual network link to the DNS forwarding ruleset has been deleted.
        '202':
          description: The operation to delete virtual network link to the DNS forwarding ruleset has been accepted and will complete asynchronously.
        '204':
          description: The virtual network link to the DNS forwarding ruleset was not found.
        default:
          description: Default response. It will be deserialized as per the Error definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-long-running-operation: true
      x-ms-examples:
        Delete virtual network link to a DNS forwarding ruleset:
          $ref: ./examples/VirtualNetworkLink_Delete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    get:
      tags:
      - VirtualNetworkLinks
      operationId: microsoftAzureVirtualnetworklinksGet
      description: Gets properties of a virtual network link to a DNS forwarding ruleset.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/DnsForwardingRulesetNameParameter'
      - $ref: '#/components/parameters/VirtualNetworkLinkNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The virtual network link to DNS forwarding ruleset was found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkLink'
        default:
          description: Default response. It will be deserialized as per the Error definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Retrieve virtual network link to a DNS forwarding ruleset:
          $ref: ./examples/VirtualNetworkLink_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsForwardingRulesets/{dnsForwardingRulesetName}/virtualNetworkLinks
  : get:
      tags:
      - VirtualNetworkLinks
      operationId: microsoftAzureVirtualnetworklinksList
      description: Lists virtual network links to a DNS forwarding ruleset.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/DnsForwardingRulesetNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/TopParameter'
      responses:
        '200':
          description: List of virtual network links to a DNS forwarding ruleset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkLinkListResult'
        default:
          description: Default response. It will be deserialized as per the Error definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List virtual network links to a DNS forwarding ruleset:
          $ref: ./examples/VirtualNetworkLink_List.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateDnsZones/{privateZoneName}/virtualNetworkLinks/{virtualNetworkLinkName}
  : put:
      tags:
      - VirtualNetworkLinks
      operationId: microsoftAzureVirtualnetworklinksCreateorupdate
      description: Creates or updates a virtual network link to the specified Private DNS zone.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: privateZoneName
        in: path
        required: true
        description: The name of the Private DNS zone (without a terminating dot).
        schema:
          type: string
      - name: virtualNetworkLinkName
        in: path
        required: true
        description: The name of the virtual network link.
        schema:
          type: string
      - name: If-Match
        in: header
        required: false
        x-ms-client-name: IfMatch
        description: The ETag of the virtual network link to the Private DNS zone. Omit this value to always overwrite the current virtual network link. Specify the last-seen ETag value to prevent accidentally overwriting any concurrent changes.
        schema:
          type: string
      - name: If-None-Match
        in: header
        required: false
        x-ms-client-name: IfNoneMatch
        description: Set to '*' to allow a new virtual network link to the Private DNS zone to be created, but to prevent updating an existing link. Other values will be ignored.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The virtual network link to the Private DNS zone has been updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkLink_2'
        '201':
          description: The virtual network link to the Private DNS zone has been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkLink_2'
        '202':
          description: The operation to upsert virtual network link to the Private DNS zone has been accepted and will complete asynchronously.
        default:
          description: Default response. It will be deserialized as per the Error definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError_2'
      x-ms-long-running-operation: true
      x-ms-examples:
        PUT Private DNS Zone Virtual Network Link:
          $ref: ./examples/VirtualNetworkLinkPut.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkLink_2'
        description: Parameters supplied to the CreateOrUpdate operation.
        required: true
    patch:
      tags:
      - VirtualNetworkLinks
      operationId: microsoftAzureVirtualnetworklinksUpdate
      description: Updates a virtual network link to the specified Private DNS zone.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: privateZoneName
        in: path
        required: true
        description: The name of the Private DNS zone (without a terminating dot).
        schema:
          type: string
      - name: virtualNetworkLinkName
        in: path
        required: true
        description: The name of the virtual network link.
        schema:
          type: string
      - name: If-Match
        in: header
        required: false
        x-ms-client-name: IfMatch
        description: The ETag of the virtual network link to the Private DNS zone. Omit this value to always overwrite the current virtual network link. Specify the last-seen ETag value to prevent accidentally overwriting any concurrent changes.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The virtual network link to the Private DNS zone has been updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkLink_2'
        '202':
          description: The operation to link virtual network link to Private DNS zone has been accepted and will complete asynchronously.
        default:
          description: Default response. It will be deserialized as per the Error definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError_2'
      x-ms-long-running-operation: true
      x-ms-examples:
        PATCH Private DNS Zone Virtual Network Link:
          $ref: ./examples/VirtualNetworkLinkPatch.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkLink_2'
        description: Parameters supplied to the Update operation.
        required: true
    delete:
      tags:
      - VirtualNetworkLinks
      operationId: microsoftAzureVirtualnetworklinksDelete
      description: 'Deletes a virtual network link to the specified Private DNS zone. WARNING: In case of a registration virtual network, all auto-registered DNS records in the zone for the virtual network will also be deleted. This operation cannot be undone.'
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: privateZoneName
        in: path
        required: true
        description: The name of the Private DNS zone (without a terminating dot).
        schema:
          type: string
      - name: virtualNetworkLinkName
        in: path
        required: true
        description: The name of the virtual network link.
        schema:
          type: string
      - name: If-Match
        in: header
        required: false
        x-ms-client-name: IfMatch
        description: The ETag of the virtual network link to the Private DNS zone. Omit this value to always delete the current zone. Specify the last-seen ETag value to prevent accidentally deleting any concurrent changes.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The virtual network link to the Private DNS zone has been deleted.
        '202':
          description: The operation to delete virtual network link to the Private DNS zone has been accepted and will complete asynchronously.
        '204':
          description: The virtual network link to the Private DNS zone was not found.
        default:
          description: Default response. It will be deserialized as per the Error definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError_2'
      x-ms-long-running-operation: true
      x-ms-examples:
        DELETE Private DNS Zone Virtual Network Link:
          $ref: ./examples/VirtualNetworkLinkDelete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    get:
      tags:
      - VirtualNetworkLinks
      operationId: microsoftAzureVirtualnetworklinksGet
      description: Gets a virtual network link to the specified Private DNS zone.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: privateZoneName
        in: path
        required: true
        description: The name of the Private DNS zone (without a terminating dot).
        schema:
          type: string
      - name: virtualNetworkLinkName
        in: path
        required: true
        description: The name of the virtual network link.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkLink_2'
        default:
          description: Default response. It will be deserialized as per the Error definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError_2'
      x-ms-examples:
        GET Private DNS Zone Virtual Network Link:
          $ref: ./examples/VirtualNetworkLinkGet.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateDnsZones/{privateZoneName}/virtualNetworkLinks
  : get:
      tags:
      - VirtualNetworkLinks
      operationId: microsoftAzureVirtualnetworklinksList
      description: Lists the virtual network links to the specified Private DNS zone.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: privateZoneName
        in: path
        required: true
        description: The name of the Private DNS zone (without a terminating dot).
        schema:
          type: string
      - name: $top
        in: query
        required: false
        description: The maximum number of virtual network links to return. If not specified, returns up to 100 virtual network links.
        schema:
          type: integer
          format: int32
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkLinkListResult_2'
        default:
          description: Default response. It will be deserialized as per the Error definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError_2'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Get Private DNS Zone Virtual Network Links:
          $ref: ./examples/VirtualNetworkLinkList.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
components:
  parameters:
    IfNoneMatchParameter:
      name: If-None-Match
      in: header
      required: false
      x-ms-client-name: IfNoneMatch
      description: Set to '*' to allow a new resource to be created, but to prevent updating an existing resource. Other values will be ignored.
      x-ms-parameter-location: method
      schema:
        type: string
    VirtualNetworkLinkNameParameter:
      name: virtualNetworkLinkName
      in: path
      required: true
      description: The name of the virtual network link.
      x-ms-parameter-location: method
      schema:
        type: string
    DnsForwardingRulesetNameParameter:
      name: dnsForwardingRulesetName
      in: path
      required: true
      description: The name of the DNS forwarding ruleset.
      x-ms-parameter-location: method
      schema:
        type: string
    IfMatchParameter:
      name: If-Match
      in: header
      required: false
      x-ms-client-name: IfMatch
      description: ETag of the resource. Omit this value to always overwrite the current resource. Specify the last-seen ETag value to prevent accidentally overwriting any concurrent changes.
      x-ms-parameter-location: method
      schema:
        type: string
    TopParameter:
      name: $top
      in: query
      required: false
      description: The maximum number of results to return. If not specified, returns up to 100 results.
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
  schemas:
    CloudError:
      description: An error message
      type: object
      properties:
        error:
          description: The error message body
          $ref: '#/components/schemas/CloudErrorBody'
      x-ms-external: true
    ProvisioningState:
      description: The current provisioning state of the resource.
      type: string
      enum:
      - Creating
      - Updating
      - Deleting
      - Succeeded
      - Failed
      - Canceled
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    VirtualNetworkLinkPatchProperties:
      description: Represents the updatable properties of the virtual network link.
      type: object
      properties:
        metadata:
          description: Metadata attached to the virtual network link.
          type: object
          additionalProperties:
            type: string
    VirtualNetworkLinkListResult:
      description: The response to an enumeration operation on virtual network links.
      type: object
      properties:
        value:
          description: Enumeration of the virtual network links.
          type: array
          items:
            $ref: '#/components/schemas/VirtualNetworkLink'
        nextLink:
          description: The continuation token for the next page of results.
          type: string
          readOnly: true
    VirtualNetworkLinkProperties:
      description: Represents the properties of a virtual network link.
      type: object
      properties:
        virtualNetwork:
          description: The reference to the virtual network. This cannot be changed after creation.
          $ref: '#/components/schemas/SubResource'
        metadata:
          description: Metadata attached to the virtual network link.
          type: object
          additionalProperties:
            type: string
        provisioningState:
          description: The current provisioning state of the virtual network link. This is a read-only property and any attempt to set this value will be ignored.
          $ref: '#/components/schemas/ProvisioningState'
          readOnly: true
    CloudErrorBody:
      description: The body of an error message
      type: object
      properties:
        code:
          description: The error code
          type: string
        message:
          description: A description of what caused the error
          type: string
        target:
          description: The target resource of the error message
          type: string
        details:
          description: Extra error information
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          x-ms-identifiers: []
      x-ms-external: true
    VirtualNetworkLinkPatch:
      description: Describes a virtual network link for PATCH operation.
      type: object
      properties:
        properties:
          description: Updatable properties of the virtual network link.
          $ref: '#/components/schemas/VirtualNetworkLinkPatchProperties'
          x-ms-client-flatten: true
    VirtualNetworkLink:
      description: Describes a virtual network link.
      type: object
      properties:
        etag:
          description: ETag of the virtual network link.
          type: string
          readOnly: true
        properties:
          description: Properties of the virtual network link.
          $ref: '#/components/schemas/VirtualNetworkLinkProperties'
          x-ms-client-flatten: true
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: Metadata pertaining to creation and last modification of the resource.
          readOnly: true
      allOf:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource
    SubResource:
      description: Reference to another ARM resource.
      type: object
      properties:
        id:
          type: string
          description: Resource ID.
      x-ms-azure-resource: true
    CloudError_2:
      type: object
      x-ms-external: true
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody_2'
          description: Cloud error body.
      description: An error response from the service.
    VirtualNetworkLinkListResult_2:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/VirtualNetworkLink_2'
          description: Information about the virtual network links to the Private DNS zones.
        nextLink:
          type: string
          description: The continuation token for the next page of results.
          readOnly: true
      description: The response to a list virtual network link to Private DNS zone operation.
    VirtualNetworkLinkProperties_2:
      properties:
        virtualNetwork:
          $ref: '#/components/schemas/SubResource_2'
          description: The reference of the virtual network.
        registrationEnabled:
          type: boolean
          description: Is auto-registration of virtual machine records in the virtual network in the Private DNS zone enabled?
        virtualNetworkLinkState:
          type: string
          description: The status of the virtual network link to the Private DNS zone. Possible values are 'InProgress' and 'Done'. This is a read-only property and any attempt to set this value will be ignored.
          enum:
          - InProgress
          - Completed
          x-ms-enum:
            name: VirtualNetworkLinkState
            modelAsString: true
          readOnly: true
        provisioningState:
          type: string
          enum:
          - Creating
          - Updating
          - Deleting
          - Succeeded
          - Failed
          - Canceled
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
          description: The provisioning state of the resource. This is a read-only property and any attempt to set this value will be ignored.
          readOnly: true
      description: Represents the properties of the Private DNS zone.
    CloudErrorBody_2:
      type: object
      x-ms-external: true
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of the property in error.
        details:
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody_2'
          description: A list of additional details about the error.
      description: An error response from the service.
    TrackedResource:
      description: The resource model definition for a ARM tracked top level resource
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
          description: Resource tags.
        location:
          type: string
          x-ms-mutability:
          - read
          - create
          description: The Azure Region where the resource lives
      allOf:
      - $ref: '#/components/schemas/Resource'
    Resource:
      description: The core properties of ARM resources
      properties:
        id:
          type: string
          readOnly: true
          description: Fully qualified resource Id for the resource. Example - '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateDnsZones/{privateDnsZoneName}'.
        name:
          type: string
          readOnly: true
          description: The name of the resource
        type:
          type: string
          readOnly: true
          description: The type of the resource. Example - 'Microsoft.Network/privateDnsZones'.
      x-ms-azure-resource: true
    VirtualNetworkLink_2:
      properties:
        etag:
          type: string
          description: The ETag of the virtual network link.
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/VirtualNetworkLinkProperties_2'
          description: Properties of the virtual network link to the Private DNS zone.
      allOf:
      - $ref: '#/components/schemas/TrackedResource'
      description: Describes a link to virtual network for a Private DNS zone.
    SubResource_2:
      properties:
        id:
          type: string
          description: Resource ID.
      description: Reference to another subresource.
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- dnsresolvermanagementclient-openapi-original.yml
- privatednsmanagementclient-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
