openapi: 3.2.0
info:
  version: '2023-01-01'
  title: Microsoft Azure API Client Deleted Web Apps API
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: DeletedWebApps
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/deletedSites:
    get:
      tags:
      - DeletedWebApps
      summary: Microsoft Azure Get All Deleted Apps For A Subscription
      description: Description for Get all deleted apps for a subscription.
      operationId: microsoftAzureDeletedwebappsList
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedWebAppCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/deletedSites:
    get:
      tags:
      - DeletedWebApps
      summary: Microsoft Azure Get All Deleted Apps For A Subscription At Location
      description: Description for Get all deleted apps for a subscription at location
      operationId: microsoftAzureDeletedwebappsListbylocation
      parameters:
      - name: location
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedWebAppCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        List Deleted Web App by Location:
          $ref: ./examples/ListDeletedWebAppsByLocation.json
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/deletedSites/{deletedSiteId}:
    get:
      tags:
      - DeletedWebApps
      summary: Microsoft Azure Get Deleted App For A Subscription At Location
      description: Description for Get deleted app for a subscription at location.
      operationId: microsoftAzureDeletedwebappsGetdeletedwebappbylocation
      parameters:
      - name: location
        in: path
        required: true
        schema:
          type: string
      - name: deletedSiteId
        in: path
        description: The numeric ID of the deleted app, e.g. 12345
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DeletedSite
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Get Deleted Web App by Location:
          $ref: ./examples/GetDeletedWebAppByLocation.json
components:
  schemas:
    DeletedWebAppCollection:
      description: Collection of deleted apps.
      required:
      - value
      type: object
      properties:
        value:
          description: Collection of resources.
          type: array
          items:
            $ref: ./CommonDefinitions.json#/definitions/DeletedSite
        nextLink:
          description: Link to next page of resources.
          type: string
          readOnly: true
  parameters:
    apiVersionParameter:
      name: api-version
      in: query
      description: API Version
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
