openapi: 3.2.0
info:
  title: Microsoft Azure Azure Bot Service Network Security…
  description: Azure Bot Service is a platform for creating smart conversational agents.
  version: 2023-09-15-preview
servers:
- url: https://management.azure.com
tags:
- name: NetworkSecurityPerimeterConfigurations
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/networkSecurityPerimeterConfigurations/{networkSecurityPerimeterConfigurationName}
  : get:
      tags:
      - NetworkSecurityPerimeterConfigurations
      operationId: microsoftAzureNetworksecurityperimeterconfigurationsGet
      description: Gets the specified Network Security Perimeter configuration associated with the Bot.
      x-ms-examples:
        Get Network Security Perimeter Configuration:
          $ref: ./examples/GetNetworkSecurityPerimeterConfiguration.json
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/resourceNameParameter'
      - $ref: ./networksecurityperimeter.json#/parameters/NetworkSecurityPerimeterConfigurationNameParameter
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK -- Get the Network Security Perimeter configuration successfully.
          content:
            application/json:
              schema:
                $ref: ./networksecurityperimeter.json#/definitions/NetworkSecurityPerimeterConfiguration
        default:
          description: Error response describing why the operation failed.
          x-ms-error-response: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/networkSecurityPerimeterConfigurations
  : get:
      tags:
      - NetworkSecurityPerimeterConfigurations
      operationId: microsoftAzureNetworksecurityperimeterconfigurationsList
      description: List Network Security Perimeter configurations associated with the Bot.
      x-ms-examples:
        List Network Security Perimeter Configurations:
          $ref: ./examples/ListNetworkSecurityPerimeterConfigurations.json
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/resourceNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK -- List the Network Security Perimeter configurations successfully.
          content:
            application/json:
              schema:
                $ref: ./networksecurityperimeter.json#/definitions/NetworkSecurityPerimeterConfigurationList
        default:
          description: Error response describing why the operation failed.
          x-ms-error-response: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/networkSecurityPerimeterConfigurations/{networkSecurityPerimeterConfigurationName}/reconcile
  : post:
      tags:
      - NetworkSecurityPerimeterConfigurations
      operationId: microsoftAzureNetworksecurityperimeterconfigurationsReconcile
      description: Reconcile the specified Network Security Perimeter configuration associated with the Bot.
      x-ms-examples:
        Reconcile Network Security Perimeter Configuration:
          $ref: ./examples/ReconcileNetworkSecurityPerimeterConfiguration.json
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/resourceNameParameter'
      - $ref: ./networksecurityperimeter.json#/parameters/NetworkSecurityPerimeterConfigurationNameParameter
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Request to reconcile the configuration succeeded.
          content:
            application/json:
              schema:
                $ref: ./networksecurityperimeter.json#/definitions/NetworkSecurityPerimeterConfiguration
        '202':
          description: Request to reconcile the configuration accepted.
          headers:
            location:
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          x-ms-error-response: true
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
components:
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Azure Subscription ID.
      required: true
      schema:
        type: string
    resourceNameParameter:
      name: resourceName
      x-ms-parameter-location: method
      in: path
      required: true
      description: The name of the Bot resource.
      schema:
        type: string
        maxLength: 64
        minLength: 2
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
    resourceGroupNameParameter:
      name: resourceGroupName
      x-ms-parameter-location: method
      in: path
      required: true
      description: The name of the Bot resource group in the user subscription.
      schema:
        type: string
        maxLength: 64
        minLength: 2
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
    apiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Version of the API to be used with the client request.
      schema:
        type: string
  schemas:
    Error:
      properties:
        error:
          $ref: '#/components/schemas/ErrorBody'
          description: The error body.
      description: Bot Service error object.
    ErrorBody:
      properties:
        code:
          type: string
          description: error code
        message:
          type: string
          description: error message
      description: Bot Service error body.
      required:
      - code
      - message
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
