openapi: 3.2.0
info:
  title: Microsoft Azure Azure AgFoodPlatform RP Service Data…
  description: APIs documentation for Microsoft Azure Data Manager for Agriculture Service.
  version: 2023-06-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Data Connectors
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AgFoodPlatform/farmBeats/{dataManagerForAgricultureResourceName}/dataConnectors/{dataConnectorName}
  : get:
      tags:
      - Data Connectors
      description: Get specific Data Connector resource by DataConnectorName.
      operationId: microsoftAzureDataconnectorsGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/DataManagerForAgricultureResourceNameParameter'
      - in: path
        name: dataConnectorName
        description: Connector name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 1
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataConnector'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        DataConnectors_Get:
          $ref: ./examples/DataConnectors_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Data Connectors
      description: Create or update Data Connector For MADMA resource.
      operationId: microsoftAzureDataconnectorsCreateorupdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/DataManagerForAgricultureResourceNameParameter'
      - in: path
        name: dataConnectorName
        description: Connector name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 1
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataConnector'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataConnector'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        DataConnectors_CreateOrUpdate:
          $ref: ./examples/DataConnectors_CreateOrUpdate.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataConnector'
        description: Body must be valid DataConnector request.
        required: true
    delete:
      tags:
      - Data Connectors
      description: Delete a Data Connectors with given dataConnector name.
      operationId: microsoftAzureDataconnectorsDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/DataManagerForAgricultureResourceNameParameter'
      - in: path
        name: dataConnectorName
        description: Connector name.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 1
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
        '204':
          description: No Content
        '400':
          description: Bad Request
          x-ms-error-response: true
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        DataConnectors_Delete:
          $ref: ./examples/DataConnectors_Delete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AgFoodPlatform/farmBeats/{dataManagerForAgricultureResourceName}/dataConnectors
  : get:
      tags:
      - Data Connectors
      description: Lists the Data Connector Credentials for MADMA instance.
      operationId: microsoftAzureDataconnectorsList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/DataManagerForAgricultureResourceNameParameter'
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - in: query
        name: $maxPageSize
        description: 'Maximum number of items needed (inclusive).

          Minimum = 10, Maximum = 1000, Default value = 50.'
        schema:
          type: integer
          format: int32
          default: 50
          maximum: 1000
          minimum: 10
      - in: query
        name: $skipToken
        description: Continuation token for getting next set of results.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataConnectorListResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        DataConnectors_List:
          $ref: ./examples/DataConnectors_List.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    AuthCredentialsKind:
      description: Enum for different types of AuthCredentials supported.
      enum:
      - OAuthClientCredentials
      - ApiKeyAuthCredentials
      type: string
      x-ms-enum:
        name: AuthCredentialsKind.
        modelAsString: true
    DataConnector:
      description: DataConnector Model.
      required:
      - properties
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/ProxyResource
      properties:
        systemData:
          $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/systemData
        properties:
          $ref: '#/components/schemas/DataConnectorProperties'
        eTag:
          description: The ETag value to implement optimistic concurrency.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    AuthCredentials:
      description: AuthCredentials abstract base class for Auth Purpose.
      required:
      - kind
      type: object
      properties:
        kind:
          $ref: '#/components/schemas/AuthCredentialsKind'
      discriminator:
        propertyName: kind
    DataConnectorListResponse:
      description: Paged response contains list of requested objects and a URL link to get the next set of results.
      required:
      - value
      type: object
      properties:
        value:
          description: List of requested objects.
          type: array
          items:
            $ref: '#/components/schemas/DataConnector'
        nextLink:
          description: Continuation link (absolute URI) to the next page of results in the list.
          type: string
    DataConnectorProperties:
      description: DataConnector Properties.
      required:
      - credentials
      type: object
      properties:
        credentials:
          $ref: '#/components/schemas/AuthCredentials'
      example:
        properties:
          credentials:
            kind: OAuthClientCredentials
            clientId: string
            clientSecret:
              keyVaultUri: string
              keyName: string
              keyVersion: string
  parameters:
    DataManagerForAgricultureResourceNameParameter:
      in: path
      name: dataManagerForAgricultureResourceName
      description: DataManagerForAgriculture resource name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 63
        minLength: 1
        pattern: ^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
