openapi: 3.2.0
info:
  title: Microsoft Azure DataLakeStoreAccountManagementClient…
  description: Creates an Azure Data Lake Store account management client.
  version: '2016-11-01'
  x-ms-code-generation-settings:
    internalConstructors: true
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: TrustedIdProviders
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/trustedIdProviders
  : get:
      tags:
      - TrustedIdProviders
      operationId: microsoftAzureTrustedidprovidersListbyaccount
      description: Lists the Data Lake Store trusted identity providers within the specified Data Lake Store account.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved the list of trusted identity providers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrustedIdProviderListResult'
      x-ms-examples:
        Lists the Data Lake Store trusted identity providers within the specified Data Lake Store account:
          $ref: ./examples/TrustedIdProviders_ListByAccount.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/trustedIdProviders/{trustedIdProviderName}
  : put:
      tags:
      - TrustedIdProviders
      operationId: microsoftAzureTrustedidprovidersCreateorupdate
      description: Creates or updates the specified trusted identity provider. During update, the trusted identity provider with the specified name will be replaced with this new provider
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - name: trustedIdProviderName
        in: path
        required: true
        description: The name of the trusted identity provider. This is used for differentiation of providers in the account.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully added the trusted identity provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrustedIdProvider'
      x-ms-examples:
        ? Creates or updates the specified trusted identity provider. During update, the trusted identity provider with the specified name will be replaced with this new provider
        : $ref: ./examples/TrustedIdProviders_CreateOrUpdate.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateTrustedIdProviderParameters'
        description: Parameters supplied to create or replace the trusted identity provider.
        required: true
    get:
      tags:
      - TrustedIdProviders
      operationId: microsoftAzureTrustedidprovidersGet
      description: Gets the specified Data Lake Store trusted identity provider.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - name: trustedIdProviderName
        in: path
        required: true
        description: The name of the trusted identity provider to retrieve.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved details of the specified trusted identity provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrustedIdProvider'
      x-ms-examples:
        Gets the specified Data Lake Store trusted identity provider:
          $ref: ./examples/TrustedIdProviders_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    patch:
      tags:
      - TrustedIdProviders
      operationId: microsoftAzureTrustedidprovidersUpdate
      description: Updates the specified trusted identity provider.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - name: trustedIdProviderName
        in: path
        required: true
        description: The name of the trusted identity provider. This is used for differentiation of providers in the account.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully added the trusted identity provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrustedIdProvider'
      x-ms-examples:
        Updates the specified trusted identity provider:
          $ref: ./examples/TrustedIdProviders_Update.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTrustedIdProviderParameters'
        description: Parameters supplied to update the trusted identity provider.
    delete:
      tags:
      - TrustedIdProviders
      operationId: microsoftAzureTrustedidprovidersDelete
      description: Deletes the specified trusted identity provider from the specified Data Lake Store account
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - name: trustedIdProviderName
        in: path
        required: true
        description: The name of the trusted identity provider to delete.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully deleted the specified trusted identity provider details.
        '204':
          description: The specified trusted identity provider was not found.
      x-ms-examples:
        Deletes the specified trusted identity provider from the specified Data Lake Store account:
          $ref: ./examples/TrustedIdProviders_Delete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    CreateOrUpdateTrustedIdProviderParameters:
      required:
      - properties
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/CreateOrUpdateTrustedIdProviderProperties'
          description: The trusted identity provider properties to use when creating a new trusted identity provider.
      description: The parameters used to create a new trusted identity provider.
    TrustedIdProviderListResult:
      properties:
        value:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/TrustedIdProvider'
          description: The results of the list operation.
        nextLink:
          readOnly: true
          type: string
          description: The link (url) to the next page of results.
      description: Data Lake Store trusted identity provider list information.
    TrustedIdProvider:
      allOf:
      - $ref: '#/components/schemas/SubResource'
      properties:
        properties:
          readOnly: true
          x-ms-client-flatten: true
          $ref: '#/components/schemas/TrustedIdProviderProperties'
          description: The trusted identity provider properties.
      description: Data Lake Store trusted identity provider information.
    UpdateTrustedIdProviderProperties:
      properties:
        idProvider:
          type: string
          description: The URL of this trusted identity provider.
      description: The trusted identity provider properties to use when updating a trusted identity provider.
    UpdateTrustedIdProviderParameters:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/UpdateTrustedIdProviderProperties'
          description: The trusted identity provider properties to use when updating a trusted identity provider.
      description: The parameters used to update a trusted identity provider.
    CreateOrUpdateTrustedIdProviderProperties:
      required:
      - idProvider
      properties:
        idProvider:
          type: string
          description: The URL of this trusted identity provider.
      description: The trusted identity provider properties to use when creating a new trusted identity provider.
    SubResource:
      properties:
        id:
          readOnly: true
          type: string
          description: The resource identifier.
        name:
          readOnly: true
          type: string
          description: The resource name.
        type:
          readOnly: true
          type: string
          description: The resource type.
      x-ms-azure-resource: true
      description: The resource model definition for a nested resource.
    TrustedIdProviderProperties:
      properties:
        idProvider:
          readOnly: true
          type: string
          description: The URL of this trusted identity provider.
      description: The trusted identity provider properties.
  parameters:
    AccountNameParameter:
      name: accountName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The name of the Data Lake Store account.
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The name of the Azure resource group.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
