openapi: 3.2.0
info:
  title: Microsoft Azure LogicManagementClient Integration Account…
  description: REST API for Azure Logic Apps.
  version: 2018-07-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: IntegrationAccountSchemas
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/schemas
  : get:
      tags:
      - IntegrationAccountSchemas
      operationId: microsoftAzureIntegrationaccountschemasList
      description: Gets a list of integration account schemas.
      x-ms-examples:
        Get schemas by integration account name:
          $ref: ./examples/IntegrationAccountSchemas_List.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      - name: $top
        description: The number of items to be included in the result.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: $filter
        description: 'The filter to apply on the operation. Options for filters include: SchemaType.'
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountSchemaListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/IntegrationAccountSchemaFilter'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/schemas/{schemaName}
  : get:
      tags:
      - IntegrationAccountSchemas
      operationId: microsoftAzureIntegrationaccountschemasGet
      description: Gets an integration account schema.
      x-ms-examples:
        Get schema by name:
          $ref: ./examples/IntegrationAccountSchemas_Get.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        schema:
          type: string
      - name: schemaName
        description: The integration account schema name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountSchema'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - IntegrationAccountSchemas
      operationId: microsoftAzureIntegrationaccountschemasCreateorupdate
      description: Creates or updates an integration account schema.
      x-ms-examples:
        Create or update schema:
          $ref: ./examples/IntegrationAccountSchemas_CreateOrUpdate.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        schema:
          type: string
      - name: schemaName
        description: The integration account schema name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountSchema'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountSchema'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationAccountSchema'
        description: The integration account schema.
        required: true
    delete:
      tags:
      - IntegrationAccountSchemas
      operationId: microsoftAzureIntegrationaccountschemasDelete
      description: Deletes an integration account schema.
      x-ms-examples:
        Delete a schema by name:
          $ref: ./examples/IntegrationAccountSchemas_Delete.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        schema:
          type: string
      - name: schemaName
        description: The integration account schema name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/schemas/{schemaName}/listContentCallbackUrl
  : post:
      tags:
      - IntegrationAccountSchemas
      operationId: microsoftAzureIntegrationaccountschemasListcontentcallbackurl
      description: Get the content callback url.
      x-ms-examples:
        Get the content callback url:
          $ref: ./examples/IntegrationAccountSchemas_ListContentCallbackUrl.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        schema:
          type: string
      - name: schemaName
        description: The integration account schema name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowTriggerCallbackUrl'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetCallbackUrlParameters'
        required: true
components:
  schemas:
    GetCallbackUrlParameters:
      type: object
      properties:
        notAfter:
          type: string
          format: date-time
          description: The expiry time.
        keyType:
          $ref: '#/components/schemas/KeyType'
          description: The key type.
      description: The callback url parameters.
    WorkflowTriggerCallbackUrl:
      type: object
      properties:
        value:
          type: string
          readOnly: true
          description: Gets the workflow trigger callback URL.
        method:
          type: string
          readOnly: true
          description: Gets the workflow trigger callback URL HTTP method.
        basePath:
          type: string
          readOnly: true
          description: Gets the workflow trigger callback URL base path.
        relativePath:
          type: string
          readOnly: true
          description: Gets the workflow trigger callback URL relative path.
        relativePathParameters:
          type: array
          items:
            type: string
          description: Gets the workflow trigger callback URL relative path parameters.
        queries:
          $ref: '#/components/schemas/WorkflowTriggerListCallbackUrlQueries'
          description: Gets the workflow trigger callback URL query parameters.
      description: The workflow trigger callback URL.
    Resource:
      properties:
        id:
          type: string
          readOnly: true
          description: The resource id.
        name:
          type: string
          readOnly: true
          description: Gets the resource name.
        type:
          type: string
          readOnly: true
          description: Gets the resource type.
        location:
          type: string
          description: The resource location.
        tags:
          type: object
          additionalProperties:
            type: string
          description: The resource tags.
      x-ms-azure-resource: true
      description: The base resource type.
    KeyType:
      type: string
      enum:
      - NotSpecified
      - Primary
      - Secondary
      x-ms-enum:
        name: KeyType
        modelAsString: true
    IntegrationAccountSchemaProperties:
      type: object
      required:
      - schemaType
      properties:
        schemaType:
          $ref: '#/components/schemas/SchemaType'
          description: The schema type.
        targetNamespace:
          type: string
          description: The target namespace of the schema.
        documentName:
          type: string
          description: The document name.
        fileName:
          type: string
          description: The file name.
        createdTime:
          type: string
          format: date-time
          readOnly: true
          description: The created time.
        changedTime:
          type: string
          format: date-time
          readOnly: true
          description: The changed time.
        metadata:
          type: object
          description: The metadata.
          properties: {}
        content:
          type: string
          description: The content.
          properties: {}
        contentType:
          type: string
          description: The content type.
        contentLink:
          $ref: '#/components/schemas/ContentLink'
          readOnly: true
          description: The content link.
      description: The integration account schema properties.
    IntegrationAccountSchemaListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/IntegrationAccountSchema'
          description: The list of integration account schemas.
        nextLink:
          type: string
          description: The URL to get the next set of results.
      description: The list of integration account schemas.
    Object:
      type: object
      properties: {}
    SchemaType:
      type: string
      enum:
      - NotSpecified
      - Xml
      x-ms-enum:
        name: SchemaType
        modelAsString: true
    WorkflowTriggerListCallbackUrlQueries:
      type: object
      properties:
        api-version:
          type: string
          description: The api version.
        sp:
          type: string
          description: The SAS permissions.
        sv:
          type: string
          description: The SAS version.
        sig:
          type: string
          description: The SAS signature.
        se:
          type: string
          description: The SAS timestamp.
      description: Gets the workflow trigger callback URL query parameters.
    ContentLink:
      type: object
      properties:
        uri:
          type: string
          description: The content link URI.
        contentVersion:
          type: string
          description: The content version.
        contentSize:
          type: integer
          format: int64
          description: The content size.
        contentHash:
          $ref: '#/components/schemas/ContentHash'
          description: The content hash.
        metadata:
          $ref: '#/components/schemas/Object'
          description: The metadata.
      description: The content link.
    ContentHash:
      type: object
      properties:
        algorithm:
          type: string
          description: The algorithm of the content hash.
        value:
          type: string
          description: The value of the content hash.
      description: The content hash.
    IntegrationAccountSchema:
      type: object
      required:
      - properties
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/IntegrationAccountSchemaProperties'
          description: The integration account schema properties.
      description: The integration account schema.
      allOf:
      - $ref: '#/components/schemas/Resource'
  parameters:
    api-version:
      name: api-version
      description: The API version.
      in: query
      required: true
      schema:
        type: string
    subscriptionId:
      name: subscriptionId
      description: The subscription id.
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
