openapi: 3.2.0
info:
  title: Microsoft Azure SharedGalleryServiceClient Shared Galleries…
  description: Shared Gallery Service Client.
  version: '2020-09-30'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: SharedGalleries
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/sharedGalleries:
    get:
      tags:
      - SharedGalleries
      operationId: microsoftAzureSharedgalleriesList
      description: List shared galleries by subscription id or tenant id.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/LocationNameParamter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: sharedTo
        in: query
        required: false
        description: The query parameter to decide what shared galleries to fetch when doing listing operations.
        x-ms-enum:
          name: SharedToValues
          modelAsString: true
        schema:
          type: string
          enum:
          - tenant
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedGalleryList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Get a gallery.:
          $ref: ./examples/ListSharedGalleries.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Compute…
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/sharedGalleries/{galleryUniqueName}:
    get:
      tags:
      - SharedGalleries
      operationId: microsoftAzureSharedgalleriesGet
      description: Get a shared gallery by subscription id or tenant id.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/LocationNameParamter'
      - name: galleryUniqueName
        in: path
        required: true
        description: The unique name of the Shared Gallery.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedGallery'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Get a gallery.:
          $ref: ./examples/GetASharedGallery.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Compute…
components:
  schemas:
    PirSharedGalleryResource:
      properties:
        identifier:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/SharedGalleryIdentifier'
      allOf:
      - $ref: '#/components/schemas/PirResource'
      description: Base information about the shared gallery resource in pir.
    SharedGalleryIdentifier:
      properties:
        uniqueId:
          type: string
          description: The unique id of this shared gallery.
      description: The identifier information of shared gallery.
    CloudError:
      x-ms-external: true
      properties:
        error:
          $ref: '#/components/schemas/ApiError'
      description: An error response from the Compute service.
    SharedGallery:
      properties: {}
      allOf:
      - $ref: '#/components/schemas/PirSharedGalleryResource'
      description: Specifies information about the Shared Gallery that you want to create or update.
    ApiError:
      properties:
        details:
          type: array
          items:
            $ref: '#/components/schemas/ApiErrorBase'
          description: The Api error details
        innererror:
          $ref: '#/components/schemas/InnerError'
          description: The Api inner error
        code:
          type: string
          description: The error code.
        target:
          type: string
          description: The target of the particular error.
        message:
          type: string
          description: The error message.
      description: Api error.
    InnerError:
      properties:
        exceptiontype:
          type: string
          description: The exception type.
        errordetail:
          type: string
          description: The internal error message or exception dump.
      description: Inner error details.
    ApiErrorBase:
      properties:
        code:
          type: string
          description: The error code.
        target:
          type: string
          description: The target of the particular error.
        message:
          type: string
          description: The error message.
      description: Api error base.
    SharedGalleryList:
      description: The List Shared Galleries operation response.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/SharedGallery'
          description: A list of shared galleries.
        nextLink:
          type: string
          description: The uri to fetch the next page of shared galleries. Call ListNext() with this to fetch the next page of shared galleries.
      required:
      - value
    PirResource:
      description: The Resource model definition.
      properties:
        name:
          readOnly: true
          type: string
          description: Resource name
        location:
          readOnly: true
          type: string
          description: Resource location
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
    LocationNameParamter:
      name: location
      in: path
      required: true
      x-ms-parameter-location: method
      description: Resource location.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
