openapi: 3.2.0
info:
  title: Microsoft Azure Projects API
  version: '1.0'
  description: 'Operations tagged Projects across 3 of this provider''s published API definitions: ml-team-account-management-client-openapi-original.yml, storagemoverclient-openapi-original.yml, visual-studio-resource-provider-client-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Projects
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningExperimentation/accounts/{accountName}/workspaces/{workspaceName}/projects/{projectName}
  : get:
      tags:
      - Projects
      description: Gets the properties of the specified machine learning project.
      operationId: microsoftAzureProjectsGet
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/ProjectNameParameter'
      x-ms-examples:
        GetProject:
          $ref: examples/GetProject.json
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Projects
      description: Creates or updates a project with the specified parameters.
      operationId: microsoftAzureProjectsCreateorupdate
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/ProjectNameParameter'
      x-ms-examples:
        CreateProject:
          $ref: examples/CreateProject.json
      responses:
        '200':
          description: The request was successful; the resource already exists and was updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '201':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
        description: The parameters for creating or updating a project.
        required: true
    delete:
      tags:
      - Projects
      description: Deletes a project.
      operationId: microsoftAzureProjectsDelete
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/ProjectNameParameter'
      x-ms-examples:
        ProjectDelete:
          $ref: examples/DeleteProject.json
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
        '204':
          description: The machine learning team account does not exist in the subscription.
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    patch:
      tags:
      - Projects
      description: Updates a project with the specified parameters.
      operationId: microsoftAzureProjectsUpdate
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/ProjectNameParameter'
      x-ms-examples:
        UpdateProject:
          $ref: examples/UpdateProject.json
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectUpdateParameters'
        description: The parameters for updating a machine learning team account.
        required: true
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningExperimentation/accounts/{accountName}/workspaces/{workspaceName}/projects
  : get:
      tags:
      - Projects
      description: Lists all the available machine learning projects under the specified workspace.
      operationId: microsoftAzureProjectsListbyworkspace
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      x-ms-examples:
        ProjectListByWorkspaces:
          $ref: examples/ProjectListByWorkspaces.json
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListResult'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageMover/storageMovers/{storageMoverName}/projects
  : get:
      tags:
      - Projects
      operationId: microsoftAzureProjectsList
      description: Lists all Projects in a Storage Mover.
      x-ms-examples:
        Projects_List:
          $ref: ./examples/Projects_List.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/StorageMoverNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The list of Projects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageMover/storageMovers/{storageMoverName}/projects/{projectName}
  : get:
      tags:
      - Projects
      operationId: microsoftAzureProjectsGet
      description: Gets a Project resource.
      x-ms-examples:
        Projects_Get:
          $ref: ./examples/Projects_Get.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/StorageMoverNameParameter'
      - $ref: '#/components/parameters/ProjectNameParameter_2'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The Project resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Projects
      operationId: microsoftAzureProjectsCreateorupdate
      description: Creates or updates a Project resource, which is a logical grouping of related jobs.
      x-ms-examples:
        Projects_CreateOrUpdate:
          $ref: ./examples/Projects_CreateOrUpdate.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/StorageMoverNameParameter'
      - $ref: '#/components/parameters/ProjectNameParameter_2'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Successfully PUT Project resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project_2'
        required: true
    patch:
      tags:
      - Projects
      operationId: microsoftAzureProjectsUpdate
      description: Updates properties for a Project resource. Properties not specified in the request body will be unchanged.
      x-ms-examples:
        Projects_Update:
          $ref: ./examples/Projects_Update.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/StorageMoverNameParameter'
      - $ref: '#/components/parameters/ProjectNameParameter_2'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The Project resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectUpdateParameters_2'
        required: true
    delete:
      tags:
      - Projects
      operationId: microsoftAzureProjectsDelete
      description: Deletes a Project resource.
      x-ms-examples:
        Projects_Delete:
          $ref: ./examples/Projects_Delete.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/StorageMoverNameParameter'
      - $ref: '#/components/parameters/ProjectNameParameter_2'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Successfully deleted Project.
        '202':
          description: Accepted. Project delete operation is ongoing.
        '204':
          description: NoContent -- Project does not exist for this Storage Mover.
        default:
          description: Error response describing why delete operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.visualstudio/account/{rootResourceName}/project
  : get:
      deprecated: true
      tags:
      - Projects
      summary: Microsoft Azure Projects Listbyresourcegroup
      description: Gets all Visual Studio Team Services project resources created in the specified Team Services account.
      operationId: microsoftAzureProjectsListbyresourcegroup
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      - in: path
        name: rootResourceName
        description: Name of the Team Services account.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The operation succeeded. The response contains the details of the Visual Studio Team Services project resources created in the specified Team Services account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResourceListResult'
      x-ms-examples:
        Get a list of project resources in the Team Services account:
          $ref: ./examples/GetProjectResources_List.json
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.visualstudio/account/{rootResourceName}/project/{resourceName}
  : put:
      deprecated: true
      tags:
      - Projects
      summary: Microsoft Azure Projects Create
      description: 'Creates a Team Services project in the collection with the specified name. ''VersionControlOption'' and ''ProcessTemplateId'' must be specified in the resource properties. Valid values for VersionControlOption: Git, Tfvc. Valid values for ProcessTemplateId: 6B724908-EF14-45CF-84F8-768B5384DA45, ADCC42AB-9882-485E-A3ED-7678F01F66BC, 27450541-8E31-4150-9947-DC59F998FC01 (these IDs correspond to Scrum, Agile, and CMMI process templates).'
      operationId: microsoftAzureProjectsCreate
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      - in: path
        name: rootResourceName
        description: Name of the Team Services account.
        required: true
        schema:
          type: string
      - in: path
        name: resourceName
        description: Name of the Team Services project.
        required: true
        schema:
          type: string
      - in: query
        name: validating
        description: This parameter is ignored and should be set to an empty string.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The operation succeeded. The response contains the details of the created or updated team project resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResource'
        '202':
          description: The operation succeeded. A job to create the team project resource has been queued. The URI to monitor the status of the job is provided in the 'location' header.
      x-ms-long-running-operation: true
      x-ms-examples:
        Create a project resource:
          $ref: ./examples/CreateProjectResource.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectResource'
        description: The request data.
        required: true
    get:
      deprecated: true
      tags:
      - Projects
      summary: Microsoft Azure Projects Get
      description: Gets the details of a Team Services project resource.
      operationId: microsoftAzureProjectsGet
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      - in: path
        name: rootResourceName
        description: Name of the Team Services account.
        required: true
        schema:
          type: string
      - in: path
        name: resourceName
        description: Name of the Team Services project.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The operation succeeded. The response contains the details of the updated team project resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResource'
        '404':
          description: The project or Azure subscription was not found.
      x-ms-examples:
        Get a project resource:
          $ref: ./examples/GetProjectResource.json
    patch:
      deprecated: true
      tags:
      - Projects
      summary: Microsoft Azure Projects Update
      description: Updates the tags of the specified Team Services project.
      operationId: microsoftAzureProjectsUpdate
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      - in: path
        name: rootResourceName
        description: Name of the Team Services account.
        required: true
        schema:
          type: string
      - in: path
        name: resourceName
        description: Name of the Team Services project.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The operation succeeded. The response contains the details of the updated team project resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResource'
      x-ms-examples:
        Update a project resource:
          $ref: ./examples/UpdateProjectResource.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectResource'
        description: The request data.
        required: true
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.visualstudio/account/{rootResourceName}/project/{resourceName}/subContainers/{subContainerName}/status
  : get:
      deprecated: true
      tags:
      - Projects
      summary: Microsoft Azure Projects Getjobstatus
      description: Gets the status of the project resource creation job.
      operationId: microsoftAzureProjectsGetjobstatus
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      - in: path
        name: rootResourceName
        description: Name of the Team Services account.
        required: true
        schema:
          type: string
      - in: path
        name: resourceName
        description: Name of the Team Services project.
        required: true
        schema:
          type: string
      - in: path
        name: subContainerName
        description: This parameter should be set to the resourceName.
        required: true
        schema:
          type: string
      - in: query
        name: operation
        description: The operation type. The only supported value is 'put'.
        required: true
        schema:
          type: string
      - in: query
        name: jobId
        description: The job identifier.
        required: false
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The operation succeeded. The response contains the details of the newly created team project resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResource'
        '202':
          description: The team project creation job is still running.
      x-ms-examples:
        Get the status of the project creation job:
          $ref: ./examples/GetProjectJobStatus.json
    servers:
    - url: https://management.azure.com
components:
  schemas:
    ProjectProperties:
      type: object
      description: The properties of a machine learning project.
      required:
      - friendlyName
      properties:
        description:
          description: The description of this project.
          type: string
        accountId:
          description: The immutable id of the team account which contains this project.
          type: string
          readOnly: true
        workspaceId:
          description: The immutable id of the workspace which contains this project.
          type: string
          readOnly: true
        projectId:
          description: The immutable id of this project.
          type: string
          readOnly: true
        gitrepo:
          description: The reference to git repo for this project.
          type: string
        friendlyName:
          description: The friendly name for this project.
          type: string
        creationDate:
          format: date-time
          description: The creation date of the project in ISO8601 format.
          type: string
          readOnly: true
        provisioningState:
          type: string
          enum:
          - Creating
          - Succeeded
          - Updating
          - Deleting
          - Failed
          x-ms-enum:
            name: ProvisioningState
            modelAsString: false
          readOnly: true
          description: The current deployment state of project resource. The provisioningState is to indicate states for resource provisioning.
    Resource:
      description: An Azure resource.
      required:
      - location
      properties:
        id:
          description: The resource ID.
          type: string
          readOnly: true
        name:
          description: The name of the resource.
          type: string
          readOnly: true
        type:
          description: The type of the resource.
          type: string
          readOnly: true
        location:
          description: The location of the resource. This cannot be changed after the resource is created.
          type: string
        tags:
          description: The tags of the resource.
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
    Project:
      type: object
      description: An object that represents a machine learning project.
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/ProjectProperties'
          description: The properties of the Project.
          x-ms-client-flatten: true
    ProjectListResult:
      description: The result of a request to list projects.
      properties:
        value:
          description: The list of projects. Since this list may be incomplete, the nextLink field should be used to request the next list of projects.
          type: array
          items:
            $ref: '#/components/schemas/Project'
        nextLink:
          description: The URI that can be used to request the next list of projects.
          type: string
    ErrorResponse:
      description: The error response send when an operation fails.
      properties:
        code:
          type: string
          description: error code
        message:
          type: string
          description: error message
      required:
      - code
      - message
    ProjectUpdateParameters:
      description: The parameters for updating a machine learning project.
      properties:
        tags:
          description: The resource tags for the machine learning project.
          type: object
          additionalProperties:
            type: string
        properties:
          $ref: '#/components/schemas/ProjectPropertiesUpdateParameters'
          description: The properties that the project will be updated with.
          x-ms-client-flatten: true
    ProjectPropertiesUpdateParameters:
      description: The parameters for updating the properties of a project.
      properties:
        friendlyName:
          description: The friendly name for this project.
          type: string
        description:
          description: The description of this project.
          type: string
        gitrepo:
          description: The reference to git repo for this project.
          type: string
    ProjectProperties_2:
      description: Project properties.
      type: object
      properties:
        description:
          type: string
          description: A description for the Project.
        provisioningState:
          description: The provisioning state of this resource.
          enum:
          - Succeeded
          type: string
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
          readOnly: true
    Project_2:
      description: The Project resource.
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ProjectProperties_2'
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: Resource system metadata.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource
    ProjectUpdateProperties:
      description: Project properties.
      type: object
      properties:
        description:
          type: string
          description: A description for the Project.
    ProjectUpdateParameters_2:
      description: The Project resource.
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ProjectUpdateProperties'
    ProjectList:
      description: List of Project resources.
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Project_2'
          readOnly: true
        nextLink:
          type: string
          description: Request URL that can be used to query next page of containers. Returned when total number of requested containers exceed maximum page size.
          readOnly: true
    ProjectResourceListResult:
      description: The response to a request to list Team Services project resources in a resource group/account.
      type: object
      properties:
        value:
          description: List of project resource details.
          type: array
          items:
            $ref: '#/components/schemas/ProjectResource'
    ProjectResource:
      description: A Visual Studio Team Services project resource.
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource_2'
      properties:
        properties:
          description: Key/value pair of resource properties.
          type: object
          additionalProperties:
            type: string
          x-ms-client-flatten: true
    Resource_2:
      description: A generic Azure Resource Manager resource.
      x-ms-azure-resource: true
      type: object
      properties:
        id:
          description: Unique identifier of the resource.
          readOnly: true
          type: string
        location:
          description: Resource location.
          type: string
        name:
          description: Resource name.
          readOnly: true
          type: string
        tags:
          description: Resource tags.
          type: object
          additionalProperties:
            type: string
        type:
          description: Resource type.
          readOnly: true
          type: string
  parameters:
    WorkspaceNameParameter:
      name: workspaceName
      in: path
      description: The name of the machine learning team account workspace.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 50
        minLength: 5
        pattern: ^[a-zA-Z0-9]*$
    AccountNameParameter:
      name: accountName
      in: path
      description: The name of the machine learning team account.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 50
        minLength: 5
        pattern: ^[a-zA-Z0-9]*$
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group to which the machine learning team account belongs.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The client API version.
      required: true
      schema:
        type: string
    ProjectNameParameter:
      name: projectName
      in: path
      description: The name of the machine learning project under a team account workspace.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 50
        minLength: 5
        pattern: ^[a-zA-Z0-9]*$
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The Microsoft Azure subscription ID.
      required: true
      schema:
        type: string
    StorageMoverNameParameter:
      name: storageMoverName
      in: path
      required: true
      description: The name of the Storage Mover resource.
      x-ms-parameter-location: method
      schema:
        type: string
    ProjectNameParameter_2:
      name: projectName
      in: path
      required: true
      description: The name of the Project resource.
      x-ms-parameter-location: method
      schema:
        type: string
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The Azure subscription identifier.
      required: true
      schema:
        type: string
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      description: Name of the resource group within the Azure subscription.
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      description: API Version
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- ml-team-account-management-client-openapi-original.yml
- storagemoverclient-openapi-original.yml
- visual-studio-resource-provider-client-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
