openapi: 3.2.0
info:
  title: Microsoft Azure Labels API
  version: '1.0'
  description: 'Operations tagged Labels across 2 of this provider''s published API definitions: azure-app-configuration-openapi-original.yml, microsofteasm-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
tags:
- name: Labels
paths:
  /labels:
    get:
      tags:
      - Labels
      summary: Microsoft Azure Gets A List Of Labels
      operationId: microsoftAzureGetlabels
      parameters:
      - name: name
        in: query
        description: A filter for the name of the returned labels.
        schema:
          type: string
      - $ref: '#/components/parameters/SyncTokens'
      - $ref: '#/components/parameters/ApiVersion'
      - name: After
        in: query
        description: Instructs the server to return elements that appear after the element referred to by the specified token.
        schema:
          type: string
      - name: Accept-Datetime
        in: header
        description: Requests the server to respond with the state of the resource at the specified time.
        schema:
          type: string
      - $ref: '#/components/parameters/LabelFields'
      responses:
        '200':
          description: Success
          headers:
            Sync-Token:
              description: Enables real-time consistency between requests by providing the returned value in the next request made to the server.
              schema:
                type: string
          content:
            application/vnd.microsoft.appconfig.labelset+json:
              schema:
                $ref: '#/components/schemas/LabelListResult'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/LabelListResult'
        default:
          description: Error response describing why the operation failed
          content:
            application/vnd.microsoft.appconfig.labelset+json:
              schema:
                $ref: '#/components/schemas/Error'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-examples:
        GetLabels:
          $ref: ./examples/GetLabels.json
      x-ms-pageable:
        itemName: items
        nextLinkName: '@nextLink'
      description: Needs a more full description created.
    head:
      tags:
      - Labels
      summary: Microsoft Azure Requests The Headers And Status Of The Given Resource
      operationId: microsoftAzureChecklabels
      parameters:
      - name: name
        in: query
        description: A filter for the name of the returned labels.
        schema:
          type: string
      - $ref: '#/components/parameters/SyncTokens'
      - $ref: '#/components/parameters/ApiVersion'
      - name: After
        in: query
        description: Instructs the server to return elements that appear after the element referred to by the specified token.
        schema:
          type: string
      - name: Accept-Datetime
        in: header
        description: Requests the server to respond with the state of the resource at the specified time.
        schema:
          type: string
      - $ref: '#/components/parameters/LabelFields'
      responses:
        '200':
          description: Success
          headers:
            Sync-Token:
              description: Enables real-time consistency between requests by providing the returned value in the next request made to the server.
              schema:
                type: string
        default:
          description: Error response.
      x-ms-examples:
        CheckLabels:
          $ref: ./examples/CheckLabels.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Easm/workspaces/{workspaceName}/labels
  : get:
      tags:
      - Labels
      description: Returns a list of labels in the given workspace.
      operationId: microsoftAzureLabelsListbyworkspace
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      responses:
        '200':
          description: Lists of labels.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelResourceList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Labels:
          $ref: ./examples/Labels_ListByWorkspace.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Easm/workspaces/{workspaceName}/labels/{labelName}
  : get:
      tags:
      - Labels
      description: Returns a label in the given workspace.
      operationId: microsoftAzureLabelsGetbyworkspace
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/LabelNameParameter'
      responses:
        '200':
          description: Label details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Labels:
          $ref: ./examples/Labels_GetByWorkspace.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    put:
      tags:
      - Labels
      description: Create or update a Label.
      operationId: microsoftAzureLabelsCreateandupdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/LabelNameParameter'
      responses:
        '200':
          description: Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelResource'
        '201':
          description: Long running operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        Labels:
          $ref: ./examples/Labels_CreateAndUpdate.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabelResource'
        description: Label details.
      security:
      - azure_auth:
        - user_impersonation
    patch:
      tags:
      - Labels
      description: Update a Label.
      operationId: microsoftAzureLabelsUpdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/LabelNameParameter'
      responses:
        '200':
          description: Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Labels:
          $ref: ./examples/Labels_Update.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabelPatchResource'
        description: Label patch details.
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - Labels
      description: Delete a Label.
      operationId: microsoftAzureLabelsDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/LabelNameParameter'
      responses:
        '202':
          description: The Label will be deleted asynchronously.
        '204':
          description: The Label does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        Labels:
          $ref: ./examples/Labels_Delete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
components:
  schemas:
    LabelListResult:
      description: The result of a list request.
      type: object
      properties:
        items:
          description: The collection value.
          type: array
          items:
            $ref: '#/components/schemas/Label'
        '@nextLink':
          description: The URI that can be used to request the next set of paged results.
          type: string
    Label:
      type: object
      properties:
        name:
          type: string
          readOnly: true
          description: The name of the label.
    Error:
      description: Azure App Configuration error object.
      type: object
      properties:
        type:
          description: The type of the error.
          type: string
        title:
          description: A brief summary of the error.
          type: string
        name:
          description: The name of the parameter that resulted in the error.
          type: string
        detail:
          description: A detailed description of the error.
          type: string
        status:
          description: The HTTP status code that the error maps to.
          type: integer
      readOnly: true
    LabelPatchResource:
      type: object
      description: Label patch properties
      allOf:
      - $ref: '#/components/schemas/LabelResource'
    LabelResource:
      type: object
      description: Label details
      properties:
        properties:
          description: Label properties
          $ref: '#/components/schemas/LabelResourceProperties'
          x-ms-client-flatten: true
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
      x-ms-azure-resource: true
    LabelResourceList:
      type: object
      description: The list of labels.
      properties:
        value:
          type: array
          description: The list of labels.
          items:
            $ref: '#/components/schemas/LabelResource'
        nextLink:
          type: string
          description: The link used to get the next page of Label list.
    ResourceState:
      description: Resources provisioning states.
      enum:
      - NotSpecified
      - Accepted
      - Creating
      - Succeeded
      - Failed
      - Canceled
      - ProvisioningResources
      - InstallingApplication
      - ConfiguringApplication
      - MigratingApplicationData
      - RunningValidations
      - CreatingArtifacts
      - DeletingArtifacts
      type: string
      x-ms-enum:
        name: ResourceState
        modelAsString: true
    LabelResourceProperties:
      description: Label properties.
      type: object
      properties:
        displayName:
          description: Label display name.
          type: string
        color:
          description: Label color.
          type: string
      allOf:
      - $ref: '#/components/schemas/ResourceBaseProperties'
    ResourceBaseProperties:
      description: Resource base properties.
      type: object
      properties:
        provisioningState:
          description: Resource provisioning state.
          $ref: '#/components/schemas/ResourceState'
          readOnly: true
  parameters:
    ApiVersion:
      name: api-version
      in: query
      description: The API version to be used with the HTTP request.
      required: true
      schema:
        type: string
    LabelFields:
      name: $Select
      in: query
      description: Used to select what fields are present in the returned resource(s).
      x-ms-parameter-location: method
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          enum:
          - name
          x-ms-enum:
            name: LabelFields
            modelAsString: true
    SyncTokens:
      name: Sync-Token
      in: header
      description: Used to guarantee real-time consistency between requests.
      schema:
        type: string
    WorkspaceNameParameter:
      name: workspaceName
      in: path
      required: true
      description: The name of the Workspace.
      x-ms-parameter-location: method
      schema:
        type: string
    LabelNameParameter:
      name: labelName
      in: path
      required: true
      description: The name of the Label.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- azure-app-configuration-openapi-original.yml
- microsofteasm-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
