openapi: 3.2.0
info:
  version: 2022-03-01-preview
  title: Microsoft Azure AppConfigurationManagementClient Deleted…
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: DeletedConfigurationStores
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AppConfiguration/deletedConfigurationStores:
    get:
      tags:
      - DeletedConfigurationStores
      operationId: microsoftAzureConfigurationstoresListdeleted
      description: Gets information about the deleted configuration stores in a subscription.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Retrieved information about all deleted configuration stores in a subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedConfigurationStoreListResult'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        DeletedConfigurationStores_List:
          $ref: ./examples/DeletedConfigurationStoresList.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
  ? /subscriptions/{subscriptionId}/providers/Microsoft.AppConfiguration/locations/{location}/deletedConfigurationStores/{configStoreName}
  : get:
      tags:
      - DeletedConfigurationStores
      operationId: microsoftAzureConfigurationstoresGetdeleted
      description: Gets a deleted Azure app configuration store.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/LocationParameter'
      - $ref: '#/components/parameters/ConfigStoreNameParameter'
      responses:
        '200':
          description: Retrieved information about the deleted configuration store.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedConfigurationStore'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        DeletedConfigurationStores_Get:
          $ref: ./examples/DeletedConfigurationStoresGet.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
  ? /subscriptions/{subscriptionId}/providers/Microsoft.AppConfiguration/locations/{location}/deletedConfigurationStores/{configStoreName}/purge
  : post:
      tags:
      - DeletedConfigurationStores
      operationId: microsoftAzureConfigurationstoresPurgedeleted
      x-ms-long-running-operation: true
      description: Permanently deletes the specified configuration store.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/LocationParameter'
      - $ref: '#/components/parameters/ConfigStoreNameParameter'
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
        '202':
          description: The request was successful; the operation will complete asynchronously.
        '204':
          description: No Content - the specified resource was not found.
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Purge a deleted configuration store:
          $ref: ./examples/DeletedConfigurationStoresPurge.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft…
components:
  schemas:
    DeletedConfigurationStoreProperties:
      type: object
      properties:
        configurationStoreId:
          readOnly: true
          type: string
          description: The resource id of the original configuration store.
        location:
          readOnly: true
          type: string
          description: The location of the original configuration store.
        deletionDate:
          readOnly: true
          type: string
          format: date-time
          description: The deleted date.
        scheduledPurgeDate:
          readOnly: true
          type: string
          format: date-time
          description: The scheduled purged date.
        tags:
          readOnly: true
          type: object
          additionalProperties:
            type: string
          description: Tags of the original configuration store.
        purgeProtectionEnabled:
          readOnly: true
          type: boolean
          description: Purge protection status of the original configuration store.
      description: Properties of the deleted configuration store.
    DeletedConfigurationStore:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: The resource ID for the deleted configuration store.
        name:
          readOnly: true
          type: string
          description: The name of the configuration store.
        type:
          readOnly: true
          type: string
          description: The resource type of the configuration store.
        properties:
          $ref: '#/components/schemas/DeletedConfigurationStoreProperties'
          description: Properties of the deleted configuration store
          x-ms-client-flatten: true
      description: Deleted configuration store information with extended details.
    ErrorAdditionalInfo:
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    DeletedConfigurationStoreListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/DeletedConfigurationStore'
          description: The list of deleted configuration store.
        nextLink:
          type: string
          description: The URL to get the next set of deleted configuration stores.
      description: List of deleted configuration stores
    ErrorResponse:
      description: Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.
      type: object
      properties:
        error:
          description: The details of the error.
          $ref: '#/components/schemas/ErrorDetails'
    ErrorDetails:
      description: The details of the error.
      properties:
        code:
          description: Error code.
          type: string
          readOnly: true
        message:
          description: Error message indicating why the operation failed.
          type: string
          readOnly: true
        additionalInfo:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          x-ms-identifiers: []
          description: The error additional info.
  parameters:
    ConfigStoreNameParameter:
      name: configStoreName
      in: path
      description: The name of the configuration store.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 50
        minLength: 5
        pattern: ^[a-zA-Z0-9_-]*$
    ApiVersionParameter:
      name: api-version
      in: query
      description: The client API version.
      required: true
      schema:
        type: string
    LocationParameter:
      name: location
      in: path
      description: The location in which uniqueness will be verified.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The Microsoft Azure subscription ID.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
