openapi: 3.2.0
info:
  title: Microsoft Azure TemplateSpecsClient Template Specs API
  description: The APIs listed in this specification can be used to manage Template Spec resources through the Azure Resource Manager.
  version: 2021-03-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Template Specs
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Resources/templateSpecs/{templateSpecName}
  : put:
      tags:
      - Template Specs
      operationId: microsoftAzureTemplatespecsCreateorupdate
      description: Creates or updates a Template Spec.
      x-ms-examples:
        TemplateSpecsCreateUpdate:
          $ref: ./examples/TemplateSpecsCreate.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/TemplateSpecNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK - The Template Spec update request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateSpec'
        '201':
          description: Template Spec created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateSpec'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateSpecsError'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateSpec'
        description: Template Spec supplied to the operation.
        required: true
    patch:
      tags:
      - Template Specs
      operationId: microsoftAzureTemplatespecsUpdate
      description: Updates Template Spec tags with specified values.
      x-ms-examples:
        TemplateSpecsPatch:
          $ref: ./examples/TemplateSpecsPatch.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/TemplateSpecNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK -- Template Spec tags are updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateSpec'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateSpecsError'
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateSpecUpdateModel'
        description: Template Spec resource with the tags to be updated.
    get:
      tags:
      - Template Specs
      operationId: microsoftAzureTemplatespecsGet
      description: Gets a Template Spec with a given name.
      x-ms-examples:
        TemplateSpecsGet:
          $ref: ./examples/TemplateSpecsGet.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/TemplateSpecNameParameter'
      - $ref: '#/components/parameters/TemplateSpecExpandParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK - Returns information about the Template Spec.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateSpec'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateSpecsError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    delete:
      tags:
      - Template Specs
      operationId: microsoftAzureTemplatespecsDelete
      description: Deletes a Template Spec by name. When operation completes, status code 200 returned without content.
      x-ms-examples:
        TemplateSpecsDelete:
          $ref: ./examples/TemplateSpecsDelete.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/TemplateSpecNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK - Template Spec deleted.
        '204':
          description: Template Spec does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateSpecsError'
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/providers/Microsoft.Resources/templateSpecs/:
    get:
      tags:
      - Template Specs
      operationId: microsoftAzureTemplatespecsListbysubscription
      description: Lists all the Template Specs within the specified subscriptions.
      x-ms-examples:
        TemplatesSpecsListBySubscription:
          $ref: ./examples/TemplateSpecsListBySubscription.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/TemplateSpecExpandParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK - Returns an array of Template Specs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateSpecsListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateSpecsError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Resources…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Resources/templateSpecs/:
    get:
      tags:
      - Template Specs
      operationId: microsoftAzureTemplatespecsListbyresourcegroup
      description: Lists all the Template Specs within the specified resource group.
      x-ms-examples:
        TemplateSpecsListByResourceGroup:
          $ref: ./examples/TemplateSpecsListByResourceGroup.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/TemplateSpecExpandParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK - Returns an array of Template Specs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateSpecsListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateSpecsError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  parameters:
    TemplateSpecExpandParameter:
      name: $expand
      in: query
      required: false
      description: Allows for expansion of additional Template Spec details in the response. Optional.
      x-ms-parameter-location: method
      x-ms-enum:
        name: TemplateSpecExpandKind
        modelAsString: true
        values:
        - value: versions
          description: Includes version information with the Template Spec.
      schema:
        type: string
        enum:
        - versions
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
        pattern: ^[-\w\._\(\)]+$
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      x-ms-parameter-location: client
      description: Client Api version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      x-ms-parameter-location: client
      description: Subscription Id which forms part of the URI for every service call.
      schema:
        type: string
    TemplateSpecNameParameter:
      name: templateSpecName
      in: path
      required: true
      description: Name of the Template Spec.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
        pattern: ^[-\w\._\(\)]+$
  schemas:
    TemplateSpecProperties:
      type: object
      description: Template Spec properties.
      properties:
        description:
          type: string
          maxLength: 4096
          description: Template Spec description.
        displayName:
          type: string
          maxLength: 64
          description: Template Spec display name.
        metadata:
          type: object
          description: The Template Spec metadata. Metadata is an open-ended object and is typically a collection of key-value pairs.
        versions:
          type: object
          readOnly: true
          description: High-level information about the versions within this Template Spec. The keys are the version names. Only populated if the $expand query parameter is set to 'versions'.
          additionalProperties:
            $ref: '#/components/schemas/TemplateSpecVersionInfo'
    TemplateSpecsListResult:
      description: List of Template Specs.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/TemplateSpec'
          description: An array of Template Specs.
        nextLink:
          readOnly: true
          type: string
          description: The URL to use for getting the next set of results.
    AzureResourceBase:
      x-ms-azure-resource: true
      type: object
      description: Common properties for all Azure resources.
      properties:
        id:
          readOnly: true
          type: string
          description: String Id used to locate any resource on Azure.
        name:
          readOnly: true
          type: string
          description: Name of this resource.
        type:
          readOnly: true
          type: string
          description: Type of this resource.
        systemData:
          readOnly: true
          type: object
          description: Azure Resource Manager metadata containing createdBy and modifiedBy information.
          $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/systemData
    TemplateSpec:
      required:
      - location
      type: object
      description: Template Spec object.
      allOf:
      - $ref: '#/components/schemas/AzureResourceBase'
      properties:
        location:
          type: string
          x-ms-mutability:
          - read
          - create
          description: The location of the Template Spec. It cannot be changed after Template Spec creation. It must be one of the supported Azure locations.
        properties:
          description: Template Spec properties.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/TemplateSpecProperties'
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
    TemplateSpecVersionInfo:
      type: object
      description: High-level information about a Template Spec version.
      properties:
        description:
          type: string
          readOnly: true
          description: Template Spec version description.
        timeCreated:
          type: string
          readOnly: true
          format: date-time
          description: The timestamp of when the version was created.
        timeModified:
          type: string
          readOnly: true
          format: date-time
          description: The timestamp of when the version was last modified.
    TemplateSpecsError:
      properties:
        error:
          $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse
      description: Template Specs error response.
    TemplateSpecUpdateModel:
      type: object
      description: Template Spec properties to be updated (only tags are currently supported).
      properties:
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
      allOf:
      - $ref: '#/components/schemas/AzureResourceBase'
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
