openapi: 3.2.0
info:
  version: 2022-09-01-preview
  title: Microsoft Azure Microsoft.Support File Workspaces API
  description: Microsoft Azure Support Resource Provider.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: FileWorkspaces
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Support/fileWorkspaces/{fileWorkspaceName}:
    get:
      tags:
      - FileWorkspaces
      description: Gets details for a specific file workspace in an Azure subscription.
      operationId: microsoftAzureFileworkspacesGet
      parameters:
      - name: fileWorkspaceName
        in: path
        description: File Workspace Name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved file workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileWorkspaceDetails'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Get details of a subscription file workspace:
          $ref: ./examples/GetFileWorkspaceDetailsForSubscription.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Support…
    put:
      tags:
      - FileWorkspaces
      description: Creates a new file workspace for the specified subscription.
      operationId: microsoftAzureFileworkspacesCreate
      parameters:
      - name: fileWorkspaceName
        in: path
        description: File workspace name.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-zA-Z_\-. ]+$
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '201':
          description: Created - File workspace created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileWorkspaceDetails'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Create a file workspace:
          $ref: ./examples/CreateFileWorkspaceForSubscription.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Providers Microsoft Support…
  /providers/Microsoft.Support/fileWorkspaces/{fileWorkspaceName}:
    get:
      tags:
      - FileWorkspaces
      description: Gets details for a specific file workspace.
      operationId: microsoftAzureFileworkspacesnosubscriptionGet
      parameters:
      - name: fileWorkspaceName
        in: path
        description: File Workspace Name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved file workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileWorkspaceDetails'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Get details of a file workspace:
          $ref: ./examples/GetFileWorkspaceDetails.json
      summary: Microsoft Azure Get Providers Microsoft Support Fileworkspaces Fileworkspacename
    put:
      tags:
      - FileWorkspaces
      description: Creates a new file workspace.
      operationId: microsoftAzureFileworkspacesnosubscriptionCreate
      parameters:
      - name: fileWorkspaceName
        in: path
        description: File workspace name.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-zA-Z_\-. ]+$
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '201':
          description: Created - File workspace created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileWorkspaceDetails'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Create a file workspace:
          $ref: ./examples/CreateFileWorkspace.json
      summary: Microsoft Azure Put Providers Microsoft Support Fileworkspaces Fileworkspacename
components:
  schemas:
    FileWorkspaceDetails:
      x-ms-azure-resource: true
      description: Object that represents FileWorkspaceDetails resource
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/FileWorkspaceDetailsProperties'
          description: Properties of the resource
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
    FileWorkspaceDetailsProperties:
      description: Describes the properties of a file workspace.
      type: object
      properties:
        createdOn:
          format: date-time
          description: Time in UTC (ISO 8601 format) when file workspace was created.
          type: string
          readOnly: true
        expirationTime:
          format: date-time
          description: Time in UTC (ISO 8601 format) when file workspace is going to expire.
          type: string
          readOnly: true
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: API version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Azure subscription Id.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
