openapi: 3.2.0
info:
  version: 2024-03-01-preview
  title: Microsoft Azure Azure Orbital Ground Station API
  description: Azure Orbital service.
  license:
    name: Microsoft
servers:
- url: https://management.azure.com
tags:
- name: Groundstation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Orbital/groundStations:
    get:
      tags:
      - Groundstation
      description: Return list of ground stations.
      operationId: microsoftAzureGroundstationsListbysubscription
      x-ms-examples:
        List of Ground Stations by Subscription:
          $ref: ./examples/GroundStationsBySubscription.json
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/skipTokenParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of Ground Station resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroundStationListResult'
        default:
          description: Error response describing why the operation failed. If the resource group does not exist, 404 (NotFound) will be returned.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Orbital…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Orbital/groundStations:
    get:
      tags:
      - Groundstation
      description: Return list of ground stations.
      operationId: microsoftAzureGroundstationsList
      x-ms-examples:
        List of Ground Stations:
          $ref: ./examples/GroundStationsList.json
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/skipTokenParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of Ground Station resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroundStationListResult'
        default:
          description: Error response describing why the operation failed. If the resource group does not exist, 404 (NotFound) will be returned.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Orbital/groundStations/{groundStationName}
  : get:
      tags:
      - Groundstation
      operationId: microsoftAzureGroundstationsGet
      description: Gets the specified ground station in a specified resource group.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/groundStationNameParameter'
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Request successful. The operation returns the resulting ground station resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroundStation'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Get GroundStation:
          $ref: ./examples/GroundStationGet.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Groundstation
      description: Creates or updates a ground station resource.
      operationId: microsoftAzureGroundstationsCreateorupdate
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/groundStationNameParameter'
      responses:
        '200':
          description: Update successful. The operation returns the resulting ground station resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroundStation'
        '201':
          description: Create successful. The operation returns the resulting ground station resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroundStation'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Create a ground station:
          $ref: ./examples/GroundStationCreate.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroundStation'
        description: The parameters to provide for the created ground station.
        required: true
    patch:
      tags:
      - Groundstation
      operationId: microsoftAzureGroundstationsUpdatetags
      x-ms-examples:
        Update Ground Station tags:
          $ref: ./examples/GroundStationUpdateTags.json
      description: Updates the specified ground station tags.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/groundStationNameParameter'
      responses:
        '200':
          description: Update successful. The operation returns the resulting Ground Station resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroundStation'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagsObject'
        description: Parameters supplied to update ground station tags.
        required: true
    delete:
      tags:
      - Groundstation
      operationId: microsoftAzureGroundstationsDelete
      description: Deletes a specified ground station resource.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/groundStationNameParameter'
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Delete successful.
        '204':
          description: Request successful. Resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Delete Ground Station:
          $ref: ./examples/GroundStationDelete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    ResourceReference:
      type: object
      required:
      - id
      properties:
        id:
          type: string
          description: Resource ID.
      description: Resource Reference.
    Capability:
      type: string
      description: Capability of the Ground Station.
      enum:
      - EarthObservation
      - Communication
      x-ms-enum:
        name: Capability
        modelAsString: true
    GroundStationsProperties:
      type: object
      required:
      - capabilities
      - globalCommunicationsSite
      properties:
        city:
          type: string
          description: City of ground station.
        capabilities:
          type: array
          items:
            $ref: '#/components/schemas/Capability'
          description: Ground station capabilities.
        providerName:
          type: string
          description: Ground station provider name.
        longitudeDegrees:
          type: number
          description: Longitude of the ground station in decimal degrees.
        latitudeDegrees:
          type: number
          description: Latitude of the ground station in decimal degrees.
        altitudeMeters:
          type: number
          description: Altitude of the ground station.
        releaseMode:
          type: string
          enum:
          - Preview
          - GA
          x-ms-enum:
            name: releaseMode
            modelAsString: true
          readOnly: true
          description: Release Status of a ground station.
        globalCommunicationsSite:
          allOf:
          - $ref: '#/components/schemas/ResourceReference'
          description: A reference to global communications site.
      description: List of ground station resource properties.
    GroundStation:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          allOf:
          - $ref: '#/components/schemas/GroundStationsProperties'
          description: Properties of the Ground Station.
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource
      description: Ground Station contains one or more antennas.
    TagsObject:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
      description: Tags object for patch operations.
    GroundStationListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/GroundStation'
          description: A list of ground station resources.
        nextLink:
          type: string
          description: The URL to get the next set of results.
          readOnly: true
      description: Response for the ListGroundStations API service call.
  parameters:
    groundStationNameParameter:
      name: groundStationName
      in: path
      required: true
      description: Ground Station name.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 2
        pattern: ^[A-Za-z][A-Za-z0-9-_]+$
    skipTokenParameter:
      name: $skiptoken
      description: An opaque string that the resource provider uses to skip over previously-returned results. This is used when a previous list operation call returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
      in: query
      required: false
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
