openapi: 3.2.0
info:
  version: 2022-09-01-preview
  title: Microsoft Azure Microsoft.Support Problem Classifications…
  description: Microsoft Azure Support Resource Provider.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ProblemClassifications
paths:
  /providers/Microsoft.Support/services/{serviceName}/problemClassifications:
    get:
      tags:
      - ProblemClassifications
      description: Lists all the problem classifications (categories) available for a specific Azure service. Always use the service and problem classifications obtained programmatically. This practice ensures that you always have the most recent set of service and problem classification Ids.
      operationId: microsoftAzureProblemclassificationsList
      parameters:
      - name: serviceName
        in: path
        description: Name of the Azure service for which the problem classifications need to be retrieved.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved list of problem classifications for the specified Azure service.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemClassificationsListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: null
      x-ms-examples:
        Gets list of problemClassifications for a service for which a support ticket can be created:
          $ref: ./examples/ListProblemClassifications.json
      summary: Microsoft Azure Get Providers Microsoft Support Services Servicename…
  /providers/Microsoft.Support/services/{serviceName}/problemClassifications/{problemClassificationName}:
    get:
      tags:
      - ProblemClassifications
      description: Get problem classification details for a specific Azure service.
      operationId: microsoftAzureProblemclassificationsGet
      parameters:
      - name: serviceName
        in: path
        description: Name of the Azure service available for support.
        required: true
        schema:
          type: string
      - name: problemClassificationName
        in: path
        description: Name of problem classification.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved problem classification details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemClassification'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Gets details of problemClassification for Azure service:
          $ref: ./examples/GetProblemClassification.json
      summary: Microsoft Azure Get Providers Microsoft Support Services Servicename…
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: API version.
      schema:
        type: string
  schemas:
    SecondaryConsentEnabled:
      description: This property indicates whether secondary consent is present for problem classification.
      type: object
      properties:
        description:
          description: User consent description.
          type: string
        type:
          description: The Azure service for which secondary consent is needed for case creation.
          type: string
    ProblemClassification:
      description: ProblemClassification resource object.
      type: object
      properties:
        id:
          description: Id of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the resource.
          type: string
          readOnly: true
        type:
          description: Type of the resource 'Microsoft.Support/problemClassification'.
          type: string
          readOnly: true
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ProblemClassificationProperties'
          description: Properties of the resource.
    ProblemClassificationProperties:
      description: Details about a problem classification available for an Azure service.
      type: object
      properties:
        displayName:
          description: Localized name of problem classification.
          type: string
        secondaryConsentEnabled:
          description: This property indicates whether secondary consent is present for problem classification
          type: array
          items:
            $ref: '#/components/schemas/SecondaryConsentEnabled'
          x-ms-identifiers: []
    ProblemClassificationsListResult:
      description: Collection of ProblemClassification resources.
      type: object
      properties:
        value:
          description: List of ProblemClassification resources.
          type: array
          items:
            $ref: '#/components/schemas/ProblemClassification'
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
