openapi: 3.2.0
info:
  version: 2023-11-01-preview
  title: Microsoft Azure Desktop Virtualization API Client…
servers:
- url: https://management.azure.com
tags:
- name: ApplicationGroup
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/applicationGroups/{applicationGroupName}
  : get:
      tags:
      - ApplicationGroup
      operationId: microsoftAzureApplicationgroupsGet
      description: Get an application group.
      x-ms-examples:
        ApplicationGroup_Get:
          $ref: ./examples/ApplicationGroup_Get.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ApplicationGroupNameParameter'
      responses:
        '200':
          description: Successfully retrieved application group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGroup'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - ApplicationGroup
      operationId: microsoftAzureApplicationgroupsCreateorupdate
      description: Create or update an applicationGroup.
      x-ms-examples:
        ApplicationGroup_Create:
          $ref: ./examples/ApplicationGroup_Create.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ApplicationGroupNameParameter'
      responses:
        '200':
          description: Successfully updated application group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGroup'
        '201':
          description: Successfully created application group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGroup'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationGroup'
        description: Object containing ApplicationGroup definitions.
        required: true
    delete:
      tags:
      - ApplicationGroup
      operationId: microsoftAzureApplicationgroupsDelete
      description: Remove an applicationGroup.
      x-ms-examples:
        ApplicationGroup_Delete:
          $ref: ./examples/ApplicationGroup_Delete.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ApplicationGroupNameParameter'
      responses:
        '200':
          description: Successfully removed application group.
        '204':
          description: Application group does not exist.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    patch:
      tags:
      - ApplicationGroup
      operationId: microsoftAzureApplicationgroupsUpdate
      description: Update an applicationGroup.
      x-ms-examples:
        ApplicationGroups_Update:
          $ref: ./examples/ApplicationGroup_Update.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ApplicationGroupNameParameter'
      responses:
        '200':
          description: Successfully updated application group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGroup'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationGroupPatch'
        description: Object containing ApplicationGroup definitions.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/applicationGroups
  : get:
      tags:
      - ApplicationGroup
      operationId: microsoftAzureApplicationgroupsListbyresourcegroup
      description: List applicationGroups.
      x-ms-examples:
        ApplicationGroup_ListByResourceGroup:
          $ref: ./examples/ApplicationGroup_ListByResourceGroup.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - name: $filter
        in: query
        required: false
        description: OData filter expression. Valid properties for filtering are applicationGroupType.
        schema:
          type: string
      - name: pageSize
        in: query
        required: false
        description: Number of items per page.
        schema:
          type: integer
          format: int32
      - name: isDescending
        in: query
        required: false
        description: Indicates whether the collection is descending.
        schema:
          type: boolean
      - name: initialSkip
        in: query
        required: false
        description: Initial number of items to skip.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved application groups in resource group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGroupList'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/providers/Microsoft.DesktopVirtualization/applicationGroups:
    get:
      tags:
      - ApplicationGroup
      operationId: microsoftAzureApplicationgroupsListbysubscription
      description: List applicationGroups in subscription.
      x-ms-examples:
        ApplicationGroup_List:
          $ref: ./examples/ApplicationGroup_ListBySubscription.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - name: $filter
        in: query
        required: false
        description: OData filter expression. Valid properties for filtering are applicationGroupType.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved application groups in subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGroupList'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
components:
  schemas:
    CloudError:
      description: Cloud error object.
      type: object
      x-ms-external: true
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorProperties'
    ApplicationGroupPatch:
      type: object
      description: ApplicationGroup properties that can be patched.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/Resource
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: tags to be updated
        properties:
          description: ApplicationGroup properties that can be patched.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ApplicationGroupPatchProperties'
    ApplicationGroup:
      type: object
      description: Represents a ApplicationGroup definition.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ResourceModelWithAllowedPropertySet
      required:
      - properties
      properties:
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: Metadata pertaining to creation and last modification of the resource.
        properties:
          description: Detailed properties for ApplicationGroup
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ApplicationGroupProperties'
    ApplicationGroupList:
      type: object
      title: ApplicationGroupList
      description: List of ApplicationGroup definitions.
      properties:
        value:
          type: array
          description: List of ApplicationGroup definitions.
          items:
            $ref: '#/components/schemas/ApplicationGroup'
        nextLink:
          type: string
          readOnly: true
          description: Link to the next page of results.
    ApplicationGroupProperties:
      description: Schema for ApplicationGroup properties.
      type: object
      required:
      - hostPoolArmPath
      - applicationGroupType
      properties:
        objectId:
          type: string
          description: ObjectId of ApplicationGroup. (internal use)
          readOnly: true
        description:
          type: string
          description: Description of ApplicationGroup.
        friendlyName:
          type: string
          description: Friendly name of ApplicationGroup.
        hostPoolArmPath:
          type: string
          description: HostPool arm path of ApplicationGroup.
        workspaceArmPath:
          type: string
          description: Workspace arm path of ApplicationGroup.
          readOnly: true
        applicationGroupType:
          enum:
          - RemoteApp
          - Desktop
          x-ms-enum:
            name: ApplicationGroupType
            modelAsString: true
          type: string
          description: Resource Type of ApplicationGroup.
        cloudPcResource:
          type: boolean
          description: Is cloud pc resource.
          readOnly: true
        showInFeed:
          type: boolean
          description: Boolean representing whether the applicationGroup is show in the feed.
    CloudErrorProperties:
      description: Cloud error object properties.
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
    ApplicationGroupPatchProperties:
      description: ApplicationGroup properties that can be patched.
      type: object
      properties:
        description:
          type: string
          description: Description of ApplicationGroup.
        friendlyName:
          type: string
          description: Friendly name of ApplicationGroup.
        showInFeed:
          type: boolean
          description: Boolean representing whether the applicationGroup is show in the feed.
  parameters:
    ApplicationGroupNameParameter:
      name: applicationGroupName
      in: path
      required: true
      description: The name of the application group
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 3
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
