openapi: 3.2.0
info:
  title: Microsoft Azure Appliances API
  version: '1.0'
  description: 'Operations tagged Appliances across 2 of this provider''s published API definitions: appliances-openapi-original.yml, managedapplicationclient-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Appliances
paths:
  /providers/Microsoft.ResourceConnector/operations:
    get:
      tags:
      - Appliances
      operationId: microsoftAzureAppliancesListoperations
      description: Lists all available Appliances operations.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Operation details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applianceOperationsList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      deprecated: false
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List Appliances operations:
          $ref: ./examples/AppliancesListOperations.json
      summary: Microsoft Azure Get Providers Microsoft Resourceconnector Operations
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.ResourceConnector/appliances:
    get:
      tags:
      - Appliances
      operationId: microsoftAzureAppliancesListbysubscription
      summary: Microsoft Azure Gets A List Of Appliances In A Subscription
      description: Gets a list of Appliances in the specified subscription. The operation returns properties of each Appliance
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applianceListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List Appliances by subscription:
          $ref: ./examples/AppliancesListBySubscription.json
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceConnector/appliances:
    get:
      tags:
      - Appliances
      operationId: microsoftAzureAppliancesListbyresourcegroup
      summary: Microsoft Azure Gets A List Of Appliances In The Specified Subscription And…
      description: Gets a list of Appliances in the specified subscription and resource group. The operation returns properties of each Appliance.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applianceListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List Appliances by resource group:
          $ref: ./examples/AppliancesListByResourceGroup.json
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceConnector/appliances/{resourceName}
  : get:
      tags:
      - Appliances
      operationId: microsoftAzureAppliancesGet
      summary: Microsoft Azure Gets An Appliance
      description: Gets the details of an Appliance with a specified resource group and name.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/appliance'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Get Appliance:
          $ref: ./examples/AppliancesGet.json
    put:
      tags:
      - Appliances
      operationId: microsoftAzureAppliancesCreateorupdate
      summary: Microsoft Azure Creates Or Updates An Appliance
      description: Creates or updates an Appliance in the specified Subscription and Resource Group.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/appliance'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/appliance'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        Create/Update Appliance:
          $ref: ./examples/AppliancesCreate_Update.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/appliance'
        description: Parameters supplied to create or update an Appliance.
        required: true
    delete:
      tags:
      - Appliances
      operationId: microsoftAzureAppliancesDelete
      summary: Microsoft Azure Deletes An Appliance
      description: Deletes an Appliance with the specified Resource Name, Resource Group, and Subscription Id.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceNameParameter'
      responses:
        '202':
          description: Accepted. The response indicates the delete operation is performed in the background.
        '204':
          description: NoContent. The response indicates the appliance resource is already deleted.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        Delete Appliance:
          $ref: ./examples/AppliancesDelete.json
    patch:
      tags:
      - Appliances
      operationId: microsoftAzureAppliancesUpdate
      summary: Microsoft Azure Updates An Appliance
      description: Updates an Appliance with the specified Resource Name in the specified Resource Group and Subscription.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/appliance'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Update Appliance:
          $ref: ./examples/AppliancesPatch.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchableAppliance'
        description: The updatable fields of an existing Appliance.
        required: true
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceConnector/appliances/{resourceName}/listClusterCustomerUserCredential
  : post:
      tags:
      - Appliances
      operationId: microsoftAzureAppliancesListclustercustomerusercredential
      summary: Microsoft Azure Returns The Cluster Customer User Credential
      description: Returns the cluster customer user credentials for the dedicated appliance.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applianceListClusterCustomerUserCredentialResults'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        ListClusterCustomerUserCredentialAppliance:
          $ref: ./examples/AppliancesListClusterCustomerUserCredential.json
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceConnector/appliances/{resourceName}/listClusterUserCredential
  : post:
      tags:
      - Appliances
      operationId: microsoftAzureAppliancesListclusterusercredential
      summary: Microsoft Azure Returns The Cluster User Credential
      description: Returns the cluster user credentials for the dedicated appliance.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applianceListCredentialResults'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        ListClusterUserCredentialAppliance:
          $ref: ./examples/AppliancesListClusterUserCredential.json
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceConnector/appliances/{resourceName}/upgradeGraphs/{upgradeGraph}
  : get:
      tags:
      - Appliances
      operationId: microsoftAzureAppliancesGetupgradegraph
      summary: Microsoft Azure Gets An Appliance Upgrade Graph
      description: Gets the upgrade graph of an Appliance with a specified resource group and name and specific release train.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceNameParameter'
      - name: upgradeGraph
        in: path
        required: true
        description: Upgrade graph version, ex - stable
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpgradeGraph'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Get Appliance Upgrade Graph:
          $ref: ./examples/UpgradeGraph.json
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/appliances/{applianceName}
  : get:
      tags:
      - Appliances
      operationId: microsoftAzureAppliancesGet
      description: Gets the appliance.
      x-ms-examples:
        Get an appliance:
          $ref: ./examples/getAppliance.json
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        schema:
          type: string
          maxLength: 90
          minLength: 1
          pattern: ^[-\w\._\(\)]+$
      - name: applianceName
        in: path
        required: true
        description: The name of the appliance.
        schema:
          type: string
          maxLength: 64
          minLength: 3
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK - Returns the appliance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appliance'
        '404':
          description: Not Found
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    delete:
      tags:
      - Appliances
      operationId: microsoftAzureAppliancesDelete
      description: Deletes the appliance.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        schema:
          type: string
          maxLength: 90
          minLength: 1
          pattern: ^[-\w\._\(\)]+$
      - name: applianceName
        in: path
        required: true
        description: The name of the appliance.
        schema:
          type: string
          maxLength: 64
          minLength: 3
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '202':
          description: Accepted - Returns this status until the asynchronous operation has completed.
        '204':
          description: NoContent
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Appliances
      operationId: microsoftAzureAppliancesCreateorupdate
      description: Creates a new appliance.
      x-ms-examples:
        Create or update appliance:
          $ref: ./examples/createOrUpdateAppliance.json
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        schema:
          type: string
          maxLength: 90
          minLength: 1
          pattern: ^[-\w\._\(\)]+$
      - name: applianceName
        in: path
        required: true
        description: The name of the appliance.
        schema:
          type: string
          maxLength: 64
          minLength: 3
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Created - Returns information about the appliance, including provisioning status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appliance'
        '201':
          description: Created - Returns information about the appliance, including provisioning status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appliance'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Appliance'
        description: Parameters supplied to the create or update an appliance.
        required: true
    patch:
      tags:
      - Appliances
      operationId: microsoftAzureAppliancesUpdate
      description: Updates an existing appliance. The only value that can be updated via PATCH currently is the tags.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        schema:
          type: string
          maxLength: 90
          minLength: 1
          pattern: ^[-\w\._\(\)]+$
      - name: applianceName
        in: path
        required: true
        description: The name of the appliance.
        schema:
          type: string
          maxLength: 64
          minLength: 3
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Created - Returns information about the appliance, including provisioning status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appliance'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Appliance'
        description: Parameters supplied to update an existing appliance.
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/appliances:
    get:
      tags:
      - Appliances
      operationId: microsoftAzureAppliancesListbyresourcegroup
      description: Gets all the appliances within a resource group.
      x-ms-examples:
        Lists appliances:
          $ref: ./examples/listAppliancesByResourceGroup.json
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        schema:
          type: string
          maxLength: 90
          minLength: 1
          pattern: ^[-\w\._\(\)]+$
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK - Returns an array of appliances.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplianceListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.Solutions/appliances:
    get:
      tags:
      - Appliances
      operationId: microsoftAzureAppliancesListbysubscription
      description: Gets all the appliances within a subscription.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK - Returns an array of appliances.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplianceListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Solutions…
    servers:
    - url: https://management.azure.com
  /{applianceId}:
    get:
      tags:
      - Appliances
      operationId: microsoftAzureAppliancesGetbyid
      description: Gets the appliance.
      parameters:
      - name: applianceId
        in: path
        required: true
        description: The fully qualified ID of the appliance, including the appliance name and the appliance resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/appliances/{appliance-name}
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK - Returns the appliance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appliance'
        '404':
          description: Not Found
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Applianceid
    delete:
      tags:
      - Appliances
      operationId: microsoftAzureAppliancesDeletebyid
      description: Deletes the appliance.
      parameters:
      - name: applianceId
        in: path
        required: true
        description: The fully qualified ID of the appliance, including the appliance name and the appliance resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/appliances/{appliance-name}
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '202':
          description: Accepted - Returns this status until the asynchronous operation has completed.
        '204':
          description: NoContent
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Applianceid
    put:
      tags:
      - Appliances
      operationId: microsoftAzureAppliancesCreateorupdatebyid
      description: Creates a new appliance.
      parameters:
      - name: applianceId
        in: path
        required: true
        description: The fully qualified ID of the appliance, including the appliance name and the appliance resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/appliances/{appliance-name}
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Created - Returns information about the appliance, including provisioning status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appliance'
        '201':
          description: Created - Returns information about the appliance, including provisioning status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appliance'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Applianceid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Appliance'
        description: Parameters supplied to the create or update an appliance.
        required: true
    patch:
      tags:
      - Appliances
      operationId: microsoftAzureAppliancesUpdatebyid
      description: Updates an existing appliance. The only value that can be updated via PATCH currently is the tags.
      parameters:
      - name: applianceId
        in: path
        required: true
        description: The fully qualified ID of the appliance, including the appliance name and the appliance resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/appliances/{appliance-name}
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Created - Returns information about the appliance, including provisioning status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appliance'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Patch Applianceid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Appliance'
        description: Parameters supplied to update an existing appliance.
    servers:
    - url: https://management.azure.com
components:
  schemas:
    patchableAppliance:
      description: The Appliances patchable resource definition.
      type: object
      x-ms-azure-resource: true
      x-ms-client-flatten: true
      properties:
        tags:
          description: Resource tags
          type: object
          additionalProperties:
            type: string
    applianceOperationsList:
      description: Lists of Appliances operations.
      required:
      - value
      type: object
      properties:
        nextLink:
          description: Next page of operations.
          type: string
        value:
          description: Array of applianceOperation
          type: array
          items:
            $ref: '#/components/schemas/applianceOperation'
          x-ms-identifiers: []
    appliance:
      description: Appliances definition.
      type: object
      properties:
        identity:
          $ref: '#/components/schemas/Identity'
          description: Identity for the resource.
        properties:
          $ref: '#/components/schemas/applianceProperties'
          description: The set of properties specific to an Appliance
          x-ms-client-flatten: true
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: Metadata pertaining to creation and last modification of the resource
          readOnly: true
      allOf:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource
    UpgradeGraphProperties:
      description: The Upgrade Graph Properties for appliance.
      type: object
      properties:
        applianceVersion:
          description: The current appliance version
          type: string
          readOnly: true
        supportedVersions:
          description: This contains the current version and supported upgrade versions.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/SupportedVersion'
          x-ms-identifiers: []
    SSHKey:
      description: Appliance SSHKey definition.
      type: object
      properties:
        privateKey:
          description: User Private Key.
          type: string
        publicKey:
          description: User Public Key.
          type: string
    SupportedVersionCatalogVersion:
      description: The SupportedVersionCatalogVersion object for appliance.
      type: object
      properties:
        data:
          $ref: '#/components/schemas/SupportedVersionCatalogVersionData'
          description: The newer supported version catalog version data.
          type: object
          readOnly: true
        name:
          description: The catalog version name for the version available for upgrade.
          type: string
          readOnly: true
        namespace:
          description: The catalog version namespace for the version available for upgrade.
          type: string
          readOnly: true
    SupportedVersionMetadata:
      description: The SupportedVersionMetadata object for appliance.
      type: object
      properties:
        catalogVersion:
          $ref: '#/components/schemas/SupportedVersionCatalogVersion'
          description: The newer supported version catalog version.
          type: object
          readOnly: true
    applianceListResult:
      description: The List Appliances operation response.
      type: object
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          type: string
          readOnly: true
        value:
          description: The list of Appliances.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/appliance'
    applianceListCredentialResults:
      description: The List Cluster User Credential appliance.
      type: object
      properties:
        hybridConnectionConfig:
          $ref: '#/components/schemas/HybridConnectionConfig'
          description: Contains the REP (rendezvous endpoint) and “Listener” access token from notification service (NS).
          readOnly: true
        kubeconfigs:
          description: The list of appliance kubeconfigs.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/applianceCredentialKubeconfig'
          x-ms-identifiers: []
    applianceListClusterCustomerUserCredentialResults:
      description: The List Cluster Customer User Credential Results appliance.
      type: object
      properties:
        kubeconfigs:
          description: The list of appliance kubeconfigs.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/applianceCredentialKubeconfig'
          x-ms-identifiers: []
        sshKeys:
          description: Map of Customer User Public and Private SSH Keys
          type: object
          readOnly: true
          additionalProperties:
            $ref: '#/components/schemas/SSHKey'
    UpgradeGraph:
      description: The Upgrade Graph for appliance.
      type: object
      properties:
        id:
          description: The appliance resource path
          type: string
          readOnly: true
        name:
          description: The release train name.
          type: string
          readOnly: true
        properties:
          $ref: '#/components/schemas/UpgradeGraphProperties'
          description: The properties of supported version
          type: object
    applianceCredentialKubeconfig:
      description: Cluster User Credential appliance.
      type: object
      properties:
        name:
          description: Name which contains the role of the kubeconfig.
          type: string
          readOnly: true
          enum:
          - clusterUser
          - clusterCustomerUser
          x-ms-enum:
            name: AccessProfileType
            modelAsString: true
        value:
          description: Contains the kubeconfig value.
          type: string
          readOnly: true
    SupportedVersionCatalogVersionData:
      description: The SupportedVersionCatalogVersionData object for appliance.
      type: object
      properties:
        audience:
          description: The image audience name for the version available for upgrade.
          type: string
          readOnly: true
        catalog:
          description: The image catalog name for the version available for upgrade.
          type: string
          readOnly: true
        offer:
          description: The image offer name for the version available for upgrade.
          type: string
          readOnly: true
        version:
          description: The image version for the version available for upgrade.
          type: string
          readOnly: true
    applianceProperties:
      description: Properties for an appliance.
      type: object
      properties:
        distro:
          description: Represents a supported Fabric/Infra. (AKSEdge etc...).
          type: string
          enum:
          - AKSEdge
          x-ms-enum:
            name: distro
            modelAsString: true
          default: AKSEdge
        infrastructureConfig:
          description: Contains infrastructure information about the Appliance
          type: object
          properties:
            provider:
              description: Information about the connected appliance.
              type: string
              enum:
              - VMWare
              - HCI
              - SCVMM
              - KubeVirt
              - OpenStack
              x-ms-enum:
                name: provider
                modelAsString: true
        provisioningState:
          description: The current deployment or provisioning state, which only appears in the response.
          type: string
          readOnly: true
        publicKey:
          description: Certificates pair used to download MSI certificate from HIS
          type: string
        status:
          description: Appliance’s health and state of connection to on-prem
          type: string
          readOnly: true
          enum:
          - WaitingForHeartbeat
          - Validating
          - Connecting
          - Connected
          - Running
          - PreparingForUpgrade
          - UpgradePrerequisitesCompleted
          - PreUpgrade
          - UpdatingCloudOperator
          - WaitingForCloudOperator
          - UpdatingCAPI
          - UpdatingCluster
          - PostUpgrade
          - UpgradeComplete
          - UpgradeClusterExtensionFailedToDelete
          - UpgradeFailed
          - Offline
          - None
          x-ms-enum:
            name: status
            modelAsString: true
        version:
          description: Version of the Appliance
          type: string
    applianceOperationValueDisplay:
      description: Describes the properties of an Appliances Operation Value Display.
      type: object
      properties:
        description:
          description: The description of the operation.
          type: string
          readOnly: true
        operation:
          description: The display name of the compute operation.
          type: string
          readOnly: true
        provider:
          description: The resource provider for the operation.
          type: string
          readOnly: true
        resource:
          description: The display name of the resource the operation applies to.
          type: string
          readOnly: true
    HybridConnectionConfig:
      description: Contains the REP (rendezvous endpoint) and “Listener” access token from notification service (NS).
      type: object
      properties:
        expirationTime:
          description: Timestamp when this token will be expired.
          type: integer
          readOnly: true
          format: int64
        hybridConnectionName:
          description: Name of the connection
          type: string
          readOnly: true
        relay:
          description: Name of the notification service.
          type: string
          readOnly: true
        token:
          description: Listener access token
          type: string
          readOnly: true
    Identity:
      description: Identity for the resource.
      type: object
      properties:
        principalId:
          description: The principal ID of resource identity.
          type: string
          readOnly: true
        tenantId:
          description: The tenant ID of resource.
          type: string
          readOnly: true
        type:
          description: The identity type.
          type: string
          enum:
          - SystemAssigned
          - None
          x-ms-enum:
            name: ResourceIdentityType
            modelAsString: true
    applianceOperation:
      description: Appliances operation.
      type: object
      properties:
        display:
          $ref: '#/components/schemas/applianceOperationValueDisplay'
          description: Describes the properties of an Appliances Operation Value Display.
          x-ms-client-flatten: true
        isDataAction:
          description: Is this Operation a data plane operation
          type: boolean
          readOnly: true
        name:
          description: The name of the compute operation.
          type: string
          readOnly: true
        origin:
          description: The origin of the compute operation.
          type: string
          readOnly: true
    SupportedVersion:
      description: The SupportedVersion object for appliance.
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/SupportedVersionMetadata'
          description: This is the metadata of the supported newer version.
          type: object
          readOnly: true
        version:
          description: The newer version available for upgrade.
          type: string
          readOnly: true
    ProvisioningState:
      description: Provisioning status of the appliance.
      readOnly: true
      enum:
      - Accepted
      - Running
      - Ready
      - Creating
      - Created
      - Deleting
      - Deleted
      - Canceled
      - Failed
      - Succeeded
      - Updating
      type: string
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    ApplianceListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Appliance'
          description: The array of appliances.
        nextLink:
          type: string
          description: The URL to use for getting the next set of results.
      description: List of appliances.
    GenericResource:
      properties:
        managedBy:
          type: string
          description: ID of the resource that manages this resource.
        sku:
          $ref: '#/components/schemas/Sku'
          description: The SKU of the resource.
        identity:
          $ref: '#/components/schemas/Identity_2'
          description: The identity of the resource.
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Resource information.
    Identity_2:
      properties:
        principalId:
          readOnly: true
          type: string
          description: The principal ID of resource identity.
        tenantId:
          readOnly: true
          type: string
          description: The tenant ID of resource.
        type:
          type: string
          description: The identity type.
          enum:
          - SystemAssigned
          x-ms-enum:
            name: ResourceIdentityType
            modelAsString: false
      description: Identity for the resource.
    Sku:
      properties:
        name:
          type: string
          description: The SKU name.
        tier:
          type: string
          description: The SKU tier.
        size:
          type: string
          description: The SKU size.
        family:
          type: string
          description: The SKU family.
        model:
          type: string
          description: The SKU model.
        capacity:
          type: integer
          format: int32
          description: The SKU capacity.
      required:
      - name
      description: SKU for the resource.
    Plan:
      properties:
        name:
          type: string
          description: The plan name.
        publisher:
          type: string
          description: The publisher ID.
        product:
          type: string
          description: The product code.
        promotionCode:
          type: string
          description: The promotion code.
        version:
          type: string
          description: The plan's version.
      required:
      - name
      - publisher
      - product
      - version
      description: Plan for the appliance.
    ApplianceProperties:
      properties:
        managedResourceGroupId:
          type: string
          description: The managed resource group Id.
        applianceDefinitionId:
          type: string
          description: The fully qualified path of appliance definition Id.
        parameters:
          type: object
          description: Name and value pairs that define the appliance parameters. It can be a JObject or a well formed JSON string.
        outputs:
          readOnly: true
          type: object
          description: Name and value pairs that define the appliance outputs.
        provisioningState:
          readOnly: true
          $ref: '#/components/schemas/ProvisioningState'
          description: The appliance provisioning state.
        uiDefinitionUri:
          type: string
          description: The blob URI where the UI definition file is located.
      required:
      - managedResourceGroupId
      description: The appliance properties.
    Resource:
      properties:
        id:
          readOnly: true
          type: string
          description: Resource ID
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        location:
          type: string
          description: Resource location
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
      description: Resource information.
      x-ms-azure-resource: true
    ErrorResponse:
      description: Error response indicates ARM appliance is not able to process the incoming request. The reason is provided in the error message.
      type: object
      properties:
        httpStatus:
          description: Http status code.
          type: string
        errorCode:
          description: Error code.
          type: string
        errorMessage:
          description: Error message indicating why the operation failed.
          type: string
    Appliance:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ApplianceProperties'
          description: The appliance properties.
        plan:
          $ref: '#/components/schemas/Plan'
          description: The plan information.
        kind:
          type: string
          description: The kind of the appliance. Allowed values are MarketPlace and ServiceCatalog.
          pattern: ^[-\w\._,\(\)]+$
      allOf:
      - $ref: '#/components/schemas/GenericResource'
      description: Information about appliance.
  parameters:
    ResourceNameParameter:
      name: resourceName
      in: path
      required: true
      x-ms-parameter-location: method
      description: Appliances name.
      schema:
        type: string
        maxLength: 63
        minLength: 1
        pattern: ^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- appliances-openapi-original.yml
- managedapplicationclient-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
