openapi: 3.2.0
info:
  version: '2017-06-01'
  title: Microsoft Azure StorSimple8000SeriesManagementClient…
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: HardwareComponentGroups
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/hardwareComponentGroups
  : get:
      tags:
      - HardwareComponentGroups
      description: Lists the hardware component groups at device-level.
      operationId: microsoftAzureHardwarecomponentgroupsListbydevice
      parameters:
      - $ref: '#/components/parameters/deviceNameParameter'
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully fetched hardware component groups.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HardwareComponentGroupList'
      deprecated: false
      x-ms-pageable:
        nextLinkName: null
      x-ms-examples:
        HardwareComponentGroupsListByDevice:
          $ref: ./examples/HardwareComponentGroupsListByDevice.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/hardwareComponentGroups/{hardwareComponentGroupName}/changeControllerPowerState
  : post:
      tags:
      - HardwareComponentGroups
      description: Changes the power state of the controller.
      operationId: microsoftAzureHardwarecomponentgroupsChangecontrollerpowerstate
      parameters:
      - $ref: '#/components/parameters/deviceNameParameter'
      - name: hardwareComponentGroupName
        in: path
        description: The hardware component group name.
        required: true
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to change power state of the controller.
        '204':
          description: Successfully changed the power state of the controller.
      deprecated: false
      x-ms-long-running-operation: true
      x-ms-examples:
        HardwareComponentGroupsChangeControllerPowerState:
          $ref: ./examples/HardwareComponentGroupsChangeControllerPowerState.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ControllerPowerStateChangeRequest'
        description: The controller power state change request.
        required: true
components:
  schemas:
    ControllerPowerStateChangeRequestProperties:
      description: The properties of the controller power state change request.
      required:
      - action
      - activeController
      - controller0State
      - controller1State
      type: object
      properties:
        action:
          description: The power state that the request is expecting for the controller of the device.
          enum:
          - Start
          - Restart
          - Shutdown
          type: string
          x-ms-enum:
            name: ControllerPowerStateAction
            modelAsString: false
        activeController:
          description: The active controller that the request is expecting on the device.
          enum:
          - Unknown
          - None
          - Controller0
          - Controller1
          type: string
          x-ms-enum:
            name: ControllerId
            modelAsString: false
        controller0State:
          description: The controller 0's status that the request is expecting on the device.
          enum:
          - NotPresent
          - PoweredOff
          - Ok
          - Recovering
          - Warning
          - Failure
          type: string
          x-ms-enum:
            name: ControllerStatus
            modelAsString: false
        controller1State:
          description: The controller 1's status that the request is expecting on the device.
          enum:
          - NotPresent
          - PoweredOff
          - Ok
          - Recovering
          - Warning
          - Failure
          type: string
          x-ms-enum:
            name: ControllerStatus
            modelAsString: false
    HardwareComponentGroup:
      description: The hardware component group.
      required:
      - properties
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseModel'
      properties:
        properties:
          $ref: '#/components/schemas/HardwareComponentGroupProperties'
          description: The properties of the hardware component group.
          x-ms-client-flatten: true
    BaseModel:
      description: Represents the base class for all other ARM object models
      type: object
      properties:
        id:
          description: The path ID that uniquely identifies the object.
          type: string
          readOnly: true
        name:
          description: The name of the object.
          type: string
          readOnly: true
        type:
          description: The hierarchical type of the object.
          type: string
          readOnly: true
        kind:
          description: The Kind of the object. Currently only Series8000 is supported
          enum:
          - Series8000
          type: string
          x-ms-enum:
            name: Kind
            modelAsString: false
    HardwareComponentGroupProperties:
      description: The properties of hardware component group.
      required:
      - displayName
      - lastUpdatedTime
      - components
      type: object
      properties:
        displayName:
          description: The display name the hardware component group.
          type: string
        lastUpdatedTime:
          format: date-time
          description: The last updated time.
          type: string
        components:
          description: The list of hardware components.
          type: array
          items:
            $ref: '#/components/schemas/HardwareComponent'
          x-ms-identifiers:
          - componentId
    ControllerPowerStateChangeRequest:
      description: The controller power state change request.
      required:
      - properties
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseModel'
      properties:
        properties:
          $ref: '#/components/schemas/ControllerPowerStateChangeRequestProperties'
          description: The properties of the controller power state change request.
          x-ms-client-flatten: true
    HardwareComponent:
      description: The hardware component.
      required:
      - componentId
      - displayName
      - status
      - statusDisplayName
      type: object
      properties:
        componentId:
          description: The component ID.
          type: string
        displayName:
          description: The display name of the hardware component.
          type: string
        status:
          description: The status of the hardware component.
          enum:
          - Unknown
          - NotPresent
          - PoweredOff
          - Ok
          - Recovering
          - Warning
          - Failure
          type: string
          x-ms-enum:
            name: HardwareComponentStatus
            modelAsString: false
        statusDisplayName:
          description: The display name of the status of hardware component.
          type: string
    HardwareComponentGroupList:
      description: The collection of hardware component groups.
      required:
      - value
      type: object
      properties:
        value:
          description: The value.
          type: array
          items:
            $ref: '#/components/schemas/HardwareComponentGroup'
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription id
      required: true
      x-ms-skip-url-encoding: true
      schema:
        type: string
    deviceNameParameter:
      name: deviceName
      in: path
      description: The device name
      required: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The resource group name
      required: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
    managerNameParameter:
      name: managerName
      in: path
      description: The manager name
      required: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
        maxLength: 50
        minLength: 2
    apiVersionParameter:
      name: api-version
      in: query
      description: The api version
      required: true
      x-ms-skip-url-encoding: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
