openapi: 3.2.0
info:
  version: '2023-01-01'
  title: Microsoft Azure Azure Migrate V2 Events Controller API
  description: Migrate your workloads to Azure.
  contact:
    name: Microsoft
    email: azuremigratehub@microsoft.com
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Events Controller
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/migrateEvents
  : get:
      tags:
      - Events Controller
      summary: Microsoft Azure Gets A List Of Events In The Migrate Project
      operationId: microsoftAzureEventscontrollerListevents
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/migrateProjectName'
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/continuationToken'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventCollection'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      deprecated: false
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        EventsController_ListEvents_MaximumSet_Gen:
          $ref: ./examples/EventsController_ListEvents_MaximumSet_Gen.json
        EventsController_ListEvents_MinimumSet_Gen:
          $ref: ./examples/EventsController_ListEvents_MinimumSet_Gen.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/migrateEvents/{eventName}
  : get:
      tags:
      - Events Controller
      summary: Microsoft Azure Gets An Event In The Migrate Project
      operationId: microsoftAzureEventscontrollerGetevent
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/migrateProjectName'
      - $ref: '#/components/parameters/eventName'
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrateEvent'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      deprecated: false
      x-ms-examples:
        EventsController_GetEvent_MaximumSet_Gen:
          $ref: ./examples/EventsController_GetEvent_MaximumSet_Gen.json
        EventsController_GetEvent_MinimumSet_Gen:
          $ref: ./examples/EventsController_GetEvent_MinimumSet_Gen.json
      description: Needs a more full description created.
    delete:
      tags:
      - Events Controller
      summary: Microsoft Azure Delete The Migrate Event
      description: Delete the migrate event. Deleting non-existent migrate event is a no-operation.
      operationId: microsoftAzureEventscontrollerDelete
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/migrateProjectName'
      - $ref: '#/components/parameters/eventName'
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Resource deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
        '204':
          description: Resource deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      deprecated: false
      x-ms-examples:
        EventsController_Delete_MaximumSet_Gen:
          $ref: ./examples/EventsController_Delete_MaximumSet_Gen.json
        EventsController_Delete_MinimumSet_Gen:
          $ref: ./examples/EventsController_Delete_MinimumSet_Gen.json
components:
  schemas:
    EventCollection:
      description: Collection of events.
      type: object
      properties:
        value:
          description: Gets or sets the machines.
          type: array
          items:
            $ref: '#/components/schemas/MigrateEvent'
        nextLink:
          description: Gets or sets the value of nextLink.
          type: string
    MigrateEventProperties:
      description: Properties of the error resource.
      type: object
      properties:
        instanceType:
          description: Gets the Instance type.
          type: string
          required:
          - value
          readOnly: true
        errorCode:
          description: Gets or sets the error code.
          type: string
        errorMessage:
          description: Gets or sets the error message.
          type: string
        recommendation:
          description: Gets or sets the recommendation for the error.
          type: string
        possibleCauses:
          description: Gets or sets the possible causes for the error.
          type: string
        solution:
          description: Gets or sets the solution for which the error is being reported.
          type: string
        clientRequestId:
          description: Gets or sets the client request Id of the payload for which the event is being reported.
          type: string
    MigrateEvent:
      description: MigrateEvent REST resource.
      type: object
      properties:
        id:
          description: Gets or sets the relative URL to get to this REST resource.
          type: string
        name:
          description: Gets or sets the name of this REST resource.
          type: string
        type:
          description: Gets the type of this REST resource.
          type: string
          readOnly: true
        properties:
          $ref: '#/components/schemas/MigrateEventProperties'
          description: Gets or sets the properties of the event.
    Object:
      description: Defines generic object.
      type: object
      properties: {}
  parameters:
    migrateProjectName:
      name: migrateProjectName
      description: Name of the Azure Migrate project.
      in: path
      x-ms-parameter-location: method
      required: true
      schema:
        type: string
        pattern: ^[a-zA-Z0-9-]{3,24}$
    eventName:
      name: eventName
      description: Unique name of an event within a migrate project.
      in: path
      x-ms-parameter-location: method
      required: true
      schema:
        type: string
        pattern: ^[a-zA-Z0-9-]{3,24}$
    continuationToken:
      name: continuationToken
      description: The continuation token.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
