openapi: 3.2.0
info:
  title: Microsoft Azure ContainerServiceFleetClient Fleet Update…
  version: 2024-02-02-preview
  description: Azure Kubernetes Fleet Manager api client.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: FleetUpdateStrategies
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/fleets/{fleetName}/updateStrategies
  : get:
      operationId: microsoftAzureFleetupdatestrategiesListbyfleet
      tags:
      - FleetUpdateStrategies
      description: List FleetUpdateStrategy resources by Fleet
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: fleetName
        in: path
        description: The name of the Fleet resource.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 1
          pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FleetUpdateStrategyListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        List the FleetUpdateStrategy resources by fleet.:
          $ref: ./examples/UpdateStrategies_ListByFleet.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/fleets/{fleetName}/updateStrategies/{updateStrategyName}
  : get:
      operationId: microsoftAzureFleetupdatestrategiesGet
      tags:
      - FleetUpdateStrategies
      description: Get a FleetUpdateStrategy
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: fleetName
        in: path
        description: The name of the Fleet resource.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 1
          pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
      - name: updateStrategyName
        in: path
        description: The name of the UpdateStrategy resource.
        required: true
        schema:
          type: string
          maxLength: 50
          minLength: 1
          pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FleetUpdateStrategy'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Get a FleetUpdateStrategy resource.:
          $ref: ./examples/UpdateStrategies_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      operationId: microsoftAzureFleetupdatestrategiesCreateorupdate
      tags:
      - FleetUpdateStrategies
      description: Create a FleetUpdateStrategy
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: If-Match
        in: header
        description: The request should only proceed if an entity matches this string.
        required: false
        x-ms-client-name: ifMatch
        schema:
          type: string
      - name: If-None-Match
        in: header
        description: The request should only proceed if no entity matches this string.
        required: false
        x-ms-client-name: ifNoneMatch
        schema:
          type: string
      - name: fleetName
        in: path
        description: The name of the Fleet resource.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 1
          pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
      - name: updateStrategyName
        in: path
        description: The name of the UpdateStrategy resource.
        required: true
        schema:
          type: string
          maxLength: 50
          minLength: 1
          pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
      responses:
        '200':
          description: Resource 'FleetUpdateStrategy' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FleetUpdateStrategy'
        '201':
          description: Resource 'FleetUpdateStrategy' create operation succeeded
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FleetUpdateStrategy'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Create a FleetUpdateStrategy.:
          $ref: ./examples/UpdateStrategies_CreateOrUpdate.json
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FleetUpdateStrategy'
        description: Resource create parameters.
        required: true
    delete:
      operationId: microsoftAzureFleetupdatestrategiesDelete
      tags:
      - FleetUpdateStrategies
      description: Delete a FleetUpdateStrategy
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: If-Match
        in: header
        description: The request should only proceed if an entity matches this string.
        required: false
        x-ms-client-name: ifMatch
        schema:
          type: string
      - name: fleetName
        in: path
        description: The name of the Fleet resource.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 1
          pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
      - name: updateStrategyName
        in: path
        description: The name of the UpdateStrategy resource.
        required: true
        schema:
          type: string
          maxLength: 50
          minLength: 1
          pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
      responses:
        '200':
          description: Resource deleted successfully.
        '202':
          description: The request has been accepted for processing, but processing has not yet completed.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Delete a FleetUpdateStrategy resource.:
          $ref: ./examples/UpdateStrategies_Delete.json
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    UpdateGroup:
      type: object
      description: A group to be updated.
      properties:
        name:
          type: string
          description: 'Name of the group.

            It must match a group name of an existing fleet member. '
          minLength: 1
          maxLength: 50
          pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
      required:
      - name
    FleetUpdateStrategyListResult:
      type: object
      description: The response of a FleetUpdateStrategy list operation.
      properties:
        value:
          type: array
          description: The FleetUpdateStrategy items on this page
          items:
            $ref: '#/components/schemas/FleetUpdateStrategy'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    FleetUpdateStrategy:
      type: object
      description: Defines a multi-stage process to perform update operations across members of a Fleet.
      properties:
        properties:
          $ref: '#/components/schemas/FleetUpdateStrategyProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
        eTag:
          type: string
          description: If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.
          readOnly: true
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
    UpdateStage:
      type: object
      description: Defines a stage which contains the groups to update and the steps to take (e.g., wait for a time period) before starting the next stage.
      properties:
        name:
          type: string
          description: The name of the stage. Must be unique within the UpdateRun.
          minLength: 1
          maxLength: 50
          pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
        groups:
          type: array
          description: 'Defines the groups to be executed in parallel in this stage. Duplicate groups are not allowed. Min size: 1.'
          items:
            $ref: '#/components/schemas/UpdateGroup'
          x-ms-identifiers:
          - name
        afterStageWaitInSeconds:
          type: integer
          format: int32
          description: The time in seconds to wait at the end of this stage before starting the next one. Defaults to 0 seconds if unspecified.
      required:
      - name
    FleetUpdateStrategyProvisioningState:
      type: string
      description: The provisioning state of the UpdateStrategy resource.
      enum:
      - Succeeded
      - Failed
      - Canceled
      x-ms-enum:
        name: FleetUpdateStrategyProvisioningState
        modelAsString: true
        values:
        - name: Succeeded
          value: Succeeded
          description: Resource has been created.
        - name: Failed
          value: Failed
          description: Resource creation failed.
        - name: Canceled
          value: Canceled
          description: Resource creation was canceled.
      readOnly: true
    FleetUpdateStrategyProperties:
      type: object
      description: The properties of the UpdateStrategy.
      properties:
        provisioningState:
          $ref: '#/components/schemas/FleetUpdateStrategyProvisioningState'
          description: The provisioning state of the UpdateStrategy resource.
          readOnly: true
        strategy:
          $ref: '#/components/schemas/UpdateRunStrategy'
          description: Defines the update sequence of the clusters.
          x-ms-mutability:
          - read
          - update
          - create
      required:
      - strategy
    UpdateRunStrategy:
      type: object
      description: 'Defines the update sequence of the clusters via stages and groups.


        Stages within a run are executed sequentially one after another.

        Groups within a stage are executed in parallel.

        Member clusters within a group are updated sequentially one after another.


        A valid strategy contains no duplicate groups within or across stages.'
      properties:
        stages:
          type: array
          description: 'The list of stages that compose this update run. Min size: 1.'
          items:
            $ref: '#/components/schemas/UpdateStage'
          x-ms-identifiers:
          - name
      required:
      - stages
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
