openapi: 3.2.0
info:
  version: 2023-11-01-preview
  title: Microsoft Azure Desktop Virtualization API Client Scaling…
servers:
- url: https://management.azure.com
tags:
- name: ScalingPlanPersonalSchedule
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/scalingPlans/{scalingPlanName}/personalSchedules/{scalingPlanScheduleName}
  : get:
      tags:
      - ScalingPlanPersonalSchedule
      operationId: microsoftAzureScalingplanpersonalschedulesGet
      description: Get a ScalingPlanPersonalSchedule.
      x-ms-examples:
        ScalingPlanPersonalSchedules_Get:
          $ref: ./examples/ScalingPlanPersonalSchedule_Get.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ScalingPlanNameParameter'
      - $ref: '#/components/parameters/ScalingPlanScheduleNameParameter'
      responses:
        '200':
          description: Successfully retrieved ScalingPlanPersonalSchedule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScalingPlanPersonalSchedule'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - ScalingPlanPersonalSchedule
      operationId: microsoftAzureScalingplanpersonalschedulesCreate
      description: Create or update a ScalingPlanPersonalSchedule.
      x-ms-examples:
        ScalingPlanPersonalSchedules_Create:
          $ref: ./examples/ScalingPlanPersonalSchedule_Create.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ScalingPlanNameParameter'
      - $ref: '#/components/parameters/ScalingPlanScheduleNameParameter'
      responses:
        '200':
          description: Successfully updated ScalingPlanPersonalSchedule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScalingPlanPersonalSchedule'
        '201':
          description: Successfully created ScalingPlanPersonalSchedule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScalingPlanPersonalSchedule'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScalingPlanPersonalSchedule'
        description: Object containing ScalingPlanPersonalSchedule definitions.
        required: true
    delete:
      tags:
      - ScalingPlanPersonalSchedule
      operationId: microsoftAzureScalingplanpersonalschedulesDelete
      description: Remove a ScalingPlanPersonalSchedule.
      x-ms-examples:
        ScalingPlanPersonalSchedules_Delete:
          $ref: ./examples/ScalingPlanPersonalSchedule_Delete.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ScalingPlanNameParameter'
      - $ref: '#/components/parameters/ScalingPlanScheduleNameParameter'
      responses:
        '200':
          description: Successfully removed ScalingPlanPersonalSchedule.
        '204':
          description: ScalingPlanPersonalSchedule does not exist.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    patch:
      tags:
      - ScalingPlanPersonalSchedule
      operationId: microsoftAzureScalingplanpersonalschedulesUpdate
      description: Update a ScalingPlanPersonalSchedule.
      x-ms-examples:
        ScalingPlanPersonalSchedules_Update:
          $ref: ./examples/ScalingPlanPersonalSchedule_Update.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ScalingPlanNameParameter'
      - $ref: '#/components/parameters/ScalingPlanScheduleNameParameter'
      responses:
        '200':
          description: Successfully updated ScalingPlanPersonalSchedule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScalingPlanPersonalSchedule'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScalingPlanPersonalSchedulePatch'
        description: Object containing ScalingPlanPersonalSchedule definitions.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/scalingPlans/{scalingPlanName}/personalSchedules
  : get:
      tags:
      - ScalingPlanPersonalSchedule
      operationId: microsoftAzureScalingplanpersonalschedulesList
      description: List ScalingPlanPersonalSchedules.
      x-ms-examples:
        ScalingPlanPersonalSchedules_List:
          $ref: ./examples/ScalingPlanPersonalSchedule_List.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ScalingPlanNameParameter'
      - name: pageSize
        in: query
        required: false
        description: Number of items per page.
        schema:
          type: integer
          format: int32
      - name: isDescending
        in: query
        required: false
        description: Indicates whether the collection is descending.
        schema:
          type: boolean
      - name: initialSkip
        in: query
        required: false
        description: Initial number of items to skip.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved ScalingPlanPersonalSchedules.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScalingPlanPersonalScheduleList'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    CloudError:
      description: Cloud error object.
      type: object
      x-ms-external: true
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorProperties'
    ScalingPlanPersonalScheduleProperties:
      description: A ScalingPlanPersonalSchedule.
      type: object
      properties:
        daysOfWeek:
          type: array
          description: Set of days of the week on which this schedule is active.
          items:
            enum:
            - Monday
            - Tuesday
            - Wednesday
            - Thursday
            - Friday
            - Saturday
            - Sunday
            type: string
            x-ms-enum:
              name: DayOfWeek
              modelAsString: true
        rampUpStartTime:
          $ref: '#/components/schemas/Time'
          description: Starting time for ramp up period.
        rampUpAutoStartHosts:
          enum:
          - None
          - WithAssignedUser
          - All
          x-ms-enum:
            name: StartupBehavior
            modelAsString: true
            values:
            - value: None
              description: Session hosts will not be started by the service. This setting depends on Start VM on Connect to be enabled to start the session hosts.
            - value: WithAssignedUser
              description: Session hosts with an assigned user will be started during Ramp Up
            - value: All
              description: All personal session hosts in the hostpool will be started during ramp up.
          type: string
          description: The desired startup behavior during the ramp up period for personal vms in the hostpool.
        rampUpStartVMOnConnect:
          enum:
          - Enable
          - Disable
          x-ms-enum:
            name: SetStartVMOnConnect
            modelAsString: true
          default: Enable
          type: string
          description: The desired configuration of Start VM On Connect for the hostpool during the ramp up phase. If this is disabled, session hosts must be turned on using rampUpAutoStartHosts or by turning them on manually.
        rampUpActionOnDisconnect:
          enum:
          - None
          - Deallocate
          x-ms-enum:
            name: SessionHandlingOperation
            modelAsString: true
          type: string
          description: Action to be taken after a user disconnect during the ramp up period.
        rampUpMinutesToWaitOnDisconnect:
          type: integer
          format: int32
          minimum: 0
          description: The time in minutes to wait before performing the desired session handling action when a user disconnects during the ramp up period.
        rampUpActionOnLogoff:
          enum:
          - None
          - Deallocate
          x-ms-enum:
            name: SessionHandlingOperation
            modelAsString: true
          type: string
          description: Action to be taken after a logoff during the ramp up period.
        rampUpMinutesToWaitOnLogoff:
          type: integer
          format: int32
          minimum: 0
          description: The time in minutes to wait before performing the desired session handling action when a user logs off during the ramp up period.
        peakStartTime:
          $ref: '#/components/schemas/Time'
          description: Starting time for peak period.
        peakStartVMOnConnect:
          enum:
          - Enable
          - Disable
          x-ms-enum:
            name: SetStartVMOnConnect
            modelAsString: true
          default: Enable
          type: string
          description: The desired configuration of Start VM On Connect for the hostpool during the peak phase.
        peakActionOnDisconnect:
          enum:
          - None
          - Deallocate
          x-ms-enum:
            name: SessionHandlingOperation
            modelAsString: true
          type: string
          description: Action to be taken after a user disconnect during the peak period.
        peakMinutesToWaitOnDisconnect:
          type: integer
          format: int32
          minimum: 0
          description: The time in minutes to wait before performing the desired session handling action when a user disconnects during the peak period.
        peakActionOnLogoff:
          enum:
          - None
          - Deallocate
          x-ms-enum:
            name: SessionHandlingOperation
            modelAsString: true
          type: string
          description: Action to be taken after a logoff during the peak period.
        peakMinutesToWaitOnLogoff:
          type: integer
          format: int32
          minimum: 0
          description: The time in minutes to wait before performing the desired session handling action when a user logs off during the peak period.
        rampDownStartTime:
          $ref: '#/components/schemas/Time'
          description: Starting time for ramp down period.
        rampDownStartVMOnConnect:
          enum:
          - Enable
          - Disable
          x-ms-enum:
            name: SetStartVMOnConnect
            modelAsString: true
          default: Enable
          type: string
          description: The desired configuration of Start VM On Connect for the hostpool during the ramp down phase.
        rampDownActionOnDisconnect:
          enum:
          - None
          - Deallocate
          x-ms-enum:
            name: SessionHandlingOperation
            modelAsString: true
          type: string
          description: Action to be taken after a user disconnect during the ramp down period.
        rampDownMinutesToWaitOnDisconnect:
          type: integer
          format: int32
          minimum: 0
          description: The time in minutes to wait before performing the desired session handling action when a user disconnects during the ramp down period.
        rampDownActionOnLogoff:
          enum:
          - None
          - Deallocate
          - Hibernate
          x-ms-enum:
            name: SessionHandlingOperation
            modelAsString: true
          type: string
          description: Action to be taken after a logoff during the ramp down period.
        rampDownMinutesToWaitOnLogoff:
          type: integer
          format: int32
          minimum: 0
          description: The time in minutes to wait before performing the desired session handling action when a user logs off during the ramp down period.
        offPeakStartTime:
          $ref: '#/components/schemas/Time'
          description: Starting time for off-peak period.
        offPeakStartVMOnConnect:
          enum:
          - Enable
          - Disable
          x-ms-enum:
            name: SetStartVMOnConnect
            modelAsString: true
          default: Enable
          type: string
          description: The desired configuration of Start VM On Connect for the hostpool during the off-peak phase.
        offPeakActionOnDisconnect:
          enum:
          - None
          - Deallocate
          - Hibernate
          x-ms-enum:
            name: SessionHandlingOperation
            modelAsString: true
          type: string
          description: Action to be taken after a user disconnect during the off-peak period.
        offPeakMinutesToWaitOnDisconnect:
          type: integer
          format: int32
          minimum: 0
          description: The time in minutes to wait before performing the desired session handling action when a user disconnects during the off-peak period.
        offPeakActionOnLogoff:
          enum:
          - None
          - Deallocate
          - Hibernate
          x-ms-enum:
            name: SessionHandlingOperation
            modelAsString: true
          type: string
          description: Action to be taken after a logoff during the off-peak period.
        offPeakMinutesToWaitOnLogoff:
          type: integer
          format: int32
          minimum: 0
          description: The time in minutes to wait before performing the desired session handling action when a user logs off during the off-peak period.
    Time:
      description: The time for a scaling action to occur.
      required:
      - hour
      - minute
      type: object
      properties:
        hour:
          format: int32
          description: The hour.
          maximum: 23
          minimum: 0
          type: integer
        minute:
          format: int32
          description: The minute.
          maximum: 59
          minimum: 0
          type: integer
    ScalingPlanPersonalScheduleList:
      type: object
      title: ScalingPlanPersonalScheduleList
      description: List of ScalingPlanPersonalSchedule definitions.
      properties:
        value:
          type: array
          description: List of ScalingPlanPersonalSchedule definitions.
          items:
            $ref: '#/components/schemas/ScalingPlanPersonalSchedule'
        nextLink:
          type: string
          readOnly: true
          description: Link to the next page of results.
    ScalingPlanPersonalSchedulePatch:
      type: object
      description: ScalingPlanPersonalSchedule properties that can be patched.
      properties:
        properties:
          description: Detailed properties for ScalingPlanPersonalSchedule
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ScalingPlanPersonalScheduleProperties'
    CloudErrorProperties:
      description: Cloud error object properties.
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
    ScalingPlanPersonalSchedule:
      type: object
      description: Represents a ScalingPlanPersonalSchedule definition.
      required:
      - properties
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource
      properties:
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: Metadata pertaining to creation and last modification of the resource.
        properties:
          description: Detailed properties for ScalingPlanPersonalSchedule
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ScalingPlanPersonalScheduleProperties'
  parameters:
    ScalingPlanNameParameter:
      name: scalingPlanName
      in: path
      required: true
      description: The name of the scaling plan.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 3
    ScalingPlanScheduleNameParameter:
      name: scalingPlanScheduleName
      in: path
      required: true
      description: The name of the ScalingPlanSchedule
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
