openapi: 3.2.0
info:
  version: 2021-04-30-preview
  title: Microsoft Azure Automanage Configuration Profile HCI…
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ConfigurationProfileHCIAssignments
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHci/clusters/{clusterName}/providers/Microsoft.Automanage/configurationProfileAssignments/{configurationProfileAssignmentName}
  : put:
      tags:
      - ConfigurationProfileHCIAssignments
      operationId: microsoftAzureConfigurationprofilehciassignmentsCreateorupdate
      description: Creates an association between a AzureStackHCI cluster and Automanage configuration profile
      x-ms-examples:
        Create or update a HCI configuration profile assignment:
          $ref: ./examples/createOrUpdateConfigurationProfileHCIAssignment.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ClusterNameParameter'
      - name: configurationProfileAssignmentName
        in: path
        required: true
        description: Name of the configuration profile assignment. Only default is supported.
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK. The configuration profile assignment for the AzureStackHCI cluster was updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationProfileAssignment'
        '201':
          description: Created. The Automanage configuration profile assignment for the AzureStackHCI cluster was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationProfileAssignment'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: false
      summary: Put Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationProfileAssignment'
        description: Parameters supplied to the create or update configuration profile assignment.
        required: true
    get:
      tags:
      - ConfigurationProfileHCIAssignments
      operationId: microsoftAzureConfigurationprofilehciassignmentsGet
      description: Get information about a configuration profile assignment
      x-ms-examples:
        Get a HCI configuration profile assignment:
          $ref: ./examples/getConfigurationProfileHCIAssignment.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ClusterNameParameter'
      - name: configurationProfileAssignmentName
        in: path
        required: true
        description: The configuration profile assignment name.
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK. The configuration profile assignment was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationProfileAssignment'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      summary: Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers…
    delete:
      tags:
      - ConfigurationProfileHCIAssignments
      operationId: microsoftAzureConfigurationprofilehciassignmentsDelete
      description: Delete a configuration profile assignment
      x-ms-examples:
        Delete a HCI configuration profile assignment:
          $ref: ./examples/deleteConfigurationProfileHCIAssignment.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ClusterNameParameter'
      - name: configurationProfileAssignmentName
        in: path
        required: true
        description: Name of the configuration profile assignment
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        '204':
          description: OK
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: false
      summary: Delete Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers…
components:
  schemas:
    ConfigurationProfileAssignmentProperties:
      description: Automanage configuration profile assignment properties.
      type: object
      properties:
        configurationProfile:
          type: string
          description: The Automanage configurationProfile ARM Resource URI.
        targetId:
          type: string
          description: The target VM resource URI
          readOnly: true
        status:
          type: string
          readOnly: true
          description: The status of onboarding, which only appears in the response.
        profileOverrides:
          $ref: '#/components/schemas/ConfigurationProfileAssignmentProfileOverrides'
          description: The profileOverrides setting for the configuration profile assignment.
    ConfigurationProfileAssignmentProfileOverrides:
      description: Data related to configuration profile assignment profile overrides.
      type: object
      additionalProperties:
        type: object
    ConfigurationProfileAssignment:
      description: Configuration profile assignment is an association between a VM and automanage profile configuration.
      type: object
      properties:
        properties:
          x-ms-client-flatten: false
          $ref: '#/components/schemas/ConfigurationProfileAssignmentProperties'
          description: Properties of the configuration profile assignment.
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          readOnly: true
          description: Azure Resource Manager metadata containing createdBy and modifiedBy information.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource
  parameters:
    ClusterNameParameter:
      name: clusterName
      in: path
      required: true
      description: The name of the Arc machine.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
