openapi: 3.2.0
info:
  title: Microsoft Azure Notification API
  version: '1.0'
  description: 'Operations tagged Notification across 2 of this provider''s published API definitions: apimanagementclient-openapi-original.yml, microsoft-marketplace-blueprint-api-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
tags:
- name: Notification
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/notifications
  : get:
      tags:
      - Notification
      operationId: microsoftAzureWorkspacenotificationListbyservice
      description: Lists a collection of properties defined within a service instance.
      x-ms-examples:
        ApiManagementListWorkspaceNotifications:
          $ref: ./examples/ApiManagementListWorkspaceNotifications.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ./apimanagement.json#/parameters/TopQueryParameter
      - $ref: ./apimanagement.json#/parameters/SkipQueryParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: A Collection of the Notification for the specified workspace in a API Management service instance.
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/NotificationCollection
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/notifications/{notificationName}
  : get:
      tags:
      - Notification
      operationId: microsoftAzureWorkspacenotificationGet
      description: Gets the details of the Notification specified by its identifier.
      x-ms-examples:
        ApiManagementGetWorkspaceNotification:
          $ref: ./examples/ApiManagementGetWorkspaceNotification.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ./apimanagement.json#/parameters/NotificationNameParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The response body contains the specified Notification.
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/NotificationContract
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    put:
      tags:
      - Notification
      operationId: microsoftAzureWorkspacenotificationCreateorupdate
      description: Create or Update API Management publisher notification for the workspace.
      x-ms-examples:
        ApiManagementCreateWorkspaceNotification:
          $ref: ./examples/ApiManagementCreateWorkspaceNotification.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ./apimanagement.json#/parameters/NotificationNameParameter
      - $ref: ./apimanagement.json#/parameters/IfMatchOptionalParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Notification was successfully updated.
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/NotificationContract
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscription}/providers/Microsoft.MarketplaceNotifications/reviewsNotifications:
    get:
      tags:
      - Notification
      operationId: microsoftAzureNotificationsList
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      - $ref: '#/components/parameters/PrincipalId'
      - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationList'
        default:
          description: Microsoft.MarketplaceNotifications error response describing why the operation has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        GetReviewsNotifications:
          $ref: ./examples/GetReviewsNotifications.json
      summary: Microsoft Azure Get Subscriptions Subscription Providers Microsoft…
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscription}/providers/Microsoft.MarketplaceNotifications/reviewsNotification/{notification}:
    get:
      tags:
      - Notification
      operationId: microsoftAzureNotificationGet
      parameters:
      - $ref: '#/components/parameters/SubscriptionId'
      - $ref: '#/components/parameters/NotificationId'
      - $ref: '#/components/parameters/PrincipalId'
      - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
        default:
          description: Microsoft.MarketplaceNotifications error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        GetReviewsNotifications:
          $ref: ./examples/GetReviewsNotification.json
      summary: Microsoft Azure Get Subscriptions Subscription Providers Microsoft…
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
components:
  parameters:
    NotificationId:
      description: the notification id
      name: notification
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    PrincipalId:
      description: user's principal id
      name: principalId
      in: query
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionId:
      description: user's subscription id
      name: subscription
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersion:
      name: api-version
      in: query
      required: true
      description: The API version to use for the request.
      x-ms-parameter-location: method
      schema:
        type: string
  schemas:
    Resource:
      description: An Azure resource.
      properties:
        id:
          description: The resource ID.
          type: string
          readOnly: true
        name:
          description: The name of the resource.
          type: string
          readOnly: true
        type:
          description: The type of the resource.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    OfferProperties:
      type: object
      properties:
        offerId:
          description: legacy offer id of the notification (publisher.offer)
          type: string
          readOnly: true
        createdDate:
          description: date for creating the notification
          format: date-time
          type: string
          readOnly: true
        offerDisplayName:
          description: offer display name
          type: string
          readOnly: true
        principalId:
          description: user's principal id
          type: string
          readOnly: true
    Notification:
      description: Review notification
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          readOnly: true
        properties:
          $ref: '#/components/schemas/OfferProperties'
          description: The offer data structure.
          x-ms-client-flatten: true
    NotificationList:
      description: Notifications List
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Notification'
        nextLink:
          description: 'URL client should use to fetch the next page (per server side paging).

            It''s null for now, added for future use.'
          type: string
    ErrorResponse:
      description: Error response indicates Microsoft.MarketplaceNotifications service is not able to process the incoming request. The reason is provided in the error message.
      type: object
      properties:
        error:
          description: The details of the error.
          properties:
            code:
              description: Error code.
              type: string
              readOnly: true
            message:
              description: Error message indicating why the operation failed.
              type: string
              readOnly: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-refined-from:
- apimanagementclient-openapi-original.yml
- microsoft-marketplace-blueprint-api-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
