openapi: 3.2.0
info:
  title: Microsoft Azure Azure Machine Learning Services Workspace…
  description: These APIs allow end users to operate on Azure Machine Learning Workspace resources.
  version: 2024-01-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: WorkspacePrivateLinkResources
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/privateLinkResources
  : get:
      tags:
      - WorkspacePrivateLinkResources
      summary: Microsoft Azure Called By Client Portal, Cli, Etc To Get Available "private…
      operationId: microsoftAzurePrivatelinkresourcesList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResourceListResult'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        WorkspaceListPrivateLinkResources:
          $ref: ./examples/PrivateLinkResource/list.json
      x-ms-pageable:
        nextLinkName: null
      description: Needs a more full description created.
components:
  schemas:
    PrivateLinkResourceListResult:
      description: A list of private link resources
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/PrivateLinkResource'
    PrivateLinkResourceProperties:
      description: Properties of a private link resource.
      type: object
      properties:
        groupId:
          description: The private link resource group id.
          type: string
        requiredMembers:
          description: The private link resource required member names.
          type: array
          items:
            type: string
        requiredZoneNames:
          description: The private link resource Private link DNS zone name.
          type: array
          items:
            type: string
    PrivateLinkResource:
      description: A private link resource
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/Resource
      properties:
        identity:
          $ref: ../../../../../common-types/resource-management/v3/managedidentity.json#/definitions/ManagedServiceIdentity
        location:
          description: Same as workspace location.
          type: string
        properties:
          description: Properties of a private link resource.
          $ref: '#/components/schemas/PrivateLinkResourceProperties'
          x-ms-client-flatten: true
        sku:
          description: Optional. This field is required to be implemented by the RP because AML is supporting more than one tier
          $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/Sku
        tags:
          type: object
          additionalProperties:
            type: string
  parameters:
    WorkspaceNameParameter:
      in: path
      name: workspaceName
      description: Azure Machine Learning Workspace Name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]{2,32}$
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
