openapi: 3.2.0
info:
  version: 2022-12-01-preview
  title: Microsoft Azure DataBoxEdgeManagementClient Diagnostic…
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Diagnostic Settings
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/diagnosticProactiveLogCollectionSettings/default
  : get:
      tags:
      - Diagnostic Settings
      description: Gets the proactive log collection settings of the specified Data Box Edge/Data Box Gateway device.
      operationId: microsoftAzureDiagnosticsettingsGetdiagnosticproactivelogcollectionsettings
      parameters:
      - name: deviceName
        in: path
        description: The device name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The diagnostic proactive log collection settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticProactiveLogCollectionSettings'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        GetDiagnosticProactiveLogCollectionSettings:
          $ref: ./examples/GetDiagnosticProactiveLogCollectionSettings.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Diagnostic Settings
      description: Updates the proactive log collection settings on a Data Box Edge/Data Box Gateway device.
      operationId: microsoftAzureDiagnosticsettingsUpdatediagnosticproactivelogcollectionsettings
      parameters:
      - name: deviceName
        in: path
        description: The device name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully updated the proactive log collection settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticProactiveLogCollectionSettings'
        '202':
          description: Accepted the request to update the proactive log collection settings.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-long-running-operation: true
      x-ms-examples:
        UpdateDiagnosticProactiveLogCollectionSettings:
          $ref: ./examples/UpdateDiagnosticProactiveLogCollectionSettings.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiagnosticProactiveLogCollectionSettings'
        description: The proactive log collection settings.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/diagnosticRemoteSupportSettings/default
  : get:
      tags:
      - Diagnostic Settings
      description: Gets the diagnostic remote support settings of the specified Data Box Edge/Data Box Gateway device.
      operationId: microsoftAzureDiagnosticsettingsGetdiagnosticremotesupportsettings
      parameters:
      - name: deviceName
        in: path
        description: The device name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The diagnostic remote support settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticRemoteSupportSettings'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        GetDiagnosticRemoteSupportSettings:
          $ref: ./examples/GetDiagnosticRemoteSupportSettings.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Diagnostic Settings
      description: Updates the diagnostic remote support settings on a Data Box Edge/Data Box Gateway device.
      operationId: microsoftAzureDiagnosticsettingsUpdatediagnosticremotesupportsettings
      parameters:
      - name: deviceName
        in: path
        description: The device name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully updated the diagnostic remote support settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticRemoteSupportSettings'
        '202':
          description: Accepted the request to update the diagnostic remote support settings.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-long-running-operation: true
      x-ms-examples:
        UpdateDiagnosticRemoteSupportSettings:
          $ref: ./examples/UpdateDiagnosticRemoteSupportSettings.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiagnosticRemoteSupportSettings'
        description: The diagnostic remote support settings.
        required: true
components:
  schemas:
    CloudError:
      description: An error response from the service.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: The error details.
      x-ms-external: true
    DiagnosticRemoteSupportSettingsProperties:
      description: The properties of remote support settings.
      type: object
      properties:
        remoteSupportSettingsList:
          description: Remote support settings list according to the RemoteApplicationType
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/RemoteSupportSettings'
          x-ms-identifiers:
          - remoteApplicationType
    ARMBaseModel:
      description: Represents the base class for all object models.
      type: object
      properties:
        id:
          description: The path ID that uniquely identifies the object.
          type: string
          readOnly: true
        name:
          description: The object name.
          type: string
          readOnly: true
        type:
          description: The hierarchical type of the object.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    CloudErrorBody:
      description: An error response from the service.
      type: object
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
          type: string
        message:
          description: A message describing the error, intended to be suitable for display in a user interface.
          type: string
        details:
          description: A list of additional details about the error.
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          x-ms-identifiers: []
      x-ms-external: true
    RemoteSupportSettings:
      description: RemoteApplicationType for which remote support settings is being modified
      type: object
      properties:
        remoteApplicationType:
          description: Remote application type
          enum:
          - Powershell
          - WAC
          - LocalUI
          - AllApplications
          type: string
          x-ms-enum:
            name: RemoteApplicationType
            modelAsString: true
        accessLevel:
          description: Access level allowed for this remote application type
          enum:
          - None
          - ReadOnly
          - ReadWrite
          - FullAccess
          type: string
          x-ms-enum:
            name: AccessLevel
            modelAsString: true
        expirationTimeStampInUTC:
          format: date-time
          description: Expiration time stamp
          type: string
    ProactiveLogCollectionSettingsProperties:
      description: The properties of proactive log collection settings.
      required:
      - userConsent
      type: object
      properties:
        userConsent:
          description: Proactive diagnostic collection consent flag
          enum:
          - Enabled
          - Disabled
          type: string
          x-ms-enum:
            name: ProactiveDiagnosticsConsent
            modelAsString: true
    DiagnosticRemoteSupportSettings:
      description: The remote support settings of a device.
      required:
      - properties
      type: object
      allOf:
      - $ref: '#/components/schemas/ARMBaseModel'
      properties:
        properties:
          $ref: '#/components/schemas/DiagnosticRemoteSupportSettingsProperties'
          description: Properties of the remote support  settings.
          x-ms-client-flatten: true
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: Represents resource creation and updation time
          readOnly: true
    DiagnosticProactiveLogCollectionSettings:
      description: The diagnostic proactive log collection settings of a device.
      required:
      - properties
      type: object
      allOf:
      - $ref: '#/components/schemas/ARMBaseModel'
      properties:
        properties:
          $ref: '#/components/schemas/ProactiveLogCollectionSettingsProperties'
          description: Properties of the diagnostic proactive log collection settings.
          x-ms-client-flatten: true
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: Metadata pertaining to creation and last modification of DiagnosticProactiveLogCollectionSettings
          readOnly: true
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID.
      required: true
      schema:
        type: string
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The resource group name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      description: The API version.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
