openapi: 3.2.0
info:
  version: '2019-01-01'
  title: Microsoft Azure DeploymentAdminClient Product Secrets API
  description: Deployment Admin Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ProductSecrets
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productPackages/{packageId}/secrets:
    get:
      x-ms-examples:
        Return product secrets list.:
          $ref: ./examples/ProductSecret/List.json
      description: Returns an array of product secrets.
      tags:
      - ProductSecrets
      operationId: microsoftAzureProductsecretsList
      parameters:
      - $ref: Deployment.json#/parameters/SubscriptionIdParameter
      - $ref: Deployment.json#/parameters/ApiVersionParameter
      - $ref: Deployment.json#/parameters/PackageIdParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductSecretsList'
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                $ref: Deployment.json#/definitions/ExtendedErrorInfo
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Deployment…
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productPackages/{packageId}/secrets/{secretName}
  : get:
      x-ms-examples:
        Return product secrets list.:
          $ref: ./examples/ProductSecret/Get.Json
      description: Returns the specific product secret.
      tags:
      - ProductSecrets
      operationId: microsoftAzureProductsecretsGet
      parameters:
      - $ref: Deployment.json#/parameters/SubscriptionIdParameter
      - $ref: Deployment.json#/parameters/ApiVersionParameter
      - $ref: Deployment.json#/parameters/PackageIdParameter
      - $ref: '#/components/parameters/SecretNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductSecret'
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                $ref: Deployment.json#/definitions/ExtendedErrorInfo
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Deployment…
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productPackages/{packageId}/secrets/{secretName}/import
  : post:
      x-ms-examples:
        Imports a product secret.:
          $ref: ./examples/ProductSecret/Import.json
      description: Imports a product secret.
      tags:
      - ProductSecrets
      operationId: microsoftAzureProductsecretsSet
      parameters:
      - $ref: Deployment.json#/parameters/SubscriptionIdParameter
      - $ref: Deployment.json#/parameters/PackageIdParameter
      - $ref: '#/components/parameters/SecretNameParameter'
      - $ref: Deployment.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/SecretParameters'
      responses:
        '200':
          description: Accepted
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                $ref: Deployment.json#/definitions/ExtendedErrorInfo
      x-ms-long-running-operation: true
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft…
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productPackages/{packageId}/secrets/{secretName}/validate
  : post:
      x-ms-examples:
        Validates a product secret.:
          $ref: ./examples/ProductSecret/Validate.json
      description: Validates a product secret.
      tags:
      - ProductSecrets
      operationId: microsoftAzureProductsecretsValidate
      parameters:
      - $ref: Deployment.json#/parameters/SubscriptionIdParameter
      - $ref: Deployment.json#/parameters/PackageIdParameter
      - $ref: '#/components/parameters/SecretNameParameter'
      - $ref: Deployment.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/SecretParameters'
      responses:
        '200':
          description: Accepted
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                $ref: Deployment.json#/definitions/ExtendedErrorInfo
      x-ms-long-running-operation: true
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft…
components:
  schemas:
    SecretState:
      description: Represents the secret state.
      type: object
      properties:
        status:
          description: The secret status.
          $ref: '#/components/schemas/SecretStatus'
        rotationStatus:
          description: the secret rotation status.
          $ref: '#/components/schemas/SecretRotationStatus'
        expirationDate:
          description: The secret expiration date.
          type: string
          format: date-time
    AlternativeIpAddresses:
      description: List of alternative IP Addresses.
      type: string
    SecretStatus:
      description: Specifies the secret status.
      type: string
      enum:
      - NotUploaded
      - Uploaded
      - Deployed
      x-ms-enum:
        modelAsString: true
        name: SecretStatus
    ProductSecretProperties:
      type: object
      description: Properties of product secret.
      properties:
        secretState:
          description: The secret state.
          $ref: '#/components/schemas/SecretState'
        secretDescriptor:
          description: The secret type-specific descriptor.
          $ref: '#/components/schemas/SecretDescriptor'
        expiresAfter:
          description: The expiration period of the secret (in ISO8601 format).
          type: string
        description:
          description: The secret description.
          type: string
        provisioningState:
          description: Provisioning state of the resource.
          type: string
        secretKind:
          description: Specifies the secret kind.
          type: string
          enum:
          - AdHoc
          - Certificate
          - Password
          - StorageAccount
          - SymmetricKey
          x-ms-enum:
            modelAsString: true
            name: SecretKind
    data:
      description: The converted Base64 String from a certificate pfx file.
      type: string
    SecretDescriptor:
      description: The secret type-specific descriptor.
      type: object
      properties:
        keyLength:
          description: The key length.
          type: integer
        alternativeDnsNames:
          description: Alternative DNS Names.
          type: array
          items:
            $ref: '#/components/schemas/AlternativeDnsNames'
        secondaryKeyIsActive:
          description: A value indicating whether the secondary or primary storage account key is active as a secret.
          type: boolean
        rotationStatus:
          description: The storage account key secret rotation status.
          type: string
          enum:
          - None
          - PlantNewSak
          - RotateInactiveSak
          - Complete
          x-ms-enum:
            modelAsString: true
            name: RotationStatus
        passwordLength:
          description: The minimum password length is 8 characters, and the maximum password length is 128 characters.
          type: integer
        allowedCharacters:
          description: The allowed characters in the password
          type: string
        passwordValidationRegex:
          description: Password validation regular expression.
          type: string
        subject:
          description: Certificate's subject
          type: string
        alternativeIpAddresses:
          description: The list of alternative IP addresses.
          type: array
          items:
            $ref: '#/components/schemas/AlternativeIpAddresses'
    ProductSecret:
      description: Properties for a product secret.
      type: object
      properties:
        properties:
          description: Properties of a product secret.
          $ref: '#/components/schemas/ProductSecretProperties'
          x-ms-client-flatten: true
      allOf:
      - $ref: Deployment.json#/definitions/Resource
    password:
      description: The password as a secure string.
      type: string
    key:
      description: The symmetric key as a secure string.
      type: string
    SecretParameters:
      description: Parameters required for creating/updating a product secret.
      type: object
      properties:
        value:
          description: The secret value in a secure string format.
          $ref: '#/components/schemas/value'
        data:
          description: The pfx certificate converted Base64 data.
          $ref: '#/components/schemas/data'
        password:
          description: The pfx certificate file password.
          $ref: '#/components/schemas/password'
        key:
          description: The symmetric key.
          $ref: '#/components/schemas/key'
    SecretRotationStatus:
      description: Specifies the secret rotation status.
      type: string
      enum:
      - None
      - InProgress
      - Complete
      x-ms-enum:
        modelAsString: true
        name: SecretRotationStatus
    ProductSecretsList:
      description: List of product secrets.
      properties:
        value:
          description: List of product secrets.
          type: array
          items:
            $ref: '#/components/schemas/ProductSecret'
        nextLink:
          description: URI to the next page.
          type: string
    value:
      description: The secret value in a secure string format.
      type: string
    AlternativeDnsNames:
      description: List of alternative DNS names.
      type: string
  parameters:
    SecretNameParameter:
      description: The secret name.
      name: secretName
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SecretParameters:
      description: The parameters required for creating/updating a product secret.
      name: secretParameters
      in: body
      required: true
      schema:
        $ref: '#/components/schemas/SecretParameters'
      x-ms-parameter-location: method
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Authorization uses an Azure Active Directory OAuth2 flow.
