openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft.IntegrationSpaces Application…
  version: 2023-11-14-preview
  description: The azure integration spaces resource provider.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Application Resources
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IntegrationSpaces/spaces/{spaceName}/applications/{applicationName}/resources
  : get:
      operationId: microsoftAzureApplicationresourcesListbyapplication
      tags:
      - Application Resources
      description: List ApplicationResource resources by Application
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/Azure.Core.TopQueryParameter'
      - $ref: '#/components/parameters/Azure.Core.SkipQueryParameter'
      - $ref: '#/components/parameters/Azure.Core.MaxPageSizeQueryParameter'
      - $ref: '#/components/parameters/Azure.Core.FilterQueryParameter'
      - $ref: '#/components/parameters/Azure.Core.SelectQueryParameter'
      - $ref: '#/components/parameters/Azure.Core.ExpandQueryParameter'
      - $ref: '#/components/parameters/Azure.Core.OrderByQueryParameter'
      - name: spaceName
        in: path
        description: The name of the space
        required: true
        schema:
          type: string
          pattern: '[a-zA-Z0-9_.()-]{0,79}$'
      - name: applicationName
        in: path
        description: The name of the Application
        required: true
        schema:
          type: string
          pattern: '[a-zA-Z0-9_.()-]{0,79}$'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResourceListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        ListApplicationResourceByApplication:
          $ref: ./examples/ApplicationResources_ListByApplication.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IntegrationSpaces/spaces/{spaceName}/applications/{applicationName}/resources/{resourceName}
  : get:
      operationId: microsoftAzureApplicationresourcesGet
      tags:
      - Application Resources
      description: Get a ApplicationResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: spaceName
        in: path
        description: The name of the space
        required: true
        schema:
          type: string
          pattern: '[a-zA-Z0-9_.()-]{0,79}$'
      - name: applicationName
        in: path
        description: The name of the Application
        required: true
        schema:
          type: string
          pattern: '[a-zA-Z0-9_.()-]{0,79}$'
      - name: resourceName
        in: path
        description: The name of the application resource.
        required: true
        schema:
          type: string
          pattern: '[a-zA-Z0-9_.()-]{0,79}$'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        GetApplicationResource:
          $ref: ./examples/ApplicationResources_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      operationId: microsoftAzureApplicationresourcesCreateorupdate
      tags:
      - Application Resources
      description: Create a ApplicationResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: spaceName
        in: path
        description: The name of the space
        required: true
        schema:
          type: string
          pattern: '[a-zA-Z0-9_.()-]{0,79}$'
      - name: applicationName
        in: path
        description: The name of the Application
        required: true
        schema:
          type: string
          pattern: '[a-zA-Z0-9_.()-]{0,79}$'
      - name: resourceName
        in: path
        description: The name of the application resource.
        required: true
        schema:
          type: string
          pattern: '[a-zA-Z0-9_.()-]{0,79}$'
      responses:
        '200':
          description: Resource 'ApplicationResource' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResource'
        '201':
          description: Resource 'ApplicationResource' create operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        CreateOrUpdateApplicationResource:
          $ref: ./examples/ApplicationResources_CreateOrUpdate.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationResource'
        description: Resource create parameters.
        required: true
    patch:
      operationId: microsoftAzureApplicationresourcesPatch
      tags:
      - Application Resources
      description: Update a ApplicationResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: spaceName
        in: path
        description: The name of the space
        required: true
        schema:
          type: string
          pattern: '[a-zA-Z0-9_.()-]{0,79}$'
      - name: applicationName
        in: path
        description: The name of the Application
        required: true
        schema:
          type: string
          pattern: '[a-zA-Z0-9_.()-]{0,79}$'
      - name: resourceName
        in: path
        description: The name of the application resource.
        required: true
        schema:
          type: string
          pattern: '[a-zA-Z0-9_.()-]{0,79}$'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        PatchApplicationResource:
          $ref: ./examples/ApplicationResources_Patch.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationResourceUpdate'
        description: The resource properties to be updated.
        required: true
    delete:
      operationId: microsoftAzureApplicationresourcesDelete
      tags:
      - Application Resources
      description: Delete a ApplicationResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: spaceName
        in: path
        description: The name of the space
        required: true
        schema:
          type: string
          pattern: '[a-zA-Z0-9_.()-]{0,79}$'
      - name: applicationName
        in: path
        description: The name of the Application
        required: true
        schema:
          type: string
          pattern: '[a-zA-Z0-9_.()-]{0,79}$'
      - name: resourceName
        in: path
        description: The name of the application resource.
        required: true
        schema:
          type: string
          pattern: '[a-zA-Z0-9_.()-]{0,79}$'
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource deleted successfully.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        DeleteApplicationResource:
          $ref: ./examples/ApplicationResources_Delete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    ApplicationResourceProperties:
      type: object
      description: The properties of application resource.
      properties:
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The status of the last operation.
          readOnly: true
        resourceType:
          type: string
          description: The type of the application resource.
        resourceId:
          type: string
          description: The Arm id of the application resource.
        resourceKind:
          type: string
          description: The kind of the application resource.
      required:
      - resourceType
      - resourceId
    ProvisioningState:
      type: string
      description: The status of the current operation.
      enum:
      - Succeeded
      - Failed
      - Canceled
      - Provisioning
      - Updating
      - Deleting
      - Accepted
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: Succeeded
          value: Succeeded
          description: Resource has been created.
        - name: Failed
          value: Failed
          description: Resource creation failed.
        - name: Canceled
          value: Canceled
          description: Resource creation was canceled.
        - name: Provisioning
          value: Provisioning
        - name: Updating
          value: Updating
        - name: Deleting
          value: Deleting
        - name: Accepted
          value: Accepted
    ApplicationResourceUpdateProperties:
      type: object
      description: The updatable properties of the ApplicationResource.
      properties:
        resourceType:
          type: string
          description: The type of the application resource.
        resourceId:
          type: string
          description: The Arm id of the application resource.
        resourceKind:
          type: string
          description: The kind of the application resource.
    ApplicationResource:
      type: object
      description: A resource under application.
      properties:
        properties:
          $ref: '#/components/schemas/ApplicationResourceProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
    ApplicationResourceListResult:
      type: object
      description: The response of a ApplicationResource list operation.
      properties:
        value:
          type: array
          description: The ApplicationResource items on this page
          items:
            $ref: '#/components/schemas/ApplicationResource'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    ApplicationResourceUpdate:
      type: object
      description: The type used for update operations of the ApplicationResource.
      properties:
        properties:
          $ref: '#/components/schemas/ApplicationResourceUpdateProperties'
          x-ms-client-flatten: true
  parameters:
    Azure.Core.SelectQueryParameter:
      name: select
      in: query
      description: Select the specified fields to be included in the response.
      required: false
      x-ms-parameter-location: method
      style: form
      explode: true
      schema:
        type: array
        items:
          type: string
    Azure.Core.TopQueryParameter:
      name: top
      in: query
      description: The number of result items to return.
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
    Azure.Core.ExpandQueryParameter:
      name: expand
      in: query
      description: Expand the indicated resources into the response.
      required: false
      x-ms-parameter-location: method
      style: form
      explode: true
      schema:
        type: array
        items:
          type: string
    Azure.Core.OrderByQueryParameter:
      name: orderby
      in: query
      description: Expressions that specify the order of returned results.
      required: false
      x-ms-parameter-location: method
      style: form
      explode: true
      schema:
        type: array
        items:
          type: string
    Azure.Core.SkipQueryParameter:
      name: skip
      in: query
      description: The number of result items to skip.
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        default: 0
    Azure.Core.MaxPageSizeQueryParameter:
      name: maxpagesize
      in: query
      description: The maximum number of result items per page.
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
    Azure.Core.FilterQueryParameter:
      name: filter
      in: query
      description: Filter the result list using the given expression.
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
