openapi: 3.2.0
info:
  version: 2022-09-30-preview
  title: Microsoft Azure RecoveryServicesBackupClient Data Move API
  x-ms-code-generation-settings:
    internalConstructors: false
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: DataMove
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupstorageconfig/vaultstorageconfig/operationStatus/{operationId}
  : get:
      tags:
      - DataMove
      description: Fetches operation status for data move operation on vault
      operationId: microsoftAzureGetoperationstatus
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/VaultName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: operationId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewErrorResponse'
      x-ms-examples:
        Get OperationStatus:
          $ref: ./examples/BackupDataMove/BackupDataMoveOperationStatus_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupstorageconfig/vaultstorageconfig/prepareDataMove
  : post:
      tags:
      - DataMove
      description: Prepares source vault for Data Move operation
      operationId: microsoftAzureBmspreparedatamove
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/VaultName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewErrorResponse'
      x-ms-long-running-operation: true
      x-ms-examples:
        Prepare Data Move:
          $ref: ./examples/BackupDataMove/PrepareDataMove_Post.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepareDataMoveRequest'
        description: Prepare data move request
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupstorageconfig/vaultstorageconfig/triggerDataMove
  : post:
      tags:
      - DataMove
      description: Triggers Data Move Operation on target vault
      operationId: microsoftAzureBmstriggerdatamove
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/VaultName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewErrorResponse'
      x-ms-long-running-operation: true
      x-ms-examples:
        Trigger Data Move:
          $ref: ./examples/BackupDataMove/TriggerDataMove_Post.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TriggerDataMoveRequest'
        description: Trigger data move request
        required: true
components:
  schemas:
    PrepareDataMoveRequest:
      description: Prepare DataMove Request
      required:
      - targetResourceId
      - targetRegion
      - dataMoveLevel
      type: object
      properties:
        targetResourceId:
          description: ARM Id of target vault
          type: string
        targetRegion:
          description: Target Region
          type: string
        dataMoveLevel:
          description: DataMove Level
          enum:
          - Invalid
          - Vault
          - Container
          type: string
          x-ms-enum:
            name: DataMoveLevel
            modelAsString: true
        sourceContainerArmIds:
          description: 'Source Container ArmIds

            This needs to be populated only if DataMoveLevel is set to container'
          type: array
          items:
            type: string
        ignoreMoved:
          description: Ignore the artifacts which are already moved.
          type: boolean
    OperationStatus:
      description: Operation status.
      type: object
      properties:
        id:
          description: ID of the operation.
          type: string
        name:
          description: Name of the operation.
          type: string
        status:
          description: Operation status.
          enum:
          - Invalid
          - InProgress
          - Succeeded
          - Failed
          - Canceled
          type: string
          x-ms-enum:
            name: OperationStatusValues
            modelAsString: true
        startTime:
          format: date-time
          description: 'Operation start time. Format: ISO-8601.'
          type: string
        endTime:
          format: date-time
          description: 'Operation end time. Format: ISO-8601.'
          type: string
        error:
          $ref: '#/components/schemas/OperationStatusError'
          description: Error information related to this operation.
        properties:
          $ref: '#/components/schemas/OperationStatusExtendedInfo'
          description: Additional information associated with this operation.
    NewErrorResponse:
      properties:
        error:
          type: object
          description: The error object.
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                $ref: '#/components/schemas/NewErrorResponse'
              x-ms-identifiers:
              - /error/code
              description: The error details.
            additionalInfo:
              readOnly: true
              type: array
              items:
                $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorAdditionalInfo
              x-ms-identifiers: []
              description: The error additional info.
      description: The resource management error response.
    OperationStatusExtendedInfo:
      description: Base class for additional information of operation status.
      required:
      - objectType
      type: object
      properties:
        objectType:
          description: This property will be used as the discriminator for deciding the specific types in the polymorphic chain of types.
          type: string
      discriminator:
        propertyName: objectType
    OperationStatusError:
      description: Error information associated with operation status call.
      type: object
      properties:
        code:
          description: Error code of the operation failure.
          type: string
        message:
          description: Error message displayed if the operation failure.
          type: string
    TriggerDataMoveRequest:
      description: Trigger DataMove Request
      required:
      - sourceResourceId
      - sourceRegion
      - dataMoveLevel
      - correlationId
      type: object
      properties:
        sourceResourceId:
          description: ARM Id of source vault
          type: string
        sourceRegion:
          description: Source Region
          type: string
        dataMoveLevel:
          description: DataMove Level
          enum:
          - Invalid
          - Vault
          - Container
          type: string
          x-ms-enum:
            name: DataMoveLevel
            modelAsString: true
        correlationId:
          description: Correlation Id
          type: string
        sourceContainerArmIds:
          description: Source Container ArmIds
          type: array
          items:
            type: string
        pauseGC:
          description: Pause GC
          type: boolean
  parameters:
    ResourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group where the recovery services vault is present.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionId:
      name: subscriptionId
      in: path
      description: The subscription Id.
      required: true
      schema:
        type: string
    ApiVersion:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
    VaultName:
      name: vaultName
      in: path
      description: The name of the recovery services vault.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account.
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
