openapi: 3.2.0
info:
  title: Microsoft Azure Mixed Reality Key API
  description: Mixed Reality Resource Provider Remote Rendering Resource API test small change
  version: 2020-04-06-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Key
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/remoteRenderingAccounts/{accountName}/listKeys
  : post:
      operationId: microsoftAzureRemoterenderingaccountsListkeys
      tags:
      - Key
      description: List Both of the 2 Keys of a Remote Rendering Account
      x-ms-examples:
        List remote rendering account key:
          $ref: ./examples/remote-rendering/ListKeys.json
      parameters:
      - $ref: ./common.json#/parameters/subscriptionIdParameter
      - $ref: ./common.json#/parameters/resourceGroupNameParameter
      - $ref: ./common.json#/parameters/accountNameParameter
      - $ref: ./common.json#/parameters/apiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/AccountKeys
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/CloudError
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/remoteRenderingAccounts/{accountName}/regenerateKeys
  : post:
      operationId: microsoftAzureRemoterenderingaccountsRegeneratekeys
      tags:
      - Key
      description: Regenerate specified Key of a Remote Rendering Account
      x-ms-examples:
        Regenerate remote rendering account keys:
          $ref: ./examples/remote-rendering/RegenerateKey.json
      parameters:
      - $ref: ./common.json#/parameters/subscriptionIdParameter
      - $ref: ./common.json#/parameters/resourceGroupNameParameter
      - $ref: ./common.json#/parameters/accountNameParameter
      - $ref: ./common.json#/parameters/accountKeyRegenerateParameter
      - $ref: ./common.json#/parameters/apiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/AccountKeys
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/CloudError
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: Impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
