openapi: 3.2.0
info:
  version: 2021-11-20-preview
  title: Microsoft Azure ElasticSanManagement Elastic San API
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ElasticSan
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ElasticSan/elasticSans:
    get:
      tags:
      - ElasticSan
      operationId: microsoftAzureElasticsansListbyresourcegroup
      description: Gets a list of ElasticSan in a resource group.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK -- Operation completed successfully; retrieved elasticSans by resource group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElasticSanList'
        default:
          description: Error from the ElasticSan Resource Provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ElasticSans_ListByResourceGroup_MaximumSet_Gen:
          $ref: ./examples/ElasticSans_ListByResourceGroup_MaximumSet_Gen.json
        ElasticSans_ListByResourceGroup_MinimumSet_Gen:
          $ref: ./examples/ElasticSans_ListByResourceGroup_MinimumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    AvailabilityZone:
      type: string
      description: Availability zone.
    ElasticSanProperties:
      type: object
      description: Elastic San response properties.
      required:
      - baseSizeTiB
      - extendedCapacitySizeTiB
      - sku
      properties:
        sku:
          description: resource sku
          $ref: '#/components/schemas/Sku'
        availabilityZones:
          type: array
          description: 'Logical zone for Elastic San resource; example: ["1"].'
          items:
            $ref: '#/components/schemas/AvailabilityZone'
        provisioningState:
          description: State of the operation on the resource.
          $ref: '#/components/schemas/ProvisioningState'
          readOnly: true
        baseSizeTiB:
          description: Base size of the Elastic San appliance in TiB.
          type: integer
          format: int64
          x-ms-mutability:
          - read
          - create
        extendedCapacitySizeTiB:
          description: Extended size of the Elastic San appliance in TiB.
          type: integer
          format: int64
          x-ms-mutability:
          - read
          - create
        totalVolumeSizeGiB:
          description: Total size of the provisioned Volumes in GiB.
          type: integer
          format: int64
          readOnly: true
        volumeGroupCount:
          description: Total number of volume groups in this Elastic San appliance.
          type: integer
          format: int64
          readOnly: true
        totalIops:
          description: Total Provisioned IOPS of the Elastic San appliance.
          type: integer
          format: int64
          readOnly: true
        totalMBps:
          description: Total Provisioned MBps Elastic San appliance.
          type: integer
          format: int64
          readOnly: true
        totalSizeTiB:
          description: Total size of the Elastic San appliance in TB.
          type: integer
          format: int64
          readOnly: true
    ProvisioningState:
      type: string
      enum:
      - Invalid
      - Succeeded
      - Failed
      - Canceled
      - Pending
      - Creating
      - Updating
      - Deleting
      x-ms-enum:
        name: ProvisioningStates
        modelAsString: true
      description: Provisioning state of the iSCSI Target.
      readOnly: true
    ErrorResponse:
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponse'
          x-ms-identifiers: []
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          x-ms-identifiers: []
          description: The error additional info.
      description: The resource management error response.
    ErrorAdditionalInfo:
      description: The resource management error additional info.
      type: object
      x-ms-identifiers: []
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
    ElasticSan:
      type: object
      description: Response for ElasticSan request.
      required:
      - properties
      properties:
        properties:
          x-ms-client-flatten: true
          description: Properties of ElasticSan.
          $ref: '#/components/schemas/ElasticSanProperties'
        systemData:
          description: Resource metadata required by ARM RPC
          readOnly: true
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
      allOf:
      - $ref: '#/components/schemas/TrackedResource'
    Error:
      type: object
      description: The resource management error response.
      properties:
        error:
          description: RP error response.
          $ref: '#/components/schemas/ErrorResponse'
    SkuName:
      type: string
      enum:
      - Premium_LRS
      - Premium_ZRS
      x-ms-enum:
        name: SkuName
        modelAsString: true
        values:
        - value: Premium_LRS
          description: Premium locally redundant storage
        - value: Premium_ZRS
          description: Premium zone redundant storage
      description: The sku name.
    ElasticSanList:
      type: object
      required:
      - value
      description: List of Elastic Sans
      additionalProperties: false
      properties:
        value:
          description: An array of Elastic San objects.
          type: array
          items:
            $ref: '#/components/schemas/ElasticSan'
        nextLink:
          description: URI to fetch the next section of the paginated response.
          type: string
          readOnly: true
    Resource:
      type: object
      properties:
        id:
          type: string
          description: Azure resource identifier.
          readOnly: true
        name:
          type: string
          description: Azure resource name.
          readOnly: true
        type:
          type: string
          description: Azure resource type.
          readOnly: true
        tags:
          type: object
          description: Azure resource tags.
          additionalProperties:
            type: string
      description: The resource model definition.
      x-ms-azure-resource: true
    TrackedResource:
      description: The resource model definition for a ARM tracked top level resource.
      type: object
      properties:
        location:
          type: string
          x-ms-mutability:
          - read
          - create
          description: The geo-location where the resource lives.
      allOf:
      - $ref: '#/components/schemas/Resource'
    SkuTier:
      type: string
      enum:
      - Premium
      x-ms-enum:
        name: SkuTier
        modelAsString: true
        values:
        - value: Premium
          description: Premium Tier
      description: The sku tier.
    Sku:
      type: object
      required:
      - name
      properties:
        name:
          $ref: '#/components/schemas/SkuName'
        tier:
          $ref: '#/components/schemas/SkuTier'
      description: The SKU name. Required for account creation; optional for update.
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
        pattern: ^[-\w\._]*[0-9A-Za-z]$
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
