openapi: 3.2.0
info:
  title: Microsoft Azure NetworkManagerActiveConfiguration Network…
  description: The Microsoft Azure Network Manager Active Configuration API provides a RESTful set of web services that interact with Microsoft Azure Network Manager service to list all active configuration by network manager.
  version: 2022-02-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: NetworkManagerActiveConnectivityConfigurations
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/listActiveConnectivityConfigurations
  : parameters:
    - $ref: ./network.json#/parameters/ApiVersionParameter
    - $ref: ./network.json#/parameters/SubscriptionIdParameter
    - $ref: '#/components/parameters/ResourceGroupNameParameter'
    - $ref: '#/components/parameters/NetworkManagerNameParameter'
    post:
      tags:
      - NetworkManagerActiveConnectivityConfigurations
      operationId: microsoftAzureListactiveconnectivityconfigurations
      description: Lists active connectivity configurations in a network manager.
      responses:
        '200':
          description: Post successful. The operation returns the specified Managed Network active connectivity configuration resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveConnectivityConfigurationsListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        List Active Connectivity Configurations:
          $ref: ./examples/NetworkManagerActiveConnectivityConfigurationsList.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActiveConfigurationParameter'
        description: Active Configuration Parameter.
        required: true
components:
  schemas:
    ActiveConnectivityConfiguration:
      type: object
      properties:
        commitTime:
          type: string
          description: Deployment time string.
          format: date-time
        region:
          type: string
          description: Deployment region.
      allOf:
      - $ref: ./networkManagerEffectiveConfiguration.json#/definitions/EffectiveConnectivityConfiguration
      description: Active connectivity configuration.
    ActiveConfigurationParameter:
      type: object
      properties:
        regions:
          type: array
          items:
            type: string
            description: region Name.
          description: List of regions.
        skipToken:
          description: When present, the value can be passed to a subsequent query call (together with the same query and scopes used in the current request) to retrieve the next page of data.
          type: string
      description: Effective Virtual Networks Parameter.
    ActiveConnectivityConfigurationsListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ActiveConnectivityConfiguration'
          description: Gets a page of active connectivity configurations.
        skipToken:
          description: When present, the value can be passed to a subsequent query call (together with the same query and scopes used in the current request) to retrieve the next page of data.
          type: string
      description: Result of the request to list active connectivity configurations. It contains a list of active connectivity configurations and a skiptoken to get the next set of results.
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
    NetworkManagerNameParameter:
      name: networkManagerName
      in: path
      required: true
      description: The name of the network manager.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
