openapi: 3.2.0
info:
  title: Microsoft Azure SharedImageGalleryServiceClient Gallery…
  description: Shared Image Gallery Service Client.
  version: '2020-09-30'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: GallerySharingUpdate
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/share
  : post:
      tags:
      - GallerySharingUpdate
      operationId: microsoftAzureGallerysharingprofileUpdate
      description: Update sharing profile of a gallery.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - name: galleryName
        in: path
        required: true
        description: The name of the Shared Image Gallery.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharingUpdate'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharingUpdate'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-long-running-operation: true
      x-ms-examples:
        Add sharing id to the sharing profile of a gallery.:
          $ref: ./examples/AddToSharingProfileInAGallery.json
        reset sharing profile of a gallery.:
          $ref: ./examples/ResetSharingProfileInAGallery.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SharingUpdate'
        description: Parameters supplied to the update gallery sharing profile.
        required: true
components:
  schemas:
    CloudError:
      x-ms-external: true
      properties:
        error:
          $ref: '#/components/schemas/ApiError'
      description: An error response from the Compute service.
    ApiError:
      properties:
        details:
          type: array
          items:
            $ref: '#/components/schemas/ApiErrorBase'
          description: The Api error details
        innererror:
          $ref: '#/components/schemas/InnerError'
          description: The Api inner error
        code:
          type: string
          description: The error code.
        target:
          type: string
          description: The target of the particular error.
        message:
          type: string
          description: The error message.
      description: Api error.
    SharingProfileGroup:
      description: Group of the gallery sharing profile
      properties:
        type:
          type: string
          description: 'This property allows you to specify the type of sharing group. <br><br> Possible values are: <br><br> **Subscriptions** <br><br> **AADTenants**'
          enum:
          - Subscriptions
          - AADTenants
          x-ms-enum:
            name: SharingProfileGroupTypes
            modelAsString: true
        ids:
          type: array
          items:
            type: string
          description: A list of subscription/tenant ids the gallery is aimed to be shared to.
    ApiErrorBase:
      properties:
        code:
          type: string
          description: The error code.
        target:
          type: string
          description: The target of the particular error.
        message:
          type: string
          description: The error message.
      description: Api error base.
    SharingUpdate:
      description: Specifies information about the gallery sharing profile update.
      properties:
        operationType:
          type: string
          description: 'This property allows you to specify the operation type of gallery sharing update. <br><br> Possible values are: <br><br> **Add** <br><br> **Remove** <br><br> **Reset**'
          enum:
          - Add
          - Remove
          - Reset
          x-ms-enum:
            name: SharingUpdateOperationTypes
            modelAsString: true
        groups:
          type: array
          items:
            $ref: '#/components/schemas/SharingProfileGroup'
          description: A list of sharing profile groups.
      required:
      - operationType
      x-ms-azure-resource: true
    InnerError:
      properties:
        exceptiontype:
          type: string
          description: The exception type.
        errordetail:
          type: string
          description: The internal error message or exception dump.
      description: Inner error details.
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The name of the resource group.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
