openapi: 3.2.0
info:
  version: 2024-02-01-preview
  title: Microsoft Azure DataProtectionBackupClient Get Operation…
  x-ms-code-generation-settings:
    internalConstructors: false
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: GetOperationResult
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.DataProtection/locations/{location}/operationResults/{operationId}:
    get:
      tags:
      - GetOperationResult
      description: Gets the operation result for a resource
      operationId: microsoftAzureOperationresultGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - name: operationId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Contains additional information like job Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationJobExtendedInfo'
        '202':
          description: Accepted
          headers:
            Location:
              description: The URL of the resource used to check the status of the asynchronous operation.
              schema:
                type: string
            Azure-AsyncOperation:
              description: The URL of the resource used to check the status of the asynchronous operation.
              schema:
                type: string
            Retry-After:
              description: Suggested delay to check the status of the asynchronous operation. The value is an integer that represents the seconds.
              schema:
                type: integer
                format: int32
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Gets The Operation Status For A Resource
      x-ms-examples:
        Get OperationResult:
          $ref: ./examples/GetOperationResult.json
components:
  schemas:
    CloudError:
      description: An error response from Azure Backup.
      properties:
        error:
          $ref: '#/components/schemas/Error'
      title: CloudError
      x-ms-external: true
    OperationJobExtendedInfo:
      allOf:
      - $ref: '#/components/schemas/OperationExtendedInfo'
      description: Operation Job Extended Info
      properties:
        jobId:
          description: Name or Arm Id of the job created for this operation.
          type: string
      title: OperationJobExtendedInfo
      type: object
      x-ms-discriminator-value: OperationJobExtendedInfo
    ErrorAdditionalInfo:
      description: The resource management error additional info.
      properties:
        info:
          description: The additional info.
          readOnly: true
          type: object
        type:
          description: The additional info type.
          readOnly: true
          type: string
    Error:
      description: The resource management error response.
      properties:
        additionalInfo:
          description: The error additional info.
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          x-ms-identifiers: []
          readOnly: true
          type: array
        code:
          description: The error code.
          readOnly: true
          type: string
        details:
          description: The error details.
          items:
            $ref: '#/components/schemas/Error'
          x-ms-identifiers: []
          readOnly: true
          type: array
        message:
          description: The error message.
          readOnly: true
          type: string
        target:
          description: The error target.
          readOnly: true
          type: string
    OperationExtendedInfo:
      description: Operation Extended Info
      properties:
        objectType:
          description: This property will be used as the discriminator for deciding the specific types in the polymorphic chain of types.
          type: string
      title: OperationExtendedInfo
      discriminator:
        propertyName: objectType
      type: object
      required:
      - objectType
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account.
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
