openapi: 3.2.0
info:
  version: 2022-11-01-preview
  title: Microsoft Azure SnapshotsClient List Snapshots API
  description: The Resource Snapshots Client
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ListSnapshots
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}/providers/Microsoft.Resources/snapshots
  : get:
      tags:
      - ListSnapshots
      operationId: microsoftAzureSnapshotsList
      x-ms-examples:
        ListSnapshots:
          $ref: ./examples/ListSnapshots.json
      description: Obtains a list of snapshots from the past 14 days for the target resource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceProviderNamespaceParameter'
      - $ref: '#/components/parameters/ResourceTypeParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skipToken'
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapshotListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  parameters:
    ResourceProviderNamespaceParameter:
      name: resourceProviderNamespace
      in: path
      required: true
      description: The name of the resource provider namespace.
      x-ms-parameter-location: method
      schema:
        type: string
    skipToken:
      required: false
      description: (Optional) The page-continuation token
      in: query
      name: $skipToken
      x-ms-parameter-location: method
      schema:
        type: string
    top:
      required: false
      description: (Optional) Set the maximum number of results per response.
      in: query
      name: $top
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int64
        default: 20
        maximum: 100
        minimum: 1
    ResourceNameParameter:
      name: resourceName
      in: path
      required: true
      description: The name of the resource.
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceTypeParameter:
      name: resourceType
      in: path
      required: true
      description: The name of the resource type.
      x-ms-parameter-location: method
      schema:
        type: string
  schemas:
    SnapshotProperties:
      description: The properties of a snapshot
      type: object
      properties:
        apiVersion:
          type: string
          description: The API Version of the resource captured
        content:
          description: The actual ARM Resource
          additionalProperties: {}
          type: object
    SnapshotListResult:
      description: The list of snapshots
      type: object
      properties:
        nextLink:
          type: string
          description: The link used to get the next page of Snapshots
        value:
          description: The list of snapshots
          type: array
          x-ms-identifiers:
          - id
          items:
            $ref: '#/components/schemas/Snapshot'
    Snapshot:
      type: object
      description: A generic resource snapshot with additional metadata
      allOf:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource
      properties:
        properties:
          $ref: '#/components/schemas/SnapshotProperties'
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
