openapi: 3.2.0
info:
  title: Microsoft Azure VirtualWANAsAServiceManagementClient…
  description: REST API for Azure VirtualWAN As a Service.
  version: '2023-11-01'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ExpressRouteConnections
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteGateways/{expressRouteGatewayName}/expressRouteConnections/{connectionName}
  : put:
      tags:
      - ExpressRouteConnections
      operationId: microsoftAzureExpressrouteconnectionsCreateorupdate
      x-ms-examples:
        ExpressRouteConnectionCreate:
          $ref: ./examples/ExpressRouteConnectionCreate.json
      description: Creates a connection between an ExpressRoute gateway and an ExpressRoute circuit.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: expressRouteGatewayName
        in: path
        required: true
        description: The name of the ExpressRoute gateway.
        schema:
          type: string
      - name: connectionName
        in: path
        required: true
        description: The name of the connection subresource.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Update successful. The operation returns the ExpressRouteConnection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteConnection'
        '201':
          description: Create successful. The operation returns the ExpressRouteConnection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteConnection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpressRouteConnection'
        description: Parameters required in an ExpressRouteConnection PUT operation.
        required: true
    get:
      tags:
      - ExpressRouteConnections
      operationId: microsoftAzureExpressrouteconnectionsGet
      x-ms-examples:
        ExpressRouteConnectionGet:
          $ref: ./examples/ExpressRouteConnectionGet.json
      description: Gets the specified ExpressRouteConnection.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: expressRouteGatewayName
        in: path
        required: true
        description: The name of the ExpressRoute gateway.
        schema:
          type: string
      - name: connectionName
        in: path
        required: true
        description: The name of the ExpressRoute connection.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Request successful. The operation returns the ExpressRouteConnection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteConnection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    delete:
      tags:
      - ExpressRouteConnections
      operationId: microsoftAzureExpressrouteconnectionsDelete
      x-ms-examples:
        ExpressRouteConnectionDelete:
          $ref: ./examples/ExpressRouteConnectionDelete.json
      description: Deletes a connection to a ExpressRoute circuit.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: expressRouteGatewayName
        in: path
        required: true
        description: The name of the ExpressRoute gateway.
        schema:
          type: string
      - name: connectionName
        in: path
        required: true
        description: The name of the connection subresource.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted, and the operation will continue asynchronously.
        '204':
          description: Delete successful.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteGateways/{expressRouteGatewayName}/expressRouteConnections
  : get:
      tags:
      - ExpressRouteConnections
      operationId: microsoftAzureExpressrouteconnectionsList
      x-ms-examples:
        ExpressRouteConnectionList:
          $ref: ./examples/ExpressRouteConnectionList.json
      description: Lists ExpressRouteConnections.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: expressRouteGatewayName
        in: path
        required: true
        description: The name of the ExpressRoute gateway.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Request successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteConnectionList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    StaticRoute:
      description: List of all Static Routes.
      properties:
        name:
          type: string
          description: The name of the StaticRoute that is unique within a VnetRoute.
        addressPrefixes:
          type: array
          description: List of all address prefixes.
          items:
            type: string
        nextHopIpAddress:
          type: string
          description: The ip address of the next hop.
    RoutingConfiguration:
      description: Routing Configuration indicating the associated and propagated route tables for this connection.
      properties:
        associatedRouteTable:
          $ref: ./network.json#/definitions/SubResource
          description: The resource id RouteTable associated with this RoutingConfiguration.
        propagatedRouteTables:
          $ref: '#/components/schemas/PropagatedRouteTable'
          description: The list of RouteTables to advertise the routes to.
        vnetRoutes:
          $ref: '#/components/schemas/VnetRoute'
          description: List of routes that control routing from VirtualHub into a virtual network connection.
        inboundRouteMap:
          $ref: ./network.json#/definitions/SubResource
          description: The resource id of the RouteMap associated with this RoutingConfiguration for inbound learned routes.
        outboundRouteMap:
          $ref: ./network.json#/definitions/SubResource
          description: The resource id of theRouteMap associated with this RoutingConfiguration for outbound advertised routes.
    ExpressRouteCircuitPeeringId:
      properties:
        id:
          type: string
          description: The ID of the ExpressRoute circuit peering.
      description: ExpressRoute circuit peering identifier.
    VnetLocalRouteOverrideCriteria:
      type: string
      description: Parameter determining whether NVA in spoke vnet is bypassed for traffic with destination in spoke vnet.
      enum:
      - Contains
      - Equal
      x-ms-enum:
        name: VnetLocalRouteOverrideCriteria
        modelAsString: true
    VnetRoute:
      description: List of routes that control routing from VirtualHub into a virtual network connection.
      properties:
        staticRoutesConfig:
          $ref: '#/components/schemas/StaticRoutesConfig'
          description: Configuration for static routes on this HubVnetConnection.
        staticRoutes:
          type: array
          description: List of all Static Routes.
          items:
            $ref: '#/components/schemas/StaticRoute'
        bgpConnections:
          type: array
          readOnly: true
          description: The list of references to HubBgpConnection objects.
          items:
            $ref: ./network.json#/definitions/SubResource
    ExpressRouteConnectionProperties:
      required:
      - expressRouteCircuitPeering
      properties:
        provisioningState:
          readOnly: true
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the express route connection resource.
        expressRouteCircuitPeering:
          $ref: '#/components/schemas/ExpressRouteCircuitPeeringId'
          description: The ExpressRoute circuit peering.
        authorizationKey:
          type: string
          description: Authorization key to establish the connection.
        routingWeight:
          type: integer
          description: The routing weight associated to the connection.
        enableInternetSecurity:
          type: boolean
          description: Enable internet security.
        expressRouteGatewayBypass:
          type: boolean
          description: Enable FastPath to vWan Firewall hub.
        enablePrivateLinkFastPath:
          type: boolean
          description: Bypass the ExpressRoute gateway when accessing private-links. ExpressRoute FastPath (expressRouteGatewayBypass) must be enabled.
        routingConfiguration:
          $ref: '#/components/schemas/RoutingConfiguration'
          description: The Routing Configuration indicating the associated and propagated route tables on this connection.
      description: Properties of the ExpressRouteConnection subresource.
    ExpressRouteConnection:
      required:
      - name
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ExpressRouteConnectionProperties'
          description: Properties of the express route connection.
        name:
          type: string
          description: The name of the resource.
      allOf:
      - $ref: ./network.json#/definitions/SubResource
      description: ExpressRouteConnection resource.
    StaticRoutesConfig:
      description: Configuration for static routes on this HubVnetConnectionConfiguration for static routes on this HubVnetConnection.
      type: object
      properties:
        propagateStaticRoutes:
          description: Boolean indicating whether static routes on this connection are automatically propagate to route tables which this connection propagates to.
          type: boolean
          readOnly: true
        vnetLocalRouteOverrideCriteria:
          description: Parameter determining whether NVA in spoke vnet is bypassed for traffic with destination in spoke.
          $ref: '#/components/schemas/VnetLocalRouteOverrideCriteria'
    ExpressRouteConnectionList:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ExpressRouteConnection'
          description: The list of ExpressRoute connections.
      description: ExpressRouteConnection list.
    PropagatedRouteTable:
      description: The list of RouteTables to advertise the routes to.
      properties:
        labels:
          type: array
          description: The list of labels.
          items:
            type: string
        ids:
          type: array
          description: The list of resource ids of all the RouteTables.
          items:
            $ref: ./network.json#/definitions/SubResource
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
