openapi: 3.2.0
info:
  title: Microsoft Azure ApiManagementClient API Policy API
  description: Use these REST APIs for performing operations on Workspace entity and its associated entities within your Azure API Management deployment.
  version: 2023-05-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ApiPolicy
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/apis/{apiId}/policies
  : get:
      tags:
      - ApiPolicy
      operationId: microsoftAzureWorkspaceapipolicyListbyapi
      description: Get the policy configuration at the API level.
      x-ms-examples:
        ApiManagementListWorkspaceApiPolicies:
          $ref: ./examples/ApiManagementListWorkspaceApiPolicies.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Apis Policy Collection.
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/PolicyCollection
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/apis/{apiId}/policies/{policyId}
  : head:
      tags:
      - ApiPolicy
      operationId: microsoftAzureWorkspaceapipolicyGetentitytag
      description: Gets the entity state (Etag) version of the API policy specified by its identifier.
      x-ms-examples:
        ApiManagementHeadWorkspaceApiPolicy:
          $ref: ./examples/ApiManagementHeadWorkspaceApiPolicy.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - $ref: ./apimanagement.json#/parameters/PolicyIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Specified API Policy entity exists and current entity state version is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: Microsoft Azure Head Subscriptions Subscriptionid Resourcegroups…
    get:
      tags:
      - ApiPolicy
      operationId: microsoftAzureWorkspaceapipolicyGet
      description: Get the policy configuration at the API level.
      x-ms-examples:
        ApiManagementGetWorkspaceApiPolicy:
          $ref: ./examples/ApiManagementGetWorkspaceApiPolicy.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - $ref: ./apimanagement.json#/parameters/PolicyIdParameter
      - $ref: ./apimanagement.json#/parameters/PolicyExportFormat
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Api Policy information.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/PolicyContract
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - ApiPolicy
      operationId: microsoftAzureWorkspaceapipolicyCreateorupdate
      description: Creates or updates policy configuration for the API.
      x-ms-examples:
        ApiManagementCreateWorkspaceApiPolicy:
          $ref: ./examples/ApiManagementCreateWorkspaceApiPolicy.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - $ref: ./apimanagement.json#/parameters/PolicyIdParameter
      - $ref: ./apimanagement.json#/parameters/IfMatchOptionalParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Api policy configuration of the tenant was successfully updated.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/PolicyContract
        '201':
          description: Api policy configuration was successfully created.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: ./definitions.json#/definitions/PolicyContract
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./definitions.json#/definitions/PolicyContract
        description: The policy contents to apply.
        required: true
    delete:
      tags:
      - ApiPolicy
      operationId: microsoftAzureWorkspaceapipolicyDelete
      description: Deletes the policy configuration at the Api.
      x-ms-examples:
        ApiManagementDeleteWorkspaceApiPolicy:
          $ref: ./examples/ApiManagementDeleteWorkspaceApiPolicy.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - $ref: ./apimanagement.json#/parameters/PolicyIdParameter
      - $ref: ./apimanagement.json#/parameters/IfMatchRequiredParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Successfully deleted the policy configuration at the API level.
        '204':
          description: Successfully deleted the policy configuration at the API level.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-ms-paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/apis/{apiId}?export=true
  : get:
      tags:
      - Apis
      operationId: WorkspaceApiExport_Get
      description: Gets the details of the API specified by its identifier in the format specified to the Storage Blob with SAS Key valid for 5 minutes.
      x-ms-examples:
        ApiManagementGetWorkspaceApiExportInOpenApi2dot0:
          $ref: ./examples/ApiManagementGetWorkspaceApiExportInOpenApi2dot0.json
        ApiManagementGetWorkspaceApiExportInOpenApi3dot0:
          $ref: ./examples/ApiManagementGetWorkspaceApiExportInOpenApi3dot0.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - name: format
        in: query
        required: true
        type: string
        enum:
        - swagger-link
        - wadl-link
        - wsdl-link
        - openapi-link
        - openapi+json-link
        x-ms-enum:
          name: ExportFormat
          modelAsString: true
          values:
          - value: swagger-link
            description: Export the Api Definition in OpenAPI 2.0 Specification as JSON document to the Storage Blob.
            name: Swagger
          - value: wsdl-link
            description: Export the Api Definition in WSDL Schema to Storage Blob. This is only supported for APIs of Type `soap`
            name: Wsdl
          - value: wadl-link
            description: Export the Api Definition in WADL Schema to Storage Blob.
            name: Wadl
          - value: openapi-link
            description: Export the Api Definition in OpenAPI 3.0 Specification as YAML document to Storage Blob.
            name: Openapi
          - value: openapi+json-link
            description: Export the Api Definition in OpenAPI 3.0 Specification as JSON document to Storage Blob.
            name: OpenapiJson
        description: Format in which to export the Api Details to the Storage Blob with Sas Key valid for 5 minutes.
      - name: export
        in: query
        required: true
        type: string
        enum:
        - 'true'
        x-ms-enum:
          modelAsString: true
          name: ExportApi
        description: Query parameter required to export the API details.
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The response contains a stream with a full set of API metadata and includes API entity with an embedded array of operation entities.
          schema:
            $ref: ./definitions.json#/definitions/ApiExportResult
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
