openapi: 3.2.0
info:
  version: 2023-06-28-preview
  title: Microsoft Azure ConfidentialLedger Managed CCF API
  description: Microsoft Azure Confidential Compute Ledger Managed CCF Control Plane REST API version 2023-06-28-preview.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Managed CCF
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConfidentialLedger/managedCCFs/{appName}
  : get:
      tags:
      - Managed CCF
      summary: Microsoft Azure Retrieves Information About A Managed Ccf Resource
      description: Retrieves the properties of a Managed CCF app.
      operationId: microsoftAzureManagedccfGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ManagedCCFNameParameter'
      responses:
        '200':
          description: The request was successful; response contains the Managed CCF
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedCCF'
        default:
          description: Error response describing the reason for operation failure.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        ManagedCCFGet:
          $ref: ./examples/ManagedCCF_Get.json
    delete:
      tags:
      - Managed CCF
      summary: Microsoft Azure Deletes A Managed Ccf Resource
      description: Deletes an existing Managed CCF.
      operationId: microsoftAzureManagedccfDelete
      x-ms-long-running-operation: true
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ManagedCCFNameParameter'
      responses:
        '200':
          description: The request was successful; the Managed CCF is deleted.
        '202':
          description: The Managed CCF resource will be deleted asynchronously
        '204':
          description: The request was successful; Managed CCF does not exist.
        default:
          description: Error response describing the reason for operation failure.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        ConfidentialLedgerDelete:
          $ref: ./examples/ManagedCCF_Delete.json
    put:
      tags:
      - Managed CCF
      summary: Microsoft Azure Creates A Managed Ccf
      description: Creates a Managed CCF with the specified Managed CCF parameters.
      operationId: microsoftAzureManagedccfCreate
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ManagedCCFNameParameter'
      responses:
        '200':
          description: The request was successful and ledger was created; response contains the Managed CCF
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedCCF'
        '201':
          description: The Managed CCF resource will be created asynchronously
        default:
          description: Error response describing the reason for operation failure.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        ManagedCCFCreate:
          $ref: ./examples/ManagedCCF_Create.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedCCF'
        description: Managed CCF Create Request Body
        required: true
    patch:
      tags:
      - Managed CCF
      summary: Microsoft Azure Update Managed Ccf Properties
      description: Updates properties of Managed CCF
      operationId: microsoftAzureManagedccfUpdate
      x-ms-long-running-operation: true
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ManagedCCFNameParameter'
      responses:
        '200':
          description: The request was successful and Managed CCF was updated; response contains the Managed CCF.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedCCF'
        '202':
          description: The Confidential Ledger resource will be updated asynchronously. Check the provisioningState field to monitor the progress of your operation.
        default:
          description: Error response describing the reason for operation failure.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        ManagedCCFUpdate:
          $ref: ./examples/ManagedCCF_Update.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedCCF'
        description: Request body for Updating Managed CCF App
        required: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConfidentialLedger/managedCCFs:
    get:
      tags:
      - Managed CCF
      summary: Microsoft Azure Retrieves Information About All Managed Ccf Resources Under The…
      description: Retrieves the properties of all Managed CCF apps.
      operationId: microsoftAzureManagedccfListbyresourcegroup
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - description: The filter to apply on the list operation. eg. $filter=ledgerType eq 'Public'
        name: $filter
        in: query
        schema:
          type: string
      responses:
        '200':
          description: The request was successful; response contains the Managed CCF
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedCCFList'
        default:
          description: Error response describing the reason for operation failure.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ManagedCCFList:
          $ref: ./examples/ManagedCCF_List.json
  /subscriptions/{subscriptionId}/providers/Microsoft.ConfidentialLedger/managedCCFs/:
    get:
      tags:
      - Managed CCF
      summary: Microsoft Azure Retrieves Information About All Managed Ccf Resources Under The…
      description: Retrieves the properties of all Managed CCF.
      operationId: microsoftAzureManagedccfListbysubscription
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - description: The filter to apply on the list operation. eg. $filter=ledgerType eq 'Public'
        name: $filter
        in: query
        schema:
          type: string
      responses:
        '200':
          description: The request was successful; response contains the list of Managed CCF
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedCCFList'
        default:
          description: Error response describing the reason for operation failure.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ManagedCCFListBySub:
          $ref: ./examples/ManagedCCF_ListBySub.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConfidentialLedger/managedCCFs/{appName}/backup
  : post:
      tags:
      - Managed CCF
      summary: Microsoft Azure Performs The Backup Operation On A Managed Ccf Resource
      description: Backs up a Managed CCF Resource.
      operationId: microsoftAzureManagedccfBackup
      x-ms-long-running-operation: true
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ManagedCCFNameParameter'
      responses:
        '200':
          description: The request was successful; response contains a message stating the Managed CCF Resource is successfully being backed up.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedCCFBackupResponse'
        '202':
          description: The Managed CCF Resource will be backed up asynchronously.
        default:
          description: Error response describing the reason for operation failure.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        ManagedCCFBackup:
          $ref: ./examples/ManagedCCF_Backup.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedCCFBackup'
        description: Managed CCF Backup Request Body
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConfidentialLedger/managedCCFs/{appName}/restore
  : post:
      tags:
      - Managed CCF
      summary: Microsoft Azure Performs The Restore Operation To Spin Up A Newly Restored…
      description: Restores a Managed CCF Resource.
      operationId: microsoftAzureManagedccfRestore
      x-ms-long-running-operation: true
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ManagedCCFNameParameter'
      responses:
        '200':
          description: The request was successful; response contains a message stating the Managed CCF Resource is successfully being restored.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedCCFRestoreResponse'
        '202':
          description: The Managed CCF Resource will be restored asynchronously. Check the provisioningState field to monitor the progress of your operation.
        default:
          description: Error response describing the reason for operation failure.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        ManagedCCFRestore:
          $ref: ./examples/ManagedCCF_Restore.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedCCFRestore'
        description: Managed CCF Restore Request Body
        required: true
components:
  schemas:
    ManagedCCFProperties:
      type: object
      description: Additional Managed CCF properties.
      title: ManagedCCFProperties
      properties:
        appName:
          readOnly: true
          type: string
          description: Unique name for the Managed CCF.
        appUri:
          type: string
          readOnly: true
          description: Endpoint for calling Managed CCF Service.
        identityServiceUri:
          type: string
          readOnly: true
          description: Endpoint for accessing network identity.
        memberIdentityCertificates:
          type: array
          description: List of member identity certificates for  Managed CCF
          items:
            $ref: '#/components/schemas/MemberIdentityCertificate'
          x-ms-identifiers: []
        deploymentType:
          description: Deployment Type of Managed CCF
          $ref: '#/components/schemas/DeploymentType'
        runningState:
          description: Object representing RunningState for Managed CCF.
          $ref: '#/components/schemas/RunningState'
        provisioningState:
          description: Provisioning state of Managed CCF Resource
          readOnly: true
          $ref: '#/components/schemas/ProvisioningState'
        nodeCount:
          type: integer
          format: int32
          description: Number of CCF nodes in the Managed CCF.
          $ref: '#/components/schemas/NodeCount'
    ProvisioningState:
      type: string
      description: Object representing ProvisioningState for Managed CCF.
      enum:
      - Unknown
      - Succeeded
      - Failed
      - Canceled
      - Creating
      - Deleting
      - Updating
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    NodeCount:
      type: integer
      format: int32
      description: Number of CCF nodes in the Managed CCF.
      title: NodeCount
      default: 3
    RunningState:
      type: string
      description: Object representing RunningState for Managed CCF.
      enum:
      - Active
      - Paused
      - Unknown
      - Pausing
      - Resuming
      x-ms-enum:
        name: RunningState
        modelAsString: true
    CertificateTags:
      description: Tags for Managed CCF Certificates
      type: object
      properties:
        tags:
          type: object
          description: Additional tags for Managed CCF Certificates
          additionalProperties:
            type: string
    ManagedCCF:
      type: object
      description: Managed CCF. Contains the properties of Managed CCF Resource.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
      properties:
        properties:
          description: Properties of Managed CCF Resource.
          $ref: '#/components/schemas/ManagedCCFProperties'
    DeploymentType:
      type: object
      description: Object representing DeploymentType for Managed CCF.
      title: DeploymentType
      properties:
        languageRuntime:
          readOnly: false
          description: Unique name for the Managed CCF.
          $ref: '#/components/schemas/LanguageRuntime'
        appSourceUri:
          type: string
          readOnly: false
          description: Source Uri containing ManagedCCF code
    ManagedCCFRestoreResponse:
      description: Object representing the restore response of a Managed CCF Resource.
      type: object
      properties:
        message:
          type: string
          readOnly: true
          description: Response body stating if the managed CCF resource is being restored.
    ManagedCCFRestore:
      description: Object representing Restore properties of Managed CCF Resource.
      type: object
      properties:
        fileShareName:
          type: string
          readOnly: false
          description: Fileshare where the managed CCF resource backup is stored.
        restoreRegion:
          type: string
          readOnly: false
          description: The region the managed CCF resource is being restored to.
        uri:
          type: string
          readOnly: false
          description: SAS URI used to access the backup Fileshare.
          x-ms-secret: true
      required:
      - fileShareName
      - restoreRegion
      - uri
    MemberIdentityCertificate:
      type: object
      description: Object representing MemberIdentityCertificate for Managed CCF.
      title: MemberIdentityCertificate
      properties:
        certificate:
          type: string
          readOnly: false
          description: Member Identity Certificate
        encryptionkey:
          type: string
          readOnly: false
          description: Member Identity Certificate Encryption Key
        tags:
          items:
            $ref: '#/components/schemas/CertificateTags'
    ManagedCCFList:
      description: Object that includes an array of Managed CCF and a possible link for next set.
      type: object
      properties:
        value:
          description: List of Managed CCF
          type: array
          items:
            $ref: '#/components/schemas/ManagedCCF'
        nextLink:
          description: The URL the client should use to fetch the next page (per server side paging).
          type: string
    ManagedCCFBackup:
      description: Object representing Backup properties of a Managed CCF Resource.
      type: object
      properties:
        restoreRegion:
          type: string
          readOnly: false
          description: The region where the backup of the managed CCF resource will eventually be restored to.
        uri:
          type: string
          readOnly: false
          description: SAS URI used to access the backup Fileshare.
          x-ms-secret: true
      required:
      - uri
    ManagedCCFBackupResponse:
      description: Object representing the backup response of a Managed CCF Resource.
      type: object
      properties:
        message:
          type: string
          readOnly: true
          description: Response body stating if the managed CCF resource is being backed up.
    LanguageRuntime:
      type: string
      description: Object representing LanguageRuntime for Manged CCF.
      enum:
      - CPP
      - JS
      x-ms-enum:
        name: LanguageRuntime
        modelAsString: true
  parameters:
    ManagedCCFNameParameter:
      name: appName
      in: path
      required: true
      description: Name of the Managed CCF
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9]
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
