openapi: 3.2.0
info:
  title: Microsoft Azure Azure Dedicated HSM Resource Provider…
  description: The Azure management API provides a RESTful set of web services that interact with Azure Dedicated HSM RP.
  version: 2018-10-31-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: DedicatedHsmOperations
paths:
  /providers/Microsoft.HardwareSecurityModules/operations:
    get:
      tags:
      - DedicatedHsmOperations
      operationId: microsoftAzureOperationsList
      description: Get a list of Dedicated HSM operations.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHsmOperationListResult'
        default:
          description: The error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedHsmError'
      x-ms-examples:
        Get a list of Dedicated HSM operations:
          $ref: ./examples//DedicatedHsm_OperationsList.json
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Providers Microsoft Hardwaresecuritymodules Operations
components:
  schemas:
    DedicatedHsmOperationListResult:
      description: Result of the request to list Dedicated HSM Provider operations. It contains a list of operations.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/DedicatedHsmOperation'
          description: List of Dedicated HSM Resource Provider operations.
    DedicatedHsmError:
      properties:
        error:
          readOnly: true
          $ref: '#/components/schemas/Error'
      description: The error exception.
    DedicatedHsmOperation:
      description: REST API operation
      type: object
      properties:
        name:
          description: The name of the Dedicated HSM Resource Provider Operation.
          type: string
        isDataAction:
          description: Gets or sets a value indicating whether it is a data plane action
          type: string
          readOnly: true
        display:
          properties:
            provider:
              description: The Resource Provider of the operation
              type: string
            resource:
              description: Resource on which the operation is performed.
              type: string
            operation:
              description: 'Operation type: Read, write, delete, etc.'
              type: string
            description:
              description: The object that represents the operation.
              type: string
    Error:
      properties:
        code:
          type: string
          readOnly: true
          description: The error code.
        message:
          type: string
          readOnly: true
          description: The error message.
        innererror:
          x-ms-client-name: innerError
          readOnly: true
          $ref: '#/components/schemas/Error'
      description: The key vault server error.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
