openapi: 3.2.0
info:
  title: Microsoft Azure SchedulerManagementClient Job Collections…
  version: '2016-03-01'
servers:
- url: https://management.azure.com
tags:
- name: JobCollections
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Scheduler/jobCollections:
    get:
      tags:
      - JobCollections
      operationId: microsoftAzureJobcollectionsListbysubscription
      description: Gets all job collections under specified subscription.
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: The job collections have been successfully returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobCollectionListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/JobCollectionListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Scheduler…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Scheduler/jobCollections:
    get:
      tags:
      - JobCollections
      operationId: microsoftAzureJobcollectionsListbyresourcegroup
      description: Gets all job collections under specified resource group.
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        in: path
        required: true
        description: The resource group name.
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: The job collections have been successfully returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobCollectionListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/JobCollectionListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Scheduler/jobCollections/{jobCollectionName}
  : get:
      tags:
      - JobCollections
      operationId: microsoftAzureJobcollectionsGet
      description: Gets a job collection.
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        in: path
        required: true
        description: The resource group name.
        schema:
          type: string
      - name: jobCollectionName
        in: path
        required: true
        description: The job collection name.
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: The job collection has been successfully returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobCollectionDefinition'
            text/json:
              schema:
                $ref: '#/components/schemas/JobCollectionDefinition'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - JobCollections
      operationId: microsoftAzureJobcollectionsCreateorupdate
      description: Provisions a new job collection or updates an existing job collection.
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        in: path
        required: true
        description: The resource group name.
        schema:
          type: string
      - name: jobCollectionName
        in: path
        required: true
        description: The job collection name.
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: The job collection has been successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobCollectionDefinition'
            text/json:
              schema:
                $ref: '#/components/schemas/JobCollectionDefinition'
        '201':
          description: The job collection has been successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobCollectionDefinition'
            text/json:
              schema:
                $ref: '#/components/schemas/JobCollectionDefinition'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobCollectionDefinition'
          text/json:
            schema:
              $ref: '#/components/schemas/JobCollectionDefinition'
        description: The job collection definition.
        required: true
    patch:
      tags:
      - JobCollections
      operationId: microsoftAzureJobcollectionsPatch
      description: Patches an existing job collection.
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        in: path
        required: true
        description: The resource group name.
        schema:
          type: string
      - name: jobCollectionName
        in: path
        required: true
        description: The job collection name.
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: The job collection has been successfully patched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobCollectionDefinition'
            text/json:
              schema:
                $ref: '#/components/schemas/JobCollectionDefinition'
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobCollectionDefinition'
          text/json:
            schema:
              $ref: '#/components/schemas/JobCollectionDefinition'
        description: The job collection definition.
        required: true
    delete:
      tags:
      - JobCollections
      operationId: microsoftAzureJobcollectionsDelete
      description: Deletes a job collection.
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        in: path
        required: true
        description: The resource group name.
        schema:
          type: string
      - name: jobCollectionName
        in: path
        required: true
        description: The job collection name.
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: The job collection has been successfully deleted.
        '202':
          description: The delete operation for the job collection has been accepted and will complete asynchronously.
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Scheduler/jobCollections/{jobCollectionName}/enable
  : post:
      tags:
      - JobCollections
      operationId: microsoftAzureJobcollectionsEnable
      description: Enables all of the jobs in the job collection.
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        in: path
        required: true
        description: The resource group name.
        schema:
          type: string
      - name: jobCollectionName
        in: path
        required: true
        description: The job collection name.
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: All of the jobs in the job collection have been successfully enabled.
        '202':
          description: Accepted and the enable job collection operation will complete asynchronously.
      x-ms-long-running-operation: true
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Scheduler/jobCollections/{jobCollectionName}/disable
  : post:
      tags:
      - JobCollections
      operationId: microsoftAzureJobcollectionsDisable
      description: Disables all of the jobs in the job collection.
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        in: path
        required: true
        description: The resource group name.
        schema:
          type: string
      - name: jobCollectionName
        in: path
        required: true
        description: The job collection name.
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: All of the jobs in the job collection have been successfully disabled.
        '202':
          description: Accepted and the disable job collection operation will complete asynchronously.
      x-ms-long-running-operation: true
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    JobMaxRecurrence:
      properties:
        frequency:
          type: string
          description: Gets or sets the frequency of recurrence (second, minute, hour, day, week, month).
          enum:
          - Minute
          - Hour
          - Day
          - Week
          - Month
          x-ms-enum:
            name: RecurrenceFrequency
            modelAsString: false
        interval:
          type: integer
          description: Gets or sets the interval between retries.
    JobCollectionDefinition:
      properties:
        id:
          type: string
          readOnly: true
          description: Gets the job collection resource identifier.
        type:
          type: string
          readOnly: true
          description: Gets the job collection resource type.
        name:
          type: string
          description: Gets or sets the job collection resource name.
        location:
          type: string
          description: Gets or sets the storage account location.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Gets or sets the tags.
        properties:
          $ref: '#/components/schemas/JobCollectionProperties'
          description: Gets or sets the job collection properties.
    JobCollectionQuota:
      properties:
        maxJobCount:
          type: integer
          description: Gets or set the maximum job count.
        maxJobOccurrence:
          type: integer
          description: Gets or sets the maximum job occurrence.
        maxRecurrence:
          $ref: '#/components/schemas/JobMaxRecurrence'
          description: Gets or set the maximum recurrence.
    JobCollectionListResult:
      properties:
        value:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/JobCollectionDefinition'
          description: Gets the job collections.
        nextLink:
          type: string
          description: Gets or sets the URL to get the next set of job collections.
    JobCollectionProperties:
      properties:
        sku:
          $ref: '#/components/schemas/Sku'
          description: Gets or sets the SKU.
        state:
          type: string
          description: Gets or sets the state.
          enum:
          - Enabled
          - Disabled
          - Suspended
          - Deleted
          x-ms-enum:
            name: JobCollectionState
            modelAsString: false
        quota:
          $ref: '#/components/schemas/JobCollectionQuota'
          description: Gets or sets the job collection quota.
    Sku:
      properties:
        name:
          type: string
          description: Gets or set the SKU.
          enum:
          - Standard
          - Free
          - P10Premium
          - P20Premium
          x-ms-enum:
            name: SkuDefinition
            modelAsString: false
  parameters:
    apiVersion:
      name: api-version
      description: The API version.
      in: query
      required: true
      schema:
        type: string
    subscriptionId:
      name: subscriptionId
      description: The subscription id.
      in: path
      required: true
      schema:
        type: string
