openapi: 3.2.0
info:
  title: Microsoft Azure LogicAppsManagementClient Managed APIs API
  version: '2016-06-01'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Managed APIs
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/managedApis:
    get:
      tags:
      - Managed APIs
      summary: Microsoft Azure Lists Managed Apis
      operationId: microsoftAzureManagedapisList
      description: Gets a list of managed APIs
      x-ms-examples:
        List all managed APIs:
          $ref: ./examples/managedApisList.json
      parameters:
      - $ref: '#/components/parameters/locationParameter'
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: A list of managed APIs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedApiDefinitionCollection'
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/managedApis/{apiName}:
    get:
      tags:
      - Managed APIs
      summary: Microsoft Azure Gets Managed Api
      operationId: microsoftAzureManagedapisGet
      description: Gets a managed API
      x-ms-examples:
        Get a managed API:
          $ref: ./examples/managedApisGet.json
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/locationParameter'
      - $ref: '#/components/parameters/apiNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: A managed API definition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedApiDefinition'
components:
  schemas:
    WsdlService:
      type: object
      description: The service with name and endpoint names
      additionalProperties: false
      required:
      - qualifiedName
      properties:
        qualifiedName:
          description: The service's qualified name
          type: string
        endpointQualifiedNames:
          type: array
          description: List of the endpoints' qualified names
          items:
            type: string
    ManagedApiDefinition:
      type: object
      description: A managed API definition
      additionalProperties: false
      properties:
        properties:
          $ref: '#/components/schemas/ApiResourceProperties'
      allOf:
      - $ref: '#/components/schemas/ResourceDefinition'
    ManagedApiDefinitionCollection:
      description: A list of managed API definitions
      type: object
      properties:
        value:
          description: Collection of managed APIs
          type: array
          items:
            $ref: '#/components/schemas/ManagedApiDefinition'
    ApiOAuthSettingsParameter:
      description: OAuth settings for the API
      type: object
      properties:
        value:
          description: Value of the setting
          type: string
        options:
          type: object
          description: Options available to this parameter
        uiDefinition:
          type: object
          description: UI definitions per culture as caller can specify the culture
    ApiResourceMetadata:
      type: object
      additionalProperties: false
      properties:
        source:
          type: string
          description: The source
        brandColor:
          type: string
          description: Brand color
        hideKey:
          type: string
          description: Hide key
        tags:
          $ref: '#/components/schemas/TagsDictionary'
        apiType:
          $ref: '#/components/schemas/ApiType'
        wsdlService:
          $ref: '#/components/schemas/WsdlService'
        wsdlImportMethod:
          $ref: '#/components/schemas/WsdlImportMethod'
        connectionType:
          type: string
          description: The connection type
    ApiOAuthSettings:
      description: OAuth settings for the connection provider
      type: object
      properties:
        identityProvider:
          description: Identity provider
          type: string
        clientId:
          description: Resource provider client id
          type: string
        clientSecret:
          description: Client Secret needed for OAuth
          type: string
        scopes:
          description: OAuth scopes
          type: array
          items:
            type: string
        redirectUrl:
          description: Url
          type: string
        properties:
          type: object
          description: Read only properties for this oauth setting.
        customParameters:
          description: OAuth parameters key is the name of parameter
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ApiOAuthSettingsParameter'
    ApiType:
      type: string
      description: The API type
      enum:
      - NotSpecified
      - Rest
      - Soap
      x-ms-enum:
        name: ApiType
        modelAsString: true
    ApiResourcePolicies:
      type: object
      description: Describes the API policies either as embedded content or as a link to uploaded content
      additionalProperties: false
      properties:
        content:
          type: string
          description: API level policies as XML
        contentLink:
          type: string
          description: Link to the JSON of the policies
    ApiResourceProperties:
      type: object
      description: API resource properties
      additionalProperties: false
      properties:
        name:
          type: string
        connectionParameters:
          description: Connection parameters
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ConnectionParameter'
        metadata:
          $ref: '#/components/schemas/ApiResourceMetadata'
        runtimeUrls:
          type: array
          description: Runtime URLs
          items:
            type: string
        generalInformation:
          $ref: '#/components/schemas/ApiResourceGeneralInformation'
        capabilities:
          type: array
          description: The managed API capabilities
          items:
            type: string
        swagger:
          type: object
          description: The JSON representation of the swagger
        backendService:
          $ref: '#/components/schemas/ApiResourceBackendService'
        policies:
          $ref: '#/components/schemas/ApiResourcePolicies'
        apiDefinitionUrl:
          type: string
          description: URL where the swagger can be downloaded from
        apiDefinitions:
          $ref: '#/components/schemas/ApiResourceDefinitions'
    ApiResourceDefinitions:
      type: object
      description: API Definitions
      additionalProperties: false
      properties:
        originalSwaggerUrl:
          type: string
          description: The original swagger URL
        modifiedSwaggerUrl:
          type: string
          description: The modified swagger URL
    TagsDictionary:
      type: object
      description: Resource tags
      additionalProperties:
        type: string
      example:
        SampleTagName: SampleTagValue
    ApiResourceGeneralInformation:
      type: object
      description: General information about the API
      additionalProperties: false
      properties:
        iconUrl:
          type: string
          description: The icon URL
        displayName:
          type: string
          description: Display name
        description:
          type: string
          description: The API description
        termsOfUseUrl:
          type: string
          description: URL to the Terms of Use
        releaseTag:
          type: string
          description: Release tag
    ApiResourceBackendService:
      type: object
      description: The API backend service
      additionalProperties: false
      properties:
        serviceUrl:
          type: string
          description: The service URL
    ResourceDefinition:
      description: A resource
      type: object
      additionalProperties: false
      properties:
        id:
          description: Resource id
          type: string
          readOnly: true
        name:
          description: Resource name
          type: string
          readOnly: true
        type:
          description: Resource type
          type: string
          readOnly: true
        location:
          description: Resource location
          type: string
        etag:
          description: Resource ETag
          type: string
        tags:
          $ref: '#/components/schemas/TagsDictionary'
      x-ms-azure-resource: true
    ConnectionParameter:
      description: Connection provider parameters
      type: object
      properties:
        type:
          description: Type of the parameter
          enum:
          - string
          - securestring
          - secureobject
          - int
          - bool
          - object
          - array
          - oauthSetting
          - connection
          type: string
          x-ms-enum:
            name: ConnectionParameterType
            modelAsString: false
        oAuthSettings:
          $ref: '#/components/schemas/ApiOAuthSettings'
    WsdlImportMethod:
      type: string
      description: The WSDL import method
      enum:
      - NotSpecified
      - SoapToRest
      - SoapPassThrough
      x-ms-enum:
        name: WsdlImportMethod
        modelAsString: true
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription Id
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    locationParameter:
      name: location
      description: The location
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    apiNameParameter:
      name: apiName
      description: API name
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      description: API Version
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate a user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
