openapi: 3.2.0
info:
  title: Microsoft Azure Webpubsub API
  version: '1.0'
  description: 'Operations tagged Webpubsub across 2 of this provider''s published API definitions: azure-web-pubsub-service-rest-api-openapi-original.yml, webpubsubmanagementclient-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
tags:
- name: Web Pub Sub
paths:
  /api/hubs/{hub}/:generateToken:
    post:
      tags:
      - Web Pub Sub
      summary: Microsoft Azure Generate Token For The Client To Connect Azure Web Pubsub…
      operationId: microsoftAzureWebpubsubGenerateclienttoken
      parameters:
      - in: path
        name: hub
        description: Target hub name, which should start with alphabetic characters and only contain alpha-numeric characters or underscore.
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z][A-Za-z0-9_`,.[\]]{0,127}$
      - in: query
        name: userId
        description: User Id.
        schema:
          type: string
          default: ''
      - in: query
        name: role
        description: Roles that the connection with the generated token will have.
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - in: query
        name: minutesToExpire
        description: The expire time of the generated token.
        schema:
          type: integer
          format: int32
          default: 60
      - in: query
        name: api-version
        description: The version of the REST APIs.
        schema:
          type: string
          default: 2021-05-01-preview
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ClientTokenResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ClientTokenResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ClientTokenResponse'
        default:
          description: Error response
          x-ms-error-response: true
      description: Needs a more full description created.
  /api/hubs/{hub}/:send:
    post:
      tags:
      - Web Pub Sub
      summary: Microsoft Azure Broadcast Content Inside Request Body To All The Connected…
      operationId: microsoftAzureWebpubsubSendtoall
      parameters:
      - in: path
        name: hub
        description: Target hub name, which should start with alphabetic characters and only contain alpha-numeric characters or underscore.
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z][A-Za-z0-9_`,.[\]]{0,127}$
      - in: query
        name: excluded
        description: Excluded connection Ids.
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - in: query
        name: api-version
        description: The version of the REST APIs.
        schema:
          type: string
          default: 2021-05-01-preview
      responses:
        '202':
          description: The message is accepted. The service follows fire-and-forget pattern when sending messages.
        default:
          description: Error response
          x-ms-error-response: true
      description: Needs a more full description created.
      requestBody:
        content:
          application/octet-stream:
            schema:
              format: binary
              type: string
          text/plain:
            schema:
              format: binary
              type: string
          application/json:
            schema:
              format: binary
              type: string
        description: The payload body.
        required: true
  /api/hubs/{hub}/connections/{connectionId}:
    head:
      tags:
      - Web Pub Sub
      summary: Microsoft Azure Check If The Connection With The Given Connectionid Exists
      operationId: microsoftAzureWebpubsubConnectionexists
      parameters:
      - in: path
        name: hub
        description: Target hub name, which should start with alphabetic characters and only contain alpha-numeric characters or underscore.
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z][A-Za-z0-9_`,.[\]]{0,127}$
      - in: path
        name: connectionId
        description: The connection Id.
        required: true
        schema:
          type: string
          minLength: 1
      - in: query
        name: api-version
        description: The version of the REST APIs.
        schema:
          type: string
          default: 2021-05-01-preview
      responses:
        '200':
          description: Success
        '404':
          description: Not Found
        default:
          description: Error response
          x-ms-error-response: true
      description: Needs a more full description created.
    delete:
      tags:
      - Web Pub Sub
      summary: Microsoft Azure Close The Client Connection
      operationId: microsoftAzureWebpubsubCloseconnection
      parameters:
      - in: path
        name: hub
        description: Target hub name, which should start with alphabetic characters and only contain alpha-numeric characters or underscore.
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z][A-Za-z0-9_`,.[\]]{0,127}$
      - in: path
        name: connectionId
        description: Target connection Id.
        required: true
        schema:
          type: string
          minLength: 1
      - in: query
        name: reason
        description: The reason closing the client connection.
        schema:
          type: string
      - in: query
        name: api-version
        description: The version of the REST APIs.
        schema:
          type: string
          default: 2021-05-01-preview
      responses:
        '200':
          description: Success
        default:
          description: Error response
          x-ms-error-response: true
      description: Needs a more full description created.
  /api/hubs/{hub}/connections/{connectionId}/:send:
    post:
      tags:
      - Web Pub Sub
      summary: Microsoft Azure Send Content Inside Request Body To The Specific Connection
      operationId: microsoftAzureWebpubsubSendtoconnection
      parameters:
      - in: path
        name: hub
        description: Target hub name, which should start with alphabetic characters and only contain alpha-numeric characters or underscore.
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z][A-Za-z0-9_`,.[\]]{0,127}$
      - in: path
        name: connectionId
        description: The connection Id.
        required: true
        schema:
          type: string
          minLength: 1
      - in: query
        name: api-version
        description: The version of the REST APIs.
        schema:
          type: string
          default: 2021-05-01-preview
      responses:
        '202':
          description: Success
        default:
          description: Error response
          x-ms-error-response: true
      description: Needs a more full description created.
      requestBody:
        content:
          application/octet-stream:
            schema:
              format: binary
              type: string
          text/plain:
            schema:
              format: binary
              type: string
          application/json:
            schema:
              format: binary
              type: string
        description: The payload body.
        required: true
  /api/hubs/{hub}/groups/{group}:
    head:
      tags:
      - Web Pub Sub
      summary: Microsoft Azure Check If There Are Any Client Connections Inside The Given Group
      operationId: microsoftAzureWebpubsubGroupexists
      parameters:
      - in: path
        name: hub
        description: Target hub name, which should start with alphabetic characters and only contain alpha-numeric characters or underscore.
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z][A-Za-z0-9_`,.[\]]{0,127}$
      - in: path
        name: group
        description: Target group name, which length should be greater than 0 and less than 1025.
        required: true
        schema:
          type: string
          maxLength: 1024
          minLength: 1
      - in: query
        name: api-version
        description: The version of the REST APIs.
        schema:
          type: string
          default: 2021-05-01-preview
      responses:
        '200':
          description: Success
        '404':
          description: Not Found
        default:
          description: Error response
          x-ms-error-response: true
      description: Needs a more full description created.
  /api/hubs/{hub}/groups/{group}/:send:
    post:
      tags:
      - Web Pub Sub
      summary: Microsoft Azure Send Content Inside Request Body To A Group Of Connections
      operationId: microsoftAzureWebpubsubSendtogroup
      parameters:
      - in: path
        name: hub
        description: Target hub name, which should start with alphabetic characters and only contain alpha-numeric characters or underscore.
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z][A-Za-z0-9_`,.[\]]{0,127}$
      - in: path
        name: group
        description: Target group name, which length should be greater than 0 and less than 1025.
        required: true
        schema:
          type: string
          maxLength: 1024
          minLength: 1
      - in: query
        name: excluded
        description: Excluded connection Ids
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - in: query
        name: api-version
        description: The version of the REST APIs.
        schema:
          type: string
          default: 2021-05-01-preview
      responses:
        '202':
          description: Success
        default:
          description: Error response
          x-ms-error-response: true
      description: Needs a more full description created.
      requestBody:
        content:
          application/octet-stream:
            schema:
              format: binary
              type: string
          text/plain:
            schema:
              format: binary
              type: string
          application/json:
            schema:
              format: binary
              type: string
        description: The payload body.
        required: true
  /api/hubs/{hub}/groups/{group}/connections/{connectionId}:
    put:
      tags:
      - Web Pub Sub
      summary: Microsoft Azure Add A Connection To The Target Group
      operationId: microsoftAzureWebpubsubAddconnectiontogroup
      parameters:
      - in: path
        name: hub
        description: Target hub name, which should start with alphabetic characters and only contain alpha-numeric characters or underscore.
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z][A-Za-z0-9_`,.[\]]{0,127}$
      - in: path
        name: group
        description: Target group name, which length should be greater than 0 and less than 1025.
        required: true
        schema:
          type: string
          maxLength: 1024
          minLength: 1
      - in: path
        name: connectionId
        description: Target connection Id
        required: true
        schema:
          type: string
          minLength: 1
      - in: query
        name: api-version
        description: The version of the REST APIs.
        schema:
          type: string
          default: 2021-05-01-preview
      responses:
        '200':
          description: Success
        '404':
          description: Not Found
        default:
          description: Error response
          x-ms-error-response: true
      description: Needs a more full description created.
    delete:
      tags:
      - Web Pub Sub
      summary: Microsoft Azure Remove A Connection From The Target Group
      operationId: microsoftAzureWebpubsubRemoveconnectionfromgroup
      parameters:
      - in: path
        name: hub
        description: Target hub name, which should start with alphabetic characters and only contain alpha-numeric characters or underscore.
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z][A-Za-z0-9_`,.[\]]{0,127}$
      - in: path
        name: group
        description: Target group name, which length should be greater than 0 and less than 1025.
        required: true
        schema:
          type: string
          maxLength: 1024
          minLength: 1
      - in: path
        name: connectionId
        description: Target connection Id.
        required: true
        schema:
          type: string
          minLength: 1
      - in: query
        name: api-version
        description: The version of the REST APIs.
        schema:
          type: string
          default: 2021-05-01-preview
      responses:
        '200':
          description: Success
        default:
          description: Error response
          x-ms-error-response: true
      description: Needs a more full description created.
  /api/hubs/{hub}/users/{userId}:
    head:
      tags:
      - Web Pub Sub
      summary: Microsoft Azure Check If There Are Any Client Connections Connected For The…
      operationId: microsoftAzureWebpubsubUserexists
      parameters:
      - in: path
        name: hub
        description: Target hub name, which should start with alphabetic characters and only contain alpha-numeric characters or underscore.
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z][A-Za-z0-9_`,.[\]]{0,127}$
      - in: path
        name: userId
        description: Target user Id.
        required: true
        schema:
          type: string
          minLength: 1
      - in: query
        name: api-version
        description: The version of the REST APIs.
        schema:
          type: string
          default: 2021-05-01-preview
      responses:
        '200':
          description: Success
        '404':
          description: Not Found
        default:
          description: Error response
          x-ms-error-response: true
      description: Needs a more full description created.
  /api/hubs/{hub}/users/{userId}/:send:
    post:
      tags:
      - Web Pub Sub
      summary: Microsoft Azure Send Content Inside Request Body To The Specific User
      operationId: microsoftAzureWebpubsubSendtouser
      parameters:
      - in: path
        name: hub
        description: Target hub name, which should start with alphabetic characters and only contain alpha-numeric characters or underscore.
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z][A-Za-z0-9_`,.[\]]{0,127}$
      - in: path
        name: userId
        description: The user Id.
        required: true
        schema:
          type: string
          minLength: 1
      - in: query
        name: api-version
        description: The version of the REST APIs.
        schema:
          type: string
          default: 2021-05-01-preview
      responses:
        '202':
          description: Success
        default:
          description: Error response
          x-ms-error-response: true
      description: Needs a more full description created.
      requestBody:
        content:
          application/octet-stream:
            schema:
              format: binary
              type: string
          text/plain:
            schema:
              format: binary
              type: string
          application/json:
            schema:
              format: binary
              type: string
        description: The payload body.
        required: true
  /api/hubs/{hub}/users/{userId}/groups/{group}:
    put:
      tags:
      - Web Pub Sub
      summary: Microsoft Azure Add A User To The Target Group
      operationId: microsoftAzureWebpubsubAddusertogroup
      parameters:
      - in: path
        name: hub
        description: Target hub name, which should start with alphabetic characters and only contain alpha-numeric characters or underscore.
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z][A-Za-z0-9_`,.[\]]{0,127}$
      - in: path
        name: group
        description: Target group name, which length should be greater than 0 and less than 1025.
        required: true
        schema:
          type: string
          maxLength: 1024
          minLength: 1
      - in: path
        name: userId
        description: Target user Id.
        required: true
        schema:
          type: string
          minLength: 1
      - in: query
        name: api-version
        description: The version of the REST APIs.
        schema:
          type: string
          default: 2021-05-01-preview
      responses:
        '200':
          description: Success
        '404':
          description: Not Found
        default:
          description: Error response
          x-ms-error-response: true
      description: Needs a more full description created.
    delete:
      tags:
      - Web Pub Sub
      summary: Microsoft Azure Remove A User From The Target Group
      operationId: microsoftAzureWebpubsubRemoveuserfromgroup
      parameters:
      - in: path
        name: hub
        description: Target hub name, which should start with alphabetic characters and only contain alpha-numeric characters or underscore.
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z][A-Za-z0-9_`,.[\]]{0,127}$
      - in: path
        name: group
        description: Target group name, which length should be greater than 0 and less than 1025.
        required: true
        schema:
          type: string
          maxLength: 1024
          minLength: 1
      - in: path
        name: userId
        description: Target user Id.
        required: true
        schema:
          type: string
          minLength: 1
      - in: query
        name: api-version
        description: The version of the REST APIs.
        schema:
          type: string
          default: 2021-05-01-preview
      responses:
        '200':
          description: Success
        default:
          description: Error response
          x-ms-error-response: true
      description: Needs a more full description created.
  /api/hubs/{hub}/users/{userId}/groups:
    delete:
      tags:
      - Web Pub Sub
      summary: Microsoft Azure Remove A User From All Groups
      operationId: microsoftAzureWebpubsubRemoveuserfromallgroups
      parameters:
      - in: path
        name: hub
        description: Target hub name, which should start with alphabetic characters and only contain alpha-numeric characters or underscore.
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z][A-Za-z0-9_`,.[\]]{0,127}$
      - in: path
        name: userId
        description: Target user Id.
        required: true
        schema:
          type: string
          minLength: 1
      - in: query
        name: api-version
        description: The version of the REST APIs.
        schema:
          type: string
          default: 2021-05-01-preview
      responses:
        '200':
          description: The user is deleted.
        default:
          description: Error response
          x-ms-error-response: true
      description: Needs a more full description created.
  /api/hubs/{hub}/permissions/{permission}/connections/{connectionId}:
    put:
      tags:
      - Web Pub Sub
      summary: Microsoft Azure Grant Permission To The Connection
      operationId: microsoftAzureWebpubsubGrantpermission
      parameters:
      - in: path
        name: hub
        description: Target hub name, which should start with alphabetic characters and only contain alpha-numeric characters or underscore.
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z][A-Za-z0-9_`,.[\]]{0,127}$
      - in: path
        name: permission
        description: 'The permission: current supported actions are joinLeaveGroup and sendToGroup.'
        required: true
        x-ms-enum:
          name: WebPubSubPermission
          modelAsString: true
        schema:
          type: string
          enum:
          - sendToGroup
          - joinLeaveGroup
      - in: path
        name: connectionId
        description: Target connection Id.
        required: true
        schema:
          type: string
          minLength: 1
      - in: query
        name: targetName
        description: The meaning of the target depends on the specific permission. For joinLeaveGroup and sendToGroup, targetName is a required parameter standing for the group name.
        schema:
          type: string
      - in: query
        name: api-version
        description: The version of the REST APIs.
        schema:
          type: string
          default: 2021-05-01-preview
      responses:
        '200':
          description: Success
        default:
          description: Error response
          x-ms-error-response: true
      description: Needs a more full description created.
    delete:
      tags:
      - Web Pub Sub
      summary: Microsoft Azure Revoke Permission For The Connection
      operationId: microsoftAzureWebpubsubRevokepermission
      parameters:
      - in: path
        name: hub
        description: Target hub name, which should start with alphabetic characters and only contain alpha-numeric characters or underscore.
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z][A-Za-z0-9_`,.[\]]{0,127}$
      - in: path
        name: permission
        description: 'The permission: current supported actions are joinLeaveGroup and sendToGroup.'
        required: true
        x-ms-enum:
          name: WebPubSubPermission
          modelAsString: true
        schema:
          type: string
          enum:
          - sendToGroup
          - joinLeaveGroup
      - in: path
        name: connectionId
        description: Target connection Id.
        required: true
        schema:
          type: string
          minLength: 1
      - in: query
        name: targetName
        description: The meaning of the target depends on the specific permission. For joinLeaveGroup and sendToGroup, targetName is a required parameter standing for the group name.
        schema:
          type: string
      - in: query
        name: api-version
        description: The version of the REST APIs.
        schema:
          type: string
          default: 2021-05-01-preview
      responses:
        '200':
          description: Success
        default:
          description: Error response
          x-ms-error-response: true
      description: Needs a more full description created.
    head:
      tags:
      - Web Pub Sub
      summary: Microsoft Azure Check If A Connection Has Permission To The Specified Action
      operationId: microsoftAzureWebpubsubCheckpermission
      parameters:
      - in: path
        name: hub
        description: Target hub name, which should start with alphabetic characters and only contain alpha-numeric characters or underscore.
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z][A-Za-z0-9_`,.[\]]{0,127}$
      - in: path
        name: permission
        description: 'The permission: current supported actions are joinLeaveGroup and sendToGroup.'
        required: true
        x-ms-enum:
          name: WebPubSubPermission
          modelAsString: true
        schema:
          type: string
          enum:
          - sendToGroup
          - joinLeaveGroup
      - in: path
        name: connectionId
        description: Target connection Id.
        required: true
        schema:
          type: string
          minLength: 1
      - in: query
        name: targetName
        description: The meaning of the target depends on the specific permission. For joinLeaveGroup and sendToGroup, targetName is a required parameter standing for the group name.
        schema:
          type: string
      - in: query
        name: api-version
        description: The version of the REST APIs.
        schema:
          type: string
          default: 2021-05-01-preview
      responses:
        '200':
          description: Success
        '404':
          description: Not Found
        default:
          description: Error response
          x-ms-error-response: true
      description: Needs a more full description created.
  /providers/Microsoft.SignalRService/operations:
    get:
      tags:
      - Web Pub Sub
      description: Lists all of the available REST API operations of the Microsoft.SignalRService provider.
      operationId: microsoftAzureOperationsList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success. The response describes the list of operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Operations_List:
          $ref: ./examples/Operations_List.json
      summary: Microsoft Azure Get Providers Microsoft Signalrservice Operations
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.SignalRService/locations/{location}/checkNameAvailability:
    post:
      tags:
      - Web Pub Sub
      description: Checks that the resource name is valid and is not already in use.
      operationId: microsoftAzureWebpubsubChecknameavailability
      parameters:
      - in: path
        name: location
        description: the region
        required: true
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Success. The response describes the name availability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameAvailability'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        WebPubSub_CheckNameAvailability:
          $ref: ./examples/WebPubSub_CheckNameAvailability.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NameAvailabilityParameters'
        description: Parameters supplied to the operation.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.SignalRService/locations/{location}/usages:
    get:
      tags:
      - Web Pub Sub
      description: List resource usage quotas by location.
      operationId: microsoftAzureUsagesList
      parameters:
      - in: path
        name: location
        description: the location like "eastus"
        required: true
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Success. The response describe the usage quotas of a subscription in specified region.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalRServiceUsageList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Usages_List:
          $ref: ./examples/Usages_List.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.SignalRService/webPubSub:
    get:
      tags:
      - Web Pub Sub
      description: Handles requests to list all resources in a subscription.
      operationId: microsoftAzureWebpubsubListbysubscription
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Success. The response describes the list of resources in the subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebPubSubResourceList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        WebPubSub_ListBySubscription:
          $ref: ./examples/WebPubSub_ListBySubscription.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub:
    get:
      tags:
      - Web Pub Sub
      description: Handles requests to list all resources in a resource group.
      operationId: microsoftAzureWebpubsubListbyresourcegroup
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      responses:
        '200':
          description: Success. The response describes the list of resources in a resourceGroup.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebPubSubResourceList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        WebPubSub_ListByResourceGroup:
          $ref: ./examples/WebPubSub_ListByResourceGroup.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}
  : get:
      tags:
      - Web Pub Sub
      description: Get the resource and its properties.
      operationId: microsoftAzureWebpubsubGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      responses:
        '200':
          description: Success. The response describes the corresponding resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebPubSubResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        WebPubSub_Get:
          $ref: ./examples/WebPubSub_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    put:
      tags:
      - Web Pub Sub
      description: Create or update a resource.
      operationId: microsoftAzureWebpubsubCreateorupdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      responses:
        '200':
          description: Success. The response describes a resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebPubSubResource'
        '201':
          description: Created. The response describes the new resource and contains a Location header to query the operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebPubSubResource'
        '202':
          description: Accepted. The response indicates the exiting resource is now updating and contains a Location header to query the operation result..
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        WebPubSub_CreateOrUpdate:
          $ref: ./examples/WebPubSub_CreateOrUpdate.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebPubSubResource'
        description: Parameters for the create or update operation
        required: true
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - Web Pub Sub
      description: Operation to delete a resource.
      operationId: microsoftAzureWebpubsubDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      responses:
        '200':
          description: Success. The response indicates the resource is already deleted.
        '202':
          description: Accepted. The response indicates the delete operation is performed in the background.
        '204':
          description: Success. The response indicates the resource is already deleted.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        WebPubSub_Delete:
          $ref: ./examples/WebPubSub_Delete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    patch:
      tags:
      - Web Pub Sub
      description: Operation to update an exiting resource.
      operationId: microsoftAzureWebpubsubUpdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      responses:
        '200':
          description: Success. The response describes a resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebPubSubResource'
        '202':
          description: Accepted. The response indicates the exiting resource is now updating and contains a Location header to query the operation result..
          headers:
            Location:
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        WebPubSub_Update:
          $ref: ./examples/WebPubSub_Update.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebPubSubResource'
        description: Parameters for the update operation
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/customCertificates
  : get:
      tags:
      - Web Pub Sub
      description: List all custom certificates.
      operationId: microsoftAzureWebpubsubcustomcertificatesList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success. The response describes custom certificates of the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomCertificateList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        WebPubSubCustomCertificates_List:
          $ref: ./examples/WebPubSubCustomCertificates_List.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/customCertificates/{certificateName}
  : get:
      tags:
      - Web Pub Sub
      description: Get a custom certificate.
      operationId: microsoftAzureWebpubsubcustomcertificatesGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      - in: path
        name: certificateName
        description: Custom certificate name
        required: true
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success. The response describe the corresponding custom certificate.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomCertificate'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        WebPubSubCustomCertificates_Get:
          $ref: ./examples/WebPubSubCustomCertificates_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    put:
      tags:
      - Web Pub Sub
      description: Create or update a custom certificate.
      operationId: microsoftAzureWebpubsubcustomcertificatesCreateorupdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      - in: path
        name: certificateName
        description: Custom certificate name
        required: true
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success. The response describes the certificate.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomCertificate'
        '201':
          description: Created. The response describes the certificate.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomCertificate'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        WebPubSubCustomCertificates_CreateOrUpdate:
          $ref: ./examples/WebPubSubCustomCertificates_CreateOrUpdate.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomCertificate'
          text/json:
            schema:
              $ref: '#/components/schemas/CustomCertificate'
        required: true
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - Web Pub Sub
      description: Delete a custom certificate.
      operationId: microsoftAzureWebpubsubcustomcertificatesDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      - in: path
        name: certificateName
        description: Custom certificate name
        required: true
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success.
        '204':
          description: No Content.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        WebPubSubCustomCertificates_Delete:
          $ref: ./examples/WebPubSubCustomCertificates_Delete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/customDomains
  : get:
      tags:
      - Web Pub Sub
      description: List all custom domains.
      operationId: microsoftAzureWebpubsubcustomdomainsList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success. The response describes custom domains of the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDomainList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        WebPubSubCustomDomains_List:
          $ref: ./examples/WebPubSubCustomDomains_List.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/customDomains/{name}
  : get:
      tags:
      - Web Pub Sub
      description: Get a custom domain.
      operationId: microsoftAzureWebpubsubcustomdomainsGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      - in: path
        name: name
        description: Custom domain name.
        required: true
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success. The response describe the corresponding custom domain.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDomain'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        WebPubSubCustomDomains_Get:
          $ref: ./examples/WebPubSubCustomDomains_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    put:
      tags:
      - Web Pub Sub
      description: Create or update a custom domain.
      operationId: microsoftAzureWebpubsubcustomdomainsCreateorupdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      - in: path
        name: name
        description: Custom domain name.
        required: true
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '201':
          description: Created. The response describes the custom domain and contains a Location header to query the operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDomain'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        WebPubSubCustomDomains_CreateOrUpdate:
          $ref: ./examples/WebPubSubCustomDomains_CreateOrUpdate.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomDomain'
          text/json:
            schema:
              $ref: '#/components/schemas/CustomDomain'
        required: true
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - Web Pub Sub
      description: Delete a custom domain.
      operationId: microsoftAzureWebpubsubcustomdomainsDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      - in: path
        name: name
        description: Custom domain name.
        required: true
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success. The response indicates the custom domain is deleted.
        '202':
          description: Accepted. The response indicates the operation is performed in the background.
        '204':
          description: Success. The response indicates the custom domain is deleted.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        WebPubSubCustomDomains_Delete:
          $ref: ./examples/WebPubSubCustomDomains_Delete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/hubs
  : get:
      tags:
      - Web Pub Sub
      description: List hub settings.
      operationId: microsoftAzureWebpubsubhubsList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      responses:
        '200':
          description: Success. The response describes hub settings of the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebPubSubHubList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        WebPubSubHubs_List:
          $ref: ./examples/WebPubSubHubs_List.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/hubs/{hubName}
  : get:
      tags:
      - Web Pub Sub
      description: Get a hub setting.
      operationId: microsoftAzureWebpubsubhubsGet
      parameters:
      - in: path
        name: hubName
        description: The hub name.
        required: true
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      responses:
        '200':
          description: Success. The response describe the corresponding hub setting.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebPubSubHub'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        WebPubSubHubs_Get:
          $ref: ./examples/WebPubSubHubs_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    put:
      tags:
      - Web Pub Sub
      description: Create or update a hub setting.
      operationId: microsoftAzureWebpubsubhubsCreateorupdate
      parameters:
      - in: path
        name: hubName
        description: The hub name.
        required: true
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      responses:
        '200':
          description: OK.The request makes no change. The response describes the existing hub setting.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebPubSubHub'
        '201':
          description: Created. The response describes the hub setting and contains a Location header to query the operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebPubSubHub'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        WebPubSubHubs_CreateOrUpdate:
          $ref: ./examples/WebPubSubHubs_CreateOrUpdate.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebPubSubHub'
        description: The resource of WebPubSubHub and its properties
        required: true
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - Web Pub Sub
      description: Delete a hub setting.
      operationId: microsoftAzureWebpubsubhubsDelete
      parameters:
      - in: path
        name: hubName
        description: The hub name.
        required: true
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      responses:
        '200':
          description: OK.
        '202':
          description: Accepted. The response indicates the delete operation is performed in the background.
        '204':
          description: Success. The response indicates the hub setting is already deleted.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        WebPubSubHubs_Delete:
          $ref: ./examples/WebPubSubHubs_Delete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/listKeys
  : post:
      tags:
      - Web Pub Sub
      description: Get the access keys of the resource.
      operationId: microsoftAzureWebpubsubListkeys
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      responses:
        '200':
          description: Success. The response describes access keys of the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebPubSubKeys'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        WebPubSub_ListKeys:
          $ref: ./examples/WebPubSub_ListKeys.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/privateEndpointConnections
  : get:
      tags:
      - Web Pub Sub
      description: List private endpoint connections
      operationId: microsoftAzureWebpubsubprivateendpointconnectionsList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      responses:
        '200':
          description: Success. The response describes a list of private endpoint connections.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        WebPubSubPrivateEndpointConnections_List:
          $ref: ./examples/WebPubSubPrivateEndpointConnections_List.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/privateEndpointConnections/{privateEndpointConnectionName}
  : get:
      tags:
      - Web Pub Sub
      description: Get the specified private endpoint connection
      operationId: microsoftAzureWebpubsubprivateendpointconnectionsGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/privatelinks.json#/parameters/PrivateEndpointConnectionName
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      responses:
        '200':
          description: Success. The response describes a private endpoint connection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        WebPubSubPrivateEndpointConnections_Get:
          $ref: ./examples/WebPubSubPrivateEndpointConnections_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    put:
      tags:
      - Web Pub Sub
      description: Update the state of specified private endpoint connection
      operationId: microsoftAzureWebpubsubprivateendpointconnectionsUpdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/privatelinks.json#/parameters/PrivateEndpointConnectionName
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      responses:
        '200':
          description: OK. The response indicates the private endpoint connection is updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        WebPubSubPrivateEndpointConnections_Update:
          $ref: ./examples/WebPubSubPrivateEndpointConnections_Update.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateEndpointConnection'
        description: The resource of private endpoint and its properties
        required: true
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - Web Pub Sub
      description: Delete the specified private endpoint connection
      operationId: microsoftAzureWebpubsubprivateendpointconnectionsDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/privatelinks.json#/parameters/PrivateEndpointConnectionName
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      responses:
        '200':
          description: Success. The response indicates the resource is already deleted.
        '202':
          description: Accepted. The response indicates the delete operation is performed in the background.
        '204':
          description: Success. The response indicates the private endpoint connection is already deleted.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        WebPubSubPrivateEndpointConnections_Delete:
          $ref: ./examples/WebPubSubPrivateEndpointConnections_Delete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/privateLinkResources
  : get:
      tags:
      - Web Pub Sub
      description: Get the private link resources that need to be created for a resource.
      operationId: microsoftAzureWebpubsubprivatelinkresourcesList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      responses:
        '200':
          description: Success. The response describes a list of private link resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResourceList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        WebPubSubPrivateLinkResources_List:
          $ref: ./examples/WebPubSubPrivateLinkResources_List.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/regenerateKey
  : post:
      tags:
      - Web Pub Sub
      description: Regenerate the access key for the resource. PrimaryKey and SecondaryKey cannot be regenerated at the same time.
      operationId: microsoftAzureWebpubsubRegeneratekey
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebPubSubKeys'
        '202':
          description: Accepted and an async operation is executing in background to make the new key to take effect. The response contains new access keys and a Location header to query the async operation result.
          headers:
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebPubSubKeys'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        WebPubSub_RegenerateKey:
          $ref: ./examples/WebPubSub_RegenerateKey.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegenerateKeyParameters'
        description: Parameter that describes the Regenerate Key Operation.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/replicas
  : get:
      tags:
      - Web Pub Sub
      description: List all replicas belong to this resource
      operationId: microsoftAzureWebpubsubreplicasList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success. The response describes replicas of the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplicaList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        WebPubSubReplicas_List:
          $ref: ./examples/WebPubSubReplicas_List.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/replicas/{replicaName}
  : get:
      tags:
      - Web Pub Sub
      description: Get the replica and its properties.
      operationId: microsoftAzureWebpubsubreplicasGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ReplicaName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success. The response describes the corresponding replica.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Replica'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        WebPubSubReplicas_Get:
          $ref: ./examples/WebPubSubReplicas_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    put:
      tags:
      - Web Pub Sub
      description: Create or update a replica.
      operationId: microsoftAzureWebpubsubreplicasCreateorupdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ReplicaName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Updated. The response describes a replica.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Replica'
        '201':
          description: Created. The response describes the new replica and contains a Location header to query the operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Replica'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        WebPubSubReplicas_CreateOrUpdate:
          $ref: ./examples/WebPubSubReplicas_CreateOrUpdate.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Replica'
          text/json:
            schema:
              $ref: '#/components/schemas/Replica'
        description: Parameters for the create or update operation
        required: true
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - Web Pub Sub
      description: Operation to delete a replica.
      operationId: microsoftAzureWebpubsubreplicasDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ReplicaName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success. The response indicates the replica is deleted.
        '204':
          description: Success. The response indicates the replica is deleted.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        WebPubSubReplicas_Delete:
          $ref: ./examples/WebPubSubReplicas_Delete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    patch:
      tags:
      - Web Pub Sub
      description: Operation to update an exiting replica.
      operationId: microsoftAzureWebpubsubreplicasUpdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ReplicaName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success. The response describes a replica.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Replica'
        '202':
          description: Updated. The response describes the new replica and contains a Location header to query the operation result.
          headers:
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Replica'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        WebPubSubReplicas_Update:
          $ref: ./examples/WebPubSubReplicas_Update.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Replica'
          text/json:
            schema:
              $ref: '#/components/schemas/Replica'
        description: Parameters for the update operation
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/replicas/{replicaName}/restart
  : post:
      tags:
      - Web Pub Sub
      description: Operation to restart a replica.
      operationId: microsoftAzureWebpubsubreplicasRestart
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ReplicaName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '202':
          description: Accepted. The response indicates the restart operation is performed in the background.
          headers:
            Location:
              schema:
                type: string
        '204':
          description: Success. The response indicates the operation is successful and no content will be returned.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        WebPubSubReplicas_Restart:
          $ref: ./examples/WebPubSubReplicas_Restart.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/replicas/{replicaName}/sharedPrivateLinkResources
  : get:
      tags:
      - Web Pub Sub
      description: List shared private link resources
      operationId: microsoftAzureWebpubsubreplicasharedprivatelinkresourcesList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ReplicaName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success. The response describes a list of shared private link resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedPrivateLinkResourceList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        WebPubSubReplicaSharedPrivateLinkResources_List:
          $ref: ./examples/WebPubSubReplicaSharedPrivateLinkResources_List.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/replicas/{replicaName}/sharedPrivateLinkResources/{sharedPrivateLinkResourceName}
  : get:
      tags:
      - Web Pub Sub
      description: Get the specified shared private link resource
      operationId: microsoftAzureWebpubsubreplicasharedprivatelinkresourcesGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ReplicaName'
      - $ref: '#/components/parameters/SharedPrivateLinkResourceName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success. The response describes a shared private link resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedPrivateLinkResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        WebPubSubReplicaSharedPrivateLinkResources_Get:
          $ref: ./examples/WebPubSubReplicaSharedPrivateLinkResources_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    put:
      tags:
      - Web Pub Sub
      description: Create or update a shared private link resource
      operationId: microsoftAzureWebpubsubreplicasharedprivatelinkresourcesCreateorupdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ReplicaName'
      - $ref: '#/components/parameters/SharedPrivateLinkResourceName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK. The response indicates the shared private link resource is updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedPrivateLinkResource'
        '201':
          description: Created. The response indicates the shared private link resource is created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedPrivateLinkResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        WebPubSubReplicaSharedPrivateLinkResources_CreateOrUpdate:
          $ref: ./examples/WebPubSubReplicaSharedPrivateLinkResources_CreateOrUpdate.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SharedPrivateLinkResource'
          text/json:
            schema:
              $ref: '#/components/schemas/SharedPrivateLinkResource'
        description: The shared private link resource
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/replicas/{replicaName}/skus
  : get:
      tags:
      - Web Pub Sub
      description: List all available skus of the replica resource.
      operationId: microsoftAzureWebpubsubListreplicaskus
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ReplicaName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success. The response describes all available skus of the replica resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        WebPubSub_ListReplicaSkus:
          $ref: ./examples/WebPubSub_ListReplicaSkus.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/restart
  : post:
      tags:
      - Web Pub Sub
      description: Operation to restart a resource.
      operationId: microsoftAzureWebpubsubRestart
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      responses:
        '202':
          description: Accepted. The response indicates the restart operation is performed in the background.
          headers:
            Location:
              schema:
                type: string
        '204':
          description: Success. The response indicates the operation is successful and no content will be returned.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        WebPubSub_Restart:
          $ref: ./examples/WebPubSub_Restart.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/sharedPrivateLinkResources
  : get:
      tags:
      - Web Pub Sub
      description: List shared private link resources
      operationId: microsoftAzureWebpubsubsharedprivatelinkresourcesList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      responses:
        '200':
          description: Success. The response describes a list of shared private link resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedPrivateLinkResourceList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        WebPubSubSharedPrivateLinkResources_List:
          $ref: ./examples/WebPubSubSharedPrivateLinkResources_List.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/sharedPrivateLinkResources/{sharedPrivateLinkResourceName}
  : get:
      tags:
      - Web Pub Sub
      description: Get the specified shared private link resource
      operationId: microsoftAzureWebpubsubsharedprivatelinkresourcesGet
      parameters:
      - $ref: '#/components/parameters/SharedPrivateLinkResourceName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      responses:
        '200':
          description: Success. The response describes a shared private link resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedPrivateLinkResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        WebPubSubSharedPrivateLinkResources_Get:
          $ref: ./examples/WebPubSubSharedPrivateLinkResources_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    put:
      tags:
      - Web Pub Sub
      description: Create or update a shared private link resource
      operationId: microsoftAzureWebpubsubsharedprivatelinkresourcesCreateorupdate
      parameters:
      - $ref: '#/components/parameters/SharedPrivateLinkResourceName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      responses:
        '200':
          description: OK. The response indicates the shared private link resource is updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedPrivateLinkResource'
        '201':
          description: Created. The response indicates the shared private link resource is created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedPrivateLinkResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        WebPubSubSharedPrivateLinkResources_CreateOrUpdate:
          $ref: ./examples/WebPubSubSharedPrivateLinkResources_CreateOrUpdate.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SharedPrivateLinkResource'
        description: The shared private link resource
        required: true
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - Web Pub Sub
      description: Delete the specified shared private link resource
      operationId: microsoftAzureWebpubsubsharedprivatelinkresourcesDelete
      parameters:
      - $ref: '#/components/parameters/SharedPrivateLinkResourceName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ResourceName'
      responses:
        '200':
          description: Success. The response indicates the resource is already deleted.
        '202':
          description: Accepted. The response indicates the delete operation is performed in the background.
        '204':
          description: Success. The response indicates the private endpoint connection is already deleted.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        WebPubSubSharedPrivateLinkResources_Delete:
          $ref: ./examples/WebPubSubSharedPrivateLinkResources_Delete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
[...]
