openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft NetApp Pool Change API
  description: Microsoft NetApp Azure Resource Provider specification
  version: 2023-07-01-preview
  x-ms-code-generation-settings:
    name: AzureNetAppFilesManagementClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Pool Change
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/poolChange
  : post:
      tags:
      - Pool Change
      summary: Microsoft Azure Change Pool For Volume
      description: Moves volume to another pool
      operationId: microsoftAzureVolumesPoolchange
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountName'
      - $ref: '#/components/parameters/PoolName'
      - $ref: '#/components/parameters/VolumeName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK - terminal state
        '202':
          description: Accepted
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        Volumes_AuthorizeReplication:
          $ref: examples/Volumes_PoolChange.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/poolChangeRequest'
        description: Move volume to the pool supplied in the body of the operation.
        required: true
components:
  parameters:
    VolumeName:
      name: volumeName
      in: path
      required: true
      description: The name of the volume
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 1
        pattern: ^[a-zA-Z][a-zA-Z0-9\-_]{0,63}$
    AccountName:
      name: accountName
      in: path
      required: true
      description: The name of the NetApp account
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9\-_]{0,127}$
    PoolName:
      name: poolName
      in: path
      required: true
      description: The name of the capacity pool
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 1
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9\-_]{0,63}$
  schemas:
    poolChangeRequest:
      description: Pool change request
      type: object
      required:
      - newPoolResourceId
      properties:
        newPoolResourceId:
          type: string
          description: Resource id of the pool to move volume to
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
