openapi: 3.2.0
info:
  title: Microsoft Azure Azure SQL Database Datamasking Policies and…
  description: Provides create, read, update and delete functionality for Azure SQL Database datamasking policies and rules.
  version: '2014-04-01'
servers:
- url: https://management.azure.com
tags:
- name: DataMaskingPolicies
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/dataMaskingPolicies/{dataMaskingPolicyName}
  : put:
      tags:
      - DataMaskingPolicies
      operationId: microsoftAzureDatamaskingpoliciesCreateorupdate
      description: Creates or updates a database data masking policy
      x-ms-examples:
        Create or update data masking policy max:
          $ref: ./examples/DataMaskingPolicyCreateOrUpdateMax.json
        Create or update data masking policy min:
          $ref: ./examples/DataMaskingPolicyCreateOrUpdateMin.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/components/parameters/ServerNameParameter'
      - $ref: '#/components/parameters/DatabaseNameParameter'
      - $ref: '#/components/parameters/DataMaskingPolicyNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataMaskingPolicy'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataMaskingPolicy'
        description: Parameters for creating or updating a data masking policy.
        required: true
    get:
      tags:
      - DataMaskingPolicies
      operationId: microsoftAzureDatamaskingpoliciesGet
      description: Gets a database data masking policy.
      x-ms-examples:
        Get data masking policy:
          $ref: ./examples/DataMaskingPolicyGet.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/components/parameters/ServerNameParameter'
      - $ref: '#/components/parameters/DatabaseNameParameter'
      - $ref: '#/components/parameters/DataMaskingPolicyNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataMaskingPolicy'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  parameters:
    ServerNameParameter:
      name: serverName
      in: path
      required: true
      description: The name of the server.
      x-ms-parameter-location: method
      schema:
        type: string
    DatabaseNameParameter:
      name: databaseName
      in: path
      required: true
      description: The name of the database.
      x-ms-parameter-location: method
      schema:
        type: string
    DataMaskingPolicyNameParameter:
      name: dataMaskingPolicyName
      in: path
      required: true
      x-ms-enum:
        modelAsString: false
        name: DataMaskingPolicyName
      description: The name of the database for which the data masking rule applies.
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
        - Default
  schemas:
    DataMaskingPolicy:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/DataMaskingPolicyProperties'
          description: The properties of the data masking policy.
        location:
          type: string
          readOnly: true
          description: The location of the data masking policy.
        kind:
          type: string
          readOnly: true
          description: The kind of data masking policy. Metadata, used for Azure portal.
      allOf:
      - $ref: ../../../common/v1/types.json#/definitions/ProxyResource
      description: Represents a database data masking policy.
    DataMaskingPolicyProperties:
      properties:
        dataMaskingState:
          type: string
          description: The state of the data masking policy.
          enum:
          - Disabled
          - Enabled
          x-ms-enum:
            modelAsString: false
            name: DataMaskingState
        exemptPrincipals:
          type: string
          description: The list of the exempt principals. Specifies the semicolon-separated list of database users for which the data masking policy does not apply. The specified users receive data results without masking for all of the database queries.
        applicationPrincipals:
          type: string
          description: The list of the application principals. This is a legacy parameter and is no longer used.
          readOnly: true
        maskingLevel:
          type: string
          description: The masking level. This is a legacy parameter and is no longer used.
          readOnly: true
      required:
      - dataMaskingState
      description: The properties of a database data masking policy.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
