openapi: 3.2.0
info:
  version: '2020-06-01'
  title: Microsoft Azure PrivateLinkServicesForPowerBIClient Private…
  description: Client to manage Power BI Private Link Service resources and connection members.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: PrivateLinkServices
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.PowerBI/privateLinkServicesForPowerBI:
    get:
      tags:
      - PrivateLinkServices
      x-ms-examples:
        List private link resources in a subscription:
          $ref: ./examples/PrivateLinkServices_ListBySubscriptionId.json
      operationId: microsoftAzurePrivatelinkservicesforpowerbiListbysubscriptionid
      description: Gets all the private link resources for the given subscription id.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TenantResource'
        default:
          description: An error response received from Power BI service.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Powerbi…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBI/privateLinkServicesForPowerBI
  : get:
      tags:
      - PrivateLinkServices
      operationId: microsoftAzurePrivatelinkservicesListbyresourcegroup
      x-ms-examples:
        List private link resources in a resource group:
          $ref: ./examples/PrivateLinkServices_ListByResourceGroup.json
      description: Gets all the private link resources for the given resource group.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TenantResource'
        default:
          description: An error response received from Power BI service.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    PrivateEndpoint:
      title: PrivateEndpoint
      type: object
      properties:
        id:
          type: string
          description: Specifies the id of private endpoint.
    TenantProperties:
      title: TenantProperties
      type: object
      properties:
        tenantId:
          type: string
          description: Specifies the tenant id of the resource.
        privateEndpointConnections:
          type: array
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection'
          description: Specifies the private endpoint connections of the resource.
    ConnectionState:
      description: ConnectionState information.
      type: object
      properties:
        status:
          description: Status of the connection.
          enum:
          - Pending
          - Approved
          - Rejected
          - Disconnected
          type: string
          x-ms-enum:
            name: PersistedConnectionStatus
            modelAsString: true
        description:
          description: Description of the connection state.
          type: string
        actionsRequired:
          description: Actions required (if any).
          type: string
    PrivateEndpointConnection:
      title: PrivateEndpointConnection
      type: object
      properties:
        id:
          type: string
          readOnly: true
          description: Specifies the id of the resource.
        name:
          type: string
          readOnly: true
          description: Specifies the name of the resource.
        type:
          type: string
          readOnly: true
          description: Specifies the type of the resource.
        systemData:
          readOnly: true
          description: The system meta data relating to this resource.
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties'
          description: Specifies the properties of the private endpoint connection.
      x-ms-azure-resource: true
    TenantResource:
      title: TenantResource
      type: object
      properties:
        id:
          type: string
          readOnly: true
          description: Specifies the resource identifier of the resource.
        name:
          type: string
          description: Specifies the name of the resource.
          readOnly: true
        type:
          type: string
          readOnly: true
          description: Specifies the type of the resource.
        systemData:
          readOnly: true
          description: The system metadata relating to this resource.
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
        location:
          type: string
          description: Specifies the location of the resource.
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/TenantProperties'
          description: Specifies the properties of the resource.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Specifies the tags of the resource.
      x-ms-azure-resource: true
    PrivateEndpointConnectionProperties:
      title: PrivateEndpointConnectionProperties
      type: object
      properties:
        privateEndpoint:
          $ref: '#/components/schemas/PrivateEndpoint'
          description: Specifies the private endpoint.
        privateLinkServiceConnectionState:
          $ref: '#/components/schemas/ConnectionState'
          description: Specifies the connection state.
        provisioningState:
          description: Provisioning state of the Private Endpoint Connection.
          enum:
          - Creating
          - Updating
          - Deleting
          - Succeeded
          - Canceled
          - Failed
          type: string
          x-ms-enum:
            name: ResourceProvisioningState
            modelAsString: true
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: client
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to be used with the HTTP request.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
