openapi: 3.2.0
info:
  title: Microsoft Azure TrafficController Frontends Interface API
  version: 2023-05-01-preview
  description: Traffic Controller Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: FrontendsInterface
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceNetworking/trafficControllers/{trafficControllerName}/frontends
  : get:
      operationId: microsoftAzureFrontendsinterfaceListbytrafficcontroller
      tags:
      - FrontendsInterface
      description: List Frontend resources by TrafficController
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: trafficControllerName
        in: path
        description: traffic controller name for path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Get Frontends:
          $ref: ./examples/FrontendsGet.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceNetworking/trafficControllers/{trafficControllerName}/frontends/{frontendName}
  : get:
      operationId: microsoftAzureFrontendsinterfaceGet
      tags:
      - FrontendsInterface
      description: Get a Frontend
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: trafficControllerName
        in: path
        description: traffic controller name for path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$
      - name: frontendName
        in: path
        description: Frontends
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Frontend'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Get Frontend:
          $ref: ./examples/FrontendGet.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      operationId: microsoftAzureFrontendsinterfaceCreateorupdate
      tags:
      - FrontendsInterface
      description: Create a Frontend
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: trafficControllerName
        in: path
        description: traffic controller name for path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$
      - name: frontendName
        in: path
        description: Frontends
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$
      responses:
        '200':
          description: Resource 'Frontend' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Frontend'
        '201':
          description: Resource 'Frontend' create operation succeeded
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Frontend'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Put Frontend:
          $ref: ./examples/FrontendPut.json
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Frontend'
        description: Resource create parameters.
        required: true
    patch:
      operationId: microsoftAzureFrontendsinterfaceUpdate
      tags:
      - FrontendsInterface
      description: Update a Frontend
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: trafficControllerName
        in: path
        description: traffic controller name for path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$
      - name: frontendName
        in: path
        description: Frontends
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Frontend'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Update Frontend:
          $ref: ./examples/FrontendPatch.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FrontendUpdate'
        description: The resource properties to be updated.
        required: true
    delete:
      operationId: microsoftAzureFrontendsinterfaceDelete
      tags:
      - FrontendsInterface
      description: Delete a Frontend
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: trafficControllerName
        in: path
        description: traffic controller name for path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$
      - name: frontendName
        in: path
        description: Frontends
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$
      responses:
        '200':
          description: Resource deleted successfully.
        '202':
          description: Resource deletion accepted.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        '204':
          description: Resource deleted successfully.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Delete Frontend:
          $ref: ./examples/FrontendDelete.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    ProvisioningState:
      type: string
      enum:
      - Provisioning
      - Updating
      - Deleting
      - Accepted
      - Succeeded
      - Failed
      - Canceled
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    Frontend:
      type: object
      description: Frontend Subresource of Traffic Controller.
      properties:
        properties:
          $ref: '#/components/schemas/FrontendProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
    FrontendListResult:
      type: object
      description: The response of a Frontend list operation.
      properties:
        value:
          type: array
          description: The Frontend items on this page
          items:
            $ref: '#/components/schemas/Frontend'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    FrontendUpdate:
      type: object
      description: The type used for update operations of the Frontend.
      properties:
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
    FrontendProperties:
      type: object
      description: Frontend Properties.
      properties:
        fqdn:
          type: string
          description: The Fully Qualified Domain Name of the DNS record associated to a Traffic Controller frontend.
          readOnly: true
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: Provisioning State of Traffic Controller Frontend Resource
          readOnly: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
