openapi: 3.2.0
info:
  version: 2018-03-01-preview
  title: Microsoft Azure BillingManagementClient Enrollment Accounts…
  description: Billing client provides access to billing resources for Azure subscriptions.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: EnrollmentAccounts
paths:
  /providers/Microsoft.Billing/enrollmentAccounts:
    get:
      tags:
      - EnrollmentAccounts
      x-ms-examples:
        EnrollmentAccountsList:
          $ref: ./examples/EnrollmentAccountsList.json
      operationId: microsoftAzureEnrollmentaccountsList
      description: Lists the enrollment accounts the caller has access to.
      parameters:
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrollmentAccountListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Billing Enrollmentaccounts
  /providers/Microsoft.Billing/enrollmentAccounts/{name}:
    get:
      tags:
      - EnrollmentAccounts
      x-ms-examples:
        EnrollmentAccountsGet:
          $ref: ./examples/EnrollmentAccountsGet.json
      operationId: microsoftAzureEnrollmentaccountsGet
      description: Gets a enrollment account by name.
      parameters:
      - name: name
        in: path
        description: Enrollment Account name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrollmentAccountSummary'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Providers Microsoft Billing Enrollmentaccounts Name
components:
  schemas:
    ErrorSubDetails:
      type: array
      items:
        type: object
        properties:
          code:
            description: Error code.
            type: string
            readOnly: true
          message:
            description: Error message indicating why the operation failed.
            type: string
            readOnly: true
          target:
            description: The target of the particular error.
            type: string
            readOnly: true
    ErrorResponse:
      description: Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.
      type: object
      properties:
        error:
          description: The details of the error.
          $ref: '#/components/schemas/ErrorDetails'
    EnrollmentAccountSummary:
      description: An enrollment account resource.
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          description: An enrollment account.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/EnrollmentAccountSummaryProperties'
    Resource:
      description: The Resource model definition.
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
      x-ms-azure-resource: true
    EnrollmentAccountSummaryProperties:
      description: The properties of the enrollment account.
      properties:
        principalName:
          description: The account owner's principal name.
          type: string
          readOnly: true
    EnrollmentAccountListResult:
      description: Result of listing enrollment accounts.
      properties:
        value:
          description: The list of enrollment accounts.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/EnrollmentAccountSummary'
        nextLink:
          description: The link (url) to the next page of results.
          type: string
          readOnly: true
    ErrorDetails:
      description: The details of the error.
      properties:
        code:
          description: Error code.
          type: string
          readOnly: true
        message:
          description: Error message indicating why the operation failed.
          type: string
          readOnly: true
        target:
          description: The target of the particular error.
          type: string
          readOnly: true
        details:
          description: The sub details of the error.
          readOnly: true
          $ref: '#/components/schemas/ErrorSubDetails'
  parameters:
    apiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Version of the API to be used with the client request. The current version is 2018-03-01-preview.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
