openapi: 3.2.0
info:
  title: Microsoft Azure Azure API for managing SCOM managed…
  description: Azure Monitor Operations Manager Managed Instance (SCOM MI) management APIs
  version: 2023-07-07-preview
  x-ms-code-generation-settings:
    name: scomClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: SCOM Instances
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Scom/managedInstances:
    get:
      operationId: microsoftAzureInstancesListbysubscription
      description: Lists all SCOM managed instances in a subscription
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
      - SCOM Instances
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitoringInstanceList'
        default:
          description: An error response providing a description of the reason for the operation's failure.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Instances_ListBySubscription:
          $ref: ./examples/Instances_ListBySubscription.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Scom…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Scom/managedInstances/{instanceName}
  : put:
      operationId: microsoftAzureInstancesCreateorupdate
      description: Create or update SCOM managed instance
      tags:
      - SCOM Instances
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/instanceName'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      - in: query
        name: validationMode
        description: Validation mode for the SCOM managed instance
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Managed instance update successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedInstance'
        '201':
          description: Managed instance create request successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedInstance'
        '202':
          description: accepted operation
          headers:
            Location:
              schema:
                type: string
            Azure-AsyncOperation:
              description: The URL to retrieve the status of the asynchronous operation.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedInstance'
        default:
          description: An error response providing a description of the reason for the operation's failure.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        Instances_CreateOrUpdate:
          $ref: ./examples/Instance_Create.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedInstance'
        description: SCOM Managed Instance
        required: true
    delete:
      operationId: microsoftAzureInstancesDelete
      description: Delete a SCOM managed instance
      tags:
      - SCOM Instances
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/instanceName'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The deletion operation has been successful.
        '202':
          description: Accepted. The deletion will be processed asynchronously.
          headers:
            Location:
              schema:
                type: string
            Azure-AsyncOperation:
              description: The URL to retrieve the status of the asynchronous operation.
              schema:
                type: string
        '204':
          description: No content. No managed instance to delete.
        default:
          description: An error response providing a description of the reason for the operation's failure.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        Instances_Delete:
          $ref: ./examples/Instance_Delete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    ManagementServerProperties:
      description: The properties of management server
      type: object
      properties:
        serverName:
          description: Management server Name
          type: string
          readOnly: true
        vmResId:
          description: Azure VM Resource Id of the Management server.
          type: string
          readOnly: true
        fqdn:
          description: Management server Fully Qualified Domain Name.
          type: string
          readOnly: true
        serverRoles:
          description: Represent whether the Server is a Management Server and/or Web Console Server.
          type: string
          readOnly: true
        healthState:
          description: Management server health state.
          type: string
          readOnly: true
    ManagedIdentity:
      description: Azure Active Directory identity configuration for a resource.
      type: object
      properties:
        type:
          description: The identity type
          enum:
          - None
          - UserAssigned
          - SystemAssigned
          - SystemAssigned,UserAssigned
          type: string
          x-ms-enum:
            name: ManagedIdentityType
            modelAsString: true
        principalId:
          description: System Assigned Identity ObjectId.
          type: string
          readOnly: true
        tenantId:
          description: The Azure Active Directory tenant id.
          type: string
          readOnly: true
        userAssignedIdentities:
          description: The resource ids of the user assigned identities to use
          type: object
          additionalProperties:
            $ref: '#/components/schemas/UserIdentity'
    DomainUserCredentials:
      description: Get Domain user name and password from key vault
      type: object
      properties:
        keyVaultUrl:
          description: Key vault url to get the domain username and password
          type: string
        userNameSecret:
          description: 'Domain user name secret '
          type: string
        passwordSecret:
          description: 'Domain Password secret '
          type: string
    DomainControllerProperties:
      description: The properties of domain controller to which SCOM and SQL servers join for AuthN/AuthZ.
      type: object
      properties:
        domainName:
          description: Fully qualified domain name
          type: string
        dnsServer:
          description: 'IP address of DNS server '
          type: string
        ouPath:
          description: Organizational Unit path in which the SCOM servers will be present
          type: string
          default: ''
    ManagedInstance:
      type: object
      description: A SCOM instance resource
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource
      properties:
        properties:
          description: The properties of a SCOM instance resource
          $ref: '#/components/schemas/MonitoringInstanceProperties'
        identity:
          description: The Azure Active Directory identity of the SCOM instance
          $ref: '#/components/schemas/ManagedIdentity'
          x-ms-mutability:
          - create
          - read
    logAnalyticsConfiguration:
      type: object
      description: Configuration for Log Analytics linking to SCOM managed instance.
      properties:
        workspaceId:
          description: The resource ID of the Log Analytics workspace to be used.
          type: string
        dataTypes:
          description: The types of data to be ingested to Log Analytics workspace.
          type: array
          items:
            type: string
            enum:
            - State
            - Performance
            - Event
            - Audit
            x-ms-enum:
              name: DataType
              modelAsString: true
        importData:
          description: A one-time optional parameter to import data of last 7 days.
          default: false
          type: boolean
    MonitoringInstanceProperties:
      description: The properties of a SCOM instance resource
      type: object
      properties:
        productVersion:
          description: SCOM product version to be installed on instance
          type: string
          readOnly: true
        vNetSubnetId:
          description: Virtual Network subnet id on which Aquila instance will be provisioned
          type: string
        managementEndpoints:
          description: List of management server endpoints
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ManagementServerProperties'
          x-ms-identifiers: []
        databaseInstance:
          description: The database instance where the SCOM Operational and Warehouse databases will be stored.
          $ref: '#/components/schemas/DatabaseInstanceProperties'
        domainController:
          description: Domain controller details
          $ref: '#/components/schemas/DomainControllerProperties'
        domainUserCredentials:
          description: Domain user which will be used to join VMs to domain and login to VMs.
          $ref: '#/components/schemas/DomainUserCredentials'
        gmsaDetails:
          description: Gmsa Details for load balancer and vmss
          $ref: '#/components/schemas/GmsaDetails'
        azureHybridBenefit:
          description: The properties to enable Azure Hybrid benefit for various SCOM infrastructure license.
          $ref: '#/components/schemas/AzureHybridBenefitProperties'
        provisioningState:
          description: Gets or sets the provisioning state.
          type: string
          readOnly: true
        logAnalyticsProperties:
          description: Details of Log Analytics workspace and data being ingested.
          readOnly: true
          $ref: '#/components/schemas/logAnalyticsConfiguration'
        operationsStatus:
          description: Gets status of current and latest SCOM managed instance operations.
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ManagedInstanceOperationStatus'
          x-ms-identifiers:
          - id
    ManagedInstanceOperationStatus:
      description: Gets status of current and latest SCOM managed instance operation.
      type: object
      properties:
        operationName:
          description: Operation Name
          type: string
          readOnly: true
        operationState:
          description: Operation status
          type: string
          readOnly: true
        id:
          description: Operation id
          type: string
          readOnly: true
    AzureHybridBenefitProperties:
      type: object
      description: The properties to maximize savings by using Azure Hybrid Benefit
      properties:
        scomLicenseType:
          description: SCOM license type. Maximize savings by using license you already own
          $ref: '#/components/schemas/LicenseTypeEnum'
        windowsServerLicenseType:
          description: Specifies that the image or disk that is being used was licensed on-premises. <br><br> For more information, see [Azure Hybrid Use Benefit for Windows Server](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-windows-hybrid-use-benefit-licensing?toc=%2fazure%2fvirtual-machines%2fwindows%2ftoc.json)
          $ref: '#/components/schemas/LicenseTypeEnum'
        sqlServerLicenseType:
          description: SQL Server license type. Maximize savings by using Azure Hybrid Benefit for SQL Server with license you already own
          $ref: '#/components/schemas/LicenseTypeEnum'
    LicenseTypeEnum:
      description: The license type associated with different SCOM infrastructure components.
      type: string
      enum:
      - None
      - AzureHybridBenefit
      x-ms-enum:
        name: hybridLicenseType
        modelAsString: true
    UserIdentity:
      description: Azure Active Directory identity configuration for a resource.
      type: object
      properties:
        principalId:
          description: The Azure Active Directory principal id.
          type: string
          readOnly: true
        clientId:
          description: The Azure Active Directory client id.
          type: string
          readOnly: true
    GmsaDetails:
      description: Gmsa Details
      type: object
      properties:
        loadBalancerIP:
          description: Frontend IP configuration for Load Balancer, which should be an available IP in customer VNet
          type: string
        gmsaAccount:
          description: gMSA account under which context all Management Server services will run
          type: string
        managementServerGroupName:
          description: OnPrem AD Computer Group where we will join VMs for ease of management
          type: string
        dnsName:
          description: Frontend DNS name for Load Balancer which will be used by Agents to initiate communication
          type: string
    DatabaseInstanceProperties:
      description: The properties of database instance
      type: object
      properties:
        databaseInstanceId:
          description: Resource Id of existing database instance
          type: string
        databaseFqdn:
          description: Fully qualified domain name of existing database instance
          type: string
          readOnly: true
        dwDatabaseName:
          description: Name of warehouse database on database instance
          type: string
          readOnly: true
        operationalDatabaseId:
          description: Resource Id of operational database on database instance
          type: string
          readOnly: true
        dwDatabaseId:
          description: Resource Id of warehouse database on database instance
          type: string
          readOnly: true
    MonitoringInstanceList:
      description: A paged list of SCOM managed instances
      type: object
      properties:
        value:
          description: The items on the page
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/ManagedInstance'
        nextLink:
          description: URL to get the next page if any
          type: string
          readOnly: true
  parameters:
    instanceName:
      name: instanceName
      in: path
      required: true
      description: Name of the Azure Monitor Operations Manager Managed Instance (SCOM MI)
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9-_]*$
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
