openapi: 3.2.0
info:
  title: Microsoft Azure Monitors API
  x-refined-note:
  - x-cadl-generated differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Monitors across 3 of this provider''s published API definitions: dynatraceobservability-openapi-original.yml, microsoftlogz-openapi-original.yml, newrelicobservability-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
tags:
- name: Monitors
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Dynatrace.Observability/monitors/{monitorName}/getAccountCredentials
  : post:
      operationId: microsoftAzureMonitorsGetaccountcredentials
      summary: Microsoft Azure Gets The User Account Credentials For A Monitor
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      responses:
        '200':
          description: Dynatrace account API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountInfoSecure'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      tags:
      - Monitors
      x-ms-examples:
        Monitors_GetAccountCredentials_MaximumSet_Gen:
          $ref: ./examples/Monitors_GetAccountCredentials_MaximumSet_Gen.json
        Monitors_GetAccountCredentials_MinimumSet_Gen:
          $ref: ./examples/Monitors_GetAccountCredentials_MinimumSet_Gen.json
      description: Needs a more full description created.
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Dynatrace.Observability/monitors/{monitorName}/listMonitoredResources
  : post:
      operationId: microsoftAzureMonitorsListmonitoredresources
      summary: Microsoft Azure List The Resources Currently Being Monitored By The Dynatrace…
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitoredResourceListResponse'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      tags:
      - Monitors
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Monitors_ListMonitoredResources_MaximumSet_Gen:
          $ref: ./examples/Monitors_ListMonitoredResources_MaximumSet_Gen.json
        Monitors_ListMonitoredResources_MinimumSet_Gen:
          $ref: ./examples/Monitors_ListMonitoredResources_MinimumSet_Gen.json
      description: Needs a more full description created.
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Dynatrace.Observability/monitors/{monitorName}/getVMHostPayload
  : post:
      operationId: microsoftAzureMonitorsGetvmhostpayload
      summary: Microsoft Azure Returns The Payload That Needs To Be Passed In The Request Body…
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VMExtensionPayload'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      tags:
      - Monitors
      x-ms-examples:
        Monitors_GetVMHostPayload_MaximumSet_Gen:
          $ref: ./examples/Monitors_GetVMHostPayload_MaximumSet_Gen.json
        Monitors_GetVMHostPayload_MinimumSet_Gen:
          $ref: ./examples/Monitors_GetVMHostPayload_MinimumSet_Gen.json
      description: Needs a more full description created.
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Dynatrace.Observability/monitors/{monitorName}
  : get:
      operationId: microsoftAzureMonitorsGet
      summary: Microsoft Azure Get A Monitorresource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitorResource'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      tags:
      - Monitors
      x-ms-examples:
        Monitors_Get_MaximumSet_Gen:
          $ref: ./examples/Monitors_Get_MaximumSet_Gen.json
        Monitors_Get_MinimumSet_Gen:
          $ref: ./examples/Monitors_Get_MinimumSet_Gen.json
      description: Needs a more full description created.
      security:
      - azure_auth:
        - user_impersonation
    put:
      operationId: microsoftAzureMonitorsCreateorupdate
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      summary: Microsoft Azure Create A Monitorresource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitorResource'
        '201':
          description: ARM create operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitorResource'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      tags:
      - Monitors
      x-ms-examples:
        Monitors_CreateOrUpdate_MaximumSet_Gen:
          $ref: ./examples/Monitors_CreateOrUpdate_MaximumSet_Gen.json
        Monitors_CreateOrUpdate_MinimumSet_Gen:
          $ref: ./examples/Monitors_CreateOrUpdate_MinimumSet_Gen.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonitorResource'
        description: Resource create parameters.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    patch:
      operationId: microsoftAzureMonitorsUpdate
      summary: Microsoft Azure Update A Monitorresource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitorResource'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      tags:
      - Monitors
      x-ms-examples:
        Monitors_Update_MaximumSet_Gen:
          $ref: ./examples/Monitors_Update_MaximumSet_Gen.json
        Monitors_Update_MinimumSet_Gen:
          $ref: ./examples/Monitors_Update_MinimumSet_Gen.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonitorResourceUpdate'
        description: The resource properties to be updated.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    delete:
      operationId: microsoftAzureMonitorsDelete
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      summary: Microsoft Azure Delete A Monitorresource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      responses:
        '200':
          description: Resource deleted successfully.
        '202':
          description: Resource deletion accepted.
        '204':
          description: Resource deleted successfully.
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      tags:
      - Monitors
      x-ms-examples:
        Monitors_Delete_MaximumSet_Gen:
          $ref: ./examples/Monitors_Delete_MaximumSet_Gen.json
        Monitors_Delete_MinimumSet_Gen:
          $ref: ./examples/Monitors_Delete_MinimumSet_Gen.json
      description: Needs a more full description created.
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Dynatrace.Observability/monitors:
    get:
      operationId: microsoftAzureMonitorsListbysubscriptionid
      summary: Microsoft Azure List All Monitorresource By Subscriptionid
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitorResourceListResult'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      tags:
      - Monitors
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Monitors_ListBySubscriptionId_MaximumSet_Gen:
          $ref: ./examples/Monitors_ListBySubscriptionId_MaximumSet_Gen.json
        Monitors_ListBySubscriptionId_MinimumSet_Gen:
          $ref: ./examples/Monitors_ListBySubscriptionId_MinimumSet_Gen.json
      description: Needs a more full description created.
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Dynatrace.Observability/monitors:
    get:
      operationId: microsoftAzureMonitorsListbyresourcegroup
      summary: Microsoft Azure List Monitorresource Resources By Resource Group
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitorResourceListResult'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      tags:
      - Monitors
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Monitors_ListByResourceGroup_MaximumSet_Gen:
          $ref: ./examples/Monitors_ListByResourceGroup_MaximumSet_Gen.json
        Monitors_ListByResourceGroup_MinimumSet_Gen:
          $ref: ./examples/Monitors_ListByResourceGroup_MinimumSet_Gen.json
      description: Needs a more full description created.
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Dynatrace.Observability/monitors/{monitorName}/listHosts
  : post:
      operationId: microsoftAzureMonitorsListhosts
      summary: Microsoft Azure List The Compute Resources Currently Being Monitored By The…
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VMHostsListResponse'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      tags:
      - Monitors
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Monitors_ListHosts_MaximumSet_Gen:
          $ref: ./examples/Monitors_ListHosts_MaximumSet_Gen.json
        Monitors_ListHosts_MinimumSet_Gen:
          $ref: ./examples/Monitors_ListHosts_MinimumSet_Gen.json
      description: Needs a more full description created.
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Dynatrace.Observability/monitors/{monitorName}/listAppServices
  : post:
      operationId: microsoftAzureMonitorsListappservices
      summary: Microsoft Azure Gets List Of App Services With Dynatrace Paas Oneagent Enabled
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceListResponse'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      tags:
      - Monitors
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Monitors_ListAppServices_MaximumSet_Gen:
          $ref: ./examples/Monitors_ListAppServices_MaximumSet_Gen.json
        Monitors_ListAppServices_MinimumSet_Gen:
          $ref: ./examples/Monitors_ListAppServices_MinimumSet_Gen.json
      description: Needs a more full description created.
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Dynatrace.Observability/monitors/{monitorName}/getSSODetails
  : post:
      operationId: microsoftAzureMonitorsGetssodetails
      summary: Microsoft Azure Gets The Sso Configuration Details From The Partner
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      - $ref: '#/components/parameters/SSODetailsRequestParameter'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSODetailsResponse'
        '401':
          description: User has insufficient permissions to update SSO configuration
          x-ms-error-response: true
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      tags:
      - Monitors
      x-ms-examples:
        Monitors_GetSSODetails_MaximumSet_Gen:
          $ref: ./examples/Monitors_GetSSODetails_MaximumSet_Gen.json
        Monitors_GetSSODetails_MinimumSet_Gen:
          $ref: ./examples/Monitors_GetSSODetails_MinimumSet_Gen.json
      description: Needs a more full description created.
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Dynatrace.Observability/monitors/{monitorName}/listLinkableEnvironments
  : post:
      operationId: microsoftAzureMonitorsListlinkableenvironments
      summary: Microsoft Azure Gets All The Dynatrace Environments That A User Can Link A…
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      - $ref: '#/components/parameters/LinkableEnvRequestParameter'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkableEnvironmentListResponse'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      tags:
      - Monitors
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Monitors_ListLinkableEnvironments_MaximumSet_Gen:
          $ref: ./examples/Monitors_ListLinkableEnvironments_MaximumSet_Gen.json
        Monitors_ListLinkableEnvironments_MinimumSet_Gen:
          $ref: ./examples/Monitors_ListLinkableEnvironments_MinimumSet_Gen.json
      description: Needs a more full description created.
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logz/monitors/{monitorName}/listMonitoredResources
  : post:
      tags:
      - Monitors
      summary: Microsoft Azure List The Resources Currently Being Monitored By The Logz…
      operationId: microsoftAzureMonitorsListmonitoredresources
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitoredResourceListResponse_2'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        MonitoredResources_List:
          $ref: ./examples/MonitoredResources_List.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.Logz/monitors:
    get:
      tags:
      - Monitors
      summary: Microsoft Azure List All Monitors Under The Specified Subscription
      operationId: microsoftAzureMonitorsListbysubscription
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogzMonitorResourceListResponse'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Monitors_List:
          $ref: ./examples/Monitors_List.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logz/monitors:
    get:
      tags:
      - Monitors
      summary: Microsoft Azure List All Monitors Under The Specified Resource Group
      operationId: microsoftAzureMonitorsListbyresourcegroup
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogzMonitorResourceListResponse'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Monitors_ListByResourceGroup:
          $ref: ./examples/Monitors_ListByResourceGroup.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logz/monitors/{monitorName}:
    get:
      tags:
      - Monitors
      summary: Microsoft Azure Get The Properties Of A Specific Monitor Resource
      operationId: microsoftAzureMonitorsGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogzMonitorResource'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Monitors_Get:
          $ref: ./examples/Monitors_Get.json
      description: Needs a more full description created.
    put:
      tags:
      - Monitors
      summary: Microsoft Azure Create A Monitor Resource This Create Operation Can Take Upto…
      operationId: microsoftAzureMonitorsCreate
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogzMonitorResource'
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogzMonitorResource'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Monitors_Create:
          $ref: ./examples/Monitors_Create.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogzMonitorResource'
    patch:
      tags:
      - Monitors
      summary: Microsoft Azure Update A Monitor Resource
      operationId: microsoftAzureMonitorsUpdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogzMonitorResource'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Monitors_Update:
          $ref: ./examples/Monitors_Update.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogzMonitorResourceUpdateParameters'
    delete:
      tags:
      - Monitors
      summary: Microsoft Azure Delete A Monitor Resource This Delete Operation Can Take Upto…
      operationId: microsoftAzureMonitorsDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
        '202':
          description: Success
          headers:
            location:
              description: URL to query for status of the operation.
              schema:
                type: string
        '204':
          description: Success
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        Monitors_Delete:
          $ref: ./examples/Monitors_Delete.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logz/monitors/{monitorName}/listUserRoles
  : post:
      tags:
      - Monitors
      summary: Microsoft Azure List The User S Roles Configured On Logz Io Side For The…
      operationId: microsoftAzureMonitorsListuserroles
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserRoleListResponse'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        MainAccount_VMHosts_Update:
          $ref: ./examples/MainAccount_listUserRoles.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRoleRequest'
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/NewRelic.Observability/monitors:
    get:
      tags:
      - Monitors
      operationId: microsoftAzureMonitorsListbysubscription
      description: List NewRelicMonitorResource resources by subscription ID
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewRelicMonitorResourceListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Monitors_ListBySubscription_MaximumSet_Gen:
          $ref: ./examples/Monitors_ListBySubscription_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Newrelic…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/NewRelic.Observability/monitors:
    get:
      tags:
      - Monitors
      operationId: microsoftAzureMonitorsListbyresourcegroup
      description: List NewRelicMonitorResource resources by resource group
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewRelicMonitorResourceListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Monitors_ListByResourceGroup_MaximumSet_Gen:
          $ref: ./examples/Monitors_ListByResourceGroup_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/NewRelic.Observability/monitors/{monitorName}:
    get:
      tags:
      - Monitors
      operationId: microsoftAzureMonitorsGet
      description: Get a NewRelicMonitorResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: monitorName
        in: path
        required: true
        description: Name of the Monitors resource
        schema:
          type: string
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewRelicMonitorResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Monitors_Get_MaximumSet_Gen:
          $ref: ./examples/Monitors_Get_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    put:
      tags:
      - Monitors
      operationId: microsoftAzureMonitorsCreateorupdate
      description: Create a NewRelicMonitorResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: monitorName
        in: path
        required: true
        description: Name of the Monitors resource
        schema:
          type: string
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewRelicMonitorResource'
        '201':
          description: ARM create operation completed successfully.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewRelicMonitorResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Monitors_CreateOrUpdate_MaximumSet_Gen:
          $ref: ./examples/Monitors_CreateOrUpdate_MaximumSet_Gen.json
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewRelicMonitorResource'
        description: Resource create parameters.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    patch:
      tags:
      - Monitors
      operationId: microsoftAzureMonitorsUpdate
      description: Update a NewRelicMonitorResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: monitorName
        in: path
        required: true
        description: Name of the Monitors resource
        schema:
          type: string
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewRelicMonitorResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Monitors_Update_MaximumSet_Gen:
          $ref: ./examples/Monitors_Update_MaximumSet_Gen.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewRelicMonitorResourceUpdate'
        description: The resource properties to be updated.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - Monitors
      operationId: microsoftAzureMonitorsDelete
      description: Delete a NewRelicMonitorResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/UserEmailParameter'
      - name: monitorName
        in: path
        required: true
        description: Name of the Monitors resource
        schema:
          type: string
      responses:
        '200':
          description: Resource deleted successfully.
        '202':
          description: Resource deletion accepted.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        '204':
          description: Resource deleted successfully.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Monitors_Delete_MaximumSet_Gen:
          $ref: ./examples/Monitors_Delete_MaximumSet_Gen.json
        Monitors_Delete_MinimumSet_Gen:
          $ref: ./examples/Monitors_Delete_MinimumSet_Gen.json
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/NewRelic.Observability/monitors/{monitorName}/getMetricRules
  : post:
      tags:
      - Monitors
      operationId: microsoftAzureMonitorsGetmetricrules
      description: Get metric rules
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: monitorName
        in: path
        required: true
        description: Name of the Monitors resource
        schema:
          type: string
      - $ref: '#/components/parameters/MetricsRequestParameter'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricRules'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Monitors_GetMetricRules_MaximumSet_Gen:
          $ref: ./examples/Monitors_GetMetricRules_MaximumSet_Gen.json
        Monitors_GetMetricRules_MinimumSet_Gen:
          $ref: ./examples/Monitors_GetMetricRules_MinimumSet_Gen.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/NewRelic.Observability/monitors/{monitorName}/getMetricStatus
  : post:
      tags:
      - Monitors
      operationId: microsoftAzureMonitorsGetmetricstatus
      description: Get metric status
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: monitorName
        in: path
        required: true
        description: Name of the Monitors resource
        schema:
          type: string
      - $ref: '#/components/parameters/MetricsStatusRequestParameter'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsStatusResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Monitors_GetMetricStatus_MaximumSet_Gen:
          $ref: ./examples/Monitors_GetMetricStatus_MaximumSet_Gen.json
        Monitors_GetMetricStatus_MinimumSet_Gen:
          $ref: ./examples/Monitors_GetMetricStatus_MinimumSet_Gen.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/NewRelic.Observability/monitors/{monitorName}/listAppServices
  : post:
      tags:
      - Monitors
      operationId: microsoftAzureMonitorsListappservices
      description: List the app service resources currently being monitored by the NewRelic resource.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: monitorName
        in: path
        required: true
        description: Name of the Monitors resource
        schema:
          type: string
      - $ref: '#/components/parameters/AppServicesGetParameter'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicesListResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Monitors_ListAppServices_MaximumSet_Gen:
          $ref: ./examples/Monitors_ListAppServices_MaximumSet_Gen.json
        Monitors_ListAppServices_MinimumSet_Gen:
          $ref: ./examples/Monitors_ListAppServices_MinimumSet_Gen.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/NewRelic.Observability/monitors/{monitorName}/switchBilling
  : post:
      tags:
      - Monitors
      operationId: microsoftAzureMonitorsSwitchbilling
      description: Switches the billing for NewRelic monitor resource.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: monitorName
        in: path
        required: true
        description: Name of the Monitors resource
        schema:
          type: string
      - $ref: '#/components/parameters/SwitchBillingParameter'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewRelicMonitorResource'
        '202':
          description: Resource operation accepted.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        '204':
          description: 'There is no content to send for this request, but the headers may be useful. '
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Monitors_SwitchBilling_MaximumSet_Gen:
          $ref: ./examples/Monitors_SwitchBilling_MaximumSet_Gen.json
        Monitors_SwitchBilling_MinimumSet_Gen:
          $ref: ./examples/Monitors_SwitchBilling_MinimumSet_Gen.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/NewRelic.Observability/monitors/{monitorName}/listHosts
  : post:
      tags:
      - Monitors
      operationId: microsoftAzureMonitorsListhosts
      description: List the compute vm resources currently being monitored by the NewRelic resource.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: monitorName
        in: path
        required: true
        description: Name of the Monitors resource
        schema:
          type: string
      - $ref: '#/components/parameters/HostsGetParameter'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VMHostsListResponse_2'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Monitors_ListHosts_MaximumSet_Gen:
          $ref: ./examples/Monitors_ListHosts_MaximumSet_Gen.json
        Monitors_ListHosts_MinimumSet_Gen:
          $ref: ./examples/Monitors_ListHosts_MinimumSet_Gen.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/NewRelic.Observability/monitors/{monitorName}/monitoredResources
  : post:
      tags:
      - Monitors
      operationId: microsoftAzureMonitorsListmonitoredresources
      description: List the resources currently being monitored by the NewRelic monitor resource.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: monitorName
        in: path
        required: true
        description: Name of the Monitors resource
        schema:
          type: string
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitoredResourceListResponse_3'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Monitors_ListMonitoredResources_MaximumSet_Gen:
          $ref: ./examples/Monitors_ListMonitoredResources_MaximumSet_Gen.json
        Monitors_ListMonitoredResources_MinimumSet_Gen:
          $ref: ./examples/Monitors_ListMonitoredResources_MinimumSet_Gen.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/NewRelic.Observability/monitors/{monitorName}/vmHostPayloads
  : post:
      tags:
      - Monitors
      operationId: microsoftAzureMonitorsVmhostpayload
      description: Returns the payload that needs to be passed in the request body for installing NewRelic agent on a VM.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: monitorName
        in: path
        required: true
        description: Name of the Monitors resource
        schema:
          type: string
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VMExtensionPayload_2'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Monitors_VmHostPayload_MaximumSet_Gen:
          $ref: ./examples/Monitors_VmHostPayload_MaximumSet_Gen.json
        Monitors_VmHostPayload_MinimumSet_Gen:
          $ref: ./examples/Monitors_VmHostPayload_MinimumSet_Gen.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
components:
  schemas:
    ManagedIdentityType:
      type: string
      description: The kind of managed identity assigned to this resource.
      enum:
      - SystemAssigned
      - UserAssigned
      - SystemAndUserAssigned
      x-ms-enum:
        name: ManagedIdentityType
        modelAsString: true
    UserInfo:
      type: object
      properties:
        firstName:
          $ref: '#/components/schemas/MediumString'
          description: First Name of the user
        lastName:
          $ref: '#/components/schemas/MediumString'
          description: Last Name of the user
        emailAddress:
          $ref: '#/components/schemas/email'
          description: Email of the user used by Dynatrace for contacting them if needed
        phoneNumber:
          type: string
          maxLength: 40
          description: Phone number of the user used by Dynatrace for contacting them if needed
        country:
          type: string
          description: Country of the user
      description: User info.
    SSOStatus:
      type: string
      description: Indicates whether SSO is enabled or not
      enum:
      - Enabled
      - Disabled
      x-ms-enum:
        name: SSOStatus
        modelAsString: true
    MonitoredResource:
      type: object
      properties:
        id:
          type: string
          description: The ARM id of the resource.
        sendingMetrics:
          $ref: '#/components/schemas/SendingMetricsStatus'
          description: Flag indicating if resource is sending metrics to Dynatrace.
        reasonForMetricsStatus:
          type: string
          description: Reason for why the resource is sending metrics (or why it is not sending).
        sendingLogs:
          $ref: '#/components/schemas/SendingLogsStatus'
          description: Flag indicating if resource is sending logs to Dynatrace.
        reasonForLogsStatus:
          type: string
          description: Reason for why the resource is sending logs (or why it is not sending).
      description: Details of resource being monitored by Dynatrace monitor resource
    AppServiceInfo:
      type: object
      properties:
        resourceId:
          type: string
          description: App service resource ID
        version:
          type: string
          description: Version of the Dynatrace agent installed on the App Service.
        monitoringType:
          $ref: '#/components/schemas/MonitoringType'
          description: The monitoring mode of OneAgent
        autoUpdateSetting:
          $ref: '#/components/schemas/AutoUpdateSetting'
          description: Update settings of OneAgent.
        updateStatus:
          $ref: '#/components/schemas/UpdateStatus'
          description: The current update status of OneAgent.
        availabilityState:
          $ref: '#/components/schemas/AvailabilityState'
          description: The availability state of OneAgent.
        logModule:
          $ref: '#/components/schemas/LogModule'
          description: Tells whether log modules are enabled or not
        hostGroup:
          type: string
          description: The name of the host group
        hostName:
          type: string
          description: The name of the host
      description: Details of App Services having Dynatrace OneAgent installed
    AutoUpdateSetting:
      type: string
      description: Update settings of OneAgent.
      enum:
      - ENABLED
      - DISABLED
      x-ms-enum:
        name: AutoUpdateSetting
        modelAsString: true
    DynatraceSingleSignOnProperties:
      type: object
      properties:
        singleSignOnState:
          $ref: '#/components/schemas/SingleSignOnStates'
          description: State of Single Sign On
        enterpriseAppId:
          type: string
          description: Version of the Dynatrace agent installed on the VM.
        singleSignOnUrl:
          type: string
          description: The login URL specific to this Dynatrace Environment
        aadDomains:
          type: array
          items:
            type: string
          x-cadl-name: string[]
          description: array of Aad(azure active directory) domains
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: Provisioning state of the resource.
          readOnly: true
      description: The details of a Dynatrace single sign-on.
    email:
      type: string
      pattern: ^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z]{2,}$
      description: Reusable representation of an email address
    MonitorResourceUpdate:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
          x-ms-mutability:
          - read
          - update
          - create
        monitoringStatus:
          $ref: '#/components/schemas/MonitoringStatus'
          description: Status of the monitor.
        marketplaceSubscriptionStatus:
          $ref: '#/components/schemas/MarketplaceSubscriptionStatus'
          description: Marketplace subscription status.
        dynatraceEnvironmentProperties:
          $ref: '#/components/schemas/DynatraceEnvironmentProperties'
          description: Properties of the Dynatrace environment.
        userInfo:
          $ref: '#/components/schemas/UserInfo'
          description: User info.
        planData:
          $ref: '#/components/schemas/PlanData'
          description: Billing plan information.
      description: The updatable properties of the MonitorResource.
    VMInfo:
      type: object
      properties:
        resourceId:
          type: string
          description: Azure VM resource ID
        version:
          type: string
          description: Version of the Dynatrace agent installed on the VM.
        monitoringType:
          $ref: '#/components/schemas/MonitoringType'
          description: The monitoring mode of OneAgent
        autoUpdateSetting:
          $ref: '#/components/schemas/AutoUpdateSetting'
          description: Update settings of OneAgent.
        updateStatus:
          $ref: '#/components/schemas/UpdateStatus'
          description: The current update status of OneAgent.
        availabilityState:
          $ref: '#/components/schemas/AvailabilityState'
          description: The availability state of OneAgent.
        logModule:
          $ref: '#/components/schemas/LogModule'
          description: Tells whether log modules are enabled or not
        hostGroup:
          type: string
          description: The name of the host group
        hostName:
          type: string
          description: The name of the host
      description: Details of VM Resource having Dynatrace OneAgent installed
    SendingMetricsStatus:
      type: string
      description: Indicates whether metrics are being sent.
      enum:
      - Enabled
      - Disabled
      x-ms-enum:
        name: SendingMetricsStatus
        modelAsString: true
    AccountInfoSecure:
      type: object
      properties:
        accountId:
          type: string
          description: Account Id of the account this environment is linked to
          readOnly: true
        apiKey:
          $ref: '#/components/schemas/SecureString'
          description: API Key of the user account
          readOnly: true
        regionId:
          type: string
          description: Region in which the account is created
          readOnly: true
      description: Dynatrace account API Key
    ProvisioningState:
      type: string
      description: Provisioning state of the monitoring resource
      enum:
      - Accepted
      - Creating
      - Updating
      - Deleting
      - Succeeded
      - Failed
      - Canceled
      - Deleted
      - NotSpecified
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    SendingLogsStatus:
      type: string
      description: Indicates whether logs are being sent.
      enum:
      - Enabled
      - Disabled
      x-ms-enum:
        name: SendingLogsStatus
        modelAsString: true
    MonitoringType:
      type: string
      description: The monitoring mode of OneAgent
      enum:
      - CLOUD_INFRASTRUCTURE
      - FULL_STACK
      x-ms-enum:
        name: MonitoringType
        modelAsString: true
    LogModule:
      type: string
      description: Tells whether log modules are enabled or not
      enum:
      - ENABLED
      - DISABLED
      x-ms-enum:
        name: LogModule
        modelAsString: true
    EnvironmentInfo:
      type: object
      properties:
        environmentId:
          type: string
          description: Id of the environment created
        ingestionKey:
          type: string
          description: Ingestion key of the environment
        logsIngestionEndpoint:
          type: string
          description: Ingestion endpoint used for sending logs
        landingURL:
          type: string
          description: Landing URL for Dynatrace environment
      description: Dynatrace Environment Information
    MonitorResource:
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/MonitorProperties'
          description: The resource-specific properties for this resource.
          x-ms-mutability:
          - read
          - create
          x-ms-client-flatten: true
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: System metadata for this resource.
          readOnly: true
        identity:
          $ref: '#/components/schemas/IdentityProperties'
          description: The managed service identities assigned to this resource.
      description: Dynatrace Monitor Resource
      required:
      - properties
      allOf:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource
    LinkableEnvironmentResponse:
      description: Response for getting all the linkable environments
      type: object
      properties:
        environmentId:
          type: string
          description: environment id for which user is an admin
        environmentName:
          type: string
          description: Name of the environment
        planData:
          $ref: '#/components/schemas/PlanData'
          description: Billing plan information.
    SSODetailsRequest:
      description: Request for getting sso details for a user
      type: object
      properties:
        userPrincipal:
          type: string
          description: user principal id of the user
    MonitorResourceListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/MonitorResource'
          x-cadl-name: Dynatrace.Observability.MonitorResource[]
          description: The items on this page
        nextLink:
          type: string
          description: The link to the next page of items
      description: The response of a MonitorResource list operation.
    LinkableEnvironmentRequest:
      description: Request for getting all the linkable environments for a user
      type: object
      properties:
        tenantId:
          type: string
          description: Tenant Id of the user in which they want to link the environment
        userPrincipal:
          type: string
          description: user principal id of the user
        region:
          type: string
          description: Azure region in which we want to link the environment
    PlanData:
      type: object
      properties:
        usageType:
          $ref: '#/components/schemas/MediumString'
          description: different usage type like PAYG/COMMITTED. this could be enum
        billingCycle:
          $ref: '#/components/schemas/MediumString'
          description: different billing cycles like MONTHLY/WEEKLY. this could be enum
        planDetails:
          $ref: '#/components/schemas/MediumString'
          description: plan id as published by Dynatrace
        effectiveDate:
          type: string
          format: date-time
          description: date when plan was applied
      description: Billing plan information.
    MediumString:
      type: string
      maxLength: 50
      description: Shorthand for setting length limit.
    AccountInfo:
      type: object
      properties:
        accountId:
          type: string
          description: Account Id of the account this environment is linked to
        regionId:
          type: string
          description: Region in which the account is created
      description: Dynatrace Account Information
    VMHostsListResponse:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/VMInfo'
          description: The items on this page
          x-ms-identifiers: []
        nextLink:
          type: string
          description: The link to the next page of items
      description: Response of a list VM Host Operation.
    IdentityProperties:
      type: object
      properties:
        tenantId:
          type: string
          description: The Active Directory tenant id of the principal.
          readOnly: true
        principalId:
          type: string
          description: The active directory identifier of this principal.
          readOnly: true
        type:
          $ref: '#/components/schemas/ManagedIdentityType'
          description: The type of managed identity assigned to this resource.
        userAssignedIdentities:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/UserAssignedIdentity'
          description: The identities assigned to this resource by the user.
      description: The properties of the managed service identities assigned to this resource.
      required:
      - type
    DynatraceEnvironmentProperties:
      type: object
      properties:
        userId:
          type: string
          description: User id
        accountInfo:
          $ref: '#/components/schemas/AccountInfo'
          description: Dynatrace Account Information
        environmentInfo:
          $ref: '#/components/schemas/EnvironmentInfo'
          description: Dynatrace Environment Information
        singleSignOnProperties:
          $ref: '#/components/schemas/DynatraceSingleSignOnProperties'
          description: The details of a Dynatrace single sign-on.
      description: Properties of the Dynatrace environment.
    UserAssignedIdentity:
      type: object
      properties:
        clientId:
          type: string
          description: The active directory client identifier for this principal.
        principalId:
          type: string
          description: The active directory identifier for this principal.
      description: A managed identity assigned by the user.
      required:
      - clientId
      - principalId
    UpdateStatus:
      type: string
      description: The current update status of OneAgent.
      enum:
      - INCOMPATIBLE
      - OUTDATED
      - SCHEDULED
      - SUPPRESSED
      - UNKNOWN
      - UP2DATE
      - UPDATE_IN_PROGRESS
      - UPDATE_PENDING
      - UPDATE_PROBLEM
      x-ms-enum:
        name: UpdateStatus
        modelAsString: true
    AppServiceListResponse:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/AppServiceInfo'
          description: The items on this page
          x-ms-identifiers: []
        nextLink:
          type: string
          description: The link to the next page of items
      description: Response of a list App Services Operation.
    SSODetailsResponse:
      type: object
      properties:
        isSsoEnabled:
          $ref: '#/components/schemas/SSOStatus'
          description: Whether the SSO is enabled for this resource or not.
        metadataUrl:
          type: string
          description: URL for Azure AD metadata
        singleSignOnUrl:
          type: string
          description: The login URL specific to this Dynatrace Environment
        aadDomains:
          type: array
          items:
            type: string
          description: array of Aad(azure active directory) domains
        adminUsers:
          type: array
          items:
            type: string
          description: Array of admin user emails.
      description: SSO details from the Dynatrace partner
    MarketplaceSubscriptionStatus:
      type: string
      description: Flag specifying the Marketplace Subscription Status of the resource. If payment is not made in time, the resource will go in Suspended state.
      enum:
      - Active
      - Suspended
      x-ms-enum:
        name: MarketplaceSubscriptionStatus
        modelAsString: true
    AvailabilityState:
      type: string
      description: The availability state of OneAgent.
      enum:
      - CRASHED
      - LOST
      - MONITORED
      - PRE_MONITORED
      - SHUTDOWN
      - UNEXPECTED_SHUTDOWN
      - UNKNOWN
      - UNMONITORED
      x-ms-enum:
        name: AvailabilityState
        modelAsString: true
    MonitoringStatus:
      type: string
      description: Flag specifying if the resource monitoring is enabled or disabled.
      enum:
      - Enabled
      - Disabled
      x-ms-enum:
        name: MonitoringStatus
        modelAsString: true
    VMExtensionPayload:
      type: object
      properties:
        ingestionKey:
          type: string
          description: Ingestion key of the environment
        environmentId:
          type: string
          description: Id of the environment created
      description: Response of payload to be passed while installing VM agent.
    MonitoredResourceListResponse:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/MonitoredResource'
          x-cadl-name: MonitoredResource[]
          description: The items on this page
        nextLink:
          type: string
          description: The link to the next page of items
      description: List of all the resources being monitored by Dynatrace monitor resource
    SecureString:
      type: string
      format: password
      x-ms-secret: true
      description: Credential string.
    MonitorProperties:
      type: object
      properties:
        monitoringStatus:
          $ref: '#/components/schemas/MonitoringStatus'
          description: Status of the monitor.
        marketplaceSubscriptionStatus:
          $ref: '#/components/schemas/MarketplaceSubscriptionStatus'
          description: Marketplace subscription status.
        dynatraceEnvironmentProperties:
          $ref: '#/components/schemas/DynatraceEnvironmentProperties'
          description: Properties of the Dynatrace environment.
        userInfo:
          $ref: '#/components/schemas/UserInfo'
          description: User info.
        planData:
          $ref: '#/components/schemas/PlanData'
          description: Billing plan information.
        liftrResourceCategory:
          $ref: '#/components/schemas/LiftrResourceCategories'
          description: Liftr Resource category.
          readOnly: true
        liftrResourcePreference:
          type: integer
          format: int32
          description: The priority of the resource.
          readOnly: true
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: Provisioning state of the resource.
          readOnly: true
      description: Properties specific to the monitor resource.
    LinkableEnvironmentListResponse:
      description: Response for getting all the linkable environments
      type: object
      properties:
        value:
          description: List of environments for which user is an admin
          type: array
          items:
            $ref: '#/components/schemas/LinkableEnvironmentResponse'
          x-ms-identifiers: []
        nextLink:
          description: Link to the next set of results, if any.
          type: string
    SingleSignOnStates:
      type: string
      description: Various states of the SSO resource
      enum:
      - Initial
      - Enable
      - Disable
      - Existing
      x-ms-enum:
        name: SingleSignOnStates
        modelAsString: true
    LiftrResourceCategories:
      type: string
      description: Liftr resource category
      enum:
      - Unknown
      - MonitorLogs
      x-ms-enum:
        name: LiftrResourceCategories
        modelAsString: true
    UserInfo_2:
      type: object
      properties:
        firstName:
          description: First Name of the user
          maxLength: 50
          type: string
        lastName:
          description: Last Name of the user
          maxLength: 50
          type: string
        emailAddress:
          description: Email of the user used by Logz for contacting them if needed
          pattern: ^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z]{2,}$
          type: string
        phoneNumber:
          description: Phone number of the user used by Logz for contacting them if needed
          maxLength: 40
          type: string
    LogzMonitorResourceUpdateParameters:
      description: The parameters for a PATCH request to a monitor resource.
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/MonitorUpdateProperties'
        tags:
          description: The new tags of the monitor resource.
          type: object
          additionalProperties:
            type: string
    MonitoredResource_2:
      description: The properties of a resource currently being monitored by the Logz monitor resource.
      type: object
      properties:
        id:
          description: The ARM id of the resource.
          type: string
        sendingMetrics:
          description: Flag indicating if resource is sending metrics to Logz.
          type: boolean
        reasonForMetricsStatus:
          description: Reason for why the resource is sending metrics (or why it is not sending).
          type: string
        sendingLogs:
          description: Flag indicating if resource is sending logs to Logz.
          type: boolean
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
        reasonForLogsStatus:
          description: Reason for why the resource is sending logs (or why it is not sending).
          type: string
    MonitorUpdateProperties:
      description: The set of properties that can be update in a PATCH request to a monitor resource.
      type: object
      properties:
        monitoringStatus:
          $ref: '#/components/schemas/MonitoringStatus_2'
    LogzMonitorResource:
      required:
      - location
      type: object
      x-ms-azure-resource: true
      properties:
        id:
          description: ARM id of the monitor resource.
          type: string
          readOnly: true
        systemData:
          readOnly: true
          description: The system metadata relating to this resource
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
        name:
          description: Name of the monitor resource.
          type: string
          readOnly: true
        type:
          description: The type of the monitor resource.
          type: string
          readOnly: true
        properties:
          $ref: '#/components/schemas/MonitorProperties_2'
        identity:
          $ref: '#/components/schemas/IdentityProperties_2'
        tags:
          type: object
          additionalProperties:
            type: string
        location:
          type: string
    UserRoleRequest:
      description: Request for checking user's role for Logz.io account.
      type: object
      properties:
        emailAddress:
          description: Email of the user used by Logz for contacting them if needed
          pattern: ^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z]{2,}$
          type: string
    ProvisioningState_2:
      enum:
      - Accepted
      - Creating
      - Updating
      - Deleting
      - Succeeded
      - Failed
      - Canceled
      - Deleted
      - NotSpecified
      description: Flag specifying if the resource provisioning state as tracked by ARM.
      type: string
      x-ms-enum:
        modelAsString: true
        name: ProvisioningState
      readOnly: true
    LogzMonitorResourceListResponse:
      description: Response of a list operation.
      type: object
      properties:
        value:
          description: Results of a list operation.
          type: array
          items:
            $ref: '#/components/schemas/LogzMonitorResource'
        nextLink:
          description: Link to the next set of results, if any.
          type: string
    UserRoleResponse:
      description: Response for checking user's role for Logz.io account.
      type: object
      properties:
        role:
          $ref: '#/components/schemas/UserRole'
    ManagedIdentityTypes:
      enum:
      - SystemAssigned
      - UserAssigned
      type: string
      x-ms-enum:
        modelAsString: true
        name: ManagedIdentityTypes
    UserRole:
      description: User roles on configured in Logz.io account.
      enum:
      - None
      - User
      - Admin
      type: string
      x-ms-enum:
        modelAsString: true
        name: UserRole
    PlanData_2:
      type: object
      properties:
        usageType:
          description: different usage type like PAYG/COMMITTED. this could be enum
          maxLength: 50
          type: string
        billingCycle:
          description: different billing cycles like MONTHLY/WEEKLY. this could be enum
          maxLength: 50
          type: string
        planDetails:
          description: plan id as published by Logz
          maxLength: 50
          type: string
        effectiveDate:
          format: date-time
          description: date when plan was applied
          type: string
          x-ms-mutability:
          - create
          - read
    LogzOrganizationProperties:
      type: object
      properties:
        companyName:
          description: Name of the Logz organization.
          type: string
        id:
          description: Id of the Logz organization.
          type: string
          readOnly: true
        enterpriseAppId:
          description: The Id of the Enterprise App used for Single sign on.
          type: string
        singleSignOnUrl:
          description: The login URL specific to this Logz Organization.
          type: string
    IdentityProperties_2:
      type: object
      properties:
        principalId:
          description: The identity ID.
          type: string
          readOnly: true
        tenantId:
          description: The tenant ID of resource.
          type: string
          readOnly: true
        type:
          $ref: '#/components/schemas/ManagedIdentityTypes'
    UserRoleListResponse:
      description: Response for list of user's role for Logz.io account.
      type: object
      properties:
        value:
          description: List of user roles for Logz.io account.
          type: array
          items:
            $ref: '#/components/schemas/UserRoleResponse'
        nextLink:
          description: Link to the next set of results, if any.
          type: string
    MarketplaceSubscriptionStatus_2:
      description: Flag specifying the Marketplace Subscription Status of the resource. If payment is not made in time, the resource will go in Suspended state.
      enum:
      - Active
      - Suspended
      type: string
      default: Active
      x-ms-enum:
        modelAsString: true
        name: MarketplaceSubscriptionStatus
    MonitoringStatus_2:
      description: Flag specifying if the resource monitoring is enabled or disabled.
      enum:
      - Enabled
      - Disabled
      type: string
      default: Enabled
      x-ms-enum:
        modelAsString: true
        name: MonitoringStatus
    MonitoredResourceListResponse_2:
      description: Response of a list operation.
      type: object
      properties:
        value:
          description: Results of a list operation.
          type: array
          items:
            $ref: '#/components/schemas/MonitoredResource_2'
        nextLink:
          description: Link to the next set of results, if any.
          type: string
    MonitorProperties_2:
      description: Properties specific to the monitor resource.
      type: object
      properties:
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState_2'
        monitoringStatus:
          $ref: '#/components/schemas/MonitoringStatus_2'
        marketplaceSubscriptionStatus:
          $ref: '#/components/schemas/MarketplaceSubscriptionStatus_2'
        logzOrganizationProperties:
          $ref: '#/components/schemas/LogzOrganizationProperties'
        userInfo:
          $ref: '#/components/schemas/UserInfo_2'
        planData:
          $ref: '#/components/schemas/PlanData_2'
        liftrResourceCategory:
          $ref: '#/components/schemas/LiftrResourceCategories_2'
        liftrResourcePreference:
          description: The priority of the resource.
          format: int32
          type: integer
          readOnly: true
    LiftrResourceCategories_2:
      enum:
      - Unknown
      - MonitorLogs
      type: string
      x-ms-enum:
        modelAsString: true
        name: LiftrResourceCategories
      readOnly: true
    OrgCreationSource:
      type: string
      description: Source of Org creation
      enum:
      - LIFTR
      - NEWRELIC
      x-ms-enum:
        name: OrgCreationSource
        modelAsString: true
        values:
        - name: LIFTR
          value: LIFTR
          description: Org is created from LIFTR
        - name: NEWRELIC
          value: NEWRELIC
          description: Org is created from NEWRELIC
    UserInfo_3:
      type: object
      properties:
        firstName:
          type: string
          description: First name
          maxLength: 50
        lastName:
          type: string
          description: Last name
          maxLength: 50
        emailAddress:
          $ref: '#/components/schemas/email'
          description: User Email
        phoneNumber:
          type: string
          description: Contact phone number
          maxLength: 40
        country:
          type: string
          description: country if user
      description: User Info of NewRelic Monitor resource
    MonitoredResource_3:
      type: object
      properties:
        id:
          type: string
          description: The ARM id of the resource.
        sendingMetrics:
          $ref: '#/components/schemas/SendingMetricsStatus'
          description: Flag indicating if resource is sending metrics to NewRelic.
        reasonForMetricsStatus:
          type: string
          description: Reason for why the resource is sending metrics (or why it is not sending).
        sendingLogs:
          $ref: '#/components/schemas/SendingLogsStatus'
          description: Flag indicating if resource is sending logs to NewRelic.
        reasonForLogsStatus:
          type: string
          description: Reason for why the resource is sending logs (or why it is not sending).
      description: Details of resource being monitored by NewRelic monitor resource
    AppServiceInfo_2:
      type: object
      properties:
        azureResourceId:
          type: string
          description: Azure App service resource ID
        agentVersion:
          type: string
          description: Version of the NewRelic agent installed on the App service.
        agentStatus:
          type: string
          description: Status of the NewRelic agent installed on the App service.
      description: Details of VM Resource having NewRelic OneAgent installed
    MetricsStatusRequest:
      type: object
      properties:
        azureResourceIds:
          type: array
          items:
            type: string
          x-cadl-name: string[]
          description: Azure resource IDs
        userEmail:
          $ref: '#/components/schemas/email'
          description: User Email
      description: Request of get metrics status Operation.
      required:
      - userEmail
    AppServicesListResponse:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/AppServiceInfo_2'
          x-ms-identifiers:
          - azureResourceId
          x-cadl-name: AppServiceInfo[]
          description: The AppServiceInfo items on this page
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
          x-cadl-name: Rest.ResourceLocation
      description: Response of a list app services Operation.
      required:
      - value
    MetricRules:
      type: object
      properties:
        sendMetrics:
          $ref: '#/components/schemas/SendMetricsStatus'
          description: Flag specifying if metrics should be sent for the Monitor resource.
        filteringTags:
          type: array
          items:
            $ref: '#/components/schemas/FilteringTag'
          x-ms-identifiers: []
          x-cadl-name: FilteringTag[]
          description: List of filtering tags to be used for capturing metrics.
        userEmail:
          $ref: '#/components/schemas/email'
          description: User Email
      description: Set of rules for sending metrics for the Monitor resource.
    MetricsStatusResponse:
      type: object
      properties:
        azureResourceIds:
          type: array
          items:
            type: string
          x-cadl-name: string[]
          description: Azure resource IDs
      description: Response of get metrics status Operation.
    VMInfo_2:
      type: object
      properties:
        vmId:
          type: string
          description: Azure VM resource ID
        agentVersion:
          type: string
          description: Version of the NewRelic agent installed on the VM.
        agentStatus:
          type: string
          description: Status of the NewRelic agent installed on the VM.
      description: Details of VM Resource having NewRelic OneAgent installed
    UsageType:
      type: string
      description: Different usage type like PAYG/COMMITTED
      enum:
      - PAYG
      - COMMITTED
      x-ms-enum:
        name: UsageType
        modelAsString: true
        values:
        - name: PAYG
          value: PAYG
          description: Usage type is PAYG
        - name: COMMITTED
          value: COMMITTED
          description: Usage type is COMMITTED
    NewRelicMonitorResource:
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/MonitorProperties_3'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
        identity:
          $ref: ../../../../../common-types/resource-management/v4/managedidentity.json#/definitions/ManagedServiceIdentity
          description: The managed service identities assigned to this resource.
      description: A Monitor Resource by NewRelic
      required:
      - properties
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
    NewRelicMonitorResourceUpdate:
      type: object
      properties:
        identity:
          $ref: ../../../../../common-types/resource-management/v4/managedidentity.json#/definitions/ManagedServiceIdentity
          description: The managed service identities assigned to this resource.
        tags:
          type: object
          additionalProperties:
            type: string
          x-cadl-name: Record<string>
          description: Resource tags.
        properties:
          $ref: '#/components/schemas/NewRelicMonitorResourceUpdateProperties'
          x-ms-client-flatten: true
      description: The type used for update operations of the NewRelicMonitorResource.
    BillingCycle:
      type: string
      description: Different usage type like YEARLY/MONTHLY
      enum:
      - YEARLY
      - MONTHLY
      - WEEKLY
      x-ms-enum:
        name: BillingCycle
        modelAsString: true
        values:
        - name: YEARLY
          value: YEARLY
          description: Billing cycle is YEARLY
        - name: MONTHLY
          value: MONTHLY
          description: Billing cycle is MONTHLY
        - name: WEEKLY
          value: WEEKLY
          description: Billing cycle is WEEKLY
    ProvisioningState_3:
      type: string
      description: Provisioning State of the Monitor resource
      enum:
      - Accepted
      - Creating
      - Updating
      - Deleting
      - Succeeded
      - Failed
      - Canceled
      - Deleted
      - NotSpecified
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: Accepted
          value: Accepted
          description: Monitor resource creation request accepted
        - name: Creating
          value: Creating
          description: Monitor resource creation started
        - name: Updating
          value: Updating
          description: Monitor resource is being updated
        - name: Deleting
          value: Deleting
          description: Monitor resource deletion started
        - name: Succeeded
          value: Succeeded
          description: Monitor resource creation successful
        - name: Failed
          value: Failed
          description: Monitor resource creation failed
        - name: Canceled
          value: Canceled
          description: Monitor resource creation canceled
        - name: Deleted
          value: Deleted
          description: Monitor resource is deleted
        - name: NotSpecified
          value: NotSpecified
          description: Monitor resource state is unknown
    SendMetricsStatus:
      type: string
      description: Indicates whether metrics are being sent.
      enum:
      - Enabled
      - Disabled
      x-ms-enum:
        name: SendMetricsStatus
        modelAsString: true
    NewRelicAccountProperties:
      type: object
      properties:
        userId:
          type: string
          description: User id
        accountInfo:
          $ref: '#/components/schemas/AccountInfo_2'
          description: NewRelic Account Information
        organizationInfo:
          $ref: '#/components/schemas/OrganizationInfo'
          description: NewRelic Organization Information
        singleSignOnProperties:
          $ref: '#/components/schemas/NewRelicSingleSignOnProperties'
          description: date when plan was applied
      description: Properties of the NewRelic account
    NewRelicSingleSignOnProperties:
      type: object
      properties:
        singleSignOnState:
          $ref: '#/components/schemas/SingleSignOnStates'
          description: Single sign-on state
        enterpriseAppId:
          type: string
          description: The Id of the Enterprise App used for Single sign-on.
        singleSignOnUrl:
          type: string
          description: The login URL specific to this NewRelic Organization
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState_3'
          description: Provisioning state
      description: Single sign on Info of the NewRelic account
    AccountCreationSource:
      type: string
      description: Source of Account creation
      enum:
      - LIFTR
      - NEWRELIC
      x-ms-enum:
        name: AccountCreationSource
        modelAsString: true
        values:
        - name: LIFTR
          value: LIFTR
          description: Account is created from LIFTR
        - name: NEWRELIC
          value: NEWRELIC
          description: Account is created from NEWRELIC
    MetricsRequest:
      type: object
      properties:
        userEmail:
          $ref: '#/components/schemas/email'
          description: User Email
      description: Request of get metrics Operation.
      required:
      - userEmail
    TagAction:
      type: string
      description: Valid actions for a filtering tag. Exclusion takes priority over inclusion.
      enum:
      - Include
      - Exclude
      x-ms-enum:
        name: TagAction
        modelAsString: true
    NewRelicMonitorResourceListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/NewRelicMonitorResource'
          x-cadl-name: NewRelicMonitorResource[]
          description: The NewRelicMonitorResource items on this page
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
          x-cadl-name: Rest.ResourceLocation
      description: The response of a NewRelicMonitorResource list operation.
      required:
      - value
    HostsGetRequest:
      type: object
      properties:
        vmIds:
          type: array
          items:
            type: string
          x-cadl-name: string[]
          description: VM resource IDs
        userEmail:
          $ref: '#/components/schemas/email'
          description: User Email
[...]
