openapi: 3.2.0
info:
  title: Microsoft Azure Azure Red Hat OpenShift Client Open Shift…
  description: Rest API for Azure Red Hat OpenShift 4
  version: 2021-09-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: OpenShiftClusters
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.RedHatOpenShift/openShiftClusters:
    get:
      tags:
      - OpenShiftClusters
      summary: Microsoft Azure Lists Openshift Clusters In The Specified Subscription
      description: The operation returns properties of each OpenShift cluster.
      operationId: microsoftAzureOpenshiftclustersList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenShiftClusterList'
        default:
          description: Error response describing why the operation failed.  If the resource doesn't exist, 404 (Not Found) is returned.  If any of the input parameters is wrong, 400 (Bad Request) is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Lists OpenShift clusters in the specified subscription.:
          $ref: ./examples/OpenShiftClusters_List.json
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RedHatOpenShift/openShiftClusters:
    get:
      tags:
      - OpenShiftClusters
      summary: Microsoft Azure Lists Openshift Clusters In The Specified Subscription And…
      description: The operation returns properties of each OpenShift cluster.
      operationId: microsoftAzureOpenshiftclustersListbyresourcegroup
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenShiftClusterList'
        default:
          description: Error response describing why the operation failed.  If the resource doesn't exist, 404 (Not Found) is returned.  If any of the input parameters is wrong, 400 (Bad Request) is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Lists OpenShift clusters in the specified subscription and resource group.:
          $ref: ./examples/OpenShiftClusters_ListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RedHatOpenShift/openShiftClusters/{resourceName}
  : get:
      tags:
      - OpenShiftClusters
      summary: Microsoft Azure Gets A Openshift Cluster With The Specified Subscription…
      description: The operation returns properties of a OpenShift cluster.
      operationId: microsoftAzureOpenshiftclustersGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - name: resourceName
        in: path
        description: The name of the OpenShift cluster resource.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenShiftCluster'
        default:
          description: Error response describing why the operation failed.  If the resource doesn't exist, 404 (Not Found) is returned.  If any of the input parameters is wrong, 400 (Bad Request) is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Gets a OpenShift cluster with the specified subscription, resource group and resource name.:
          $ref: ./examples/OpenShiftClusters_Get.json
    put:
      tags:
      - OpenShiftClusters
      summary: Microsoft Azure Creates Or Updates A Openshift Cluster With The Specified…
      description: The operation returns properties of a OpenShift cluster.
      operationId: microsoftAzureOpenshiftclustersCreateorupdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - name: resourceName
        in: path
        description: The name of the OpenShift cluster resource.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenShiftCluster'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenShiftCluster'
        default:
          description: Error response describing why the operation failed.  If the resource doesn't exist, 404 (Not Found) is returned.  If any of the input parameters is wrong, 400 (Bad Request) is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-long-running-operation: true
      x-ms-examples:
        Creates or updates a OpenShift cluster with the specified subscription, resource group and resource name.:
          $ref: ./examples/OpenShiftClusters_CreateOrUpdate.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenShiftCluster'
        description: The OpenShift cluster resource.
        required: true
    delete:
      tags:
      - OpenShiftClusters
      summary: Microsoft Azure Deletes A Openshift Cluster With The Specified Subscription…
      description: The operation returns nothing.
      operationId: microsoftAzureOpenshiftclustersDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - name: resourceName
        in: path
        description: The name of the OpenShift cluster resource.
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.  If the resource doesn't exist, 404 (Not Found) is returned.  If any of the input parameters is wrong, 400 (Bad Request) is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-long-running-operation: true
      x-ms-examples:
        Deletes a OpenShift cluster with the specified subscription, resource group and resource name.:
          $ref: ./examples/OpenShiftClusters_Delete.json
    patch:
      tags:
      - OpenShiftClusters
      summary: Microsoft Azure Creates Or Updates A Openshift Cluster With The Specified…
      description: The operation returns properties of a OpenShift cluster.
      operationId: microsoftAzureOpenshiftclustersUpdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - name: resourceName
        in: path
        description: The name of the OpenShift cluster resource.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenShiftCluster'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenShiftCluster'
        default:
          description: Error response describing why the operation failed.  If the resource doesn't exist, 404 (Not Found) is returned.  If any of the input parameters is wrong, 400 (Bad Request) is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-long-running-operation: true
      x-ms-examples:
        Creates or updates a OpenShift cluster with the specified subscription, resource group and resource name.:
          $ref: ./examples/OpenShiftClusters_Update.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenShiftClusterUpdate'
        description: The OpenShift cluster resource.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RedHatOpenShift/openShiftClusters/{resourceName}/listAdminCredentials
  : post:
      tags:
      - OpenShiftClusters
      summary: Microsoft Azure Lists Admin Kubeconfig Of An Openshift Cluster With The…
      description: The operation returns the admin kubeconfig.
      operationId: microsoftAzureOpenshiftclustersListadmincredentials
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - name: resourceName
        in: path
        description: The name of the OpenShift cluster resource.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenShiftClusterAdminKubeconfig'
        default:
          description: Error response describing why the operation failed.  If the resource doesn't exist, 404 (Not Found) is returned.  If any of the input parameters is wrong, 400 (Bad Request) is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Lists admin kubeconfig of an OpenShift cluster with the specified subscription, resource group and resource name.:
          $ref: ./examples/OpenShiftClusters_ListAdminCredentials.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RedHatOpenShift/openShiftClusters/{resourceName}/listCredentials
  : post:
      tags:
      - OpenShiftClusters
      summary: Microsoft Azure Lists Credentials Of An Openshift Cluster With The Specified…
      description: The operation returns the credentials.
      operationId: microsoftAzureOpenshiftclustersListcredentials
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - name: resourceName
        in: path
        description: The name of the OpenShift cluster resource.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenShiftClusterCredentials'
        default:
          description: Error response describing why the operation failed.  If the resource doesn't exist, 404 (Not Found) is returned.  If any of the input parameters is wrong, 400 (Bad Request) is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Lists credentials of an OpenShift cluster with the specified subscription, resource group and resource name.:
          $ref: ./examples/OpenShiftClusters_ListCredentials.json
components:
  schemas:
    MasterProfile:
      description: MasterProfile represents a master profile.
      type: object
      properties:
        vmSize:
          $ref: '#/components/schemas/VMSize'
          description: The size of the master VMs.
        subnetId:
          description: The Azure resource ID of the master subnet.
          type: string
        encryptionAtHost:
          $ref: '#/components/schemas/EncryptionAtHost'
          description: Whether master virtual machines are encrypted at host.
        diskEncryptionSetId:
          description: The resource ID of an associated DiskEncryptionSet, if applicable.
          type: string
    CloudErrorBody:
      description: CloudErrorBody represents the body of a cloud error.
      type: object
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
          type: string
        message:
          description: A message describing the error, intended to be suitable for display in a user interface.
          type: string
        target:
          description: The target of the particular error. For example, the name of the property in error.
          type: string
        details:
          description: A list of additional details about the error.
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
    EncryptionAtHost:
      description: EncryptionAtHost represents encryption at host state
      enum:
      - Disabled
      - Enabled
      type: string
      x-ms-enum:
        name: EncryptionAtHost
        modelAsString: true
    VMSize:
      description: VMSize represents a VM size.
      enum:
      - Standard_D16as_v4
      - Standard_D16s_v3
      - Standard_D2s_v3
      - Standard_D32as_v4
      - Standard_D32s_v3
      - Standard_D4as_v4
      - Standard_D4s_v3
      - Standard_D8as_v4
      - Standard_D8s_v3
      - Standard_E16s_v3
      - Standard_E32s_v3
      - Standard_E4s_v3
      - Standard_E64i_v3
      - Standard_E64is_v3
      - Standard_E8s_v3
      - Standard_F16s_v2
      - Standard_F32s_v2
      - Standard_F4s_v2
      - Standard_F72s_v2
      - Standard_F8s_v2
      - Standard_G5
      - Standard_GS5
      - Standard_M128ms
      type: string
      x-ms-enum:
        name: VMSize
        modelAsString: true
    ClusterProfile:
      description: ClusterProfile represents a cluster profile.
      type: object
      properties:
        pullSecret:
          description: The pull secret for the cluster.
          type: string
        domain:
          description: The domain for the cluster.
          type: string
        version:
          description: The version of the cluster.
          type: string
        resourceGroupId:
          description: The ID of the cluster resource group.
          type: string
    ConsoleProfile:
      description: ConsoleProfile represents a console profile.
      type: object
      properties:
        url:
          description: The URL to access the cluster console.
          type: string
    ProvisioningState:
      description: ProvisioningState represents a provisioning state.
      enum:
      - AdminUpdating
      - Creating
      - Deleting
      - Failed
      - Succeeded
      - Updating
      type: string
    ServicePrincipalProfile:
      description: ServicePrincipalProfile represents a service principal profile.
      type: object
      properties:
        clientId:
          description: The client ID used for the cluster.
          type: string
        clientSecret:
          description: The client secret used for the cluster.
          type: string
    OpenShiftClusterList:
      description: OpenShiftClusterList represents a list of OpenShift clusters.
      type: object
      properties:
        value:
          description: The list of OpenShift clusters.
          type: array
          items:
            $ref: '#/components/schemas/OpenShiftCluster'
        nextLink:
          description: The link used to get the next page of operations.
          type: string
    OpenShiftClusterUpdate:
      description: OpenShiftCluster represents an Azure Red Hat OpenShift cluster.
      type: object
      properties:
        tags:
          $ref: '#/components/schemas/Tags'
          description: The resource tags.
        properties:
          $ref: '#/components/schemas/OpenShiftClusterProperties'
          description: The cluster properties.
          x-ms-client-flatten: true
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: The system meta data relating to this resource.
          readOnly: true
    Visibility:
      description: Visibility represents visibility.
      enum:
      - Private
      - Public
      type: string
      x-ms-enum:
        name: Visibility
        modelAsString: true
    WorkerProfile:
      description: WorkerProfile represents a worker profile.
      type: object
      properties:
        name:
          description: The worker profile name.
          type: string
        vmSize:
          $ref: '#/components/schemas/VMSize'
          description: The size of the worker VMs.
        diskSizeGB:
          description: The disk size of the worker VMs.
          type: integer
        subnetId:
          description: The Azure resource ID of the worker subnet.
          type: string
        count:
          description: The number of worker VMs.
          type: integer
        encryptionAtHost:
          $ref: '#/components/schemas/EncryptionAtHost'
          description: Whether master virtual machines are encrypted at host.
        diskEncryptionSetId:
          description: The resource ID of an associated DiskEncryptionSet, if applicable.
          type: string
    NetworkProfile:
      description: NetworkProfile represents a network profile.
      type: object
      properties:
        softwareDefinedNetwork:
          $ref: '#/components/schemas/SoftwareDefinedNetwork'
          description: The software defined network (SDN) to use when installing the cluster.
        podCidr:
          description: The CIDR used for OpenShift/Kubernetes Pods.
          type: string
        serviceCidr:
          description: The CIDR used for OpenShift/Kubernetes Services.
          type: string
    IngressProfile:
      description: IngressProfile represents an ingress profile.
      type: object
      properties:
        name:
          description: The ingress profile name.
          type: string
        visibility:
          $ref: '#/components/schemas/Visibility'
          description: Ingress visibility.
        ip:
          description: The IP of the ingress.
          type: string
    APIServerProfile:
      description: APIServerProfile represents an API server profile.
      type: object
      properties:
        visibility:
          $ref: '#/components/schemas/Visibility'
          description: API server visibility.
        url:
          description: The URL to access the cluster API server.
          type: string
        ip:
          description: The IP of the cluster API server.
          type: string
    OpenShiftClusterProperties:
      description: OpenShiftClusterProperties represents an OpenShift cluster's properties.
      type: object
      properties:
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The cluster provisioning state.
        clusterProfile:
          $ref: '#/components/schemas/ClusterProfile'
          description: The cluster profile.
        consoleProfile:
          $ref: '#/components/schemas/ConsoleProfile'
          description: The console profile.
        servicePrincipalProfile:
          $ref: '#/components/schemas/ServicePrincipalProfile'
          description: The cluster service principal profile.
        networkProfile:
          $ref: '#/components/schemas/NetworkProfile'
          description: The cluster network profile.
        masterProfile:
          $ref: '#/components/schemas/MasterProfile'
          description: The cluster master profile.
        workerProfiles:
          description: The cluster worker profiles.
          type: array
          items:
            $ref: '#/components/schemas/WorkerProfile'
        apiserverProfile:
          $ref: '#/components/schemas/APIServerProfile'
          description: The cluster API server profile.
        ingressProfiles:
          description: The cluster ingress profiles.
          type: array
          items:
            $ref: '#/components/schemas/IngressProfile'
    OpenShiftCluster:
      description: OpenShiftCluster represents an Azure Red Hat OpenShift cluster.
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource
      properties:
        properties:
          $ref: '#/components/schemas/OpenShiftClusterProperties'
          description: The cluster properties.
          x-ms-client-flatten: true
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: The system meta data relating to this resource.
          readOnly: true
    OpenShiftClusterAdminKubeconfig:
      description: OpenShiftClusterAdminKubeconfig represents an OpenShift cluster's admin kubeconfig.
      type: object
      properties:
        kubeconfig:
          description: The base64-encoded kubeconfig file.
          type: string
          x-ms-secret: true
    CloudError:
      description: CloudError represents a cloud error.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: An error response from the service.
    SoftwareDefinedNetwork:
      description: SoftwareDefinedNetwork constants.
      enum:
      - OVNKubernetes
      - OpenShiftSDN
      type: string
      x-ms-enum:
        name: SoftwareDefinedNetwork
        modelAsString: true
    Tags:
      description: Tags represents an OpenShift cluster's tags.
      type: object
      additionalProperties:
        type: string
    OpenShiftClusterCredentials:
      description: OpenShiftClusterCredentials represents an OpenShift cluster's credentials.
      type: object
      properties:
        kubeadminUsername:
          description: The username for the kubeadmin user.
          type: string
        kubeadminPassword:
          description: The password for the kubeadmin user.
          type: string
          x-ms-secret: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
