openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft NetApp Capacity Pools API
  description: Microsoft NetApp Azure Resource Provider specification
  version: 2023-07-01-preview
  x-ms-code-generation-settings:
    name: AzureNetAppFilesManagementClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Capacity Pools
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools
  : get:
      summary: Microsoft Azure Describe All Capacity Pools
      description: List all capacity pools in the NetApp Account
      tags:
      - Capacity Pools
      operationId: microsoftAzurePoolsList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      x-ms-pageable:
        nextLinkName: nextLink
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/capacityPoolList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Pools_List:
          $ref: examples/Pools_List.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}
  : get:
      summary: Microsoft Azure Describe A Capacity Pool
      description: Get details of the specified capacity pool
      tags:
      - Capacity Pools
      operationId: microsoftAzurePoolsGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountName'
      - $ref: '#/components/parameters/PoolName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/capacityPool'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Pools_Get:
          $ref: examples/Pools_Get.json
    put:
      tags:
      - Capacity Pools
      operationId: microsoftAzurePoolsCreateorupdate
      summary: Microsoft Azure Create Or Update The Specified Capacity Pool Within The…
      description: Create or Update a capacity pool
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountName'
      - $ref: '#/components/parameters/PoolName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK - pool updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/capacityPool'
        '201':
          description: Pool created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/capacityPool'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        Pools_CreateOrUpdate:
          $ref: examples/Pools_CreateOrUpdate.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/capacityPool'
        description: Capacity pool object supplied in the body of the operation.
        required: true
    patch:
      tags:
      - Capacity Pools
      operationId: microsoftAzurePoolsUpdate
      summary: Microsoft Azure Update A Capacity Pool
      description: Patch the specified capacity pool
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountName'
      - $ref: '#/components/parameters/PoolName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/capacityPool'
        '202':
          description: Accepted -- Update request accepted; operation will complete asynchronously
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        Pools_Update:
          $ref: examples/Pools_Update.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/capacityPoolPatch'
        description: Capacity pool object supplied in the body of the operation.
        required: true
    delete:
      tags:
      - Capacity Pools
      operationId: microsoftAzurePoolsDelete
      summary: Microsoft Azure Delete A Capacity Pool
      description: Delete the specified capacity pool
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountName'
      - $ref: '#/components/parameters/PoolName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '202':
          description: Accepted -- Delete request accepted; operation will complete asynchronously
        '204':
          description: NoContent -- Resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        Pools_Delete:
          $ref: examples/Pools_Delete.json
components:
  parameters:
    PoolName:
      name: poolName
      in: path
      required: true
      description: The name of the capacity pool
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 1
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9\-_]{0,63}$
    AccountName:
      name: accountName
      in: path
      required: true
      description: The name of the NetApp account
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9\-_]{0,127}$
  schemas:
    resourceTags:
      type: object
      additionalProperties:
        type: string
      description: Tags are a list of key-value pairs that describe the resource
    capacityPoolPatch:
      description: Capacity pool patch resource
      type: object
      x-ms-azure-resource: true
      properties:
        location:
          type: string
          description: Resource location
        id:
          type: string
          readOnly: true
          description: Resource Id
        name:
          type: string
          readOnly: true
          description: Resource name
        type:
          type: string
          readOnly: true
          description: Resource type
        tags:
          description: Resource tags
          $ref: '#/components/schemas/resourceTags'
        properties:
          description: Capacity pool properties
          $ref: '#/components/schemas/poolPatchProperties'
          x-ms-client-flatten: true
    poolProperties:
      description: Pool properties
      type: object
      required:
      - size
      - serviceLevel
      properties:
        poolId:
          title: poolId
          type: string
          readOnly: true
          description: UUID v4 used to identify the Pool
          pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
          maxLength: 36
          minLength: 36
          example: 9760acf5-4638-11e7-9bdb-020073ca7778
        size:
          title: size
          type: integer
          format: int64
          description: Provisioned size of the pool (in bytes). Allowed values are in 1TiB chunks (value must be multiply of 4398046511104).
          default: 4398046511104
        serviceLevel:
          title: serviceLevel
          $ref: '#/components/schemas/serviceLevel'
        provisioningState:
          type: string
          readOnly: true
          description: Azure lifecycle management
        totalThroughputMibps:
          type: number
          description: Total throughput of pool in MiB/s
          example: 164.221
          readOnly: true
        utilizedThroughputMibps:
          type: number
          description: Utilized throughput of pool in MiB/s
          example: 164.221
          readOnly: true
        qosType:
          title: qosType
          type: string
          description: The qos type of the pool
          enum:
          - Auto
          - Manual
          x-ms-enum:
            name: qosType
            modelAsString: true
            values:
            - value: Auto
              description: qos type Auto
            - value: Manual
              description: qos type Manual
          example: Manual
          default: Auto
        coolAccess:
          type: boolean
          default: false
          example: false
          description: If enabled (true) the pool can contain cool Access enabled volumes.
        encryptionType:
          title: encryptionType
          type:
          - string
          - 'null'
          description: Encryption type of the capacity pool, set encryption type for data at rest for this pool and all volumes in it. This value can only be set when creating new pool.
          x-ms-mutability:
          - read
          - create
          enum:
          - Single
          - Double
          x-ms-enum:
            name: encryptionType
            modelAsString: true
            values:
            - value: Single
              description: EncryptionType Single, volumes will use single encryption at rest
            - value: Double
              description: EncryptionType Double, volumes will use double encryption at rest
          example: Single
          default: Single
    capacityPool:
      description: Capacity pool resource
      type: object
      required:
      - location
      - properties
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource
      properties:
        etag:
          readOnly: true
          type: string
          description: A unique read-only string that changes whenever the resource is updated.
        properties:
          description: Capacity pool properties
          $ref: '#/components/schemas/poolProperties'
          x-ms-client-flatten: true
    capacityPoolList:
      description: List of capacity pool resources
      type: object
      properties:
        value:
          description: List of Capacity pools
          type: array
          items:
            $ref: '#/components/schemas/capacityPool'
        nextLink:
          type: string
          description: URL to get the next set of results.
    poolPatchProperties:
      description: Patchable pool properties
      type: object
      properties:
        size:
          title: size
          type: integer
          format: int64
          description: Provisioned size of the pool (in bytes). Allowed values are in 1TiB chunks (value must be multiply of 4398046511104).
          default: 4398046511104
        qosType:
          title: qosType
          type: string
          description: The qos type of the pool
          enum:
          - Auto
          - Manual
          x-ms-enum:
            name: qosType
            modelAsString: true
            values:
            - value: Auto
              description: qos type Auto
            - value: Manual
              description: qos type Manual
          example: Manual
          default: Auto
        coolAccess:
          type: boolean
          example: false
          description: If enabled (true) the pool can contain cool Access enabled volumes.
    serviceLevel:
      title: serviceLevel
      type: string
      description: The service level of the file system
      enum:
      - Standard
      - Premium
      - Ultra
      - StandardZRS
      default: Premium
      x-ms-enum:
        name: ServiceLevel
        modelAsString: true
        values:
        - value: Standard
          description: Standard service level
        - value: Premium
          description: Premium service level
        - value: Ultra
          description: Ultra service level
        - value: StandardZRS
          description: Zone redundant storage service level
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
