openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft.Logz Sub Account API
  version: 2020-10-01-preview
servers:
- url: https://management.azure.com
tags:
- name: Sub Account
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logz/monitors/{monitorName}/accounts
  : get:
      tags:
      - Sub Account
      summary: Microsoft Azure List The Sub Account Under A Given Monitor Resource
      operationId: microsoftAzureSubaccountList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogzMonitorResourceListResponse'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        SubAccount_List:
          $ref: ./examples/SubAccount_ListByResourceGroup.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logz/monitors/{monitorName}/accounts/{subAccountName}
  : put:
      tags:
      - Sub Account
      summary: Microsoft Azure Create Sub Account Under A Given Monitor Resource This Create…
      operationId: microsoftAzureSubaccountCreate
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      - $ref: '#/components/parameters/SubAccountNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogzMonitorResource'
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogzMonitorResource'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        subAccount_Create:
          $ref: ./examples/SubAccount_Create.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogzMonitorResource'
    get:
      tags:
      - Sub Account
      summary: Microsoft Azure Get A Sub Account Under A Given Monitor Resource
      operationId: microsoftAzureSubaccountGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      - $ref: '#/components/parameters/SubAccountNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogzMonitorResource'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        SubAccount_Get:
          $ref: ./examples/SubAccount_Get.json
      description: Needs a more full description created.
    delete:
      tags:
      - Sub Account
      summary: Microsoft Azure Delete A Sub Account Resource This Delete Operation Can Take…
      operationId: microsoftAzureSubaccountDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      - $ref: '#/components/parameters/SubAccountNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
        '202':
          description: Success
          headers:
            location:
              description: URL to query for status of the operation.
              schema:
                type: string
        '204':
          description: Success
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        SubAccount_Delete:
          $ref: ./examples/SubAccount_Delete.json
      description: Needs a more full description created.
    patch:
      tags:
      - Sub Account
      summary: Microsoft Azure Update A Monitor Resource
      operationId: microsoftAzureSubaccountUpdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      - $ref: '#/components/parameters/SubAccountNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogzMonitorResource'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        SubAccount_Update:
          $ref: ./examples/SubAccount_Update.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogzMonitorResourceUpdateParameters'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logz/monitors/{monitorName}/accounts/{subAccountName}/listMonitoredResources
  : post:
      tags:
      - Sub Account
      summary: Microsoft Azure List The Resources Currently Being Monitored By The Logz Sub…
      operationId: microsoftAzureSubaccountListmonitoredresources
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      - $ref: '#/components/parameters/SubAccountNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitoredResourceListResponse'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        SubAccount_MonitoredResources_List:
          $ref: ./examples/SubAccount_MonitoredResources_List.json
      description: Needs a more full description created.
components:
  schemas:
    UserInfo:
      type: object
      properties:
        firstName:
          description: First Name of the user
          maxLength: 50
          type: string
        lastName:
          description: Last Name of the user
          maxLength: 50
          type: string
        emailAddress:
          description: Email of the user used by Logz for contacting them if needed
          pattern: ^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z]{2,}$
          type: string
        phoneNumber:
          description: Phone number of the user used by Logz for contacting them if needed
          maxLength: 40
          type: string
    MonitoredResource:
      description: The properties of a resource currently being monitored by the Logz monitor resource.
      type: object
      properties:
        id:
          description: The ARM id of the resource.
          type: string
        sendingMetrics:
          description: Flag indicating if resource is sending metrics to Logz.
          type: boolean
        reasonForMetricsStatus:
          description: Reason for why the resource is sending metrics (or why it is not sending).
          type: string
        sendingLogs:
          description: Flag indicating if resource is sending logs to Logz.
          type: boolean
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
        reasonForLogsStatus:
          description: Reason for why the resource is sending logs (or why it is not sending).
          type: string
    ProvisioningState:
      enum:
      - Accepted
      - Creating
      - Updating
      - Deleting
      - Succeeded
      - Failed
      - Canceled
      - Deleted
      - NotSpecified
      description: Flag specifying if the resource provisioning state as tracked by ARM.
      type: string
      x-ms-enum:
        modelAsString: true
        name: ProvisioningState
      readOnly: true
    MonitorUpdateProperties:
      description: The set of properties that can be update in a PATCH request to a monitor resource.
      type: object
      properties:
        monitoringStatus:
          $ref: '#/components/schemas/MonitoringStatus'
    MarketplaceSubscriptionStatus:
      description: Flag specifying the Marketplace Subscription Status of the resource. If payment is not made in time, the resource will go in Suspended state.
      enum:
      - Active
      - Suspended
      type: string
      default: Active
      x-ms-enum:
        modelAsString: true
        name: MarketplaceSubscriptionStatus
    MonitoringStatus:
      description: Flag specifying if the resource monitoring is enabled or disabled.
      enum:
      - Enabled
      - Disabled
      type: string
      default: Enabled
      x-ms-enum:
        modelAsString: true
        name: MonitoringStatus
    LogzMonitorResource:
      required:
      - location
      type: object
      x-ms-azure-resource: true
      properties:
        id:
          description: ARM id of the monitor resource.
          type: string
          readOnly: true
        systemData:
          readOnly: true
          description: The system metadata relating to this resource
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
        name:
          description: Name of the monitor resource.
          type: string
          readOnly: true
        type:
          description: The type of the monitor resource.
          type: string
          readOnly: true
        properties:
          $ref: '#/components/schemas/MonitorProperties'
        identity:
          $ref: '#/components/schemas/IdentityProperties'
        tags:
          type: object
          additionalProperties:
            type: string
        location:
          type: string
    LogzMonitorResourceListResponse:
      description: Response of a list operation.
      type: object
      properties:
        value:
          description: Results of a list operation.
          type: array
          items:
            $ref: '#/components/schemas/LogzMonitorResource'
        nextLink:
          description: Link to the next set of results, if any.
          type: string
    LiftrResourceCategories:
      enum:
      - Unknown
      - MonitorLogs
      type: string
      x-ms-enum:
        modelAsString: true
        name: LiftrResourceCategories
      readOnly: true
    MonitoredResourceListResponse:
      description: Response of a list operation.
      type: object
      properties:
        value:
          description: Results of a list operation.
          type: array
          items:
            $ref: '#/components/schemas/MonitoredResource'
        nextLink:
          description: Link to the next set of results, if any.
          type: string
    PlanData:
      type: object
      properties:
        usageType:
          description: different usage type like PAYG/COMMITTED. this could be enum
          maxLength: 50
          type: string
        billingCycle:
          description: different billing cycles like MONTHLY/WEEKLY. this could be enum
          maxLength: 50
          type: string
        planDetails:
          description: plan id as published by Logz
          maxLength: 50
          type: string
        effectiveDate:
          format: date-time
          description: date when plan was applied
          type: string
          x-ms-mutability:
          - create
          - read
    MonitorProperties:
      description: Properties specific to the monitor resource.
      type: object
      properties:
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
        monitoringStatus:
          $ref: '#/components/schemas/MonitoringStatus'
        marketplaceSubscriptionStatus:
          $ref: '#/components/schemas/MarketplaceSubscriptionStatus'
        logzOrganizationProperties:
          $ref: '#/components/schemas/LogzOrganizationProperties'
        userInfo:
          $ref: '#/components/schemas/UserInfo'
        planData:
          $ref: '#/components/schemas/PlanData'
        liftrResourceCategory:
          $ref: '#/components/schemas/LiftrResourceCategories'
        liftrResourcePreference:
          description: The priority of the resource.
          format: int32
          type: integer
          readOnly: true
    LogzOrganizationProperties:
      type: object
      properties:
        companyName:
          description: Name of the Logz organization.
          type: string
        id:
          description: Id of the Logz organization.
          type: string
          readOnly: true
        enterpriseAppId:
          description: The Id of the Enterprise App used for Single sign on.
          type: string
        singleSignOnUrl:
          description: The login URL specific to this Logz Organization.
          type: string
    IdentityProperties:
      type: object
      properties:
        principalId:
          description: The identity ID.
          type: string
          readOnly: true
        tenantId:
          description: The tenant ID of resource.
          type: string
          readOnly: true
        type:
          $ref: '#/components/schemas/ManagedIdentityTypes'
    ManagedIdentityTypes:
      enum:
      - SystemAssigned
      - UserAssigned
      type: string
      x-ms-enum:
        modelAsString: true
        name: ManagedIdentityTypes
    LogzMonitorResourceUpdateParameters:
      description: The parameters for a PATCH request to a monitor resource.
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/MonitorUpdateProperties'
        tags:
          description: The new tags of the monitor resource.
          type: object
          additionalProperties:
            type: string
  parameters:
    MonitorNameParameter:
      in: path
      name: monitorName
      description: Monitor resource name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubAccountNameParameter:
      in: path
      name: subAccountName
      description: Sub Account resource name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Microsoft Entra ID OAuth2 Flow
