openapi: 3.2.0
info:
  title: Microsoft Azure DELETE API
  x-refined-note:
  - x-ms-code-generation-settings differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged DELETE across 3 of this provider''s published API definitions: azuredatabricksmanagementclient-openapi-original.yml, iothubclient-openapi-original.yml, provisioningserviceclient-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
- url: https://your-dps.azure-devices-provisioning.net
tags:
- name: Delete
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Databricks/workspaces/{workspaceName}/privateEndpointConnections/{privateEndpointConnectionName}
  : delete:
      tags:
      - Delete
      summary: Microsoft Azure Remove Private Endpoint Connection
      description: Remove private endpoint connection with the specified name
      operationId: microsoftAzurePrivateendpointconnectionsDelete
      x-ms-examples:
        Remove a private endpoint connection:
          $ref: ./examples/PrivateEndpointConnectionsDelete.json
      x-ms-long-running-operation: true
      parameters:
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/WorkspaceName'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/PrivateEndpointConnectionName'
      responses:
        '200':
          description: OK - Returns the status of polling request for the delete operation.
        '202':
          description: Accepted - This is a long running operation. The operation returns a 202 if the validation is complete. The response includes an Azure-AsyncOperation header that contains a status URL. Clients are expected to poll the status URL for the status of the operation.
        '204':
          description: No Content - PrivateEndpoint does not exist.
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}:
    delete:
      tags:
      - Delete
      summary: Microsoft Azure Delete An Iot Hub
      description: Delete an IoT hub.
      operationId: microsoftAzureIothubresourceDelete
      x-ms-examples:
        IotHubResource_Delete:
          $ref: ./examples/iothub_delete.json
      x-ms-long-running-operation: true
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      responses:
        '200':
          description: This is returned as a response to the status polling request for the delete operation. The body contains the resource representation that indicates a transitional provisioning state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubDescription'
        '202':
          description: The Iot Hub resource provider always returns a 202 Accepted status code with valid Location and Retry-After headers. The resource provider also sets the Azure-AsyncOperation header with a URL that points to the operation resource for this operation. Subsequent GET attempts on the resource after a DELETE operation return a resource representation that indicates a transitional provisioning state (such as Terminating). To retrieve the status of the operation, a client can either poll the URL returned in the Location header after the Retry-After interval, get the IoT Hub service status directly, or query the operation resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubDescription'
        '204':
          description: Once the long running delete operation completes successfully, a 204 No Content status code is returned when the status polling request finds the Iot hub metadata in the service and the status of the delete operation is set to a completed state.
        '404':
          description: After the long running delete operation completes successfully, a 404 Not Found is returned when the status polling request no longer finds the Iot hub metadata in the service.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/eventHubEndpoints/{eventHubEndpointName}/ConsumerGroups/{name}
  : delete:
      tags:
      - Delete
      summary: Microsoft Azure Delete A Consumer Group From An Event Hub Compatible Endpoint…
      description: Delete a consumer group from an Event Hub-compatible endpoint in an IoT hub.
      operationId: microsoftAzureIothubresourceDeleteeventhubconsumergroup
      x-ms-examples:
        IotHubResource_DeleteEventHubConsumerGroup:
          $ref: ./examples/iothub_deleteconsumergroup.json
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      - name: eventHubEndpointName
        in: path
        description: The name of the Event Hub-compatible endpoint in the IoT hub.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: The name of the consumer group to delete.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: This is a synchronous operation.
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/iotHubs/{resourceName}/privateEndpointConnections/{privateEndpointConnectionName}
  : delete:
      tags:
      - Delete
      summary: Microsoft Azure Delete Private Endpoint Connection
      description: Delete private endpoint connection with the specified name
      operationId: microsoftAzurePrivateendpointconnectionsDelete
      x-ms-examples:
        PrivateEndpointConnection_Delete:
          $ref: ./examples/iothub_deleteprivateendpointconnection.json
      x-ms-long-running-operation: true
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      - $ref: '#/components/parameters/privateEndpointConnectionName'
      responses:
        '200':
          description: This is returned as a response to the status polling request for the delete operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
        '202':
          description: This is a long running operation. The operation returns a 202 if the validation is complete. The response includes an Azure-AsyncOperation header that contains a status URL. Clients are expected to poll the status URL for the status of the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
        '204':
          description: PrivateEndpoint does not exist.
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /enrollments/{id}:
    delete:
      tags:
      - Delete
      summary: Microsoft Azure Delete A Device Enrollment Record
      operationId: microsoftAzureIndividualenrollmentDelete
      parameters:
      - name: id
        in: path
        description: 'This id is used to uniquely identify a device registration of an enrollment. A case-insensitive string (up to 128 characters long) of alphanumeric characters plus certain special characters : . _ -. No special characters allowed at start or end.'
        required: true
        schema:
          type: string
      - name: If-Match
        in: header
        description: The ETag of the enrollment record.
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter_2'
      responses:
        '204':
          description: Success
        default:
          description: Error response
          headers:
            x-ms-error-code:
              description: The error code for specific error that occurred.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvisioningServiceErrorDetails'
      description: Needs a more full description created.
    servers:
    - url: https://your-dps.azure-devices-provisioning.net
  /enrollmentGroups/{id}:
    delete:
      tags:
      - Delete
      summary: Microsoft Azure Delete A Device Enrollment Group
      operationId: microsoftAzureEnrollmentgroupDelete
      parameters:
      - name: id
        in: path
        description: Enrollment group ID.
        required: true
        schema:
          type: string
      - name: If-Match
        in: header
        description: The ETag of the enrollment group record.
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter_2'
      responses:
        '204':
          description: Success
        default:
          description: Error response
          headers:
            x-ms-error-code:
              description: The error code for specific error that occurred.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvisioningServiceErrorDetails'
      description: Needs a more full description created.
    servers:
    - url: https://your-dps.azure-devices-provisioning.net
  /registrations/{id}:
    delete:
      tags:
      - Delete
      summary: Microsoft Azure Deletes The Device Registration
      operationId: microsoftAzureDeviceregistrationstateDelete
      parameters:
      - name: id
        in: path
        description: Registration ID.
        required: true
        schema:
          type: string
      - name: If-Match
        in: header
        description: The ETag of the registration status record.
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter_2'
      responses:
        '204':
          description: Success
        default:
          description: Error response
          headers:
            x-ms-error-code:
              description: The error code for specific error that occurred.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvisioningServiceErrorDetails'
      description: Needs a more full description created.
    servers:
    - url: https://your-dps.azure-devices-provisioning.net
components:
  parameters:
    ResourceGroupName:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
        pattern: ^[-\w\._\(\)]+$
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
    PrivateEndpointConnectionName:
      name: privateEndpointConnectionName
      in: path
      description: The name of the private endpoint connection
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
    WorkspaceName:
      name: workspaceName
      in: path
      required: true
      description: The name of the workspace.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 3
    privateEndpointConnectionName:
      name: privateEndpointConnectionName
      in: path
      description: The name of the private endpoint connection
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    api-version:
      name: api-version
      in: query
      description: The version of the API.
      required: true
      schema:
        type: string
    subscriptionId:
      name: subscriptionId
      in: path
      description: The subscription identifier.
      required: true
      schema:
        type: string
    resourceGroupName:
      name: resourceGroupName
      description: The name of the resource group that contains the IoT hub.
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    resourceName:
      name: resourceName
      in: path
      description: The name of the IoT hub.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter_2:
      name: api-version
      in: query
      description: 'The API version to use for the request. Supported versions include: 2021-10-01'
      required: true
      schema:
        type: string
        default: '2021-10-01'
  schemas:
    ErrorInfo:
      title: The code and message for an error.
      type: object
      properties:
        code:
          description: A machine readable error code.
          type: string
        message:
          description: A human readable error message.
          type: string
        details:
          description: error details.
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
        innererror:
          description: Inner error details if they exist.
          type: string
      required:
      - code
      - message
    ErrorResponse:
      title: Error response.
      description: Contains details when the response code indicates an error.
      type: object
      properties:
        error:
          description: The error details.
          $ref: '#/components/schemas/ErrorInfo'
      required:
      - error
    ErrorDetail:
      title: Error details.
      type: object
      properties:
        code:
          description: The error's code.
          type: string
        message:
          description: A human readable error message.
          type: string
        target:
          description: Indicates which property in the request is responsible for the error.
          type: string
      required:
      - code
      - message
    ArmUserIdentity:
      type: object
      properties:
        principalId:
          type: string
          readOnly: true
        clientId:
          type: string
          readOnly: true
    PrivateEndpoint:
      description: The private endpoint property of a private endpoint connection
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: The resource identifier.
    ManagedIdentity:
      description: The properties of the Managed identity.
      type: object
      properties:
        userAssignedIdentity:
          type: string
          description: The user assigned identity.
    KeyVaultKeyProperties:
      description: The properties of the KeyVault key.
      type: object
      properties:
        keyIdentifier:
          type: string
          description: The identifier of the key.
        identity:
          description: Managed identity properties of KeyVault Key.
          $ref: '#/components/schemas/ManagedIdentity'
    PrivateEndpointConnection:
      description: The private endpoint connection of an IotHub
      x-ms-azure-resource: true
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: The resource identifier.
        name:
          readOnly: true
          type: string
          description: The resource name.
        type:
          readOnly: true
          type: string
          description: The resource type.
        properties:
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties'
      required:
      - properties
    FeedbackProperties:
      description: The properties of the feedback queue for cloud-to-device messages.
      type: object
      properties:
        lockDurationAsIso8601:
          description: 'The lock duration for the feedback queue. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages.'
          type: string
          format: duration
        ttlAsIso8601:
          description: 'The period of time for which a message is available to consume before it is expired by the IoT hub. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages.'
          type: string
          format: duration
        maxDeliveryCount:
          description: 'The number of times the IoT hub attempts to deliver a message on the feedback queue. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages.'
          format: int32
          type: integer
          minimum: 1
          maximum: 100
    StorageEndpointProperties:
      description: The properties of the Azure Storage endpoint for file upload.
      type: object
      properties:
        sasTtlAsIso8601:
          description: 'The period of time for which the SAS URI generated by IoT Hub for file upload is valid. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-file-upload#file-upload-notification-configuration-options.'
          type: string
          format: duration
        connectionString:
          description: The connection string for the Azure Storage account to which files are uploaded.
          type: string
        containerName:
          description: The name of the root container where you upload files. The container need not exist but should be creatable using the connectionString specified.
          type: string
        authenticationType:
          description: Specifies authentication type being used for connecting to the storage account.
          enum:
          - keyBased
          - identityBased
          type: string
          x-ms-enum:
            name: AuthenticationType
            modelAsString: true
        identity:
          description: Managed identity properties of storage endpoint for file upload.
          $ref: '#/components/schemas/ManagedIdentity'
      required:
      - connectionString
      - containerName
    PrivateEndpointConnectionProperties:
      description: The properties of a private endpoint connection
      type: object
      properties:
        privateEndpoint:
          $ref: '#/components/schemas/PrivateEndpoint'
        privateLinkServiceConnectionState:
          $ref: '#/components/schemas/PrivateLinkServiceConnectionState'
      required:
      - privateLinkServiceConnectionState
    RoutingStorageContainerProperties:
      description: The properties related to a storage container endpoint.
      type: object
      properties:
        id:
          description: Id of the storage container endpoint
          type: string
        connectionString:
          description: The connection string of the storage account.
          type: string
        endpointUri:
          description: The url of the storage endpoint. It must include the protocol https://
          type: string
        authenticationType:
          description: Method used to authenticate against the storage endpoint
          enum:
          - keyBased
          - identityBased
          type: string
          x-ms-enum:
            name: authenticationType
            modelAsString: true
        identity:
          description: Managed identity properties of routing storage endpoint.
          $ref: '#/components/schemas/ManagedIdentity'
        name:
          description: 'The name that identifies this endpoint. The name can only include alphanumeric characters, periods, underscores, hyphens and has a maximum length of 64 characters. The following names are reserved:  events, fileNotifications, $default. Endpoint names must be unique across endpoint types.'
          type: string
          pattern: ^[A-Za-z0-9-._]{1,64}$
        subscriptionId:
          description: The subscription identifier of the storage account.
          type: string
        resourceGroup:
          description: The name of the resource group of the storage account.
          type: string
        containerName:
          description: The name of storage container in the storage account.
          type: string
        fileNameFormat:
          description: File name format for the blob. Default format is {iothub}/{partition}/{YYYY}/{MM}/{DD}/{HH}/{mm}. All parameters are mandatory but can be reordered.
          type: string
        batchFrequencyInSeconds:
          description: Time interval at which blobs are written to storage. Value should be between 60 and 720 seconds. Default value is 300 seconds.
          format: int32
          type: integer
          maximum: 720
          minimum: 60
        maxChunkSizeInBytes:
          description: Maximum number of bytes for each blob written to storage. Value should be between 10485760(10MB) and 524288000(500MB). Default value is 314572800(300MB).
          format: int32
          type: integer
          maximum: 524288000
          minimum: 10485760
        encoding:
          description: Encoding that is used to serialize messages to blobs. Supported values are 'avro', 'avrodeflate', and 'JSON'. Default value is 'avro'.
          type: string
          enum:
          - Avro
          - AvroDeflate
          - JSON
      required:
      - name
      - containerName
    IotHubProperties:
      description: The properties of an IoT hub.
      type: object
      properties:
        authorizationPolicies:
          description: The shared access policies you can use to secure a connection to the IoT hub.
          type: array
          items:
            $ref: '#/components/schemas/SharedAccessSignatureAuthorizationRule'
        disableLocalAuth:
          description: If true, SAS tokens with Iot hub scoped SAS keys cannot be used for authentication.
          type: boolean
        disableDeviceSAS:
          description: If true, all device(including Edge devices but excluding modules) scoped SAS keys cannot be used for authentication.
          type: boolean
        disableModuleSAS:
          description: If true, all module scoped SAS keys cannot be used for authentication.
          type: boolean
        restrictOutboundNetworkAccess:
          description: If true, egress from IotHub will be restricted to only the allowed FQDNs that are configured via allowedFqdnList.
          type: boolean
        allowedFqdnList:
          description: List of allowed FQDNs(Fully Qualified Domain Name) for egress from Iot Hub.
          type: array
          items:
            description: 'FQDN to be allowed for egress. Example: my-eventhub.servicebus.windows.net'
            type: string
        publicNetworkAccess:
          type: string
          description: Whether requests from Public Network are allowed
          enum:
          - Enabled
          - Disabled
          x-ms-enum:
            modelAsString: true
            name: PublicNetworkAccess
        ipFilterRules:
          description: The IP filter rules.
          type: array
          items:
            $ref: '#/components/schemas/IpFilterRule'
        networkRuleSets:
          $ref: '#/components/schemas/NetworkRuleSetProperties'
        minTlsVersion:
          type: string
          description: Specifies the minimum TLS version to support for this hub. Can be set to "1.2" to have clients that use a TLS version below 1.2 to be rejected.
        privateEndpointConnections:
          description: Private endpoint connections created on this IotHub
          type: array
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection'
        provisioningState:
          description: The provisioning state.
          type: string
          readOnly: true
        state:
          description: The hub state.
          type: string
          readOnly: true
        hostName:
          description: The name of the host.
          type: string
          readOnly: true
        eventHubEndpoints:
          description: The Event Hub-compatible endpoint properties. The only possible keys to this dictionary is events. This key has to be present in the dictionary while making create or update calls for the IoT hub.
          type: object
          additionalProperties:
            $ref: '#/components/schemas/EventHubProperties'
        routing:
          $ref: '#/components/schemas/RoutingProperties'
        storageEndpoints:
          description: The list of Azure Storage endpoints where you can upload files. Currently you can configure only one Azure Storage account and that MUST have its key as $default. Specifying more than one storage account causes an error to be thrown. Not specifying a value for this property when the enableFileUploadNotifications property is set to True, causes an error to be thrown.
          type: object
          additionalProperties:
            $ref: '#/components/schemas/StorageEndpointProperties'
        messagingEndpoints:
          description: The messaging endpoint properties for the file upload notification queue.
          type: object
          additionalProperties:
            $ref: '#/components/schemas/MessagingEndpointProperties'
        enableFileUploadNotifications:
          description: If True, file upload notifications are enabled.
          type: boolean
        cloudToDevice:
          $ref: '#/components/schemas/CloudToDeviceProperties'
        comments:
          description: IoT hub comments.
          type: string
        deviceStreams:
          description: The device streams properties of iothub.
          type: object
          properties:
            streamingEndpoints:
              description: List of Device Streams Endpoints.
              type: array
              items:
                type: string
        features:
          description: The capabilities and features enabled for the IoT hub.
          enum:
          - None
          - DeviceManagement
          type: string
          x-ms-enum:
            name: Capabilities
            modelAsString: true
        encryption:
          description: The encryption properties for the IoT hub.
          $ref: '#/components/schemas/EncryptionPropertiesDescription'
        locations:
          description: Primary and secondary location for iot hub
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/IotHubLocationDescription'
        enableDataResidency:
          description: This property when set to true, will enable data residency, thus, disabling disaster recovery.
          type: boolean
    EnrichmentProperties:
      description: The properties of an enrichment that your IoT hub applies to messages delivered to endpoints.
      type: object
      properties:
        key:
          description: The key or name for the enrichment property.
          type: string
        value:
          description: The value for the enrichment property.
          type: string
        endpointNames:
          description: The list of endpoints for which the enrichment is applied to the message.
          minItems: 1
          type: array
          items:
            type: string
      required:
      - key
      - value
      - endpointNames
    PrivateLinkServiceConnectionState:
      description: The current state of a private endpoint connection
      type: object
      properties:
        status:
          description: The status of a private endpoint connection
          enum:
          - Pending
          - Approved
          - Rejected
          - Disconnected
          type: string
          x-ms-enum:
            name: PrivateLinkServiceConnectionStatus
            modelAsString: true
        description:
          type: string
          description: The description for the current state of a private endpoint connection
        actionsRequired:
          type: string
          description: Actions required for a private endpoint connection
      required:
      - status
      - description
    RoutingEventHubProperties:
      description: The properties related to an event hub endpoint.
      type: object
      properties:
        id:
          description: Id of the event hub endpoint
          type: string
        connectionString:
          description: 'The connection string of the event hub endpoint. '
          type: string
        endpointUri:
          description: The url of the event hub endpoint. It must include the protocol sb://
          type: string
        entityPath:
          description: Event hub name on the event hub namespace
          type: string
        authenticationType:
          description: Method used to authenticate against the event hub endpoint
          enum:
          - keyBased
          - identityBased
          type: string
          x-ms-enum:
            name: authenticationType
            modelAsString: true
        identity:
          description: Managed identity properties of routing event hub endpoint.
          $ref: '#/components/schemas/ManagedIdentity'
        name:
          description: 'The name that identifies this endpoint. The name can only include alphanumeric characters, periods, underscores, hyphens and has a maximum length of 64 characters. The following names are reserved:  events, fileNotifications, $default. Endpoint names must be unique across endpoint types.'
          type: string
          pattern: ^[A-Za-z0-9-._]{1,64}$
        subscriptionId:
          description: The subscription identifier of the event hub endpoint.
          type: string
        resourceGroup:
          description: The name of the resource group of the event hub endpoint.
          type: string
      required:
      - name
    IotHubSkuInfo:
      description: Information about the SKU of the IoT hub.
      type: object
      properties:
        name:
          description: The name of the SKU.
          enum:
          - F1
          - S1
          - S2
          - S3
          - B1
          - B2
          - B3
          type: string
          x-ms-enum:
            name: IotHubSku
            modelAsString: true
        tier:
          description: The billing tier for the IoT hub.
          enum:
          - Free
          - Standard
          - Basic
          type: string
          readOnly: true
          x-ms-enum:
            name: IotHubSkuTier
            modelAsString: false
        capacity:
          format: int64
          description: 'The number of provisioned IoT Hub units. See: https://docs.microsoft.com/azure/azure-subscription-service-limits#iot-hub-limits.'
          type: integer
      required:
      - name
    NetworkRuleSetIpRule:
      description: IP Rule to be applied as part of Network Rule Set
      type: object
      properties:
        filterName:
          type: string
          description: Name of the IP filter rule.
        action:
          type: string
          description: IP Filter Action
          enum:
          - Allow
          x-ms-enum:
            name: NetworkRuleIPAction
            modelAsString: true
          default: Allow
        ipMask:
          type: string
          description: A string that contains the IP address range in CIDR notation for the rule.
      required:
      - filterName
      - ipMask
    RouteProperties:
      description: The properties of a routing rule that your IoT hub uses to route messages to endpoints.
      type: object
      properties:
        name:
          description: The name of the route. The name can only include alphanumeric characters, periods, underscores, hyphens, has a maximum length of 64 characters, and must be unique.
          type: string
          pattern: ^[A-Za-z0-9-._]{1,64}$
        source:
          description: The source that the routing rule is to be applied to, such as DeviceMessages.
          enum:
          - Invalid
          - DeviceMessages
          - TwinChangeEvents
          - DeviceLifecycleEvents
          - DeviceJobLifecycleEvents
          - DigitalTwinChangeEvents
          - DeviceConnectionStateEvents
          - MqttBrokerMessages
          type: string
          x-ms-enum:
            name: RoutingSource
            modelAsString: true
        condition:
          description: 'The condition that is evaluated to apply the routing rule. If no condition is provided, it evaluates to true by default. For grammar, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-query-language'
          type: string
        endpointNames:
          description: The list of endpoints to which messages that satisfy the condition are routed. Currently only one endpoint is allowed.
          minItems: 1
          maxItems: 1
          type: array
          items:
            type: string
        isEnabled:
          description: Used to specify whether a route is enabled.
          type: boolean
      required:
      - name
      - endpointNames
      - source
      - isEnabled
    RoutingProperties:
      description: 'The routing related properties of the IoT hub. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging'
      type: object
      properties:
        endpoints:
          $ref: '#/components/schemas/RoutingEndpoints'
        routes:
          description: The list of user-provided routing rules that the IoT hub uses to route messages to built-in and custom endpoints. A maximum of 100 routing rules are allowed for paid hubs and a maximum of 5 routing rules are allowed for free hubs.
          type: array
          items:
            $ref: '#/components/schemas/RouteProperties'
        fallbackRoute:
          description: The properties of the route that is used as a fall-back route when none of the conditions specified in the 'routes' section are met. This is an optional parameter. When this property is not set, the messages which do not meet any of the conditions specified in the 'routes' section get routed to the built-in eventhub endpoint.
          $ref: '#/components/schemas/FallbackRouteProperties'
        enrichments:
          description: 'The list of user-provided enrichments that the IoT hub applies to messages to be delivered to built-in and custom endpoints. See: https://aka.ms/telemetryoneventgrid'
          type: array
          items:
            $ref: '#/components/schemas/EnrichmentProperties'
    ArmIdentity:
      type: object
      properties:
        principalId:
          description: Principal Id
          type: string
          readOnly: true
        tenantId:
          description: Tenant Id
          type: string
          readOnly: true
        type:
          description: The type of identity used for the resource. The type 'SystemAssigned,UserAssigned' includes both an implicitly created identity and a set of user assigned identities. The type 'None' will remove any identities from the service.
          type: string
          enum:
          - SystemAssigned
          - UserAssigned
          - SystemAssigned, UserAssigned
          - None
          x-ms-enum:
            name: ResourceIdentityType
            modelAsString: false
        userAssignedIdentities:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ArmUserIdentity'
    EncryptionPropertiesDescription:
      description: The encryption properties for the IoT hub.
      type: object
      properties:
        keySource:
          description: The source of the key.
          type: string
        keyVaultProperties:
          description: The properties of the KeyVault key.
          type: array
          items:
            $ref: '#/components/schemas/KeyVaultKeyProperties'
    IotHubDescription:
      description: The description of the IoT hub.
      type: object
      properties:
        etag:
          description: The Etag field is *not* required. If it is provided in the response body, it must also be provided as a header per the normal ETag convention.
          type: string
        properties:
          description: IotHub properties
          $ref: '#/components/schemas/IotHubProperties'
        sku:
          description: IotHub SKU info
          $ref: '#/components/schemas/IotHubSkuInfo'
        identity:
          description: The managed identities for the IotHub.
          $ref: '#/components/schemas/ArmIdentity'
        systemData:
          readOnly: true
          description: The system meta data relating to this resource.
          $ref: '#/components/schemas/systemData'
      allOf:
      - $ref: '#/components/schemas/Resource'
      required:
      - sku
    IotHubLocationDescription:
      description: Public representation of one of the locations where a resource is provisioned.
      type: object
      properties:
        location:
          description: The name of the Azure region
          type: string
        role:
          description: The role of the region, can be either primary or secondary. The primary region is where the IoT hub is currently provisioned. The secondary region is the Azure disaster recovery (DR) paired region and also the region where the IoT hub can failover to.
          enum:
          - primary
          - secondary
          type: string
          x-ms-enum:
            name: IotHubReplicaRoleType
            modelAsString: true
    RoutingEndpoints:
      description: The properties related to the custom endpoints to which your IoT hub routes messages based on the routing rules. A maximum of 10 custom endpoints are allowed across all endpoint types for paid hubs and only 1 custom endpoint is allowed across all endpoint types for free hubs.
      type: object
      properties:
        serviceBusQueues:
          description: The list of Service Bus queue endpoints that IoT hub routes the messages to, based on the routing rules.
          type: array
          items:
            $ref: '#/components/schemas/RoutingServiceBusQueueEndpointProperties'
        serviceBusTopics:
          description: The list of Service Bus topic endpoints that the IoT hub routes the messages to, based on the routing rules.
          type: array
          items:
            $ref: '#/components/schemas/RoutingServiceBusTopicEndpointProperties'
        eventHubs:
          description: The list of Event Hubs endpoints that IoT hub routes messages to, based on the routing rules. This list does not include the built-in Event Hubs endpoint.
          type: array
          items:
            $ref: '#/components/schemas/RoutingEventHubProperties'
        storageContainers:
          description: The list of storage container endpoints that IoT hub routes messages to, based on the routing rules.
          type: array
          items:
            $ref: '#/components/schemas/RoutingStorageContainerProperties'
    NetworkRuleSetProperties:
      description: Network Rule Set Properties of IotHub
      type: object
      properties:
        defaultAction:
          type: string
          description: Default Action for Network Rule Set
          enum:
          - Deny
          - Allow
          x-ms-enum:
            name: DefaultAction
            modelAsString: true
          default: Deny
        applyToBuiltInEventHubEndpoint:
          type: boolean
          description: If True, then Network Rule Set is also applied to BuiltIn EventHub EndPoint of IotHub
        ipRules:
          type: array
          items:
            $ref: '#/components/schemas/NetworkRuleSetIpRule'
          description: List of IP Rules
      required:
      - applyToBuiltInEventHubEndpoint
      - ipRules
    Resource:
      description: The common properties of an Azure resource.
      properties:
        id:
          readOnly: true
          type: string
          description: The resource identifier.
        name:
          readOnly: true
          type: string
          description: The resource name.
          pattern: ^(?![0-9]+$)(?!-)[a-zA-Z0-9-]{2,49}[a-zA-Z0-9]$
        type:
          readOnly: true
          type: string
          description: The resource type.
        location:
          type: string
          description: The resource location.
        tags:
          type: object
          additionalProperties:
            type: string
          description: The resource tags.
      x-ms-azure-resource: true
      required:
      - location
    FallbackRouteProperties:
      description: The properties of the fallback route. IoT Hub uses these properties when it routes messages to the fallback endpoint.
      type: object
      properties:
        name:
          description: The name of the route. The name can only include alphanumeric characters, periods, underscores, hyphens, has a maximum length of 64 characters, and must be unique.
          type: string
        source:
          description: The source to which the routing rule is to be applied to. For example, DeviceMessages
          enum:
          - DeviceMessages
          type: string
          x-ms-enum:
            name: RoutingSource
            modelAsString: true
        condition:
          description: 'The condition which is evaluated in order to apply the fallback route. If the condition is not provided it will evaluate to true by default. For grammar, See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-query-language'
          type: string
        endpointNames:
          description: The list of endpoints to which the messages that satisfy the condition are routed to. Currently only 1 endpoint is allowed.
          minItems: 1
          maxItems: 1
          type: array
          items:
            type: string
        isEnabled:
          description: Used to specify whether the fallback route is enabled.
          type: boolean
      required:
      - endpointNames
      - source
      - isEnabled
    CloudToDeviceProperties:
      description: The IoT hub cloud-to-device messaging properties.
      type: object
      properties:
        maxDeliveryCount:
          description: 'The max delivery count for cloud-to-device messages in the device queue. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages.'
          format: int32
          type: integer
          minimum: 1
          maximum: 100
        defaultTtlAsIso8601:
          description: 'The default time to live for cloud-to-device messages in the device queue. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages.'
          type: string
          format: duration
        feedback:
          $ref: '#/components/schemas/FeedbackProperties'
    EventHubProperties:
      description: The properties of the provisioned Event Hub-compatible endpoint used by the IoT hub.
      type: object
      properties:
        retentionTimeInDays:
          format: int64
          description: 'The retention time for device-to-cloud messages in days. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#device-to-cloud-messages'
          type: integer
        partitionCount:
          format: int32
          description: 'The number of partitions for receiving device-to-cloud messages in the Event Hub-compatible endpoint. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#device-to-cloud-messages.'
          type: integer
        partitionIds:
          description: The partition ids in the Event Hub-compatible endpoint.
          readOnly: true
          type: array
          items:
            type: string
        path:
          description: The Event Hub-compatible name.
          type: string
          readOnly: true
        endpoint:
          description: The Event Hub-compatible endpoint.
          type: string
          readOnly: true
    ErrorDetails:
      description: Error details.
      type: object
      properties:
        code:
          description: The error code.
          type: string
          readOnly: true
        httpStatusCode:
          description: The HTTP status code.
          type: string
          readOnly: true
        message:
          description: The error message.
          type: string
          readOnly: true
        details:
          description: The error details.
          type: string
          readOnly: true
    RoutingServiceBusTopicEndpointProperties:
      description: The properties related to service bus topic endpoint types.
      type: object
      properties:
        id:
          description: Id of the service bus topic endpoint
          type: string
        connectionString:
          description: The connection string of the service bus topic endpoint.
          type: string
        endpointUri:
          description: The url of the service bus topic endpoint. It must include the protocol sb://
          type: string
        entityPath:
          description: Queue name on the service bus topic
          type: string
        authenticationType:
          description: Method used to authenticate against the service bus topic endpoint
          enum:
          - keyBased
          - identityBased
          type: string
          x-ms-enum:
            name: authenticationType
            modelAsString: true
        identity:
          description: Managed identity properties of routing service bus topic endpoint.
          $ref: '#/components/schemas/ManagedIdentity'
        name:
          description: 'The name that identifies this endpoint. The name can only include alphanumeric characters, periods, underscores, hyphens and has a maximum length of 64 characters. The following names are reserved:  events, fileNotifications, $default. Endpoint names must be unique across endpoint types.  The name need not be the same as the actual topic name.'
          type: string
          pattern: ^[A-Za-z0-9-._]{1,64}$
        subscriptionId:
          description: The subscription identifier of the service bus topic endpoint.
          type: string
        resourceGroup:
          description: The name of the resource group of the service bus topic endpoint.
          type: string
      required:
      - name
    IpFilterRule:
      description: The IP filter rules for the IoT hub.
      type: object
      properties:
        filterName:
          description: The name of the IP filter rule.
          type: string
        action:
          description: The desired action for requests captured by this rule.
          enum:
          - Accept
          - Reject
          type: string
          x-ms-enum:
            name: IpFilterActionType
            modelAsString: false
        ipMask:
          description: A string that contains the IP address range in CIDR notation for the rule.
          type: string
      required:
      - filterName
      - action
      - ipMask
    SharedAccessSignatureAuthorizationRule:
      description: The properties of an IoT hub shared access policy.
      type: object
      properties:
        keyName:
          description: The name of the shared access policy.
          type: string
        primaryKey:
          description: The primary key.
          type: string
        secondaryKey:
          description: The secondary key.
          type: string
        rights:
          description: The permissions assigned to the shared access policy.
          enum:
          - RegistryRead
          - RegistryWrite
          - ServiceConnect
          - DeviceConnect
          - RegistryRead, RegistryWrite
          - RegistryRead, ServiceConnect
          - RegistryRead, DeviceConnect
          - RegistryWrite, ServiceConnect
          - RegistryWrite, DeviceConnect
          - ServiceConnect, DeviceConnect
          - RegistryRead, RegistryWrite, ServiceConnect
          - RegistryRead, RegistryWrite, DeviceConnect
          - RegistryRead, ServiceConnect, DeviceConnect
          - RegistryWrite, ServiceConnect, DeviceConnect
          - RegistryRead, RegistryWrite, ServiceConnect, DeviceConnect
          type: string
          x-ms-enum:
            name: AccessRights
            modelAsString: false
      required:
      - keyName
      - rights
    MessagingEndpointProperties:
      description: The properties of the messaging endpoints used by this IoT hub.
      type: object
      properties:
        lockDurationAsIso8601:
          description: 'The lock duration. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-file-upload.'
          type: string
          format: duration
        ttlAsIso8601:
          description: 'The period of time for which a message is available to consume before it is expired by the IoT hub. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-file-upload.'
          type: string
          format: duration
        maxDeliveryCount:
          description: 'The number of times the IoT hub attempts to deliver a message. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-file-upload.'
          format: int32
          type: integer
          minimum: 1
          maximum: 100
    RoutingServiceBusQueueEndpointProperties:
      description: The properties related to service bus queue endpoint types.
      type: object
      properties:
        id:
          description: Id of the service bus queue endpoint
          type: string
        connectionString:
          description: The connection string of the service bus queue endpoint.
          type: string
        endpointUri:
          description: The url of the service bus queue endpoint. It must include the protocol sb://
          type: string
        entityPath:
          description: Queue name on the service bus namespace
          type: string
        authenticationType:
          description: Method used to authenticate against the service bus queue endpoint
          enum:
          - keyBased
          - identityBased
          type: string
          x-ms-enum:
            name: authenticationType
            modelAsString: true
        identity:
          description: Managed identity properties of routing service bus queue endpoint.
          $ref: '#/components/schemas/ManagedIdentity'
        name:
          description: 'The name that identifies this endpoint. The name can only include alphanumeric characters, periods, underscores, hyphens and has a maximum length of 64 characters. The following names are reserved:  events, fileNotifications, $default. Endpoint names must be unique across endpoint types. The name need not be the same as the actual queue name.'
          type: string
          pattern: ^[A-Za-z0-9-._]{1,64}$
        subscriptionId:
          description: The subscription identifier of the service bus queue endpoint.
          type: string
        resourceGroup:
          description: The name of the resource group of the service bus queue endpoint.
          type: string
      required:
      - name
    systemData:
      description: Metadata pertaining to creation and last modification of the resource.
      type: object
      readOnly: true
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
    ProvisioningServiceErrorDetails:
      description: Contains the properties of an error returned by the Azure IoT Hub Provisioning Service.
      type: object
      properties:
        errorCode:
          format: int32
          type: integer
        trackingId:
          type: string
        message:
          type: string
        info:
          type: object
          additionalProperties:
            type: string
        timestampUtc:
          format: date-time
          type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- azuredatabricksmanagementclient-openapi-original.yml
- iothubclient-openapi-original.yml
- provisioningserviceclient-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
