openapi: 3.2.0
info:
  version: 2021-11-16-preview
  title: Microsoft Azure AuthorizationManagementClient Patch Access…
  description: Access reviews service provides the workflow for running access reviews on different kind of resources.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: PatchAccessReviewMyInstanceDecision
paths:
  ? /providers/Microsoft.Authorization/accessReviewScheduleDefinitions/{scheduleDefinitionId}/instances/{id}/decisions/{decisionId}
  : patch:
      tags:
      - PatchAccessReviewMyInstanceDecision
      operationId: microsoftAzureAccessreviewinstancemydecisionsPatch
      x-ms-examples:
        PatchAccessReviewMyInstanceDecision:
          $ref: ./examples/PatchAccessReviewInstanceMyDecisionById.json
      description: Record a decision.
      parameters:
      - name: scheduleDefinitionId
        in: path
        required: true
        description: The id of the access review schedule definition.
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: The id of the access review instance.
        schema:
          type: string
      - name: decisionId
        in: path
        required: true
        description: The id of the decision record.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Describe the result of a successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessReviewDecision'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDefinition'
      summary: Microsoft Azure Patch Providers Microsoft Authorization…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessReviewDecisionProperties'
        description: Access review decision properties to patch.
        required: true
components:
  schemas:
    AccessReviewDecisionIdentity:
      type: object
      discriminator:
        propertyName: type
      required:
      - type
      properties:
        type:
          type: string
          description: 'The type of decision target : User/ServicePrincipal'
          enum:
          - user
          - servicePrincipal
          x-ms-enum:
            name: DecisionTargetType
            modelAsString: true
        id:
          type: string
          readOnly: true
          description: The id of principal whose access was reviewed.
        displayName:
          type: string
          readOnly: true
          description: The display name of the user whose access was reviewed.
      description: Target of the decision.
    ErrorDefinition:
      type: object
      title: Error
      description: Error description and code explaining why an operation failed.
      properties:
        error:
          $ref: '#/components/schemas/ErrorDefinitionProperties'
          description: Error of the list gateway status.
    AccessReviewDecisionResource:
      type: object
      discriminator:
        propertyName: type
      required:
      - type
      properties:
        type:
          type: string
          description: 'The type of resource: azureRole'
          enum:
          - azureRole
          x-ms-enum:
            name: DecisionResourceType
            modelAsString: true
        id:
          type: string
          readOnly: true
          description: The id of resource associated with a decision record.
        displayName:
          type: string
          readOnly: true
          description: The display name of resource associated with a decision record.
      description: Target of the decision.
    AccessReviewActorIdentity:
      type: object
      properties:
        principalId:
          type: string
          readOnly: true
          description: The identity id
        principalType:
          type: string
          readOnly: true
          description: 'The identity type : user/servicePrincipal'
          enum:
          - user
          - servicePrincipal
          x-ms-enum:
            name: AccessReviewActorIdentityType
            modelAsString: true
        principalName:
          type: string
          readOnly: true
          description: The identity display name
        userPrincipalName:
          type: string
          readOnly: true
          description: The user principal name(if valid)
      description: Details of the actor identity
    ErrorDefinitionProperties:
      type: object
      title: Error
      description: Error description and code explaining why an operation failed.
      properties:
        message:
          type: string
          readOnly: true
          description: Description of the error.
        code:
          type: string
          description: Error code of list gateway.
    AccessReviewDecision:
      type: object
      x-ms-azure-resource: true
      properties:
        id:
          type: string
          readOnly: true
          description: The access review decision id.
        name:
          type: string
          readOnly: true
          description: The access review decision name.
        type:
          type: string
          readOnly: true
          description: The resource type.
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/AccessReviewDecisionProperties'
          description: Access Review Decision properties.
      description: Access Review.
    AccessReviewDecisionProperties:
      type: object
      properties:
        principal:
          readOnly: true
          x-ms-client-flatten: true
          $ref: '#/components/schemas/AccessReviewDecisionIdentity'
          description: Principal associated with the decision record. Can be AccessReviewDecisionUserIdentity or AccessReviewDecisionServicePrincipalIdentity
        resource:
          readOnly: true
          x-ms-client-flatten: true
          $ref: '#/components/schemas/AccessReviewDecisionResource'
          description: Resource associated with this decision record.
        recommendation:
          type: string
          readOnly: true
          description: The feature- generated recommendation shown to the reviewer.
          enum:
          - Approve
          - Deny
          - NoInfoAvailable
          x-ms-enum:
            name: AccessRecommendationType
            modelAsString: true
        decision:
          type: string
          description: The decision on the approval step. This value is initially set to NotReviewed. Approvers can take action of Approve/Deny
          enum:
          - Approve
          - Deny
          - NotReviewed
          - DontKnow
          - NotNotified
          x-ms-enum:
            name: AccessReviewResult
            modelAsString: true
        justification:
          type: string
          description: Justification provided by approvers for their action
        reviewedDateTime:
          type:
          - string
          - 'null'
          readOnly: true
          format: date-time
          description: Date Time when a decision was taken.
        reviewedBy:
          readOnly: true
          x-ms-client-flatten: true
          $ref: '#/components/schemas/AccessReviewActorIdentity'
          description: Details of the approver.
        applyResult:
          type: string
          readOnly: true
          description: The outcome of applying the decision.
          enum:
          - New
          - Applying
          - AppliedSuccessfully
          - AppliedWithUnknownFailure
          - AppliedSuccessfullyButObjectNotFound
          - ApplyNotSupported
          x-ms-enum:
            name: AccessReviewApplyResult
            modelAsString: true
        appliedDateTime:
          type:
          - string
          - 'null'
          readOnly: true
          format: date-time
          description: The date and time when the review decision was applied.
        appliedBy:
          readOnly: true
          x-ms-client-flatten: true
          $ref: '#/components/schemas/AccessReviewActorIdentity'
          description: Details of the approver.
      description: Approval Step.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to be used with the HTTP request.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
