openapi: 3.2.0
info:
  title: Microsoft Azure ResourceManagementClient Deployment…
  version: '2022-09-01'
  description: Provides operations for working with resources and resource groups.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Deployment Operations
paths:
  /{scope}/providers/Microsoft.Resources/deployments/{deploymentName}/operations/{operationId}:
    get:
      tags:
      - Deployment Operations
      operationId: microsoftAzureDeploymentoperationsGetatscope
      description: Gets a deployments operation.
      parameters:
      - $ref: '#/components/parameters/ScopeParameter'
      - $ref: '#/components/parameters/DeploymentNameParameter'
      - name: operationId
        in: path
        required: true
        description: The ID of the operation to get.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK - Returns information about the deployment operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOperation'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Scope Providers Microsoft Resources Deployments…
  /{scope}/providers/Microsoft.Resources/deployments/{deploymentName}/operations:
    get:
      tags:
      - Deployment Operations
      operationId: microsoftAzureDeploymentoperationsListatscope
      description: Gets all deployments operations for a deployment.
      parameters:
      - $ref: '#/components/parameters/ScopeParameter'
      - $ref: '#/components/parameters/DeploymentNameParameter'
      - name: $top
        in: query
        required: false
        description: The number of results to return.
        schema:
          type: integer
          format: int32
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK - Return an array of deployment operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOperationsListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Scope Providers Microsoft Resources Deployments…
  /providers/Microsoft.Resources/deployments/{deploymentName}/operations/{operationId}:
    get:
      tags:
      - Deployment Operations
      operationId: microsoftAzureDeploymentoperationsGetattenantscope
      description: Gets a deployments operation.
      parameters:
      - $ref: '#/components/parameters/DeploymentNameParameter'
      - name: operationId
        in: path
        required: true
        description: The ID of the operation to get.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK - Returns information about the deployment operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOperation'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Providers Microsoft Resources Deployments Deploymentname…
  /providers/Microsoft.Resources/deployments/{deploymentName}/operations:
    get:
      tags:
      - Deployment Operations
      operationId: microsoftAzureDeploymentoperationsListattenantscope
      description: Gets all deployments operations for a deployment.
      parameters:
      - $ref: '#/components/parameters/DeploymentNameParameter'
      - name: $top
        in: query
        required: false
        description: The number of results to return.
        schema:
          type: integer
          format: int32
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK - Return an array of deployment operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOperationsListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Resources Deployments Deploymentname…
  ? /providers/Microsoft.Management/managementGroups/{groupId}/providers/Microsoft.Resources/deployments/{deploymentName}/operations/{operationId}
  : get:
      tags:
      - Deployment Operations
      operationId: microsoftAzureDeploymentoperationsGetatmanagementgroupscope
      description: Gets a deployments operation.
      parameters:
      - $ref: '#/components/parameters/GroupIdParameter'
      - $ref: '#/components/parameters/DeploymentNameParameter'
      - name: operationId
        in: path
        required: true
        description: The ID of the operation to get.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK - Returns information about the deployment operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOperation'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Providers Microsoft Management Managementgroups Groupid…
  ? /providers/Microsoft.Management/managementGroups/{groupId}/providers/Microsoft.Resources/deployments/{deploymentName}/operations
  : get:
      tags:
      - Deployment Operations
      operationId: microsoftAzureDeploymentoperationsListatmanagementgroupscope
      description: Gets all deployments operations for a deployment.
      parameters:
      - $ref: '#/components/parameters/GroupIdParameter'
      - $ref: '#/components/parameters/DeploymentNameParameter'
      - name: $top
        in: query
        required: false
        description: The number of results to return.
        schema:
          type: integer
          format: int32
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK - Return an array of deployment operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOperationsListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Management Managementgroups Groupid…
  /subscriptions/{subscriptionId}/providers/Microsoft.Resources/deployments/{deploymentName}/operations/{operationId}:
    get:
      tags:
      - Deployment Operations
      operationId: microsoftAzureDeploymentoperationsGetatsubscriptionscope
      description: Gets a deployments operation.
      parameters:
      - $ref: '#/components/parameters/DeploymentNameParameter'
      - name: operationId
        in: path
        required: true
        description: The ID of the operation to get.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK - Returns information about the deployment operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOperation'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Resources…
  /subscriptions/{subscriptionId}/providers/Microsoft.Resources/deployments/{deploymentName}/operations:
    get:
      tags:
      - Deployment Operations
      operationId: microsoftAzureDeploymentoperationsListatsubscriptionscope
      description: Gets all deployments operations for a deployment.
      parameters:
      - $ref: '#/components/parameters/DeploymentNameParameter'
      - name: $top
        in: query
        required: false
        description: The number of results to return.
        schema:
          type: integer
          format: int32
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK - Return an array of deployment operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOperationsListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Resources…
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/deployments/{deploymentName}/operations/{operationId}:
    get:
      tags:
      - Deployment Operations
      operationId: microsoftAzureDeploymentoperationsGet
      description: Gets a deployments operation.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        schema:
          type: string
          maxLength: 90
          minLength: 1
          pattern: ^[-\w\._\(\)]+$
      - $ref: '#/components/parameters/DeploymentNameParameter'
      - name: operationId
        in: path
        required: true
        description: The ID of the operation to get.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK - Returns information about the deployment operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOperation'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/deployments/{deploymentName}/operations:
    get:
      tags:
      - Deployment Operations
      operationId: microsoftAzureDeploymentoperationsList
      description: Gets all deployments operations for a deployment.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        schema:
          type: string
          maxLength: 90
          minLength: 1
          pattern: ^[-\w\._\(\)]+$
      - $ref: '#/components/parameters/DeploymentNameParameter'
      - name: $top
        in: query
        required: false
        description: The number of results to return.
        schema:
          type: integer
          format: int32
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK - Return an array of deployment operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentOperationsListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    DeploymentOperationsListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/DeploymentOperation'
          description: An array of deployment operations.
        nextLink:
          readOnly: true
          type: string
          description: The URL to use for getting the next set of results.
      description: List of deployment operations.
    CloudError:
      x-ms-external: true
      properties:
        error:
          $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse
      description: An error response for a resource management request.
    TargetResource:
      properties:
        id:
          type: string
          description: The ID of the resource.
        resourceName:
          type: string
          description: The name of the resource.
        resourceType:
          type: string
          description: The type of the resource.
      description: Target resource.
    DeploymentOperationProperties:
      properties:
        provisioningOperation:
          readOnly: true
          type: string
          description: The name of the current provisioning operation.
          enum:
          - NotSpecified
          - Create
          - Delete
          - Waiting
          - AzureAsyncOperationWaiting
          - ResourceCacheWaiting
          - Action
          - Read
          - EvaluateDeploymentOutput
          - DeploymentCleanup
          x-ms-enum:
            name: ProvisioningOperation
            modelAsString: false
            values:
            - value: NotSpecified
              description: The provisioning operation is not specified.
            - value: Create
              description: The provisioning operation is create.
            - value: Delete
              description: The provisioning operation is delete.
            - value: Waiting
              description: The provisioning operation is waiting.
            - value: AzureAsyncOperationWaiting
              description: The provisioning operation is waiting Azure async operation.
            - value: ResourceCacheWaiting
              description: The provisioning operation is waiting for resource cache.
            - value: Action
              description: The provisioning operation is action.
            - value: Read
              description: The provisioning operation is read.
            - value: EvaluateDeploymentOutput
              description: The provisioning operation is evaluate output.
            - value: DeploymentCleanup
              description: The provisioning operation is cleanup. This operation is part of the 'complete' mode deployment.
        provisioningState:
          readOnly: true
          type: string
          description: The state of the provisioning.
        timestamp:
          readOnly: true
          type: string
          format: date-time
          description: The date and time of the operation.
        duration:
          readOnly: true
          type: string
          description: The duration of the operation.
        serviceRequestId:
          readOnly: true
          type: string
          description: Deployment operation service request id.
        statusCode:
          readOnly: true
          type: string
          description: Operation status code from the resource provider. This property may not be set if a response has not yet been received.
        statusMessage:
          readOnly: true
          description: Operation status message from the resource provider. This property is optional.  It will only be provided if an error was received from the resource provider.
          $ref: '#/components/schemas/StatusMessage'
        targetResource:
          readOnly: true
          $ref: '#/components/schemas/TargetResource'
          description: The target resource.
        request:
          readOnly: true
          $ref: '#/components/schemas/HttpMessage'
          description: The HTTP request message.
        response:
          readOnly: true
          $ref: '#/components/schemas/HttpMessage'
          description: The HTTP response message.
      description: Deployment operation properties.
    StatusMessage:
      type: object
      description: Operation status message object.
      properties:
        status:
          type: string
          description: Status of the deployment operation.
        error:
          $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse
          description: The error reported by the operation.
    HttpMessage:
      properties:
        content:
          type: object
          description: HTTP message content.
      description: HTTP message.
    DeploymentOperation:
      properties:
        id:
          readOnly: true
          type: string
          description: Full deployment operation ID.
        operationId:
          readOnly: true
          type: string
          description: Deployment operation ID.
        properties:
          $ref: '#/components/schemas/DeploymentOperationProperties'
          description: Deployment properties.
      description: Deployment operation information.
  parameters:
    ScopeParameter:
      name: scope
      in: path
      required: true
      description: The resource scope.
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
    GroupIdParameter:
      name: groupId
      in: path
      required: true
      description: The management group ID.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
    DeploymentNameParameter:
      name: deploymentName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The name of the deployment.
      schema:
        type: string
        maxLength: 64
        minLength: 1
        pattern: ^[-\w\._\(\)]+$
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The Microsoft Azure subscription ID.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
