openapi: 3.2.0
info:
  title: Microsoft Azure Schedules API
  version: '1.0'
  description: 'Operations tagged Schedules across 2 of this provider''s published API definitions: devcenterclient-openapi-original.yml, devtestlabsclient-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Schedules
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevCenter/projects/{projectName}/pools/{poolName}/schedules
  : parameters:
    - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
    - $ref: commonDefinitions.json#/parameters/SubscriptionIdParameter
    - $ref: commonDefinitions.json#/parameters/ResourceGroupNameParameter
    - $ref: commonDefinitions.json#/parameters/ProjectNameParameter
    - $ref: '#/components/parameters/PoolNameParameter'
    - $ref: commonDefinitions.json#/parameters/TopParameter
    get:
      tags:
      - Schedules
      description: Lists schedules for a pool
      operationId: microsoftAzureSchedulesListbypool
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: commonDefinitions.json#/definitions/CloudError
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Schedules_ListByPool:
          $ref: ./examples/Schedules_ListByPool.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevCenter/projects/{projectName}/pools/{poolName}/schedules/{scheduleName}
  : parameters:
    - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
    - $ref: commonDefinitions.json#/parameters/SubscriptionIdParameter
    - $ref: commonDefinitions.json#/parameters/ResourceGroupNameParameter
    - $ref: commonDefinitions.json#/parameters/ProjectNameParameter
    - $ref: '#/components/parameters/PoolNameParameter'
    - $ref: '#/components/parameters/ScheduleNameParameter'
    - $ref: commonDefinitions.json#/parameters/TopParameter
    get:
      tags:
      - Schedules
      description: Gets a schedule resource.
      operationId: microsoftAzureSchedulesGet
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: commonDefinitions.json#/definitions/CloudError
      x-ms-examples:
        Schedules_GetByPool:
          $ref: ./examples/Schedules_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Schedules
      description: Creates or updates a Schedule.
      operationId: microsoftAzureSchedulesCreateorupdate
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      responses:
        '201':
          description: Created. Operation will complete asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: commonDefinitions.json#/definitions/CloudError
      x-ms-examples:
        Schedules_CreateDailyShutdownPoolSchedule:
          $ref: ./examples/Schedules_CreateDailyShutdownPoolSchedule.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Schedule'
        description: Represents a scheduled task
        required: true
    patch:
      tags:
      - Schedules
      description: Partially updates a Scheduled.
      operationId: microsoftAzureSchedulesUpdate
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      responses:
        '202':
          description: Accepted. Operation will complete asynchronously
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: commonDefinitions.json#/definitions/CloudError
      x-ms-examples:
        Schedules_Update:
          $ref: ./examples/Schedules_Patch.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleUpdate'
        description: Represents a scheduled task.
        required: true
    delete:
      tags:
      - Schedules
      description: Deletes a Scheduled.
      operationId: microsoftAzureSchedulesDelete
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      responses:
        '200':
          description: OK. Resource has been deleted
        '202':
          description: Accepted. Operation will complete asynchronously.
        '204':
          description: Resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: commonDefinitions.json#/definitions/CloudError
      x-ms-examples:
        Schedules_Delete:
          $ref: ./examples/Schedules_Delete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules:
    get:
      tags:
      - Schedules
      description: List schedules in a given lab.
      operationId: microsoftAzureSchedulesList
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        schema:
          type: string
      - name: $expand
        in: query
        description: 'Specify the $expand query. Example: ''properties($select=status)'''
        schema:
          type: string
      - name: $filter
        in: query
        description: 'The filter to apply to the operation. Example: ''$filter=contains(name,''myName'')'
        schema:
          type: string
      - name: $top
        in: query
        description: 'The maximum number of resources to return from the operation. Example: ''$top=10'''
        schema:
          type: integer
          format: int32
      - name: $orderby
        in: query
        description: 'The ordering expression for the results, using OData notation. Example: ''$orderby=name desc'''
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleList'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/Schedule'
      x-ms-examples:
        Schedules_List:
          $ref: ./examples/Schedules_List.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules/{name}
  : get:
      tags:
      - Schedules
      description: Get schedule.
      operationId: microsoftAzureSchedulesGet
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: The name of the schedule.
        required: true
        schema:
          type: string
      - name: $expand
        in: query
        description: 'Specify the $expand query. Example: ''properties($select=status)'''
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule_2'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Schedules_Get:
          $ref: ./examples/Schedules_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Schedules
      description: Create or replace an existing schedule.
      operationId: microsoftAzureSchedulesCreateorupdate
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: The name of the schedule.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule_2'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule_2'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Schedules_CreateOrUpdate:
          $ref: ./examples/Schedules_CreateOrUpdate.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Schedule_2'
        description: A schedule.
        required: true
    delete:
      tags:
      - Schedules
      description: Delete schedule.
      operationId: microsoftAzureSchedulesDelete
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: The name of the schedule.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Schedules_Delete:
          $ref: ./examples/Schedules_Delete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    patch:
      tags:
      - Schedules
      description: Allows modifying tags of schedules. All other properties will be ignored.
      operationId: microsoftAzureSchedulesUpdate
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: The name of the schedule.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule_2'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Schedules_Update:
          $ref: ./examples/Schedules_Update.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleFragment'
        description: A schedule.
        required: true
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules/{name}/execute
  : post:
      tags:
      - Schedules
      description: Execute a schedule. This operation can take a while to complete.
      operationId: microsoftAzureSchedulesExecute
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: The name of the schedule.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Schedules_Execute:
          $ref: ./examples/Schedules_Execute.json
      x-ms-long-running-operation: true
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules/{name}/listApplicable
  : post:
      tags:
      - Schedules
      description: Lists all applicable schedules
      operationId: microsoftAzureSchedulesListapplicable
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: The name of the schedule.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleList'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Schedules_ListApplicable:
          $ref: ./examples/Schedules_ListApplicable.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
components:
  schemas:
    ScheduledType:
      description: The supported types for a scheduled task.
      enum:
      - StopDevBox
      type: string
      x-ms-enum:
        name: ScheduledType
        modelAsString: true
    ScheduleUpdate:
      description: The schedule properties for partial update. Properties not provided in the update request will not be changed.
      type: object
      allOf:
      - $ref: commonDefinitions.json#/definitions/TrackedResourceUpdate
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ScheduleUpdateProperties'
          description: Properties of a schedule resource to be updated.
    ScheduleListResult:
      description: Result of the schedule list operation.
      type: object
      properties:
        value:
          description: Current page of results.
          type: array
          items:
            $ref: '#/components/schemas/Schedule'
          readOnly: true
        nextLink:
          description: URL to get the next set of results if there are any.
          type: string
          readOnly: true
    ScheduleUpdateProperties:
      description: Updatable properties of a Schedule.
      type: object
      properties:
        type:
          description: Supported type this scheduled task represents.
          $ref: '#/components/schemas/ScheduledType'
        frequency:
          description: The frequency of this scheduled task.
          $ref: '#/components/schemas/ScheduledFrequency'
        time:
          description: The target time to trigger the action. The format is HH:MM.
          type: string
        timeZone:
          description: The IANA timezone id at which the schedule should execute.
          type: string
        state:
          description: Indicates whether or not this scheduled task is enabled.
          $ref: devcenter.json#/definitions/EnableStatus
    ScheduleProperties:
      description: The Schedule properties defining when and what to execute.
      type: object
      allOf:
      - $ref: '#/components/schemas/ScheduleUpdateProperties'
      properties:
        provisioningState:
          description: The provisioning state of the resource.
          $ref: commonDefinitions.json#/definitions/ProvisioningState
          readOnly: true
      required:
      - type
      - frequency
      - timeZone
      - time
    ScheduledFrequency:
      description: The frequency of task execution.
      enum:
      - Daily
      type: string
      x-ms-enum:
        name: ScheduledFrequency
        modelAsString: true
    Schedule:
      type: object
      description: Represents a Schedule to execute a task.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/Resource
      properties:
        properties:
          description: Properties of a Schedule resource
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ScheduleProperties'
    ScheduleList:
      description: The response of a list operation.
      type: object
      properties:
        value:
          description: Results of the list operation.
          type: array
          items:
            $ref: '#/components/schemas/Schedule_2'
        nextLink:
          description: Link for next set of results.
          type: string
    CloudError:
      description: Error from a REST request.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: The cloud error that occurred
      x-ms-external: true
    DayDetails:
      description: Properties of a daily schedule.
      type: object
      properties:
        time:
          description: The time of day the schedule will occur.
          type: string
    ScheduleFragment:
      description: A schedule.
      type: object
      allOf:
      - $ref: '#/components/schemas/UpdateResource'
      properties: {}
    WeekDetails:
      description: Properties of a weekly schedule.
      type: object
      properties:
        weekdays:
          description: The days of the week for which the schedule is set (e.g. Sunday, Monday, Tuesday, etc.).
          type: array
          items:
            type: string
        time:
          description: The time of the day the schedule will occur.
          type: string
    UpdateResource:
      description: Represents an update resource
      type: object
      properties:
        tags:
          description: The tags of the resource.
          type: object
          additionalProperties:
            type: string
    NotificationSettings:
      description: Notification settings for a schedule.
      type: object
      properties:
        status:
          description: If notifications are enabled for this schedule (i.e. Enabled, Disabled).
          default: Disabled
          enum:
          - Enabled
          - Disabled
          type: string
          x-ms-enum:
            name: EnableStatus
            modelAsString: true
        timeInMinutes:
          format: int32
          description: Time in minutes before event at which notification will be sent.
          type: integer
        webhookUrl:
          description: The webhook URL to which the notification will be sent.
          type: string
        emailRecipient:
          description: The email recipient to send notifications to (can be a list of semi-colon separated email addresses).
          type: string
        notificationLocale:
          description: The locale to use when sending a notification (fallback for unsupported languages is EN).
          type: string
    CloudErrorBody:
      description: Body of an error from a REST request.
      type: object
      properties:
        code:
          description: The error code.
          type: string
        message:
          description: The error message.
          type: string
        target:
          description: The error target.
          type: string
        details:
          description: Inner errors.
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
      x-ms-external: true
    ScheduleProperties_2:
      description: Properties of a schedule.
      type: object
      properties:
        status:
          description: The status of the schedule (i.e. Enabled, Disabled)
          default: Disabled
          enum:
          - Enabled
          - Disabled
          type: string
          x-ms-enum:
            name: EnableStatus
            modelAsString: true
        taskType:
          description: The task type of the schedule (e.g. LabVmsShutdownTask, LabVmAutoStart).
          type: string
        weeklyRecurrence:
          $ref: '#/components/schemas/WeekDetails'
          description: If the schedule will occur only some days of the week, specify the weekly recurrence.
        dailyRecurrence:
          $ref: '#/components/schemas/DayDetails'
          description: If the schedule will occur once each day of the week, specify the daily recurrence.
        hourlyRecurrence:
          $ref: '#/components/schemas/HourDetails'
          description: If the schedule will occur multiple times a day, specify the hourly recurrence.
        timeZoneId:
          description: The time zone ID (e.g. China Standard Time, Greenland Standard Time, Pacific Standard time, etc.). The possible values for this property can be found in `IReadOnlyCollection<string> TimeZoneConverter.TZConvert.KnownWindowsTimeZoneIds` (https://github.com/mattjohnsonpint/TimeZoneConverter/blob/main/README.md)
          type: string
        notificationSettings:
          $ref: '#/components/schemas/NotificationSettings'
          description: Notification settings.
        createdDate:
          format: date-time
          description: The creation date of the schedule.
          type: string
          readOnly: true
        targetResourceId:
          description: The resource ID to which the schedule belongs
          type: string
        provisioningState:
          description: The provisioning status of the resource.
          type: string
          readOnly: true
        uniqueIdentifier:
          description: The unique immutable identifier of a resource (Guid).
          type: string
          readOnly: true
    Resource:
      description: An Azure resource.
      type: object
      properties:
        id:
          description: The identifier of the resource.
          type: string
          readOnly: true
        name:
          description: The name of the resource.
          type: string
          readOnly: true
        type:
          description: The type of the resource.
          type: string
          readOnly: true
        location:
          description: The location of the resource.
          type: string
        tags:
          description: The tags of the resource.
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
    Schedule_2:
      description: A schedule.
      required:
      - properties
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/ScheduleProperties_2'
          description: The properties of the resource.
          x-ms-client-flatten: true
    HourDetails:
      description: Properties of an hourly schedule.
      type: object
      properties:
        minute:
          format: int32
          description: Minutes of the hour the schedule will run.
          type: integer
  parameters:
    PoolNameParameter:
      name: poolName
      in: path
      required: true
      description: Name of the pool.
      x-ms-parameter-location: method
      schema:
        type: string
    ScheduleNameParameter:
      name: scheduleName
      in: path
      required: true
      description: The name of the schedule that uniquely identifies it.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 100
        minLength: 1
        pattern: ^[-\w]+$
    api-version:
      name: api-version
      in: query
      description: Client API version.
      required: true
      schema:
        type: string
        default: '2018-09-15'
    resourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    subscriptionId:
      name: subscriptionId
      in: path
      description: The subscription ID.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- devcenterclient-openapi-original.yml
- devtestlabsclient-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
