openapi: 3.2.0
info:
  version: 2018-06-01-preview
  title: Microsoft Azure BlockchainManagementClient Transaction Node…
  description: REST API for Azure Blockchain Service
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: TransactionNode
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/transactionNodes/{transactionNodeName}
  : get:
      tags:
      - TransactionNode
      description: Get the details of the transaction node.
      operationId: microsoftAzureTransactionnodesGet
      parameters:
      - name: blockchainMemberName
        in: path
        description: Blockchain member name.
        required: true
        schema:
          type: string
      - name: transactionNodeName
        in: path
        description: Transaction node name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionNode'
      x-ms-examples:
        TransactionNodes_Get:
          $ref: ./examples/TransactionNodes_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - TransactionNode
      description: Create or update the transaction node.
      operationId: microsoftAzureTransactionnodesCreate
      parameters:
      - name: blockchainMemberName
        in: path
        description: Blockchain member name.
        required: true
        schema:
          type: string
      - name: transactionNodeName
        in: path
        description: Transaction node name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionNode'
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionNode'
      x-ms-long-running-operation: true
      x-ms-examples:
        TransactionNodes_Create:
          $ref: ./examples/TransactionNodes_Create.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionNode'
        description: Payload to create the transaction node.
    delete:
      tags:
      - TransactionNode
      description: Delete the transaction node.
      operationId: microsoftAzureTransactionnodesDelete
      parameters:
      - name: blockchainMemberName
        in: path
        description: Blockchain member name.
        required: true
        schema:
          type: string
      - name: transactionNodeName
        in: path
        description: Transaction node name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      responses:
        '202':
          description: Success
        '204':
          description: Success
      x-ms-long-running-operation: true
      x-ms-examples:
        TransactionNodes_Delete:
          $ref: ./examples/TransactionNodes_Delete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    patch:
      tags:
      - TransactionNode
      description: Update the transaction node.
      operationId: microsoftAzureTransactionnodesUpdate
      parameters:
      - name: blockchainMemberName
        in: path
        description: Blockchain member name.
        required: true
        schema:
          type: string
      - name: transactionNodeName
        in: path
        description: Transaction node name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionNode'
      x-ms-examples:
        TransactionNodes_Update:
          $ref: ./examples/TransactionNodes_Update.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionNodeUpdate'
        description: Payload to create the transaction node.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/transactionNodes
  : get:
      tags:
      - TransactionNode
      description: Lists the transaction nodes for a blockchain member.
      operationId: microsoftAzureTransactionnodesList
      parameters:
      - name: blockchainMemberName
        in: path
        description: Blockchain member name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionNodeCollection'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        TransactionNodes_List:
          $ref: ./examples/TransactionNodes_List.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/transactionNodes/{transactionNodeName}/listApiKeys
  : post:
      tags:
      - TransactionNode
      description: List the API keys for the transaction node.
      operationId: microsoftAzureTransactionnodesListapikeys
      parameters:
      - name: blockchainMemberName
        in: path
        description: Blockchain member name.
        required: true
        schema:
          type: string
      - name: transactionNodeName
        in: path
        description: Transaction node name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyCollection'
      x-ms-examples:
        TransactionNodes_ListApiKeys:
          $ref: ./examples/TransactionNodes_ListApiKeys.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/transactionNodes/{transactionNodeName}/regenerateApiKeys
  : post:
      tags:
      - TransactionNode
      description: Regenerate the API keys for the blockchain member.
      operationId: microsoftAzureTransactionnodesListregenerateapikeys
      parameters:
      - name: blockchainMemberName
        in: path
        description: Blockchain member name.
        required: true
        schema:
          type: string
      - name: transactionNodeName
        in: path
        description: Transaction node name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyCollection'
      x-ms-examples:
        TransactionNodes_ListRegenerateApiKeys:
          $ref: ./examples/TransactionNodes_ListRegenerateApiKeys.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKey'
        description: api key to be regenerated
components:
  schemas:
    TransactionNodeUpdate:
      description: Update the transaction node payload which is exposed in the request/response of the resource provider.
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/TransactionNodePropertiesUpdate'
          description: Gets or sets the transaction node update properties.
          x-ms-client-flatten: true
    FirewallRule:
      description: Ip range for firewall rules
      type: object
      properties:
        ruleName:
          description: Gets or sets the name of the firewall rules.
          type: string
        startIpAddress:
          description: Gets or sets the start IP address of the firewall rule range.
          type: string
        endIpAddress:
          description: Gets or sets the end IP address of the firewall rule range.
          type: string
    TransactionNodeProperties:
      description: Payload of transaction node properties payload in the transaction node payload.
      type: object
      properties:
        provisioningState:
          description: Gets or sets the blockchain member provision state.
          enum:
          - NotSpecified
          - Updating
          - Deleting
          - Succeeded
          - Failed
          type: string
          readOnly: true
          x-ms-enum:
            name: NodeProvisioningState
            modelAsString: true
        dns:
          description: Gets or sets the transaction node dns endpoint.
          type: string
          readOnly: true
        publicKey:
          description: Gets or sets the transaction node public key.
          type: string
          readOnly: true
        userName:
          description: Gets or sets the transaction node dns endpoint basic auth user name.
          type: string
          readOnly: true
        password:
          description: Sets the transaction node dns endpoint basic auth password.
          type: string
        firewallRules:
          description: Gets or sets the firewall rules.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/FirewallRule'
          x-ms-identifiers:
          - ruleName
    TransactionNodeCollection:
      description: Collection of transaction node payload which is exposed in the request/response of the resource provider.
      type: object
      properties:
        value:
          description: Gets or sets the collection of transaction nodes.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/TransactionNode'
        nextLink:
          description: 'Gets or sets the URL, that the client should use to fetch the next page (per server side paging).

            It''s null for now, added for future use.'
          type: string
    TransactionNodePropertiesUpdate:
      description: Update the payload of the transaction node properties in the transaction node payload.
      type: object
      properties:
        password:
          description: Sets the transaction node dns endpoint basic auth password.
          type: string
        firewallRules:
          description: Gets or sets the firewall rules.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/FirewallRule'
          x-ms-identifiers:
          - ruleName
    ApiKey:
      description: API key payload which is exposed in the request/response of the resource provider.
      type: object
      properties:
        keyName:
          description: Gets or sets the API key name.
          type: string
        value:
          description: Gets or sets the API key value.
          type: string
    Resource:
      description: The core properties of the resources.
      type: object
      properties:
        id:
          description: Fully qualified resource Id of the resource.
          type: string
          readOnly: true
        name:
          description: The name of the resource.
          type: string
          readOnly: true
        type:
          description: The type of the service - e.g. "Microsoft.Blockchain"
          type: string
          readOnly: true
      x-ms-azure-resource: true
    TransactionNode:
      description: Payload of the transaction node which is the request/response of the resource provider.
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        location:
          description: Gets or sets the transaction node location.
          type: string
        properties:
          $ref: '#/components/schemas/TransactionNodeProperties'
          description: Gets or sets the blockchain member properties.
          x-ms-client-flatten: true
    ApiKeyCollection:
      description: Collection of the API key payload which is exposed in the response of the resource provider.
      type: object
      properties:
        keys:
          description: Gets or sets the collection of API key.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/ApiKey'
          x-ms-identifiers:
          - keyName
  parameters:
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client API Version.
      required: true
      schema:
        type: string
        enum:
        - 2018-06-01-preview
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Gets the subscription Id which uniquely identifies the Microsoft Azure subscription. The subscription ID is part of the URI for every service call.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
