openapi: 3.2.0
info:
  version: 2022-09-30-preview
  title: Microsoft Azure RecoveryServicesBackupClient Backup…
  x-ms-code-generation-settings:
    internalConstructors: false
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: BackupResourceEncryptionConfigs
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupEncryptionConfigs/backupResourceEncryptionConfig
  : get:
      tags:
      - BackupResourceEncryptionConfigs
      description: Fetches Vault Encryption config.
      operationId: microsoftAzureBackupresourceencryptionconfigsGet
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/VaultName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupResourceEncryptionConfigExtendedResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewErrorResponse'
      x-ms-examples:
        Get Vault Encryption Configuration:
          $ref: ./examples/BackupResourceEncryptionConfig_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - BackupResourceEncryptionConfigs
      description: Updates Vault encryption config.
      operationId: microsoftAzureBackupresourceencryptionconfigsUpdate
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/VaultName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      responses:
        '200':
          description: OK
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewErrorResponse'
      x-ms-examples:
        Update Vault Encryption Configuration:
          $ref: ./examples/BackupResourceEncryptionConfig_Put.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupResourceEncryptionConfigResource'
        description: Vault encryption input config request
        required: true
components:
  schemas:
    BackupResourceEncryptionConfigExtendedResource:
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/BackupResourceEncryptionConfigExtended'
          description: BackupResourceEncryptionConfigExtendedResource properties
    NewErrorResponse:
      properties:
        error:
          type: object
          description: The error object.
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                $ref: '#/components/schemas/NewErrorResponse'
              x-ms-identifiers:
              - /error/code
              description: The error details.
            additionalInfo:
              readOnly: true
              type: array
              items:
                $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorAdditionalInfo
              x-ms-identifiers: []
              description: The error additional info.
      description: The resource management error response.
    BackupResourceEncryptionConfigExtended:
      type: object
      allOf:
      - $ref: '#/components/schemas/BackupResourceEncryptionConfig'
      properties:
        userAssignedIdentity:
          description: User Assigned Identity Id
          type: string
        useSystemAssignedIdentity:
          description: bool to indicate whether to use system Assigned Identity or not
          type: boolean
    BackupResourceEncryptionConfigResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/BackupResourceEncryptionConfig'
          description: BackupResourceEncryptionConfigResource properties
    Resource:
      description: ARM Resource.
      type: object
      properties:
        id:
          description: Resource Id represents the complete path to the resource.
          type: string
          readOnly: true
        name:
          description: Resource name associated with the resource.
          type: string
          readOnly: true
        type:
          description: Resource type represents the complete path of the form Namespace/ResourceType/ResourceType/...
          type: string
          readOnly: true
        location:
          description: Resource location.
          type: string
        tags:
          description: Resource tags.
          type: object
          additionalProperties:
            type: string
        eTag:
          description: Optional ETag.
          type: string
      x-ms-azure-resource: true
    BackupResourceEncryptionConfig:
      type: object
      properties:
        encryptionAtRestType:
          description: Encryption At Rest Type
          enum:
          - Invalid
          - MicrosoftManaged
          - CustomerManaged
          type: string
          x-ms-enum:
            name: EncryptionAtRestType
            modelAsString: true
        keyUri:
          description: Key Vault Key URI
          type: string
        subscriptionId:
          description: Key Vault Subscription Id
          type: string
        lastUpdateStatus:
          enum:
          - Invalid
          - NotEnabled
          - PartiallySucceeded
          - PartiallyFailed
          - Failed
          - Succeeded
          - Initialized
          - FirstInitialization
          type: string
          x-ms-enum:
            name: LastUpdateStatus
            modelAsString: true
        infrastructureEncryptionState:
          enum:
          - Invalid
          - Disabled
          - Enabled
          type: string
          x-ms-enum:
            name: InfrastructureEncryptionState
            modelAsString: true
  parameters:
    ResourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group where the recovery services vault is present.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionId:
      name: subscriptionId
      in: path
      description: The subscription Id.
      required: true
      schema:
        type: string
    ApiVersion:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
    VaultName:
      name: vaultName
      in: path
      description: The name of the recovery services vault.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account.
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
