openapi: 3.2.0
info:
  version: 2019-04-01-preview
  title: Microsoft Azure ConsumptionManagementClient Price Sheet API
  description: Consumption management client provides access to consumption resources for Azure Enterprise Subscriptions.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: PriceSheet
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Consumption/pricesheets/default:
    get:
      tags:
      - PriceSheet
      operationId: microsoftAzurePricesheetGet
      description: Gets the price sheet for a scope by subscriptionId. Price sheet is available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        PriceSheet:
          $ref: ./examples/PriceSheet.json
      parameters:
      - name: $expand
        description: May be used to expand the properties/meterDetails within a price sheet. By default, these fields are not included when returning price sheet.
        in: query
        required: false
        schema:
          type: string
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
        in: query
        required: false
        schema:
          type: string
      - name: $top
        description: May be used to limit the number of results to the top N results.
        in: query
        required: false
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceSheetResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/pricesheets/default
  : get:
      tags:
      - PriceSheet
      operationId: microsoftAzurePricesheetGetbybillingperiod
      description: Get the price sheet for a scope by subscriptionId and billing period. Price sheet is available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        PriceSheetForBillingPeriod:
          $ref: ./examples/PriceSheetForBillingPeriod.json
        PriceSheetExpand:
          $ref: ./examples/PriceSheetExpand.json
      parameters:
      - name: $expand
        description: May be used to expand the properties/meterDetails within a price sheet. By default, these fields are not included when returning price sheet.
        in: query
        required: false
        schema:
          type: string
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
        in: query
        required: false
        schema:
          type: string
      - name: $top
        description: May be used to limit the number of results to the top N results.
        in: query
        required: false
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      - $ref: '#/components/parameters/billingPeriodNameParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceSheetResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Billing…
components:
  schemas:
    PriceSheetResult:
      description: An pricesheet resource.
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/PriceSheetModel'
          title: Price sheet properties
    PriceSheetModel:
      description: price sheet result. It contains the pricesheet associated with billing period
      properties:
        pricesheets:
          description: Price sheet
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/PriceSheetProperties'
        nextLink:
          description: The link (url) to the next page of results.
          type: string
          readOnly: true
    ErrorResponse:
      description: Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.
      type: object
      properties:
        error:
          description: The details of the error.
          $ref: '#/components/schemas/ErrorDetails'
    Resource:
      description: The Resource model definition.
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
        tags:
          readOnly: true
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
      x-ms-azure-resource: true
    MeterDetails:
      description: The properties of the meter detail.
      properties:
        meterName:
          description: The name of the meter, within the given meter category
          type: string
          readOnly: true
        meterCategory:
          description: The category of the meter, for example, 'Cloud services', 'Networking', etc..
          type: string
          readOnly: true
        meterSubCategory:
          description: The subcategory of the meter, for example, 'A6 Cloud services', 'ExpressRoute (IXP)', etc..
          type: string
          readOnly: true
        unit:
          description: The unit in which the meter consumption is charged, for example, 'Hours', 'GB', etc.
          type: string
          readOnly: true
        meterLocation:
          description: The location in which the Azure service is available.
          type: string
          readOnly: true
        totalIncludedQuantity:
          description: The total included quantity associated with the offer.
          type: number
          format: decimal
          readOnly: true
        pretaxStandardRate:
          description: The pretax listing price.
          type: number
          format: decimal
          readOnly: true
        serviceName:
          description: The name of the service.
          type: string
          readOnly: true
        serviceTier:
          description: The service tier.
          type: string
          readOnly: true
    PriceSheetProperties:
      description: The properties of the price sheet.
      properties:
        billingPeriodId:
          description: The id of the billing period resource that the usage belongs to.
          type: string
          readOnly: true
        meterId:
          description: The meter id (GUID)
          type: string
          format: uuid
          readOnly: true
        meterDetails:
          description: The details about the meter. By default this is not populated, unless it's specified in $expand.
          $ref: '#/components/schemas/MeterDetails'
          readOnly: true
        unitOfMeasure:
          description: Unit of measure
          type: string
          readOnly: true
        includedQuantity:
          description: Included quality for an offer
          type: number
          format: decimal
          readOnly: true
        partNumber:
          description: Part Number
          type: string
          readOnly: true
        unitPrice:
          description: Unit Price
          type: number
          format: decimal
          readOnly: true
        currencyCode:
          description: Currency Code
          type: string
          readOnly: true
        offerId:
          description: Offer Id
          type: string
          readOnly: true
    ErrorDetails:
      description: The details of the error.
      properties:
        code:
          description: Error code.
          type: string
          readOnly: true
        message:
          description: Error message indicating why the operation failed.
          type: string
          readOnly: true
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Azure Subscription ID.
      required: true
      schema:
        type: string
    billingPeriodNameParameter:
      name: billingPeriodName
      in: path
      description: Billing Period Name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Version of the API to be used with the client request. The current version is 2019-04-01-preview.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
