openapi: 3.2.0
info:
  title: Microsoft Azure MariaDBManagementClient Location Based…
  description: The Microsoft Azure management API provides create, read, update, and delete functionality for Azure MariaDB resources including servers, databases, firewall rules, VNET rules, log files and configurations with new business model.
  version: '2018-06-01'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: LocationBasedPerformanceTier
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.DBforMariaDB/locations/{locationName}/performanceTiers:
    get:
      tags:
      - LocationBasedPerformanceTier
      operationId: microsoftAzureLocationbasedperformancetierList
      x-ms-examples:
        PerformanceTiersList:
          $ref: ./examples/PerformanceTiersListByLocation.json
      description: List all the performance tiers at specified location in a given subscription.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/LocationNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerformanceTierListResult'
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
components:
  schemas:
    PerformanceTierProperties:
      properties:
        id:
          type: string
          description: ID of the performance tier.
        serviceLevelObjectives:
          type: array
          items:
            $ref: '#/components/schemas/PerformanceTierServiceLevelObjectives'
          description: Service level objectives associated with the performance tier
      description: Performance tier properties
    PerformanceTierServiceLevelObjectives:
      properties:
        id:
          type: string
          description: ID for the service level objective.
        edition:
          type: string
          description: Edition of the performance tier.
        vCore:
          type: integer
          description: vCore associated with the service level objective
        hardwareGeneration:
          type: string
          description: Hardware generation associated with the service level objective
        maxBackupRetentionDays:
          type: integer
          description: Maximum Backup retention in days for the performance tier edition
        minBackupRetentionDays:
          type: integer
          description: Minimum Backup retention in days for the performance tier edition
        maxStorageMB:
          type: integer
          format: int32
          description: Max storage allowed for a server.
        minStorageMB:
          type: integer
          format: int32
          description: Max storage allowed for a server.
      description: Service level objectives for performance tier.
    PerformanceTierListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/PerformanceTierProperties'
          description: The list of performance tiers
      description: A list of performance tiers.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for the request.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The subscription ID that identifies an Azure subscription.
      schema:
        type: string
    LocationNameParameter:
      name: locationName
      in: path
      required: true
      description: The name of the location.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
