openapi: 3.2.0
info:
  title: Microsoft Azure ManagedNetworkManagementClient Managed…
  description: The Microsoft Azure Managed Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to programmatically view, control, change, and monitor your entire Azure network centrally and with ease.
  version: 2019-06-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ManagedNetworkPeeringPolicies
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetwork/managedNetworks/{managedNetworkName}/managedNetworkPeeringPolicies/{managedNetworkPeeringPolicyName}
  : get:
      tags:
      - ManagedNetworkPeeringPolicies
      operationId: microsoftAzureManagednetworkpeeringpoliciesGet
      description: The Get ManagedNetworkPeeringPolicies operation gets a Managed Network Peering Policy resource, specified by the resource group, Managed Network name, and peering policy name
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ManagedNetworkNameParameter'
      - $ref: '#/components/parameters/ManagedNetworkPeeringPolicyNameParameter'
      responses:
        '200':
          description: Get successful. The operation returns the specified Managed Network Peering Policy resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedNetworkPeeringPolicy'
        default:
          description: Resource Provider error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        ManagedNetworkPeeringPoliciesGet:
          $ref: ./examples/ManagedNetworkPeeringPolicy/ManagedNetworkPeeringPoliciesGet.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - ManagedNetworkPeeringPolicies
      operationId: microsoftAzureManagednetworkpeeringpoliciesCreateorupdate
      description: The Put ManagedNetworkPeeringPolicies operation creates/updates a new Managed Network Peering Policy
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ManagedNetworkNameParameter'
      - $ref: '#/components/parameters/ManagedNetworkPeeringPolicyNameParameter'
      responses:
        '200':
          description: Update successful. The operation returns the resulting Managed Network Peering Policy resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedNetworkPeeringPolicy'
        '201':
          description: Create successful. The operation returns the resulting Managed Network Peering Policy resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedNetworkPeeringPolicy'
        default:
          description: Resource Provider error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        ManagedNetworkPeeringPoliciesPut:
          $ref: ./examples/ManagedNetworkPeeringPolicy/ManagedNetworkPeeringPoliciesPut.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedNetworkPeeringPolicy'
        description: Parameters supplied to create/update a Managed Network Peering Policy
        required: true
    delete:
      tags:
      - ManagedNetworkPeeringPolicies
      operationId: microsoftAzureManagednetworkpeeringpoliciesDelete
      description: The Delete ManagedNetworkPeeringPolicies operation deletes a Managed Network Peering Policy, specified by the resource group, Managed Network name, and peering policy name
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ManagedNetworkNameParameter'
      - $ref: '#/components/parameters/ManagedNetworkPeeringPolicyNameParameter'
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Request successful. Resource does not exist.
        default:
          description: Resource Provider error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        ManagedNetworkPeeringPoliciesDelete:
          $ref: ./examples/ManagedNetworkPeeringPolicy/ManagedNetworkPeeringPoliciesDelete.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetwork/managedNetworks/{managedNetworkName}/managedNetworkPeeringPolicies
  : get:
      tags:
      - ManagedNetworkPeeringPolicies
      operationId: microsoftAzureManagednetworkpeeringpoliciesListbymanagednetwork
      description: The ListByManagedNetwork PeeringPolicies operation retrieves all the Managed Network Peering Policies in a specified Managed Network, in a paginated format.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ManagedNetworkNameParameter'
      - $ref: '#/components/parameters/ListPageSizeParameter'
      - $ref: '#/components/parameters/ListSkipTokenParameter'
      responses:
        '200':
          description: Get successful. The operation returns all Managed Network Peering Policy resources in the specified Managed Network, in a paginated format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedNetworkPeeringPolicyListResult'
        default:
          description: Resource Provider error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ManagedNetworkPeeringPoliciesListByManagedNetwork:
          $ref: ./examples/ManagedNetworkPeeringPolicy/ManagedNetworkPeeringPoliciesListByManagedNetwork.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    ManagedNetworkPeeringPolicyProperties:
      properties:
        type:
          type: string
          enum:
          - HubAndSpokeTopology
          - MeshTopology
          x-ms-enum:
            name: type
            modelAsString: true
          description: Gets or sets the connectivity type of a network structure policy
        hub:
          $ref: '#/components/schemas/ResourceId'
          description: Gets or sets the hub virtual network ID
        spokes:
          type: array
          items:
            $ref: '#/components/schemas/ResourceId'
          description: Gets or sets the spokes group IDs
        mesh:
          type: array
          items:
            $ref: '#/components/schemas/ResourceId'
          description: Gets or sets the mesh group IDs
      allOf:
      - $ref: '#/components/schemas/ResourceProperties'
      required:
      - type
      description: Properties of a Managed Network Peering Policy
    ProxyResource:
      description: The resource model definition for a ARM proxy resource. It will have everything other than required location and tags
      allOf:
      - $ref: '#/components/schemas/Resource'
    ResourceId:
      properties:
        id:
          type: string
          description: Resource Id
      description: Generic pointer to a resource
    ManagedNetworkPeeringPolicy:
      properties:
        properties:
          $ref: '#/components/schemas/ManagedNetworkPeeringPolicyProperties'
          description: Gets or sets the properties of a Managed Network Policy
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: The Managed Network Peering Policy resource
    ManagedNetworkPeeringPolicyListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ManagedNetworkPeeringPolicy'
          description: Gets a page of Peering Policies
        nextLink:
          type: string
          description: Gets the URL to get the next page of results.
      description: Result of the request to list Managed Network Peering Policies. It contains a list of policies and a URL link to get the next set of results.
    Resource:
      description: The general resource model definition
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.
        location:
          type: string
          x-ms-mutability:
          - read
          - create
          description: The geo-location where the resource lives
      x-ms-azure-resource: true
    ErrorResponse:
      description: The error response that indicates why an operation has failed.
      type: object
      properties:
        code:
          description: The error code.
          type: string
          readOnly: true
        message:
          description: The error message.
          type: string
          readOnly: true
    ResourceProperties:
      properties:
        provisioningState:
          type: string
          readOnly: true
          description: Provisioning state of the ManagedNetwork resource.
          enum:
          - Updating
          - Deleting
          - Failed
          - Succeeded
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
        etag:
          type: string
          readOnly: true
          description: A unique read-only string that changes whenever the resource is updated.
      description: Base for resource properties.
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    ListSkipTokenParameter:
      name: $skiptoken
      description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    ManagedNetworkNameParameter:
      name: managedNetworkName
      in: path
      required: true
      description: The name of the Managed Network.
      x-ms-parameter-location: method
      schema:
        type: string
    ListPageSizeParameter:
      name: $top
      description: May be used to limit the number of results in a page for list queries.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        maximum: 20
        minimum: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
    ManagedNetworkPeeringPolicyNameParameter:
      name: managedNetworkPeeringPolicyName
      in: path
      required: true
      description: The name of the Managed Network Peering Policy.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
