openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft Storage Sync Storage Sync Service…
  description: Microsoft Storage Sync Service API. This belongs to Microsoft.StorageSync Resource Provider
  version: '2022-09-01'
  x-ms-code-generation-settings:
    name: StorageSyncManagementClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: StorageSyncService
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.StorageSync/locations/{locationName}/checkNameAvailability:
    post:
      tags:
      - StorageSyncService
      operationId: microsoftAzureStoragesyncservicesChecknameavailability
      x-ms-examples:
        StorageSyncServiceCheckNameAvailability_Available:
          $ref: ./examples/StorageSyncServiceCheckNameAvailability_Available.json
        StorageSyncServiceCheckNameAvailability_AlreadyExists:
          $ref: ./examples/StorageSyncServiceCheckNameAvailability_AlreadyExists.json
      description: Check the give namespace name availability.
      parameters:
      - name: locationName
        in: path
        required: true
        description: The desired region for the name check.
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: check availability returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityResult'
        default:
          description: Error message indicating why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityParameters'
        description: Parameters to check availability of the given namespace name
        required: true
components:
  schemas:
    CheckNameAvailabilityParameters:
      type: object
      properties:
        name:
          type: string
          description: The name to check for availability
        type:
          type: string
          enum:
          - Microsoft.StorageSync/storageSyncServices
          x-ms-enum:
            name: Type
            modelAsString: false
          description: The resource type. Must be set to Microsoft.StorageSync/storageSyncServices
      required:
      - name
      - type
      description: Parameters for a check name availability request.
    StorageSyncErrorDetails:
      type: object
      description: Error Details object.
      properties:
        code:
          type: string
          description: Error code of the given entry.
        message:
          type: string
          description: Error message of the given entry.
        target:
          type: string
          description: Target of the given entry.
        requestUri:
          type: string
          description: Request URI of the given entry.
        exceptionType:
          type: string
          description: Exception type of the given entry.
        httpMethod:
          type: string
          description: HTTP method of the given entry.
        hashedMessage:
          type: string
          description: Hashed message of the given entry.
        httpErrorCode:
          type: string
          description: HTTP error code of the given entry.
    StorageSyncInnerErrorDetails:
      type: object
      description: Error Details object.
      properties:
        callStack:
          type: string
          description: Call stack of the error.
        message:
          type: string
          description: Error message of the error.
        innerException:
          type: string
          description: Exception of the inner error.
        innerExceptionCallStack:
          type: string
          description: Call stack of the inner error.
    StorageSyncApiError:
      type: object
      description: Error type
      properties:
        code:
          type: string
          description: Error code of the given entry.
        message:
          type: string
          description: Error message of the given entry.
        target:
          type: string
          description: Target of the given error entry.
        details:
          $ref: '#/components/schemas/StorageSyncErrorDetails'
          description: Error details of the given entry.
        innererror:
          $ref: '#/components/schemas/StorageSyncInnerErrorDetails'
          description: Inner error details of the given entry.
    StorageSyncError:
      type: object
      description: Error type
      properties:
        error:
          $ref: '#/components/schemas/StorageSyncApiError'
          description: Error details of the given entry.
        innererror:
          $ref: '#/components/schemas/StorageSyncApiError'
          description: Error details of the given entry.
    CheckNameAvailabilityResult:
      type: object
      properties:
        nameAvailable:
          readOnly: true
          type: boolean
          description: Gets a boolean value that indicates whether the name is available for you to use. If true, the name is available. If false, the name has already been taken or invalid and cannot be used.
        reason:
          readOnly: true
          type: string
          enum:
          - Invalid
          - AlreadyExists
          x-ms-enum:
            name: NameAvailabilityReason
            modelAsString: false
          description: Gets the reason that a Storage Sync Service name could not be used. The Reason element is only returned if NameAvailable is false.
        message:
          readOnly: true
          type: string
          description: Gets an error message explaining the Reason value in more detail.
      description: The CheckNameAvailability operation response.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
