openapi: 3.2.0
info:
  version: 2021-11-16-preview
  title: Microsoft Azure AuthorizationManagementClient Access Review…
  description: Access reviews service provides the workflow for running access reviews on different kind of resources.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: AccessReviewInstanceStop
paths:
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Authorization/accessReviewScheduleDefinitions/{scheduleDefinitionId}/instances/{id}/stop
  : post:
      tags:
      - AccessReviewInstanceStop
      operationId: microsoftAzureAccessreviewinstanceStop
      x-ms-examples:
        AccessReviewInstanceStop:
          $ref: ./examples/StopAccessReviewInstance.json
      description: An action to stop an access review instance.
      parameters:
      - name: scheduleDefinitionId
        in: path
        required: true
        description: The id of the access review schedule definition.
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: The id of the access review instance.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: Describe the result of a successful operation.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDefinition'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft…
components:
  schemas:
    ErrorDefinitionProperties:
      type: object
      title: Error
      description: Error description and code explaining why an operation failed.
      properties:
        message:
          type: string
          readOnly: true
          description: Description of the error.
        code:
          type: string
          description: Error code of list gateway.
    ErrorDefinition:
      type: object
      title: Error
      description: Error description and code explaining why an operation failed.
      properties:
        error:
          $ref: '#/components/schemas/ErrorDefinitionProperties'
          description: Error of the list gateway status.
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to be used with the HTTP request.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
