openapi: 3.2.0
info:
  version: 2021-11-16-preview
  title: Microsoft Azure AuthorizationManagementClient Tenant Level…
  description: Access reviews service provides the workflow for running access reviews on different kind of resources.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: TenantLevelGetAccessReviewInstanceContactedReviewers
paths:
  ? /providers/Microsoft.Authorization/accessReviewScheduleDefinitions/{scheduleDefinitionId}/instances/{id}/contactedReviewers
  : get:
      tags:
      - TenantLevelGetAccessReviewInstanceContactedReviewers
      operationId: microsoftAzureTenantlevelaccessreviewinstancecontactedreviewersList
      x-ms-examples:
        TenantLevelGetAccessReviewInstanceContactedReviewers:
          $ref: ./examples/TenantLevelGetAccessReviewInstanceContactedReviewers.json
      description: Get access review instance contacted reviewers
      parameters:
      - name: scheduleDefinitionId
        in: path
        required: true
        description: The id of the access review schedule definition.
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: The id of the access review instance.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Describe the result of a successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessReviewContactedReviewerListResult'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDefinition'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Authorization…
components:
  schemas:
    AccessReviewContactedReviewer:
      type: object
      x-ms-azure-resource: true
      properties:
        id:
          type: string
          readOnly: true
          description: The access review reviewer id.
        name:
          type: string
          readOnly: true
          description: The access review reviewer id.
        type:
          type: string
          readOnly: true
          description: The resource type.
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/AccessReviewContactedReviewerProperties'
          description: Access Review Contacted Reviewer properties.
      description: Access Review Contacted Reviewer.
    AccessReviewContactedReviewerProperties:
      type: object
      properties:
        userDisplayName:
          type: string
          description: The display name of the reviewer
          readOnly: true
        userPrincipalName:
          type: string
          description: The user principal name of the reviewer
          readOnly: true
        createdDateTime:
          type:
          - string
          - 'null'
          readOnly: true
          format: date-time
          description: Date Time when the reviewer was contacted.
      description: Properties of access review contacted reviewer.
    ErrorDefinition:
      type: object
      title: Error
      description: Error description and code explaining why an operation failed.
      properties:
        error:
          $ref: '#/components/schemas/ErrorDefinitionProperties'
          description: Error of the list gateway status.
    ErrorDefinitionProperties:
      type: object
      title: Error
      description: Error description and code explaining why an operation failed.
      properties:
        message:
          type: string
          readOnly: true
          description: Description of the error.
        code:
          type: string
          description: Error code of list gateway.
    AccessReviewContactedReviewerListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/AccessReviewContactedReviewer'
          description: Access Review Contacted Reviewer.
        nextLink:
          type: string
          description: The URL to use for getting the next set of results.
      description: List of access review contacted reviewers.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to be used with the HTTP request.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
