openapi: 3.2.0
info:
  title: Microsoft Azure Workflow Versions API
  version: '1.0'
  description: 'Operations tagged WorkflowVersions across 2 of this provider''s published API definitions: logicmanagementclient-openapi-original.yml, webapps-api-client-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Workflow Versions
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/versions
  : get:
      tags:
      - Workflow Versions
      operationId: microsoftAzureWorkflowversionsList
      description: Gets a list of workflow versions.
      x-ms-examples:
        List a workflows versions:
          $ref: ./examples/WorkflowVersions_List.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      - name: $top
        description: The number of items to be included in the result.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowVersionListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/versions/{versionId}
  : get:
      tags:
      - Workflow Versions
      operationId: microsoftAzureWorkflowversionsGet
      description: Gets a workflow version.
      x-ms-examples:
        Get a workflow version:
          $ref: ./examples/WorkflowVersions_Get.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - name: versionId
        description: The workflow versionId.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowVersion'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/hostruntime/runtime/webhooks/workflow/api/management/workflows/{workflowName}/versions
  : get:
      tags:
      - Workflow Versions
      operationId: microsoftAzureWorkflowversionsList
      description: Gets a list of workflow versions.
      x-ms-examples:
        List a workflows versions:
          $ref: ./examples/WorkflowVersions_List.json
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/siteNameParameter'
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersionParameter'
      - name: $top
        description: The number of items to be included in the result.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowVersionListResult_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/hostruntime/runtime/webhooks/workflow/api/management/workflows/{workflowName}/versions/{versionId}
  : get:
      tags:
      - Workflow Versions
      operationId: microsoftAzureWorkflowversionsGet
      description: Gets a workflow version.
      x-ms-examples:
        Get a workflow version:
          $ref: ./examples/WorkflowVersions_Get.json
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/siteNameParameter'
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - name: versionId
        description: The workflow versionId.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowVersion_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
components:
  schemas:
    ResourceReference:
      type: object
      properties:
        id:
          type: string
          description: The resource id.
        name:
          type: string
          readOnly: true
          description: Gets the resource name.
        type:
          type: string
          readOnly: true
          description: Gets the resource type.
      description: The resource reference.
    WorkflowState:
      type: string
      enum:
      - NotSpecified
      - Completed
      - Enabled
      - Disabled
      - Deleted
      - Suspended
      x-ms-enum:
        name: WorkflowState
        modelAsString: true
    ParameterType:
      type: string
      enum:
      - NotSpecified
      - String
      - SecureString
      - Int
      - Float
      - Bool
      - Array
      - Object
      - SecureObject
      x-ms-enum:
        name: ParameterType
        modelAsString: true
    WorkflowParameter:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/ParameterType'
          description: The type.
        value:
          $ref: '#/components/schemas/Object'
          description: The value.
        metadata:
          $ref: '#/components/schemas/Object'
          description: The metadata.
        description:
          type: string
          description: The description.
      description: The workflow parameters.
    WorkflowVersionListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowVersion'
          description: A list of workflow versions.
        nextLink:
          type: string
          description: The URL to get the next set of results.
      description: The list of workflow versions.
    WorkflowVersionProperties:
      type: object
      properties:
        createdTime:
          type: string
          format: date-time
          readOnly: true
          description: Gets the created time.
        changedTime:
          type: string
          format: date-time
          readOnly: true
          description: Gets the changed time.
        state:
          $ref: '#/components/schemas/WorkflowState'
          description: The state.
        version:
          type: string
          readOnly: true
          description: Gets the version.
        accessEndpoint:
          type: string
          readOnly: true
          description: Gets the access endpoint.
        sku:
          $ref: '#/components/schemas/Sku'
          description: The sku.
        integrationAccount:
          $ref: '#/components/schemas/ResourceReference'
          description: The integration account.
        definition:
          $ref: '#/components/schemas/Object'
          description: The definition.
        parameters:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/WorkflowParameter'
          description: The parameters.
      description: The workflow version properties.
    WorkflowVersion:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/WorkflowVersionProperties'
          description: The workflow version properties.
      description: The workflow version.
      allOf:
      - $ref: '#/components/schemas/Resource'
    SkuName:
      type: string
      enum:
      - NotSpecified
      - Free
      - Shared
      - Basic
      - Standard
      - Premium
      x-ms-enum:
        name: SkuName
        modelAsString: true
      description: The sku name.
    Resource:
      properties:
        id:
          type: string
          readOnly: true
          description: The resource id.
        name:
          type: string
          readOnly: true
          description: Gets the resource name.
        type:
          type: string
          readOnly: true
          description: Gets the resource type.
        location:
          type: string
          description: The resource location.
        tags:
          type: object
          additionalProperties:
            type: string
          description: The resource tags.
      x-ms-azure-resource: true
      description: The base resource type.
    Object:
      type: object
      properties: {}
    Sku:
      type: object
      required:
      - name
      properties:
        name:
          $ref: '#/components/schemas/SkuName'
          description: The name.
        plan:
          $ref: '#/components/schemas/ResourceReference'
          description: The reference to plan.
      description: The sku type.
    WorkflowVersionListResult_2:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowVersion_2'
            description: The workflow version.
          description: A list of workflow versions.
        nextLink:
          type: string
          description: The URL to get the next set of results.
      description: The list of workflow versions.
    FlowEndpointsConfiguration:
      type: object
      description: The endpoints configuration.
      properties:
        workflow:
          $ref: '#/components/schemas/FlowEndpoints'
          description: The workflow endpoints.
        connector:
          $ref: '#/components/schemas/FlowEndpoints'
          description: The connector endpoints.
    OpenAuthenticationPolicyClaim:
      type: object
      description: Open authentication policy claim.
      properties:
        name:
          type: string
          description: The name of the claim.
        value:
          type: string
          description: The value of the claim.
    WorkflowProvisioningState:
      type: string
      description: The workflow provisioning state.
      enum:
      - NotSpecified
      - Accepted
      - Running
      - Ready
      - Creating
      - Created
      - Deleting
      - Deleted
      - Canceled
      - Failed
      - Succeeded
      - Moving
      - Updating
      - Registering
      - Registered
      - Unregistering
      - Unregistered
      - Completed
      - Renewing
      - Pending
      - Waiting
      - InProgress
      x-ms-enum:
        name: WorkflowProvisioningState
        modelAsString: true
    OpenAuthenticationProviderType:
      type: string
      description: Open authentication policy provider type.
      enum:
      - AAD
      x-ms-enum:
        name: OpenAuthenticationProviderType
        modelAsString: true
    WorkflowResource:
      type: object
      properties:
        id:
          type: string
          readOnly: true
          description: The resource id.
        name:
          type: string
          readOnly: true
          description: Gets the resource name.
        type:
          type: string
          readOnly: true
          description: Gets the resource type.
        location:
          type: string
          description: The resource location.
        tags:
          type: object
          additionalProperties:
            type: string
          description: The resource tags.
      x-ms-azure-resource: true
      description: The base resource type.
    WorkflowState_2:
      type: string
      description: The workflow state.
      enum:
      - NotSpecified
      - Completed
      - Enabled
      - Disabled
      - Deleted
      - Suspended
      x-ms-enum:
        name: WorkflowState
        modelAsString: true
    FlowEndpoints:
      type: object
      description: The flow endpoints configuration.
      properties:
        outgoingIpAddresses:
          type: array
          description: The outgoing ip address.
          items:
            $ref: '#/components/schemas/IpAddress'
            description: The ip address.
          x-ms-identifiers:
          - address
        accessEndpointIpAddresses:
          type: array
          description: The access endpoint ip address.
          items:
            $ref: '#/components/schemas/IpAddress'
            description: The ip address.
          x-ms-identifiers:
          - address
    IpAddressRange:
      type: object
      description: The ip address range.
      properties:
        addressRange:
          type: string
          description: The IP address range.
    ErrorResponse:
      description: Error response indicates Logic service is not able to process the incoming request. The error property contains the error details.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorProperties'
          description: The error properties.
    ParameterType_2:
      type: string
      description: The parameter type.
      enum:
      - NotSpecified
      - String
      - SecureString
      - Int
      - Float
      - Bool
      - Array
      - Object
      - SecureObject
      x-ms-enum:
        name: ParameterType
        modelAsString: true
    IpAddress:
      type: object
      description: The ip address.
      properties:
        address:
          type: string
          description: The address.
    WorkflowSkuName:
      type: string
      enum:
      - NotSpecified
      - Free
      - Shared
      - Basic
      - Standard
      - Premium
      x-ms-enum:
        name: WorkflowSkuName
        modelAsString: true
      description: The sku name.
    OpenAuthenticationAccessPolicy:
      type: object
      description: Open authentication access policy defined by user.
      properties:
        type:
          $ref: '#/components/schemas/OpenAuthenticationProviderType'
          description: Type of provider for OAuth.
        claims:
          type: array
          description: The access policy claims.
          items:
            $ref: '#/components/schemas/OpenAuthenticationPolicyClaim'
            description: The access policy claim.
          x-ms-identifiers:
          - name
    WorkflowSku:
      type: object
      description: The sku type.
      required:
      - name
      properties:
        name:
          $ref: '#/components/schemas/WorkflowSkuName'
          description: The name.
        plan:
          $ref: '#/components/schemas/ResourceReference'
          description: The reference to plan.
    WorkflowVersion_2:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/WorkflowVersionProperties_2'
          description: The workflow version properties.
      description: The workflow version.
      allOf:
      - $ref: '#/components/schemas/WorkflowResource'
    FlowAccessControlConfiguration:
      type: object
      description: The access control configuration.
      properties:
        triggers:
          $ref: '#/components/schemas/FlowAccessControlConfigurationPolicy'
          description: The access control configuration for invoking workflow triggers.
        contents:
          $ref: '#/components/schemas/FlowAccessControlConfigurationPolicy'
          description: The access control configuration for accessing workflow run contents.
        actions:
          $ref: '#/components/schemas/FlowAccessControlConfigurationPolicy'
          description: The access control configuration for workflow actions.
        workflowManagement:
          $ref: '#/components/schemas/FlowAccessControlConfigurationPolicy'
          description: The access control configuration for workflow management.
    FlowAccessControlConfigurationPolicy:
      type: object
      description: The access control configuration policy.
      properties:
        allowedCallerIpAddresses:
          type: array
          description: The allowed caller IP address ranges.
          items:
            $ref: '#/components/schemas/IpAddressRange'
            description: The ip address range.
          x-ms-identifiers: []
        openAuthenticationPolicies:
          $ref: '#/components/schemas/OpenAuthenticationAccessPolicies'
          description: The authentication policies for workflow.
    WorkflowVersionProperties_2:
      type: object
      properties:
        provisioningState:
          $ref: '#/components/schemas/WorkflowProvisioningState'
          readOnly: true
          description: The provisioning state.
        createdTime:
          type: string
          format: date-time
          readOnly: true
          description: Gets the created time.
        changedTime:
          type: string
          format: date-time
          readOnly: true
          description: Gets the changed time.
        state:
          $ref: '#/components/schemas/WorkflowState_2'
          description: The state.
        version:
          type: string
          readOnly: true
          description: Gets the version.
        accessEndpoint:
          type: string
          readOnly: true
          description: Gets the access endpoint.
        endpointsConfiguration:
          $ref: '#/components/schemas/FlowEndpointsConfiguration'
          description: The endpoints configuration.
        accessControl:
          $ref: '#/components/schemas/FlowAccessControlConfiguration'
          description: The access control configuration.
        sku:
          $ref: '#/components/schemas/WorkflowSku'
          readOnly: true
          description: The sku.
        integrationAccount:
          $ref: '#/components/schemas/ResourceReference'
          description: The integration account.
        definition:
          $ref: '#/components/schemas/Object'
          description: The definition.
        parameters:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/WorkflowParameter'
          description: The parameters.
      description: The workflow version properties.
    OpenAuthenticationAccessPolicies:
      type: object
      description: AuthenticationPolicy of type Open.
      properties:
        policies:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/OpenAuthenticationAccessPolicy'
          description: Open authentication policies.
    ErrorProperties:
      description: Error properties indicate why the Logic service was not able to process the incoming request. The reason is provided in the error message.
      type: object
      properties:
        code:
          description: Error code.
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
  parameters:
    api-version:
      name: api-version
      description: The API version.
      in: query
      required: true
      schema:
        type: string
    subscriptionId:
      name: subscriptionId
      description: The subscription id.
      in: path
      required: true
      schema:
        type: string
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: Name of the resource group to which the resource belongs.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
        pattern: ^[-\w\._\(\)]+[^\.]$
    apiVersionParameter:
      name: api-version
      in: query
      description: API Version
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    siteNameParameter:
      name: name
      in: path
      description: Site name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-refined-from:
- logicmanagementclient-openapi-original.yml
- webapps-api-client-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
