openapi: 3.2.0
info:
  title: Microsoft Azure Location API
  version: '1.0'
  description: 'Operations tagged Location across 2 of this provider''s published API definitions: batchmanagementclient-openapi-original.yml, blockchainmanagementclient-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Location
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Batch/locations/{locationName}/quotas:
    get:
      tags:
      - Location
      operationId: microsoftAzureLocationGetquotas
      x-ms-examples:
        LocationGetQuotas:
          $ref: ./examples/LocationGetQuotas.json
      description: Gets the Batch service quotas for the specified subscription at the given location.
      parameters:
      - name: locationName
        in: path
        required: true
        description: The region for which to retrieve Batch service quotas.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The operation was successful. The response contains the Batch service quotas for the subscription in the specified location.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchLocationQuota'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Batch…
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.Batch/locations/{locationName}/virtualMachineSkus:
    get:
      tags:
      - Location
      operationId: microsoftAzureLocationListsupportedvirtualmachineskus
      x-ms-examples:
        LocationListVirtualMachineSkus:
          $ref: ./examples/LocationListVirtualMachineSkus.json
      description: Gets the list of Batch supported Virtual Machine VM sizes available at the given location.
      parameters:
      - name: locationName
        in: path
        required: true
        description: The region for which to retrieve Batch service supported SKUs.
        schema:
          type: string
      - name: maxresults
        in: query
        required: false
        description: The maximum number of items to return in the response.
        schema:
          type: integer
          format: int32
      - name: $filter
        in: query
        required: false
        description: OData filter expression. Valid properties for filtering are "familyName".
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The operation was successful. The response contains the Batch service supported virtual machine vm sizes for the subscription in the specified location.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportedSkusResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Batch…
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.Batch/locations/{locationName}/cloudServiceSkus:
    get:
      tags:
      - Location
      operationId: microsoftAzureLocationListsupportedcloudserviceskus
      x-ms-examples:
        LocationListCloudServiceSkus:
          $ref: ./examples/LocationListCloudServiceSkus.json
      description: Gets the list of Batch supported Cloud Service VM sizes available at the given location.
      parameters:
      - name: locationName
        in: path
        required: true
        description: The region for which to retrieve Batch service supported SKUs.
        schema:
          type: string
      - name: maxresults
        in: query
        required: false
        description: The maximum number of items to return in the response.
        schema:
          type: integer
          format: int32
      - name: $filter
        in: query
        required: false
        description: OData filter expression. Valid properties for filtering are "familyName".
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The operation was successful. The response contains the Batch service supported Cloud Service VM sizes for the subscription in the specified location.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportedSkusResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Batch…
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.Blockchain/locations/{locationName}/checkNameAvailability:
    post:
      tags:
      - Location
      description: To check whether a resource name is available.
      operationId: microsoftAzureLocationsChecknameavailability
      parameters:
      - name: locationName
        in: path
        description: Location Name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter_2'
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameAvailability'
      x-ms-examples:
        Locations_CheckNameAvailability:
          $ref: ./examples/Locations_CheckNameAvailability.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NameAvailabilityRequest'
        description: Name availability request payload.
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.Blockchain/locations/{locationName}/listConsortiums:
    post:
      tags:
      - Location
      description: Lists the available consortiums for a subscription.
      operationId: microsoftAzureLocationsListconsortiums
      parameters:
      - name: locationName
        in: path
        description: Location Name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter_2'
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsortiumCollection'
      x-ms-examples:
        Locations_ListConsortiums:
          $ref: ./examples/Locations_ListConsortiums.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft…
    servers:
    - url: https://management.azure.com
components:
  schemas:
    CloudError:
      type: object
      x-ms-external: true
      properties:
        error:
          description: The body of the error response.
          $ref: '#/components/schemas/CloudErrorBody'
      description: An error response from the Batch service.
    SkuCapability:
      type: object
      properties:
        name:
          type: string
          readOnly: true
          description: The name of the feature.
        value:
          type: string
          readOnly: true
          description: The value of the feature.
      description: A SKU capability, such as the number of cores.
    SupportedSku:
      type: object
      properties:
        name:
          readOnly: true
          type: string
          description: The name of the SKU.
        familyName:
          readOnly: true
          type: string
          description: The family name of the SKU.
        capabilities:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/SkuCapability'
          x-ms-identifiers:
          - name
          description: A collection of capabilities which this SKU supports.
        batchSupportEndOfLife:
          type: string
          readOnly: true
          format: date-time
          description: The time when Azure Batch service will retire this SKU.
      description: Describes a Batch supported SKU.
    BatchLocationQuota:
      type: object
      properties:
        accountQuota:
          type: integer
          format: int32
          readOnly: true
          description: The number of Batch accounts that may be created under the subscription in the specified region.
      description: Quotas associated with a Batch region for a particular subscription.
    CloudErrorBody:
      type: object
      x-ms-external: true
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of the property in error.
        details:
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          x-ms-identifiers:
          - message
          - target
          description: A list of additional details about the error.
      description: An error response from the Batch service.
    SupportedSkusResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/SupportedSku'
          x-ms-identifiers:
          - name
          description: The list of SKUs available for the Batch service in the location.
        nextLink:
          readOnly: true
          type: string
          description: The URL to use for getting the next set of results.
      required:
      - value
      description: The Batch List supported SKUs operation response.
    NameAvailabilityRequest:
      description: Name availability request payload which is exposed in the request of the resource provider.
      type: object
      properties:
        name:
          description: Gets or sets the name to check.
          type: string
        type:
          description: Gets or sets the type of the resource to check.
          type: string
    NameAvailability:
      description: Name availability payload which is exposed in the response of the resource provider.
      type: object
      properties:
        nameAvailable:
          description: Gets or sets the value indicating whether the name is available.
          type: boolean
        message:
          description: Gets or sets the message.
          type: string
        reason:
          description: Gets or sets the name availability reason.
          enum:
          - NotSpecified
          - AlreadyExists
          - Invalid
          type: string
          x-ms-enum:
            name: NameAvailabilityReason
            modelAsString: true
    Consortium:
      description: Consortium payload
      type: object
      properties:
        name:
          description: Gets or sets the blockchain member name.
          type: string
        protocol:
          description: Gets or sets the protocol for the consortium.
          enum:
          - NotSpecified
          - Parity
          - Quorum
          - Corda
          type: string
          x-ms-enum:
            name: BlockchainProtocol
            modelAsString: true
    ConsortiumCollection:
      description: Collection of the consortium payload.
      type: object
      properties:
        value:
          description: Gets or sets the collection of consortiums.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/Consortium'
          x-ms-identifiers:
          - name
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to be used with the HTTP request.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)
      schema:
        type: string
    ApiVersionParameter_2:
      name: api-version
      in: query
      description: Client API Version.
      required: true
      schema:
        type: string
        enum:
        - 2018-06-01-preview
    SubscriptionIdParameter_2:
      name: subscriptionId
      in: path
      description: Gets the subscription Id which uniquely identifies the Microsoft Azure subscription. The subscription ID is part of the URI for every service call.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Microsoft Entra OAuth 2.0 auth code flow
x-refined-from:
- batchmanagementclient-openapi-original.yml
- blockchainmanagementclient-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
