openapi: 3.2.0
info:
  title: Microsoft Azure NetworkResourceProviderClient Usages API
  description: The Windows Azure Network management API provides a RESTful set of web services that interact with Windows Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Windows Azure Networks service.
  version: 2015-05-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Usages
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/usages:
    get:
      tags:
      - Usages
      operationId: microsoftAzureUsagesList
      description: Lists compute usages for a subscription.
      parameters:
      - name: location
        in: path
        required: true
        description: The location upon which resource usage is queried.
        schema:
          type: string
          pattern: ^[-\w\._]+$
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsagesListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/UsagesListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Network…
components:
  schemas:
    UsageName:
      properties:
        value:
          type: string
          description: Gets or sets a string describing the resource name.
        localizedValue:
          type: string
          description: Gets or sets a localized string describing the resource name.
      description: The Usage Names.
    Usage:
      properties:
        unit:
          type: string
          description: Gets or sets an enum describing the unit of measurement.
          enum:
          - Count
          x-ms-enum:
            name: UsageUnit
            modelAsString: true
        currentValue:
          type: integer
          format: int32
          description: Gets or sets the current value of the usage.
        limit:
          type: integer
          format: int64
          description: Gets or sets the limit of usage.
        name:
          $ref: '#/components/schemas/UsageName'
          description: Gets or sets the name of the type of usage.
      required:
      - unit
      - currentValue
      - limit
      - name
      description: Describes Network Resource Usage.
    UsagesListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Usage'
          description: Gets or sets the list Network Resource Usages.
        nextLink:
          type: string
          description: URL to get the next set of results.
      description: The List Usages operation response.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
