openapi: 3.2.0
info:
  title: Microsoft Azure CustomerInsightsManagementClient Connectors…
  description: The Azure Customer Insights management API provides a RESTful set of web services that interact with Azure Customer Insights service to manage your resources. The API has entities that capture the relationship between an end user and the Azure Customer Insights service.
  version: '2017-04-26'
  x-ms-code-generation-settings:
    name: CustomerInsightsManagementClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Connectors
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/connectors/{connectorName}
  : put:
      tags:
      - Connectors
      operationId: microsoftAzureConnectorsCreateorupdate
      x-ms-examples:
        Connectors_CreateOrUpdate:
          $ref: ./examples/ConnectorsCreateOrUpdate.json
      description: Creates a connector or updates an existing connector in the hub.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hubName
        in: path
        required: true
        description: The name of the hub.
        schema:
          type: string
      - name: connectorName
        in: path
        required: true
        description: The name of the connector.
        schema:
          type: string
          maxLength: 128
          minLength: 1
          pattern: ^[a-zA-Z][a-zA-Z0-9_]+$
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. Successfully created the connector.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorResourceFormat'
        '202':
          description: Accepted. The create connector operation is accepted.
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorResourceFormat'
        description: Parameters supplied to the CreateOrUpdate Connector operation.
        required: true
    get:
      tags:
      - Connectors
      operationId: microsoftAzureConnectorsGet
      x-ms-examples:
        Connectors_Get:
          $ref: ./examples/ConnectorsGet.json
      description: Gets a connector in the hub.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hubName
        in: path
        required: true
        description: The name of the hub.
        schema:
          type: string
      - name: connectorName
        in: path
        required: true
        description: The name of the connector.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. Successfully get the connector.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorResourceFormat'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    delete:
      tags:
      - Connectors
      operationId: microsoftAzureConnectorsDelete
      x-ms-examples:
        Connectors_Delete:
          $ref: ./examples/ConnectorsDelete.json
      description: Deletes a connector in the hub.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hubName
        in: path
        required: true
        description: The name of the hub.
        schema:
          type: string
      - name: connectorName
        in: path
        required: true
        description: The name of the connector.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. The connector is deleted.
        '202':
          description: Accepted. The delete operation is accepted.
        '204':
          description: NoContent. Successfully requested delete operation, but the response is intentionally empty.
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/connectors
  : get:
      tags:
      - Connectors
      operationId: microsoftAzureConnectorsListbyhub
      x-ms-examples:
        Connectors_ListByHub:
          $ref: ./examples/ConnectorsListByHub.json
      description: Gets all the connectors in the specified hub.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hubName
        in: path
        required: true
        description: The name of the hub.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. Successfully get all the connectors in the hub.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    ProxyResource:
      properties:
        id:
          readOnly: true
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
      x-ms-azure-resource: true
      description: Common properties of proxy resource.
    ConnectorType:
      type: string
      enum:
      - None
      - CRM
      - AzureBlob
      - Salesforce
      - ExchangeOnline
      - Outbound
      x-ms-enum:
        name: ConnectorTypes
        modelAsString: true
      description: Type of connector.
    ConnectorListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ConnectorResourceFormat'
          description: Results of the list operation.
        nextLink:
          type: string
          description: Link to the next set of results.
      description: The response of list connector operation.
    ConnectorResourceFormat:
      description: The connector resource format.
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/Connector'
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
    Connector:
      required:
      - connectorType
      - connectorProperties
      properties:
        connectorId:
          type: integer
          readOnly: true
          description: ID of the connector.
        connectorName:
          type: string
          description: Name of the connector.
        connectorType:
          $ref: '#/components/schemas/ConnectorType'
          description: Type of connector.
        displayName:
          type: string
          description: Display name of the connector.
        description:
          type: string
          description: Description of the connector.
        connectorProperties:
          type: object
          additionalProperties:
            type: object
          description: The connector properties.
        created:
          type: string
          readOnly: true
          format: date-time
          description: The created time.
        lastModified:
          type: string
          readOnly: true
          format: date-time
          description: The last modified time.
        state:
          type: string
          readOnly: true
          enum:
          - Creating
          - Created
          - Ready
          - Expiring
          - Deleting
          - Failed
          x-ms-enum:
            name: ConnectorStates
            modelAsString: false
          description: State of connector.
        tenantId:
          type: string
          readOnly: true
          description: The hub name.
        isInternal:
          type: boolean
          description: If this is an internal connector.
      description: Properties of connector.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
