openapi: 3.2.0
info:
  title: Microsoft Azure Azure Arc VMware Management Service V…
  description: Self service experience for VMware.
  version: 2023-03-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: VCenters
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedVMwarevSphere/vcenters/{vcenterName}
  : put:
      tags:
      - VCenters
      operationId: microsoftAzureVcentersCreate
      description: Create Or Update vCenter.
      summary: Microsoft Azure Implements Vcenter Put Method
      x-ms-examples:
        CreateVCenter:
          $ref: ./examples/CreateVCenter.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - in: path
        name: vcenterName
        required: true
        description: Name of the vCenter.
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Arm resource update successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCenter'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCenter'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VCenter'
        description: Request payload.
    get:
      tags:
      - VCenters
      operationId: microsoftAzureVcentersGet
      summary: Microsoft Azure Gets A Vcenter
      description: Implements vCenter GET method.
      x-ms-examples:
        GetVCenter:
          $ref: ./examples/GetVCenter.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - in: path
        name: vcenterName
        required: true
        description: Name of the vCenter.
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCenter'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
    patch:
      tags:
      - VCenters
      operationId: microsoftAzureVcentersUpdate
      summary: Microsoft Azure Updates A Vcenter
      description: API to update certain properties of the vCenter resource.
      x-ms-examples:
        UpdateVCenter:
          $ref: ./examples/UpdateVCenter.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - in: path
        name: vcenterName
        required: true
        description: Name of the vCenter.
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Arm resource update successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCenter'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourcePatch'
        description: Resource properties to update.
    delete:
      tags:
      - VCenters
      operationId: microsoftAzureVcentersDelete
      summary: Microsoft Azure Deletes An Vcenter
      description: Implements vCenter DELETE method.
      x-ms-examples:
        DeleteVCenter:
          $ref: ./examples/DeleteVCenter.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - in: path
        name: vcenterName
        required: true
        description: Name of the vCenter.
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      - in: query
        name: force
        description: Whether force delete was specified.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Success
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/providers/Microsoft.ConnectedVMwarevSphere/vcenters:
    get:
      tags:
      - VCenters
      operationId: microsoftAzureVcentersList
      summary: Microsoft Azure Implements Get Vcenters In A Subscription
      description: List of vCenters in a subscription.
      x-ms-examples:
        ListVCenters:
          $ref: ./examples/ListVCenters.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCentersList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedVMwarevSphere/vcenters:
    get:
      tags:
      - VCenters
      operationId: microsoftAzureVcentersListbyresourcegroup
      summary: Microsoft Azure Implements Get Vcenters In A Resource Group
      description: List of vCenters in a resource group.
      x-ms-examples:
        ListVCentersByResourceGroup:
          $ref: ./examples/ListVCentersByResourceGroup.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCentersList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
components:
  schemas:
    VCenterProperties:
      description: Describes the properties of a VCenter.
      required:
      - fqdn
      type: object
      properties:
        uuid:
          description: Gets or sets a unique identifier for this resource.
          type: string
          readOnly: true
        fqdn:
          description: Gets or sets the FQDN/IPAddress of the vCenter.
          type: string
        port:
          format: int32
          description: Gets or sets the port of the vCenter.
          maximum: 65535
          minimum: 1
          type: integer
        version:
          description: Gets or sets the version of the vCenter.
          type: string
          readOnly: true
        instanceUuid:
          description: Gets or sets the instance UUID of the vCenter.
          type: string
          readOnly: true
        connectionStatus:
          description: Gets or sets the connection status to the vCenter.
          type: string
          readOnly: true
        customResourceName:
          description: Gets the name of the corresponding resource in Kubernetes.
          type: string
          readOnly: true
        credentials:
          description: Username / Password Credentials to connect to vcenter.
          $ref: '#/components/schemas/VICredential'
        statuses:
          description: The resource status information.
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ResourceStatus'
          x-ms-identifiers:
          - type
        provisioningState:
          $ref: '#/components/schemas/ResourceProvisioningState'
          description: Gets the provisioning state.
          readOnly: true
    VICredential:
      description: Username / Password Credentials to connect to vcenter.
      type: object
      properties:
        username:
          description: Gets or sets username to connect with the vCenter.
          type: string
        password:
          description: Gets or sets the password to connect with the vCenter.
          type: string
          x-ms-mutability:
          - create
          - update
          x-ms-secret: true
    ExtendedLocation:
      type: object
      description: The extended location.
      properties:
        type:
          type: string
          description: The extended location type.
        name:
          type: string
          description: The extended location name.
    ResourceStatus:
      description: The resource status information.
      type: object
      properties:
        type:
          description: The type of the condition.
          type: string
          readOnly: true
        status:
          description: Status of the condition.
          type: string
          readOnly: true
        reason:
          description: The reason for the condition's status.
          type: string
          readOnly: true
        message:
          description: A human readable message indicating details about the status.
          type: string
          readOnly: true
        severity:
          description: Severity with which to treat failures of this type of condition.
          type: string
          readOnly: true
        lastUpdatedAt:
          description: The last update time for this condition.
          type: string
          format: date-time
          readOnly: true
    VCenter:
      description: Defines the vCenter.
      required:
      - location
      - properties
      type: object
      x-ms-azure-resource: true
      properties:
        properties:
          x-ms-client-flatten: true
          description: Resource properties.
          $ref: '#/components/schemas/VCenterProperties'
        location:
          description: Gets or sets the location.
          type: string
          x-ms-mutability:
          - read
          - create
        extendedLocation:
          $ref: '#/components/schemas/ExtendedLocation'
          description: Gets or sets the extended location.
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: The system data.
        tags:
          description: Gets or sets the Resource tags.
          type: object
          additionalProperties:
            type: string
        name:
          description: Gets or sets the name.
          type: string
          readOnly: true
        id:
          description: Gets or sets the Id.
          type: string
          readOnly: true
        type:
          description: Gets or sets the type of the resource.
          type: string
          readOnly: true
        kind:
          type: string
          description: Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type; e.g. ApiApps are a kind of Microsoft.Web/sites type.  If supported, the resource provider must validate and persist this value.
    ResourceProvisioningState:
      type: string
      description: The current deployment state of resource.
      enum:
      - Succeeded
      - Failed
      - Canceled
      - Provisioning
      - Updating
      - Deleting
      - Accepted
      - Created
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    ResourcePatch:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
      description: Object containing updates for patch operations.
    VCentersList:
      description: List of VCenters.
      type: object
      properties:
        nextLink:
          description: Url to follow for getting next page of VCenters.
          type: string
        value:
          description: Array of VCenters
          type: array
          items:
            $ref: '#/components/schemas/VCenter'
      required:
      - value
  parameters:
    api-version:
      in: query
      name: api-version
      description: Client Api Version.
      required: true
      schema:
        type: string
    resourceGroupName:
      in: path
      name: resourceGroupName
      description: The Resource Group Name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    subscriptionId:
      in: path
      name: subscriptionId
      description: The Subscription ID.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
