openapi: 3.2.0
info:
  title: Microsoft Azure MicrosoftScanningClient Scan Rulesets API
  description: Creates a Microsoft.Scanning management client.
  version: 2022-07-01-preview
servers:
- url: https://purview.azure.com/scan
security:
- azure_auth:
  - user_impersonation
tags:
- name: Scan Rulesets
paths:
  /scanrulesets/{scanRulesetName}:
    get:
      tags:
      - Scan Rulesets
      description: Get a scan ruleset
      operationId: microsoftAzureScanrulesetsGet
      parameters:
      - in: path
        name: scanRulesetName
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanRuleset'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        ScanRulesets_Get:
          $ref: ./examples/ScanRulesets_Get.json
      summary: Microsoft Azure Get Scanrulesets Scanrulesetname
    put:
      tags:
      - Scan Rulesets
      description: Creates or Updates a scan ruleset
      operationId: microsoftAzureScanrulesetsCreateorupdate
      parameters:
      - in: path
        name: scanRulesetName
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanRuleset'
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanRuleset'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        ScanRulesets_CreateOrUpdate:
          $ref: ./examples/ScanRulesets_CreateOrUpdate.json
      summary: Microsoft Azure Put Scanrulesets Scanrulesetname
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScanRuleset'
    delete:
      tags:
      - Scan Rulesets
      description: Deletes a scan ruleset
      operationId: microsoftAzureScanrulesetsDelete
      parameters:
      - in: path
        name: scanRulesetName
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanRuleset'
        '204':
          description: Success
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        ScanRulesets_Delete:
          $ref: ./examples/ScanRulesets_Delete.json
      summary: Microsoft Azure Delete Scanrulesets Scanrulesetname
  /scanrulesets:
    get:
      tags:
      - Scan Rulesets
      description: List scan rulesets in Data catalog
      operationId: microsoftAzureScanrulesetsListall
      parameters:
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanRulesetList'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        ScanRulesets_ListAll:
          $ref: ./examples/ScanRulesets_ListAll.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Scanrulesets
components:
  schemas:
    VersionedScanRuleset:
      type: object
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      properties:
        scanRulesetType:
          enum:
          - Custom
          - System
          type: string
          x-ms-enum:
            name: ScanRulesetType
            modelAsString: true
        status:
          enum:
          - Enabled
          - Disabled
          type: string
          readOnly: true
          x-ms-enum:
            name: ScanRulesetStatus
            modelAsString: true
        version:
          format: int32
          type: integer
          readOnly: true
    ProxyResource:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
    ScanRuleset:
      required:
      - kind
      type: object
      allOf:
      - $ref: '#/components/schemas/VersionedScanRuleset'
      properties:
        kind:
          enum:
          - None
          - AzureSubscription
          - AzureResourceGroup
          - AzureSynapseWorkspace
          - AzureSynapse
          - AdlsGen1
          - AdlsGen2
          - AmazonAccount
          - AmazonS3
          - AmazonSql
          - AzureCosmosDb
          - AzureDataExplorer
          - AzureFileService
          - AzureSqlDatabase
          - AmazonPostgreSql
          - AzurePostgreSql
          - SqlServerDatabase
          - AzureSqlDatabaseManagedInstance
          - AzureSqlDataWarehouse
          - AzureMySql
          - AzureStorage
          - Teradata
          - Oracle
          - SapS4Hana
          - SapEcc
          - PowerBI
          type: string
          x-ms-enum:
            name: DataSourceType
            modelAsString: true
      discriminator:
        propertyName: kind
    ErrorModel:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorModel'
    ScanRulesetList:
      required:
      - value
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ScanRuleset'
        nextLink:
          type: string
        count:
          format: int64
          type: integer
    ErrorResponseModel:
      type: object
      properties:
        error:
          allOf:
          - $ref: '#/components/schemas/ErrorModel'
  parameters:
    api-version:
      in: query
      name: api-version
      description: The api version to use.
      required: true
      x-ms-client-name: ApiVersion
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-ms-parameterized-host:
  hostTemplate: '{Endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
