openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft NetApp Volume Groups API
  description: Microsoft NetApp Azure Resource Provider specification
  version: 2023-07-01-preview
  x-ms-code-generation-settings:
    name: AzureNetAppFilesManagementClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Volume Groups
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/volumeGroups
  : get:
      summary: Microsoft Azure Describe All Volume Groups
      description: List all volume groups for given account
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      tags:
      - Volume Groups
      operationId: microsoftAzureVolumegroupsListbynetappaccount
      x-ms-pageable:
        nextLinkName: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/volumeGroupList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        VolumeGroups_List_SapHana:
          $ref: examples/VolumeGroups_List_SapHana.json
        VolumeGroups_List_Oracle:
          $ref: examples/VolumeGroups_List_Oracle.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/volumeGroups/{volumeGroupName}
  : get:
      summary: Microsoft Azure Describe A Volume Group
      description: Get details of the specified volume group
      tags:
      - Volume Groups
      operationId: microsoftAzureVolumegroupsGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountName'
      - $ref: '#/components/parameters/VolumeGroupName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/volumeGroupDetails'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        VolumeGroups_Get_SapHana:
          $ref: examples/VolumeGroups_Get_SapHana.json
        VolumeGroups_Get_Oracle:
          $ref: examples/VolumeGroups_Get_Oracle.json
    put:
      tags:
      - Volume Groups
      operationId: microsoftAzureVolumegroupsCreate
      summary: Microsoft Azure Create The Specified Volume Group And Volumes Creating Volume…
      description: Create a volume group along with specified volumes
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountName'
      - $ref: '#/components/parameters/VolumeGroupName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '201':
          description: Volume group created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/volumeGroupDetails'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-examples:
        VolumeGroups_Create_SapHana:
          $ref: examples/VolumeGroups_Create_SapHana.json
        VolumeGroups_Create_Oracle:
          $ref: examples/VolumeGroups_Create_Oracle.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/volumeGroupDetails'
        description: Volume Group object supplied in the body of the operation.
        required: true
    delete:
      tags:
      - Volume Groups
      operationId: microsoftAzureVolumegroupsDelete
      summary: Microsoft Azure Delete A Volume Group
      description: Delete the specified volume group only if there are no volumes under volume group.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountName'
      - $ref: '#/components/parameters/VolumeGroupName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        '202':
          description: Accepted -- Delete request accepted; operation will complete asynchronously
        '204':
          description: NoContent -- Resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-examples:
        VolumeGroups_Delete:
          $ref: examples/VolumeGroups_Delete.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ElasticSan/elasticSans/{elasticSanName}/volumeGroups
  : get:
      tags:
      - Volume Groups
      description: List VolumeGroups.
      operationId: microsoftAzureVolumegroupsListbyelasticsan
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ElasticSanNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK -- Operation completed successfully; retrieved Volume Group List.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeGroupList'
        default:
          description: Error from the ElasticSan Resource Provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        VolumeGroups_ListByElasticSan_MaximumSet_Gen:
          $ref: ./examples/VolumeGroups_ListByElasticSan_MaximumSet_Gen.json
        VolumeGroups_ListByElasticSan_MinimumSet_Gen:
          $ref: ./examples/VolumeGroups_ListByElasticSan_MinimumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ElasticSan/elasticSans/{elasticSanName}/volumegroups/{volumeGroupName}
  : put:
      tags:
      - Volume Groups
      description: Create a Volume Group.
      operationId: microsoftAzureVolumegroupsCreate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ElasticSanNameParameter'
      - $ref: '#/components/parameters/VolumeGroupNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK -- Returned when the create operation is successfully completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeGroup'
        '202':
          description: Accepted -- Create request accepted; operation will complete asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeGroup'
        default:
          description: Error from the ElasticSan Resource Provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        VolumeGroups_Create_MaximumSet_Gen:
          $ref: ./examples/VolumeGroups_Create_MaximumSet_Gen.json
        VolumeGroups_Create_MinimumSet_Gen:
          $ref: ./examples/VolumeGroups_Create_MinimumSet_Gen.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VolumeGroup'
        description: Volume Group object.
        required: true
    patch:
      tags:
      - Volume Groups
      description: Update an VolumeGroup.
      operationId: microsoftAzureVolumegroupsUpdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ElasticSanNameParameter'
      - $ref: '#/components/parameters/VolumeGroupNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK -- Returned when the update operation is successfully completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeGroup'
        '202':
          description: Accepted -- Update request accepted; operation will complete asynchronously.
        default:
          description: Error from the ElasticSan Resource Provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        VolumeGroups_Update_MaximumSet_Gen:
          $ref: ./examples/VolumeGroups_Update_MaximumSet_Gen.json
        VolumeGroups_Update_MinimumSet_Gen:
          $ref: ./examples/VolumeGroups_Update_MinimumSet_Gen.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VolumeGroupUpdate'
        description: Volume Group object.
        required: true
    delete:
      tags:
      - Volume Groups
      description: Delete an VolumeGroup.
      operationId: microsoftAzureVolumegroupsDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ElasticSanNameParameter'
      - $ref: '#/components/parameters/VolumeGroupNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK -- Delete operation completed successfully.
        '202':
          description: Accepted -- Delete request accepted; operation will complete asynchronously.
        '204':
          description: NoContent -- Resource does not exist in the subscription.
        default:
          description: Error from the ElasticSan Resource Provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        VolumeGroups_Delete_MaximumSet_Gen:
          $ref: ./examples/VolumeGroups_Delete_MaximumSet_Gen.json
        VolumeGroups_Delete_MinimumSet_Gen:
          $ref: ./examples/VolumeGroups_Delete_MinimumSet_Gen.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    get:
      tags:
      - Volume Groups
      description: Get an VolumeGroups.
      operationId: microsoftAzureVolumegroupsGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ElasticSanNameParameter'
      - $ref: '#/components/parameters/VolumeGroupNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Operation completed successfully; retrieved iSCSI Target.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeGroup'
        default:
          description: Error from the ElasticSan Resource Provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-examples:
        VolumeGroups_Get_MaximumSet_Gen:
          $ref: ./examples/VolumeGroups_Get_MaximumSet_Gen.json
        VolumeGroups_Get_MinimumSet_Gen:
          $ref: ./examples/VolumeGroups_Get_MinimumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    volumeGroupMetaData:
      description: Volume group properties
      type: object
      properties:
        groupDescription:
          type: string
          description: Group Description
          example: group description
        applicationType:
          type: string
          description: Application Type
          enum:
          - SAP-HANA
          - ORACLE
          x-ms-enum:
            name: ApplicationType
            modelAsString: true
          example: SAP-HANA
        applicationIdentifier:
          type: string
          description: Application specific identifier
          example: SH1
        globalPlacementRules:
          title: Global volume placement rules
          description: Application specific placement rules for the volume group
          type: array
          items:
            $ref: '#/components/schemas/placementKeyValuePairs'
          x-ms-identifiers:
          - key
        volumesCount:
          type: integer
          format: int64
          description: Number of volumes in volume group
          example: 5
          readOnly: true
    smbNonBrowsable:
      title: smbNonBrowsable
      type: string
      description: Enables non-browsable property for SMB Shares. Only applicable for SMB/DualProtocol volume
      enum:
      - Disabled
      - Enabled
      x-ms-enum:
        name: smbNonBrowsable
        modelAsString: true
        values:
        - value: Disabled
          description: smbNonBrowsable share setting is disabled
        - value: Enabled
          description: smbNonBrowsable share setting is enabled
      example: Enabled
    volumeGroupDetails:
      description: Volume group resource for create
      type: object
      properties:
        location:
          type: string
          description: Resource location
          x-ms-mutability:
          - read
          - create
        id:
          type: string
          readOnly: true
          description: Resource Id
        name:
          type: string
          readOnly: true
          description: Resource name
        type:
          type: string
          readOnly: true
          description: Resource type
        properties:
          description: Volume group properties
          $ref: '#/components/schemas/volumeGroupProperties'
          x-ms-client-flatten: true
    volumeGroupProperties:
      description: Volume group properties
      type: object
      properties:
        provisioningState:
          type: string
          description: Azure lifecycle management
          example: Available
          readOnly: true
        groupMetaData:
          title: groupMetaData
          description: Volume group details
          type: object
          $ref: '#/components/schemas/volumeGroupMetaData'
        volumes:
          description: List of volumes from group
          type: array
          items:
            $ref: '#/components/schemas/volumeGroupVolumeProperties'
    volumeGroupList:
      description: List of volume group resources
      type: object
      properties:
        value:
          description: List of volume Groups
          type: array
          items:
            $ref: '#/components/schemas/volumeGroup'
    placementKeyValuePairs:
      description: Application specific parameters for the placement of volumes in the volume group
      type: object
      required:
      - key
      - value
      properties:
        key:
          type: string
          description: Key for an application specific parameter for the placement of volumes in the volume group
          example: key1
        value:
          type: string
          description: Value for an application specific parameter for the placement of volumes in the volume group
          example: value1
    resourceTags:
      type: object
      additionalProperties:
        type: string
      description: Tags are a list of key-value pairs that describe the resource
    volumeGroupListProperties:
      description: Volume group properties
      type: object
      properties:
        provisioningState:
          type: string
          description: Azure lifecycle management
          example: Available
          readOnly: true
        groupMetaData:
          title: groupMetaData
          description: Volume group details
          type: object
          $ref: '#/components/schemas/volumeGroupMetaData'
    replicationObject:
      description: Replication properties
      type: object
      required:
      - remoteVolumeResourceId
      properties:
        replicationId:
          type: string
          description: Id
          readOnly: true
        endpointType:
          type: string
          description: Indicates whether the local volume is the source or destination for the Volume Replication
          enum:
          - src
          - dst
          x-ms-enum:
            name: EndpointType
            modelAsString: true
        replicationSchedule:
          type: string
          description: Schedule
          enum:
          - _10minutely
          - hourly
          - daily
          x-ms-enum:
            name: ReplicationSchedule
            modelAsString: true
        remoteVolumeResourceId:
          type: string
          description: The resource ID of the remote volume. Required for cross region and cross zone replication
          x-ms-mutability:
          - read
          - create
        remotePath:
          description: The full path to a volume that is to be migrated into ANF. Required for Migration volumes
          type: object
          $ref: '#/components/schemas/remotePath'
          x-ms-mutability:
          - read
          - create
        remoteVolumeRegion:
          type: string
          description: The remote region for the other end of the Volume Replication.
    volumeGroup:
      description: Volume group resource
      type: object
      properties:
        location:
          type: string
          description: Resource location
          x-ms-mutability:
          - read
          - create
        id:
          type: string
          readOnly: true
          description: Resource Id
        name:
          type: string
          readOnly: true
          description: Resource name
        type:
          type: string
          readOnly: true
          description: Resource type
        properties:
          description: Volume group properties
          $ref: '#/components/schemas/volumeGroupListProperties'
          x-ms-client-flatten: true
    networkFeatures:
      title: Network features
      description: Network features available to the volume, or current state of update.
      type: string
      enum:
      - Basic
      - Standard
      - Basic_Standard
      - Standard_Basic
      x-ms-enum:
        name: NetworkFeatures
        modelAsString: true
        values:
        - value: Basic
          description: Basic network features.
        - value: Standard
          description: Standard network features.
        - value: Basic_Standard
          description: Updating from Basic to Standard network features.
        - value: Standard_Basic
          description: Updating from Standard to Basic network features.
      example: Standard
      default: Basic
    volumeRelocationProperties:
      description: Volume relocation properties
      type: object
      properties:
        relocationRequested:
          type: boolean
          description: Has relocation been requested for this volume
        readyToBeFinalized:
          type: boolean
          readOnly: true
          description: Has relocation finished and is ready to be cleaned up
    remotePath:
      description: The full path to a volume that is to be migrated into ANF. Required for Migration volumes
      type: object
      required:
      - externalHostName
      - serverName
      - volumeName
      properties:
        externalHostName:
          type: string
          description: The Path to a ONTAP Host
        serverName:
          type: string
          description: The name of a server on the ONTAP Host
        volumeName:
          type: string
          description: The name of a volume on the server
    coolAccessRetrievalPolicy:
      type: string
      description: "coolAccessRetrievalPolicy determines the data retrieval behavior from the cool tier to standard storage based on the read pattern for cool access enabled volumes. The possible values for this field are: \n Default - Data will be pulled from cool tier to standard storage on random reads. This policy is the default.\n OnRead - All client-driven data read is pulled from cool tier to standard storage on both sequential and random reads.\n Never - No client-driven data is pulled from cool tier to standard storage."
      enum:
      - Default
      - OnRead
      - Never
      x-ms-enum:
        name: coolAccessRetrievalPolicy
        modelAsString: true
    mountTargetProperties:
      description: Mount target properties
      type: object
      required:
      - fileSystemId
      properties:
        mountTargetId:
          title: mountTargetId
          type: string
          readOnly: true
          description: UUID v4 used to identify the MountTarget
          pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
          maxLength: 36
          minLength: 36
          example: 9760acf5-4638-11e7-9bdb-020073ca3333
        fileSystemId:
          title: fileSystemId
          type: string
          description: UUID v4 used to identify the MountTarget
          pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
          maxLength: 36
          minLength: 36
          example: 9760acf5-4638-11e7-9bdb-020073ca3333
        ipAddress:
          title: ipAddress
          description: The mount target's IPv4 address
          type: string
          readOnly: true
          example: 1.2.3.4
        smbServerFqdn:
          title: smbServerFQDN
          description: The SMB server's Fully Qualified Domain Name, FQDN
          type: string
          example: fullyqualified.domainname.com
    volumeGroupVolumeProperties:
      description: Volume resource
      type: object
      x-ms-azure-resource: true
      required:
      - properties
      properties:
        id:
          type: string
          readOnly: true
          description: Resource Id
        name:
          type: string
          description: Resource name
        type:
          type: string
          readOnly: true
          description: Resource type
        tags:
          description: Resource tags
          $ref: '#/components/schemas/resourceTags'
        zones:
          type: array
          description: Availability Zone
          x-ms-mutability:
          - read
          - create
          items:
            type: string
            maxLength: 255
            minLength: 1
            example: '1'
        properties:
          description: Volume properties
          $ref: '#/components/schemas/volumeProperties'
          x-ms-client-flatten: true
    smbAccessBasedEnumeration:
      title: smbAccessBasedEnumeration
      type:
      - string
      - 'null'
      description: Enables access-based enumeration share property for SMB Shares. Only applicable for SMB/DualProtocol volume
      enum:
      - Disabled
      - Enabled
      x-ms-enum:
        name: smbAccessBasedEnumeration
        modelAsString: true
        values:
        - value: Disabled
          description: smbAccessBasedEnumeration share setting is disabled
        - value: Enabled
          description: smbAccessBasedEnumeration share setting is enabled
      example: Enabled
    volumeSnapshotProperties:
      description: Volume Snapshot Properties
      type: object
      properties:
        snapshotPolicyId:
          type: string
          description: Snapshot Policy ResourceId
    volumeBackupProperties:
      description: Volume Backup Properties
      type: object
      properties:
        backupPolicyId:
          type: string
          description: Backup Policy Resource ID
        policyEnforced:
          type: boolean
          description: Policy Enforced
        backupEnabled:
          type: boolean
          description: Backup Enabled
        backupVaultId:
          type: string
          description: Backup Vault Resource ID
    exportPolicyRule:
      description: Volume Export Policy Rule
      type: object
      properties:
        ruleIndex:
          type: integer
          description: Order index
          format: int32
        unixReadOnly:
          type: boolean
          description: Read only access
        unixReadWrite:
          type: boolean
          description: Read and write access
        kerberos5ReadOnly:
          type: boolean
          description: Kerberos5 Read only access. To be use with swagger version 2020-05-01 or later
          example: false
          default: false
        kerberos5ReadWrite:
          type: boolean
          description: Kerberos5 Read and write access. To be use with swagger version 2020-05-01 or later
          example: false
          default: false
        kerberos5iReadOnly:
          type: boolean
          description: Kerberos5i Read only access. To be use with swagger version 2020-05-01 or later
          example: false
          default: false
        kerberos5iReadWrite:
          type: boolean
          description: Kerberos5i Read and write access. To be use with swagger version 2020-05-01 or later
          example: false
          default: false
        kerberos5pReadOnly:
          type: boolean
          description: Kerberos5p Read only access. To be use with swagger version 2020-05-01 or later
          example: false
          default: false
        kerberos5pReadWrite:
          type: boolean
          description: Kerberos5p Read and write access. To be use with swagger version 2020-05-01 or later
          example: false
          default: false
        cifs:
          type: boolean
          description: Allows CIFS protocol
        nfsv3:
          type: boolean
          description: Allows NFSv3 protocol. Enable only for NFSv3 type volumes
        nfsv41:
          type: boolean
          description: Allows NFSv4.1 protocol. Enable only for NFSv4.1 type volumes
        allowedClients:
          type: string
          description: Client ingress specification as comma separated string with IPv4 CIDRs, IPv4 host addresses and host names
        hasRootAccess:
          type: boolean
          description: Has root access to volume
          example: true
          default: true
        chownMode:
          type: string
          description: This parameter specifies who is authorized to change the ownership of a file. restricted - Only root user can change the ownership of the file. unrestricted - Non-root users can change ownership of files that they own.
          default: Restricted
          enum:
          - Restricted
          - Unrestricted
          x-ms-enum:
            name: ChownMode
            modelAsString: true
    volumeProperties:
      description: Volume properties
      type: object
      required:
      - creationToken
      - usageThreshold
      - subnetId
      properties:
        fileSystemId:
          title: FileSystem ID
          type: string
          readOnly: true
          description: Unique FileSystem Identifier.
          pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
          maxLength: 36
          minLength: 36
          example: 9760acf5-4638-11e7-9bdb-020073ca7778
        creationToken:
          title: Creation Token or File Path
          type: string
          description: A unique file path for the volume. Used when creating mount targets
          pattern: ^[a-zA-Z][a-zA-Z0-9\-]{0,79}$
          minLength: 1
          maxLength: 80
          example: some-amazing-filepath
        serviceLevel:
          title: serviceLevel
          $ref: '#/components/schemas/serviceLevel'
        usageThreshold:
          title: usageThreshold
          type: integer
          format: int64
          description: Maximum storage quota allowed for a file system in bytes. This is a soft quota used for alerting only. Minimum size is 100 GiB. Upper limit is 100TiB, 500Tib for LargeVolume or 2400Tib for LargeVolume on exceptional basis. Specified in bytes.
          minimum: 107374182400
          maximum: 2638827906662400
          default: 107374182400
          example: 107374182400
        exportPolicy:
          title: exportPolicy
          description: Set of export policy rules
          properties:
            rules:
              title: Export policy rule
              description: Export policy rule
              type: array
              items:
                $ref: '#/components/schemas/exportPolicyRule'
              x-ms-identifiers:
              - ruleIndex
        protocolTypes:
          title: protocolTypes
          description: Set of protocol types, default NFSv3, CIFS for SMB protocol
          type: array
          items:
            type: string
          example:
          - NFSv4.1
        provisioningState:
          type: string
          readOnly: true
          description: Azure lifecycle management
        snapshotId:
          title: Snapshot ID
          type:
          - string
          - 'null'
          x-ms-mutability:
          - read
          - create
          description: UUID v4 or resource identifier used to identify the Snapshot.
          example: 9760acf5-4638-11e7-9bdb-020073ca3333
        deleteBaseSnapshot:
          type: boolean
          description: If enabled (true) the snapshot the volume was created from will be automatically deleted after the volume create operation has finished.  Defaults to false
        backupId:
          title: Backup ID
          type:
          - string
          - 'null'
          x-ms-mutability:
          - read
          - create
          description: UUID v4 or resource identifier used to identify the Backup.
          example: 9760acf5-4638-11e7-9bdb-020073ca3333
        baremetalTenantId:
          title: Baremetal Tenant ID
          type: string
          readOnly: true
          description: Unique Baremetal Tenant Identifier.
          example: 9560acf5-4e3a-12e7-9bdb-02007cca7779
        subnetId:
          type: string
          description: The Azure Resource URI for a delegated subnet. Must have the delegation Microsoft.NetApp/volumes
        networkFeatures:
          $ref: '#/components/schemas/networkFeatures'
        networkSiblingSetId:
          title: Network Sibling Set ID
          description: Network Sibling Set ID for the the group of volumes sharing networking resources.
          type: string
          readOnly: true
          pattern: ^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$
          maxLength: 36
          minLength: 36
          example: 9760acf5-4638-11e7-9bdb-020073ca3333
        storageToNetworkProximity:
          title: Storage to Network Proximity
          description: Provides storage to network proximity information for the volume.
          type: string
          enum:
          - Default
          - T1
          - T2
          - AcrossT2
          readOnly: true
          x-ms-enum:
            name: VolumeStorageToNetworkProximity
            modelAsString: true
            values:
            - value: Default
              description: Basic storage to network connectivity.
            - value: T1
              description: Standard T1 storage to network connectivity.
            - value: T2
              description: Standard T2 storage to network connectivity.
            - value: AcrossT2
              description: Standard AcrossT2 storage to network connectivity.
          example: T1
        mountTargets:
          title: mountTargets
          type: array
          readOnly: true
          description: List of mount targets
          items:
            $ref: '#/components/schemas/mountTargetProperties'
          x-ms-identifiers:
          - fileSystemId
        volumeType:
          type: string
          description: What type of volume is this. For destination volumes in Cross Region Replication, set type to DataProtection. For creating clone volume, set type to ShortTermClone
          example: DataProtection
        dataProtection:
          title: DataProtection
          description: DataProtection type volumes include an object containing details of the replication
          properties:
            backup:
              title: Backup
              description: Backup Properties
              type: object
              $ref: '#/components/schemas/volumeBackupProperties'
            replication:
              title: Replication
              description: Replication properties
              type: object
              $ref: '#/components/schemas/replicationObject'
            snapshot:
              title: Snapshot
              description: Snapshot properties.
              $ref: '#/components/schemas/volumeSnapshotProperties'
            volumeRelocation:
              title: VolumeRelocation
              description: VolumeRelocation properties
              type: object
              $ref: '#/components/schemas/volumeRelocationProperties'
        isRestoring:
          type: boolean
          description: Restoring
        snapshotDirectoryVisible:
          type: boolean
          default: true
          description: If enabled (true) the volume will contain a read-only snapshot directory which provides access to each of the volume's snapshots (defaults to true).
        kerberosEnabled:
          type: boolean
          description: Describe if a volume is KerberosEnabled. To be use with swagger version 2020-05-01 or later
          x-ms-mutability:
          - read
          - create
          example: false
          default: false
        securityStyle:
          type: string
          description: The security style of volume, default unix, defaults to ntfs for dual protocol or CIFS protocol
          default: unix
          enum:
          - ntfs
          - unix
          x-ms-enum:
            name: SecurityStyle
            modelAsString: true
        smbEncryption:
          type: boolean
          description: Enables encryption for in-flight smb3 data. Only applicable for SMB/DualProtocol volume. To be used with swagger version 2020-08-01 or later
          example: false
          default: false
        smbAccessBasedEnumeration:
          $ref: '#/components/schemas/smbAccessBasedEnumeration'
        smbNonBrowsable:
          $ref: '#/components/schemas/smbNonBrowsable'
        smbContinuouslyAvailable:
          type: boolean
          description: Enables continuously available share property for smb volume. Only applicable for SMB volume
          example: false
          default: false
        throughputMibps:
          title: Maximum throughput in MiB/s that can be achieved by this volume and this will be accepted as input only for manual qosType volume
          type:
          - number
          - 'null'
          example: 128.223
        actualThroughputMibps:
          type: number
          description: Actual throughput in MiB/s for auto qosType volumes calculated based on size and serviceLevel
          example: 164.221
          readOnly: true
        encryptionKeySource:
          description: 'Source of key used to encrypt data in volume. Applicable if NetApp account has encryption.keySource = ''Microsoft.KeyVault''. Possible values (case-insensitive) are: ''Microsoft.NetApp, Microsoft.KeyVault'''
          type: string
          enum:
          - Microsoft.NetApp
          - Microsoft.KeyVault
          x-ms-enum:
            name: EncryptionKeySource
            modelAsString: true
            values:
            - value: Microsoft.NetApp
              description: Microsoft-managed key encryption
            - value: Microsoft.KeyVault
              description: Customer-managed key encryption
          default: Microsoft.NetApp
        keyVaultPrivateEndpointResourceId:
          type: string
          description: The resource ID of private endpoint for KeyVault. It must reside in the same VNET as the volume. Only applicable if encryptionKeySource = 'Microsoft.KeyVault'.
        ldapEnabled:
          type: boolean
          description: Specifies whether LDAP is enabled or not for a given NFS volume.
          example: false
          default: false
        coolAccess:
          type: boolean
          description: Specifies whether Cool Access(tiering) is enabled for the volume.
          example: false
          default: false
        coolnessPeriod:
          type: integer
          description: Specifies the number of days after which data that is not accessed by clients will be tiered.
          example: 7
          minimum: 7
          maximum: 183
          format: int32
        coolAccessRetrievalPolicy:
          $ref: '#/components/schemas/coolAccessRetrievalPolicy'
        unixPermissions:
          type:
          - string
          - 'null'
          description: 'UNIX permissions for NFS volume accepted in octal 4 digit format. First digit selects the set user ID(4), set group ID (2) and sticky (1) attributes. Second digit selects permission for the owner of the file: read (4), write (2) and execute (1). Third selects permissions for other users in the same group. the fourth for other users not in the group. 0755 - gives read/write/execute permissions to owner and read/execute to group and other users.'
          minLength: 4
          maxLength: 4
          example: '0770'
        cloneProgress:
          description: When a volume is being restored from another volume's snapshot, will show the percentage completion of this cloning process. When this value is empty/null there is no cloning process currently happening on this volume. This value will update every 5 minutes during cloning.
          type:
          - integer
          - 'null'
          format: int32
          example: 10
          readOnly: true
        fileAccessLogs:
          type: string
          description: Flag indicating whether file access logs are enabled for the volume, based on active diagnostic settings present on the volume.
          readOnly: true
          enum:
          - Enabled
          - Disabled
          x-ms-enum:
            name: fileAccessLogs
            modelAsString: true
            values:
            - value: Enabled
              description: fileAccessLogs are enabled
            - value: Disabled
              description: fileAccessLogs are not enabled
          example: Disabled
          default: Disabled
        avsDataStore:
          title: avsDataStore
          type: string
          description: Specifies whether the volume is enabled for Azure VMware Solution (AVS) datastore purpose
          enum:
          - Enabled
          - Disabled
          x-ms-enum:
            name: avsDataStore
            modelAsString: true
            values:
            - value: Enabled
              description: avsDataStore is enabled
            - value: Disabled
              description: avsDataStore is disabled
          example: Enabled
          default: Disabled
        dataStoreResourceId:
          title: dataStoreResourceId
          description: Data store resource unique identifier
          type: array
          items:
            type: string
          readOnly: true
        isDefaultQuotaEnabled:
          type: boolean
          description: Specifies if default quota is enabled for the volume.
          example: false
          default: false
        defaultUserQuotaInKiBs:
          type: integer
          format: int64
          description: Default user quota for volume in KiBs. If isDefaultQuotaEnabled is set, the minimum value of 4 KiBs applies .
          example: 4
          default: 0
        defaultGroupQuotaInKiBs:
          type: integer
          format: int64
          description: Default group quota for volume in KiBs. If isDefaultQuotaEnabled is set, the minimum value of 4 KiBs applies.
          example: 4
          default: 0
        maximumNumberOfFiles:
          type: integer
          format: int64
          readOnly: true
          description: Maximum number of files allowed. Needs a service request in order to be changed. Only allowed to be changed if volume quota is more than 4TiB.
          example: 100000000
        volumeGroupName:
          type: string
          description: Volume Group Name
          readOnly: true
        capacityPoolResourceId:
          type: string
          description: Pool Resource Id used in case of creating a volume through volume group
        proximityPlacementGroup:
          type: string
          description: Proximity placement group associated with the volume
          example: /subscriptions/aaaaaaaa-1234-1234-1224-234567891011/resourceGroups/testGroup/providers/Microsoft.Compute/proximityPlacementGroups/testppg
        t2Network:
          type: string
          description: T2 network information
          example: Test-T2-Alias
          readOnly: true
        volumeSpecName:
          type: string
          description: Volume spec name is the application specific designation or identifier for the particular volume in a volume group for e.g. data, log
          example: Data
        encrypted:
          type: boolean
          description: Specifies if the volume is encrypted or not. Only available on volumes created or updated after 2022-01-01.
          readOnly: true
        placementRules:
          title: Volume placement rules
          description: Application specific placement rules for the particular volume
          type: array
          items:
            $ref: '#/components/schemas/placementKeyValuePairs'
          x-ms-identifiers:
          - key
        enableSubvolumes:
          type: string
          description: Flag indicating whether subvolume operations are enabled on the volume
          example: Enabled
          default: Disabled
          enum:
          - Enabled
          - Disabled
          x-ms-enum:
            name: enableSubvolumes
            modelAsString: true
            values:
            - value: Enabled
              description: subvolumes are enabled
            - value: Disabled
              description: subvolumes are not enabled
        provisionedAvailabilityZone:
          title: Provisioned Availability Zone
          type:
          - string
          - 'null'
          readOnly: true
          description: The availability zone where the volume is provisioned. This refers to the logical availability zone where the volume resides.
          example: '2'
        isLargeVolume:
          title: Is Large Volume
          type: boolean
          description: Specifies whether volume is a Large Volume or Regular Volume.
          example: false
          default: false
        originatingResourceId:
          title: Originating Resource Id
          type:
          - string
          - 'null'
          description: Id of the snapshot or backup that the volume is restored from.
          example: /subscriptions/aaaaaaaa-1234-1234-1224-234567891011/resourceGroups/testGroup/providers/Microsoft.NetApp/netAppAccounts/accountOriginatingResourceId/capacityPools/originatingResourceIdPool/volumes/theOriginalVolume/snapshots/theSnapshot
          readOnly: true
        inheritedSizeInBytes:
          title: inheritedSizeInBytes
          type:
          - integer
          - 'null'
          format: int64
          description: Space shared by short term clone volume with parent volume in bytes.
          readOnly: true
    serviceLevel:
      title: serviceLevel
      type: string
      description: The service level of the file system
      enum:
      - Standard
      - Premium
      - Ultra
      - StandardZRS
      default: Premium
      x-ms-enum:
        name: ServiceLevel
        modelAsString: true
        values:
        - value: Standard
          description: Standard service level
        - value: Premium
          description: Premium service level
        - value: Ultra
          description: Ultra service level
        - value: StandardZRS
          description: Zone redundant storage service level
    VolumeGroupUpdate:
      type: object
      description: Volume Group request.
      properties:
        properties:
          x-ms-client-flatten: true
          description: Properties of VolumeGroup.
          $ref: '#/components/schemas/VolumeGroupUpdateProperties'
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
    VirtualNetworkRule:
      type: object
      properties:
        id:
          type: string
          x-ms-client-name: VirtualNetworkResourceId
          description: 'Resource ID of a subnet, for example: /subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.Network/virtualNetworks/{vnetName}/subnets/{subnetName}.'
        action:
          type: string
          enum:
          - Allow
          x-ms-enum:
            name: Action
            modelAsString: false
          default: Allow
          description: The action of virtual network rule.
        state:
          type: string
          readOnly: true
          enum:
          - provisioning
          - deprovisioning
          - succeeded
          - failed
          - networkSourceDeleted
          x-ms-enum:
            name: State
            modelAsString: false
          description: Gets the state of virtual network rule.
      required:
      - id
      description: Virtual Network rule.
    VolumeGroupList:
      type: object
      required:
      - value
      description: List of Volume Groups
      additionalProperties: false
      properties:
        value:
          description: An array of Volume Groups objects.
          type: array
          items:
            $ref: '#/components/schemas/VolumeGroup'
        nextLink:
          description: URI to fetch the next section of the paginated response.
          type: string
          readOnly: true
    EncryptionType:
      type: string
      description: The type of key used to encrypt the data of the disk.
      enum:
      - EncryptionAtRestWithPlatformKey
      x-ms-enum:
        name: EncryptionType
        modelAsString: true
        values:
        - value: EncryptionAtRestWithPlatformKey
          description: Volume is encrypted at rest with Platform managed key. It is the default encryption type.
    ProvisioningState:
      type: string
      enum:
      - Invalid
      - Succeeded
      - Failed
      - Canceled
      - Pending
      - Creating
      - Updating
      - Deleting
      x-ms-enum:
        name: ProvisioningStates
        modelAsString: true
      description: Provisioning state of the iSCSI Target.
      readOnly: true
    NetworkRuleSet:
      type: object
      properties:
        virtualNetworkRules:
          type: array
          items:
            $ref: '#/components/schemas/VirtualNetworkRule'
          description: The list of virtual network rules.
      description: A set of rules governing the network accessibility.
    VolumeGroupProperties:
      type: object
      description: VolumeGroup response properties.
      properties:
        provisioningState:
          description: State of the operation on the resource.
          $ref: '#/components/schemas/ProvisioningState'
        protocolType:
          description: Type of storage target
          $ref: '#/components/schemas/StorageTargetType'
        encryption:
          description: Type of encryption
          $ref: '#/components/schemas/EncryptionType'
        networkAcls:
          $ref: '#/components/schemas/NetworkRuleSet'
          description: A collection of rules governing the accessibility from specific network locations.
          x-ms-mutability:
          - create
          - read
    Resource:
      type: object
      properties:
        id:
          type: string
          description: Azure resource identifier.
          readOnly: true
        name:
          type: string
          description: Azure resource name.
          readOnly: true
        type:
          type: string
          description: Azure resource type.
          readOnly: true
        tags:
          type: object
          description: Azure resource tags.
          additionalProperties:
            type: string
      description: The resource model definition.
      x-ms-azure-resource: true
    ErrorAdditionalInfo:
      description: The resource management error additional info.
      type: object
      x-ms-identifiers: []
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
    Error:
      type: object
      description: The resource management error response.
      properties:
        error:
          description: RP error response.
          $ref: '#/components/schemas/ErrorResponse'
    VolumeGroup:
      type: object
      description: Response for Volume Group request.
      properties:
        properties:
          x-ms-client-flatten: true
          description: Properties of VolumeGroup.
          $ref: '#/components/schemas/VolumeGroupProperties'
        systemData:
          description: Resource metadata required by ARM RPC
          readOnly: true
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
      allOf:
      - $ref: '#/components/schemas/Resource'
    StorageTargetType:
      type: string
      enum:
      - Iscsi
      - None
      x-ms-enum:
        name: StorageTargetType
        modelAsString: true
      description: Storage Target type.
    ErrorResponse:
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponse'
          x-ms-identifiers: []
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          x-ms-identifiers: []
          description: The error additional info.
      description: The resource management error response.
    VolumeGroupUpdateProperties:
      type: object
      description: VolumeGroup response properties.
      properties:
        protocolType:
          description: Type of storage target
          $ref: '#/components/schemas/StorageTargetType'
        encryption:
          description: Type of encryption
          $ref: '#/components/schemas/EncryptionType'
        networkAcls:
          $ref: '#/components/schemas/NetworkRuleSet'
          description: A collection of rules governing the accessibility from specific network locations.
          x-ms-mutability:
          - create
          - read
  parameters:
    VolumeGroupName:
      name: volumeGroupName
      in: path
      required: true
      description: The name of the volumeGroup
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 1
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9\-_]{0,63}$
    AccountName:
      name: accountName
      in: path
      required: true
      description: The name of the NetApp account
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9\-_]{0,127}$
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
        pattern: ^[-\w\._]*[0-9A-Za-z]$
    VolumeGroupNameParameter:
      name: volumeGroupName
      required: true
      in: path
      description: The name of the VolumeGroup.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 63
        minLength: 3
        pattern: ^[A-Za-z0-9]+((-|_)[a-z0-9A-Z]+)*$
    ElasticSanNameParameter:
      name: elasticSanName
      in: path
      required: true
      description: The name of the ElasticSan.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 24
        minLength: 3
        pattern: ^[A-Za-z0-9]+((-|_)[a-z0-9A-Z]+)*$
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
