openapi: 3.2.0
info:
  title: Microsoft Azure BatchManagementClient Certificate API
  description: The Batch Management Client.
  version: '2024-02-01'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Certificate
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/certificates
  : get:
      tags:
      - Certificate
      deprecated: true
      operationId: microsoftAzureCertificateListbybatchaccount
      summary: Microsoft Azure Lists All Of The Certificates In The Specified Account
      description: 'Warning: This operation is deprecated and will be removed after February, 2024. Please use the Azure KeyVault Extension instead.'
      x-ms-examples:
        ListCertificates:
          $ref: ./examples/CertificateList.json
        ListCertificates - Filter and Select:
          $ref: ./examples/CertificateListWithFilter.json
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - name: maxresults
        in: query
        required: false
        description: The maximum number of items to return in the response.
        schema:
          type: integer
          format: int32
      - name: $select
        in: query
        required: false
        description: Comma separated list of properties that should be returned. e.g. "properties/provisioningState". Only top level properties under properties/ are valid for selection.
        schema:
          type: string
      - name: $filter
        in: query
        required: false
        description: OData filter expression. Valid properties for filtering are "properties/provisioningState", "properties/provisioningStateTransitionTime", "name".
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The operation was successful. The response contains a list of certificates associated with the account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCertificatesResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/certificates/{certificateName}
  : put:
      tags:
      - Certificate
      deprecated: true
      operationId: microsoftAzureCertificateCreate
      summary: Microsoft Azure Creates A New Certificate Inside The Specified Account
      description: 'Warning: This operation is deprecated and will be removed after February, 2024. Please use the Azure KeyVault Extension instead.'
      x-ms-examples:
        CreateCertificate - Minimal Pfx:
          $ref: ./examples/CertificateCreate_Minimal.json
        CreateCertificate - Minimal Cer:
          $ref: ./examples/CertificateCreate_MinimalCer.json
        CreateCertificate - Full:
          $ref: ./examples/CertificateCreate_Full.json
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/CertificateNameParameter'
      - name: If-Match
        in: header
        required: false
        description: The entity state (ETag) version of the certificate to update. A value of "*" can be used to apply the operation only if the certificate already exists. If omitted, this operation will always be applied.
        schema:
          type: string
      - name: If-None-Match
        in: header
        required: false
        description: Set to '*' to allow a new certificate to be created, but to prevent updating an existing certificate. Other values will be ignored.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The operation was successful. The response contains the certificate entity.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateCreateOrUpdateParameters'
        description: Additional parameters for certificate creation.
        required: true
    patch:
      tags:
      - Certificate
      deprecated: true
      operationId: microsoftAzureCertificateUpdate
      summary: Microsoft Azure Updates The Properties Of An Existing Certificate
      description: 'Warning: This operation is deprecated and will be removed after February, 2024. Please use the Azure KeyVault Extension instead.'
      x-ms-examples:
        UpdateCertificate:
          $ref: ./examples/CertificateUpdate.json
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/CertificateNameParameter'
      - name: If-Match
        in: header
        required: false
        description: The entity state (ETag) version of the certificate to update. This value can be omitted or set to "*" to apply the operation unconditionally.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The operation was successful. The response contains the certificate entity.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateCreateOrUpdateParameters'
        description: Certificate entity to update.
        required: true
    delete:
      tags:
      - Certificate
      deprecated: true
      operationId: microsoftAzureCertificateDelete
      summary: Microsoft Azure Deletes The Specified Certificate
      description: 'Warning: This operation is deprecated and will be removed after February, 2024. Please use the Azure KeyVault Extension instead.'
      x-ms-examples:
        CertificateDelete:
          $ref: ./examples/CertificateDelete.json
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/CertificateNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The operation was successful.
        '202':
          description: The operation will be completed asynchronously.
          headers:
            Location:
              description: The URL of the resource used to check the status of the asynchronous operation.
              schema:
                type: string
            Retry-After:
              description: Suggested delay to check the status of the asynchronous operation. The value is an integer that represents the seconds.
              schema:
                type: integer
                format: int32
        '204':
          description: The operation was successful.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      tags:
      - Certificate
      deprecated: true
      operationId: microsoftAzureCertificateGet
      summary: Microsoft Azure Gets Information About The Specified Certificate
      description: 'Warning: This operation is deprecated and will be removed after February, 2024. Please use the Azure KeyVault Extension instead.'
      x-ms-examples:
        Get Certificate:
          $ref: ./examples/CertificateGet.json
        Get Certificate with Deletion Error:
          $ref: ./examples/CertificateGetWithDeletionError.json
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/CertificateNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The operation was successful. The response contains the certificate entity.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/certificates/{certificateName}/cancelDelete
  : post:
      tags:
      - Certificate
      deprecated: true
      operationId: microsoftAzureCertificateCanceldeletion
      summary: Microsoft Azure Cancels A Failed Deletion Of A Certificate From The Specified…
      description: 'If you try to delete a certificate that is being used by a pool or compute node, the status of the certificate changes to deleteFailed. If you decide that you want to continue using the certificate, you can use this operation to set the status of the certificate back to active. If you intend to delete the certificate, you do not need to run this operation after the deletion failed. You must make sure that the certificate is not being used by any resources, and then you can try again to delete the certificate.


        Warning: This operation is deprecated and will be removed after February, 2024. Please use the Azure KeyVault Extension instead.'
      x-ms-examples:
        CertificateCancelDeletion:
          $ref: ./examples/CertificateCancelDeletion.json
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/CertificateNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The operation was successful. The response contains the certificate entity.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
components:
  schemas:
    CertificateProperties:
      type: object
      properties:
        provisioningState:
          type: string
          readOnly: true
          title: The provisioned state of the resource
          enum:
          - Succeeded
          - Deleting
          - Failed
          x-ms-enum:
            name: CertificateProvisioningState
            modelAsString: false
            values:
            - value: Succeeded
              description: The certificate is available for use in pools.
            - value: Deleting
              description: The user has requested that the certificate be deleted, but the delete operation has not yet completed. You may not reference the certificate when creating or updating pools.
            - value: Failed
              description: The user requested that the certificate be deleted, but there are pools that still have references to the certificate, or it is still installed on one or more compute nodes. (The latter can occur if the certificate has been removed from the pool, but the node has not yet restarted. Nodes refresh their certificates only when they restart.) You may use the cancel certificate delete operation to cancel the delete, or the delete certificate operation to retry the delete.
        provisioningStateTransitionTime:
          type: string
          format: date-time
          title: The time at which the certificate entered its current state.
          readOnly: true
        previousProvisioningState:
          type: string
          readOnly: true
          description: The previous provisioned state of the resource
          enum:
          - Succeeded
          - Deleting
          - Failed
          x-ms-enum:
            name: CertificateProvisioningState
            modelAsString: false
            values:
            - value: Succeeded
              description: The certificate is available for use in pools.
            - value: Deleting
              description: The user has requested that the certificate be deleted, but the delete operation has not yet completed. You may not reference the certificate when creating or updating pools.
            - value: Failed
              description: The user requested that the certificate be deleted, but there are pools that still have references to the certificate, or it is still installed on one or more compute nodes. (The latter can occur if the certificate has been removed from the pool, but the node has not yet restarted. Nodes refresh their certificates only when they restart.) You may use the cancel certificate delete operation to cancel the delete, or the delete certificate operation to retry the delete.
        previousProvisioningStateTransitionTime:
          type: string
          format: date-time
          title: The time at which the certificate entered its previous state.
          readOnly: true
        publicData:
          type: string
          readOnly: true
          description: The public key of the certificate.
        deleteCertificateError:
          readOnly: true
          $ref: '#/components/schemas/DeleteCertificateError'
          title: The error which occurred while deleting the certificate
          description: This is only returned when the certificate provisioningState is 'Failed'.
      allOf:
      - $ref: '#/components/schemas/CertificateBaseProperties'
      description: Certificate properties.
    DeleteCertificateError:
      type: object
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of the property in error.
        details:
          type: array
          items:
            $ref: '#/components/schemas/DeleteCertificateError'
          x-ms-identifiers:
          - code
          description: A list of additional details about the error.
      required:
      - code
      - message
      description: An error response from the Batch service.
    CloudError:
      type: object
      x-ms-external: true
      properties:
        error:
          description: The body of the error response.
          $ref: '#/components/schemas/CloudErrorBody'
      description: An error response from the Batch service.
    ProxyResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: The ID of the resource.
        name:
          readOnly: true
          type: string
          description: The name of the resource.
        type:
          readOnly: true
          type: string
          description: The type of the resource.
        etag:
          readOnly: true
          type: string
          description: The ETag of the resource, used for concurrency statements.
      description: A definition of an Azure resource.
      x-ms-azure-resource: true
    ListCertificatesResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Certificate'
          description: The collection of returned certificates.
        nextLink:
          type: string
          description: The continuation token.
      description: Values returned by the List operation.
    CertificateCreateOrUpdateProperties:
      type: object
      allOf:
      - $ref: '#/components/schemas/CertificateBaseProperties'
      properties:
        data:
          type: string
          title: The base64-encoded contents of the certificate.
          description: The maximum size is 10KB.
          x-ms-mutability:
          - read
          - update
        password:
          type: string
          title: The password to access the certificate's private key.
          description: This must not be specified if the certificate format is Cer.
          x-ms-secret: true
      description: Certificate properties for create operations
      required:
      - data
    Certificate:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/CertificateProperties'
          description: The properties associated with the certificate.
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: Contains information about a certificate.
    CloudErrorBody:
      type: object
      x-ms-external: true
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of the property in error.
        details:
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          x-ms-identifiers:
          - message
          - target
          description: A list of additional details about the error.
      description: An error response from the Batch service.
    CertificateBaseProperties:
      description: Base certificate properties.
      type: object
      properties:
        thumbprintAlgorithm:
          type: string
          title: The algorithm of the certificate thumbprint.
          description: This must match the first portion of the certificate name. Currently required to be 'SHA1'.
        thumbprint:
          type: string
          title: The thumbprint of the certificate.
          description: This must match the thumbprint from the name.
        format:
          type: string
          description: The format of the certificate - either Pfx or Cer. If omitted, the default is Pfx.
          enum:
          - Pfx
          - Cer
          x-ms-enum:
            name: CertificateFormat
            modelAsString: false
            values:
            - value: Pfx
              description: The certificate is a PFX (PKCS#12) formatted certificate or certificate chain.
            - value: Cer
              description: The certificate is a base64-encoded X.509 certificate.
    CertificateCreateOrUpdateParameters:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/CertificateCreateOrUpdateProperties'
          description: The properties associated with the certificate.
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: Contains information about a certificate.
  parameters:
    CertificateNameParameter:
      name: certificateName
      in: path
      required: true
      description: The identifier for the certificate. This must be made up of algorithm and thumbprint separated by a dash, and must match the certificate data in the request. For example SHA1-a3d1c5.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 45
        minLength: 5
        pattern: ^[\w]+-[\w]+$
    AccountNameParameter:
      name: accountName
      in: path
      required: true
      description: The name of the Batch account.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 24
        minLength: 3
        pattern: ^[a-zA-Z0-9]+$
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group that contains the Batch account.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to be used with the HTTP request.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Microsoft Entra OAuth 2.0 auth code flow
