openapi: 3.2.0
info:
  title: Microsoft Azure SearchManagementClient Query Keys API
  description: Client that can be used to manage Azure Cognitive Search services and API keys.
  version: 2021-04-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: QueryKeys
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/createQueryKey/{name}
  : post:
      tags:
      - QueryKeys
      operationId: microsoftAzureQuerykeysCreate
      x-ms-examples:
        SearchCreateQueryKey:
          $ref: ./examples/SearchCreateQueryKey.json
      description: Generates a new query key for the specified search service. You can create up to 50 query keys per service.
      externalDocs:
        url: https://aka.ms/search-manage
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/SearchServiceNameParameter'
      - name: name
        in: path
        required: true
        description: The name of the new query API key.
        schema:
          type: string
      - $ref: '#/components/parameters/ClientRequestIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The query key was successfully created and is in the response. You can use the query key as the value of the 'api-key' parameter in the Azure Cognitive Search Service REST API or SDK to perform read-only operations on your Search indexes such as querying and looking up documents by ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryKey'
        default:
          description: 'HTTP 404 (Not Found): The subscription, resource group, or search service could not be found. HTTP 409 (Conflict): The specified subscription is disabled.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/listQueryKeys
  : post:
      tags:
      - QueryKeys
      x-ms-pageable:
        nextLinkName: nextLink
      operationId: microsoftAzureQuerykeysListbysearchservice
      x-ms-examples:
        SearchListQueryKeysBySearchService:
          $ref: ./examples/SearchListQueryKeysBySearchService.json
      description: Returns the list of query API keys for the given Azure Cognitive Search service.
      externalDocs:
        url: https://aka.ms/search-manage
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/SearchServiceNameParameter'
      - $ref: '#/components/parameters/ClientRequestIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: All query keys for the given search service were successfully retrieved and are in the response. You can use any of the query keys as the value of the 'api-key' parameter in the Azure Cognitive Search Service REST API or SDK to perform read-only operations on your Search indexes such as querying and looking up documents by ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListQueryKeysResult'
        default:
          description: 'HTTP 404 (Not Found): The subscription, resource group, or search service could not be found. HTTP 409 (Conflict): The specified subscription is disabled.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/deleteQueryKey/{key}
  : delete:
      tags:
      - QueryKeys
      operationId: microsoftAzureQuerykeysDelete
      x-ms-examples:
        SearchDeleteQueryKey:
          $ref: ./examples/SearchDeleteQueryKey.json
      description: Deletes the specified query key. Unlike admin keys, query keys are not regenerated. The process for regenerating a query key is to delete and then recreate it.
      externalDocs:
        url: https://aka.ms/search-manage
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/SearchServiceNameParameter'
      - name: key
        in: path
        required: true
        description: The query key to be deleted. Query keys are identified by value, not by name.
        schema:
          type: string
      - $ref: '#/components/parameters/ClientRequestIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The query key was successfully deleted.
        '204':
          description: The query key was successfully deleted.
        '404':
          description: The subscription, resource group, search service, or query key could not be found.
        default:
          description: 'HTTP 409 (Conflict): The specified subscription is disabled.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    CloudError:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: Describes a particular API error with an error code and a message.
        message:
          type: string
          description: A brief description of the error that hints at what went wrong (for details/debugging information refer to the 'error.message' property).
      description: Contains information about an API error.
      x-ms-external: true
    CloudErrorBody:
      type: object
      description: Describes a particular API error with an error code and a message.
      properties:
        code:
          type: string
          description: An error code that describes the error condition more precisely than an HTTP status code. Can be used to programmatically handle specific error cases.
        message:
          type: string
          description: A message that describes the error in detail and provides debugging information.
        target:
          type: string
          description: The target of the particular error (for example, the name of the property in error).
        details:
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          description: Contains nested errors that are related to this error.
      x-ms-external: true
    ListQueryKeysResult:
      properties:
        value:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/QueryKey'
          description: The query keys for the Azure Cognitive Search service.
        nextLink:
          readOnly: true
          type: string
          description: Request URL that can be used to query next page of query keys. Returned when the total number of requested query keys exceed maximum page size.
      description: Response containing the query API keys for a given Azure Cognitive Search service.
      x-ms-external: true
    QueryKey:
      properties:
        name:
          readOnly: true
          type: string
          description: The name of the query API key; may be empty.
        key:
          readOnly: true
          type: string
          description: The value of the query API key.
      description: Describes an API key for a given Azure Cognitive Search service that has permissions for query operations only.
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group within the current subscription. You can obtain this value from the Azure Resource Manager API or the portal.
      x-ms-parameter-location: method
      schema:
        type: string
    ClientRequestIdParameter:
      name: x-ms-client-request-id
      x-ms-client-name: clientRequestId
      in: header
      required: false
      description: A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.
      x-ms-client-request-id: true
      x-ms-parameter-grouping:
        name: search-management-request-options
      x-ms-parameter-location: method
      schema:
        type: string
        format: uuid
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for each request.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The unique identifier for a Microsoft Azure subscription. You can obtain this value from the Azure Resource Manager API or the portal.
      schema:
        type: string
    SearchServiceNameParameter:
      name: searchServiceName
      in: path
      required: true
      description: The name of the Azure Cognitive Search service associated with the specified resource group.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
