openapi: 3.2.0
info:
  title: Microsoft Azure Azure Site Recovery Management Service…
  description: A first party Azure service enabling the data replication.
  version: 2021-02-16-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Email Configuration
  description: Email configuration Controller.
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/alertSettings/{emailConfigurationName}
  : get:
      tags:
      - Email Configuration
      summary: Microsoft Azure Gets The Email Configuration Setting
      description: Gets the details of the alert configuration setting.
      operationId: microsoftAzureEmailconfigurationGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/VaultNameParameter'
      - $ref: '#/components/parameters/EmailConfigurationNameParameter'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Returns EmailConfiguration Model on success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailConfigurationModel'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        EmailConfiguration_Get:
          $ref: ./examples/EmailConfiguration_Get.json
    put:
      tags:
      - Email Configuration
      summary: Microsoft Azure Creates Email Configuration Settings
      description: Creates an alert configuration setting for the given vault.
      operationId: microsoftAzureEmailconfigurationCreate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/VaultNameParameter'
      - $ref: '#/components/parameters/EmailConfigurationNameParameter'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailConfigurationModel'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailConfigurationModel'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        EmailConfiguration_Create:
          $ref: ./examples/EmailConfiguration_Create.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailConfigurationModel'
        description: EmailConfiguration model.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/alertSettings
  : get:
      tags:
      - Email Configuration
      summary: Microsoft Azure Lists The Email Configuration Settings
      description: Gets the list of alert configuration settings for the given vault.
      operationId: microsoftAzureEmailconfigurationList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/VaultNameParameter'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Returns EmailConfiguration Model Collection on success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailConfigurationModelCollection'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        EmailConfiguration_List:
          $ref: ./examples/EmailConfiguration_List.json
components:
  schemas:
    EmailConfigurationModel:
      description: Email configuration model.
      required:
      - properties
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/EmailConfigurationModelProperties'
        id:
          description: Gets or sets the Id of the resource.
          type: string
          readOnly: true
        name:
          description: Gets or sets the name of the resource.
          type: string
          readOnly: true
        type:
          description: Gets or sets the type of the resource.
          type: string
          readOnly: true
        systemData:
          allOf:
          - $ref: '#/components/schemas/SystemDataModel'
          readOnly: true
      x-ms-azure-resource: true
    EmailConfigurationModelProperties:
      description: Email configuration model properties.
      required:
      - sendToOwners
      type: object
      properties:
        sendToOwners:
          description: Gets or sets a value indicating whether to send email to subscription administrator.
          type: boolean
        customEmailAddresses:
          description: Gets or sets the custom email address for sending emails.
          type: array
          items:
            type: string
        locale:
          description: Gets or sets the locale for the email notification.
          type: string
    EmailConfigurationModelCollection:
      description: Email configuration model collection.
      type: object
      properties:
        value:
          description: Gets or sets the list of email configurations.
          type: array
          items:
            $ref: '#/components/schemas/EmailConfigurationModel'
          x-ms-identifiers: []
        nextLink:
          description: Gets or sets the value of next link.
          type: string
    SystemDataModel:
      description: System data required to be defined for Azure resources.
      type: object
      properties:
        createdBy:
          description: Gets or sets identity that created the resource.
          type: string
        createdByType:
          description: 'Gets or sets the type of identity that created the resource: user, application,

            managedIdentity.'
          type: string
        createdAt:
          format: date-time
          description: Gets or sets the timestamp of resource creation (UTC).
          type: string
        lastModifiedBy:
          description: Gets or sets the identity that last modified the resource.
          type: string
        lastModifiedByType:
          description: 'Gets or sets the type of identity that last modified the resource: user, application,

            managedIdentity.'
          type: string
        lastModifiedAt:
          format: date-time
          description: Gets or sets the timestamp of resource last modification (UTC).
          type: string
  parameters:
    EmailConfigurationNameParameter:
      in: path
      name: emailConfigurationName
      description: The email configuration name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9]*$
    VaultNameParameter:
      in: path
      name: vaultName
      description: The vault name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9]*$
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
