openapi: 3.2.0
info:
  title: Microsoft Azure GraphRbacManagementClient Deleted…
  version: '1.6'
  description: The Graph RBAC Management Client
servers:
- url: https://graph.windows.net
security:
- azure_auth:
  - user_impersonation
tags:
- name: deletedApplications
paths:
  /{tenantID}/deletedApplications/{objectId}/restore:
    post:
      tags:
      - deletedApplications
      operationId: microsoftAzureDeletedapplicationsRestore
      description: Restores the deleted application in the directory.
      parameters:
      - name: objectId
        in: path
        required: true
        description: Application object ID.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: The application was restored successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
            text/json:
              schema:
                $ref: '#/components/schemas/Application'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
      summary: Microsoft Azure Post Tenantid Deletedapplications Objectid Restore
  /{tenantID}/deletedApplications:
    get:
      tags:
      - deletedApplications
      operationId: microsoftAzureDeletedapplicationsList
      description: Gets a list of deleted applications in the directory.
      parameters:
      - name: $filter
        in: query
        required: false
        description: The filter to apply to the operation.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: The applications were retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ApplicationListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: DeletedApplications_ListNext
      summary: Microsoft Azure Get Tenantid Deletedapplications
components:
  schemas:
    GroupMembershipClaims:
      type: string
      description: Configures the groups claim issued in a user or OAuth 2.0 access token that the app expects.
      enum:
      - None
      - SecurityGroup
      - All
      x-ms-enum:
        name: GroupMembershipClaimTypes
        modelAsString: true
    OdataError:
      type: object
      properties:
        code:
          type: string
          description: Error code.
        message:
          type: object
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ErrorMessage'
          description: Error Message.
      description: Active Directory OData error information.
    Application:
      type: object
      allOf:
      - $ref: '#/components/schemas/DirectoryObject'
      properties:
        appId:
          type: string
          description: The application ID.
        allowGuestsSignIn:
          description: A property on the application to indicate if the application accepts other IDPs or not or partially accepts.
          type: boolean
        allowPassthroughUsers:
          description: Indicates that the application supports pass through users who have no presence in the resource tenant.
          type: boolean
        appLogoUrl:
          description: The url for the application logo image stored in a CDN.
          type: string
        appRoles:
          type: array
          items:
            $ref: '#/components/schemas/AppRole'
          description: The collection of application roles that an application may declare. These roles can be assigned to users, groups or service principals.
        appPermissions:
          type: array
          items:
            type: string
          description: The application permissions.
        availableToOtherTenants:
          type: boolean
          description: Whether the application is available to other tenants.
        displayName:
          type: string
          description: The display name of the application.
        errorUrl:
          description: A URL provided by the author of the application to report errors when using the application.
          type: string
        groupMembershipClaims:
          $ref: '#/components/schemas/GroupMembershipClaims'
          description: Configures the groups claim issued in a user or OAuth 2.0 access token that the app expects.
        homepage:
          type: string
          description: The home page of the application.
        identifierUris:
          type: array
          items:
            type: string
          description: A collection of URIs for the application.
        informationalUrls:
          $ref: '#/components/schemas/InformationalUrl'
          description: URLs with more information about the application.
        isDeviceOnlyAuthSupported:
          description: Specifies whether this application supports device authentication without a user. The default is false.
          type: boolean
        keyCredentials:
          type: array
          items:
            $ref: '#/components/schemas/KeyCredential'
          description: A collection of KeyCredential objects.
        knownClientApplications:
          description: Client applications that are tied to this resource application. Consent to any of the known client applications will result in implicit consent to the resource application through a combined consent dialog (showing the OAuth permission scopes required by the client and the resource).
          type: array
          items:
            type: string
        logoutUrl:
          type: string
          description: the url of the logout page
        oauth2AllowImplicitFlow:
          type: boolean
          description: Whether to allow implicit grant flow for OAuth2
        oauth2AllowUrlPathMatching:
          description: Specifies whether during a token Request Azure AD will allow path matching of the redirect URI against the applications collection of replyURLs. The default is false.
          type: boolean
        oauth2Permissions:
          description: The collection of OAuth 2.0 permission scopes that the web API (resource) application exposes to client applications. These permission scopes may be granted to client applications during consent.
          type: array
          items:
            $ref: '#/components/schemas/OAuth2Permission'
        oauth2RequirePostResponse:
          description: Specifies whether, as part of OAuth 2.0 token requests, Azure AD will allow POST requests, as opposed to GET requests. The default is false, which specifies that only GET requests will be allowed.
          type: boolean
        orgRestrictions:
          description: A list of tenants allowed to access application.
          type: array
          items:
            type: string
        optionalClaims:
          $ref: '#/components/schemas/OptionalClaims'
        passwordCredentials:
          type: array
          items:
            $ref: '#/components/schemas/PasswordCredential'
          description: A collection of PasswordCredential objects
        preAuthorizedApplications:
          type: array
          items:
            $ref: '#/components/schemas/PreAuthorizedApplication'
          description: list of pre-authorized applications.
        publicClient:
          description: Specifies whether this application is a public client (such as an installed application running on a mobile device). Default is false.
          type: boolean
        publisherDomain:
          description: Reliable domain which can be used to identify an application.
          type: string
        replyUrls:
          type: array
          items:
            type: string
          description: A collection of reply URLs for the application.
        requiredResourceAccess:
          type: array
          items:
            $ref: '#/components/schemas/RequiredResourceAccess'
          description: Specifies resources that this application requires access to and the set of OAuth permission scopes and application roles that it needs under each of those resources. This pre-configuration of required resource access drives the consent experience.
        samlMetadataUrl:
          description: The URL to the SAML metadata for the application.
          type: string
        signInAudience:
          description: Audience for signing in to the application (AzureADMyOrganization, AzureADAllOrganizations, AzureADAndMicrosoftAccounts).
          type: string
        wwwHomepage:
          description: The primary Web page.
          type: string
      description: Active Directory application information.
    ErrorMessage:
      type: object
      properties:
        value:
          type: string
          x-ms-client-name: message
          description: Error message value.
      description: Active Directory error message.
    GraphError:
      type: object
      properties:
        odata.error:
          type: object
          x-ms-client-flatten: true
          $ref: '#/components/schemas/OdataError'
          description: A Graph API error.
      description: Active Directory error information.
    AppRole:
      type: object
      properties:
        id:
          type: string
          description: Unique role identifier inside the appRoles collection.
        allowedMemberTypes:
          type: array
          items:
            type: string
          description: 'Specifies whether this app role definition can be assigned to users and groups by setting to ''User'', or to other applications (that are accessing this application in daemon service scenarios) by setting to ''Application'', or to both. '
        description:
          type: string
          description: Permission help text that appears in the admin app assignment and consent experiences.
        displayName:
          type: string
          description: Display name for the permission that appears in the admin consent and app assignment experiences.
        isEnabled:
          type: boolean
          description: When creating or updating a role definition, this must be set to true (which is the default). To delete a role, this must first be set to false. At that point, in a subsequent call, this role may be removed.
        value:
          type: string
          description: Specifies the value of the roles claim that the application should expect in the authentication and access tokens.
    OptionalClaim:
      type: object
      description: Specifying the claims to be included in a token.
      properties:
        name:
          description: Claim name.
          type: string
        source:
          description: Claim source.
          type: string
        essential:
          description: Is this a required claim.
          type: boolean
        additionalProperties:
          type: object
    PreAuthorizedApplication:
      type: object
      description: Contains information about pre authorized client application.
      properties:
        appId:
          description: Represents the application id.
          type: string
        permissions:
          description: Collection of required app permissions/entitlements from the resource application.
          type: array
          items:
            $ref: '#/components/schemas/PreAuthorizedApplicationPermission'
        extensions:
          description: Collection of extensions from the resource application.
          type: array
          items:
            $ref: '#/components/schemas/PreAuthorizedApplicationExtension'
    PreAuthorizedApplicationExtension:
      type: object
      description: Representation of an app PreAuthorizedApplicationExtension required by a pre authorized client app.
      properties:
        conditions:
          description: The extension's conditions.
          type: array
          items:
            type: string
    RequiredResourceAccess:
      type: object
      properties:
        resourceAccess:
          type: array
          items:
            $ref: '#/components/schemas/ResourceAccess'
          description: The list of OAuth2.0 permission scopes and app roles that the application requires from the specified resource.
        resourceAppId:
          type: string
          description: The unique identifier for the resource that the application requires access to. This should be equal to the appId declared on the target resource application.
      additionalProperties:
        type: object
      required:
      - resourceAccess
      description: Specifies the set of OAuth 2.0 permission scopes and app roles under the specified resource that an application requires access to. The specified OAuth 2.0 permission scopes may be requested by client applications (through the requiredResourceAccess collection) when calling a resource application. The requiredResourceAccess property of the Application entity is a collection of RequiredResourceAccess.
    OptionalClaims:
      type: object
      description: Specifying the claims to be included in the token.
      properties:
        idToken:
          description: Optional claims requested to be included in the id token.
          type: array
          items:
            $ref: '#/components/schemas/OptionalClaim'
        accessToken:
          description: Optional claims requested to be included in the access token.
          type: array
          items:
            $ref: '#/components/schemas/OptionalClaim'
        samlToken:
          description: Optional claims requested to be included in the saml token.
          type: array
          items:
            $ref: '#/components/schemas/OptionalClaim'
    PasswordCredential:
      type: object
      properties:
        startDate:
          type: string
          format: date-time
          description: Start date.
        endDate:
          type: string
          format: date-time
          description: End date.
        keyId:
          type: string
          description: Key ID.
        value:
          type: string
          description: Key value.
        customKeyIdentifier:
          type: string
          format: byte
          description: Custom Key Identifier
      additionalProperties:
        type: object
      description: Active Directory Password Credential information.
    ApplicationListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Application'
          description: A collection of applications.
        odata.nextLink:
          type: string
          description: The URL to get the next set of results.
      description: Application list operation result.
    OAuth2Permission:
      type: object
      description: Represents an OAuth 2.0 delegated permission scope. The specified OAuth 2.0 delegated permission scopes may be requested by client applications (through the requiredResourceAccess collection on the Application object) when calling a resource application. The oauth2Permissions property of the ServicePrincipal entity and of the Application entity is a collection of OAuth2Permission.
      properties:
        adminConsentDescription:
          description: Permission help text that appears in the admin consent and app assignment experiences.
          type: string
        adminConsentDisplayName:
          description: Display name for the permission that appears in the admin consent and app assignment experiences.
          type: string
        id:
          description: Unique scope permission identifier inside the oauth2Permissions collection.
          type: string
        isEnabled:
          description: 'When creating or updating a permission, this property must be set to true (which is the default). To delete a permission, this property must first be set to false. At that point, in a subsequent call, the permission may be removed. '
          type: boolean
        type:
          description: Specifies whether this scope permission can be consented to by an end user, or whether it is a tenant-wide permission that must be consented to by a Company Administrator. Possible values are "User" or "Admin".
          type: string
        userConsentDescription:
          description: Permission help text that appears in the end user consent experience.
          type: string
        userConsentDisplayName:
          description: Display name for the permission that appears in the end user consent experience.
          type: string
        value:
          description: The value of the scope claim that the resource application should expect in the OAuth 2.0 access token.
          type: string
    PreAuthorizedApplicationPermission:
      type: object
      description: Contains information about the pre-authorized permissions.
      properties:
        directAccessGrant:
          description: Indicates whether the permission set is DirectAccess or impersonation.
          type: boolean
        accessGrants:
          description: The list of permissions.
          type: array
          items:
            type: string
    InformationalUrl:
      type: object
      description: Represents a group of URIs that provide terms of service, marketing, support and privacy policy information about an application. The default value for each string is null.
      properties:
        termsOfService:
          description: The terms of service URI
          type: string
        marketing:
          description: The marketing URI
          type: string
        privacy:
          description: The privacy policy URI
          type: string
        support:
          description: The support URI
          type: string
    KeyCredential:
      type: object
      properties:
        startDate:
          type: string
          format: date-time
          description: Start date.
        endDate:
          type: string
          format: date-time
          description: End date.
        value:
          type: string
          description: Key value.
        keyId:
          type: string
          description: Key ID.
        usage:
          type: string
          description: Usage. Acceptable values are 'Verify' and 'Sign'.
        type:
          type: string
          description: Type. Acceptable values are 'AsymmetricX509Cert' and 'Symmetric'.
        customKeyIdentifier:
          type: string
          description: Custom Key Identifier
      additionalProperties:
        type: object
      description: Active Directory Key Credential information.
    DirectoryObject:
      type: object
      discriminator:
        propertyName: objectType
      properties:
        objectId:
          type: string
          description: The object ID.
          readOnly: true
        objectType:
          type: string
          description: The object type.
        deletionTimestamp:
          type:
          - string
          - 'null'
          format: date-time
          description: The time at which the directory object was deleted.
          readOnly: true
      required:
      - objectType
      additionalProperties:
        type: object
      description: Represents an Azure Active Directory object.
    ResourceAccess:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for one of the OAuth2Permission or AppRole instances that the resource application exposes.
        type:
          type: string
          description: Specifies whether the id property references an OAuth2Permission or an AppRole. Possible values are "scope" or "role".
      additionalProperties:
        type: object
      required:
      - id
      description: Specifies an OAuth 2.0 permission scope or an app role that an application requires. The resourceAccess property of the RequiredResourceAccess type is a collection of ResourceAccess.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
    tenantIDInPath:
      name: tenantID
      in: path
      required: true
      description: The tenant ID.
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-ms-paths:
  /{tenantID}/{nextLink}?OAuth2PermissionGrant_ListNext:
    get:
      tags:
      - OAuth2PermissionGrant_ListNext
      operationId: OAuth2PermissionGrant_ListNext
      description: Gets the next page of OAuth2 permission grants
      parameters:
      - name: nextLink
        in: path
        required: true
        type: string
        description: Next link for the list operation.
        x-ms-skip-url-encoding: true
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/components/schemas/OAuth2PermissionGrantListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: OAuth2PermissionGrant_ListNext
  /{tenantID}/{nextLink}?SignedInUser_ListOwnedObjectsNext:
    get:
      tags:
      - SignedInUser
      operationId: SignedInUser_ListOwnedObjectsNext
      description: Get the list of directory objects that are owned by the user.
      parameters:
      - name: nextLink
        in: path
        required: true
        type: string
        description: Next link for the list operation.
        x-ms-skip-url-encoding: true
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/components/schemas/DirectoryObjectListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: SignedInUser_ListOwnedObjectsNext
  /{tenantID}/{nextLink}?Groups_ListNext:
    get:
      tags:
      - Group
      operationId: Groups_ListNext
      description: Gets a list of groups for the current tenant.
      parameters:
      - name: nextLink
        in: path
        required: true
        type: string
        description: Next link for the list operation.
        x-ms-skip-url-encoding: true
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/components/schemas/GroupListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: Groups_ListNext
  /{tenantID}/{nextLink}?Groups_GetGroupMembersNext:
    get:
      tags:
      - Group
      operationId: Groups_GetGroupMembersNext
      description: Gets the members of a group.
      parameters:
      - name: nextLink
        in: path
        required: true
        type: string
        description: Next link for the list operation.
        x-ms-skip-url-encoding: true
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/components/schemas/DirectoryObjectListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: Groups_GetGroupMembersNext
  /{tenantID}/{nextLink}?Applications_ListNext:
    get:
      tags:
      - Applications
      operationId: Applications_ListNext
      description: Gets a list of applications from the current tenant.
      parameters:
      - name: nextLink
        in: path
        required: true
        type: string
        description: Next link for the list operation.
        x-ms-skip-url-encoding: true
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/components/schemas/ApplicationListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: Applications_ListNext
  /{tenantID}/{nextLink}?DeletedApplications_ListNext:
    get:
      tags:
      - deletedApplications
      operationId: DeletedApplications_ListNext
      description: Gets a list of deleted applications in the directory.
      parameters:
      - name: nextLink
        in: path
        required: true
        type: string
        description: Next link for the list operation.
        x-ms-skip-url-encoding: true
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/components/schemas/ApplicationListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: DeletedApplications_ListNext
  /{tenantID}/{nextLink}?ServicePrincipals_ListNext:
    get:
      tags:
      - ServicePrincipal
      operationId: ServicePrincipals_ListNext
      description: Gets a list of service principals from the current tenant.
      parameters:
      - name: nextLink
        in: path
        required: true
        type: string
        description: Next link for the list operation.
        x-ms-skip-url-encoding: true
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/components/schemas/ServicePrincipalListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: ServicePrincipals_ListNext
  /{tenantID}/{nextLink}?Users_ListNext:
    get:
      tags:
      - User
      operationId: Users_ListNext
      description: Gets a list of users for the current tenant.
      parameters:
      - name: nextLink
        in: path
        required: true
        type: string
        description: Next link for the list operation.
        x-ms-skip-url-encoding: true
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/components/schemas/UserListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: Users_ListNext
  /{tenantID}/{nextLink}?Objects_GetObjectsByObjectIdsNext:
    post:
      tags:
      - Objects
      operationId: Objects_GetObjectsByObjectIdsNext
      description: Gets AD group membership for the specified AD object IDs.
      parameters:
      - name: nextLink
        in: path
        required: true
        type: string
        description: Next link for the list operation.
        x-ms-skip-url-encoding: true
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/components/schemas/DirectoryObjectListResult'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: Objects_GetObjectsByObjectIdsNext
