openapi: 3.2.0
info:
  version: 2023-10-01-preview
  title: Microsoft Azure Microsoft.ResourceHealth Emerging Issues API
  description: The Resource Health Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: EmergingIssues
paths:
  /providers/Microsoft.ResourceHealth/emergingIssues:
    get:
      tags:
      - EmergingIssues
      operationId: microsoftAzureEmergingissuesList
      description: Lists Azure services' emerging issues.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The body contains a list of azure emerging issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emergingIssueListResult'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        GetEmergingIssues:
          $ref: ./examples/EmergingIssues_List.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Resourcehealth Emergingissues
  /providers/Microsoft.ResourceHealth/emergingIssues/{issueName}:
    get:
      tags:
      - EmergingIssues
      operationId: microsoftAzureEmergingissuesGet
      description: Gets Azure services' emerging issues.
      parameters:
      - $ref: '#/components/parameters/IssueNameParameter'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The body contains properties of azure emerging issues, which includes a list of status banner and status active events.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emergingIssuesGetResult'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        GetEmergingIssues:
          $ref: ./examples/EmergingIssues_Get.json
      summary: Microsoft Azure Get Providers Microsoft Resourcehealth Emergingissues Issuename
components:
  schemas:
    emergingIssueImpact:
      type: object
      description: Object of the emerging issue impact on services and regions.
      properties:
        id:
          type: string
          description: The impacted service id.
        name:
          type: string
          description: The impacted service name.
        regions:
          type: array
          items:
            $ref: '#/components/schemas/impactedRegion'
          description: The list of impacted regions for corresponding emerging issues.
    impactedRegion:
      type: object
      description: Object of impacted region.
      properties:
        id:
          type: string
          description: The impacted region id.
        name:
          type: string
          description: The impacted region name.
    emergingIssue:
      type: object
      description: On-going emerging issue from azure status.
      properties:
        refreshTimestamp:
          type: string
          description: Timestamp for when last time refreshed for ongoing emerging issue.
          format: date-time
        statusBanners:
          type: array
          items:
            $ref: '#/components/schemas/statusBanner'
          description: The list of emerging issues of banner type.
          x-ms-identifiers: []
        statusActiveEvents:
          type: array
          items:
            $ref: '#/components/schemas/statusActiveEvent'
          description: The list of emerging issues of active event type.
          x-ms-identifiers: []
    statusActiveEvent:
      type: object
      description: Active event type of emerging issue.
      properties:
        title:
          type: string
          description: The active event title.
        description:
          type: string
          description: The details of active event.
        trackingId:
          type: string
          description: The tracking id of this active event.
        startTime:
          type: string
          description: The impact start time on this active event.
          format: date-time
        cloud:
          type: string
          description: The cloud type of this active event.
        severity:
          type: string
          description: The severity level of this active event.
          enum:
          - Information
          - Warning
          - Error
          x-ms-enum:
            name: SeverityValues
            modelAsString: true
        stage:
          type: string
          description: The stage of this active event.
          enum:
          - Active
          - Resolve
          - Archived
          x-ms-enum:
            name: StageValues
            modelAsString: true
        published:
          type: boolean
          description: The boolean value of this active event if published or not.
        lastModifiedTime:
          type: string
          description: The last time modified on this banner.
          format: date-time
        impacts:
          type: array
          items:
            $ref: '#/components/schemas/emergingIssueImpact'
          description: The list of emerging issues impacts.
    emergingIssueListResult:
      description: The list of emerging issues.
      type: object
      properties:
        value:
          description: The list of emerging issues.
          type: array
          items:
            $ref: '#/components/schemas/emergingIssuesGetResult'
        nextLink:
          description: The link used to get the next page of emerging issues.
          type: string
    statusBanner:
      type: object
      description: Banner type of emerging issue.
      properties:
        title:
          type: string
          description: The banner title.
        message:
          type: string
          description: The details of banner.
        cloud:
          type: string
          description: The cloud type of this banner.
        lastModifiedTime:
          type: string
          description: The last time modified on this banner.
          format: date-time
    ErrorResponse:
      description: Error details.
      type: object
      properties:
        code:
          description: The error code.
          type: string
          readOnly: true
        message:
          description: The error message.
          type: string
          readOnly: true
        details:
          description: The error details.
          type: string
          readOnly: true
    emergingIssuesGetResult:
      description: The Get EmergingIssues operation response.
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/emergingIssue'
          description: The emerging issue entity properties.
          x-ms-client-flatten: true
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
  parameters:
    IssueNameParameter:
      name: issueName
      in: path
      description: The name of the emerging issue.
      required: true
      x-ms-enum:
        name: IssueNameParameter
        modelAsString: true
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
        - default
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
