openapi: 3.2.0
info:
  title: Microsoft Azure Bicep Client API
  description: The APIs listed in this specification can be used to manage Bicep related operations through the Azure Resource Manager.
  version: '2023-11-01'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: BicepClient
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Resources/decompileBicep:
    post:
      tags:
      - BicepClient
      operationId: microsoftAzureDecompileBicep
      description: Decompiles an ARM json template into a Bicep template
      x-ms-examples:
        Decompile an ARM json template into a Bicep file:
          $ref: ./examples/DecompileBicep.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK - The decompilation has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecompileOperationSuccessResponse'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft Resources…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecompileOperationRequest'
        description: Decompile operation request supplied to the operation.
        required: true
components:
  schemas:
    FileDefinition:
      type: object
      properties:
        path:
          type: string
        contents:
          type: string
      description: The definition of a file along with its contents
    DecompileOperationRequest:
      required:
      - template
      type: object
      description: The body of the request for the decompileBicep operation
      properties:
        template:
          type: string
          description: The ARM json template to be decompiled into a Bicep file
    DecompileOperationSuccessResponse:
      required:
      - files
      - entryPoint
      type: object
      description: The response of the decompileBicep operation
      properties:
        files:
          type: array
          items:
            $ref: '#/components/schemas/FileDefinition'
          x-ms-identifiers:
          - path
          description: An array of key-value pairs containing the entryPoint string as the key for the Bicep file decompiled from the ARM json template
        entryPoint:
          type: string
          description: The file path to the main Bicep file generated from the decompiled ARM json template.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
