openapi: 3.2.0
info:
  title: Microsoft Azure NetworkSecurityPerimeter Nsp Profiles API
  description: The Network Security Perimeter API provides a RESTful set of web services that interact with network security perimeter resource.
  version: 2023-07-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: NspProfiles
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/profiles/{profileName}
  : parameters:
    - $ref: ./network.json#/parameters/SubscriptionIdParameter
    - $ref: '#/components/parameters/ResourceGroupNameParameter'
    - $ref: '#/components/parameters/NetworkSecurityPerimeterNameParameter'
    - $ref: '#/components/parameters/ProfileNameParameter'
    - $ref: ./network.json#/parameters/ApiVersionParameter
    get:
      tags:
      - NspProfiles
      operationId: microsoftAzureNspprofilesGet
      description: Gets the specified NSP profile.
      responses:
        '200':
          description: OK - Returns information about the NSP profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NspProfile'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        NspProfilesGet:
          $ref: ./examples/NspProfileGet.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - NspProfiles
      operationId: microsoftAzureNspprofilesCreateorupdate
      description: Creates or updates a network profile.
      responses:
        '200':
          description: Update - Profile is immutable resource. Returns the existing profile resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NspProfile'
        '201':
          description: Create - Returns the NspProfile resource created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NspProfile'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        NspProfilesPut:
          $ref: ./examples/NspProfilePut.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NspProfile'
        description: Parameters that hold the NspProfile resource to be created/updated.
        required: true
    delete:
      tags:
      - NspProfiles
      operationId: microsoftAzureNspprofilesDelete
      description: Deletes an NSP profile.
      responses:
        '200':
          description: Delete Succeed.
        '204':
          description: Request successful. The resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        NspProfilesDelete:
          $ref: ./examples/NspProfileDelete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/profiles
  : get:
      tags:
      - NspProfiles
      operationId: microsoftAzureNspprofilesList
      description: Lists the NSP profiles in the specified network security perimeter.
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/NetworkSecurityPerimeterNameParameter'
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/ListTopParameter'
      - $ref: '#/components/parameters/ListSkipTokenParameter'
      responses:
        '200':
          description: OK - Returns the list of NSP profiles.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NspProfileListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        NspProfilesList:
          $ref: ./examples/NspProfileList.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  parameters:
    NetworkSecurityPerimeterNameParameter:
      name: networkSecurityPerimeterName
      in: path
      required: true
      description: The name of the network security perimeter.
      x-ms-parameter-location: method
      schema:
        type: string
    ListTopParameter:
      name: $top
      description: An optional query parameter which specifies the maximum number of records to be returned by the server.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        maximum: 20
        minimum: 1
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
    ListSkipTokenParameter:
      name: $skipToken
      description: SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    ProfileNameParameter:
      name: profileName
      in: path
      required: true
      description: The name of the NSP profile.
      x-ms-parameter-location: method
      schema:
        type: string
  schemas:
    NspProfileProperties:
      type: object
      properties:
        accessRulesVersion:
          readOnly: true
          type: string
          description: Version number that increases with every update to access rules within the profile.
        diagnosticSettingsVersion:
          readOnly: true
          type: string
          description: Version number that increases with every update to diagnostic settings within the profile.
      description: Properties of NSP profile.
    NspProfileListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/NspProfile'
          description: Gets a page of NSP profile
        nextLink:
          type: string
          description: Gets the URL to get the next page of results.
      description: Result of the request to list NSP profiles. Contains a list of NSP profiles and a URL link to get the next set of results.
    NspProfile:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/NspProfileProperties'
          description: Properties of the network security perimeter profile
        name:
          type: string
          description: The name of the profile resource that is unique within a perimeter. This name can be used to access the resource.
        id:
          readOnly: true
          type: string
          description: Identifier of the network security perimeter profile in ARM id format.
        type:
          readOnly: true
          type: string
          description: Resource type.
      allOf:
      - $ref: ./network.json#/definitions/Resource
      description: The network security perimeter profile resource
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
