openapi: 3.2.0
info:
  title: Microsoft Azure Azure Migrate Assessment Service Assessment…
  version: 2023-04-01-preview
  description: Azure Migrate Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: AssessmentOptionsOperations
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/assessmentOptions
  : get:
      operationId: microsoftAzureAssessmentoptionsoperationsListbyassessmentproject
      tags:
      - AssessmentOptionsOperations
      description: List AssessmentOptions resources by AssessmentProject
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssessmentOptionsListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        AssessmentOptionsOperations_ListByAssessmentProject_MaximumSet_Gen:
          $ref: ./examples/AssessmentOptionsOperations_ListByAssessmentProject_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/assessmentOptions/{assessmentOptionsName}
  : get:
      operationId: microsoftAzureAssessmentoptionsoperationsGet
      tags:
      - AssessmentOptionsOperations
      description: Get a AssessmentOptions
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: assessmentOptionsName
        in: path
        description: ' assessment options ARM name. Accepted value is ''default'''
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssessmentOptions'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        AssessmentOptionsOperations_Get_MaximumSet_Gen:
          $ref: ./examples/AssessmentOptionsOperations_Get_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    AssessmentOptionsProperties:
      type: object
      description: Assessment options properties.
      properties:
        vmFamilies:
          type: array
          description: 'Dictionary of VM families grouped by vm family name describing the targeted

            azure locations of VM family and the category of the family.'
          items:
            $ref: '#/components/schemas/VmFamilyOptions'
          readOnly: true
          x-ms-identifiers: []
        reservedInstanceVmFamilies:
          type: array
          description: List of supported VM Families.
          items:
            type: string
          readOnly: true
        reservedInstanceSupportedLocations:
          type: array
          description: List of supported Azure regions for reserved instances.
          items:
            type: string
          readOnly: true
        reservedInstanceSupportedCurrencies:
          type: array
          description: List of supported currencies for reserved instances.
          items:
            type: string
          readOnly: true
        reservedInstanceSupportedOffers:
          type: array
          description: List of supported Azure offer codes for reserved instances.
          items:
            type: string
          readOnly: true
        ultraDiskVmFamilies:
          type: array
          description: Ultra disk related assessment options.
          items:
            $ref: '#/components/schemas/UltraDiskAssessmentOptions'
          readOnly: true
          x-ms-identifiers: []
        premiumDiskVmFamilies:
          type: array
          description: List of VM Families that support premium disks for assessments.
          items:
            type: string
          readOnly: true
        savingsPlanVmFamilies:
          type: array
          description: List of VM Families that support Savings plan offer for assessments.
          items:
            type: string
          readOnly: true
        savingsPlanSupportedLocations:
          type: array
          description: List of Azure locations that support Savings plan offer for assessments.
          items:
            type: string
          readOnly: true
    AssessmentOptionsListResult:
      type: object
      description: The response of a AssessmentOptions list operation.
      properties:
        value:
          type: array
          description: The AssessmentOptions items on this page
          items:
            $ref: '#/components/schemas/AssessmentOptions'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    VmFamilyOptions:
      type: object
      description: 'VM family name, the list of targeted azure locations and the category of the

        family.'
      properties:
        familyName:
          type: string
          description: Name of the VM family.
          readOnly: true
        targetLocations:
          type: array
          description: List of Azure regions.
          items:
            type: string
          readOnly: true
        category:
          type: array
          description: Category of the VM family.
          items:
            type: string
          readOnly: true
    UltraDiskAssessmentOptions:
      type: object
      description: Assessment options for Ultra disk type.
      properties:
        familyName:
          type: string
          description: Family name.
        targetLocations:
          type: array
          description: List of locations where ultra disk is supported for this VMfamily.
          items:
            type: string
    AssessmentOptions:
      type: object
      description: Assessment options resource.
      properties:
        properties:
          $ref: '#/components/schemas/AssessmentOptionsProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
