openapi: 3.2.0
info:
  version: 2019-11-01-preview
  title: Microsoft Azure ContainerRegistryManagementClient Container…
  description: Admin Container Registry Management Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ContainerRegistrySetupStart
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.ContainerRegistry.Setup/locations/{location}/setup:
    post:
      x-ms-examples:
        Invokes container registry certificate uploading and ACR service deployment.:
          $ref: ./examples/Setup/Start.json
      tags:
      - ContainerRegistrySetupStart
      description: Invokes container registry certificate uploading and service deployment.
      operationId: microsoftAzureContainerregistryStartsetup
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v2/types.json#/parameters/LocationParameter
      - $ref: ../../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/StartSetupParameter'
      responses:
        '201':
          description: Created -- Container registry certificate was uploaded successfully and deployment started.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerRegistrySetup'
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft…
components:
  schemas:
    SetupProperty:
      description: Container registry start setup return property.
      type: object
      properties:
        statusUri:
          description: The uri to poll status of the container registry setup.
          type: string
    ContainerRegistrySetup:
      description: Container registry start setup return.
      type: object
      properties:
        properties:
          description: Container registry start setup return properties.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/SetupProperty'
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v2/types.json#/definitions/Resource
    ContainerRegistrySetupProperty:
      description: Container registry setup properties.
      type: object
      properties:
        password:
          description: Ssl certificate password.
          type: string
          format: password
        sslCertBase64:
          description: Ssl certificate in base64 format.
          type: string
          format: byte
      required:
      - password
      - sslCertBase64
  parameters:
    StartSetupParameter:
      name: startSetupRequest
      in: body
      description: The object containing information for the configuration request.
      required: true
      schema:
        $ref: '#/components/schemas/ContainerRegistrySetupProperty'
      x-ms-parameter-location: method
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Authorization uses an Azure Active Directory OAuth2 flow.
