openapi: 3.2.0
info:
  version: '2022-01-25'
  title: Microsoft Azure GuestConfiguration Guest Configuration…
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: GuestConfigurationAssignmentReports
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/{guestConfigurationAssignmentName}/reports
  : get:
      tags:
      - GuestConfigurationAssignmentReports
      operationId: microsoftAzureGuestconfigurationassignmentreportsList
      description: List all reports for the guest configuration assignment, latest report first.
      x-ms-examples:
        List all guest configuration assignments for a virtual machine:
          $ref: ./examples/listAllGuestConfigurationAssignmentReports.json
      parameters:
      - $ref: ../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter
      - name: guestConfigurationAssignmentName
        in: path
        required: true
        description: The guest configuration assignment name.
        schema:
          type: string
      - $ref: ../../common/v1/definitions.json#/parameters/SubscriptionIdParameter
      - $ref: ../../common/v1/definitions.json#/parameters/VmNameParameter
      - $ref: ../../common/v1/definitions.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: 'OK. This response is due one of these two reasons: 1. Reports were returned successfully 2. Guest configuration assignment was found, but VM is not registered yet, hence no reports returned.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestConfigurationAssignmentReportList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/{guestConfigurationAssignmentName}/reports/{reportId}
  : get:
      tags:
      - GuestConfigurationAssignmentReports
      operationId: microsoftAzureGuestconfigurationassignmentreportsGet
      description: Get a report for the guest configuration assignment, by reportId.
      x-ms-examples:
        Get a guest configuration assignment report by Id for a virtual machine:
          $ref: ./examples/getGuestConfigurationAssignmentReportById.json
      parameters:
      - $ref: ../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter
      - name: guestConfigurationAssignmentName
        in: path
        required: true
        description: The guest configuration assignment name.
        schema:
          type: string
      - name: reportId
        in: path
        required: true
        description: The GUID for the guest configuration assignment report.
        schema:
          type: string
      - $ref: ../../common/v1/definitions.json#/parameters/SubscriptionIdParameter
      - $ref: ../../common/v1/definitions.json#/parameters/VmNameParameter
      - $ref: ../../common/v1/definitions.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: 'OK. This response is due one of these two reasons: 1. Report was returned successfully 2. Guest configuration assignment was found, but VM is not registered yet, hence no report was returned.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestConfigurationAssignmentReport'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmssName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/{name}/reports
  : get:
      tags:
      - GuestConfigurationAssignmentReports
      operationId: microsoftAzureGuestconfigurationassignmentreportsvmssList
      description: List all reports for the VMSS guest configuration assignment, latest report first.
      x-ms-examples:
        List all reports for the VMSS guest configuration assignment with latest report first:
          $ref: ./examples/listAllVMSSGuestConfigurationAssignmentReports.json
      parameters:
      - $ref: ../../common/v1/definitions.json#/parameters/SubscriptionIdParameter
      - $ref: ../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../common/v1/definitions.json#/parameters/VMSSNameParameter
      - name: name
        in: path
        required: true
        description: The guest configuration assignment name.
        schema:
          type: string
      - $ref: ../../common/v1/definitions.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: 'OK. This response is due one of these two reasons: 1. Reports were returned successfully 2. Guest configuration assignment was found, but VM is not registered yet, hence no reports returned.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestConfigurationAssignmentReportList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmssName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/{name}/reports/{id}
  : get:
      tags:
      - GuestConfigurationAssignmentReports
      operationId: microsoftAzureGuestconfigurationassignmentreportsvmssGet
      description: Get a report for the VMSS guest configuration assignment, by reportId.
      x-ms-examples:
        Get a guest configuration assignment report by Id for a virtual machine scale set:
          $ref: ./examples/getVMSSGuestConfigurationAssignmentReportById.json
      parameters:
      - $ref: ../../common/v1/definitions.json#/parameters/SubscriptionIdParameter
      - $ref: ../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../common/v1/definitions.json#/parameters/VMSSNameParameter
      - name: name
        in: path
        required: true
        description: The guest configuration assignment name.
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: The GUID for the guest configuration assignment report.
        schema:
          type: string
      - $ref: ../../common/v1/definitions.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: 'OK. This response is due one of these two reasons: 1. Report was returned successfully 2. Guest configuration assignment was found, but VM is not registered yet, hence no report was returned.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestConfigurationAssignmentReport'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    AssignmentInfo:
      properties:
        name:
          type: string
          readOnly: true
          description: Name of the guest configuration assignment.
        configuration:
          $ref: '#/components/schemas/ConfigurationInfo'
          description: Information about the configuration.
      description: Information about the guest configuration assignment.
    GuestConfigurationAssignmentReport:
      properties:
        id:
          type: string
          readOnly: true
          description: ARM resource id of the report for the guest configuration assignment.
        name:
          type: string
          readOnly: true
          description: GUID that identifies the guest configuration assignment report under a subscription, resource group.
        properties:
          $ref: '#/components/schemas/GuestConfigurationAssignmentReportProperties'
          description: Properties of the guest configuration report.
      description: Report for the guest configuration assignment. Report contains information such as compliance status, reason, and more.
    GuestConfigurationAssignmentReportProperties:
      properties:
        complianceStatus:
          type: string
          readOnly: true
          description: A value indicating compliance status of the machine for the assigned guest configuration.
          x-ms-enum:
            name: complianceStatus
            modelAsString: true
          enum:
          - Compliant
          - NonCompliant
          - Pending
        reportId:
          type: string
          readOnly: true
          description: GUID that identifies the guest configuration assignment report under a subscription, resource group.
        assignment:
          $ref: '#/components/schemas/AssignmentInfo'
          description: Configuration details of the guest configuration assignment.
        vm:
          $ref: '#/components/schemas/VMInfo'
          description: Information about the VM.
        startTime:
          type: string
          format: date-time
          readOnly: true
          description: Start date and time of the guest configuration assignment compliance status check.
        endTime:
          type: string
          format: date-time
          readOnly: true
          description: End date and time of the guest configuration assignment compliance status check.
        details:
          $ref: '#/components/schemas/AssignmentReportDetails'
          description: Details of the assignment report.
        vmssResourceId:
          type: string
          readOnly: true
          description: Azure resource Id of the VMSS.
      description: Report for the guest configuration assignment. Report contains information such as compliance status, reason, and more.
    AssignmentReportResource:
      properties:
        complianceStatus:
          type: string
          readOnly: true
          description: A value indicating compliance status of the machine for the assigned guest configuration.
          x-ms-enum:
            name: complianceStatus
            modelAsString: true
          enum:
          - Compliant
          - NonCompliant
          - Pending
        resourceId:
          type: string
          readOnly: true
          description: Name of the guest configuration assignment resource setting.
        reasons:
          type: array
          items:
            $ref: '#/components/schemas/AssignmentReportResourceComplianceReason'
          x-ms-identifiers:
          - phrase
          - code
          description: Compliance reason and reason code for a resource.
        properties:
          type: object
          readOnly: true
          description: Properties of a guest configuration assignment resource.
      description: The guest configuration assignment resource.
    ConfigurationInfo:
      properties:
        name:
          type: string
          readOnly: true
          description: Name of the configuration.
        version:
          type: string
          readOnly: true
          description: Version of the configuration.
      description: Information about the configuration.
    AssignmentReportDetails:
      properties:
        complianceStatus:
          type: string
          readOnly: true
          description: A value indicating compliance status of the machine for the assigned guest configuration.
          x-ms-enum:
            name: complianceStatus
            modelAsString: true
          enum:
          - Compliant
          - NonCompliant
          - Pending
        startTime:
          type: string
          format: date-time
          readOnly: true
          description: Start date and time of the guest configuration assignment compliance status check.
        endTime:
          type: string
          format: date-time
          readOnly: true
          description: End date and time of the guest configuration assignment compliance status check.
        jobId:
          type: string
          readOnly: true
          description: GUID of the report.
        operationType:
          type: string
          readOnly: true
          description: Type of report, Consistency or Initial
          x-ms-enum:
            name: type
            modelAsString: true
          enum:
          - Consistency
          - Initial
        resources:
          type: array
          items:
            $ref: '#/components/schemas/AssignmentReportResource'
          x-ms-identifiers: []
          description: The list of resources for which guest configuration assignment compliance is checked.
      description: Details of the guest configuration assignment report.
    AssignmentReportResourceComplianceReason:
      properties:
        phrase:
          type: string
          readOnly: true
          description: Reason for the compliance of the guest configuration assignment resource.
        code:
          type: string
          readOnly: true
          description: Code for the compliance of the guest configuration assignment resource.
      description: Reason and code for the compliance of the guest configuration assignment resource.
    GuestConfigurationAssignmentReportList:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/GuestConfigurationAssignmentReport'
          description: List of reports for the guest configuration. Report contains information such as compliance status, reason and more.
      description: List of guest configuration assignment reports.
    VMInfo:
      properties:
        id:
          type: string
          readOnly: true
          description: Azure resource Id of the VM.
        uuid:
          type: string
          readOnly: true
          description: UUID(Universally Unique Identifier) of the VM.
      description: Information about the VM.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
