openapi: 3.2.0
info:
  title: Microsoft Azure Quota Information API
  version: '1.0'
  description: 'Operations tagged QuotaInformation across 2 of this provider''s published API definitions: azure-quota-extension-api-openapi-original.yml, azure-reservation-api-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: QuotaInformation
paths:
  /{scope}/providers/Microsoft.Quota/quotas/{resourceName}:
    get:
      tags:
      - QuotaInformation
      description: Get the quota limit of a resource. The response can be used to determine the remaining quota to calculate a new quota limit that can be submitted with a PUT request.
      operationId: microsoftAzureQuotaGet
      x-ms-examples:
        Quotas_UsagesRequest_ForNetwork:
          $ref: ./examples/getNetworkOneSkuQuotaLimit.json
        Quotas_Get_Request_ForCompute:
          $ref: ./examples/getComputeOneSkuQuotaLimit.json
      parameters:
      - $ref: '#/components/parameters/ResourceNameInParameters'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/ScopeInPath'
      responses:
        '200':
          description: OK. The quota information will be returned in the response with pagination.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentQuotaLimitBase'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
      summary: Microsoft Azure Get Scope Providers Microsoft Quota Quotas Resourcename
    put:
      tags:
      - QuotaInformation
      description: 'Create or update the quota limit for the specified resource with the requested value. To update the quota, follow these steps:

        1. Use the GET operation for quotas and usages to determine how much quota remains for the specific resource and to calculate the new quota limit. These steps are detailed in this example.

        2. Use this PUT operation to update the quota limit. Please check the URI in location header for the detailed status of the request.'
      operationId: microsoftAzureQuotaCreateorupdate
      x-ms-examples:
        Quotas_PutRequest_ForNetwork:
          $ref: ./examples/putNetworkOneSkuQuotaRequest.json
        Quotas_Put_Request_ForCompute:
          $ref: ./examples/putComputeOneSkuQuotaRequest.json
        Quotas_Request_ForMachineLearningServices_LowPriorityResource:
          $ref: ./examples/putMachineLearningServicesQuotaRequestLowPriority.json
        Quotas_PutRequest_ForNetwork_StandardSkuPublicIpAddressesResource:
          $ref: ./examples/putNetworkOneSkuQuotaRequestStandardSkuPublicIpAddresses.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: original-uri
      parameters:
      - $ref: '#/components/parameters/ResourceNameInParameters'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/ScopeInPath'
      responses:
        '200':
          description: OK. Returns the quota request details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentQuotaLimitBase'
        '202':
          description: The request is accepted and is being processed. To check the status for this request, use the value for the quota request ID **id** obtained in the response of a [Quota Request Status](https://docs.microsoft.com/en-us/rest/api/reserved-vm-instances/quotarequeststatus/get) GET operation.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
      summary: Microsoft Azure Put Scope Providers Microsoft Quota Quotas Resourcename
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CurrentQuotaLimitBase'
        description: Quota request payload.
        required: true
    patch:
      tags:
      - QuotaInformation
      description: 'Update the quota limit for a specific resource to the specified value:

        1. Use the Usages-GET and Quota-GET operations to determine the remaining quota for the specific resource and to calculate the new quota limit. These steps are detailed in this example.

        2. Use this PUT operation to update the quota limit. Please check the URI in location header for the detailed status of the request.'
      operationId: microsoftAzureQuotaUpdate
      x-ms-examples:
        Quotas_Request_PatchForNetwork:
          $ref: ./examples/patchNetworkOneSkuQuotaRequest.json
        Quotas_Request_PatchForCompute:
          $ref: ./examples/patchComputeQuotaRequest.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: original-uri
      parameters:
      - $ref: '#/components/parameters/ResourceNameInParameters'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/ScopeInPath'
      responses:
        '200':
          description: OK. Returns the quota request details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentQuotaLimitBase'
        '202':
          description: The request is accepted and is being processed. To check the status for this request, use the value for the quota request ID **id** in a [Quota Request Status](https://docs.microsoft.com/en-us/rest/api/reserved-vm-instances/quotarequeststatus/get) GET operation.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
      summary: Microsoft Azure Patch Scope Providers Microsoft Quota Quotas Resourcename
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CurrentQuotaLimitBase'
        description: Quota requests payload.
        required: true
    servers:
    - url: https://management.azure.com
  /{scope}/providers/Microsoft.Quota/quotas:
    get:
      tags:
      - QuotaInformation
      description: Get a list of current quota limits of all resources for the specified scope. The response from this GET operation can be leveraged to submit requests to update a quota.
      operationId: microsoftAzureQuotaList
      x-ms-examples:
        Quotas_listQuotaLimitsForNetwork:
          $ref: ./examples/getNetworkQuotaLimits.json
        Quotas_listQuotaLimitsForCompute:
          $ref: ./examples/getComputeQuotaLimits.json
        Quotas_listQuotaLimitsMachineLearningServices:
          $ref: ./examples/getMachineLearningServicesQuotaLimits.json
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/ScopeInPath'
      responses:
        '200':
          description: OK. Quota information will be returned in the response with pagination.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotaLimits'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Scope Providers Microsoft Quota Quotas
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Capacity/resourceProviders/{providerId}/locations/{location}/serviceLimits/{resourceName}
  : get:
      tags:
      - QuotaInformation
      description: Gets the current service limits (quotas) and usage of a resource. The response from Get API can be leveraged to submit quota update requests.
      operationId: microsoftAzureQuotaGet
      x-ms-examples:
        Quotas_Request_ForCompute:
          $ref: ./examples/getComputeOneSkuUsages.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdInParameters'
      - $ref: '#/components/parameters/ProviderIdInParameters'
      - $ref: '#/components/parameters/LocationIdInParameters'
      - $ref: '#/components/parameters/ApiVersionParameter_2'
      - $ref: '#/components/parameters/ResourceNameInParameters_2'
      responses:
        '200':
          description: OK. Quota information will be returned as response with pagination.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentQuotaLimitBase_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponse_2'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Capacity…
    put:
      tags:
      - QuotaInformation
      description: 'Create or update the service limits (quota) of a resource to requested value.

        Steps:

        1. Make the Get request to get the quota information for specific resource.

        2. To increase the quota, update the limit field in the response from Get request to new value.

        3. Submit the JSON to the quota request API to update the quota.

        The Create quota request may be constructed as follows. The PUT operation can be used to update the quota.'
      operationId: microsoftAzureQuotaCreateorupdate
      x-ms-examples:
        Quotas_Request_ForCompute:
          $ref: ./examples/putComputeOneSkuQuotaRequest.json
        Quotas_Request_ForMachineLearningServices_DedicatedResource:
          $ref: ./examples/putMachineLearningServicesQuotaRequestDedicated.json
        Quotas_Request_ForMachineLearningServices_LowPriorityResource:
          $ref: ./examples/putMachineLearningServicesQuotaRequestLowPriority.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdInParameters'
      - $ref: '#/components/parameters/ProviderIdInParameters'
      - $ref: '#/components/parameters/LocationIdInParameters'
      - $ref: '#/components/parameters/ResourceNameInParameters_2'
      - $ref: '#/components/parameters/ApiVersionParameter_2'
      responses:
        '200':
          description: OK. Returns Quota requests details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotaRequestOneResourceSubmitResponse'
        '201':
          description: The request is accepted and is being processed. Please use requestId to check the status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotaRequestSubmitResponse201'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponse_2'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Providers Microsoft Capacity…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CurrentQuotaLimitBase_2'
        description: Quota requests payload.
        required: true
    patch:
      tags:
      - QuotaInformation
      description: 'Update the service limits (quota) of a resource to requested value.

        Steps:

        1. Make the Get request to get the quota information for specific resource.

        2. To increase the quota, update the limit field in the response from Get request to new value.

        3. Submit the JSON to the quota request API to update the quota.

        The Update quota request may be constructed as follows. The PATCH operation can be used to update the quota.'
      operationId: microsoftAzureQuotaUpdate
      x-ms-examples:
        Quotas_Request_PatchForCompute:
          $ref: ./examples/patchComputeQuotaRequest.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdInParameters'
      - $ref: '#/components/parameters/ProviderIdInParameters'
      - $ref: '#/components/parameters/LocationIdInParameters'
      - $ref: '#/components/parameters/ResourceNameInParameters_2'
      - $ref: '#/components/parameters/ApiVersionParameter_2'
      responses:
        '200':
          description: OK. Returns Quota requests details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotaRequestOneResourceSubmitResponse'
        '201':
          description: The request is accepted and is being processed. Use requestId to check the status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotaRequestSubmitResponse201'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponse_2'
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Providers Microsoft Capacity…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CurrentQuotaLimitBase_2'
        description: Quota requests payload.
        required: true
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Capacity/resourceProviders/{providerId}/locations/{location}/serviceLimits
  : get:
      tags:
      - QuotaInformation
      description: Get a list of current service limits (quota) and usages of all the resources. The response from List API can be leveraged to submit quota update requests.
      operationId: microsoftAzureQuotaList
      x-ms-examples:
        Quotas_listUsagesForCompute:
          $ref: ./examples/getComputeUsages.json
        Quotas_listUsagesMachineLearningServices:
          $ref: ./examples/getMachineLearningServicesUsages.json
        Quotas_listUsagesForMsSql:
          $ref: ./examples/getMsSqlUsages.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdInParameters'
      - $ref: '#/components/parameters/ProviderIdInParameters'
      - $ref: '#/components/parameters/LocationIdInParameters'
      - $ref: '#/components/parameters/ApiVersionParameter_2'
      responses:
        '200':
          description: OK. Quota information will be returned as response with pagination.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotaLimits_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponse_2'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Capacity…
    servers:
    - url: https://management.azure.com
components:
  schemas:
    ExceptionResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ServiceError'
          description: API error details.
      description: Error.
    ServiceError:
      description: API error details.
      type: object
      properties:
        code:
          type: string
          description: Error code.
        message:
          type: string
          description: Error message.
        details:
          type: array
          items:
            $ref: '#/components/schemas/ServiceErrorDetail'
          x-ms-identifiers:
          - code
          description: List of error details.
          readOnly: true
    QuotaProperties:
      description: Quota properties for the specified resource.
      type: object
      properties:
        limit:
          description: Resource quota limit properties.
          $ref: '#/components/schemas/LimitJsonObject'
        unit:
          description: ' The quota units, such as Count and Bytes. When requesting quota, use the **unit** value returned in the GET response in the request body of your PUT operation.'
          type: string
          readOnly: true
        name:
          description: Resource name provided by the resource provider. Use this property name when requesting quota.
          $ref: '#/components/schemas/ResourceName'
        resourceType:
          description: The name of the resource type. Optional field.
          $ref: '#/components/schemas/ResourceTypesName'
        quotaPeriod:
          description: 'The time period over which the quota usage values are summarized. For example:

            *P1D (per one day)

            *PT1M (per one minute)

            *PT1S (per one second).

            This parameter is optional because, for some resources like compute, the period is irrelevant.'
          type: string
          readOnly: true
        isQuotaApplicable:
          description: States if quota can be requested for this resource.
          type: boolean
          readOnly: true
        properties:
          description: Additional properties for the specific resource provider.
          type: object
    ResourceTypesName:
      description: Resource types. For extensibility, it is a string. Optional field.
      readOnly: false
      type: string
    ResourceName:
      type: object
      description: Name of the resource provided by the resource Provider. When requesting quota, use this property name.
      properties:
        value:
          description: Resource name.
          type: string
          readOnly: false
        localizedValue:
          description: Resource display name.
          type: string
          readOnly: true
    QuotaLimits:
      type: object
      description: Quota limits.
      properties:
        value:
          description: List of quota limits.
          type: array
          items:
            $ref: '#/components/schemas/CurrentQuotaLimitBase'
        nextLink:
          description: The URI used to fetch the next page of quota limits. When there are no more pages, this string is null.
          type: string
    LimitJsonObject:
      description: LimitJson abstract class.
      required:
      - limitObjectType
      type: object
      properties:
        limitObjectType:
          $ref: '#/components/schemas/LimitObjectTypes'
      discriminator:
        propertyName: limitObjectType
    LimitObjectTypes:
      description: The limit object type.
      enum:
      - LimitValue
      type: string
      x-ms-enum:
        name: limitType
        modelAsString: true
    CurrentQuotaLimitBase:
      type: object
      description: Quota limit.
      x-ms-azure-resource: true
      properties:
        id:
          description: The resource ID.
          type: string
          readOnly: true
        type:
          description: The resource type.
          type: string
          readOnly: true
        name:
          description: The resource name.
          type: string
          readOnly: true
        properties:
          description: Quota properties for the specified resource, based on the API called, Quotas or Usages.
          $ref: '#/components/schemas/QuotaProperties'
    ServiceErrorDetail:
      description: Error details.
      type: object
      properties:
        code:
          type: string
          readOnly: true
          description: Error code.
        message:
          type: string
          readOnly: true
          description: Error message.
    ExceptionResponse_2:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ServiceError_2'
          description: The api error details.
      description: The api error.
    ServiceError_2:
      description: The api error details.
      type: object
      properties:
        code:
          type: string
          description: The error code.
        message:
          type: string
          description: The error message.
        details:
          type: array
          items:
            $ref: '#/components/schemas/ServiceErrorDetail_2'
          description: The list of error details.
          readOnly: true
    QuotaProperties_2:
      description: Quota properties for the resource.
      type: object
      properties:
        limit:
          description: The quota limit.
          type: integer
        currentValue:
          description: The current resource usages information.
          type: integer
          readOnly: true
        unit:
          description: ' The units of the limit, such as - Count, Bytes, etc. Use the unit field provided in the Get quota response.'
          type: string
          readOnly: false
        name:
          description: Name of the resource provide by the resource Provider. Please use this name property for quotaRequests.
          $ref: '#/components/schemas/ResourceName_2'
        resourceType:
          description: The Resource Type Name.
          $ref: '#/components/schemas/ResourceTypesName_2'
          readOnly: false
        quotaPeriod:
          description: The quota period over which the usage values are summarized, such as - P1D (Per one day), PT1M (Per one minute), PT1S (Per one second). This parameter is optional because, for some resources like compute, the period doesn’t matter.
          type: string
          readOnly: true
        properties:
          description: Additional properties for the specific resource provider.
          type: object
    QuotaRequestStatusDetails:
      description: The quota request status details.
      type: object
      properties:
        provisioningState:
          description: The quota request status.
          $ref: '#/components/schemas/QuotaRequestState'
          readOnly: true
        message:
          description: A user friendly message.
          type: string
          readOnly: true
    ResourceTypesName_2:
      description: The resource types.
      enum:
      - standard
      - dedicated
      - lowPriority
      - shared
      - serviceSpecific
      x-ms-enum:
        name: ResourceType
        modelAsString: true
    quotaRequestOneResourceProperties:
      type: object
      description: The details of quota request.
      properties:
        provisioningState:
          description: The quota request status.
          readOnly: true
          $ref: '#/components/schemas/QuotaRequestState'
        message:
          description: User friendly status message.
          type: string
          readOnly: true
        requestSubmitTime:
          description: 'The quota request submit time. The date conforms to the following format: yyyy-MM-ddTHH:mm:ssZ as specified by the ISO 8601 standard.'
          type: string
          readOnly: true
          format: date-time
        properties:
          description: The quota request addition properties.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/CurrentQuotaLimitBase_2'
    ResourceName_2:
      description: Name of the resource provide by the resource Provider. Please use this name property for quotaRequests.
      properties:
        value:
          description: Resource name.
          type: string
          readOnly: false
        localizedValue:
          description: Resource display name.
          type: string
          readOnly: true
    QuotaLimits_2:
      description: Quota limits.
      properties:
        value:
          description: List of Quota limits.
          type: array
          items:
            $ref: '#/components/schemas/CurrentQuotaLimitBase_2'
        nextLink:
          description: The uri to fetch the next page of quota limits. When there are no more pages, this is null.
          type: string
    QuotaRequestOneResourceSubmitResponse:
      description: Quota submit request response
      type: object
      x-ms-azure-resource: true
      properties:
        id:
          description: The quota request Id.
          type: string
          readOnly: true
        name:
          description: The name of the quota request.
          type: string
          readOnly: true
        type:
          type: string
          readOnly: true
          description: Type of resource. "Microsoft.Capacity/ServiceLimits"
        properties:
          description: The quota request details.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/quotaRequestOneResourceProperties'
    QuotaRequestState:
      description: The quota request status.
      enum:
      - Accepted
      - Invalid
      - Succeeded
      - Failed
      - InProgress
      x-ms-enum:
        name: QuotaRequestState
        modelAsString: true
    CurrentQuotaLimitBase_2:
      type: object
      description: Quota limits.
      x-ms-azure-resource: true
      properties:
        properties:
          description: Quota properties for the resource.
          $ref: '#/components/schemas/QuotaProperties_2'
    ServiceErrorDetail_2:
      description: The error details.
      type: object
      properties:
        code:
          type: string
          readOnly: true
          description: The error code.
        message:
          type: string
          readOnly: true
          description: The error message.
    QuotaRequestSubmitResponse201:
      description: The quota request submit response with request id.
      type: object
      properties:
        id:
          description: The quota request id. Please use the requestId to check the request status.
          type: string
          readOnly: true
        name:
          description: The operation Id
          type: string
          readOnly: true
        type:
          description: The resource type
          type: string
          readOnly: true
        properties:
          description: The quota request status.
          $ref: '#/components/schemas/QuotaRequestStatusDetails'
          x-ms-client-flatten: true
  parameters:
    ScopeInPath:
      name: scope
      description: The target Azure resource URI. For example, `/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/qms-test/providers/Microsoft.Batch/batchAccounts/testAccount/`. This is the target Azure resource URI for the List GET operation. If a `{resourceName}` is added after `/quotas`, then it's the target Azure resource URI in the GET operation for the specific resource.
      in: path
      required: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
    ResourceNameInParameters:
      name: resourceName
      in: path
      required: true
      description: "Resource name for a given resource provider. For example:\n- SKU name for Microsoft.Compute\n- SKU or TotalLowPriorityCores for Microsoft.MachineLearningServices\n For Microsoft.Network PublicIPAddresses."
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    ProviderIdInParameters:
      name: providerId
      in: path
      required: true
      description: Azure resource provider id.
      x-ms-parameter-location: method
      schema:
        type: string
    LocationIdInParameters:
      name: location
      in: path
      required: true
      description: Azure region.
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceNameInParameters_2:
      name: resourceName
      in: path
      required: true
      description: The resource name for a resource provider, such as SKU name for Microsoft.Compute, Sku or TotalLowPriorityCores for Microsoft.MachineLearningServices
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdInParameters:
      name: subscriptionId
      x-ms-parameter-location: method
      in: path
      required: true
      description: Azure subscription id.
      schema:
        type: string
    ApiVersionParameter_2:
      name: api-version
      in: query
      required: true
      description: API version.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: Impersonate your user account.
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth 2.0 authorization
x-refined-from:
- azure-quota-extension-api-openapi-original.yml
- azure-reservation-api-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
