openapi: 3.2.0
info:
  version: 2022-09-01-preview
  title: Microsoft Azure DevCenterClient Network Settings API
  description: DevCenter Management API
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Network Settings
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevCenter/networkConnections/{networkConnectionName}/runHealthChecks
  : post:
      tags:
      - Network Settings
      description: Triggers a new health check run. The execution and health check result can be tracked via the network Connection health check details
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: commonDefinitions.json#/parameters/SubscriptionIdParameter
      - $ref: commonDefinitions.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/NetworkConnectionName'
      operationId: microsoftAzureNetworkconnectionsRunhealthchecks
      responses:
        '200':
          description: OK. Successfully initiated health check.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: commonDefinitions.json#/definitions/CloudError
      x-ms-examples:
        NetworkConnections_RunHealthChecks:
          $ref: ./examples/NetworkConnections_RunHealthChecks.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
components:
  parameters:
    NetworkConnectionName:
      name: networkConnectionName
      in: path
      required: true
      description: Name of the Network Connection that can be applied to a Pool.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
