openapi: 3.2.0
info:
  title: Microsoft Azure ApplicationClient Portal Registry Package…
  version: 2023-12-01-preview
  description: ARM applications
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: PortalRegistryPackage
paths:
  /providers/Microsoft.Solutions/portalRegistryPackage:
    post:
      tags:
      - PortalRegistryPackage
      operationId: microsoftAzurePortalregistrypackage
      description: Generates the registry package links for Managed Applications and Solution Templates.
      x-ms-examples:
        Generates a registry package:
          $ref: ./examples/portalRegistryPackage.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Returns information about the registry package and generated links.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryPackage'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Post Providers Microsoft Solutions Portalregistrypackage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistryPackagePlan'
        description: Request body parameters to get registry packages.
        required: true
components:
  schemas:
    RegistryPackageLinks:
      type: object
      properties:
        createUiDefinitionLink:
          type: string
          description: The create ui definition link.
        deploymentTemplateLink:
          type: string
          description: The deployment template link.
      description: Resource information.
    RegistryPackage:
      type: object
      properties:
        publisher:
          type: string
          description: The publisher
        offer:
          type: string
          description: The offer Id
        plan:
          type: string
          description: The plan Id
        version:
          type: string
          description: The version of the plan
        packageLinks:
          $ref: '#/components/schemas/RegistryPackageLinks'
          description: The registry package links.
      required:
      - offer
      - publisher
      - plan
      - packageLinks
      description: Information about an application definition request.
    RegistryPackagePlan:
      type: object
      properties:
        publisher:
          type: string
          description: The publisher ID.
        offer:
          type: string
          description: The offer Id.
        plan:
          type: string
          description: The plan Id.
        version:
          type: string
          description: The plan's version.
      required:
      - offer
      - publisher
      - plan
      description: Plan for the managed application.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-ms-paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applicationDefinitions/{applicationDefinitionName}?disambiguation_dummy
  : get:
      tags:
      - ApplicationDefinitions
      operationId: ApplicationDefinitions_GetById
      description: Gets the managed application definition.
      x-ms-examples:
        Get managed application definition:
          $ref: ./examples/getApplicationDefinition.json
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group. The name is case insensitive.
        pattern: ^[-\w\._\(\)]+$
        minLength: 1
        maxLength: 90
      - name: applicationDefinitionName
        in: path
        required: true
        type: string
        description: The name of the managed application definition.
        minLength: 3
        maxLength: 64
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: OK - Returns the managed application definition.
          schema:
            $ref: '#/components/schemas/ApplicationDefinition'
        '404':
          description: NotFound.
          x-ms-error-response: false
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
    delete:
      tags:
      - ApplicationDefinitions
      operationId: ApplicationDefinitions_DeleteById
      description: Deletes the managed application definition.
      x-ms-examples:
        Deletes managed application definition:
          $ref: ./examples/deleteApplicationDefinition.json
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group. The name is case insensitive.
        pattern: ^[-\w\._\(\)]+$
        minLength: 1
        maxLength: 90
      - name: applicationDefinitionName
        in: path
        required: true
        type: string
        description: The name of the managed application definition.
        minLength: 3
        maxLength: 64
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: OK
        '204':
          description: NoContent
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
    put:
      tags:
      - ApplicationDefinitions
      operationId: ApplicationDefinitions_CreateOrUpdateById
      description: Creates or updates a managed application definition.
      x-ms-examples:
        Create or update managed application definition:
          $ref: ./examples/createOrUpdateApplicationDefinition.json
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group. The name is case insensitive.
        pattern: ^[-\w\._\(\)]+$
        minLength: 1
        maxLength: 90
      - name: applicationDefinitionName
        in: path
        required: true
        type: string
        description: The name of the managed application definition.
        minLength: 3
        maxLength: 64
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/components/schemas/ApplicationDefinition'
        description: Parameters supplied to the create or update a managed application definition.
      responses:
        '200':
          description: OK - Returns information about the managed application definition, including provisioning status.
          schema:
            $ref: '#/components/schemas/ApplicationDefinition'
        '201':
          description: Created - Returns information about the managed application definition, including provisioning status.
          schema:
            $ref: '#/components/schemas/ApplicationDefinition'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
    patch:
      tags:
      - ApplicationDefinitions
      operationId: ApplicationDefinitions_UpdateById
      description: Updates the managed application definition.
      x-ms-examples:
        Update managed application definition:
          $ref: ./examples/updateApplicationDefinition.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/ApplicationDefinitionNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/components/schemas/ApplicationDefinitionPatchable'
        description: Parameters supplied to the update a managed application definition.
      responses:
        '200':
          description: OK - Returns information about the managed application definition, including provisioning status.
          schema:
            $ref: '#/components/schemas/ApplicationDefinition'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
