openapi: 3.2.0
info:
  title: Microsoft Azure VirtualWANAsAServiceManagementClient Vpn…
  description: REST API for Azure VirtualWAN As a Service.
  version: '2023-11-01'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: vpnLinkConnections
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/vpnGateways/{gatewayName}/vpnConnections/{connectionName}/vpnLinkConnections/{linkConnectionName}/resetconnection
  : post:
      tags:
      - vpnLinkConnections
      operationId: microsoftAzureVpnlinkconnectionsResetconnection
      description: Resets the VpnLink connection specified.
      parameters:
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: gatewayName
        in: path
        required: true
        description: The name of the gateway.
        schema:
          type: string
      - name: connectionName
        in: path
        required: true
        description: The name of the vpn connection.
        schema:
          type: string
      - name: linkConnectionName
        in: path
        required: true
        description: The name of the vpn link connection.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      responses:
        '202':
          description: Accepted and the operation ResetConnection will complete asynchronously.
        default:
          description: The operation ResetConnection could not be completed.
          content:
            application/json:
              schema:
                $ref: ./networkWatcher.json#/definitions/ErrorResponse
      x-ms-examples:
        ResetVpnLinkConnection:
          $ref: ./examples/VpnSiteLinkConnectionReset.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
