openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft.IntegrationSpaces Spaces API
  version: 2023-11-14-preview
  description: The azure integration spaces resource provider.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Spaces
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.IntegrationSpaces/spaces:
    get:
      operationId: microsoftAzureSpacesListbysubscription
      tags:
      - Spaces
      description: List Space resources by subscription ID
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        ListSpacesBySubscription:
          $ref: ./examples/Spaces_ListBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IntegrationSpaces/spaces:
    get:
      operationId: microsoftAzureSpacesListbyresourcegroup
      tags:
      - Spaces
      description: List Space resources by resource group
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/Azure.Core.TopQueryParameter'
      - $ref: '#/components/parameters/Azure.Core.SkipQueryParameter'
      - $ref: '#/components/parameters/Azure.Core.MaxPageSizeQueryParameter'
      - $ref: '#/components/parameters/Azure.Core.FilterQueryParameter'
      - $ref: '#/components/parameters/Azure.Core.SelectQueryParameter'
      - $ref: '#/components/parameters/Azure.Core.ExpandQueryParameter'
      - $ref: '#/components/parameters/Azure.Core.OrderByQueryParameter'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        ListSpacesByResourceGroup:
          $ref: ./examples/Spaces_ListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IntegrationSpaces/spaces/{spaceName}
  : get:
      operationId: microsoftAzureSpacesGet
      tags:
      - Spaces
      description: Get a Space
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: spaceName
        in: path
        description: The name of the space
        required: true
        schema:
          type: string
          pattern: '[a-zA-Z0-9_.()-]{0,79}$'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Space'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        GetSpace:
          $ref: ./examples/Spaces_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      operationId: microsoftAzureSpacesCreateorupdate
      tags:
      - Spaces
      description: Create a Space
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: spaceName
        in: path
        description: The name of the space
        required: true
        schema:
          type: string
          pattern: '[a-zA-Z0-9_.()-]{0,79}$'
      responses:
        '200':
          description: Resource 'Space' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Space'
        '201':
          description: Resource 'Space' create operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Space'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        CreateOrUpdateSpace:
          $ref: ./examples/Spaces_CreateOrUpdate.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Space'
        description: Resource create parameters.
        required: true
    patch:
      operationId: microsoftAzureSpacesPatch
      tags:
      - Spaces
      description: Update a Space
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: spaceName
        in: path
        description: The name of the space
        required: true
        schema:
          type: string
          pattern: '[a-zA-Z0-9_.()-]{0,79}$'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Space'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        PatchSpace:
          $ref: ./examples/Spaces_Patch.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpaceUpdate'
        description: The resource properties to be updated.
        required: true
    delete:
      operationId: microsoftAzureSpacesDelete
      tags:
      - Spaces
      description: Delete a Space
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: spaceName
        in: path
        description: The name of the space
        required: true
        schema:
          type: string
          pattern: '[a-zA-Z0-9_.()-]{0,79}$'
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource deleted successfully.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        DeleteSpace:
          $ref: ./examples/Spaces_Delete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    Space:
      type: object
      description: An integration space.
      properties:
        properties:
          $ref: '#/components/schemas/SpaceResourceProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
    ProvisioningState:
      type: string
      description: The status of the current operation.
      enum:
      - Succeeded
      - Failed
      - Canceled
      - Provisioning
      - Updating
      - Deleting
      - Accepted
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: Succeeded
          value: Succeeded
          description: Resource has been created.
        - name: Failed
          value: Failed
          description: Resource creation failed.
        - name: Canceled
          value: Canceled
          description: Resource creation was canceled.
        - name: Provisioning
          value: Provisioning
        - name: Updating
          value: Updating
        - name: Deleting
          value: Deleting
        - name: Accepted
          value: Accepted
    SpaceResourceProperties:
      type: object
      description: The properties of space.
      properties:
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The status of the last operation.
          readOnly: true
        description:
          type: string
          description: The description of the resource.
    SpaceUpdate:
      type: object
      description: The type used for update operations of the Space.
      properties:
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
        properties:
          $ref: '#/components/schemas/SpaceUpdateProperties'
          x-ms-client-flatten: true
    SpaceListResult:
      type: object
      description: The response of a Space list operation.
      properties:
        value:
          type: array
          description: The Space items on this page
          items:
            $ref: '#/components/schemas/Space'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    SpaceUpdateProperties:
      type: object
      description: The updatable properties of the Space.
      properties:
        description:
          type: string
          description: The description of the resource.
  parameters:
    Azure.Core.SelectQueryParameter:
      name: select
      in: query
      description: Select the specified fields to be included in the response.
      required: false
      x-ms-parameter-location: method
      style: form
      explode: true
      schema:
        type: array
        items:
          type: string
    Azure.Core.TopQueryParameter:
      name: top
      in: query
      description: The number of result items to return.
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
    Azure.Core.ExpandQueryParameter:
      name: expand
      in: query
      description: Expand the indicated resources into the response.
      required: false
      x-ms-parameter-location: method
      style: form
      explode: true
      schema:
        type: array
        items:
          type: string
    Azure.Core.OrderByQueryParameter:
      name: orderby
      in: query
      description: Expressions that specify the order of returned results.
      required: false
      x-ms-parameter-location: method
      style: form
      explode: true
      schema:
        type: array
        items:
          type: string
    Azure.Core.SkipQueryParameter:
      name: skip
      in: query
      description: The number of result items to skip.
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        default: 0
    Azure.Core.MaxPageSizeQueryParameter:
      name: maxpagesize
      in: query
      description: The maximum number of result items per page.
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
    Azure.Core.FilterQueryParameter:
      name: filter
      in: query
      description: Filter the result list using the given expression.
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
