openapi: 3.2.0
info:
  version: '2015-08-01'
  title: Microsoft Azure WebSite Management Client Certificate…
  description: Use these APIs to manage Azure Websites resources through the Azure Resource Manager. All task operations conform to the HTTP/1.1 protocol specification and each operation returns an x-ms-request-id header that can be used to obtain information about the request. You must make sure that requests made to these resources are secure. For more information, see https://msdn.microsoft.com/en-us/library/azure/dn790557.aspx.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: CertificateOrders
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/certificates/{name}
  : get:
      tags:
      - CertificateOrders
      summary: Microsoft Azure Get Certificate Associated With The Certificate Order
      operationId: microsoftAzureCertificateordersGetcertificate
      parameters:
      - name: resourceGroupName
        in: path
        description: Azure resource group name
        required: true
        schema:
          type: string
      - name: certificateOrderName
        in: path
        description: Certificate name
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: Certificate name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificate'
            text/json:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificate'
            application/xml:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificate'
            text/xml:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificate'
      deprecated: false
      description: Needs a more full description created.
    put:
      tags:
      - CertificateOrders
      summary: Microsoft Azure Associates A Key Vault Secret To A Certificate Store That Will…
      operationId: microsoftAzureCertificateordersCreateorupdatecertificate
      parameters:
      - name: resourceGroupName
        in: path
        description: Azure resource group name
        required: true
        schema:
          type: string
      - name: certificateOrderName
        in: path
        description: Certificate name
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: Certificate name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificate'
            text/json:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificate'
            application/xml:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificate'
            text/xml:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificate'
      deprecated: false
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateOrderCertificate'
          text/json:
            schema:
              $ref: '#/components/schemas/CertificateOrderCertificate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CertificateOrderCertificate'
        description: Key Vault secret csm Id
        required: true
    delete:
      tags:
      - CertificateOrders
      summary: Microsoft Azure Deletes The Certificate Associated With The Certificate Order
      operationId: microsoftAzureCertificateordersDeletecertificate
      parameters:
      - name: resourceGroupName
        in: path
        description: Azure resource group name
        required: true
        schema:
          type: string
      - name: certificateOrderName
        in: path
        description: Certificate name
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: Certificate name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
      deprecated: false
      description: Needs a more full description created.
    patch:
      tags:
      - CertificateOrders
      summary: Microsoft Azure Associates A Key Vault Secret To A Certificate Store That Will…
      operationId: microsoftAzureCertificateordersUpdatecertificate
      parameters:
      - name: resourceGroupName
        in: path
        description: Azure resource group name
        required: true
        schema:
          type: string
      - name: certificateOrderName
        in: path
        description: Certificate name
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: Certificate name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificate'
            text/json:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificate'
            application/xml:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificate'
            text/xml:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificate'
      deprecated: false
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateOrderCertificate'
          text/json:
            schema:
              $ref: '#/components/schemas/CertificateOrderCertificate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CertificateOrderCertificate'
        description: Key Vault secret csm Id
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}
  : get:
      tags:
      - CertificateOrders
      summary: Microsoft Azure Get A Certificate Order
      operationId: microsoftAzureCertificateordersGetcertificateorder
      parameters:
      - name: resourceGroupName
        in: path
        description: Azure resource group name
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: Certificate name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateOrder'
            text/json:
              schema:
                $ref: '#/components/schemas/CertificateOrder'
            application/xml:
              schema:
                $ref: '#/components/schemas/CertificateOrder'
            text/xml:
              schema:
                $ref: '#/components/schemas/CertificateOrder'
      deprecated: false
      description: Needs a more full description created.
    put:
      tags:
      - CertificateOrders
      summary: Microsoft Azure Create Or Update A Certificate Purchase Order
      operationId: microsoftAzureCertificateordersCreateorupdatecertificateorder
      parameters:
      - name: resourceGroupName
        in: path
        description: Azure resource group name
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: Certificate name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateOrder'
            text/json:
              schema:
                $ref: '#/components/schemas/CertificateOrder'
            application/xml:
              schema:
                $ref: '#/components/schemas/CertificateOrder'
            text/xml:
              schema:
                $ref: '#/components/schemas/CertificateOrder'
      deprecated: false
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateOrder'
          text/json:
            schema:
              $ref: '#/components/schemas/CertificateOrder'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CertificateOrder'
        description: Distinguished name to be used for purchasing certificate
        required: true
    delete:
      tags:
      - CertificateOrders
      summary: Microsoft Azure Delete An Existing Certificate Order
      operationId: microsoftAzureCertificateordersDeletecertificateorder
      parameters:
      - name: resourceGroupName
        in: path
        description: Azure resource group name
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: Certificate name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
      deprecated: false
      description: Needs a more full description created.
    patch:
      tags:
      - CertificateOrders
      summary: Microsoft Azure Create Or Update A Certificate Purchase Order
      operationId: microsoftAzureCertificateordersUpdatecertificateorder
      parameters:
      - name: resourceGroupName
        in: path
        description: Azure resource group name
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: Certificate name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateOrder'
            text/json:
              schema:
                $ref: '#/components/schemas/CertificateOrder'
            application/xml:
              schema:
                $ref: '#/components/schemas/CertificateOrder'
            text/xml:
              schema:
                $ref: '#/components/schemas/CertificateOrder'
      deprecated: false
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateOrder'
          text/json:
            schema:
              $ref: '#/components/schemas/CertificateOrder'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CertificateOrder'
        description: Distinguished name to be used for purchasing certificate
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders
  : get:
      tags:
      - CertificateOrders
      summary: Microsoft Azure Get Certificate Orders In A Resource Group
      operationId: microsoftAzureCertificateordersGetcertificateorders
      parameters:
      - name: resourceGroupName
        in: path
        description: Azure resource group name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateOrderCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/CertificateOrderCollection'
      deprecated: false
      x-ms-pageable:
        nextLinkName: nextLink
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/certificates
  : get:
      tags:
      - CertificateOrders
      summary: Microsoft Azure List All Certificates Associated With A Certificate Order Only…
      operationId: microsoftAzureCertificateordersGetcertificates
      parameters:
      - name: resourceGroupName
        in: path
        description: Azure resource group name
        required: true
        schema:
          type: string
      - name: certificateOrderName
        in: path
        description: Certificate name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificateCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificateCollection'
      deprecated: false
      x-ms-pageable:
        nextLinkName: nextLink
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/reissue
  : post:
      tags:
      - CertificateOrders
      summary: Microsoft Azure Reissue An Existing Certificate Order
      operationId: microsoftAzureCertificateordersReissuecertificateorder
      parameters:
      - name: resourceGroupName
        in: path
        description: Azure resource group name
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: Certificate name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
      deprecated: false
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReissueCertificateOrderRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ReissueCertificateOrderRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/ReissueCertificateOrderRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/ReissueCertificateOrderRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ReissueCertificateOrderRequest'
        description: Reissue parameters
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/renew
  : post:
      tags:
      - CertificateOrders
      summary: Microsoft Azure Renew An Existing Certificate Order
      operationId: microsoftAzureCertificateordersRenewcertificateorder
      parameters:
      - name: resourceGroupName
        in: path
        description: Azure resource group name
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: Certificate name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
      deprecated: false
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenewCertificateOrderRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/RenewCertificateOrderRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/RenewCertificateOrderRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/RenewCertificateOrderRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RenewCertificateOrderRequest'
        description: Renew parameters
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/retrieveCertificateActions
  : post:
      tags:
      - CertificateOrders
      summary: Microsoft Azure Retrieve The List Of Certificate Actions
      operationId: microsoftAzureCertificateordersRetrievecertificateactions
      parameters:
      - name: resourceGroupName
        in: path
        description: Azure resource group name
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: Certificate order name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CertificateOrderAction'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CertificateOrderAction'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CertificateOrderAction'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CertificateOrderAction'
      deprecated: false
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/retrieveEmailHistory
  : post:
      tags:
      - CertificateOrders
      summary: Microsoft Azure Retrieve Email History
      operationId: microsoftAzureCertificateordersRetrievecertificateemailhistory
      parameters:
      - name: resourceGroupName
        in: path
        description: Azure resource group name
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: Certificate order name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CertificateEmail'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CertificateEmail'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CertificateEmail'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CertificateEmail'
      deprecated: false
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/resendEmail
  : post:
      tags:
      - CertificateOrders
      summary: Microsoft Azure Resend Certificate Email
      operationId: microsoftAzureCertificateordersResendcertificateemail
      parameters:
      - name: resourceGroupName
        in: path
        description: Azure resource group name
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: Certificate order name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
      deprecated: false
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/verifyDomainOwnership
  : post:
      tags:
      - CertificateOrders
      summary: Microsoft Azure Verify Domain Ownership For This Certificate Order
      operationId: microsoftAzureCertificateordersVerifydomainownership
      parameters:
      - name: resourceGroupName
        in: path
        description: Azure resource group name
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: Certificate order name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
      deprecated: false
      description: Needs a more full description created.
components:
  schemas:
    CertificateOrderAction:
      description: Represents a certificate action
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          required:
          - type
          properties:
            type:
              description: Type
              enum:
              - CertificateIssued
              - CertificateOrderCanceled
              - CertificateOrderCreated
              - CertificateRevoked
              - DomainValidationComplete
              - FraudDetected
              - OrgNameChange
              - OrgValidationComplete
              - SanDrop
              type: string
              x-ms-enum:
                name: CertificateOrderActionType
                modelAsString: false
            createdAt:
              format: date-time
              description: Time at which the certificate action was performed
              type: string
          x-ms-client-flatten: true
    CertificateOrder:
      description: Certificate purchase order
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          properties:
            certificates:
              description: State of the Key Vault secret
              type: object
              additionalProperties:
                $ref: '#/components/schemas/CertificateOrderCertificate'
            distinguishedName:
              description: Certificate distinguished name
              type: string
            domainVerificationToken:
              description: Domain Verification Token
              type: string
            validityInYears:
              format: int32
              description: Duration in years (must be between 1 and 3)
              type: integer
            keySize:
              format: int32
              description: Certificate Key Size
              type: integer
            productType:
              description: Certificate product type
              enum:
              - StandardDomainValidatedSsl
              - StandardDomainValidatedWildCardSsl
              type: string
              x-ms-enum:
                name: CertificateProductType
                modelAsString: false
            autoRenew:
              description: Auto renew
              type: boolean
            provisioningState:
              description: Status of certificate order
              enum:
              - Succeeded
              - Failed
              - Canceled
              - InProgress
              - Deleting
              type: string
              x-ms-enum:
                name: ProvisioningState
                modelAsString: false
            status:
              description: Current order status
              enum:
              - Pendingissuance
              - Issued
              - Revoked
              - Canceled
              - Denied
              - Pendingrevocation
              - PendingRekey
              - Unused
              - Expired
              - NotSubmitted
              type: string
              x-ms-enum:
                name: CertificateOrderStatus
                modelAsString: false
            signedCertificate:
              $ref: '#/components/schemas/CertificateDetails'
              description: Signed certificate
            csr:
              description: Last CSR that was created for this order
              type: string
            intermediate:
              $ref: '#/components/schemas/CertificateDetails'
              description: Intermediate certificate
            root:
              $ref: '#/components/schemas/CertificateDetails'
              description: Root certificate
            serialNumber:
              description: Current serial number of the certificate
              type: string
            lastCertificateIssuanceTime:
              format: date-time
              description: Certificate last issuance time
              type: string
            expirationTime:
              format: date-time
              description: Certificate expiration time
              type: string
          x-ms-client-flatten: true
    CertificateEmail:
      description: Certificate Email
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          properties:
            emailId:
              description: Email id
              type: string
            timeStamp:
              format: date-time
              description: Time stamp
              type: string
          x-ms-client-flatten: true
    CertificateOrderCollection:
      description: Collection of certificate orders
      type: object
      properties:
        value:
          description: Collection of resources
          type: array
          items:
            $ref: '#/components/schemas/CertificateOrder'
        nextLink:
          description: Link to next page of resources
          type: string
    CertificateOrderCertificateCollection:
      description: Collection of certificate order certificates
      type: object
      properties:
        value:
          description: Collection of resources
          type: array
          items:
            $ref: '#/components/schemas/CertificateOrderCertificate'
        nextLink:
          description: Link to next page of resources
          type: string
    CertificateDetails:
      description: Certificate Details
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          properties:
            version:
              format: int32
              description: Version
              type: integer
            serialNumber:
              description: Serial Number
              type: string
            thumbprint:
              description: Thumbprint
              type: string
            subject:
              description: Subject
              type: string
            notBefore:
              format: date-time
              description: Valid from
              type: string
            notAfter:
              format: date-time
              description: Valid to
              type: string
            signatureAlgorithm:
              description: Signature Algorithm
              type: string
            issuer:
              description: Issuer
              type: string
            rawData:
              description: Raw certificate data
              type: string
          x-ms-client-flatten: true
    ReissueCertificateOrderRequest:
      description: Class representing certificate reissue request
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          properties:
            keySize:
              format: int32
              description: Certificate Key Size
              type: integer
            delayExistingRevokeInHours:
              format: int32
              description: Delay in hours to revoke existing certificate after the new certificate is issued
              type: integer
          x-ms-client-flatten: true
    Resource:
      required:
      - location
      properties:
        id:
          description: Resource Id
          type: string
        name:
          description: Resource Name
          type: string
        kind:
          description: Kind of resource
          type: string
        location:
          description: Resource Location
          type: string
        type:
          description: Resource type
          type: string
        tags:
          description: Resource tags
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
    RenewCertificateOrderRequest:
      description: Class representing certificate renew request
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          properties:
            keySize:
              format: int32
              description: Certificate Key Size
              type: integer
          x-ms-client-flatten: true
    CertificateOrderCertificate:
      description: Class representing the Key Vault container for certificate purchased through Azure
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          properties:
            keyVaultId:
              description: Key Vault Csm resource Id
              type: string
            keyVaultSecretName:
              description: Key Vault secret name
              type: string
            provisioningState:
              description: Status of the Key Vault secret
              enum:
              - Initialized
              - WaitingOnCertificateOrder
              - Succeeded
              - CertificateOrderFailed
              - OperationNotPermittedOnKeyVault
              - AzureServiceUnauthorizedToAccessKeyVault
              - KeyVaultDoesNotExist
              - KeyVaultSecretDoesNotExist
              - UnknownError
              - Unknown
              type: string
              x-ms-enum:
                name: KeyVaultSecretStatus
                modelAsString: false
          x-ms-client-flatten: true
    Object:
      type: object
      properties: {}
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription Id
      required: true
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      description: API Version
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
