openapi: 3.2.0
info:
  title: Microsoft Azure AzureChangeAnalysisManagementClient Change…
  version: 2021-04-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ChangeSnapshots
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.ChangeAnalysis/changeSnapshots:
    post:
      tags:
      - ChangeSnapshots
      summary: Microsoft Azure Gets Change Snapshots For The Given Resource Id And Change Id
      operationId: microsoftAzureChangesnapshotsGetchangesnapshots
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ResourceIdQueryParameter'
      - $ref: '#/components/parameters/ChangeIdParameter'
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeSnapshots'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        ChangeSnapshots:
          $ref: ./examples/ChangeSnapshotsGetChangeSnapshots.json
      description: Needs a more full description created.
components:
  parameters:
    ChangeIdParameter:
      in: query
      name: $changeId
      description: Specifies the change Id.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceIdQueryParameter:
      in: query
      name: $resourceId
      description: Specifies the resource Id.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  schemas:
    ChangeSnapshots:
      description: The detected change snapshots.
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource
      properties:
        properties:
          $ref: '#/components/schemas/ChangeSnapshotsProperties'
    ChangeSnapshotsProperties:
      description: The change snapshot, represented by a pair of before and after resource snapshots.
      type: object
      properties:
        beforeSnapshot:
          description: The snapshot before the change.
          type: object
        afterSnapshot:
          description: The snapshot after the change.
          type: object
        isHidden:
          description: Is the snapshot hidden
          type: boolean
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
