openapi: 3.2.0
info:
  title: Microsoft Azure Qumulo.Storage File Systems API
  version: 2022-10-12-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Filesystems
paths:
  /subscriptions/{subscriptionId}/providers/Qumulo.Storage/fileSystems:
    get:
      tags:
      - Filesystems
      operationId: microsoftAzureFilesystemsListbysubscription
      description: List FileSystemResource resources by subscription ID
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileSystemResourceListResult'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        FileSystems_ListBySubscription_MaximumSet_Gen:
          $ref: ./examples/FileSystems_ListBySubscription_MaximumSet_Gen.json
        FileSystems_ListBySubscription_MinimumSet_Gen:
          $ref: ./examples/FileSystems_ListBySubscription_MinimumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Qumulo Storage…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Qumulo.Storage/fileSystems:
    get:
      tags:
      - Filesystems
      operationId: microsoftAzureFilesystemsListbyresourcegroup
      description: List FileSystemResource resources by resource group
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileSystemResourceListResult'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        FileSystems_ListByResourceGroup_MaximumSet_Gen:
          $ref: ./examples/FileSystems_ListByResourceGroup_MaximumSet_Gen.json
        FileSystems_ListByResourceGroup_MinimumSet_Gen:
          $ref: ./examples/FileSystems_ListByResourceGroup_MinimumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Qumulo.Storage/fileSystems/{fileSystemName}:
    get:
      tags:
      - Filesystems
      operationId: microsoftAzureFilesystemsGet
      description: Get a FileSystemResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/FileSystemResource.fileSystemName'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileSystemResource'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        FileSystems_Get_MaximumSet_Gen:
          $ref: ./examples/FileSystems_Get_MaximumSet_Gen.json
        FileSystems_Get_MinimumSet_Gen:
          $ref: ./examples/FileSystems_Get_MinimumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Filesystems
      operationId: microsoftAzureFilesystemsCreateorupdate
      description: Create a FileSystemResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/FileSystemResource.fileSystemName'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileSystemResource'
        '201':
          description: ARM create operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileSystemResource'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      x-ms-examples:
        FileSystems_CreateOrUpdate_MaximumSet_Gen:
          $ref: ./examples/FileSystems_CreateOrUpdate_MaximumSet_Gen.json
        FileSystems_CreateOrUpdate_MinimumSet_Gen:
          $ref: ./examples/FileSystems_CreateOrUpdate_MinimumSet_Gen.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileSystemResource'
        description: Resource create parameters.
        required: true
    patch:
      tags:
      - Filesystems
      operationId: microsoftAzureFilesystemsUpdate
      description: Update a FileSystemResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/FileSystemResource.fileSystemName'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileSystemResource'
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        FileSystems_Update_MaximumSet_Gen:
          $ref: ./examples/FileSystems_Update_MaximumSet_Gen.json
        FileSystems_Update_MinimumSet_Gen:
          $ref: ./examples/FileSystems_Update_MinimumSet_Gen.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileSystemResourceUpdate'
        description: The resource properties to be updated.
        required: true
    delete:
      tags:
      - Filesystems
      operationId: microsoftAzureFilesystemsDelete
      description: Delete a FileSystemResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/FileSystemResource.fileSystemName'
      responses:
        '200':
          description: Resource deleted successfully.
        '202':
          description: Resource deletion accepted.
        '204':
          description: Resource already deleted.
        default:
          description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      x-ms-examples:
        FileSystems_Delete_MaximumSet_Gen:
          $ref: ./examples/FileSystems_Delete_MaximumSet_Gen.json
        FileSystems_Delete_MinimumSet_Gen:
          $ref: ./examples/FileSystems_Delete_MinimumSet_Gen.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    FileSystemResourceUpdateProperties:
      type: object
      properties:
        marketplaceDetails:
          $ref: '#/components/schemas/MarketplaceDetails'
          description: Marketplace details
        userDetails:
          $ref: '#/components/schemas/UserDetails'
          description: User Details
        delegatedSubnetId:
          type: string
          description: Delegated subnet id for Vnet injection
        clusterLoginUrl:
          type: string
          description: File system Id of the resource
        privateIPs:
          type: array
          items:
            type: string
          x-cadl-name: string[]
          description: Private IPs of the resource
      description: The updatable properties of the FileSystemResource.
    ProvisioningState:
      type: string
      description: Provisioning State of the File system resource
      enum:
      - Accepted
      - Creating
      - Updating
      - Deleting
      - Succeeded
      - Failed
      - Canceled
      - Deleted
      - NotSpecified
      x-ms-enum:
        name: ProvisioningState
        modelAsString: false
        values:
        - name: Accepted
          value: Accepted
          description: File system resource creation request accepted
        - name: Creating
          value: Creating
          description: File system resource creation started
        - name: Updating
          value: Updating
          description: File system resource is being updated
        - name: Deleting
          value: Deleting
          description: File system resource deletion started
        - name: Succeeded
          value: Succeeded
          description: File system resource creation successful
        - name: Failed
          value: Failed
          description: File system resource creation failed
        - name: Canceled
          value: Canceled
          description: File system resource creation canceled
        - name: Deleted
          value: Deleted
          description: File system resource is deleted
        - name: NotSpecified
          value: NotSpecified
          description: File system resource state is unknown
    FileSystemResourceProperties:
      type: object
      properties:
        marketplaceDetails:
          $ref: '#/components/schemas/MarketplaceDetails'
          description: Marketplace details
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: Provisioning State of the resource
          readOnly: true
        storageSku:
          $ref: '#/components/schemas/StorageSku'
          description: Storage Sku
        userDetails:
          $ref: '#/components/schemas/UserDetails'
          description: User Details
        delegatedSubnetId:
          type: string
          description: Delegated subnet id for Vnet injection
        clusterLoginUrl:
          type: string
          description: File system Id of the resource
        privateIPs:
          type: array
          items:
            type: string
          x-cadl-name: string[]
          description: Private IPs of the resource
        adminPassword:
          type: string
          x-ms-secret: true
          description: Initial administrator password of the resource
        initialCapacity:
          type: integer
          format: int32
          description: Storage capacity in TB
        availabilityZone:
          type: string
          description: Availability zone
      description: Properties specific to the Qumulo File System resource
      required:
      - marketplaceDetails
      - userDetails
      - delegatedSubnetId
      - adminPassword
      - storageSku
      - initialCapacity
    FileSystemResource:
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/FileSystemResourceProperties'
          description: The resource-specific properties for this resource.
          x-ms-mutability:
          - read
          - create
          x-ms-client-flatten: true
        name:
          type: string
          description: Name of the File System resource
          readOnly: true
        identity:
          $ref: ../../../../../common-types/resource-management/v4/managedidentity.json#/definitions/ManagedServiceIdentity
          description: The managed service identities assigned to this resource.
      description: A FileSystem Resource by Qumulo
      required:
      - properties
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
    UserDetails:
      type: object
      properties:
        email:
          type: string
          x-ms-secret: true
          description: User Email
      description: User Details of Qumulo FileSystem resource
      required:
      - email
    MarketplaceSubscriptionStatus:
      type: string
      description: Marketplace subscription status of the file system resource
      enum:
      - PendingFulfillmentStart
      - Subscribed
      - Suspended
      - Unsubscribed
      x-ms-enum:
        name: MarketplaceSubscriptionStatus
        modelAsString: false
        values:
        - name: PendingFulfillmentStart
          value: PendingFulfillmentStart
          description: Fulfillment has not started
        - name: Subscribed
          value: Subscribed
          description: Marketplace offer is subscribed
        - name: Suspended
          value: Suspended
          description: Marketplace offer is suspended because of non payment
        - name: Unsubscribed
          value: Unsubscribed
          description: Marketplace offer is unsubscribed
    MarketplaceDetails:
      type: object
      properties:
        marketplaceSubscriptionId:
          type: string
          description: Marketplace Subscription Id
        planId:
          type: string
          description: Plan Id
        offerId:
          type: string
          description: Offer Id
        publisherId:
          type: string
          description: Publisher Id
        marketplaceSubscriptionStatus:
          $ref: '#/components/schemas/MarketplaceSubscriptionStatus'
          description: Marketplace subscription status
          readOnly: true
      description: MarketplaceDetails of Qumulo FileSystem resource
      required:
      - planId
      - offerId
      - publisherId
    StorageSku:
      type: string
      description: Storage Sku
      enum:
      - Standard
      - Performance
      x-ms-enum:
        name: StorageSku
        modelAsString: false
        values:
        - name: Standard
          value: Standard
          description: Standard Storage Sku
        - name: Performance
          value: Performance
          description: Performance Storage Sku
    FileSystemResourceUpdate:
      type: object
      properties:
        identity:
          $ref: ../../../../../common-types/resource-management/v4/managedidentity.json#/definitions/ManagedServiceIdentity
          description: The managed service identities assigned to this resource.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
        properties:
          $ref: '#/components/schemas/FileSystemResourceUpdateProperties'
      description: The type used for update operations of the FileSystemResource.
    FileSystemResourceListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/FileSystemResource'
          x-cadl-name: FileSystemResource[]
          description: The FileSystemResource items on this page
        nextLink:
          type: string
          description: The link to the next page of items
      description: The response of a FileSystemResource list operation.
      required:
      - value
  parameters:
    FileSystemResource.fileSystemName:
      name: fileSystemName
      in: path
      required: true
      description: Name of the File System resource
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
