openapi: 3.2.0
info:
  version: 2022-12-01-preview
  title: Microsoft Azure DataBoxEdgeManagementClient Marketplace…
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: MarketplaceImageSku
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/publishers/{publisherName}/offers/{offerName}/skus
  : get:
      tags:
      - MarketplaceImageSku
      summary: Microsoft Azure Returns List Of Skus Within Offer
      operationId: microsoftAzureMarketplaceimageskuListskuswithinoffer
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: deviceName
        in: path
        description: ''
        required: true
        schema:
          type: string
          pattern: '[ A-Za-z0-9_@./#&+-]*'
      - name: publisherName
        in: path
        description: ''
        required: true
        schema:
          type: string
          pattern: '[ A-Za-z0-9_@./#&+-]*'
      - name: offerName
        in: path
        description: ''
        required: true
        schema:
          type: string
          pattern: '[ A-Za-z0-9_@./#&+-]*'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: ListSKUsWithinOffer is working fine
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceImageSkuList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        OrderGet:
          $ref: ./examples/ListSKUsWithinOffer.json
      description: Needs a more full description created.
components:
  schemas:
    CloudError:
      description: An error response from the service.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: The error details.
      x-ms-external: true
    MarketplaceImageSkuProperties:
      type: object
      properties:
        publisherId:
          type: string
        offerId:
          type: string
        content:
          type: string
        contentVersion:
          type: string
        skuMappings:
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/SkuMapping'
          x-ms-identifiers: []
        provisioningState:
          type: string
    ARMBaseModel:
      description: Represents the base class for all object models.
      type: object
      properties:
        id:
          description: The path ID that uniquely identifies the object.
          type: string
          readOnly: true
        name:
          description: The object name.
          type: string
          readOnly: true
        type:
          description: The hierarchical type of the object.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    CloudErrorBody:
      description: An error response from the service.
      type: object
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
          type: string
        message:
          description: A message describing the error, intended to be suitable for display in a user interface.
          type: string
        details:
          description: A list of additional details about the error.
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          x-ms-identifiers: []
      x-ms-external: true
    MarketplaceImageSku:
      type: object
      allOf:
      - $ref: '#/components/schemas/ARMBaseModel'
      properties:
        properties:
          $ref: '#/components/schemas/MarketplaceImageSkuProperties'
          x-ms-client-flatten: true
    SkuMapping:
      type: object
      properties:
        catalogPlanId:
          type: string
        marketplaceSkuId:
          type: string
        marketplaceSkuVersions:
          uniqueItems: false
          type: array
          items:
            type: string
    MarketplaceImageSkuList:
      type: object
      properties:
        value:
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/MarketplaceImageSku'
        nextLink:
          type: string
          readOnly: true
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID.
      required: true
      schema:
        type: string
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The resource group name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      description: The API version.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
