openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft.IoTOperationsMQ management…
  version: 2023-10-04-preview
  description: Microsoft.IoTOperationsMQ Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Mq
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.IoTOperationsMQ/mq:
    get:
      operationId: microsoftAzureMqListbysubscription
      tags:
      - Mq
      description: List MqResource resources by subscription ID
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MqResourceListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Mq_ListBySubscription:
          $ref: ./examples/Mq_ListBySubscription_MaximumSet_Gen.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTOperationsMQ/mq:
    get:
      operationId: microsoftAzureMqListbyresourcegroup
      tags:
      - Mq
      description: List MqResource resources by resource group
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MqResourceListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Mq_ListByResourceGroup:
          $ref: ./examples/Mq_ListByResourceGroup_MaximumSet_Gen.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTOperationsMQ/mq/{mqName}:
    get:
      operationId: microsoftAzureMqGet
      tags:
      - Mq
      description: Get a MqResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: mqName
        in: path
        description: Name of MQ resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MqResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Mq_Get:
          $ref: ./examples/Mq_Get_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      operationId: microsoftAzureMqCreateorupdate
      tags:
      - Mq
      description: Create a MqResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: mqName
        in: path
        description: Name of MQ resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Resource 'MqResource' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MqResource'
        '201':
          description: Resource 'MqResource' create operation succeeded
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MqResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Mq_CreateOrUpdate:
          $ref: ./examples/Mq_CreateOrUpdate_MaximumSet_Gen.json
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MqResource'
        description: Resource create parameters.
        required: true
    patch:
      operationId: microsoftAzureMqUpdate
      tags:
      - Mq
      description: Update a MqResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: mqName
        in: path
        description: Name of MQ resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MqResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Mq_Update:
          $ref: ./examples/Mq_Update_MaximumSet_Gen.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MqResourceUpdate'
        description: The resource properties to be updated.
        required: true
    delete:
      operationId: microsoftAzureMqDelete
      tags:
      - Mq
      description: Delete a MqResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: mqName
        in: path
        description: Name of MQ resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Mq_Delete:
          $ref: ./examples/Mq_Delete_MaximumSet_Gen.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    ProvisioningState:
      type: string
      description: The enum defining status of resource.
      enum:
      - Succeeded
      - Failed
      - Canceled
      - Provisioning
      - Updating
      - Deleting
      - Accepted
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: Succeeded
          value: Succeeded
          description: Resource has been created.
        - name: Failed
          value: Failed
          description: Resource creation failed.
        - name: Canceled
          value: Canceled
          description: Resource creation was canceled.
        - name: Provisioning
          value: Provisioning
          description: Resource is getting provisioned.
        - name: Updating
          value: Updating
          description: Resource is Updating.
        - name: Deleting
          value: Deleting
          description: Resource is Deleting.
        - name: Accepted
          value: Accepted
          description: Resource has been Accepted.
    MqResource:
      type: object
      description: MQ resource
      properties:
        properties:
          $ref: '#/components/schemas/MqProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
        extendedLocation:
          $ref: '#/components/schemas/ExtendedLocationProperty'
          description: Extended Location
          x-ms-mutability:
          - read
          - create
      required:
      - extendedLocation
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
    ExtendedLocationType:
      type: string
      description: The enum defining type of ExtendedLocation accepted.
      enum:
      - CustomLocation
      x-ms-enum:
        name: ExtendedLocationType
        modelAsString: true
        values:
        - name: CustomLocation
          value: CustomLocation
          description: CustomLocation type
    MqResourceListResult:
      type: object
      description: The response of a MqResource list operation.
      properties:
        value:
          type: array
          description: The MqResource items on this page
          items:
            $ref: '#/components/schemas/MqResource'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    MqResourceUpdate:
      type: object
      description: The type used for update operations of the MqResource.
      properties:
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
    ExtendedLocationProperty:
      type: object
      description: ExtendedLocation properties
      properties:
        name:
          type: string
          description: The name of the extended location.
        type:
          $ref: '#/components/schemas/ExtendedLocationType'
          description: Type of ExtendedLocation.
      required:
      - name
      - type
    MqProperties:
      type: object
      description: MQ Resource properties
      properties:
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The status of the last operation.
          readOnly: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
