openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft.Community Community Trainings API
  version: '2023-11-01'
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: CommunityTrainings
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Community/communityTrainings:
    get:
      operationId: microsoftAzureCommunitytrainingsListbysubscription
      tags:
      - CommunityTrainings
      description: List CommunityTraining resources by subscription ID
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityTrainingListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        ListBySubscriptionCommunityTrainings:
          $ref: ./examples/CommunityTrainings_ListBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Community…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Community/communityTrainings:
    get:
      operationId: microsoftAzureCommunitytrainingsListbyresourcegroup
      tags:
      - CommunityTrainings
      description: List CommunityTraining resources by resource group
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityTrainingListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        ListByResourceGroupCommunityTrainings:
          $ref: ./examples/CommunityTrainings_ListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Community/communityTrainings/{communityTrainingName}
  : get:
      operationId: microsoftAzureCommunitytrainingsGet
      tags:
      - CommunityTrainings
      description: Get a CommunityTraining
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: communityTrainingName
        in: path
        description: The name of the Community Training Resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityTraining'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        GetCommunityTrainings:
          $ref: ./examples/CommunityTrainings_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      operationId: microsoftAzureCommunitytrainingsCreate
      tags:
      - CommunityTrainings
      description: Create a CommunityTraining
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: communityTrainingName
        in: path
        description: The name of the Community Training Resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Resource 'CommunityTraining' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityTraining'
        '201':
          description: Resource 'CommunityTraining' create operation succeeded
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityTraining'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        CreateCommunityTrainings:
          $ref: ./examples/CommunityTrainings_Create.json
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommunityTraining'
        description: Resource create parameters.
        required: true
    patch:
      operationId: microsoftAzureCommunitytrainingsUpdate
      tags:
      - CommunityTrainings
      description: Update a CommunityTraining
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: communityTrainingName
        in: path
        description: The name of the Community Training Resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityTraining'
        '202':
          description: Resource update request accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        UpdateCommunityTrainings:
          $ref: ./examples/CommunityTrainings_Update.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommunityTrainingUpdate'
        description: The resource properties to be updated.
        required: true
    delete:
      operationId: microsoftAzureCommunitytrainingsDelete
      tags:
      - CommunityTrainings
      description: Delete a CommunityTraining
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: communityTrainingName
        in: path
        description: The name of the Community Training Resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Resource deleted successfully.
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        DeleteCommunityTrainings:
          $ref: ./examples/CommunityTrainings_Delete.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    CommunityTrainingUpdate:
      type: object
      description: The type used for update operations of the CommunityTraining.
      properties:
        sku:
          $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/Sku
          description: The SKU (Stock Keeping Unit) assigned to this resource.
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
        properties:
          $ref: '#/components/schemas/CommunityTrainingUpdateProperties'
          x-ms-client-flatten: true
    ProvisioningState:
      type: string
      description: The status of the current operation.
      enum:
      - Succeeded
      - Failed
      - Canceled
      - Provisioning
      - Updating
      - Deleting
      - Accepted
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: Succeeded
          value: Succeeded
          description: Resource has been created.
        - name: Failed
          value: Failed
          description: Resource creation failed.
        - name: Canceled
          value: Canceled
          description: Resource creation was canceled.
        - name: Provisioning
          value: Provisioning
          description: Initial provisioning in progress
        - name: Updating
          value: Updating
          description: Update in progress
        - name: Deleting
          value: Deleting
          description: Deletion in progress
        - name: Accepted
          value: Accepted
          description: Change accepted for processing
    IdentityConfigurationProperties:
      type: object
      description: Details of the Community CommunityTraining Identity Configuration
      properties:
        identityType:
          type: string
          description: The identity type of the Community Training Resource
          x-ms-mutability:
          - read
          - update
          - create
        teamsEnabled:
          type: boolean
          description: To indicate whether the Community Training Resource has Teams enabled
          default: false
          x-ms-mutability:
          - read
          - update
          - create
        tenantId:
          type: string
          description: The tenantId of the selected identity provider for the Community Training Resource
          x-ms-mutability:
          - read
          - update
          - create
        domainName:
          type: string
          description: The domain name of the selected identity provider for the Community Training Resource
          x-ms-mutability:
          - read
          - update
          - create
        clientId:
          type: string
          description: The clientId of the application registered in the selected identity provider for the Community Training Resource
          x-ms-mutability:
          - read
          - update
          - create
        clientSecret:
          type: string
          format: password
          description: The client secret of the application registered in the selected identity provider for the Community Training Resource
          x-ms-mutability:
          - read
          - update
          - create
          x-ms-secret: true
        b2cAuthenticationPolicy:
          type: string
          description: The name of the authentication policy registered in ADB2C for the Community Training Resource
          x-ms-mutability:
          - read
          - update
          - create
        b2cPasswordResetPolicy:
          type: string
          description: The name of the password reset policy registered in ADB2C for the Community Training Resource
          x-ms-mutability:
          - read
          - update
          - create
        customLoginParameters:
          type: string
          description: The custom login parameters for the Community Training Resource
          x-ms-mutability:
          - read
          - update
          - create
      required:
      - identityType
      - tenantId
      - domainName
      - clientId
      - clientSecret
    CommunityTrainingListResult:
      type: object
      description: The response of a CommunityTraining list operation.
      properties:
        value:
          type: array
          description: The CommunityTraining items on this page
          items:
            $ref: '#/components/schemas/CommunityTraining'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    IdentityConfigurationPropertiesUpdate:
      type: object
      description: Details of the Community CommunityTraining Identity Configuration
      properties:
        identityType:
          type: string
          description: The identity type of the Community Training Resource
          x-ms-mutability:
          - read
          - update
          - create
        teamsEnabled:
          type: boolean
          description: To indicate whether the Community Training Resource has Teams enabled
          default: false
          x-ms-mutability:
          - read
          - update
          - create
        tenantId:
          type: string
          description: The tenantId of the selected identity provider for the Community Training Resource
          x-ms-mutability:
          - read
          - update
          - create
        domainName:
          type: string
          description: The domain name of the selected identity provider for the Community Training Resource
          x-ms-mutability:
          - read
          - update
          - create
        clientId:
          type: string
          description: The clientId of the application registered in the selected identity provider for the Community Training Resource
          x-ms-mutability:
          - read
          - update
          - create
        clientSecret:
          type: string
          format: password
          description: The client secret of the application registered in the selected identity provider for the Community Training Resource
          x-ms-mutability:
          - read
          - update
          - create
          x-ms-secret: true
        b2cAuthenticationPolicy:
          type: string
          description: The name of the authentication policy registered in ADB2C for the Community Training Resource
          x-ms-mutability:
          - read
          - update
          - create
        b2cPasswordResetPolicy:
          type: string
          description: The name of the password reset policy registered in ADB2C for the Community Training Resource
          x-ms-mutability:
          - read
          - update
          - create
        customLoginParameters:
          type: string
          description: The custom login parameters for the Community Training Resource
          x-ms-mutability:
          - read
          - update
          - create
    CommunityTraining:
      type: object
      description: A CommunityProviderHub resource
      properties:
        properties:
          $ref: '#/components/schemas/CommunityTrainingProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
        sku:
          $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/Sku
          description: The SKU (Stock Keeping Unit) assigned to this resource.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
    CommunityTrainingUpdateProperties:
      type: object
      description: The updatable properties of the CommunityTraining.
      properties:
        identityConfiguration:
          $ref: '#/components/schemas/IdentityConfigurationPropertiesUpdate'
          description: The identity configuration of the Community Training resource
          x-ms-mutability:
          - read
          - update
          - create
    CommunityTrainingProperties:
      type: object
      description: Details of the Community CommunityTraining.
      properties:
        portalName:
          type: string
          description: The portal name (website name) of the Community Training instance
          x-ms-mutability:
          - read
          - create
        portalAdminEmailAddress:
          type: string
          description: The email address of the portal admin
          x-ms-mutability:
          - read
          - create
        portalOwnerOrganizationName:
          type: string
          description: The organization name of the portal owner
          x-ms-mutability:
          - read
          - create
        portalOwnerEmailAddress:
          type: string
          description: The email address of the portal owner. Will be used as the primary contact
          x-ms-mutability:
          - read
          - create
        identityConfiguration:
          $ref: '#/components/schemas/IdentityConfigurationProperties'
          description: The identity configuration of the Community Training resource
          x-ms-mutability:
          - read
          - update
          - create
        zoneRedundancyEnabled:
          type: boolean
          description: To indicate whether the Community Training instance has Zone Redundancy enabled
          x-ms-mutability:
          - read
          - create
        disasterRecoveryEnabled:
          type: boolean
          description: To indicate whether the Community Training instance has Disaster Recovery enabled
          x-ms-mutability:
          - read
          - create
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The status of the last operation.
          readOnly: true
      required:
      - portalName
      - portalAdminEmailAddress
      - portalOwnerOrganizationName
      - portalOwnerEmailAddress
      - identityConfiguration
      - zoneRedundancyEnabled
      - disasterRecoveryEnabled
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
