openapi: 3.2.0
info:
  title: Microsoft Azure Search API
  x-refined-note:
  - x-typespec-generated differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Search across 2 of this provider''s published API definitions: azure-analytics-purview-data-map-openapi-original.yml, azure-maps-search-service-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://atlas.microsoft.com
tags:
- name: Search
paths:
  /search/autocomplete:
    post:
      operationId: microsoftAzureDiscoveryAutocomplete
      description: Get auto complete options.
      parameters:
      - $ref: '#/components/parameters/Azure.Core.Foundations.ApiVersionParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoCompleteResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtlasErrorResponse'
      x-ms-examples:
        Discovery_AutoComplete:
          $ref: ./examples/Discovery_AutoComplete.json
      summary: Microsoft Azure Post Search Autocomplete
      tags:
      - Search
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoCompleteOptions'
        required: true
      security:
      - OAuth2Auth:
        - https://purview.azure.net/.default
  /search/query:
    post:
      operationId: microsoftAzureDiscoveryQuery
      description: Get data using search.
      parameters:
      - $ref: '#/components/parameters/Azure.Core.Foundations.ApiVersionParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtlasErrorResponse'
      x-ms-examples:
        Discovery_Query:
          $ref: ./examples/Discovery_Query.json
        Discovery_Query_And:
          $ref: ./examples/Discovery_Query_And.json
        Discovery_Query_AndOrNested:
          $ref: ./examples/Discovery_Query_AndOrNested.json
        Discovery_Query_AssetType:
          $ref: ./examples/Discovery_Query_AssetType.json
        Discovery_Query_Attribute:
          $ref: ./examples/Discovery_Query_Attribute.json
        Discovery_Query_BusinessMetadataAttribute:
          $ref: ./examples/Discovery_Query_BusinessMetadataAttribute.json
        Discovery_Query_Classification:
          $ref: ./examples/Discovery_Query_Classification.json
        Discovery_Query_Collection:
          $ref: ./examples/Discovery_Query_Collection.json
        Discovery_Query_Facet:
          $ref: ./examples/Discovery_Query_Facet.json
        Discovery_Query_FileExtension:
          $ref: ./examples/Discovery_Query_FileExtension.json
        Discovery_Query_GlossaryTerm:
          $ref: ./examples/Discovery_Query_GlossaryTerm.json
        Discovery_Query_Id:
          $ref: ./examples/Discovery_Query_Id.json
        Discovery_Query_Not:
          $ref: ./examples/Discovery_Query_Not.json
        Discovery_Query_ObjectType:
          $ref: ./examples/Discovery_Query_ObjectType.json
        Discovery_Query_PaginationContinuationPage:
          $ref: ./examples/Discovery_Query_PaginationContinuationPage.json
        Discovery_Query_PaginationFirstPage:
          $ref: ./examples/Discovery_Query_PaginationFirstPage.json
        Discovery_Query_PaginationLastPage:
          $ref: ./examples/Discovery_Query_PaginationLastPage.json
        Discovery_Query_SystemTime:
          $ref: ./examples/Discovery_Query_SystemTime.json
        Discovery_Query_Taxonomy:
          $ref: ./examples/Discovery_Query_Taxonomy.json
        Discovery_Query_TermAssignment:
          $ref: ./examples/Discovery_Query_TermAssignment.json
        Discovery_Query_Type:
          $ref: ./examples/Discovery_Query_Type.json
      summary: Microsoft Azure Post Search Query
      tags:
      - Search
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryOptions'
        required: true
      security:
      - OAuth2Auth:
        - https://purview.azure.net/.default
  /search/suggest:
    post:
      operationId: microsoftAzureDiscoverySuggest
      description: Get search suggestions by query criteria.
      parameters:
      - $ref: '#/components/parameters/Azure.Core.Foundations.ApiVersionParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuggestResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtlasErrorResponse'
      x-ms-examples:
        Discovery_Suggest:
          $ref: ./examples/Discovery_Suggest.json
      summary: Microsoft Azure Post Search Suggest
      tags:
      - Search
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuggestOptions'
        required: true
      security:
      - OAuth2Auth:
        - https://purview.azure.net/.default
  /search/polygon/{format}:
    get:
      x-publish: true
      description: '**Get Polygon**


        **Applies to**: S1 pricing tier.


        The Get Polygon service allows you to request the geometry data such as a city or country outline for a set of entities, previously retrieved from an Online Search request in GeoJSON format. The geometry ID is returned in the dataSources object under "geometry" and "id" in either a Search Address or Search Fuzzy call.


        Please note that any geometry ID retrieved from an Online Search endpoint has a limited lifetime. The client should not store geometry IDs in persistent storage for later referral, as the stability of these identifiers is not guaranteed for a long period of time. It is expected that a request to the Polygon method is made within a few minutes of the request to the Online Search method that provided the ID. The service allows for batch requests up to 20 identifiers.'
      operationId: microsoftAzureSearchGetsearchpolygon
      x-ms-examples:
        Get the Geometry using the geometry id returned by the previous Search:
          $ref: ./examples/GetSearchPolygon.json
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/SubscriptionKey'
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/JsonFormat'
      - name: geometries
        in: query
        description: Comma separated list of geometry UUIDs, previously retrieved from an Online Search request.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchPolygonResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Microsoft Azure Get Search Polygon Format
      tags:
      - Search
      security:
      - AADToken:
        - https://atlas.microsoft.com/.default
      - SharedKey: []
      - SasToken: []
    servers:
    - url: https://atlas.microsoft.com
  /search/fuzzy/{format}:
    get:
      x-publish: true
      description: '**Free Form Search**


        **Applies to**: S0 and S1 pricing tiers.


        The basic default API is Free Form Search which handles the most fuzzy of inputs handling any combination of address or POI tokens. This search API is the canonical ''single line search''. The Free Form Search API is a seamless combination of POI search and geocoding. The API can also be weighted with a contextual position (lat./lon. pair), or fully constrained by a coordinate and radius, or it can be executed more generally without any geo biasing anchor point.We strongly advise you to use the ''countrySet'' parameter to specify only the countries for which your application needs coverage, as the default behavior will be to search the entire world, potentially returning unnecessary results. E.g.: `countrySet`=US,FR Please see Search Coverage for a complete list of all the supported countries.Most Search queries default to `maxFuzzyLevel`=2 to gain performance and also reduce unusual results. This new default can be overridden as needed per request by passing in the query param `maxFuzzyLevel`=3 or 4.'
      operationId: microsoftAzureSearchGetsearchfuzzy
      x-ms-examples:
        Search City Seattle:
          $ref: ./examples/GetSearchFuzzy.json
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/SubscriptionKey'
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/TextFormat'
      - name: query
        in: query
        description: The applicable query string (e.g., "seattle", "pizza"). Can _also_ be specified as a comma separated string composed by latitude followed by longitude (e.g., "47.641268, -122.125679"). Must be properly URL encoded.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - $ref: '#/components/parameters/Typeahead'
      - $ref: '#/components/parameters/LimitSearch'
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/CategorySet'
      - $ref: '#/components/parameters/CountrySet'
      - $ref: '#/components/parameters/OptionalBiasLat'
      - $ref: '#/components/parameters/OptionalBiasLon'
      - $ref: '#/components/parameters/Radius'
      - $ref: '#/components/parameters/BoundingBoxTopLeft'
      - $ref: '#/components/parameters/BoundingBoxBottomRight'
      - $ref: '#/components/parameters/Language'
      - $ref: '#/components/parameters/ExtendedPostalCodesFor'
      - name: minFuzzyLevel
        in: query
        description: 'Minimum fuzziness level to be used. Default: 1, minimum: 1 and maximum: 4


          * Level 1 has no spell checking.


          * Level 2 uses normal n-gram spell checking. For example, query "restrant" can be matched to "restaurant."


          * Level 3 uses sound-like spell checking, and shingle spell checking. Sound-like spell checking is for "rstrnt" to "restaurant" matching. Shingle spell checking is for "mountainview" to "mountain view" matching.


          * Level 4 doesn’t add any more spell checking functions.




          The search engine will start looking for a match on the level defined by minFuzzyLevel, and will stop searching at the level specified by maxFuzzyLevel.'
        required: false
        schema:
          type: integer
          default: 1
          maximum: 4
          minimum: 1
      - name: maxFuzzyLevel
        in: query
        description: 'Maximum fuzziness level to be used. Default: 2, minimum: 1 and maximum: 4


          * Level 1 has no spell checking.


          * Level 2 uses normal n-gram spell checking. For example, query "restrant" can be matched to "restaurant."


          * Level 3 uses sound-like spell checking, and shingle spell checking. Sound-like spell checking is for "rstrnt" to "restaurant" matching. Shingle spell checking is for "mountainview" to "mountain view" matching.


          * Level 4 doesn’t add any more spell checking functions.




          The search engine will start looking for a match on the level defined by minFuzzyLevel, and will stop searching at the level specified by maxFuzzyLevel.'
        required: false
        schema:
          type: integer
          default: 2
          maximum: 4
          minimum: 1
      - $ref: '#/components/parameters/SearchIndexSet'
      - $ref: '#/components/parameters/BrandSet'
      - $ref: '#/components/parameters/ConnectorSet'
      - $ref: '#/components/parameters/View'
      - $ref: '#/components/parameters/OpeningHours'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchFuzzyResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/SearchFuzzyResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Microsoft Azure Get Search Fuzzy Format
      tags:
      - Search
      security:
      - AADToken:
        - https://atlas.microsoft.com/.default
      - SharedKey: []
      - SasToken: []
    servers:
    - url: https://atlas.microsoft.com
  /search/poi/{format}:
    get:
      x-publish: true
      description: '**Get POI by Name**


        **Applies to**: S0 and S1 pricing tiers.


        Points of Interest (POI) Search allows you to request POI results by name. Search supports additional query parameters such as language and filtering results by area of interest driven by country or bounding box. Endpoint will return only POI results matching the query string. Response includes POI details such as address, coordinate location and category.'
      operationId: microsoftAzureSearchGetsearchpoi
      x-ms-examples:
        Search for juice bars within 5 miles of Seattle Downtown and limit the response to 5 results:
          $ref: ./examples/GetSearchPOI.json
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/SubscriptionKey'
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/TextFormat'
      - name: query
        in: query
        description: The POI name to search for (e.g., "statue of liberty", "starbucks"), must be properly URL encoded.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - $ref: '#/components/parameters/Typeahead'
      - $ref: '#/components/parameters/LimitSearch'
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/CategorySet'
      - $ref: '#/components/parameters/CountrySet'
      - $ref: '#/components/parameters/OptionalBiasLat'
      - $ref: '#/components/parameters/OptionalBiasLon'
      - $ref: '#/components/parameters/Radius'
      - $ref: '#/components/parameters/BoundingBoxTopLeft'
      - $ref: '#/components/parameters/BoundingBoxBottomRight'
      - $ref: '#/components/parameters/Language'
      - $ref: '#/components/parameters/ExtendedPostalCodesForPoi'
      - $ref: '#/components/parameters/BrandSet'
      - $ref: '#/components/parameters/ConnectorSet'
      - $ref: '#/components/parameters/View'
      - $ref: '#/components/parameters/OpeningHours'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchPoiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/SearchPoiResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Microsoft Azure Get Search Poi Format
      tags:
      - Search
      security:
      - AADToken:
        - https://atlas.microsoft.com/.default
      - SharedKey: []
      - SasToken: []
    servers:
    - url: https://atlas.microsoft.com
  /search/nearby/{format}:
    get:
      x-publish: true
      description: '**Nearby Search**


        **Applies to**: S0 and S1 pricing tiers.


        If you have a use case for only retrieving POI results around a specific location, the nearby search method may be the right choice. This endpoint will only return POI results, and does not take in a search query parameter.'
      operationId: microsoftAzureSearchGetsearchnearby
      x-ms-examples:
        Search for any points of interest (POI) within 5 miles of Manhattan NY and return the top 10 results:
          $ref: ./examples/GetSearchNearby.json
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/SubscriptionKey'
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/TextFormat'
      - $ref: '#/components/parameters/RequiredBiasLat'
      - $ref: '#/components/parameters/RequiredBiasLon'
      - $ref: '#/components/parameters/LimitSearch'
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/CategorySet'
      - $ref: '#/components/parameters/CountrySet'
      - name: radius
        in: query
        description: The radius in meters to for the results to be constrained to the defined area, Min value is 1, Max Value is 50000.
        required: false
        schema:
          type: number
      - $ref: '#/components/parameters/Language'
      - $ref: '#/components/parameters/ExtendedPostalCodesFor'
      - $ref: '#/components/parameters/BrandSet'
      - $ref: '#/components/parameters/ConnectorSet'
      - $ref: '#/components/parameters/View'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchNearbyResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/SearchNearbyResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Microsoft Azure Get Search Nearby Format
      tags:
      - Search
      security:
      - AADToken:
        - https://atlas.microsoft.com/.default
      - SharedKey: []
      - SasToken: []
    servers:
    - url: https://atlas.microsoft.com
  /search/poi/category/{format}:
    get:
      x-publish: true
      description: '**Get POI by Category**


        **Applies to**: S0 and S1 pricing tiers.


        Points of Interest (POI) Category Search allows you to request POI results from given category. Search allows to query POIs from one category at a time. Endpoint will only return POI results which are categorized as specified. Response includes POI details such as address, coordinate location and classification.'
      operationId: microsoftAzureSearchGetsearchpoicategory
      x-ms-examples:
        Search for atm's within 2 miles of Times Square NY and return the top 3 results:
          $ref: ./examples/GetSearchPOICategory.json
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/SubscriptionKey'
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/TextFormat'
      - name: query
        in: query
        description: The POI category to search for (e.g., "AIRPORT", "RESTAURANT"), must be properly URL encoded. Supported main categories can be requested by calling [Get Search POI Category Tree API](https://aka.ms/AzureMapsPOICategoryTree). List of available categories can also be found [here](https://docs.microsoft.com/azure/azure-maps/supported-search-categories). We recommend to use POI Search Category Tree API to request the supported categories.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - $ref: '#/components/parameters/Typeahead'
      - $ref: '#/components/parameters/LimitSearch'
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/CategorySet'
      - $ref: '#/components/parameters/CountrySet'
      - $ref: '#/components/parameters/OptionalBiasLat'
      - $ref: '#/components/parameters/OptionalBiasLon'
      - $ref: '#/components/parameters/Radius'
      - $ref: '#/components/parameters/BoundingBoxTopLeft'
      - $ref: '#/components/parameters/BoundingBoxBottomRight'
      - $ref: '#/components/parameters/Language'
      - $ref: '#/components/parameters/ExtendedPostalCodesFor'
      - $ref: '#/components/parameters/BrandSet'
      - $ref: '#/components/parameters/ConnectorSet'
      - $ref: '#/components/parameters/View'
      - $ref: '#/components/parameters/OpeningHours'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchPoiCategoryResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/SearchPoiCategoryResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Microsoft Azure Get Search Poi Category Format
      tags:
      - Search
      security:
      - AADToken:
        - https://atlas.microsoft.com/.default
      - SharedKey: []
      - SasToken: []
    servers:
    - url: https://atlas.microsoft.com
  /search/poi/category/tree/{format}:
    get:
      x-publish: true
      description: '**Get POI Category Tree**


        **Applies to**: S0 and S1 pricing tiers.


        POI Category API provides a full list of supported Points of Interest (POI) categories and subcategories together with their translations and synonyms. The returned content can be used to provide more meaningful results through other Search Service APIs, like Get Search POI.'
      operationId: microsoftAzureSearchGetsearchpoicategorytreepreview
      x-ms-examples:
        Get the POI Category Tree (only partial response shown below):
          $ref: ./examples/GetPOICategoryTree.json
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/SubscriptionKey'
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/JsonFormat'
      - name: language
        in: query
        description: 'Language in which search results should be returned. Should be one of supported IETF language tags, except NGT and NGT-Latn. Language tag is case insensitive. When data in specified language is not available for a specific field, default language is used (English).


          Please refer to [Supported Languages](https://docs.microsoft.com/azure/azure-maps/supported-languages) for details.'
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PoiCategoryResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/PoiCategoryResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Microsoft Azure Get Search Poi Category Tree Format
      tags:
      - Search
      security:
      - AADToken:
        - https://atlas.microsoft.com/.default
      - SharedKey: []
      - SasToken: []
    servers:
    - url: https://atlas.microsoft.com
  /search/address/{format}:
    get:
      x-publish: true
      description: '**Address Geocoding**


        **Applies to**: S0 and S1 pricing tiers.


        In many cases, the complete search service might be too much, for instance if you are only interested in traditional geocoding. Search can also be accessed for address look up exclusively. The geocoding is performed by hitting the geocode endpoint with just the address or partial address in question. The geocoding search index will be queried for everything above the street level data. No POIs will be returned. Note that the geocoder is very tolerant of typos and incomplete addresses. It will also handle everything from exact street addresses or street or intersections as well as higher level geographies such as city centers, counties, states etc.'
      operationId: microsoftAzureSearchGetsearchaddress
      x-ms-examples:
        Search detail address 15127 NE 24th Street, Redmond, WA 98052:
          $ref: ./examples/GetSearchAddress.json
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/SubscriptionKey'
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/TextFormat'
      - name: query
        in: query
        description: The address to search for (e.g., "1 Microsoft way, Redmond, WA"), must be properly URL encoded.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - $ref: '#/components/parameters/Typeahead'
      - $ref: '#/components/parameters/LimitSearch'
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/CountrySet'
      - $ref: '#/components/parameters/OptionalBiasLat'
      - $ref: '#/components/parameters/OptionalBiasLon'
      - $ref: '#/components/parameters/Radius'
      - $ref: '#/components/parameters/BoundingBoxTopLeft'
      - $ref: '#/components/parameters/BoundingBoxBottomRight'
      - $ref: '#/components/parameters/Language'
      - $ref: '#/components/parameters/ExtendedPostalCodesFor'
      - $ref: '#/components/parameters/View'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchAddressResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/SearchAddressResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Microsoft Azure Get Search Address Format
      tags:
      - Search
      security:
      - AADToken:
        - https://atlas.microsoft.com/.default
      - SharedKey: []
      - SasToken: []
    servers:
    - url: https://atlas.microsoft.com
  /search/address/reverse/{format}:
    get:
      x-publish: true
      description: '**Reverse Geocode to an Address**


        **Applies to**: S0 and S1 pricing tiers.


        There may be times when you need to translate a coordinate (example: 37.786505, -122.3862) into a human understandable street address. Most often this is needed in tracking applications where you receive a GPS feed from the device or asset and wish to know what address where the coordinate is located. This endpoint will return address information for a given coordinate.'
      operationId: microsoftAzureSearchGetsearchaddressreverse
      x-ms-examples:
        GetSearchAddressReverse:
          $ref: ./examples/GetSearchAddressReverse.json
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/SubscriptionKey'
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/TextFormat'
      - $ref: '#/components/parameters/Position'
      - $ref: '#/components/parameters/Language'
      - name: returnSpeedLimit
        in: query
        description: Boolean. To enable return of the posted speed limit
        required: false
        schema:
          type: boolean
          default: false
      - name: heading
        in: query
        description: The directional heading of the vehicle in degrees, for travel along a segment of roadway. 0 is North, 90 is East and so on, values range from -360 to 360. The precision can include upto one decimal place
        required: false
        schema:
          type: number
          maximum: 360
          minimum: -360
      - $ref: '#/components/parameters/Radius'
      - name: number
        in: query
        description: If a number is sent in along with the request, the response may include the side of the street (Left/Right) and also an offset position for that number
        required: false
        schema:
          type: string
      - name: returnRoadUse
        in: query
        description: Boolean. To enable return of the road use array for reverse geocodes at street level
        required: false
        schema:
          type: boolean
          default: false
      - name: roadUse
        in: query
        description: To restrict reverse geocodes to a certain type of road use. The road use array for reverse geocodes can be one or more of LimitedAccess, Arterial, Terminal, Ramp, Rotary, LocalStreet
        required: false
        schema:
          type: string
      - name: allowFreeformNewline
        in: query
        description: 'Format of newlines in the formatted address.


          If true, the address will contain newlines.

          If false, newlines will be converted to commas.'
        required: false
        schema:
          type: boolean
      - name: returnMatchType
        in: query
        description: Include information on the type of match the geocoder achieved in the response.
        required: false
        schema:
          type: boolean
      - name: entityType
        in: query
        description: 'Specifies the level of filtering performed on geographies. Narrows the search for specified geography entity types, e.g. return only municipality. The resulting response will contain the geography ID as well as the entity type matched. If you provide more than one entity as a comma separated list, endpoint will return the ''smallest entity available''. Returned Geometry ID can be used to get the geometry of that geography via [Get Search Polygon](https://docs.microsoft.com/rest/api/maps/search/getsearchpolygon) API. The following parameters are ignored when entityType is set:


          * heading

          * number

          * returnRoadUse

          * returnSpeedLimit

          * roadUse

          * returnMatchType'
        required: false
        x-ms-enum:
          name: EntityType
          modelAsString: true
          values:
          - value: Country
            description: Country name
          - value: CountrySubdivision
            description: State or Province
          - value: CountrySecondarySubdivision
            description: County
          - value: CountryTertiarySubdivision
            description: Named Area
          - value: Municipality
            description: City / Town
          - value: MunicipalitySubdivision
            description: Sub / Super City
          - value: Neighbourhood
            description: Neighbourhood
          - value: PostalCodeArea
            description: Postal Code / Zip Code
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - Country
          - CountrySubdivision
          - CountrySecondarySubdivision
          - CountryTertiarySubdivision
          - Municipality
          - MunicipalitySubdivision
          - Neighbourhood
          - PostalCodeArea
      - $ref: '#/components/parameters/View'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchAddressReverseResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/SearchAddressReverseResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Microsoft Azure Get Search Address Reverse Format
      tags:
      - Search
      security:
      - AADToken:
        - https://atlas.microsoft.com/.default
      - SharedKey: []
      - SasToken: []
    servers:
    - url: https://atlas.microsoft.com
  /search/address/reverse/crossStreet/{format}:
    get:
      x-publish: true
      description: '**Reverse Geocode to a Cross Street**


        **Applies to**: S0 and S1 pricing tiers.


        There may be times when you need to translate a coordinate (example: 37.786505, -122.3862) into a human understandable cross street. Most often this is needed in tracking applications where you receive a GPS feed from the device or asset and wish to know what address where the coordinate is located.

        This endpoint will return cross street information for a given coordinate.'
      operationId: microsoftAzureSearchGetsearchaddressreversecrossstreet
      x-ms-examples:
        GetSearchAddressReverseCrossStreet:
          $ref: ./examples/GetSearchAddressReverseCrossStreet.json
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/SubscriptionKey'
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/TextFormat'
      - $ref: '#/components/parameters/Position'
      - $ref: '#/components/parameters/LimitSearch'
      - name: heading
        in: query
        description: The directional heading of the vehicle in degrees, for travel along a segment of roadway. 0 is North, 90 is East and so on, values range from -360 to 360. The precision can include upto one decimal place
        required: false
        schema:
          type: number
          maximum: 360
          minimum: -360
      - $ref: '#/components/parameters/Radius'
      - $ref: '#/components/parameters/Language'
      - $ref: '#/components/parameters/View'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchAddressReverseCrossStreetResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/SearchAddressReverseCrossStreetResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Microsoft Azure Get Search Address Reverse Crossstreet Format
      tags:
      - Search
      security:
      - AADToken:
        - https://atlas.microsoft.com/.default
      - SharedKey: []
      - SasToken: []
    servers:
    - url: https://atlas.microsoft.com
  /search/address/structured/{format}:
    get:
      x-publish: true
      description: '**Structured Address Geocoding**


        **Applies to**: S0 and S1 pricing tiers.


        Azure Address Geocoding can also be accessed for structured address look up exclusively. The geocoding search index will be queried for everything above the street level data. No POIs will be returned. Note that the geocoder is very tolerant of typos and incomplete addresses. It will also handle everything from exact street addresses or street or intersections as well as higher level geographies such as city centers, counties, states etc.'
      operationId: microsoftAzureSearchGetsearchaddressstructured
      x-ms-examples:
        GetSearchAddressStructured:
          $ref: ./examples/GetSearchAddressStructured.json
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/SubscriptionKey'
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/TextFormat'
      - $ref: '#/components/parameters/Language'
      - name: countryCode
        in: query
        description: The 2 or 3 letter [ISO3166-1](https://www.iso.org/iso-3166-country-codes.html) country code portion of an address. E.g. US.
        required: true
        schema:
          type: string
          default: US
      - $ref: '#/components/parameters/LimitSearch'
      - $ref: '#/components/parameters/Offset'
      - name: streetNumber
        in: query
        description: The street number portion of an address
        required: false
        schema:
          type: string
      - name: streetName
        in: query
        description: The street name portion of an address
        required: false
        schema:
          type: string
      - name: crossStreet
        in: query
        description: The cross street name for the structured address
        required: false
        schema:
          type: string
      - name: municipality
        in: query
        description: The municipality portion of an address
        required: false
        schema:
          type: string
      - name: municipalitySubdivision
        in: query
        description: The municipality subdivision (sub/super city) for the structured address
        required: false
        schema:
          type: string
      - name: countryTertiarySubdivision
        in: query
        description: The named area for the structured address
        required: false
        schema:
          type: string
      - name: countrySecondarySubdivision
        in: query
        description: The county for the structured address
        required: false
        schema:
          type: string
      - name: countrySubdivision
        in: query
        description: The country subdivision portion of an address
        required: false
        schema:
          type: string
      - name: postalCode
        in: query
        description: The postal code portion of an address
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/ExtendedPostalCodesFor'
      - $ref: '#/components/parameters/View'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchAddressStructuredResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/SearchAddressStructuredResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Microsoft Azure Get Search Address Structured Format
      tags:
      - Search
      security:
      - AADToken:
        - https://atlas.microsoft.com/.default
      - SharedKey: []
      - SasToken: []
    servers:
    - url: https://atlas.microsoft.com
  /search/geometry/{format}:
    post:
      x-publish: true
      description: '**Applies to**: S0 and S1 pricing tiers.


        The Search Geometry endpoint allows you to perform a free form search inside a single geometry or many of them. The search results that fall inside the geometry/geometries will be returned.To send the geometry you will use a `POST` request where the request body will contain the `geometry` object represented as a `GeoJSON` type and the `Content-Type` header will be set to `application/json`. The geographical features to be searched can be modeled as Polygon and/or Circle geometries represented using any one of the following `GeoJSON` types:**GeoJSON FeatureCollection** The `geometry` can be represented as a `GeoJSON FeatureCollection` object. This is the recommended option if the geometry contains both Polygons and Circles. The `FeatureCollection` can contain a max of 50 `GeoJSON Feature` objects. Each `Feature` object should represent either a Polygon or a Circle with the following conditions:A `Feature` object for the Polygon geometry can have a max of 50 coordinates and it''s properties must be empty.A `Feature` object for the Circle geometry is composed of a _center_ represented using a `GeoJSON Point` type and a _radius_ value (in meters) which must be specified in the object''s properties along with the _subType_ property whose value should be ''Circle''. Please see the Examples section below for a sample `FeatureCollection` representation.**GeoJSON GeometryCollection**The `geometry` can be represented as a `GeoJSON GeometryCollection` object. This is the recommended option if the geometry contains a list of Polygons only. The `GeometryCollection` can contain a max of 50 `GeoJSON Polygon` objects. Each `Polygon` object can have a max of 50 coordinates. Please see the Examples section below for a sample `GeometryCollection` representation.**GeoJSON Polygon**The `geometry` can be represented as a `GeoJSON Polygon` object. This is the recommended option if the geometry contains a single Polygon. The `Polygon` object can have a max of 50 coordinates. Please see the Examples section below for a sample `Polygon` representation..'
      operationId: microsoftAzureSearchPostsearchinsidegeometry
      x-ms-examples:
        Search for pizza places inside a geometry represented as a GeoJSON FeatureCollection type:
          $ref: ./examples/PostSearchInsideFeatureCollection.json
        Search for burger joints inside a geometry represented as a GeoJSON GeometryCollection type:
          $ref: ./examples/PostSearchInsideGeometryCollection.json
        Search for subs joints inside a geometry represented as a GeoJSON Polygon type:
          $ref: ./examples/PostSearchInsideGeometry.json
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/SubscriptionKey'
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/PoiQuery'
      - $ref: '#/components/parameters/TextFormat'
      - $ref: '#/components/parameters/LimitSearch'
      - $ref: '#/components/parameters/Language'
      - $ref: '#/components/parameters/CategorySet'
      - $ref: '#/components/parameters/ExtendedPostalCodesFor'
      - $ref: '#/components/parameters/SearchIndexSet'
      - $ref: '#/components/parameters/View'
      - $ref: '#/components/parameters/OpeningHours'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchGeometryResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/SearchGeometryResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Microsoft Azure Post Search Geometry Format
      tags:
      - Search
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchInsideGeometryRequestBody'
        description: This represents the geometry for one or more geographical features (parks, state boundary etc.) to search in and should be a GeoJSON compliant type. Please refer to [RFC 7946](https://tools.ietf.org/html/rfc7946) for details.
        required: true
      security:
      - AADToken:
        - https://atlas.microsoft.com/.default
      - SharedKey: []
      - SasToken: []
    servers:
    - url: https://atlas.microsoft.com
  /search/alongRoute/{format}:
    post:
      x-publish: true
      description: '**Applies to**: S0 and S1 pricing tiers.


        The Search Along Route endpoint allows you to perform a fuzzy search for POIs along a specified route. This search is constrained by specifying the `maxDetourTime` limiting measure.To send the route-points you will use a `POST` request where the request body will contain the `route` object represented as a `GeoJSON LineString` type and the `Content-Type` header will be set to `application/json`. Each route-point in `route` is represented as a `GeoJSON Position` type i.e. an array where the _longitude_ value is followed by the _latitude_ value and the _altitude_ value is ignored. The `route` should contain at least 2 route-points.It is possible that original route will be altered, some of it''s points may be skipped. If the route that passes through the found point is faster than the original one, the `detourTime` value in the response is negative.'
      operationId: microsoftAzureSearchPostsearchalongroute
      x-ms-examples:
        Search for burger joints along a route:
          $ref: ./examples/PostSearchAlongRoute.json
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/SubscriptionKey'
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/CategorySet'
      - $ref: '#/components/parameters/PoiQuery'
      - $ref: '#/components/parameters/TextFormat'
      - name: maxDetourTime
        description: Maximum detour time of the point of interest in seconds. Max value is 3600 seconds
        required: true
        in: query
        schema:
          type: integer
          maximum: 3600
      - name: limit
        description: Maximum number of responses that will be returned. Default value is 10. Max value is 20
        required: false
        in: query
        schema:
          type: integer
          default: 10
          maximum: 20
      - $ref: '#/components/parameters/BrandSet'
      - $ref: '#/components/parameters/ConnectorSet'
      - $ref: '#/components/parameters/View'
      - $ref: '#/components/parameters/OpeningHours'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchAlongRouteResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/SearchAlongRouteResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Microsoft Azure Post Search Alongroute Format
      tags:
      - Search
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchAlongRouteRequestBody'
        description: This represents the route to search along and should be a valid `GeoJSON LineString` type. Please refer to [RFC 7946](https://tools.ietf.org/html/rfc7946#section-3.1.4) for details.
        required: true
      security:
      - AADToken:
        - https://atlas.microsoft.com/.default
      - SharedKey: []
      - SasToken: []
    servers:
    - url: https://atlas.microsoft.com
  /search/fuzzy/batch/{format}:
    post:
      x-publish: true
      description: '**Search Fuzzy Batch API**


        **Applies to**: S1 pricing tier.'
      operationId: microsoftAzureSearchPostsearchfuzzybatch
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        A Search Fuzzy Batch API call containing 5 Search Fuzzy API queries:
          $ref: ./examples/PostSearchFuzzyBatch.json
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/SubscriptionKey'
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/JsonFormat'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '202':
          $ref: '#/components/responses/202Async'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Microsoft Azure Post Search Fuzzy Batch Format
      tags:
      - Search
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchRequestBody'
        description: The list of search fuzzy queries/requests to process. The list can contain  a max of 10,000 queries and must contain at least 1 query.
        required: true
      security:
      - AADToken:
        - https://atlas.microsoft.com/.default
      - SharedKey: []
      - SasToken: []
    servers:
    - url: https://atlas.microsoft.com
  /search/address/batch/{format}:
    post:
      x-publish: true
      description: '**Search Address Batch API**


        **Applies to**: S1 pricing tier.'
      operationId: microsoftAzureSearchPostsearchaddressbatch
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        An Address Geocoding Batch API call containing 5 Address Geocoding API queries:
          $ref: ./examples/PostSearchAddressBatch.json
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/SubscriptionKey'
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/JsonFormat'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '202':
          $ref: '#/components/responses/202Async'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Microsoft Azure Post Search Address Batch Format
      tags:
      - Search
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchRequestBody'
        description: The list of address geocoding queries/requests to process. The list can contain  a max of 10,000 queries and must contain at least 1 query.
        required: true
      security:
      - AADToken:
        - https://atlas.microsoft.com/.default
      - SharedKey: []
      - SasToken: []
    servers:
    - url: https://atlas.microsoft.com
  /search/address/reverse/batch/{format}:
    post:
      x-publish: true
      description: '**Search Address Reverse Batch API**


        **Applies to**: S1 pricing tier.'
      operationId: microsoftAzureSearchPostsearchaddressreversebatch
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        A Reverse Geocoding Batch API call containing 5 Reverse Geocoding API queries:
          $ref: ./examples/PostSearchAddressReverseBatch.json
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/SubscriptionKey'
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/JsonFormat'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
        '202':
          $ref: '#/components/responses/202Async'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Microsoft Azure Post Search Address Reverse Batch Format
      tags:
      - Search
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchRequestBody'
        description: The list of reverse geocoding queries/requests to process. The list can contain  a max of 10,000 queries and must contain at least 1 query.
        required: true
      security:
      - AADToken:
        - https://atlas.microsoft.com/.default
      - SharedKey: []
      - SasToken: []
    servers:
    - url: https://atlas.microsoft.com
components:
  schemas:
    SearchHighlights:
      type: object
      description: 'A highlight list that consists of index fields id ,qualifiedName, name,

        description, entityType. When the keyword appears in those fields, the value of

        the field, attached with emphasis mark, is returned as an element of

        @search.highlights.'
      properties:
        id:
          type: array
          description: Id
          items:
            type: string
        qualifiedName:
          type: array
          description: Qualified name
          items:
            type: string
        name:
          type: array
          description: Name
          items:
            type: string
        description:
          type: array
          description: Description
          items:
            type: string
        entityType:
          type: array
          description: Entity type
          items:
            type: string
    SuggestResult:
      type: object
      description: The result item of the search suggest.
      properties:
        value:
          type: array
          description: The result value
          items:
            $ref: '#/components/schemas/SuggestResultValue'
    SearchTaxonomySetting:
      type: object
      description: Taxonomy setting for search request
      properties:
        assetTypes:
          type: array
          description: Asset types
          items:
            type: string
        facet:
          $ref: '#/components/schemas/SearchFacetItem'
          description: The content of a search facet result item.
    AutoCompleteResultValue:
      type: object
      description: The value item of the autocomplete suggest.
      properties:
        text:
          type: string
          description: The completed term or phrase.
        queryPlusText:
          type: string
          description: The completed search query text.
    SearchFacetItem:
      type: object
      description: The content of a search facet result item.
      properties:
        count:
          type: integer
          format: int32
          description: The count of the facet item.
        facet:
          type: string
          description: The name of the facet item.
        sort:
          $ref: '#/components/schemas/SearchFacetSort'
          description: Define the sorting criteria for items
    AutoCompleteResult:
      type: object
      description: The result of the autocomplete request.
      properties:
        value:
          type: array
          description: The result value
          items:
            $ref: '#/components/schemas/AutoCompleteResultValue'
          x-ms-identifiers: []
    QueryResult:
      type: object
      description: The result of the search result.
      properties:
        '@search.count':
          type: integer
          format: int32
          description: 'The total number of search results (not the number of documents in a single

            page).'
          x-ms-client-name: searchCount
        '@search.count.approximate':
          type: boolean
          description: '''True'' if the ''@search.count'' is an approximate value and vise versa.'
          x-ms-client-name: searchCountApproximate
        continuationToken:
          type: string
          description: The token used to get next batch of data. Absent if there's no more data.
        '@search.facets':
          $ref: '#/components/schemas/SearchFacetResultValue'
          description: 'A facet list that consists of index fields assetType ,classification,

            contactId, and label. When the facet is specified in the request, the value of

            the facet is returned as an element of @search.facets.'
          x-ms-client-name: searchFacets
        value:
          type: array
          description: Search result value
          items:
            $ref: '#/components/schemas/SearchResultValue'
    ContactSearchResultValue:
      type: object
      description: The contact in the search and suggest result.
      properties:
        id:
          type: string
          description: The GUID of the contact.
        info:
          type: string
          description: The description of the contact.
        contactType:
          type: string
          description: 'The type of the contact. It can be Expert or Owner for an entity. It can be

            Expert or Steward for a glossary term.'
    AtlasErrorResponse:
      type: object
      description: An error response from the service
      properties:
        requestId:
          $ref: '#/components/schemas/Azure.Core.uuid'
          description: The request ID.
        errorCode:
          type: string
          description: The error code.
        errorMessage:
          type: string
          description: The error message.
    SearchFacetResultValue:
      type: object
      description: 'A facet list that consists of index fields assetType ,classification,

        contactId, and label. When the facet is specified in the request, the value of

        the facet is returned as an element of @search.facets.'
      properties:
        entityType:
          type: array
          description: Entity type
          items:
            $ref: '#/components/schemas/SearchFacetItemValue'
          x-ms-identifiers: []
        assetType:
          type: array
          description: Asset type
          items:
            $ref: '#/components/schemas/SearchFacetItemValue'
          x-ms-identifiers: []
        classification:
          type: array
          description: Classification
          items:
            $ref: '#/components/schemas/SearchFacetItemValue'
          x-ms-identifiers: []
        term:
          type: array
          description: Term
          items:
            $ref: '#/components/schemas/SearchFacetItemValue'
          x-ms-identifiers: []
        contactId:
          type: array
          description: Contact id
          items:
            $ref: '#/components/schemas/SearchFacetItemValue'
          x-ms-identifiers: []
        contactType:
          type: array
          description: Contact type
          items:
            $ref: '#/components/schemas/SearchFacetItemValue'
          x-ms-identifiers: []
        label:
          type: array
          description: Label
          items:
            $ref: '#/components/schemas/SearchFacetItemValue'
          x-ms-identifiers: []
        glossaryType:
          type: array
          description: Glossary type
          items:
            $ref: '#/components/schemas/SearchFacetItemValue'
          x-ms-identifiers: []
        termStatus:
          type: array
          description: Term status
          items:
            $ref: '#/components/schemas/SearchFacetItemValue'
          x-ms-identifiers: []
        termTemplate:
          type: array
          description: Term template
          items:
            $ref: '#/components/schemas/SearchFacetItemValue'
          x-ms-identifiers: []
    QueryOptions:
      type: object
      description: The search query of advanced search request.
      properties:
        keywords:
          type: string
          description: The keywords applied to all searchable fields.
        limit:
          type: integer
          format: int32
          description: 'The limit of the number of the search result. default value is 50; maximum

            value is 1000.'
        continuationToken:
          type: string
          description: 'The token used to get next batch of data. Default ''Null'' to get the first

            batch, and will return new token in each response unless there''s no more data.'
        orderby:
          type: array
          description: The sort order of search results, can specify multiple fields.
          items: {}
        filter:
          description: The filter for the search. See examples for the usage of supported filters.
        facets:
          type: array
          description: The facets for search. See examples for the usage of supported facets.
          items:
            $ref: '#/components/schemas/SearchFacetItem'
          x-ms-identifiers: []
        taxonomySetting:
          $ref: '#/components/schemas/SearchTaxonomySetting'
          description: The taxonomy setting for search.
    SearchFacetSort:
      type: object
      description: The sorting criteria
      properties:
        count:
          $ref: '#/components/schemas/SearchSortOrder'
          description: Order by count
        value:
          $ref: '#/components/schemas/SearchSortOrder'
          description: Order by value
    TermSearchResultValue:
      type: object
      description: The context.
      properties:
        name:
          type: string
          description: The name of the term.
        glossaryName:
          type: string
          description: The name of the glossary which contains the term.
        guid:
          type: string
          description: The GUID of the term.
    SuggestOptions:
      type: object
      description: The payload of suggest request.
      properties:
        keywords:
          type: string
          description: 'The keywords applied to all fields that support suggest operation. It must be

            at least 1 character, and no more than 100 characters. In the index schema we

            defined a default suggester which lists all the supported fields and specifies

            a search mode.'
        limit:
          type: integer
          format: int32
          description: 'The number of suggestions we hope to return. The default value is 5. The value

            must be a number between 1 and 100.'
        filter:
          description: The filter for the search.
    Azure.Core.uuid:
      type: string
      format: uuid
      description: Universally Unique Identifier
    AutoCompleteOptions:
      type: object
      description: The payload of autocomplete request.
      properties:
        keywords:
          type: string
          description: 'The keywords applied to all fields that support autocomplete operation. It must

            be at least 1 character, and no more than 100 characters.'
        limit:
          type: integer
          format: int32
          description: 'The number of autocomplete results we hope to return. The default value is 50.

            The value must be a number between 1 and 100.'
        filter:
          description: The filter for the autocomplete request.
    SearchFacetItemValue:
      type: object
      description: The content of a search facet result item.
      properties:
        count:
          type: integer
          format: int32
          description: The count of the facet item.
        value:
          type: string
          description: The name of the facet item.
    SearchSortOrder:
      type: string
      description: Search sort order
      enum:
      - asc
      - desc
      x-ms-enum:
        name: SearchSortOrder
        modelAsString: true
        values:
        - name: Ascend
          value: asc
          description: Use ascending order for sorting
        - name: Descend
          value: desc
          description: Use descending order for sorting
    SuggestResultValue:
      type: object
      description: The value item of the search suggest.
      properties:
        '@search.score':
          type: number
          format: float
          description: 'The search score calculated by the search engine. The results are ordered by

            search score by default.'
          x-ms-client-name: searchScore
        '@search.text':
          type: string
          description: 'The target text that contains the keyword as prefix. The keyword is wrapped

            with emphasis mark.'
          x-ms-client-name: searchText
        objectType:
          type: string
          description: 'The object type of the record. Object type is the top-level property to

            distinguish whether a record is an asset or a term.'
        createTime:
          type: integer
          format: int64
          description: The create time of the record. The Unix epoch format.
        updateTime:
          type: integer
          format: int64
          description: The last update time of the record. The Unix epoch format.
        id:
          type: string
          description: The GUID of the record.
        name:
          type: string
          description: The name of the record.
        qualifiedName:
          type: string
          description: The qualified name of the record.
        entityType:
          type: string
          description: The type name of the asset.
        description:
          type: string
          description: The description of the asset.
        endorsement:
          type: string
          description: The endorsement of the asset.
        owner:
          type: string
          description: The owner of the record.
        classification:
          type: array
          description: The classifications of the record.
          items:
            type: string
        label:
          type: array
          description: The labels of the asset.
          items:
            type: string
        term:
          type: array
          description: The terms assigned to the asset.
          items:
            $ref: '#/components/schemas/TermSearchResultValue'
          x-ms-identifiers: []
        contact:
          type: array
          description: The contacts of the asset.
          items:
            $ref: '#/components/schemas/ContactSearchResultValue'
        assetType:
          type: array
          description: The asset types of the asset.
          items:
            type: string
        glossaryType:
          type: string
          description: 'The type name of the term. Could be AtlasGlossary, AtlasGlossaryTerm or

            AtlasGlossaryCategory.'
        glossary:
          type: string
          description: The glossary name of the term.
        termStatus:
          type: string
          description: The status of the term.
        termTemplate:
          type: array
          description: The term template names used by the term.
          items:
            type: string
        longDescription:
          type: string
          description: The definition of the term.
    SearchResultValue:
      type: object
      description: The value item of the search result.
      properties:
        '@search.score':
          type: number
          format: float
          description: 'The search score calculated by the search engine. The results are ordered by

            search score by default.'
          x-ms-client-name: searchScore
        '@search.highlights':
          $ref: '#/components/schemas/SearchHighlights'
          description: 'A highlight list that consists of index fields id ,qualifiedName, name,

            description, entityType. When the keyword appears in those fields, the value of

            the field, attached with emphasis mark, is returned as an element of

            @search.highlights.'
          x-ms-client-name: searchHighlights
        objectType:
          type: string
          description: 'The object type of the record. Object type is the top-level property to

            distinguish whether a record is an asset or a term.'
        createTime:
          type: integer
          format: int64
          description: The create time of the record. The Unix epoch format.
        updateTime:
          type: integer
          format: int64
          description: The last update time of the record. The Unix epoch format.
        id:
          type: string
          description: The GUID of the record.
        name:
          type: string
          description: The name of the record.
        qualifiedName:
          type: string
          description: The qualified name of the record.
        entityType:
          type: string
          description: The type name of the asset.
        description:
          type: string
          description: The description of the asset.
        endorsement:
          type: string
          description: The endorsement of the asset.
        owner:
          type: string
          description: The owner of the record.
        classification:
          type: array
          description: The classifications of the record.
          items:
            type: string
        label:
          type: array
          description: The labels of the asset.
          items:
            type: string
        term:
          type: array
          description: The terms assigned to the asset.
          items:
            $ref: '#/components/schemas/TermSearchResultValue'
          x-ms-identifiers: []
        contact:
          type: array
          description: The contacts of the asset.
          items:
            $ref: '#/components/schemas/ContactSearchResultValue'
        assetType:
          type: array
          description: The asset types of the asset.
          items:
            type: string
        glossaryType:
          type: string
          description: 'The type name of the term. Could be AtlasGlossary, AtlasGlossaryTerm or

            AtlasGlossaryCategory.'
        glossary:
          type: string
          description: The glossary name of the term.
        termStatus:
          type: string
          description: The status of the term.
        termTemplate:
          type: array
          description: The term template names used by the term.
          items:
            type: string
        longDescription:
          type: string
          description: The definition of the term.
    EntityType:
      description: Geography entity type. Present only when entityType was requested and is available.
      type: string
      enum:
      - Country
      - CountrySubdivision
      - CountrySecondarySubdivision
      - CountryTertiarySubdivision
      - Municipality
      - MunicipalitySubdivision
      - Neighbourhood
      - PostalCodeArea
      x-ms-enum:
        name: EntityType
        modelAsString: true
        values:
        - value: Country
          description: Country name
        - value: CountrySubdivision
          description: State or Province
        - value: CountrySecondarySubdivision
          description: County
        - value: CountryTertiarySubdivision
          description: Named Area
        - value: Municipality
          description: City / Town
        - value: MunicipalitySubdivision
          description: Sub / Super City
        - value: Neighbourhood
          description: Neighbourhood
        - value: PostalCodeArea
          description: Postal Code / Zip Code
    SearchFuzzyResponse:
      description: This object is returned from a successful Search Fuzzy call
      type: object
      properties:
        summary:
          $ref: '#/components/schemas/SearchFuzzySummary'
        results:
          description: Results array
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/SearchFuzzyResult'
    SearchResultAddress:
      description: The address of the result
      type: object
      properties:
        buildingNumber:
          description: Building Number property
          type: string
          readOnly: true
        street:
          description: Street property
          type: string
          readOnly: true
        crossStreet:
          description: Cross Street property
          type: string
          readOnly: true
        streetNumber:
          description: Street Number property
          type: string
          readOnly: true
        routeNumbers:
          description: number of routes
          type: array
          items:
            type: integer
            readOnly: true
          readOnly: true
        streetName:
          description: Street Name property
          type: string
          readOnly: true
        streetNameAndNumber:
          description: Street Name and Number property
          type: string
          readOnly: true
        municipality:
          description: Municipality property
          type: string
          readOnly: true
        municipalitySubdivision:
          description: Municipality Subdivision property
          type: string
          readOnly: true
        countryTertiarySubdivision:
          description: Country Tertiary Subdivision property
          type: string
          readOnly: true
        countrySecondarySubdivision:
          description: Country Secondary Subdivision property
          type: string
          readOnly: true
        countrySubdivision:
          description: Country Subdivision property
          type: string
          readOnly: true
        postalCode:
          description: Postal Code property
          type: string
          readOnly: true
        extendedPostalCode:
          description: Extended Postal Code property
          type: string
          readOnly: true
        countryCode:
          description: Country Code property
          type: string
          readOnly: true
        country:
          description: Country property
          type: string
          readOnly: true
        countryCodeISO3:
          description: Country Code ISO3 property
          type: string
          readOnly: true
        freeformAddress:
          description: Free form Address property
          type: string
          readOnly: true
        countrySubdivisionName:
          description: Country Subdivision Name property
          type: string
          readOnly: true
        localName:
          description: An address component which represents the name of a geographic area or locality that groups a number of addressable objects for addressing purposes, without being an administrative unit. This field is used to build the `freeformAddress` property.
          type: string
          readOnly: true
    ODataError:
      type: object
      description: This object is returned when an error occurs in the Azure Maps API.
      properties:
        code:
          type: string
          readOnly: true
          description: The ODataError code.
        message:
          type: string
          readOnly: true
          description: If available, a human-readable description of the error.
        details:
          type: array
          items:
            $ref: '#/components/schemas/ODataError'
        target:
          type: string
          readOnly: true
          description: If available, the target causing the error.
    SearchAddressStructuredSummary:
      description: Summary object for a Search Address Structured response
      type: object
      readOnly: true
      properties:
        query:
          description: Query property
          type: string
          readOnly: true
        queryType:
          description: QueryType property
          type: string
          readOnly: true
        queryTime:
          description: QueryTime property
          type: integer
          readOnly: true
        numResults:
          description: NumResults property
          type: integer
          readOnly: true
        limit:
          description: Maximum number of responses that will be returned
          readOnly: true
          type: integer
        offset:
          description: Offset property
          type: integer
          readOnly: true
        totalResults:
          description: TotalResults property
          type: integer
          readOnly: true
        fuzzyLevel:
          description: FuzzyLevel property
          type: integer
          readOnly: true
        geoBias:
          $ref: '#/components/schemas/SearchSummaryGeoBias'
    SearchPolygonResponse:
      description: This object is returned from a successful Search Polygon call
      type: object
      properties:
        additionalData:
          description: Results array
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/SearchPolygonResult'
    SearchPoiCategoryResult:
      type: object
      properties:
        type:
          description: Type property
          type: string
          readOnly: true
        id:
          description: Id property
          type: string
          readOnly: true
        score:
          $ref: '#/components/schemas/SearchResultScore'
        dist:
          $ref: '#/components/schemas/SearchResultDistance'
        info:
          description: Info property
          type: string
          readOnly: true
        entityType:
          $ref: '#/components/schemas/EntityType'
        poi:
          $ref: '#/components/schemas/SearchResultPoi'
        address:
          $ref: '#/components/schemas/SearchResultAddress'
        position:
          $ref: '#/components/schemas/CoordinateAbbreviated'
        viewport:
          $ref: '#/components/schemas/SearchResultViewport'
        entryPoints:
          description: Entry Points array
          type: array
          items:
            $ref: '#/components/schemas/SearchResultEntryPoint'
    SearchResultPoiClassification:
      description: The classification for the POI being returned
      type: object
      properties:
        code:
          description: Code property
          type: string
          readOnly: true
        names:
          description: Names array
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/SearchResultPoiClassificationName'
    SearchAlongRouteResponse:
      description: This object is returned from a successful Search Along Route call.
      type: object
      properties:
        summary:
          $ref: '#/components/schemas/SearchAlongRouteSummary'
        results:
          description: A list of Search Along Route results.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/SearchAlongRouteResult'
    SearchResultAddressRanges:
      description: Describes the address range on both sides of the street for a search result. Coordinates for the start and end locations of the address range are included.
      type: object
      properties:
        rangeLeft:
          type: string
        rangeRight:
          type: string
        from:
          $ref: '#/components/schemas/CoordinateAbbreviated'
        to:
          $ref: '#/components/schemas/CoordinateAbbreviated'
    SearchResultDistance:
      description: Straight line distance between the result and geobias location in meters.
      type: number
      readOnly: true
    SearchFuzzySummary:
      description: Summary object for a Search Fuzzy response
      type: object
      readOnly: true
      properties:
        query:
          description: Query property
          type: string
          readOnly: true
        queryType:
          description: QueryType property
          type: string
          readOnly: true
        queryTime:
          description: QueryTime property
          type: integer
          readOnly: true
        numResults:
          description: NumResults property
          type: integer
          readOnly: true
        offset:
          description: Offset property
          type: integer
          readOnly: true
        totalResults:
          description: TotalResults property
          type: integer
          readOnly: true
        fuzzyLevel:
          description: FuzzyLevel property
          type: integer
          readOnly: true
    SearchResultPoiOpeningHours:
      description: Opening hours for a POI (Points of Interest).
      type: object
      properties:
        mode:
          description: Value used in the Request
          type: string
          readOnly: true
        timeRanges:
          description: List of time ranges for the next 7 days
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/SearchResultPoiOpeningHoursTimeRange'
    SearchResultPoiOpeningHoursTimeRange:
      description: Open time range for a day
      type: object
      properties:
        startTime:
          description: The point in the next 7 days range when a given POI is being opened, or the beginning of the range if it was opened before the range.
          $ref: '#/components/schemas/SearchResultPoiOpeningHoursTimeRangeTime'
        endTime:
          description: The point in the next 7 days range when a given POI is being closed, or the beginning of the range if it was closed before the range.
          $ref: '#/components/schemas/SearchResultPoiOpeningHoursTimeRangeTime'
    SearchAddressReverseCrossStreetSummary:
      description: Summary object for a Search Address Reverse Cross Street response
      type: object
      readOnly: true
      properties:
        queryTime:
          description: QueryTime property
          type: integer
          readOnly: true
        numResults:
          description: NumResults property
          type: integer
          readOnly: true
    SearchAlongRouteRequestBody:
      description: This type represents the request body for the Search Along Route service.
      type: object
      properties:
        route:
          $ref: '#/components/schemas/LineString'
    GeoJSONGeometry:
      description: A valid `GeoJSON` geometry object. Please refer to [RFC 7946](https://tools.ietf.org/html/rfc7946#section-3.1) for details.
      type: object
      discriminator:
        propertyName: type
      required:
      - type
      properties:
        type:
          description: Specifies the `GeoJSON` geometry type. Must be one of the seven valid GeoJSON geometry types - Point, MultiPoint, LineString, MultiLineString, Polygon, MultiPolygon and GeometryCollection.
          type: string
          enum:
          - Point
          - MultiPoint
          - LineString
          - MultiLineString
          - Polygon
          - MultiPolygon
          - GeometryCollection
          x-ms-enum:
            name: GeoJSONGeometryType
            modelAsString: true
            values:
            - value: Point
              description: '`GeoJSON Point` geometry.'
            - value: MultiPoint
              description: '`GeoJSON MultiPoint` geometry.'
            - value: LineString
              description: '`GeoJSON LineString` geometry.'
            - value: MultiLineString
              description: '`GeoJSON MultiLineString` geometry.'
            - value: Polygon
              description: '`GeoJSON Polygon` geometry.'
            - value: MultiPolygon
              description: '`GeoJSON MultiPolygon` geometry.'
            - value: GeometryCollection
              description: '`GeoJSON GeometryCollection` geometry.'
    SearchFuzzyResult:
      type: object
      properties:
        type:
          description: 'One of:

            * POI

            * Street

            * Geography

            * Point Address

            * Address Range

            * Cross Street'
          type: string
          readOnly: true
        id:
          description: Id property
          type: string
          readOnly: true
        score:
          $ref: '#/components/schemas/SearchResultScore'
        info:
          description: Info property
          type: string
          readOnly: true
        entityType:
          $ref: '#/components/schemas/EntityType'
        poi:
          $ref: '#/components/schemas/SearchResultPoi'
        address:
          $ref: '#/components/schemas/SearchResultAddress'
        position:
          $ref: '#/components/schemas/CoordinateAbbreviated'
        viewport:
          $ref: '#/components/schemas/SearchResultViewport'
        entryPoints:
          description: Entry Points array
          type: array
          items:
            $ref: '#/components/schemas/SearchResultEntryPoint'
        addressRanges:
          $ref: '#/components/schemas/SearchResultAddressRanges'
        dataSources:
          $ref: '#/components/schemas/DataSources'
    SearchPoiSummary:
      description: Summary object for a Search POI response
      type: object
      readOnly: true
      properties:
        query:
          description: Query property
          type: string
          readOnly: true
        queryType:
          description: QueryType property
          type: string
          readOnly: true
        queryTime:
          description: QueryTime property
          type: integer
          readOnly: true
        numResults:
          description: NumResults property
          type: integer
          readOnly: true
        offset:
          description: Offset property
          type: integer
          readOnly: true
        totalResults:
          description: TotalResults property
          type: integer
          readOnly: true
        fuzzyLevel:
          description: FuzzyLevel property
          type: integer
          readOnly: true
        geoBias:
          $ref: '#/components/schemas/SearchSummaryGeoBias'
    BatchRequestBody:
      description: This type represents the request body for the Batch service.
      type: object
      properties:
        batchItems:
          description: The list of queries/requests to process
          type: array
          items:
            description: Batch Query object
            type: object
            properties:
              query:
                description: Partial query string
                type: string
    SearchNearbySummary:
      description: Summary object for a Search Nearby response
      type: object
      readOnly: true
      properties:
        queryType:
          description: QueryType property
          type: string
          readOnly: true
        queryTime:
          description: QueryTime property
          type: integer
          readOnly: true
        numResults:
          description: NumResults property
          type: integer
          readOnly: true
        offset:
          description: Offset property
          type: integer
          readOnly: true
        totalResults:
          description: TotalResults property
          type: integer
          readOnly: true
        fuzzyLevel:
          description: FuzzyLevel property
          type: integer
          readOnly: true
        geoBias:
          $ref: '#/components/schemas/SearchSummaryGeoBias'
    SearchPoiResponse:
      description: This object is returned from a successful Search POI call
      type: object
      properties:
        summary:
          $ref: '#/components/schemas/SearchPoiSummary'
        results:
          description: Results array
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/SearchPoiResult'
    SearchAddressResponse:
      description: This object is returned from a successful Search Address call
      type: object
      properties:
        summary:
          $ref: '#/components/schemas/SearchAddressSummary'
        results:
          description: Results array
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/SearchAddressResult'
    PoiCategoryResponse:
      description: This object is returned from a successful POI Category Tree call
      type: object
      properties:
        poiCategories:
          description: Categories array
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/PoiCategoryResult'
    SearchAlongRouteResult:
      description: This type represents the Search Along Route result object.
      type: object
      properties:
        type:
          description: Type property
          type: string
          readOnly: true
        id:
          description: Id property
          type: string
          readOnly: true
        score:
          $ref: '#/components/schemas/SearchResultScore'
        info:
          description: Info property
          type: string
          readOnly: true
        entityType:
          $ref: '#/components/schemas/EntityType'
        poi:
          $ref: '#/components/schemas/SearchResultPoi'
        address:
          $ref: '#/components/schemas/SearchResultAddress'
        position:
          $ref: '#/components/schemas/CoordinateAbbreviated'
        viewport:
          $ref: '#/components/schemas/SearchResultViewport'
        entryPoints:
          description: Entry Points array
          type: array
          items:
            $ref: '#/components/schemas/SearchResultEntryPoint'
        dist:
          $ref: '#/components/schemas/SearchResultDistance'
        detourTime:
          description: Detour time in seconds
          type: number
          readOnly: true
    SearchResultPoi:
      description: Details of the returned POI including information such as the name, phone, url address, and classifications.
      type: object
      properties:
        name:
          description: Name of the POI property
          type: string
          readOnly: true
        phone:
          description: Telephone number property
          type: string
          readOnly: true
        url:
          description: Website URL property
          type: string
          readOnly: true
        categorySet:
          description: The list of the most specific POI categories
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/SearchResultPoiCategorySet'
        categories:
          description: __[Deprecated]__ Use classifications instead. Categories array
          type: array
          readOnly: true
          items:
            type: string
            readOnly: true
        classifications:
          description: Classification array
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/SearchResultPoiClassification'
        brands:
          description: Brands array. The name of the brand for the POI being returned.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/SearchResultPoiBrand'
        openingHours:
          $ref: '#/components/schemas/SearchResultPoiOpeningHours'
    SearchAddressReverseResult:
      type: object
      properties:
        address:
          $ref: '#/components/schemas/SearchResultAddress'
        position:
          type: string
          readOnly: true
          description: Position property in the form of "{latitude},{longitude}"
        matchType:
          type: string
          readOnly: true
          description: "Information on the type of match.\n\nOne of:\n  * AddressPoint\n  * HouseNumberRange\n  * Street"
    SearchResultPoiCategorySet:
      description: POI category
      type: object
      properties:
        id:
          description: Category ID
          type: integer
          readOnly: true
    ODataErrorResponse:
      type: object
      description: This response object is returned when an error occurs in the Azure Maps API.
      properties:
        error:
          $ref: '#/components/schemas/ODataError'
    LineString:
      description: A valid `GeoJSON LineString` geometry type. Please refer to [RFC 7946](https://tools.ietf.org/html/rfc7946#section-3.1.4) for details.
      type: object
      allOf:
      - $ref: '#/components/schemas/GeoJSONGeometry'
      - properties:
          type:
            description: Specifies the `type` for the geometry. Value should always be equal to "LineString".
            type: string
          coordinates:
            description: Coordinates for the `LineString` geometry.
            type: array
            items:
              $ref: '#/components/schemas/GeoJSONPosition'
        required:
        - coordinates
    SearchGeometryResponse:
      description: This object is returned from a successful Search By Geometry call
      type: object
      properties:
        summary:
          $ref: '#/components/schemas/SearchGeometrySummary'
        results:
          description: A list of Search Inside Geometry results.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/SearchGeometryResult'
    SearchAddressSummary:
      description: Summary object for a Search Address response
      type: object
      readOnly: true
      properties:
        query:
          description: Query property
          type: string
          readOnly: true
        queryType:
          description: QueryType property
          type: string
          readOnly: true
        queryTime:
          description: QueryTime property
          type: integer
          readOnly: true
        numResults:
          description: NumResults property
          type: integer
          readOnly: true
        offset:
          description: Offset property
          type: integer
          readOnly: true
        totalResults:
          description: TotalResults property
          type: integer
          readOnly: true
        fuzzyLevel:
          description: FuzzyLevel property
          type: integer
          readOnly: true
    SearchAddressReverseCrossStreetResponse:
      description: This object is returned from a successful Search Address Reverse CrossStreet call
      type: object
      properties:
        summary:
          $ref: '#/components/schemas/SearchAddressReverseCrossStreetSummary'
        addresses:
          description: Addresses array
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/SearchAddressReverseCrossStreetResult'
    SearchGeometryResult:
      description: This type represents the Search Inside Geometry result object.
      type: object
      properties:
        type:
          description: Type property
          type: string
          readOnly: true
        id:
          description: Id property
          type: string
          readOnly: true
        score:
          $ref: '#/components/schemas/SearchResultScore'
        info:
          description: Info property
          type: string
          readOnly: true
        entityType:
          $ref: '#/components/schemas/EntityType'
        poi:
          $ref: '#/components/schemas/SearchResultPoi'
        address:
          $ref: '#/components/schemas/SearchResultAddress'
        position:
          $ref: '#/components/schemas/CoordinateAbbreviated'
        viewport:
          $ref: '#/components/schemas/SearchResultViewport'
        entryPoints:
          description: Entry Points array
          type: array
          items:
            $ref: '#/components/schemas/SearchResultEntryPoint'
    SearchPolygonResult:
      type: object
      properties:
        providerID:
          description: ID of the returned entity
          type: string
          readOnly: true
        error:
          description: Reason for the failure to obtain data for this provider.
          type: string
          readOnly: true
        geometryData:
          description: Geometry data in GeoJSON format. Please refer to [RFC 7946](https://tools.ietf.org/html/rfc7946) for details. Present only if "error" is not present.
          $ref: '#/components/schemas/Geometry'
    SearchAddressReverseSummary:
      description: Summary object for a Search Address Reverse response
      type: object
      readOnly: true
      properties:
        queryTime:
          description: QueryTime property
          type: integer
          readOnly: true
        numResults:
          description: NumResults property
          type: integer
          readOnly: true
    SearchNearbyResult:
      type: object
      properties:
        type:
          description: Type property
          type: string
          readOnly: true
        id:
          description: Id property
          type: string
          readOnly: true
        score:
          $ref: '#/components/schemas/SearchResultScore'
        dist:
          $ref: '#/components/schemas/SearchResultDistance'
        info:
          description: Info property
          type: string
          readOnly: true
        poi:
          $ref: '#/components/schemas/SearchResultPoi'
        address:
          $ref: '#/components/schemas/SearchResultAddress'
        position:
          $ref: '#/components/schemas/CoordinateAbbreviated'
        viewport:
          $ref: '#/components/schemas/SearchResultViewport'
        entryPoints:
          description: Entry Points array
          type: array
          items:
            $ref: '#/components/schemas/SearchResultEntryPoint'
    SearchResultPoiOpeningHoursTimeRangeTime:
      description: Represents a date and time
      type: object
      properties:
        date:
          description: Represents current day in calendar year in POI time zone.
          type: string
          readOnly: true
        hour:
          description: Hours are in the 24 hour format in the local time of a POI; possible values are 0 - 23.
          type: integer
          readOnly: true
        minute:
          description: Minutes are in the local time of a POI; possible values are 0 - 59.
          type: integer
          readOnly: true
    SearchPoiCategorySummary:
      description: Summary object for a Search POI Category response
      type: object
      readOnly: true
      properties:
        query:
          description: Query property
          type: string
          readOnly: true
        queryType:
          description: QueryType property
          type: string
          readOnly: true
        queryTime:
          description: QueryTime property
          type: integer
          readOnly: true
        numResults:
          description: NumResults property
          type: integer
          readOnly: true
        offset:
          description: Offset property
          type: integer
          readOnly: true
        totalResults:
          description: TotalResults property
          type: integer
          readOnly: true
        fuzzyLevel:
          description: FuzzyLevel property
          type: integer
          readOnly: true
        geoBias:
          $ref: '#/components/schemas/SearchSummaryGeoBias'
[...]
