openapi: 3.2.0
info:
  version: '2018-09-15'
  title: Microsoft Azure DevTestLabsClient Arm Templates API
  description: The DevTest Labs Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ArmTemplates
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/armtemplates
  : get:
      tags:
      - ArmTemplates
      description: List azure resource manager templates in a given artifact source.
      operationId: microsoftAzureArmtemplatesList
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        schema:
          type: string
      - name: artifactSourceName
        in: path
        description: The name of the artifact source.
        required: true
        schema:
          type: string
      - name: $expand
        in: query
        description: 'Specify the $expand query. Example: ''properties($select=displayName)'''
        schema:
          type: string
      - name: $filter
        in: query
        description: 'The filter to apply to the operation. Example: ''$filter=contains(name,''myName'')'
        schema:
          type: string
      - name: $top
        in: query
        description: 'The maximum number of resources to return from the operation. Example: ''$top=10'''
        schema:
          type: integer
          format: int32
      - name: $orderby
        in: query
        description: 'The ordering expression for the results, using OData notation. Example: ''$orderby=name desc'''
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArmTemplateList'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/ArmTemplate'
      x-ms-examples:
        ArmTemplates_List:
          $ref: ./examples/ArmTemplates_List.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/armtemplates/{name}
  : get:
      tags:
      - ArmTemplates
      description: Get azure resource manager template.
      operationId: microsoftAzureArmtemplatesGet
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        schema:
          type: string
      - name: artifactSourceName
        in: path
        description: The name of the artifact source.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: The name of the azure resource manager template.
        required: true
        schema:
          type: string
      - name: $expand
        in: query
        description: 'Specify the $expand query. Example: ''properties($select=displayName)'''
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArmTemplate'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        ArmTemplates_Get:
          $ref: ./examples/ArmTemplates_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    ParametersValueFileInfo:
      description: A file containing a set of parameter values for an ARM template.
      type: object
      properties:
        fileName:
          description: File name.
          type: string
        parametersValueInfo:
          description: Contents of the file.
          type: object
    CloudError:
      description: Error from a REST request.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: The cloud error that occurred
      x-ms-external: true
    ArmTemplateList:
      description: The response of a list operation.
      type: object
      properties:
        value:
          description: Results of the list operation.
          type: array
          items:
            $ref: '#/components/schemas/ArmTemplate'
        nextLink:
          description: Link for next set of results.
          type: string
    ArmTemplate:
      description: An Azure Resource Manager template.
      required:
      - properties
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/ArmTemplateProperties'
          description: The properties of the resource.
          x-ms-client-flatten: true
    CloudErrorBody:
      description: Body of an error from a REST request.
      type: object
      properties:
        code:
          description: The error code.
          type: string
        message:
          description: The error message.
          type: string
        target:
          description: The error target.
          type: string
        details:
          description: Inner errors.
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
      x-ms-external: true
    Resource:
      description: An Azure resource.
      type: object
      properties:
        id:
          description: The identifier of the resource.
          type: string
          readOnly: true
        name:
          description: The name of the resource.
          type: string
          readOnly: true
        type:
          description: The type of the resource.
          type: string
          readOnly: true
        location:
          description: The location of the resource.
          type: string
        tags:
          description: The tags of the resource.
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
    ArmTemplateProperties:
      description: Properties of an Azure Resource Manager template.
      type: object
      properties:
        displayName:
          description: The display name of the ARM template.
          type: string
          readOnly: true
        description:
          description: The description of the ARM template.
          type: string
          readOnly: true
        publisher:
          description: The publisher of the ARM template.
          type: string
          readOnly: true
        icon:
          description: The URI to the icon of the ARM template.
          type: string
          readOnly: true
        contents:
          description: The contents of the ARM template.
          type: object
          readOnly: true
        createdDate:
          format: date-time
          description: The creation date of the armTemplate.
          type: string
          readOnly: true
        parametersValueFilesInfo:
          description: File name and parameter values information from all azuredeploy.*.parameters.json for the ARM template.
          type: array
          items:
            $ref: '#/components/schemas/ParametersValueFileInfo'
          readOnly: true
        enabled:
          description: Whether or not ARM template is enabled for use by lab user.
          type: boolean
          readOnly: true
  parameters:
    api-version:
      name: api-version
      in: query
      description: Client API version.
      required: true
      schema:
        type: string
        default: '2018-09-15'
    resourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    subscriptionId:
      name: subscriptionId
      in: path
      description: The subscription ID.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: Access Microsoft Azure
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: OAuth2 Implicit Grant
