openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft.IoTOperationsMQ management…
  version: 2023-10-04-preview
  description: Microsoft.IoTOperationsMQ Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: DiagnosticService
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTOperationsMQ/mq/{mqName}/diagnosticService
  : get:
      operationId: microsoftAzureDiagnosticserviceListbymqresource
      tags:
      - DiagnosticService
      description: List DiagnosticServiceResource resources by MqResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: mqName
        in: path
        description: Name of MQ resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticServiceResourceListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        DiagnosticService_ListByMqResource:
          $ref: ./examples/DiagnosticService_ListByMqResource_MaximumSet_Gen.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTOperationsMQ/mq/{mqName}/diagnosticService/{diagnosticServiceName}
  : get:
      operationId: microsoftAzureDiagnosticserviceGet
      tags:
      - DiagnosticService
      description: Get a DiagnosticServiceResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: mqName
        in: path
        description: Name of MQ resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: diagnosticServiceName
        in: path
        description: Name of MQ diagnostic resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticServiceResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        DiagnosticService_Get:
          $ref: ./examples/DiagnosticService_Get_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      operationId: microsoftAzureDiagnosticserviceCreateorupdate
      tags:
      - DiagnosticService
      description: Create a DiagnosticServiceResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: mqName
        in: path
        description: Name of MQ resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: diagnosticServiceName
        in: path
        description: Name of MQ diagnostic resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Resource 'DiagnosticServiceResource' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticServiceResource'
        '201':
          description: Resource 'DiagnosticServiceResource' create operation succeeded
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticServiceResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        DiagnosticService_CreateOrUpdate:
          $ref: ./examples/DiagnosticService_CreateOrUpdate_MaximumSet_Gen.json
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiagnosticServiceResource'
        description: Resource create parameters.
        required: true
    patch:
      operationId: microsoftAzureDiagnosticserviceUpdate
      tags:
      - DiagnosticService
      description: Update a DiagnosticServiceResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: mqName
        in: path
        description: Name of MQ resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: diagnosticServiceName
        in: path
        description: Name of MQ diagnostic resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticServiceResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        DiagnosticService_Update:
          $ref: ./examples/DiagnosticService_Update_MaximumSet_Gen.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiagnosticServiceResourceUpdate'
        description: The resource properties to be updated.
        required: true
    delete:
      operationId: microsoftAzureDiagnosticserviceDelete
      tags:
      - DiagnosticService
      description: Delete a DiagnosticServiceResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: mqName
        in: path
        description: Name of MQ resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: diagnosticServiceName
        in: path
        description: Name of MQ diagnostic resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        DiagnosticService_Delete:
          $ref: ./examples/DiagnosticService_Delete_MaximumSet_Gen.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    ProvisioningState:
      type: string
      description: The enum defining status of resource.
      enum:
      - Succeeded
      - Failed
      - Canceled
      - Provisioning
      - Updating
      - Deleting
      - Accepted
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: Succeeded
          value: Succeeded
          description: Resource has been created.
        - name: Failed
          value: Failed
          description: Resource creation failed.
        - name: Canceled
          value: Canceled
          description: Resource creation was canceled.
        - name: Provisioning
          value: Provisioning
          description: Resource is getting provisioned.
        - name: Updating
          value: Updating
          description: Resource is Updating.
        - name: Deleting
          value: Deleting
          description: Resource is Deleting.
        - name: Accepted
          value: Accepted
          description: Resource has been Accepted.
    ExtendedLocationType:
      type: string
      description: The enum defining type of ExtendedLocation accepted.
      enum:
      - CustomLocation
      x-ms-enum:
        name: ExtendedLocationType
        modelAsString: true
        values:
        - name: CustomLocation
          value: CustomLocation
          description: CustomLocation type
    DiagnosticServiceResourceUpdateProperties:
      type: object
      description: The updatable properties of the DiagnosticServiceResource.
      properties:
        dataExportFrequencySeconds:
          type: integer
          format: int32
          description: The frequency at which the data will be exported.
          default: 10
          minimum: 0
          maximum: 65535
        image:
          $ref: '#/components/schemas/ContainerImageUpdate'
          description: The details of Diagnostic Service Docker Image.
        logFormat:
          type: string
          description: The format for the logs generated.
          default: json
        logLevel:
          type: string
          description: The format for the logs generated.
          default: info
        maxDataStorageSize:
          type: integer
          format: int64
          description: The maximum data stored in MiB.
          default: 16
          minimum: 0
          maximum: 4294967295
        metricsPort:
          type: integer
          format: int32
          description: The port at which metrics is exposed.
          default: 9600
          minimum: 0
          maximum: 65535
        openTelemetryTracesCollectorAddr:
          type: string
          description: The destination to collect traces. Diagnostic service will push traces to this endpoint
        staleDataTimeoutSeconds:
          type: integer
          format: int32
          description: Metric inactivity timeout.
          default: 600
          minimum: 0
          maximum: 65535
    ContainerImageUpdate:
      type: object
      description: Defines the Docker image details
      properties:
        pullPolicy:
          type: string
          description: Image pull policy.
        pullSecrets:
          type: string
          description: Image pull secrets.
        repository:
          type: string
          description: The Docker image name.
        tag:
          type: string
          description: The Docker  image tag.
    DiagnosticServiceResourceUpdate:
      type: object
      description: The type used for update operations of the DiagnosticServiceResource.
      properties:
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
        properties:
          $ref: '#/components/schemas/DiagnosticServiceResourceUpdateProperties'
          x-ms-client-flatten: true
    DiagnosticServiceResourceListResult:
      type: object
      description: The response of a DiagnosticServiceResource list operation.
      properties:
        value:
          type: array
          description: The DiagnosticServiceResource items on this page
          items:
            $ref: '#/components/schemas/DiagnosticServiceResource'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    DiagnosticServiceResource:
      type: object
      description: MQ diagnostic services resource
      properties:
        properties:
          $ref: '#/components/schemas/DiagnosticServiceProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
        extendedLocation:
          $ref: '#/components/schemas/ExtendedLocationProperty'
          description: Extended Location
          x-ms-mutability:
          - read
          - create
      required:
      - extendedLocation
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
    DiagnosticServiceProperties:
      type: object
      description: MQ Diagnostic Services Resource properties
      properties:
        dataExportFrequencySeconds:
          type: integer
          format: int32
          description: The frequency at which the data will be exported.
          default: 10
          minimum: 0
          maximum: 65535
        image:
          $ref: '#/components/schemas/ContainerImage'
          description: The details of Diagnostic Service Docker Image.
        logFormat:
          type: string
          description: The format for the logs generated.
          default: json
        logLevel:
          type: string
          description: The format for the logs generated.
          default: info
        maxDataStorageSize:
          type: integer
          format: int64
          description: The maximum data stored in MiB.
          default: 16
          minimum: 0
          maximum: 4294967295
        metricsPort:
          type: integer
          format: int32
          description: The port at which metrics is exposed.
          default: 9600
          minimum: 0
          maximum: 65535
        openTelemetryTracesCollectorAddr:
          type: string
          description: The destination to collect traces. Diagnostic service will push traces to this endpoint
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The status of the last operation.
          readOnly: true
        staleDataTimeoutSeconds:
          type: integer
          format: int32
          description: Metric inactivity timeout.
          default: 600
          minimum: 0
          maximum: 65535
      required:
      - image
    ContainerImage:
      type: object
      description: Defines the Docker image details
      properties:
        pullPolicy:
          type: string
          description: Image pull policy.
        pullSecrets:
          type: string
          description: Image pull secrets.
        repository:
          type: string
          description: The Docker image name.
        tag:
          type: string
          description: The Docker  image tag.
      required:
      - repository
      - tag
    ExtendedLocationProperty:
      type: object
      description: ExtendedLocation properties
      properties:
        name:
          type: string
          description: The name of the extended location.
        type:
          $ref: '#/components/schemas/ExtendedLocationType'
          description: Type of ExtendedLocation.
      required:
      - name
      - type
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
