openapi: 3.2.0
info:
  version: 2021-10-15-preview
  title: Microsoft Azure EventGridManagementClient System Topics API
  description: Azure EventGrid Management Client
servers:
- url: https://management.azure.com
tags:
- name: SystemTopics
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/systemTopics/{systemTopicName}
  : get:
      tags:
      - SystemTopics
      summary: Microsoft Azure Get A System Topic
      description: Get properties of a system topic.
      operationId: microsoftAzureSystemtopicsGet
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: systemTopicName
        in: path
        description: Name of the system topic.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemTopic'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        SystemTopics_Get:
          $ref: ./examples/SystemTopics_Get.json
    put:
      tags:
      - SystemTopics
      summary: Microsoft Azure Create A System Topic
      description: Asynchronously creates a new system topic with the specified parameters.
      operationId: microsoftAzureSystemtopicsCreateorupdate
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: systemTopicName
        in: path
        description: Name of the system topic.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemTopic'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemTopic'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        SystemTopics_CreateOrUpdate:
          $ref: ./examples/SystemTopics_CreateOrUpdate.json
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SystemTopic'
        description: System Topic information.
        required: true
    delete:
      tags:
      - SystemTopics
      summary: Microsoft Azure Delete A System Topic
      description: Delete existing system topic.
      operationId: microsoftAzureSystemtopicsDelete
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: systemTopicName
        in: path
        description: Name of the system topic.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: NoContent
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 404 Not Found.\n\n * 500 Internal Server Error."
      x-ms-examples:
        SystemTopics_Delete:
          $ref: ./examples/SystemTopics_Delete.json
      x-ms-long-running-operation: true
    patch:
      tags:
      - SystemTopics
      summary: Microsoft Azure Update A System Topic
      description: Asynchronously updates a system topic with the specified parameters.
      operationId: microsoftAzureSystemtopicsUpdate
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: systemTopicName
        in: path
        description: Name of the system topic.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: System Topic update request accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemTopic'
        '201':
          description: System Topic update request accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemTopic'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        SystemTopics_Update:
          $ref: ./examples/SystemTopics_Update.json
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SystemTopicUpdateParameters'
        description: SystemTopic update information.
        required: true
  /subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/systemTopics:
    get:
      tags:
      - SystemTopics
      summary: Microsoft Azure List System Topics Under An Azure Subscription
      description: List all the system topics under an Azure subscription.
      operationId: microsoftAzureSystemtopicsListbysubscription
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/FilterParameter'
      - $ref: '#/components/parameters/TopParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemTopicsListResult'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        SystemTopics_ListBySubscription:
          $ref: ./examples/SystemTopics_ListBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/systemTopics:
    get:
      tags:
      - SystemTopics
      summary: Microsoft Azure List System Topics Under A Resource Group
      description: List all the system topics under a resource group.
      operationId: microsoftAzureSystemtopicsListbyresourcegroup
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/FilterParameter'
      - $ref: '#/components/parameters/TopParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemTopicsListResult'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        SystemTopics_ListByResourceGroup:
          $ref: ./examples/SystemTopics_ListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
components:
  schemas:
    SystemTopicUpdateParameters:
      description: Properties of the System Topic update.
      type: object
      properties:
        tags:
          description: Tags of the system topic.
          type: object
          additionalProperties:
            type: string
        identity:
          $ref: '#/components/schemas/IdentityInfo'
          description: Resource identity information.
    IdentityInfo:
      description: The identity information for the resource.
      type: object
      properties:
        type:
          description: The type of managed identity used. The type 'SystemAssigned, UserAssigned' includes both an implicitly created identity and a set of user-assigned identities. The type 'None' will remove any identity.
          enum:
          - None
          - SystemAssigned
          - UserAssigned
          - SystemAssigned, UserAssigned
          type: string
          x-ms-enum:
            name: IdentityType
            modelAsString: true
        principalId:
          description: The principal ID of resource identity.
          type: string
        tenantId:
          description: The tenant ID of resource.
          type: string
        userAssignedIdentities:
          description: 'The list of user identities associated with the resource. The user identity dictionary key references will be ARM resource ids in the form:

            ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.

            This property is currently not used and reserved for future usage.'
          type: object
          additionalProperties:
            $ref: '#/components/schemas/UserIdentityProperties'
    SystemTopic:
      description: EventGrid System Topic.
      type: object
      allOf:
      - $ref: '#/components/schemas/TrackedResource'
      properties:
        properties:
          $ref: '#/components/schemas/SystemTopicProperties'
          description: Properties of the system topic.
          x-ms-client-flatten: true
        systemData:
          description: The system metadata relating to System Topic resource.
          type: object
          readOnly: true
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
        identity:
          $ref: '#/components/schemas/IdentityInfo'
          description: Identity information for the resource.
    UserIdentityProperties:
      description: The information about the user identity.
      type: object
      properties:
        principalId:
          description: The principal id of user assigned identity.
          type: string
        clientId:
          description: The client id of user assigned identity.
          type: string
    SystemTopicsListResult:
      description: Result of the List System topics operation.
      type: object
      properties:
        value:
          description: A collection of system Topics.
          type: array
          items:
            $ref: '#/components/schemas/SystemTopic'
        nextLink:
          description: A link for the next page of topics.
          type: string
    TrackedResource:
      description: Definition of a Tracked Resource.
      required:
      - location
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        location:
          description: Location of the resource.
          type: string
          x-ms-mutability:
          - read
          - create
        tags:
          description: Tags of the resource.
          type: object
          additionalProperties:
            type: string
    Resource:
      description: Definition of a Resource
      type: object
      properties:
        id:
          description: Fully qualified identifier of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the resource.
          type: string
          readOnly: true
        type:
          description: Type of the resource.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    SystemTopicProperties:
      description: Properties of the System Topic.
      type: object
      properties:
        provisioningState:
          description: Provisioning state of the system topic.
          enum:
          - Creating
          - Updating
          - Deleting
          - Succeeded
          - Canceled
          - Failed
          type: string
          readOnly: true
          x-ms-enum:
            name: ResourceProvisioningState
            modelAsString: true
        source:
          description: Source for the system topic.
          type: string
        topicType:
          description: TopicType for the system topic.
          type: string
        metricResourceId:
          description: Metric resource id for the system topic.
          type: string
          readOnly: true
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: Version of the API to be used with the client request.
      required: true
      schema:
        type: string
    TopParameter:
      name: $top
      in: query
      description: The number of results to return per page for the list operation. Valid range for top parameter is 1 to 100. If not specified, the default number of results to be returned is 20 items per page.
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      required: true
      schema:
        type: string
    FilterParameter:
      name: $filter
      in: query
      description: 'The query used to filter the search results using OData syntax. Filtering is permitted on the ''name'' property only and with limited number of OData operations. These operations are: the ''contains'' function as well as the following logical operations: not, and, or, eq (for equal), and ne (for not equal). No arithmetic operations are supported. The following is a valid filter example: $filter=contains(namE, ''PATTERN'') and name ne ''PATTERN-1''. The following is not a valid filter example: $filter=location eq ''westus''.'
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
