openapi: 3.2.0
info:
  title: Microsoft Azure NetworkGroup Static Members API
  description: The Microsoft Azure Network Group API provides a RESTful set of web services that interact with Microsoft Azure Network Manager service to manage your network resources.
  version: 2022-02-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: StaticMembers
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/networkGroups/{networkGroupName}/staticMembers/{staticMemberName}
  : parameters:
    - $ref: ./network.json#/parameters/SubscriptionIdParameter
    - $ref: '#/components/parameters/ResourceGroupNameParameter'
    - $ref: '#/components/parameters/NetworkManagerNameParameter'
    - $ref: '#/components/parameters/NetworkGroupNameParameter'
    - $ref: '#/components/parameters/StaticMemberNameParameter'
    - $ref: ./network.json#/parameters/ApiVersionParameter
    get:
      tags:
      - StaticMembers
      operationId: microsoftAzureStaticmembersGet
      description: Gets the specified static member.
      responses:
        '200':
          description: OK - Returns information about the static member.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaticMember'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        StaticMembersGet:
          $ref: ./examples/NetworkManagerStaticMemberGet.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - StaticMembers
      operationId: microsoftAzureStaticmembersCreateorupdate
      description: Creates or updates a static member.
      responses:
        '200':
          description: Updated - Returns information about the static member.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaticMember'
        '201':
          description: Created - Returns information about the static member.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaticMember'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        StaticMemberPut:
          $ref: ./examples/NetworkManagerStaticMemberPut.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StaticMember'
        description: Parameters supplied to the specify the static member to create
        required: true
    delete:
      tags:
      - StaticMembers
      operationId: microsoftAzureStaticmembersDelete
      description: Deletes a static member.
      responses:
        '200':
          description: Delete Succeed.
        '204':
          description: Request successful. The resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        StaticMembersDelete:
          $ref: ./examples/NetworkManagerStaticMemberDelete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/networkGroups/{networkGroupName}/staticMembers
  : get:
      tags:
      - StaticMembers
      operationId: microsoftAzureStaticmembersList
      description: Lists the specified static member.
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/NetworkManagerNameParameter'
      - $ref: '#/components/parameters/NetworkGroupNameParameter'
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/ListTopParameter'
      - $ref: '#/components/parameters/ListSkipTokenParameter'
      responses:
        '200':
          description: OK - Returns information about the static member.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaticMemberListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        StaticMembersList:
          $ref: ./examples/NetworkManagerStaticMemberList.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    StaticMember:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/StaticMemberProperties'
          description: The Static Member properties
        systemData:
          readOnly: true
          description: The system metadata related to this resource.
          $ref: ./network.json#/definitions/SystemData
      allOf:
      - $ref: ./network.json#/definitions/ProxyResource
      description: StaticMember Item.
    StaticMemberProperties:
      type: object
      properties:
        resourceId:
          type: string
          description: Resource Id.
      description: Properties of static member.
    StaticMemberListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/StaticMember'
          description: Gets a page of StaticMember
        nextLink:
          type: string
          description: Gets the URL to get the next set of results.
      description: Result of the request to list StaticMember. It contains a list of groups and a URL link to get the next set of results.
  parameters:
    NetworkGroupNameParameter:
      name: networkGroupName
      in: path
      required: true
      description: The name of the network group.
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
    ListTopParameter:
      name: $top
      description: An optional query parameter which specifies the maximum number of records to be returned by the server.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        maximum: 20
        minimum: 1
    ListSkipTokenParameter:
      name: $skipToken
      description: SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    StaticMemberNameParameter:
      name: staticMemberName
      in: path
      required: true
      description: The name of the static member.
      x-ms-parameter-location: method
      schema:
        type: string
    NetworkManagerNameParameter:
      name: networkManagerName
      in: path
      required: true
      description: The name of the network manager.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
