openapi: 3.2.0
info:
  version: 2021-11-20-preview
  title: Microsoft Azure ElasticSanManagement Elastic San Skus API
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Elastic San Skus
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.ElasticSan/skus:
    get:
      tags:
      - Elastic San Skus
      summary: Microsoft Azure List All The Available Skus In The Region And Information…
      operationId: microsoftAzureSkusList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - name: $filter
        in: query
        description: Specify $filter='location eq <location>' to filter on location.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Lists the available SKUs supported by Microsoft.ElasticSan for given subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuInformationList'
        default:
          description: Error from the ElasticSan Resource Provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: null
      x-ms-examples:
        Skus_List_MaximumSet_Gen:
          $ref: ./examples/Skus_List_MaximumSet_Gen.json
        Skus_List_MinimumSet_Gen:
          $ref: ./examples/Skus_List_MinimumSet_Gen.json
      description: Needs a more full description created.
components:
  schemas:
    SkuLocationInfo:
      description: The location info.
      type: object
      properties:
        location:
          description: The location.
          type: string
          readOnly: true
        zones:
          description: The zones.
          type: array
          items:
            type: string
          readOnly: true
    SKUCapability:
      properties:
        name:
          readOnly: true
          type: string
          description: The name of capability.
        value:
          readOnly: true
          type: string
          description: A string value to indicate states of given capability.
      description: The capability information in the specified SKU.
      type: object
    ErrorAdditionalInfo:
      description: The resource management error additional info.
      type: object
      x-ms-identifiers: []
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
    Error:
      type: object
      description: The resource management error response.
      properties:
        error:
          description: RP error response.
          $ref: '#/components/schemas/ErrorResponse'
    SkuInformation:
      description: ElasticSAN SKU and its properties
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: Sku Name
          $ref: '#/components/schemas/SkuName'
        tier:
          type: string
          description: Sku Tier
          $ref: '#/components/schemas/SkuTier'
        resourceType:
          readOnly: true
          type: string
          description: The type of the resource.
        locations:
          readOnly: true
          type: array
          items:
            type: string
          description: The set of locations that the SKU is available. This will be supported and registered Azure Geo Regions (e.g. West US, East US, Southeast Asia, etc.).
        locationInfo:
          description: Availability of the SKU for the location/zone
          type: array
          items:
            $ref: '#/components/schemas/SkuLocationInfo'
          x-ms-identifiers: []
          readOnly: true
        capabilities:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/SKUCapability'
          x-ms-identifiers: []
          description: The capability information in the specified SKU.
    SkuName:
      type: string
      enum:
      - Premium_LRS
      - Premium_ZRS
      x-ms-enum:
        name: SkuName
        modelAsString: true
        values:
        - value: Premium_LRS
          description: Premium locally redundant storage
        - value: Premium_ZRS
          description: Premium zone redundant storage
      description: The sku name.
    ErrorResponse:
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponse'
          x-ms-identifiers: []
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          x-ms-identifiers: []
          description: The error additional info.
      description: The resource management error response.
    SkuInformationList:
      description: List of SKU Information objects
      type: object
      properties:
        value:
          description: List of ResourceType Sku
          type: array
          items:
            $ref: '#/components/schemas/SkuInformation'
          x-ms-identifiers: []
          readOnly: true
    SkuTier:
      type: string
      enum:
      - Premium
      x-ms-enum:
        name: SkuTier
        modelAsString: true
        values:
        - value: Premium
          description: Premium Tier
      description: The sku tier.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
