openapi: 3.2.0
info:
  version: 2019-04-01-preview
  title: Microsoft Azure ConsumptionManagementClient Charges API
  description: Consumption management client provides access to consumption resources for Azure Enterprise Subscriptions.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Charges
paths:
  /{scope}/providers/Microsoft.Consumption/charges:
    get:
      tags:
      - Charges
      operationId: microsoftAzureChargesListbyscope
      description: Lists the charges based for the defined scope.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        ChangesForBillingPeriodByEnrollmentAccount:
          $ref: ./examples/ChargesForBillingPeriodByEnrollmentAccount.json
        ChangesForBillingPeriodByDepartment:
          $ref: ./examples/ChargesForBillingPeriodByDepartment.json
      parameters:
      - $ref: '#/components/parameters/scopeChargesParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      - name: $filter
        description: May be used to filter charges by properties/usageEnd (Utc time), properties/usageStart (Utc time). The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeSummary'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Scope Providers Microsoft Consumption Charges
components:
  parameters:
    scopeChargesParameter:
      name: scope
      in: path
      required: true
      description: The scope associated with usage details operations. This includes '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}' for Department scope and '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}' for EnrollmentAccount scope. For department and enrollment accounts, you can also add billing period to the scope using '/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}'. For e.g. to specify billing period at department scope use '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}'
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Version of the API to be used with the client request. The current version is 2019-04-01-preview.
      schema:
        type: string
  schemas:
    ChargeSummaryProperties:
      description: The properties of the charge summary.
      type: object
      properties:
        billingPeriodId:
          description: The id of the billing period resource that the charge belongs to.
          type: string
          readOnly: true
        usageStart:
          description: Usage start date.
          type: string
          readOnly: true
        usageEnd:
          description: ' Usage end date.'
          type: string
          readOnly: true
        azureCharges:
          description: Azure Charges.
          type: number
          format: decimal
          readOnly: true
        chargesBilledSeparately:
          description: Charges Billed separately.
          type: number
          format: decimal
          readOnly: true
        marketplaceCharges:
          description: Marketplace Charges.
          type: number
          format: decimal
          readOnly: true
        currency:
          description: Currency Code
          type: string
          readOnly: true
    ChargeSummary:
      description: A charge summary resource.
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ChargeSummaryProperties'
          title: Charge summary properties
    Resource:
      description: The Resource model definition.
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
        tags:
          readOnly: true
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
      x-ms-azure-resource: true
    ErrorResponse:
      description: Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.
      type: object
      properties:
        error:
          description: The details of the error.
          $ref: '#/components/schemas/ErrorDetails'
    ErrorDetails:
      description: The details of the error.
      properties:
        code:
          description: Error code.
          type: string
          readOnly: true
        message:
          description: Error message indicating why the operation failed.
          type: string
          readOnly: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
