openapi: 3.2.0
info:
  title: Microsoft Azure Agreements API
  version: '1.0'
  description: 'Operations tagged Agreements across 2 of this provider''s published API definitions: microsoftconfluent-openapi-original.yml, microsoftdatadog-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
tags:
- name: Agreements
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Confluent/agreements:
    get:
      tags:
      - Agreements
      summary: Microsoft Azure List Confluent Marketplace Agreements In The Subscription
      operationId: microsoftAzureMarketplaceagreementsList
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfluentAgreementResourceListResponse'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        MarketplaceAgreements_List:
          $ref: ./examples/MarketplaceAgreements_List.json
      description: Needs a more full description created.
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.Confluent/agreements/default:
    put:
      tags:
      - Agreements
      summary: Microsoft Azure Create Confluent Marketplace Agreement In The Subscription
      operationId: microsoftAzureMarketplaceagreementsCreate
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfluentAgreementResource'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-examples:
        MarketplaceAgreements_Create:
          $ref: ./examples/MarketplaceAgreements_Create.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfluentAgreementResource'
        description: Confluent Marketplace Agreement resource
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.Datadog/agreements:
    get:
      tags:
      - Agreements
      summary: Microsoft Azure List Datadog Marketplace Agreements In The Subscription
      operationId: microsoftAzureMarketplaceagreementsList
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatadogAgreementResourceListResponse'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse_2'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        MarketplaceAgreements_List:
          $ref: ./examples/MarketplaceAgreements_List.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.Datadog/agreements/default:
    put:
      tags:
      - Agreements
      summary: Microsoft Azure Create Datadog Marketplace Agreement In The Subscription
      operationId: microsoftAzureMarketplaceagreementsCreateorupdate
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatadogAgreementResource'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse_2'
      x-ms-examples:
        MarketplaceAgreements_CreateOrUpdate:
          $ref: ./examples/MarketplaceAgreements_Create.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatadogAgreementResource'
    servers:
    - url: https://management.azure.com
components:
  schemas:
    ResourceProviderDefaultErrorResponse:
      type: object
      description: Default error response for resource provider
      title: ResourceProviderDefaultErrorResponse
      properties:
        error:
          description: Response body of Error
          readOnly: true
          $ref: '#/components/schemas/ErrorResponseBody'
    ConfluentAgreementResourceListResponse:
      description: Response of a list operation.
      type: object
      properties:
        value:
          description: Results of a list operation.
          type: array
          items:
            $ref: '#/components/schemas/ConfluentAgreementResource'
        nextLink:
          description: Link to the next set of results, if any.
          type: string
    ErrorResponseBody:
      description: Response body of Error
      title: ErrorResponseBody
      type: object
      properties:
        code:
          description: Error code
          type: string
          readOnly: true
        message:
          description: Error message
          type: string
          readOnly: true
        target:
          description: Error target
          type: string
          readOnly: true
        details:
          description: Error detail
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/ErrorResponseBody'
          x-ms-identifiers:
          - message
          - target
    ConfluentAgreementResource:
      description: Agreement Terms definition
      type: object
      x-ms-azure-resource: true
      properties:
        id:
          description: The ARM id of the resource.
          type: string
          readOnly: true
        name:
          description: The name of the agreement.
          type: string
          readOnly: true
        type:
          description: The type of the agreement.
          type: string
          readOnly: true
        systemData:
          description: Metadata pertaining to creation and last modification of the resource
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          readOnly: true
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ConfluentAgreementProperties'
          description: Represents the properties of the resource.
    ConfluentAgreementProperties:
      description: Terms properties for Marketplace and Confluent.
      type: object
      properties:
        publisher:
          description: Publisher identifier string.
          type: string
        product:
          description: Product identifier string.
          type: string
        plan:
          description: Plan identifier string.
          type: string
        licenseTextLink:
          description: Link to HTML with Microsoft and Publisher terms.
          type: string
        privacyPolicyLink:
          description: Link to the privacy policy of the publisher.
          type: string
        retrieveDatetime:
          format: date-time
          description: Date and time in UTC of when the terms were accepted. This is empty if Accepted is false.
          type: string
        signature:
          description: Terms signature.
          type: string
        accepted:
          description: If any version of the terms have been accepted, otherwise false.
          type: boolean
    ResourceProviderDefaultErrorResponse_2:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorResponseBody_2'
    DatadogAgreementProperties:
      description: Terms properties.
      type: object
      properties:
        publisher:
          description: Publisher identifier string.
          type: string
        product:
          description: Product identifier string.
          type: string
        plan:
          description: Plan identifier string.
          type: string
        licenseTextLink:
          description: Link to HTML with Microsoft and Publisher terms.
          type: string
        privacyPolicyLink:
          description: Link to the privacy policy of the publisher.
          type: string
        retrieveDatetime:
          format: date-time
          description: Date and time in UTC of when the terms were accepted. This is empty if Accepted is false.
          type: string
        signature:
          description: Terms signature.
          type: string
        accepted:
          description: If any version of the terms have been accepted, otherwise false.
          type: boolean
    ErrorResponseBody_2:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseBody_2'
    DatadogAgreementResourceListResponse:
      description: Response of a list operation.
      type: object
      properties:
        value:
          description: Results of a list operation.
          type: array
          items:
            $ref: '#/components/schemas/DatadogAgreementResource'
        nextLink:
          description: Link to the next set of results, if any.
          type: string
    DatadogAgreementResource:
      type: object
      x-ms-azure-resource: true
      properties:
        id:
          description: ARM id of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the agreement.
          type: string
          readOnly: true
        type:
          description: The type of the resource.
          type: string
          readOnly: true
        properties:
          $ref: '#/components/schemas/DatadogAgreementProperties'
          description: Represents the properties of the resource.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
        enum:
        - 2021-09-01-preview
    SubscriptionIdParameter:
      in: path
      name: subscriptionId
      description: Microsoft Azure subscription id
      required: true
      schema:
        type: string
    SubscriptionIdParameter_2:
      name: subscriptionId
      in: path
      description: The Microsoft Azure subscription ID.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-refined-from:
- microsoftconfluent-openapi-original.yml
- microsoftdatadog-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
