openapi: 3.2.0
info:
  title: Microsoft Azure ComputeDiagnosticResourceProviderClient…
  description: The Compute Diagnostic Resource Provider Client
  version: 2024-03-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: registerStorageConfiguration
paths:
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/diagnostics/diskInspection/registerStorageConfiguration
  : post:
      tags:
      - registerStorageConfiguration
      operationId: microsoftAzureDiskinspectionstorageconfigurationRegister
      x-ms-long-running-operation: false
      description: Register a storageAccount for a subscription used for DiskInspection
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Succeeded
        default:
          description: Error response describing why the register operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Create a request for registering a storageAccount information.:
          $ref: ./examples/RegisterStorageConfiguration.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft Compute…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorageConfigurationInput'
        description: Storage Configuration object supplied in the body of the Post to cache storageAccount for a given subscription.
        required: true
components:
  schemas:
    StorageConfigurationInput:
      type: object
      properties:
        storageAccountId:
          description: 'Fully qualified storage account Id. Example: "/subscriptions/{subId}/resourceGroups/{rgName}/providers/Microsoft.Storage/storageAccounts/{storageAccountName}"'
          type: string
      required:
      - storageAccountId
      description: Data used for registering a Storage Account for a Subscription.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
