openapi: 3.2.0
info:
  title: Microsoft Azure GraphRbacManagementClient Signed In User API
  version: '1.6'
  description: The Graph RBAC Management Client
servers:
- url: https://graph.windows.net
security:
- azure_auth:
  - user_impersonation
tags:
- name: SignedInUser
paths:
  /{tenantID}/me:
    get:
      tags:
      - SignedInUser
      operationId: microsoftAzureSignedinuserGet
      description: Gets the details for the currently logged-in user.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
            text/json:
              schema:
                $ref: '#/components/schemas/User'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
      summary: Microsoft Azure Get Tenantid Me
  /{tenantID}/me/ownedObjects:
    get:
      tags:
      - SignedInUser
      operationId: microsoftAzureSignedinuserListownedobjects
      description: Get the list of directory objects that are owned by the user.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryObjectListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/DirectoryObjectListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphError'
            text/json:
              schema:
                $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: SignedInUser_ListOwnedObjectsNext
      summary: Microsoft Azure Get Tenantid Me Ownedobjects
components:
  schemas:
    SignInName:
      type: object
      properties:
        type:
          type: string
          description: A string value that can be used to classify user sign-in types in your directory, such as 'emailAddress' or 'userName'.
        value:
          type: string
          description: The sign-in used by the local account. Must be unique across the company/tenant. For example, 'johnc@example.com'.
      additionalProperties:
        type: object
      description: Contains information about a sign-in name of a local account user in an Azure Active Directory B2C tenant.
    ErrorMessage:
      type: object
      properties:
        value:
          type: string
          x-ms-client-name: message
          description: Error message value.
      description: Active Directory error message.
    GraphError:
      type: object
      properties:
        odata.error:
          type: object
          x-ms-client-flatten: true
          $ref: '#/components/schemas/OdataError'
          description: A Graph API error.
      description: Active Directory error information.
    OdataError:
      type: object
      properties:
        code:
          type: string
          description: Error code.
        message:
          type: object
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ErrorMessage'
          description: Error Message.
      description: Active Directory OData error information.
    User:
      type: object
      allOf:
      - $ref: '#/components/schemas/DirectoryObject'
      properties:
        immutableId:
          type: string
          description: This must be specified if you are using a federated domain for the user's userPrincipalName (UPN) property when creating a new user account. It is used to associate an on-premises Active Directory user account with their Azure AD user object.
        usageLocation:
          type: string
          description: 'A two letter country code (ISO standard 3166). Required for users that will be assigned licenses due to legal requirement to check for availability of services in countries. Examples include: "US", "JP", and "GB".'
        givenName:
          type: string
          description: The given name for the user.
        surname:
          type: string
          description: The user's surname (family name or last name).
        userType:
          type: string
          description: A string value that can be used to classify user types in your directory, such as 'Member' and 'Guest'.
          enum:
          - Member
          - Guest
          x-ms-enum:
            name: UserType
            modelAsString: true
        accountEnabled:
          type: boolean
          description: Whether the account is enabled.
        displayName:
          type: string
          description: The display name of the user.
        userPrincipalName:
          type: string
          description: The principal name of the user.
        mailNickname:
          type: string
          description: The mail alias for the user.
        mail:
          type: string
          description: The primary email address of the user.
        signInNames:
          type: array
          items:
            $ref: '#/components/schemas/SignInName'
          description: The sign-in names of the user.
      description: Active Directory user information.
    DirectoryObjectListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/DirectoryObject'
          description: A collection of DirectoryObject.
        odata.nextLink:
          type: string
          description: The URL to get the next set of results.
      description: DirectoryObject list operation result.
    DirectoryObject:
      type: object
      discriminator:
        propertyName: objectType
      properties:
        objectId:
          type: string
          description: The object ID.
          readOnly: true
        objectType:
          type: string
          description: The object type.
        deletionTimestamp:
          type:
          - string
          - 'null'
          format: date-time
          description: The time at which the directory object was deleted.
          readOnly: true
      required:
      - objectType
      additionalProperties:
        type: object
      description: Represents an Azure Active Directory object.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
    tenantIDInPath:
      name: tenantID
      in: path
      required: true
      description: The tenant ID.
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-ms-paths:
  /{tenantID}/{nextLink}?OAuth2PermissionGrant_ListNext:
    get:
      tags:
      - OAuth2PermissionGrant_ListNext
      operationId: OAuth2PermissionGrant_ListNext
      description: Gets the next page of OAuth2 permission grants
      parameters:
      - name: nextLink
        in: path
        required: true
        type: string
        description: Next link for the list operation.
        x-ms-skip-url-encoding: true
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/components/schemas/OAuth2PermissionGrantListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: OAuth2PermissionGrant_ListNext
  /{tenantID}/{nextLink}?SignedInUser_ListOwnedObjectsNext:
    get:
      tags:
      - SignedInUser
      operationId: SignedInUser_ListOwnedObjectsNext
      description: Get the list of directory objects that are owned by the user.
      parameters:
      - name: nextLink
        in: path
        required: true
        type: string
        description: Next link for the list operation.
        x-ms-skip-url-encoding: true
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/components/schemas/DirectoryObjectListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: SignedInUser_ListOwnedObjectsNext
  /{tenantID}/{nextLink}?Groups_ListNext:
    get:
      tags:
      - Group
      operationId: Groups_ListNext
      description: Gets a list of groups for the current tenant.
      parameters:
      - name: nextLink
        in: path
        required: true
        type: string
        description: Next link for the list operation.
        x-ms-skip-url-encoding: true
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/components/schemas/GroupListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: Groups_ListNext
  /{tenantID}/{nextLink}?Groups_GetGroupMembersNext:
    get:
      tags:
      - Group
      operationId: Groups_GetGroupMembersNext
      description: Gets the members of a group.
      parameters:
      - name: nextLink
        in: path
        required: true
        type: string
        description: Next link for the list operation.
        x-ms-skip-url-encoding: true
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/components/schemas/DirectoryObjectListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: Groups_GetGroupMembersNext
  /{tenantID}/{nextLink}?Applications_ListNext:
    get:
      tags:
      - Applications
      operationId: Applications_ListNext
      description: Gets a list of applications from the current tenant.
      parameters:
      - name: nextLink
        in: path
        required: true
        type: string
        description: Next link for the list operation.
        x-ms-skip-url-encoding: true
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/components/schemas/ApplicationListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: Applications_ListNext
  /{tenantID}/{nextLink}?DeletedApplications_ListNext:
    get:
      tags:
      - deletedApplications
      operationId: DeletedApplications_ListNext
      description: Gets a list of deleted applications in the directory.
      parameters:
      - name: nextLink
        in: path
        required: true
        type: string
        description: Next link for the list operation.
        x-ms-skip-url-encoding: true
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/components/schemas/ApplicationListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: DeletedApplications_ListNext
  /{tenantID}/{nextLink}?ServicePrincipals_ListNext:
    get:
      tags:
      - ServicePrincipal
      operationId: ServicePrincipals_ListNext
      description: Gets a list of service principals from the current tenant.
      parameters:
      - name: nextLink
        in: path
        required: true
        type: string
        description: Next link for the list operation.
        x-ms-skip-url-encoding: true
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/components/schemas/ServicePrincipalListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: ServicePrincipals_ListNext
  /{tenantID}/{nextLink}?Users_ListNext:
    get:
      tags:
      - User
      operationId: Users_ListNext
      description: Gets a list of users for the current tenant.
      parameters:
      - name: nextLink
        in: path
        required: true
        type: string
        description: Next link for the list operation.
        x-ms-skip-url-encoding: true
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/components/schemas/UserListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/components/schemas/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: Users_ListNext
  /{tenantID}/{nextLink}?Objects_GetObjectsByObjectIdsNext:
    post:
      tags:
      - Objects
      operationId: Objects_GetObjectsByObjectIdsNext
      description: Gets AD group membership for the specified AD object IDs.
      parameters:
      - name: nextLink
        in: path
        required: true
        type: string
        description: Next link for the list operation.
        x-ms-skip-url-encoding: true
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/tenantIDInPath'
      responses:
        '200':
          description: OK. The operation was successful.
          schema:
            $ref: '#/components/schemas/DirectoryObjectListResult'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: Objects_GetObjectsByObjectIdsNext
