openapi: 3.2.0
info:
  title: Microsoft Azure Private Clouds API
  x-refined-note:
  - x-ms-code-generation-settings differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged PrivateClouds across 2 of this provider''s published API definitions: azure-vmware-solution-api-openapi-original.yml, vmwarecloudsimple-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: PrivateClouds
  description: ''
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds:
    get:
      operationId: microsoftAzurePrivatecloudsList
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
      - PrivateClouds
      summary: Microsoft Azure List Private Clouds In A Resource Group
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCloudList'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        PrivateClouds_List:
          $ref: ./examples/PrivateClouds_List.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.AVS/privateClouds:
    get:
      operationId: microsoftAzurePrivatecloudsListinsubscription
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
      - PrivateClouds
      summary: Microsoft Azure List Private Clouds In A Subscription
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCloudList'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        PrivateClouds_ListInSubscription:
          $ref: ./examples/PrivateClouds_ListInSubscription.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}
  : get:
      operationId: microsoftAzurePrivatecloudsGet
      tags:
      - PrivateClouds
      summary: Microsoft Azure Get A Private Cloud
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/privateCloudName'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCloud'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        PrivateClouds_Get:
          $ref: ./examples/PrivateClouds_Get.json
      description: Needs a more full description created.
    put:
      operationId: microsoftAzurePrivatecloudsCreateorupdate
      x-ms-long-running-operation: true
      tags:
      - PrivateClouds
      summary: Microsoft Azure Create Or Update A Private Cloud
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/privateCloudName'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCloud'
        '201':
          description: accepted operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCloud'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        PrivateClouds_CreateOrUpdate:
          $ref: ./examples/PrivateClouds_CreateOrUpdate.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateCloud'
        description: The private cloud
        required: true
    patch:
      operationId: microsoftAzurePrivatecloudsUpdate
      x-ms-long-running-operation: true
      tags:
      - PrivateClouds
      summary: Microsoft Azure Update A Private Cloud
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/privateCloudName'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCloud'
        '201':
          description: accepted operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCloud'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        PrivateClouds_Update:
          $ref: ./examples/PrivateClouds_Update.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateCloudUpdate'
        description: The private cloud properties to be updated
        required: true
    delete:
      operationId: microsoftAzurePrivatecloudsDelete
      x-ms-long-running-operation: true
      tags:
      - PrivateClouds
      summary: Microsoft Azure Delete A Private Cloud
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/privateCloudName'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK. The delete has succeeded
        '202':
          description: Accepted. The delete will complete asynchronously
        '204':
          description: No Content. No private cloud to delete
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        PrivateClouds_Delete:
          $ref: ./examples/PrivateClouds_Delete.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/rotateVcenterPassword
  : post:
      operationId: microsoftAzurePrivatecloudsRotatevcenterpassword
      tags:
      - PrivateClouds
      summary: Microsoft Azure Rotate The Vcenter Password
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/privateCloudName'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      x-ms-long-running-operation: true
      responses:
        '202':
          description: The password rotation has started
        '204':
          description: The password rotation was successful
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        PrivateClouds_RotateVcenterPassword:
          $ref: ./examples/PrivateClouds_RotateVcenterPassword.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/rotateNsxtPassword
  : post:
      operationId: microsoftAzurePrivatecloudsRotatensxtpassword
      tags:
      - PrivateClouds
      summary: Microsoft Azure Rotate The Nsx T Manager Password
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/privateCloudName'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      x-ms-long-running-operation: true
      responses:
        '202':
          description: The password rotation has started
        '204':
          description: The password rotation was successful
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        PrivateClouds_RotateNsxtPassword:
          $ref: ./examples/PrivateClouds_RotateNsxtPassword.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/listAdminCredentials
  : post:
      operationId: microsoftAzurePrivatecloudsListadmincredentials
      tags:
      - PrivateClouds
      summary: Microsoft Azure List The Admin Credentials For The Private Cloud
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/privateCloudName'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminCredentials'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        PrivateClouds_ListAdminCredentials:
          $ref: ./examples/PrivateClouds_ListAdminCredentials.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds:
    get:
      description: Returns list of private clouds in particular region
      tags:
      - PrivateClouds
      summary: Microsoft Azure Implements Private Cloud List Get Method
      operationId: microsoftAzurePrivatecloudsList
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/regionId'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCloudList_2'
        default:
          description: General Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
      x-ms-examples:
        ListPrivateCloudInLocation:
          $ref: ./examples/ListPrivateCloudInLocation.json
      x-ms-pageable:
        nextLinkName: nextLink
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}:
    get:
      description: Returns private cloud by its name
      tags:
      - PrivateClouds
      summary: Microsoft Azure Implements Private Cloud Get Method
      operationId: microsoftAzurePrivatecloudsGet
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/pcName'
      - $ref: '#/components/parameters/regionId'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCloud_2'
        default:
          description: General Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
      x-ms-examples:
        GetPrivateCloud:
          $ref: ./examples/GetPrivateCloud.json
    servers:
    - url: https://management.azure.com
components:
  schemas:
    PrivateCloudUpdate:
      description: An update to a private cloud resource
      properties:
        tags:
          description: Resource tags
          $ref: '#/components/schemas/ResourceTags'
        properties:
          description: The updatable properties of a private cloud resource
          $ref: '#/components/schemas/PrivateCloudUpdateProperties'
          x-ms-client-flatten: true
    CloudError:
      x-ms-external: true
      properties:
        error:
          description: An error returned by the API
          $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse
      description: API error response
    PrivateCloudList:
      description: A paged list of private clouds
      properties:
        value:
          description: The items on the page
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/PrivateCloud'
        nextLink:
          description: URL to get the next page if any
          type: string
          readOnly: true
    IdentitySource:
      description: vCenter Single Sign On Identity Source
      properties:
        name:
          description: The name of the identity source
          type: string
        alias:
          description: The domain's NetBIOS name
          type: string
        domain:
          description: The domain's dns name
          type: string
        baseUserDN:
          description: The base distinguished name for users
          type: string
        baseGroupDN:
          description: The base distinguished name for groups
          type: string
        primaryServer:
          description: Primary server URL
          type: string
        secondaryServer:
          description: Secondary server URL
          type: string
        ssl:
          description: Protect LDAP communication using SSL certificate (LDAPS)
          type: string
          enum:
          - Enabled
          - Disabled
          x-ms-enum:
            name: SslEnum
            modelAsString: true
        username:
          description: The ID of an Active Directory user with a minimum of read-only access to Base DN for users and group
          type: string
        password:
          description: The password of the Active Directory user with a minimum of read-only access to Base DN for users and groups.
          type: string
          x-ms-secret: true
    PrivateCloudUpdateProperties:
      description: The properties of a private cloud resource that may be updated
      properties:
        managementCluster:
          description: The default cluster used for management
          $ref: '#/components/schemas/ManagementCluster'
        internet:
          description: Connectivity to internet is enabled or disabled
          type: string
          enum:
          - Enabled
          - Disabled
          default: Disabled
          x-ms-enum:
            name: InternetEnum
            modelAsString: true
        identitySources:
          description: vCenter Single Sign On Identity Sources
          type: array
          items:
            $ref: '#/components/schemas/IdentitySource'
    ResourceTags:
      description: Resource tags
      type: object
      additionalProperties:
        type: string
      x-ms-mutability:
      - read
      - create
      - update
    Resource:
      description: The core properties of ARM resources
      properties:
        id:
          description: Resource ID.
          readOnly: true
          type: string
        name:
          description: Resource name.
          readOnly: true
          type: string
        type:
          description: Resource type.
          readOnly: true
          type: string
      x-ms-azure-resource: true
    PrivateCloud:
      description: A private cloud resource
      required:
      - location
      - sku
      allOf:
      - $ref: '#/components/schemas/TrackedResource'
      properties:
        sku:
          description: The private cloud SKU
          $ref: '#/components/schemas/Sku'
        properties:
          description: The properties of a private cloud resource
          $ref: '#/components/schemas/PrivateCloudProperties'
          x-ms-client-flatten: true
    CommonClusterProperties:
      description: The common properties of a cluster
      properties:
        provisioningState:
          description: The state of the cluster provisioning
          type: string
          readOnly: true
          enum:
          - Succeeded
          - Failed
          - Cancelled
          - Deleting
          - Updating
          x-ms-enum:
            name: ClusterProvisioningState
            modelAsString: true
        clusterSize:
          description: The cluster size
          type: integer
          format: int32
        clusterId:
          description: The identity
          type: integer
          format: int32
          readOnly: true
        hosts:
          description: The hosts
          type: array
          readOnly: true
          items:
            type: string
    PrivateCloudProperties:
      description: The properties of a private cloud resource
      required:
      - managementCluster
      - networkBlock
      allOf:
      - $ref: '#/components/schemas/PrivateCloudUpdateProperties'
      properties:
        provisioningState:
          description: The provisioning state
          type: string
          readOnly: true
          enum:
          - Succeeded
          - Failed
          - Cancelled
          - Pending
          - Building
          - Deleting
          - Updating
          x-ms-enum:
            name: PrivateCloudProvisioningState
            modelAsString: true
        circuit:
          description: An ExpressRoute Circuit
          $ref: '#/components/schemas/Circuit'
        endpoints:
          description: The endpoints
          readOnly: true
          $ref: '#/components/schemas/Endpoints'
        networkBlock:
          description: The block of addresses should be unique across VNet in your subscription as well as on-premise. Make sure the CIDR format is conformed to (A.B.C.D/X) where A,B,C,D are between 0 and 255, and X is between 0 and 22
          type: string
        managementNetwork:
          description: Network used to access vCenter Server and NSX-T Manager
          type: string
          readOnly: true
        provisioningNetwork:
          description: Used for virtual machine cold migration, cloning, and snapshot migration
          type: string
          readOnly: true
        vmotionNetwork:
          description: Used for live migration of virtual machines
          type: string
          readOnly: true
        vcenterPassword:
          description: Optionally, set the vCenter admin password when the private cloud is created
          type: string
          x-ms-secret: true
        nsxtPassword:
          description: Optionally, set the NSX-T Manager password when the private cloud is created
          type: string
          x-ms-secret: true
        vcenterCertificateThumbprint:
          description: Thumbprint of the vCenter Server SSL certificate
          type: string
          readOnly: true
        nsxtCertificateThumbprint:
          description: Thumbprint of the NSX-T Manager SSL certificate
          type: string
          readOnly: true
    TrackedResource:
      description: The resource model definition for a ARM tracked top level resource
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        location:
          type: string
          description: Resource location
        tags:
          description: Resource tags
          $ref: '#/components/schemas/ResourceTags'
    Endpoints:
      description: Endpoint addresses
      properties:
        nsxtManager:
          description: Endpoint for the NSX-T Data Center manager
          type: string
          readOnly: true
        vcsa:
          description: Endpoint for Virtual Center Server Appliance
          type: string
          readOnly: true
        hcxCloudManager:
          description: Endpoint for the HCX Cloud Manager
          type: string
          readOnly: true
    ManagementCluster:
      description: The properties of a management cluster
      required:
      - clusterSize
      allOf:
      - $ref: '#/components/schemas/CommonClusterProperties'
    Circuit:
      description: An ExpressRoute Circuit
      properties:
        primarySubnet:
          type: string
          readOnly: true
          description: CIDR of primary subnet
        secondarySubnet:
          type: string
          readOnly: true
          description: CIDR of secondary subnet
        expressRouteID:
          type: string
          readOnly: true
          description: Identifier of the ExpressRoute Circuit (Microsoft Colo only)
        expressRoutePrivatePeeringID:
          type: string
          readOnly: true
          description: ExpressRoute Circuit private peering identifier
    AdminCredentials:
      description: Administrative credentials for accessing vCenter and NSX-T
      properties:
        nsxtUsername:
          description: NSX-T Manager username
          type: string
          readOnly: true
        nsxtPassword:
          description: NSX-T Manager password
          type: string
          readOnly: true
          x-ms-secret: true
        vcenterUsername:
          description: vCenter admin username
          type: string
          readOnly: true
        vcenterPassword:
          description: vCenter admin password
          type: string
          readOnly: true
          x-ms-secret: true
    Sku:
      description: The resource model definition representing SKU
      properties:
        name:
          type: string
          description: The name of the SKU.
      required:
      - name
    PrivateCloudList_2:
      description: List of private clouds
      properties:
        nextLink:
          description: Link for next list of Private Clouds
          type: string
        value:
          description: the list of private clouds
          type: array
          items:
            $ref: '#/components/schemas/PrivateCloud_2'
    CSRPError:
      description: General error model
      properties:
        error:
          description: Error's body
          $ref: '#/components/schemas/CSRPErrorBody'
    IPV4Address:
      type: string
      pattern: ^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])[.]){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$
    VirtualDisk:
      description: Virtual disk model
      required:
      - totalSize
      - independenceMode
      - controllerId
      properties:
        controllerId:
          description: Disk's Controller id
          type: string
        independenceMode:
          description: Disk's independence mode type
          type: string
          enum:
          - persistent
          - independent_persistent
          - independent_nonpersistent
          x-ms-enum:
            modelAsString: false
            name: DiskIndependenceMode
        totalSize:
          description: Disk's total size
          type: integer
        virtualDiskId:
          description: Disk's id
          type: string
        virtualDiskName:
          description: Disk's display name
          type: string
          readOnly: true
    VirtualMachineTemplateProperties:
      description: Properties of virtual machine template
      required:
      - privateCloudId
      properties:
        amountOfRam:
          description: The amount of memory
          type: integer
        controllers:
          description: The list of Virtual Disk Controllers
          type: array
          items:
            $ref: '#/components/schemas/VirtualDiskController'
        description:
          description: The description of Virtual Machine Template
          type: string
        disks:
          description: The list of Virtual Disks
          type: array
          items:
            $ref: '#/components/schemas/VirtualDisk'
          x-ms-identifiers:
          - virtualDiskId
        exposeToGuestVM:
          description: Expose Guest OS or not
          type: boolean
        guestOS:
          description: The Guest OS
          type: string
          readOnly: true
        guestOSType:
          description: The Guest OS types
          type: string
          readOnly: true
        nics:
          description: The list of Virtual NICs
          type: array
          items:
            $ref: '#/components/schemas/VirtualNic'
          x-ms-identifiers:
          - virtualNicId
        numberOfCores:
          description: The number of CPU cores
          type: integer
        path:
          description: path to folder
          type: string
          example: Datacenter/Workload VMs
        privateCloudId:
          description: The Private Cloud Id
          type: string
        vSphereNetworks:
          description: The list of VSphere networks
          type: array
          items:
            type: string
        vSphereTags:
          description: The tags from VSphere
          type: array
          items:
            type: string
        vmwaretools:
          description: The VMware tools version
          type: string
          readOnly: true
    VirtualNetworkProperties:
      description: Properties of virtual network
      properties:
        privateCloudId:
          description: The Private Cloud id
          type: string
          readOnly: true
    PrivateCloud_2:
      description: Private cloud model
      properties:
        id:
          description: Azure Id, e.g. "/subscriptions/4da99247-a172-4ed6-8ae9-ebed2d12f839/providers/Microsoft.VMwareCloudSimple/privateClouds/cloud123"
          type: string
        location:
          description: Location where private cloud created, e.g "westus"
          type: string
        name:
          description: Private cloud name
          type: string
        properties:
          description: Private cloud properties
          x-ms-client-flatten: true
          $ref: '#/components/schemas/PrivateCloudProperties_2'
        type:
          description: Azure Resource type
          type: string
          enum:
          - Microsoft.VMwareCloudSimple/privateClouds
          x-ms-enum:
            modelAsString: false
            name: PrivateCloudResourceType
    VirtualDiskController:
      description: Virtual disk controller model
      properties:
        id:
          description: Controller's id
          type: string
          readOnly: true
        name:
          description: The display name of Controller
          type: string
          readOnly: true
        subType:
          description: dik controller subtype (VMWARE_PARAVIRTUAL, BUS_PARALLEL, LSI_PARALLEL, LSI_SAS)
          type: string
          readOnly: true
        type:
          description: disk controller type (SCSI)
          type: string
          readOnly: true
    GuestOSNICCustomization:
      description: Guest OS nic customization
      properties:
        allocation:
          description: IP address allocation method
          type: string
          enum:
          - static
          - dynamic
        dnsServers:
          description: List of dns servers to use
          type: array
          items:
            $ref: '#/components/schemas/IPV4Address'
        gateway:
          description: Gateway addresses assigned to nic
          type: array
          items:
            $ref: '#/components/schemas/IPV4Address'
        ipAddress:
          description: Static ip address for nic
          $ref: '#/components/schemas/IPV4Address'
        mask:
          description: Network mask for nic
          $ref: '#/components/schemas/IPV4Address'
        primaryWinsServer:
          description: primary WINS server for Windows
          $ref: '#/components/schemas/IPV4Address'
        secondaryWinsServer:
          description: secondary WINS server for Windows
          $ref: '#/components/schemas/IPV4Address'
    ResourcePool:
      description: Resource pool model
      required:
      - id
      properties:
        id:
          description: resource pool id (privateCloudId:vsphereId)
          type: string
        location:
          description: Azure region
          type: string
          readOnly: true
        name:
          description: '{ResourcePoolName}'
          type: string
          readOnly: true
        privateCloudId:
          description: The Private Cloud Id
          type: string
          readOnly: true
        properties:
          description: Resource pool properties
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ResourcePoolProperties'
        type:
          description: '{resourceProviderNamespace}/{resourceType}'
          type: string
          readOnly: true
    PrivateCloudProperties_2:
      description: Properties of private
      properties:
        availabilityZoneId:
          description: Availability Zone id, e.g. "az1"
          type: string
        availabilityZoneName:
          description: Availability Zone name, e.g. "Availability Zone 1"
          type: string
        clustersNumber:
          description: Number of clusters
          type: integer
        createdBy:
          description: User's emails who created cloud
          type: string
        createdOn:
          description: When private cloud was created
          type: string
          format: date-time
        dnsServers:
          description: Array of DNS servers
          type: array
          items:
            type: string
        expires:
          description: Expiration date of PC
          type: string
        nsxType:
          description: Nsx Type, e.g. "Advanced"
          type: string
        placementGroupId:
          description: Placement Group id, e.g. "n1"
          type: string
        placementGroupName:
          description: Placement Group name
          type: string
        privateCloudId:
          description: Id of a private cloud
          type: string
          format: uuid
        resourcePools:
          description: The list of Resource Pools
          type: array
          items:
            $ref: '#/components/schemas/ResourcePool'
        state:
          description: Private Cloud state, e.g. "operational"
          type: string
        totalCpuCores:
          description: Number of cores
          type: integer
        totalNodes:
          description: Number of nodes
          type: integer
        totalRam:
          description: Memory size
          type: integer
        totalStorage:
          description: Disk space in TB
          type: number
        type:
          description: Virtualization type e.g. "vSphere"
          type: string
        vSphereVersion:
          description: e.g. "6.5u2"
          type: string
        vcenterFqdn:
          description: FQDN for vcenter access
          type: string
        vcenterRefid:
          description: Vcenter ip address
          type: string
        virtualMachineTemplates:
          description: The list of Virtual Machine Templates
          type: array
          items:
            $ref: '#/components/schemas/VirtualMachineTemplate'
        virtualNetworks:
          description: The list of Virtual Networks
          type: array
          items:
            $ref: '#/components/schemas/VirtualNetwork'
        vrOpsEnabled:
          description: Is vRealize Operations Manager enabled/disabled
          type: boolean
    CSRPErrorBody:
      description: Error properties
      properties:
        code:
          description: Error's code
          type: string
          readOnly: true
        details:
          description: Error's details
          type: array
          items:
            $ref: '#/components/schemas/CSRPErrorBody'
          x-ms-identifiers: []
          readOnly: true
        message:
          description: Error's message
          type: string
          readOnly: true
        target:
          description: Error's target
          type: string
    ResourcePoolProperties:
      description: Properties of resource pool
      properties:
        fullName:
          description: Hierarchical resource pool name
          type: string
          readOnly: true
    VirtualNetwork:
      description: Virtual network model
      required:
      - id
      properties:
        assignable:
          description: can be used in vm creation/deletion
          type: boolean
          readOnly: true
        id:
          description: virtual network id (privateCloudId:vsphereId)
          type: string
        location:
          description: Azure region
          type: string
          readOnly: true
        name:
          description: '{VirtualNetworkName}'
          type: string
          readOnly: true
        properties:
          description: Virtual Network properties
          x-ms-client-flatten: true
          $ref: '#/components/schemas/VirtualNetworkProperties'
        type:
          description: '{resourceProviderNamespace}/{resourceType}'
          type: string
          readOnly: true
    VirtualNic:
      description: Virtual NIC model
      required:
      - nicType
      - network
      properties:
        customization:
          description: guest OS customization for nic
          $ref: '#/components/schemas/GuestOSNICCustomization'
        ipAddresses:
          description: NIC ip address
          type: array
          items:
            type: string
        macAddress:
          description: NIC MAC address
          type: string
        network:
          description: Virtual Network
          $ref: '#/components/schemas/VirtualNetwork'
        nicType:
          description: NIC type
          type: string
          enum:
          - E1000
          - E1000E
          - PCNET32
          - VMXNET
          - VMXNET2
          - VMXNET3
          x-ms-enum:
            modelAsString: false
            name: NICType
        powerOnBoot:
          description: Is NIC powered on/off on boot
          type: boolean
        virtualNicId:
          description: NIC id
          type: string
        virtualNicName:
          description: NIC name
          type: string
          readOnly: true
    VirtualMachineTemplate:
      description: Virtual machine template model
      properties:
        id:
          description: virtual machine template id (privateCloudId:vsphereId)
          type: string
          readOnly: true
        location:
          description: Azure region
          type: string
        name:
          description: '{virtualMachineTemplateName}'
          type: string
          readOnly: true
        properties:
          description: The Virtual Machine Template properties
          x-ms-client-flatten: true
          $ref: '#/components/schemas/VirtualMachineTemplateProperties'
        type:
          description: '{resourceProviderNamespace}/{resourceType}'
          type: string
          readOnly: true
  parameters:
    privateCloudName:
      name: privateCloudName
      in: path
      required: true
      description: Name of the private cloud
      x-ms-parameter-location: method
      schema:
        type: string
    regionId:
      x-ms-parameter-location: method
      description: The region Id (westus, eastus)
      name: regionId
      in: path
      required: true
      schema:
        type: string
    api-version:
      description: Client API version.
      name: api-version
      in: query
      required: true
      schema:
        type: string
    subscriptionId:
      description: The subscription ID.
      name: subscriptionId
      in: path
      required: true
      schema:
        type: string
    pcName:
      x-ms-parameter-location: method
      description: The private cloud name
      name: pcName
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- azure-vmware-solution-api-openapi-original.yml
- vmwarecloudsimple-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
