openapi: 3.2.0
info:
  version: '2016-06-01'
  title: Microsoft Azure HybridDataManagementClient Data Store Types…
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: DataStoreTypes
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataStoreTypes
  : get:
      tags:
      - DataStoreTypes
      description: Gets all the data store/repository types that the resource supports.
      operationId: microsoftAzureDatastoretypesListbydatamanager
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/dataManagerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The list of data store types that are supported.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataStoreTypeList'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        DataStoreTypes_ListByDataManagerGET171:
          $ref: ./examples/DataStoreTypes_ListByDataManager-GET-example-171.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataStoreTypes/{dataStoreTypeName}
  : get:
      tags:
      - DataStoreTypes
      description: Gets the data store/repository type given its name.
      operationId: microsoftAzureDatastoretypesGet
      parameters:
      - name: dataStoreTypeName
        in: path
        description: The data store/repository type name for which details are needed.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/dataManagerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The data store/repository type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataStoreType'
      x-ms-examples:
        DataStoreTypes_GetGET182:
          $ref: ./examples/DataStoreTypes_Get-GET-example-182.json
        DataStoreTypes_GetGET183:
          $ref: ./examples/DataStoreTypes_Get-GET-example-183.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    DataStoreTypeList:
      description: Data Store Type Collection.
      type: object
      properties:
        value:
          description: List of DataStoreType.
          type: array
          items:
            $ref: '#/components/schemas/DataStoreType'
        nextLink:
          description: Link for the next set of data store types.
          type: string
    DataStoreType:
      description: Data Store Type.
      required:
      - properties
      type: object
      allOf:
      - $ref: '#/components/schemas/DmsBaseObject'
      properties:
        properties:
          $ref: '#/components/schemas/DataStoreTypeProperties'
          description: DataStoreType properties.
          x-ms-client-flatten: true
    DmsBaseObject:
      description: Base class for all objects under DataManager Service
      type: object
      properties:
        name:
          description: Name of the object.
          type: string
          readOnly: true
        id:
          description: Id of the object.
          type: string
          readOnly: true
        type:
          description: Type of the object.
          type: string
          readOnly: true
    DataStoreTypeProperties:
      description: Data Store Type properties.
      required:
      - state
      type: object
      properties:
        repositoryType:
          description: Arm type for the manager resource to which the data source type is associated. This is optional.
          type: string
        state:
          description: State of the data store type.
          enum:
          - Disabled
          - Enabled
          - Supported
          type: string
          x-ms-enum:
            name: State
            modelAsString: false
        supportedDataServicesAsSink:
          description: Supported data services where it can be used as a sink.
          type: array
          items:
            type: string
        supportedDataServicesAsSource:
          description: Supported data services where it can be used as a source.
          type: array
          items:
            type: string
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The Subscription Id
      required: true
      schema:
        type: string
    dataManagerNameParameter:
      name: dataManagerName
      in: path
      description: The name of the DataManager Resource within the specified resource group. DataManager names must be between 3 and 24 characters in length and use any alphanumeric and underscore only
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 24
        minLength: 3
        pattern: ^[-\w\.]+$
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The Resource Group Name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      description: The API Version
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
