openapi: 3.2.0
info:
  title: Microsoft Azure Guest Agents API
  version: '1.0'
  description: 'Operations tagged GuestAgents across 2 of this provider''s published API definitions: azure-arc-vmware-management-service-api-openapi-original.yml, scvmm-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: GuestAgents
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedVMwarevSphere/virtualMachines/{virtualMachineName}/guestAgents/{name}
  : put:
      tags:
      - GuestAgents
      operationId: microsoftAzureGuestagentsCreate
      description: Create Or Update GuestAgent.
      summary: Microsoft Azure Implements Guestagent Put Method
      x-ms-examples:
        CreateGuestAgent:
          $ref: ./examples/CreateGuestAgent.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - in: path
        name: virtualMachineName
        required: true
        description: Name of the vm.
        schema:
          type: string
      - in: path
        name: name
        required: true
        description: Name of the guestAgents.
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Arm resource update successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestAgent'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestAgent'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuestAgent'
        description: Request payload.
    get:
      tags:
      - GuestAgents
      operationId: microsoftAzureGuestagentsGet
      summary: Microsoft Azure Gets Guestagent
      description: Implements GuestAgent GET method.
      x-ms-examples:
        GetGuestAgent:
          $ref: ./examples/GetGuestAgent.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - in: path
        name: virtualMachineName
        required: true
        description: Name of the vm.
        schema:
          type: string
      - in: path
        name: name
        required: true
        description: Name of the GuestAgent.
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestAgent'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
    delete:
      tags:
      - GuestAgents
      operationId: microsoftAzureGuestagentsDelete
      summary: Microsoft Azure Deletes An Guestagent
      description: Implements GuestAgent DELETE method.
      x-ms-examples:
        DeleteGuestAgent:
          $ref: ./examples/DeleteGuestAgent.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - in: path
        name: virtualMachineName
        required: true
        description: Name of the vm.
        schema:
          type: string
      - in: path
        name: name
        required: true
        description: Name of the GuestAgent.
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedVMwarevSphere/virtualMachines/{virtualMachineName}/guestAgents
  : get:
      tags:
      - GuestAgents
      operationId: microsoftAzureGuestagentsList
      summary: Microsoft Azure Implements Get Guestagent In A Vm
      description: Returns the list of GuestAgent of the given vm.
      x-ms-examples:
        GuestAgentListByVm:
          $ref: ./examples/GuestAgent_ListByVm.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - in: path
        name: virtualMachineName
        required: true
        description: Name of the vm.
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestAgentList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/virtualMachines/{virtualMachineName}/guestAgents/{guestAgentName}
  : put:
      tags:
      - GuestAgents
      operationId: microsoftAzureGuestagentsCreate
      description: Create Or Update GuestAgent.
      summary: Microsoft Azure Implements Guestagent Put Method
      x-ms-examples:
        CreateGuestAgent:
          $ref: ./examples/CreateGuestAgent.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - in: path
        name: virtualMachineName
        required: true
        description: Name of the vm.
        schema:
          type: string
      - in: path
        name: guestAgentName
        required: true
        description: Name of the guestAgents.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestAgent_2'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestAgent_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuestAgent_2'
        description: Request payload.
    get:
      tags:
      - GuestAgents
      operationId: microsoftAzureGuestagentsGet
      summary: Microsoft Azure Gets Guestagent
      description: Implements GuestAgent GET method.
      x-ms-examples:
        GetGuestAgent:
          $ref: ./examples/GetGuestAgent.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - in: path
        name: virtualMachineName
        required: true
        description: Name of the vm.
        schema:
          type: string
      - in: path
        name: guestAgentName
        required: true
        description: Name of the GuestAgent.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestAgent_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - GuestAgents
      operationId: microsoftAzureGuestagentsDelete
      summary: Microsoft Azure Deletes An Guestagent
      description: Implements GuestAgent DELETE method.
      x-ms-examples:
        DeleteGuestAgent:
          $ref: ./examples/DeleteGuestAgent.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - in: path
        name: virtualMachineName
        required: true
        description: Name of the vm.
        schema:
          type: string
      - in: path
        name: guestAgentName
        required: true
        description: Name of the GuestAgent.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Success
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-long-running-operation: true
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/virtualMachines/{virtualMachineName}/guestAgents
  : get:
      tags:
      - GuestAgents
      operationId: microsoftAzureGuestagentsListbyvm
      summary: Microsoft Azure Implements Get Guestagent In A Vm
      description: Returns the list of GuestAgent of the given vm.
      x-ms-examples:
        GuestAgentListByVm:
          $ref: ./examples/GuestAgent_ListByVm.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - in: path
        name: virtualMachineName
        required: true
        description: Name of the vm.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestAgentList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
    servers:
    - url: https://management.azure.com
components:
  schemas:
    GuestAgentProperties:
      description: Describes the properties of a Virtual Machine Guest Agent.
      type: object
      properties:
        uuid:
          description: Gets or sets a unique identifier for this resource.
          type: string
          readOnly: true
        credentials:
          description: Username / Password Credentials to provision guest agent.
          $ref: '#/components/schemas/GuestCredential'
        privateLinkScopeResourceId:
          type: string
          format: arm-id
          description: The resource id of the private link scope this machine is assigned to, if any.
        httpProxyConfig:
          description: HTTP Proxy configuration for the VM.
          $ref: '#/components/schemas/HttpProxyConfiguration'
        provisioningAction:
          description: Gets or sets the guest agent provisioning action.
          $ref: '#/components/schemas/ProvisioningAction'
          type: string
        status:
          description: Gets or sets the guest agent status.
          type: string
          readOnly: true
        customResourceName:
          description: Gets the name of the corresponding resource in Kubernetes.
          type: string
          readOnly: true
        statuses:
          description: The resource status information.
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ResourceStatus'
          x-ms-identifiers:
          - type
        provisioningState:
          $ref: '#/components/schemas/ResourceProvisioningState'
          description: Gets the provisioning state.
          readOnly: true
    ProvisioningAction:
      description: Defines the different types of operations for guest agent.
      enum:
      - install
      - uninstall
      - repair
      type: string
      x-ms-enum:
        modelAsString: true
        name: ProvisioningAction
    GuestAgent:
      description: Defines the GuestAgent.
      required:
      - properties
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
        description: The resource model definition for an Azure Resource Manager proxy resource. It will have everything other than required location and tags.
      properties:
        properties:
          x-ms-client-flatten: true
          description: Resource properties.
          $ref: '#/components/schemas/GuestAgentProperties'
      x-ms-azure-resource: true
    HttpProxyConfiguration:
      description: HTTP Proxy configuration for the VM.
      type: object
      properties:
        httpsProxy:
          description: Gets or sets httpsProxy url.
          type: string
    ResourceStatus:
      description: The resource status information.
      type: object
      properties:
        type:
          description: The type of the condition.
          type: string
          readOnly: true
        status:
          description: Status of the condition.
          type: string
          readOnly: true
        reason:
          description: The reason for the condition's status.
          type: string
          readOnly: true
        message:
          description: A human readable message indicating details about the status.
          type: string
          readOnly: true
        severity:
          description: Severity with which to treat failures of this type of condition.
          type: string
          readOnly: true
        lastUpdatedAt:
          description: The last update time for this condition.
          type: string
          format: date-time
          readOnly: true
    ResourceProvisioningState:
      type: string
      description: The current deployment state of resource.
      enum:
      - Succeeded
      - Failed
      - Canceled
      - Provisioning
      - Updating
      - Deleting
      - Accepted
      - Created
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    GuestCredential:
      description: Username / Password Credentials to connect to guest.
      type: object
      properties:
        username:
          description: Gets or sets username to connect with the guest.
          type: string
        password:
          description: Gets or sets the password to connect with the guest.
          type: string
          x-ms-mutability:
          - create
          - update
          x-ms-secret: true
    GuestAgentList:
      description: List of GuestAgent.
      type: object
      properties:
        nextLink:
          description: Url to follow for getting next page of GuestAgent.
          type: string
        value:
          description: Array of GuestAgent
          type: array
          items:
            $ref: '#/components/schemas/GuestAgent'
      required:
      - value
    GuestAgentProperties_2:
      description: Defines the resource properties.
      type: object
      properties:
        uuid:
          description: Gets or sets a unique identifier for this resource.
          type: string
          readOnly: true
        credentials:
          description: Username / Password Credentials to provision guest agent.
          $ref: '#/components/schemas/GuestCredential'
        httpProxyConfig:
          description: HTTP Proxy configuration for the VM.
          $ref: '#/components/schemas/HttpProxyConfiguration'
        provisioningAction:
          description: Gets or sets the guest agent provisioning action.
          $ref: '#/components/schemas/ProvisioningAction'
          type: string
        status:
          description: Gets or sets the guest agent status.
          type: string
          readOnly: true
        customResourceName:
          description: Gets the name of the corresponding resource in Kubernetes.
          type: string
          readOnly: true
        provisioningState:
          description: Gets or sets the provisioning state.
          type: string
          readOnly: true
    GuestAgent_2:
      description: Defines the GuestAgent.
      required:
      - properties
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
        description: The resource model definition for an Azure Resource Manager proxy resource. It will have everything other than required location and tags.
      properties:
        properties:
          x-ms-client-flatten: true
          description: Resource properties.
          $ref: '#/components/schemas/GuestAgentProperties_2'
      x-ms-azure-resource: true
    ErrorDefinition:
      description: Error definition.
      type: object
      properties:
        code:
          description: Service specific error code which serves as the substatus for the HTTP error code.
          type: string
          readOnly: true
        message:
          description: Description of the error.
          type: string
          readOnly: true
        details:
          description: Internal error details.
          type: array
          items:
            $ref: '#/components/schemas/ErrorDefinition'
          x-ms-identifiers: []
          readOnly: true
    ErrorResponse:
      description: Error response.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorDefinition'
          description: The error details.
  parameters:
    api-version:
      in: query
      name: api-version
      description: Client Api Version.
      required: true
      schema:
        type: string
    resourceGroupName:
      in: path
      name: resourceGroupName
      description: The Resource Group Name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    subscriptionId:
      in: path
      name: subscriptionId
      description: The Subscription ID.
      required: true
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to be used with the HTTP request (e.g. YYYY-MM-DD).
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-refined-from:
- azure-arc-vmware-management-service-api-openapi-original.yml
- scvmm-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
