openapi: 3.2.0
info:
  description: These are the Network Experiment APIs.
  version: '2019-11-01'
  title: Microsoft Azure NetworkExperiments Preconfigured Endpoints…
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: PreconfiguredEndpoints
  description: The preconfigured endpoints and details
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/NetworkExperimentProfiles/{profileName}/PreconfiguredEndpoints
  : get:
      tags:
      - PreconfiguredEndpoints
      summary: Microsoft Azure Gets A List Of Preconfigured Endpoints
      operationId: microsoftAzurePreconfiguredendpointsList
      parameters:
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ProfileNameParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreconfiguredEndpointList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Gets a list of Preconfigured Endpoints:
          $ref: ./examples/NetworkExperimentGetPreconfiguredEndpoints.json
      x-ms-pageable:
        nextLinkName: nextLink
      description: Needs a more full description created.
components:
  schemas:
    PreconfiguredEndpointList:
      description: Defines a list of preconfigured endpoints.
      properties:
        value:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/PreconfiguredEndpoint'
          description: List of PreconfiguredEndpoints supported by NetworkExperiment.
        nextLink:
          type: string
          description: URL to get the next set of PreconfiguredEndpoints if there are any.
    PreconfiguredEndpointProperties:
      description: Defines the properties of a preconfigured endpoint
      type: object
      properties:
        description:
          description: The description of the endpoint
          type: string
        endpoint:
          description: The endpoint that is preconfigured
          type: string
        endpointType:
          description: The type of endpoint
          type: string
          enum:
          - AFD
          - AzureRegion
          - CDN
          - ATM
          x-ms-enum:
            name: endpointType
            modelAsString: true
        backend:
          description: The preconfigured endpoint backend
          type: string
    PreconfiguredEndpoint:
      description: Defines the properties of a preconfigured endpoint
      properties:
        name:
          description: The name of the endpoint
          type: string
        properties:
          description: The properties of a preconfiguredEndpoint
          $ref: '#/components/schemas/PreconfiguredEndpointProperties'
          x-ms-client-flatten: true
      allOf:
      - $ref: ./network.json#/definitions/Resource
    ErrorResponse:
      description: Error response indicates Front Door service is not able to process the incoming request. The reason is provided in the error message.
      type: object
      properties:
        code:
          description: Error code.
          readOnly: true
          type: string
        message:
          description: Error message indicating why the operation failed.
          readOnly: true
          type: string
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      description: Name of the Resource group within the Azure subscription.
      schema:
        type: string
        maxLength: 80
        minLength: 1
        pattern: ^[a-zA-Z0-9_\-\(\)\.]*[^\.]$
    ProfileNameParameter:
      name: profileName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The Profile identifier associated with the Tenant and Partner
      schema:
        type: string
        pattern: ^[a-zA-Z0-9_\-\(\)\.]*[^\.]$
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
