openapi: 3.2.0
info:
  version: 2021-04-30-preview
  title: Microsoft Azure Automanage Configuration Profiles Versions…
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ConfigurationProfilesVersions
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automanage/configurationProfiles/{configurationProfileName}/versions/{versionName}
  : put:
      tags:
      - ConfigurationProfilesVersions
      operationId: microsoftAzureConfigurationprofilesversionsCreateorupdate
      description: Creates a configuration profile version
      x-ms-examples:
        Create or update configuration profile version:
          $ref: ./examples/createOrUpdateConfigurationProfileVersion.json
      parameters:
      - name: configurationProfileName
        in: path
        required: true
        description: Name of the configuration profile.
        schema:
          type: string
      - name: versionName
        in: path
        required: true
        description: The configuration profile version name.
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK. The configuration profile was updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationProfile'
        '201':
          description: Created. The configuration profile was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationProfile'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: false
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationProfile'
        description: Parameters supplied to create or update configuration profile.
        required: true
    get:
      tags:
      - ConfigurationProfilesVersions
      operationId: microsoftAzureConfigurationprofilesversionsGet
      description: Get information about a configuration profile version
      x-ms-examples:
        Get a configuration profile version:
          $ref: ./examples/getConfigurationProfileVersion.json
      parameters:
      - name: configurationProfileName
        in: path
        required: true
        description: The configuration profile name.
        schema:
          type: string
      - name: versionName
        in: path
        required: true
        description: The configuration profile version name.
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK. The configuration profile was returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationProfile'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    delete:
      tags:
      - ConfigurationProfilesVersions
      operationId: microsoftAzureConfigurationprofilesversionsDelete
      description: Delete a configuration profile version
      x-ms-examples:
        Delete a configuration profile version:
          $ref: ./examples/deleteConfigurationProfileVersion.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - name: configurationProfileName
        in: path
        required: true
        description: Name of the configuration profile
        schema:
          type: string
      - name: versionName
        in: path
        required: true
        description: The configuration profile version name.
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        '204':
          description: OK
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: false
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    patch:
      tags:
      - ConfigurationProfilesVersions
      operationId: microsoftAzureConfigurationprofilesversionsUpdate
      description: Updates a configuration profile version
      x-ms-examples:
        Update configuration profile version:
          $ref: ./examples/updateConfigurationProfileVersion.json
      parameters:
      - name: configurationProfileName
        in: path
        required: true
        description: Name of the configuration profile.
        schema:
          type: string
      - name: versionName
        in: path
        required: true
        description: The configuration profile version name.
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK. The configuration profile was updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationProfile'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: false
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationProfileUpdate'
        description: Parameters supplied to update configuration profile.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automanage/configurationProfiles/{configurationProfileName}/versions
  : get:
      tags:
      - ConfigurationProfilesVersions
      operationId: microsoftAzureConfigurationprofilesversionsListchildresources
      description: Retrieve a list of configuration profile version for a configuration profile
      x-ms-examples:
        List configuration profile versions by configuration profile:
          $ref: ./examples/listConfigurationProfileVersions.json
      parameters:
      - name: configurationProfileName
        in: path
        required: true
        description: Name of the configuration profile.
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK. List of configuration profiles.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationProfileList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    ConfigurationDictionary:
      description: The custom configuration for configuration profile. Name and value pairs that define the configuration details of the configuration profile.
      type: object
      example:
        Antimalware/Enable: true
    ConfigurationProfileProperties:
      description: Automanage configuration profile properties.
      type: object
      properties:
        configuration:
          title: configuration
          $ref: '#/components/schemas/ConfigurationDictionary'
          description: configuration dictionary of the configuration profile.
        overrides:
          title: overrides
          $ref: '#/components/schemas/Overrides'
          description: overrides of the configuration profile.
    UpdateResource:
      description: Represents an update resource
      type: object
      properties:
        tags:
          description: The tags of the resource.
          type: object
          additionalProperties:
            type: string
    Overrides:
      description: The custom overrides for configuration profile
      type: array
      items:
        type: object
      x-ms-identifiers: []
    ConfigurationProfileUpdate:
      description: Definition of the configuration profile.
      type: object
      properties:
        properties:
          x-ms-client-flatten: false
          $ref: '#/components/schemas/ConfigurationProfileProperties'
          description: Properties of the configuration profile.
      allOf:
      - $ref: '#/components/schemas/UpdateResource'
    ConfigurationProfile:
      description: Definition of the configuration profile.
      type: object
      properties:
        properties:
          x-ms-client-flatten: false
          $ref: '#/components/schemas/ConfigurationProfileProperties'
          description: Properties of the configuration profile.
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          readOnly: true
          description: Azure Resource Manager metadata containing createdBy and modifiedBy information.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource
    ConfigurationProfileList:
      description: The response of the list configuration profile operation.
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ConfigurationProfile'
          description: Result of the list ConfigurationProfile operation.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
