openapi: 3.2.0
info:
  version: 2022-12-01-preview
  title: Microsoft Azure DataBoxEdgeManagementClient Nodes API
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Nodes
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/nodes
  : get:
      tags:
      - Nodes
      description: Gets all the nodes currently configured under this Data Box Edge device
      operationId: microsoftAzureNodesListbydataboxedgedevice
      parameters:
      - name: deviceName
        in: path
        description: The device name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of all nodes on the device.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        NodesGetAllInDevice:
          $ref: ./examples/NodeGetAllInDevice.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    CloudError:
      description: An error response from the service.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: The error details.
      x-ms-external: true
    ARMBaseModel:
      description: Represents the base class for all object models.
      type: object
      properties:
        id:
          description: The path ID that uniquely identifies the object.
          type: string
          readOnly: true
        name:
          description: The object name.
          type: string
          readOnly: true
        type:
          description: The hierarchical type of the object.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    CloudErrorBody:
      description: An error response from the service.
      type: object
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
          type: string
        message:
          description: A message describing the error, intended to be suitable for display in a user interface.
          type: string
        details:
          description: A list of additional details about the error.
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          x-ms-identifiers: []
      x-ms-external: true
    Node:
      description: 'Represents a single node in a Data box Edge/Gateway device

        Gateway devices, standalone Edge devices and a single node cluster Edge device will all have 1 node

        Multi-node Edge devices will have more than 1 nodes'
      type: object
      allOf:
      - $ref: '#/components/schemas/ARMBaseModel'
      properties:
        properties:
          $ref: '#/components/schemas/NodeProperties'
          description: The properties of the node
          readOnly: true
          x-ms-client-flatten: true
    NodeProperties:
      description: This class represents the nodes in a highly available cluster
      type: object
      properties:
        nodeStatus:
          description: The current status of the individual node
          enum:
          - Unknown
          - Up
          - Down
          - Rebooting
          - ShuttingDown
          type: string
          readOnly: true
          x-ms-enum:
            name: NodeStatus
            modelAsString: true
        nodeChassisSerialNumber:
          description: Serial number of the Chassis
          type: string
          readOnly: true
        nodeSerialNumber:
          description: Serial number of the individual node
          type: string
          readOnly: true
        nodeDisplayName:
          description: Display Name of the individual node
          type: string
          readOnly: true
        nodeFriendlySoftwareVersion:
          description: Friendly software version name that is currently installed on the node
          type: string
          readOnly: true
        nodeHcsVersion:
          description: HCS version that is currently installed on the node
          type: string
          readOnly: true
        nodeInstanceId:
          description: Guid instance id of the node
          type: string
          readOnly: true
    NodeList:
      description: Collection of Nodes.
      type: object
      properties:
        value:
          description: The list of Nodes.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/Node'
          readOnly: true
          x-ms-identifiers: []
        nextLink:
          description: Link to the next set of results.
          type: string
          readOnly: true
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID.
      required: true
      schema:
        type: string
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The resource group name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      description: The API version.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
