openapi: 3.2.0
info:
  title: Microsoft Azure RunCommandsClient Virtual Machine Scale Set…
  description: The Run Commands Client.
  version: '2024-03-01'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: VirtualMachineScaleSetVMs
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/virtualmachines/{instanceId}/runCommand
  : post:
      tags:
      - VirtualMachineScaleSetVMs
      operationId: microsoftAzureVirtualmachinescalesetvmsRuncommand
      x-ms-examples:
        VirtualMachineScaleSetVMs_RunCommand:
          $ref: ./examples/runCommandExamples/VirtualMachineScaleSetVMRunCommand.json
      description: Run command on a virtual machine in a VM scale set.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: vmScaleSetName
        in: path
        required: true
        description: The name of the VM scale set.
        schema:
          type: string
      - name: instanceId
        in: path
        required: true
        description: The instance ID of the virtual machine.
        schema:
          type: string
      - $ref: ../../../common-types/v1/common.json#/parameters/ApiVersionParameter
      - $ref: ../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunCommandResult'
            text/json:
              schema:
                $ref: '#/components/schemas/RunCommandResult'
        '202':
          description: Accepted
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunCommandInput'
          text/json:
            schema:
              $ref: '#/components/schemas/RunCommandInput'
        description: Parameters supplied to the Run command operation.
        required: true
components:
  schemas:
    RunCommandInput:
      properties:
        commandId:
          type: string
          description: The run command id.
        script:
          type: array
          items:
            type: string
          description: Optional. The script to be executed.  When this value is given, the given script will override the default script of the command.
        parameters:
          type: array
          items:
            $ref: '#/components/schemas/RunCommandInputParameter'
          x-ms-identifiers:
          - name
          description: The run command parameters.
      required:
      - commandId
      type: object
      description: Capture Virtual Machine parameters.
    RunCommandInputParameter:
      properties:
        name:
          type: string
          description: The run command parameter name.
        value:
          type: string
          description: The run command parameter value.
      required:
      - name
      - value
      type: object
      description: Describes the properties of a run command parameter.
    RunCommandResult:
      properties:
        value:
          type: array
          items:
            $ref: ./computeRPCommon.json#/definitions/InstanceViewStatus
          x-ms-identifiers: []
          description: Run command operation response.
      type: object
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
