openapi: 3.2.0
info:
  title: Microsoft Azure MicrosoftScanningClient System Scan…
  description: Creates a Microsoft.Scanning management client.
  version: 2022-07-01-preview
servers:
- url: https://purview.azure.com/scan
security:
- azure_auth:
  - user_impersonation
tags:
- name: SystemScanRulesets
paths:
  /systemScanRulesets:
    get:
      tags:
      - SystemScanRulesets
      description: List all system scan rulesets for an account
      operationId: microsoftAzureSystemscanrulesetsListall
      parameters:
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemScanRulesetList'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        SystemScanRulesets_ListAll:
          $ref: ./examples/SystemScanRulesets_ListAll.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Systemscanrulesets
  /systemScanRulesets/datasources/{dataSourceType}:
    get:
      tags:
      - SystemScanRulesets
      description: Get a system scan ruleset for a data source
      operationId: microsoftAzureSystemscanrulesetsGet
      parameters:
      - in: path
        name: dataSourceType
        required: true
        x-ms-enum:
          name: DataSourceType
          modelAsString: true
        schema:
          type: string
          enum:
          - None
          - AzureSubscription
          - AzureResourceGroup
          - AzureSynapseWorkspace
          - AzureSynapse
          - AdlsGen1
          - AdlsGen2
          - AmazonAccount
          - AmazonS3
          - AmazonSql
          - AzureCosmosDb
          - AzureDataExplorer
          - AzureFileService
          - AzureSqlDatabase
          - AmazonPostgreSql
          - AzurePostgreSql
          - SqlServerDatabase
          - AzureSqlDatabaseManagedInstance
          - AzureSqlDataWarehouse
          - AzureMySql
          - AzureStorage
          - Teradata
          - Oracle
          - SapS4Hana
          - SapEcc
          - PowerBI
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemScanRuleset'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        SystemScanRulesets_Get:
          $ref: ./examples/SystemScanRulesets_Get.json
      summary: Microsoft Azure Get Systemscanrulesets Datasources Datasourcetype
  /systemScanRulesets/versions/{version}:
    get:
      tags:
      - SystemScanRulesets
      description: Get a scan ruleset by version
      operationId: microsoftAzureSystemscanrulesetsGetbyversion
      parameters:
      - in: query
        name: dataSourceType
        x-ms-enum:
          name: DataSourceType
          modelAsString: true
        schema:
          type: string
          enum:
          - None
          - AzureSubscription
          - AzureResourceGroup
          - AzureSynapseWorkspace
          - AzureSynapse
          - AdlsGen1
          - AdlsGen2
          - AmazonAccount
          - AmazonS3
          - AmazonSql
          - AzureCosmosDb
          - AzureDataExplorer
          - AzureFileService
          - AzureSqlDatabase
          - AmazonPostgreSql
          - AzurePostgreSql
          - SqlServerDatabase
          - AzureSqlDatabaseManagedInstance
          - AzureSqlDataWarehouse
          - AzureMySql
          - AzureStorage
          - Teradata
          - Oracle
          - SapS4Hana
          - SapEcc
          - PowerBI
      - in: path
        name: version
        required: true
        schema:
          type: integer
          format: int32
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemScanRuleset'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        SystemScanRulesets_GetByVersion:
          $ref: ./examples/SystemScanRulesets_GetByVersion.json
      summary: Microsoft Azure Get Systemscanrulesets Versions Version
  /systemScanRulesets/versions/latest:
    get:
      tags:
      - SystemScanRulesets
      description: Get the latest version of a system scan ruleset
      operationId: microsoftAzureSystemscanrulesetsGetlatest
      parameters:
      - in: query
        name: dataSourceType
        x-ms-enum:
          name: DataSourceType
          modelAsString: true
        schema:
          type: string
          enum:
          - None
          - AzureSubscription
          - AzureResourceGroup
          - AzureSynapseWorkspace
          - AzureSynapse
          - AdlsGen1
          - AdlsGen2
          - AmazonAccount
          - AmazonS3
          - AmazonSql
          - AzureCosmosDb
          - AzureDataExplorer
          - AzureFileService
          - AzureSqlDatabase
          - AmazonPostgreSql
          - AzurePostgreSql
          - SqlServerDatabase
          - AzureSqlDatabaseManagedInstance
          - AzureSqlDataWarehouse
          - AzureMySql
          - AzureStorage
          - Teradata
          - Oracle
          - SapS4Hana
          - SapEcc
          - PowerBI
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemScanRuleset'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        SystemScanRulesets_GetLatest:
          $ref: ./examples/SystemScanRulesets_GetLatest.json
      summary: Microsoft Azure Get Systemscanrulesets Versions Latest
  /systemScanRulesets/versions:
    get:
      tags:
      - SystemScanRulesets
      description: List system scan ruleset versions in Data catalog
      operationId: microsoftAzureSystemscanrulesetsListversionsbydatasource
      parameters:
      - in: query
        name: dataSourceType
        x-ms-enum:
          name: DataSourceType
          modelAsString: true
        schema:
          type: string
          enum:
          - None
          - AzureSubscription
          - AzureResourceGroup
          - AzureSynapseWorkspace
          - AzureSynapse
          - AdlsGen1
          - AdlsGen2
          - AmazonAccount
          - AmazonS3
          - AmazonSql
          - AzureCosmosDb
          - AzureDataExplorer
          - AzureFileService
          - AzureSqlDatabase
          - AmazonPostgreSql
          - AzurePostgreSql
          - SqlServerDatabase
          - AzureSqlDatabaseManagedInstance
          - AzureSqlDataWarehouse
          - AzureMySql
          - AzureStorage
          - Teradata
          - Oracle
          - SapS4Hana
          - SapEcc
          - PowerBI
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemScanRulesetList'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        SystemScanRulesets_ListVersionsByDataSource:
          $ref: ./examples/SystemScanRulesets_ListVersionsByDataSource.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Systemscanrulesets Versions
components:
  schemas:
    VersionedScanRuleset:
      type: object
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      properties:
        scanRulesetType:
          enum:
          - Custom
          - System
          type: string
          x-ms-enum:
            name: ScanRulesetType
            modelAsString: true
        status:
          enum:
          - Enabled
          - Disabled
          type: string
          readOnly: true
          x-ms-enum:
            name: ScanRulesetStatus
            modelAsString: true
        version:
          format: int32
          type: integer
          readOnly: true
    ProxyResource:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
    ErrorModel:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorModel'
    ErrorResponseModel:
      type: object
      properties:
        error:
          allOf:
          - $ref: '#/components/schemas/ErrorModel'
    SystemScanRulesetList:
      required:
      - value
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/SystemScanRuleset'
        nextLink:
          type: string
        count:
          format: int64
          type: integer
    SystemScanRuleset:
      required:
      - kind
      type: object
      allOf:
      - $ref: '#/components/schemas/VersionedScanRuleset'
      properties:
        kind:
          enum:
          - None
          - AzureSubscription
          - AzureResourceGroup
          - AzureSynapseWorkspace
          - AzureSynapse
          - AdlsGen1
          - AdlsGen2
          - AmazonAccount
          - AmazonS3
          - AmazonSql
          - AzureCosmosDb
          - AzureDataExplorer
          - AzureFileService
          - AzureSqlDatabase
          - AmazonPostgreSql
          - AzurePostgreSql
          - SqlServerDatabase
          - AzureSqlDatabaseManagedInstance
          - AzureSqlDataWarehouse
          - AzureMySql
          - AzureStorage
          - Teradata
          - Oracle
          - SapS4Hana
          - SapEcc
          - PowerBI
          type: string
          x-ms-enum:
            name: DataSourceType
            modelAsString: true
      discriminator:
        propertyName: kind
  parameters:
    api-version:
      in: query
      name: api-version
      description: The api version to use.
      required: true
      x-ms-client-name: ApiVersion
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-ms-parameterized-host:
  hostTemplate: '{Endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
