openapi: 3.2.0
info:
  title: Microsoft Azure HyperscaleCitusManagementClient Server…
  description: The Microsoft Azure management API provides create, read, update, and delete functionality for Azure PostgreSQL Hyperscale (Citus) resources including server groups, servers, databases, firewall rules, VNET rules, security alert policies, log files and configurations.
  version: 2020-10-05-privatepreview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Server Groups
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.DBForPostgreSql/serverGroupsv2:
    get:
      tags:
      - Server Groups
      operationId: microsoftAzureServergroupsList
      x-ms-examples:
        List all the server groups:
          $ref: ./examples/ServerGroupList.json
      description: List all the server groups in a given subscription.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerGroupListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBForPostgreSql/serverGroupsv2:
    get:
      tags:
      - Server Groups
      operationId: microsoftAzureServergroupsListbyresourcegroup
      x-ms-examples:
        List the server groups by resource group:
          $ref: ./examples/ServerGroupListByResourceGroup.json
      description: List all the server groups in a given resource group.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerGroupListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBForPostgreSql/serverGroupsv2/{serverGroupName}
  : put:
      description: Creates a new server group with servers.
      tags:
      - Server Groups
      operationId: microsoftAzureServergroupsCreateorupdate
      x-ms-long-running-operation: true
      x-ms-examples:
        Create a new server group:
          $ref: ./examples/ServerGroupCreate.json
        Create a new server group as a point in time restore:
          $ref: ./examples/ServerGroupCreatePITR.json
        Create a new server group as a read replica:
          $ref: ./examples/ServerGroupCreateReadReplica.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ServerGroupNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerGroup'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerGroup'
        '202':
          description: Accepted
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerGroup'
        description: The required parameters for creating or updating a server group.
        required: true
    get:
      description: Gets information about a server group.
      tags:
      - Server Groups
      operationId: microsoftAzureServergroupsGet
      x-ms-examples:
        Get the server group:
          $ref: ./examples/ServerGroupGet.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ServerGroupNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerGroup'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    delete:
      description: Deletes a server group together with servers in it.
      tags:
      - Server Groups
      operationId: microsoftAzureServergroupsDelete
      x-ms-long-running-operation: true
      x-ms-examples:
        Delete the server group:
          $ref: ./examples/ServerGroupDelete.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ServerGroupNameParameter'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: NoContent
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    patch:
      description: Updates an existing server group. The request body can contain one to many of the properties present in the normal server group definition.
      tags:
      - Server Groups
      operationId: microsoftAzureServergroupsUpdate
      x-ms-long-running-operation: true
      x-ms-examples:
        Update the server group:
          $ref: ./examples/ServerGroupUpdate.json
        Scale compute:
          $ref: ./examples/ServerGroupScaleCompute.json
        Scale storage:
          $ref: ./examples/ServerGroupScaleStorage.json
        Add new worker nodes:
          $ref: ./examples/ServerGroupAddNode.json
        Update customer maintenance window:
          $ref: ./examples/ServerGroupUpdateMaintenanceWindow.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ServerGroupNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerGroup'
        '202':
          description: Accepted
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerGroupForUpdate'
        description: The parameters for updating a server group.
        required: true
  /subscriptions/{subscriptionId}/providers/Microsoft.DBForPostgreSql/checkNameAvailability:
    post:
      description: Check the availability of name for resource
      tags:
      - Server Groups
      operationId: microsoftAzureServergroupsChecknameavailability
      x-ms-examples:
        Check name availability:
          $ref: ./examples/CheckNameAvailability.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameAvailability'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NameAvailabilityRequest'
        description: The required parameters for checking if resource name is available.
        required: true
components:
  schemas:
    ServerNameItem:
      description: The name object for a server.
      properties:
        name:
          type: string
          description: The name of a server.
        fullyQualifiedDomainName:
          $ref: '#/components/schemas/FullyQualifiedDomainName'
          description: The fully qualified domain name of a server.
    ServerState:
      type: string
      description: A state of a server group/server that is visible to user.
      enum:
      - Ready
      - Dropping
      - Disabled
      - Starting
      - Stopping
      - Stopped
      - Updating
      - Provisioning
      x-ms-enum:
        name: ServerState
        modelAsString: true
      readOnly: true
    ServerGroupPropertiesForUpdate:
      description: The properties used to update a server group.
      properties:
        administratorLoginPassword:
          type: string
          x-ms-secret: true
          format: password
          x-ms-mutability:
          - create
          - update
          description: The password of the administrator login.
        backupRetentionDays:
          type: integer
          format: int32
          description: The backup retention days for server group.
        postgresqlVersion:
          $ref: '#/components/schemas/PostgreSQLVersion'
          description: The PostgreSQL version of server group.
        citusVersion:
          $ref: '#/components/schemas/CitusVersion'
          description: The Citus version of server group.
        enableShardsOnCoordinator:
          type: boolean
          description: If shards on coordinator is enabled or not for the server group.
        serverRoleGroups:
          $ref: '#/components/schemas/ServerRoleGroupList'
          description: The list of server role groups.
        maintenanceWindow:
          $ref: '#/components/schemas/MaintenanceWindow'
          description: Maintenance window of a server group.
        availabilityZone:
          type: string
          description: Availability Zone information of the server group.
        standbyAvailabilityZone:
          type: string
          description: Standby Availability Zone information of the server group.
    ServerRoleGroup:
      description: Represents a server role group.
      allOf:
      - $ref: '#/components/schemas/ServerProperties'
      properties:
        name:
          type: string
          description: The name of the server role group.
        role:
          $ref: '#/components/schemas/ServerRole'
          description: The role of servers in the server role group.
        serverCount:
          type: integer
          format: int32
          description: The number of servers in the server role group.
        serverNames:
          type: array
          description: The list of server names in the server role group.
          items:
            $ref: '#/components/schemas/ServerNameItem'
          x-ms-identifiers:
          - name
          readOnly: true
          uniqueItems: true
    ServerGroupListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ServerGroup'
          description: The list of server groups
        nextLink:
          description: The link used to get the next page of operations.
          type: string
          readOnly: true
      description: A list of server groups.
    ServerRole:
      type: string
      description: The role of a server.
      enum:
      - Coordinator
      - Worker
      x-ms-enum:
        name: ServerRole
        modelAsString: true
    CloudErrorBody:
      x-ms-external: true
      description: An error response from the Batch service.
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of the property in error.
        details:
          type: array
          description: A list of additional details about the error.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          x-ms-identifiers:
          - code
    MaintenanceWindow:
      type: object
      description: Maintenance window of a server group.
      properties:
        customWindow:
          type: string
          description: indicates whether custom window is enabled or disabled
        startHour:
          type: integer
          format: int32
          description: start hour for maintenance window
        startMinute:
          type: integer
          format: int32
          description: start minute for maintenance window
        dayOfWeek:
          type: integer
          format: int32
          description: day of week for maintenance window
    ServerGroupForUpdate:
      description: Represents a server group for update.
      properties:
        location:
          type: string
          description: The location the resource resides in.
        properties:
          $ref: '#/components/schemas/ServerGroupPropertiesForUpdate'
          x-ms-client-flatten: true
          description: Properties of the server group.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Application-specific metadata in the form of key-value pairs.
    PostgreSQLVersion:
      type: string
      description: The PostgreSQL version.
      enum:
      - '11'
      - '12'
      x-ms-enum:
        name: PostgreSQLVersion
        modelAsString: true
    NameAvailabilityRequest:
      description: Request from client to check resource name availability.
      properties:
        name:
          type: string
          description: Resource name to verify.
        type:
          type: string
          enum:
          - Microsoft.DBforPostgreSQL/serverGroupsv2
          description: Resource type used for verification.
          x-ms-enum:
            name: CheckNameAvailabilityResourceType
            modelAsString: false
      required:
      - name
      - type
    ServerGroup:
      description: Represents a server group for create.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource
      properties:
        systemData:
          description: The system metadata relating to this resource
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
        properties:
          $ref: '#/components/schemas/ServerGroupProperties'
          x-ms-client-flatten: true
          description: Properties of the server group create.
    ServerRoleGroupList:
      type: array
      description: The list of server role groups.
      items:
        $ref: '#/components/schemas/ServerRoleGroup'
      x-ms-identifiers:
      - name
      minItems: 1
      maxItems: 2
      uniqueItems: true
    NameAvailability:
      description: Represents a resource name availability.
      properties:
        message:
          type: string
          description: Error Message.
        nameAvailable:
          type: boolean
          description: Indicates whether the resource name is available.
        name:
          type: string
          description: name of the PostgreSQL server.
        type:
          type: string
          description: type of the server
    ServerProperties:
      description: The properties of a server.
      properties:
        serverEdition:
          type: string
          description: 'The edition of a server (default: GeneralPurpose).'
          enum:
          - GeneralPurpose
          - MemoryOptimized
          x-ms-enum:
            name: ServerEdition
            modelAsString: true
        storageQuotaInMb:
          type: integer
          format: int64
          description: 'The storage of a server in MB (max: 2097152 = 2TiB).'
        vCores:
          type: integer
          format: int64
          description: 'The vCores count of a server (max: 64).'
        enableHa:
          type: boolean
          description: If high availability is enabled or not for the server.
        enablePublicIp:
          type: boolean
          description: If public IP is requested or not for a server.
          readOnly: true
    FullyQualifiedDomainName:
      type: string
      description: The fully qualified domain name of a server.
      readOnly: true
    CloudError:
      x-ms-external: true
      description: An error response from the Batch service.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: The error.
    CitusVersion:
      type: string
      description: The Citus version.
      enum:
      - '8.3'
      - '9.0'
      - '9.1'
      - '9.2'
      - '9.3'
      - '9.4'
      - '9.5'
      x-ms-enum:
        name: CitusVersion
        modelAsString: true
    ServerGroupProperties:
      description: The properties used to create a new server group.
      properties:
        createMode:
          type: string
          description: The mode to create a new server group.
          enum:
          - Default
          - PointInTimeRestore
          - ReadReplica
          x-ms-enum:
            name: CreateMode
            modelAsString: true
          x-ms-mutability:
          - create
        administratorLogin:
          type: string
          description: The administrator's login name of servers in server group. Can only be specified when the server is being created (and is required for creation).
          x-ms-mutability:
          - create
          - read
        administratorLoginPassword:
          type: string
          x-ms-secret: true
          format: password
          x-ms-mutability:
          - create
          - update
          description: The password of the administrator login.
        backupRetentionDays:
          type: integer
          format: int32
          description: The backup retention days for server group.
        postgresqlVersion:
          $ref: '#/components/schemas/PostgreSQLVersion'
          description: The PostgreSQL version of server group.
        citusVersion:
          $ref: '#/components/schemas/CitusVersion'
          description: The Citus version of server group.
        enableMx:
          type: boolean
          description: If Citus MX is enabled or not for the server group.
          x-ms-mutability:
          - create
          - read
        enableZfs:
          type: boolean
          description: If ZFS compression is enabled or not for the server group.
          x-ms-mutability:
          - create
          - read
        enableShardsOnCoordinator:
          type: boolean
          description: If shards on coordinator is enabled or not for the server group.
        state:
          $ref: '#/components/schemas/ServerState'
          description: A state of a server group that is visible to user.
        earliestRestoreTime:
          type: string
          format: date-time
          description: The earliest restore point time (ISO8601 format) for server group.
          readOnly: true
        resourceProviderType:
          type: string
          description: The resource provider type of server group.
          enum:
          - Meru
          - Marlin
          x-ms-enum:
            name: ResourceProviderType
            modelAsString: true
          readOnly: true
        serverRoleGroups:
          $ref: '#/components/schemas/ServerRoleGroupList'
          description: The list of server role groups.
        maintenanceWindow:
          $ref: '#/components/schemas/MaintenanceWindow'
          description: Maintenance window of a server group.
        availabilityZone:
          type: string
          description: Availability Zone information of the server group.
        standbyAvailabilityZone:
          type: string
          description: Standby Availability Zone information of the server group.
        delegatedSubnetArguments:
          description: The delegated subnet arguments for a server group.
          properties:
            subnetArmResourceId:
              type: string
              description: delegated subnet arm resource id.
        privateDnsZoneArguments:
          description: The private dns zone arguments for a server group.
          properties:
            privateDnsZoneArmResourceId:
              type: string
              description: private dns zone arm resource id.
        readReplicas:
          type: array
          description: The array of read replica server groups.
          items:
            type: string
          readOnly: true
          uniqueItems: true
        sourceServerGroup:
          type: string
          description: The source server group id for read replica server groups.
          readOnly: true
        sourceSubscriptionId:
          type: string
          description: The source subscription id to restore from. It's required when 'createMode' is 'PointInTimeRestore' or 'ReadReplica'
          x-ms-mutability:
          - create
        sourceResourceGroupName:
          type: string
          description: The source resource group name to restore from. It's required when 'createMode' is 'PointInTimeRestore' or 'ReadReplica'
          x-ms-mutability:
          - create
        sourceServerGroupName:
          type: string
          description: The source server group name to restore from. It's required when 'createMode' is 'PointInTimeRestore' or 'ReadReplica'
          x-ms-mutability:
          - create
        sourceLocation:
          type: string
          description: The source server group location to restore from. It's required when 'createMode' is 'PointInTimeRestore' or 'ReadReplica'
          x-ms-mutability:
          - create
        pointInTimeUTC:
          type: string
          format: date-time
          description: Restore point creation time (ISO8601 format), specifying the time to restore from. It's required when 'createMode' is 'PointInTimeRestore'
          x-ms-mutability:
          - create
  parameters:
    ServerGroupNameParameter:
      name: serverGroupName
      in: path
      required: true
      description: The name of the server group.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
