openapi: 3.2.0
info:
  version: 2024-02-01-preview
  title: Microsoft Azure DataProtectionBackupClient Deleted Backup…
  x-ms-code-generation-settings:
    internalConstructors: false
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: DeletedBackupInstances
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/backupVaults/{vaultName}/deletedBackupInstances
  : get:
      tags:
      - DeletedBackupInstances
      description: Gets deleted backup instances belonging to a backup vault
      operationId: microsoftAzureDeletedbackupinstancesList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/VaultName'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedBackupInstanceResourceList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List DeletedBackupInstances in a Vault:
          $ref: ./examples/DeletedBackupInstanceOperations/ListDeletedBackupInstances.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/backupVaults/{vaultName}/deletedBackupInstances/{backupInstanceName}
  : get:
      tags:
      - DeletedBackupInstances
      description: Gets a deleted backup instance with name in a backup vault
      operationId: microsoftAzureDeletedbackupinstancesGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/VaultName'
      - name: backupInstanceName
        description: The name of the deleted backup instance
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedBackupInstanceResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Get DeletedBackupInstance:
          $ref: ./examples/DeletedBackupInstanceOperations/GetDeletedBackupInstance.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/backupVaults/{vaultName}/deletedBackupInstances/{backupInstanceName}/undelete
  : post:
      tags:
      - DeletedBackupInstances
      operationId: microsoftAzureDeletedbackupinstancesUndelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/VaultName'
      - name: backupInstanceName
        description: The name of the deleted backup instance
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-long-running-operation: true
      x-ms-examples:
        Undelete Deleted BackupInstance:
          $ref: ./examples/DeletedBackupInstanceOperations/UndeleteDeletedBackupInstance.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      description: Needs a more full description created.
components:
  schemas:
    DppResource:
      description: Resource class
      properties:
        id:
          description: Resource Id represents the complete path to the resource.
          readOnly: true
          type: string
        name:
          description: Resource name associated with the resource.
          readOnly: true
          type: string
        type:
          description: Resource type represents the complete path of the form Namespace/ResourceType/ResourceType/...
          readOnly: true
          type: string
        systemData:
          $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/systemData
      title: DppResource
      type: object
      x-ms-azure-resource: true
    DeletionInfo:
      description: Deletion Info
      type: object
      properties:
        deletionTime:
          description: Specifies time of deletion
          type: string
          readOnly: true
        billingEndDate:
          description: Specifies billing end date
          type: string
          readOnly: true
        scheduledPurgeTime:
          description: Specifies purge time
          type: string
          readOnly: true
        deleteActivityID:
          description: Delete activity ID for troubleshooting purpose
          type: string
          readOnly: true
    BackupInstance:
      description: Backup Instance
      required:
      - dataSourceInfo
      - policyInfo
      - objectType
      type: object
      properties:
        friendlyName:
          description: Gets or sets the Backup Instance friendly name.
          type: string
        dataSourceInfo:
          $ref: '#/components/schemas/Datasource'
          description: Gets or sets the data source information.
        dataSourceSetInfo:
          $ref: '#/components/schemas/DatasourceSet'
          description: Gets or sets the data source set information.
        policyInfo:
          $ref: '#/components/schemas/PolicyInfo'
          description: Gets or sets the policy information.
        protectionStatus:
          $ref: '#/components/schemas/ProtectionStatusDetails'
          description: Specifies the protection status of the resource
          readOnly: true
        currentProtectionState:
          description: Specifies the current protection state of the resource
          enum:
          - Invalid
          - NotProtected
          - ConfiguringProtection
          - ProtectionConfigured
          - BackupSchedulesSuspended
          - RetentionSchedulesSuspended
          - ProtectionStopped
          - ProtectionError
          - ConfiguringProtectionFailed
          - SoftDeleting
          - SoftDeleted
          - UpdatingProtection
          type: string
          readOnly: true
          x-ms-enum:
            name: CurrentProtectionState
            modelAsString: true
        protectionErrorDetails:
          $ref: '#/components/schemas/UserFacingError'
          description: Specifies the protection error of the resource
          readOnly: true
        provisioningState:
          description: Specifies the provisioning state of the resource i.e. provisioning/updating/Succeeded/Failed
          type: string
          readOnly: true
        datasourceAuthCredentials:
          $ref: '#/components/schemas/AuthCredentials'
          description: Credentials to use to authenticate with data source provider.
        validationType:
          description: Specifies the type of validation. In case of DeepValidation, all validations from /validateForBackup API will run again.
          enum:
          - ShallowValidation
          - DeepValidation
          type: string
          x-ms-enum:
            name: ValidationType
            modelAsString: true
        identityDetails:
          $ref: '#/components/schemas/IdentityDetails'
          description: 'Contains information of the Identity Details for the BI.

            If it is null, default will be considered as System Assigned.'
        objectType:
          type: string
    IdentityDetails:
      type: object
      properties:
        useSystemAssignedIdentity:
          description: Specifies if the BI is protected by System Identity.
          type: boolean
        userAssignedIdentityArmUrl:
          description: ARM URL for User Assigned Identity.
          type: string
    UserFacingError:
      description: Error object used by layers that have access to localized content, and propagate that to user
      properties:
        code:
          description: Unique code for this error
          type: string
        details:
          description: Additional related Errors
          items:
            $ref: '#/components/schemas/UserFacingError'
          x-ms-identifiers: []
          type: array
        innerError:
          $ref: '#/components/schemas/InnerError'
          description: Inner Error
        isRetryable:
          description: Whether the operation will be retryable or not
          type: boolean
        isUserError:
          description: Whether the operation is due to a user error or service error
          type: boolean
        properties:
          description: Any key value pairs that can be injected inside error object
          type: object
          additionalProperties:
            type: string
        message:
          type: string
        recommendedAction:
          description: RecommendedAction � localized.
          items:
            type: string
          type: array
        target:
          description: Target of the error.
          type: string
      type: object
    DeletedBackupInstanceResourceList:
      description: List of DeletedBackupInstance resources
      type: object
      allOf:
      - $ref: '#/components/schemas/DppResourceList'
      properties:
        value:
          description: List of resources.
          type: array
          items:
            $ref: '#/components/schemas/DeletedBackupInstanceResource'
    PolicyParameters:
      description: Parameters in Policy
      type: object
      x-ms-mutability:
      - create
      - read
      properties:
        dataStoreParametersList:
          description: Gets or sets the DataStore Parameters
          type: array
          items:
            $ref: '#/components/schemas/DataStoreParameters'
          x-ms-identifiers: []
        backupDatasourceParametersList:
          description: Gets or sets the Backup Data Source Parameters
          type: array
          items:
            $ref: '#/components/schemas/BackupDatasourceParameters'
          x-ms-identifiers: []
    DatasourceSet:
      description: DatasourceSet details of datasource to be backed up
      properties:
        datasourceType:
          description: DatasourceType of the resource.
          type: string
        objectType:
          description: Type of Datasource object, used to initialize the right inherited type
          type: string
        resourceID:
          description: Full ARM ID of the resource. For azure resources, this is ARM ID. For non azure resources, this will be the ID created by backup service via Fabric/Vault.
          type: string
        resourceLocation:
          description: Location of datasource.
          type: string
        resourceName:
          description: Unique identifier of the resource in the context of parent.
          type: string
        resourceType:
          description: Resource Type of Datasource.
          type: string
        resourceUri:
          description: Uri of the resource.
          type: string
        resourceProperties:
          $ref: '#/components/schemas/BaseResourceProperties'
          description: Properties specific to data source set
      required:
      - resourceID
      title: DatasourceSet
      type: object
    AuthCredentials:
      description: Base class for different types of authentication credentials.
      required:
      - objectType
      type: object
      properties:
        objectType:
          description: Type of the specific object - used for deserializing
          type: string
          readOnly: false
      discriminator:
        propertyName: objectType
    PolicyInfo:
      description: Policy Info in backupInstance
      properties:
        policyId:
          type: string
        policyVersion:
          readOnly: true
          type: string
        policyParameters:
          $ref: '#/components/schemas/PolicyParameters'
          description: Policy parameters for the backup instance
      required:
      - policyId
      title: PolicyInfo
      type: object
    ErrorAdditionalInfo:
      description: The resource management error additional info.
      properties:
        info:
          description: The additional info.
          readOnly: true
          type: object
        type:
          description: The additional info type.
          readOnly: true
          type: string
    DataStoreParameters:
      description: Parameters for DataStore
      required:
      - objectType
      - dataStoreType
      type: object
      properties:
        objectType:
          description: Type of the specific object - used for deserializing
          type: string
          readOnly: false
        dataStoreType:
          description: type of datastore; Operational/Vault/Archive
          enum:
          - OperationalStore
          - VaultStore
          - ArchiveStore
          type: string
          x-ms-enum:
            name: DataStoreTypes
            modelAsString: true
      discriminator:
        propertyName: objectType
    Datasource:
      description: Datasource to be backed up
      properties:
        datasourceType:
          description: DatasourceType of the resource.
          type: string
        objectType:
          description: Type of Datasource object, used to initialize the right inherited type
          type: string
        resourceID:
          description: Full ARM ID of the resource. For azure resources, this is ARM ID. For non azure resources, this will be the ID created by backup service via Fabric/Vault.
          type: string
        resourceLocation:
          description: Location of datasource.
          type: string
        resourceName:
          description: Unique identifier of the resource in the context of parent.
          type: string
        resourceType:
          description: Resource Type of Datasource.
          type: string
        resourceUri:
          description: Uri of the resource.
          type: string
        resourceProperties:
          $ref: '#/components/schemas/BaseResourceProperties'
          description: Properties specific to data source
      required:
      - resourceID
      title: Datasource
      type: object
    DeletedBackupInstanceResource:
      description: Deleted Backup Instance
      type: object
      allOf:
      - $ref: '#/components/schemas/DppResource'
      properties:
        properties:
          $ref: '#/components/schemas/DeletedBackupInstance'
          description: DeletedBackupInstanceResource properties
    BaseResourceProperties:
      description: Properties which are specific to datasource/datasourceSets
      required:
      - objectType
      type: object
      properties:
        objectType:
          description: Type of the specific object - used for deserializing
          type: string
          readOnly: false
          enum:
          - DefaultResourceProperties
          x-ms-enum:
            name: ResourcePropertiesObjectType
            modelAsString: true
      discriminator:
        propertyName: objectType
    CloudError:
      description: An error response from Azure Backup.
      properties:
        error:
          $ref: '#/components/schemas/Error'
      title: CloudError
      x-ms-external: true
    DppResourceList:
      description: ListResource
      properties:
        nextLink:
          description: The uri to fetch the next page of resources. Call ListNext() fetches next page of resources.
          type: string
      title: List Resource
      type: object
    BackupDatasourceParameters:
      description: Parameters for Backup Datasource
      required:
      - objectType
      type: object
      properties:
        objectType:
          description: Type of the specific object - used for deserializing
          type: string
          readOnly: false
      discriminator:
        propertyName: objectType
    Error:
      description: The resource management error response.
      properties:
        additionalInfo:
          description: The error additional info.
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          x-ms-identifiers: []
          readOnly: true
          type: array
        code:
          description: The error code.
          readOnly: true
          type: string
        details:
          description: The error details.
          items:
            $ref: '#/components/schemas/Error'
          x-ms-identifiers: []
          readOnly: true
          type: array
        message:
          description: The error message.
          readOnly: true
          type: string
        target:
          description: The error target.
          readOnly: true
          type: string
    ProtectionStatusDetails:
      description: Protection status details
      properties:
        errorDetails:
          $ref: '#/components/schemas/UserFacingError'
          description: Specifies the protection status error of the resource
        status:
          description: Specifies the protection status of the resource
          enum:
          - ConfiguringProtection
          - ConfiguringProtectionFailed
          - ProtectionConfigured
          - ProtectionStopped
          - SoftDeleted
          - SoftDeleting
          type: string
          x-ms-enum:
            modelAsString: true
            name: Status
      title: ProtectionStatusDetails
      type: object
    InnerError:
      description: Inner Error
      properties:
        additionalInfo:
          additionalProperties:
            type: string
          description: Any Key value pairs that can be provided to the client for additional  verbose information.
          type: object
        code:
          description: Unique code for this error
          type: string
        embeddedInnerError:
          $ref: '#/components/schemas/InnerError'
          description: Child Inner Error, to allow Nesting.
      title: InnerError
      type: object
    DeletedBackupInstance:
      description: Deleted Backup Instance
      required:
      - dataSourceInfo
      - policyInfo
      type: object
      allOf:
      - $ref: '#/components/schemas/BackupInstance'
      properties:
        deletionInfo:
          $ref: '#/components/schemas/DeletionInfo'
          description: Deletion info of Backup Instance
          readOnly: true
  parameters:
    VaultName:
      name: vaultName
      in: path
      description: The name of the backup vault.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account.
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
