openapi: 3.2.0
info:
  version: 2020-12-01-preview
  title: Microsoft Azure PurviewManagementClient Default Account API
  description: Creates a Microsoft.Purview management client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: DefaultAccount
paths:
  /providers/Microsoft.Purview/getDefaultAccount:
    get:
      tags:
      - DefaultAccount
      summary: Microsoft Azure Gets The Default Account Information Set For The Scope
      description: Get the default account for the scope.
      operationId: microsoftAzureDefaultaccountsGet
      parameters:
      - name: scopeTenantId
        in: query
        description: The tenant ID.
        required: true
        schema:
          type: string
          format: uuid
      - name: scopeType
        in: query
        description: The scope for the default account.
        required: true
        x-ms-enum:
          name: ScopeType
          modelAsString: true
        schema:
          type: string
          enum:
          - Tenant
          - Subscription
      - name: scope
        in: query
        description: The Id of the scope object, for example if the scope is "Subscription" then it is the ID of that subscription.
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultAccountPayload'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        DefaultAccounts_Get:
          $ref: ./examples/DefaultAccounts_Get.json
  /providers/Microsoft.Purview/setDefaultAccount:
    post:
      tags:
      - DefaultAccount
      summary: Microsoft Azure Sets The Default Account For The Scope
      description: Sets the default account for the scope.
      operationId: microsoftAzureDefaultaccountsSet
      parameters:
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultAccountPayload'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        DefaultAccounts_Set:
          $ref: ./examples/DefaultAccounts_Set.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DefaultAccountPayload'
        description: The payload containing the default account information and the scope.
        required: true
  /providers/Microsoft.Purview/removeDefaultAccount:
    post:
      tags:
      - DefaultAccount
      summary: Microsoft Azure Removes The Default Account From The Scope
      description: Removes the default account from the scope.
      operationId: microsoftAzureDefaultaccountsRemove
      parameters:
      - name: scopeTenantId
        in: query
        description: The tenant ID.
        required: true
        schema:
          type: string
          format: uuid
      - name: scopeType
        in: query
        description: The scope for the default account.
        required: true
        x-ms-enum:
          name: ScopeType
          modelAsString: true
        schema:
          type: string
          enum:
          - Tenant
          - Subscription
      - name: scope
        in: query
        description: The Id of the scope object, for example if the scope is "Subscription" then it is the ID of that subscription.
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
        '204':
          description: Success
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        DefaultAccounts_Remove:
          $ref: ./examples/DefaultAccounts_Remove.json
components:
  schemas:
    DefaultAccountPayload:
      description: Payload to get and set the default account in the given scope
      type: object
      properties:
        accountName:
          description: The name of the account that is set as the default.
          type: string
        resourceGroupName:
          description: The resource group name of the account that is set as the default.
          type: string
        scope:
          description: The scope object ID. For example, sub ID or tenant ID.
          type: string
        scopeTenantId:
          description: The scope tenant in which the default account is set.
          type: string
        scopeType:
          description: The scope where the default account is set.
          enum:
          - Tenant
          - Subscription
          type: string
          x-ms-enum:
            name: scopeType
            modelAsString: true
        subscriptionId:
          description: The subscription ID of the account that is set as the default.
          type: string
    ErrorModel:
      description: Default error model
      type: object
      properties:
        code:
          description: Gets or sets the code.
          type: string
          readOnly: true
        details:
          description: Gets or sets the details.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/ErrorModel'
          readOnly: true
        message:
          description: Gets or sets the messages.
          type: string
          readOnly: true
        target:
          description: Gets or sets the target.
          type: string
          readOnly: true
    ErrorResponseModel:
      description: Default error response model
      type: object
      properties:
        error:
          description: Gets or sets the error.
          allOf:
          - $ref: '#/components/schemas/ErrorModel'
          readOnly: true
  parameters:
    api-version:
      name: api-version
      in: query
      description: The api version to use.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
