openapi: 3.2.0
info:
  title: Microsoft Azure LogicManagementClient Integration Account…
  description: REST API for Azure Logic Apps.
  version: 2018-07-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: IntegrationAccountPartners
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/partners
  : get:
      tags:
      - IntegrationAccountPartners
      operationId: microsoftAzureIntegrationaccountpartnersList
      description: Gets a list of integration account partners.
      x-ms-examples:
        Get partners by integration account name:
          $ref: ./examples/IntegrationAccountPartners_List.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      - name: $top
        description: The number of items to be included in the result.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: $filter
        description: 'The filter to apply on the operation. Options for filters include: PartnerType.'
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountPartnerListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/IntegrationAccountPartnerFilter'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/partners/{partnerName}
  : get:
      tags:
      - IntegrationAccountPartners
      operationId: microsoftAzureIntegrationaccountpartnersGet
      description: Gets an integration account partner.
      x-ms-examples:
        Get partner by name:
          $ref: ./examples/IntegrationAccountPartners_Get.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        schema:
          type: string
      - name: partnerName
        description: The integration account partner name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountPartner'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - IntegrationAccountPartners
      operationId: microsoftAzureIntegrationaccountpartnersCreateorupdate
      description: Creates or updates an integration account partner.
      x-ms-examples:
        Create or update a partner:
          $ref: ./examples/IntegrationAccountPartners_CreateOrUpdate.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        schema:
          type: string
      - name: partnerName
        description: The integration account partner name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountPartner'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationAccountPartner'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationAccountPartner'
        description: The integration account partner.
        required: true
    delete:
      tags:
      - IntegrationAccountPartners
      operationId: microsoftAzureIntegrationaccountpartnersDelete
      description: Deletes an integration account partner.
      x-ms-examples:
        Delete a partner:
          $ref: ./examples/IntegrationAccountPartners_Delete.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        schema:
          type: string
      - name: partnerName
        description: The integration account partner name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/partners/{partnerName}/listContentCallbackUrl
  : post:
      tags:
      - IntegrationAccountPartners
      operationId: microsoftAzureIntegrationaccountpartnersListcontentcallbackurl
      description: Get the content callback url.
      x-ms-examples:
        Get the content callback url:
          $ref: ./examples/IntegrationAccountPartners_ListContentCallbackUrl.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        schema:
          type: string
      - name: partnerName
        description: The integration account partner name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowTriggerCallbackUrl'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetCallbackUrlParameters'
        required: true
components:
  schemas:
    BusinessIdentity:
      type: object
      required:
      - qualifier
      - value
      properties:
        qualifier:
          type: string
          description: The business identity qualifier e.g. as2identity, ZZ, ZZZ, 31, 32
        value:
          type: string
          description: The user defined business identity value.
      description: The integration account partner's business identity.
    IntegrationAccountPartnerProperties:
      type: object
      required:
      - partnerType
      - content
      properties:
        partnerType:
          $ref: '#/components/schemas/PartnerType'
          description: The partner type.
        createdTime:
          type: string
          format: date-time
          readOnly: true
          description: The created time.
        changedTime:
          type: string
          format: date-time
          readOnly: true
          description: The changed time.
        metadata:
          type: object
          description: The metadata.
          properties: {}
        content:
          $ref: '#/components/schemas/PartnerContent'
          description: The partner content.
      description: The integration account partner properties.
    GetCallbackUrlParameters:
      type: object
      properties:
        notAfter:
          type: string
          format: date-time
          description: The expiry time.
        keyType:
          $ref: '#/components/schemas/KeyType'
          description: The key type.
      description: The callback url parameters.
    PartnerType:
      type: string
      enum:
      - NotSpecified
      - B2B
      x-ms-enum:
        name: PartnerType
        modelAsString: true
    WorkflowTriggerCallbackUrl:
      type: object
      properties:
        value:
          type: string
          readOnly: true
          description: Gets the workflow trigger callback URL.
        method:
          type: string
          readOnly: true
          description: Gets the workflow trigger callback URL HTTP method.
        basePath:
          type: string
          readOnly: true
          description: Gets the workflow trigger callback URL base path.
        relativePath:
          type: string
          readOnly: true
          description: Gets the workflow trigger callback URL relative path.
        relativePathParameters:
          type: array
          items:
            type: string
          description: Gets the workflow trigger callback URL relative path parameters.
        queries:
          $ref: '#/components/schemas/WorkflowTriggerListCallbackUrlQueries'
          description: Gets the workflow trigger callback URL query parameters.
      description: The workflow trigger callback URL.
    PartnerContent:
      type: object
      properties:
        b2b:
          $ref: '#/components/schemas/B2BPartnerContent'
          description: The B2B partner content.
      description: The integration account partner content.
    KeyType:
      type: string
      enum:
      - NotSpecified
      - Primary
      - Secondary
      x-ms-enum:
        name: KeyType
        modelAsString: true
    IntegrationAccountPartnerListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/IntegrationAccountPartner'
          description: The list of integration account partners.
        nextLink:
          type: string
          description: The URL to get the next set of results.
      description: The list of integration account partners.
    WorkflowTriggerListCallbackUrlQueries:
      type: object
      properties:
        api-version:
          type: string
          description: The api version.
        sp:
          type: string
          description: The SAS permissions.
        sv:
          type: string
          description: The SAS version.
        sig:
          type: string
          description: The SAS signature.
        se:
          type: string
          description: The SAS timestamp.
      description: Gets the workflow trigger callback URL query parameters.
    Resource:
      properties:
        id:
          type: string
          readOnly: true
          description: The resource id.
        name:
          type: string
          readOnly: true
          description: Gets the resource name.
        type:
          type: string
          readOnly: true
          description: Gets the resource type.
        location:
          type: string
          description: The resource location.
        tags:
          type: object
          additionalProperties:
            type: string
          description: The resource tags.
      x-ms-azure-resource: true
      description: The base resource type.
    IntegrationAccountPartner:
      type: object
      required:
      - properties
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/IntegrationAccountPartnerProperties'
          description: The integration account partner properties.
      description: The integration account partner.
      allOf:
      - $ref: '#/components/schemas/Resource'
    B2BPartnerContent:
      type: object
      properties:
        businessIdentities:
          type: array
          items:
            $ref: '#/components/schemas/BusinessIdentity'
          description: The list of partner business identities.
      description: The B2B partner content.
  parameters:
    api-version:
      name: api-version
      description: The API version.
      in: query
      required: true
      schema:
        type: string
    subscriptionId:
      name: subscriptionId
      description: The subscription id.
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
