openapi: 3.2.0
info:
  title: Microsoft Azure Translate API
  version: '3.0'
  x-refined-note:
  - x-typespec-generated differs across the merged source definitions and was not carried
  description: 'Operations tagged Translate across 2 of this provider''s published API definitions: text-translation-openapi-original.yml, translator-text-client-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.cognitive.microsofttranslator.com
tags:
- name: Translate
paths:
  /translate:
    post:
      operationId: microsoftAzureTranslate
      summary: Microsoft Azure Translate Text
      description: Translate Text
      parameters:
      - name: X-ClientTraceId
        in: header
        description: A client-generated GUID to uniquely identify the request.
        required: false
        x-ms-client-name: clientTraceId
        schema:
          type: string
      - $ref: '#/components/parameters/TranslateParameters.to'
      - $ref: '#/components/parameters/TranslateParameters.from'
      - $ref: '#/components/parameters/TranslateParameters.textType'
      - $ref: '#/components/parameters/TranslateParameters.category'
      - $ref: '#/components/parameters/TranslateParameters.profanityAction'
      - $ref: '#/components/parameters/TranslateParameters.profanityMarker'
      - $ref: '#/components/parameters/TranslateParameters.includeAlignment'
      - $ref: '#/components/parameters/TranslateParameters.includeSentenceLength'
      - $ref: '#/components/parameters/TranslateParameters.suggestedFrom'
      - $ref: '#/components/parameters/TranslateParameters.fromScript'
      - $ref: '#/components/parameters/TranslateParameters.toScript'
      - $ref: '#/components/parameters/TranslateParameters.allowFallback'
      - name: api-version
        in: query
        description: Mandatory API version parameter
        required: true
        x-ms-client-name: apiVersion
        schema:
          type: string
      responses:
        '200':
          description: Response for the translation API.
          headers:
            X-RequestId:
              description: Value generated by the service to identify the request. It is used for troubleshooting purposes.
              schema:
                type: string
            x-metered-usage:
              description: "Specifies consumption (the number of characters for which the user will be charged) for the translation \njob request. For example, if the word \"Hello\" is translated from English (en) to French (fr), \nthis field will return the value '5'."
              schema:
                type: integer
                format: int32
            x-mt-system:
              description: "Specifies the system type that was used for translation for each 'to' language requested for translation. \nThe value is a comma-separated list of strings. Each string indicates a type:\n\n* Custom - Request includes a custom system and at least one custom system was used during translation.\n* Team - All other requests"
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TranslatedTextItem'
                x-ms-identifiers: []
        default:
          description: An unexpected error response.
          headers:
            X-RequestId:
              description: Value generated by the service to identify the request. It is used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Translate Text:
          $ref: ./examples/Translate_MaximumSet_Gen.json
        Translate Text with minimum properties:
          $ref: ./examples/Translate_MinimumSet_Gen.json
      tags:
      - Translate
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/InputTextItem'
              x-ms-identifiers: []
        description: Defines the content of the request
        required: true
components:
  parameters:
    TranslateParameters.allowFallback:
      name: allowFallback
      in: query
      description: "Specifies that the service is allowed to fall back to a general system when a custom system doesn't exist. \nPossible values are: true (default) or false.\n\nallowFallback=false specifies that the translation should only use systems trained for the category specified \nby the request. If a translation for language X to language Y requires chaining through a pivot language E, \nthen all the systems in the chain (X → E and E → Y) will need to be custom and have the same category. \nIf no system is found with the specific category, the request will return a 400 status code. allowFallback=true \nspecifies that the service is allowed to fall back to a general system when a custom system doesn't exist."
      required: false
      x-ms-parameter-location: method
      schema:
        type: boolean
        default: true
    TranslateParameters.textType:
      name: textType
      in: query
      description: "Defines whether the text being translated is plain text or HTML text. Any HTML needs to be a well-formed, \ncomplete element. Possible values are: plain (default) or html."
      required: false
      x-ms-enum:
        name: TextType
        modelAsString: true
        values:
        - name: Plain
          value: Plain
        - name: Html
          value: Html
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
        - Plain
        - Html
        default: Plain
    TranslateParameters.fromScript:
      name: fromScript
      in: query
      description: Specifies the script of the input text.
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    TranslateParameters.profanityMarker:
      name: profanityMarker
      in: query
      description: 'Specifies how profanities should be marked in translations.

        Possible values are: Asterisk (default) or Tag. '
      required: false
      x-ms-enum:
        name: ProfanityMarker
        modelAsString: true
        values:
        - name: Asterisk
          value: Asterisk
        - name: Tag
          value: Tag
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
        - Asterisk
        - Tag
        default: Asterisk
    TranslateParameters.to:
      name: to
      in: query
      description: "Specifies the language of the output text. The target language must be one of the supported languages included \nin the translation scope. For example, use to=de to translate to German.\nIt's possible to translate to multiple languages simultaneously by repeating the parameter in the query string. \nFor example, use to=de&to=it to translate to German and Italian."
      required: true
      x-ms-parameter-location: method
      style: form
      explode: true
      schema:
        type: array
        items:
          type: string
    TranslateParameters.profanityAction:
      name: profanityAction
      in: query
      description: 'Specifies how profanities should be treated in translations.

        Possible values are: NoAction (default), Marked or Deleted.'
      required: false
      x-ms-enum:
        name: ProfanityAction
        modelAsString: true
        values:
        - name: NoAction
          value: NoAction
        - name: Marked
          value: Marked
        - name: Deleted
          value: Deleted
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
        - NoAction
        - Marked
        - Deleted
        default: NoAction
    TranslateParameters.category:
      name: category
      in: query
      description: "A string specifying the category (domain) of the translation. This parameter is used to get translations \nfrom a customized system built with Custom Translator. Add the Category ID from your Custom Translator \nproject details to this parameter to use your deployed customized system. Default value is: general."
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
        default: general
    TranslateParameters.includeSentenceLength:
      name: includeSentenceLength
      in: query
      description: 'Specifies whether to include sentence boundaries for the input text and the translated text.

        Possible values are: true or false (default).'
      required: false
      x-ms-parameter-location: method
      schema:
        type: boolean
        default: false
    TranslateParameters.toScript:
      name: toScript
      in: query
      description: Specifies the script of the translated text.
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    TranslateParameters.from:
      name: from
      in: query
      description: "Specifies the language of the input text. Find which languages are available to translate from by \nlooking up supported languages using the translation scope. If the from parameter isn't specified, \nautomatic language detection is applied to determine the source language.\n\nYou must use the from parameter rather than autodetection when using the dynamic dictionary feature. \nNote: the dynamic dictionary feature is case-sensitive."
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    TranslateParameters.includeAlignment:
      name: includeAlignment
      in: query
      description: 'Specifies whether to include alignment projection from source text to translated text.

        Possible values are: true or false (default).'
      required: false
      x-ms-parameter-location: method
      schema:
        type: boolean
        default: false
    TranslateParameters.suggestedFrom:
      name: suggestedFrom
      in: query
      description: "Specifies a fallback language if the language of the input text can't be identified. \nLanguage autodetection is applied when the from parameter is omitted. If detection fails, \nthe suggestedFrom language will be assumed."
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersion:
      name: api-version
      description: Version of the API requested by the client. Value must be **3.0**.
      in: query
      required: true
      schema:
        type: string
        default: '3.0'
  schemas:
    Translation:
      type: object
      description: Translation result
      properties:
        to:
          type: string
          description: A string representing the language code of the target language.
        text:
          type: string
          description: A string giving the translated text.
        transliteration:
          $ref: '#/components/schemas/TransliteratedText'
          description: An object giving the translated text in the script specified by the toScript parameter.
        alignment:
          $ref: '#/components/schemas/TranslatedTextAlignment'
          description: Alignment information.
        sentLen:
          $ref: '#/components/schemas/SentenceLength'
          description: Sentence boundaries in the input and output texts.
      required:
      - to
      - text
    TransliteratedText:
      type: object
      description: Transliterated text element.
      properties:
        text:
          type: string
          description: A string which is the result of converting the input string to the output script.
        script:
          type: string
          description: A string specifying the script used in the output.
      required:
      - text
      - script
    TranslatedTextItem:
      type: object
      description: Element containing the translated text
      properties:
        detectedLanguage:
          $ref: '#/components/schemas/DetectedLanguage'
          description: The detectedLanguage property is only present in the result object when language auto-detection is requested.
        translations:
          type: array
          description: "An array of translation results. The size of the array matches the number of target \nlanguages specified through the to query parameter."
          items:
            $ref: '#/components/schemas/Translation'
          x-ms-identifiers: []
        sourceText:
          $ref: '#/components/schemas/SourceText'
          description: "Input text in the default script of the source language. sourceText property is present only when \nthe input is expressed in a script that's not the usual script for the language. For example, \nif the input were Arabic written in Latin script, then sourceText.text would be the same Arabic text \nconverted into Arab script."
      required:
      - translations
    ErrorResponse:
      type: object
      description: Representation of the Error Response from Translator Service.
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetails'
          description: Error details.
      required:
      - error
    SentenceLength:
      type: object
      description: An object returning sentence boundaries in the input and output texts.
      properties:
        srcSentLen:
          type: array
          description: "An integer array representing the lengths of the sentences in the input text. \nThe length of the array is the number of sentences, and the values are the length of each sentence."
          items:
            type: integer
            format: int32
        transSentLen:
          type: array
          description: "An integer array representing the lengths of the sentences in the translated text. \nThe length of the array is the number of sentences, and the values are the length of each sentence."
          items:
            type: integer
            format: int32
      required:
      - srcSentLen
      - transSentLen
    ErrorDetails:
      type: object
      description: Error details as returned by Translator Service.
      properties:
        code:
          type: integer
          format: int32
          description: Number identifier of the error.
        message:
          type: string
          description: Human readable error description.
      required:
      - code
      - message
    SourceText:
      type: object
      description: 'Input text in the default script of the source language. '
      properties:
        text:
          type: string
          description: Input text in the default script of the source language.
      required:
      - text
    InputTextItem:
      type: object
      description: Element containing the text for translation.
      properties:
        text:
          type: string
          description: Text to translate.
      required:
      - text
    TranslatedTextAlignment:
      type: object
      description: Alignment information object.
      properties:
        proj:
          type: string
          description: "Maps input text to translated text. The alignment information is only provided when the request \nparameter includeAlignment is true. Alignment is returned as a string value of the following \nformat: [[SourceTextStartIndex]:[SourceTextEndIndex]–[TgtTextStartIndex]:[TgtTextEndIndex]]. \nThe colon separates start and end index, the dash separates the languages, and space separates the words. \nOne word may align with zero, one, or multiple words in the other language, and the aligned words may \nbe non-contiguous. When no alignment information is available, the alignment element will be empty."
      required:
      - proj
    DetectedLanguage:
      type: object
      description: An object describing the detected language.
      properties:
        language:
          type: string
          description: A string representing the code of the detected language.
        score:
          type: number
          format: float
          description: 'A float value indicating the confidence in the result.

            The score is between zero and one and a low score indicates a low confidence.'
      required:
      - language
      - score
    TranslateTextInput:
      type: object
      description: 'Text needed for a translate request '
      properties:
        text:
          type: string
          maximum: 5000
      example:
        text: I would really like to drive your car.
    ErrorMessage:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
    TranslateResultAll:
      type: array
      description: Example of a successful translate request, including all optional parameters.
      items:
        type: object
        properties:
          detectedLanguage:
            type: object
            properties:
              language:
                type: string
              score:
                type: integer
          translations:
            type: array
            items:
              type: object
              properties:
                text:
                  type: string
                transliteration:
                  type: object
                  properties:
                    text:
                      type: string
                    script:
                      type: string
                to:
                  type: string
                alignment:
                  type: object
                  properties:
                    proj:
                      type: string
                sentLen:
                  type: object
                  properties:
                    srcSentLen:
                      type: array
                      items:
                        properties:
                          integer:
                            type: integer
                    transSentLen:
                      type: array
                      items:
                        properties:
                          integer:
                            type: integer
  securitySchemes:
    apim_key:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    api_key_all_in_one:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    api_region_all_in_one:
      type: apiKey
      name: Ocp-Apim-Subscription-Region
      in: header
x-refined-from:
- text-translation-openapi-original.yml
- translator-text-client-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
