openapi: 3.2.0
info:
  title: Microsoft Azure Azure SQL Database API spec Server…
  description: The Azure SQL Database management API provides a RESTful set of web services that interact with Azure SQL Database services to manage your external server administrators.
  version: '2014-04-01'
servers:
- url: https://management.azure.com
tags:
- name: ServerAdministrators
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/administrators/{administratorName}
  : put:
      tags:
      - ServerAdministrators
      operationId: microsoftAzureServerazureadadministratorsCreateorupdate
      description: Creates a new Server Active Directory Administrator or updates an existing server Active Directory Administrator.
      x-ms-examples:
        Create/Update a server administrator:
          $ref: ./examples/ServerAdminCreateUpdate.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/components/parameters/ServerNameParameter'
      - $ref: '#/components/parameters/AdministratorNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerAzureADAdministrator'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerAzureADAdministrator'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerAzureADAdministrator'
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerAzureADAdministrator'
        description: The required parameters for creating or updating an Active Directory Administrator.
        required: true
    delete:
      tags:
      - ServerAdministrators
      operationId: microsoftAzureServerazureadadministratorsDelete
      description: Deletes an existing server Active Directory Administrator.
      x-ms-examples:
        Delete a server administrator:
          $ref: ./examples/ServerAdminDelete.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/components/parameters/ServerNameParameter'
      - $ref: '#/components/parameters/AdministratorNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerAzureADAdministrator'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerAzureADAdministrator'
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerAzureADAdministrator'
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    get:
      tags:
      - ServerAdministrators
      operationId: microsoftAzureServerazureadadministratorsGet
      description: Returns an server Administrator.
      x-ms-examples:
        Get the Active Directory Administrator:
          $ref: ./examples/ServerAdminGet.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/components/parameters/ServerNameParameter'
      - $ref: '#/components/parameters/AdministratorNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerAzureADAdministrator'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/administrators
  : get:
      tags:
      - ServerAdministrators
      operationId: microsoftAzureServerazureadadministratorsListbyserver
      description: Returns a list of server Administrators.
      x-ms-examples:
        get a list of server administrators:
          $ref: ./examples/ServerAdminList.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/components/parameters/ServerNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerAdministratorListResult'
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    ServerAdministratorListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ServerAzureADAdministrator'
          description: The list of server Active Directory Administrators for the server.
      description: The response to a list Active Directory Administrators request.
    ServerAdministratorProperties:
      properties:
        administratorType:
          type: string
          description: The type of administrator.
          enum:
          - ActiveDirectory
          x-ms-enum:
            name: AdministratorType
        login:
          type: string
          description: The server administrator login value.
        sid:
          type: string
          description: The server administrator Sid (Secure ID).
          format: uuid
        tenantId:
          type: string
          description: The server Active Directory Administrator tenant id.
          format: uuid
      required:
      - tenantId
      - administratorType
      - login
      - sid
      description: The properties of an server Administrator.
    ServerAzureADAdministrator:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ServerAdministratorProperties'
          description: The properties of the resource.
      allOf:
      - $ref: ../../../common/v1/types.json#/definitions/ProxyResource
      description: An server Active Directory Administrator.
  parameters:
    AdministratorNameParameter:
      name: administratorName
      in: path
      description: Name of the server administrator resource.
      required: true
      x-ms-enum:
        name: ServerAdministratorName
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
        - activeDirectory
    ServerNameParameter:
      name: serverName
      in: path
      required: true
      description: The name of the server.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
