openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft Marketplace Discovery API Keys…
  description: This API is designed to streamline the process of generating designated keys for accessing all Marketplace Catalog APIs. By utilizing a simple POST operation, users can effortlessly generate a unique API key, granting access to Marketplace Catalog APIs from version 2023-01-01 and beyond.
  version: 2023-01-01-preview
servers:
- url: https://management.azure.com
tags:
- name: CreateApiKey
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Marketplace/keys/{apiKeyAlias}/create:
    post:
      tags:
      - CreateApiKey
      summary: Microsoft Azure Generates An Api Key, Granting Access To The Full Range Of…
      operationId: microsoftAzureCreateapikeyPost
      x-ms-examples:
        Create_Key:
          $ref: ./examples/CreateKey.json
      parameters:
      - name: apiKeyAlias
        in: path
        required: true
        description: Alias for new API Key. This alias must be unique and contain only alphanumeric characters separated by dashes.
        schema:
          type: string
      - name: x-ms-client-tenant-id
        x-originalName: tenantId
        description: The tenant associated with the subscription.
        in: header
        required: true
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Returns the newly created API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        default:
          description: Microsoft.Marketplace error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      description: Needs a more full description created.
components:
  schemas:
    ApiKey:
      type: object
      description: ApiKey object containing both the key and its alias.
      properties:
        keyAlias:
          description: The API key alias.
          type: string
        key:
          description: The API key to be used when calling relevant Discovery endpoints.
          type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
