openapi: 3.2.0
info:
  title: Microsoft Azure HybridNetworkManagementClient Vendor…
  description: The resources in this swagger specification will be used to manage the vendor network function deployment in the Microsoft.HybridNetwork resource provider.
  version: 2020-01-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: VendorNetworkFunctions
paths:
  ? /subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/locations/{locationName}/vendors/{vendorName}/networkFunctions/{serviceKey}
  : get:
      tags:
      - VendorNetworkFunctions
      operationId: microsoftAzureVendornetworkfunctionsGet
      description: Gets information about the specified vendor network function.
      parameters:
      - name: locationName
        in: path
        required: true
        description: The Azure region where the network function resource was created by the customer.
        schema:
          type: string
      - name: vendorName
        in: path
        required: true
        description: The name of the vendor.
        schema:
          type: string
      - name: serviceKey
        in: path
        required: true
        description: The GUID for the vendor network function.
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Request is successful. The operation returns the resulting vendor network function sub resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorNetworkFunction'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Get vendor network function sub resource by service key of network function.:
          $ref: ./examples/VendorNfGet.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
    put:
      tags:
      - VendorNetworkFunctions
      operationId: microsoftAzureVendornetworkfunctionsCreateorupdate
      description: Creates or updates a vendor network function.
      parameters:
      - name: locationName
        in: path
        required: true
        description: The Azure region where the network function resource was created by the customer.
        schema:
          type: string
      - name: vendorName
        in: path
        required: true
        description: The name of the vendor.
        schema:
          type: string
      - name: serviceKey
        in: path
        required: true
        description: The GUID for the vendor network function.
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Creation or update is successful. The operation returns the resulting vendor network function sub resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorNetworkFunction'
        '201':
          description: Created. The operation returns the resulting vendor network function sub resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorNetworkFunction'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Create or update vendor network function sub resource:
          $ref: ./examples/VendorNfCreate.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      summary: Microsoft Azure Put Subscriptions Subscriptionid Providers Microsoft…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VendorNetworkFunction'
        description: Parameters supplied to the create or update vendor network function operation.
        required: true
  ? /subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/locations/{locationName}/vendors/{vendorName}/networkFunctions
  : get:
      tags:
      - VendorNetworkFunctions
      operationId: microsoftAzureVendornetworkfunctionsList
      description: Lists all the vendor network function sub resources in an Azure region, filtered by skuType, skuName, vendorProvisioningState.
      parameters:
      - name: locationName
        in: path
        required: true
        description: The Azure region where the network function resource was created by the customer.
        schema:
          type: string
      - name: vendorName
        in: path
        required: true
        description: The name of the vendor.
        schema:
          type: string
      - name: $filter
        in: query
        required: false
        description: 'The filter to apply on the operation. The properties you can use for eq (equals) are: skuType, skuName and vendorProvisioningState.'
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Request is successful. The operation returns the resulting vendor network function sub resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorNetworkFunctionListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        List all nfs of vendor resource:
          $ref: ./examples/VendorNfListByVendor.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
components:
  schemas:
    VendorNetworkFunctionListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/VendorNetworkFunction'
          description: A list of vendor network functions.
        nextLink:
          readOnly: true
          type: string
          description: The URL to get the next set of results.
      description: Response for vendors API service call.
    VendorNetworkFunction:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/VendorNetworkFunctionPropertiesFormat'
          description: Network function details.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource
      description: Vendor network function sub resource.
    NetworkFunctionVendorConfiguration:
      properties:
        roleName:
          type: string
          description: The name of the vendor network function role.
        osProfile:
          description: Specifies the operating system settings for the role instance.
          $ref: ./common.json#/definitions/OsProfile
        userDataParameters:
          $ref: ./common.json#/definitions/UserDataParameters
          readOnly: true
          description: The user parameters from the customer.
        networkInterfaces:
          type: array
          items:
            $ref: ./common.json#/definitions/NetworkInterface
          description: The network interface configurations.
      description: Network function vendor configuration.
    VendorNetworkFunctionPropertiesFormat:
      description: Vendor network function properties.
      properties:
        provisioningState:
          readOnly: true
          $ref: ./common.json#/definitions/ProvisioningState
          description: The provisioning state of the vendor network function sub resource.
        vendorProvisioningState:
          $ref: ./common.json#/definitions/VendorProvisioningState
          description: The vendor controlled provisioning state of the vendor network function.
        skuName:
          readOnly: true
          type: string
          description: The name of the sku.
        skuType:
          $ref: ./common.json#/definitions/SkuType
          description: The sku type.
          readOnly: true
        networkFunctionVendorConfigurations:
          type: array
          items:
            $ref: '#/components/schemas/NetworkFunctionVendorConfiguration'
          description: An array of network function vendor configurations.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
