openapi: 3.2.0
info:
  title: Microsoft Azure ManagedNetworkManagementClient Scope…
  description: The Microsoft Azure Managed Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to programmatically view, control, change, and monitor your entire Azure network centrally and with ease.
  version: 2019-06-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ScopeAssignments
paths:
  /{scope}/providers/Microsoft.ManagedNetwork/scopeAssignments/{scopeAssignmentName}:
    get:
      tags:
      - ScopeAssignments
      operationId: microsoftAzureScopeassignmentsGet
      description: Get the specified scope assignment.
      parameters:
      - name: scope
        in: path
        required: true
        description: The base resource of the scope assignment.
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: scopeAssignmentName
        in: path
        required: true
        description: The name of the scope assignment to get.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK - Returns information about the scope assignment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScopeAssignment'
        default:
          description: Resource Provider error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        ScopeAssignmentsGet:
          $ref: ./examples/ScopeAssignment/ScopeAssignmentsGet.json
      summary: Microsoft Azure Get Scope Providers Microsoft Managednetwork Scopeassignments…
    put:
      tags:
      - ScopeAssignments
      operationId: microsoftAzureScopeassignmentsCreateorupdate
      description: Creates a scope assignment.
      parameters:
      - name: scope
        in: path
        required: true
        description: The base resource of the scope assignment to create. The scope can be any REST resource instance. For example, use 'subscriptions/{subscription-id}' for a subscription, 'subscriptions/{subscription-id}/resourceGroups/{resource-group-name}' for a resource group, and 'subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/{resource-provider}/{resource-type}/{resource-name}' for a resource.
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: scopeAssignmentName
        in: path
        required: true
        description: The name of the scope assignment to create.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Updated - Returns information about the scope assignment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScopeAssignment'
        '201':
          description: Created - Returns information about the scope assignment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScopeAssignment'
        default:
          description: Resource Provider error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        ScopeAssignmentsPut:
          $ref: ./examples/ScopeAssignment/ScopeAssignmentsPut.json
      summary: Microsoft Azure Put Scope Providers Microsoft Managednetwork Scopeassignments…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScopeAssignment'
        description: Parameters supplied to the specify which Managed Network this scope is being assigned
        required: true
    delete:
      tags:
      - ScopeAssignments
      operationId: microsoftAzureScopeassignmentsDelete
      description: Deletes a scope assignment.
      parameters:
      - name: scope
        in: path
        required: true
        description: The scope of the scope assignment to delete.
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: scopeAssignmentName
        in: path
        required: true
        description: The name of the scope assignment to delete.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Delete Succeed.
        default:
          description: Resource Provider error response describing why the operation failed.
      x-ms-examples:
        ScopeAssignmentsDelete:
          $ref: ./examples/ScopeAssignment/ScopeAssignmentsDelete.json
      summary: Microsoft Azure Delete Scope Providers Microsoft Managednetwork…
  /{scope}/providers/Microsoft.ManagedNetwork/scopeAssignments:
    get:
      tags:
      - ScopeAssignments
      operationId: microsoftAzureScopeassignmentsList
      description: Get the specified scope assignment.
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - name: scope
        in: path
        required: true
        description: The base resource of the scope assignment.
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK - Returns information about the scope assignment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScopeAssignmentListResult'
        default:
          description: Resource Provider error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        ScopeAssignmentsList:
          $ref: ./examples/ScopeAssignment/ScopeAssignmentsList.json
      summary: Microsoft Azure Get Scope Providers Microsoft Managednetwork Scopeassignments
components:
  schemas:
    ProxyResource:
      description: The resource model definition for a ARM proxy resource. It will have everything other than required location and tags
      allOf:
      - $ref: '#/components/schemas/Resource'
    ScopeAssignment:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ScopeAssignmentProperties'
          description: The Scope Assignment properties
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: The Managed Network resource
    ScopeAssignmentProperties:
      type: object
      properties:
        assignedManagedNetwork:
          type: string
          description: The managed network ID with scope will be assigned to.
      allOf:
      - $ref: '#/components/schemas/ResourceProperties'
      description: Properties of Managed Network
    Resource:
      description: The general resource model definition
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.
        location:
          type: string
          x-ms-mutability:
          - read
          - create
          description: The geo-location where the resource lives
      x-ms-azure-resource: true
    ScopeAssignmentListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ScopeAssignment'
          description: Gets a page of ScopeAssignment
        nextLink:
          type: string
          description: Gets the URL to get the next set of results.
      description: Result of the request to list ScopeAssignment. It contains a list of groups and a URL link to get the next set of results.
    ErrorResponse:
      description: The error response that indicates why an operation has failed.
      type: object
      properties:
        code:
          description: The error code.
          type: string
          readOnly: true
        message:
          description: The error message.
          type: string
          readOnly: true
    ResourceProperties:
      properties:
        provisioningState:
          type: string
          readOnly: true
          description: Provisioning state of the ManagedNetwork resource.
          enum:
          - Updating
          - Deleting
          - Failed
          - Succeeded
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
        etag:
          type: string
          readOnly: true
          description: A unique read-only string that changes whenever the resource is updated.
      description: Base for resource properties.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
