openapi: 3.2.0
info:
  version: '2019-12-01'
  title: Microsoft Azure Software Plan RP Software Plan Operations…
  description: Azure software plans let users create and manage licenses for various software used in Azure.
  x-ms-code-generation-settings:
    name: SoftwareplanClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Software Plan Operations
paths:
  /{scope}/providers/Microsoft.SoftwarePlan/operations:
    get:
      summary: Microsoft Azure Get Operations
      description: List all the operations.
      operationId: microsoftAzureOperationsList
      x-ms-examples:
        GetOperations:
          $ref: ./examples/GetOperations.json
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - $ref: '#/components/parameters/ScopeParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      tags:
      - Software Plan Operations
      responses:
        '200':
          description: List all the operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    OperationResponse:
      type: object
      description: Operation response.
      properties:
        name:
          type: string
          description: Name of the operation
        display:
          description: Display properties for the operation
          $ref: '#/components/schemas/OperationDisplay'
        origin:
          description: Origin of the response
          type: string
    ErrorCode:
      type: string
      description: Defined error codes to be returned to the client.
      enum:
      - InvalidRequestParameter
      - MissingRequestParameter
      x-ms-enum:
        name: ErrorCode
        modelAsString: true
    OperationDisplay:
      type: object
      description: Display fields for an operation.
      properties:
        provider:
          description: Resource Provider name
          type: string
        resource:
          description: Resource that is acted upon
          type: string
        operation:
          description: Operation to be performed
          type: string
        description:
          description: Description of the operation
          type: string
    Error:
      type: object
      description: Error object returned by the RP
      properties:
        code:
          description: Error code
          $ref: '#/components/schemas/ErrorCode'
        message:
          type: string
          description: A user readable error message. Localized based on x-ms-effective-locale header in the request
    OperationList:
      type: object
      description: List all the operations.
      properties:
        value:
          type: array
          description: List of all operations
          items:
            $ref: '#/components/schemas/OperationResponse'
          x-ms-identifiers:
          - name
        nextLink:
          type: string
          description: Url to get the next page of items.
  parameters:
    ScopeParameter:
      name: scope
      in: path
      x-ms-parameter-location: method
      required: true
      description: The scope at which the operation is performed. This is limited to Microsoft.Compute/virtualMachines and Microsoft.Compute/hostGroups/hosts for now
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      x-ms-parameter-location: client
      required: true
      description: The api-version to be used by the service
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
