openapi: 3.2.0
info:
  title: Microsoft Azure VirtualWANAsAServiceManagementClient…
  description: REST API for Azure VirtualWAN As a Service.
  version: '2023-11-01'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ExpressRouteGateways
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteGateways:
    get:
      tags:
      - ExpressRouteGateways
      operationId: microsoftAzureExpressroutegatewaysListbysubscription
      x-ms-examples:
        ExpressRouteGatewayListBySubscription:
          $ref: ./examples/ExpressRouteGatewayListBySubscription.json
      description: Lists ExpressRoute gateways under a given subscription.
      parameters:
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Request successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteGatewayList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Network…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteGateways:
    get:
      tags:
      - ExpressRouteGateways
      operationId: microsoftAzureExpressroutegatewaysListbyresourcegroup
      x-ms-examples:
        ExpressRouteGatewayListByResourceGroup:
          $ref: ./examples/ExpressRouteGatewayListByResourceGroup.json
      description: Lists ExpressRoute gateways in a given resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Operation successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteGatewayList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteGateways/{expressRouteGatewayName}
  : put:
      tags:
      - ExpressRouteGateways
      operationId: microsoftAzureExpressroutegatewaysCreateorupdate
      x-ms-examples:
        ExpressRouteGatewayCreate:
          $ref: ./examples/ExpressRouteGatewayCreate.json
      description: Creates or updates a ExpressRoute gateway in a specified resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: expressRouteGatewayName
        in: path
        required: true
        description: The name of the ExpressRoute gateway.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Update successful. The operation returns the resulting ExpressRoute gateway resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteGateway'
        '201':
          description: Create successful. The operation returns the resulting ExpressRoute gateway resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteGateway'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpressRouteGateway'
        description: Parameters required in an ExpressRoute gateway PUT operation.
        required: true
    patch:
      tags:
      - ExpressRouteGateways
      operationId: microsoftAzureExpressroutegatewaysUpdatetags
      x-ms-examples:
        ExpressRouteGatewayUpdate:
          $ref: ./examples/ExpressRouteGatewayUpdateTags.json
      description: Updates express route gateway tags.
      parameters:
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      - name: resourceGroupName
        in: path
        required: true
        description: The resource group name of the ExpressRouteGateway.
        schema:
          type: string
      - name: expressRouteGatewayName
        in: path
        required: true
        description: The name of the gateway.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Request successful. Returns the details of the updated gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteGateway'
        '202':
          description: Accepted and the operation will complete asynchronously.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./network.json#/definitions/TagsObject
        description: Parameters supplied to update a virtual wan express route gateway tags.
        required: true
    get:
      tags:
      - ExpressRouteGateways
      operationId: microsoftAzureExpressroutegatewaysGet
      x-ms-examples:
        ExpressRouteGatewayGet:
          $ref: ./examples/ExpressRouteGatewayGet.json
      description: Fetches the details of a ExpressRoute gateway in a resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: expressRouteGatewayName
        in: path
        required: true
        description: The name of the ExpressRoute gateway.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Operation succeeded. The operation returns the ExpressRoute gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteGateway'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    delete:
      tags:
      - ExpressRouteGateways
      operationId: microsoftAzureExpressroutegatewaysDelete
      x-ms-examples:
        ExpressRouteGatewayDelete:
          $ref: ./examples/ExpressRouteGatewayDelete.json
      description: Deletes the specified ExpressRoute gateway in a resource group. An ExpressRoute gateway resource can only be deleted when there are no connection subresources.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: expressRouteGatewayName
        in: path
        required: true
        description: The name of the ExpressRoute gateway.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Delete successful.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    StaticRoute:
      description: List of all Static Routes.
      properties:
        name:
          type: string
          description: The name of the StaticRoute that is unique within a VnetRoute.
        addressPrefixes:
          type: array
          description: List of all address prefixes.
          items:
            type: string
        nextHopIpAddress:
          type: string
          description: The ip address of the next hop.
    RoutingConfiguration:
      description: Routing Configuration indicating the associated and propagated route tables for this connection.
      properties:
        associatedRouteTable:
          $ref: ./network.json#/definitions/SubResource
          description: The resource id RouteTable associated with this RoutingConfiguration.
        propagatedRouteTables:
          $ref: '#/components/schemas/PropagatedRouteTable'
          description: The list of RouteTables to advertise the routes to.
        vnetRoutes:
          $ref: '#/components/schemas/VnetRoute'
          description: List of routes that control routing from VirtualHub into a virtual network connection.
        inboundRouteMap:
          $ref: ./network.json#/definitions/SubResource
          description: The resource id of the RouteMap associated with this RoutingConfiguration for inbound learned routes.
        outboundRouteMap:
          $ref: ./network.json#/definitions/SubResource
          description: The resource id of theRouteMap associated with this RoutingConfiguration for outbound advertised routes.
    ExpressRouteGateway:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ExpressRouteGatewayProperties'
          description: Properties of the express route gateway.
        etag:
          type: string
          readOnly: true
          description: A unique read-only string that changes whenever the resource is updated.
      allOf:
      - $ref: ./network.json#/definitions/Resource
      description: ExpressRoute gateway resource.
    VirtualHubId:
      properties:
        id:
          type: string
          description: The resource URI for the Virtual Hub where the ExpressRoute gateway is or will be deployed. The Virtual Hub resource and the ExpressRoute gateway resource reside in the same subscription.
      description: Virtual Hub identifier.
    ExpressRouteGatewayList:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ExpressRouteGateway'
          description: List of ExpressRoute gateways.
      description: List of ExpressRoute gateways.
    ExpressRouteCircuitPeeringId:
      properties:
        id:
          type: string
          description: The ID of the ExpressRoute circuit peering.
      description: ExpressRoute circuit peering identifier.
    ExpressRouteGatewayProperties:
      required:
      - virtualHub
      properties:
        autoScaleConfiguration:
          properties:
            bounds:
              properties:
                min:
                  type: integer
                  description: Minimum number of scale units deployed for ExpressRoute gateway.
                max:
                  type: integer
                  description: Maximum number of scale units deployed for ExpressRoute gateway.
              description: Minimum and maximum number of scale units to deploy.
          description: Configuration for auto scaling.
        expressRouteConnections:
          type: array
          description: List of ExpressRoute connections to the ExpressRoute gateway.
          items:
            $ref: '#/components/schemas/ExpressRouteConnection'
        provisioningState:
          readOnly: true
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the express route gateway resource.
        virtualHub:
          $ref: '#/components/schemas/VirtualHubId'
          description: The Virtual Hub where the ExpressRoute gateway is or will be deployed.
        allowNonVirtualWanTraffic:
          type: boolean
          description: Configures this gateway to accept traffic from non Virtual WAN networks.
      description: ExpressRoute gateway resource properties.
    VnetLocalRouteOverrideCriteria:
      type: string
      description: Parameter determining whether NVA in spoke vnet is bypassed for traffic with destination in spoke vnet.
      enum:
      - Contains
      - Equal
      x-ms-enum:
        name: VnetLocalRouteOverrideCriteria
        modelAsString: true
    VnetRoute:
      description: List of routes that control routing from VirtualHub into a virtual network connection.
      properties:
        staticRoutesConfig:
          $ref: '#/components/schemas/StaticRoutesConfig'
          description: Configuration for static routes on this HubVnetConnection.
        staticRoutes:
          type: array
          description: List of all Static Routes.
          items:
            $ref: '#/components/schemas/StaticRoute'
        bgpConnections:
          type: array
          readOnly: true
          description: The list of references to HubBgpConnection objects.
          items:
            $ref: ./network.json#/definitions/SubResource
    ExpressRouteConnectionProperties:
      required:
      - expressRouteCircuitPeering
      properties:
        provisioningState:
          readOnly: true
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the express route connection resource.
        expressRouteCircuitPeering:
          $ref: '#/components/schemas/ExpressRouteCircuitPeeringId'
          description: The ExpressRoute circuit peering.
        authorizationKey:
          type: string
          description: Authorization key to establish the connection.
        routingWeight:
          type: integer
          description: The routing weight associated to the connection.
        enableInternetSecurity:
          type: boolean
          description: Enable internet security.
        expressRouteGatewayBypass:
          type: boolean
          description: Enable FastPath to vWan Firewall hub.
        enablePrivateLinkFastPath:
          type: boolean
          description: Bypass the ExpressRoute gateway when accessing private-links. ExpressRoute FastPath (expressRouteGatewayBypass) must be enabled.
        routingConfiguration:
          $ref: '#/components/schemas/RoutingConfiguration'
          description: The Routing Configuration indicating the associated and propagated route tables on this connection.
      description: Properties of the ExpressRouteConnection subresource.
    ExpressRouteConnection:
      required:
      - name
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ExpressRouteConnectionProperties'
          description: Properties of the express route connection.
        name:
          type: string
          description: The name of the resource.
      allOf:
      - $ref: ./network.json#/definitions/SubResource
      description: ExpressRouteConnection resource.
    StaticRoutesConfig:
      description: Configuration for static routes on this HubVnetConnectionConfiguration for static routes on this HubVnetConnection.
      type: object
      properties:
        propagateStaticRoutes:
          description: Boolean indicating whether static routes on this connection are automatically propagate to route tables which this connection propagates to.
          type: boolean
          readOnly: true
        vnetLocalRouteOverrideCriteria:
          description: Parameter determining whether NVA in spoke vnet is bypassed for traffic with destination in spoke.
          $ref: '#/components/schemas/VnetLocalRouteOverrideCriteria'
    PropagatedRouteTable:
      description: The list of RouteTables to advertise the routes to.
      properties:
        labels:
          type: array
          description: The list of labels.
          items:
            type: string
        ids:
          type: array
          description: The list of resource ids of all the RouteTables.
          items:
            $ref: ./network.json#/definitions/SubResource
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
