openapi: 3.2.0
info:
  title: Microsoft Azure Get Private Dns Zone Suffix API
  version: 2023-06-01-preview
  description: 'Operations tagged GetPrivateDnsZoneSuffix across 2 of this provider''s published API definitions: mysqlmanagementclient-openapi-original.yml, postgresqlmanagementclient-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: GetPrivateDnsZoneSuffix
paths:
  /providers/Microsoft.DBforMySQL/getPrivateDnsZoneSuffix:
    post:
      tags:
      - GetPrivateDnsZoneSuffix
      operationId: microsoftAzureGetprivatednszonesuffixExecute
      x-ms-examples:
        GetPrivateDnsZoneSuffix:
          $ref: ./examples/GetPrivateDnsZoneSuffix.json
      description: Get private DNS zone suffix in the cloud.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPrivateDnsZoneSuffixResponse'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Post Providers Microsoft Dbformysql Getprivatednszonesuffix
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.DBforPostgreSQL/getPrivateDnsZoneSuffix:
    post:
      tags:
      - GetPrivateDnsZoneSuffix
      operationId: microsoftAzureGetprivatednszonesuffixExecute
      x-ms-examples:
        GetPrivateDnsZoneSuffix:
          $ref: ./examples/GetPrivateDnsZoneSuffix.json
      description: Get private DNS zone suffix in the cloud
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateDnsZoneSuffix'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Post Providers Microsoft Dbforpostgresql Getprivatednszonesuffix
    servers:
    - url: https://management.azure.com
components:
  schemas:
    GetPrivateDnsZoneSuffixResponse:
      type: object
      properties:
        privateDnsZoneSuffix:
          type: string
          description: Represents the private DNS zone suffix.
      description: The response of get private dns zone suffix.
    PrivateDnsZoneSuffix:
      type: string
      description: Represents a resource name availability.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- mysqlmanagementclient-openapi-original.yml
- postgresqlmanagementclient-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
