openapi: 3.2.0
info:
  title: Microsoft Azure Azure Log Analytics - Operations Management…
  description: Azure Log Analytics API reference for Solution.
  version: 2015-11-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ManagementAssociation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.OperationsManagement/ManagementAssociations:
    get:
      tags:
      - ManagementAssociation
      operationId: microsoftAzureManagementassociationsListbysubscription
      x-ms-examples:
        SolutionList:
          $ref: ./examples/ManagementAssociationListForSubscription.json
      summary: Microsoft Azure Retrieves The Managementassociations List For The Subscription
      description: Retrieves the ManagementAssociations list.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAssociationPropertiesList'
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeMessageError'
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceType}/{resourceName}/providers/Microsoft.OperationsManagement/ManagementAssociations/{managementAssociationName}
  : put:
      tags:
      - ManagementAssociation
      x-ms-examples:
        SolutionCreate:
          $ref: ./examples/ManagementAssociationCreate.json
      operationId: microsoftAzureManagementassociationsCreateorupdate
      summary: Microsoft Azure Create Update Managementassociation
      description: Creates or updates the ManagementAssociation.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/ProviderNameParameter'
      - $ref: '#/components/parameters/ResourceTypeParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: '#/components/parameters/ManagementAssociationNameParameter'
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAssociation'
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeMessageError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagementAssociation'
        description: The parameters required to create ManagementAssociation extension.
        required: true
    delete:
      tags:
      - ManagementAssociation
      x-ms-examples:
        SolutionDelete:
          $ref: ./examples/ManagementAssociationDelete.json
      operationId: microsoftAzureManagementassociationsDelete
      summary: Microsoft Azure Deletes The Managementassociation
      description: Deletes the ManagementAssociation in the subscription.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ProviderNameParameter'
      - $ref: '#/components/parameters/ResourceTypeParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: '#/components/parameters/ManagementAssociationNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK response definition.
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeMessageError'
    get:
      tags:
      - ManagementAssociation
      operationId: microsoftAzureManagementassociationsGet
      x-ms-examples:
        SolutionGet:
          $ref: ./examples/ManagementAssociationGet.json
      summary: Microsoft Azure Retrieve Managementassociation
      description: Retrieves the user ManagementAssociation.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ProviderNameParameter'
      - $ref: '#/components/parameters/ResourceTypeParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: '#/components/parameters/ManagementAssociationNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAssociation'
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeMessageError'
components:
  schemas:
    ManagementAssociationProperties:
      description: ManagementAssociation properties supported by the OperationsManagement resource provider.
      properties:
        applicationId:
          type: string
          description: The applicationId of the appliance for this association.
      required:
      - applicationId
      x-ms-azure-resource: true
    ManagementAssociation:
      properties:
        id:
          readOnly: true
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
        location:
          type: string
          description: Resource location
        properties:
          description: Properties for ManagementAssociation object supported by the OperationsManagement resource provider.
          $ref: '#/components/schemas/ManagementAssociationProperties'
      description: The container for solution.
      x-ms-azure-resource: true
    ManagementAssociationPropertiesList:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ManagementAssociation'
          description: List of Management Association properties within the subscription.
      description: the list of ManagementAssociation response
    CodeMessageError:
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: The error type.
            message:
              type: string
              description: The error message.
          description: The error details for a failed request.
      description: The error body contract.
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The name of the resource group to get. The name is case insensitive.
      schema:
        type: string
        maxLength: 90
        minLength: 1
        pattern: ^[-\w\._\(\)]+$
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    ProviderNameParameter:
      name: providerName
      in: path
      required: true
      description: Provider name for the parent resource.
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
    ResourceNameParameter:
      name: resourceName
      in: path
      required: true
      description: Parent resource name.
      x-ms-parameter-location: method
      schema:
        type: string
    ManagementAssociationNameParameter:
      x-ms-parameter-location: method
      name: managementAssociationName
      in: path
      required: true
      description: User ManagementAssociation Name.
      schema:
        type: string
    ResourceTypeParameter:
      name: resourceType
      in: path
      required: true
      description: Resource type for the parent resource
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
