openapi: 3.2.0
info:
  title: Microsoft Azure VirtualWANAsAServiceManagementClient P2 S…
  description: REST API for Azure VirtualWAN As a Service.
  version: '2023-11-01'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: P2SVpnGateways
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/p2svpnGateways/{gatewayName}
  : patch:
      tags:
      - P2SVpnGateways
      operationId: microsoftAzureP2svpngatewaysUpdatetags
      x-ms-examples:
        P2SVpnGatewayUpdate:
          $ref: ./examples/P2SVpnGatewayUpdateTags.json
      description: Updates virtual wan p2s vpn gateway tags.
      parameters:
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      - name: resourceGroupName
        in: path
        required: true
        description: The resource group name of the P2SVpnGateway.
        schema:
          type: string
      - name: gatewayName
        in: path
        required: true
        description: The name of the gateway.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Request successful. Returns the details of the updated gateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2SVpnGateway'
        '202':
          description: Accepted and the operation will complete asynchronously.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./network.json#/definitions/TagsObject
        description: Parameters supplied to update a virtual wan p2s vpn gateway tags.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/p2svpnGateways/{gatewayName}/reset
  : post:
      tags:
      - P2SVpnGateways
      operationId: microsoftAzureP2svpngatewaysReset
      description: Resets the primary of the p2s vpn gateway in the specified resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The resource group name of the P2SVpnGateway.
        schema:
          type: string
      - name: gatewayName
        in: path
        required: true
        description: The name of the gateway.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Request successful. The operation reset the primary of the P2SVpnGateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2SVpnGateway'
        '202':
          description: Accepted and the operation will complete asynchronously.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        ResetP2SVpnGateway:
          $ref: ./examples/P2SVpnGatewayReset.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/p2svpnGateways/{gatewayName}/generatevpnprofile
  : post:
      tags:
      - P2SVpnGateways
      operationId: microsoftAzureP2svpngatewaysGeneratevpnprofile
      description: Generates VPN profile for P2S client of the P2SVpnGateway in the specified resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: gatewayName
        in: path
        required: true
        description: The name of the P2SVpnGateway.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: VPN profile package URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnProfileResponse'
        '202':
          description: Accepted and the operation will complete asynchronously.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        GenerateP2SVpnGatewayVPNProfile:
          $ref: ./examples/P2SVpnGatewayGenerateVpnProfile.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/P2SVpnProfileParameters'
        description: Parameters supplied to the generate P2SVpnGateway VPN client package operation.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/p2svpnGateways/{gatewayName}/getP2sVpnConnectionHealth
  : post:
      tags:
      - P2SVpnGateways
      operationId: microsoftAzureP2svpngatewaysGetp2svpnconnectionhealth
      description: Gets the connection health of P2S clients of the virtual wan P2SVpnGateway in the specified resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: gatewayName
        in: path
        required: true
        description: The name of the P2SVpnGateway.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: P2S Vpn Gateway with P2S connection health details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2SVpnGateway'
        '202':
          description: Accepted and the operation will complete asynchronously.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        P2SVpnGatewayGetConnectionHealth:
          $ref: ./examples/P2SVpnGatewayGetConnectionHealth.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/p2svpnGateways/{gatewayName}/getP2sVpnConnectionHealthDetailed
  : post:
      tags:
      - P2SVpnGateways
      operationId: microsoftAzureP2svpngatewaysGetp2svpnconnectionhealthdetailed
      description: Gets the sas url to get the connection health detail of P2S clients of the virtual wan P2SVpnGateway in the specified resource group.
      parameters:
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: gatewayName
        in: path
        required: true
        description: The name of the P2SVpnGateway.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: P2S connections detailed health report.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2SVpnConnectionHealth'
        '202':
          description: Accepted and the operation will complete asynchronously.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        P2SVpnGatewayGetConnectionHealthDetailed:
          $ref: ./examples/P2SVpnGatewayGetConnectionHealthDetailed.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/P2SVpnConnectionHealthRequest'
        description: Request parameters supplied to get p2s vpn connections detailed health.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/p2svpnGateways/{p2sVpnGatewayName}/disconnectP2sVpnConnections
  : post:
      tags:
      - P2SVpnGateways
      operationId: microsoftAzureP2svpngatewaysDisconnectp2svpnconnections
      description: Disconnect P2S vpn connections of the virtual wan P2SVpnGateway in the specified resource group.
      parameters:
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: p2sVpnGatewayName
        in: path
        required: true
        description: The name of the P2S Vpn Gateway.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Request successful. The operation disconnects the requested vpn connections.
        '202':
          description: Accepted and the operation will complete asynchronously.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        Disconnect VpnConnections from P2sVpn Gateway:
          $ref: ./examples/P2sVpnGatewaysDisconnectP2sVpnConnections.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/P2SVpnConnectionRequest'
        description: The parameters are supplied to disconnect p2s vpn connections.
        required: true
components:
  schemas:
    P2SVpnConnectionHealth:
      properties:
        sasUrl:
          type: string
          description: Returned sas url of the blob to which the p2s vpn connection detailed health will be written.
      description: P2S Vpn connection detailed health written to sas url.
    VnetRoute:
      description: List of routes that control routing from VirtualHub into a virtual network connection.
      properties:
        staticRoutesConfig:
          $ref: '#/components/schemas/StaticRoutesConfig'
          description: Configuration for static routes on this HubVnetConnection.
        staticRoutes:
          type: array
          description: List of all Static Routes.
          items:
            $ref: '#/components/schemas/StaticRoute'
        bgpConnections:
          type: array
          readOnly: true
          description: The list of references to HubBgpConnection objects.
          items:
            $ref: ./network.json#/definitions/SubResource
    VpnClientConnectionHealth:
      properties:
        totalIngressBytesTransferred:
          readOnly: true
          type: integer
          format: int64
          description: Total of the Ingress Bytes Transferred in this P2S Vpn connection.
        totalEgressBytesTransferred:
          readOnly: true
          type: integer
          format: int64
          description: Total of the Egress Bytes Transferred in this connection.
        vpnClientConnectionsCount:
          type: integer
          format: int32
          description: The total of p2s vpn clients connected at this time to this P2SVpnGateway.
        allocatedIpAddresses:
          type: array
          items:
            type: string
          description: List of allocated ip addresses to the connected p2s vpn clients.
      description: VpnClientConnectionHealth properties.
    PropagatedRouteTable:
      description: The list of RouteTables to advertise the routes to.
      properties:
        labels:
          type: array
          description: The list of labels.
          items:
            type: string
        ids:
          type: array
          description: The list of resource ids of all the RouteTables.
          items:
            $ref: ./network.json#/definitions/SubResource
    VpnServerConfigurationPolicyGroup:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/VpnServerConfigurationPolicyGroupProperties'
          description: Properties of the VpnServerConfigurationPolicyGroup.
        etag:
          type: string
          readOnly: true
          description: A unique read-only string that changes whenever the resource is updated.
        name:
          type: string
          description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
        type:
          readOnly: true
          type: string
          description: Resource type.
      allOf:
      - $ref: ./network.json#/definitions/SubResource
      description: VpnServerConfigurationPolicyGroup Resource.
    P2SVpnGatewayProperties:
      properties:
        virtualHub:
          $ref: ./network.json#/definitions/SubResource
          description: The VirtualHub to which the gateway belongs.
        p2SConnectionConfigurations:
          type: array
          description: List of all p2s connection configurations of the gateway.
          items:
            $ref: '#/components/schemas/P2SConnectionConfiguration'
        provisioningState:
          readOnly: true
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the P2S VPN gateway resource.
        vpnGatewayScaleUnit:
          type: integer
          format: int32
          description: The scale unit for this p2s vpn gateway.
        vpnServerConfiguration:
          $ref: ./network.json#/definitions/SubResource
          description: The VpnServerConfiguration to which the p2sVpnGateway is attached to.
        vpnClientConnectionHealth:
          readOnly: true
          $ref: '#/components/schemas/VpnClientConnectionHealth'
          description: All P2S VPN clients' connection health status.
        customDnsServers:
          type: array
          description: List of all customer specified DNS servers IP addresses.
          items:
            type: string
        isRoutingPreferenceInternet:
          type: boolean
          description: Enable Routing Preference property for the Public IP Interface of the P2SVpnGateway.
      description: Parameters for P2SVpnGateway.
    StaticRoutesConfig:
      description: Configuration for static routes on this HubVnetConnectionConfiguration for static routes on this HubVnetConnection.
      type: object
      properties:
        propagateStaticRoutes:
          description: Boolean indicating whether static routes on this connection are automatically propagate to route tables which this connection propagates to.
          type: boolean
          readOnly: true
        vnetLocalRouteOverrideCriteria:
          description: Parameter determining whether NVA in spoke vnet is bypassed for traffic with destination in spoke.
          $ref: '#/components/schemas/VnetLocalRouteOverrideCriteria'
    VpnServerConfigurationPolicyGroupMember:
      properties:
        name:
          type: string
          description: Name of the VpnServerConfigurationPolicyGroupMember.
        attributeType:
          type: string
          description: The Vpn Policy member attribute type.
          enum:
          - CertificateGroupId
          - AADGroupId
          - RadiusAzureGroupId
          x-ms-enum:
            name: VpnPolicyMemberAttributeType
            modelAsString: true
        attributeValue:
          type: string
          description: The value of Attribute used for this VpnServerConfigurationPolicyGroupMember.
      description: VpnServerConfiguration PolicyGroup member
      type: object
    StaticRoute:
      description: List of all Static Routes.
      properties:
        name:
          type: string
          description: The name of the StaticRoute that is unique within a VnetRoute.
        addressPrefixes:
          type: array
          description: List of all address prefixes.
          items:
            type: string
        nextHopIpAddress:
          type: string
          description: The ip address of the next hop.
    RoutingConfiguration:
      description: Routing Configuration indicating the associated and propagated route tables for this connection.
      properties:
        associatedRouteTable:
          $ref: ./network.json#/definitions/SubResource
          description: The resource id RouteTable associated with this RoutingConfiguration.
        propagatedRouteTables:
          $ref: '#/components/schemas/PropagatedRouteTable'
          description: The list of RouteTables to advertise the routes to.
        vnetRoutes:
          $ref: '#/components/schemas/VnetRoute'
          description: List of routes that control routing from VirtualHub into a virtual network connection.
        inboundRouteMap:
          $ref: ./network.json#/definitions/SubResource
          description: The resource id of the RouteMap associated with this RoutingConfiguration for inbound learned routes.
        outboundRouteMap:
          $ref: ./network.json#/definitions/SubResource
          description: The resource id of theRouteMap associated with this RoutingConfiguration for outbound advertised routes.
    VnetLocalRouteOverrideCriteria:
      type: string
      description: Parameter determining whether NVA in spoke vnet is bypassed for traffic with destination in spoke vnet.
      enum:
      - Contains
      - Equal
      x-ms-enum:
        name: VnetLocalRouteOverrideCriteria
        modelAsString: true
    VpnProfileResponse:
      properties:
        profileUrl:
          type: string
          description: URL to the VPN profile.
      description: Vpn Profile Response for package generation.
    P2SVpnGateway:
      required:
      - location
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/P2SVpnGatewayProperties'
          description: Properties of the P2SVpnGateway.
        etag:
          type: string
          readOnly: true
          description: A unique read-only string that changes whenever the resource is updated.
      allOf:
      - $ref: ./network.json#/definitions/Resource
      description: P2SVpnGateway Resource.
    P2SConnectionConfiguration:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/P2SConnectionConfigurationProperties'
          description: Properties of the P2S connection configuration.
        name:
          type: string
          description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
        etag:
          type: string
          readOnly: true
          description: A unique read-only string that changes whenever the resource is updated.
      allOf:
      - $ref: ./network.json#/definitions/SubResource
      description: P2SConnectionConfiguration Resource.
    P2SConnectionConfigurationProperties:
      properties:
        vpnClientAddressPool:
          $ref: ./virtualNetwork.json#/definitions/AddressSpace
          description: The reference to the address space resource which represents Address space for P2S VpnClient.
        routingConfiguration:
          $ref: '#/components/schemas/RoutingConfiguration'
          description: The Routing Configuration indicating the associated and propagated route tables on this connection.
        enableInternetSecurity:
          type: boolean
          description: Flag indicating whether the enable internet security flag is turned on for the P2S Connections or not.
        configurationPolicyGroupAssociations:
          type: array
          readOnly: true
          items:
            $ref: ./network.json#/definitions/SubResource
          description: List of Configuration Policy Groups that this P2SConnectionConfiguration is attached to.
        previousConfigurationPolicyGroupAssociations:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/VpnServerConfigurationPolicyGroup'
          description: List of previous Configuration Policy Groups that this P2SConnectionConfiguration was attached to.
        provisioningState:
          readOnly: true
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the P2SConnectionConfiguration resource.
      description: Parameters for P2SConnectionConfiguration.
    P2SVpnConnectionRequest:
      description: List of p2s vpn connections to be disconnected.
      properties:
        vpnConnectionIds:
          type: array
          items:
            type: string
          description: List of p2s vpn connection Ids.
    P2SVpnProfileParameters:
      properties:
        authenticationMethod:
          $ref: ./network.json#/definitions/AuthenticationMethod
          description: VPN client authentication method.
      description: Vpn Client Parameters for package generation.
    P2SVpnConnectionHealthRequest:
      properties:
        vpnUserNamesFilter:
          type: array
          items:
            type: string
            description: P2S vpn user name.
          description: The list of p2s vpn user names whose p2s vpn connection detailed health to retrieve for.
        outputBlobSasUrl:
          type: string
          description: The sas-url to download the P2S Vpn connection health detail.
      description: List of P2S Vpn connection health request.
    VpnServerConfigurationPolicyGroupProperties:
      type: object
      properties:
        isDefault:
          type: boolean
          description: Shows if this is a Default VpnServerConfigurationPolicyGroup or not.
        priority:
          type: integer
          format: int32
          description: Priority for VpnServerConfigurationPolicyGroup.
        policyMembers:
          type: array
          items:
            $ref: '#/components/schemas/VpnServerConfigurationPolicyGroupMember'
          description: Multiple PolicyMembers for VpnServerConfigurationPolicyGroup.
          x-ms-identifiers: []
        p2SConnectionConfigurations:
          type: array
          readOnly: true
          items:
            $ref: ./network.json#/definitions/SubResource
          description: List of references to P2SConnectionConfigurations.
        provisioningState:
          readOnly: true
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the VpnServerConfigurationPolicyGroup resource.
      description: Parameters for VpnServerConfigurationPolicyGroup.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
