openapi: 3.2.0
info:
  title: Microsoft Azure Outbound Network Dependencies Endpoints API
  version: '1.0'
  description: 'Operations tagged OutboundNetworkDependenciesEndpoints across 2 of this provider''s published API definitions: azure-machine-learning-services-openapi-original.yml, azuredatabricksmanagementclient-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: OutboundNetworkDependenciesEndpoints
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/outboundNetworkDependenciesEndpoints
  : get:
      tags:
      - OutboundNetworkDependenciesEndpoints
      summary: Microsoft Azure Called By Client Portal, Cli, Etc To Get A List Of All External…
      operationId: microsoftAzureWorkspacesListoutboundnetworkdependenciesendpoints
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalFQDNResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        ListOutboundNetworkDependenciesEndpoints:
          $ref: ./examples/ExternalFQDN/get.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Databricks/workspaces/{workspaceName}/outboundNetworkDependenciesEndpoints
  : get:
      tags:
      - OutboundNetworkDependenciesEndpoints
      summary: Microsoft Azure Gets A List Of Egress Endpoints Network Endpoints Of All…
      description: Gets the list of endpoints that VNET Injected Workspace calls Azure Databricks Control Plane. You must configure outbound access with these endpoints. For more information, see https://docs.microsoft.com/en-us/azure/databricks/administration-guide/cloud-configurations/azure/udr
      operationId: microsoftAzureOutboundnetworkdependenciesendpointsList
      x-ms-examples:
        List OutboundNetworkDependenciesEndpoints by Workspace:
          $ref: ./examples/OutboundNetworkDependenciesEndpointsList.json
      parameters:
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/WorkspaceName'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The response contains list of outbound network dependency endpoints
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutboundEnvironmentEndpointCollection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    servers:
    - url: https://management.azure.com
components:
  schemas:
    FQDNEndpointsPropertyBag:
      description: Property bag for FQDN endpoints result
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/FQDNEndpoints'
    FQDNEndpoints:
      type: object
      properties:
        category:
          type: string
        endpoints:
          type: array
          items:
            $ref: '#/components/schemas/FQDNEndpoint'
          x-ms-identifiers:
          - domainName
    FQDNEndpointDetail:
      type: object
      properties:
        port:
          format: int32
          type: integer
    ExternalFQDNResponse:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/FQDNEndpointsPropertyBag'
          x-ms-identifiers:
          - /properties/category
    FQDNEndpoint:
      type: object
      properties:
        domainName:
          type: string
        endpointDetails:
          type: array
          items:
            $ref: '#/components/schemas/FQDNEndpointDetail'
          x-ms-identifiers:
          - port
    ErrorDetail:
      title: Error details.
      type: object
      properties:
        code:
          description: The error's code.
          type: string
        message:
          description: A human readable error message.
          type: string
        target:
          description: Indicates which property in the request is responsible for the error.
          type: string
      required:
      - code
      - message
    EndpointDependency:
      description: A domain name or IP address the Workspace is reaching at.
      type: object
      properties:
        domainName:
          description: The domain name of the dependency.
          type: string
        endpointDetails:
          description: The Ports used when connecting to domainName.
          type: array
          x-ms-identifiers: []
          items:
            $ref: '#/components/schemas/EndpointDetail'
    ErrorInfo:
      title: The code and message for an error.
      type: object
      properties:
        code:
          description: A machine readable error code.
          type: string
        message:
          description: A human readable error message.
          type: string
        details:
          description: error details.
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
        innererror:
          description: Inner error details if they exist.
          type: string
      required:
      - code
      - message
    OutboundEnvironmentEndpoint:
      description: Egress endpoints which Workspace connects to for common purposes.
      type: object
      properties:
        category:
          description: The category of endpoints accessed by the Workspace, e.g. azure-storage, azure-mysql, etc.
          type: string
        endpoints:
          description: The endpoints that Workspace connect to
          type: array
          x-ms-identifiers: []
          items:
            $ref: '#/components/schemas/EndpointDependency'
    ErrorResponse:
      title: Error response.
      description: Contains details when the response code indicates an error.
      type: object
      properties:
        error:
          description: The error details.
          $ref: '#/components/schemas/ErrorInfo'
      required:
      - error
    EndpointDetail:
      description: Connect information from the Workspace to a single endpoint.
      type: object
      properties:
        ipAddress:
          description: An IP Address that Domain Name currently resolves to.
          type: string
        port:
          format: int32
          description: The port an endpoint is connected to.
          type: integer
        latency:
          format: double
          description: The time in milliseconds it takes for the connection to be created from the Workspace to this IpAddress at this Port.
          type: number
        isAccessible:
          description: Whether it is possible to create a connection from the Workspace to this IpAddress at this Port.
          type: boolean
    OutboundEnvironmentEndpointCollection:
      description: Collection of outbound network dependency endpoints
      type: array
      x-ms-identifiers: []
      items:
        $ref: '#/components/schemas/OutboundEnvironmentEndpoint'
  parameters:
    WorkspaceNameParameter:
      in: path
      name: workspaceName
      description: Azure Machine Learning Workspace Name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]{2,32}$
    ResourceGroupName:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
        pattern: ^[-\w\._\(\)]+$
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
    WorkspaceName:
      name: workspaceName
      in: path
      required: true
      description: The name of the workspace.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 3
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
x-refined-from:
- azure-machine-learning-services-openapi-original.yml
- azuredatabricksmanagementclient-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
