openapi: 3.2.0
info:
  title: Microsoft Azure MariaDBManagementClient Recommended Action…
  description: The Microsoft Azure management API provides create, read, update, and delete functionality for Azure MariaDB resources including servers, databases, firewall rules, VNET rules, log files and configurations with new business model.
  version: '2018-06-01'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: RecommendedActionSessions
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/advisors/{advisorName}/createRecommendedActionSession
  : post:
      tags:
      - RecommendedActionSessions
      operationId: microsoftAzureCreaterecommendedactionsession
      x-ms-examples:
        RecommendedActionSessionCreate:
          $ref: ./examples/RecommendedActionSessionCreate.json
      description: Create recommendation action session for the advisor.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/ServerNameParameter'
      - $ref: '#/components/parameters/AdvisorNameParameter'
      - name: databaseName
        in: query
        required: true
        description: The name of the database.
        schema:
          type: string
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
      x-ms-long-running-operation: true
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
components:
  parameters:
    AdvisorNameParameter:
      name: advisorName
      in: path
      required: true
      description: The advisor name for recommendation action.
      x-ms-parameter-location: method
      schema:
        type: string
    ServerNameParameter:
      name: serverName
      in: path
      required: true
      description: The name of the server.
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for the request.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The subscription ID that identifies an Azure subscription.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
