openapi: 3.2.0
info:
  version: '2016-06-01'
  title: Microsoft Azure HybridDataManagementClient Data Services API
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Data Services
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataServices
  : get:
      tags:
      - Data Services
      description: This method gets all the data services.
      operationId: microsoftAzureDataservicesListbydatamanager
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/dataManagerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The list of data services.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataServiceList'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        DataServices_ListByDataManagerGET51:
          $ref: ./examples/DataServices_ListByDataManager-GET-example-51.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataServices/{dataServiceName}
  : get:
      tags:
      - Data Services
      description: Gets the data service that match the data service name given.
      operationId: microsoftAzureDataservicesGet
      parameters:
      - name: dataServiceName
        in: path
        description: The name of the data service that is being queried.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/dataManagerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The data service that matches the name.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataService'
      x-ms-examples:
        DataServices_GetGET62:
          $ref: ./examples/DataServices_Get-GET-example-62.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    DataService:
      description: Data Service.
      required:
      - properties
      type: object
      allOf:
      - $ref: '#/components/schemas/DmsBaseObject'
      properties:
        properties:
          $ref: '#/components/schemas/DataServiceProperties'
          description: DataService properties.
          x-ms-client-flatten: true
    DataServiceList:
      description: Data Service Collection.
      type: object
      properties:
        value:
          description: List of data services.
          type: array
          items:
            $ref: '#/components/schemas/DataService'
        nextLink:
          description: Link for the next set of data services.
          type: string
    DmsBaseObject:
      description: Base class for all objects under DataManager Service
      type: object
      properties:
        name:
          description: Name of the object.
          type: string
          readOnly: true
        id:
          description: Id of the object.
          type: string
          readOnly: true
        type:
          description: Type of the object.
          type: string
          readOnly: true
    DataServiceProperties:
      description: Data Service properties.
      required:
      - state
      type: object
      properties:
        state:
          description: State of the data service.
          enum:
          - Disabled
          - Enabled
          - Supported
          type: string
          x-ms-enum:
            name: State
            modelAsString: false
        supportedDataSinkTypes:
          description: Supported data store types which can be used as a sink.
          type: array
          items:
            type: string
        supportedDataSourceTypes:
          description: Supported data store types which can be used as a source.
          type: array
          items:
            type: string
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The Subscription Id
      required: true
      schema:
        type: string
    dataManagerNameParameter:
      name: dataManagerName
      in: path
      description: The name of the DataManager Resource within the specified resource group. DataManager names must be between 3 and 24 characters in length and use any alphanumeric and underscore only
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 24
        minLength: 3
        pattern: ^[-\w\.]+$
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The Resource Group Name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      description: The API Version
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
