openapi: 3.2.0
info:
  title: 'Microsoft Azure Files: API'
  x-refined-note:
  - x-ms-code-generation-settings differs across the merged source definitions and was not carried
  - x-typespec-generated differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Files: across 6 of this provider''s published API definitions: azure-openai-api-version-2022-03-01-preview-openapi-original.yml, azure-openai-api-version-2022-12-01-openapi-original.yml, azure-openai-api-version-2023-10-01-preview-openapi-original.yml, azure-openai-openapi-original.yml, batchservice-openapi-original.yml, microsoftsupport-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
tags:
- name: Files
paths:
  /files:
    get:
      tags:
      - Files
      summary: Microsoft Azure Gets A List Of All Files Owned By The Azure Openai Resource…
      operationId: microsoftAzureFilesList
      parameters:
      - $ref: '#/components/parameters/apiVersionQueryParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileList'
        default:
          description: An error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Getting all files owned by this account.:
          $ref: ./examples/get_files.json
      description: Needs a more full description created.
      security:
      - api-key: []
    post:
      tags:
      - Files
      summary: Microsoft Azure Creates A New File Entity By Uploading Data From A Local…
      operationId: microsoftAzureFilesUpload
      parameters:
      - $ref: '#/components/parameters/apiVersionQueryParameter'
      responses:
        '201':
          description: The file has been successfully created.
          headers:
            Location:
              description: The location of the newly created item.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
        default:
          description: An error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Upload a file.:
          $ref: ./examples/upload_file.json
      description: Needs a more full description created.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                purpose:
                  type: string
                  enum:
                  - fine-tune
                  - fine-tune-results
                  description: The intended purpose of the uploaded documents. Use "fine-tune" for fine-tuning. This allows us to validate the format of the uploaded file.
                file:
                  type: string
                  description: Gets or sets the file to upload into Azure OpenAI.
                  format: binary
              required:
              - purpose
              - file
      security:
      - api-key: []
  /files/{file_id}:
    get:
      tags:
      - Files
      summary: Microsoft Azure Gets Details For A Single File Specified By The Given File Id…
      operationId: microsoftAzureFilesGet
      parameters:
      - in: path
        name: file_id
        description: The identifier of the file.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersionQueryParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
        default:
          description: An error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Getting a file.:
          $ref: ./examples/get_file.json
      description: Needs a more full description created.
      security:
      - api-key: []
    delete:
      tags:
      - Files
      summary: Microsoft Azure Deletes The File With The Given File Id deletion Is Also…
      operationId: microsoftAzureFilesDelete
      parameters:
      - in: path
        name: file_id
        description: The identifier of the file.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersionQueryParameter'
      responses:
        '204':
          description: The file was successfully deleted.
        default:
          description: An error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Deleting a file.:
          $ref: ./examples/delete_file.json
      description: Needs a more full description created.
      security:
      - api-key: []
  /files/{file_id}/content:
    get:
      tags:
      - Files
      summary: Microsoft Azure Gets The Content Of The File Specified By The Given File Id…
      operationId: microsoftAzureFilesGetfilecontent
      parameters:
      - in: path
        name: file_id
        description: The identifier of the file.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersionQueryParameter'
      responses:
        '200':
          description: Success
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: string
                format: binary
        default:
          description: An error occurred.
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Getting the file content.:
          $ref: ./examples/get_file_content.json
      description: Needs a more full description created.
      security:
      - api-key: []
  /files/import:
    post:
      tags:
      - Files
      summary: Microsoft Azure Creates A New File Entity By Importing Data From A Provided Url…
      operationId: microsoftAzureFilesImport
      parameters:
      - $ref: '#/components/parameters/apiVersionQueryParameter'
      responses:
        '201':
          description: The file has been successfully created.
          headers:
            Location:
              description: The location of the newly created item.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
        default:
          description: An error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Importing a file with a blob url as source.:
          $ref: ./examples/import_file.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileImport'
        description: The definition of the file to create including its purpose, the file name and the url of the file location.
      security:
      - api-key: []
  /files/{file-id}:
    get:
      tags:
      - Files
      summary: Microsoft Azure Gets Details For A Single File Specified By The Given File Id…
      operationId: microsoftAzureFilesGet
      parameters:
      - in: path
        name: file-id
        description: The identifier of the file.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersionQueryParameter_2'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File_2'
        default:
          description: An error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
      x-ms-examples:
        Getting a file.:
          $ref: ./examples/get_file.json
      description: Needs a more full description created.
      security:
      - api-key: []
    delete:
      tags:
      - Files
      summary: Microsoft Azure Deletes The File With The Given File Id deletion Is Also…
      operationId: microsoftAzureFilesDelete
      parameters:
      - in: path
        name: file-id
        description: The identifier of the file.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersionQueryParameter_2'
      responses:
        '204':
          description: The file was successfully deleted.
        default:
          description: An error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
      x-ms-examples:
        Deleting a file.:
          $ref: ./examples/delete_file.json
      description: Needs a more full description created.
      security:
      - api-key: []
  /files/{file-id}/content:
    get:
      tags:
      - Files
      summary: Microsoft Azure Gets The Content Of The File Specified By The Given File Id…
      operationId: microsoftAzureFilesGetcontent
      parameters:
      - in: path
        name: file-id
        description: The identifier of the file.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersionQueryParameter_2'
      responses:
        '200':
          description: Success
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: string
                format: binary
        default:
          description: An error occurred.
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
      x-ms-examples:
        Getting the file content.:
          $ref: ./examples/get_file_content.json
      description: Needs a more full description created.
      security:
      - api-key: []
  /files/{fileId}:
    get:
      operationId: microsoftAzureRetrievefile
      description: Returns information about a specific file. Does not retrieve file content.
      parameters:
      - name: fileId
        in: path
        description: The ID of the file to retrieve.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIFile'
      summary: Microsoft Azure Get Files Fileid
      tags:
      - Files
      security:
      - ApiKeyAuth: []
      - OAuth2Auth:
        - https://cognitiveservices.azure.com/.default
    delete:
      operationId: microsoftAzureDeletefile
      description: Delete a previously uploaded file.
      parameters:
      - name: fileId
        in: path
        description: The ID of the file to delete.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileDeletionStatus'
      summary: Microsoft Azure Delete Files Fileid
      tags:
      - Files
      security:
      - ApiKeyAuth: []
      - OAuth2Auth:
        - https://cognitiveservices.azure.com/.default
  /jobs/{jobId}/tasks/{taskId}/files/{filePath}:
    delete:
      tags:
      - Files
      operationId: microsoftAzureFileDeletefromtask
      x-ms-examples:
        File delete from task:
          $ref: ./examples/FileDeleteFromTask.json
      summary: Microsoft Azure Deletes The Specified Task File From The Compute Node Where The…
      x-ms-request-id: request-id
      parameters:
      - name: jobId
        in: path
        required: true
        description: The ID of the Job that contains the Task.
        schema:
          type: string
      - name: taskId
        in: path
        required: true
        description: The ID of the Task whose file you want to delete.
        schema:
          type: string
      - name: filePath
        in: path
        required: true
        description: The path to the Task file or directory that you want to delete.
        schema:
          type: string
      - name: recursive
        in: query
        required: false
        description: Whether to delete children of a directory. If the filePath parameter represents a directory instead of a file, you can set recursive to true to delete the directory and all of the files and subdirectories in it. If recursive is false then the directory must be empty or deletion will fail.
        schema:
          type: boolean
      - name: timeout
        in: query
        required: false
        description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: integer
          format: int32
          default: 30
      - name: client-request-id
        in: header
        required: false
        description: The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
        x-ms-parameter-grouping:
          postfix: Options
        x-ms-client-request-id: true
        schema:
          type: string
          format: uuid
      - name: return-client-request-id
        in: header
        required: false
        description: Whether the server should return the client-request-id in the response.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: boolean
          default: false
      - name: ocp-date
        in: header
        required: false
        description: The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: string
          format: date-time-rfc1123
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          headers:
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              schema:
                type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch Account against which the request was made, and the region that Account resides in.
              schema:
                type: string
          description: The request to the Batch service was successful.
        default:
          description: The error from the Batch service.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
      description: Needs a more full description created.
      security:
      - azure_auth:
        - user_impersonation
      - api_key: []
    get:
      tags:
      - Files
      operationId: microsoftAzureFileGetfromtask
      x-ms-examples:
        Get File From Task:
          $ref: ./examples/FileGetFromTask.json
      description: Returns the content of the specified Task file.
      x-ms-request-id: request-id
      parameters:
      - name: jobId
        in: path
        required: true
        description: The ID of the Job that contains the Task.
        schema:
          type: string
      - name: taskId
        in: path
        required: true
        description: The ID of the Task whose file you want to retrieve.
        schema:
          type: string
      - name: filePath
        in: path
        required: true
        description: The path to the Task file that you want to get the content of.
        schema:
          type: string
      - name: timeout
        in: query
        required: false
        description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: integer
          format: int32
          default: 30
      - name: client-request-id
        in: header
        required: false
        description: The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
        x-ms-parameter-grouping:
          postfix: Options
        x-ms-client-request-id: true
        schema:
          type: string
          format: uuid
      - name: return-client-request-id
        in: header
        required: false
        description: Whether the server should return the client-request-id in the response.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: boolean
          default: false
      - name: ocp-date
        in: header
        required: false
        description: The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: string
          format: date-time-rfc1123
      - name: ocp-range
        in: header
        required: false
        description: The byte range to be retrieved. The default is to retrieve the entire file. The format is bytes=startRange-endRange.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: string
      - name: If-Modified-Since
        in: header
        required: false
        description: A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has been modified since the specified time.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: string
          format: date-time-rfc1123
      - name: If-Unmodified-Since
        in: header
        required: false
        description: A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has not been modified since the specified time.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: string
          format: date-time-rfc1123
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          headers:
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              schema:
                type: string
                format: uuid
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch Account against which the request was made, and the region that Account resides in.
              schema:
                type: string
                format: uuid
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              schema:
                type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              schema:
                type: string
                format: date-time-rfc1123
            ocp-creation-time:
              description: The file creation time.
              schema:
                type: string
                format: date-time-rfc1123
            ocp-batch-file-isdirectory:
              description: Whether the object represents a directory.
              schema:
                type: boolean
            ocp-batch-file-url:
              description: The URL of the file.
              schema:
                type: string
            ocp-batch-file-mode:
              description: The file mode attribute in octal format.
              schema:
                type: string
            Content-Type:
              description: The content type of the file.
              schema:
                type: string
            Content-Length:
              description: The length of the file.
              schema:
                type: integer
                format: int64
          description: A response containing the file content.
          content:
            application/json:
              schema:
                type: object
                format: file
            application/octet-stream:
              schema:
                type: object
                format: file
        default:
          description: The error from the Batch service.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/BatchError'
      summary: Microsoft Azure Get Jobs Jobid Tasks Taskid Files Filepath
      security:
      - azure_auth:
        - user_impersonation
      - api_key: []
    head:
      tags:
      - Files
      operationId: microsoftAzureFileGetpropertiesfromtask
      x-ms-examples:
        File get properties from task:
          $ref: ./examples/FileGetPropertiesFromTask.json
      description: Gets the properties of the specified Task file.
      x-ms-request-id: request-id
      parameters:
      - name: jobId
        in: path
        required: true
        description: The ID of the Job that contains the Task.
        schema:
          type: string
      - name: taskId
        in: path
        required: true
        description: The ID of the Task whose file you want to get the properties of.
        schema:
          type: string
      - name: filePath
        in: path
        required: true
        description: The path to the Task file that you want to get the properties of.
        schema:
          type: string
      - name: timeout
        in: query
        required: false
        description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: integer
          format: int32
          default: 30
      - name: client-request-id
        in: header
        required: false
        description: The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
        x-ms-parameter-grouping:
          postfix: Options
        x-ms-client-request-id: true
        schema:
          type: string
          format: uuid
      - name: return-client-request-id
        in: header
        required: false
        description: Whether the server should return the client-request-id in the response.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: boolean
          default: false
      - name: ocp-date
        in: header
        required: false
        description: The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: string
          format: date-time-rfc1123
      - name: If-Modified-Since
        in: header
        required: false
        description: A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has been modified since the specified time.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: string
          format: date-time-rfc1123
      - name: If-Unmodified-Since
        in: header
        required: false
        description: A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has not been modified since the specified time.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: string
          format: date-time-rfc1123
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          headers:
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              schema:
                type: string
                format: uuid
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch Account against which the request was made, and the region that Account resides in.
              schema:
                type: string
                format: uuid
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              schema:
                type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              schema:
                type: string
                format: date-time-rfc1123
            ocp-creation-time:
              description: The file creation time.
              schema:
                type: string
                format: date-time-rfc1123
            ocp-batch-file-isdirectory:
              description: Whether the object represents a directory.
              schema:
                type: boolean
            ocp-batch-file-url:
              description: The URL of the file.
              schema:
                type: string
            ocp-batch-file-mode:
              description: The file mode attribute in octal format.
              schema:
                type: string
            Content-Type:
              description: The content type of the file.
              schema:
                type: string
            Content-Length:
              description: The length of the file.
              schema:
                type: integer
                format: int64
          description: A response containing the file properties.
        default:
          description: The error from the Batch service.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
      summary: Microsoft Azure Head Jobs Jobid Tasks Taskid Files Filepath
      security:
      - azure_auth:
        - user_impersonation
      - api_key: []
  /pools/{poolId}/nodes/{nodeId}/files/{filePath}:
    delete:
      tags:
      - Files
      operationId: microsoftAzureFileDeletefromcomputenode
      x-ms-examples:
        File delete from node:
          $ref: ./examples/FileDeleteFromNode.json
      summary: Microsoft Azure Deletes The Specified File From The Compute Node
      x-ms-request-id: request-id
      parameters:
      - name: poolId
        in: path
        required: true
        description: The ID of the Pool that contains the Compute Node.
        schema:
          type: string
      - name: nodeId
        in: path
        required: true
        description: The ID of the Compute Node from which you want to delete the file.
        schema:
          type: string
      - name: filePath
        in: path
        required: true
        description: The path to the file or directory that you want to delete.
        schema:
          type: string
      - name: recursive
        in: query
        required: false
        description: Whether to delete children of a directory. If the filePath parameter represents a directory instead of a file, you can set recursive to true to delete the directory and all of the files and subdirectories in it. If recursive is false then the directory must be empty or deletion will fail.
        schema:
          type: boolean
      - name: timeout
        in: query
        required: false
        description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: integer
          format: int32
          default: 30
      - name: client-request-id
        in: header
        required: false
        description: The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
        x-ms-parameter-grouping:
          postfix: Options
        x-ms-client-request-id: true
        schema:
          type: string
          format: uuid
      - name: return-client-request-id
        in: header
        required: false
        description: Whether the server should return the client-request-id in the response.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: boolean
          default: false
      - name: ocp-date
        in: header
        required: false
        description: The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: string
          format: date-time-rfc1123
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          headers:
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              schema:
                type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch Account against which the request was made, and the region that Account resides in.
              schema:
                type: string
          description: The request to the Batch service was successful.
        default:
          description: The error from the Batch service.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
      description: Needs a more full description created.
      security:
      - azure_auth:
        - user_impersonation
      - api_key: []
    get:
      tags:
      - Files
      operationId: microsoftAzureFileGetfromcomputenode
      x-ms-examples:
        Get File From Compute Node:
          $ref: ./examples/FileGetFromNode.json
      description: Returns the content of the specified Compute Node file.
      x-ms-request-id: request-id
      parameters:
      - name: poolId
        in: path
        required: true
        description: The ID of the Pool that contains the Compute Node.
        schema:
          type: string
      - name: nodeId
        in: path
        required: true
        description: The ID of the Compute Node that contains the file.
        schema:
          type: string
      - name: filePath
        in: path
        required: true
        description: The path to the Compute Node file that you want to get the content of.
        schema:
          type: string
      - name: timeout
        in: query
        required: false
        description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: integer
          format: int32
          default: 30
      - name: client-request-id
        in: header
        required: false
        description: The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
        x-ms-parameter-grouping:
          postfix: Options
        x-ms-client-request-id: true
        schema:
          type: string
          format: uuid
      - name: return-client-request-id
        in: header
        required: false
        description: Whether the server should return the client-request-id in the response.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: boolean
          default: false
      - name: ocp-date
        in: header
        required: false
        description: The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: string
          format: date-time-rfc1123
      - name: ocp-range
        in: header
        required: false
        description: The byte range to be retrieved. The default is to retrieve the entire file. The format is bytes=startRange-endRange.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: string
      - name: If-Modified-Since
        in: header
        required: false
        description: A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has been modified since the specified time.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: string
          format: date-time-rfc1123
      - name: If-Unmodified-Since
        in: header
        required: false
        description: A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has not been modified since the specified time.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: string
          format: date-time-rfc1123
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          headers:
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              schema:
                type: string
                format: uuid
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch Account against which the request was made, and the region that Account resides in.
              schema:
                type: string
                format: uuid
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              schema:
                type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              schema:
                type: string
                format: date-time-rfc1123
            ocp-creation-time:
              description: The file creation time.
              schema:
                type: string
                format: date-time-rfc1123
            ocp-batch-file-isdirectory:
              description: Whether the object represents a directory.
              schema:
                type: boolean
            ocp-batch-file-url:
              description: The URL of the file.
              schema:
                type: string
            ocp-batch-file-mode:
              description: The file mode attribute in octal format.
              schema:
                type: string
            Content-Type:
              description: The content type of the file.
              schema:
                type: string
            Content-Length:
              description: The length of the file.
              schema:
                type: integer
                format: int64
          description: The file content.
          content:
            application/json:
              schema:
                type: object
                format: file
            application/octet-stream:
              schema:
                type: object
                format: file
        default:
          description: The error from the Batch service.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/BatchError'
      summary: Microsoft Azure Get Pools Poolid Nodes Nodeid Files Filepath
      security:
      - azure_auth:
        - user_impersonation
      - api_key: []
    head:
      tags:
      - Files
      operationId: microsoftAzureFileGetpropertiesfromcomputenode
      x-ms-examples:
        File get properties from node:
          $ref: ./examples/FileGetPropertiesFromNode.json
      description: Gets the properties of the specified Compute Node file.
      x-ms-request-id: request-id
      parameters:
      - name: poolId
        in: path
        required: true
        description: The ID of the Pool that contains the Compute Node.
        schema:
          type: string
      - name: nodeId
        in: path
        required: true
        description: The ID of the Compute Node that contains the file.
        schema:
          type: string
      - name: filePath
        in: path
        required: true
        description: The path to the Compute Node file that you want to get the properties of.
        schema:
          type: string
      - name: timeout
        in: query
        required: false
        description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: integer
          format: int32
          default: 30
      - name: client-request-id
        in: header
        required: false
        description: The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
        x-ms-parameter-grouping:
          postfix: Options
        x-ms-client-request-id: true
        schema:
          type: string
          format: uuid
      - name: return-client-request-id
        in: header
        required: false
        description: Whether the server should return the client-request-id in the response.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: boolean
          default: false
      - name: ocp-date
        in: header
        required: false
        description: The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: string
          format: date-time-rfc1123
      - name: If-Modified-Since
        in: header
        required: false
        description: A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has been modified since the specified time.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: string
          format: date-time-rfc1123
      - name: If-Unmodified-Since
        in: header
        required: false
        description: A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has not been modified since the specified time.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: string
          format: date-time-rfc1123
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          headers:
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              schema:
                type: string
                format: uuid
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch Account against which the request was made, and the region that Account resides in.
              schema:
                type: string
                format: uuid
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              schema:
                type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              schema:
                type: string
                format: date-time-rfc1123
            ocp-creation-time:
              description: The file creation time.
              schema:
                type: string
                format: date-time-rfc1123
            ocp-batch-file-isdirectory:
              description: Whether the object represents a directory.
              schema:
                type: boolean
            ocp-batch-file-url:
              description: The URL of the file.
              schema:
                type: string
            ocp-batch-file-mode:
              description: The file mode attribute in octal format.
              schema:
                type: string
            Content-Type:
              description: The content type of the file.
              schema:
                type: string
            Content-Length:
              description: The length of the file.
              schema:
                type: integer
                format: int64
          description: A response containing the file properties.
        default:
          description: The error from the Batch service.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
      summary: Microsoft Azure Head Pools Poolid Nodes Nodeid Files Filepath
      security:
      - azure_auth:
        - user_impersonation
      - api_key: []
  /jobs/{jobId}/tasks/{taskId}/files:
    get:
      tags:
      - Files
      x-ms-pageable:
        nextLinkName: odata.nextLink
      operationId: microsoftAzureFileListfromtask
      x-ms-examples:
        File list from task:
          $ref: ./examples/FileListFromTask.json
      summary: Microsoft Azure Lists The Files In A Task S Directory On Its Compute Node
      x-ms-request-id: request-id
      parameters:
      - name: jobId
        in: path
        required: true
        description: The ID of the Job that contains the Task.
        schema:
          type: string
      - name: taskId
        in: path
        required: true
        description: The ID of the Task whose files you want to list.
        schema:
          type: string
      - name: $filter
        in: query
        required: false
        description: An OData $filter clause. For more information on constructing this filter, see https://docs.microsoft.com/en-us/rest/api/batchservice/odata-filters-in-batch#list-task-files.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: string
      - name: recursive
        in: query
        required: false
        description: Whether to list children of the Task directory. This parameter can be used in combination with the filter parameter to list specific type of files.
        schema:
          type: boolean
      - name: maxresults
        x-ms-client-name: maxResults
        in: query
        required: false
        description: The maximum number of items to return in the response. A maximum of 1000 files can be returned.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: integer
          format: int32
          default: 1000
          maximum: 1000
          minimum: 1
      - name: timeout
        in: query
        required: false
        description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: integer
          format: int32
          default: 30
      - name: client-request-id
        in: header
        required: false
        description: The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
        x-ms-parameter-grouping:
          postfix: Options
        x-ms-client-request-id: true
        schema:
          type: string
          format: uuid
      - name: return-client-request-id
        in: header
        required: false
        description: Whether the server should return the client-request-id in the response.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: boolean
          default: false
      - name: ocp-date
        in: header
        required: false
        description: The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: string
          format: date-time-rfc1123
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          headers:
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              schema:
                type: string
                format: uuid
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch Account against which the request was made, and the region that Account resides in.
              schema:
                type: string
                format: uuid
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              schema:
                type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              schema:
                type: string
                format: date-time-rfc1123
          description: A response containing the list of files.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeFileListResult'
        default:
          description: The error from the Batch service.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
      description: Needs a more full description created.
      security:
      - azure_auth:
        - user_impersonation
      - api_key: []
  /pools/{poolId}/nodes/{nodeId}/files:
    get:
      tags:
      - Files
      x-ms-pageable:
        nextLinkName: odata.nextLink
      operationId: microsoftAzureFileListfromcomputenode
      x-ms-examples:
        File list from node:
          $ref: ./examples/FileListFromNode.json
      summary: Microsoft Azure Lists All Of The Files In Task Directories On The Specified…
      x-ms-request-id: request-id
      parameters:
      - name: poolId
        in: path
        required: true
        description: The ID of the Pool that contains the Compute Node.
        schema:
          type: string
      - name: nodeId
        in: path
        required: true
        description: The ID of the Compute Node whose files you want to list.
        schema:
          type: string
      - name: $filter
        in: query
        required: false
        description: An OData $filter clause. For more information on constructing this filter, see https://docs.microsoft.com/en-us/rest/api/batchservice/odata-filters-in-batch#list-compute-node-files.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: string
      - name: recursive
        in: query
        required: false
        description: Whether to list children of a directory.
        schema:
          type: boolean
      - name: maxresults
        x-ms-client-name: maxResults
        in: query
        required: false
        description: The maximum number of items to return in the response. A maximum of 1000 files can be returned.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: integer
          format: int32
          default: 1000
          maximum: 1000
          minimum: 1
      - name: timeout
        in: query
        required: false
        description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: integer
          format: int32
          default: 30
      - name: client-request-id
        in: header
        required: false
        description: The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
        x-ms-parameter-grouping:
          postfix: Options
        x-ms-client-request-id: true
        schema:
          type: string
          format: uuid
      - name: return-client-request-id
        in: header
        required: false
        description: Whether the server should return the client-request-id in the response.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: boolean
          default: false
      - name: ocp-date
        in: header
        required: false
        description: The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: string
          format: date-time-rfc1123
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          headers:
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              schema:
                type: string
                format: uuid
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch Account against which the request was made, and the region that Account resides in.
              schema:
                type: string
                format: uuid
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              schema:
                type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              schema:
                type: string
                format: date-time-rfc1123
          description: A response containing the list of files.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeFileListResult'
        default:
          description: The error from the Batch service.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
      description: Needs a more full description created.
      security:
      - azure_auth:
        - user_impersonation
      - api_key: []
  /subscriptions/{subscriptionId}/providers/Microsoft.Support/fileWorkspaces/{fileWorkspaceName}/files:
    get:
      tags:
      - Files
      description: Lists all the Files information under a workspace for an Azure subscription.
      operationId: microsoftAzureFilesList
      parameters:
      - name: fileWorkspaceName
        in: path
        description: File Workspace Name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter_2'
      responses:
        '200':
          description: Successfully retrieved files under a file workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilesListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List files under a workspace for a subscription:
          $ref: ./examples/ListFilesForSubscriptionUnderFileWorkspace.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Support…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.Support/fileWorkspaces/{fileWorkspaceName}/files:
    get:
      tags:
      - Files
      description: Lists all the Files information under a workspace for an Azure subscription.
      operationId: microsoftAzureFilesnosubscriptionList
      parameters:
      - name: fileWorkspaceName
        in: path
        description: File Workspace Name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter_2'
      responses:
        '200':
          description: Successfully retrieved files under a file workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilesListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List files under a workspace:
          $ref: ./examples/ListFilesUnderFileWorkspace.json
      summary: Microsoft Azure Get Providers Microsoft Support Fileworkspaces…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.Support/fileWorkspaces/{fileWorkspaceName}/files/{fileName}:
    get:
      tags:
      - Files
      description: Returns details of a specific file in a work space.
      operationId: microsoftAzureFilesGet
      parameters:
      - name: fileWorkspaceName
        in: path
        description: File Workspace Name
        required: true
        schema:
          type: string
      - name: fileName
        in: path
        description: File Name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter_2'
      responses:
        '200':
          description: Successfully retrieved file details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileDetails'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Get details of a subscription file:
          $ref: ./examples/GetFileDetailsForSubscription.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Support…
      security:
      - azure_auth:
        - user_impersonation
    put:
      tags:
      - Files
      description: Creates a new file under a workspace for the specified subscription.
      operationId: microsoftAzureFilesCreate
      parameters:
      - name: fileWorkspaceName
        in: path
        description: File workspace name.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-zA-Z_\-. ]+$
      - name: fileName
        in: path
        description: File name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter_2'
      responses:
        '201':
          description: Created - File created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileDetails'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Create a file workspace:
          $ref: ./examples/CreateFileForSubscription.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Providers Microsoft Support…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileDetails'
        description: Create file object
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.Support/fileWorkspaces/{fileWorkspaceName}/files/{fileName}:
    get:
      tags:
      - Files
      description: Returns details of a specific file in a work space.
      operationId: microsoftAzureFilesnosubscriptionGet
      parameters:
      - name: fileWorkspaceName
        in: path
        description: File Workspace Name
        required: true
        schema:
          type: string
      - name: fileName
        in: path
        description: File Name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter_2'
      responses:
        '200':
          description: Successfully retrieved file details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileDetails'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Get details of a subscription file:
          $ref: ./examples/GetFileDetails.json
      summary: Microsoft Azure Get Providers Microsoft Support Fileworkspaces…
      security:
      - azure_auth:
        - user_impersonation
    put:
      tags:
      - Files
      description: Creates a new file under a workspace.
      operationId: microsoftAzureFilesnosubscriptionCreate
      parameters:
      - name: fileWorkspaceName
        in: path
        description: File workspace name.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-zA-Z_\-. ]+$
      - name: fileName
        in: path
        description: File name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter_2'
      responses:
        '201':
          description: Created - File created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileDetails'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Create a file workspace:
          $ref: ./examples/CreateFile.json
      summary: Microsoft Azure Put Providers Microsoft Support Fileworkspaces…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileDetails'
        description: Create file object
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.Support/fileWorkspaces/{fileWorkspaceName}/files/{fileName}/upload:
    post:
      tags:
      - Files
      description: This API allows you to upload content to a file
      operationId: microsoftAzureFilesUpload
      parameters:
      - name: fileWorkspaceName
        in: path
        description: File WorkspaceName
        required: true
        schema:
          type: string
      - name: fileName
        in: path
        description: File Name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter_2'
      responses:
        '204':
          description: Successfully uploaded file content.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        UploadFileForSubscription:
          $ref: ./examples/UploadFileForSubscription.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft Support…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadFile'
        description: UploadFile object
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.Support/fileWorkspaces/{fileWorkspaceName}/files/{fileName}/upload:
    post:
      tags:
      - Files
      description: This API allows you to upload content to a file
      operationId: microsoftAzureFilesnosubscriptionUpload
      parameters:
      - name: fileWorkspaceName
        in: path
        description: File WorkspaceName
        required: true
        schema:
          type: string
      - name: fileName
        in: path
        description: File Name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter_2'
      responses:
        '204':
          description: Successfully uploaded file content.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        UploadFile:
          $ref: ./examples/UploadFile.json
      summary: Microsoft Azure Post Providers Microsoft Support Fileworkspaces…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadFile'
        description: UploadFile object
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
components:
  schemas:
    ErrorCode:
      title: ErrorCode
      description: 'Error codes as defined in the Microsoft REST guidelines

        (https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses).'
      enum:
      - conflict
      - invalidPayload
      - forbidden
      - notFound
      - unexpectedEntityState
      - itemDoesAlreadyExist
      - serviceUnavailable
      - internalFailure
      - quotaExceeded
      type: string
      x-ms-enum:
        name: ErrorCode
        modelAsString: true
        values:
        - value: conflict
          description: The requested operation conflicts with the current resource state.
        - value: invalidPayload
          description: The request data is invalid for this operation.
        - value: forbidden
          description: The operation is forbidden for the current user/api key.
        - value: notFound
          description: The resource is not found.
        - value: unexpectedEntityState
          description: The operation cannot be executed in the current resource's state.
        - value: itemDoesAlreadyExist
          description: The item does already exist.
        - value: serviceUnavailable
          description: The service is currently not available.
        - value: internalFailure
          description: Internal error. Please retry.
        - value: quotaExceeded
          description: Quota exceeded.
    FileImport:
      title: FileImport
      description: Defines a document to import from an external content url to be usable with Azure OpenAI.
      required:
      - content_url
      - filename
      - purpose
      type: object
      properties:
        purpose:
          $ref: '#/components/schemas/Purpose'
        filename:
          description: 'The name of the [JSON Lines](https://jsonlines.readthedocs.io/en/latest/) file to be uploaded.

            If the `purpose` is set to "fine-tune", each line is a JSON record with "prompt" and "completion" fields representing your training examples.'
          minLength: 1
          type: string
        content_url:
          format: uri
          description: The url to download the document from (can be SAS url of a blob or any other external url accessible with a GET request).
          type: string
    State:
      title: State
      description: The state of a job or item.
      enum:
      - notRunning
      - running
      - succeeded
      - canceled
      - failed
      - deleted
      type: string
      readOnly: true
      x-ms-enum:
        name: State
        modelAsString: false
        values:
        - value: notRunning
          description: The operation was created and is not queued to be processed in the future.
        - value: running
          description: The operation has started to be processed.
        - value: succeeded
          description: The operation has successfully be processed and is ready for consumption.
        - value: canceled
          description: The operation has been canceled and is incomplete.
        - value: failed
          description: The operation has completed processing with a failure and cannot be further consumed.
        - value: deleted
          description: The entity has been deleted but may still be referenced by other entities predating the deletion.
    File:
      title: File
      description: A file is a document usable for training and validation. It can also be a service generated document with result details.
      required:
      - filename
      - purpose
      type: object
      properties:
        object:
          $ref: '#/components/schemas/TypeDiscriminator'
        status:
          $ref: '#/components/schemas/State'
        created_at:
          format: int32
          description: A timestamp when this job or item was created (in unix epochs).
          type: integer
          readOnly: true
        updated_at:
          format: int32
          description: A timestamp when this job or item was modified last (in unix epochs).
          type: integer
          readOnly: true
        id:
          description: The identity of this item.
          type: string
          readOnly: true
        bytes:
          format: int64
          description: 'The size of this file when available (can be null). File sizes larger than 2^53-1 are not supported to ensure compatibility

            with JavaScript integers.'
          type: integer
          readOnly: true
        purpose:
          $ref: '#/components/schemas/Purpose'
        filename:
          description: The name of the file.
          minLength: 1
          type: string
    TypeDiscriminator:
      title: TypeDiscriminator
      description: Defines the type of an object.
      enum:
      - list
      - fine-tune
      - file
      - fine-tune-event
      - model
      - deployment
      type: string
      readOnly: true
      x-ms-enum:
        name: TypeDiscriminator
        modelAsString: true
        values:
        - value: list
          description: This object represents a list of other objects.
        - value: fine-tune
          description: This object represents a fine tune job.
        - value: file
          description: This object represents a file.
        - value: fine-tune-event
          description: This object represents an event of a fine tune job.
        - value: model
          description: This object represents a model (can be a base models or fine tune job result).
        - value: deployment
          description: This object represents a deployment.
    FileList:
      title: FileList
      description: Represents a list of files.
      type: object
      properties:
        object:
          $ref: '#/components/schemas/TypeDiscriminator'
        data:
          description: The list of items.
          type: array
          items:
            $ref: '#/components/schemas/File'
          readOnly: true
    InnerErrorCode:
      title: InnerErrorCode
      description: 'Inner error codes as defined in the Microsoft REST guidelines

        (https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses).'
      enum:
      - invalidPayload
      type: string
      x-ms-enum:
        name: InnerErrorCode
        modelAsString: true
        values:
        - value: invalidPayload
          description: The request data is invalid for this operation.
    Error:
      title: Error
      description: 'Error content as defined in the Microsoft REST guidelines

        (https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses).'
      required:
      - code
      - message
      type: object
      properties:
        code:
          $ref: '#/components/schemas/ErrorCode'
        message:
          description: The message of this error.
          minLength: 1
          type: string
        target:
          description: The location where the error happened if available.
          type: string
        details:
          description: The error details if available.
          type: array
          items:
            $ref: '#/components/schemas/Error'
        innererror:
          $ref: '#/components/schemas/InnerError'
    Purpose:
      title: Purpose
      description: The intended purpose of the uploaded documents. Use "fine-tune" for fine-tuning. This allows us to validate the format of the uploaded file.
      enum:
      - fine-tune
      - fine-tune-results
      type: string
      x-ms-enum:
        name: Purpose
        modelAsString: true
        values:
        - value: fine-tune
          description: This file contains training data for a fine tune job.
        - value: fine-tune-results
          description: This file contains the results of a fine tune job.
    InnerError:
      title: InnerError
      description: 'Inner error as defined in the Microsoft REST guidelines

        (https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses).'
      type: object
      properties:
        code:
          $ref: '#/components/schemas/InnerErrorCode'
        innererror:
          $ref: '#/components/schemas/InnerError'
    ErrorResponse:
      title: ErrorResponse
      description: 'Error response as defined in the Microsoft REST guidelines

        (https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses).'
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    ErrorCode_2:
      title: ErrorCode
      description: 'Error codes as defined in the Microsoft REST guidelines

        (https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses).'
      enum:
      - conflict
      - invalidPayload
      - forbidden
      - notFound
      - unexpectedEntityState
      - itemDoesAlreadyExist
      - serviceUnavailable
      - internalFailure
      - quotaExceeded
      - jsonlValidationFailed
      - fileImportFailed
      type: string
      x-ms-enum:
        name: ErrorCode
        modelAsString: true
        values:
        - value: conflict
          description: The requested operation conflicts with the current resource state.
        - value: invalidPayload
          description: The request data is invalid for this operation.
        - value: forbidden
          description: The operation is forbidden for the current user/api key.
        - value: notFound
          description: The resource is not found.
        - value: unexpectedEntityState
          description: The operation cannot be executed in the current resource's state.
        - value: itemDoesAlreadyExist
          description: The item does already exist.
        - value: serviceUnavailable
          description: The service is currently not available.
        - value: internalFailure
          description: Internal error. Please retry.
        - value: quotaExceeded
          description: Quota exceeded.
        - value: jsonlValidationFailed
          description: Validation of jsonl data failed.
        - value: fileImportFailed
          description: Import of file failed.
    FileImport_2:
      title: FileImport
      description: Defines a document to import from an external content url to be usable with Azure OpenAI.
      required:
      - content_url
      - filename
      - purpose
      type: object
      properties:
        purpose:
          $ref: '#/components/schemas/Purpose'
        filename:
          description: 'The name of the [JSON Lines](https://jsonlines.readthedocs.io/en/latest/) file to be uploaded.

            If the `purpose` is set to "fine-tune", each line is a JSON record with "prompt" and "completion" fields representing your training examples.'
          minLength: 1
          type: string
        content_url:
          format: url
          description: The url to download the document from (can be SAS url of a blob or any other external url accessible with a GET request).
          type: string
    State_2:
      title: State
      description: The state of a job or item.
      enum:
      - notRunning
      - running
      - succeeded
      - canceled
      - failed
      - deleted
      type: string
      readOnly: true
      x-ms-enum:
        name: State
        modelAsString: true
        values:
        - value: notRunning
          description: The operation was created and is not queued to be processed in the future.
        - value: running
          description: The operation has started to be processed.
        - value: succeeded
          description: The operation has successfully be processed and is ready for consumption.
        - value: canceled
          description: The operation has been canceled and is incomplete.
        - value: failed
          description: The operation has completed processing with a failure and cannot be further consumed.
        - value: deleted
          description: The entity has been deleted but may still be referenced by other entities predating the deletion.
    File_2:
      title: File
      description: A file is a document usable for training and validation. It can also be a service generated document with result details.
      required:
      - filename
      - purpose
      type: object
      properties:
        object:
          $ref: '#/components/schemas/TypeDiscriminator'
        status:
          $ref: '#/components/schemas/State_2'
        created_at:
          format: unixtime
          description: A timestamp when this job or item was created (in unix epochs).
          type: integer
          readOnly: true
        updated_at:
          format: unixtime
          description: A timestamp when this job or item was modified last (in unix epochs).
          type: integer
          readOnly: true
        id:
          description: The identity of this item.
          type: string
          readOnly: true
        bytes:
          format: int64
          description: 'The size of this file when available (can be null). File sizes larger than 2^53-1 are not supported to ensure compatibility

            with JavaScript integers.'
          type: integer
          readOnly: true
        purpose:
          $ref: '#/components/schemas/Purpose'
        filename:
          description: The name of the file.
          minLength: 1
          type: string
        statistics:
          $ref: '#/components/schemas/FileStatistics'
        error:
          $ref: '#/components/schemas/Error'
    FileStatistics:
      title: FileStatistics
      description: A file is a document usable for training and validation. It can also be a service generated document with result details.
      type: object
      properties:
        tokens:
          format: int32
          description: The number of tokens used in prompts and completions for files of kind "fine-tune" once validation of file content is complete.
          type: integer
        examples:
          format: int32
          description: The number of contained training examples in files of kind "fine-tune" once validation of file content is complete.
          type: integer
    FileList_2:
      title: FileList
      description: Represents a list of files.
      type: object
      properties:
        object:
          $ref: '#/components/schemas/TypeDiscriminator'
        data:
          description: The list of items.
          type: array
          items:
            $ref: '#/components/schemas/File_2'
    ErrorResponse_2:
      title: ErrorResponse
      description: 'Error response as defined in the Microsoft REST guidelines

        (https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses).'
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    ErrorCode_3:
      title: ErrorCode
      description: 'Error codes as defined in the Microsoft REST guidelines

        (https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses).'
      enum:
      - conflict
      - invalidPayload
      - forbidden
      - notFound
      - unexpectedEntityState
      - itemDoesAlreadyExist
      - serviceUnavailable
      - internalFailure
      - quotaExceeded
      - jsonlValidationFailed
      - fileImportFailed
      - tooManyRequests
      - unauthorized
      - contentFilter
      type: string
      x-ms-enum:
        name: ErrorCode
        modelAsString: true
        values:
        - value: conflict
          description: The requested operation conflicts with the current resource state.
        - value: invalidPayload
          description: The request data is invalid for this operation.
        - value: forbidden
          description: The operation is forbidden for the current user/api key.
        - value: notFound
          description: The resource is not found.
        - value: unexpectedEntityState
          description: The operation cannot be executed in the current resource's state.
        - value: itemDoesAlreadyExist
          description: The item does already exist.
        - value: serviceUnavailable
          description: The service is currently not available.
        - value: internalFailure
          description: Internal error. Please retry.
        - value: quotaExceeded
          description: Quota exceeded.
        - value: jsonlValidationFailed
          description: Validation of jsonl data failed.
        - value: fileImportFailed
          description: Import of file failed.
        - value: tooManyRequests
          description: Too many requests. Please retry later.
        - value: unauthorized
          description: The current user/api key is not authorized for the operation.
        - value: contentFilter
          description: Image generation failed as a result of our safety system.
    FileImport_3:
      title: FileImport
      description: Defines a document to import from an external content url to be usable with Azure OpenAI.
      required:
      - content_url
      - filename
      - purpose
      type: object
      properties:
        purpose:
          $ref: '#/components/schemas/Purpose'
        filename:
          description: 'The name of the [JSON Lines](https://jsonlines.readthedocs.io/en/latest/) file to be uploaded.

            If the `purpose` is set to "fine-tune", each line is a JSON record with "prompt" and "completion" fields representing your training examples.'
          minLength: 1
          type: string
        content_url:
          format: url
          description: The url to download the document from (can be SAS url of a blob or any other external url accessible with a GET request).
          type: string
    File_3:
      title: File
      description: A file is a document usable for training and validation. It can also be a service generated document with result details.
      required:
      - filename
      - purpose
      type: object
      properties:
        object:
          $ref: '#/components/schemas/TypeDiscriminator_2'
        created_at:
          format: unixtime
          description: A timestamp when this job or item was created (in unix epochs).
          type: integer
          readOnly: true
        updated_at:
          format: unixtime
          description: A timestamp when this job or item was modified last (in unix epochs).
          type: integer
          readOnly: true
        id:
          description: The identity of this item.
          type: string
          readOnly: true
        status:
          $ref: '#/components/schemas/FileState'
        bytes:
          format: int64
          description: 'The size of this file when available (can be null). File sizes larger than 2^53-1 are not supported to ensure compatibility

            with JavaScript integers.'
          type: integer
          readOnly: true
        purpose:
          $ref: '#/components/schemas/Purpose'
        filename:
          description: The name of the file.
          minLength: 1
          type: string
        statistics:
          $ref: '#/components/schemas/FileStatistics'
        status_details:
          description: The error message with details in case processing of this file failed.
          type: string
          readOnly: true
    TypeDiscriminator_2:
      title: TypeDiscriminator
      description: Defines the type of an object.
      enum:
      - list
      - fine-tune
      - fine_tuning.job
      - file
      - fine-tune-event
      - fine_tuning.job.event
      - model
      type: string
      readOnly: true
      x-ms-enum:
        name: TypeDiscriminator
        modelAsString: true
        values:
        - value: list
          description: This object represents a list of other objects.
        - value: fine-tune
          description: This object represents a fine tune job.
        - value: fine_tuning.job
          description: This object represents a fine tune job.
        - value: file
          description: This object represents a file.
        - value: fine-tune-event
          description: This object represents an event of a fine tune job.
        - value: fine_tuning.job.event
          description: This object represents an event of a fine tuning job.
        - value: model
          description: This object represents a model (can be a base model or fine tune job result).
    FileList_3:
      title: FileList
      description: Represents a list of files.
      type: object
      properties:
        object:
          $ref: '#/components/schemas/TypeDiscriminator_2'
        data:
          description: The list of items.
          type: array
          items:
            $ref: '#/components/schemas/File_3'
    Error_2:
      title: Error
      description: 'Error content as defined in the Microsoft REST guidelines

        (https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses).'
      required:
      - code
      - message
      type: object
      properties:
        code:
          $ref: '#/components/schemas/ErrorCode_3'
        message:
          description: The message of this error.
          minLength: 1
          type: string
        target:
          description: The location where the error happened if available.
          type: string
        details:
          description: The error details if available.
          type: array
          items:
            $ref: '#/components/schemas/Error_2'
        innererror:
          $ref: '#/components/schemas/InnerError'
      readOnly: true
    FileState:
      title: FileState
      description: The state of a file.
      enum:
      - uploaded
      - pending
      - running
      - processed
      - error
      - deleting
      - deleted
      type: string
      readOnly: true
      x-ms-enum:
        name: FileState
        modelAsString: true
        values:
        - value: uploaded
          description: The file has been uploaded but it's not yet processed. This state is not returned by Azure OpenAI and exposed only for compatibility. It can be categorized as an inactive state.
        - value: pending
          description: The operation was created and is not queued to be processed in the future. It can be categorized as an inactive state.
        - value: running
          description: The operation has started to be processed. It can be categorized as an active state.
        - value: processed
          description: The operation has successfully be processed and is ready for consumption. It can be categorized as a terminal state.
        - value: error
          description: The operation has completed processing with a failure and cannot be further consumed. It can be categorized as a terminal state.
        - value: deleting
          description: The entity is ni the process to be deleted. This state is not returned by Azure OpenAI and exposed only for compatibility. It can be categorized as an active state.
        - value: deleted
          description: The entity has been deleted but may still be referenced by other entities predating the deletion. It can be categorized as a terminal state.
    ErrorResponse_3:
      title: ErrorResponse
      description: 'Error response as defined in the Microsoft REST guidelines

        (https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses).'
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error_2'
    FilePurpose:
      type: string
      description: The possible values denoting the intended usage of a file.
      enum:
      - fine-tune
      - fine-tune-results
      - assistants
      - assistants_output
      x-ms-enum:
        name: FilePurpose
        modelAsString: true
        values:
        - name: fineTune
          value: fine-tune
          description: Indicates a file is used for fine tuning input.
        - name: fineTuneResults
          value: fine-tune-results
          description: Indicates a file is used for fine tuning results.
        - name: assistants
          value: assistants
          description: Indicates a file is used as input to assistants.
        - name: assistantsOutput
          value: assistants_output
          description: Indicates a file is used as output by assistants.
    FileDeletionStatus:
      type: object
      description: A status response from a file deletion operation.
      properties:
        id:
          type: string
          description: The ID of the resource specified for deletion.
        deleted:
          type: boolean
          description: A value indicating whether deletion was successful.
        object:
          type: string
          description: The object type, which is always 'file'.
          enum:
          - file
          x-ms-enum:
            modelAsString: false
      required:
      - id
      - deleted
      - object
    OpenAIFile:
      type: object
      description: Represents an assistant that can call the model and use tools.
      properties:
        object:
          type: string
          description: The object type, which is always 'file'.
          enum:
          - file
          x-ms-enum:
            modelAsString: false
        id:
          type: string
          description: The identifier, which can be referenced in API endpoints.
        bytes:
          type: integer
          format: int32
          description: The size of the file, in bytes.
        filename:
          type: string
          description: The name of the file.
        created_at:
          type: integer
          format: unixtime
          description: The Unix timestamp, in seconds, representing when this object was created.
          x-ms-client-name: createdAt
        purpose:
          $ref: '#/components/schemas/FilePurpose'
          description: The intended purpose of a file.
      required:
      - object
      - id
      - bytes
      - filename
      - created_at
      - purpose
    FileListResponse:
      type: object
      description: The response data from a file list operation.
      properties:
        object:
          type: string
          description: The object type, which is always 'list'.
          enum:
          - list
          x-ms-enum:
            modelAsString: false
        data:
          type: array
          description: The files returned for the request.
          items:
            $ref: '#/components/schemas/OpenAIFile'
      required:
      - object
      - data
    BatchErrorDetail:
      properties:
        key:
          type: string
          title: An identifier specifying the meaning of the Value property.
        value:
          type: string
          title: The additional information included with the error response.
      title: An item of additional information included in an Azure Batch error response.
    ErrorMessage:
      properties:
        lang:
          type: string
          title: The language code of the error message
        value:
          type: string
          title: The text of the message.
      title: An error message received in an Azure Batch error response.
    NodeFile:
      properties:
        name:
          type: string
          title: The file path.
        url:
          type: string
          title: The URL of the file.
        isDirectory:
          type: boolean
          title: Whether the object represents a directory.
        properties:
          $ref: '#/components/schemas/FileProperties'
          title: The file properties.
      title: Information about a file or directory on a Compute Node.
    FileProperties:
      properties:
        creationTime:
          type: string
          format: date-time
          title: The file creation time.
          description: The creation time is not returned for files on Linux Compute Nodes.
        lastModified:
          type: string
          format: date-time
          title: The time at which the file was last modified.
        contentLength:
          type: integer
          format: int64
          title: The length of the file.
        contentType:
          type: string
          title: The content type of the file.
        fileMode:
          type: string
          title: The file mode attribute in octal format.
          description: The file mode is returned only for files on Linux Compute Nodes.
      required:
      - lastModified
      - contentLength
      title: The properties of a file on a Compute Node.
    BatchError:
      properties:
        code:
          type: string
          title: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          $ref: '#/components/schemas/ErrorMessage'
          title: A message describing the error, intended to be suitable for display in a user interface.
        values:
          type: array
          items:
            $ref: '#/components/schemas/BatchErrorDetail'
          title: A collection of key-value pairs containing additional details about the error.
      title: An error response received from the Azure Batch service.
    NodeFileListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/NodeFile'
          title: The list of files.
        odata.nextLink:
          type: string
          title: The URL to get the next set of results.
      title: The result of listing the files on a Compute Node, or the files associated with a Task on a Compute Node.
    FileDetailsProperties:
      description: Describes the properties of a file.
      type: object
      properties:
        createdOn:
          format: date-time
          description: Time in UTC (ISO 8601 format) when file workspace was created.
          type: string
          readOnly: true
        chunkSize:
          description: Size of each chunk
          type: number
        fileSize:
          description: Size of the file to be uploaded
          type: number
        numberOfChunks:
          description: Number of chunks to be uploaded
          type: number
    UploadFile:
      description: File content associated with the file under a workspace.
      type: object
      properties:
        content:
          description: File Content in base64 encoded format
          type: string
        chunkIndex:
          description: Index of the uploaded chunk (Index starts at 0)
          type: number
    FilesListResult:
      description: Object that represents a collection of File resources.
      type: object
      properties:
        value:
          description: List of File resources.
          type: array
          items:
            $ref: '#/components/schemas/FileDetails'
        nextLink:
          description: The URI to fetch the next page of File resources.
          type: string
    FileDetails:
      x-ms-azure-resource: true
      description: Object that represents File Details resource
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/FileDetailsProperties'
          description: Properties of the resource
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
  parameters:
    apiVersionQueryParameter:
      in: query
      name: api-version
      description: The requested API version.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
[...]
