openapi: 3.2.0
info:
  version: 2021-04-01-preview
  title: Microsoft Azure StoragePoolManagement Disk Pool Zones API
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: DiskPoolZones
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.StoragePool/locations/{location}/diskPoolZones:
    get:
      tags:
      - DiskPoolZones
      operationId: microsoftAzureDiskpoolzonesList
      description: Lists available Disk Pool Skus in an Azure location.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/Location'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiskPoolZoneListResult'
        default:
          description: Error from the RP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List Disk Pool Skus:
          $ref: ./examples/DiskPoolZones_List.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
components:
  schemas:
    AvailabilityZone:
      type: string
      description: Availability zone.
    DiskPoolZoneInfo:
      type: object
      description: Disk Pool Sku Details
      properties:
        availabilityZones:
          type: array
          description: 'Logical zone for Disk Pool resource; example: ["1"].'
          items:
            $ref: '#/components/schemas/AvailabilityZone'
        additionalCapabilities:
          type: array
          description: List of additional capabilities for Disk Pool.
          items:
            $ref: '#/components/schemas/AdditionalCapability'
        sku:
          description: Determines the SKU of VM deployed for Disk Pool
          type: string
          $ref: '#/components/schemas/Sku'
    ErrorAdditionalInfo:
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    Error:
      type: object
      description: The resource management error response.
      properties:
        error:
          type: object
          description: RP error response.
          $ref: '#/components/schemas/ErrorResponse'
    DiskPoolZoneListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/DiskPoolZoneInfo'
          description: The list of Disk Pool Skus.
        nextLink:
          description: URI to fetch the next section of the paginated response.
          type: string
      description: List Disk Pool skus operation response.
    AdditionalCapability:
      type: string
      description: Special capability that can be set on the Disk Pool.
    ErrorResponse:
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponse'
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          description: The error additional info.
      description: The resource management error response.
    Sku:
      type: object
      description: Sku for ARM resource
      required:
      - name
      properties:
        name:
          type: string
          description: Sku name
        tier:
          type: string
          description: Sku tier
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    Location:
      name: location
      required: true
      in: path
      description: The location of the resource.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
