openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft Defender for Cloud Security…
  description: API spec for Microsoft.Security (Microsoft Defender for Cloud) resource provider
  version: 2023-12-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Security Contacts
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/securityContacts:
    get:
      x-ms-examples:
        List security contact data:
          $ref: ./examples/SecurityContacts/GetSecurityContactsSubscription_example.json
      tags:
      - Security Contacts
      description: List all security contact configurations for the subscription
      operationId: microsoftAzureSecuritycontactsList
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersion
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityContactList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Security…
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/securityContacts/{securityContactName}:
    get:
      x-ms-examples:
        Get a security contact:
          $ref: ./examples/SecurityContacts/GetSecurityContact_example.json
      tags:
      - Security Contacts
      description: Get Default Security contact configurations for the subscription
      operationId: microsoftAzureSecuritycontactsGet
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersion
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionId
      - $ref: '#/components/parameters/SecurityContactName'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityContact'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Security…
    put:
      x-ms-examples:
        Create security contact data:
          $ref: ./examples/SecurityContacts/CreateSecurityContact_example.json
      tags:
      - Security Contacts
      description: Create security contact configurations for the subscription
      operationId: microsoftAzureSecuritycontactsCreate
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersion
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionId
      - $ref: '#/components/parameters/SecurityContactName'
      - $ref: '#/components/parameters/SecurityContact'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityContact'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityContact'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
      summary: Microsoft Azure Put Subscriptions Subscriptionid Providers Microsoft Security…
    delete:
      x-ms-examples:
        Deletes a security contact data:
          $ref: ./examples/SecurityContacts/DeleteSecurityContact_example.json
      tags:
      - Security Contacts
      description: Delete security contact configurations for the subscription
      operationId: microsoftAzureSecuritycontactsDelete
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersion
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionId
      - $ref: '#/components/parameters/SecurityContactName'
      responses:
        '200':
          description: Security contact deleted
        '204':
          description: Security contact was not found
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Providers Microsoft…
components:
  parameters:
    SecurityContact:
      name: securityContact
      in: body
      required: true
      description: Security contact object
      schema:
        $ref: '#/components/schemas/SecurityContact'
      x-ms-parameter-location: method
    SecurityContactName:
      name: securityContactName
      x-ms-enum:
        name: securityContactName
        modelAsString: true
        values:
        - value: default
          description: The single applicable name of the security contact object
      in: path
      required: true
      description: Name of the security contact object
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
        - default
        maxLength: 7
        minLength: 7
        pattern: ^(default)$
  schemas:
    NotificationsSource:
      type: object
      description: A valid notification source type
      discriminator:
        propertyName: sourceType
      required:
      - sourceType
      properties:
        sourceType:
          type: string
          description: The source type that will trigger the notification
          enum:
          - Alert
          - AttackPath
          x-ms-enum:
            name: sourceType
            modelAsString: true
    SecurityContactList:
      type: object
      description: List of security contacts response
      required:
      - value
      properties:
        value:
          description: List of security contacts
          type: array
          items:
            $ref: '#/components/schemas/SecurityContact'
        nextLink:
          readOnly: true
          type: string
          description: The URI to fetch the next page.
    SecurityContactProperties:
      type: object
      description: Describes security contact properties
      properties:
        emails:
          type: string
          description: List of email addresses which will get notifications from Microsoft Defender for Cloud by the configurations defined in this security contact.
        phone:
          type: string
          description: The security contact's phone number
        isEnabled:
          type: boolean
          description: Indicates whether the security contact is enabled.
        notificationsSources:
          type: array
          description: A collection of sources types which evaluate the email notification.
          items:
            $ref: '#/components/schemas/NotificationsSource'
          x-ms-identifiers: []
        notificationsByRole:
          type: object
          description: Defines whether to send email notifications from Microsoft Defender for Cloud to persons with specific RBAC roles on the subscription.
          properties:
            state:
              type: string
              description: Defines whether to send email notifications from AMicrosoft Defender for Cloud to persons with specific RBAC roles on the subscription.
              enum:
              - 'On'
              - 'Off'
              x-ms-enum:
                name: state
                modelAsString: true
                values:
                - value: 'On'
                  description: Send notification on new alerts to the subscription's admins
                - value: 'Off'
                  description: Don't send notification on new alerts to the subscription's admins
            roles:
              type: array
              description: 'Defines which RBAC roles will get email notifications from Microsoft Defender for Cloud. List of allowed RBAC roles: '
              items:
                $ref: '#/components/schemas/SecurityContactRole'
    SecurityContactRole:
      type: string
      description: A possible role to configure sending security notification alerts to
      enum:
      - AccountAdmin
      - ServiceAdmin
      - Owner
      - Contributor
      x-ms-enum:
        name: securityContactRole
        modelAsString: true
        values:
        - value: AccountAdmin
          description: If enabled, send notification on new alerts to the account admins
        - value: ServiceAdmin
          description: If enabled, send notification on new alerts to the service admins
        - value: Owner
          description: If enabled, send notification on new alerts to the subscription owners
        - value: Contributor
          description: If enabled, send notification on new alerts to the subscription contributors
    SecurityContact:
      type: object
      description: Contact details and configurations for notifications coming from Microsoft Defender for Cloud.
      properties:
        properties:
          x-ms-client-flatten: true
          description: Security contact data
          $ref: '#/components/schemas/SecurityContactProperties'
      allOf:
      - $ref: ../../../common/v1/types.json#/definitions/Resource
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
