openapi: 3.2.0
info:
  version: 2022-05-01-preview
  title: Microsoft Azure Edge Ordering Service-Customer Product…
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ProductFamilyMetadata
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.EdgeOrder/productFamiliesMetadata:
    post:
      tags:
      - ProductFamilyMetadata
      description: List product families metadata for the given subscription.
      operationId: microsoftAzureProductsandconfigurationsListproductfamiliesmetadata
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - name: $skipToken
        in: query
        description: $skipToken is supported on list of product families metadata, which provides the next page in the list of product families metadata.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The list of available product families for the given subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductFamiliesMetadata'
        default:
          description: Error response describing reason for operation failure.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ListProductFamiliesMetadata:
          $ref: ./examples/ListProductFamiliesMetadata.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft Edgeorder…
components:
  schemas:
    CostInformation:
      description: Cost information for the product system.
      type: object
      properties:
        billingMeterDetails:
          description: Details on the various billing aspects for the product system.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/BillingMeterDetails'
          readOnly: true
          x-ms-identifiers: []
        billingInfoUrl:
          description: Default url to display billing information.
          type: string
          readOnly: true
    ConfigurationProperties:
      description: Properties of configuration.
      type: object
      allOf:
      - $ref: '#/components/schemas/CommonProperties'
      properties:
        specifications:
          description: Specifications of the configuration.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/Specification'
          readOnly: true
          x-ms-identifiers: []
        dimensions:
          $ref: '#/components/schemas/Dimensions'
          description: Dimensions of the configuration.
          readOnly: true
        childConfigurationTypes:
          description: Different types of child configurations which exist for this configuration, these can be used to populate the child configuration filter.
          uniqueItems: false
          type: array
          items:
            enum:
            - DeviceConfiguration
            - AdditionalConfiguration
            type: string
            x-ms-enum:
              name: ChildConfigurationType
              modelAsString: true
              values:
              - value: DeviceConfiguration
                description: Child configuration is a device configuration.
              - value: AdditionalConfiguration
                description: Child configuration is an additional configuration.
          readOnly: true
        groupedChildConfigurations:
          description: Child configurations present for the configuration after applying child configuration filter, grouped by the category name of the child configuration.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/GroupedChildConfigurations'
          readOnly: true
          x-ms-identifiers: []
    ResourceProviderDetails:
      description: Management RP details.
      type: object
      properties:
        resourceProviderNamespace:
          description: Resource provider namespace.
          type: string
          readOnly: true
    ChildConfiguration:
      description: Child configuration object.
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/ChildConfigurationProperties'
          description: Properties of child configuration.
          readOnly: true
          x-ms-client-flatten: true
    GroupedChildConfigurations:
      description: Grouped child configuration object.
      type: object
      properties:
        categoryInformation:
          $ref: '#/components/schemas/CategoryInformation'
          description: Category information.
          readOnly: true
        childConfigurations:
          description: List of child configurations.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/ChildConfiguration'
          readOnly: true
          x-ms-identifiers: []
    MeterDetails:
      description: Holds details about billing type and its meter guids.
      required:
      - billingType
      type: object
      properties:
        billingType:
          description: Represents billing type.
          enum:
          - Pav2
          - Purchase
          type: string
          x-ms-enum:
            name: BillingType
            modelAsString: true
            values:
            - value: Pav2
              description: PaV2 billing.
            - value: Purchase
              description: Purchase billing.
        multiplier:
          format: double
          description: Billing unit applicable for Pav2 billing.
          type: number
          readOnly: true
        chargingType:
          description: Charging type.
          enum:
          - PerOrder
          - PerDevice
          type: string
          readOnly: true
          x-ms-enum:
            name: ChargingType
            modelAsString: true
            values:
            - value: PerOrder
              description: Per order charging type.
            - value: PerDevice
              description: Per device charging type.
      discriminator:
        propertyName: billingType
    ProductLineProperties:
      description: Properties of product line.
      type: object
      allOf:
      - $ref: '#/components/schemas/CommonProperties'
      properties:
        products:
          description: List of products in the product line.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/Product'
          readOnly: true
          x-ms-identifiers: []
    ProductFamiliesMetadataDetails:
      description: Product families metadata details.
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/ProductFamilyProperties'
          description: Product family properties.
          readOnly: true
          x-ms-client-flatten: true
    BillingMeterDetails:
      description: Holds billing meter details for each type of billing.
      type: object
      properties:
        name:
          description: Represents Billing type name.
          type: string
          readOnly: true
        meterDetails:
          $ref: '#/components/schemas/MeterDetails'
          description: Represents MeterDetails.
          readOnly: true
        meteringType:
          description: Represents Metering type (eg one-time or recurrent).
          enum:
          - OneTime
          - Recurring
          - Adhoc
          type: string
          readOnly: true
          x-ms-enum:
            name: MeteringType
            modelAsString: true
            values:
            - value: OneTime
              description: One time billing.
            - value: Recurring
              description: Recurring billing.
            - value: Adhoc
              description: Adhoc billing.
        frequency:
          description: Frequency of recurrence.
          type: string
          readOnly: true
    ProductLine:
      description: Product line.
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/ProductLineProperties'
          description: Properties of product line.
          readOnly: true
          x-ms-client-flatten: true
    Specification:
      description: Specification of the configurations.
      type: object
      properties:
        name:
          description: Name of the specification.
          type: string
          readOnly: true
        value:
          description: Value of the specification.
          type: string
          readOnly: true
    Link:
      description: Returns link related to the product.
      type: object
      properties:
        linkType:
          description: Type of link.
          enum:
          - Generic
          - TermsAndConditions
          - Specification
          - Documentation
          - KnowMore
          - SignUp
          - Discoverable
          type: string
          readOnly: true
          x-ms-enum:
            name: LinkType
            modelAsString: true
            values:
            - value: Generic
              description: Generic link.
            - value: TermsAndConditions
              description: Terms and conditions link.
            - value: Specification
              description: Link to product specification.
            - value: Documentation
              description: Link to product documentation.
            - value: KnowMore
              description: Link to know more.
            - value: SignUp
              description: Link to sign up for products.
            - value: Discoverable
              description: Link to order the product from another source and not from Azure Edge Hardware Center.
        linkUrl:
          description: Url of the link.
          type: string
          readOnly: true
    ChildConfigurationProperties:
      description: Properties of child configuration.
      type: object
      properties:
        childConfigurationType:
          description: Child configuration type.
          enum:
          - DeviceConfiguration
          - AdditionalConfiguration
          type: string
          readOnly: true
          x-ms-enum:
            name: ChildConfigurationType
            modelAsString: true
            values:
            - value: DeviceConfiguration
              description: Child configuration is a device configuration.
            - value: AdditionalConfiguration
              description: Child configuration is an additional configuration.
        isPartOfBaseConfiguration:
          description: Flag to indicate if the child configuration is part of the base configuration, which means the customer need not pass this configuration in OptInAdditionalConfigurations while placing an order, it will be shipped by default.
          type: boolean
          readOnly: true
        minimumQuantity:
          format: int32
          description: Minimum quantity a customer can order while choosing this configuration.
          type: integer
          readOnly: true
        maximumQuantity:
          format: int32
          description: Maximum quantity a customer can order while choosing this configuration.
          type: integer
          readOnly: true
        specifications:
          description: Specifications of the configuration.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/Specification'
          readOnly: true
          x-ms-identifiers: []
        dimensions:
          $ref: '#/components/schemas/Dimensions'
          description: Dimensions of the configuration.
          readOnly: true
        childConfigurationTypes:
          description: Different types of child configurations which exist for this configuration, these can be used to populate the child configuration filter.
          uniqueItems: false
          type: array
          items:
            enum:
            - DeviceConfiguration
            - AdditionalConfiguration
            type: string
            x-ms-enum:
              name: ChildConfigurationType
              modelAsString: true
              values:
              - value: DeviceConfiguration
                description: Child configuration is a device configuration.
              - value: AdditionalConfiguration
                description: Child configuration is an additional configuration.
          readOnly: true
        groupedChildConfigurations:
          description: Child configurations present for the configuration after applying child configuration filter, grouped by the category name of the child configuration.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/GroupedChildConfigurations'
          readOnly: true
          x-ms-identifiers: []
        filterableProperties:
          description: List of filters supported for a product.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/FilterableProperty'
          readOnly: true
          x-ms-identifiers: []
        displayName:
          description: Display Name for the product system.
          type: string
          readOnly: true
        description:
          $ref: '#/components/schemas/Description'
          description: Description related to the product system.
          readOnly: true
        imageInformation:
          description: Image information for the product system.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/ImageInformation'
          readOnly: true
          x-ms-identifiers: []
        costInformation:
          $ref: '#/components/schemas/CostInformation'
          description: Cost information for the product system.
          readOnly: true
        availabilityInformation:
          $ref: '#/components/schemas/AvailabilityInformation'
          description: Availability information of the product system.
          readOnly: true
        hierarchyInformation:
          $ref: '#/components/schemas/HierarchyInformation'
          description: Hierarchy information of a product.
          readOnly: true
        fulfilledBy:
          description: The entity responsible for fulfillment of the item at the given hierarchy level.
          enum:
          - Microsoft
          - External
          type: string
          readOnly: true
          x-ms-enum:
            name: FulfillmentType
            modelAsString: true
            values:
            - value: Microsoft
              description: The fulfillment (the whole journey of the product offering) is handled by microsoft.
            - value: External
              description: The fulfillment (the whole journey of the product offering) is handled by external third party entities.
    FilterableProperty:
      description: Different types of filters supported and its values.
      required:
      - type
      - supportedValues
      type: object
      properties:
        type:
          description: Type of product filter.
          enum:
          - ShipToCountries
          - DoubleEncryptionStatus
          type: string
          x-ms-enum:
            name: SupportedFilterTypes
            modelAsString: true
            values:
            - value: ShipToCountries
              description: Ship to country.
            - value: DoubleEncryptionStatus
              description: Double encryption status.
        supportedValues:
          description: Values to be filtered.
          uniqueItems: false
          type: array
          items:
            type: string
    Dimensions:
      description: Dimensions of a configuration.
      type: object
      properties:
        length:
          format: double
          description: Length of the device.
          type: number
          readOnly: true
        height:
          format: double
          description: Height of the device.
          type: number
          readOnly: true
        width:
          format: double
          description: Width of the device.
          type: number
          readOnly: true
        lengthHeightUnit:
          description: Unit for the dimensions of length, height and width.
          enum:
          - IN
          - CM
          type: string
          readOnly: true
          x-ms-enum:
            name: LengthHeightUnit
            modelAsString: true
            values:
            - value: IN
              description: Inch, applicable for West US.
            - value: CM
              description: Centimeter.
        weight:
          format: double
          description: Weight of the device.
          type: number
          readOnly: true
        depth:
          format: double
          description: Depth of the device.
          type: number
          readOnly: true
        weightUnit:
          description: Unit for the dimensions of weight.
          enum:
          - LBS
          - KGS
          type: string
          readOnly: true
          x-ms-enum:
            name: WeightMeasurementUnit
            modelAsString: true
            values:
            - value: LBS
              description: Pounds.
            - value: KGS
              description: Kilograms.
    CategoryInformation:
      description: Category related properties of a child configuration.
      type: object
      properties:
        categoryName:
          description: Category name of the child configuration.
          type: string
        categoryDisplayName:
          description: Category display name of the child configuration.
          type: string
        description:
          description: Description text for the category.
          type: string
        links:
          description: Links for the category.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/Link'
          x-ms-identifiers: []
    Description:
      description: Description related properties of a product system.
      type: object
      properties:
        descriptionType:
          description: Type of description.
          enum:
          - Base
          type: string
          readOnly: true
          x-ms-enum:
            name: DescriptionType
            modelAsString: true
            values:
            - value: Base
              description: Base description.
        shortDescription:
          description: Short description of the product system.
          type: string
          readOnly: true
        longDescription:
          description: Long description of the product system.
          type: string
          readOnly: true
        keywords:
          description: Keywords for the product system.
          uniqueItems: false
          type: array
          items:
            type: string
          readOnly: true
        attributes:
          description: Attributes for the product system.
          uniqueItems: false
          type: array
          items:
            type: string
          readOnly: true
        links:
          description: Links for the product system.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/Link'
          readOnly: true
          x-ms-identifiers: []
    Product:
      description: Represents a product.
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/ProductProperties'
          description: Properties of product.
          readOnly: true
          x-ms-client-flatten: true
    Configuration:
      description: Configuration object.
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/ConfigurationProperties'
          description: Properties of configuration.
          readOnly: true
          x-ms-client-flatten: true
    ProductFamilyProperties:
      description: Properties of product family.
      type: object
      allOf:
      - $ref: '#/components/schemas/CommonProperties'
      properties:
        productLines:
          description: List of product lines supported in the product family.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/ProductLine'
          readOnly: true
          x-ms-identifiers: []
        resourceProviderDetails:
          description: Contains details related to resource provider.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/ResourceProviderDetails'
          x-ms-identifiers: []
    ProductFamiliesMetadata:
      description: Holds details about product family metadata.
      type: object
      properties:
        value:
          description: List of product family metadata details.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/ProductFamiliesMetadataDetails'
          readOnly: true
          x-ms-identifiers: []
        nextLink:
          description: Link for the next set of product families.
          type: string
          readOnly: true
    HierarchyInformation:
      description: Holds details about product hierarchy information.
      type: object
      properties:
        productFamilyName:
          description: Represents product family name that uniquely identifies product family.
          type: string
        productLineName:
          description: Represents product line name that uniquely identifies product line.
          type: string
        productName:
          description: Represents product name that uniquely identifies product.
          type: string
        configurationName:
          description: Represents configuration name that uniquely identifies configuration.
          type: string
    BasicInformation:
      description: Basic information for any product system.
      type: object
      properties:
        displayName:
          description: Display Name for the product system.
          type: string
          readOnly: true
        description:
          $ref: '#/components/schemas/Description'
          description: Description related to the product system.
          readOnly: true
        imageInformation:
          description: Image information for the product system.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/ImageInformation'
          readOnly: true
          x-ms-identifiers: []
        costInformation:
          $ref: '#/components/schemas/CostInformation'
          description: Cost information for the product system.
          readOnly: true
        availabilityInformation:
          $ref: '#/components/schemas/AvailabilityInformation'
          description: Availability information of the product system.
          readOnly: true
        hierarchyInformation:
          $ref: '#/components/schemas/HierarchyInformation'
          description: Hierarchy information of a product.
          readOnly: true
        fulfilledBy:
          description: The entity responsible for fulfillment of the item at the given hierarchy level.
          enum:
          - Microsoft
          - External
          type: string
          readOnly: true
          x-ms-enum:
            name: FulfillmentType
            modelAsString: true
            values:
            - value: Microsoft
              description: The fulfillment (the whole journey of the product offering) is handled by microsoft.
            - value: External
              description: The fulfillment (the whole journey of the product offering) is handled by external third party entities.
    CommonProperties:
      description: Represents common properties across product hierarchy.
      type: object
      allOf:
      - $ref: '#/components/schemas/BasicInformation'
      properties:
        filterableProperties:
          description: List of filters supported for a product.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/FilterableProperty'
          readOnly: true
          x-ms-identifiers: []
    AvailabilityInformation:
      description: Availability information of a product system.
      type: object
      properties:
        availabilityStage:
          description: Current availability stage of the product.
          enum:
          - Available
          - Preview
          - Signup
          - Discoverable
          - ComingSoon
          - Unavailable
          - Deprecated
          type: string
          readOnly: true
          x-ms-enum:
            name: AvailabilityStage
            modelAsString: true
            values:
            - value: Available
              description: Product is available.
            - value: Preview
              description: Product is in preview.
            - value: Signup
              description: Product is available only on signup.
            - value: Discoverable
              description: Product is not available in our service but can be discovered from other sources.
            - value: ComingSoon
              description: Product is coming soon.
            - value: Unavailable
              description: Product is not available.
            - value: Deprecated
              description: Product is deprecated.
        disabledReason:
          description: Reason why the product is disabled.
          enum:
          - None
          - Country
          - Region
          - Feature
          - OfferType
          - NoSubscriptionInfo
          - NotAvailable
          - OutOfStock
          type: string
          readOnly: true
          x-ms-enum:
            name: DisabledReason
            modelAsString: true
            values:
            - value: None
              description: Not disabled.
            - value: Country
              description: Not available in the requested country.
            - value: Region
              description: Not available to push data to the requested Azure region.
            - value: Feature
              description: Required features are not enabled.
            - value: OfferType
              description: Subscription does not have required offer types.
            - value: NoSubscriptionInfo
              description: Subscription has not registered to Microsoft.DataBox and Service does not have the subscription notification.
            - value: NotAvailable
              description: The product is not yet available.
            - value: OutOfStock
              description: The product is out of stock.
        disabledReasonMessage:
          description: Message for why the product is disabled.
          type: string
          readOnly: true
    ImageInformation:
      description: Image for the product.
      type: object
      properties:
        imageType:
          description: Type of the image.
          enum:
          - MainImage
          - BulletImage
          - GenericImage
          type: string
          readOnly: true
          x-ms-enum:
            name: ImageType
            modelAsString: true
            values:
            - value: MainImage
              description: Main image.
            - value: BulletImage
              description: Bullet image.
            - value: GenericImage
              description: Generic image.
        imageUrl:
          description: Url of the image.
          type: string
          readOnly: true
    ProductProperties:
      description: Properties of product.
      type: object
      allOf:
      - $ref: '#/components/schemas/CommonProperties'
      properties:
        configurations:
          description: List of configurations for the product.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/Configuration'
          readOnly: true
          x-ms-identifiers: []
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
