openapi: 3.2.0
info:
  title: Microsoft Azure Configuration API
  x-refined-note:
  - x-typespec-generated differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Configuration across 2 of this provider''s published API definitions: adhybridhealthservice-openapi-original.yml, microsoft-code-transparency-service-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
tags:
- name: Configuration
paths:
  /providers/Microsoft.ADHybridHealthService/configuration:
    post:
      tags:
      - Configuration
      description: Onboards a tenant in Azure Active Directory Connect Health.
      x-ms-examples:
        configuration_add:
          $ref: ./examples/Tenant.json
      operationId: microsoftAzureConfigurationAdd
      parameters:
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully added the tenant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
      summary: Microsoft Azure Post Providers Microsoft Adhybridhealthservice Configuration
      security:
      - azure_auth:
        - user_impersonation
    get:
      tags:
      - Configuration
      description: Gets the details of a tenant onboarded to Azure Active Directory Connect Health.
      x-ms-examples:
        configuration_get:
          $ref: ./examples/Tenant.json
      operationId: microsoftAzureConfigurationGet
      parameters:
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The tenant details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
      summary: Microsoft Azure Get Providers Microsoft Adhybridhealthservice Configuration
      security:
      - azure_auth:
        - user_impersonation
    patch:
      tags:
      - Configuration
      description: Updates tenant properties for tenants onboarded to Azure Active Directory Connect Health.
      x-ms-examples:
        configuration_update:
          $ref: ./examples/PatchTenant.json
      operationId: microsoftAzureConfigurationUpdate
      parameters:
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully updated the tenant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
      summary: Microsoft Azure Patch Providers Microsoft Adhybridhealthservice Configuration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tenant'
        description: The tenant object with the properties set to the updated value.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /providers/Microsoft.ADHybridHealthService/services/{serviceName}/ipAddressAggregateSettings:
    patch:
      tags:
      - Configuration
      description: Updates the IP address aggregate settings alert thresholds.
      x-ms-examples:
        update_IPAddressAggregateSettings:
          $ref: ./examples/IpAddressAggregateSettingsUpdate.json
      operationId: microsoftAzureUpdateIpaddressaggregatesettings
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: IP AddressAggregate Settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPAddressAggregateSetting'
      summary: Microsoft Azure Patch Providers Microsoft Adhybridhealthservice Services…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IPAddressAggregateSetting'
        description: The IP address aggregate setting object.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /configuration:
    get:
      operationId: microsoftAzureGetcodetransparencyconfig
      description: Get CodeTransparency configuration information.
      parameters:
      - $ref: '#/components/parameters/Azure.Core.Foundations.ApiVersionParameter'
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeTransparencyConfiguration'
        default:
          description: An unexpected error response.
          headers:
            x-ms-error-code:
              description: String error code indicating what went wrong.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Azure.Core.Foundations.ErrorResponse'
      x-ms-examples:
        GetCodeTransparencyConfig:
          $ref: ./examples/GetCodeTransparencyConfig.json
      summary: Microsoft Azure Get Configuration
      tags:
      - Configuration
components:
  schemas:
    Tenant:
      description: The details of the onboarded tenant.
      type: object
      properties:
        tenantId:
          type: string
          description: The Id of the tenant.
        aadLicense:
          type: string
          description: The Azure Active Directory license of the tenant.
        aadPremium:
          type: boolean
          description: Indicate if the tenant has Azure Active Directory Premium license or not.
        agentAutoUpdate:
          type: boolean
          description: Indicates if the tenant is configured to automatically receive updates for Azure Active Directory Connect Health client side features.
        alertSuppressionTimeInMins:
          type: integer
          description: The time in minutes after which an alert will be auto-suppressed.
        consentedToMicrosoftDevOps:
          type: boolean
          description: Indicates if the tenant data can be seen by Microsoft through Azure portal.
        countryLetterCode:
          type: string
          description: The country letter code of the tenant.
        createdDate:
          type: string
          format: date-time
          description: The date, in UTC, when the tenant was onboarded to Azure Active Directory Connect Health.
        devOpsTtl:
          type: string
          format: date-time
          description: The date and time, in UTC, till when the tenant data can be seen by Microsoft through Azure portal.
        disabled:
          type: boolean
          description: Indicates if the tenant is disabled in Azure Active Directory Connect Health.
        disabledReason:
          type: integer
          description: The reason due to which the tenant was disabled in Azure Active Directory Connect Health.
        globalAdminsEmail:
          type: array
          items:
            type: string
          description: The list of global administrators for the tenant.
        initialDomain:
          type: string
          description: The initial domain of the tenant.
        lastDisabled:
          type: string
          format: date-time
          description: The date and time, in UTC, when the tenant was last disabled in Azure Active Directory Connect Health.
        lastVerified:
          type: string
          format: date-time
          description: The date and time, in UTC, when the tenant onboarding status in Azure Active Directory Connect Health was last verified.
        onboardingAllowed:
          type: boolean
          description: Indicates if the tenant is allowed to  onboard to Azure Active Directory Connect Health.
        onboarded:
          type: boolean
          description: Indicates if the tenant is already onboarded to Azure Active Directory Connect Health.
        pksCertificate:
          type: object
          description: The certificate associated with the tenant to onboard data to Azure Active Directory Connect Health.
        privatePreviewTenant:
          type: boolean
          description: Indicates if the tenant has signed up for private preview of Azure Active Directory Connect Health features.
        tenantInQuarantine:
          type: boolean
          description: Indicates if data collection for this tenant is disabled or not.
        tenantName:
          type: string
          description: The name of the tenant.
    IPAddressAggregateSetting:
      description: The key value pair for IP aggregate thresholds.
      type: object
      properties:
        id:
          description: Unique ID for the entree
          type: string
        badPasswordAndExtranetLockoutCombinedDailyThreshold:
          description: This threshold setting defines the per day trigger for a new event to be generated in the report.
          type: integer
        badPasswordAndExtranetLockoutCombinedHourlyThreshold:
          description: This threshold setting defines the per hour trigger for a new event to be generated in the report.
          type: integer
        extranetLockoutDailyThreshold:
          description: This threshold setting defines the per hour trigger for a new event to be generated in the report.
          type: integer
        extranetLockoutHourlyThreshold:
          description: This threshold setting defines the per hour trigger for a new event to be generated in the report.
          type: integer
        emailNotificationEnabled:
          description: A value indicating whether email notification has been enabled.
          type: boolean
    Azure.Core.Foundations.Error:
      type: object
      description: The error object.
      properties:
        code:
          type: string
          description: One of a server-defined set of error codes.
        message:
          type: string
          description: A human-readable representation of the error.
        target:
          type: string
          description: The target of the error.
        details:
          type: array
          description: An array of details about specific errors that led to this reported error.
          items:
            $ref: '#/components/schemas/Azure.Core.Foundations.Error'
          x-ms-identifiers: []
        innererror:
          $ref: '#/components/schemas/Azure.Core.Foundations.InnerError'
          description: An object containing more specific information than the current object about the error.
      required:
      - code
      - message
    CodeTransparencyConfigurationPolicy:
      type: object
      description: Configuration of CCF Authentication policies.
      properties:
        accepted_algorithms:
          type: array
          items:
            type: string
        accepted_did_issuers:
          type: array
          items:
            type: string
    CodeTransparencyConfiguration:
      type: object
      description: The Response body of the Configuration API.
      properties:
        policy:
          $ref: '#/components/schemas/CodeTransparencyConfigurationPolicy'
        authentication:
          $ref: '#/components/schemas/CodeTransparencyConfigurationAuthentication'
        service_identifier:
          type: string
          description: did:web identifier
          pattern: ^did:web:.+$
    Azure.Core.Foundations.InnerError:
      type: object
      description: An object containing more specific information about the error. As per Microsoft One API guidelines - https://github.com/Microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses.
      properties:
        code:
          type: string
          description: One of a server-defined set of error codes.
        innererror:
          $ref: '#/components/schemas/Azure.Core.Foundations.InnerError'
          description: Inner error.
    Azure.Core.Foundations.ErrorResponse:
      type: object
      description: A response containing error details.
      properties:
        error:
          $ref: '#/components/schemas/Azure.Core.Foundations.Error'
          description: The error object.
      required:
      - error
    CodeTransparencyConfigurationAuthentication:
      type: object
      description: Configuration of CCF authentication.
      properties:
        allow_unauthenticated:
          type: boolean
        jwt:
          $ref: '#/components/schemas/CodeTransparencyConfigurationAuthenticationJwt'
      required:
      - allow_unauthenticated
    CodeTransparencyConfigurationAuthenticationJwt:
      type: object
      description: Configuration of JWT claims
      properties:
        required_claims:
          type: object
          additionalProperties:
            type: string
      required:
      - required_claims
  parameters:
    apiVersionParameter:
      name: api-version
      in: query
      description: The version of the API to be used with the client request.
      required: true
      schema:
        type: string
    Azure.Core.Foundations.ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      x-ms-parameter-location: method
      x-ms-client-name: apiVersion
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-refined-from:
- adhybridhealthservice-openapi-original.yml
- microsoft-code-transparency-service-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
