openapi: 3.2.0
info:
  title: Microsoft Azure ProviderHub Resource Type Sku API
  description: Microsoft ProviderHub
  version: 2021-09-01-preview
  x-ms-code-generation-settings:
    name: ProviderHubClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ResourceTypeSku
paths:
  ? /subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/skus/{sku}
  : get:
      tags:
      - ResourceTypeSku
      description: Gets the sku details for the given resource type and sku name.
      operationId: microsoftAzureSkusGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ProviderNamespaceParameter'
      - $ref: '#/components/parameters/GetResourceTypeParameter'
      - $ref: '#/components/parameters/SkuParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      x-ms-examples:
        Skus_Get:
          $ref: ./examples/Skus_Get.json
      responses:
        '200':
          description: Successfully retrieved the resource type sku.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuResource'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
    put:
      tags:
      - ResourceTypeSku
      description: Creates or updates the resource type skus in the given resource type.
      operationId: microsoftAzureSkusCreateorupdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ProviderNamespaceParameter'
      - $ref: '#/components/parameters/GetResourceTypeParameter'
      - $ref: '#/components/parameters/SkuParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      x-ms-examples:
        Skus_CreateOrUpdate:
          $ref: ./examples/Skus_CreateOrUpdate.json
      responses:
        '200':
          description: Successfully created or updated the resource type sku.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuResource'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Providers Microsoft…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SkuResource'
        description: The required body parameters supplied to the resource sku operation.
        required: true
    delete:
      tags:
      - ResourceTypeSku
      description: Deletes a resource type sku.
      operationId: microsoftAzureSkusDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ProviderNamespaceParameter'
      - $ref: '#/components/parameters/GetResourceTypeParameter'
      - $ref: '#/components/parameters/SkuParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      x-ms-examples:
        Skus_Delete:
          $ref: ./examples/Skus_Delete.json
      responses:
        '200':
          description: Successfully deleted the resource type sku.
        '204':
          description: Resource does not exist.
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Providers Microsoft…
  ? /subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/resourcetypeRegistrations/{nestedResourceTypeFirst}/skus/{sku}
  : get:
      tags:
      - ResourceTypeSku
      description: Gets the sku details for the given resource type and sku name.
      operationId: microsoftAzureSkusGetnestedresourcetypefirst
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ProviderNamespaceParameter'
      - $ref: '#/components/parameters/GetResourceTypeParameter'
      - $ref: '#/components/parameters/NestedResourceTypeFirstParameter'
      - $ref: '#/components/parameters/SkuParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      x-ms-examples:
        Skus_GetNestedResourceTypeFirst:
          $ref: ./examples/Skus_GetNestedResourceTypeFirst.json
      responses:
        '200':
          description: Successfully retrieved the resource type sku.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuResource'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
    put:
      tags:
      - ResourceTypeSku
      description: Creates or updates the resource type skus in the given resource type.
      operationId: microsoftAzureSkusCreateorupdatenestedresourcetypefirst
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ProviderNamespaceParameter'
      - $ref: '#/components/parameters/GetResourceTypeParameter'
      - $ref: '#/components/parameters/NestedResourceTypeFirstParameter'
      - $ref: '#/components/parameters/SkuParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      x-ms-examples:
        Skus_CreateOrUpdateNestedResourceTypeFirst:
          $ref: ./examples/Skus_CreateOrUpdateNestedResourceTypeFirst.json
      responses:
        '200':
          description: Successfully created or updated the resource type sku.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuResource'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Providers Microsoft…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SkuResource'
        description: The required body parameters supplied to the resource sku operation.
        required: true
    delete:
      tags:
      - ResourceTypeSku
      description: Deletes a resource type sku.
      operationId: microsoftAzureSkusDeletenestedresourcetypefirst
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ProviderNamespaceParameter'
      - $ref: '#/components/parameters/GetResourceTypeParameter'
      - $ref: '#/components/parameters/NestedResourceTypeFirstParameter'
      - $ref: '#/components/parameters/SkuParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      x-ms-examples:
        Skus_DeleteNestedResourceTypeFirst:
          $ref: ./examples/Skus_DeleteNestedResourceTypeFirst.json
      responses:
        '200':
          description: Successfully deleted the resource type sku.
        '204':
          description: Resource does not exist.
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Providers Microsoft…
  ? /subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/resourcetypeRegistrations/{nestedResourceTypeFirst}/resourcetypeRegistrations/{nestedResourceTypeSecond}/skus/{sku}
  : get:
      tags:
      - ResourceTypeSku
      description: Gets the sku details for the given resource type and sku name.
      operationId: microsoftAzureSkusGetnestedresourcetypesecond
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ProviderNamespaceParameter'
      - $ref: '#/components/parameters/GetResourceTypeParameter'
      - $ref: '#/components/parameters/NestedResourceTypeFirstParameter'
      - $ref: '#/components/parameters/NestedResourceTypeSecondParameter'
      - $ref: '#/components/parameters/SkuParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      x-ms-examples:
        Skus_GetNestedResourceTypeSecond:
          $ref: ./examples/Skus_GetNestedResourceTypeSecond.json
      responses:
        '200':
          description: Successfully retrieved the resource type sku.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuResource'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
    put:
      tags:
      - ResourceTypeSku
      description: Creates or updates the resource type skus in the given resource type.
      operationId: microsoftAzureSkusCreateorupdatenestedresourcetypesecond
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ProviderNamespaceParameter'
      - $ref: '#/components/parameters/GetResourceTypeParameter'
      - $ref: '#/components/parameters/NestedResourceTypeFirstParameter'
      - $ref: '#/components/parameters/NestedResourceTypeSecondParameter'
      - $ref: '#/components/parameters/SkuParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      x-ms-examples:
        Skus_CreateOrUpdateNestedResourceTypeSecond:
          $ref: ./examples/Skus_CreateOrUpdateNestedResourceTypeSecond.json
      responses:
        '200':
          description: Successfully created or updated the resource type sku.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuResource'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Providers Microsoft…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SkuResource'
        description: The required body parameters supplied to the resource sku operation.
        required: true
    delete:
      tags:
      - ResourceTypeSku
      description: Deletes a resource type sku.
      operationId: microsoftAzureSkusDeletenestedresourcetypesecond
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ProviderNamespaceParameter'
      - $ref: '#/components/parameters/GetResourceTypeParameter'
      - $ref: '#/components/parameters/NestedResourceTypeFirstParameter'
      - $ref: '#/components/parameters/NestedResourceTypeSecondParameter'
      - $ref: '#/components/parameters/SkuParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      x-ms-examples:
        Skus_DeleteNestedResourceTypeSecond:
          $ref: ./examples/Skus_DeleteNestedResourceTypeSecond.json
      responses:
        '200':
          description: Successfully deleted the resource type sku.
        '204':
          description: Resource does not exist.
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Providers Microsoft…
  ? /subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/resourcetypeRegistrations/{nestedResourceTypeFirst}/resourcetypeRegistrations/{nestedResourceTypeSecond}/resourcetypeRegistrations/{nestedResourceTypeThird}/skus/{sku}
  : get:
      tags:
      - ResourceTypeSku
      description: Gets the sku details for the given resource type and sku name.
      operationId: microsoftAzureSkusGetnestedresourcetypethird
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ProviderNamespaceParameter'
      - $ref: '#/components/parameters/GetResourceTypeParameter'
      - $ref: '#/components/parameters/NestedResourceTypeFirstParameter'
      - $ref: '#/components/parameters/NestedResourceTypeSecondParameter'
      - $ref: '#/components/parameters/NestedResourceTypeThirdParameter'
      - $ref: '#/components/parameters/SkuParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      x-ms-examples:
        Skus_GetNestedResourceTypeThird:
          $ref: ./examples/Skus_GetNestedResourceTypeThird.json
      responses:
        '200':
          description: Successfully retrieved the resource type sku.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuResource'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
    put:
      tags:
      - ResourceTypeSku
      description: Creates or updates the resource type skus in the given resource type.
      operationId: microsoftAzureSkusCreateorupdatenestedresourcetypethird
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ProviderNamespaceParameter'
      - $ref: '#/components/parameters/GetResourceTypeParameter'
      - $ref: '#/components/parameters/NestedResourceTypeFirstParameter'
      - $ref: '#/components/parameters/NestedResourceTypeSecondParameter'
      - $ref: '#/components/parameters/NestedResourceTypeThirdParameter'
      - $ref: '#/components/parameters/SkuParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      x-ms-examples:
        Skus_CreateOrUpdateNestedResourceTypeThird:
          $ref: ./examples/Skus_CreateOrUpdateNestedResourceTypeThird.json
      responses:
        '200':
          description: Successfully created or updated the resource type sku.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuResource'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Providers Microsoft…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SkuResource'
        description: The required body parameters supplied to the resource sku operation.
        required: true
    delete:
      tags:
      - ResourceTypeSku
      description: Deletes a resource type sku.
      operationId: microsoftAzureSkusDeletenestedresourcetypethird
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ProviderNamespaceParameter'
      - $ref: '#/components/parameters/GetResourceTypeParameter'
      - $ref: '#/components/parameters/NestedResourceTypeFirstParameter'
      - $ref: '#/components/parameters/NestedResourceTypeSecondParameter'
      - $ref: '#/components/parameters/NestedResourceTypeThirdParameter'
      - $ref: '#/components/parameters/SkuParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      x-ms-examples:
        Skus_DeleteNestedResourceTypeThird:
          $ref: ./examples/Skus_DeleteNestedResourceTypeThird.json
      responses:
        '200':
          description: Successfully deleted the resource type sku.
        '204':
          description: Resource does not exist.
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Providers Microsoft…
  ? /subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/skus
  : get:
      tags:
      - ResourceTypeSku
      description: Gets the list of skus for the given resource type.
      operationId: microsoftAzureSkusListbyresourcetyperegistrations
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ProviderNamespaceParameter'
      - $ref: '#/components/parameters/GetResourceTypeParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      x-ms-examples:
        Skus_ListByResourceTypeRegistrations:
          $ref: ./examples/Skus_ListByResourceTypeRegistrations.json
      responses:
        '200':
          description: SUccessfully retrieved the resource type skus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuResourceArrayResponseWithContinuation'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
  ? /subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/resourcetypeRegistrations/{nestedResourceTypeFirst}/skus
  : get:
      tags:
      - ResourceTypeSku
      description: Gets the list of skus for the given resource type.
      operationId: microsoftAzureSkusListbyresourcetyperegistrationsnestedresourcetypefirst
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ProviderNamespaceParameter'
      - $ref: '#/components/parameters/GetResourceTypeParameter'
      - $ref: '#/components/parameters/NestedResourceTypeFirstParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      x-ms-examples:
        Skus_ListByResourceTypeRegistrationsNestedResourceTypeFirst:
          $ref: ./examples/Skus_ListByResourceTypeRegistrationsNestedResourceTypeFirst.json
      responses:
        '200':
          description: SUccessfully retrieved the resource type skus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuResourceArrayResponseWithContinuation'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
  ? /subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/resourcetypeRegistrations/{nestedResourceTypeFirst}/resourcetypeRegistrations/{nestedResourceTypeSecond}/skus
  : get:
      tags:
      - ResourceTypeSku
      description: Gets the list of skus for the given resource type.
      operationId: microsoftAzureSkusListbyresourcetyperegistrationsnestedresourcetypesecond
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ProviderNamespaceParameter'
      - $ref: '#/components/parameters/GetResourceTypeParameter'
      - $ref: '#/components/parameters/NestedResourceTypeFirstParameter'
      - $ref: '#/components/parameters/NestedResourceTypeSecondParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      x-ms-examples:
        Skus_ListByResourceTypeRegistrationsNestedResourceTypeSecond:
          $ref: ./examples/Skus_ListByResourceTypeRegistrationsNestedResourceTypeSecond.json
      responses:
        '200':
          description: SUccessfully retrieved the resource type skus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuResourceArrayResponseWithContinuation'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
  ? /subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/resourcetypeRegistrations/{nestedResourceTypeFirst}/resourcetypeRegistrations/{nestedResourceTypeSecond}/resourcetypeRegistrations/{nestedResourceTypeThird}/skus
  : get:
      tags:
      - ResourceTypeSku
      description: Gets the list of skus for the given resource type.
      operationId: microsoftAzureSkusListbyresourcetyperegistrationsnestedresourcetypethird
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ProviderNamespaceParameter'
      - $ref: '#/components/parameters/GetResourceTypeParameter'
      - $ref: '#/components/parameters/NestedResourceTypeFirstParameter'
      - $ref: '#/components/parameters/NestedResourceTypeSecondParameter'
      - $ref: '#/components/parameters/NestedResourceTypeThirdParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      x-ms-examples:
        Skus_ListByResourceTypeRegistrationsNestedResourceTypeThird:
          $ref: ./examples/Skus_ListByResourceTypeRegistrationsNestedResourceTypeThird.json
      responses:
        '200':
          description: SUccessfully retrieved the resource type skus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuResourceArrayResponseWithContinuation'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
components:
  schemas:
    SkuLocationInfo:
      required:
      - location
      type: object
      properties:
        location:
          type: string
        zones:
          type: array
          items:
            type: string
        zoneDetails:
          type: array
          items:
            $ref: '#/components/schemas/SkuZoneDetail'
        extendedLocations:
          type: array
          items:
            type: string
        type:
          enum:
          - NotSpecified
          - EdgeZone
          - ArcZone
          type: string
    SkuZoneDetail:
      type: object
      properties:
        name:
          type: array
          items:
            type: string
        capabilities:
          type: array
          items:
            $ref: '#/components/schemas/SkuCapability'
    ProvisioningState:
      enum:
      - NotSpecified
      - Accepted
      - Running
      - Creating
      - Created
      - Deleting
      - Deleted
      - Canceled
      - Failed
      - Succeeded
      - MovingResources
      - TransientFailure
      - RolloutInProgress
      type: string
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    SkuResourceArrayResponseWithContinuation:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/SkuResource'
        nextLink:
          description: The URL to get to the next set of results, if there are any.
          type: string
    ResourceTypeSku:
      required:
      - skuSettings
      type: object
      properties:
        skuSettings:
          type: array
          items:
            $ref: '#/components/schemas/SkuSetting'
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The provisioned state of the resource.
    SkuResource:
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource
      properties:
        properties:
          allOf:
          - $ref: '#/components/schemas/ResourceTypeSku'
        systemData:
          $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/systemData
          readOnly: true
      x-ms-azure-resource: true
    ErrorResponse:
      description: Standard error response.
      type: object
      properties:
        error:
          description: Standard error object.
          allOf:
          - $ref: '#/components/schemas/Error'
    SkuCapability:
      required:
      - name
      - value
      type: object
      properties:
        name:
          type: string
        value:
          type: string
    SkuCost:
      required:
      - meterId
      type: object
      properties:
        meterId:
          type: string
        quantity:
          format: int32
          type: integer
        extendedUnit:
          type: string
    SkuCapacity:
      required:
      - minimum
      type: object
      properties:
        minimum:
          format: int32
          type: integer
        maximum:
          format: int32
          type: integer
        default:
          format: int32
          type: integer
        scaleType:
          enum:
          - None
          - Manual
          - Automatic
          type: string
          x-ms-enum:
            name: SkuScaleType
            modelAsString: true
    Error:
      description: Standard error object.
      type: object
      properties:
        code:
          description: Server-defined set of error codes.
          type: string
          readOnly: true
        message:
          description: Human-readable representation of the error.
          type: string
          readOnly: true
        target:
          description: Target of the error.
          type: string
          readOnly: true
        details:
          description: Array of details about specific errors that led to this reported error.
          type: array
          items:
            $ref: '#/components/schemas/Error'
          readOnly: true
        innerError:
          description: Object containing more specific information than  the current object about the error.
          allOf:
          - $ref: '#/components/schemas/InnerError'
          readOnly: true
    InnerError:
      description: Inner error containing list of errors.
      type: object
      properties:
        code:
          description: Specific error code than was provided by the containing error.
          type: string
          readOnly: true
        innerError:
          description: Object containing more specific information than the current object about the error.
          type: object
          readOnly: true
      additionalProperties:
        type: object
    SkuSetting:
      required:
      - name
      type: object
      properties:
        name:
          type: string
        tier:
          type: string
        size:
          type: string
        family:
          type: string
        kind:
          type: string
        locations:
          type: array
          items:
            type: string
        locationInfo:
          type: array
          items:
            $ref: '#/components/schemas/SkuLocationInfo'
        requiredQuotaIds:
          type: array
          items:
            type: string
        requiredFeatures:
          type: array
          items:
            type: string
        capacity:
          allOf:
          - $ref: '#/components/schemas/SkuCapacity'
        costs:
          type: array
          items:
            $ref: '#/components/schemas/SkuCost'
        capabilities:
          type: array
          items:
            $ref: '#/components/schemas/SkuCapability'
  parameters:
    SkuParameter:
      in: path
      name: sku
      description: The SKU.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    NestedResourceTypeThirdParameter:
      in: path
      name: nestedResourceTypeThird
      description: The third child resource type.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ProviderNamespaceParameter:
      in: path
      name: providerNamespace
      description: The name of the resource provider hosted within ProviderHub.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    GetResourceTypeParameter:
      in: path
      name: resourceType
      description: The resource type.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    NestedResourceTypeSecondParameter:
      in: path
      name: nestedResourceTypeSecond
      description: The second child resource type.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    NestedResourceTypeFirstParameter:
      in: path
      name: nestedResourceTypeFirst
      description: The first child resource type.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
