openapi: 3.2.0
info:
  title: Microsoft Azure MariaDBManagementClient Top Query…
  description: The Microsoft Azure management API provides create, read, update, and delete functionality for Azure MariaDB resources including servers, databases, firewall rules, VNET rules, log files and configurations with new business model.
  version: '2018-06-01'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: TopQueryStatistics
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/topQueryStatistics/{queryStatisticId}
  : get:
      tags:
      - TopQueryStatistics
      operationId: microsoftAzureTopquerystatisticsGet
      x-ms-examples:
        TopQueryStatisticsGet:
          $ref: ./examples/TopQueryStatisticsGet.json
      description: Retrieve the query statistic for specified identifier.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/ServerNameParameter'
      - $ref: '#/components/parameters/QueryStatisticIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryStatistic'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/topQueryStatistics
  : get:
      tags:
      - TopQueryStatistics
      operationId: microsoftAzureTopquerystatisticsListbyserver
      x-ms-examples:
        TopQueryStatisticsListByServer:
          $ref: ./examples/TopQueryStatisticsListByServer.json
      description: Retrieve the Query-Store top queries for specified metric and aggregation.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/ServerNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopQueryStatisticsResultList'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopQueryStatisticsInput'
        description: The required parameters for retrieving top query statistics.
        required: true
components:
  schemas:
    TopQueryStatisticsResultList:
      description: A list of query statistics.
      type: object
      properties:
        value:
          description: The list of top query statistics.
          type: array
          items:
            $ref: '#/components/schemas/QueryStatistic'
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    QueryStatistic:
      properties:
        properties:
          $ref: '#/components/schemas/QueryStatisticProperties'
          x-ms-client-flatten: true
          description: The properties of a query statistic.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource
      description: Represents a Query Statistic.
    TopQueryStatisticsInputProperties:
      properties:
        numberOfTopQueries:
          type: integer
          format: int32
          description: Max number of top queries to return.
        aggregationFunction:
          type: string
          description: Aggregation function name.
        observedMetric:
          type: string
          description: Observed metric name.
        observationStartTime:
          type: string
          format: date-time
          description: Observation start time.
        observationEndTime:
          type: string
          format: date-time
          description: Observation end time.
        aggregationWindow:
          type: string
          description: Aggregation interval type in ISO 8601 format.
      required:
      - numberOfTopQueries
      - aggregationFunction
      - observedMetric
      - observationStartTime
      - observationEndTime
      - aggregationWindow
      description: The properties for input to get top query statistics
    QueryStatisticProperties:
      properties:
        queryId:
          type: string
          description: Database query identifier.
        startTime:
          type: string
          format: date-time
          description: Observation start time.
        endTime:
          type: string
          format: date-time
          description: Observation end time.
        aggregationFunction:
          type: string
          description: Aggregation function name.
        databaseNames:
          type: array
          items:
            type: string
          description: The list of database names.
        queryExecutionCount:
          type: integer
          format: int64
          description: Number of query executions in this time interval.
        metricName:
          type: string
          description: Metric name.
        metricDisplayName:
          type: string
          description: Metric display name.
        metricValue:
          type: number
          format: double
          description: Metric value.
        metricValueUnit:
          type: string
          description: Metric value unit.
      description: The properties of a query statistic.
    TopQueryStatisticsInput:
      properties:
        properties:
          $ref: '#/components/schemas/TopQueryStatisticsInputProperties'
          x-ms-client-flatten: true
          description: The properties of a wait statistics input.
      required:
      - properties
      description: Input to get top query statistics
  parameters:
    ServerNameParameter:
      name: serverName
      in: path
      required: true
      description: The name of the server.
      x-ms-parameter-location: method
      schema:
        type: string
    QueryStatisticIdParameter:
      name: queryStatisticId
      in: path
      required: true
      description: The Query Statistic identifier.
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for the request.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The subscription ID that identifies an Azure subscription.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
