openapi: 3.2.0
info:
  version: 2021-10-15-preview
  title: Microsoft Azure EventGridManagementClient Event Channels API
  description: Azure EventGrid Management Client
servers:
- url: https://management.azure.com
tags:
- name: EventChannels
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/partnerNamespaces/{partnerNamespaceName}/eventChannels/{eventChannelName}
  : get:
      tags:
      - EventChannels
      summary: Microsoft Azure Get An Event Channel
      description: Get properties of an event channel.
      operationId: microsoftAzureEventchannelsGet
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: partnerNamespaceName
        in: path
        description: Name of the partner namespace.
        required: true
        schema:
          type: string
      - name: eventChannelName
        in: path
        description: Name of the event channel.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventChannel'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        EventChannels_Get:
          $ref: ./examples/EventChannels_Get.json
    put:
      tags:
      - EventChannels
      summary: Microsoft Azure Create An Event Channel
      description: Asynchronously creates a new event channel with the specified parameters.
      operationId: microsoftAzureEventchannelsCreateorupdate
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: partnerNamespaceName
        in: path
        description: Name of the partner namespace.
        required: true
        schema:
          type: string
      - name: eventChannelName
        in: path
        description: Name of the event channel.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventChannel'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        EventChannels_CreateOrUpdate:
          $ref: ./examples/EventChannels_CreateOrUpdate.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventChannel'
        description: EventChannel information.
        required: true
    delete:
      tags:
      - EventChannels
      summary: Microsoft Azure Delete An Event Channel
      description: Delete existing event channel.
      operationId: microsoftAzureEventchannelsDelete
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: partnerNamespaceName
        in: path
        description: Name of the partner namespace.
        required: true
        schema:
          type: string
      - name: eventChannelName
        in: path
        description: Name of the event channel.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: NoContent
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 404 Not Found.\n\n * 500 Internal Server Error."
      x-ms-examples:
        EventChannels_Delete:
          $ref: ./examples/EventChannels_Delete.json
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/partnerNamespaces/{partnerNamespaceName}/eventChannels
  : get:
      tags:
      - EventChannels
      summary: Microsoft Azure List Event Channels
      description: List all the event channels in a partner namespace.
      operationId: microsoftAzureEventchannelsListbypartnernamespace
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: partnerNamespaceName
        in: path
        description: Name of the partner namespace.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/FilterParameter'
      - $ref: '#/components/parameters/TopParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventChannelsListResult'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        EventChannels_ListByPartnerNamespace:
          $ref: ./examples/EventChannels_ListByPartnerNamespace.json
      x-ms-pageable:
        nextLinkName: nextLink
components:
  schemas:
    EventChannelDestination:
      description: Properties of the destination of an event channel.
      type: object
      properties:
        azureSubscriptionId:
          description: 'Azure subscription ID of the customer creating the event channel. The partner topic

            associated with the event channel will be created under this Azure subscription.'
          type: string
        resourceGroup:
          description: 'Azure Resource Group of the customer creating the event channel. The partner topic

            associated with the event channel will be created under this resource group.'
          type: string
        partnerTopicName:
          description: Name of the partner topic associated with the event channel.
          type: string
    EventChannelsListResult:
      description: Result of the List Event Channels operation
      type: object
      properties:
        value:
          description: A collection of Event Channels
          type: array
          items:
            $ref: '#/components/schemas/EventChannel'
        nextLink:
          description: A link for the next page of event channels
          type: string
    EventChannelProperties:
      description: Properties of the Event Channel.
      type: object
      properties:
        source:
          $ref: '#/components/schemas/EventChannelSource'
          description: Source of the event channel. This represents a unique resource in the partner's resource model.
        destination:
          $ref: '#/components/schemas/EventChannelDestination'
          description: Represents the destination of an event channel.
        provisioningState:
          description: Provisioning state of the event channel.
          enum:
          - Creating
          - Updating
          - Deleting
          - Succeeded
          - Canceled
          - Failed
          type: string
          readOnly: true
          x-ms-enum:
            name: EventChannelProvisioningState
            modelAsString: true
        partnerTopicReadinessState:
          description: The readiness state of the corresponding partner topic.
          enum:
          - NotActivatedByUserYet
          - ActivatedByUser
          - DeactivatedByUser
          - DeletedByUser
          type: string
          readOnly: true
          x-ms-enum:
            name: PartnerTopicReadinessState
            modelAsString: true
        expirationTimeIfNotActivatedUtc:
          format: date-time
          description: 'Expiration time of the event channel. If this timer expires while the corresponding partner topic is never activated,

            the event channel and corresponding partner topic are deleted.'
          type: string
        filter:
          $ref: '#/components/schemas/EventChannelFilter'
          description: Information about the filter for the event channel.
        partnerTopicFriendlyDescription:
          description: 'Friendly description about the topic. This can be set by the publisher/partner to show custom description for the customer partner topic.

            This will be helpful to remove any ambiguity of the origin of creation of the partner topic for the customer.'
          type: string
    EventChannelFilter:
      description: Filter for the Event Channel.
      type: object
      properties:
        enableAdvancedFilteringOnArrays:
          description: Allows advanced filters to be evaluated against an array of values instead of expecting a singular value. The default value is either false or null.
          default: false
          type: boolean
        advancedFilters:
          description: An array of advanced filters that are used for filtering event channels.
          type: array
          items:
            $ref: '#/components/schemas/AdvancedFilter'
          x-ms-identifiers: []
    Resource:
      description: Definition of a Resource
      type: object
      properties:
        id:
          description: Fully qualified identifier of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the resource.
          type: string
          readOnly: true
        type:
          description: Type of the resource.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    AdvancedFilter:
      description: This is the base type that represents an advanced filter. To configure an advanced filter, do not directly instantiate an object of this class. Instead, instantiate an object of a derived class such as BoolEqualsAdvancedFilter, NumberInAdvancedFilter, StringEqualsAdvancedFilter etc. depending on the type of the key based on which you want to filter.
      required:
      - operatorType
      type: object
      properties:
        operatorType:
          description: The operator type used for filtering, e.g., NumberIn, StringContains, BoolEquals and others.
          enum:
          - NumberIn
          - NumberNotIn
          - NumberLessThan
          - NumberGreaterThan
          - NumberLessThanOrEquals
          - NumberGreaterThanOrEquals
          - BoolEquals
          - StringIn
          - StringNotIn
          - StringBeginsWith
          - StringEndsWith
          - StringContains
          - NumberInRange
          - NumberNotInRange
          - StringNotBeginsWith
          - StringNotEndsWith
          - StringNotContains
          - IsNullOrUndefined
          - IsNotNull
          type: string
          x-ms-enum:
            name: AdvancedFilterOperatorType
            modelAsString: true
        key:
          description: The field/property in the event based on which you want to filter.
          type: string
      discriminator:
        propertyName: operatorType
    EventChannelSource:
      description: Properties of the source of an event channel.
      type: object
      properties:
        source:
          description: 'The identifier of the resource that''s the source of the events.

            This represents a unique resource in the partner''s resource model.'
          type: string
    EventChannel:
      description: Event Channel.
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/EventChannelProperties'
          description: Properties of the EventChannel.
          x-ms-client-flatten: true
        systemData:
          description: The system metadata relating to Event Channel resource.
          type: object
          readOnly: true
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: Version of the API to be used with the client request.
      required: true
      schema:
        type: string
    TopParameter:
      name: $top
      in: query
      description: The number of results to return per page for the list operation. Valid range for top parameter is 1 to 100. If not specified, the default number of results to be returned is 20 items per page.
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      required: true
      schema:
        type: string
    FilterParameter:
      name: $filter
      in: query
      description: 'The query used to filter the search results using OData syntax. Filtering is permitted on the ''name'' property only and with limited number of OData operations. These operations are: the ''contains'' function as well as the following logical operations: not, and, or, eq (for equal), and ne (for not equal). No arithmetic operations are supported. The following is a valid filter example: $filter=contains(namE, ''PATTERN'') and name ne ''PATTERN-1''. The following is not a valid filter example: $filter=location eq ''westus''.'
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
