openapi: 3.2.0
info:
  title: Microsoft Azure CloudServiceManagementClient Cloud Services…
  description: The Cloud Service Management Client.
  version: '2022-04-04'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: CloudServicesUpdateDomain
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/cloudServices/{cloudServiceName}/updateDomains/{updateDomain}
  : put:
      tags:
      - CloudServicesUpdateDomain
      description: Updates the role instances in the specified update domain.
      operationId: microsoftAzureCloudservicesupdatedomainWalkupdatedomain
      parameters:
      - in: path
        name: resourceGroupName
        description: Name of the resource group.
        required: true
        schema:
          type: string
      - in: path
        name: cloudServiceName
        description: Name of the cloud service.
        required: true
        schema:
          type: string
      - in: path
        name: updateDomain
        description: 'Specifies an integer value that identifies the update domain. Update domains are identified with a zero-based index: the first update domain has an ID of 0, the second has an ID of 1, and so on.'
        required: true
        schema:
          type: integer
          format: int32
      - $ref: ./common.json#/parameters/SubscriptionIdParameter
      - $ref: ./common.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/CloudError
      x-ms-long-running-operation: true
      x-ms-examples:
        Update Cloud Service to specified Domain:
          $ref: ./examples/CloudServiceUpdateDomain_Update.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDomain'
        description: The update domain object.
    get:
      tags:
      - CloudServicesUpdateDomain
      description: Gets the specified update domain of a cloud service. Use nextLink property in the response to get the next page of update domains. Do this till nextLink is null to fetch all the update domains.
      operationId: microsoftAzureCloudservicesupdatedomainGetupdatedomain
      parameters:
      - in: path
        name: resourceGroupName
        description: Name of the resource group.
        required: true
        schema:
          type: string
      - in: path
        name: cloudServiceName
        description: Name of the cloud service.
        required: true
        schema:
          type: string
      - in: path
        name: updateDomain
        description: 'Specifies an integer value that identifies the update domain. Update domains are identified with a zero-based index: the first update domain has an ID of 0, the second has an ID of 1, and so on.'
        required: true
        schema:
          type: integer
          format: int32
      - $ref: ./common.json#/parameters/SubscriptionIdParameter
      - $ref: ./common.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateDomain'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/CloudError
      x-ms-examples:
        Get Cloud Service Update Domain:
          $ref: ./examples/CloudServiceUpdateDomain_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/cloudServices/{cloudServiceName}/updateDomains
  : get:
      tags:
      - CloudServicesUpdateDomain
      description: Gets a list of all update domains in a cloud service.
      operationId: microsoftAzureCloudservicesupdatedomainListupdatedomains
      parameters:
      - in: path
        name: resourceGroupName
        description: Name of the resource group.
        required: true
        schema:
          type: string
      - in: path
        name: cloudServiceName
        description: Name of the cloud service.
        required: true
        schema:
          type: string
      - $ref: ./common.json#/parameters/SubscriptionIdParameter
      - $ref: ./common.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateDomainListResult'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/CloudError
      x-ms-examples:
        List Update Domains in Cloud Service:
          $ref: ./examples/CloudServiceUpdateDomain_List.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    UpdateDomainListResult:
      description: The list operation result.
      type: object
      properties:
        value:
          description: The list of resources.
          type: array
          items:
            $ref: '#/components/schemas/UpdateDomain'
        nextLink:
          description: The URI to fetch the next page of resources. Use this to get the next page of resources. Do this till nextLink is null to fetch all the resources.
          type: string
      required:
      - value
    UpdateDomain:
      description: Defines an update domain for the cloud service.
      type: object
      properties:
        id:
          description: Resource Id
          type: string
          readOnly: true
        name:
          description: Resource Name
          type: string
          readOnly: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
