openapi: 3.2.0
info:
  title: Microsoft Azure Workflows API
  version: '1.0'
  description: 'Operations tagged Workflows across 3 of this provider''s published API definitions: logicmanagementclient-openapi-original.yml, purview-workflow-service-openapi-original.yml, webapps-api-client-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
- url: https://purview.azure.com/workflow
tags:
- name: Workflows
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Logic/workflows:
    get:
      tags:
      - Workflows
      operationId: microsoftAzureWorkflowsListbysubscription
      description: Gets a list of workflows by subscription.
      x-ms-examples:
        List all workflows in a subscription:
          $ref: ./examples/Workflows_ListBySubscription.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/api-version'
      - name: $top
        description: The number of items to be included in the result.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: $filter
        description: 'The filter to apply on the operation. Options for filters include: State, Trigger, and ReferencedResourceId.'
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/WorkflowFilter'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Logic…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows:
    get:
      tags:
      - Workflows
      operationId: microsoftAzureWorkflowsListbyresourcegroup
      description: Gets a list of workflows by resource group.
      x-ms-examples:
        List all workflows in a resource group:
          $ref: ./examples/Workflows_ListByResourceGroup.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      - name: $top
        description: The number of items to be included in the result.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: $filter
        description: 'The filter to apply on the operation. Options for filters include: State, Trigger, and ReferencedResourceId.'
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/WorkflowFilter'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}:
    get:
      tags:
      - Workflows
      operationId: microsoftAzureWorkflowsGet
      description: Gets a workflow.
      x-ms-examples:
        Get a workflow:
          $ref: ./examples/Workflows_Get.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    put:
      tags:
      - Workflows
      operationId: microsoftAzureWorkflowsCreateorupdate
      description: Creates or updates a workflow.
      x-ms-examples:
        Create or update a workflow:
          $ref: ./examples/Workflows_CreateOrUpdate.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workflow'
        description: The workflow.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    patch:
      tags:
      - Workflows
      operationId: microsoftAzureWorkflowsUpdate
      description: Updates a workflow.
      x-ms-examples:
        Patch a workflow:
          $ref: ./examples/Workflows_Update.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workflow'
        description: The workflow.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - Workflows
      operationId: microsoftAzureWorkflowsDelete
      description: Deletes a workflow.
      x-ms-examples:
        Delete a workflow:
          $ref: ./examples/Workflows_Delete.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/disable
  : post:
      tags:
      - Workflows
      operationId: microsoftAzureWorkflowsDisable
      description: Disables a workflow.
      x-ms-examples:
        Disable a workflow:
          $ref: ./examples/Workflows_Disable.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/enable
  : post:
      tags:
      - Workflows
      operationId: microsoftAzureWorkflowsEnable
      description: Enables a workflow.
      x-ms-examples:
        Enable a workflow:
          $ref: ./examples/Workflows_Enable.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/generateUpgradedDefinition
  : post:
      tags:
      - Workflows
      operationId: microsoftAzureWorkflowsGenerateupgradeddefinition
      description: Generates the upgraded definition for a workflow.
      x-ms-examples:
        Generate an upgraded definition:
          $ref: ./examples/Workflows_GenerateUpgradedDefinition.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateUpgradedDefinitionParameters'
        description: Parameters for generating an upgraded definition.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/listCallbackUrl
  : post:
      tags:
      - Workflows
      operationId: microsoftAzureWorkflowsListcallbackurl
      description: Get the workflow callback Url.
      x-ms-examples:
        Get callback url:
          $ref: ./examples/Workflows_ListCallbackUrl.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowTriggerCallbackUrl'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetCallbackUrlParameters'
        description: Which callback url to list.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/listSwagger
  : post:
      tags:
      - Workflows
      operationId: microsoftAzureWorkflowsListswagger
      description: Gets an OpenAPI definition for the workflow.
      x-ms-examples:
        Get the swagger for a workflow:
          $ref: ./examples/Workflows_ListSwagger.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/move:
    post:
      tags:
      - Workflows
      operationId: microsoftAzureWorkflowsMove
      description: Moves an existing workflow.
      x-ms-examples:
        Move a workflow:
          $ref: ./examples/Workflows_Move.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: No Content
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workflow'
        description: The workflow to move.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/regenerateAccessKey
  : post:
      tags:
      - Workflows
      operationId: microsoftAzureWorkflowsRegenerateaccesskey
      description: Regenerates the callback URL access key for request triggers.
      x-ms-examples:
        Regenerate the callback URL access key for request triggers:
          $ref: ./examples/Workflows_RegenerateAccessKey.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegenerateActionParameter'
        description: The access key type.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/validate
  : post:
      tags:
      - Workflows
      operationId: microsoftAzureWorkflowsValidatebyresourcegroup
      description: Validates the workflow.
      x-ms-examples:
        Validate a workflow:
          $ref: ./examples/Workflows_ValidateByResourceGroup.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workflow'
        description: The workflow.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/locations/{location}/workflows/{workflowName}/validate
  : post:
      tags:
      - Workflows
      operationId: microsoftAzureWorkflowsValidatebylocation
      description: Validates the workflow definition.
      x-ms-examples:
        Validate a workflow:
          $ref: ./examples/Workflows_ValidateByLocation.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: location
        description: The workflow location.
        in: path
        required: true
        schema:
          type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workflow'
        description: The workflow definition.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /workflows:
    get:
      tags:
      - Workflows
      description: List all workflows.
      operationId: microsoftAzureListworkflows
      x-ms-examples:
        Workflows_List:
          $ref: ./examples/ListWorkflows.json
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - $ref: '#/components/parameters/api-version_2'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowMetadataList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Workflows
      security:
      - azure_auth:
        - https://purview.azure.net/.default
    servers:
    - url: https://purview.azure.com/workflow
  /workflows/{workflowId}:
    get:
      tags:
      - Workflows
      description: Get a specific workflow.
      operationId: microsoftAzureGetworkflow
      x-ms-examples:
        Workflow_Get:
          $ref: ./examples/GetWorkflow.json
      parameters:
      - $ref: '#/components/parameters/workflowId'
      - $ref: '#/components/parameters/api-version_2'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Workflows Workflowid
      security:
      - azure_auth:
        - https://purview.azure.net/.default
    put:
      tags:
      - Workflows
      description: Create or replace a workflow.
      operationId: microsoftAzureCreateorreplaceworkflow
      x-ms-examples:
        Workflow_CreateOrUpdate:
          $ref: ./examples/CreateOrReplaceWorkflow.json
      parameters:
      - $ref: '#/components/parameters/workflowId'
      - $ref: '#/components/parameters/api-version_2'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Put Workflows Workflowid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkflowCreateOrUpdateCommand'
        description: Create or update workflow payload.
        required: true
      security:
      - azure_auth:
        - https://purview.azure.net/.default
    delete:
      tags:
      - Workflows
      description: Delete a workflow.
      operationId: microsoftAzureDeleteworkflow
      x-ms-examples:
        Workflow_Delete:
          $ref: ./examples/DeleteWorkflow.json
      parameters:
      - $ref: '#/components/parameters/workflowId'
      - $ref: '#/components/parameters/api-version_2'
      responses:
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Delete Workflows Workflowid
      security:
      - azure_auth:
        - https://purview.azure.net/.default
    servers:
    - url: https://purview.azure.com/workflow
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/hostruntime/runtime/webhooks/workflow/api/management/workflows/{workflowName}/regenerateAccessKey
  : post:
      tags:
      - Workflows
      operationId: microsoftAzureWorkflowsRegenerateaccesskey
      description: Regenerates the callback URL access key for request triggers.
      x-ms-examples:
        Regenerate the callback URL access key for request triggers:
          $ref: ./examples/Workflows_RegenerateAccessKey.json
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/siteNameParameter'
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegenerateActionParameter'
        description: The access key type.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/hostruntime/runtime/webhooks/workflow/api/management/workflows/{workflowName}/validate
  : post:
      tags:
      - Workflows
      operationId: microsoftAzureWorkflowsValidate
      description: Validates the workflow definition.
      x-ms-examples:
        Validate a workflow:
          $ref: ./examples/Workflows_Validate.json
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/siteNameParameter'
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workflow_3'
        description: The workflow.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
components:
  schemas:
    GenerateUpgradedDefinitionParameters:
      type: object
      properties:
        targetSchemaVersion:
          type: string
          description: The target schema version.
      description: The parameters to generate upgraded definition.
    GetCallbackUrlParameters:
      type: object
      properties:
        notAfter:
          type: string
          format: date-time
          description: The expiry time.
        keyType:
          $ref: '#/components/schemas/KeyType'
          description: The key type.
      description: The callback url parameters.
    WorkflowListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Workflow'
          description: The list of workflows.
        nextLink:
          type: string
          description: The URL to get the next set of results.
      description: The list of workflows.
    WorkflowProvisioningState:
      type: string
      enum:
      - NotSpecified
      - Accepted
      - Running
      - Ready
      - Creating
      - Created
      - Deleting
      - Deleted
      - Canceled
      - Failed
      - Succeeded
      - Moving
      - Updating
      - Registering
      - Registered
      - Unregistering
      - Unregistered
      - Completed
      x-ms-enum:
        name: WorkflowProvisioningState
        modelAsString: true
    ResourceReference:
      type: object
      properties:
        id:
          type: string
          description: The resource id.
        name:
          type: string
          readOnly: true
          description: Gets the resource name.
        type:
          type: string
          readOnly: true
          description: Gets the resource type.
      description: The resource reference.
    WorkflowState:
      type: string
      enum:
      - NotSpecified
      - Completed
      - Enabled
      - Disabled
      - Deleted
      - Suspended
      x-ms-enum:
        name: WorkflowState
        modelAsString: true
    WorkflowParameter:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/ParameterType'
          description: The type.
        value:
          $ref: '#/components/schemas/Object'
          description: The value.
        metadata:
          $ref: '#/components/schemas/Object'
          description: The metadata.
        description:
          type: string
          description: The description.
      description: The workflow parameters.
    KeyType:
      type: string
      enum:
      - NotSpecified
      - Primary
      - Secondary
      x-ms-enum:
        name: KeyType
        modelAsString: true
    RegenerateActionParameter:
      type: object
      properties:
        keyType:
          $ref: '#/components/schemas/KeyType'
          description: The key type.
      description: The access key regenerate action content.
    WorkflowTriggerListCallbackUrlQueries:
      type: object
      properties:
        api-version:
          type: string
          description: The api version.
        sp:
          type: string
          description: The SAS permissions.
        sv:
          type: string
          description: The SAS version.
        sig:
          type: string
          description: The SAS signature.
        se:
          type: string
          description: The SAS timestamp.
      description: Gets the workflow trigger callback URL query parameters.
    SkuName:
      type: string
      enum:
      - NotSpecified
      - Free
      - Shared
      - Basic
      - Standard
      - Premium
      x-ms-enum:
        name: SkuName
        modelAsString: true
      description: The sku name.
    ParameterType:
      type: string
      enum:
      - NotSpecified
      - String
      - SecureString
      - Int
      - Float
      - Bool
      - Array
      - Object
      - SecureObject
      x-ms-enum:
        name: ParameterType
        modelAsString: true
    Workflow:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/WorkflowProperties'
          description: The workflow properties.
      description: The workflow type.
      allOf:
      - $ref: '#/components/schemas/Resource'
    WorkflowProperties:
      type: object
      properties:
        provisioningState:
          $ref: '#/components/schemas/WorkflowProvisioningState'
          readOnly: true
          description: Gets the provisioning state.
        createdTime:
          type: string
          format: date-time
          readOnly: true
          description: Gets the created time.
        changedTime:
          type: string
          format: date-time
          readOnly: true
          description: Gets the changed time.
        state:
          $ref: '#/components/schemas/WorkflowState'
          description: The state.
        version:
          type: string
          readOnly: true
          description: Gets the version.
        accessEndpoint:
          type: string
          readOnly: true
          description: Gets the access endpoint.
        sku:
          $ref: '#/components/schemas/Sku'
          description: The sku.
        integrationAccount:
          $ref: '#/components/schemas/ResourceReference'
          description: The integration account.
        definition:
          $ref: '#/components/schemas/Object'
          description: The definition. See [Schema reference for Workflow Definition Language in Azure Logic Apps](https://aka.ms/logic-apps-workflow-definition-language).
        parameters:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/WorkflowParameter'
          description: The parameters.
      description: The workflow properties.
    Resource:
      properties:
        id:
          type: string
          readOnly: true
          description: The resource id.
        name:
          type: string
          readOnly: true
          description: Gets the resource name.
        type:
          type: string
          readOnly: true
          description: Gets the resource type.
        location:
          type: string
          description: The resource location.
        tags:
          type: object
          additionalProperties:
            type: string
          description: The resource tags.
      x-ms-azure-resource: true
      description: The base resource type.
    Object:
      type: object
      properties: {}
    WorkflowTriggerCallbackUrl:
      type: object
      properties:
        value:
          type: string
          readOnly: true
          description: Gets the workflow trigger callback URL.
        method:
          type: string
          readOnly: true
          description: Gets the workflow trigger callback URL HTTP method.
        basePath:
          type: string
          readOnly: true
          description: Gets the workflow trigger callback URL base path.
        relativePath:
          type: string
          readOnly: true
          description: Gets the workflow trigger callback URL relative path.
        relativePathParameters:
          type: array
          items:
            type: string
          description: Gets the workflow trigger callback URL relative path parameters.
        queries:
          $ref: '#/components/schemas/WorkflowTriggerListCallbackUrlQueries'
          description: Gets the workflow trigger callback URL query parameters.
      description: The workflow trigger callback URL.
    Sku:
      type: object
      required:
      - name
      properties:
        name:
          $ref: '#/components/schemas/SkuName'
          description: The name.
        plan:
          $ref: '#/components/schemas/ResourceReference'
          description: The reference to plan.
      description: The sku type.
    ErrorModel:
      description: Default error model
      type: object
      properties:
        code:
          description: Gets or sets the code.
          type: string
        details:
          description: Gets or sets the details.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/ErrorModel'
          x-ms-identifiers:
          - code
        message:
          description: Gets or sets the messages.
          type: string
        target:
          description: Gets or sets the target.
          type: string
      required:
      - code
      - message
    Workflow_2:
      description: The workflow properties. It includes the triggers, actual flow and other properties of a workflow.
      allOf:
      - $ref: '#/components/schemas/WorkflowMetadata'
      - type: object
        properties:
          actionDag:
            type: object
            description: The action DAG(Directed Acyclic Graph), it defines steps to be executed in a workflow run and their order.
        required:
        - actionDag
    WorkflowMetadataList:
      type: object
      description: The workflow list.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowMetadata'
          description: The value of workflow list.
        nextLink:
          type: string
          description: The URL to get the next set of results.
      required:
      - value
    WorkflowMetadata:
      description: The workflow metadata, action DAGs are not included.
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The id of workflow.
        triggers:
          $ref: '#/components/schemas/Triggers'
        createdTime:
          type: string
          format: date-time
          description: The created time of workflow.
        createdBy:
          type: string
          description: The person who created the workflow.
        lastUpdateTime:
          type: string
          format: date-time
          description: The last update time.
        updatedBy:
          type: string
          description: The person who updated the workflow.
        name:
          type: string
          description: The name of a workflow.
        isEnabled:
          type: boolean
          description: Whether the workflow is enabled or not.
        description:
          type: string
          description: Description of a workflow.
      required:
      - id
      - triggers
      - name
      - isEnabled
      - description
    Trigger:
      type: object
      description: Describes under what condition a workflow will run.
      properties:
        type:
          type: string
          enum:
          - when_term_creation_is_requested
          - when_term_deletion_is_requested
          - when_term_update_is_requested
          - when_terms_import_is_requested
          - when_data_access_grant_is_requested
          - when_asset_update_is_requested
          x-ms-enum:
            name: TriggerType
            modelAsString: true
        underGlossaryHierarchy:
          type: string
          description: Glossary term hierarchy path.
        underCollection:
          type: string
          description: The collection name.
        underGlossary:
          type: string
          description: The glossary guid.
      required:
      - type
    WorkflowCreateOrUpdateCommand:
      type: object
      description: Create or update workflow payload.
      properties:
        triggers:
          $ref: '#/components/schemas/Triggers'
        name:
          type: string
          description: The workflow name.
        isEnabled:
          type: boolean
          description: Whether the workflow enabled or not.
        description:
          type: string
          description: Description of a workflow.
        actionDag:
          type: object
          description: The action DAG(Directed Acyclic Graph), it defines actual flow.
      required:
      - triggers
      - name
      - isEnabled
      - description
    ErrorResponse:
      description: Default error response model
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorModel'
      required:
      - error
    Triggers:
      type: array
      description: 'It describes under what condition a workflow will run.  '
      items:
        $ref: '#/components/schemas/Trigger'
    FlowEndpointsConfiguration:
      type: object
      description: The endpoints configuration.
      properties:
        workflow:
          $ref: '#/components/schemas/FlowEndpoints'
          description: The workflow endpoints.
        connector:
          $ref: '#/components/schemas/FlowEndpoints'
          description: The connector endpoints.
    OpenAuthenticationPolicyClaim:
      type: object
      description: Open authentication policy claim.
      properties:
        name:
          type: string
          description: The name of the claim.
        value:
          type: string
          description: The value of the claim.
    WorkflowProvisioningState_2:
      type: string
      description: The workflow provisioning state.
      enum:
      - NotSpecified
      - Accepted
      - Running
      - Ready
      - Creating
      - Created
      - Deleting
      - Deleted
      - Canceled
      - Failed
      - Succeeded
      - Moving
      - Updating
      - Registering
      - Registered
      - Unregistering
      - Unregistered
      - Completed
      - Renewing
      - Pending
      - Waiting
      - InProgress
      x-ms-enum:
        name: WorkflowProvisioningState
        modelAsString: true
    OpenAuthenticationProviderType:
      type: string
      description: Open authentication policy provider type.
      enum:
      - AAD
      x-ms-enum:
        name: OpenAuthenticationProviderType
        modelAsString: true
    WorkflowResource:
      type: object
      properties:
        id:
          type: string
          readOnly: true
          description: The resource id.
        name:
          type: string
          readOnly: true
          description: Gets the resource name.
        type:
          type: string
          readOnly: true
          description: Gets the resource type.
        location:
          type: string
          description: The resource location.
        tags:
          type: object
          additionalProperties:
            type: string
          description: The resource tags.
      x-ms-azure-resource: true
      description: The base resource type.
    WorkflowState_2:
      type: string
      description: The workflow state.
      enum:
      - NotSpecified
      - Completed
      - Enabled
      - Disabled
      - Deleted
      - Suspended
      x-ms-enum:
        name: WorkflowState
        modelAsString: true
    KeyType_2:
      type: string
      description: The key type.
      enum:
      - NotSpecified
      - Primary
      - Secondary
      x-ms-enum:
        name: KeyType
        modelAsString: true
    FlowEndpoints:
      type: object
      description: The flow endpoints configuration.
      properties:
        outgoingIpAddresses:
          type: array
          description: The outgoing ip address.
          items:
            $ref: '#/components/schemas/IpAddress'
            description: The ip address.
          x-ms-identifiers:
          - address
        accessEndpointIpAddresses:
          type: array
          description: The access endpoint ip address.
          items:
            $ref: '#/components/schemas/IpAddress'
            description: The ip address.
          x-ms-identifiers:
          - address
    IpAddressRange:
      type: object
      description: The ip address range.
      properties:
        addressRange:
          type: string
          description: The IP address range.
    ErrorResponse_2:
      description: Error response indicates Logic service is not able to process the incoming request. The error property contains the error details.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorProperties'
          description: The error properties.
    ParameterType_2:
      type: string
      description: The parameter type.
      enum:
      - NotSpecified
      - String
      - SecureString
      - Int
      - Float
      - Bool
      - Array
      - Object
      - SecureObject
      x-ms-enum:
        name: ParameterType
        modelAsString: true
    Kind:
      type: string
      enum:
      - Stateful
      - Stateless
      x-ms-enum:
        name: Kind
        modelAsString: true
      description: The workflow kind.
    IpAddress:
      type: object
      description: The ip address.
      properties:
        address:
          type: string
          description: The address.
    Workflow_3:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/WorkflowProperties_2'
          description: The workflow properties.
        identity:
          $ref: ./CommonDefinitions.json#/definitions/ManagedServiceIdentity
      description: The workflow type.
      allOf:
      - $ref: '#/components/schemas/WorkflowResource'
    WorkflowSkuName:
      type: string
      enum:
      - NotSpecified
      - Free
      - Shared
      - Basic
      - Standard
      - Premium
      x-ms-enum:
        name: WorkflowSkuName
        modelAsString: true
      description: The sku name.
    OpenAuthenticationAccessPolicy:
      type: object
      description: Open authentication access policy defined by user.
      properties:
        type:
          $ref: '#/components/schemas/OpenAuthenticationProviderType'
          description: Type of provider for OAuth.
        claims:
          type: array
          description: The access policy claims.
          items:
            $ref: '#/components/schemas/OpenAuthenticationPolicyClaim'
            description: The access policy claim.
          x-ms-identifiers:
          - name
    WorkflowProperties_2:
      type: object
      properties:
        provisioningState:
          $ref: '#/components/schemas/WorkflowProvisioningState_2'
          readOnly: true
          description: Gets the provisioning state.
        createdTime:
          type: string
          format: date-time
          readOnly: true
          description: Gets the created time.
        changedTime:
          type: string
          format: date-time
          readOnly: true
          description: Gets the changed time.
        state:
          $ref: '#/components/schemas/WorkflowState_2'
          description: The state.
        version:
          type: string
          readOnly: true
          description: Gets the version.
        accessEndpoint:
          type: string
          readOnly: true
          description: Gets the access endpoint.
        endpointsConfiguration:
          $ref: '#/components/schemas/FlowEndpointsConfiguration'
          description: The endpoints configuration.
        accessControl:
          $ref: '#/components/schemas/FlowAccessControlConfiguration'
          description: The access control configuration.
        sku:
          $ref: '#/components/schemas/WorkflowSku'
          readOnly: true
          description: The sku.
        integrationAccount:
          $ref: '#/components/schemas/ResourceReference'
          description: The integration account.
        integrationServiceEnvironment:
          $ref: '#/components/schemas/ResourceReference'
          description: The integration service environment.
        definition:
          $ref: '#/components/schemas/Object'
          description: The definition.
        parameters:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/WorkflowParameter'
          description: The parameters.
        kind:
          $ref: '#/components/schemas/Kind'
          description: The workflow kind.
      description: The workflow properties.
    FlowAccessControlConfiguration:
      type: object
      description: The access control configuration.
      properties:
        triggers:
          $ref: '#/components/schemas/FlowAccessControlConfigurationPolicy'
          description: The access control configuration for invoking workflow triggers.
        contents:
          $ref: '#/components/schemas/FlowAccessControlConfigurationPolicy'
          description: The access control configuration for accessing workflow run contents.
        actions:
          $ref: '#/components/schemas/FlowAccessControlConfigurationPolicy'
          description: The access control configuration for workflow actions.
        workflowManagement:
          $ref: '#/components/schemas/FlowAccessControlConfigurationPolicy'
          description: The access control configuration for workflow management.
    WorkflowSku:
      type: object
      description: The sku type.
      required:
      - name
      properties:
        name:
          $ref: '#/components/schemas/WorkflowSkuName'
          description: The name.
        plan:
          $ref: '#/components/schemas/ResourceReference'
          description: The reference to plan.
    FlowAccessControlConfigurationPolicy:
      type: object
      description: The access control configuration policy.
      properties:
        allowedCallerIpAddresses:
          type: array
          description: The allowed caller IP address ranges.
          items:
            $ref: '#/components/schemas/IpAddressRange'
            description: The ip address range.
          x-ms-identifiers: []
        openAuthenticationPolicies:
          $ref: '#/components/schemas/OpenAuthenticationAccessPolicies'
          description: The authentication policies for workflow.
    OpenAuthenticationAccessPolicies:
      type: object
      description: AuthenticationPolicy of type Open.
      properties:
        policies:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/OpenAuthenticationAccessPolicy'
          description: Open authentication policies.
    ErrorProperties:
      description: Error properties indicate why the Logic service was not able to process the incoming request. The reason is provided in the error message.
      type: object
      properties:
        code:
          description: Error code.
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
  parameters:
    api-version:
      name: api-version
      description: The API version.
      in: query
      required: true
      schema:
        type: string
    subscriptionId:
      name: subscriptionId
      description: The subscription id.
      in: path
      required: true
      schema:
        type: string
    workflowId:
      name: workflowId
      in: path
      required: true
      description: The workflow id.
      x-ms-parameter-location: method
      schema:
        type: string
        format: uuid
    api-version_2:
      name: api-version
      description: Version of Purview APIs
      in: query
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: Name of the resource group to which the resource belongs.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
        pattern: ^[-\w\._\(\)]+[^\.]$
    apiVersionParameter:
      name: api-version
      in: query
      description: API Version
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    siteNameParameter:
      name: name
      in: path
      description: Site name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-refined-from:
- logicmanagementclient-openapi-original.yml
- purview-workflow-service-openapi-original.yml
- webapps-api-client-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
