openapi: 3.2.0
info:
  title: Microsoft Azure CloudServiceManagementClient Cloud Services…
  description: The Cloud Service Management Client.
  version: '2022-04-04'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: CloudServices
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/cloudServices/{cloudServiceName}
  : put:
      tags:
      - CloudServices
      description: Create or update a cloud service. Please note some properties can be set only during cloud service creation.
      operationId: microsoftAzureCloudservicesCreateorupdate
      parameters:
      - in: path
        name: resourceGroupName
        description: Name of the resource group.
        required: true
        schema:
          type: string
      - in: path
        name: cloudServiceName
        description: Name of the cloud service.
        required: true
        schema:
          type: string
      - $ref: ./common.json#/parameters/SubscriptionIdParameter
      - $ref: ./common.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudService'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudService'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/CloudError
      x-ms-long-running-operation: true
      x-ms-examples:
        Create New Cloud Service with Single Role:
          $ref: ./examples/CloudService_Create_WithSingleRole.json
        Create New Cloud Service with Single Role and RDP Extension:
          $ref: ./examples/CloudService_Create_WithSingleRoleAndRDP.json
        Create New Cloud Service with Multiple Roles:
          $ref: ./examples/CloudService_Create_WithMultiRole.json
        Create New Cloud Service with Single Role and Certificate from Key Vault:
          $ref: ./examples/CloudService_Create_WithSingleRoleAndCertificate.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudService'
        description: The cloud service object.
    patch:
      tags:
      - CloudServices
      description: Update a cloud service.
      operationId: microsoftAzureCloudservicesUpdate
      parameters:
      - in: path
        name: resourceGroupName
        description: Name of the resource group.
        required: true
        schema:
          type: string
      - in: path
        name: cloudServiceName
        description: Name of the cloud service.
        required: true
        schema:
          type: string
      - $ref: ./common.json#/parameters/SubscriptionIdParameter
      - $ref: ./common.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudService'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/CloudError
      x-ms-long-running-operation: true
      x-ms-examples:
        Update existing Cloud Service to add tags:
          $ref: ./examples/CloudService_Update_ToIncludeTags.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudServiceUpdate'
        description: The cloud service object.
    delete:
      tags:
      - CloudServices
      description: Deletes a cloud service.
      operationId: microsoftAzureCloudservicesDelete
      parameters:
      - in: path
        name: resourceGroupName
        description: Name of the resource group.
        required: true
        schema:
          type: string
      - in: path
        name: cloudServiceName
        description: Name of the cloud service.
        required: true
        schema:
          type: string
      - $ref: ./common.json#/parameters/SubscriptionIdParameter
      - $ref: ./common.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/CloudError
      x-ms-long-running-operation: true
      x-ms-examples:
        Delete Cloud Service:
          $ref: ./examples/CloudService_Delete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    get:
      tags:
      - CloudServices
      description: Display information about a cloud service.
      operationId: microsoftAzureCloudservicesGet
      parameters:
      - in: path
        name: resourceGroupName
        description: Name of the resource group.
        required: true
        schema:
          type: string
      - in: path
        name: cloudServiceName
        description: Name of the cloud service.
        required: true
        schema:
          type: string
      - $ref: ./common.json#/parameters/SubscriptionIdParameter
      - $ref: ./common.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudService'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/CloudError
      x-ms-examples:
        Get Cloud Service with Multiple Roles and RDP Extension:
          $ref: ./examples/CloudService_Get_WithMultiRoleAndRDP.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/cloudServices/{cloudServiceName}/instanceView
  : get:
      tags:
      - CloudServices
      description: Gets the status of a cloud service.
      operationId: microsoftAzureCloudservicesGetinstanceview
      parameters:
      - in: path
        name: resourceGroupName
        description: Name of the resource group.
        required: true
        schema:
          type: string
      - in: path
        name: cloudServiceName
        description: Name of the cloud service.
        required: true
        schema:
          type: string
      - $ref: ./common.json#/parameters/SubscriptionIdParameter
      - $ref: ./common.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudServiceInstanceView'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/CloudError
      x-ms-examples:
        Get Cloud Service Instance View with Multiple Roles:
          $ref: ./examples/CloudService_Get_InstanceViewWithMultiRole.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/cloudServices:
    get:
      tags:
      - CloudServices
      description: Gets a list of all cloud services in the subscription, regardless of the associated resource group. Use nextLink property in the response to get the next page of Cloud Services. Do this till nextLink is null to fetch all the Cloud Services.
      operationId: microsoftAzureCloudservicesListall
      parameters:
      - $ref: ./common.json#/parameters/SubscriptionIdParameter
      - $ref: ./common.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudServiceListResult'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/CloudError
      x-ms-examples:
        List Cloud Services in a Subscription:
          $ref: ./examples/CloudService_List_BySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Compute…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/cloudServices:
    get:
      tags:
      - CloudServices
      description: Gets a list of all cloud services under a resource group. Use nextLink property in the response to get the next page of Cloud Services. Do this till nextLink is null to fetch all the Cloud Services.
      operationId: microsoftAzureCloudservicesList
      parameters:
      - in: path
        name: resourceGroupName
        description: Name of the resource group.
        required: true
        schema:
          type: string
      - $ref: ./common.json#/parameters/SubscriptionIdParameter
      - $ref: ./common.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudServiceListResult'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/CloudError
      x-ms-examples:
        List Cloud Services in a Resource Group:
          $ref: ./examples/CloudService_List_ByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/cloudServices/{cloudServiceName}/start
  : post:
      tags:
      - CloudServices
      description: Starts the cloud service.
      operationId: microsoftAzureCloudservicesStart
      parameters:
      - in: path
        name: resourceGroupName
        description: Name of the resource group.
        required: true
        schema:
          type: string
      - in: path
        name: cloudServiceName
        description: Name of the cloud service.
        required: true
        schema:
          type: string
      - $ref: ./common.json#/parameters/SubscriptionIdParameter
      - $ref: ./common.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/CloudError
      x-ms-long-running-operation: true
      x-ms-examples:
        Start Cloud Service:
          $ref: ./examples/CloudService_Start.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/cloudServices/{cloudServiceName}/poweroff
  : post:
      tags:
      - CloudServices
      description: Power off the cloud service. Note that resources are still attached and you are getting charged for the resources.
      operationId: microsoftAzureCloudservicesPoweroff
      parameters:
      - in: path
        name: resourceGroupName
        description: Name of the resource group.
        required: true
        schema:
          type: string
      - in: path
        name: cloudServiceName
        description: Name of the cloud service.
        required: true
        schema:
          type: string
      - $ref: ./common.json#/parameters/SubscriptionIdParameter
      - $ref: ./common.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/CloudError
      x-ms-long-running-operation: true
      x-ms-examples:
        Stop or PowerOff Cloud Service:
          $ref: ./examples/CloudService_PowerOff.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/cloudServices/{cloudServiceName}/restart
  : post:
      tags:
      - CloudServices
      description: Restarts one or more role instances in a cloud service.
      operationId: microsoftAzureCloudservicesRestart
      parameters:
      - in: path
        name: resourceGroupName
        description: Name of the resource group.
        required: true
        schema:
          type: string
      - in: path
        name: cloudServiceName
        description: Name of the cloud service.
        required: true
        schema:
          type: string
      - $ref: ./common.json#/parameters/SubscriptionIdParameter
      - $ref: ./common.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/CloudError
      x-ms-long-running-operation: true
      x-ms-examples:
        Restart Cloud Service Role Instances in a Cloud Service:
          $ref: ./examples/CloudServiceRoleInstance_Restart_ByCloudService.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleInstances'
        description: List of cloud service role instance names.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/cloudServices/{cloudServiceName}/reimage
  : post:
      tags:
      - CloudServices
      description: Reimage asynchronous operation reinstalls the operating system on instances of web roles or worker roles.
      operationId: microsoftAzureCloudservicesReimage
      parameters:
      - in: path
        name: resourceGroupName
        description: Name of the resource group.
        required: true
        schema:
          type: string
      - in: path
        name: cloudServiceName
        description: Name of the cloud service.
        required: true
        schema:
          type: string
      - $ref: ./common.json#/parameters/SubscriptionIdParameter
      - $ref: ./common.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/CloudError
      x-ms-long-running-operation: true
      x-ms-examples:
        Reimage Cloud Service Role Instances in a Cloud Service:
          $ref: ./examples/CloudServiceRoleInstance_Reimage_ByCloudService.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleInstances'
        description: List of cloud service role instance names.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/cloudServices/{cloudServiceName}/rebuild
  : post:
      tags:
      - CloudServices
      description: Rebuild Role Instances reinstalls the operating system on instances of web roles or worker roles and initializes the storage resources that are used by them. If you do not want to initialize storage resources, you can use Reimage Role Instances.
      operationId: microsoftAzureCloudservicesRebuild
      parameters:
      - in: path
        name: resourceGroupName
        description: Name of the resource group.
        required: true
        schema:
          type: string
      - in: path
        name: cloudServiceName
        description: Name of the cloud service.
        required: true
        schema:
          type: string
      - $ref: ./common.json#/parameters/SubscriptionIdParameter
      - $ref: ./common.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/CloudError
      x-ms-long-running-operation: true
      x-ms-examples:
        Rebuild Cloud Service Role Instances in a Cloud Service:
          $ref: ./examples/CloudServiceRoleInstance_Rebuild_ByCloudService.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleInstances'
        description: List of cloud service role instance names.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/cloudServices/{cloudServiceName}/delete
  : post:
      tags:
      - CloudServices
      description: Deletes role instances in a cloud service.
      operationId: microsoftAzureCloudservicesDeleteinstances
      parameters:
      - in: path
        name: resourceGroupName
        description: Name of the resource group.
        required: true
        schema:
          type: string
      - in: path
        name: cloudServiceName
        description: Name of the cloud service.
        required: true
        schema:
          type: string
      - $ref: ./common.json#/parameters/SubscriptionIdParameter
      - $ref: ./common.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/CloudError
      x-ms-long-running-operation: true
      x-ms-examples:
        Delete Cloud Service Role Instances in a Cloud Service:
          $ref: ./examples/CloudServiceRoleInstance_Delete_ByCloudService.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleInstances'
        description: List of cloud service role instance names.
components:
  schemas:
    CloudServiceRoleProfileProperties:
      description: Describes the role properties.
      type: object
      properties:
        name:
          description: Resource name.
          type: string
        sku:
          $ref: '#/components/schemas/CloudServiceRoleSku'
    CloudServiceUpdate:
      type: object
      properties:
        tags:
          description: Resource tags
          type: object
          additionalProperties:
            type: string
    CloudServiceVaultSecretGroup:
      description: Describes a set of certificates which are all in the same Key Vault.
      type: object
      properties:
        sourceVault:
          $ref: ./common.json#/definitions/SubResource
          description: The relative URL of the Key Vault containing all of the certificates in VaultCertificates.
        vaultCertificates:
          description: The list of key vault references in SourceVault which contain certificates.
          type: array
          items:
            $ref: '#/components/schemas/CloudServiceVaultCertificate'
          x-ms-identifiers:
          - certificateUrl
    CloudServiceOsProfile:
      description: Describes the OS profile for the cloud service.
      type: object
      properties:
        secrets:
          description: Specifies set of certificates that should be installed onto the role instances.
          type: array
          items:
            $ref: '#/components/schemas/CloudServiceVaultSecretGroup'
          x-ms-identifiers:
          - sourceVault/id
    CloudServiceProperties:
      description: Cloud service properties
      type: object
      properties:
        packageUrl:
          description: 'Specifies a URL that refers to the location of the service package in the Blob service. The service package URL can be Shared Access Signature (SAS) URI from any storage account.

            This is a write-only property and is not returned in GET calls.'
          type: string
        configuration:
          description: Specifies the XML service configuration (.cscfg) for the cloud service.
          type: string
        configurationUrl:
          description: 'Specifies a URL that refers to the location of the service configuration in the Blob service. The service package URL  can be Shared Access Signature (SAS) URI from any storage account.

            This is a write-only property and is not returned in GET calls.'
          type: string
        startCloudService:
          description: '(Optional) Indicates whether to start the cloud service immediately after it is created. The default value is `true`.

            If false, the service model is still deployed, but the code is not run immediately. Instead, the service is PoweredOff until you call Start, at which time the service will be started. A deployed service still incurs charges, even if it is poweredoff.'
          type: boolean
        allowModelOverride:
          description: '(Optional) Indicates whether the role sku properties (roleProfile.roles.sku) specified in the model/template should override the role instance count and vm size specified in the .cscfg and .csdef respectively.

            The default value is `false`.'
          type: boolean
        upgradeMode:
          $ref: '#/components/schemas/CloudServiceUpgradeMode'
        roleProfile:
          $ref: '#/components/schemas/CloudServiceRoleProfile'
        osProfile:
          $ref: '#/components/schemas/CloudServiceOsProfile'
        networkProfile:
          $ref: '#/components/schemas/CloudServiceNetworkProfile'
        extensionProfile:
          $ref: '#/components/schemas/CloudServiceExtensionProfile'
        provisioningState:
          description: The provisioning state, which only appears in the response.
          type: string
          readOnly: true
        uniqueId:
          description: The unique identifier for the cloud service.
          type: string
          readOnly: true
    CloudService:
      description: Describes the cloud service.
      type: object
      properties:
        id:
          description: Resource Id.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        location:
          description: Resource location.
          type: string
        tags:
          description: Resource tags.
          type: object
          additionalProperties:
            type: string
        properties:
          $ref: '#/components/schemas/CloudServiceProperties'
        systemData:
          $ref: ./common.json#/definitions/SystemData
      x-ms-azure-resource: true
      required:
      - location
    CloudServiceInstanceView:
      description: InstanceView of CloudService as a whole
      type: object
      properties:
        roleInstance:
          $ref: '#/components/schemas/InstanceViewStatusesSummary'
        sdkVersion:
          description: The version of the SDK that was used to generate the package for the cloud service.
          type: string
          readOnly: true
        privateIds:
          description: 'Specifies a list of unique identifiers generated internally for the cloud service. <br /><br /> NOTE: If you are using Azure Diagnostics extension, this property can be used as ''DeploymentId'' for querying details.'
          type: array
          items:
            type: string
          readOnly: true
        statuses:
          type: array
          items:
            $ref: '#/components/schemas/ResourceInstanceViewStatus'
          x-ms-identifiers: []
          readOnly: true
    CloudServiceVaultCertificate:
      description: Describes a single certificate reference in a Key Vault, and where the certificate should reside on the role instance.
      type: object
      properties:
        certificateUrl:
          description: This is the URL of a certificate that has been uploaded to Key Vault as a secret.
          type: string
    CloudServiceVaultAndSecretReference:
      type: object
      properties:
        sourceVault:
          $ref: ./common.json#/definitions/SubResource
          description: The ARM Resource ID of the Key Vault
        secretUrl:
          type: string
          description: Secret URL which contains the protected settings of the extension
      description: Protected settings for the extension, referenced using KeyVault which are encrypted before sent to the role instance.
    CloudServiceUpgradeMode:
      description: 'Update mode for the cloud service. Role instances are allocated to update domains when the service is deployed. Updates can be initiated manually in each update domain or initiated automatically in all update domains.

        Possible Values are <br /><br />**Auto**<br /><br />**Manual** <br /><br />**Simultaneous**<br /><br />

        If not specified, the default value is Auto. If set to Manual, PUT UpdateDomain must be called to apply the update. If set to Auto, the update is automatically applied to each update domain in sequence.'
      enum:
      - Auto
      - Manual
      - Simultaneous
      type: string
      x-ms-enum:
        name: CloudServiceUpgradeMode
        modelAsString: true
    Extension:
      description: Describes a cloud service Extension.
      type: object
      properties:
        name:
          description: The name of the extension.
          type: string
        properties:
          $ref: '#/components/schemas/CloudServiceExtensionProperties'
    StatusCodeCount:
      description: The status code and count of the cloud service instance view statuses
      type: object
      properties:
        code:
          description: The instance view status code
          type: string
          readOnly: true
        count:
          format: int32
          description: Number of instances having this status code
          type: integer
          readOnly: true
    CloudServiceRoleSku:
      description: Describes the cloud service role sku.
      type: object
      properties:
        name:
          description: 'The sku name. NOTE: If the new SKU is not supported on the hardware the cloud service is currently on, you need to delete and recreate the cloud service or move back to the old sku.'
          type: string
        tier:
          description: Specifies the tier of the cloud service. Possible Values are <br /><br /> **Standard** <br /><br /> **Basic**
          type: string
        capacity:
          format: int64
          description: Specifies the number of role instances in the cloud service.
          type: integer
    CloudServiceSlotType:
      description: 'Slot type for the cloud service.

        Possible values are <br /><br />**Production**<br /><br />**Staging**<br /><br />

        If not specified, the default value is Production.'
      enum:
      - Production
      - Staging
      type: string
      x-ms-enum:
        name: CloudServiceSlotType
        modelAsString: true
    LoadBalancerFrontendIPConfigurationProperties:
      description: Describes a cloud service IP Configuration
      type: object
      properties:
        publicIPAddress:
          $ref: ./common.json#/definitions/SubResource
          description: The reference to the public ip address resource.
        subnet:
          $ref: ./common.json#/definitions/SubResource
          description: The reference to the virtual network subnet resource.
        privateIPAddress:
          description: The virtual network private IP address of the IP configuration.
          type: string
    LoadBalancerConfiguration:
      description: Describes the load balancer configuration.
      type: object
      properties:
        id:
          description: Resource Id
          type: string
        name:
          description: The name of the Load balancer
          type: string
        properties:
          $ref: '#/components/schemas/LoadBalancerConfigurationProperties'
          description: Properties of the load balancer configuration.
      required:
      - name
      - properties
    LoadBalancerConfigurationProperties:
      description: Describes the properties of the load balancer configuration.
      type: object
      properties:
        frontendIPConfigurations:
          description: Specifies the frontend IP to be used for the load balancer. Only IPv4 frontend IP address is supported. Each load balancer configuration must have exactly one frontend IP configuration.
          type: array
          items:
            $ref: '#/components/schemas/LoadBalancerFrontendIPConfiguration'
          x-ms-identifiers:
          - name
      required:
      - frontendIPConfigurations
    InstanceViewStatusesSummary:
      description: Instance view statuses.
      type: object
      properties:
        statusesSummary:
          description: The summary.
          type: array
          items:
            $ref: '#/components/schemas/StatusCodeCount'
          x-ms-identifiers: []
          readOnly: true
    ResourceInstanceViewStatus:
      description: Instance view status.
      type: object
      properties:
        code:
          description: The status code.
          type: string
          readOnly: true
        displayStatus:
          description: The short localizable label for the status.
          type: string
          readOnly: true
        message:
          description: The detailed status message, including for alerts and error messages.
          type: string
          readOnly: true
        time:
          format: date-time
          description: The time of the status.
          type: string
          readOnly: true
        level:
          description: The level code.
          enum:
          - Info
          - Warning
          - Error
          type: string
          x-ms-enum:
            name: StatusLevelTypes
            modelAsString: false
    CloudServiceNetworkProfile:
      description: Network Profile for the cloud service.
      type: object
      properties:
        loadBalancerConfigurations:
          description: List of Load balancer configurations. Cloud service can have up to two load balancer configurations, corresponding to a Public Load Balancer and an Internal Load Balancer.
          type: array
          items:
            $ref: '#/components/schemas/LoadBalancerConfiguration'
        slotType:
          $ref: '#/components/schemas/CloudServiceSlotType'
        swappableCloudService:
          $ref: ./common.json#/definitions/SubResource
          description: The id reference of the cloud service containing the target IP with which the subject cloud service can perform a swap. This property cannot be updated once it is set. The swappable cloud service referred by this id must be present otherwise an error will be thrown.
    LoadBalancerFrontendIPConfiguration:
      description: Specifies the frontend IP to be used for the load balancer. Only IPv4 frontend IP address is supported. Each load balancer configuration must have exactly one frontend IP configuration.
      type: object
      properties:
        name:
          description: The name of the resource that is unique within the set of frontend IP configurations used by the load balancer. This name can be used to access the resource.
          type: string
        properties:
          $ref: '#/components/schemas/LoadBalancerFrontendIPConfigurationProperties'
          description: Properties of load balancer frontend ip configuration.
      required:
      - name
      - properties
    CloudServiceExtensionProperties:
      description: Extension Properties.
      type: object
      properties:
        publisher:
          description: The name of the extension handler publisher.
          type: string
        type:
          description: Specifies the type of the extension.
          type: string
        typeHandlerVersion:
          description: Specifies the version of the extension. Specifies the version of the extension. If this element is not specified or an asterisk (*) is used as the value, the latest version of the extension is used. If the value is specified with a major version number and an asterisk as the minor version number (X.), the latest minor version of the specified major version is selected. If a major version number and a minor version number are specified (X.Y), the specific extension version is selected. If a version is specified, an auto-upgrade is performed on the role instance.
          type: string
        autoUpgradeMinorVersion:
          description: Explicitly specify whether platform can automatically upgrade typeHandlerVersion to higher minor versions when they become available.
          type: boolean
        settings:
          description: Public settings for the extension. For JSON extensions, this is the JSON settings for the extension. For XML Extension (like RDP), this is the XML setting for the extension.
          type: object
        protectedSettings:
          description: Protected settings for the extension which are encrypted before sent to the role instance.
          type: object
        protectedSettingsFromKeyVault:
          $ref: '#/components/schemas/CloudServiceVaultAndSecretReference'
        forceUpdateTag:
          description: 'Tag to force apply the provided public and protected settings.

            Changing the tag value allows for re-running the extension without changing any of the public or protected settings.

            If forceUpdateTag is not changed, updates to public or protected settings would still be applied by the handler.

            If neither forceUpdateTag nor any of public or protected settings change, extension would flow to the role instance with the same sequence-number, and

            it is up to handler implementation whether to re-run it or not'
          type: string
        provisioningState:
          description: The provisioning state, which only appears in the response.
          type: string
          readOnly: true
        rolesAppliedTo:
          description: Optional list of roles to apply this extension. If property is not specified or '*' is specified, extension is applied to all roles in the cloud service.
          type: array
          items:
            type: string
    RoleInstances:
      description: Specifies a list of role instances from the cloud service.
      type: object
      properties:
        roleInstances:
          description: List of cloud service role instance names. Value of '*' will signify all role instances of the cloud service.
          type: array
          items:
            type: string
      required:
      - roleInstances
    CloudServiceListResult:
      description: The list operation result.
      type: object
      properties:
        value:
          description: The list of resources.
          type: array
          items:
            $ref: '#/components/schemas/CloudService'
        nextLink:
          description: The URI to fetch the next page of resources. Use this to get the next page of resources. Do this till nextLink is null to fetch all the resources.
          type: string
      required:
      - value
    CloudServiceExtensionProfile:
      description: Describes a cloud service extension profile.
      type: object
      properties:
        extensions:
          description: List of extensions for the cloud service.
          type: array
          items:
            $ref: '#/components/schemas/Extension'
          x-ms-identifiers:
          - name
    CloudServiceRoleProfile:
      description: Describes the role profile for the cloud service.
      type: object
      properties:
        roles:
          description: List of roles for the cloud service.
          type: array
          items:
            $ref: '#/components/schemas/CloudServiceRoleProfileProperties'
          x-ms-identifiers:
          - name
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
