openapi: 3.2.0
info:
  title: Microsoft Azure Features API
  version: '1.0'
  description: 'Operations tagged Features across 2 of this provider''s published API definitions: azure-maps-features-service-openapi-original.yml, featureclient-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
tags:
- name: Features
paths:
  /features/datasets/{datasetId}:
    get:
      summary: Microsoft Azure Use To Get Links To The Api Definition, Conformance Statements…
      description: 'The Features API is a part of Creator, which makes it possible to develop applications based on your private indoor map data using Azure Maps API and SDK. Features GET APIs follow the Open Geospatial Consortium API - Features - Part 1: Core corrigendum standard to query Datasets. Datasets consist of multiple feature collections, which are a grouping of features defined by a common schema.


        ### Submit Get Landing Page Request


        The `Get Landing Page` API is an HTTP `GET` request that provides links to the API definition, conformance statements and metadata about the features in the specified dataset.'
      operationId: microsoftAzureFeaturesGetlandingpage
      x-ms-examples:
        GetLandingPage:
          $ref: ./examples/features/Features_GetLandingPage.json
      parameters:
      - $ref: ../../../Common/preview/1.0/common.json#/parameters/ClientId
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: ./dataset.json#/parameters/DatasetId
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LandingPageResult'
        default:
          $ref: ../../../Common/preview/1.0/common.json#/responses/default
      tags:
      - Features
      security:
      - AADToken:
        - https://atlas.microsoft.com/.default
      - SharedKey: []
      - SasToken: []
  /features/datasets/{datasetId}/api:
    get:
      summary: Microsoft Azure Use To Get A Description Of The Capabilities Of The Features…
      description: 'The `Get API Definition` API is an HTTP `GET` request that returns details of the capabilities of each API in the Features service, including the request type (`GET` or `POST`) a `description`, `operationId`, `parameters`, and `responses`. It can be used by developers to understand the API or by development tools to support the implementation of servers and clients.


        The Features API is a part of Creator, which makes it possible to develop applications based on your private indoor map data using Azure Maps API and SDK. Features GET APIs follow the Open Geospatial Consortium API - Features - Part 1: Core corrigendum standard to query Datasets. Datasets consist of multiple feature collections, which are a grouping of features defined by a common schema.'
      operationId: microsoftAzureFeaturesGetapidefinition
      x-ms-examples:
        GetApiDefinition:
          $ref: ./examples/features/Features_GetApiDefinition.json
      parameters:
      - $ref: ../../../Common/preview/1.0/common.json#/parameters/ClientId
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: ./dataset.json#/parameters/DatasetId
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDefinitionResult'
        default:
          $ref: ../../../Common/preview/1.0/common.json#/responses/default
      tags:
      - Features
      security:
      - AADToken:
        - https://atlas.microsoft.com/.default
      - SharedKey: []
      - SasToken: []
  /features/datasets/{datasetId}/conformance:
    get:
      summary: Microsoft Azure Use To Get A List Of The Open Geospatial Consortium Ogc…
      description: 'The Features API is a part of Creator, which makes it possible to develop applications based on your private indoor map data using Azure Maps API and SDK. Features GET APIs follow the Open Geospatial Consortium API - Features - Part 1: Core corrigendum standard to query Datasets. Datasets consist of multiple feature collections, which are a grouping of features defined by a common schema.


        ### Submit List Conformance Request


        The `List Conformance` API is an HTTP `GET` request that returns a list of all requirements classes specified in the OGC standard that the server conforms to.'
      operationId: microsoftAzureFeaturesListconformance
      x-ms-examples:
        GetConformance:
          $ref: ./examples/features/Features_ListConformance.json
      parameters:
      - $ref: ../../../Common/preview/1.0/common.json#/parameters/ClientId
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: ./dataset.json#/parameters/DatasetId
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConformanceResult'
        default:
          $ref: ../../../Common/preview/1.0/common.json#/responses/default
      tags:
      - Features
      security:
      - AADToken:
        - https://atlas.microsoft.com/.default
      - SharedKey: []
      - SasToken: []
  /features/datasets/{datasetId}/collections:
    get:
      summary: Microsoft Azure Use To Get A List Of Feature Collections
      description: 'The Features API is a part of Creator, which makes it possible to develop applications based on your private indoor map data using Azure Maps API and SDK. Features GET APIs follow the Open Geospatial Consortium API - Features - Part 1: Core corrigendum standard to query Datasets. Datasets consist of multiple feature collections, which are a grouping of features defined by a common schema.


        ### Submit Get Collections Request


        The `Get Collections` API is an HTTP `GET` request that returns a list of all feature collections in a dataset.'
      operationId: microsoftAzureFeaturesGetcollections
      x-ms-examples:
        GetCollections:
          $ref: ./examples/features/Features_GetCollections.json
      parameters:
      - $ref: ../../../Common/preview/1.0/common.json#/parameters/ClientId
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: ./dataset.json#/parameters/DatasetId
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionsResult'
        default:
          $ref: ../../../Common/preview/1.0/common.json#/responses/default
      tags:
      - Features
      security:
      - AADToken:
        - https://atlas.microsoft.com/.default
      - SharedKey: []
      - SasToken: []
  /features/datasets/{datasetId}/collections/{collectionId}:
    get:
      summary: Microsoft Azure Use To Get Details Of A Feature Collection
      description: 'The Features API is a part of Creator, which makes it possible to develop applications based on your private indoor map data using Azure Maps API and SDK. Features GET APIs follow the Open Geospatial Consortium API - Features - Part 1: Core corrigendum standard to query Datasets. Datasets consist of multiple feature collections, which are a grouping of features defined by a common schema.


        ### Submit Get Collection Request


        The `Get Collection` API is an HTTP `GET` request that returns the details of a specific feature collection as defined by the provided `collectionId` in the specified dataset.'
      operationId: microsoftAzureFeaturesGetcollection
      x-ms-examples:
        GetCollection:
          $ref: ./examples/features/Features_GetCollection.json
      parameters:
      - $ref: ../../../Common/preview/1.0/common.json#/parameters/ClientId
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: ./dataset.json#/parameters/DatasetId
      - $ref: '#/components/parameters/CollectionId'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResult'
        default:
          $ref: ../../../Common/preview/1.0/common.json#/responses/default
      tags:
      - Features
      security:
      - AADToken:
        - https://atlas.microsoft.com/.default
      - SharedKey: []
      - SasToken: []
  /features/datasets/{datasetId}/collections/{collectionId}/definition:
    get:
      summary: Microsoft Azure Use To Get A Detailed Data Model Of The Specified Feature…
      description: 'The Features API is a part of Creator, which makes it possible to develop applications based on your private indoor map data using Azure Maps API and SDK. Features GET APIs follow the Open Geospatial Consortium API - Features - Part 1: Core corrigendum standard to query Datasets. Datasets consist of multiple feature collections, which are a grouping of features defined by a common schema.


        ### Submit Get Collection Definition Request


        The `Get Collection Definition` API is an HTTP `GET` request that returns a detailed data model of a feature collection as defined by the provided `collectionId`.'
      operationId: microsoftAzureFeaturesGetcollectiondefinition
      x-ms-examples:
        GetCollectionDefinition:
          $ref: ./examples/features/Features_GetCollectionDefinition.json
      parameters:
      - $ref: ../../../Common/preview/1.0/common.json#/parameters/ClientId
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: ./dataset.json#/parameters/DatasetId
      - $ref: '#/components/parameters/CollectionId'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionDefinitionResult'
        default:
          $ref: ../../../Common/preview/1.0/common.json#/responses/default
      tags:
      - Features
      security:
      - AADToken:
        - https://atlas.microsoft.com/.default
      - SharedKey: []
      - SasToken: []
  /features/datasets/{datasetId}/collections/{collectionId}/items:
    get:
      summary: Microsoft Azure Use To Get A Detailed List Of Features In The Specified Feature…
      description: 'The Features API is a part of Creator, which makes it possible to develop applications based on your private indoor map data using Azure Maps API and SDK. Features GET APIs follow the Open Geospatial Consortium API - Features - Part 1: Core corrigendum standard to query Datasets. Datasets consist of multiple feature collections, which are a grouping of features defined by a common schema.


        ### Submit Get Items Request


        The `Get Items` API is an HTTP `GET` request that returns the features in a feature collection as defined by the provided `collectionId` in the specified dataset.'
      operationId: microsoftAzureFeaturesGetitems
      x-ms-examples:
        GetFeatures:
          $ref: ./examples/features/Features_GetItems.json
      parameters:
      - $ref: ../../../Common/preview/1.0/common.json#/parameters/ClientId
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: ./dataset.json#/parameters/DatasetId
      - $ref: '#/components/parameters/CollectionId'
      - $ref: '#/components/parameters/LimitFeatures'
      - $ref: '#/components/parameters/Bbox'
      - $ref: '#/components/parameters/Filter'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedGeoJsonFeatureCollection'
        default:
          $ref: ../../../Common/preview/1.0/common.json#/responses/default
      tags:
      - Features
      security:
      - AADToken:
        - https://atlas.microsoft.com/.default
      - SharedKey: []
      - SasToken: []
    post:
      summary: 'Microsoft Azure Use To Create A [feature] Https: Tools Ietf Org Html…'
      description: 'The Features API is a part of Creator, which makes it possible to develop applications based on your private indoor map data using Azure Maps API and SDK. Features GET APIs follow the Open Geospatial Consortium API - Features - Part 1: Core corrigendum standard to query Datasets. Datasets consist of multiple feature collections, which are a grouping of features defined by a common schema.


        ### Submit Create Request


        The `Feature` API is an HTTP `POST` request that allows the caller to create a new feature that conforms with the **drafted** Open Geospatial Consortium API - Features - Part 4: Create, Replace, Update and Delete specification. This API creates a feature with the provided attributes in the given collection.'
      operationId: microsoftAzureFeaturesCreate
      x-ms-examples:
        PostFeature:
          $ref: ./examples/features/Features_Create.json
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: ./dataset.json#/parameters/DatasetId
      - $ref: '#/components/parameters/CollectionId'
      - $ref: '#/components/parameters/FeatureBody'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateFeatureResult'
        default:
          $ref: ../../../Common/preview/1.0/common.json#/responses/default
      tags:
      - Features
      security:
      - AADToken:
        - https://atlas.microsoft.com/.default
      - SharedKey: []
      - SasToken: []
  /features/datasets/{datasetId}/collections/{collectionId}/items/{featureId}:
    get:
      summary: 'Microsoft Azure Use To Get The Details Of A [feature] Https: Tools Ietf Org…'
      description: 'The Features API is a part of Creator, which makes it possible to develop applications based on your private indoor map data using Azure Maps API and SDK. Features GET APIs follow the Open Geospatial Consortium API - Features - Part 1: Core corrigendum standard to query Datasets. Datasets consist of multiple feature collections, which are a grouping of features defined by a common schema.


        ### Submit Get Request


        The `Get` API is an HTTP `GET` request that returns the feature identified by the provided `featureId` in the specified dataset and collection.'
      operationId: microsoftAzureFeaturesGet
      x-ms-examples:
        GetFeature:
          $ref: ./examples/features/Features_Get.json
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: ./dataset.json#/parameters/DatasetId
      - $ref: '#/components/parameters/CollectionId'
      - $ref: '#/components/parameters/FeatureId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureResult'
        default:
          $ref: ../../../Common/preview/1.0/common.json#/responses/default
      tags:
      - Features
      security:
      - AADToken:
        - https://atlas.microsoft.com/.default
      - SharedKey: []
      - SasToken: []
    put:
      summary: Microsoft Azure Use To Overwrite All Existing Attributes Of A [feature] Https…
      description: 'The `Replace` API conforms to the **drafted** Open Geospatial Consortium API - Features - Part 4: Create, Replace, Update and Delete specification.


        This is a part of Creator, which makes it possible to develop applications based on your private indoor map data using Azure Maps API and SDK. Features GET APIs follow the Open Geospatial Consortium API - Features - Part 1: Core corrigendum standard to query Datasets. Datasets consist of multiple feature collections, which are a grouping of features defined by a common schema.


        ### Submit Replace Request


        The `Replace` API is an HTTP `PUT` request that **replaces** the feature identified by the provided `featureId` in the specified collection, meaning the data supplied in the request body overwrites all attributes of the feature.'
      operationId: microsoftAzureFeaturesReplace
      x-ms-examples:
        PutFeature:
          $ref: ./examples/features/Features_Replace.json
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: ./dataset.json#/parameters/DatasetId
      - $ref: '#/components/parameters/CollectionId'
      - $ref: '#/components/parameters/FeatureId'
      - $ref: '#/components/parameters/FeatureBody'
      responses:
        '204':
          description: Feature Updated.
        default:
          $ref: ../../../Common/preview/1.0/common.json#/responses/default
      tags:
      - Features
      security:
      - AADToken:
        - https://atlas.microsoft.com/.default
      - SharedKey: []
      - SasToken: []
    patch:
      summary: 'Microsoft Azure Use To Modify Individual Attributes Of A [feature] Https: Tools…'
      description: 'The `Update` API conforms with the **drafted** Open Geospatial Consortium API - Features - Part 4: Create, Replace, Update and Delete specification.


        The Features API is a part of Creator, which makes it possible to develop applications based on your private indoor map data using Azure Maps API and SDK. Features GET APIs follow the Open Geospatial Consortium API - Features - Part 1: Core corrigendum standard to query Datasets. Datasets consist of multiple feature collections, which are a grouping of features defined by a common schema.


        ### Submit Update Request


        The `Update` API is an HTTP `PATCH` request that is used to change individual attributes of a feature as specified by the `featureId`. The only attributes that will be updated are those explicitly included in the request body.'
      operationId: microsoftAzureFeaturesUpdate
      x-ms-examples:
        PatchFeature:
          $ref: ./examples/features/Features_Update.json
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: ./dataset.json#/parameters/DatasetId
      - $ref: '#/components/parameters/CollectionId'
      - $ref: '#/components/parameters/FeatureId'
      - $ref: '#/components/parameters/FeatureAttributesBody'
      responses:
        '204':
          description: Feature Updated.
        default:
          $ref: ../../../Common/preview/1.0/common.json#/responses/default
      tags:
      - Features
      security:
      - AADToken:
        - https://atlas.microsoft.com/.default
      - SharedKey: []
      - SasToken: []
    delete:
      summary: 'Microsoft Azure Use To Delete A [feature] Https: Tools Ietf Org Html…'
      description: 'The Features API is a part of Creator, which makes it possible to develop applications based on your private indoor map data using Azure Maps API and SDK. Features GET APIs follow the Open Geospatial Consortium API - Features - Part 1: Core corrigendum standard to query Datasets. Datasets consist of multiple feature collections, which are a grouping of features defined by a common schema.


        ### Submit Delete Request


        The `Delete` API is an HTTP `DELETE` request that is used to delete a feature specified by its `featureId`. The delete request will fail if the feature has any dependent features, so be sure and delete them first. The features `Delete` API conforms with the **drafted** Open Geospatial Consortium API - Features - Part 4: Create, Replace, Update and Delete specification.'
      operationId: microsoftAzureFeaturesDelete
      x-ms-examples:
        DeleteFeature:
          $ref: ./examples/features/Features_Delete.json
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: ./dataset.json#/parameters/DatasetId
      - $ref: '#/components/parameters/CollectionId'
      - $ref: '#/components/parameters/FeatureId'
      responses:
        '204':
          description: Feature Deleted.
        default:
          $ref: ../../../Common/preview/1.0/common.json#/responses/default
      tags:
      - Features
      security:
      - AADToken:
        - https://atlas.microsoft.com/.default
      - SharedKey: []
      - SasToken: []
  /subscriptions/{subscriptionId}/providers/Microsoft.Features/features:
    get:
      tags:
      - Features
      operationId: microsoftAzureFeaturesListall
      description: Gets all the preview features that are available through AFEC for the subscription.
      x-ms-examples:
        List subscription Features:
          $ref: ./examples/listSubscriptionFeatures.json
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK - Returns an array containing metadata for each feature. The metadata includes the name of the feature, the registration state, the resource ID, and resource type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureOperationsListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/FeatureOperationsListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Features…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.Features/providers/{resourceProviderNamespace}/features:
    get:
      tags:
      - Features
      operationId: microsoftAzureFeaturesList
      description: Gets all the preview features in a provider namespace that are available through AFEC for the subscription.
      x-ms-examples:
        List provider Features:
          $ref: ./examples/listProviderFeatures.json
      parameters:
      - name: resourceProviderNamespace
        in: path
        required: true
        description: The namespace of the resource provider for getting features.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK - Returns an array containing metadata for each feature in the resource provider. The metadata includes the name of the feature, the registration state, the resource ID, and resource type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureOperationsListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/FeatureOperationsListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Features…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.Features/providers/{resourceProviderNamespace}/features/{featureName}:
    get:
      tags:
      - Features
      operationId: microsoftAzureFeaturesGet
      description: Gets the preview feature with the specified name.
      x-ms-examples:
        Get feature:
          $ref: ./examples/getFeature.json
      parameters:
      - name: resourceProviderNamespace
        in: path
        required: true
        description: The resource provider namespace for the feature.
        schema:
          type: string
      - name: featureName
        in: path
        required: true
        description: The name of the feature to get.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK - Returns metadata about the feature. The metadata includes the name of the feature, the registration state, the resource ID, and resource type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureResult_2'
            text/json:
              schema:
                $ref: '#/components/schemas/FeatureResult_2'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Features…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Features/providers/{resourceProviderNamespace}/features/{featureName}/register
  : post:
      tags:
      - Features
      operationId: microsoftAzureFeaturesRegister
      description: Registers the preview feature for the subscription.
      x-ms-examples:
        Register feature:
          $ref: ./examples/registerFeature.json
      parameters:
      - name: resourceProviderNamespace
        in: path
        required: true
        description: The namespace of the resource provider.
        schema:
          type: string
      - name: featureName
        in: path
        required: true
        description: The name of the feature to register.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK - Returns metadata about the registered feature. The metadata includes the name of the feature, the registration state, the resource ID, and resource type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureResult_2'
            text/json:
              schema:
                $ref: '#/components/schemas/FeatureResult_2'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft Features…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Features/providers/{resourceProviderNamespace}/features/{featureName}/unregister
  : post:
      tags:
      - Features
      operationId: microsoftAzureFeaturesUnregister
      description: Unregisters the preview feature for the subscription.
      x-ms-examples:
        Register feature:
          $ref: ./examples/unregisterFeature.json
      parameters:
      - name: resourceProviderNamespace
        in: path
        required: true
        description: The namespace of the resource provider.
        schema:
          type: string
      - name: featureName
        in: path
        required: true
        description: The name of the feature to unregister.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK - Returns metadata about the unregistered feature. The metadata includes the name of the feature, the registration state, the resource ID, and resource type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureResult_2'
            text/json:
              schema:
                $ref: '#/components/schemas/FeatureResult_2'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft Features…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
components:
  schemas:
    CollectionDefinitionResult:
      description: Response after a successful request to read a collection's definition.
      type: object
      required:
      - id
      - title
      - geometryType
      properties:
        id:
          description: Identifier of the collection used, for example, in URIs.
          type: string
          example: buildings
        title:
          description: Title of collection.
          type: string
          example: Feature Class buildings
        ontology:
          $ref: ../../../Common/preview/1.0/common.json#/definitions/Ontology
        itemType:
          description: The type of the items in the collection.
          type: string
          example: feature
        description:
          description: Describes the collection.
          type: string
        geometryType:
          description: Type of geometry returned.
          type: string
          enum:
          - Point
          - MultiPoint
          - LineString
          - MultiLineString
          - Polygon
          - MultiPolygon
          - GeometryCollection
          x-ms-enum:
            name: GeoJsonGeometryType
            modelAsString: true
            values:
            - value: Point
              description: '`GeoJSON Point` geometry.'
              name: GeoJsonPoint
            - value: MultiPoint
              description: '`GeoJSON MultiPoint` geometry.'
              name: GeoJsonMultiPoint
            - value: LineString
              description: '`GeoJSON LineString` geometry.'
              name: GeoJsonLineString
            - value: MultiLineString
              description: '`GeoJSON MultiLineString` geometry.'
              name: GeoJsonMultiLineString
            - value: Polygon
              description: '`GeoJSON Polygon` geometry.'
              name: GeoJsonPolygon
            - value: MultiPolygon
              description: '`GeoJSON MultiPolygon` geometry.'
              name: GeoJsonMultiPolygon
            - value: GeometryCollection
              description: '`GeoJSON GeometryCollection` geometry.'
              name: GeoJsonGeometryCollection
        properties:
          description: Attributes of the collection used.
          type: array
          items:
            $ref: '#/components/schemas/DefinitionProperty'
        links:
          description: Links to other Features endpoints.
          type: array
          items:
            $ref: '#/components/schemas/FeaturesEndpointLink'
    DefinitionProperty:
      description: The definition of a property in a collection.
      type: object
      required:
      - name
      - required
      - type
      properties:
        name:
          description: Name of attribute.
          type: string
          example: external_id
        required:
          description: Is attribute required.
          type: boolean
        type:
          description: Type of attribute.
          type: object
    FeatureResult:
      description: Response after a feature is successfully read.
      type: object
      required:
      - feature
      properties:
        ontology:
          $ref: ../../../Common/preview/1.0/common.json#/definitions/Ontology
        feature:
          $ref: '#/components/schemas/Feature'
        links:
          description: Links to other Features endpoints.
          type: array
          items:
            $ref: '#/components/schemas/FeaturesEndpointLink'
    ExtendedGeoJsonFeatureCollection:
      description: A valid `GeoJSON FeatureCollection` object type extended with numberReturned and links array. Please refer to [RFC 7946](https://tools.ietf.org/html/rfc7946#section-3.3) for details.
      type: object
      allOf:
      - $ref: '#/components/schemas/FeatureCollectionData'
      - $ref: '#/components/schemas/ExtendedGeoJsonFeatureCollectionData'
      properties:
        type:
          description: 'Specifies the `GeoJSON` type: FeatureCollection.'
          type: string
          enum:
          - FeatureCollection
          x-ms-enum:
            name: GeoJsonObjectType
            modelAsString: false
            values:
            - value: FeatureCollection
              description: '`GeoJSON FeatureCollection` object.'
    ConformanceResult:
      description: Response after a successful request to the conformance page.
      type: object
      required:
      - conformsTo
      properties:
        conformsTo:
          description: List of requirements classes that the server conforms to.
          type: array
          items:
            type: string
          example:
          - http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core
          - http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas3
          - http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson
    CollectionResult:
      description: Response after a successful request to get a collection.
      type: object
      required:
      - id
      - title
      - links
      properties:
        id:
          description: Identifier of the collection used, for example, in URIs.
          type: string
          example: buildings
        title:
          description: Human readable title of the collection.
          type: string
          example: Buildings
        ontology:
          $ref: ../../../Common/preview/1.0/common.json#/definitions/Ontology
        itemType:
          description: The type of the items in the collection.
          type: string
          example: feature
        description:
          description: A description of the features in the collection.
          type: string
          example: Buildings in the city of Bonn.
        links:
          description: Links to other Features endpoints.
          type: array
          items:
            $ref: '#/components/schemas/FeaturesEndpointLink'
          example:
          - href: http://data.example.org/collections/buildings/items
            rel: items
            title: Buildings
          - href: http://data.example.org/collections/buildings/definition
            rel: describedBy
            title: Metadata catalogue for unit
          - href: http://data.example.org/collections/buildings
            rel: self
            title: Information for unit collection
    FeatureType:
      type: object
      properties:
        type:
          description: 'Specifies the `GeoJSON` type: Feature'
          type: string
    Feature:
      description: A valid `GeoJSON Feature` object type. Please refer to [RFC 7946](https://tools.ietf.org/html/rfc7946#section-3.2) for details.
      type: object
      allOf:
      - $ref: '#/components/schemas/FeatureId'
      - $ref: '#/components/schemas/FeatureType'
      - $ref: '#/components/schemas/FeatureAttributes'
    FeatureId:
      type: object
      properties:
        id:
          description: Case sensitive identifier of a specific feature.
          type: string
    ExtendedGeoJsonFeatureCollectionData:
      type: object
      properties:
        ontology:
          $ref: ../../../Common/preview/1.0/common.json#/definitions/Ontology
        numberReturned:
          description: Number of returned features.
          type: integer
          format: int32
        links:
          description: Links to other Features endpoints.
          type: array
          items:
            $ref: '#/components/schemas/FeaturesEndpointLink'
    LandingPageResult:
      description: Response after a successful request to the landing page.
      type: object
      required:
      - links
      properties:
        ontology:
          $ref: ../../../Common/preview/1.0/common.json#/definitions/Ontology
        links:
          description: Links to other Features endpoints.
          type: array
          items:
            $ref: '#/components/schemas/FeaturesEndpointLink'
    FeatureAttributes:
      description: The geometry and properties of a feature.
      type: object
      properties:
        geometry:
          $ref: ../../../Common/preview/1.0/common.json#/definitions/GeoJsonGeometry
        properties:
          description: Properties can contain any additional metadata about the `Feature` and are defined by the GET Collection Definition API. Value can be any JSON object or a JSON null value, but please note that feature properties not defined in the collection definition will be ignored.
          type: object
    CreateFeatureResult:
      description: Response after a feature is successfully created.
      type: object
      required:
      - id
      - ontology
      - links
      properties:
        id:
          description: Identifier for the feature.
          type: string
        ontology:
          $ref: ../../../Common/preview/1.0/common.json#/definitions/Ontology
        links:
          description: Links to other Features endpoints.
          type: array
          items:
            $ref: '#/components/schemas/FeaturesEndpointLink'
    ApiDefinitionResult:
      description: Response after a successful request to get the API definition.
      type: object
      required:
      - openapi
      - info
      - paths
      - components
      - tags
      properties:
        openapi:
          description: The OpenAPI version.
          type: string
          example: 3.0.1
        info:
          description: The OpenAPI info object.
          type: object
          properties:
            title:
              description: The title of the API.
              type: string
              example: Azure Maps Web Feature Service
            version:
              description: The version of the API.
              type: string
              example: 2023-03-01-preview
            description:
              description: The description of the API.
              type: string
              example: Azure Maps Web Feature REST APIs
        paths:
          description: The OpenAPI paths object.
          type: object
        components:
          description: The OpenAPI components object.
          type: object
          properties:
            parameters:
              description: The OpenAPI parameters object.
              type: object
              additionalProperties: true
            schemas:
              description: The OpenAPI schemas object.
              type: object
              additionalProperties: true
        tags:
          description: The OpenAPI tags object.
          type: array
          items:
            type: object
            required:
            - name
            properties:
              name:
                description: The name of the tag.
                type: string
                example: Features
              description:
                description: The description of the tag.
                type: string
                example: Access to data (features).
    FeaturesEndpointLink:
      description: Links to other Features endpoints. For more details about link relations, please visit the [OGC API - Features - Part 1](http://www.opengis.net/doc/IS/ogcapi-features-1/1.0.1#_link_relations) standard.
      type: object
      required:
      - href
      properties:
        href:
          description: The link target.
          type: string
          format: uri
          example: https://us.atlas.microsoft.com/features/datasets/218fda98-e638-0edf-5ef7-28491ff3bed4
        rel:
          description: The relation type.
          type: string
          example: self
        title:
          description: Used to label the destination of a link such that it can be used as a human-readable identifier (e.g., a menu entry) in the language indicated by the Content-Language header field (if present).
          type: string
          example: Azure Maps Features
    CollectionsResult:
      description: Response after a successful request to list collections.
      type: object
      required:
      - links
      - collections
      properties:
        ontology:
          $ref: ../../../Common/preview/1.0/common.json#/definitions/Ontology
        collections:
          description: All the collections in a given dataset.
          type: array
          items:
            $ref: '#/components/schemas/CollectionResult'
        links:
          description: Links to other Features endpoints.
          type: array
          items:
            $ref: '#/components/schemas/FeaturesEndpointLink'
          example:
          - href: http://data.example.org/collections.json
            rel: self
            title: this document
    FeatureCollectionData:
      type: object
      properties:
        features:
          description: Contains a list of valid `GeoJSON Feature` objects.
          type: array
          items:
            $ref: '#/components/schemas/Feature'
      required:
      - features
    FeatureResult_2:
      properties:
        name:
          type: string
          description: The name of the feature.
        properties:
          $ref: '#/components/schemas/FeatureProperties'
          description: Properties of the previewed feature.
        id:
          type: string
          description: The resource ID of the feature.
        type:
          type: string
          description: The resource type of the feature.
      description: Previewed feature information.
    FeatureProperties:
      properties:
        state:
          type: string
          description: The registration state of the feature for the subscription.
      description: Information about feature.
    FeatureOperationsListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/FeatureResult_2'
          description: The array of features.
        nextLink:
          type: string
          description: The URL to use for getting the next set of results.
      description: List of previewed features.
  parameters:
    FeatureAttributesBody:
      name: featureAttributes
      in: body
      required: true
      description: The geometry and properties of a feature.
      x-ms-parameter-location: client
      schema:
        $ref: '#/components/schemas/FeatureAttributes'
    CollectionId:
      name: collectionId
      in: path
      required: true
      description: Identifier (name) of a specific collection.
      x-ms-parameter-location: method
      schema:
        type: string
    Bbox:
      name: bbox
      x-ms-client-name: boundingBox
      in: query
      description: 'Only features that have a geometry that intersects the supplied bounding box are selected.

        * Lower left corner, coordinate axis 1 * Lower left corner, coordinate axis 2 * Upper right corner, coordinate axis 1 * Upper right corner, coordinate axis 2

        The coordinate reference system of the values is WGS84 longitude/latitude (http://www.opengis.net/def/crs/OGC/1.3/CRS84) unless a different coordinate reference system is specified in the parameter `bbox-crs`.

        For WGS84 longitude/latitude the values are in most cases the sequence of minimum longitude, minimum latitude, maximum longitude and maximum latitude. However, in cases where the box spans the antimeridian the first value (west-most box edge) is larger than the third value (east-most box edge).'
      x-ms-parameter-location: method
      style: form
      explode: false
      schema:
        type: array
        items:
          type: number
          format: double
    FeatureBody:
      name: feature
      in: body
      required: true
      description: A valid `GeoJSON Feature` object type. Please refer to [RFC 7946](https://tools.ietf.org/html/rfc7946#section-3.2) for details.
      x-ms-parameter-location: client
      schema:
        type: object
        allOf:
        - $ref: '#/components/schemas/FeatureType'
        - $ref: '#/components/schemas/FeatureAttributes'
    LimitFeatures:
      name: limit
      in: query
      description: 'The optional limit parameter limits the number of features that are presented in the response document.

        Only features that are on the first level of the collection in the response document are counted. Nested objects contained within the explicitly requested features shall not be counted.

        * Minimum = 1 * Maximum = 500 * Default = 10'
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        maximum: 5000
        minimum: 1
    FeatureId:
      name: featureId
      in: path
      description: Case sensitive identifier of a specific feature.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersion:
      name: api-version
      description: Version number of Azure Maps API.
      in: query
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    Filter:
      name: filter
      in: query
      description: 'Filter expression to search for features with specific property values in a given collection. Only feature properties of scalar type and equals operator are supported.

        This is a special parameter where the parameter name is a case sensitive property name. The scheme for this parameter is {property name}={property value}. Unless "filter" is one of the property names in the collection, "filter" should not be used as a parameter name. To search for features with "name" property value "21N13", use "name=21N13".

        Multiple filters are supported and should be represented as multiple query parameters. E.g., <property1>=<value1>&<property2>=<value2> String values are case sensitive.'
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
  securitySchemes:
    AADToken:
      type: oauth2
      flows:
        implicit:
          scopes:
            https://atlas.microsoft.com/.default: https://atlas.microsoft.com/.default
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: "These are the [Azure Active Directory OAuth2](https://docs.microsoft.com/azure/active-directory/develop/v1-overview) Flows. When paired with [Azure role-based access](https://docs.microsoft.com/azure/role-based-access-control/overview) control it can be used to control access to Azure Maps REST APIs. Azure role-based access controls are used to designate access to one or more Azure Maps resource account or sub-resources. Any user, group, or service principal can be granted access via a  built-in role or a custom role composed of one or more permissions to Azure Maps REST APIs.\n\nTo implement scenarios, we recommend viewing [authentication concepts](https://aka.ms/amauth). In summary, this security definition provides a solution for modeling application(s) via objects capable of access control on specific APIs and scopes.\n\n#### Notes\n* This security definition **requires** the use of the `x-ms-client-id` header to indicate which Azure Maps resource the application is requesting access to. This can be acquired from the [Maps management API](https://aka.ms/amauthdetails).\n* \nThe `Authorization URL` is specific to the Azure public cloud instance. Sovereign clouds have unique Authorization URLs and Azure Active directory configurations. \n* \nThe Azure role-based access control is configured from the [Azure management plane](https://aka.ms/amrbac) via Azure portal, PowerShell, CLI, Azure SDKs, or REST APIs.\n* \nUsage of the [Azure Maps Web SDK](https://aka.ms/amaadmc) allows for configuration based setup of an application for multiple use cases.\n* Currently, Azure Active Directory [v1.0 or v2.0](https://docs.microsoft.com/azure/active-directory/develop/azure-ad-endpoint-comparison) supports Work, School, and Guests but does not support Personal accounts."
    SharedKey:
      type: apiKey
      description: "This is a shared key that is provisioned when creating an [Azure Maps resource](https://aka.ms/amauth) through the Azure management plane  via Azure portal, PowerShell, CLI, Azure SDKs, or REST APIs.\n\n With this key, any application is authorized to access  all REST APIs. In other words, these can currently be treated as master keys to the account which they are issued for.\n\n For publicly exposed applications, our recommendation is to use server-to-server access of Azure Maps REST APIs where this key can be securely stored."
      name: subscription-key
      in: query
    SasToken:
      type: apiKey
      description: "This is a shared access signature token is created from the List SAS operation on the [Azure Maps resource](https://aka.ms/amauth) through the Azure management plane via Azure portal, PowerShell, CLI, Azure SDKs, or REST APIs.\n\n With this token, any application is authorized to access with Azure role-based access controls and fine-grain control to the expiration, rate, and region(s) of use for the particular token. In other words, the SAS Token can be used to allow applications to control access in a more secured way than the shared key.\n\n For publicly exposed applications, our recommendation is to configure a specific list of allowed origins on the [Map account resource](https://aka.ms/amauth) to limit rendering abuse and regularly renew the SAS Token."
      name: SAS Token
      in: header
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- azure-maps-features-service-openapi-original.yml
- featureclient-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
