openapi: 3.2.0
info:
  version: 2023-06-01-preview
  title: Microsoft Azure Azure Quota Extension Usages Information API
  description: Microsoft Azure Quota Resource Provider
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: UsagesInformation
paths:
  /{scope}/providers/Microsoft.Quota/usages/{resourceName}:
    get:
      tags:
      - UsagesInformation
      description: Get the current usage of a resource.
      operationId: microsoftAzureUsagesGet
      x-ms-examples:
        Quotas_UsagesRequest_ForNetwork:
          $ref: ./examples/getNetworkOneSkuUsages.json
        Quotas_UsagesRequest_ForCompute:
          $ref: ./examples/getComputeOneSkuUsages.json
      parameters:
      - $ref: '#/components/parameters/ResourceNameInParameters'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/ScopeInPath'
      responses:
        '200':
          description: OK. The usage information will be returned in the response.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentUsagesBase'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
      summary: Microsoft Azure Get Scope Providers Microsoft Quota Usages Resourcename
  /{scope}/providers/Microsoft.Quota/usages:
    get:
      tags:
      - UsagesInformation
      description: Get a list of current usage for all resources for the scope specified.
      operationId: microsoftAzureUsagesList
      x-ms-examples:
        Quotas_listUsagesForNetwork:
          $ref: ./examples/getNetworkUsages.json
        Quotas_listUsagesForCompute:
          $ref: ./examples/getComputeUsages.json
        Quotas_listUsagesMachineLearningServices:
          $ref: ./examples/getMachineLearningServicesUsages.json
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/ScopeInPath'
      responses:
        '200':
          description: OK. Usage information will be returned in the response with pagination.
          headers:
            ETag:
              description: Current entity state version. It should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsagesLimits'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Scope Providers Microsoft Quota Usages
components:
  schemas:
    ExceptionResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ServiceError'
          description: API error details.
      description: Error.
    CurrentUsagesBase:
      type: object
      description: Resource usage.
      x-ms-azure-resource: true
      properties:
        id:
          description: The resource ID.
          type: string
          readOnly: true
        type:
          description: The resource type.
          type: string
          readOnly: true
        name:
          description: The resource name.
          type: string
          readOnly: true
        properties:
          description: Usage properties for the specified resource.
          $ref: '#/components/schemas/UsagesProperties'
    ServiceError:
      description: API error details.
      type: object
      properties:
        code:
          type: string
          description: Error code.
        message:
          type: string
          description: Error message.
        details:
          type: array
          items:
            $ref: '#/components/schemas/ServiceErrorDetail'
          x-ms-identifiers:
          - code
          description: List of error details.
          readOnly: true
    UsagesObject:
      description: The resource usages value.
      type: object
      properties:
        value:
          type: integer
          format: int32
          description: The usages value.
        usagesType:
          $ref: '#/components/schemas/UsagesTypes'
      required:
      - value
    ResourceTypesName:
      description: Resource types. For extensibility, it is a string. Optional field.
      readOnly: false
      type: string
    ResourceName:
      type: object
      description: Name of the resource provided by the resource Provider. When requesting quota, use this property name.
      properties:
        value:
          description: Resource name.
          type: string
          readOnly: false
        localizedValue:
          description: Resource display name.
          type: string
          readOnly: true
    UsagesLimits:
      type: object
      description: Quota limits.
      properties:
        value:
          description: List of quota limits.
          type: array
          items:
            $ref: '#/components/schemas/CurrentUsagesBase'
        nextLink:
          description: The URI used to fetch the next page of quota limits. When there are no more pages, this is null.
          type: string
    ServiceErrorDetail:
      description: Error details.
      type: object
      properties:
        code:
          type: string
          readOnly: true
          description: Error code.
        message:
          type: string
          readOnly: true
          description: Error message.
    UsagesTypes:
      description: The quota or usages limit types.
      enum:
      - Individual
      - Combined
      type: string
      x-ms-enum:
        name: usagesTypes
        modelAsString: true
    UsagesProperties:
      description: Usage properties for the specified resource.
      type: object
      properties:
        usages:
          description: The quota limit properties for this resource.
          $ref: '#/components/schemas/UsagesObject'
        unit:
          description: ' The units for the quota usage, such as Count and Bytes. When requesting quota, use the **unit** value returned in the GET response in the request body of your PUT operation.'
          type: string
          readOnly: true
        name:
          description: Resource name provided by the resource provider. Use this property name when requesting quota.
          $ref: '#/components/schemas/ResourceName'
        resourceType:
          description: The name of the resource type. Optional field.
          $ref: '#/components/schemas/ResourceTypesName'
        quotaPeriod:
          description: 'The time period for the summary of the quota usage values. For example:

            *P1D (per one day)

            *PT1M (per one minute)

            *PT1S (per one second).

            This parameter is optional because it is not relevant for all resources such as compute.'
          type: string
          readOnly: true
        isQuotaApplicable:
          description: States if quota can be requested for this resource.
          type: boolean
          readOnly: true
        properties:
          description: Additional properties for the specific resource provider.
          type: object
  parameters:
    ScopeInPath:
      name: scope
      description: The target Azure resource URI. For example, `/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/qms-test/providers/Microsoft.Batch/batchAccounts/testAccount/`. This is the target Azure resource URI for the List GET operation. If a `{resourceName}` is added after `/quotas`, then it's the target Azure resource URI in the GET operation for the specific resource.
      in: path
      required: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
    ResourceNameInParameters:
      name: resourceName
      in: path
      required: true
      description: "Resource name for a given resource provider. For example:\n- SKU name for Microsoft.Compute\n- SKU or TotalLowPriorityCores for Microsoft.MachineLearningServices\n For Microsoft.Network PublicIPAddresses."
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: Impersonate your user account.
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth 2.0 authorization
