openapi: 3.2.0
info:
  title: Microsoft Azure Predictions API
  version: '1.0'
  description: 'Operations tagged PredictionsApi across 2 of this provider''s published API definitions: custom-vision-training-client-openapi-original.yml, trainingapi-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://southcentralus.api.cognitive.microsoft.com/customvision/v3.3/training
- url: https://southcentralus.api.cognitive.microsoft.com/customvision/v2.1/Training
tags:
- name: PredictionsApi
paths:
  /projects/{projectId}/predictions:
    delete:
      tags:
      - PredictionsApi
      summary: Microsoft Azure Delete A Set Of Predicted Images And Their Associated…
      operationId: microsoftAzureDeleteprediction
      parameters:
      - name: projectId
        in: path
        description: The project id.
        required: true
        schema:
          type: string
          format: uuid
      - name: ids
        in: query
        description: The prediction ids. Limited to 64.
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            format: uuid
          maxItems: 64
          minItems: 0
      responses:
        '204':
          description: No Content
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
      x-ms-examples:
        Successful DeletePrediction request:
          $ref: ./examples/DeletePrediction.json
      description: Needs a more full description created.
      security:
      - apim_key: []
    servers:
    - url: https://southcentralus.api.cognitive.microsoft.com/customvision/v3.3/training
  /projects/{projectId}/predictions/query:
    post:
      tags:
      - PredictionsApi
      summary: Microsoft Azure Get Images That Were Sent To Your Prediction Endpoint
      operationId: microsoftAzureQuerypredictions
      parameters:
      - name: projectId
        in: path
        description: The project id.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictionQueryResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/PredictionQueryResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/PredictionQueryResult'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
            application/xml:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
            text/xml:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
      x-ms-examples:
        Successful QueryPredictions request:
          $ref: ./examples/QueryPredictions.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PredictionQueryToken'
          application/xml:
            schema:
              $ref: '#/components/schemas/PredictionQueryToken'
          text/xml:
            schema:
              $ref: '#/components/schemas/PredictionQueryToken'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PredictionQueryToken'
        description: Parameters used to query the predictions. Limited to combining 2 tags.
        required: true
      security:
      - apim_key: []
    servers:
    - url: https://southcentralus.api.cognitive.microsoft.com/customvision/v3.3/training
  /projects/{projectId}/quicktest/image:
    post:
      tags:
      - PredictionsApi
      summary: Microsoft Azure Quick Test An Image
      operationId: microsoftAzureQuicktestimage
      parameters:
      - name: projectId
        in: path
        description: The project id.
        required: true
        schema:
          type: string
          format: uuid
      - name: iterationId
        in: query
        description: "Optional. Specifies the id of a particular iteration to evaluate against.\n            The default iteration for the project will be used when not specified."
        required: false
        schema:
          type: string
          format: uuid
      - name: store
        in: query
        description: Optional. Specifies whether or not to store the result of this prediction. The default is true, to store.
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagePrediction'
            application/xml:
              schema:
                $ref: '#/components/schemas/ImagePrediction'
            text/xml:
              schema:
                $ref: '#/components/schemas/ImagePrediction'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
            application/xml:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
            text/xml:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
      x-ms-examples:
        Successful QuickTestImage request:
          $ref: ./examples/QuickTestImage.json
      description: Needs a more full description created.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                imageData:
                  type: string
                  description: Binary image data. Supported formats are JPEG, GIF, PNG, and BMP. Supports images up to 6MB.
                  format: binary
              required:
              - imageData
          application/octet-stream:
            schema:
              type: object
              properties:
                imageData:
                  type: string
                  description: Binary image data. Supported formats are JPEG, GIF, PNG, and BMP. Supports images up to 6MB.
                  format: binary
              required:
              - imageData
      security:
      - apim_key: []
    servers:
    - url: https://southcentralus.api.cognitive.microsoft.com/customvision/v3.3/training
  /projects/{projectId}/quicktest/url:
    post:
      tags:
      - PredictionsApi
      summary: Microsoft Azure Quick Test An Image Url
      operationId: microsoftAzureQuicktestimageurl
      parameters:
      - name: projectId
        in: path
        description: The project to evaluate against.
        required: true
        schema:
          type: string
          format: uuid
      - name: iterationId
        in: query
        description: "Optional. Specifies the id of a particular iteration to evaluate against.\n            The default iteration for the project will be used when not specified."
        required: false
        schema:
          type: string
          format: uuid
      - name: store
        in: query
        description: Optional. Specifies whether or not to store the result of this prediction. The default is true, to store.
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagePrediction'
            application/xml:
              schema:
                $ref: '#/components/schemas/ImagePrediction'
            text/xml:
              schema:
                $ref: '#/components/schemas/ImagePrediction'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
            application/xml:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
            text/xml:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
      x-ms-examples:
        Successful QuickTestImageUrl request:
          $ref: ./examples/QuickTestImageUrl.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageUrl'
          application/xml:
            schema:
              $ref: '#/components/schemas/ImageUrl'
          text/xml:
            schema:
              $ref: '#/components/schemas/ImageUrl'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ImageUrl'
        description: An ImageUrl that contains the url of the image to be evaluated.
        required: true
      security:
      - apim_key: []
    servers:
    - url: https://southcentralus.api.cognitive.microsoft.com/customvision/v3.3/training
components:
  schemas:
    PredictionQueryTag:
      type: object
      properties:
        id:
          format: uuid
          type: string
          readOnly: false
        minThreshold:
          format: float
          type: number
          readOnly: false
        maxThreshold:
          format: float
          type: number
          readOnly: false
    ImageUrl:
      description: Image url.
      required:
      - url
      type: object
      properties:
        url:
          description: Url of the image.
          type: string
          readOnly: false
    PredictionQueryToken:
      type: object
      properties:
        session:
          type: string
          readOnly: false
        continuation:
          type: string
          readOnly: false
        maxCount:
          format: int32
          type: integer
          readOnly: false
        orderBy:
          enum:
          - Newest
          - Oldest
          - Suggested
          type: string
          readOnly: false
          x-ms-enum:
            name: OrderBy
            modelAsString: true
        tags:
          type: array
          items:
            $ref: '#/components/schemas/PredictionQueryTag'
          readOnly: false
        iterationId:
          format: uuid
          type:
          - string
          - 'null'
          readOnly: false
        startTime:
          format: date-time
          type:
          - string
          - 'null'
          readOnly: false
        endTime:
          format: date-time
          type:
          - string
          - 'null'
          readOnly: false
        application:
          type: string
          readOnly: false
    PredictionQueryResult:
      description: Query result of the prediction images that were sent to your prediction endpoint.
      type: object
      properties:
        token:
          $ref: '#/components/schemas/PredictionQueryToken'
          description: Prediction Query Token.
          readOnly: false
        results:
          description: Result of an image prediction request.
          type: array
          items:
            $ref: '#/components/schemas/StoredImagePrediction'
          readOnly: true
    ImagePrediction:
      description: Result of an image prediction request.
      type: object
      properties:
        id:
          format: uuid
          description: Prediction Id.
          type: string
          readOnly: true
        project:
          format: uuid
          description: Project Id.
          type: string
          readOnly: true
        iteration:
          format: uuid
          description: Iteration Id.
          type: string
          readOnly: true
        created:
          format: date-time
          description: Date this prediction was created.
          type: string
          readOnly: true
        predictions:
          description: List of predictions.
          type: array
          items:
            $ref: '#/components/schemas/Prediction'
          readOnly: true
    CustomVisionError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          description: The error code.
          enum:
          - NoError
          - BadRequest
          - BadRequestExceededBatchSize
          - BadRequestNotSupported
          - BadRequestInvalidIds
          - BadRequestProjectName
          - BadRequestProjectNameNotUnique
          - BadRequestProjectDescription
          - BadRequestProjectUnknownDomain
          - BadRequestProjectUnknownClassification
          - BadRequestProjectUnsupportedDomainTypeChange
          - BadRequestProjectUnsupportedExportPlatform
          - BadRequestProjectImagePreprocessingSettings
          - BadRequestProjectDuplicated
          - BadRequestIterationName
          - BadRequestIterationNameNotUnique
          - BadRequestIterationDescription
          - BadRequestIterationIsNotTrained
          - BadRequestIterationValidationFailed
          - BadRequestWorkspaceCannotBeModified
          - BadRequestWorkspaceNotDeletable
          - BadRequestTagName
          - BadRequestTagNameNotUnique
          - BadRequestTagDescription
          - BadRequestTagType
          - BadRequestMultipleNegativeTag
          - BadRequestMultipleGeneralProductTag
          - BadRequestImageTags
          - BadRequestImageRegions
          - BadRequestNegativeAndRegularTagOnSameImage
          - BadRequestUnsupportedDomain
          - BadRequestRequiredParamIsNull
          - BadRequestIterationIsPublished
          - BadRequestInvalidPublishName
          - BadRequestInvalidPublishTarget
          - BadRequestUnpublishFailed
          - BadRequestIterationNotPublished
          - BadRequestSubscriptionApi
          - BadRequestExceedProjectLimit
          - BadRequestExceedIterationPerProjectLimit
          - BadRequestExceedTagPerProjectLimit
          - BadRequestExceedTagPerImageLimit
          - BadRequestExceededQuota
          - BadRequestCannotMigrateProjectWithName
          - BadRequestNotLimitedTrial
          - BadRequestImageBatch
          - BadRequestImageStream
          - BadRequestImageUrl
          - BadRequestImageFormat
          - BadRequestImageSizeBytes
          - BadRequestImageDimensions
          - BadRequestImageExceededCount
          - BadRequestTrainingNotNeeded
          - BadRequestTrainingNotNeededButTrainingPipelineUpdated
          - BadRequestTrainingValidationFailed
          - BadRequestClassificationTrainingValidationFailed
          - BadRequestMultiClassClassificationTrainingValidationFailed
          - BadRequestMultiLabelClassificationTrainingValidationFailed
          - BadRequestDetectionTrainingValidationFailed
          - BadRequestTrainingAlreadyInProgress
          - BadRequestDetectionTrainingNotAllowNegativeTag
          - BadRequestInvalidEmailAddress
          - BadRequestDomainNotSupportedForAdvancedTraining
          - BadRequestExportPlatformNotSupportedForAdvancedTraining
          - BadRequestReservedBudgetInHoursNotEnoughForAdvancedTraining
          - BadRequestExportValidationFailed
          - BadRequestExportAlreadyInProgress
          - BadRequestPredictionIdsMissing
          - BadRequestPredictionIdsExceededCount
          - BadRequestPredictionTagsExceededCount
          - BadRequestPredictionResultsExceededCount
          - BadRequestPredictionInvalidApplicationName
          - BadRequestPredictionInvalidQueryParameters
          - BadRequestInvalidImportToken
          - BadRequestExportWhileTraining
          - BadRequestImageMetadataKey
          - BadRequestImageMetadataValue
          - BadRequestOperationNotSupported
          - BadRequestInvalidArtifactUri
          - BadRequestCustomerManagedKeyRevoked
          - BadRequestInvalid
          - UnsupportedMediaType
          - Forbidden
          - ForbiddenUser
          - ForbiddenUserResource
          - ForbiddenUserSignupDisabled
          - ForbiddenUserSignupAllowanceExceeded
          - ForbiddenUserDoesNotExist
          - ForbiddenUserDisabled
          - ForbiddenUserInsufficientCapability
          - ForbiddenDRModeEnabled
          - ForbiddenInvalid
          - NotFound
          - NotFoundProject
          - NotFoundProjectDefaultIteration
          - NotFoundIteration
          - NotFoundIterationPerformance
          - NotFoundTag
          - NotFoundImage
          - NotFoundDomain
          - NotFoundApimSubscription
          - NotFoundInvalid
          - Conflict
          - ConflictInvalid
          - ErrorUnknown
          - ErrorIterationCopyFailed
          - ErrorPreparePerformanceMigrationFailed
          - ErrorProjectInvalidWorkspace
          - ErrorProjectInvalidPipelineConfiguration
          - ErrorProjectInvalidDomain
          - ErrorProjectTrainingRequestFailed
          - ErrorProjectImportRequestFailed
          - ErrorProjectExportRequestFailed
          - ErrorFeaturizationServiceUnavailable
          - ErrorFeaturizationQueueTimeout
          - ErrorFeaturizationInvalidFeaturizer
          - ErrorFeaturizationAugmentationUnavailable
          - ErrorFeaturizationUnrecognizedJob
          - ErrorFeaturizationAugmentationError
          - ErrorExporterInvalidPlatform
          - ErrorExporterInvalidFeaturizer
          - ErrorExporterInvalidClassifier
          - ErrorPredictionServiceUnavailable
          - ErrorPredictionModelNotFound
          - ErrorPredictionModelNotCached
          - ErrorPrediction
          - ErrorPredictionStorage
          - ErrorRegionProposal
          - ErrorUnknownBaseModel
          - ErrorInvalid
          type: string
          x-ms-enum:
            name: CustomVisionErrorCodes
            modelAsString: true
        message:
          description: A message explaining the error reported by the service.
          type: string
    BoundingBox:
      description: Bounding box that defines a region of an image.
      required:
      - left
      - top
      - width
      - height
      type: object
      properties:
        left:
          format: float
          description: Coordinate of the left boundary.
          type: number
          readOnly: false
        top:
          format: float
          description: Coordinate of the top boundary.
          type: number
          readOnly: false
        width:
          format: float
          description: Width.
          type: number
          readOnly: false
        height:
          format: float
          description: Height.
          type: number
          readOnly: false
    Prediction:
      description: Prediction result.
      type: object
      properties:
        probability:
          format: float
          description: Probability of the tag.
          type: number
          readOnly: true
        tagId:
          format: uuid
          description: Id of the predicted tag.
          type: string
          readOnly: true
        tagName:
          description: Name of the predicted tag.
          type:
          - string
          - 'null'
          readOnly: true
        boundingBox:
          $ref: '#/components/schemas/BoundingBox'
          description: Bounding box of the prediction.
          readOnly: true
        tagType:
          description: Type of the predicted tag.
          enum:
          - Regular
          - Negative
          - GeneralProduct
          type:
          - string
          - 'null'
          readOnly: true
          x-ms-enum:
            name: TagType
            modelAsString: true
    StoredImagePrediction:
      description: Result of an image prediction request.
      type: object
      properties:
        resizedImageUri:
          description: The URI to the (resized) prediction image. If VNET feature is enabled this will be a relative path to be used with GetArtifact, otherwise this will be an absolute URI to the resource.
          type: string
          readOnly: true
        thumbnailUri:
          description: The URI to the thumbnail of the original prediction image. If VNET feature is enabled this will be a relative path to be used with GetArtifact, otherwise this will be an absolute URI to the resource.
          type: string
          readOnly: true
        originalImageUri:
          description: The URI to the original prediction image. If VNET feature is enabled this will be a relative path to be used with GetArtifact, otherwise this will be an absolute URI to the resource.
          type: string
          readOnly: true
        domain:
          format: uuid
          description: Domain used for the prediction.
          type: string
          readOnly: true
        id:
          format: uuid
          description: Prediction Id.
          type: string
          readOnly: true
        project:
          format: uuid
          description: Project Id.
          type: string
          readOnly: true
        iteration:
          format: uuid
          description: Iteration Id.
          type: string
          readOnly: true
        created:
          format: date-time
          description: Date this prediction was created.
          type: string
          readOnly: true
        predictions:
          description: List of predictions.
          type: array
          items:
            $ref: '#/components/schemas/Prediction'
          readOnly: true
    PredictionQueryTag_2:
      type:
      - object
      - 'null'
      properties:
        id:
          format: uuid
          type: string
          readOnly: true
        minThreshold:
          format: float
          type: number
          readOnly: true
        maxThreshold:
          format: float
          type: number
          readOnly: true
    ImageUrl_2:
      type:
      - object
      - 'null'
      properties:
        url:
          type:
          - string
          - 'null'
    PredictionQueryToken_2:
      type:
      - object
      - 'null'
      properties:
        session:
          type:
          - string
          - 'null'
        continuation:
          type:
          - string
          - 'null'
        maxCount:
          format: int32
          type: integer
        orderBy:
          enum:
          - Newest
          - Oldest
          - Suggested
          type: string
          x-ms-enum:
            name: OrderBy
            modelAsString: true
        tags:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PredictionQueryTag_2'
        iterationId:
          format: uuid
          type:
          - string
          - 'null'
        startTime:
          format: date-time
          type:
          - string
          - 'null'
        endTime:
          format: date-time
          type:
          - string
          - 'null'
        application:
          type:
          - string
          - 'null'
    PredictionQueryResult_2:
      type:
      - object
      - 'null'
      properties:
        token:
          $ref: '#/components/schemas/PredictionQueryToken_2'
          readOnly: true
        results:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/StoredImagePrediction_2'
          readOnly: true
    ImagePrediction_2:
      type:
      - object
      - 'null'
      properties:
        id:
          format: uuid
          type: string
          readOnly: true
        project:
          format: uuid
          type: string
          readOnly: true
        iteration:
          format: uuid
          type: string
          readOnly: true
        created:
          format: date-time
          type: string
          readOnly: true
        predictions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Prediction_2'
          readOnly: true
    BoundingBox_2:
      type:
      - object
      - 'null'
      properties:
        left:
          format: float
          type: number
        top:
          format: float
          type: number
        width:
          format: float
          type: number
        height:
          format: float
          type: number
    Prediction_2:
      type:
      - object
      - 'null'
      properties:
        probability:
          format: float
          type: number
          readOnly: true
        tagId:
          format: uuid
          type: string
          readOnly: true
        tagName:
          type:
          - string
          - 'null'
          readOnly: true
        boundingBox:
          $ref: '#/components/schemas/BoundingBox_2'
          readOnly: true
    StoredImagePrediction_2:
      description: result of an image classification request
      type:
      - object
      - 'null'
      properties:
        imageUri:
          type:
          - string
          - 'null'
          readOnly: true
        thumbnailUri:
          type:
          - string
          - 'null'
          readOnly: true
        domain:
          format: uuid
          type: string
          readOnly: true
        id:
          format: uuid
          type: string
          readOnly: true
        project:
          format: uuid
          type: string
          readOnly: true
        iteration:
          format: uuid
          type: string
          readOnly: true
        created:
          format: date-time
          type: string
          readOnly: true
        predictions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Prediction_2'
          readOnly: true
  parameters:
    ApiKey:
      name: Training-Key
      in: header
      required: true
      x-ms-client-name: ApiKey
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    apim_key:
      type: apiKey
      name: Training-Key
      in: header
x-refined-from:
- custom-vision-training-client-openapi-original.yml
- trainingapi-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
