openapi: 3.2.0
info:
  title: Microsoft Azure SeaBreezeManagementClient Container Logs API
  description: APIs to deploy and manage resources to SeaBreeze.
  version: 2018-07-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Container Logs
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/applications/{applicationName}/services/{serviceName}/replicas/{replicaName}/codePackages/{codePackageName}/logs
  : get:
      operationId: microsoftAzureCodepackageGetcontainerlog
      x-ms-examples:
        ContainerLogsList:
          $ref: ./examples/ContainerLogsList.json
      summary: Microsoft Azure Gets The Logs For The Container
      description: Get the logs for the container of a given code package of an application.
      parameters:
      - $ref: '#/components/parameters/subscriptionIdRequiredPathParam'
      - $ref: '#/components/parameters/ResourceGroupNameRequiredPathParam'
      - $ref: '#/components/parameters/api-versionRequiredQueryParam'
      - $ref: '#/components/parameters/ApplicationNameRequiredPathParam'
      - $ref: '#/components/parameters/ServiceNameRequiredPathParam'
      - $ref: '#/components/parameters/ReplicaNameRequiredPathParam'
      - $ref: '#/components/parameters/CodePackageNameRequiredPathParam'
      - $ref: '#/components/parameters/TailOptionalQueryParam'
      tags:
      - Container Logs
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerLogs'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
components:
  parameters:
    TailOptionalQueryParam:
      name: tail
      in: query
      x-ms-parameter-location: method
      required: false
      description: Number of lines to show from the end of the logs. Default is 100.
      schema:
        type: integer
    ResourceGroupNameRequiredPathParam:
      name: resourceGroupName
      in: path
      description: Azure resource group name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApplicationNameRequiredPathParam:
      name: applicationName
      in: path
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      required: true
      description: The identity of the application.
      schema:
        type: string
    ReplicaNameRequiredPathParam:
      name: replicaName
      in: path
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      required: true
      description: The identity of the service replica.
      schema:
        type: string
    ServiceNameRequiredPathParam:
      name: serviceName
      in: path
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      required: true
      description: The identity of the service.
      schema:
        type: string
    subscriptionIdRequiredPathParam:
      name: subscriptionId
      in: path
      description: The customer subscription identifier
      required: true
      schema:
        type: string
    api-versionRequiredQueryParam:
      name: api-version
      in: query
      description: The version of the API. This parameter is required and its value must be `2018-07-01-preview`.
      required: true
      x-ms-enum:
        name: 2018-07-01-preview
        modelAsString: true
        values:
        - value: 2018-07-01-preview
          description: The `2018-07-01-preview` version of the API.
      schema:
        type: string
        enum:
        - 2018-07-01-preview
        default: 2018-07-01-preview
    CodePackageNameRequiredPathParam:
      name: codePackageName
      in: path
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      required: true
      description: The name of the code package.
      schema:
        type: string
  schemas:
    ErrorModel:
      properties:
        error:
          $ref: '#/components/schemas/ErrorErrorModel'
          description: Error model information
      description: The error details.
      required:
      - error
    ErrorErrorModel:
      description: Error model information
      properties:
        code:
          type: string
        message:
          type: string
          description: Error message.
        innerError:
          type: string
        details:
          type: array
          description: List of error message details.
          items:
            $ref: '#/components/schemas/ErrorDetailsModel'
      required:
      - code
    ErrorDetailsModel:
      description: Error model details information
      properties:
        code:
          type: string
        message:
          type: string
          description: Error message.
      required:
      - code
      - message
    ContainerLogs:
      description: The logs of the container.
      type: object
      properties:
        content:
          type: string
          description: content of the log.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
