openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft.NetworkAnalytics Data Products…
  version: '2023-11-15'
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: DataProductsCatalogs
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.NetworkAnalytics/dataProductsCatalogs:
    get:
      operationId: microsoftAzureDataproductscatalogsListbysubscription
      tags:
      - DataProductsCatalogs
      description: List data catalog by subscription.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataProductsCatalogListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        DataProductsCatalogs_ListBySubscription_MaximumSet_Gen:
          $ref: ./examples/DataProductsCatalogs_ListBySubscription_MaximumSet_Gen.json
        DataProductsCatalogs_ListBySubscription_MinimumSet_Gen:
          $ref: ./examples/DataProductsCatalogs_ListBySubscription_MinimumSet_Gen.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkAnalytics/dataProductsCatalogs
  : get:
      operationId: microsoftAzureDataproductscatalogsListbyresourcegroup
      tags:
      - DataProductsCatalogs
      description: List data catalog by resource group.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataProductsCatalogListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        DataProductsCatalogs_ListByResourceGroup_MaximumSet_Gen:
          $ref: ./examples/DataProductsCatalogs_ListByResourceGroup_MaximumSet_Gen.json
        DataProductsCatalogs_ListByResourceGroup_MinimumSet_Gen:
          $ref: ./examples/DataProductsCatalogs_ListByResourceGroup_MinimumSet_Gen.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkAnalytics/dataProductsCatalogs/default
  : get:
      operationId: microsoftAzureDataproductscatalogsGet
      tags:
      - DataProductsCatalogs
      description: Retrieve data type resource.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataProductsCatalog'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        DataProductsCatalogs_Get_MaximumSet_Gen:
          $ref: ./examples/DataProductsCatalogs_Get_MaximumSet_Gen.json
        DataProductsCatalogs_Get_MaximumSet_Gen - generated by [MinimumSet] rule_MinimumSet_Gen:
          $ref: ./examples/DataProductsCatalogs_Get_MinimumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    DataProductVersion:
      type: object
      description: Data Product Version.
      properties:
        version:
          type: string
          description: Version of data product
      required:
      - version
    ProvisioningState:
      type: string
      description: The status of the current operation.
      enum:
      - Succeeded
      - Failed
      - Canceled
      - Provisioning
      - Updating
      - Deleting
      - Accepted
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: Succeeded
          value: Succeeded
          description: Represents a succeeded operation.
        - name: Failed
          value: Failed
          description: Represents a failed operation.
        - name: Canceled
          value: Canceled
          description: Represents a canceled operation.
        - name: Provisioning
          value: Provisioning
          description: Represents a pending operation.
        - name: Updating
          value: Updating
          description: Represents a pending operation.
        - name: Deleting
          value: Deleting
          description: Represents an operation under deletion.
        - name: Accepted
          value: Accepted
          description: Represents an accepted operation.
    DataProductsCatalogListResult:
      type: object
      description: The response of a DataProductsCatalog list operation.
      properties:
        value:
          type: array
          description: The DataProductsCatalog items on this page
          items:
            $ref: '#/components/schemas/DataProductsCatalog'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    DataProductInformation:
      type: object
      description: Data Product Information
      properties:
        dataProductName:
          type: string
          description: Name of data product.
        description:
          type: string
          description: Description about data product.
        dataProductVersions:
          type: array
          description: Version information of data product.
          items:
            $ref: '#/components/schemas/DataProductVersion'
          x-ms-identifiers: []
      required:
      - dataProductName
      - description
      - dataProductVersions
    PublisherInformation:
      type: object
      description: Details for Publisher Information.
      properties:
        publisherName:
          type: string
          description: Name of the publisher.
        dataProducts:
          type: array
          description: Data product information.
          items:
            $ref: '#/components/schemas/DataProductInformation'
          x-ms-identifiers: []
      required:
      - publisherName
      - dataProducts
    DataProductsCatalog:
      type: object
      description: The data catalog resource.
      properties:
        properties:
          $ref: '#/components/schemas/DataProductsCatalogProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
    DataProductsCatalogProperties:
      type: object
      description: Details for data catalog properties.
      properties:
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The data catalog provisioning state.
          readOnly: true
        publishers:
          type: array
          description: The data product publisher information.
          items:
            $ref: '#/components/schemas/PublisherInformation'
          x-ms-identifiers: []
      required:
      - publishers
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
