openapi: 3.2.0
info:
  title: Microsoft Azure Azure Site Recovery Management Service Dra…
  description: A first party Azure service enabling the data replication.
  version: 2021-02-16-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Dra
  description: Data replication agent (Dra) Controller.
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationFabrics/{fabricName}/fabricAgents/{fabricAgentName}
  : get:
      tags:
      - Dra
      summary: Microsoft Azure Gets The Fabric Agent Dra
      description: Gets the details of the fabric agent.
      operationId: microsoftAzureDraGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/FabricNameParameter'
      - $ref: '#/components/parameters/FabricAgentNameParameter'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Returns Dra Model on success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraModel'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Dra_Get:
          $ref: ./examples/Dra_Get.json
    put:
      tags:
      - Dra
      summary: Microsoft Azure Puts The Fabric Agent Dra
      description: Creates the fabric agent.
      operationId: microsoftAzureDraCreate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/FabricNameParameter'
      - $ref: '#/components/parameters/FabricAgentNameParameter'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraModel'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraModel'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        Dra_Create:
          $ref: ./examples/Dra_Create.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DraModel'
        description: Dra model.
    delete:
      tags:
      - Dra
      summary: Microsoft Azure Deletes The Fabric Agent Dra
      description: Deletes the fabric agent.
      operationId: microsoftAzureDraDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/FabricNameParameter'
      - $ref: '#/components/parameters/FabricAgentNameParameter'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '202':
          description: Returns success on deletion.
          headers:
            Azure-AsyncOperation:
              description: Tracking URL for long running operation.
              schema:
                type: string
            Location:
              schema:
                type: string
        '204':
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        Dra_Delete:
          $ref: ./examples/Dra_Delete.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationFabrics/{fabricName}/fabricAgents
  : get:
      tags:
      - Dra
      summary: Microsoft Azure Lists The Fabric Agents Dras
      description: Gets the list of fabric agents in the given fabric.
      operationId: microsoftAzureDraList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/FabricNameParameter'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Returns Dra Model Collection on success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraModelCollection'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Dra_List:
          $ref: ./examples/Dra_List.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationFabrics/{fabricName}/fabricAgents/{fabricAgentName}/operations/{operationId}
  : get:
      tags:
      - Dra
      summary: Microsoft Azure Gets The Fabric Agent Dra Operation Status
      description: Tracks the results of an asynchronous operation on the fabric agent.
      operationId: microsoftAzureDraoperationstatusGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/FabricNameParameter'
      - $ref: '#/components/parameters/FabricAgentNameParameter'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/OperationIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        DraOperationStatus_Get:
          $ref: ./examples/DraOperationStatus_Get.json
components:
  schemas:
    DraModel:
      description: Dra model.
      required:
      - properties
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/DraModelProperties'
        id:
          description: Gets or sets the Id of the resource.
          type: string
          readOnly: true
        name:
          description: Gets or sets the name of the resource.
          type: string
          readOnly: true
        type:
          description: Gets or sets the type of the resource.
          type: string
          readOnly: true
        systemData:
          allOf:
          - $ref: '#/components/schemas/SystemDataModel'
          readOnly: true
      x-ms-azure-resource: true
    DraModelProperties:
      description: Dra model properties.
      required:
      - authenticationIdentity
      - customProperties
      - machineId
      - machineName
      - resourceAccessIdentity
      type: object
      properties:
        correlationId:
          description: Gets or sets the Dra correlation Id.
          type: string
          readOnly: true
        machineId:
          description: Gets or sets the machine Id where Dra is running.
          minLength: 1
          type: string
        machineName:
          description: Gets or sets the machine name where Dra is running.
          minLength: 1
          type: string
        authenticationIdentity:
          $ref: '#/components/schemas/IdentityModel'
        resourceAccessIdentity:
          $ref: '#/components/schemas/IdentityModel'
        isResponsive:
          description: Gets or sets a value indicating whether Dra is responsive.
          type: boolean
          readOnly: true
        lastHeartbeat:
          format: date-time
          description: Gets or sets the time when last heartbeat was sent by the Dra.
          type: string
          readOnly: true
        versionNumber:
          description: Gets or sets the Dra version.
          type: string
          readOnly: true
        provisioningState:
          description: Gets or sets the provisioning state of the Dra.
          enum:
          - Canceled
          - Creating
          - Deleting
          - Deleted
          - Failed
          - Succeeded
          - Updating
          type: string
          readOnly: true
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
        healthErrors:
          description: Gets or sets the list of health errors.
          type: array
          items:
            $ref: '#/components/schemas/HealthErrorModel'
          readOnly: true
          x-ms-identifiers: []
        customProperties:
          $ref: '#/components/schemas/DraModelCustomProperties'
    OperationStatus:
      description: Defines the operation status.
      type: object
      properties:
        id:
          description: Gets or sets the Id.
          type: string
        name:
          description: Gets or sets the operation name.
          type: string
        status:
          description: 'Gets or sets the status of the operation. ARM expects the terminal status to be one of

            Succeeded/ Failed/ Canceled. All other values imply that the operation is still running.'
          type: string
        startTime:
          description: Gets or sets the start time.
          type: string
        endTime:
          description: Gets or sets the end time.
          type: string
    HealthErrorModel:
      description: Health error model.
      type: object
      properties:
        affectedResourceType:
          description: Gets or sets the type of affected resource type.
          type: string
        affectedResourceCorrelationIds:
          description: 'Gets or sets the list of affected resource correlation Ids. This can be used to

            uniquely identify the count of items affected by a specific category and severity

            as well as count of item affected by an specific issue.'
          type: array
          items:
            type: string
        childErrors:
          description: Gets or sets a list of child health errors associated with this error.
          type: array
          items:
            $ref: '#/components/schemas/InnerHealthErrorModel'
          x-ms-identifiers: []
        code:
          description: Gets or sets the error code.
          type: string
          readOnly: true
        healthCategory:
          description: Gets or sets the health category.
          type: string
          readOnly: true
        category:
          description: Gets or sets the error category.
          type: string
          readOnly: true
        severity:
          description: Gets or sets the error severity.
          type: string
          readOnly: true
        source:
          description: Gets or sets the error source.
          type: string
          readOnly: true
        creationTime:
          format: date-time
          description: Gets or sets the error creation time.
          type: string
          readOnly: true
        isCustomerResolvable:
          description: Gets or sets a value indicating whether the error is customer resolvable.
          type: boolean
          readOnly: true
        summary:
          description: Gets or sets the error summary.
          type: string
          readOnly: true
        message:
          description: Gets or sets the error message.
          type: string
          readOnly: true
        causes:
          description: Gets or sets possible causes of the error.
          type: string
          readOnly: true
        recommendation:
          description: Gets or sets recommended action to resolve the error.
          type: string
          readOnly: true
    InnerHealthErrorModel:
      description: Inner health error model.
      type: object
      properties:
        code:
          description: Gets or sets the error code.
          type: string
          readOnly: true
        healthCategory:
          description: Gets or sets the health category.
          type: string
          readOnly: true
        category:
          description: Gets or sets the error category.
          type: string
          readOnly: true
        severity:
          description: Gets or sets the error severity.
          type: string
          readOnly: true
        source:
          description: Gets or sets the error source.
          type: string
          readOnly: true
        creationTime:
          format: date-time
          description: Gets or sets the error creation time.
          type: string
          readOnly: true
        isCustomerResolvable:
          description: Gets or sets a value indicating whether the error is customer resolvable.
          type: boolean
          readOnly: true
        summary:
          description: Gets or sets the error summary.
          type: string
          readOnly: true
        message:
          description: Gets or sets the error message.
          type: string
          readOnly: true
        causes:
          description: Gets or sets possible causes of the error.
          type: string
          readOnly: true
        recommendation:
          description: Gets or sets recommended action to resolve the error.
          type: string
          readOnly: true
    DraModelCollection:
      description: Dra model collection.
      type: object
      properties:
        value:
          description: Gets or sets the list of Dras.
          type: array
          items:
            $ref: '#/components/schemas/DraModel'
          x-ms-identifiers: []
        nextLink:
          description: Gets or sets the value of next link.
          type: string
    IdentityModel:
      description: Identity model.
      required:
      - aadAuthority
      - applicationId
      - audience
      - objectId
      - tenantId
      type: object
      properties:
        tenantId:
          description: Gets or sets the tenant Id of the SPN with which Dra communicates to service.
          minLength: 1
          type: string
        applicationId:
          description: 'Gets or sets the client/application Id of the SPN with which Dra communicates to

            service.'
          minLength: 1
          type: string
        objectId:
          description: Gets or sets the object Id of the SPN with which Dra communicates to service.
          minLength: 1
          type: string
        audience:
          description: Gets or sets the audience of the SPN with which Dra communicates to service.
          minLength: 1
          type: string
        aadAuthority:
          description: Gets or sets the authority of the SPN with which Dra communicates to service.
          minLength: 1
          type: string
    DraModelCustomProperties:
      description: Dra model custom properties.
      required:
      - instanceType
      type: object
      properties:
        instanceType:
          description: Gets or sets the instance type.
          minLength: 1
          type: string
      discriminator:
        propertyName: instanceType
    SystemDataModel:
      description: System data required to be defined for Azure resources.
      type: object
      properties:
        createdBy:
          description: Gets or sets identity that created the resource.
          type: string
        createdByType:
          description: 'Gets or sets the type of identity that created the resource: user, application,

            managedIdentity.'
          type: string
        createdAt:
          format: date-time
          description: Gets or sets the timestamp of resource creation (UTC).
          type: string
        lastModifiedBy:
          description: Gets or sets the identity that last modified the resource.
          type: string
        lastModifiedByType:
          description: 'Gets or sets the type of identity that last modified the resource: user, application,

            managedIdentity.'
          type: string
        lastModifiedAt:
          format: date-time
          description: Gets or sets the timestamp of resource last modification (UTC).
          type: string
  parameters:
    FabricNameParameter:
      in: path
      name: fabricName
      description: The fabric name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9]*$
    FabricAgentNameParameter:
      in: path
      name: fabricAgentName
      description: The fabric agent (Dra) name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9]*$
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
