openapi: 3.2.0
info:
  title: Microsoft Azure MicrosoftScanningClient Classification…
  description: Creates a Microsoft.Scanning management client.
  version: 2022-07-01-preview
servers:
- url: https://purview.azure.com/scan
security:
- azure_auth:
  - user_impersonation
tags:
- name: Classification Rules
paths:
  /classificationrules/{classificationRuleName}:
    get:
      tags:
      - Classification Rules
      description: Get a classification rule
      operationId: microsoftAzureClassificationrulesGet
      parameters:
      - in: path
        name: classificationRuleName
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRule'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        ClassificationRules_Get:
          $ref: ./examples/ClassificationRules_Get.json
      summary: Microsoft Azure Get Classificationrules Classificationrulename
    put:
      tags:
      - Classification Rules
      description: Creates or Updates a classification rule
      operationId: microsoftAzureClassificationrulesCreateorupdate
      parameters:
      - in: path
        name: classificationRuleName
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRule'
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRule'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        ClassificationRules_CreateOrUpdate:
          $ref: ./examples/ClassificationRules_CreateOrUpdate.json
      summary: Microsoft Azure Put Classificationrules Classificationrulename
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClassificationRule'
    delete:
      tags:
      - Classification Rules
      description: Deletes a classification rule
      operationId: microsoftAzureClassificationrulesDelete
      parameters:
      - in: path
        name: classificationRuleName
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRule'
        '204':
          description: Success
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        ClassificationRules_Delete:
          $ref: ./examples/ClassificationRules_Delete.json
      summary: Microsoft Azure Delete Classificationrules Classificationrulename
  /classificationrules:
    get:
      tags:
      - Classification Rules
      description: List classification rules in Account
      operationId: microsoftAzureClassificationrulesListall
      parameters:
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRuleList'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        ClassificationRules_ListAll:
          $ref: ./examples/ClassificationRules_ListAll.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Classificationrules
  /classificationrules/{classificationRuleName}/versions:
    get:
      tags:
      - Classification Rules
      description: Lists the rule versions of a classification rule
      operationId: microsoftAzureClassificationrulesListversionsbyclassificationrulename
      parameters:
      - in: path
        name: classificationRuleName
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationRuleList'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        ClassificationRules_ListVersionsByClassificationRuleName:
          $ref: ./examples/ClassificationRules_ListVersionsByClassificationRuleName.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Classificationrules Classificationrulename Versions
  /classificationrules/{classificationRuleName}/versions/{classificationRuleVersion}/:tag:
    post:
      tags:
      - Classification Rules
      description: Sets Classification Action on a specific classification rule version.
      operationId: microsoftAzureClassificationrulesTagclassificationversion
      parameters:
      - in: path
        name: classificationRuleName
        required: true
        schema:
          type: string
      - in: path
        name: classificationRuleVersion
        required: true
        schema:
          type: integer
          format: int32
      - in: query
        name: action
        required: true
        x-ms-enum:
          name: ClassificationAction
          modelAsString: true
        schema:
          type: string
          enum:
          - Keep
          - Delete
      - $ref: '#/components/parameters/api-version'
      responses:
        '202':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        ClassificationRules_TagClassificationVersion:
          $ref: ./examples/ClassificationRules_TagClassificationVersion.json
      summary: Microsoft Azure Post Classificationrules Classificationrulename Versions…
components:
  schemas:
    OperationResponse:
      type: object
      properties:
        scanResultId:
          format: uuid
          type: string
        startTime:
          format: date-time
          type: string
        endTime:
          format: date-time
          type: string
        status:
          enum:
          - Accepted
          - InProgress
          - TransientFailure
          - Succeeded
          - Failed
          - Canceled
          type: string
          x-ms-enum:
            name: OperationStatus
            modelAsString: true
        error:
          allOf:
          - $ref: '#/components/schemas/ErrorInfo'
    ProxyResource:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
    ErrorModel:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorModel'
    ErrorInfo:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorInfo'
    ClassificationRuleList:
      required:
      - value
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ClassificationRule'
        nextLink:
          type: string
        count:
          format: int64
          type: integer
    ClassificationRule:
      required:
      - kind
      type: object
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      properties:
        kind:
          enum:
          - System
          - Custom
          type: string
          x-ms-enum:
            name: ClassificationRuleType
            modelAsString: true
      discriminator:
        propertyName: kind
    ErrorResponseModel:
      type: object
      properties:
        error:
          allOf:
          - $ref: '#/components/schemas/ErrorModel'
  parameters:
    api-version:
      in: query
      name: api-version
      description: The api version to use.
      required: true
      x-ms-client-name: ApiVersion
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-ms-parameterized-host:
  hostTemplate: '{Endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
