openapi: 3.2.0
info:
  title: Microsoft Azure Azure Migrate Assessment Service AKS…
  version: 2023-04-01-preview
  description: Azure Migrate Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: AKSAssessmentOperations
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/aksAssessments
  : get:
      operationId: microsoftAzureAksassessmentoperationsListbyassessmentproject
      tags:
      - AKSAssessmentOperations
      description: List AKSAssessment resources by AssessmentProject
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: continuationToken
        in: query
        description: Continuation Token Query Parameter.
        required: false
        schema:
          type: string
      - name: $top
        in: query
        description: Page Size Query Parameter.
        required: false
        schema:
          type: integer
          format: int32
      - name: $filter
        in: query
        description: Filter Query Parameter.
        required: false
        schema:
          type: string
      - name: totalRecordCount
        in: query
        description: Total Record Count Query Parameter.
        required: false
        schema:
          type: integer
          format: int32
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AKSAssessmentListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        AksAssessmentOperations_ListByAssessmentProject_MaximumSet_Gen:
          $ref: ./examples/AksAssessmentOperations_ListByAssessmentProject_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/aksAssessments/{assessmentName}
  : get:
      operationId: microsoftAzureAksassessmentoperationsGet
      tags:
      - AKSAssessmentOperations
      description: Get a AKSAssessment
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: assessmentName
        in: path
        description: AKS Assessment Name.
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AKSAssessment'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        AksAssessmentOperations_Get_MaximumSet_Gen:
          $ref: ./examples/AksAssessmentOperations_Get_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      operationId: microsoftAzureAksassessmentoperationsCreate
      tags:
      - AKSAssessmentOperations
      description: Create a AKSAssessment
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: assessmentName
        in: path
        description: AKS Assessment Name.
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: Resource 'AKSAssessment' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AKSAssessment'
        '201':
          description: Resource 'AKSAssessment' create operation succeeded
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AKSAssessment'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      x-ms-examples:
        AksAssessmentOperations_Create_MaximumSet_Gen:
          $ref: ./examples/AksAssessmentOperations_Create_MaximumSet_Gen.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AKSAssessment'
        description: Resource create parameters.
        required: true
    delete:
      operationId: microsoftAzureAksassessmentoperationsDelete
      tags:
      - AKSAssessmentOperations
      description: Delete a AKSAssessment
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: assessmentName
        in: path
        description: AKS Assessment Name.
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource deleted successfully.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        AksAssessmentOperations_Delete_MaximumSet_Gen:
          $ref: ./examples/AksAssessmentOperations_Delete_MaximumSet_Gen.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/aksAssessments/{assessmentName}/downloadUrl
  : post:
      operationId: microsoftAzureAksassessmentoperationsDownloadurl
      tags:
      - AKSAssessmentOperations
      description: Get URL for downloading AKS Assessment Report.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: assessmentName
        in: path
        description: AKS Assessment Name.
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadUrl'
        '202':
          description: Resource operation accepted.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      x-ms-examples:
        AksAssessmentOperations_DownloadUrl_MaximumSet_Gen:
          $ref: ./examples/AksAssessmentOperations_DownloadUrl_MaximumSet_Gen.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: The content of the action request
        required: true
components:
  schemas:
    DownloadUrl:
      type: object
      description: Data model of Download URL for assessment report.
      properties:
        assessmentReportUrl:
          type: string
          description: Hyperlink to download report.
          readOnly: true
        expirationTime:
          type: string
          format: date-time
          description: Expiry date of download url.
          readOnly: true
      required:
      - assessmentReportUrl
      - expirationTime
    AssessmentSizingCriterion:
      type: string
      description: Assessment Sizing Criteria.
      enum:
      - PerformanceBased
      - AsOnPremises
      x-ms-enum:
        name: AssessmentSizingCriterion
        modelAsString: true
        values:
        - name: PerformanceBased
          value: PerformanceBased
          description: Performance Data based Sizing.
        - name: AsOnPremises
          value: AsOnPremises
          description: As On Premises or Static Data based Sizing.
    AssessmentDetails:
      type: object
      description: Data model of Details of Assessment Computation.
      properties:
        pricesTimestamp:
          type: string
          format: date-time
          description: Gets last time when rates were queried.
          readOnly: true
        confidenceRatingInPercentage:
          type: number
          format: float
          description: Gets Confidence score.
          readOnly: true
        createdTimestamp:
          type: string
          format: date-time
          description: Gets date and time when assessment was created.
          readOnly: true
        updatedTimestamp:
          type: string
          format: date-time
          description: Gets date and time when assessment was last updated.
          readOnly: true
        status:
          $ref: '#/components/schemas/AssessmentStatus'
          description: Gets assessment status.
          readOnly: true
      required:
      - createdTimestamp
      - updatedTimestamp
      - status
    AssessmentStatus:
      type: string
      description: Assessment Status.
      enum:
      - Created
      - Updated
      - Running
      - Completed
      - Invalid
      - OutOfSync
      - OutDated
      - Deleted
      x-ms-enum:
        name: AssessmentStatus
        modelAsString: true
        values:
        - name: Created
          value: Created
          description: Assessment is Created.
        - name: Updated
          value: Updated
          description: Assessment is Updated.
        - name: Running
          value: Running
          description: Assessment is currently running.
        - name: Completed
          value: Completed
          description: Assessment is Completed or Ready.
        - name: Invalid
          value: Invalid
          description: Assessment is Failed i.e. it is now invalid.
        - name: OutOfSync
          value: OutOfSync
          description: Assessment is Out of Sync.
        - name: OutDated
          value: OutDated
          description: Assessment is Out Dated.
        - name: Deleted
          value: Deleted
          description: Assessment is Deleted.
    AssessmentPropertiesBase:
      type: object
      description: Base ARM model of Assessment ARM properties.
      properties:
        scope:
          $ref: '#/components/schemas/AssessmentScopeParameters'
          description: Gets or sets scope parameters to identify inventory items for assessment.
      allOf:
      - $ref: '#/components/schemas/MutableArmResource'
    AzureVmCategory:
      type: string
      description: Azure VM Category.
      enum:
      - All
      - ComputeOptimized
      - GeneralPurpose
      - GpuOptimized
      - HighPerformanceCompute
      - MemoryOptimized
      - StorageOptimized
      - Isolated
      x-ms-enum:
        name: AzureVmCategory
        modelAsString: true
        values:
        - name: All
          value: All
          description: Indicates All categories of VM.
        - name: ComputeOptimized
          value: ComputeOptimized
          description: Compute Optimized.
        - name: GeneralPurpose
          value: GeneralPurpose
          description: General Purpose.
        - name: GpuOptimized
          value: GpuOptimized
          description: GPU Optimized.
        - name: HighPerformanceCompute
          value: HighPerformanceCompute
          description: High Performance Compute.
        - name: MemoryOptimized
          value: MemoryOptimized
          description: Memory Optimized.
        - name: StorageOptimized
          value: StorageOptimized
          description: Storage Optimized.
        - name: Isolated
          value: Isolated
          description: Isolated VM.
    PricingTier:
      type: string
      description: Pricing Tier for Azure.
      enum:
      - Standard
      - Free
      x-ms-enum:
        name: PricingTier
        modelAsString: true
        values:
        - name: Standard
          value: Standard
          description: Standard Pricing Tier.
        - name: Free
          value: Free
          description: Free Pricing Tier.
    TimeRange:
      type: string
      description: Time Range for Performance Data.
      enum:
      - Day
      - Week
      - Month
      - Custom
      x-ms-enum:
        name: TimeRange
        modelAsString: true
        values:
        - name: Day
          value: Day
          description: Daily.
        - name: Week
          value: Week
          description: Weekly.
        - name: Month
          value: Month
          description: Monthly.
        - name: Custom
          value: Custom
          description: Custom Time Range.
    PerfDataSettings:
      type: object
      description: Data model of Performance Data Settings.
      properties:
        timeRange:
          $ref: '#/components/schemas/TimeRange'
          description: Gets perf data time range.
        perfDataStartTime:
          type: string
          format: date-time
          description: Gets or sets perf data start time.
        perfDataEndTime:
          type: string
          format: date-time
          description: Gets or sets perf data end time.
        percentile:
          $ref: '#/components/schemas/Percentile'
          description: Gets percentile utilization for performance data.
      required:
      - timeRange
      - percentile
    AKSAssessmentSettings:
      type: object
      description: Data model of AKS Assessment Settings.
      properties:
        category:
          $ref: '#/components/schemas/AzureVmCategory'
          description: Gets or sets azure VM category.
        savingsOptions:
          $ref: '#/components/schemas/SavingsOptions'
          description: Gets or sets savings options.
        consolidation:
          $ref: '#/components/schemas/ConsolidationType'
          description: Gets or sets consolidation type.
        pricingTier:
          $ref: '#/components/schemas/PricingTier'
          description: Gets or sets pricing tier.
      required:
      - category
      - savingsOptions
      - consolidation
      - pricingTier
      allOf:
      - $ref: '#/components/schemas/AssessmentSettings'
    AKSAssessmentDetails:
      type: object
      description: Data model of AKS Assessment Details.
      properties:
        webAppCount:
          type: integer
          format: int32
          description: Gets the number of web apps.
          readOnly: true
        webServerCount:
          type: integer
          format: int32
          description: Gets the number of web servers.
          readOnly: true
        machineCount:
          type: integer
          format: int32
          description: Gets the number of machines.
          readOnly: true
        totalMonthlyCost:
          type: number
          format: float
          description: Gets the total monthly cost.
          readOnly: true
      required:
      - webAppCount
      - webServerCount
      - machineCount
      - totalMonthlyCost
      allOf:
      - $ref: '#/components/schemas/AssessmentDetails'
    AzureEnvironmentType:
      type: string
      description: Environment Type for Azure.
      enum:
      - Unknown
      - DevTest
      - Production
      x-ms-enum:
        name: AzureEnvironmentType
        modelAsString: true
        values:
        - name: Unknown
          value: Unknown
          description: Unknown. Indicates missing data.
        - name: DevTest
          value: DevTest
          description: Development or Test Environment.
        - name: Production
          value: Production
          description: Production Environment.
    AKSAssessment:
      type: object
      description: ARM model of AKS Assessment.
      properties:
        properties:
          $ref: '#/components/schemas/AKSAssessmentProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
        eTag:
          type: string
          description: If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.
          readOnly: true
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
    AzureCurrency:
      type: string
      description: Currency for Azure.
      enum:
      - Unknown
      - USD
      - DKK
      - CAD
      - IDR
      - JPY
      - KRW
      - NZD
      - NOK
      - RUB
      - SAR
      - ZAR
      - SEK
      - TRY
      - GBP
      - MXN
      - MYR
      - INR
      - HKD
      - BRL
      - TWD
      - EUR
      - CHF
      - ARS
      - AUD
      - CNY
      x-ms-enum:
        name: AzureCurrency
        modelAsString: true
    AKSAssessmentListResult:
      type: object
      description: The response of a AKSAssessment list operation.
      properties:
        value:
          type: array
          description: The AKSAssessment items on this page
          items:
            $ref: '#/components/schemas/AKSAssessment'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    SavingsOptions:
      type: string
      description: Savings Options for Azure.
      enum:
      - None
      - OneYearSavings
      - ThreeYearsSavings
      - OneYearReserved
      - ThreeYearsReserved
      x-ms-enum:
        name: SavingsOptions
        modelAsString: true
        values:
        - name: None
          value: None
          description: Savings Options is not applicable.
        - name: OneYearSavings
          value: OneYearSavings
          description: One Year Savings Plan.
        - name: ThreeYearsSavings
          value: ThreeYearsSavings
          description: Three Years Savings Plan.
        - name: OneYearReserved
          value: OneYearReserved
          description: One Year Reserved Instances.
        - name: ThreeYearsReserved
          value: ThreeYearsReserved
          description: Three Years Reserved Instances.
    ProvisioningStatus:
      type: string
      description: Provisioning Status.
      enum:
      - Unknown
      - Succeeded
      - Failed
      - Canceled
      - InProgress
      x-ms-enum:
        name: ProvisioningStatus
        modelAsString: true
        values:
        - name: Unknown
          value: Unknown
          description: Unknown. Indicates missing data.
        - name: Succeeded
          value: Succeeded
          description: Resource has been created.
        - name: Failed
          value: Failed
          description: Resource creation failed.
        - name: Canceled
          value: Canceled
          description: Resource creation was canceled.
        - name: InProgress
          value: InProgress
          description: Provisioning is in Progress.
      readOnly: true
    Percentile:
      type: string
      description: Percentile for Performance Data.
      enum:
      - Percentile50
      - Percentile90
      - Percentile95
      - Percentile99
      x-ms-enum:
        name: Percentile
        modelAsString: true
        values:
        - name: Percentile50
          value: Percentile50
          description: Percentile 50.
        - name: Percentile90
          value: Percentile90
          description: Percentile 90.
        - name: Percentile95
          value: Percentile95
          description: Percentile 95.
        - name: Percentile99
          value: Percentile99
          description: Percentile 99.
    AKSAssessmentProperties:
      type: object
      description: ARM model of AKS Assessment Properties.
      properties:
        settings:
          $ref: '#/components/schemas/AKSAssessmentSettings'
          description: Gets or sets AKS Assessment Settings.
        details:
          $ref: '#/components/schemas/AKSAssessmentDetails'
          description: Gets AKS Assessment Details.
          readOnly: true
      required:
      - settings
      allOf:
      - $ref: '#/components/schemas/AssessmentPropertiesBase'
    LicensingProgram:
      type: string
      description: Licensing Program for Azure.
      enum:
      - Default
      - EA
      x-ms-enum:
        name: LicensingProgram
        modelAsString: true
        values:
        - name: Default
          value: Default
          description: Default value. Indicates Pay As You Go.
        - name: EA
          value: EA
          description: Enterprise Agreement.
    ConsolidationType:
      type: string
      description: Consolidation Type.
      enum:
      - Full
      - AsOnSource
      x-ms-enum:
        name: ConsolidationType
        modelAsString: true
        values:
        - name: Full
          value: Full
          description: Full Consolidation.
        - name: AsOnSource
          value: AsOnSource
          description: As On Source or On Premises Consolidation.
    AssessmentScopeParameters:
      type: object
      description: Data model of Assessment Scope Parameters.
      properties:
        serverGroupId:
          type: string
          description: Gets or sets the server group id.
    MutableArmResource:
      type: object
      description: ARM model of Assessment ARM object.
      properties:
        provisioningState:
          $ref: '#/components/schemas/ProvisioningStatus'
          description: Gets the provisioning state.
          readOnly: true
    AssessmentSettings:
      type: object
      description: Base data model of Assessment Settings.
      properties:
        azureLocation:
          type: string
          description: Gets or sets azure location.
        environmentType:
          $ref: '#/components/schemas/AzureEnvironmentType'
          description: Gets or sets environment type.
        licensingProgram:
          $ref: '#/components/schemas/LicensingProgram'
          description: Gets or sets licensing program.
        currency:
          $ref: '#/components/schemas/AzureCurrency'
          description: Gets or sets currency.
        discountPercentage:
          type: number
          format: float
          description: Gets or sets discount percentage.
        sizingCriteria:
          $ref: '#/components/schemas/AssessmentSizingCriterion'
          description: Gets or sets sizing criteria.
        performanceData:
          $ref: '#/components/schemas/PerfDataSettings'
          description: Gets or sets performance data settings.
        scalingFactor:
          type: number
          format: float
          description: Gets or sets scaling factor.
      required:
      - azureLocation
      - environmentType
      - licensingProgram
      - currency
      - sizingCriteria
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
