openapi: 3.2.0
info:
  version: '2019-12-01'
  title: Microsoft Azure RP Software Plan API
  description: Azure software plans let users create and manage licenses for various software used in Azure.
  x-ms-code-generation-settings:
    name: SoftwareplanClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Software Plan
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.SoftwarePlan/register:
    post:
      description: Register to Microsoft.SoftwarePlan resource provider.
      operationId: microsoftAzureSoftwareplanRegister
      tags:
      - Software Plan
      x-ms-examples:
        HybridUseBenefitListResult:
          $ref: ./examples/RegisterSubscription.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '204':
          description: OK - Microsoft.SoftwarePlan is registered
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft…
components:
  schemas:
    Error:
      type: object
      description: Error object returned by the RP
      properties:
        code:
          description: Error code
          $ref: '#/components/schemas/ErrorCode'
        message:
          type: string
          description: A user readable error message. Localized based on x-ms-effective-locale header in the request
    ErrorCode:
      type: string
      description: Defined error codes to be returned to the client.
      enum:
      - InvalidRequestParameter
      - MissingRequestParameter
      x-ms-enum:
        name: ErrorCode
        modelAsString: true
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      x-ms-parameter-location: client
      required: true
      description: The api-version to be used by the service
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
