openapi: 3.2.0
info:
  title: Microsoft Azure HelpRP Simplified Solutions API
  description: Help RP provider
  version: 2024-03-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: simplifiedSolutions
paths:
  /{scope}/providers/Microsoft.Help/simplifiedSolutions/{simplifiedSolutionsResourceName}:
    put:
      tags:
      - simplifiedSolutions
      description: Creates Simplified Solutions for an Azure subscription using 'solutionId' from Discovery Solutions as the input. Simplified Solutions API makes the consumption of solutions APIs easier while still providing access to the same powerful solutions rendered in Solutions API. With Simplified Solutions, users don't have to worry about stitching together the article using replacement maps and can use the content in the API response to directly render as HTML content.
      operationId: microsoftAzureSimplifiedsolutionsCreate
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - $ref: '#/components/parameters/ScopeParameter'
      - $ref: '#/components/parameters/SimplifiedSolutionsResourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Create solution invocation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplifiedSolutionsResource'
        '201':
          description: Create simplified Solutions invocation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplifiedSolutionsResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Solution_Create:
          $ref: ./examples/SimplifiedSolutions_Create.json
      summary: Microsoft Azure Put Scope Providers Microsoft Help Simplifiedsolutions…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimplifiedSolutionsResource'
        description: The required request body for simplified Solutions resource creation.
    get:
      tags:
      - simplifiedSolutions
      description: Get the simplified Solutions using the applicable solutionResourceName while creating the simplified Solutions.
      operationId: microsoftAzureSimplifiedsolutionsGet
      parameters:
      - $ref: '#/components/parameters/ScopeParameter'
      - $ref: '#/components/parameters/SimplifiedSolutionsResourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successful fetched simplified Solutions result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplifiedSolutionsResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Solution_Get:
          $ref: ./examples/SimplifiedSolutions_Get.json
      summary: Microsoft Azure Get Scope Providers Microsoft Help Simplifiedsolutions…
components:
  parameters:
    ScopeParameter:
      name: scope
      in: path
      required: true
      description: 'scope = resourceUri of affected resource.<br/> For example: /subscriptions/0d0fcd2e-c4fd-4349-8497-200edb3923c6/resourcegroups/myresourceGroup/providers/Microsoft.KeyVault/vaults/test-keyvault-non-read '
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      x-ms-parameter-location: client
      schema:
        type: string
    SimplifiedSolutionsResourceNameParameter:
      name: simplifiedSolutionsResourceName
      in: path
      required: true
      description: Simplified Solutions Resource Name.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 100
        minLength: 1
        pattern: ^[A-Za-z0-9-+@()_]+$
  schemas:
    SimplifiedSolutionsResourceProperties:
      description: Simplified Solutions result
      type: object
      properties:
        solutionId:
          description: Solution Id to identify single Simplified Solution.
          type: string
        parameters:
          description: Client input parameters to run Simplified Solutions
          type: object
          additionalProperties:
            type: string
        title:
          description: The title.
          readOnly: true
          type: string
        appendix:
          description: Additional parameter response for Simplified Solutions
          readOnly: true
          type: object
          additionalProperties:
            type: string
        content:
          description: The HTML content that needs to be rendered and shown to customer.
          readOnly: true
          type: string
        provisioningState:
          description: Status of Simplified Solution provisioning.
          type: string
          readOnly: true
          enum:
          - Succeeded
          - PartialComplete
          - Failed
          - Running
          - Canceled
          x-ms-enum:
            name: SolutionProvisioningState
            modelAsString: true
            values:
            - value: Succeeded
              description: All Simplified Solutions in the Batch succeeded.
            - value: PartialComplete
              description: Some Simplified Solutions are still running or failed.
            - value: Failed
              description: All Simplified Solutions failed to run.
            - value: Running
              description: All Simplified Solutions are still running.
            - value: Canceled
              description: When Simplified Solutions request gets canceled.
    SimplifiedSolutionsResource:
      description: Simplified Solutions response.
      type: object
      x-ms-azure-resource: true
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
      properties:
        properties:
          $ref: '#/components/schemas/SimplifiedSolutionsResourceProperties'
          x-ms-client-flatten: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
