openapi: 3.2.0
info:
  title: Microsoft Azure Azure Migrate Discovery Service Vcenter…
  version: 2023-10-01-preview
  description: Azure OffAzure Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: VcenterController
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/vmwareSites/{siteName}/vcenters
  : get:
      operationId: microsoftAzureVcentercontrollerListbyvmwaresite
      tags:
      - VcenterController
      description: List Vcenter resources by VmwareSite
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - name: filter
        in: query
        description: filter query
        required: false
        schema:
          type: string
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VcenterListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        VcenterController_ListByVmwareSite_MaximumSet_Gen:
          $ref: ./examples/VcenterController_ListByVmwareSite_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/vmwareSites/{siteName}/vcenters/{vcenterName}
  : get:
      operationId: microsoftAzureVcentercontrollerGet
      tags:
      - VcenterController
      description: Get a Vcenter
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: vcenterName
        in: path
        description: ' VCenters name'
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vcenter'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        VcenterController_Get_MaximumSet_Gen:
          $ref: ./examples/VcenterController_Get_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      operationId: microsoftAzureVcentercontrollerCreate
      tags:
      - VcenterController
      description: Create a Vcenter
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: vcenterName
        in: path
        description: ' VCenters name'
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: ARM update operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vcenter'
        '201':
          description: ARM create operation completed successfully.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vcenter'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      x-ms-examples:
        VcenterController_Create_MaximumSet_Gen:
          $ref: ./examples/VcenterController_Create_MaximumSet_Gen.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Vcenter'
        description: Resource create parameters.
        required: true
    delete:
      operationId: microsoftAzureVcentercontrollerDelete
      tags:
      - VcenterController
      description: Delete a Vcenter
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: vcenterName
        in: path
        description: ' VCenters name'
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource deleted successfully.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        VcenterController_Delete_MaximumSet_Gen:
          $ref: ./examples/VcenterController_Delete_MaximumSet_Gen.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    VcenterListResult:
      type: object
      description: The response of a Vcenter list operation.
      properties:
        value:
          type: array
          description: The Vcenter items on this page
          items:
            $ref: '#/components/schemas/Vcenter'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    HealthErrorDetails:
      type: object
      description: Error contract returned when some exception occurs in Rest API.
      properties:
        message:
          type: string
          description: Gets the error message.
          readOnly: true
        messageParameters:
          type: object
          description: Gets the message parameters.
          additionalProperties:
            type: string
          readOnly: true
        applianceName:
          type: string
          description: Gets the appliance name.
          readOnly: true
        id:
          type: integer
          format: int64
          description: Gets the error ID.
          readOnly: true
        code:
          type: string
          description: Gets the error name.
          readOnly: true
        possibleCauses:
          type: string
          description: Gets the possible causes of error.
          readOnly: true
        recommendedAction:
          type: string
          description: Gets the recommended action to resolve error.
          readOnly: true
        severity:
          type: string
          description: Gets the error severity.
          readOnly: true
        summaryMessage:
          type: string
          description: Gets the error summary message.
          readOnly: true
        source:
          $ref: '#/components/schemas/HealthErrorDetailsSource'
          description: Gets the error source.
          readOnly: true
        updatedTimeStamp:
          type: string
          format: date-time
          description: Gets the time stamp when the error was updated.
          readOnly: true
        runAsAccountId:
          type: string
          description: Gets run as account id used while performing discovery             of entity.
          readOnly: true
        discoveryScope:
          $ref: '#/components/schemas/HealthErrorDetailsDiscoveryScope'
          description: Gets discovery scope for which             error is encountered.
          readOnly: true
    ProvisioningState:
      type: string
      description: The status of the current operation.
      enum:
      - Created
      - Updated
      - Running
      - Completed
      - Failed
      - Succeeded
      - Canceled
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: Created
          value: Created
          description: Created value.
        - name: Updated
          value: Updated
          description: Updated value.
        - name: Running
          value: Running
          description: Running value.
        - name: Completed
          value: Completed
          description: Completed value.
        - name: Failed
          value: Failed
          description: Failed value.
        - name: Succeeded
          value: Succeeded
          description: Succeeded value.
        - name: Canceled
          value: Canceled
          description: Canceled value.
    HealthErrorDetailsSource:
      type: string
      description: HealthError Details Source
      enum:
      - RefreshFabricLayout
      - RefreshFabricLayoutGuest
      - RefreshFabricLayoutDependencyMap
      x-ms-enum:
        name: HealthErrorDetailsSource
        modelAsString: true
        values:
        - name: RefreshFabricLayout
          value: RefreshFabricLayout
          description: RefreshFabricLayout value.
        - name: RefreshFabricLayoutGuest
          value: RefreshFabricLayoutGuest
          description: RefreshFabricLayoutGuest value.
        - name: RefreshFabricLayoutDependencyMap
          value: RefreshFabricLayoutDependencyMap
          description: RefreshFabricLayoutDependencyMap value.
    Vcenter:
      type: object
      description: A vcenter resource belonging to a site resource.
      properties:
        properties:
          $ref: '#/components/schemas/VcenterProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
    HealthErrorDetailsDiscoveryScope:
      type: string
      description: Gets discovery scope for which             error is encountered.
      enum:
      - AppsAndRoles
      - DependencyMap
      - StaticData
      - SQLServerConnectionInfo
      - DiscoveryTargets
      x-ms-enum:
        name: HealthErrorDetailsDiscoveryScope
        modelAsString: true
        values:
        - name: AppsAndRoles
          value: AppsAndRoles
          description: AppsAndRoles value.
        - name: DependencyMap
          value: DependencyMap
          description: DependencyMap value.
        - name: StaticData
          value: StaticData
          description: StaticData value.
        - name: SQLServerConnectionInfo
          value: SQLServerConnectionInfo
          description: SQLServerConnectionInfo value.
        - name: DiscoveryTargets
          value: DiscoveryTargets
          description: DiscoveryTargets value.
    VcenterProperties:
      type: object
      description: The properties of VMwareSiteResource
      properties:
        runAsAccountId:
          type: string
          description: Gets or sets the run as account ID of the vCenter.
        errors:
          type: array
          description: Gets the errors.
          items:
            $ref: '#/components/schemas/HealthErrorDetails'
          readOnly: true
        createdTimestamp:
          type: string
          description: Gets the timestamp marking vCenter creation.
          readOnly: true
        updatedTimestamp:
          type: string
          description: Gets the timestamp marking last updated on the vCenter.
          readOnly: true
        fqdn:
          type: string
          description: Gets or sets the FQDN/IPAddress of the vCenter.
        port:
          type: string
          description: Gets or sets the port of the vCenter.
        version:
          type: string
          description: Gets the version of the vCenter.
          readOnly: true
        perfStatisticsLevel:
          type: string
          description: Gets the performance statistics enabled on the vCenter.
          readOnly: true
        instanceUuid:
          type: string
          description: Gets the instance UUID of the vCenter.
          readOnly: true
        friendlyName:
          type: string
          description: Gets or sets the friendly name of the vCenter.
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The status of the last operation.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
