openapi: 3.2.0
info:
  version: 2020-06-01-preview
  title: Microsoft Azure Azure Stack Azure Bridge Client…
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Registrations
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations:
    get:
      x-ms-examples:
        Returns a list of all registrations.:
          $ref: examples/Registration/List.json
      tags:
      - Registrations
      description: Returns a list of all registrations.
      operationId: microsoftAzureRegistrationsList
      parameters:
      - $ref: AzureStack.json#/parameters/SubscriptionIdParameter
      - $ref: AzureStack.json#/parameters/ResourceGroupNameParameter
      - $ref: AzureStack.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: AzureStack.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Get Subscriptions Subscriptionid Resourcegroups Resourcegroup Providers…
  /subscriptions/{subscriptionId}/providers/Microsoft.AzureStack/registrations:
    get:
      x-ms-examples:
        Returns a list of all registrations under current subscription.:
          $ref: examples/Registration/ListBySubscription.json
      tags:
      - Registrations
      description: Returns a list of all registrations under current subscription.
      operationId: microsoftAzureRegistrationsListbysubscription
      parameters:
      - $ref: AzureStack.json#/parameters/SubscriptionIdParameter
      - $ref: AzureStack.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: AzureStack.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Get Subscriptions Subscriptionid Providers Microsoft Azurestack Registrations
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}
  : get:
      x-ms-examples:
        Returns the properties of an Azure Stack registration.:
          $ref: examples/Registration/Get.json
      tags:
      - Registrations
      description: Returns the properties of an Azure Stack registration.
      operationId: microsoftAzureRegistrationsGet
      parameters:
      - $ref: AzureStack.json#/parameters/SubscriptionIdParameter
      - $ref: AzureStack.json#/parameters/ResourceGroupNameParameter
      - $ref: AzureStack.json#/parameters/RegistrationNameParameter
      - $ref: AzureStack.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registration'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: AzureStack.json#/definitions/ErrorResponse
      summary: Get Subscriptions Subscriptionid Resourcegroups Resourcegroup Providers…
    delete:
      x-ms-examples:
        Delete the requested Azure Stack registration.:
          $ref: ./examples/Registration/Delete.json
      tags:
      - Registrations
      description: Delete the requested Azure Stack registration.
      operationId: microsoftAzureRegistrationsDelete
      parameters:
      - $ref: AzureStack.json#/parameters/SubscriptionIdParameter
      - $ref: AzureStack.json#/parameters/ResourceGroupNameParameter
      - $ref: AzureStack.json#/parameters/RegistrationNameParameter
      - $ref: AzureStack.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
        '204':
          description: NO CONTENT
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: AzureStack.json#/definitions/ErrorResponse
      summary: Delete Subscriptions Subscriptionid Resourcegroups Resourcegroup Providers…
    put:
      x-ms-examples:
        Create or update an Azure Stack registration.:
          $ref: examples/Registration/Put.json
      tags:
      - Registrations
      description: Create or update an Azure Stack registration.
      operationId: microsoftAzureRegistrationsCreateorupdate
      parameters:
      - $ref: AzureStack.json#/parameters/SubscriptionIdParameter
      - $ref: AzureStack.json#/parameters/ResourceGroupNameParameter
      - $ref: AzureStack.json#/parameters/RegistrationNameParameter
      - $ref: AzureStack.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/NewRegistrationParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registration'
        '201':
          description: CREATED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registration'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: AzureStack.json#/definitions/ErrorResponse
      summary: Put Subscriptions Subscriptionid Resourcegroups Resourcegroup Providers…
    patch:
      x-ms-examples:
        Patch an Azure Stack registration.:
          $ref: examples/Registration/Patch.json
      tags:
      - Registrations
      description: Patch an Azure Stack registration.
      operationId: microsoftAzureRegistrationsUpdate
      parameters:
      - $ref: AzureStack.json#/parameters/SubscriptionIdParameter
      - $ref: AzureStack.json#/parameters/ResourceGroupNameParameter
      - $ref: AzureStack.json#/parameters/RegistrationNameParameter
      - $ref: AzureStack.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/NewRegistrationParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registration'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: AzureStack.json#/definitions/ErrorResponse
      summary: Patch Subscriptions Subscriptionid Resourcegroups Resourcegroup Providers…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/getactivationkey
  : post:
      x-ms-examples:
        Returns Azure Stack Activation Key.:
          $ref: ./examples/Registration/Post.json
      tags:
      - Registrations
      description: Returns Azure Stack Activation Key.
      operationId: microsoftAzureRegistrationsGetactivationkey
      parameters:
      - $ref: AzureStack.json#/parameters/SubscriptionIdParameter
      - $ref: AzureStack.json#/parameters/ResourceGroupNameParameter
      - $ref: AzureStack.json#/parameters/RegistrationNameParameter
      - $ref: AzureStack.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivationKeyResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: AzureStack.json#/definitions/ErrorResponse
      summary: Post Subscriptions Subscriptionid Resourcegroups Resourcegroup Providers…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/enableRemoteManagement
  : post:
      x-ms-examples:
        Returns empty response for successful action..:
          $ref: examples/RemoteManagement/Post.json
      tags:
      - Registrations
      description: Enables remote management for device under the Azure Stack registration.
      operationId: microsoftAzureRegistrationsEnableremotemanagement
      parameters:
      - $ref: AzureStack.json#/parameters/SubscriptionIdParameter
      - $ref: AzureStack.json#/parameters/ResourceGroupNameParameter
      - $ref: AzureStack.json#/parameters/RegistrationNameParameter
      responses:
        '200':
          description: OK
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: AzureStack.json#/definitions/ErrorResponse
      summary: Post Subscriptions Subscriptionid Resourcegroups Resourcegroup Providers…
components:
  schemas:
    RegistrationParameter:
      description: Registration resource
      type: object
      properties:
        properties:
          description: Properties of the Azure Stack registration resource
          x-ms-client-flatten: true
          $ref: '#/components/schemas/RegistrationParameterProperties'
        location:
          description: Location of the resource.
          type: string
          enum:
          - global
          x-ms-enum:
            name: Location
            modelAsString: true
          x-ms-mutability:
          - create
          - read
      required:
      - properties
      - location
    RegistrationProperties:
      description: Properties portion of the registration resource.
      type: object
      properties:
        objectId:
          description: The object identifier associated with the Azure Stack connecting to Azure.
          type: string
        cloudId:
          description: The identifier of the registered Azure Stack.
          type: string
        billingModel:
          description: Specifies the billing mode for the Azure Stack registration.
          type: string
    ActivationKeyResult:
      description: The resource containing the Azure Stack activation key.
      type: object
      properties:
        activationKey:
          description: Azure Stack activation key.
          type: string
    RegistrationList:
      description: Pageable list of registrations.
      type: object
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of Registrations
          type: array
          items:
            $ref: '#/components/schemas/Registration'
    RegistrationParameterProperties:
      description: Properties of the Azure Stack registration resource
      type: object
      properties:
        registrationToken:
          description: The token identifying registered Azure Stack
          type: string
      required:
      - registrationToken
    Registration:
      description: Registration information.
      type: object
      properties:
        properties:
          description: Registration resource.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/RegistrationProperties'
      allOf:
      - $ref: AzureStack.json#/definitions/TrackedResource
  parameters:
    NewRegistrationParameter:
      description: Registration token
      name: token
      in: body
      schema:
        $ref: '#/components/schemas/RegistrationParameter'
      required: true
      x-ms-parameter-location: method
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Authorization uses an Azure Active Directory OAuth2 flow.
