openapi: 3.2.0
info:
  title: Microsoft Azure Azure VMware Solution Global Reach…
  description: Azure VMware Solution API
  version: 2020-07-17-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: GlobalReachConnections
  description: ''
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/globalReachConnections
  : get:
      operationId: microsoftAzureGlobalreachconnectionsList
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
      - GlobalReachConnections
      summary: Microsoft Azure List Global Reach Connections In A Private Cloud
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/privateCloudName'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalReachConnectionList'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        GlobalReachConnections_List:
          $ref: ./examples/GlobalReachConnections_List.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/globalReachConnections/{globalReachConnectionName}
  : get:
      operationId: microsoftAzureGlobalreachconnectionsGet
      tags:
      - GlobalReachConnections
      summary: Microsoft Azure Get A Global Reach Connection By Name In A Private Cloud
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/privateCloudName'
      - $ref: '#/components/parameters/globalReachConnectionName'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalReachConnection'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        GlobalReachConnections_Get:
          $ref: ./examples/GlobalReachConnections_Get.json
      description: Needs a more full description created.
    put:
      operationId: microsoftAzureGlobalreachconnectionsCreateorupdate
      x-ms-long-running-operation: true
      tags:
      - GlobalReachConnections
      summary: Microsoft Azure Create Or Update A Global Reach Connection In A Private Cloud
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - name: privateCloudName
        in: path
        required: true
        description: The name of the private cloud.
        schema:
          type: string
      - $ref: '#/components/parameters/globalReachConnectionName'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalReachConnection'
        '201':
          description: accepted operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalReachConnection'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        GlobalReachConnections_CreateOrUpdate:
          $ref: ./examples/GlobalReachConnections_CreateOrUpdate.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalReachConnection'
        description: A global reach connection in the private cloud
        required: true
    delete:
      operationId: microsoftAzureGlobalreachconnectionsDelete
      x-ms-long-running-operation: true
      tags:
      - GlobalReachConnections
      summary: Microsoft Azure Delete A Global Reach Connection In A Private Cloud
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/privateCloudName'
      - $ref: '#/components/parameters/globalReachConnectionName'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK. The delete has succeeded
        '202':
          description: Accepted. The delete will complete asynchronously
        '204':
          description: No Content. No global reach connection to delete
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        GlobalReachConnections_Delete:
          $ref: ./examples/GlobalReachConnections_Delete.json
      description: Needs a more full description created.
components:
  schemas:
    GlobalReachConnection:
      description: A global reach connection resource
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          description: The properties of a global reach connection resource
          $ref: '#/components/schemas/GlobalReachConnectionProperties'
          x-ms-client-flatten: true
    CloudError:
      x-ms-external: true
      properties:
        error:
          description: An error returned by the API
          $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse
      description: API error response
    GlobalReachConnectionList:
      description: A paged list of global reach connections
      properties:
        value:
          description: The items on a page
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/GlobalReachConnection'
        nextLink:
          description: URL to get the next page if any
          type: string
          readOnly: true
    Resource:
      description: The core properties of ARM resources
      properties:
        id:
          description: Resource ID.
          readOnly: true
          type: string
        name:
          description: Resource name.
          readOnly: true
          type: string
        type:
          description: Resource type.
          readOnly: true
          type: string
      x-ms-azure-resource: true
    GlobalReachConnectionProperties:
      description: The properties of a global reach connection
      properties:
        provisioningState:
          description: The state of the  ExpressRoute Circuit Authorization provisioning
          type: string
          readOnly: true
          enum:
          - Succeeded
          - Failed
          - Updating
          x-ms-enum:
            name: GlobalReachConnectionProvisioningState
            modelAsString: true
        addressPrefix:
          description: The network used for global reach carved out from the original network block provided for the private cloud
          type: string
          readOnly: true
        authorizationKey:
          description: Authorization key from the peer express route used for the global reach connection
          type: string
        circuitConnectionStatus:
          description: The connection status of the global reach connection
          type: string
          readOnly: true
          enum:
          - Connected
          - Connecting
          - Disconnected
          x-ms-enum:
            name: GlobalReachConnectionStatus
            modelAsString: true
        peerExpressRouteCircuit:
          type: string
          description: Identifier of the ExpressRoute Circuit to peer with in the global reach connection
  parameters:
    privateCloudName:
      name: privateCloudName
      in: path
      required: true
      description: Name of the private cloud
      x-ms-parameter-location: method
      schema:
        type: string
    globalReachConnectionName:
      name: globalReachConnectionName
      in: path
      required: true
      description: Name of the global reach connection in the private cloud
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
