openapi: 3.2.0
info:
  title: Microsoft Azure Record Sets API
  version: '1.0'
  description: 'Operations tagged RecordSets across 2 of this provider''s published API definitions: dnsmanagementclient-openapi-original.yml, privatednsmanagementclient-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
tags:
- name: RecordSets
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}/{recordType}/{relativeRecordSetName}
  : patch:
      tags:
      - RecordSets
      operationId: microsoftAzureRecordsetsUpdate
      description: Updates a record set within a DNS zone.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ZoneNameParameter'
      - $ref: '#/components/parameters/RelativeRecordSetNameParameter'
      - $ref: '#/components/parameters/RecordTypeParameter'
      - name: If-Match
        in: header
        required: false
        x-ms-client-name: IfMatch
        description: The etag of the record set. Omit this value to always overwrite the current record set. Specify the last-seen etag value to prevent accidentally overwriting concurrent changes.
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The record set has been updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSet'
        default:
          description: Default response. It will be deserialized as per the Error definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Patch A recordset:
          $ref: ./examples/PatchARecordset.json
        Patch AAAA recordset:
          $ref: ./examples/PatchAAAARecordset.json
        Patch CAA recordset:
          $ref: ./examples/PatchCaaRecordset.json
        Patch CNAME recordset:
          $ref: ./examples/PatchCNAMERecordset.json
        Patch MX recordset:
          $ref: ./examples/PatchMXRecordset.json
        Patch NS recordset:
          $ref: ./examples/PatchNSRecordset.json
        Patch PTR recordset:
          $ref: ./examples/PatchPTRRecordset.json
        Patch SOA recordset:
          $ref: ./examples/PatchSOARecordset.json
        Patch SRV recordset:
          $ref: ./examples/PatchSRVRecordset.json
        Patch TXT recordset:
          $ref: ./examples/PatchTXTRecordset.json
        Patch DS recordset:
          $ref: ./examples/PatchDSRecordset.json
        Patch TLSA recordset:
          $ref: ./examples/PatchTLSARecordset.json
        Patch NAPTR recordset:
          $ref: ./examples/PatchNAPTRRecordset.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordSet'
        description: Parameters supplied to the Update operation.
        required: true
    put:
      tags:
      - RecordSets
      operationId: microsoftAzureRecordsetsCreateorupdate
      description: Creates or updates a record set within a DNS zone. Record sets of type SOA can be updated but not created (they are created when the DNS zone is created).
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ZoneNameParameter'
      - $ref: '#/components/parameters/RelativeRecordSetNameParameter'
      - $ref: '#/components/parameters/RecordTypeParameter'
      - name: If-Match
        in: header
        required: false
        x-ms-client-name: IfMatch
        description: The etag of the record set. Omit this value to always overwrite the current record set. Specify the last-seen etag value to prevent accidentally overwriting any concurrent changes.
        schema:
          type: string
      - name: If-None-Match
        in: header
        required: false
        x-ms-client-name: IfNoneMatch
        description: Set to '*' to allow a new record set to be created, but to prevent updating an existing record set. Other values will be ignored.
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The record set has been updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSet'
        '201':
          description: The record set has been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSet'
        default:
          description: Default response. It will be deserialized as per the Error definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Create A recordset:
          $ref: ./examples/CreateOrUpdateARecordset.json
        Create A recordset with alias target resource:
          $ref: ./examples/CreateOrUpdateARecordsetAlias.json
        Create A recordset with traffic management profile:
          $ref: ./examples/CreateOrUpdateARecordSetTrafficManagementProfile.json
        Create AAAA recordset:
          $ref: ./examples/CreateOrUpdateAAAARecordset.json
        Create CAA recordset:
          $ref: ./examples/CreateOrUpdateCaaRecordset.json
        Create CNAME recordset:
          $ref: ./examples/CreateOrUpdateCNAMERecordset.json
        Create MX recordset:
          $ref: ./examples/CreateOrUpdateMXRecordset.json
        Create NS recordset:
          $ref: ./examples/CreateOrUpdateNSRecordset.json
        Create PTR recordset:
          $ref: ./examples/CreateOrUpdatePTRRecordset.json
        Create SOA recordset:
          $ref: ./examples/CreateOrUpdateSOARecordset.json
        Create SRV recordset:
          $ref: ./examples/CreateOrUpdateSRVRecordset.json
        Create TXT recordset:
          $ref: ./examples/CreateOrUpdateTXTRecordset.json
        Create DS recordset:
          $ref: ./examples/CreateOrUpdateDSRecordset.json
        Create TLSA recordset:
          $ref: ./examples/CreateOrUpdateTLSARecordset.json
        Create NAPTR recordset:
          $ref: ./examples/CreateOrUpdateNAPTRRecordset.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordSet'
        description: Parameters supplied to the CreateOrUpdate operation.
        required: true
    delete:
      tags:
      - RecordSets
      operationId: microsoftAzureRecordsetsDelete
      description: Deletes a record set from a DNS zone. This operation cannot be undone. Record sets of type SOA cannot be deleted (they are deleted when the DNS zone is deleted).
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ZoneNameParameter'
      - $ref: '#/components/parameters/RelativeRecordSetNameParameter'
      - $ref: '#/components/parameters/RecordTypeParameter'
      - name: If-Match
        in: header
        required: false
        x-ms-client-name: IfMatch
        description: The etag of the record set. Omit this value to always delete the current record set. Specify the last-seen etag value to prevent accidentally deleting any concurrent changes.
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The record set has been deleted.
        '204':
          description: The record set was not found.
        default:
          description: Default response. It will be deserialized as per the Error definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Delete A recordset:
          $ref: ./examples/DeleteARecordset.json
        Delete AAAA recordset:
          $ref: ./examples/DeleteAAAARecordset.json
        Delete CAA recordset:
          $ref: ./examples/DeleteCaaRecordset.json
        Delete CNAME recordset:
          $ref: ./examples/DeleteCNAMERecordset.json
        Delete MX recordset:
          $ref: ./examples/DeleteMXRecordset.json
        Delete NS recordset:
          $ref: ./examples/DeleteNSRecordset.json
        Delete PTR recordset:
          $ref: ./examples/DeletePTRRecordset.json
        Delete SRV recordset:
          $ref: ./examples/DeleteSRVRecordset.json
        Delete TXT recordset:
          $ref: ./examples/DeleteTXTRecordset.json
        Delete DS recordset:
          $ref: ./examples/DeleteDSRecordset.json
        Delete TLSA recordset:
          $ref: ./examples/DeleteTLSARecordset.json
        Delete NAPTR recordset:
          $ref: ./examples/DeleteNAPTRRecordset.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    get:
      tags:
      - RecordSets
      operationId: microsoftAzureRecordsetsGet
      description: Gets a record set.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ZoneNameParameter'
      - $ref: '#/components/parameters/RelativeRecordSetNameParameter'
      - $ref: '#/components/parameters/RecordTypeParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSet'
        default:
          description: Default response. It will be deserialized as per the Error definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Get A recordset:
          $ref: ./examples/GetARecordset.json
        Get AAAA recordset:
          $ref: ./examples/GetAAAARecordset.json
        Get CAA recordset:
          $ref: ./examples/GetCaaRecordset.json
        Get CNAME recordset:
          $ref: ./examples/GetCNAMERecordset.json
        Get MX recordset:
          $ref: ./examples/GetMXRecordset.json
        Get NS recordset:
          $ref: ./examples/GetNSRecordset.json
        Get PTR recordset:
          $ref: ./examples/GetPTRRecordset.json
        Get SOA recordset:
          $ref: ./examples/GetSOARecordset.json
        Get SRV recordset:
          $ref: ./examples/GetSRVRecordset.json
        Get TXT recordset:
          $ref: ./examples/GetTXTRecordset.json
        Get DS recordset:
          $ref: ./examples/GetDSRecordset.json
        Get TLSA recordset:
          $ref: ./examples/GetTLSARecordset.json
        Get NAPTR recordset:
          $ref: ./examples/GetNAPTRRecordset.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}/{recordType}
  : get:
      tags:
      - RecordSets
      operationId: microsoftAzureRecordsetsListbytype
      description: Lists the record sets of a specified type in a DNS zone.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ZoneNameParameter'
      - $ref: '#/components/parameters/RecordTypeParameter'
      - name: $top
        in: query
        required: false
        description: The maximum number of record sets to return. If not specified, returns up to 100 record sets.
        schema:
          type: integer
          format: int32
      - name: $recordsetnamesuffix
        in: query
        required: false
        description: The suffix label of the record set name that has to be used to filter the record set enumerations. If this parameter is specified, Enumeration will return only records that end with .<recordSetNameSuffix>
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSetListResult'
        default:
          description: Default response. It will be deserialized as per the Error definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List A recordsets:
          $ref: ./examples/ListARecordset.json
        List AAAA recordsets:
          $ref: ./examples/ListAAAARecordset.json
        List CAA recordsets:
          $ref: ./examples/ListCaaRecordset.json
        List CNAME recordsets:
          $ref: ./examples/ListCNAMERecordset.json
        List MX recordsets:
          $ref: ./examples/ListMXRecordset.json
        List NS recordsets:
          $ref: ./examples/ListNSRecordset.json
        List PTR recordsets:
          $ref: ./examples/ListPTRRecordset.json
        List SOA recordsets:
          $ref: ./examples/ListSOARecordset.json
        List SRV recordsets:
          $ref: ./examples/ListSRVRecordset.json
        List TXT recordsets:
          $ref: ./examples/ListTXTRecordset.json
        List DS recordsets:
          $ref: ./examples/ListDSRecordset.json
        List TLSA recordsets:
          $ref: ./examples/ListTLSARecordset.json
        List NAPTR recordsets:
          $ref: ./examples/ListNAPTRRecordset.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}/recordsets
  : get:
      tags:
      - RecordSets
      operationId: microsoftAzureRecordsetsListbydnszone
      description: Lists all record sets in a DNS zone.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ZoneNameParameter'
      - name: $top
        in: query
        required: false
        description: The maximum number of record sets to return. If not specified, returns up to 100 record sets.
        schema:
          type: integer
          format: int32
      - name: $recordsetnamesuffix
        in: query
        required: false
        description: The suffix label of the record set name that has to be used to filter the record set enumerations. If this parameter is specified, Enumeration will return only records that end with .<recordSetNameSuffix>
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSetListResult'
        default:
          description: Default response. It will be deserialized as per the Error definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List recordsets by zone:
          $ref: ./examples/ListRecordSetsByZone.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}/all:
    get:
      tags:
      - RecordSets
      operationId: microsoftAzureRecordsetsListallbydnszone
      description: Lists all record sets in a DNS zone.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ZoneNameParameter'
      - name: $top
        in: query
        required: false
        description: The maximum number of record sets to return. If not specified, returns up to 100 record sets.
        schema:
          type: integer
          format: int32
      - name: $recordsetnamesuffix
        in: query
        required: false
        description: The suffix label of the record set name that has to be used to filter the record set enumerations. If this parameter is specified, Enumeration will return only records that end with .<recordSetNameSuffix>
        x-ms-client-name: recordSetNameSuffix
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSetListResult'
        default:
          description: Default response. It will be deserialized as per the Error definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List all recordsets by zone:
          $ref: ./examples/ListRecordSetsByZone.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateDnsZones/{privateZoneName}/{recordType}/{relativeRecordSetName}
  : put:
      tags:
      - RecordSets
      operationId: microsoftAzureRecordsetsCreateorupdate
      description: Creates or updates a record set within a Private DNS zone.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: privateZoneName
        in: path
        required: true
        description: The name of the Private DNS zone (without a terminating dot).
        schema:
          type: string
      - name: recordType
        in: path
        required: true
        description: The type of DNS record in this record set. Record sets of type SOA can be updated but not created (they are created when the Private DNS zone is created).
        x-ms-enum:
          name: RecordType
          modelAsString: false
        schema:
          type: string
          enum:
          - A
          - AAAA
          - CNAME
          - MX
          - PTR
          - SOA
          - SRV
          - TXT
      - name: relativeRecordSetName
        in: path
        required: true
        description: The name of the record set, relative to the name of the zone.
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: If-Match
        in: header
        required: false
        x-ms-client-name: IfMatch
        description: The ETag of the record set. Omit this value to always overwrite the current record set. Specify the last-seen ETag value to prevent accidentally overwriting any concurrent changes.
        schema:
          type: string
      - name: If-None-Match
        in: header
        required: false
        x-ms-client-name: IfNoneMatch
        description: Set to '*' to allow a new record set to be created, but to prevent updating an existing record set. Other values will be ignored.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The record set has been updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSet_2'
        '201':
          description: The record set has been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSet_2'
        default:
          description: Default response. It will be deserialized as per the Error definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        PUT Private DNS Zone A Record Set:
          $ref: ./examples/RecordSetAPut.json
        PUT Private DNS Zone AAAA Record Set:
          $ref: ./examples/RecordSetAAAAPut.json
        PUT Private DNS Zone CNAME Record Set:
          $ref: ./examples/RecordSetCNAMEPut.json
        PUT Private DNS Zone MX Record Set:
          $ref: ./examples/RecordSetMXPut.json
        PUT Private DNS Zone PTR Record Set:
          $ref: ./examples/RecordSetPTRPut.json
        PUT Private DNS Zone SOA Record Set:
          $ref: ./examples/RecordSetSOAPut.json
        PUT Private DNS Zone SRV Record Set:
          $ref: ./examples/RecordSetSRVPut.json
        PUT Private DNS Zone TXT Record Set:
          $ref: ./examples/RecordSetTXTPut.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordSet_2'
        description: Parameters supplied to the CreateOrUpdate operation.
        required: true
    patch:
      tags:
      - RecordSets
      operationId: microsoftAzureRecordsetsUpdate
      description: Updates a record set within a Private DNS zone.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: privateZoneName
        in: path
        required: true
        description: The name of the Private DNS zone (without a terminating dot).
        schema:
          type: string
      - name: recordType
        in: path
        required: true
        description: The type of DNS record in this record set.
        x-ms-enum:
          name: RecordType
          modelAsString: false
        schema:
          type: string
          enum:
          - A
          - AAAA
          - CNAME
          - MX
          - PTR
          - SOA
          - SRV
          - TXT
      - name: relativeRecordSetName
        in: path
        required: true
        description: The name of the record set, relative to the name of the zone.
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: If-Match
        in: header
        required: false
        x-ms-client-name: IfMatch
        description: The ETag of the record set. Omit this value to always overwrite the current record set. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The record set has been updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSet_2'
        default:
          description: Default response. It will be deserialized as per the Error definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        PATCH Private DNS Zone A Record Set:
          $ref: ./examples/RecordSetAPatch.json
        PATCH Private DNS Zone AAAA Record Set:
          $ref: ./examples/RecordSetAAAAPatch.json
        PATCH Private DNS Zone CNAME Record Set:
          $ref: ./examples/RecordSetCNAMEPatch.json
        PATCH Private DNS Zone MX Record Set:
          $ref: ./examples/RecordSetMXPatch.json
        PATCH Private DNS Zone PTR Record Set:
          $ref: ./examples/RecordSetPTRPatch.json
        PATCH Private DNS Zone SOA Record Set:
          $ref: ./examples/RecordSetSOAPatch.json
        PATCH Private DNS Zone SRV Record Set:
          $ref: ./examples/RecordSetSRVPatch.json
        PATCH Private DNS Zone TXT Record Set:
          $ref: ./examples/RecordSetTXTPatch.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordSet_2'
        description: Parameters supplied to the Update operation.
        required: true
    delete:
      tags:
      - RecordSets
      operationId: microsoftAzureRecordsetsDelete
      description: Deletes a record set from a Private DNS zone. This operation cannot be undone.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: privateZoneName
        in: path
        required: true
        description: The name of the Private DNS zone (without a terminating dot).
        schema:
          type: string
      - name: recordType
        in: path
        required: true
        description: The type of DNS record in this record set. Record sets of type SOA cannot be deleted (they are deleted when the Private DNS zone is deleted).
        x-ms-enum:
          name: RecordType
          modelAsString: false
        schema:
          type: string
          enum:
          - A
          - AAAA
          - CNAME
          - MX
          - PTR
          - SOA
          - SRV
          - TXT
      - name: relativeRecordSetName
        in: path
        required: true
        description: The name of the record set, relative to the name of the zone.
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: If-Match
        in: header
        required: false
        x-ms-client-name: IfMatch
        description: The ETag of the record set. Omit this value to always delete the current record set. Specify the last-seen ETag value to prevent accidentally deleting any concurrent changes.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The record set has been deleted.
        '204':
          description: The record set was not found.
        default:
          description: Default response. It will be deserialized as per the Error definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        DELETE Private DNS Zone A Record Set:
          $ref: ./examples/RecordSetADelete.json
        DELETE Private DNS Zone AAAA Record Set:
          $ref: ./examples/RecordSetAAAADelete.json
        DELETE Private DNS Zone CNAME Record Set:
          $ref: ./examples/RecordSetCNAMEDelete.json
        DELETE Private DNS Zone MX Record Set:
          $ref: ./examples/RecordSetMXDelete.json
        DELETE Private DNS Zone PTR Record Set:
          $ref: ./examples/RecordSetPTRDelete.json
        DELETE Private DNS Zone SRV Record Set:
          $ref: ./examples/RecordSetSRVDelete.json
        DELETE Private DNS Zone TXT Record Set:
          $ref: ./examples/RecordSetTXTDelete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    get:
      tags:
      - RecordSets
      operationId: microsoftAzureRecordsetsGet
      description: Gets a record set.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: privateZoneName
        in: path
        required: true
        description: The name of the Private DNS zone (without a terminating dot).
        schema:
          type: string
      - name: recordType
        in: path
        required: true
        description: The type of DNS record in this record set.
        x-ms-enum:
          name: RecordType
          modelAsString: false
        schema:
          type: string
          enum:
          - A
          - AAAA
          - CNAME
          - MX
          - PTR
          - SOA
          - SRV
          - TXT
      - name: relativeRecordSetName
        in: path
        required: true
        description: The name of the record set, relative to the name of the zone.
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSet_2'
        default:
          description: Default response. It will be deserialized as per the Error definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        GET Private DNS Zone A Record Set:
          $ref: ./examples/RecordSetAGet.json
        GET Private DNS Zone AAAA Record Set:
          $ref: ./examples/RecordSetAAAAGet.json
        GET Private DNS Zone CNAME Record Set:
          $ref: ./examples/RecordSetCNAMEGet.json
        GET Private DNS Zone MX Record Set:
          $ref: ./examples/RecordSetMXGet.json
        GET Private DNS Zone PTR Record Set:
          $ref: ./examples/RecordSetPTRGet.json
        GET Private DNS Zone SOA Record Set:
          $ref: ./examples/RecordSetSOAGet.json
        GET Private DNS Zone SRV Record Set:
          $ref: ./examples/RecordSetSRVGet.json
        GET Private DNS Zone TXT Record Set:
          $ref: ./examples/RecordSetTXTGet.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateDnsZones/{privateZoneName}/{recordType}
  : get:
      tags:
      - RecordSets
      operationId: microsoftAzureRecordsetsListbytype
      description: Lists the record sets of a specified type in a Private DNS zone.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: privateZoneName
        in: path
        required: true
        description: The name of the Private DNS zone (without a terminating dot).
        schema:
          type: string
      - name: recordType
        in: path
        required: true
        description: The type of record sets to enumerate.
        x-ms-enum:
          name: RecordType
          modelAsString: false
        schema:
          type: string
          enum:
          - A
          - AAAA
          - CNAME
          - MX
          - PTR
          - SOA
          - SRV
          - TXT
      - name: $top
        in: query
        required: false
        description: The maximum number of record sets to return. If not specified, returns up to 100 record sets.
        schema:
          type: integer
          format: int32
      - name: $recordsetnamesuffix
        in: query
        required: false
        description: The suffix label of the record set name to be used to filter the record set enumeration. If this parameter is specified, the returned enumeration will only contain records that end with ".<recordsetnamesuffix>".
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSetListResult_2'
        default:
          description: Default response. It will be deserialized as per the Error definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        GET Private DNS Zone A Record Sets:
          $ref: ./examples/RecordSetAList.json
        GET Private DNS Zone AAAA Record Sets:
          $ref: ./examples/RecordSetAAAAList.json
        GET Private DNS Zone CNAME Record Sets:
          $ref: ./examples/RecordSetCNAMEList.json
        GET Private DNS Zone MX Record Sets:
          $ref: ./examples/RecordSetMXList.json
        GET Private DNS Zone PTR Record Sets:
          $ref: ./examples/RecordSetPTRList.json
        GET Private DNS Zone SOA Record Sets:
          $ref: ./examples/RecordSetSOAList.json
        GET Private DNS Zone SRV Record Sets:
          $ref: ./examples/RecordSetSRVList.json
        GET Private DNS Zone TXT Record Sets:
          $ref: ./examples/RecordSetTXTList.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateDnsZones/{privateZoneName}/ALL
  : get:
      tags:
      - RecordSets
      operationId: microsoftAzureRecordsetsList
      description: Lists all record sets in a Private DNS zone.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: privateZoneName
        in: path
        required: true
        description: The name of the Private DNS zone (without a terminating dot).
        schema:
          type: string
      - name: $top
        in: query
        required: false
        description: The maximum number of record sets to return. If not specified, returns up to 100 record sets.
        schema:
          type: integer
          format: int32
      - name: $recordsetnamesuffix
        in: query
        required: false
        description: The suffix label of the record set name to be used to filter the record set enumeration. If this parameter is specified, the returned enumeration will only contain records that end with ".<recordsetnamesuffix>".
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSetListResult_2'
        default:
          description: Default response. It will be deserialized as per the Error definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        GET Private DNS Zone ALL Record Sets:
          $ref: ./examples/RecordSetALLList.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
components:
  schemas:
    Digest:
      type: object
      properties:
        algorithmType:
          $ref: '#/components/schemas/DigestAlgorithmType'
        value:
          type: string
          description: The digest value is a cryptographic hash value of the referenced DNSKEY Resource Record.
      description: A digest.
    CaaRecord:
      type: object
      properties:
        flags:
          type: integer
          format: int32
          description: The flags for this CAA record as an integer between 0 and 255.
        tag:
          type: string
          description: The tag for this CAA record.
        value:
          type: string
          description: The value for this CAA record.
      description: A CAA record.
    RecordSetListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/RecordSet'
          description: Information about the record sets in the response.
        nextLink:
          type: string
          description: The continuation token for the next page of results.
          readOnly: true
      description: The response to a record set List operation.
    AaaaRecord:
      type: object
      properties:
        ipv6Address:
          type: string
          description: The IPv6 address of this AAAA record.
      description: An AAAA record.
    CloudErrorBody:
      type: object
      x-ms-external: true
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of the property in error.
        details:
          type: array
          x-ms-identifiers: []
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          description: A list of additional details about the error.
      description: An error response from the service.
    NsRecord:
      type: object
      properties:
        nsdname:
          type: string
          description: The name server name for this NS record.
      description: An NS record.
    CnameRecord:
      type: object
      properties:
        cname:
          type: string
          description: The canonical name for this CNAME record.
      description: A CNAME record.
    DigestAlgorithmType:
      type: integer
      format: int32
      description: 'The digest algorithm type represents the standard digest algorithm number used to construct the digest. See: https://www.iana.org/assignments/ds-rr-types/ds-rr-types.xhtml'
    MxRecord:
      type: object
      properties:
        preference:
          type: integer
          format: int32
          description: The preference value for this MX record.
        exchange:
          type: string
          description: The domain name of the mail host for this MX record.
      description: An MX record.
    TxtRecord:
      type: object
      properties:
        value:
          type: array
          x-ms-identifiers: []
          items:
            type: string
          description: The text value of this TXT record.
      description: A TXT record.
    RecordSet:
      type: object
      properties:
        id:
          type: string
          description: The ID of the record set.
          readOnly: true
        name:
          type: string
          description: The name of the record set.
          readOnly: true
        type:
          type: string
          description: The type of the record set.
          readOnly: true
        etag:
          type: string
          description: The etag of the record set.
        properties:
          $ref: '#/components/schemas/RecordSetProperties'
          x-ms-client-flatten: true
          description: The properties of the record set.
      x-ms-azure-resource: true
      description: Describes a DNS record set (a collection of DNS records with the same name and type).
    RecordSetProperties:
      type: object
      properties:
        metadata:
          type: object
          additionalProperties:
            type: string
          description: The metadata attached to the record set.
        TTL:
          type: integer
          format: int64
          description: The TTL (time-to-live) of the records in the record set.
        fqdn:
          type: string
          description: Fully qualified domain name of the record set.
          readOnly: true
        provisioningState:
          type: string
          description: provisioning State of the record set.
          readOnly: true
        targetResource:
          $ref: '#/components/schemas/SubResource'
          description: A reference to an azure resource from where the dns resource value is taken.
        trafficManagementProfile:
          $ref: '#/components/schemas/SubResource'
          description: A reference to an azure traffic manager profile resource from where the dns resource value is taken.
        ARecords:
          type: array
          x-ms-identifiers: []
          items:
            $ref: '#/components/schemas/ARecord'
          description: The list of A records in the record set.
        AAAARecords:
          type: array
          x-ms-identifiers: []
          x-ms-client-name: AaaaRecords
          items:
            $ref: '#/components/schemas/AaaaRecord'
          description: The list of AAAA records in the record set.
        MXRecords:
          type: array
          x-ms-identifiers: []
          x-ms-client-name: MxRecords
          items:
            $ref: '#/components/schemas/MxRecord'
          description: The list of MX records in the record set.
        NSRecords:
          type: array
          x-ms-identifiers: []
          x-ms-client-name: NsRecords
          items:
            $ref: '#/components/schemas/NsRecord'
          description: The list of NS records in the record set.
        PTRRecords:
          type: array
          x-ms-identifiers: []
          x-ms-client-name: PtrRecords
          items:
            $ref: '#/components/schemas/PtrRecord'
          description: The list of PTR records in the record set.
        SRVRecords:
          type: array
          x-ms-identifiers: []
          x-ms-client-name: SrvRecords
          items:
            $ref: '#/components/schemas/SrvRecord'
          description: The list of SRV records in the record set.
        TXTRecords:
          type: array
          x-ms-identifiers: []
          x-ms-client-name: TxtRecords
          items:
            $ref: '#/components/schemas/TxtRecord'
          description: The list of TXT records in the record set.
        CNAMERecord:
          $ref: '#/components/schemas/CnameRecord'
          x-ms-client-name: CnameRecord
          description: The CNAME record in the  record set.
        SOARecord:
          $ref: '#/components/schemas/SoaRecord'
          x-ms-client-name: SoaRecord
          description: The SOA record in the record set.
        caaRecords:
          type: array
          x-ms-identifiers: []
          x-ms-client-name: CaaRecords
          items:
            $ref: '#/components/schemas/CaaRecord'
          description: The list of CAA records in the record set.
        DSRecords:
          type: array
          x-ms-identifiers: []
          x-ms-client-name: DsRecords
          items:
            $ref: '#/components/schemas/DsRecord'
          description: The list of DS records in the record set.
        TLSARecords:
          type: array
          x-ms-identifiers: []
          x-ms-client-name: TlsaRecords
          items:
            $ref: '#/components/schemas/TlsaRecord'
          description: The list of TLSA records in the record set.
        NAPTRRecords:
          type: array
          x-ms-identifiers: []
          x-ms-client-name: NaptrRecords
          items:
            $ref: '#/components/schemas/NaptrRecord'
          description: The list of NAPTR records in the record set.
      description: Represents the properties of the records in the record set.
    NaptrRecord:
      type: object
      properties:
        order:
          type: integer
          format: int32
          description: 'The order in which the NAPTR records MUST be processed in order to accurately represent the ordered list of rules. The ordering is from lowest to highest. Valid values: 0-65535.'
        preference:
          type: integer
          format: int32
          description: 'The preference specifies the order in which NAPTR records with equal ''order'' values should be processed, low numbers being processed before high numbers. Valid values: 0-65535.'
        flags:
          type: string
          description: The flags specific to DDDS applications. Values currently defined in RFC 3404 are uppercase and lowercase letters "A", "P", "S", and "U", and the empty string, "". Enclose Flags in quotation marks.
        services:
          type: string
          description: The services specific to DDDS applications. Enclose Services in quotation marks.
        regexp:
          type: string
          description: 'The regular expression that the DDDS application uses to convert an input value into an output value. For example: an IP phone system might use a regular expression to convert a phone number that is entered by a user into a SIP URI. Enclose the regular expression in quotation marks. Specify either a value for ''regexp'' or a value for ''replacement''.'
        replacement:
          type: string
          description: The replacement is a fully qualified domain name (FQDN) of the next domain name that you want the DDDS application to submit a DNS query for. The DDDS application replaces the input value with the value specified for replacement. Specify either a value for 'regexp' or a value for 'replacement'. If you specify a value for 'regexp', specify a dot (.) for 'replacement'.
      description: 'A NAPTR record. For more information about the NAPTR record format, see RFC 3403: https://www.rfc-editor.org/rfc/rfc3403'
    SecurityAlgorithmType:
      type: integer
      format: int32
      description: 'The security algorithm type represents the standard security algorithm number of the DNSKEY Resource Record. See: https://www.iana.org/assignments/dns-sec-alg-numbers/dns-sec-alg-numbers.xhtml'
    SrvRecord:
      type: object
      properties:
        priority:
          type: integer
          format: int32
          description: The priority value for this SRV record.
        weight:
          type: integer
          format: int32
          description: The weight value for this SRV record.
        port:
          type: integer
          format: int32
          description: The port value for this SRV record.
        target:
          type: string
          description: The target domain name for this SRV record.
      description: An SRV record.
    PtrRecord:
      type: object
      properties:
        ptrdname:
          type: string
          description: The PTR target domain name for this PTR record.
      description: A PTR record.
    SubResource:
      type: object
      properties:
        id:
          type: string
          description: Resource Id.
      description: A reference to a another resource
    CloudError:
      type: object
      x-ms-external: true
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: Cloud error body.
      description: An error response from the service.
    ARecord:
      type: object
      properties:
        ipv4Address:
          type: string
          description: The IPv4 address of this A record.
      description: An A record.
    TlsaRecord:
      type: object
      properties:
        usage:
          type: integer
          format: int32
          description: The usage specifies the provided association that will be used to match the certificate presented in the TLS handshake.
        selector:
          type: integer
          format: int32
          description: The selector specifies which part of the TLS certificate presented by the server will be matched against the association data.
        matchingType:
          type: integer
          format: int32
          description: The matching type specifies how the certificate association is presented.
        certAssociationData:
          type: string
          description: This specifies the certificate association data to be matched.
      description: 'A TLSA record. For more information about the TLSA record format, see RFC 6698: https://www.rfc-editor.org/rfc/rfc6698'
    DsRecord:
      type: object
      properties:
        keyTag:
          type: integer
          format: int32
          description: The key tag value is used to determine which DNSKEY Resource Record is used for signature verification.
        algorithm:
          $ref: '#/components/schemas/SecurityAlgorithmType'
        digest:
          $ref: '#/components/schemas/Digest'
          description: The digest entity.
      description: 'A DS record. For more information about the DS record format, see RFC 4034: https://www.rfc-editor.org/rfc/rfc4034'
    SoaRecord:
      type: object
      properties:
        host:
          type: string
          description: The domain name of the authoritative name server for this SOA record.
        email:
          type: string
          description: The email contact for this SOA record.
        serialNumber:
          type: integer
          format: int64
          description: The serial number for this SOA record.
        refreshTime:
          type: integer
          format: int64
          description: The refresh value for this SOA record.
        retryTime:
          type: integer
          format: int64
          description: The retry time for this SOA record.
        expireTime:
          type: integer
          format: int64
          description: The expire time for this SOA record.
        minimumTTL:
          type: integer
          format: int64
          x-ms-client-name: minimumTtl
          description: The minimum value for this SOA record. By convention this is used to determine the negative caching duration.
      description: An SOA record.
    RecordSetProperties_2:
      properties:
        metadata:
          type: object
          additionalProperties:
            type: string
          description: The metadata attached to the record set.
        ttl:
          type: integer
          format: int64
          description: The TTL (time-to-live) of the records in the record set.
        fqdn:
          type: string
          description: Fully qualified domain name of the record set.
          readOnly: true
        isAutoRegistered:
          type: boolean
          description: Is the record set auto-registered in the Private DNS zone through a virtual network link?
          readOnly: true
        aRecords:
          type: array
          items:
            $ref: '#/components/schemas/ARecord_2'
          description: The list of A records in the record set.
        aaaaRecords:
          type: array
          items:
            $ref: '#/components/schemas/AaaaRecord_2'
          description: The list of AAAA records in the record set.
        cnameRecord:
          $ref: '#/components/schemas/CnameRecord_2'
          description: The CNAME record in the record set.
        mxRecords:
          type: array
          items:
            $ref: '#/components/schemas/MxRecord_2'
          description: The list of MX records in the record set.
        ptrRecords:
          type: array
          items:
            $ref: '#/components/schemas/PtrRecord_2'
          description: The list of PTR records in the record set.
        soaRecord:
          $ref: '#/components/schemas/SoaRecord_2'
          description: The SOA record in the record set.
        srvRecords:
          type: array
          items:
            $ref: '#/components/schemas/SrvRecord_2'
          description: The list of SRV records in the record set.
        txtRecords:
          type: array
          items:
            $ref: '#/components/schemas/TxtRecord_2'
          description: The list of TXT records in the record set.
      description: Represents the properties of the records in the record set.
    ProxyResource:
      description: The resource model definition for an ARM proxy resource.
      allOf:
      - $ref: '#/components/schemas/Resource'
    RecordSetListResult_2:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/RecordSet_2'
          description: Information about the record sets in the response.
        nextLink:
          type: string
          description: The continuation token for the next page of results.
          readOnly: true
      description: The response to a record set list operation.
    ARecord_2:
      properties:
        ipv4Address:
          type: string
          description: The IPv4 address of this A record.
      description: An A record.
    AaaaRecord_2:
      properties:
        ipv6Address:
          type: string
          description: The IPv6 address of this AAAA record.
      description: An AAAA record.
    CloudErrorBody_2:
      type: object
      x-ms-external: true
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of the property in error.
        details:
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody_2'
          description: A list of additional details about the error.
      description: An error response from the service.
    CnameRecord_2:
      properties:
        cname:
          type: string
          description: The canonical name for this CNAME record.
      description: A CNAME record.
    SrvRecord_2:
      properties:
        priority:
          type: integer
          format: int32
          description: The priority value for this SRV record.
        weight:
          type: integer
          format: int32
          description: The weight value for this SRV record.
        port:
          type: integer
          format: int32
          description: The port value for this SRV record.
        target:
          type: string
          description: The target domain name for this SRV record.
      description: An SRV record.
    MxRecord_2:
      properties:
        preference:
          type: integer
          format: int32
          description: The preference value for this MX record.
        exchange:
          type: string
          description: The domain name of the mail host for this MX record.
      description: An MX record.
    Resource:
      description: The core properties of ARM resources
      properties:
        id:
          type: string
          readOnly: true
          description: Fully qualified resource Id for the resource. Example - '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateDnsZones/{privateDnsZoneName}'.
        name:
          type: string
          readOnly: true
          description: The name of the resource
        type:
          type: string
          readOnly: true
          description: The type of the resource. Example - 'Microsoft.Network/privateDnsZones'.
      x-ms-azure-resource: true
    PtrRecord_2:
      properties:
        ptrdname:
          type: string
          description: The PTR target domain name for this PTR record.
      description: A PTR record.
    SoaRecord_2:
      properties:
        host:
          type: string
          description: The domain name of the authoritative name server for this SOA record.
        email:
          type: string
          description: The email contact for this SOA record.
        serialNumber:
          type: integer
          format: int64
          description: The serial number for this SOA record.
        refreshTime:
          type: integer
          format: int64
          description: The refresh value for this SOA record.
        retryTime:
          type: integer
          format: int64
          description: The retry time for this SOA record.
        expireTime:
          type: integer
          format: int64
          description: The expire time for this SOA record.
        minimumTtl:
          type: integer
          format: int64
          description: The minimum value for this SOA record. By convention this is used to determine the negative caching duration.
      description: An SOA record.
    TxtRecord_2:
      properties:
        value:
          type: array
          items:
            type: string
          description: The text value of this TXT record.
      description: A TXT record.
    RecordSet_2:
      properties:
        id:
          type: string
          description: The ID of the record set.
          readOnly: true
        name:
          type: string
          description: The name of the record set.
          readOnly: true
        type:
          type: string
          description: The type of the record set.
          readOnly: true
        etag:
          type: string
          description: The ETag of the record set.
        properties:
          $ref: '#/components/schemas/RecordSetProperties_2'
          x-ms-client-flatten: true
          description: The properties of the record set.
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: Describes a DNS record set (a collection of DNS records with the same name and type) in a Private DNS zone.
  parameters:
    ZoneNameParameter:
      name: zoneName
      in: path
      required: true
      description: The name of the DNS zone (without a terminating dot).
      x-ms-parameter-location: method
      schema:
        type: string
    RecordTypeParameter:
      name: recordType
      in: path
      required: true
      description: The type of DNS record in this record set.
      x-ms-enum:
        name: RecordType
        modelAsString: false
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
        - A
        - AAAA
        - CAA
        - CNAME
        - MX
        - NS
        - PTR
        - SOA
        - SRV
        - TXT
        - TLSA
        - DS
        - NAPTR
    RelativeRecordSetNameParameter:
      name: relativeRecordSetName
      in: path
      required: true
      description: The name of the record set, relative to the name of the zone.
      x-ms-skip-url-encoding: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- dnsmanagementclient-openapi-original.yml
- privatednsmanagementclient-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
