openapi: 3.2.0
info:
  title: Microsoft Azure Domains API
  version: '1.0'
  description: 'Operations tagged DomainsApi across 2 of this provider''s published API definitions: custom-vision-training-client-openapi-original.yml, trainingapi-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://southcentralus.api.cognitive.microsoft.com/customvision/v3.3/training
- url: https://southcentralus.api.cognitive.microsoft.com/customvision/v2.1/Training
tags:
- name: Domains API
paths:
  /domains:
    get:
      tags:
      - Domains API
      summary: Microsoft Azure Get A List Of The Available Domains
      operationId: microsoftAzureGetdomains
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Domain'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Domain'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Domain'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
            application/xml:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
            text/xml:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
      x-ms-examples:
        Successful GetDomains request:
          $ref: ./examples/GetDomains.json
      description: Needs a more full description created.
      security:
      - apim_key: []
    servers:
    - url: https://southcentralus.api.cognitive.microsoft.com/customvision/v3.3/training
  /domains/{domainId}:
    get:
      tags:
      - Domains API
      summary: Microsoft Azure Get Information About A Specific Domain
      operationId: microsoftAzureGetdomain
      parameters:
      - name: domainId
        in: path
        description: The id of the domain to get information about.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
            application/xml:
              schema:
                $ref: '#/components/schemas/Domain'
            text/xml:
              schema:
                $ref: '#/components/schemas/Domain'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
            application/xml:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
            text/xml:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
      x-ms-examples:
        Successful GetDomain request:
          $ref: ./examples/GetDomain.json
      description: Needs a more full description created.
      security:
      - apim_key: []
    servers:
    - url: https://southcentralus.api.cognitive.microsoft.com/customvision/v3.3/training
components:
  schemas:
    Domain:
      type: object
      properties:
        id:
          format: uuid
          type: string
          readOnly: true
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
          readOnly: true
        type:
          enum:
          - Classification
          - ObjectDetection
          type: string
          readOnly: true
          x-ms-enum:
            name: DomainType
            modelAsString: true
        exportable:
          type: boolean
          readOnly: true
        enabled:
          type: boolean
          readOnly: true
    CustomVisionError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          description: The error code.
          enum:
          - NoError
          - BadRequest
          - BadRequestExceededBatchSize
          - BadRequestNotSupported
          - BadRequestInvalidIds
          - BadRequestProjectName
          - BadRequestProjectNameNotUnique
          - BadRequestProjectDescription
          - BadRequestProjectUnknownDomain
          - BadRequestProjectUnknownClassification
          - BadRequestProjectUnsupportedDomainTypeChange
          - BadRequestProjectUnsupportedExportPlatform
          - BadRequestProjectImagePreprocessingSettings
          - BadRequestProjectDuplicated
          - BadRequestIterationName
          - BadRequestIterationNameNotUnique
          - BadRequestIterationDescription
          - BadRequestIterationIsNotTrained
          - BadRequestIterationValidationFailed
          - BadRequestWorkspaceCannotBeModified
          - BadRequestWorkspaceNotDeletable
          - BadRequestTagName
          - BadRequestTagNameNotUnique
          - BadRequestTagDescription
          - BadRequestTagType
          - BadRequestMultipleNegativeTag
          - BadRequestMultipleGeneralProductTag
          - BadRequestImageTags
          - BadRequestImageRegions
          - BadRequestNegativeAndRegularTagOnSameImage
          - BadRequestUnsupportedDomain
          - BadRequestRequiredParamIsNull
          - BadRequestIterationIsPublished
          - BadRequestInvalidPublishName
          - BadRequestInvalidPublishTarget
          - BadRequestUnpublishFailed
          - BadRequestIterationNotPublished
          - BadRequestSubscriptionApi
          - BadRequestExceedProjectLimit
          - BadRequestExceedIterationPerProjectLimit
          - BadRequestExceedTagPerProjectLimit
          - BadRequestExceedTagPerImageLimit
          - BadRequestExceededQuota
          - BadRequestCannotMigrateProjectWithName
          - BadRequestNotLimitedTrial
          - BadRequestImageBatch
          - BadRequestImageStream
          - BadRequestImageUrl
          - BadRequestImageFormat
          - BadRequestImageSizeBytes
          - BadRequestImageDimensions
          - BadRequestImageExceededCount
          - BadRequestTrainingNotNeeded
          - BadRequestTrainingNotNeededButTrainingPipelineUpdated
          - BadRequestTrainingValidationFailed
          - BadRequestClassificationTrainingValidationFailed
          - BadRequestMultiClassClassificationTrainingValidationFailed
          - BadRequestMultiLabelClassificationTrainingValidationFailed
          - BadRequestDetectionTrainingValidationFailed
          - BadRequestTrainingAlreadyInProgress
          - BadRequestDetectionTrainingNotAllowNegativeTag
          - BadRequestInvalidEmailAddress
          - BadRequestDomainNotSupportedForAdvancedTraining
          - BadRequestExportPlatformNotSupportedForAdvancedTraining
          - BadRequestReservedBudgetInHoursNotEnoughForAdvancedTraining
          - BadRequestExportValidationFailed
          - BadRequestExportAlreadyInProgress
          - BadRequestPredictionIdsMissing
          - BadRequestPredictionIdsExceededCount
          - BadRequestPredictionTagsExceededCount
          - BadRequestPredictionResultsExceededCount
          - BadRequestPredictionInvalidApplicationName
          - BadRequestPredictionInvalidQueryParameters
          - BadRequestInvalidImportToken
          - BadRequestExportWhileTraining
          - BadRequestImageMetadataKey
          - BadRequestImageMetadataValue
          - BadRequestOperationNotSupported
          - BadRequestInvalidArtifactUri
          - BadRequestCustomerManagedKeyRevoked
          - BadRequestInvalid
          - UnsupportedMediaType
          - Forbidden
          - ForbiddenUser
          - ForbiddenUserResource
          - ForbiddenUserSignupDisabled
          - ForbiddenUserSignupAllowanceExceeded
          - ForbiddenUserDoesNotExist
          - ForbiddenUserDisabled
          - ForbiddenUserInsufficientCapability
          - ForbiddenDRModeEnabled
          - ForbiddenInvalid
          - NotFound
          - NotFoundProject
          - NotFoundProjectDefaultIteration
          - NotFoundIteration
          - NotFoundIterationPerformance
          - NotFoundTag
          - NotFoundImage
          - NotFoundDomain
          - NotFoundApimSubscription
          - NotFoundInvalid
          - Conflict
          - ConflictInvalid
          - ErrorUnknown
          - ErrorIterationCopyFailed
          - ErrorPreparePerformanceMigrationFailed
          - ErrorProjectInvalidWorkspace
          - ErrorProjectInvalidPipelineConfiguration
          - ErrorProjectInvalidDomain
          - ErrorProjectTrainingRequestFailed
          - ErrorProjectImportRequestFailed
          - ErrorProjectExportRequestFailed
          - ErrorFeaturizationServiceUnavailable
          - ErrorFeaturizationQueueTimeout
          - ErrorFeaturizationInvalidFeaturizer
          - ErrorFeaturizationAugmentationUnavailable
          - ErrorFeaturizationUnrecognizedJob
          - ErrorFeaturizationAugmentationError
          - ErrorExporterInvalidPlatform
          - ErrorExporterInvalidFeaturizer
          - ErrorExporterInvalidClassifier
          - ErrorPredictionServiceUnavailable
          - ErrorPredictionModelNotFound
          - ErrorPredictionModelNotCached
          - ErrorPrediction
          - ErrorPredictionStorage
          - ErrorRegionProposal
          - ErrorUnknownBaseModel
          - ErrorInvalid
          type: string
          x-ms-enum:
            name: CustomVisionErrorCodes
            modelAsString: true
        message:
          description: A message explaining the error reported by the service.
          type: string
    Domain_2:
      type:
      - object
      - 'null'
      properties:
        id:
          format: uuid
          type: string
          readOnly: true
        name:
          type:
          - string
          - 'null'
          readOnly: true
        type:
          enum:
          - Classification
          - ObjectDetection
          type: string
          readOnly: true
          x-ms-enum:
            name: DomainType
            modelAsString: true
        exportable:
          type: boolean
          readOnly: true
        enabled:
          type: boolean
          readOnly: true
  parameters:
    ApiKey:
      name: Training-Key
      in: header
      required: true
      x-ms-client-name: ApiKey
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    apim_key:
      type: apiKey
      name: Training-Key
      in: header
x-refined-from:
- custom-vision-training-client-openapi-original.yml
- trainingapi-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
