openapi: 3.2.0
info:
  title: Microsoft Azure SecurityUserConfiguration Rule Collections…
  version: 2022-02-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: RuleCollections
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityUserConfigurations/{configurationName}/ruleCollections/{ruleCollectionName}
  : parameters:
    - $ref: ./network.json#/parameters/ApiVersionParameter
    - $ref: ./network.json#/parameters/SubscriptionIdParameter
    - $ref: '#/components/parameters/ResourceGroupNameParameter'
    - $ref: '#/components/parameters/NetworkManagerNameParameter'
    - $ref: '#/components/parameters/SecurityConfigurationParameter'
    - $ref: '#/components/parameters/RuleCollectionParameter'
    get:
      tags:
      - RuleCollections
      description: Gets a network manager security user configuration rule collection.
      operationId: microsoftAzureUserrulecollectionsGet
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserRuleCollection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        Gets security user rule collection:
          $ref: ./examples/NetworkManagerUserRuleCollectionGet.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  parameters:
    RuleCollectionParameter:
      name: ruleCollectionName
      in: path
      description: The name of the network manager security Configuration rule collection.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
    SecurityConfigurationParameter:
      name: configurationName
      in: path
      description: The name of the network manager Security Configuration.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    NetworkManagerNameParameter:
      name: networkManagerName
      in: path
      required: true
      description: The name of the network manager.
      x-ms-parameter-location: method
      schema:
        type: string
  schemas:
    UserRuleCollection:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/UserRuleCollectionPropertiesFormat'
          description: Indicates the properties for the network manager user rule collection.
        systemData:
          readOnly: true
          description: The system metadata related to this resource.
          $ref: ./network.json#/definitions/SystemData
      allOf:
      - $ref: ./network.json#/definitions/ProxyResource
      description: Defines the user rule collection.
    UserRuleCollectionPropertiesFormat:
      type: object
      properties:
        description:
          type: string
          description: A description of the user rule collection.
        appliesToGroups:
          type: array
          x-ms-identifiers:
          - networkGroupId
          items:
            $ref: ./networkManagerSecurityAdminConfiguration.json#/definitions/NetworkManagerSecurityGroupItem
          description: Groups for configuration
        provisioningState:
          readOnly: true
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the resource.
      required:
      - appliesToGroups
      description: Defines the user rule collection properties.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
