openapi: 3.2.0
info:
  version: 2021-11-16-preview
  title: Microsoft Azure AuthorizationManagementClient Delete Access…
  description: Access reviews service provides the workflow for running access reviews on different kind of resources.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: DeleteAccessReviewHistoryDefinition
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Authorization/accessReviewHistoryDefinitions/{historyDefinitionId}:
    delete:
      tags:
      - DeleteAccessReviewHistoryDefinition
      operationId: microsoftAzureAccessreviewhistorydefinitionDeletebyid
      x-ms-examples:
        DeleteAccessReview:
          $ref: ./examples/DeleteAccessReviewHistoryDefinition.json
      description: Delete an access review history definition
      parameters:
      - name: historyDefinitionId
        in: path
        required: true
        description: The id of the access review history definition.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Resource deleted successfully
        '204':
          description: Request is well formed but the resource does not exist
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDefinition'
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Providers Microsoft…
components:
  schemas:
    ErrorDefinitionProperties:
      type: object
      title: Error
      description: Error description and code explaining why an operation failed.
      properties:
        message:
          type: string
          readOnly: true
          description: Description of the error.
        code:
          type: string
          description: Error code of list gateway.
    ErrorDefinition:
      type: object
      title: Error
      description: Error description and code explaining why an operation failed.
      properties:
        error:
          $ref: '#/components/schemas/ErrorDefinitionProperties'
          description: Error of the list gateway status.
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to be used with the HTTP request.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
