openapi: 3.2.0
info:
  version: '2023-06-01'
  title: Microsoft Azure SiteRecoveryManagementClient Replication…
  x-ms-code-generation-settings:
    header: MICROSOFT_MIT_NO_VERSION
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ReplicationProtectionContainerMappings
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationProtectionContainers/{protectionContainerName}/replicationProtectionContainerMappings
  : get:
      tags:
      - ReplicationProtectionContainerMappings
      summary: Microsoft Azure Gets The List Of Protection Container Mappings For A Protection…
      description: Lists the protection container mappings for a protection container.
      operationId: microsoftAzureReplicationprotectioncontainermappingsListbyreplicationprotectioncontainers
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Fabric name.
        required: true
        schema:
          type: string
      - name: protectionContainerName
        in: path
        description: Protection container name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtectionContainerMappingCollection'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Gets the list of protection container mappings for a protection container.:
          $ref: ./examples/ReplicationProtectionContainerMappings_ListByReplicationProtectionContainers.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationProtectionContainers/{protectionContainerName}/replicationProtectionContainerMappings/{mappingName}
  : get:
      tags:
      - ReplicationProtectionContainerMappings
      summary: Microsoft Azure Gets A Protection Container Mapping
      description: Gets the details of a protection container mapping.
      operationId: microsoftAzureReplicationprotectioncontainermappingsGet
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Fabric name.
        required: true
        schema:
          type: string
      - name: protectionContainerName
        in: path
        description: Protection container name.
        required: true
        schema:
          type: string
      - name: mappingName
        in: path
        description: Protection Container mapping name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtectionContainerMapping'
      x-ms-examples:
        Gets a protection container mapping.:
          $ref: ./examples/ReplicationProtectionContainerMappings_Get.json
    put:
      tags:
      - ReplicationProtectionContainerMappings
      summary: Microsoft Azure Create Protection Container Mapping
      description: The operation to create a protection container mapping.
      operationId: microsoftAzureReplicationprotectioncontainermappingsCreate
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Fabric name.
        required: true
        schema:
          type: string
      - name: protectionContainerName
        in: path
        description: Protection container name.
        required: true
        schema:
          type: string
      - name: mappingName
        in: path
        description: Protection container mapping name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtectionContainerMapping'
        '202':
          description: Accepted
      x-ms-long-running-operation: true
      x-ms-examples:
        Create protection container mapping.:
          $ref: ./examples/ReplicationProtectionContainerMappings_Create.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProtectionContainerMappingInput'
        description: Mapping creation input.
        required: true
    delete:
      tags:
      - ReplicationProtectionContainerMappings
      summary: Microsoft Azure Purge Protection Container Mapping
      description: The operation to purge(force delete) a protection container mapping.
      operationId: microsoftAzureReplicationprotectioncontainermappingsPurge
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Fabric name.
        required: true
        schema:
          type: string
      - name: protectionContainerName
        in: path
        description: Protection container name.
        required: true
        schema:
          type: string
      - name: mappingName
        in: path
        description: Protection container mapping name.
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Accepted
        '204':
          description: NoContent
      x-ms-long-running-operation: true
      x-ms-examples:
        Purge protection container mapping.:
          $ref: ./examples/ReplicationProtectionContainerMappings_Purge.json
    patch:
      tags:
      - ReplicationProtectionContainerMappings
      summary: Microsoft Azure Update Protection Container Mapping
      description: The operation to update protection container mapping.
      operationId: microsoftAzureReplicationprotectioncontainermappingsUpdate
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Fabric name.
        required: true
        schema:
          type: string
      - name: protectionContainerName
        in: path
        description: Protection container name.
        required: true
        schema:
          type: string
      - name: mappingName
        in: path
        description: Protection container mapping name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtectionContainerMapping'
        '202':
          description: Accepted
      x-ms-long-running-operation: true
      x-ms-examples:
        Update protection container mapping.:
          $ref: ./examples/ReplicationProtectionContainerMappings_Update.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProtectionContainerMappingInput'
        description: Mapping update input.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationProtectionContainers/{protectionContainerName}/replicationProtectionContainerMappings/{mappingName}/remove
  : post:
      tags:
      - ReplicationProtectionContainerMappings
      summary: Microsoft Azure Remove Protection Container Mapping
      description: The operation to delete or remove a protection container mapping.
      operationId: microsoftAzureReplicationprotectioncontainermappingsDelete
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Fabric name.
        required: true
        schema:
          type: string
      - name: protectionContainerName
        in: path
        description: Protection container name.
        required: true
        schema:
          type: string
      - name: mappingName
        in: path
        description: Protection container mapping name.
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Accepted
        '204':
          description: NoContent
      x-ms-long-running-operation: true
      x-ms-examples:
        Remove protection container mapping.:
          $ref: ./examples/ReplicationProtectionContainerMappings_Delete.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveProtectionContainerMappingInput'
        description: Removal input.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationProtectionContainerMappings
  : get:
      tags:
      - ReplicationProtectionContainerMappings
      summary: Microsoft Azure Gets The List Of All Protection Container Mappings In A Vault
      description: Lists the protection container mappings in the vault.
      operationId: microsoftAzureReplicationprotectioncontainermappingsList
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtectionContainerMappingCollection'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Gets the list of all protection container mappings in a vault.:
          $ref: ./examples/ReplicationProtectionContainerMappings_List.json
components:
  schemas:
    ProtectionContainerMappingCollection:
      description: Protection container mapping collection class.
      type: object
      properties:
        value:
          description: List of container mappings.
          type: array
          items:
            $ref: '#/components/schemas/ProtectionContainerMapping'
        nextLink:
          description: Link to fetch rest of the data.
          type: string
    CreateProtectionContainerMappingInputProperties:
      description: Configure pairing input properties.
      type: object
      properties:
        targetProtectionContainerId:
          description: The target unique protection container name.
          type: string
        policyId:
          description: Applicable policy.
          type: string
        providerSpecificInput:
          $ref: '#/components/schemas/ReplicationProviderSpecificContainerMappingInput'
          description: Provider specific input for pairing.
    ProtectionContainerMappingProviderSpecificDetails:
      description: Container mapping provider specific details.
      required:
      - instanceType
      type: object
      properties:
        instanceType:
          description: Gets the class type. Overridden in derived classes.
          type: string
      discriminator:
        propertyName: instanceType
    HealthError:
      description: Health Error.
      type: object
      properties:
        innerHealthErrors:
          description: The inner health errors. HealthError having a list of HealthError as child errors is problematic. InnerHealthError is used because this will prevent an infinite loop of structures when Hydra tries to auto-generate the contract. We are exposing the related health errors as inner health errors and all API consumers can utilize this in the same fashion as Exception -&gt; InnerException.
          type: array
          items:
            $ref: '#/components/schemas/InnerHealthError'
        errorSource:
          description: Source of error.
          type: string
        errorType:
          description: Type of error.
          type: string
        errorLevel:
          description: Level of error.
          type: string
        errorCategory:
          description: Category of error.
          type: string
        errorCode:
          description: Error code.
          type: string
        summaryMessage:
          description: Summary message of the entity.
          type: string
        errorMessage:
          description: Error message.
          type: string
        possibleCauses:
          description: Possible causes of error.
          type: string
        recommendedAction:
          description: Recommended action to resolve error.
          type: string
        creationTimeUtc:
          format: date-time
          description: Error creation time (UTC).
          type: string
        recoveryProviderErrorMessage:
          description: DRA error message.
          type: string
        entityId:
          description: ID of the entity.
          type: string
        errorId:
          description: The health error unique id.
          type: string
        customerResolvability:
          description: Value indicating whether the health error is customer resolvable.
          enum:
          - Allowed
          - NotAllowed
          type: string
          x-ms-enum:
            name: HealthErrorCustomerResolvability
            modelAsString: true
    InnerHealthError:
      description: Implements InnerHealthError class. HealthError object has a list of InnerHealthErrors as child errors. InnerHealthError is used because this will prevent an infinite loop of structures when Hydra tries to auto-generate the contract. We are exposing the related health errors as inner health errors and all API consumers can utilize this in the same fashion as Exception -&gt; InnerException.
      type: object
      properties:
        errorSource:
          description: Source of error.
          type: string
        errorType:
          description: Type of error.
          type: string
        errorLevel:
          description: Level of error.
          type: string
        errorCategory:
          description: Category of error.
          type: string
        errorCode:
          description: Error code.
          type: string
        summaryMessage:
          description: Summary message of the entity.
          type: string
        errorMessage:
          description: Error message.
          type: string
        possibleCauses:
          description: Possible causes of error.
          type: string
        recommendedAction:
          description: Recommended action to resolve error.
          type: string
        creationTimeUtc:
          format: date-time
          description: Error creation time (UTC).
          type: string
        recoveryProviderErrorMessage:
          description: DRA error message.
          type: string
        entityId:
          description: ID of the entity.
          type: string
        errorId:
          description: The health error unique id.
          type: string
        customerResolvability:
          description: Value indicating whether the health error is customer resolvable.
          enum:
          - Allowed
          - NotAllowed
          type: string
          x-ms-enum:
            name: HealthErrorCustomerResolvability
            modelAsString: true
    ReplicationProviderSpecificUpdateContainerMappingInput:
      description: Provider specific input for update pairing operations.
      required:
      - instanceType
      type: object
      properties:
        instanceType:
          description: The class type.
          type: string
      discriminator:
        propertyName: instanceType
    UpdateProtectionContainerMappingInputProperties:
      description: Container pairing update input.
      type: object
      properties:
        providerSpecificInput:
          $ref: '#/components/schemas/ReplicationProviderSpecificUpdateContainerMappingInput'
          description: Provider specific input for updating protection container mapping.
    ProtectionContainerMapping:
      description: Protection container mapping object.
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/ProtectionContainerMappingProperties'
          description: The custom data.
    ReplicationProviderContainerUnmappingInput:
      description: Provider specific input for unpairing operations.
      type: object
      properties:
        instanceType:
          description: The class type.
          type: string
    CreateProtectionContainerMappingInput:
      description: Configure pairing input.
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/CreateProtectionContainerMappingInputProperties'
          description: Configure protection input properties.
    Resource:
      description: Azure resource.
      type: object
      properties:
        id:
          description: Resource Id
          type: string
          readOnly: true
        name:
          description: Resource Name
          type: string
          readOnly: true
        type:
          description: Resource Type
          type: string
          readOnly: true
        location:
          description: Resource Location
          type: string
      x-ms-azure-resource: true
    ReplicationProviderSpecificContainerMappingInput:
      description: Provider specific input for pairing operations.
      required:
      - instanceType
      type: object
      properties:
        instanceType:
          description: The class type.
          type: string
      discriminator:
        propertyName: instanceType
    RemoveProtectionContainerMappingInput:
      description: Container unpairing input.
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/RemoveProtectionContainerMappingInputProperties'
          description: Configure protection input properties.
    RemoveProtectionContainerMappingInputProperties:
      description: Unpairing input properties.
      type: object
      properties:
        providerSpecificInput:
          $ref: '#/components/schemas/ReplicationProviderContainerUnmappingInput'
          description: Provider specific input for unpairing.
    UpdateProtectionContainerMappingInput:
      description: Container pairing update input.
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/UpdateProtectionContainerMappingInputProperties'
          description: Update protection container mapping input properties.
    ProtectionContainerMappingProperties:
      description: Protection container mapping properties.
      type: object
      properties:
        targetProtectionContainerId:
          description: Paired protection container ARM ID.
          type: string
        targetProtectionContainerFriendlyName:
          description: Friendly name of paired container.
          type: string
        providerSpecificDetails:
          $ref: '#/components/schemas/ProtectionContainerMappingProviderSpecificDetails'
          description: Provider specific provider details.
        health:
          description: Health of pairing.
          type: string
        healthErrorDetails:
          description: Health error.
          type: array
          items:
            $ref: '#/components/schemas/HealthError'
        policyId:
          description: Policy ARM Id.
          type: string
        state:
          description: Association Status.
          type: string
        sourceProtectionContainerFriendlyName:
          description: Friendly name of source protection container.
          type: string
        sourceFabricFriendlyName:
          description: Friendly name of source fabric.
          type: string
        targetFabricFriendlyName:
          description: Friendly name of target fabric.
          type: string
        policyFriendlyName:
          description: Friendly name of replication policy.
          type: string
  parameters:
    ResourceName:
      name: resourceName
      in: path
      description: The name of the recovery services vault.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    ResourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group where the recovery services vault is present.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    SubscriptionId:
      name: subscriptionId
      in: path
      description: The subscription Id.
      required: true
      schema:
        type: string
    ApiVersion:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account.
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
