openapi: 3.2.0
info:
  title: Microsoft Azure Azure Machine Learning Services V2…
  description: These APIs allow end users to operate on Azure Machine Learning Workspace resources.
  version: 2024-01-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: V2WorkspaceConnectionResource
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/connections
  : get:
      tags:
      - V2WorkspaceConnectionResource
      summary: Microsoft Azure Lists All The Available Machine Learning Workspaces Connections…
      operationId: microsoftAzureWorkspaceconnectionsList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/TargetParameter'
      - $ref: '#/components/parameters/CategoryParameter'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - in: query
        name: includeAll
        description: query parameter that indicates if get connection call should return both connections and datastores
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceConnectionPropertiesV2BasicResourceArmPaginatedResult'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        ListWorkspaceConnections:
          $ref: ./examples/WorkspaceConnection/list.json
      x-ms-pageable:
        nextLinkName: nextLink
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/connections/{connectionName}
  : delete:
      tags:
      - V2WorkspaceConnectionResource
      summary: Microsoft Azure Delete Machine Learning Workspaces Connections By Name
      operationId: microsoftAzureWorkspaceconnectionsDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/ConnectionName'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
        '204':
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        DeleteWorkspaceConnection:
          $ref: ./examples/WorkspaceConnection/delete.json
      description: Needs a more full description created.
    get:
      tags:
      - V2WorkspaceConnectionResource
      summary: Microsoft Azure Lists Machine Learning Workspaces Connections By Name
      operationId: microsoftAzureWorkspaceconnectionsGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/ConnectionName'
      - $ref: '#/components/parameters/AOAIModelsToDeployParameter'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceConnectionPropertiesV2BasicResource'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        GetWorkspaceConnection:
          $ref: ./examples/WorkspaceConnection/get.json
      description: Needs a more full description created.
    patch:
      tags:
      - V2WorkspaceConnectionResource
      summary: Microsoft Azure Update Machine Learning Workspaces Connections Under The…
      operationId: microsoftAzureWorkspaceconnectionsUpdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/ConnectionName'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceConnectionPropertiesV2BasicResource'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        UpdateWorkspaceConnection:
          $ref: ./examples/WorkspaceConnection/update.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceConnectionUpdateParameter'
        description: Parameters for workspace connection update.
    put:
      tags:
      - V2WorkspaceConnectionResource
      summary: Microsoft Azure Create Or Update Machine Learning Workspaces Connections Under…
      operationId: microsoftAzureWorkspaceconnectionsCreate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/ConnectionName'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceConnectionPropertiesV2BasicResource'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        CreateWorkspaceConnection:
          $ref: ./examples/WorkspaceConnection/create.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceConnectionPropertiesV2BasicResource'
        description: The object for creating or updating a new workspace connection
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/connections/{connectionName}/listsecrets
  : post:
      tags:
      - V2WorkspaceConnectionResource
      summary: Microsoft Azure List All The Secrets Of A Machine Learning Workspaces…
      operationId: microsoftAzureWorkspaceconnectionsListsecrets
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/ConnectionName'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/AOAIModelsToDeployParameter'
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceConnectionPropertiesV2BasicResource'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        GetWorkspaceConnection:
          $ref: ./examples/WorkspaceConnection/listSecrets.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/connections/{connectionName}/testconnection
  : post:
      tags:
      - V2WorkspaceConnectionResource
      summary: Microsoft Azure Test Machine Learning Workspaces Connections Under The…
      operationId: microsoftAzureWorkspaceconnectionsTestconnection
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/ConnectionName'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '202':
          description: Accepted
          headers:
            Location:
              description: URI to poll for asynchronous operation result.
              schema:
                type: string
            Retry-After:
              description: Duration the client should wait between requests, in seconds.
              schema:
                type: integer
                format: int32
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        TestWorkspaceConnection:
          $ref: ./examples/WorkspaceConnection/testConnection.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceConnectionPropertiesV2BasicResource'
        description: Workspace Connection object
components:
  schemas:
    WorkspaceConnectionPropertiesV2BasicResource:
      required:
      - properties
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/Resource
      properties:
        properties:
          $ref: '#/components/schemas/WorkspaceConnectionPropertiesV2'
    ConnectionCategory:
      description: Category of the connection
      enum:
      - PythonFeed
      - ContainerRegistry
      - Git
      - S3
      - Snowflake
      - AzureSqlDb
      - AzureSynapseAnalytics
      - AzureMySqlDb
      - AzurePostgresDb
      - ADLSGen2
      - Redis
      - ApiKey
      - AzureOpenAI
      - CognitiveSearch
      - CognitiveService
      - CustomKeys
      - AzureBlob
      - AzureOneLake
      - CosmosDb
      - CosmosDbMongoDbApi
      - AzureDataExplorer
      - AzureMariaDb
      - AzureDatabricksDeltaLake
      - AzureSqlMi
      - AzureTableStorage
      - AmazonRdsForOracle
      - AmazonRdsForSqlServer
      - AmazonRedshift
      - Db2
      - Drill
      - GoogleBigQuery
      - Greenplum
      - Hbase
      - Hive
      - Impala
      - Informix
      - MariaDb
      - MicrosoftAccess
      - MySql
      - Netezza
      - Oracle
      - Phoenix
      - PostgreSql
      - Presto
      - SapOpenHub
      - SapBw
      - SapHana
      - SapTable
      - Spark
      - SqlServer
      - Sybase
      - Teradata
      - Vertica
      - Cassandra
      - Couchbase
      - MongoDbV2
      - MongoDbAtlas
      - AmazonS3Compatible
      - FileServer
      - FtpServer
      - GoogleCloudStorage
      - Hdfs
      - OracleCloudStorage
      - Sftp
      - GenericHttp
      - ODataRest
      - Odbc
      - GenericRest
      - AmazonMws
      - Concur
      - Dynamics
      - DynamicsAx
      - DynamicsCrm
      - GoogleAdWords
      - Hubspot
      - Jira
      - Magento
      - Marketo
      - Office365
      - Eloqua
      - Responsys
      - OracleServiceCloud
      - PayPal
      - QuickBooks
      - Salesforce
      - SalesforceServiceCloud
      - SalesforceMarketingCloud
      - SapCloudForCustomer
      - SapEcc
      - ServiceNow
      - SharePointOnlineList
      - Shopify
      - Square
      - WebTable
      - Xero
      - Zoho
      - GenericContainerRegistry
      type: string
      x-ms-enum:
        name: ConnectionCategory
        modelAsString: true
    WorkspaceConnectionPropertiesV2:
      required:
      - authType
      type: object
      properties:
        authType:
          description: Authentication type of the connection target
          $ref: '#/components/schemas/ConnectionAuthType'
        category:
          description: Category of the connection
          $ref: '#/components/schemas/ConnectionCategory'
        createdByWorkspaceArmId:
          type: string
          format: arm-id
          readOnly: true
        expiryTime:
          format: date-time
          type: string
        group:
          description: Group based on connection category
          $ref: '#/components/schemas/ConnectionGroup'
          readOnly: true
        isSharedToAll:
          type: boolean
        metadata:
          type: object
        sharedUserList:
          type: array
          items:
            type: string
        target:
          type: string
      discriminator:
        propertyName: authType
    ConnectionAuthType:
      description: Authentication type of the connection target
      enum:
      - PAT
      - ManagedIdentity
      - UsernamePassword
      - None
      - SAS
      - AccountKey
      - ServicePrincipal
      - AccessKey
      - ApiKey
      - CustomKeys
      - OAuth2
      - AAD
      type: string
      x-ms-enum:
        name: ConnectionAuthType
        modelAsString: true
    WorkspaceConnectionPropertiesV2BasicResourceArmPaginatedResult:
      type: object
      properties:
        nextLink:
          type: string
        value:
          type: array
          items:
            $ref: '#/components/schemas/WorkspaceConnectionPropertiesV2BasicResource'
    ConnectionGroup:
      description: Group based on connection category
      enum:
      - Azure
      - AzureAI
      - Database
      - NoSQL
      - File
      - GenericProtocol
      - ServicesAndApps
      type: string
      x-ms-enum:
        name: ConnectionGroup
        modelAsString: true
    WorkspaceConnectionUpdateParameter:
      description: The properties that the machine learning workspace connection will be updated with.
      type: object
      properties:
        properties:
          description: The properties that the machine learning workspace connection will be updated with.
          $ref: '#/components/schemas/WorkspaceConnectionPropertiesV2'
  parameters:
    WorkspaceNameParameter:
      in: path
      name: workspaceName
      description: Azure Machine Learning Workspace Name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]{2,32}$
    CategoryParameter:
      in: query
      name: category
      description: Category of the workspace connection.
      x-ms-parameter-location: method
      schema:
        type: string
    AOAIModelsToDeployParameter:
      in: query
      name: aoaiModelsToDeploy
      description: query parameter for which AOAI mode should be deployed
      x-ms-parameter-location: method
      schema:
        type: string
    TargetParameter:
      in: query
      name: target
      description: Target of the workspace connection.
      x-ms-parameter-location: method
      schema:
        type: string
    ConnectionName:
      in: path
      name: connectionName
      description: Friendly name of the workspace connection
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]{2,32}$
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
