openapi: 3.2.0
info:
  version: '2022-11-01'
  title: Microsoft Azure Billing benefits RP Savings Plan Order…
  description: Azure Benefits RP let users create and manage benefits like savings plan.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Savings Plan Order Aliases
paths:
  /providers/Microsoft.BillingBenefits/savingsPlanOrderAliases/{savingsPlanOrderAliasName}:
    put:
      description: Create a savings plan. Learn more about permissions needed at https://go.microsoft.com/fwlink/?linkid=2215851
      operationId: microsoftAzureSavingsplanorderaliasCreate
      externalDocs:
        url: https://go.microsoft.com/fwlink/?linkid=2215851/
      tags:
      - Savings Plan Order Aliases
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        SavingsPlanOrderAliasCreate:
          $ref: ./examples/SavingsPlanOrderAliasCreate.json
        SavingsPlanOrderAliasCreateSingleScope:
          $ref: ./examples/SavingsPlanOrderAliasCreateSingleScope.json
      parameters:
      - $ref: '#/components/parameters/SavingsPlanOrderAliasNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SavingsPlanOrderAliasRequestParameter'
      responses:
        '200':
          description: The resource has been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavingsPlanOrderAliasModel'
        '201':
          description: The request is being processed.
          headers:
            Azure-AsyncOperation:
              description: URL for checking the ongoing status of the operation.
              schema:
                type: string
            Retry-After:
              description: Clients should wait for the Retry-After interval before polling again
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavingsPlanOrderAliasModel'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Put Providers Microsoft Billingbenefits Savingsplanorderaliases…
    get:
      description: Get a savings plan.
      operationId: microsoftAzureSavingsplanorderaliasGet
      tags:
      - Savings Plan Order Aliases
      x-ms-examples:
        SavingsPlanOrderAliasGet:
          $ref: ./examples/SavingsPlanOrderAliasGet.json
      parameters:
      - $ref: '#/components/parameters/SavingsPlanOrderAliasNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: The request is completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavingsPlanOrderAliasModel'
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Providers Microsoft Billingbenefits Savingsplanorderaliases…
components:
  schemas:
    AppliedScopeType:
      type: string
      description: Type of the Applied Scope.
      enum:
      - Single
      - Shared
      - ManagementGroup
      x-ms-enum:
        name: AppliedScopeType
        modelAsString: true
    Commitment:
      type: object
      description: Commitment towards the benefit.
      allOf:
      - $ref: '#/components/schemas/Price'
      properties:
        grain:
          type: string
          description: Commitment grain.
          enum:
          - Hourly
          x-ms-enum:
            name: CommitmentGrain
            modelAsString: true
    BillingScopeId:
      type: string
      description: Subscription that will be charged for purchasing the benefit
    ProvisioningState:
      type: string
      description: Provisioning state
      readOnly: true
      enum:
      - Creating
      - PendingBilling
      - ConfirmedBilling
      - Created
      - Succeeded
      - Cancelled
      - Expired
      - Failed
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    SavingsPlanOrderAliasProperties:
      type: object
      description: Savings plan properties
      properties:
        displayName:
          $ref: '#/components/schemas/DisplayName'
        savingsPlanOrderId:
          type: string
          description: Identifier of the savings plan created
          readOnly: true
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
        billingScopeId:
          $ref: '#/components/schemas/BillingScopeId'
        term:
          $ref: '#/components/schemas/Term'
        billingPlan:
          $ref: '#/components/schemas/BillingPlan'
        appliedScopeType:
          $ref: '#/components/schemas/AppliedScopeType'
        appliedScopeProperties:
          $ref: '#/components/schemas/AppliedScopeProperties'
        commitment:
          $ref: '#/components/schemas/Commitment'
        renew:
          $ref: '#/components/schemas/Renew'
    TenantId:
      type: string
      description: Tenant ID where the benefit is applied.
    ManagementGroupId:
      type: string
      description: Fully-qualified identifier of the management group where the benefit must be applied.
    Price:
      type: object
      properties:
        currencyCode:
          type: string
          description: The ISO 4217 3-letter currency code for the currency used by this purchase record.
        amount:
          type: number
          format: double
    AppliedScopeProperties:
      type: object
      description: Properties specific to applied scope type. Not required if not applicable.
      properties:
        tenantId:
          $ref: '#/components/schemas/TenantId'
        managementGroupId:
          $ref: '#/components/schemas/ManagementGroupId'
        subscriptionId:
          $ref: '#/components/schemas/SubscriptionId'
        resourceGroupId:
          $ref: '#/components/schemas/ResourceGroupId'
        displayName:
          type: string
          description: Display name
    Renew:
      type: boolean
      default: false
      description: Setting this to true will automatically purchase a new benefit on the expiration date time.
    Term:
      type: string
      description: Represent benefit term in ISO 8601 format.
      enum:
      - P1Y
      - P3Y
      - P5Y
      x-ms-enum:
        name: Term
        modelAsString: true
    DisplayName:
      type: string
      description: Display name
    SavingsPlanOrderAliasModel:
      type: object
      description: Savings plan order alias
      required:
      - sku
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/Resource
      properties:
        sku:
          description: Savings plan SKU
          $ref: '#/components/schemas/Sku'
        kind:
          type: string
          description: Resource provider kind
        properties:
          description: Savings plan order alias properties
          x-ms-client-flatten: true
          $ref: '#/components/schemas/SavingsPlanOrderAliasProperties'
      x-ms-azure-resource: true
    Sku:
      type: object
      description: The SKU to be applied for this resource
      properties:
        name:
          type: string
          description: Name of the SKU to be applied
    BillingPlan:
      type: string
      description: Represents the billing plan in ISO 8601 format. Required only for monthly billing plans.
      enum:
      - P1M
      x-ms-enum:
        name: BillingPlan
        modelAsString: true
    SubscriptionId:
      type: string
      description: Fully-qualified identifier of the subscription.
    ResourceGroupId:
      type: string
      description: Fully-qualified identifier of the resource group.
  parameters:
    SavingsPlanOrderAliasNameParameter:
      name: savingsPlanOrderAliasName
      x-ms-parameter-location: method
      in: path
      required: true
      description: Name of the savings plan order alias
      schema:
        type: string
        pattern: ^[a-zA-Z0-9_\-\.]+$
    ApiVersionParameter:
      name: api-version
      in: query
      x-ms-parameter-location: client
      required: true
      description: The api-version to be used by the service
      schema:
        type: string
    SavingsPlanOrderAliasRequestParameter:
      name: body
      in: body
      x-ms-parameter-location: method
      required: true
      description: Request body for creating a savings plan order alias
      schema:
        $ref: '#/components/schemas/SavingsPlanOrderAliasModel'
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
