openapi: 3.2.0
info:
  title: Microsoft Azure Tags API
  version: '1.0'
  description: 'Operations tagged TagsApi across 2 of this provider''s published API definitions: custom-vision-training-client-openapi-original.yml, trainingapi-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://southcentralus.api.cognitive.microsoft.com/customvision/v3.3/training
- url: https://southcentralus.api.cognitive.microsoft.com/customvision/v2.1/Training
tags:
- name: Tags API
paths:
  /projects/{projectId}/tags:
    get:
      tags:
      - Tags API
      summary: Microsoft Azure Get The Tags For A Given Project And Iteration
      operationId: microsoftAzureGettags
      parameters:
      - name: projectId
        in: path
        description: The project id.
        required: true
        schema:
          type: string
          format: uuid
      - name: iterationId
        in: query
        description: The iteration id. Defaults to workspace.
        required: false
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
            application/xml:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
            text/xml:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
      x-ms-examples:
        Successful GetTags request:
          $ref: ./examples/GetTags.json
      description: Needs a more full description created.
      security:
      - apim_key: []
    post:
      tags:
      - Tags API
      summary: Microsoft Azure Create A Tag For The Project
      operationId: microsoftAzureCreatetag
      parameters:
      - name: projectId
        in: path
        description: The project id.
        required: true
        schema:
          type: string
          format: uuid
      - name: name
        in: query
        description: The tag name.
        required: true
        schema:
          type: string
      - name: description
        in: query
        description: Optional description for the tag.
        required: false
        schema:
          type: string
      - name: type
        in: query
        description: Optional type for the tag.
        required: false
        schema:
          type: string
          enum:
          - Regular
          - Negative
          - GeneralProduct
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
            application/xml:
              schema:
                $ref: '#/components/schemas/Tag'
            text/xml:
              schema:
                $ref: '#/components/schemas/Tag'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
            application/xml:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
            text/xml:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
      x-ms-examples:
        Successful CreateTag request:
          $ref: ./examples/CreateTag.json
      description: Needs a more full description created.
      security:
      - apim_key: []
    servers:
    - url: https://southcentralus.api.cognitive.microsoft.com/customvision/v3.3/training
  /projects/{projectId}/tags/{tagId}:
    get:
      tags:
      - Tags API
      summary: Microsoft Azure Get Information About A Specific Tag
      operationId: microsoftAzureGettag
      parameters:
      - name: projectId
        in: path
        description: The project this tag belongs to.
        required: true
        schema:
          type: string
          format: uuid
      - name: tagId
        in: path
        description: The tag id.
        required: true
        schema:
          type: string
          format: uuid
      - name: iterationId
        in: query
        description: The iteration to retrieve this tag from. Optional, defaults to current training set.
        required: false
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
            application/xml:
              schema:
                $ref: '#/components/schemas/Tag'
            text/xml:
              schema:
                $ref: '#/components/schemas/Tag'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
            application/xml:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
            text/xml:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
      x-ms-examples:
        Successful GetTag request:
          $ref: ./examples/GetTag.json
      description: Needs a more full description created.
      security:
      - apim_key: []
    delete:
      tags:
      - Tags API
      summary: Microsoft Azure Delete A Tag From The Project
      operationId: microsoftAzureDeletetag
      parameters:
      - name: projectId
        in: path
        description: The project id.
        required: true
        schema:
          type: string
          format: uuid
      - name: tagId
        in: path
        description: Id of the tag to be deleted.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
      x-ms-examples:
        Successful DeleteTag request:
          $ref: ./examples/DeleteTag.json
      description: Needs a more full description created.
      security:
      - apim_key: []
    patch:
      tags:
      - Tags API
      summary: Microsoft Azure Update A Tag
      operationId: microsoftAzureUpdatetag
      parameters:
      - name: projectId
        in: path
        description: The project id.
        required: true
        schema:
          type: string
          format: uuid
      - name: tagId
        in: path
        description: The id of the target tag.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
            application/xml:
              schema:
                $ref: '#/components/schemas/Tag'
            text/xml:
              schema:
                $ref: '#/components/schemas/Tag'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
            application/xml:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
            text/xml:
              schema:
                $ref: '#/components/schemas/CustomVisionError'
      x-ms-examples:
        Successful UpdateTag request:
          $ref: ./examples/UpdateTag.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tag'
          application/xml:
            schema:
              $ref: '#/components/schemas/Tag'
          text/xml:
            schema:
              $ref: '#/components/schemas/Tag'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Tag'
        description: The updated tag model.
        required: true
      security:
      - apim_key: []
    servers:
    - url: https://southcentralus.api.cognitive.microsoft.com/customvision/v3.3/training
components:
  schemas:
    Tag:
      description: Represents a Tag.
      required:
      - name
      - description
      - type
      type: object
      properties:
        id:
          format: uuid
          description: Gets the Tag ID.
          type: string
          readOnly: true
        name:
          description: Gets or sets the name of the tag.
          type: string
          readOnly: false
        description:
          description: Gets or sets the description of the tag.
          type:
          - string
          - 'null'
          readOnly: false
        type:
          description: Gets or sets the type of the tag.
          enum:
          - Regular
          - Negative
          - GeneralProduct
          type: string
          readOnly: false
          x-ms-enum:
            name: TagType
            modelAsString: true
        imageCount:
          format: int32
          description: Gets the number of images with this tag.
          type: integer
          readOnly: true
    CustomVisionError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          description: The error code.
          enum:
          - NoError
          - BadRequest
          - BadRequestExceededBatchSize
          - BadRequestNotSupported
          - BadRequestInvalidIds
          - BadRequestProjectName
          - BadRequestProjectNameNotUnique
          - BadRequestProjectDescription
          - BadRequestProjectUnknownDomain
          - BadRequestProjectUnknownClassification
          - BadRequestProjectUnsupportedDomainTypeChange
          - BadRequestProjectUnsupportedExportPlatform
          - BadRequestProjectImagePreprocessingSettings
          - BadRequestProjectDuplicated
          - BadRequestIterationName
          - BadRequestIterationNameNotUnique
          - BadRequestIterationDescription
          - BadRequestIterationIsNotTrained
          - BadRequestIterationValidationFailed
          - BadRequestWorkspaceCannotBeModified
          - BadRequestWorkspaceNotDeletable
          - BadRequestTagName
          - BadRequestTagNameNotUnique
          - BadRequestTagDescription
          - BadRequestTagType
          - BadRequestMultipleNegativeTag
          - BadRequestMultipleGeneralProductTag
          - BadRequestImageTags
          - BadRequestImageRegions
          - BadRequestNegativeAndRegularTagOnSameImage
          - BadRequestUnsupportedDomain
          - BadRequestRequiredParamIsNull
          - BadRequestIterationIsPublished
          - BadRequestInvalidPublishName
          - BadRequestInvalidPublishTarget
          - BadRequestUnpublishFailed
          - BadRequestIterationNotPublished
          - BadRequestSubscriptionApi
          - BadRequestExceedProjectLimit
          - BadRequestExceedIterationPerProjectLimit
          - BadRequestExceedTagPerProjectLimit
          - BadRequestExceedTagPerImageLimit
          - BadRequestExceededQuota
          - BadRequestCannotMigrateProjectWithName
          - BadRequestNotLimitedTrial
          - BadRequestImageBatch
          - BadRequestImageStream
          - BadRequestImageUrl
          - BadRequestImageFormat
          - BadRequestImageSizeBytes
          - BadRequestImageDimensions
          - BadRequestImageExceededCount
          - BadRequestTrainingNotNeeded
          - BadRequestTrainingNotNeededButTrainingPipelineUpdated
          - BadRequestTrainingValidationFailed
          - BadRequestClassificationTrainingValidationFailed
          - BadRequestMultiClassClassificationTrainingValidationFailed
          - BadRequestMultiLabelClassificationTrainingValidationFailed
          - BadRequestDetectionTrainingValidationFailed
          - BadRequestTrainingAlreadyInProgress
          - BadRequestDetectionTrainingNotAllowNegativeTag
          - BadRequestInvalidEmailAddress
          - BadRequestDomainNotSupportedForAdvancedTraining
          - BadRequestExportPlatformNotSupportedForAdvancedTraining
          - BadRequestReservedBudgetInHoursNotEnoughForAdvancedTraining
          - BadRequestExportValidationFailed
          - BadRequestExportAlreadyInProgress
          - BadRequestPredictionIdsMissing
          - BadRequestPredictionIdsExceededCount
          - BadRequestPredictionTagsExceededCount
          - BadRequestPredictionResultsExceededCount
          - BadRequestPredictionInvalidApplicationName
          - BadRequestPredictionInvalidQueryParameters
          - BadRequestInvalidImportToken
          - BadRequestExportWhileTraining
          - BadRequestImageMetadataKey
          - BadRequestImageMetadataValue
          - BadRequestOperationNotSupported
          - BadRequestInvalidArtifactUri
          - BadRequestCustomerManagedKeyRevoked
          - BadRequestInvalid
          - UnsupportedMediaType
          - Forbidden
          - ForbiddenUser
          - ForbiddenUserResource
          - ForbiddenUserSignupDisabled
          - ForbiddenUserSignupAllowanceExceeded
          - ForbiddenUserDoesNotExist
          - ForbiddenUserDisabled
          - ForbiddenUserInsufficientCapability
          - ForbiddenDRModeEnabled
          - ForbiddenInvalid
          - NotFound
          - NotFoundProject
          - NotFoundProjectDefaultIteration
          - NotFoundIteration
          - NotFoundIterationPerformance
          - NotFoundTag
          - NotFoundImage
          - NotFoundDomain
          - NotFoundApimSubscription
          - NotFoundInvalid
          - Conflict
          - ConflictInvalid
          - ErrorUnknown
          - ErrorIterationCopyFailed
          - ErrorPreparePerformanceMigrationFailed
          - ErrorProjectInvalidWorkspace
          - ErrorProjectInvalidPipelineConfiguration
          - ErrorProjectInvalidDomain
          - ErrorProjectTrainingRequestFailed
          - ErrorProjectImportRequestFailed
          - ErrorProjectExportRequestFailed
          - ErrorFeaturizationServiceUnavailable
          - ErrorFeaturizationQueueTimeout
          - ErrorFeaturizationInvalidFeaturizer
          - ErrorFeaturizationAugmentationUnavailable
          - ErrorFeaturizationUnrecognizedJob
          - ErrorFeaturizationAugmentationError
          - ErrorExporterInvalidPlatform
          - ErrorExporterInvalidFeaturizer
          - ErrorExporterInvalidClassifier
          - ErrorPredictionServiceUnavailable
          - ErrorPredictionModelNotFound
          - ErrorPredictionModelNotCached
          - ErrorPrediction
          - ErrorPredictionStorage
          - ErrorRegionProposal
          - ErrorUnknownBaseModel
          - ErrorInvalid
          type: string
          x-ms-enum:
            name: CustomVisionErrorCodes
            modelAsString: true
        message:
          description: A message explaining the error reported by the service.
          type: string
    Tag_2:
      description: Represents a Tag
      type:
      - object
      - 'null'
      properties:
        id:
          format: uuid
          description: Gets the Tag ID
          type: string
          readOnly: true
        name:
          description: Gets or sets the name of the tag
          type:
          - string
          - 'null'
        description:
          description: Gets or sets the description of the tag
          type:
          - string
          - 'null'
        imageCount:
          format: int32
          description: Gets the number of images with this tag
          type: integer
          readOnly: true
  parameters:
    ApiKey:
      name: Training-Key
      in: header
      required: true
      x-ms-client-name: ApiKey
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    apim_key:
      type: apiKey
      name: Training-Key
      in: header
x-refined-from:
- custom-vision-training-client-openapi-original.yml
- trainingapi-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
