openapi: 3.2.0
info:
  version: 2023-11-01-preview
  title: Microsoft Azure Desktop Virtualization API Client Session…
servers:
- url: https://management.azure.com
tags:
- name: SessionHostManagements
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/sessionHostManagements/default
  : get:
      tags:
      - SessionHostManagements
      operationId: microsoftAzureSessionhostmanagementsGet
      description: Get a SessionHostManagement.
      x-ms-examples:
        SessionHostManagements_Get:
          $ref: ./examples/SessionHostManagements_Get.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/HostPoolNameParameter'
      responses:
        '200':
          description: Successfully retrieved sessionHostManagement.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionHostManagement'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/sessionHostManagements
  : get:
      tags:
      - SessionHostManagements
      operationId: microsoftAzureSessionhostmanagementsListbyhostpool
      description: List SessionHostManagements by hostPool.
      x-ms-examples:
        SessionHostConfigurations_ListByHostPool:
          $ref: ./examples/SessionHostManagements_ListByHostPool.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/HostPoolNameParameter'
      responses:
        '200':
          description: Successfully retrieved SessionHostManagements in HostPool.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionHostManagementList'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/sessionHostManagements/default/operationStatuses/{operationId}
  : get:
      tags:
      - SessionHostManagements
      operationId: microsoftAzureSessionhostmanagementsoperationstatusGet
      description: Get Operation status for SessionHostManagement
      x-ms-examples:
        SessionHostManagementsOperationStatus_Get:
          $ref: ./examples/SessionHostManagementsOperationStatus_Get.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/HostPoolNameParameter'
      - $ref: '#/components/parameters/OperationIdParameter'
      responses:
        '200':
          description: Successfully retrieved operation status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionHostManagementOperationStatus'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/sessionHostManagements/default/operationStatuses
  : get:
      tags:
      - SessionHostManagements
      operationId: microsoftAzureSessionhostmanagementsoperationstatusList
      description: Get Operation status for SessionHostManagement
      x-ms-examples:
        SessionHostManagementsOperationStatus_List:
          $ref: ./examples/SessionHostManagementsOperationStatus_List.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/HostPoolNameParameter'
      - name: isLatest
        in: query
        required: false
        description: Returns the most recent sessionHostManagement operation.
        schema:
          type: boolean
      - name: type
        in: query
        required: false
        description: Filter based on the type of sessionHostManagement operation. Valid values are 'InitiateSessionHostUpdate' and 'ValidateSessionHostUpdate'
        schema:
          type: string
      - name: isNonTerminal
        in: query
        required: false
        description: Returns currently running operations. Ignored if 'isLatest' is true
        schema:
          type: boolean
      - name: correlationId
        in: query
        required: false
        description: CorrelationId of the sessionHostManagement operations to be returned.
        schema:
          type: string
      - name: action
        in: query
        required: false
        description: 'Action type for the Operation Status list to be filtered on. Valid actions are: start | retry | pause | resume | cancel).'
        schema:
          type: string
      - name: isInitiatingOperation
        in: query
        required: false
        description: Filter option to only return operations that initiated a sessionHostManagement operation.
        schema:
          type: boolean
      responses:
        '200':
          description: Successfully retrieved operation status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionHostManagementOperationStatusList'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  parameters:
    OperationIdParameter:
      name: operationId
      in: path
      required: true
      description: The Guid of the operation.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 36
        minLength: 36
    HostPoolNameParameter:
      name: hostPoolName
      in: path
      required: true
      description: The name of the host pool within the specified resource group
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 3
  schemas:
    SessionHostManagementOperationType:
      enum:
      - InitiateSessionHostUpdate
      - ValidateSessionHostUpdate
      type: string
      x-ms-enum:
        name: OperationTypeSHM
        modelAsString: true
    CloudError:
      description: Cloud error object.
      type: object
      x-ms-external: true
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorProperties'
    SessionHostManagementOperationStatusProperties:
      description: Properties bag to hold custom RP properties for sessionHostManagement Operation Statuses.
      type: object
      properties:
        correlationId:
          type: string
          description: The Log Analytics.
        type:
          description: Type of sessionHostManagement operation.
          $ref: '#/components/schemas/SessionHostManagementOperationType'
        action:
          description: Action type of the current sessionHostManagement operation.
          enum:
          - Start
          - Retry
          - Pause
          - Resume
          - Cancel
          type: string
          readOnly: true
          x-ms-enum:
            name: OperationActionSHM
            modelAsString: true
        progress:
          description: Progress information on the sessionHostManagement operation.
          $ref: '#/components/schemas/SessionHostManagementOperationProgress'
        scheduledDateTime:
          format: date-time
          type: string
          description: The timestamp that the update is scheduled for.
        sessionHostManagement:
          description: SessionHostManagement properties used for the operation.
          $ref: '#/components/schemas/SessionHostManagement'
        parentId:
          type: string
          format: arm-id
          description: The resource ID of the operation that started this process.
    SessionHostManagementOperationStatusList:
      type: object
      title: SessionHostManagementOperationStatusList
      description: List of SessionHostManagementOperationStatus definitions.
      properties:
        value:
          type: array
          description: List of SessionHostManagementOperationStatus definitions.
          items:
            $ref: '#/components/schemas/SessionHostManagementOperationStatus'
        nextLink:
          type: string
          readOnly: true
          description: Link to the next page of results.
    SessionHostManagementProperties:
      description: Session host Managements of HostPool.
      type: object
      required:
      - scheduledDateTimeZone
      - update
      properties:
        scheduledDateTimeZone:
          type: string
          description: Time zone for sessionHostManagement operations as defined in https://docs.microsoft.com/dotnet/api/system.timezoneinfo.findsystemtimezonebyid. Must be set if useLocalTime is true.
        update:
          $ref: '#/components/schemas/HostPoolUpdateConfigurationProperties'
          description: Parameters for a hostpool update.
    SessionHostManagementOperationProgress:
      type: object
      description: SessionHostManagement Operation Progress information.
      properties:
        executionStartTime:
          format: date-time
          type: string
          description: Time that the sessionHostManagement operation was created.
        totalSessionHosts:
          type: integer
          format: int32
          description: The number of sessionHosts to be started in the sessionHostManagement operation.
        sessionHostsInProgress:
          type: integer
          format: int32
          description: The number of sessionHosts in progress in the sessionHostManagement operation.
        sessionHostsCompleted:
          type: integer
          format: int32
          description: The number of sessionHosts completed in the sessionHostManagement operation.
        sessionHostsRollbackFailed:
          type: integer
          format: int32
          description: The number of sessionHosts rollback failed in the sessionHostManagement operation.
    SessionHostManagementList:
      type: object
      title: SessionHostManagementList
      description: List of SessionHostManagement definitions.
      properties:
        value:
          type: array
          description: List of SessionHostManagement definitions.
          items:
            $ref: '#/components/schemas/SessionHostManagement'
        nextLink:
          type: string
          readOnly: true
          description: Link to the next page of results.
    SessionHostManagement:
      type: object
      description: Represents a SessionHostManagement definition.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource
      required:
      - properties
      properties:
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: Metadata pertaining to creation and last modification of the resource.
        properties:
          description: Detailed properties for SessionHostManagement
          x-ms-client-flatten: true
          $ref: '#/components/schemas/SessionHostManagementProperties'
    HostPoolUpdateConfigurationProperties:
      description: The configurations of a hostpool update.
      type: object
      required:
      - maxVmsRemoved
      - logOffDelayMinutes
      properties:
        deleteOriginalVm:
          type: boolean
          description: Whether not to save original disk. False by default.
        maxVmsRemoved:
          type: integer
          format: int32
          description: The maximum number of virtual machines to be removed during hostpool update.
          minimum: 1
        logOffDelayMinutes:
          type: integer
          format: int32
          description: Grace period before logging off users in minutes.
        logOffMessage:
          type: string
          description: Log off message sent to user for logoff. Default value is an empty string.
          maxLength: 260
          default: ''
    SessionHostManagementOperationStatus:
      description: The current status of an async operation.
      type: object
      required:
      - status
      properties:
        id:
          description: Fully qualified ID for the async operation.
          type: string
        name:
          description: Name of the async operation.
          type: string
        status:
          description: Operation status. Current defined values are < Scheduled | UpdatingSessionHosts | ValidatingSessionHostUpdate | Paused | Pausing | Cancelling | Resuming | Starting > | Succeeded | Failed | Canceled
          type: string
        percentComplete:
          description: Percent of the operation that is complete.
          type: number
          minimum: 0
          maximum: 100
        startTime:
          description: The start time of the operation.
          type: string
          format: date-time
        endTime:
          description: The end time of the operation.
          type: string
          format: date-time
        operations:
          description: The operations list.
          type: array
          items:
            $ref: '#/components/schemas/SessionHostManagementOperationStatus'
        error:
          description: If present, details of the operation error.
          $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorDetail
        properties:
          x-ms-client-flatten: true
          type: object
          description: The custom properties of the OperationStatus.
          $ref: '#/components/schemas/SessionHostManagementOperationStatusProperties'
    CloudErrorProperties:
      description: Cloud error object properties.
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
