openapi: 3.2.0
info:
  title: Microsoft Azure Accounts API
  x-refined-note:
  - x-cadl-generated differs across the merged source definitions and was not carried
  - x-logo differs across the merged source definitions and was not carried
  - x-ms-code-generation-settings differs across the merged source definitions and was not carried
  - x-typespec-generated differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Accounts across 14 of this provider''s published API definitions: adp-openapi-original.yml, azure-cognitive-services-openapi.yml, azure-maps-resource-provider-openapi-original.yml, batchservice-openapi-original.yml, datalakeanalyticsaccountmanagementclient-openapi-original.yml, datalakestoreaccountmanagementclient-openapi-original.yml, engagementfabric-openapi-original.yml, microsoft-azureplaywrightservice-management-api-openapi-original.yml…'
servers:
- url: https://management.azure.com
- url: https://api.playwright-int.io
- url: https://sts.mixedreality.azure.com
tags:
- name: Accounts
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AutonomousDevelopmentPlatform/checkNameAvailability:
    post:
      tags:
      - Accounts
      operationId: microsoftAzureAccountsChecknameavailability
      description: Checks that the account name is valid and is not already in use
      x-ms-examples:
        AccountCheckNameAvailability:
          $ref: ./examples/AdpAccountCheckNameAvailability.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK -- Operation to check the account name availability was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityResult'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCheckNameAvailabilityParameters'
        description: The checkNameAvailability parameters.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.AutonomousDevelopmentPlatform/accounts:
    get:
      tags:
      - Accounts
      operationId: microsoftAzureAccountsList
      description: List all ADP accounts available under the subscription
      x-ms-examples:
        List accounts:
          $ref: ./examples/AdpAccountsList.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountList'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AutonomousDevelopmentPlatform/accounts
  : get:
      tags:
      - Accounts
      operationId: microsoftAzureAccountsListbyresourcegroup
      description: List all ADP accounts available under the resource group
      x-ms-examples:
        List accounts by resource group:
          $ref: ./examples/AdpAccountsListByResourceGroup.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountList'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AutonomousDevelopmentPlatform/accounts/{accountName}
  : get:
      tags:
      - Accounts
      operationId: microsoftAzureAccountsGet
      description: Gets the properties of an ADP account
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The ADP account properties were retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Get account:
          $ref: ./examples/AdpAccountGet.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    patch:
      tags:
      - Accounts
      operationId: microsoftAzureAccountsUpdate
      x-ms-long-running-operation: true
      description: Updates the properties of an existing ADP account
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The resource was updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '201':
          description: The resource will be updated asynchronously
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Patch account:
          $ref: ./examples/AdpAccountPatch.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountPatch'
        description: The parameters to provide for the current ADP account
      security:
      - azure_auth:
        - user_impersonation
    put:
      tags:
      - Accounts
      operationId: microsoftAzureAccountsCreateorupdate
      description: Creates or updates an ADP account
      x-ms-long-running-operation: true
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The ADP account was successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '201':
          description: The resource will be updated asynchronously
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Put account:
          $ref: ./examples/AdpAccountPut.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
        description: The parameters to provide for the ADP account
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - Accounts
      operationId: microsoftAzureAccountsDelete
      description: Deletes an ADP account
      x-ms-long-running-operation: true
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The ADP account was successfully deleted
        '202':
          description: The ADP account will be deleted asynchronously
        '204':
          description: The ADP account does not exist
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Delete account:
          $ref: ./examples/AdpAccountDelete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.CognitiveServices/accounts:
    get:
      operationId: Accounts_List
      summary: Microsoft Azure List Cognitive Services Accounts
      description: Returns all the Cognitive Services accounts in a subscription.
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully returned the list of accounts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountListResult'
              examples:
                AccountsList200Example:
                  summary: Default Accounts_List 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - id: abc123
                      name: Example Title
                      type: example_value
                      etag: example_value
                      kind: example_value
                      location: example_value
                      tags: example_value
                    nextLink: example_value
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                AccountsListdefaultExample:
                  summary: Default Accounts_List default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
                      additionalInfo:
                      - type: example_value
                        info: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2:
        - https://management.azure.com/.default
    servers:
    - url: https://management.azure.com
      description: Azure Resource Manager endpoint
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts:
    get:
      operationId: Accounts_ListByResourceGroup
      summary: Microsoft Azure List Accounts by Resource Group
      description: Returns all Cognitive Services accounts in a resource group.
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully returned the list of accounts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountListResult'
              examples:
                AccountsListbyresourcegroup200Example:
                  summary: Default Accounts_ListByResourceGroup 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - id: abc123
                      name: Example Title
                      type: example_value
                      etag: example_value
                      kind: example_value
                      location: example_value
                      tags: example_value
                    nextLink: example_value
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                AccountsListbyresourcegroupdefaultExample:
                  summary: Default Accounts_ListByResourceGroup default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
                      additionalInfo:
                      - type: example_value
                        info: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2:
        - https://management.azure.com/.default
    servers:
    - url: https://management.azure.com
      description: Azure Resource Manager endpoint
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}
  : get:
      operationId: Accounts_Get
      summary: Microsoft Azure Get a Cognitive Services Account
      description: Returns a Cognitive Services account specified by the parameters.
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter_2'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully returned the account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account_2'
              examples:
                AccountsGet200Example:
                  summary: Default Accounts_Get 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    type: example_value
                    etag: example_value
                    kind: example_value
                    sku:
                      name: Example Title
                      tier: Free
                    identity:
                      principalId: '500123'
                      tenantId: '500123'
                      type: None
                      userAssignedIdentities: example_value
                    location: example_value
                    tags: example_value
                    properties:
                      provisioningState: Accepted
                      endpoint: example_value
                      endpoints: example_value
                      capabilities:
                      - {}
                      isMigrated: true
                      dateCreated: example_value
                      customSubDomainName: example_value
                      publicNetworkAccess: Enabled
                      disableLocalAuth: true
                      restrictOutboundNetworkAccess: true
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                AccountsGetdefaultExample:
                  summary: Default Accounts_Get default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
                      additionalInfo:
                      - type: example_value
                        info: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2:
        - https://management.azure.com/.default
    put:
      operationId: Accounts_Create
      summary: Microsoft Azure Create or Update a Cognitive Services Account
      description: Creates a Cognitive Services account. Accounts is a resource group wide resource type. It holds the keys for developer to access intelligent APIs.
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter_2'
      - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account_2'
            examples:
              AccountsCreateRequestExample:
                summary: Default Accounts_Create request
                x-microcks-default: true
                value:
                  id: abc123
                  name: Example Title
                  type: example_value
                  etag: example_value
                  kind: example_value
                  sku:
                    name: Example Title
                    tier: Free
                  identity:
                    principalId: '500123'
                    tenantId: '500123'
                    type: None
                    userAssignedIdentities: example_value
                  location: example_value
                  tags: example_value
                  properties:
                    provisioningState: Accepted
                    endpoint: example_value
                    endpoints: example_value
                    capabilities:
                    - {}
                    isMigrated: true
                    dateCreated: example_value
                    customSubDomainName: example_value
                    publicNetworkAccess: Enabled
                    disableLocalAuth: true
                    restrictOutboundNetworkAccess: true
      responses:
        '200':
          description: Successfully updated the account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account_2'
              examples:
                AccountsCreate200Example:
                  summary: Default Accounts_Create 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    type: example_value
                    etag: example_value
                    kind: example_value
                    sku:
                      name: Example Title
                      tier: Free
                    identity:
                      principalId: '500123'
                      tenantId: '500123'
                      type: None
                      userAssignedIdentities: example_value
                    location: example_value
                    tags: example_value
                    properties:
                      provisioningState: Accepted
                      endpoint: example_value
                      endpoints: example_value
                      capabilities:
                      - {}
                      isMigrated: true
                      dateCreated: example_value
                      customSubDomainName: example_value
                      publicNetworkAccess: Enabled
                      disableLocalAuth: true
                      restrictOutboundNetworkAccess: true
        '201':
          description: Successfully created the account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account_2'
              examples:
                AccountsCreate201Example:
                  summary: Default Accounts_Create 201 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    type: example_value
                    etag: example_value
                    kind: example_value
                    sku:
                      name: Example Title
                      tier: Free
                    identity:
                      principalId: '500123'
                      tenantId: '500123'
                      type: None
                      userAssignedIdentities: example_value
                    location: example_value
                    tags: example_value
                    properties:
                      provisioningState: Accepted
                      endpoint: example_value
                      endpoints: example_value
                      capabilities:
                      - {}
                      isMigrated: true
                      dateCreated: example_value
                      customSubDomainName: example_value
                      publicNetworkAccess: Enabled
                      disableLocalAuth: true
                      restrictOutboundNetworkAccess: true
        '202':
          description: Accepted. The account creation is in progress.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account_2'
              examples:
                AccountsCreate202Example:
                  summary: Default Accounts_Create 202 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    type: example_value
                    etag: example_value
                    kind: example_value
                    sku:
                      name: Example Title
                      tier: Free
                    identity:
                      principalId: '500123'
                      tenantId: '500123'
                      type: None
                      userAssignedIdentities: example_value
                    location: example_value
                    tags: example_value
                    properties:
                      provisioningState: Accepted
                      endpoint: example_value
                      endpoints: example_value
                      capabilities:
                      - {}
                      isMigrated: true
                      dateCreated: example_value
                      customSubDomainName: example_value
                      publicNetworkAccess: Enabled
                      disableLocalAuth: true
                      restrictOutboundNetworkAccess: true
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                AccountsCreatedefaultExample:
                  summary: Default Accounts_Create default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
                      additionalInfo:
                      - type: example_value
                        info: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2:
        - https://management.azure.com/.default
    delete:
      operationId: Accounts_Delete
      summary: Microsoft Azure Delete a Cognitive Services Account
      description: Deletes a Cognitive Services account from the resource group.
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter_2'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully deleted the account.
        '202':
          description: Accepted. The account deletion is in progress.
        '204':
          description: The account does not exist.
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                AccountsDeletedefaultExample:
                  summary: Default Accounts_Delete default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
                      additionalInfo:
                      - type: example_value
                        info: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2:
        - https://management.azure.com/.default
    patch:
      operationId: Accounts_Update
      summary: Microsoft Azure Update a Cognitive Services Account
      description: Updates a Cognitive Services account.
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter_2'
      - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account_2'
            examples:
              AccountsUpdateRequestExample:
                summary: Default Accounts_Update request
                x-microcks-default: true
                value:
                  id: abc123
                  name: Example Title
                  type: example_value
                  etag: example_value
                  kind: example_value
                  sku:
                    name: Example Title
                    tier: Free
                  identity:
                    principalId: '500123'
                    tenantId: '500123'
                    type: None
                    userAssignedIdentities: example_value
                  location: example_value
                  tags: example_value
                  properties:
                    provisioningState: Accepted
                    endpoint: example_value
                    endpoints: example_value
                    capabilities:
                    - {}
                    isMigrated: true
                    dateCreated: example_value
                    customSubDomainName: example_value
                    publicNetworkAccess: Enabled
                    disableLocalAuth: true
                    restrictOutboundNetworkAccess: true
      responses:
        '200':
          description: Successfully updated the account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account_2'
              examples:
                AccountsUpdate200Example:
                  summary: Default Accounts_Update 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    type: example_value
                    etag: example_value
                    kind: example_value
                    sku:
                      name: Example Title
                      tier: Free
                    identity:
                      principalId: '500123'
                      tenantId: '500123'
                      type: None
                      userAssignedIdentities: example_value
                    location: example_value
                    tags: example_value
                    properties:
                      provisioningState: Accepted
                      endpoint: example_value
                      endpoints: example_value
                      capabilities:
                      - {}
                      isMigrated: true
                      dateCreated: example_value
                      customSubDomainName: example_value
                      publicNetworkAccess: Enabled
                      disableLocalAuth: true
                      restrictOutboundNetworkAccess: true
        '202':
          description: Accepted. The account update is in progress.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account_2'
              examples:
                AccountsUpdate202Example:
                  summary: Default Accounts_Update 202 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    type: example_value
                    etag: example_value
                    kind: example_value
                    sku:
                      name: Example Title
                      tier: Free
                    identity:
                      principalId: '500123'
                      tenantId: '500123'
                      type: None
                      userAssignedIdentities: example_value
                    location: example_value
                    tags: example_value
                    properties:
                      provisioningState: Accepted
                      endpoint: example_value
                      endpoints: example_value
                      capabilities:
                      - {}
                      isMigrated: true
                      dateCreated: example_value
                      customSubDomainName: example_value
                      publicNetworkAccess: Enabled
                      disableLocalAuth: true
                      restrictOutboundNetworkAccess: true
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                AccountsUpdatedefaultExample:
                  summary: Default Accounts_Update default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
                      additionalInfo:
                      - type: example_value
                        info: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2:
        - https://management.azure.com/.default
    servers:
    - url: https://management.azure.com
      description: Azure Resource Manager endpoint
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}/listKeys
  : post:
      operationId: Accounts_ListKeys
      summary: Microsoft Azure List Account Keys
      description: Lists the account keys for the specified Cognitive Services account.
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter_2'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully returned the account keys.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeys'
              examples:
                AccountsListkeys200Example:
                  summary: Default Accounts_ListKeys 200 response
                  x-microcks-default: true
                  value:
                    key1: example_value
                    key2: example_value
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                AccountsListkeysdefaultExample:
                  summary: Default Accounts_ListKeys default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
                      additionalInfo:
                      - type: example_value
                        info: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2:
        - https://management.azure.com/.default
    servers:
    - url: https://management.azure.com
      description: Azure Resource Manager endpoint
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}/regenerateKey
  : post:
      operationId: Accounts_RegenerateKey
      summary: Microsoft Azure Regenerate an Account Key
      description: Regenerates the specified account key for the Cognitive Services account.
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter_2'
      - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                keyName:
                  type: string
                  enum:
                  - Key1
                  - Key2
                  description: Key name to regenerate.
              required:
              - keyName
            examples:
              AccountsRegeneratekeyRequestExample:
                summary: Default Accounts_RegenerateKey request
                x-microcks-default: true
                value:
                  keyName: Key1
      responses:
        '200':
          description: Successfully regenerated the key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeys'
              examples:
                AccountsRegeneratekey200Example:
                  summary: Default Accounts_RegenerateKey 200 response
                  x-microcks-default: true
                  value:
                    key1: example_value
                    key2: example_value
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                AccountsRegeneratekeydefaultExample:
                  summary: Default Accounts_RegenerateKey default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - code: example_value
                        message: example_value
                        target: example_value
                      additionalInfo:
                      - type: example_value
                        info: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2:
        - https://management.azure.com/.default
    servers:
    - url: https://management.azure.com
      description: Azure Resource Manager endpoint
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts/{accountName}:
    put:
      tags:
      - Accounts
      description: Create or update a Maps Account. A Maps Account holds the keys which allow access to the Maps REST APIs.
      operationId: microsoftAzureAccountsCreateorupdate
      x-ms-examples:
        Create Gen2 Account:
          $ref: ./examples/CreateAccountGen2.json
        Create Account with Managed Identities:
          $ref: ./examples/CreateAccountManagedIdentity.json
        Create Account with Encryption:
          $ref: ./examples/CreateAccountEncryption.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/AccountNameParameter_3'
      responses:
        '200':
          description: The Account was successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MapsAccount'
        '201':
          description: The Account was successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MapsAccount'
        default:
          description: An error occurred during creating or updating the Account.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MapsAccount'
        description: The new or updated parameters for the Maps Account.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    patch:
      tags:
      - Accounts
      description: Updates a Maps Account. Only a subset of the parameters may be updated after creation, such as Sku, Tags, Properties.
      operationId: microsoftAzureAccountsUpdate
      x-ms-examples:
        Update Account Tags:
          $ref: ./examples/UpdateAccount.json
        Update to Gen2 Account:
          $ref: ./examples/UpdateAccountGen2.json
        Update Account Managed Identities:
          $ref: ./examples/UpdateAccountManagedIdentity.json
        Update Account Encryption:
          $ref: ./examples/UpdateAccountEncryption.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/AccountNameParameter_3'
      responses:
        '200':
          description: The Account was successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MapsAccount'
        default:
          description: An error occurred during creating or updating the Account.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MapsAccountUpdateParameters'
        description: The updated parameters for the Maps Account.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - Accounts
      description: Delete a Maps Account.
      operationId: microsoftAzureAccountsDelete
      x-ms-examples:
        DeleteAccount:
          $ref: ./examples/DeleteAccount.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/AccountNameParameter_3'
      responses:
        '200':
          description: The Account was deleted successfully.
        '204':
          description: The specified Account was not found. Nothing was deleted.
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    get:
      tags:
      - Accounts
      description: Get a Maps Account.
      operationId: microsoftAzureAccountsGet
      x-ms-examples:
        GetAccount:
          $ref: ./examples/GetAccount.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/AccountNameParameter_3'
      responses:
        '200':
          description: The request was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MapsAccount'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts:
    get:
      tags:
      - Accounts
      description: Get all Maps Accounts in a Resource Group
      operationId: microsoftAzureAccountsListbyresourcegroup
      x-ms-examples:
        List Accounts By Resource Group:
          $ref: ./examples/ListAccountsByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The request was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MapsAccounts'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.Maps/accounts:
    get:
      tags:
      - Accounts
      description: Get all Maps Accounts in a Subscription
      operationId: microsoftAzureAccountsListbysubscription
      x-ms-examples:
        List Accounts By Subscription:
          $ref: ./examples/ListAccountsBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The request was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MapsAccounts'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Maps…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts/{accountName}/listSas:
    post:
      tags:
      - Accounts
      description: 'Create and list an account shared access signature token. Use this SAS token for authentication to Azure Maps REST APIs through various Azure Maps SDKs. As prerequisite to create a SAS Token.


        Prerequisites:

        1. Create or have an existing User Assigned Managed Identity in the same Azure region as the account.

        2. Create or update an Azure Maps account with the same Azure region as the User Assigned Managed Identity is placed.'
      operationId: microsoftAzureAccountsListsas
      x-ms-examples:
        List Account Sas:
          $ref: ./examples/AccountListSAS.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/AccountNameParameter_3'
      responses:
        '200':
          description: The request was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MapsAccountSasToken'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountSasParameters'
        description: The updated parameters for the Maps Account.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts/{accountName}/listKeys
  : post:
      tags:
      - Accounts
      description: Get the keys to use with the Maps APIs. A key is used to authenticate and authorize access to the Maps REST APIs. Only one key is needed at a time; two are given to provide seamless key regeneration.
      operationId: microsoftAzureAccountsListkeys
      x-ms-examples:
        List Keys:
          $ref: ./examples/ListKeys.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/AccountNameParameter_3'
      responses:
        '200':
          description: The request was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MapsAccountKeys'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts/{accountName}/regenerateKey
  : post:
      tags:
      - Accounts
      description: Regenerate either the primary or secondary key for use with the Maps APIs. The old key will stop working immediately.
      operationId: microsoftAzureAccountsRegeneratekeys
      x-ms-examples:
        Regenerate Key:
          $ref: ./examples/RegenerateKey.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/AccountNameParameter_3'
      responses:
        '200':
          description: The request was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MapsAccountKeys'
        default:
          description: An unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MapsKeySpecification'
        description: 'Which key to regenerate:  primary or secondary.'
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /supportedimages:
    get:
      tags:
      - Accounts
      x-ms-pageable:
        nextLinkName: odata.nextLink
      operationId: microsoftAzureAccountListsupportedimages
      x-ms-examples:
        Account list node agent skus:
          $ref: ./examples/AccountListSupportedImages.json
      summary: Microsoft Azure Lists All Virtual Machine Images Supported By The Azure Batch…
      x-ms-request-id: request-id
      parameters:
      - name: $filter
        in: query
        required: false
        description: An OData $filter clause. For more information on constructing this filter, see https://docs.microsoft.com/en-us/rest/api/batchservice/odata-filters-in-batch#list-support-images.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: string
      - name: maxresults
        x-ms-client-name: maxResults
        in: query
        required: false
        description: The maximum number of items to return in the response. A maximum of 1000 results will be returned.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: integer
          format: int32
          default: 1000
          maximum: 1000
          minimum: 1
      - name: timeout
        in: query
        required: false
        description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: integer
          format: int32
          default: 30
      - name: client-request-id
        in: header
        required: false
        description: The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
        x-ms-parameter-grouping:
          postfix: Options
        x-ms-client-request-id: true
        schema:
          type: string
          format: uuid
      - name: return-client-request-id
        in: header
        required: false
        description: Whether the server should return the client-request-id in the response.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: boolean
          default: false
      - name: ocp-date
        in: header
        required: false
        description: The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: string
          format: date-time-rfc1123
      - $ref: '#/components/parameters/ApiVersionParameter_2'
      responses:
        '200':
          headers:
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              schema:
                type: string
                format: uuid
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch Account against which the request was made, and the region that Account resides in.
              schema:
                type: string
                format: uuid
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              schema:
                type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              schema:
                type: string
                format: date-time-rfc1123
          description: A response containing the list of supported Virtual Machine Images.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountListSupportedImagesResult'
        default:
          description: The error from the Batch service.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
      description: Needs a more full description created.
      security:
      - azure_auth:
        - user_impersonation
      - api_key: []
  /nodecounts:
    get:
      x-ms-pageable:
        nextLinkName: odata.nextLink
      tags:
      - Accounts
      operationId: microsoftAzureAccountListpoolnodecounts
      description: Gets the number of Compute Nodes in each state, grouped by Pool. Note that the numbers returned may not always be up to date. If you need exact node counts, use a list query.
      x-ms-examples:
        NodeCountsPayload:
          $ref: ./examples/AccountListPoolNodeCounts.json
      parameters:
      - name: $filter
        in: query
        required: false
        description: An OData $filter clause. For more information on constructing this filter, see https://docs.microsoft.com/en-us/rest/api/batchservice/odata-filters-in-batch.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: string
      - name: maxresults
        x-ms-client-name: maxResults
        in: query
        required: false
        description: The maximum number of items to return in the response.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: integer
          format: int32
          default: 10
          maximum: 10
          minimum: 1
      - name: timeout
        in: query
        required: false
        description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: integer
          format: int32
          default: 30
      - name: client-request-id
        in: header
        required: false
        description: The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
        x-ms-parameter-grouping:
          postfix: Options
        x-ms-client-request-id: true
        schema:
          type: string
          format: uuid
      - name: return-client-request-id
        in: header
        required: false
        description: Whether the server should return the client-request-id in the response.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: boolean
          default: false
      - name: ocp-date
        in: header
        required: false
        description: The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.
        x-ms-parameter-grouping:
          postfix: Options
        schema:
          type: string
          format: date-time-rfc1123
      - $ref: '#/components/parameters/ApiVersionParameter_2'
      responses:
        '200':
          headers:
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              schema:
                type: string
                format: uuid
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch Account against which the request was made, and the region that Account resides in.
              schema:
                type: string
                format: uuid
          description: The response contains the number of Compute Nodes in each Compute Node state, grouped by Pool.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PoolNodeCountsListResult'
        default:
          description: The error from the Batch service.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchError'
      summary: Microsoft Azure Get Nodecounts
      security:
      - azure_auth:
        - user_impersonation
      - api_key: []
  /subscriptions/{subscriptionId}/providers/Microsoft.DataLakeAnalytics/accounts:
    get:
      tags:
      - Accounts
      operationId: microsoftAzureAccountsList
      description: Gets the first page of Data Lake Analytics accounts, if any, within the current subscription. This includes a link to the next page, if any.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      - name: $filter
        in: query
        required: false
        description: OData filter. Optional.
        schema:
          type: string
      - name: $top
        in: query
        required: false
        description: The number of items to return. Optional.
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: $skip
        in: query
        required: false
        description: The number of items to skip over before returning elements. Optional.
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: $select
        in: query
        required: false
        description: OData Select statement. Limits the properties on each entry to just those requested, e.g. Categories?$select=CategoryName,Description. Optional.
        schema:
          type: string
      - name: $orderby
        in: query
        required: false
        description: OrderBy clause. One or more comma-separated expressions with an optional "asc" (the default) or "desc" depending on the order you'd like the values sorted, e.g. Categories?$orderby=CategoryName desc. Optional.
        schema:
          type: string
      - name: $count
        in: query
        required: false
        description: The Boolean value of true or false to request a count of the matching resources included with the resources in the response, e.g. Categories?$count=true. Optional.
        schema:
          type: boolean
      - $ref: '#/components/parameters/ApiVersionParameter_3'
      responses:
        '200':
          description: Successfully retrieved the list of Azure Data Lake Analytics accounts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataLakeAnalyticsAccountListResult'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        ? Gets the first page of Data Lake Analytics accounts, if any, within the current subscription. This includes a link to the next page, if any.
        : $ref: ./examples/Accounts_List.json
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/DataLakeAnalyticsAccountBasic'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts:
    get:
      tags:
      - Accounts
      operationId: microsoftAzureAccountsListbyresourcegroup
      description: Gets the first page of Data Lake Analytics accounts, if any, within a specific resource group. This includes a link to the next page, if any.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      - $ref: '#/components/parameters/ResourceGroupNameParameter_2'
      - name: $filter
        in: query
        required: false
        description: OData filter. Optional.
        schema:
          type: string
      - name: $top
        in: query
        required: false
        description: The number of items to return. Optional.
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: $skip
        in: query
        required: false
        description: The number of items to skip over before returning elements. Optional.
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: $select
        in: query
        required: false
        description: OData Select statement. Limits the properties on each entry to just those requested, e.g. Categories?$select=CategoryName,Description. Optional.
        schema:
          type: string
      - name: $orderby
        in: query
        required: false
        description: OrderBy clause. One or more comma-separated expressions with an optional "asc" (the default) or "desc" depending on the order you'd like the values sorted, e.g. Categories?$orderby=CategoryName desc. Optional.
        schema:
          type: string
      - name: $count
        in: query
        required: false
        description: The Boolean value of true or false to request a count of the matching resources included with the resources in the response, e.g. Categories?$count=true. Optional.
        schema:
          type: boolean
      - $ref: '#/components/parameters/ApiVersionParameter_3'
      responses:
        '200':
          description: Successfully retrieved the list of accounts in the specified resource group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataLakeAnalyticsAccountListResult'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        ? Gets the first page of Data Lake Analytics accounts, if any, within a specific resource group. This includes a link to the next page, if any.
        : $ref: ./examples/Accounts_ListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/DataLakeAnalyticsAccountBasic'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}
  : put:
      tags:
      - Accounts
      operationId: microsoftAzureAccountsCreate
      description: Creates the specified Data Lake Analytics account. This supplies the user with computation services for Data Lake Analytics workloads.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      - $ref: '#/components/parameters/ResourceGroupNameParameter_2'
      - $ref: '#/components/parameters/AccountNameParameter_4'
      - $ref: '#/components/parameters/ApiVersionParameter_3'
      responses:
        '200':
          description: Successfully created the specified account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataLakeAnalyticsAccount'
        '201':
          description: Successfully initiated creation of the specified account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataLakeAnalyticsAccount'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        ? Creates the specified Data Lake Analytics account. This supplies the user with computation services for Data Lake Analytics workloads.
        : $ref: ./examples/Accounts_Create.json
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDataLakeAnalyticsAccountParameters'
        description: Parameters supplied to create a new Data Lake Analytics account.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    get:
      tags:
      - Accounts
      operationId: microsoftAzureAccountsGet
      description: Gets details of the specified Data Lake Analytics account.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      - $ref: '#/components/parameters/ResourceGroupNameParameter_2'
      - $ref: '#/components/parameters/AccountNameParameter_4'
      - $ref: '#/components/parameters/ApiVersionParameter_3'
      responses:
        '200':
          description: Successfully retrieved the details of the specified account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataLakeAnalyticsAccount'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Gets details of the specified Data Lake Analytics account.:
          $ref: ./examples/Accounts_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    patch:
      tags:
      - Accounts
      operationId: microsoftAzureAccountsUpdate
      description: Updates the Data Lake Analytics account object specified by the accountName with the contents of the account object.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      - $ref: '#/components/parameters/ResourceGroupNameParameter_2'
      - $ref: '#/components/parameters/AccountNameParameter_4'
      - $ref: '#/components/parameters/ApiVersionParameter_3'
      responses:
        '200':
          description: Successfully updated the specified account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataLakeAnalyticsAccount'
        '201':
          description: Successfully initiated an update of the specified account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataLakeAnalyticsAccount'
        '202':
          description: Successfully initiated an update of the specified account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataLakeAnalyticsAccount'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Updates the Data Lake Analytics account object specified by the accountName with the contents of the account object.:
          $ref: ./examples/Accounts_Update.json
      x-ms-long-running-operation: true
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDataLakeAnalyticsAccountParameters'
        description: Parameters supplied to the update Data Lake Analytics account operation.
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - Accounts
      operationId: microsoftAzureAccountsDelete
      description: Begins the delete process for the Data Lake Analytics account object specified by the account name.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      - $ref: '#/components/parameters/ResourceGroupNameParameter_2'
      - $ref: '#/components/parameters/AccountNameParameter_4'
      - $ref: '#/components/parameters/ApiVersionParameter_3'
      responses:
        '200':
          description: Successfully deleted the specified account.
        '202':
          description: Successfully initiated the deletion of the specified account.
        '204':
          description: The specified account was not found.
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Begins the delete process for the Data Lake Analytics account object specified by the account name.:
          $ref: ./examples/Accounts_Delete.json
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.DataLakeAnalytics/locations/{location}/checkNameAvailability:
    post:
      tags:
      - Accounts
      operationId: microsoftAzureAccountsChecknameavailability
      description: Checks whether the specified account name is available or taken.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      - name: location
        in: path
        required: true
        description: The resource location without whitespace.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter_3'
      responses:
        '200':
          description: Successfully retrieved the Data Lake Analytics account name availability information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameAvailabilityInformation'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Checks whether the specified account name is available or taken:
          $ref: ./examples/Accounts_CheckNameAvailability.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityParameters'
        description: Parameters supplied to check the Data Lake Analytics account name availability.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.DataLakeStore/accounts:
    get:
      tags:
      - Accounts
      operationId: microsoftAzureAccountsList
      description: Lists the Data Lake Store accounts within the subscription. The response includes a link to the next page of results, if any.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter_3'
      - name: $filter
        in: query
        required: false
        description: OData filter. Optional.
        schema:
          type: string
      - name: $top
        in: query
        required: false
        description: The number of items to return. Optional.
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: $skip
        in: query
        required: false
        description: The number of items to skip over before returning elements. Optional.
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: $select
        in: query
        required: false
        description: OData Select statement. Limits the properties on each entry to just those requested, e.g. Categories?$select=CategoryName,Description. Optional.
        schema:
          type: string
      - name: $orderby
        in: query
        required: false
        description: OrderBy clause. One or more comma-separated expressions with an optional "asc" (the default) or "desc" depending on the order you'd like the values sorted, e.g. Categories?$orderby=CategoryName desc. Optional.
        schema:
          type: string
      - name: $count
        in: query
        required: false
        description: The Boolean value of true or false to request a count of the matching resources included with the resources in the response, e.g. Categories?$count=true. Optional.
        schema:
          type: boolean
      - $ref: '#/components/parameters/ApiVersionParameter_4'
      responses:
        '200':
          description: Successfully retrieved the list of accounts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataLakeStoreAccountListResult'
      x-ms-examples:
        Lists the Data Lake Store accounts within the subscription:
          $ref: ./examples/Accounts_List.json
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/DataLakeStoreAccountBasic'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts:
    get:
      tags:
      - Accounts
      operationId: microsoftAzureAccountsListbyresourcegroup
      description: Lists the Data Lake Store accounts within a specific resource group. The response includes a link to the next page of results, if any.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter_3'
      - $ref: '#/components/parameters/ResourceGroupNameParameter_3'
      - name: $filter
        in: query
        required: false
        description: OData filter. Optional.
        schema:
          type: string
      - name: $top
        in: query
        required: false
        description: The number of items to return. Optional.
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: $skip
        in: query
        required: false
        description: The number of items to skip over before returning elements. Optional.
        schema:
          type: integer
          format: int32
          minimum: 1
      - name: $select
        in: query
        required: false
        description: OData Select statement. Limits the properties on each entry to just those requested, e.g. Categories?$select=CategoryName,Description. Optional.
        schema:
          type: string
      - name: $orderby
        in: query
        required: false
        description: OrderBy clause. One or more comma-separated expressions with an optional "asc" (the default) or "desc" depending on the order you'd like the values sorted, e.g. Categories?$orderby=CategoryName desc. Optional.
        schema:
          type: string
      - name: $count
        in: query
        required: false
        description: A Boolean value of true or false to request a count of the matching resources included with the resources in the response, e.g. Categories?$count=true. Optional.
        schema:
          type: boolean
      - $ref: '#/components/parameters/ApiVersionParameter_4'
      responses:
        '200':
          description: Successfully retrieved the list of accounts in the specified resource group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataLakeStoreAccountListResult'
      x-ms-examples:
        Lists the Data Lake Store accounts within a specific resource group:
          $ref: ./examples/Accounts_ListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/DataLakeStoreAccountBasic'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}
  : put:
      tags:
      - Accounts
      operationId: microsoftAzureAccountsCreate
      description: Creates the specified Data Lake Store account.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter_3'
      - $ref: '#/components/parameters/ResourceGroupNameParameter_3'
      - $ref: '#/components/parameters/AccountNameParameter_5'
      - $ref: '#/components/parameters/ApiVersionParameter_4'
      responses:
        '200':
          description: Successfully created the account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataLakeStoreAccount'
        '201':
          description: Successfully initiated creation of the account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataLakeStoreAccount'
      x-ms-examples:
        Creates the specified Data Lake Store account:
          $ref: ./examples/Accounts_Create.json
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDataLakeStoreAccountParameters'
        description: Parameters supplied to create the Data Lake Store account.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    get:
      tags:
      - Accounts
      operationId: microsoftAzureAccountsGet
      description: Gets the specified Data Lake Store account.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter_3'
      - $ref: '#/components/parameters/ResourceGroupNameParameter_3'
      - $ref: '#/components/parameters/AccountNameParameter_5'
      - $ref: '#/components/parameters/ApiVersionParameter_4'
      responses:
        '200':
          description: Successfully retrieved details of the specified account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataLakeStoreAccount'
      x-ms-examples:
        Gets the specified Data Lake Store account:
          $ref: ./examples/Accounts_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    patch:
      tags:
      - Accounts
      operationId: microsoftAzureAccountsUpdate
      description: Updates the specified Data Lake Store account information.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter_3'
      - $ref: '#/components/parameters/ResourceGroupNameParameter_3'
      - $ref: '#/components/parameters/AccountNameParameter_5'
      - $ref: '#/components/parameters/ApiVersionParameter_4'
      responses:
        '200':
          description: Successfully updated the account details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataLakeStoreAccount'
        '201':
          description: Successfully initiated the update of the account details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataLakeStoreAccount'
        '202':
          description: Successfully initiated the update of the account details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataLakeStoreAccount'
      x-ms-examples:
        Updates the specified Data Lake Store account information:
          $ref: ./examples/Accounts_Update.json
      x-ms-long-running-operation: true
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDataLakeStoreAccountParameters'
        description: Parameters supplied to update the Data Lake Store account.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - Accounts
      operationId: microsoftAzureAccountsDelete
      description: Deletes the specified Data Lake Store account.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter_3'
      - $ref: '#/components/parameters/ResourceGroupNameParameter_3'
      - $ref: '#/components/parameters/AccountNameParameter_5'
      - $ref: '#/components/parameters/ApiVersionParameter_4'
      responses:
        '200':
          description: Successfully deleted the specified account.
        '202':
          description: Successfully initiated the deletion of the specified account.
        '204':
          description: The specified account was not found.
      x-ms-examples:
        Deletes the specified Data Lake Store account:
          $ref: ./examples/Accounts_Delete.json
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/enableKeyVault
  : post:
      tags:
      - Accounts
      operationId: microsoftAzureAccountsEnablekeyvault
      description: Attempts to enable a user managed Key Vault for encryption of the specified Data Lake Store account.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter_3'
      - $ref: '#/components/parameters/ResourceGroupNameParameter_3'
      - $ref: '#/components/parameters/AccountNameParameter_5'
      - $ref: '#/components/parameters/ApiVersionParameter_4'
      responses:
        '200':
          description: Successfully enabled the user-managed Key Vault settings used for encrypting this Data Lake Store account.
      x-ms-examples:
        Attempts to enable a user managed Key Vault for encryption of the specified Data Lake Store account:
          $ref: ./examples/Accounts_EnableKeyVault.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.DataLakeStore/locations/{location}/checkNameAvailability:
    post:
      tags:
      - Accounts
      operationId: microsoftAzureAccountsChecknameavailability
      description: Checks whether the specified account name is available or taken.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter_3'
      - name: location
        in: path
        required: true
        description: The resource location without whitespace.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter_4'
      responses:
        '200':
          description: Successfully retrieved the Data Lake Store account name availability information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameAvailabilityInformation_2'
      x-ms-examples:
        Checks whether the specified account name is available or taken:
          $ref: ./examples/Accounts_CheckNameAvailability.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityParameters_2'
        description: Parameters supplied to check the Data Lake Store account name availability.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngagementFabric/Accounts/{accountName}
  : get:
      tags:
      - Accounts
      summary: Microsoft Azure Get The Engagementfabric Account
      operationId: microsoftAzureAccountsGet
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter_4'
      - $ref: '#/components/parameters/ResourceGroupNameParameter_4'
      - $ref: '#/components/parameters/AccountNameParameter_6'
      - $ref: '#/components/parameters/ApiVersionParameter_5'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account_3'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        AccountsGetExample:
          $ref: ./examples/AccountsGetExample.json
      description: Needs a more full description created.
    put:
      tags:
      - Accounts
      summary: Microsoft Azure Create Or Update The Engagementfabric Account
      operationId: microsoftAzureAccountsCreateorupdate
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter_4'
      - $ref: '#/components/parameters/ResourceGroupNameParameter_4'
      - $ref: '#/components/parameters/AccountNameParameter_6'
      - $ref: '#/components/parameters/ApiVersionParameter_5'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account_3'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        AccountsCreateOrUpdateExample:
          $ref: ./examples/AccountsCreateOrUpdateExample.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account_3'
        description: The EngagementFabric account description
        required: true
    delete:
      tags:
      - Accounts
      summary: Microsoft Azure Delete The Engagementfabric Account
      operationId: microsoftAzureAccountsDelete
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter_4'
      - $ref: '#/components/parameters/ResourceGroupNameParameter_4'
      - $ref: '#/components/parameters/AccountNameParameter_6'
      - $ref: '#/components/parameters/ApiVersionParameter_5'
      responses:
        '200':
          description: OK
        '204':
          description: NoContent
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        AccountsDeleteExample:
          $ref: ./examples/AccountsDeleteExample.json
      description: Needs a more full description created.
    patch:
      tags:
      - Accounts
      summary: Microsoft Azure Update Engagementfabric Account
      operationId: microsoftAzureAccountsUpdate
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter_4'
      - $ref: '#/components/parameters/ResourceGroupNameParameter_4'
      - $ref: '#/components/parameters/AccountNameParameter_6'
      - $ref: '#/components/parameters/ApiVersionParameter_5'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account_3'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        AccountsUpdateExample:
          $ref: ./examples/AccountsUpdateExample.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountPatch_2'
        description: The account patch
        required: true
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.EngagementFabric/Accounts:
    get:
      tags:
      - Accounts
      summary: Microsoft Azure List The Engagementfabric Accounts In Given Subscription
      operationId: microsoftAzureAccountsList
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter_4'
      - $ref: '#/components/parameters/ApiVersionParameter_5'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountList_2'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        AccountsListExample:
          $ref: ./examples/AccountsListExample.json
      x-ms-pageable:
        nextLinkName: null
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngagementFabric/Accounts:
    get:
      tags:
      - Accounts
      summary: Microsoft Azure List Engagementfabric Accounts In Given Resource Group
      operationId: microsoftAzureAccountsListbyresourcegroup
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter_4'
      - $ref: '#/components/parameters/ResourceGroupNameParameter_4'
      - $ref: '#/components/parameters/ApiVersionParameter_5'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountList_2'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        AccountsListByResourceGroupExample:
          $ref: ./examples/AccountsListByResourceGroupExample.json
      x-ms-pageable:
        nextLinkName: null
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngagementFabric/Accounts/{accountName}/listKeys
  : post:
      tags:
      - Accounts
      summary: Microsoft Azure List Keys Of The Engagementfabric Account
      operationId: microsoftAzureAccountsListkeys
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter_4'
      - $ref: '#/components/parameters/ResourceGroupNameParameter_4'
      - $ref: '#/components/parameters/AccountNameParameter_6'
      - $ref: '#/components/parameters/ApiVersionParameter_5'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyDescriptionList'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        AccountsListKeysExample:
          $ref: ./examples/AccountsListKeysExample.json
      x-ms-pageable:
        nextLinkName: null
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EngagementFabric/Accounts/{accountName}/regenerateKey
  : post:
      tags:
      - Accounts
      summary: Microsoft Azure Regenerate Key Of The Engagementfabric Account
      operationId: microsoftAzureAccountsRegeneratekey
      parameters:
[...]
