openapi: 3.2.0
info:
  title: Microsoft Azure Transliterate API
  version: '3.0'
  x-refined-note:
  - x-typespec-generated differs across the merged source definitions and was not carried
  description: 'Operations tagged Transliterate across 2 of this provider''s published API definitions: text-translation-openapi-original.yml, translator-text-client-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.cognitive.microsofttranslator.com
tags:
- name: Transliterate
paths:
  /transliterate:
    post:
      operationId: microsoftAzureTransliterate
      summary: Microsoft Azure Transliterate Text
      description: Transliterate Text
      parameters:
      - name: X-ClientTraceId
        in: header
        description: A client-generated GUID to uniquely identify the request.
        required: false
        x-ms-client-name: clientTraceId
        schema:
          type: string
      - $ref: '#/components/parameters/TransliterateParameters.language'
      - $ref: '#/components/parameters/TransliterateParameters.fromScript'
      - $ref: '#/components/parameters/TransliterateParameters.toScript'
      - name: api-version
        in: query
        description: Mandatory API version parameter
        required: true
        x-ms-client-name: apiVersion
        schema:
          type: string
      responses:
        '200':
          description: Response for the transliteration API.
          headers:
            X-RequestId:
              description: Value generated by the service to identify the request. It is used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TransliteratedText'
                x-ms-identifiers: []
        default:
          description: An unexpected error response.
          headers:
            X-RequestId:
              description: Value generated by the service to identify the request. It is used for troubleshooting purposes.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Transliterate Text:
          $ref: ./examples/Transliterate_MaximumSet_Gen.json
        Transliterate Text with minimum properties:
          $ref: ./examples/Transliterate_MinimumSet_Gen.json
      tags:
      - Transliterate
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/InputTextItem'
              x-ms-identifiers: []
        description: Defines the content of the request
        required: true
components:
  schemas:
    InputTextItem:
      type: object
      description: Element containing the text for translation.
      properties:
        text:
          type: string
          description: Text to translate.
      required:
      - text
    TransliteratedText:
      type: object
      description: Transliterated text element.
      properties:
        text:
          type: string
          description: A string which is the result of converting the input string to the output script.
        script:
          type: string
          description: A string specifying the script used in the output.
      required:
      - text
      - script
    ErrorResponse:
      type: object
      description: Representation of the Error Response from Translator Service.
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetails'
          description: Error details.
      required:
      - error
    ErrorDetails:
      type: object
      description: Error details as returned by Translator Service.
      properties:
        code:
          type: integer
          format: int32
          description: Number identifier of the error.
        message:
          type: string
          description: Human readable error description.
      required:
      - code
      - message
    ErrorMessage:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
    TransliterateResult:
      type: array
      description: Example of a successful transliterate request
      items:
        type: object
        properties:
          text:
            type: string
          script:
            type: string
        example:
          text: this is cool
          script: this is very cool
    TransliterateTextInput:
      type: object
      description: 'Text needed for a transliterate request '
      properties:
        text:
          type: string
          maximum: 5000
      example:
        text: Good morning, how are you today?
  parameters:
    TransliterateParameters.language:
      name: language
      in: query
      description: "Specifies the language of the text to convert from one script to another. \nPossible languages are listed in the transliteration scope obtained by querying the service \nfor its supported languages."
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    TransliterateParameters.toScript:
      name: toScript
      in: query
      description: "Specifies the output script. Look up supported languages using the transliteration scope, to find output \nscripts available for the selected combination of input language and input script."
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    TransliterateParameters.fromScript:
      name: fromScript
      in: query
      description: 'Specifies the script used by the input text. Look up supported languages using the transliteration scope,

        to find input scripts available for the selected language.'
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersion:
      name: api-version
      description: Version of the API requested by the client. Value must be **3.0**.
      in: query
      required: true
      schema:
        type: string
        default: '3.0'
  securitySchemes:
    apim_key:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    api_key_all_in_one:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    api_region_all_in_one:
      type: apiKey
      name: Ocp-Apim-Subscription-Region
      in: header
x-refined-from:
- text-translation-openapi-original.yml
- translator-text-client-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
