openapi: 3.2.0
info:
  version: 2023-06-27-preview
  title: Microsoft Azure DNC Orchestrator Instance API
  description: DNC web api provides way to create, get and delete dnc controller
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: OrchestratorInstance
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DelegatedNetwork/orchestrators/{resourceName}
  : get:
      description: Gets details about the orchestrator instance.
      x-ms-examples:
        Get details of a orchestratorInstance:
          $ref: ./examples/getOrchestrator.json
      tags:
      - OrchestratorInstance
      operationId: microsoftAzureOrchestratorinstanceserviceGetdetails
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/resourceNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: OK. The operation was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Orchestrator'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      description: Create a orchestrator instance
      x-ms-examples:
        Create orchestrator instance:
          $ref: ./examples/putOrchestrator.json
      tags:
      - OrchestratorInstance
      operationId: microsoftAzureOrchestratorinstanceserviceCreate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/resourceNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: OK. The operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Orchestrator'
        '201':
          description: InProgress. The operation is still in progress.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Orchestrator'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Orchestrator'
        description: OrchestratorInstance type parameters
        required: true
    delete:
      description: Deletes the Orchestrator Instance
      x-ms-examples:
        Delete Orchestrator Instance:
          $ref: ./examples/deleteOrchestrator.json
      tags:
      - OrchestratorInstance
      operationId: microsoftAzureOrchestratorinstanceserviceDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/resourceNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ForceDeleteParameter'
      responses:
        '200':
          description: OK.
        '202':
          description: Accepted.
        '204':
          description: No Content.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    patch:
      description: Update Orchestrator Instance
      x-ms-examples:
        update Orchestrator Instance:
          $ref: ./examples/patchOrchestrator.json
      tags:
      - OrchestratorInstance
      operationId: microsoftAzureOrchestratorinstanceservicePatch
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/resourceNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: OK. The operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Orchestrator'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrchestratorResourceUpdateParameters'
        description: OrchestratorInstance update parameters
        required: true
components:
  schemas:
    OrchestratorResourceProperties:
      description: Properties of orchestrator
      type: object
      properties:
        resourceGuid:
          type: string
          readOnly: true
          description: Resource guid.
        provisioningState:
          type: string
          enum:
          - Deleting
          - Succeeded
          - Failed
          - Provisioning
          x-ms-enum:
            name: OrchestratorInstanceState
            modelAsString: true
          readOnly: true
          description: The current state of orchestratorInstance resource.
        orchestratorAppId:
          description: AAD ID used with apiserver
          type: string
        orchestratorTenantId:
          description: TenantID of server App ID
          type: string
        clusterRootCA:
          description: RootCA certificate of kubernetes cluster base64 encoded
          type: string
        apiServerEndpoint:
          description: K8s APIServer url. Either one of apiServerEndpoint or privateLinkResourceId can be specified
          type: string
        privateLinkResourceId:
          description: private link arm resource id. Either one of apiServerEndpoint or privateLinkResourceId can be specified
          type: string
        controllerDetails:
          $ref: ./common-types.json#/definitions/controllerDetails
          description: Properties of the controller.
      required:
      - controllerDetails
    Orchestrator:
      description: Represents an instance of a orchestrator.
      type: object
      allOf:
      - $ref: '#/components/schemas/OrchestratorResource'
      properties:
        properties:
          $ref: '#/components/schemas/OrchestratorResourceProperties'
          description: Properties of the provision operation request.
    OrchestratorIdentity:
      properties:
        principalId:
          readOnly: true
          type: string
          description: The principal id of the system assigned identity which is used by orchestrator.
        tenantId:
          readOnly: true
          type: string
          description: The tenant id of the system assigned identity which is used by orchestrator.
        type:
          type: string
          description: The type of identity used for orchestrator cluster. Type 'SystemAssigned' will use an implicitly created identity orchestrator clusters
          enum:
          - SystemAssigned
          - None
          x-ms-enum:
            name: ResourceIdentityType
            modelAsString: false
    OrchestratorResourceUpdateParameters:
      description: Parameters for updating a resource.
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: The resource tags.
    OrchestratorResource:
      description: Represents an instance of a resource.
      type: object
      properties:
        id:
          type: string
          readOnly: true
          description: An identifier that represents the resource.
        name:
          type: string
          readOnly: true
          description: The name of the resource.
        type:
          type: string
          readOnly: true
          description: The type of resource.
        location:
          type: string
          description: Location of the resource.
        kind:
          type: string
          description: The kind of workbook. Choices are user and shared.
          enum:
          - Kubernetes
          x-ms-enum:
            name: OrchestratorKind
            modelAsString: true
        identity:
          $ref: '#/components/schemas/OrchestratorIdentity'
          description: The identity of the orchestrator
        tags:
          type: object
          additionalProperties:
            type: string
          description: The resource tags.
      required:
      - kind
      x-ms-azure-resource: true
  parameters:
    resourceNameParameter:
      name: resourceName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The name of the resource. It must be a minimum of 3 characters, and a maximum of 63.
      schema:
        type: string
        maxLength: 63
        minLength: 3
        pattern: ^[a-z][a-z0-9]*$
    ForceDeleteParameter:
      name: forceDelete
      in: query
      required: false
      description: Force delete resource
      x-ms-parameter-location: method
      schema:
        type: boolean
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
