openapi: 3.2.0
info:
  version: 2022-09-30-preview
  title: Microsoft Azure RecoveryServicesBackupClient Private…
  x-ms-code-generation-settings:
    internalConstructors: false
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: PrivateEndpoint
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/privateEndpointConnections/{privateEndpointConnectionName}/operationsStatus/{operationId}
  : get:
      tags:
      - PrivateEndpoint
      summary: Microsoft Azure Gets The Operation Status For A Private Endpoint Connection
      operationId: microsoftAzurePrivateendpointGetoperationstatus
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/VaultName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: privateEndpointConnectionName
        in: path
        description: The name of the private endpoint connection.
        required: true
        schema:
          type: string
      - name: operationId
        in: path
        description: Operation id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewErrorResponse'
      x-ms-examples:
        Get OperationStatus:
          $ref: ./examples/PrivateEndpointConnection/GetPrivateEndpointConnectionOperationStatus.json
      description: Needs a more full description created.
components:
  schemas:
    OperationStatus:
      description: Operation status.
      type: object
      properties:
        id:
          description: ID of the operation.
          type: string
        name:
          description: Name of the operation.
          type: string
        status:
          description: Operation status.
          enum:
          - Invalid
          - InProgress
          - Succeeded
          - Failed
          - Canceled
          type: string
          x-ms-enum:
            name: OperationStatusValues
            modelAsString: true
        startTime:
          format: date-time
          description: 'Operation start time. Format: ISO-8601.'
          type: string
        endTime:
          format: date-time
          description: 'Operation end time. Format: ISO-8601.'
          type: string
        error:
          $ref: '#/components/schemas/OperationStatusError'
          description: Error information related to this operation.
        properties:
          $ref: '#/components/schemas/OperationStatusExtendedInfo'
          description: Additional information associated with this operation.
    NewErrorResponse:
      properties:
        error:
          type: object
          description: The error object.
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                $ref: '#/components/schemas/NewErrorResponse'
              x-ms-identifiers:
              - /error/code
              description: The error details.
            additionalInfo:
              readOnly: true
              type: array
              items:
                $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorAdditionalInfo
              x-ms-identifiers: []
              description: The error additional info.
      description: The resource management error response.
    OperationStatusExtendedInfo:
      description: Base class for additional information of operation status.
      required:
      - objectType
      type: object
      properties:
        objectType:
          description: This property will be used as the discriminator for deciding the specific types in the polymorphic chain of types.
          type: string
      discriminator:
        propertyName: objectType
    OperationStatusError:
      description: Error information associated with operation status call.
      type: object
      properties:
        code:
          description: Error code of the operation failure.
          type: string
        message:
          description: Error message displayed if the operation failure.
          type: string
  parameters:
    ResourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group where the recovery services vault is present.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionId:
      name: subscriptionId
      in: path
      description: The subscription Id.
      required: true
      schema:
        type: string
    ApiVersion:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
    VaultName:
      name: vaultName
      in: path
      description: The name of the recovery services vault.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account.
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
