openapi: 3.2.0
info:
  title: Microsoft Azure AttestationManagementClient Attestation…
  description: Various APIs for managing resources in attestation service. This primarily encompasses per-provider management.
  version: 2021-06-01-preview
servers:
- url: https://management.azure.com
tags:
- name: AttestationProviders
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Attestation/attestationProviders/{providerName}
  : get:
      tags:
      - AttestationProviders
      operationId: microsoftAzureAttestationprovidersGet
      description: Get the status of Attestation Provider.
      x-ms-examples:
        AttestationProviders_Get:
          $ref: ./examples/Get_AttestationProvider.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - name: providerName
        in: path
        required: true
        description: Name of the attestation provider.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: The status of the specified attestation provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttestationProvider'
        default:
          description: Error result from Attestation service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - AttestationProviders
      operationId: microsoftAzureAttestationprovidersCreate
      description: Creates or updates an Attestation Provider.
      x-ms-examples:
        AttestationProviders_Create:
          $ref: ./examples/Create_AttestationProvider.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - name: providerName
        in: path
        required: true
        description: Name of the attestation provider.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Created or updated attestation service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttestationProvider'
        '201':
          description: Created or updated attestation service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttestationProvider'
        default:
          description: Error result from Attestation service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttestationServiceCreationParams'
        description: Client supplied parameters.
        required: true
    patch:
      tags:
      - AttestationProviders
      operationId: microsoftAzureAttestationprovidersUpdate
      description: Updates the Attestation Provider.
      x-ms-examples:
        AttestationProviders_Update:
          $ref: ./examples/Update_AttestationProvider.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - name: providerName
        in: path
        required: true
        description: Name of the attestation provider.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Updated attestation service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttestationProvider'
        default:
          description: Error result from Attestation service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttestationServicePatchParams'
        description: Client supplied parameters.
        required: true
    delete:
      tags:
      - AttestationProviders
      operationId: microsoftAzureAttestationprovidersDelete
      description: Delete Attestation Service.
      x-ms-examples:
        AttestationProviders_Delete:
          $ref: ./examples/Delete_AttestationProvider.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - name: providerName
        in: path
        required: true
        description: Name of the attestation service
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Resource exists and was deleted successfully
        '202':
          description: Request accepted for deletion of attestation service
        '204':
          description: Resource does not exist
        default:
          description: Error result from Attestation service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/providers/Microsoft.Attestation/attestationProviders:
    get:
      tags:
      - AttestationProviders
      operationId: microsoftAzureAttestationprovidersList
      description: Returns a list of attestation providers in a subscription.
      x-ms-examples:
        AttestationProviders_List:
          $ref: ./examples/Get_AttestationProvidersList.json
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttestationProviderListResult'
        default:
          description: Attestation service error result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Attestation/attestationProviders:
    get:
      tags:
      - AttestationProviders
      operationId: microsoftAzureAttestationprovidersListbyresourcegroup
      description: Returns attestation providers list in a resource group.
      x-ms-examples:
        AttestationProviders_ListByResourceGroup:
          $ref: ./examples/Get_AttestationProvidersListByResourceGroup.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttestationProviderListResult'
        default:
          description: Attestation service error result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/providers/Microsoft.Attestation/defaultProviders:
    get:
      tags:
      - AttestationProviders
      operationId: microsoftAzureAttestationprovidersListdefault
      description: Get the default provider
      x-ms-examples:
        AttestationProviders_GetDefault:
          $ref: ./examples/Get_DefaultProviders.json
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Retrieved information about the default provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttestationProviderListResult'
        default:
          description: Attestation service error result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
  /subscriptions/{subscriptionId}/providers/Microsoft.Attestation/locations/{location}/defaultProvider:
    get:
      tags:
      - AttestationProviders
      operationId: microsoftAzureAttestationprovidersGetdefaultbylocation
      description: Get the default provider by location.
      x-ms-examples:
        AttestationProviders_GetDefaultWithLocation:
          $ref: ./examples/Get_DefaultProviderByLocation.json
      parameters:
      - name: location
        in: path
        required: true
        description: The location of the default provider.
        schema:
          type: string
          minLength: 1
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Retrieved information about the default provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttestationProvider'
        default:
          description: Attestation service error result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
components:
  schemas:
    CloudError:
      x-ms-external: true
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
      description: An error response from Attestation.
    PublicNetworkAccessType:
      type: string
      description: The public network access type for API calls to the Attestation Provider.
      default: Enabled
      enum:
      - Enabled
      - Disabled
      x-ms-enum:
        name: PublicNetworkAccessType
        modelAsString: true
        values:
        - value: Enabled
          description: Enables public network connectivity to the Attestation Provider REST APIs.
        - value: Disabled
          description: Disables public network connectivity to the Attestation Provider REST APIs.
    AttestationProviderListResult:
      description: Attestation Providers List.
      properties:
        systemData:
          readOnly: true
          description: The system metadata relating to this resource
          $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/systemData
        value:
          type: array
          description: Attestation Provider array.
          items:
            $ref: '#/components/schemas/AttestationProvider'
    AttestationProvider:
      description: Attestation service response message.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource
      properties:
        systemData:
          readOnly: true
          description: The system metadata relating to this resource
          $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/systemData
        properties:
          type: object
          $ref: '#/components/schemas/StatusResult'
          description: Describes Attestation service status.
          x-ms-client-flatten: true
    AttestationServiceCreationParams:
      description: Parameters for creating an attestation provider
      required:
      - location
      - properties
      x-ms-azure-resource: true
      properties:
        location:
          type: string
          description: The supported Azure location where the attestation provider should be created.
        tags:
          type: object
          additionalProperties:
            type: string
          description: The tags that will be assigned to the attestation provider.
        properties:
          $ref: '#/components/schemas/AttestationServiceCreationSpecificParams'
          description: Properties of the attestation provider
    StatusResult:
      type: object
      description: Status of attestation service.
      properties:
        trustModel:
          type: string
          description: Trust model for the attestation provider.
        status:
          type: string
          description: Status of attestation service.
          enum:
          - Ready
          - NotReady
          - Error
          x-ms-enum:
            name: AttestationServiceStatus
            modelAsString: true
        attestUri:
          type: string
          description: Gets the uri of attestation service
        publicNetworkAccess:
          description: Controls whether traffic from the public network is allowed to access the Attestation Provider APIs.
          $ref: '#/components/schemas/PublicNetworkAccessType'
        privateEndpointConnections:
          readOnly: true
          type: array
          items:
            $ref: ../../../../../common-types/resource-management/v1/privatelinks.json#/definitions/PrivateEndpointConnection
          description: List of private endpoint connections associated with the attestation provider.
    CloudErrorBody:
      x-ms-external: true
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for displaying in a user interface.
      description: An error response from Attestation.
    AttestationServicePatchSpecificParams:
      type: object
      description: Client supplied parameters used to patch an existing attestation provider.
      properties:
        publicNetworkAccess:
          description: Controls whether traffic from the public network is allowed to access the Attestation Provider APIs.
          $ref: '#/components/schemas/PublicNetworkAccessType'
    AttestationServicePatchParams:
      description: Parameters for patching an attestation provider
      x-ms-azure-resource: true
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: The tags that will be assigned to the attestation provider.
        properties:
          $ref: '#/components/schemas/AttestationServicePatchSpecificParams'
          description: Properties of the attestation provider
    AttestationServiceCreationSpecificParams:
      description: Client supplied parameters used to create a new attestation provider.
      properties:
        publicNetworkAccess:
          description: Controls whether traffic from the public network is allowed to access the Attestation Provider APIs.
          $ref: '#/components/schemas/PublicNetworkAccessType'
        policySigningCertificates:
          description: JSON Web Key Set defining a set of X.509 Certificates that will represent the parent certificate for the signing certificate used for policy operations
          $ref: ../../../../../common-types/rfcs/rfc7517.json#/definitions/JSONWebKeySet
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client API version.  Current version is 2021-06-01-preview
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
