openapi: 3.2.0
info:
  title: Microsoft Azure Azure Monitor Data Collection Rule…
  description: Provides operations for working with Azure Monitor data collection rule associations
  version: 2021-09-01-preview
  x-ms-code-generation-settings:
    name: MonitorManagementClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: DataCollectionRuleAssociations
paths:
  /{resourceUri}/providers/Microsoft.Insights/dataCollectionRuleAssociations:
    get:
      tags:
      - DataCollectionRuleAssociations
      summary: Microsoft Azure Lists Associations For The Specified Resource
      operationId: microsoftAzureDatacollectionruleassociationsListbyresource
      parameters:
      - $ref: '#/components/parameters/ResourceUriParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Request completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataCollectionRuleAssociationProxyOnlyResourceListResult'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./dataCollectionRules_API.json#/definitions/ErrorResponseCommonV2
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List associations for specified resource:
          $ref: ./examples/DataCollectionRuleAssociationsListByResource.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/dataCollectionRules/{dataCollectionRuleName}/associations
  : get:
      tags:
      - DataCollectionRuleAssociations
      summary: Microsoft Azure Lists Associations For The Specified Data Collection Rule
      operationId: microsoftAzureDatacollectionruleassociationsListbyrule
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/DataCollectionRuleNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Request completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataCollectionRuleAssociationProxyOnlyResourceListResult'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./dataCollectionRules_API.json#/definitions/ErrorResponseCommonV2
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List associations for specified data collection rule:
          $ref: ./examples/DataCollectionRuleAssociationsListByRule.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/dataCollectionEndpoints/{dataCollectionEndpointName}/associations
  : get:
      tags:
      - DataCollectionRuleAssociations
      summary: Microsoft Azure Lists Associations For The Specified Data Collection Endpoint
      operationId: microsoftAzureDatacollectionruleassociationsListbydatacollectionendpoint
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/DataCollectionEndpointNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Request completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataCollectionRuleAssociationProxyOnlyResourceListResult'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./dataCollectionRules_API.json#/definitions/ErrorResponseCommonV2
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List associations for specified data collection endpoint:
          $ref: ./examples/DataCollectionRuleAssociationsListByDataCollectionEndpoint.json
      description: Needs a more full description created.
  /{resourceUri}/providers/Microsoft.Insights/dataCollectionRuleAssociations/{associationName}:
    get:
      tags:
      - DataCollectionRuleAssociations
      summary: Microsoft Azure Returns The Specified Association
      operationId: microsoftAzureDatacollectionruleassociationsGet
      parameters:
      - $ref: '#/components/parameters/ResourceUriParameter'
      - $ref: '#/components/parameters/AssociationNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Request completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataCollectionRuleAssociationProxyOnlyResource'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./dataCollectionRules_API.json#/definitions/ErrorResponseCommonV2
      x-ms-examples:
        Get association:
          $ref: ./examples/DataCollectionRuleAssociationsGet.json
      description: Needs a more full description created.
    put:
      tags:
      - DataCollectionRuleAssociations
      summary: Microsoft Azure Creates Or Updates An Association
      operationId: microsoftAzureDatacollectionruleassociationsCreate
      parameters:
      - $ref: '#/components/parameters/ResourceUriParameter'
      - $ref: '#/components/parameters/AssociationNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Association was successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataCollectionRuleAssociationProxyOnlyResource'
        '201':
          description: Association was successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataCollectionRuleAssociationProxyOnlyResource'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./dataCollectionRules_API.json#/definitions/ErrorResponseCommonV2
      x-ms-examples:
        Create or update association:
          $ref: ./examples/DataCollectionRuleAssociationsCreate.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataCollectionRuleAssociationProxyOnlyResource'
        description: The payload
    delete:
      tags:
      - DataCollectionRuleAssociations
      summary: Microsoft Azure Deletes An Association
      operationId: microsoftAzureDatacollectionruleassociationsDelete
      parameters:
      - $ref: '#/components/parameters/ResourceUriParameter'
      - $ref: '#/components/parameters/AssociationNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Association was successfully deleted
        '204':
          description: Association did not exist
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./dataCollectionRules_API.json#/definitions/ErrorResponseCommonV2
      x-ms-examples:
        Delete association:
          $ref: ./examples/DataCollectionRuleAssociationsDelete.json
      description: Needs a more full description created.
components:
  parameters:
    DataCollectionRuleNameParameter:
      in: path
      name: dataCollectionRuleName
      description: The name of the data collection rule. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    AssociationNameParameter:
      in: path
      name: associationName
      description: The name of the association. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    DataCollectionEndpointNameParameter:
      in: path
      name: dataCollectionEndpointName
      description: The name of the data collection endpoint. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceUriParameter:
      in: path
      name: resourceUri
      description: The identifier of the resource.
      required: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
        minLength: 1
  schemas:
    DataCollectionRuleAssociationProxyOnlyResource:
      description: Definition of generic ARM proxy resource.
      type: object
      properties:
        properties:
          description: Resource properties.
          allOf:
          - $ref: '#/components/schemas/DataCollectionRuleAssociation'
          x-ms-client-flatten: true
        id:
          description: Fully qualified ID of the resource.
          type: string
          readOnly: true
          example: /subscriptions/703362b3-f278-4e4b-9179-c76eaf41ffc2/resourceGroups/myResourceGroup/providers/Microsoft.Insights/dataCollectionRules/myCollectionRule
          x-ms-mutability:
          - read
        name:
          description: The name of the resource.
          type: string
          readOnly: true
          example: myCollectionRule
          x-ms-mutability:
          - read
        type:
          description: The type of the resource.
          type: string
          readOnly: true
          example: Microsoft.Insights/dataCollectionRules
          x-ms-mutability:
          - read
        etag:
          description: Resource entity tag (ETag).
          type: string
          readOnly: true
          x-ms-mutability:
          - read
        systemData:
          description: Metadata pertaining to creation and last modification of the resource.
          allOf:
          - $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          readOnly: true
          x-ms-mutability:
          - read
      x-ms-azure-resource: true
    Metadata:
      description: Metadata about the resource
      type: object
      properties:
        provisionedBy:
          description: Azure offering managing this resource on-behalf-of customer.
          type: string
          readOnly: true
          example: Azure Security Center
          x-ms-mutability:
          - read
    DataCollectionRuleAssociation:
      description: Definition of association of a data collection rule with a monitored Azure resource.
      type: object
      properties:
        description:
          description: Description of the association.
          type: string
        dataCollectionRuleId:
          description: The resource ID of the data collection rule that is to be associated.
          type: string
          example: /subscriptions/703362b3-f278-4e4b-9179-c76eaf41ffc2/resourceGroups/myResourceGroup/providers/Microsoft.Insights/dataCollectionRules/myCollectionRule
        dataCollectionEndpointId:
          description: The resource ID of the data collection endpoint that is to be associated.
          type: string
          example: /subscriptions/703362b3-f278-4e4b-9179-c76eaf41ffc2/resourceGroups/myResourceGroup/providers/Microsoft.Insights/dataCollectionEndpoints/myCollectionEndpoint
        provisioningState:
          description: The resource provisioning state.
          enum:
          - Creating
          - Updating
          - Deleting
          - Succeeded
          - Failed
          type: string
          readOnly: true
          example: Creating
          x-ms-enum:
            name: KnownDataCollectionRuleAssociationProvisioningState
            modelAsString: true
          x-ms-mutability:
          - read
        metadata:
          description: Metadata about the resource
          allOf:
          - $ref: '#/components/schemas/Metadata'
          readOnly: true
          x-ms-mutability:
          - read
    DataCollectionRuleAssociationProxyOnlyResourceListResult:
      description: A pageable list of resources.
      required:
      - value
      type: object
      properties:
        value:
          description: A list of resources.
          type: array
          items:
            $ref: '#/components/schemas/DataCollectionRuleAssociationProxyOnlyResource'
        nextLink:
          description: The URL to use for getting the next set of results.
          type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
