openapi: 3.2.0
info:
  version: 2019-09-01-preview
  title: Microsoft Azure PeeringManagementClient Peering Service…
  description: APIs to manage Peering resources through the Azure Resource Manager.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: PeeringServiceProviders
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Peering/peeringServiceProviders:
    get:
      tags:
      - PeeringServiceProviders
      description: Lists all of the available peering service locations for the specified kind of peering.
      operationId: microsoftAzurePeeringserviceprovidersList
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeeringServiceProviderListResult'
        default:
          description: Error response describing why the operation has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        List peering service providers:
          $ref: ./examples/ListPeeringServiceProviders.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Peering…
components:
  schemas:
    PeeringServiceProvider:
      description: PeeringService provider
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/PeeringServiceProviderProperties'
          description: The properties that define a peering service provider.
          x-ms-client-flatten: true
    Resource:
      description: The ARM resource class.
      type: object
      properties:
        name:
          description: The name of the resource.
          type: string
          readOnly: true
        id:
          description: The ID of the resource.
          type: string
          readOnly: true
        type:
          description: The type of the resource.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    PeeringServiceProviderListResult:
      description: The paginated list of peering service providers.
      type: object
      properties:
        value:
          description: The list of peering service providers.
          type: array
          items:
            $ref: '#/components/schemas/PeeringServiceProvider'
        nextLink:
          description: The link to fetch the next page of peering service providers.
          type: string
    PeeringServiceProviderProperties:
      description: The properties that define connectivity to the Peering Service Provider.
      type: object
      properties:
        serviceProviderName:
          description: The name of the service provider.
          type: string
    ErrorResponse:
      description: The error response that indicates why an operation has failed.
      type: object
      properties:
        code:
          description: The error code.
          type: string
          readOnly: true
        message:
          description: The error message.
          type: string
          readOnly: true
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: The client API version.
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The Azure subscription ID.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
