openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft.IoTOperationsMQ management…
  version: 2023-10-04-preview
  description: Microsoft.IoTOperationsMQ Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: MqttBridgeTopicMap
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTOperationsMQ/mq/{mqName}/mqttBridgeConnector/{mqttBridgeConnectorName}/topicMap
  : get:
      operationId: microsoftAzureMqttbridgetopicmapListbymqttbridgeconnectorresource
      tags:
      - MqttBridgeTopicMap
      description: List MqttBridgeTopicMapResource resources by MqttBridgeConnectorResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: mqName
        in: path
        description: Name of MQ resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: mqttBridgeConnectorName
        in: path
        description: Name of MQ mqttBridgeConnector resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MqttBridgeTopicMapResourceListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        MqttBridgeTopicMap_ListByMqttBridgeConnectorResource:
          $ref: ./examples/MqttBridgeTopicMap_ListByMqttBridgeConnectorResource_MaximumSet_Gen.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTOperationsMQ/mq/{mqName}/mqttBridgeConnector/{mqttBridgeConnectorName}/topicMap/{topicMapName}
  : get:
      operationId: microsoftAzureMqttbridgetopicmapGet
      tags:
      - MqttBridgeTopicMap
      description: Get a MqttBridgeTopicMapResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: mqName
        in: path
        description: Name of MQ resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: mqttBridgeConnectorName
        in: path
        description: Name of MQ mqttBridgeConnector resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: topicMapName
        in: path
        description: Name of MQ mqttBridgeTopicMap resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MqttBridgeTopicMapResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        MqttBridgeTopicMap_Get:
          $ref: ./examples/MqttBridgeTopicMap_Get_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      operationId: microsoftAzureMqttbridgetopicmapCreateorupdate
      tags:
      - MqttBridgeTopicMap
      description: Create a MqttBridgeTopicMapResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: mqName
        in: path
        description: Name of MQ resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: mqttBridgeConnectorName
        in: path
        description: Name of MQ mqttBridgeConnector resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: topicMapName
        in: path
        description: Name of MQ mqttBridgeTopicMap resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Resource 'MqttBridgeTopicMapResource' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MqttBridgeTopicMapResource'
        '201':
          description: Resource 'MqttBridgeTopicMapResource' create operation succeeded
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MqttBridgeTopicMapResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        MqttBridgeTopicMap_CreateOrUpdate:
          $ref: ./examples/MqttBridgeTopicMap_CreateOrUpdate_MaximumSet_Gen.json
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MqttBridgeTopicMapResource'
        description: Resource create parameters.
        required: true
    patch:
      operationId: microsoftAzureMqttbridgetopicmapUpdate
      tags:
      - MqttBridgeTopicMap
      description: Update a MqttBridgeTopicMapResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: mqName
        in: path
        description: Name of MQ resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: mqttBridgeConnectorName
        in: path
        description: Name of MQ mqttBridgeConnector resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: topicMapName
        in: path
        description: Name of MQ mqttBridgeTopicMap resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MqttBridgeTopicMapResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        MqttBridgeTopicMap_Update:
          $ref: ./examples/MqttBridgeTopicMap_Update_MaximumSet_Gen.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MqttBridgeTopicMapResourceUpdate'
        description: The resource properties to be updated.
        required: true
    delete:
      operationId: microsoftAzureMqttbridgetopicmapDelete
      tags:
      - MqttBridgeTopicMap
      description: Delete a MqttBridgeTopicMapResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: mqName
        in: path
        description: Name of MQ resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: mqttBridgeConnectorName
        in: path
        description: Name of MQ mqttBridgeConnector resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: topicMapName
        in: path
        description: Name of MQ mqttBridgeTopicMap resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        MqttBridgeTopicMap_Delete:
          $ref: ./examples/MqttBridgeTopicMap_Delete_MaximumSet_Gen.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    ProvisioningState:
      type: string
      description: The enum defining status of resource.
      enum:
      - Succeeded
      - Failed
      - Canceled
      - Provisioning
      - Updating
      - Deleting
      - Accepted
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: Succeeded
          value: Succeeded
          description: Resource has been created.
        - name: Failed
          value: Failed
          description: Resource creation failed.
        - name: Canceled
          value: Canceled
          description: Resource creation was canceled.
        - name: Provisioning
          value: Provisioning
          description: Resource is getting provisioned.
        - name: Updating
          value: Updating
          description: Resource is Updating.
        - name: Deleting
          value: Deleting
          description: Resource is Deleting.
        - name: Accepted
          value: Accepted
          description: Resource has been Accepted.
    MqttBridgeTopicMapResourceListResult:
      type: object
      description: The response of a MqttBridgeTopicMapResource list operation.
      properties:
        value:
          type: array
          description: The MqttBridgeTopicMapResource items on this page
          items:
            $ref: '#/components/schemas/MqttBridgeTopicMapResource'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    ExtendedLocationType:
      type: string
      description: The enum defining type of ExtendedLocation accepted.
      enum:
      - CustomLocation
      x-ms-enum:
        name: ExtendedLocationType
        modelAsString: true
        values:
        - name: CustomLocation
          value: CustomLocation
          description: CustomLocation type
    MqttBridgeRoutes:
      type: object
      description: MqttBridgeTopicMap route properties
      properties:
        direction:
          $ref: '#/components/schemas/MqttBridgeRouteDirection'
          description: Direction of the route.
        name:
          type: string
          description: Name of the route.
        qos:
          type: integer
          format: int32
          description: Qos for MQTT connection.
          default: 1
          minimum: 0
          maximum: 2
        sharedSubscription:
          $ref: '#/components/schemas/MqttBridgeRouteSharedSubscription'
          description: Shared subscription topic details.
        source:
          type: string
          description: Source topic of the route.
        target:
          type: string
          description: Target topic of the route. Ignore if same as source
      required:
      - direction
      - name
      - source
    MqttBridgeRouteSharedSubscription:
      type: object
      description: MqttBridgeRoute Shared subscription properties
      properties:
        groupMinimumShareNumber:
          type: integer
          format: int32
          description: The group shared subscription minimum share number.
          minimum: 0
          maximum: 255
        groupName:
          type: string
          description: The group name for Shared subscription.
      required:
      - groupMinimumShareNumber
      - groupName
    MqttBridgeTopicMapProperties:
      type: object
      description: MqttBridgeTopicMap Properties
      properties:
        mqttBridgeConnectorRef:
          type: string
          description: The MqttBridgeConnector CRD it refers to.
        routes:
          type: array
          description: The route details for MqttBridge connector.
          items:
            $ref: '#/components/schemas/MqttBridgeRoutes'
          x-ms-identifiers: []
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The status of the last operation.
          readOnly: true
      required:
      - mqttBridgeConnectorRef
    MqttBridgeTopicMapResourceUpdateProperties:
      type: object
      description: The updatable properties of the MqttBridgeTopicMapResource.
      properties:
        mqttBridgeConnectorRef:
          type: string
          description: The MqttBridgeConnector CRD it refers to.
        routes:
          type: array
          description: The route details for MqttBridge connector.
          items:
            $ref: '#/components/schemas/MqttBridgeRoutes'
          x-ms-identifiers: []
    MqttBridgeTopicMapResource:
      type: object
      description: MQ mqttBridgeTopicMap resource
      properties:
        properties:
          $ref: '#/components/schemas/MqttBridgeTopicMapProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
        extendedLocation:
          $ref: '#/components/schemas/ExtendedLocationProperty'
          description: Extended Location
          x-ms-mutability:
          - read
          - create
      required:
      - extendedLocation
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
    ExtendedLocationProperty:
      type: object
      description: ExtendedLocation properties
      properties:
        name:
          type: string
          description: The name of the extended location.
        type:
          $ref: '#/components/schemas/ExtendedLocationType'
          description: Type of ExtendedLocation.
      required:
      - name
      - type
    MqttBridgeRouteDirection:
      type: string
      description: MqttBridgeRoute direction properties
      enum:
      - remote-to-local
      - local-to-remote
      x-ms-enum:
        name: MqttBridgeRouteDirection
        modelAsString: true
        values:
        - name: RemoteToLocal
          value: remote-to-local
          description: Remote to Local Broker.
        - name: LocalToRemote
          value: local-to-remote
          description: Local to Remote Broker.
    MqttBridgeTopicMapResourceUpdate:
      type: object
      description: The type used for update operations of the MqttBridgeTopicMapResource.
      properties:
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
        properties:
          $ref: '#/components/schemas/MqttBridgeTopicMapResourceUpdateProperties'
          x-ms-client-flatten: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
