openapi: 3.2.0
info:
  version: '2023-06-01'
  title: Microsoft Azure SiteRecoveryManagementClient Replicationv…
  x-ms-code-generation-settings:
    header: MICROSOFT_MIT_NO_VERSION
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ReplicationvCenters
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationvCenters
  : get:
      tags:
      - ReplicationvCenters
      summary: Microsoft Azure Gets The List Of Vcenter Registered Under A Fabric
      description: Lists the vCenter servers registered in a fabric.
      operationId: microsoftAzureReplicationvcentersListbyreplicationfabrics
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Fabric name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCenterCollection'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Gets the list of vCenter registered under a fabric.:
          $ref: ./examples/ReplicationvCenters_ListByReplicationFabrics.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationvCenters/{vcenterName}
  : get:
      tags:
      - ReplicationvCenters
      summary: Microsoft Azure Gets The Details Of A Vcenter
      description: Gets the details of a registered vCenter server(Add vCenter server).
      operationId: microsoftAzureReplicationvcentersGet
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Fabric name.
        required: true
        schema:
          type: string
      - name: vcenterName
        in: path
        description: vcenter name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCenter'
      x-ms-examples:
        Gets the details of a vCenter.:
          $ref: ./examples/ReplicationvCenters_Get.json
    put:
      tags:
      - ReplicationvCenters
      summary: Microsoft Azure Add Vcenter
      description: The operation to create a vCenter object..
      operationId: microsoftAzureReplicationvcentersCreate
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Fabric name.
        required: true
        schema:
          type: string
      - name: vcenterName
        in: path
        description: vcenter name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCenter'
        '202':
          description: Accepted
      x-ms-long-running-operation: true
      x-ms-examples:
        Add vCenter.:
          $ref: ./examples/ReplicationvCenters_Create.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddVCenterRequest'
        description: The input to the add vCenter operation.
        required: true
    delete:
      tags:
      - ReplicationvCenters
      summary: Microsoft Azure Remove Vcenter Operation
      description: The operation to remove(unregister) a registered vCenter server from the vault.
      operationId: microsoftAzureReplicationvcentersDelete
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Fabric name.
        required: true
        schema:
          type: string
      - name: vcenterName
        in: path
        description: vcenter name.
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Accepted
        '204':
          description: NoContent
      x-ms-long-running-operation: true
      x-ms-examples:
        Remove vCenter operation.:
          $ref: ./examples/ReplicationvCenters_Delete.json
    patch:
      tags:
      - ReplicationvCenters
      summary: Microsoft Azure Update Vcenter Operation
      description: The operation to update a registered vCenter.
      operationId: microsoftAzureReplicationvcentersUpdate
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Fabric name.
        required: true
        schema:
          type: string
      - name: vcenterName
        in: path
        description: vcenter name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCenter'
        '202':
          description: Accepted
      x-ms-long-running-operation: true
      x-ms-examples:
        Update vCenter operation.:
          $ref: ./examples/ReplicationvCenters_Update.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVCenterRequest'
        description: The input to the update vCenter operation.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationvCenters
  : get:
      tags:
      - ReplicationvCenters
      summary: Microsoft Azure Gets The List Of Vcenter Registered Under The Vault
      description: Lists the vCenter servers registered in the vault.
      operationId: microsoftAzureReplicationvcentersList
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCenterCollection'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Gets the list of vCenter registered under the vault.:
          $ref: ./examples/ReplicationvCenters_List.json
components:
  schemas:
    InnerHealthError:
      description: Implements InnerHealthError class. HealthError object has a list of InnerHealthErrors as child errors. InnerHealthError is used because this will prevent an infinite loop of structures when Hydra tries to auto-generate the contract. We are exposing the related health errors as inner health errors and all API consumers can utilize this in the same fashion as Exception -&gt; InnerException.
      type: object
      properties:
        errorSource:
          description: Source of error.
          type: string
        errorType:
          description: Type of error.
          type: string
        errorLevel:
          description: Level of error.
          type: string
        errorCategory:
          description: Category of error.
          type: string
        errorCode:
          description: Error code.
          type: string
        summaryMessage:
          description: Summary message of the entity.
          type: string
        errorMessage:
          description: Error message.
          type: string
        possibleCauses:
          description: Possible causes of error.
          type: string
        recommendedAction:
          description: Recommended action to resolve error.
          type: string
        creationTimeUtc:
          format: date-time
          description: Error creation time (UTC).
          type: string
        recoveryProviderErrorMessage:
          description: DRA error message.
          type: string
        entityId:
          description: ID of the entity.
          type: string
        errorId:
          description: The health error unique id.
          type: string
        customerResolvability:
          description: Value indicating whether the health error is customer resolvable.
          enum:
          - Allowed
          - NotAllowed
          type: string
          x-ms-enum:
            name: HealthErrorCustomerResolvability
            modelAsString: true
    VCenterProperties:
      description: vCenter properties.
      type: object
      properties:
        friendlyName:
          description: Friendly name of the vCenter.
          type: string
        internalId:
          description: VCenter internal ID.
          type: string
        lastHeartbeat:
          format: date-time
          description: The time when the last heartbeat was received by vCenter.
          type: string
        discoveryStatus:
          description: The VCenter discovery status.
          type: string
        processServerId:
          description: The process server Id.
          type: string
        ipAddress:
          description: The IP address of the vCenter.
          type: string
        infrastructureId:
          description: The infrastructure Id of vCenter.
          type: string
        port:
          description: The port number for discovery.
          type: string
        runAsAccountId:
          description: The account Id which has privileges to discover the vCenter.
          type: string
        fabricArmResourceName:
          description: The ARM resource name of the fabric containing this VCenter.
          type: string
        healthErrors:
          description: The health errors for this VCenter.
          type: array
          items:
            $ref: '#/components/schemas/HealthError'
    UpdateVCenterRequestProperties:
      description: The properties of an update vCenter request.
      type: object
      properties:
        friendlyName:
          description: The friendly name of the vCenter.
          type: string
        ipAddress:
          description: The IP address of the vCenter to be discovered.
          type: string
        processServerId:
          description: The process server Id from where the update can be orchestrated.
          type: string
        port:
          description: The port number for discovery.
          type: string
        runAsAccountId:
          description: The CS account Id which has privileges to update the vCenter.
          type: string
    HealthError:
      description: Health Error.
      type: object
      properties:
        innerHealthErrors:
          description: The inner health errors. HealthError having a list of HealthError as child errors is problematic. InnerHealthError is used because this will prevent an infinite loop of structures when Hydra tries to auto-generate the contract. We are exposing the related health errors as inner health errors and all API consumers can utilize this in the same fashion as Exception -&gt; InnerException.
          type: array
          items:
            $ref: '#/components/schemas/InnerHealthError'
        errorSource:
          description: Source of error.
          type: string
        errorType:
          description: Type of error.
          type: string
        errorLevel:
          description: Level of error.
          type: string
        errorCategory:
          description: Category of error.
          type: string
        errorCode:
          description: Error code.
          type: string
        summaryMessage:
          description: Summary message of the entity.
          type: string
        errorMessage:
          description: Error message.
          type: string
        possibleCauses:
          description: Possible causes of error.
          type: string
        recommendedAction:
          description: Recommended action to resolve error.
          type: string
        creationTimeUtc:
          format: date-time
          description: Error creation time (UTC).
          type: string
        recoveryProviderErrorMessage:
          description: DRA error message.
          type: string
        entityId:
          description: ID of the entity.
          type: string
        errorId:
          description: The health error unique id.
          type: string
        customerResolvability:
          description: Value indicating whether the health error is customer resolvable.
          enum:
          - Allowed
          - NotAllowed
          type: string
          x-ms-enum:
            name: HealthErrorCustomerResolvability
            modelAsString: true
    Resource:
      description: Azure resource.
      type: object
      properties:
        id:
          description: Resource Id
          type: string
          readOnly: true
        name:
          description: Resource Name
          type: string
          readOnly: true
        type:
          description: Resource Type
          type: string
          readOnly: true
        location:
          description: Resource Location
          type: string
      x-ms-azure-resource: true
    VCenter:
      description: vCenter definition.
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/VCenterProperties'
          description: VCenter related data.
    UpdateVCenterRequest:
      description: Input required to update vCenter.
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/UpdateVCenterRequestProperties'
          description: The update VCenter Request Properties.
    AddVCenterRequestProperties:
      description: The properties of an add vCenter request.
      type: object
      properties:
        friendlyName:
          description: The friendly name of the vCenter.
          type: string
        ipAddress:
          description: The IP address of the vCenter to be discovered.
          type: string
        processServerId:
          description: The process server Id from where the discovery is orchestrated.
          type: string
        port:
          description: The port number for discovery.
          type: string
        runAsAccountId:
          description: The account Id which has privileges to discover the vCenter.
          type: string
    AddVCenterRequest:
      description: Input required to add vCenter.
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/AddVCenterRequestProperties'
          description: The properties of an add vCenter request.
    VCenterCollection:
      description: Collection of vCenter details.
      type: object
      properties:
        value:
          description: The vCenter details.
          type: array
          items:
            $ref: '#/components/schemas/VCenter'
        nextLink:
          description: The value of next link.
          type: string
  parameters:
    ResourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group where the recovery services vault is present.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    SubscriptionId:
      name: subscriptionId
      in: path
      description: The subscription Id.
      required: true
      schema:
        type: string
    ApiVersion:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
    ResourceName:
      name: resourceName
      in: path
      description: The name of the recovery services vault.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account.
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
