openapi: 3.2.0
info:
  version: '2016-10-01'
  title: Microsoft Azure StorSimpleManagementClient Chap Settings API
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ChapSettings
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/chapSettings
  : get:
      tags:
      - ChapSettings
      description: Retrieves all the chap settings in a device.
      operationId: microsoftAzureChapsettingsListbydevice
      parameters:
      - name: deviceName
        in: path
        description: The name of the device.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of chap settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChapSettingsList'
        default:
          description: Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      deprecated: false
      x-ms-pageable:
        nextLinkName: null
      x-ms-examples:
        ChapSettingsListByDevice:
          $ref: ./examples/ChapSettingsListByDevice.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/chapSettings/{chapUserName}
  : get:
      tags:
      - ChapSettings
      description: Returns the properties of the specified chap setting name.
      operationId: microsoftAzureChapsettingsGet
      parameters:
      - name: deviceName
        in: path
        description: The device name.
        required: true
        schema:
          type: string
      - name: chapUserName
        in: path
        description: The user name of chap to be fetched.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The chap setting.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChapSettings'
        default:
          description: Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      deprecated: false
      x-ms-examples:
        ChapSettingsGet:
          $ref: ./examples/ChapSettingsGet.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - ChapSettings
      description: Creates or updates the chap setting.
      operationId: microsoftAzureChapsettingsCreateorupdate
      parameters:
      - name: deviceName
        in: path
        description: The device name.
        required: true
        schema:
          type: string
      - name: chapUserName
        in: path
        description: The chap user name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully created or updated the chap setting.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChapSettings'
        '202':
          description: Accepted the request to create or update the chap setting.
        default:
          description: Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      deprecated: false
      x-ms-long-running-operation: true
      x-ms-examples:
        ChapSettingsCreateOrUpdate:
          $ref: ./examples/ChapSettingsCreateOrUpdate.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChapSettings'
        description: The chap setting to be added or updated.
        required: true
    delete:
      tags:
      - ChapSettings
      description: Deletes the chap setting.
      operationId: microsoftAzureChapsettingsDelete
      parameters:
      - name: deviceName
        in: path
        description: The device name.
        required: true
        schema:
          type: string
      - name: chapUserName
        in: path
        description: The chap user name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to delete the chap setting.
        '204':
          description: Successfully deleted the chap setting.
        default:
          description: Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      deprecated: false
      x-ms-long-running-operation: true
      x-ms-examples:
        ChapSettingsDelete:
          $ref: ./examples/ChapSettingsDelete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    ChapSettingsList:
      description: Collection of Chap setting entities
      required:
      - value
      type: object
      properties:
        value:
          description: The chap settings entity collection
          type: array
          items:
            $ref: '#/components/schemas/ChapSettings'
    ChapSettings:
      description: Challenge-Handshake Authentication Protocol (CHAP) setting
      required:
      - properties
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseModel'
      properties:
        properties:
          $ref: '#/components/schemas/ChapProperties'
          description: Chap properties
          x-ms-client-flatten: true
    BaseModel:
      description: Base class for models
      type: object
      properties:
        id:
          description: The identifier.
          type: string
          readOnly: true
        name:
          description: The name.
          type: string
          readOnly: true
        type:
          description: The type.
          type: string
          readOnly: true
    ChapProperties:
      description: Chap properties
      required:
      - password
      type: object
      properties:
        password:
          $ref: '#/components/schemas/AsymmetricEncryptedSecret'
          description: The chap password.
    AsymmetricEncryptedSecret:
      description: This class can be used as the Type for any secret entity represented as Password, CertThumbprint, Algorithm. This class is intended to be used when the secret is encrypted with an asymmetric key pair. The encryptionAlgorithm field is mainly for future usage to potentially allow different entities encrypted using different algorithms.
      required:
      - value
      - encryptionAlgorithm
      type: object
      properties:
        value:
          description: The value of the secret itself. If the secret is in plaintext then EncryptionAlgorithm will be none and EncryptionCertThumbprint will be null.
          type: string
        encryptionCertificateThumbprint:
          description: Thumbprint certificate that was used to encrypt "Value"
          type: string
        encryptionAlgorithm:
          description: Algorithm used to encrypt "Value"
          enum:
          - None
          - AES256
          - RSAES_PKCS1_v_1_5
          type: string
          x-ms-enum:
            name: EncryptionAlgorithm
            modelAsString: false
    Message:
      type: object
      properties:
        language:
          type: string
        value:
          type: string
    Error:
      required:
      - errorCode
      - message
      type: object
      properties:
        errorCode:
          type: string
        message:
          $ref: '#/components/schemas/Message'
        values:
          type: array
          items:
            $ref: '#/components/schemas/Item'
          x-ms-identifiers:
          - key
    Item:
      required:
      - key
      - value
      type: object
      properties:
        key:
          type: string
        value:
          type: string
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription id
      required: true
      schema:
        type: string
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The resource group name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    managerNameParameter:
      name: managerName
      in: path
      description: The manager name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 50
        minLength: 2
    apiVersionParameter:
      name: api-version
      in: query
      description: The api version
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
