openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft NetApp Backup Vaults API
  description: Microsoft NetApp Azure Resource Provider specification
  version: 2023-07-01-preview
  x-ms-code-generation-settings:
    name: AzureNetAppFilesManagementClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Backup Vaults
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/backupVaults
  : get:
      summary: Microsoft Azure Describe All Backup Vaults
      description: List and describe all Backup Vaults in the NetApp account.
      tags:
      - Backup Vaults
      operationId: microsoftAzureBackupvaultsListbynetappaccount
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      x-ms-pageable:
        nextLinkName: nextLink
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/backupVaultsList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        BackupVaults_List:
          $ref: examples/BackupVaults_List.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/backupVaults/{backupVaultName}
  : get:
      summary: Microsoft Azure Describe The Backup Vault
      description: Get the Backup Vault
      tags:
      - Backup Vaults
      operationId: microsoftAzureBackupvaultsGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountName'
      - $ref: '#/components/parameters/BackupVaultName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/backupVault'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        BackupVaults_Get:
          $ref: examples/BackupVaults_Get.json
    put:
      tags:
      - Backup Vaults
      summary: Microsoft Azure Create Or Update A Backup Vault
      description: Create or update the specified Backup Vault in the NetApp account
      operationId: microsoftAzureBackupvaultsCreateorupdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountName'
      - $ref: '#/components/parameters/BackupVaultName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK - backupVault updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/backupVault'
        '201':
          description: backupVault created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/backupVault'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        BackupVault_CreateOrUpdate:
          $ref: examples/BackupVaults_Create.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/backupVault'
        description: BackupVault object supplied in the body of the operation.
        required: true
    patch:
      summary: Microsoft Azure Update Netapp Backup Vault
      description: Patch the specified NetApp Backup Vault
      tags:
      - Backup Vaults
      operationId: microsoftAzureBackupvaultsUpdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountName'
      - $ref: '#/components/parameters/BackupVaultName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK - Backup Vault updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/backupVault'
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/backupVault'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        BackupVaults_Update:
          $ref: examples/BackupVaults_Update.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/backupVaultPatch'
        description: Backup Vault object supplied in the body of the operation.
        required: true
    delete:
      summary: Microsoft Azure Delete Netapp Backup Vault
      description: Delete the specified Backup Vault
      tags:
      - Backup Vaults
      operationId: microsoftAzureBackupvaultsDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountName'
      - $ref: '#/components/parameters/BackupVaultName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '202':
          description: Accepted -- Delete request accepted; operation will complete asynchronously
          headers:
            Location:
              schema:
                type: string
        '204':
          description: NoContent -- Resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        BackupVaults_Delete:
          $ref: examples/BackupVaults_Delete.json
  /subscriptions/{subscriptionId}/providers/Microsoft.DataProtection/backupVaults:
    get:
      tags:
      - Backup Vaults
      description: Returns resource collection belonging to a subscription.
      operationId: microsoftAzureBackupvaultsGetinsubscription
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupVaultResourceList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Get BackupVaults in Subscription:
          $ref: ./examples/VaultCRUD/GetBackupVaultsInSubscription.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/backupVaults:
    get:
      tags:
      - Backup Vaults
      description: Returns resource collection belonging to a resource group.
      operationId: microsoftAzureBackupvaultsGetinresourcegroup
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupVaultResourceList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Get BackupVaults in ResourceGroup:
          $ref: ./examples/VaultCRUD/GetBackupVaultsInResourceGroup.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/backupVaults/{vaultName}
  : get:
      tags:
      - Backup Vaults
      description: Returns a resource belonging to a resource group.
      operationId: microsoftAzureBackupvaultsGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/VaultName'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupVaultResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Get BackupVault:
          $ref: ./examples/VaultCRUD/GetBackupVault.json
        Get BackupVault With MSI:
          $ref: ./examples/VaultCRUD/GetBackupVaultWithMSI.json
        Get BackupVault With CMK:
          $ref: ./examples/VaultCRUD/GetBackupVaultWithCMK.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Backup Vaults
      description: Creates or updates a BackupVault resource belonging to a resource group.
      operationId: microsoftAzureBackupvaultsCreateorupdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/VaultName'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupVaultResource'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupVaultResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Create BackupVault:
          $ref: ./examples/VaultCRUD/PutBackupVault.json
        Create BackupVault With MSI:
          $ref: ./examples/VaultCRUD/PutBackupVaultWithMSI.json
        Create BackupVault With CMK:
          $ref: ./examples/VaultCRUD/PutBackupVaultWithCMK.json
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupVaultResource'
        description: Request body for operation
        required: true
    delete:
      tags:
      - Backup Vaults
      description: Deletes a BackupVault resource from the resource group.
      operationId: microsoftAzureBackupvaultsDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/VaultName'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: NoContent
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Delete BackupVault:
          $ref: ./examples/VaultCRUD/DeleteBackupVault.json
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    patch:
      tags:
      - Backup Vaults
      description: Updates a BackupVault resource belonging to a resource group. For example, updating tags for a resource.
      operationId: microsoftAzureBackupvaultsUpdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/VaultName'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupVaultResource'
        '202':
          description: Accepted
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-long-running-operation: true
      x-ms-examples:
        Patch BackupVault:
          $ref: ./examples/VaultCRUD/PatchBackupVault.json
        Patch BackupVault with CMK:
          $ref: ./examples/VaultCRUD/PatchBackupVaultWithCMK.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchResourceRequestInput'
        description: Request body for operation
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/locations/{location}/checkNameAvailability
  : post:
      tags:
      - Backup Vaults
      summary: Microsoft Azure Api To Check For Resource Name Availability
      operationId: microsoftAzureBackupvaultsChecknameavailability
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - name: location
        in: path
        description: The location in which uniqueness will be verified.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Check BackupVaults name availability:
          $ref: ./examples/VaultCRUD/CheckBackupVaultsNameAvailability.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityRequest'
        description: Check name availability request
        required: true
components:
  schemas:
    backupVaultProperties:
      description: Backup Vault properties
      type: object
      properties:
        provisioningState:
          type: string
          readOnly: true
          description: Azure lifecycle management
    backupVault:
      description: Backup Vault information
      type: object
      x-ms-azure-resource: true
      required:
      - location
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource
      properties:
        properties:
          description: Backup Vault Properties
          $ref: '#/components/schemas/backupVaultProperties'
          x-ms-client-flatten: true
    resourceTags:
      type: object
      additionalProperties:
        type: string
      description: Tags are a list of key-value pairs that describe the resource
    backupVaultsList:
      description: List of Backup Vaults
      type: object
      properties:
        value:
          description: A list of Backup Vaults
          type: array
          items:
            $ref: '#/components/schemas/backupVault'
        nextLink:
          type: string
          description: URL to get the next set of results.
    backupVaultPatch:
      description: Backup Vault information
      type: object
      x-ms-azure-resource: true
      properties:
        tags:
          description: Resource tags
          $ref: '#/components/schemas/resourceTags'
    AzureMonitorAlertSettings:
      type: object
      description: Settings for Azure Monitor based alerts
      properties:
        alertsForAllJobFailures:
          enum:
          - Enabled
          - Disabled
          type: string
          x-ms-enum:
            name: AlertsState
            modelAsString: true
    DppBaseTrackedResource:
      properties:
        eTag:
          description: Optional ETag.
          type: string
        id:
          description: Resource Id represents the complete path to the resource.
          readOnly: true
          type: string
        location:
          description: Resource location.
          type: string
        name:
          description: Resource name associated with the resource.
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          type: object
        type:
          description: Resource type represents the complete path of the form Namespace/ResourceType/ResourceType/...
          readOnly: true
          type: string
        systemData:
          $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/systemData
      type: object
      x-ms-azure-resource: true
    encryptionSettings:
      description: Customer Managed Key details of the resource.
      type: object
      properties:
        state:
          description: Encryption state of the Backup Vault.
          type: string
          enum:
          - Enabled
          - Disabled
          - Inconsistent
          x-ms-enum:
            name: EncryptionState
            modelAsString: true
            values:
            - description: CMK encryption is enabled on the Backup Vault
              value: Enabled
            - description: CMK encryption is disabled on the Backup Vault. User can not set this state once Encryption State is 'Enabled'.
              value: Disabled
            - description: CMK encryption is in inconsistent state on the Backup Vault. This state indicates that user needs to retry the encryption settings operation immediately to correct the state.
              value: Inconsistent
        keyVaultProperties:
          $ref: '#/components/schemas/CmkKeyVaultProperties'
        kekIdentity:
          $ref: '#/components/schemas/CmkKekIdentity'
        infrastructureEncryption:
          description: Enabling/Disabling the Double Encryption state
          type: string
          enum:
          - Enabled
          - Disabled
          x-ms-enum:
            name: InfrastructureEncryptionState
            modelAsString: true
    PatchResourceRequestInput:
      description: Patch Request content for Microsoft.DataProtection resources
      properties:
        identity:
          $ref: '#/components/schemas/DppIdentityDetails'
          description: Input Managed Identity Details
        properties:
          $ref: '#/components/schemas/PatchBackupVaultInput'
          description: Resource properties.
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          type: object
      title: PatchResourceRequestInput
      type: object
    DppTrackedResource:
      allOf:
      - $ref: '#/components/schemas/DppBaseTrackedResource'
      properties:
        identity:
          $ref: '#/components/schemas/DppIdentityDetails'
          description: Input Managed Identity Details
      type: object
      x-ms-azure-resource: true
    ErrorAdditionalInfo:
      description: The resource management error additional info.
      properties:
        info:
          description: The additional info.
          readOnly: true
          type: object
        type:
          description: The additional info type.
          readOnly: true
          type: string
    CheckNameAvailabilityResult:
      description: CheckNameAvailability Result
      properties:
        message:
          description: Gets or sets the message.
          type: string
        nameAvailable:
          description: Gets or sets a value indicating whether [name available].
          type: boolean
        reason:
          description: Gets or sets the reason.
          type: string
      title: CheckNameAvailabilityResult
      type: object
    BackupVaultResource:
      allOf:
      - $ref: '#/components/schemas/DppTrackedResource'
      description: Backup Vault Resource
      properties:
        properties:
          $ref: '#/components/schemas/BackupVault'
          description: BackupVaultResource properties
      required:
      - location
      - properties
      title: BackupVault Resource
    BackupVault:
      description: Backup Vault
      properties:
        monitoringSettings:
          $ref: '#/components/schemas/MonitoringSettings'
          description: Monitoring Settings
        provisioningState:
          description: Provisioning state of the BackupVault resource
          enum:
          - Failed
          - Provisioning
          - Succeeded
          - Unknown
          - Updating
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        resourceMoveState:
          description: Resource move state for backup vault
          enum:
          - Unknown
          - InProgress
          - PrepareFailed
          - CommitFailed
          - Failed
          - PrepareTimedout
          - CommitTimedout
          - CriticalFailure
          - PartialSuccess
          - MoveSucceeded
          type: string
          readOnly: true
          x-ms-enum:
            name: ResourceMoveState
            modelAsString: true
        resourceMoveDetails:
          $ref: '#/components/schemas/ResourceMoveDetails'
          description: Resource move details for backup vault
          readOnly: true
        securitySettings:
          $ref: '#/components/schemas/SecuritySettings'
          description: Security Settings
        storageSettings:
          description: Storage Settings
          items:
            $ref: '#/components/schemas/StorageSetting'
          x-ms-identifiers: []
          type: array
        isVaultProtectedByResourceGuard:
          description: Is vault protected by resource guard
          type: boolean
          readOnly: true
        featureSettings:
          $ref: '#/components/schemas/FeatureSettings'
          description: Feature Settings
        secureScore:
          description: Secure Score of Backup Vault
          enum:
          - None
          - Minimum
          - Adequate
          - Maximum
          - NotSupported
          type: string
          readOnly: true
          x-ms-enum:
            name: SecureScoreLevel
            modelAsString: true
        replicatedRegions:
          description: List of replicated regions for Backup Vault
          items:
            type: string
          type: array
      required:
      - storageSettings
      title: BackupVault
      type: object
    SoftDeleteSettings:
      description: Soft delete related settings
      type: object
      properties:
        state:
          description: State of soft delete
          enum:
          - 'Off'
          - 'On'
          - AlwaysOn
          type: string
          x-ms-enum:
            name: SoftDeleteState
            modelAsString: true
            values:
            - description: Soft Delete is turned off for the BackupVault
              value: 'Off'
            - description: Soft Delete is enabled for the BackupVault but can be turned off
              value: 'On'
            - description: Soft Delete is permanently enabled for the BackupVault and the setting cannot be changed
              value: AlwaysOn
        retentionDurationInDays:
          description: Soft delete retention duration
          format: double
          type: number
    CrossSubscriptionRestoreSettings:
      description: CrossSubscriptionRestore Settings
      type: object
      properties:
        state:
          description: CrossSubscriptionRestore state
          enum:
          - Disabled
          - PermanentlyDisabled
          - Enabled
          type: string
          x-ms-enum:
            name: CrossSubscriptionRestoreState
            modelAsString: true
    SecuritySettings:
      description: Class containing security settings of vault
      type: object
      properties:
        softDeleteSettings:
          $ref: '#/components/schemas/SoftDeleteSettings'
        immutabilitySettings:
          $ref: '#/components/schemas/ImmutabilitySettings'
        encryptionSettings:
          $ref: '#/components/schemas/encryptionSettings'
    ImmutabilitySettings:
      description: Immutability Settings at vault level
      type: object
      properties:
        state:
          description: Immutability state
          enum:
          - Disabled
          - Unlocked
          - Locked
          type: string
          x-ms-enum:
            name: ImmutabilityState
            modelAsString: true
    StorageSetting:
      description: Storage setting
      properties:
        datastoreType:
          description: Gets or sets the type of the datastore.
          enum:
          - ArchiveStore
          - OperationalStore
          - VaultStore
          type: string
          x-ms-enum:
            modelAsString: true
            name: StorageSettingStoreTypes
        type:
          description: Gets or sets the type.
          enum:
          - GeoRedundant
          - LocallyRedundant
          - ZoneRedundant
          type: string
          x-ms-enum:
            modelAsString: true
            name: StorageSettingTypes
      title: StorageSetting
      type: object
    CmkKekIdentity:
      type: object
      description: The details of the managed identity used for CMK
      properties:
        identityType:
          type: string
          description: The identity type. 'SystemAssigned' and 'UserAssigned' are mutually exclusive. 'SystemAssigned' will use implicitly created managed identity.
          enum:
          - SystemAssigned
          - UserAssigned
          x-ms-enum:
            name: IdentityType
            modelAsString: true
        identityId:
          type: string
          description: 'The managed identity to be used which has access permissions to the Key Vault. Provide a value here in case identity types: ''UserAssigned'' only.'
    BackupVaultResourceList:
      allOf:
      - $ref: '#/components/schemas/DppResourceList'
      description: List of BackupVault resources
      properties:
        value:
          description: List of resources.
          items:
            $ref: '#/components/schemas/BackupVaultResource'
          type: array
      title: BackupVaultResourceList
      type: object
    CheckNameAvailabilityRequest:
      description: CheckNameAvailability Request
      properties:
        name:
          description: Resource name for which availability needs to be checked
          type: string
        type:
          description: 'Describes the Resource type: Microsoft.DataProtection/BackupVaults'
          type: string
      title: CheckNameAvailabilityRequest
      type: object
    CloudError:
      description: An error response from Azure Backup.
      properties:
        error:
          $ref: '#/components/schemas/Error'
      title: CloudError
      x-ms-external: true
    DppResourceList:
      description: ListResource
      properties:
        nextLink:
          description: The uri to fetch the next page of resources. Call ListNext() fetches next page of resources.
          type: string
      title: List Resource
      type: object
    DppIdentityDetails:
      description: Identity details
      properties:
        principalId:
          description: The object ID of the service principal object for the managed identity that is used to grant role-based access to an Azure resource.
          readOnly: true
          type: string
        tenantId:
          description: A Globally Unique Identifier (GUID) that represents the Azure AD tenant where the resource is now a member.
          readOnly: true
          type: string
        type:
          description: The identityType which can be either SystemAssigned, UserAssigned, 'SystemAssigned,UserAssigned' or None
          type: string
        userAssignedIdentities:
          description: Gets or sets the user assigned identities.
          type: object
          additionalProperties:
            $ref: ../../../../../common-types/resource-management/v4/managedidentity.json#/definitions/UserAssignedIdentity
      title: DppIdentityDetails
      type: object
    PatchBackupVaultInput:
      description: Backup Vault Contract for Patch Backup Vault API.
      type: object
      properties:
        monitoringSettings:
          $ref: '#/components/schemas/MonitoringSettings'
          description: Monitoring Settings
        securitySettings:
          $ref: '#/components/schemas/SecuritySettings'
          description: Security Settings
        featureSettings:
          $ref: '#/components/schemas/FeatureSettings'
          description: Feature Settings
    FeatureSettings:
      description: Class containing feature settings of vault
      type: object
      properties:
        crossSubscriptionRestoreSettings:
          $ref: '#/components/schemas/CrossSubscriptionRestoreSettings'
        crossRegionRestoreSettings:
          $ref: '#/components/schemas/CrossRegionRestoreSettings'
    Error:
      description: The resource management error response.
      properties:
        additionalInfo:
          description: The error additional info.
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          x-ms-identifiers: []
          readOnly: true
          type: array
        code:
          description: The error code.
          readOnly: true
          type: string
        details:
          description: The error details.
          items:
            $ref: '#/components/schemas/Error'
          x-ms-identifiers: []
          readOnly: true
          type: array
        message:
          description: The error message.
          readOnly: true
          type: string
        target:
          description: The error target.
          readOnly: true
          type: string
    ResourceMoveDetails:
      description: ResourceMoveDetails will be returned in response to GetResource call from ARM
      type: object
      properties:
        operationId:
          description: CorrelationId of latest ResourceMove operation attempted
          type: string
        startTimeUtc:
          description: Start time in UTC of latest ResourceMove operation attempted. ISO 8601 format.
          type: string
        completionTimeUtc:
          description: Completion time in UTC of latest ResourceMove operation attempted. ISO 8601 format.
          type: string
        sourceResourcePath:
          description: ARM resource path of source resource
          type: string
        targetResourcePath:
          description: ARM resource path of target resource used in latest ResourceMove operation
          type: string
    CrossRegionRestoreSettings:
      type: object
      properties:
        state:
          description: CrossRegionRestore state
          enum:
          - Disabled
          - Enabled
          type: string
          x-ms-enum:
            name: CrossRegionRestoreState
            modelAsString: true
    MonitoringSettings:
      type: object
      description: Monitoring Settings
      properties:
        azureMonitorAlertSettings:
          $ref: '#/components/schemas/AzureMonitorAlertSettings'
    CmkKeyVaultProperties:
      type: object
      description: The properties of the Key Vault which hosts CMK
      properties:
        keyUri:
          description: The key uri of the Customer Managed Key
          type: string
  parameters:
    AccountName:
      name: accountName
      in: path
      required: true
      description: The name of the NetApp account
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9\-_]{0,127}$
    BackupVaultName:
      name: backupVaultName
      in: path
      required: true
      description: The name of the Backup Vault
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9\-_]{0,63}$
    VaultName:
      name: vaultName
      in: path
      description: The name of the backup vault.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
