openapi: 3.2.0
info:
  title: Microsoft Azure ExpressRouteCrossConnection REST Express…
  description: The Microsoft Azure ExpressRouteCrossConnection Resource Provider REST APIs describes the operations for the connectivity provider to provision ExpressRoute circuit, create and modify BGP peering entities and troubleshoot connectivity on customer's ExpressRoute circuit.
  version: '2023-11-01'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ExpressRouteCrossConnectionRouteTableSummary
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCrossConnections/{crossConnectionName}/peerings/{peeringName}/routeTablesSummary/{devicePath}
  : post:
      tags:
      - ExpressRouteCrossConnectionRouteTableSummary
      operationId: microsoftAzureExpressroutecrossconnectionsListroutestablesummary
      description: Gets the route table summary associated with the express route cross connection in a resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: crossConnectionName
        in: path
        required: true
        description: The name of the ExpressRouteCrossConnection.
        schema:
          type: string
      - name: peeringName
        in: path
        required: true
        description: The name of the peering.
        schema:
          type: string
      - name: devicePath
        in: path
        required: true
        description: The path of the device.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Request successful. The operation returns the resulting ExpressRouteCrossConnectionsRouteTableSummary resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressRouteCrossConnectionsRoutesTableSummaryListResult'
        '202':
          description: Accepted and the operation will complete asynchronously.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        GetExpressRouteCrossConnectionsRouteTableSummary:
          $ref: ./examples/ExpressRouteCrossConnectionsRouteTableSummary.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    ExpressRouteCrossConnectionRoutesTableSummary:
      properties:
        neighbor:
          type: string
          description: IP address of Neighbor router.
        asn:
          type: integer
          format: int32
          description: Autonomous system number.
        upDown:
          type: string
          description: The length of time that the BGP session has been in the Established state, or the current status if not in the Established state.
        stateOrPrefixesReceived:
          type: string
          description: Current state of the BGP session, and the number of prefixes that have been received from a neighbor or peer group.
      description: The routes table associated with the ExpressRouteCircuit.
    ExpressRouteCrossConnectionsRoutesTableSummaryListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ExpressRouteCrossConnectionRoutesTableSummary'
          description: A list of the routes table.
        nextLink:
          readOnly: true
          type: string
          description: The URL to get the next set of results.
      description: Response for ListRoutesTable associated with the Express Route Cross Connections.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
