openapi: 3.2.0
info:
  title: Microsoft Azure Azure Migrate Assessment Service Web App…
  version: 2023-04-01-preview
  description: Azure Migrate Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: WebAppAssessmentV2SummaryOperations
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/webAppAssessments/{assessmentName}/summaries
  : get:
      operationId: microsoftAzureWebappassessmentv2summaryoperationsListbywebappassessmentv2
      tags:
      - WebAppAssessmentV2SummaryOperations
      description: List WebAppAssessmentV2Summary resources by WebAppAssessmentV2
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: groupName
        in: path
        description: Group ARM name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: assessmentName
        in: path
        description: Web app Assessment arm name.
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebAppAssessmentV2SummaryListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        WebAppAssessmentV2SummaryOperations_ListByWebAppAssessmentV2_MaximumSet_Gen:
          $ref: ./examples/WebAppAssessmentV2SummaryOperations_ListByWebAppAssessmentV2_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/webAppAssessments/{assessmentName}/summaries/{summaryName}
  : get:
      operationId: microsoftAzureWebappassessmentv2summaryoperationsGet
      tags:
      - WebAppAssessmentV2SummaryOperations
      description: Get a WebAppAssessmentV2Summary
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: groupName
        in: path
        description: Group ARM name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: assessmentName
        in: path
        description: Web app Assessment arm name.
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: summaryName
        in: path
        description: Gets the Name of the Web app Summary.
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebAppAssessmentV2Summary'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        WebAppAssessmentV2SummaryOperations_Get_MaximumSet_Gen:
          $ref: ./examples/WebAppAssessmentV2SummaryOperations_Get_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    DiscoveredEntitiesSummary:
      type: object
      description: Discovered entities summary.
      properties:
        numberOfServers:
          type: integer
          format: int32
          description: Number of web servers
          readOnly: true
        numberOfWebApps:
          type: integer
          format: int32
          description: Number of web apps
          readOnly: true
        numberOfMachines:
          type: integer
          format: int32
          description: Number of machines
          readOnly: true
        webServerSummary:
          type: object
          description: Web server summary data
          additionalProperties:
            format: int32
            type: integer
          readOnly: true
        webAppSummary:
          type: object
          description: Web app summary data
          additionalProperties:
            format: int32
            type: integer
          readOnly: true
    WebAppAssessmentV2SummaryListResult:
      type: object
      description: The response of a WebAppAssessmentV2Summary list operation.
      properties:
        value:
          type: array
          description: The WebAppAssessmentV2Summary items on this page
          items:
            $ref: '#/components/schemas/WebAppAssessmentV2Summary'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    WebAppSkuDetails:
      type: object
      description: Web app sku details.
      properties:
        totalMonthlyCost:
          type: number
          format: float
          description: Total monthly cost
          readOnly: true
        monthlySecurityCost:
          type: number
          format: float
          description: Monthly security data
          readOnly: true
        skuName:
          type: string
          description: Sku name
          readOnly: true
        skuSize:
          type: string
          description: Sku size
          readOnly: true
        appServicePlanCount:
          type: integer
          format: int32
          description: App service plan count
          readOnly: true
      required:
      - skuName
      - skuSize
      - appServicePlanCount
    WebAppAssessmentV2SummaryProperties:
      type: object
      description: Web app Assessment V2 summary properties.
      properties:
        assessmentSummary:
          type: object
          description: Gets or sets the discovered entities summary.
          additionalProperties:
            $ref: '#/components/schemas/DiscoveredEntitiesSummary'
          readOnly: true
        targetSpecificSummary:
          type: object
          description: Gets the target specific summary.
          additionalProperties:
            $ref: '#/components/schemas/TargetSpecificSummary'
          readOnly: true
    TargetSpecificSummary:
      type: object
      description: Web app target specific summary data.
      properties:
        readinessSummary:
          type: object
          description: Web app readiness summary data
          additionalProperties:
            format: int32
            type: integer
          readOnly: true
        recommendationResultSkuDetails:
          type: object
          description: Web app recommendation sku details data
          additionalProperties:
            $ref: '#/components/schemas/WebAppSkuDetails'
          readOnly: true
    WebAppAssessmentV2Summary:
      type: object
      description: Web app Assessment REST resource.
      properties:
        properties:
          $ref: '#/components/schemas/WebAppAssessmentV2SummaryProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
