openapi: 3.2.0
info:
  title: Microsoft Azure ContainerServiceFleetClient Fleet Members…
  version: 2024-02-02-preview
  description: Azure Kubernetes Fleet Manager api client.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: FleetMembers
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/fleets/{fleetName}/members
  : get:
      operationId: microsoftAzureFleetmembersListbyfleet
      tags:
      - FleetMembers
      description: List FleetMember resources by Fleet
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: fleetName
        in: path
        description: The name of the Fleet resource.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 1
          pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FleetMemberListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Lists the members of a Fleet.:
          $ref: ./examples/FleetMembers_ListByFleet.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/fleets/{fleetName}/members/{fleetMemberName}
  : get:
      operationId: microsoftAzureFleetmembersGet
      tags:
      - FleetMembers
      description: Get a FleetMember
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: fleetName
        in: path
        description: The name of the Fleet resource.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 1
          pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
      - name: fleetMemberName
        in: path
        description: The name of the Fleet member resource.
        required: true
        schema:
          type: string
          maxLength: 50
          minLength: 1
          pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FleetMember'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Gets a FleetMember resource.:
          $ref: ./examples/FleetMembers_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      operationId: microsoftAzureFleetmembersCreate
      tags:
      - FleetMembers
      description: Create a FleetMember
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: If-Match
        in: header
        description: The request should only proceed if an entity matches this string.
        required: false
        x-ms-client-name: ifMatch
        schema:
          type: string
      - name: If-None-Match
        in: header
        description: The request should only proceed if no entity matches this string.
        required: false
        x-ms-client-name: ifNoneMatch
        schema:
          type: string
      - name: fleetName
        in: path
        description: The name of the Fleet resource.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 1
          pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
      - name: fleetMemberName
        in: path
        description: The name of the Fleet member resource.
        required: true
        schema:
          type: string
          maxLength: 50
          minLength: 1
          pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
      responses:
        '200':
          description: Resource 'FleetMember' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FleetMember'
        '201':
          description: Resource 'FleetMember' create operation succeeded
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FleetMember'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Creates a FleetMember resource with a long running operation.:
          $ref: ./examples/FleetMembers_Create.json
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FleetMember'
        description: Resource create parameters.
        required: true
    patch:
      operationId: microsoftAzureFleetmembersUpdate
      tags:
      - FleetMembers
      description: Update a FleetMember
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: If-Match
        in: header
        description: The request should only proceed if an entity matches this string.
        required: false
        x-ms-client-name: ifMatch
        schema:
          type: string
      - name: fleetName
        in: path
        description: The name of the Fleet resource.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 1
          pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
      - name: fleetMemberName
        in: path
        description: The name of the Fleet member resource.
        required: true
        schema:
          type: string
          maxLength: 50
          minLength: 1
          pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FleetMember'
        '202':
          description: Resource update request accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Updates a FleetMember resource synchronously.:
          $ref: ./examples/FleetMembers_Update.json
      x-ms-long-running-operation-options:
        final-state-via: original-uri
      x-ms-long-running-operation: true
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FleetMemberUpdate'
        description: The resource properties to be updated.
        required: true
    delete:
      operationId: microsoftAzureFleetmembersDelete
      tags:
      - FleetMembers
      description: Delete a FleetMember
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: If-Match
        in: header
        description: The request should only proceed if an entity matches this string.
        required: false
        x-ms-client-name: ifMatch
        schema:
          type: string
      - name: fleetName
        in: path
        description: The name of the Fleet resource.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 1
          pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
      - name: fleetMemberName
        in: path
        description: The name of the Fleet member resource.
        required: true
        schema:
          type: string
          maxLength: 50
          minLength: 1
          pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
      responses:
        '200':
          description: Resource deleted successfully.
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Deletes a FleetMember resource asynchronously with a long running operation.:
          $ref: ./examples/FleetMembers_Delete.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    FleetMemberUpdateProperties:
      type: object
      description: The updatable properties of the FleetMember.
      properties:
        group:
          type: string
          description: The group this member belongs to for multi-cluster update management.
          minLength: 1
          maxLength: 50
          pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
    ClusterResourceId:
      type: string
      format: arm-id
      description: A type definition that refers the id to an Azure Resource Manager resource.
      x-ms-arm-id-details:
        allowedResources:
        - type: Microsoft.ContainerService/managedClusters
    FleetMemberUpdate:
      type: object
      description: The type used for update operations of the FleetMember.
      properties:
        properties:
          $ref: '#/components/schemas/FleetMemberUpdateProperties'
          x-ms-client-flatten: true
    FleetMemberListResult:
      type: object
      description: The response of a FleetMember list operation.
      properties:
        value:
          type: array
          description: The FleetMember items on this page
          items:
            $ref: '#/components/schemas/FleetMember'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    FleetMemberProperties:
      type: object
      description: A member of the Fleet. It contains a reference to an existing Kubernetes cluster on Azure.
      properties:
        clusterResourceId:
          $ref: '#/components/schemas/ClusterResourceId'
          description: 'The ARM resource id of the cluster that joins the Fleet. Must be a valid Azure resource id. e.g.: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{clusterName}''.'
          x-ms-mutability:
          - read
          - create
        group:
          type: string
          description: The group this member belongs to for multi-cluster update management.
          minLength: 1
          maxLength: 50
          pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
        provisioningState:
          $ref: '#/components/schemas/FleetMemberProvisioningState'
          description: The status of the last operation.
          readOnly: true
      required:
      - clusterResourceId
    FleetMember:
      type: object
      description: A member of the Fleet. It contains a reference to an existing Kubernetes cluster on Azure.
      properties:
        properties:
          $ref: '#/components/schemas/FleetMemberProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
        eTag:
          type: string
          description: If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.
          readOnly: true
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
    FleetMemberProvisioningState:
      type: string
      description: The provisioning state of the last accepted operation.
      enum:
      - Succeeded
      - Failed
      - Canceled
      - Joining
      - Leaving
      - Updating
      x-ms-enum:
        name: FleetMemberProvisioningState
        modelAsString: true
        values:
        - name: Succeeded
          value: Succeeded
          description: Resource has been created.
        - name: Failed
          value: Failed
          description: Resource creation failed.
        - name: Canceled
          value: Canceled
          description: Resource creation was canceled.
        - name: Joining
          value: Joining
          description: The provisioning state of a member joining a fleet.
        - name: Leaving
          value: Leaving
          description: The provisioning state of a member leaving a fleet.
        - name: Updating
          value: Updating
          description: The provisioning state of a member being updated.
      readOnly: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
