openapi: 3.2.0
info:
  title: Microsoft Azure CustomerInsightsManagementClient Role…
  description: The Azure Customer Insights management API provides a RESTful set of web services that interact with Azure Customer Insights service to manage your resources. The API has entities that capture the relationship between an end user and the Azure Customer Insights service.
  version: '2017-04-26'
  x-ms-code-generation-settings:
    name: CustomerInsightsManagementClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Role Assignments
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/roleAssignments
  : get:
      tags:
      - Role Assignments
      operationId: microsoftAzureRoleassignmentsListbyhub
      x-ms-examples:
        RoleAssignments_ListByHub:
          $ref: ./examples/RoleAssignmentsListByHub.json
      description: Gets all the role assignments for the specified hub.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hubName
        in: path
        required: true
        description: The name of the hub.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. Successfully get all the role assignment in the hub.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleAssignmentListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/roleAssignments/{assignmentName}
  : put:
      tags:
      - Role Assignments
      operationId: microsoftAzureRoleassignmentsCreateorupdate
      x-ms-examples:
        RoleAssignments_CreateOrUpdate:
          $ref: ./examples/RoleAssignmentsCreateOrUpdate.json
      description: Creates or updates a role assignment in the hub.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hubName
        in: path
        required: true
        description: The name of the hub.
        schema:
          type: string
      - name: assignmentName
        in: path
        required: true
        description: The assignment name
        schema:
          type: string
          maxLength: 128
          minLength: 1
          pattern: ^[a-zA-Z][a-zA-Z0-9_]+$
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. Successfully created the role assignment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleAssignmentResourceFormat'
        '202':
          description: Accepted. The create role assignment operation is accepted.
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleAssignmentResourceFormat'
        description: Parameters supplied to the CreateOrUpdate RoleAssignment operation.
        required: true
    get:
      tags:
      - Role Assignments
      operationId: microsoftAzureRoleassignmentsGet
      x-ms-examples:
        RoleAssignments_Get:
          $ref: ./examples/RoleAssignmentsGet.json
      description: Gets the role assignment in the hub.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hubName
        in: path
        required: true
        description: The name of the hub.
        schema:
          type: string
      - name: assignmentName
        in: path
        required: true
        description: The name of the role assignment.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. Successfully get the role assignment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleAssignmentResourceFormat'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    delete:
      tags:
      - Role Assignments
      operationId: microsoftAzureRoleassignmentsDelete
      x-ms-examples:
        RoleAssignments_Delete:
          $ref: ./examples/RoleAssignmentsDelete.json
      description: Deletes the role assignment in the hub.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hubName
        in: path
        required: true
        description: The name of the hub.
        schema:
          type: string
      - name: assignmentName
        in: path
        required: true
        description: The name of the role assignment.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. The role assignment is deleted.
        '202':
          description: Accepted. The delete operation is accepted.
        '204':
          description: NoContent. Successfully requested delete operation, but the response is intentionally empty.
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    ProxyResource:
      properties:
        id:
          readOnly: true
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
      x-ms-azure-resource: true
      description: Common properties of proxy resource.
    RoleAssignmentResourceFormat:
      description: The Role Assignment resource format.
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/RoleAssignment'
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
    ProvisioningState:
      type: string
      enum:
      - Provisioning
      - Succeeded
      - Expiring
      - Deleting
      - HumanIntervention
      - Failed
      x-ms-enum:
        name: ProvisioningStates
        modelAsString: true
      description: Provisioning state.
    RoleAssignmentListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/RoleAssignmentResourceFormat'
          description: Results of the list operation.
        nextLink:
          type: string
          description: Link to the next set of results.
      description: The response of list role assignment operation.
    AssignmentPrincipal:
      description: The AssignmentPrincipal
      required:
      - principalId
      - principalType
      properties:
        principalId:
          type: string
          description: The principal id being assigned to.
        principalType:
          type: string
          description: The Type of the principal ID.
        principalMetadata:
          type: object
          additionalProperties:
            type: string
          description: Other metadata for the principal.
    ResourceSetDescription:
      description: The resource set description.
      properties:
        elements:
          type: array
          items:
            type: string
          description: The elements included in the set.
        exceptions:
          type: array
          items:
            type: string
          description: The elements that are not included in the set, in case elements contains '*' indicating 'all'.
    RoleAssignment:
      description: The Role Assignment definition.
      required:
      - role
      - principals
      properties:
        tenantId:
          type: string
          readOnly: true
          description: The hub name.
        assignmentName:
          type: string
          readOnly: true
          description: The name of the metadata object.
        displayName:
          type: object
          additionalProperties:
            type: string
          description: Localized display names for the metadata.
        description:
          type: object
          additionalProperties:
            type: string
          description: Localized description for the metadata.
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          readOnly: true
          description: Provisioning state.
        role:
          type: string
          enum:
          - Admin
          - Reader
          - ManageAdmin
          - ManageReader
          - DataAdmin
          - DataReader
          x-ms-enum:
            name: RoleTypes
            modelAsString: false
          description: Type of roles.
        principals:
          type: array
          items:
            $ref: '#/components/schemas/AssignmentPrincipal'
          description: The principals being assigned to.
        profiles:
          $ref: '#/components/schemas/ResourceSetDescription'
          description: Profiles set for the assignment.
        interactions:
          $ref: '#/components/schemas/ResourceSetDescription'
          description: Interactions set for the assignment.
        links:
          $ref: '#/components/schemas/ResourceSetDescription'
          description: Links set for the assignment.
        kpis:
          $ref: '#/components/schemas/ResourceSetDescription'
          description: Kpis set for the assignment.
        sasPolicies:
          $ref: '#/components/schemas/ResourceSetDescription'
          description: Sas Policies set for the assignment.
        connectors:
          $ref: '#/components/schemas/ResourceSetDescription'
          description: Connectors set for the assignment.
        views:
          $ref: '#/components/schemas/ResourceSetDescription'
          description: Views set for the assignment.
        relationshipLinks:
          $ref: '#/components/schemas/ResourceSetDescription'
          description: The Role assignments set for the relationship links.
        relationships:
          $ref: '#/components/schemas/ResourceSetDescription'
          description: The Role assignments set for the relationships.
        widgetTypes:
          $ref: '#/components/schemas/ResourceSetDescription'
          description: Widget types set for the assignment.
        roleAssignments:
          $ref: '#/components/schemas/ResourceSetDescription'
          description: The Role assignments set for the assignment.
        conflationPolicies:
          $ref: '#/components/schemas/ResourceSetDescription'
          description: Widget types set for the assignment.
        segments:
          $ref: '#/components/schemas/ResourceSetDescription'
          description: The Role assignments set for the assignment.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
