openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft.IoTOperationsMQ management…
  version: 2023-10-04-preview
  description: Microsoft.IoTOperationsMQ Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: DataLakeConnector
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTOperationsMQ/mq/{mqName}/dataLakeConnector
  : get:
      operationId: microsoftAzureDatalakeconnectorListbymqresource
      tags:
      - DataLakeConnector
      description: List DataLakeConnectorResource resources by MqResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: mqName
        in: path
        description: Name of MQ resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataLakeConnectorResourceListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        DataLakeConnector_ListByMqResource:
          $ref: ./examples/DataLakeConnector_ListByMqResource_MaximumSet_Gen.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTOperationsMQ/mq/{mqName}/dataLakeConnector/{dataLakeConnectorName}
  : get:
      operationId: microsoftAzureDatalakeconnectorGet
      tags:
      - DataLakeConnector
      description: Get a DataLakeConnectorResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: mqName
        in: path
        description: Name of MQ resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: dataLakeConnectorName
        in: path
        description: Name of MQ dataLakeConnector resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataLakeConnectorResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        DataLakeConnector_Get:
          $ref: ./examples/DataLakeConnector_Get_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      operationId: microsoftAzureDatalakeconnectorCreateorupdate
      tags:
      - DataLakeConnector
      description: Create a DataLakeConnectorResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: mqName
        in: path
        description: Name of MQ resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: dataLakeConnectorName
        in: path
        description: Name of MQ dataLakeConnector resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Resource 'DataLakeConnectorResource' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataLakeConnectorResource'
        '201':
          description: Resource 'DataLakeConnectorResource' create operation succeeded
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataLakeConnectorResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        DataLakeConnector_CreateOrUpdate:
          $ref: ./examples/DataLakeConnector_CreateOrUpdate_MaximumSet_Gen.json
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataLakeConnectorResource'
        description: Resource create parameters.
        required: true
    patch:
      operationId: microsoftAzureDatalakeconnectorUpdate
      tags:
      - DataLakeConnector
      description: Update a DataLakeConnectorResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: mqName
        in: path
        description: Name of MQ resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: dataLakeConnectorName
        in: path
        description: Name of MQ dataLakeConnector resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataLakeConnectorResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        DataLakeConnector_Update:
          $ref: ./examples/DataLakeConnector_Update_MaximumSet_Gen.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataLakeConnectorResourceUpdate'
        description: The resource properties to be updated.
        required: true
    delete:
      operationId: microsoftAzureDatalakeconnectorDelete
      tags:
      - DataLakeConnector
      description: Delete a DataLakeConnectorResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: mqName
        in: path
        description: Name of MQ resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: dataLakeConnectorName
        in: path
        description: Name of MQ dataLakeConnector resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        DataLakeConnector_Delete:
          $ref: ./examples/DataLakeConnector_Delete_MaximumSet_Gen.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    FabricGuids:
      type: object
      description: Fabric one lake guids.
      properties:
        lakehouseGuid:
          type: string
          description: Fabric one lake house guid.
        workspaceGuid:
          type: string
          description: Fabric one lake workspace guid.
      required:
      - lakehouseGuid
      - workspaceGuid
    DataLakeTargetStorageUpdate:
      type: object
      description: Target storage for the DataLake. NOTE - Enum only storage is supported at a time.
      properties:
        datalakeStorage:
          $ref: '#/components/schemas/DataLakeServiceStorageUpdate'
          description: DataLake service storage details.
        localStorage:
          $ref: '#/components/schemas/DataLakeLocalStorageUpdate'
          description: Local storage details.
        fabricOneLake:
          $ref: '#/components/schemas/DataLakeFabricStorageUpdate'
          description: Fabric one lake storage details.
    MqttProtocol:
      type: string
      description: Mqtt Protocol types
      enum:
      - v3
      - v5
      x-ms-enum:
        name: MqttProtocol
        modelAsString: true
        values:
        - name: v3
          value: v3
          description: Mqttv3
        - name: v5
          value: v5
          description: Mqttv5
    LocalBrokerConnectionSpec:
      type: object
      description: Mqtt Local Broker ConnectionSpec details
      properties:
        authentication:
          $ref: '#/components/schemas/LocalBrokerAuthenticationMethods'
          description: The authentication methods for LocalBroker connection. NOTE - Enum only one method at a time is supported.
        endpoint:
          type: string
          description: The endpoint of local broker to connect to.
          default: aio-mq-dmqtt-frontend:1883
        tls:
          $ref: '#/components/schemas/LocalBrokerConnectionTls'
          description: TLS details for Local broker Connection.
    NodeTolerationsUpdate:
      type: object
      description: Defines the Node Tolerations details
      properties:
        effect:
          type: string
          description: Toleration effect.
        key:
          type: string
          description: Toleration key.
        operator:
          type: string
          description: Toleration operator like 'Exists', 'Equal' etc.
        value:
          type: string
          description: Toleration Value.
    LocalBrokerKubernetesAuthentication:
      type: object
      description: Local Broker Kubernetes Authentication
      properties:
        secretPath:
          type: string
          description: Secret Path where SAT is mounted.
          default: /var/run/serviceaccount/localbroker
        serviceAccountTokenName:
          type: string
          description: Token name where SAT is mounted on secret path.
          default: sat
    LocalBrokerConnectionTls:
      type: object
      description: Mqtt Local Broker Connection TLS details
      properties:
        tlsEnabled:
          type: boolean
          description: Tls Enabled on Local Broker Connection.
          default: false
        trustedCaCertificateConfigMap:
          type: string
          description: Trusted CA certificate config map name for Local Broker.
    LocalBrokerAuthenticationMethods:
      type: object
      description: Mqtt Local Broker Authentication details. Only one method at a time is supported. Default - kubernetes authentication
      properties:
        kubernetes:
          $ref: '#/components/schemas/LocalBrokerKubernetesAuthentication'
          description: Kubernetes local broker authentication method.
      required:
      - kubernetes
    ManagedIdentityAuthenticationUpdate:
      type: object
      description: Managed identity authentication details.
      properties:
        audience:
          type: string
          description: Token audience.
        extensionName:
          type: string
          description: Arc Extension name.
    DataLakeFabricStorage:
      type: object
      description: DataLake Fabric Storage details.
      properties:
        authentication:
          $ref: '#/components/schemas/DataLakeFabricStorageAuthentication'
          description: DataLake fabric storage authentication details.
        endpoint:
          type: string
          description: DataLake fabric storage endpoint to use.
        fabricPath:
          $ref: '#/components/schemas/FabricPathType'
          description: Fabric path type to use.
        guids:
          $ref: '#/components/schemas/FabricGuids'
          description: Fabric one lake Guids.
        names:
          $ref: '#/components/schemas/FabricNames'
          description: Fabric one lake Names.
      required:
      - authentication
      - endpoint
      - fabricPath
    LocalBrokerAuthenticationMethodsUpdate:
      type: object
      description: Mqtt Local Broker Authentication details. Only one method at a time is supported. Default - kubernetes authentication
      properties:
        kubernetes:
          $ref: '#/components/schemas/LocalBrokerKubernetesAuthentication'
          description: Kubernetes local broker authentication method.
    DataLakeLocalStorage:
      type: object
      description: DataLake Local Storage details.
      properties:
        volumeName:
          type: string
          description: Volume name to write to.
      required:
      - volumeName
    ManagedIdentityAuthentication:
      type: object
      description: Managed identity authentication details.
      properties:
        audience:
          type: string
          description: Token audience.
        extensionName:
          type: string
          description: Arc Extension name.
      required:
      - audience
    DataLakeLocalStorageUpdate:
      type: object
      description: DataLake Local Storage details.
      properties:
        volumeName:
          type: string
          description: Volume name to write to.
    LocalBrokerConnectionSpecUpdate:
      type: object
      description: Mqtt Local Broker ConnectionSpec details
      properties:
        authentication:
          $ref: '#/components/schemas/LocalBrokerAuthenticationMethodsUpdate'
          description: The authentication methods for LocalBroker connection. NOTE - Enum only one method at a time is supported.
        endpoint:
          type: string
          description: The endpoint of local broker to connect to.
          default: aio-mq-dmqtt-frontend:1883
        tls:
          $ref: '#/components/schemas/LocalBrokerConnectionTls'
          description: TLS details for Local broker Connection.
    DataLakeServiceStorage:
      type: object
      description: DataLake Service Storage details.
      properties:
        endpoint:
          type: string
          description: DataLake service storage endpoint to use.
        authentication:
          $ref: '#/components/schemas/DataLakeServiceStorageAuthentication'
          description: DataLake service storage authentication details. NOTE - Enum only one method is supported.
      required:
      - endpoint
      - authentication
    ProvisioningState:
      type: string
      description: The enum defining status of resource.
      enum:
      - Succeeded
      - Failed
      - Canceled
      - Provisioning
      - Updating
      - Deleting
      - Accepted
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: Succeeded
          value: Succeeded
          description: Resource has been created.
        - name: Failed
          value: Failed
          description: Resource creation failed.
        - name: Canceled
          value: Canceled
          description: Resource creation was canceled.
        - name: Provisioning
          value: Provisioning
          description: Resource is getting provisioned.
        - name: Updating
          value: Updating
          description: Resource is Updating.
        - name: Deleting
          value: Deleting
          description: Resource is Deleting.
        - name: Accepted
          value: Accepted
          description: Resource has been Accepted.
    ExtendedLocationType:
      type: string
      description: The enum defining type of ExtendedLocation accepted.
      enum:
      - CustomLocation
      x-ms-enum:
        name: ExtendedLocationType
        modelAsString: true
        values:
        - name: CustomLocation
          value: CustomLocation
          description: CustomLocation type
    NodeTolerations:
      type: object
      description: Defines the Node Tolerations details
      properties:
        effect:
          type: string
          description: Toleration effect.
        key:
          type: string
          description: Toleration key.
        operator:
          type: string
          description: Toleration operator like 'Exists', 'Equal' etc.
        value:
          type: string
          description: Toleration Value.
      required:
      - effect
      - key
      - operator
      - value
    FabricNamesUpdate:
      type: object
      description: Fabric one lake names.
      properties:
        lakehouseName:
          type: string
          description: Fabric one lake house name.
        workspaceName:
          type: string
          description: Fabric one lake workspace name.
    DataLakeServiceStorageAuthentication:
      type: object
      description: DataLake Service Storage authentication details. NOTE - Enum only one method is supported.
      properties:
        accessTokenSecretName:
          type: string
          description: Access token secret name.
        systemAssignedManagedIdentity:
          $ref: '#/components/schemas/ManagedIdentityAuthentication'
          description: Configuration for managed identity authentication.
    DataLakeConnectorResourceUpdateProperties:
      type: object
      description: The updatable properties of the DataLakeConnectorResource.
      properties:
        databaseFormat:
          $ref: '#/components/schemas/DataLakeDatabaseFormat'
          description: DataLake database format to use.
        image:
          $ref: '#/components/schemas/ContainerImageUpdate'
          description: The details of DataLakeConnector Docker Image.
        instances:
          type: integer
          format: int32
          description: The number of DataLakeConnector pods to spin up.
          minimum: 0
          maximum: 65535
        localBrokerConnection:
          $ref: '#/components/schemas/LocalBrokerConnectionSpecUpdate'
          description: The details for connecting with Local Broker.
        logLevel:
          type: string
          description: The log level of the DataLake Connector instances.
        nodeTolerations:
          $ref: '#/components/schemas/NodeTolerationsUpdate'
          description: The Node Tolerations for the DataLake Connector pods.
        protocol:
          $ref: '#/components/schemas/MqttProtocol'
          description: The protocol to use for connecting with Brokers.
        target:
          $ref: '#/components/schemas/DataLakeTargetStorageUpdate'
          description: The protocol to use for connecting with Brokers. NOTE - Enum only storage is supported at at time.
    DataLakeConnectorResource:
      type: object
      description: MQ dataLakeConnector resource
      properties:
        properties:
          $ref: '#/components/schemas/DataLakeConnectorProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
        extendedLocation:
          $ref: '#/components/schemas/ExtendedLocationProperty'
          description: Extended Location
          x-ms-mutability:
          - read
          - create
      required:
      - extendedLocation
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
    ContainerImageUpdate:
      type: object
      description: Defines the Docker image details
      properties:
        pullPolicy:
          type: string
          description: Image pull policy.
        pullSecrets:
          type: string
          description: Image pull secrets.
        repository:
          type: string
          description: The Docker image name.
        tag:
          type: string
          description: The Docker  image tag.
    DataLakeDatabaseFormat:
      type: string
      description: DataLake possible database formats
      enum:
      - delta
      - parquet
      x-ms-enum:
        name: DataLakeDatabaseFormat
        modelAsString: true
        values:
        - name: delta
          value: delta
          description: Delta format.
        - name: parquet
          value: parquet
          description: Parquet format.
    DataLakeFabricStorageAuthentication:
      type: object
      description: DataLake Fabric Storage authentication details.
      properties:
        systemAssignedManagedIdentity:
          $ref: '#/components/schemas/ManagedIdentityAuthentication'
          description: Configuration for managed identity authentication.
      required:
      - systemAssignedManagedIdentity
    FabricPathType:
      type: string
      description: Fabric path type to use.
      enum:
      - files
      - tables
      x-ms-enum:
        name: FabricPathType
        modelAsString: true
        values:
        - name: files
          value: files
          description: Fabric path type is Files.
        - name: tables
          value: tables
          description: Fabric path type is Tables.
    DataLakeServiceStorageAuthenticationUpdate:
      type: object
      description: DataLake Service Storage authentication details. NOTE - Enum only one method is supported.
      properties:
        accessTokenSecretName:
          type: string
          description: Access token secret name.
        systemAssignedManagedIdentity:
          $ref: '#/components/schemas/ManagedIdentityAuthenticationUpdate'
          description: Configuration for managed identity authentication.
    DataLakeConnectorProperties:
      type: object
      description: MQ DataLakeConnector  Resource properties
      properties:
        databaseFormat:
          $ref: '#/components/schemas/DataLakeDatabaseFormat'
          description: DataLake database format to use.
        image:
          $ref: '#/components/schemas/ContainerImage'
          description: The details of DataLakeConnector Docker Image.
        instances:
          type: integer
          format: int32
          description: The number of DataLakeConnector pods to spin up.
          minimum: 0
          maximum: 65535
        localBrokerConnection:
          $ref: '#/components/schemas/LocalBrokerConnectionSpec'
          description: The details for connecting with Local Broker.
        logLevel:
          type: string
          description: The log level of the DataLake Connector instances.
        nodeTolerations:
          $ref: '#/components/schemas/NodeTolerations'
          description: The Node Tolerations for the DataLake Connector pods.
        protocol:
          $ref: '#/components/schemas/MqttProtocol'
          description: The protocol to use for connecting with Brokers.
        target:
          $ref: '#/components/schemas/DataLakeTargetStorage'
          description: The protocol to use for connecting with Brokers. NOTE - Enum only storage is supported at at time.
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The status of the last operation.
          readOnly: true
      required:
      - databaseFormat
      - image
      - protocol
      - target
    DataLakeFabricStorageAuthenticationUpdate:
      type: object
      description: DataLake Fabric Storage authentication details.
      properties:
        systemAssignedManagedIdentity:
          $ref: '#/components/schemas/ManagedIdentityAuthenticationUpdate'
          description: Configuration for managed identity authentication.
    ContainerImage:
      type: object
      description: Defines the Docker image details
      properties:
        pullPolicy:
          type: string
          description: Image pull policy.
        pullSecrets:
          type: string
          description: Image pull secrets.
        repository:
          type: string
          description: The Docker image name.
        tag:
          type: string
          description: The Docker  image tag.
      required:
      - repository
      - tag
    ExtendedLocationProperty:
      type: object
      description: ExtendedLocation properties
      properties:
        name:
          type: string
          description: The name of the extended location.
        type:
          $ref: '#/components/schemas/ExtendedLocationType'
          description: Type of ExtendedLocation.
      required:
      - name
      - type
    DataLakeConnectorResourceListResult:
      type: object
      description: The response of a DataLakeConnectorResource list operation.
      properties:
        value:
          type: array
          description: The DataLakeConnectorResource items on this page
          items:
            $ref: '#/components/schemas/DataLakeConnectorResource'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    DataLakeFabricStorageUpdate:
      type: object
      description: DataLake Fabric Storage details.
      properties:
        authentication:
          $ref: '#/components/schemas/DataLakeFabricStorageAuthenticationUpdate'
          description: DataLake fabric storage authentication details.
        endpoint:
          type: string
          description: DataLake fabric storage endpoint to use.
        fabricPath:
          $ref: '#/components/schemas/FabricPathType'
          description: Fabric path type to use.
        guids:
          $ref: '#/components/schemas/FabricGuidsUpdate'
          description: Fabric one lake Guids.
        names:
          $ref: '#/components/schemas/FabricNamesUpdate'
          description: Fabric one lake Names.
    DataLakeServiceStorageUpdate:
      type: object
      description: DataLake Service Storage details.
      properties:
        endpoint:
          type: string
          description: DataLake service storage endpoint to use.
        authentication:
          $ref: '#/components/schemas/DataLakeServiceStorageAuthenticationUpdate'
          description: DataLake service storage authentication details. NOTE - Enum only one method is supported.
    FabricNames:
      type: object
      description: Fabric one lake names.
      properties:
        lakehouseName:
          type: string
          description: Fabric one lake house name.
        workspaceName:
          type: string
          description: Fabric one lake workspace name.
      required:
      - lakehouseName
      - workspaceName
    DataLakeTargetStorage:
      type: object
      description: Target storage for the DataLake. NOTE - Enum only storage is supported at a time.
      properties:
        datalakeStorage:
          $ref: '#/components/schemas/DataLakeServiceStorage'
          description: DataLake service storage details.
        localStorage:
          $ref: '#/components/schemas/DataLakeLocalStorage'
          description: Local storage details.
        fabricOneLake:
          $ref: '#/components/schemas/DataLakeFabricStorage'
          description: Fabric one lake storage details.
    DataLakeConnectorResourceUpdate:
      type: object
      description: The type used for update operations of the DataLakeConnectorResource.
      properties:
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
        properties:
          $ref: '#/components/schemas/DataLakeConnectorResourceUpdateProperties'
          x-ms-client-flatten: true
    FabricGuidsUpdate:
      type: object
      description: Fabric one lake guids.
      properties:
        lakehouseGuid:
          type: string
          description: Fabric one lake house guid.
        workspaceGuid:
          type: string
          description: Fabric one lake workspace guid.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
