openapi: 3.2.0
info:
  title: Microsoft Azure NetworkResourceProviderClient Application…
  description: The Windows Azure Network management API provides a RESTful set of web services that interact with Windows Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Windows Azure Networks service.
  version: 2015-05-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Application Gateways
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}
  : delete:
      tags:
      - Application Gateways
      operationId: microsoftAzureApplicationgatewaysDelete
      description: The delete application gateway operation deletes the specified application gateway.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: applicationGatewayName
        in: path
        required: true
        description: The name of the application gateway.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
        '202':
          description: ''
        '204':
          description: ''
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    get:
      tags:
      - Application Gateways
      operationId: microsoftAzureApplicationgatewaysGet
      description: The Get application gateway operation retrieves information about the specified application gateway.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: applicationGatewayName
        in: path
        required: true
        description: The name of the application gateway.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/ApplicationGateway'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Application Gateways
      operationId: microsoftAzureApplicationgatewaysCreateorupdate
      description: The Put ApplicationGateway operation creates/updates a ApplicationGateway
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: applicationGatewayName
        in: path
        required: true
        description: The name of the ApplicationGateway.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/ApplicationGateway'
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/ApplicationGateway'
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationGateway'
          text/json:
            schema:
              $ref: '#/components/schemas/ApplicationGateway'
        description: Parameters supplied to the create/delete ApplicationGateway operation
        required: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways:
    get:
      tags:
      - Application Gateways
      operationId: microsoftAzureApplicationgatewaysList
      description: The List ApplicationGateway operation retrieves all the application gateways in a resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGatewayListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ApplicationGatewayListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGateways:
    get:
      tags:
      - Application Gateways
      operationId: microsoftAzureApplicationgatewaysListall
      description: The List application gateway operation retrieves all the application gateways in a subscription.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGatewayListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ApplicationGatewayListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Network…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/start
  : post:
      tags:
      - Application Gateways
      operationId: microsoftAzureApplicationgatewaysStart
      description: The Start ApplicationGateway operation starts application gateway in the specified resource group through Network resource provider.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: applicationGatewayName
        in: path
        required: true
        description: The name of the application gateway.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '202':
          description: ''
      x-ms-long-running-operation: true
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/stop
  : post:
      tags:
      - Application Gateways
      operationId: microsoftAzureApplicationgatewaysStop
      description: The STOP ApplicationGateway operation stops application gateway in the specified resource group through Network resource provider.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: applicationGatewayName
        in: path
        required: true
        description: The name of the application gateway.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
        '202':
          description: ''
      x-ms-long-running-operation: true
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    ApplicationGatewayRequestRoutingRulePropertiesFormat:
      properties:
        ruleType:
          type: string
          description: Gets or sets the rule type
          enum:
          - Basic
          x-ms-enum:
            name: ApplicationGatewayRequestRoutingRuleType
            modelAsString: true
        backendAddressPool:
          $ref: '#/components/schemas/SubResource'
          description: 'Gets or sets backend address pool resource of application gateway '
        backendHttpSettings:
          $ref: '#/components/schemas/SubResource'
          description: 'Gets or sets frontend port resource of application gateway '
        httpListener:
          $ref: '#/components/schemas/SubResource'
          description: 'Gets or sets http listener resource of application gateway '
        provisioningState:
          type: string
          description: Gets or sets Provisioning state of the request routing rule resource Updating/Deleting/Failed
      description: Properties of Request routing rule of application gateway
    ApplicationGatewaySslCertificatePropertiesFormat:
      properties:
        data:
          type: string
          description: 'Gets or sets the certificate data '
        password:
          type: string
          description: 'Gets or sets the certificate password '
        publicCertData:
          type: string
          description: 'Gets or sets the certificate public data '
        provisioningState:
          type: string
          description: Gets or sets Provisioning state of the ssl certificate resource Updating/Deleting/Failed
      description: Properties of SSL certificates of application gateway
    ApplicationGatewayIPConfiguration:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ApplicationGatewayIPConfigurationPropertiesFormat'
        name:
          type: string
          description: Gets name of the resource that is unique within a resource group. This name can be used to access the resource
        etag:
          type: string
          description: A unique read-only string that changes whenever the resource is updated
      allOf:
      - $ref: '#/components/schemas/SubResource'
      description: IP configuration of application gateway
    ApplicationGatewayFrontendIPConfigurationPropertiesFormat:
      properties:
        privateIPAddress:
          type: string
          description: Gets or sets the privateIPAddress of the Network Interface IP Configuration
        privateIPAllocationMethod:
          type: string
          description: Gets or sets PrivateIP allocation method (Static/Dynamic)
          enum:
          - Static
          - Dynamic
          x-ms-enum:
            name: IpAllocationMethod
            modelAsString: true
        subnet:
          $ref: '#/components/schemas/SubResource'
          description: Gets or sets the reference of the subnet resource
        publicIPAddress:
          $ref: '#/components/schemas/SubResource'
          description: Gets or sets the reference of the PublicIP resource
        provisioningState:
          type: string
          description: Gets or sets Provisioning state of the PublicIP resource Updating/Deleting/Failed
      description: Properties of Frontend IP configuration of application gateway
    ApplicationGatewaySslCertificate:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ApplicationGatewaySslCertificatePropertiesFormat'
        name:
          type: string
          description: Gets name of the resource that is unique within a resource group. This name can be used to access the resource
        etag:
          type: string
          description: A unique read-only string that changes whenever the resource is updated
      allOf:
      - $ref: '#/components/schemas/SubResource'
      description: SSL certificates of application gateway
    ApplicationGatewayBackendHttpSettingsPropertiesFormat:
      properties:
        port:
          type: integer
          format: int32
          description: Gets or sets the port
        protocol:
          type: string
          description: Gets or sets the protocol
          enum:
          - Http
          - Https
          x-ms-enum:
            name: ApplicationGatewayProtocol
            modelAsString: true
        cookieBasedAffinity:
          type: string
          description: Gets or sets the cookie affinity
          enum:
          - Enabled
          - Disabled
          x-ms-enum:
            name: ApplicationGatewayCookieBasedAffinity
            modelAsString: true
        provisioningState:
          type: string
          description: Gets or sets Provisioning state of the backend http settings resource Updating/Deleting/Failed
      description: Properties of Backend address pool settings of application gateway
    ApplicationGateway:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ApplicationGatewayPropertiesFormat'
        etag:
          type: string
          description: Gets a unique read-only string that changes whenever the resource is updated
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: ApplicationGateways resource
    ApplicationGatewayIPConfigurationPropertiesFormat:
      properties:
        subnet:
          $ref: '#/components/schemas/SubResource'
          description: 'Gets or sets the reference of the subnet resource.A subnet from where application gateway gets its private address '
        provisioningState:
          type: string
          description: Gets or sets Provisioning state of the application gateway subnet resource Updating/Deleting/Failed
      description: Properties of IP configuration of application gateway
    ApplicationGatewayBackendAddressPoolPropertiesFormat:
      properties:
        backendIPConfigurations:
          type: array
          items:
            $ref: '#/components/schemas/SubResource'
          description: 'Gets or sets backendIPConfiguration of application gateway '
        backendAddresses:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationGatewayBackendAddress'
          description: Gets or sets the backend addresses
        provisioningState:
          type: string
          description: Gets or sets Provisioning state of the backend address pool resource Updating/Deleting/Failed
      description: Properties of Backend Address Pool of application gateway
    ApplicationGatewayListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationGateway'
          description: Gets a list of ApplicationGateways in a resource group
        nextLink:
          type: string
          description: Gets the URL to get the next set of results.
      description: Response for ListLoadBalancers Api service call
    ApplicationGatewayBackendAddressPool:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ApplicationGatewayBackendAddressPoolPropertiesFormat'
        name:
          type: string
          description: Gets name of the resource that is unique within a resource group. This name can be used to access the resource
        etag:
          type: string
          description: A unique read-only string that changes whenever the resource is updated
      allOf:
      - $ref: '#/components/schemas/SubResource'
      description: Backend Address Pool of application gateway
    ApplicationGatewayFrontendPortPropertiesFormat:
      properties:
        port:
          type: integer
          format: int32
          description: Gets or sets the frontend port
        provisioningState:
          type: string
          description: Gets or sets Provisioning state of the frontend port resource Updating/Deleting/Failed
      description: Properties of Frontend Port of application gateway
    ApplicationGatewayBackendAddress:
      properties:
        fqdn:
          type: string
          description: Gets or sets the dns name
        ipAddress:
          type: string
          description: Gets or sets the ip address
      description: Backend Address of application gateway
    ApplicationGatewayFrontendIPConfiguration:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ApplicationGatewayFrontendIPConfigurationPropertiesFormat'
        name:
          type: string
          description: Gets name of the resource that is unique within a resource group. This name can be used to access the resource
        etag:
          type: string
          description: A unique read-only string that changes whenever the resource is updated
      allOf:
      - $ref: '#/components/schemas/SubResource'
      description: Frontend IP configuration of application gateway
    ApplicationGatewayRequestRoutingRule:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ApplicationGatewayRequestRoutingRulePropertiesFormat'
        name:
          type: string
          description: Gets name of the resource that is unique within a resource group. This name can be used to access the resource
        etag:
          type: string
          description: A unique read-only string that changes whenever the resource is updated
      allOf:
      - $ref: '#/components/schemas/SubResource'
      description: Request routing rule of application gateway
    ApplicationGatewayHttpListenerPropertiesFormat:
      properties:
        frontendIPConfiguration:
          $ref: '#/components/schemas/SubResource'
          description: 'Gets or sets frontend IP configuration resource of application gateway '
        frontendPort:
          $ref: '#/components/schemas/SubResource'
          description: 'Gets or sets frontend port resource of application gateway '
        protocol:
          type: string
          description: Gets or sets the protocol
          enum:
          - Http
          - Https
          x-ms-enum:
            name: ApplicationGatewayProtocol
            modelAsString: true
        sslCertificate:
          $ref: '#/components/schemas/SubResource'
          description: 'Gets or sets ssl certificate resource of application gateway '
        provisioningState:
          type: string
          description: Gets or sets Provisioning state of the http listener resource Updating/Deleting/Failed
      description: Properties of Http listener of application gateway
    Resource:
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        location:
          type: string
          description: Resource location
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
      required:
      - location
      x-ms-azure-resource: true
    ApplicationGatewayBackendHttpSettings:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ApplicationGatewayBackendHttpSettingsPropertiesFormat'
        name:
          type: string
          description: Gets name of the resource that is unique within a resource group. This name can be used to access the resource
        etag:
          type: string
          description: A unique read-only string that changes whenever the resource is updated
      allOf:
      - $ref: '#/components/schemas/SubResource'
      description: Backend address pool settings of application gateway
    SubResource:
      properties:
        id:
          type: string
          description: Resource Id
      x-ms-azure-resource: true
    ApplicationGatewayHttpListener:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ApplicationGatewayHttpListenerPropertiesFormat'
        name:
          type: string
          description: Gets name of the resource that is unique within a resource group. This name can be used to access the resource
        etag:
          type: string
          description: A unique read-only string that changes whenever the resource is updated
      allOf:
      - $ref: '#/components/schemas/SubResource'
      description: Http listener of application gateway
    ApplicationGatewaySku:
      properties:
        name:
          type: string
          description: Gets or sets name of application gateway SKU
          enum:
          - Standard_Small
          - Standard_Medium
          - Standard_Large
          x-ms-enum:
            name: ApplicationGatewaySkuName
            modelAsString: true
        tier:
          type: string
          description: Gets or sets tier of application gateway
          enum:
          - Standard
          x-ms-enum:
            name: ApplicationGatewayTier
            modelAsString: true
        capacity:
          type: integer
          format: int32
          description: Gets or sets capacity (instance count) of application gateway
      description: SKU of application gateway
    ApplicationGatewayFrontendPort:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ApplicationGatewayFrontendPortPropertiesFormat'
        name:
          type: string
          description: Gets name of the resource that is unique within a resource group. This name can be used to access the resource
        etag:
          type: string
          description: A unique read-only string that changes whenever the resource is updated
      allOf:
      - $ref: '#/components/schemas/SubResource'
      description: Frontend Port of application gateway
    ApplicationGatewayPropertiesFormat:
      properties:
        sku:
          $ref: '#/components/schemas/ApplicationGatewaySku'
          description: Gets or sets sku of application gateway resource
        operationalState:
          readOnly: true
          type: string
          description: Gets operational state of application gateway resource
          enum:
          - Stopped
          - Starting
          - Running
          - Stopping
          x-ms-enum:
            name: ApplicationGatewayOperationalState
            modelAsString: true
        gatewayIPConfigurations:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationGatewayIPConfiguration'
          description: Gets or sets subnets of application gateway resource
        sslCertificates:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationGatewaySslCertificate'
          description: Gets or sets ssl certificates of application gateway resource
        frontendIPConfigurations:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationGatewayFrontendIPConfiguration'
          description: Gets or sets frontend IP addresses of application gateway resource
        frontendPorts:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationGatewayFrontendPort'
          description: Gets or sets frontend ports of application gateway resource
        backendAddressPools:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationGatewayBackendAddressPool'
          description: Gets or sets backend address pool of application gateway resource
        backendHttpSettingsCollection:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationGatewayBackendHttpSettings'
          description: Gets or sets backend http settings of application gateway resource
        httpListeners:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationGatewayHttpListener'
          description: Gets or sets HTTP listeners of application gateway resource
        requestRoutingRules:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationGatewayRequestRoutingRule'
          description: Gets or sets request routing rules of application gateway resource
        resourceGuid:
          type: string
          description: Gets or sets resource guid property of the ApplicationGateway resource
        provisioningState:
          type: string
          description: Gets or sets Provisioning state of the ApplicationGateway resource Updating/Deleting/Failed
      description: Properties of Application Gateway
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
