openapi: 3.2.0
info:
  version: 2021-10-15-preview
  title: Microsoft Azure EventGridManagementClient Partner Topics API
  description: Azure EventGrid Management Client
servers:
- url: https://management.azure.com
tags:
- name: PartnerTopics
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/partnerTopics/{partnerTopicName}
  : get:
      tags:
      - PartnerTopics
      summary: Microsoft Azure Get A Partner Topic
      description: Get properties of a partner topic.
      operationId: microsoftAzurePartnertopicsGet
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: partnerTopicName
        in: path
        description: Name of the partner topic.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerTopic'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        PartnerTopics_Get:
          $ref: ./examples/PartnerTopics_Get.json
    put:
      tags:
      - PartnerTopics
      summary: Microsoft Azure Create A Partner Topic
      description: Asynchronously creates a new partner topic with the specified parameters.
      operationId: microsoftAzurePartnertopicsCreateorupdate
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: partnerTopicName
        in: path
        description: Name of the partner topic.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerTopic'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerTopic'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        PartnerTopics_CreateOrUpdate:
          $ref: ./examples/PartnerTopics_CreateOrUpdate.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerTopic'
        description: Partner Topic information.
        required: true
    delete:
      tags:
      - PartnerTopics
      summary: Microsoft Azure Delete A Partner Topic
      description: Delete existing partner topic.
      operationId: microsoftAzurePartnertopicsDelete
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: partnerTopicName
        in: path
        description: Name of the partner topic.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: NoContent
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 404 Not Found.\n\n * 500 Internal Server Error."
      x-ms-examples:
        PartnerTopics_Delete:
          $ref: ./examples/PartnerTopics_Delete.json
      x-ms-long-running-operation: true
    patch:
      tags:
      - PartnerTopics
      summary: Microsoft Azure Update A Partner Topic
      description: Asynchronously updates a partner topic with the specified parameters.
      operationId: microsoftAzurePartnertopicsUpdate
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: partnerTopicName
        in: path
        description: Name of the partner topic.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
        '201':
          description: Partner Topic update request accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerTopic'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        PartnerTopics_Update:
          $ref: ./examples/PartnerTopics_Update.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerTopicUpdateParameters'
        description: PartnerTopic update information.
        required: true
  /subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/partnerTopics:
    get:
      tags:
      - PartnerTopics
      summary: Microsoft Azure List Partner Topics Under An Azure Subscription
      description: List all the partner topics under an Azure subscription.
      operationId: microsoftAzurePartnertopicsListbysubscription
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/FilterParameter'
      - $ref: '#/components/parameters/TopParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerTopicsListResult'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        PartnerTopics_ListBySubscription:
          $ref: ./examples/PartnerTopics_ListBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/partnerTopics:
    get:
      tags:
      - PartnerTopics
      summary: Microsoft Azure List Partner Topics Under A Resource Group
      description: List all the partner topics under a resource group.
      operationId: microsoftAzurePartnertopicsListbyresourcegroup
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/FilterParameter'
      - $ref: '#/components/parameters/TopParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerTopicsListResult'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        PartnerTopics_ListByResourceGroup:
          $ref: ./examples/PartnerTopics_ListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/partnerTopics/{partnerTopicName}/activate
  : post:
      tags:
      - PartnerTopics
      summary: Microsoft Azure Activate A Partner Topic
      description: Activate a newly created partner topic.
      operationId: microsoftAzurePartnertopicsActivate
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: partnerTopicName
        in: path
        description: Name of the partner topic.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerTopic'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        PartnerTopics_Activate:
          $ref: ./examples/PartnerTopics_Activate.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/partnerTopics/{partnerTopicName}/deactivate
  : post:
      tags:
      - PartnerTopics
      summary: Microsoft Azure Deactivate A Partner Topic
      description: Deactivate specific partner topic.
      operationId: microsoftAzurePartnertopicsDeactivate
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: partnerTopicName
        in: path
        description: Name of the partner topic.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerTopic'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        PartnerTopics_Deactivate:
          $ref: ./examples/PartnerTopics_Deactivate.json
components:
  schemas:
    PartnerTopicUpdateParameters:
      description: Properties of the Partner Topic update.
      type: object
      properties:
        tags:
          description: Tags of the Partner Topic resource.
          type: object
          additionalProperties:
            type: string
        identity:
          $ref: '#/components/schemas/IdentityInfo'
          description: Identity information for the Partner Topic resource.
    PartnerTopicProperties:
      description: Properties of the Partner Topic.
      type: object
      properties:
        partnerRegistrationImmutableId:
          format: uuid
          description: The immutableId of the corresponding partner registration.
          type: string
        source:
          description: Source associated with this partner topic. This represents a unique partner resource.
          type: string
        eventTypeInfo:
          $ref: '#/components/schemas/EventTypeInfo'
          description: Event Type information from the corresponding event channel.
        expirationTimeIfNotActivatedUtc:
          format: date-time
          description: 'Expiration time of the partner topic. If this timer expires while the partner topic is still never activated,

            the partner topic and corresponding event channel are deleted.'
          type: string
        provisioningState:
          description: Provisioning state of the partner topic.
          enum:
          - Creating
          - Updating
          - Deleting
          - Succeeded
          - Canceled
          - Failed
          type: string
          readOnly: true
          x-ms-enum:
            name: PartnerTopicProvisioningState
            modelAsString: true
        activationState:
          description: Activation state of the partner topic.
          enum:
          - NeverActivated
          - Activated
          - Deactivated
          type: string
          x-ms-enum:
            name: PartnerTopicActivationState
            modelAsString: true
        partnerTopicFriendlyDescription:
          description: 'Friendly description about the topic. This can be set by the publisher/partner to show custom description for the customer partner topic.

            This will be helpful to remove any ambiguity of the origin of creation of the partner topic for the customer.'
          type: string
        messageForActivation:
          description: Context or helpful message that can be used during the approval process by the subscriber.
          type: string
    IdentityInfo:
      description: The identity information for the resource.
      type: object
      properties:
        type:
          description: The type of managed identity used. The type 'SystemAssigned, UserAssigned' includes both an implicitly created identity and a set of user-assigned identities. The type 'None' will remove any identity.
          enum:
          - None
          - SystemAssigned
          - UserAssigned
          - SystemAssigned, UserAssigned
          type: string
          x-ms-enum:
            name: IdentityType
            modelAsString: true
        principalId:
          description: The principal ID of resource identity.
          type: string
        tenantId:
          description: The tenant ID of resource.
          type: string
        userAssignedIdentities:
          description: 'The list of user identities associated with the resource. The user identity dictionary key references will be ARM resource ids in the form:

            ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.

            This property is currently not used and reserved for future usage.'
          type: object
          additionalProperties:
            $ref: '#/components/schemas/UserIdentityProperties'
    EventTypeInfo:
      description: The event type information for Channels.
      type: object
      properties:
        kind:
          description: The kind of event type used.
          enum:
          - Inline
          type: string
          x-ms-enum:
            name: EventDefinitionKind
            modelAsString: true
        inlineEventTypes:
          description: 'A collection of inline event types for the resource. The inline event type keys are of type string which represents the name of the event.

            An example of a valid inline event name is "Contoso.OrderCreated".

            The inline event type values are of type InlineEventProperties and will contain additional information for every inline event type.'
          type: object
          additionalProperties:
            $ref: '#/components/schemas/InlineEventProperties'
    InlineEventProperties:
      description: Additional information about every inline event.
      type: object
      properties:
        description:
          description: The description for the inline event.
          type: string
        documentationUrl:
          description: The documentationUrl for the inline event.
          type: string
        dataSchemaUrl:
          description: The dataSchemaUrl for the inline event.
          type: string
    PartnerTopic:
      description: Event Grid Partner Topic.
      type: object
      allOf:
      - $ref: '#/components/schemas/TrackedResource'
      properties:
        properties:
          $ref: '#/components/schemas/PartnerTopicProperties'
          description: Properties of the Partner Topic.
          x-ms-client-flatten: true
        systemData:
          description: The system metadata relating to Partner Topic resource.
          type: object
          readOnly: true
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
        identity:
          $ref: '#/components/schemas/IdentityInfo'
          description: Identity information for the Partner Topic resource.
    Resource:
      description: Definition of a Resource
      type: object
      properties:
        id:
          description: Fully qualified identifier of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the resource.
          type: string
          readOnly: true
        type:
          description: Type of the resource.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    TrackedResource:
      description: Definition of a Tracked Resource.
      required:
      - location
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        location:
          description: Location of the resource.
          type: string
          x-ms-mutability:
          - read
          - create
        tags:
          description: Tags of the resource.
          type: object
          additionalProperties:
            type: string
    UserIdentityProperties:
      description: The information about the user identity.
      type: object
      properties:
        principalId:
          description: The principal id of user assigned identity.
          type: string
        clientId:
          description: The client id of user assigned identity.
          type: string
    PartnerTopicsListResult:
      description: Result of the List Partner Topics operation.
      type: object
      properties:
        value:
          description: A collection of partner topics.
          type: array
          items:
            $ref: '#/components/schemas/PartnerTopic'
        nextLink:
          description: A link for the next page of partner topics.
          type: string
  parameters:
    FilterParameter:
      name: $filter
      in: query
      description: 'The query used to filter the search results using OData syntax. Filtering is permitted on the ''name'' property only and with limited number of OData operations. These operations are: the ''contains'' function as well as the following logical operations: not, and, or, eq (for equal), and ne (for not equal). No arithmetic operations are supported. The following is a valid filter example: $filter=contains(namE, ''PATTERN'') and name ne ''PATTERN-1''. The following is not a valid filter example: $filter=location eq ''westus''.'
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Version of the API to be used with the client request.
      required: true
      schema:
        type: string
    TopParameter:
      name: $top
      in: query
      description: The number of results to return per page for the list operation. Valid range for top parameter is 1 to 100. If not specified, the default number of results to be returned is 20 items per page.
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
