openapi: 3.2.0
info:
  title: Microsoft Azure MicrosoftScanningClient Scan Result API
  description: Creates a Microsoft.Scanning management client.
  version: 2022-07-01-preview
servers:
- url: https://purview.azure.com/scan
security:
- azure_auth:
  - user_impersonation
tags:
- name: Scan Result
paths:
  /datasources/{dataSourceName}/scans/{scanName}/runs/{runId}:
    put:
      tags:
      - Scan Result
      description: Runs the scan
      operationId: microsoftAzureScanresultRunscan
      parameters:
      - in: path
        name: dataSourceName
        required: true
        schema:
          type: string
      - in: path
        name: scanName
        required: true
        schema:
          type: string
      - in: path
        name: runId
        required: true
        schema:
          type: string
      - in: query
        name: scanLevel
        x-ms-enum:
          name: ScanLevelType
          modelAsString: true
        schema:
          type: string
          enum:
          - Full
          - Incremental
      - $ref: '#/components/parameters/api-version'
      responses:
        '202':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        ScanResult_RunScan:
          $ref: ./examples/ScanResult_RunScan.json
      summary: Microsoft Azure Put Datasources Datasourcename Scans Scanname Runs Runid
  /datasources/{dataSourceName}/scans/{scanName}/runs/{runId}/:cancel:
    post:
      tags:
      - Scan Result
      description: Cancels a scan
      operationId: microsoftAzureScanresultCancelscan
      parameters:
      - in: path
        name: dataSourceName
        required: true
        schema:
          type: string
      - in: path
        name: scanName
        required: true
        schema:
          type: string
      - in: path
        name: runId
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '202':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        ScanResult_CancelScan:
          $ref: ./examples/ScanResult_CancelScan.json
      summary: Microsoft Azure Post Datasources Datasourcename Scans Scanname Runs Runid…
  /datasources/{dataSourceName}/scans/{scanName}/runs:
    get:
      tags:
      - Scan Result
      description: Lists the scan history of a scan
      operationId: microsoftAzureScanresultListscanhistory
      parameters:
      - in: path
        name: dataSourceName
        required: true
        schema:
          type: string
      - in: path
        name: scanName
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanHistoryList'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        ScanResult_ListScanHistory:
          $ref: ./examples/ScanResult_ListScanHistory.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Datasources Datasourcename Scans Scanname Runs
components:
  schemas:
    OperationResponse:
      type: object
      properties:
        scanResultId:
          format: uuid
          type: string
        startTime:
          format: date-time
          type: string
        endTime:
          format: date-time
          type: string
        status:
          enum:
          - Accepted
          - InProgress
          - TransientFailure
          - Succeeded
          - Failed
          - Canceled
          type: string
          x-ms-enum:
            name: OperationStatus
            modelAsString: true
        error:
          allOf:
          - $ref: '#/components/schemas/ErrorInfo'
    ErrorModel:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorModel'
    ErrorInfo:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorInfo'
    ScanResult:
      type: object
      properties:
        parentId:
          type: string
          readOnly: true
        id:
          type: string
          readOnly: true
        resourceId:
          type: string
          readOnly: true
        status:
          type: string
          readOnly: true
        assetsDiscovered:
          format: int64
          type: integer
          readOnly: true
        assetsClassified:
          format: int64
          type: integer
          readOnly: true
        diagnostics:
          allOf:
          - $ref: '#/components/schemas/ScanDiagnostics'
          readOnly: true
        startTime:
          format: date-time
          type: string
          readOnly: true
        queuedTime:
          format: date-time
          type: string
          readOnly: true
        pipelineStartTime:
          format: date-time
          type: string
          readOnly: true
        endTime:
          format: date-time
          type: string
          readOnly: true
        scanRulesetVersion:
          format: int32
          type: integer
          readOnly: true
        scanRulesetType:
          enum:
          - Custom
          - System
          type: string
          readOnly: true
          x-ms-enum:
            name: ScanRulesetType
            modelAsString: true
        scanLevelType:
          enum:
          - Full
          - Incremental
          type: string
          readOnly: true
          x-ms-enum:
            name: ScanLevelType
            modelAsString: true
        errorMessage:
          type: string
          readOnly: true
        error:
          allOf:
          - $ref: '#/components/schemas/ErrorModel'
          readOnly: true
        runType:
          type: string
          readOnly: true
        dataSourceType:
          enum:
          - None
          - AzureSubscription
          - AzureResourceGroup
          - AzureSynapseWorkspace
          - AzureSynapse
          - AdlsGen1
          - AdlsGen2
          - AmazonAccount
          - AmazonS3
          - AmazonSql
          - AzureCosmosDb
          - AzureDataExplorer
          - AzureFileService
          - AzureSqlDatabase
          - AmazonPostgreSql
          - AzurePostgreSql
          - SqlServerDatabase
          - AzureSqlDatabaseManagedInstance
          - AzureSqlDataWarehouse
          - AzureMySql
          - AzureStorage
          - Teradata
          - Oracle
          - SapS4Hana
          - SapEcc
          - PowerBI
          type: string
          readOnly: true
          x-ms-enum:
            name: DataSourceType
            modelAsString: true
    ScanDiagnostics:
      type: object
      properties:
        notifications:
          type: array
          items:
            $ref: '#/components/schemas/Notification'
        exceptionCountMap:
          type: object
          additionalProperties:
            format: int32
            type: integer
          readOnly: true
    Notification:
      type: object
      properties:
        message:
          type: string
        code:
          format: int32
          type: integer
    ErrorResponseModel:
      type: object
      properties:
        error:
          allOf:
          - $ref: '#/components/schemas/ErrorModel'
    ScanHistoryList:
      required:
      - value
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ScanResult'
        nextLink:
          type: string
        count:
          format: int64
          type: integer
  parameters:
    api-version:
      in: query
      name: api-version
      description: The api version to use.
      required: true
      x-ms-client-name: ApiVersion
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-ms-parameterized-host:
  hostTemplate: '{Endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
