openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft.VoiceServices Test Lines API
  version: 2022-12-01-preview
  x-cadl-generated:
  - emitter: '@azure-tools/cadl-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: TestLines
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VoiceServices/communicationsGateways/{communicationsGatewayName}/testLines
  : get:
      tags:
      - TestLines
      operationId: microsoftAzureTestlinesListbycommunicationsgateway
      description: List TestLine resources by CommunicationsGateway
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/CommunicationsGateway.communicationsGatewayName'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestLineListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ListTestLineResource:
          $ref: ./examples/TestLines_ListByCommunicationsGateway.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VoiceServices/communicationsGateways/{communicationsGatewayName}/testLines/{testLineName}
  : get:
      tags:
      - TestLines
      operationId: microsoftAzureTestlinesGet
      description: Get a TestLine
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/CommunicationsGateway.communicationsGatewayName'
      - $ref: '#/components/parameters/TestLine.testLineName'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestLine'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        GetTestLineResource:
          $ref: ./examples/TestLines_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - TestLines
      operationId: microsoftAzureTestlinesCreateorupdate
      description: Create a TestLine
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/CommunicationsGateway.communicationsGatewayName'
      - $ref: '#/components/parameters/TestLine.testLineName'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestLine'
        '201':
          description: ARM create operation completed successfully.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestLine'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        CreateTestLineResource:
          $ref: ./examples/TestLines_CreateOrUpdate.json
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestLine'
        description: Resource create parameters.
        required: true
    delete:
      tags:
      - TestLines
      operationId: microsoftAzureTestlinesDelete
      description: Delete a TestLine
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/CommunicationsGateway.communicationsGatewayName'
      - $ref: '#/components/parameters/TestLine.testLineName'
      responses:
        '200':
          description: Resource deleted successfully.
        '202':
          description: Resource deletion accepted.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        '204':
          description: Resource deleted successfully.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        DeleteTestLineResource:
          $ref: ./examples/TestLines_Delete.json
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    patch:
      tags:
      - TestLines
      operationId: microsoftAzureTestlinesUpdate
      description: Update a TestLine
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/CommunicationsGateway.communicationsGatewayName'
      - $ref: '#/components/parameters/TestLine.testLineName'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestLine'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        UpdateTestLineResource:
          $ref: ./examples/TestLines_Update.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestLineUpdate'
        description: The resource properties to be updated.
        required: true
components:
  schemas:
    TestLineProperties:
      type: object
      properties:
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: Resource provisioning state.
          readOnly: true
        phoneNumber:
          type: string
          description: The phone number
          x-ms-mutability:
          - read
          - update
          - create
        purpose:
          $ref: '#/components/schemas/TestLinePurpose'
          description: Purpose of this test line, e.g. automated or manual testing
          x-ms-mutability:
          - read
          - update
          - create
      description: Details of the TestLine resource.
      required:
      - phoneNumber
      - purpose
    TestLineListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/TestLine'
          x-cadl-name: TestLine[]
          description: The TestLine items on this page
        nextLink:
          type: string
          description: The link to the next page of items
          x-cadl-name: Rest.ResourceLocation<TestLine>
      description: The response of a TestLine list operation.
      required:
      - value
    ProvisioningState:
      type: string
      description: Provisioning state of the resource.
      enum:
      - Succeeded
      - Failed
      - Canceled
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    TestLineUpdate:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          x-cadl-name: Record<string>
          description: Resource tags.
      description: The type used for update operations of the TestLine.
    TestLinePurpose:
      type: string
      description: The purpose of the TestLine resource.
      enum:
      - Manual
      - Automated
      x-ms-enum:
        name: TestLinePurpose
        modelAsString: false
    TestLine:
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/TestLineProperties'
          description: The resource-specific properties for this resource.
          x-ms-mutability:
          - read
          - create
          x-ms-client-flatten: true
      description: A TestLine resource
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
  parameters:
    CommunicationsGateway.communicationsGatewayName:
      name: communicationsGatewayName
      in: path
      required: true
      description: Unique identifier for this deployment
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9-]{3,24}$
    TestLine.testLineName:
      name: testLineName
      in: path
      required: true
      description: Unique identifier for this test line
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9-]{3,24}$
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
