openapi: 3.2.0
info:
  title: Microsoft Azure Web Application Firewall Policies API
  version: '1.0'
  description: 'Operations tagged WebApplicationFirewallPolicies across 2 of this provider''s published API definitions: azure-cdn-webapplicationfirewallmanagement-openapi-original.yml, webapplicationfirewallmanagement-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: WebApplicationFirewallPolicies
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/cdnWebApplicationFirewallPolicies
  : get:
      tags:
      - WebApplicationFirewallPolicies
      description: Lists all of the protection policies within a resource group.
      operationId: microsoftAzurePoliciesList
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdnWebApplicationFirewallPolicyList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./cdn.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List Policies in a Resource Group:
          $ref: ./examples/WafListPolicies.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/cdnWebApplicationFirewallPolicies/{policyName}
  : get:
      tags:
      - WebApplicationFirewallPolicies
      description: Retrieve protection policy with specified name within a resource group.
      operationId: microsoftAzurePoliciesGet
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/PolicyNameParameter'
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdnWebApplicationFirewallPolicy'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./cdn.json#/definitions/ErrorResponse
      x-ms-examples:
        Get Policy:
          $ref: ./examples/WafPolicyGet.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - WebApplicationFirewallPolicies
      description: Create or update policy with specified rule set name within a resource group.
      operationId: microsoftAzurePoliciesCreateorupdate
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/PolicyNameParameter'
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdnWebApplicationFirewallPolicy'
        '201':
          description: Created. The request has been fulfilled and a new protection policy has been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdnWebApplicationFirewallPolicy'
        '202':
          description: Accepted. The request has been accepted for processing and the operation will complete asynchronously.
          headers:
            location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdnWebApplicationFirewallPolicy'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./cdn.json#/definitions/ErrorResponse
      x-ms-examples:
        Creates specific policy:
          $ref: ./examples/WafPolicyCreateOrUpdate.json
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CdnWebApplicationFirewallPolicy'
        description: Policy to be created.
        required: true
    patch:
      tags:
      - WebApplicationFirewallPolicies
      description: Update an existing CdnWebApplicationFirewallPolicy with the specified policy name under the specified subscription and resource group
      operationId: microsoftAzurePoliciesUpdate
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/PolicyNameParameter'
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdnWebApplicationFirewallPolicy'
        '202':
          description: Accepted. The request has been accepted for processing and the operation will complete asynchronously.
          headers:
            location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CdnWebApplicationFirewallPolicy'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./cdn.json#/definitions/ErrorResponse
      x-ms-examples:
        Creates specific policy:
          $ref: ./examples/WafPatchPolicy.json
      x-ms-long-running-operation: true
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CdnWebApplicationFirewallPolicyPatchParameters'
        description: CdnWebApplicationFirewallPolicy parameters to be patched.
        required: true
    delete:
      tags:
      - WebApplicationFirewallPolicies
      description: Deletes Policy
      operationId: microsoftAzurePoliciesDelete
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/PolicyNameParameter'
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Delete successful.
        '204':
          description: No Content. The request has been accepted but the policy was not found.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./cdn.json#/definitions/ErrorResponse
      x-ms-examples:
        Delete protection policy:
          $ref: ./examples/WafPolicyDelete.json
      x-ms-long-running-operation: false
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies
  : get:
      tags:
      - WebApplicationFirewallPolicies
      description: Lists all of the protection policies within a resource group.
      operationId: microsoftAzureWebapplicationfirewallpoliciesList
      x-ms-examples:
        Lists all WAF policies in a resource group:
          $ref: ./examples/WafListPolicies.json
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      - $ref: ./network.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApplicationFirewallPolicyListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies:
    get:
      tags:
      - WebApplicationFirewallPolicies
      description: Gets all the WAF policies in a subscription.
      operationId: microsoftAzureWebapplicationfirewallpoliciesListall
      x-ms-examples:
        Lists all WAF policies in a subscription:
          $ref: ./examples/WafListAllPolicies.json
      parameters:
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      - $ref: ./network.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApplicationFirewallPolicyListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Network…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/{policyName}
  : get:
      tags:
      - WebApplicationFirewallPolicies
      description: Retrieve protection policy with specified name within a resource group.
      operationId: microsoftAzureWebapplicationfirewallpoliciesGet
      x-ms-examples:
        Gets a WAF policy within a resource group:
          $ref: ./examples/WafPolicyGet.json
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: policyName
        in: path
        required: true
        description: The name of the policy.
        schema:
          type: string
          maxLength: 128
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      - $ref: ./network.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApplicationFirewallPolicy'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - WebApplicationFirewallPolicies
      description: Creates or update policy with specified rule set name within a resource group.
      operationId: microsoftAzureWebapplicationfirewallpoliciesCreateorupdate
      x-ms-examples:
        Creates or updates a WAF policy within a resource group:
          $ref: ./examples/WafPolicyCreateOrUpdate.json
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: policyName
        in: path
        required: true
        description: The name of the policy.
        schema:
          type: string
          maxLength: 128
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      - $ref: ./network.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApplicationFirewallPolicy'
        '201':
          description: Created. The request has been fulfilled and a new protection policy has been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApplicationFirewallPolicy'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebApplicationFirewallPolicy'
        description: Policy to be created.
        required: true
    delete:
      tags:
      - WebApplicationFirewallPolicies
      description: Deletes Policy.
      operationId: microsoftAzureWebapplicationfirewallpoliciesDelete
      x-ms-examples:
        Deletes a WAF policy within a resource group:
          $ref: ./examples/WafPolicyDelete.json
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: policyName
        in: path
        required: true
        description: The name of the policy.
        schema:
          type: string
          maxLength: 128
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      - $ref: ./network.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted. The request has been accepted for processing and the operation will complete asynchronously.
        '204':
          description: No Content. The request has been accepted but the policy was not found.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
components:
  schemas:
    ManagedRuleSetList:
      description: Defines the list of managed rule sets for the policy.
      properties:
        managedRuleSets:
          description: List of rule sets.
          type: array
          items:
            $ref: '#/components/schemas/ManagedRuleSet'
          x-ms-identifiers:
          - ruleSetType
          - ruleSetVersion
    ManagedRuleSet:
      type: object
      description: Defines a managed rule set.
      required:
      - ruleSetType
      - ruleSetVersion
      properties:
        ruleSetType:
          description: Defines the rule set type to use.
          type: string
        ruleSetVersion:
          description: Defines the version of the rule set to use.
          type: string
        anomalyScore:
          description: 'Verizon only : If the rule set supports anomaly detection mode, this describes the threshold for blocking requests.'
          type: integer
          format: int32
          maximum: 20
          minimum: 0
        ruleGroupOverrides:
          description: Defines the rule overrides to apply to the rule set.
          type: array
          items:
            $ref: '#/components/schemas/ManagedRuleGroupOverride'
          x-ms-identifiers:
          - ruleGroupName
    CdnWebApplicationFirewallPolicyPatchParameters:
      type: object
      description: Properties required to update a CdnWebApplicationFirewallPolicy.
      properties:
        tags:
          description: CdnWebApplicationFirewallPolicy tags
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
    CdnWebApplicationFirewallPolicyList:
      description: Defines a list of WebApplicationFirewallPolicies for Azure CDN. It contains a list of WebApplicationFirewallPolicy objects and a URL link to get the next set of results.
      properties:
        value:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/CdnWebApplicationFirewallPolicy'
          description: List of Azure CDN WebApplicationFirewallPolicies within a resource group.
        nextLink:
          type: string
          description: URL to get the next set of WebApplicationFirewallPolicy objects if there are any.
    MatchCondition:
      description: Define match conditions
      required:
      - matchVariable
      - operator
      - matchValue
      properties:
        matchVariable:
          description: Match variable to compare against.
          type: string
          enum:
          - RemoteAddr
          - SocketAddr
          - RequestMethod
          - RequestHeader
          - RequestUri
          - QueryString
          - RequestBody
          - Cookies
          - PostArgs
          x-ms-enum:
            name: WafMatchVariable
            modelAsString: true
        selector:
          description: Selector can used to match a specific key for QueryString, Cookies, RequestHeader or PostArgs.
          type: string
        operator:
          description: Describes operator to be matched
          type: string
          enum:
          - Any
          - IPMatch
          - GeoMatch
          - Equal
          - Contains
          - LessThan
          - GreaterThan
          - LessThanOrEqual
          - GreaterThanOrEqual
          - BeginsWith
          - EndsWith
          - RegEx
          x-ms-enum:
            name: operator
            modelAsString: true
        negateCondition:
          description: Describes if the result of this condition should be negated.
          type: boolean
        matchValue:
          description: List of possible match values.
          type: array
          items:
            type: string
        transforms:
          description: List of transforms.
          type: array
          items:
            $ref: '#/components/schemas/TransformType'
    CustomRuleList:
      description: Defines contents of custom rules
      properties:
        rules:
          description: List of rules
          type: array
          items:
            $ref: '#/components/schemas/CustomRule'
          x-ms-identifiers:
          - name
    RateLimitRule:
      description: Defines a rate limiting rule that can be included in a waf policy
      type: object
      required:
      - rateLimitThreshold
      - rateLimitDurationInMinutes
      properties:
        rateLimitThreshold:
          description: Defines rate limit threshold.
          type: integer
          format: int32
          minimum: 0
        rateLimitDurationInMinutes:
          description: Defines rate limit duration. Default is 1 minute.
          type: integer
          format: int32
          maximum: 60
          minimum: 0
      allOf:
      - $ref: '#/components/schemas/CustomRule'
    ManagedRuleOverride:
      description: Defines a managed rule group override setting.
      required:
      - ruleId
      properties:
        ruleId:
          description: Identifier for the managed rule.
          type: string
        enabledState:
          description: Describes if the managed rule is in enabled or disabled state. Defaults to Disabled if not specified.
          type: string
          enum:
          - Disabled
          - Enabled
          x-ms-enum:
            name: ManagedRuleEnabledState
            modelAsString: true
        action:
          description: Describes the override action to be applied when rule matches.
          $ref: '#/components/schemas/ActionType'
    ManagedRuleGroupOverride:
      description: Defines a managed rule group override setting.
      required:
      - ruleGroupName
      properties:
        ruleGroupName:
          description: Describes the managed rule group within the rule set to override
          type: string
        rules:
          description: List of rules that will be enabled. If none specified, all rules in the group will be disabled.
          type: array
          items:
            $ref: '#/components/schemas/ManagedRuleOverride'
          x-ms-identifiers:
          - ruleId
    CustomRule:
      description: Defines the common attributes for a custom rule that can be included in a waf policy
      type: object
      required:
      - name
      - priority
      - matchConditions
      - action
      properties:
        name:
          description: Defines the name of the custom rule
          type: string
        enabledState:
          description: Describes if the custom rule is in enabled or disabled state. Defaults to Enabled if not specified.
          type: string
          enum:
          - Disabled
          - Enabled
          x-ms-enum:
            name: CustomRuleEnabledState
            modelAsString: true
        priority:
          description: Defines in what order this rule be evaluated in the overall list of custom rules
          type: integer
          format: int32
          maximum: 1000
          minimum: 0
        matchConditions:
          description: List of match conditions.
          type: array
          items:
            $ref: '#/components/schemas/MatchCondition'
          x-ms-identifiers: []
        action:
          description: Describes what action to be applied when rule matches
          $ref: '#/components/schemas/ActionType'
    RateLimitRuleList:
      description: Defines contents of rate limit rules
      properties:
        rules:
          description: List of rules
          type: array
          items:
            $ref: '#/components/schemas/RateLimitRule'
          x-ms-identifiers:
          - name
    CdnWebApplicationFirewallPolicyProperties:
      description: Defines CDN web application firewall policy properties.
      properties:
        policySettings:
          description: Describes  policySettings for policy
          $ref: '#/components/schemas/policySettings'
        rateLimitRules:
          description: Describes rate limit rules inside the policy.
          $ref: '#/components/schemas/RateLimitRuleList'
        customRules:
          description: Describes custom rules inside the policy.
          $ref: '#/components/schemas/CustomRuleList'
        managedRules:
          description: Describes managed rules inside the policy.
          $ref: '#/components/schemas/ManagedRuleSetList'
        endpointLinks:
          description: Describes Azure CDN endpoints associated with this Web Application Firewall policy.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/CdnEndpoint'
        extendedProperties:
          description: Key-Value pair representing additional properties for Web Application Firewall policy.
          type: object
          additionalProperties:
            type: string
        provisioningState:
          readOnly: true
          type: string
          description: Provisioning state of the WebApplicationFirewallPolicy.
          enum:
          - Creating
          - Succeeded
          - Failed
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
        resourceState:
          title: Resource status of the policy.
          readOnly: true
          enum:
          - Creating
          - Enabling
          - Enabled
          - Disabling
          - Disabled
          - Deleting
          type: string
          x-ms-enum:
            name: PolicyResourceState
            modelAsString: true
    policySettings:
      description: Defines contents of a web application firewall global configuration
      properties:
        enabledState:
          description: describes if the policy is in enabled state or disabled state
          type: string
          enum:
          - Disabled
          - Enabled
          x-ms-enum:
            name: PolicyEnabledState
            modelAsString: true
        mode:
          description: Describes if it is in detection mode or prevention mode at policy level.
          type: string
          enum:
          - Prevention
          - Detection
          x-ms-enum:
            name: PolicyMode
            modelAsString: true
        defaultRedirectUrl:
          description: If action type is redirect, this field represents the default redirect URL for the client.
          type: string
        defaultCustomBlockResponseStatusCode:
          description: If the action type is block, this field defines the default customer overridable http response status code.
          type: integer
          format: int32
          enum:
          - 200
          - 403
          - 405
          - 406
          - 429
        defaultCustomBlockResponseBody:
          description: If the action type is block, customer can override the response body. The body must be specified in base64 encoding.
          type: string
          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{4})$
    ActionType:
      description: Defines the action to take on rule match.
      type: string
      enum:
      - Allow
      - Block
      - Log
      - Redirect
      x-ms-enum:
        name: ActionType
        modelAsString: true
    TransformType:
      description: Describes what transforms were applied before matching.
      type: string
      enum:
      - Lowercase
      - Uppercase
      - Trim
      - UrlDecode
      - UrlEncode
      - RemoveNulls
      x-ms-enum:
        name: TransformType
        modelAsString: true
    CdnWebApplicationFirewallPolicy:
      description: Defines web application firewall policy for Azure CDN.
      properties:
        properties:
          x-ms-client-flatten: true
          description: Properties of the web application firewall policy.
          $ref: '#/components/schemas/CdnWebApplicationFirewallPolicyProperties'
        etag:
          type: string
          description: Gets a unique read-only string that changes whenever the resource is updated.
        sku:
          description: The pricing tier (defines a CDN provider, feature list and rate) of the CdnWebApplicationFirewallPolicy.
          $ref: ./cdn.json#/definitions/Sku
      required:
      - sku
      allOf:
      - $ref: ./cdn.json#/definitions/TrackedResource
    CdnEndpoint:
      description: Defines the ARM Resource ID for the linked endpoints
      type: object
      readOnly: true
      properties:
        id:
          type: string
          description: ARM Resource ID string.
    ManagedRuleSet_2:
      type: object
      description: Defines a managed rule set.
      required:
      - ruleSetType
      - ruleSetVersion
      properties:
        ruleSetType:
          description: Defines the rule set type to use.
          type: string
        ruleSetVersion:
          description: Defines the version of the rule set to use.
          type: string
        ruleGroupOverrides:
          description: Defines the rule group overrides to apply to the rule set.
          type: array
          items:
            $ref: '#/components/schemas/ManagedRuleGroupOverride_2'
    ExclusionManagedRuleSet:
      type: object
      description: Defines a managed rule set for Exclusions.
      required:
      - ruleSetType
      - ruleSetVersion
      properties:
        ruleSetType:
          description: Defines the rule set type to use.
          type: string
        ruleSetVersion:
          description: Defines the version of the rule set to use.
          type: string
        ruleGroups:
          description: Defines the rule groups to apply to the rule set.
          type: array
          items:
            $ref: '#/components/schemas/ExclusionManagedRuleGroup'
    MatchCondition_2:
      description: Define match conditions.
      required:
      - matchVariables
      - operator
      - matchValues
      properties:
        matchVariables:
          description: List of match variables.
          type: array
          items:
            $ref: '#/components/schemas/MatchVariable'
        operator:
          description: The operator to be matched.
          type: string
          enum:
          - IPMatch
          - Equal
          - Contains
          - LessThan
          - GreaterThan
          - LessThanOrEqual
          - GreaterThanOrEqual
          - BeginsWith
          - EndsWith
          - Regex
          - GeoMatch
          - Any
          x-ms-enum:
            name: WebApplicationFirewallOperator
            modelAsString: true
        negationConditon:
          description: Whether this is negate condition or not.
          type: boolean
        matchValues:
          description: Match value.
          type: array
          items:
            type: string
        transforms:
          description: List of transforms.
          type: array
          items:
            $ref: '#/components/schemas/Transform'
    ManagedRuleOverride_2:
      type: object
      description: Defines a managed rule group override setting.
      required:
      - ruleId
      properties:
        ruleId:
          description: Identifier for the managed rule.
          type: string
        state:
          description: The state of the managed rule. Defaults to Disabled if not specified.
          type: string
          enum:
          - Disabled
          - Enabled
          x-ms-enum:
            name: ManagedRuleEnabledState
            modelAsString: true
        action:
          description: Describes the override action to be applied when rule matches.
          $ref: '#/components/schemas/ActionType_2'
    ManagedRuleGroupOverride_2:
      type: object
      description: Defines a managed rule group override setting.
      required:
      - ruleGroupName
      properties:
        ruleGroupName:
          description: The managed rule group to override.
          type: string
        rules:
          description: List of rules that will be disabled. If none specified, all rules in the group will be disabled.
          type: array
          items:
            $ref: '#/components/schemas/ManagedRuleOverride_2'
    ExclusionManagedRule:
      type: object
      description: Defines a managed rule to use for exclusion.
      required:
      - ruleId
      properties:
        ruleId:
          description: Identifier for the managed rule.
          type: string
    MatchVariable:
      description: Define match variables.
      required:
      - variableName
      properties:
        variableName:
          description: Match Variable.
          type: string
          enum:
          - RemoteAddr
          - RequestMethod
          - QueryString
          - PostArgs
          - RequestUri
          - RequestHeaders
          - RequestBody
          - RequestCookies
          x-ms-enum:
            name: WebApplicationFirewallMatchVariable
            modelAsString: true
        selector:
          description: The selector of match variable.
          type: string
    WebApplicationFirewallPolicyPropertiesFormat:
      description: Defines web application firewall policy properties.
      required:
      - managedRules
      properties:
        policySettings:
          description: The PolicySettings for policy.
          $ref: '#/components/schemas/PolicySettings'
        customRules:
          description: The custom rules inside the policy.
          type: array
          items:
            $ref: '#/components/schemas/WebApplicationFirewallCustomRule'
        applicationGateways:
          readOnly: true
          type: array
          items:
            $ref: ./applicationGateway.json#/definitions/ApplicationGateway
          description: A collection of references to application gateways.
        provisioningState:
          readOnly: true
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the web application firewall policy resource.
        resourceState:
          title: Resource status of the policy.
          readOnly: true
          type: string
          description: Resource status of the policy.
          enum:
          - Creating
          - Enabling
          - Enabled
          - Disabling
          - Disabled
          - Deleting
          x-ms-enum:
            name: WebApplicationFirewallPolicyResourceState
            modelAsString: true
        managedRules:
          description: Describes the managedRules structure.
          $ref: '#/components/schemas/ManagedRulesDefinition'
        httpListeners:
          readOnly: true
          type: array
          items:
            $ref: ./network.json#/definitions/SubResource
          description: A collection of references to application gateway http listeners.
        pathBasedRules:
          readOnly: true
          type: array
          items:
            $ref: ./network.json#/definitions/SubResource
          description: A collection of references to application gateway path rules.
    Transform:
      description: Transforms applied before matching.
      type: string
      enum:
      - Uppercase
      - Lowercase
      - Trim
      - UrlDecode
      - UrlEncode
      - RemoveNulls
      - HtmlEntityDecode
      x-ms-enum:
        name: WebApplicationFirewallTransform
        modelAsString: true
    WebApplicationFirewallScrubbingRules:
      description: Allow certain variables to be scrubbed on WAF logs
      type: object
      required:
      - matchVariable
      - selectorMatchOperator
      properties:
        matchVariable:
          type: string
          enum:
          - RequestHeaderNames
          - RequestCookieNames
          - RequestArgNames
          - RequestPostArgNames
          - RequestJSONArgNames
          - RequestIPAddress
          description: The variable to be scrubbed from the logs.
          x-ms-enum:
            name: scrubbingRuleEntryMatchVariable
            modelAsString: true
        selectorMatchOperator:
          type: string
          enum:
          - Equals
          - EqualsAny
          description: When matchVariable is a collection, operate on the selector to specify which elements in the collection this rule applies to.
          x-ms-enum:
            name: ' scrubbingRuleEntryMatchOperator'
            modelAsString: true
        selector:
          type: string
          description: When matchVariable is a collection, operator used to specify which elements in the collection this rule applies to.
        state:
          type: string
          enum:
          - Enabled
          - Disabled
          description: Defines the state of log scrubbing rule. Default value is Enabled.
          x-ms-enum:
            name: ' scrubbingRuleEntryState'
            modelAsString: true
    ActionType_2:
      description: Defines the action to take on rule match.
      type: string
      enum:
      - AnomalyScoring
      - Allow
      - Block
      - Log
      - JSChallenge
      x-ms-enum:
        name: ActionType
        modelAsString: true
    GroupByVariable:
      type: object
      description: Define user session group by clause variables.
      required:
      - variableName
      properties:
        variableName:
          description: User Session clause variable.
          type: string
          enum:
          - ClientAddr
          - GeoLocation
          - None
          x-ms-enum:
            name: ApplicationGatewayFirewallUserSessionVariable
            modelAsString: true
    WebApplicationFirewallPolicy:
      description: Defines web application firewall policy.
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/WebApplicationFirewallPolicyPropertiesFormat'
          description: Properties of the web application firewall policy.
        etag:
          readOnly: true
          type: string
          description: A unique read-only string that changes whenever the resource is updated.
      allOf:
      - $ref: ./network.json#/definitions/Resource
    OwaspCrsExclusionEntry:
      required:
      - matchVariable
      - selectorMatchOperator
      - selector
      description: Allow to exclude some variable satisfy the condition for the WAF check.
      properties:
        matchVariable:
          type: string
          enum:
          - RequestHeaderNames
          - RequestCookieNames
          - RequestArgNames
          - RequestHeaderKeys
          - RequestHeaderValues
          - RequestCookieKeys
          - RequestCookieValues
          - RequestArgKeys
          - RequestArgValues
          description: The variable to be excluded.
          x-ms-enum:
            name: OwaspCrsExclusionEntryMatchVariable
            modelAsString: true
        selectorMatchOperator:
          type: string
          enum:
          - Equals
          - Contains
          - StartsWith
          - EndsWith
          - EqualsAny
          description: When matchVariable is a collection, operate on the selector to specify which elements in the collection this exclusion applies to.
          x-ms-enum:
            name: OwaspCrsExclusionEntrySelectorMatchOperator
            modelAsString: true
        selector:
          type: string
          description: When matchVariable is a collection, operator used to specify which elements in the collection this exclusion applies to.
        exclusionManagedRuleSets:
          type: array
          items:
            $ref: '#/components/schemas/ExclusionManagedRuleSet'
          description: The managed rule sets that are associated with the exclusion.
    ManagedRulesDefinition:
      description: Allow to exclude some variable satisfy the condition for the WAF check.
      required:
      - managedRuleSets
      properties:
        exclusions:
          type: array
          items:
            $ref: '#/components/schemas/OwaspCrsExclusionEntry'
          description: The Exclusions that are applied on the policy.
        managedRuleSets:
          type: array
          items:
            $ref: '#/components/schemas/ManagedRuleSet_2'
          description: The managed rule sets that are associated with the policy.
    GroupByUserSession:
      type: object
      description: Define user session identifier group by clauses.
      required:
      - groupByVariables
      properties:
        groupByVariables:
          description: List of group by clause variables.
          type: array
          x-ms-identifiers: []
          items:
            $ref: '#/components/schemas/GroupByVariable'
    WebApplicationFirewallPolicyListResult:
      description: Result of the request to list WebApplicationFirewallPolicies. It contains a list of WebApplicationFirewallPolicy objects and a URL link to get the next set of results.
      properties:
        value:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/WebApplicationFirewallPolicy'
          description: List of WebApplicationFirewallPolicies within a resource group.
        nextLink:
          readOnly: true
          type: string
          description: URL to get the next set of WebApplicationFirewallPolicy objects if there are any.
    WebApplicationFirewallCustomRule:
      description: Defines contents of a web application rule.
      required:
      - priority
      - ruleType
      - matchConditions
      - action
      properties:
        name:
          type: string
          description: The name of the resource that is unique within a policy. This name can be used to access the resource.
          maxLength: 128
        etag:
          type: string
          readOnly: true
          description: A unique read-only string that changes whenever the resource is updated.
        priority:
          description: Priority of the rule. Rules with a lower value will be evaluated before rules with a higher value.
          type: integer
        state:
          description: Describes if the custom rule is in enabled or disabled state. Defaults to Enabled if not specified.
          type: string
          enum:
          - Disabled
          - Enabled
          x-ms-enum:
            name: WebApplicationFirewallState
            modelAsString: true
        rateLimitDuration:
          type: string
          description: Duration over which Rate Limit policy will be applied. Applies only when ruleType is RateLimitRule.
          enum:
          - OneMin
          - FiveMins
          x-ms-enum:
            name: ApplicationGatewayFirewallRateLimitDuration
            modelAsString: true
        rateLimitThreshold:
          description: Rate Limit threshold to apply in case ruleType is RateLimitRule. Must be greater than or equal to 1
          type: integer
          format: int32
        ruleType:
          description: The rule type.
          type: string
          enum:
          - MatchRule
          - RateLimitRule
          - Invalid
          x-ms-enum:
            name: WebApplicationFirewallRuleType
            modelAsString: true
        matchConditions:
          description: List of match conditions.
          type: array
          items:
            $ref: '#/components/schemas/MatchCondition_2'
        groupByUserSession:
          description: List of user session identifier group by clauses.
          type: array
          x-ms-identifiers: []
          items:
            $ref: '#/components/schemas/GroupByUserSession'
        action:
          description: Type of Actions.
          type: string
          enum:
          - Allow
          - Block
          - Log
          - JSChallenge
          x-ms-enum:
            name: WebApplicationFirewallAction
            modelAsString: true
    ExclusionManagedRuleGroup:
      type: object
      description: Defines a managed rule group to use for exclusion.
      required:
      - ruleGroupName
      properties:
        ruleGroupName:
          description: The managed rule group for exclusion.
          type: string
        rules:
          description: List of rules that will be excluded. If none specified, all rules in the group will be excluded.
          type: array
          items:
            $ref: '#/components/schemas/ExclusionManagedRule'
    PolicySettings:
      description: Defines contents of a web application firewall global configuration.
      properties:
        state:
          description: The state of the policy.
          type: string
          enum:
          - Disabled
          - Enabled
          x-ms-enum:
            name: WebApplicationFirewallEnabledState
            modelAsString: true
        mode:
          description: The mode of the policy.
          type: string
          enum:
          - Prevention
          - Detection
          x-ms-enum:
            name: WebApplicationFirewallMode
            modelAsString: true
        requestBodyCheck:
          type: boolean
          description: Whether to allow WAF to check request Body.
        requestBodyInspectLimitInKB:
          type: integer
          format: int32
          description: Max inspection limit in KB for request body inspection for WAF.
        requestBodyEnforcement:
          type: boolean
          default: true
          description: Whether allow WAF to enforce request body limits.
        maxRequestBodySizeInKb:
          type: integer
          format: int32
          minimum: 8
          description: Maximum request body size in Kb for WAF.
        fileUploadEnforcement:
          type: boolean
          default: true
          description: Whether allow WAF to enforce file upload limits.
        fileUploadLimitInMb:
          type: integer
          format: int32
          minimum: 0
          description: Maximum file upload size in Mb for WAF.
        customBlockResponseStatusCode:
          description: If the action type is block, customer can override the response status code.
          type: integer
          format: int32
          minimum: 0
        customBlockResponseBody:
          description: If the action type is block, customer can override the response body. The body must be specified in base64 encoding.
          type: string
          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{4})$
          maxLength: 32768
        logScrubbing:
          description: To scrub sensitive log fields
          type: object
          properties:
            state:
              type: string
              description: State of the log scrubbing config. Default value is Enabled.
              enum:
              - Disabled
              - Enabled
              x-ms-enum:
                name: WebApplicationFirewallScrubbingState
                modelAsString: true
            scrubbingRules:
              type: array
              items:
                $ref: '#/components/schemas/WebApplicationFirewallScrubbingRules'
              x-ms-identifiers: []
              description: The rules that are applied to the logs for scrubbing.
        jsChallengeCookieExpirationInMins:
          description: Web Application Firewall JavaScript Challenge Cookie Expiration time in minutes.
          type: integer
          format: int32
          minimum: 5
          maximum: 1440
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Azure Subscription ID.
      required: true
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      description: Name of the Resource group within the Azure subscription.
      schema:
        type: string
        maxLength: 80
        minLength: 1
        pattern: ^[a-zA-Z0-9_\-\(\)\.]*[^\.]$
    apiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Version of the API to be used with the client request. Current version is 2023-05-01.
      schema:
        type: string
    PolicyNameParameter:
      name: policyName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The name of the CdnWebApplicationFirewallPolicy.
      schema:
        type: string
        maxLength: 128
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-refined-from:
- azure-cdn-webapplicationfirewallmanagement-openapi-original.yml
- webapplicationfirewallmanagement-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
