openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft.KubernetesRuntime Bgp Peers API
  version: 2023-10-01-preview
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: BgpPeers
paths:
  /{resourceUri}/providers/Microsoft.KubernetesRuntime/bgpPeers:
    get:
      operationId: microsoftAzureBgppeersList
      tags:
      - BgpPeers
      description: List BgpPeer resources by parent
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/Azure.ResourceManager.ResourceUriParameter'
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgpPeerListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        BgpPeers_List:
          $ref: ./examples/BgpPeers_List.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Resourceuri Providers Microsoft Kubernetesruntime Bgppeers
  /{resourceUri}/providers/Microsoft.KubernetesRuntime/bgpPeers/{bgpPeerName}:
    get:
      operationId: microsoftAzureBgppeersGet
      tags:
      - BgpPeers
      description: Get a BgpPeer
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/Azure.ResourceManager.ResourceUriParameter'
      - name: bgpPeerName
        in: path
        description: The name of the BgpPeer
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgpPeer'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        BgpPeers_Get:
          $ref: ./examples/BgpPeers_Get.json
      summary: Microsoft Azure Get Resourceuri Providers Microsoft Kubernetesruntime Bgppeers…
    put:
      operationId: microsoftAzureBgppeersCreateorupdate
      tags:
      - BgpPeers
      description: Create a BgpPeer
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/Azure.ResourceManager.ResourceUriParameter'
      - name: bgpPeerName
        in: path
        description: The name of the BgpPeer
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Resource 'BgpPeer' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgpPeer'
        '201':
          description: Resource 'BgpPeer' create operation succeeded
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgpPeer'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        BgpPeers_CreateOrUpdate:
          $ref: ./examples/BgpPeers_CreateOrUpdate.json
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Resourceuri Providers Microsoft Kubernetesruntime Bgppeers…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BgpPeer'
        description: Resource create parameters.
        required: true
    delete:
      operationId: microsoftAzureBgppeersDelete
      tags:
      - BgpPeers
      description: Delete a BgpPeer
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/Azure.ResourceManager.ResourceUriParameter'
      - name: bgpPeerName
        in: path
        description: The name of the BgpPeer
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        BgpPeers_Delete:
          $ref: ./examples/BgpPeers_Delete.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Resourceuri Providers Microsoft Kubernetesruntime…
components:
  schemas:
    ProvisioningState:
      type: string
      description: The status of the current operation.
      enum:
      - Succeeded
      - Failed
      - Canceled
      - Provisioning
      - Updating
      - Deleting
      - Accepted
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: Succeeded
          value: Succeeded
          description: Resource has been created.
        - name: Failed
          value: Failed
          description: Resource creation failed.
        - name: Canceled
          value: Canceled
          description: Resource creation was canceled.
        - name: Provisioning
          value: Provisioning
          description: Initial provisioning in progress
        - name: Updating
          value: Updating
          description: Update in progress
        - name: Deleting
          value: Deleting
          description: Deletion in progress
        - name: Accepted
          value: Accepted
          description: Change accepted for processing
      readOnly: true
    BgpPeerListResult:
      type: object
      description: The response of a BgpPeer list operation.
      properties:
        value:
          type: array
          description: The BgpPeer items on this page
          items:
            $ref: '#/components/schemas/BgpPeer'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    BgpPeerProperties:
      type: object
      description: Details of the BgpPeer.
      properties:
        myAsn:
          type: integer
          format: int32
          description: My ASN
        peerAsn:
          type: integer
          format: int32
          description: Peer ASN
        peerAddress:
          type: string
          description: Peer Address
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: Resource provision state
          readOnly: true
      required:
      - myAsn
      - peerAsn
      - peerAddress
    BgpPeer:
      type: object
      description: A BgpPeer resource for an Arc connected cluster (Microsoft.Kubernetes/connectedClusters)
      properties:
        properties:
          $ref: '#/components/schemas/BgpPeerProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
  parameters:
    Azure.ResourceManager.ResourceUriParameter:
      name: resourceUri
      in: path
      description: The fully qualified Azure Resource manager identifier of the resource.
      required: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
