openapi: 3.2.0
info:
  title: Microsoft Azure MicrosoftScanningClient Managed Virtual…
  description: Creates a Microsoft.Scanning management client.
  version: 2022-07-01-preview
servers:
- url: https://purview.azure.com/scan
security:
- azure_auth:
  - user_impersonation
tags:
- name: ManagedVirtualNetworks
paths:
  /managedvirtualnetworks/{managedVirtualNetworkName}:
    get:
      tags:
      - ManagedVirtualNetworks
      description: Gets a ManagedVirtualNetwork
      operationId: microsoftAzureManagedvirtualnetworksGet
      parameters:
      - $ref: '#/components/parameters/managedVirtualNetworkName'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedVirtualNetwork'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        ManagedVirtualNetworks_Get:
          $ref: ./examples/ManagedVirtualNetworks_Get.json
      summary: Microsoft Azure Get Managedvirtualnetworks Managedvirtualnetworkname
    put:
      tags:
      - ManagedVirtualNetworks
      description: Create or replace a ManagedVirtualNetwork
      operationId: microsoftAzureManagedvirtualnetworksCreateorreplace
      parameters:
      - $ref: '#/components/parameters/managedVirtualNetworkName'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedVirtualNetwork'
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedVirtualNetwork'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        ManagedVirtualNetworks_CreateOrReplace:
          $ref: ./examples/ManagedVirtualNetworks_CreateOrReplace.json
      summary: Microsoft Azure Put Managedvirtualnetworks Managedvirtualnetworkname
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedVirtualNetwork'
        required: true
  /managedvirtualnetworks/{managedVirtualNetworkName}/managedprivateendpoints/{managedPrivateEndpointName}:
    get:
      tags:
      - ManagedVirtualNetworks
      description: Gets a ManagedPrivateEndpoint
      operationId: microsoftAzureManagedvirtualnetworksGetprivateendpoint
      parameters:
      - $ref: '#/components/parameters/managedVirtualNetworkName'
      - $ref: '#/components/parameters/managedPrivateEndpointName'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedPrivateEndpoint'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        ManagedVirtualNetworks_GetPrivateEndpoint:
          $ref: ./examples/ManagedVirtualNetworks_GetPrivateEndpoint.json
      summary: Microsoft Azure Get Managedvirtualnetworks Managedvirtualnetworkname…
    delete:
      tags:
      - ManagedVirtualNetworks
      description: Deletes a ManagedPrivateEndpoint
      operationId: microsoftAzureManagedvirtualnetworksDeleteprivateendpoint
      parameters:
      - $ref: '#/components/parameters/managedVirtualNetworkName'
      - $ref: '#/components/parameters/managedPrivateEndpointName'
      - $ref: '#/components/parameters/api-version'
      responses:
        '204':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IActionResult'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        ManagedVirtualNetworks_DeletePrivateEndpoint:
          $ref: ./examples/ManagedVirtualNetworks_DeletePrivateEndpoint.json
      summary: Microsoft Azure Delete Managedvirtualnetworks Managedvirtualnetworkname…
    put:
      tags:
      - ManagedVirtualNetworks
      description: Create or replace a ManagedPrivateEndpoint
      operationId: microsoftAzureManagedvirtualnetworksCreateorreplaceprivateendpoint
      parameters:
      - $ref: '#/components/parameters/managedVirtualNetworkName'
      - $ref: '#/components/parameters/managedPrivateEndpointName'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedPrivateEndpoint'
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedPrivateEndpoint'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        ManagedVirtualNetworks_CreateOrReplacePrivateEndpoint:
          $ref: ./examples/ManagedVirtualNetworks_CreateOrReplacePrivateEndpoint.json
      summary: Microsoft Azure Put Managedvirtualnetworks Managedvirtualnetworkname…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedPrivateEndpoint'
        required: true
  /managedvirtualnetworks:
    get:
      tags:
      - ManagedVirtualNetworks
      description: Gets a list of ManagedVirtualNetworks
      operationId: microsoftAzureManagedvirtualnetworksListbyaccount
      parameters:
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedVirtualNetworkList'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        ManagedVirtualNetworks_ListByAccount:
          $ref: ./examples/ManagedVirtualNetworks_ListByAccount.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Managedvirtualnetworks
  /managedvirtualnetworks/{managedVirtualNetworkName}/managedprivateendpoints:
    get:
      tags:
      - ManagedVirtualNetworks
      description: Gets a list of ManagedPrivateEndpoints for a given account
      operationId: microsoftAzureManagedvirtualnetworksListprivateendpointsbyaccount
      parameters:
      - $ref: '#/components/parameters/managedVirtualNetworkName'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedPrivateEndpointList'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        ManagedVirtualNetworks_ListPrivateEndpointsByAccount:
          $ref: ./examples/ManagedVirtualNetworks_ListPrivateEndpointsByAccount.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Managedvirtualnetworks Managedvirtualnetworkname…
components:
  parameters:
    managedVirtualNetworkName:
      in: path
      name: managedVirtualNetworkName
      description: The Managed VirtualNetwork name. It is restricted to the value 'default' for now.
      required: true
      x-ms-enum:
        name: ManagedVirtualNetworkName
        modelAsString: true
      x-ms-parameter-location: client
      schema:
        type: string
        enum:
        - default
    api-version:
      in: query
      name: api-version
      description: The api version to use.
      required: true
      x-ms-client-name: ApiVersion
      schema:
        type: string
    managedPrivateEndpointName:
      in: path
      name: managedPrivateEndpointName
      description: The Managed PrivateEndpoint name.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
        maxLength: 127
        minLength: 1
        pattern: ^([_A-Za-z0-9]|([_A-Za-z0-9][-_A-Za-z0-9]{0,125}[_A-Za-z0-9]))$
  schemas:
    ConnectionStateProperties:
      type: object
      properties:
        actionsRequired:
          type: string
          readOnly: true
        description:
          type: string
          readOnly: true
        status:
          type: string
          readOnly: true
    ProxyResource:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
    ManagedVirtualNetworkProperties:
      type: object
      properties:
        vNetId:
          type: string
          readOnly: true
        alias:
          type: string
          readOnly: true
    ErrorModel:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorModel'
    ManagedVirtualNetwork:
      type: object
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      properties:
        properties:
          allOf:
          - $ref: '#/components/schemas/ManagedVirtualNetworkProperties'
    ManagedVirtualNetworkList:
      required:
      - value
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ManagedVirtualNetwork'
        nextLink:
          type: string
        count:
          format: int64
          type: integer
    ManagedPrivateEndpoint:
      type: object
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      properties:
        properties:
          allOf:
          - $ref: '#/components/schemas/ManagedPrivateEndpointProperties'
    IActionResult:
      type: object
    ManagedPrivateEndpointProperties:
      type: object
      properties:
        connectionState:
          allOf:
          - $ref: '#/components/schemas/ConnectionStateProperties'
        fqdns:
          type: array
          items:
            type: string
        groupId:
          type: string
        privateLinkResourceId:
          type: string
        provisioningState:
          type: string
    ManagedPrivateEndpointList:
      required:
      - value
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ManagedPrivateEndpoint'
        nextLink:
          type: string
        count:
          format: int64
          type: integer
    ErrorResponseModel:
      type: object
      properties:
        error:
          allOf:
          - $ref: '#/components/schemas/ErrorModel'
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-ms-parameterized-host:
  hostTemplate: '{Endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
