openapi: 3.2.0
info:
  version: 2017-02-27-preview
  title: Microsoft Azure BillingClient Invoices API
  description: Billing client provides access to billing resources for Azure Web-Direct subscriptions. Other subscription types which were not purchased directly through the Azure web portal are not supported through this preview API.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Invoices
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Billing/invoices:
    get:
      tags:
      - Invoices
      operationId: microsoftAzureInvoicesList
      description: Lists the available invoices for a subscription in reverse chronological order beginning with the most recent invoice. In preview, invoices are available via this API only for invoice periods which end December 1, 2016 or later
      externalDocs:
        url: https://go.microsoft.com/fwlink/?linkid=842057
      x-ms-examples:
        InvoicesList:
          $ref: ./examples/InvoicesList.json
        InvoicesExpand:
          $ref: ./examples/InvoicesExpand.json
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - name: $expand
        description: May be used to expand the downloadUrl property within a list of invoices. This enables download links to be generated for multiple invoices at once. By default, downloadURLs are not included when listing invoices.
        in: query
        required: false
        schema:
          type: string
      - name: $filter
        description: May be used to filter invoices by invoicePeriodEndDate. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'
        in: query
        required: false
        schema:
          type: string
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
        in: query
        required: false
        schema:
          type: string
      - name: $top
        description: May be used to limit the number of results to the most recent N invoices.
        in: query
        required: false
        schema:
          type: integer
          format: int32
          maximum: 100
          minimum: 1
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Billing…
  /subscriptions/{subscriptionId}/providers/Microsoft.Billing/invoices/{invoiceName}:
    get:
      tags:
      - Invoices
      operationId: microsoftAzureInvoicesGet
      description: Gets a named invoice resource. When getting a single invoice, the downloadUrl property is expanded automatically.
      x-ms-examples:
        InvoicesGet:
          $ref: ./examples/InvoicesGet.json
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - name: invoiceName
        description: The name of an invoice resource.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Billing…
  /subscriptions/{subscriptionId}/providers/Microsoft.Billing/invoices/latest:
    get:
      tags:
      - Invoices
      operationId: microsoftAzureInvoicesGetlatest
      description: Gets the most recent invoice. When getting a single invoice, the downloadUrl property is expanded automatically.
      x-ms-examples:
        InvoicesGetLatest:
          $ref: ./examples/InvoicesGetLatest.json
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Billing…
components:
  schemas:
    DownloadUrl:
      description: A secure URL that can be used to download a PDF invoice until the URL expires.
      properties:
        expiryTime:
          description: The time in UTC at which this download URL will expire.
          type: string
          format: date-time
          readOnly: true
        url:
          description: The URL to the PDF file.
          type: string
          readOnly: true
    Invoice:
      description: An invoice resource can be used download a PDF version of an invoice.
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/InvoiceProperties'
      allOf:
      - $ref: '#/components/schemas/Resource'
    InvoicesListResult:
      description: Result of the request to list invoices. It contains a list of available invoices in reverse chronological order.
      properties:
        value:
          description: The list of invoices.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Invoice'
        nextLink:
          description: the link (url) to the next page of results.
          type: string
          readOnly: true
    ErrorResponse:
      description: Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetails'
    InvoiceProperties:
      description: The properties of the invoice.
      properties:
        invoicePeriodStartDate:
          description: The start of the date range covered by the invoice.
          type: string
          format: date
          readOnly: true
        invoicePeriodEndDate:
          description: The end of the date range covered by the invoice.
          type: string
          format: date
          readOnly: true
        downloadUrl:
          description: A secure link to download the PDF version of an invoice. The link will cease to work after its expiry time is reached.
          $ref: '#/components/schemas/DownloadUrl'
    Resource:
      description: The Resource model definition.
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
      x-ms-azure-resource: true
    ErrorDetails:
      description: The details of the error.
      properties:
        code:
          description: Error code.
          type: string
          readOnly: true
        message:
          description: Error message indicating why the operation failed.
          type: string
          readOnly: true
        target:
          description: The target of the particular error.
          type: string
          readOnly: true
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Azure Subscription ID.
      required: true
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Version of the API to be used with the client request. The current version is 2017-02-27-preview.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
