openapi: 3.2.0
info:
  title: Microsoft Azure ApplicationClient Jit Requests API
  version: 2023-12-01-preview
  description: ARM applications
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: JitRequests
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/jitRequests/{jitRequestName}
  : get:
      tags:
      - JitRequests
      operationId: microsoftAzureJitrequestsGet
      description: Gets the JIT request.
      x-ms-examples:
        Gets the jit request:
          $ref: ./examples/getJitRequest.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/JitRequestNameParameter'
      responses:
        '200':
          description: OK - Returns the JIT request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JitRequestDefinition'
        '404':
          description: NotFound.
          x-ms-error-response: false
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - JitRequests
      operationId: microsoftAzureJitrequestsCreateorupdate
      description: Creates or updates the JIT request.
      x-ms-examples:
        Create or update jit request:
          $ref: ./examples/createOrUpdateJitRequest.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/JitRequestNameParameter'
      responses:
        '200':
          description: OK - Returns information about the JIT request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JitRequestDefinition'
        '201':
          description: Created - Returns information about the JIT request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JitRequestDefinition'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JitRequestDefinition'
        description: Parameters supplied to the update JIT request.
        required: true
    patch:
      tags:
      - JitRequests
      operationId: microsoftAzureJitrequestsUpdate
      description: Updates the JIT request.
      x-ms-examples:
        Update jit request:
          $ref: ./examples/updateJitRequest.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/JitRequestNameParameter'
      responses:
        '200':
          description: Ok - Returns information about the JIT request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JitRequestDefinition'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JitRequestPatchable'
        description: Parameters supplied to the update JIT request.
        required: true
    delete:
      tags:
      - JitRequests
      operationId: microsoftAzureJitrequestsDelete
      description: Deletes the JIT request.
      x-ms-examples:
        Delete jit request:
          $ref: ./examples/deleteJitRequest.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/JitRequestNameParameter'
      responses:
        '200':
          description: OK
        '204':
          description: NoContent
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/providers/Microsoft.Solutions/jitRequests:
    get:
      tags:
      - JitRequests
      operationId: microsoftAzureJitrequestsListbysubscription
      description: Lists all JIT requests within the subscription.
      x-ms-examples:
        Lists all JIT requests within the subscription:
          $ref: ./examples/listJitRequestsByResourceGroup.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK - Returns an array of JIT requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JitRequestDefinitionListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Solutions…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/jitRequests:
    get:
      tags:
      - JitRequests
      operationId: microsoftAzureJitrequestsListbyresourcegroup
      description: Lists all JIT requests within the resource group.
      x-ms-examples:
        Lists all JIT requests within the resource group:
          $ref: ./examples/listJitRequestsByResourceGroup.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK - Returns an array of JIT requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JitRequestDefinitionListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    JitRequestProperties:
      type: object
      properties:
        applicationResourceId:
          type: string
          description: The parent application id.
        publisherTenantId:
          readOnly: true
          type: string
          description: The publisher tenant id.
        jitAuthorizationPolicies:
          description: The JIT authorization policies.
          type: array
          items:
            $ref: '#/components/schemas/JitAuthorizationPolicies'
          x-ms-identifiers:
          - principalId
          - roleDefinitionId
        jitSchedulingPolicy:
          $ref: '#/components/schemas/JitSchedulingPolicy'
          description: The JIT request properties.
        provisioningState:
          readOnly: true
          $ref: '#/components/schemas/ProvisioningState'
          description: The JIT request provisioning state.
        jitRequestState:
          readOnly: true
          $ref: '#/components/schemas/JitRequestState'
          description: The JIT request state.
        createdBy:
          readOnly: true
          $ref: '#/components/schemas/ApplicationClientDetails'
          description: The client entity that created the JIT request.
        updatedBy:
          readOnly: true
          $ref: '#/components/schemas/ApplicationClientDetails'
          description: The client entity that last updated the JIT request.
      required:
      - applicationResourceId
      - jitAuthorizationPolicies
      - jitSchedulingPolicy
      description: Information about JIT request properties
    JitSchedulingType:
      description: The JIT request scheduling type.
      enum:
      - NotSpecified
      - Once
      - Recurring
      type: string
      x-ms-enum:
        name: JitSchedulingType
        modelAsString: true
    ProvisioningState:
      description: Provisioning status of the managed application.
      readOnly: true
      enum:
      - NotSpecified
      - Accepted
      - Running
      - Deleting
      - Deleted
      - Canceled
      - Failed
      - Succeeded
      - Updating
      type: string
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    JitRequestDefinition:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/JitRequestProperties'
          description: The JIT request properties.
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Information about JIT request definition.
    JitRequestPatchable:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Jit request tags
      description: Information about JIT request.
    ApplicationClientDetails:
      type: object
      readOnly: true
      properties:
        oid:
          type: string
          description: The client Oid.
        puid:
          type: string
          description: The client Puid
        applicationId:
          type: string
          description: The client application Id.
      description: The application client details to track the entity creating/updating the managed app resource.
    JitAuthorizationPolicies:
      type: object
      properties:
        principalId:
          type: string
          description: The the principal id that will be granted JIT access.
        roleDefinitionId:
          type: string
          description: The role definition id that will be granted to the Principal.
      required:
      - principalId
      - roleDefinitionId
      description: The JIT authorization policies.
    Resource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Resource ID
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        location:
          type: string
          description: Resource location
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          readOnly: true
      description: Resource information.
      x-ms-azure-resource: true
    JitSchedulingPolicy:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/JitSchedulingType'
          description: The type of JIT schedule.
        duration:
          type: string
          format: duration
          title: The required duration of the JIT request.
        startTime:
          type: string
          format: date-time
          description: The start time of the request.
      required:
      - type
      - duration
      - startTime
      description: The JIT scheduling policies.
    JitRequestDefinitionListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/JitRequestDefinition'
          description: The array of Jit request definition.
        nextLink:
          type: string
          description: The URL to use for getting the next set of results.
      description: List of JIT requests.
    JitRequestState:
      description: The JIT request state.
      readOnly: true
      enum:
      - NotSpecified
      - Pending
      - Approved
      - Denied
      - Failed
      - Canceled
      - Expired
      - Timeout
      type: string
      x-ms-enum:
        name: JitRequestState
        modelAsString: true
  parameters:
    JitRequestNameParameter:
      name: jitRequestName
      in: path
      required: true
      description: The name of the JIT request.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-ms-paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applicationDefinitions/{applicationDefinitionName}?disambiguation_dummy
  : get:
      tags:
      - ApplicationDefinitions
      operationId: ApplicationDefinitions_GetById
      description: Gets the managed application definition.
      x-ms-examples:
        Get managed application definition:
          $ref: ./examples/getApplicationDefinition.json
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group. The name is case insensitive.
        pattern: ^[-\w\._\(\)]+$
        minLength: 1
        maxLength: 90
      - name: applicationDefinitionName
        in: path
        required: true
        type: string
        description: The name of the managed application definition.
        minLength: 3
        maxLength: 64
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: OK - Returns the managed application definition.
          schema:
            $ref: '#/components/schemas/ApplicationDefinition'
        '404':
          description: NotFound.
          x-ms-error-response: false
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
    delete:
      tags:
      - ApplicationDefinitions
      operationId: ApplicationDefinitions_DeleteById
      description: Deletes the managed application definition.
      x-ms-examples:
        Deletes managed application definition:
          $ref: ./examples/deleteApplicationDefinition.json
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group. The name is case insensitive.
        pattern: ^[-\w\._\(\)]+$
        minLength: 1
        maxLength: 90
      - name: applicationDefinitionName
        in: path
        required: true
        type: string
        description: The name of the managed application definition.
        minLength: 3
        maxLength: 64
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: OK
        '204':
          description: NoContent
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
    put:
      tags:
      - ApplicationDefinitions
      operationId: ApplicationDefinitions_CreateOrUpdateById
      description: Creates or updates a managed application definition.
      x-ms-examples:
        Create or update managed application definition:
          $ref: ./examples/createOrUpdateApplicationDefinition.json
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group. The name is case insensitive.
        pattern: ^[-\w\._\(\)]+$
        minLength: 1
        maxLength: 90
      - name: applicationDefinitionName
        in: path
        required: true
        type: string
        description: The name of the managed application definition.
        minLength: 3
        maxLength: 64
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/components/schemas/ApplicationDefinition'
        description: Parameters supplied to the create or update a managed application definition.
      responses:
        '200':
          description: OK - Returns information about the managed application definition, including provisioning status.
          schema:
            $ref: '#/components/schemas/ApplicationDefinition'
        '201':
          description: Created - Returns information about the managed application definition, including provisioning status.
          schema:
            $ref: '#/components/schemas/ApplicationDefinition'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
    patch:
      tags:
      - ApplicationDefinitions
      operationId: ApplicationDefinitions_UpdateById
      description: Updates the managed application definition.
      x-ms-examples:
        Update managed application definition:
          $ref: ./examples/updateApplicationDefinition.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/ApplicationDefinitionNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/components/schemas/ApplicationDefinitionPatchable'
        description: Parameters supplied to the update a managed application definition.
      responses:
        '200':
          description: OK - Returns information about the managed application definition, including provisioning status.
          schema:
            $ref: '#/components/schemas/ApplicationDefinition'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
