openapi: 3.2.0
info:
  title: Microsoft Azure PostgreSQLServerManagementClient Virtual…
  description: The Microsoft Azure management API provides create, read, update, and delete functionality for Azure PostgreSQL resources including servers, databases, firewall rules, VNET rules, security alert policies, log files and configurations with new business model.
  version: 2023-06-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: VirtualNetworkSubnetUsage
paths:
  ? /subscriptions/{subscriptionId}/providers/Microsoft.DBforPostgreSQL/locations/{locationName}/checkVirtualNetworkSubnetUsage
  : post:
      tags:
      - VirtualNetworkSubnetUsage
      operationId: microsoftAzureVirtualnetworksubnetusageExecute
      x-ms-examples:
        VirtualNetworkSubnetUsageList:
          $ref: ./examples/VirtualNetworkSubnetUsage.json
      description: Get virtual network subnet usage for a given vNet resource id.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../types/common-types.json#/parameters/LocationNameParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkSubnetUsageResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkSubnetUsageParameter'
        description: The required parameters for creating or updating a server.
        required: true
components:
  schemas:
    VirtualNetworkSubnetUsageParameter:
      type: object
      properties:
        virtualNetworkArmResourceId:
          type: string
          description: Virtual network resource id.
      description: Virtual network subnet usage parameter
    DelegatedSubnetUsage:
      type: object
      properties:
        subnetName:
          type: string
          readOnly: true
          description: Name of the delegated subnet for which IP addresses are in use
        usage:
          type: integer
          format: int64
          readOnly: true
          description: Number of IP addresses used by the delegated subnet
      description: Delegated subnet usage data.
    VirtualNetworkSubnetUsageResult:
      type: object
      properties:
        delegatedSubnetsUsage:
          type: array
          items:
            $ref: '#/components/schemas/DelegatedSubnetUsage'
          readOnly: true
          x-ms-identifiers:
          - subnetName
        location:
          type: string
          readOnly: true
          description: location of the delegated subnet usage
        subscriptionId:
          type: string
          readOnly: true
          description: subscriptionId of the delegated subnet usage
      description: Virtual network subnet usage data.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
