openapi: 3.2.0
info:
  title: Microsoft Azure ExpressRouteCrossConnection REST Express…
  description: The Microsoft Azure ExpressRouteCrossConnection Resource Provider REST APIs describes the operations for the connectivity provider to provision ExpressRoute circuit, create and modify BGP peering entities and troubleshoot connectivity on customer's ExpressRoute circuit.
  version: '2023-11-01'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ExpressRouteCrossConnectionRouteTable
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCrossConnections/{crossConnectionName}/peerings/{peeringName}/routeTables/{devicePath}
  : post:
      tags:
      - ExpressRouteCrossConnectionRouteTable
      operationId: microsoftAzureExpressroutecrossconnectionsListroutestable
      description: Gets the currently advertised routes table associated with the express route cross connection in a resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: crossConnectionName
        in: path
        required: true
        description: The name of the ExpressRouteCrossConnection.
        schema:
          type: string
      - name: peeringName
        in: path
        required: true
        description: The name of the peering.
        schema:
          type: string
      - name: devicePath
        in: path
        required: true
        description: The path of the device.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Request successful. The operation returns the resulting ExpressRouteCrossConnectionsRouteTable resource.
          content:
            application/json:
              schema:
                $ref: ./expressRouteCircuit.json#/definitions/ExpressRouteCircuitsRoutesTableListResult
        '202':
          description: Accepted and the operation will complete asynchronously.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        GetExpressRouteCrossConnectionsRouteTable:
          $ref: ./examples/ExpressRouteCrossConnectionsRouteTable.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
