openapi: 3.2.0
info:
  version: 2023-10-01-preview
  title: Microsoft Azure Microsoft.ResourceHealth Event Impacted…
  description: The Resource Health Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: EventImpactedResources
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.ResourceHealth/events/{eventTrackingId}/impactedResources:
    get:
      tags:
      - EventImpactedResources
      operationId: microsoftAzureImpactedresourcesListbysubscriptionidandeventid
      description: Lists impacted resources in the subscription by an event.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/EventTrackingIdParameter'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/FilterParameter'
      responses:
        '200':
          description: The list of impacted resources in the subscription by an event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eventImpactedResourceListResult'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ListImpactedResourcesBySubscriptionId:
          $ref: ./examples/ImpactedResources_ListBySubscriptionId_ListByEventId.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
  ? /subscriptions/{subscriptionId}/providers/Microsoft.ResourceHealth/events/{eventTrackingId}/impactedResources/{impactedResourceName}
  : get:
      tags:
      - EventImpactedResources
      operationId: microsoftAzureImpactedresourcesGet
      description: Gets the specific impacted resource in the subscription by an event.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/EventTrackingIdParameter'
      - $ref: '#/components/parameters/ImpactedResourceNameParameter'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The details of Impacted Resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eventImpactedResource'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        ImpactedResourcesGet:
          $ref: ./examples/ImpactedResources_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
  /providers/Microsoft.ResourceHealth/events/{eventTrackingId}/impactedResources:
    get:
      tags:
      - EventImpactedResources
      operationId: microsoftAzureImpactedresourcesListbytenantidandeventid
      description: Lists impacted resources in the tenant by an event.
      parameters:
      - $ref: '#/components/parameters/EventTrackingIdParameter'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/FilterParameter'
      responses:
        '200':
          description: The list of impacted resources in the tenant by an event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eventImpactedResourceListResult'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ListEventsByTenantId:
          $ref: ./examples/ImpactedResources_ListByTenantId_ListByEventId.json
      summary: Microsoft Azure Get Providers Microsoft Resourcehealth Events Eventtrackingid…
  /providers/Microsoft.ResourceHealth/events/{eventTrackingId}/impactedResources/{impactedResourceName}:
    get:
      tags:
      - EventImpactedResources
      operationId: microsoftAzureImpactedresourcesGetbytenantid
      description: Gets the specific impacted resource in the tenant by an event.
      parameters:
      - $ref: '#/components/parameters/EventTrackingIdParameter'
      - $ref: '#/components/parameters/ImpactedResourceNameParameter'
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The details of Impacted Resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eventImpactedResource'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        ImpactedResourcesGet:
          $ref: ./examples/ImpactedResources_GetByTenantId.json
      summary: Microsoft Azure Get Providers Microsoft Resourcehealth Events Eventtrackingid…
components:
  parameters:
    EventTrackingIdParameter:
      name: eventTrackingId
      in: path
      required: true
      description: Event Id which uniquely identifies ServiceHealth event.
      x-ms-parameter-location: method
      schema:
        type: string
    ImpactedResourceNameParameter:
      name: impactedResourceName
      in: path
      description: Name of the Impacted Resource.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[^*#&+:<>%?]+$
    FilterParameter:
      name: $filter
      in: query
      required: false
      description: The filter to apply on the operation. For more information please see https://docs.microsoft.com/en-us/rest/api/apimanagement/apis?redirectedfrom=MSDN
      x-ms-parameter-location: method
      schema:
        type: string
  schemas:
    eventImpactedResource:
      type: object
      description: Impacted resource for an event.
      properties:
        properties:
          x-ms-client-flatten: true
          type: object
          description: Properties of impacted resource.
          properties:
            targetResourceType:
              readOnly: true
              type: string
              description: Resource type within Microsoft cloud.
            targetResourceId:
              readOnly: true
              type: string
              description: Identity for resource within Microsoft cloud.
            targetRegion:
              readOnly: true
              type: string
              description: Impacted resource region name.
            resourceName:
              readOnly: true
              type: string
              description: Resource name of the impacted resource.
            resourceGroup:
              readOnly: true
              type: string
              description: Resource group name of the impacted resource.
            status:
              readOnly: true
              type: string
              description: Status of the impacted resource.
            maintenanceStartTime:
              readOnly: true
              type: string
              description: Start time of maintenance for the impacted resource.
            maintenanceEndTime:
              readOnly: true
              type: string
              description: End time of maintenance for the impacted resource.
            info:
              type: array
              items:
                $ref: '#/components/schemas/keyValueItem'
              description: Additional information.
              x-ms-identifiers: []
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
    keyValueItem:
      type: object
      description: Key value tuple.
      properties:
        key:
          readOnly: true
          type: string
          description: Key of tuple.
        value:
          readOnly: true
          type: string
          description: Value of tuple.
    ErrorResponse:
      description: Error details.
      type: object
      properties:
        code:
          description: The error code.
          type: string
          readOnly: true
        message:
          description: The error message.
          type: string
          readOnly: true
        details:
          description: The error details.
          type: string
          readOnly: true
    eventImpactedResourceListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/eventImpactedResource'
          description: The list of eventImpactedResources.
        nextLink:
          type: string
          description: The URI to fetch the next page of events. Call ListNext() with this URI to fetch the next page of impacted resource.
      required:
      - value
      description: The List of eventImpactedResources operation response.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
