openapi: 3.2.0
info:
  version: 2023-07-01-preview
  title: Microsoft Azure CdnManagementClient Check Name Availability…
  description: Use these APIs to manage Azure CDN resources through the Azure Resource Manager. You must make sure that requests made to these resources are secure.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: CheckNameAvailabilityWithSubscription
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Cdn/checkNameAvailability:
    post:
      tags:
      - CheckNameAvailabilityWithSubscription
      description: Check the availability of a resource name. This is needed for resources where name is globally unique, such as a CDN endpoint.
      operationId: microsoftAzureChecknameavailabilitywithsubscription
      x-ms-examples:
        CheckNameAvailabilityWithSubscription:
          $ref: ./examples/CheckNameAvailabilityWithSubscription.json
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityOutput'
        default:
          description: CDN error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft Cdn…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityInput'
        description: Input to check.
        required: true
components:
  schemas:
    ResourceType:
      description: Type of CDN resource used in CheckNameAvailability.
      enum:
      - Microsoft.Cdn/Profiles/Endpoints
      - Microsoft.Cdn/Profiles/AfdEndpoints
      type: string
      x-ms-enum:
        name: ResourceType
        modelAsString: true
    CheckNameAvailabilityInput:
      description: Input of CheckNameAvailability API.
      type: object
      required:
      - name
      - type
      properties:
        name:
          description: The resource name to validate.
          type: string
        type:
          description: The type of the resource whose name is to be validated.
          $ref: '#/components/schemas/ResourceType'
    CheckNameAvailabilityOutput:
      description: Output of check name availability API.
      type: object
      properties:
        nameAvailable:
          description: Indicates whether the name is available.
          readOnly: true
          type: boolean
        reason:
          description: The reason why the name is not available.
          readOnly: true
          type: string
        message:
          description: The detailed error message describing why the name is not available.
          readOnly: true
          type: string
    ErrorResponse:
      title: Error response
      description: Error response indicates Azure Front Door Standard or Azure Front Door Premium or CDN service is not able to process the incoming request. The reason is provided in the error message.
      type: object
      properties:
        error:
          $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorDetail
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Azure Subscription ID.
      required: true
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Version of the API to be used with the client request. Current version is 2023-05-01.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
