openapi: 3.2.0
info:
  title: Microsoft Azure Solutions API
  x-refined-note:
  - x-typespec-generated differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Solutions across 3 of this provider''s published API definitions: azure-agfoodplatform-rp-service-openapi-original.yml, helprp-openapi-original.yml, microsoftiotoperationsorchestrator-management-service-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Solutions
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AgFoodPlatform/farmBeats/{dataManagerForAgricultureResourceName}/solutions/{solutionId}
  : put:
      tags:
      - Solutions
      description: Install Or Update Solution.
      operationId: microsoftAzureSolutionsCreateorupdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/DataManagerForAgricultureResourceNameParameter'
      - in: path
        name: solutionId
        description: SolutionId for Data Manager For Agriculture Resource.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z]{3,50}[.][a-zA-Z]{3,100}$
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Solution'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Solution'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Solutions_CreateOrUpdate:
          $ref: ./examples/Solutions_CreateOrUpdate.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Solution'
        description: Solution resource request body.
    get:
      tags:
      - Solutions
      description: Get installed Solution details by Solution id.
      operationId: microsoftAzureSolutionsGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/DataManagerForAgricultureResourceNameParameter'
      - in: path
        name: solutionId
        description: SolutionId for Data Manager For Agriculture Resource.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z]{3,50}[.][a-zA-Z]{3,100}$
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Solution'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Solutions_Get:
          $ref: ./examples/Solutions_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    delete:
      tags:
      - Solutions
      description: Uninstall Solution.
      operationId: microsoftAzureSolutionsDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/DataManagerForAgricultureResourceNameParameter'
      - in: path
        name: solutionId
        description: SolutionId for Data Manager For Agriculture Resource.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z]{3,50}[.][a-zA-Z]{3,100}$
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
        '204':
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Solutions_Delete:
          $ref: ./examples/Solutions_Delete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AgFoodPlatform/farmBeats/{dataManagerForAgricultureResourceName}/solutions
  : get:
      tags:
      - Solutions
      description: Get installed Solutions details.
      operationId: microsoftAzureSolutionsList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/DataManagerForAgricultureResourceNameParameter'
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - in: query
        name: solutionIds
        description: Installed Solution ids.
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - in: query
        name: ids
        description: Ids of the resource.
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - in: query
        name: names
        description: Names of the resource.
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - in: query
        name: propertyFilters
        description: 'Filters on key-value pairs within the Properties object.

          eg. "{testKey} eq {testValue}".'
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - in: query
        name: statuses
        description: Statuses of the resource.
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - in: query
        name: minCreatedDateTime
        description: Minimum creation date of resource (inclusive).
        schema:
          type: string
          format: date-time
      - in: query
        name: maxCreatedDateTime
        description: Maximum creation date of resource (inclusive).
        schema:
          type: string
          format: date-time
      - in: query
        name: minLastModifiedDateTime
        description: Minimum last modified date of resource (inclusive).
        schema:
          type: string
          format: date-time
      - in: query
        name: maxLastModifiedDateTime
        description: Maximum last modified date of resource (inclusive).
        schema:
          type: string
          format: date-time
      - in: query
        name: $maxPageSize
        description: 'Maximum number of items needed (inclusive).

          Minimum = 10, Maximum = 1000, Default value = 50.'
        schema:
          type: integer
          format: int32
          default: 50
          maximum: 1000
          minimum: 10
      - in: query
        name: $skipToken
        description: Skip token for getting next set of results.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolutionListResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Solutions_List:
          $ref: ./examples/Solutions_List.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  /{scope}/providers/Microsoft.Help/solutions/{solutionResourceName}:
    put:
      tags:
      - Solutions
      description: 'Creates a solution for the specific Azure resource or subscription using the inputs ‘solutionId and requiredInputs’ from discovery solutions. Azure solutions comprise a comprehensive library of self-help resources that have been thoughtfully curated by Azure engineers to aid customers in resolving typical troubleshooting issues. These solutions encompass: (1.) Dynamic and context-aware diagnostics, guided troubleshooting wizards, and data visualizations. (2.) Rich instructional video tutorials and illustrative diagrams and images. (3.) Thoughtfully assembled textual troubleshooting instructions. All these components are seamlessly converged into unified solutions tailored to address a specific support problem area.'
      operationId: microsoftAzureSolutionCreate
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - $ref: '#/components/parameters/ScopeParameter'
      - $ref: '#/components/parameters/SolutionResourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Create or Update solution invocation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolutionResource'
        '201':
          description: Create or Update solution invocation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolutionResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Solution_Create:
          $ref: ./examples/Solution_Create.json
      summary: Microsoft Azure Put Scope Providers Microsoft Help Solutions…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SolutionResource'
        description: The required request body for this solution resource creation.
    get:
      tags:
      - Solutions
      description: Get the solution using the applicable solutionResourceName while creating the solution.
      operationId: microsoftAzureSolutionGet
      parameters:
      - $ref: '#/components/parameters/ScopeParameter'
      - $ref: '#/components/parameters/SolutionResourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successful fetched solution result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolutionResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Solution_Get:
          $ref: ./examples/Solution_Get.json
      summary: Microsoft Azure Get Scope Providers Microsoft Help Solutions…
    patch:
      tags:
      - Solutions
      description: Update the requiredInputs or additional information needed to execute the solution
      operationId: microsoftAzureSolutionUpdate
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - $ref: '#/components/parameters/ScopeParameter'
      - $ref: '#/components/parameters/SolutionResourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successful updated solution resource.
          headers:
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolutionResource'
        '202':
          description: Successful updated solution resource.
          headers:
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolutionResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Solution_Update:
          $ref: ./examples/Solution_Update.json
      summary: Microsoft Azure Patch Scope Providers Microsoft Help Solutions…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SolutionPatchRequestBody'
        description: The required request body for updating a solution resource.
    servers:
    - url: https://management.azure.com
  /{scope}/providers/Microsoft.Help/solutions/{solutionResourceName}/warmup:
    post:
      tags:
      - Solutions
      description: Warm up the solution resource by preloading asynchronous diagnostics results into cache
      operationId: microsoftAzureSolutionWarmup
      parameters:
      - $ref: '#/components/parameters/ScopeParameter'
      - $ref: '#/components/parameters/SolutionResourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '204':
          description: Successfully warmed up the solution resource
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Solution_WarmUp:
          $ref: ./examples/Solution_WarmUp.json
      summary: Microsoft Azure Post Scope Providers Microsoft Help Solutions…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SolutionWarmUpRequestBody'
        description: The required request body for warming up a solution resource.
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.IoTOperationsOrchestrator/solutions:
    get:
      operationId: microsoftAzureSolutionsListbysubscription
      tags:
      - Solutions
      description: List Solution resources by subscription ID
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolutionListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Solutions_ListBySubscription - generated by [MaximumSet] rule - generated by [MaximumSet] rule:
          $ref: ./examples/Solutions_ListBySubscription_MaximumSet_Gen.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTOperationsOrchestrator/solutions:
    get:
      operationId: microsoftAzureSolutionsListbyresourcegroup
      tags:
      - Solutions
      description: List Solution resources by resource group
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolutionListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Solutions_ListByResourceGroup - generated by [MaximumSet] rule - generated by [MaximumSet] rule:
          $ref: ./examples/Solutions_ListByResourceGroup_MaximumSet_Gen.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTOperationsOrchestrator/solutions/{name}
  : get:
      operationId: microsoftAzureSolutionsGet
      tags:
      - Solutions
      description: Get a Solution
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of solution.
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9][a-z0-9-]{1,60}[a-z0-9]$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Solution_2'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Solutions_Get - generated by [MaximumSet] rule - generated by [MaximumSet] rule:
          $ref: ./examples/Solutions_Get_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      operationId: microsoftAzureSolutionsCreateorupdate
      tags:
      - Solutions
      description: Create a Solution
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of solution.
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9][a-z0-9-]{1,60}[a-z0-9]$
      responses:
        '200':
          description: Resource 'Solution' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Solution_2'
        '201':
          description: Resource 'Solution' create operation succeeded
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Solution_2'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Solutions_CreateOrUpdate - generated by [MaximumSet] rule - generated by [MaximumSet] rule:
          $ref: ./examples/Solutions_CreateOrUpdate_MaximumSet_Gen.json
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Solution_2'
        description: Resource create parameters.
        required: true
    patch:
      operationId: microsoftAzureSolutionsUpdate
      tags:
      - Solutions
      description: Update a Solution
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of solution.
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9][a-z0-9-]{1,60}[a-z0-9]$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Solution_2'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Solutions_Update - generated by [MaximumSet] rule - generated by [MaximumSet] rule:
          $ref: ./examples/Solutions_Update_MaximumSet_Gen.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SolutionTagsUpdate'
        description: The resource properties to be updated.
        required: true
    delete:
      operationId: microsoftAzureSolutionsDelete
      tags:
      - Solutions
      description: Delete a Solution
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of solution.
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9][a-z0-9-]{1,60}[a-z0-9]$
      responses:
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Solutions_Delete - generated by [MaximumSet] rule - generated by [MaximumSet] rule:
          $ref: ./examples/Solutions_Delete_MaximumSet_Gen.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
components:
  schemas:
    Solution:
      description: Solution resource.
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/ProxyResource
      properties:
        systemData:
          $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/systemData
        properties:
          $ref: '#/components/schemas/SolutionProperties'
        eTag:
          description: The ETag value to implement optimistic concurrency.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    SolutionProperties:
      description: Solution resource properties.
      required:
      - marketplacePublisherId
      - offerId
      - planId
      - saasSubscriptionId
      - saasSubscriptionName
      - termId
      type: object
      properties:
        partnerId:
          description: Partner Id of the Solution.
          type: string
          readOnly: true
        saasSubscriptionId:
          description: SaaS subscriptionId of the installed SaaS application.
          minLength: 1
          type: string
        saasSubscriptionName:
          description: SaaS subscription name of the installed SaaS application.
          minLength: 1
          type: string
        marketplacePublisherId:
          description: SaaS application Marketplace Publisher Id.
          minLength: 1
          type: string
        planId:
          description: SaaS application Plan Id.
          minLength: 1
          type: string
        roleAssignmentId:
          description: Role Assignment Id.
          type: string
        offerId:
          description: SaaS application Offer Id.
          minLength: 1
          type: string
        termId:
          description: SaaS application Term Id.
          minLength: 1
          type: string
      additionalProperties: {}
    SolutionListResponse:
      description: Paged response contains list of requested objects and a URL link to get the next set of results.
      required:
      - value
      type: object
      properties:
        value:
          description: List of requested objects.
          type: array
          items:
            $ref: '#/components/schemas/Solution'
        $skipToken:
          description: Token used in retrieving the next page. If null, there are no additional pages.
          type: string
        nextLink:
          description: Continuation link (absolute URI) to the next page of results in the list.
          type: string
    WebResult:
      description: AzureKB web result
      type: object
      properties:
        replacementKey:
          description: Place holder used in HTML Content replace control with the content
          type: string
        searchResults:
          description: AzureKB search results
          type: array
          items:
            $ref: '#/components/schemas/SearchResult'
          x-ms-identifiers:
          - solutionId
    Filter:
      description: Filter criterion
      type: object
      properties:
        name:
          description: Filter name
          type: string
        values:
          description: Filter values
          type: string
        operator:
          description: Filter operator
          type: string
    MetricsBasedChart:
      description: Solutions metrics based chart
      type: object
      properties:
        name:
          description: Chart name
          type: string
        aggregationType:
          description: Allowed values are Sum, Avg, Count, Min, Max. Default is Sum
          type: string
          enum:
          - Sum
          - Avg
          - Count
          - Min
          - Max
          x-ms-enum:
            name: aggregationType
            modelAsString: true
        timeSpanDuration:
          description: Time span duration
          type: string
        title:
          description: Chart title
          type: string
        filterGroup:
          $ref: '#/components/schemas/FilterGroup'
        replacementKey:
          description: Place holder used in HTML Content replace control with the content
          type: string
    SolutionPatchRequestBody:
      description: Solution PatchRequest body
      type: object
      x-ms-azure-resource: true
      properties:
        properties:
          $ref: '#/components/schemas/SolutionResourceProperties'
          x-ms-client-flatten: true
    Status:
      description: The status of the resource.
      type: string
      enum:
      - Failed
      - MissingInputs
      - Running
      - Succeeded
      - Timeout
      x-ms-enum:
        name: status
        modelAsString: true
    Video:
      allOf:
      - $ref: '#/components/schemas/VideoGroupVideo'
      description: Video detail
      type: object
      properties:
        replacementKey:
          description: Place holder used in HTML Content replace control with the insight content
          type: string
    Section:
      description: Part of the solution and are dividers in the solution rendering.
      type: object
      properties:
        title:
          description: Solution sections title.
          type: string
        content:
          description: Solution sections content.
          type: string
        replacementMaps:
          $ref: '#/components/schemas/ReplacementMaps'
    SolutionsDiagnostic:
      description: Solutions Diagnostic
      type: object
      properties:
        solutionId:
          description: Solution Id to identify single Solutions Diagnostic
          type: string
        status:
          $ref: '#/components/schemas/Status'
        statusDetails:
          description: Details of the status
          type: string
        replacementKey:
          description: Place holder used in HTML Content replace control with the content
          type: string
        estimatedCompletionTime:
          description: Diagnostics estimated completion time in minutes
          type: string
        requiredParameters:
          description: Required parameters of this item
          type: array
          items:
            type: string
          x-ms-identifiers: []
        insights:
          description: Diagnostic insights
          type: array
          items:
            $ref: '#/components/schemas/Insight'
          x-ms-identifiers: []
    SolutionsTroubleshooters:
      description: Troubleshooters in Solutions
      type: object
      properties:
        solutionId:
          description: Solution Id to identify single Solutions Troubleshooter
          type: string
        title:
          description: Troubleshooter title
          type: string
        summary:
          description: Troubleshooter summary
          type: string
    SearchResult:
      description: Details of an AzureKB search result.
      type: object
      properties:
        solutionId:
          description: Unique id of the result.
          type: string
        content:
          description: Content of the search result.
          type: string
        title:
          description: Title of the search result.
          type: string
        confidence:
          description: Confidence of the search result.
          type: string
          enum:
          - Low
          - Medium
          - High
          x-ms-enum:
            name: confidence
            modelAsString: true
        source:
          description: Source of the search result.
          type: string
        resultType:
          description: Result type of the search result.
          type: string
          enum:
          - Community
          - Documentation
          x-ms-enum:
            name: resultType
            modelAsString: true
        rank:
          description: rank of the search result
          type: integer
          format: int32
        link:
          description: Link to the document.
          type: string
    SolutionWarmUpRequestBody:
      description: Solution WarmUpRequest body
      type: object
      x-ms-azure-resource: true
      properties:
        parameters:
          type: object
          additionalProperties:
            type: string
    VideoGroupVideo:
      description: VideoGroup video detail
      type: object
      properties:
        src:
          description: Link to the video
          type: string
        title:
          description: Title of the video
          type: string
    SolutionResourceProperties:
      description: Solution result
      type: object
      properties:
        triggerCriteria:
          description: Solution request trigger criteria
          type: array
          items:
            $ref: '#/components/schemas/TriggerCriterion'
          x-ms-identifiers:
          - name
        parameters:
          description: Client input parameters to run Solution
          type: object
          additionalProperties:
            type: string
        solutionId:
          description: Solution Id to identify single solution.
          readOnly: true
          type: string
        provisioningState:
          description: Status of solution provisioning.
          type: string
          readOnly: true
          enum:
          - Succeeded
          - PartialComplete
          - Failed
          - Running
          - Canceled
          x-ms-enum:
            name: SolutionProvisioningState
            modelAsString: true
            values:
            - value: Succeeded
              description: All Solutions in the Batch succeeded.
            - value: PartialComplete
              description: Some Solutions are still running or failed.
            - value: Failed
              description: All Solutions failed to run.
            - value: Running
              description: All Solutions are still running.
            - value: Canceled
              description: When Solutions request gets canceled.
        title:
          description: The title.
          readOnly: true
          type: string
        content:
          description: The HTML content that needs to be rendered and shown to customer.
          readOnly: true
          type: string
        replacementMaps:
          $ref: '#/components/schemas/ReplacementMaps'
          readOnly: true
        sections:
          description: List of section object.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Section'
          x-ms-identifiers:
          - title
    TriggerCriterion:
      description: Solution request trigger criterion. SolutionId/ProblemClassificationId is the only supported trigger type for Solution PUT request. ReplacementKey is the only supported trigger type for Solution PATCH request.
      type: object
      properties:
        name:
          description: Trigger criterion name.
          type: string
          enum:
          - SolutionId
          - ProblemClassificationId
          - ReplacementKey
          x-ms-enum:
            name: name
            modelAsString: true
        value:
          description: Trigger criterion value.
          type: string
    ReplacementMaps:
      description: Solution replacement maps.
      type: object
      properties:
        webResults:
          description: Solution AzureKB results
          type: array
          items:
            $ref: '#/components/schemas/WebResult'
          x-ms-identifiers: []
        diagnostics:
          description: Solution diagnostics results.
          type: array
          items:
            $ref: '#/components/schemas/SolutionsDiagnostic'
          x-ms-identifiers:
          - solutionId
        troubleshooters:
          description: Solutions Troubleshooters
          type: array
          items:
            $ref: '#/components/schemas/SolutionsTroubleshooters'
          x-ms-identifiers:
          - solutionId
        metricsBasedCharts:
          description: Solution metrics based charts
          type: array
          items:
            $ref: '#/components/schemas/MetricsBasedChart'
          x-ms-identifiers: []
        videos:
          description: Video solutions, which have the power to engage the customer by stimulating their senses
          type: array
          items:
            $ref: '#/components/schemas/Video'
          x-ms-identifiers: []
        videoGroups:
          description: Group of Videos
          type: array
          items:
            $ref: '#/components/schemas/VideoGroup'
          x-ms-identifiers: []
    FilterGroup:
      description: Filter group
      type: object
      properties:
        filter:
          description: List of filters
          type: array
          items:
            $ref: '#/components/schemas/Filter'
          x-ms-identifiers: []
    Insight:
      description: Detailed insights(s) obtained via the invocation of an insight diagnostic
      type: object
      properties:
        id:
          description: Article id.
          type: string
        title:
          description: This insight's title.
          type: string
        results:
          description: Detailed result content.
          type: string
        importanceLevel:
          description: Importance level of the insight.
          type: string
          enum:
          - Critical
          - Warning
          - Information
          x-ms-enum:
            name: importanceLevel
            modelAsString: true
            values:
            - value: Critical
              description: A critical insight has been found after running the diagnostic.
            - value: Warning
              description: A warning insight has been found after running the diagnostic.
            - value: Information
              description: An information insight has been found after running the diagnostic.
    VideoGroup:
      description: Video group detail
      type: object
      properties:
        videos:
          description: List of videos will be shown to customers
          type: array
          items:
            $ref: '#/components/schemas/VideoGroupVideo'
          x-ms-identifiers: []
        replacementKey:
          description: Place holder used in HTML Content replace control with the insight content
          type: string
    SolutionResource:
      description: Solution response.
      type: object
      x-ms-azure-resource: true
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
      properties:
        properties:
          $ref: '#/components/schemas/SolutionResourceProperties'
          x-ms-client-flatten: true
    ExtendedLocation:
      type: object
      description: Extended location is an extension of Azure locations. They provide a way to use their Azure ARC enabled Kubernetes clusters as target locations for deploying Azure services instances.
      properties:
        name:
          type: string
          description: The name of the extended location.
        type:
          type: string
          description: The type of the extended location.
      required:
      - name
      - type
    ComponentProperties:
      type: object
      description: Defines a desired runtime component.
      properties:
        dependencies:
          type: array
          description: Component dependencies.
          items:
            type: string
        name:
          type: string
          description: Name of the component.
        properties:
          type: object
          description: Properties of the component.
          additionalProperties: {}
        type:
          type: string
          description: Component type.
      required:
      - name
      - type
    SolutionListResult:
      type: object
      description: The response of a Solution list operation.
      properties:
        value:
          type: array
          description: The Solution items on this page
          items:
            $ref: '#/components/schemas/Solution_2'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    SolutionTagsUpdate:
      type: object
      description: The type used for updating tags in Solution resources.
      properties:
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
    Solution_2:
      type: object
      description: A Solution resource belonging to an Instance resource.
      properties:
        properties:
          $ref: '#/components/schemas/SolutionProperties_2'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
        extendedLocation:
          $ref: '#/components/schemas/ExtendedLocation'
          description: Edge location of the resource.
          x-ms-mutability:
          - read
          - create
      required:
      - extendedLocation
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource
    Azure.ResourceManager.ResourceProvisioningState:
      type: string
      description: The provisioning state of a resource type.
      enum:
      - Succeeded
      - Failed
      - Canceled
      x-ms-enum:
        name: ResourceProvisioningState
        modelAsString: true
        values:
        - name: Succeeded
          value: Succeeded
          description: Resource has been created.
        - name: Failed
          value: Failed
          description: Resource creation failed.
        - name: Canceled
          value: Canceled
          description: Resource creation was canceled.
    SolutionProperties_2:
      type: object
      description: The properties of a Solution resource.
      properties:
        components:
          type: array
          description: A list of components
          items:
            $ref: '#/components/schemas/ComponentProperties'
          x-ms-identifiers: []
        version:
          type: string
          description: Version of the particular resource.
        provisioningState:
          $ref: '#/components/schemas/Azure.ResourceManager.ResourceProvisioningState'
          description: The status of the last operation.
          readOnly: true
  parameters:
    DataManagerForAgricultureResourceNameParameter:
      in: path
      name: dataManagerForAgricultureResourceName
      description: DataManagerForAgriculture resource name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 63
        minLength: 1
        pattern: ^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      x-ms-parameter-location: client
      schema:
        type: string
    SolutionResourceNameParameter:
      name: solutionResourceName
      in: path
      required: true
      description: Solution resource Name.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 100
        minLength: 1
        pattern: ^[A-Za-z0-9-+@()_]+$
    ScopeParameter:
      name: scope
      in: path
      required: true
      description: 'scope = resourceUri of affected resource.<br/> For example: /subscriptions/0d0fcd2e-c4fd-4349-8497-200edb3923c6/resourcegroups/myresourceGroup/providers/Microsoft.KeyVault/vaults/test-keyvault-non-read '
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-refined-from:
- azure-agfoodplatform-rp-service-openapi-original.yml
- helprp-openapi-original.yml
- microsoftiotoperationsorchestrator-management-service-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
