openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft NetApp Volumes OnPrem Migration…
  description: Microsoft NetApp Azure Resource Provider specification
  version: 2023-07-01-preview
  x-ms-code-generation-settings:
    name: AzureNetAppFilesManagementClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Volumes OnPrem Migration
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/peerClusterForOnPremMigration
  : post:
      summary: Microsoft Azure Start Cluster Peering
      description: Starts peering the cluster for this migration volume
      tags:
      - Volumes OnPrem Migration
      operationId: microsoftAzureVolumesPeerclusterforonpremmigration
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountName'
      - $ref: '#/components/parameters/PoolName'
      - $ref: '#/components/parameters/VolumeName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/clusterPeerCommandResponse'
      x-ms-examples:
        Volumes_PeerClusterForOnPremMigration:
          $ref: examples/Volumes_PeerClusterForOnPremMigration.json
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/clusterPeerCommandResponse'
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/peerClusterForVolumeMigrationRequest'
        description: Cluster peer request object supplied in the body of the operation.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/createOnPremMigrationReplication
  : post:
      summary: Microsoft Azure Start Migration Process
      description: Starts SVM peering and returns a command to be run on the external ONTAP to accept it. Once the SVMs have been peered a SnapMirror will be created
      tags:
      - Volumes OnPrem Migration
      operationId: microsoftAzureVolumesCreateonpremmigrationreplication
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountName'
      - $ref: '#/components/parameters/PoolName'
      - $ref: '#/components/parameters/VolumeName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/svmPeerCommandResponse'
      x-ms-examples:
        Volumes_CreateOnPremMigrationReplication:
          $ref: examples/Volumes_CreateOnPremMigrationReplication.json
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/svmPeerCommandResponse'
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/performReplicationTransfer
  : post:
      tags:
      - Volumes OnPrem Migration
      summary: Microsoft Azure Perform A Replication Transfer
      description: Performs an adhoc replication transfer on a volume with volumeType Migration
      operationId: microsoftAzureVolumesPerformreplicationtransfer
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AccountName'
      - $ref: '#/components/parameters/PoolName'
      - $ref: '#/components/parameters/VolumeName'
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        Volumes_PerformReplicationTransfer:
          $ref: examples/Volumes_PerformReplicationTransfer.json
components:
  parameters:
    PoolName:
      name: poolName
      in: path
      required: true
      description: The name of the capacity pool
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 1
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9\-_]{0,63}$
    AccountName:
      name: accountName
      in: path
      required: true
      description: The name of the NetApp account
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9\-_]{0,127}$
    VolumeName:
      name: volumeName
      in: path
      required: true
      description: The name of the volume
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 1
        pattern: ^[a-zA-Z][a-zA-Z0-9\-_]{0,63}$
  schemas:
    clusterPeerCommandResponse:
      description: Information about cluster peering process
      type: object
      properties:
        peerAcceptCommand:
          description: A command that needs to be run on the external ONTAP to accept cluster peering.  Will only be present if <code>clusterPeeringStatus</code> is <code>pending</code>
          type: string
    svmPeerCommandResponse:
      description: Information about SVM peering process
      type: object
      properties:
        svmPeeringCommand:
          description: A command that needs to be run on the external ONTAP to accept SVM peering.  Will only be present if <code>svmPeeringStatus</code> is <code>pending</code>
          type: string
    peerClusterForVolumeMigrationRequest:
      description: Source cluster properties for a cluster peer request
      type: object
      required:
      - peerAddresses
      properties:
        peerAddresses:
          type: array
          minItems: 1
          description: A list of IC-LIF IPs that can be used to connect to the on-prem cluster
          example:
          - 0.0.0.1
          - 0.0.0.2
          - 0.0.0.3
          - 0.0.0.4
          - 0.0.0.5
          - 0.0.0.6
          items:
            type: string
        remotePath:
          description: The full path to a volume that is to be migrated into ANF. Required for Migration volumes
          type: object
          $ref: '#/components/schemas/remotePath'
          x-ms-mutability:
          - read
          - create
    remotePath:
      description: The full path to a volume that is to be migrated into ANF. Required for Migration volumes
      type: object
      required:
      - externalHostName
      - serverName
      - volumeName
      properties:
        externalHostName:
          type: string
          description: The Path to a ONTAP Host
        serverName:
          type: string
          description: The name of a server on the ONTAP Host
        volumeName:
          type: string
          description: The name of a volume on the server
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
