openapi: 3.2.0
info:
  title: Microsoft Azure SecurityAdminConfiguration Security Admin…
  version: 2022-02-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: SecurityAdminConfigurations
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityAdminConfigurations
  : get:
      tags:
      - SecurityAdminConfigurations
      operationId: microsoftAzureSecurityadminconfigurationsList
      description: Lists all the network manager security admin configurations in a network manager, in a paginated format.
      parameters:
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/NetworkManagerNameParameter'
      - $ref: '#/components/parameters/ListTopParameter'
      - $ref: '#/components/parameters/ListSkipTokenParameter'
      responses:
        '200':
          description: Get successful. The operation returns all security admin configuration resources in the specified network manager, in a paginated format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityAdminConfigurationListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List security admin configurations in a network manager:
          $ref: ./examples/NetworkManagerSecurityAdminConfigurationList.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityAdminConfigurations/{configurationName}
  : parameters:
    - $ref: ./network.json#/parameters/ApiVersionParameter
    - $ref: ./network.json#/parameters/SubscriptionIdParameter
    - $ref: '#/components/parameters/ResourceGroupNameParameter'
    - $ref: '#/components/parameters/NetworkManagerNameParameter'
    - $ref: '#/components/parameters/SecurityConfigurationParameter'
    get:
      tags:
      - SecurityAdminConfigurations
      description: Retrieves a network manager security admin configuration.
      operationId: microsoftAzureSecurityadminconfigurationsGet
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityAdminConfiguration'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        Get security admin configurations:
          $ref: ./examples/NetworkManagerSecurityAdminConfigurationGet.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - SecurityAdminConfigurations
      description: Creates or updates a network manager security admin configuration.
      operationId: microsoftAzureSecurityadminconfigurationsCreateorupdate
      responses:
        '200':
          description: Updated Admin Configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityAdminConfiguration'
        '201':
          description: Created Admin Configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityAdminConfiguration'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        Create network manager security admin configuration:
          $ref: ./examples/NetworkManagerSecurityAdminConfigurationPut.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityAdminConfiguration'
        description: The security admin configuration to create or update
        required: true
    delete:
      tags:
      - SecurityAdminConfigurations
      description: Deletes a network manager security admin configuration.
      operationId: microsoftAzureSecurityadminconfigurationsDelete
      parameters:
      - $ref: '#/components/parameters/ForceDeleteParameter'
      responses:
        '200':
          description: OK
        '204':
          description: Request successful. Resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        Delete network manager security admin configuration:
          $ref: ./examples/NetworkManagerSecurityAdminConfigurationDelete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    NetworkIntentPolicyBasedService:
      type: string
      description: Network intent policy based services.
      enum:
      - None
      - All
      x-ms-enum:
        name: NetworkIntentPolicyBasedService
        modelAsString: true
    SecurityAdminConfigurationPropertiesFormat:
      type: object
      properties:
        description:
          type: string
          description: A description of the security configuration.
        applyOnNetworkIntentPolicyBasedServices:
          type: array
          items:
            $ref: '#/components/schemas/NetworkIntentPolicyBasedService'
          description: Enum list of network intent policy based services.
        provisioningState:
          readOnly: true
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the resource.
      description: Defines the security admin configuration properties.
    SecurityAdminConfigurationListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/SecurityAdminConfiguration'
          description: Gets a page of security admin configurations
        nextLink:
          type: string
          description: Gets the URL to get the next page of results.
      description: A list of network manager security admin configurations
    SecurityAdminConfiguration:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/SecurityAdminConfigurationPropertiesFormat'
          description: Indicates the properties for the network manager security admin configuration.
        systemData:
          readOnly: true
          description: The system metadata related to this resource.
          $ref: ./network.json#/definitions/SystemData
      allOf:
      - $ref: ./network.json#/definitions/ProxyResource
      description: Defines the security admin configuration
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
    ListTopParameter:
      name: $top
      description: An optional query parameter which specifies the maximum number of records to be returned by the server.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        maximum: 20
        minimum: 1
    ListSkipTokenParameter:
      name: $skipToken
      description: SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    ForceDeleteParameter:
      name: force
      in: query
      required: false
      description: Deletes the resource even if it is part of a deployed configuration. If the configuration has been deployed, the service will do a cleanup deployment in the background, prior to the delete.
      x-ms-parameter-location: method
      schema:
        type: boolean
    SecurityConfigurationParameter:
      name: configurationName
      in: path
      description: The name of the network manager Security Configuration.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    NetworkManagerNameParameter:
      name: networkManagerName
      in: path
      required: true
      description: The name of the network manager.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
