openapi: 3.2.0
info:
  title: Microsoft Azure Cosmos DB Throughput Pools API
  description: Azure Cosmos DB Throughput Pool REST API
  version: 2024-02-15-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ThroughputPools
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/throughputPools:
    get:
      tags:
      - ThroughputPools
      operationId: microsoftAzureThroughputpoolsListbyresourcegroup
      x-ms-examples:
        CosmosDB ThroughputPool List by Resource Group:
          $ref: ./examples/throughputPool/CosmosDBThroughputPoolList.json
      description: List all the ThroughputPools in a given resource group.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThroughputPoolsListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    ThroughputPoolProperties:
      description: Properties to update Azure Cosmos DB throughput pool.
      type: object
      x-ms-mutability:
      - read
      - create
      - update
      properties:
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: A provisioning state of the ThroughputPool.
        maxThroughput:
          type: integer
          format: int32
          description: Value for throughput to be shared among CosmosDB resources in the pool.
    ThroughputPoolsListResult:
      description: The List operation response, that contains the throughput pools and their properties.
      type: object
      properties:
        value:
          description: List of throughput pools and their properties.
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ThroughputPoolResource'
        nextLink:
          description: The link used to get the next page of results.
          type: string
          readOnly: true
    ThroughputPoolResource:
      description: An Azure Cosmos DB Throughputpool.
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ThroughputPoolProperties'
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource
    ProvisioningState:
      description: The provisioning state of the resource.
      type: string
      enum:
      - Succeeded
      - Failed
      - Canceled
      - Updating
      x-ms-enum:
        name: status
        modelAsString: true
      readOnly: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: Impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
