openapi: 3.2.0
info:
  title: Microsoft Azure BatchManagementClient Batch Account API
  description: The Batch Management Client.
  version: '2024-02-01'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: BatchAccount
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}:
    put:
      tags:
      - BatchAccount
      operationId: microsoftAzureBatchaccountCreate
      x-ms-examples:
        BatchAccountCreate_Default:
          $ref: ./examples/BatchAccountCreate_Default.json
        BatchAccountCreate_BYOS:
          $ref: ./examples/BatchAccountCreate_BYOS.json
        PrivateBatchAccountCreate:
          $ref: ./examples/PrivateBatchAccountCreate.json
        BatchAccountCreate_SystemAssignedIdentity:
          $ref: ./examples/BatchAccountCreate_SystemAssignedIdentity.json
        BatchAccountCreate_UserAssignedIdentity:
          $ref: ./examples/BatchAccountCreate_UserAssignedIdentity.json
      description: Creates a new Batch account with the specified parameters. Existing accounts cannot be updated with this API and should instead be updated with the Update Batch Account API.
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - name: accountName
        in: path
        required: true
        description: 'A name for the Batch account which must be unique within the region. Batch account names must be between 3 and 24 characters in length and must use only numbers and lowercase letters. This name is used as part of the DNS name that is used to access the Batch service in the region in which the account is created. For example: http://accountname.region.batch.azure.com/.'
        schema:
          type: string
          maxLength: 24
          minLength: 3
          pattern: ^[a-z0-9]+$
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The operation was successful. The response contains the Batch account entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchAccount'
        '202':
          description: The operation will be completed asynchronously.
          headers:
            Location:
              description: The URL of the resource used to check the status of the asynchronous operation.
              schema:
                type: string
            Retry-After:
              description: Suggested delay to check the status of the asynchronous operation. The value is an integer that specifies the delay in seconds.
              schema:
                type: integer
                format: int32
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchAccountCreateParameters'
        description: Additional parameters for account creation.
        required: true
    patch:
      tags:
      - BatchAccount
      operationId: microsoftAzureBatchaccountUpdate
      x-ms-examples:
        BatchAccountUpdate:
          $ref: ./examples/BatchAccountUpdate.json
      description: Updates the properties of an existing Batch account.
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The operation was successful. The response contains the Batch account entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchAccount'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchAccountUpdateParameters'
        description: Additional parameters for account update.
        required: true
    delete:
      tags:
      - BatchAccount
      operationId: microsoftAzureBatchaccountDelete
      x-ms-examples:
        BatchAccountDelete:
          $ref: ./examples/BatchAccountDelete.json
      description: Deletes the specified Batch account.
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The operation was successful.
        '202':
          description: The operation will be completed asynchronously.
          headers:
            Location:
              description: The URL of the resource used to check the status of the asynchronous operation.
              schema:
                type: string
            Retry-After:
              description: Suggested delay to check the status of the asynchronous operation. The value is an integer that specifies the delay in seconds.
              schema:
                type: integer
                format: int32
        '204':
          description: NoContent -- account does not exist in the subscription.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    get:
      tags:
      - BatchAccount
      operationId: microsoftAzureBatchaccountGet
      x-ms-examples:
        BatchAccountGet:
          $ref: ./examples/BatchAccountGet.json
        PrivateBatchAccountGet:
          $ref: ./examples/PrivateBatchAccountGet.json
      description: Gets information about the specified Batch account.
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The operation was successful. The response contains the Batch account entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchAccount'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/providers/Microsoft.Batch/batchAccounts:
    get:
      tags:
      - BatchAccount
      operationId: microsoftAzureBatchaccountList
      x-ms-examples:
        BatchAccountList:
          $ref: ./examples/BatchAccountList.json
      description: Gets information about the Batch accounts associated with the subscription.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The operation was successful. The response contains a list of Batch account entities associated with the subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchAccountListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Batch…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts:
    get:
      tags:
      - BatchAccount
      operationId: microsoftAzureBatchaccountListbyresourcegroup
      x-ms-examples:
        BatchAccountListByResourceGroup:
          $ref: ./examples/BatchAccountListByResourceGroup.json
      description: Gets information about the Batch accounts associated with the specified resource group.
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The operation was successful. The response contains a list of Batch account entities associated with the resource group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchAccountListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/syncAutoStorageKeys
  : post:
      tags:
      - BatchAccount
      operationId: microsoftAzureBatchaccountSynchronizeautostoragekeys
      x-ms-examples:
        BatchAccountSynchronizeAutoStorageKeys:
          $ref: ./examples/BatchAccountSynchronizeAutoStorageKeys.json
      description: Synchronizes access keys for the auto-storage account configured for the specified Batch account, only if storage key authentication is being used.
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: The operation was successful.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/regenerateKeys
  : post:
      tags:
      - BatchAccount
      operationId: microsoftAzureBatchaccountRegeneratekey
      x-ms-examples:
        BatchAccountRegenerateKey:
          $ref: ./examples/BatchAccountRegenerateKey.json
      summary: Microsoft Azure Regenerates The Specified Account Key For The Batch Account
      description: This operation applies only to Batch accounts with allowedAuthenticationModes containing 'SharedKey'. If the Batch account doesn't contain 'SharedKey' in its allowedAuthenticationMode, clients cannot use shared keys to authenticate, and must use another allowedAuthenticationModes instead. In this case, regenerating the keys will fail.
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The operation was successful. The response contains the Batch account keys.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchAccountKeys'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchAccountRegenerateKeyParameters'
        description: The type of key to regenerate.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/listKeys
  : post:
      tags:
      - BatchAccount
      operationId: microsoftAzureBatchaccountGetkeys
      x-ms-examples:
        BatchAccountGetKeys:
          $ref: ./examples/BatchAccountGetKeys.json
      summary: Microsoft Azure Gets The Account Keys For The Specified Batch Account
      description: This operation applies only to Batch accounts with allowedAuthenticationModes containing 'SharedKey'. If the Batch account doesn't contain 'SharedKey' in its allowedAuthenticationMode, clients cannot use shared keys to authenticate, and must use another allowedAuthenticationModes instead. In this case, getting the keys will fail.
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The operation was successful. The response contains the keys of the Batch account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchAccountKeys'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/outboundNetworkDependenciesEndpoints
  : get:
      tags:
      - BatchAccount
      operationId: microsoftAzureBatchaccountListoutboundnetworkdependenciesendpoints
      description: Lists the endpoints that a Batch Compute Node under this Batch Account may call as part of Batch service administration. If you are deploying a Pool inside of a virtual network that you specify, you must make sure your network allows outbound access to these endpoints. Failure to allow access to these endpoints may cause Batch to mark the affected nodes as unusable. For more information about creating a pool inside of a virtual network, see https://docs.microsoft.com/en-us/azure/batch/batch-virtual-network.
      x-ms-examples:
        ListOutboundNetworkDependencies:
          $ref: ./examples/BatchAccountListOutboundNetworkDependenciesEndpoints.json
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The operation was successful. The response contains a list of outbound network dependencies.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutboundEnvironmentEndpointCollection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    PrivateEndpoint:
      type: object
      properties:
        id:
          type: string
          title: The ARM resource identifier of the private endpoint. This is of the form /subscriptions/{subscription}/resourceGroups/{group}/providers/Microsoft.Network/privateEndpoints/{privateEndpoint}.
          readOnly: true
      description: The private endpoint of the private endpoint connection.
    PublicNetworkAccessType:
      type: string
      description: The network access type for operating on the resources in the Batch account.
      default: Enabled
      enum:
      - Enabled
      - Disabled
      x-ms-enum:
        name: PublicNetworkAccessType
        modelAsString: false
        values:
        - value: Enabled
          description: Enables connectivity to Azure Batch through public DNS.
        - value: Disabled
          description: Disables public connectivity and enables private connectivity to Azure Batch Service through private endpoint resource.
    AuthenticationMode:
      type: string
      description: The authentication mode for the Batch account.
      enum:
      - SharedKey
      - AAD
      - TaskAuthenticationToken
      x-ms-enum:
        name: AuthenticationMode
        modelAsString: false
        values:
        - value: SharedKey
          description: The authentication mode using shared keys.
        - value: AAD
          description: The authentication mode using Microsoft Entra ID.
        - value: TaskAuthenticationToken
          description: The authentication mode using task authentication tokens.
    EndpointDependency:
      type: object
      properties:
        domainName:
          type: string
          readOnly: true
          description: The domain name of the dependency. Domain names may be fully qualified or may contain a * wildcard.
        description:
          type: string
          readOnly: true
          description: Human-readable supplemental information about the dependency and when it is applicable.
        endpointDetails:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/EndpointDetail'
          x-ms-identifiers:
          - port
          description: The list of connection details for this endpoint.
      description: A domain name and connection details used to access a dependency.
    PrivateEndpointConnection:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties'
          description: The properties associated with the private endpoint connection.
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: Contains information about a private link resource.
    AutoStorageProperties:
      type: object
      properties:
        lastKeySync:
          type: string
          format: date-time
          description: The UTC time at which storage keys were last synchronized with the Batch account.
      required:
      - lastKeySync
      allOf:
      - $ref: '#/components/schemas/AutoStorageBaseProperties'
      description: Contains information about the auto-storage account associated with a Batch account.
    CloudErrorBody:
      type: object
      x-ms-external: true
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of the property in error.
        details:
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          x-ms-identifiers:
          - message
          - target
          description: A list of additional details about the error.
      description: An error response from the Batch service.
    PrivateLinkServiceConnectionStatus:
      type: string
      title: The status of the Batch private endpoint connection
      enum:
      - Approved
      - Pending
      - Rejected
      - Disconnected
      x-ms-enum:
        name: PrivateLinkServiceConnectionStatus
        modelAsString: false
        values:
        - value: Approved
          description: The private endpoint connection is approved and can be used to access Batch account
        - value: Pending
          description: The private endpoint connection is pending and cannot be used to access Batch account
        - value: Rejected
          description: The private endpoint connection is rejected and cannot be used to access Batch account
        - value: Disconnected
          description: The private endpoint connection is disconnected and cannot be used to access Batch account
    EncryptionProperties:
      type: object
      properties:
        keySource:
          type: string
          description: Type of the key source.
          enum:
          - Microsoft.Batch
          - Microsoft.KeyVault
          x-ms-enum:
            name: KeySource
            modelAsString: false
            values:
            - value: Microsoft.Batch
              description: Batch creates and manages the encryption keys used to protect the account data.
            - value: Microsoft.KeyVault
              description: The encryption keys used to protect the account data are stored in an external key vault. If this is set then the Batch Account identity must be set to `SystemAssigned` and a valid Key Identifier must also be supplied under the keyVaultProperties.
        keyVaultProperties:
          $ref: '#/components/schemas/KeyVaultProperties'
          description: Additional details when using Microsoft.KeyVault
      description: Configures how customer data is encrypted inside the Batch account. By default, accounts are encrypted using a Microsoft managed key. For additional control, a customer-managed key can be used instead.
    BatchAccountCreateProperties:
      type: object
      properties:
        autoStorage:
          $ref: '#/components/schemas/AutoStorageBaseProperties'
          description: The properties related to the auto-storage account.
        poolAllocationMode:
          title: The allocation mode to use for creating pools in the Batch account.
          description: The pool allocation mode also affects how clients may authenticate to the Batch Service API. If the mode is BatchService, clients may authenticate using access keys or Microsoft Entra ID. If the mode is UserSubscription, clients must use Microsoft Entra ID. The default is BatchService.
          $ref: '#/components/schemas/PoolAllocationMode'
        keyVaultReference:
          $ref: '#/components/schemas/KeyVaultReference'
          description: A reference to the Azure key vault associated with the Batch account.
        publicNetworkAccess:
          title: The network access type for accessing Azure Batch account.
          description: If not specified, the default value is 'enabled'.
          $ref: '#/components/schemas/PublicNetworkAccessType'
        networkProfile:
          title: Network profile for Batch account, which contains network rule settings for each endpoint.
          description: The network profile only takes effect when publicNetworkAccess is enabled.
          $ref: '#/components/schemas/NetworkProfile'
        encryption:
          title: The encryption configuration for the Batch account.
          description: Configures how customer data is encrypted inside the Batch account. By default, accounts are encrypted using a Microsoft managed key. For additional control, a customer-managed key can be used instead.
          $ref: '#/components/schemas/EncryptionProperties'
        allowedAuthenticationModes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AuthenticationMode'
          description: List of allowed authentication modes for the Batch account that can be used to authenticate with the data plane. This does not affect authentication with the control plane.
      description: The properties of a Batch account.
    OutboundEnvironmentEndpoint:
      type: object
      properties:
        category:
          type: string
          readOnly: true
          description: The type of service that the Batch service connects to.
        endpoints:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/EndpointDependency'
          x-ms-identifiers:
          - domainName
          description: The endpoints for this service to which the Batch service makes outbound calls.
      description: A collection of related endpoints from the same service for which the Batch service requires outbound access.
    EndpointDetail:
      type: object
      properties:
        port:
          type: integer
          format: int32
          readOnly: true
          description: The port an endpoint is connected to.
      description: Details about the connection between the Batch service and the endpoint.
    PrivateEndpointConnectionProperties:
      type: object
      properties:
        provisioningState:
          type: string
          readOnly: true
          title: The provisioning state of the private endpoint connection.
          enum:
          - Creating
          - Updating
          - Deleting
          - Succeeded
          - Failed
          - Cancelled
          x-ms-enum:
            name: PrivateEndpointConnectionProvisioningState
            modelAsString: false
            values:
            - value: Creating
              description: The connection is creating.
            - value: Updating
              description: The user has requested that the connection status be updated, but the update operation has not yet completed. You may not reference the connection when connecting the Batch account.
            - value: Deleting
              description: The connection is deleting.
            - value: Succeeded
              description: The connection status is final and is ready for use if Status is Approved.
            - value: Failed
              description: The user requested that the connection be updated and it failed. You may retry the update operation.
            - value: Cancelled
              description: The user has cancelled the connection creation.
        privateEndpoint:
          $ref: '#/components/schemas/PrivateEndpoint'
          readOnly: true
          title: The ARM resource identifier of the private endpoint.
        groupIds:
          type: array
          readOnly: true
          items:
            type: string
          title: The group id of the private endpoint connection.
          description: The value has one and only one group id.
        privateLinkServiceConnectionState:
          $ref: '#/components/schemas/PrivateLinkServiceConnectionState'
          title: The private link service connection state of the private endpoint connection.
      description: Private endpoint connection properties.
    BatchAccountProperties:
      type: object
      properties:
        accountEndpoint:
          type: string
          readOnly: true
          description: The account endpoint used to interact with the Batch service.
        nodeManagementEndpoint:
          type: string
          readOnly: true
          description: The endpoint used by compute node to connect to the Batch node management service.
        provisioningState:
          type: string
          readOnly: true
          description: The provisioned state of the resource
          enum:
          - Invalid
          - Creating
          - Deleting
          - Succeeded
          - Failed
          - Cancelled
          x-ms-enum:
            name: ProvisioningState
            modelAsString: false
            values:
            - value: Invalid
              description: The account is in an invalid state.
            - value: Creating
              description: The account is being created.
            - value: Deleting
              description: The account is being deleted.
            - value: Succeeded
              description: The account has been created and is ready for use.
            - value: Failed
              description: The last operation for the account is failed.
            - value: Cancelled
              description: The last operation for the account is cancelled.
        poolAllocationMode:
          readOnly: true
          title: The allocation mode to use for creating pools in the Batch account.
          $ref: '#/components/schemas/PoolAllocationMode'
        keyVaultReference:
          title: A reference to the Azure key vault associated with the Batch account.
          readOnly: true
          $ref: '#/components/schemas/KeyVaultReference'
        publicNetworkAccess:
          title: The network interface type for accessing Azure Batch service and Batch account operations.
          description: If not specified, the default value is 'enabled'.
          $ref: '#/components/schemas/PublicNetworkAccessType'
        networkProfile:
          title: Network profile for Batch account, which contains network rule settings for each endpoint.
          description: The network profile only takes effect when publicNetworkAccess is enabled.
          $ref: '#/components/schemas/NetworkProfile'
        privateEndpointConnections:
          readOnly: true
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection'
          description: List of private endpoint connections associated with the Batch account
        autoStorage:
          title: The properties and status of any auto-storage account associated with the Batch account.
          readOnly: true
          $ref: '#/components/schemas/AutoStorageProperties'
        encryption:
          title: The encryption configuration for the Batch account.
          description: Configures how customer data is encrypted inside the Batch account. By default, accounts are encrypted using a Microsoft managed key. For additional control, a customer-managed key can be used instead.
          readOnly: true
          $ref: '#/components/schemas/EncryptionProperties'
        dedicatedCoreQuota:
          readOnly: true
          type:
          - integer
          - 'null'
          format: int32
          title: The dedicated core quota for the Batch account.
          description: For accounts with PoolAllocationMode set to UserSubscription, quota is managed on the subscription so this value is not returned.
        lowPriorityCoreQuota:
          readOnly: true
          type:
          - integer
          - 'null'
          format: int32
          title: The Spot/low-priority core quota for the Batch account.
          description: For accounts with PoolAllocationMode set to UserSubscription, quota is managed on the subscription so this value is not returned.
        dedicatedCoreQuotaPerVMFamily:
          readOnly: true
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/VirtualMachineFamilyCoreQuota'
          x-ms-identifiers:
          - name
          description: A list of the dedicated core quota per Virtual Machine family for the Batch account. For accounts with PoolAllocationMode set to UserSubscription, quota is managed on the subscription so this value is not returned.
        dedicatedCoreQuotaPerVMFamilyEnforced:
          readOnly: true
          type: boolean
          title: A value indicating whether core quotas per Virtual Machine family are enforced for this account
          description: If this flag is true, dedicated core quota is enforced via both the dedicatedCoreQuotaPerVMFamily and dedicatedCoreQuota properties on the account. If this flag is false, dedicated core quota is enforced only via the dedicatedCoreQuota property on the account and does not consider Virtual Machine family.
        poolQuota:
          readOnly: true
          type: integer
          format: int32
          title: The pool quota for the Batch account.
        activeJobAndJobScheduleQuota:
          readOnly: true
          type: integer
          format: int32
          title: The active job and job schedule quota for the Batch account.
        allowedAuthenticationModes:
          readOnly: true
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AuthenticationMode'
          description: List of allowed authentication modes for the Batch account that can be used to authenticate with the data plane. This does not affect authentication with the control plane.
      description: Account specific properties.
    ProxyResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: The ID of the resource.
        name:
          readOnly: true
          type: string
          description: The name of the resource.
        type:
          readOnly: true
          type: string
          description: The type of the resource.
        etag:
          readOnly: true
          type: string
          description: The ETag of the resource, used for concurrency statements.
      description: A definition of an Azure resource.
      x-ms-azure-resource: true
    BatchAccountUpdateProperties:
      type: object
      properties:
        autoStorage:
          $ref: '#/components/schemas/AutoStorageBaseProperties'
          description: The properties related to the auto-storage account.
        encryption:
          title: The encryption configuration for the Batch account.
          description: Configures how customer data is encrypted inside the Batch account. By default, accounts are encrypted using a Microsoft managed key. For additional control, a customer-managed key can be used instead.
          $ref: '#/components/schemas/EncryptionProperties'
        allowedAuthenticationModes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AuthenticationMode'
          description: List of allowed authentication modes for the Batch account that can be used to authenticate with the data plane. This does not affect authentication with the control plane.
        publicNetworkAccess:
          title: The network access type for accessing Azure Batch account.
          description: If not specified, the default value is 'enabled'.
          $ref: '#/components/schemas/PublicNetworkAccessType'
        networkProfile:
          title: Network profile for Batch account, which contains network rule settings for each endpoint.
          description: The network profile only takes effect when publicNetworkAccess is enabled.
          $ref: '#/components/schemas/NetworkProfile'
      description: The properties of a Batch account.
    PrivateLinkServiceConnectionState:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/PrivateLinkServiceConnectionStatus'
          title: The status for the private endpoint connection of Batch account
        description:
          type: string
          title: Description of the private Connection state
        actionsRequired:
          type: string
          title: Action required on the private connection state
          readOnly: true
      required:
      - status
      description: The private link service connection state of the private endpoint connection
    IPRule:
      type: object
      properties:
        action:
          type: string
          description: Action when client IP address is matched.
          enum:
          - Allow
          x-ms-enum:
            name: IPRuleAction
            modelAsString: false
            values:
            - value: Allow
              description: Allow access for the matched client IP address.
        value:
          type: string
          title: The IP address or IP address range to filter
          description: IPv4 address, or IPv4 address range in CIDR format.
      description: Rule to filter client IP address.
      required:
      - action
      - value
    BatchAccountRegenerateKeyParameters:
      type: object
      properties:
        keyName:
          type: string
          description: The type of account key to regenerate.
          enum:
          - Primary
          - Secondary
          x-ms-enum:
            name: AccountKeyType
            modelAsString: false
            values:
            - value: Primary
              description: The primary account key.
            - value: Secondary
              description: The secondary account key.
      required:
      - keyName
      description: Parameters supplied to the RegenerateKey operation.
    BatchAccountKeys:
      type: object
      properties:
        accountName:
          type: string
          readOnly: true
          description: The Batch account name.
        primary:
          type: string
          readOnly: true
          description: The primary key associated with the account.
        secondary:
          type: string
          readOnly: true
          description: The secondary key associated with the account.
      description: A set of Azure Batch account keys.
    KeyVaultReference:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          x-ms-arm-id-details:
            allowedResources:
            - type: Microsoft.KeyVault/vaults
          description: The resource ID of the Azure key vault associated with the Batch account.
        url:
          type: string
          description: The URL of the Azure key vault associated with the Batch account.
      required:
      - id
      - url
      description: Identifies the Azure key vault associated with a Batch account.
    PoolAllocationMode:
      type: string
      description: The allocation mode for creating pools in the Batch account.
      enum:
      - BatchService
      - UserSubscription
      x-ms-enum:
        name: PoolAllocationMode
        modelAsString: false
        values:
        - value: BatchService
          description: Pools will be allocated in subscriptions owned by the Batch service.
        - value: UserSubscription
          description: Pools will be allocated in a subscription owned by the user.
    VirtualMachineFamilyCoreQuota:
      type: object
      properties:
        name:
          readOnly: true
          type: string
          description: The Virtual Machine family name.
        coreQuota:
          readOnly: true
          type: integer
          format: int32
          description: The core quota for the VM family for the Batch account.
      description: A VM Family and its associated core quota for the Batch account.
    BatchAccountIdentity:
      type: object
      properties:
        principalId:
          readOnly: true
          type: string
          description: The principal id of the Batch account. This property will only be provided for a system assigned identity.
        tenantId:
          readOnly: true
          type: string
          description: The tenant id associated with the Batch account. This property will only be provided for a system assigned identity.
        type:
          type: string
          description: The type of identity used for the Batch account.
          enum:
          - SystemAssigned
          - UserAssigned
          - None
          x-ms-enum:
            name: ResourceIdentityType
            modelAsString: false
            values:
            - value: SystemAssigned
              description: Batch account has a system assigned identity with it.
            - value: UserAssigned
              description: Batch account has user assigned identities with it.
            - value: None
              description: Batch account has no identity associated with it. Setting `None` in update account will remove existing identities.
        userAssignedIdentities:
          type: object
          description: The list of user identities associated with the Batch account.
          additionalProperties:
            $ref: '#/components/schemas/UserAssignedIdentities'
      description: The identity of the Batch account, if configured. This is used when the user specifies 'Microsoft.KeyVault' as their Batch account encryption configuration or when `ManagedIdentity` is selected as the auto-storage authentication mode.
      required:
      - type
    NetworkProfile:
      type: object
      properties:
        accountAccess:
          $ref: '#/components/schemas/EndpointAccessProfile'
          description: Network access profile for batchAccount endpoint (Batch account data plane API).
        nodeManagementAccess:
          $ref: '#/components/schemas/EndpointAccessProfile'
          description: Network access profile for nodeManagement endpoint (Batch service managing compute nodes for Batch pools).
      description: Network profile for Batch account, which contains network rule settings for each endpoint.
    BatchAccountUpdateParameters:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: The user-specified tags associated with the account.
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/BatchAccountUpdateProperties'
          description: The properties of the account.
        identity:
          $ref: '#/components/schemas/BatchAccountIdentity'
          description: The identity of the Batch account.
      description: Parameters for updating an Azure Batch account.
    KeyVaultProperties:
      type: object
      properties:
        keyIdentifier:
          type: string
          description: "Full path to the secret with or without version. Example https://mykeyvault.vault.azure.net/keys/testkey/6e34a81fef704045975661e297a4c053. or https://mykeyvault.vault.azure.net/keys/testkey. To be usable the following prerequisites must be met:\n\n The Batch Account has a System Assigned identity\n The account identity has been granted Key/Get, Key/Unwrap and Key/Wrap permissions\n The KeyVault has soft-delete and purge protection enabled"
      description: KeyVault configuration when using an encryption KeySource of Microsoft.KeyVault.
    Resource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: The ID of the resource.
        name:
          readOnly: true
          type: string
          description: The name of the resource.
        type:
          readOnly: true
          type: string
          description: The type of the resource.
        location:
          readOnly: true
          type: string
          description: The location of the resource.
        tags:
          readOnly: true
          type: object
          additionalProperties:
            type: string
          description: The tags of the resource.
      description: A definition of an Azure resource.
      x-ms-azure-resource: true
    BatchAccountCreateParameters:
      type: object
      properties:
        location:
          type: string
          description: The region in which to create the account.
        tags:
          type: object
          additionalProperties:
            type: string
          description: The user-specified tags associated with the account.
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/BatchAccountCreateProperties'
          description: The properties of the Batch account.
        identity:
          $ref: '#/components/schemas/BatchAccountIdentity'
          description: The identity of the Batch account.
      required:
      - location
      description: Parameters supplied to the Create operation.
    OutboundEnvironmentEndpointCollection:
      type: object
      properties:
        value:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/OutboundEnvironmentEndpoint'
          x-ms-identifiers: []
          description: The collection of outbound network dependency endpoints returned by the listing operation.
        nextLink:
          type: string
          description: The continuation token.
      description: Values returned by the List operation.
    CloudError:
      type: object
      x-ms-external: true
      properties:
        error:
          description: The body of the error response.
          $ref: '#/components/schemas/CloudErrorBody'
      description: An error response from the Batch service.
    AutoStorageBaseProperties:
      type: object
      properties:
        storageAccountId:
          type: string
          format: arm-id
          x-ms-arm-id-details:
            allowedResources:
            - type: Microsoft.Storage/storageAccounts
          description: The resource ID of the storage account to be used for auto-storage account.
        authenticationMode:
          type: string
          description: The authentication mode which the Batch service will use to manage the auto-storage account.
          default: StorageKeys
          enum:
          - StorageKeys
          - BatchAccountManagedIdentity
          x-ms-enum:
            name: AutoStorageAuthenticationMode
            modelAsString: false
            values:
            - value: StorageKeys
              description: The Batch service will authenticate requests to auto-storage using storage account keys.
            - value: BatchAccountManagedIdentity
              description: The Batch service will authenticate requests to auto-storage using the managed identity assigned to the Batch account.
        nodeIdentityReference:
          title: The reference to the user assigned identity which compute nodes will use to access auto-storage.
          description: The identity referenced here must be assigned to pools which have compute nodes that need access to auto-storage.
          $ref: '#/components/schemas/ComputeNodeIdentityReference'
      required:
      - storageAccountId
      description: The properties related to the auto-storage account.
    UserAssignedIdentities:
      type: object
      description: The list of associated user identities.
      properties:
        principalId:
          readOnly: true
          type: string
          description: The principal id of user assigned identity.
        clientId:
          readOnly: true
          type: string
          description: The client id of user assigned identity.
    BatchAccountListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/BatchAccount'
          x-ms-identifiers:
          - /properties/accountEndpoint
          description: The collection of Batch accounts returned by the listing operation.
        nextLink:
          type: string
          description: The continuation token.
      description: Values returned by the List operation.
    EndpointAccessProfile:
      type: object
      properties:
        defaultAction:
          type: string
          title: The default action when there is no IPRule matched.
          description: Default action for endpoint access. It is only applicable when publicNetworkAccess is enabled.
          enum:
          - Allow
          - Deny
          x-ms-enum:
            name: EndpointAccessDefaultAction
            modelAsString: false
            values:
            - value: Allow
              description: Allow client access.
            - value: Deny
              description: Deny client access.
        ipRules:
          type: array
          items:
            $ref: '#/components/schemas/IPRule'
          x-ms-identifiers:
          - action
          description: Array of IP ranges to filter client IP address.
      description: Network access profile for Batch endpoint.
      required:
      - defaultAction
    BatchAccount:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/BatchAccountProperties'
          description: The properties associated with the account.
        identity:
          $ref: '#/components/schemas/BatchAccountIdentity'
          description: The identity of the Batch account.
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Contains information about an Azure Batch account.
    ComputeNodeIdentityReference:
      type: object
      properties:
        resourceId:
          type: string
          description: The ARM resource id of the user assigned identity.
      description: The reference to a user assigned identity associated with the Batch pool which a compute node will use.
  parameters:
    AccountNameParameter:
      name: accountName
      in: path
      required: true
      description: The name of the Batch account.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 24
        minLength: 3
        pattern: ^[a-zA-Z0-9]+$
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group that contains the Batch account.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to be used with the HTTP request.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Microsoft Entra OAuth 2.0 auth code flow
