openapi: 3.2.0
info:
  title: Microsoft Azure Azure SQL Server API spec Connection…
  description: The Azure SQL Server management API provides a RESTful set of web services that interact with Azure SQL Server services to manage your databases. The API enables users update server connection policy.
  version: '2014-04-01'
servers:
- url: https://management.azure.com
tags:
- name: ConnectionPolicies
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/connectionPolicies/{connectionPolicyName}
  : put:
      tags:
      - ConnectionPolicies
      operationId: microsoftAzureServerconnectionpoliciesCreateorupdate
      description: Creates or updates the server's connection policy.
      x-ms-examples:
        Create or update a server's secure connection policy:
          $ref: ./examples/ServerConnectionPolicyCreateOrUpdate.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/components/parameters/ServerNameParameter'
      - $ref: '#/components/parameters/ConnectionPolicyNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerConnectionPolicy'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerConnectionPolicy'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerConnectionPolicy'
        description: The required parameters for updating a secure connection policy.
        required: true
    get:
      tags:
      - ConnectionPolicies
      operationId: microsoftAzureServerconnectionpoliciesGet
      description: Gets the server's secure connection policy.
      x-ms-examples:
        Get a server's secure connection policy:
          $ref: ./examples/ServerConnectionPolicyGet.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/components/parameters/ServerNameParameter'
      - $ref: '#/components/parameters/ConnectionPolicyNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerConnectionPolicy'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    ServerConnectionPolicyProperties:
      properties:
        connectionType:
          type: string
          description: The server connection type.
          enum:
          - Default
          - Proxy
          - Redirect
          x-ms-enum:
            name: ServerConnectionType
      required:
      - connectionType
      description: The properties of a server secure connection policy.
    ServerConnectionPolicy:
      properties:
        kind:
          readOnly: true
          type: string
          description: Metadata used for the Azure portal experience.
        location:
          type: string
          description: Resource location.
          readOnly: true
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ServerConnectionPolicyProperties'
          description: The properties of the server secure connection policy.
      allOf:
      - $ref: ../../../common/v1/types.json#/definitions/ProxyResource
      description: A server secure connection policy.
  parameters:
    ConnectionPolicyNameParameter:
      name: connectionPolicyName
      in: path
      required: true
      description: The name of the connection policy.
      x-ms-enum:
        modelAsString: true
        name: ConnectionPolicyName
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
        - default
    ServerNameParameter:
      name: serverName
      in: path
      required: true
      description: The name of the server.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
