openapi: 3.2.0
info:
  version: 2023-11-01-preview
  title: Microsoft Azure Desktop Virtualization API Client MSIX…
servers:
- url: https://management.azure.com
tags:
- name: MSIXPackage
paths:
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/msixPackages/{msixPackageFullName}
  : get:
      tags:
      - MSIXPackage
      operationId: microsoftAzureMsixpackagesGet
      description: Get a msixpackage.
      x-ms-examples:
        MSIXPackage_Get:
          $ref: ./examples/MsixPackage_Get.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/HostPoolNameParameter'
      - $ref: '#/components/parameters/MSIXPackageFullNameParameter'
      responses:
        '200':
          description: Successfully retrieved MSIX Package.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MSIXPackage'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - MSIXPackage
      operationId: microsoftAzureMsixpackagesCreateorupdate
      description: Create or update a MSIX package.
      x-ms-examples:
        MSIXPackage_Create:
          $ref: ./examples/MsixPackage_Create.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/HostPoolNameParameter'
      - $ref: '#/components/parameters/MSIXPackageFullNameParameter'
      responses:
        '200':
          description: Successfully updated  MSIX Package.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MSIXPackage'
        '201':
          description: Successfully created  MSIX Package.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MSIXPackage'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MSIXPackage'
        description: Object containing  MSIX Package definitions.
        required: true
    delete:
      tags:
      - MSIXPackage
      operationId: microsoftAzureMsixpackagesDelete
      description: Remove an MSIX Package.
      x-ms-examples:
        MSIXPackage_Delete:
          $ref: ./examples/MsixPackage_Delete.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/HostPoolNameParameter'
      - $ref: '#/components/parameters/MSIXPackageFullNameParameter'
      responses:
        '200':
          description: Successfully removed MSIX Package.
        '204':
          description: MSIX Package does not exist.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    patch:
      tags:
      - MSIXPackage
      operationId: microsoftAzureMsixpackagesUpdate
      description: Update an MSIX Package.
      x-ms-examples:
        MSIXPackage_Update:
          $ref: ./examples/MsixPackage_Update.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/HostPoolNameParameter'
      - $ref: '#/components/parameters/MSIXPackageFullNameParameter'
      responses:
        '200':
          description: Successfully updated MSIX Package.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MSIXPackage'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MSIXPackagePatch'
        description: Object containing MSIX Package definitions.
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/msixPackages
  : get:
      tags:
      - MSIXPackage
      operationId: microsoftAzureMsixpackagesList
      description: List MSIX packages in hostpool.
      x-ms-examples:
        MSIXPackage_List:
          $ref: ./examples/MsixPackage_List.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/HostPoolNameParameter'
      - name: pageSize
        in: query
        required: false
        description: Number of items per page.
        schema:
          type: integer
          format: int32
      - name: isDescending
        in: query
        required: false
        description: Indicates whether the collection is descending.
        schema:
          type: boolean
      - name: initialSkip
        in: query
        required: false
        description: Initial number of items to skip.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved MSIX Packages in hostpool.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MSIXPackageList'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    MSIXPackagePatch:
      type: object
      description: MSIX Package properties that can be patched.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/Resource
      properties:
        properties:
          description: Detailed properties for MSIX Package
          x-ms-client-flatten: true
          $ref: '#/components/schemas/MSIXPackagePatchProperties'
    CloudError:
      description: Cloud error object.
      type: object
      x-ms-external: true
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorProperties'
    MSIXPackageProperties:
      description: Schema for MSIX Package properties.
      type: object
      properties:
        imagePath:
          type: string
          description: VHD/CIM image path on Network Share.
        packageName:
          type: string
          description: 'Package Name from appxmanifest.xml. '
        packageFamilyName:
          type: string
          description: 'Package Family Name from appxmanifest.xml. Contains Package Name and Publisher name. '
        displayName:
          type:
          - string
          - 'null'
          description: 'User friendly Name to be displayed in the portal. '
        packageRelativePath:
          type: string
          description: 'Relative Path to the package inside the image. '
        isRegularRegistration:
          type: boolean
          description: Specifies how to register Package in feed.
        isActive:
          type: boolean
          description: 'Make this version of the package the active one across the hostpool. '
        packageDependencies:
          type: array
          description: 'List of package dependencies. '
          items:
            $ref: '#/components/schemas/MsixPackageDependencies'
        version:
          type: string
          description: 'Package Version found in the appxmanifest.xml. '
        lastUpdated:
          format: date-time
          type: string
          description: 'Date Package was last updated, found in the appxmanifest.xml. '
        packageApplications:
          type: array
          description: 'List of package applications. '
          items:
            $ref: '#/components/schemas/MsixPackageApplications'
    MSIXPackagePatchProperties:
      description: MSIX Package properties that can be patched.
      type: object
      properties:
        isActive:
          type: boolean
          description: 'Set a version of the package to be active across hostpool. '
        isRegularRegistration:
          type: boolean
          description: Set Registration mode. Regular or Delayed.
        displayName:
          type: string
          description: Display name for MSIX Package.
    MsixPackageApplications:
      description: Schema for MSIX Package Application properties.
      type: object
      properties:
        appId:
          type: string
          description: Package Application Id, found in appxmanifest.xml.
        description:
          type: string
          description: Description of Package Application.
        appUserModelID:
          type: string
          description: Used to activate Package Application. Consists of Package Name and ApplicationID. Found in appxmanifest.xml.
        friendlyName:
          type: string
          description: User friendly name.
        iconImageName:
          type: string
          description: User friendly name.
        rawIcon:
          type: string
          format: byte
          description: the icon a 64 bit string as a byte array.
        rawPng:
          type: string
          format: byte
          description: the icon a 64 bit string as a byte array.
    MSIXPackage:
      description: Schema for MSIX Package properties.
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/Resource
      required:
      - properties
      properties:
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: Metadata pertaining to creation and last modification of the resource.
        properties:
          description: Detailed properties for MSIX Package
          x-ms-client-flatten: true
          $ref: '#/components/schemas/MSIXPackageProperties'
    MSIXPackageList:
      type: object
      title: MsixPackageList
      description: List of MSIX Package definitions.
      properties:
        value:
          type: array
          description: List of MSIX Package definitions.
          items:
            $ref: '#/components/schemas/MSIXPackage'
        nextLink:
          type: string
          readOnly: true
          description: Link to the next page of results.
    CloudErrorProperties:
      description: Cloud error object properties.
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
    MsixPackageDependencies:
      description: Schema for MSIX Package Dependencies properties.
      type: object
      properties:
        dependencyName:
          type: string
          description: Name of package dependency.
        publisher:
          type: string
          description: Name of dependency publisher.
        minVersion:
          type: string
          description: Dependency version required.
  parameters:
    MSIXPackageFullNameParameter:
      name: msixPackageFullName
      in: path
      required: true
      description: The version specific package full name of the MSIX package within specified hostpool
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 100
        minLength: 3
    HostPoolNameParameter:
      name: hostPoolName
      in: path
      required: true
      description: The name of the host pool within the specified resource group
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 3
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
