openapi: 3.2.0
info:
  version: '2015-08-01'
  title: Microsoft Azure WebSite Management Client Global Resource…
  description: Use these APIs to manage Azure Websites resources through the Azure Resource Manager. All task operations conform to the HTTP/1.1 protocol specification and each operation returns an x-ms-request-id header that can be used to obtain information about the request. You must make sure that requests made to these resources are secure. For more information, see https://msdn.microsoft.com/en-us/library/azure/dn790557.aspx.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: GlobalResourceGroups
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/moveResources:
    post:
      tags:
      - GlobalResourceGroups
      operationId: microsoftAzureGlobalresourcegroupsMoveresources
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '204':
          description: No Content
      deprecated: false
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CsmMoveResourceEnvelope'
          text/json:
            schema:
              $ref: '#/components/schemas/CsmMoveResourceEnvelope'
          application/xml:
            schema:
              $ref: '#/components/schemas/CsmMoveResourceEnvelope'
          text/xml:
            schema:
              $ref: '#/components/schemas/CsmMoveResourceEnvelope'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CsmMoveResourceEnvelope'
        required: true
components:
  parameters:
    apiVersionParameter:
      name: api-version
      in: query
      description: API Version
      required: true
      schema:
        type: string
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription Id
      required: true
      schema:
        type: string
  schemas:
    CsmMoveResourceEnvelope:
      description: Class containing a list of the resources that need to be moved and the resource group they should be moved to
      type: object
      properties:
        targetResourceGroup:
          type: string
        resources:
          type: array
          items:
            type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
