openapi: 3.2.0
info:
  title: Microsoft Azure CloudServiceManagementClient Cloud Service…
  description: The Cloud Service Management Client.
  version: '2022-04-04'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: CloudServiceOperatingSystems
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/cloudServiceOsVersions/{osVersionName}:
    get:
      tags:
      - CloudServiceOperatingSystems
      description: Gets properties of a guest operating system version that can be specified in the XML service configuration (.cscfg) for a cloud service.
      operationId: microsoftAzureCloudserviceoperatingsystemsGetosversion
      parameters:
      - in: path
        name: location
        description: Name of the location that the OS version pertains to.
        required: true
        schema:
          type: string
      - in: path
        name: osVersionName
        description: Name of the OS version.
        required: true
        schema:
          type: string
      - $ref: ./common.json#/parameters/SubscriptionIdParameter
      - $ref: ./common.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OSVersion'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/CloudError
      x-ms-examples:
        Get Cloud Service OS Version:
          $ref: ./examples/CloudServiceOSVersion_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Compute…
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/cloudServiceOsVersions:
    get:
      tags:
      - CloudServiceOperatingSystems
      description: Gets a list of all guest operating system versions available to be specified in the XML service configuration (.cscfg) for a cloud service. Use nextLink property in the response to get the next page of OS versions. Do this till nextLink is null to fetch all the OS versions.
      operationId: microsoftAzureCloudserviceoperatingsystemsListosversions
      parameters:
      - in: path
        name: location
        description: Name of the location that the OS versions pertain to.
        required: true
        schema:
          type: string
      - $ref: ./common.json#/parameters/SubscriptionIdParameter
      - $ref: ./common.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OSVersionListResult'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/CloudError
      x-ms-examples:
        List Cloud Service OS Versions in a subscription:
          $ref: ./examples/CloudServiceOSVersion_List.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Compute…
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/cloudServiceOsFamilies/{osFamilyName}:
    get:
      tags:
      - CloudServiceOperatingSystems
      description: Gets properties of a guest operating system family that can be specified in the XML service configuration (.cscfg) for a cloud service.
      operationId: microsoftAzureCloudserviceoperatingsystemsGetosfamily
      parameters:
      - in: path
        name: location
        description: Name of the location that the OS family pertains to.
        required: true
        schema:
          type: string
      - in: path
        name: osFamilyName
        description: Name of the OS family.
        required: true
        schema:
          type: string
      - $ref: ./common.json#/parameters/SubscriptionIdParameter
      - $ref: ./common.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OSFamily'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/CloudError
      x-ms-examples:
        Get Cloud Service OS Family:
          $ref: ./examples/CloudServiceOSFamily_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Compute…
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/cloudServiceOsFamilies:
    get:
      tags:
      - CloudServiceOperatingSystems
      description: Gets a list of all guest operating system families available to be specified in the XML service configuration (.cscfg) for a cloud service. Use nextLink property in the response to get the next page of OS Families. Do this till nextLink is null to fetch all the OS Families.
      operationId: microsoftAzureCloudserviceoperatingsystemsListosfamilies
      parameters:
      - in: path
        name: location
        description: Name of the location that the OS families pertain to.
        required: true
        schema:
          type: string
      - $ref: ./common.json#/parameters/SubscriptionIdParameter
      - $ref: ./common.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OSFamilyListResult'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: ./common.json#/definitions/CloudError
      x-ms-examples:
        List Cloud Service OS Families in a subscription:
          $ref: ./examples/CloudServiceOSFamilies_List.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Compute…
components:
  schemas:
    OSFamily:
      description: Describes a cloud service OS family.
      type: object
      properties:
        id:
          description: Resource Id.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        location:
          description: Resource location.
          type: string
          readOnly: true
        properties:
          $ref: '#/components/schemas/OSFamilyProperties'
    OSVersionListResult:
      description: The list operation result.
      type: object
      properties:
        value:
          description: The list of resources.
          type: array
          items:
            $ref: '#/components/schemas/OSVersion'
        nextLink:
          description: The URI to fetch the next page of resources. Use this to get the next page of resources. Do this till nextLink is null to fetch all the resources.
          type: string
      required:
      - value
    OSFamilyProperties:
      description: OS family properties.
      type: object
      properties:
        name:
          description: The OS family name.
          type: string
          readOnly: true
        label:
          description: The OS family label.
          type: string
          readOnly: true
        versions:
          description: List of OS versions belonging to this family.
          type: array
          items:
            $ref: '#/components/schemas/OSVersionPropertiesBase'
          x-ms-identifiers:
          - version
          readOnly: true
    OSFamilyListResult:
      description: The list operation result.
      type: object
      properties:
        value:
          description: The list of resources.
          type: array
          items:
            $ref: '#/components/schemas/OSFamily'
        nextLink:
          description: The URI to fetch the next page of resources. Use this to get the next page of resources. Do this till nextLink is null to fetch all the resources.
          type: string
      required:
      - value
    OSVersionProperties:
      description: OS version properties.
      type: object
      properties:
        family:
          description: The family of this OS version.
          type: string
          readOnly: true
        familyLabel:
          description: The family label of this OS version.
          type: string
          readOnly: true
        version:
          description: The OS version.
          type: string
          readOnly: true
        label:
          description: The OS version label.
          type: string
          readOnly: true
        isDefault:
          description: Specifies whether this is the default OS version for its family.
          type: boolean
          readOnly: true
        isActive:
          description: Specifies whether this OS version is active.
          type: boolean
          readOnly: true
    OSVersionPropertiesBase:
      description: Configuration view of an OS version.
      type: object
      properties:
        version:
          description: The OS version.
          type: string
          readOnly: true
        label:
          description: The OS version label.
          type: string
          readOnly: true
        isDefault:
          description: Specifies whether this is the default OS version for its family.
          type: boolean
          readOnly: true
        isActive:
          description: Specifies whether this OS version is active.
          type: boolean
          readOnly: true
    OSVersion:
      description: Describes a cloud service OS version.
      type: object
      properties:
        id:
          description: Resource Id.
          type: string
          readOnly: true
        name:
          description: Resource name.
          type: string
          readOnly: true
        type:
          description: Resource type.
          type: string
          readOnly: true
        location:
          description: Resource location.
          type: string
          readOnly: true
        properties:
          $ref: '#/components/schemas/OSVersionProperties'
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
