openapi: 3.2.0
info:
  version: 2022-09-30-preview
  title: Microsoft Azure RecoveryServicesBackupClient Job Details API
  x-ms-code-generation-settings:
    internalConstructors: false
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Job Details
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/{jobName}
  : get:
      tags:
      - Job Details
      description: Gets extended information associated with the job.
      operationId: microsoftAzureJobdetailsGet
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/VaultName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: jobName
        in: path
        description: Name of the job whose details are to be fetched.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Get Job Details:
          $ref: ./examples/Common/GetJobDetails.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    CloudError:
      x-ms-external: true
      properties:
        error:
          type: object
          $ref: '#/components/schemas/CloudErrorBody'
          description: The error object.
      description: An error response from the Container Instance service.
    JobResource:
      description: Defines workload agnostic properties for a job.
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/Job'
          description: JobResource properties
    CloudErrorBody:
      x-ms-external: true
      properties:
        code:
          readOnly: true
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          readOnly: true
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          readOnly: true
          type: string
          description: The target of the particular error. For example, the name of the property in error.
        details:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          x-ms-identifiers:
          - code
          description: A list of additional details about the error.
        additionalInfo:
          readOnly: true
          type: array
          items:
            $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorAdditionalInfo
          x-ms-identifiers: []
          description: The error additional info.
      description: An error response from the Container Instance service.
    Resource:
      description: ARM Resource.
      type: object
      properties:
        id:
          description: Resource Id represents the complete path to the resource.
          type: string
          readOnly: true
        name:
          description: Resource name associated with the resource.
          type: string
          readOnly: true
        type:
          description: Resource type represents the complete path of the form Namespace/ResourceType/ResourceType/...
          type: string
          readOnly: true
        location:
          description: Resource location.
          type: string
        tags:
          description: Resource tags.
          type: object
          additionalProperties:
            type: string
        eTag:
          description: Optional ETag.
          type: string
      x-ms-azure-resource: true
    Job:
      description: Defines workload agnostic properties for a job.
      required:
      - jobType
      type: object
      properties:
        entityFriendlyName:
          description: Friendly name of the entity on which the current job is executing.
          type: string
        backupManagementType:
          description: Backup management type to execute the current job.
          enum:
          - Invalid
          - AzureIaasVM
          - MAB
          - DPM
          - AzureBackupServer
          - AzureSql
          - AzureStorage
          - AzureWorkload
          - DefaultBackup
          type: string
          x-ms-enum:
            name: BackupManagementType
            modelAsString: true
        operation:
          description: The operation name.
          type: string
        status:
          description: Job status.
          type: string
        startTime:
          format: date-time
          description: The start time.
          type: string
        endTime:
          format: date-time
          description: The end time.
          type: string
        activityId:
          description: ActivityId of job.
          type: string
        jobType:
          description: This property will be used as the discriminator for deciding the specific types in the polymorphic chain of types.
          type: string
      discriminator:
        propertyName: jobType
  parameters:
    ResourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group where the recovery services vault is present.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionId:
      name: subscriptionId
      in: path
      description: The subscription Id.
      required: true
      schema:
        type: string
    ApiVersion:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
    VaultName:
      name: vaultName
      in: path
      description: The name of the recovery services vault.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account.
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
