openapi: 3.2.0
info:
  version: 2021-11-16-preview
  title: Microsoft Azure AuthorizationManagementClient Get Access…
  description: Access reviews service provides the workflow for running access reviews on different kind of resources.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: GetAccessReviewInstancesAssignedForMyApproval
paths:
  /providers/Microsoft.Authorization/accessReviewScheduleDefinitions/{scheduleDefinitionId}/instances:
    get:
      tags:
      - GetAccessReviewInstancesAssignedForMyApproval
      operationId: microsoftAzureAccessreviewinstancesassignedformyapprovalList
      x-ms-examples:
        GetAccessReviewInstancesAssignedForMyApproval:
          $ref: ./examples/GetAccessReviewInstancesAssignedForMyApproval.json
      description: Get access review instances assigned for my approval.
      parameters:
      - name: scheduleDefinitionId
        in: path
        required: true
        description: The id of the access review schedule definition.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/AccessReviewsFilterParameter'
      responses:
        '200':
          description: Describe the result of a successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessReviewInstanceListResult'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDefinition'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Authorization…
components:
  schemas:
    AccessReviewInstanceProperties:
      type: object
      properties:
        status:
          type: string
          readOnly: true
          description: This read-only field specifies the status of an access review instance.
          enum:
          - NotStarted
          - InProgress
          - Completed
          - Applied
          - Initializing
          - Applying
          - Completing
          - Scheduled
          - AutoReviewing
          - AutoReviewed
          - Starting
          x-ms-enum:
            name: AccessReviewInstanceStatus
            modelAsString: true
        startDateTime:
          type: string
          format: date-time
          description: The DateTime when the review instance is scheduled to be start.
        endDateTime:
          type: string
          format: date-time
          description: The DateTime when the review instance is scheduled to end.
        reviewers:
          type: array
          items:
            $ref: '#/components/schemas/AccessReviewReviewer'
          description: This is the collection of reviewers.
          x-ms-identifiers: []
        backupReviewers:
          type: array
          items:
            $ref: '#/components/schemas/AccessReviewReviewer'
          description: This is the collection of backup reviewers.
          x-ms-identifiers: []
        reviewersType:
          type: string
          readOnly: true
          description: This field specifies the type of reviewers for a review. Usually for a review, reviewers are explicitly assigned. However, in some cases, the reviewers may not be assigned and instead be chosen dynamically. For example managers review or self review.
          enum:
          - Assigned
          - Self
          - Managers
          x-ms-enum:
            name: AccessReviewInstanceReviewersType
            modelAsString: true
      description: Access Review Instance properties.
    AccessReviewInstanceListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/AccessReviewInstance'
          description: Access Review Instance list.
        nextLink:
          type: string
          description: The URL to use for getting the next set of results.
      description: List of Access Review Instances.
    AccessReviewReviewer:
      type: object
      properties:
        principalId:
          type: string
          description: The id of the reviewer(user/servicePrincipal)
        principalType:
          type: string
          readOnly: true
          description: 'The identity type : user/servicePrincipal'
          enum:
          - user
          - servicePrincipal
          x-ms-enum:
            name: AccessReviewReviewerType
            modelAsString: true
      description: Descriptor for what needs to be reviewed
    ErrorDefinition:
      type: object
      title: Error
      description: Error description and code explaining why an operation failed.
      properties:
        error:
          $ref: '#/components/schemas/ErrorDefinitionProperties'
          description: Error of the list gateway status.
    ErrorDefinitionProperties:
      type: object
      title: Error
      description: Error description and code explaining why an operation failed.
      properties:
        message:
          type: string
          readOnly: true
          description: Description of the error.
        code:
          type: string
          description: Error code of list gateway.
    AccessReviewInstance:
      type: object
      x-ms-azure-resource: true
      properties:
        id:
          type: string
          readOnly: true
          description: The access review instance id.
        name:
          type: string
          readOnly: true
          description: The access review instance name.
        type:
          type: string
          readOnly: true
          description: The resource type.
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/AccessReviewInstanceProperties'
          description: Access Review properties.
      description: Access Review Instance.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to be used with the HTTP request.
      schema:
        type: string
    AccessReviewsFilterParameter:
      name: $filter
      in: query
      required: false
      description: 'The filter to apply on the operation. Other than standard filters, one custom filter option is supported : ''assignedToMeToReview()''. When one specified $filter=assignedToMeToReview(), only items that are assigned to the calling user to review are returned'
      x-ms-skip-url-encoding: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
