openapi: 3.2.0
info:
  title: Microsoft Azure Azure Migrate Discovery Service Vmware…
  version: 2023-10-01-preview
  description: Azure OffAzure Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: VmwarePropertiesController
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/vmwareSites/{siteName}/updateDependencyMapStatus
  : post:
      operationId: microsoftAzureVmwarepropertiescontrollerUpdatedependencymapstatus
      tags:
      - VmwarePropertiesController
      description: 'Method to enable disable dependency map status for machines

        in a

        site.'
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                type: object
        '202':
          description: The request has been accepted for processing, but processing has not yet completed.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
            location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      x-ms-examples:
        VmwarePropertiesController_UpdateDependencyMapStatus_MaximumSet_Gen:
          $ref: ./examples/VmwarePropertiesController_UpdateDependencyMapStatus_MaximumSet_Gen.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMachineDepMapStatus'
        description: The content of the action request
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/vmwareSites/{siteName}/updateProperties
  : post:
      operationId: microsoftAzureVmwarepropertiescontrollerUpdateproperties
      tags:
      - VmwarePropertiesController
      description: Method to update properties for machines in a site.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                type: object
        '202':
          description: Resource operation accepted.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      x-ms-examples:
        VmwarePropertiesController_UpdateProperties_MaximumSet_Gen:
          $ref: ./examples/VmwarePropertiesController_UpdateProperties_MaximumSet_Gen.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MachineMetadataCollection'
        description: The content of the action request
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/vmwareSites/{siteName}/updateRunAsAccount
  : post:
      operationId: microsoftAzureVmwarepropertiescontrollerUpdaterunasaccount
      tags:
      - VmwarePropertiesController
      description: 'Method to associate Run as account to machine

        in a site.'
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                type: object
        '202':
          description: The request has been accepted for processing, but processing has not yet completed.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
            location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      x-ms-examples:
        VmwarePropertiesController_UpdateRunAsAccount_MaximumSet_Gen:
          $ref: ./examples/VmwarePropertiesController_UpdateRunAsAccount_MaximumSet_Gen.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMachineRunAsAccount'
        description: The content of the action request
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/vmwareSites/{siteName}/updateTags
  : post:
      operationId: microsoftAzureVmwarepropertiescontrollerUpdatetags
      tags:
      - VmwarePropertiesController
      description: 'Method to associate Run as account to machine

        in a site.'
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                type: object
        '202':
          description: The request has been accepted for processing, but processing has not yet completed.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
            location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      x-ms-examples:
        VmwarePropertiesController_UpdateTags_MaximumSet_Gen:
          $ref: ./examples/VmwarePropertiesController_UpdateTags_MaximumSet_Gen.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMachineTags'
        description: The content of the action request
        required: true
components:
  schemas:
    TagsMachineInput:
      type: object
      description: Machine class.
      properties:
        machineId:
          type: string
          description: Gets or sets the ARM id of the machine.
        tags:
          type: object
          description: run as AccountId
          additionalProperties:
            type: string
    UpdateMachineRunAsAccount:
      type: object
      description: "Defines class that represents input to update RunAsAccount on machine\n      \n      for cosmos entity operation."
      properties:
        machines:
          type: array
          description: Gets or sets the machine collection.
          items:
            $ref: '#/components/schemas/RunAsAccountMachineInput'
          x-ms-identifiers: []
    DependencyMapMachineInput:
      type: object
      description: Machine class.
      properties:
        machineId:
          type: string
          description: Gets or sets the ARM id of the machine.
        isDependencyMapToBeEnabled:
          type: boolean
          description: "Gets or sets a value indicating whether\n            dependency mapping is to\nbe enabled or not."
    RunAsAccountMachineInput:
      type: object
      description: Machine class.
      properties:
        machineId:
          type: string
          description: Gets or sets the ARM id of the machine.
        runAsAccountId:
          type: string
          description: run as AccountId
    MachineMetadataCollection:
      type: object
      description: The list of Machine MetaData.
      properties:
        value:
          type: array
          description: The list of Machine MetaData.
          items:
            $ref: '#/components/schemas/MachineMetadata'
          x-ms-identifiers: []
      required:
      - value
    UpdateMachineTags:
      type: object
      description: "Defines class that represents input to update Tags on machine\n      \n      for cosmos entity operation."
      properties:
        machines:
          type: array
          description: Gets or sets the machine collection.
          items:
            $ref: '#/components/schemas/TagsMachineInput'
          x-ms-identifiers: []
    UpdateMachineDepMapStatus:
      type: object
      description: "Defines class that represents input to enable or disable DMP on machine\n      \n      for cosmos entity operation."
      properties:
        machines:
          type: array
          description: Gets or sets the machine collection.
          items:
            $ref: '#/components/schemas/DependencyMapMachineInput'
          x-ms-identifiers: []
    MachineMetadata:
      type: object
      description: The properties of Machine MetaData
      properties:
        machineArmId:
          type: string
          description: arm id of the machine.
        dependencyMapping:
          type: string
          description: value representing state of dependency mapping (enabled/disabled).
        tags:
          type: object
          description: machine tags
          additionalProperties:
            type: string
      required:
      - machineArmId
      - dependencyMapping
      - tags
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
