openapi: 3.2.0
info:
  title: Microsoft Azure CustomerInsightsManagementClient…
  description: The Azure Customer Insights management API provides a RESTful set of web services that interact with Azure Customer Insights service to manage your resources. The API has entities that capture the relationship between an end user and the Azure Customer Insights service.
  version: '2017-04-26'
  x-ms-code-generation-settings:
    name: CustomerInsightsManagementClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Authorization Policies
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/authorizationPolicies/{authorizationPolicyName}
  : put:
      tags:
      - Authorization Policies
      operationId: microsoftAzureAuthorizationpoliciesCreateorupdate
      x-ms-examples:
        AuthorizationPolicies_CreateOrUpdate:
          $ref: ./examples/AuthorizationPoliciesCreateOrUpdate.json
      description: Creates an authorization policy or updates an existing authorization policy.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hubName
        in: path
        required: true
        description: The name of the hub.
        schema:
          type: string
      - name: authorizationPolicyName
        in: path
        required: true
        description: The name of the policy.
        schema:
          type: string
          maxLength: 50
          minLength: 1
          pattern: ^[A-Za-z0-9]$|^[A-Za-z0-9][\w-\.]*[A-Za-z0-9]$
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. Successfully update an existing authorization policy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationPolicyResourceFormat'
        '201':
          description: Created. A new authorization policy is created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationPolicyResourceFormat'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizationPolicyResourceFormat'
        description: Parameters supplied to the CreateOrUpdate authorization policy operation.
        required: true
    get:
      tags:
      - Authorization Policies
      operationId: microsoftAzureAuthorizationpoliciesGet
      x-ms-examples:
        AuthorizationPolicies_Get:
          $ref: ./examples/AuthorizationPoliciesGet.json
      description: Gets an authorization policy in the hub.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hubName
        in: path
        required: true
        description: The name of the hub.
        schema:
          type: string
      - name: authorizationPolicyName
        in: path
        required: true
        description: The name of the policy.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. Successfully get the authorization policy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationPolicyResourceFormat'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/authorizationPolicies
  : get:
      tags:
      - Authorization Policies
      operationId: microsoftAzureAuthorizationpoliciesListbyhub
      x-ms-examples:
        AuthorizationPolicies_ListByHub:
          $ref: ./examples/AuthorizationPoliciesListByHub.json
      description: Gets all the authorization policies in a specified hub.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hubName
        in: path
        required: true
        description: The name of the hub.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. Successfully get all the authorization policies in the hub.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationPolicyListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/authorizationPolicies/{authorizationPolicyName}/regeneratePrimaryKey
  : post:
      tags:
      - Authorization Policies
      operationId: microsoftAzureAuthorizationpoliciesRegenerateprimarykey
      x-ms-examples:
        AuthorizationPolicies_RegeneratePrimaryKey:
          $ref: ./examples/AuthorizationPoliciesRegeneratePrimaryKey.json
      description: Regenerates the primary policy key of the specified authorization policy.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hubName
        in: path
        required: true
        description: The name of the hub.
        schema:
          type: string
      - name: authorizationPolicyName
        in: path
        required: true
        description: The name of the policy.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. The primary key of the authorization policy is regenerated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationPolicy'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/authorizationPolicies/{authorizationPolicyName}/regenerateSecondaryKey
  : post:
      tags:
      - Authorization Policies
      operationId: microsoftAzureAuthorizationpoliciesRegeneratesecondarykey
      x-ms-examples:
        AuthorizationPolicies_RegenerateSecondaryKey:
          $ref: ./examples/AuthorizationPoliciesRegenerateSecondaryKey.json
      description: Regenerates the secondary policy key of the specified authorization policy.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hubName
        in: path
        required: true
        description: The name of the hub.
        schema:
          type: string
      - name: authorizationPolicyName
        in: path
        required: true
        description: The name of the policy.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. The secondary key of the authorization policy is regenerated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationPolicy'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    AuthorizationPolicy:
      required:
      - permissions
      properties:
        policyName:
          type: string
          readOnly: true
          description: Name of the policy.
        permissions:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/PermissionTypes'
          description: The permissions associated with the policy.
        primaryKey:
          type: string
          description: Primary key associated with the policy.
        secondaryKey:
          type: string
          description: Secondary key associated with the policy.
      description: The authorization policy.
    AuthorizationPolicyResourceFormat:
      description: The authorization policy resource format.
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/AuthorizationPolicy'
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
    ProxyResource:
      properties:
        id:
          readOnly: true
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
      x-ms-azure-resource: true
      description: Common properties of proxy resource.
    PermissionTypes:
      type: string
      enum:
      - Read
      - Write
      - Manage
      x-ms-enum:
        name: PermissionTypes
        modelAsString: false
      description: Supported permission types.
    AuthorizationPolicyListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/AuthorizationPolicyResourceFormat'
          description: Results of the list operation.
        nextLink:
          type: string
          description: Link to the next set of results.
      description: The response of list authorization policy operation.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
