openapi: 3.2.0
info:
  title: Microsoft Azure Data Sensitivity Settings API
  description: API spec for Microsoft.Security Data Sensitivity Settings
  version: 2023-02-15-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: sensitivitySettings
paths:
  /providers/Microsoft.Security/sensitivitySettings/current:
    put:
      tags:
      - sensitivitySettings
      description: Create or update data sensitivity settings for sensitive data discovery
      operationId: microsoftAzureSensitivitysettingsCreateorupdate
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersion
      responses:
        '200':
          description: Success of the sensitivity settings update
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSensitivitySettingsResponse'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
      x-ms-examples:
        Update sensitivity settings:
          $ref: ./examples/SensitivitySettings/PutSensitivitySettings_example.json
      summary: Microsoft Azure Put Providers Microsoft Security Sensitivitysettings Current
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSensitivitySettingsRequest'
        description: The data sensitivity settings to update
        required: true
    get:
      tags:
      - sensitivitySettings
      description: Gets data sensitivity settings for sensitive data discovery
      operationId: microsoftAzureSensitivitysettingsGet
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersion
      responses:
        '200':
          description: Success of the sensitivity settings get
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSensitivitySettingsResponse'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: ../../../common/v1/types.json#/definitions/CloudError
      x-ms-examples:
        Get sensitivity settings:
          $ref: ./examples/SensitivitySettings/GetSensitivitySettings_example.json
      summary: Microsoft Azure Get Providers Microsoft Security Sensitivitysettings Current
components:
  schemas:
    GetSensitivitySettingsResponse:
      x-ms-azure-resource: true
      type: object
      description: Data sensitivity settings for sensitive data discovery
      properties:
        id:
          type: string
          description: The ID of the sensitivity settings
          readOnly: true
        type:
          type: string
          description: The type of the sensitivity settings
          readOnly: true
        name:
          type: string
          description: The name of the sensitivity settings
          readOnly: true
        properties:
          type: object
          description: The sensitivity settings properties
          properties:
            sensitiveInfoTypesIds:
              $ref: '#/components/schemas/SensitiveInfoTypesIds'
            sensitivityThresholdLabelOrder:
              type: number
              description: The order of the sensitivity threshold label. Any label at or above this order will be considered sensitive. If set to -1, sensitivity by labels is turned off
            sensitivityThresholdLabelId:
              type: string
              description: The id of the sensitivity threshold label. Any label at or above this rank will be considered sensitive.
              format: uuid
            mipInformation:
              description: Microsoft information protection built-in and custom information types, labels, and integration status.
              type: object
              properties:
                mipIntegrationStatus:
                  $ref: '#/components/schemas/MipIntegrationStatus'
                labels:
                  $ref: '#/components/schemas/Labels'
                customInfoTypes:
                  description: List of custom user-defined information types
                  type: array
                  items:
                    $ref: '#/components/schemas/InfoType'
                builtInInfoTypes:
                  description: List of pre-configured sensitive information types
                  type: array
                  items:
                    $ref: '#/components/schemas/BuiltInInfoType'
    Labels:
      description: List of Microsoft information protection sensitivity labels
      type: array
      items:
        $ref: '#/components/schemas/Label'
    SensitiveInfoTypesIds:
      description: List of selected sensitive info types' IDs.
      type: array
      items:
        type: string
        format: uuid
    Label:
      description: Microsoft information protection sensitivity label
      type: object
      properties:
        name:
          type: string
          description: The display name of the label
        id:
          type: string
          description: The ID of the label
          format: uuid
        order:
          type: number
          description: Labels are ordered by sensitivity level. The higher the order of the label, the more sensitive it is.
    MipIntegrationStatus:
      type: string
      description: Microsoft information protection integration status
      enum:
      - Ok
      - noConsent
      - noAutoLabelingRules
      - noMipLabels
      x-ms-enum:
        name: MipIntegrationStatus
        modelAsString: true
    BuiltInInfoType:
      description: Pre-configured sensitive information type
      type: object
      properties:
        name:
          description: Display name of the info type
          type: string
        id:
          description: Id of the info type
          type: string
          format: uuid
        type:
          description: Category of the built-in info type
          type: string
    UpdateSensitivitySettingsRequest:
      description: Request to update data sensitivity settings for sensitive data discovery
      type: object
      properties:
        sensitiveInfoTypesIds:
          $ref: '#/components/schemas/SensitiveInfoTypesIds'
        sensitivityThresholdLabelOrder:
          type: number
          description: The order of the sensitivity threshold label. Any label at or above this order will be considered sensitive. If set to -1, sensitivity by labels is turned off
        sensitivityThresholdLabelId:
          type: string
          description: The id of the sensitivity threshold label. Any label at or above this rank will be considered sensitive.
          format: uuid
      required:
      - sensitiveInfoTypesIds
    InfoType:
      type: object
      description: Custom user-defined information type
      properties:
        name:
          description: Display name of the info type
          type: string
        id:
          description: Id of the info type
          type: string
          format: uuid
        description:
          description: Description of the info type
          type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
