openapi: 3.2.0
info:
  title: Microsoft Azure SharedImageGalleryServiceClient Gallery…
  description: Shared Image Gallery Service Client.
  version: '2020-09-30'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: GalleryImageVersions
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/images/{galleryImageName}/versions/{galleryImageVersionName}
  : put:
      tags:
      - GalleryImageVersions
      operationId: microsoftAzureGalleryimageversionsCreateorupdate
      description: Create or update a gallery image version.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - name: galleryName
        in: path
        required: true
        description: The name of the Shared Image Gallery in which the Image Definition resides.
        schema:
          type: string
      - name: galleryImageName
        in: path
        required: true
        description: The name of the gallery image definition in which the Image Version is to be created.
        schema:
          type: string
      - name: galleryImageVersionName
        in: path
        required: true
        description: 'The name of the gallery image version to be created. Needs to follow semantic version name pattern: The allowed characters are digit and period. Digits must be within the range of a 32-bit integer. Format: <MajorVersion>.<MinorVersion>.<Patch>'
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImageVersion'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImageVersion'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImageVersion'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-long-running-operation: true
      x-ms-examples:
        Create or update a simple Gallery Image Version (Managed Image as source).:
          $ref: ./examples/CreateOrUpdateASimpleGalleryImageVersion.json
        Create or update a simple Gallery Image Version using snapshots as a source.:
          $ref: ./examples/CreateOrUpdateASimpleGalleryImageVersionWithSnapshotsAsSource.json
        Create or update a simple Gallery Image Version using vhd as a source.:
          $ref: ./examples/CreateOrUpdateASimpleGalleryImageVersionWithVHD.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GalleryImageVersion'
        description: Parameters supplied to the create or update gallery image version operation.
        required: true
    patch:
      tags:
      - GalleryImageVersions
      operationId: microsoftAzureGalleryimageversionsUpdate
      description: Update a gallery image version.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - name: galleryName
        in: path
        required: true
        description: The name of the Shared Image Gallery in which the Image Definition resides.
        schema:
          type: string
      - name: galleryImageName
        in: path
        required: true
        description: The name of the gallery image definition in which the Image Version is to be updated.
        schema:
          type: string
      - name: galleryImageVersionName
        in: path
        required: true
        description: 'The name of the gallery image version to be updated. Needs to follow semantic version name pattern: The allowed characters are digit and period. Digits must be within the range of a 32-bit integer. Format: <MajorVersion>.<MinorVersion>.<Patch>'
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImageVersion'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-long-running-operation: true
      x-ms-examples:
        Update a simple Gallery Image Version (Managed Image as source).:
          $ref: ./examples/UpdateASimpleGalleryImageVersion.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GalleryImageVersionUpdate'
        description: Parameters supplied to the update gallery image version operation.
        required: true
    get:
      tags:
      - GalleryImageVersions
      operationId: microsoftAzureGalleryimageversionsGet
      description: Retrieves information about a gallery image version.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - name: galleryName
        in: path
        required: true
        description: The name of the Shared Image Gallery in which the Image Definition resides.
        schema:
          type: string
      - name: galleryImageName
        in: path
        required: true
        description: The name of the gallery image definition in which the Image Version resides.
        schema:
          type: string
      - name: galleryImageVersionName
        in: path
        required: true
        description: The name of the gallery image version to be retrieved.
        schema:
          type: string
      - name: $expand
        in: query
        required: false
        description: The expand expression to apply on the operation.
        x-ms-enum:
          name: ReplicationStatusTypes
          modelAsString: true
        schema:
          type: string
          enum:
          - ReplicationStatus
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImageVersion'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Get a gallery image version.:
          $ref: ./examples/GetAGalleryImageVersion.json
        Get a gallery image version with replication status.:
          $ref: ./examples/GetAGalleryImageVersionWithReplicationStatus.json
        Get a gallery image version with snapshots as a source.:
          $ref: ./examples/GetAGalleryImageVersionWithSnapshotsAsSource.json
        Get a gallery image version with vhd as a source.:
          $ref: ./examples/GetAGalleryImageVersionWithVhdAsSource.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    delete:
      tags:
      - GalleryImageVersions
      operationId: microsoftAzureGalleryimageversionsDelete
      description: Delete a gallery image version.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - name: galleryName
        in: path
        required: true
        description: The name of the Shared Image Gallery in which the Image Definition resides.
        schema:
          type: string
      - name: galleryImageName
        in: path
        required: true
        description: The name of the gallery image definition in which the Image Version resides.
        schema:
          type: string
      - name: galleryImageVersionName
        in: path
        required: true
        description: The name of the gallery image version to be deleted.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-long-running-operation: true
      x-ms-examples:
        Delete a gallery image version.:
          $ref: ./examples/DeleteAGalleryImageVersion.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/images/{galleryImageName}/versions
  : get:
      tags:
      - GalleryImageVersions
      operationId: microsoftAzureGalleryimageversionsListbygalleryimage
      description: List gallery image versions in a gallery image definition.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - name: galleryName
        in: path
        required: true
        description: The name of the Shared Image Gallery in which the Image Definition resides.
        schema:
          type: string
      - name: galleryImageName
        in: path
        required: true
        description: The name of the Shared Image Gallery Image Definition from which the Image Versions are to be listed.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImageVersionList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        List gallery image versions in a gallery image definition.:
          $ref: ./examples/ListGalleryImageVersionsInAGalleryImage.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    GalleryArtifactPublishingProfileBase:
      properties:
        targetRegions:
          type: array
          items:
            $ref: '#/components/schemas/TargetRegion'
          description: The target regions where the Image Version is going to be replicated to. This property is updatable.
        replicaCount:
          type: integer
          format: int32
          description: The number of replicas of the Image Version to be created per region. This property would take effect for a region when regionalReplicaCount is not specified. This property is updatable.
        excludeFromLatest:
          type: boolean
          description: If set to true, Virtual Machines deployed from the latest version of the Image Definition won't use this Image Version.
        publishedDate:
          readOnly: true
          type: string
          format: date-time
          description: The timestamp for when the gallery image version is published.
        endOfLifeDate:
          type: string
          format: date-time
          description: The end of life date of the gallery image version. This property can be used for decommissioning purposes. This property is updatable.
        storageAccountType:
          type: string
          description: Specifies the storage account type to be used to store the image. This property is not updatable.
          enum:
          - Standard_LRS
          - Standard_ZRS
          - Premium_LRS
          x-ms-enum:
            name: StorageAccountType
            modelAsString: true
      description: Describes the basic gallery artifact publishing profile.
    RegionalReplicationStatus:
      properties:
        region:
          readOnly: true
          type: string
          description: The region to which the gallery image version is being replicated to.
        state:
          readOnly: true
          type: string
          description: This is the regional replication state.
          enum:
          - Unknown
          - Replicating
          - Completed
          - Failed
          x-ms-enum:
            name: ReplicationState
            modelAsString: true
        details:
          readOnly: true
          type: string
          description: The details of the replication status.
        progress:
          readOnly: true
          type: integer
          format: int32
          description: It indicates progress of the replication job.
      description: This is the regional replication status.
    GalleryImageVersionList:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/GalleryImageVersion'
          description: A list of gallery image versions.
        nextLink:
          type: string
          description: The uri to fetch the next page of gallery image versions. Call ListNext() with this to fetch the next page of gallery image versions.
      required:
      - value
      description: The List Gallery Image version operation response.
    TargetRegion:
      properties:
        name:
          type: string
          description: The name of the region.
        regionalReplicaCount:
          type: integer
          format: int32
          description: The number of replicas of the Image Version to be created per region. This property is updatable.
        storageAccountType:
          type: string
          description: Specifies the storage account type to be used to store the image. This property is not updatable.
          enum:
          - Standard_LRS
          - Standard_ZRS
          - Premium_LRS
          x-ms-enum:
            name: StorageAccountType
            modelAsString: true
        encryption:
          $ref: '#/components/schemas/EncryptionImages'
      required:
      - name
      description: Describes the target region information.
    ApiErrorBase:
      properties:
        code:
          type: string
          description: The error code.
        target:
          type: string
          description: The target of the particular error.
        message:
          type: string
          description: The error message.
      description: Api error base.
    GalleryOSDiskImage:
      allOf:
      - $ref: '#/components/schemas/GalleryDiskImage'
      description: This is the OS disk image.
    ReplicationStatus:
      properties:
        aggregatedState:
          readOnly: true
          type: string
          description: This is the aggregated replication status based on all the regional replication status flags.
          enum:
          - Unknown
          - InProgress
          - Completed
          - Failed
          x-ms-enum:
            name: AggregatedReplicationState
            modelAsString: true
        summary:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/RegionalReplicationStatus'
          description: This is a summary of replication status for each region.
      description: This is the replication status of the gallery image version.
    GalleryImageVersionProperties:
      properties:
        publishingProfile:
          $ref: '#/components/schemas/GalleryImageVersionPublishingProfile'
        provisioningState:
          readOnly: true
          type: string
          title: The current state of the gallery image version.
          description: The provisioning state, which only appears in the response.
          enum:
          - Creating
          - Updating
          - Failed
          - Succeeded
          - Deleting
          - Migrating
        storageProfile:
          $ref: '#/components/schemas/GalleryImageVersionStorageProfile'
        replicationStatus:
          readOnly: true
          $ref: '#/components/schemas/ReplicationStatus'
      required:
      - storageProfile
      description: Describes the properties of a gallery image version.
    DiskImageEncryption:
      properties:
        diskEncryptionSetId:
          type: string
          description: A relative URI containing the resource ID of the disk encryption set.
      description: This is the disk image encryption base class.
    GalleryArtifactVersionSource:
      properties:
        id:
          type: string
          description: The id of the gallery artifact version source. Can specify a disk uri, snapshot uri, user image or storage account resource.
        uri:
          type: string
          description: The uri of the gallery artifact version source. Currently used to specify vhd/blob source.
      description: The gallery artifact version source.
    ApiError:
      properties:
        details:
          type: array
          items:
            $ref: '#/components/schemas/ApiErrorBase'
          description: The Api error details
        innererror:
          $ref: '#/components/schemas/InnerError'
          description: The Api inner error
        code:
          type: string
          description: The error code.
        target:
          type: string
          description: The target of the particular error.
        message:
          type: string
          description: The error message.
      description: Api error.
    GalleryDiskImage:
      properties:
        sizeInGB:
          readOnly: true
          type: integer
          format: int32
          description: This property indicates the size of the VHD to be created.
        hostCaching:
          type: string
          description: The host caching of the disk. Valid values are 'None', 'ReadOnly', and 'ReadWrite'
          enum:
          - None
          - ReadOnly
          - ReadWrite
          x-ms-enum:
            name: HostCaching
            modelAsString: false
        source:
          $ref: '#/components/schemas/GalleryArtifactVersionSource'
      description: This is the disk image base class.
    Resource:
      description: The Resource model definition.
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        location:
          type: string
          description: Resource location
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
      required:
      - location
      x-ms-azure-resource: true
    InnerError:
      properties:
        exceptiontype:
          type: string
          description: The exception type.
        errordetail:
          type: string
          description: The internal error message or exception dump.
      description: Inner error details.
    GalleryImageVersionUpdate:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/GalleryImageVersionProperties'
      allOf:
      - $ref: '#/components/schemas/UpdateResourceDefinition'
      description: Specifies information about the gallery image version that you want to update.
    CloudError:
      x-ms-external: true
      properties:
        error:
          $ref: '#/components/schemas/ApiError'
      description: An error response from the Compute service.
    GalleryImageVersionPublishingProfile:
      allOf:
      - $ref: '#/components/schemas/GalleryArtifactPublishingProfileBase'
      description: The publishing profile of a gallery image Version.
    GalleryImageVersion:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/GalleryImageVersionProperties'
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Specifies information about the gallery image version that you want to create or update.
    UpdateResourceDefinition:
      description: The Update Resource model definition.
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
      x-ms-azure-resource: true
    GalleryImageVersionStorageProfile:
      properties:
        source:
          $ref: '#/components/schemas/GalleryArtifactVersionSource'
        osDiskImage:
          $ref: '#/components/schemas/GalleryOSDiskImage'
        dataDiskImages:
          type: array
          items:
            $ref: '#/components/schemas/GalleryDataDiskImage'
          description: A list of data disk images.
      description: This is the storage profile of a Gallery Image Version.
    EncryptionImages:
      properties:
        osDiskImage:
          $ref: '#/components/schemas/OSDiskImageEncryption'
        dataDiskImages:
          type: array
          items:
            $ref: '#/components/schemas/DataDiskImageEncryption'
          description: A list of encryption specifications for data disk images.
      description: Optional. Allows users to provide customer managed keys for encrypting the OS and data disks in the gallery artifact.
    OSDiskImageEncryption:
      allOf:
      - $ref: '#/components/schemas/DiskImageEncryption'
      description: Contains encryption settings for an OS disk image.
    GalleryDataDiskImage:
      properties:
        lun:
          type: integer
          format: int32
          description: This property specifies the logical unit number of the data disk. This value is used to identify data disks within the Virtual Machine and therefore must be unique for each data disk attached to the Virtual Machine.
      allOf:
      - $ref: '#/components/schemas/GalleryDiskImage'
      required:
      - lun
      description: This is the data disk image.
    DataDiskImageEncryption:
      properties:
        lun:
          type: integer
          format: int32
          description: This property specifies the logical unit number of the data disk. This value is used to identify data disks within the Virtual Machine and therefore must be unique for each data disk attached to the Virtual Machine.
      allOf:
      - $ref: '#/components/schemas/DiskImageEncryption'
      required:
      - lun
      description: Contains encryption settings for a data disk image.
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The name of the resource group.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
