openapi: 3.2.0
info:
  version: 2024-02-01-preview
  title: Microsoft Azure DataProtectionBackupClient Backup Instances…
  x-ms-code-generation-settings:
    internalConstructors: false
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: BackupInstancesExtensionRouting
paths:
  /{resourceId}/providers/Microsoft.DataProtection/backupInstances:
    get:
      tags:
      - BackupInstancesExtensionRouting
      description: Gets a list of backup instances associated with a tracked resource
      operationId: microsoftAzureBackupinstancesextensionroutingList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupInstanceResourceList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List BackupInstances associated with an azure resource:
          $ref: ./examples/BackupInstanceOperations/ListBackupInstancesExtensionRouting.json
      summary: Microsoft Azure Get Resourceid Providers Microsoft Dataprotection…
components:
  schemas:
    BackupInstance:
      description: Backup Instance
      required:
      - dataSourceInfo
      - policyInfo
      - objectType
      type: object
      properties:
        friendlyName:
          description: Gets or sets the Backup Instance friendly name.
          type: string
        dataSourceInfo:
          $ref: '#/components/schemas/Datasource'
          description: Gets or sets the data source information.
        dataSourceSetInfo:
          $ref: '#/components/schemas/DatasourceSet'
          description: Gets or sets the data source set information.
        policyInfo:
          $ref: '#/components/schemas/PolicyInfo'
          description: Gets or sets the policy information.
        protectionStatus:
          $ref: '#/components/schemas/ProtectionStatusDetails'
          description: Specifies the protection status of the resource
          readOnly: true
        currentProtectionState:
          description: Specifies the current protection state of the resource
          enum:
          - Invalid
          - NotProtected
          - ConfiguringProtection
          - ProtectionConfigured
          - BackupSchedulesSuspended
          - RetentionSchedulesSuspended
          - ProtectionStopped
          - ProtectionError
          - ConfiguringProtectionFailed
          - SoftDeleting
          - SoftDeleted
          - UpdatingProtection
          type: string
          readOnly: true
          x-ms-enum:
            name: CurrentProtectionState
            modelAsString: true
        protectionErrorDetails:
          $ref: '#/components/schemas/UserFacingError'
          description: Specifies the protection error of the resource
          readOnly: true
        provisioningState:
          description: Specifies the provisioning state of the resource i.e. provisioning/updating/Succeeded/Failed
          type: string
          readOnly: true
        datasourceAuthCredentials:
          $ref: '#/components/schemas/AuthCredentials'
          description: Credentials to use to authenticate with data source provider.
        validationType:
          description: Specifies the type of validation. In case of DeepValidation, all validations from /validateForBackup API will run again.
          enum:
          - ShallowValidation
          - DeepValidation
          type: string
          x-ms-enum:
            name: ValidationType
            modelAsString: true
        identityDetails:
          $ref: '#/components/schemas/IdentityDetails'
          description: 'Contains information of the Identity Details for the BI.

            If it is null, default will be considered as System Assigned.'
        objectType:
          type: string
    IdentityDetails:
      type: object
      properties:
        useSystemAssignedIdentity:
          description: Specifies if the BI is protected by System Identity.
          type: boolean
        userAssignedIdentityArmUrl:
          description: ARM URL for User Assigned Identity.
          type: string
    UserFacingError:
      description: Error object used by layers that have access to localized content, and propagate that to user
      properties:
        code:
          description: Unique code for this error
          type: string
        details:
          description: Additional related Errors
          items:
            $ref: '#/components/schemas/UserFacingError'
          x-ms-identifiers: []
          type: array
        innerError:
          $ref: '#/components/schemas/InnerError'
          description: Inner Error
        isRetryable:
          description: Whether the operation will be retryable or not
          type: boolean
        isUserError:
          description: Whether the operation is due to a user error or service error
          type: boolean
        properties:
          description: Any key value pairs that can be injected inside error object
          type: object
          additionalProperties:
            type: string
        message:
          type: string
        recommendedAction:
          description: RecommendedAction � localized.
          items:
            type: string
          type: array
        target:
          description: Target of the error.
          type: string
      type: object
    DppProxyResource:
      properties:
        id:
          description: Proxy Resource Id represents the complete path to the resource.
          readOnly: true
          type: string
        name:
          description: Proxy Resource name associated with the resource.
          readOnly: true
          type: string
        type:
          description: Proxy Resource type represents the complete path of the form Namespace/ResourceType/ResourceType/...
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: Proxy Resource tags.
          type: object
        systemData:
          $ref: ../../../../../common-types/resource-management/v4/types.json#/definitions/systemData
      type: object
      x-ms-azure-resource: true
    PolicyParameters:
      description: Parameters in Policy
      type: object
      x-ms-mutability:
      - create
      - read
      properties:
        dataStoreParametersList:
          description: Gets or sets the DataStore Parameters
          type: array
          items:
            $ref: '#/components/schemas/DataStoreParameters'
          x-ms-identifiers: []
        backupDatasourceParametersList:
          description: Gets or sets the Backup Data Source Parameters
          type: array
          items:
            $ref: '#/components/schemas/BackupDatasourceParameters'
          x-ms-identifiers: []
    DatasourceSet:
      description: DatasourceSet details of datasource to be backed up
      properties:
        datasourceType:
          description: DatasourceType of the resource.
          type: string
        objectType:
          description: Type of Datasource object, used to initialize the right inherited type
          type: string
        resourceID:
          description: Full ARM ID of the resource. For azure resources, this is ARM ID. For non azure resources, this will be the ID created by backup service via Fabric/Vault.
          type: string
        resourceLocation:
          description: Location of datasource.
          type: string
        resourceName:
          description: Unique identifier of the resource in the context of parent.
          type: string
        resourceType:
          description: Resource Type of Datasource.
          type: string
        resourceUri:
          description: Uri of the resource.
          type: string
        resourceProperties:
          $ref: '#/components/schemas/BaseResourceProperties'
          description: Properties specific to data source set
      required:
      - resourceID
      title: DatasourceSet
      type: object
    AuthCredentials:
      description: Base class for different types of authentication credentials.
      required:
      - objectType
      type: object
      properties:
        objectType:
          description: Type of the specific object - used for deserializing
          type: string
          readOnly: false
      discriminator:
        propertyName: objectType
    PolicyInfo:
      description: Policy Info in backupInstance
      properties:
        policyId:
          type: string
        policyVersion:
          readOnly: true
          type: string
        policyParameters:
          $ref: '#/components/schemas/PolicyParameters'
          description: Policy parameters for the backup instance
      required:
      - policyId
      title: PolicyInfo
      type: object
    ErrorAdditionalInfo:
      description: The resource management error additional info.
      properties:
        info:
          description: The additional info.
          readOnly: true
          type: object
        type:
          description: The additional info type.
          readOnly: true
          type: string
    DataStoreParameters:
      description: Parameters for DataStore
      required:
      - objectType
      - dataStoreType
      type: object
      properties:
        objectType:
          description: Type of the specific object - used for deserializing
          type: string
          readOnly: false
        dataStoreType:
          description: type of datastore; Operational/Vault/Archive
          enum:
          - OperationalStore
          - VaultStore
          - ArchiveStore
          type: string
          x-ms-enum:
            name: DataStoreTypes
            modelAsString: true
      discriminator:
        propertyName: objectType
    Datasource:
      description: Datasource to be backed up
      properties:
        datasourceType:
          description: DatasourceType of the resource.
          type: string
        objectType:
          description: Type of Datasource object, used to initialize the right inherited type
          type: string
        resourceID:
          description: Full ARM ID of the resource. For azure resources, this is ARM ID. For non azure resources, this will be the ID created by backup service via Fabric/Vault.
          type: string
        resourceLocation:
          description: Location of datasource.
          type: string
        resourceName:
          description: Unique identifier of the resource in the context of parent.
          type: string
        resourceType:
          description: Resource Type of Datasource.
          type: string
        resourceUri:
          description: Uri of the resource.
          type: string
        resourceProperties:
          $ref: '#/components/schemas/BaseResourceProperties'
          description: Properties specific to data source
      required:
      - resourceID
      title: Datasource
      type: object
    BaseResourceProperties:
      description: Properties which are specific to datasource/datasourceSets
      required:
      - objectType
      type: object
      properties:
        objectType:
          description: Type of the specific object - used for deserializing
          type: string
          readOnly: false
          enum:
          - DefaultResourceProperties
          x-ms-enum:
            name: ResourcePropertiesObjectType
            modelAsString: true
      discriminator:
        propertyName: objectType
    BackupInstanceResource:
      allOf:
      - $ref: '#/components/schemas/DppProxyResource'
      description: BackupInstance Resource
      properties:
        properties:
          $ref: '#/components/schemas/BackupInstance'
          description: BackupInstanceResource properties
      title: BackupInstanceResource
    BackupInstanceResourceList:
      allOf:
      - $ref: '#/components/schemas/DppResourceList'
      description: BackupInstance Resource list response
      properties:
        value:
          description: List of resources.
          items:
            $ref: '#/components/schemas/BackupInstanceResource'
          type: array
      title: BackupInstanceResourceList
      type: object
    CloudError:
      description: An error response from Azure Backup.
      properties:
        error:
          $ref: '#/components/schemas/Error'
      title: CloudError
      x-ms-external: true
    DppResourceList:
      description: ListResource
      properties:
        nextLink:
          description: The uri to fetch the next page of resources. Call ListNext() fetches next page of resources.
          type: string
      title: List Resource
      type: object
    BackupDatasourceParameters:
      description: Parameters for Backup Datasource
      required:
      - objectType
      type: object
      properties:
        objectType:
          description: Type of the specific object - used for deserializing
          type: string
          readOnly: false
      discriminator:
        propertyName: objectType
    Error:
      description: The resource management error response.
      properties:
        additionalInfo:
          description: The error additional info.
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          x-ms-identifiers: []
          readOnly: true
          type: array
        code:
          description: The error code.
          readOnly: true
          type: string
        details:
          description: The error details.
          items:
            $ref: '#/components/schemas/Error'
          x-ms-identifiers: []
          readOnly: true
          type: array
        message:
          description: The error message.
          readOnly: true
          type: string
        target:
          description: The error target.
          readOnly: true
          type: string
    ProtectionStatusDetails:
      description: Protection status details
      properties:
        errorDetails:
          $ref: '#/components/schemas/UserFacingError'
          description: Specifies the protection status error of the resource
        status:
          description: Specifies the protection status of the resource
          enum:
          - ConfiguringProtection
          - ConfiguringProtectionFailed
          - ProtectionConfigured
          - ProtectionStopped
          - SoftDeleted
          - SoftDeleting
          type: string
          x-ms-enum:
            modelAsString: true
            name: Status
      title: ProtectionStatusDetails
      type: object
    InnerError:
      description: Inner Error
      properties:
        additionalInfo:
          additionalProperties:
            type: string
          description: Any Key value pairs that can be provided to the client for additional  verbose information.
          type: object
        code:
          description: Unique code for this error
          type: string
        embeddedInnerError:
          $ref: '#/components/schemas/InnerError'
          description: Child Inner Error, to allow Nesting.
      title: InnerError
      type: object
  parameters:
    ResourceId:
      name: resourceId
      in: path
      description: ARM path of the resource to be protected using Microsoft.DataProtection
      required: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account.
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
