openapi: 3.2.0
info:
  version: 2023-10-01-preview
  title: Microsoft Azure MaintenanceManagementClient Scheduled…
  description: Azure Maintenance Management Client
servers:
- url: https://management.azure.com
tags:
- name: Scheduled Events
paths:
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Compute/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/scheduledevents/{scheduledEventId}/acknowledge
  : post:
      tags:
      - Scheduled Events
      summary: Microsoft Azure Post Scheduled Event Acknowledgement
      operationId: microsoftAzureScheduledeventAcknowledge
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: resourceType
        in: path
        description: Resource type
        required: true
        schema:
          type: string
      - name: resourceName
        in: path
        description: Resource Name
        required: true
        schema:
          type: string
      - name: scheduledEventId
        in: path
        description: Scheduled Event Id. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)
        required: true
        schema:
          type: string
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Response of scheduled event acknowledge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledEventApproveResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenanceError'
      x-ms-examples:
        ScheduledEvents_Acknowledge:
          $ref: ./examples/ScheduledEvents_Acknowledge.json
      description: Needs a more full description created.
components:
  schemas:
    ScheduledEventApproveResponse:
      description: Response of scheduled event acknowledge
      type: object
      properties:
        value:
          description: Successfully Approved
          type: string
    MaintenanceError:
      description: An error response received from the Azure Maintenance service.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetails'
          description: Details of the error
    ErrorDetails:
      description: An error response details received from the Azure Maintenance service.
      type: object
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
          type: string
        message:
          description: Human-readable representation of the error.
          type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
