openapi: 3.2.0
info:
  title: Microsoft Azure Connected Resources API
  version: 2024-01-01-preview
  x-refined-note:
  - x-cadl-generated differs across the merged source definitions and was not carried
  description: 'Operations tagged ConnectedResources across 2 of this provider''s published API definitions: microsoftelastic-openapi-original.yml, newrelicobservability-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
tags:
- name: ConnectedResources
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/getBillingInfo
  : post:
      tags:
      - ConnectedResources
      summary: Microsoft Azure Get Marketplace And Organization Info Mapped To The Given…
      operationId: microsoftAzureBillinginfoGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingInfoResponse'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-examples:
        BillingInfo_Get:
          $ref: ./examples/BillingInfo_Get.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/listConnectedPartnerResources
  : post:
      tags:
      - ConnectedResources
      summary: Microsoft Azure List Of All Active Deployments That Are Associated With The…
      operationId: microsoftAzureConnectedpartnerresourcesList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectedPartnerResourcesListResponse'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ConnectedPartnerResources_List:
          $ref: ./examples/ConnectedPartnerResources_List.json
      description: Needs a more full description created.
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/NewRelic.Observability/monitors/{monitorName}/getBillingInfo
  : post:
      tags:
      - ConnectedResources
      summary: Microsoft Azure Get Marketplace Info Mapped To The Given Monitor
      operationId: microsoftAzureBillinginfoGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: monitorName
        in: path
        required: true
        description: Name of the Monitors resource
        schema:
          type: string
          pattern: ^.*$
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingInfoResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        BillingInfo_Get:
          $ref: ./examples/BillingInfo_Get.json
      description: Needs a more full description created.
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/NewRelic.Observability/monitors/{monitorName}/listConnectedPartnerResources
  : post:
      tags:
      - ConnectedResources
      summary: Microsoft Azure List Of All Active Deployments That Are Associated With The…
      operationId: microsoftAzureConnectedpartnerresourcesList
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: monitorName
        in: path
        required: true
        description: Name of the Monitors resource
        schema:
          type: string
          pattern: ^.*$
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectedPartnerResourcesListResponse_2'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ConnectedPartnerResources_List:
          $ref: ./examples/ConnectedPartnerResources_List.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/email'
        description: Email Id of the user
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
components:
  schemas:
    ResourceProviderDefaultErrorResponse:
      description: RP default error response.
      type: object
      properties:
        error:
          description: Response body of Error
          readOnly: true
          $ref: '#/components/schemas/ErrorResponseBody'
    MarketplaceSaaSInfo:
      description: Marketplace SAAS Info of the resource.
      type: object
      properties:
        marketplaceSubscription:
          description: Marketplace Subscription
          type: object
          properties:
            id:
              description: Marketplace Subscription Id. This is a GUID-formatted string.
              type: string
        marketplaceName:
          description: 'Marketplace Subscription Details: SAAS Name'
          type: string
        marketplaceResourceId:
          description: 'Marketplace Subscription Details: Resource URI'
          type: string
        marketplaceStatus:
          description: 'Marketplace Subscription Details: SaaS Subscription Status'
          type: string
        billedAzureSubscriptionId:
          description: The Azure Subscription ID to which the Marketplace Subscription belongs and gets billed into.
          type: string
        subscribed:
          description: Flag specifying if the Marketplace status is subscribed or not.
          type: boolean
    ConnectedPartnerResourcesListResponse:
      description: ' List of all active elastic deployments.'
      type: object
      properties:
        value:
          description: Results of a list operation.
          type: array
          x-ms-identifiers:
          - properties/azureResourceId
          items:
            $ref: '#/components/schemas/ConnectedPartnerResourcesListFormat'
        nextLink:
          description: Link to the next set of results, if any.
          type: string
    PartnerBillingEntity:
      description: Partner Billing details associated with the resource.
      type: object
      properties:
        id:
          description: The Elastic Organization Id.
          type: string
        name:
          description: The Elastic Organization Name.
          type: string
        partnerEntityUri:
          description: Link to the elastic organization page
          type: string
    ConnectedPartnerResourceProperties:
      description: Connected Partner Resource Properties
      type: object
      properties:
        partnerDeploymentName:
          description: Elastic deployment name
          type: string
        partnerDeploymentUri:
          description: Deployment URL of the elasticsearch in Elastic cloud deployment.
          type: string
        azureResourceId:
          description: The azure resource Id of the deployment.
          type: string
        location:
          description: The location of the deployment.
          type: string
    ErrorResponseBody:
      description: Error response body.
      title: ErrorResponseBody
      type: object
      properties:
        code:
          description: Error code.
          type: string
        message:
          description: Error message.
          type: string
        target:
          description: Error target.
          type: string
        details:
          description: Error details.
          type: array
          x-ms-identifiers: []
          items:
            $ref: '#/components/schemas/ErrorResponseBody'
    ConnectedPartnerResourcesListFormat:
      description: Connected Partner Resources List Format
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/ConnectedPartnerResourceProperties'
    BillingInfoResponse:
      description: Marketplace Subscription and Organization details to which resource gets billed into.
      type: object
      properties:
        marketplaceSaasInfo:
          description: Marketplace Subscription details
          $ref: '#/components/schemas/MarketplaceSaaSInfo'
        partnerBillingEntity:
          description: 'Partner Billing Entity details: Organization Info'
          $ref: '#/components/schemas/PartnerBillingEntity'
    MarketplaceSaaSInfo_2:
      description: Marketplace SAAS Info of the resource.
      type: object
      properties:
        marketplaceSubscriptionId:
          description: Marketplace Subscription Id. This is a GUID-formatted string.
          type: string
        marketplaceSubscriptionName:
          description: 'Marketplace Subscription Details: SAAS Name'
          type: string
        marketplaceResourceId:
          description: 'Marketplace Subscription Details: Resource URI'
          type: string
        marketplaceStatus:
          description: 'Marketplace Subscription Details: SaaS Subscription Status'
          type: string
        billedAzureSubscriptionId:
          description: The Azure Subscription ID to which the Marketplace Subscription belongs and gets billed into.
          type: string
    ConnectedPartnerResourcesListResponse_2:
      description: ' List of all active newrelic deployments.'
      type: object
      properties:
        value:
          description: Results of a list operation.
          type: array
          items:
            $ref: '#/components/schemas/ConnectedPartnerResourcesListFormat'
          x-ms-identifiers: []
        nextLink:
          description: Link to the next set of results, if any.
          type: string
    PartnerBillingEntity_2:
      description: Partner Billing details associated with the resource.
      type: object
      properties:
        organizationId:
          description: The New Relic Organization Id.
          type: string
        organizationName:
          description: The New Relic Organization Name.
          type: string
    ConnectedPartnerResourceProperties_2:
      description: Connected Partner Resource Properties
      type: object
      properties:
        accountName:
          description: NewRelic account name
          type: string
        accountId:
          description: NewRelic Account Id
          type: string
        azureResourceId:
          description: The azure resource Id of the deployment.
          type: string
        location:
          description: The location of the deployment.
          type: string
    email:
      type: string
      description: Reusable representation of an email address
      pattern: ^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z]{2,}$
  parameters:
    MonitorNameParameter:
      in: path
      name: monitorName
      description: Monitor resource name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Microsoft Entra ID OAuth2 Flow
x-refined-from:
- microsoftelastic-openapi-original.yml
- newrelicobservability-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
