openapi: 3.2.0
info:
  version: '2023-06-01'
  title: Microsoft Azure SiteRecoveryManagementClient Replication…
  x-ms-code-generation-settings:
    header: MICROSOFT_MIT_NO_VERSION
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ReplicationEligibilityResults
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{virtualMachineName}/providers/Microsoft.RecoveryServices/replicationEligibilityResults
  : get:
      tags:
      - ReplicationEligibilityResults
      summary: Microsoft Azure Gets The Validation Errors In Case The Vm Is Unsuitable For…
      description: Validates whether a given VM can be protected or not in which case returns list of errors.
      operationId: microsoftAzureReplicationeligibilityresultsList
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: virtualMachineName
        in: path
        description: Virtual Machine name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplicationEligibilityResultsCollection'
      x-ms-examples:
        Gets the validation errors in case the VM is unsuitable for protection.:
          $ref: ./examples/ReplicationEligibilityResults_List.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{virtualMachineName}/providers/Microsoft.RecoveryServices/replicationEligibilityResults/default
  : get:
      tags:
      - ReplicationEligibilityResults
      summary: Microsoft Azure Gets The Validation Errors In Case The Vm Is Unsuitable For…
      description: Validates whether a given VM can be protected or not in which case returns list of errors.
      operationId: microsoftAzureReplicationeligibilityresultsGet
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: virtualMachineName
        in: path
        description: Virtual Machine name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplicationEligibilityResults'
      x-ms-examples:
        Gets the validation errors in case the VM is unsuitable for protection.:
          $ref: ./examples/ReplicationEligibilityResults_Get.json
components:
  parameters:
    ResourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group where the recovery services vault is present.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    SubscriptionId:
      name: subscriptionId
      in: path
      description: The subscription Id.
      required: true
      schema:
        type: string
    ApiVersion:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
  schemas:
    ReplicationEligibilityResultsCollection:
      description: Replication eligibility results collection response model.
      type: object
      properties:
        value:
          description: The replication eligibility results details.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/ReplicationEligibilityResults'
    ReplicationEligibilityResultsErrorInfo:
      description: Error model that can be exposed to the user.
      type: object
      properties:
        code:
          description: The error code.
          type: string
        message:
          description: The error message.
          type: string
        possibleCauses:
          description: The possible causes.
          type: string
        recommendedAction:
          description: The recommended action.
          type: string
        status:
          description: The error status.
          readOnly: true
          type: string
    ReplicationEligibilityResultsProperties:
      description: Properties model for replication eligibility results API.
      type: object
      properties:
        clientRequestId:
          description: The client request Id.
          readOnly: true
          type: string
        errors:
          description: The error details.
          type: array
          uniqueItems: false
          items:
            $ref: '#/components/schemas/ReplicationEligibilityResultsErrorInfo'
    ReplicationEligibilityResults:
      description: Replication eligibility results response model.
      type: object
      properties:
        name:
          description: Gets the name of this object.
          type: string
          readOnly: true
        type:
          description: Gets the object type.
          type: string
          readOnly: true
        id:
          description: Gets Unique ARM identifier for this object.
          type: string
          readOnly: true
        properties:
          $ref: '#/components/schemas/ReplicationEligibilityResultsProperties'
          description: Gets properties model for replication eligibility results API.
          readOnly: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account.
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
