openapi: 3.2.0
info:
  title: Microsoft Azure MicrosoftScanningClient Scan API
  description: Creates a Microsoft.Scanning management client.
  version: 2022-07-01-preview
servers:
- url: https://purview.azure.com/scan
security:
- azure_auth:
  - user_impersonation
tags:
- name: Scan
paths:
  /datasources/{dataSourceName}/scans/{scanName}:
    put:
      tags:
      - Scan
      description: Creates an instance of a scan
      operationId: microsoftAzureScansCreateorupdate
      parameters:
      - in: path
        name: dataSourceName
        required: true
        schema:
          type: string
      - in: path
        name: scanName
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scan'
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scan'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        Scans_CreateOrUpdate:
          $ref: ./examples/Scans_CreateOrUpdate.json
      summary: Microsoft Azure Put Datasources Datasourcename Scans Scanname
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Scan'
        required: true
    get:
      tags:
      - Scan
      description: Gets a scan information
      operationId: microsoftAzureScansGet
      parameters:
      - in: path
        name: dataSourceName
        required: true
        schema:
          type: string
      - in: path
        name: scanName
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scan'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        Scans_Get:
          $ref: ./examples/Scans_Get.json
      summary: Microsoft Azure Get Datasources Datasourcename Scans Scanname
    delete:
      tags:
      - Scan
      description: Deletes the scan associated with the data source
      operationId: microsoftAzureScansDelete
      parameters:
      - in: path
        name: dataSourceName
        required: true
        schema:
          type: string
      - in: path
        name: scanName
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scan'
        '204':
          description: Success
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        Scans_Delete:
          $ref: ./examples/Scans_Delete.json
      summary: Microsoft Azure Delete Datasources Datasourcename Scans Scanname
  /datasources/{dataSourceName}/scans:
    get:
      tags:
      - Scan
      description: List scans in data source
      operationId: microsoftAzureScansListbydatasource
      parameters:
      - in: path
        name: dataSourceName
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanList'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        Scans_ListByDataSource:
          $ref: ./examples/Scans_ListByDataSource.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Datasources Datasourcename Scans
components:
  schemas:
    Scan:
      required:
      - kind
      type: object
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      properties:
        kind:
          enum:
          - AzureSubscriptionCredential
          - AzureSubscriptionMsi
          - AzureResourceGroupCredential
          - AzureResourceGroupMsi
          - AzureSynapseWorkspaceCredential
          - AzureSynapseWorkspaceMsi
          - AzureSynapseCredential
          - AzureSynapseMsi
          - AdlsGen1Credential
          - AdlsGen1Msi
          - AdlsGen2Credential
          - AdlsGen2Msi
          - AmazonAccountCredential
          - AmazonS3Credential
          - AmazonS3RoleARN
          - AmazonSqlCredential
          - AzureCosmosDbCredential
          - AzureDataExplorerCredential
          - AzureDataExplorerMsi
          - AzureFileServiceCredential
          - AzureSqlDatabaseCredential
          - AzureSqlDatabaseMsi
          - AmazonPostgreSqlCredential
          - AzurePostgreSqlCredential
          - SqlServerDatabaseCredential
          - AzureSqlDatabaseManagedInstanceCredential
          - AzureSqlDatabaseManagedInstanceMsi
          - AzureSqlDataWarehouseCredential
          - AzureSqlDataWarehouseMsi
          - AzureMySqlCredential
          - AzureStorageCredential
          - AzureStorageMsi
          - TeradataTeradataCredential
          - TeradataTeradataUserPass
          - TeradataUserPass
          - OracleOracleCredential
          - OracleOracleUserPass
          - SapS4HanaSapS4HanaCredential
          - SapS4HanaSapS4HanaUserPass
          - SapEccSapEccCredential
          - SapEccSapEccUserPass
          - PowerBIDelegated
          - PowerBIMsi
          type: string
          x-ms-enum:
            name: ScanAuthorizationType
            modelAsString: true
        scanResults:
          type: array
          items:
            $ref: '#/components/schemas/ScanResult'
          readOnly: true
      discriminator:
        propertyName: kind
    ProxyResource:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
    ErrorModel:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorModel'
    ScanResult:
      type: object
      properties:
        parentId:
          type: string
          readOnly: true
        id:
          type: string
          readOnly: true
        resourceId:
          type: string
          readOnly: true
        status:
          type: string
          readOnly: true
        assetsDiscovered:
          format: int64
          type: integer
          readOnly: true
        assetsClassified:
          format: int64
          type: integer
          readOnly: true
        diagnostics:
          allOf:
          - $ref: '#/components/schemas/ScanDiagnostics'
          readOnly: true
        startTime:
          format: date-time
          type: string
          readOnly: true
        queuedTime:
          format: date-time
          type: string
          readOnly: true
        pipelineStartTime:
          format: date-time
          type: string
          readOnly: true
        endTime:
          format: date-time
          type: string
          readOnly: true
        scanRulesetVersion:
          format: int32
          type: integer
          readOnly: true
        scanRulesetType:
          enum:
          - Custom
          - System
          type: string
          readOnly: true
          x-ms-enum:
            name: ScanRulesetType
            modelAsString: true
        scanLevelType:
          enum:
          - Full
          - Incremental
          type: string
          readOnly: true
          x-ms-enum:
            name: ScanLevelType
            modelAsString: true
        errorMessage:
          type: string
          readOnly: true
        error:
          allOf:
          - $ref: '#/components/schemas/ErrorModel'
          readOnly: true
        runType:
          type: string
          readOnly: true
        dataSourceType:
          enum:
          - None
          - AzureSubscription
          - AzureResourceGroup
          - AzureSynapseWorkspace
          - AzureSynapse
          - AdlsGen1
          - AdlsGen2
          - AmazonAccount
          - AmazonS3
          - AmazonSql
          - AzureCosmosDb
          - AzureDataExplorer
          - AzureFileService
          - AzureSqlDatabase
          - AmazonPostgreSql
          - AzurePostgreSql
          - SqlServerDatabase
          - AzureSqlDatabaseManagedInstance
          - AzureSqlDataWarehouse
          - AzureMySql
          - AzureStorage
          - Teradata
          - Oracle
          - SapS4Hana
          - SapEcc
          - PowerBI
          type: string
          readOnly: true
          x-ms-enum:
            name: DataSourceType
            modelAsString: true
    ScanDiagnostics:
      type: object
      properties:
        notifications:
          type: array
          items:
            $ref: '#/components/schemas/Notification'
        exceptionCountMap:
          type: object
          additionalProperties:
            format: int32
            type: integer
          readOnly: true
    Notification:
      type: object
      properties:
        message:
          type: string
        code:
          format: int32
          type: integer
    ErrorResponseModel:
      type: object
      properties:
        error:
          allOf:
          - $ref: '#/components/schemas/ErrorModel'
    ScanList:
      required:
      - value
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Scan'
        nextLink:
          type: string
        count:
          format: int64
          type: integer
  parameters:
    api-version:
      in: query
      name: api-version
      description: The api version to use.
      required: true
      x-ms-client-name: ApiVersion
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-ms-parameterized-host:
  hostTemplate: '{Endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
