openapi: 3.2.0
info:
  title: Microsoft Azure Private Endpoint Connection Controller API
  x-refined-note:
  - x-typespec-generated differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged PrivateEndpointConnectionController across 2 of this provider''s published API definitions: azure-migrate-discovery-service-openapi-original.yml, azure-migrate-v2-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: PrivateEndpointConnectionController
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/masterSites/{siteName}/privateEndpointConnections
  : get:
      operationId: microsoftAzurePrivateendpointconnectioncontrollerListbymastersite
      tags:
      - PrivateEndpointConnectionController
      description: Gets the private link resource.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        PrivateEndpointConnectionController_ListByMasterSite_MaximumSet_Gen:
          $ref: ./examples/PrivateEndpointConnectionController_ListByMasterSite_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/masterSites/{siteName}/privateEndpointConnections/{peConnectionName}
  : get:
      operationId: microsoftAzurePrivateendpointconnectioncontrollerGet
      tags:
      - PrivateEndpointConnectionController
      description: Gets the private link resource.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: peConnectionName
        in: path
        description: ' Private link resource name.'
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        PrivateEndpointConnectionController_Get_MaximumSet_Gen:
          $ref: ./examples/PrivateEndpointConnectionController_Get_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      operationId: microsoftAzurePrivateendpointconnectioncontrollerCreate
      tags:
      - PrivateEndpointConnectionController
      description: Gets the private link resource.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: peConnectionName
        in: path
        description: ' Private link resource name.'
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: ARM update operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
        '201':
          description: ARM create operation completed successfully.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        PrivateEndpointConnectionController_Create_MaximumSet_Gen:
          $ref: ./examples/PrivateEndpointConnectionController_Create_MaximumSet_Gen.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateEndpointConnection'
        description: Resource create parameters.
        required: true
    delete:
      operationId: microsoftAzurePrivateendpointconnectioncontrollerDelete
      tags:
      - PrivateEndpointConnectionController
      description: Deletes the private link resource.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: peConnectionName
        in: path
        description: ' Private link resource name.'
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource deleted successfully.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        PrivateEndpointConnectionController_Delete_MaximumSet_Gen:
          $ref: ./examples/PrivateEndpointConnectionController_Delete_MaximumSet_Gen.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/privateEndpointConnections
  : get:
      tags:
      - PrivateEndpointConnectionController
      summary: Microsoft Azure Get The Private Endpoint Connections
      description: Get all the private endpoint connections under a migrate project.
      operationId: microsoftAzurePrivateendpointconnectionscontrollerGetprivateendpointconnections
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/migrateProjectName'
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionCollection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      deprecated: false
      x-ms-examples:
        PrivateEndpointConnectionController_ListPrivateEndpointConnections_MaximumSet_Gen:
          $ref: ./examples/PrivateEndpointConnectionController_ListPrivateEndpointConnections_MaximumSet_Gen.json
        PrivateEndpointConnectionController_ListPrivateEndpointConnections_MinimumSet_Gen:
          $ref: ./examples/PrivateEndpointConnectionController_ListPrivateEndpointConnections_MinimumSet_Gen.json
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/privateEndpointConnections/{peConnectionName}
  : get:
      tags:
      - PrivateEndpointConnectionController
      summary: Microsoft Azure Get The Private Endpoint
      description: Get the private endpoint with the specified name.
      operationId: microsoftAzurePrivateendpointconnectioncontrollerGetprivateendpointconnection
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/migrateProjectName'
      - name: peConnectionName
        description: Private endpoint connection name.
        in: path
        required: true
        schema:
          type: string
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      deprecated: false
      x-ms-examples:
        PrivateEndpointConnectionController_Get_MaximumSet_Gen:
          $ref: ./examples/PrivateEndpointConnectionController_Get_MaximumSet_Gen.json
        PrivateEndpointConnectionController_Get_MinimumSet_Gen:
          $ref: ./examples/PrivateEndpointConnectionController_Get_MinimumSet_Gen.json
    put:
      tags:
      - PrivateEndpointConnectionController
      summary: Microsoft Azure Create Or Update Private Endpoint
      description: Create or update a private endpoint with specified name. If a private endpoint already exists, update it.
      operationId: microsoftAzurePrivateendpointconnectioncontrollerPutprivateendpointconnection
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/migrateProjectName'
      - name: peConnectionName
        description: Private endpoint connection name.
        in: path
        required: true
        schema:
          type: string
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: ARM create or update operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection_2'
        '201':
          description: ARM create or update operation completed successfully.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      deprecated: false
      x-ms-examples:
        PrivateEndpointConnectionController_Create_MaximumSet_Gen:
          $ref: ./examples/PrivateEndpointConnectionController_Create_MaximumSet_Gen.json
        PrivateEndpointConnectionController_Create_MinimumSet_Gen:
          $ref: ./examples/PrivateEndpointConnectionController_Create_MinimumSet_Gen.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateEndpointConnection_2'
        description: Private endpoint connection body.
        required: true
    delete:
      tags:
      - PrivateEndpointConnectionController
      summary: Microsoft Azure Delete The Endpoint
      description: Delete the private endpoint. Deleting non-existent private endpoint is a no-operation.
      operationId: microsoftAzurePrivateendpointconnectioncontrollerDeleteprivateendpointconnection
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/migrateProjectName'
      - name: peConnectionName
        description: Private endpoint connection name.
        in: path
        required: true
        schema:
          type: string
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                enum:
                - Continue
                - SwitchingProtocols
                - OK
                - Created
                - Accepted
                - NonAuthoritativeInformation
                - NoContent
                - ResetContent
                - PartialContent
                - MultipleChoices
                - Ambiguous
                - MovedPermanently
                - Moved
                - Found
                - Redirect
                - SeeOther
                - RedirectMethod
                - NotModified
                - UseProxy
                - Unused
                - TemporaryRedirect
                - RedirectKeepVerb
                - BadRequest
                - Unauthorized
                - PaymentRequired
                - Forbidden
                - NotFound
                - MethodNotAllowed
                - NotAcceptable
                - ProxyAuthenticationRequired
                - RequestTimeout
                - Conflict
                - Gone
                - LengthRequired
                - PreconditionFailed
                - RequestEntityTooLarge
                - RequestUriTooLong
                - UnsupportedMediaType
                - RequestedRangeNotSatisfiable
                - ExpectationFailed
                - UpgradeRequired
                - InternalServerError
                - NotImplemented
                - BadGateway
                - ServiceUnavailable
                - GatewayTimeout
                - HttpVersionNotSupported
                type: string
                x-ms-enum:
                  name: enum
                  modelAsString: true
        '204':
          description: No content. No private endpoint with specified name was found.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      deprecated: false
      x-ms-examples:
        PrivateEndpointConnectionController_Delete_MaximumSet_Gen:
          $ref: ./examples/PrivateEndpointConnectionController_Delete_MaximumSet_Gen.json
        PrivateEndpointConnectionController_Delete_MinimumSet_Gen:
          $ref: ./examples/PrivateEndpointConnectionController_Delete_MinimumSet_Gen.json
    servers:
    - url: https://management.azure.com
components:
  schemas:
    PrivateEndpointConnectionListResult:
      type: object
      description: The response of a PrivateEndpointConnection list operation.
      properties:
        value:
          type: array
          description: The PrivateEndpointConnection items on this page
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    ProvisioningState:
      type: string
      description: The status of the current operation.
      enum:
      - Created
      - Updated
      - Running
      - Completed
      - Failed
      - Succeeded
      - Canceled
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: Created
          value: Created
          description: Created value.
        - name: Updated
          value: Updated
          description: Updated value.
        - name: Running
          value: Running
          description: Running value.
        - name: Completed
          value: Completed
          description: Completed value.
        - name: Failed
          value: Failed
          description: Failed value.
        - name: Succeeded
          value: Succeeded
          description: Succeeded value.
        - name: Canceled
          value: Canceled
          description: Canceled value.
    PrivateEndpointConnection:
      type: object
      description: REST model used to encapsulate Private Link properties for tracked resources.
      properties:
        properties:
          $ref: '#/components/schemas/PrivateEndpointConnectionPropertiesV2'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
    PrivateLinkServiceConnectionState:
      type: object
      description: Service Connection State
      properties:
        status:
          $ref: '#/components/schemas/PrivateLinkServiceConnectionStateStatus'
          description: state status
        description:
          type: string
          description: description string
        actionsRequired:
          type: string
          description: actions required
    ResourceId:
      type: object
      description: PrivateEndpointModelsResourceId
      properties:
        id:
          type: string
          description: id name
          readOnly: true
    PrivateLinkServiceConnectionStateStatus:
      type: string
      description: PrivateLinkServiceConnectionState
      enum:
      - Approved
      - Pending
      - Rejected
      - Disconnected
      x-ms-enum:
        name: PrivateLinkServiceConnectionStateStatus
        modelAsString: true
        values:
        - name: Approved
          value: Approved
          description: Approved value.
        - name: Pending
          value: Pending
          description: Pending value.
        - name: Rejected
          value: Rejected
          description: Rejected value.
        - name: Disconnected
          value: Disconnected
          description: Disconnected value.
    PrivateEndpointConnectionPropertiesV2:
      type: object
      description: PrivateEndpointConnectionProperties V2
      properties:
        groupIds:
          type: array
          description: array of group ids
          items:
            type: string
          readOnly: true
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: provisioning state enum
          readOnly: true
        privateEndpoint:
          $ref: '#/components/schemas/ResourceId'
          description: private endpoints
          readOnly: true
        privateLinkServiceConnectionState:
          $ref: '#/components/schemas/PrivateLinkServiceConnectionState'
          description: private endpoints connection state
    PrivateEndpointConnection_2:
      description: REST model used to encapsulate the user visible state of a PrivateEndpoint.
      type: object
      x-ms-azure-resource: true
      properties:
        id:
          description: Relative URL to get this Sites.
          type: string
          readOnly: true
        name:
          description: Gets the name of the resource.
          type: string
          readOnly: true
        type:
          description: Gets the resource type.
          type: string
          readOnly: true
        eTag:
          description: Gets the tag for optimistic concurrency control.
          type: string
          readOnly: true
        properties:
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties'
          description: Gets the properties of the object.
        systemData:
          $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/systemData
          readOnly: true
    PrivateLinkServiceConnectionState_2:
      type: object
      description: Private endpoint connection state.
      properties:
        status:
          enum:
          - Approved
          - Pending
          - Rejected
          - Disconnected
          type: string
          description: Private link connection state.
          x-ms-enum:
            name: PrivateLinkServiceConnectionState_status
            modelAsString: true
        description:
          type: string
          description: Description of the object.
        actionsRequired:
          type: string
          description: Action required.
    ResourceId_2:
      description: Defines resource ID of a private endpoint connection.
      type: object
      properties:
        id:
          type: string
          readOnly: true
    PrivateEndpointConnectionCollection:
      description: Collection of PrivateLink resources.
      type: object
      properties:
        value:
          description: Gets the list of machines.
          type: array
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection_2'
          readOnly: true
        nextLink:
          description: Gets the value of next link.
          type: string
          readOnly: true
    PrivateEndpointConnectionProperties:
      type: object
      description: Properties of a private endpoint connection.
      properties:
        provisioningState:
          enum:
          - Accepted
          - InProgress
          - Succeeded
          - Failed
          - Canceled
          type: string
          description: Provisioning state.
          x-ms-enum:
            name: provisioningState
            modelAsString: true
          readOnly: true
        privateEndpoint:
          $ref: '#/components/schemas/ResourceId_2'
          readOnly: true
        privateLinkServiceConnectionState:
          $ref: '#/components/schemas/PrivateLinkServiceConnectionState_2'
          description: Gets the properties of the object.
  parameters:
    migrateProjectName:
      name: migrateProjectName
      description: Name of the Azure Migrate project.
      in: path
      x-ms-parameter-location: method
      required: true
      schema:
        type: string
        pattern: ^[a-zA-Z0-9-]{3,24}$
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-refined-from:
- azure-migrate-discovery-service-openapi-original.yml
- azure-migrate-v2-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
