openapi: 3.2.0
info:
  title: Microsoft Azure ComputeDiagnosticResourceProviderClient…
  description: The Compute Diagnostic Resource Provider Client
  version: 2024-03-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: validateStorageConfiguration
paths:
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/diagnostics/diskInspection/validateStorageConfiguration
  : post:
      tags:
      - validateStorageConfiguration
      operationId: microsoftAzureDiskinspectionstorageconfigurationValidate
      x-ms-long-running-operation: false
      description: Validate if a storageAccount configuration exists for a subscription used for DiskInspection.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageConfigurationResponse'
        default:
          description: Error response describing why the get call failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Returns storageAccount value for an existing configuration entry:
          $ref: ./examples/ValidateStorageConfiguration.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft Compute…
components:
  schemas:
    StorageConfigurationResponse:
      type: object
      properties:
        storageAccountId:
          type: string
          description: 'Fully qualified storage account Id. Example: "/subscriptions/{subId}/resourceGroups/{rgName}/providers/Microsoft.Storage/storageAccounts/{storageAccountName}"'
      description: Api output result when there is an existing storage configuration entry.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
