openapi: 3.2.0
info:
  version: 2022-07-01-preview
  title: Microsoft Azure StorageMoverClient Agents API
  description: The Azure Storage Mover REST API.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Agents
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageMover/storageMovers/{storageMoverName}/agents
  : get:
      tags:
      - Agents
      operationId: microsoftAzureAgentsList
      description: Lists all Agents in a Storage Mover.
      x-ms-examples:
        Agents_List:
          $ref: ./examples/Agents_List.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/StorageMoverNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The list of Agents.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageMover/storageMovers/{storageMoverName}/agents/{agentName}
  : get:
      tags:
      - Agents
      operationId: microsoftAzureAgentsGet
      description: Gets an Agent resource.
      x-ms-examples:
        Agents_Get:
          $ref: ./examples/Agents_Get.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/StorageMoverNameParameter'
      - $ref: '#/components/parameters/AgentNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The Agent resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Agents
      operationId: microsoftAzureAgentsCreateorupdate
      description: Creates or updates an Agent resource, which references a hybrid compute machine that can run jobs.
      x-ms-examples:
        Agents_CreateOrUpdate:
          $ref: ./examples/Agents_CreateOrUpdate.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/StorageMoverNameParameter'
      - $ref: '#/components/parameters/AgentNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Successfully PUT Agent resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Agent'
        required: true
    patch:
      tags:
      - Agents
      operationId: microsoftAzureAgentsUpdate
      description: Creates or updates an Agent resource.
      x-ms-examples:
        Agents_Update:
          $ref: ./examples/Agents_Update.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/StorageMoverNameParameter'
      - $ref: '#/components/parameters/AgentNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: The Agent resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentUpdateParameters'
        required: true
    delete:
      tags:
      - Agents
      operationId: microsoftAzureAgentsDelete
      description: Deletes an Agent resource.
      x-ms-examples:
        Agents_Delete:
          $ref: ./examples/Agents_Delete.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/StorageMoverNameParameter'
      - $ref: '#/components/parameters/AgentNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Successfully deleted Agent.
        '202':
          description: Accepted. Agent delete operation is ongoing.
        '204':
          description: NoContent -- Agent does not exist for this Storage Mover.
        default:
          description: Error response describing why delete operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    Agent:
      description: The Agent resource.
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/AgentProperties'
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: Resource system metadata.
      required:
      - properties
      allOf:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource
    AgentProperties:
      type: object
      properties:
        description:
          type: string
          description: A description for the Agent.
        agentVersion:
          type: string
          description: The Agent version.
          readOnly: true
        arcResourceId:
          type: string
          description: The fully qualified resource ID of the Hybrid Compute resource for the Agent.
          x-ms-mutability:
          - read
          - create
        arcVmUuid:
          type: string
          description: The VM UUID of the Hybrid Compute resource for the Agent.
          x-ms-mutability:
          - read
          - create
        agentStatus:
          description: The Agent status.
          enum:
          - Registering
          - Offline
          - Online
          - Executing
          - RequiresAttention
          - Unregistering
          type: string
          x-ms-enum:
            name: AgentStatus
            modelAsString: true
          readOnly: true
        lastStatusUpdate:
          type: string
          format: date-time
          description: The last updated time of the Agent status.
          readOnly: true
        localIPAddress:
          type: string
          description: Local IP address reported by the Agent.
          readOnly: true
        memoryInMB:
          type: integer
          format: int64
          description: Available memory reported by the Agent, in MB.
          readOnly: true
        numberOfCores:
          type: integer
          format: int64
          description: Available compute cores reported by the Agent.
          readOnly: true
        uptimeInSeconds:
          type: integer
          format: int64
          description: Uptime of the Agent in seconds.
          readOnly: true
        errorDetails:
          type: object
          properties:
            code:
              type: string
              description: Error code reported by Agent
            message:
              type: string
              description: Expanded description of reported error code
          readOnly: true
        provisioningState:
          description: The provisioning state of this resource.
          enum:
          - Succeeded
          type: string
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
          readOnly: true
      required:
      - arcResourceId
      - arcVmUuid
    AgentUpdateProperties:
      type: object
      properties:
        description:
          type: string
          description: A description for the Agent.
    AgentList:
      description: List of Agents.
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Agent'
          readOnly: true
        nextLink:
          type: string
          description: Request URL that can be used to query next page of containers. Returned when total number of requested containers exceed maximum page size.
          readOnly: true
    AgentUpdateParameters:
      description: The Agent resource.
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/AgentUpdateProperties'
  parameters:
    AgentNameParameter:
      name: agentName
      in: path
      required: true
      description: The name of the Agent resource.
      x-ms-parameter-location: method
      schema:
        type: string
    StorageMoverNameParameter:
      name: storageMoverName
      in: path
      required: true
      description: The name of the Storage Mover resource.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
