openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft Storage Sync RegisteredServer…
  description: Microsoft Storage Sync Service API. This belongs to Microsoft.StorageSync Resource Provider
  version: '2022-09-01'
  x-ms-code-generation-settings:
    name: StorageSyncManagementClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: RegisteredServer Resource
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/registeredServers
  : get:
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - name: storageSyncServiceName
        in: path
        description: Name of Storage Sync Service resource.
        required: true
        schema:
          type: string
      tags:
      - RegisteredServer Resource
      operationId: microsoftAzureRegisteredserversListbystoragesyncservice
      description: Get a given registered server list.
      x-ms-examples:
        RegisteredServers_ListByStorageSyncService:
          $ref: ./examples/RegisteredServers_ListByStorageSyncService.json
      responses:
        '200':
          description: Array of Registered Server resources in Storage Sync Service
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisteredServerArray'
        default:
          description: Error message indicating why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/registeredServers/{serverId}
  : get:
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - name: storageSyncServiceName
        in: path
        description: Name of Storage Sync Service resource.
        required: true
        schema:
          type: string
      - name: serverId
        in: path
        description: GUID identifying the on-premises server.
        required: true
        schema:
          type: string
      tags:
      - RegisteredServer Resource
      operationId: microsoftAzureRegisteredserversGet
      description: Get a given registered server.
      x-ms-examples:
        RegisteredServers_Get:
          $ref: ./examples/RegisteredServers_Get.json
      responses:
        '200':
          description: Registered Server resources in Sync Group
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisteredServer'
        default:
          description: Error message indicating why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - name: storageSyncServiceName
        in: path
        description: Name of Storage Sync Service resource.
        required: true
        schema:
          type: string
      - name: serverId
        in: path
        description: GUID identifying the on-premises server.
        required: true
        schema:
          type: string
      tags:
      - RegisteredServer Resource
      operationId: microsoftAzureRegisteredserversCreate
      description: Add a new registered server.
      x-ms-examples:
        RegisteredServers_Create:
          $ref: ./examples/RegisteredServers_Create.json
      responses:
        '200':
          description: Registered Server resources in Sync Group
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisteredServer'
        '202':
          description: Asynchronous Operation Status Location
          headers:
            Azure-AsyncOperation:
              description: Operation Status Location URI
              schema:
                type: string
            Location:
              description: Operation Status Location URI
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
        default:
          description: Error message indicating why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisteredServerCreateParameters'
        description: Body of Registered Server object.
        required: true
    patch:
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - name: storageSyncServiceName
        in: path
        description: Name of Storage Sync Service resource.
        required: true
        schema:
          type: string
      - name: serverId
        in: path
        description: GUID identifying the on-premises server.
        required: true
        schema:
          type: string
      tags:
      - RegisteredServer Resource
      operationId: microsoftAzureRegisteredserversUpdate
      description: Update registered server.
      x-ms-examples:
        RegisteredServers_Update:
          $ref: ./examples/RegisteredServers_Update.json
      responses:
        '200':
          description: Registered Server resources in Sync Group
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisteredServer'
        '202':
          description: Asynchronous Operation Status Location
          headers:
            Azure-AsyncOperation:
              description: Operation Status Location URI
              schema:
                type: string
            Location:
              description: Operation Status Location URI
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
        default:
          description: Error message indicating why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisteredServerUpdateParameters'
        description: Body of Registered Server object.
        required: true
    delete:
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - name: storageSyncServiceName
        in: path
        description: Name of Storage Sync Service resource.
        required: true
        schema:
          type: string
      - name: serverId
        in: path
        description: GUID identifying the on-premises server.
        required: true
        schema:
          type: string
      tags:
      - RegisteredServer Resource
      operationId: microsoftAzureRegisteredserversDelete
      description: Delete the given registered server.
      x-ms-examples:
        RegisteredServers_Delete:
          $ref: ./examples/RegisteredServers_Delete.json
      responses:
        '200':
          description: Ok
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
        '202':
          description: Asynchronous Operation Status Location
          headers:
            Location:
              description: Operation Status Location URI
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
        '204':
          description: Resource doesn't exist
        default:
          description: Error message indicating why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/registeredServers/{serverId}/triggerRollover
  : post:
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - name: storageSyncServiceName
        in: path
        description: Name of Storage Sync Service resource.
        required: true
        schema:
          type: string
      - name: serverId
        in: path
        description: Server Id
        required: true
        schema:
          type: string
      tags:
      - RegisteredServer Resource
      operationId: microsoftAzureRegisteredserversTriggerrollover
      description: Triggers Server certificate rollover.
      x-ms-examples:
        RegisteredServers_triggerRollover:
          $ref: ./examples/RegisteredServers_TriggerRollover.json
      responses:
        '200':
          description: Trigger Rollover success status
          headers:
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
        '202':
          description: Asynchronous Operation Status Location
          headers:
            Location:
              description: Operation Status Location URI
              schema:
                type: string
            x-ms-request-id:
              description: request id.
              schema:
                type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              schema:
                type: string
        default:
          description: Error message indicating why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSyncError'
      x-ms-long-running-operation: true
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TriggerRolloverRequest'
        description: Body of Trigger Rollover request.
        required: true
components:
  schemas:
    RegisteredServer:
      type: object
      description: Registered Server resource.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/RegisteredServerProperties'
          description: RegisteredServer properties.
    TriggerRolloverRequest:
      type: object
      description: Trigger Rollover Request.
      properties:
        serverCertificate:
          type: string
          description: Certificate Data
    StorageSyncErrorDetails:
      type: object
      description: Error Details object.
      properties:
        code:
          type: string
          description: Error code of the given entry.
        message:
          type: string
          description: Error message of the given entry.
        target:
          type: string
          description: Target of the given entry.
        requestUri:
          type: string
          description: Request URI of the given entry.
        exceptionType:
          type: string
          description: Exception type of the given entry.
        httpMethod:
          type: string
          description: HTTP method of the given entry.
        hashedMessage:
          type: string
          description: Hashed message of the given entry.
        httpErrorCode:
          type: string
          description: HTTP error code of the given entry.
    ServerAuthType:
      type: string
      description: Type of the Server Auth type
      enum:
      - Certificate
      - ManagedIdentity
      x-ms-enum:
        name: ServerAuthType
        modelAsString: true
    StorageSyncInnerErrorDetails:
      type: object
      description: Error Details object.
      properties:
        callStack:
          type: string
          description: Call stack of the error.
        message:
          type: string
          description: Error message of the error.
        innerException:
          type: string
          description: Exception of the inner error.
        innerExceptionCallStack:
          type: string
          description: Call stack of the inner error.
    StorageSyncApiError:
      type: object
      description: Error type
      properties:
        code:
          type: string
          description: Error code of the given entry.
        message:
          type: string
          description: Error message of the given entry.
        target:
          type: string
          description: Target of the given error entry.
        details:
          $ref: '#/components/schemas/StorageSyncErrorDetails'
          description: Error details of the given entry.
        innererror:
          $ref: '#/components/schemas/StorageSyncInnerErrorDetails'
          description: Inner error details of the given entry.
    RegisteredServerProperties:
      type: object
      description: RegisteredServer Properties object.
      properties:
        serverCertificate:
          type: string
          description: Registered Server Certificate
        agentVersion:
          type: string
          description: Registered Server Agent Version
        agentVersionStatus:
          $ref: '#/components/schemas/RegisteredServerAgentVersionStatus'
          description: Registered Server Agent Version Status
          readOnly: true
        agentVersionExpirationDate:
          type: string
          format: date-time
          description: Registered Server Agent Version Expiration Date
          readOnly: true
        serverOSVersion:
          type: string
          description: Registered Server OS Version
        serverManagementErrorCode:
          type: integer
          format: int32
          description: Registered Server Management Error Code
        lastHeartBeat:
          type: string
          description: Registered Server last heart beat
        provisioningState:
          type: string
          description: Registered Server Provisioning State
        serverRole:
          type: string
          description: Registered Server serverRole
        clusterId:
          type: string
          description: Registered Server clusterId
        clusterName:
          type: string
          description: Registered Server clusterName
        serverId:
          type: string
          description: Registered Server serverId
        storageSyncServiceUid:
          type: string
          description: Registered Server storageSyncServiceUid
        lastWorkflowId:
          type: string
          description: Registered Server lastWorkflowId
        lastOperationName:
          type: string
          description: Resource Last Operation Name
        discoveryEndpointUri:
          type: string
          description: Resource discoveryEndpointUri
        resourceLocation:
          type: string
          description: Resource Location
        serviceLocation:
          type: string
          description: Service Location
        friendlyName:
          type: string
          description: Friendly Name
        managementEndpointUri:
          type: string
          description: Management Endpoint Uri
        monitoringEndpointUri:
          type: string
          description: Telemetry Endpoint Uri
        monitoringConfiguration:
          type: string
          description: Monitoring Configuration
        serverName:
          type: string
          description: Server name
          readOnly: true
        applicationId:
          type: string
          description: Server Application Id
        identity:
          type: boolean
          description: Apply server with newly discovered ApplicationId if available.
          readOnly: true
        latestApplicationId:
          type: string
          description: Latest Server Application Id discovered from the server. It is not yet applied.
        activeAuthType:
          $ref: '#/components/schemas/ServerAuthType'
          description: Server auth type.
          readOnly: true
    RegisteredServerCreateParameters:
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/RegisteredServerCreateParametersProperties'
          description: The parameters used to create the registered server.
      description: The parameters used when creating a registered server.
    RegisteredServerAgentVersionStatus:
      type: string
      description: Type of the registered server agent version status
      enum:
      - Ok
      - NearExpiry
      - Expired
      - Blocked
      x-ms-enum:
        name: RegisteredServerAgentVersionStatus
        modelAsString: true
    StorageSyncError:
      type: object
      description: Error type
      properties:
        error:
          $ref: '#/components/schemas/StorageSyncApiError'
          description: Error details of the given entry.
        innererror:
          $ref: '#/components/schemas/StorageSyncApiError'
          description: Error details of the given entry.
    RegisteredServerCreateParametersProperties:
      type: object
      description: RegisteredServer Create Properties object.
      properties:
        serverCertificate:
          type: string
          description: Registered Server Certificate
        agentVersion:
          type: string
          description: Registered Server Agent Version
        serverOSVersion:
          type: string
          description: Registered Server OS Version
        lastHeartBeat:
          type: string
          description: Registered Server last heart beat
        serverRole:
          type: string
          description: Registered Server serverRole
        clusterId:
          type: string
          description: Registered Server clusterId
        clusterName:
          type: string
          description: Registered Server clusterName
        serverId:
          type: string
          description: Registered Server serverId
        friendlyName:
          type: string
          description: Friendly Name
        applicationId:
          type: string
          description: Server ServicePrincipal Id
        identity:
          type: boolean
          description: Apply server with newly discovered ApplicationId if available.
    RegisteredServerUpdateParameters:
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/RegisteredServerUpdateProperties'
          description: The parameters used to update the registered server.
      description: The parameters used when updating a registered server.
    RegisteredServerUpdateProperties:
      type: object
      description: RegisteredServer Update Properties object.
      properties:
        identity:
          type: boolean
          description: Apply server with newly discovered ApplicationId if available.
    RegisteredServerArray:
      description: Array of RegisteredServer
      type: object
      properties:
        value:
          type: array
          description: Collection of Registered Server.
          items:
            $ref: '#/components/schemas/RegisteredServer'
          x-ms-identifiers:
          - id
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
