openapi: 3.2.0
info:
  title: Microsoft Azure Azure Migrate Assessment Service AKS…
  version: 2023-04-01-preview
  description: Azure Migrate Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: AKSSummaryOperations
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/aksAssessments/{assessmentName}/summaries
  : get:
      operationId: microsoftAzureAkssummaryoperationsListbyaksassessment
      tags:
      - AKSSummaryOperations
      description: List AKSSummary resources by AKSAssessment
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: assessmentName
        in: path
        description: AKS Assessment Name.
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AKSSummaryListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        AksSummaryOperations_ListByAksAssessment_MaximumSet_Gen:
          $ref: ./examples/AksSummaryOperations_ListByAksAssessment_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/aksAssessments/{assessmentName}/summaries/{summaryName}
  : get:
      operationId: microsoftAzureAkssummaryoperationsGet
      tags:
      - AKSSummaryOperations
      description: Get a AKSSummary
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: assessmentName
        in: path
        description: AKS Assessment Name.
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: summaryName
        in: path
        description: AKS Assessment Summary Name.
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AKSSummary'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        AksSummaryOperations_Get_MaximumSet_Gen:
          $ref: ./examples/AksSummaryOperations_Get_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    AKSAssessmentSummary:
      type: object
      description: Data model of AKS Assessment Summary.
      properties:
        skuSummary:
          type: object
          description: Gets SKU summary.
          additionalProperties:
            $ref: '#/components/schemas/SummaryDetails'
          readOnly: true
        webAppSummary:
          type: object
          description: Gets web app summary.
          additionalProperties:
            $ref: '#/components/schemas/SummaryDetails'
          readOnly: true
        webServerSummary:
          type: object
          description: Gets web server summary.
          additionalProperties:
            format: int32
            type: integer
          readOnly: true
        webAppCount:
          type: integer
          format: int32
          description: Gets the number of web apps.
          readOnly: true
        webServerCount:
          type: integer
          format: int32
          description: Gets the number of web servers.
          readOnly: true
        machineCount:
          type: integer
          format: int32
          description: Gets the number of machines.
          readOnly: true
        totalMonthlyCost:
          type: number
          format: float
          description: Gets the total monthly cost.
          readOnly: true
      required:
      - skuSummary
      - webAppSummary
      - webServerSummary
      - webAppCount
      - webServerCount
      - machineCount
      - totalMonthlyCost
    SummaryPropertiesBase:
      type: object
      description: Base ARM model of Assessment Summary ARM properties.
      properties:
        assessmentName:
          type: string
          description: Gets the assessment name.
          readOnly: true
        summaryName:
          type: string
          description: Gets the summary name.
          readOnly: true
        suitabilityPerTarget:
          type: object
          description: Gets the cloud suitability summary for all entities in the assessment per target.
          additionalProperties:
            $ref: '#/components/schemas/RecordOfInt'
          readOnly: true
        monthlyComputeCost:
          type: number
          format: float
          description: Gets the monthly compute cost.
          readOnly: true
        monthlyStorageCost:
          type: number
          format: float
          description: Gets the monthly storage cost.
          readOnly: true
        confidenceScore:
          type: number
          format: float
          description: Gets the confidence score.
          readOnly: true
      required:
      - assessmentName
      - summaryName
      - suitabilityPerTarget
      - monthlyComputeCost
      - monthlyStorageCost
      - confidenceScore
    SummaryDetails:
      type: object
      description: Data model of Summary Details.
      properties:
        count:
          type: integer
          format: int32
          description: Gets count.
          readOnly: true
        monthlyCost:
          type: number
          format: float
          description: Gets monthly cost.
          readOnly: true
      required:
      - count
      - monthlyCost
    RecordOfInt:
      type: object
      description: Data Model for Dictionary<string, int>.
      additionalProperties:
        format: int32
        type: integer
    AKSSummary:
      type: object
      description: ARM model of AKS Summary.
      properties:
        properties:
          $ref: '#/components/schemas/AKSSummaryProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
        eTag:
          type: string
          description: If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.
          readOnly: true
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
    AKSSummaryListResult:
      type: object
      description: The response of a AKSSummary list operation.
      properties:
        value:
          type: array
          description: The AKSSummary items on this page
          items:
            $ref: '#/components/schemas/AKSSummary'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    AKSSummaryProperties:
      type: object
      description: ARM model of AKS Summary Properties.
      properties:
        aksAssessmentSummary:
          $ref: '#/components/schemas/AKSAssessmentSummary'
          description: Gets AKS assessment summary.
          readOnly: true
      required:
      - aksAssessmentSummary
      allOf:
      - $ref: '#/components/schemas/SummaryPropertiesBase'
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
