openapi: 3.2.0
info:
  title: Microsoft Azure ComputeDiagnosticResourceProviderClient…
  description: The Compute Diagnostic Resource Provider Client
  version: 2024-03-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: spotPlacementRecommender
paths:
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/diagnostics/spotPlacementRecommender/generate
  : post:
      tags:
      - spotPlacementRecommender
      operationId: microsoftAzureSpotplacementrecommenderPost
      description: Generates placement scores for Spot VM skus.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpotPlacementRecommenderResponse'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Returns spot VM placement scores for given configurations.:
          $ref: ./examples/SpotPlacementRecommender.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft Compute…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpotPlacementRecommenderInput'
        description: SpotPlacementRecommender object supplied in the body of the Post spot placement recommender operation.
        required: true
components:
  schemas:
    PlacementScore:
      type: object
      properties:
        sku:
          type: string
          description: The resource's CRP virtual machine SKU size.
        region:
          type: string
          description: The region.
        availabilityZone:
          type: string
          description: The availability region.
        score:
          type: string
          description: The placement score.
        isQuotaAvailable:
          type: boolean
          description: Whether the desired quota is available.
      description: The spot placement score for sku/region/zone combination.
    SpotPlacementRecommenderResponse:
      type: object
      properties:
        desiredLocations:
          type: array
          items:
            type: string
          description: The desired regions
        desiredSizes:
          type: array
          items:
            $ref: '#/components/schemas/ResourceSize'
          description: The desired resource SKUs.
        desiredCount:
          type: integer
          format: int32
          description: Desired instance count per region/zone based on the scope.
        availabilityZones:
          type: boolean
          description: Defines if the scope is zonal or regional.
        placementScores:
          type: array
          items:
            $ref: '#/components/schemas/PlacementScore'
          description: The spot placement scores.
      description: SpotPlacementRecommender API response.
    ResourceSize:
      type: object
      properties:
        sku:
          type: string
          description: The resource's CRP virtual machine SKU size.
      description: SpotPlacementRecommender API response.
    SpotPlacementRecommenderInput:
      type: object
      properties:
        desiredLocations:
          type: array
          items:
            type: string
          description: The desired regions
        desiredSizes:
          type: array
          items:
            $ref: '#/components/schemas/ResourceSize'
          description: The desired resource SKUs.
        desiredCount:
          type: integer
          format: int32
          description: Desired instance count per region/zone based on the scope.
        availabilityZones:
          type: boolean
          description: Defines if the scope is zonal or regional.
      description: SpotPlacementRecommender API Input.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
