openapi: 3.2.0
info:
  version: '2023-06-01'
  title: Microsoft Azure SiteRecoveryManagementClient Migration…
  x-ms-code-generation-settings:
    header: MICROSOFT_MIT_NO_VERSION
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: MigrationRecoveryPoints
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationProtectionContainers/{protectionContainerName}/replicationMigrationItems/{migrationItemName}/migrationRecoveryPoints
  : get:
      tags:
      - MigrationRecoveryPoints
      summary: Microsoft Azure Gets The Recovery Points For A Migration Item
      operationId: microsoftAzureMigrationrecoverypointsListbyreplicationmigrationitems
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Fabric unique name.
        required: true
        schema:
          type: string
      - name: protectionContainerName
        in: path
        description: Protection container name.
        required: true
        schema:
          type: string
      - name: migrationItemName
        in: path
        description: Migration item name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationRecoveryPointCollection'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Gets the recovery points for a migration item.:
          $ref: ./examples/MigrationRecoveryPoints_ListByReplicationMigrationItems.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationProtectionContainers/{protectionContainerName}/replicationMigrationItems/{migrationItemName}/migrationRecoveryPoints/{migrationRecoveryPointName}
  : get:
      tags:
      - MigrationRecoveryPoints
      summary: Microsoft Azure Gets A Recovery Point For A Migration Item
      operationId: microsoftAzureMigrationrecoverypointsGet
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Fabric unique name.
        required: true
        schema:
          type: string
      - name: protectionContainerName
        in: path
        description: Protection container name.
        required: true
        schema:
          type: string
      - name: migrationItemName
        in: path
        description: Migration item name.
        required: true
        schema:
          type: string
      - name: migrationRecoveryPointName
        in: path
        description: The migration recovery point name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationRecoveryPoint'
      x-ms-examples:
        Gets a recovery point for a migration item.:
          $ref: ./examples/MigrationRecoveryPoints_Get.json
      description: Needs a more full description created.
components:
  schemas:
    MigrationRecoveryPointCollection:
      description: Collection of migration recovery points.
      type: object
      properties:
        value:
          description: The migration recovery point details.
          type: array
          items:
            $ref: '#/components/schemas/MigrationRecoveryPoint'
        nextLink:
          description: The value of next link.
          type: string
    MigrationRecoveryPoint:
      description: Recovery point for a migration item.
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/MigrationRecoveryPointProperties'
          description: Recovery point properties.
    Resource:
      description: Azure resource.
      type: object
      properties:
        id:
          description: Resource Id
          type: string
          readOnly: true
        name:
          description: Resource Name
          type: string
          readOnly: true
        type:
          description: Resource Type
          type: string
          readOnly: true
        location:
          description: Resource Location
          type: string
      x-ms-azure-resource: true
    MigrationRecoveryPointProperties:
      description: Migration item recovery point properties.
      type: object
      properties:
        recoveryPointTime:
          format: date-time
          description: The recovery point time.
          type: string
          readOnly: true
        recoveryPointType:
          description: The recovery point type.
          enum:
          - NotSpecified
          - ApplicationConsistent
          - CrashConsistent
          type: string
          readOnly: true
          x-ms-enum:
            name: MigrationRecoveryPointType
            modelAsString: true
  parameters:
    ResourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group where the recovery services vault is present.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    SubscriptionId:
      name: subscriptionId
      in: path
      description: The subscription Id.
      required: true
      schema:
        type: string
    ApiVersion:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
    ResourceName:
      name: resourceName
      in: path
      description: The name of the recovery services vault.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account.
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
