openapi: 3.2.0
info:
  title: Microsoft Azure Workflow Run Actions API
  version: '1.0'
  description: 'Operations tagged WorkflowRunActions across 2 of this provider''s published API definitions: logicmanagementclient-openapi-original.yml, webapps-api-client-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: WorkflowRunActions
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}/actions
  : get:
      tags:
      - WorkflowRunActions
      operationId: microsoftAzureWorkflowrunactionsList
      description: Gets a list of workflow run actions.
      x-ms-examples:
        List a workflow run actions:
          $ref: ./examples/WorkflowRunActions_List.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - name: runName
        description: The workflow run name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      - name: $top
        description: The number of items to be included in the result.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: $filter
        description: 'The filter to apply on the operation. Options for filters include: Status.'
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunActionListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/WorkflowRunActionFilter'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}/actions/{actionName}
  : get:
      tags:
      - WorkflowRunActions
      operationId: microsoftAzureWorkflowrunactionsGet
      description: Gets a workflow run action.
      x-ms-examples:
        Get a workflow run action:
          $ref: ./examples/WorkflowRunActions_Get.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - name: runName
        description: The workflow run name.
        in: path
        required: true
        schema:
          type: string
      - name: actionName
        description: The workflow action name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunAction'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}/actions/{actionName}/listExpressionTraces
  : post:
      tags:
      - WorkflowRunActions
      operationId: microsoftAzureWorkflowrunactionsListexpressiontraces
      description: Lists a workflow run expression trace.
      x-ms-examples:
        List expression traces:
          $ref: ./examples/WorkflowRunActions_ListExpressionTraces.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - name: runName
        description: The workflow run name.
        in: path
        required: true
        schema:
          type: string
      - name: actionName
        description: The workflow action name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressionTraces'
      x-ms-pageable:
        nextLinkName: null
        itemName: inputs
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}/actions/{actionName}/repetitions
  : get:
      tags:
      - WorkflowRunActions
      operationId: microsoftAzureWorkflowrunactionrepetitionsList
      description: Get all of a workflow run action repetitions.
      x-ms-examples:
        List repetitions:
          $ref: ./examples/WorkflowRunActionRepetitions_List.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - name: runName
        description: The workflow run name.
        in: path
        required: true
        schema:
          type: string
      - name: actionName
        description: The workflow action name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunActionRepetitionDefinitionCollection'
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}/actions/{actionName}/repetitions/{repetitionName}
  : get:
      tags:
      - WorkflowRunActions
      operationId: microsoftAzureWorkflowrunactionrepetitionsGet
      description: Get a workflow run action repetition.
      x-ms-examples:
        Get a repetition:
          $ref: ./examples/WorkflowRunActionRepetitions_Get.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - name: runName
        description: The workflow run name.
        in: path
        required: true
        schema:
          type: string
      - name: actionName
        description: The workflow action name.
        in: path
        required: true
        schema:
          type: string
      - name: repetitionName
        description: The workflow repetition.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunActionRepetitionDefinition'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}/actions/{actionName}/repetitions/{repetitionName}/listExpressionTraces
  : post:
      tags:
      - WorkflowRunActions
      operationId: microsoftAzureWorkflowrunactionrepetitionsListexpressiontraces
      description: Lists a workflow run expression trace.
      x-ms-examples:
        List expression traces for a repetition:
          $ref: ./examples/WorkflowRunActionRepetitions_ListExpressionTraces.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - name: runName
        description: The workflow run name.
        in: path
        required: true
        schema:
          type: string
      - name: actionName
        description: The workflow action name.
        in: path
        required: true
        schema:
          type: string
      - name: repetitionName
        description: The workflow repetition.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressionTraces'
      x-ms-pageable:
        nextLinkName: null
        itemName: inputs
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}/actions/{actionName}/repetitions/{repetitionName}/requestHistories
  : get:
      tags:
      - WorkflowRunActions
      operationId: microsoftAzureWorkflowrunactionrepetitionsrequesthistoriesList
      description: List a workflow run repetition request history.
      x-ms-examples:
        List repetition request history:
          $ref: ./examples/WorkflowRunActionRepetitionsRequestHistories_List.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - name: runName
        description: The workflow run name.
        in: path
        required: true
        schema:
          type: string
      - name: actionName
        description: The workflow action name.
        in: path
        required: true
        schema:
          type: string
      - name: repetitionName
        description: The workflow repetition.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestHistoryListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}/actions/{actionName}/repetitions/{repetitionName}/requestHistories/{requestHistoryName}
  : get:
      tags:
      - WorkflowRunActions
      operationId: microsoftAzureWorkflowrunactionrepetitionsrequesthistoriesGet
      description: Gets a workflow run repetition request history.
      x-ms-examples:
        Get a repetition request history:
          $ref: ./examples/WorkflowRunActionRepetitionsRequestHistories_Get.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - name: runName
        description: The workflow run name.
        in: path
        required: true
        schema:
          type: string
      - name: actionName
        description: The workflow action name.
        in: path
        required: true
        schema:
          type: string
      - name: repetitionName
        description: The workflow repetition.
        in: path
        required: true
        schema:
          type: string
      - name: requestHistoryName
        description: The request history name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestHistory'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}/actions/{actionName}/requestHistories
  : get:
      tags:
      - WorkflowRunActions
      operationId: microsoftAzureWorkflowrunactionrequesthistoriesList
      description: List a workflow run request history.
      x-ms-examples:
        List a request history:
          $ref: ./examples/WorkflowRunActionRequestHistories_List.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - name: runName
        description: The workflow run name.
        in: path
        required: true
        schema:
          type: string
      - name: actionName
        description: The workflow action name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestHistoryListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}/actions/{actionName}/requestHistories/{requestHistoryName}
  : get:
      tags:
      - WorkflowRunActions
      operationId: microsoftAzureWorkflowrunactionrequesthistoriesGet
      description: Gets a workflow run request history.
      x-ms-examples:
        Get a request history:
          $ref: ./examples/WorkflowRunActionRequestHistories_Get.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - name: runName
        description: The workflow run name.
        in: path
        required: true
        schema:
          type: string
      - name: actionName
        description: The workflow action name.
        in: path
        required: true
        schema:
          type: string
      - name: requestHistoryName
        description: The request history name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestHistory'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}/actions/{actionName}/scopeRepetitions
  : get:
      tags:
      - WorkflowRunActions
      operationId: microsoftAzureWorkflowrunactionscoperepetitionsList
      description: List the workflow run action scoped repetitions.
      x-ms-examples:
        List the scoped repetitions:
          $ref: ./examples/WorkflowRunActionScopeRepetitions_List.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - name: runName
        description: The workflow run name.
        in: path
        required: true
        schema:
          type: string
      - name: actionName
        description: The workflow action name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunActionRepetitionDefinitionCollection'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}/actions/{actionName}/scopeRepetitions/{repetitionName}
  : get:
      tags:
      - WorkflowRunActions
      operationId: microsoftAzureWorkflowrunactionscoperepetitionsGet
      description: Get a workflow run action scoped repetition.
      x-ms-examples:
        Get a scoped repetition:
          $ref: ./examples/WorkflowRunActionScopeRepetitions_Get.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - name: runName
        description: The workflow run name.
        in: path
        required: true
        schema:
          type: string
      - name: actionName
        description: The workflow action name.
        in: path
        required: true
        schema:
          type: string
      - name: repetitionName
        description: The workflow repetition.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunActionRepetitionDefinition'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/hostruntime/runtime/webhooks/workflow/api/management/workflows/{workflowName}/runs/{runName}/actions
  : get:
      tags:
      - WorkflowRunActions
      operationId: microsoftAzureWorkflowrunactionsList
      description: Gets a list of workflow run actions.
      x-ms-examples:
        List a workflow run actions:
          $ref: ./examples/WorkflowRunActions_List.json
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/siteNameParameter'
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - name: runName
        description: The workflow run name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersionParameter'
      - name: $top
        description: The number of items to be included in the result.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: $filter
        description: 'The filter to apply on the operation. Options for filters include: Status.'
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunActionListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/WorkflowRunActionFilter'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/hostruntime/runtime/webhooks/workflow/api/management/workflows/{workflowName}/runs/{runName}/actions/{actionName}
  : get:
      tags:
      - WorkflowRunActions
      operationId: microsoftAzureWorkflowrunactionsGet
      description: Gets a workflow run action.
      x-ms-examples:
        Get a workflow run action:
          $ref: ./examples/WorkflowRunActions_Get.json
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/siteNameParameter'
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - name: runName
        description: The workflow run name.
        in: path
        required: true
        schema:
          type: string
      - name: actionName
        description: The workflow action name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunAction'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/hostruntime/runtime/webhooks/workflow/api/management/workflows/{workflowName}/runs/{runName}/actions/{actionName}/listExpressionTraces
  : post:
      tags:
      - WorkflowRunActions
      operationId: microsoftAzureWorkflowrunactionsListexpressiontraces
      description: Lists a workflow run expression trace.
      x-ms-examples:
        List expression traces:
          $ref: ./examples/WorkflowRunActions_ListExpressionTraces.json
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/siteNameParameter'
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - name: runName
        description: The workflow run name.
        in: path
        required: true
        schema:
          type: string
      - name: actionName
        description: The workflow action name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressionTraces_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
        itemName: inputs
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/hostruntime/runtime/webhooks/workflow/api/management/workflows/{workflowName}/runs/{runName}/actions/{actionName}/repetitions
  : get:
      tags:
      - WorkflowRunActions
      operationId: microsoftAzureWorkflowrunactionrepetitionsList
      description: Get all of a workflow run action repetitions.
      x-ms-examples:
        List repetitions:
          $ref: ./examples/WorkflowRunActionRepetitions_List.json
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/siteNameParameter'
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - name: runName
        description: The workflow run name.
        in: path
        required: true
        schema:
          type: string
      - name: actionName
        description: The workflow action name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunActionRepetitionDefinitionCollection_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/hostruntime/runtime/webhooks/workflow/api/management/workflows/{workflowName}/runs/{runName}/actions/{actionName}/repetitions/{repetitionName}
  : get:
      tags:
      - WorkflowRunActions
      operationId: microsoftAzureWorkflowrunactionrepetitionsGet
      description: Get a workflow run action repetition.
      x-ms-examples:
        Get a repetition:
          $ref: ./examples/WorkflowRunActionRepetitions_Get.json
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/siteNameParameter'
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - name: runName
        description: The workflow run name.
        in: path
        required: true
        schema:
          type: string
      - name: actionName
        description: The workflow action name.
        in: path
        required: true
        schema:
          type: string
      - name: repetitionName
        description: The workflow repetition.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunActionRepetitionDefinition_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/hostruntime/runtime/webhooks/workflow/api/management/workflows/{workflowName}/runs/{runName}/actions/{actionName}/repetitions/{repetitionName}/listExpressionTraces
  : post:
      tags:
      - WorkflowRunActions
      operationId: microsoftAzureWorkflowrunactionrepetitionsListexpressiontraces
      description: Lists a workflow run expression trace.
      x-ms-examples:
        List expression traces for a repetition:
          $ref: ./examples/WorkflowRunActionRepetitions_ListExpressionTraces.json
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/siteNameParameter'
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - name: runName
        description: The workflow run name.
        in: path
        required: true
        schema:
          type: string
      - name: actionName
        description: The workflow action name.
        in: path
        required: true
        schema:
          type: string
      - name: repetitionName
        description: The workflow repetition.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressionTraces_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
        itemName: inputs
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/hostruntime/runtime/webhooks/workflow/api/management/workflows/{workflowName}/runs/{runName}/actions/{actionName}/repetitions/{repetitionName}/requestHistories
  : get:
      tags:
      - WorkflowRunActions
      operationId: microsoftAzureWorkflowrunactionrepetitionsrequesthistoriesList
      description: List a workflow run repetition request history.
      x-ms-examples:
        List repetition request history:
          $ref: ./examples/WorkflowRunActionRepetitionsRequestHistories_List.json
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/siteNameParameter'
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - name: runName
        description: The workflow run name.
        in: path
        required: true
        schema:
          type: string
      - name: actionName
        description: The workflow action name.
        in: path
        required: true
        schema:
          type: string
      - name: repetitionName
        description: The workflow repetition.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestHistoryListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/hostruntime/runtime/webhooks/workflow/api/management/workflows/{workflowName}/runs/{runName}/actions/{actionName}/repetitions/{repetitionName}/requestHistories/{requestHistoryName}
  : get:
      tags:
      - WorkflowRunActions
      operationId: microsoftAzureWorkflowrunactionrepetitionsrequesthistoriesGet
      description: Gets a workflow run repetition request history.
      x-ms-examples:
        Get a repetition request history:
          $ref: ./examples/WorkflowRunActionRepetitionsRequestHistories_Get.json
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/siteNameParameter'
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - name: runName
        description: The workflow run name.
        in: path
        required: true
        schema:
          type: string
      - name: actionName
        description: The workflow action name.
        in: path
        required: true
        schema:
          type: string
      - name: repetitionName
        description: The workflow repetition.
        in: path
        required: true
        schema:
          type: string
      - name: requestHistoryName
        description: The request history name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestHistory_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/hostruntime/runtime/webhooks/workflow/api/management/workflows/{workflowName}/runs/{runName}/actions/{actionName}/scopeRepetitions
  : get:
      tags:
      - WorkflowRunActions
      operationId: microsoftAzureWorkflowrunactionscoperepetitionsList
      description: List the workflow run action scoped repetitions.
      x-ms-examples:
        List the scoped repetitions:
          $ref: ./examples/WorkflowRunActionScopeRepetitions_List.json
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/siteNameParameter'
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - name: runName
        description: The workflow run name.
        in: path
        required: true
        schema:
          type: string
      - name: actionName
        description: The workflow action name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunActionRepetitionDefinitionCollection_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/hostruntime/runtime/webhooks/workflow/api/management/workflows/{workflowName}/runs/{runName}/actions/{actionName}/scopeRepetitions/{repetitionName}
  : get:
      tags:
      - WorkflowRunActions
      operationId: microsoftAzureWorkflowrunactionscoperepetitionsGet
      description: Get a workflow run action scoped repetition.
      x-ms-examples:
        Get a scoped repetition:
          $ref: ./examples/WorkflowRunActionScopeRepetitions_Get.json
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/siteNameParameter'
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - name: runName
        description: The workflow run name.
        in: path
        required: true
        schema:
          type: string
      - name: actionName
        description: The workflow action name.
        in: path
        required: true
        schema:
          type: string
      - name: repetitionName
        description: The workflow repetition.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunActionRepetitionDefinition_2'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
components:
  schemas:
    RequestHistoryProperties:
      type: object
      additionalProperties: false
      description: The request history.
      properties:
        startTime:
          type: string
          format: date-time
          description: The time the request started.
        endTime:
          type: string
          format: date-time
          description: The time the request ended.
        request:
          $ref: '#/components/schemas/Request'
          description: The request.
        response:
          $ref: '#/components/schemas/Response'
          description: The response.
    Correlation:
      type: object
      properties:
        clientTrackingId:
          type: string
          description: The client tracking id.
      description: The correlation property.
    WorkflowRunAction:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/WorkflowRunActionProperties'
          description: The workflow run action properties.
        name:
          type: string
          readOnly: true
          description: Gets the workflow run action name.
        type:
          type: string
          readOnly: true
          description: Gets the workflow run action type.
      description: The workflow run action.
      allOf:
      - $ref: '#/components/schemas/SubResource'
    RequestHistoryListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/RequestHistory'
          description: A list of workflow request histories.
        nextLink:
          type: string
          description: The URL to get the next set of results.
      description: The list of workflow request histories.
    OperationResultProperties:
      type: object
      x-abstract: true
      description: The run operation result properties.
      additionalProperties: false
      properties:
        startTime:
          type: string
          format: date-time
          description: The start time of the workflow scope repetition.
        endTime:
          type: string
          format: date-time
          description: The end time of the workflow scope repetition.
        correlation:
          $ref: '#/components/schemas/RunActionCorrelation'
          description: The correlation properties.
        status:
          $ref: '#/components/schemas/WorkflowStatus'
          description: The status of the workflow scope repetition.
        code:
          type: string
          description: The workflow scope repetition code.
        error: {}
    ContentLink:
      type: object
      properties:
        uri:
          type: string
          description: The content link URI.
        contentVersion:
          type: string
          description: The content version.
        contentSize:
          type: integer
          format: int64
          description: The content size.
        contentHash:
          $ref: '#/components/schemas/ContentHash'
          description: The content hash.
        metadata:
          $ref: '#/components/schemas/Object'
          description: The metadata.
      description: The content link.
    ContentHash:
      type: object
      properties:
        algorithm:
          type: string
          description: The algorithm of the content hash.
        value:
          type: string
          description: The value of the content hash.
      description: The content hash.
    RunCorrelation:
      type: object
      description: The correlation properties.
      additionalProperties: false
      properties:
        clientTrackingId:
          type: string
          description: The client tracking identifier.
        clientKeywords:
          type: array
          description: The client keywords.
          items:
            type: string
    ExpressionTraces:
      type: object
      properties:
        inputs:
          type: array
          items:
            $ref: '#/components/schemas/ExpressionRoot'
    ErrorInfo:
      type: object
      description: The error info.
      additionalProperties: false
      required:
      - code
      properties:
        code:
          type: string
          description: The error code.
    Response:
      type: object
      additionalProperties: false
      description: A response.
      properties:
        headers:
          $ref: '#/components/schemas/Object'
          description: A list of all the headers attached to the response.
        statusCode:
          type: integer
          format: int32
          description: The status code of the response.
        bodyLink:
          $ref: '#/components/schemas/ContentLink'
          description: Details on the location of the body content.
    RunActionCorrelation:
      type: object
      description: The workflow run action correlation properties.
      additionalProperties: false
      properties:
        actionTrackingId:
          type: string
          description: The action tracking identifier.
      allOf:
      - $ref: '#/components/schemas/RunCorrelation'
    ErrorResponse:
      description: Error response indicates Logic service is not able to process the incoming request. The error property contains the error details.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorProperties'
          description: The error properties.
    OperationResult:
      type: object
      description: The operation result definition.
      additionalProperties: false
      properties:
        trackingId:
          type: string
          readOnly: true
          description: Gets the tracking id.
        inputs:
          $ref: '#/components/schemas/Object'
          readOnly: true
          description: Gets the inputs.
        inputsLink:
          $ref: '#/components/schemas/ContentLink'
          readOnly: true
          description: Gets the link to inputs.
        outputs:
          $ref: '#/components/schemas/Object'
          readOnly: true
          description: Gets the outputs.
        outputsLink:
          $ref: '#/components/schemas/ContentLink'
          readOnly: true
          description: Gets the link to outputs.
        trackedProperties:
          $ref: '#/components/schemas/Object'
          readOnly: true
          description: Gets the tracked properties.
        retryHistory:
          type: array
          items:
            $ref: '#/components/schemas/RetryHistory'
          description: Gets the retry histories.
        iterationCount:
          type: integer
          format: int32
      allOf:
      - $ref: '#/components/schemas/OperationResultProperties'
    ExpressionRoot:
      type: object
      properties:
        path:
          type: string
          description: The path.
      allOf:
      - $ref: '#/components/schemas/Expression'
    WorkflowRunActionProperties:
      type: object
      properties:
        startTime:
          type: string
          format: date-time
          readOnly: true
          description: Gets the start time.
        endTime:
          type: string
          format: date-time
          readOnly: true
          description: Gets the end time.
        status:
          $ref: '#/components/schemas/WorkflowStatus'
          readOnly: true
          description: Gets the status.
        code:
          type: string
          readOnly: true
          description: Gets the code.
        error:
          $ref: '#/components/schemas/Object'
          readOnly: true
          description: Gets the error.
        trackingId:
          type: string
          readOnly: true
          description: Gets the tracking id.
        correlation:
          $ref: '#/components/schemas/Correlation'
          description: The correlation properties.
        inputsLink:
          $ref: '#/components/schemas/ContentLink'
          readOnly: true
          description: Gets the link to inputs.
        outputsLink:
          $ref: '#/components/schemas/ContentLink'
          readOnly: true
          description: Gets the link to outputs.
        trackedProperties:
          $ref: '#/components/schemas/Object'
          readOnly: true
          description: Gets the tracked properties.
        retryHistory:
          type: array
          items:
            $ref: '#/components/schemas/RetryHistory'
          description: Gets the retry histories.
      description: The workflow run action properties.
    RetryHistory:
      type: object
      properties:
        startTime:
          type: string
          format: date-time
          description: Gets the start time.
        endTime:
          type: string
          format: date-time
          description: Gets the end time.
        code:
          type: string
          description: Gets the status code.
        clientRequestId:
          type: string
          description: Gets the client request Id.
        serviceRequestId:
          type: string
          description: Gets the service request Id.
        error:
          $ref: '#/components/schemas/ErrorResponse'
          description: Gets the error response.
      description: The retry history.
    RequestHistory:
      type: object
      additionalProperties: false
      description: The request history.
      properties:
        properties:
          $ref: '#/components/schemas/RequestHistoryProperties'
          description: The request history properties.
      allOf:
      - $ref: '#/components/schemas/Resource'
    WorkflowRunActionRepetitionProperties:
      type: object
      description: The workflow run action repetition properties definition.
      additionalProperties: false
      properties:
        repetitionIndexes:
          type: array
          description: The repetition indexes.
          items:
            $ref: '#/components/schemas/RepetitionIndex'
      allOf:
      - $ref: '#/components/schemas/OperationResult'
    WorkflowRunActionListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowRunAction'
          description: A list of workflow run actions.
        nextLink:
          type: string
          description: The URL to get the next set of results.
      description: The list of workflow run actions.
    Resource:
      properties:
        id:
          type: string
          readOnly: true
          description: The resource id.
        name:
          type: string
          readOnly: true
          description: Gets the resource name.
        type:
          type: string
          readOnly: true
          description: Gets the resource type.
        location:
          type: string
          description: The resource location.
        tags:
          type: object
          additionalProperties:
            type: string
          description: The resource tags.
      x-ms-azure-resource: true
      description: The base resource type.
    Object:
      type: object
      properties: {}
    RepetitionIndex:
      type: object
      description: The workflow run action repetition index.
      additionalProperties: false
      required:
      - itemIndex
      properties:
        scopeName:
          type: string
          description: The scope.
        itemIndex:
          type: integer
          format: int32
          description: The index.
    WorkflowRunActionRepetitionDefinitionCollection:
      type: object
      description: A collection of workflow run action repetitions.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowRunActionRepetitionDefinition'
    WorkflowRunActionRepetitionDefinition:
      type: object
      description: The workflow run action repetition definition.
      additionalProperties: false
      required:
      - properties
      properties:
        properties:
          $ref: '#/components/schemas/WorkflowRunActionRepetitionProperties'
          description: The workflow run action repetition properties definition.
          x-ms-client-flatten: true
      allOf:
      - $ref: '#/components/schemas/Resource'
    SubResource:
      properties:
        id:
          type: string
          readOnly: true
          description: The resource id.
      x-ms-azure-resource: true
      description: The sub resource type.
    AzureResourceErrorInfo:
      type: object
      description: The azure resource error info.
      additionalProperties: false
      required:
      - message
      properties:
        message:
          type: string
          description: The error message.
        details:
          type: array
          items:
            $ref: '#/components/schemas/AzureResourceErrorInfo'
          description: The error details.
      allOf:
      - $ref: '#/components/schemas/ErrorInfo'
    Request:
      type: object
      additionalProperties: false
      description: A request.
      properties:
        headers:
          $ref: '#/components/schemas/Object'
          description: A list of all the headers attached to the request.
        uri:
          type: string
          description: The destination for the request.
        method:
          type: string
          description: The HTTP method used for the request.
    ErrorProperties:
      description: Error properties indicate why the Logic service was not able to process the incoming request. The reason is provided in the error message.
      type: object
      properties:
        code:
          description: Error code.
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
    Expression:
      type: object
      additionalProperties: false
      properties:
        text:
          type: string
        value: {}
        subexpressions:
          type: array
          items:
            $ref: '#/components/schemas/Expression'
        error:
          $ref: '#/components/schemas/AzureResourceErrorInfo'
    WorkflowStatus:
      type: string
      enum:
      - NotSpecified
      - Paused
      - Running
      - Waiting
      - Succeeded
      - Skipped
      - Suspended
      - Cancelled
      - Failed
      - Faulted
      - TimedOut
      - Aborted
      - Ignored
      x-ms-enum:
        name: WorkflowStatus
        modelAsString: true
    ContentLink_2:
      type: object
      properties:
        uri:
          type: string
          description: The content link URI.
        contentVersion:
          type: string
          description: The content version.
          readOnly: true
        contentSize:
          type: integer
          format: int64
          description: The content size.
          readOnly: true
        contentHash:
          $ref: '#/components/schemas/ContentHash'
          description: The content hash.
          readOnly: true
        metadata:
          $ref: '#/components/schemas/Object'
          description: The metadata.
          readOnly: true
      description: The content link.
    WorkflowResource:
      type: object
      properties:
        id:
          type: string
          readOnly: true
          description: The resource id.
        name:
          type: string
          readOnly: true
          description: Gets the resource name.
        type:
          type: string
          readOnly: true
          description: Gets the resource type.
        location:
          type: string
          description: The resource location.
        tags:
          type: object
          additionalProperties:
            type: string
          description: The resource tags.
      x-ms-azure-resource: true
      description: The base resource type.
    ExpressionTraces_2:
      description: The expression traces.
      type: object
      properties:
        value: {}
        inputs:
          type: array
          items:
            $ref: '#/components/schemas/ExpressionRoot_2'
          x-ms-identifiers:
          - path
        nextLink:
          description: The link used to get the next page of recommendations.
          type: string
    OperationResult_2:
      type: object
      description: The operation result definition.
      additionalProperties: false
      properties:
        trackingId:
          type: string
          readOnly: true
          description: Gets the tracking id.
        inputs:
          $ref: '#/components/schemas/Object'
          readOnly: true
          description: Gets the inputs.
        inputsLink:
          $ref: '#/components/schemas/ContentLink_2'
          readOnly: true
          description: Gets the link to inputs.
        outputs:
          $ref: '#/components/schemas/Object'
          readOnly: true
          description: Gets the outputs.
        outputsLink:
          $ref: '#/components/schemas/ContentLink_2'
          readOnly: true
          description: Gets the link to outputs.
        trackedProperties:
          $ref: '#/components/schemas/Object'
          readOnly: true
          description: Gets the tracked properties.
        retryHistory:
          type: array
          items:
            $ref: '#/components/schemas/RetryHistory'
          x-ms-identifiers: []
          description: Gets the retry histories.
        iterationCount:
          type: integer
          format: int32
      allOf:
      - $ref: '#/components/schemas/OperationResultProperties'
    ExpressionRoot_2:
      description: The expression root.
      type: object
      properties:
        path:
          type: string
          description: The path.
      allOf:
      - $ref: '#/components/schemas/Expression_2'
    WorkflowRunActionProperties_2:
      type: object
      properties:
        startTime:
          type: string
          format: date-time
          readOnly: true
          description: Gets the start time.
        endTime:
          type: string
          format: date-time
          readOnly: true
          description: Gets the end time.
        status:
          $ref: '#/components/schemas/WorkflowStatus_2'
          readOnly: true
          description: Gets the status.
        code:
          type: string
          readOnly: true
          description: Gets the code.
        error:
          $ref: '#/components/schemas/Object'
          readOnly: true
          description: Gets the error.
        trackingId:
          type: string
          readOnly: true
          description: Gets the tracking id.
        correlation:
          $ref: '#/components/schemas/RunActionCorrelation'
          description: The correlation properties.
        inputsLink:
          $ref: '#/components/schemas/ContentLink_2'
          readOnly: true
          description: Gets the link to inputs.
        outputsLink:
          $ref: '#/components/schemas/ContentLink_2'
          readOnly: true
          description: Gets the link to outputs.
        trackedProperties:
          $ref: '#/components/schemas/Object'
          readOnly: true
          description: Gets the tracked properties.
        retryHistory:
          type: array
          items:
            $ref: '#/components/schemas/RetryHistory'
          x-ms-identifiers: []
          description: Gets the retry histories.
      description: The workflow run action properties.
    RequestHistory_2:
      type: object
      additionalProperties: false
      description: The request history.
      properties:
        properties:
          $ref: '#/components/schemas/RequestHistoryProperties'
          description: The request history properties.
      allOf:
      - $ref: '#/components/schemas/WorkflowResource'
    WorkflowRunActionRepetitionProperties_2:
      type: object
      description: The workflow run action repetition properties definition.
      additionalProperties: false
      properties:
        repetitionIndexes:
          type: array
          description: The repetition indexes.
          items:
            $ref: '#/components/schemas/RepetitionIndex'
          x-ms-identifiers:
          - itemIndex
      allOf:
      - $ref: '#/components/schemas/OperationResult_2'
    WorkflowRunActionRepetitionDefinitionCollection_2:
      type: object
      description: A collection of workflow run action repetitions.
      properties:
        nextLink:
          description: The link used to get the next page of recommendations.
          type: string
        value:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowRunActionRepetitionDefinition_2'
    WorkflowRunActionRepetitionDefinition_2:
      type: object
      description: The workflow run action repetition definition.
      additionalProperties: false
      required:
      - properties
      properties:
        properties:
          $ref: '#/components/schemas/WorkflowRunActionRepetitionProperties_2'
          description: The workflow run action repetition properties definition.
          x-ms-client-flatten: true
      allOf:
      - $ref: '#/components/schemas/WorkflowResource'
    SubResource_2:
      type: object
      properties:
        id:
          type: string
          readOnly: true
          description: The resource id.
      x-ms-azure-resource: true
      description: The sub resource type.
    AzureResourceErrorInfo_2:
      type: object
      description: The azure resource error info.
      additionalProperties: false
      required:
      - message
      properties:
        message:
          type: string
          description: The error message.
        details:
          type: array
          items:
            $ref: '#/components/schemas/AzureResourceErrorInfo_2'
          x-ms-identifiers:
          - code
          description: The error details.
      allOf:
      - $ref: '#/components/schemas/ErrorInfo'
    Expression_2:
      description: The expression.
      type: object
      additionalProperties: false
      properties:
        text:
          description: The text.
          type: string
        value: {}
        subexpressions:
          type: array
          description: The sub expressions.
          items:
            $ref: '#/components/schemas/Expression_2'
          x-ms-identifiers: []
        error:
          $ref: '#/components/schemas/AzureResourceErrorInfo_2'
    WorkflowStatus_2:
      type: string
      description: The workflow status.
      enum:
      - NotSpecified
      - Paused
      - Running
      - Waiting
      - Succeeded
      - Skipped
      - Suspended
      - Cancelled
      - Failed
      - Faulted
      - TimedOut
      - Aborted
      - Ignored
      x-ms-enum:
        name: WorkflowStatus
        modelAsString: true
  parameters:
    api-version:
      name: api-version
      description: The API version.
      in: query
      required: true
      schema:
        type: string
    subscriptionId:
      name: subscriptionId
      description: The subscription id.
      in: path
      required: true
      schema:
        type: string
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: Name of the resource group to which the resource belongs.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
        pattern: ^[-\w\._\(\)]+[^\.]$
    apiVersionParameter:
      name: api-version
      in: query
      description: API Version
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    siteNameParameter:
      name: name
      in: path
      description: Site name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-refined-from:
- logicmanagementclient-openapi-original.yml
- webapps-api-client-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
