openapi: 3.2.0
info:
  title: Microsoft Azure MySQLManagementClient Location Based…
  description: The Microsoft Azure management API provides create, read, update, and delete functionality for Azure MySQL resources including servers, databases, firewall rules and configurations.
  version: 2023-06-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: LocationBasedCapability
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.DBforMySQL/locations/{locationName}/capabilitySets:
    get:
      tags:
      - LocationBasedCapability
      operationId: microsoftAzureLocationbasedcapabilitysetList
      x-ms-examples:
        CapabilitySetsResult:
          $ref: ./examples/CapabilitySetListByLocation.json
      description: Get capabilities at specified location in a given subscription.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common-types/v1/common-types.json#/parameters/LocationNameParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapabilitySetsList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Dbformysql…
  /subscriptions/{subscriptionId}/providers/Microsoft.DBforMySQL/locations/{locationName}/capabilitySets/{capabilitySetName}:
    get:
      tags:
      - LocationBasedCapability
      operationId: microsoftAzureLocationbasedcapabilitysetGet
      x-ms-examples:
        CapabilityResult:
          $ref: ./examples/CapabilitySetByLocation.json
      description: Get capabilities at specified location in a given subscription.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common-types/v1/common-types.json#/parameters/LocationNameParameter
      - name: capabilitySetName
        in: path
        required: true
        description: Name of capability set
        schema:
          type: string
          default: default
          pattern: ^[a-z0-9][-a-z0-9]*(?<!-)$
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Capability'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Dbformysql…
components:
  schemas:
    Capability:
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/CapabilityPropertiesV2'
          x-ms-client-flatten: true
          description: The properties of a location capability set.
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
      description: Represents a location capability set.
    SkuCapabilityV2:
      type: object
      properties:
        name:
          type: string
          description: vCore name
          readOnly: true
        vCores:
          type: integer
          format: int64
          description: supported vCores
          readOnly: true
        supportedIops:
          type: integer
          format: int64
          description: supported IOPS
          readOnly: true
        supportedMemoryPerVCoreMB:
          type: integer
          format: int64
          description: supported memory per vCore in MB
          readOnly: true
        supportedZones:
          type: array
          items:
            type: string
          description: Supported zones
          readOnly: true
        supportedHAMode:
          type: array
          items:
            type: string
          description: Supported high availability mode
          readOnly: true
      description: Sku capability
    StorageEditionCapability:
      type: object
      properties:
        name:
          type: string
          description: storage edition name
          readOnly: true
        minStorageSize:
          type: integer
          format: int64
          description: The minimal supported storage size.
          readOnly: true
        maxStorageSize:
          type: integer
          format: int64
          description: The maximum supported storage size.
          readOnly: true
        minBackupRetentionDays:
          type: integer
          format: int64
          description: Minimal backup retention days
          readOnly: true
        maxBackupRetentionDays:
          type: integer
          format: int64
          description: Maximum backup retention days
          readOnly: true
      description: storage edition capability
    CapabilitySetsList:
      type: object
      properties:
        value:
          description: A list of supported capability sets.
          type: array
          items:
            $ref: '#/components/schemas/Capability'
          x-ms-identifiers: []
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
      description: location capability set
    CapabilityPropertiesV2:
      type: object
      properties:
        supportedGeoBackupRegions:
          type: array
          items:
            type: string
          description: supported geo backup regions
          readOnly: true
        supportedFlexibleServerEditions:
          description: A list of supported flexible server editions.
          type: array
          items:
            $ref: '#/components/schemas/ServerEditionCapabilityV2'
          x-ms-identifiers: []
          readOnly: true
        supportedServerVersions:
          description: A list of supported server versions.
          type: array
          items:
            $ref: '#/components/schemas/ServerVersionCapabilityV2'
          x-ms-identifiers: []
          readOnly: true
      description: Location capability.
    ServerEditionCapabilityV2:
      type: object
      properties:
        name:
          type: string
          description: Server edition name
          readOnly: true
        defaultSku:
          type: string
          description: Default Sku name
          readOnly: true
        defaultStorageSize:
          type: integer
          format: int32
          description: Default storage size
          readOnly: true
        supportedStorageEditions:
          description: A list of supported storage editions
          type: array
          items:
            $ref: '#/components/schemas/StorageEditionCapability'
          x-ms-identifiers: []
          readOnly: true
        supportedSkus:
          description: A list of supported Skus
          type: array
          items:
            $ref: '#/components/schemas/SkuCapabilityV2'
          x-ms-identifiers: []
          readOnly: true
      description: Server edition capabilities.
    ServerVersionCapabilityV2:
      type: object
      properties:
        name:
          type: string
          description: server version
          readOnly: true
      description: Server version capabilities.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
