openapi: 3.2.0
info:
  version: '2023-06-01'
  title: Microsoft Azure SiteRecoveryManagementClient Target Compute…
  x-ms-code-generation-settings:
    header: MICROSOFT_MIT_NO_VERSION
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: TargetComputeSizes
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationProtectionContainers/{protectionContainerName}/replicationProtectedItems/{replicatedProtectedItemName}/targetComputeSizes
  : get:
      tags:
      - TargetComputeSizes
      summary: Microsoft Azure Gets The List Of Target Compute Sizes For The Replication…
      description: Lists the available target compute sizes for a replication protected item.
      operationId: microsoftAzureTargetcomputesizesListbyreplicationprotecteditems
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Fabric name.
        required: true
        schema:
          type: string
      - name: protectionContainerName
        in: path
        description: protection container name.
        required: true
        schema:
          type: string
      - name: replicatedProtectedItemName
        in: path
        description: Replication protected item name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetComputeSizeCollection'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Gets the list of target compute sizes for the replication protected item.:
          $ref: ./examples/TargetComputeSizes_ListByReplicationProtectedItems.json
components:
  schemas:
    TargetComputeSizeProperties:
      description: Represents applicable recovery vm sizes properties.
      type: object
      properties:
        name:
          description: Target compute size name.
          type: string
        friendlyName:
          description: Target compute size display name.
          type: string
        cpuCoresCount:
          format: int32
          description: The maximum cpu cores count supported by target compute size.
          type: integer
        vCPUsAvailable:
          format: int32
          description: The Available vCPUs supported by target compute size.
          type: integer
          readOnly: true
        memoryInGB:
          format: double
          description: The maximum memory in GB supported by target compute size.
          type: number
        maxDataDiskCount:
          format: int32
          description: The maximum data disks count supported by target compute size.
          type: integer
        maxNicsCount:
          format: int32
          description: The maximum Nics count supported by target compute size.
          type: integer
        errors:
          description: The reasons why the target compute size is not applicable for the protected item.
          type: array
          items:
            $ref: '#/components/schemas/ComputeSizeErrorDetails'
        highIopsSupported:
          description: The value indicating whether the target compute size supports high Iops.
          type: string
        hyperVGenerations:
          description: The supported HyperV Generations.
          type: array
          items:
            type: string
    TargetComputeSizeCollection:
      description: Target compute size collection.
      type: object
      properties:
        value:
          description: The list of target compute sizes.
          type: array
          items:
            $ref: '#/components/schemas/TargetComputeSize'
        nextLink:
          description: The value of next link.
          type: string
    TargetComputeSize:
      description: Represents applicable recovery vm sizes.
      type: object
      properties:
        id:
          description: The Id.
          type: string
        name:
          description: The name.
          type: string
        type:
          description: The Type of the object.
          type: string
        properties:
          $ref: '#/components/schemas/TargetComputeSizeProperties'
          description: The custom data.
    ComputeSizeErrorDetails:
      description: Represents the error used to indicate why the target compute size is not applicable.
      type: object
      properties:
        message:
          description: The error message.
          type: string
        severity:
          description: The severity of the error.
          type: string
  parameters:
    ResourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group where the recovery services vault is present.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    SubscriptionId:
      name: subscriptionId
      in: path
      description: The subscription Id.
      required: true
      schema:
        type: string
    ResourceName:
      name: resourceName
      in: path
      description: The name of the recovery services vault.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    ApiVersion:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account.
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
