openapi: 3.2.0
info:
  title: Microsoft Azure Azure Fluid Relay Fluid Relay Operations API
  version: 2021-08-30-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: FluidRelayOperations
paths:
  /providers/Microsoft.FluidRelay/operations:
    get:
      tags:
      - FluidRelayOperations
      summary: Microsoft Azure List All Operations Provided By Microsoft Fluidrelay
      operationId: microsoftAzureFluidrelayoperationsList
      x-ms-examples:
        List Fluid Relay server operations:
          $ref: ./examples/FluidRelayServerOperations.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Operation completed synchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
        default:
          description: Error in operation.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      description: Needs a more full description created.
components:
  schemas:
    OperationResult:
      description: A FluidRelay REST API operation.
      type: object
      properties:
        name:
          description: 'Operation name: {provider}/{resource}/{operation}'
          type: string
        display:
          description: The object that represents the operation.
          $ref: '#/components/schemas/OperationDisplay'
        isDataAction:
          description: Indicates whether the operation is a data action
          type: boolean
    OperationListResult:
      description: Result of GET request to list FluidRelay operations.
      type: object
      properties:
        value:
          description: List of FluidRelay operations supported by the Microsoft.FluidRelay provider.
          type: array
          items:
            $ref: '#/components/schemas/OperationResult'
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          type: string
    OperationDisplay:
      description: The object that represents the operation.
      type: object
      properties:
        provider:
          description: 'Service provider: Microsoft.FluidRelay'
          type: string
        resource:
          description: Type on which the operation is performed, e.g., 'servers'.
          type: string
        operation:
          description: Operation type, e.g., read, write, delete, etc.
          type: string
        description:
          description: Description of the operation, e.g., 'Write confluent'.
          type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
