openapi: 3.2.0
info:
  title: Microsoft Azure Azure SQL Database Replication Links API
  description: Provides read, delete, and failover functionality for Azure SQL Database replication links.
  version: '2014-04-01'
servers:
- url: https://management.azure.com
tags:
- name: DatabaseReplicationLinks
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/replicationLinks/{linkId}
  : delete:
      tags:
      - DatabaseReplicationLinks
      operationId: microsoftAzureReplicationlinksDelete
      description: Deletes a database replication link. Cannot be done during failover.
      x-ms-examples:
        Delete a replication link:
          $ref: ./examples/ReplicationLinkDelete.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/components/parameters/ServerNameParameter'
      - name: databaseName
        in: path
        required: true
        description: The name of the database that has the replication link to be dropped.
        schema:
          type: string
      - name: linkId
        in: path
        required: true
        description: The ID of the replication link to be deleted.
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: NoContent
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    get:
      tags:
      - DatabaseReplicationLinks
      operationId: microsoftAzureReplicationlinksGet
      description: Gets a database replication link.
      x-ms-examples:
        Get a replication link:
          $ref: ./examples/ReplicationLinkGet.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/components/parameters/ServerNameParameter'
      - name: databaseName
        in: path
        required: true
        description: The name of the database to get the link for.
        schema:
          type: string
      - name: linkId
        in: path
        required: true
        description: The replication link ID to be retrieved.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplicationLink'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/replicationLinks/{linkId}/failover
  : post:
      tags:
      - DatabaseReplicationLinks
      operationId: microsoftAzureReplicationlinksFailover
      description: Sets which replica database is primary by failing over from the current primary replica database.
      x-ms-examples:
        Failover a replication link:
          $ref: ./examples/ReplicationLinkFailover.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/components/parameters/ServerNameParameter'
      - name: databaseName
        in: path
        required: true
        description: The name of the database that has the replication link to be failed over.
        schema:
          type: string
      - name: linkId
        in: path
        required: true
        description: The ID of the replication link to be failed over.
        schema:
          type: string
      responses:
        '202':
          description: Accepted
        '204':
          description: No Content
      x-ms-long-running-operation: true
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/replicationLinks/{linkId}/forceFailoverAllowDataLoss
  : post:
      tags:
      - DatabaseReplicationLinks
      operationId: microsoftAzureReplicationlinksFailoverallowdataloss
      description: Sets which replica database is primary by failing over from the current primary replica database. This operation might result in data loss.
      x-ms-examples:
        Failover a replication link:
          $ref: ./examples/ReplicationLinkFailover.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/components/parameters/ServerNameParameter'
      - name: databaseName
        in: path
        required: true
        description: The name of the database that has the replication link to be failed over.
        schema:
          type: string
      - name: linkId
        in: path
        required: true
        description: The ID of the replication link to be failed over.
        schema:
          type: string
      responses:
        '202':
          description: Accepted
        '204':
          description: No Content
      x-ms-long-running-operation: true
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/replicationLinks/{linkId}/unlink
  : post:
      tags:
      - DatabaseReplicationLinks
      operationId: microsoftAzureReplicationlinksUnlink
      description: Deletes a database replication link in forced or friendly way.
      x-ms-examples:
        Delete replication link:
          $ref: ./examples/ReplicationLinkUnlink.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/components/parameters/ServerNameParameter'
      - name: databaseName
        in: path
        required: true
        description: The name of the database that has the replication link to be failed over.
        schema:
          type: string
      - name: linkId
        in: path
        required: true
        description: The ID of the replication link to be failed over.
        schema:
          type: string
      responses:
        '202':
          description: Accepted
        '204':
          description: No Content
      x-ms-long-running-operation: true
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnlinkParameters'
        description: The required parameters for unlinking replication link.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/replicationLinks
  : get:
      tags:
      - DatabaseReplicationLinks
      operationId: microsoftAzureReplicationlinksListbydatabase
      description: Lists a database's replication links.
      x-ms-examples:
        List Replication links:
          $ref: ./examples/ReplicationLinkList.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/components/parameters/ServerNameParameter'
      - name: databaseName
        in: path
        required: true
        description: The name of the database to retrieve links for.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplicationLinkListResult'
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    UnlinkParameters:
      properties:
        forcedTermination:
          type: boolean
          description: Determines whether link will be terminated in a forced or a friendly way.
      description: Represents the parameters for Unlink Replication Link request.
    ReplicationLink:
      properties:
        location:
          type: string
          description: Location of the server that contains this firewall rule.
          readOnly: true
        type:
          type: string
          description: Type of resource this is.
          readOnly: true
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ReplicationLinkProperties'
          description: The properties representing the resource.
      allOf:
      - $ref: ../../../common/v1/types.json#/definitions/ProxyResource
      description: Represents a database replication link.
    ReplicationLinkListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ReplicationLink'
          description: The list of database replication links housed in the database.
      description: Represents the response to a List database replication link request.
    ReplicationLinkProperties:
      properties:
        isTerminationAllowed:
          readOnly: true
          type: boolean
          description: Legacy value indicating whether termination is allowed.  Currently always returns true.
        replicationMode:
          readOnly: true
          type: string
          description: Replication mode of this replication link.
        partnerServer:
          readOnly: true
          type: string
          description: The name of the server hosting the partner database.
        partnerDatabase:
          readOnly: true
          type: string
          description: The name of the partner database.
        partnerLocation:
          readOnly: true
          type: string
          description: The Azure Region of the partner database.
        role:
          readOnly: true
          type: string
          description: The role of the database in the replication link.
          enum:
          - Primary
          - Secondary
          - NonReadableSecondary
          - Source
          - Copy
          x-ms-enum:
            name: ReplicationRole
        partnerRole:
          readOnly: true
          type: string
          description: The role of the partner database in the replication link.
          enum:
          - Primary
          - Secondary
          - NonReadableSecondary
          - Source
          - Copy
          x-ms-enum:
            name: ReplicationRole
        startTime:
          readOnly: true
          type: string
          format: date-time
          description: The start time for the replication link.
        percentComplete:
          readOnly: true
          type: integer
          format: int32
          description: The percentage of seeding complete for the replication link.
        replicationState:
          readOnly: true
          type: string
          description: The replication state for the replication link.
          enum:
          - PENDING
          - SEEDING
          - CATCH_UP
          - SUSPENDED
          x-ms-enum:
            name: ReplicationState
            modelAsString: true
      description: Represents the properties of a database replication link.
  parameters:
    ServerNameParameter:
      name: serverName
      in: path
      required: true
      description: The name of the server.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
