openapi: 3.2.0
info:
  version: 2023-11-01-preview
  title: Microsoft Azure Desktop Virtualization API Client App…
servers:
- url: https://management.azure.com
tags:
- name: AppAttachPackage
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/appAttachPackages/{appAttachPackageName}
  : get:
      tags:
      - AppAttachPackage
      operationId: microsoftAzureAppattachpackageGet
      description: Get an app attach package.
      x-ms-examples:
        AppAttachPackage_Get:
          $ref: ./examples/AppAttachPackage_Get.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AppAttachPackageNameParameter'
      responses:
        '200':
          description: Successfully retrieved App Attach Package.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppAttachPackage'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - AppAttachPackage
      operationId: microsoftAzureAppattachpackageCreateorupdate
      description: Create or update an App Attach package.
      x-ms-examples:
        AppAttachPackage_Create:
          $ref: ./examples/AppAttachPackage_Create.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AppAttachPackageNameParameter'
      responses:
        '200':
          description: Successfully updated App Attach Package.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppAttachPackage'
        '201':
          description: Successfully created App Attach Package.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppAttachPackage'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppAttachPackage'
        description: Object containing App Attach Package definitions.
        required: true
    delete:
      tags:
      - AppAttachPackage
      operationId: microsoftAzureAppattachpackageDelete
      description: Remove an App Attach Package.
      x-ms-examples:
        AppAttachPackage_Delete:
          $ref: ./examples/AppAttachPackage_Delete.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AppAttachPackageNameParameter'
      - name: force
        in: query
        required: false
        description: Force flag to delete App Attach package.
        schema:
          type: boolean
      responses:
        '200':
          description: Successfully deleted App Attach Package.
        '204':
          description: App Attach Package does not exist.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    patch:
      tags:
      - AppAttachPackage
      operationId: microsoftAzureAppattachpackageUpdate
      description: Update an App Attach Package
      x-ms-examples:
        AppAttachPackage_Update:
          $ref: ./examples/AppAttachPackage_Update.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/AppAttachPackageNameParameter'
      responses:
        '200':
          description: Successfully updated App Attach Package.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppAttachPackage'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppAttachPackagePatch'
        description: Object containing App Attach Package definition.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/appAttachPackages
  : get:
      tags:
      - AppAttachPackage
      operationId: microsoftAzureAppattachpackageListbyresourcegroup
      description: List App Attach packages in resource group.
      x-ms-examples:
        AppAttachPackage_ListByResourceGroup:
          $ref: ./examples/AppAttachPackage_ListByResourceGroup.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: $filter
        in: query
        required: false
        description: OData filter expression. Valid properties for filtering are package name and host pool.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved App Attach Packages in resource group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppAttachPackageList'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/providers/Microsoft.DesktopVirtualization/appAttachPackages:
    get:
      tags:
      - AppAttachPackage
      operationId: microsoftAzureAppattachpackageListbysubscription
      description: List App Attach packages in subscription.
      x-ms-examples:
        AppAttachPackage_ListBySubscription:
          $ref: ./examples/AppAttachPackage_ListBySubscription.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - name: $filter
        in: query
        required: false
        description: OData filter expression. Valid properties for filtering are package name, host pool, and resource group.
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved App Attach Packages in subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppAttachPackageList'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
components:
  schemas:
    AppAttachPackagePatch:
      description: Schema for patchable App Attach Package properties.
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/Resource
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: tags to be updated
        properties:
          description: Detailed properties for App Attach Package
          $ref: '#/components/schemas/AppAttachPackagePatchProperties'
          x-ms-client-flatten: false
    AppAttachPackagePatchProperties:
      description: Schema for patchable fields on an App Attach Package.
      type: object
      properties:
        image:
          description: Detailed properties for App Attach Package
          $ref: '#/components/schemas/AppAttachPackageInfoProperties'
        hostPoolReferences:
          type: array
          description: List of Hostpool resource Ids.
          items:
            type: string
        keyVaultURL:
          type: string
          description: URL of keyvault location to store certificate
        failHealthCheckOnStagingFailure:
          $ref: '#/components/schemas/FailHealthCheckOnStagingFailureEnum'
          description: Parameter indicating how the health check should behave if this package fails staging
    ProvisioningState:
      type: string
      readOnly: true
      description: The current provisioning state.
      enum:
      - Succeeded
      - Provisioning
      - Failed
      - Canceled
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    AppAttachPackageInfoProperties:
      description: Schema for Import Package Information properties.
      type: object
      properties:
        packageAlias:
          type: string
          description: Alias of App Attach Package. Assigned at import time
        imagePath:
          type: string
          description: VHD/CIM image path on Network Share.
        packageName:
          type: string
          description: 'Package Name from appxmanifest.xml. '
        packageFamilyName:
          type: string
          description: 'Package Family Name from appxmanifest.xml. Contains Package Name and Publisher name. '
        packageFullName:
          type: string
          description: 'Package Full Name from appxmanifest.xml. '
        displayName:
          type:
          - string
          - 'null'
          description: 'User friendly Name to be displayed in the portal. '
        packageRelativePath:
          type: string
          description: 'Relative Path to the package inside the image. '
        isRegularRegistration:
          type: boolean
          description: Specifies how to register Package in feed.
        isActive:
          type: boolean
          description: 'Make this version of the package the active one across the hostpool. '
        packageDependencies:
          type:
          - array
          - 'null'
          description: 'List of package dependencies. '
          items:
            $ref: '#/components/schemas/MsixPackageDependencies'
          x-ms-identifiers: []
        version:
          type: string
          description: 'Package Version found in the appxmanifest.xml. '
        lastUpdated:
          format: date-time
          type: string
          description: 'Date Package was last updated, found in the appxmanifest.xml. '
        packageApplications:
          type: array
          description: 'List of package applications. '
          items:
            $ref: '#/components/schemas/MsixPackageApplications'
          x-ms-identifiers: []
        certificateName:
          type:
          - string
          - 'null'
          description: 'Certificate name found in the appxmanifest.xml. '
        certificateExpiry:
          format: date-time
          type:
          - string
          - 'null'
          description: 'Date certificate expires, found in the appxmanifest.xml. '
        isPackageTimestamped:
          enum:
          - Timestamped
          - NotTimestamped
          x-ms-enum:
            name: packageTimestamped
            modelAsString: true
          type:
          - string
          - 'null'
          description: Is package timestamped so it can ignore the certificate expiry date
    AppAttachPackageProperties:
      description: Schema for App Attach Package properties.
      type: object
      properties:
        provisioningState:
          readOnly: true
          $ref: '#/components/schemas/ProvisioningState'
          description: The provisioning state of the App Attach Package.
        image:
          description: Detailed properties for App Attach Package
          $ref: '#/components/schemas/AppAttachPackageInfoProperties'
        hostPoolReferences:
          type: array
          description: List of Hostpool resource Ids.
          items:
            type: string
        keyVaultURL:
          type: string
          description: URL of keyvault location to store certificate
        failHealthCheckOnStagingFailure:
          $ref: '#/components/schemas/FailHealthCheckOnStagingFailureEnum'
          description: Parameter indicating how the health check should behave if this package fails staging
    AppAttachPackageList:
      type: object
      title: AppAttachPackageList
      description: List of App Attach Package definitions.
      properties:
        value:
          type: array
          description: List of App Attach Package definitions.
          items:
            $ref: '#/components/schemas/AppAttachPackage'
        nextLink:
          type: string
          readOnly: true
          description: Link to the next page of results.
    MsixPackageApplications:
      description: Schema for MSIX Package Application properties.
      type: object
      properties:
        appId:
          type: string
          description: Package Application Id, found in appxmanifest.xml.
        description:
          type: string
          description: Description of Package Application.
        appUserModelID:
          type: string
          description: Used to activate Package Application. Consists of Package Name and ApplicationID. Found in appxmanifest.xml.
        friendlyName:
          type: string
          description: User friendly name.
        iconImageName:
          type: string
          description: User friendly name.
        rawIcon:
          type: string
          format: byte
          description: the icon a 64 bit string as a byte array.
        rawPng:
          type: string
          format: byte
          description: the icon a 64 bit string as a byte array.
    AppAttachPackage:
      description: Schema for App Attach Package properties.
      type: object
      x-ms-client-flatten: false
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource
      required:
      - properties
      properties:
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: Metadata pertaining to creation and last modification of the resource.
        properties:
          description: Detailed properties for App Attach Package
          $ref: '#/components/schemas/AppAttachPackageProperties'
    FailHealthCheckOnStagingFailureEnum:
      enum:
      - Unhealthy
      - NeedsAssistance
      - DoNotFail
      x-ms-enum:
        name: failHealthCheckOnStagingFailure
        modelAsString: true
      type: string
      description: Parameter indicating how the health check should behave if this package fails staging
    MsixPackageDependencies:
      description: Schema for MSIX Package Dependencies properties.
      type: object
      properties:
        dependencyName:
          type: string
          description: Name of package dependency.
        publisher:
          type: string
          description: Name of dependency publisher.
        minVersion:
          type: string
          description: Dependency version required.
  parameters:
    AppAttachPackageNameParameter:
      name: appAttachPackageName
      in: path
      required: true
      description: The name of the App Attach package arm object
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 100
        minLength: 3
        pattern: ^[a-z0-9]([a-z0-9]|(-(?!-))){1,61}[a-z0-9]$
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
