openapi: 3.2.0
info:
  title: Microsoft Azure DeploymentScriptsClient Deployment Scripts…
  description: The APIs listed in this specification can be used to manage Deployment Scripts resource through the Azure Resource Manager.
  version: 2019-10-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: DeploymentScripts
paths:
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deploymentScripts/{scriptName}
  : put:
      tags:
      - DeploymentScripts
      operationId: microsoftAzureDeploymentscriptsCreate
      x-ms-long-running-operation: true
      description: Creates a deployment script.
      x-ms-examples:
        DeploymentScriptsCreate:
          $ref: ./examples/DeploymentScripts_Create.json
        DeploymentScriptsCreate_MinCreate:
          $ref: ./examples/DeploymentScripts_Min_Create.json
        DeploymentScriptsCreate_UsingCustomACIName:
          $ref: ./examples/DeploymentScripts_Create_Using_Custom_Aci_Name.json
        DeploymentScriptsCreate_UsingExistingStorageAccount:
          $ref: ./examples/DeploymentScripts_Create_Using_Existing_StorageAccount.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ScriptNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK -- Deployment script is updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentScript'
        '201':
          description: Created -- Deployment script created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentScript'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentScriptsError'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentScript'
        description: Deployment script supplied to the operation.
        required: true
    patch:
      tags:
      - DeploymentScripts
      operationId: microsoftAzureDeploymentscriptsUpdate
      description: Updates deployment script tags with specified values.
      x-ms-examples:
        DeploymentScriptsUpdate:
          $ref: ./examples/DeploymentScripts_Update.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ScriptNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK -- Deployment script tags are updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentScript'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentScriptsError'
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentScriptUpdateParameter'
        description: Deployment script resource with the tags to be updated.
    get:
      tags:
      - DeploymentScripts
      operationId: microsoftAzureDeploymentscriptsGet
      description: Gets a deployment script with a given name.
      x-ms-examples:
        DeploymentScriptsGet:
          $ref: ./examples/DeploymentScripts_Get.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ScriptNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK -- Returns information about the deployment script.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentScript'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentScriptsError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    delete:
      tags:
      - DeploymentScripts
      operationId: microsoftAzureDeploymentscriptsDelete
      description: Deletes a deployment script. When operation completes, status code 200 returned without content.
      x-ms-examples:
        DeploymentScriptsDelete:
          $ref: ./examples/DeploymentScripts_Delete.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ScriptNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK -- Deployment script deleted.
        '204':
          description: Deployment script does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentScriptsError'
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/providers/Microsoft.Resources/deploymentScripts:
    get:
      tags:
      - DeploymentScripts
      operationId: microsoftAzureDeploymentscriptsListbysubscription
      description: Lists all deployment scripts for a given subscription.
      x-ms-examples:
        DeploymentScriptsListBySubscription:
          $ref: ./examples/DeploymentScripts_ListBySubscription.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK -- Returns a list of deployment scripts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentScriptListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentScriptsError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Resources…
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deploymentScripts/{scriptName}/logs
  : get:
      tags:
      - DeploymentScripts
      operationId: microsoftAzureDeploymentscriptsGetlogs
      description: Gets deployment script logs for a given deployment script name.
      x-ms-examples:
        DeploymentScriptsGetLogs:
          $ref: ./examples/DeploymentScripts_GetLogs.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ScriptNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK -- Returns deployment script logs if available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScriptLogsList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentScriptsError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deploymentScripts/{scriptName}/logs/default
  : get:
      tags:
      - DeploymentScripts
      operationId: microsoftAzureDeploymentscriptsGetlogsdefault
      description: Gets deployment script logs for a given deployment script name.
      x-ms-examples:
        DeploymentScriptsGetLogs:
          $ref: ./examples/DeploymentScripts_GetLogsDefault.json
        DeploymentScriptsGetLogsWithTail:
          $ref: ./examples/DeploymentScripts_GetLogsDefaultWithTail.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ScriptNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: tail
        in: query
        description: The number of lines to show from the tail of the deployment script log. Valid value is a positive number up to 1000. If 'tail' is not provided, all available logs are shown up to container instance log capacity of 4mb.
        schema:
          type: integer
      responses:
        '200':
          description: OK -- Returns deployment script logs if available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScriptLog'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentScriptsError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deploymentScripts:
    get:
      tags:
      - DeploymentScripts
      operationId: microsoftAzureDeploymentscriptsListbyresourcegroup
      description: Lists deployments scripts.
      x-ms-examples:
        DeploymentScriptsList:
          $ref: ./examples/DeploymentScripts_ListByResourceGroup.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK -- Returns a list of deployment scripts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentScriptListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentScriptsError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    UserAssignedIdentity:
      type: object
      description: User-assigned managed identity.
      properties:
        principalId:
          readOnly: true
          type: string
          description: Azure Active Directory principal ID associated with this identity.
        clientId:
          readOnly: true
          type: string
          description: Client App Id associated with this identity.
    DeploymentScriptsError:
      properties:
        error:
          $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse
      description: Deployment scripts error response.
    AzureResourceBase:
      x-ms-azure-resource: true
      type: object
      description: Common properties for all Azure resources.
      properties:
        id:
          readOnly: true
          type: string
          description: String Id used to locate any resource on Azure.
        name:
          readOnly: true
          type: string
          description: Name of this resource.
        type:
          readOnly: true
          type: string
          description: Type of this resource.
    DeploymentScriptListResult:
      description: List of deployment scripts.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/DeploymentScript'
          description: An array of deployment scripts.
        nextLink:
          readOnly: true
          type: string
          description: The URL to use for getting the next set of results.
    ScriptLog:
      type: object
      description: Script execution log object.
      properties:
        properties:
          $ref: '#/components/schemas/LogProperties'
          x-ms-client-flatten: true
      allOf:
      - $ref: '#/components/schemas/AzureResourceBase'
    DeploymentScript:
      required:
      - identity
      - location
      - kind
      type: object
      description: Deployment script object.
      discriminator:
        propertyName: kind
      properties:
        identity:
          description: Managed identity to be used for this deployment script. Currently, only user-assigned MSI is supported.
          $ref: '#/components/schemas/ManagedServiceIdentity'
        location:
          type: string
          x-ms-mutability:
          - read
          - create
          description: The location of the ACI and the storage account for the deployment script.
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
        kind:
          type: string
          description: Type of the script.
          enum:
          - AzurePowerShell
          - AzureCLI
          x-ms-enum:
            name: ScriptType
            modelAsString: true
        systemData:
          readOnly: true
          description: The system metadata related to this resource.
          $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/systemData
      allOf:
      - $ref: '#/components/schemas/AzureResourceBase'
    LogProperties:
      type: object
      description: Script log properties.
      properties:
        log:
          type: string
          readOnly: true
          description: Script execution logs in text format.
    ScriptLogsList:
      description: Deployment script execution logs.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ScriptLog'
          description: Deployment scripts logs.
    DeploymentScriptUpdateParameter:
      type: object
      description: 'Deployment script parameters to be updated. '
      properties:
        tags:
          type: object
          description: Resource tags to be updated.
          additionalProperties:
            type: string
      allOf:
      - $ref: '#/components/schemas/AzureResourceBase'
    ManagedServiceIdentity:
      type: object
      description: Managed identity generic object.
      properties:
        type:
          type: string
          description: Type of the managed identity.
          enum:
          - UserAssigned
          x-ms-enum:
            name: ManagedServiceIdentityType
            modelAsString: true
        tenantId:
          readOnly: true
          type: string
          description: ID of the Azure Active Directory.
        userAssignedIdentities:
          type: object
          description: The list of user-assigned managed identities associated with the resource. Key is the Azure resource Id of the managed identity.
          additionalProperties:
            description: User-assigned managed identity.
            $ref: '#/components/schemas/UserAssignedIdentity'
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
        pattern: ^[-\w\._\(\)]+$
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      x-ms-parameter-location: client
      description: Client Api version.
      schema:
        type: string
    ScriptNameParameter:
      name: scriptName
      in: path
      required: true
      description: Name of the deployment script.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      x-ms-parameter-location: client
      description: Subscription Id which forms part of the URI for every service call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
