openapi: 3.2.0
info:
  version: '2018-09-15'
  title: Microsoft Azure DevTestLabsClient Policy Sets API
  description: The DevTest Labs Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Policy Sets
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{name}/evaluatePolicies
  : post:
      tags:
      - Policy Sets
      description: Evaluates lab policy.
      operationId: microsoftAzurePolicysetsEvaluatepolicies
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: The name of the policy set.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluatePoliciesResponse'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        PolicySets_EvaluatePolicies:
          $ref: ./examples/PolicySets_EvaluatePolicies.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvaluatePoliciesRequest'
        description: Request body for evaluating a policy set.
        required: true
components:
  schemas:
    CloudError:
      description: Error from a REST request.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: The cloud error that occurred
      x-ms-external: true
    EvaluatePoliciesProperties:
      description: Properties for evaluating a policy set.
      type: object
      properties:
        factName:
          description: The fact name.
          type: string
        factData:
          description: The fact data.
          type: string
        valueOffset:
          description: The value offset.
          type: string
        userObjectId:
          description: The user for which policies will be evaluated
          type: string
    EvaluatePoliciesResponse:
      description: Response body for evaluating a policy set.
      type: object
      properties:
        results:
          description: Results of evaluating a policy set.
          type: array
          items:
            $ref: '#/components/schemas/PolicySetResult'
    PolicySetResult:
      description: Result of a policy set evaluation.
      type: object
      properties:
        hasError:
          description: A value indicating whether this policy set evaluation has discovered violations.
          type: boolean
        policyViolations:
          description: The list of policy violations.
          type: array
          items:
            $ref: '#/components/schemas/PolicyViolation'
    CloudErrorBody:
      description: Body of an error from a REST request.
      type: object
      properties:
        code:
          description: The error code.
          type: string
        message:
          description: The error message.
          type: string
        target:
          description: The error target.
          type: string
        details:
          description: Inner errors.
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
      x-ms-external: true
    PolicyViolation:
      description: Policy violation.
      type: object
      properties:
        code:
          description: The code of the policy violation.
          type: string
        message:
          description: The message of the policy violation.
          type: string
    EvaluatePoliciesRequest:
      description: Request body for evaluating a policy set.
      type: object
      properties:
        policies:
          description: Policies to evaluate.
          type: array
          items:
            $ref: '#/components/schemas/EvaluatePoliciesProperties'
  parameters:
    api-version:
      name: api-version
      in: query
      description: Client API version.
      required: true
      schema:
        type: string
        default: '2018-09-15'
    resourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    subscriptionId:
      name: subscriptionId
      in: path
      description: The subscription ID.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: Access Microsoft Azure
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: OAuth2 Implicit Grant
