openapi: 3.2.0
info:
  title: Microsoft Azure Service Map Client Groups API
  description: Service Map API Reference
  version: 2015-11-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Client Groups
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/clientGroups/{clientGroupName}
  : get:
      tags:
      - Client Groups
      operationId: microsoftAzureClientgroupsGet
      x-ms-examples:
        SMClientGroupsGetGet:
          $ref: ./examples/ClientGroups/SMClientGroupsGetGet.json
      description: Retrieves the specified client group
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/ClientGroupNameParameter'
      - name: startTime
        in: query
        required: false
        description: UTC date and time specifying the start time of an interval. When not specified the service uses DateTime.UtcNow - 10m
        schema:
          type: string
          format: date-time
      - name: endTime
        in: query
        required: false
        description: UTC date and time specifying the end time of an interval. When not specified the service uses DateTime.UtcNow
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientGroup'
        default:
          description: An error occurred while processing the request. See the error.code parameter to identify the specific error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/clientGroups/{clientGroupName}/membersCount
  : get:
      tags:
      - Client Groups
      operationId: microsoftAzureClientgroupsGetmemberscount
      x-ms-examples:
        SMClientGroupsGetMembersCountGet:
          $ref: ./examples/ClientGroups/SMClientGroupsGetMembersCountGet.json
      description: Returns the approximate number of members in the client group.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/ClientGroupNameParameter'
      - name: startTime
        in: query
        required: false
        description: UTC date and time specifying the start time of an interval. When not specified the service uses DateTime.UtcNow - 10m
        schema:
          type: string
          format: date-time
      - name: endTime
        in: query
        required: false
        description: UTC date and time specifying the end time of an interval. When not specified the service uses DateTime.UtcNow
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientGroupMembersCount'
        default:
          description: An error occurred while processing the request. See the error.code parameter to identify the specific error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/clientGroups/{clientGroupName}/members
  : get:
      tags:
      - Client Groups
      operationId: microsoftAzureClientgroupsListmembers
      x-ms-examples:
        SMClientGroupsListMembersGet:
          $ref: ./examples/ClientGroups/SMClientGroupsListMembersGet.json
      description: Returns the members of the client group during the specified time interval.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/WorkspaceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/ClientGroupNameParameter'
      - name: startTime
        in: query
        required: false
        description: UTC date and time specifying the start time of an interval. When not specified the service uses DateTime.UtcNow - 10m
        schema:
          type: string
          format: date-time
      - name: endTime
        in: query
        required: false
        description: UTC date and time specifying the end time of an interval. When not specified the service uses DateTime.UtcNow
        schema:
          type: string
          format: date-time
      - name: $top
        in: query
        required: false
        description: Page size to use. When not specified, the default page size is 100 records.
        schema:
          type: integer
          format: int32
          maximum: 200
          minimum: 1
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientGroupMembersCollection'
        default:
          description: An error occurred while processing the request. See the error.code parameter to identify the specific error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    ResourceReference:
      description: Represents a reference to another resource.
      discriminator:
        propertyName: kind
      properties:
        id:
          type: string
          description: Resource URI.
        type:
          type: string
          description: Resource type qualifier.
          readOnly: true
        name:
          type: string
          description: Resource name.
          readOnly: true
        kind:
          type: string
          description: Specifies the sub-class of the reference.
          enum:
          - ref:machine
          - ref:machinewithhints
          - ref:process
          - ref:port
          - ref:onmachine
          - ref:clientgroup
      required:
      - id
      - kind
    ClientGroupMember:
      description: Represents a member of a client group
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          x-ms-client-flatten: true
          type: object
          description: Resource properties.
          properties:
            ipAddress:
              type: string
              description: IP address.
            port:
              $ref: '#/components/schemas/PortReference'
              description: Port into which this client connected
            processes:
              type: array
              items:
                $ref: '#/components/schemas/ProcessReference'
              description: Processes accepting on the above port that received connections from this client.
    MachineReference:
      description: Reference to a machine.
      allOf:
      - $ref: '#/components/schemas/ResourceReference'
      x-ms-discriminator-value: ref:machine
    ClientGroupMembersCollection:
      type: object
      description: Collection of ClientGroupMember resources.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ClientGroupMember'
          description: Collection of ClientGroupMember resources.
        nextLink:
          type: string
          description: The URL to the next set of resources.
    ClientGroup:
      description: Represents a collection of clients of a resource. A client group can represent the clients of a port, process, or a machine.
      allOf:
      - $ref: '#/components/schemas/CoreResource'
      x-ms-discriminator-value: clientGroup
      properties:
        properties:
          x-ms-client-flatten: true
          type: object
          description: Resource properties.
          properties:
            clientsOf:
              $ref: '#/components/schemas/ResourceReference'
              description: Reference to the resource whose clients are represented by this group.
          required:
          - clientsOf
    CoreResource:
      description: Marker resource for the core Service Map resources
      allOf:
      - $ref: '#/components/schemas/Resource'
      discriminator:
        propertyName: kind
      properties:
        etag:
          type: string
          description: Resource ETAG.
        kind:
          type: string
          description: Additional resource type qualifier.
          enum:
          - machine
          - process
          - port
          - clientGroup
          - machineGroup
      required:
      - kind
    PortReference:
      description: Reference to a port.
      allOf:
      - $ref: '#/components/schemas/ResourceReference'
      x-ms-discriminator-value: ref:port
      properties:
        properties:
          x-ms-client-flatten: true
          type: object
          description: Resource properties.
          properties:
            machine:
              $ref: '#/components/schemas/MachineReference'
              description: Machine hosting the port.
              readOnly: true
            ipAddress:
              type: string
              description: IP address of the port.
              readOnly: true
            portNumber:
              type: integer
              format: int32
              description: Port number.
    Error:
      type: object
      description: Error details.
      properties:
        code:
          type: string
          description: Error code identifying the specific error.
        message:
          type: string
          description: Error message in the caller's locale.
      required:
      - code
    ClientGroupMembersCount:
      description: Specifies the number of members in a client group.
      type: object
      properties:
        startTime:
          type: string
          format: date-time
          description: Membership interval start time.
        endTime:
          type: string
          format: date-time
          description: Membership interval start time.
        groupId:
          type: string
          description: Client Group URI.
        count:
          type: integer
          format: int32
          description: Number of members in the client group. Use this value together with the value of ```accuracy```. If accuracy is `exact` then the value represents the actual number of members in the cloud. When accuracy is `estimated`, the actual number of members is larger than the value of ```count```.
        accuracy:
          $ref: '#/components/schemas/Accuracy'
          description: Accuracy of the reported count.
      required:
      - startTime
      - endTime
      - groupId
      - count
      - accuracy
    ProcessReference:
      description: Reference to a process.
      allOf:
      - $ref: '#/components/schemas/ResourceReference'
      x-ms-discriminator-value: ref:process
      properties:
        properties:
          x-ms-client-flatten: true
          type: object
          description: Resource properties.
          properties:
            machine:
              $ref: '#/components/schemas/MachineReference'
              description: Machine hosting the process.
              readOnly: true
    Resource:
      description: Resource model definition.
      properties:
        id:
          type: string
          description: Resource identifier.
          readOnly: true
        type:
          type: string
          description: Resource type.
          readOnly: true
        name:
          type: string
          description: Resource name.
          readOnly: true
      x-ms-azure-resource: true
    ErrorResponse:
      type: object
      description: An error response from the API.
      properties:
        error:
          $ref: '#/components/schemas/Error'
          description: Error information.
      required:
      - error
    Accuracy:
      description: Specifies the accuracy of a computation.
      type: string
      enum:
      - actual
      - estimated
      x-ms-enum:
        name: Accuracy
        modelAsString: false
  parameters:
    WorkspaceNameParameter:
      name: workspaceName
      in: path
      x-ms-parameter-location: method
      required: true
      description: OMS workspace containing the resources of interest.
      schema:
        type: string
        maxLength: 63
        minLength: 3
        pattern: '[a-zA-Z0-9_][a-zA-Z0-9_-]+[a-zA-Z0-9_]'
    ClientGroupNameParameter:
      name: clientGroupName
      in: path
      x-ms-parameter-location: method
      required: true
      description: Client Group resource name.
      schema:
        type: string
        maxLength: 256
        minLength: 3
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      x-ms-parameter-location: method
      required: true
      description: Resource group name within the specified subscriptionId.
      schema:
        type: string
        maxLength: 64
        minLength: 1
        pattern: '[a-zA-Z0-9_-]+'
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: API version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Azure subscription identifier.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
