openapi: 3.2.0
info:
  version: 2021-12-01-preview
  title: Microsoft Azure EducationManagementClient Students API
  description: Education client provides access to education resources for Azure subscriptions.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Students
paths:
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/providers/Microsoft.Education/labs/default/students
  : get:
      tags:
      - Students
      x-ms-examples:
        StudentList:
          $ref: ./examples/StudentList.json
      operationId: microsoftAzureStudentsList
      description: Get a list of details about students that are associated with the specified lab.
      parameters:
      - $ref: '#/components/parameters/BillingAccountNameParameter'
      - $ref: '#/components/parameters/BillingProfileNameParameter'
      - $ref: '#/components/parameters/InvoiceSectionNameParameter'
      - $ref: '#/components/parameters/IncludeDeletedParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Student details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudentListResult'
        default:
          description: Describes the error if the operation is not successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseBody'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Providers Microsoft Billing Billingaccounts…
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/providers/Microsoft.Education/labs/default/students/{studentAlias}
  : get:
      tags:
      - Students
      x-ms-examples:
        Student:
          $ref: ./examples/Student.json
      operationId: microsoftAzureStudentsGet
      description: Get the details for a specific student in the specified lab by student alias
      parameters:
      - $ref: '#/components/parameters/BillingAccountNameParameter'
      - $ref: '#/components/parameters/BillingProfileNameParameter'
      - $ref: '#/components/parameters/InvoiceSectionNameParameter'
      - $ref: '#/components/parameters/studentAliasParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: student detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudentDetails'
        default:
          description: Describes the error if the operation is not successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseBody'
      summary: Microsoft Azure Get Providers Microsoft Billing Billingaccounts…
    delete:
      tags:
      - Students
      x-ms-examples:
        DeleteLab:
          $ref: ./examples/DeleteStudent.json
      operationId: microsoftAzureStudentsDelete
      description: Delete the specified student based on the student alias.
      parameters:
      - $ref: '#/components/parameters/BillingAccountNameParameter'
      - $ref: '#/components/parameters/BillingProfileNameParameter'
      - $ref: '#/components/parameters/InvoiceSectionNameParameter'
      - $ref: '#/components/parameters/studentAliasParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: student deleted
        '204':
          description: student does not exists
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseBody'
      summary: Microsoft Azure Delete Providers Microsoft Billing Billingaccounts…
    put:
      tags:
      - Students
      x-ms-examples:
        Student:
          $ref: ./examples/CreateStudent.json
      operationId: microsoftAzureStudentsCreateorupdate
      description: Create and add a new student to the specified lab or update the details of an existing student in a lab. Note the student must have a valid tenant to accept the lab after they have been added to lab.
      parameters:
      - $ref: '#/components/parameters/BillingAccountNameParameter'
      - $ref: '#/components/parameters/BillingProfileNameParameter'
      - $ref: '#/components/parameters/InvoiceSectionNameParameter'
      - $ref: '#/components/parameters/studentAliasParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully updated student detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudentDetails'
        '201':
          description: Successfully created student detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudentDetails'
        default:
          description: Describes the error if the operation is not successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseBody'
      summary: Microsoft Azure Put Providers Microsoft Billing Billingaccounts…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StudentDetails'
        description: Request parameters that are provided to update student properties.
        required: true
components:
  schemas:
    Amount:
      description: The amount.
      type: object
      properties:
        currency:
          description: The type of currency being used for the value.
          type: string
        value:
          description: Amount value.
          type: number
    StudentDetails:
      description: Student details.
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/Resource
      properties:
        properties:
          $ref: '#/components/schemas/StudentProperties'
          description: Get student response properties.
          x-ms-client-flatten: true
    ErrorResponseBody:
      description: Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.
      type: object
      properties:
        error:
          description: The details of the error.
          $ref: '#/components/schemas/ErrorResponse'
    StudentListResult:
      description: List of students.
      type: object
      properties:
        value:
          description: The list of students.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/StudentDetails'
        nextLink:
          description: The link (url) to the next page of results.
          type: string
          readOnly: true
    StudentProperties:
      description: Student detail properties
      type: object
      required:
      - firstName
      - lastName
      - email
      - role
      - budget
      - expirationDate
      properties:
        firstName:
          type: string
          description: First Name
        lastName:
          type: string
          description: Last Name
        email:
          type: string
          description: Student Email
          x-ms-mutability:
          - create
          - read
        role:
          type: string
          enum:
          - Student
          - Admin
          x-ms-enum:
            name: Student role
            modelAsString: true
          description: Student Role
        budget:
          $ref: '#/components/schemas/Amount'
          description: Student Budget
        subscriptionId:
          type: string
          description: Subscription Id
          readOnly: true
        expirationDate:
          type: string
          format: date-time
          description: Date this student is set to expire from the lab.
        status:
          type: string
          description: Student Lab Status
          enum:
          - Active
          - Disabled
          - Expired
          - Pending
          - Deleted
          x-ms-enum:
            name: Student Lab Status
            modelAsString: true
          readOnly: true
        effectiveDate:
          type: string
          format: date-time
          description: Date student was added to the lab
          readOnly: true
        subscriptionAlias:
          type: string
          description: Subscription alias
        subscriptionInviteLastSentDate:
          type: string
          format: date-time
          description: subscription invite last sent date
    ErrorResponse:
      description: Describes the format of Error response.
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
  parameters:
    InvoiceSectionNameParameter:
      name: invoiceSectionName
      x-ms-parameter-location: method
      in: path
      required: true
      description: The ID that uniquely identifies an invoice section.
      schema:
        type: string
    studentAliasParameter:
      name: studentAlias
      x-ms-parameter-location: method
      in: path
      required: true
      description: Student alias.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Version of the API to be used with the client request. Current version is 2021-12-01-preview
      schema:
        type: string
    IncludeDeletedParameter:
      name: includeDeleted
      x-ms-parameter-location: method
      in: query
      description: May be used to show deleted items.
      schema:
        type: boolean
    BillingAccountNameParameter:
      name: billingAccountName
      x-ms-parameter-location: method
      in: path
      required: true
      description: The ID that uniquely identifies a billing account.
      schema:
        type: string
    BillingProfileNameParameter:
      name: billingProfileName
      x-ms-parameter-location: method
      in: path
      required: true
      description: The ID that uniquely identifies a billing profile.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
