openapi: 3.2.0
info:
  title: Microsoft Azure Edge Devices API
  version: 2024-02-15-preview
  description: Azure Arc-enabled Edge Device.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: EdgeDevices
paths:
  /{resourceUri}/providers/Microsoft.AzureStackHCI/edgeDevices:
    get:
      operationId: microsoftAzureEdgedevicesList
      tags:
      - EdgeDevices
      description: List EdgeDevice resources by parent
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/Azure.ResourceManager.ResourceUriParameter'
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdgeDeviceListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        List Edge Devices:
          $ref: ./examples/ListEdgeDevices.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Get Resourceuri Providers Microsoft Azurestackhci Edgedevices
  /{resourceUri}/providers/Microsoft.AzureStackHCI/edgeDevices/{edgeDeviceName}:
    get:
      operationId: microsoftAzureEdgedevicesGet
      tags:
      - EdgeDevices
      description: Get a EdgeDevice
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/Azure.ResourceManager.ResourceUriParameter'
      - name: edgeDeviceName
        in: path
        description: Name of Device
        required: true
        schema:
          type: string
          default: default
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdgeDevice'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Get Edge Device:
          $ref: ./examples/GetEdgeDevices.json
      summary: Get Resourceuri Providers Microsoft Azurestackhci Edgedevices Edgedevicename
    put:
      operationId: microsoftAzureEdgedevicesCreateorupdate
      tags:
      - EdgeDevices
      description: Create a EdgeDevice
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/Azure.ResourceManager.ResourceUriParameter'
      - name: edgeDeviceName
        in: path
        description: Name of Device
        required: true
        schema:
          type: string
          default: default
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdgeDevice'
        '201':
          description: Resource successfully created.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdgeDevice'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      x-ms-examples:
        Create HCI Edge Device:
          $ref: ./examples/CreateHciEdgeDevice.json
      summary: Put Resourceuri Providers Microsoft Azurestackhci Edgedevices Edgedevicename
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EdgeDevice'
        description: Resource create parameters.
        required: true
    delete:
      operationId: microsoftAzureEdgedevicesDelete
      tags:
      - EdgeDevices
      description: Delete a EdgeDevice
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/Azure.ResourceManager.ResourceUriParameter'
      - name: edgeDeviceName
        in: path
        description: Name of Device
        required: true
        schema:
          type: string
          default: default
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '202':
          description: Resource deletion accepted.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        '204':
          description: Resource deleted successfully.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Delete Edge Devices:
          $ref: ./examples/DeleteEdgeDevices.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Delete Resourceuri Providers Microsoft Azurestackhci Edgedevices Edgedevicename
  /{resourceUri}/providers/Microsoft.AzureStackHCI/edgeDevices/{edgeDeviceName}/validate:
    post:
      operationId: microsoftAzureEdgedevicesValidate
      tags:
      - EdgeDevices
      description: A long-running resource action.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/Azure.ResourceManager.ResourceUriParameter'
      - name: edgeDeviceName
        in: path
        description: Name of Device
        required: true
        schema:
          type: string
          default: default
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateResponse'
        '202':
          description: Resource operation accepted.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        Validate Edge Devices:
          $ref: ./examples/ValidateEdgeDevices.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Post Resourceuri Providers Microsoft Azurestackhci Edgedevices Edgedevicename…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateRequest'
        description: The content of the action request
        required: true
components:
  schemas:
    EdgeDeviceListResult:
      type: object
      description: The response of a EdgeDevice list operation.
      properties:
        value:
          type: array
          description: The EdgeDevice items on this page
          items:
            $ref: '#/components/schemas/EdgeDevice'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    ValidateResponse:
      type: object
      description: An Accepted response with an Operation-Location header.
      properties:
        status:
          type: string
          description: edge device validation status
          readOnly: true
    DeviceKind:
      type: string
      description: Edge device kind.
      enum:
      - HCI
      default: HCI
      x-ms-enum:
        name: DeviceKind
        modelAsString: true
        values:
        - name: HCI
          value: HCI
          description: Arc-enabled edge device with HCI OS.
    EdgeDevice:
      type: object
      description: Edge device resource.
      properties:
        kind:
          $ref: '#/components/schemas/DeviceKind'
          description: Device kind to support polymorphic resource.
          x-ms-mutability:
          - create
          - read
      discriminator:
        propertyName: kind
      required:
      - kind
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
    ValidateRequest:
      type: object
      description: The validate request for Edge Device.
      properties:
        edgeDeviceIds:
          type: array
          description: Node Ids against which, current node has to be validated.
          items:
            type: string
        additionalInfo:
          type: string
          description: Additional info required for validation.
      required:
      - edgeDeviceIds
  parameters:
    Azure.ResourceManager.ResourceUriParameter:
      name: resourceUri
      in: path
      description: The fully qualified Azure Resource manager identifier of the resource.
      required: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
