openapi: 3.2.0
info:
  title: Microsoft Azure Azure Migrate Discovery Service Web App Run…
  version: 2023-10-01-preview
  description: Azure OffAzure Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: WebAppRunAsAccountsController
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/masterSites/{siteName}/webAppSites/{webAppSiteName}/runasaccounts
  : get:
      operationId: microsoftAzureWebapprunasaccountscontrollerListbywebappsite
      tags:
      - WebAppRunAsAccountsController
      description: Method to get all run as accounts.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: webAppSiteName
        in: path
        description: Web app site name.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebAppRunAsAccountListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        WebAppRunAsAccountsController_ListByWebAppSite_MaximumSet_Gen:
          $ref: ./examples/WebAppRunAsAccountsController_ListByWebAppSite_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/masterSites/{siteName}/webAppSites/{webAppSiteName}/runasaccounts/{accountName}
  : get:
      operationId: microsoftAzureWebapprunasaccountscontrollerGet
      tags:
      - WebAppRunAsAccountsController
      description: Method to get run as account.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - name: siteName
        in: path
        description: Site name
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: webAppSiteName
        in: path
        description: Web app site name.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      - name: accountName
        in: path
        description: Run as account ARM name.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebAppRunAsAccount'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-examples:
        WebAppRunAsAccountsController_Get_MaximumSet_Gen:
          $ref: ./examples/WebAppRunAsAccountsController_Get_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    ProvisioningState:
      type: string
      description: The status of the current operation.
      enum:
      - Created
      - Updated
      - Running
      - Completed
      - Failed
      - Succeeded
      - Canceled
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: Created
          value: Created
          description: Created value.
        - name: Updated
          value: Updated
          description: Updated value.
        - name: Running
          value: Running
          description: Running value.
        - name: Completed
          value: Completed
          description: Completed value.
        - name: Failed
          value: Failed
          description: Failed value.
        - name: Succeeded
          value: Succeeded
          description: Succeeded value.
        - name: Canceled
          value: Canceled
          description: Canceled value.
    WebAppRunAsAccount:
      type: object
      description: Run as account REST Resource.
      properties:
        properties:
          $ref: '#/components/schemas/RunAsAccountProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
    RunAsAccountProperties:
      type: object
      description: Class for run as account properties.
      properties:
        displayName:
          type: string
          description: Display name of the run as account.
          readOnly: true
        credentialType:
          type: string
          description: Gets the credential type of the run as account.
          readOnly: true
        createdTimestamp:
          type: string
          description: Timestamp marking run as account creation.
          readOnly: true
        updatedTimestamp:
          type: string
          description: Timestamp marking last updated on the run as account.
          readOnly: true
        applianceName:
          type: string
          description: Gets the appliance name of the run as account.
          readOnly: true
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: provisioning state enum
          readOnly: true
    WebAppRunAsAccountListResult:
      type: object
      description: The response of a WebAppRunAsAccount list operation.
      properties:
        value:
          type: array
          description: The WebAppRunAsAccount items on this page
          items:
            $ref: '#/components/schemas/WebAppRunAsAccount'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
