openapi: 3.2.0
info:
  title: Microsoft Azure MicrosoftSerialConsoleClient Serial Ports…
  version: '2018-05-01'
  description: The Azure Serial Console allows you to access the serial console of a Virtual Machine or VM scale set instance
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: SerialPorts
paths:
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourceType}/{parentResource}/providers/Microsoft.SerialConsole/serialPorts
  : get:
      tags:
      - SerialPorts
      operationId: microsoftAzureSerialportsList
      description: Lists all of the configured serial ports for a parent resource
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceProviderNamespaceParameter'
      - $ref: '#/components/parameters/ParentResourceTypeParameter'
      - $ref: '#/components/parameters/ParentResourceParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerialPortListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        List Serial Ports for parent resources:
          $ref: ./examples/ListSerialPort.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourceType}/{parentResource}/providers/Microsoft.SerialConsole/serialPorts/{serialPort}
  : get:
      tags:
      - SerialPorts
      operationId: microsoftAzureSerialportsGet
      description: Gets the configured settings for a serial port
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceProviderNamespaceParameter'
      - $ref: '#/components/parameters/ParentResourceTypeParameter'
      - $ref: '#/components/parameters/ParentResourceParameter'
      - name: serialPort
        in: path
        required: true
        description: The name of the serial port to connect to.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerialPort'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Get the serial port for a parent resource:
          $ref: ./examples/GetSerialPort.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - SerialPorts
      operationId: microsoftAzureSerialportsCreate
      description: Creates or updates a serial port
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceProviderNamespaceParameter'
      - $ref: '#/components/parameters/ParentResourceTypeParameter'
      - $ref: '#/components/parameters/ParentResourceParameter'
      - name: serialPort
        in: path
        required: true
        description: The name of the serial port to create.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerialPort'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Create a new serial port resource.:
          $ref: ./examples/CreateSerialPort.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SerialPort'
        description: Parameters supplied to create the serial port.
        required: true
    delete:
      tags:
      - SerialPorts
      operationId: microsoftAzureSerialportsDelete
      description: Deletes a serial port
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceProviderNamespaceParameter'
      - $ref: '#/components/parameters/ParentResourceTypeParameter'
      - $ref: '#/components/parameters/ParentResourceParameter'
      - name: serialPort
        in: path
        required: true
        description: The name of the serial port to delete.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Delete a serial port resource:
          $ref: ./examples/DeleteSerialPort.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/providers/Microsoft.SerialConsole/serialPorts:
    get:
      tags:
      - SerialPorts
      description: Handles requests to list all SerialPort resources in a subscription.
      operationId: microsoftAzureSerialportsListbysubscriptions
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK - Return a list of SerialPort resources
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerialPortListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        List Serial Ports for subscription:
          $ref: ./examples/ListSerialPortSubscription.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourceType}/{parentResource}/providers/Microsoft.SerialConsole/serialPorts/{serialPort}/connect
  : post:
      tags:
      - SerialPorts
      operationId: microsoftAzureSerialportsConnect
      description: Connect to serial port of the target resource
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceProviderNamespaceParameter'
      - $ref: '#/components/parameters/ParentResourceTypeParameter'
      - $ref: '#/components/parameters/ParentResourceParameter'
      - name: serialPort
        in: path
        required: true
        description: The name of the serial port to connect to.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK - Return a connection string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SerialPortConnectResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Connect to a virtual machine serial port:
          $ref: ./examples/SerialPortConnectVM.json
        Connect to a scale set instance serial port:
          $ref: ./examples/SerialPortConnectVMSS.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    SerialPort:
      title: Serial port
      description: Represents the serial port of the parent resource.
      type: object
      properties:
        properties:
          description: The properties of the serial port.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/SerialPortProperties'
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
    CloudError:
      description: An error response from the service.
      x-ms-external: true
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: Cloud error body.
    ProxyResource:
      description: The resource model definition for a ARM proxy resource. It will have everything other than required location and tags
      allOf:
      - $ref: '#/components/schemas/Resource'
    SerialPortConnectResult:
      title: Serial port connect result
      description: Returns a connection string to the serial port of the resource.
      type: object
      properties:
        connectionString:
          description: Connection string to the serial port of the resource.
          type: string
    SerialPortListResult:
      title: Serial port list result
      description: The list serial ports operation response.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/SerialPort'
          description: The list of serial ports.
    CloudErrorBody:
      x-ms-external: true
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of the property in error.
        details:
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          description: A list of additional details about the error.
      description: An error response from the Batch service.
    SerialPortProperties:
      description: The properties of the serial port.
      properties:
        state:
          description: Specifies whether the port is enabled for a serial console connection.
          type: string
          enum:
          - enabled
          - disabled
          x-ms-enum:
            name: SerialPortState
            modelAsString: false
    Resource:
      description: The Resource model definition.
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
      x-ms-azure-resource: true
  parameters:
    ParentResourceParameter:
      name: parentResource
      in: path
      required: true
      description: 'The resource name, or subordinate path, for the parent of the serial port. For example: the name of the virtual machine.'
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
    ParentResourceTypeParameter:
      name: parentResourceType
      in: path
      required: true
      description: 'The resource type of the parent resource.  For example: ''virtualMachines'' or ''virtualMachineScaleSets'''
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Subscription ID which uniquely identifies the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call requiring it.
      schema:
        type: string
    ResourceProviderNamespaceParameter:
      name: resourceProviderNamespace
      in: path
      required: true
      description: The namespace of the resource provider.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
