openapi: 3.2.0
info:
  title: Microsoft Azure Domains API
  version: '1.0'
  description: 'Operations tagged Domains across 3 of this provider''s published API definitions: domains-api-client-openapi-original.yml, eventgridmanagementclient-openapi-original.yml, website-management-client-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
tags:
- name: Domains
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/checkDomainAvailability:
    post:
      tags:
      - Domains
      summary: Microsoft Azure Check If A Domain Is Available For Registration
      description: Description for Check if a domain is available for registration.
      operationId: microsoftAzureDomainsCheckavailability
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainAvailabilityCheckResult'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ../../../Microsoft.Web/stable/2023-01-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Check domain availability:
          $ref: ./examples/CheckDomainAvailability.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: ../../../Microsoft.Web/stable/2023-01-01/CommonDefinitions.json#/definitions/NameIdentifier
        description: Name of the domain.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/domains:
    get:
      tags:
      - Domains
      summary: Microsoft Azure Get All Domains In A Subscription
      description: Description for Get all domains in a subscription.
      operationId: microsoftAzureDomainsList
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ../../../Microsoft.Web/stable/2023-01-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        List domains by subscription:
          $ref: ./examples/ListDomainsBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/generateSsoRequest:
    post:
      tags:
      - Domains
      summary: Microsoft Azure Generate A Single Sign On Request For The Domain Management…
      description: Description for Generate a single sign-on request for the domain management portal.
      operationId: microsoftAzureDomainsGetcontrolcenterssorequest
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainControlCenterSsoRequest'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ../../../Microsoft.Web/stable/2023-01-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Get Domain Control Center Sso Request:
          $ref: ./examples/GetDomainControlCenterSsoRequest.json
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/listDomainRecommendations:
    post:
      tags:
      - Domains
      summary: Microsoft Azure Get Domain Name Recommendations Based On Keywords
      description: Description for Get domain name recommendations based on keywords.
      operationId: microsoftAzureDomainsListrecommendations
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameIdentifierCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ../../../Microsoft.Web/stable/2023-01-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        List domain recommendations:
          $ref: ./examples/ListDomainRecommendations.json
      x-ms-pageable:
        nextLinkName: nextLink
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainRecommendationSearchParameters'
        description: Search parameters for domain name recommendations.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains:
    get:
      tags:
      - Domains
      summary: Microsoft Azure Get All Domains In A Resource Group
      description: Description for Get all domains in a resource group.
      operationId: microsoftAzureDomainsListbyresourcegroup
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ../../../Microsoft.Web/stable/2023-01-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        List domains by resource group:
          $ref: ./examples/ListDomainsByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains/{domainName}
  : get:
      tags:
      - Domains
      summary: Microsoft Azure Get A Domain
      description: Description for Get a domain.
      operationId: microsoftAzureDomainsGet
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: domainName
        in: path
        description: Name of the domain.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ../../../Microsoft.Web/stable/2023-01-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Get Domain:
          $ref: ./examples/GetDomain.json
      security:
      - azure_auth:
        - user_impersonation
    put:
      tags:
      - Domains
      summary: Microsoft Azure Creates Or Updates A Domain
      description: Description for Creates or updates a domain.
      operationId: microsoftAzureDomainsCreateorupdate
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: domainName
        in: path
        description: Name of the domain.
        required: true
        schema:
          type: string
          pattern: '[a-zA-Z0-9][a-zA-Z0-9\.-]+'
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Domain purchase was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '202':
          description: Domain purchase is in progress.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ../../../Microsoft.Web/stable/2023-01-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Create App Service Domain:
          $ref: ./examples/CreateAppServiceDomain.json
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Domain'
        description: Domain registration information.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - Domains
      summary: Microsoft Azure Delete A Domain
      description: Description for Delete a domain.
      operationId: microsoftAzureDomainsDelete
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: domainName
        in: path
        description: Name of the domain.
        required: true
        schema:
          type: string
      - name: forceHardDeleteDomain
        in: query
        description: Specify <code>true</code> to delete the domain immediately. The default is <code>false</code> which deletes the domain after 24 hours.
        schema:
          type: boolean
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully deleted domain.
        '204':
          description: Domain does not exist in Azure database probably because it has already been deleted
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ../../../Microsoft.Web/stable/2023-01-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Delete App Service Domain:
          $ref: ./examples/DeleteAppServiceDomain.json
      security:
      - azure_auth:
        - user_impersonation
    patch:
      tags:
      - Domains
      summary: Microsoft Azure Creates Or Updates A Domain
      description: Description for Creates or updates a domain.
      operationId: microsoftAzureDomainsUpdate
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: domainName
        in: path
        description: Name of the domain.
        required: true
        schema:
          type: string
          pattern: '[a-zA-Z0-9][a-zA-Z0-9\.-]+'
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Domain purchase was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '202':
          description: Domain purchase is in progress.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ../../../Microsoft.Web/stable/2023-01-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Update App Service Domain:
          $ref: ./examples/UpdateAppServiceDomain.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainPatchResource'
        description: Domain registration information.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains/{domainName}/domainOwnershipIdentifiers
  : get:
      tags:
      - Domains
      summary: Microsoft Azure Lists Domain Ownership Identifiers
      description: Description for Lists domain ownership identifiers.
      operationId: microsoftAzureDomainsListownershipidentifiers
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: domainName
        in: path
        description: Name of domain.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainOwnershipIdentifierCollection'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ../../../Microsoft.Web/stable/2023-01-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        List Domain Ownership Identifiers:
          $ref: ./examples/ListDomainOwnershipIdentifiers.json
      x-ms-pageable:
        nextLinkName: nextLink
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains/{domainName}/domainOwnershipIdentifiers/{name}
  : get:
      tags:
      - Domains
      summary: Microsoft Azure Get Ownership Identifier For Domain
      description: Description for Get ownership identifier for domain
      operationId: microsoftAzureDomainsGetownershipidentifier
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: domainName
        in: path
        description: Name of domain.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: Name of identifier.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainOwnershipIdentifier'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ../../../Microsoft.Web/stable/2023-01-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Get Domain Ownership Identifier:
          $ref: ./examples/GetDomainOwnershipIdentifier.json
      security:
      - azure_auth:
        - user_impersonation
    put:
      tags:
      - Domains
      summary: Microsoft Azure Creates An Ownership Identifier For A Domain Or Updates…
      description: Description for Creates an ownership identifier for a domain or updates identifier details for an existing identifier
      operationId: microsoftAzureDomainsCreateorupdateownershipidentifier
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: domainName
        in: path
        description: Name of domain.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: Name of identifier.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainOwnershipIdentifier'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ../../../Microsoft.Web/stable/2023-01-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Create App Service Domain OwnershipIdentifier:
          $ref: ./examples/CreateAppServiceDomainOwnershipIdentifier.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainOwnershipIdentifier'
        description: A JSON representation of the domain ownership properties.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - Domains
      summary: Microsoft Azure Delete Ownership Identifier For Domain
      description: Description for Delete ownership identifier for domain
      operationId: microsoftAzureDomainsDeleteownershipidentifier
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: domainName
        in: path
        description: Name of domain.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: Name of identifier.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully deleted domain ownership identifier.
        '204':
          description: Domain ownership identifier does not exist.
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ../../../Microsoft.Web/stable/2023-01-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Delete App Service Domain Ownership Identifier:
          $ref: ./examples/DeleteAppServiceDomainOwnershipIdentifier.json
      security:
      - azure_auth:
        - user_impersonation
    patch:
      tags:
      - Domains
      summary: Microsoft Azure Creates An Ownership Identifier For A Domain Or Updates…
      description: Description for Creates an ownership identifier for a domain or updates identifier details for an existing identifier
      operationId: microsoftAzureDomainsUpdateownershipidentifier
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: domainName
        in: path
        description: Name of domain.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: Name of identifier.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainOwnershipIdentifier'
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ../../../Microsoft.Web/stable/2023-01-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Update App Service Domain OwnershipIdentifier:
          $ref: ./examples/UpdateAppServiceDomainOwnershipIdentifier.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainOwnershipIdentifier'
        description: A JSON representation of the domain ownership properties.
        required: true
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains/{domainName}/renew
  : post:
      tags:
      - Domains
      summary: Microsoft Azure Renew A Domain
      description: Description for Renew a domain.
      operationId: microsoftAzureDomainsRenew
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: domainName
        in: path
        description: Name of the domain.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Domain renewal was successful.
        '202':
          description: Domain renewal in progress.
        '204':
          description: Domain does not exist.
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ../../../Microsoft.Web/stable/2023-01-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Renew an existing domain:
          $ref: ./examples/RenewDomain.json
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains/{domainName}/transferOut
  : put:
      tags:
      - Domains
      summary: Microsoft Azure Transfer Out Domain To Another Registrar
      operationId: microsoftAzureDomainsTransferout
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - name: domainName
        in: path
        description: Name of domain.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully returned transfer code to transfer domain to another registrar.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '400':
          description: Domain does not exist in Azure database
          x-ms-error-response: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                $ref: ../../../Microsoft.Web/stable/2023-01-01/CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        Transfer out domain:
          $ref: ./examples/TransferOutDomain.json
      description: Needs a more full description created.
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}:
    get:
      tags:
      - Domains
      summary: Microsoft Azure Get A Domain
      description: Get properties of a domain.
      operationId: microsoftAzureDomainsGet
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: domainName
        in: path
        description: Name of the domain.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain_2'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        Domains_Get:
          $ref: ./examples/Domains_Get.json
    put:
      tags:
      - Domains
      summary: Microsoft Azure Create Or Update A Domain
      description: Asynchronously creates or updates a new domain with the specified parameters.
      operationId: microsoftAzureDomainsCreateorupdate
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: domainName
        in: path
        description: Name of the domain.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain_2'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        Domains_CreateOrUpdate:
          $ref: ./examples/Domains_CreateOrUpdate.json
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Domain_2'
        description: Domain information.
        required: true
    delete:
      tags:
      - Domains
      summary: Microsoft Azure Delete A Domain
      description: Delete existing domain.
      operationId: microsoftAzureDomainsDelete
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: domainName
        in: path
        description: Name of the domain.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: NoContent
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 404 Not Found.\n\n * 500 Internal Server Error."
      x-ms-examples:
        Domains_Delete:
          $ref: ./examples/Domains_Delete.json
      x-ms-long-running-operation: true
    patch:
      tags:
      - Domains
      summary: Microsoft Azure Update A Domain
      description: Asynchronously updates a domain with the specified parameters.
      operationId: microsoftAzureDomainsUpdate
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: domainName
        in: path
        description: Name of the domain.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
        '201':
          description: Domain update request accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain_2'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        Domains_Update:
          $ref: ./examples/Domains_Update.json
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainUpdateParameters'
        description: Domain update information.
        required: true
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/domains:
    get:
      tags:
      - Domains
      summary: Microsoft Azure List Domains Under An Azure Subscription
      description: List all the domains under an Azure subscription.
      operationId: microsoftAzureDomainsListbysubscription
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/FilterParameter'
      - $ref: '#/components/parameters/TopParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainsListResult'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        Domains_ListBySubscription:
          $ref: ./examples/Domains_ListBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains:
    get:
      tags:
      - Domains
      summary: Microsoft Azure List Domains Under A Resource Group
      description: List all the domains under a resource group.
      operationId: microsoftAzureDomainsListbyresourcegroup
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/FilterParameter'
      - $ref: '#/components/parameters/TopParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainsListResult'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        Domains_ListByResourceGroup:
          $ref: ./examples/Domains_ListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}/listKeys
  : post:
      tags:
      - Domains
      summary: Microsoft Azure List Keys For A Domain
      description: List the two keys used to publish to a domain.
      operationId: microsoftAzureDomainsListsharedaccesskeys
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: domainName
        in: path
        description: Name of the domain.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainSharedAccessKeys'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        Domains_ListSharedAccessKeys:
          $ref: ./examples/Domains_ListSharedAccessKeys.json
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}/regenerateKey
  : post:
      tags:
      - Domains
      summary: Microsoft Azure Regenerate Key For A Domain
      description: Regenerate a shared access key for a domain.
      operationId: microsoftAzureDomainsRegeneratekey
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
        required: true
        schema:
          type: string
      - name: domainName
        in: path
        description: Name of the domain.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainSharedAccessKeys'
        default:
          description: "*** Error Responses: ***\n\n * 400 Bad Request.\n\n * 500 Internal Server Error."
      x-ms-examples:
        Domains_RegenerateKey:
          $ref: ./examples/Domains_RegenerateKey.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainRegenerateKeyRequest'
        description: Request body to regenerate key.
        required: true
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains/{domainName}/operationresults/{operationId}
  : get:
      tags:
      - Domains
      summary: Microsoft Azure Retrieves The Latest Status Of A Domain Purchase Operation
      operationId: microsoftAzureDomainsGetdomainoperation
      parameters:
      - name: resourceGroupName
        in: path
        description: Name of the resource group
        required: true
        schema:
          type: string
      - name: domainName
        in: path
        description: Name of the domain
        required: true
        schema:
          type: string
      - name: operationId
        in: path
        description: Domain purchase operation Id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter_2'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Domain purchase was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain_3'
            text/json:
              schema:
                $ref: '#/components/schemas/Domain_3'
            application/xml:
              schema:
                $ref: '#/components/schemas/Domain_3'
            text/xml:
              schema:
                $ref: '#/components/schemas/Domain_3'
        '202':
          description: Domain purchase is in progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain_3'
            text/json:
              schema:
                $ref: '#/components/schemas/Domain_3'
            application/xml:
              schema:
                $ref: '#/components/schemas/Domain_3'
            text/xml:
              schema:
                $ref: '#/components/schemas/Domain_3'
        '500':
          description: Domain purchase request failed
      deprecated: false
      description: Needs a more full description created.
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
components:
  schemas:
    DomainPatchResource:
      description: ARM resource for a domain.
      type: object
      allOf:
      - $ref: ../../../Microsoft.Web/stable/2023-01-01/CommonDefinitions.json#/definitions/ProxyOnlyResource
      properties:
        properties:
          description: DomainPatchResource resource specific properties
          required:
          - contactAdmin
          - contactBilling
          - contactRegistrant
          - contactTech
          - consent
          type: object
          properties:
            contactAdmin:
              $ref: '#/components/schemas/Contact'
              description: Administrative contact.
              x-ms-mutability:
              - create
            contactBilling:
              $ref: '#/components/schemas/Contact'
              description: Billing contact.
              x-ms-mutability:
              - create
            contactRegistrant:
              $ref: '#/components/schemas/Contact'
              description: Registrant contact.
              x-ms-mutability:
              - create
            contactTech:
              $ref: '#/components/schemas/Contact'
              description: Technical contact.
              x-ms-mutability:
              - create
            registrationStatus:
              description: Domain registration status.
              enum:
              - Active
              - Awaiting
              - Cancelled
              - Confiscated
              - Disabled
              - Excluded
              - Expired
              - Failed
              - Held
              - Locked
              - Parked
              - Pending
              - Reserved
              - Reverted
              - Suspended
              - Transferred
              - Unknown
              - Unlocked
              - Unparked
              - Updated
              - JsonConverterFailed
              type: string
              readOnly: true
              x-ms-enum:
                name: DomainStatus
                modelAsString: false
            provisioningState:
              description: Domain provisioning state.
              enum:
              - Succeeded
              - Failed
              - Canceled
              - InProgress
              - Deleting
              type: string
              readOnly: true
              x-ms-enum:
                name: ProvisioningState
                modelAsString: false
            nameServers:
              description: Name servers.
              type: array
              items:
                type: string
              readOnly: true
            privacy:
              description: <code>true</code> if domain privacy is enabled for this domain; otherwise, <code>false</code>.
              type: boolean
            createdTime:
              format: date-time
              description: Domain creation timestamp.
              type: string
              readOnly: true
            expirationTime:
              format: date-time
              description: Domain expiration timestamp.
              type: string
              readOnly: true
            lastRenewedTime:
              format: date-time
              description: Timestamp when the domain was renewed last time.
              type: string
              readOnly: true
            autoRenew:
              description: <code>true</code> if the domain should be automatically renewed; otherwise, <code>false</code>.
              default: true
              type: boolean
            readyForDnsRecordManagement:
              description: "<code>true</code> if Azure can assign this domain to App Service apps; otherwise, <code>false</code>. This value will be <code>true</code> if domain registration status is active and \n it is hosted on name servers Azure has programmatic access to."
              type: boolean
              readOnly: true
            managedHostNames:
              description: All hostnames derived from the domain and assigned to Azure resources.
              type: array
              items:
                $ref: '#/components/schemas/HostName'
              readOnly: true
              x-ms-identifiers:
              - name
            consent:
              $ref: '#/components/schemas/DomainPurchaseConsent'
              description: Legal agreement consent.
              x-ms-mutability:
              - create
            domainNotRenewableReasons:
              description: Reasons why domain is not renewable.
              type: array
              items:
                enum:
                - RegistrationStatusNotSupportedForRenewal
                - ExpirationNotInRenewalTimeRange
                - SubscriptionNotActive
                type: string
                x-ms-enum:
                  name: ResourceNotRenewableReason
                  modelAsString: true
              readOnly: true
            dnsType:
              description: Current DNS type
              enum:
              - AzureDns
              - DefaultDomainRegistrarDns
              type: string
              x-ms-enum:
                name: DnsType
                modelAsString: false
            dnsZoneId:
              description: Azure DNS Zone to use
              type: string
            targetDnsType:
              description: Target DNS type (would be used for migration)
              enum:
              - AzureDns
              - DefaultDomainRegistrarDns
              type: string
              x-ms-enum:
                name: DnsType
                modelAsString: false
            authCode:
              type: string
              x-ms-mutability:
              - create
              - read
          x-ms-client-flatten: true
    DomainCollection:
      description: Collection of domains.
      required:
      - value
      type: object
      properties:
        value:
          description: Collection of resources.
          type: array
          items:
            $ref: '#/components/schemas/Domain'
        nextLink:
          description: Link to next page of resources.
          type: string
          readOnly: true
    DomainOwnershipIdentifierCollection:
      description: Collection of domain ownership identifiers.
      required:
      - value
      type: object
      properties:
        value:
          description: Collection of resources.
          type: array
          items:
            $ref: '#/components/schemas/DomainOwnershipIdentifier'
        nextLink:
          description: Link to next page of resources.
          type: string
          readOnly: true
    DomainPurchaseConsent:
      description: Domain purchase consent object, representing acceptance of applicable legal agreements.
      type: object
      properties:
        agreementKeys:
          description: List of applicable legal agreement keys. This list can be retrieved using ListLegalAgreements API under <code>TopLevelDomain</code> resource.
          type: array
          items:
            type: string
        agreedBy:
          description: Client IP address.
          type: string
        agreedAt:
          format: date-time
          description: Timestamp when the agreements were accepted.
          type: string
    DomainAvailabilityCheckResult:
      description: Domain availability check result.
      type: object
      properties:
        name:
          description: Name of the domain.
          type: string
        available:
          description: <code>true</code> if domain can be purchased using CreateDomain API; otherwise, <code>false</code>.
          type: boolean
        domainType:
          description: 'Valid values are Regular domain: Azure will charge the full price of domain registration, SoftDeleted: Purchasing this domain will simply restore it and this operation will not cost anything.'
          enum:
          - Regular
          - SoftDeleted
          type: string
          x-ms-enum:
            name: DomainType
            modelAsString: false
    Contact:
      description: "Contact information for domain registration. If 'Domain Privacy' option is not selected then the contact information is made publicly available through the Whois \ndirectories as per ICANN requirements."
      required:
      - email
      - nameFirst
      - nameLast
      - phone
      type: object
      properties:
        addressMailing:
          $ref: '#/components/schemas/Address'
          description: Mailing address.
        email:
          description: Email address.
          type: string
        fax:
          description: Fax number.
          type: string
        jobTitle:
          description: Job title.
          type: string
        nameFirst:
          description: First name.
          type: string
        nameLast:
          description: Last name.
          type: string
        nameMiddle:
          description: Middle name.
          type: string
        organization:
          description: Organization contact belongs to.
          type: string
        phone:
          description: Phone number.
          type: string
    HostName:
      description: Details of a hostname derived from a domain.
      type: object
      properties:
        name:
          description: Name of the hostname.
          type: string
        siteNames:
          description: List of apps the hostname is assigned to. This list will have more than one app only if the hostname is pointing to a Traffic Manager.
          type: array
          items:
            type: string
        azureResourceName:
          description: Name of the Azure resource the hostname is assigned to. If it is assigned to a Traffic Manager then it will be the Traffic Manager name otherwise it will be the app name.
          type: string
        azureResourceType:
          description: Type of the Azure resource the hostname is assigned to.
          enum:
          - Website
          - TrafficManager
          type: string
          x-ms-enum:
            name: AzureResourceType
            modelAsString: false
        customHostNameDnsRecordType:
          description: Type of the DNS record.
          enum:
          - CName
          - A
          type: string
          x-ms-enum:
            name: CustomHostNameDnsRecordType
            modelAsString: false
        hostNameType:
          description: Type of the hostname.
          enum:
          - Verified
          - Managed
          type: string
          x-ms-enum:
            name: HostNameType
            modelAsString: false
    Address:
      description: Address information for domain registration.
      required:
      - address1
      - city
      - country
      - postalCode
      - state
      type: object
      properties:
        address1:
          description: First line of an Address.
          type: string
        address2:
          description: The second line of the Address. Optional.
          type: string
        city:
          description: The city for the address.
          type: string
        country:
          description: The country for the address.
          type: string
        postalCode:
          description: The postal code for the address.
          type: string
        state:
          description: The state or province for the address.
          type: string
    DomainOwnershipIdentifier:
      description: Domain ownership Identifier.
      type: object
      allOf:
      - $ref: ../../../Microsoft.Web/stable/2023-01-01/CommonDefinitions.json#/definitions/ProxyOnlyResource
      properties:
        properties:
          description: DomainOwnershipIdentifier resource specific properties
          type: object
          properties:
            ownershipId:
              description: Ownership Id.
              type: string
          x-ms-client-flatten: true
    Domain:
      description: Information about a domain.
      type: object
      allOf:
      - $ref: ../../../Microsoft.Web/stable/2023-01-01/CommonDefinitions.json#/definitions/Resource
      properties:
        properties:
          description: Domain resource specific properties
          required:
          - contactAdmin
          - contactBilling
          - contactRegistrant
          - contactTech
          - consent
          type: object
          properties:
            contactAdmin:
              $ref: '#/components/schemas/Contact'
              description: Administrative contact.
              x-ms-mutability:
              - create
            contactBilling:
              $ref: '#/components/schemas/Contact'
              description: Billing contact.
              x-ms-mutability:
              - create
            contactRegistrant:
              $ref: '#/components/schemas/Contact'
              description: Registrant contact.
              x-ms-mutability:
              - create
            contactTech:
              $ref: '#/components/schemas/Contact'
              description: Technical contact.
              x-ms-mutability:
              - create
            registrationStatus:
              description: Domain registration status.
              enum:
              - Active
              - Awaiting
              - Cancelled
              - Confiscated
              - Disabled
              - Excluded
              - Expired
              - Failed
              - Held
              - Locked
              - Parked
              - Pending
              - Reserved
              - Reverted
              - Suspended
              - Transferred
              - Unknown
              - Unlocked
              - Unparked
              - Updated
              - JsonConverterFailed
              type: string
              readOnly: true
              x-ms-enum:
                name: DomainStatus
                modelAsString: false
            provisioningState:
              description: Domain provisioning state.
              enum:
              - Succeeded
              - Failed
              - Canceled
              - InProgress
              - Deleting
              type: string
              readOnly: true
              x-ms-enum:
                name: ProvisioningState
                modelAsString: false
            nameServers:
              description: Name servers.
              type: array
              items:
                type: string
              readOnly: true
            privacy:
              description: <code>true</code> if domain privacy is enabled for this domain; otherwise, <code>false</code>.
              type: boolean
            createdTime:
              format: date-time
              description: Domain creation timestamp.
              type: string
              readOnly: true
            expirationTime:
              format: date-time
              description: Domain expiration timestamp.
              type: string
              readOnly: true
            lastRenewedTime:
              format: date-time
              description: Timestamp when the domain was renewed last time.
              type: string
              readOnly: true
            autoRenew:
              description: <code>true</code> if the domain should be automatically renewed; otherwise, <code>false</code>.
              default: true
              type: boolean
            readyForDnsRecordManagement:
              description: "<code>true</code> if Azure can assign this domain to App Service apps; otherwise, <code>false</code>. This value will be <code>true</code> if domain registration status is active and \n it is hosted on name servers Azure has programmatic access to."
              type: boolean
              readOnly: true
            managedHostNames:
              description: All hostnames derived from the domain and assigned to Azure resources.
              type: array
              items:
                $ref: '#/components/schemas/HostName'
              readOnly: true
              x-ms-identifiers:
              - name
            consent:
              $ref: '#/components/schemas/DomainPurchaseConsent'
              description: Legal agreement consent.
              x-ms-mutability:
              - create
            domainNotRenewableReasons:
              description: Reasons why domain is not renewable.
              type: array
              items:
                enum:
                - RegistrationStatusNotSupportedForRenewal
                - ExpirationNotInRenewalTimeRange
                - SubscriptionNotActive
                type: string
                x-ms-enum:
                  name: ResourceNotRenewableReason
                  modelAsString: true
              readOnly: true
            dnsType:
              description: Current DNS type
              enum:
              - AzureDns
              - DefaultDomainRegistrarDns
              type: string
              x-ms-enum:
                name: DnsType
                modelAsString: false
            dnsZoneId:
              description: Azure DNS Zone to use
              type: string
            targetDnsType:
              description: Target DNS type (would be used for migration)
              enum:
              - AzureDns
              - DefaultDomainRegistrarDns
              type: string
              x-ms-enum:
                name: DnsType
                modelAsString: false
            authCode:
              type: string
              x-ms-mutability:
              - create
              - read
          x-ms-client-flatten: true
    DomainControlCenterSsoRequest:
      description: Single sign-on request information for domain management.
      type: object
      properties:
        url:
          description: URL where the single sign-on request is to be made.
          type: string
          readOnly: true
        postParameterKey:
          description: Post parameter key.
          type: string
          readOnly: true
        postParameterValue:
          description: Post parameter value. Client should use 'application/x-www-form-urlencoded' encoding for this value.
          type: string
          readOnly: true
    NameIdentifierCollection:
      description: Collection of domain name identifiers.
      required:
      - value
      type: object
      properties:
        value:
          description: Collection of resources.
          type: array
          items:
            $ref: ../../../Microsoft.Web/stable/2023-01-01/CommonDefinitions.json#/definitions/NameIdentifier
          x-ms-identifiers:
          - name
        nextLink:
          description: Link to next page of resources.
          type: string
          readOnly: true
    DomainRecommendationSearchParameters:
      description: Domain recommendation search parameters.
      type: object
      properties:
        keywords:
          description: Keywords to be used for generating domain recommendations.
          type: string
        maxDomainRecommendations:
          format: int32
          description: Maximum number of recommendations.
          type: integer
    PrivateEndpoint:
      description: PrivateEndpoint information.
      type: object
      properties:
        id:
          description: The ARM identifier for Private Endpoint.
          type: string
    ConnectionState:
      description: ConnectionState information.
      type: object
      properties:
        status:
          description: Status of the connection.
          enum:
          - Pending
          - Approved
          - Rejected
          - Disconnected
          type: string
          x-ms-enum:
            name: PersistedConnectionStatus
            modelAsString: true
        description:
          description: Description of the connection state.
          type: string
        actionsRequired:
          description: Actions required (if any).
          type: string
    DomainUpdateParameters:
      description: Properties of the Domain update.
      type: object
      properties:
        tags:
          description: Tags of the domains resource.
          type: object
          additionalProperties:
            type: string
        properties:
          $ref: '#/components/schemas/DomainUpdateParameterProperties'
          description: Properties of the resource.
          x-ms-client-flatten: true
        identity:
          $ref: '#/components/schemas/IdentityInfo'
          description: Identity information for the resource.
        sku:
          $ref: '#/components/schemas/ResourceSku'
          description: The Sku pricing tier for the domain.
    PrivateEndpointConnection:
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties'
          description: Properties of the PrivateEndpointConnection.
          x-ms-client-flatten: true
    ResourceSku:
      description: Describes an EventGrid Resource Sku.
      type: object
      properties:
        name:
          description: 'The Sku name of the resource. The possible values are: Basic or Premium.'
          default: Basic
          enum:
          - Basic
          - Premium
          type: string
          x-ms-enum:
            name: Sku
            modelAsString: true
    DomainUpdateParameterProperties:
      description: Information of domain update parameter properties.
      type: object
      properties:
        publicNetworkAccess:
          description: "This determines if traffic is allowed over public network. By default it is enabled. \nYou can further restrict to specific IPs by configuring <seealso cref=\"P:Microsoft.Azure.Events.ResourceProvider.Common.Contracts.DomainUpdateParameterProperties.InboundIpRules\" />"
          enum:
          - Enabled
          - Disabled
          type: string
          x-ms-enum:
            name: PublicNetworkAccess
            modelAsString: true
          default: Enabled
        inboundIpRules:
          description: 'This can be used to restrict traffic from specific IPs instead of all IPs. Note: These are considered only if PublicNetworkAccess is enabled.'
          type: array
          items:
            $ref: '#/components/schemas/InboundIpRule'
          x-ms-identifiers: []
        disableLocalAuth:
          description: This boolean is used to enable or disable local auth. Default value is false. When the property is set to true, only AAD token will be used to authenticate if user is allowed to publish to the domain.
          type: boolean
        autoCreateTopicWithFirstSubscription:
          description: 'This Boolean is used to specify the creation mechanism for ''all'' the Event Grid Domain Topics associated with this Event Grid Domain resource.

            In this context, creation of domain topic can be auto-managed (when true) or self-managed (when false). The default value for this property is true.

            When this property is null or set to true, Event Grid is responsible of automatically creating the domain topic when the first event subscription is

            created at the scope of the domain topic. If this property is set to false, then creating the first event subscription will require creating a domain topic

            by the user. The self-management mode can be used if the user wants full control of when the domain topic is created, while auto-managed mode provides the

            flexibility to perform less operations and manage fewer resources by the user. Also, note that in auto-managed creation mode, user is allowed to create the

            domain topic on demand if needed.'
          type: boolean
        autoDeleteTopicWithLastSubscription:
          description: 'This Boolean is used to specify the deletion mechanism for ''all'' the Event Grid Domain Topics associated with this Event Grid Domain resource.

            In this context, deletion of domain topic can be auto-managed (when true) or self-managed (when false). The default value for this property is true.

            When this property is set to true, Event Grid is responsible of automatically deleting the domain topic when the last event subscription at the scope

            of the domain topic is deleted. If this property is set to false, then the user needs to manually delete the domain topic when it is no longer needed

            (e.g., when last event subscription is deleted and the resource needs to be cleaned up). The self-management mode can be used if the user wants full

            control of when the domain topic needs to be deleted, while auto-managed mode provides the flexibility to perform less operations and manage fewer

            resources by the user.'
          type: boolean
        dataResidencyBoundary:
          description: The data residency boundary for the domain.
          enum:
          - WithinGeopair
          - WithinRegion
          type: string
          x-ms-enum:
            name: DataResidencyBoundary
            modelAsString: true
    UserIdentityProperties:
      description: The information about the user identity.
      type: object
      properties:
        principalId:
          description: The principal id of user assigned identity.
          type: string
        clientId:
          description: The client id of user assigned identity.
          type: string
    PrivateEndpointConnectionProperties:
      description: Properties of the private endpoint connection resource.
      type: object
      properties:
        privateEndpoint:
          $ref: '#/components/schemas/PrivateEndpoint'
          description: The Private Endpoint resource for this Connection.
        groupIds:
          description: GroupIds from the private link service resource.
          type: array
          items:
            type: string
        privateLinkServiceConnectionState:
          $ref: '#/components/schemas/ConnectionState'
          description: Details about the state of the connection.
        provisioningState:
          description: Provisioning state of the Private Endpoint Connection.
          enum:
          - Creating
          - Updating
          - Deleting
          - Succeeded
          - Canceled
          - Failed
          type: string
          x-ms-enum:
            name: ResourceProvisioningState
            modelAsString: true
    IdentityInfo:
      description: The identity information for the resource.
      type: object
      properties:
        type:
          description: The type of managed identity used. The type 'SystemAssigned, UserAssigned' includes both an implicitly created identity and a set of user-assigned identities. The type 'None' will remove any identity.
          enum:
          - None
          - SystemAssigned
          - UserAssigned
          - SystemAssigned, UserAssigned
          type: string
          x-ms-enum:
            name: IdentityType
            modelAsString: true
        principalId:
          description: The principal ID of resource identity.
          type: string
        tenantId:
          description: The tenant ID of resource.
          type: string
        userAssignedIdentities:
          description: 'The list of user identities associated with the resource. The user identity dictionary key references will be ARM resource ids in the form:

            ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.

            This property is currently not used and reserved for future usage.'
          type: object
          additionalProperties:
            $ref: '#/components/schemas/UserIdentityProperties'
    Domain_2:
      description: EventGrid Domain.
      type: object
      allOf:
      - $ref: '#/components/schemas/TrackedResource'
      properties:
        properties:
          $ref: '#/components/schemas/DomainProperties'
          description: Properties of the Event Grid Domain resource.
          x-ms-client-flatten: true
        sku:
          $ref: '#/components/schemas/ResourceSku'
          description: The Sku pricing tier for the Event Grid Domain resource.
        identity:
          $ref: '#/components/schemas/IdentityInfo'
          description: Identity information for the Event Grid Domain resource.
        systemData:
          description: The system metadata relating to the Event Grid Domain resource.
          type: object
          readOnly: true
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
    InputSchemaMapping:
      description: By default, Event Grid expects events to be in the Event Grid event schema. Specifying an input schema mapping enables publishing to Event Grid using a custom input schema. Currently, the only supported type of InputSchemaMapping is 'JsonInputSchemaMapping'.
      required:
      - inputSchemaMappingType
      type: object
      properties:
        inputSchemaMappingType:
          description: Type of the custom mapping
          enum:
          - Json
          type: string
          x-ms-enum:
            name: InputSchemaMappingType
            modelAsString: true
      discriminator:
        propertyName: inputSchemaMappingType
    InboundIpRule:
      type: object
      properties:
        ipMask:
          description: IP Address in CIDR notation e.g., 10.0.0.0/8.
          type: string
        action:
          description: Action to perform based on the match or no match of the IpMask.
          enum:
          - Allow
          type: string
          x-ms-enum:
            name: IpActionType
            modelAsString: true
    DomainRegenerateKeyRequest:
      description: Domain regenerate share access key request.
      required:
      - keyName
      type: object
      properties:
        keyName:
          description: Key name to regenerate key1 or key2.
          type: string
    Resource:
      description: Definition of a Resource
      type: object
      properties:
        id:
          description: Fully qualified identifier of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the resource.
          type: string
          readOnly: true
        type:
          description: Type of the resource.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    DomainProperties:
      description: Properties of the Event Grid Domain Resource.
      type: object
      properties:
        privateEndpointConnections:
          description: List of private endpoint connections.
          type: array
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection'
          readOnly: true
        provisioningState:
          description: Provisioning state of the Event Grid Domain Resource.
          enum:
          - Creating
          - Updating
          - Deleting
          - Succeeded
          - Canceled
          - Failed
          type: string
          readOnly: true
          x-ms-enum:
            name: DomainProvisioningState
            modelAsString: true
        endpoint:
          description: Endpoint for the Event Grid Domain Resource which is used for publishing the events.
          type: string
          readOnly: true
        inputSchema:
          description: This determines the format that Event Grid should expect for incoming events published to the Event Grid Domain Resource.
          enum:
          - EventGridSchema
          - CustomEventSchema
          - CloudEventSchemaV1_0
          type: string
          x-ms-enum:
            name: InputSchema
            modelAsString: true
          default: EventGridSchema
        inputSchemaMapping:
          $ref: '#/components/schemas/InputSchemaMapping'
          description: Information about the InputSchemaMapping which specified the info about mapping event payload.
        metricResourceId:
          description: Metric resource id for the Event Grid Domain Resource.
          type: string
          readOnly: true
        publicNetworkAccess:
          description: 'This determines if traffic is allowed over public network. By default it is enabled.

            You can further restrict to specific IPs by configuring <seealso cref="P:Microsoft.Azure.Events.ResourceProvider.Common.Contracts.DomainProperties.InboundIpRules" />'
          enum:
          - Enabled
          - Disabled
          type: string
          x-ms-enum:
            name: PublicNetworkAccess
            modelAsString: true
          default: Enabled
        inboundIpRules:
          description: 'This can be used to restrict traffic from specific IPs instead of all IPs. Note: These are considered only if PublicNetworkAccess is enabled.'
          type: array
          items:
            $ref: '#/components/schemas/InboundIpRule'
          x-ms-identifiers: []
        disableLocalAuth:
          description: This boolean is used to enable or disable local auth. Default value is false. When the property is set to true, only AAD token will be used to authenticate if user is allowed to publish to the domain.
          default: false
          type: boolean
        autoCreateTopicWithFirstSubscription:
          description: 'This Boolean is used to specify the creation mechanism for ''all'' the Event Grid Domain Topics associated with this Event Grid Domain resource.

            In this context, creation of domain topic can be auto-managed (when true) or self-managed (when false). The default value for this property is true.

            When this property is null or set to true, Event Grid is responsible of automatically creating the domain topic when the first event subscription is

            created at the scope of the domain topic. If this property is set to false, then creating the first event subscription will require creating a domain topic

            by the user. The self-management mode can be used if the user wants full control of when the domain topic is created, while auto-managed mode provides the

            flexibility to perform less operations and manage fewer resources by the user. Also, note that in auto-managed creation mode, user is allowed to create the

            domain topic on demand if needed.'
          default: true
          type: boolean
        autoDeleteTopicWithLastSubscription:
          description: 'This Boolean is used to specify the deletion mechanism for ''all'' the Event Grid Domain Topics associated with this Event Grid Domain resource.

            In this context, deletion of domain topic can be auto-managed (when true) or self-managed (when false). The default value for this property is true.

            When this property is set to true, Event Grid is responsible of automatically deleting the domain topic when the last event subscription at the scope

            of the domain topic is deleted. If this property is set to false, then the user needs to manually delete the domain topic when it is no longer needed

            (e.g., when last event subscription is deleted and the resource needs to be cleaned up). The self-management mode can be used if the user wants full

            control of when the domain topic needs to be deleted, while auto-managed mode provides the flexibility to perform less operations and manage fewer

            resources by the user.'
          default: true
          type: boolean
        dataResidencyBoundary:
          description: Data Residency Boundary of the resource.
          enum:
          - WithinGeopair
          - WithinRegion
          type: string
          x-ms-enum:
            name: DataResidencyBoundary
            modelAsString: true
    DomainSharedAccessKeys:
      description: Shared access keys of the Domain.
      type: object
      properties:
        key1:
          description: Shared access key1 for the domain.
          type: string
        key2:
          description: Shared access key2 for the domain.
          type: string
    TrackedResource:
      description: Definition of a Tracked Resource.
      required:
      - location
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        location:
          description: Location of the resource.
          type: string
          x-ms-mutability:
          - read
          - create
        tags:
          description: Tags of the resource.
          type: object
          additionalProperties:
            type: string
    DomainsListResult:
      description: Result of the List Domains operation
      type: object
      properties:
        value:
          description: A collection of Domains
          type: array
          items:
            $ref: '#/components/schemas/Domain_2'
        nextLink:
          description: A link for the next page of domains
          type: string
    DomainCollection_2:
      description: Collection of domains
      type: object
      properties:
        value:
          description: Collection of resources
          type: array
          items:
            $ref: '#/components/schemas/Domain_3'
        nextLink:
          description: Link to next page of resources
          type: string
    DomainPurchaseConsent_2:
      description: Domain purchase consent object representing acceptance of applicable legal agreements
      type: object
      properties:
        agreementKeys:
          description: List of applicable legal agreement keys. This list can be retrieved using ListLegalAgreements Api under TopLevelDomain resource
          type: array
          items:
            type: string
        agreedBy:
          description: Client IP address
          type: string
        agreedAt:
          format: date-time
          description: Timestamp when the agreements were accepted
          type: string
    Contact_2:
      description: Contact information for domain registration. If 'Domain Privacy' option is not selected then the contact information will be made publicly available through the Whois directories as per ICANN requirements.
      type: object
      properties:
        addressMailing:
          $ref: '#/components/schemas/Address_2'
          description: Mailing address
        email:
          description: Email address
          type: string
        fax:
          description: Fax number
          type: string
        jobTitle:
          description: Job title
          type: string
        nameFirst:
          description: First name
          type: string
        nameLast:
          description: Last name
          type: string
        nameMiddle:
          description: Middle name
          type: string
        organization:
          description: Organization
          type: string
        phone:
          description: Phone number
          type: string
    HostName_2:
      description: Details of a hostname derived from a domain
      type: object
      properties:
        name:
          description: Name of the hostname
          type: string
        siteNames:
          description: List of sites the hostname is assigned to. This list will have more than one site only if the hostname is pointing to a Traffic Manager
          type: array
          items:
            type: string
        azureResourceName:
          description: Name of the Azure resource the hostname is assigned to. If it is assigned to a traffic manager then it will be the traffic manager name otherwise it will be the website name
          type: string
        azureResourceType:
          description: Type of the Azure resource the hostname is assigned to
          enum:
          - Website
          - TrafficManager
          type: string
          x-ms-enum:
            name: AzureResourceType
            modelAsString: false
        customHostNameDnsRecordType:
          description: Type of the Dns record
          enum:
          - CName
          - A
          type: string
          x-ms-enum:
            name: CustomHostNameDnsRecordType
            modelAsString: false
        hostNameType:
          description: Type of the hostname
          enum:
          - Verified
          - Managed
          type: string
          x-ms-enum:
            name: HostNameType
            modelAsString: false
    Address_2:
      description: Address information for domain registration
      type: object
      properties:
        address1:
          description: Address 1
          type: string
        address2:
          description: Address 2
          type: string
        city:
          description: City
          type: string
        country:
          description: Country
          type: string
        postalCode:
          description: Postal code
          type: string
        state:
          description: State
          type: string
    Domain_3:
      description: Represents a domain
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource_2'
      properties:
        properties:
          properties:
            contactAdmin:
              $ref: '#/components/schemas/Contact_2'
              description: Admin contact information
            contactBilling:
              $ref: '#/components/schemas/Contact_2'
              description: Billing contact information
            contactRegistrant:
              $ref: '#/components/schemas/Contact_2'
              description: Registrant contact information
            contactTech:
              $ref: '#/components/schemas/Contact_2'
              description: Technical contact information
            registrationStatus:
              description: Domain registration status
              enum:
              - Active
              - Awaiting
              - Cancelled
              - Confiscated
              - Disabled
              - Excluded
              - Expired
              - Failed
              - Held
              - Locked
              - Parked
              - Pending
              - Reserved
              - Reverted
              - Suspended
              - Transferred
              - Unknown
              - Unlocked
              - Unparked
              - Updated
              - JsonConverterFailed
              type: string
              x-ms-enum:
                name: DomainStatus
                modelAsString: false
            provisioningState:
              description: Domain provisioning state
              enum:
              - Succeeded
              - Failed
              - Canceled
              - InProgress
              - Deleting
              type: string
              x-ms-enum:
                name: ProvisioningState
                modelAsString: false
            nameServers:
              description: Name servers
              type: array
              items:
                type: string
            privacy:
              description: If true then domain privacy is enabled for this domain
              type: boolean
            createdTime:
              format: date-time
              description: Domain creation timestamp
              type: string
            expirationTime:
              format: date-time
              description: Domain expiration timestamp
              type: string
            lastRenewedTime:
              format: date-time
              description: Timestamp when the domain was renewed last time
              type: string
            autoRenew:
              description: If true then domain will renewed automatically
              type: boolean
            readyForDnsRecordManagement:
              description: If true then Azure can assign this domain to Web Apps. This value will be true if domain registration status is active and it is hosted on name servers Azure has programmatic access to
              type: boolean
            managedHostNames:
              description: All hostnames derived from the domain and assigned to Azure resources
              type: array
              items:
                $ref: '#/components/schemas/HostName_2'
            consent:
              $ref: '#/components/schemas/DomainPurchaseConsent_2'
              description: Legal agreement consent
            domainNotRenewableReasons:
              description: Reasons why domain is not renewable
              type: array
              items:
                enum:
                - RegistrationStatusNotSupportedForRenewal
                - ExpirationNotInRenewalTimeRange
                - SubscriptionNotActive
                type: string
          x-ms-client-flatten: true
    Resource_2:
      required:
      - location
      properties:
        id:
          description: Resource Id
          type: string
        name:
          description: Resource Name
          type: string
        kind:
          description: Kind of resource
          type: string
        location:
          description: Resource Location
          type: string
        type:
          description: Resource type
          type: string
        tags:
          description: Resource tags
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
    Object:
      type: object
      properties: {}
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).
      required: true
      schema:
        type: string
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: Name of the resource group to which the resource belongs.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
        pattern: ^[-\w\._\(\)]+[^\.]$
    apiVersionParameter:
      name: api-version
      in: query
      description: API Version
      required: true
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Version of the API to be used with the client request.
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      required: true
      schema:
        type: string
    TopParameter:
      name: $top
      in: query
      description: The number of results to return per page for the list operation. Valid range for top parameter is 1 to 100. If not specified, the default number of results to be returned is 20 items per page.
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
    FilterParameter:
      name: $filter
      in: query
      description: 'The query used to filter the search results using OData syntax. Filtering is permitted on the ''name'' property only and with limited number of OData operations. These operations are: the ''contains'' function as well as the following logical operations: not, and, or, eq (for equal), and ne (for not equal). No arithmetic operations are supported. The following is a valid filter example: $filter=contains(namE, ''PATTERN'') and name ne ''PATTERN-1''. The following is not a valid filter example: $filter=location eq ''westus''.'
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    subscriptionIdParameter_2:
      name: subscriptionId
      in: path
      description: Subscription Id
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- domains-api-client-openapi-original.yml
- eventgridmanagementclient-openapi-original.yml
- website-management-client-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
