openapi: 3.2.0
info:
  title: Microsoft Azure Azure Addons Resource Provider Addon Status…
  description: The service for managing third party addons.
  version: '2018-03-01'
servers:
- url: https://management.azure.com
tags:
- name: AddonStatus
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Addons/supportProviders/canonical/listSupportPlanInfo:
    post:
      tags:
      - AddonStatus
      operationId: microsoftAzureSupportplantypesListinfo
      description: Returns the canonical support plan information for all types for the subscription.
      x-ms-examples:
        CanonicalListSupportPlanInfo_Post:
          $ref: ./examples/CanonicalListSupportPlanInfo_Post.json
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CanonicalSupportPlanInfo'
        '404':
          description: Not Found
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDefinition'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft Addons…
components:
  schemas:
    CanonicalSupportPlanInfoDefinition:
      type: object
      description: Definition object with the properties of a canonical plan
      properties:
        supportPlanType:
          type: string
          description: Support plan type.
          enum:
          - essential
          - standard
          - advanced
          x-ms-enum:
            name: SupportPlanType
            modelAsString: true
        enabled:
          type: boolean
          description: Flag to indicate if this support plan type is currently enabled for the subscription.
        oneTimeCharge:
          type: string
          description: The one time charge status for the subscription.
          enum:
          - 'no'
          - onEnabled
          - onReenabled
          x-ms-enum:
            name: OneTimeCharge
            modelAsString: true
    ErrorDefinition:
      type: object
      title: Error
      description: Error description and code explaining why an operation failed.
      required:
      - message
      - code
      properties:
        message:
          type: string
          description: Description of the error.
        code:
          type: string
          description: Service specific error code which serves as the substatus for the HTTP error code.
    CanonicalSupportPlanInfo:
      type: array
      title: Canonical Support Plan Info
      description: The status of all Canonical support plans for a subscription.
      items:
        $ref: '#/components/schemas/CanonicalSupportPlanInfoDefinition'
      x-ms-identifiers: []
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Subscription credentials that uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
