openapi: 3.2.0
info:
  title: Microsoft Azure CustomerInsightsManagementClient Connector…
  description: The Azure Customer Insights management API provides a RESTful set of web services that interact with Azure Customer Insights service to manage your resources. The API has entities that capture the relationship between an end user and the Azure Customer Insights service.
  version: '2017-04-26'
  x-ms-code-generation-settings:
    name: CustomerInsightsManagementClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ConnectorMappings
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/connectors/{connectorName}/mappings/{mappingName}
  : put:
      tags:
      - ConnectorMappings
      operationId: microsoftAzureConnectormappingsCreateorupdate
      x-ms-examples:
        ConnectorMappings_CreateOrUpdate:
          $ref: ./examples/ConnectorMappingsCreateOrUpdate.json
      description: Creates a connector mapping or updates an existing connector mapping in the connector.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hubName
        in: path
        required: true
        description: The name of the hub.
        schema:
          type: string
      - name: connectorName
        in: path
        required: true
        description: The name of the connector.
        schema:
          type: string
      - name: mappingName
        in: path
        required: true
        description: The name of the connector mapping.
        schema:
          type: string
          maxLength: 128
          minLength: 1
          pattern: ^[a-zA-Z][a-zA-Z0-9_]+$
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. Successfully created the connector mapping.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorMappingResourceFormat'
        '201':
          description: Created. A new connector mapping is created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorMappingResourceFormat'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorMappingResourceFormat'
        description: Parameters supplied to the CreateOrUpdate Connector Mapping operation.
        required: true
    get:
      tags:
      - ConnectorMappings
      operationId: microsoftAzureConnectormappingsGet
      x-ms-examples:
        ConnectorMappings_Get:
          $ref: ./examples/ConnectorMappingsGet.json
      description: Gets a connector mapping in the connector.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hubName
        in: path
        required: true
        description: The name of the hub.
        schema:
          type: string
      - name: connectorName
        in: path
        required: true
        description: The name of the connector.
        schema:
          type: string
      - name: mappingName
        in: path
        required: true
        description: The name of the connector mapping.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. Successfully get the connector mapping.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorMappingResourceFormat'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    delete:
      tags:
      - ConnectorMappings
      operationId: microsoftAzureConnectormappingsDelete
      x-ms-examples:
        ConnectorMappings_Delete:
          $ref: ./examples/ConnectorMappingsDelete.json
      description: Deletes a connector mapping in the connector.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hubName
        in: path
        required: true
        description: The name of the hub.
        schema:
          type: string
      - name: connectorName
        in: path
        required: true
        description: The name of the connector.
        schema:
          type: string
      - name: mappingName
        in: path
        required: true
        description: The name of the connector mapping.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. The connector mapping is deleted.
        '204':
          description: NoContent. Successfully requested delete operation, but the response is intentionally empty.
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/connectors/{connectorName}/mappings
  : get:
      tags:
      - ConnectorMappings
      operationId: microsoftAzureConnectormappingsListbyconnector
      x-ms-examples:
        ConnectorMappings_ListByConnector:
          $ref: ./examples/ConnectorMappingsListByConnector.json
      description: Gets all the connector mappings in the specified connector.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: hubName
        in: path
        required: true
        description: The name of the hub.
        schema:
          type: string
      - name: connectorName
        in: path
        required: true
        description: The name of the connector.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. Successfully get all the connector mappings in the connector.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorMappingListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    ConnectorMappingAvailability:
      required:
      - interval
      properties:
        frequency:
          type: string
          enum:
          - Minute
          - Hour
          - Day
          - Week
          - Month
          x-ms-enum:
            name: FrequencyTypes
            modelAsString: false
          description: The frequency to update.
        interval:
          type: integer
          description: The interval of the given frequency to use.
      description: Connector mapping property availability.
    ProxyResource:
      properties:
        id:
          readOnly: true
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
      x-ms-azure-resource: true
      description: Common properties of proxy resource.
    ConnectorMappingListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ConnectorMappingResourceFormat'
          description: Results of the list operation.
        nextLink:
          type: string
          description: Link to the next set of results.
      description: The response of list connector mapping operation.
    ConnectorType:
      type: string
      enum:
      - None
      - CRM
      - AzureBlob
      - Salesforce
      - ExchangeOnline
      - Outbound
      x-ms-enum:
        name: ConnectorTypes
        modelAsString: true
      description: Type of connector.
    ConnectorMappingCompleteOperation:
      properties:
        completionOperationType:
          type: string
          enum:
          - DoNothing
          - DeleteFile
          - MoveFile
          x-ms-enum:
            name: CompletionOperationTypes
            modelAsString: false
          description: The type of completion operation.
        destinationFolder:
          type: string
          description: The destination folder where files will be moved to once the import is done.
      description: The complete operation.
    ConnectorMappingResourceFormat:
      description: The connector mapping resource format.
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ConnectorMapping'
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
    ConnectorMappingFormat:
      required:
      - formatType
      properties:
        formatType:
          type: string
          enum:
          - TextFormat
          x-ms-enum:
            name: FormatTypes
            modelAsString: false
          description: The type mapping format.
        columnDelimiter:
          type: string
          description: The character that signifies a break between columns.
        acceptLanguage:
          type: string
          description: The oData language.
        quoteCharacter:
          type: string
          description: Quote character, used to indicate enquoted fields.
        quoteEscapeCharacter:
          type: string
          description: Escape character for quotes, can be the same as the quoteCharacter.
        arraySeparator:
          type: string
          description: Character separating array elements.
      description: Connector mapping property format.
    ConnectorMappingStructure:
      required:
      - propertyName
      - columnName
      properties:
        propertyName:
          type: string
          description: The property name of the mapping entity.
        columnName:
          type: string
          description: The column name of the import file.
        customFormatSpecifier:
          type: string
          description: Custom format specifier for input parsing.
        isEncrypted:
          type: boolean
          description: Indicates if the column is encrypted.
      description: Connector mapping property structure.
    ConnectorMapping:
      required:
      - entityType
      - entityTypeName
      - mappingProperties
      properties:
        connectorName:
          type: string
          readOnly: true
          description: The connector name.
        connectorType:
          $ref: '#/components/schemas/ConnectorType'
          description: Type of connector.
        created:
          type: string
          readOnly: true
          format: date-time
          description: The created time.
        lastModified:
          type: string
          readOnly: true
          format: date-time
          description: The last modified time.
        entityType:
          type: string
          enum:
          - None
          - Profile
          - Interaction
          - Relationship
          x-ms-enum:
            name: EntityTypes
            modelAsString: false
          description: Defines which entity type the file should map to.
        entityTypeName:
          type: string
          description: The mapping entity name.
        connectorMappingName:
          type: string
          readOnly: true
          description: The connector mapping name
        displayName:
          type: string
          description: Display name for the connector mapping.
        description:
          type: string
          description: The description of the connector mapping.
        dataFormatId:
          type: string
          readOnly: true
          description: The DataFormat ID.
        mappingProperties:
          $ref: '#/components/schemas/ConnectorMappingProperties'
          description: The properties of the mapping.
        nextRunTime:
          type: string
          readOnly: true
          format: date-time
          description: The next run time based on customer's settings.
        runId:
          type: string
          readOnly: true
          description: The RunId.
        state:
          type: string
          readOnly: true
          enum:
          - Creating
          - Created
          - Failed
          - Ready
          - Running
          - Stopped
          - Expiring
          x-ms-enum:
            name: ConnectorMappingStates
            modelAsString: false
          description: State of connector mapping.
        tenantId:
          type: string
          readOnly: true
          description: The hub name.
      description: The connector mapping definition.
    ConnectorMappingProperties:
      required:
      - availability
      - completeOperation
      - errorManagement
      - format
      - structure
      properties:
        folderPath:
          type: string
          description: The folder path for the mapping.
        fileFilter:
          type: string
          description: The file filter for the mapping.
        hasHeader:
          type: boolean
          description: If the file contains a header or not.
        errorManagement:
          $ref: '#/components/schemas/ConnectorMappingErrorManagement'
          description: The error management setting for the mapping.
        format:
          $ref: '#/components/schemas/ConnectorMappingFormat'
          description: The format of mapping property.
        availability:
          $ref: '#/components/schemas/ConnectorMappingAvailability'
          description: The availability of mapping property.
        structure:
          type: array
          items:
            $ref: '#/components/schemas/ConnectorMappingStructure'
          description: Ingestion mapping information at property level.
        completeOperation:
          $ref: '#/components/schemas/ConnectorMappingCompleteOperation'
          description: The operation after import is done.
      description: The connector mapping properties.
    ConnectorMappingErrorManagement:
      required:
      - errorManagementType
      properties:
        errorManagementType:
          type: string
          enum:
          - RejectAndContinue
          - StopImport
          - RejectUntilLimit
          x-ms-enum:
            name: ErrorManagementTypes
            modelAsString: false
          description: The type of error management to use for the mapping.
        errorLimit:
          type: integer
          description: The error limit allowed while importing data.
      description: The error management.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
