openapi: 3.2.0
info:
  title: Microsoft Azure Test Base Test Base Account API
  description: Test Base
  version: 2020-12-16-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Test Base Account
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.TestBase/skus:
    get:
      tags:
      - Test Base Account
      operationId: microsoftAzureSkusList
      description: Lists the available SKUs of Test Base Account in a subscription.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: The operation is completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestBaseAccountSKUListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        TestBaseAccountSKUsList:
          $ref: ./examples/TestBaseAccountSKUsList.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Testbase…
  /subscriptions/{subscriptionId}/providers/Microsoft.TestBase/testBaseAccounts:
    get:
      tags:
      - Test Base Account
      operationId: microsoftAzureTestbaseaccountsListbysubscription
      description: Lists all the Test Base Accounts in a subscription. This API is required by ARM guidelines.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/TestBaseAccountIncludeSoftDeletedParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: The operation is completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestBaseAccountListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        TestBaseAccountsListBySubscription:
          $ref: ./examples/TestBaseAccountsListBySubscription.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Testbase…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts:
    get:
      tags:
      - Test Base Account
      operationId: microsoftAzureTestbaseaccountsListbyresourcegroup
      description: Lists all the Test Base Accounts in a resource group.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/TestBaseAccountIncludeSoftDeletedParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: The operation is completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestBaseAccountListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        TestBaseAccountsList:
          $ref: ./examples/TestBaseAccountsList.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}
  : put:
      tags:
      - Test Base Account
      operationId: microsoftAzureTestbaseaccountsCreate
      description: Create or replace (overwrite/recreate, with potential downtime) a Test Base Account in the specified subscription.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/TestBaseAccountNameParameter'
      - $ref: '#/components/parameters/TestBaseAccountRestoreSoftDeletedParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: The Test Base Account was successfully created or updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestBaseAccountResource'
        '201':
          description: The Test Base Account 'create' or 'update' operation was successfully enqueued. Check provisioningState to see detailed status.
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the operation.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestBaseAccountResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        TestBaseAccountCreate:
          $ref: ./examples/TestBaseAccountCreate.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestBaseAccountResource'
        description: Parameters supplied to create a Test Base Account.
        required: true
    patch:
      tags:
      - Test Base Account
      operationId: microsoftAzureTestbaseaccountsUpdate
      description: Update an existing Test Base Account.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/TestBaseAccountNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: The existing Test Base Account was successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestBaseAccountResource'
        '201':
          description: The Test Base Account 'update' operation was successfully enqueued. Follow the Location header to poll for final outcome.
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the operation.
              schema:
                type: string
            Location:
              description: URL to query for status of the operation.
              schema:
                type: string
        '202':
          description: The Test Base Account 'update' operation was successfully enqueued. Follow the Location header to poll for final outcome.
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the operation.
              schema:
                type: string
            Location:
              description: URL to query for status of the operation.
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        TestBaseAccountUpdate:
          $ref: ./examples/TestBaseAccountUpdate.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestBaseAccountUpdateParameters'
        description: Parameters supplied to update a Test Base Account.
        required: true
    delete:
      tags:
      - Test Base Account
      operationId: microsoftAzureTestbaseaccountsDelete
      description: Deletes a Test Base Account.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/TestBaseAccountNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: The Test Base Account 'delete' operation was completed successfully.
        '202':
          description: The Test Base Account 'delete' operation was successfully enqueued. Follow the Location header to poll for final outcome.
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the operation.
              schema:
                type: string
            Location:
              description: URL to query for status of the operation.
              schema:
                type: string
        '204':
          description: The Test Base Account 'delete' operation was completed successfully.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        TestBaseAccountDelete:
          $ref: ./examples/TestBaseAccountDelete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    get:
      tags:
      - Test Base Account
      operationId: microsoftAzureTestbaseaccountsGet
      description: Gets a Test Base Account.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/TestBaseAccountNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: The Test Base Account was successfully found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestBaseAccountResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        TestBaseAccountGet:
          $ref: ./examples/TestBaseAccountGet.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/offboard
  : post:
      tags:
      - Test Base Account
      operationId: microsoftAzureTestbaseaccountsOffboard
      description: Offboard a Test Base Account.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/TestBaseAccountNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: The Test Base Account 'offboard' operation was completed successfully.
        '202':
          description: The Test Base Account 'offboard' operation was successfully enqueued. Follow the Location header to poll for final outcome.
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the operation.
              schema:
                type: string
            Location:
              description: URL to query for status of the operation.
              schema:
                type: string
        '204':
          description: The Test Base Account 'offboard' operation was completed successfully.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        TestBaseAccountOffboard:
          $ref: ./examples/TestBaseAccountOffboard.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/usages
  : get:
      tags:
      - Test Base Account
      operationId: microsoftAzureUsageList
      description: Lists the usage data of a Test Base Account.
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/TestBaseAccountNameParameter'
      - $ref: '#/components/parameters/FilterParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: The usage of the Test Base Account was returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestBaseAccountUsageDataList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        TestBaseAccountUsagesList:
          $ref: ./examples/TestBaseAccountUsagesList.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    TestBaseAccountSKU:
      description: Describes a Test Base Account SKU.
      properties:
        resourceType:
          type: string
          description: The type of resource the SKU applies to.
        name:
          type: string
          description: The name of the SKU. This is typically a letter + number code, such as B0 or S0.
        tier:
          type: string
          description: The tier of this particular SKU.
          enum:
          - Standard
          x-ms-enum:
            name: tier
            modelAsString: true
        capabilities:
          type: array
          description: The capabilities of a SKU.
          readOnly: true
          items:
            $ref: '#/components/schemas/TestBaseAccountSKUCapability'
        locations:
          description: The locations that the SKU is available.
          uniqueItems: false
          type: array
          items:
            type: string
      required:
      - name
      - tier
    TestBaseAccountResourceProperties:
      description: The properties of a Test Base Account resource.
      properties:
        provisioningState:
          description: The provisioning state of the resource.
          $ref: '#/components/schemas/ProvisioningState'
        sku:
          description: The SKU of the Test Base Account.
          $ref: '#/components/schemas/TestBaseAccountSKU'
        accessLevel:
          description: The access level of the Test Base Account.
          readOnly: true
          type: string
      required:
      - sku
    TestBaseAccountUsageData:
      description: The usage data of a Test Base Account.
      properties:
        id:
          description: Fully qualified ARM resource id
          type: string
        name:
          $ref: '#/components/schemas/TestBaseAccountUsageName'
          description: Localizable String object containing the name and a localized value.
        unit:
          description: 'Representing the units of the usage quota. Possible values are: Count, Bytes, Seconds, Percent, CountPerSecond, BytesPerSecond.'
          type: string
        limit:
          format: int64
          description: The maximum permitted value for the usage quota. If there is no limit, this value will be -1.
          type: integer
        currentValue:
          format: int64
          description: Current value for the usage quota.
          type: integer
    ProvisioningState:
      type: string
      description: ARM provisioning state, see https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/Addendum.md#provisioningstate-property
      enum:
      - Succeeded
      - Failed
      - Cancelled
      - Creating
      - Deleting
      - Updating
      readOnly: true
      x-ms-enum:
        name: provisioningState
        modelAsString: true
    TestBaseAccountSKUCapability:
      description: Properties of the Test Base Account SKU Capability.
      properties:
        name:
          type: string
          description: An invariant to describe the feature, such as 'SLA'.
        value:
          type: string
          description: An invariant if the feature is measured by quantity, such as 99.9%.
      required:
      - name
      - value
    ErrorDefinition:
      description: Error definition.
      properties:
        code:
          description: The error code.
          type: string
          readOnly: true
        message:
          description: The error message.
          type: string
          readOnly: true
        target:
          type: string
          description: The target of the particular error.
          readOnly: true
        details:
          description: The error details.
          type: array
          items:
            $ref: '#/components/schemas/ErrorDefinition'
          readOnly: true
    TestBaseAccountUsageDataList:
      description: A list of Test Base Account usage data.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/TestBaseAccountUsageData'
          description: The list of Test Base Account usage data.
        nextLink:
          type: string
          readOnly: true
          description: Link to the next set of results. Not empty if value contains incomplete list of results.
    TestBaseAccountUpdateParameterProperties:
      description: Parameters supplied to update a Test Base Account.
      properties:
        sku:
          description: The SKU of the Test Base Account.
          $ref: '#/components/schemas/TestBaseAccountSKU'
    ErrorResponse:
      description: The error response send when an operation fails.
      properties:
        error:
          $ref: '#/components/schemas/ErrorDefinition'
          description: The error details.
    TestBaseAccountResource:
      description: The Test Base Account resource.
      properties:
        systemData:
          description: The system metadata relating to this resource
          $ref: '#/components/schemas/SystemData'
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/TestBaseAccountResourceProperties'
          description: Properties of a Test Base Account.
      allOf:
      - $ref: '#/components/schemas/TrackedResource'
    TestBaseAccountListResult:
      description: A list of Test Base Accounts.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/TestBaseAccountResource'
          description: The list of Test Base Accounts.
        nextLink:
          type: string
          readOnly: true
          description: Link to the next set of results. Not empty if value contains incomplete list of results.
    TestBaseAccountSKUListResult:
      description: A list of Test Base Account SKUs.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/TestBaseAccountSKU'
          description: The list of Test Base Account SKUs.
        nextLink:
          type: string
          readOnly: true
          description: Link to the next set of results. Not empty if value contains incomplete list of results.
    Resource:
      description: The Resource definition.
      properties:
        id:
          readOnly: true
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
      x-ms-azure-resource: true
    TestBaseAccountUsageName:
      description: Localizable String object containing the name and a localized value.
      type: object
      properties:
        value:
          description: The identifier of the usage.
          type: string
        localizedValue:
          description: Localized name of the usage.
          type: string
    SystemData:
      description: Metadata pertaining to creation and last modification of the resource.
      type: object
      readOnly: true
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The type of identity that last modified the resource.
    TestBaseAccountUpdateParameters:
      description: Parameters supplied to update a Test Base Account.
      properties:
        properties:
          $ref: '#/components/schemas/TestBaseAccountUpdateParameterProperties'
          x-ms-client-flatten: true
          description: Test Base Account update parameters.
        tags:
          description: The tags of the Test Base Account.
          $ref: '#/components/schemas/Tags'
    Tags:
      type: object
      additionalProperties:
        type: string
      description: Resource tags.
    TrackedResource:
      description: The resource model definition for an ARM tracked top level resource
      properties:
        tags:
          description: The tags of the resource.
          $ref: '#/components/schemas/Tags'
        location:
          type: string
          x-ms-mutability:
          - read
          - create
          description: The geo-location where the resource lives
        etag:
          type: string
          readOnly: true
          description: Resource Etag.
      required:
      - location
      allOf:
      - $ref: '#/components/schemas/Resource'
  parameters:
    TestBaseAccountIncludeSoftDeletedParameter:
      name: getDeleted
      in: query
      required: false
      x-ms-parameter-location: method
      description: The flag indicating if we need to include the Test Base Accounts which were soft deleted before.
      schema:
        type: boolean
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to be used with the HTTP request.
      schema:
        type: string
    TestBaseAccountRestoreSoftDeletedParameter:
      name: restore
      in: query
      required: false
      x-ms-parameter-location: method
      description: The flag indicating if we would like to restore the Test Base Accounts which were soft deleted before.
      schema:
        type: boolean
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The Azure subscription ID. This is a GUID-formatted string.
      schema:
        type: string
    TestBaseAccountNameParameter:
      name: testBaseAccountName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The resource name of the Test Base Account.
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The name of the resource group that contains the resource.
      schema:
        type: string
    FilterParameter:
      name: $filter
      in: query
      x-ms-parameter-location: method
      description: Odata filter
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
