openapi: 3.2.0
info:
  title: Microsoft Azure TrafficManagerManagementClient Real User…
  version: 2017-09-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: RealUserMetrics
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/trafficManagerUserMetricsKeys:
    get:
      tags:
      - RealUserMetrics
      operationId: microsoftAzureTrafficmanagerusermetricskeysGet
      description: Get the subscription-level key used for Real User Metrics collection.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The subscription-level Traffic Manager Real User Metrics key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficManagerUserMetricsKeyModel'
        default:
          description: Default response. It will be deserialized as per the Error definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        TrafficManagerUserMetricsKeys-GET:
          $ref: ./examples/TrafficManagerUserMetricsKeys-GET.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Network…
    put:
      tags:
      - RealUserMetrics
      operationId: microsoftAzureTrafficmanagerusermetricskeysCreateorupdate
      description: Create or update a subscription-level key used for Real User Metrics collection.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '201':
          description: A new subscription-level key has been created for Real User Metrics collection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrafficManagerUserMetricsKeyModel'
        default:
          description: Default response. It will be deserialized as per the Error definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        TrafficManagerUserMetricsKeys-PUT:
          $ref: ./examples/TrafficManagerUserMetricsKeys-PUT.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Providers Microsoft Network…
    delete:
      tags:
      - RealUserMetrics
      operationId: microsoftAzureTrafficmanagerusermetricskeysDelete
      description: Delete a subscription-level key used for Real User Metrics collection.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The Traffic Manager Real User Metrics key was deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteOperationResult'
        default:
          description: Default response. It will be deserialized as per the Error definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        TrafficManagerUserMetricsKeys-DELETE:
          $ref: ./examples/TrafficManagerUserMetricsKeys-DELETE.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Providers Microsoft Network…
components:
  schemas:
    CloudError:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: The content of the error.
      description: An error returned by the Azure Resource Manager
      x-ms-external: true
    ProxyResource:
      description: The resource model definition for a ARM proxy resource. It will have everything other than required location and tags
      allOf:
      - $ref: '#/components/schemas/Resource'
    DeleteOperationResult:
      properties:
        boolean:
          type: boolean
          x-ms-client-name: operationResult
          readOnly: true
          description: The result of the operation or request.
      description: The result of the request or operation.
    CloudErrorBody:
      type: object
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Error message
        target:
          type: string
          description: Error target
        details:
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          description: Error details
      description: The content of an error returned by the Azure Resource Manager
      x-ms-external: true
    TrafficManagerUserMetricsKeyModel:
      properties:
        id:
          type: string
          description: Fully qualified resource Id for the resource. Ex - /providers/Microsoft.Network/trafficManagerUserMetricsKeys
        name:
          type: string
          description: The word default.
        type:
          type: string
          description: The type of the resource. Ex- Microsoft.Network/trafficManagerUserMetricsKeys.
        key:
          type: string
          description: The key returned by the Real User Metrics operation.
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: Class representing a Traffic Manager Real User Metrics key response.
    Resource:
      description: The core properties of ARM resources
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficManagerProfiles/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. Ex- Microsoft.Network/trafficManagerProfiles.
      x-ms-azure-resource: true
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client Api Version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
