openapi: 3.2.0
info:
  version: 2018-06-01-preview
  title: Microsoft Azure BlockchainManagementClient Blockchain…
  description: REST API for Azure Blockchain Service
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: BlockchainMember
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}
  : get:
      tags:
      - BlockchainMember
      description: Get details about a blockchain member.
      operationId: microsoftAzureBlockchainmembersGet
      parameters:
      - name: blockchainMemberName
        in: path
        description: Blockchain member name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainMember'
      x-ms-examples:
        BlockchainMembers_Get:
          $ref: ./examples/BlockchainMembers_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - BlockchainMember
      description: Create a blockchain member.
      operationId: microsoftAzureBlockchainmembersCreate
      parameters:
      - name: blockchainMemberName
        in: path
        description: Blockchain member name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainMember'
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainMember'
      x-ms-long-running-operation: true
      x-ms-examples:
        BlockchainMembers_Create:
          $ref: ./examples/BlockchainMembers_Create.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockchainMember'
        description: Payload to create a blockchain member.
    delete:
      tags:
      - BlockchainMember
      description: Delete a blockchain member.
      operationId: microsoftAzureBlockchainmembersDelete
      parameters:
      - name: blockchainMemberName
        in: path
        description: Blockchain member name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      responses:
        '202':
          description: Success
        '204':
          description: Success
      x-ms-long-running-operation: true
      x-ms-examples:
        BlockchainMembers_Delete:
          $ref: ./examples/BlockchainMembers_Delete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    patch:
      tags:
      - BlockchainMember
      description: Update a blockchain member.
      operationId: microsoftAzureBlockchainmembersUpdate
      parameters:
      - name: blockchainMemberName
        in: path
        description: Blockchain member name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainMember'
      x-ms-examples:
        BlockchainMembers_Update:
          $ref: ./examples/BlockchainMembers_Update.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockchainMemberUpdate'
        description: Payload to update the blockchain member.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers:
    get:
      tags:
      - BlockchainMember
      description: Lists the blockchain members for a resource group.
      operationId: microsoftAzureBlockchainmembersList
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainMemberCollection'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        BlockchainMembers_List:
          $ref: ./examples/BlockchainMembers_List.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/providers/Microsoft.Blockchain/blockchainMembers:
    get:
      tags:
      - BlockchainMember
      description: Lists the blockchain members for a subscription.
      operationId: microsoftAzureBlockchainmembersListall
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainMemberCollection'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        BlockchainMembers_ListAll:
          $ref: ./examples/BlockchainMembers_ListAll.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Blockchain…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/consortiumMembers
  : get:
      tags:
      - BlockchainMember
      description: Lists the consortium members for a blockchain member.
      operationId: microsoftAzureBlockchainmembersListconsortiummembers
      parameters:
      - name: blockchainMemberName
        in: path
        description: Blockchain member name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsortiumMemberCollection'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        BlockchainMembers_ListConsortiumMembers:
          $ref: ./examples/BlockchainMembers_ListConsortiumMembers.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/listApiKeys
  : post:
      tags:
      - BlockchainMember
      description: Lists the API keys for a blockchain member.
      operationId: microsoftAzureBlockchainmembersListapikeys
      parameters:
      - name: blockchainMemberName
        in: path
        description: Blockchain member name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyCollection'
      x-ms-examples:
        BlockchainMembers_ListApiKeys:
          $ref: ./examples/BlockchainMembers_ListApiKeys.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Blockchain/blockchainMembers/{blockchainMemberName}/regenerateApiKeys
  : post:
      tags:
      - BlockchainMember
      description: Regenerate the API keys for a blockchain member.
      operationId: microsoftAzureBlockchainmembersListregenerateapikeys
      parameters:
      - name: blockchainMemberName
        in: path
        description: Blockchain member name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyCollection'
      x-ms-examples:
        BlockchainMembers_ListRegenerateApiKeys:
          $ref: ./examples/BlockchainMembers_ListRegenerateApiKeys.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKey'
        description: api key to be regenerate
components:
  schemas:
    ConsortiumMember:
      description: Consortium approval
      type: object
      properties:
        name:
          description: Gets the consortium member name.
          type: string
        displayName:
          description: Gets the consortium member display name.
          type: string
        subscriptionId:
          description: Gets the consortium member subscription id.
          type: string
        role:
          description: Gets the consortium member role.
          type: string
        status:
          description: Gets the consortium member status.
          type: string
        joinDate:
          format: date-time
          description: Gets the consortium member join date.
          type: string
        dateModified:
          format: date-time
          description: Gets the consortium member modified date.
          type: string
    FirewallRule:
      description: Ip range for firewall rules
      type: object
      properties:
        ruleName:
          description: Gets or sets the name of the firewall rules.
          type: string
        startIpAddress:
          description: Gets or sets the start IP address of the firewall rule range.
          type: string
        endIpAddress:
          description: Gets or sets the end IP address of the firewall rule range.
          type: string
    BlockchainMemberUpdate:
      description: Update the payload of the blockchain member which is exposed in the request/response of the resource provider.
      type: object
      properties:
        tags:
          description: Tags of the service which is a list of key value pairs that describes the resource.
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
        properties:
          $ref: '#/components/schemas/BlockchainMemberPropertiesUpdate'
          description: Gets or sets the blockchain member update properties.
          x-ms-client-flatten: true
    TransactionNodePropertiesUpdate:
      description: Update the payload of the transaction node properties in the transaction node payload.
      type: object
      properties:
        password:
          description: Sets the transaction node dns endpoint basic auth password.
          type: string
        firewallRules:
          description: Gets or sets the firewall rules.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/FirewallRule'
          x-ms-identifiers:
          - ruleName
    BlockchainMemberCollection:
      description: Collection of the blockchain member payload which is exposed in the request/response of the resource provider.
      type: object
      properties:
        value:
          description: Gets or sets the collection of blockchain members.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/BlockchainMember'
        nextLink:
          description: 'Gets or sets the URL, that the client should use to fetch the next page (per server side paging).

            It''s null for now, added for future use.'
          type: string
    ConsortiumMemberCollection:
      description: Collection of consortium payload.
      type: object
      properties:
        value:
          description: Gets or sets the collection of consortiums.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/ConsortiumMember'
          x-ms-identifiers:
          - name
        nextLink:
          description: 'Gets or sets the URL, that the client should use to fetch the next page (per server side paging).

            It''s null for now, added for future use.'
          type: string
    BlockchainMember:
      description: Payload of the blockchain member which is exposed in the request/response of the resource provider.
      type: object
      allOf:
      - $ref: '#/components/schemas/TrackedResource'
      properties:
        properties:
          $ref: '#/components/schemas/BlockchainMemberProperties'
          description: Gets or sets the blockchain member properties.
          x-ms-client-flatten: true
        sku:
          $ref: '#/components/schemas/Sku'
          description: Gets or sets the blockchain member Sku.
    BlockchainMemberProperties:
      description: Payload of the blockchain member properties for a blockchain member.
      type: object
      properties:
        protocol:
          description: Gets or sets the blockchain protocol.
          enum:
          - NotSpecified
          - Parity
          - Quorum
          - Corda
          type: string
          x-ms-enum:
            name: BlockchainProtocol
            modelAsString: true
        validatorNodesSku:
          $ref: '#/components/schemas/BlockchainMemberNodesSku'
          description: Gets or sets the blockchain validator nodes Sku.
        provisioningState:
          description: Gets or sets the blockchain member provision state.
          enum:
          - NotSpecified
          - Updating
          - Deleting
          - Succeeded
          - Failed
          - Stale
          type: string
          readOnly: true
          x-ms-enum:
            name: BlockchainMemberProvisioningState
            modelAsString: true
        dns:
          description: Gets the dns endpoint of the blockchain member.
          type: string
          readOnly: true
        userName:
          description: Gets the auth user name of the blockchain member.
          type: string
          readOnly: true
        password:
          description: Sets the basic auth password of the blockchain member.
          type: string
        consortium:
          description: Gets or sets the consortium for the blockchain member.
          type: string
        consortiumManagementAccountAddress:
          description: Gets the managed consortium management account address.
          type: string
          readOnly: true
        consortiumManagementAccountPassword:
          description: Sets the managed consortium management account password.
          type: string
        consortiumRole:
          description: Gets the role of the member in the consortium.
          type: string
        consortiumMemberDisplayName:
          description: Gets the display name of the member in the consortium.
          type: string
        rootContractAddress:
          description: Gets the Ethereum root contract address of the blockchain.
          type: string
          readOnly: true
        publicKey:
          description: Gets the public key of the blockchain member (default transaction node).
          type: string
          readOnly: true
        firewallRules:
          description: Gets or sets firewall rules
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/FirewallRule'
          x-ms-identifiers:
          - ruleName
    ApiKey:
      description: API key payload which is exposed in the request/response of the resource provider.
      type: object
      properties:
        keyName:
          description: Gets or sets the API key name.
          type: string
        value:
          description: Gets or sets the API key value.
          type: string
    TrackedResource:
      description: The resource model definition for a top level resource.
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        location:
          description: The GEO location of the blockchain service.
          type: string
          x-ms-mutability:
          - read
          - create
        tags:
          description: Tags of the service which is a list of key value pairs that describes the resource.
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
    Resource:
      description: The core properties of the resources.
      type: object
      properties:
        id:
          description: Fully qualified resource Id of the resource.
          type: string
          readOnly: true
        name:
          description: The name of the resource.
          type: string
          readOnly: true
        type:
          description: The type of the service - e.g. "Microsoft.Blockchain"
          type: string
          readOnly: true
      x-ms-azure-resource: true
    BlockchainMemberPropertiesUpdate:
      description: Update the payload of the blockchain member properties for a blockchain member.
      type: object
      allOf:
      - $ref: '#/components/schemas/TransactionNodePropertiesUpdate'
      properties:
        consortiumManagementAccountPassword:
          description: Sets the managed consortium management account password.
          type: string
    BlockchainMemberNodesSku:
      description: Payload of the blockchain member nodes Sku for a blockchain member.
      type: object
      properties:
        capacity:
          format: int32
          description: Gets or sets the nodes capacity.
          type: integer
    ApiKeyCollection:
      description: Collection of the API key payload which is exposed in the response of the resource provider.
      type: object
      properties:
        keys:
          description: Gets or sets the collection of API key.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/ApiKey'
          x-ms-identifiers:
          - keyName
    Sku:
      description: Blockchain member Sku in payload
      type: object
      properties:
        name:
          description: Gets or sets Sku name
          type: string
        tier:
          description: Gets or sets Sku tier
          type: string
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client API Version.
      required: true
      schema:
        type: string
        enum:
        - 2018-06-01-preview
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Gets the subscription Id which uniquely identifies the Microsoft Azure subscription. The subscription ID is part of the URI for every service call.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
