openapi: 3.2.0
info:
  version: '2017-06-01'
  title: Microsoft Azure StorSimple8000SeriesManagementClient Cloud…
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: CloudAppliances
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/cloudApplianceConfigurations
  : get:
      tags:
      - CloudAppliances
      description: Lists supported cloud appliance models and supported configurations.
      operationId: microsoftAzureCloudappliancesListsupportedconfigurations
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of cloud appliance configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudApplianceConfigurationList'
      deprecated: false
      x-ms-pageable:
        nextLinkName: null
      x-ms-examples:
        CloudAppliancesListSupportedConfigurations:
          $ref: ./examples/CloudAppliancesListSupportedConfigurations.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/provisionCloudAppliance
  : post:
      tags:
      - CloudAppliances
      description: Provisions cloud appliance.
      operationId: microsoftAzureCloudappliancesProvision
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully created job for provision cloud appliance.
        '202':
          description: Accepted the request to provision cloud appliance.
      deprecated: false
      x-ms-long-running-operation: true
      x-ms-examples:
        CloudAppliancesProvision:
          $ref: ./examples/CloudAppliancesProvision.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudAppliance'
        description: The cloud appliance
        required: true
components:
  schemas:
    AcsConfiguration:
      description: The ACS configuration.
      required:
      - namespace
      - realm
      - serviceUrl
      type: object
      properties:
        namespace:
          description: The namespace.
          type: string
        realm:
          description: The realm.
          type: string
        serviceUrl:
          description: The service URL.
          type: string
    CloudApplianceConfigurationList:
      description: The cloud appliance configuration list
      required:
      - value
      type: object
      properties:
        value:
          description: The value.
          type: array
          items:
            $ref: '#/components/schemas/CloudApplianceConfiguration'
    VmImage:
      description: The virtual machine image.
      required:
      - name
      - version
      - offer
      - publisher
      - sku
      type: object
      properties:
        name:
          description: The name.
          type: string
        version:
          description: The version.
          type: string
        offer:
          description: The offer.
          type: string
        publisher:
          description: The publisher.
          type: string
        sku:
          description: The SKU.
          type: string
    BaseModel:
      description: Represents the base class for all other ARM object models
      type: object
      properties:
        id:
          description: The path ID that uniquely identifies the object.
          type: string
          readOnly: true
        name:
          description: The name of the object.
          type: string
          readOnly: true
        type:
          description: The hierarchical type of the object.
          type: string
          readOnly: true
        kind:
          description: The Kind of the object. Currently only Series8000 is supported
          enum:
          - Series8000
          type: string
          x-ms-enum:
            name: Kind
            modelAsString: false
    CloudApplianceConfigurationProperties:
      description: The properties of cloud appliance configuration.
      required:
      - modelNumber
      - cloudPlatform
      - acsConfiguration
      - supportedStorageAccountTypes
      - supportedRegions
      - supportedVmTypes
      - supportedVmImages
      type: object
      properties:
        modelNumber:
          description: The model number.
          type: string
        cloudPlatform:
          description: The cloud platform.
          type: string
        acsConfiguration:
          $ref: '#/components/schemas/AcsConfiguration'
          description: The ACS configuration.
        supportedStorageAccountTypes:
          description: The supported storage account types.
          type: array
          items:
            type: string
        supportedRegions:
          description: The supported regions.
          type: array
          items:
            type: string
        supportedVmTypes:
          description: The supported virtual machine types.
          type: array
          items:
            type: string
        supportedVmImages:
          description: The supported virtual machine images.
          type: array
          items:
            $ref: '#/components/schemas/VmImage'
          x-ms-identifiers:
          - name
          - offer
          - publisher
          - sku
          - version
    CloudApplianceConfiguration:
      description: The cloud appliance configuration
      required:
      - properties
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseModel'
      properties:
        properties:
          $ref: '#/components/schemas/CloudApplianceConfigurationProperties'
          description: The properties.
          x-ms-client-flatten: true
    CloudAppliance:
      description: The cloud appliance.
      required:
      - name
      - vnetRegion
      type: object
      properties:
        name:
          description: The name.
          type: string
        vnetName:
          description: The name of the virtual network.
          type: string
        vnetRegion:
          description: The virtual network region.
          type: string
        isVnetDnsConfigured:
          description: Indicates whether virtual network used is configured with DNS or not.
          type: boolean
        isVnetExpressConfigured:
          description: Indicates whether virtual network used is configured with express route or not.
          type: boolean
        subnetName:
          description: The name of the subnet.
          type: string
        storageAccountName:
          description: The name of the storage account.
          type: string
        storageAccountType:
          description: The type of the storage account.
          type: string
        vmType:
          description: The type of the virtual machine.
          type: string
        vmImageName:
          description: The name of the virtual machine image.
          type: string
        modelNumber:
          description: The model number.
          type: string
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription id
      required: true
      x-ms-skip-url-encoding: true
      schema:
        type: string
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The resource group name
      required: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
    managerNameParameter:
      name: managerName
      in: path
      description: The manager name
      required: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
        maxLength: 50
        minLength: 2
    apiVersionParameter:
      name: api-version
      in: query
      description: The api version
      required: true
      x-ms-skip-url-encoding: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
