openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft.MobilePacketCore Mobile Packet…
  version: 2023-10-15-preview
  description: Mobile Packet Core Management API
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: NrfDeployments
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.MobilePacketCore/nrfDeployments:
    get:
      operationId: microsoftAzureNrfdeploymentsListbysubscription
      tags:
      - NrfDeployments
      description: List all Network Repository Function Deployments by Subscription ID.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NrfDeploymentResourceListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        NrfDeployments_ListBySubscription:
          $ref: ./examples/NrfDeployment_ListBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/nrfDeployments:
    get:
      operationId: microsoftAzureNrfdeploymentsListbyresourcegroup
      tags:
      - NrfDeployments
      description: List all Network Repository Function Deployments by Resource Group.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NrfDeploymentResourceListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        NrfDeployments_ListByResourceGroup:
          $ref: ./examples/NrfDeployment_ListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/nrfDeployments/{nrfDeploymentName}
  : get:
      operationId: microsoftAzureNrfdeploymentsGet
      tags:
      - NrfDeployments
      description: Get a NrfDeploymentResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: nrfDeploymentName
        in: path
        description: The name of the NrfDeployment
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 1
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NrfDeploymentResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        NrfDeployments_Get:
          $ref: ./examples/NrfDeployment_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      operationId: microsoftAzureNrfdeploymentsCreateorupdate
      tags:
      - NrfDeployments
      description: Create a NrfDeploymentResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: nrfDeploymentName
        in: path
        description: The name of the NrfDeployment
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 1
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]$
      responses:
        '200':
          description: ARM resource update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NrfDeploymentResource'
        '201':
          description: Azure create operation completed successfully.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NrfDeploymentResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        NrfDeployments_CreateOrUpdate:
          $ref: ./examples/NrfDeployment_CreateOrUpdate.json
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NrfDeploymentResource'
        description: Resource create parameters.
        required: true
    patch:
      operationId: microsoftAzureNrfdeploymentsUpdatetags
      tags:
      - NrfDeployments
      description: Update a NrfDeploymentResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: nrfDeploymentName
        in: path
        description: The name of the NrfDeployment
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 1
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NrfDeploymentResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        NrfDeployments_UpdateTags:
          $ref: ./examples/NrfDeployment_UpdateTags.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NrfDeploymentResourceTagsUpdate'
        description: The resource properties to be updated.
        required: true
    delete:
      operationId: microsoftAzureNrfdeploymentsDelete
      tags:
      - NrfDeployments
      description: Delete a NrfDeploymentResource
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: nrfDeploymentName
        in: path
        description: The name of the NrfDeployment
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 1
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]$
      responses:
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        NrfDeployments_Delete:
          $ref: ./examples/NrfDeployment_Delete.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    ProvisioningState:
      type: string
      description: Provisioning state of the resource
      enum:
      - Succeeded
      - Failed
      - Canceled
      - Provisioning
      - Updating
      - Deleting
      - Accepted
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: Succeeded
          value: Succeeded
          description: Resource has been created.
        - name: Failed
          value: Failed
          description: Resource creation failed.
        - name: Canceled
          value: Canceled
          description: Resource creation was canceled.
        - name: Provisioning
          value: Provisioning
          description: Resource is getting provisioned
        - name: Updating
          value: Updating
          description: Resource is updating
        - name: Deleting
          value: Deleting
          description: Resource is getting deleted
        - name: Accepted
          value: Accepted
          description: Resource has been accepted
      readOnly: true
    NrfDeploymentResourceProperties:
      type: object
      description: NRF Deployment Properties.
      properties:
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The status of the last operation.
          readOnly: true
        componentParameters:
          $ref: '#/components/schemas/ComponentDeploymentParameters'
          description: Azure for Operators 5G Core NRF component parameters
        secretsParameters:
          $ref: '#/components/schemas/ComponentDeploymentSecrets'
          format: password
          description: Azure for Operators 5G Core NRF secrets parameters
          x-ms-secret: true
        clusterService:
          $ref: '#/components/schemas/ClusterServiceIdProperty'
          description: Reference to cluster where the Network Function is deployed
          x-ms-mutability:
          - read
          - create
        releaseVersion:
          $ref: '#/components/schemas/ReleaseVersion'
          description: Release version. This is inherited from the cluster
          readOnly: true
        operationalStatus:
          $ref: '#/components/schemas/OperationalStatus'
          description: Operational status
          readOnly: true
      required:
      - clusterService
    ComponentDeploymentSecrets:
      type: string
      description: Containerized Network Function (CNF) Component Secrets
    NrfDeploymentResourceListResult:
      type: object
      description: The response of a NrfDeploymentResource list operation.
      properties:
        value:
          type: array
          description: The NrfDeploymentResource items on this page
          items:
            $ref: '#/components/schemas/NrfDeploymentResource'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    NrfDeploymentResourceTagsUpdate:
      type: object
      description: The type used for updating tags in NrfDeploymentResource resources.
      properties:
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
    NrfDeploymentResource:
      type: object
      description: Azure for Operators 5G Core Network Repository Function (NRF) Deployment Resource
      properties:
        properties:
          $ref: '#/components/schemas/NrfDeploymentResourceProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      allOf:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource
    OperationalStatus:
      type: object
      description: Operational Status of the resource
      properties:
        workload:
          type: string
          description: Status of the deployed workload
          readOnly: true
        healthCheck:
          type: string
          description: Health check results
          readOnly: true
    ReleaseVersion:
      type: string
      description: Azure for Operators 5G Core Release Version.
    ComponentDeploymentParameters:
      type: string
      description: Containerized Network Function (CNF) Component Deployment Parameters
    ClusterServiceIdProperty:
      type: string
      format: arm-id
      description: ARM resource ID of a cluster.
      x-ms-arm-id-details:
        allowedResources:
        - type: Microsoft.MobilePacketCore/clusterServices
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
