openapi: 3.2.0
info:
  title: Microsoft Azure Azure DevOps Pipeline Template Definitions…
  description: Azure DevOps Resource Provider
  version: 2020-07-13-preview
  x-ms-code-generation-settings:
    name: DevOpsClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: PipelineTemplateDefinitions
paths:
  /providers/Microsoft.DevOps/pipelineTemplateDefinitions:
    get:
      deprecated: true
      tags:
      - PipelineTemplateDefinitions
      operationId: microsoftAzurePipelinetemplatedefinitionsList
      description: Lists all pipeline templates which can be used to configure a Pipeline.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: The pipeline template definitions have been fetched successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineTemplateDefinitionListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Get the list of pipeline template definitions:
          $ref: ./examples/ListPipelineTemplateDefinitions.json
      summary: Microsoft Azure Get Providers Microsoft Devops Pipelinetemplatedefinitions
components:
  schemas:
    CloudError:
      x-ms-external: true
      properties:
        error:
          description: Details of the error from the Pipelines Resource Provider.
          $ref: '#/components/schemas/CloudErrorBody'
      description: An error response from the Pipelines Resource Provider.
    PipelineTemplateDefinitionListResult:
      type: object
      description: Result of a request to list all pipeline template definitions.
      properties:
        value:
          description: List of pipeline template definitions.
          type: array
          items:
            $ref: '#/components/schemas/PipelineTemplateDefinition'
        nextLink:
          type: string
          description: The URL to get the next set of pipeline template definitions, if there are any.
    PipelineTemplateDefinition:
      type: object
      description: Definition of a pipeline template.
      properties:
        id:
          description: Unique identifier of the pipeline template.
          type: string
        description:
          description: Description of the pipeline enabled by the template.
          type: string
        inputs:
          description: List of input parameters required by the template to create a pipeline.
          type: array
          items:
            $ref: '#/components/schemas/InputDescriptor'
      required:
      - id
    InputDescriptor:
      type: object
      description: Representation of a pipeline template input parameter.
      properties:
        id:
          description: Identifier of the input parameter.
          type: string
        description:
          description: Description of the input parameter.
          type: string
        type:
          description: Data type of the value of the input parameter.
          type: string
          enum:
          - String
          - SecureString
          - Int
          - Bool
          - Authorization
          x-ms-enum:
            name: InputDataType
            modelAsString: true
        possibleValues:
          description: List of possible values for the input parameter.
          type: array
          items:
            $ref: '#/components/schemas/InputValue'
      required:
      - id
      - type
    CloudErrorBody:
      x-ms-external: true
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of the property in error or the method where the error occurred.
        details:
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          description: A list of additional details about the error.
      description: An error response from the Pipelines Resource Provider.
    InputValue:
      type: object
      description: Representation of a pipeline template input parameter value.
      properties:
        value:
          description: Value of an input parameter.
          type: string
        displayValue:
          description: Description of the input parameter value.
          type: string
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: API version to be used with the HTTP request.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
