openapi: 3.2.0
info:
  version: 2023-07-01-preview
  title: Microsoft Azure CdnManagementClient Check Resource Usage API
  description: Use these APIs to manage Azure CDN resources through the Azure Resource Manager. You must make sure that requests made to these resources are secure.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: CheckResourceUsage
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Cdn/checkResourceUsage:
    post:
      tags:
      - CheckResourceUsage
      description: Check the quota and actual usage of the CDN profiles under the given subscription.
      operationId: microsoftAzureResourceusageList
      x-ms-examples:
        ResourceUsage_List:
          $ref: ./examples/ResourceUsage_List.json
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceUsageListResult'
        default:
          description: CDN error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft Cdn…
components:
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Azure Subscription ID.
      required: true
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Version of the API to be used with the client request. Current version is 2023-05-01.
      schema:
        type: string
  schemas:
    ResourceUsage:
      description: Output of check resource usage API.
      type: object
      properties:
        resourceType:
          type: string
          readOnly: true
          description: Resource type for which the usage is provided.
        unit:
          type: string
          readOnly: true
          description: Unit of the usage. e.g. count.
          enum:
          - count
          x-ms-enum:
            name: ResourceUsageUnit
            modelAsString: true
        currentValue:
          type: integer
          format: int32
          readOnly: true
          description: Actual value of usage on the specified resource type.
        limit:
          type: integer
          format: int32
          readOnly: true
          description: Quota of the specified resource type.
    ErrorResponse:
      title: Error response
      description: Error response indicates Azure Front Door Standard or Azure Front Door Premium or CDN service is not able to process the incoming request. The reason is provided in the error message.
      type: object
      properties:
        error:
          $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorDetail
    ResourceUsageListResult:
      description: Output of check resource usage API.
      properties:
        value:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/ResourceUsage'
          x-ms-identifiers:
          - resourceType
          description: List of resource usages.
        nextLink:
          type: string
          description: URL to get the next set of custom domain objects if there are any.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
