openapi: 3.2.0
info:
  version: '2023-01-01'
  title: Microsoft Azure Azure Migrate V2 Virtual Desktop User…
  description: Migrate your workloads to Azure.
  contact:
    name: Microsoft
    email: azuremigratehub@microsoft.com
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: VirtualDesktopUserController
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/virtualDesktopUsers
  : get:
      tags:
      - VirtualDesktopUserController
      summary: Microsoft Azure Gets A List Of Virtual Desktop Users In The Migrate Project
      operationId: microsoftAzureVirtualdesktopusercontrollerListvirtualdesktopusers
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/migrateProjectName'
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: '#/components/parameters/continuationToken'
      - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualDesktopUserCollection'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      deprecated: false
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        VirtualDesktopUserController_ListVirtualDesktopUsers_MaximumSet_Gen:
          $ref: ./examples/VirtualDesktopUserController_ListVirtualDesktopUsers_MaximumSet_Gen.json
        VirtualDesktopUserController_ListVirtualDesktopUsers_MinimumSet_Gen:
          $ref: ./examples/VirtualDesktopUserController_ListVirtualDesktopUsers_MinimumSet_Gen.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/virtualDesktopUsers/{virtualDesktopUserName}
  : get:
      tags:
      - VirtualDesktopUserController
      summary: Microsoft Azure Gets A Virtual Desktop User In The Migrate Project
      operationId: microsoftAzureVirtualdesktopusercontrollerGetvirtualdesktopuser
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/migrateProjectName'
      - $ref: '#/components/parameters/virtualDesktopUserName'
      - $ref: ../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualDesktopUser'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      deprecated: false
      x-ms-examples:
        VirtualDesktopUserController_GetVirtualDesktopUser_MaximumSet_Gen:
          $ref: ./examples/VirtualDesktopUserController_GetVirtualDesktopUser_MaximumSet_Gen.json
        VirtualDesktopUserController_GetVirtualDesktopUser_MinimumSet_Gen:
          $ref: ./examples/VirtualDesktopUserController_GetVirtualDesktopUser_MinimumSet_Gen.json
      description: Needs a more full description created.
components:
  parameters:
    migrateProjectName:
      name: migrateProjectName
      description: Name of the Azure Migrate project.
      in: path
      x-ms-parameter-location: method
      required: true
      schema:
        type: string
        pattern: ^[a-zA-Z0-9-]{3,24}$
    virtualDesktopUserName:
      name: virtualDesktopUserName
      description: The ARM name of the webserver to be fetched.
      in: path
      x-ms-parameter-location: method
      required: true
      schema:
        type: string
        pattern: ^[a-zA-Z0-9-]{3,24}$
    pageSize:
      name: pageSize
      description: The number of items to be returned in a single page. This value is honored only if it is less than the 100.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
    continuationToken:
      name: continuationToken
      description: The continuation token.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
  schemas:
    VirtualDesktopUserCollection:
      type: object
      description: Collection of virtual desktop users.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/VirtualDesktopUser'
        nextLink:
          type: string
    VirtualDesktopUserAssessmentDetails:
      type: object
      description: Details of assessment data of virtual desktop user.
      properties:
        lastUpdatedTime:
          format: date-time
          type: string
        userId:
          type: string
        id:
          description: Gets the relative URL to get to this VirtualDesktopUserAssessmentDetails resource.
          type: string
        enqueueTime:
          type: string
        solutionName:
          type: string
        userName:
          type: string
        userAccount:
          type: string
        country:
          type: string
        state:
          type: string
        city:
          type: string
        devicesUsed:
          type: array
          items:
            type: string
        virtualization:
          type: string
        totalApplicationsCount:
          format: int32
          type: integer
        criticalApplications:
          type: array
          items:
            type: string
        osUsed:
          type: array
          items:
            type: string
        multiUserWindows10:
          type: boolean
        windows7:
          type: boolean
        persona:
          type: string
        assessmentId:
          type: string
        targetLocation:
          type: string
        isReadyForMigration:
          type: boolean
        targetAzureVmSize:
          type: string
        targetStorageType:
          type: string
        activeWeeklyHours:
          format: int32
          type: integer
        userExperienceScore:
          format: double
          type: number
        egressBandwidthWeekly:
          format: double
          type: number
        extendedInfo:
          type: object
          additionalProperties:
            type: string
    VirtualDesktopUser:
      type: object
      description: Class representing virtual desktop user.
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
          readOnly: true
        properties:
          $ref: '#/components/schemas/VirtualDesktopUserProperties'
    VirtualDesktopUserProperties:
      type: object
      description: Properties of class representing virtual desktop user.
      properties:
        assessmentData:
          type: array
          items:
            $ref: '#/components/schemas/VirtualDesktopUserAssessmentDetails'
        lastUpdatedTime:
          format: date-time
          type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
