openapi: 3.2.0
info:
  title: Microsoft Azure Azure Resource Manager Resource Groups API
  description: Azure Resource Manager is the deployment and management service for Azure. It provides a management layer that enables you to create, update, and delete resources in your Azure account. You use management features like access control, locks, and tags to secure and organize your resources after deployment. The Resource Manager REST API provides operations for managing resources, resource groups, deployments, subscriptions, tenants, providers, and tags.
  version: '2024-03-01'
  contact:
    name: Microsoft Azure Support
    url: https://azure.microsoft.com/en-us/support/
    email: azuresupport@microsoft.com
  license:
    name: Microsoft API License
    url: https://learn.microsoft.com/en-us/legal/
  x-logo:
    url: https://azure.microsoft.com/svghandler/azure-logo.png
servers:
- url: https://management.azure.com
  description: Azure Resource Manager global endpoint
security:
- oauth2:
  - https://management.azure.com/.default
tags:
- name: Resource Groups
  description: Operations for managing resource groups
paths:
  /subscriptions/{subscriptionId}/resourcegroups:
    get:
      operationId: ResourceGroups_List
      summary: Microsoft Azure List Resource Groups
      description: Gets all the resource groups for a subscription.
      tags:
      - Resource Groups
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: $filter
        in: query
        description: The filter to apply on the operation using OData syntax.
        schema:
          type: string
        example: example_value
      - name: $top
        in: query
        description: The number of results to return.
        schema:
          type: integer
          format: int32
        example: 10
      responses:
        '200':
          description: Successfully returned the list of resource groups.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroupListResult'
              examples:
                ResourcegroupsList200Example:
                  summary: Default ResourceGroups_List 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - id: abc123
                      name: Example Title
                      type: example_value
                      location: example_value
                      managedBy: example_value
                      tags: example_value
                    nextLink: example_value
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
              examples:
                ResourcegroupsListdefaultExample:
                  summary: Default ResourceGroups_List default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - {}
                      additionalInfo:
                      - {}
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}:
    get:
      operationId: ResourceGroups_Get
      summary: Microsoft Azure Get a Resource Group
      description: Gets a resource group by name.
      tags:
      - Resource Groups
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully returned the resource group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroup'
              examples:
                ResourcegroupsGet200Example:
                  summary: Default ResourceGroups_Get 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    type: example_value
                    location: example_value
                    managedBy: example_value
                    tags: example_value
                    properties:
                      provisioningState: example_value
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
              examples:
                ResourcegroupsGetdefaultExample:
                  summary: Default ResourceGroups_Get default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - {}
                      additionalInfo:
                      - {}
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: ResourceGroups_CreateOrUpdate
      summary: Microsoft Azure Create or Update a Resource Group
      description: Creates or updates a resource group.
      tags:
      - Resource Groups
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceGroup'
            examples:
              ResourcegroupsCreateorupdateRequestExample:
                summary: Default ResourceGroups_CreateOrUpdate request
                x-microcks-default: true
                value:
                  id: abc123
                  name: Example Title
                  type: example_value
                  location: example_value
                  managedBy: example_value
                  tags: example_value
                  properties:
                    provisioningState: example_value
      responses:
        '200':
          description: Successfully updated the resource group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroup'
              examples:
                ResourcegroupsCreateorupdate200Example:
                  summary: Default ResourceGroups_CreateOrUpdate 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    type: example_value
                    location: example_value
                    managedBy: example_value
                    tags: example_value
                    properties:
                      provisioningState: example_value
        '201':
          description: Successfully created the resource group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroup'
              examples:
                ResourcegroupsCreateorupdate201Example:
                  summary: Default ResourceGroups_CreateOrUpdate 201 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    type: example_value
                    location: example_value
                    managedBy: example_value
                    tags: example_value
                    properties:
                      provisioningState: example_value
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
              examples:
                ResourcegroupsCreateorupdatedefaultExample:
                  summary: Default ResourceGroups_CreateOrUpdate default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - {}
                      additionalInfo:
                      - {}
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: ResourceGroups_Delete
      summary: Microsoft Azure Delete a Resource Group
      description: Deletes a resource group. When you delete a resource group, all of its resources are also deleted.
      tags:
      - Resource Groups
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: forceDeletionTypes
        in: query
        description: The resource types that should be force deleted. Comma-separated list of resource type names.
        schema:
          type: string
        example: example_value
      responses:
        '200':
          description: Successfully deleted the resource group.
        '202':
          description: Accepted. The resource group deletion is in progress.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
              examples:
                ResourcegroupsDeletedefaultExample:
                  summary: Default ResourceGroups_Delete default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - {}
                      additionalInfo:
                      - {}
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: ResourceGroups_Update
      summary: Microsoft Azure Update a Resource Group
      description: Updates a resource group. Resource groups can be updated by patching the resource group properties, such as tags.
      tags:
      - Resource Groups
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceGroupPatchable'
            examples:
              ResourcegroupsUpdateRequestExample:
                summary: Default ResourceGroups_Update request
                x-microcks-default: true
                value:
                  name: Example Title
                  tags: example_value
                  properties:
                    provisioningState: example_value
      responses:
        '200':
          description: Successfully updated the resource group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroup'
              examples:
                ResourcegroupsUpdate200Example:
                  summary: Default ResourceGroups_Update 200 response
                  x-microcks-default: true
                  value:
                    id: abc123
                    name: Example Title
                    type: example_value
                    location: example_value
                    managedBy: example_value
                    tags: example_value
                    properties:
                      provisioningState: example_value
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
              examples:
                ResourcegroupsUpdatedefaultExample:
                  summary: Default ResourceGroups_Update default response
                  x-microcks-default: true
                  value:
                    error:
                      code: example_value
                      message: example_value
                      target: example_value
                      details:
                      - {}
                      additionalInfo:
                      - {}
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    head:
      tags:
      - Resource Groups
      operationId: microsoftAzureResourcegroupsCheckexistence
      description: Checks whether a resource group exists.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group to check. The name is case insensitive.
        schema:
          type: string
          maxLength: 90
          minLength: 1
          pattern: ^[-\w\._\(\)]+$
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Head Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/resources:
    get:
      tags:
      - Resource Groups
      operationId: microsoftAzureResourcesListbyresourcegroup
      description: Get all the resources for a resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The resource group with the resources to get.
        schema:
          type: string
          maxLength: 90
          minLength: 1
          pattern: ^[-\w\._\(\)]+$
      - name: $filter
        in: query
        required: false
        description: 'The filter to apply on the operation.<br><br>The properties you can use for eq (equals) or ne (not equals) are: location, resourceType, name, resourceGroup, identity, identity/principalId, plan, plan/publisher, plan/product, plan/name, plan/version, and plan/promotionCode.<br><br>For example, to filter by a resource type, use: $filter=resourceType eq ''Microsoft.Network/virtualNetworks''<br><br>You can use substringof(value, property) in the filter. The properties you can use for substring are: name and resourceGroup.<br><br>For example, to get all resources with ''demo'' anywhere in the name, use: $filter=substringof(''demo'', name)<br><br>You can link more than one substringof together by adding and/or operators.<br><br>You can filter by tag names and values. For example, to filter for a tag name and value, use $filter=tagName eq ''tag1'' and tagValue eq ''Value1''. When you filter by a tag name and value, the tags for each resource are not returned in the results.<br><br>You can use some properties together when filtering. The combinations you can use are: substringof and/or resourceType, plan and plan/publisher and plan/name, identity and identity/principalId.'
        schema:
          type: string
      - name: $expand
        in: query
        required: false
        description: Comma-separated list of additional properties to be included in the response. Valid values include `createdTime`, `changedTime` and `provisioningState`. For example, `$expand=createdTime,changedTime`.
        schema:
          type: string
      - name: $top
        in: query
        required: false
        description: The number of results to return. If null is passed, returns all resources.
        schema:
          type: integer
          format: int32
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK - Returns an array of resources
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/GenericResourceFilter'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/exportTemplate:
    post:
      tags:
      - Resource Groups
      operationId: microsoftAzureResourcegroupsExporttemplate
      description: Captures the specified resource group as a template.
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      x-ms-examples:
        Export a resource group:
          $ref: ./examples/ExportResourceGroup.json
        Export a resource group with filtering:
          $ref: ./examples/ExportResourceGroupWithFiltering.json
      responses:
        '200':
          description: OK - Returns the result of the export.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroupExportResult'
        '202':
          description: Accepted
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportTemplateRequest'
        description: Parameters for exporting the template.
        required: true
components:
  schemas:
    ResourceGroupPatchable:
      type: object
      description: Resource group information for update.
      properties:
        name:
          type: string
          description: The name of the resource group.
          example: Example Title
        tags:
          type: object
          additionalProperties:
            type: string
          description: The tags attached to the resource group.
          example: example_value
        properties:
          $ref: '#/components/schemas/ResourceGroupProperties'
    ResourceGroupListResult:
      type: object
      description: List of resource groups.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ResourceGroup'
          description: An array of resource groups.
          example: []
        nextLink:
          type: string
          readOnly: true
          description: The URL to get the next set of results.
          example: example_value
    CloudError:
      type: object
      description: An error response for a resource management request.
      properties:
        error:
          $ref: '#/components/schemas/ErrorResponse'
    ResourceGroupProperties:
      type: object
      description: The resource group properties.
      properties:
        provisioningState:
          type: string
          readOnly: true
          description: The provisioning state.
          example: example_value
    ResourceGroup:
      type: object
      description: Resource group information.
      properties:
        id:
          type: string
          readOnly: true
          description: The ID of the resource group.
          example: abc123
        name:
          type: string
          readOnly: true
          description: The name of the resource group.
          example: Example Title
        type:
          type: string
          readOnly: true
          description: The type of the resource group.
          example: example_value
        location:
          type: string
          description: The location of the resource group. It cannot be changed after the resource group has been created. It must be one of the supported Azure locations.
          example: example_value
        managedBy:
          type: string
          description: The ID of the resource that manages this resource group.
          example: example_value
        tags:
          type: object
          additionalProperties:
            type: string
          description: The tags attached to the resource group.
          example: example_value
        properties:
          $ref: '#/components/schemas/ResourceGroupProperties'
      required:
      - location
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          readOnly: true
          description: The additional info type.
          example: example_value
        info:
          type: object
          readOnly: true
          description: The additional info.
          example: example_value
    ErrorResponse:
      type: object
      description: Common error response for all Azure Resource Manager APIs.
      properties:
        code:
          type: string
          readOnly: true
          description: The error code.
          example: example_value
        message:
          type: string
          readOnly: true
          description: The error message.
          example: example_value
        target:
          type: string
          readOnly: true
          description: The error target.
          example: example_value
        details:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/ErrorResponse'
          description: The error details.
          example: []
        additionalInfo:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          description: The error additional info.
          example: []
    ResourceListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/GenericResourceExpanded'
          description: An array of resources.
        nextLink:
          readOnly: true
          type: string
          description: The URL to use for getting the next set of results.
      description: List of resource groups.
    ExtendedLocation:
      properties:
        type:
          type: string
          enum:
          - EdgeZone
          x-ms-enum:
            name: ExtendedLocationType
            modelAsString: true
          description: The extended location type.
        name:
          type: string
          description: The extended location name.
      description: Resource extended location.
    GenericResource:
      properties:
        plan:
          $ref: '#/components/schemas/Plan'
          description: The plan of the resource.
        properties:
          type: object
          description: The resource properties.
        kind:
          type: string
          description: The kind of the resource.
          pattern: ^[-\w\._,\(\)]+$
        managedBy:
          type: string
          description: ID of the resource that manages this resource.
        sku:
          $ref: '#/components/schemas/Sku'
          description: The SKU of the resource.
        identity:
          $ref: '#/components/schemas/Identity'
          description: The identity of the resource.
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Resource information.
    Identity:
      properties:
        principalId:
          readOnly: true
          type: string
          description: The principal ID of resource identity.
        tenantId:
          readOnly: true
          type: string
          description: The tenant ID of resource.
        type:
          type: string
          description: The identity type.
          enum:
          - SystemAssigned
          - UserAssigned
          - SystemAssigned, UserAssigned
          - None
          x-ms-enum:
            name: ResourceIdentityType
            modelAsString: false
        userAssignedIdentities:
          type: object
          additionalProperties:
            type: object
            x-ms-client-name: IdentityUserAssignedIdentitiesValue
            properties:
              principalId:
                readOnly: true
                type: string
                description: The principal id of user assigned identity.
              clientId:
                readOnly: true
                type: string
                description: The client id of user assigned identity.
          description: 'The list of user identities associated with the resource. The user identity dictionary key references will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
      description: Identity for the resource.
    Plan:
      properties:
        name:
          type: string
          description: The plan ID.
        publisher:
          type: string
          description: The publisher ID.
        product:
          type: string
          description: The offer ID.
        promotionCode:
          type: string
          description: The promotion code.
        version:
          type: string
          description: The plan's version.
      description: Plan for the resource.
    GenericResourceExpanded:
      properties:
        createdTime:
          readOnly: true
          type: string
          format: date-time
          description: The created time of the resource. This is only present if requested via the $expand query parameter.
        changedTime:
          readOnly: true
          type: string
          format: date-time
          description: The changed time of the resource. This is only present if requested via the $expand query parameter.
        provisioningState:
          readOnly: true
          type: string
          description: The provisioning state of the resource. This is only present if requested via the $expand query parameter.
      allOf:
      - $ref: '#/components/schemas/GenericResource'
      description: Resource information.
    ExportTemplateRequest:
      properties:
        resources:
          type: array
          items:
            type: string
          description: The IDs of the resources to filter the export by. To export all resources, supply an array with single entry '*'.
        options:
          type: string
          description: 'The export template options. A CSV-formatted list containing zero or more of the following: ''IncludeParameterDefaultValue'', ''IncludeComments'', ''SkipResourceNameParameterization'', ''SkipAllParameterization'''
      description: Export resource group template request parameters.
    Resource:
      properties:
        id:
          readOnly: true
          type: string
          description: Resource ID
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        location:
          type: string
          description: Resource location
        extendedLocation:
          $ref: '#/components/schemas/ExtendedLocation'
          x-ms-mutability:
          - read
          - create
          description: Resource extended location.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
      x-ms-azure-resource: true
      description: Specified resource.
    Sku:
      properties:
        name:
          type: string
          description: The SKU name.
        tier:
          type: string
          description: The SKU tier.
        size:
          type: string
          description: The SKU size.
        family:
          type: string
          description: The SKU family.
        model:
          type: string
          description: The SKU model.
        capacity:
          type: integer
          format: int32
          description: The SKU capacity.
      description: SKU for the resource.
    ResourceGroupExportResult:
      properties:
        template:
          type: object
          description: The template content.
        error:
          $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse
          description: The template export error.
      description: Resource group export result.
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        default: '2024-03-01'
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        format: uuid
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            https://management.azure.com/.default: Access Azure Resource Manager
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
