openapi: 3.2.0
info:
  version: '2016-10-01'
  title: Microsoft Azure StorSimpleManagementClient File Shares API
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: File Shares
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/fileservers/{fileServerName}/shares
  : get:
      tags:
      - File Shares
      description: Retrieves all the file shares in a file server.
      operationId: microsoftAzureFilesharesListbyfileserver
      parameters:
      - name: deviceName
        in: path
        description: The device name.
        required: true
        schema:
          type: string
      - name: fileServerName
        in: path
        description: The file server name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of file shares.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileShareList'
        default:
          description: Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      deprecated: false
      x-ms-pageable:
        nextLinkName: null
      x-ms-examples:
        FileSharesListByFileServer:
          $ref: ./examples/FileSharesListByFileServer.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/fileservers/{fileServerName}/shares/{shareName}
  : get:
      tags:
      - File Shares
      description: Returns the properties of the specified file share name.
      operationId: microsoftAzureFilesharesGet
      parameters:
      - name: deviceName
        in: path
        description: The device name.
        required: true
        schema:
          type: string
      - name: fileServerName
        in: path
        description: The file server name.
        required: true
        schema:
          type: string
      - name: shareName
        in: path
        description: The file share name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The file share.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileShare'
        default:
          description: Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      deprecated: false
      x-ms-examples:
        FileSharesGet:
          $ref: ./examples/FileSharesGet.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - File Shares
      description: Creates or updates the file share.
      operationId: microsoftAzureFilesharesCreateorupdate
      parameters:
      - name: deviceName
        in: path
        description: The device name.
        required: true
        schema:
          type: string
      - name: fileServerName
        in: path
        description: The file server name.
        required: true
        schema:
          type: string
      - name: shareName
        in: path
        description: The file share name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully created or updated the file share.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileShare'
        '202':
          description: Accepted the request to create or update the file share.
        default:
          description: Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      deprecated: false
      x-ms-long-running-operation: true
      x-ms-examples:
        FileSharesCreateOrUpdate:
          $ref: ./examples/FileSharesCreateOrUpdate.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileShare'
        description: The file share.
        required: true
    delete:
      tags:
      - File Shares
      description: Deletes the file share.
      operationId: microsoftAzureFilesharesDelete
      parameters:
      - name: deviceName
        in: path
        description: The device name.
        required: true
        schema:
          type: string
      - name: fileServerName
        in: path
        description: The file server name.
        required: true
        schema:
          type: string
      - name: shareName
        in: path
        description: The file share Name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '202':
          description: Accepted the request to delete the file share.
        '204':
          description: Successfully deleted the file share.
        default:
          description: Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      deprecated: false
      x-ms-long-running-operation: true
      x-ms-examples:
        FileSharesDelete:
          $ref: ./examples/FileSharesDelete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/fileservers/{fileServerName}/shares/{shareName}/metrics
  : get:
      tags:
      - File Shares
      description: Gets the file share metrics
      operationId: microsoftAzureFilesharesListmetrics
      parameters:
      - name: deviceName
        in: path
        description: The device name.
        required: true
        schema:
          type: string
      - name: fileServerName
        in: path
        description: The file server name.
        required: true
        schema:
          type: string
      - name: shareName
        in: path
        description: The file share name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      - name: $filter
        in: query
        description: OData Filter options
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The collection of metrics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricList'
        default:
          description: Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      deprecated: false
      x-ms-odata: '#/definitions/MetricFilter'
      x-ms-pageable:
        nextLinkName: null
      x-ms-examples:
        FileSharesListMetrics:
          $ref: ./examples/FileSharesListMetrics.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/fileservers/{fileServerName}/shares/{shareName}/metricsDefinitions
  : get:
      tags:
      - File Shares
      description: Retrieves metric definitions of all metrics aggregated at the file share.
      operationId: microsoftAzureFilesharesListmetricdefinition
      parameters:
      - name: deviceName
        in: path
        description: The device name.
        required: true
        schema:
          type: string
      - name: fileServerName
        in: path
        description: The file server name.
        required: true
        schema:
          type: string
      - name: shareName
        in: path
        description: The file share name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of metric definitions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricDefinitionList'
        default:
          description: Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      deprecated: false
      x-ms-pageable:
        nextLinkName: null
      x-ms-examples:
        FileSharesListMetricDefinition:
          $ref: ./examples/FileSharesListMetricDefinition.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices/{deviceName}/shares
  : get:
      tags:
      - File Shares
      description: Retrieves all the file shares in a device.
      operationId: microsoftAzureFilesharesListbydevice
      parameters:
      - name: deviceName
        in: path
        description: The device name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/managerNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The collection of file shares.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileShareList'
        default:
          description: Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      deprecated: false
      x-ms-pageable:
        nextLinkName: null
      x-ms-examples:
        FileSharesListByDevice:
          $ref: ./examples/FileSharesListByDevice.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    MetricName:
      description: The name of the metric
      required:
      - value
      - localizedValue
      type: object
      properties:
        value:
          description: Name of the metric
          type: string
        localizedValue:
          description: Localized name of the metric
          type: string
    BaseModel:
      description: Base class for models
      type: object
      properties:
        id:
          description: The identifier.
          type: string
          readOnly: true
        name:
          description: The name.
          type: string
          readOnly: true
        type:
          description: The type.
          type: string
          readOnly: true
    FileShareList:
      description: Collection of file shares
      required:
      - value
      type: object
      properties:
        value:
          description: The value.
          type: array
          items:
            $ref: '#/components/schemas/FileShare'
    MetricData:
      description: The metric data.
      required:
      - timeStamp
      - sum
      - count
      - average
      - minimum
      - maximum
      type: object
      properties:
        timeStamp:
          format: date-time
          description: The time when the metric data is fetched
          type: string
        sum:
          format: double
          description: The sum of all the samples available in the given instance of time for the specific metric data
          type: number
        count:
          format: int32
          description: The count of samples of the metric data available for the given instance
          type: integer
        average:
          format: double
          description: The average of all sample for the given instance
          type: number
        minimum:
          format: double
          description: The minimum of all samples available
          type: number
        maximum:
          format: double
          description: The maximum of all samples available
          type: number
    FileShareProperties:
      description: The File Share.
      required:
      - shareStatus
      - dataPolicy
      - adminUser
      - provisionedCapacityInBytes
      - monitoringStatus
      type: object
      properties:
        description:
          description: Description for file share
          type: string
        shareStatus:
          description: The Share Status
          enum:
          - Online
          - Offline
          type: string
          x-ms-enum:
            name: ShareStatus
            modelAsString: false
        dataPolicy:
          description: The data policy
          enum:
          - Invalid
          - Local
          - Tiered
          - Cloud
          type: string
          x-ms-enum:
            name: DataPolicy
            modelAsString: false
        adminUser:
          description: 'The user/group who will have full permission in this share. Active directory email address. Example: xyz@contoso.com or Contoso\xyz.'
          type: string
        provisionedCapacityInBytes:
          format: int64
          description: The total provisioned capacity in Bytes
          type: integer
        usedCapacityInBytes:
          format: int64
          description: The used capacity in Bytes.
          type: integer
          readOnly: true
        localUsedCapacityInBytes:
          format: int64
          description: The local used capacity in Bytes.
          type: integer
          readOnly: true
        monitoringStatus:
          description: The monitoring status
          enum:
          - Enabled
          - Disabled
          type: string
          x-ms-enum:
            name: MonitoringStatus
            modelAsString: false
    MetricDimension:
      description: Metric dimension
      required:
      - name
      - value
      type: object
      properties:
        name:
          description: Metric dimension name
          type: string
        value:
          description: Metric dimension values
          type: string
    MetricDefinitionList:
      description: List of metric definition
      required:
      - value
      type: object
      properties:
        value:
          description: The list of metric definition
          type: array
          items:
            $ref: '#/components/schemas/MetricDefinition'
          x-ms-identifiers:
          - name
    FileShare:
      description: The File Share.
      required:
      - properties
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseModel'
      properties:
        properties:
          $ref: '#/components/schemas/FileShareProperties'
          description: The properties.
          x-ms-client-flatten: true
    MetricDefinition:
      description: Monitoring metric definition represents the metadata of the metrics.
      required:
      - name
      - unit
      - primaryAggregationType
      - resourceId
      - metricAvailabilities
      - dimensions
      - type
      type: object
      properties:
        name:
          $ref: '#/components/schemas/MetricName'
          description: The metric name
        unit:
          description: The metric unit
          enum:
          - Bytes
          - BytesPerSecond
          - Count
          - CountPerSecond
          - Percent
          - Seconds
          type: string
          x-ms-enum:
            name: MetricUnit
            modelAsString: false
        primaryAggregationType:
          description: The metric aggregation type
          enum:
          - Average
          - Last
          - Maximum
          - Minimum
          - None
          - Total
          type: string
          x-ms-enum:
            name: MetricAggregationType
            modelAsString: false
        resourceId:
          description: The metric source id
          type: string
        metricAvailabilities:
          description: The available metric granularities
          type: array
          items:
            $ref: '#/components/schemas/MetricAvailablity'
          x-ms-identifiers:
          - timeGrain
        dimensions:
          description: The supported dimensions
          type: array
          items:
            $ref: '#/components/schemas/MetricDimension'
          x-ms-identifiers:
          - name
        type:
          description: The metric definition type
          type: string
    Item:
      required:
      - key
      - value
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    MetricList:
      description: Collection of metrics
      required:
      - value
      type: object
      properties:
        value:
          description: The value.
          type: array
          items:
            $ref: '#/components/schemas/Metrics'
          x-ms-identifiers: []
    Metrics:
      description: Monitoring metric
      required:
      - resourceId
      - startTime
      - endTime
      - timeGrain
      - primaryAggregation
      - name
      - dimensions
      - unit
      - type
      - values
      type: object
      properties:
        resourceId:
          description: The id of metric source
          type: string
        startTime:
          format: date-time
          description: The metric start time
          type: string
        endTime:
          format: date-time
          description: The metric end time
          type: string
        timeGrain:
          description: The time grain, time grain indicates frequency of the metric data
          type: string
        primaryAggregation:
          description: The metric aggregation type
          enum:
          - Average
          - Last
          - Maximum
          - Minimum
          - None
          - Total
          type: string
          x-ms-enum:
            name: MetricAggregationType
            modelAsString: false
        name:
          $ref: '#/components/schemas/MetricName'
          description: The name of the metrics
        dimensions:
          description: The Metric dimension which indicates the source of the metric
          type: array
          items:
            $ref: '#/components/schemas/MetricDimension'
          x-ms-identifiers:
          - name
        unit:
          description: The unit of the metric data
          enum:
          - Bytes
          - BytesPerSecond
          - Count
          - CountPerSecond
          - Percent
          - Seconds
          type: string
          x-ms-enum:
            name: MetricUnit
            modelAsString: false
        type:
          description: The Type of the metric data
          type: string
        values:
          description: The metric data
          type: array
          items:
            $ref: '#/components/schemas/MetricData'
          x-ms-identifiers:
          - timeStamp
    Message:
      type: object
      properties:
        language:
          type: string
        value:
          type: string
    Error:
      required:
      - errorCode
      - message
      type: object
      properties:
        errorCode:
          type: string
        message:
          $ref: '#/components/schemas/Message'
        values:
          type: array
          items:
            $ref: '#/components/schemas/Item'
          x-ms-identifiers:
          - key
    MetricAvailablity:
      description: Metric availability specifies the time grain (aggregation interval or frequency) and the retention period for that time grain
      required:
      - timeGrain
      - retention
      type: object
      properties:
        timeGrain:
          description: The time grain, specifies the aggregation interval for the metric.
          type: string
        retention:
          description: The retention period for the metric at the specified timegrain
          type: string
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription id
      required: true
      schema:
        type: string
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The resource group name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    managerNameParameter:
      name: managerName
      in: path
      description: The manager name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 50
        minLength: 2
    apiVersionParameter:
      name: api-version
      in: query
      description: The api version
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
