openapi: 3.2.0
info:
  title: Microsoft Azure NewRelic.Observability Plan API
  version: 2024-01-01-preview
  x-cadl-generated:
  - emitter: '@azure-tools/cadl-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Plan
paths:
  /subscriptions/{subscriptionId}/providers/NewRelic.Observability/plans:
    get:
      tags:
      - Plan
      operationId: microsoftAzurePlansList
      description: List plans data
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/components/parameters/AccountIdParameter'
      - $ref: '#/components/parameters/OrganizationIdParameter'
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanDataListResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Plans_List_MaximumSet_Gen:
          $ref: ./examples/Plans_List_MaximumSet_Gen.json
        Plans_List_MinimumSet_Gen:
          $ref: ./examples/Plans_List_MinimumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Newrelic…
components:
  parameters:
    OrganizationIdParameter:
      name: organizationId
      in: query
      required: false
      description: Organization Id.
      x-ms-parameter-location: method
      schema:
        type: string
    AccountIdParameter:
      name: accountId
      in: query
      required: false
      description: Account Id.
      x-ms-parameter-location: method
      schema:
        type: string
  schemas:
    OrgCreationSource:
      type: string
      description: Source of Org creation
      enum:
      - LIFTR
      - NEWRELIC
      x-ms-enum:
        name: OrgCreationSource
        modelAsString: true
        values:
        - name: LIFTR
          value: LIFTR
          description: Org is created from LIFTR
        - name: NEWRELIC
          value: NEWRELIC
          description: Org is created from NEWRELIC
    BillingCycle:
      type: string
      description: Different usage type like YEARLY/MONTHLY
      enum:
      - YEARLY
      - MONTHLY
      - WEEKLY
      x-ms-enum:
        name: BillingCycle
        modelAsString: true
        values:
        - name: YEARLY
          value: YEARLY
          description: Billing cycle is YEARLY
        - name: MONTHLY
          value: MONTHLY
          description: Billing cycle is MONTHLY
        - name: WEEKLY
          value: WEEKLY
          description: Billing cycle is WEEKLY
    PlanDataProperties:
      type: object
      properties:
        planData:
          $ref: '#/components/schemas/PlanData'
          description: Plan details
        orgCreationSource:
          $ref: '#/components/schemas/OrgCreationSource'
          description: Source of org creation
        accountCreationSource:
          $ref: '#/components/schemas/AccountCreationSource'
          description: Source of account creation
      description: Plan details
    PlanData:
      type: object
      properties:
        usageType:
          $ref: '#/components/schemas/UsageType'
          description: Different usage type like PAYG/COMMITTED. this could be enum
        billingCycle:
          $ref: '#/components/schemas/BillingCycle'
          description: Different billing cycles like MONTHLY/WEEKLY. this could be enum
        planDetails:
          type: string
          description: plan id as published by NewRelic
        effectiveDate:
          type: string
          format: date-time
          description: date when plan was applied
      description: Plan data of NewRelic Monitor resource
    PlanDataResource:
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/PlanDataProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
      description: The details of a PlanData resource.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource
    UsageType:
      type: string
      description: Different usage type like PAYG/COMMITTED
      enum:
      - PAYG
      - COMMITTED
      x-ms-enum:
        name: UsageType
        modelAsString: true
        values:
        - name: PAYG
          value: PAYG
          description: Usage type is PAYG
        - name: COMMITTED
          value: COMMITTED
          description: Usage type is COMMITTED
    PlanDataListResponse:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/PlanDataResource'
          x-cadl-name: PlanDataResource[]
          description: The PlanDataResource items on this page
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
          x-cadl-name: Rest.ResourceLocation
      description: Response of get all plan data Operation.
      required:
      - value
    AccountCreationSource:
      type: string
      description: Source of Account creation
      enum:
      - LIFTR
      - NEWRELIC
      x-ms-enum:
        name: AccountCreationSource
        modelAsString: true
        values:
        - name: LIFTR
          value: LIFTR
          description: Account is created from LIFTR
        - name: NEWRELIC
          value: NEWRELIC
          description: Account is created from NEWRELIC
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Microsoft Entra ID OAuth2 Flow.
