openapi: 3.2.0
info:
  version: '2018-09-15'
  title: Microsoft Azure DevTestLabsClient Service Fabric Schedules…
  description: The DevTest Labs Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ServiceFabricSchedules
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users/{userName}/servicefabrics/{serviceFabricName}/schedules
  : get:
      tags:
      - ServiceFabricSchedules
      description: List schedules in a given service fabric.
      operationId: microsoftAzureServicefabricschedulesList
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        schema:
          type: string
      - name: userName
        in: path
        description: The name of the user profile.
        required: true
        schema:
          type: string
      - name: serviceFabricName
        in: path
        description: The name of the service fabric.
        required: true
        schema:
          type: string
      - name: $expand
        in: query
        description: 'Specify the $expand query. Example: ''properties($select=status)'''
        schema:
          type: string
      - name: $filter
        in: query
        description: 'The filter to apply to the operation. Example: ''$filter=contains(name,''myName'')'
        schema:
          type: string
      - name: $top
        in: query
        description: 'The maximum number of resources to return from the operation. Example: ''$top=10'''
        schema:
          type: integer
          format: int32
      - name: $orderby
        in: query
        description: 'The ordering expression for the results, using OData notation. Example: ''$orderby=name desc'''
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleList'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/Schedule'
      x-ms-examples:
        ServiceFabricSchedules_List:
          $ref: ./examples/ServiceFabricSchedules_List.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users/{userName}/servicefabrics/{serviceFabricName}/schedules/{name}
  : get:
      tags:
      - ServiceFabricSchedules
      description: Get schedule.
      operationId: microsoftAzureServicefabricschedulesGet
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        schema:
          type: string
      - name: userName
        in: path
        description: The name of the user profile.
        required: true
        schema:
          type: string
      - name: serviceFabricName
        in: path
        description: The name of the service fabric.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: The name of the schedule.
        required: true
        schema:
          type: string
      - name: $expand
        in: query
        description: 'Specify the $expand query. Example: ''properties($select=status)'''
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        ServiceFabricSchedules_Get:
          $ref: ./examples/ServiceFabricSchedules_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - ServiceFabricSchedules
      description: Create or replace an existing schedule.
      operationId: microsoftAzureServicefabricschedulesCreateorupdate
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        schema:
          type: string
      - name: userName
        in: path
        description: The name of the user profile.
        required: true
        schema:
          type: string
      - name: serviceFabricName
        in: path
        description: The name of the service fabric.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: The name of the schedule.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        ServiceFabricSchedules_CreateOrUpdate:
          $ref: ./examples/ServiceFabricSchedules_CreateOrUpdate.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Schedule'
        description: A schedule.
        required: true
    delete:
      tags:
      - ServiceFabricSchedules
      description: Delete schedule.
      operationId: microsoftAzureServicefabricschedulesDelete
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        schema:
          type: string
      - name: userName
        in: path
        description: The name of the user profile.
        required: true
        schema:
          type: string
      - name: serviceFabricName
        in: path
        description: The name of the service fabric.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: The name of the schedule.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        ServiceFabricSchedules_Delete:
          $ref: ./examples/ServiceFabricSchedules_Delete.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    patch:
      tags:
      - ServiceFabricSchedules
      description: Allows modifying tags of schedules. All other properties will be ignored.
      operationId: microsoftAzureServicefabricschedulesUpdate
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        schema:
          type: string
      - name: userName
        in: path
        description: The name of the user profile.
        required: true
        schema:
          type: string
      - name: serviceFabricName
        in: path
        description: The name of the service fabric.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: The name of the schedule.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        ServiceFabricSchedules_Update:
          $ref: ./examples/ServiceFabricSchedules_Update.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleFragment'
        description: A schedule.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users/{userName}/servicefabrics/{serviceFabricName}/schedules/{name}/execute
  : post:
      tags:
      - ServiceFabricSchedules
      description: Execute a schedule. This operation can take a while to complete.
      operationId: microsoftAzureServicefabricschedulesExecute
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        schema:
          type: string
      - name: userName
        in: path
        description: The name of the user profile.
        required: true
        schema:
          type: string
      - name: serviceFabricName
        in: path
        description: The name of the service fabric.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: The name of the schedule.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        ServiceFabricSchedules_Execute:
          $ref: ./examples/ServiceFabricSchedules_Execute.json
      x-ms-long-running-operation: true
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    ScheduleList:
      description: The response of a list operation.
      type: object
      properties:
        value:
          description: Results of the list operation.
          type: array
          items:
            $ref: '#/components/schemas/Schedule'
        nextLink:
          description: Link for next set of results.
          type: string
    CloudError:
      description: Error from a REST request.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: The cloud error that occurred
      x-ms-external: true
    DayDetails:
      description: Properties of a daily schedule.
      type: object
      properties:
        time:
          description: The time of day the schedule will occur.
          type: string
    ScheduleFragment:
      description: A schedule.
      type: object
      allOf:
      - $ref: '#/components/schemas/UpdateResource'
      properties: {}
    WeekDetails:
      description: Properties of a weekly schedule.
      type: object
      properties:
        weekdays:
          description: The days of the week for which the schedule is set (e.g. Sunday, Monday, Tuesday, etc.).
          type: array
          items:
            type: string
        time:
          description: The time of the day the schedule will occur.
          type: string
    UpdateResource:
      description: Represents an update resource
      type: object
      properties:
        tags:
          description: The tags of the resource.
          type: object
          additionalProperties:
            type: string
    NotificationSettings:
      description: Notification settings for a schedule.
      type: object
      properties:
        status:
          description: If notifications are enabled for this schedule (i.e. Enabled, Disabled).
          default: Disabled
          enum:
          - Enabled
          - Disabled
          type: string
          x-ms-enum:
            name: EnableStatus
            modelAsString: true
        timeInMinutes:
          format: int32
          description: Time in minutes before event at which notification will be sent.
          type: integer
        webhookUrl:
          description: The webhook URL to which the notification will be sent.
          type: string
        emailRecipient:
          description: The email recipient to send notifications to (can be a list of semi-colon separated email addresses).
          type: string
        notificationLocale:
          description: The locale to use when sending a notification (fallback for unsupported languages is EN).
          type: string
    CloudErrorBody:
      description: Body of an error from a REST request.
      type: object
      properties:
        code:
          description: The error code.
          type: string
        message:
          description: The error message.
          type: string
        target:
          description: The error target.
          type: string
        details:
          description: Inner errors.
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
      x-ms-external: true
    ScheduleProperties:
      description: Properties of a schedule.
      type: object
      properties:
        status:
          description: The status of the schedule (i.e. Enabled, Disabled)
          default: Disabled
          enum:
          - Enabled
          - Disabled
          type: string
          x-ms-enum:
            name: EnableStatus
            modelAsString: true
        taskType:
          description: The task type of the schedule (e.g. LabVmsShutdownTask, LabVmAutoStart).
          type: string
        weeklyRecurrence:
          $ref: '#/components/schemas/WeekDetails'
          description: If the schedule will occur only some days of the week, specify the weekly recurrence.
        dailyRecurrence:
          $ref: '#/components/schemas/DayDetails'
          description: If the schedule will occur once each day of the week, specify the daily recurrence.
        hourlyRecurrence:
          $ref: '#/components/schemas/HourDetails'
          description: If the schedule will occur multiple times a day, specify the hourly recurrence.
        timeZoneId:
          description: The time zone ID (e.g. China Standard Time, Greenland Standard Time, Pacific Standard time, etc.). The possible values for this property can be found in `IReadOnlyCollection<string> TimeZoneConverter.TZConvert.KnownWindowsTimeZoneIds` (https://github.com/mattjohnsonpint/TimeZoneConverter/blob/main/README.md)
          type: string
        notificationSettings:
          $ref: '#/components/schemas/NotificationSettings'
          description: Notification settings.
        createdDate:
          format: date-time
          description: The creation date of the schedule.
          type: string
          readOnly: true
        targetResourceId:
          description: The resource ID to which the schedule belongs
          type: string
        provisioningState:
          description: The provisioning status of the resource.
          type: string
          readOnly: true
        uniqueIdentifier:
          description: The unique immutable identifier of a resource (Guid).
          type: string
          readOnly: true
    Resource:
      description: An Azure resource.
      type: object
      properties:
        id:
          description: The identifier of the resource.
          type: string
          readOnly: true
        name:
          description: The name of the resource.
          type: string
          readOnly: true
        type:
          description: The type of the resource.
          type: string
          readOnly: true
        location:
          description: The location of the resource.
          type: string
        tags:
          description: The tags of the resource.
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
    Schedule:
      description: A schedule.
      required:
      - properties
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/ScheduleProperties'
          description: The properties of the resource.
          x-ms-client-flatten: true
    HourDetails:
      description: Properties of an hourly schedule.
      type: object
      properties:
        minute:
          format: int32
          description: Minutes of the hour the schedule will run.
          type: integer
  parameters:
    api-version:
      name: api-version
      in: query
      description: Client API version.
      required: true
      schema:
        type: string
        default: '2018-09-15'
    resourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    subscriptionId:
      name: subscriptionId
      in: path
      description: The subscription ID.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: Access Microsoft Azure
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: OAuth2 Implicit Grant
