openapi: 3.2.0
info:
  title: Microsoft Azure NetworkManagerEffectiveConfiguration…
  description: The Microsoft Azure Network Manager effective configuration API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.
  version: 2022-02-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: NetworkManagerEffectiveConnectivityConfiguration
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/listNetworkManagerEffectiveConnectivityConfigurations
  : parameters:
    - $ref: ./network.json#/parameters/SubscriptionIdParameter
    - $ref: '#/components/parameters/ResourceGroupNameParameter'
    - $ref: '#/components/parameters/VirtualNetworkNameParameter'
    - $ref: ./network.json#/parameters/ApiVersionParameter
    post:
      tags:
      - NetworkManagerEffectiveConnectivityConfiguration
      operationId: microsoftAzureListnetworkmanagereffectiveconnectivityconfigurations
      description: List all effective connectivity configurations applied on a virtual network.
      responses:
        '200':
          description: OK - Returns information about the configurations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkManagerEffectiveConnectivityConfigurationListResult'
        default:
          description: Resource Provider error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        List effective connectivity configuration:
          $ref: ./examples/NetworkManagerEffectiveConnectivityConfigurationsList.json
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./networkManagerGroup.json#/definitions/QueryRequestOptions
        description: Parameters supplied to list correct page.
        required: true
components:
  parameters:
    VirtualNetworkNameParameter:
      name: virtualNetworkName
      in: path
      required: true
      description: The name of the virtual network.
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
  schemas:
    ConfigurationGroup:
      type: object
      properties:
        id:
          type: string
          description: Resource ID.
        properties:
          x-ms-client-flatten: true
          $ref: ./networkManagerGroup.json#/definitions/NetworkGroupProperties
          description: The network configuration group properties
      description: The network configuration group resource
    NetworkManagerEffectiveConnectivityConfigurationListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/EffectiveConnectivityConfiguration'
          description: Gets a page of NetworkManagerEffectiveConnectivityConfiguration
        skipToken:
          description: When present, the value can be passed to a subsequent query call (together with the same query and scopes used in the current request) to retrieve the next page of data.
          type: string
      description: Result of the request to list networkManagerEffectiveConnectivityConfiguration. It contains a list of groups and a skiptoken to get the next set of results.
    EffectiveConnectivityConfiguration:
      type: object
      properties:
        id:
          type: string
          description: Resource ID.
        properties:
          x-ms-client-flatten: true
          $ref: ./networkManagerConnectivityConfiguration.json#/definitions/ConnectivityConfigurationProperties
          description: Properties of a network manager connectivity configuration
        configurationGroups:
          type: array
          items:
            $ref: '#/components/schemas/ConfigurationGroup'
          description: Effective configuration groups.
      description: The network manager effective connectivity configuration
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
