openapi: 3.2.0
info:
  title: Microsoft Azure Recovery Points API
  x-refined-note:
  - x-ms-code-generation-settings differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged RecoveryPoints across 2 of this provider''s published API definitions: recoveryservicesbackupclient-openapi-original.yml, siterecoverymanagementclient-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Recovery Points
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints
  : get:
      tags:
      - Recovery Points
      description: Lists the backup copies for the backed up item.
      operationId: microsoftAzureRecoverypointsList
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/VaultName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Fabric name associated with the backed up item.
        required: true
        schema:
          type: string
      - name: containerName
        in: path
        description: Container name associated with the backed up item.
        required: true
        schema:
          type: string
      - name: protectedItemName
        in: path
        description: Backed up item whose backup copies are to be fetched.
        required: true
        schema:
          type: string
      - name: $filter
        in: query
        description: OData filter options.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoveryPointResourceList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-odata: '#/definitions/BMSRPQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Get Protected Azure Vm Recovery Points:
          $ref: ./examples/AzureIaasVm/RecoveryPoints_List.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}
  : get:
      tags:
      - Recovery Points
      description: 'Provides the information of the backed up data identified using RecoveryPointID. This is an asynchronous operation.

        To know the status of the operation, call the GetProtectedItemOperationResult API.'
      operationId: microsoftAzureRecoverypointsGet
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/VaultName'
      - $ref: '#/components/parameters/ResourceGroupName'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Fabric name associated with backed up item.
        required: true
        schema:
          type: string
      - name: containerName
        in: path
        description: Container name associated with backed up item.
        required: true
        schema:
          type: string
      - name: protectedItemName
        in: path
        description: Backed up item name whose backup data needs to be fetched.
        required: true
        schema:
          type: string
      - name: recoveryPointId
        in: path
        description: RecoveryPointID represents the backed up data to be fetched.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoveryPointResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Get Azure Vm Recovery Point Details:
          $ref: ./examples/AzureIaasVm/RecoveryPoints_Get.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationProtectionContainers/{protectionContainerName}/replicationProtectedItems/{replicatedProtectedItemName}/recoveryPoints
  : get:
      tags:
      - Recovery Points
      summary: Microsoft Azure Gets The List Of Recovery Points For A Replication Protected…
      description: Lists the available recovery points for a replication protected item.
      operationId: microsoftAzureRecoverypointsListbyreplicationprotecteditems
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName_2'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: The fabric name.
        required: true
        schema:
          type: string
      - name: protectionContainerName
        in: path
        description: The protection container name.
        required: true
        schema:
          type: string
      - name: replicatedProtectedItemName
        in: path
        description: The replication protected item name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoveryPointCollection'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Gets the list of recovery points for a replication protected item.:
          $ref: ./examples/RecoveryPoints_ListByReplicationProtectedItems.json
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationProtectionContainers/{protectionContainerName}/replicationProtectedItems/{replicatedProtectedItemName}/recoveryPoints/{recoveryPointName}
  : get:
      tags:
      - Recovery Points
      summary: Microsoft Azure Gets A Recovery Point
      description: Get the details of specified recovery point.
      operationId: microsoftAzureRecoverypointsGet
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ResourceName'
      - $ref: '#/components/parameters/ResourceGroupName_2'
      - $ref: '#/components/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: The fabric name.
        required: true
        schema:
          type: string
      - name: protectionContainerName
        in: path
        description: The protection container name.
        required: true
        schema:
          type: string
      - name: replicatedProtectedItemName
        in: path
        description: The replication protected item name.
        required: true
        schema:
          type: string
      - name: recoveryPointName
        in: path
        description: The recovery point name.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoveryPoint_2'
      x-ms-examples:
        Gets a recovery point.:
          $ref: ./examples/RecoveryPoints_Get.json
    servers:
    - url: https://management.azure.com
components:
  schemas:
    CloudError:
      x-ms-external: true
      properties:
        error:
          type: object
          $ref: '#/components/schemas/CloudErrorBody'
          description: The error object.
      description: An error response from the Container Instance service.
    RecoveryPoint:
      description: Base class for backup copies. Workload-specific backup copies are derived from this class.
      required:
      - objectType
      type: object
      properties:
        objectType:
          description: This property will be used as the discriminator for deciding the specific types in the polymorphic chain of types.
          type: string
      discriminator:
        propertyName: objectType
    ResourceList:
      description: Base for all lists of resources.
      type: object
      properties:
        nextLink:
          description: The uri to fetch the next page of resources. Call ListNext() fetches next page of resources.
          type: string
    CloudErrorBody:
      x-ms-external: true
      properties:
        code:
          readOnly: true
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          readOnly: true
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          readOnly: true
          type: string
          description: The target of the particular error. For example, the name of the property in error.
        details:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          x-ms-identifiers:
          - code
          description: A list of additional details about the error.
        additionalInfo:
          readOnly: true
          type: array
          items:
            $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorAdditionalInfo
          x-ms-identifiers: []
          description: The error additional info.
      description: An error response from the Container Instance service.
    RecoveryPointResource:
      description: Base class for backup copies. Workload-specific backup copies are derived from this class.
      allOf:
      - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          $ref: '#/components/schemas/RecoveryPoint'
          description: RecoveryPointResource properties
    Resource:
      description: ARM Resource.
      type: object
      properties:
        id:
          description: Resource Id represents the complete path to the resource.
          type: string
          readOnly: true
        name:
          description: Resource name associated with the resource.
          type: string
          readOnly: true
        type:
          description: Resource type represents the complete path of the form Namespace/ResourceType/ResourceType/...
          type: string
          readOnly: true
        location:
          description: Resource location.
          type: string
        tags:
          description: Resource tags.
          type: object
          additionalProperties:
            type: string
        eTag:
          description: Optional ETag.
          type: string
      x-ms-azure-resource: true
    RecoveryPointResourceList:
      description: List of RecoveryPoint resources
      type: object
      allOf:
      - $ref: '#/components/schemas/ResourceList'
      properties:
        value:
          description: List of resources.
          type: array
          items:
            $ref: '#/components/schemas/RecoveryPointResource'
    RecoveryPoint_2:
      description: Recovery point.
      type: object
      allOf:
      - $ref: '#/components/schemas/Resource_2'
      properties:
        properties:
          $ref: '#/components/schemas/RecoveryPointProperties'
          description: The recovery point properties.
    ProviderSpecificRecoveryPointDetails:
      description: Replication provider specific recovery point details.
      required:
      - instanceType
      type: object
      properties:
        instanceType:
          description: Gets the provider type.
          type: string
      discriminator:
        propertyName: instanceType
    Resource_2:
      description: Azure resource.
      type: object
      properties:
        id:
          description: Resource Id
          type: string
          readOnly: true
        name:
          description: Resource Name
          type: string
          readOnly: true
        type:
          description: Resource Type
          type: string
          readOnly: true
        location:
          description: Resource Location
          type: string
      x-ms-azure-resource: true
    RecoveryPointCollection:
      description: Collection of recovery point details.
      type: object
      properties:
        value:
          description: The recovery point details.
          type: array
          items:
            $ref: '#/components/schemas/RecoveryPoint_2'
        nextLink:
          description: The value of next link.
          type: string
    RecoveryPointProperties:
      description: Recovery point properties.
      type: object
      properties:
        recoveryPointTime:
          format: date-time
          description: The recovery point time.
          type: string
        recoveryPointType:
          description: 'The recovery point type: ApplicationConsistent, CrashConsistent.'
          type: string
        providerSpecificDetails:
          $ref: '#/components/schemas/ProviderSpecificRecoveryPointDetails'
          description: The provider specific details for the recovery point.
  parameters:
    ResourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group where the recovery services vault is present.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionId:
      name: subscriptionId
      in: path
      description: The subscription Id.
      required: true
      schema:
        type: string
    ApiVersion:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
    VaultName:
      name: vaultName
      in: path
      description: The name of the recovery services vault.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupName_2:
      name: resourceGroupName
      in: path
      description: The name of the resource group where the recovery services vault is present.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    ResourceName:
      name: resourceName
      in: path
      description: The name of the recovery services vault.
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account.
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- recoveryservicesbackupclient-openapi-original.yml
- siterecoverymanagementclient-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
