openapi: 3.2.0
info:
  title: Microsoft Azure Azure Addons Resource Provider Addon…
  description: The service for managing third party addons.
  version: '2018-03-01'
servers:
- url: https://management.azure.com
tags:
- name: AddonDetails
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Addons/supportProviders/{providerName}/supportPlanTypes/{planTypeName}:
    get:
      tags:
      - AddonDetails
      operationId: microsoftAzureSupportplantypesGet
      description: Returns whether or not the canonical support plan of type {type} is enabled for the subscription.
      x-ms-examples:
        SupportPlanTypes_Get:
          $ref: ./examples/SupportPlanTypes_Get.json
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/SupportProviderName'
      - $ref: '#/components/parameters/CanonicalSupportPlanType'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CanonicalSupportPlanResponseEnvelope'
        '404':
          description: Not Found
        default:
          description: '''404'' - ''Not Found''.

            ''400'' - ''Bad Request'''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDefinition'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Addons…
    put:
      tags:
      - AddonDetails
      operationId: microsoftAzureSupportplantypesCreateorupdate
      description: Creates or updates the Canonical support plan of type {type} for the subscription.
      x-ms-long-running-operation: true
      x-ms-examples:
        SupportPlanTypes_CreateOrUpdate:
          $ref: ./examples/SupportPlanTypes_CreateOrUpdate.json
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/SupportProviderName'
      - $ref: '#/components/parameters/CanonicalSupportPlanType'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CanonicalSupportPlanResponseEnvelope'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CanonicalSupportPlanResponseEnvelope'
        '404':
          description: Not Found
        default:
          description: '''404'' - ''Not Found''.

            ''400'' - ''Bad Request'''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDefinition'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Providers Microsoft Addons…
components:
  parameters:
    SupportProviderName:
      name: providerName
      in: path
      required: true
      description: The support plan type. For now the only valid type is "canonical".
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
    CanonicalSupportPlanType:
      name: planTypeName
      in: path
      required: true
      description: The Canonical support plan type.
      x-ms-enum:
        name: PlanTypeName
        modelAsString: true
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
        - Essential
        - Standard
        - Advanced
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Subscription credentials that uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
  schemas:
    ErrorDefinition:
      type: object
      title: Error
      description: Error description and code explaining why an operation failed.
      required:
      - message
      - code
      properties:
        message:
          type: string
          description: Description of the error.
        code:
          type: string
          description: Service specific error code which serves as the substatus for the HTTP error code.
    CanonicalSupportPlanResponseEnvelope:
      type: object
      description: The status of the Canonical support plan.
      required:
      - properties
      properties:
        id:
          readOnly: true
          type: string
          description: The id of the ARM resource, e.g. "/subscriptions/{id}/providers/Microsoft.Addons/supportProvider/{supportProviderName}/supportPlanTypes/{planTypeName}".
        name:
          readOnly: true
          type: string
          description: The name of the Canonical support plan, i.e. "essential", "standard" or "advanced".
        type:
          readOnly: true
          type: string
          description: Microsoft.Addons/supportProvider
        properties:
          type: object
          $ref: '#/components/schemas/CanonicalSupportPlanProperties'
          description: Describes Canonical support plan type and status.
          x-ms-client-flatten: true
      x-ms-azure-resource: true
    CanonicalSupportPlanProperties:
      type: object
      description: The properties of the Canonical support plan.
      properties:
        provisioningState:
          type: string
          description: The provisioning state of the resource.
          enum:
          - Succeeded
          - Failed
          - Cancelled
          - Purchasing
          - Downgrading
          - Cancelling
          - Upgrading
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
