openapi: 3.2.0
info:
  title: Microsoft Azure Microsoft.Elastic VM Ingestion Details API
  version: 2024-01-01-preview
servers:
- url: https://management.azure.com
tags:
- name: VMIngestionDetails
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/vmIngestionDetails
  : post:
      tags:
      - VMIngestionDetails
      summary: Microsoft Azure List The Vm Ingestion Details That Will Be Monitored By The…
      operationId: microsoftAzureVmingestionDetails
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MonitorNameParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VMIngestionDetailsResponse'
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderDefaultErrorResponse'
      x-ms-examples:
        VMIngestion_Details:
          $ref: ./examples/VMIngestion_Details.json
      description: Needs a more full description created.
components:
  schemas:
    ResourceProviderDefaultErrorResponse:
      description: RP default error response.
      type: object
      properties:
        error:
          description: Response body of Error
          readOnly: true
          $ref: '#/components/schemas/ErrorResponseBody'
    VMIngestionDetailsResponse:
      description: The vm ingestion details to install an agent.
      type: object
      properties:
        cloudId:
          description: The cloudId of given Elastic monitor resource.
          type: string
        ingestionKey:
          description: Ingestion details to install agent on given VM.
          type: string
          x-ms-secret: true
    ErrorResponseBody:
      description: Error response body.
      title: ErrorResponseBody
      type: object
      properties:
        code:
          description: Error code.
          type: string
        message:
          description: Error message.
          type: string
        target:
          description: Error target.
          type: string
        details:
          description: Error details.
          type: array
          x-ms-identifiers: []
          items:
            $ref: '#/components/schemas/ErrorResponseBody'
  parameters:
    MonitorNameParameter:
      in: path
      name: monitorName
      description: Monitor resource name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Microsoft Entra ID OAuth2 Flow
