openapi: 3.2.0
info:
  version: 2023-03-01-preview
  title: Microsoft Azure ChangesClient Get Change API
  description: The Resource Changes Client
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: GetChange
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}/providers/Microsoft.Resources/changes/{changeResourceId}
  : get:
      tags:
      - GetChange
      operationId: microsoftAzureChangesGet
      x-ms-examples:
        GetChange:
          $ref: ./examples/GetChange.json
      description: Obtains the specified change resource for the target resource
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ResourceProviderNamespaceParameter'
      - $ref: '#/components/parameters/ResourceTypeParameter'
      - $ref: '#/components/parameters/ResourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/ChangeResourceIdParameter'
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeResourceResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    ChangeProperties:
      description: The properties of a change
      type: object
      properties:
        targetResourceId:
          description: The fully qualified ID of the target resource that was changed
          type: string
          readOnly: true
        targetResourceType:
          description: The namespace and type of the resource
          type: string
          readOnly: true
        changeType:
          description: The type of change that was captured in the resource
          type: string
          readOnly: true
          enum:
          - Update
          - Delete
          - Create
          x-ms-enum:
            name: ChangeType
            modelAsString: false
            values:
            - value: Update
              description: An existing resource underwent a change
              name: Update
            - value: Delete
              description: An existing resource was deleted
              name: Delete
            - value: Create
              description: A newly created resource
              name: Create
        changeAttributes:
          $ref: '#/components/schemas/ChangeAttributes'
        changes:
          $ref: '#/components/schemas/ChangesDictionary'
    ChangeAttributes:
      description: Details about the change resource
      type: object
      properties:
        correlationId:
          description: The ARM correlation ID of the change resource
          type: string
          readOnly: true
        timestamp:
          description: The time the change(s) on the target resource ocurred
          type: string
          readOnly: true
        changesCount:
          type: integer
          format: int64
          readOnly: true
          description: The number of changes this resource captures
        previousResourceSnapshotId:
          description: The GUID of the previous snapshot
          type: string
          readOnly: true
        newResourceSnapshotId:
          description: The GUID of the new snapshot
          type: string
          readOnly: true
        isTruncated:
          description: The flag indicating whether property changes dictionary was truncated in this resource
          type: boolean
          readOnly: true
    ChangesDictionary:
      description: A dictionary with changed property name as a key and the change details as the value
      type: object
      additionalProperties:
        $ref: '#/components/schemas/ChangeBase'
    ChangeResourceResult:
      description: Change Resource
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/Resource
      properties:
        properties:
          $ref: '#/components/schemas/ChangeProperties'
    ChangeBase:
      description: An individual change on the target resource
      type: object
      properties:
        propertyChangeType:
          description: The type of change that occurred
          type: string
          readOnly: true
          enum:
          - Insert
          - Update
          - Remove
          x-ms-enum:
            name: PropertyChangeType
            modelAsString: false
            values:
            - value: Update
              description: An existing property underwent a change
              name: Update
            - value: Insert
              description: A property was newly created
              name: Insert
            - value: Remove
              description: An existing property was deleted
              name: Remove
        changeCategory:
          description: The entity that made the change
          type: string
          readOnly: true
          enum:
          - User
          - System
          x-ms-enum:
            name: ChangeCategory
            modelAsString: false
            values:
            - value: User
              description: User initiated change
              name: User
            - value: System
              description: System initiated change
              name: System
        previousValue:
          description: The target resource property value before the change
          type: string
          readOnly: true
        newValue:
          description: The target resource property value after the change
          type: string
          readOnly: true
  parameters:
    ResourceProviderNamespaceParameter:
      name: resourceProviderNamespace
      in: path
      required: true
      description: The name of the resource provider namespace.
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
    ChangeResourceIdParameter:
      name: changeResourceId
      in: path
      required: true
      description: The ID of the change resource
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to be used with the HTTP request.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)
      schema:
        type: string
    ResourceNameParameter:
      name: resourceName
      in: path
      required: true
      description: The name of the resource.
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceTypeParameter:
      name: resourceType
      in: path
      required: true
      description: The name of the resource type.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
