openapi: 3.2.0
info:
  version: 2022-05-01-preview
  title: Microsoft Azure Edge Ordering Service-Customer Addresses API
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Addresses
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.EdgeOrder/addresses:
    get:
      tags:
      - Addresses
      description: List all the addresses available under the subscription.
      operationId: microsoftAzureAddressesListbysubscription
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - name: $filter
        in: query
        description: $filter is supported to filter based on shipping address properties. Filter supports only equals operation.
        required: false
        schema:
          type: string
      - name: $skipToken
        in: query
        description: $skipToken is supported on Get list of addresses, which provides the next page in the list of addresses.
        required: false
        schema:
          type: string
      - name: $top
        in: query
        description: $top is supported on fetching list of resources. $top=10 means that the first 10 items in the list will be returned to the API caller.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: List of addresses available under the subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressResourceList'
        default:
          description: Error response describing reason for operation failure.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ListAddressesAtSubscriptionLevel:
          $ref: ./examples/ListAddressesAtSubscriptionLevel.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Edgeorder…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EdgeOrder/addresses:
    get:
      tags:
      - Addresses
      description: List all the addresses available under the given resource group.
      operationId: microsoftAzureAddressesListbyresourcegroup
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - name: $filter
        in: query
        description: $filter is supported to filter based on shipping address properties. Filter supports only equals operation.
        required: false
        schema:
          type: string
      - name: $skipToken
        in: query
        description: $skipToken is supported on Get list of addresses, which provides the next page in the list of addresses.
        required: false
        schema:
          type: string
      - name: $top
        in: query
        description: $top is supported on fetching list of resources. $top=10 means that the first 10 items in the list will be returned to the API caller.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: List of addresses available under the resource group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressResourceList'
        default:
          description: Error response describing reason for operation failure.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ListAddressesAtResourceGroupLevel:
          $ref: ./examples/ListAddressesAtResourceGroupLevel.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EdgeOrder/addresses/{addressName}:
    get:
      tags:
      - Addresses
      description: Get information about the specified address.
      operationId: microsoftAzureAddressesGet
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/addressNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Address object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressResource'
        default:
          description: Error response describing reason for operation failure.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-examples:
        GetAddressByName:
          $ref: ./examples/GetAddressByName.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Addresses
      description: 'Create a new address with the specified parameters. Existing address cannot be updated with this API and should

        instead be updated with the Update address API.'
      operationId: microsoftAzureAddressesCreate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/addressNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Address resource object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressResource'
        '202':
          description: Accepted request for create Address.
        default:
          description: Error response describing reason for operation failure.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-examples:
        CreateAddress:
          $ref: ./examples/CreateAddress.json
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressResource'
        description: Address details from request body.
        required: true
    delete:
      tags:
      - Addresses
      description: Delete an address.
      operationId: microsoftAzureAddressesDelete
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/addressNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Address deleted.
        '202':
          description: Accepted request for delete address.
          headers:
            Location:
              description: The URL to track the status of the long running operation.
              schema:
                type: string
        '204':
          description: No content. Address deleted.
        default:
          description: Error response describing reason for operation failure.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-examples:
        DeleteAddressByName:
          $ref: ./examples/DeleteAddressByName.json
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    patch:
      tags:
      - Addresses
      description: Update the properties of an existing address.
      operationId: microsoftAzureAddressesUpdate
      parameters:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/addressNameParameter'
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter
      - name: If-Match
        in: header
        description: Defines the If-Match condition. The patch will be performed only if the ETag of the job on the server matches this value.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Address resource object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressResource'
        '202':
          description: Accepted request for address update.
          headers:
            Location:
              description: The URL to track the status of the long running operation.
              schema:
                type: string
        default:
          description: Error response describing reason for operation failure.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-examples:
        UpdateAddress:
          $ref: ./examples/UpdateAddress.json
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressUpdateParameter'
        description: Address update parameters from request body.
        required: true
components:
  schemas:
    AddressUpdateProperties:
      description: Address Update Properties.
      type: object
      properties:
        shippingAddress:
          $ref: '#/components/schemas/ShippingAddress'
          description: Shipping details for the address.
        contactDetails:
          $ref: '#/components/schemas/ContactDetails'
          description: Contact details for the address.
    ShippingAddress:
      description: Shipping address where customer wishes to receive the device.
      required:
      - streetAddress1
      - country
      type: object
      properties:
        streetAddress1:
          description: Street Address line 1.
          type: string
        streetAddress2:
          description: Street Address line 2.
          type: string
        streetAddress3:
          description: Street Address line 3.
          type: string
        city:
          description: Name of the City.
          type: string
        stateOrProvince:
          description: Name of the State or Province.
          type: string
        country:
          description: Name of the Country.
          type: string
        postalCode:
          description: Postal code.
          type: string
        zipExtendedCode:
          description: Extended Zip Code.
          type: string
        companyName:
          description: Name of the company.
          type: string
        addressType:
          description: Type of address.
          enum:
          - None
          - Residential
          - Commercial
          type: string
          x-ms-enum:
            name: AddressType
            modelAsString: true
            values:
            - value: None
              description: Address type not known.
            - value: Residential
              description: Residential Address.
            - value: Commercial
              description: Commercial Address.
    AddressResourceList:
      description: Address Resource Collection.
      type: object
      properties:
        value:
          description: List of address resources.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/AddressResource'
          readOnly: true
        nextLink:
          description: Link for the next set of job resources.
          type: string
    AddressUpdateParameter:
      description: The Address update parameters.
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/AddressUpdateProperties'
          description: Properties of an address to be updated.
          x-ms-client-flatten: true
        tags:
          description: The list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups).
          type: object
          additionalProperties:
            type: string
    ContactDetails:
      description: Contact Details.
      required:
      - contactName
      - phone
      - emailList
      type: object
      properties:
        contactName:
          description: Contact name of the person.
          type: string
        phone:
          description: Phone number of the contact person.
          type: string
        phoneExtension:
          description: Phone extension number of the contact person.
          type: string
        mobile:
          description: Mobile number of the contact person.
          type: string
        emailList:
          description: List of Email-ids to be notified about job progress.
          uniqueItems: false
          type: array
          items:
            type: string
    AddressProperties:
      description: Address Properties.
      required:
      - contactDetails
      type: object
      properties:
        shippingAddress:
          $ref: '#/components/schemas/ShippingAddress'
          description: Shipping details for the address.
        contactDetails:
          $ref: '#/components/schemas/ContactDetails'
          description: Contact details for the address.
        addressValidationStatus:
          description: Status of address validation.
          enum:
          - Valid
          - Invalid
          - Ambiguous
          type: string
          readOnly: true
          x-ms-enum:
            name: AddressValidationStatus
            modelAsString: true
            values:
            - value: Valid
              description: Address provided is valid.
            - value: Invalid
              description: Address provided is invalid or not supported.
            - value: Ambiguous
              description: Address provided is ambiguous, please choose one of the alternate addresses returned.
    AddressResource:
      description: Address Resource.
      required:
      - properties
      type: object
      allOf:
      - $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource
      properties:
        properties:
          $ref: '#/components/schemas/AddressProperties'
          description: Properties of an address.
          x-ms-client-flatten: true
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: Represents resource creation and update time.
          readOnly: true
  parameters:
    addressNameParameter:
      name: addressName
      in: path
      description: The name of the address Resource within the specified resource group. address names must be between 3 and 24 characters in length and use any alphanumeric and underscore only.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 24
        minLength: 3
        pattern: ^[-\w\.]+$
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
