openapi: 3.2.0
info:
  title: Microsoft Azure Credential API
  version: '1.0'
  description: 'Operations tagged Credential across 2 of this provider''s published API definitions: metrics-advisor-openapi-original.yml, microsoftscanningclient-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://purview.azure.com/scan
tags:
- name: Credential
paths:
  /credentials:
    post:
      tags:
      - Credential
      summary: Microsoft Azure Create A New Data Source Credential
      operationId: microsoftAzureCreatecredential
      responses:
        '201':
          description: Success
          headers:
            Location:
              description: Location of the newly created resource.
              schema:
                type: string
        default:
          description: Client error or server error (4xx or 5xx)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode'
      x-ms-examples:
        Create a new data source credential:
          $ref: ./examples/createCredential.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataSourceCredential'
        description: Create data source credential request
        required: true
      security:
      - apim_key: []
        ma_api_key: []
    get:
      tags:
      - Credential
      summary: Microsoft Azure List All Credentials
      operationId: microsoftAzureListcredentials
      parameters:
      - in: query
        name: $skip
        description: for paging, skipped number
        schema:
          type: integer
          format: int32
      - in: query
        name: $maxpagesize
        description: the maximum number of items in one page
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSourceCredentialList'
        default:
          description: Client error or server error (4xx or 5xx)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode'
      x-ms-pageable:
        nextLinkName: '@nextLink'
      x-ms-examples:
        List all credentials:
          $ref: ./examples/listCredentials.json
      description: Needs a more full description created.
      security:
      - apim_key: []
        ma_api_key: []
  /credentials/{credentialId}:
    patch:
      tags:
      - Credential
      summary: Microsoft Azure Update A Data Source Credential
      operationId: microsoftAzureUpdatecredential
      parameters:
      - in: path
        name: credentialId
        description: Data source credential unique ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSourceCredential'
        default:
          description: Client error or server error (4xx or 5xx)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode'
      x-ms-examples:
        Update a data source credential:
          $ref: ./examples/updateCredential.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/DataSourceCredentialPatch'
        description: Update data source credential request
        required: true
      security:
      - apim_key: []
        ma_api_key: []
    delete:
      tags:
      - Credential
      summary: Microsoft Azure Delete A Data Source Credential
      operationId: microsoftAzureDeletecredential
      parameters:
      - in: path
        name: credentialId
        description: Data source credential unique ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: The resource is deleted successfully or does not exist.
        default:
          description: Client error or server error (4xx or 5xx)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode'
      x-ms-examples:
        Delete a data source credential:
          $ref: ./examples/deleteCredential.json
      description: Needs a more full description created.
      security:
      - apim_key: []
        ma_api_key: []
    get:
      tags:
      - Credential
      summary: Microsoft Azure Get A Data Source Credential
      operationId: microsoftAzureGetcredential
      parameters:
      - in: path
        name: credentialId
        description: Data source credential unique ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSourceCredential'
        default:
          description: Client error or server error (4xx or 5xx)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorCode'
      x-ms-examples:
        Get a data source credential:
          $ref: ./examples/getCredential.json
      description: Needs a more full description created.
      security:
      - apim_key: []
        ma_api_key: []
  /credentials/{credentialName}:
    get:
      tags:
      - Credential
      description: Gets credential information
      operationId: microsoftAzureCredentialGet
      parameters:
      - in: path
        name: credentialName
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credential'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        Credential_Get:
          $ref: ./examples/Credential_Get.json
      summary: Microsoft Azure Get Credentials Credentialname
      security:
      - azure_auth:
        - user_impersonation
    put:
      tags:
      - Credential
      description: Creates an instance of a credential
      operationId: microsoftAzureCredentialCreateorupdate
      parameters:
      - in: path
        name: credentialName
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credential'
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credential'
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        Credential_CreateOrUpdate:
          $ref: ./examples/Credential_CreateOrUpdate.json
      summary: Microsoft Azure Put Credentials Credentialname
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Credential'
        required: true
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - Credential
      description: Deletes the credentials associated with the account
      operationId: microsoftAzureCredentialDelete
      parameters:
      - in: path
        name: credentialName
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credential'
        '204':
          description: Success
        default:
          description: An error response received from the Scanning Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        Credential_Delete:
          $ref: ./examples/Credential_Delete.json
      summary: Microsoft Azure Delete Credentials Credentialname
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://purview.azure.com/scan
components:
  schemas:
    DataSourceCredentialPatch:
      required:
      - dataSourceCredentialType
      type: object
      properties:
        dataSourceCredentialType:
          description: Type of data source credential
          enum:
          - AzureSQLConnectionString
          - DataLakeGen2SharedKey
          - ServicePrincipal
          - ServicePrincipalInKV
          type: string
          x-ms-enum:
            name: DataSourceCredentialType
            modelAsString: true
        dataSourceCredentialName:
          description: Name of data source credential
          type: string
        dataSourceCredentialDescription:
          description: Description of data source credential
          type: string
      discriminator:
        propertyName: dataSourceCredentialType
      example:
        dataSourceCredentialDescription: This is a data source credential
    DataSourceCredentialList:
      type: object
      properties:
        '@nextLink':
          type: string
          readOnly: true
        value:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/DataSourceCredential'
          readOnly: true
    DataSourceCredential:
      required:
      - dataSourceCredentialName
      - dataSourceCredentialType
      type: object
      properties:
        dataSourceCredentialType:
          description: Type of data source credential
          enum:
          - AzureSQLConnectionString
          - DataLakeGen2SharedKey
          - ServicePrincipal
          - ServicePrincipalInKV
          type: string
          x-ms-enum:
            name: DataSourceCredentialType
            modelAsString: true
        dataSourceCredentialId:
          format: uuid
          description: Unique id of data source credential
          type: string
          readOnly: true
        dataSourceCredentialName:
          description: Name of data source credential
          type: string
        dataSourceCredentialDescription:
          description: Description of data source credential
          type: string
      discriminator:
        propertyName: dataSourceCredentialType
      example:
        parameters:
          clientId: 88888888-8888-8888-8888-888888888888
          clientSecret: fake-client-secret
          tenantId: 12345678-1234-1234-1234-123456788888
        dataSourceCredentialName: A data source credential
        dataSourceCredentialDescription: This is a data source credential
        dataSourceCredentialType: ServicePrincipal
    ErrorCode:
      type: object
      properties:
        message:
          type: string
        code:
          type: string
    ProxyResource:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
    ErrorModel:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorModel'
    Credential:
      required:
      - kind
      type: object
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      properties:
        kind:
          enum:
          - AccountKey
          - ServicePrincipal
          - BasicAuth
          - SqlAuth
          - AmazonARN
          - ConsumerKeyAuth
          - DelegatedAuth
          - ManagedIdentity
          type: string
          x-ms-enum:
            name: CredentialType
            modelAsString: true
      discriminator:
        propertyName: kind
    CredentialList:
      required:
      - value
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Credential'
        nextLink:
          type: string
        count:
          format: int64
          type: integer
    ErrorResponseModel:
      type: object
      properties:
        error:
          allOf:
          - $ref: '#/components/schemas/ErrorModel'
  parameters:
    api-version:
      in: query
      name: api-version
      description: The api version to use.
      required: true
      x-ms-client-name: ApiVersion
      schema:
        type: string
  securitySchemes:
    ma_api_key:
      type: apiKey
      name: x-api-key
      in: header
    apim_key:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-refined-from:
- metrics-advisor-openapi-original.yml
- microsoftscanningclient-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
