openapi: 3.2.0
info:
  title: Microsoft Azure Private Link Resource API
  version: '1.0'
  description: 'Operations tagged PrivateLinkResource across 2 of this provider''s published API definitions: batchmanagementclient-openapi-original.yml, purviewmanagementclient-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: PrivateLinkResource
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/privateLinkResources
  : get:
      tags:
      - PrivateLinkResource
      operationId: microsoftAzurePrivatelinkresourceListbybatchaccount
      description: Lists all of the private link resources in the specified account.
      x-ms-examples:
        ListPrivateLinkResource:
          $ref: ./examples/PrivateLinkResourcesList.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: maxresults
        in: query
        required: false
        description: The maximum number of items to return in the response.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: The operation was successful. The response contains a list of private link resources associated with the account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPrivateLinkResourcesResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/privateLinkResources/{privateLinkResourceName}
  : get:
      tags:
      - PrivateLinkResource
      operationId: microsoftAzurePrivatelinkresourceGet
      description: Gets information about the specified private link resource.
      x-ms-examples:
        GetPrivateLinkResource:
          $ref: ./examples/PrivateLinkResourceGet.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/AccountNameParameter'
      - $ref: '#/components/parameters/PrivateLinkResourceNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: The operation was successful. The response contains the private link resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Purview/accounts/{accountName}/privateLinkResources
  : get:
      tags:
      - PrivateLinkResource
      summary: Microsoft Azure Gets A List Of Privately Linkable Resources For An Account
      description: Gets a list of privately linkable resources for an account
      operationId: microsoftAzurePrivatelinkresourcesListbyaccount
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/accountName'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResourceList'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        PrivateLinkResources_ListByAccount:
          $ref: ./examples/PrivateLinkResources_ListByAccount.json
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Purview/accounts/{accountName}/privateLinkResources/{groupId}
  : get:
      tags:
      - PrivateLinkResource
      summary: Microsoft Azure Gets A Privately Linkable Resources For An Account With Given…
      description: Gets a privately linkable resources for an account with given group identifier
      operationId: microsoftAzurePrivatelinkresourcesGetbygroupid
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/accountName'
      - name: groupId
        in: path
        description: The group identifier.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResource_2'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-examples:
        PrivateLinkResources_GetByGroupId:
          $ref: ./examples/PrivateLinkResources_GetByGroupId.json
    servers:
    - url: https://management.azure.com
components:
  schemas:
    CloudError:
      type: object
      x-ms-external: true
      properties:
        error:
          description: The body of the error response.
          $ref: '#/components/schemas/CloudErrorBody'
      description: An error response from the Batch service.
    ProxyResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: The ID of the resource.
        name:
          readOnly: true
          type: string
          description: The name of the resource.
        type:
          readOnly: true
          type: string
          description: The type of the resource.
        etag:
          readOnly: true
          type: string
          description: The ETag of the resource, used for concurrency statements.
      description: A definition of an Azure resource.
      x-ms-azure-resource: true
    PrivateLinkResourceProperties:
      type: object
      properties:
        groupId:
          type: string
          title: The group id of the private link resource.
          description: The group id is used to establish the private link connection.
          readOnly: true
        requiredMembers:
          type: array
          items:
            type: string
          title: The list of required members that are used to establish the private link connection.
          readOnly: true
        requiredZoneNames:
          type: array
          items:
            type: string
          title: The list of required zone names for the private DNS resource name
          readOnly: true
      description: Private link resource properties.
    CloudErrorBody:
      type: object
      x-ms-external: true
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of the property in error.
        details:
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          x-ms-identifiers:
          - message
          - target
          description: A list of additional details about the error.
      description: An error response from the Batch service.
    ListPrivateLinkResourcesResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/PrivateLinkResource'
          description: The collection of returned private link resources.
        nextLink:
          type: string
          description: The continuation token.
      description: Values returned by the List operation.
    PrivateLinkResource:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/PrivateLinkResourceProperties'
          description: The properties associated with the private link resource.
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: Contains information about a private link resource.
    PrivateLinkResourceList:
      description: Paged list of private link resources
      required:
      - value
      type: object
      properties:
        count:
          format: int64
          description: Total item count.
          type: integer
        nextLink:
          description: The Url of next result page.
          type: string
        value:
          description: Collection of items of type results.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/PrivateLinkResource_2'
    ErrorModel:
      description: Default error model
      type: object
      properties:
        code:
          description: Gets or sets the code.
          type: string
          readOnly: true
        details:
          description: Gets or sets the details.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/ErrorModel'
          readOnly: true
        message:
          description: Gets or sets the messages.
          type: string
          readOnly: true
        target:
          description: Gets or sets the target.
          type: string
          readOnly: true
    PrivateLinkResourceProperties_2:
      description: A privately linkable resource properties.
      type: object
      properties:
        groupId:
          description: The private link resource group identifier.
          type: string
          readOnly: true
        requiredMembers:
          description: This translates to how many Private IPs should be created for each privately linkable resource.
          uniqueItems: false
          type: array
          items:
            type: string
          readOnly: true
        requiredZoneNames:
          description: The required zone names for private link resource.
          uniqueItems: false
          type: array
          items:
            type: string
          readOnly: true
    PrivateLinkResource_2:
      description: A privately linkable resource.
      type: object
      properties:
        id:
          description: The private link resource identifier.
          type: string
          readOnly: true
        name:
          description: The private link resource name.
          type: string
          readOnly: true
        properties:
          $ref: '#/components/schemas/PrivateLinkResourceProperties_2'
          description: The private link resource properties.
          readOnly: true
        type:
          description: The private link resource type.
          type: string
          readOnly: true
    ErrorResponseModel:
      description: Default error response model
      type: object
      properties:
        error:
          description: Gets or sets the error.
          allOf:
          - $ref: '#/components/schemas/ErrorModel'
          readOnly: true
  parameters:
    PrivateLinkResourceNameParameter:
      name: privateLinkResourceName
      in: path
      required: true
      description: The private link resource name. This must be unique within the account.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 101
        minLength: 1
        pattern: ^[a-zA-Z0-9_-]+\.?[a-fA-F0-9-]*$
    AccountNameParameter:
      name: accountName
      in: path
      required: true
      description: The name of the Batch account.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 24
        minLength: 3
        pattern: ^[a-zA-Z0-9]+$
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group that contains the Batch account.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to be used with the HTTP request.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)
      schema:
        type: string
    accountName:
      name: accountName
      in: path
      description: The name of the account.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 63
        minLength: 3
        pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
    api-version:
      name: api-version
      in: query
      description: The api version to use.
      required: true
      schema:
        type: string
    resourceGroupName:
      name: resourceGroupName
      in: path
      description: The resource group name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    subscriptionId:
      name: subscriptionId
      in: path
      description: The subscription identifier
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Microsoft Entra OAuth 2.0 auth code flow
x-refined-from:
- batchmanagementclient-openapi-original.yml
- purviewmanagementclient-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
