openapi: 3.2.0
info:
  version: 2022-12-01-preview
  title: Microsoft Azure DataBoxEdgeManagementClient Monitoring…
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: MonitoringConfig
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/roles/{roleName}/monitoringConfig
  : get:
      tags:
      - MonitoringConfig
      summary: Microsoft Azure Lists Metric Configurations In A Role
      operationId: microsoftAzureMonitoringconfigList
      parameters:
      - name: deviceName
        in: path
        description: The device name.
        required: true
        schema:
          type: string
      - name: roleName
        in: path
        description: The role name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The monitoring config details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitoringMetricConfigurationList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ListMonitoringConfig:
          $ref: ./examples/ListMonitoringConfig.json
      description: Needs a more full description created.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/roles/{roleName}/monitoringConfig/default
  : get:
      tags:
      - MonitoringConfig
      summary: Microsoft Azure Gets A Metric Configuration Of A Role
      operationId: microsoftAzureMonitoringconfigGet
      parameters:
      - name: deviceName
        in: path
        description: The device name.
        required: true
        schema:
          type: string
      - name: roleName
        in: path
        description: The role name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: The monitoring config details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitoringMetricConfiguration'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        GetMonitoringConfig:
          $ref: ./examples/GetMonitoringConfig.json
      description: Needs a more full description created.
    put:
      tags:
      - MonitoringConfig
      summary: Microsoft Azure Creates A New Metric Configuration Or Updates An Existing One…
      operationId: microsoftAzureMonitoringconfigCreateorupdate
      parameters:
      - name: deviceName
        in: path
        description: The device name.
        required: true
        schema:
          type: string
      - name: roleName
        in: path
        description: The role name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully created or updated the metrics configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitoringMetricConfiguration'
        '202':
          description: Accepted the request to create or update the metrics configuration.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-long-running-operation: true
      x-ms-examples:
        PutMonitoringConfig:
          $ref: ./examples/PutMonitoringConfig.json
      description: Needs a more full description created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonitoringMetricConfiguration'
        description: The metric configuration.
        required: true
    delete:
      tags:
      - MonitoringConfig
      summary: Microsoft Azure Deletes A New Metric Configuration For A Role
      operationId: microsoftAzureMonitoringconfigDelete
      parameters:
      - name: deviceName
        in: path
        description: The device name.
        required: true
        schema:
          type: string
      - name: roleName
        in: path
        description: The role name.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully deleted the metrics configuration.
        '202':
          description: Accepted the request to delete the metrics configuration.
        '204':
          description: The metrics configuration is already deleted.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-long-running-operation: true
      x-ms-examples:
        DeleteMonitoringConfig:
          $ref: ./examples/DeleteMonitoringConfig.json
      description: Needs a more full description created.
components:
  schemas:
    CloudError:
      description: An error response from the service.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: The error details.
      x-ms-external: true
    MonitoringMetricConfigurationProperties:
      description: Metrics properties
      required:
      - metricConfigurations
      type: object
      properties:
        metricConfigurations:
          description: The metrics configuration details
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/MetricConfiguration'
          x-ms-identifiers: []
    MetricConfiguration:
      description: Metric configuration.
      required:
      - resourceId
      - counterSets
      type: object
      properties:
        resourceId:
          description: The Resource ID on which the metrics should be pushed.
          type: string
        mdmAccount:
          description: The MDM account to which the counters should be pushed.
          type: string
        metricNameSpace:
          description: The MDM namespace to which the counters should be pushed. This is required if MDMAccount is specified
          type: string
        counterSets:
          description: Host name for the IoT hub associated to the device.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/MetricCounterSet'
          x-ms-identifiers: []
    ARMBaseModel:
      description: Represents the base class for all object models.
      type: object
      properties:
        id:
          description: The path ID that uniquely identifies the object.
          type: string
          readOnly: true
        name:
          description: The object name.
          type: string
          readOnly: true
        type:
          description: The hierarchical type of the object.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    MetricDimension:
      description: The metric dimension
      required:
      - sourceType
      - sourceName
      type: object
      properties:
        sourceType:
          description: The dimension type.
          type: string
        sourceName:
          description: The dimension value.
          type: string
    MetricCounterSet:
      description: The metric counter set
      required:
      - counters
      type: object
      properties:
        counters:
          description: The counters that should be collected in this set.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/MetricCounter'
          x-ms-identifiers:
          - name
    CloudErrorBody:
      description: An error response from the service.
      type: object
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
          type: string
        message:
          description: A message describing the error, intended to be suitable for display in a user interface.
          type: string
        details:
          description: A list of additional details about the error.
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          x-ms-identifiers: []
      x-ms-external: true
    MonitoringMetricConfiguration:
      description: The metric setting details for the role
      required:
      - properties
      type: object
      allOf:
      - $ref: '#/components/schemas/ARMBaseModel'
      properties:
        properties:
          $ref: '#/components/schemas/MonitoringMetricConfigurationProperties'
          description: The metric setting properties.
          x-ms-client-flatten: true
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: Metadata pertaining to creation and last modification of MonitoringConfiguration
          readOnly: true
    MonitoringMetricConfigurationList:
      description: Collection of metric configurations.
      type: object
      properties:
        value:
          description: The list of metric configurations.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/MonitoringMetricConfiguration'
          readOnly: true
          x-ms-identifiers: []
        nextLink:
          description: Link to the next set of results.
          type: string
          readOnly: true
    MetricCounter:
      description: The metric counter
      required:
      - name
      type: object
      properties:
        name:
          description: The counter name.
          type: string
        instance:
          description: The instance from which counter should be collected.
          type: string
        dimensionFilter:
          description: The dimension filter.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/MetricDimension'
          x-ms-identifiers:
          - sourceName
        additionalDimensions:
          description: The additional dimensions to be added to metric.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/MetricDimension'
          x-ms-identifiers:
          - sourceName
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The subscription ID.
      required: true
      schema:
        type: string
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The resource group name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      description: The API version.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
