openapi: 3.2.0
info:
  title: Microsoft Azure Replicas API
  version: '1.0'
  description: 'Operations tagged Replicas across 3 of this provider''s published API definitions: appconfigurationmanagementclient-openapi-original.yml, mariadbmanagementclient-openapi-original.yml, seabreezemanagementclient-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Replicas
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/replicas
  : get:
      tags:
      - Replicas
      description: Lists the replicas for a given configuration store.
      operationId: microsoftAzureReplicasListbyconfigurationstore
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ConfigStoreNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: $skipToken
        in: query
        description: A skip token is used to continue retrieving items after an operation returns a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplicaListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Replicas_ListByConfigurationStore:
          $ref: ./examples/ConfigurationStoresListReplicas.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/replicas/{replicaName}
  : get:
      tags:
      - Replicas
      description: Gets the properties of the specified replica.
      operationId: microsoftAzureReplicasGet
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ConfigStoreNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: replicaName
        in: path
        description: The name of the replica.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Replica'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Replicas_Get:
          $ref: ./examples/ConfigurationStoresGetReplica.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - Replicas
      description: Creates a replica with the specified parameters.
      operationId: microsoftAzureReplicasCreate
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ConfigStoreNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: replicaName
        in: path
        description: The name of the replica.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Replica'
        '201':
          description: The request was successfully accepted; the operation will complete asynchronously. The provisioning state of the resource should indicate the current state of the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Replica'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Replicas_Create:
          $ref: ./examples/ConfigurationStoresCreateReplica.json
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Replica'
        description: The parameters for creating a replica.
        required: true
    delete:
      tags:
      - Replicas
      description: Deletes a replica.
      operationId: microsoftAzureReplicasDelete
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ConfigStoreNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: replicaName
        in: path
        description: The name of the replica.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request was successful; the request was well-formed and received properly.
        '202':
          description: The request was successful; the operation will complete asynchronously.
        '204':
          description: No Content - the specified resource was not found.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Replicas_Delete:
          $ref: ./examples/ConfigurationStoresDeleteReplica.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/replicas
  : get:
      tags:
      - Replicas
      operationId: microsoftAzureReplicasListbyserver
      x-ms-examples:
        ReplicasListByServer:
          $ref: ./examples/ReplicasListByServer.json
      description: List all the replicas for a given server.
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter_2'
      - $ref: '#/components/parameters/SubscriptionIdParameter_2'
      - $ref: '#/components/parameters/ResourceGroupParameter'
      - $ref: '#/components/parameters/ServerNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerListResult'
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/applications/{applicationName}/services/{serviceName}/replicas
  : get:
      operationId: microsoftAzureReplicaListbyservicename
      x-ms-examples:
        ReplicasGetAll:
          $ref: ./examples/ReplicasGetAll.json
      summary: Microsoft Azure Gets Replicas Of A Given Service
      description: Gets the information about all replicas of a given service of an application. The information includes the runtime properties of the replica instance.
      parameters:
      - $ref: '#/components/parameters/subscriptionIdRequiredPathParam'
      - $ref: '#/components/parameters/api-versionRequiredQueryParam'
      - $ref: '#/components/parameters/ResourceGroupNameRequiredPathParam'
      - $ref: '#/components/parameters/ApplicationNameRequiredPathParam'
      - $ref: '#/components/parameters/ServiceNameRequiredPathParam'
      tags:
      - Replicas
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceReplicaList'
      x-ms-pageable:
        nextLinkName: nextLink
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/applications/{applicationName}/services/{serviceName}/replicas/{replicaName}
  : get:
      operationId: microsoftAzureReplicaGet
      x-ms-examples:
        ReplicaGet:
          $ref: ./examples/ReplicaGet.json
      summary: Microsoft Azure Gets A Specific Replica Of A Given Service
      description: Gets the information about the specified replica of a given service of an application. The information includes the runtime properties of the replica instance.
      parameters:
      - $ref: '#/components/parameters/subscriptionIdRequiredPathParam'
      - $ref: '#/components/parameters/api-versionRequiredQueryParam'
      - $ref: '#/components/parameters/ResourceGroupNameRequiredPathParam'
      - $ref: '#/components/parameters/ApplicationNameRequiredPathParam'
      - $ref: '#/components/parameters/ServiceNameRequiredPathParam'
      - $ref: '#/components/parameters/ReplicaNameRequiredPathParam'
      tags:
      - Replicas
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceReplicaDescription'
    servers:
    - url: https://management.azure.com
components:
  schemas:
    ReplicaProperties:
      description: All replica properties.
      type: object
      properties:
        endpoint:
          description: The URI of the replica where the replica API will be available.
          type: string
          readOnly: true
        provisioningState:
          description: The provisioning state of the replica.
          enum:
          - Creating
          - Succeeded
          - Deleting
          - Failed
          - Canceled
          type: string
          readOnly: true
          x-ms-enum:
            name: ReplicaProvisioningState
            modelAsString: true
    ReplicaListResult:
      description: The result of a request to list replicas.
      type: object
      properties:
        value:
          description: The collection value.
          type: array
          items:
            $ref: '#/components/schemas/Replica'
        nextLink:
          description: The URI that can be used to request the next set of paged results.
          type: string
    Replica:
      description: The replica resource.
      type: object
      properties:
        id:
          description: The resource ID.
          type: string
          readOnly: true
        name:
          description: The name of the replica.
          type: string
          readOnly: true
        type:
          description: The type of the resource.
          type: string
          readOnly: true
        location:
          description: The location of the replica.
          type: string
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: Resource system metadata.
          readOnly: true
        properties:
          $ref: '#/components/schemas/ReplicaProperties'
          description: All replica properties.
          x-ms-client-flatten: true
          readOnly: true
      x-ms-azure-resource: true
    ErrorAdditionalInfo:
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    ErrorResponse:
      description: Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.
      type: object
      properties:
        error:
          description: The details of the error.
          $ref: '#/components/schemas/ErrorDetails'
    ErrorDetails:
      description: The details of the error.
      properties:
        code:
          description: Error code.
          type: string
          readOnly: true
        message:
          description: Error message indicating why the operation failed.
          type: string
          readOnly: true
        additionalInfo:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          x-ms-identifiers: []
          description: The error additional info.
    StorageProfile:
      properties:
        backupRetentionDays:
          type: integer
          description: Backup retention days for the server.
        geoRedundantBackup:
          type: string
          description: Enable Geo-redundant or not for server backup.
          enum:
          - Enabled
          - Disabled
          x-ms-enum:
            name: GeoRedundantBackup
            modelAsString: true
        storageMB:
          type: integer
          format: int32
          description: Max storage allowed for a server.
        storageAutogrow:
          type: string
          description: Enable Storage Auto Grow.
          enum:
          - Enabled
          - Disabled
          x-ms-enum:
            name: StorageAutogrow
            modelAsString: true
      description: Storage Profile properties of a server
    ServerListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Server'
          description: The list of servers
      description: A list of servers.
    SslEnforcement:
      type: string
      description: Enable ssl enforcement or not when connect to server.
      enum:
      - Enabled
      - Disabled
      x-ms-enum:
        name: SslEnforcementEnum
        modelAsString: false
    ServerVersion:
      type: string
      description: The version of a server.
      enum:
      - '10.2'
      - '10.3'
      x-ms-enum:
        name: ServerVersion
        modelAsString: true
    ServerProperties:
      properties:
        administratorLogin:
          type: string
          description: The administrator's login name of a server. Can only be specified when the server is being created (and is required for creation).
        version:
          $ref: '#/components/schemas/ServerVersion'
          description: Server version.
        sslEnforcement:
          $ref: '#/components/schemas/SslEnforcement'
          description: Enable ssl enforcement or not when connect to server.
        minimalTlsVersion:
          $ref: '#/components/schemas/MinimalTlsVersion'
          description: Enforce a minimal Tls version for the server.
        userVisibleState:
          type: string
          description: A state of a server that is visible to user.
          enum:
          - Ready
          - Dropping
          - Disabled
          x-ms-enum:
            name: ServerState
            modelAsString: true
        fullyQualifiedDomainName:
          type: string
          description: The fully qualified domain name of a server.
        earliestRestoreDate:
          type: string
          format: date-time
          description: Earliest restore point creation time (ISO8601 format)
        storageProfile:
          $ref: '#/components/schemas/StorageProfile'
          description: Storage profile of a server.
        replicationRole:
          type: string
          description: The replication role of the server.
        masterServerId:
          type: string
          description: The master server id of a replica server.
        replicaCapacity:
          type: integer
          format: int32
          minimum: 0
          description: The maximum number of replicas that a master server can have.
      description: The properties of a server.
    Sku:
      properties:
        name:
          type: string
          description: The name of the sku, typically, tier + family + cores, e.g. B_Gen4_1, GP_Gen5_8.
        tier:
          type: string
          description: The tier of the particular SKU, e.g. Basic.
          enum:
          - Basic
          - GeneralPurpose
          - MemoryOptimized
          x-ms-enum:
            name: SkuTier
            modelAsString: true
        capacity:
          type: integer
          format: int32
          minimum: 0
          description: The scale up/out capacity, representing server's compute units.
        size:
          type: string
          description: The size code, to be interpreted by resource as appropriate.
        family:
          type: string
          description: The family of hardware.
      required:
      - name
      description: Billing information related properties of a server.
    ResourceIdentity:
      description: Azure Active Directory identity configuration for a resource.
      type: object
      properties:
        principalId:
          format: uuid
          description: The Azure Active Directory principal id.
          type: string
          readOnly: true
        type:
          description: The identity type. Set this to 'SystemAssigned' in order to automatically create and assign an Azure Active Directory principal for the resource.
          enum:
          - SystemAssigned
          type: string
          x-ms-enum:
            name: IdentityType
            modelAsString: true
        tenantId:
          format: uuid
          description: The Azure Active Directory tenant id.
          type: string
          readOnly: true
    MinimalTlsVersion:
      type: string
      description: Enforce a minimal Tls version for the server.
      enum:
      - TLS1_0
      - TLS1_1
      - TLS1_2
      - TLSEnforcementDisabled
      x-ms-enum:
        name: MinimalTlsVersionEnum
        modelAsString: true
    Server:
      properties:
        identity:
          $ref: '#/components/schemas/ResourceIdentity'
          description: The Azure Active Directory identity of the server.
        sku:
          $ref: '#/components/schemas/Sku'
          description: The SKU (pricing tier) of the server.
        properties:
          $ref: '#/components/schemas/ServerProperties'
          x-ms-client-flatten: true
          description: Properties of the server.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource
      description: Represents a server.
    Setting:
      description: Describes a setting for the container.
      type: object
      properties:
        name:
          description: The name of the setting.
          type: string
        value:
          description: The value of the setting.
          type: string
    ServiceReplicaProperties:
      description: Describes the properties of a service replica.
      type: object
      properties:
        osType:
          type: string
          description: 'The Operating system type required by the code in service.

            '
          enum:
          - Linux
          - Windows
          x-ms-enum:
            name: OperatingSystemTypes
            modelAsString: true
        codePackages:
          description: 'Describes the set of code packages that forms the service. A code package describes the container and the properties for running it. All the code packages are started together on the same host and share the same context (network, process etc.).

            '
          type: array
          items:
            $ref: '#/components/schemas/ContainerCodePackageProperties'
        networkRefs:
          type: array
          description: The names of the private networks that this service needs to be part of.
          items:
            $ref: '#/components/schemas/NetworkRef'
        diagnostics:
          $ref: '#/components/schemas/DiagnosticsRef'
          description: Reference to sinks in DiagnosticsDescription.
      required:
      - osType
      - codePackages
    ServiceReplicaList:
      description: 'A pageable list of replicas of a service resource.

        '
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ServiceReplicaDescription'
          description: One page of the list.
        nextLink:
          type: string
          description: URI to fetch the next page of the list.
    ResourceLimits:
      description: This type describes the resource limits for a given container. It describes the most amount of resources a container is allowed to use before being restarted.
      type: object
      properties:
        memoryInGB:
          description: The memory limit in GB.
          type: number
          format: double
        cpu:
          description: CPU limits in cores. At present, only full cores are supported.
          type: number
          format: double
    ResourceRequests:
      description: 'This type describes the requested resources for a given container. It describes the least amount of resources required for the container. A container can consume more than requested resources up to the specified limits before being restarted. Currently, the requested resources are treated as limits.

        '
      type: object
      properties:
        memoryInGB:
          description: The memory request in GB for this container.
          type: number
          format: double
        cpu:
          description: Requested number of CPU cores. At present, only full cores are supported.
          type: number
          format: double
      required:
      - memoryInGB
      - cpu
    EndpointProperties:
      description: Describes a container endpoint.
      type: object
      properties:
        name:
          description: The name of the endpoint.
          type: string
        port:
          description: Port used by the container.
          type: integer
      required:
      - name
    ContainerVolume:
      description: Describes how a volume is attached to a container.
      type: object
      properties:
        name:
          description: Name of the volume.
          type: string
        readOnly:
          description: The flag indicating whether the volume is read only. Default is 'false'.
          type: boolean
        destinationPath:
          description: The path within the container at which the volume should be mounted. Only valid path characters are allowed.
          type: string
      required:
      - name
      - destinationPath
    ContainerEvent:
      description: A container event.
      type: object
      properties:
        name:
          type: string
          description: The name of the container event.
        count:
          type: integer
          description: The count of the event.
        firstTimestamp:
          type: string
          description: Date/time of the first event.
        lastTimestamp:
          type: string
          description: Date/time of the last event.
        message:
          type: string
          description: The event message
        type:
          type: string
          description: The event type.
    ContainerState:
      description: The container state.
      type: object
      properties:
        state:
          type: string
          description: The state of this container
        startTime:
          type: string
          format: date-time
          description: Date/time when the container state started.
        exitCode:
          type: string
          description: The container exit code.
        finishTime:
          type: string
          format: date-time
          description: Date/time when the container state finished.
        detailStatus:
          description: Human-readable status of this state.
          type: string
    ImageRegistryCredential:
      description: Image registry credential.
      type: object
      properties:
        server:
          type: string
          description: Docker image registry server, without protocol such as `http` and `https`.
        username:
          type: string
          description: The username for the private registry.
        password:
          type: string
          description: The password for the private registry.
      required:
      - server
      - username
    DiagnosticsRef:
      description: Reference to sinks in DiagnosticsDescription.
      type: object
      properties:
        enabled:
          description: Status of whether or not sinks are enabled.
          type: boolean
        sinkRefs:
          description: List of sinks to be used if enabled. References the list of sinks in DiagnosticsDescription.
          type: array
          items:
            type: string
    EnvironmentVariable:
      description: Describes an environment variable for the container.
      type: object
      properties:
        name:
          description: The name of the environment variable.
          type: string
        value:
          description: The value of the environment variable.
          type: string
    NetworkRef:
      description: Describes a network reference in a service.
      type: object
      properties:
        name:
          type: string
          description: Name of the network.
    ContainerInstanceView:
      description: Runtime information of a container instance.
      type: object
      properties:
        restartCount:
          type: integer
          description: The number of times the container has been restarted.
        currentState:
          $ref: '#/components/schemas/ContainerState'
          description: Current container instance state.
        previousState:
          $ref: '#/components/schemas/ContainerState'
          description: Previous container instance state.
        events:
          description: The events of this container instance.
          type: array
          items:
            $ref: '#/components/schemas/ContainerEvent'
    ResourceRequirements:
      description: This type describes the resource requirements for a container or a service.
      type: object
      properties:
        requests:
          $ref: '#/components/schemas/ResourceRequests'
          description: Describes the requested resources for a given container.
        limits:
          $ref: '#/components/schemas/ResourceLimits'
          description: Describes the maximum limits on the resources for a given container.
      required:
      - requests
    ContainerLabel:
      description: Describes a container label.
      type: object
      properties:
        name:
          description: The name of the container label.
          type: string
        value:
          description: The value of the container label.
          type: string
      required:
      - name
      - value
    ContainerCodePackageProperties:
      description: Describes a container and its runtime properties.
      type: object
      properties:
        name:
          description: The name of the code package.
          type: string
        image:
          description: The Container image to use.
          type: string
        imageRegistryCredential:
          $ref: '#/components/schemas/ImageRegistryCredential'
          description: Image registry credential.
        entrypoint:
          description: Override for the default entry point in the container.
          type: string
        commands:
          description: Command array to execute within the container in exec form.
          type: array
          items:
            type: string
        environmentVariables:
          description: The environment variables to set in this container
          type: array
          items:
            $ref: '#/components/schemas/EnvironmentVariable'
        settings:
          description: The settings to set in this container. The setting file path can be fetched from environment variable "Fabric_SettingPath". The path for Windows container is "C:\\secrets". The path for Linux container is "/var/secrets".
          type: array
          items:
            $ref: '#/components/schemas/Setting'
        labels:
          description: The labels to set in this container.
          type: array
          items:
            $ref: '#/components/schemas/ContainerLabel'
        endpoints:
          description: The endpoints exposed by this container.
          type: array
          items:
            $ref: '#/components/schemas/EndpointProperties'
        resources:
          $ref: '#/components/schemas/ResourceRequirements'
          description: This type describes the resource requirements for a container or a service.
        volumeRefs:
          description: The volumes to be attached to the container.
          type: array
          items:
            $ref: '#/components/schemas/ContainerVolume'
        instanceView:
          readOnly: true
          $ref: '#/components/schemas/ContainerInstanceView'
          description: Runtime information of a container instance.
        diagnostics:
          $ref: '#/components/schemas/DiagnosticsRef'
          description: Reference to sinks in DiagnosticsDescription.
      required:
      - name
      - image
      - resources
    ServiceReplicaDescription:
      type: object
      description: This type describes a replica of a service resource.
      allOf:
      - $ref: '#/components/schemas/ServiceReplicaProperties'
      - type: object
        properties:
          replicaName:
            type: string
            description: Name of the replica.
  parameters:
    ConfigStoreNameParameter:
      name: configStoreName
      in: path
      description: The name of the configuration store.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 50
        minLength: 5
        pattern: ^[a-zA-Z0-9_-]*$
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group to which the container registry belongs.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The client API version.
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The Microsoft Azure subscription ID.
      required: true
      schema:
        type: string
    ServerNameParameter:
      name: serverName
      in: path
      required: true
      description: The name of the server.
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter_2:
      name: api-version
      in: query
      required: true
      description: The API version to use for the request.
      schema:
        type: string
    SubscriptionIdParameter_2:
      name: subscriptionId
      in: path
      required: true
      description: The subscription ID that identifies an Azure subscription.
      schema:
        type: string
    ReplicaNameRequiredPathParam:
      name: replicaName
      in: path
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      required: true
      description: The identity of the service replica.
      schema:
        type: string
    subscriptionIdRequiredPathParam:
      name: subscriptionId
      in: path
      description: The customer subscription identifier
      required: true
      schema:
        type: string
    api-versionRequiredQueryParam:
      name: api-version
      in: query
      description: The version of the API. This parameter is required and its value must be `2018-07-01-preview`.
      required: true
      x-ms-enum:
        name: 2018-07-01-preview
        modelAsString: true
        values:
        - value: 2018-07-01-preview
          description: The `2018-07-01-preview` version of the API.
      schema:
        type: string
        enum:
        - 2018-07-01-preview
        default: 2018-07-01-preview
    ApplicationNameRequiredPathParam:
      name: applicationName
      in: path
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      required: true
      description: The identity of the application.
      schema:
        type: string
    ResourceGroupNameRequiredPathParam:
      name: resourceGroupName
      in: path
      description: Azure resource group name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ServiceNameRequiredPathParam:
      name: serviceName
      in: path
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      required: true
      description: The identity of the service.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- appconfigurationmanagementclient-openapi-original.yml
- mariadbmanagementclient-openapi-original.yml
- seabreezemanagementclient-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
