openapi: 3.2.0
info:
  title: Microsoft Azure LogicManagementClient Integration Account…
  description: REST API for Azure Logic Apps.
  version: 2018-07-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: IntegrationAccountBatchConfigurations
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/batchConfigurations
  : get:
      tags:
      - IntegrationAccountBatchConfigurations
      operationId: microsoftAzureIntegrationaccountbatchconfigurationsList
      description: List the batch configurations for an integration account.
      x-ms-examples:
        List batch configurations:
          $ref: ./examples/IntegrationAccountBatchConfigurations_List.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchConfigurationCollection'
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/batchConfigurations/{batchConfigurationName}
  : get:
      tags:
      - IntegrationAccountBatchConfigurations
      operationId: microsoftAzureIntegrationaccountbatchconfigurationsGet
      description: Get a batch configuration for an integration account.
      x-ms-examples:
        Get a batch configuration:
          $ref: ./examples/IntegrationAccountBatchConfigurations_Get.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        schema:
          type: string
      - name: batchConfigurationName
        description: The batch configuration name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchConfiguration'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - IntegrationAccountBatchConfigurations
      operationId: microsoftAzureIntegrationaccountbatchconfigurationsCreateorupdate
      description: Create or update a batch configuration for an integration account.
      x-ms-examples:
        Create or update a batch configuration:
          $ref: ./examples/IntegrationAccountBatchConfigurations_CreateOrUpdate.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        schema:
          type: string
      - name: batchConfigurationName
        description: The batch configuration name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchConfiguration'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchConfiguration'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchConfiguration'
        description: The batch configuration.
        required: true
    delete:
      tags:
      - IntegrationAccountBatchConfigurations
      operationId: microsoftAzureIntegrationaccountbatchconfigurationsDelete
      description: Delete a batch configuration for an integration account.
      x-ms-examples:
        Delete a batch configuration:
          $ref: ./examples/IntegrationAccountBatchConfigurations_Delete.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        schema:
          type: string
      - name: batchConfigurationName
        description: The batch configuration name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    BatchConfiguration:
      type: object
      description: The batch configuration resource definition.
      additionalProperties: false
      required:
      - properties
      properties:
        properties:
          $ref: '#/components/schemas/BatchConfigurationProperties'
          description: The batch configuration properties.
      allOf:
      - $ref: '#/components/schemas/Resource'
    RecurrenceSchedule:
      type: object
      properties:
        minutes:
          type: array
          items:
            type: integer
            format: int32
          description: The minutes.
        hours:
          type: array
          items:
            type: integer
            format: int32
          description: The hours.
        weekDays:
          type: array
          items:
            type: string
            enum:
            - Sunday
            - Monday
            - Tuesday
            - Wednesday
            - Thursday
            - Friday
            - Saturday
            x-ms-enum:
              name: DaysOfWeek
              modelAsString: false
          description: The days of the week.
        monthDays:
          type: array
          items:
            type: integer
            format: int32
          description: The month days.
        monthlyOccurrences:
          type: array
          items:
            $ref: '#/components/schemas/RecurrenceScheduleOccurrence'
          description: The monthly occurrences.
      description: The recurrence schedule.
    BatchConfigurationProperties:
      type: object
      description: The batch configuration properties definition.
      additionalProperties: false
      required:
      - batchGroupName
      - releaseCriteria
      properties:
        batchGroupName:
          type: string
          description: The name of the batch group.
        releaseCriteria:
          $ref: '#/components/schemas/BatchReleaseCriteria'
          description: The batch release criteria.
        createdTime:
          type: string
          format: date-time
          description: The created time.
        changedTime:
          type: string
          format: date-time
          description: The changed time.
      allOf:
      - $ref: '#/components/schemas/ArtifactProperties'
    RecurrenceScheduleOccurrence:
      type: object
      properties:
        day:
          $ref: '#/components/schemas/DayOfWeek'
          description: The day of the week.
        occurrence:
          type: integer
          format: int32
          description: The occurrence.
      description: The recurrence schedule occurrence.
    RecurrenceFrequency:
      type: string
      enum:
      - NotSpecified
      - Second
      - Minute
      - Hour
      - Day
      - Week
      - Month
      - Year
      x-ms-enum:
        name: RecurrenceFrequency
        modelAsString: true
    DayOfWeek:
      type: string
      enum:
      - Sunday
      - Monday
      - Tuesday
      - Wednesday
      - Thursday
      - Friday
      - Saturday
      x-ms-enum:
        name: DayOfWeek
        modelAsString: false
    WorkflowTriggerRecurrence:
      type: object
      properties:
        frequency:
          $ref: '#/components/schemas/RecurrenceFrequency'
          description: The frequency.
        interval:
          type: integer
          format: int32
          description: The interval.
        startTime:
          type: string
          description: The start time.
        endTime:
          type: string
          description: The end time.
        timeZone:
          type: string
          description: The time zone.
        schedule:
          $ref: '#/components/schemas/RecurrenceSchedule'
          description: The recurrence schedule.
      description: The workflow trigger recurrence.
    BatchConfigurationCollection:
      type: object
      description: A collection of batch configurations.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/BatchConfiguration'
    ArtifactProperties:
      type: object
      additionalProperties: false
      description: The artifact properties definition.
      properties:
        createdTime:
          type: string
          format: date-time
          description: The artifact creation time.
        changedTime:
          type: string
          format: date-time
          description: The artifact changed time.
        metadata: {}
    Resource:
      properties:
        id:
          type: string
          readOnly: true
          description: The resource id.
        name:
          type: string
          readOnly: true
          description: Gets the resource name.
        type:
          type: string
          readOnly: true
          description: Gets the resource type.
        location:
          type: string
          description: The resource location.
        tags:
          type: object
          additionalProperties:
            type: string
          description: The resource tags.
      x-ms-azure-resource: true
      description: The base resource type.
    BatchReleaseCriteria:
      type: object
      additionalProperties: false
      description: The batch release criteria.
      properties:
        messageCount:
          type: integer
          format: int32
          description: The message count.
        batchSize:
          type: integer
          format: int32
          description: The batch size in bytes.
        recurrence:
          $ref: '#/components/schemas/WorkflowTriggerRecurrence'
          description: The recurrence.
  parameters:
    api-version:
      name: api-version
      description: The API version.
      in: query
      required: true
      schema:
        type: string
    subscriptionId:
      name: subscriptionId
      description: The subscription id.
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
