openapi: 3.2.0
info:
  version: 2023-07-01-preview
  title: Microsoft Azure Azure CDN WebApplicationFirewallManagement…
  description: APIs to manage web application firewall rules for Azure CDN
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: WebApplicationFirewallManagedRuleSets
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Cdn/cdnWebApplicationFirewallManagedRuleSets:
    get:
      tags:
      - WebApplicationFirewallManagedRuleSets
      description: Lists all available managed rule sets.
      operationId: microsoftAzureManagedrulesetsList
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Success. The operation returns a list of all available web application firewall managed rule sets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedRuleSetDefinitionList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./cdn.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List Policies in a Resource Group:
          $ref: ./examples/WafListManagedRuleSets.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Cdn…
components:
  schemas:
    ManagedRuleGroupDefinition:
      description: Describes a managed rule group.
      properties:
        ruleGroupName:
          type: string
          readOnly: true
          description: Name of the managed rule group.
        description:
          type: string
          readOnly: true
          description: Description of the managed rule group.
        rules:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/ManagedRuleDefinition'
          x-ms-identifiers:
          - ruleId
          description: List of rules within the managed rule group.
    ManagedRuleSetDefinitionProperties:
      description: Properties for a managed rule set definition.
      properties:
        provisioningState:
          type: string
          readOnly: true
          description: Provisioning state of the managed rule set.
        ruleSetType:
          type: string
          readOnly: true
          description: Type of the managed rule set.
        ruleSetVersion:
          type: string
          readOnly: true
          description: Version of the managed rule set type.
        ruleGroups:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/ManagedRuleGroupDefinition'
          x-ms-identifiers:
          - ruleGroupName
          description: Rule groups of the managed rule set.
    ManagedRuleSetDefinition:
      description: Describes a managed rule set definition.
      properties:
        properties:
          description: Describes managed rule set definition properties.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ManagedRuleSetDefinitionProperties'
        sku:
          description: The pricing tier (defines a CDN provider, feature list and rate) of the CdnWebApplicationFirewallPolicy.
          $ref: ./cdn.json#/definitions/Sku
      allOf:
      - $ref: ./cdn.json#/definitions/Resource
    ManagedRuleDefinition:
      description: Describes a managed rule definition.
      properties:
        ruleId:
          description: Identifier for the managed rule.
          readOnly: true
          type: string
        description:
          description: Describes the functionality of the managed rule.
          readOnly: true
          type: string
    ManagedRuleSetDefinitionList:
      description: List of managed rule set definitions available for use in a policy.
      properties:
        value:
          description: List of managed rule set definitions.
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ManagedRuleSetDefinition'
        nextLink:
          type: string
          description: URL to retrieve next set of managed rule set definitions.
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Azure Subscription ID.
      required: true
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Version of the API to be used with the client request. Current version is 2023-05-01.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
