openapi: 3.2.0
info:
  title: Microsoft Azure Azure Cosmos DB for MongoDB vCore Mongo…
  description: The Microsoft Azure management API provides create, read, update, and delete functionality for Azure Cosmos DB for MongoDB vCore resources including clusters and firewall rules.
  version: 2024-02-15-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: MongoClusterOperations
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/mongoClusters/{mongoClusterName}/listConnectionStrings
  : post:
      description: List mongo cluster connection strings. This includes the default connection string using SCRAM-SHA-256, as well as other connection strings supported by the cluster.
      tags:
      - MongoClusterOperations
      operationId: microsoftAzureMongoclustersListconnectionstrings
      x-ms-examples:
        Get connection string:
          $ref: ./examples/mongo-cluster/CosmosDBMongoClusterListConnectionStrings.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/MongoClusterNameParameter'
      responses:
        '200':
          description: The operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListConnectionStringsResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    ConnectionString:
      type: object
      description: Connection string for the mongo cluster
      properties:
        connectionString:
          readOnly: true
          type: string
          description: Value of the connection string
        description:
          readOnly: true
          type: string
          description: Description of the connection string
    ListConnectionStringsResult:
      type: object
      description: The connection strings for the given mongo cluster.
      properties:
        connectionStrings:
          readOnly: true
          type: array
          description: An array that contains the connection strings for a mongo cluster.
          x-ms-identifiers: []
          items:
            $ref: '#/components/schemas/ConnectionString'
  parameters:
    MongoClusterNameParameter:
      name: mongoClusterName
      in: path
      required: true
      description: The name of the mongo cluster.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 40
        minLength: 3
        pattern: ^[a-z0-9]+(-[a-z0-9]+)*
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: Impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
