openapi: 3.2.0
info:
  title: Microsoft Azure Workflow Triggers API
  version: '1.0'
  description: 'Operations tagged WorkflowTriggers across 2 of this provider''s published API definitions: logicmanagementclient-openapi-original.yml, webapps-api-client-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Workflow Triggers
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers
  : get:
      tags:
      - Workflow Triggers
      operationId: microsoftAzureWorkflowtriggersList
      description: Gets a list of workflow triggers.
      x-ms-examples:
        List workflow triggers:
          $ref: ./examples/WorkflowTriggers_List.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      - name: $top
        description: The number of items to be included in the result.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: $filter
        description: The filter to apply on the operation.
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowTriggerListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/WorkflowTriggerFilter'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}
  : get:
      tags:
      - Workflow Triggers
      operationId: microsoftAzureWorkflowtriggersGet
      description: Gets a workflow trigger.
      x-ms-examples:
        Get a workflow trigger:
          $ref: ./examples/WorkflowTriggers_Get.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - name: triggerName
        description: The workflow trigger name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowTrigger'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}/reset
  : post:
      tags:
      - Workflow Triggers
      operationId: microsoftAzureWorkflowtriggersReset
      description: Resets a workflow trigger.
      x-ms-examples:
        Reset trigger:
          $ref: ./examples/WorkflowTriggers_Reset.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - name: triggerName
        description: The workflow trigger name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}/run
  : post:
      tags:
      - Workflow Triggers
      operationId: microsoftAzureWorkflowtriggersRun
      description: Runs a workflow trigger.
      x-ms-examples:
        Run a workflow trigger:
          $ref: ./examples/WorkflowTriggers_Run.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - name: triggerName
        description: The workflow trigger name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        default:
          description: All status codes are acceptable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}/schemas/json
  : get:
      tags:
      - Workflow Triggers
      operationId: microsoftAzureWorkflowtriggersGetschemajson
      description: Get the trigger schema as JSON.
      x-ms-examples:
        Get trigger schema:
          $ref: ./examples/WorkflowTriggers_GetSchemaJson.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - name: triggerName
        description: The workflow trigger name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonSchema'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}/setState
  : post:
      tags:
      - Workflow Triggers
      operationId: microsoftAzureWorkflowtriggersSetstate
      description: Sets the state of a workflow trigger.
      x-ms-examples:
        Set trigger state:
          $ref: ./examples/WorkflowTriggers_SetState.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - name: triggerName
        description: The workflow trigger name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetTriggerStateActionDefinition'
        description: The workflow trigger state.
        required: true
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}/listCallbackUrl
  : post:
      tags:
      - Workflow Triggers
      operationId: microsoftAzureWorkflowtriggersListcallbackurl
      description: Get the callback URL for a workflow trigger.
      x-ms-examples:
        Get the callback URL for a trigger:
          $ref: ./examples/WorkflowTriggers_ListCallbackUrl.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - name: triggerName
        description: The workflow trigger name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowTriggerCallbackUrl'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/versions/{versionId}/triggers/{triggerName}/listCallbackUrl
  : post:
      tags:
      - Workflow Triggers
      operationId: microsoftAzureWorkflowversiontriggersListcallbackurl
      description: Get the callback url for a trigger of a workflow version.
      x-ms-examples:
        Get the callback url for a trigger of a workflow version:
          $ref: ./examples/WorkflowVersionTriggers_ListCallbackUrl.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        schema:
          type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - name: versionId
        description: The workflow versionId.
        in: path
        required: true
        schema:
          type: string
      - name: triggerName
        description: The workflow trigger name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowTriggerCallbackUrl'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetCallbackUrlParameters'
        description: The callback URL parameters.
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/hostruntime/runtime/webhooks/workflow/api/management/workflows/{workflowName}/triggers
  : get:
      tags:
      - Workflow Triggers
      operationId: microsoftAzureWorkflowtriggersList
      description: Gets a list of workflow triggers.
      x-ms-examples:
        List workflow triggers:
          $ref: ./examples/WorkflowTriggers_List.json
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/siteNameParameter'
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersionParameter'
      - name: $top
        description: The number of items to be included in the result.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: $filter
        description: The filter to apply on the operation.
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowTriggerListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/WorkflowTriggerFilter'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/hostruntime/runtime/webhooks/workflow/api/management/workflows/{workflowName}/triggers/{triggerName}
  : get:
      tags:
      - Workflow Triggers
      operationId: microsoftAzureWorkflowtriggersGet
      description: Gets a workflow trigger.
      x-ms-examples:
        Get a workflow trigger:
          $ref: ./examples/WorkflowTriggers_Get.json
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/siteNameParameter'
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - name: triggerName
        description: The workflow trigger name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowTrigger'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/hostruntime/runtime/webhooks/workflow/api/management/workflows/{workflowName}/triggers/{triggerName}/listCallbackUrl
  : post:
      tags:
      - Workflow Triggers
      operationId: microsoftAzureWorkflowtriggersListcallbackurl
      description: Get the callback URL for a workflow trigger.
      x-ms-examples:
        Get the callback URL for a trigger:
          $ref: ./examples/WorkflowTriggers_ListCallbackUrl.json
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/siteNameParameter'
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - name: triggerName
        description: The workflow trigger name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowTriggerCallbackUrl'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/hostruntime/runtime/webhooks/workflow/api/management/workflows/{workflowName}/triggers/{triggerName}/run
  : post:
      tags:
      - Workflow Triggers
      operationId: microsoftAzureWorkflowtriggersRun
      description: Runs a workflow trigger.
      x-ms-examples:
        Run a workflow trigger:
          $ref: ./examples/WorkflowTriggers_Run.json
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/siteNameParameter'
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - name: triggerName
        description: The workflow trigger name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          description: Error response describing why the trigger run failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-long-running-operation: true
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/hostruntime/runtime/webhooks/workflow/api/management/workflows/{workflowName}/triggers/{triggerName}/schemas/json
  : get:
      tags:
      - Workflow Triggers
      operationId: microsoftAzureWorkflowtriggersGetschemajson
      description: Get the trigger schema as JSON.
      x-ms-examples:
        Get trigger schema:
          $ref: ./examples/WorkflowTriggers_GetSchemaJson.json
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - $ref: '#/components/parameters/siteNameParameter'
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        schema:
          type: string
      - name: triggerName
        description: The workflow trigger name.
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonSchema'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    servers:
    - url: https://management.azure.com
components:
  schemas:
    GetCallbackUrlParameters:
      type: object
      properties:
        notAfter:
          type: string
          format: date-time
          description: The expiry time.
        keyType:
          $ref: '#/components/schemas/KeyType'
          description: The key type.
      description: The callback url parameters.
    WorkflowTriggerProvisioningState:
      type: string
      enum:
      - NotSpecified
      - Accepted
      - Running
      - Ready
      - Creating
      - Created
      - Deleting
      - Deleted
      - Canceled
      - Failed
      - Succeeded
      - Moving
      - Updating
      - Registering
      - Registered
      - Unregistering
      - Unregistered
      - Completed
      x-ms-enum:
        name: WorkflowTriggerProvisioningState
        modelAsString: true
    ResourceReference:
      type: object
      properties:
        id:
          type: string
          description: The resource id.
        name:
          type: string
          readOnly: true
          description: Gets the resource name.
        type:
          type: string
          readOnly: true
          description: Gets the resource type.
      description: The resource reference.
    WorkflowState:
      type: string
      enum:
      - NotSpecified
      - Completed
      - Enabled
      - Disabled
      - Deleted
      - Suspended
      x-ms-enum:
        name: WorkflowState
        modelAsString: true
    RecurrenceFrequency:
      type: string
      enum:
      - NotSpecified
      - Second
      - Minute
      - Hour
      - Day
      - Week
      - Month
      - Year
      x-ms-enum:
        name: RecurrenceFrequency
        modelAsString: true
    WorkflowTriggerProperties:
      type: object
      properties:
        provisioningState:
          $ref: '#/components/schemas/WorkflowTriggerProvisioningState'
          readOnly: true
          description: Gets the provisioning state.
        createdTime:
          type: string
          format: date-time
          readOnly: true
          description: Gets the created time.
        changedTime:
          type: string
          format: date-time
          readOnly: true
          description: Gets the changed time.
        state:
          $ref: '#/components/schemas/WorkflowState'
          readOnly: true
          description: Gets the state.
        status:
          $ref: '#/components/schemas/WorkflowStatus'
          readOnly: true
          description: Gets the status.
        lastExecutionTime:
          type: string
          format: date-time
          readOnly: true
          description: Gets the last execution time.
        nextExecutionTime:
          type: string
          format: date-time
          readOnly: true
          description: Gets the next execution time.
        recurrence:
          $ref: '#/components/schemas/WorkflowTriggerRecurrence'
          readOnly: true
          description: Gets the workflow trigger recurrence.
        workflow:
          $ref: '#/components/schemas/ResourceReference'
          readOnly: true
          description: Gets the reference to workflow.
      description: The workflow trigger properties.
    WorkflowTriggerListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowTrigger'
          description: A list of workflow triggers.
        nextLink:
          type: string
          description: The URL to get the next set of results.
      description: The list of workflow triggers.
    KeyType:
      type: string
      enum:
      - NotSpecified
      - Primary
      - Secondary
      x-ms-enum:
        name: KeyType
        modelAsString: true
    WorkflowTriggerListCallbackUrlQueries:
      type: object
      properties:
        api-version:
          type: string
          description: The api version.
        sp:
          type: string
          description: The SAS permissions.
        sv:
          type: string
          description: The SAS version.
        sig:
          type: string
          description: The SAS signature.
        se:
          type: string
          description: The SAS timestamp.
      description: Gets the workflow trigger callback URL query parameters.
    RecurrenceSchedule:
      type: object
      properties:
        minutes:
          type: array
          items:
            type: integer
            format: int32
          description: The minutes.
        hours:
          type: array
          items:
            type: integer
            format: int32
          description: The hours.
        weekDays:
          type: array
          items:
            type: string
            enum:
            - Sunday
            - Monday
            - Tuesday
            - Wednesday
            - Thursday
            - Friday
            - Saturday
            x-ms-enum:
              name: DaysOfWeek
              modelAsString: false
          description: The days of the week.
        monthDays:
          type: array
          items:
            type: integer
            format: int32
          description: The month days.
        monthlyOccurrences:
          type: array
          items:
            $ref: '#/components/schemas/RecurrenceScheduleOccurrence'
          description: The monthly occurrences.
      description: The recurrence schedule.
    JsonSchema:
      type: object
      description: The JSON schema.
      properties:
        title:
          type: string
          description: The JSON title.
        content:
          type: string
          description: The JSON content.
    DayOfWeek:
      type: string
      enum:
      - Sunday
      - Monday
      - Tuesday
      - Wednesday
      - Thursday
      - Friday
      - Saturday
      x-ms-enum:
        name: DayOfWeek
        modelAsString: false
    Object:
      type: object
      properties: {}
    SubResource:
      properties:
        id:
          type: string
          readOnly: true
          description: The resource id.
      x-ms-azure-resource: true
      description: The sub resource type.
    RecurrenceScheduleOccurrence:
      type: object
      properties:
        day:
          $ref: '#/components/schemas/DayOfWeek'
          description: The day of the week.
        occurrence:
          type: integer
          format: int32
          description: The occurrence.
      description: The recurrence schedule occurrence.
    SetTriggerStateActionDefinition:
      type: object
      additionalProperties: false
      required:
      - source
      properties:
        source:
          $ref: '#/components/schemas/WorkflowTrigger'
    WorkflowTriggerCallbackUrl:
      type: object
      properties:
        value:
          type: string
          readOnly: true
          description: Gets the workflow trigger callback URL.
        method:
          type: string
          readOnly: true
          description: Gets the workflow trigger callback URL HTTP method.
        basePath:
          type: string
          readOnly: true
          description: Gets the workflow trigger callback URL base path.
        relativePath:
          type: string
          readOnly: true
          description: Gets the workflow trigger callback URL relative path.
        relativePathParameters:
          type: array
          items:
            type: string
          description: Gets the workflow trigger callback URL relative path parameters.
        queries:
          $ref: '#/components/schemas/WorkflowTriggerListCallbackUrlQueries'
          description: Gets the workflow trigger callback URL query parameters.
      description: The workflow trigger callback URL.
    WorkflowTrigger:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/WorkflowTriggerProperties'
          description: The workflow trigger properties.
        name:
          type: string
          readOnly: true
          description: Gets the workflow trigger name.
        type:
          type: string
          readOnly: true
          description: Gets the workflow trigger type.
      description: The workflow trigger.
      allOf:
      - $ref: '#/components/schemas/SubResource'
    WorkflowTriggerRecurrence:
      type: object
      properties:
        frequency:
          $ref: '#/components/schemas/RecurrenceFrequency'
          description: The frequency.
        interval:
          type: integer
          format: int32
          description: The interval.
        startTime:
          type: string
          description: The start time.
        endTime:
          type: string
          description: The end time.
        timeZone:
          type: string
          description: The time zone.
        schedule:
          $ref: '#/components/schemas/RecurrenceSchedule'
          description: The recurrence schedule.
      description: The workflow trigger recurrence.
    WorkflowStatus:
      type: string
      enum:
      - NotSpecified
      - Paused
      - Running
      - Waiting
      - Succeeded
      - Skipped
      - Suspended
      - Cancelled
      - Failed
      - Faulted
      - TimedOut
      - Aborted
      - Ignored
      x-ms-enum:
        name: WorkflowStatus
        modelAsString: true
    WorkflowTriggerProvisioningState_2:
      type: string
      description: The workflow trigger provisioning state.
      enum:
      - NotSpecified
      - Accepted
      - Running
      - Ready
      - Creating
      - Created
      - Deleting
      - Deleted
      - Canceled
      - Failed
      - Succeeded
      - Moving
      - Updating
      - Registering
      - Registered
      - Unregistering
      - Unregistered
      - Completed
      x-ms-enum:
        name: WorkflowTriggerProvisioningState
        modelAsString: true
    WorkflowState_2:
      type: string
      description: The workflow state.
      enum:
      - NotSpecified
      - Completed
      - Enabled
      - Disabled
      - Deleted
      - Suspended
      x-ms-enum:
        name: WorkflowState
        modelAsString: true
    RecurrenceFrequency_2:
      type: string
      description: The recurrence frequency.
      enum:
      - NotSpecified
      - Second
      - Minute
      - Hour
      - Day
      - Week
      - Month
      - Year
      x-ms-enum:
        name: RecurrenceFrequency
        modelAsString: true
    ErrorResponse:
      description: Error response indicates Logic service is not able to process the incoming request. The error property contains the error details.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorProperties'
          description: The error properties.
    RecurrenceSchedule_2:
      type: object
      properties:
        minutes:
          type: array
          items:
            type: integer
            format: int32
          description: The minutes.
        hours:
          type: array
          items:
            type: integer
            format: int32
          description: The hours.
        weekDays:
          type: array
          items:
            type: string
            enum:
            - Sunday
            - Monday
            - Tuesday
            - Wednesday
            - Thursday
            - Friday
            - Saturday
            x-ms-enum:
              name: DaysOfWeek
              modelAsString: false
          description: The days of the week.
        monthDays:
          type: array
          items:
            type: integer
            format: int32
          description: The month days.
        monthlyOccurrences:
          type: array
          items:
            $ref: '#/components/schemas/RecurrenceScheduleOccurrence'
          x-ms-identifiers: []
          description: The monthly occurrences.
      description: The recurrence schedule.
    DayOfWeek_2:
      type: string
      description: The day of the week.
      enum:
      - Sunday
      - Monday
      - Tuesday
      - Wednesday
      - Thursday
      - Friday
      - Saturday
      x-ms-enum:
        name: DayOfWeek
        modelAsString: false
    SubResource_2:
      type: object
      properties:
        id:
          type: string
          readOnly: true
          description: The resource id.
      x-ms-azure-resource: true
      description: The sub resource type.
    ErrorProperties:
      description: Error properties indicate why the Logic service was not able to process the incoming request. The reason is provided in the error message.
      type: object
      properties:
        code:
          description: Error code.
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
    WorkflowStatus_2:
      type: string
      description: The workflow status.
      enum:
      - NotSpecified
      - Paused
      - Running
      - Waiting
      - Succeeded
      - Skipped
      - Suspended
      - Cancelled
      - Failed
      - Faulted
      - TimedOut
      - Aborted
      - Ignored
      x-ms-enum:
        name: WorkflowStatus
        modelAsString: true
  parameters:
    api-version:
      name: api-version
      description: The API version.
      in: query
      required: true
      schema:
        type: string
    subscriptionId:
      name: subscriptionId
      description: The subscription id.
      in: path
      required: true
      schema:
        type: string
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    resourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: Name of the resource group to which the resource belongs.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 90
        minLength: 1
        pattern: ^[-\w\._\(\)]+[^\.]$
    apiVersionParameter:
      name: api-version
      in: query
      description: API Version
      required: true
      x-ms-parameter-location: client
      schema:
        type: string
    siteNameParameter:
      name: name
      in: path
      description: Site name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
x-refined-from:
- logicmanagementclient-openapi-original.yml
- webapps-api-client-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
