openapi: 3.2.0
info:
  title: Microsoft Azure GET API
  x-refined-note:
  - x-ms-code-generation-settings differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged GET across 2 of this provider''s published API definitions: iothubclient-openapi-original.yml, provisioningserviceclient-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://management.azure.com
- url: https://your-dps.azure-devices-provisioning.net
tags:
- name: Get
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}:
    get:
      tags:
      - Get
      summary: Microsoft Azure Get The Non Security Related Metadata Of An Iot Hub
      description: Get the non-security related metadata of an IoT hub.
      operationId: microsoftAzureIothubresourceGet
      x-ms-examples:
        IotHubResource_Get:
          $ref: ./examples/iothub_get.json
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      responses:
        '200':
          description: The body contains all the non-security properties of the IoT hub. Security-related properties are set to null.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubDescription'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.Devices/IotHubs:
    get:
      tags:
      - Get
      summary: Microsoft Azure Get All The Iot Hubs In A Subscription
      description: Get all the IoT hubs in a subscription.
      operationId: microsoftAzureIothubresourceListbysubscription
      x-ms-examples:
        IotHubResource_ListBySubscription:
          $ref: ./examples/iothub_listbysubscription.json
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      responses:
        '200':
          description: This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the IoT hubs in the subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubDescriptionListResult'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
      x-ms-pageable:
        nextLinkName: nextLink
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs:
    get:
      tags:
      - Get
      summary: Microsoft Azure Get All The Iot Hubs In A Resource Group
      description: Get all the IoT hubs in a resource group.
      operationId: microsoftAzureIothubresourceListbyresourcegroup
      x-ms-examples:
        IotHubResource_ListByResourceGroup:
          $ref: ./examples/iothub_listbyrg.json
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      responses:
        '200':
          description: This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the IoT hubs in the resource group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubDescriptionListResult'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
      x-ms-pageable:
        nextLinkName: nextLink
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/IotHubStats
  : get:
      tags:
      - Get
      summary: Microsoft Azure Get The Statistics From An Iot Hub
      description: Get the statistics from an IoT hub.
      operationId: microsoftAzureIothubresourceGetstats
      x-ms-examples:
        IotHubResource_GetStats:
          $ref: ./examples/iothub_stats.json
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      responses:
        '200':
          description: This is a synchronous operation. The body contains JSON-serialized statistics from the identity registry in the IoT hub.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryStatistics'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/skus:
    get:
      tags:
      - Get
      summary: Microsoft Azure Get The List Of Valid Skus For An Iot Hub
      description: Get the list of valid SKUs for an IoT hub.
      operationId: microsoftAzureIothubresourceGetvalidskus
      x-ms-examples:
        IotHubResource_GetValidSkus:
          $ref: ./examples/iothub_getskus.json
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      responses:
        '200':
          description: This is a synchronous operation. The body contains a JSON-serialized array of the valid SKUs for this IoT hub.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubSkuDescriptionListResult'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
      x-ms-pageable:
        nextLinkName: nextLink
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/eventHubEndpoints/{eventHubEndpointName}/ConsumerGroups
  : get:
      tags:
      - Get
      summary: Microsoft Azure Get A List Of The Consumer Groups In The Event Hub Compatible…
      description: Get a list of the consumer groups in the Event Hub-compatible device-to-cloud endpoint in an IoT hub.
      operationId: microsoftAzureIothubresourceListeventhubconsumergroups
      x-ms-examples:
        IotHubResource_ListEventHubConsumerGroups:
          $ref: ./examples/iothub_listehgroups.json
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      - name: eventHubEndpointName
        in: path
        description: The name of the Event Hub-compatible endpoint.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: This is a synchronous operation. The body contains a JSON-serialized list of the consumer groups in the Event Hub-compatible endpoint in this IoT hub
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventHubConsumerGroupsListResult'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
      x-ms-pageable:
        nextLinkName: nextLink
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/eventHubEndpoints/{eventHubEndpointName}/ConsumerGroups/{name}
  : get:
      tags:
      - Get
      summary: Microsoft Azure Get A Consumer Group From The Event Hub Compatible Device To…
      description: Get a consumer group from the Event Hub-compatible device-to-cloud endpoint for an IoT hub.
      operationId: microsoftAzureIothubresourceGeteventhubconsumergroup
      x-ms-examples:
        IotHubResource_ListEventHubConsumerGroups:
          $ref: ./examples/iothub_getconsumergroup.json
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      - name: eventHubEndpointName
        in: path
        description: The name of the Event Hub-compatible endpoint in the IoT hub.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: The name of the consumer group to retrieve.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: This is a synchronous operation. The body contains a JSON-serialized consumer group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventHubConsumerGroupInfo'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/jobs:
    get:
      tags:
      - Get
      summary: Microsoft Azure Get A List Of All The Jobs In An Iot Hub For More Information…
      description: 'Get a list of all the jobs in an IoT hub. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry.'
      operationId: microsoftAzureIothubresourceListjobs
      x-ms-examples:
        IotHubResource_ListJobs:
          $ref: ./examples/iothub_listjobs.json
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      responses:
        '200':
          description: This is a synchronous operation. The response contains a JSON-serialized array of all the jobs in the IoT hub.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponseListResult'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
      x-ms-pageable:
        nextLinkName: nextLink
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/jobs/{jobId}
  : get:
      tags:
      - Get
      summary: Microsoft Azure Get The Details Of A Job From An Iot Hub For More Information…
      description: 'Get the details of a job from an IoT hub. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry.'
      operationId: microsoftAzureIothubresourceGetjob
      x-ms-examples:
        IotHubResource_GetJob:
          $ref: ./examples/iothub_getjob.json
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      - name: jobId
        in: path
        description: The job identifier.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: This is a synchronous operation. The response contains a JSON-serialized description of the job in the IoT hub.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/quotaMetrics
  : get:
      tags:
      - Get
      summary: Microsoft Azure Get The Quota Metrics For An Iot Hub
      description: Get the quota metrics for an IoT hub.
      operationId: microsoftAzureIothubresourceGetquotametrics
      x-ms-examples:
        IotHubResource_GetQuotaMetrics:
          $ref: ./examples/iothub_quotametrics.json
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      responses:
        '200':
          description: This is a synchronous operation. The response contains a JSON-serialized array of the quota metrics for the IoT hub.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubQuotaMetricInfoListResult'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
      x-ms-pageable:
        nextLinkName: nextLink
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{iotHubName}/routingEndpointsHealth
  : get:
      tags:
      - Get
      operationId: microsoftAzureIothubresourceGetendpointhealth
      summary: Microsoft Azure Get The Health For Routing Endpoints
      description: Get the health for routing endpoints.
      x-ms-examples:
        IotHubResource_GetEndpointHealth:
          $ref: ./examples/iothub_routingendpointhealth.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - name: resourceGroupName
        in: path
        required: true
        schema:
          type: string
      - name: iotHubName
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointHealthDataListResult'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
      x-ms-pageable:
        nextLinkName: nextLink
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /subscriptions/{subscriptionId}/providers/Microsoft.Devices/usages:
    get:
      tags:
      - Get
      summary: Microsoft Azure Get The Number Of Iot Hubs In The Subscription
      description: Get the number of free and paid iot hubs in the subscription
      operationId: microsoftAzureResourceprovidercommonGetsubscriptionquota
      x-ms-examples:
        ResourceProviderCommon_GetSubscriptionQuota:
          $ref: ./examples/iothub_usages.json
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSubscriptionQuotaListResult'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/iotHubs/{resourceName}/privateLinkResources
  : get:
      tags:
      - Get
      summary: Microsoft Azure List Private Link Resources
      description: List private link resources for the given IotHub
      operationId: microsoftAzurePrivatelinkresourcesList
      x-ms-examples:
        PrivateLinkResources_List:
          $ref: ./examples/iothub_listprivatelinkresources.json
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      responses:
        '200':
          description: The body contains the list of private link resources
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResources'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/iotHubs/{resourceName}/privateLinkResources/{groupId}
  : get:
      tags:
      - Get
      summary: Microsoft Azure Get The Specified Private Link Resource
      description: Get the specified private link resource for the given IotHub
      operationId: microsoftAzurePrivatelinkresourcesGet
      x-ms-examples:
        PrivateLinkResources_List:
          $ref: ./examples/iothub_getprivatelinkresources.json
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      - $ref: '#/components/parameters/groupId'
      responses:
        '200':
          description: The body contains the specified of private link resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupIdInformation'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/iotHubs/{resourceName}/privateEndpointConnections
  : get:
      tags:
      - Get
      summary: Microsoft Azure List Private Endpoint Connections
      description: List private endpoint connection properties
      operationId: microsoftAzurePrivateendpointconnectionsList
      x-ms-examples:
        PrivateEndpointConnections_List:
          $ref: ./examples/iothub_listprivateendpointconnections.json
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      responses:
        '200':
          description: The body contains the list of private endpoint connection properties
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionsList'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/iotHubs/{resourceName}/privateEndpointConnections/{privateEndpointConnectionName}
  : get:
      tags:
      - Get
      summary: Microsoft Azure Get Private Endpoint Connection
      description: Get private endpoint connection properties
      operationId: microsoftAzurePrivateendpointconnectionsGet
      x-ms-examples:
        PrivateEndpointConnection_Get:
          $ref: ./examples/iothub_getprivateendpointconnection.json
      parameters:
      - $ref: '#/components/parameters/api-version'
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/resourceGroupName'
      - $ref: '#/components/parameters/resourceName'
      - $ref: '#/components/parameters/privateEndpointConnectionName'
      responses:
        '200':
          description: The body contains the private endpoint connection properties
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
        default:
          description: DefaultErrorResponse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
      deprecated: false
      security:
      - azure_auth:
        - user_impersonation
    servers:
    - url: https://management.azure.com
  /enrollments/{id}:
    get:
      tags:
      - Get
      summary: Microsoft Azure Get A Device Enrollment Record
      operationId: microsoftAzureIndividualenrollmentGet
      parameters:
      - name: id
        in: path
        description: 'This id is used to uniquely identify a device registration of an enrollment. A case-insensitive string (up to 128 characters long) of alphanumeric characters plus certain special characters : . _ -. No special characters allowed at start or end.'
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndividualEnrollment'
        default:
          description: Error response
          headers:
            x-ms-error-code:
              description: The error code for specific error that occurred.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvisioningServiceErrorDetails'
      description: Needs a more full description created.
    servers:
    - url: https://your-dps.azure-devices-provisioning.net
components:
  schemas:
    IotHubCapacity:
      description: IoT Hub capacity information.
      type: object
      properties:
        minimum:
          format: int64
          description: The minimum number of units.
          type: integer
          minimum: 1
          maximum: 1
          readOnly: true
        maximum:
          format: int64
          description: The maximum number of units.
          type: integer
          readOnly: true
        default:
          format: int64
          description: The default number of units.
          type: integer
          readOnly: true
        scaleType:
          description: The type of the scaling enabled.
          enum:
          - Automatic
          - Manual
          - None
          readOnly: true
          type: string
          x-ms-enum:
            name: IotHubScaleType
            modelAsString: false
    ArmUserIdentity:
      type: object
      properties:
        principalId:
          type: string
          readOnly: true
        clientId:
          type: string
          readOnly: true
    PrivateEndpoint:
      description: The private endpoint property of a private endpoint connection
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: The resource identifier.
    ManagedIdentity:
      description: The properties of the Managed identity.
      type: object
      properties:
        userAssignedIdentity:
          type: string
          description: The user assigned identity.
    UserSubscriptionQuota:
      description: User subscription quota response
      type: object
      properties:
        id:
          description: IotHub type id
          type: string
        type:
          description: Response type
          type: string
        unit:
          description: Unit of IotHub type
          type: string
        currentValue:
          description: Current number of IotHub type
          format: int32
          type: integer
        limit:
          description: Numerical limit on IotHub type
          format: int32
          type: integer
        name:
          description: IotHub type
          $ref: '#/components/schemas/Name'
    KeyVaultKeyProperties:
      description: The properties of the KeyVault key.
      type: object
      properties:
        keyIdentifier:
          type: string
          description: The identifier of the key.
        identity:
          description: Managed identity properties of KeyVault Key.
          $ref: '#/components/schemas/ManagedIdentity'
    PrivateEndpointConnection:
      description: The private endpoint connection of an IotHub
      x-ms-azure-resource: true
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: The resource identifier.
        name:
          readOnly: true
          type: string
          description: The resource name.
        type:
          readOnly: true
          type: string
          description: The resource type.
        properties:
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties'
      required:
      - properties
    IotHubSkuDescriptionListResult:
      description: The JSON-serialized array of IotHubSkuDescription objects with a next link.
      type: object
      properties:
        value:
          description: The array of IotHubSkuDescription.
          type: array
          items:
            $ref: '#/components/schemas/IotHubSkuDescription'
        nextLink:
          description: The next link.
          type: string
          readOnly: true
    GroupIdInformationProperties:
      description: The properties for a group information object
      type: object
      properties:
        groupId:
          type: string
          description: The group id
        requiredMembers:
          description: The required members for a specific group id
          type: array
          items:
            type: string
        requiredZoneNames:
          description: The required DNS zones for a specific group id
          type: array
          items:
            type: string
    PrivateEndpointConnectionsList:
      description: The list of private endpoint connections for an IotHub
      type: array
      items:
        $ref: '#/components/schemas/PrivateEndpointConnection'
    RegistryStatistics:
      description: Identity registry statistics.
      type: object
      properties:
        totalDeviceCount:
          format: int64
          description: The total count of devices in the identity registry.
          type: integer
          readOnly: true
        enabledDeviceCount:
          format: int64
          description: The count of enabled devices in the identity registry.
          type: integer
          readOnly: true
        disabledDeviceCount:
          format: int64
          description: The count of disabled devices in the identity registry.
          type: integer
          readOnly: true
    EndpointHealthData:
      description: The health data for an endpoint
      type: object
      properties:
        endpointId:
          description: Id of the endpoint
          type: string
        healthStatus:
          description: Health statuses have following meanings. The 'healthy' status shows that the endpoint is accepting messages as expected. The 'unhealthy' status shows that the endpoint is not accepting messages as expected and IoT Hub is retrying to send data to this endpoint. The status of an unhealthy endpoint will be updated to healthy when IoT Hub has established an eventually consistent state of health. The 'dead' status shows that the endpoint is not accepting messages, after IoT Hub retried sending messages for the retrial period. See IoT Hub metrics to identify errors and monitor issues with endpoints. The 'unknown' status shows that the IoT Hub has not established a connection with the endpoint. No messages have been delivered to or rejected from this endpoint
          enum:
          - unknown
          - healthy
          - degraded
          - unhealthy
          - dead
          type: string
          x-ms-enum:
            name: EndpointHealthStatus
            modelAsString: true
        lastKnownError:
          description: Last error obtained when a message failed to be delivered to iot hub
          type: string
        lastKnownErrorTime:
          description: Time at which the last known error occurred
          type: string
          format: date-time-rfc1123
        lastSuccessfulSendAttemptTime:
          description: Last time iot hub successfully sent a message to the endpoint
          type: string
          format: date-time-rfc1123
        lastSendAttemptTime:
          description: Last time iot hub tried to send a message to the endpoint
          type: string
          format: date-time-rfc1123
    FeedbackProperties:
      description: The properties of the feedback queue for cloud-to-device messages.
      type: object
      properties:
        lockDurationAsIso8601:
          description: 'The lock duration for the feedback queue. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages.'
          type: string
          format: duration
        ttlAsIso8601:
          description: 'The period of time for which a message is available to consume before it is expired by the IoT hub. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages.'
          type: string
          format: duration
        maxDeliveryCount:
          description: 'The number of times the IoT hub attempts to deliver a message on the feedback queue. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages.'
          format: int32
          type: integer
          minimum: 1
          maximum: 100
    StorageEndpointProperties:
      description: The properties of the Azure Storage endpoint for file upload.
      type: object
      properties:
        sasTtlAsIso8601:
          description: 'The period of time for which the SAS URI generated by IoT Hub for file upload is valid. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-file-upload#file-upload-notification-configuration-options.'
          type: string
          format: duration
        connectionString:
          description: The connection string for the Azure Storage account to which files are uploaded.
          type: string
        containerName:
          description: The name of the root container where you upload files. The container need not exist but should be creatable using the connectionString specified.
          type: string
        authenticationType:
          description: Specifies authentication type being used for connecting to the storage account.
          enum:
          - keyBased
          - identityBased
          type: string
          x-ms-enum:
            name: AuthenticationType
            modelAsString: true
        identity:
          description: Managed identity properties of storage endpoint for file upload.
          $ref: '#/components/schemas/ManagedIdentity'
      required:
      - connectionString
      - containerName
    PrivateEndpointConnectionProperties:
      description: The properties of a private endpoint connection
      type: object
      properties:
        privateEndpoint:
          $ref: '#/components/schemas/PrivateEndpoint'
        privateLinkServiceConnectionState:
          $ref: '#/components/schemas/PrivateLinkServiceConnectionState'
      required:
      - privateLinkServiceConnectionState
    RoutingStorageContainerProperties:
      description: The properties related to a storage container endpoint.
      type: object
      properties:
        id:
          description: Id of the storage container endpoint
          type: string
        connectionString:
          description: The connection string of the storage account.
          type: string
        endpointUri:
          description: The url of the storage endpoint. It must include the protocol https://
          type: string
        authenticationType:
          description: Method used to authenticate against the storage endpoint
          enum:
          - keyBased
          - identityBased
          type: string
          x-ms-enum:
            name: authenticationType
            modelAsString: true
        identity:
          description: Managed identity properties of routing storage endpoint.
          $ref: '#/components/schemas/ManagedIdentity'
        name:
          description: 'The name that identifies this endpoint. The name can only include alphanumeric characters, periods, underscores, hyphens and has a maximum length of 64 characters. The following names are reserved:  events, fileNotifications, $default. Endpoint names must be unique across endpoint types.'
          type: string
          pattern: ^[A-Za-z0-9-._]{1,64}$
        subscriptionId:
          description: The subscription identifier of the storage account.
          type: string
        resourceGroup:
          description: The name of the resource group of the storage account.
          type: string
        containerName:
          description: The name of storage container in the storage account.
          type: string
        fileNameFormat:
          description: File name format for the blob. Default format is {iothub}/{partition}/{YYYY}/{MM}/{DD}/{HH}/{mm}. All parameters are mandatory but can be reordered.
          type: string
        batchFrequencyInSeconds:
          description: Time interval at which blobs are written to storage. Value should be between 60 and 720 seconds. Default value is 300 seconds.
          format: int32
          type: integer
          maximum: 720
          minimum: 60
        maxChunkSizeInBytes:
          description: Maximum number of bytes for each blob written to storage. Value should be between 10485760(10MB) and 524288000(500MB). Default value is 314572800(300MB).
          format: int32
          type: integer
          maximum: 524288000
          minimum: 10485760
        encoding:
          description: Encoding that is used to serialize messages to blobs. Supported values are 'avro', 'avrodeflate', and 'JSON'. Default value is 'avro'.
          type: string
          enum:
          - Avro
          - AvroDeflate
          - JSON
      required:
      - name
      - containerName
    IotHubProperties:
      description: The properties of an IoT hub.
      type: object
      properties:
        authorizationPolicies:
          description: The shared access policies you can use to secure a connection to the IoT hub.
          type: array
          items:
            $ref: '#/components/schemas/SharedAccessSignatureAuthorizationRule'
        disableLocalAuth:
          description: If true, SAS tokens with Iot hub scoped SAS keys cannot be used for authentication.
          type: boolean
        disableDeviceSAS:
          description: If true, all device(including Edge devices but excluding modules) scoped SAS keys cannot be used for authentication.
          type: boolean
        disableModuleSAS:
          description: If true, all module scoped SAS keys cannot be used for authentication.
          type: boolean
        restrictOutboundNetworkAccess:
          description: If true, egress from IotHub will be restricted to only the allowed FQDNs that are configured via allowedFqdnList.
          type: boolean
        allowedFqdnList:
          description: List of allowed FQDNs(Fully Qualified Domain Name) for egress from Iot Hub.
          type: array
          items:
            description: 'FQDN to be allowed for egress. Example: my-eventhub.servicebus.windows.net'
            type: string
        publicNetworkAccess:
          type: string
          description: Whether requests from Public Network are allowed
          enum:
          - Enabled
          - Disabled
          x-ms-enum:
            modelAsString: true
            name: PublicNetworkAccess
        ipFilterRules:
          description: The IP filter rules.
          type: array
          items:
            $ref: '#/components/schemas/IpFilterRule'
        networkRuleSets:
          $ref: '#/components/schemas/NetworkRuleSetProperties'
        minTlsVersion:
          type: string
          description: Specifies the minimum TLS version to support for this hub. Can be set to "1.2" to have clients that use a TLS version below 1.2 to be rejected.
        privateEndpointConnections:
          description: Private endpoint connections created on this IotHub
          type: array
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection'
        provisioningState:
          description: The provisioning state.
          type: string
          readOnly: true
        state:
          description: The hub state.
          type: string
          readOnly: true
        hostName:
          description: The name of the host.
          type: string
          readOnly: true
        eventHubEndpoints:
          description: The Event Hub-compatible endpoint properties. The only possible keys to this dictionary is events. This key has to be present in the dictionary while making create or update calls for the IoT hub.
          type: object
          additionalProperties:
            $ref: '#/components/schemas/EventHubProperties'
        routing:
          $ref: '#/components/schemas/RoutingProperties'
        storageEndpoints:
          description: The list of Azure Storage endpoints where you can upload files. Currently you can configure only one Azure Storage account and that MUST have its key as $default. Specifying more than one storage account causes an error to be thrown. Not specifying a value for this property when the enableFileUploadNotifications property is set to True, causes an error to be thrown.
          type: object
          additionalProperties:
            $ref: '#/components/schemas/StorageEndpointProperties'
        messagingEndpoints:
          description: The messaging endpoint properties for the file upload notification queue.
          type: object
          additionalProperties:
            $ref: '#/components/schemas/MessagingEndpointProperties'
        enableFileUploadNotifications:
          description: If True, file upload notifications are enabled.
          type: boolean
        cloudToDevice:
          $ref: '#/components/schemas/CloudToDeviceProperties'
        comments:
          description: IoT hub comments.
          type: string
        deviceStreams:
          description: The device streams properties of iothub.
          type: object
          properties:
            streamingEndpoints:
              description: List of Device Streams Endpoints.
              type: array
              items:
                type: string
        features:
          description: The capabilities and features enabled for the IoT hub.
          enum:
          - None
          - DeviceManagement
          type: string
          x-ms-enum:
            name: Capabilities
            modelAsString: true
        encryption:
          description: The encryption properties for the IoT hub.
          $ref: '#/components/schemas/EncryptionPropertiesDescription'
        locations:
          description: Primary and secondary location for iot hub
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/IotHubLocationDescription'
        enableDataResidency:
          description: This property when set to true, will enable data residency, thus, disabling disaster recovery.
          type: boolean
    EventHubConsumerGroupsListResult:
      description: The JSON-serialized array of Event Hub-compatible consumer group names with a next link.
      type: object
      properties:
        value:
          description: List of consumer groups objects
          type: array
          items:
            $ref: '#/components/schemas/EventHubConsumerGroupInfo'
        nextLink:
          description: The next link.
          type: string
          readOnly: true
    JobResponse:
      description: The properties of the Job Response object.
      type: object
      properties:
        jobId:
          description: The job identifier.
          type: string
          readOnly: true
        startTimeUtc:
          format: date-time-rfc1123
          description: The start time of the job.
          type: string
          readOnly: true
        endTimeUtc:
          format: date-time-rfc1123
          description: The time the job stopped processing.
          type: string
          readOnly: true
        type:
          description: The type of the job.
          enum:
          - unknown
          - export
          - import
          - backup
          - readDeviceProperties
          - writeDeviceProperties
          - updateDeviceConfiguration
          - rebootDevice
          - factoryResetDevice
          - firmwareUpdate
          type: string
          readOnly: true
          x-ms-enum:
            name: JobType
            modelAsString: true
        status:
          description: The status of the job.
          enum:
          - unknown
          - enqueued
          - running
          - completed
          - failed
          - cancelled
          type: string
          readOnly: true
          x-ms-enum:
            name: JobStatus
            modelAsString: false
        failureReason:
          description: If status == failed, this string containing the reason for the failure.
          type: string
          readOnly: true
        statusMessage:
          description: The status message for the job.
          type: string
          readOnly: true
        parentJobId:
          description: The job identifier of the parent job, if any.
          type: string
          readOnly: true
    EnrichmentProperties:
      description: The properties of an enrichment that your IoT hub applies to messages delivered to endpoints.
      type: object
      properties:
        key:
          description: The key or name for the enrichment property.
          type: string
        value:
          description: The value for the enrichment property.
          type: string
        endpointNames:
          description: The list of endpoints for which the enrichment is applied to the message.
          minItems: 1
          type: array
          items:
            type: string
      required:
      - key
      - value
      - endpointNames
    IotHubDescriptionListResult:
      description: The JSON-serialized array of IotHubDescription objects with a next link.
      type: object
      properties:
        value:
          description: The array of IotHubDescription objects.
          type: array
          items:
            $ref: '#/components/schemas/IotHubDescription'
        nextLink:
          description: The next link.
          type: string
          readOnly: true
    IotHubSkuDescription:
      description: SKU properties.
      type: object
      properties:
        resourceType:
          description: The type of the resource.
          type: string
          readOnly: true
        sku:
          description: The type of the resource.
          $ref: '#/components/schemas/IotHubSkuInfo'
        capacity:
          description: IotHub capacity
          $ref: '#/components/schemas/IotHubCapacity'
      required:
      - sku
      - capacity
    PrivateLinkServiceConnectionState:
      description: The current state of a private endpoint connection
      type: object
      properties:
        status:
          description: The status of a private endpoint connection
          enum:
          - Pending
          - Approved
          - Rejected
          - Disconnected
          type: string
          x-ms-enum:
            name: PrivateLinkServiceConnectionStatus
            modelAsString: true
        description:
          type: string
          description: The description for the current state of a private endpoint connection
        actionsRequired:
          type: string
          description: Actions required for a private endpoint connection
      required:
      - status
      - description
    EndpointHealthDataListResult:
      description: The JSON-serialized array of EndpointHealthData objects with a next link.
      type: object
      properties:
        value:
          description: JSON-serialized array of Endpoint health data
          type: array
          items:
            $ref: '#/components/schemas/EndpointHealthData'
        nextLink:
          description: Link to more results
          type: string
          readOnly: true
    RoutingEventHubProperties:
      description: The properties related to an event hub endpoint.
      type: object
      properties:
        id:
          description: Id of the event hub endpoint
          type: string
        connectionString:
          description: 'The connection string of the event hub endpoint. '
          type: string
        endpointUri:
          description: The url of the event hub endpoint. It must include the protocol sb://
          type: string
        entityPath:
          description: Event hub name on the event hub namespace
          type: string
        authenticationType:
          description: Method used to authenticate against the event hub endpoint
          enum:
          - keyBased
          - identityBased
          type: string
          x-ms-enum:
            name: authenticationType
            modelAsString: true
        identity:
          description: Managed identity properties of routing event hub endpoint.
          $ref: '#/components/schemas/ManagedIdentity'
        name:
          description: 'The name that identifies this endpoint. The name can only include alphanumeric characters, periods, underscores, hyphens and has a maximum length of 64 characters. The following names are reserved:  events, fileNotifications, $default. Endpoint names must be unique across endpoint types.'
          type: string
          pattern: ^[A-Za-z0-9-._]{1,64}$
        subscriptionId:
          description: The subscription identifier of the event hub endpoint.
          type: string
        resourceGroup:
          description: The name of the resource group of the event hub endpoint.
          type: string
      required:
      - name
    IotHubSkuInfo:
      description: Information about the SKU of the IoT hub.
      type: object
      properties:
        name:
          description: The name of the SKU.
          enum:
          - F1
          - S1
          - S2
          - S3
          - B1
          - B2
          - B3
          type: string
          x-ms-enum:
            name: IotHubSku
            modelAsString: true
        tier:
          description: The billing tier for the IoT hub.
          enum:
          - Free
          - Standard
          - Basic
          type: string
          readOnly: true
          x-ms-enum:
            name: IotHubSkuTier
            modelAsString: false
        capacity:
          format: int64
          description: 'The number of provisioned IoT Hub units. See: https://docs.microsoft.com/azure/azure-subscription-service-limits#iot-hub-limits.'
          type: integer
      required:
      - name
    UserSubscriptionQuotaListResult:
      type: object
      description: Json-serialized array of User subscription quota response
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/UserSubscriptionQuota'
        nextLink:
          type: string
          readOnly: true
    NetworkRuleSetIpRule:
      description: IP Rule to be applied as part of Network Rule Set
      type: object
      properties:
        filterName:
          type: string
          description: Name of the IP filter rule.
        action:
          type: string
          description: IP Filter Action
          enum:
          - Allow
          x-ms-enum:
            name: NetworkRuleIPAction
            modelAsString: true
          default: Allow
        ipMask:
          type: string
          description: A string that contains the IP address range in CIDR notation for the rule.
      required:
      - filterName
      - ipMask
    RouteProperties:
      description: The properties of a routing rule that your IoT hub uses to route messages to endpoints.
      type: object
      properties:
        name:
          description: The name of the route. The name can only include alphanumeric characters, periods, underscores, hyphens, has a maximum length of 64 characters, and must be unique.
          type: string
          pattern: ^[A-Za-z0-9-._]{1,64}$
        source:
          description: The source that the routing rule is to be applied to, such as DeviceMessages.
          enum:
          - Invalid
          - DeviceMessages
          - TwinChangeEvents
          - DeviceLifecycleEvents
          - DeviceJobLifecycleEvents
          - DigitalTwinChangeEvents
          - DeviceConnectionStateEvents
          - MqttBrokerMessages
          type: string
          x-ms-enum:
            name: RoutingSource
            modelAsString: true
        condition:
          description: 'The condition that is evaluated to apply the routing rule. If no condition is provided, it evaluates to true by default. For grammar, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-query-language'
          type: string
        endpointNames:
          description: The list of endpoints to which messages that satisfy the condition are routed. Currently only one endpoint is allowed.
          minItems: 1
          maxItems: 1
          type: array
          items:
            type: string
        isEnabled:
          description: Used to specify whether a route is enabled.
          type: boolean
      required:
      - name
      - endpointNames
      - source
      - isEnabled
    RoutingProperties:
      description: 'The routing related properties of the IoT hub. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging'
      type: object
      properties:
        endpoints:
          $ref: '#/components/schemas/RoutingEndpoints'
        routes:
          description: The list of user-provided routing rules that the IoT hub uses to route messages to built-in and custom endpoints. A maximum of 100 routing rules are allowed for paid hubs and a maximum of 5 routing rules are allowed for free hubs.
          type: array
          items:
            $ref: '#/components/schemas/RouteProperties'
        fallbackRoute:
          description: The properties of the route that is used as a fall-back route when none of the conditions specified in the 'routes' section are met. This is an optional parameter. When this property is not set, the messages which do not meet any of the conditions specified in the 'routes' section get routed to the built-in eventhub endpoint.
          $ref: '#/components/schemas/FallbackRouteProperties'
        enrichments:
          description: 'The list of user-provided enrichments that the IoT hub applies to messages to be delivered to built-in and custom endpoints. See: https://aka.ms/telemetryoneventgrid'
          type: array
          items:
            $ref: '#/components/schemas/EnrichmentProperties'
    IotHubQuotaMetricInfo:
      description: Quota metrics properties.
      type: object
      properties:
        name:
          description: The name of the quota metric.
          type: string
          readOnly: true
        currentValue:
          format: int64
          description: The current value for the quota metric.
          type: integer
          readOnly: true
        maxValue:
          format: int64
          description: The maximum value of the quota metric.
          type: integer
          readOnly: true
    ArmIdentity:
      type: object
      properties:
        principalId:
          description: Principal Id
          type: string
          readOnly: true
        tenantId:
          description: Tenant Id
          type: string
          readOnly: true
        type:
          description: The type of identity used for the resource. The type 'SystemAssigned,UserAssigned' includes both an implicitly created identity and a set of user assigned identities. The type 'None' will remove any identities from the service.
          type: string
          enum:
          - SystemAssigned
          - UserAssigned
          - SystemAssigned, UserAssigned
          - None
          x-ms-enum:
            name: ResourceIdentityType
            modelAsString: false
        userAssignedIdentities:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ArmUserIdentity'
    PrivateLinkResources:
      description: The available private link resources for an IotHub
      type: object
      properties:
        value:
          description: The list of available private link resources for an IotHub
          type: array
          items:
            $ref: '#/components/schemas/GroupIdInformation'
    EncryptionPropertiesDescription:
      description: The encryption properties for the IoT hub.
      type: object
      properties:
        keySource:
          description: The source of the key.
          type: string
        keyVaultProperties:
          description: The properties of the KeyVault key.
          type: array
          items:
            $ref: '#/components/schemas/KeyVaultKeyProperties'
    IotHubDescription:
      description: The description of the IoT hub.
      type: object
      properties:
        etag:
          description: The Etag field is *not* required. If it is provided in the response body, it must also be provided as a header per the normal ETag convention.
          type: string
        properties:
          description: IotHub properties
          $ref: '#/components/schemas/IotHubProperties'
        sku:
          description: IotHub SKU info
          $ref: '#/components/schemas/IotHubSkuInfo'
        identity:
          description: The managed identities for the IotHub.
          $ref: '#/components/schemas/ArmIdentity'
        systemData:
          readOnly: true
          description: The system meta data relating to this resource.
          $ref: '#/components/schemas/systemData'
      allOf:
      - $ref: '#/components/schemas/Resource'
      required:
      - sku
    IotHubLocationDescription:
      description: Public representation of one of the locations where a resource is provisioned.
      type: object
      properties:
        location:
          description: The name of the Azure region
          type: string
        role:
          description: The role of the region, can be either primary or secondary. The primary region is where the IoT hub is currently provisioned. The secondary region is the Azure disaster recovery (DR) paired region and also the region where the IoT hub can failover to.
          enum:
          - primary
          - secondary
          type: string
          x-ms-enum:
            name: IotHubReplicaRoleType
            modelAsString: true
    RoutingEndpoints:
      description: The properties related to the custom endpoints to which your IoT hub routes messages based on the routing rules. A maximum of 10 custom endpoints are allowed across all endpoint types for paid hubs and only 1 custom endpoint is allowed across all endpoint types for free hubs.
      type: object
      properties:
        serviceBusQueues:
          description: The list of Service Bus queue endpoints that IoT hub routes the messages to, based on the routing rules.
          type: array
          items:
            $ref: '#/components/schemas/RoutingServiceBusQueueEndpointProperties'
        serviceBusTopics:
          description: The list of Service Bus topic endpoints that the IoT hub routes the messages to, based on the routing rules.
          type: array
          items:
            $ref: '#/components/schemas/RoutingServiceBusTopicEndpointProperties'
        eventHubs:
          description: The list of Event Hubs endpoints that IoT hub routes messages to, based on the routing rules. This list does not include the built-in Event Hubs endpoint.
          type: array
          items:
            $ref: '#/components/schemas/RoutingEventHubProperties'
        storageContainers:
          description: The list of storage container endpoints that IoT hub routes messages to, based on the routing rules.
          type: array
          items:
            $ref: '#/components/schemas/RoutingStorageContainerProperties'
    NetworkRuleSetProperties:
      description: Network Rule Set Properties of IotHub
      type: object
      properties:
        defaultAction:
          type: string
          description: Default Action for Network Rule Set
          enum:
          - Deny
          - Allow
          x-ms-enum:
            name: DefaultAction
            modelAsString: true
          default: Deny
        applyToBuiltInEventHubEndpoint:
          type: boolean
          description: If True, then Network Rule Set is also applied to BuiltIn EventHub EndPoint of IotHub
        ipRules:
          type: array
          items:
            $ref: '#/components/schemas/NetworkRuleSetIpRule'
          description: List of IP Rules
      required:
      - applyToBuiltInEventHubEndpoint
      - ipRules
    Name:
      description: Name of Iot Hub type
      type: object
      properties:
        value:
          description: IotHub type
          type: string
        localizedValue:
          description: Localized value of name
          type: string
    GroupIdInformation:
      description: The group information for creating a private endpoint on an IotHub
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: The resource identifier.
        name:
          readOnly: true
          type: string
          description: The resource name.
        type:
          readOnly: true
          type: string
          description: The resource type.
        properties:
          $ref: '#/components/schemas/GroupIdInformationProperties'
      required:
      - properties
    EventHubConsumerGroupInfo:
      description: The properties of the EventHubConsumerGroupInfo object.
      x-ms-azure-resource: true
      type: object
      properties:
        properties:
          description: The tags.
          type: object
          additionalProperties: {}
        id:
          description: The Event Hub-compatible consumer group identifier.
          type: string
          readOnly: true
        name:
          description: The Event Hub-compatible consumer group name.
          type: string
          readOnly: true
        type:
          description: the resource type.
          type: string
          readOnly: true
        etag:
          description: The etag.
          type: string
          readOnly: true
    Resource:
      description: The common properties of an Azure resource.
      properties:
        id:
          readOnly: true
          type: string
          description: The resource identifier.
        name:
          readOnly: true
          type: string
          description: The resource name.
          pattern: ^(?![0-9]+$)(?!-)[a-zA-Z0-9-]{2,49}[a-zA-Z0-9]$
        type:
          readOnly: true
          type: string
          description: The resource type.
        location:
          type: string
          description: The resource location.
        tags:
          type: object
          additionalProperties:
            type: string
          description: The resource tags.
      x-ms-azure-resource: true
      required:
      - location
    IotHubQuotaMetricInfoListResult:
      description: The JSON-serialized array of IotHubQuotaMetricInfo objects with a next link.
      type: object
      properties:
        value:
          description: The array of quota metrics objects.
          type: array
          items:
            $ref: '#/components/schemas/IotHubQuotaMetricInfo'
        nextLink:
          description: The next link.
          type: string
          readOnly: true
    CloudToDeviceProperties:
      description: The IoT hub cloud-to-device messaging properties.
      type: object
      properties:
        maxDeliveryCount:
          description: 'The max delivery count for cloud-to-device messages in the device queue. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages.'
          format: int32
          type: integer
          minimum: 1
          maximum: 100
        defaultTtlAsIso8601:
          description: 'The default time to live for cloud-to-device messages in the device queue. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages.'
          type: string
          format: duration
        feedback:
          $ref: '#/components/schemas/FeedbackProperties'
    FallbackRouteProperties:
      description: The properties of the fallback route. IoT Hub uses these properties when it routes messages to the fallback endpoint.
      type: object
      properties:
        name:
          description: The name of the route. The name can only include alphanumeric characters, periods, underscores, hyphens, has a maximum length of 64 characters, and must be unique.
          type: string
        source:
          description: The source to which the routing rule is to be applied to. For example, DeviceMessages
          enum:
          - DeviceMessages
          type: string
          x-ms-enum:
            name: RoutingSource
            modelAsString: true
        condition:
          description: 'The condition which is evaluated in order to apply the fallback route. If the condition is not provided it will evaluate to true by default. For grammar, See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-query-language'
          type: string
        endpointNames:
          description: The list of endpoints to which the messages that satisfy the condition are routed to. Currently only 1 endpoint is allowed.
          minItems: 1
          maxItems: 1
          type: array
          items:
            type: string
        isEnabled:
          description: Used to specify whether the fallback route is enabled.
          type: boolean
      required:
      - endpointNames
      - source
      - isEnabled
    EventHubProperties:
      description: The properties of the provisioned Event Hub-compatible endpoint used by the IoT hub.
      type: object
      properties:
        retentionTimeInDays:
          format: int64
          description: 'The retention time for device-to-cloud messages in days. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#device-to-cloud-messages'
          type: integer
        partitionCount:
          format: int32
          description: 'The number of partitions for receiving device-to-cloud messages in the Event Hub-compatible endpoint. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#device-to-cloud-messages.'
          type: integer
        partitionIds:
          description: The partition ids in the Event Hub-compatible endpoint.
          readOnly: true
          type: array
          items:
            type: string
        path:
          description: The Event Hub-compatible name.
          type: string
          readOnly: true
        endpoint:
          description: The Event Hub-compatible endpoint.
          type: string
          readOnly: true
    ErrorDetails:
      description: Error details.
      type: object
      properties:
        code:
          description: The error code.
          type: string
          readOnly: true
        httpStatusCode:
          description: The HTTP status code.
          type: string
          readOnly: true
        message:
          description: The error message.
          type: string
          readOnly: true
        details:
          description: The error details.
          type: string
          readOnly: true
    RoutingServiceBusTopicEndpointProperties:
      description: The properties related to service bus topic endpoint types.
      type: object
      properties:
        id:
          description: Id of the service bus topic endpoint
          type: string
        connectionString:
          description: The connection string of the service bus topic endpoint.
          type: string
        endpointUri:
          description: The url of the service bus topic endpoint. It must include the protocol sb://
          type: string
        entityPath:
          description: Queue name on the service bus topic
          type: string
        authenticationType:
          description: Method used to authenticate against the service bus topic endpoint
          enum:
          - keyBased
          - identityBased
          type: string
          x-ms-enum:
            name: authenticationType
            modelAsString: true
        identity:
          description: Managed identity properties of routing service bus topic endpoint.
          $ref: '#/components/schemas/ManagedIdentity'
        name:
          description: 'The name that identifies this endpoint. The name can only include alphanumeric characters, periods, underscores, hyphens and has a maximum length of 64 characters. The following names are reserved:  events, fileNotifications, $default. Endpoint names must be unique across endpoint types.  The name need not be the same as the actual topic name.'
          type: string
          pattern: ^[A-Za-z0-9-._]{1,64}$
        subscriptionId:
          description: The subscription identifier of the service bus topic endpoint.
          type: string
        resourceGroup:
          description: The name of the resource group of the service bus topic endpoint.
          type: string
      required:
      - name
    JobResponseListResult:
      description: The JSON-serialized array of JobResponse objects with a next link.
      type: object
      properties:
        value:
          description: The array of JobResponse objects.
          type: array
          items:
            $ref: '#/components/schemas/JobResponse'
        nextLink:
          description: The next link.
          type: string
          readOnly: true
    IpFilterRule:
      description: The IP filter rules for the IoT hub.
      type: object
      properties:
        filterName:
          description: The name of the IP filter rule.
          type: string
        action:
          description: The desired action for requests captured by this rule.
          enum:
          - Accept
          - Reject
          type: string
          x-ms-enum:
            name: IpFilterActionType
            modelAsString: false
        ipMask:
          description: A string that contains the IP address range in CIDR notation for the rule.
          type: string
      required:
      - filterName
      - action
      - ipMask
    SharedAccessSignatureAuthorizationRule:
      description: The properties of an IoT hub shared access policy.
      type: object
      properties:
        keyName:
          description: The name of the shared access policy.
          type: string
        primaryKey:
          description: The primary key.
          type: string
        secondaryKey:
          description: The secondary key.
          type: string
        rights:
          description: The permissions assigned to the shared access policy.
          enum:
          - RegistryRead
          - RegistryWrite
          - ServiceConnect
          - DeviceConnect
          - RegistryRead, RegistryWrite
          - RegistryRead, ServiceConnect
          - RegistryRead, DeviceConnect
          - RegistryWrite, ServiceConnect
          - RegistryWrite, DeviceConnect
          - ServiceConnect, DeviceConnect
          - RegistryRead, RegistryWrite, ServiceConnect
          - RegistryRead, RegistryWrite, DeviceConnect
          - RegistryRead, ServiceConnect, DeviceConnect
          - RegistryWrite, ServiceConnect, DeviceConnect
          - RegistryRead, RegistryWrite, ServiceConnect, DeviceConnect
          type: string
          x-ms-enum:
            name: AccessRights
            modelAsString: false
      required:
      - keyName
      - rights
    MessagingEndpointProperties:
      description: The properties of the messaging endpoints used by this IoT hub.
      type: object
      properties:
        lockDurationAsIso8601:
          description: 'The lock duration. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-file-upload.'
          type: string
          format: duration
        ttlAsIso8601:
          description: 'The period of time for which a message is available to consume before it is expired by the IoT hub. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-file-upload.'
          type: string
          format: duration
        maxDeliveryCount:
          description: 'The number of times the IoT hub attempts to deliver a message. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-file-upload.'
          format: int32
          type: integer
          minimum: 1
          maximum: 100
    RoutingServiceBusQueueEndpointProperties:
      description: The properties related to service bus queue endpoint types.
      type: object
      properties:
        id:
          description: Id of the service bus queue endpoint
          type: string
        connectionString:
          description: The connection string of the service bus queue endpoint.
          type: string
        endpointUri:
          description: The url of the service bus queue endpoint. It must include the protocol sb://
          type: string
        entityPath:
          description: Queue name on the service bus namespace
          type: string
        authenticationType:
          description: Method used to authenticate against the service bus queue endpoint
          enum:
          - keyBased
          - identityBased
          type: string
          x-ms-enum:
            name: authenticationType
            modelAsString: true
        identity:
          description: Managed identity properties of routing service bus queue endpoint.
          $ref: '#/components/schemas/ManagedIdentity'
        name:
          description: 'The name that identifies this endpoint. The name can only include alphanumeric characters, periods, underscores, hyphens and has a maximum length of 64 characters. The following names are reserved:  events, fileNotifications, $default. Endpoint names must be unique across endpoint types. The name need not be the same as the actual queue name.'
          type: string
          pattern: ^[A-Za-z0-9-._]{1,64}$
        subscriptionId:
          description: The subscription identifier of the service bus queue endpoint.
          type: string
        resourceGroup:
          description: The name of the resource group of the service bus queue endpoint.
          type: string
      required:
      - name
    systemData:
      description: Metadata pertaining to creation and last modification of the resource.
      type: object
      readOnly: true
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
    X509Certificates:
      description: Primary and secondary certificates
      type: object
      properties:
        primary:
          $ref: '#/components/schemas/X509CertificateWithInfo'
        secondary:
          $ref: '#/components/schemas/X509CertificateWithInfo'
    X509CertificateInfo:
      description: X509 certificate info.
      required:
      - subjectName
      - sha1Thumbprint
      - sha256Thumbprint
      - issuerName
      - notBeforeUtc
      - notAfterUtc
      - serialNumber
      - version
      type: object
      properties:
        subjectName:
          type: string
        sha1Thumbprint:
          type: string
        sha256Thumbprint:
          type: string
        issuerName:
          type: string
        notBeforeUtc:
          format: date-time
          type: string
        notAfterUtc:
          format: date-time
          type: string
        serialNumber:
          type: string
        version:
          format: int32
          type: integer
    DeviceCapabilities:
      description: Device capabilities.
      required:
      - iotEdge
      type: object
      properties:
        iotEdge:
          description: If set to true, this device is an IoTEdge device.
          default: false
          type: boolean
    X509CAReferences:
      description: Primary and secondary CA references.
      type: object
      properties:
        primary:
          type: string
        secondary:
          type: string
    InitialTwin:
      description: Initial device twin. Contains a subset of the properties of Twin.
      type: object
      properties:
        tags:
          $ref: '#/components/schemas/TwinCollection'
          description: Twin tags.
        properties:
          $ref: '#/components/schemas/InitialTwinProperties'
          description: Twin desired properties.
    TwinCollection:
      description: Represents a collection of properties within a Twin
      type: object
      properties:
        version:
          format: int64
          description: Version of the TwinCollection
          type: integer
        count:
          description: Number of properties in the TwinCollection
          type: integer
        metadata:
          $ref: '#/components/schemas/Metadata'
          description: Metadata for the TwinCollection
      additionalProperties:
        type: object
    IndividualEnrollment:
      description: The device enrollment record.
      required:
      - registrationId
      - attestation
      type: object
      properties:
        registrationId:
          description: 'This id is used to uniquely identify a device registration of an enrollment.

            A case-insensitive string (up to 128 characters long) of alphanumeric characters plus certain special characters : . _ -. No special characters allowed at start or end.'
          type: string
        deviceId:
          description: Desired IoT Hub device ID (optional).
          type: string
        registrationState:
          $ref: '#/components/schemas/DeviceRegistrationState'
          description: Current registration status.
          readOnly: true
        optionalDeviceInformation:
          $ref: '#/components/schemas/TwinCollection'
          description: Optional Device Information.
        attestation:
          $ref: '#/components/schemas/AttestationMechanism'
          description: Attestation method used by the device.
        capabilities:
          $ref: '#/components/schemas/DeviceCapabilities'
          description: Capabilities of the device.
        iotHubHostName:
          description: The Iot Hub host name.
          type: string
        initialTwin:
          $ref: '#/components/schemas/InitialTwin'
          description: Initial device twin.
        etag:
          description: The entity tag associated with the resource.
          type: string
        provisioningStatus:
          description: The provisioning status.
          default: enabled
          enum:
          - enabled
          - disabled
          type: string
        reprovisionPolicy:
          $ref: '#/components/schemas/ReprovisionPolicy'
          description: The behavior when a device is re-provisioned to an IoT hub.
        createdDateTimeUtc:
          format: date-time
          description: The DateTime this resource was created.
          type: string
          readOnly: true
        lastUpdatedDateTimeUtc:
          format: date-time
          description: The DateTime this resource was last updated.
          type: string
          readOnly: true
        allocationPolicy:
          description: 'The allocation policy of this resource. This policy overrides the tenant level allocation policy for this individual enrollment or enrollment group. Possible values include ''hashed'': Linked IoT hubs are equally likely to have devices provisioned to them, ''geoLatency'':  Devices are provisioned to an IoT hub with the lowest latency to the device.If multiple linked IoT hubs would provide the same lowest latency, the provisioning service hashes devices across those hubs, ''static'' : Specification of the desired IoT hub in the enrollment list takes priority over the service-level allocation policy, ''custom'': Devices are provisioned to an IoT hub based on your own custom logic. The provisioning service passes information about the device to the logic, and the logic returns the desired IoT hub as well as the desired initial configuration. We recommend using Azure Functions to host your logic.'
          enum:
          - hashed
          - geoLatency
          - static
          - custom
          type: string
        iotHubs:
          description: The list of IoT Hub hostnames the device(s) in this resource can be allocated to. Must be a subset of tenant level list of IoT hubs.
          type: array
          items:
            type: string
        customAllocationDefinition:
          $ref: '#/components/schemas/CustomAllocationDefinition'
          description: This tells DPS which webhook to call when using custom allocation.
    ReprovisionPolicy:
      description: The behavior of the service when a device is re-provisioned to an IoT hub.
      required:
      - updateHubAssignment
      - migrateDeviceData
      type: object
      properties:
        updateHubAssignment:
          description: When set to true (default), the Device Provisioning Service will evaluate the device's IoT Hub assignment and update it if necessary for any provisioning requests beyond the first from a given device. If set to false, the device will stay assigned to its current IoT hub.
          default: true
          type: boolean
        migrateDeviceData:
          description: When set to true (default), the Device Provisioning Service will migrate the device's data (twin, device capabilities, and device ID) from one IoT hub to another during an IoT hub assignment update. If set to false, the Device Provisioning Service will reset the device's data to the initial desired configuration stored in the corresponding enrollment list.
          default: true
          type: boolean
    X509CertificateWithInfo:
      description: Certificate and Certificate info
      type: object
      properties:
        certificate:
          type: string
        info:
          $ref: '#/components/schemas/X509CertificateInfo'
    AttestationMechanism:
      description: Attestation mechanism for individualEnrollment as well as enrollmentGroup.
      required:
      - type
      type: object
      properties:
        type:
          description: Attestation Type.
          enum:
          - none
          - tpm
          - x509
          - symmetricKey
          type: string
        tpm:
          $ref: '#/components/schemas/TpmAttestation'
          description: TPM attestation method.
        x509:
          $ref: '#/components/schemas/X509Attestation'
          description: X509 attestation method.
        symmetricKey:
          $ref: '#/components/schemas/SymmetricKeyAttestation'
          description: Symmetric Key attestation method.
    Metadata:
      description: Metadata for the TwinCollection
      type: object
      properties:
        lastUpdated:
          format: date-time
          description: Last time the TwinCollection was updated
          type: string
        lastUpdatedVersion:
          format: int64
          description: This is null for reported properties metadata and is not null for desired properties metadata.
          type: integer
    SymmetricKeyAttestation:
      description: Attestation via SymmetricKey.
      type: object
      properties:
        primaryKey:
          description: Primary symmetric key.
          type: string
        secondaryKey:
          description: Secondary symmetric key.
          type: string
    InitialTwinProperties:
      description: Represents the initial properties that will be set on the device twin.
      type: object
      properties:
        desired:
          $ref: '#/components/schemas/TwinCollection'
          description: Gets and sets the InitialTwin desired properties.
    ProvisioningServiceErrorDetails:
      description: Contains the properties of an error returned by the Azure IoT Hub Provisioning Service.
      type: object
      properties:
        errorCode:
          format: int32
          type: integer
        trackingId:
          type: string
        message:
          type: string
        info:
          type: object
          additionalProperties:
            type: string
        timestampUtc:
          format: date-time
          type: string
    DeviceRegistrationState:
      description: Device registration state.
      type: object
      properties:
        registrationId:
          description: 'This id is used to uniquely identify a device registration of an enrollment.

            A case-insensitive string (up to 128 characters long) of alphanumeric characters plus certain special characters : . _ -. No special characters allowed at start or end.'
          type: string
          readOnly: true
        createdDateTimeUtc:
          format: date-time
          description: Registration create date time (in UTC).
          type: string
          readOnly: true
        assignedHub:
          description: Assigned Azure IoT Hub.
          type: string
          readOnly: true
        deviceId:
          description: Device ID.
          type: string
          readOnly: true
        status:
          description: Enrollment status.
          enum:
          - unassigned
          - assigning
          - assigned
          - failed
          - disabled
          type: string
          readOnly: true
        substatus:
          description: 'Substatus for ''Assigned'' devices. Possible values include - ''initialAssignment'': Device has been assigned to an IoT hub for the first time, ''deviceDataMigrated'': Device has been assigned to a different IoT hub and its device data was migrated from the previously assigned IoT hub. Device data was removed from the previously assigned IoT hub, ''deviceDataReset'':  Device has been assigned to a different IoT hub and its device data was populated from the initial state stored in the enrollment. Device data was removed from the previously assigned IoT hub, ''reprovisionedToInitialAssignment'': Device has been re-provisioned to a previously assigned IoT hub.'
          enum:
          - initialAssignment
          - deviceDataMigrated
          - deviceDataReset
          - reprovisionedToInitialAssignment
          type: string
          readOnly: true
        errorCode:
          format: int32
          description: Error code.
          type: integer
          readOnly: true
        errorMessage:
          description: Error message.
          type: string
          readOnly: true
        lastUpdatedDateTimeUtc:
          format: date-time
          description: Last updated date time (in UTC).
          type: string
          readOnly: true
        etag:
          description: The entity tag associated with the resource.
          type: string
          readOnly: true
        payload:
          description: Custom allocation payload returned from the webhook to the device.
          type: object
          readOnly: true
    X509Attestation:
      description: Attestation via X509.
      type: object
      properties:
        clientCertificates:
          $ref: '#/components/schemas/X509Certificates'
        signingCertificates:
          $ref: '#/components/schemas/X509Certificates'
        caReferences:
          $ref: '#/components/schemas/X509CAReferences'
    TpmAttestation:
      description: Attestation via TPM.
      required:
      - endorsementKey
      type: object
      properties:
        endorsementKey:
          type: string
        storageRootKey:
          type: string
    CustomAllocationDefinition:
      description: This tells DPS which webhook to call when using custom allocation.
      required:
      - webhookUrl
      - apiVersion
      type: object
      properties:
        webhookUrl:
          description: The webhook URL used for allocation requests.
          type: string
        apiVersion:
          description: 'The API version of the provisioning service types (such as IndividualEnrollment) sent in the custom allocation request. Minimum supported version: "2018-09-01-preview".'
          type: string
  parameters:
    privateEndpointConnectionName:
      name: privateEndpointConnectionName
      in: path
      description: The name of the private endpoint connection
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    api-version:
      name: api-version
      in: query
      description: The version of the API.
      required: true
      schema:
        type: string
    subscriptionId:
      name: subscriptionId
      in: path
      description: The subscription identifier.
      required: true
      schema:
        type: string
    groupId:
      name: groupId
      in: path
      description: The name of the private link resource
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    resourceGroupName:
      name: resourceGroupName
      description: The name of the resource group that contains the IoT hub.
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    resourceName:
      name: resourceName
      in: path
      description: The name of the IoT hub.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: 'The API version to use for the request. Supported versions include: 2021-10-01'
      required: true
      schema:
        type: string
        default: '2021-10-01'
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
x-refined-from:
- iothubclient-openapi-original.yml
- provisioningserviceclient-openapi-original.yml
x-ms-parameterized-host:
  hostTemplate: '{endpoint}'
  useSchemePrefix: false
  parameters:
  - $ref: '#/components/parameters/Endpoint'
