openapi: 3.2.0
info:
  version: 2023-11-01-preview
  title: Microsoft Azure Desktop Virtualization API Client Session…
servers:
- url: https://management.azure.com
tags:
- name: SessionHostConfigurations
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/sessionHostConfigurations/default/operationStatuses/{operationId}
  : get:
      tags:
      - SessionHostConfigurations
      operationId: microsoftAzureSessionhostconfigurationsoperationstatusGet
      description: Get Operation status for SessionHostManagement
      x-ms-examples:
        SessionHostConfigurationsOperationStatus_Get:
          $ref: ./examples/SessionHostConfigurationsOperationStatus_Get.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/HostPoolNameParameter'
      - $ref: '#/components/parameters/OperationIdParameter'
      responses:
        '200':
          description: Successfully retrieved operation status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionHostConfigurationOperationStatus'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/sessionHostConfigurations/default/operationStatuses
  : get:
      tags:
      - SessionHostConfigurations
      operationId: microsoftAzureSessionhostconfigurationsoperationstatusList
      description: Get Operation status for SessionHostConfiguration
      x-ms-examples:
        SessionHostConfigurationsOperationStatus_List:
          $ref: ./examples/SessionHostConfigurationsOperationStatus_List.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/HostPoolNameParameter'
      - name: isLatest
        in: query
        required: false
        description: Returns the most recent sessionHostConfiguration operation.
        schema:
          type: boolean
      - name: isNonTerminal
        in: query
        required: false
        description: Returns currently running operations. Ignored if 'isLatest' is true
        schema:
          type: boolean
      responses:
        '200':
          description: Successfully retrieved operation status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionHostConfigurationOperationStatusList'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    CloudError:
      description: Cloud error object.
      type: object
      x-ms-external: true
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorProperties'
    CloudErrorProperties:
      description: Cloud error object properties.
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
    SessionHostConfigurationOperationStatusList:
      type: object
      title: OperationStatusList
      description: List of OperationStatus definitions.
      properties:
        value:
          type: array
          description: List of OperationStatus definitions.
          items:
            $ref: '#/components/schemas/SessionHostConfigurationOperationStatus'
        nextLink:
          type: string
          readOnly: true
          description: Link to the next page of results.
    SessionHostConfigurationOperationStatus:
      description: The current status of an async operation.
      type: object
      required:
      - status
      properties:
        id:
          description: Fully qualified ID for the async operation.
          type: string
        name:
          description: Name of the async operation.
          type: string
        status:
          description: Operation status. Current defined values are <UpdateFailed | Paused | Pausing | Cancelling | InProgress | Succeeded | Failed | Canceled>
          type: string
        percentComplete:
          description: Percent of the operation that is complete.
          type: number
          minimum: 0
          maximum: 100
        startTime:
          description: The start time of the operation.
          type: string
          format: date-time
        endTime:
          description: The end time of the operation.
          type: string
          format: date-time
        operations:
          description: The operations list.
          type: array
          items:
            $ref: '#/components/schemas/SessionHostConfigurationOperationStatus'
        error:
          description: If present, details of the operation error.
          $ref: ../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorDetail
  parameters:
    OperationIdParameter:
      name: operationId
      in: path
      required: true
      description: The Guid of the operation.
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 36
        minLength: 36
    HostPoolNameParameter:
      name: hostPoolName
      in: path
      required: true
      description: The name of the host pool within the specified resource group
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 3
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
