openapi: 3.2.0
info:
  version: 2023-11-01-preview
  title: Microsoft Azure Desktop Virtualization API Client Host Pool…
servers:
- url: https://management.azure.com
tags:
- name: HostPool
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}
  : get:
      tags:
      - HostPool
      operationId: microsoftAzureHostpoolsGet
      description: Get a host pool.
      x-ms-examples:
        HostPool_Get:
          $ref: ./examples/HostPool_Get.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/HostPoolNameParameter'
      responses:
        '200':
          description: Successfully retrieved host pool.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostPool'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      tags:
      - HostPool
      operationId: microsoftAzureHostpoolsCreateorupdate
      description: Create or update a host pool.
      x-ms-examples:
        HostPool_Create:
          $ref: ./examples/HostPool_Create.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/HostPoolNameParameter'
      responses:
        '200':
          description: Successfully updated host pool.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostPool'
        '201':
          description: Successfully created host pool.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostPool'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostPool'
        description: Object containing HostPool definitions.
        required: true
    delete:
      tags:
      - HostPool
      operationId: microsoftAzureHostpoolsDelete
      description: Remove a host pool.
      x-ms-examples:
        HostPool_Delete:
          $ref: ./examples/HostPool_Delete.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/HostPoolNameParameter'
      - name: force
        in: query
        required: false
        description: Force flag to delete sessionHost.
        schema:
          type: boolean
      responses:
        '200':
          description: Successfully removed host pool.
        '204':
          description: Host pool does not exist.
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    patch:
      tags:
      - HostPool
      operationId: microsoftAzureHostpoolsUpdate
      description: Update a host pool.
      x-ms-examples:
        HostPool_Update:
          $ref: ./examples/HostPool_Update.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/HostPoolNameParameter'
      responses:
        '200':
          description: Successfully updated host pool.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostPool'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostPoolPatch'
        description: Object containing HostPool definitions.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools:
    get:
      tags:
      - HostPool
      operationId: microsoftAzureHostpoolsListbyresourcegroup
      description: List hostPools.
      x-ms-examples:
        HostPool_ListByResourceGroup:
          $ref: ./examples/HostPool_ListByResourceGroup.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - name: pageSize
        in: query
        required: false
        description: Number of items per page.
        schema:
          type: integer
          format: int32
      - name: isDescending
        in: query
        required: false
        description: Indicates whether the collection is descending.
        schema:
          type: boolean
      - name: initialSkip
        in: query
        required: false
        description: Initial number of items to skip.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved host pool in resource group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostPoolList'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/providers/Microsoft.DesktopVirtualization/hostPools:
    get:
      tags:
      - HostPool
      operationId: microsoftAzureHostpoolsList
      description: List hostPools in subscription.
      x-ms-examples:
        HostPool_List:
          $ref: ./examples/HostPool_List.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - name: pageSize
        in: query
        required: false
        description: Number of items per page.
        schema:
          type: integer
          format: int32
      - name: isDescending
        in: query
        required: false
        description: Indicates whether the collection is descending.
        schema:
          type: boolean
      - name: initialSkip
        in: query
        required: false
        description: Initial number of items to skip.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved host pool in subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostPoolList'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/retrieveRegistrationToken
  : post:
      tags:
      - HostPool
      operationId: microsoftAzureHostpoolsRetrieveregistrationtoken
      description: Registration token of the host pool.
      x-ms-examples:
        HostPools_RetrieveRegistrationToken_Post:
          $ref: ./examples/HostPools_RetrieveRegistrationToken_Post.json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - $ref: '#/components/parameters/HostPoolNameParameter'
      responses:
        '200':
          description: Successfully retrieved host pool in resource group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationInfo'
        default:
          description: Automation error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    CloudError:
      description: Cloud error object.
      type: object
      x-ms-external: true
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorProperties'
    AgentUpdateProperties:
      description: The session host configuration for updating agent, monitoring agent, and stack component.
      type: object
      properties:
        type:
          type: string
          description: The type of maintenance for session host components.
          enum:
          - Default
          - Scheduled
          x-ms-enum:
            name: SessionHostComponentUpdateType
            modelAsString: true
            values:
            - value: Default
              description: Agent and other agent side components are delivery schedule is controlled by WVD Infra.
            - value: Scheduled
              description: TenantAdmin have opted in for Scheduled Component Update feature.
        useSessionHostLocalTime:
          type: boolean
          description: Whether to use localTime of the virtual machine.
        maintenanceWindowTimeZone:
          type: string
          description: Time zone for maintenance as defined in https://docs.microsoft.com/en-us/dotnet/api/system.timezoneinfo.findsystemtimezonebyid?view=net-5.0. Must be set if useLocalTime is true.
        maintenanceWindows:
          type: array
          description: List of maintenance windows. Maintenance windows are 2 hours long.
          items:
            $ref: '#/components/schemas/MaintenanceWindowProperties'
          x-ms-identifiers: []
    HostPoolPatch:
      type: object
      description: HostPool properties that can be patched.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/Resource
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: tags to be updated
        properties:
          description: HostPool properties that can be patched.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/HostPoolPatchProperties'
    CloudErrorProperties:
      description: Cloud error object properties.
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
    HostPool:
      type: object
      description: Represents a HostPool definition.
      allOf:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/definitions/ResourceModelWithAllowedPropertySet
      required:
      - properties
      properties:
        systemData:
          $ref: ../../../../../common-types/resource-management/v2/types.json#/definitions/systemData
          description: Metadata pertaining to creation and last modification of the resource.
        properties:
          description: Detailed properties for HostPool
          x-ms-client-flatten: true
          $ref: '#/components/schemas/HostPoolProperties'
    MaintenanceWindowPatchProperties:
      description: Maintenance window starting hour and day of week.
      type: object
      properties:
        hour:
          format: int32
          type: integer
          description: The update start hour of the day. (0 - 23)
        dayOfWeek:
          type: string
          description: Day of the week.
          enum:
          - Monday
          - Tuesday
          - Wednesday
          - Thursday
          - Friday
          - Saturday
          - Sunday
          x-ms-enum:
            name: DayOfWeek
            modelAsString: false
    RegistrationInfo:
      description: Represents a RegistrationInfo definition.
      type: object
      properties:
        expirationTime:
          format: date-time
          type: string
          description: Expiration time of registration token.
        token:
          type: string
          description: The registration token base64 encoded string.
        registrationTokenOperation:
          enum:
          - Delete
          - None
          - Update
          x-ms-enum:
            name: RegistrationTokenOperation
            modelAsString: true
          type: string
          description: The type of resetting the token.
    RegistrationInfoPatch:
      description: Represents a RegistrationInfo definition.
      type: object
      properties:
        expirationTime:
          format: date-time
          type: string
          description: Expiration time of registration token.
        registrationTokenOperation:
          enum:
          - Delete
          - None
          - Update
          x-ms-enum:
            name: RegistrationTokenOperation
            modelAsString: true
          type: string
          description: The type of resetting the token.
    HostPoolProperties:
      description: Properties of HostPool.
      type: object
      required:
      - hostPoolType
      - loadBalancerType
      - preferredAppGroupType
      properties:
        objectId:
          type: string
          description: ObjectId of HostPool. (internal use)
          readOnly: true
        friendlyName:
          type: string
          description: Friendly name of HostPool.
        description:
          type: string
          description: Description of HostPool.
        hostPoolType:
          enum:
          - Personal
          - Pooled
          - BYODesktop
          x-ms-enum:
            name: HostPoolType
            modelAsString: true
            values:
            - value: Personal
              description: Users will be assigned a SessionHost either by administrators (PersonalDesktopAssignmentType = Direct) or upon connecting to the pool (PersonalDesktopAssignmentType = Automatic). They will always be redirected to their assigned SessionHost.
            - value: Pooled
              description: Users get a new (random) SessionHost every time it connects to the HostPool.
            - value: BYODesktop
              description: Users assign their own machines, load balancing logic remains the same as Personal. PersonalDesktopAssignmentType must be Direct.
          type: string
          description: HostPool type for desktop.
        personalDesktopAssignmentType:
          enum:
          - Automatic
          - Direct
          x-ms-enum:
            name: PersonalDesktopAssignmentType
            modelAsString: true
          type: string
          description: PersonalDesktopAssignment type for HostPool.
        customRdpProperty:
          type: string
          description: Custom rdp property of HostPool.
        maxSessionLimit:
          type: integer
          format: int32
          description: The max session limit of HostPool.
        loadBalancerType:
          enum:
          - BreadthFirst
          - DepthFirst
          - Persistent
          x-ms-enum:
            name: LoadBalancerType
            modelAsString: true
          type: string
          description: The type of the load balancer.
        ring:
          type: integer
          format: int32
          description: The ring number of HostPool.
        validationEnvironment:
          type: boolean
          description: Is validation environment.
        registrationInfo:
          $ref: '#/components/schemas/RegistrationInfo'
          description: The registration info of HostPool.
        vmTemplate:
          type: string
          description: VM template for sessionhosts configuration within hostpool.
        managementType:
          enum:
          - Automated
          - Standard
          x-ms-enum:
            name: ManagementType
            modelAsString: true
          type: string
          description: The type of management for this hostpool, Automated or Standard. The default value is Automated.
        applicationGroupReferences:
          readOnly: true
          type: array
          description: List of applicationGroup links.
          items:
            type: string
        appAttachPackageReferences:
          readOnly: true
          type: array
          description: List of App Attach Package links.
          items:
            type: string
        ssoadfsAuthority:
          type: string
          description: URL to customer ADFS server for signing WVD SSO certificates.
        ssoClientId:
          type: string
          description: ClientId for the registered Relying Party used to issue WVD SSO certificates.
        ssoClientSecretKeyVaultPath:
          type: string
          description: Path to Azure KeyVault storing the secret used for communication to ADFS.
        ssoSecretType:
          enum:
          - SharedKey
          - Certificate
          - SharedKeyInKeyVault
          - CertificateInKeyVault
          x-ms-enum:
            name: SSOSecretType
            modelAsString: true
          type: string
          description: The type of single sign on Secret Type.
        preferredAppGroupType:
          enum:
          - None
          - Desktop
          - RailApplications
          x-ms-enum:
            name: PreferredAppGroupType
            modelAsString: true
          type: string
          description: The type of preferred application group type, default to Desktop Application Group
        startVMOnConnect:
          type: boolean
          description: The flag to turn on/off StartVMOnConnect feature.
        cloudPcResource:
          type: boolean
          description: Is cloud pc resource.
          readOnly: true
        publicNetworkAccess:
          enum:
          - Enabled
          - Disabled
          - EnabledForSessionHostsOnly
          - EnabledForClientsOnly
          x-ms-enum:
            name: HostpoolPublicNetworkAccess
            modelAsString: true
          type: string
          description: Enabled allows this resource to be accessed from both public and private networks, Disabled allows this resource to only be accessed via private endpoints
        agentUpdate:
          $ref: '#/components/schemas/AgentUpdateProperties'
          description: The session host configuration for updating agent, monitoring agent, and stack component.
        privateEndpointConnections:
          readOnly: true
          type: array
          items:
            $ref: ../../../../../common-types/resource-management/v2/privatelinks.json#/definitions/PrivateEndpointConnection
          description: List of private endpoint connection associated with the specified resource
    HostPoolPatchProperties:
      description: Properties of HostPool.
      type: object
      properties:
        friendlyName:
          type: string
          description: Friendly name of HostPool.
        description:
          type: string
          description: Description of HostPool.
        customRdpProperty:
          type: string
          description: Custom rdp property of HostPool.
        maxSessionLimit:
          type: integer
          format: int32
          description: The max session limit of HostPool.
        personalDesktopAssignmentType:
          enum:
          - Automatic
          - Direct
          x-ms-enum:
            name: PersonalDesktopAssignmentType
            modelAsString: true
          type: string
          description: PersonalDesktopAssignment type for HostPool.
        loadBalancerType:
          enum:
          - BreadthFirst
          - DepthFirst
          - Persistent
          x-ms-enum:
            name: LoadBalancerType
            modelAsString: true
          type: string
          description: The type of the load balancer.
        ring:
          type: integer
          format: int32
          description: The ring number of HostPool.
        validationEnvironment:
          type: boolean
          description: Is validation environment.
        registrationInfo:
          $ref: '#/components/schemas/RegistrationInfoPatch'
          description: The registration info of HostPool.
        vmTemplate:
          type: string
          description: VM template for sessionhosts configuration within hostpool.
        ssoadfsAuthority:
          type: string
          description: URL to customer ADFS server for signing WVD SSO certificates.
        ssoClientId:
          type: string
          description: ClientId for the registered Relying Party used to issue WVD SSO certificates.
        ssoClientSecretKeyVaultPath:
          type: string
          description: Path to Azure KeyVault storing the secret used for communication to ADFS.
        ssoSecretType:
          enum:
          - SharedKey
          - Certificate
          - SharedKeyInKeyVault
          - CertificateInKeyVault
          x-ms-enum:
            name: SSOSecretType
            modelAsString: true
          type: string
          description: The type of single sign on Secret Type.
        preferredAppGroupType:
          enum:
          - None
          - Desktop
          - RailApplications
          x-ms-enum:
            name: PreferredAppGroupType
            modelAsString: true
          type: string
          description: The type of preferred application group type, default to Desktop Application Group
        startVMOnConnect:
          type: boolean
          description: The flag to turn on/off StartVMOnConnect feature.
        publicNetworkAccess:
          enum:
          - Enabled
          - Disabled
          - EnabledForSessionHostsOnly
          - EnabledForClientsOnly
          x-ms-enum:
            name: HostpoolPublicNetworkAccess
            modelAsString: true
          type: string
          description: Enabled to allow this resource to be access from the public network
        agentUpdate:
          $ref: '#/components/schemas/AgentUpdatePatchProperties'
          description: The session host configuration for updating agent, monitoring agent, and stack component.
    HostPoolList:
      type: object
      title: HostPoolList
      description: List of HostPool definitions.
      properties:
        value:
          type: array
          description: List of HostPool definitions.
          items:
            $ref: '#/components/schemas/HostPool'
        nextLink:
          type: string
          readOnly: true
          description: Link to the next page of results.
    MaintenanceWindowProperties:
      description: Maintenance window starting hour and day of week.
      type: object
      properties:
        hour:
          format: int32
          type: integer
          description: The update start hour of the day. (0 - 23)
        dayOfWeek:
          type: string
          description: Day of the week.
          enum:
          - Monday
          - Tuesday
          - Wednesday
          - Thursday
          - Friday
          - Saturday
          - Sunday
          x-ms-enum:
            name: DayOfWeek
            modelAsString: false
    AgentUpdatePatchProperties:
      description: The session host configuration for updating agent, monitoring agent, and stack component.
      type: object
      properties:
        type:
          type: string
          description: The type of maintenance for session host components.
          enum:
          - Default
          - Scheduled
          x-ms-enum:
            name: SessionHostComponentUpdateType
            modelAsString: true
            values:
            - value: Default
              description: Agent and other agent side components are delivery schedule is controlled by WVD Infra.
            - value: Scheduled
              description: TenantAdmin have opted in for Scheduled Component Update feature.
        useSessionHostLocalTime:
          type: boolean
          description: Whether to use localTime of the virtual machine.
        maintenanceWindowTimeZone:
          type: string
          description: Time zone for maintenance as defined in https://docs.microsoft.com/en-us/dotnet/api/system.timezoneinfo.findsystemtimezonebyid?view=net-5.0. Must be set if useLocalTime is true.
        maintenanceWindows:
          type: array
          description: List of maintenance windows. Maintenance windows are 2 hours long.
          items:
            $ref: '#/components/schemas/MaintenanceWindowPatchProperties'
          x-ms-identifiers: []
  parameters:
    HostPoolNameParameter:
      name: hostPoolName
      in: path
      required: true
      description: The name of the host pool within the specified resource group
      x-ms-parameter-location: method
      schema:
        type: string
        maxLength: 64
        minLength: 3
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
