openapi: 3.2.0
info:
  version: 2019-07-19-preview
  title: Microsoft Azure Azure Reservation Auto Quota Increase API
  description: Microsoft Azure Quota Resource Provider.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: AutoQuotaIncrease
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Capacity/autoQuotaIncrease:
    get:
      tags:
      - AutoQuotaIncrease
      description: Gets the Auto Quota Increase enrollment details for the specified subscription.
      operationId: microsoftAzureAutoquotaincreaseGetproperties
      x-ms-examples:
        GetAutoQuotaIncreaseSettings:
          $ref: ./examples/getAutoQuotaIncreaseStatus.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdInParameters'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Ok. Returning the properties of auto quota increase .
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoQuotaIncreaseDetail'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft Capacity…
    put:
      tags:
      - AutoQuotaIncrease
      description: Sets the Auto Quota Increase enrollment properties for the specified subscription.
      operationId: microsoftAzureAutoquotaincreaseCreate
      x-ms-examples:
        SetAutoQuotaIncreaseSettings:
          $ref: ./examples/putAutoQuotaIncrease.json
        TurnOffAutoQuotaIncrease:
          $ref: ./examples/putAutoQuotaIncreaseTurnOff.json
      parameters:
      - $ref: '#/components/parameters/SubscriptionIdInParameters'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Ok. Returning the updated status of auto quota increase request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoQuotaIncreaseDetail'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
      summary: Microsoft Azure Put Subscriptions Subscriptionid Providers Microsoft Capacity…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoQuotaIncreaseDetail'
        description: Auto Quota increase request payload.
        required: true
components:
  schemas:
    ExceptionResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ServiceError'
          description: The api error details.
      description: The api error.
    SeverityTypes:
      description: The Severity types.
      enum:
      - Critical
      - Moderate
      - Minimal
      x-ms-enum:
        name: SeverityType
        modelAsString: true
    ServiceError:
      description: The api error details.
      type: object
      properties:
        code:
          type: string
          description: The error code.
        message:
          type: string
          description: The error message.
        details:
          type: array
          items:
            $ref: '#/components/schemas/ServiceErrorDetail'
          description: The list of error details.
          readOnly: true
    ContactMethod:
      description: 'The contact method - Email: Contact using provided email, Phone: contact using provided phone number.'
      enum:
      - Email
      - Phone
      x-ms-enum:
        name: ContactMethodType
        modelAsString: true
    Actions:
      description: The actions for auto quota increase.
      type: object
      properties:
        emailActions:
          description: The email actions for auto quota increase.
          $ref: '#/components/schemas/EmailActions'
    AutoQuotaIncreaseDetail:
      type: object
      description: Auto Quota Increase settings.
      x-ms-azure-resource: true
      properties:
        id:
          description: The subscription Id.
          type: string
          readOnly: true
        name:
          description: The name of the auto quota increase.
          type: string
          readOnly: true
        type:
          description: The type of the resource
          type: string
          readOnly: true
        properties:
          description: Actions for auto quota increase.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/autoQuotaIncreaseSettings'
    EmailActions:
      description: The email actions.
      properties:
        emailAddresses:
          description: The list of email actions.
          type: array
          items:
            description: The email recipients.
            $ref: '#/components/schemas/EmailAction'
    aqiSettings:
      type: object
      description: Settings for auto quota increase.
      properties:
        autoQuotaIncreaseState:
          description: If the subscription has enabled automatic quota increase.
          $ref: '#/components/schemas/AqiState'
    AqiState:
      description: 'The Auto quota increase feature state - enabled: feature is enabled, disabled: feature is disabled.'
      enum:
      - enabled
      - disabled
      x-ms-enum:
        name: AqiStateType
        modelAsString: true
    EmailAction:
      description: Email Action.
      type: object
      properties:
        emailAddress:
          description: The email address for the action.
          type: string
    ServiceErrorDetail:
      description: The error details.
      type: object
      properties:
        code:
          type: string
          readOnly: true
          description: The error code.
        message:
          type: string
          readOnly: true
          description: The error message.
    SupportRequestAction:
      description: The SupportRequest action.
      type: object
      properties:
        severity:
          description: The support request severity.
          $ref: '#/components/schemas/SeverityTypes'
        firstName:
          description: The first name of the recipient.
          type: string
        lastName:
          description: The last name of the recipient.
          type: string
        country:
          description: The country of the recipient.
          type: string
        phoneNumber:
          description: The phone number of the recipient.
          type: string
        primaryEmailAddress:
          description: The primary email addresses of the recipients.
          type: string
        supportLanguage:
          description: The support language.
          type: string
        preferredContactMethod:
          description: The preferred communication channel.
          $ref: '#/components/schemas/ContactMethod'
        alternateEmailAddresses:
          description: The alternate email address of the recipient.
          type: array
          items:
            description: The email recipients.
            type: string
    autoQuotaIncreaseSettings:
      type: object
      description: Actions for auto quota increase.
      properties:
        settings:
          description: Settings for automatic quota increase.
          $ref: '#/components/schemas/aqiSettings'
        onFailure:
          description: The on failure Actions.
          $ref: '#/components/schemas/Actions'
        onSuccess:
          description: The on success Actions.
          $ref: '#/components/schemas/Actions'
        supportTicketAction:
          description: The support ticket action.
          $ref: '#/components/schemas/SupportRequestAction'
  parameters:
    SubscriptionIdInParameters:
      name: subscriptionId
      x-ms-parameter-location: method
      in: path
      required: true
      description: Azure subscription id.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: API version.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
