openapi: 3.2.0
info:
  description: A Storage Cache provides scalable caching service for NAS clients, serving data from either NFSv3 or Blob at-rest storage (referred to as "Storage Targets"). These operations allow you to manage Caches.
  title: Microsoft Azure Storage Cache Mgmt Client Asc Usages API
  version: 2023-03-01-preview
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
tags:
- name: AscUsages
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.StorageCache/locations/{location}/usages:
    get:
      parameters:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter
      - name: location
        in: path
        required: true
        description: The name of the region to query for usage information.
        schema:
          type: string
      responses:
        '200':
          description: The usage information was returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceUsagesListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        AscUsages_List:
          $ref: ./examples/AscResourceUsages_Get.json
      x-ms-pageable:
        nextLinkName: nextLink
      tags:
      - AscUsages
      description: Gets the quantity used and quota limit for resources
      operationId: microsoftAzureAscusagesList
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
components:
  schemas:
    CloudErrorBody:
      description: An error response.
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
          type: string
        details:
          description: A list of additional details about the error.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          type: array
          x-ms-identifiers: []
        message:
          description: A message describing the error, intended to be suitable for display in a user interface.
          type: string
        target:
          description: The target of the particular error. For example, the name of the property in error.
          type: string
      type: object
    ResourceUsagesListResult:
      description: Result of the request to list resource usages. It contains a list of resource usages & limits and a URL link to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of resource usage list results if there are any.
          readOnly: true
          type: string
        value:
          description: List of usages and limits for resources controlled by the Microsoft.StorageCache resource provider.
          items:
            $ref: '#/components/schemas/ResourceUsage'
          readOnly: true
          type: array
          x-ms-identifiers:
          - name
      type: object
    CloudError:
      x-ms-external: true
      description: An error response.
      properties:
        error:
          description: The body of the error.
          $ref: '#/components/schemas/CloudErrorBody'
      type: object
    ResourceUsage:
      description: The usage and limit (quota) for a resource.
      properties:
        limit:
          description: The limit (quota) for this resource.
          readOnly: true
          type: integer
          format: int32
          minimum: 0
        unit:
          description: Unit that the limit and usages are expressed in, such as 'Count'.
          readOnly: true
          type: string
        currentValue:
          description: The current usage of this resource.
          readOnly: true
          type: integer
          format: int32
          minimum: 0
        name:
          description: Naming information for this resource type.
          readOnly: true
          type: object
          properties:
            value:
              description: Canonical name for this resource type.
              type: string
            localizedValue:
              description: Localized name for this resource type.
              type: string
      type: object
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
