openapi: 3.2.0
info:
  description: This is a Kafka Restproxy Api lists.
  version: v1
  title: Microsoft Azure Kafka Restproxy V1producer API
  contact:
    name: HDInsight
servers:
- url: https://clustername-kafkarest.azurehdinsight.net/
tags:
- name: V1producer
  description: Produce records
paths:
  /v1/producer/topics/{topic}:
    post:
      tags:
      - V1producer
      summary: Microsoft Azure Produce Records
      description: Produce records to a topic in Kafka. If producing records to a newly created topic, please wait a few seconds for the topic to show up.
      operationId: microsoftAzureProducerProducemessagetotopic
      parameters:
      - name: topic
        in: path
        description: Topic to produce the records to
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: string
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Method Not Allowed
        '500':
          description: Internal Server Error
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProducerRecords'
        description: List of producer records to produce in one request
        required: true
components:
  schemas:
    ProducerRecord:
      type: object
      required:
      - value
      properties:
        value:
          type: object
          description: Value for producer record
        key:
          type: object
          description: Key for producer record
        partition:
          type: integer
          format: int32
          description: Partition ID for producer record
      description: A producer record
    ProducerRecords:
      type: object
      properties:
        records:
          type: array
          description: List of producer records
          items:
            $ref: '#/components/schemas/ProducerRecord'
      description: List of producer records to produce in one request
