openapi: 3.2.0
info:
  version: '2019-04-01'
  title: Microsoft Azure VMwareCloudSimple Availability Usages API
  description: Description of the new service
  x-ms-code-generation-settings:
    name: VMwareCloudSimpleClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- description: operations related to availability and usage
  name: AvailabilityUsages
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/availabilities:
    get:
      description: Returns list of available resources in region
      tags:
      - AvailabilityUsages
      summary: Microsoft Azure Implements Skuavailability List Method
      operationId: microsoftAzureSkusavailabilityList
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/regionId'
      - description: sku id, if no sku is passed availability for all skus will be returned
        name: skuId
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuAvailabilityListResponse'
        default:
          description: General Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
      x-ms-examples:
        ListAvailabilities:
          $ref: ./examples/ListAvailabilities.json
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/usages:
    get:
      description: Returns list of usage in region
      tags:
      - AvailabilityUsages
      summary: Microsoft Azure Implements Usages List Method
      operationId: microsoftAzureUsagesList
      parameters:
      - $ref: '#/components/parameters/subscriptionId'
      - $ref: '#/components/parameters/regionId'
      - description: The filter to apply on the list operation. only name.value is allowed here as a filter e.g. $filter=name.value eq 'xxxx'
        name: $filter
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageListResponse'
        default:
          description: General Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CSRPError'
      x-ms-examples:
        ListUsages:
          $ref: ./examples/ListUsages.json
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    regionId:
      x-ms-parameter-location: method
      description: The region Id (westus, eastus)
      name: regionId
      in: path
      required: true
      schema:
        type: string
    api-version:
      description: Client API version.
      name: api-version
      in: query
      required: true
      schema:
        type: string
    subscriptionId:
      description: The subscription ID.
      name: subscriptionId
      in: path
      required: true
      schema:
        type: string
  schemas:
    SkuAvailability:
      description: SKU availability model
      required:
      - limit
      properties:
        dedicatedAvailabilityZoneId:
          description: CloudSimple Availability Zone id
          type: string
        dedicatedAvailabilityZoneName:
          description: CloudSimple Availability Zone Name
          type: string
        dedicatedPlacementGroupId:
          description: CloudSimple Placement Group Id
          type: string
        dedicatedPlacementGroupName:
          description: CloudSimple Placement Group name
          type: string
        limit:
          description: indicates how many resources of a given SKU is available in a AZ->PG
          type: integer
        resourceType:
          description: resource type e.g. DedicatedCloudNodes
          type: string
        skuId:
          description: sku id
          type: string
        skuName:
          description: sku name
          type: string
    CSRPError:
      description: General error model
      properties:
        error:
          description: Error's body
          $ref: '#/components/schemas/CSRPErrorBody'
    UsageName:
      description: User name model
      properties:
        localizedValue:
          description: e.g. "Virtual Machines"
          type: string
        value:
          description: resource type or resource type sku name, e.g. virtualMachines
          type: string
    Usage:
      description: Usage model
      required:
      - currentValue
      - limit
      properties:
        currentValue:
          description: The current usage value
          type: integer
          default: 0
        limit:
          description: limit of a given sku in a region for a subscription. The maximum permitted value for the usage quota. If there is no limit, this value will be -1
          type: integer
          default: 0
        name:
          description: Usage name value and localized name
          $ref: '#/components/schemas/UsageName'
        unit:
          description: The usages' unit
          type: string
          enum:
          - Count
          - Bytes
          - Seconds
          - Percent
          - CountPerSecond
          - BytesPerSecond
          x-ms-enum:
            modelAsString: false
            name: UsageCount
    CSRPErrorBody:
      description: Error properties
      properties:
        code:
          description: Error's code
          type: string
          readOnly: true
        details:
          description: Error's details
          type: array
          items:
            $ref: '#/components/schemas/CSRPErrorBody'
          x-ms-identifiers: []
          readOnly: true
        message:
          description: Error's message
          type: string
          readOnly: true
        target:
          description: Error's target
          type: string
    UsageListResponse:
      description: List of usages
      properties:
        nextLink:
          description: Link for next list of DedicatedCloudNode
          type: string
        value:
          description: The list of usages
          type: array
          items:
            $ref: '#/components/schemas/Usage'
          x-ms-identifiers:
          - /name/value
          readOnly: true
    SkuAvailabilityListResponse:
      description: List of SKU availabilities
      properties:
        nextLink:
          description: Link for next list of DedicatedCloudNode
          type: string
        value:
          description: Results of the DedicatedPlacementGroupSkuAvailability list
          type: array
          items:
            $ref: '#/components/schemas/SkuAvailability'
          x-ms-identifiers:
          - dedicatedAvailabilityZoneId
          - dedicatedPlacementGroupId
          - skuId
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
