openapi: 3.2.0
info:
  title: Microsoft Azure Azure Migrate Assessment Service AKS…
  version: 2023-04-01-preview
  description: Azure Migrate Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: AKSOptionsOperations
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/aksAssessmentOptions
  : get:
      operationId: microsoftAzureAksoptionsoperationsListbyassessmentproject
      tags:
      - AKSOptionsOperations
      description: List AKSAssessmentOptions resources by AssessmentProject
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AKSAssessmentOptionsListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        AksOptionsOperations_ListByAssessmentProject_MaximumSet_Gen:
          $ref: ./examples/AksOptionsOperations_ListByAssessmentProject_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/aksAssessmentOptions/{assessmentOptionsName}
  : get:
      operationId: microsoftAzureAksoptionsoperationsGet
      tags:
      - AKSOptionsOperations
      description: Get a AKSAssessmentOptions
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: projectName
        in: path
        description: Assessment Project Name
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      - name: assessmentOptionsName
        in: path
        description: AKS Assessment Options Name.
        required: true
        schema:
          type: string
          pattern: ^[^<>&:\?/#]{1,260}$
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AKSAssessmentOptions'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse
      x-ms-examples:
        AksOptionsOperations_Get_MaximumSet_Gen:
          $ref: ./examples/AksOptionsOperations_Get_MaximumSet_Gen.json
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
components:
  schemas:
    RecordOfStringArray:
      type: object
      description: Data Model for Dictionary<string, string[]>.
      additionalProperties:
        items:
          type: string
        type: array
    AKSAssessmentOptionsProperties:
      type: object
      description: ARM model of AKS Assessment Options Properties.
      allOf:
      - $ref: '#/components/schemas/OptionsArmPropertiesBase'
    AKSAssessmentOptionsListResult:
      type: object
      description: The response of a AKSAssessmentOptions list operation.
      properties:
        value:
          type: array
          description: The AKSAssessmentOptions items on this page
          items:
            $ref: '#/components/schemas/AKSAssessmentOptions'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    AKSAssessmentOptions:
      type: object
      description: ARM model of AKS Assessment Options.
      properties:
        properties:
          $ref: '#/components/schemas/AKSAssessmentOptionsProperties'
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
        eTag:
          type: string
          description: If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.
          readOnly: true
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
    OptionsArmPropertiesBase:
      type: object
      description: Base ARM model of ARM properties for assessment options.
      properties:
        edges:
          type: object
          description: Gets the mapping of Assessment Options in graph representation.
          additionalProperties:
            $ref: '#/components/schemas/RecordOfStringArray'
          readOnly: true
      required:
      - edges
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
