openapi: 3.2.0
info:
  version: '2021-01-01'
  title: Microsoft Azure PowerBIDedicated Capacities API
  description: PowerBI Dedicated Web API provides a RESTful set of web services that enables users to create, retrieve, update, and delete Power BI dedicated capacities
  x-ms-code-generation-settings:
    name: PowerBIDedicatedManagementClient
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Capacities
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBIDedicated/capacities/{dedicatedCapacityName}
  : get:
      description: Gets details about the specified dedicated capacity.
      x-ms-examples:
        Get details of a capacity:
          $ref: ./examples/getCapacity.json
      tags:
      - Capacities
      operationId: microsoftAzureCapacitiesGetdetails
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - name: dedicatedCapacityName
        in: path
        required: true
        description: The name of the dedicated capacity. It must be a minimum of 3 characters, and a maximum of 63.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[a-z][a-z0-9]*$
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. The operation was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedCapacity'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
    put:
      description: Provisions the specified Dedicated capacity based on the configuration specified in the request.
      x-ms-examples:
        Create capacity:
          $ref: ./examples/createCapacity.json
      tags:
      - Capacities
      operationId: microsoftAzureCapacitiesCreate
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - name: dedicatedCapacityName
        in: path
        required: true
        description: The name of the Dedicated capacity. It must be a minimum of 3 characters, and a maximum of 63.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[a-z][a-z0-9]*$
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. The operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedCapacity'
        '201':
          description: InProgress. The operation is still in progress.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedCapacity'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-long-running-operation: true
      summary: Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedCapacity'
        description: Contains the information used to provision the Dedicated capacity.
        required: true
    delete:
      description: Deletes the specified Dedicated capacity.
      x-ms-examples:
        Get details of a capacity:
          $ref: ./examples/deleteCapacity.json
      tags:
      - Capacities
      operationId: microsoftAzureCapacitiesDelete
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - name: dedicatedCapacityName
        in: path
        required: true
        description: The name of the Dedicated capacity. It must be at least 3 characters in length, and no more than 63.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[a-z][a-z0-9]*$
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK.
        '202':
          description: Accepted.
        '204':
          description: No Content.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-long-running-operation: true
      summary: Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups…
    patch:
      description: Updates the current state of the specified Dedicated capacity.
      x-ms-examples:
        Update capacity parameters:
          $ref: ./examples/updateCapacity.json
        Update capacity to Generation 2:
          $ref: ./examples/updateToGen2.json
      tags:
      - Capacities
      operationId: microsoftAzureCapacitiesUpdate
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - name: dedicatedCapacityName
        in: path
        required: true
        description: The name of the Dedicated capacity. It must be at least 3 characters in length, and no more than 63.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[a-z][a-z0-9]*$
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedCapacity'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedCapacity'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-long-running-operation: true
      summary: Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedCapacityUpdateParameters'
        description: Request object that contains the updated information for the capacity.
        required: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBIDedicated/capacities/{dedicatedCapacityName}/suspend
  : post:
      description: Suspends operation of the specified dedicated capacity instance.
      x-ms-examples:
        Suspend capacity:
          $ref: ./examples/suspendCapacity.json
      tags:
      - Capacities
      operationId: microsoftAzureCapacitiesSuspend
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - name: dedicatedCapacityName
        in: path
        required: true
        description: The name of the Dedicated capacity. It must be at least 3 characters in length, and no more than 63.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[a-z][a-z0-9]*$
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK.
        '202':
          description: Accepted.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-long-running-operation: true
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBIDedicated/capacities/{dedicatedCapacityName}/resume
  : post:
      description: Resumes operation of the specified Dedicated capacity instance.
      x-ms-examples:
        Get details of a capacity:
          $ref: ./examples/resumeCapacity.json
      tags:
      - Capacities
      operationId: microsoftAzureCapacitiesResume
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - name: dedicatedCapacityName
        in: path
        required: true
        description: The name of the Dedicated capacity. It must be at least 3 characters in length, and no more than 63.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[a-z][a-z0-9]*$
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-long-running-operation: true
      summary: Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBIDedicated/capacities:
    get:
      description: Gets all the Dedicated capacities for the given resource group.
      x-ms-examples:
        List capacities in resource group:
          $ref: ./examples/listCapacitiesInResourceGroup.json
      tags:
      - Capacities
      operationId: microsoftAzureCapacitiesListbyresourcegroup
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedCapacities'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/providers/Microsoft.PowerBIDedicated/capacities:
    get:
      description: Lists all the Dedicated capacities for the given subscription.
      x-ms-examples:
        Get details of a capacity:
          $ref: ./examples/listCapacitiesInSubscription.json
      tags:
      - Capacities
      operationId: microsoftAzureCapacitiesList
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedCapacities'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: null
      summary: Microsoft Azure Get Subscriptions Subscriptionid Providers Microsoft…
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBIDedicated/capacities/{dedicatedCapacityName}/skus
  : get:
      description: Lists eligible SKUs for a PowerBI Dedicated resource.
      x-ms-examples:
        List eligible SKUs for an existing capacity:
          $ref: ./examples/listSKUsForExisting.json
      tags:
      - Capacities
      operationId: microsoftAzureCapacitiesListskusforcapacity
      parameters:
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - name: dedicatedCapacityName
        in: path
        required: true
        description: The name of the Dedicated capacity. It must be at least 3 characters in length, and no more than 63.
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^[a-z][a-z0-9]*$
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuEnumerationForExistingResourceResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups…
  /subscriptions/{subscriptionId}/providers/Microsoft.PowerBIDedicated/locations/{location}/checkNameAvailability:
    post:
      x-ms-examples:
        Check name availability of a capacity:
          $ref: ./examples/checkNameAvailability.json
      tags:
      - Capacities
      operationId: microsoftAzureCapacitiesChecknameavailability
      description: Check the name availability in the target location.
      parameters:
      - name: location
        in: path
        required: true
        description: The region name which the operation will lookup into.
        schema:
          type: string
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckCapacityNameAvailabilityResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Microsoft Azure Post Subscriptions Subscriptionid Providers Microsoft…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckCapacityNameAvailabilityParameters'
        description: The name of the capacity.
        required: true
components:
  schemas:
    DedicatedCapacity:
      description: Represents an instance of a Dedicated Capacity resource.
      type: object
      properties:
        sku:
          $ref: '#/components/schemas/CapacitySku'
          description: The SKU of the PowerBI Dedicated capacity resource.
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/DedicatedCapacityProperties'
          description: Properties of the provision operation request.
      allOf:
      - $ref: '#/components/schemas/Resource'
      required:
      - sku
    DedicatedCapacities:
      description: An array of Dedicated capacities resources.
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/DedicatedCapacity'
          description: An array of Dedicated capacities resources.
      required:
      - value
    CheckCapacityNameAvailabilityResult:
      description: The checking result of capacity name availability.
      type: object
      properties:
        nameAvailable:
          type: boolean
          description: Indicator of availability of the capacity name.
        reason:
          type: string
          description: The reason of unavailability.
        message:
          type: string
          description: The detailed message of the request unavailability.
    DedicatedCapacityMutableProperties:
      description: An object that represents a set of mutable Dedicated capacity resource properties.
      type: object
      properties:
        administration:
          $ref: '#/components/schemas/DedicatedCapacityAdministrators'
          description: A collection of Dedicated capacity administrators
        mode:
          description: Specifies the generation of the Power BI Embedded capacity. If no value is specified, the default value 'Gen2' is used. [Learn More](https://docs.microsoft.com/power-bi/developer/embedded/power-bi-embedded-generation-2)
          type: string
          enum:
          - Gen1
          - Gen2
          x-ms-enum:
            name: Mode
            modelAsString: true
        tenantId:
          type: string
          description: Tenant ID for the capacity. Used for creating Pro Plus capacity.
          readOnly: true
        friendlyName:
          type: string
          description: Capacity name
          readOnly: true
    SystemData:
      description: Metadata pertaining to creation and last modification of the resource.
      type: object
      properties:
        createdBy:
          type: string
          description: An identifier for the identity that created the resource
        createdByType:
          $ref: '#/components/schemas/IdentityType'
          description: The type of identity that created the resource
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC)
        lastModifiedBy:
          type: string
          description: An identifier for the identity that last modified the resource
        lastModifiedByType:
          $ref: '#/components/schemas/IdentityType'
          description: The type of identity that last modified the resource
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
    IdentityType:
      description: The type of identity that created/modified the resource.
      type: string
      enum:
      - User
      - Application
      - ManagedIdentity
      - Key
      x-ms-enum:
        name: IdentityType
        modelAsString: true
    Resource:
      description: Represents an instance of an PowerBI Dedicated resource.
      type: object
      properties:
        id:
          type: string
          readOnly: true
          description: An identifier that represents the PowerBI Dedicated resource.
        name:
          type: string
          readOnly: true
          description: The name of the PowerBI Dedicated resource.
        type:
          type: string
          readOnly: true
          description: The type of the PowerBI Dedicated resource.
        location:
          type: string
          description: Location of the PowerBI Dedicated resource.
          x-ms-mutability:
          - create
          - read
        tags:
          type: object
          additionalProperties:
            type: string
          description: Key-value pairs of additional resource provisioning properties.
        systemData:
          $ref: '#/components/schemas/SystemData'
          description: Metadata pertaining to creation and last modification of the resource.
      required:
      - location
      x-ms-azure-resource: true
    DedicatedCapacityAdministrators:
      description: An array of administrator user identities
      type: object
      properties:
        members:
          type: array
          items:
            type: string
            description: 'The UPN of the user. For example: johnsmith@contoso.com.'
          description: An array of administrator user identities.
    DedicatedCapacityProperties:
      description: Properties of Dedicated Capacity resource.
      type: object
      properties:
        state:
          type: string
          enum:
          - Deleting
          - Succeeded
          - Failed
          - Paused
          - Suspended
          - Provisioning
          - Updating
          - Suspending
          - Pausing
          - Resuming
          - Preparing
          - Scaling
          x-ms-enum:
            name: State
            modelAsString: true
          readOnly: true
          description: The current state of PowerBI Dedicated resource. The state is to indicate more states outside of resource provisioning.
        provisioningState:
          type: string
          enum:
          - Deleting
          - Succeeded
          - Failed
          - Paused
          - Suspended
          - Provisioning
          - Updating
          - Suspending
          - Pausing
          - Resuming
          - Preparing
          - Scaling
          x-ms-enum:
            name: CapacityProvisioningState
            modelAsString: true
          readOnly: true
          description: The current deployment state of PowerBI Dedicated resource. The provisioningState is to indicate states for resource provisioning.
      allOf:
      - $ref: '#/components/schemas/DedicatedCapacityMutableProperties'
    SkuDetailsForExistingResource:
      description: An object that represents SKU details for existing resources
      type: object
      properties:
        resourceType:
          type: string
          description: The resource type
        sku:
          $ref: '#/components/schemas/CapacitySku'
          description: The SKU in SKU details for existing resources.
    ErrorResponse:
      type: object
      description: Describes the format of Error response.
      properties:
        error:
          description: The error object
          properties:
            code:
              type: string
              description: Error code
            message:
              type: string
              description: Error message indicating why the operation failed.
    CapacitySku:
      description: Represents the SKU name and Azure pricing tier for PowerBI Dedicated capacity resource.
      type: object
      properties:
        name:
          type: string
          description: Name of the SKU level.
        tier:
          type: string
          enum:
          - PBIE_Azure
          - Premium
          - AutoPremiumHost
          x-ms-enum:
            name: CapacitySkuTier
            modelAsString: true
          description: The name of the Azure pricing tier to which the SKU applies.
        capacity:
          type: integer
          format: int32
          description: The capacity of the SKU.
      required:
      - name
    CheckCapacityNameAvailabilityParameters:
      description: Details of capacity name request body.
      type: object
      properties:
        name:
          type: string
          pattern: ^[a-z][a-z0-9]*$
          minLength: 3
          maxLength: 63
          description: Name for checking availability.
        type:
          type: string
          default: Microsoft.PowerBIDedicated/capacities
          description: The resource type of PowerBI dedicated.
    DedicatedCapacityUpdateParameters:
      description: Provision request specification
      type: object
      properties:
        sku:
          $ref: '#/components/schemas/CapacitySku'
          description: The SKU of the Dedicated capacity resource.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Key-value pairs of additional provisioning properties.
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/DedicatedCapacityMutableProperties'
          description: Properties of the provision operation request.
    SkuEnumerationForExistingResourceResult:
      description: An object that represents enumerating SKUs for existing resources
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/SkuDetailsForExistingResource'
          x-ms-identifiers:
          - /sku/name
          description: The collection of available SKUs for existing resources
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      description: The name of the Azure Resource group of which a given PowerBIDedicated capacity is part. This name must be at least 1 character in length, and no more than 90.
      schema:
        type: string
        maxLength: 90
        minLength: 1
        pattern: ^[-\w\._\(\)]+$
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The client API version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: A unique identifier for a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
