openapi: 3.2.0
info:
  version: '2022-11-01'
  title: Microsoft Azure Billing benefits RP Savings Plan API
  description: Azure Benefits RP let users create and manage benefits like savings plan.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Savings Plan
paths:
  /providers/Microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/savingsPlans:
    get:
      description: List savings plans in an order.
      operationId: microsoftAzureSavingsplanList
      tags:
      - Savings Plan
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        SavingsPlansInOrderList:
          $ref: ./examples/SavingsPlansInOrderList.json
      parameters:
      - $ref: '#/components/parameters/SavingsPlanOrderIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: The request is completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavingsPlanModelList'
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Providers Microsoft Billingbenefits Savingsplanorders…
  /providers/Microsoft.BillingBenefits/savingsPlans:
    get:
      description: List savings plans.
      operationId: microsoftAzureSavingsplanListall
      tags:
      - Savings Plan
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        SavingsPlansList:
          $ref: ./examples/SavingsPlansList.json
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - name: $filter
        description: May be used to filter by reservation properties. The filter supports 'eq', 'or', and 'and'. It does not currently support 'ne', 'gt', 'le', 'ge', or 'not'. Reservation properties include sku/name, properties/{appliedScopeType, archived, displayName, displayProvisioningState, effectiveDateTime, expiryDate, provisioningState, quantity, renew, reservedResourceType, term, userFriendlyAppliedScopeType, userFriendlyRenewState}
        in: query
        required: false
        schema:
          type: string
      - name: $orderby
        description: May be used to sort order by reservation properties.
        in: query
        required: false
        schema:
          type: string
      - name: refreshSummary
        description: To indicate whether to refresh the roll up counts of the savings plans group by provisioning states
        in: query
        required: false
        schema:
          type: string
      - name: $skiptoken
        description: The number of savings plans to skip from the list before returning results
        in: query
        required: false
        schema:
          type: number
      - name: selectedState
        description: The selected provisioning state
        in: query
        required: false
        schema:
          type: string
      - name: take
        description: To number of savings plans to return
        in: query
        required: false
        schema:
          type: number
      responses:
        '200':
          description: The request is completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavingsPlanModelListResult'
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Providers Microsoft Billingbenefits Savingsplans
  /providers/Microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/savingsPlans/{savingsPlanId}:
    get:
      description: Get savings plan.
      operationId: microsoftAzureSavingsplanGet
      tags:
      - Savings Plan
      x-ms-examples:
        SavingsPlanItemGet:
          $ref: ./examples/SavingsPlanItemGet.json
        SavingsPlanItemWithExpandedRenewPropertiesGet:
          $ref: ./examples/SavingsPlanItemExpandedGet.json
      parameters:
      - $ref: '#/components/parameters/SavingsPlanOrderIdParameter'
      - $ref: '#/components/parameters/SavingsPlanIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/ExpandParameter'
      responses:
        '200':
          description: The request is completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavingsPlanModel'
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Get Providers Microsoft Billingbenefits Savingsplanorders…
    patch:
      description: Update savings plan.
      operationId: microsoftAzureSavingsplanUpdate
      tags:
      - Savings Plan
      x-ms-examples:
        SavingsPlanUpdate:
          $ref: ./examples/SavingsPlanUpdate.json
      parameters:
      - $ref: '#/components/parameters/SavingsPlanOrderIdParameter'
      - $ref: '#/components/parameters/SavingsPlanIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SavingsPlanUpdateRequestParameter'
      responses:
        '200':
          description: The request is completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavingsPlanModel'
        '202':
          description: The request is accepted.
          headers:
            Location:
              schema:
                type: string
        '404':
          description: Not found.
          x-ms-error-response: true
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Patch Providers Microsoft Billingbenefits Savingsplanorders…
  /providers/Microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/savingsPlans/{savingsPlanId}/validate:
    post:
      description: Validate savings plan patch.
      operationId: microsoftAzureSavingsplanValidateupdate
      tags:
      - Savings Plan
      x-ms-examples:
        SavingsPlanValidateUpdate:
          $ref: ./examples/SavingsPlanValidateUpdate.json
      parameters:
      - $ref: '#/components/parameters/SavingsPlanOrderIdParameter'
      - $ref: '#/components/parameters/SavingsPlanIdParameter'
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SavingsPlanUpdateValidateRequestParameter'
      responses:
        '200':
          description: The request is completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavingsPlanValidateResponse'
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Post Providers Microsoft Billingbenefits Savingsplanorders…
  /providers/Microsoft.BillingBenefits/validate:
    post:
      description: Validate savings plan purchase.
      operationId: microsoftAzureValidatepurchase
      tags:
      - Savings Plan
      x-ms-examples:
        SavingsPlanValidatePurchase:
          $ref: ./examples/SavingsPlanValidatePurchase.json
      parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SavingsPlanPurchaseValidateRequestParameter'
      responses:
        '200':
          description: The request is completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavingsPlanValidateResponse'
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse
      summary: Microsoft Azure Post Providers Microsoft Billingbenefits Validate
components:
  schemas:
    AppliedScopeType:
      type: string
      description: Type of the Applied Scope.
      enum:
      - Single
      - Shared
      - ManagementGroup
      x-ms-enum:
        name: AppliedScopeType
        modelAsString: true
    SavingsPlanModelListResult:
      type: object
      properties:
        value:
          description: The list of savings plans.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/SavingsPlanModel'
        nextLink:
          type: string
          readOnly: true
          description: Url to get the next page.
        additionalProperties:
          description: The roll out count summary of the savings plans
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/SavingsPlanSummary'
          x-ms-identifiers: []
    ExtendedStatusInfo:
      type: object
      readOnly: true
      properties:
        statusCode:
          type: string
          description: Status code providing additional information.
        message:
          type: string
          description: The message giving detailed information about the status code.
    Commitment:
      type: object
      description: Commitment towards the benefit.
      allOf:
      - $ref: '#/components/schemas/Price'
      properties:
        grain:
          type: string
          description: Commitment grain.
          enum:
          - Hourly
          x-ms-enum:
            name: CommitmentGrain
            modelAsString: true
    SavingsPlanValidResponseProperty:
      type: object
      description: Benefit scope response property
      properties:
        valid:
          type: boolean
          description: Indicates if the provided input was valid
        reasonCode:
          type: string
          description: Failure reason code if the provided input was invalid
        reason:
          type: string
          description: Failure reason if the provided input was invalid
    BillingScopeId:
      type: string
      description: Subscription that will be charged for purchasing the benefit
    SavingsPlanValidateResponse:
      type: object
      properties:
        benefits:
          type: array
          items:
            $ref: '#/components/schemas/SavingsPlanValidResponseProperty'
          x-ms-identifiers: []
        nextLink:
          type: string
          description: Url to get the next page.
    SavingsPlanPurchaseValidateRequest:
      type: object
      properties:
        benefits:
          type: array
          items:
            $ref: '#/components/schemas/SavingsPlanOrderAliasModel'
    ResourceGroupId:
      type: string
      description: Fully-qualified identifier of the resource group.
    SavingsPlanModelProperties:
      type: object
      description: Savings plan properties
      properties:
        displayName:
          $ref: '#/components/schemas/DisplayName'
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
        displayProvisioningState:
          description: The provisioning state of the savings plan for display, e.g. Succeeded
          type: string
          readOnly: true
        billingScopeId:
          $ref: '#/components/schemas/BillingScopeId'
        billingProfileId:
          $ref: '#/components/schemas/BillingProfileId'
        customerId:
          $ref: '#/components/schemas/CustomerId'
        billingAccountId:
          $ref: '#/components/schemas/BillingAccountId'
        term:
          $ref: '#/components/schemas/Term'
        billingPlan:
          $ref: '#/components/schemas/BillingPlan'
        appliedScopeType:
          $ref: '#/components/schemas/AppliedScopeType'
        userFriendlyAppliedScopeType:
          description: The applied scope type of the savings plan for display, e.g. Shared
          type: string
          readOnly: true
        appliedScopeProperties:
          $ref: '#/components/schemas/AppliedScopeProperties'
        commitment:
          $ref: '#/components/schemas/Commitment'
        effectiveDateTime:
          $ref: '#/components/schemas/EffectiveDateTime'
        expiryDateTime:
          $ref: '#/components/schemas/ExpiryDateTime'
        purchaseDateTime:
          $ref: '#/components/schemas/PurchaseDateTime'
        benefitStartTime:
          $ref: '#/components/schemas/BenefitStartTime'
        extendedStatusInfo:
          $ref: '#/components/schemas/ExtendedStatusInfo'
        renew:
          $ref: '#/components/schemas/Renew'
        utilization:
          $ref: '#/components/schemas/Utilization'
        renewSource:
          $ref: '#/components/schemas/RenewSource'
        renewDestination:
          $ref: '#/components/schemas/RenewDestination'
        renewProperties:
          $ref: '#/components/schemas/RenewProperties'
    UtilizationAggregates:
      description: The aggregate values of savings plan utilization
      type: object
      properties:
        grain:
          description: The grain of the aggregate
          readOnly: true
          type: number
        grainUnit:
          description: The grain unit of the aggregate
          readOnly: true
          type: string
        value:
          description: The aggregate value
          readOnly: true
          type: number
        valueUnit:
          description: The aggregate value unit
          readOnly: true
          type: string
    BenefitStartTime:
      type: string
      format: date-time
      description: This is the DateTime when the savings plan benefit started.
    BillingProfileId:
      type: string
      readOnly: true
      description: Fully-qualified identifier of the billing profile where the savings plan is applied. Present only for Field-led or Customer-led customers.
    ProvisioningState:
      type: string
      description: Provisioning state
      readOnly: true
      enum:
      - Creating
      - PendingBilling
      - ConfirmedBilling
      - Created
      - Succeeded
      - Cancelled
      - Expired
      - Failed
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    TenantId:
      type: string
      description: Tenant ID where the benefit is applied.
    EffectiveDateTime:
      type: string
      format: date-time
      description: DateTime of the savings plan starts providing benefit from.
      readOnly: true
    SavingsPlanOrderAliasProperties:
      type: object
      description: Savings plan properties
      properties:
        displayName:
          $ref: '#/components/schemas/DisplayName'
        savingsPlanOrderId:
          type: string
          description: Identifier of the savings plan created
          readOnly: true
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
        billingScopeId:
          $ref: '#/components/schemas/BillingScopeId'
        term:
          $ref: '#/components/schemas/Term'
        billingPlan:
          $ref: '#/components/schemas/BillingPlan'
        appliedScopeType:
          $ref: '#/components/schemas/AppliedScopeType'
        appliedScopeProperties:
          $ref: '#/components/schemas/AppliedScopeProperties'
        commitment:
          $ref: '#/components/schemas/Commitment'
        renew:
          $ref: '#/components/schemas/Renew'
    ExpiryDateTime:
      type: string
      description: Expiry date time
      readOnly: true
      format: date-time
    ManagementGroupId:
      type: string
      description: Fully-qualified identifier of the management group where the benefit must be applied.
    SavingsPlanModelList:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/SavingsPlanModel'
          x-ms-identifiers: []
        nextLink:
          type: string
          description: Url to get the next page.
    PurchaseDateTime:
      type: string
      description: Date time when the savings plan was purchased
      readOnly: true
      format: date-time
    Price:
      type: object
      properties:
        currencyCode:
          type: string
          description: The ISO 4217 3-letter currency code for the currency used by this purchase record.
        amount:
          type: number
          format: double
    AppliedScopeProperties:
      type: object
      description: Properties specific to applied scope type. Not required if not applicable.
      properties:
        tenantId:
          $ref: '#/components/schemas/TenantId'
        managementGroupId:
          $ref: '#/components/schemas/ManagementGroupId'
        subscriptionId:
          $ref: '#/components/schemas/SubscriptionId'
        resourceGroupId:
          $ref: '#/components/schemas/ResourceGroupId'
        displayName:
          type: string
          description: Display name
    Utilization:
      readOnly: true
      type: object
      description: Savings plan utilization
      properties:
        trend:
          description: The number of days trend for a savings plan
          readOnly: true
          type: string
        aggregates:
          description: The array of aggregates of a savings plan's utilization
          type: array
          items:
            $ref: '#/components/schemas/UtilizationAggregates'
          x-ms-identifiers: []
    Renew:
      type: boolean
      default: false
      description: Setting this to true will automatically purchase a new benefit on the expiration date time.
    BillingAccountId:
      type: string
      readOnly: true
      description: Fully-qualified identifier of the billing account where the savings plan is applied. Present only for Enterprise Agreement customers.
    SavingsPlanUpdateRequestProperties:
      type: object
      description: Savings plan patch request
      properties:
        displayName:
          $ref: '#/components/schemas/DisplayName'
        appliedScopeType:
          $ref: '#/components/schemas/AppliedScopeType'
        appliedScopeProperties:
          $ref: '#/components/schemas/AppliedScopeProperties'
        renew:
          $ref: '#/components/schemas/Renew'
        renewProperties:
          $ref: '#/components/schemas/RenewProperties'
    CustomerId:
      type: string
      readOnly: true
      description: Fully-qualified identifier of the customer where the savings plan is applied. Present only for Partner-led customers.
    SavingsPlanUpdateRequest:
      type: object
      description: Savings plan patch request
      properties:
        properties:
          $ref: '#/components/schemas/SavingsPlanUpdateRequestProperties'
    RenewSource:
      type: string
      description: SavingsPlan Id of the SavingsPlan from which this SavingsPlan is renewed.
    RenewProperties:
      type: object
      properties:
        purchaseProperties:
          $ref: '#/components/schemas/PurchaseRequest'
    SavingsPlanUpdateValidateRequest:
      type: object
      properties:
        benefits:
          type: array
          items:
            $ref: '#/components/schemas/SavingsPlanUpdateRequestProperties'
          x-ms-identifiers: []
    PurchaseRequestProperties:
      type: object
      properties:
        displayName:
          type: string
          description: Friendly name of the savings plan
        billingScopeId:
          $ref: '#/components/schemas/BillingScopeId'
        term:
          $ref: '#/components/schemas/Term'
        billingPlan:
          $ref: '#/components/schemas/BillingPlan'
        appliedScopeType:
          $ref: '#/components/schemas/AppliedScopeType'
        commitment:
          $ref: '#/components/schemas/Commitment'
        effectiveDateTime:
          $ref: '#/components/schemas/EffectiveDateTime'
        renew:
          $ref: '#/components/schemas/Renew'
        appliedScopeProperties:
          $ref: '#/components/schemas/AppliedScopeProperties'
    SavingsPlanSummaryCount:
      description: The roll up count summary of savings plans in each state
      type: object
      properties:
        succeededCount:
          description: The number of savings plans in Succeeded state
          readOnly: true
          type: number
        failedCount:
          description: The number of savings plans in Failed state
          readOnly: true
          type: number
        expiringCount:
          description: The number of savings plans in Expiring state
          readOnly: true
          type: number
        expiredCount:
          description: The number of savings plans in Expired state
          readOnly: true
          type: number
        pendingCount:
          description: The number of savings plans in Pending state
          readOnly: true
          type: number
        cancelledCount:
          description: The number of savings plans in Cancelled state
          readOnly: true
          type: number
        processingCount:
          description: The number of savings plans in Processing state
          readOnly: true
          type: number
        noBenefitCount:
          description: The number of savings plans in No Benefit state
          readOnly: true
          type: number
        warningCount:
          description: The number of savings plans in Warning state
          readOnly: true
          type: number
    Term:
      type: string
      description: Represent benefit term in ISO 8601 format.
      enum:
      - P1Y
      - P3Y
      - P5Y
      x-ms-enum:
        name: Term
        modelAsString: true
    DisplayName:
      type: string
      description: Display name
    SavingsPlanOrderAliasModel:
      type: object
      description: Savings plan order alias
      required:
      - sku
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/Resource
      properties:
        sku:
          description: Savings plan SKU
          $ref: '#/components/schemas/Sku'
        kind:
          type: string
          description: Resource provider kind
        properties:
          description: Savings plan order alias properties
          x-ms-client-flatten: true
          $ref: '#/components/schemas/SavingsPlanOrderAliasProperties'
      x-ms-azure-resource: true
    RenewDestination:
      type: string
      description: SavingsPlan Id of the SavingsPlan which is purchased because of renew.
    PurchaseRequest:
      type: object
      properties:
        sku:
          $ref: '#/components/schemas/Sku'
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/PurchaseRequestProperties'
    SavingsPlanSummary:
      type: object
      description: Savings plans list summary
      properties:
        name:
          description: This property has value 'summary'
          readOnly: true
          type: string
        value:
          $ref: '#/components/schemas/SavingsPlanSummaryCount'
    SavingsPlanModel:
      type: object
      description: Savings plan
      required:
      - sku
      allOf:
      - $ref: ../../../../../common-types/resource-management/v3/types.json#/definitions/Resource
      properties:
        sku:
          description: Savings plan SKU
          $ref: '#/components/schemas/Sku'
        properties:
          description: Savings plan properties
          x-ms-client-flatten: true
          $ref: '#/components/schemas/SavingsPlanModelProperties'
    BillingPlan:
      type: string
      description: Represents the billing plan in ISO 8601 format. Required only for monthly billing plans.
      enum:
      - P1M
      x-ms-enum:
        name: BillingPlan
        modelAsString: true
    SubscriptionId:
      type: string
      description: Fully-qualified identifier of the subscription.
    Sku:
      type: object
      description: The SKU to be applied for this resource
      properties:
        name:
          type: string
          description: Name of the SKU to be applied
  parameters:
    SavingsPlanIdParameter:
      name: savingsPlanId
      x-ms-parameter-location: method
      in: path
      required: true
      description: ID of the savings plan
      schema:
        type: string
    ExpandParameter:
      name: $expand
      description: May be used to expand the detail information of some properties.
      in: query
      x-ms-parameter-location: client
      required: false
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      x-ms-parameter-location: client
      required: true
      description: The api-version to be used by the service
      schema:
        type: string
    SavingsPlanOrderIdParameter:
      name: savingsPlanOrderId
      x-ms-parameter-location: method
      in: path
      required: true
      description: Order ID of the savings plan
      schema:
        type: string
    SavingsPlanUpdateRequestParameter:
      name: body
      in: body
      x-ms-parameter-location: method
      required: true
      description: Request body for patching a savings plan order alias
      schema:
        $ref: '#/components/schemas/SavingsPlanUpdateRequest'
    SavingsPlanPurchaseValidateRequestParameter:
      name: body
      in: body
      x-ms-parameter-location: method
      required: true
      description: Request body for validating the purchase of a savings plan
      schema:
        $ref: '#/components/schemas/SavingsPlanPurchaseValidateRequest'
    SavingsPlanUpdateValidateRequestParameter:
      name: body
      in: body
      x-ms-parameter-location: method
      required: true
      description: Request body for validating a savings plan patch request
      schema:
        $ref: '#/components/schemas/SavingsPlanUpdateValidateRequest'
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow
