swagger: '2.0'
info:
  version: '2.1'
  title: TrainingApi
host: southcentralus.api.cognitive.microsoft.com
basePath: /customvision/v2.1/Training
schemes:
  - https
paths:
  /domains:
    get:
      tags:
        - DomainsApi
      summary: Get A List Of The Available Domains
      operationId: microsoftAzureGetdomains
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Domain'
            x-nullable: true
      x-ms-examples:
        Successful GetDomains request:
          $ref: ./examples/GetDomains.json
      description: Needs a more full description created.
  /domains/{domainId}:
    get:
      tags:
        - DomainsApi
      summary: Get Information About A Specific Domain
      operationId: microsoftAzureGetdomain
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: domainId
          in: path
          description: The id of the domain to get information about
          required: true
          type: string
          format: uuid
          x-nullable: false
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Domain'
      x-ms-examples:
        Successful GetDomain request:
          $ref: ./examples/GetDomain.json
      description: Needs a more full description created.
  /projects/{projectId}/images/tagged:
    get:
      tags:
        - ImageApi
      summary: Get Tagged Images For A Given Project Iteration
      description: >-
        This API supports batching and range selection. By default it will only
        return first 50 images matching images.<br>Use the {take} and {skip}
        parameters to control how many images to return in a given batch.<br>The
        filtering is on an and/or relationship. For example, if the provided tag
        ids are for the "Dog" and<br>"Cat" tags, then only images tagged with
        Dog and/or Cat will be returned
      operationId: microsoftAzureGettaggedimages
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: projectId
          in: path
          description: The project id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: iterationId
          in: query
          description: The iteration id. Defaults to workspace
          required: false
          type: string
          format: uuid
          x-nullable: true
        - name: tagIds
          in: query
          description: >-
            A list of tags ids to filter the images. Defaults to all tagged
            images when null. Limited to 20
          required: false
          type: array
          items:
            type: string
            x-nullable: false
          collectionFormat: csv
          x-nullable: true
        - name: orderBy
          in: query
          description: The ordering. Defaults to newest
          required: false
          type: string
          enum:
            - Newest
            - Oldest
          x-nullable: false
        - name: take
          in: query
          description: Maximum number of images to return. Defaults to 50, limited to 256
          required: false
          type: integer
          format: int32
          default: 50
        - name: skip
          in: query
          description: >-
            Number of images to skip before beginning the image batch. Defaults
            to 0
          required: false
          type: integer
          format: int32
          default: 0
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Image'
            x-nullable: true
      x-ms-examples:
        Successful GetTaggedImages request:
          $ref: ./examples/GetTaggedImages.json
  /projects/{projectId}/images/untagged:
    get:
      tags:
        - ImageApi
      summary: Get Untagged Images For A Given Project Iteration
      description: >-
        This API supports batching and range selection. By default it will only
        return first 50 images matching images.<br>Use the {take} and {skip}
        parameters to control how many images to return in a given batch.
      operationId: microsoftAzureGetuntaggedimages
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: projectId
          in: path
          description: The project id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: iterationId
          in: query
          description: The iteration id. Defaults to workspace
          required: false
          type: string
          format: uuid
          x-nullable: true
        - name: orderBy
          in: query
          description: The ordering. Defaults to newest
          required: false
          type: string
          enum:
            - Newest
            - Oldest
          x-nullable: false
        - name: take
          in: query
          description: Maximum number of images to return. Defaults to 50, limited to 256
          required: false
          type: integer
          format: int32
          default: 50
        - name: skip
          in: query
          description: >-
            Number of images to skip before beginning the image batch. Defaults
            to 0
          required: false
          type: integer
          format: int32
          default: 0
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Image'
            x-nullable: true
      x-ms-examples:
        Successful GetUntaggedImages request:
          $ref: ./examples/GetUntaggedImages.json
  /projects/{projectId}/images/tagged/count:
    get:
      tags:
        - ImageApi
      summary: Gets The Number Of Images Tagged With The Provided {tagids}
      description: >-
        The filtering is on an and/or relationship. For example, if the provided
        tag ids are for the "Dog" and<br>"Cat" tags, then only images tagged
        with Dog and/or Cat will be returned
      operationId: microsoftAzureGettaggedimagecount
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: projectId
          in: path
          description: The project id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: iterationId
          in: query
          description: The iteration id. Defaults to workspace
          required: false
          type: string
          format: uuid
          x-nullable: true
        - name: tagIds
          in: query
          description: >-
            A list of tags ids to filter the images to count. Defaults to all
            tags when null.
          required: false
          type: array
          items:
            type: string
            x-nullable: false
          collectionFormat: csv
          x-nullable: true
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            format: int32
            type: integer
            x-nullable: false
      x-ms-examples:
        Successful GetTaggedImageCount request:
          $ref: ./examples/GetTaggedImageCount.json
  /projects/{projectId}/images/untagged/count:
    get:
      tags:
        - ImageApi
      summary: Gets The Number Of Untagged Images
      description: >-
        This API returns the images which have no tags for a given project and
        optionally an iteration. If no iteration is specified the<br>current
        workspace is used.
      operationId: microsoftAzureGetuntaggedimagecount
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: projectId
          in: path
          description: The project id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: iterationId
          in: query
          description: The iteration id. Defaults to workspace
          required: false
          type: string
          format: uuid
          x-nullable: true
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            format: int32
            type: integer
            x-nullable: false
      x-ms-examples:
        Successful GetUntaggedImageCount request:
          $ref: ./examples/GetUntaggedImageCount.json
  /projects/{projectId}/images/id:
    get:
      tags:
        - ImageApi
      summary: Get Images By Id For A Given Project Iteration
      description: >-
        This API will return a set of Images for the specified tags and
        optionally iteration. If no iteration is specified the<br>current
        workspace is used.
      operationId: microsoftAzureGetimagesbyids
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: projectId
          in: path
          description: The project id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: imageIds
          in: query
          description: The list of image ids to retrieve. Limited to 256
          required: false
          type: array
          items:
            type: string
            x-nullable: false
          collectionFormat: csv
          x-nullable: true
        - name: iterationId
          in: query
          description: The iteration id. Defaults to workspace
          required: false
          type: string
          format: uuid
          x-nullable: true
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Image'
            x-nullable: true
      x-ms-examples:
        Successful GetImagesByIds request:
          $ref: ./examples/GetImagesByIds.json
  /projects/{projectId}/images:
    post:
      tags:
        - ImageApi
      summary: Add The Provided Images To The Set Of Training Images
      description: >-
        This API accepts body content as multipart/form-data and
        application/octet-stream. When using multipart<br>multiple image files
        can be sent at once, with a maximum of 64 files
      operationId: microsoftAzureCreateimagesfromdata
      consumes:
        - multipart/form-data
        - application/octet-stream
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: projectId
          in: path
          description: The project id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: tagIds
          in: query
          description: The tags ids with which to tag each image. Limited to 20
          required: false
          type: array
          items:
            type: string
            x-nullable: false
          collectionFormat: csv
          x-nullable: true
        - name: imageData
          in: formData
          required: true
          type: file
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ImageCreateSummary'
      x-ms-examples:
        Successful CreateImagesFromData request:
          $ref: ./examples/CreateImagesFromData.json
    delete:
      tags:
        - ImageApi
      summary: Delete Images From The Set Of Training Images
      operationId: microsoftAzureDeleteimages
      consumes: []
      produces: []
      parameters:
        - name: projectId
          in: path
          description: The project id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: imageIds
          in: query
          description: Ids of the images to be deleted. Limited to 256 images per batch
          required: true
          type: array
          items:
            type: string
            x-nullable: false
          collectionFormat: csv
          x-nullable: true
        - $ref: '#/parameters/ApiKey'
      responses:
        '204':
          description: No Content
      x-ms-examples:
        Successful DeleteImages request:
          $ref: ./examples/DeleteImages.json
      description: Needs a more full description created.
  /projects/{projectId}/images/files:
    post:
      tags:
        - ImageApi
      summary: Add The Provided Batch Of Images To The Set Of Training Images
      description: >-
        This API accepts a batch of files, and optionally tags, to create
        images. There is a limit of 64 images and 20 tags.
      operationId: microsoftAzureCreateimagesfromfiles
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: projectId
          in: path
          description: The project id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: batch
          in: body
          description: >-
            The batch of image files to add. Limited to 64 images and 20 tags
            per batch
          required: true
          schema:
            $ref: '#/definitions/ImageFileCreateBatch'
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ImageCreateSummary'
      x-ms-examples:
        Successful CreateImagesFromFiles request:
          $ref: ./examples/CreateImagesFromFiles.json
  /projects/{projectId}/images/urls:
    post:
      tags:
        - ImageApi
      summary: Add The Provided Images Urls To The Set Of Training Images
      description: >-
        This API accepts a batch of urls, and optionally tags, to create images.
        There is a limit of 64 images and 20 tags.
      operationId: microsoftAzureCreateimagesfromurls
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: projectId
          in: path
          description: The project id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: batch
          in: body
          description: Image urls and tag ids. Limited to 64 images and 20 tags per batch
          required: true
          schema:
            $ref: '#/definitions/ImageUrlCreateBatch'
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ImageCreateSummary'
      x-ms-examples:
        Successful CreateImagesFromUrls request:
          $ref: ./examples/CreateImagesFromUrls.json
  /projects/{projectId}/images/predictions:
    post:
      tags:
        - ImageApi
      summary: Add The Specified Predicted Images To The Set Of Training Images
      description: >-
        This API creates a batch of images from predicted images specified.
        There is a limit of 64 images and 20 tags.
      operationId: microsoftAzureCreateimagesfrompredictions
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: projectId
          in: path
          description: The project id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: batch
          in: body
          description: Image and tag ids. Limited to 64 images and 20 tags per batch
          required: true
          schema:
            $ref: '#/definitions/ImageIdCreateBatch'
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ImageCreateSummary'
      x-ms-examples:
        Successful CreateImagesFromPredictions request:
          $ref: ./examples/CreateImagesFromPredictions.json
  /projects/{projectId}/images/tags:
    post:
      tags:
        - ImageApi
      summary: Associate A Set Of Images With A Set Of Tags
      operationId: microsoftAzureCreateimagetags
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: projectId
          in: path
          description: The project id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: batch
          in: body
          description: Batch of image tags. Limited to 128 tags per batch
          required: true
          schema:
            $ref: '#/definitions/ImageTagCreateBatch'
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ImageTagCreateSummary'
      x-ms-examples:
        Successful CreateImageTags request:
          $ref: ./examples/CreateImageTags.json
      description: Needs a more full description created.
    delete:
      tags:
        - ImageApi
      summary: Remove A Set Of Tags From A Set Of Images
      operationId: microsoftAzureDeleteimagetags
      consumes: []
      produces: []
      parameters:
        - name: projectId
          in: path
          description: The project id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: imageIds
          in: query
          description: Image ids. Limited to 64 images
          required: true
          type: array
          items:
            type: string
            x-nullable: false
          collectionFormat: csv
          x-nullable: true
        - name: tagIds
          in: query
          description: Tags to be deleted from the specified images. Limited to 20 tags
          required: true
          type: array
          items:
            type: string
            x-nullable: false
          collectionFormat: csv
          x-nullable: true
        - $ref: '#/parameters/ApiKey'
      responses:
        '204':
          description: No Content
      x-ms-examples:
        Successful DeleteImageTags request:
          $ref: ./examples/DeleteImageTags.json
      description: Needs a more full description created.
  /projects/{projectId}/images/regions:
    post:
      tags:
        - ImageApi
      summary: Create A Set Of Image Regions
      description: >-
        This API accepts a batch of image regions, and optionally tags, to
        update existing images with region information.<br>There is a limit of
        64 entries in the batch.
      operationId: microsoftAzureCreateimageregions
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: projectId
          in: path
          description: The project id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: batch
          in: body
          description: >-
            Batch of image regions which include a tag and bounding box. Limited
            to 64
          required: true
          schema:
            $ref: '#/definitions/ImageRegionCreateBatch'
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ImageRegionCreateSummary'
      x-ms-examples:
        Successful CreateImageRegions request:
          $ref: ./examples/CreateImageRegions.json
    delete:
      tags:
        - ImageApi
      summary: Delete A Set Of Image Regions
      operationId: microsoftAzureDeleteimageregions
      consumes: []
      produces: []
      parameters:
        - name: projectId
          in: path
          description: The project id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: regionIds
          in: query
          description: Regions to delete. Limited to 64
          required: true
          type: array
          items:
            type: string
            x-nullable: false
          collectionFormat: csv
          x-nullable: true
        - $ref: '#/parameters/ApiKey'
      responses:
        '204':
          description: No Content
      x-ms-examples:
        Successful DeleteImageRegions request:
          $ref: ./examples/DeleteImageRegions.json
      description: Needs a more full description created.
  /{projectId}/images/{imageId}/regionproposals:
    post:
      tags:
        - ImageRegionProposalApi
      summary: >-
        Get Region Proposals For An Image Returns Empty Array If No Proposals
        Are Found 
      description: >-
        This API will get region proposals for an image along with confidences
        for the region. It returns an empty array if no proposals are found.
      operationId: microsoftAzureGetimageregionproposals
      consumes: []
      produces:
        - application/json
        - text/json
      parameters:
        - name: projectId
          in: path
          description: The project id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: imageId
          in: path
          description: The image id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ImageRegionProposal'
      x-ms-examples:
        Successful GetImageRegionProposals request:
          $ref: ./examples/GetImageRegionProposals.json
  /projects/{projectId}/predictions:
    delete:
      tags:
        - PredictionsApi
      summary: Delete A Set Of Predicted Images And Their Associated Prediction Results
      operationId: microsoftAzureDeleteprediction
      consumes: []
      produces: []
      parameters:
        - name: projectId
          in: path
          description: The project id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: ids
          in: query
          description: The prediction ids. Limited to 64
          required: true
          type: array
          items:
            type: string
            x-nullable: false
          collectionFormat: csv
          x-nullable: true
        - $ref: '#/parameters/ApiKey'
      responses:
        '204':
          description: No Content
      x-ms-examples:
        Successful DeletePrediction request:
          $ref: ./examples/DeletePrediction.json
      description: Needs a more full description created.
  /projects/{projectId}/predictions/query:
    post:
      tags:
        - PredictionsApi
      summary: Get Images That Were Sent To Your Prediction Endpoint
      operationId: microsoftAzureQuerypredictions
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: projectId
          in: path
          description: The project id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: query
          in: body
          description: >-
            Parameters used to query the predictions. Limited to combining 2
            tags
          required: true
          schema:
            $ref: '#/definitions/PredictionQueryToken'
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PredictionQueryResult'
      x-ms-examples:
        Successful QueryPredictions request:
          $ref: ./examples/QueryPredictions.json
      description: Needs a more full description created.
  /projects/{projectId}/quicktest/url:
    post:
      tags:
        - PredictionsApi
      summary: Quick Test An Image Url
      operationId: microsoftAzureQuicktestimageurl
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: projectId
          in: path
          description: The project to evaluate against
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: imageUrl
          in: body
          description: >-
            An {Iris.Web.Api.Models.ImageUrl} that contains the url of the image
            to be evaluated
          required: true
          schema:
            $ref: '#/definitions/ImageUrl'
        - name: iterationId
          in: query
          description: "Optional. Specifies the id of a particular iteration to evaluate against.\r\n            The default iteration for the project will be used when not specified."
          required: false
          type: string
          format: uuid
          x-nullable: true
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ImagePrediction'
      x-ms-examples:
        Successful QuickTestImageUrl request:
          $ref: ./examples/QuickTestImageUrl.json
      description: Needs a more full description created.
  /projects/{projectId}/quicktest/image:
    post:
      tags:
        - PredictionsApi
      summary: Quick Test An Image
      operationId: microsoftAzureQuicktestimage
      consumes:
        - multipart/form-data
        - application/octet-stream
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: projectId
          in: path
          description: The project id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: iterationId
          in: query
          description: "Optional. Specifies the id of a particular iteration to evaluate against.\r\n            The default iteration for the project will be used when not specified."
          required: false
          type: string
          format: uuid
          x-nullable: true
        - name: imageData
          in: formData
          required: true
          type: file
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ImagePrediction'
      x-ms-examples:
        Successful QuickTestImage request:
          $ref: ./examples/QuickTestImage.json
      description: Needs a more full description created.
  /projects/{projectId}/train:
    post:
      tags:
        - ProjectApi
      summary: Queues Project For Training
      operationId: microsoftAzureTrainproject
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: projectId
          in: path
          description: The project id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Iteration'
      x-ms-examples:
        Successful TrainProject request:
          $ref: ./examples/TrainProject.json
      description: Needs a more full description created.
  /projects:
    get:
      tags:
        - ProjectApi
      summary: Get Your Projects
      operationId: microsoftAzureGetprojects
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Project'
            x-nullable: true
      x-ms-examples:
        Successful GetProjects request:
          $ref: ./examples/GetProjects.json
      description: Needs a more full description created.
    post:
      tags:
        - ProjectApi
      summary: Create A Project
      operationId: microsoftAzureCreateproject
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: name
          in: query
          description: Name of the project
          required: true
          type: string
          x-nullable: true
        - name: description
          in: query
          description: The description of the project
          required: false
          type: string
          x-nullable: true
        - name: domainId
          in: query
          description: The id of the domain to use for this project. Defaults to General
          required: false
          type: string
          format: uuid
          x-nullable: true
        - name: classificationType
          in: query
          description: The type of classifier to create for this project
          required: false
          type: string
          enum:
            - Multiclass
            - Multilabel
          x-nullable: false
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Project'
      x-ms-examples:
        Successful CreateProject request:
          $ref: ./examples/CreateProject.json
      description: Needs a more full description created.
  /projects/{projectId}:
    get:
      tags:
        - ProjectApi
      summary: Get A Specific Project
      operationId: microsoftAzureGetproject
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: projectId
          in: path
          description: The id of the project to get
          required: true
          type: string
          format: uuid
          x-nullable: false
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Project'
      x-ms-examples:
        Successful GetProject request:
          $ref: ./examples/GetProject.json
      description: Needs a more full description created.
    delete:
      tags:
        - ProjectApi
      summary: Delete A Specific Project
      operationId: microsoftAzureDeleteproject
      consumes: []
      produces: []
      parameters:
        - name: projectId
          in: path
          description: The project id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - $ref: '#/parameters/ApiKey'
      responses:
        '204':
          description: No Content
      x-ms-examples:
        Successful DeleteProject request:
          $ref: ./examples/DeleteProject.json
      description: Needs a more full description created.
    patch:
      tags:
        - ProjectApi
      summary: Update A Specific Project
      operationId: microsoftAzureUpdateproject
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: projectId
          in: path
          description: The id of the project to update
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: updatedProject
          in: body
          description: The updated project model
          required: true
          schema:
            $ref: '#/definitions/Project'
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Project'
      x-ms-examples:
        Successful UpdateProject request:
          $ref: ./examples/UpdateProject.json
      description: Needs a more full description created.
  /projects/{projectId}/iterations:
    get:
      tags:
        - ProjectApi
      summary: Get Iterations For The Project
      operationId: microsoftAzureGetiterations
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: projectId
          in: path
          description: The project id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Iteration'
            x-nullable: true
      x-ms-examples:
        Successful GetIterations request:
          $ref: ./examples/GetIterations.json
      description: Needs a more full description created.
  /projects/{projectId}/iterations/{iterationId}:
    get:
      tags:
        - ProjectApi
      summary: Get A Specific Iteration
      operationId: microsoftAzureGetiteration
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: projectId
          in: path
          description: The id of the project the iteration belongs to
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: iterationId
          in: path
          description: The id of the iteration to get
          required: true
          type: string
          format: uuid
          x-nullable: false
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Iteration'
      x-ms-examples:
        Successful GetIteration request:
          $ref: ./examples/GetIteration.json
      description: Needs a more full description created.
    delete:
      tags:
        - ProjectApi
      summary: Delete A Specific Iteration Of A Project
      operationId: microsoftAzureDeleteiteration
      consumes: []
      produces: []
      parameters:
        - name: projectId
          in: path
          description: The project id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: iterationId
          in: path
          description: The iteration id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - $ref: '#/parameters/ApiKey'
      responses:
        '204':
          description: No Content
      x-ms-examples:
        Successful DeleteIteration request:
          $ref: ./examples/DeleteIteration.json
      description: Needs a more full description created.
    patch:
      tags:
        - ProjectApi
      summary: Update A Specific Iteration
      operationId: microsoftAzureUpdateiteration
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: projectId
          in: path
          description: Project id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: iterationId
          in: path
          description: Iteration id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: updatedIteration
          in: body
          description: The updated iteration model
          required: true
          schema:
            $ref: '#/definitions/Iteration'
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Iteration'
      x-ms-examples:
        Successful UpdateIteration request:
          $ref: ./examples/UpdateIteration.json
      description: Needs a more full description created.
  /projects/{projectId}/iterations/{iterationId}/performance:
    get:
      tags:
        - ProjectApi
      summary: Get Detailed Performance Information About An Iteration
      operationId: microsoftAzureGetiterationperformance
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: projectId
          in: path
          description: The id of the project the iteration belongs to
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: iterationId
          in: path
          description: The id of the iteration to get
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: threshold
          in: query
          description: The threshold used to determine true predictions
          required: false
          type: number
          format: float
        - name: overlapThreshold
          in: query
          description: >-
            If applicable, the bounding box overlap threshold used to determine
            true predictions
          required: false
          type: number
          format: float
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/IterationPerformance'
      x-ms-examples:
        Successful GetIterationPerformance request:
          $ref: ./examples/GetIterationPerformance.json
      description: Needs a more full description created.
  /projects/{projectId}/iterations/{iterationId}/performance/images:
    get:
      tags:
        - ProjectApi
      summary: Get Image With Its Prediction For A Given Project Iteration
      description: >-
        This API supports batching and range selection. By default it will only
        return first 50 images matching images.<br>Use the {take} and {skip}
        parameters to control how many images to return in a given batch.<br>The
        filtering is on an and/or relationship. For example, if the provided tag
        ids are for the "Dog" and<br>"Cat" tags, then only images tagged with
        Dog and/or Cat will be returned
      operationId: microsoftAzureGetimageperformances
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: projectId
          in: path
          description: The project id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: iterationId
          in: path
          description: The iteration id. Defaults to workspace
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: tagIds
          in: query
          description: >-
            A list of tags ids to filter the images. Defaults to all tagged
            images when null. Limited to 20
          required: false
          type: array
          items:
            type: string
            x-nullable: false
          collectionFormat: csv
          x-nullable: true
        - name: orderBy
          in: query
          description: The ordering. Defaults to newest
          required: false
          type: string
          enum:
            - Newest
            - Oldest
          x-nullable: false
        - name: take
          in: query
          description: Maximum number of images to return. Defaults to 50, limited to 256
          required: false
          type: integer
          format: int32
          default: 50
        - name: skip
          in: query
          description: >-
            Number of images to skip before beginning the image batch. Defaults
            to 0
          required: false
          type: integer
          format: int32
          default: 0
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/ImagePerformance'
            x-nullable: true
      x-ms-examples:
        Successful GetImagePerformances request:
          $ref: ./examples/GetImagePerformances.json
  /projects/{projectId}/iterations/{iterationId}/performance/images/count:
    get:
      tags:
        - ProjectApi
      summary: "Gets The Number Of Images Tagged With The Provided {tagids} That Have Prediction Results From\r\ntraining For The Provided Iteration {iterationid}"
      description: >-
        The filtering is on an and/or relationship. For example, if the provided
        tag ids are for the "Dog" and<br>"Cat" tags, then only images tagged
        with Dog and/or Cat will be returned
      operationId: microsoftAzureGetimageperformancecount
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: projectId
          in: path
          description: The project id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: iterationId
          in: path
          description: The iteration id. Defaults to workspace
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: tagIds
          in: query
          description: >-
            A list of tags ids to filter the images to count. Defaults to all
            tags when null.
          required: false
          type: array
          items:
            type: string
            x-nullable: false
          collectionFormat: csv
          x-nullable: true
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            format: int32
            type: integer
            x-nullable: false
      x-ms-examples:
        Successful GetImagePerformanceCount request:
          $ref: ./examples/GetImagePerformanceCount.json
  /projects/{projectId}/iterations/{iterationId}/export:
    get:
      tags:
        - ProjectApi
      summary: Get The List Of Exports For A Specific Iteration
      operationId: microsoftAzureGetexports
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: projectId
          in: path
          description: The project id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: iterationId
          in: path
          description: The iteration id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Export'
            x-nullable: true
      x-ms-examples:
        Successful GetExports request:
          $ref: ./examples/GetExports.json
      description: Needs a more full description created.
    post:
      tags:
        - ProjectApi
      summary: Export A Trained Iteration
      operationId: microsoftAzureExportiteration
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: projectId
          in: path
          description: The project id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: iterationId
          in: path
          description: The iteration id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: platform
          in: query
          description: The target platform (coreml or tensorflow)
          required: true
          type: string
          enum:
            - CoreML
            - TensorFlow
            - DockerFile
            - ONNX
          x-nullable: true
        - name: flavor
          in: query
          description: The flavor of the target platform (Windows, Linux, ARM, or GPU)
          required: false
          type: string
          enum:
            - Linux
            - Windows
          x-nullable: true
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Export'
      x-ms-examples:
        Successful ExportIteration request:
          $ref: ./examples/ExportIteration.json
      description: Needs a more full description created.
  /projects/{projectId}/tags/{tagId}:
    get:
      tags:
        - TagsApi
      summary: Get Information About A Specific Tag
      operationId: microsoftAzureGettag
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: projectId
          in: path
          description: The project this tag belongs to
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: tagId
          in: path
          description: The tag id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: iterationId
          in: query
          description: >-
            The iteration to retrieve this tag from. Optional, defaults to
            current training set
          required: false
          type: string
          format: uuid
          x-nullable: true
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Tag'
      x-ms-examples:
        Successful GetTag request:
          $ref: ./examples/GetTag.json
      description: Needs a more full description created.
    delete:
      tags:
        - TagsApi
      summary: Delete A Tag From The Project
      operationId: microsoftAzureDeletetag
      consumes: []
      produces: []
      parameters:
        - name: projectId
          in: path
          description: The project id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: tagId
          in: path
          description: Id of the tag to be deleted
          required: true
          type: string
          format: uuid
          x-nullable: false
        - $ref: '#/parameters/ApiKey'
      responses:
        '204':
          description: No Content
      x-ms-examples:
        Successful DeleteTag request:
          $ref: ./examples/DeleteTag.json
      description: Needs a more full description created.
    patch:
      tags:
        - TagsApi
      summary: Update A Tag
      operationId: microsoftAzureUpdatetag
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: projectId
          in: path
          description: The project id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: tagId
          in: path
          description: The id of the target tag
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: updatedTag
          in: body
          description: The updated tag model
          required: true
          schema:
            $ref: '#/definitions/Tag'
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Tag'
      x-ms-examples:
        Successful UpdateTag request:
          $ref: ./examples/UpdateTag.json
      description: Needs a more full description created.
  /projects/{projectId}/tags:
    get:
      tags:
        - TagsApi
      summary: Get The Tags For A Given Project And Iteration
      operationId: microsoftAzureGettags
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: projectId
          in: path
          description: The project id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: iterationId
          in: query
          description: The iteration id. Defaults to workspace
          required: false
          type: string
          format: uuid
          x-nullable: true
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Tag'
            x-nullable: true
      x-ms-examples:
        Successful GetTags request:
          $ref: ./examples/GetTags.json
      description: Needs a more full description created.
    post:
      tags:
        - TagsApi
      summary: Create A Tag For The Project
      operationId: microsoftAzureCreatetag
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: projectId
          in: path
          description: The project id
          required: true
          type: string
          format: uuid
          x-nullable: false
        - name: name
          in: query
          description: The tag name
          required: true
          type: string
          x-nullable: true
        - name: description
          in: query
          description: Optional description for the tag
          required: false
          type: string
          x-nullable: true
        - $ref: '#/parameters/ApiKey'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Tag'
      x-ms-examples:
        Successful CreateTag request:
          $ref: ./examples/CreateTag.json
      description: Needs a more full description created.
definitions:
  Domain:
    type: object
    properties:
      id:
        format: uuid
        type: string
        readOnly: true
        x-nullable: false
      name:
        type: string
        readOnly: true
        x-nullable: true
      type:
        enum:
          - Classification
          - ObjectDetection
        type: string
        readOnly: true
        x-nullable: false
        x-ms-enum:
          name: DomainType
          modelAsString: true
      exportable:
        type: boolean
        readOnly: true
        x-nullable: false
      enabled:
        type: boolean
        readOnly: true
        x-nullable: false
    x-nullable: true
  Image:
    description: Image model to be sent as JSON
    type: object
    properties:
      id:
        format: uuid
        type: string
        readOnly: true
        x-nullable: false
      created:
        format: date-time
        type: string
        readOnly: true
        x-nullable: false
      width:
        format: int32
        type: integer
        readOnly: true
        x-nullable: false
      height:
        format: int32
        type: integer
        readOnly: true
        x-nullable: false
      imageUri:
        type: string
        readOnly: true
        x-nullable: true
      thumbnailUri:
        type: string
        readOnly: true
        x-nullable: true
      tags:
        type: array
        items:
          $ref: '#/definitions/ImageTag'
        readOnly: true
        x-nullable: true
      regions:
        type: array
        items:
          $ref: '#/definitions/ImageRegion'
        readOnly: true
        x-nullable: true
    x-nullable: true
  ImageTag:
    type: object
    properties:
      tagId:
        format: uuid
        type: string
        readOnly: true
        x-nullable: false
      tagName:
        type: string
        readOnly: true
        x-nullable: true
      created:
        format: date-time
        type: string
        readOnly: true
        x-nullable: false
    x-nullable: true
  ImageRegion:
    type: object
    properties:
      regionId:
        format: uuid
        type: string
        readOnly: true
        x-nullable: false
      tagName:
        type: string
        readOnly: true
        x-nullable: true
      created:
        format: date-time
        type: string
        readOnly: true
        x-nullable: false
      tagId:
        format: uuid
        type: string
        x-nullable: false
      left:
        format: float
        type: number
        x-nullable: false
      top:
        format: float
        type: number
        x-nullable: false
      width:
        format: float
        type: number
        x-nullable: false
      height:
        format: float
        type: number
        x-nullable: false
    x-nullable: true
  ImageCreateSummary:
    type: object
    properties:
      isBatchSuccessful:
        type: boolean
        readOnly: true
        x-nullable: false
      images:
        type: array
        items:
          $ref: '#/definitions/ImageCreateResult'
        readOnly: true
        x-nullable: true
    x-nullable: true
  ImageCreateResult:
    type: object
    properties:
      sourceUrl:
        type: string
        readOnly: true
        x-nullable: true
      status:
        enum:
          - OK
          - OKDuplicate
          - ErrorSource
          - ErrorImageFormat
          - ErrorImageSize
          - ErrorStorage
          - ErrorLimitExceed
          - ErrorTagLimitExceed
          - ErrorRegionLimitExceed
          - ErrorUnknown
        type: string
        readOnly: true
        x-nullable: false
        x-ms-enum:
          name: ImageUploadStatus
          modelAsString: true
      image:
        $ref: '#/definitions/Image'
        readOnly: true
    x-nullable: true
  ImageFileCreateBatch:
    type: object
    properties:
      images:
        type: array
        items:
          $ref: '#/definitions/ImageFileCreateEntry'
        x-nullable: true
      tagIds:
        type: array
        items:
          format: uuid
          type: string
          x-nullable: false
        x-nullable: true
    x-nullable: true
  ImageFileCreateEntry:
    type: object
    properties:
      name:
        type: string
        x-nullable: true
      contents:
        format: byte
        type: string
        x-nullable: true
      tagIds:
        type: array
        items:
          format: uuid
          type: string
          x-nullable: false
        x-nullable: true
      regions:
        type: array
        items:
          $ref: '#/definitions/Region'
        x-nullable: true
    x-nullable: true
  Region:
    type: object
    properties:
      tagId:
        format: uuid
        type: string
        x-nullable: false
      left:
        format: float
        type: number
        x-nullable: false
      top:
        format: float
        type: number
        x-nullable: false
      width:
        format: float
        type: number
        x-nullable: false
      height:
        format: float
        type: number
        x-nullable: false
    x-nullable: true
  ImageUrlCreateBatch:
    type: object
    properties:
      images:
        type: array
        items:
          $ref: '#/definitions/ImageUrlCreateEntry'
        x-nullable: true
      tagIds:
        type: array
        items:
          format: uuid
          type: string
          x-nullable: false
        x-nullable: true
    x-nullable: true
  ImageUrlCreateEntry:
    type: object
    properties:
      url:
        type: string
        x-nullable: true
      tagIds:
        type: array
        items:
          format: uuid
          type: string
          x-nullable: false
        x-nullable: true
      regions:
        type: array
        items:
          $ref: '#/definitions/Region'
        x-nullable: true
    x-nullable: true
  ImageIdCreateBatch:
    type: object
    properties:
      images:
        type: array
        items:
          $ref: '#/definitions/ImageIdCreateEntry'
        x-nullable: true
      tagIds:
        type: array
        items:
          format: uuid
          type: string
          x-nullable: false
        x-nullable: true
    x-nullable: true
  ImageIdCreateEntry:
    type: object
    properties:
      id:
        format: uuid
        type: string
        x-nullable: false
      tagIds:
        type: array
        items:
          format: uuid
          type: string
          x-nullable: false
        x-nullable: true
      regions:
        type: array
        items:
          $ref: '#/definitions/Region'
        x-nullable: true
    x-nullable: true
  ImageTagCreateBatch:
    type: object
    properties:
      tags:
        type: array
        items:
          $ref: '#/definitions/ImageTagCreateEntry'
        x-nullable: true
    x-nullable: true
  ImageTagCreateEntry:
    type: object
    properties:
      imageId:
        format: uuid
        type: string
        x-nullable: false
      tagId:
        format: uuid
        type: string
        x-nullable: false
    x-nullable: true
  ImageTagCreateSummary:
    type: object
    properties:
      created:
        type: array
        items:
          $ref: '#/definitions/ImageTagCreateEntry'
        x-nullable: true
      duplicated:
        type: array
        items:
          $ref: '#/definitions/ImageTagCreateEntry'
        x-nullable: true
      exceeded:
        type: array
        items:
          $ref: '#/definitions/ImageTagCreateEntry'
        x-nullable: true
    x-nullable: true
  ImageRegionCreateBatch:
    description: Batch of image region information to create.
    type: object
    properties:
      regions:
        type: array
        items:
          $ref: '#/definitions/ImageRegionCreateEntry'
        x-nullable: true
    x-nullable: true
  ImageRegionCreateEntry:
    type: object
    properties:
      imageId:
        format: uuid
        type: string
        x-nullable: false
      tagId:
        format: uuid
        type: string
        x-nullable: false
      left:
        format: float
        type: number
        x-nullable: false
      top:
        format: float
        type: number
        x-nullable: false
      width:
        format: float
        type: number
        x-nullable: false
      height:
        format: float
        type: number
        x-nullable: false
    x-nullable: true
  ImageRegionCreateSummary:
    type: object
    properties:
      created:
        type: array
        items:
          $ref: '#/definitions/ImageRegionCreateResult'
        x-nullable: true
      duplicated:
        type: array
        items:
          $ref: '#/definitions/ImageRegionCreateEntry'
        x-nullable: true
      exceeded:
        type: array
        items:
          $ref: '#/definitions/ImageRegionCreateEntry'
        x-nullable: true
    x-nullable: true
  ImageRegionCreateResult:
    type: object
    properties:
      imageId:
        format: uuid
        type: string
        readOnly: true
        x-nullable: false
      regionId:
        format: uuid
        type: string
        readOnly: true
        x-nullable: false
      tagName:
        type: string
        readOnly: true
        x-nullable: true
      created:
        format: date-time
        type: string
        readOnly: true
        x-nullable: false
      tagId:
        format: uuid
        type: string
        x-nullable: false
      left:
        format: float
        type: number
        x-nullable: false
      top:
        format: float
        type: number
        x-nullable: false
      width:
        format: float
        type: number
        x-nullable: false
      height:
        format: float
        type: number
        x-nullable: false
    x-nullable: true
  ImageRegionProposal:
    type: object
    properties:
      projectId:
        format: uuid
        type: string
        readOnly: true
        x-nullable: false
      imageId:
        format: uuid
        type: string
        readOnly: true
        x-nullable: false
      proposals:
        type: array
        items:
          $ref: '#/definitions/RegionProposal'
        readOnly: true
        x-nullable: true
    x-nullable: true
  RegionProposal:
    type: object
    properties:
      confidence:
        format: float
        type: number
        readOnly: true
        x-nullable: false
      boundingBox:
        $ref: '#/definitions/BoundingBox'
        readOnly: true
    x-nullable: true
  BoundingBox:
    type: object
    properties:
      left:
        format: float
        type: number
        x-nullable: false
      top:
        format: float
        type: number
        x-nullable: false
      width:
        format: float
        type: number
        x-nullable: false
      height:
        format: float
        type: number
        x-nullable: false
    x-nullable: true
  PredictionQueryToken:
    type: object
    properties:
      session:
        type: string
        x-nullable: true
      continuation:
        type: string
        x-nullable: true
      maxCount:
        format: int32
        type: integer
        x-nullable: false
      orderBy:
        enum:
          - Newest
          - Oldest
          - Suggested
        type: string
        x-nullable: false
        x-ms-enum:
          name: OrderBy
          modelAsString: true
      tags:
        type: array
        items:
          $ref: '#/definitions/PredictionQueryTag'
        x-nullable: true
      iterationId:
        format: uuid
        type: string
        x-nullable: true
      startTime:
        format: date-time
        type: string
        x-nullable: true
      endTime:
        format: date-time
        type: string
        x-nullable: true
      application:
        type: string
        x-nullable: true
    x-nullable: true
  PredictionQueryTag:
    type: object
    properties:
      id:
        format: uuid
        type: string
        readOnly: true
        x-nullable: false
      minThreshold:
        format: float
        type: number
        readOnly: true
        x-nullable: false
      maxThreshold:
        format: float
        type: number
        readOnly: true
        x-nullable: false
    x-nullable: true
  PredictionQueryResult:
    type: object
    properties:
      token:
        $ref: '#/definitions/PredictionQueryToken'
        readOnly: true
      results:
        type: array
        items:
          $ref: '#/definitions/StoredImagePrediction'
        readOnly: true
        x-nullable: true
    x-nullable: true
  StoredImagePrediction:
    description: result of an image classification request
    type: object
    properties:
      imageUri:
        type: string
        readOnly: true
        x-nullable: true
      thumbnailUri:
        type: string
        readOnly: true
        x-nullable: true
      domain:
        format: uuid
        type: string
        readOnly: true
        x-nullable: false
      id:
        format: uuid
        type: string
        readOnly: true
        x-nullable: false
      project:
        format: uuid
        type: string
        readOnly: true
        x-nullable: false
      iteration:
        format: uuid
        type: string
        readOnly: true
        x-nullable: false
      created:
        format: date-time
        type: string
        readOnly: true
        x-nullable: false
      predictions:
        type: array
        items:
          $ref: '#/definitions/Prediction'
        readOnly: true
        x-nullable: true
    x-nullable: true
  Prediction:
    type: object
    properties:
      probability:
        format: float
        type: number
        readOnly: true
        x-nullable: false
      tagId:
        format: uuid
        type: string
        readOnly: true
        x-nullable: false
      tagName:
        type: string
        readOnly: true
        x-nullable: true
      boundingBox:
        $ref: '#/definitions/BoundingBox'
        readOnly: true
    x-nullable: true
  ImageUrl:
    type: object
    properties:
      url:
        type: string
        x-nullable: true
    x-nullable: true
  ImagePrediction:
    type: object
    properties:
      id:
        format: uuid
        type: string
        readOnly: true
        x-nullable: false
      project:
        format: uuid
        type: string
        readOnly: true
        x-nullable: false
      iteration:
        format: uuid
        type: string
        readOnly: true
        x-nullable: false
      created:
        format: date-time
        type: string
        readOnly: true
        x-nullable: false
      predictions:
        type: array
        items:
          $ref: '#/definitions/Prediction'
        readOnly: true
        x-nullable: true
    x-nullable: true
  Iteration:
    description: Iteration model to be sent over JSON
    type: object
    properties:
      id:
        format: uuid
        description: Gets the id of the iteration
        type: string
        readOnly: true
        x-nullable: false
      name:
        description: Gets or sets the name of the iteration
        type: string
        x-nullable: true
      isDefault:
        description: >-
          Gets or sets a value indicating whether the iteration is the default
          iteration for the project
        type: boolean
        x-nullable: false
      status:
        description: Gets the current iteration status
        type: string
        readOnly: true
        x-nullable: true
      created:
        format: date-time
        description: Gets the time this iteration was completed
        type: string
        readOnly: true
        x-nullable: false
      lastModified:
        format: date-time
        description: Gets the time this iteration was last modified
        type: string
        readOnly: true
        x-nullable: false
      trainedAt:
        format: date-time
        description: Gets the time this iteration was last modified
        type: string
        readOnly: true
        x-nullable: true
      projectId:
        format: uuid
        description: Gets the project id of the iteration
        type: string
        readOnly: true
        x-nullable: false
      exportable:
        description: Whether the iteration can be exported to another format for download
        type: boolean
        readOnly: true
        x-nullable: false
      domainId:
        format: uuid
        description: Get or sets a guid of the domain the iteration has been trained on
        type: string
        readOnly: true
        x-nullable: true
      classificationType:
        description: Gets the classification type of the project
        enum:
          - Multiclass
          - Multilabel
        type: string
        readOnly: true
        x-nullable: true
        x-ms-enum:
          name: Classifier
          modelAsString: true
    x-nullable: true
  Project:
    description: Represents a project
    type: object
    properties:
      id:
        format: uuid
        description: Gets the project id
        type: string
        readOnly: true
        x-nullable: false
      name:
        description: Gets or sets the name of the project
        type: string
        x-nullable: true
      description:
        description: Gets or sets the description of the project
        type: string
        x-nullable: true
      settings:
        $ref: '#/definitions/ProjectSettings'
        description: Gets or sets the project settings
      created:
        format: date-time
        description: Gets the date this project was created
        type: string
        readOnly: true
        x-nullable: false
      lastModified:
        format: date-time
        description: Gets the date this project was last modified
        type: string
        readOnly: true
        x-nullable: false
      thumbnailUri:
        description: Gets the thumbnail url representing the project
        type: string
        readOnly: true
        x-nullable: true
    x-nullable: true
  ProjectSettings:
    description: Represents settings associated with a project
    type: object
    properties:
      domainId:
        format: uuid
        description: Gets or sets the id of the Domain to use with this project
        type: string
        x-nullable: false
      classificationType:
        description: Gets or sets the classification type of the project
        enum:
          - Multiclass
          - Multilabel
        type: string
        x-nullable: true
        x-ms-enum:
          name: Classifier
          modelAsString: true
    x-nullable: true
  IterationPerformance:
    description: Represents the detailed performance data for a trained iteration
    type: object
    properties:
      perTagPerformance:
        description: Gets the per-tag performance details for this iteration
        type: array
        items:
          $ref: '#/definitions/TagPerformance'
        readOnly: true
        x-nullable: true
      precision:
        format: float
        description: Gets the precision
        type: number
        readOnly: true
        x-nullable: false
      precisionStdDeviation:
        format: float
        description: Gets the standard deviation for the precision
        type: number
        readOnly: true
        x-nullable: false
      recall:
        format: float
        description: Gets the recall
        type: number
        readOnly: true
        x-nullable: false
      recallStdDeviation:
        format: float
        description: Gets the standard deviation for the recall
        type: number
        readOnly: true
        x-nullable: false
      averagePrecision:
        format: float
        description: Gets the average precision when applicable
        type: number
        readOnly: true
        x-nullable: true
    x-nullable: true
  TagPerformance:
    description: Represents performance data for a particular tag in a trained iteration
    type: object
    properties:
      id:
        format: uuid
        type: string
        readOnly: true
        x-nullable: false
      name:
        type: string
        readOnly: true
        x-nullable: true
      precision:
        format: float
        description: Gets the precision
        type: number
        readOnly: true
        x-nullable: false
      precisionStdDeviation:
        format: float
        description: Gets the standard deviation for the precision
        type: number
        readOnly: true
        x-nullable: false
      recall:
        format: float
        description: Gets the recall
        type: number
        readOnly: true
        x-nullable: false
      recallStdDeviation:
        format: float
        description: Gets the standard deviation for the recall
        type: number
        readOnly: true
        x-nullable: false
      averagePrecision:
        format: float
        description: Gets the average precision when applicable
        type: number
        readOnly: true
        x-nullable: true
    x-nullable: true
  ImagePerformance:
    description: Image performance model
    type: object
    properties:
      predictions:
        type: array
        items:
          $ref: '#/definitions/Prediction'
        readOnly: true
        x-nullable: true
      id:
        format: uuid
        type: string
        readOnly: true
        x-nullable: false
      created:
        format: date-time
        type: string
        readOnly: true
        x-nullable: false
      width:
        format: int32
        type: integer
        readOnly: true
        x-nullable: false
      height:
        format: int32
        type: integer
        readOnly: true
        x-nullable: false
      imageUri:
        type: string
        readOnly: true
        x-nullable: true
      thumbnailUri:
        type: string
        readOnly: true
        x-nullable: true
      tags:
        type: array
        items:
          $ref: '#/definitions/ImageTag'
        readOnly: true
        x-nullable: true
      regions:
        type: array
        items:
          $ref: '#/definitions/ImageRegion'
        readOnly: true
        x-nullable: true
    x-nullable: true
  Export:
    type: object
    properties:
      platform:
        enum:
          - CoreML
          - TensorFlow
          - DockerFile
          - ONNX
        type: string
        readOnly: true
        x-nullable: false
        x-ms-enum:
          name: ExportPlatform
          modelAsString: true
      status:
        enum:
          - Exporting
          - Failed
          - Done
        type: string
        readOnly: true
        x-nullable: false
        x-ms-enum:
          name: ExportStatusModel
          modelAsString: true
      downloadUri:
        type: string
        readOnly: true
        x-nullable: true
      flavor:
        enum:
          - Linux
          - Windows
        type: string
        readOnly: true
        x-nullable: true
        x-ms-enum:
          name: ExportFlavor
          modelAsString: true
      newerVersionAvailable:
        type: boolean
        readOnly: true
        x-nullable: false
    x-nullable: true
  Tag:
    description: Represents a Tag
    type: object
    properties:
      id:
        format: uuid
        description: Gets the Tag ID
        type: string
        readOnly: true
        x-nullable: false
      name:
        description: Gets or sets the name of the tag
        type: string
        x-nullable: true
      description:
        description: Gets or sets the description of the tag
        type: string
        x-nullable: true
      imageCount:
        format: int32
        description: Gets the number of images with this tag
        type: integer
        readOnly: true
        x-nullable: false
    x-nullable: true
parameters:
  ApiKey:
    name: Training-Key
    in: header
    required: true
    type: string
    x-ms-client-name: ApiKey
    x-ms-parameter-location: client
