swagger: '2.0'
info:
  title: Microsoft Azure ApiManagementClient
  description: >-
    Use these REST APIs for performing operations on Workspace entity and its
    associated entities within your Azure API Management deployment.
  version: 2023-05-01-preview
host: management.azure.com
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
security:
  - azure_auth:
      - user_impersonation
securityDefinitions:
  azure_auth:
    type: oauth2
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    flow: implicit
    description: Azure Active Directory OAuth2 Flow.
    scopes:
      user_impersonation: impersonate your user account
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces
  : get:
      tags:
        - Workspace
      operationId: microsoftAzureWorkspaceListbyservice
      description: Lists all workspaces of the API Management service instance.
      x-ms-examples:
        ApiManagementListWorkspaces:
          $ref: ./examples/ApiManagementListWorkspaces.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - name: $filter
          in: query
          required: false
          type: string
          description: >-
            |     Field     |     Usage     |     Supported operators     |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>|
            displayName | filter | ge, le, eq, ne, gt, lt | substringof,
            contains, startswith, endswith |</br></br>| description | filter |
            ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith
            |</br>
        - $ref: ./apimanagement.json#/parameters/TopQueryParameter
        - $ref: ./apimanagement.json#/parameters/SkipQueryParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Paged Result response of workspaces.
          schema:
            $ref: ./definitions.json#/definitions/WorkspaceCollection
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: ./definitions.json#/definitions/WorkspaceContract
      summary: >-
        Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}
  : head:
      tags:
        - Workspace
      operationId: microsoftAzureWorkspaceGetentitytag
      description: >-
        Gets the entity state (Etag) version of the workspace specified by its
        identifier.
      x-ms-examples:
        ApiManagementHeadWorkspace:
          $ref: ./examples/ApiManagementHeadWorkspace.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Gets the entity tag of the workspace
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: >-
        Microsoft Azure Head Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid
    get:
      tags:
        - Workspace
      operationId: microsoftAzureWorkspaceGet
      description: Gets the details of the workspace specified by its identifier.
      x-ms-examples:
        ApiManagementGetWorkspace:
          $ref: ./examples/ApiManagementGetWorkspace.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The response body contains the specified workspace entity.
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              type: string
          schema:
            $ref: ./definitions.json#/definitions/WorkspaceContract
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: >-
        Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid
    put:
      tags:
        - Workspace
      operationId: microsoftAzureWorkspaceCreateorupdate
      description: Creates a new workspace or updates an existing one.
      x-ms-examples:
        ApiManagementCreateWorkspace:
          $ref: ./examples/ApiManagementCreateWorkspace.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - name: parameters
          in: body
          required: true
          schema:
            $ref: ./definitions.json#/definitions/WorkspaceContract
          description: Create parameters.
        - $ref: ./apimanagement.json#/parameters/IfMatchOptionalParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Workspace successfully updated
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              type: string
          schema:
            $ref: ./definitions.json#/definitions/WorkspaceContract
        '201':
          description: Workspace was successfully created.
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              type: string
          schema:
            $ref: ./definitions.json#/definitions/WorkspaceContract
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: >-
        Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid
    patch:
      tags:
        - Workspace
      operationId: microsoftAzureWorkspaceUpdate
      description: Updates the details of the workspace specified by its identifier.
      x-ms-examples:
        ApiManagementUpdateWorkspace:
          $ref: ./examples/ApiManagementUpdateWorkspace.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - name: parameters
          in: body
          required: true
          schema:
            $ref: ./definitions.json#/definitions/WorkspaceContract
          description: Workspace Update parameters.
        - $ref: ./apimanagement.json#/parameters/IfMatchRequiredParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Workspace successfully updated
          schema:
            $ref: ./definitions.json#/definitions/WorkspaceContract
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: >-
        Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid
    delete:
      tags:
        - Workspace
      operationId: microsoftAzureWorkspaceDelete
      description: Deletes the specified workspace.
      x-ms-examples:
        ApiManagementDeleteWorkspace:
          $ref: ./examples/ApiManagementDeleteWorkspace.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/IfMatchRequiredParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The workspace was successfully deleted.
        '204':
          description: The workspace was successfully deleted.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: >-
        Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/policies
  : get:
      tags:
        - WorkspacePolicy
      operationId: microsoftAzureWorkspacepolicyListbyapi
      description: Get the policy configuration at the workspace level.
      x-ms-examples:
        ApiManagementListWorkspacePolicies:
          $ref: ./examples/ApiManagementListWorkspacePolicies.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Workspace Policy Collection.
          schema:
            $ref: ./definitions.json#/definitions/PolicyCollection
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      summary: >-
        Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Policies
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/policies/{policyId}
  : head:
      tags:
        - WorkspacePolicy
      operationId: microsoftAzureWorkspacepolicyGetentitytag
      description: >-
        Gets the entity state (Etag) version of the workspace policy specified
        by its identifier.
      x-ms-examples:
        ApiManagementHeadWorkspacePolicy:
          $ref: ./examples/ApiManagementHeadWorkspacePolicy.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/PolicyIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: >-
            Specified workspace Policy entity exists and current entity state
            version is present in the ETag header.
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: >-
        Microsoft Azure Head Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Policies Policyid
    get:
      tags:
        - WorkspacePolicy
      operationId: microsoftAzureWorkspacepolicyGet
      description: Get the policy configuration at the API level.
      x-ms-examples:
        ApiManagementGetWorkspacePolicy:
          $ref: ./examples/ApiManagementGetWorkspacePolicy.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/PolicyIdParameter
        - $ref: ./apimanagement.json#/parameters/PolicyExportFormat
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Workspace Policy information.
          schema:
            $ref: ./definitions.json#/definitions/PolicyContract
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: >-
        Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Policies Policyid
    put:
      tags:
        - WorkspacePolicy
      operationId: microsoftAzureWorkspacepolicyCreateorupdate
      description: Creates or updates policy configuration for the workspace.
      x-ms-examples:
        ApiManagementCreateWorkspacePolicy:
          $ref: ./examples/ApiManagementCreateWorkspacePolicy.json
        ApiManagementCreateWorkspacePolicyNonXmlEncoded:
          $ref: ./examples/ApiManagementCreateWorkspacePolicyNonXmlEncoded.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/PolicyIdParameter
        - name: parameters
          in: body
          required: true
          schema:
            $ref: ./definitions.json#/definitions/PolicyContract
          description: The policy contents to apply.
        - $ref: ./apimanagement.json#/parameters/IfMatchOptionalParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: >-
            Workspace policy configuration of the tenant was successfully
            updated.
          schema:
            $ref: ./definitions.json#/definitions/PolicyContract
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              type: string
        '201':
          description: Workspace policy configuration was successfully created.
          schema:
            $ref: ./definitions.json#/definitions/PolicyContract
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: >-
        Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Policies Policyid
    delete:
      tags:
        - WorkspacePolicy
      operationId: microsoftAzureWorkspacepolicyDelete
      description: Deletes the policy configuration at the workspace.
      x-ms-examples:
        ApiManagementDeleteWorkspacePolicy:
          $ref: ./examples/ApiManagementDeleteWorkspacePolicy.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/PolicyIdParameter
        - $ref: ./apimanagement.json#/parameters/IfMatchRequiredParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: >-
            Successfully deleted the policy configuration at the workspace
            level.
        '204':
          description: >-
            Successfully deleted the policy configuration at the workspace
            level.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: >-
        Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Policies Policyid
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/namedValues
  : get:
      tags:
        - NamedValue
      operationId: microsoftAzureWorkspacenamedvalueListbyservice
      description: >-
        Lists a collection of named values defined within a workspace in a
        service instance.
      externalDocs:
        url: >-
          https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-properties
      x-ms-examples:
        ApiManagementListWorkspaceNamedValues:
          $ref: ./examples/ApiManagementListWorkspaceNamedValues.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - name: $filter
          in: query
          required: false
          type: string
          description: >-
            |     Field     |     Usage     |     Supported operators     |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>|
            tags | filter | ge, le, eq, ne, gt, lt | substringof, contains,
            startswith, endswith, any, all |</br>| displayName | filter | ge,
            le, eq, ne, gt, lt | substringof, contains, startswith, endswith
            |</br>
        - $ref: ./apimanagement.json#/parameters/TopQueryParameter
        - $ref: ./apimanagement.json#/parameters/SkipQueryParameter
        - name: isKeyVaultRefreshFailed
          in: query
          required: false
          type: string
          enum:
            - 'true'
            - 'false'
          x-ms-enum:
            name: KeyVaultRefreshState
            modelAsString: true
            values:
              - value: 'true'
                description: Entities for which KeyVault refresh failed.
              - value: 'false'
                description: Entities for which KeyVault refresh succeeded
          description: >-
            Query parameter to fetch named value entities based on refresh
            status.
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: >-
            A Collection of the named value entities for the specified workspace
            in an API Management service instance.
          schema:
            $ref: ./definitions.json#/definitions/NamedValueCollection
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: ./definitions.json#/definitions/NamedValueContract
      summary: >-
        Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Namedvalues
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/namedValues/{namedValueId}
  : head:
      tags:
        - NamedValue
      operationId: microsoftAzureWorkspacenamedvalueGetentitytag
      description: >-
        Gets the entity state (Etag) version of the named value specified by its
        identifier.
      x-ms-examples:
        ApiManagementHeadWorkspaceNamedValue:
          $ref: ./examples/ApiManagementHeadWorkspaceNamedValue.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/NamedValueIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: >-
            Specified named value entity exists and current entity state version
            is present in the ETag header.
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: >-
        Microsoft Azure Head Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Namedvalues Namedvalueid
    get:
      tags:
        - NamedValue
      operationId: microsoftAzureWorkspacenamedvalueGet
      description: Gets the details of the named value specified by its identifier.
      x-ms-examples:
        ApiManagementGetWorkspaceNamedValue:
          $ref: ./examples/ApiManagementGetWorkspaceNamedValue.json
        ApiManagementGetWorkspaceNamedValueWithKeyVault:
          $ref: ./examples/ApiManagementGetWorkspaceNamedValueWithKeyVault.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/NamedValueIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: >-
            The response body contains the specified named value entity. No
            secrets included
          schema:
            $ref: ./definitions.json#/definitions/NamedValueContract
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: >-
        Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Namedvalues Namedvalueid
    put:
      tags:
        - NamedValue
      operationId: microsoftAzureWorkspacenamedvalueCreateorupdate
      description: Creates or updates named value.
      x-ms-examples:
        ApiManagementCreateWorkspaceNamedValue:
          $ref: ./examples/ApiManagementCreateWorkspaceNamedValue.json
        ApiManagementCreateWorkspaceNamedValueWithKeyVault:
          $ref: ./examples/ApiManagementCreateWorkspaceNamedValueWithKeyVault.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/NamedValueIdParameter
        - name: parameters
          in: body
          required: true
          schema:
            $ref: ./definitions.json#/definitions/NamedValueCreateContract
          description: Create parameters.
        - $ref: ./apimanagement.json#/parameters/IfMatchOptionalParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Named value was successfully updated.
          schema:
            $ref: ./definitions.json#/definitions/NamedValueContract
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              type: string
            location:
              description: >-
                Location header contains the URL where the status of the long
                running operation can be checked
              type: string
            Azure-AsyncOperation:
              description: >-
                Azure-AsyncOperation header contains the URL where the status of
                the long running operation can be checked
              type: string
        '201':
          description: Named value was successfully created.
          schema:
            $ref: ./definitions.json#/definitions/NamedValueContract
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              type: string
            location:
              description: >-
                Location header contains the URL where the status of the long
                running operation can be checked
              type: string
            Azure-AsyncOperation:
              description: >-
                Azure-AsyncOperation header contains the URL where the status of
                the long running operation can be checked
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: >-
        Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Namedvalues Namedvalueid
    patch:
      tags:
        - NamedValue
      operationId: microsoftAzureWorkspacenamedvalueUpdate
      description: Updates the specific named value.
      x-ms-examples:
        ApiManagementUpdateWorkspaceNamedValue:
          $ref: ./examples/ApiManagementUpdateWorkspaceNamedValue.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/NamedValueIdParameter
        - name: parameters
          in: body
          required: true
          schema:
            $ref: ./definitions.json#/definitions/NamedValueUpdateParameters
          description: Update parameters.
        - $ref: ./apimanagement.json#/parameters/IfMatchRequiredParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Named value was successfully updated.
          schema:
            $ref: ./definitions.json#/definitions/NamedValueContract
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              type: string
        '202':
          description: Request to create or update named value was accepted.
          headers:
            location:
              description: >-
                Location header contains the URL where the status of the long
                running operation can be checked
              type: string
            Azure-AsyncOperation:
              description: >-
                Azure-AsyncOperation header contains the URL where the status of
                the long running operation can be checked
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: >-
        Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Namedvalues Namedvalueid
    delete:
      tags:
        - NamedValue
      operationId: microsoftAzureWorkspacenamedvalueDelete
      description: >-
        Deletes specific named value from the workspace in an API Management
        service instance.
      x-ms-examples:
        ApiManagementDeleteWorkspaceNamedValue:
          $ref: ./examples/ApiManagementDeleteWorkspaceNamedValue.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/NamedValueIdParameter
        - $ref: ./apimanagement.json#/parameters/IfMatchRequiredParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Named value was successfully deleted.
        '204':
          description: Named value was successfully deleted.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: >-
        Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Namedvalues Namedvalueid
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/namedValues/{namedValueId}/listValue
  : post:
      tags:
        - NamedValue
      operationId: microsoftAzureWorkspacenamedvalueListvalue
      description: Gets the secret of the named value specified by its identifier.
      x-ms-examples:
        ApiManagementWorkspaceNamedValueListValue:
          $ref: ./examples/ApiManagementWorkspaceNamedValueListValue.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/NamedValueIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The response body contains the specified named value secret.
          schema:
            $ref: ./definitions.json#/definitions/NamedValueSecretContract
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: >-
        Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Namedvalues Namedvalueid Listvalue
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/namedValues/{namedValueId}/refreshSecret
  : post:
      tags:
        - NamedValue
      operationId: microsoftAzureWorkspacenamedvalueRefreshsecret
      description: Refresh the secret of the named value specified by its identifier.
      x-ms-examples:
        ApiManagementRefreshWorkspaceNamedValue:
          $ref: ./examples/ApiManagementRefreshWorkspaceNamedValue.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/NamedValueIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Named value was successfully updated.
          schema:
            $ref: ./definitions.json#/definitions/NamedValueContract
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              type: string
        '202':
          description: Request to refresh secret was accepted.
          headers:
            location:
              description: >-
                Location header contains the URL where the status of the long
                running operation can be checked
              type: string
            Azure-AsyncOperation:
              description: >-
                Azure-AsyncOperation header contains the URL where the status of
                the long running operation can be checked
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: >-
        Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Namedvalues Namedvalueid Refreshsecret
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/schemas
  : get:
      tags:
        - Schema
      operationId: microsoftAzureWorkspaceglobalschemaListbyservice
      description: >-
        Lists a collection of schemas registered with workspace in a service
        instance.
      x-ms-examples:
        ApiManagementListWorkspaceSchemas:
          $ref: ./examples/ApiManagementListWorkspaceSchemas.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - name: $filter
          in: query
          required: false
          type: string
          description: >-
            |     Field     |     Usage     |     Supported operators     |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>|
            name | filter | ge, le, eq, ne, gt, lt | substringof, contains,
            startswith, endswith |</br>
        - $ref: ./apimanagement.json#/parameters/TopQueryParameter
        - $ref: ./apimanagement.json#/parameters/SkipQueryParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Lists a collection of Schema entities.
          schema:
            $ref: ./definitions.json#/definitions/GlobalSchemaCollection
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: ./definitions.json#/definitions/GlobalSchemaContract
      summary: >-
        Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Schemas
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/schemas/{schemaId}
  : head:
      tags:
        - Schema
      operationId: microsoftAzureWorkspaceglobalschemaGetentitytag
      description: >-
        Gets the entity state (Etag) version of the Schema specified by its
        identifier.
      x-ms-examples:
        ApiManagementHeadWorkspaceSchema:
          $ref: ./examples/ApiManagementHeadWorkspaceSchema.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/SchemaIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: >-
            Specified Schema entity exists and current entity state version is
            present in the ETag header.
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: >-
        Microsoft Azure Head Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Schemas Schemaid
    get:
      tags:
        - Schema
      operationId: microsoftAzureWorkspaceglobalschemaGet
      description: Gets the details of the Schema specified by its identifier.
      x-ms-examples:
        ApiManagementGetWorkspaceSchema:
          $ref: ./examples/ApiManagementGetWorkspaceSchema.json
      produces:
        - application/json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/SchemaIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The response body contains the specified Schema entity.
          schema:
            $ref: ./definitions.json#/definitions/GlobalSchemaContract
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: >-
        Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Schemas Schemaid
    put:
      tags:
        - Schema
      operationId: microsoftAzureWorkspaceglobalschemaCreateorupdate
      description: >-
        Creates new or updates existing specified Schema of the workspace in an
        API Management service instance.
      x-ms-examples:
        ApiManagementCreateWorkspaceSchema:
          $ref: ./examples/ApiManagementCreateWorkspaceSchema.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/SchemaIdParameter
        - name: parameters
          in: body
          required: true
          schema:
            $ref: ./definitions.json#/definitions/GlobalSchemaContract
          description: Create or update parameters.
        - $ref: ./apimanagement.json#/parameters/IfMatchOptionalParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The Schema details were successfully updated.
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              type: string
            location:
              description: >-
                Location header contains the URL where the status of the long
                running operation can be checked
              type: string
            Azure-AsyncOperation:
              description: >-
                Azure-AsyncOperation header contains the URL where the status of
                the long running operation can be checked
              type: string
          schema:
            $ref: ./definitions.json#/definitions/GlobalSchemaContract
        '201':
          description: The new Schema was successfully added.
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              type: string
            location:
              description: >-
                Location header contains the URL where the status of the long
                running operation can be checked
              type: string
            Azure-AsyncOperation:
              description: >-
                Azure-AsyncOperation header contains the URL where the status of
                the long running operation can be checked
              type: string
          schema:
            $ref: ./definitions.json#/definitions/GlobalSchemaContract
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: >-
        Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Schemas Schemaid
    delete:
      tags:
        - Schema
      operationId: microsoftAzureWorkspaceglobalschemaDelete
      description: Deletes specific Schema.
      x-ms-examples:
        ApiManagementDeleteWorkspaceSchema:
          $ref: ./examples/ApiManagementDeleteWorkspaceSchema.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/SchemaIdParameter
        - $ref: ./apimanagement.json#/parameters/IfMatchRequiredParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The Schema was successfully deleted.
        '204':
          description: The Schema was successfully deleted.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: >-
        Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Schemas Schemaid
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/notifications
  : get:
      tags:
        - Notification
      operationId: microsoftAzureWorkspacenotificationListbyservice
      description: Lists a collection of properties defined within a service instance.
      x-ms-examples:
        ApiManagementListWorkspaceNotifications:
          $ref: ./examples/ApiManagementListWorkspaceNotifications.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/TopQueryParameter
        - $ref: ./apimanagement.json#/parameters/SkipQueryParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: >-
            A Collection of the Notification for the specified workspace in a
            API Management service instance.
          schema:
            $ref: ./definitions.json#/definitions/NotificationCollection
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      summary: >-
        Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Notifications
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/notifications/{notificationName}
  : get:
      tags:
        - Notification
      operationId: microsoftAzureWorkspacenotificationGet
      description: Gets the details of the Notification specified by its identifier.
      x-ms-examples:
        ApiManagementGetWorkspaceNotification:
          $ref: ./examples/ApiManagementGetWorkspaceNotification.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/NotificationNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The response body contains the specified Notification.
          schema:
            $ref: ./definitions.json#/definitions/NotificationContract
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: >-
        Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Notifications Notificationname
    put:
      tags:
        - Notification
      operationId: microsoftAzureWorkspacenotificationCreateorupdate
      description: >-
        Create or Update API Management publisher notification for the
        workspace.
      x-ms-examples:
        ApiManagementCreateWorkspaceNotification:
          $ref: ./examples/ApiManagementCreateWorkspaceNotification.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/NotificationNameParameter
        - $ref: ./apimanagement.json#/parameters/IfMatchOptionalParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Notification was successfully updated.
          schema:
            $ref: ./definitions.json#/definitions/NotificationContract
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: >-
        Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Notifications Notificationname
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/notifications/{notificationName}/recipientUsers
  : get:
      tags:
        - NotificationRecipientUser
      operationId: microsoftAzureWorkspacenotificationrecipientuserListbynotification
      description: >-
        Gets the list of the Notification Recipient User subscribed to the
        notification.
      x-ms-examples:
        ApiManagementListWorkspaceNotificationRecipientUsers:
          $ref: ./examples/ApiManagementListWorkspaceNotificationRecipientUsers.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/NotificationNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: >-
            The response body contains the Recipient User collection for the
            notification.
          schema:
            $ref: ./definitions.json#/definitions/RecipientUserCollection
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: >-
        Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Notifications Notificationname Recipientusers
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/notifications/{notificationName}/recipientUsers/{userId}
  : head:
      tags:
        - NotificationRecipientUser
      operationId: microsoftAzureWorkspacenotificationrecipientuserCheckentityexists
      description: >-
        Determine if the Notification Recipient User is subscribed to the
        notification.
      x-ms-examples:
        ApiManagementHeadWorkspaceNotificationRecipientUser:
          $ref: ./examples/ApiManagementHeadWorkspaceNotificationRecipientUser.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/NotificationNameParameter
        - $ref: ./apimanagement.json#/parameters/UserIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '204':
          description: The User is subscribed to receive the notification.
        '404':
          description: Entity does not exists.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: >-
        Microsoft Azure Head Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Notifications Notificationname Recipientusers Userid
    put:
      tags:
        - NotificationRecipientUser
      operationId: microsoftAzureWorkspacenotificationrecipientuserCreateorupdate
      description: >-
        Adds the API Management User to the list of Recipients for the
        Notification.
      x-ms-examples:
        ApiManagementCreateWorkspaceNotificationRecipientUser:
          $ref: >-
            ./examples/ApiManagementCreateWorkspaceNotificationRecipientUser.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/NotificationNameParameter
        - $ref: ./apimanagement.json#/parameters/UserIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Recipient User is already part of the notification list.
          schema:
            $ref: ./definitions.json#/definitions/RecipientUserContract
        '201':
          description: Recipient User was successfully added to the notification list.
          schema:
            $ref: ./definitions.json#/definitions/RecipientUserContract
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: >-
        Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Notifications Notificationname Recipientusers Userid
    delete:
      tags:
        - NotificationRecipientUser
      operationId: microsoftAzureWorkspacenotificationrecipientuserDelete
      description: Removes the API Management user from the list of Notification.
      x-ms-examples:
        ApiManagementDeleteWorkspaceNotificationRecipientUser:
          $ref: >-
            ./examples/ApiManagementDeleteWorkspaceNotificationRecipientUser.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/NotificationNameParameter
        - $ref: ./apimanagement.json#/parameters/UserIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Recipient User was successfully removed from the notification list.
        '204':
          description: Recipient User was successfully removed from the notification list.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: >-
        Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Notifications Notificationname Recipientusers Userid
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/notifications/{notificationName}/recipientEmails
  : get:
      tags:
        - NotificationRecipientEmail
      operationId: microsoftAzureWorkspacenotificationrecipientemailListbynotification
      description: >-
        Gets the list of the Notification Recipient Emails subscribed to a
        notification.
      x-ms-examples:
        ApiManagementListWorkspaceNotificationRecipientEmails:
          $ref: >-
            ./examples/ApiManagementListWorkspaceNotificationRecipientEmails.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/NotificationNameParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: >-
            The response body contains the Recipient Email collection subscribed
            to the notification.
          schema:
            $ref: ./definitions.json#/definitions/RecipientEmailCollection
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: >-
        Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Notifications Notificationname Recipientemails
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/notifications/{notificationName}/recipientEmails/{email}
  : head:
      tags:
        - NotificationRecipientEmail
      operationId: microsoftAzureWorkspacenotificationrecipientemailCheckentityexists
      description: >-
        Determine if Notification Recipient Email subscribed to the
        notification.
      x-ms-examples:
        ApiManagementHeadWorkspaceNotificationRecipientEmail:
          $ref: ./examples/ApiManagementHeadWorkspaceNotificationRecipientEmail.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/NotificationNameParameter
        - $ref: ./apimanagement.json#/parameters/EmailParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '204':
          description: The Users is subscribed to receive the notification.
        '404':
          description: The Users is not subscribed to receive the notification.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: >-
        Microsoft Azure Head Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Notifications Notificationname Recipientemails Email
    put:
      tags:
        - NotificationRecipientEmail
      operationId: microsoftAzureWorkspacenotificationrecipientemailCreateorupdate
      description: Adds the Email address to the list of Recipients for the Notification.
      x-ms-examples:
        ApiManagementCreateWorkspaceNotificationRecipientEmail:
          $ref: >-
            ./examples/ApiManagementCreateWorkspaceNotificationRecipientEmail.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/NotificationNameParameter
        - $ref: ./apimanagement.json#/parameters/EmailParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Recipient Email is already part of the notification list.
          schema:
            $ref: ./definitions.json#/definitions/RecipientEmailContract
        '201':
          description: Recipient Email was successfully added to the notification list.
          schema:
            $ref: ./definitions.json#/definitions/RecipientEmailContract
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: >-
        Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Notifications Notificationname Recipientemails Email
    delete:
      tags:
        - NotificationRecipientEmail
      operationId: microsoftAzureWorkspacenotificationrecipientemailDelete
      description: Removes the email from the list of Notification.
      x-ms-examples:
        ApiManagementDeleteWorkspaceNotificationRecipientEmail:
          $ref: >-
            ./examples/ApiManagementDeleteWorkspaceNotificationRecipientEmail.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/NotificationNameParameter
        - $ref: ./apimanagement.json#/parameters/EmailParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Recipient Email was successfully removed to the notification list.
        '204':
          description: Recipient Email was successfully removed to the notification list.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: >-
        Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Notifications Notificationname Recipientemails Email
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/policyFragments
  : get:
      tags:
        - PolicyFragment
      operationId: microsoftAzureWorkspacepolicyfragmentListbyservice
      description: Gets all policy fragments defined within a workspace.
      x-ms-examples:
        ApiManagementListWorkspacePolicyFragments:
          $ref: ./examples/ApiManagementListWorkspacePolicyFragments.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
        - name: $filter
          in: query
          required: false
          type: string
          description: >-
            |     Field     |     Usage     |     Supported operators     |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>|
            name | filter, orderBy | ge, le, eq, ne, gt, lt | substringof,
            contains, startswith, endswith |</br>| description | filter | ge,
            le, eq, ne, gt, lt | substringof, contains, startswith, endswith
            |</br>| value | filter | ge, le, eq, ne, gt, lt | substringof,
            contains, startswith, endswith |</br>
        - name: $orderby
          in: query
          required: false
          type: string
          description: OData order by query option.
        - $ref: ./apimanagement.json#/parameters/TopQueryParameter
        - $ref: ./apimanagement.json#/parameters/SkipQueryParameter
      responses:
        '200':
          description: Successfully returned an array of policy fragments.
          schema:
            $ref: ./definitions.json#/definitions/PolicyFragmentCollection
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      summary: >-
        Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Policyfragments
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/policyFragments/{id}
  : head:
      tags:
        - PolicyFragment
      operationId: microsoftAzureWorkspacepolicyfragmentGetentitytag
      description: Gets the entity state (Etag) version of a policy fragment.
      x-ms-examples:
        ApiManagementHeadWorkspacePolicyFragment:
          $ref: ./examples/ApiManagementHeadWorkspacePolicyFragment.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/IdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: >-
            The specified policy fragment exists and the current entity state
            version is present in the ETag header.
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: >-
        Microsoft Azure Head Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Policyfragments Id
    get:
      tags:
        - PolicyFragment
      operationId: microsoftAzureWorkspacepolicyfragmentGet
      description: Gets a policy fragment.
      x-ms-examples:
        ApiManagementGetWorkspacePolicyFragment:
          $ref: ./examples/ApiManagementGetWorkspacePolicyFragment.json
        ApiManagementGetWorkspacePolicyFragmentFormat:
          $ref: ./examples/ApiManagementGetWorkspacePolicyFragmentFormat.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/IdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
        - $ref: ./apimanagement.json#/parameters/PolicyFragmentContentFormat
      responses:
        '200':
          description: Successfully returned a policy fragment.
          schema:
            $ref: ./definitions.json#/definitions/PolicyFragmentContract
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: >-
        Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Policyfragments Id
    put:
      tags:
        - PolicyFragment
      operationId: microsoftAzureWorkspacepolicyfragmentCreateorupdate
      description: Creates or updates a policy fragment.
      x-ms-examples:
        ApiManagementCreateWorkspacePolicyFragment:
          $ref: ./examples/ApiManagementCreateWorkspacePolicyFragment.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/IdParameter
        - name: parameters
          in: body
          required: true
          schema:
            $ref: ./definitions.json#/definitions/PolicyFragmentContract
          description: The policy fragment contents to apply.
        - $ref: ./apimanagement.json#/parameters/IfMatchOptionalParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The policy fragment was successfully updated.
          schema:
            $ref: ./definitions.json#/definitions/PolicyFragmentContract
          headers:
            ETag:
              description: Current entity state version
              type: string
            location:
              description: >-
                Location header contains the URL where the status of the long
                running operation can be checked
              type: string
            Azure-AsyncOperation:
              description: >-
                Azure-AsyncOperation header contains the URL where the status of
                the long running operation can be checked
              type: string
        '201':
          description: The policy fragment was successfully created.
          schema:
            $ref: ./definitions.json#/definitions/PolicyFragmentContract
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              type: string
            location:
              description: >-
                Location header contains the URL where the status of the long
                running operation can be checked
              type: string
            Azure-AsyncOperation:
              description: >-
                Azure-AsyncOperation header contains the URL where the status of
                the long running operation can be checked
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: >-
        Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Policyfragments Id
    delete:
      tags:
        - PolicyFragment
      operationId: microsoftAzureWorkspacepolicyfragmentDelete
      description: Deletes a policy fragment.
      x-ms-examples:
        ApiManagementDeleteWorkspacePolicyFragment:
          $ref: ./examples/ApiManagementDeleteWorkspacePolicyFragment.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/IdParameter
        - $ref: ./apimanagement.json#/parameters/IfMatchRequiredParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The policy fragment was successfully removed.
        '204':
          description: >-
            The policy fragment successfully removed by previous request or does
            not exist.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: >-
        Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Policyfragments Id
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/policyFragments/{id}/listReferences
  : post:
      tags:
        - PolicyFragment
      operationId: microsoftAzureWorkspacepolicyfragmentListreferences
      description: Lists policy resources that reference the policy fragment.
      x-ms-examples:
        ApiManagementListWorkspacePolicyFragmentReferences:
          $ref: ./examples/ApiManagementListWorkspacePolicyFragmentReferences.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/IdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
        - $ref: ./apimanagement.json#/parameters/TopQueryParameter
        - $ref: ./apimanagement.json#/parameters/SkipQueryParameter
      responses:
        '200':
          description: >-
            Successfully returned an array of references to policy resources
            that include the policy fragment in their definitions.
          schema:
            $ref: ./definitions.json#/definitions/ResourceCollection
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: >-
        Microsoft Azure Post Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Policyfragments Id Listreferences
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/groups
  : get:
      tags:
        - Group
      operationId: microsoftAzureWorkspacegroupListbyservice
      description: >-
        Lists a collection of groups defined within a workspace in a service
        instance.
      externalDocs:
        url: >-
          https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-create-groups
      x-ms-examples:
        ApiManagementListWorkspaceGroups:
          $ref: ./examples/ApiManagementListWorkspaceGroups.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - name: $filter
          in: query
          required: false
          type: string
          description: >-
            |     Field     |     Usage     |     Supported operators     |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>|
            name | filter | ge, le, eq, ne, gt, lt | substringof, contains,
            startswith, endswith |</br>| displayName | filter | ge, le, eq, ne,
            gt, lt | substringof, contains, startswith, endswith |</br>|
            description | filter | ge, le, eq, ne, gt, lt | substringof,
            contains, startswith, endswith |</br>| externalId | filter | eq
            |     |</br>
        - $ref: ./apimanagement.json#/parameters/TopQueryParameter
        - $ref: ./apimanagement.json#/parameters/SkipQueryParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Lists a collection of Group entities.
          schema:
            $ref: ./definitions.json#/definitions/GroupCollection
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: ./definitions.json#/definitions/GroupContract
      summary: >-
        Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Groups
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/groups/{groupId}
  : head:
      tags:
        - Group
      operationId: microsoftAzureWorkspacegroupGetentitytag
      description: >-
        Gets the entity state (Etag) version of the group specified by its
        identifier.
      x-ms-examples:
        ApiManagementHeadWorkspaceGroup:
          $ref: ./examples/ApiManagementHeadWorkspaceGroup.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/GroupIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: >-
            Specified group entity exists and current entity state version is
            present in the ETag header.
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: >-
        Microsoft Azure Head Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Groups Groupid
    get:
      tags:
        - Group
      operationId: microsoftAzureWorkspacegroupGet
      description: Gets the details of the group specified by its identifier.
      x-ms-examples:
        ApiManagementGetWorkspaceGroup:
          $ref: ./examples/ApiManagementGetWorkspaceGroup.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/GroupIdParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The response body contains the specified Group entity.
          schema:
            $ref: ./definitions.json#/definitions/GroupContract
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: >-
        Microsoft Azure Get Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Groups Groupid
    put:
      tags:
        - Group
      operationId: microsoftAzureWorkspacegroupCreateorupdate
      description: Creates or Updates a group.
      x-ms-examples:
        ApiManagementCreateWorkspaceGroup:
          $ref: ./examples/ApiManagementCreateWorkspaceGroup.json
        ApiManagementCreateWorkspaceGroupExternal:
          $ref: ./examples/ApiManagementCreateWorkspaceGroupExternal.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/GroupIdParameter
        - name: parameters
          in: body
          required: true
          schema:
            $ref: ./definitions.json#/definitions/GroupCreateParameters
          description: Create parameters.
        - $ref: ./apimanagement.json#/parameters/IfMatchOptionalParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Group already exists.
          schema:
            $ref: ./definitions.json#/definitions/GroupContract
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              type: string
        '201':
          description: Group was created successfully.
          schema:
            $ref: ./definitions.json#/definitions/GroupContract
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: >-
        Microsoft Azure Put Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Groups Groupid
    patch:
      tags:
        - Group
      operationId: microsoftAzureWorkspacegroupUpdate
      description: Updates the details of the group specified by its identifier.
      x-ms-examples:
        ApiManagementUpdateWorkspaceGroup:
          $ref: ./examples/ApiManagementUpdateWorkspaceGroup.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/GroupIdParameter
        - name: parameters
          in: body
          required: true
          schema:
            $ref: ./definitions.json#/definitions/GroupUpdateParameters
          description: Update parameters.
        - $ref: ./apimanagement.json#/parameters/IfMatchRequiredParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The group details were successfully updated.
          schema:
            $ref: ./definitions.json#/definitions/GroupContract
          headers:
            ETag:
              description: >-
                Current entity state version. Should be treated as opaque and
                used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: >-
        Microsoft Azure Patch Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Groups Groupid
    delete:
      tags:
        - Group
      operationId: microsoftAzureWorkspacegroupDelete
      description: >-
        Deletes specific group of the workspace in an API Management service
        instance.
      x-ms-examples:
        ApiManagementDeleteWorkspaceGroup:
          $ref: ./examples/ApiManagementDeleteWorkspaceGroup.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/GroupIdParameter
        - $ref: ./apimanagement.json#/parameters/IfMatchRequiredParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The group was successfully deleted.
        '204':
          description: The group was successfully deleted.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      summary: >-
        Microsoft Azure Delete Subscriptions Subscriptionid Resourcegroups Resourcegroupname Providers Microsoft Apimanagement Service Servicename Workspaces Workspaceid Groups Groupid
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/workspaces/{workspaceId}/groups/{groupId}/users
  : get:
      tags:
        - GroupUser
      operationId: microsoftAzureWorkspacegroupuserList
      description: Lists a collection of user entities associated with the group.
      x-ms-examples:
        ApiManagementListWorkspaceGroupUsers:
          $ref: ./examples/ApiManagementListWorkspaceGroupUsers.json
      parameters:
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
        - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
        - $ref: ./apimanagement.json#/parameters/WorkspaceIdParameter
        - $ref: ./apimanagement.json#/parameters/GroupIdParameter
        - name: $filter
          in: query
          required: false
          type: string
          description: >-
            |     Field     |     Usage     |     Supported operators     |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>|
            name | filter | ge, le, eq, ne, gt, lt | substringof, contains,
            startswith, endswith |</br>| firstName | filter | ge, le, eq, ne,
            gt, lt | substringof, contains, startswith, endswith |</br>|
            lastName | filter | ge, le, eq, ne, gt, lt | substringof, contains,
            startswith, endswith |</br>| email | filter | ge, le, eq, ne, gt, lt
            | substringof, contains, startswith, endswith |</br>|
            registrationDate | filter | ge, le, eq, ne, gt, lt |     |</br>|
            note | filter | ge, le, eq, ne, gt, lt | substringof, contains,
            startswith, endswith |</br>
        - $ref: ./apimanagement.json#/parameters/TopQueryParameter
        - $ref: ./apimanagement.json#/parameters/SkipQueryParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
        - $ref: >-
            ../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Lists a collection of user entities associated with the group.
          schema:
            $ref: ./definitions.json#/definitions/UserCollection
[...]
